[2018-11-27 18:00] #32406 closed

[2018-11-27 18:01] #32568 closed

[2018-11-27 18:16] justinj opened #32645 "distsql: EXPLAIN(distsql) does not show subqueries"
It would be helpful for debugging if `EXPLAIN (DISTSQL)` showed the plans for subqueries. As of today, it doesn't:

[code]
<img width="236" alt="image" src="https://user-images.githubusercontent.com/409075/49102361-9c607600-f246-11e8-85c1-f6afdbada068.png">

Jira issue: CRDB-4724

Epic CRDB-14510

[2018-11-27 18:32] tbg opened #32647 "cli: debug zip returns incomplete data"
This code here queries various table against a single node, but it should query them on all nodes.

For the gossip-based tables this is less of a problem than for the metrics, which are strictly per node. I'm looking at an issue [right now](https://github.com/cockroachdb/cockroach/issues/32392#issuecomment-442149000) where the debug zip metrics of all nodes would've been really helpful, but I only

[2018-11-27 18:32] knz commented on #26925
About solution 1:

- [knz] IIRC coltypes appear (or are synthesized) in the syntax only in 3 contexts
  - scalar operators, we have exactly N of them with N small. From the top of my head, `CAST`, `ANNOTATE_TYPE` and `IS OF TYPE` -- all these go through a single path of `TypeCheck`, where the naked INT could be eliminated (at that point)
  - CREATE and ALTER (ADD COLUMN / SET TYPE) -- all of which

[2018-11-27 18:35] RaduBerinde opened #32648 "opt: ARRAY(subquery with ORDER BY) returns incorrect results"
[code]

[2018-11-27 18:37] vilterp opened #32649 "ui: indentation off in list of loading errors"
Followup to #32464

Repro:
- Cause some kind of data loading failure

Expected:
- bullets appear within the red area

Actual:
![image](https://user-images.githubusercontent.com/7341/49103437-5d7fef80-f249-11e8-9bcf-4ea4427174c1.png)

[2018-11-27 18:43] mjibson commented on #32468
I think the bulkio team is in charge of triaging these.

[2018-11-27 18:46] RaduBerinde opened #32650 "sql: crash when distributing subquery"
Set up a 2+ node cluster. Then:

[code]

output of the last one should be:
[code]

Then running
[code]
crashes with:
[code]

This is the plan for the subquery (used the COCKROACH_DISTSQL_LOG_PLAN flag):
https://cockroachdb.github.io/distsqlplan/decode.html#eJyskbFqwzAQhvc-Rbm1KrFkd9HkNUtS0m7Fg2IdweD4xEmGluB3L7YKqdtEdSGj7u677_h1go4sbswRPeg3kCBAQSXAMdXoPfFYjkNr-w46E9B0rg9juRJQEyPoE4QmtAgaXs2-xR0ai7z

[2018-11-27 18:57] jordanlewis commented on #32650
Thanks for spotting this!

[2018-11-27 19:02] mjibson commented on #32625
Yes, I think we can easily support this.

[2018-11-27 19:08] BramGruneir commented on #32610
As suggested, I'm going to merge the two into one.  But this is a slightly different mechanism.

[2018-11-27 19:11] BramGruneir commented on #20041
Updated this based on #32610 and merging that issue into this.

[2018-11-27 19:12] #32610 closed

[2018-11-27 19:13] BramGruneir commented on #32610
To be clear, this is not yet fixed, just merged this issue with #20041.

[2018-11-27 19:36] #24159 closed

[2018-11-27 19:37] #32644 closed

[2018-11-27 19:42] tbg commented on #32392
Sorry for not taking a look earlier.

In `alerts`, I see

[code]

This typically indicates a serious problem (it's a range that is stuck, i.e. a command was proposed but didn't return in a timely manner).

[code]

We know one way to get in this situation to be having a backed-up Raft snapshot queue. Unfortunately, due to https://github.com/cockroachdb/cockroach/issues/32647, I'm only able to see t

[2018-11-27 20:08] nvanbenschoten commented on #32392
No, I don't. I looked through a number of possibilities but I couldn't find a single request that would result in that combination of a local write and multiple local and global reads. It doesn't look like any variant of a commit trigger. It's possible that there are two different requests stuck on the Range.

[2018-11-27 20:29] a-robinson commented on #32511
That could happen in the middle of a rebalance - we add the new replica before removing the old, so you temporarily see over-replicated replicas. Or it could happen while trying to up-replicate from 5 to 7 after the test code changes a changed zone config.

[2018-11-27 20:29] petermattis commented on #32631
I took a quick shot at reproducing the data loss using the existing `synctest` roachtest, but with `charybdefs` configured to only use the `--full` error. No love at reproduction. I'm going to try a more faithful reproduction using the steps from the private test:

1. Start a 3-node cluster
2. Run kv workload
3. Pick a random node and fill up its disk
4. Wait 30s
5. Free disk space on the node wit

[2018-11-27 20:32] andreimatei commented on #32495
Agreed; let's hardcode the hell out of the initial state of the engine.
I got the beast booting up, but sure enough it was a matter of time until more routing pain: the `testContext's` sender which sends everything to range 1:
https://github.com/cockroachdb/cockroach/blob/26d16bbafc70d60aadd8d0ce8d28ea9a4a82c3a0/pkg/storage/replica_test.go#L279

I guess I'll have to teach this sucker about all the

[2018-11-27 20:32] mjibson opened #32653 "pgwire: add decoding test framework similar to TestEncodings"
pgwire/DecodeOidDatum function is only sort of tested. Not all of the OID types have a test (for example T_varchar and T_bpchar). We should add a postgres-sourced test framework similar to TestEncodings that can generate datums and bytes from a pg server and compare our results to make sure we are compatible with what clients are sending over the wire. This will also allow us to confidently add ne

[2018-11-27 20:47] andreimatei commented on #32495
Nevermind the last comment, I had forgotten that the `testContext` is about testing a single range. But it still uses `store.BootstrapRange()`, at least sometimes. I guess I'll have to teach it to not do the splits.

[2018-11-27 21:38] slateraus commented on #32392
Hi, we have since scratched the 2.5 Tb environment where we first had the problem. But then the problem occured on a much smaller DB - same schema - on prem. I believe you guys have access to that cluster.  I also uploaded the debug from that cluster.

Its sort of weird as I have backups working fine on other databases but this DB / schema errors.  Am wondering if it is database object related.

[2018-11-27 22:07] roncrdb commented on #32392
@tbg ,

Looked at `alerts` for the second debug zip that @slateraus is referring to, nothing shows up there.

and `grep -c 'have been waiting' nodes/*/logs/cockroach.*.log | wc -l` returns 80.

[2018-11-27 22:28] knz opened #32656 "cli/sql: show the time once the query completes, not when the results are formatted"
From https://forum.cockroachlabs.com/t/secondary-index-performance-issue-on-huge-data/2208/12

Currently when a formatter buffers the result, the time is only computed/printed afterwards.

The time should still be printed afterwards but the query latency should be computed until the point the last result is received.

This way the true latency can be shown. For large result sets, this will avoid s

[2018-11-27 23:14] #32650 closed

[2018-11-27 23:47] cockroach-teamcity opened #32658 "teamcity: failed test: TestDockerCLI"
The following tests appear to have failed on master (acceptance): TestDockerCLI, TestDockerCLI/test_history.tcl

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDockerCLI).

[#1027966](https://teamcity.cockroachdb.com/viewLog.html?buildId=1027966):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-28 02:12] #32625 closed

[2018-11-28 02:44] victorggsimida commented on #32573
@tim-o
hi, appreciate your answer.
as i know
1. audit log  : is for specific table. if i want to make audit log for all tables? i need to run many alter table command?

2. audit log is stored in each node?  I need to collect the log to restore data?

3. audit log fields : i did not see the unique serial number ( such logical clock timestamps)?
if i use the dump as of system time '2018-11-11 11:11:

[2018-11-28 02:50] victorggsimida commented on #32573
@rolandcrosby
haha. thank u for your answer.

oh,  AS SYSTEM OF TIME  can use  a cluster-wide checkpoint (hybrid logical clock timestamps )
.
forgive my not enough understanding of AS SYSTEM OF TIME.

but I still has some question

1. how to get a list of    cluster-wide checkpoint? I can use?

and yes I can get backup with specific timestamp (or specific transaction ) with AS OF SYSTEM TIME

2. b

[2018-11-28 02:54] victorggsimida commented on #23706
@a-robinson
appreciate your feedback.~~

I will try it and if has any result , I will report here

[2018-11-28 05:26] lnogol opened #32659 "Allow web login for insecure clusters"
**Is your feature request related to a problem? Please describe.**
Apparently web login can't be enabled for insecure clusters. It might make sense in some cases.

**Describe the solution you'd like**
A way to allow web login for insecure clusters. Environment variable?

**Describe alternatives you've considered**

**Additional context**
We have this in Kubernetes:
* CRDB as a `StatefulSet` with `

[2018-11-28 10:31] knz opened #32662 "sql: RequireSuperUser() swallows errors"
**Describe the problem**

The function `RequiresSuperUser()` returns `err` both to indicate errors in the underlying logic / SQL queries, and to indicate the current user is not a superuser.

Subsequently, callers that which simply to know *whether* the current user is an admin will test the error return and **silently drop it on the floor** if non-nil.

Instead the function should return `(bool,

[2018-11-28 11:00] knz commented on #31315
@mjibson did you not fix this in your recent PR?

[2018-11-28 11:04] knz commented on #32659
cc @piyush-singh @couchand  for triage

[2018-11-28 11:21] tbg commented on #32637
https://github.com/cockroachdb/cockroach/issues/32511

[2018-11-28 11:21] #32637 closed

[2018-11-28 11:31] knz commented on #28187
Ok so this is not so easy as it looks. The various statements that accept a URL do so via an arbitrary scalar expression (i.e. not a constant literal string). So we can have things like `export into sv 's3:' || '//' || '....'`

With arbitrary expressions we do not have any handle to "hide" anything sensitive.

While investigating this, I also realized that the same problem applies to any sensitive

[2018-11-28 11:31] tbg commented on #32593
@mdoleary thanks for your report. I think this is a straightforward bug on our end, likely related to running on Windows.

(Technical details follow)

The error originates here. We expect file not found errors in this code path to occur, but they should be handled appropriately (and we test that, though I suspect not on windows).

https://github.com/cockroachdb/cockroach/blob/2087616a6718665c4a107

[2018-11-28 12:09] tbg opened #32665 "sql: panic: Non-nullable column "jobs:status" with no value! Index scanned was "primary" with the index key columns (id) and the values (403246710670524417)"
Discovered by @ajwerner. Perhaps related to or dupe of https://github.com/cockroachdb/cockroach/issues/32530?

build:               CCL v2.2.0-alpha.20181119-259-g1bcb46e @ 2018/11/25 01:06:26 (go1.10.3)

panic: Non-nullable column "jobs:status" with no value! Index scanned was "primary" with the index key columns (id) and the values (403246710670524417)

goroutine 1683060 [running]:
github.com/co

[2018-11-28 12:16] tbg commented on #32658
@knz this looks like your 🎡 🏠

[2018-11-28 12:16] tbg commented on #32392
@roncrdb if we indeed have access to that cluster, I'd be happy to take a look. Could you let me know in private how to access?

[2018-11-28 12:31] #32593 closed

[2018-11-28 12:37] tbg commented on #32593
@mdoleary this should be fixed in 2.1.2, slated for release on December 10th. Thanks again for letting us know about this problem!

[2018-11-28 13:56] dt commented on #28187
The job record itself has the raw URI details in its binary proto, so as long as root can read system tables, root can get the that to that parameter, whether it is in `show queries` or not.

For the specific case of BACKUP/RESTORE/IMPORT/etc, where we _know_ we're taking a parameter that includes cloud credentials, we could use a different AST node that we know how to hide when rendering in `show

[2018-11-28 14:01] dt commented on #28187
Hiding the parameters that contain "secrets" in the `jobs` and `queries` output potentially gives the appearance that they're irrecoverable even by root, when in fact that is not true, so arguably we shouldn't even try to hide them from root and just make it obvious that you need to use keys -- i.e. purpose-generated ones -- that you're comfortable with everyone who has root on your cluster knowin

[2018-11-28 15:03] vivekmenezes opened #32671 "sql: TestDropTableInterleavedDeleteData failing"
make stress PKG=./pkg/sql TESTS=TestDropTableInterleavedDeleteData

fails

[code]

[2018-11-28 15:05] vivekmenezes commented on #32671
@eriktrinh assigning to you. Wouldn't surprise me if your change to add ImmutableTableDescriptor is causing this failure.

[2018-11-28 15:12] couchand commented on #32659
It's not currently supported to set passwords for users on an insecure cluster.  If that were possible, this would naturally shake out.  So I would consider this a duplicate of #16188.

Let me take this opportunity to opine about why I think it would be a bad idea to implement #16188.  The configuration you've described does indeed provide transit encryption for the cluster's traffic.  However, en

[2018-11-28 15:12] #32659 closed

[2018-11-28 15:16] vivekmenezes commented on #32671
ran git reset --hard HEAD~100 on master and then ran make stress and the test is not failing.

[2018-11-28 15:38] cockroach-teamcity opened #32675 "teamcity: failed test: TestSystemZoneConfigs"
The following tests appear to have failed on master (testrace): TestSystemZoneConfigs

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestSystemZoneConfigs).

[#1029509](https://teamcity.cockroachdb.com/viewLog.html?buildId=1029509):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-28 15:38] cockroach-teamcity opened #32676 "teamcity: failed test: TestTxnWaitQueueUpdateNotPushedTxn"
The following tests appear to have failed on master (test): TestTxnWaitQueueUpdateNotPushedTxn

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestTxnWaitQueueUpdateNotPushedTxn).

[#1029509](https://teamcity.cockroachdb.com/viewLog.html?buildId=1029509):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-28 15:38] cockroach-teamcity opened #32677 "teamcity: failed test: 60:00"
The following tests appear to have failed on master (test): 60:00/ParseTime

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+60:00).

[#1029509](https://teamcity.cockroachdb.com/viewLog.html?buildId=1029509):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-28 15:43] #32108 closed

[2018-11-28 15:50] cockroach-teamcity commented on #32499
SHA: https://github.com/cockroachdb/cockroach/commits/027f231ab758f7aec151c744b9c715e50b313feb

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1028047&tab=buildLog

[code]

[2018-11-28 17:38] tim-o opened #32681 "CREATE INVERTED INDEX job using 75% of CPU when cluster at rest"
**Describe the problem**

A customer using v2.1 created (and then cancelled) a CREATE INVERTED INDEX job 6 days ago. Since then, they've observed that CPU spikes periodically to ~75% and disk write activity even when the cluster is completely at rest.

@nvanbenschoten reviewed pprofs and saw that there were a number of `InitPut` ops. The `#/_status/diagnostics/local` endpoint also shows an active

[2018-11-28 17:39] tim-o commented on #32681
Also, we have cockroach debug zip output [here - CRDB only](https://drive.google.com/drive/u/1/folders/1gJAhXFhOwuJAkfy5fRpxhZzaHjtGVDFS), and we have access to the Admin UI - you can ping me for access if needed.

[2018-11-28 17:47] justinj opened #32682 "sql: large numeric constants can cause extremely high memory usage"
Running:
[code]
makes my Cockroach's memory usage balloon:
![image](https://user-images.githubusercontent.com/409075/49171003-8072d800-f30b-11e8-9122-fbcabc52691d.png)

Oddly, this doesn't seem to reproduce for @RaduBerinde, possibly because he's on Linux and I'm on macOS?

Assigning to @knz for triage.

[2018-11-28 18:02] nvanbenschoten commented on #25437
My reading of the transaction abortion logic is that a push that doesn't find a txn record writes one in the aborted state. It then leaves this record around until the record is GCed or an `EndTransaction(commit=false)` comes along. This means that as long as a client never sends `EndTransaction(commit=false)` and then `EndTransaction(commit=true)`, it won't be able to move a transaction from abor

[2018-11-28 18:06] knz commented on #32682
yeah I confirm it breaks on me too.

I believe it's indeed a difference between macOS/BSD and Linux. The Go library for constants will issue a malloc() for the (expected, gigantic) result slice. Linux will serve the malloc() without blinking (and not initializing anything) whereas macOS/BSD will actually go and allocate the memory.

In any case it's annoying. @nvanbenschoten do you confirm that la

[2018-11-28 18:07] bdarnell commented on #28187
This doesn't seem like a problem to me. Anyone who could see this data in SHOW QUERIES could also just SELECT it back out of the database (barring a few very uncommon permission configs that only grant write access). It's important that queries only be visible to the executing user and superusers. I don't think it's important to hide users' queries from themselves, at least for things that are ful

[2018-11-28 18:08] nvanbenschoten commented on #32681
cc. @dt @vivekmenezes

[2018-11-28 18:10] knz commented on #32682
@mjibson is this something that you'd have interest to investigate?

[2018-11-28 18:12] cockroach-teamcity opened #32683 "teamcity: failed test: TestLogGrowthWhenRefreshingPendingCommands"
The following tests appear to have failed on release-2.1 (test): TestLogGrowthWhenRefreshingPendingCommands/proposeOnFollower=true, TestLogGrowthWhenRefreshingPendingCommands

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestLogGrowthWhenRefreshingPendingCommands).

[#1029822](https://teamcity.cockroachdb.com/viewLog.html?buildId=10

[2018-11-28 19:10] mjibson commented on #32682
One linux user reports this returns 0 in < 2ms. For me (also on linux) it crashes immediately with `fatal error: runtime: out of memory`. So that makes three different behaviors. I'm happy to look into this.

[2018-11-28 19:10] nvanbenschoten commented on #32682
I don't remember much about looking at this in the past. The operators are constant-folded by the go library, so if we need to introduce some policy about computation cost, we'll probably need to replace it. That's not a bad idea on its own.

[2018-11-28 19:23] mjibson commented on #31315
Closed by #32144

[2018-11-28 19:23] #31315 closed

[2018-11-28 19:43] RaduBerinde commented on #32682
For smaller exponents I also run out of memory.
`select 100 << 4399000000000` returns 0 immediately while `select 100 << 4397000000000` crashes.

[2018-11-28 19:48] RaduBerinde commented on #32682
This is the cutoff:
[code]
It's the same with `1 <<` as well..

[2018-11-28 20:31] richardanaya opened #32689 "Support ARM builds for AWS ARM EC2"
The cost savings of Cockroach are already pretty high, would would make it even higher if it could run on even cheaper infrastructure like AWS's ARM EC2 instances.

Solution: Support builds of cockroach DB compiled for ARM and their distribution on the website.

https://aws.amazon.com/blogs/aws/new-ec2-instances-a1-powered-by-arm-based-aws-graviton-processors/

Epic CRDB-1463

Jira issue: CRDB-472

[2018-11-28 20:57] danhhz opened #32690 "changefeedccl: debug page metric graphs"
I asked @mrtracy how hard it would be to make a debug page that hardcodes the changefeed graphs I've been using and he said it'd be pretty easy. I've been using the custom graphs page for performance debugging, which has been working well, but having something we can easily point a customer to if they're having performance problems would be nice (plus it might be nice to have a tiny bit more contr

[2018-11-28 21:12] fastest963 commented on #32055
That seems like it would solve my issue, yes.

[2018-11-28 22:11] nvanbenschoten commented on #32683
I think it’s likely that it’s resolved by either https://github.com/cockroachdb/cockroach/pull/31583 or https://github.com/cockroachdb/cockroach/pull/31660. Neither of those has been backported.

[2018-11-28 22:12] ajwerner commented on #32683
I made https://github.com/cockroachdb/cockroach/pull/32692 to backport the first two suggested. I'll make another PR to backport the test fixes you posted.

[2018-11-28 22:44] andreimatei commented on #7872
There's still this reference to the issue:

https://github.com/cockroachdb/cockroach/blob/1544d1501aec633ad41b28cd867e6cbe68d687e5/pkg/storage/gossip_test.go#L121-L122

@peter, mind remembering what the deal is?

[2018-11-28 23:10] cockroach-teamcity opened #32698 "teamcity: failed test: TestDockerC"
The following tests appear to have failed on master (acceptance): TestDockerC/Success/runMode=docker, TestDockerC/Success, TestDockerC

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDockerC).

[#1030197](https://teamcity.cockroachdb.com/viewLog.html?buildId=1030197):

[code]

Please assign, take a look and update the issue accord

[2018-11-28 23:18] jseldess opened #32699 "Under-replicated ranges when scaling from 3 to 5 nodes"
In 2.1, when scaling from 3 to 5 nodes, the Admin UI calls out a number of under-replicated ranges as data is rebalanced. According to the problem range report, these under-replicated ranges are all system ranges, many of which required 5 replicas. It seems that at 3 nodes, the system ignores that requirement, but as soon as you have more than 3 nodes, the system remembers the requirement and reco

[2018-11-28 23:29] knz commented on #19369
@sokoow we have engaged a new process to manage compatibility problems. In that process we really want to focus on SQL problems and not just symptoms from a higher level in the software stack.

Therefore I would kindly request that you help us help you, by accompanying your test report with the specific SQL and parameters that were sent to CockroachDB.

This can now be obtained with the cluster se

[2018-11-28 23:32] knz commented on #32517
@roncrdb yes thank you this is top on my radar.

[2018-11-28 23:33] sokoow commented on #19369
Excellent! :D Will have it done then

[2018-11-28 23:42] sokoow commented on #19369
Attached is the log from my erroneous run

[mattermost-cockroach211.tar.gz](https://github.com/cockroachdb/cockroach/files/2626986/mattermost-cockroach211.tar.gz)

One interesting fact: first of all, looking at either these logs and or/UI, your DB doesn't really tell that anything is wrong, this by design ?

[2018-11-29 00:16] tbg opened #32701 "sentry: panic in aggregator due to possibly nil context"
https://sentry.io/cockroach-labs/cockroachdb/issues/783653410/?referrer=webhooks_plugin

conn_executor.go:639: panic while executing 1 statements: SELECT (SELECT _ FROM _._ LIMIT _ OFFSET _) AS _, _._ AS _, _._ AS _, _._ AS _, _._ AS _ FROM _._ AS _ INNER JOIN _._ AS _ ON (uuid_in(CAST(_._ AS INT8)) IS DISTINCT FROM CASE WHEN EXISTS (SELECT _._ AS _, _._ AS _, _._ AS _, (SELECT _ FROM _._ LIMIT _

[2018-11-29 00:18] nvanbenschoten commented on #30618
@andy-kimball I've heard you're looking into changes in this area. Mind describing/pointing me at the status of that work? This is currently the only blocker for https://github.com/cockroachdb/cockroach/pull/30624.

[2018-11-29 00:19] tbg opened #32702 "sentry: conn_executor.go:639: panic while executing 1 statements: SELECT _._ AS _, _._ AS _, _._ AS _, CAST(COALESCE(_._, _._) AS STRING[]) AS _, CASE WHEN CASE WHEN (SELECT _ FROM _._ LIMIT _ OFFSET _) @> json_agg(CAST(_._ AS OID)) OVER (PARTITION BY _._ ORDER BY _._, _._, _._) THEN min(CAST((SELECT _ FROM _._ LIMIT _ OFFSET _) AS FLOAT8)) OVER (PARTITION BY _._, _._, _._ ORDER BY _._, _._) ELSE min(CAST((SELECT _ FROM _._ LIMIT _ OFFSET _) AS FLOAT8)) OVER (PARTITION BY _._, _._, _._ ORDER BY _._, _._) END IS NOT DISTINCT FROM CAST(_ AS FLOAT8) THEN _._ ELSE [...]: caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/783656538/?referrer=webhooks_plugin

conn_executor.go:639: panic while executing 1 statements: SELECT _._ AS _, _._ AS _, _._ AS _, CAST(COALESCE(_._, _._) AS STRING[]) AS _, CASE WHEN CASE WHEN (SELECT _ FROM _._ LIMIT _ OFFSET _) @> json_agg(CAST(_._ AS OID)) OVER (PARTITION BY _._ ORDER BY _._, _._, _._) THEN min(CAST((SELECT _ FROM _._ LIMIT

[2018-11-29 00:26] tbg opened #32703 "sentry: conn_executor.go:639: panic while executing 1 statements: SELECT _._ AS _, _._ AS _ FROM (SELECT _._ AS _, _._ AS _ FROM _._ AS _ WHERE setval(CAST(_._ AS STRING), CAST((SELECT _ FROM _._ LIMIT _ OFFSET _) AS INT8)) >= crdb_internal.force_panic(CAST(_._ AS STRING)) LIMIT _) AS _ RIGHT JOIN (SELECT _._ AS _, _._ AS _ FROM _._ AS _ WHERE (SELECT _ FROM _._ LIMIT _ OFFSET _) >= CAST(_ AS DATE)) AS _ RIGHT JOIN _._ AS _ ON (current_date() IS NOT DISTINCT FROM current_date()) ON ((_._ > CAST(_ AS DECIMAL)) OR (_._ IS NOT _)) WHERE (now() < CASE WHEN CAST(_ [...]: caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/783664505/?referrer=webhooks_plugin

conn_executor.go:639: panic while executing 1 statements: SELECT _._ AS _, _._ AS _ FROM (SELECT _._ AS _, _._ AS _ FROM _._ AS _ WHERE setval(CAST(_._ AS STRING), CAST((SELECT _ FROM _._ LIMIT _ OFFSET _) AS INT8)) >= crdb_internal.force_panic(CAST(_._ AS STRING)) LIMIT _) AS _ RIGHT JOIN (SELECT _._ AS _, _.

[2018-11-29 00:36] andy-kimball commented on #30618
I've got a PR out for incorporating parts of the `Insert` operation into the optimizer:
https://github.com/cockroachdb/cockroach/pull/32423

I'll soon post a similar PR for `Update`. I'll then work on `Upsert`, `Delete`, and `CreateTable`.

As for your question, I think my PR's set the stage for the time when we can get more specific with the fetched columns. But the time is not yet, as we'd still

[2018-11-29 01:15] petermattis commented on #7872
Oh boy, I should have left a better comment. At one point in time it was problematic to remove the leaseholder replica. It still is problematic. You first have to transfer the leaseholder somewhere else and then remove it. I'm not sure if `TestCluster.RemoveReplicas()` will do that automatically or not.

[2018-11-29 02:36] #32270 closed

[2018-11-29 03:11] jordanlewis commented on #32703
Caused by `force_panic` - this kind of smells like sqlsmith / @justinj?

[2018-11-29 03:11] #32703 closed

[2018-11-29 03:13] jordanlewis commented on #32701
[code]

Maybe a use after free? @justinj ring any bells?

[2018-11-29 03:14] jordanlewis commented on #32702
[code]

Caused by the explicit panic:

[code]

@justinj it you?

[2018-11-29 05:00] mjibson commented on #31847
Fixed by #32144

[2018-11-29 05:00] #31847 closed

[2018-11-29 07:05] cockroach-teamcity opened #32706 "storage: TestNodeLivenessStatusMap failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/07edde23460e8ffe0ec40f89975c3b95fc28343e

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1030855&tab=buildLog

[code]

[2018-11-29 09:26] cockroach-teamcity opened #32708 "roachtest: import/tpcc/warehouses=1000/nodes=32 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/07edde23460e8ffe0ec40f89975c3b95fc28343e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1030507&tab=buildLog

[code]

[2018-11-29 09:52] kybin commented on #30911
Seems like this fixed in recent release, could you confirm it?

[2018-11-29 10:14] tbg commented on #31373
181129 10:12:41.044435 176 storage/allocator.go:625  [n9,replicate,s6,r12/5:/Table/1{5-6}] simulating RemoveTarget failed: must supply at least one candidate replica to allocator.RemoveTarget()

[2018-11-29 11:30] knz commented on #30911
In 2.1 the behavior is improved but not entirely fixed. However we did complete the fix, which will be available in 2.2

So you are right that the work is done. I will close this issue as a result.

Let us know if you notice anything that requires more work. Thank you!

[2018-11-29 11:31] #30911 closed

[2018-11-29 12:01] #32599 closed

[2018-11-29 12:17] #32656 closed

[2018-11-29 12:31] knz commented on #32517
I have looked into the code. The point where the crash is encountered should be protected against this - the session ID should be valid in all contexts that lead to this point.

There is no obvious path to a root cause here. I will add a condition to avoid a crash and instead report an internal error via telemetry. This will help us investigate the issue further.

[2018-11-29 12:41] knz commented on #32517
@roncrdb is there a chance we can get access to that user's environment? Or perhaps ask some specific details?

[2018-11-29 12:43] knz commented on #32599
@slateraus will hopefully be fixed in the next minor release

[2018-11-29 12:48] knz commented on #28187
yes this seems like the strongest argument to me. There are so many ways that the SQL entered by one client can show up on an admin's screen that it doesn't make sense to me to just focus on SHOw QUERIES.

We could theoretically extend the scope to "limit visibility of sensitive data" but that would be a much larger project that must also encompass log filtering, etc.

@jseldess are you ok with li

[2018-11-29 13:13] cockroach-teamcity opened #32714 "roachtest: hibernate failed"
SHA: https://github.com/cockroachdb/cockroach/commits/07edde23460e8ffe0ec40f89975c3b95fc28343e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1030507&tab=buildLog

[code]

[2018-11-29 13:47] tbg commented on #32708
🚒 paging @petermattis

I181129 09:23:21.120820 237 server/status/runtime.go:465  [n24] runtime stats: 497 MiB RSS, 855 goroutines, 163 MiB/140 MiB/354 MiB GO alloc/idle/total, 163 MiB/186 MiB CGO alloc/total, 377275.1 CGO/sec, 230.0/9.5 %(u/s)time, 2.3 %gc (14x), 114 MiB/118 MiB (r/w)net
fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x1 addr=0

[2018-11-29 13:52] petermattis commented on #32708
A segfault deep in the RocksDB memtable code. Interesting that this is coming from the temp storage RocksDB instance used during import. Not seeing much to go on. @benesch do you see anything?

[2018-11-29 14:37] justinj opened #32715 "distsql: array of tuples cannot be sent over the wire"
when the gateway node is the leaseholder for x:
[code]

when it isn’t
[code]

The reason is that arrays of tuples don't have an encoding, and so can't be sent over the wire. Now that tuples have an encoding (?) it should be possible to add one.

Unsure if this falls under sql or execution, I think encoding of values falls under sql, but the problem only manifests in execution. cc @knz @jordanlewis

[2018-11-29 14:59] cockroach-teamcity commented on #30832
SHA: https://github.com/cockroachdb/cockroach/commits/07edde23460e8ffe0ec40f89975c3b95fc28343e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1030507&tab=buildLog

[code]

[2018-11-29 15:09] jseldess commented on #28187
Yep, makes sense to me. I created https://github.com/cockroachdb/docs/issues/4108. Thanks for hashing through this. Feel free to close this.

[2018-11-29 15:57] cockroach-teamcity commented on #32499
SHA: https://github.com/cockroachdb/cockroach/commits/07edde23460e8ffe0ec40f89975c3b95fc28343e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1030507&tab=buildLog

[code]

[2018-11-29 16:18] nvanbenschoten commented on #32699
cc. @a-robinson. Both of Jesse's ideas here sound like they're worth considering.

I don't know how the current "silencing" works. Does this sound easy to do?

I would expect the `replicateQueue` to prioritize under-replicated ranges over general rebalancing.

[2018-11-29 16:31] #32702 closed

[2018-11-29 16:32] danhhz opened #32721 "kv: (*DistSender).RangeFeed stack depth"
I was reading the `(*DistSender).RangeFeed` code and realized that `divideAndSendRangeFeedToRanges` recursively calls itself via `partialRangeFeed` when a split happens. I haven't tested this, but I think if one were to call RangeFeed on some span and repeatedly split it, then we'd eventually exceed the maximum stack depth and panic. A repro might need a bit of time in between splits to make sure

[2018-11-29 16:40] andreimatei opened #32722 "storage: TestStoreSplitFailsAfterMaxRetries takes 7s"
Seems that it's too long, but I haven't dug into it; could be ok-ish.
I'm skipping the test on `testshort` in #32696.

[2018-11-29 16:43] justinj opened #32723 "opt: execbuilder panic"
Found with some additions to sqlsmith, haven't gone through and simplified this yet, but:

[code]

[code]

[2018-11-29 16:44] #28187 closed

[2018-11-29 16:52] a-robinson commented on #32699
It'd be an awkward edge case that would be easy to confuse with longer-standing situations caused by real problems. I'd really rather not do anything special here.

It does. The only thing prioritized more highly than adding a replica to an under-replicated range is adding a replica to a range with a dead replica. If that isn't the case here, then something is quite broken.

However, we do priorit

[2018-11-29 16:58] jseldess commented on #32699
I'm happy to try this again without the low `range_max_bytes` in a bit.

[2018-11-29 17:06] nvanbenschoten commented on #32722
The test expects 11 retries with exponential back off between them, so that explains the 7 seconds. It's not great that it takes so long though.

[2018-11-29 17:13] justinj opened #32725 "sql: nested [insert...] seems to give wrong error message"
I don't have a simplified version of this query yet, I'm planning to write a test case simplifier, but I need to put it down in an issue so I can find it in the future. In the meantime cc @knz (feel free to assign back to me if you feel this isn't actionable in its current form).

[code]

Gives the error
[code]
So it seems that perhaps one of the inner `insert`s is erroring and not immediately pro

[2018-11-29 17:13] tim-o commented on #32468
Assigning @dt for triage.

[2018-11-29 17:19] knz commented on #32725
this looks like an error that gets incorrectly swallowed.

I think a session trace would help. Did the execution start?

also what is the logical plan?

[2018-11-29 17:20] justinj commented on #32725
[code]

[2018-11-29 17:22] knz commented on #32725
this plan looks fine. I would say indeed a case of an incorrectly swallowed error.

[2018-11-29 17:23] petermattis commented on #32631
Even with the upstream check errors fix, the new `disk-full` test is failing with Raft log truncation. Going to record the debugging here for posterity.

I captured a failure with verbose Raft logging enabled:

`E181129 17:02:38.231083 123 vendor/go.etcd.io/etcd/raft/log.go:203  [n1,s1,r1/1:/{Min-System/}] tocommit(207) is out of range [lastIndex(196)]. Was the raft log corrupted, truncated, or lo

[2018-11-29 17:30] petermattis commented on #32631
Here's another reproduction. Similar story to above:

[code]

Notice that `n1` was supposedly processing Raft log entries 162 and 163 several seconds before the out of disk condition.

[2018-11-29 17:30] #32530 closed

[2018-11-29 17:44] #25180 closed

[2018-11-29 17:44] bdarnell opened #32727 "storage: "Invalid lease" on r1 and r2"
**Describe the problem**

I have a 3-node cluster running 2.1.1 that reports "invalid leases" for r1 and r2 on the problem range page.

![image](https://user-images.githubusercontent.com/160562/49240438-250c1d00-f3d3-11e8-9549-2b2019b37d82.png)

![image](https://user-images.githubusercontent.com/160562/49240521-58e74280-f3d3-11e8-9019-441f5a9ed123.png)

In both cases, node 2 has not yet been updat

[2018-11-29 17:50] tbg commented on #32727
I'd be happy to take a look. Can you DM details? Won't get to it until
Friday though.

On Thu, Nov 29, 2018, 18:45 Ben Darnell <notifications@github.com wrote:

[2018-11-29 17:58] justinj commented on #32725
No, and interestingly not even upon a second running, so there must be a conflict and it must matter where it occurs.

[2018-11-29 18:11] BramGruneir commented on #31721
This just is now passing in 2.2.

I think due to #32423.

[2018-11-29 18:34] justinj commented on #32725
I picked a different query which does repro when run twice on an empty database (replaced in OP), here is its trace
[code]

[2018-11-29 18:45] nvanbenschoten commented on #32722
We could fix this by adding an `adminSplitRetries retry.Options` field to `StoreTestingKnobs`, but that does strike me as being heavyweight for this very specific test. What do you think @andreimatei?

[2018-11-29 19:10] cockroach-teamcity commented on #32135
SHA: https://github.com/cockroachdb/cockroach/commits/07edde23460e8ffe0ec40f89975c3b95fc28343e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1030507&tab=buildLog

[code]

[2018-11-29 19:20] andreimatei commented on #32722
No opinion on whether a knob is worth it. I don't see why it wouldn't be nice to have, but I don't know if I'd personally put in the effort.
As far as I'm concerned, feel free to close this (I wouldn't have opened it if you hadn't asked for it). Bonus points if you add these findings to the test comment in lieu of the link to this issue (unless you add the knob).

[2018-11-29 19:35] mjibson commented on #31721
Can we close this then?

[2018-11-29 20:07] knz commented on #32682
What are the limits in postgres?

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-11-29 20:09] RaduBerinde commented on #32682
Go also checks for too many digits after each operation (at least multiplications).

[2018-11-29 20:13] tbg commented on #32727
Looked at goroutine dump on n2 because logspy claimed an interception was already in progress. Found these beauties:

[code]

[code]

[code]

Looks like disk I/O on this node is a goner.

[2018-11-29 20:16] tbg commented on #32727
`dd if=/dev/zero of=/mnt/data1/DELETEME bs=10M count=1` never returns on that node. (It returns on the others). This isn't a CRDB bug.

[2018-11-29 20:47] nvanbenschoten commented on #32676
Taking a look. Maybe there's something real here that might explain https://github.com/cockroachdb/cockroach/issues/32582.

[2018-11-29 21:03] mjibson commented on #32682
postgres:

[code]

wat

[2018-11-29 21:04] mjibson commented on #32682
Oh yeah: postgres's shift operators wrap on the bit size of the inderlying int: https://www.cockroachlabs.com/docs/v2.1/porting-postgres.html#shift-argument-modulo

[2018-11-29 21:06] nvanbenschoten commented on #32676
Took 781251 iterations, but I can reproduce.

[2018-11-29 21:31] jseldess commented on #32699
I just restested without lowering the `range_max_bytes`. Both up-replicating system ranges and rebalancing the data happened very fast, so as @a-robinson suggested, the splits must've been getting in the way before.

[2018-11-29 21:33] nvanbenschoten commented on #32676
Ah, I see what's going wrong. One of the txns is getting `MinTxnPriority`, so `ShouldPushImmediately` returns true and we never stay in the queue. Neither of the txns should be able to get this priority because they both have a user priority of `1` and we try to prevent non-minimum or maximum user priorities from getting minimum or maximum txn priorities.

Anyone see the bug in the code below?
htt

[2018-11-29 21:34] #32671 closed

[2018-11-29 22:34] justinj commented on #32595
After spending some time trying to understand the sqlsmith codebase, I decided that it would be most productive for me this week, and as a tool for us going forward, to port it to Go and add some features it doesn't support. This has revealed a number of bugs already, namely #32725, #32723, and #32682. I'm confident that we'll only find more the more SQL features we add.

I have a separate repo wi

[2018-11-29 22:38] nvanbenschoten commented on #32676
cc. @andreimatei do you know of any other flakes that may be a result of this? I've got a nice big testing cluster that I'm stressing tests on.

[2018-11-29 22:38] RaduBerinde commented on #32676
Nice find. Yeah, this wasn't intended. The checks were made before the cast to avoid worrying about overflows. Perhaps changing to `if val <= MinTxnPriority + 1` is a decent fix?

[2018-11-29 23:01] andreimatei commented on #32676
Is this the same as https://github.com/cockroachdb/cockroach/issues/31859 ?
That's only other related flake I know of.

If you're so inclined (and as I was saying on #31859), I think we should rip out all the maths around txn priorities.

[2018-11-29 23:02] #24507 closed

[2018-11-30 00:13] bdarnell opened #32736 "Frozen disk leads to unavailability"
If the disk simply stops responding to writes on a single node of the cluster, severe availability problems can result. (I'm not sure yet what exactly causes such a thing, but I've seen it happen twice today with EBS volumes). If the writes *fail* the process will probably crash, but we don't have any sort of timeouts in place to detect if they are simply taking a long time.

There are a couple of

[2018-11-30 03:15] tbg opened #32737 "sentry: conn_executor.go:639: panic while executing 1 statements: SELECT quote_ident(_._) FROM _._ AS _ WHERE (((_._ IN (_, _)) AND (substring(quote_ident(_._), _, _) = _)) AND pg_table_is_visible(_._)) AND (_._ != (SELECT _ FROM _._ WHERE _ = _)) UNION SELECT quote_ident(_._) || _ FROM _._ AS _ WHERE (substring(quote_ident(_._) || _, _, _) = _) AND ((SELECT count(*) FROM _._ WHERE substring(quote_ident(_) || _, _, _) = substring(_, _, length(quote_ident(_)) + _)) > _) UNION SELECT (quote_ident(_._) || _) || quote_ident(_._) FROM _._ AS _, _._ AS _ WHERE ((((_ [...]: caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/785766333/?referrer=webhooks_plugin

[code]

[2018-11-30 03:52] nvanbenschoten opened #32738 "pgwire: segfault in roachtest/sysbench due to unclean connection shutdown"
I occasionally see `sysbench` failing with a seg fault. This always happens as the prepare phase of a sysbench workload ends.

Dropping sysbench into gdb reveals the stack trace of the crash:
[code]

`pgsql_check_status` is failing because it attempts to [manipulate an error field](https://github.com/akopytov/sysbench/blob/50966c85cef95931ed4d6ddf2bc05e9aba88549a/src/drivers/pgsql/drv_pgsql.c#L530

[2018-11-30 03:55] nvanbenschoten commented on #32738
Interestingly, so far I've only seen this when running an Haproxy service between my load gen and the cockroach cluster.

[2018-11-30 05:44] nvanbenschoten commented on #32676
Yeah, that looks like the right fix.

Got it, thanks!

I'm not feeling particularly inclined 😛 I'd rather not go down that rabbit hole at this point if there's no compelling reason to.

[2018-11-30 07:07] cockroach-teamcity commented on #32706
SHA: https://github.com/cockroachdb/cockroach/commits/6fb1b0037ead768572b49646e0ffbe73013a8f9a

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1033100&tab=buildLog

[code]

[2018-11-30 07:40] vielmetti commented on #32689
Previously #14405 - progress has been made, would be good to see this finished up.

[2018-11-30 08:00] cockroach-teamcity commented on #32197
SHA: https://github.com/cockroachdb/cockroach/commits/6fb1b0037ead768572b49646e0ffbe73013a8f9a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1032776&tab=buildLog

[code]

[2018-11-30 09:05] knz commented on #32737
@jordanlewis for triage

[2018-11-30 09:07] tbg opened #32740 "sentry: cmd_end_transaction.go:500: error resolving intent at %s on end transaction [%s]: %s | roachpb.Span; roachpb.TransactionStatus; io error while open a file for random read <redacted> too many open files"
https://sentry.io/cockroach-labs/cockroachdb/issues/786115045/?referrer=webhooks_plugin

cmd_end_transaction.go:500: error resolving intent at %s on end transaction [%s]: %s | roachpb.Span; roachpb.TransactionStatus; io error while open a file for random read <redacted> too many open files

github.com/cockroachdb/cockroach/pkg/storage/batcheval.evalEndTransaction

type: *log.safeError
value: cmd_e

[2018-11-30 09:15] knz commented on #32682
I propose we produce an error (with teleemetry) for values that would cause postgres to overflow/wrap. No need to be more generous than postgres (and use more memory) but also no need to add silently weird behavior until we have evidence that users need it.

[2018-11-30 09:34] tbg opened #32741 "sentry: cmd_end_transaction.go:500: error resolving intent at %s on end transaction [%s]: %s | roachpb.Span; roachpb.TransactionStatus; io error while open a file for random read <redacted> too many open files"
https://sentry.io/cockroach-labs/cockroachdb/issues/786147748/?referrer=webhooks_plugin

cmd_end_transaction.go:500: error resolving intent at %s on end transaction [%s]: %s | roachpb.Span; roachpb.TransactionStatus; io error while open a file for random read <redacted> too many open files

github.com/cockroachdb/cockroach/pkg/storage/batcheval.evalEndTransaction

type: *log.safeError
value: cmd_e

[2018-11-30 11:18] tbg commented on #32135
@nvanbenschoten this is on your radar, right?

[2018-11-30 11:52] petermattis commented on #32631
I looked at another repro of this late yesterday and the on-disk info showed that a huge swath of the Raft log for one range was removed, along with the hard state. My suspicion is that the WAL was corrupted and RocksDB stopped processing at a prefix. I need to figure out the right incantations to prevent RocksDB from deleting old WALs and from warning more loudly when skipping corrupted WAL entri

[2018-11-30 12:15] tbg commented on #32698
Network fluke

[2018-11-30 12:15] #32698 closed

[2018-11-30 12:18] tbg commented on #32576
Yes, the timeseries stats are wildly overestimated (I don't have the numbers, but every time I see a recomputation of the stats the delta shrinks the stats a lot). I think we should fix that first.

[2018-11-30 12:31] tbg commented on #32576
Curiously, we claim to undercount

https://github.com/cockroachdb/cockroach/blob/1d9eb0cadcb2a3c10ef0d00bd2acbd0fdae2fd06/pkg/storage/engine/mvcc.go#L199-L218

but I don't think that's true. The caller supplies the full size of the payload

https://github.com/cockroachdb/cockroach/blob/1d9eb0cadcb2a3c10ef0d00bd2acbd0fdae2fd06/pkg/storage/engine/mvcc.go#L1616-L1617

so we're overcounting the overhe

[2018-11-30 12:38] knz commented on #32517
Lowering severity because the PR #32713 has removed the crash.

[2018-11-30 12:39] knz commented on #7841
Example use on the forum: https://forum.cockroachlabs.com/t/how-to-update-one-table-from-another/2217

[2018-11-30 12:46] tbg commented on #32677
@knz 😿

![image](https://user-images.githubusercontent.com/5076964/49290013-f8750580-f4a5-11e8-9f2f-1e01308955ef.png)

The log indicates that we are running `./build/builder.sh stdbuf -oL -eL make test TESTFLAGS=-v`.

[2018-11-30 12:59] cockroach-teamcity commented on #32714
SHA: https://github.com/cockroachdb/cockroach/commits/6fb1b0037ead768572b49646e0ffbe73013a8f9a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1032776&tab=buildLog

[code]

[2018-11-30 13:46] tbg opened #32744 "sentry: cmd_end_transaction.go:500: error resolving intent at %s on end transaction [%s]: %s | roachpb.Span; roachpb.TransactionStatus; io error while open a file for random read <redacted> too many open files"
https://sentry.io/cockroach-labs/cockroachdb/issues/786442910/?referrer=webhooks_plugin

cmd_end_transaction.go:500: error resolving intent at %s on end transaction [%s]: %s | roachpb.Span; roachpb.TransactionStatus; io error while open a file for random read <redacted> too many open files

github.com/cockroachdb/cockroach/pkg/storage/batcheval.evalEndTransaction

type: *log.safeError
value: cmd_e

[2018-11-30 13:58] vivekmenezes commented on #32681
@tim-o the fact that rollback = false is indicative that the rollback didn't work (cancel failed). Can you attach the output of the admin-UI for the jobs page or SHOW JOBS to this issue.

[2018-11-30 14:16] petermattis commented on #32631
I turned on RocksDB verbose logging as well and it seems clear that some error isn't being propagated correctly. In this repro, the Raft log corruption happened to `r24`:

`E181129 22:03:22.108338 123 vendor/go.etcd.io/etcd/raft/log.go:203  [n1,s1,r24/1:/Table/53/1/-48{09601…-78285…}] tocommit(1222) is out of range [lastIndex(513)]. Was the raft log corrupted, truncated, or lost?`

Way back before

[2018-11-30 14:17] petermattis commented on #32631
Looks like something was fixed here. This is from RocksDB `master`:

[code]

[2018-11-30 14:18] jordanlewis commented on #32737
Wow - look at that query! It is so long that it got cut off. This is going to be nearly impossible to understand and reproduce. It looks like it was caused by either an ORM or a fuzzer.

[2018-11-30 14:19] petermattis commented on #32631
This code changed in https://github.com/facebook/rocksdb/commit/718c1c9c1f01ce4a3c0f4ae488e78f583d40a38c. That commit message is completely innocuous!

[2018-11-30 14:34] andreimatei commented on #32517
@knz, random thought and just checking - this isn't as simple as some code failing to interpret some sort of a `nil` generated when `show cluster sessions` couldn't contact a node, is it?

[2018-11-30 15:07] tbg commented on #32675
#32511

[2018-11-30 15:07] #32675 closed

[2018-11-30 15:21] vivekmenezes commented on #32622
@damienhollis thanks for reporting this issue. Were you indeed running some kind of automation that was dropping and creating tables?

[2018-11-30 15:38] cockroach-teamcity opened #32746 "roachtest: sysbench/oltp_delete/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/6fb1b0037ead768572b49646e0ffbe73013a8f9a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1032776&tab=buildLog

[code]

[2018-11-30 15:43] benesch commented on #32708
Yikes, nope. Maybe we'll get lucky and bumping RocksDB will fix this problem.

[2018-11-30 15:43] cockroach-teamcity opened #32747 "roachtest: sysbench/oltp_insert/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/6fb1b0037ead768572b49646e0ffbe73013a8f9a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1032776&tab=buildLog

[code]

[2018-11-30 15:49] cockroach-teamcity opened #32748 "roachtest: sysbench/oltp_point_select/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/6fb1b0037ead768572b49646e0ffbe73013a8f9a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1032776&tab=buildLog

[code]

[2018-11-30 16:09] #32676 closed

[2018-11-30 17:37] nvanbenschoten commented on #32746
Duplicate of #32738.

[2018-11-30 17:37] #32746 closed

[2018-11-30 17:38] nvanbenschoten commented on #32747
Duplicate of #32738.

[2018-11-30 17:38] #32747 closed

[2018-11-30 17:38] nvanbenschoten commented on #32748
Duplicate of #32738.

[2018-11-30 17:38] #32748 closed

[2018-11-30 18:07] cockroach-teamcity commented on #32073
SHA: https://github.com/cockroachdb/cockroach/commits/6fb1b0037ead768572b49646e0ffbe73013a8f9a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1032776&tab=buildLog

[code]

[2018-11-30 18:19] knz commented on #32677
yeah so the stdbuf thing was insufficient.

However here there's something else at hand. This says that `make` is terminating before the test binary.

This is a case of insufficient waiting.

[2018-11-30 18:20] knz commented on #32399
The PR I made was not sufficient to fix this.

[2018-11-30 18:20] knz commented on #32677
Reopening  #32677 to track this.

[2018-11-30 18:20] #32677 closed

[2018-11-30 18:21] knz commented on #32737
is there anything to understand from the stack trace?

[2018-11-30 18:23] knz commented on #32517
I don't know actually. I hadn't thought about that. I'll check.

[2018-11-30 18:36] knz commented on #32399
@tbg @andreimatei I would suggest that:

1) we stop using `tee` and `2>&1` to redirect stdout/stderr to an artifact log file (also see point 3 below)

2) we use `go-test-teamcity` only on the stdout stream, as your favorite Deity intended, ie the commands would become `make ... | go-test-teamcity`  (I am assuming that test results go to stderr? If not we can make this happen via a redirect inside

[2018-11-30 18:47] asubiotto commented on #29477
Looking at the repo, this looks like (placeholders filled in):
[code]
Unfortunately running this query on 1-node local cluster with tpcc stocklevel 1 doesn't produce a panic.

[2018-11-30 19:43] damienhollis commented on #32622
Sorry, I haven’t had a chance to test this again. I will next week.

However, from memory the situation was that we had just restarted the whole cluster after it had been shutdown for several days and one of the first things I tried to do was drop the database and this happened.

I have seen the issue with dropping and recreating the same database with 2.0 but not really with 2.1. But like I said

[2018-11-30 19:45] bdarnell commented on #25437
What's this talk about txn IDs in the timestamp cache? The timestamp cache *already* stores txn IDs (so that txns can overwrite values that they read at the same timestamp).

The former case (advance timestamp in EndTransaction if no refresh spans) makes a difference in ycsb, i think (it affects blind upserts that experience contention). I think the replica-level retry on WriteTooOldError is ancie

[2018-11-30 19:54] nvanbenschoten commented on #25437
Sorry not txn IDs, txn keys in the write timestamp cache on `EndTransactionRequests`.

Yeah, it affects blind upserts that experience contention. Unfortunately ycsb performs UPDATEs which read first, so it doesn't take advantage of the optimisation.

Continuing to lay down intents after the first WriteTooOldError is fine. The part that makes this dangerous is c6f9b92, which allows us to commit aft

[2018-11-30 19:59] vivekmenezes commented on #32254
This is a special case of https://github.com/cockroachdb/cockroach/issues/20485 where when the node is killed off while it is gracefully shutting down it leaks a lease. In this case it is leaking a lease to the system.role_member table . The GRANT command is incrementing the version for the table descriptor so it hangs waiting for the unowned lease to expire, and eventually succeeds after 5 minute

[2018-11-30 20:08] #25173 closed

[2018-11-30 20:08] #32631 closed

[2018-11-30 20:31] tbg commented on #32073
@vivekmenezes friendly ping.

[2018-11-30 22:04] #32683 closed

[2018-11-30 23:10] vivekmenezes commented on #32622
@damienhollis we know of another issue https://github.com/cockroachdb/cockroach/issues/32254 that could be the cause of what you're seeing. This happens when you restart a cluster (or one node for that manner) and run a schema change immediately (DROP TABLE), it *can* hang for 5 minutes. But it eventually goes through.

[2018-12-01 06:46] cockroach-teamcity opened #32760 "storage: TestRemovePlaceholderRace failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ce35979e2d8d7fdbffa6543fb646fadbdf442ab3

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1034772&tab=buildLog

[code]

[2018-12-01 08:45] cockroach-teamcity commented on #32408
SHA: https://github.com/cockroachdb/cockroach/commits/ce35979e2d8d7fdbffa6543fb646fadbdf442ab3

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035312&tab=buildLog

[code]

[2018-12-01 09:40] dendon opened #32761 "v2.1.1 ERR | 1 replicas failing with "could not find valid split key" (auto solved)"
I tried to add a second node to move everything to the new node and then drain the old one.

The new node shows:
[code]

The old node shows:
[code]

The UI shows the new node has all ranges but one.

This is again happening on a production system and since I am not sure what information is needed, please let me know, but I might need to sanitize certain things.

[2018-12-01 11:12] tbg commented on #32760
I just mucked with placeholders.

[2018-12-01 16:18] netice opened #32762 "sql: CHECK constraint not run properly on the result of ON CONFLICT DO UPDATE SET"
i have a tabe:

[code]

some data in it

when i run sql:

[code]

**### i got ERROR:  failed to satisfy CHECK constraint (NOT (name IS NULL))**

CockroachDB version 2.1.1

gentoo linux

[2018-12-01 17:28] petermattis opened #32763 "roachtest: slack reporting of test status appears incomplete"
Last night's roachtest build log is [here](https://teamcity.cockroachdb.com/viewLog.html?buildId=1032776&buildTypeId=Cockroach_Nightlies_WorkloadNightly&tab=buildLog). But the slack report mentioned only a fraction of the tests. For example, the slack report contained no mention of the `acceptance/*` tests, yet the build log shows they were clearly run.

Not sure what is going on yet. Seems very r

[2018-12-01 17:45] petermattis commented on #32763
Oh, this is "by design". The slack report only reports the number of stable tests that passed, but does not output their names. I wrote this logic and given that it confused both @tbg and I just now, it seems worthwhile to include all of the passing tests in the report.

[2018-12-01 18:06] femiagbabiaka commented on #32555
@knz 👋 first time contributor, making a first pass at this. first, thanks for the phenomenal contributing documentation. wanted to make a few questions about some assumptions I'm making.

For reference, here's my work so far: https://github.com/femiagbabiaka/cockroach/pull/1

- How do I know which constraints an operation needs? Why do I have the choice between MySQL and Postgres if only Postgres

[2018-12-01 22:47] knz commented on #32762
@netice thank you for your report.

We would like to receive more information:

1) can you share the schema for table `res_users`, thank you

2) can you indicate how the table `id_model_data` was created: was the CHECK constraint added when the table was created, or was it added afterwards?

3) please paste the result of:

[code]

4) Could you reproduce your issue with:

[code]

And report the res

[2018-12-02 01:08] #32763 closed

[2018-12-02 06:51] cockroach-teamcity commented on #32547
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035811&tab=buildLog

[code]

[2018-12-02 07:13] cockroach-teamcity commented on #32408
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036079&tab=buildLog

[code]

[2018-12-02 08:55] dendon commented on #32761
Hey,
I am sorry, it seems by now to have solved on it's own.

[2018-12-02 10:00] knz commented on #32762
Hi @netice thank you for the extra info.

Here are my findings:

1) If you have added the constraint after the table was populated, note that the constraint will not be "active" automatically.

   You can check this with:

[code]

   and see the result for the column `validated`.

   If the constraint is not validated:

   1) it is possible that there are rows in the table where the `name` column

[2018-12-02 10:35] netice commented on #32762
@knz
the CONSTTAINT is active
the problem is not constraint not active
but the statement of:
[code]
trigger the constraint ```CONSTRAINT name_cnstr_not_null CHECK (NOT (name IS NULL))``` error
which must not raise an error because the ```name``` field is not null

[2018-12-02 10:37] knz commented on #32762
If the constraint was not active, it was possible for a NULL value in the `name` column to "appear" during INSERT. This is why I was asking about this.

Please help us reproduce this problem. It would be interesting for us to investigate this further.

[2018-12-02 10:45] netice commented on #32762
I have check the data with
[code]
and got no result
[code]

constraints is active
[code]

[2018-12-02 10:57] netice commented on #32762
@knz
to reproduce the problem
you can create  an empty database
[code]
and create the tabe
[code]
and then run the insert twice

[code]

[2018-12-02 13:02] victorggsimida commented on #30840
@knz

does cockroach db support sql like this?

below,

" create table mplist (like template.mplist);
invalid syntax: statement ignored: syntax error at or near "like"
"

[2018-12-02 13:39] cockroach-teamcity commented on #32714
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035651&tab=buildLog

[code]

[2018-12-02 14:15] victorggsimida opened #32765 "Add a privilege for creating databases that can be granted to non-superusers"
my question is easy.

i want to create a database with normal user?

and it turn out this error?

create database try;
pq: only superusers are allowed to CREATE DATABASE

how to change a user to be a superuser with community version ?

Grant role can do that? but it is enterprise only.

thank you

[2018-12-02 15:04] zhengxiaochuan-3 opened #32766 "build: `make build` produces error when using go 1.8"
cockroachdb version : release-2.1

Linux node 3.10.0-514.21.1.ns7.019.jk.mips64el #1 SMP Tue Jul 18 14:20:21 CST 2017 mips64el mips64el mips64el GNU/Linux

centos 7.2

[root@node etc]# go version
go version go1.8.3 linux/mips64le

[root@node cockroach]# make build
Running make with -j4
GOPATH set to /root/go
(echo "// Code generated by goyacc. DO NOT EDIT."; \
 echo "// GENERATED FILE DO NOT EDIT"

[2018-12-02 16:47] knz commented on #30840
@victorggsimida thank you for your inquiry. To copy-paste the definition of a table, run this:

[code]

Then copy-paste the output, change the table name,

then run `CREATE TABLE` as usual.

Thank you

[2018-12-02 17:11] knz commented on #32766
@zhengxiaochuan-3, thank you for your inquiry.

1) CockroachDB requires Go 1.11. You are using 1.8. You should update your Go version.

2) please read the contributor guide CONTRIBUTING.md for a list of build dependencies. There are other specific version requirements besides Go.

3) note that we have never tested CockroachDB on MIPS. We thus cannot guarantee that it will work well. However, we wo

[2018-12-02 17:18] cockroach-teamcity commented on #32499
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035651&tab=buildLog

[code]

[2018-12-02 17:32] cockroach-teamcity opened #32767 "roachtest: sysbench/oltp_delete/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035651&tab=buildLog

[code]

[2018-12-02 17:37] cockroach-teamcity opened #32768 "roachtest: sysbench/oltp_insert/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035651&tab=buildLog

[code]

[2018-12-02 17:43] cockroach-teamcity opened #32769 "roachtest: sysbench/oltp_point_select/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035651&tab=buildLog

[code]

[2018-12-02 17:48] cockroach-teamcity opened #32770 "roachtest: sysbench/oltp_update_non_index/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035651&tab=buildLog

[code]

[2018-12-02 19:52] cockroach-teamcity commented on #32135
SHA: https://github.com/cockroachdb/cockroach/commits/63f5dc75d0c69950ce0dfb4e7ef3f2e2be2889b9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1035651&tab=buildLog

[code]

[2018-12-03 02:55] vivekmenezes commented on #32073
will take a look at this this week

[2018-12-03 03:34] nvanbenschoten commented on #32582
So if I'm not missing anything, it seems to me like the problem here is this logic:
https://github.com/cockroachdb/cockroach/blob/b775ca0318125c996305e4ab560e75d2d3471547/pkg/storage/intent_resolver.go#L332-L338

in conjunction with this logic:

https://github.com/cockroachdb/cockroach/blob/b775ca0318125c996305e4ab560e75d2d3471547/pkg/storage/intent_resolver.go#L344-L349

@spencerkimball do you re

[2018-12-03 04:17] nvanbenschoten commented on #32767
Duplicate of #32738.

[2018-12-03 04:17] #32767 closed

[2018-12-03 04:17] nvanbenschoten commented on #32768
Duplicate of #32738.

[2018-12-03 04:17] #32768 closed

[2018-12-03 04:17] nvanbenschoten commented on #32769
Duplicate of #32738.

[2018-12-03 04:17] #32769 closed

[2018-12-03 04:17] nvanbenschoten commented on #32770
Duplicate of #32738.

[2018-12-03 04:17] #32770 closed

[2018-12-03 06:55] cockroach-teamcity commented on #31574
SHA: https://github.com/cockroachdb/cockroach/commits/d3b569bfb2db9002c81cd3f0eb1f9aa41f1b2e2a

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036551&tab=buildLog

[code]

[2018-12-03 07:16] cockroach-teamcity commented on #32760
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036721&tab=buildLog

[code]

[2018-12-03 07:52] pmneo opened #32776 "sql: foreign key violation with a parallel commited transaction"
Using Postgres JDBC Driver 42.2.2 and Transaction Isolation TRANSACTION_READ_COMMITTED.
My process works fine with many other Databases Like Postgres, MS-SQL, MySQL, Oracle, ...

The common steps are (pseudo code):
[code]

The values are present in the ref_table but it seems that TRX 1 can't reach them ...

[2018-12-03 08:00] cockroach-teamcity opened #32777 "cli: TestRemoveDeadReplicas failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1037013&tab=buildLog

[code]

[2018-12-03 08:34] saeidakbari commented on #18442
It's seems the `&&` operator error still in place for array checking.
Any other news?

[2018-12-03 08:45] cockroach-teamcity commented on #32256
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1037228&tab=buildLog

[code]

[2018-12-03 08:47] knz commented on #18442
@saeidakbari we welcome external contributions!

[2018-12-03 08:56] knz commented on #32762
Thank you I was able to reproduce the issue!

[2018-12-03 08:59] knz commented on #32762
Simpler reproducible case:

[code]

[2018-12-03 09:29] knz commented on #32762
cc @andy-kimball: you may want to include this example in your test suite. The simplified repro is available above at https://github.com/cockroachdb/cockroach/issues/32762#issuecomment-443635730

[2018-12-03 10:33] netice commented on #32762
@knz thank you for your answer
can i use ```excluded.``` to reference the value of the table column? or use the tabe itself?

[code]

[2018-12-03 10:35] knz commented on #32762
@netice In your example I think you should use the name of the table and not `excluded`, otherwise you would be forcing the update to the new values even if the conflict was detected.

[2018-12-03 10:40] netice commented on #32762
@knz thank you

[2018-12-03 12:08] lanzao commented on #32765
seems only role or superusers can do that

[2018-12-03 12:11] knz opened #32781 "tests: timeout in BenchmarkSelLTInt64Int64ConstOp (sql/exec)"
Found in CI of #32779
The `bench` CI test fails: https://teamcity.cockroachdb.com/viewLog.html?buildId=1037454&buildTypeId=Cockroach_UnitTests_Bench&tab=buildResultsDiv

[code]

[2018-12-03 12:11] knz commented on #32781
cc @jordanlewis for triage

[2018-12-03 12:17] tbg commented on #32761
Hi @dendon, glad this issue solved itself, but let's see if we can figure out what that was.

The reason this message typically comes up is because a single range is experiencing lots of writes to a single key. For example, if you updated the same row over and over (and this row were kind of large), this problem could occur.

Please let us know if that happens in your workload. If it does, and you

[2018-12-03 12:27] lanzao opened #32783 "Granting privileges only on database or table seems doesn't make sense"
When a user was only granted privileges on  tables（without granted on database）,he can't even see the database,  for example:

 `grant all on table mydb.* to testuser`；

'testuser' have privileges on table mydb.* but he has no privilege to see database `mydb`,so this privilege doesn't make sense.

On the other hand，if a user is only granted on database（without granted on any table）,he can't see an

[2018-12-03 12:55] tbg opened #32784 "storage: range does not match splits"
[code]

via

[code]

(i.e. just use master once https://github.com/cockroachdb/cockroach/pull/32782 is in).

I think this is a merge bug, based on this not failing before I changed the test to allow merges.

Two repros attached.
[crash1.txt](https://github.com/cockroachdb/cockroach/files/2639474/crash1.txt)
[crash2.txt](https://github.com/cockroachdb/cockroach/files/2639475/crash2.txt)

[2018-12-03 13:00] tbg commented on #31409
The nightlies post #32594 look very promising (they all passed, and didn't have Raft snapshot buildup).

I'm going to optimistically close this, but @ajwerner and @awoods187 please let me know when imports fail (in the way specific to this issue).

[2018-12-03 13:00] #31409 closed

[2018-12-03 13:04] tbg commented on #31732
Based on the log around Nov 1st, I think this was fixed by #32053. (There's likely a large buildup in snapshots after that, but it gets processed fast enough for the test to pass). The last run doesn't have a buildup of snapshots at all, likely due to #32594.

[2018-12-03 13:04] #31732 closed

[2018-12-03 13:05] tbg commented on #31740
Hopefully fixed for good by #32594.

[2018-12-03 13:05] #31740 closed

[2018-12-03 13:06] tbg commented on #30261
Hopefully fixed for good by #32594 and #32414

[2018-12-03 13:06] #30261 closed

[2018-12-03 13:06] tbg commented on #31768
Hopefully fixed for good by #32594. (The log of last night's run suggests as much).

[2018-12-03 13:06] #31768 closed

[2018-12-03 13:07] tbg commented on #31979
Hopefully fixed for good by #32594.

[2018-12-03 13:07] #31979 closed

[2018-12-03 13:10] tbg commented on #31783
Closing under the assumption that this test had fallen prey to a Raft snapshot queue buildup too. Fixed by #32594

[2018-12-03 13:10] #31783 closed

[2018-12-03 13:11] tbg commented on #31544
Closing under the assumption that this test had fallen prey to a Raft snapshot queue buildup too. Fixed by #32594

[2018-12-03 13:11] #31544 closed

[2018-12-03 13:16] tbg commented on #30832
I was planning to change the tests to run less aggressive range counts, but I'll hold off for a few days to see if @ajwerner's change #30152 gives us enough of an edge to reliably pass the current configuration. Who knows!

[2018-12-03 13:31] knz commented on #32399
Yes I was observing the same.

Additionally I also want to be able to study the interleaving of errors on stderr and stdout, so that I can get some idea of the global sequence of events. The capture by `script` will achieve that.

[2018-12-03 13:50] cockroach-teamcity commented on #32714
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036381&tab=buildLog

[code]

[2018-12-03 13:53] tbg commented on #32256
Basically spent close to half an hour like this:

[code]

Perhaps something is getting starved by the scanner timings?

[code]

[2018-12-03 13:56] netice opened #32786 "sql: support correlated subqueries in UPDATE SET RHS expressions"
I hava test a tabe
[code]
when i run
[code]
I got  the error :  ```ERROR:  no data source matches prefix: node```

This issues  is that sub select can not reference the update table using table alias,
this work in postgres.
If i remove the ```node``` it works
[code]

cockroachdb v2.1.1
gentoo linux

[2018-12-03 14:01] tbg commented on #32777
@bdarnell I looked through the code and my best bet was that

https://github.com/cockroachdb/cockroach/blob/a8b00ed9070dacbd5e3dc3bb1d13807cbcd7a8c3/pkg/testutils/testcluster/testcluster.go#L538-L577

returned prematurely. Maybe this happens because of adaptive replication factors (so that for a brief moment, n1 is happy with just one replica and n4 and n5 don't have any replicas yet).

[2018-12-03 14:05] vivekmenezes commented on #32499
@andreimatei can you look at this?

[2018-12-03 14:10] tbg commented on #32499
Load based splitting was enabled around that time, pretty sure that has to do with it.

@vivekmenezes before you pull @andreimatei into this, please make sure it's his wheelhouse first. The way the test is written it's unclear which statement even returns the error. If it's the schema change, I suspect you're going to be the one who'll have to look into it. MixedSuccessError (the one you're seeing

[2018-12-03 14:14] tbg commented on #32511
Interestingly I can't repro on the initial commit ee4361551d, but I can at master.

[2018-12-03 14:21] nstewart opened #32787 "CockroachDB 2.2 alpha never made it to docker hub"
The latest unstable in our [docker repo](https://hub.docker.com/r/cockroachdb/cockroach-unstable/tags/) points to 2.1-rc2 rather than the latest 2.2 alpha.

![image](https://user-images.githubusercontent.com/894257/49379352-ec26bd80-f6dc-11e8-9d2a-e512e33ed04c.png)

Can someone add this? It looks like we document this step in our release process https://github.com/cockroachdb/cockroach/wiki/Releas

[2018-12-03 14:33] vivekmenezes commented on #32285
[code]

looks like this test hit some error while heart-beating the liveness table.

[2018-12-03 14:35] vivekmenezes commented on #32285
@tbg I've assigned to you as well to see if you have any opinion on this. This failure has only been seen once.

[2018-12-03 14:35] tbg commented on #32408
Obvious from the log is that we're not upreplicating all the way because one of the stores is perpetually throttled. The timeouts for that are 1s and 5s (depending on the reason for throttling), so if the reason occurs sufficiently frequently, this isn't a surprise. Going to try to repro with extra logging.

[2018-12-03 14:35] tbg commented on #32511
Now I can't at master either. Hmm. Not sure what I did before. (all on my gceworker - roachprod-stressrace will probably do it)

[2018-12-03 14:41] ridwanmsharif commented on #32511
I'm trying on master for a while with no luck. I stressed it on a gceworker too for hours with no repro as well. The test logs show this though in the failure above:
[code]

Where we see 4 ranges with 6 replicas (should be 5 as they are system ranges) and 1 with 2 (should be 1 as time series is being down replicated to 1). These account for the 5 extra we're seeing. Would it just make sense to inc

[2018-12-03 14:47] tbg commented on #32285
This is a bit of a wart. The root cause is `node not in the liveness table` and it can occur when a lease transfer is attempted to a node that has just now started (when its liveness record hasn't propagated everywhere yet). This has come up in other contexts as well, so we're going to have to do something.

[2018-12-03 14:58] tbg commented on #32408
I181203 14:37:43.321246 641 storage/store_pool.go:730  snapshot failed, s6 will be throttled for 5s until 1970-01-01 00:00:05.012500123 +0000 UTC
I181203 14:38:01.356855 641 storage/store_pool.go:730  snapshot failed, s5 will be throttled for 5s until 1970-01-01 00:00:06.300000123 +0000 UTC

Heh, the test appears to be using a manual clock, so what is throttled will never unthrottle.

This test hi

[2018-12-03 15:03] tbg commented on #32408
Fixing that bug brings us back to the failure mode above, where nothing would happen and the test would just sit there like

Looking some more.

[2018-12-03 15:04] tbg commented on #32408
Oh, of course it hangs. I just gave the test a real clock, but it wants manual control.

[2018-12-03 15:11] nvanbenschoten commented on #32135
Yes, on my radar, I just haven't gotten around to it. Looks like it's failing ~20% of the time.

[2018-12-03 15:38] tbg commented on #32511
Ok, got the repro (attached)
[syszonecfgs.txt](https://github.com/cockroachdb/cockroach/files/2640114/syszonecfgs.txt)

[2018-12-03 15:55] dendon commented on #32761
Hello @tbg and thanks for the response.

To give a little background: I am developing and running my own CMS and am not aware of any hot/tight loop which would write a single row all the time, the shortest time some rows get updated is roughly every 30 minutes. But it is pretty likely that some ranges are updated a few times per minute, if not per second considering there are a about a hundred ins

[2018-12-03 15:59] tbg commented on #30780
What's the work it's doing during that time? The 5% amounts to the time it spends on the stack in runnable state, right (i.e. the blocking part of sending the RPC isn't counted)?

I had intuitively always assumed that the Raft part (i.e. proposing and processing the command via a Raft cycle) was the worse problem here because for common workloads it essentially doubles the Raft cycles per second t

[2018-12-03 16:19] tbg commented on #32285
A lease transfer to a node that the leaseholder doesn't know is live will fail. That's what you're seeing here, n1 is asked to transfer to n3 but it doesn't have liveness info for n3 yet.

[2018-12-03 16:20] tbg commented on #32761
@petermattis are you aware of any other issues that can lead to this outcome? What should we be doing to this log message? Feels like it could point at the offending row.

[2018-12-03 16:29] bdarnell commented on #32582
`contended` here is a `contendedKey` - it's specific to a single key. By allowing the TxnMeta to flow from the mismatched WriteIntentError into this contendedKey, I think you're entangling transactions that shouldn't actually be contending (this happens to work because it causes the system to err on the side of pushing and breaking cycles, and we don't have many tests that are sensitive to this).

[2018-12-03 16:58] nvanbenschoten commented on #30780
I'm not completely sure. It may have also included the RPC if it hit the local node.

Yes, that's what I would expect as well.

Good point, this is a perfect opportunity for batching! It should also avoid the complications of fanout because the `GCRequest` for all Txns originating from a range should always go to the same range (mod split complications, but that's not a big deal). This is probably

[2018-12-03 17:42] cockroach-teamcity commented on #32499
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036381&tab=buildLog

[code]

[2018-12-03 17:55] cockroach-teamcity opened #32791 "roachtest: sysbench/oltp_delete/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036381&tab=buildLog

[code]

[2018-12-03 17:55] cockroach-teamcity opened #32792 "roachtest: sysbench/oltp_insert/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036381&tab=buildLog

[code]

[2018-12-03 18:01] cockroach-teamcity opened #32793 "roachtest: sysbench/oltp_point_select/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036381&tab=buildLog

[code]

[2018-12-03 18:01] cockroach-teamcity opened #32794 "roachtest: sysbench/oltp_update_non_index/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b775ca0318125c996305e4ab560e75d2d3471547

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1036381&tab=buildLog

[code]

[2018-12-03 18:17] rolandcrosby opened #32795 "changefeedccl: include table and column comments as `doc` fields in generated Avro schemas"
A customer that extensively uses Avro internally mentioned an interesting use case for the `doc` fields in Avro schemas: adding tags to their data so downstream systems can understand things like which fields contain PII. They requested the ability to include metadata like this in the Avro schemas that CockroachDB generates.

At the moment, CockroachDB doesn't support arbitrary user-supplied metad

[2018-12-03 18:47] #31721 closed

[2018-12-03 18:47] #32714 closed

[2018-12-03 19:01] a-robinson commented on #32787
Huh, I don't see any suspicious recent changes to [the relevant script](https://github.com/cockroachdb/cockroach/blob/master/build/teamcity-publish-artifacts.sh), but I haven't looked at the other build-related changes yet.

I've pushed out this version, but am worried about future releases and whether they'll be pushed. Do any of the recent build changes that you've looked at come to mind as pote

[2018-12-03 19:04] aizumoff commented on #32681
Hi!
I'm the Customer's representative.
I'll attach screenshot tomorrow - but it shows "Canceled" in Jobs UI. It's kind of obvious that we've checked that first before creating this ticket. ;)
I've canceled that via "CANCEL JOB {JOB_ID}" statement - the ID I got from:
SELECT * FROM [SHOW JOBS] WHERE status IN ('running');

[2018-12-03 19:32] danhhz opened #32799 "changefeedccl: time-bound iterator and CDC in 2.1"
There is an unresolved bug in time-bound iterator. It manifests as incorrectly seeing an unresolved intent (the bug is that deletion of the intent key is missed). All current ideas for fixing this are too scary to backport to 2.1, but changefeeds use them (via ExportRequest). See much more detail on the bug in #28358. We have a customer commitment for changefeeds in 2.1 so something has to be done

[2018-12-03 19:33] danhhz commented on #32052
The "max latency was more than allowed" is being caused by #32799

[2018-12-03 19:33] #32052 closed

[2018-12-03 19:33] cockroach-teamcity opened #32800 "teamcity: failed test: TestReplicateQueueDownReplicate"
The following tests appear to have failed on master (testrace): TestReplicateQueueDownReplicate

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestReplicateQueueDownReplicate).

[#1037941](https://teamcity.cockroachdb.com/viewLog.html?buildId=1037941):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-03 19:34] danhhz commented on #32197
The "max latency was more than allowed" is being caused by #32799

[2018-12-03 19:34] #32197 closed

[2018-12-03 19:34] danhhz commented on #32359
The "max latency was more than allowed" is being caused by #32799

[2018-12-03 19:34] #32359 closed

[2018-12-03 19:35] danhhz commented on #32104
TBI bug is being tracked in #32799

[2018-12-03 19:58] cockroach-teamcity opened #32802 "teamcity: failed test: TestStoreRangeRemoveDead"
The following tests appear to have failed on master (testrace): TestStoreRangeRemoveDead

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestStoreRangeRemoveDead).

[#1037964](https://teamcity.cockroachdb.com/viewLog.html?buildId=1037964):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-03 20:02] danhhz commented on #32799
I ran some performance tests for option (1) last week. Summary: I'm not sure that disabling time-bound iterators completely is workable.

Changefeeds in 2.1 work by repeatedly polling all the "watched" data for any changes. This is done by picking a new high-water mark and sending ExportRequests with the previous and new high-water as time bounds. This poll happens every `changefeed.experimental_p

[2018-12-03 20:05] rolandcrosby opened #32803 "storageccl: allow user to specify an HTTP proxy for cloud storage"
It's not uncommon for enterprises to have restrictions on which nodes can talk to which external servers, and to require whitelisted external traffic to be piped through an HTTP proxy. Right now, if you want to use an HTTP proxy, you have to proxy all CockroachDB traffic including traffic between nodes; this is not ideal and can lead to network bottlenecks. There is a workaround of sorts where a u

[2018-12-03 20:29] bdarnell commented on #32582
Scratch my last comment; I was misreading things. I've digested things a little more and agree that #32773 looks like the right fix. The transaction that gets the WriteIntentError for a new key is correctly leaving the contention queue for the first key and reentering for the second one, but on its way out it is incorrectly nilling out the txn metadata for the first key's chain. We need other txns

[2018-12-03 20:59] benesch commented on #32613
Hmm, that should have worked just fine, but the fact that that error refers to `x86_64-linux-gnu` indicates that something has certainly gone wrong. If you post the full transcript of your terminal session I might be able to diagnose.

FYI https://github.com/cockroachdb/cockroach/pull/32623 will incidentally fix the BSD_SOURCE problem.

[2018-12-03 21:02] tbg commented on #30780
I think that code path is "morally" (i.e. mod splits and such) only ever hit for intents from the local range. The one caller is a side effect of EndTransaction, the other the GC queue. Might be forgetting about one but I think the only one that really matters is EndTransaction.

[2018-12-03 21:18] benesch commented on #32787
IIRC there was a bug in that script @BramGruneir had to work around on the fly. I think the result may have been manually built binaries? I'm not sure. @BramGruneir can you chime in?

[2018-12-03 21:32] BramGruneir commented on #32787
I don't think I did a release of the alpha to docker's unstable.
There is no mention of an unstable release in our release process. https://github.com/cockroachdb/cockroach/wiki/Release-Process
If there was, I would have done it.

All I can see is this:

I think I ran this, but I'm unsure.

[2018-12-03 21:33] tbg commented on #32802
https://github.com/cockroachdb/cockroach/issues/32408

[2018-12-03 21:33] #32802 closed

[2018-12-03 21:35] danhhz commented on #32495
@andreimatei any update on this?

we're trying to move cdc over to RangeFeed but a bunch of tests have to be skipped because closed timestamps (and thus RangeFeed) depends on the user tables having all epoch based leases. i think i have a workaround that waits for everything to switch to an epoch lease, but that means the test takes forever

[2018-12-03 21:37] benesch commented on #32787
Yeah, it should happen automatically when the TC "publish release" build is triggered. But without your patch to the script the build would have failed after building binaries but before pushing to Docker Hub, resulting in, I think, exactly the symptoms here.

I guess what I'm asking is, after you fixed the script, did you re-run the publish release build? Or did you skip it because the binaries h

[2018-12-03 21:38] BramGruneir commented on #32787
Ah, no I did not.

[2018-12-03 21:39] andreimatei commented on #32495
Working on it. It's a bit of a one test at time story at the moment since the change makes a bunch of 2014 tests unhappy.
But shouldn't be long.

[2018-12-03 21:40] benesch commented on #32787
I was hoping you'd say that! That means that we can close this issue out, since you already fixed the problem in https://github.com/cockroachdb/cockroach/commit/bf1c7c72bb568bf51a524429ed44169bd0203ebd.

[2018-12-03 21:40] #32787 closed

[2018-12-03 21:40] benesch commented on #32787
(Thanks for reporting @nstewart.)

[2018-12-03 21:45] tbg commented on #32511
I think this is also fallout from #32436. Hitting that case (as this test does) now results in the store pool throttling that node for 5s:

[code]

This is silly. Going to send a PR tomorrow.

[2018-12-03 22:33] #31602 closed

[2018-12-03 23:09] #32762 closed

[2018-12-04 01:49] varunturlapati opened #32811 "sql: SHOW GRANTS on empty db does not show grant on db until new table is created."
**Describe the problem**

After freshly installing CockroachDB and creating 2 user, I tried to grant privileges to a user. The command doesn't fail but the desired outcome is not achieved. Upon looking into all the `grants` for the user it shows blank.

**To Reproduce**
`
#cockroach sql --insecure --user=root
#Welcome to the cockroach SQL interface.
#All statements must be terminated by a semicolo

[2018-12-04 03:43] vivekmenezes commented on #32681
@aizumoff thanks for reporting that. So it does look a problem where the schema change was not actually rolled back but the underlying job was marked cancelled. I'll take a look.

[2018-12-04 06:40] cockroach-teamcity commented on #32012
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 07:07] cockroach-teamcity commented on #32760
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038695&tab=buildLog

[code]

[2018-12-04 07:08] nvanbenschoten commented on #32738
I'm going to skip this tomorrow if I can't find time to resolve it.

[2018-12-04 07:08] #32794 closed

[2018-12-04 07:08] #32793 closed

[2018-12-04 07:08] #32792 closed

[2018-12-04 07:08] #32791 closed

[2018-12-04 07:11] tbg commented on #32012
Please triage, thanks!

[2018-12-04 07:41] cockroach-teamcity opened #32813 "roachtest: cdc/tpcc-1000 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 07:51] cockroach-teamcity commented on #32408
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1039239&tab=buildLog

[code]

[2018-12-04 08:03] nvanbenschoten opened #32814 "roachtest: create new test that creates contention, dependency chains, and deadlocks"
Inspired by #32582.

We should have a roachtest that runs nightly and stresses the kinds of scenarios that we saw bring down adriatic in the referenced issue. One idea would be to run `kv` with a relatively small `--cycle-length` (e.g. `256`), a moderate `--batch` size (e.g. `16`), and a high `--concurrency` (e.g. `72`). The keyspace would be split up to some fraction of the `--cycle-length` (e.g.

[2018-12-04 08:15] aizumoff commented on #32681
Here is the screenshot.
![image](https://user-images.githubusercontent.com/12845564/49428002-ec46bc00-f7b5-11e8-90e0-7a4dc571c1ac.png)

[2018-12-04 10:15] tbg opened #32815 "sentry: txn_coord_sender.go:1044: ManualRestart called on finalized txn: %s | roachpb.Transaction"
https://sentry.io/cockroach-labs/cockroachdb/issues/792103356/?referrer=webhooks_plugin

txn_coord_sender.go:1044: ManualRestart called on finalized txn: %s | roachpb.Transaction

github.com/cockroachdb/cockroach/pkg/internal/client.(*Txn).ManualRestart

type: *log.safeError
value: txn_coord_sender.go:1044: ManualRestart called on finalized txn: %s | roachpb.Transaction

[2018-12-04 13:42] dt commented on #32012
roachtest's `downloadStoreDumps` failed on its call to `mkdir && gsutil cp`, so probably a hiccup on google's side (or a disk/filesystem error on ours).

[2018-12-04 13:42] #32012 closed

[2018-12-04 13:47] tbg commented on #32511
Oof, this was worse than I thought. We just can't GC replicas which have no data but have a replicaID, and that was blocking snapshots forever. I think the only reasonable thing to do is to allow these snapshots (again): https://github.com/cockroachdb/cockroach/pull/32817

[2018-12-04 13:49] tbg commented on #26978
We're running various imports/restores against clusters of size 8 and 32, and that has turned up a number of issues that are now fixed (#31409). There's always more to do, but this issue is too general.

[2018-12-04 13:49] #26978 closed

[2018-12-04 13:53] tbg commented on #29035
Isn't this just

https://github.com/cockroachdb/cockroach/blob/18688614253b76c230eedb2a6e9aad80785b4522/pkg/gossip/gossip.go#L848-L860

I've been annoyed by that code before. The empty proto leaks into all consumers of Gossip. Feels like we should be able to teach Gossip that you can gossip an empty bytes slice as sort of a "tombstone" instead.

[2018-12-04 13:55] tbg commented on #28699
This is still happening, but no report from 2.1 (but a few from a 2.1-alpha release). Still feels like we can do more reporting here, for example report the size of the diff and which system keys, if any, it involves.

[2018-12-04 13:59] tbg commented on #10751
Also related: https://github.com/cockroachdb/cockroach/issues/28967

[2018-12-04 14:07] cockroach-teamcity commented on #30832
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 14:33] tbg commented on #32784
Got another one after 6s:
[crash3.txt](https://github.com/cockroachdb/cockroach/files/2644423/crash3.txt)

[2018-12-04 14:57] #32511 closed

[2018-12-04 15:02] tbg commented on #32699
I'm surprised you even got a functioning cluster with that setting. See https://github.com/cockroachdb/cockroach/issues/29336

[2018-12-04 15:04] tbg commented on #32800
Fixed by #32817

[2018-12-04 15:04] #32800 closed

[2018-12-04 15:12] tbg commented on #32760
Doesn't repro on gceworker and log looks OK. Going to try roachprod-stress (note that these failures are not under race)

[2018-12-04 15:20] tbg commented on #32547
Closing in anticipation of #32782.

[2018-12-04 15:20] #32547 closed

[2018-12-04 15:33] danhhz commented on #32813
Huh, it passes `timeutil.Now().UnixNano()`. I've never seen this before, so maybe it's something very rare, but there's no reason we couldn't subtract a second from that time as insurance.

[2018-12-04 15:33] tbg commented on #32760
I think that hunch is correct. The test isn't OOMing and also has much higher throughput (a stable ~400 iters/minute as opposed to 280 for the first minute and then basically nothing towards the end).

Optimistically closing.

[2018-12-04 15:33] #32760 closed

[2018-12-04 15:36] tbg commented on #32604
#32608 has landed so I think this should close. Please reopen if not.

[2018-12-04 15:36] #32604 closed

[2018-12-04 15:48] tbg commented on #32706
Quick repro via `make roachprod-stress CLUSTER=tobias-stress TESTS=TestNodeLivenessStatusMap PKG=github.com/cockroachdb/cockroach/pkg/storage TESTTIMEOUT=5m STRESSFLAGS='-timeout 10m' 2>&1 | tee /tmp/stress.log`. (5 nodes)

[2018-12-04 16:12] cockroach-teamcity opened #32820 "roachtest: schemachange/index/tpcc-100 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 16:37] cockroach-teamcity opened #32821 "roachtest: schemachange/mixed/kv failed"
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 16:40] jordanlewis commented on #32781
I forgot that we run benchmarks on unit tests.

[2018-12-04 16:48] cockroach-teamcity opened #32823 "roachtest: sysbench/oltp_delete/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 16:49] cockroach-teamcity commented on #31948
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 16:54] cockroach-teamcity opened #32824 "roachtest: sysbench/oltp_insert/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 16:56] cockroach-teamcity opened #32825 "roachtest: sysbench/oltp_point_select/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 17:00] cockroach-teamcity opened #32826 "roachtest: sysbench/oltp_update_non_index/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 17:47] #32823 closed

[2018-12-04 17:47] #32824 closed

[2018-12-04 17:47] #32825 closed

[2018-12-04 17:47] #32826 closed

[2018-12-04 17:50] nvanbenschoten commented on #32204
I remember looking into this and not seeing anything past what you noted above. This could be related to https://github.com/cockroachdb/cockroach/issues/32641.

[2018-12-04 17:57] danhhz commented on #32799
Here's a graph with the difference between (1) and and a prototype of (2). Ignore the small spikes, they're from shutting my laptop while commuting.

<img width="1351" alt="screen shot 2018-12-04 at 9 57 15 am" src="https://user-images.githubusercontent.com/52528/49462482-0202b400-f7ab-11e8-9350-0eeab3fc72e7.png">

[2018-12-04 18:36] #32408 closed

[2018-12-04 18:36] #32706 closed

[2018-12-04 19:09] cockroach-teamcity commented on #32135
SHA: https://github.com/cockroachdb/cockroach/commits/e6cb0c5c329617b560eee37527248171b5e06382

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1038478&tab=buildLog

[code]

[2018-12-04 19:43] rolandcrosby commented on #21291
@nstewart Have you seen any behavior like this recently? @awoods187 you do a lot of restores in your testing, is this something you've encountered lately?

[2018-12-04 19:50] mjibson commented on #30505
Nope. But I also haven't been pausing anything recently.

[2018-12-04 20:04] cockroach-teamcity opened #32829 "teamcity: failed test: TestGenerateSubzoneSpans"
The following tests appear to have failed on master (testrace): TestGenerateSubzoneSpans

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestGenerateSubzoneSpans).

[#1039998](https://teamcity.cockroachdb.com/viewLog.html?buildId=1039998):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-04 20:04] cockroach-teamcity opened #32830 "teamcity: failed test: 05"
The following tests appear to have failed on master (testrace): 05/ParseTimestamp

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+05).

[#1039998](https://teamcity.cockroachdb.com/viewLog.html?buildId=1039998):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-04 20:58] vivekmenezes commented on #32499
[code]

The index backfill is seeing the error which then triggers a failure. I need to see why this error is escaping to the client

[2018-12-04 21:07] tbg opened #32834 "sentry: conn_executor.go:639: panic while executing 1 statements: UPSERT INTO _(_, _) VALUES ($1, $2), (__more4000__): caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/793275147/?referrer=webhooks_plugin

conn_executor.go:639: panic while executing 1 statements: UPSERT INTO _(_, _) VALUES ($1, $2), (__more4000__): caused by <redacted>

github.com/cockroachdb/cockroach/pkg/sql.(*Server).ServeConn.func1

type: *log.safeError
value: conn_executor.go:639: panic while executing 1 statements: UPSERT INTO _(_, _) VALU

[2018-12-04 21:09] petermattis commented on #31970
This has passed without failure for over a month: https://teamcity.cockroachdb.com/project.html?projectId=Cockroach_Nightlies&testNameId=349437492942068106&tab=testDetails

Time to close?

[2018-12-04 21:09] petermattis commented on #31744
This has passed without failure for over a month: https://teamcity.cockroachdb.com/project.html?projectId=Cockroach_Nightlies&testNameId=6826572894702120813&tab=testDetails

Time to close?

[2018-12-04 21:18] a-robinson commented on #31744
SGTM.

[2018-12-04 21:18] #31744 closed

[2018-12-04 21:18] a-robinson commented on #31970
SGTM.

[2018-12-04 21:18] #31970 closed

[2018-12-04 21:31] BrentKerbySnap commented on #32834
Hi, I observed this crash. I was experimenting with CockroachDB in a Kubernetes cluster and was doing a bulk insert process when I saw two (out of three) CockroachDB pods had container restarts. Some context which may or may not be relevant: I had recently decreased the cluster size from 6 to 3, by scaling down the StatefulSet replicas one at a time and waiting for the Admin UI to show 0 under-rep

[2018-12-04 21:33] blkerby commented on #32834
Hi, I observed this crash. I was experimenting with CockroachDB in a Kubernetes cluster and was doing a bulk insert process when I saw two (out of three) CockroachDB pods had container restarts. Some context which may or may not be relevant: I had recently decreased the cluster size from 6 to 3 (which explains the failed connection attempts in the logs below), by scaling down the StatefulSet repli

[2018-12-04 21:42] jordanlewis commented on #32834
@knz can you PTAL?

[2018-12-04 21:57] #31900 closed

[2018-12-04 23:43] knz commented on #32786
@netice CockroachDB does not currently support correlated subqueries in combination with mutation statements (INSERT/UPSERT etc).

This is planned to be introduced in CockroachDB 2.2.

[2018-12-04 23:44] knz commented on #32786
cc @andy-kimball can you consider adding this to the CBO test suite for UPDATE, so that when the PR lands that adds the planning for UPDATE we can close this issue.

[2018-12-04 23:50] knz commented on #32776
Dear @pmneo,

short answer: you are requesting a behavior that's specific to the READ COMMITTED isolation level. CockroachDB only supports SERIALIZABLE.

Long answer:

The transaction interleaving that you mentions requires txn 1 to fail atomicity (the A in ACID), and txn 2 to fail isolation (the I in ACID).

In other words, the scenario you are suggesting requires a database that does not support

[2018-12-04 23:53] knz commented on #32715
we can provide a value encoding for these, but I suppose a key encoding is not possible.

[2018-12-04 23:56] knz commented on #32736
I think there is an issue somewhere for a related problem: if logging to stderr, and the stderr stream is blocked (eg piped through `less`), the server will become unavailable when the logging blocks.

[2018-12-05 00:05] petermattis commented on #29035
Oh, good point. I always forget about this code.

[2018-12-05 00:10] petermattis commented on #29035
Note that we already have some detection of this empty node descriptors:

[code]

[2018-12-05 02:01] petermattis commented on #29035
Hmm, it's likely problematic that the empty description detection code is preceded by:

[code]

So in most (all) cases it is having no effect.

[2018-12-05 04:10] vivekmenezes commented on #32499
Another run with a better error

[code]

[2018-12-05 06:32] cockroach-teamcity opened #32839 "roachtest: backupTPCC failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 06:32] cockroach-teamcity opened #32840 "roachtest: cancel/tpcc/distsql/w=10,nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 06:36] cockroach-teamcity opened #32841 "storage: TestReplicateQueueRebalance failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040639&tab=buildLog

[code]

[2018-12-05 06:41] cockroach-teamcity opened #32842 "roachtest: backup2TB failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 08:30] victorggsimida commented on #30840
## 1. show create table
[code]

## 2. run create table like again

[code]

[2018-12-05 08:33] victorggsimida commented on #32765
@lanzao  as a MySQL user.

when I face this problem, I think this is unbelievable.

Only if normal user with grant role command ,can create database.

But the grant role is enterprise.....  It means no way to solve this problem with community version

[2018-12-05 09:12] pmneo commented on #32776
@knz Thanks for your answer.

This helps to understand why my process does not work.

Let me try to explain my process and why reworking this may result in a huge performance issue or deadlock:

The first (many parallel) transactions creates or updates business objects. This bo's may contain adresses or products. The second process matches the containing adresses and products against the known one

[2018-12-05 10:12] tbg opened #32843 "storage: no way to replicaGC an uninitialized range"
An uninitialized range is one that has no data but has a replicaID. They're the result of rebalancing to a node when the preemptive snapshot gets lost (i.e. accidentally gets deleted prematurely), and are usually resolved via a Raft snapshot.

However, consider a rapid up-down-rebalance scenario in which a replica is added in this state but then immediately removed from the range. This can lead to

[2018-12-05 11:39] knz commented on #32811
@petermattis @jordanlewis here's another area of the product where I do not exactly know how to triage. Do you have suggestions?

[2018-12-05 11:41] knz commented on #30774
@benesch @bdarnell  do we have a process in place to periodically update dependencies?

[2018-12-05 11:42] knz commented on #32766
Hi @zhengxiaochuan-3, since there is not much more we can do from our side on this issue, I will close it for the time being.
Again I want to remind you we are interested to know your experience using CockroachDB on 64-bit MIPS, which we have never tried before. Feel free to open new issues on github if you encounter new problems.
Thank you

[2018-12-05 11:42] #32766 closed

[2018-12-05 11:46] RaduBerinde commented on #32776
@pmneo I would be interested in understanding the exact details and help figure out the best way to achieve your goals. My hunch is that using READ COMMITTED (with some other database) might cause other, more subtle issues, so that would be interesting to determine as well.

Can you provide more details on "The second process matches the containing adresses and products against the known ones."? (

[2018-12-05 12:13] RaduBerinde commented on #30774
I don't think so. I was planning to do it this time but forgot about it. I'll try to get to it.

[2018-12-05 12:13] knz commented on #19309
I think this by and large has been completed.

[2018-12-05 12:13] #19309 closed

[2018-12-05 12:17] tbg commented on #30774
We need to audit all the commits we're picking up. I remember that @tamird had some script to do this automatically. @tamird, do you remember where that went?

[2018-12-05 12:35] benesch commented on #30774
Are you thinking of github.com/dt/depdiff?

On Wed, Dec 5, 2018 at 7:17 AM Tobias Grieger <notifications@github.com>
wrote:

[2018-12-05 13:14] bobvawter opened #32844 "sql: release-2.4: finish changing INT size (#26925)"
Placeholder issue for final cleanups to remove the INT8/INT4 toggles from #26925

Jira issue: CRDB-4713

[2018-12-05 13:44] tbg commented on #32842
cc @dt this looks like https://github.com/cockroachdb/cockroach/issues/32012, wonder why these failures are happening now.

[2018-12-05 13:56] tbg commented on #30774
That's exactly it, thanks!

[2018-12-05 14:33] tbg commented on #32736
@knz it's https://github.com/cockroachdb/cockroach/issues/7646, folded into https://github.com/cockroachdb/cockroach/issues/7882

[2018-12-05 14:35] bobvawter opened #32846 "sql: SET default_int_size does not take effect until the next statement batch is parsed"
Tracking issue to follow on option 2 of https://github.com/cockroachdb/cockroach/issues/26925#issuecomment-442054112

For docs:

[2018-12-05 14:35] tbg commented on #21291
I'd expect this to have been fixed by #32594.

[2018-12-05 14:35] #21291 closed

[2018-12-05 14:37] tbg commented on #32840
ssh: Could not resolve hostname : Name or service not known

[2018-12-05 14:37] #32840 closed

[2018-12-05 14:47] tbg commented on #32499
I took a cursory look at the backfill code and I don't really know how it works, but looking at the code inside of

https://github.com/cockroachdb/cockroach/blob/243c966d4461bfa082415d7001f899f92176f383/pkg/sql/backfill.go#L334-L342

If I traced the plan creation right, depending on what the test is doing we end up in something like this:

https://github.com/cockroachdb/cockroach/blob/243c966d4461

[2018-12-05 15:00] justinj opened #32847 "release: v2.0.7"
Candidate SHA: 7527d65d98e2ffa6d7d4de945d234876bd0b76a9.
Deployment status: `justin-release-207`
Nightly Suite: [Passed](https://teamcity.cockroachdb.com/viewLog.html?buildId=1041750&buildTypeId=Cockroach_Nightlies_NightlySuiteFor20&tab=buildResultsDiv).

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: December 5, 2018
- [x] [Pick a sha](https

[2018-12-05 15:06] #32582 closed

[2018-12-05 15:23] RaduBerinde commented on #30774
Great! I will try to do it in multiple batches, and separate out the more important packages (like gRPC), so we can at least bisect if there's a problem.

[2018-12-05 15:30] petermattis commented on #30774
Note that @benesch and I are bumping RocksDB (which is a massive pain).

[2018-12-05 15:35] pmneo commented on #32776
The main goal is to ensure, that a specific address or product is a singleton. Such one is immutable. That means an address will be created or deletet. You can imagine my process like a service. If i detect an address, the specfic service will be maintained to give me the single instance of it. While this process the address will be searched and if such one does not exists it will be created.

A B

[2018-12-05 15:39] RaduBerinde commented on #30774
Strange, `dep-diff-parser` reports this, of which there is no trace in the Gopkg.lock file:
https://github.com/GoogleCloudPlatform/google-cloud-go/compare/0fd7230b...0ebda48a

[2018-12-05 15:39] andreimatei commented on #32499
The wrapped error looks like a ConditionFailedError from a cput. I'd log
the stack trace from that error's ctor to see exactly where it's coming
from and whether there's a TxnCoordSender in the stack.

On Wed, Dec 5, 2018, 9:47 AM Tobias Grieger <notifications@github.com wrote:

[2018-12-05 15:43] RaduBerinde commented on #30774
Oh, I see, it's a github mirror, never mind.

[2018-12-05 16:09] tbg commented on #32499
The error is probably from an InitPut (that also returns ConditionFailedError). Adding the stack trace SGTM, but it won't be useful if the request is coming from a remote node (though it probably isn't).

@vivekmenezes it'd be helpful to know if I was looking at the correct code there or not. I did a rough audit of the sql code and didn't find any obvious offenders.

[2018-12-05 16:30] vivekmenezes commented on #32499
@andreimatei will rerun with your idea to log the stack

[2018-12-05 16:34] tbg commented on #24067
I checked that v2.0.0 didn't have any of the known bugs (ignoring PreVote candidacy, etc), so I don't know what was going on here.

I ran the roachtest I wrote in #32845 in a mode where it leaves n3 decommissioned (just skip the recommissioning step) and the replica count drops to zero quickly, so I have some confidence that this isn't some obvious problem (though perhaps we did fix something from

[2018-12-05 16:35] danhhz commented on #28358
FYI, I ran some tests last week to see the performance impact of disabling TBIs on changefeeds. Not sure it's workable. https://github.com/cockroachdb/cockroach/issues/32799

Testing the normal iterator workaround seems annoying, but the patch is pretty straightforward. Whenever you see an intent in MVCCIncrementalIterator, look up the intent key with a normal iterator. If it doesn't exist, skip t

[2018-12-05 16:35] tbg commented on #25131
I checked that v2.0.0 didn't have any of the known bugs (ignoring PreVote candidacy, etc), so I don't know what was going on here.

I ran the roachtest I wrote in #32845 in a mode where it leaves n3 decommissioned (just skip the recommissioning step) and the replica count drops to zero quickly, so I have some confidence that this isn't some obvious problem (though perhaps we did fix something from

[2018-12-05 16:36] tbg commented on #32499
Thanks Vivek. Since it's running at non-gateway nodes, there's a good chance you're only going to learn that the request comes from a remote node. I would add the call stack to the creation of the `MixedSuccessError` instead. That's in dist_sender.go.

[2018-12-05 16:41] cockroach-teamcity commented on #32820
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 16:47] tim-o commented on #32765
@victorggsimida - I've changed this to an enhancement request. We have not yet implemented postgres's solution to this, `ALTER USER <> CREATEDB;` Until that's implemented, only the root user will be able to create databases in our Core version. We haven't received many requests to add this functionality, but our product team is tracking the feature potentially for 2.2.

[2018-12-05 17:29] cockroach-teamcity opened #32854 "roachtest: sysbench/oltp_delete/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 17:36] cockroach-teamcity opened #32855 "roachtest: sysbench/oltp_insert/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 17:42] cockroach-teamcity opened #32856 "roachtest: sysbench/oltp_point_select/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 17:46] cockroach-teamcity opened #32857 "roachtest: sysbench/oltp_update_non_index/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 18:05] cockroach-teamcity opened #32858 "teamcity: failed test: TestStoreMetrics"
The following tests appear to have failed on release-2.1 (test): TestStoreMetrics

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestStoreMetrics).

[#1041900](https://teamcity.cockroachdb.com/viewLog.html?buildId=1041900):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-05 18:12] cockroach-teamcity opened #32859 "roachtest: restore2TB/nodes=10 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9c467231c32529dce5ec9236dcc1603fab5cbcd1

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1040422&tab=buildLog

[code]

[2018-12-05 18:42] #22275 closed

[2018-12-05 18:42] eriktrinh commented on #22275
Added immutable and mutable table descriptor in #32603 and #31794.

[2018-12-05 19:02] a-robinson commented on #28358
That's quite the understatement.

[2018-12-05 19:52] ajwerner commented on #32367
This seems to be exactly what is happening, there is so much contention on the various mutexes that the replica cannot make progress, leading to raft command processing taking 10s-100s of ms each which. The stall lasts until the current lease holder is able to process the lease change and depending on how many entries the current lease holder needs to process, this can take minutes.

[code]

We ca

[2018-12-05 20:46] nvanbenschoten commented on #32499
We don't expect it to leak out of a sender stack that includes a TxnCoordSender. Perhaps we were talking to a DistSender directly here or through a `NonTransactionalSender`.

[2018-12-05 20:47] nvanbenschoten commented on #32499
It might also be possible if we have refreshed more than `maxTxnRefreshAttempts` times and hit https://github.com/cockroachdb/cockroach/blob/84f5bcb232d487075aea4d312b95494dd63d8545/pkg/kv/txn_interceptor_span_refresher.go#L168

@vivekmenezes if you're adding logging in to detect this, could you throw a log in to that condition to detect `if pErr != nil && maxRefreshAttempts == 0 {`?

[2018-12-05 20:50] #32857 closed

[2018-12-05 20:50] #32856 closed

[2018-12-05 20:50] #32855 closed

[2018-12-05 20:50] #32854 closed

[2018-12-05 21:58] lucy-zhang opened #32874 "sql: SCRUB reports incorrect key ordering errors"
For indexes containing more than one column, `SCRUB` incorrectly reports an `index_key_decoding_error` during a `PHYSICAL` check table scan whenever it detects a value in a column that is earlier in sorted order than the value in the previous row.

In the below example, the `val` column is not in sorted order because it's not the first column in the primary key:

[code]

The logic in https://githu

[2018-12-05 22:33] m-schneider commented on #30507
Thanks, will do!

[2018-12-05 22:50] sentry-io[bot] opened #32875 "*log.safeError: txn_coord_sender.go:1044: ManualRestart called on finalized txn: %s | roachpb.Transaction"
It would seem that a connection closing while a parallel stmt is running can somehow cause a crash.

Crash from 2.1.0:
Sentry Issue: [COCKROACHDB-P8](https://sentry.io/cockroach-labs/cockroachdb/issues/792103356/?referrer=github_integration)

[code]

[2018-12-05 23:06] andy-kimball opened #32876 "distsql: Incorrect results when executing VALUES statement with IPAddr values"
Use logic test to repro:
[code]
EXPECTED: The test should pass.
ACTUAL: The test fails, with this output:
[code]

Note that this "equivalent" query returns the expected results:
[code]

[2018-12-05 23:47] piyush-singh opened #32879 "ui: Databases page does not show size of data in ycsb table with 10k rows"
**Describe the problem**

First found by @timveil-cockroach. When running YCSB workload A, the usertable table has around 10k records, however the table looks completely empty based on the size listed on the /databases page.

**To Reproduce**

1. Start docker
2. git remote add timveil https://github.com/timveil-cockroach/cdc-example.git
3. git fetch timveil
4. ./run.sh
5. Open localhost:8080 and o

[2018-12-05 23:48] piyush-singh commented on #32879
Also cc @couchand for visibility

[2018-12-06 02:01] derkan opened #32880 "Cluster is unresponsive after running big UPDATE"
**Describe the problem**
DB Version: v2.1.0

Not to face  issue #32524, I created a new column with a new family with name `content_`:

[code]
And started to copy data from column `content` to `content_` from local connection(`cockroach sql`):

[code]

This table's size is 50gb, mostly data is in this `content` column.

After 8 hours, `update` statement failed with `bad connection`, but at backgro

[2018-12-06 02:37] awoods187 opened #32882 "opt: Support remaining read-only queries with Cost-Based Optimizer"
Support all read-only queries with Cost-Based Optimizer instead of the heuristic planner

[2018-12-06 02:40] awoods187 opened #32884 "opt: Support all mutations/CRUD queries with Cost-Based Optimizer"
Support all mutations/CRUD queries with Cost-Based Optimizer instead of the heuristic planner

[2018-12-06 02:45] awoods187 opened #32885 "opt: automatically reorder joins using the cost-based optimizer"
Automatically reorder joins using the cost-based optimizer such that it picks the best plan regardless of the original order proposed by the queries.

Add a flag that allows the user to set reordering = 0 to respect the order of the queries as written.

[2018-12-06 02:46] awoods187 commented on #19117
I'm splitting join reordering off into https://github.com/cockroachdb/cockroach/issues/32885 and renaming this to focus on hints

[2018-12-06 02:54] awoods187 opened #32886 "opt: Support a query plan cache"
Support a query plan cache to improve performance

[2018-12-06 02:56] awoods187 opened #32887 "sql: Support logical schemas"
Support logical schemas to enable PG compatibility, microservices, and multi-tenancy

[2018-12-06 03:21] vivekmenezes commented on #32499
This does look like a problem of a MixedSuccessError being returned within another MixedSuccessError. See

[code]

[2018-12-06 03:32] vivekmenezes commented on #32499
Let me rerun the test with a change that doesn't wrap one of these MixedSuccessError within another.

[2018-12-06 04:37] couchand commented on #32879
My first thought is  #22944

[2018-12-06 06:11] cockroach-teamcity opened #32889 "ccl/partitionccl: TestGenerateSubzoneSpans failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/91b11dae416f3d9b55fadd2a4b096e94d874176c

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042784&tab=buildLog

[code]

[2018-12-06 06:23] nvanbenschoten opened #32890 "release: v2.1.2"
Candidate SHA: 8d807ce49978c46ed4daa03e6dbca5b2b5acfcc1
Deployment status: `adriatic`, `omega`.
Nightly Suite: [Nightly](https://teamcity.cockroachdb.com/viewLog.html?buildId=1042724&buildTypeId=Cockroach_Nightlies_NightlySuite).

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `2018-12-05`
- [x] [Pick a sha](https://github.com/cockroachdb/coc

[2018-12-06 06:43] zhengxiaochuan-3 commented on #32766
@knz

I am still building cockroachdb on mips follow CONTRIBUTING.md ,
got another error , maybe the last one??   :(

[root@localhost cockroach]# make build
Running make with -j4
GOPATH set to /root/go
go build -o cockroach -v  -tags ' make mips64el_neokylin_linux' -ldflags '-X github.com/cockroachdb/cockroach/pkg/build.typ=development -extldflags "" -X "github.com/cockroachdb/cockroach/pkg/build.

[2018-12-06 06:54] zhengxiaochuan-3 commented on #32766
It`s a empty file ....  , delete the node: // Empty assembly file to allow go:linkname to work.

[2018-12-06 07:28] happysheeprunning opened #32893 "run cockroachdb failed on mips64el + centos server"
cockroach start hang , no node info print like https://www.cockroachlabs.com/docs/stable/start-a-local-cluster.html
[code]

no port listening on server :
[code]

[2018-12-06 07:29] happysheeprunning commented on #32893
#32891

[2018-12-06 09:54] derkan commented on #32524
Hi,
Not to face this `split failed while applying backpressure` in other CRDB cluster in v2.1.0, I tried to move columns to another column family, but cluster is now not stable.(#32880) `select id from requests limit 1` works, but `select count(*) from requests` waits forever.
This is PROD db, and after 14 hours db is still not stable with errors:

`snapshot failed: aborting snapshot because raft

[2018-12-06 10:46] cockroach-teamcity opened #32894 "roachtest: interleavedpartitioned failed"
SHA: https://github.com/cockroachdb/cockroach/commits/91b11dae416f3d9b55fadd2a4b096e94d874176c

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042756&tab=buildLog

[code]

[2018-12-06 11:53] knz commented on #32893
can you run `cockroach start --insecure --logtostderr` and paste the result?

[2018-12-06 12:11] knz commented on #32776
You can use UPSERT in different transactions to populate your table. Have you tried this?

[2018-12-06 12:13] knz commented on #32887
Dup  #26443

[2018-12-06 12:13] #32887 closed

[2018-12-06 12:19] cockroach-teamcity opened #32895 "roachtest: import/tpch/nodes=32 failed [release-2.1]"
SHA: https://github.com/cockroachdb/cockroach/commits/1146a03cc217cb57bdddd795e2d2fe2806c64985

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042719&tab=buildLog

[code]

[2018-12-06 12:35] derkan opened #32896 "storage: stuck in MVCCScan despite disk i/o seemingly working"
**Describe the problem**

CockroachDB version 2.1.0 on 3+1 nodes cluster.

- I added a new node to cluster(node4).
- I started to decommission node 2 with:
[code]

But after hours, node 2 is not decommissioned yet.

Current status:
[code]

Node 3 has these messages in log:

[code]

this is from report for error `E181206 12:15:34.652848 1400376 storage/queue.go:793  [n3,replicate,s3,r895/2:/System/

[2018-12-06 12:58] knz commented on #32880
@nvanbenschoten this is the issue that goes with #32524.

[2018-12-06 13:06] knz commented on #32896
@tbg for triage

[2018-12-06 13:13] pmneo commented on #32776
No i haven't tried this yet, because i'm using jpa / eclipselink.

[2018-12-06 13:29] priyankajax opened #32897 "during sideloading: IO error: Failed to create a NewWriteableFile"
**Describe the problem**

Please describe the issue you observed, and any steps we can take to reproduce it:

**To Reproduce**

What did you do? Describe in your own words.

If possible, provide steps to reproduce the behavior:

1. Set up CockroachDB cluster ...
2. Send SQL ... / CLI command ...
3. Look at UI / log file / client app ...
4. See error

**Expected behavior**
A clear and concise descr

[2018-12-06 13:32] knz commented on #32897
@priyankajax what did you do before the error happened? what SQL statement did you send to CockroachDB?

[2018-12-06 13:34] knz commented on #32897
@tim-o please qualify further

[2018-12-06 13:41] cockroach-teamcity opened #32898 "roachtest: import/tpch/nodes=8 failed [release-2.1]"
SHA: https://github.com/cockroachdb/cockroach/commits/1146a03cc217cb57bdddd795e2d2fe2806c64985

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042719&tab=buildLog

[code]

[2018-12-06 14:32] tbg commented on #32896
Hi @derkan, thanks for your report. Could you paste a screenshot of the `/#/metrics/queues/cluster` page in the ui? Make sure that the "Replicate Queue" and "Raft Snapshot Queue" graphs are visible.

Also, do you have any `/#/reports/problemranges`? If so, please include the Range Status page for each of them (or a few of them if there are too many).

It would also help if you could send along `./

[2018-12-06 14:36] tbg commented on #24068
Closing for #24067 (which in turn is about to be closed by #32845). @a-robinson could you take a look to confirm that what you're describing above is close enough to what I did?

I suspect the note at the end of your post explains a question I had on the PR, so thanks for that.

[2018-12-06 14:36] #24068 closed

[2018-12-06 14:51] tbg commented on #32898
release-2.1. That's still expected to fail there, though I'm going to have to backport some subset of changes that fixes this.

[2018-12-06 15:27] cockroach-teamcity opened #32900 "roachtest: import/tpch/nodes=4 failed [release-2.1]"
SHA: https://github.com/cockroachdb/cockroach/commits/1146a03cc217cb57bdddd795e2d2fe2806c64985

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042719&tab=buildLog

[code]

[2018-12-06 15:31] bdarnell commented on #32285
Should be fixed by #32812

[2018-12-06 15:31] #32285 closed

[2018-12-06 15:48] #32777 closed

[2018-12-06 15:56] tbg commented on #32900
release-2.1.

[2018-12-06 16:03] andreimatei commented on #32875
I looked at this briefly yesterday and didn't immediately see why a closing connExec would cause this. My hope is that it'll repro if you block a parallel statement.
In any case, it might be that the days of the parallel stmt queue (which is calling that ManualRestart) are numbered.

[2018-12-06 16:28] cockroach-teamcity opened #32902 "roachtest: scaledata/filesystem_simulator/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1146a03cc217cb57bdddd795e2d2fe2806c64985

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042719&tab=buildLog

[code]

[2018-12-06 16:39] cockroach-teamcity commented on #32820
SHA: https://github.com/cockroachdb/cockroach/commits/91b11dae416f3d9b55fadd2a4b096e94d874176c

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042756&tab=buildLog

[code]

[2018-12-06 16:56] cockroach-teamcity commented on #32820
SHA: https://github.com/cockroachdb/cockroach/commits/1146a03cc217cb57bdddd795e2d2fe2806c64985

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042719&tab=buildLog

[code]

[2018-12-06 17:09] cockroach-teamcity commented on #32821
SHA: https://github.com/cockroachdb/cockroach/commits/91b11dae416f3d9b55fadd2a4b096e94d874176c

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042756&tab=buildLog

[code]

[2018-12-06 17:12] nvanbenschoten commented on #32524
@derkan is `SET CLUSTER SETTING kv.range.backpressure_range_size_multiplier=0;` still set? How long did you run with that value set before attempting this schema change?

Could you provide a [`debug zip`](https://www.cockroachlabs.com/docs/v2.1/debug-zip.html#synopsis) from your cluster?

[2018-12-06 17:23] tbg commented on #32499
Thanks @vivekmenezes. The problem in a picture:

![image](https://user-images.githubusercontent.com/5076964/49600462-8c9e0b80-f983-11e8-871f-d2511d5ba6b8.png)

`divideAndSendBatchToRanges` calls `sendPartialBatch` (when it thinks it hits only one range) which recurses into `divideAndSendBatchToRanges` when it hits a `RangeKeyMismatchError`.

This code would be a lot better if it didn't do that, bu

[2018-12-06 17:41] vivekmenezes commented on #32499
let me try a refactor before we do that.

[2018-12-06 17:58] ajwerner opened #32905 "cli: `debug zip` should collect kernel information"
A recent incident was tracked down to be related to a buggy kernel. It would be valuable to collect kernel information when creating a debug zip. It's probably as simple as writing the output of `uname -a` to a file in the zip.

[2018-12-06 18:16] tbg opened #32906 "server: should warn when running with known kernel bugs"
We encountered an issue today (stuck timers) that was traced down to a kernel bug:

Problem appears on the 4.13.0-45 kernel
lore.kernel.org/lkml/tip-1f71addd34f4c442bec7d7c749acc1beb58126f2@git.kernel.org is the fix

There was also another old kernel that caused networking issues (@nvanbenschoten do you remember/can you retrieve the patch fixing that one? Something about "riding the rocket" in dme

[2018-12-06 18:16] tbg commented on #32905
Even better would be if we could [warn if vulnerable](https://github.com/cockroachdb/cockroach/issues/32906), though that shouldn't get in the way of this.

[2018-12-06 18:25] cockroach-teamcity opened #32907 "roachtest: schemachange/index/tpcc-1000 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1146a03cc217cb57bdddd795e2d2fe2806c64985

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042719&tab=buildLog

[code]

[2018-12-06 18:31] happysheeprunning commented on #32893
[code]

[2018-12-06 18:55] alexevon commented on #27837
I have the same issue.  Just installed cockroachDB 2.1.1 and running .NET core 2.1 with the example code on:

https://www.cockroachlabs.com/docs/stable/build-a-csharp-app-with-cockroachdb.html

Cockroach itself appears fine as we imported a test mariaDB database into with with ZERO issues (great job btw!), but trying out the C# code from above results in:

cockroachdb-test-app# dotnet run
Initial

[2018-12-06 19:11] alexevon commented on #27837
<ItemGroup>
    <PackageReference Include="Npgsql" Version="4.0.3" />
  </ItemGroup>

[2018-12-06 19:12] derkan commented on #32524
Hi Nathan,
I am not sure about time but it may be a week. Today I set its value back to 2.
I've send logs to your e-mail.
Thank you.

[2018-12-06 19:13] nvanbenschoten commented on #32906
Yeah, this is related to https://github.com/cockroachdb/cockroach/issues/20311. We can close one of them in favor of the other.

[2018-12-06 19:40] alexevon opened #32910 "DOTNET 2.1 with CockroachDB 2.1.1 using Npgsql 4.0.3"
Just installed cockroachDB 2.1.1 and running .NET core 2.1 with the example code on:

https://www.cockroachlabs.com/docs/stable/build-a-csharp-app-with-cockroachdb.html

Cockroach itself appears fine as we imported a test mariaDB database into with ZERO issues (great job btw!), but trying out the C# code from above results in:

cockroachdb-test-app# dotnet run
Initial balances:

Unhandled Exceptio

[2018-12-06 19:48] cockroach-teamcity commented on #32135
SHA: https://github.com/cockroachdb/cockroach/commits/1146a03cc217cb57bdddd795e2d2fe2806c64985

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1042719&tab=buildLog

[code]

[2018-12-06 20:16] nvanbenschoten commented on #32902
This looks like https://github.com/cockroachdb/cockroach/issues/32204. Hopefully we can pull more out of the logs.

[2018-12-06 20:22] nvanbenschoten commented on #32902
We see that a number of connections got stuck and all finally went through at `16:26:35`. The final connection failure took long enough that it exceeded the 5m max retry limit.

[code]

[2018-12-06 20:33] nvanbenschoten commented on #32902
`n1` was killed at the same time that these retries were released, so like #32204, it looks like they were stuck on `n1` doing something for their entire duration.

[code]

[2018-12-06 20:35] nvanbenschoten commented on #32902
There's nothing interesting in `n1`'s logs during the period that these queries were stuck.

[2018-12-06 20:39] nvanbenschoten commented on #32902
Each of these stuck queries was issued while either `n2` or `n3` was down, so the definitely have to do with `n1`'s interaction with dead nodes.

[2018-12-06 20:41] nvanbenschoten commented on #32902
The symptoms here are identical to those in #32204, so I'm collapsing it into that.

[2018-12-06 20:41] #32902 closed

[2018-12-06 20:41] nvanbenschoten commented on #32204
I think the next steps will be to try to reproduce this with `debug/requests` tracing on. We should modify the chaos agent to only kill `n2` and `n3` and leave `n1` alone, at least for most of the run.

[2018-12-06 20:51] cockroach-teamcity opened #32912 "teamcity: failed test: TestValidations"
The following tests appear to have failed on master (testrace): TestValidations, TestValidations/rangefeed, TestValidations/rangefeed: TestValidations/rangefeed/bank

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestValidations).

[#1044311](https://teamcity.cockroachdb.com/viewLog.html?buildId=1044311):

[code]

Please assign, take

[2018-12-06 20:55] vilterp commented on #21239
This page is deleted in #32865

[2018-12-06 20:55] #21239 closed

[2018-12-06 20:56] vivekmenezes commented on #32499
Updated the commit message on #32888. This seems like the correct fix for now.

[2018-12-06 21:04] melskyzy opened #32914 "CDC experimantal_avro message encoding"
**Describe the problem**
When testing the CDC with experimental_avro, I received the following (while for other formats all the messages are readable):
   	    NAME 11
    ,	    ,NAME 22
    J	    JNAME 37
    l	    lNAME 54
    €	    €NAME 64
    „	    „NAME 66
    ¢	    ¢NAME 81
    ¦	    ¦NAME 83
    Æ	    ÆNAME 99
    à	    àNAME 112
     

[2018-12-06 21:22] BramGruneir commented on #8855
I just hit this using ECTO's migrate.  Looks like we should press forward and get this fixed, seems like a relatively easy win, since there is no worry about a constraint violation on a new column.

This isn't a problem that a user would encounter when running queries directly, but is a problem that most migration tools could hit.

[2018-12-06 21:32] #32874 closed

[2018-12-06 21:33] vivekmenezes opened #32916 "sql: Show the schema change state machine changes in the jobs table"
Sometimes the schema change state machine hangs because it is waiting on older leases on descriptors to be released. It will be valuable to see the current state of a schema change and potentially the leases it is waiting on. Currently the system is quite opaque about the state machine and only reports on progress after the state machine has run and the system is backfilling.

A similar solution w

[2018-12-06 21:33] vivekmenezes commented on #32916
@jordanlewis ^

[2018-12-06 21:37] vivekmenezes commented on #32254
This is becoming an important issue and I'm prioritizing to fix it before the new schema leasing system is built out.

[2018-12-06 21:38] BramGruneir commented on #32254
I just hit this too, on master, so it still exists.

The jobs pages shows that it's stuck in "Draining Names".

[2018-12-06 21:41] BramGruneir commented on #8855
Ah, this is the wrong issue.  I was looking at

ALTER TABLE ADD COLUMN with a REFERENCES column.

That unimplemented error links to this issue, but this is not the correct issue and I can't find the real issue for it.  I'll file one.

[2018-12-06 21:41] a-robinson commented on #32254
I ran into again yesterday when using our tooling for managing managed clusters.

[2018-12-06 21:43] nvanbenschoten commented on #32524
@derkan thanks for the email. I received it and am taking a look.

I see plenty of logs like:
[code]

7 Raft entries taking up more than 25MB is surprising. That's more than 3MB per entry. Do you have an estimate for how large these `content` columns are?

[2018-12-06 21:44] vivekmenezes commented on #32254
on it :-)

[2018-12-06 21:45] bladefist commented on #32254
I follow this issue, just to mention, this isn't strictly related to roles.  Granting users access to tables/databases will cause the same issue at times.

[2018-12-06 21:46] BramGruneir opened #32917 "sql: Support ALTER TABLE ADD COLUMN colname REFERENCES tablename(colname);"
This is currently unimplemented (and returns an error) but I don't think it would be hard to add.  There's no worry about violating the constraint since the column is new.

It also points to #8855, but that's not the correct issue.  So I'll send a PR to update the issue number to this one.

Assigning @vivekmenezes for triage.

[2018-12-06 21:48] nvanbenschoten commented on #32524
We also see nodes hitting the following condition and shutting themselves down:
https://github.com/cockroachdb/cockroach/blob/11405f234963fa7822aab97dbe19612853facb26/pkg/cli/start.go#L863-L864

[2018-12-06 22:03] tbg commented on #32897
Have to take a closer look, but this could be the same bug fixed in https://github.com/cockroachdb/cockroach/pull/32664 (fix not released, windows specific)

[2018-12-06 22:17] vivekmenezes commented on #32254
Yes, this issue is related to running the following actions:
1. Restarting the cockroach server
2. Running any schema change after that.

It has likely become more pronounced in 2.1 after https://github.com/cockroachdb/cockroach/pull/28725

[2018-12-06 22:18] ajwerner opened #32919 "cli: support non-standard filenames in `debug merge logs`"
As implemented in #32790, log files must conform to the naming scheme CRDB uses to write to disk. Users use different mechanism to write, store, and interact with logs leading to log files with wholly different naming conventions. This issue is a feature request to make the command for flexible to easily support merging files named with a different convention.

I imagine supporting a flag like `--

[2018-12-06 22:30] vivekmenezes commented on #32681
@aizumoff I've been staring at this problem for a bit now and am mystified as to how it could be happening. I can understand the CPU spike under the circumstances before and even after the cancel. But it is a mystery if the CPU spike is happening after ROLL BACK JOB has been declared succeeded as you are seeing.

The steps should be
1. Cancel job, job appears cancelled. Schema changer continues to

[2018-12-06 23:18] a-robinson commented on #24068
Yes, that test LGTM.

[2018-12-06 23:44] petermattis commented on #32708
Another option is to turn on core dumps for all roachtests and pull them on failure. That will at least give us more debuggability. I'm going to file an issue about doing so and close this as there isn't anything for us to go on.

[2018-12-06 23:47] petermattis opened #32921 "roachtest: make it easy to enable and gather core dumps"
https://github.com/cockroachdb/cockroach/issues/32708 shows a test failure with a crash deep inside RocksDB. The stack trace is not enough to Go on, but a core dump would allow us to do post-mortem debugging. Roachtest should provide a facility for making it easy to create and gather core dumps from a cluster. This involves running `cockroach` with the `GOTRACEBACK=crash` env variable, running `ul

[2018-12-06 23:48] #32708 closed

[2018-12-07 01:41] alexevon commented on #32910
Just as a followup, did some research.. it appears this line:

Console.Write("\taccount {0}: {1}\n", reader.GetString(0), reader.GetString(1));

was causing issues...  however changing the line to this worked:

Console.Write("\taccount {0}: {1}\n", reader.GetValue(0), reader.GetValue(1));

[2018-12-07 06:32] cockroach-teamcity opened #32923 "ccl/changefeedccl: TestValidations failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044844&tab=buildLog

[code]

[2018-12-07 06:41] cockroach-teamcity opened #32924 "storage: TestStoreSplitTimestampCacheDifferentLeaseHolder failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/1d5c68bced0c02f96de828d99cd4120ed67d359f

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1045150&tab=buildLog

[code]

[2018-12-07 07:41] cockroach-teamcity opened #32925 "roachtest: copy/bank/rows=10000000,nodes=9,txn=false failed"
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044826&tab=buildLog

[code]

[2018-12-07 07:42] cockroach-teamcity opened #32926 "ccl/changefeedccl: package timed out under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1045334&tab=buildLog

[code]

[2018-12-07 07:46] aizumoff commented on #32681
@vivekmenezes What I've seen (you could contact @tim-o or Andrew - they see that on the cluster as well) was the following:
1. I have 2.5GB mostly big-one-column-JSON table.
2. I start creating Inverted index - it takes hours/day
3. I've decided to cancel The Job - it shows Canceled
4. for 2-3-4 more days I see CPU spikes for 2-3 nodes upto 15-25%. Nothing else was run on the cluster at that time.

[2018-12-07 07:50] cockroach-teamcity commented on #30869
SHA: https://github.com/cockroachdb/cockroach/commits/1d5c68bced0c02f96de828d99cd4120ed67d359f

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1045608&tab=buildLog

[code]

[2018-12-07 07:51] aizumoff commented on #32681
Probably the inverted index is pretty big - so Rollback needs so much time? Anyway - it's not clear what's happening in the cluster - that's concerning :)

And during the Spikes - I've attached to pods to review Logs - nothing was in the logs except basic statistics: Go Coroutines, CPU, et.c So cluster by the logs appears super quiet. That's also strange - some messages for "Rollback" whatever wou

[2018-12-07 09:25] tbg opened #32927 "raft: applied(x) is out of range [prevApplied(x), committed(x)]"
https://sentry.io/cockroach-labs/cockroachdb/issues/797760424/?referrer=webhooks_plugin

stopper.go:182: string

github.com/cockroachdb/cockroach/pkg/storage.(*Store).Send.func1

[code]

[2018-12-07 09:25] tbg opened #32928 "sentry: stopper.go:182: string"
https://sentry.io/cockroach-labs/cockroachdb/issues/797760458/?referrer=webhooks_plugin

stopper.go:182: string

github.com/cockroachdb/cockroach/pkg/util/stop.(*Stopper).Recover

type: *log.safeError
value: stopper.go:182: string

[2018-12-07 09:42] tbg commented on #32919
I generally like this idea, but I think it's worth taking a small step back conceptually. If I have a bunch of files that don't follow the CRDB naming convention (or any convention for that matter) `merge-logs` without hand-crafted args (except the glob) should "just work" (perhaps this is implied). It won't be able to give you a hostname, but it should still give you the ordered stream of log ent

[2018-12-07 10:34] tbg opened #32929 "sentry: stopper.go:182: string"
https://sentry.io/cockroach-labs/cockroachdb/issues/797839100/?referrer=webhooks_plugin

stopper.go:182: string

github.com/cockroachdb/cockroach/pkg/storage.(*raftLogger).Panicf

type: *log.safeError
value: stopper.go:182: string

[2018-12-07 13:39] cockroach-teamcity commented on #31125
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044826&tab=buildLog

[code]

[2018-12-07 14:32] vivekmenezes commented on #32681
@aizumoff thanks for that information. We have some known problems here:
1. index creation takes a lot of time. This is on the road map to be improved in 2.2 ( #12424 )
2. cancel takes a few hours with the ROLL BACK job eventually completing. Already fixed in the 2.2 alpha release through (https://github.com/cockroachdb/cockroach/pull/31326)

And then we have this issue around CPU spikes after ROL

[2018-12-07 15:07] bdarnell opened #32932 "security: Propose alternate TLS verification modes for postgres clients"
Dealing with root CA certs in client applications (that use password-based authentication) is cumbersome. Instead of a self-contained connection string, the application deployment must either install a CA cert to the system certificate store (not recommended) or place it on disk somewhere and then reference that path from the connection string (which may mean constructing it dynamically instead of

[2018-12-07 15:28] cockroach-teamcity opened #32933 "teamcity: failed test: TestChangefeedSchemaChangeAllowBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeAllowBackfill/rangefeed/drop_column, TestChangefeedSchemaChangeAllowBackfill/enterprise/add_column_computed, TestChangefeedSchemaChangeAllowBackfill/sinkless/multiple_alters, TestChangefeedSchemaChangeAllowBackfill/sinkless/add_column_with_default, TestChangefeedSchemaChangeAllowBackfill/sinkless, TestChangef

[2018-12-07 15:43] cockroach-teamcity commented on #30832
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044826&tab=buildLog

[code]

[2018-12-07 15:52] tbg opened #32934 "sentry: conn_executor.go:639: panic while executing 1 statements: SELECT DISTINCT concat(_, _) AS _ FROM _ INNER JOIN _ ON _._ = _._ UNION SELECT DISTINCT concat(_, _::STRING) AS _ FROM _ INNER JOIN _ ON _._ = _._ WHERE ((_ = _)) UNION SELECT DISTINCT concat(_, _::STRING) AS _ FROM _ INNER JOIN _ ON _._ = _._ WHERE ((_ = _) AND (_::STRING = _)) UNION SELECT DISTINCT concat(_, extract(_, _._)::STRING) AS _ FROM _ INNER JOIN _ ON _._ = _._ WHERE (((_ = _) AND (_::STRING = _)) AND (_::STRING = _)): caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/798250299/?referrer=webhooks_plugin

[code]

[2018-12-07 16:12] jordanlewis opened #32935 "exec: meta issue for remaining work on experimental_vectorize"
This issue tracks the laundry list of major remaining work on the experimental_vectorize project.

*Features*:
- [ ] memory monitoring
- [x] serialization - format for writing batches to bytes and reading back out. should be 0-copy on the read side - operators must be able to read directly from the serialized structure
- [ ] distribution - distributed flows must be plannable.
  - [x] merging input

[2018-12-07 16:32] cockroach-teamcity opened #32936 "roachtest: jepsen-batch3/sets/parts-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044826&tab=buildLog

[code]

[2018-12-07 16:53] tbg commented on #32879
It's also possible (just guessing wildly) that the memtable never gets flushed and that this confuses the RocksDB-level method we call to approximate the on-disk size of the table.

[2018-12-07 16:59] cockroach-teamcity commented on #32820
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044826&tab=buildLog

[code]

[2018-12-07 17:15] cockroach-teamcity commented on #32821
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044826&tab=buildLog

[code]

[2018-12-07 17:21] #22837 closed

[2018-12-07 17:21] #32367 closed

[2018-12-07 17:57] cockroach-teamcity commented on #32135
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044826&tab=buildLog

[code]

[2018-12-07 18:35] knz commented on #8855
@BramGruneir can you then also update the telemetry link?

[2018-12-07 18:44] alexevon commented on #32910
Kena-

My test is just from doing research as I am not a C# developer, so my input
is purely from trials.  However, in my use-case this did work.

On Fri, Dec 7, 2018 at 1:28 PM kena <notifications@github.com> wrote:

[2018-12-07 18:52] BramGruneir commented on #8855
Yep.  I mentioned it in the other issue.  I'll send a quick or when I have
a moment.

On Fri, Dec 7, 2018, 13:35 kena <notifications@github.com wrote:

[2018-12-07 19:18] knz commented on #32893
At that point CockroachDB should be initializing RocksDB and set up files on disk. Can you check whether the process is still active at that point? Perhaps the disk access is just slow?

You can possibly use linux `strace` to find out what the process is doing.

[2018-12-07 19:47] tbg commented on #32895
2.1. Have to backport things.

[2018-12-07 20:09] knz opened #32939 "sql: expand `pg_table_is_visible` into an optimizable subquery"
(requested by @jordanlewis)

**Is your feature request related to a problem? Please describe.**

Today `pg_table_is_visible()` is implemented as a built-in function evaluated again for every row. Internally the function runs a complex multi-join subquery with the given table name as input. This is super-slow.

For example `psql` when handling `\d` will run `pg_table_is_visible()` for every row of

[2018-12-07 20:13] knz opened #32940 "sql: make pg_catalog OIDs stable and refer to the descriptor IDs directly"
**Is your feature request related to a problem? Please describe.**

Today OIDs in pg_catalog are based on the hash of database ID and table ID.
This makes it hard / impossible to join between vtables in pg_catalog and crdb_internal.

**Describe the solution you'd like**

Everywhere when it's reasonable use something that can be decoded into a table ID as pg OID.  For example we can have a composit

[2018-12-07 21:19] tbg opened #32942 "storage: node gossip loop panic when own node descriptor deleted"
https://sentry.io/cockroach-labs/cockroachdb/issues/798675882/?referrer=webhooks_plugin

stopper.go:182: gossip.go:969

github.com/cockroachdb/cockroach/pkg/server.(*Node).startGossip.func1

type: *log.safeError
value: stopper.go:182: gossip.go:969

[2018-12-07 21:34] cockroach-teamcity opened #32943 "teamcity: failed test: TestChangefeedMonitoring"
The following tests appear to have failed on master (test): TestChangefeedMonitoring, TestChangefeedMonitoring/rangefeed

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedMonitoring).

[#1046167](https://teamcity.cockroachdb.com/viewLog.html?buildId=1046167):

[code]

Please assign, take a look and update the issue accordi

[2018-12-07 22:18] cockroach-teamcity commented on #32907
SHA: https://github.com/cockroachdb/cockroach/commits/06d2222fd9010f01a8cdf6a6c24597bbed181f36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1044826&tab=buildLog

[code]

[2018-12-07 22:55] mrtracy opened #32944 "changefeedccl: Rangefeed Correctness and Resilience"
In 2.2 we are looking to convert Changefeeds to gather data using Rangefeeds, as opposed to the current method of polling data using the Export statement.  A current rangefeed-based implementation does exist and can be used with an experimental cluster setting, but there are a few architectural shortcomings that will need to be addressed. This issue outlines those changes.

## Current System

Belo

[2018-12-07 23:01] mrtracy opened #32945 "changefeedccl: Prevent slow consumers from blocking rangefeed Processor"
Work item to track fixing slow-consumer blocking in the rangefeed processor. This involves installing a per-registration event buffer which the processor writes to, along with a per-registration goroutine which reads from that buffer and outputs to the target stream.

Detailed problem and proposal outlined in #32944.

[2018-12-07 23:04] mrtracy opened #32946 "changefeedccl: Correct ordering of events from a single rangefeed"
Work item tracks that events coming from a rangefeed are correctly ordered; the order should meet the same guarantee as changefeeds:

To do this, a small re-ordering buffer will be added to the catch-up scan to put those results in the correct order (ascending timestamp per key), and the results of the catch-up scan should completely precede any output from the live feed buffer.

Detailed problem

[2018-12-07 23:08] mrtracy opened #32947 "changefeedccl: Implement ChangeAggregator buffer + rangefeed manager"
Track implementation of a central ChangeAggregator output buffer and a rangefeed manager.  The intention of this is to prevent slow or temporarily unavailable output sinks from causing unnecessary retry-related thrashing in the rangefeed system.

Detailed problem and proposal outlined in #32944.

[2018-12-07 23:09] mrtracy commented on #32944
### Work Tracking

- [ ] changefeedccl: Prevent slow consumers from blocking rangefeed Processor #32945
- [ ] changefeedccl: Correct ordering of events from a single rangefeed #32946
- [ ] changefeedccl: Implement ChangeAggregator buffer + rangefeed manager #32947

[2018-12-08 01:19] a-robinson opened #32948 "ui: Incorrect range count on overview page"
When reproducing the problem from https://github.com/cockroachlabs/support/issues/240, I ended up in a state where the cluster overview page is showing an incorrect range count that contradicts all the other (correct) range counts I can find on other pages.

<img width="1440" alt="screen shot 2018-12-07 at 4 38 21 pm" src="https://user-images.githubusercontent.com/7085343/49679856-5922b600-fa43-11

[2018-12-08 03:09] jordanlewis opened #32952 "opt: derived projections shouldn't be pushed past sorts"
Here's the plan for TPCH Q1:

[code]

As you can see, the optimizer pushes the "derived" render expressions (projections that aren't part of the scan) past the sort. This is inefficient, as it requires that the sort shuffle more memory.

Ideally, the optimizer should not materialize any extra projections below a sort, to avoid this kind of shuffling.

[2018-12-08 06:29] cockroach-teamcity commented on #32889
SHA: https://github.com/cockroachdb/cockroach/commits/81ed730f073675fe5d634274658e1ff5e291157d

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1046687&tab=buildLog

[code]

[2018-12-08 06:59] cockroach-teamcity opened #32953 "storage: package timed out under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/81ed730f073675fe5d634274658e1ff5e291157d

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1046552&tab=buildLog

[code]

[2018-12-08 09:17] derkan commented on #32896
Decomission status after 2 days:(not finished yet)

[code]

I am not sure what I understand is true but n4 is 3 replica back. (2911-2908) and that 3 replica is on n2.
Errors on n4:
[code]

Errors on n3:

[code]

[2018-12-08 13:51] petermattis commented on #31948
The previous failure was before https://github.com/cockroachdb/cockroach/pull/32931. I've since tried to reproduce on top of #32931 and have had 118 successful runs and 0 failures over the course of almost 20 hours. I'm going to leave this running for a while longer, and will declare success later today if I don't see a failure. The theory is that whatever crash was occurring in RocksDB was fixed

[2018-12-08 15:07] nstewart commented on #26639
If validate wait times scale with database sizes, this UX problem is going to come up more frequently as we market scalability. I've been waiting for several minutes for my current ALTER and it's not clear if I should kill the job or wait longer.

@vivekmenezes is there a workaround for determining if this is slow or just stuck?

cc @awoods187

[2018-12-08 16:56] andy-kimball commented on #32786
I'm adding it to our test suites. However, there are a few caveats:

- Until we have support for general-purpose Apply (which is planned for 2.2), we cannot execute this case, since we can't statically prove that the subquery returns <= 1 row. To fix that requires making the `id` column a `PRIMARY KEY`, or introducing `LIMIT 1` to the subquery.

- The `UPDATE` correlated subquery support should be

[2018-12-08 20:16] tbg opened #32955 "server: -98 leases in debug zip gossip/nodes"
[code]

[2018-12-08 20:38] tbg commented on #32896
Aha! Here's r3439. Stuck for a long time already (`sendWithRangeID(0xc42679fc00, 0x2ff8ae0, 0xc425282a80, 0xd6f,`, 0xd6f is 3439).

[code]

[2018-12-08 20:40] tbg commented on #32896
Here's the hanging lease request itself:

[code]

[2018-12-08 20:41] tbg commented on #32896
Ah no, that's another range. Well, glad there are two.

[2018-12-08 20:42] tbg commented on #32896
@derkan I'd also like the same for r3437.

[2018-12-08 20:44] tbg commented on #32896
Look at this beautiful deadlock on n2:

[code]

[2018-12-08 20:45] tbg commented on #32896
Aha - and here's why that mutex isn't available for 5 minutes, it's held in stuck disk I/O:

[code]

[2018-12-08 20:49] tbg commented on #32896
@derkan please check node2's disks. This is starting to look like #32736. n2 was started only 5 minutes ago, which means everything got stuck immediately. I'm seeing a similar phenomenon.

There's a chance this is a deadlock inside of RocksDB and not a problem with your storage, but please verify that your storage is healthy first.

[2018-12-08 22:10] tbg opened #32956 "cli: support reverse order in `debug merge-logs`"
Log files are in chronological order and that's how merge-logs displays them, but during debugging we're typically interested in the most recent events (as those are closer to when the problem occurred).

For large datasets, this can mean waiting for longer stretches until the end of the buffer renders.

An option (perhaps even set as default) to parse the logs in reverse chronological order seems

[2018-12-08 22:13] RaduBerinde commented on #32952
Sounds like we should be taking the number of total columns into account for sort.

[2018-12-08 22:18] RaduBerinde commented on #32952
Also, I wondered many times if it would make sense to swap the order in which we evaluate things, specifically to do enforcers last. I believe it might help in practice, even if the right answer is always that if a plan is better than another, the cost should reflect that.

[2018-12-08 22:40] andy-kimball commented on #32952
I think the coster just needs a good overhaul. It's still very simplistic, and so we see these kinds of anomalies. I'm planning to look into it more when I work on incorporating latencies into the cost function.

[2018-12-09 00:50] petermattis commented on #31948
182 runs and 0 failures over the course of 30 hours. Previously I was able to see a failure every 5-6 hours.

[2018-12-09 00:50] #31948 closed

[2018-12-09 07:35] thirtysixmm opened #32958 "IO error: Failed to create a NewWriteableFile"
**Describe the problem**

Cockroachdb crashed during import data from CSV with 1M records

**To Reproduce**

Execute the following command

[code]

**Expected behavior**
Data is supposed to be loaded to the db

**Additional data / screenshots**

**Environment:**

*
* WARNING: RUNNING IN INSECURE MODE!
*
* - Your cluster is open for any client that can access localhost.
* - Any user, even root, can

[2018-12-09 11:42] knz commented on #32958
Dup #32897

[2018-12-09 11:42] #32958 closed

[2018-12-09 12:51] nvanbenschoten commented on #31656
Any update on this?

This is a good point. We should explore avoiding DelRng when we're deleting a fixed number of rows and know every key that could possibly be set. Unlike a point Del, DelRng needs to update the write timestamp cache, which can have negative effects on other concurrent transactions (see https://github.com/cockroachdb/cockroach/pull/21140). I assume this is possible given the del

[2018-12-09 13:05] knz commented on #31656
I looked into this.
The plan for a delete (even in fast mode) looks like this: scan -> delete

With local execution, the initialization of the scan should be delayed until the first call to Next(), which in the case when the fast path is taken will never happen.

This was true at least until summer when the local execution was folded under the distsql logic.

Now unfortunately things have changed

[2018-12-09 13:07] knz commented on #31656
It's really a bummer that we never had a tracing test for delete fast paths... This would have caught the regression during summer. Maybe we should start with adding such a test.

[2018-12-09 13:47] thirtysixmm commented on #32415
I am facing the same issue here when connecting from the Java program.

  Detail: timezone data cannot be found

What is the correct TimeZone value?

[2018-12-09 14:40] #32281 closed

[2018-12-09 16:49] knz commented on #31656
The trace supports my argument. The trace message "fast past starts" is the first thing that the deleteNode's Next() method does. The scan under scrutiny is issued before that.

[2018-12-09 17:55] derkan commented on #32896
Your're right I've checked node2, it has disk issue in `dmesg` : `jbd: bad log_start_commit`. But node1 has no errors.

[2018-12-09 18:30] knz opened #32963 "sql: generate unique table IDs for virtual tables"
This is pursuant of #32442 towards #19472.

To attach comments to virtual tables they must have stable table IDs that can be used to populate `system.comments`.
However meanwhile we do not want them to be attached to range IDs because they are virtual.

Proposal:

1) allocate IDs for vtables statically in the code. This ensures that IDs remain stable as the code evolves.

2) use negative IDs, and

[2018-12-09 18:32] knz opened #32964 "sql: provide table comments for virtual tables"
This is pursuant of #32442 towards #19472.

During interactive sessions or troubleshooting it would be convenient to be able to inspect the description of vtables, especially `crdb_internal` tables which do not have public doc.

The new support for COMMENT ON would enable this, supposing that comments are populated statically for all vtables.

This improvement requires completion of #32963 as prer

[2018-12-09 18:34] knz opened #32965 "sql: support COMMENT ON for table columns"
This is pursuant of #32442 towards #19472.

PR #32442 has added infrastructure which is extensible towards documenting columns. The corresponding support for `COMMENT ON <col>` can then be added.

[2018-12-09 18:36] knz opened #32966 "sql: provide table comments for columns in vtables"
This is the complement of  #32964 when #32965 (column commentS) is completed: we want to document the meaning of individual columns in virtual tables, especially those in `crdb_internal`.

[2018-12-09 21:22] jordanlewis opened #32968 "sql: fetcher uses a Go map too heavily for columnID->ordinal map"
During decoding, the row fetcher needs to keep track of the mapping from `ColumnID` to ordinal position in the table. This is because, unlike key columns, value columns don't always come in a predictable order - value columns can be nullable, and if they are, they won't have an encoding in the value at all.

For example, imagine the table:

[code]

On disk, there will be 2 kv pairs:

[code]

Note

[2018-12-10 01:12] happysheeprunning commented on #32893
[code]

[2018-12-10 01:14] happysheeprunning commented on #32893
dead loop locked @knz

[2018-12-10 01:57] knz commented on #32893
This looks like a mutex that never gets released indeed. It can be either a problem in RocksDB or Go or CockroachDB.

Unfortunately we do not have bandwidth to investigate portability problems at this stage. If you can muster the technical acumen to help with the investigation yourself, please do. We would love to hear about any more details you may find.

[2018-12-10 02:43] vivekmenezes commented on #26639
@nstewart are you testing with the latest alpha/2.1.2? The reason I ask is because we have a bug #32118 which I feel is fixed through a fix I merge last week.

[2018-12-10 06:51] cockroach-teamcity commented on #32923
SHA: https://github.com/cockroachdb/cockroach/commits/8f30db0f07e940667bc34314ec6a446491a29790

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1047604&tab=buildLog

[code]

[2018-12-10 06:55] cockroach-teamcity commented on #32953
SHA: https://github.com/cockroachdb/cockroach/commits/8f30db0f07e940667bc34314ec6a446491a29790

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1047476&tab=buildLog

[code]

[2018-12-10 06:56] cockroach-teamcity opened #32970 "storage: TestStoreRangeRemoveDead failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/8f30db0f07e940667bc34314ec6a446491a29790

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1047746&tab=buildLog

[code]

[2018-12-10 11:57] tbg commented on #32896
(Also please change `/root/testfile` to a path that points inside your cockroach-data directory)

[2018-12-10 12:31] chessman opened #32973 "sql: ensure that a pgwire-level cancellation request (using a cancel msg) prevents a client freeze"
**Issue summary** (Added @knz 2018-12-14)

The client tries to cancel its request with a pg cancel message and then gets stuck (until a timeout of 2mn) because the server does not respond. Instead CockroachDB should see the pg cancel message and immediately return an error packet and/or close the connection.

**Describe the problem**

1. Create an insert request.
2. Cancel context when the request

[2018-12-10 12:38] tbg commented on #32970
@nvanbenschoten I think this is fallout from `spanlatch.Manager`:

[code]

The mtc is unfortunately extremely deadlock-prone. Could you take a look?

[2018-12-10 13:12] tbg commented on #32889
@jordanlewis could you triage?

[2018-12-10 14:07] tbg opened #32974 "sentry: conn_executor.go:639: panic while executing 1 statements: UPDATE _ SET _ = $1 WHERE _ = $2: caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/801785260/?referrer=webhooks_plugin

conn_executor.go:639: panic while executing 1 statements: UPDATE _ SET _ = $1 WHERE _ = $2: caused by <redacted>

github.com/cockroachdb/cockroach/pkg/sql.(*Server).ServeConn.func1

[code]

[2018-12-10 14:56] tbg commented on #7646
Un-folding from #7882 (which is likely closing very soon since I'm about to push WIP to do so).

@knz this is about blocking stderr/stdout, right? I was trying to look into that as well but I'm not sure how it works on the technical side. Can I determine that os.Stdout would block in a platform-independent way? What's the easiest way to simulate this kind of blocking?

[2018-12-10 14:59] cockroach-teamcity opened #32975 "teamcity: failed test: 54_PM"
The following tests appear to have failed on master (test): 54_PM/ParseDate

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+54_PM).

[#1047976](https://teamcity.cockroachdb.com/viewLog.html?buildId=1047976):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-10 14:59] cockroach-teamcity opened #32976 "teamcity: failed test: TestReplicateQueueRebalance"
The following tests appear to have failed on master (test): TestReplicateQueueRebalance

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestReplicateQueueRebalance).

[#1047976](https://teamcity.cockroachdb.com/viewLog.html?buildId=1047976):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-10 14:59] cockroach-teamcity opened #32977 "teamcity: failed test: version-upgrade"
The following tests appear to have failed on master (roachtest): acceptance/version-upgrade

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+version-upgrade).

[#1047976](https://teamcity.cockroachdb.com/viewLog.html?buildId=1047976):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-10 15:30] danhhz commented on #32943
Note to self, looks like the new rangefeed subtest is what flaked

[2018-12-10 15:32] ajwerner opened #32979 "storage: emit rangefeed event upon lease transfer"
This issue relates to the work on closed timestamps and CDC for 2.2. Currently, when a lease transfer occurs and then no further activity on the range occurs, there will be no event emitted. The task is to eliminate this behavior by always emitting an event from the new lease holder upon lease transfer.

[2018-12-10 15:34] ajwerner opened #32980 "storage: add testing for closed timestamps and concurrent lease transfer"
2.2 CDC work and upcoming follower reads rely on having a reliable closed timestamp infrastructure. While the code is unit tested, there is a dearth of testing from a higher level or in the face of concurrent lease transfer.

[2018-12-10 15:36] m-schneider commented on #30869
Taking a look.

[2018-12-10 15:37] danhhz commented on #32923
Aha, the system works! This, our end-to-end correctness test, found our hypothesized rangefeed bug: #32946 cc @mrtracy

I'll send a pr to skip until that issue is fixed

[2018-12-10 15:38] RaduBerinde commented on #32976
https://teamcity.cockroachdb.com/viewLog.html?buildId=1048019&buildTypeId=Cockroach_UnitTests

[2018-12-10 15:39] RaduBerinde commented on #32976
CC @petermattis @a-robinson

[2018-12-10 15:43] couchand commented on #32948
Thanks for digging into this @a-robinson!  Looking at that code, I'm not really surprised it can get confused.  It seems reasonable enough for the metrics that each node definitely reports for itself, but for shared counts of ranges, it's not sound.  It mostly works because it relies on only the leaseholder reporting the range, but as you've found there are times when that assumption doesn't hold.

[2018-12-10 15:46] couchand commented on #32948
To give my best effort at some historical context: I think this is how it was written because it was seen as a lighter-weight way of getting the information, since it wouldn't require enumerating each range.  But I don't think it's worth it if the numbers can be wrong.

[2018-12-10 15:54] blkerby commented on #32834
I've explored this a little more. I found that the crashes occur more frequently if I bucket the data by ranges of keys (not the CockroachDB concept of ranges specifically). In this case it's more likely that duplicate keys could appear in a single UPSERT statement, so it led me to suspect that this could be what is triggering the crash (I noticed that in 2.0.0, this was not even allowed and would

[2018-12-10 15:59] knz commented on #32834
Wow what a good analysis. Thank you so much!!! this will help us tremendously.

[2018-12-10 16:19] RaduBerinde commented on #30774
The protobuf-related deps cannot be updated right now. The new stuff breaks some `Clone` functionality in `gogoproto` that we use; I will need to make a fix upstream first.

[2018-12-10 16:39] nvanbenschoten commented on #32970
Yeah, I'll take a look. Who knows what this is hiding.

[2018-12-10 17:17] nvanbenschoten commented on #32524
Got it, has anything changed in your cluster since last week? Is it still in the same state? Either way, an updated version of the `debug zip` output would be helpful so we can observe the progress the cluster is making while recovering.

What we see from the logs is that node 2 ran into an issue somewhere and was told to rebalance all of its Ranges to the other three nodes. The nodes are working

[2018-12-10 17:45] m-schneider commented on #30869
Taking a look.

[2018-12-10 18:13] danhhz commented on #32943
Stressed this locally without a repro. Will try again later with roachprod-stress

[2018-12-10 18:36] cockroach-teamcity opened #32985 "teamcity: failed test: TestValidations"
The following tests appear to have failed on master (test): TestValidations/rangefeed, TestValidations, TestValidations/rangefeed: TestValidations/rangefeed/bank

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestValidations).

[#1048346](https://teamcity.cockroachdb.com/viewLog.html?buildId=1048346):

[code]

Please assign, take a l

[2018-12-10 19:49] palash25 commented on #21112
Hi @tbg I don't see any progress on the PR referenced. If the original assignee has stopped working on this issue I would like to take this up.

[2018-12-10 20:14] BramGruneir commented on #27837
This has been moved to the docs repo and you are correct, it was the getstring issue.

https://github.com/cockroachdb/docs/issues/4139

Closing here.

[2018-12-10 20:14] #27837 closed

[2018-12-10 20:30] cockroach-teamcity opened #32989 "teamcity: failed test: TestGenerateSubzoneSpans"
The following tests appear to have failed on master (testrace): TestGenerateSubzoneSpans

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestGenerateSubzoneSpans).

[#1048618](https://teamcity.cockroachdb.com/viewLog.html?buildId=1048618):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-10 21:05] jordanlewis commented on #32989
Dupe of #32829.

[2018-12-10 21:05] #32989 closed

[2018-12-10 21:06] jordanlewis commented on #32989
I mean #32889.

[2018-12-10 21:06] jordanlewis commented on #32889
Thanks, looks like the test is still slightly broken - will fix this.

[2018-12-10 21:15] #32586 closed

[2018-12-10 21:19] jordanlewis commented on #32975
This is caused by bad test parsing.

[2018-12-10 21:19] #32975 closed

[2018-12-10 21:36] ajwerner commented on #32979
@tbg or @nvanbenschoten I created this issue based on my understanding of the problem after our discussion last week. After some digging today, it seems to me that there is a call upon lease transfer to EmitMLIA which is roughly what I expected this change to entail. See [here](https://github.com/cockroachdb/cockroach/blob/65bcb9b5f25a18a514cc067ed70cf516090873ba/pkg/storage/replica_proposal.go#L3

[2018-12-10 21:58] sentry-io[bot] opened #32994 "*log.safeError: conn_executor.go:639: panic while executing 1 statements: UPDATE _ SET _ = $1 WHERE _ = $2: cause..."
Sentry Issue: [COCKROACHDB-PF](https://sentry.io/cockroach-labs/cockroachdb/issues/801785260/?referrer=github_integration)

[code]

[2018-12-10 22:11] cockroach-teamcity opened #32997 "teamcity: failed test: TestGenerateSubzoneSpans"
The following tests appear to have failed on master (test): TestGenerateSubzoneSpans

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestGenerateSubzoneSpans).

[#1048730](https://teamcity.cockroachdb.com/viewLog.html?buildId=1048730):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-10 22:30] jordanlewis commented on #32997
Dupe of #32889

[2018-12-10 22:30] #32997 closed

[2018-12-10 23:08] nvanbenschoten commented on #32970
The `spanlatch.Manager` is missing this cancellation path:

https://github.com/cockroachdb/cockroach/blob/f725fe429b4031e30894c80ec156594589b25ab7/pkg/storage/replica.go#L2499-L2502

Fix incoming.

[2018-12-10 23:09] nvanbenschoten commented on #32976
Almost certainly a duplicate of #32970. It started failing at the same time with the same behavior.

[2018-12-10 23:09] #32976 closed

[2018-12-10 23:09] nvanbenschoten commented on #32953
Duplicate of #32970.

[2018-12-10 23:09] #32953 closed

[2018-12-10 23:13] nvanbenschoten commented on #32841
[code]

Duplicate of https://github.com/cockroachdb/cockroach/issues/32135#issuecomment-445370892. cc. @tbg.

[2018-12-10 23:13] #32841 closed

[2018-12-11 00:11] andreimatei opened #33004 "cli: TestConnRecover is flaky"
Fails in 1 or 2 runs under stress. Fails in 50 runs with `STRESSFLAGS="-p 1"`.

[code]

[2018-12-11 00:41] #32970 closed

[2018-12-11 06:10] cockroach-teamcity commented on #32889
SHA: https://github.com/cockroachdb/cockroach/commits/1cd7dcfe1bbf487a714c7f00a5dd709360dbe9e4

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1049186&tab=buildLog

[code]

[2018-12-11 06:39] cockroach-teamcity opened #33006 "storage: TestStoreRangeMergeRaftSnapshot failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/1cd7dcfe1bbf487a714c7f00a5dd709360dbe9e4

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1049322&tab=buildLog

[code]

[2018-12-11 07:10] cockroach-teamcity commented on #32926
SHA: https://github.com/cockroachdb/cockroach/commits/1cd7dcfe1bbf487a714c7f00a5dd709360dbe9e4

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1049450&tab=buildLog

[code]

[2018-12-11 07:47] derkan opened #33007 "kvserver: circuit-break requests to unavailable ranges"
**Describe the problem**

I'm testing multi-region deployment. I've used [performance tuning](https://www.cockroachlabs.com/docs/stable/performance-tuning.html#multi-region-deployment) docs, installed multi-datacenter cluster. DC names are `DCPRI` and `DCSEC` with 3 virtual machines in each.
When I shutdown system in `DCSEC`, cluster on `DCPRI` is unresponsive, no SQL's work, just waits.  Also, ad

[2018-12-11 08:32] cockroach-teamcity commented on #32842
SHA: https://github.com/cockroachdb/cockroach/commits/1cd7dcfe1bbf487a714c7f00a5dd709360dbe9e4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1049151&tab=buildLog

[code]

[2018-12-11 09:03] derkan commented on #32896
Results:

Node1:(on bare metal scsi)

[code]
Node:3(on bare metal- ssd)

[code]

Node4:(newly added node, on virtual)

[code]

[2018-12-11 10:15] derkan commented on #33007
We had a chat on gitter with @mberhault . He kindly gave information how CockroachDB's cluster works on  multiple datacenters. @mberhault suggested this [doc](https://www.cockroachlabs.com/docs/stable/multi-active-availability.html) and this [doc](https://www.cockroachlabs.com/docs/v2.1/configure-replication-zones.html#main-content) which were  helpful.

But unfortunately, while having 2 multiple

[2018-12-11 10:45] janartodesk opened #33008 "cli: `init` fails with IPv6 literal"
**Describe the problem**

Attempting to initialize IPv6 only cluster fails with address parsing error:

[code]

**To Reproduce**

Start a cluster binding to IPv6 addresses and attempt to initialize it.

**Additional data**

We use in-house PKI for managing cluster's certificates.

Starting and initializing the cluster on IPv4 addresses (using our own TLS certificates) works as expected:
[code]

Th

[2018-12-11 10:45] knz commented on #33007
@tim-o please accompany this discussion

[2018-12-11 11:21] tbg commented on #8299
Sadly, this is still a problem (for the latest, see https://github.com/cockroachdb/cockroach/issues/32970) and we've started using `multiTestContext` in more places, usually in tests that need access to lots of internals (for example the merge tests).

[2018-12-11 11:21] tbg commented on #8102
The reference tests have been removed. In their place, we have mixed version tests. These could also do more, but this issue won't track it.

[2018-12-11 11:21] #8102 closed

[2018-12-11 11:22] tbg commented on #7780
cc @couchand for triage

[2018-12-11 11:47] tbg commented on #32912
cc @danhhz

[2018-12-11 11:48] tbg commented on #32933
cc @danhhz

[2018-12-11 11:50] #32912 closed

[2018-12-11 11:50] #32985 closed

[2018-12-11 11:51] tbg commented on #32977
https://github.com/cockroachdb/cockroach/issues/31974

[2018-12-11 11:51] #32977 closed

[2018-12-11 11:52] tbg commented on #31974
@petermattis could you take this on? It isn't the highest priority, but it should also be straightforward to fix. We can nuke all replicated RaftTombstone keys synchronously during startup. The challenge might be only doing that work once (i.e. checkpointing it).

[2018-12-11 11:53] tbg commented on #31974
(maybe that code was already there and got ripped out by the PR that introduced this bug)

[2018-12-11 11:53] tbg commented on #32858
Missing a backport, on it

[2018-12-11 11:58] tbg commented on #32896
Thanks! Could you send along another debug zip (just so that I can observe the stack traces again)?

What's the status with node2 now? Did you quit the process? If this node's disk is toast, please shut down the process so that we can make sure it isn't somehow interrupting the rest of the cluster.

[2018-12-11 11:59] tbg commented on #32896
Actually instead of the debug zip you could also just download this link: /debug/pprof/goroutine?debug=2

You can use https://gist.github.com/ to host it (there's no sensitive data in that file).

[2018-12-11 12:02] spencerkimball commented on #31974
Yes that code was there I believe. But shouldn’t it have run for all clusters on upgrade to 2.1? And not be required past 2.1?

[2018-12-11 12:33] tbg commented on #31974
Not sure. We'd have to check.

[2018-12-11 12:38] #32894 closed

[2018-12-11 12:39] tbg commented on #32925
Will be fixed by #33010

[2018-12-11 12:39] #32925 closed

[2018-12-11 12:40] dendon opened #33012 "sql: panic while executing, caused by invalid datum type given: string, expected int"
**Describe the problem**

[code]

**To Reproduce**

I added a new column and while the job was running, some, either still running inserts, or incoming inserts caused this panic.

**Environment:**
CockroachDB CCL v2.1.1 (x86_64-unknown-linux-gnu, built 2018/11/19 18:24:21, go1.10.3)

**Additional context**
The node crashed and I had to truncate the table.

[2018-12-11 12:41] tbg commented on #32936
[code]

Doesn't look like a real failure, but @andreimatei should give it a look.

[2018-12-11 12:42] tbg commented on #32820
@vivekmenezes could you take a look?

[2018-12-11 12:51] tbg commented on #33006
FWIW, this just survived 20 minutes of the suggested stressrace invocation on my gceworker. All yours @benesch.

[2018-12-11 12:56] tbg commented on #32979
Hmm, I'm blanking on what the problem was if not that. @nvanbenschoten surely remembers, though.

[2018-12-11 13:12] tbg commented on #33008
@janartodesk thank you for your report. I'm not sure this is relevant, but it looks like you're using `--host` which I think has been deprecated in favor of `--listen-addr`.

I don't think this is the root cause though, since I get the following error if I try it:

[code]

[2018-12-11 13:13] tbg commented on #33008
@bdarnell or @mberhault, this looks like one of your areas of expertise.

[2018-12-11 13:17] derkan commented on #32896
Node2 instance is shutdown.

I get PAGE NOT FOUND for `https://abc.com/#/debug/pprof/goroutine?debug=2`. I'll be sending new debug.zip file location by email.

Thank you for your efforts.

Also some info on latest status of cluster, I hope it helps:

- 2 to 3 times a day node1 becomes unaccessible, restarting makes it online.
- Dumping of db fails waiting forever.
- Admin GUI can not show used spa

[2018-12-11 13:23] tbg commented on #32896
Hi @derkan, note that there's no `#` in my URL. It should be `/debug/pprof/goroutine?debug=2`, not `/#/debug/pprof/goroutine?debug=2`. But the `debug zip` is good too (maybe better if I need to look at anything on top of the goroutines).

[2018-12-11 13:31] derkan commented on #32896
OK, I've sent you an email for the debug outputs of nodes.

[2018-12-11 13:46] derkan commented on #32524
uptime command outputs:
Node1: load average: 3.26, 3.30, 3.40
Node2: load average: 3.06, 3.11, 3.09 (crdb is shutdown now)
Node3: load average: 0.26, 0.72, 0.62
Node4: load average: 1.86, 1.86, 1.40

[2018-12-11 13:56] tbg commented on #20311
Closing for #32906 which is a bit more specific in scope.

[2018-12-11 13:56] #20311 closed

[2018-12-11 13:57] tbg commented on #28789
Long time no fail.

[2018-12-11 13:58] tbg commented on #31944
These are now "caught" by grepping them out in the jepsen nightly script. I'll leave this issue open but move it out of the test-failure label.

[2018-12-11 13:58] petermattis commented on #7713
No, this is fine to leave closed.

[2018-12-11 13:59] tbg commented on #26082
Similar to https://github.com/cockroachdb/cockroach/issues/31944, moving to C-cleanup and stopping to track this as a test flake.

[2018-12-11 14:08] petermattis commented on #31974
Yeah, I'll take this on, unless @spencerkimball wants to track down what is happening.

[2018-12-11 14:18] tbg commented on #29569
@andreimatei 👍 ps if you throw something into another team, do me a favor and also add their project (that's how we are keeping track of ownership, FSVO "we"), thanks!

[2018-12-11 14:30] #32859 closed

[2018-12-11 14:47] #32256 closed

[2018-12-11 14:50] jseldess commented on #5777
@tbg, I don't think it makes sense to transfer this to the docs repo because the work would have to happen here in the code. That said, I also don't know of a docs project in this repo that would work. Would you mind creating a new docs project for code changes that relate to docs (auto-generated content, etc.)?

[2018-12-11 14:51] tbg commented on #32521
Reproduces on that SHA. Trying master next.

[code]

[2018-12-11 14:57] tbg commented on #32524
@nvanbenschoten note that this is the same cluster as https://github.com/cockroachdb/cockroach/issues/32896, which had disk issues on n2. I also saw RocksDB deadlocked on n1, though apparently the storage worked (I'm going to look at a new debug zip later today).

[2018-12-11 15:05] spencerkimball commented on #31974
I can take a crack at it.

On Tue, Dec 11, 2018 at 9:08 AM Peter Mattis <notifications@github.com>
wrote:

[2018-12-11 15:10] tbg opened #33016 "storage: can't decrease HardState.Commit"
https://sentry.io/cockroach-labs/cockroachdb/issues/803235403/?referrer=webhooks_plugin

store.go:2151: stateloader.go:630

github.com/cockroachdb/cockroach/pkg/storage.(*Replica).processRaftCommand

[code]

[2018-12-11 15:11] tbg commented on #31125
#30832

[2018-12-11 15:11] #31125 closed

[2018-12-11 15:16] tbg commented on #32942
https://github.com/cockroachdb/cockroach/blob/a7b24d602ffb089a14cc243b81c3e0836cb71dd3/pkg/server/node.go#L738-L741

The error is https://github.com/cockroachdb/cockroach/blob/7c3289e7cd816dbc85d1c15caf28f760089916df/pkg/gossip/gossip.go#L966-L970

[2018-12-11 15:18] danhhz commented on #28789
Heh, because it's skipped. This really needs to be fixed. Essentially our entire test coverage of partitioning (this plus TestRepartitioning) is skipped.

[2018-12-11 15:18] tbg commented on #32521
No repro on master

[code]

[2018-12-11 15:18] #32521 closed

[2018-12-11 15:22] tbg commented on #32927
I hope this can be tracked back in some form or another to #32631.

The minimum that should happen here is an error that tells us the indexes.

[2018-12-11 15:23] tbg commented on #5777
A docs project here SGTM. Just create one for yourself: https://github.com/cockroachdb/cockroach/projects/

[2018-12-11 15:23] nvanbenschoten commented on #32979
I also thought that was the problem, but the code looks fine. It's possible that there's a variant of a lease transfer that doesn't kick off closed timestamp emission.

We saw this pretty clearly when running the CDC roachtests with Rangefeeds enabled. It would be worth it to sync up with @danhhz about running those and then to track down the cause of stalled resolved timestamps, which was due to

[2018-12-11 15:34] BramGruneir commented on #20305
Update the original comment here to make the descriptions clearer.  Match full isn't supported yet, but will be as soon as #32998 lands.

[2018-12-11 15:34] tbg commented on #28789
Ugh. Thanks for noticing.

[2018-12-11 15:56] bdarnell commented on #33008
@tbg This is a client-side command (the server side is correctly using `--listen-addr`)

@janartodesk Thanks for the report, this looks like a bug in our address parsing that affects `cockroach init` (and a few other commands that use GRPC instead of the SQL interface). Notice the double square brackets in the error messages.

As a workaround, if you can set up DNS names for these IPv6 addresses,

[2018-12-11 16:13] knz opened #33017 "sql: populate dummy pg_statio_user_tables"
Queries to pg_statio_user_tables are observed rather frequently (with unimplemented errors) in telemetry. A suitably populated dummy implementation should be provided.

https://www.postgresql.org/docs/9.2/monitoring-stats.html#PG-STATIO-ALL-TABLES-VIEW

[2018-12-11 16:34] cockroach-teamcity opened #33018 "roachtest: scaledata/filesystem_simulator/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1cd7dcfe1bbf487a714c7f00a5dd709360dbe9e4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1049151&tab=buildLog

[code]

[2018-12-11 16:40] #32101 closed

[2018-12-11 16:53] tbg commented on #7780
No, just didn't have a progress assigned (I'm going through the unowned backlog).

[2018-12-11 17:11] cockroach-teamcity commented on #32820
SHA: https://github.com/cockroachdb/cockroach/commits/1cd7dcfe1bbf487a714c7f00a5dd709360dbe9e4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1049151&tab=buildLog

[code]

[2018-12-11 17:20] cockroach-teamcity commented on #32821
SHA: https://github.com/cockroachdb/cockroach/commits/1cd7dcfe1bbf487a714c7f00a5dd709360dbe9e4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1049151&tab=buildLog

[code]

[2018-12-11 17:41] vivekmenezes commented on #32681
@aizumoff I looked at your cluster and I've confirmed that there are no outstanding schema changes left on that cluster. You should not be seeing CPU being used for schema changes.

Based on the above I've confirmed that the underlying problem seems to be slow schema changes (#12424),  and the rollback being slow which is already fixed through (#31326) in 2.2

I can either close this or leave it o

[2018-12-11 17:44] tbg commented on #32896
Thank you for the updated files. I'm seeing the same issue:

[code]

What's interesting is that we're stuck in the same scan, namely getting Raft entries for sending to a follower. I thought we limit everything correctly there, but perhaps we are not. With the process terminated, could you run

[code]

and post the results (they won't contain confidential information, so you can attach it to a com

[2018-12-11 17:46] tbg commented on #32896
I'll also need `cockroach debug keys --values cockroach-data/ | grep HardState` (make sure to change `cockroach-data` here and above).

[2018-12-11 18:47] tim-o commented on #33007
Hey @derkan  - it sounds like there are two requests here:
1) Raise an exception if ranges are not accessible, and
2) Support a use case where a cluster can continue running after losing half of its replicas.

Is that correct? If so, the first certainly seems reasonable but the second would be a very large change. We do have work ongoing to allow single replicas to return reads if quorum can't be

[2018-12-11 19:04] andy-kimball opened #33023 "opt: Unnecessary sort operator added by SELECT with WHERE clause"
Repro:
[code]

Expected: No explicit sort should be necessary
Actual: An explicit sort is added.
[code]

[2018-12-11 19:05] andy-kimball commented on #33023
Note that removing the `WHERE x=y` clause no longer causes the sort to be added.

[2018-12-11 19:50] cockroach-teamcity opened #33024 "teamcity: failed test: version-upgrade"
The following tests appear to have failed on release-2.1 (roachtest): acceptance/version-upgrade

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+version-upgrade).

[#1050678](https://teamcity.cockroachdb.com/viewLog.html?buildId=1050678):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-11 20:32] RaduBerinde commented on #33023
Fixed by #33023:
[code]

[2018-12-11 20:57] cockroach-teamcity opened #33026 "teamcity: failed test: TestNormRules"
The following tests appear to have failed on master (testrace): TestNormRules/comp, TestNormRules/reject_nulls, TestNormRules/agg, TestNormRules/combo, TestNormRules/numeric, TestNormRules/max1row, TestNormRules/ordering, TestNormRules/fold_constants, TestNormRules/join, TestNormRules/decorrelate, TestNormRules/select, TestNormRules/groupby, TestNormRules/scalar, TestNormRules/prune_cols, TestNorm

[2018-12-11 20:57] cockroach-teamcity opened #33027 "teamcity: failed test: TestPhysicalProps"
The following tests appear to have failed on master (testrace): TestPhysicalProps/ordering, TestPhysicalProps

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestPhysicalProps).

[#1050735](https://teamcity.cockroachdb.com/viewLog.html?buildId=1050735):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-11 20:57] cockroach-teamcity opened #33028 "teamcity: failed test: 05:06.789-8:30"
The following tests appear to have failed on master (testrace): 05:06.789-8:30/ParseTime

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+05:06.789-8:30).

[#1050735](https://teamcity.cockroachdb.com/viewLog.html?buildId=1050735):

[code]

Please assign, take a look and update the issue accordingly.

[2018-12-11 21:02] bdarnell opened #33029 "release: v2.2.0-alpha.20181217"
Candidate SHA: f524717e66973da0c11655c860d4b131f82409b9
Deployment status: young-warthog
Nightly Suite: https://teamcity.cockroachdb.com/viewLog.html?buildId=1056511&buildTypeId=Cockroach_Nightlies_NightlySuite

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: 2018-12-11
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-P