[2019-07-05 07:01] cockroach-teamcity commented on #38561
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 08:11] cockroach-teamcity commented on #37307
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 10:35] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375103&tab=buildLog

[code]

[2019-07-05 10:36] cockroach-teamcity commented on #38646
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 10:36] cockroach-teamcity commented on #38647
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 10:36] cockroach-teamcity commented on #38648
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 10:37] cockroach-teamcity commented on #38649
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 10:37] cockroach-teamcity commented on #38650
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 11:03] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 14:59] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 15:56] cockroach-teamcity commented on #38558
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374721&tab=buildLog

[code]

[2019-07-05 15:56] cockroach-teamcity commented on #38559
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374721&tab=buildLog

[code]

[2019-07-05 16:45] cockroach-teamcity commented on #38702
SHA: https://github.com/cockroachdb/cockroach/commits/a2f104c467ee1553a875b45f1e16f8cfb3e3195d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1374703&tab=buildLog

[code]

[2019-07-05 17:09] andy-kimball opened #38707 "sql: Consider adding a GroupJoin physical operator"
This paper (http://www.vldb.org/pvldb/vol4/p843-moerkotte.pdf) lays out an operator that combines `GroupBy` and `Join` operators into a unified operator that runs much faster. This operator would be used when the `Join` columns are the same as the `GroupBy` columns. In that special (but common) case, the `GroupJoin` operator can compute the join results and the aggregate functions in a single step

[2019-07-05 19:15] andy-kimball opened #38711 "opt: Add JoinAssociate rule for LeftJoin + InnerJoin"
As shown in a seminal paper on outer join optimization (http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.43.2531&rep=rep1&type=pdf), the following are not equivalent:
[code]
However, finding a way to reorder the joins would result in a big speedup if the inner join is large. In that case, it could be much better to first combine B with A. The aforementioned paper introduces a new operator,

[2019-07-05 20:06] anoasis commented on #35842
Hi @roncrdb ,

I keep getting the same error(split failed) even whenever I try to make some change on the tables or applying any changes on the settings.

root@crdb:26257/defaultdb> ALTER RANGE default CONFIGURE ZONE USING gc.ttlseconds =900;
pq: update-zone: split failed while applying backpressure: could not find valid split key

I've also tried to change the setting through the below commands,

[2019-07-05 20:09] anoasis commented on #35842
Here is my session logs -

             timestamp             |       age       |       message     |       tag       |location |        operation   | span
+----------------------------------+-----------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2019-07-06 04:41] jordanlewis opened #38714 "sql: inverted index backfill can't handle NULL values"
A forum user found this: https://forum.cockroachlabs.com/t/create-inverted-index-issue/2905/1

[code]

[2019-07-06 06:57] cockroach-teamcity commented on #38599
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 07:09] cockroach-teamcity commented on #38561
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 10:21] cockroach-teamcity commented on #37810
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 10:49] cockroach-teamcity commented on #38646
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 10:49] cockroach-teamcity commented on #38647
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 10:49] cockroach-teamcity commented on #38648
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 10:50] cockroach-teamcity commented on #38649
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 10:50] cockroach-teamcity commented on #38650
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 10:52] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375922&tab=buildLog

[code]

[2019-07-06 11:53] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 15:15] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 15:18] cockroach-teamcity commented on #37394
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 15:20] cockroach-teamcity commented on #38126
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 15:27] cockroach-teamcity commented on #38702
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 15:28] cockroach-teamcity commented on #37930
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 15:53] andy-kimball opened #38716 "opt: Synthesize equality conditions during AssociateJoin rule"
When 3 or more tables are joined, it is not uncommon for 3 or more columns to be equivalent. For example:
[code]
The optimizer will consider these join orders:
[code]
But it will not consider `(a join c) join b`, because there is no explicit join condition between `a` and `c`. This could cause it to miss the best plan (in fact, it does miss the best plan for TPC-H Q9 for this reason).

The optimiz

[2019-07-06 17:01] andy-kimball opened #38719 "opt: Internal error in statistics builder when running modified TCP-H query"
Using the TPC-H schema, run this query.
[code]
EXPECTED: No error

ACTUAL: Internal error
[code]

[2019-07-06 17:05] cockroach-teamcity opened #38720 "roachtest: clearrange/checks=true failed"
SHA: https://github.com/cockroachdb/cockroach/commits/9322e07476de447799c5d3011eb2874930ee2993

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1375546&tab=buildLog

[code]

[2019-07-06 17:41] andy-kimball opened #38721 "opt: Extract restrictions from OR of AND clauses in join conditions"
Sometimes a join condition contains an OR clause that references both sides of the join and therefore cannot be pushed down to either side in order to reduce input cardinalities. However, it is sometimes possible to extract restrictions that can be pushed down, as in this example from TPC-H Q7:
[code]
Here, the following restrictions can be extracted (and duplicated):
[code]
Since these new restri

[2019-07-06 17:42] andy-kimball commented on #38721
CC @rytaft, who has added some AND/OR optimizations similar to this in the past.

[2019-07-06 17:53] andy-kimball opened #38722 "opt: Improve row count estimation for common OR clause pattern"
Consider this query, which uses TPC-H schema:
[code]
The optimizer estimates 8.33 rows will be returned from this query. However, if the query is changed to this:
[code]
The optimizer correctly estimates 2 rows.

We should add an optimization rule that normalizes OR conditions as an IN clause where possible, since our statistics estimation is able to do a better job of estimation with IN clauses.

[2019-07-06 20:27] Bessonov commented on #36208
A friendly reminder @awoods187 @rolandcrosby @roncrdb @justinj .

[2019-07-07 13:53] #38646 closed

[2019-07-07 13:53] #38647 closed

[2019-07-07 13:53] #38648 closed

[2019-07-07 13:53] #38649 closed

[2019-07-07 13:53] #38650 closed

[2019-07-07 21:16] mike-holberger commented on #19667
I can confirm that it is possible to deploy cockroachDB in **secure mode** inside an **istio-injected** namespace **without mTLS**. As I stated previously, statefulSet deployments with istio-injection require a separate **service entry** resource be deployed.

Mine looks like this:
https://gist.github.com/mike-holberger/6ba7d8ec65934d0c4532bfaf12d9e516#file-svcentry-crdb-yaml

Deploy the service e

[2019-07-08 02:25] RaduBerinde commented on #38721
FWIW, the `splitFilter` primitive used by the HP can do this.
https://github.com/cockroachdb/cockroach/blob/2eebbddbb133eea7102a47fbe7f5d13ec6f8f670/pkg/sql/expr_filter.go#L387
https://github.com/cockroachdb/cockroach/blob/2eebbddbb133eea7102a47fbe7f5d13ec6f8f670/pkg/sql/expr_filter_test.go#L90

We might need to implement something similar and use it in the join rules.

[2019-07-08 03:00] #38659 closed

[2019-07-08 05:56] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/36b74f0373b040aa873d4c23b415d94deba88378

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1376818&tab=buildLog

[code]

[2019-07-08 06:59] cockroach-teamcity commented on #38599
SHA: https://github.com/cockroachdb/cockroach/commits/36b74f0373b040aa873d4c23b415d94deba88378

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1376442&tab=buildLog

[code]

[2019-07-08 07:05] cockroach-teamcity commented on #38561
SHA: https://github.com/cockroachdb/cockroach/commits/36b74f0373b040aa873d4c23b415d94deba88378

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1376442&tab=buildLog

[code]

[2019-07-08 09:05] cockroach-teamcity commented on #37308
SHA: https://github.com/cockroachdb/cockroach/commits/36b74f0373b040aa873d4c23b415d94deba88378

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1376442&tab=buildLog

[code]

[2019-07-08 10:35] cockroach-teamcity opened #38723 "roachtest: clock/jump/large_backward_enabled failed"
SHA: https://github.com/cockroachdb/cockroach/commits/36b74f0373b040aa873d4c23b415d94deba88378

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1376442&tab=buildLog

[code]

[2019-07-08 11:04] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/36b74f0373b040aa873d4c23b415d94deba88378

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1376442&tab=buildLog

[code]

[2019-07-08 11:53] cockroach-teamcity commented on #36089
SHA: https://github.com/cockroachdb/cockroach/commits/36b74f0373b040aa873d4c23b415d94deba88378

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1376442&tab=buildLog

[code]

[2019-07-08 12:53] knz commented on #37768
Added clearer error in code in #38725, to remove the UX-surprise label.

[2019-07-08 13:23] #38561 closed

[2019-07-08 13:52] rytaft opened #38726 "release: v19.1.3"
Candidate SHA: 1a14d34eaa22ca5765f338ab4235766f5e293be0
Deployment status: testing on `becca-release-v191{2,3}`.
Nightly Suite: https://teamcity.cockroachdb.com/viewLog.html?buildId=1379963&buildTypeId=Cockroach_Nightlies_NightlySuite

[Release process checklist](https://wiki.crdb.io/wiki/spaces/CRDB/pages/73105625/Release+process)

Prep date: `7/8/2019`
- [x] [Pick a SHA](https://wiki.crdb.io/wik

[2019-07-08 13:53] rytaft opened #38727 "release: v2.1.8"
Candidate SHA: f284f16a1224c87e9e9a54c809e7a73a5f59506d
Deployment status: testing on `becca-release-v21{7,8}`
Nightly Suite: https://teamcity.cockroachdb.com/viewLog.html?buildId=1379981&buildTypeId=Cockroach_Nightlies_NightlySuite

[Release process checklist](https://wiki.crdb.io/wiki/spaces/CRDB/pages/73105625/Release+process)

Prep date: `7/8/2019`
- [x] [Pick a SHA](https://wiki.crdb.io/wiki/

[2019-07-08 13:59] andreimatei commented on #38666
2.0. Too old to investigate.

[2019-07-08 13:59] #38666 closed

[2019-07-08 14:03] andreimatei commented on #38636
cc @awoods187

[2019-07-08 14:06] andreimatei commented on #38548
2.0. Too old to investigate.

[2019-07-08 14:06] #38548 closed

[2019-07-08 14:06] andreimatei commented on #38547
2.0. Too old to investigate.

[2019-07-08 14:06] #38547 closed

[2019-07-08 14:08] andreimatei commented on #38582
@RaduBerinde would you take a peek at this one? Or forward along :)

[2019-07-08 14:10] andreimatei commented on #38571
build failure but I don't understand it. Closing.

[2019-07-08 14:10] #38571 closed

[2019-07-08 14:12] ricardocrdb commented on #38050
Closing due to inactivity. If you are still having the issue, please feel free to respond to this thread. We want to help!

[2019-07-08 14:12] #38050 closed

[2019-07-08 14:12] ricardocrdb commented on #35724
Closing due to inactivity. If you are still having the issue, please feel free to respond to this thread. We want to help!

[2019-07-08 14:12] #35724 closed

[2019-07-08 14:13] andreimatei commented on #38510
It looks like somehow we tried to run a tests from the root of our repo...

[2019-07-08 14:13] ricardocrdb commented on #38160
Hey @Samusername

Thanks for the confirmation, I will go ahead and close this issue.

Cheers,
Ricardo

[2019-07-08 14:13] #38160 closed

[2019-07-08 14:18] rytaft commented on #38721
Seems like we could handle this case pretty easily with a rule similar to `ExtractRedundantConjunct`: https://github.com/cockroachdb/cockroach/blob/78bcb5a88af823734c90124c720ed6e3180d4a96/pkg/sql/opt/norm/rules/bool.opt#L157. Instead of checking that the conjunct matches exactly in all clauses, we would just need to check that there is an equality expression with matching outer columns.

[2019-07-08 14:21] justinj commented on #38716
I think this is a dup of #36226 that Radu found, I've been meaning to look into it but haven't yet.

[2019-07-08 14:22] danhhz commented on #38368
Hey Nathan, the plan is for this to be a training issue for someone, right? Is that person you or should we go ahead and pick someone? It'd be great to get this closed out since it's a real correctness bug

[2019-07-08 14:23] tim-o commented on #27444
*Comment made from Zendesk by Ricardo Rocha on 2019-07-08 at 14:23:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Closing older ZenDesk forum incidents as per Support meeting on 7/2</p></div></blockquote>

[2019-07-08 14:23] tim-o commented on #9851
*Comment made from Zendesk by Ricardo Rocha on 2019-07-08 at 14:23:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Closing older ZenDesk forum incidents as per Support meeting on 7/2</p></div></blockquote>

[2019-07-08 14:23] tim-o commented on #16491
*Comment made from Zendesk by Ricardo Rocha on 2019-07-08 at 14:23:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Closing older ZenDesk forum incidents as per Support meeting on 7/2</p></div></blockquote>

[2019-07-08 14:25] rytaft commented on #38722
I think the problem is that the constraint library currently handles IN but does not handle OR. Perhaps we should add the ability to extract constraints from OR expressions, using similar logic to the index constraints library.

[2019-07-08 14:34] justinj opened #38728 "opt: push filters into window functions when columns are referenced in the ORDER BY"
We already push down filters that are determined by the partition-by columns of the window function. We should also be able to push down filters bound by the order-by in certain situations.

Consider this query:

[code]

The filter on `time` can be pushed down, since the window function being computed is prefix-safe and the filter allows through a prefix of the results.

Jira issue: CRDB-5615

[2019-07-08 14:42] nvanbenschoten commented on #38368
We actually talked about this at last week's core meeting. The decision was that once issues like this are debugged and a root cause is determined, they're no longer training issues and should be scheduled and addressed like any other bug that pops up.

We'll need to find an owner for this issue and address it sometime soon. That owner can be me, but in all likelihood I'm not going to be able to f

[2019-07-08 14:45] tim-o commented on #38013
Zendesk ticket #[3388](https://cockroachdb.zendesk.com/agent/tickets/3388) has been linked to this issue.

[2019-07-08 14:48] tim-o commented on #31632
Zendesk ticket #[3474](https://cockroachdb.zendesk.com/agent/tickets/3474) has been linked to this issue.

[2019-07-08 14:53] andreimatei commented on #38640
Can repro locally on the 19.1 branch.

[2019-07-08 14:53] awoods187 commented on #38591
@bdarnell could you clarify how big the work effort is for the second part?

[2019-07-08 14:56] andreimatei commented on #38723
Here the node detected a jump *forward* although the test does a *backward* one. But I think the test also restores the time at the end, so maybe that's when it all goes bad. Trying to repro

[2019-07-08 15:07] rolandcrosby commented on #36208
Hi @Bessonov, thank you for your patience, and sorry for not getting back on this earlier. We don't have any work planned on this for the 19.2 release this fall, but I've taken note of the problem you're trying to solve and am investigating possible solutions for future releases.

[2019-07-08 15:12] knz commented on #37423
The data errors are possibly related to your platform using a different format for 64-bit floating point. Is this arch not doing IEEE764? If not, is there a compiler flag you could add to force that format?

[2019-07-08 15:25] RaduBerinde commented on #32882
@justinj please close when you finalize the last remaining item (view/sequence by ref).

[2019-07-08 15:45] rohany commented on #38502
Done in #38613 and #38546

[2019-07-08 15:45] #38502 closed

[2019-07-08 15:49] rolandcrosby opened #38731 "Allow users with `SELECT` privilege on a table to view its ranges"
Currently, only the `admin` role is able to execute the `show (experimental|testing)_ranges` statement. It would be sensible to expand this and allow any user with the `SELECT` privilege on a table to view the ranges associated with the table and its indexes.

Current behavior:

[code]

[code]

[2019-07-08 16:08] RaduBerinde commented on #38608
Dup of #38177.

[2019-07-08 16:08] #38608 closed

[2019-07-08 16:09] RaduBerinde commented on #38177
Dup of #38177.

[2019-07-08 16:09] #38177 closed

[2019-07-08 16:11] RaduBerinde commented on #37794
There were two other dups of this, in 19.1.1.   @justinj please take a look when you get a chance.

[2019-07-08 16:12] RaduBerinde commented on #38582
Fixed in 2.1.4. See #33342.

[2019-07-08 16:12] #38582 closed

[2019-07-08 16:25] RaduBerinde opened #38732 "opt: add error hint for column from source that is not allowed"
I noticed this error hint in pg: `There is a column named "k" in table "kv", but it cannot be referenced from this part of the query`. We should set a hint like that in the optbuilder.

Probably best to tackle when the HP is gone.

Jira issue: CRDB-5613

[2019-07-08 16:26] #38062 closed

[2019-07-08 16:58] danhhz commented on #38368
@lhirata would you mind documenting this as a known limitation until a fix is out? Probably should be something both in the known limitations as well as a loud callout (warning box?) in the cloud storage cdc section.

The summary is there is currently a bug (only in the cloud storage sink) where new row information will show up with a timestamp that has been closed out. This violates our guarantee

[2019-07-08 17:09] jordanlewis opened #38733 "sql: rolling back an index drop operation on an fk index can result in invalid state"
Dropping an index cascade with a foreign key on it and having the drop operation roll back leads to an invalid and unrecoverable state for the table descriptor. The data can still be read, but the schema cannot be inspected nor edited.

@lucy-zhang and I discovered this while working on the foreign key migration stuff.

The root cause is that the drop index code doesn't edit the index to remove it

[2019-07-08 17:09] lucy-zhang commented on #38025
There's a related problem when we drop indexes that have FK references or backreferences with `CASCADE`. Currently we leave the index itself (with all references) alone and only delete whatever is on the other table, which leads to orphaned references or backreferences (which persist after a rollback) - see #38733. An easy planned fix for just the orphaned references problem is to just update both

[2019-07-08 17:22] andreimatei commented on #38706
no artifacts due to a roachtest bug.

[2019-07-08 17:22] #38706 closed

[2019-07-08 17:23] andreimatei commented on #38703
no artifacts due to a roachtest issue

[2019-07-08 17:23] #38703 closed

[2019-07-08 17:25] andreimatei commented on #38720
timed out importing

[2019-07-08 17:26] andreimatei commented on #38675
no artifacts due to a roachtest bug

[2019-07-08 17:26] #38675 closed

[2019-07-08 17:27] andreimatei commented on #38676
no artifacts due to a roachtest bug

[2019-07-08 17:27] #38676 closed

[2019-07-08 17:28] andreimatei commented on #38677
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38677 closed

[2019-07-08 17:28] andreimatei commented on #38678
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38678 closed

[2019-07-08 17:28] andreimatei commented on #38679
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38679 closed

[2019-07-08 17:28] andreimatei commented on #38680
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38680 closed

[2019-07-08 17:28] andreimatei commented on #38681
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38681 closed

[2019-07-08 17:28] andreimatei commented on #38682
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38682 closed

[2019-07-08 17:28] andreimatei commented on #38683
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38683 closed

[2019-07-08 17:28] andreimatei commented on #38684
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38684 closed

[2019-07-08 17:28] andreimatei commented on #38685
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38685 closed

[2019-07-08 17:28] andreimatei commented on #38686
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38686 closed

[2019-07-08 17:28] andreimatei commented on #38687
no artifacts due to a roachtest bug

[2019-07-08 17:28] #38687 closed

[2019-07-08 17:29] andreimatei commented on #38688
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38688 closed

[2019-07-08 17:29] andreimatei commented on #38689
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38689 closed

[2019-07-08 17:29] andreimatei commented on #38690
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38690 closed

[2019-07-08 17:29] andreimatei commented on #38691
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38691 closed

[2019-07-08 17:29] andreimatei commented on #38692
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38692 closed

[2019-07-08 17:29] andreimatei commented on #38693
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38693 closed

[2019-07-08 17:29] andreimatei commented on #38694
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38694 closed

[2019-07-08 17:29] andreimatei commented on #38695
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38695 closed

[2019-07-08 17:29] andreimatei commented on #38696
no artifacts due to a roachtest bug

[2019-07-08 17:29] #38696 closed

[2019-07-08 17:30] andreimatei commented on #38697
no artifacts due to a roachtest bug

[2019-07-08 17:30] #38697 closed

[2019-07-08 17:30] andreimatei commented on #38698
no artifacts due to a roachtest bug

[2019-07-08 17:30] #38698 closed

[2019-07-08 17:30] andreimatei commented on #38699
no artifacts due to a roachtest bug

[2019-07-08 17:30] #38699 closed

[2019-07-08 17:30] andreimatei commented on #38700
no artifacts due to a roachtest bug

[2019-07-08 17:30] #38700 closed

[2019-07-08 17:30] andreimatei commented on #38701
no artifacts due to a roachtest bug

[2019-07-08 17:30] #38701 closed

[2019-07-08 17:41] andy-kimball opened #38735 "opt: Poor row count estimate for join with multiple conditions"
Using the TPC-H schema, I was running a query similar to the following:
[code]
EXPECTED: I expected the estimated number of rows returned by the join to be in the same ballpark as the actual number of rows.

ACTUAL: The estimated number of rows was only 2,429, even though the actual number of rows is 6,001,215.

This discrepancy seems to occur only when both join conditions are used together. Eith

[2019-07-08 17:43] rohany commented on #38618
Done in #38654 and #38669

[2019-07-08 17:43] #38618 closed

[2019-07-08 17:49] andreimatei commented on #38598
Fixed by #38579

[2019-07-08 17:49] #38598 closed

[2019-07-08 17:59] andreimatei commented on #38599
@nvanbenschoten would you mind looking at this one?
At least in the last failure, this assertion crashed a node:
https://github.com/cockroachdb/cockroach/blob/78bcb5a88af823734c90124c720ed6e3180d4a96/pkg/roachpb/data.go#L1221
It's complaining that a transaction that got a retriable error is also aborted. I'm thinking that this might be a result of #38579 where we started updating the transaction i

[2019-07-08 18:00] andreimatei commented on #38559
no artifacts because of roachtest problem

[2019-07-08 18:00] #38559 closed

[2019-07-08 18:01] andreimatei commented on #38702
no artifacts because of roachtest problem

[2019-07-08 18:01] #38702 closed

[2019-07-08 18:06] bdarnell commented on #38591
I think it's fairly small, probably a couple days of work. But testing it may be tricky and it may get more complex than expected once you start pulling on that thread.

[2019-07-08 18:07] andreimatei commented on #38558
no artifacts on any of the above, but hopefully we'll have them next time

[2019-07-08 18:29] andreimatei commented on #38674
@dt for triage

[2019-07-08 18:34] nvanbenschoten commented on #38599
Yeah, this is a result of #38579. The assertion we see is:
[code]

This is likely a result of

https://github.com/cockroachdb/cockroach/blob/ff57e89e6b05109bfc0262e651bd7c42be4a00be/pkg/kv/txn_interceptor_pipeliner.go#L546-L550

We prioritize an `IntentMissingError` over a `TransactionAbortedError` due to #38579, but still combine the transaction protos. We then turn that `IntentMissingError` into

[2019-07-08 18:36] andreimatei commented on #38615
Andrew, want this one? :)

[2019-07-08 18:37] ajwerner commented on #38615
I suspect this is related to https://github.com/cockroachdb/cockroach/pull/38343 but sure.

[2019-07-08 19:08] rolandcrosby commented on #31612
S3 Default Encryption mostly makes this irrelevant. We will reopen if there is significant customer demand to pass custom options for this in the future.

[2019-07-08 19:08] #31612 closed

[2019-07-08 19:09] lucy-zhang commented on #38733
At some point in the future, we should audit all the places where FKs and backreferences are added or removed, and do some refactoring to have a common pattern for adding/removing both at the same time, since I can't think of any cases where you'd want to add/remove them in separate transactions. It would be an improvement over having, e.g., separate `removeFK` and `removeFKBackReference` function

[2019-07-08 19:15] dt commented on #20370
The IO errors on this were a bug that was fixed. The name collisions were a known limitation (names didn't get reserved until we were done importing so they went live all at once) but with the shift to `IMPORT INTO` all imports now reserve names up front too, so it isn't possible to import the same table twice.

[2019-07-08 19:15] #20370 closed

[2019-07-08 19:16] rolandcrosby commented on #25803
Perhaps making cluster logical timestamps for job start and end visible in the web UI would help with the underlying issue of wanting to roll back to before a schema change happened. @piyush-singh, is this a scenario you've considered or something you're approaching from other angles?

[2019-07-08 19:20] dt commented on #30421
the production clusters are gone, but MSO does hourly backups so I'll consider this done for now.

[2019-07-08 19:20] #30421 closed

[2019-07-08 19:23] #32146 closed

[2019-07-08 19:28] rolandcrosby commented on #16779
Implemented by `BACKUP WITH revision_history`

[2019-07-08 19:28] #16779 closed

[2019-07-08 19:32] #32626 closed

[2019-07-08 19:33] dt commented on #38674
Eh, I don't really know what to do with this: tables are leased during sql planning and execution, so I _think_ the SQL peeps know more about table leases than I or anyone on bulk-io would (this is somewhere where the prior owner doesn't really map 1:1 with the team I think)

[2019-07-08 19:34] rolandcrosby commented on #32498
Not planning to invest in this at the moment, since SSTs are already made of compressed blocks.

[2019-07-08 19:34] #32498 closed

[2019-07-08 20:00] nvanbenschoten commented on #37387
^ `No user-defined artifacts in this build.`

We're not going to have any luck tracking that down. @andreimatei is this a known issue?

[2019-07-08 20:06] andreimatei commented on #37387
Yeah, there was a bug. It's been fixed since.

[2019-07-08 20:12] nvanbenschoten commented on #37387
Ok, closing this then because nothing here looks actionable.

[2019-07-08 20:12] #37387 closed

[2019-07-08 20:33] RaduBerinde opened #38744 "opt: implement index skip scan using partition values"
This bugs tracks implementing an index skip scan, as described in https://github.com/cockroachdb/cockroach/issues/37312#issuecomment-489354659

See that issue for more discussion.

We can start by using the list of values for partitioning.

[2019-07-08 20:34] RaduBerinde commented on #37312
@danhhz good call, filed #38744.

[2019-07-08 20:40] RaduBerinde commented on #38744
CC @ridwanmsharif, this would be a natural extension of your work on #37312.

[2019-07-08 20:48] RaduBerinde commented on #38744
Oh, sorry, this is a dup of #38031.

[2019-07-08 20:53] andreimatei commented on #38674
passing along to @jordanlewis

[2019-07-08 20:58] nvanbenschoten commented on #38672
Closed by #38729.

[2019-07-08 20:58] #38672 closed

[2019-07-08 21:22] #38599 closed

[2019-07-08 21:47] #38714 closed

[2019-07-09 01:34] RaduBerinde commented on #38636
Unfortunately, even our non-recursive WITH support is spotty (we only support it when the CTE is used once). Given the current list of items we are working on, recursive CTEs won't make 19.2, but perhaps the following release.

As for 1, I think it depends heavily on the use case. If you can go into more details about how you are using them, perhaps with sample queries, that would be helpful.

[2019-07-09 03:07] RaduBerinde commented on #38340
We will need this soon (for writing tests for opt-driven FK checks).

[2019-07-09 03:31] solongordon commented on #38611
I did a bit of digging on this. This issue happens when you select only columns which are in a different column family from the primary key. Because no index columns are needed, `cfetcher` sets `mustDecodeIndexKey` to false and does not populate `lastRowPrefix`. But then when it goes to decode the column family KV (`stateFetchNextKVWithUnfinishedRow`), it tries to remove `lastRowPrefix` from the r

[2019-07-09 04:09] solongordon opened #38750 "exec: 'index out of range' errors for some aggregations"
Some aggregations cause an "index out of range" error in the vectorized implementation. You can see examples of this by running the `aggregate` logic test with the `local-vec` configuration. Some of the failing tests:
[code]

[2019-07-09 04:18] solongordon opened #38751 "exec: float 'NaN' comparisons are incorrect"
A few of the `float` logic test fail for `local-vec`:
[code]

[2019-07-09 04:26] solongordon opened #38752 "exec: bad behavior when combining aggregations and projections"
I noticed some problematic behavior for queries which project the result of an aggregation. For instance, arithmetic seems to have no effect:
[code]
And projecting a comparison causes a panic:
[code]

[2019-07-09 04:34] solongordon opened #38753 "exec: error when fetching from unique index with nulls"
cfetcher throws an error when fetching from a unique index with null values in it.
[code]
This was caught by the `order_by` logic test.

[2019-07-09 04:36] solongordon commented on #38751
This appears to affect sorting as well:
[code]

[2019-07-09 04:44] solongordon opened #38754 "exec: error when decoding OID keys"
Presumably this isn't limited to the OID type, but the vectorized engine throws an error when trying to decode OID keys:
[code]

[2019-07-09 04:59] solongordon opened #38755 "exec: incorrect results for system.namespace table"
The vectorized engine returns incorrectly NULL results for the `system_namespace.id` column.
[code]
I haven't investigated further yet but perhaps related to #38611? Almost certainly it involves column family logic.

[2019-07-09 05:01] solongordon opened #38756 "exec: run nightly logic tests with vectorized enabled"
We should manually run the nighty SQL logic tests with `set experimental_vectorize=on` to see if they trigger any issues we weren't already aware of.

[2019-07-09 07:24] cockroach-teamcity opened #38757 "roachtest: tpchbench/tpchVec/nodes=3/cpu=4/sf=1 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 07:52] knz commented on #24118
@piyush-singh @jseldess FYI I have prepared a PR to address this issue a while ago; however it's not merged yet and Ben suggests in https://github.com/cockroachdb/cockroach/pull/28495#issuecomment-509334267 that you should be the folk green lighting this work. What do you think?

[2019-07-09 07:53] knz commented on #24118
(If doc bandwidth is an issue, I could volunteer to draft the necessary changes myself.)

[2019-07-09 08:37] akshayjshah opened #38758 "Listening URL file is written after process is backgrounded"
**Describe the problem**
When running CockroachDB with the `--background` and `--listening-url-file` flags, the listening URL file isn't written until *after* control is returned to the shell. This makes it awkward to actually read the URL from the file, which makes `--background` less useful (especially in tests, where I'm starting databases on ephemeral ports).

It's easy to work around this by

[2019-07-09 09:03] rajnish4internet commented on #34921
Yes I am facing same problem.

I am able to run below query on MySQL: now similar query I want to execute
on cockroachDB,
running on mysql, not in cockroach db.
UPDATE T1, T2,
INNER JOIN T1 ON T1.C1 = T2. C1
SET T1.C2 = T2.C2,
    T2.C3 > 100
WHERE T2.ID > 10000;

On Thu, Jun 6, 2019 at 10:57 PM Ricardo Rocha <notifications@github.com>
wrote:

[2019-07-09 10:35] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 11:07] MartinNiederl commented on #19444
I would like to use this package to test the database, but currently this is not possible due to this issue: https://github.com/go-testfixtures/testfixtures

@dt Are there any plans for implementing this functionality?

[2019-07-09 11:11] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 13:05] nvanbenschoten commented on #38322
I put together [a prototype](https://github.com/nvanbenschoten/cockroach/commit/98a26e5a550b60323378d9f735b72e7368a1c021) that sets `WriteOptions::disableWAL` to true during Raft entry application. This would potentially allow us to address this issue without the need for a separate storage engine for the Raft log. I verified that the change appeared to work by monitoring the size of the WAL for a

[2019-07-09 13:15] petermattis commented on #38322
Hmm, those numbers are not nearly as compelling as what you were seeing before. I recall you mentioning in person that using an actual separate RocksDB instance for the Raft log appeared to give a significant win for rafttoy.

I seem to recall that the RocksDB commit pipeline internally has some funkiness when batches have different options. It is possible that the source of the problem is there.

[2019-07-09 14:12] cockroach-teamcity opened #38763 "roachtest: jepsen/multi-register/majority-ring-start-kill-2 failed [hopefully #36431]"
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 14:59] cockroach-teamcity commented on #37394
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 15:05] jordanlewis commented on #38755
I dug into this and found out that one problem is that the hardcoded descriptor for system.namespace doesn't reflect reality - it claims 2 column families, one for the parentID and name, and one for id, but the code that actually writes keys to that table writes a single column family with the id in the value part of the key.

This causes an issue in the cfetcher, which is more precise than the re

[2019-07-09 15:05] #38614 closed

[2019-07-09 15:06] cockroach-teamcity commented on #35144
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 15:09] petermattis commented on #38755
Can/should the hardcoded descriptor be fixed?

[2019-07-09 15:13] cockroach-teamcity opened #38764 "teamcity: failed test: TestLogic"
The following tests appear to have failed on master (test): TestLogic/fakedist: TestLogic/fakedist-metadata, TestLogic, TestLogic/fakedist: TestLogic/fakedist-metadata: TestLogic/fakedist-metadata/fk: TestLogic/fakedist-metadata/fk/unvalidated_fk_plan, TestLogic/fakedist: TestLogic/fakedist-metadata: TestLogic/fakedist-metadata/fk

You may want to check [for open issues](https://github.com/cockroa

[2019-07-09 15:13] cockroach-teamcity opened #38765 "teamcity: failed test: TestEncodeDecimal"
The following tests appear to have failed on master (test): TestEncodeDecimal/2_100_29_0.0011

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestEncodeDecimal).

[#1379861](https://teamcity.cockroachdb.com/viewLog.html?buildId=1379861):

[code]

Please assign, take a look and update the issue accordingly.

[2019-07-09 15:17] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 16:00] jordanlewis commented on #38755
I don't know. It does seem like the hardcoded descriptors are persisted, so at the very least we have to be careful.

[code]

[2019-07-09 16:24] cockroach-teamcity commented on #38640
SHA: https://github.com/cockroachdb/cockroach/commits/f284f16a1224c87e9e9a54c809e7a73a5f59506d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1379975&tab=buildLog

[code]

[2019-07-09 16:48] #30416 closed

[2019-07-09 17:01] mguillemot-tel opened #38768 "DDL statement on one table prevents stmt on another unrelated table in same transaction"
# Describe the problem

Inside a single transaction, DDL statements about one table prevent modifications on another totally unrelated table.

**This is a regression that happened somewhere between 2.1.4 (which worked) and 19.1.2 (which exhibits the bug).**

# To Reproduce

Put the following in a `repro.sql` file:

[code]

Then execute it on Cockroach 19.1.2:

[code]

This will fail with the follo

[2019-07-09 17:01] cockroach-teamcity opened #38769 "teamcity: failed test: TestLogic"
The following tests appear to have failed on master (test): TestLogic, TestLogic/fakedist, TestLogic/fakedist: TestLogic/fakedist/fk, TestLogic/fakedist: TestLogic/fakedist/fk: TestLogic/fakedist/fk/unvalidated_fk_plan

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestLogic).

[#1380145](https://teamcity.cockroachdb.com/viewLog.html

[2019-07-09 17:03] rytaft commented on #38719
I can't seem to reproduce this. Are you still able to, @andy-kimball? I've tried both with and without stats, and neither one causes the error. Perhaps it was fixed by an earlier PR?

[2019-07-09 17:09] #18988 closed

[2019-07-09 17:20] bdarnell commented on #38591
Copying this from https://github.com/cockroachdb/cockroach/pull/38668#pullrequestreview-259588707

https://github.com/cockroachdb/cockroach/blob/d02410725d19b346a0f34e51fd5029b3a020b4cb/pkg/sql/conn_executor_exec.go#L425-L445

[2019-07-09 17:32] nvanbenschoten commented on #38322
I talked to @ajkr about this and he said that it's likely that RocksDB is batching the two groups together under the hood. He's going to look into whether there's an easy way to avoid this. Perhaps we can disable this batching entirely since we're already doing it ourselves?

If not, this change may require the raft log / data store split. Even with that split, we'll need to be careful about this

[2019-07-09 17:45] ericharmeling opened #38771 "roachprod: difficulty starting cluster with username containing non-alphanumeric characters (e.g. periods)"
## Overview
`roachprod` requires that cluster names begin with authorized GCE account name. Cluster names cannot include certain characters (e.g. a period), so usernames with periods with have issues. Currently, you need to use the `--username` tag for usernames like this...

For example, to start a cluster with the username `eric.harmeling`, you need to have the cluster name specified as `erichar

[2019-07-09 17:47] ajwerner commented on #38771
We're not going to have a good time supporting `.`s in cluster names due to their use in DNS names but fortunately the `.` is not meaningful in google user account names and our usernames here are google accounts. The fix is going to be to remove any dots from usernames upon initialization. I'll get to it soon.

[2019-07-09 17:59] cockroach-teamcity commented on #37815
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 18:08] jordanlewis commented on #38755
Upon further investigation, I think people are actually writing to these hardcoded descriptors correctly, for the most part. The assumption that's violated is that these tables don't have a "sentinel" kv pair - they start right with a higher column family id. CFetcher can't handle this case.

[2019-07-09 18:10] cockroach-teamcity opened #38772 "roachtest: clearrange/checks=false failed"
SHA: https://github.com/cockroachdb/cockroach/commits/8c6fdc64908a13291e4ddc5d233bbbaa379e71a2

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1378458&tab=buildLog

[code]

[2019-07-09 18:48] #28967 closed

[2019-07-09 18:50] celiala opened #38774 "ui: Document Implicit Transactions mentioned on Statements page"
In #36341, we added a `"TXN TYPE"` column to the Statements page, as well as a tooltip, which explains what an Implicit/Explicit transaction is.

But the user may then want to know what this means for them, and what should they do with this information. So, further documentation around this would be helpful.

Note that we initially tried explaining this within the tooltip but decided to abort, sin

[2019-07-09 18:56] #38415 closed

[2019-07-09 19:03] jordanlewis opened #38775 "exec: overflow handling for aggregates"
Aggregates in vectorized currently don't check for overflows. This is incorrect and needs to be fixed.

[2019-07-09 19:06] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/f284f16a1224c87e9e9a54c809e7a73a5f59506d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1379975&tab=buildLog

[code]

[2019-07-09 19:12] petermattis commented on #38322
Yeah, they might be grouped into the same uber-batch. But even without that grouping there is a problem. Consider what happens if there is a commit of batch A that writes to the WAL and a concurrent commit of batch B that skips the WAL. If the commit of B happens after the commit of A it will get queued up behind A and require waiting for A to be written to the WAL and then applied to the memtable

[2019-07-09 19:16] #38375 closed

[2019-07-09 19:33] mjibson commented on #38286
Ping. Can you take a look at this again?

[2019-07-09 19:38] nvanbenschoten commented on #38765
Looks like this was batched in with https://github.com/cockroachdb/cockroach/issues/38764.

[2019-07-09 19:38] #38765 closed

[2019-07-09 19:47] lucy-zhang commented on #32468
This happens because it's possible to generate identical inverted index keys for different JSON tree nodes, and we reject SST k/v batches with duplicate keys. There's a flag in the BulkAdder that's flipped for the index backfiller to ignore duplicates, which we can turn on for IMPORT with `experimental_direct_ingestion` as well. It's probably not worth fixing for the current IMPORT implementation.

[2019-07-09 19:47] nvanbenschoten commented on #38772
Tons of RocksDB stalls like:
[code]

@ajkr noticed this in https://github.com/cockroachdb/cockroach/issues/38095#issuecomment-506548754. I closed that issue because part of it was fixed, but this still needs to be tracked.

[2019-07-09 19:48] nvanbenschoten commented on #38720
Same cause as https://github.com/cockroachdb/cockroach/issues/38772, but let's leave this open to avoid re-triaging.

[2019-07-09 20:02] tbg commented on #32581
@ajwerner in the short term, a rolling restart of the cluster would also resolve the problem, right?

[2019-07-09 20:08] yuzefovich commented on #38286
Thanks, yes, I'll take a look.

[2019-07-09 20:24] lucy-zhang opened #38776 "sql: audit and refactor addition/removal of FK references and backreferences"
#38733 is a bug that results from erroneously removing FK references without removing backreferences (or vice versa) during DROP INDEX. There are likely other bugs resulting from a failure to add/remove both the reference and backreference at the same time. We should audit all the places where we add/remove FK references or backreferences to ensure that they're updated in the same transaction, and

[2019-07-09 21:06] bra-fsn opened #38778 "Node pegs CPU after slow latch acquisitions grew"
**Describe the problem**

After ingesting some sample data, one of the CockroachDB nodes starts eating CPU and while some SQL queries can succeed, others hang forever.

**To Reproduce**

I'm experimenting with a 6 node cluster on 3 physical machines (two nodes per machines to see foreign keys' impact).
I set up some tables and started to insert data. After some time, the queries hang and CRDB proc

[2019-07-09 21:09] ajwerner commented on #32581
Yes, a rolling restart of the cluster should resolve the problem.

[2019-07-09 21:39] cockroach-teamcity opened #38779 "roachtest: jepsen/bank/parts-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/f284f16a1224c87e9e9a54c809e7a73a5f59506d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1379975&tab=buildLog

[code]

[2019-07-09 21:50] mjibson opened #38780 "sql: incorrect handling of negatives"
`select -1/1` incorrectly returns `1`. It is believed to have been introduced by f4658b4. It is present in 2.1 and 19.1.

[2019-07-10 00:02] jordanlewis commented on #38778
Hey @bra-fsn, the best thing would be a debug.zip from the cluster as it's locked up. Would you be able to provide that? Alternatively, a full goroutine dump would also be helpful. Thanks!

[2019-07-10 00:30] jordanlewis commented on #36842
Okay, I think I've gotten to the bottom of this. I think the root cause is that lookup joins can't impose a limit on the number of rows returned: #35950.

As you can see from the plan, the first join in the query is a lookup join that scans `clusters` and looks up into `zonecfgs`. The `clusters` table has one row per cluster. The `zonecfgs` has many rows per cluster. At worst, over 5 million!

[co

[2019-07-10 00:38] lucy-zhang commented on #38577
This is similar to #38292 (which originates from `samplerProcessor`, but the error is the same). It's from a 19.1.2 cluster, so unrelated to the `SET NOT NULL` change.

Unless I'm missing something, it's not even clear that this has anything to do with the column backfiller, since the column backfiller was just reading the existing rows in the primary key span when it found a null in an existing n

[2019-07-10 00:45] jordanlewis commented on #38780
I think the linked commit did indeed introduce the problem. The commit added a new `Negative` field to `NumVal`, which is commented as:

[code]

This comment isn't being obeyed everywhere, which is the root cause of this problem. A resolution to this needs to audit all uses of `NumVal.Value` and ensure that the `Negative` field is getting correctly propagated to the downstream uses of the `Value`.

[2019-07-10 02:27] ajkr commented on #38116
Time is up. I did not get a working prototype in Cockroach. Will write down what I learned and tried anyways in case we decide to pick this up again.

To serve an `MVCCScan`, the following copies/allocations are required (ignoring those beneath block cache inside the storage engine):

- When `block_restart_interval > 1`, the `BlockIter` uses `IterKey::TrimAppend()` for reading a prefix-encoded key

[2019-07-10 03:01] yuzefovich commented on #38620
There is a lot flakiness with "streaming" on by default on "fakedist" configurations. (Note that I override "vectorize" to off on all fakedist configs.) For example, when I run `make testlogic FILES=aggregate` three times this is what I get:
[code]
[code]
[code]
I've seen similar failures on "fakedist" and "fakedist-disk".

My only guess is that there are other "internal" queries that need to be e

[2019-07-10 03:02] mjibson commented on #38780
If we misused something in multiple places we should make that impossible or difficult to happen in the future. I concur with having a method and unexporting the members.

[2019-07-10 03:13] mjibson commented on #38780
Another:

`select 1 - 2.` => `1`

[2019-07-10 03:17] nvanbenschoten commented on #38758
@akshayjshah thanks for the report! This does seem to be a usability hurdle.

@knz I tracked this down to the following comment, which makes this behavior look intentional:

https://github.com/cockroachdb/cockroach/blob/813b0146e763e8f44c4cb45e498e68e6ace9bc2d/pkg/cli/start.go#L705-L718

Your comment on https://github.com/cockroachdb/cockroach/commit/f7c175e4b0b594e33c55fc96e2fa28a56f311c00 also d

[2019-07-10 03:55] akshayjshah commented on #38758
Thanks for the digging, Nathan!

If `--background` returns control to the shell before the server is ready to accept clients, what's its intended use case? The docs say "control is not returned to the shell until the server is ready to accept requests," which made it sound (to me) like the server is fully bootstrapped and ready to serve queries.

[2019-07-10 05:07] mjibson commented on #38780
Whatever PR fixes this should also remove the ignoreSQL stuff from #38784.

[2019-07-10 06:07] lqez commented on #27094
@knz @tbg, I made a pull request(#38574) for this issue, what should I do more for the next?

[2019-07-10 06:14] cockroach-teamcity opened #38785 "roachtest: acceptance/bank/cluster-recovery failed"
SHA: https://github.com/cockroachdb/cockroach/commits/f74db5e81f8eaa190a41d708a9ccafb3eba9370a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1380786&tab=buildLog

[code]

[2019-07-10 06:17] cockroach-teamcity commented on #38640
SHA: https://github.com/cockroachdb/cockroach/commits/f74db5e81f8eaa190a41d708a9ccafb3eba9370a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1380786&tab=buildLog

[code]

[2019-07-10 06:28] cockroach-teamcity commented on #35326
SHA: https://github.com/cockroachdb/cockroach/commits/f74db5e81f8eaa190a41d708a9ccafb3eba9370a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1380786&tab=buildLog

[code]

[2019-07-10 07:08] knz commented on #38758
@akshayjshah two things

1) regarding your particular use case. It's 100% legitimate and the correct way forward for you is this:

[code]

Notice the `mkfifo`. this is guaranteed to work and do what you want - the `cat` will only produce the URL when the server is ready to accept requests.

2) FYI the behavior is indeed intentional. Your confusion is perhaps about your understanding of what "accep

[2019-07-10 07:26] knz commented on #38780
that's not the right way to do this IMHO, because if you do this you will get the incorrect result for `sqrt((1*-0)::float)`. (Should be `-0`, but with your proposal the value `-0` would evaporate inside the constant evaluation)

The right way to do this is to propagate the sign to the result using the regular algebraic rules, to "lift" the negative sign in the result NumVal:

[code]

[2019-07-10 08:09] jiadexin opened #38786 "make build error after registered new cluster settings"
**Describe the problem**

After I registered a new cluster setting, for example:
[code]
Error occur at build time:

[code]

**Expected behavior**

I studied the error code -pkg/settings/setting.go:
[code]
I understand that `slotIdx` should start at 1, then we should use `slotIdx-1` to access elements, such as the `setInt64` method.
but the `settingChanged` and `setOnChange` methods directly use `s

[2019-07-10 10:18] bra-fsn commented on #38778
@jordanlewis thanks for the answer! I restarted the failing node yesterday to check whether it solves the issue or not (solved) and also restarted the ingestion process, which runs happily since then.
I have a full file system snapshot from the nodes (with logs) if that helps... And will try to reproduce again.
How do I gather the full goroutine dump? (the other is with `./cockroachoss debug zip`

[2019-07-10 10:29] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/813b0146e763e8f44c4cb45e498e68e6ace9bc2d

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1381594&tab=buildLog

[code]

[2019-07-10 11:10] tbg commented on #38758
I filed a (sparse) issue about this a while ago - https://github.com/cockroachdb/cockroach/issues/35070

I'm not sure that the current behavior is 100% intentional as is. I think we never quite sat down and figured out what `--background` is supposed to be there for nowadays. There's an argument that it should return when the server is ready for an init if it needs bootstrap, but that generally it

[2019-07-10 11:22] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/813b0146e763e8f44c4cb45e498e68e6ace9bc2d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1380768&tab=buildLog

[code]

[2019-07-10 13:00] bra-fsn commented on #38778
@jordanlewis: OK, I think I've found it:
http://localhost:8888/debug/pprof/goroutine?debug=2
Would be great to have these on a page (maybe I just couldn't find it)...

[2019-07-10 13:02] bra-fsn opened #38788 "One node eats all CPU and an increasing amount of memory"
**Describe the problem**

Doing the same insert again as in https://github.com/cockroachdb/cockroach/issues/38778 on the same setup, but now with different result.
Queries don't time out (yet?) as in the other issue, there are no logs about slow latch acquisitions, but one node eats up all CPU it can, causing the cluster to perform poorly. So far it seems to be a different issue, hence opening a s

[2019-07-10 13:44] knz commented on #38758
@tbg excuse me, I actually sat down and spent quite some time figuring out the alternatives, to settle on the current one.

I was not aware of the linked issue #35070, but I think the text you wrote in there does not weigh well against the rationale detailed in the 2nd commit from #29107.

These two requirements are contradictory.

[2019-07-10 14:27] solongordon commented on #38657
The unification is worth a look though I'm wondering what the goal is you have in mind. If it's to reduce the number of special cases in `column_exec_setup`, it should be pretty easy to add a new function which delegates to either `GetSelectionConstOperator` or `GetLikeOperator` depending on the inputs. I'm wary of cramming all that logic into one function during templating because the two are pre

[2019-07-10 14:30] tbg commented on #38758
They are not if you assume that bootstrapping a cluster and restarting nodes in an existing cluster are different operations, which could be justified. We could even have `--background` only return when the node serves SQL connections, which means that it'll hang if it needs an init (until it's gotten the init).

At the end of the day, the question is what we want to provide to the end user via th

[2019-07-10 14:33] nvanbenschoten commented on #25047
@andreimatei you just addressed this, right?

[2019-07-10 14:33] knz commented on #38758
Yes it would be nice if we had started with that originally, but it would break existing scripts that do something like this:

[code]

Also it might make the integration story with service managers more difficult: deployments won't be able to assume any more that `--background` will yield back to a service/job manager "fast" any more -- they'd need to think about whether it's initialized already o

[2019-07-10 14:34] andreimatei commented on #25047
yup

[2019-07-10 14:34] #25047 closed

[2019-07-10 14:36] tbg commented on #38758
I wasn't aware of https://github.com/cockroachdb/cockroach/pull/29107, thanks for the link.

@bdarnell had some sort of opinion in https://github.com/cockroachdb/cockroach/issues/34897#issuecomment-465222698, but not much detail.

I agree that ultimately what matters is give users the best bang for their buck out of the flag, which depends on how they use it (or want to use it).

The current behav

[2019-07-10 14:37] bdarnell opened #38789 "storage: "Failed to link" error creating index on windows"
On windows, creating an index on a non-empty table may fail with the following stack trace:

[code]

[code]

We need to make sure that cockroach and/or rocksdb is falling back to copying on platforms where links are not supported.

[2019-07-10 14:41] solongordon commented on #38657
Also while we're here we should resolve this TODO: https://github.com/cockroachdb/cockroach/blob/813b0146e763e8f44c4cb45e498e68e6ace9bc2d/pkg/sql/exec/like_ops.go#L43-L45

[2019-07-10 14:57] adityamaru27 commented on #25828
With #38374 now merged, I ran a benchmark on a 4 node default configuration cluster to compare CTAS performance in the `19.1.2` release, and on `master`.
The previous implementation would error out with `pq: command is too large` for greater than 300k rows, thus I used a  `bank` table with 300k rows (100MiB) in my testing.

Average over 5 runs:
`v19.1.2` - 7.88s
`master` - 1.02s
So we observe an 8

[2019-07-10 15:02] jordanlewis commented on #25828
This is awesome @adityamaru27! I am super psyched about it.

[2019-07-10 15:09] glerchundi commented on #36982
This would be super useful as we think google pubsub would be enough in our microservices infrastructure. Mainly because:
* We don't require ordering (just a timestamp)
* Globally distributed

Do you think this is something we could push forward?

[2019-07-10 15:13] #34251 closed

[2019-07-10 15:34] RaduBerinde commented on #31746
@rytaft This is fixed by #38041, correct?

[2019-07-10 15:36] #28941 closed

[2019-07-10 15:36] RaduBerinde commented on #36047
NULLs are equal for the purposes of GROUP BY and DISTINCT. Isn't SQL great?
[code]

I think that now that we're including NULL in the distinct count, there isn't anything to fix here.

[2019-07-10 15:43] rytaft commented on #31746
Yep! Closing this.

[2019-07-10 15:43] #31746 closed

[2019-07-10 15:45] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/813b0146e763e8f44c4cb45e498e68e6ace9bc2d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1380768&tab=buildLog

[code]

[2019-07-10 15:47] rytaft commented on #36047
Yep, agreed. Closing this.

[2019-07-10 15:47] #36047 closed

[2019-07-10 16:30] tbg commented on #25828
Very nice work @adityamaru27.

[2019-07-10 16:46] bdarnell commented on #38758
Service managers should not be running with `--background`. This flag is for ad-hoc at-the-terminal use cases and scripted tests, so we should optimize for those cases and not production use with a process manager.

The tricky part is the two meanings of "ready": there's ready to accept an `init` command and ready to accept sql connections. This gets more important when a follow-up to #28495 makes

[2019-07-10 17:35] cockroach-teamcity opened #38794 "roachtest: backup2TB/n10cpu4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/813b0146e763e8f44c4cb45e498e68e6ace9bc2d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1380768&tab=buildLog

[code]

[2019-07-10 17:54] gigatexal commented on #35048
So I've got some time on my vacation and I want to take a stab at this. Is there a doc on how to do local builds of CRDB (I'm only familiar with `go mod` based workflows aka Golang 1.12 and above)?

[2019-07-10 18:05] rytaft commented on #38083
Duplicate of #38350

[2019-07-10 18:05] #38083 closed

[2019-07-10 18:15] rytaft commented on #38350
Closed by #38793

[2019-07-10 18:15] #38350 closed

[2019-07-10 18:44] #18214 closed

[2019-07-10 18:46] #18638 closed

[2019-07-10 18:47] rolandcrosby commented on #18884
Fixed by #37496

[2019-07-10 18:47] #18884 closed

[2019-07-10 18:49] rolandcrosby commented on #24426
Solution for this is to use `IMPORT INTO` after creating a table with the column definitions you want.

[2019-07-10 18:49] #24426 closed

[2019-07-10 18:53] rolandcrosby commented on #25386
Mitigated by IMPORT INTO.

[2019-07-10 18:53] #25386 closed

[2019-07-10 18:53] rolandcrosby commented on #26813
@tbg is this still relevant or can we close?

[2019-07-10 18:56] rolandcrosby commented on #33469
@adityamaru27 May not need to do the entire refactor but the same technique used in CTAS should work here.

[2019-07-10 18:59] rolandcrosby commented on #16276
@adityamaru27 While you're doing load tests can you see whether your C++ changes improve the p99 here?

[2019-07-10 19:00] #14216 closed

[2019-07-10 19:01] #10261 closed

[2019-07-10 19:04] rolandcrosby commented on #19869
Should be solved by IMPORT INTO.

[2019-07-10 19:04] #19869 closed

[2019-07-10 19:07] rolandcrosby commented on #18768
let's just do this for ExportRequest

[2019-07-10 19:09] #25524 closed

[2019-07-10 19:11] #19378 closed

[2019-07-10 19:13] rolandcrosby commented on #24054
@jordanlewis can you take a look at this?

[2019-07-10 19:14] #26426 closed

[2019-07-10 19:15] rolandcrosby commented on #25129
Handled via doc fixes; if/when we build async jobs, then we can make sure that a job ID is always created even when we know up front that the backup will fail.

[2019-07-10 19:15] #25129 closed

[2019-07-10 19:16] tbg commented on #26813
Still TODO

[2019-07-10 19:17] #20357 closed

[2019-07-10 19:18] #28345 closed

[2019-07-10 19:20] rolandcrosby commented on #28347
let's solve this as follows: have a roachtest run TPCC, fingerprint at some time, back up, restore, check fingerprint of restore. Need to make sure that we're fingerprinting columns that are indexed and are changed by the TPCC workload.

[2019-07-10 19:22] rolandcrosby commented on #28346
should definitely do this after we have interleaved TPCC working in nightlies. @jordanlewis is there a master "interleaved TPCC nightlies" issue we can link this to?

[2019-07-10 19:25] rolandcrosby commented on #30437
nothing we can act on here, closing

[2019-07-10 19:25] #30437 closed

[2019-07-10 19:26] #18873 closed

[2019-07-10 19:27] yuzefovich commented on #38340
Sorry for the delay on this. I'll be working on this once I finish with finalizing vectorize settings to turn on a part of the engine by default.

[2019-07-10 19:27] rolandcrosby commented on #32543
We could switch this to the new IMPORTING state after validating that everything else is checking that state correctly.

[2019-07-10 19:33] rolandcrosby commented on #35149
IMPORT INTO should allow definition of computed columns and fix this.

[2019-07-10 19:33] #35149 closed

[2019-07-10 19:42] #38407 closed

[2019-07-10 19:51] jordanlewis commented on #24054
Hmm, I'm not entirely sure what the ask here is. Is it about the event log in particular, or investigating some slowness? If the latter, I'm inclined to close as this was over a year ago. If it's about the event log, should we rename/make a new issue?

[2019-07-10 19:54] dt commented on #35048
Yep! [CONTRIBUTING.md](https://github.com/cockroachdb/cockroach/blob/master/CONTRIBUTING.md) and [first-pr.md ](https://github.com/cockroachdb/cockroach/blob/master/docs/first-pr.md) talk a bit about getting local development setup and how to get started!

For this one, I think a  we'd want to start with a grammar change in sql.y to add an optional `RETURNING ID` or something modifier (we could al

[2019-07-10 20:15] tyler314 opened #38797 "sql: VALIDATE CONSTRAINT gets hung up when FK is added all in a single transaction."
When a Foreign Key is added to a table, and you attempt to validate said constraint, it gets hung up and cannot complete the query. I observed that this only occurs if you CREATE TABLE and VALIDATE CONSTRAINT all in the same transaction.

**To Reproduce**
Setup a cockroach cluster or demo, start a transaction, create two tables, add a FK to one of them, and validate the constraint.
Example:

  x S

[2019-07-10 20:19] solongordon opened #38798 "exec: integer division causes a panic"
Vectorized execution panics when you divide an int column by an int constant, presumably because it thinks the result should be an integer but it should actually be a decimal.
[code]

[2019-07-10 21:24] justinj opened #38799 "opt: support index hints on DELETE/UPDATE"
Today, we silently ignore index hints on `UPDATE`/`DELETE`:

[code]

We should use the index requested by the hint or explicitly error out when one is provided (preferably the former)

[2019-07-10 21:28] justinj opened #38800 "opt: wrong index chosen for point lookup"
Haven't dug into this, but it seems wrong:

[code]

I suspect we're choosing the secondary index because it has more columns that match the condition, but since the lookup columns contain the primary key there's still only one result either way, so avoiding the index join would be preferable.

[2019-07-10 21:30] awoods187 commented on #38799
We should extend index hints to work here.

[2019-07-10 21:31] jseldess commented on #24118
@knz, I'm all in favor of this change and can commit to make the required docs changes. Will be a good opportunity to clean things up anyway. Let me know what else you need from me.

[2019-07-10 21:33] piyush-singh commented on #24118
Agreed that we should take this on from a PM perspective - I've seen user confused by this across several support channels and I know I was confused about this myself when I first started. I can help acceptance test and work with Jesse on any docs reviews.

[2019-07-10 21:34] rolandcrosby commented on #35048
One of the main motivations I've seen behind feature requests like this (for all kinds of bulk I/O jobs) is to provide a consistent, predictable experience that can be relied on in scripts and other external tools interacting over SQL. As such, I would rather err on the side of always immediately returning a job ID instead of starting a long-running streaming response. (If an error occurs during p

[2019-07-10 21:46] rolandcrosby opened #38801 "importccl: read SQL schema after planning phase"
When importing a MySQL or Postgres SQL dump file, or when importing a CSV file using the `CREATE USING` option, `IMPORT` currently reads the entire SQL file from cloud storage during the planning phase before actually kicking off a job. Because we eventually want to support asynchronous job management for `IMPORT` (i.e. support returning a job ID as early as possible, as in #35048), it will be nec

[2019-07-10 21:53] rolandcrosby opened #38802 "jobs: add a `SHOW JOB <jobid>` statement"
We currently provide `SHOW JOBS`, which allows a user to view all active jobs in a cluster, but there's currently no friendly way to query the state of a specific job. This is turning into more of an annoyance as we add more statements that return IDs of long-running jobs (e.g. `CREATE CHANGEFEED`, or `BACKUP/RESTORE ... RETURNING ID` after #35048 is implemented). We should build a `SHOW JOB <jobi

[2019-07-10 21:55] bra-fsn commented on #38788
OK, I killed the ingest script (so no SQL inserts/deletes come in) and left the cluster running.
It seems the process got into an endless loop or something:
![image](https://user-images.githubusercontent.com/820331/61007792-0ceb7b80-a36e-11e9-88e8-1b1def7d3564.png)

(that bump in the system (green) times is when I killed the script, so now it does even less syscalls and just spins in userspace)
Th

[2019-07-10 21:58] rolandcrosby opened #38803 "jobs: add a `WAIT FOR JOB <jobid>` statement"
As a follow-on to #38802, it would be nice to add a `WAIT FOR JOB <jobid>` statement that blocks until the provided job ID reaches a terminal state, then returns that job state in the same format as the `SHOW JOBS` output. In combination with asynchronous job creation, this could make it easier to avoid polling when scripting long-running tasks like backup and restore.

[2019-07-10 22:24] jeffrey-xiao commented on #10751
Addressed by #38334.

[2019-07-10 22:24] #10751 closed

[2019-07-10 22:39] awoods187 opened #38804 "roachprod: add support for Azure"
We should add support for Azure to roachprod to make it easier to test with Azure machines.

[2019-07-10 23:30] akshayjshah commented on #38758
This sounds great.

[2019-07-10 23:55] RaduBerinde commented on #38800
Can you show the output with atats? I believe the row count for the index would be smaller than 1, which explains things. Perhaps we want to add a constant cost for index join (a cost comparable to scanning 1 row).

[2019-07-11 00:17] yuzefovich opened #38807 "exec: make tracing of cfetcher similar to row fetcher"
At the moment, cfetcher emits less messages about its operations into the trace. Here is an example of logic test failure when vectorize is set to streaming:
[code]
The following logic tests are failing (note you can add `local-vec` config to the file to reproduce):
[code]
All of the above are missing information about `fetched` row.

This one (`TestLogic/local/select_index`) is missing `Scan /Tab

[2019-07-11 00:20] kenliu opened #38808 "roachprod: test issue, please ignore"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-11 00:52] rkruze commented on #10735
Django also makes heavy use of nested transactions, especially in its test suite.

[2019-07-11 00:53] #38808 closed

[2019-07-11 03:13] #38754 closed

[2019-07-11 04:12] jordanlewis commented on #38788
Huh, this is pretty weird. There are a bunch of stuck goroutines in C++ MVCCScan:

[code]

@petermattis or @ajkr any clues about what this could mean?

[2019-07-11 05:25] cockroach-teamcity opened #38811 "gofmt: Text file busy build failure"
SHA: https://github.com/cockroachdb/cockroach/commits/3f42686f6d7284ec65937b1e970bc59f1e1bf08b

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1382985&tab=buildLog

[code]

[2019-07-11 05:45] gigatexal commented on #35048
I’m a still a Golang rookie but hopefully I can make some headway and the code I contribute doesn’t look too terrible.

I can see the virtues of both the expansion of the SQL dialect to add a Returning ID and just always returning the ID. Should we decide on an approach or should I just pick the approach that I think I can do?

[2019-07-11 06:13] knz commented on #24118
ok then I'll revive the pr

[2019-07-11 06:17] cockroach-teamcity commented on #38640
SHA: https://github.com/cockroachdb/cockroach/commits/07607a73daedbf57f47e42e2e3d6cfd529ab65a5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1382906&tab=buildLog

[code]

[2019-07-11 07:26] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/e41c2daee9dffc3a19d59cd176d97e8086b569e2

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1383659&tab=buildLog

[code]

[2019-07-11 08:39] bra-fsn commented on #38788
I'm leaving the process running if you need it. BTW, still spinning.

[2019-07-11 09:30] lopezator commented on #36982
+1 for this

[2019-07-11 09:32] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/07607a73daedbf57f47e42e2e3d6cfd529ab65a5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1382906&tab=buildLog

[code]

[2019-07-11 12:31] #36089 closed

[2019-07-11 13:41] awoods187 commented on #24118
Are we blocking natural growth by not allowing a path from one node to many nodes? I could easily imagine a test with one node and then adding two more nodes to the cluster to see what three-node looks like. Part of our value prop is easily scaling up the number of nodes.

[2019-07-11 13:45] knz commented on #24118
The path would still exist - it would still be possible to grow the cluster from 1 to more, but there would be one additional step: increase the replication factor from 1 to N

[2019-07-11 13:52] cockroach-teamcity commented on #38763
SHA: https://github.com/cockroachdb/cockroach/commits/07607a73daedbf57f47e42e2e3d6cfd529ab65a5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1382906&tab=buildLog

[code]

[2019-07-11 14:15] tim-o commented on #38788
This looks well qualified - I'm moving over to core. If there are any objections or basics to cover, let me know.

[2019-07-11 14:36] solongordon commented on #38798
I think we just need some more `column_exec_setup` to bail out if types don't match.

[2019-07-11 14:39] jordanlewis commented on #38798
Yeah I think that's probably right. There's a separate missing feature that's kind of related which is mixed-type comparison. This is a mixed-type binary operator. I think eventually we'll need to improve the execgen code to know how to generate all of these - at the moment it's fairly hard coded to a single type.

[2019-07-11 15:10] piyush-singh commented on #25803
@rolandcrosby this is the first time I've heard of this problem, so it is not something we had considered. I think we would be able to provide some huge usability wins via the UI. For example, if we indeed had some way to grab the logical timestamp from the moments before the schema change was triggered, we could list the history of schema changes on the table pages in the UI and give users a butt

[2019-07-11 15:48] rolandcrosby commented on #25803
Great, glad you think this would be helpful, I'll do some more research around problems to solve here and discuss with you. In looking at this some more, I think we have an opportunity to improve confidence and understanding of schema changes through both the SQL CLI and the web UI, especially with the changes you're evaluating to surface schemas in context in places like the statements page.

[2019-07-11 16:43] awoods187 opened #38818 "sql: fatal error: runtime: out of memory on specifying the order of aggregations"
**Describe the problem**

I attempted to specify the order of aggregations (https://github.com/cockroachdb/cockroach/issues/23620)using MOVR data (https://github.com/cockroachdb/movr) and killed a node.
![image](https://user-images.githubusercontent.com/22278911/61068865-08a87800-a3d9-11e9-9913-9b1fef893bb8.png)
[code]

**To Reproduce**
export CLUSTER=andy-3node
roachprod create $CLUSTER -n 4 --cl

[2019-07-11 17:06] andreimatei commented on #38811
bash: /go/src/github.com/cockroachdb/cockroach/bin/gofmt: Text file busy

same as https://github.com/cockroachdb/cockroach/issues/38571

[2019-07-11 17:20] shivamYoda commented on #20878
Hey is anyone working on this ? I would really like to work on this.

[2019-07-11 17:27] andreimatei commented on #38769
[code]

[2019-07-11 17:41] justinj commented on #38800
with stats:
[code]

[2019-07-11 17:47] andreimatei commented on #37751
Renamed. But Radu, I'm moving it back to something under SQL. Although there might be minor "kv" changes needed, the problems here are really SQL problems.

To recap, my understanding is that:
- the stats collection job causes some schema change txns to be pushed
- schema change transactions are special cause they use the `txn.CommitTimestamp()` function to "observe their commit timestamp", and so

[2019-07-11 18:07] rolandcrosby commented on #35048
@gigatexal Sorry if I was unclear - I was responding to @dt's comment. We should definitely retain the existing behavior by default (block until the job is done). David and I were discussing whether `RETURNING ID` should return the ID immediately, or return it and keep a streaming connection open to send progress back. We decided that `RETURNING ID` should return immediately after the job is creat

[2019-07-11 18:24] awoods187 commented on #38818
I tried wiping the cluster and adding a group by city:
[code]
I hit a ```pq: communication error: rpc error: code = Canceled desc = context canceled``` and a similar fatal error.

[code]
[cockroach.log](https://github.com/cockroachdb/cockroach/files/3383385/cockroach.log)

[2019-07-11 18:32] rafiss opened #38823 "exec: AVG aggregator should support ints"
Currently only Decimal, Float32, and Float64 are supported (see avg_agg_gen.go).

It seems like it might require some special casing, since the output type should be a float if the input type is an int.

[2019-07-11 18:42] andreimatei commented on #38425
"bind: address already in use".
Maybe something had leaked a process. Here we have no artifacts, and roachtest was rewritten in the meantime. Closing.

[2019-07-11 18:42] #38425 closed

[2019-07-11 18:42] andreimatei commented on #38326
"bind: address already in use".
Maybe something had leaked a process. Here we have no artifacts, and roachtest was rewritten in the meantime. Closing.

[2019-07-11 18:42] #38326 closed

[2019-07-11 18:44] justinj commented on #38818
This will be run as a window function—might imply a memory accounting issue in window functions? cc @yuzefovich

[2019-07-11 19:01] #38798 closed

[2019-07-11 19:10] kenliu opened #38824 "build: Migrate `cockroach` to go modules"
- Affects all of backend engineering
- Standard way of doing dependency management
- Increases efficiency for engineers

[2019-07-11 19:13] andreimatei commented on #38786
It looks to me like it's indeed an oversight that the `onChange` array is indexed by `slotIdx` when all the others are indexed with `slotIdx-1`. Would you like to send a patch?

Alternatively, I'm not sure why we start these slot indexes from 1 and not 0. 0 doesn't seem to be used as a sentinel. So you can consider starting the indexes from 0 (in the `register()` function), and indexing everything

[2019-07-11 19:15] ajkr commented on #38788
Thanks for reporting. The "debug/nodes/*/enginestats" files from the debug.zip could be useful to look at.

Also since the infinite loop appears to be inside a CGo call the Goroutine dump isn't enough. If you have time to run quickstack (https://github.com/yoshinorim/quickstack) on your process and report that output, it could be helpful as well.

[2019-07-11 19:20] ajkr commented on #38788
Also it's worth noting that from the Goroutine dump the stuck scans are all `ReverseScan`s. There was an infinite loop bug fix for that recently (31a81930be2), but I verified that fix is included in 19.1.2.

[2019-07-11 20:21] cockroach-teamcity opened #38829 "roachtest: gossip/chaos/nodes=9 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/07607a73daedbf57f47e42e2e3d6cfd529ab65a5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1382906&tab=buildLog

[code]

[2019-07-11 20:22] dt commented on #34038
we added another warning about nodelocal to the docs recently since this bit someone else too https://github.com/cockroachdb/docs/pull/4990#event-2455045721

[2019-07-11 20:22] #34038 closed

[2019-07-11 20:39] Tyler314 commented on #33551
The FK constraint issue is covered by #38663

[2019-07-11 20:39] #33551 closed

[2019-07-11 20:47] #37738 closed

[2019-07-11 21:09] yuzefovich commented on #38818
Taking a look now. I'm quite sure window functions are the culprit here.

[2019-07-11 21:11] #31764 closed

[2019-07-11 21:24] dt commented on #35748
Dupe: #35048

[2019-07-11 21:24] #35748 closed

[2019-07-11 21:27] rolandcrosby commented on #35733
we should mask the values for all parameters whenever we end up introducing this.

[2019-07-11 21:30] dt commented on #36900
Closing as a duplicate of https://github.com/cockroachdb/cockroach/issues/30505 but we still haven't made any progress on this one.

[2019-07-11 21:30] #36900 closed

[2019-07-11 21:33] dt commented on #18317
I think the answer here now is if you wanted you could choose to run scrub (or individual `VALIDATE CONSTRAINT or VALIDATE INDEX commands) if you wanted post-RESTORE validation.

[2019-07-11 21:33] #18317 closed

[2019-07-11 21:35] nvanbenschoten opened #38830 "ui: latency of DML with RETURNING clause incorrectly tracked on statements page"
I noticed that latency figures for INSERT and UPDATE statements on the statements page seemed to disagree with a load generator. It looks like adding a RETURNING clause to these statements somehow impacts the latency values that we attribute to them.

Here's an example of the same INSERT statement run a series of times with and without a RETURNING clause:

<img width="1422" alt="Screen Shot 2019-0

[2019-07-11 21:39] yuzefovich opened #38831 "sql: adding a foreign key constraint is slow"
Locally, I imported `movr` dataset with (takes about 1 min)
[code]
and then tried to add foreign key constraints as:
[code]
The first constraint was added within a second; however, the second one got stuck at "populating schema" stage which then switched to "validating schema". After 10 minutes of waiting, I ctrl-c'ed the addition.

It happened twice out of two attempts on my laptop, but I didn't

[2019-07-11 21:43] dt commented on #30518
We have no concrete plans to build mysql tailing at this time.

[2019-07-11 21:43] #30518 closed

[2019-07-11 21:46] dt commented on #18874
We haven't really seen any stability issues with queuing the requests at the server side, and that approach seems to be more resilient to having separate jobs running at once that thus don't share the client-side limiter, so I think we can close this.

[2019-07-11 21:46] #18874 closed

[2019-07-11 21:49] dt commented on #30438
I see variable performance of everything, not just restore. I think a lot of this comes down to getting a bad scatter or not, but I don't think there is much bulk-io can do here.

[2019-07-11 21:49] #30438 closed

[2019-07-11 21:50] piyush-singh commented on #38830
Chatted with @jordanlewis briefly, this is likely an issue with our underlying telemetry that collects statement performance information

[2019-07-11 21:53] rolandcrosby commented on #19292
We should make a cloud storage bucket with substantial, complex backups from multiple versions of CockroachDB, and build a roachtest that regularly verifies that the master branch can successfully restore all of them.

[2019-07-11 21:58] rolandcrosby opened #38832 "reconsider backup versioning and compatibility"
In #15315 we added backup and cluster version info to backup descriptors. We do not currently do anything to guarantee backwards-compatibility of backups produced by newer versions of CockroachDB. Instead of optimistically allowing the restoration of backups from newer major versions, starting in 19.2 we should consider preventing the restoration of backups produced by 20.1 and later clusters.

We

[2019-07-11 22:01] thoszhang opened #38833 "roachtest: find a way to add validated foreign keys for test fixtures that bypasses actual validation"
Adding validated foreign keys with `ALTER TABLE` for test fixtures is slow, because it requires a validation query to run on the entire table before the foreign key can actually be added. Currently, foreign key validation takes up on the order of half the total time needed in setting up tpc-c for roachtests.

The workaround being implemented is to add the FKs as `NOT VALID`, but the downside is th

[2019-07-11 22:02] #30393 closed

[2019-07-11 22:03] jordanlewis commented on #38830
I can't reproduce this with a simple scenario:

[code]

[2019-07-11 22:06] dt commented on #34031
As stated above, we can only do an incremental backup of _the same table_ as is in a prior backup. A restore makes a new table with the old table's data, but that is not the same table, so there isn't much we can do here.

[2019-07-11 22:06] #34031 closed

[2019-07-11 22:06] #38626 closed

[2019-07-11 22:13] dt commented on #29037
I think we might want to disallow explicit schemas with bundle formats -- the benefits of it are an edge case and the potential mistakes, as this shows, are subtle.

[2019-07-11 22:13] awoods187 opened #38835 "roachprod doesn't respect specified availability zones on aws"
In roachprod I specified different availability zones:

roachprod create $CLUSTER -n 12 --clouds=aws --aws-machine-type-ssd=c5d.4xlarge --geo --aws-zones=us-east-1a,us-east-1b,us-east-1c,eu-west-2a,eu-west-2b,eu-west-2c,ap-northeast-1a,ap-northeast-1c,ap-northeast-1d,us-east-1a,eu-west-2a,ap-northeast-1a

But it doesn't respect them:
![image](https://user-images.githubusercontent.com/22278911/6108

[2019-07-11 22:16] dt commented on #29298
fixed in 31288

[2019-07-11 22:16] #29298 closed

[2019-07-11 22:21] dt commented on #36099
@RaduBerinde filed the backup/restore one separately in #38264 but as it already has some discussion on it about implementation, I'm closing this one as the dupe

[2019-07-11 22:21] #36099 closed

[2019-07-11 22:25] dt commented on #29305
Just tried `IMPORT MYSQLDUMP 'https://gist.githubusercontent.com/rolandcrosby/cee15f987b32c0984661b0036f07ac99/raw/fe3e5f88fb43b5a4c989923e5a34c75c7eedd3ab/wordpress_civicrm_dump.sql'` and it now fails with a nicer message about SET.

[2019-07-11 22:26] dt commented on #38310
Fixed #38341

[2019-07-11 22:26] #38310 closed

[2019-07-11 22:31] dt commented on #35182
for point 1) I don't think there's anything else we can do here: once we lost node liveness, we don't know what the status of the job is so all we can do is say that it is in the background in case you want to look it up via the job mgmt ui's.

as far as 2) bulk-io has some optional throttling to try to avoid causing node liveness errors but tuning it has to be done on a per-cluster basis -- reall

[2019-07-11 22:31] #35182 closed

[2019-07-11 22:33] andreimatei commented on #38794
timed out (10h) in `workload fixtures import`. There's test logs and artifacts.

[2019-07-12 00:21] kenliu commented on #26700
@sploiselle have you been doing any work with this?

[2019-07-12 00:54] kenliu commented on #33161
removing from dev infrastructure project - should be triaged by another team

[2019-07-12 01:32] sploiselle commented on #26700
@kenliu I haven't recently but I have a proof of concept that just needs some experiments to vet the approach. Would be glad to set up some time with you to go over this if you're interested.

[2019-07-12 02:49] kenliu commented on #25390
this seems to not have caused any problems so I am closing.

[2019-07-12 02:49] #25390 closed

[2019-07-12 03:29] yuzefovich commented on #38818
The problem was that we didn't account for the memory underlying the results of computations of window functions. In this particular case, the result of the query is a million of city names, but internally window function would create a million copies of that huge list of city names, so it's no wonder it blew up :)

I have opened a PR that fixes the memory accounting problem.

Additionally, I open

[2019-07-12 05:45] cockroach-teamcity opened #38840 "teamcity: failed test: TestStoreRangeMergeDuringShutdown"
The following tests appear to have failed on master (testrace): TestStoreRangeMergeDuringShutdown

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestStoreRangeMergeDuringShutdown).

[#1385325](https://teamcity.cockroachdb.com/viewLog.html?buildId=1385325):

[code]

Please assign, take a look and update the issue accordingly.

[2019-07-12 05:58] kenliu commented on #36657
IMO this should be closed if it hasn't been reproduced.

[2019-07-12 06:16] cockroach-teamcity commented on #38640
SHA: https://github.com/cockroachdb/cockroach/commits/b88caec826d5175290a858f9fac1db0a02c9622a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1385344&tab=buildLog

[code]

[2019-07-12 06:30] cockroach-teamcity commented on #35044
SHA: https://github.com/cockroachdb/cockroach/commits/b88caec826d5175290a858f9fac1db0a02c9622a

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1385990&tab=buildLog

[code]

[2019-07-12 07:27] tbg commented on #36657
I think the bug has since shifted elsewhere, pretty sure this was caused by some missing error handling that we've since added.

[2019-07-12 07:27] #36657 closed

[2019-07-12 07:45] bra-fsn commented on #38788
Attached enginestats outputs
[enginestats.zip](https://github.com/cockroachdb/cockroach/files/3385501/enginestats.zip)

[2019-07-12 08:27] tbg commented on #38566
Yes, this is a real concern (I filed this previously in https://github.com/cockroachdb/cockroach/issues/36414, but I'm going to close that issue).

This is annoying, but we should fix it somehow. One way to do it is to sniff whether `TruncateTo` will actually do anything (i.e. is there even a nonempty truncated storage, perhaps without resorting to disk I/O which is already incurred today) and if

[2019-07-12 08:27] tbg commented on #36414
https://github.com/cockroachdb/cockroach/issues/38566 has more details.

[2019-07-12 08:27] #36414 closed

[2019-07-12 08:47] bra-fsn commented on #38788
@ajkr, sorry I couldn't get quickstack working. Issuing a pstack several times gave this:
[code]
(gdb) info threads
  Id   Target Id         Frame
* 1    LWP 102311        0x00000008069bc298 in memcmp () from /lib/libc.so.7
  2    LWP 100193        runtime.sys_umtx_op () at /usr/local/go/src/runtime/sys_freebsd_amd64.s:21
  3    LWP 100373        runtime.sys_umtx_op () at /usr/local/go/src/runtime

[2019-07-12 09:27] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/b88caec826d5175290a858f9fac1db0a02c9622a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1385344&tab=buildLog

[code]

[2019-07-12 10:29] seekingua opened #38841 "got krb5 error when cross compile using release v19.1.1 or v19.1.2"
**Describe the problem**

we got krb5 errors when using `build/builder.sh mkrelease arm64-linux-gnueabi` for arm64, and this can be reproduced in release v19.1.1 and v19.1.2, maybe all v19.x.x versions.

error log:
[code]
[code]
[code]

**To Reproduce**

just run `build/builder.sh mkrelease arm64-linux-gnueabi`, nothing more

**Environment:**
 - CockroachDB version: v19.1.1/v19.1.2
 - Server OS: m

[2019-07-12 12:43] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/35a957115b936d8f2df8f38566630c6930a95088

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1385720&tab=buildLog

[code]

[2019-07-12 13:25] kenliu commented on #26700
Thanks, I've been going through the backlog of issues for dev infra and was giving this issue a little nudge to see if there was any status update.

[2019-07-12 13:26] kenliu commented on #26700
Might be worth revisiting this as we get closer to 19.2.

[2019-07-12 14:06] kenliu commented on #38016
hi @jseldess is there a reason this issue was not closed when we released the alpha?

[2019-07-12 14:22] #37426 closed

[2019-07-12 14:25] kenliu commented on #36584
Not sure which area this issue should be categorized, assigning to `A-sql`

[2019-07-12 14:28] kenliu commented on #38510
note for future: see old title of issue: `: package failed under stress` -- something strange happened here.

[2019-07-12 14:59] cockroach-teamcity opened #38844 "roachtest: kv/contention/nodes=4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b88caec826d5175290a858f9fac1db0a02c9622a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1385344&tab=buildLog

[code]

[2019-07-12 15:11] jseldess commented on #38016
I think it was just an oversight. Closing now.

[2019-07-12 15:11] #38016 closed

[2019-07-12 15:18] kenliu commented on #37442
closing this issue - see upstream issue #37070

[2019-07-12 15:18] #37442 closed

[2019-07-12 15:18] kenliu commented on #37262
closing this issue - see upstream issue #37070

[2019-07-12 15:18] #37262 closed

[2019-07-12 15:18] kenliu commented on #37179
closing this issue - see upstream issue #37070

[2019-07-12 15:18] #37179 closed

[2019-07-12 15:18] kenliu commented on #37070
see related downstream failures reported in issues:
* #30774
* #37262
* #37179
* #37442

[2019-07-12 15:21] kenliu commented on #38016
thank you

[2019-07-12 15:29] gigatexal commented on #35048
Ahh...makes sense.

[2019-07-12 15:56] rafiss opened #38845 "exec: some aggregations should promote the return type"
Currently in the vectorized engine, SUM and AVG will always return the same type as the input type.

But consulting the Postgres pg_catalog shows that the return type should differ sometimes:
[code]

It might be best to knock out #38823 at the same time as doing this.

Also perhaps doing this would eliminate the need for the SUM_INT aggregator.

[2019-07-12 15:56] rafiss commented on #38823
This would probably be resolved by #38845

[2019-07-12 16:01] #38609 closed

[2019-07-12 16:01] #38611 closed

[2019-07-12 16:01] #38755 closed

[2019-07-12 16:28] jseldess opened #38847 "Helm charts for secure CockroachDB on EKS"
Because there are issues with Kubernetes-generated CSRs on EKS, we created some separate configs to allow for a custom cert workflow: https://github.com/cockroachdb/cockroach/pull/27921. However, the CockroachDB helm chart uses our standard configs and so, I think, won't work when using Helm on EKS.

Running into this as I document how to run CockroachDB on EKS.

cc: @kannanlakshmi, @DuskEagle

Ji

[2019-07-12 16:33] rafiss commented on #38750
Tracking some findings so far:

The table in the example looks like this
[code]

`SELECT 3 FROM kv HAVING TRUE` should be addressed by #38083

I believe many of the other failures have to do with the presence of NULLs in the group columns.

One interesting thing is that `SELECT v, count(*), w FROM kv GROUP BY v, w;` has the out-of-bounds issue, but `SELECT v, count(*), k FROM kv GROUP BY v, k;` do

[2019-07-12 18:05] jordanlewis opened #38850 "sql: permit multiple foreign keys with intersecting outbound columns"
Currently, we do not permit a table to have multiple outbound foreign keys when those foreign keys have column sets with a non-zero intersection.

For example, consider the following schema:

[code]
If you wanted to create a table that allowed a user to comment on one of their friendships, that ensured referential integrity by checking that one of their friendships existed, you couldn't do so with

[2019-07-12 18:12] akshayjshah opened #38851 "cli: Quit returns before DB shuts down"
**Describe the problem**
I'm trying to reliably run multiple CockroachDB processes in automated tests (the same task led to #38758). This is harder than I expected, in part because `cockroach --quit` doesn't block until the server actually shuts down. This leads to a race: the server is shutting down, but my tests are already trying to start a new server using the same data directory. Often, the n

[2019-07-12 18:20] #37166 closed

[2019-07-12 18:39] gigatexal commented on #35048
If I have issues building CRDB from source where should I go? the Gitter? It probably doesn't make sense to crowd this ticket with unrelated things.

[2019-07-12 18:45] arberiii commented on #36733
How is `settings.html` file generated?

I found this line (https://github.com/cockroachdb/cockroach/blob/master/pkg/cmd/docgen/funcs.go#L218) which may be used to generate it but was not sure.

[2019-07-12 19:06] dt commented on #35048
Yep that works! The gitter channel usually has a couple Cockroach Labs engineers hanging out as does the #cockorachdb channel over on the Gophers slack for those that prefer to stick to Slack. Neither of those are _officially_ supported channels, but there are _usually_ a few engineers who have volunteered to hang out in them if you're looking for real-time chat.

The _official_ place for develope

[2019-07-12 19:21] jordanlewis commented on #20878
Nobody's working on this.

[2019-07-12 19:35] shivamYoda commented on #20878
@jordanlewis Thanks for the update , it would be great if you could guide me a bit regarding the problem and the project structure.

[2019-07-12 19:52] jordanlewis commented on #20878
Please check out the file `pkg/ccl/utilccl/intervalccl/overlap_merge.go`. The function in question, `OverlapCoveringMerge`, is at the bottom of the file. The comment embedded provides a pretty good overview of this item:

[code]

There are unit tests in `overlap_merge_test.go`. Please see `CONTRIBUTING.md` for more details on contributing to CockroachDB.

Thanks for your interest!

[2019-07-12 19:57] shivamYoda commented on #20878
@jordanlewis Thanks a ton :)

[2019-07-12 20:10] jordanlewis opened #38855 "builtins: add width_bucket builtin function"
The `width_bucket` builtin is a super useful function that figures out where a number lies inside of a histogram given certain parameters.

We should implement these. It's a pretty simple task that will boost compatibility (and help make `ALTER TABLE SPLIT BY` a lot easier to run).

This is a great issue for new contributors. The implementation of this builtin (well, each of its 3 overloads define

[2019-07-12 20:11] rolandcrosby commented on #24054
@piyush-singh do you have another issue we can rely on for general improvements to partitioning visibility and status? If so I think we can close this.

[2019-07-12 21:17] tim-o commented on #38731
Zendesk ticket #[3472](https://cockroachdb.zendesk.com/agent/tickets/3472) has been linked to this issue.

[2019-07-12 21:48] #38733 closed

[2019-07-12 22:09] #38627 closed

[2019-07-12 22:18] yuzefovich opened #38858 "exec: min/max do not return nulls over an empty table"
[code]

[2019-07-12 22:26] cockroach-teamcity opened #38859 "teamcity: failed test: version-upgrade"
The following tests appear to have failed on master (roachtest): acceptance/version-upgrade

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+version-upgrade).

[#1387087](https://teamcity.cockroachdb.com/viewLog.html?buildId=1387087):

[code]

Please assign, take a look and update the issue accordingly.

[2019-07-12 22:30] dodtsair opened #38860 "Unable to use with update returning in following select clause "SQL Error [42P01]: ERROR: no data source matches prefix:""
**Describe the problem**

I am updating a table, using returning to pull out fields, then attempting to use those fields in a following select clause.  However I get the error "ERROR: no data source matches prefix:"

[code]

**To Reproduce**

In a blank database run the following ddl and dml:
[code]

**Expected behavior**
Result set should be
[code]

**Environment:**
 - CockroachDB version: Cockro

[2019-07-12 23:15] rafiss commented on #38750
Noting this down here so I don't forget over the weekend --

Removing the line `ht.groupID[ht.toCheck[i]] = 0` in hashjoiner_tmpl#_CHECK_COL_BODY fixes some of the test cases. It seems like this line is setting the keyID of any null key to be 0, which is causing the issue in the index-out-of-bounds in hash_aggregator. (I haven't yet determined why this line is there so I don't know the proper fix

[2019-07-13 02:31] leafji opened #38861 "how can i know row locate in which node?"
Hello @jordanlewis :

I would like to ask some question about partition feature with zone config， which is how can i know that which node some specific data locate in.

For example:

create table t1(a int primary key) ;

ALTER TABLE t1 PARTITION BY LIST (a) (
    PARTITION p1 VALUES IN (3),
    PARTITION p2 VALUES IN (6),
    PARTITION p3 VALUES IN (9)
  );

ALTER PARTITION p1 OF TABLE t1
    CONF

[2019-07-13 06:14] cockroach-teamcity opened #38862 "storage: TestReplicaBurstPendingCommandsAndRepropose failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/092e60a978e1baec6289a791ee410bc3ec02d1a7

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1387581&tab=buildLog

[code]

[2019-07-13 07:33] ajkr commented on #38788
Thanks a lot for all the info you provided. Haven't found a cause yet but this certainly helps us know where to look.

[2019-07-13 11:00] Inconnu08 commented on #38855
I'll take on this

[2019-07-13 12:40] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/092e60a978e1baec6289a791ee410bc3ec02d1a7

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1387582&tab=buildLog

[code]

[2019-07-13 17:06] jordanlewis commented on #38855
@Inconnu08 great! Do let me know if you need pointers.

[2019-07-13 17:57] gigatexal commented on #35048
From what I currently understand the file `backup.go` found in `pkg/sql/sem/tree/backup.go` defines the structure of a backup statement and which is where I found the `WITH` and how that works.

My thought is that if I could figure out where in `pkg/ccl/backupccl/backup.go` to add some logic I could check for a `Key` called `returning` and a value of `id` and then have a sort of async path that pu

[2019-07-13 19:20] shivamYoda commented on #20878
@jordanlewis As I read from the comment over the function OverlapCoveringMerge , The order of payload in the output range array should be according to the order in Coverings. Can you please confirm that this is the case ? Or the payloads in each range in final array can be ordered in any way ?

[2019-07-13 22:14] dt commented on #35048
Close. `sem/tree` is where the AST is defined, so if you wanted to add a new, separate flag in the SQL grammar. If you just want to add it as one of the options that can be passed via `WITH`, you don't actually need to edit the AST or parser at all -- you can actually just add `background` or whatever to the `backupOptionExpectValues` map of allowed options in `pkg/ccl/backupccl/backup.go` (with `

[2019-07-14 05:17] cockroach-teamcity opened #38864 "ccl/logictestccl: TestCCLLogic failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/02d52a6aa42740d03b696ed1c20a21ff9007568a

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1388009&tab=buildLog

[code]

[2019-07-14 19:02] mjibson opened #38865 "sql: internal error: unexpected type for COLLATE: log.SafeType"
```SELECT ISERROR ( NAME 'string' COLLATE AS )```

[code]

[2019-07-14 21:12] jordanlewis opened #38867 "sql: mismatched type panic during apply join"
Running the following produces a panic:

[code]

The `EXPLAIN(opt,types)` output is:

[code]

It looks like the outer apply join is maybe returning the columns in the wrong order - I'm not really too sure yet, but just filing this for now.

[2019-07-14 21:13] jordanlewis commented on #38867
@RaduBerinde would you or somebody from your team be able to take a quick look at the `EXPLAIN(opt,types)` to see if there's something wrong with the produced plan? I'm assuming this is an execution issue but just want to double check.

[2019-07-14 22:02] RaduBerinde commented on #38867
I don't see a problem in the plan. Looking at the applyJoinNode code, what ensures that `rightProps` actually contains a presentation? Without a presentation, in principle it's possible that every time we plan the right side, we get columns in a different order at the root. Somewhere we should be enforcing a specific presentation, even if we have to choose an arbitrary one.

[2019-07-15 01:52] awoods187 commented on #38253
This is still true fyi @kenliu @nvanbenschoten

[2019-07-15 01:52] awoods187 opened #38871 "roachperf: tpc-c data not present for July"
![image](https://user-images.githubusercontent.com/22278911/61192367-bccc2c00-a681-11e9-8045-6d02d915c38b.png)

https://roachperf.crdb.dev/?filter=&view=tpccbench%2Fnodes%3D3%2Fcpu%3D16&tab=aws

[2019-07-15 01:53] awoods187 commented on #38871
cc @kenliu @nvanbenschoten

[2019-07-15 02:10] awoods187 commented on #38871
Looks like it applies to KV too https://roachperf.crdb.dev/?filter=&view=kv95%2Fenc%3Dfalse%2Fnodes%3D3%2Fcpu%3D32&tab=gce

[2019-07-15 02:11] awoods187 commented on #38871
Holds true for AWS too https://roachperf.crdb.dev/?filter=&view=kv0%2Fenc%3Dfalse%2Fnodes%3D3&tab=aws

[2019-07-15 06:27] markelog commented on #9851
Why this was closed?

[2019-07-15 06:51] #38340 closed

[2019-07-15 08:39] bra-fsn commented on #38788
@ajkr should I leave this cluster (and process) running, or the core file will be enough for further investigation?
If would like to try to reproduce https://github.com/cockroachdb/cockroach/issues/38778 to report back similar details.

[2019-07-15 12:31] jordanlewis commented on #9851
Good question. It shouldn't have been.

[2019-07-15 13:38] tim-o commented on #9851
That was our error, apologies.

[2019-07-15 14:29] rafiss commented on #38858
Related bugs: in this case `count(*)` and `count(k)` should return 0, and `sum(k)`, and `avg(k)` should all return NULL.

[2019-07-15 14:44] solongordon commented on #38756
These are passing now that #38798 has been resolved.

[2019-07-15 14:44] #38756 closed

[2019-07-15 15:36] piyush-singh commented on #24054
Yes indeed, Andy is tracking enhancements on #31551. We can probably close out this issue in favor of that one.

[2019-07-15 15:36] #24054 closed

[2019-07-15 16:18] rmloveland commented on #36733
That looks like the place!

I think adding an anchor link somewhere in the `tr` might do it, e.g., something like the following (untested) code:

[code]

[2019-07-15 16:40] bdarnell commented on #37906
Should we backport #38484 to 2.1 as well?

[2019-07-15 16:59] danhhz commented on #37906
Does 2.1 have the work that removes the raft log from snapshots? If not, we might want to do 2.1-specific stability testing of that PR before backporting.

[2019-07-15 17:26] tim-o commented on #9851
*Comment made from Zendesk by Ricardo Rocha on 2019-07-15 at 17:26:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">Reopening since bulk update closed incorrectly.</p></div></blockquote>

[2019-07-15 17:49] awoods187 opened #38877 "sql: partitioning & zone config enhancements"
**Show Partitions in SQL**
- [x] `SHOW PARTITIONS FOR <table>` #38436 @rohany
- [x] `SHOW PARTITIONS FOR <index>` #38436 @rohany
- [x] `SHOW PARTITIONS FOR <database>` #38436 @rohany
- [x] `SHOW CREATE TABLE` shows constraints as described in #39076 @rohany
- [ ] [docs team] Document internal tables ([#2957](https://github.com/cockroachdb/docs/issues/2957)) as well as these scripts in associated p

[2019-07-15 18:05] ridwanmsharif opened #38878 "sql: unordered spans error while applying filters"
Consider the following table:
[code]
 With the following entries:
[code]

The query below queries for all values in california or europe:
[code]

The following query does the same (but also looks for any values in between europe and the us) but fails when it shouldn't.
[code]

Found this while working on #38031 .

cc @RaduBerinde @jordanlewis

[2019-07-15 18:35] tim-o commented on #17186
Zendesk ticket #[2298](https://cockroachdb.zendesk.com/agent/tickets/2298) has been linked to this issue.

[2019-07-15 18:55] RaduBerinde commented on #38878
Nice catch, thanks!

[2019-07-15 19:03] tim-o commented on #33725
Zendesk ticket #[3090](https://cockroachdb.zendesk.com/agent/tickets/3090) has been linked to this issue.

[2019-07-15 19:11] tim-o commented on #12768
Zendesk ticket #[3094](https://cockroachdb.zendesk.com/agent/tickets/3094) has been linked to this issue.

[2019-07-15 19:16] tim-o commented on #24636
Zendesk ticket #[3096](https://cockroachdb.zendesk.com/agent/tickets/3096) has been linked to this issue.

[2019-07-15 19:44] hinman opened #38882 "cockroach start with --join that only has IPv6 addrs using [ ... ] notation fails"
**Describe the problem**

cockroach start with --join that only has IPv6 addrs using [ ... ] notation fails

**To Reproduce**
*** node 1:
/usr/bin/cockroach start --certs-dir=/var/lib/cockroach/certs --listen-addr=[2607:a600:124:755c::15] --join=[2607:a600:124:755c::15],[2607:a600:124:755c::16],[2607:a600:124:755c::17]

/usr/bin/cockroach init --certs-dir=/var/lib/cockroach/certs [2607:a600:124:75

[2019-07-15 19:46] mattcrdb commented on #38861
Hi @leafji,

Currently, CockroachDB does not support such a command to determine which nodes a particular row lives on.

However, I went ahead and replicated your example in a geo partitioned deployment and was able to determine the information you are looking for using the following:

`SHOW EXPERIMENTAL_RANGES FROM TABLE t1;`
This will return us the information about the ranges that make up t1's

[2019-07-15 19:54] tim-o commented on #35117
Zendesk ticket #[3116](https://cockroachdb.zendesk.com/agent/tickets/3116) has been linked to this issue.

[2019-07-15 20:09] justinj commented on #35117
Personally, I think this feature is a footgun and should be a wontfix. It's easy to write parameterized queries which are fast for some values and require a full table scan for others. Consider
[code]
When `$1` is `'bar'` this query can be fast, and could lead someone to believe it will *always* be fast. But if `$1` is `'{}'` it requires a full table scan. Contrasted to our existing version of thi

[2019-07-15 20:11] tim-o commented on #38616
Zendesk ticket #[3485](https://cockroachdb.zendesk.com/agent/tickets/3485) has been linked to this issue.

[2019-07-15 20:12] justinj commented on #35117
I note that Postgres also doesn't implement this:
[code]

[2019-07-15 20:17] tim-o commented on #37142
Zendesk ticket #[3259](https://cockroachdb.zendesk.com/agent/tickets/3259) has been linked to this issue.

[2019-07-15 20:40] ajkr commented on #38788
@bra-fsn I can't think of anything more to ask for so IMO restarting is fine. Reporting similar details for #38778 would be great.

[2019-07-15 21:25] piyush-singh opened #38885 "ui: improve 404 error message in Admin UI"
@timveil was setting up a cluster via terraform and the Admin UI was showing consistent 404s when he tried to connect. It was unclear what exactly the problem was (trying to hit the overview page).

@vilterp had a hunch that the Admin UI hadn't finished initializing during the cluster startup and therefore was serving 404 errors. We should improve the error message here so that users can troublesh

[2019-07-15 21:48] vilterp commented on #38885
Yeah, I think that if the `Server.start` method gets blocked before it gets to these lines, you get a 404: https://github.com/cockroachdb/cockroach/blob/c097a16427f65e9070991f062716d222ea5903fe/pkg/server/server.go#L1694-L1701 (though I didn't think we started up the server until later, so I kind of would expect it not to connect at all… would need to read the code more to understand)

This is yet

[2019-07-15 22:57] yuzefovich opened #38888 "exec: LIKE broken for patterns which begin and end with wildcards"
On master, if we add `5node-dist-vec` config to `distsql_numtables` logic test file and run it, we get:
[code]
I'm guessing the problem is with LIKE operator since previous queries without it have succeeded.

[2019-07-16 00:00] markelog commented on #9851
Cool, thanks :), excited about the possibility of this feature btw

[2019-07-16 05:20] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/e3b454452c5cb251958e2e5d91b1854a478614c9

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1389565&tab=buildLog

[code]

[2019-07-16 05:47] bra-fsn commented on #38788
OK, restarting and trying to reproduce #38778.

[2019-07-16 06:01] cockroach-teamcity opened #38893 "teamcity: failed test: TestBatchTimeout"
The following tests appear to have failed on master (testrace): TestBatchTimeout, TestBatchTimeout/NoTimeout, TestBatchTimeout/WithTimeout

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestBatchTimeout).

[#1389505](https://teamcity.cockroachdb.com/viewLog.html?buildId=1389505):

[code]

Please assign, take a look and update the iss

[2019-07-16 06:03] mberhault commented on #38146
19.1.3 and 2.1.8 containing this fix were just released. You should now be able to provide a certificate chain, only the first certificate in the file will need to have the expected `CN`.

Thank you for your patience.

[2019-07-16 09:32] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/e3b454452c5cb251958e2e5d91b1854a478614c9

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1389892&tab=buildLog

[code]

[2019-07-16 12:16] tbg commented on #37906
No, that's 19.1. With 2.1 we run a higher risk of seeing that snapshot refusal loop again (I think snapshots with 8mb are refused, and truncation would kick in at 4mb). I believe the refusal code was often triggered by SSTs which clock in at ~22mb each from what I remember, so changing the truncation heuristics likely wouldn't make a big difference for the worse (but it should make one for the bet

[2019-07-16 13:46] #38871 closed

[2019-07-16 14:15] #38878 closed

[2019-07-16 14:35] cockroach-teamcity opened #38898 "teamcity: failed test: TestReplicaBurstPendingCommandsAndRepropose"
The following tests appear to have failed on master (testrace): TestReplicaBurstPendingCommandsAndRepropose

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestReplicaBurstPendingCommandsAndRepropose).

[#1390316](https://teamcity.cockroachdb.com/viewLog.html?buildId=1390316):

[code]

Please assign, take a look and update the issue a

[2019-07-16 15:40] gigatexal commented on #35048
I'm still trying to wrap my head around what all goes on and how in the `backup.go` file, but I've made to my local fork the first change:

[code]

[2019-07-16 15:40] rafiss commented on #38750
Here's the explanation: the hashTable data structure is shared between the hash joiner and the hash aggregator. It was originally implemented for the hash joiner, and in that case, NULLs are always supposed to be treated as non-equal. However, in the hash aggregator, we want NULLs to compare as equal to each other. I'll put up a PR with an attempted fix.

[2019-07-16 15:58] nvanbenschoten commented on #38898
Duplicate of #38615.

[2019-07-16 15:58] #38898 closed

[2019-07-16 15:58] nvanbenschoten commented on #38862
Duplicate of #38615.

[2019-07-16 15:58] #38862 closed

[2019-07-16 16:05] jordanlewis commented on #35117
Yeah, I'm fine with closing this as `wontfix`.

[2019-07-16 16:20] yuzefovich opened #38901 "sql: some aggregates as window functions erroneously return the same result for peers"
I noticed an unexpected behavior of `array_agg`:
[code]
and confirmed that with Postgres:
[code]
The problem here is that an ORDER BY clause is omitted, so all rows are considered "peers"; however, this concept should not apply in this case (also `concat_agg` and possibly other functions).

[2019-07-16 16:48] #35950 closed

[2019-07-16 17:07] #38752 closed

[2019-07-16 17:07] #38751 closed

[2019-07-16 17:41] nvanbenschoten commented on #38615
@ajwerner I can take this off your plate.

[2019-07-16 17:43] ajwerner commented on #38615
Much appreciated!

[2019-07-16 17:54] danhhz opened #38902 "storage: learners defaulted on"
#38149 will merge learners, defaulted off. Afterward, there will be some followups before turning it on, including more production testing and updating some unit tests.

- [x] Finish the audits in #37916
- [x] Audit uses of `(RawNode).WithProgress`
- [x] Audit uses of `(RangeDescriptor).GetReplicaDescriptor`
- [x] Audit uses of `(RangeDescriptor).GetReplicaDescriptorByID`
- [ ] Audit uses of `(Sto

[2019-07-16 18:04] mattcrdb commented on #38882
cc @piyush-singh

[2019-07-16 18:19] solongordon commented on #38888
Actually LIKE seems broken regardless of whether it's distributed:
[code]

[2019-07-16 18:23] mjibson commented on #38286
Ping.

[2019-07-16 18:25] yuzefovich commented on #38286
I pinged Justin, and he responded with "Sorry, the thing I thought would be the easy solution won't work I think, so I need to find some time to dig in and figure out what needs to happen here."

I'll assign him to look into this issue since I'm lacking the context of optimizer to fix this properly.

[2019-07-16 18:27] solongordon commented on #38888
`GetLikeOperator` is picking the wrong operator when a pattern begins and ends with `%` (`selSuffixBytesBytesConstOp` rather than `selRegexpBytesBytesConstOp`).

[2019-07-16 18:28] mjibson commented on #38286
Oh oh, the reducer worked really well for this:

[code]

[2019-07-16 18:57] solongordon commented on #38753
Fixed by #38787.

[2019-07-16 18:57] #38753 closed

[2019-07-16 18:58] rolandcrosby opened #38906 "sql: support column family definitions in CREATE TABLE AS SELECT"
The new `CREATE TABLE AS SELECT` enhancements that @adityamaru27 is working on help with various cases when a table needs to be rewritten, including primary key changes (#20940) and other cases not handled explicitly by schema changes. Allowing a user to define column families as an additional qualifier in the table definition would be a nice improvement here, since there's not otherwise a good wa

[2019-07-16 20:01] ricardocrdb commented on #38159
Hey @diyism

Do you have any other questions in reference to this feature?

Cheers,
Ricardo

[2019-07-16 20:15] mattcrdb commented on #38882
Hey, I was able to reproduce this and can see that IPv6 [...] notation fails with the join flag.

Thanks for bringing this up.

As a workaround, I can suggest setting up DNS names for your IPv6 addresses.

[2019-07-16 20:27] nvanbenschoten commented on #38840
Duplicate of #36086.

[2019-07-16 20:27] #38840 closed

[2019-07-16 20:31] nvanbenschoten commented on #38590
[code]

This was during a period where a number of other tests were getting stalled because of https://github.com/cockroachdb/cockroach/pull/38632.

[2019-07-16 20:31] #38590 closed

[2019-07-16 20:32] rohany commented on #38807
Isn't the output going to be a bit different anyway once we turn on streaming? Because we read in an entire batch of elements at once, the KV trace is going to be different than reading in one k/v pair at a time (at least my understanding).

[2019-07-16 20:36] yuzefovich commented on #38807
I think a different output is ok. The goal here to provide as much information in tracing as possible. If it doesn't match exactly what row fetcher does, then we'll adjust the tests.

[2019-07-16 20:50] Bessonov commented on #36208
@rolandcrosby thank you very much for your response! I would be very happy if it can get into 20.1 release.

[2019-07-16 20:55] rohany commented on #38807
It seems strange to change the test though -- does that mean we don't want to be verifying distsql's behavior anymore?

[2019-07-16 21:02] yuzefovich commented on #38807
Hm, maybe we'll have different logic test files with different configs then, I'm not sure. But a different output sounds good to me as long as it is as informative as possible. Probably Jordan has more thoughts on this.

[2019-07-16 21:11] jordanlewis commented on #38807
No, the output does not have have to be at all different from what it was before. The fetcher is the point at which we convert kv-by-kv data (what it looks like on disk) into column vector batches. The fetcher still reads everything in the same order as it used to.

[2019-07-16 21:14] #30618 closed

[2019-07-16 21:36] dt commented on #38803
personally I think I have a slight preference towards a flag on the `SHOW JOB` (e.g. as a straw man `SHOW JOB 12345 WHEN COMPLETE`) rather than adding a new top-level statement. /2¢

[2019-07-16 22:25] #15850 closed

[2019-07-16 22:29] dt commented on #17476
I don't think there is anything special to do with views that reference system tables as described here. There is a general case of views referencing tables that are not restored, including those not even in the backup, and system tables aren't special. We're providing some workarounds here (@lucy-zhang landed #38597 and our next new-hire will be augmenting `SHOW BACKUP` to print the `CREATE` stat

[2019-07-16 22:29] #17476 closed

[2019-07-16 22:36] dt commented on #13628
we have CDC for data ranges and the event log for schema changes so I'm happy with closing this.

[2019-07-16 22:36] #13628 closed

[2019-07-16 22:45] dt commented on #20526
This should be resolved by the fixes @adityamaru27 built for #25828.

[2019-07-16 22:45] #20526 closed

[2019-07-16 22:57] #38888 closed

[2019-07-17 02:37] yuzefovich opened #38918 "exec: a crash with vectorized distributed"
Found when running `fakedist` config on `cascade` logic test with "streaming" by default.

To reproduce, I created a 3 node local cluster with (in 4 separate tabs):
`./cockroach start --insecure --store=node1 --listen-addr=localhost:26257 --http-addr=localhost:8080 --join=localhost:26257,localhost:26258,localhost:26259`
`./cockroach start --insecure --store=node2 --listen-addr=localhost:26258 --ht

[2019-07-17 03:13] yuzefovich opened #38919 "exec: EXISTS hangs with distributed vectorize"
Found when running `fakedist` config on `subquery` logic test with "streaming" by default.

To reproduce, I created a 3 node local cluster with (in 4 separate tabs):
`./cockroach start --insecure --store=node1 --listen-addr=localhost:26257 --http-addr=localhost:8080 --join=localhost:26257,localhost:26258,localhost:26259`
`./cockroach start --insecure --store=node2 --listen-addr=localhost:26258 --h

[2019-07-17 03:47] yuzefovich opened #38920 "exec: tracking issue for turning on "auto" by default"
- [x] [exec: tracking issue for unit test failures ](https://github.com/cockroachdb/cockroach/issues/38935)

- [x] unordered synchronizer is blocked forever #39092

This is an incomplete list of failing logic tests when attempting to turn streaming operators through vectorized engine by default.

- [x] #38995

Failures on `local` config:
- [x] #38807
- [x] #38858
- [x] #38775

Failures on `fakedis

[2019-07-17 05:33] cockroach-teamcity opened #38922 "sql: TestShowQueries failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/9dc85692eee8cac9bdaea304b4b2e17e766717d4

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1391407&tab=buildLog

[code]

[2019-07-17 05:47] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/90fc142c8b2bab94f5049e8331e409be74947873

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1391659&tab=buildLog

[code]

[2019-07-17 06:48] bra-fsn commented on #38788
So far I could only reproduce this one (now with v19.1.3). It's strange that it happened on the same machine again (they are equal in every aspect, both HW and SW wise) and AFAIR with the same node ID (1), the first one which I started the cluster with. Don't know whether it has any relevance, or not...

[2019-07-17 07:39] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/90fc142c8b2bab94f5049e8331e409be74947873

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1392477&tab=buildLog

[code]

[2019-07-17 09:42] wangbf opened #38925 "count(*) is too slow"
I have a table, the structure is:
CREATE TABLE user (
             |     uid INT8 NOT NULL,
             |     username STRING NULL,
             |     oldusername STRING NULL,
             |     password STRING NULL,
             |     nickname STRING NULL,
             |     email STRING NULL,
             |     equipmenttype INT8 NULL,
             |     ispswauth BOOL NULL,
             |

[2019-07-17 14:46] RoachietheSupportRoach opened #38928 "this is a test"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#3498](https://cockroachdb.zendesk.com/agent/tickets/3498)
**Group:** Support
**Requester:** support@cockroachlabs.com
**Issue escalated by:** RoachietheSupportRoach

**Original ticket description:**

<blockquote><div class="zd-comment" dir="auto">
<p dir="auto">this is a test</p>
<p dir="auto"><a href="mailto:support@cockroachlabs.c

[2019-07-17 14:46] kenliu opened #38929 "docs: CONTRIBUTING.md points to node 6.x currently only <= 10.x is supported."
This needs to be clarified since node 11+ currently breaks the build.

[2019-07-17 15:09] #38726 closed

[2019-07-17 15:09] #38727 closed

[2019-07-17 15:24] mattcrdb commented on #38925
Hey @wangbf ,

Could you please run
[code]

Open the distributed SQL plan link and attach a screenshot of the result here.

Thanks!
Matt

[2019-07-17 15:33] roncrdb opened #38930 "Support for Encrypted Certificates"
**Is your feature request related to a problem? Please describe.**
At the moment, if a user encrypts a certificate with a password, and then tries to use that cert with CRDB, an error is thrown.

` problem using security settings: tls: failed to parse private key`

**Describe the solution you'd like**
We should add support for users who would like to use encrypted certs.

It appears that the Go St

[2019-07-17 15:40] bdarnell opened #38931 "sql: Unsupported options for `TRUNCATE`"
PostgreSQL defines two options for the [TRUNCATE statement](https://www.postgresql.org/docs/current/sql-truncate.html) that we do not support: `RESTART IDENTITY` and `CONTINUE IDENTITY` (`RESTART IDENTITY` resets any sequences associated with the table; `CONTINUE IDENTITY` is the default and a no-op).

I came across these features because the [knex](http://knexjs.org) query builder's `truncate` me

[2019-07-17 15:45] rytaft commented on #26423
This has been fixed in the optimizer.

[2019-07-17 16:08] jordanlewis commented on #20204
No reason to fix this.

[2019-07-17 16:08] #20204 closed

[2019-07-17 16:10] jordanlewis commented on #34005
Closing as there's been no more data on this issue. @irshadhasmat please feel free to continue commenting if you need further support,

[2019-07-17 16:10] #34005 closed

[2019-07-17 16:12] dt commented on #24417
According to SQL people, these days we sometimes _want_ duplicate indexes for geo-distributed reasons, so I think we want to leave this as-is.

[2019-07-17 16:12] #24417 closed

[2019-07-17 16:14] #20968 closed

[2019-07-17 16:15] jordanlewis commented on #26045
This is still an issue.

[2019-07-17 16:17] #7335 closed

[2019-07-17 16:38] jordanlewis commented on #10122
Closing this - it's pretty stale and I think consensus says we're not going to get to it soon. If a watcher on this issue cares particularly, I'd be open to reopening with a more concrete proposal or use case.

[2019-07-17 16:38] #10122 closed

[2019-07-17 16:59] tyler314 opened #38933 "sql: Normalize storage of `NULL` and `DEFAULT NULL` qualifiers in `CREATE TABLE`"
After working on Issue #37948, @rolandcrosby and I agreed it makes the most sense to have an agreed upon normalization for adding NULL to column definitions. This was inspired by the fact that when a user creates a new column using a query such as ALTER TABLE t ADD COLUMN c INT NULL, the default expression is nil. However, if they create it in a more explicit fashion such as ALTER TABLE t ADD COLU

[2019-07-17 17:02] nvanbenschoten commented on #38859
Two nodes crashed at the same time because of:

[code]

This is very likely because of https://github.com/cockroachdb/cockroach/pull/38568. @ajwerner and I looked through the code and found that we modify the stats delta for entries in `applyRaftCommandToBatch` [here](https://github.com/cockroachdb/cockroach/blob/5a382477a5c38f1718829f2b443783dd8b34e92b/pkg/storage/replica_application.go#L600) and

[2019-07-17 17:03] rolandcrosby opened #38934 "404 in IMPORT leads to uncaught error"
@drewdeally ran into an uncaught error when trying to import some CSV data over HTTPS on CockroachDB 19.1:

<details>

[code]

</details>

This is surprising (and I'm having trouble reproducing it locally), as this kind of error would typically be caught and displayed directly to the user, instead of indicating "internal error: uncaught error" with the stack trace and "unexpected error" hint.

Epi

[2019-07-17 17:13] awoods187 commented on #38920
This is great to see in one place as we track it moving forward!

[2019-07-17 17:14] rolandcrosby commented on #38934
This was on `CockroachDB CCL v19.1.0 (x86_64-apple-darwin14, built 2019/04/29 18:31:15, go1.11.6)`.

[2019-07-17 17:20] rohany commented on #38658
Done in #38796

[2019-07-17 17:20] #38658 closed

[2019-07-17 17:49] RoachietheSupportRoach commented on #38930
Zendesk ticket #[3499](https://cockroachdb.zendesk.com/agent/tickets/3499) has been linked to this issue.

[2019-07-17 17:59] spaskob commented on #38802
Is there a similar PR I can look at that adds or modifies existing keyword semantics?

[2019-07-17 18:11] adityamaru27 commented on #38802
I used the changes to `sql.y` in https://github.com/cockroachdb/cockroach/pull/37603/commits/d68329f68fdd29d2d6d3023b4c5c0112cf0d5051 as a reference when I made my first yacc change. It adds a keyword.

Something I recently added to the parser grammar was - https://github.com/cockroachdb/cockroach/pull/38589/commits/a111dacf331c28b62f2bafe949392ae776942d49

[2019-07-17 18:12] solongordon opened #38935 "exec: tracking issue for unit test failures"
This is a list of non-logic unit test failures when streaming vectorized execution is enabled.

pkg/ccl/backupccl
- [x] TestConcurrentBackupRestores (seems to be fixed by #38992)

pkg/sql
- [x] TestSessionFinishRollsBackTxn (#38858, fixed by #39007)
- [x] TestDistSQLRangeCachesIntegrationTest (#39033, fixed by #39038)
- [x] TestTxnObeysTableModificationTime (#39030, fixed by #39038)
- [x] TestSeco

[2019-07-17 18:14] awoods187 commented on #38920
We also have this too https://github.com/cockroachdb/cockroach/issues/38935 which I added to the checklist

[2019-07-17 18:32] mjibson opened #38937 "sql: panic: interface conversion: coldata.column is []int16, not []int64"
[code]

[code]

[2019-07-17 18:33] mjibson commented on #38937
So two bugs here. 1) This caused a panic. 2) Panics should be caught in a defer and changed to internal errors.

[2019-07-17 19:42] RaduBerinde opened #38940 "opt: support CREATE VIEW"
CREATE VIEW (and more recently CREATE TABLE AS) relies on the heuristic planner to fully qualify datasource names. That means we can't use queries that are not supported by the HP with views, and will be a blocker to removing the HP altogether.

[code]

[2019-07-17 20:02] RaduBerinde opened #38942 "opt: use encoded URL for EXPLAIN (OPT, ENV)"
Using `EXPLAIN (OPT, ENV)` has been problematic because of the large amount of text that has to be copy-pasted, and various formatting issues can be introduced along the way.

It will be more reliable if we made it return an encoded URL (similar to `EXPLAIN (DISTSQL)`) which shows you the text data when you open it. Should be a fairly easy project.

[2019-07-17 20:15] solongordon opened #38943 "exec: retryable errors aren't retried"
It looks like errors that should be retryable are not retried when vectorized execution is enabled. To reproduce, run `TestDistSQLRetryableError` with `experimental_vectorize=on`.
[code]
It looks like this same issue causes `TestMonotonicInserts` to fail when vectorized execution is enabled.

[2019-07-17 20:21] solongordon opened #38944 "exec: don't expose "unexpected error from the vectorized runtime""
When vectorized execution panics we currently bubble up an "unexpected error from the vectorized runtime" to the user. This causes `TestNonRetryableError` to fail due to the error not being what it expects. I don't think this error makes sense to expose anything about the "vectorized runtime" to users anyway, so probably better to log this and bubble up the original error.

[2019-07-17 20:34] mattcrdb commented on #38925
Hey @wangbf ,

I want to suggest an improvement to your schema to improve that particular queries performance.

You can drop the `INDEX equipmenttype(equipmenttype ASC) ` and replace it with:
`CREATE INDEX equipmenttype ON users (equipmenttype) STORING (usertype, isanonymous);`

This should improve your queries performance significantly as it will no longer perform an index join.

Give it a shot a

[2019-07-17 21:07] #38750 closed

[2019-07-17 21:42] yuzefovich commented on #38944
I think we want to relax the test here. My thinking is that it is an artificial scenario, and in real usage the user shouldn't be able to see the "unexpected error ..." (unless it was really unexpected) because the error should contain a PG code (to the best of my understanding).

https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/exec/error.go#L52-L57
[code]

[2019-07-17 21:45] dt commented on #37083
Without knowing which specific transactions are causing problems, it is hard to say exactly how hard it will be to change them. Do we have any idea which ones were initially identified as areas of concern?

I guess if we don't know anything, just off the top of my head, I'd say spin up a tpcc1k cluster (or 2k if the schema changes are too quick on 1k) and go though adding an index, adding a column

[2019-07-17 22:11] #38615 closed

[2019-07-17 22:52] #38937 closed

[2019-07-18 00:44] yuzefovich opened #38950 "exec: a problem with type conversion when tracing was enabled"
Found when running `make testlogic TESTCONFIG=local` on `planner_test/aggregate:350`. The problem was likely caused or uncovered (i.e. the test was failing prior to line 350 before) by #38938.

At the moment, we get an error on master as follows:
[code]
Note that the problem appears only after we turned on `tracing` and remains there even after it was turned off.

Assigning @rohany since probably

[2019-07-18 00:47] kenliu commented on #30553
this doesn't belong in the `Web UI` project, reassigning to Core

[2019-07-18 00:51] yuzefovich opened #38951 "exec: a panic with tracing"
This is a repro (`planner_test/select:84`) of a problem mentioned [here](https://github.com/cockroachdb/cockroach/pull/38949#issuecomment-512610660).

At the moment, on master:
[code]

[2019-07-18 00:52] kenliu commented on #37309
related to #38929

[2019-07-18 01:30] kenliu commented on #35657
Hi @bdarnell this issue was carried over from 19.1 into 19.2. I came across this while tidying up the dev infra backlog and was wondering if this is something you were planning to work on for 19.2 or if this is something that dev infrastructure team need to work into our planned backlog.

[2019-07-18 01:35] bdarnell commented on #35657
I was hoping to nerd-snipe someone into it but would do it if I have to. It's critical for 19.2 because the licensing change means that we will not be able to update our current homebrew package for that version.

[2019-07-18 01:56] bdarnell commented on #38929
Node 6 doesn't work any more either (see #38903). I have node 8.16 which seems to work, so it looks like the currently-working range is 8-10.

[2019-07-18 02:09] kenliu commented on #35657
Thanks for clarifying the level of importance. I'm labeling this as `S-2` to mark it as high priority even though it doesn't impact users in the way we normally would think about it.

[2019-07-18 02:58] nvanbenschoten commented on #38859
I looked into this more. The migration from the `DeprecatedDelta` field to the `Delta` field took place in v2.0. The migration to the `RangeAppliedStateKey` took place in v2.1. So it seems unlikely that a Raft command using a `DeprecatedDelta` would also have the `UsingAppliedStateKey` flag set to true.

It doesn't look like it's impossible though. If we look at the 2.1 release, we see that the [`

[2019-07-18 03:13] nvanbenschoten commented on #38640
I think we expect to see this if we're running an outdated version of `roachtest`. If that happens then the value of `settings.BinaryServerVersion` that is compiled into the `roachtest` binary will be stale. @andreimatei does this ring any bells? We haven't seen this fail for a week, but I'm not sure we have any other reason to believe this has been fixed?

[2019-07-18 05:19] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/6d644dfb6d38c3ed2e54a548d909950f6b982490

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1394068&tab=buildLog

[code]

[2019-07-18 07:04] bra-fsn commented on #38788
New infos:
in the last two runs, the problem started at around the same place during inserting (I'm inserting the same data for testing purposes):
First run:
[code]
Second run:
[code]

So after around 7.2 million operations (these cover two transactions, one for multiple inserts and another for deletes) the phenomenon kicks in reliably.
Also, maximum response times grow significantly, but that's n

[2019-07-18 09:15] bra-fsn commented on #38778
OK, I could gather more info, because something like the above happened again, but on multiple nodes and more threads, not just one.
Otherwise it's the same: memory usage grows, CPU is burned constantly by a few threads and the logs have the slow latch lines, also the graphs look like this:
![image](https://user-images.githubusercontent.com/820331/61444303-685bd180-a94b-11e9-8287-1e6b5d98eb5c.png)

[2019-07-18 09:18] bra-fsn commented on #38778
It seems this happens when I remove the bottleneck I cause in the ingestion script. The other issue (#38788) happens when I do around 300 transactions/s and this one happens when I do around 1200.
I'm not sure whether this would finish anytime or it's a real lockup, but at least it consumes a lot of memory, which is infeasible to do on these machines (have 64G RAM and 16G swap, caused OOM previous

[2019-07-18 11:17] tbg commented on #38640
That sounds reasonable, I'll check in a bit

On Thu, Jul 18, 2019, 05:14 Nathan VanBenschoten <notifications@github.com>
wrote:

[2019-07-18 11:45] tbg commented on #38640
Oh isn't this just a problem with running `roachtest` from master always? On any but the master branch, the binary will have a different cluster version and confuse the test. I think we just need to take the version from our binary instead of using `settings.BinaryServerVersion`. Will take a look and fix.

[2019-07-18 11:47] bra-fsn commented on #38778
Looking at my opening comment, I'm not sure if this is the same issue due to the following reasons:
1. there only one machine and one thread was spinning
2. memory usage didn't grow
But anyways, the logs have similar lines and slow latch acquisitions are not 0, so leaving this here.

[2019-07-18 13:27] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/6d644dfb6d38c3ed2e54a548d909950f6b982490

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1394395&tab=buildLog

[code]

[2019-07-18 13:45] mattcrdb commented on #38861
Hey @leafji ,

Just wanted to check in to see if this information was useful.

Let us know.

Thanks,
Matt

[2019-07-18 13:49] rafiss commented on #38845
We also could consider handling projections. Note that there are two separate errors that can be triggered.

[code]

[2019-07-18 13:56] ricardocrdb commented on #38928
test update

[2019-07-18 14:01] ricardocrdb commented on #38928
test test

[2019-07-18 14:03] nvanbenschoten commented on #38074
I decided to take a look at this because it popped up as one on 6 Core S-1 issues yesterday. I think I tracked the issue down to our determination of whether a zone configuration is a "subzone placeholder", which is here:
https://github.com/cockroachdb/cockroach/blob/68d9da92fce00ceec147611f630b147bd518a0da/pkg/config/zone.go#L593-L598

Notice that we only consider the zone's num_replicas when det

[2019-07-18 14:12] RoachietheSupportRoach commented on #38928
Zendesk ticket #[3498](https://cockroachdb.zendesk.com/agent/tickets/3498) has been linked to this issue.

[2019-07-18 14:13] RoachietheSupportRoach commented on #38928
*Comment made from Zendesk by Ricardo Rocha on 2019-07-18 at 14:13:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">test linking</p></div></blockquote>

[2019-07-18 14:13] ricardocrdb commented on #38928
bidirectional test?

[2019-07-18 14:15] RoachietheSupportRoach commented on #38928
*Comment made from Zendesk by Ricardo Rocha on 2019-07-18 at 14:15:*

<blockquote><div class="zd-comment" dir="auto"><p dir="auto">test public</p></div></blockquote>

[2019-07-18 14:17] #38928 closed

[2019-07-18 14:18] #38893 closed

[2019-07-18 14:25] jordanlewis commented on #38845
I think one of the work items here is to support `CastExpr`, which I guess gets planned in some of these circumstances. That might be a good bridge to figuring out a better strategy for dealing with mixed type overloads in general.

[2019-07-18 14:53] #37309 closed

[2019-07-18 14:53] #38929 closed

[2019-07-18 14:56] cockroach-teamcity opened #38960 "teamcity: failed test: TestLeaseAtLatestVersion"
The following tests appear to have failed on master (testrace): TestLeaseAtLatestVersion

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestLeaseAtLatestVersion).

[#1394827](https://teamcity.cockroachdb.com/viewLog.html?buildId=1394827):

[code]

Please assign, take a look and update the issue accordingly.

[2019-07-18 15:10] tbg commented on #38859
Interesting. Is the solution to transcribe the update in [MigrateToRangeAppliedStateKey](https://github.com/cockroachdb/cockroach/blob/5a382477a5c38f1718829f2b443783dd8b34e92b/pkg/storage/replica_application.go#L600) to the correct delta (or both)? If I understand you correctly, we are updating a delta that we are then replacing with the deprecated delta, which wasn't updated.

Another idea that I

[2019-07-18 15:12] #21084 closed

[2019-07-18 15:12] #24307 closed

[2019-07-18 15:44] rafiss commented on #38775
I'm wondering what we want to do with float overflow. Our current non-vectorized implementation already differs from Postgres.

Postgres:
[code]

CRDB 19.1
[code]

[2019-07-18 15:45] jordanlewis commented on #38775
Are we promoting `float` to `decimal` in that latter case?

[2019-07-18 15:47] rafiss commented on #38775
No, we are not promoting in that case. (We also see the same behavior as that latter case in the vectorized engine as it is right now.)

[2019-07-18 15:48] cockroach-teamcity opened #38961 "teamcity: failed test: version-upgrade"
The following tests appear to have failed on master (roachtest): acceptance/version-upgrade

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+version-upgrade).

[#1394926](https://teamcity.cockroachdb.com/viewLog.html?buildId=1394926):

[code]

Please assign, take a look and update the issue accordingly.

[2019-07-18 15:52] jordanlewis commented on #38775
I think this difference is probably acceptable at least for now - we already do it, plus it's pretty well-defined - it doesn't wrap around. YIL this is called "saturating" overflow behavior.

[2019-07-18 16:00] nvanbenschoten commented on #38961
Duplicate of https://github.com/cockroachdb/cockroach/issues/38859.

[2019-07-18 16:00] #38961 closed

[2019-07-18 16:50] #20940 closed

[2019-07-18 16:54] #25828 closed

[2019-07-18 16:59] #38640 closed

[2019-07-18 17:09] #38950 closed

[2019-07-18 17:09] #38951 closed

[2019-07-18 17:26] stevecookform3 opened #38965 "Implicit typecast literals to correct type (postgres compatibility)"
Looks like postgres will auto-type cast literals based on the context (more info here: https://www.postgresql.org/docs/10/typeconv.html). That isnt done by CockroachDB.

Thats causing some incompatibilities when we try to migrate postgres over to cockroach.

Here are some simple examples - the following work fine in postgres 9.5, but fail with cockroach 19.1.3 as cockroach doesnt cast them to the

[2019-07-18 17:43] jordanlewis commented on #38965
@stevecookform3, we do coerce many literals already. Text arrays are coming soon: #38869. String <->numeric is tricky to get right, so we haven't done it yet. Json actually does get automatically coerced:

[code]

[2019-07-18 17:44] jordanlewis commented on #38965
But point taken that this is irritating. What ORM or framework do you use? Would you be willing to give us a sample of your application that runs into these issues?

Thanks!

[2019-07-18 17:53] stevecookform3 commented on #38965
(github seems to have lost my previous comment, so apologies if this is a duplicate)
@jordanlewis we use an inhouse framework, so mostly this is just raw SQL similar to the cases above.
We can potentially just add explicit casts where we hit issues, which should work in both postgres & cockroach.
I thought it worth creating this as a separate issue as I could only find some specific examples in ot

[2019-07-18 18:19] rafiss commented on #38858
Unassigning myself for now, just in case anyone else has bandwidth to take this on right away.

[2019-07-18 19:52] gigatexal commented on #35048
If one wanted to trace the execution of code in CRDB during something like a backup being executed how would one go about that? Add logging statements?

[code]

I don't see how if/else'ing around the `return <-errCh` won't prevent the job from completing -- could be my rookie Golang skills or that I don't understand the codebase all that well (likely both).

[2019-07-18 20:23] dt commented on #35048
`StartJob` above there fires the job off, but it is being run _by the job registry_, and not by the thread here.
`errCh` is a channel on which the an error from the job execution will be sent.
`<-errCh` blocks the thread running that hook -- which started the job -- until something is sent on that channel or until the channel closes. That `<-` is what waits until the job is done before returning.

[2019-07-18 20:25] yuzefovich opened #38970 "exec: mismatched batch width and schema length on fakedist config"
I added the following configs to `logic.go`:
[code]
and the following logic test fails on master:
[code]
Note that it fails pretty reliably, but sometimes it's either of the configs, sometimes it's both (I haven't seen it succeed in 10 or so runs).

[2019-07-18 20:30] yuzefovich commented on #38970
Assigning to @asubiotto since you expressed an interest in this issue in #38920.

[2019-07-18 20:38] nvanbenschoten commented on #38859
The solution is to move the [migration](https://github.com/cockroachdb/cockroach/blob/5a382477a5c38f1718829f2b443783dd8b34e92b/pkg/storage/replica_application.go#L325) of the `DeprecatedDelta` up before we start mutating `Delta`. I'm also going to add an assertion in this migration that what we're overwriting it empty.

This is a very real issue that we'll want to address sooner rather than later.

[2019-07-18 20:39] yuzefovich commented on #38919
Probably a related failure occurs if we add `5node-dist-vec` config to `planner_test/distsql_subquery`:
[code]

[2019-07-18 20:41] danhhz commented on #38859
Can we do something where any node that doesn't acknowledge within a certain timeframe has its rpc connections cut off and any reconnects fail until it's done what it needs to do?

[2019-07-18 21:43] yuzefovich commented on #38918
A similar crash
[code]
occurs on the following logic test:
[code]
if we add `fakedist-opt-vec` config as follows:
[code]

[2019-07-18 21:59] #38906 closed

[2019-07-18 22:03] rolandcrosby opened #38975 "sql: allow 'set default' cascading action when default is implicit null"
While digging into #38933, @Tyler314 ended up hitting an error involving this test:

[code]

It turns out that removing the explicit `DEFAULT NULL` on `b.a_id` hits [this error](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/create_table.go#L596-L607); we forbid `set default` cascading actions on any column without a default expression. However, elsewhere we treat `null` as the defau

[2019-07-18 22:07] yuzefovich commented on #38918
I'll be taking a look at this now.

[2019-07-18 22:19] tbg commented on #38859
So we'd have to make a single change: manual version bumps fail when there are non-dead nodes or nodes can't be reached for other reasons.

Here "non-dead" means: not dead in the sense of the webui, i.e. either not decommissioned and down for < TimeUntilStoreDead; or decommissioned but live, where we allow ourselves a liveness period or two to poll if necessary. Basically "get your cluster green b

[2019-07-18 22:19] nvanbenschoten commented on #36752
@andreimatei Can we close this now?

[2019-07-18 22:20] jordanlewis commented on #38919
The goroutine that's hung is here:

[code]

[2019-07-18 22:25] tbg commented on #36752
👍

[2019-07-18 22:25] #36752 closed

[2019-07-18 22:38] jordanlewis commented on #38919
This definitely has to do with fallback logic. `SELECT * FROM t WHERE true` is not supported by the vectorized engine, apparently, because we don't handle selections on booleans, and by the time the subquery trickles down to the execution engine it still contains a filter. That part is rather suspicious on its own, but for now, I think the fallback logic must be getting confused somehow.

[2019-07-18 22:45] yuzefovich commented on #38918
I added some logging (and also started generated `flowID`s for local flows so that it is easier to distinguish them, but this is not relevant here). Here is the output:
[code]
Here is my understanding:
1. the query has a window function (although it is an aggregate here, but because of `ORDER BY`, we plan a window function) which we do not support.
2. we first plan `colBatchScan`s
3. then setup a

[2019-07-18 23:19] yuzefovich commented on #38918
Here is a very confusing to me observation:
[code]
I'm printing out the address where `f *Flow` is pointing at, and the addresses are different for the vectorized outbox and for the flow on which we do `f.startables = nil` (in fact, it's always `nil` at that point).

[2019-07-18 23:40] cockroach-teamcity opened #38978 "roachtest: kv0/enc=false/nodes=1 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/7628af050501a90d02c5ce26d0fb1013197d7c86

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1395817&tab=buildLog

[code]

[2019-07-18 23:41] cockroach-teamcity opened #38979 "roachtest: kv0/enc=false/nodes=1/cpu=32 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/7628af050501a90d02c5ce26d0fb1013197d7c86

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1395817&tab=buildLog

[code]

[2019-07-19 00:19] #38978 closed

[2019-07-19 00:19] #38979 closed

[2019-07-19 00:48] leafji commented on #38861
Hey @mattcrdb ,

Thanks your suggestion, I will try my best to seach another direct methods, and will close this issue then.

Thanks.

[2019-07-19 00:48] #38861 closed

[2019-07-19 01:32] #38859 closed

[2019-07-19 03:48] kishoresai438 opened #38982 "Addtime in dynamic query"
**Describe the problem**

Migrating from mysql to cockroachdb

**To Reproduce**

I want to add time to start time in same query. Currently I am using this in where condition

[code]

This function is not working in cockroach db. Can anyone suggest on this

[2019-07-19 04:20] cockroach-teamcity commented on #38125
SHA: https://github.com/cockroachdb/cockroach/commits/21cc7d1ac0c9301af2d5333fd879f7c23e87e8bb

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396004&tab=buildLog

[code]

[2019-07-19 04:37] rkruze opened #38984 "sql: DROP DATABASE CASCADE with 1000s of tables fails"
**Describe the problem**

Please describe the issue you observed, and any steps we can take to reproduce it:

Django performs a large number of DML statements when settings up the database to run its test suite. This runs successfully the first time but if you let Django drop the database and recreated it you get the following:

`split failed while applying backpressure to [txn: 97a88a2b], Put [/T

[2019-07-19 06:40] mjibson opened #38985 "sql: result type changes based on disk spilling"
[code]

[code]

This can be reproduced in demo mode, but was found while trying to run the `fakedist-disk/orms`  logic test (a configuration that is not present, but I tried testing it). The same query is run twice, but with the workmem set to 1 byte. This causes the result type to change. Yeah.

[2019-07-19 06:43] mjibson opened #38987 "sql: internal error: error decoding 2 bytes: couldn't decode type unknown"
When trying to run the fakedist-disk/union logic test, an ~panic~ error occurs. This configuration is currently disabled, but it probably shouldn't be since it seems to have a bug.

[code]

[2019-07-19 07:27] gigatexal commented on #35048
Ahh I can work with that

[2019-07-19 07:45] cockroach-teamcity commented on #38757
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 08:58] cockroach-teamcity opened #38988 "roachtest: cdc/ledger/rangefeed=true failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 09:02] cockroach-teamcity opened #38989 "roachtest: cdc/schemareg failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 09:12] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396497&tab=buildLog

[code]

[2019-07-19 10:32] Gurio commented on #38940
Hi @RaduBerinde I would like to pick up some more or less "real" task, and do it
But I am very new to cockroachdb, so I would need time and guidance.
Do you think I can take this one? (it is fine if not, it might be urgent for example)

[2019-07-19 10:49] cockroach-teamcity commented on #37163
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 10:54] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 12:56] RaduBerinde commented on #38940
Hi Arseni,

Thank you but unfortunately this is not a good first issue; it involves some subtelties in both the legacy heuristic planner code and the new optimizer code. I'm familiar with both and can't say I have a clear idea how we will solve it :)

[2019-07-19 13:07] Gurio commented on #38517
@rolandcrosby Hi, is someone working on it, or is it free to pick?

[2019-07-19 13:08] awoods187 commented on #38940
@Gurio you can try an issue from our good first issue label https://github.com/cockroachdb/cockroach/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22 and someone will be more than happy to assist you

[2019-07-19 13:12] Tyler314 commented on #38975
What was the most confusing to me, is how do we hit this error in the case where the user explicitly sets DEFAULT NULL, but not when they do so implicitly. After my change, the Default Expression in the column is nil in both cases, but we only hit the error in the explicit case. Will continue to dig a little deeper.

[2019-07-19 13:23] bdarnell commented on #38984
Sounds like #38617, which is fixed on master and slated to be fixed in 19.1.4. If this happens repeatably (and it is indeed fixed on master or the current release-19.1 branch), it would be evidence in favor of releasing 19.1.4 ahead of schedule.

[2019-07-19 13:44] Gurio commented on #38940
@RaduBerinde @awoods187 OK, no problem, and thanks for the answer!
I've already done one recent entry-level task, but there are not much of those, tbh :)
Most of those are more than half a year old, and I am a bit reluctant to pick such a task.
For example this one: https://github.com/cockroachdb/cockroach/issues/36439 seem to be resolved by two PRs #37174 and #38513
Anyway, you are right, there a

[2019-07-19 13:52] jordanlewis commented on #36439
@Gurio yes, you are right. Thanks.

[2019-07-19 13:52] #36439 closed

[2019-07-19 13:54] jordanlewis commented on #20878
@shivamYoda to be honest, I don't know. Maybe @danhhz knows, but it's been a while since he's touched that code as well. Perhaps you could see what the unit tests require?

[2019-07-19 13:58] bdarnell commented on #38984
I've tried to reproduce this but the django test suite fails very early when it tries to create a partial index. How exactly are you running the tests? Are you able to get past this point?

[2019-07-19 14:07] cockroach-teamcity commented on #37930
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 14:31] jordanlewis commented on #38919
Once we applied the fix in #38977, this went away.

[2019-07-19 15:04] #38970 closed

[2019-07-19 15:17] rkruze commented on #38984
I left out that I'm running on the following branch https://github.com/cockroachlabs/cockroach-django/tree/django_tests

So first I install the cockroach django backend. Then I add a file called test_cockroach.py to the django/tests folder, with the following content:

[code]

Then I run the tests with the following:
`./runtests.py -v 3 --settings test_cockrocah`

You will run an error of `CREATE

[2019-07-19 15:25] rolandcrosby commented on #38517
Hey @Gurio, thanks for your interest! Someone on our team has picked this up, but thanks for checking.

[2019-07-19 15:28] Gurio commented on #38517
@rolandcrosby Thanks for the answer!

[2019-07-19 15:31] Gurio commented on #32563
@knz still actual? :)

[2019-07-19 15:32] cockroach-teamcity commented on #38844
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 15:32] cockroach-teamcity commented on #38558
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396114&tab=buildLog

[code]

[2019-07-19 15:34] #23299 closed

[2019-07-19 15:34] #24747 closed

[2019-07-19 15:34] #26378 closed

[2019-07-19 15:34] #26389 closed

[2019-07-19 15:34] #26390 closed

[2019-07-19 15:34] #33341 closed

[2019-07-19 15:34] #37124 closed

[2019-07-19 15:39] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 15:46] jordanlewis commented on #32563
Yes! Feel free to take a look.

[2019-07-19 16:04] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 16:12] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 16:22] Gurio commented on #32563
@jordanlewis cool, will do.

[2019-07-19 16:32] yuzefovich commented on #38919
If we turn vectorized "on" (with #38992), the issue remains.

Possibly a related difference:
[code]

[2019-07-19 16:34] yuzefovich opened #38994 "exec: tracking issue for known logic tests failures for vectorize "experimental_on""
I ran logic tests on top of #38992 with vectorized set to "on." Here are the failures:
 - [x] #38919 (`explain_analyze`, `optimizer`, `subquery` files were skipped due to this issue)
 - [x] `aggregate` (#38858)
 - [x] `order_by`, `window`, `float`, `distinct_on`, `lookup_join`, `distsql_join`, `create_as` (#36880)
 - [x] `join` (#40371)
 - [x] `aggregate` (~#39240~)
 - [x] `select_index` (#38807)

[2019-07-19 16:42] yuzefovich opened #38995 "exec: probably a bug with ordinality"
[code]
Also, not sure if it's related, by I expected that the column name in the output would be "ord" and not "?column?".

[2019-07-19 16:43] cockroach-teamcity opened #38996 "roachtest: version/mixed/nodes=5 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 16:55] nvanbenschoten commented on #30999
This was finished earlier this cycle, with the work primarily spread across https://github.com/cockroachdb/cockroach/pull/35763, https://github.com/cockroachdb/cockroach/pull/36012, and https://github.com/cockroachdb/cockroach/pull/37719.

[2019-07-19 16:55] #30999 closed

[2019-07-19 17:03] rafiss commented on #38995
I believe we already don't support renaming with the `WITH ORDINALITY AS ord` syntax. Also, I think even if we did it wouldn't get that name because of the multiplication.

I'll look into the failure.

[2019-07-19 17:05] bdarnell commented on #38984
OK, I'm seeing the same thing now. Took me about 5 runs to see the backpressure error (and then once it's happened it's repeatable on the same db instance). `cockroach debug range-data` produces 196MB of (asciified) output for that range). Nearly all of that is on a single key (in my case, `/Table/15/1/470164125564043265/0`). This is a job for a DROP DATABASE command with an 85KB payload (because

[2019-07-19 17:46] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-19 18:13] jordanlewis opened #39000 "opt: crash due to interaction with prepared statements and WITH"
The Hibernate test suite failed last night in a new way. I poked around a bit and isolated the failure to the following simplified test case. In reality, the statement is prepared and executed with pgwire, but SQL prepare/execute seems to be good enough to reproduce the problem. Interestingly, it does not reproduce without the PREPARE step.

@justinj, can I send this your way?

[code]

[2019-07-19 18:53] mjibson commented on #38775
Yes, I discovered our float difference while writing edge. I decided it's fine because the behavior is the same as you would get if you were adding two large floats together (infinity). Actually thinking this through more...there's a good argument that while `sum` can return infinity, `avg` shouldn't. Hmm. Well at least we have tests asserting the results now.

[2019-07-19 19:05] nvanbenschoten commented on #38996
We see a `v19.1.3` node crash with:

[code]

This must have been broken by https://github.com/cockroachdb/cockroach/pull/38817. It almost certainly has to do with the nullability of `txn_span_gc_threshold ` and its removal [here](https://github.com/cockroachdb/cockroach/pull/38817/files#diff-050a2dcfbb93946afdba65834fa0915cL69).

[2019-07-19 19:14] nvanbenschoten commented on #38996
Oh, this is after a snapshot. We see that the on-disk state of the `TxnSpanGCThreshold` is an empty value but the in-memory state of the field is nil. Both the on-disk and the in-memory states of the field come directly from the snapshot, which was presumably sent by a node running `master` code.

[2019-07-19 19:18] nvanbenschoten commented on #38996
We can't strip the key out of the kv batch we send in snapshots because then the follower would become inconsistent and would fail consistency checks. Instead, we need to continue sending this key in the `SnapshotRequest_Header.State`.

[2019-07-19 19:29] yuzefovich commented on #38919
The difference in explain is (I think) easily explained by #38858, so it probably was a false alarm.

[2019-07-19 19:34] awoods187 opened #39002 "core: improve decommissioning speed through parallelism"
Currently, we decommission one range at a time which can make decommissioning a fully loaded node slow. We limit this so as to not impact foreground traffic or overload the network. However, there are settings in which the user would want to speed this up. For example, in migrating to a new cloud, we would recommend starting up all of the new cloud's nodes at once and then decommissioning one node

[2019-07-19 21:53] rafiss commented on #38995
From a cursory investigation, it seems like the issue is with the interactions between ordinality and projection. Both of these operators add a column to the result batch, but the projection operator is not aware that the ordinality operator has added the column. I'm looking for more details, but just wanted to note that down before the weekend starts.

[2019-07-19 22:00] rafiss commented on #38994
Regarding #36880 -- that refers to global sort, which requires disk spilling, so should it not be part of this release? (so it should not be used if `experimental_vectorized=on`?) I'm wondering if the correct fix here is (1) to resolve that issue, or (2) to make sure global sort isn't used in vectorized yet. cc @jordanlewis who I believe indicated to me elsewhere that we want to take approach (2).

[2019-07-19 22:06] yuzefovich commented on #38994
Yeah, it is not a part of this release - the presence of global sort will fail the vectorized setup with "streaming" setting. I was just curious to see what failures do occur on the logic tests with things we have implemented so far (even if it's not going to be used by default in this release), so this tracking issue is more forward-looking.

[2019-07-19 22:14] yuzefovich commented on #38858
I'm taking a look at this now.

[2019-07-19 22:20] cockroach-teamcity opened #39005 "roachtest: tpccbench/nodes=9/cpu=4/chaos/partition failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-20 01:50] cockroach-teamcity opened #39008 "roachtest: tpcc/mixed-headroom/n5cpu16 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1ca35fc4a0e2665e7f6efd945e65a0db97984fa7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1396096&tab=buildLog

[code]

[2019-07-20 02:03] #38996 closed

[2019-07-20 06:17] mjibson opened #39009 "sql: internal error: runtime error: index out of range"
[code]

[code]

[2019-07-20 06:19] mjibson commented on #39009
First time the reducer is being used! Here's the original query. :astonished:

[code]

[2019-07-20 06:26] mjibson opened #39010 "sql: internal error: invalid var index"
[code]

[code]

[2019-07-20 07:25] cockroach-teamcity commented on #38757
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397412&tab=buildLog

[code]

[2019-07-20 07:42] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397798&tab=buildLog

[code]

[2019-07-20 08:38] cockroach-teamcity commented on #38988
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397412&tab=buildLog

[code]

[2019-07-20 09:16] cockroach-teamcity commented on #37810
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397412&tab=buildLog

[code]

[2019-07-20 10:51] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397412&tab=buildLog

[code]

[2019-07-20 12:04] RaduBerinde commented on #39009
Wow, the reducer is fantastic! Thank you!!

[2019-07-20 14:54] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397412&tab=buildLog

[code]

[2019-07-20 15:12] cockroach-teamcity opened #39011 "roachtest: psycopg failed"
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397412&tab=buildLog

[code]

[2019-07-20 15:47] cockroach-teamcity commented on #38844
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397412&tab=buildLog

[code]

[2019-07-20 16:50] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/22d48caaa7d39efdcef7b3c87a99fc421e1473af

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1397412&tab=buildLog

[code]

[2019-07-20 19:11] nvanbenschoten commented on #32738
I took another pass at this yesterday after finding that we compare favorably to other databases on sysbench's write workloads (`oltp_update_index`, `oltp_update_non_index`) and exhibit an interesting concurrency ceiling on sysbench's point reads workload (`oltp_point_select`) that we'll want to spend some time exploring.

I started where I left off last time by instrumenting the libpq5 library li

[2019-07-20 20:39] nvanbenschoten commented on #31018
Closing this, as we've made significant strides to reduce the impact of secondary indexes on insert throughput. These improvements include batching txn record GC, batching intent resolution, and parallel commits. We'll continue to improve along this dimension going forward.

[2019-07-20 20:39] #31018 closed

[2019-07-20 22:57] nvanbenschoten commented on #32738
I found the source of this concurrency ceiling. It turns out that the c5d.9xlarge (36 vCPU) load gen I was using can only push about 100k qps. Using multiple load gen nodes allows us to push past this barrier.

[2019-07-21 05:21] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398252&tab=buildLog

[code]

[2019-07-21 07:12] cockroach-teamcity commented on #38757
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 07:31] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398579&tab=buildLog

[code]

[2019-07-21 07:36] cockroach-teamcity commented on #38417
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 08:46] cockroach-teamcity commented on #38988
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 09:29] cockroach-teamcity commented on #37810
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 10:12] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 14:17] cockroach-teamcity opened #39013 "roachtest: tpccbench/nodes=3/cpu=16 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 14:52] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 15:23] cockroach-teamcity commented on #38844
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 15:23] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 16:09] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/7dab0dcfd37c389af357c302c073b9611b5ada25

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1398203&tab=buildLog

[code]

[2019-07-21 16:59] #38844 closed

[2019-07-21 16:59] #38988 closed

[2019-07-21 20:58] nvanbenschoten commented on #38960
Duplicate of #38674.

[2019-07-21 20:58] #38960 closed

[2019-07-21 20:59] nvanbenschoten commented on #38922
Duplicate of https://github.com/cockroachdb/cockroach/issues/38175.

[2019-07-21 20:59] #38922 closed

[2019-07-21 21:04] nvanbenschoten commented on #38779
[code]

Network flake.

[2019-07-21 21:04] #38779 closed

[2019-07-22 01:49] Tyler314 commented on #38933
Upon further inspection, I wonder if I have uncovered a problem with our basic cascading foreign key constraint check. The current master does not support the following queries:
[code]
I verified that the equivalent queries work on postgres.
[code]
This happens because we do not allow foreign key constraint table defs with default expression of `nil` past this point:https://github.com/cockroachdb/

[2019-07-22 06:20] cockroach-teamcity commented on #38785
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 06:51] cockroach-teamcity commented on #36981
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 07:38] cockroach-teamcity commented on #38757
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 08:40] cockroach-teamcity opened #39018 "roachtest: cdc/ledger/rangefeed=true failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 09:36] shivamYoda commented on #20878
@jordanlewis Sure, no problem.

[2019-07-22 10:28] cockroach-teamcity commented on #37163
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 10:41] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399377&tab=buildLog

[code]

[2019-07-22 10:47] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 10:50] knz commented on #36242
Ran into this today while trying to benchmark ycsb.

[2019-07-22 12:53] jordanlewis commented on #39018
[code]

[2019-07-22 12:54] jordanlewis commented on #38757
[code]

[2019-07-22 12:55] jordanlewis commented on #38757
@asubiotto can you take a look please?

[2019-07-22 13:55] jordanlewis commented on #38933
Hey @Tyler314, I noticed this in the SQL execution backlog but it seems like you're looking at it - is that right? I'll move this to the bulk io team and assign you for now, but if I got that wrong, please feel free to unassign and move back!

[2019-07-22 14:19] cockroach-teamcity commented on #37394
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 14:21] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 14:40] mattcrdb commented on #38925
Just checking in to see if you were able to speed up your query.

Let me know!

[2019-07-22 14:44] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 14:58] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 15:20] nvanbenschoten commented on #39013
Node 3 was killed by the OOM killer, which is also what we see in https://github.com/cockroachdb/cockroach/issues/37163. I'm running three versions of that roachtest now to see if anything obvious jumps out.

[2019-07-22 15:25] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 15:28] cockroach-teamcity opened #39021 "roachtest: kv50/rangelookups/relocate/nodes=8 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 15:30] Tyler314 commented on #38933
@jordanlewis It seems like it may have some overlap between our two teams. I spent some time this weekend exploring it further with only marginal success, was hoping to pick the brains of some of you sql folk. We came across this bug also #38975

[2019-07-22 16:22] ajwerner opened #39022 "storage: proposal quota leak"
**Describe the problem**

We have a [roachtest](https://teamcity.cockroachdb.com/viewLog.html?buildId=1399004&buildTypeId=Cockroach_Nightlies_RoachtestNightlyAws&tab=buildLog&_focus=5300) hung on import seemingly due to an inability to acquire quota. This build is at 1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7.

In the logs we see:
[code]
That 1MB number is the entirety of the proposal quota. Somehow

[2019-07-22 16:46] rohany commented on #38935
TestKVTraceDistSQL passes once #38971 lands.

[2019-07-22 16:51] bdarnell commented on #37083
I think the main schema change concern is with writes that use SetFixedTimestamp - such a transaction can't commit if it's behind the closed timestamp. But then how does this work today for schema changes that take more than 30s? Are schema changes safe because we only use SetFixedTimestamp in empty keyspace, and we don't close out timestamps for ranges where no one's watching?

There's also a con

[2019-07-22 16:55] lucy-zhang opened #39024 "sql: rewrite table IDs in mutations during RESTORE"
Foreign key constraint mutations (and possibly other mutations?) have table IDs that don't get rewritten during RESTORE. We should test that backup/restore works for tables with schema changes in progress.

[2019-07-22 17:02] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 17:28] cockroach-teamcity opened #39026 "sentry: replica_command.go:1304 string"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1121863839/?referrer=webhooks_plugin

Panic message:

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob/43aa1ed04cd817348921ac27e11e25725f634a

[2019-07-22 17:56] solongordon opened #39029 "exec: TestDrainingProcessorSwallowsUncertaintyError hangs with vectorized enabled"
When vectorized execution is enabled by default, `TestDrainingProcessorSwallowsUncertaintyError` hangs until it times out. To reproduce, change the default `sql.defaults.experimental_vectorize` value to `on` in `exec_util.go` and then run
[code]

[2019-07-22 17:58] solongordon opened #39030 "exec: TestTxnObeysTableModificationTime fails with vectorized enabled"
When vectorized execution is enabled by default, `TestTxnObeysTableModificationTime` fails with this error:
[code]
To reproduce, change the default `sql.defaults.experimental_vectorize` value to `on` in `exec_util.go` and then run
[code]

[2019-07-22 18:19] cockroach-teamcity commented on #39013
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399004&tab=buildLog

[code]

[2019-07-22 18:37] nvanbenschoten commented on #39013
This last failure was #39022.

[2019-07-22 18:55] nvanbenschoten commented on #39026
`v1.0`, ignoring.

[2019-07-22 18:55] #39026 closed

[2019-07-22 18:59] #38942 closed

[2019-07-22 19:03] solongordon opened #39033 "exec: TestDistSQLRangeCachesIntegrationTest fails with vectorized enabled"
When vectorized execution is enabled by default, `TestDistSQLRangeCachesIntegrationTest` fails. It looks like this tests that tablereaders can send metadata about misplanned ranges and the leaseholder cache is updated appropriately. `colBatchScan` has this logic as well, so it seems like the test should pass, but the test indicates that the cache is not getting updated.

To reproduce, change the d

[2019-07-22 19:10] solongordon commented on #39033
`TestSpanResolverUsesCaches` is also failing, though it's not clear to me if it's the same issue or not. (Note that you will want the fix from #38992, otherwise you're likely to run into a different failure.)

[2019-07-22 19:11] nvanbenschoten commented on #39018
Looks like this has also started recently in https://github.com/cockroachdb/cockroach/issues/37810.

[2019-07-22 19:21] nvanbenschoten commented on #39018
This appears to reproduce fairly easily on master.

[2019-07-22 19:53] nvanbenschoten opened #39036 "release: v19.2.0-alpha.20190805"
Candidate SHA: 5bd37e8eb58ca66b9293c234bc572411057fec3a
Deployment status: testing on `nathan-release-v1920-alpha20190701` ([node 1](http://nathan-release-v1920-alpha20190701-0001.roachprod.crdb.io:26258)) and `nathan-release-v1920-alpha20190729` ([node 1](http://nathan-release-v1920-alpha20190729-0001.roachprod.crdb.io:26258))
Release Qualification Suite: [TeamCity](https://teamcity.cockroachdb.c

[2019-07-22 20:07] cockroach-teamcity commented on #39008
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 20:16] rolandcrosby commented on #32917
@awoods187 can you help me understand the relative urgency of this? It sounds like it would help us add foreign keys transactionally but I'm not sure how much that buys us for ORM compat.

[2019-07-22 20:22] nvanbenschoten commented on #39018
I'm in the process of bisecting this.

[2019-07-22 20:32] tbg commented on #38811
@petermattis fixed this.

[2019-07-22 20:32] #38811 closed

[2019-07-22 20:32] nvanbenschoten commented on #38989
[code]
Network flake.

[2019-07-22 20:32] #38989 closed

[2019-07-22 20:34] solongordon commented on #39033
It looks like `colBatchScan.DrainMeta` never gets called when this test is run, so there is no opportunity for the range metadata to get propagated. I'm looking into why.

cc @asubiotto @yuzefovich in case anyone knows off the top of their head why this might be the case.

[2019-07-22 20:39] lucy-zhang opened #39037 "sql: make schema changes backward compatible with 19.1"
19.2 introduces schema change mutations for foreign keys as well as validation, etc.

We need to preserve the 19.1 non-schema changer code path and do mixed-version testing.

[2019-07-22 20:49] asubiotto commented on #39033
Hmm, my guess would be that `colBatchScan` is probably wrapped in something that means that the resulting `op` from `newColOperator` does not implement `distsqlpb.MetadataSource` and therefore is not added to the queue. It's got to be something like that since we assert that we have no metadata sources left at the end of `setupVectorized`.

[2019-07-22 20:52] solongordon commented on #39033
Aha, I think you're exactly right: it's getting wrapped in a `CancelChecker`: https://github.com/cockroachdb/cockroach/blob/23defdb38d4359ea8883042ccadb6b7938299635/pkg/sql/distsqlrun/column_exec_setup.go#L139

[2019-07-22 20:58] solongordon commented on #39033
OK great, I made `CancelChecker` a metadata source which returns the metadata from its wrapped operator, and the test passes. I wonder if we need a more general solution to this issue though. It seems dangerous that an operator can implement `MetadataSource` and never get drained.

[2019-07-22 21:01] asubiotto commented on #39033
Yeah, definitely. This is probably another example where having a way to visit a tree of operators would be great.

[2019-07-22 21:01] SyedMuhammadSufyian commented on #24733
@robinbraemer are you working on this issue OR else I would like to work on it ?

[2019-07-22 21:12] solongordon commented on #39033
Unfortunately this did not fix `TestSpanResolverUsesCaches`. Opening a separate issue for that.

[2019-07-22 21:14] solongordon opened #39039 "exec: TestSpanResolverUsesCaches fails with vectorized enabled"
When vectorized execution is enabled by default, `TestSpanResolverUsesCaches` fails with `span_resolver_test.go:145: expected replica (2,22) but got: (1,22)`.

To reproduce, change the default sql.defaults.experimental_vectorize value to on in exec_util.go and then run
[code]

[2019-07-22 21:18] cockroach-teamcity commented on #39005
SHA: https://github.com/cockroachdb/cockroach/commits/1ad0ecc8cbddf82c9fedb5a5c5e533e72a657ff7

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1399000&tab=buildLog

[code]

[2019-07-22 21:24] awoods187 commented on #36842
@jordanlewis do you expect that this fixed now?

[2019-07-22 21:25] jordanlewis commented on #36842
It should be, yes. Retrying it would be useful to me if you have the bandwidth.

[2019-07-22 21:27] #37948 closed

[2019-07-22 21:35] nvanbenschoten commented on #39018
The issue was introduced somewhere between 95a0b6b7b60d918a8c869240921c7c806ebb171c and 509bafffae3c229950700cf840d95b1a114fb7b0. The suspense is killing me.

[2019-07-22 21:41] nvanbenschoten commented on #39018
Looking through those commits, it seems highly likely that the issue was introduced in 509bafffae3c229950700cf840d95b1a114fb7b0.

[2019-07-22 21:45] ajwerner commented on #37195
Took me a while to get around to this. Preliminary data shows this to be extremely fruitful. On a given workload it's the difference between completely reliable node liveness failures and zero node liveness failures.

That being said, I did notice a much higher rate of failures of query failures which I can't totally explain. Some of those failures are the usual `no inbound stream` but many are du

[2019-07-22 21:48] #38818 closed

[2019-07-22 21:50] ajwerner commented on #37083
It's not clear that it does. Too much discussion about this topic has been offhand concerns. I believe the comment at the time was that we have no idea how many customers are being impacted by the current target duration and that the idea of lowering it further was scary.

My understanding was that some schema changes don't use a job for backfill but rather just do all of the work inside a big tra

[2019-07-22 22:00] dt commented on #32738
There are a couple: kv.bulk_io_write.max_rate has no sane default but should be set to no more than ~75% of max disk IO bandwidth. Someday I hope to hook it up to some signal like liveness heartbeat moving average latency to auto-tune that since there is no default we can pick.

`addsstable_max_rate` is another that can be turned _way down_ if you want (unlike the above rate, it won't block raft)

[2019-07-22 22:21] yuzefovich commented on #38651
I'm running into this problem when turning vectorize to "streaming."

This can be somewhat reliably (like with 50% probability) reproduced with setting `vectorize` to `on` in `exec_util.go` on `alter_table` logic test (for example, I used `make testbaselogic TESTCONFIG=fakedist FILES=alter_table TESTFLAGS='-test.v -show-logs -show-sql -vmodule=column_exec_setup=2,server=1'`).