[2018-11-14 19:42] cockroach-teamcity opened #32327 "teamcity: failed test: TestAggregatesMonitorMemory"
The following tests appear to have failed on master (testrace): TestAggregatesMonitorMemory

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestAggregatesMonitorMemory).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32328 "teamcity: failed test: TestDropIndexWithZoneConfigCCL"
The following tests appear to have failed on master (testrace): TestDropIndexWithZoneConfigCCL

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDropIndexWithZoneConfigCCL).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32329 "teamcity: failed test: TestDistAggregationTable"
The following tests appear to have failed on master (testrace): TestDistAggregationTable

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDistAggregationTable).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32330 "teamcity: failed test: TestParallel"
The following tests appear to have failed on master (testrace): TestParallel, TestParallel/subquery_retry

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestParallel).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32331 "teamcity: failed test: TestManualReplication"
The following tests appear to have failed on master (testrace): TestManualReplication

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestManualReplication).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32332 "teamcity: failed test: TestClientRetryNonTxn"
The following tests appear to have failed on master (testrace): TestClientRetryNonTxn

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestClientRetryNonTxn).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32333 "teamcity: failed test: TestCLITimeout"
The following tests appear to have failed on master (testrace): TestCLITimeout

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestCLITimeout).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32334 "teamcity: failed test: TestServerQuery"
The following tests appear to have failed on master (testrace): TestServerQuery

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestServerQuery).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32335 "teamcity: failed test: TestCrashReportingPacket"
The following tests appear to have failed on master (testrace): TestCrashReportingPacket

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestCrashReportingPacket).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32336 "teamcity: failed test: TestUseSplitCACerts"
The following tests appear to have failed on master (testrace): TestUseSplitCACerts

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestUseSplitCACerts).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32337 "teamcity: failed test: TestKeysPerRow"
The following tests appear to have failed on master (testrace): TestKeysPerRow

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestKeysPerRow).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32338 "teamcity: failed test: TestErrorInRaftApplicationClearsIntents"
The following tests appear to have failed on master (testrace): TestErrorInRaftApplicationClearsIntents

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestErrorInRaftApplicationClearsIntents).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue according

[2018-11-14 19:42] cockroach-teamcity opened #32339 "teamcity: failed test: TestExportCmd"
The following tests appear to have failed on master (testrace): TestExportCmd

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestExportCmd).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32340 "teamcity: failed test: TestAdminAPIDataDistributionPartitioning"
The following tests appear to have failed on master (testrace): TestAdminAPIDataDistributionPartitioning

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestAdminAPIDataDistributionPartitioning).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordi

[2018-11-14 19:42] cockroach-teamcity opened #32341 "teamcity: failed test: TestRowsToStrMatrixError"
The following tests appear to have failed on master (testrace): TestRowsToStrMatrixError

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestRowsToStrMatrixError).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32342 "teamcity: failed test: TestNextRowPartialColumnFamily"
The following tests appear to have failed on master (testrace): TestNextRowPartialColumnFamily

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestNextRowPartialColumnFamily).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32343 "teamcity: failed test: TestSetup"
The following tests appear to have failed on master (testrace): TestSetup

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestSetup).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32344 "teamcity: failed test: TestJobsTableProgressFamily"
The following tests appear to have failed on master (testrace): TestJobsTableProgressFamily

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestJobsTableProgressFamily).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32345 "teamcity: failed test: TestChangefeedBasics"
The following tests appear to have failed on master (testrace): TestChangefeedBasics/sinkless, TestChangefeedBasics/enterprise, TestChangefeedBasics

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedBasics).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and

[2018-11-14 19:42] cockroach-teamcity opened #32346 "teamcity: failed test: TestInvertedIndex"
The following tests appear to have failed on master (testrace): TestInvertedIndex

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestInvertedIndex).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32347 "teamcity: failed test: TestDBAddSSTable"
The following tests appear to have failed on master (testrace): TestDBAddSSTable/store=in-memory, TestDBAddSSTable

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDBAddSSTable).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32348 "teamcity: failed test: TestConn"
The following tests appear to have failed on master (testrace): TestConn

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestConn).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32349 "teamcity: failed test: TestImportData"
The following tests appear to have failed on master (testrace): TestImportData

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestImportData).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32350 "teamcity: failed test: TestBackupRestoreStatementResult"
The following tests appear to have failed on master (testrace): TestBackupRestoreStatementResult

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestBackupRestoreStatementResult).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:42] cockroach-teamcity opened #32351 "teamcity: failed test: TestRangeSplitsWithConcurrentTxns"
The following tests appear to have failed on master (testrace): TestRangeSplitsWithConcurrentTxns

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestRangeSplitsWithConcurrentTxns).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:43] cockroach-teamcity opened #32352 "teamcity: failed test: TestAdminDebugTrace"
The following tests appear to have failed on master (testrace): TestAdminDebugTrace

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestAdminDebugTrace).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:43] cockroach-teamcity opened #32353 "teamcity: failed test: TestToBackup"
The following tests appear to have failed on master (testrace): TestToBackup

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestToBackup).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:43] cockroach-teamcity opened #32354 "teamcity: failed test: TestImportFixture"
The following tests appear to have failed on master (testrace): TestImportFixture

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestImportFixture).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:43] cockroach-teamcity opened #32355 "teamcity: failed test: TestGossipInvalidation"
The following tests appear to have failed on master (testrace): TestGossipInvalidation

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestGossipInvalidation).

[#1012497](https://teamcity.cockroachdb.com/viewLog.html?buildId=1012497):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-14 19:48] #32331 closed

[2018-11-14 19:48] #32332 closed

[2018-11-14 19:48] #32333 closed

[2018-11-14 19:48] #32334 closed

[2018-11-14 19:48] #32335 closed

[2018-11-14 19:48] #32336 closed

[2018-11-14 19:48] #32337 closed

[2018-11-14 19:48] #32338 closed

[2018-11-14 19:48] #32339 closed

[2018-11-14 19:48] #32340 closed

[2018-11-14 19:48] #32341 closed

[2018-11-14 19:48] #32342 closed

[2018-11-14 19:48] #32343 closed

[2018-11-14 19:48] #32344 closed

[2018-11-14 19:48] #32345 closed

[2018-11-14 19:48] #32346 closed

[2018-11-14 19:48] #32347 closed

[2018-11-14 19:48] #32348 closed

[2018-11-14 19:48] #32349 closed

[2018-11-14 19:48] #32350 closed

[2018-11-14 19:48] #32351 closed

[2018-11-14 19:48] #32352 closed

[2018-11-14 19:48] #32353 closed

[2018-11-14 19:48] #32354 closed

[2018-11-14 19:48] #32355 closed

[2018-11-14 19:48] #32323 closed

[2018-11-14 19:48] #32324 closed

[2018-11-14 19:48] #32325 closed

[2018-11-14 19:48] #32326 closed

[2018-11-14 19:48] #32327 closed

[2018-11-14 19:48] #32328 closed

[2018-11-14 19:48] #32329 closed

[2018-11-14 19:48] #32330 closed

[2018-11-14 19:57] danhhz commented on #32104
Okay, tonight's test will be the following. In ChangeFrontier, periodically print every span that's more than some amount of time behind. This should shed some light on whether it's one request taking a long time or many. And if the latter, it will tell if everything is backed up as of some certain time or different spans are behind at different times.

Also, I'll add a log that prints whenever an

[2018-11-14 20:33] cockroach-teamcity opened #32359 "roachtest: cdc/w=100/init=false/crdbChaos=true failed"
SHA: https://github.com/cockroachdb/cockroach/commits/02f35d1dd3507bf34c99b4f5ed6ae05699499799

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1012425&tab=buildLog

[code]

[2018-11-14 20:34] tbg opened #32360 "sentry: conn_executor.go:640: panic while executing 1 statements: UPSERT INTO _(_, _) VALUES ($1, $2): caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/763899111/

conn_executor.go:640: panic while executing 1 statements: UPSERT INTO _(_, _) VALUES ($1, $2): caused by <redacted>

github.com/cockroachdb/cockroach/pkg/sql.(*Server).ServeConn.func1

type: *log.safeError
value: conn_executor.go:640: panic while executing 1 statements: UPSERT INTO _(_, _) VALUES ($1, $2): caused by <redacted>

[2018-11-14 20:37] jordanlewis commented on #32360
for triage

[2018-11-14 20:54] ajwerner commented on #22837
Not sure it's the same issue but I've been seeing some stalls when running the below test against a 3 node cluster with 64 core machines:

[code]

[2018-11-14 21:00] cockroach-teamcity commented on #32052
SHA: https://github.com/cockroachdb/cockroach/commits/02f35d1dd3507bf34c99b4f5ed6ae05699499799

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1012425&tab=buildLog

[code]

[2018-11-14 21:00] nvanbenschoten commented on #32360
This failure was on `cyan:4`. @jordanlewis anything you'd like me to pull?

[2018-11-14 21:54] nvanbenschoten commented on #32360
[code]

[2018-11-14 22:00] nvanbenschoten commented on #32360
[code]

@ajwerner, looks like this was likely caused by https://github.com/cockroachdb/cockroach/pull/32238. Mind investigating. It's possible that it was already resolved by https://github.com/cockroachdb/cockroach/pull/32356.

[2018-11-14 22:04] nvanbenschoten commented on #32302
Yeah, it looks like it.

[2018-11-14 22:04] #32302 closed

[2018-11-14 22:13] cockroach-teamcity commented on #31783
SHA: https://github.com/cockroachdb/cockroach/commits/02f35d1dd3507bf34c99b4f5ed6ae05699499799

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1012425&tab=buildLog

[code]

[2018-11-14 22:31] asubiotto commented on #31172
Just restored tpcc 5k on a multi-region cluster with no issues so closing this one as my understanding is that all that has been mentioned has been fixed. Feel free to reopen if this is not the case.

[2018-11-14 22:31] #31172 closed

[2018-11-14 22:33] cockroach-teamcity commented on #31544
SHA: https://github.com/cockroachdb/cockroach/commits/02f35d1dd3507bf34c99b4f5ed6ae05699499799

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1012425&tab=buildLog

[code]

[2018-11-14 22:37] a-robinson opened #32365 "ui: Awkward text wrapping of "Insecure Mode" icon text in admin UI sidebar"
This is a screenshot of the bottom left portion of the admin UI from a roachprod cluster running a recent master, with the page being loaded in Chrome 70.0.3538.77 for Mac on an external monitor:

<img width="82" alt="screen shot 2018-11-14 at 3 34 04 pm" src="https://user-images.githubusercontent.com/7085343/48517320-8a84d900-e82b-11e8-80af-31fa251fde03.png">

[2018-11-14 22:48] bdarnell commented on #28358
#32313 has removed the use of time-bound iterators in KV commands. It was left in place for CDC because it makes more of a difference there, but per @nvanbenschoten 's last message it sounds like we need a solution there too. (and we need to look at incremental backup too).

[2018-11-14 23:22] ajwerner opened #32367 "kv: operations on a range can stall during lease changes when under heavy load"
**Description**
When a lease range is under very heavy load and a lease change occurs, throughput on the range can stall for minutes at a time. It seems like requests which pile up are too high to

**To Reproduce**

The stall was observed while running the kv workload at high concurrency on large machines. The stall can be reliably reproduced with the following steps:

1. Set up CockroachDB with 3

[2018-11-14 23:34] damienhollis commented on #32118
One comment on this, I had a look over the query and as far as I can tell, it will never return any results.  The query looks like:

`SELECT s.parent_node_id FROM defaultdb.public.node_node_rel@idx_node_node_parent_node_id AS s LEFT JOIN defaultdb.public.node@primary AS t ON ((s.parent_node_id = t.id) OR ((s.parent_node_id IS NULL) AND (t.id IS NULL))) WHERE ((s.parent_node_id IS NOT NULL) AND (t.

[2018-11-14 23:38] dt commented on #32308
@lucy-zhang This looks like a quick win if you want to give it a try. I think the interesting spot it in `read_import_proc.go` where it loops over the kvs to sample them and then emit them as encdatums.

[2018-11-14 23:40] a-robinson commented on #32367
Beyond improving the retry behavior, we also probably want to make SCATTER avoid transferring leases to behind replicas (as we did in https://github.com/cockroachdb/cockroach/pull/30938 load-based rebalancing), even if it makes for worse randomization of leases.

[2018-11-15 02:30] danhhz commented on #28358
Looks like we're hitting this in cdc, too: https://github.com/cockroachdb/cockroach/issues/32104#issuecomment-438893432. ExportRequest gets stuck in a loop waiting for an intent to resolve, but the intent only seems like it's there because of TBIs.

[2018-11-15 02:33] cockroach-teamcity opened #32372 "teamcity: failed test: TestDistAggregationTable"
The following tests appear to have failed on master (testrace): TestDistAggregationTable/AVG/dec1/50, TestDistAggregationTable/MIN/dec1/50, TestDistAggregationTable/MIN/dec1/100, TestDistAggregationTable/STDDEV/float1/5, TestDistAggregationTable/COUNT/dec1/5, TestDistAggregationTable/MAX/bool2/50, TestDistAggregationTable/SUM/int1/5, TestDistAggregationTable/STDDEV/float1/50, TestDistAggregationTa

[2018-11-15 02:46] jordanlewis commented on #32372
This appears to be a race condition in the split queue.

@tbg for triage.

[code]

[2018-11-15 03:01] andreimatei opened #32373 "distsql: physical plan diagram should contain TableReader spans"
The diagrams (`explain (distsql)...`) contain some info for the TableReaders: the index and table name, the limit, but they don't contain the key span that's being read. It'd be most useful.

[2018-11-15 03:03] mrtracy commented on #28642
Resolved by #32303

[2018-11-15 03:03] #28642 closed

[2018-11-15 04:30] cockroach-teamcity commented on #31740
SHA: https://github.com/cockroachdb/cockroach/commits/02f35d1dd3507bf34c99b4f5ed6ae05699499799

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1012425&tab=buildLog

[code]

[2018-11-15 04:52] #31882 closed

[2018-11-15 05:38] cockroach-teamcity opened #32377 "teamcity: failed test: TestDistAggregationTable"
The following tests appear to have failed on master (testrace): TestDistAggregationTable/COUNT/b/50, TestDistAggregationTable/MAX/bool2/10, TestDistAggregationTable/MAX/int1/10, TestDistAggregationTable/COUNT/int2/100, TestDistAggregationTable/XOR_AGG/int2/5, TestDistAggregationTable/AVG/int1/5, TestDistAggregationTable/XOR_AGG/int1/100, TestDistAggregationTable/BOOL_AND/bool1/10, TestDistAggregat

[2018-11-15 05:53] benesch commented on #28358
@nvanbenschoten and I sharpened our understanding of this issue tonight. Suppose we do fix this deletion tombstone problem using one of the approaches described above. It turns out TBIs will _still_ be incorrect.

To see why, consider the following two SSTs:

[code]

Notice how SST 2 has the appropriate bounds through some new magic deletion tombstone. Let's say we try to do a MVCC iteration using

[2018-11-15 06:39] cockroach-teamcity opened #32378 "sql/distsqlplan: TestDistAggregationTable failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/67e086e1b3d42b0b76b056eeae128361d96b9cbd

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1013717&tab=buildLog

[code]

[2018-11-15 06:40] cockroach-teamcity opened #32379 "teamcity: failed test: TestDistAggregationTable"
The following tests appear to have failed on master (testrace): TestDistAggregationTable/MIN/float1/10, TestDistAggregationTable/MAX/bool2/10, TestDistAggregationTable/MIN/dec2/50, TestDistAggregationTable/MAX/bool1/5, TestDistAggregationTable/XOR_AGG/int1/5, TestDistAggregationTable/MAX/int1/5, TestDistAggregationTable/MIN/dec1/100, TestDistAggregationTable/MIN/bool2/10, TestDistAggregationTable/

[2018-11-15 06:41] cockroach-teamcity opened #32380 "teamcity: failed test: TestParse"
The following tests appear to have failed on master (testrace): TestParse/ParseModeYMD/08-Jan-1999/040506/ParseTimestamp

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestParse).

[#1013324](https://teamcity.cockroachdb.com/viewLog.html?buildId=1013324):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-15 06:43] cockroach-teamcity opened #32381 "server: TestLogGC failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/67e086e1b3d42b0b76b056eeae128361d96b9cbd

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1013696&tab=buildLog

[code]

[2018-11-15 06:51] cockroach-teamcity opened #32382 "ccl/changefeedccl: TestChangefeedCursor failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/67e086e1b3d42b0b76b056eeae128361d96b9cbd

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1013617&tab=buildLog

[code]

[2018-11-15 08:13] cockroach-teamcity commented on #31065
SHA: https://github.com/cockroachdb/cockroach/commits/4523f9819d2dde9b054fc8faf1568e107f130986

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1014191&tab=buildLog

[code]

[2018-11-15 08:29] tbg commented on #32381
Fixed in #32383.

[2018-11-15 08:29] #32381 closed

[2018-11-15 08:31] tbg commented on #32379
Fixed in #32383

[2018-11-15 08:31] #32379 closed

[2018-11-15 08:31] tbg commented on #32380
Bogus failure caused by interleaving test output.

[2018-11-15 08:31] #32380 closed

[2018-11-15 08:31] tbg commented on #32378
#32383

[2018-11-15 08:31] #32378 closed

[2018-11-15 08:33] tbg commented on #32377
#32383

[2018-11-15 08:33] #32377 closed

[2018-11-15 10:30] #32372 closed

[2018-11-15 10:49] tbg commented on #28358
Thanks for the example, @benesch. Yowza, that's broken indeed. With your proposed fix, the operation (say `RefreshRange`) would still apply the time bounds (and exclude SST2), but would additionally throw away the intent at ts1, right? You're alluding to a refactor that lets `RefreshRange` not even provide the hints. What would it call instead? Or have we concluded that `RefreshRange` just doesn't

[2018-11-15 10:50] tbg commented on #28358
Ah, it would call `MVCCScan(..., guaranteedMin, guaranteedMax)`, right?

[2018-11-15 11:07] tbg commented on #32367
While we're touching SCATTER, I also suspect that it can [end up removing replicas that are necessary for quorum](https://github.com/cockroachdb/cockroach/pull/31875#issuecomment-438645980), which looks like it would want to run the same kind of check.

[2018-11-15 12:29] tbg commented on #32046
The log size truncation is definitely still janky. We know it can undercount, but the behavior here is rather the opposite: we set the "max raft log size" to the size of the replica, which is really small (74KiB). The Raft log size includes the overhead of the proposal, etc, which the replica size doesn't eat. So we see an endless stream of premature proposals. I don't think any of these really ca

[2018-11-15 12:59] tbg commented on #32046
The writes to that range are the node statuses, which are large (tens of ks) and inline (i.e. each write replaces a previous write). So the replica size is mostly constant, whereas the Raft log grows fairly quickly. Under the configured behavior, it's doing the right thing, but I would argue that it shouldn't be truncating all the way up to the quorum index quite as aggressively. Truncating to the

[2018-11-15 13:06] tbg commented on #32046
Another bad-looking thing:

[code]

`0B` seems to correspond to the replica size. I can only assume that an SST ingestion was proposed but bounced downstream of Raft and the truncation hit the small window before it was reproposed. We shouldn't use a size of zero to justify a truncation. (The "other limit" 4MB would've triggered the same truncation, so this is really a case of doing the right thin

[2018-11-15 13:21] tbg opened #32384 "roachtest: fails to terminate cleanly when device full"
I was looking at the history of restore2TB/nodes=10 and wondered why it had a relatively fast passing result on release-2.1. Looking at the logs, I found that `roachtest` had shot itself since it ran out of space.

For these runs, `roachtest` itself is in charge of posting issues. This is problematic because nobody watches the watchman. Regarding [the discussion about having roachtest be in charge

[2018-11-15 13:53] petermattis commented on #32384
Well that's not good. Will an external poster be able to post if the disk is full?

[2018-11-15 14:20] petermattis commented on #28358
@benesch Looks like `ccl/storageccl/engineccl.MVCCIncrementalIterator` already does the right thing.  Or am I misreading that code?

Is there a reason that `MVCCIncrementalIterator` doesn't use `MVCCScan`? Seems like the current code is going to be fairly slow due to the many cgo crossings. @dt is this the part of backup that you keep wanting to push into C++?

[2018-11-15 14:42] awoods187 opened #32386 "TPC-C on AWS has a limit of 98%"
When using Master to run TPC-C on AWS, we can't seem to get above 94% efficiency. On GCE we get to ~99% on the warehouses we easily support before falling off.

warehouses | tpmC | efficiency
-- | -- | --
1000 | 12,138 | 94.38%
1100 | 13,362 | 94.46%
1200 | 14,586 | 94.52%
1300 | 15,764 | 94.29%
1400 | 17,006 | 94.46%
1500 | 18,183 | 94.26%
1600 | 19,443 | 94.49%
1700 | 20,638 | 94.40%
1800 | 21,7

[2018-11-15 14:44] benesch commented on #28358
This looks busted to me because it doesn't filter out intents with a start time greater than the lower time bound: https://github.com/cockroachdb/cockroach/blob/b5caad2b2678ac861a1e5104237e25a38805f1a3/pkg/ccl/storageccl/engineccl/mvcc.go#L154

Yes, it is.

[2018-11-15 14:48] knz commented on #32055
@fastest963 can you explain this futher:

The node ID is available in the output of both `show queries` and `show sessions`. You can use that to connect to the node with the session directly. What do you miss?

[2018-11-15 14:56] fastest963 commented on #32055
There isn't a great way for our application (using the `pq` or `pgx` driver) to identify which connections are connected to which IPs. I didn't mean to insinuate this is a problem with CockroachDB, just that there is more driver work necessary to make this easy.

That said, is there a SQL call to get a list of nodes so I can associate `node_id` to node address?

[2018-11-15 15:01] ajwerner commented on #32360
Indeed this was caused by #32238 and should be resolved by #32356. This is exactly the stack traces from https://github.com/golang/go/issues/17629 and https://github.com/golang/go/issues/3611 which occurred due to races on rand.Sources.

[2018-11-15 15:01] #32360 closed

[2018-11-15 15:04] knz commented on #32055
We have an experimental/internal table called `crdb_internal.gossip_nodes` which you can query from. If you could confirm that is generally useful to you, we could turn it into a feature?

[2018-11-15 15:14] dt commented on #28358
Yep, as @benesch said, the body of evalExport and the mvccincremetnaliterator is what we've wanted to try moving to c++. I played with this a little last year but didn't get very far https://github.com/cockroachdb/cockroach/pull/20328/files#diff-77e88bcbe1e6adc1a10301448cc1ec7bR98

[2018-11-15 15:34] benesch commented on #28358
Hmm, it appears I'll incidentally be rewriting MVCCIncrementalIterator in C++ shortly.

[2018-11-15 16:27] #32310 closed

[2018-11-15 16:47] bdarnell commented on #28358
@benesch Yeah, this is what I was trying to get at in https://github.com/cockroachdb/cockroach/issues/28358#issuecomment-438390174. I think discarding keys below the timestamp is the way to go, but it's kind of scary.

[2018-11-15 16:48] danhhz commented on #28655
Can't add a test for this yet because we'd have to bump sarama, which is a bad idea while we're still nailing down stability. I manually verified that this works after #32297, which will have to be enough for now. Bumping the test to 2.2

[2018-11-15 16:56] benesch commented on #28358
Ah, yeah, I didn't internalize that.

[2018-11-15 17:32] asubiotto commented on #31361
Got a reproduction on `alfonso--multi-region`. Node 10 (`alfonso--multi-region:10`) set up a flow:
[code]
Node 6 (`alfonso--multi-region:14`) received the setup flow request:
[code]
But for some reason the node 10 never received a `FlowStream` request. This invalidates my assumption that something was wrong on the sending side (thus the lack of logging on the receiving side). It seems that that pa

[2018-11-15 18:10] nvanbenschoten commented on #31361
Great to see this reproducing!

[2018-11-15 18:53] roncrdb opened #32392 "backupccl: Backup failed with "context canceled" error."
**Describe the problem**

User was trying to back up a 2.5tb database 12 node cluster on AWS to an s3 bucket.
The backup failed with the error:

[code]

There are no reports of this in the logs for the day when the backup was run (20181107) around 13:38.

The logs do show the following info message:

`remote declined preemptive snapshot`

The command they ran (anonymized) is:

`BACKUP DATABASE <da

[2018-11-15 19:06] jonwalch commented on #32174
@andy-kimball
I was playing around with this query more:

[code]
Surely this query can be decorrelated?

[2018-11-15 19:53] #32308 closed

[2018-11-15 19:58] petermattis commented on #31551
Discussing with @nvanbenschoten today in the context of automated benchmarking. Nathan feels he can visually inspect a cluster and determine if it has "stabilized" following splitting/scattering/partitioning. Our thinking is that we can automate this visualize inspection by grabbing a few different timeseries metrics. Nathan will probably be experimenting with this in the near term and any success

[2018-11-15 21:06] nvanbenschoten commented on #32367
@ajwerner we should dig more into why this is happening and why the backoff helps. Is the theory that the foreground traffic is in some way starving out the lease transfer from succeeding?

Are some queries still able to make progress while others aren't? If not, then I wouldn't expect the starvation to be coming from beneath Raft. Are we hammering the Replica mutex in `redirectOnOrAcquireLease` t

[2018-11-15 21:17] andreimatei commented on #32062
There's no justice in this world: https://teamcity.cockroachdb.com/viewLog.html?buildId=1013042&buildTypeId=Cockroach_UnitTests

[2018-11-15 21:19] petermattis opened #32396 "testing: nightly tests should use roachprod from the cockroach repo"
`roachprod` was recently moved into the cockroach repo, yet nightly tests still use the `cockroachdb/roachprod` repo. The reason for not simply switching the tests is that the teamcity build steps are shared between all of the release versions. If we were to change the build to use `roachprod` from the cockroach repo, 2.0 and 2.1 nightly tests would fail.

@benesch had some idea about conditioning

[2018-11-15 21:37] nvanbenschoten commented on #32149
Yeah, it's tough to say on these. I think the best we can do is add more info to this panic (#32397) and see if it ever happens again.

[2018-11-15 21:41] slateraus opened #32398 "Documentation Improvement."
https://www.cockroachlabs.com/docs/stable/configure-replication-zones.html

You set the num_replicas  = 4 I assume it should be 5 looking at the example commands.

ALTER TABLE t CONFIGURE ZONE USING range_min_bytes = 0, range_max_bytes = 90000, gc.ttlseconds = 89999, num_replicas = 5, constraints = '[-region=west]';

then the doc shows the command show all zone configurations:

zone_config_test.t

[2018-11-15 21:44] andreimatei opened #32399 "teamcity: bad reporting of failed tests"
I see two TC runs for which it claims (in the UI) that two tests failed each time, but in reality, looking at the logs, it seems that only a single one did.
I have to admit that, after trying to parse the logs to provide more info, I have failed.
@tbg Peter claims that perhaps you mucked with some script involved in informing TC of the failed tests? Are you a good victim for this?
cc @jordanlewis

[2018-11-15 21:47] slateraus opened #32400 "ui: add node localities to Node List"
It would be sweet if you included the node "--locality=" in the Cluster Overview Node List like you do on the Node Map.

[2018-11-15 22:17] nvanbenschoten opened #32403 "kv/storage: create new CountKeys request type, powered by MVCCStats"
`MVCCStats` acts as a denormalized view of the keys in a range. It aggregates information about the the number of keys, the size of the keys, the size of the values, the number of intents, etc. There are some interesting ways that we could use this information to speed up SQL queries. For instance, we can use it to dramatically speed up `COUNT(*)` queries. We should introduce a new `CountKeys` req

[2018-11-15 22:29] benesch commented on #32399
One thing that would be helpful is downloading the raw test.log/testrace.log files before TC GCs them. That should make for an easy reproduction. I'd do it myself but I need to head out shortly.

[2018-11-15 22:32] danhhz commented on #32403
Hey @nvanbenschoten is there an issue for the larger work of making this work with COUNT(*) or is this it?

I realized after the demo of that branch that we need to be careful here about interleaved tables and column families. Clearly we have to disable this optimization if the table is interleaved or if it has more than one column family (we write them lazily so you can't just divide # keys by #

[2018-11-15 22:37] andreimatei commented on #32399
Done.
[TestStore:TestParse.log](https://github.com/cockroachdb/cockroach/files/2587294/TestStore.TestParse.log)
[TestLogGC:TestTxnAuto.log](https://github.com/cockroachdb/cockroach/files/2587295/TestLogGC.TestTxnAuto.log)

[2018-11-15 22:54] nvanbenschoten opened #32406 "sql: use CountKeys request to optimize COUNT(*) statements"
This is a tracking issue for the work to be done on hooking the CountKeys request type (see https://github.com/cockroachdb/cockroach/issues/32403) up to `COUNT(*)` statements.

@danhhz already had some interesting edge cases related to schema changes that we'll have to be careful about:

[2018-11-15 22:54] nvanbenschoten commented on #32403
I was planning on this being focused on the KV part of this change because that's the area that @ridwanmsharif may pick up. I opened https://github.com/cockroachdb/cockroach/issues/32406 to track this.

[2018-11-15 22:55] dt commented on #19444
@DarshanMurthy not that I know of

[2018-11-16 01:32] andy-kimball commented on #32174
It may look simple, but it's deceiving. It's quite challenging to decorrelate. These are not relational operators, but instead Postgres-specific extensions.

If you know that your `filter_ids` values are always non-null and non-empty, then you can rewrite that query like this:
[code]
The optimizer can't do that automatically because it has no way to know that the arrays are non-empty.

We're plann

[2018-11-16 01:42] danhhz commented on #28640
Did a manual run of 20 minute periods ramping up from tpcc-1100. Take this with a grain of salt, because it was running a binary with some un-mergable changes on top because of a time-bound iterator bug (described in https://github.com/cockroachdb/cockroach/issues/32104#issuecomment-439249960). Looks like on 3 n1-standard-16s, we are fine until tpcc-1400 or so, are just falling behind at 1450, and

[2018-11-16 07:14] cockroach-teamcity commented on #32359
SHA: https://github.com/cockroachdb/cockroach/commits/eb8345b19cf6c15b3e4fcb9c156136357d83cb2d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1015656&tab=buildLog

[code]

[2018-11-16 07:23] tbg opened #32407 "sentry: hlc.go:245: detected forward time jump of %f seconds is not allowed with tolerance of %f seconds | float64; float64"
https://sentry.io/cockroach-labs/cockroachdb/issues/765680208/

hlc.go:245: detected forward time jump of %f seconds is not allowed with tolerance of %f seconds | float64; float64

github.com/cockroachdb/cockroach/pkg/util/hlc.(*Clock).getPhysicalClockAndCheck

type: *log.safeError
value: hlc.go:245: detected forward time jump of %f seconds is not allowed with tolerance of %f seconds | float64; fl

[2018-11-16 07:45] cockroach-teamcity commented on #27688
SHA: https://github.com/cockroachdb/cockroach/commits/eb8345b19cf6c15b3e4fcb9c156136357d83cb2d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1015656&tab=buildLog

[code]

[2018-11-16 10:21] cockroach-teamcity opened #32408 "storage: TestStoreRangeRemoveDead failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/eb8345b19cf6c15b3e4fcb9c156136357d83cb2d

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1016077&tab=buildLog

[code]

[2018-11-16 11:14] markharding opened #32409 "cli/dump: error while dumping uuid columns"
**Describe the problem**

SQL Dump fails when using UUIDs

**To Reproduce**

1. `./cockroach dump minds notifications --certs-dir=/cockroach-certs --host=cockroachdb-public > dump.sql`
outputs: `command terminated with exit code 1`
2. dump.sql outputs:
[code]

**Expected behavior**

Dump should succeed as with other tables.

**Additional data / screenshots**

[code]

**Environment:**
 - CockroachD

[2018-11-16 11:29] knz commented on #7841
Discussed this with @andy-kimball yesterday - Andy confirmed that once the opt framework knows about mutations, planning update...from will be a natural extension of the support for correlated subqueries and lateral joins.

(Of course ensuring the statement is recognized in the first place will still require some extra work)

[2018-11-16 12:58] pungggi commented on #31297
Hi @pmneo  did you find a solution?

[2018-11-16 13:05] pungggi opened #32415 "sql: time zone name not recognized when running CockroachDB on windows"
Cannot connect to DB under Windows:
![grafik](https://user-images.githubusercontent.com/5635709/48622977-a5c92300-e9a8-11e8-9782-2d863db6db48.png)

Other users have similar problem with founding timezone see> https://github.com/cockroachdb/cockroach/issues/31297#issuecomment-430244362

**Environment:**
 - CockroachDB version [2.1]
 - Server OS: Windows 10 (for development)
 - Client app [DBeaver 5

[2018-11-16 13:15] pmneo commented on #31297
@pungggi unfortunately, no. It seems that just few people are interessted in running this on windows ...

[2018-11-16 13:34] pungggi commented on #31297
@pmneo my quick 'fix' ist to change the timezone of the machine to UTC.. 🥇 👎

[2018-11-16 13:44] knz commented on #31297
@pmneo @pungggi See the answer above at https://github.com/cockroachdb/cockroach/issues/31297#issuecomment-429315943

1) the time zone is case snesitive. The solution is `Europe/Berlin` or `Asia/Kolkata`

2) the time zone names are different depending on the OS. The names `Europe/Berlin` and `Asia/Kolkata` will work on Linux/macOS but not on windows.

[2018-11-16 14:41] pmneo commented on #31297
@knz have you read my post https://github.com/cockroachdb/cockroach/issues/31297#issuecomment-430244362 ?

'Europe/Berlin' is no solution for that problem under windows:
root@:26257/defaultdb> set time zone 'Europe/Berlin';
pq: invalid value for parameter "timezone": "'Europe/Berlin'"
DETAIL: cannot find time zone "Europe/Berlin": timezone data cannot be found
root@:26257/defaultdb>

[2018-11-16 14:42] knz commented on #31297
Have you read my answer?

[2018-11-16 14:44] pmneo commented on #31297
yes, but you have not told me which is the correct one. I have tried Europe/Berlin and europe/berlin ...

[2018-11-16 14:51] knz commented on #31297
Have you tried "CET"? That's the standard zone name. I am not sure windows support city-based zone names at all.

[2018-11-16 14:52] ajwerner commented on #32367
The (relatively unsubstantiated) theory I discussed with @benesch (please correct me if I misunderstood) is that the lease is being transferred to a node which is behind and so when the lease transfer commits, the node which has become the lease holder has to process a number of messages to catch up. While the newly elected replica is behind, it is receiving all of the requests which have failed o

[2018-11-16 15:08] cockroach-teamcity opened #32417 "roachtest: splits/largerange/size=10GiB,nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/eb8345b19cf6c15b3e4fcb9c156136357d83cb2d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1015656&tab=buildLog

[code]

[2018-11-16 15:21] cockroach-teamcity opened #32418 "roachtest: schemachange/kv failed"
SHA: https://github.com/cockroachdb/cockroach/commits/eb8345b19cf6c15b3e4fcb9c156136357d83cb2d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1015656&tab=buildLog

[code]

[2018-11-16 16:04] danhhz commented on #32149
This just reprod on my roachprod cluster, but sadly I was pulled to hours short of your better panic message patch. @nvanbenschoten anything I should save here before I wipe the cluster?

[2018-11-16 16:09] danhhz commented on #32149
Nevermind, it's not like there's any state to recover here. The relevant logs for posterity.

[code]

[2018-11-16 16:13] danhhz commented on #32104
Wow, overnight run was a complete success. After running for ~8h.

[code]

Sounds like once the TBI bug is resolved for ExportRequest we can call this closed.

[2018-11-16 16:31] aizumoff commented on #32062
Hi!
I'm on cockroach v2.1.0 deployed in Insecure mode from your Yaml into k8s (1.10). 3x AWS EC2 t2.XLarge nodes + 3x PVC (100GBs each). Just in case its helpful.

I've encountered this issues while doing many Imports 10thx GBs. And now I see this errors on all 3 nodes and 3 nodes eating 30% CPU:

[n2,raftsnapshot,s2,r7368/2:/Table/88/1/"\x81{=\x9…-^\xf…}] snapshot failed: (n3,s3):3: remote couldn

[2018-11-16 16:48] petermattis opened #32420 "roachtest: require testSpec.Timeout to be set"
Currently, `testSpec.Timeout` is optional, and when not specified the test defaults to a timeout that is 10m less than the cluster expiration. We've recently seen that tests which hang, for one reason or another, tie up cluster resources and often result in cascading failures and subsequent tests run out of time to successfully complete.

We should populate `testSpec.Timeout` for all tests and req

[2018-11-16 17:35] tbg commented on #32149
The "better panic" actually doesn't log the keys. It should do so at least to the local logs.

[2018-11-16 17:42] nvanbenschoten commented on #32367
The new leaseholder needing to catch up is certainly an issue, but I don't see how it's possible for this to block indefinitely. The old leaseholder will stop proposing writes the second it decides to transfer the lease (or at least, it's supposed to) and will immediately begin redirecting to the new leaseholder. This means that the only entries that the new leaseholder will need to apply before a

[2018-11-16 18:21] andy-kimball opened #32422 "distsql: Incorrect results when executing VALUES statement with OID values"
Use logic test to repro:
[code]

EXPECTED: The test should pass.
ACTUAL: The test fails:
[code]

[2018-11-16 18:22] cockroach-teamcity commented on #32135
SHA: https://github.com/cockroachdb/cockroach/commits/eb8345b19cf6c15b3e4fcb9c156136357d83cb2d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1015656&tab=buildLog

[code]

[2018-11-16 18:22] andy-kimball commented on #32422
NOTE: I uncovered this after adding an optimization that collapses:
[code]
to:
[code]

[2018-11-16 18:34] andy-kimball commented on #32422
As part of fixing this, fix up the test cases that I modified to work around this issue:

`pgoidtype`
`builtin_function`

Search for comments like this to find instances that need to be fixed up:
`TODO(SQL execution team)`

[2018-11-16 19:10] nvanbenschoten commented on #32149
Logging the keys before hitting the panic is a good idea now that we know this reproduces occasionally. I'll do that.

In the meantime, I don't think there's much to do with your cluster @danhhz. It is interesting that the query had a LIMIT. That makes it a little more likely that this is an issue with ResumeSpans.

[2018-11-16 19:43] vivekmenezes commented on #26166
We will move to a model where the entire schema will be leased at a specific timestamp. With that model a constraint can transition from the absent -> write_only -> enforced (public) state. So nodes can either be in (absent, write_only), (write_only, enforced), (enforced) states at any point in time. The write_only state means that the FK relationship affects INSERT, UPDATE, UPSERT, DELETE operati

[2018-11-16 20:49] nvanbenschoten opened #32427 "sql: commitPrepStmtNamespace is allocation heavy and almost never needed"
<img width="1185" alt="screen shot 2018-11-16 at 3 42 42 pm" src="https://user-images.githubusercontent.com/5438456/48646245-4a9e2d00-e9b6-11e8-9435-4d9fc4e35dce.png">

Above is a screenshot of a CPU profile from a `kv95` run on a single-node `m5d.12xlarge` cluster. We can see that `commitPrepStmtNamespace` is responsible for **2.48%** of CPU utilization. This is pretty insane considering there's

[2018-11-16 21:03] petermattis commented on #31948
I was able to reproduce this by creating a single node cluster and running `roachtest run -c <cluster> --count=100 synctest`. Each synctest run takes ~10m and the failure occurred on the 13th run. Almost exactly the same symptoms:

`[signal SIGSEGV: segmentation violation code=0x1 addr=0x30 pc=0x7ff132d2ecc0]`
...
[code]

[2018-11-16 21:08] nvanbenschoten commented on #30886
`panic: inverted range: key lens = [14,9), diff @ index 0`

Looks like https://github.com/cockroachdb/cockroach/issues/32149. Something must have changed recently to trigger this much more easily. I'll try reproducing with https://github.com/cockroachdb/cockroach/pull/32424.

[2018-11-16 21:09] pungggi commented on #31297
root@:26257/defaultdb> set time zone CET;
pq: invalid value for parameter "timezone": "'cet'"
DETAIL: cannot find time zone "cet": timezone data cannot be found

[2018-11-16 21:11] nvanbenschoten commented on #32149
We just saw this fail in #30886: `panic: inverted range: key lens = [14,9), diff @ index 0`.

The short lengths rule out the possibility that the key inversion is caused by `sklImpl.boundKeyLengths`.

[2018-11-16 21:18] #32417 closed

[2018-11-16 21:59] tbg commented on #32062
Hi @aizumoff, thanks for your report. You're more likely to be running into #31409, which is a larger debug effort underway right now. Please subscribe to that issue. The expectation is that the symptoms will be much milder in v2.1.2.

[2018-11-16 22:30] dt commented on #26166
If we allow writes to the referencing table before the referenced table is checking delete operations, we can create orphan rows -- which we promised we _wouldn't do_ when we said OK to the `CREATE TABLE` that included a FOREIGN KEY.

Concretely, if you have a customers table and then run `BEGIN; CREATE TABLE orders(id int primary key, customer_id int REFERENCES customers); INSERT INTO orders(id,

[2018-11-16 23:24] cockroach-teamcity opened #32433 "teamcity: failed test: TestChangefeedSchemaChangeNoBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeNoBackfill, TestChangefeedSchemaChangeNoBackfill/sinkless/historical, TestChangefeedSchemaChangeNoBackfill/sinkless/add_column, TestChangefeedSchemaChangeNoBackfill/sinkless

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedSchemaChan

[2018-11-16 23:24] cockroach-teamcity opened #32434 "teamcity: failed test: 04:04.913231+00:00"
The following tests appear to have failed on master (testrace): 04:04.913231+00:00/24:00:00/ParseTime

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+04:04.913231+00:00).

[#1016716](https://teamcity.cockroachdb.com/viewLog.html?buildId=1016716):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-16 23:32] mjibson commented on #31911
Does that mean it should be assigned to someone else, or are you planning to look into it?

[2018-11-16 23:38] tbg commented on #32399
See https://github.com/cockroachdb/cockroach/issues/32025. This is harder to see here because we don't have the original test runner output in the artifacts (why not? The script should put them to artifacts/test.log).

[2018-11-16 23:38] tbg commented on #32399
Maybe the failing "assert workspace clean" thing nukes the artifacts by "accident"?

[2018-11-16 23:56] nvanbenschoten commented on #32149
Another repro: `inverted range (issue #32149): key lens = [8,8), diff @ index 0, [( k key , key-26 )`

[2018-11-17 00:01] nvanbenschoten commented on #32149
So if I'm reading this right, the keys are `"( k key "` and `" key-26 "`. This seems to be failing reliably enough now that we'll be able to find a pattern in here. We'll probably also want some logging around resume spans.

[2018-11-17 00:14] RaduBerinde commented on #31911
I'll look into it, just left a note.

[2018-11-17 01:09] cockroach-teamcity opened #32440 "teamcity: failed test: TestChangefeedSchemaChangeNoBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeNoBackfill/sinkless/historical, TestChangefeedSchemaChangeNoBackfill/sinkless/add_column, TestChangefeedSchemaChangeNoBackfill, TestChangefeedSchemaChangeNoBackfill/sinkless

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedSchemaChan

[2018-11-17 01:31] petermattis opened #32441 "sql: test 1000s of databases with 10s of tables each (10k+ tables total)"
[Possibly this is a duplicate of an existing issue].

We're hearing increasing interest in supporting larges numbers of databases, each with a relatively modest number of tables. We need to investigate the performance of running a cluster with 1000s of databases each with 10s of tables. While we're at it, we should investigate whether fewer databases with more tables (10s of databases each with 10

[2018-11-17 02:45] jonwalch commented on #32174
@andy-kimball sorry for all of these questions
[code]

[code]
Are these also expected?

[2018-11-17 03:15] petermattis commented on #31948
Reproduced again on the 30th run (~5h), this time with a core. I'm not seeing anything interesting here.

[code]

I've done serious debugging with gdb and core files before, but never with Go. Not sure what I should be looking for. The above stack is for the thread which caught the signal which should be the thread which generated the signal. But the stack is corrupt? I looked at the stacks of the

[2018-11-17 04:37] andy-kimball commented on #32174
The first error is expected, because you can't filter on a projected column.

The second error should be addressed by https://github.com/cockroachdb/cockroach/issues/31706 in 2.1.1 (due out next week).

[2018-11-17 06:52] cockroach-teamcity opened #32444 "ccl/changefeedccl: package timed out under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ecbef846abb2855afca8532097c42864d688f51d

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1016922&tab=buildLog

[code]

[2018-11-17 06:58] cockroach-teamcity opened #32445 "teamcity: failed test: TestChangefeedSchemaChangeNoBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeNoBackfill/sinkless/add_column, TestChangefeedSchemaChangeNoBackfill, TestChangefeedSchemaChangeNoBackfill/sinkless, TestChangefeedSchemaChangeNoBackfill/sinkless/historical

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedSchemaChan

[2018-11-17 07:07] cockroach-teamcity commented on #32444
SHA: https://github.com/cockroachdb/cockroach/commits/ecbef846abb2855afca8532097c42864d688f51d

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1017185&tab=buildLog

[code]

[2018-11-17 11:37] cockroach-teamcity opened #32446 "sql: TestPlanningDuringSplitsAndMerges failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ecbef846abb2855afca8532097c42864d688f51d

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1017275&tab=buildLog

[code]

[2018-11-17 13:42] knz commented on #31297
@BramGruneir can you have a quick look? Is Go unable to load named timezones on windows whatsoever?

[2018-11-17 13:43] knz commented on #31297
@pungggi in the meantime please create as separate issue. This issue about timezones on Ubuntu. We're having an unrelated conversation now.

[2018-11-17 13:46] knz commented on #32427
@jordanlewis @petermattis which team / project is this landing in?

[2018-11-17 14:05] knz commented on #32022
@rolandcrosby I _believe_ I recall this conversation from a customer. Do you recall?

Further than that, until/unless there is a clear use case, this "feature request" as-is is a clear no from me. Closing as unactionable for the time being.

[2018-11-17 14:05] #32022 closed

[2018-11-17 15:08] pungggi commented on #31297
Already opened #32415

[2018-11-17 15:56] knz commented on #32415
@BramGruneir could you take a look at this and determine 1) if you can repro the issue 2) what do you think the cause is

(you don't need to actually solve the issue at this point - we just need a clear picture of what is going on)

[2018-11-17 16:12] petermattis commented on #28358
Eh? I'm not following the scenario you're describing. L0 is unsorted in key order, but it is sorted in sequence number order. While RocksDB doesn't have to compact all of L0 at once, if it does compact an L0 table to L1, it has to compact the oldest L0 table for a user key first. I recall reading somewhere that RocksDB maintains the invariant that for a given user key, newer sequence numbers will

[2018-11-17 16:18] petermattis commented on #32427
That code is in no-man's land. I think the SQL execution team might have more bandwidth for this, though. @jordanlewis feel free to push back if you disagree.

[2018-11-17 16:42] petermattis commented on #32149
What workload is generating keys like that?

Note:

[code]

The first byte of these keys differs by a single bit:

[code]

I'm not sure if that is adequate evidence of a bit flip. I'd like to see more reproductions of this.

[2018-11-17 18:57] jordanlewis commented on #32427
We can take this on eventually, though it doesn't seem particularly high priority, and I wouldn't make a claim about having any extra bandwidth.

[2018-11-17 23:52] benesch commented on #28358
Do you have a source for that? I've wanted to believe this for a long time and yet have never been able to find proof that that is the case. In fact I feel like we've talked about this before and come to the conclusion that there was no evidence that RocksDB provides this guarantee.

After looking at the code though it seems like all overlapping L0 files are always selected for compaction, which w

[2018-11-18 00:32] petermattis commented on #28358
Take a look at [Version::Get](https://github.com/facebook/rocksdb/blob/master/db/version_set.cc#L1179) and [FilePicker](https://github.com/facebook/rocksdb/blob/master/db/version_set.cc#L101-L106). While iterators use a heap to merge together the levels, `DB::Get` walks down the levels. That code isn't exactly clear, but it walks down level, and within L0 it walks from newest to oldest table. The

[2018-11-18 00:36] petermattis commented on #28358
Interestingly, that comment is copied from LevelDB's [`Version::Get`](https://github.com/google/leveldb/blob/master/db/version_set.cc#L346-L348). The code in LevelDB is easier to understand.

[2018-11-18 00:39] manigandham opened #32448 "Make secure setup easier via token instead of managing certificates"
**Problem:**
Managing certificates by manually managing files on nodes is slow, frustrating, and error-prone. There is major difference between effort involved between a `secure` cluster and an `insecure` cluster which only takes minutes to start.

Using other systems like Ansible, Chef or Kubernetes can help but they increase complexity and dependencies when otherwise not need, especially with ho

[2018-11-18 01:03] vivekmenezes commented on #26166
In today's world because the table orders is created in the ADD state, the INSERT in the same transaction fails. What I'm recommending is we add the table and run the constraint validation later. In that scheme the INSERT (1, 22)  will succeed as long as 22 exists in customers, but there is still a delay on constraint validation and 22 can be deleted by another node unaware of the FK relationship,

[2018-11-18 02:54] andreimatei commented on #31361
My only suggestion regarding gRPC itself is what I was telling you about the other day -  to try digging into the connection window management code in grpc and see if new HTTP2 streams are being starved for connection window. Although I guess if new streams couldn't be established, then the cluster as a whole would have bigger issues...
What I would probably do is create another RPC service and ha

[2018-11-18 06:09] shakeelrao commented on #32276
@mberhault Hey Marc, I would be interested in working on this. Let me know!

[2018-11-18 06:58] cockroach-teamcity opened #32449 "teamcity: failed test: TestChangefeedSchemaChangeNoBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeNoBackfill/sinkless/add_column, TestChangefeedSchemaChangeNoBackfill/sinkless/historical, TestChangefeedSchemaChangeNoBackfill, TestChangefeedSchemaChangeNoBackfill/sinkless

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedSchemaChan

[2018-11-18 14:31] benoit-ponsero opened #32450 "Quotas per user"
Hello,

Do you have any plan to implement some quota per sql user ?
(req/sec, number of tables, size of data)

which would allow to isolate user load in a cluster.

Thanks

[2018-11-18 14:32] knz commented on #32450
There is no immediate plan to implement resource isolation in CockroachDB. Even if plans were made now, the work required is sufficiently large that you wouldn't see much of it before 2-3 years down the line.

[2018-11-18 14:36] benoit-ponsero commented on #32450
Whoo thanks for your fast answer !

So, i think the best way to isolate a user should be creating a "subcluster" with his data.

Is it possible to join a cluster with only a specific database to replicate and not all ?

[2018-11-18 14:39] knz commented on #32450
The best way to isolate users is to run multiple CockroachDB clusters side by side and use OS facilities to restrict the `cockroach` processes.

[2018-11-18 14:39] knz commented on #32450
Note that we are now proposing a "Managed CockroachDB service" which will help achieve this.

[2018-11-18 14:57] benoit-ponsero commented on #32450
Yes
Managed CockroachDB is interesting but i didn't found any pricing plans.
I know it's currently in Beta, but it's difficult to plan about without prices.

I love cockroach, and i would use it in my future next company, so i'm exploring all cases :)

[2018-11-18 16:37] cockroach-teamcity opened #32451 "teamcity: failed test: TestChangefeedSchemaChangeNoBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeNoBackfill, TestChangefeedSchemaChangeNoBackfill/sinkless/add_column, TestChangefeedSchemaChangeNoBackfill/sinkless/historical, TestChangefeedSchemaChangeNoBackfill/sinkless

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedSchemaChan

[2018-11-18 16:56] knz commented on #32450
Fair enough. I'll ensure someone reaches out to you to discuss prices too, so you have a fuller picture.

[2018-11-18 17:31] bdarnell opened #32453 "kv: DistSender async throttling can lead to deadlock"
`DistSender.sendPartialBatchAsync` may fail if the concurrency limit is reached, and returns a boolean to indicate whether or not this has occurred. This method promises to write to `responseCh` if and only if it returns true, but the (only) call site in `divideAndSendBatchToRanges` does not check this return value. This results in a deadlock when it tries to read from the response channel which n

[2018-11-19 06:58] cockroach-teamcity opened #32456 "teamcity: failed test: TestChangefeedSchemaChangeNoBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeNoBackfill, TestChangefeedSchemaChangeNoBackfill/sinkless/historical, TestChangefeedSchemaChangeNoBackfill/sinkless/add_column, TestChangefeedSchemaChangeNoBackfill/sinkless

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedSchemaChan

[2018-11-19 06:58] cockroach-teamcity opened #32457 "teamcity: failed test: 04:04.913231+00:00"
The following tests appear to have failed on master (testrace): 04:04.913231+00:00/24:00:00/ParseTime

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+04:04.913231+00:00).

[#1017652](https://teamcity.cockroachdb.com/viewLog.html?buildId=1017652):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-19 07:07] cockroach-teamcity commented on #32444
SHA: https://github.com/cockroachdb/cockroach/commits/b49107e6da02b19c1ad99bed1acfb4ff8a262936

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1017935&tab=buildLog

[code]

[2018-11-19 10:08] tbg commented on #32433
Schema change seems stuck. I remember digging up a similar stacktrace in a different test failure (in schema changes too). Not sure if that one is still open as well.

Interesting part of the log:
[testrace.log](https://github.com/cockroachdb/cockroach/files/2594729/testrace.log)

I'm seeing something in the contention queue, though it doesn't seem stuck. Just mentioning this because of #31823 and

[2018-11-19 10:09] tbg commented on #32433
@vivekmenezes could you take a look? I think Dan is out and the thing that stalls seems to be the schema change.

[2018-11-19 10:10] tbg commented on #32444
@vivekmenezes I expect this to be similar to https://github.com/cockroachdb/cockroach/issues/32433, though I haven't taken a look.

[2018-11-19 10:10] tbg commented on #32456
https://github.com/cockroachdb/cockroach/issues/32433

[2018-11-19 10:10] #32456 closed

[2018-11-19 10:10] tbg commented on #32451
https://github.com/cockroachdb/cockroach/issues/32433

[2018-11-19 10:10] #32451 closed

[2018-11-19 10:10] tbg commented on #32449
https://github.com/cockroachdb/cockroach/issues/32433

[2018-11-19 10:10] #32449 closed

[2018-11-19 10:10] tbg commented on #32445
https://github.com/cockroachdb/cockroach/issues/32433

[2018-11-19 10:10] #32445 closed

[2018-11-19 10:10] tbg commented on #32440
https://github.com/cockroachdb/cockroach/issues/32433

[2018-11-19 10:10] #32440 closed

[2018-11-19 10:12] tbg commented on #32434
https://github.com/cockroachdb/cockroach/issues/32399

[2018-11-19 10:12] #32434 closed

[2018-11-19 10:12] tbg commented on #32457
https://github.com/cockroachdb/cockroach/issues/32399

[2018-11-19 10:12] #32457 closed

[2018-11-19 10:15] tbg commented on #32399
Here's what it actually looks like (taken from #32434).

<img width="972" alt="image" src="https://user-images.githubusercontent.com/5076964/48700435-4c513600-ebec-11e8-93c3-b6775d4dcb62.png">

I assume `make` prints the error to stderr, but it gets lumped in with the test output.

[2018-11-19 10:21] tbg commented on #32399
Well, this would explain why:

<img width="481" alt="image" src="https://user-images.githubusercontent.com/5076964/48700669-d8fbf400-ebec-11e8-9c40-87c51c709a41.png">

[2018-11-19 10:46] tbg commented on #32446
#32149

[2018-11-19 10:46] #32446 closed

[2018-11-19 10:50] tbg commented on #32149
More repros, you say?

For your convenience:

[code]

[code]

[2018-11-19 11:11] tbg commented on #32408
Repro in 2:44m via 5 node stress:

[code]

[2018-11-19 11:45] cockroach-teamcity opened #32459 "teamcity: failed test: TestChangefeedSchemaChangeNoBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeNoBackfill/sinkless/add_column, TestChangefeedSchemaChangeNoBackfill/sinkless/historical, TestChangefeedSchemaChangeNoBackfill, TestChangefeedSchemaChangeNoBackfill/sinkless

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedSchemaChan

[2018-11-19 12:13] tbg commented on #32408
Ok, the weird number is due to printing a pointer via `%+v`. The other thing that maybe changed recently is that this test is now running under a default zone config that has 5 replicas (up from 3 a while back). Possibly that is pushing it over the limit. Here's a real failure:

[code]

I'll at the very least send a patch to fix that message. I'm also stressracing this with less parallelism to che

[2018-11-19 12:15] tbg commented on #32459
#32433

[2018-11-19 12:15] #32459 closed

[2018-11-19 12:31] tbg commented on #32408
It failed immediately (46s in) with

[code]

as well. It's notable that when it fails, I've never seen it have any replicas other than the one on n1:

[2018-11-19 12:40] tbg commented on #32149
34s to get another repro via a 5 node cluster in

[code]

I bet you get a repro every minute on a gceworker.

[2018-11-19 12:41] tbg commented on #32149
PS the error is during a split again:

[code]

[2018-11-19 12:42] tbg commented on #32149
(I'm going to leave this to either @petermattis or @nvanbenschoten to figure out, hopefully straightforward now that we have an instant repro). These keys sure look like garbage to me.

[2018-11-19 13:13] petermattis commented on #31948
Seems likely this is a bug in RocksDB. Worth tracking down, though not super urgent. I'm going to put this on the back burner.

[2018-11-19 13:56] cockroach-teamcity opened #32463 "teamcity: failed test: TestChangefeedSchemaChangeNoBackfill"
The following tests appear to have failed on master (testrace): TestChangefeedSchemaChangeNoBackfill/sinkless/add_column, TestChangefeedSchemaChangeNoBackfill, TestChangefeedSchemaChangeNoBackfill/sinkless, TestChangefeedSchemaChangeNoBackfill/sinkless/historical

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedSchemaChan

[2018-11-19 14:10] tbg commented on #32444
Similar failure in TestChangefeedTruncateRenameDrop/sinkless.

[2018-11-19 14:13] tbg commented on #32433
Looks like the first failure is in https://teamcity.cockroachdb.com/viewLog.html?buildId=1016710&tab=buildChangesDiv&buildTypeId=Cockroach_UnitTests_Testrace.

That failure is on the merge of #32421. Since timebound iterators are involved, I wouldn't be surprised if that actually introduced these flakes. I'm going to confirm.

cc @benesch (assuming this checks out).

[2018-11-19 14:31] tbg commented on #32433
Yep, definitely #32421. It makes this test so slow that it doesn't ever finish anything. I was simply running

[code]

to confirm. That would *never* pass with that PR and passes in ~2s without.

I think reverting that change is the right thing to do for today.

[2018-11-19 14:42] tbg commented on #32463
#32433

[2018-11-19 14:42] #32463 closed

[2018-11-19 14:49] m-schneider opened #32466 "roachprod: cluster didn't timeout"
While trying to test geo-distributed TPCC, I spun up a cluster on AWS with ```roachprod create masha-test --clouds=aws --geo``` and left it running. Several days later I tried to spin up another masha-test and discovered that the old one was still running. Output from roachprod list is
[code]
with details it's:

[code]

[2018-11-19 14:51] petermattis commented on #32466
The shared host was out of disk space which was preventing `roachprod gc` from syncing the hosts.

[2018-11-19 14:51] #32466 closed

[2018-11-19 15:06] vivekmenezes commented on #32433
@mrtracy so he's aware

[2018-11-19 15:07] vivekmenezes commented on #32444
@mrtracy so he's aware

[2018-11-19 15:11] #32444 closed

[2018-11-19 15:34] tbg commented on #32433
Reopening for investigation notes.

Running essentially this test:

[code]

With this

[code]

[code]

I see that this explodes up in a stack trace anchored at `(*poller).updateTableHistory`, where it fetches the historic table descriptor versions. I'm going to confirm, but my guess is that it sees an intent that, if skipped, means that you miss the newly added table and somehow go around in circl

[2018-11-19 15:42] danhhz commented on #32433
Note that the timestamp of the intent is exactly the lower bound of the TBI `1542641150.581370000,0`. Ignoring the == case _should_ be correct given the contract of TBIs but seems suspicious.

[2018-11-19 15:55] nvanbenschoten commented on #32149
Awesome, now that we have a path to reproduction, this should be easy to track down. I'll take care of that.

[2018-11-19 16:02] tim-o opened #32468 "IMPORT failing to create inverted indexes"
**Describe the problem**

Running 2.1.0, bulk CSV import fails to create an inverted index for [this payload (CockroachLabs only)](https://drive.google.com/open?id=16zmZHbWOpVpn0ZERMxlweetP5qLTaUS6).

The index can be created successfully on the same table as long as its done after the import.

**To Reproduce**

1) Attempt to import and create an index, get a SST creation error:
[code]
2) Remove t

[2018-11-19 16:04] tbg commented on #32433
Heh, my logging was actually screwed up and printed the meta timestamp twice. But it turns out you're still right about this with the right logging:

[code]

What's interesting is that (if I read this right) the intent has been pushed. That is, we have the metaTS (i.e. the versioned key for which the intent was originally written) below startTS, but then the transaction's timestamp is a logical ti

[2018-11-19 16:07] tbg commented on #32433
Ah, tableID=3 is the system.descriptor table. I bet this is something circular problem that occurs when telling the changefeed about the `ADD COLUMN`.

[2018-11-19 16:09] danhhz commented on #32433
Okay, I think what's happening on a macro level is that somehow this change causes starvation of the schema change code. If you run this exactly as it is pre-revert, there are countless lines of
[code]

If you slow down the table history by commenting out the (unnecessarily redundant) calls to change the `changefeed.experimental_poll_interval` setting in changefeedccl/helpers_test.go so it stays a

[2018-11-19 16:17] tbg commented on #32433
👍 I verified that via

[code]

[2018-11-19 16:17] nvanbenschoten commented on #32453
Is it possible that you missed the line-wrap in the `if` statement that calls `DistSender.sendPartialBatchAsync`?

https://github.com/cockroachdb/cockroach/blob/5377795af4f3064fe7059ffb016463e989be3e58/pkg/kv/dist_sender.go#L920-L921

[2018-11-19 16:18] bdarnell commented on #32453
Yes, I did.

[2018-11-19 16:18] #32453 closed

[2018-11-19 16:19] tbg commented on #32433
@benesch I gotta run. Could you take over and look into what's going on? One theory is that prior to your PR, we'd get WriteIntentErrors that would throttle the aggressive change feed timing somewhat. These are now gone, so the hot loop gets to spin hotter.

I'm still confused why that would be able to make a test that's now <0.5s (the invocation above) into >30s, but if push comes to shove the ru

[2018-11-19 16:20] benesch commented on #32433
Ack, I'll take over from here. Thanks for the initial investigation.

[2018-11-19 16:33] danhhz commented on #32433
The thing I don't understand is that with the following patch , the "returning WriteIntentError" doesn't show up in the logs:

Run with `make test TESTS=TestChangefeedSchemaChangeNoBackfill/sinkless/add_column PKG=github.com/cockroachdb/cockroach/pkg/ccl/changefeedccl TESTTIMEOUT=30s TESTFLAGS='-v --vmodule=table_history=3'`

[code]

[code]

[2018-11-19 17:01] vivekmenezes commented on #27851
Added roachtest with index backfill in the presence of TPCC-1K load. closing

[2018-11-19 17:01] #27851 closed

[2018-11-19 17:12] rolandcrosby opened #32471 "changefeedccl: support decimal columns in avro changefeeds"
When attempting to create a changefeed on the `entry` table of the `ledger` workload, I get the following error in the jobs table:

job_id|job_type|description|user_name|status|running_status|created|started|finished|modified|fraction_completed|error|coordinator_id
-|-|-|-|-|-|-|-|-|-|-|-|-
401656549032820737|CHANGEFEED|"CREATE CHANGEFEED FOR TABLE entry INTO 'kafka://10.142.0.8:9092' WITH conflue

[2018-11-19 17:15] rolandcrosby opened #32472 "changefeedccl: support the various timestamp column types in Avro changefeeds"
We need to support the various timestamp column types (specifically, the `ledger` workload depends on `timestamptz`, but we should figure out mappings for all of the SQL timestamp types we support). This likely needs additional research about common conventions used in the Avro/Confluent/Kafka ecosystem, since AFAIK Avro doesn't have a native/straightforward timestamp representation.

[2018-11-19 17:19] danhhz commented on #32471
Heh, the bug is even simpler than that. Fixed by the following diff, but needs a test
[code]

[2018-11-19 17:28] andy-kimball opened #32473 "sql: Panic when ON CONFLICT clause contains tuple assignment"
Repro:
[code]

EXPECTED: No panic, record should be inserted or updated.

ACUAL: Panic, with this callstack:
[code]

[2018-11-19 17:38] couchand commented on #32400
Hi @slateraus, thanks for the suggestion.  Making it easier to get that information is definitely already on our radar.  Our general idea is to enable a grouping by locality in that node list, somewhat like the Localities debug page (`/#/reports/localities`).  I was surprised to see that we didn't already have an issue filed for that enhancement, so thanks for filing this!

[2018-11-19 17:41] couchand commented on #32365
here's a workaround: use secure mode :trollface:

[2018-11-19 17:41] rolandcrosby commented on #32472
Here's what [BottledWater](https://github.com/confluentinc/bottledwater-pg/blob/master/ext/oid2avro.c#L590-L641), a (now-unmaintained) Postgres-to-Kafka connector, does.

And here's the [Debezium Postgres-to-Avro type mapping](https://debezium.io/docs/connectors/postgresql/#data-types).

I'm starting to think ISO 8601-formatted timestamp strings might be the rational thing to do here, since they n

[2018-11-19 17:42] a-robinson commented on #32365
😩

[2018-11-19 17:47] rolandcrosby commented on #32022
This came out of a customer/partner request, but they have since been able to work around the difference in behavior. No action required at this time. Thanks!

[2018-11-19 17:51] BramGruneir commented on #32227
Adriatic has been suck for a while, while omega has been fine.  Proceeding with the release regardless.

[2018-11-19 17:52] BramGruneir commented on #32004
roachprod cluster looks good, proceeding with release

[2018-11-19 17:58] vivekmenezes commented on #32418
looks like this failed with

[code]

I'm closing in favor of #18684

[2018-11-19 17:58] #32418 closed

[2018-11-19 18:19] tbg opened #32477 "sql: invalid aggregation in UPDATE causes server crash"
Repro:

[code]

Expected behavior: "planning error - aggregation not allowed in this context"

Actual behavior: server panic

Course of action: prevent aggregations (and probably other special functions) in UPDATE SET expression analysis.

Also reported as:

https://sentry.io/cockroach-labs/cockroachdb/issues/769213141/

conn_executor.go:521: panic while executing 1 statements: UPDATE _ SET _ = _

[2018-11-19 18:22] andreimatei commented on #31065
Looking.

[2018-11-19 18:27] tbg opened #32478 "sentry: stopper.go:175: runtime.errorString: runtime error: invalid memory address or nil pointer dereference"
https://sentry.io/cockroach-labs/cockroachdb/issues/769221943/

stopper.go:175: runtime.errorString: runtime error: invalid memory address or nil pointer dereference

github.com/cockroachdb/cockroach/pkg/storage.(*Replica).withRaftGroupLocked

type: *log.safeError
value: stopper.go:175: runtime.errorString: runtime error: invalid memory address or nil pointer dereference

[2018-11-19 18:48] cockroach-teamcity opened #32479 "teamcity: failed test: version-upgrade"
The following tests appear to have failed on master (roachtest): acceptance/version-upgrade

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+version-upgrade).

[#1018742](https://teamcity.cockroachdb.com/viewLog.html?buildId=1018742):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-19 19:00] dt commented on #32150
Aha -- when we convert the schema, we go form unsigned to signed, so we actually only accept values up to 2^31 for a when we convert mysql's int4 to our int4. Looks like maybe we should actually go up a size when dropping the unsigned-ness.

[2018-11-19 19:07] nvanbenschoten commented on #32149
Interestingly, we don't see a crazy resume scan from https://github.com/cockroachdb/cockroach/blob/04779ba8e7d196a0c12019122054dac8bac5f204/pkg/storage/batcheval/cmd_reverse_scan.go#L64-L69

but it ends up corrupted before we apply it to the timestamp cache. We must be corrupting memory somehow.

I tracked the failure back to bd57a2bcb411fb5b08bdd0769cdac51c3077d955, which makes a lot of sense. No

[2018-11-19 19:08] andy-kimball commented on #28842
I think multiple intents per key is the right long-term architectural solution. I think there would be multiple dividends from allowing multiple intents, like avoiding the halloween problem without buffering, as well as enabling immutability and clean replay. AcidLib did this, and it worked really well. If we ever embark on big architectural changes to Core, this is something to keep in mind.

[2018-11-19 19:16] rytaft commented on #32477
cc @knz this seems like it might be in your territory...

[2018-11-19 19:19] nvanbenschoten commented on #32149
We are using `cSliceToGoBytes` when copying the resume key from C++, but I wonder if that's having issues with the call to `(roachpb.Key).Next`.

[2018-11-19 19:20] petermattis commented on #32149
`cSliceToGoBytes` doesn't copy the data. That might be the problem right there. When the iterator is closed (or used again), the underlying memory might change.

[2018-11-19 19:49] benesch commented on #32433
[code]

Kind of hard to see. Here's a synopsis. The alter table attempts to `Put [/Table/3/1/53/2/1,/Min)`. This gets forwarded to `1542656551.516689000,1`, correctly, to account for an export request that executed at `1542656551.516689000,0`. But somehow that intent gets written at `1542656551.513670000,0`, as reported by the next export request. Hmm.

[2018-11-19 19:51] benesch commented on #32433
[code]

So, um, it appears we just throw away the forwarded timestamp or something. Maybe this is how it's supposed to work but oof that is really confusing.

[2018-11-19 20:21] petermattis commented on #32149
Ah, I misremembered. `cSliceToGoBytes` does copy the data. The call to `roachpb.Key.Next` should be fine. At least nothing appears wrong about it on the surface.

[2018-11-19 20:25] rolandcrosby opened #32483 "importccl: improve error message for missing foreign key"
See cockroachdb/docs#4055 -- Robert was trying to perform an import, and got this relatively cryptic message:

```pq: there is no unique constraint matching given keys for referenced table tablename```

As I understand it, in this case this really means something like "couldn't resolve a foreign key reference to *tablename*". I can't tell if this error is IMPORT-specific or not; if it is, it would

[2018-11-19 20:58] #32471 closed

[2018-11-19 21:36] #32150 closed

[2018-11-19 21:37] cockroach-teamcity opened #32485 "teamcity: failed test: TestSQLAlchemy"
The following tests appear to have failed on master (Examples-ORMs): TestSQLAlchemy/SecondRun: TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart: TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, TestSQLAlchemy/FirstRun, TestSQLAlchemy/SecondRun: TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart: TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, TestSQLAlchemy/Seco

[2018-11-19 21:47] eriktrinh opened #32486 "sql: rollback of dropped unique index can block future schema changes"
A rolled back set of mutations containing a drop unique index can error again if the uniqueness constraint has been violated. Currently the error is ignored, leaving the mutations at the head of the mutations list to be tried again by a future schema changer. It will block future changes from advancing through the schema changer until the uniqueness constraint can be validated.

The failed rollbac

[2018-11-19 21:58] rytaft commented on #32485
cc @bobvawter I think you were working on this before

[2018-11-19 22:13] jordanlewis commented on #32422
The issue with this is that Values is planned in a special way - all expressions within the values clause are fully evaluated before physical planning.

So, the special form we added to avoid this problem for `::REGFOO` casts isn't activated. Normally, in an expression like `SELECT 'pg_constraint'::REGCLASS FROM t`, when serializing the `Expr` for distribution, we go through the `DOid.Format` path

[2018-11-19 22:16] jordanlewis commented on #32422
I spoke too soon - that solution doesn't really work. We can't change the value encoding for these datums. We seem to be painted into a corner.

Ah, I think we can avoid the issue in a separate way, by forcing the planner to never distribute (and therefore require serialization for) values plans that contain these special snowflake datatypes.

[2018-11-19 22:27] mrtracy opened #32488 "changefeedccl: Correct ordering from rangefeed catch-up scans"
Currently when a rangefeed performs a "catch-up" scan before beginning to output directly from raft events, there is no guarantee on the ordering of the output. This would break some of our guarantees for CHANGEFEED outputs; therefore, we must somehow put the output of catch-up scans into the correct order before outputting events to the CHANGEFEED sink.

[2018-11-19 22:27] mjibson opened #32489 "pgwire: figure out what to do with binary encoded decimal infinities"
This form doesn't exist in postgres, so it doesn't have a binary encoding. Currently we use the same encoding as nan because it's less wrong than using the normal encoding. We may only need to fix this if a client needs it, but this seems medium unlikely since even java's bigdecimal doesn't support nan or inf, and lots of drivers don't even use the binary encoding.

[2018-11-19 22:30] BramGruneir opened #32490 "ui: decommissioned nodes show up in the debug nodes page"
They should appear below the active nodes, not to the left of them.  And possibly hidden until you click "show decommissioned nodes"  or something like that.

![image](https://user-images.githubusercontent.com/1614265/48738974-9522e200-ec20-11e8-898f-a1b3f577a085.png)

Note that the first 4 nodes listed here are decommissioned.

[2018-11-19 22:31] BramGruneir commented on #32490
Also, the tag, revision, etc should not show up as the warning yellow for decommissioned nodes.

[2018-11-19 22:32] mrtracy commented on #32488
Note that it is currently not possible to correctly re-order this output above the level of the rangefeed; the output from a RangeFeedRequest is actually an aggregate of several "single" rangefeeds from each range for the targeted span; importantly, the new underlying rangefeeds may be started due to range relocation events such as splits, meaning that we cannot currently track which events are th

[2018-11-19 22:34] danhhz commented on #32488
cc @nvanbenschoten in case you have thoughts

[2018-11-19 22:36] #32004 closed

[2018-11-19 22:37] #32227 closed

[2018-11-19 22:40] mrtracy commented on #32488
My guess is that the best way to do this is to add an option to make the catch-up operation a reverse scan, as mentioned here: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20170613_change_feeds_storage_primitive.md#mvcc-level

As mentioned this might incur a performance hit, but I wonder if that performance hit would still be less than buffering-and-sorting the scanned rows.

[2018-11-19 22:42] jordanlewis commented on #32422
Heh, now that I think about it, it's messed up that valuesNodes don't check for expression support before trying to serialize themselves in the first place. Broken, in fact. I found another issue:

[code]

[2018-11-19 22:59] jordanlewis commented on #32422
I take it back, `valueNode` was already properly checking for expression support. The missing piece was that, during the actual plan setup phase, we need to make sure to `wrapPlan` the `valueNode` if we're not distributing. Simple fix after all! PR incoming.

[2018-11-20 00:02] nvanbenschoten commented on #32488
Scanning-in-reverse or scanning-and-buffering are the two options I can think of. I don't have a good handle on which one is a better approach and would defer to benchmarks on that. Scanning in reverse will slow down iteration and will prevent us from using a `SimpleIterator` but scanning and buffering will impose memory overhead. I believe both will require extra key comparisons, just at very dif

[2018-11-20 00:04] andreimatei opened #32495 "storage: 4.5 seconds after a cluster creation is a bad time to run your transactions"
A transaction running around 4.5s after cluster creation (think tests) can easily catch a `TransactionAbortedError`. This is because all ranges start up as having expiration-based leases (as a likely path dependency / accident - they all come from the first range, and splits maintain the original epoch-based lease on both sides). 4.5s later, these leases become eligible for a refresh. The new leas

[2018-11-20 00:05] andreimatei commented on #31065
This doesn't repro for the life in me.
However after much staring, I think I found the cause. Tracked in #32495

[2018-11-20 00:08] andreimatei commented on #31720
I think the cause here is #32495. That's why we shouldn't be quick to paper over such unexpected errors.
Note to self: revert #32065 once ^ is fixed.

[2018-11-20 00:34] cockroach-teamcity opened #32497 "teamcity: failed test: bank/zerosum-splits [skipped]"
The following tests appear to have failed on master (roachtest): acceptance/bank/zerosum-splits

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+bank/zerosum-splits).

[#1019190](https://teamcity.cockroachdb.com/viewLog.html?buildId=1019190):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-20 00:39] petermattis commented on #32488
I don't have any intuition which will be faster or easier. Scanning in reverse is quite a bit slower than forward scanning. But scanning-and-buffering could be problematic too.

[2018-11-20 01:39] #32149 closed

[2018-11-20 07:18] cockroach-teamcity commented on #31778
SHA: https://github.com/cockroachdb/cockroach/commits/704e5b8e9619a5015fa4ccbd13de2e5353221ca5

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1019946&tab=buildLog

[code]

[2018-11-20 07:29] bladefist opened #32498 "backupccl: compress files before uploading"
Backups simply upload the underlying data to the destination as many files.  As databases grow, the size of the database backups mean more time spent uploading/downloading, as well as cloud storage and bandwidth costs.

I've seen with other databases backup compression can take a 500gb database down to 70gb, every database is different obviously based on how they store their data.

I'd like to see

[2018-11-20 09:00] tbg commented on #32495
I don't remember the details, but I think there was a reason to have the RHS of the split start out as leaseholder. I think at some point prior we didn't do that and it could lead to anomalies where another replica would get the first lease but didn't populate the tscache low water mark.

[2018-11-20 10:45] knz commented on #23620
Question from Gitter:

@andy-kimball care to comment?

[2018-11-20 14:07] petermattis commented on #32495
If the primary concern is test flakiness, could we make the initial expiration lease on range 1 shorter and have the cluster initialization wait until the other ranges have converted to epoch-based leases?

[2018-11-20 14:10] andreimatei commented on #32495
@tbg are you perhaps thinking of the problems with node restarts addressed here?
https://github.com/cockroachdb/cockroach/commit/9497a1185e4e9ec147a979195bd8c2bbd796d36a

@petermattis how short would we make it? I'd like to not give up on a fix yet... A split should not trigger a tscache wipe.

[2018-11-20 14:12] petermattis commented on #32495
I was thinking of 1s.

[2018-11-20 14:12] bdarnell commented on #32495
@tbg Yeah, a completely uninitialized range would allow the new leaseholder to start without initializing the tscache. An expired lease or an invalid lease with a correct expiration time would work.

I think simply shortening the lease (giving the RHS a copy of the LHS lease with the expiration changed to now()) is a bit risky since the LHS has been allowed to serve reads at times between now() an

[2018-11-20 14:18] andreimatei commented on #32495
How do you envision a "kind of lease transfer" helping with the `prevLease.Sequence != newLease.Sequence` check in `leasePostApply`, which is what's causing the unnecessary tscache wipe?

[2018-11-20 14:20] andreimatei commented on #31778
cc @knz

[2018-11-20 14:30] andreimatei commented on #32495
How about if the RHS would simply start with a epoch-based lease, initialized by hand (so no `leasePostApply()` runs)?

[2018-11-20 14:35] cockroach-teamcity commented on #31740
SHA: https://github.com/cockroachdb/cockroach/commits/704e5b8e9619a5015fa4ccbd13de2e5353221ca5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1019281&tab=buildLog

[code]

[2018-11-20 14:43] cockroach-teamcity commented on #30832
SHA: https://github.com/cockroachdb/cockroach/commits/704e5b8e9619a5015fa4ccbd13de2e5353221ca5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1019281&tab=buildLog

[code]

[2018-11-20 14:51] benesch commented on #32495
But this is all happening one node node where we can prove that the LHS has not served reads between now() and the expiration, no? Or are you worried about the case where the leaseholder crashes immediately after committing the split txn?

This seems like a good option.

[2018-11-20 15:43] tbg commented on #32497
Nothing useful in the logs. We'll have to run this in a loop locally.

[2018-11-20 15:44] #32407 closed

[2018-11-20 15:45] tbg commented on #32407
This is expected if you're using that option and your clocks jump.

[2018-11-20 15:45] cockroach-teamcity opened #32499 "roachtest: schemachange/kv failed"
SHA: https://github.com/cockroachdb/cockroach/commits/704e5b8e9619a5015fa4ccbd13de2e5353221ca5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1019281&tab=buildLog

[code]

[2018-11-20 15:47] nvanbenschoten commented on #32495
Which is an option I strongly think we should keep open. I think we're all in agreement that splits should be as minimally disruptive as possible to foreground traffic.

[2018-11-20 15:54] tbg commented on #32204
@nvanbenschoten can you spot anything else here?

[2018-11-20 15:56] brucemcpherson commented on #32118
adding  a "me too" to this issue.
I'm running v2.1.0 on kubernetes, and rebuilding a 400 table database with a workflow separated into a create table stage (constraints omitted), an insert stage to populate the tables, then an alter stage ( to add, then validate constraints). The first 10 or so tables, which are small, pass through ok, but then it sits forever on a table with about 10000 rows in a

[2018-11-20 16:32] petermattis commented on #32497
I love the spell of a flaky test in the morning.

[2018-11-20 16:32] #29486 closed

[2018-11-20 16:49] petermattis commented on #32499
@andreimatei Can you triage? The failure is a `MixedSuccessError` which is only generated by `DistSender`.

[2018-11-20 16:50] petermattis commented on #31918
@tbg You've been running a lot of import tests. Have you seen this fail recently? I'm wondering how hard I should try to reproduce this error.

[2018-11-20 16:53] rytaft commented on #32498
@bladefist thanks submitting this request.

@rolandcrosby do you know if compression of backup files is on the roadmap?

[2018-11-20 16:54] petermattis commented on #32479
`n2` [crashed](https://teamcity.cockroachdb.com/repository/download/Cockroach_UnitTests_Roachtest/1018737:id/acceptance/version-upgrade/2.logs/cockroach-v200.aa65caef342d.roach.2018-11-19T18_26_55Z.024594.log):

[code]

The node was running `v2.0.0`. This is ringing a bell for me. I think we might have seen this crash before.

[2018-11-20 16:56] petermattis commented on #32479
Looks the same as #20629.

[2018-11-20 16:57] petermattis commented on #32479
I suppose the version upgrade tests should be using the latest minor version in each major version.

[2018-11-20 17:12] tbg commented on #31823
@nvanbenschoten should we reopen this or is there a new issue tracking the current QPS stalls?

[2018-11-20 17:16] SpeedyCoder opened #32501 "pgwire: pgx client encounters "SimpleQuery not allowed while in extended protocol mode""
We have an application that is reading an event stream and projecting data into the database. It has been crashing a lot with the following error

```ERROR: SimpleQuery not allowed while in extended protocol mode (SQLSTATE 08P01)```

After starting again the application is able to move forward, but then it crashes again when processing a different event. The application is using the go `pgx` drive

[2018-11-20 17:29] markharding commented on #32409
Are there any temporary workarounds to this? We're going to need to have some way to backup data.

[2018-11-20 17:37] rolandcrosby commented on #32498
Note that the data in the SST files written and read by `backup`/`restore` are already compressed using Snappy, so it's dubious whether any additional compression would be an improvement.

[2018-11-20 17:47] petermattis commented on #32497
I'm trying to reproduce locally. So far I've had 13 successful runs and 0 failures.

[2018-11-20 17:49] cockroach-teamcity opened #32503 "teamcity: failed test: TestStoreRangeMergeAbandonedFollowersAutomaticallyGarbageCollected"
The following tests appear to have failed on master (test): TestStoreRangeMergeAbandonedFollowersAutomaticallyGarbageCollected

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestStoreRangeMergeAbandonedFollowersAutomaticallyGarbageCollected).

[#1020533](https://teamcity.cockroachdb.com/viewLog.html?buildId=1020533):

[code]

Please

[2018-11-20 18:02] tbg commented on #32503
https://github.com/cockroachdb/cockroach/issues/32062

[2018-11-20 18:02] #32503 closed

[2018-11-20 18:11] rolandcrosby commented on #32409
Hi @markharding, I just tested this on CockroachDB 2.1.1 and it seemed to work fine. See below for my reproduction steps. I believe your client version may be from the 2.0 series, which may lead to issues when running client-side commands like `cockroach dump`. Can you check what version you're using on the client and server? When you start a `cockroach sql` shell, it should emit a line like this

[2018-11-20 18:22] markharding commented on #32409
Aha! You are correct, the cockroachdb-client-secure pod was not updated.

Confirmed v2.1.1 resolves this.

[2018-11-20 18:22] #32409 closed

[2018-11-20 18:35] tbg commented on #31409
@petermattis could you take a look at the history of this flakiness to see if you can shake out what made this so much worse? Replication-related changes are the most likely culprit (absent any changes in the import/restore use of scatter). I also suspect that our introduction of time limits on some of the nightly tests exposed some of the failures that would otherwise have gone unnoticed. Unfortu

[2018-11-20 18:44] #32477 closed

[2018-11-20 18:55] BramGruneir commented on #32270
Just a head's up, the this is currently blocking the SQLsmith roachtest.  Once it's fixed, please don't forget to re-enable that test.

[2018-11-20 18:58] rytaft commented on #32501
Thanks for submitting this issue, @SpeedyCoder. Please let us know if/when you are able to reproduce the issue.

For context, this issue originated as a discussion on Gitter. cc @andreimatei and @knz who may have an idea about interactions with `pgx`. cc @a-robinson regarding possible issues with the Kubernetes manifest.

[2018-11-20 18:59] petermattis commented on #32497
80 successful runs and 0 failures. I'm going to try and reproduce on 9417c7c582441bbdf2e14119831bfec52aac03fb which is the SHA that failed above.

[2018-11-20 19:14] nvanbenschoten commented on #32427
There's a **6.4%** speedup sitting here for sysbench's `oltp_point_select` workload (and presumably `kv100`). I'll see if I can knock this out later this week.

[2018-11-20 19:22] nvanbenschoten opened #32508 "sql: resetForNewSQLTxn is inefficient and allocation heavy"
<img width="1193" alt="screen shot 2018-11-20 at 7 36 23 am" src="https://user-images.githubusercontent.com/5438456/48796820-9dd1f180-ecce-11e8-8b10-e25475fde2ac.png">

`resetForNewSQLTxn` is full of low hanging fruit that is ready to be plucked. I've repeatedly observed the function come up in benchmarks. Currently I'm seeing it account for **4.59%** of CPU utilization and **9.15%** of total allo

[2018-11-20 19:32] #26738 closed

[2018-11-20 19:46] andreimatei commented on #32508
I think I had some improvements for `StartRootSpan` sitting somewhere. Will get back to them when I can.

[2018-11-20 19:56] danhhz opened #32509 "changefeedccl: disallow watching two tables with the same name"
Something like `CREATE CHANGEFEED db1.foo, db2.foo ...` will currently work, but will output both to the same topic, which is non-sensical. We should error instead. Similar to #30439

Jira issue: CRDB-4740

[2018-11-20 20:01] tbg opened #32510 "sql: very spammy "bytes usage increases to X""
on master, seen in the logs for `import/tpch/nodes=4`. https://github.com/cockroachdb/cockroach/issues/16409 fixed something in this area but that was long ago.

This rotates anything interesting away quickly, so it's somewhat high priority.

[code]

[2018-11-20 20:01] tbg commented on #32510
cc @knz in case this is a one-liner I can throw in somewhere.

[2018-11-20 20:06] petermattis commented on #17242
@nvanbenschoten Mind poking that upstream issue. I believe the diff in https://github.com/cockroachdb/cockroach/issues/17242#issuecomment-320769444 still provides a benefit. You could apply that to go1.10 or go1.11 and double check that.

[2018-11-20 20:06] jordanlewis commented on #32510
There's a few env variables that control stuff like this.

COCKROACH_NOTEWORTHY_INTERNAL_MEMORY_USAGE is default 100kb, and leads to this spam. You can increase it on the command line. We should probably just tune it upward.

[2018-11-20 20:08] tbg commented on #32510
What do you think I should increase the default to? 10MB? Note that this is during IMPORT so if this captures the SST allocations no default will really cover it (in our testing and in users' production). Also, we should be wary about anything that logs at that high a frequency. Can this conveniently be rate limited (i.e. is there some root object in scope that can hold a `log.EveryN`)?

[2018-11-20 20:11] petermattis commented on #32497
64 successful runs and 0 failures on 9417c7c582441bbdf2e14119831bfec52aac03fb. I'm going to put this on the back burner, and take another stab at reproducing in a few days.

[2018-11-20 20:15] jordanlewis commented on #32510
This doesn't capture the SST allocations. I'm not exactly sure which queries are getting run through the internal planner, but it seems like logging this information is completely pointless. I think 10MB would be sufficiently unusual that it would warrant further investigation. 100kb seems like not a big deal.

[2018-11-20 21:04] cockroach-teamcity opened #32511 "teamcity: failed test: TestSystemZoneConfigs"
The following tests appear to have failed on master (testrace): TestSystemZoneConfigs

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestSystemZoneConfigs).

[#1020850](https://teamcity.cockroachdb.com/viewLog.html?buildId=1020850):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-20 21:22] andreimatei commented on #32495
I dug through the code a bit. It looks to me like the the original node epoch (epoch 1) is written (async) by the liveness heartbeater, triggered by `Server.Start()`, and separately all the splits, including the ones for system ranges, are done by the split queue.
So, how about we blocked the split queue until a node manages to write its original epoch, and we make the `splitTrigger` initialize th

[2018-11-20 21:27] tbg opened #32514 "sentry: server.go:219: clock_offset.go:226"
https://sentry.io/cockroach-labs/cockroachdb/issues/770765445/?referrer=webhooks_plugin

server.go:219: clock_offset.go:226

github.com/cockroachdb/cockroach/pkg/rpc.(*Context).runHeartbeat

type: *log.safeError
value: server.go:219: clock_offset.go:226

[2018-11-20 21:29] damienhollis opened #32515 "orms: Flyway error when creating tables on multi-region cluster"
**Describe the problem**

We currently use flyway to maintain our database schema and to date this has (generally) been working well.   Today we are testing using a cockroach cluster that spans several regions, including US, Australia, and Asia.  When flyway tries to create the schema, we get this error:

[code]

If we run exactly the same script in a console it works fine.  And it works fine on a

[2018-11-20 21:30] vivekmenezes commented on #32118
We believe we understand what is going on here. It has to do with the way we manage leases on table descriptors. If a transaction is running a schema change on a table and runs a VALIDATE on the same table, the VALIDATE command can block on acquiring a lease on the table.

Couple of solutions to this problem:
1. Do not use the descriptor cache when executing sql through the InternalExecutor.
2. Us

[2018-11-20 21:43] rytaft commented on #32511
cc @benesch, who I think touched this code recently...

[2018-11-20 21:44] nvanbenschoten commented on #32406
Other edge cases:
- we can't use this with interleaved tables
- we can't use this with a table where all of the columns in any column family are nullable

[2018-11-20 21:53] dendon commented on #32186
Hey,

don't wanna rush you or anything, but would it be possible to get an eta?

[2018-11-20 22:00] drewdeally commented on #32515
It could be you have FK creation in the table DDL or as an alter table in the same transaction set.

[2018-11-20 22:03] drewdeally commented on #32515
Please refer https://www.cockroachlabs.com/docs/v2.1/online-schema-changes.html#run-schema-changes-inside-a-transaction-with-create-table

[2018-11-20 22:41] tbg opened #32517 "sql: SHOW SESSIONS/QUERIES misbehaves because of weirdly unset session ID in ListSessionsResponse"
https://sentry.io/cockroach-labs/cockroachdb/issues/770842331/?referrer=webhooks_plugin

[code]

[2018-11-20 22:42] knz commented on #32510
Both your proposals have merit. I think 10MB is too high a global limit. For everything SQL, an alloc north of 1MB should be cause for concern.

We can either do a "backoff" solution like suggested by @tbg

or we can make the "noteworthy" thing configurable by monitor. and inherited for sub-monitors.

Then the import thing would set its noteworthy limit to much higher while everything else uses th

[2018-11-20 22:47] knz commented on #32186
@dendon sorry for the late notice. We are prioritizing this. We are aiming for a fix in v2.1.2.

[2018-11-20 22:47] knz commented on #32186
The ETA for that would be some time in early December.

[2018-11-20 22:51] bdarnell commented on #32495
Not all splits come from the split queue. Some splits could come from an ALTER TABLE SPLIT command running on a different gateway.

The only problem with this is bootstrapping: a node may have to process KV ops for liveness records to be written. The situation is similar to the issues around node ID assignment (which blocks SQL traffic on a brand new node); I think we could rearrange things so tha

[2018-11-21 00:11] jordanlewis commented on #32422
Another irritating issue I'm trying to work around is that, due to the special handling of the way `valuesNode` expects all of its subexpressions to be fully evaluatable in DistSQL, `EXPLAIN` doesn't quite work in a uniform way. We don't want `EXPLAIN` to force subquery evaluation - it should be an instant action with no side effects. But then we can't "look into" the values node to get the concre

[2018-11-21 00:13] jordanlewis commented on #32422
Turns out we already had a flag to deal with this problem. PR updated and ready to go now.

[2018-11-21 01:06] damienhollis commented on #32515
@drewdeally so I guess the difference is that flyway is trying to run the changes within a transaction? I wonder why this worked on a non-regionally distributed cluster?  I'll look at making changes as per the docs.

One question, the example uses:

SAVEPOINT cockroach_restart;
...
RELEASE SAVEPOINT cockroach_restart;

Is the SAVEPOINT important in this example?

[2018-11-21 01:34] rytaft commented on #32517
cc @knz I believe you have worked with/reviewed this code recently

[2018-11-21 01:50] drewdeally commented on #32515
@damienhollis I sent it over for you to review.  If you can reproduce the issue as you suggested and share it here,  We can get a better insight.

[2018-11-21 01:55] jordanlewis opened #32520 "opt: panic: provided does not intersect required"
Caught by nightly logic test suite: https://teamcity.cockroachdb.com/viewLog.html?buildId=1019282&buildTypeId=Cockroach_SqlLogicTests&tab=buildLog&_focus=14082

[code]

[2018-11-21 02:10] rytaft commented on #32514
cc @petermattis, I think you were working on clock offset issues

[2018-11-21 02:18] bdarnell commented on #32495
Another idea: We currently create the first range in Store.BootstrapRange and then leave all the splits to be performed by the split queue. There are no leases yet. If instead of writing a first range that spans the entire keyspace, we wrote two ranges (one covering the span that wants expiration-based leases and one covering the span for epoch-based leases), this problem shouldn't occur. The firs

[2018-11-21 02:33] bladefist commented on #32498
I did some basic testing, a 10.5GB  database (from CRDB Backup):

z7:  8.6GB
zip: 9.6GB

[2018-11-21 02:35] andy-kimball commented on #32520
@RaduBerinde, can you take a look when you get back?

[2018-11-21 02:40] andreimatei commented on #32495
I like this idea; I'll continue looking into it.

[2018-11-21 02:49] andreimatei commented on #32501
A binary that reproduces the problem would help a lot, or also a packet capture (e.g. with Wireshark) for one of the connections that encounters the error.
Separately, we can also look at it on our side by auditing the pgx code and seeing if/when it sends "simple query" messages inside a "extended protocol" block. I don't know who that falls on, though. Assigning to @mjibson  for triage since I he

[2018-11-21 02:57] benesch commented on #32495
I like that idea too. You shouldn’t need to duplicate really any logic from
the split finder. The list of static splits is exposed as a global in
package config IIRC.

On Tue, Nov 20, 2018 at 9:40 PM Andrei Matei <notifications@github.com>
wrote:

[2018-11-21 04:18] bithavoc commented on #23580
This is **very** annoying.
We should have able to use the same columns in multiple foreign keys.

[2018-11-21 05:19] awoods187 commented on #32386
With an increase of duration to 15m we can see a new limit of 98%

1100 | 13907.2 | 98.31%
-- | -- | --
1200 | 15171.7 | 98.31%
1300 | 16437.1 | 98.32%
1400 | 17684.7 | 98.23%
1500 | 18958.3 | 98.28%

[2018-11-21 07:44] cockroach-teamcity opened #32521 "server: TestAdminAPITableStats failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/cfd53f62f038a06e34570f11ec02bc74dabd2aab

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1021733&tab=buildLog

[code]

[2018-11-21 07:51] manigandham opened #32522 "kv: bound the size of in-flight write tracking in txnPipeliner"
We have a table with a 26M rows and 20 columns. Issuing a delete, for roughly half the rows in the table, crashes the node:

`DELETE FROM accounts WHERE datasetversion = 4;`

Limiting the deletes works, I tried up to 500k without issue.

`DELETE FROM accounts WHERE datasetversion = 4 LIMIT 500000;`

3 nodes x n1-standard-2 (2 cpu / 7.5gb) with local nvme SSD on GCE with 25% cache/mem settings, 3x

[2018-11-21 08:15] cockroach-teamcity opened #32523 "sql: TestIdleCancelSession failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/cfd53f62f038a06e34570f11ec02bc74dabd2aab

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1021766&tab=buildLog

[code]

[2018-11-21 08:18] mjibson commented on #32501
I'm not yet convinced this is a cockroach problem. Incorrect use of a connection pool or multiple go routines using the same connection could cause something like this from the application side. I'm unlikely to investigate this more without a reliable repro that we are able to run ourselves.

[2018-11-21 08:41] derkan opened #32524 "v2.1.1,ERR: split failed while applying backpressure: could not find valid split key"
**Describe the problem**

After upgrading 2.1.1, table updates failed on our system with error:

[code]
Target is not a cluster, standalone local CRDB database(with --insecure).

This is log from db:
[code]

**To Reproduce**

[code]
**Environment:**
CockroachDB CCL v2.1.1 (x86_64-unknown-linux-gnu, built 2018/11/19 18:24:21, go1.10.3)
CentOS 7.5.1804

**Additional context**

After setting

[code]

[2018-11-21 09:29] tbg commented on #32514
Nothing to do here, this is an intentional crash due to clock offsets.

[2018-11-21 09:29] #32514 closed

[2018-11-21 09:49] tbg opened #32525 "storage: replicate queue can cause unavailable ranges due to snapshots"
Running experiments for #32046 I believe that I'm seeing ranges in a state in which they are unavailable due to a majority needing snapshots. The way this can come about is the following (each word is a replica's state)

First, all is well.

Add a replica, but unfortunately the preemptive snap gets GC'ed.

Remove a replica. Since we always consider the last added replica up to date, the allocator

[2018-11-21 09:52] knz opened #32526 "pgwire: support GSSAPI/Kerberos authentication"
PM: @rolandcrosby

tldr: Implement server-side authentication (Authn), not Authorization (Authz) using GSSAPI for pgwire sessions. **Try to avoid re-implementing the wheel in Go.** (see comment by Roland below)

From Roland:

## Product Goals

Long version:

- We should support Kerberos client authentication on CockroachDB servers, using GSSAPI, in much the same way that PostgreSQL supports this a

[2018-11-21 09:54] knz commented on #32526
@mjibson one thing that would be nice once you have a clear(er) picture in your mind of the work to do, is to enumerate the sub-tasks as a comment to this issue. This way Roland will be better able to follow along.

[2018-11-21 09:57] knz commented on #32501
@SpeedyCoder can you please provide a small test program that reproduces the problem without interaction?

Barring this, can you capture a packet trace (via eg `tcpdump`, Wireshark or equivalent technology) of the client conversing with CockroachDB using an insecure connection, and share this with us?

Without this information we fear we cannot help you further. Thank you in advance!

[2018-11-21 10:04] knz commented on #23580
@dt @BramGruneir can we schedule some time to sit together and hash out an analysis of this situation. We need to learn:

- how to best explain the current situation (how it came to be, what the error means), so that expectations about the current implementation becomes clear

- what are the various directions we can take from there

- what amount of work is required for each of them

Once we have

[2018-11-21 10:53] knz commented on #23620
OK But then to whomever will look into this in the code: **do not close this issue when a PR to support just 1 ordering is merged** -- and also be careful to keep the "unimplemented error" reported and pointing to this issue when more than 1 ordering is requested.

[2018-11-21 11:41] brucemcpherson commented on #32118
@vivekmenezes Thanks for looking at this issue. I'm just using the cockroach sql client, and executing individual ALTER commands. Nobody else is using the database, so there can be no outstanding transactions. What does your suggested workaround mean I have to do differently?

[2018-11-21 11:48] tbg commented on #32522
Thanks @manigandham. As the node crashes, does it leave anything in `logs/heap_profiler`? We'd be interested in seeing these files if you have them. (They don't contain sensitive information).

[2018-11-21 11:54] jiangjianxiao opened #32528 "sql: count(*) multiple conditions very slow"
# version

[code]

# sample sql

## 1. no conditions

[code]

## 2. one condition

[code]

### 3. multiple conditions

[code]

[2018-11-21 12:02] manigandham commented on #32522
Are you talking about the folder on the node? I already deleted the cluster but can run the process again...

[2018-11-21 12:04] manigandham commented on #32522
It looks like the debug output contains that? Can you check the attached zip file and see if it's valid?

[2018-11-21 12:04] tbg commented on #32522
Oh, I had missed that attached file. Apologies! Taking a look.

[2018-11-21 12:08] tbg commented on #32522
@nvanbenschoten this looks like your wheelhouse. We don't unconditionally support large transactions, but the profile indicates something we need to fix regarding the txn pipeliner.

<img width="823" alt="image" src="https://user-images.githubusercontent.com/5076964/48840296-7b9fa880-ed8e-11e8-9b52-ce4a3c096eaf.png">

[2018-11-21 12:50] brucemcpherson opened #32529 "dump creates invalid syntax for set null"
**Describe the problem**
Dumping the schema from a v2.1.0 database generates invalid syntax for ALTER statements which include SET NULL
Please describe the issue you observed, and any steps we can take to reproduce it:
Dump a table with on delete set null in the defintion
**To Reproduce**
[code]
What did you do? Describe in your own words.
The result included these two lines
[code]

If possible, p

[2018-11-21 13:09] tbg opened #32530 "sql: panic due to UPSERT encountering NULL in non-nullable column"
https://sentry.io/cockroach-labs/cockroachdb/issues/771690722/?referrer=webhooks_plugin

conn_executor.go:670: panic while executing 1 statements: UPSERT INTO _(_, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _) VALUES ($1, $2, __more50__): caused by <redacted>

github.c

[2018-11-21 13:26] cockroach-teamcity opened #32532 "roachtest: hibernate failed"
SHA: https://github.com/cockroachdb/cockroach/commits/cfd53f62f038a06e34570f11ec02bc74dabd2aab

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1021046&tab=buildLog

[code]

[2018-11-21 13:32] petermattis commented on #29268
Looks like merging ranges causes import/restore to see Raft snapshots badness. The theory is that this is due to the rebalancing performed by the range merge queue. Regardless I’m going to implement this shortly.

[2018-11-21 13:39] knz commented on #32530
[code]

[2018-11-21 13:41] knz commented on #32530
panic is this:

[code]

[2018-11-21 13:42] knz commented on #32530
This needs to be converted to an internal error instead of a panic.

[2018-11-21 13:44] rytaft commented on #32523
cc @jordanlewis @knz - this was Abishek's PR, but you guys were listed as reviewers

[2018-11-21 13:45] bobvawter opened #32534 "sql: release-2.3: follow up on changing INT size (#26925)"
Placeholder issue for tracking the cleanups identified in https://github.com/cockroachdb/cockroach/issues/26925#issuecomment-437154424.

Jira issue: CRDB-4738

[2018-11-21 13:49] jordanlewis commented on #32523
Thanks - this is a dupe of #29966 but with a different failure case. A race condition. I'll take a look.

[2018-11-21 13:53] knz commented on #32093
Fixed by #32257.

[2018-11-21 13:53] #32093 closed

[2018-11-21 13:54] jordanlewis commented on #32530
Agreed, but the root cause bug also needs to be fixed, whatever it is.

[2018-11-21 13:54] jordanlewis commented on #32530
And, for the record, if the panic was converted into an error, we likely wouldn't have seen the report.

[2018-11-21 13:55] knz commented on #32530
Internal errors are channeled to the reg cluter. We'll be data mining this soon.

[2018-11-21 14:04] knz commented on #32415
@pungggi until we investigate this, could you consider running CockroachDB inside a Linux container/VM, and connect to it over the network from the Windows DBeaver?

[2018-11-21 14:07] knz commented on #32485
@bobvawter was this one of the "temporary internet failure" problems?

[2018-11-21 14:18] knz commented on #26443
@bobvawter as discussed the next step here is to make a call about which data structures to use for name resolution, by exploring experimentally the alternatives presented in #30916.

[2018-11-21 14:40] jseldess commented on #32522
@tbg, @nvanbenschoten, back in v1.0, we had a [known limitation about truncating a large table](https://www.cockroachlabs.com/docs/v1.0/known-limitations.html#removing-all-rows-from-large-tables). But that was resolved, and we no longer have a stated limitation about large transactions. At the very end of a current limitation about [Write and update limits for a single statement](https://www.cockr

[2018-11-21 15:12] cockroach-teamcity commented on #30832
SHA: https://github.com/cockroachdb/cockroach/commits/cfd53f62f038a06e34570f11ec02bc74dabd2aab

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1021046&tab=buildLog

[code]

[2018-11-21 15:12] bobvawter commented on #32485
@knz, not this one, no.  The internet failure ones occur much earlier in the build process.

[2018-11-21 15:30] SpeedyCoder commented on #32501
Sorry, I'm really struggling to recreate the issue again even with the same setup. It's quite confusing. I can probably share the code that was failing with you, but I'm not sure that's gonna be helpful.

Do you guys have any idea why we are seeing the warning about the listen address not being in the node certificate? We are running the container with the following command
[code]
so the `--advert

[2018-11-21 15:32] miry opened #32537 "SQLAlchemy integration"
I tested python cockroachdb version 2.1 with Airflow.

[code]

It fails on migration: https://github.com/apache/incubator-airflow/blob/master/airflow/migrations/versions/2e541a1dcfed_task_duration.py

With exception: `sqlalchemy construct has no default compilation handler.`

[2018-11-21 15:39] tbg commented on #31409
I've had good results with #32533 for backup2TB, even when merges are on:

![image](https://user-images.githubusercontent.com/5076964/48851454-65ecac00-edab-11e8-9157-45717658c9d0.png)

![image](https://user-images.githubusercontent.com/5076964/48851501-861c6b00-edab-11e8-9c24-5c7fb2969b1c.png)

To be fair, this also didn't look too bad in a previous run without that fix, but I did see a large spi

[2018-11-21 15:42] petermattis commented on #31409
I didn't see any particular point in time that flakiness jumped for `restore2TB` or the `import/tpch` tests.

Did you mean `restore2TB`?

[2018-11-21 15:57] tbg commented on #31409
Yes. Edited.

[2018-11-21 16:07] knz commented on #32501
Thanks for asking about the certificate address. However the folk who are looking at this issue about the client error are not expert with SSL certificates, so it's better to start a separate discussion thread.

(Also if you want to capture a packet trace you'll need to enable insecure client/server communication. We can't analyze packet traces over secure connections.)

[2018-11-21 16:08] knz opened #32539 "cli/start: certificate error if no IP in cert (--listen translates hostname to addr and addr not in cert)"
From @SpeedyCoder on https://github.com/cockroachdb/cockroach/issues/32501#issuecomment-440706118

[code]

[2018-11-21 16:08] knz commented on #32501
I filed issue #32539.

[2018-11-21 16:08] cockroach-teamcity commented on #32499
SHA: https://github.com/cockroachdb/cockroach/commits/cfd53f62f038a06e34570f11ec02bc74dabd2aab

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1021046&tab=buildLog

[code]

[2018-11-21 16:13] SpeedyCoder commented on #32539
The message I'm seeing on all nodes is
[code]
Running a 3 node cluster in secure mode with version `v2.1.1`.

[2018-11-21 16:13] brucemcpherson commented on #32118
@damienhollis I agree that the only way to make the DB usable again was to restart - I had to delete all pods and let them restart, drop the DB and repopulate minus the alter validate statments. I couldn't drop the database whilst it was in its hung state (despite leaving it to try all night)

[2018-11-21 16:39] roncrdb commented on #32392
This issue is also happening on an onprem cluster, started occurring today, with the same `context canceled` error, waiting on debug zip to review logs.

[2018-11-21 16:56] drewdeally commented on #32515
thanks

[2018-11-21 17:58] mjibson commented on #32468
Looks like we never tested inverted indexes. We should probably fix this and backport to 2.1.

[2018-11-21 18:11] andreimatei commented on #32501
I think there's a good chance that @mjibson's speculation that a connection is being used concurrently across multiple go routines might be on the money. To the extent that you have visibility into the layers of your stack, keep an eye out for that.

[2018-11-21 18:12] BramGruneir commented on #32532
My best guess is that this is fallout from @lucy-zhang's latest change.

Lucy, can you investigate this?

[2018-11-21 18:14] BramGruneir commented on #32532
take a look in the artifacts -> hibernate log for (unexpected).

[2018-11-21 18:51] dt commented on #32118
Did you have you `VALIDATE CONSTRAINT` in the same transaction that created the table i.e. `BEGIN; CREATE...; ALTER .... VALIDATE..; COMIIT;` or just run on its own?

[2018-11-21 18:59] tbg opened #32540 "sql: INSERT with placeholders causes panic in plan_node_to_row_source"
https://sentry.io/cockroach-labs/cockroachdb/issues/772136028/?referrer=webhooks_plugin

conn_executor.go:670: panic while executing 1 statements: INSERT INTO _(_, _, _, _, _, _, _, _, _) VALUES ($1, $2, __more7__) RETURNING _._: caused by <redacted>

github.com/cockroachdb/cockroach/pkg/sql.(*Server).ServeConn.func1

type: *log.safeError
value: conn_executor.go:670: panic while executing 1 statem

[2018-11-21 19:17] cockroach-teamcity commented on #30886
SHA: https://github.com/cockroachdb/cockroach/commits/cfd53f62f038a06e34570f11ec02bc74dabd2aab

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1021046&tab=buildLog

[code]

[2018-11-21 19:22] jordanlewis commented on #30886
cc @asubiotto

[2018-11-21 19:46] damienhollis commented on #32118
@dt in our case, we were just reloading a dump as per your documentation, something like:

[2018-11-21 20:17] tbg commented on #13525
Has been unskipped for what, a month now? and is doing fine.

[2018-11-21 20:17] #13525 closed

[2018-11-21 20:41] jseldess opened #32542 "config: confusing naming of built-in replication zones"
The names of certain pre-configured replications zones are prefixed with `.`, namely, `.default`, `.meta`, `.system`, and `.liveness`:
[code]

However, when you try to change these zones, you can't use the `.` prefix:

[code]

You need to remove the `.` prefix for the change to succeed:

[code]

This is an awkward UX. I'd suggest that we either make `ALTER RANGE` require the `.` naming or change t

[2018-11-21 20:48] petermattis opened #32543 "ccl/backupccl: surprises due to late creation of restored table descriptor"
AFAICT (and correct me if this is wrong), RESTORE does not populate `system.descriptor` until the restore is finished. This has two surprising effects. The first is that a table being restored does not show up on the databases page in the admin UI. The second is that the first range of a table being restored is a merge candidate with the previous range because the merge queue does not see a need f

[2018-11-21 20:49] tbg commented on #32522
Large transactions are still a bad idea, though we weren't aware of them causing an outright memory blowup as seen here. My assumption right now is that this is a regression.

[2018-11-21 20:56] tbg commented on #32521
@andreimatei, could you take a look? Also note that this ran for 23s, which is insane.

[2018-11-21 21:31] vivekmenezes commented on #32118
[code]

I'm definitely able to reproduce a hanging VALIDATE CONSTRAINT on running the above transaction.

Now how does the above hang cause the cluster to hang. One theory is that this transaction is hanging but will continue to heartbeat itself thereby keeping the write intent on the table active. Any node trying to acquire a lease on this table will keep retrying until it has a higher priority a

[2018-11-21 21:40] damienhollis commented on #32118
I shared the dump we were loading with @tim-o

[2018-11-21 21:53] pungggi commented on #32415
@knz I can actually run cockroach no problems there, just the connection to dbeaver is not working because I cannot change the timezone. But i will change the timezone of the machine to be aligned with the driver (UTC) and then reset again.

[2018-11-21 21:56] #24011 closed

[2018-11-21 21:57] scottmas commented on #22652
Where is this feature at? It's unclear from this history....

[2018-11-21 22:09] petermattis opened #32545 "roachtest: getDiskUsageBytes can get confused"
While running `restore2TB/nodes=10` I periodically see: `diskusage: 21:55:25 restore.go:197: node #3: strconv.Atoi: parsing "du: cannot access '/mnt/data1/cockroach/001133.sst': No such file or directory\n18085084": invalid syntax`

I'm guessing that the `sst` mentioned in the message disappeared while `du` was running.

[2018-11-21 22:39] mrtracy commented on #32488
After coming to an understanding of the rangefeed code, I no longer think this can be easily solved with a reverse iterator, because the rangefeed is outputting both the catch up scan *and* active raft commands until the catchup is complete.  A buffer will be needed somewhere.

However, I think this buffer could have one of two behaviors:
1.) A store-and-sort buffer on the output of all events to

[2018-11-21 23:45] jiangjianxiao commented on #32528
@jordanlewis  updated explain.

[2018-11-21 23:47] brucemcpherson commented on #32118
Yes .. me too. I was simply executing the exact alter statements exported
by dumping a schéma.
2 alter statements, followed by 2 validate statements in the same sql file.
There were no transaction statements.

On Wed, Nov 21, 2018 at 7:46 PM damienhollis <notifications@github.com>
wrote:

[2018-11-22 02:37] rytaft commented on #32540
Not sure who should own this one... looks like a datatype mismatch:
https://github.com/cockroachdb/cockroach/blob/20cf97874eb2457296976a8ed76ac08dfa3e7644/pkg/sql/sqlbase/encoded_datum.go#L161
cc @knz, @jordanlewis

[2018-11-22 02:47] manigandham commented on #32522
Another update: reading the table with a `SELECT COUNT(*)` with a filter on that column after deleting millions rows in smaller batches also crashes the node. From the documentation, is that due to scanning through tombstones?

Our expectation is that updates and queries will always complete, even if slow. Is this inaccurate? Will there be hard limits to data updates? And if so, how would we appro

[2018-11-22 03:39] victorggsimida commented on #23706
@a-robinson  hi  i also want to use k8s with local storage to deploy  cockroach db.

I have some questions
1.  the cockroach db statefulset secure yaml file is suitable for k8s with local storage ?

2. do i need to rewrite the deploy yaml before create -f

3. any bugs or problem or performance descrese   with k8s local storage?

[2018-11-22 03:52] rytaft commented on #32528
Hi @jiangjianxiao could you also add your schema information? My guess from these plans is that `trades@ix_public_trades_trade_type` doesn't store `created_at` or `status`. If you add those columns to the index, you should be able to avoid the expensive index join.

[2018-11-22 04:41] jiangjianxiao commented on #32528
@rytaft

show create trades;

[code]

[2018-11-22 05:39] #32422 closed

[2018-11-22 06:40] cockroach-teamcity opened #32547 "storage: TestSplitTriggerRaftSnapshotRace failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/96f03c95d5078ebad7167c5cdb145e365978a008

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1022976&tab=buildLog

[code]

[2018-11-22 08:16] tbg commented on #32545
The method already handled this. Do you want the error message to be hidden?

[2018-11-22 10:10] tbg commented on #32547
This looks like the timeout-based mechanism didn't block things for long enough.

[2018-11-22 11:38] petermattis commented on #32545
Yeah, the error message is disconcerting if in fact it is being handled. Perhaps we should look for that error and retry a few times.

[2018-11-22 13:41] cockroach-teamcity commented on #32532
SHA: https://github.com/cockroachdb/cockroach/commits/96f03c95d5078ebad7167c5cdb145e365978a008

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1022695&tab=buildLog

[code]

[2018-11-22 14:55] cockroach-teamcity commented on #30832
SHA: https://github.com/cockroachdb/cockroach/commits/96f03c95d5078ebad7167c5cdb145e365978a008

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1022695&tab=buildLog

[code]

[2018-11-22 15:10] knz commented on #32540
[code]

[2018-11-22 15:11] knz commented on #32540
The report is for v2.1.0.

There are placeholders in this query. It may be that the actual type of the value passed via the placeholder differs from the type decided during planning. @jordanlewis thoughts?

[2018-11-22 15:22] jordanlewis commented on #32540
Hm, I'll take a look, though I doubt up front that this is directly related to PNTRS- more likely in my mind an issue with the types reported by returning. But either way definitely something suspicious.

[2018-11-22 15:30] cockroach-teamcity opened #32550 "roachtest: scaledata/jobcoordinator/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/96f03c95d5078ebad7167c5cdb145e365978a008

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1022695&tab=buildLog

[code]

[2018-11-22 15:38] bithavoc commented on #28845
@couchand This issue seems to have been solved https://github.com/cockroachdb/cockroach/search?l=TypeScript&q=ref%3D

Do you closed it with 2.2?

**/me** keeps looking for something else to contribute with.

[2018-11-22 15:48] knz opened #32551 "sql: support array slicing"
**Describe the solution you'd like**

Support array slicing e.g. `select abc[12:34]`

**Describe alternatives you've considered**

Enumerate the values `select array[abc[12], abc[13], abc[14] ..., abc[34]]`

[2018-11-22 15:51] knz opened #32552 "sql: support multi-dimensional arrays"
Forked from #2115.

Support multi-dimensional array types eg `create table t(a int[][])`

[2018-11-22 15:55] knz commented on #31989
Done:

- unimplemented.#8318 -> #27792
- unimplemented.#2115 -> #32551, #32552
- unimplemented.#20991 -> solved in v2.2
- unimplemented.#19472 -> issue re-opened (feature was not provided)

[2018-11-22 16:02] bithavoc commented on #19472
@hueypark are you going to work on the `system.comments` approach?

[2018-11-22 16:04] cockroach-teamcity commented on #32499
SHA: https://github.com/cockroachdb/cockroach/commits/96f03c95d5078ebad7167c5cdb145e365978a008

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1022695&tab=buildLog

[code]

[2018-11-22 16:10] knz commented on #9897
Earlier last month I created a duplicate issue  #31632 by mistake. Unfortunately, we have started to track telemetry with that new issue number, so I cannot do "the right thing" and close the newer issue in favor of the older one.

Instead I am closing this issue in reference of the newer one. Please update references to #9297 and point to  #31632 instead. Thank you.

[2018-11-22 16:12] #9897 closed

[2018-11-22 16:14] knz opened #32555 "sql: support ALTER TABLE ... RENAME CONSTRAINT"
**Describe the solution you'd like**

Enable renaming constraints with `ALTER TABLE ... RENAME CONSTRAINT`

https://www.postgresql.org/docs/10/sql-altertable.html

[2018-11-22 16:37] knz opened #32557 "sql: support INSERT ... ON CONFLICT(...) WHERE ..."
**Describe the solution you'd like**

Support a WHERE clause after the conflict column specification in INSERT...ON CONFLICT

This is the "WHERE index_predicate" sub-clause in the "conflict_target" clause of https://www.postgresql.org/docs/10/sql-insert.html.

[2018-11-22 17:01] knz opened #32559 "importccl: enable importing GEOMETRY columns from MySQL"
IMPORT with GEOMETRY columns should succeed.

Note: This will need solving #21286 as a prerequisite.

Epic CRDB-8825

Jira issue: CRDB-4732

[2018-11-22 17:07] knz opened #32560 "importccl: enable importing MySQL SET columns"
https://dev.mysql.com/doc/refman/5.7/en/set.html

Technically, the MySQL "SET" pseudo-type is a 64-bit bitmask under the hood. Each bit in the bitmask is given a name in the table descriptor.

This can be imported into cockroachdb as an integer.

Epic CRDB-8825

Jira issue: CRDB-4731

[2018-11-22 17:11] knz opened #32561 "importccl: enable importing MySQL BIT columns"
https://dev.mysql.com/doc/refman/5.7/en/bit-type.html

Under the hood MySQL's BIT is really just a 64-bit integer and behaves as such with regards to arithmetic.

This is *very* different from postgres' BIT type (a bit array of arbitrary length with special operators).

This type can be imported into CockroachDB as an integer.

Epic CRDB-8825

Jira issue: CRDB-4730

[2018-11-22 17:37] knz opened #32563 "sql: support pg_collation_for() and its COLLATION FOR () syntactic sugar"
https://www.postgresql.org/docs/10/functions-info.html

The built-in function `pg_catalog.pg_collation_for()` returns the collation of a collated string.

Additionally, the grammar recognizes a special syntax `COLLATION FOR (<expr>)` which is syntactic sugar for a call to `pg_collation_for()`.

[2018-11-22 17:53] knz opened #32564 "sql: support optional INTERVAL precision"
**Is your feature request related to a problem? Please describe.**

`CREATE TABLE t(x INTERVAL(6))` should work

See: https://www.postgresql.org/docs/11/static/datatype-datetime.html#DATATYPE-TIMEZONES

**Describe the solution you'd like**

MVP: An optional precision of 6 should be recognized and ignored

Optionally: support for other precisions than 6, for example 9 as is currently done in Cockro

[2018-11-22 18:00] knz commented on #32143
I just realized postgres also supports configuring the precision on intervals, see #32564.

[2018-11-22 18:12] knz opened #32565 "sql: support optional TIME precision"
**Is your feature request related to a problem? Please describe.**

`CREATE TABLE t(x TIME(6))` should work

See: https://www.postgresql.org/docs/11/static/datatype-datetime.html#DATATYPE-TIMEZONES

**Describe the solution you'd like**

MVP: An optional precision of 6 should be recognized and ignored (this is the default in CockroachDB)

Optionally: support for other precisions than 6.

**Workarou

[2018-11-22 18:13] antoniuslin opened #32566 "sql: JSONB vs JSON, and using json_object_keys()"
Hello,

First I'm not certain if this is a true bug, or just a (me) user-error. But I was going through a different problem for which I posed a question in [CockroachLabs forum](https://forum.cockroachlabs.com/t/built-in-json-functions-and-documentations/2192/2) , and [a new friend](https://forum.cockroachlabs.com/u/jesse/summary) was not able to reproduce my issue and suggested I open a GitHub is

[2018-11-22 18:37] knz opened #32567 "sql: support sequence CACHE options with parameter >1"
https://www.postgresql.org/docs/10/sql-createsequence.html

This could be implemented as a no-op.

Users are invited to document / report how this feature is used in their application.

Jira issue: CRDB-4728

[2018-11-22 19:03] knz commented on #32566
I think the problem is not related to the name of the types, but rather how CockroachDB handles the `jsonb_object_keys()` built-in function.

@justinj could you skim through the issue description and give your first impression? What is an adequate course of action here?

[2018-11-22 19:14] cockroach-teamcity commented on #32135
SHA: https://github.com/cockroachdb/cockroach/commits/96f03c95d5078ebad7167c5cdb145e365978a008

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1022695&tab=buildLog

[code]

[2018-11-22 20:08] antoniuslin commented on #32566
@knz Thanks for your response.
I'm adding an entry here in order to provide a less verbose reproduction steps that can be copy & pasted.
[code]

[2018-11-22 20:30] cockroach-teamcity commented on #30886
SHA: https://github.com/cockroachdb/cockroach/commits/96f03c95d5078ebad7167c5cdb145e365978a008

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1022695&tab=buildLog

[code]

[2018-11-22 21:11] knz commented on #32566
Oh I see it now. You seem to be using crdb 2.0. Also your query is (implicitly) correlated.

Crdb 2.0 cannot support this type of correlated subquery I think. Can you check with crdb 2.1?

Thanks
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-11-22 21:58] knz opened #32568 "ui: review the inclusion of Lato font files"
**Describe the problem**

The CockroachDB source repos embeds the Lato font files in WOFF format as-is.

This may violate their license.

From @couchand:

**Expected behavior**

The font license terms should be clarified at least in the `licenses/` directory.

[2018-11-23 01:00] nocduro commented on #26925
Hello, thought I would chime in with my experiences with this as a new cockroachdb user.

I was trying to experiment with cockroachdb instead of postgres with a webapp I'm making, and ran into the problem of INT not being equivalent to INT4, specifically in the postgres SERIAL type.

The app is written with Rust, and using the diesel ORM so the types are pretty strictly enforced.

This seems like

[2018-11-23 05:08] antoniuslin commented on #32566
Hi @knz,

You're right! It's a version issue, as in I was using 2.0.6 and didn't know 2.1 was already out. `JSONB` data typing now even shows up as `JSONB` as specified. Thanks so much!

*Snippets indicating the topical problem I raised in this ticket is non-existent with v2.1.1.*
[code]

A few side questions, if I may? (Please do let me know if I should move these questions to a forum instead: I

[2018-11-23 07:02] cockroach-teamcity opened #32569 "roachprod: panic: runtime error: index out of range"
SHA: https://github.com/cockroachdb/cockroach/commits/93632938e9ea7d86a56ec8423f2eff66c30965d5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1023975&tab=buildLog

[code]

[2018-11-23 07:08] cockroach-teamcity opened #32570 "roachtest: kv95/encrypt=false/nodes=1 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/93632938e9ea7d86a56ec8423f2eff66c30965d5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1023975&tab=buildLog

[code]

[2018-11-23 07:09] cockroach-teamcity opened #32571 "roachtest: kv95/encrypt=false/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/93632938e9ea7d86a56ec8423f2eff66c30965d5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1023975&tab=buildLog

[code]

[2018-11-23 07:32] jiangjianxiao commented on #32528
@rytaft

thanks, There is a noticeable improvement in the performance of creating multi-column indexes, I will close this issue. Looking forward to zig-zag

[2018-11-23 07:33] #32528 closed

[2018-11-23 09:48] knz commented on #32566
The `SHOW` commands are "porcelain" meant for use by humans and not automation. For automation use `information_schema` or `pg_catalog`. That won't change.

Existing objects won't change usually across releases. This time an exception was made because the naming was previously extremely irregular.

This has been discussed in #27098.

I do not understand what you mean.
The dialect is that of Postgr

[2018-11-23 10:20] tbg commented on #32510
Verified that the last run of import/tpch/nodes=4 doesn't have these messages.

[2018-11-23 10:20] #32510 closed

[2018-11-23 10:43] victorggsimida opened #32573 "Recovery cockroachdb to specific transaction"
**What is your situation?**

I know: cockroach db can use cockroach dump or select outfile  to dump data with a specific timestamp by using 'as of'.

But can I dump the data with specific transaction? and recovery the data to specific transaction state.

In mysql, we use mysqldump to dump data with binlog position and recovery to the binlog position.

Is there the same solution to cockroachdb

[2018-11-23 10:52] tbg commented on #32550
Network fluke.

[2018-11-23 10:52] #32550 closed

[2018-11-23 11:09] knz commented on #26925
@nocduro we are working on it.

In the meantime, please know that we have introduced a partial compatibility mode in CockroachDB, so you can use INT4 with a sequence for SERIAL. See for yourself:

[code]

[2018-11-23 11:10] knz commented on #26925
The gist of this is that you need 1) to set `experimental_serial_normalization` and 2) use INT4, SERIAL4 etc explicitly (the word "INT" without a size will still automatically translate to INT8).

Regarding your final note:

Please provide more information. If this is a bug we need to fix it.

[2018-11-23 11:14] tbg commented on #30832
^- OOM

[code]

[proffie.961.inuse_objects.pdf](https://github.com/cockroachdb/cockroach/files/2610509/proffie.961.inuse_objects.pdf)
[proffie.961.inuse_space.pdf](https://github.com/cockroachdb/cockroach/files/2610510/proffie.961.inuse_space.pdf)
[proffie.961.alloc_objects.pdf](https://github.com/cockroachdb/cockroach/files/2610511/proffie.961.alloc_objects.pdf)
[proffie.961.alloc_space.pdf](http

[2018-11-23 11:21] tbg commented on #32570
AWS fluke.

[2018-11-23 11:21] #32570 closed

[2018-11-23 11:45] tbg opened #32574 "storage: allocate NodeID via one-off RPC to initialized node"
Our handling of the NodeID is currently quite involved (and leaks into many places) because we pretty much require a working node to be set up before it can use its own KV store to request a NodeID.

There are two levels of improvement here. The first is that once Gossip is connected, and the Node is uninitialized, we use a one-off RPC `AllocateNodeID` which simply asks a remote node of our choosi

[2018-11-23 11:47] tbg commented on #31918
No, haven't seen this recently.

[2018-11-23 11:47] tbg commented on #32571
https://github.com/cockroachdb/cockroach/issues/32569

[2018-11-23 11:47] #32571 closed

[2018-11-23 13:08] cockroach-teamcity commented on #32532
SHA: https://github.com/cockroachdb/cockroach/commits/93632938e9ea7d86a56ec8423f2eff66c30965d5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1023971&tab=buildLog

[code]

[2018-11-23 13:29] tbg opened #32575 "storage: fix and unskip TestStoreRangeMergeSlowWatcher"
This test was skipped at introduction time in https://github.com/cockroachdb/cockroach/pull/30986#pullrequestreview-162325614, and still is.

[2018-11-23 14:55] cockroach-teamcity commented on #30832
SHA: https://github.com/cockroachdb/cockroach/commits/93632938e9ea7d86a56ec8423f2eff66c30965d5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1023971&tab=buildLog

[code]

[2018-11-23 15:54] cockroach-teamcity commented on #32499
SHA: https://github.com/cockroachdb/cockroach/commits/93632938e9ea7d86a56ec8423f2eff66c30965d5

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1023971&tab=buildLog

[code]

[2018-11-23 17:55] petermattis opened #32576 "kv: timeseries range stats are wildly over estimated"
While running `restore2TB` as a part #32538, I was looking for any range merges on the system. About an hour into the run I saw:

`I181123 17:29:34.543462 257031 storage/merge_queue.go:271  [n10,merge,s10,r5/4:/System/tsd{-/cr.sto…}] merging ranges: /System/tsd{-/cr.store.valcount/9/10s/2018-11-23T17:00:00Z} + /System/ts{d/cr.store.valcount/9/10s/2018-11-23T17:00:00Z-e} -> /System/ts{d-e}`

Shortl

[2018-11-23 18:19] petermattis commented on #32576
One thing to be aware of is that the MVCC stats are estimates for timeseries ranges. When a split occurs that stats are recomputed from scratch. I suspect we overestimate the size for timeseries ranges so after a split the two halves might be significantly smaller than the pre-split estimate.

[2018-11-23 18:39] antoniuslin commented on #32566
@knz
Lots of great and useful info.
Thanks so much!

[2018-11-23 18:39] #32566 closed

[2018-11-23 21:57] jordanlewis opened #32577 "opt: top-k sort is not accurately reported in EXPLAIN"
Given the simple table:

[code]

EXPECTED (with `optimizer=off`):

[code]

ACTUAL: (with `optimizer=on`):

[code]

The top-k strategy is more efficient than the full-sort strategy. We should be choosing it when possible (when there's a limit).

[2018-11-23 22:03] jordanlewis opened #32578 "opt: avoid estimated row counts of 0"
Given the simple table:

[code]

Check out the following two queries. I expect the output to look like the first one, always, and never the second one.

Good plan (only a single sort):

[code]

Bad plan (two sorts):

[code]

As far as I can tell, the table should already be sorted after the offset - so there should be no reason to put another sort in between the offset and the limit.

[2018-11-24 12:59] tbg opened #32579 "sentry: conn_executor.go:670: panic while executing 1 statements: INSERT INTO _(_, _) VALUES (_, _), (__more1__) ON CONFLICT (_) DO UPDATE SET _ = now(), _ = _._ || jsonb_build_object() RETURNING _ AS _, _: caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/775906171/?referrer=webhooks_plugin

conn_executor.go:670: panic while executing 1 statements: INSERT INTO _(_, _) VALUES (_, _), (__more1__) ON CONFLICT (_) DO UPDATE SET _ = now(), _ = _._ || jsonb_build_object() RETURNING _ AS _, _: caused by <redacted>

github.com/cockroachdb/cockroach/pkg/sql.(*Server).ServeConn.func1

type: *log.safeError
v

[2018-11-24 15:09] cockroach-teamcity commented on #30832
SHA: https://github.com/cockroachdb/cockroach/commits/1bcb46e7bf7c03e95128f44de8f24dbdc6a231f0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1024654&tab=buildLog

[code]

[2018-11-24 15:22] tbg opened #32580 "sentry: conn_executor.go:670: panic while executing 1 statements: INSERT INTO _(_, _) VALUES (_, _), (__more1__) ON CONFLICT (_) DO UPDATE SET _ = now(), _ = _._ || jsonb_build_object(_, (COALESCE(_._->>_, _)::FLOAT8) + _) RETURNING _ AS _, _: caused by <redacted>"
https://sentry.io/cockroach-labs/cockroachdb/issues/776010945/?referrer=webhooks_plugin

conn_executor.go:670: panic while executing 1 statements: INSERT INTO _(_, _) VALUES (_, _), (__more1__) ON CONFLICT (_) DO UPDATE SET _ = now(), _ = _._ || jsonb_build_object(_, (COALESCE(_._->>_, _)::FLOAT8) + _) RETURNING _ AS _, _: caused by <redacted>

github.com/cockroachdb/cockroach/pkg/sql.(*Server).Se

[2018-11-24 21:25] tomholub opened #32581 "kv: reduce log spam post-decommissioning of a node"
**Describe the problem**

I keep seeing warnings about a node that was decommissioned and taken offline. The node is showing as decommissioned in Admin UI (correctly).

If the connection needs to be retried periodically, logging INFO rather than WARNING would make sense for decommissioned nodes.

[code]

**To Reproduce**

1. 3 node cluster, all have each other's IPs in --join
2. Add 4th node, set

[2018-11-24 21:51] alfredherr commented on #16349
I'm running into the same issue when using Ecto in Elixir. The framework is emitting timestamp(0) which is rejected by Cockroach.  Can this feature be included?

[2018-11-25 16:09] vivekmenezes commented on #32530
I've been able to reproduce this problem. It's concerned with running more than one UPSERT statement on the same session during a schema change. The second UPSERT crashes because the first UPSERT doesn't clean up some state properly. I'll work on a solution and send it out for review sometime today

[2018-11-25 17:37] danhhz commented on #32488
I'd vote for a variation on (2) with two buffers inside the RangeFeed impl.

One buffer is used to buffer all "live" events while the catch up scan is finished.

For the catch up scan, instead of using a reverse iterator, we could use a normal forward iterator and a very small buffer. The invariant we need to maintain coming out of RangeFeed is only that each key is output in ascending timestamp o

[2018-11-25 22:36] nvanbenschoten opened #32582 "production: txn contention caused qps stall on adriatic"
Cockroach SHA: `4523f9819d2dde9b054fc8faf1568e107f130986`
Workload SHA: `f0d0c5a05470eb5dc63f8d78c4336025201c5cf5`

Between 11/17 1:30:00 and 11/19 18:00:00 we observed a 0 qps outage on adriatic due to a stuck transaction. Unlike https://github.com/cockroachdb/cockroach/issues/31823, qps dropped completely to 0 and the outage did not resolve itself on its own. The resolution only came when the lo

[2018-11-25 22:43] nvanbenschoten commented on #31823
I don't think we should re-open this because the symptoms were completely different. I opened #32582 to track the new issue.

[2018-11-25 22:49] nvanbenschoten commented on #32582
We know that txn `4abe0e25` was not in the `txnwait.Queue` because we were not able to see it using logspy and the `txnwait.Queue` is very chatty at high verbosities. One place it could have been stuck is the `contentionQueue`, which is completely silent if it is not performing cycle detection. We did see a number of goroutines stuck for the correct amount of time in the `contentionQueue`'s [main

[2018-11-25 23:20] nvanbenschoten opened #32583 "storage: acquire read latches instead of write latches during range splits"
Lifting the discussion from https://github.com/cockroachdb/cockroach/pull/14992#issuecomment-350491793 into its own issue.

We currently acquire write latches for the entire left-hand side and write-hand side of a range split. As a result, splits are very disruptive as they serialize with all other requests on a range. We should explore ways to make them less disruptive.

One way to accomplish thi

[2018-11-25 23:38] nvanbenschoten commented on #32427
I took a shot at this in this branch: [`nvanbenschoten/prepStmtPerf`](https://github.com/cockroachdb/cockroach/compare/master...nvanbenschoten:nvanbenschoten/prepStmtPerf). The approach was to only copy these `prepStmtNamespaces` when they were actually changed. What I didn't take into consideration is that their portals are almost always mutated because clients repeatedly bind with prepared state

[2018-11-26 00:01] nvanbenschoten commented on #30832
Yes that is new. It's almost certainly because of https://github.com/cockroachdb/cockroach/commit/5b1ad6864b61707a7f12f317b12a93d589dbbf4d#diff-c3bd9e9a650f348ddf8612d19debfe87R239, which wasn't intended to go into that change. I don't know of any issues with the btree implementation, but it clearly has a larger memory footprint than the llrb one. It should be resolved with #32584.

[2018-11-26 01:46] bdarnell commented on #32583
I think the proposal (at least in my head) was to use a non-MVCC read on the LHS while continuing to get a write latch on the RHS. This would of course only solve part of the problem, but it's much trickier to do anything for the RHS. I don't think we have any specific proposals for the RHS.

[2018-11-26 02:34] rytaft commented on #32581
cc @tbg @solongordon

[2018-11-26 02:36] rytaft commented on #32580
Looks like a duplicate of #32579

[2018-11-26 02:36] #32580 closed

[2018-11-26 02:41] jordanlewis commented on #32577
Hmm, actually, I think the top k sorter might be planned here after all, but the explain output doesn't show that. Either way, something to look into.

[2018-11-26 03:00] rytaft commented on #32579
cc @knz, @jordanlewis

[2018-11-26 03:03] rytaft commented on #32528
Glad to hear it!

[2018-11-26 03:03] andreimatei commented on #32427
I don't know; I don't know what the lifetimes of both portals or prepared statements is, and the docs unfortunately are not very clear.

[2018-11-26 03:04] jordanlewis commented on #32579
[code]

[2018-11-26 03:18] rytaft commented on #32537
Hi @miry sorry to hear you are having issues with the CockroachDB SQLAlchemy integration. Can you please give a detailed list of the steps you took to attempt the migration that caused the error message above?

[2018-11-26 04:06] awoods187 commented on #31409
I was hitting this last week trying to import tpc-c 10k on AWS. I know that @ajwerner has hit a few different times on aws on 50k

[2018-11-26 04:34] vivekmenezes opened #32586 "sql: Always set column Mutations (schema change) to nullable in ImmutableTableDescriptor"
After introducing ImmutableTableDescriptor as a new type, all columns that are in the mutations list can be marked as nullable in the ImmutableTableDescriptor. This is accurate in accepting that the column is still being backfilled and can be nullable.

If a column is not public it cannot be provided with a value from the outside. However internally computed values coming from default expression/c

[2018-11-26 05:02] derkan commented on #32524
@nvanbenschoten thanks for answer. I think size of `content` column causes this error as you mentioned. Not shown in DDL I've send before, but there are `status` and ` updated_on` columns which are updated frequently until job is completed. So should I make a different column family for `status,updated_on` or for `content`?

[2018-11-26 05:48] mjibson commented on #32529
Thanks. I'll take a look at some point.

[2018-11-26 09:06] knz commented on #32586
See my comments in https://github.com/cockroachdb/cockroach/pull/32585#discussion_r236168216 - I believe we should not allow INSERT and other mutations statements to insert NULLs in a column that was *declared* during CREATE as non-NULLable.

[2018-11-26 09:17] #31989 closed

[2018-11-26 09:21] tbg commented on #31373
Another one:

E181126 09:15:17.771651 1125 storage/queue.go:837  [n1,split,s1,r7/1:/Table/{SystemCon…-11}] unable to split [n1,s1,r7/1:/Table/{SystemCon…-11}] at key /Table/3/1/1/2/1: cannot split range at key /Table/3/1/1/2/1

This also registers as a failure in the split queue. This happens during initial cluster start in import/tpch/nodes=4 before the restore portion does anything interesting,

[2018-11-26 09:52] knz commented on #19472
@bithavoc yes it is being done in a new update to #32442.

[2018-11-26 09:58] knz commented on #32508
@jordanlewis @petermattis in which project should this issue land, in your opinion?

[2018-11-26 10:03] knz commented on #32573
@tim-o @rolandcrosby can you pick this up? we must figure out what the need is exactly

[2018-11-26 10:04] knz commented on #32542
@jseldess FWIW, the `.` indicates it is a range and not a database or table. If we removed the `.` the user would not know in the output of `SHOW ZONES` whether the name refers to a database or system range.

[2018-11-26 10:06] knz commented on #32542
Idea for a UX improvement: add an extra column in the output of SHOW that indicates the type of zone. The column would indicate "system range", "database" or "table" (and perhaps other things if we have them, eg partitions)

Then the "zone_name" column can drop the ".".

[2018-11-26 10:10] knz commented on #32448
@rolandscrosby @piyush-singh @kannanlakshmi I wasn't sure which area this best "sticks" to but I suspect all of you have something to say about this. This topic comes up *super often* and would probably deserve some attention -- either as a call out in docs / FAQs ("Why CockroachDB is this way") or some roadmapping for an enhancement, or both.

[2018-11-26 10:10] knz commented on #32398
Thank you for your suggestion!

[2018-11-26 10:13] knz commented on #32399
To fix the `tee` behavior we can use `| stdbuf -oL tee ...`

[2018-11-26 10:14] knz commented on #32399
will send patch

[2018-11-26 10:31] miry commented on #32537
@rytaft thanks for response.

I followed this [documentation](https://github.com/apache/incubator-airflow/tree/master/scripts/ci/kubernetes) with small modifications:

1. Updated Dockerfile to install cockroachdb via pip
1. Installed cockroachdb via Helm: `helm install --name db stable/cockroachdb`
1. Updated https://github.com/apache/incubator-airflow/blob/master/scripts/ci/kubernetes/kube/secret

[2018-11-26 10:33] knz commented on #32539
@roncrdb @tim-o please qualify further -- either we need a doc update or the issue description should highlight the desired behavior.

[2018-11-26 10:43] knz commented on #32537
@miry thanks for the extra details.

1) have you checked you installed Airflow with the postgres extension? This is not enabled by default. By default, Airflow is configured to operate with MySQL semantics, and would become confused with a postgres-like database.

Before we look at this it would be best if you could ensure that your Airflow setup works with a dummy PostgreSQL database, to verify t

[2018-11-26 10:45] knz commented on #32529
Note: I think the same problem would occur with SET DEFAULT.

[2018-11-26 10:49] miry commented on #32537
@rytaft It works nice with Postgresql.

[2018-11-26 10:50] miry commented on #32537
@rytaft Thanks for the tip. I will try to collect more logs.

[2018-11-26 11:15] knz commented on #32392
cc @dt @tbg

[2018-11-26 11:32] tbg commented on #32392
Question is if this cluster is perhaps already in a bad state. A `debug zip` would be useful (assuming this issue persists at the time that is taken).

[2018-11-26 12:11] gigatexal commented on #21085
Just wanted to add my request to have recursive CTEs supported and if accepted a timeline for when to expect it?

[2018-11-26 12:12] nvanbenschoten commented on #32524
Let's do it for `content`. Your schema will look something like:
[code]

You can even specify it like
[code]

because all unspecified columns will be added to the first column family.

[2018-11-26 12:14] nvanbenschoten commented on #32583
that's what I'm not understanding about how things currently work. We declare an MVCC write across the entire range, which means that we allow reads at lower timestamps on both the LHS and the RHS. How is that safe? I think it's because of the `readOnlyCmdMu`, but we seem to be ok with removing that.

[2018-11-26 12:59] cockroach-teamcity opened #32590 "teamcity: failed test: TestStoreRangeMergeSlowAbandonedFollower"
The following tests appear to have failed on master (test): TestStoreRangeMergeSlowAbandonedFollower

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestStoreRangeMergeSlowAbandonedFollower).

[#1025428](https://teamcity.cockroachdb.com/viewLog.html?buildId=1025428):

[code]

Please assign, take a look and update the issue accordingly

[2018-11-26 13:02] tbg commented on #32590
[code]

Haven't looked in detail, but could just have hit the 10s (?) timeout we have on this req.

[2018-11-26 13:58] jseldess commented on #32542
@knz, hmm, I don't think it's obvious at all that `.` = range, although I understand your point that we need users to somehow understand the target is not a db or table. But `.default` doesn't really point to a range either. It's all user data not constrained by other replication zones.

In any case, I like your idea to add another column clarifying the type of zone. It's already implied by the `A

[2018-11-26 14:01] jseldess commented on #32398
Thanks for reporting this, @slateraus. That particular example was extraneous and will be removed in https://github.com/cockroachdb/docs/pull/4087.

[2018-11-26 14:35] roncrdb commented on #32392
@tbg,

https://drive.google.com/open?id=1650EzNBA-PZtge6-i-_AcnfUdDKaXNG2 here's a link to the debug zip, let me know if you need me to look at anything in specific.

[2018-11-26 14:36] #32177 closed

[2018-11-26 14:41] knz opened #32592 "importccl: add the missing tests for unsupported mysql types"
The code to handle types in `mysqlColToCockroach` (`read_import_mysql.go`) has several error conditions that do not have unit tests yet.

The test should verify that CockroachDB indeed reports errors for unsupported column types, and that these errors are accompanied by suitable telemetry.

cc @rolandcrosby.

[2018-11-26 14:49] mdoleary opened #32593 "IO error: Failed to delete while purging index"
**Describe the problem**

We have a 3 node (version 2.1.0) cluster.  One of the nodes (n1) crashed running goroutine 97.  The only databases on the cluster are the system database and the StarTrek database.  No real activity yet.  The crash appeared to occur around 5:00 am during some maintenance routine.

**To Reproduce**

If possible, provide steps to reproduce the behavior:

1. Set up Cockroach

[2018-11-26 14:55] mdoleary commented on #32593
Here are the logs from the affected server:

[epu2016srv2-logs.zip](https://github.com/cockroachdb/cockroach/files/2616027/epu2016srv2-logs.zip)

[2018-11-26 14:55] mdoleary commented on #32593
Accidentally closed the issue

[2018-11-26 15:15] petermattis commented on #32508
Similar to #32427, I think this should land in SQL Execution for want of a better place.

[2018-11-26 15:17] couchand commented on #28845
@bithavoc yep, thanks.  Looks like that PR didn't have quite the right incantation for GitHub.  Are you particularly looking for a UI issue to help on?  Here are a couple candidates:

- https://github.com/cockroachdb/cockroach/issues/19520 (another API update, this one is Redux)
- https://github.com/cockroachdb/cockroach/issues/20921 (refactoring out a component for the common markup used for our

[2018-11-26 15:17] #28845 closed

[2018-11-26 15:22] #31990 closed

[2018-11-26 15:51] bdarnell commented on #32583
Hmm, that sounds like an oversight, then. Maybe it's not safe to remove readOnlyCmdMu without also changing splits to get non-mvcc write latches.

[2018-11-26 16:01] #31359 closed

[2018-11-26 16:14] vivekmenezes commented on #32269
https://github.com/cockroachdb/cockroach/pull/32364

[2018-11-26 16:14] vivekmenezes commented on #32269
@BramGruneir do you want to close this issue?

[2018-11-26 16:15] justinj opened #32595 "roachtest: port sqlsmith to go"
sqlsmith routinely finds issues in Cockroach, but there are a number of features of Cockroach that it doesn't test (anything not present in Postgres, for example). We should extend it to have broader coverage of Cockroach's features.

In particular, sqlsmith doesn't generate a schema. It would be helpful if it did so that it doesn't just run queries against virtual tables.

[2018-11-26 16:15] vivekmenezes commented on #30007
Is there any followup work remaining on this issue?

[2018-11-26 16:16] andreimatei commented on #32508
I have something cooking for the span creation and also something tangentially related for moving towards pooling different txn-related KV objects (around #30773).

[2018-11-26 16:17] vivekmenezes commented on #28146
@jordanlewis have you done any work on this issue? You can unassign yourself if you can't get to it.

[2018-11-26 16:19] jordanlewis commented on #28146
No, I haven't. I also missed the last time you pinged me on it for some reason - sorry about that. I don't think I can reasonably get to this any time soon.

[2018-11-26 16:20] vilterp commented on #30007
I took it for a spin and things seemed to work as promised. Wasn't able to find the time to construct more complicated scenarios that would cause failure modes like thrashing, conflict between different rebalancing methods, etc. Would be good to do that testing to shake out any issues, but not sure who has the bandwidth.

[2018-11-26 16:22] a-robinson commented on #30007
Yeah, from my perspective this never really got the adversarial testing I was hoping for. Including it in the QA rotation would be ideal, although I understand if other QA issues come first.

[2018-11-26 16:39] BramGruneir commented on #32269
Yep!  Done.  Now if only we could unskip the test.

Once it starts passing, I'd like to add more schemas to it from our workloads.

[2018-11-26 16:39] #32269 closed

[2018-11-26 16:46] vivekmenezes opened #32597 "qa: run RSG tests in the presence of a pending schema change"
It will be very valuable to run the RSG tests in the presence of a pending schema change.

This will involve adding a flag to add dumb column mutations to any table cached in the descriptor cache. That will result in columns mutations that are not actual mutations rolled out by the schema change manager but are exposed to all the DML operations.

[2018-11-26 16:47] andreimatei commented on #32511
Failures look like `condition failed to evaluate within 45s: got 99 replicas, want 98; details: map[2:5 3:5 14:5 16:5 4:5 17:6 1:7 7:5 11:5 13:5 15:5 18:5 5:1 6:5 9:5 10:5 8:5 12:5 19:5 20:5]`
And got another one here https://teamcity.cockroachdb.com/viewLog.html?buildId=1022416&buildTypeId=Cockroach_UnitTests

@ridwanmsharif is this something you might have touched?

[2018-11-26 16:48] vivekmenezes commented on #32597
related to #29517

[2018-11-26 16:59] a-robinson commented on #23706
1. Yes, although you'll have to make the few changes necessary in order to tell Kubernetes to use local volumes - https://kubernetes.io/docs/concepts/storage/volumes/#local
2. Yes, the changes outlined in the docs linked above.
3. Not that I know of, but as you can probably tell from the lack of updates on this issue, we haven't tried to vet them yet. If you try them, we (and the upstream Kubernet

[2018-11-26 17:15] ridwanmsharif commented on #32511
@andreimatei hmm I haven't seen this before ever. I did affect the `expectedReplicas` calculation as part of https://github.com/cockroachdb/cockroach/pull/30981. But that looks right to me still, but could maybe explain the off by one @benesch ?

[2018-11-26 17:18] vivekmenezes commented on #32595
One goal here could be to unskip the nightly sqlsmith tests; they are currently skipped.

@BramGruneir fyi

[2018-11-26 17:41] jordanlewis commented on #31843
This was fixed by http://cvsweb.netbsd.org/bsdweb.cgi/src/lib/libedit/terminal.c.diff?r1=1.33&r2=1.34&only_with_tag=MAIN&f=h, now we just need to find a way to vendor that library unconditionally, and not just on linux.

[2018-11-26 17:44] tim-o opened #32599 "SHOW SESSIONS does not show all active sessions"
**Describe the problem**

I'd expect that SHOW SESSIONS; would show all active sessions, including those initiated over jdbc or any other postgres:// string. However, this appears not to be the case. Locally, while running tests with dbeaver and running queries with Python, I'm only able to see my dbeaver connections.

A client reports that they're unable to see their jdbc connections with the att

[2018-11-26 17:45] tim-o commented on #32599
Picked sql-pgwire somewhat arbitrarily since I'm not sure which area this fits under; feel free to adjust.

[2018-11-26 17:48] a-robinson commented on #32599
This may not be it, but just in case it's worth noting that `SHOW SESSIONS` only shows sessions from the current user. If the different connection URLs are using different users, it's expected that they wouldn't show up.

[2018-11-26 17:54] slateraus commented on #32599
As per doco "No privileges are required to execute this statement. However, note that non-root users see only their own currently active sessions, wherease the root user sees all users' currently active sessions." I was running as ROOT.

[2018-11-26 18:00] nvanbenschoten commented on #32488
I like the approach @danhhz laid out in https://github.com/cockroachdb/cockroach/issues/32488#issuecomment-441457762 as well. However, we should still play around with a reverse iterator. It's difficult to gauge whether the additional key comparison required on every key will be cheaper than iterating in reverse at a lower level (which conceptually does something similar).

One additional optimiza

[2018-11-26 18:01] a-robinson commented on #32599
I'm not sure whether it's the docs or the implementation that's incorrect, but that's not how things work in my experience. cc @knz

[2018-11-26 18:09] andreimatei commented on #32511
In the second failure I posted, I think the discrepancy was bigger than an off by one.

[2018-11-26 18:22] andreimatei commented on #29569
@jordan, passing on to you :)
Trying to shed some failures from my plate.

[2018-11-26 18:24] andreimatei commented on #23445
@jordanlewis passing it over to you :)
Trying to shed some test failures.

[2018-11-26 18:34] andreimatei opened #32604 "failed test: bank/zerosum-splits because of "change replicas failed""
https://teamcity.cockroachdb.com/viewLog.html?buildId=1022401&problemId=2150
[code]
[Unit_Tests_roachtest_14471.log.zip](https://github.com/cockroachdb/cockroach/files/2616863/Unit_Tests_roachtest_14471.log.zip)
The failed TC run was for a comments-only PR.

There's also #32497 open for a different failure of the same test, and @petermattis seems to claim there that no failure of the test is repro

[2018-11-26 18:44] BramGruneir commented on #32532
2 new passing tests:

* org.hibernate.test.legacy.FooBarTest.testOnCascadeDelete
* org.hibernate.test.ondelete.OnDeleteTest.testJoinedSubclass

Of the 4 failing tests:

* org.hibernate.test.legacy.MasterDetailTest.testExample - fails due to an FK violation
* org.hibernate.test.legacy.MasterDetailTest.testSelfManyToOne - fails due to an FK violation
* org.hibernate.test.legacy.MultiTableTest.testMu

[2018-11-26 18:53] andy-kimball commented on #32577
@RaduBerinde, can you take a look?

[2018-11-26 18:56] andy-kimball commented on #32578
@RaduBerinde, can you take a look?

[2018-11-26 19:08] RaduBerinde commented on #32577
@jordanlewis the distsql planner doesn't look at `sortStrategy`.. The top K strategy is used automatically if the sort processor has a Limit.

The optimizer doesn't have any knowledge of this optimization currently. It should, at least from a costing perspective. But in practice, the distsql plan should be as desired in most cases.

[2018-11-26 19:21] RaduBerinde commented on #32578
The estimated row count after "offset 9999" is 0, which makes the sort "free", and the plan with the sort is considered first. There are two fixes (we probably want both):
 - add a constant cpu cost per operator (which would reflect the overhead of setting up the execution for the operator)
 - make the row count small but not 0; though I don't know exactly where this value would come from.

[code]

[2018-11-26 19:37] petermattis commented on #31974
The `RaftTombstone` inconsistency happened again: https://teamcity.cockroachdb.com/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=1025880&_focus=2820

Paging @spencerkimball

[2018-11-26 19:45] jordanlewis commented on #32577
Oh I see. Okay, yes, the distsql plan is correct - but the `explain` output isn't. We point people to that a lot, so we should really fix it if possible...

[2018-11-26 19:48] jordanlewis commented on #32577
Actually, perhaps we should just give up on trying to keep the strategies accurate in ordinary `explain`? I'm not really sure... It seems like our `explain` is logical-only, and `explain(distsql)` is physical. Perhaps over time we'll want to unify the two representations somehow.

[2018-11-26 19:58] nvanbenschoten commented on #32522
The memory blowup in the txn pipeliner is due to two issues. The first is that the `kv.transaction.write_pipelining_max_batch_size` currently defaults to 0, which means that a key-value batch will be pipelined, regardless of the number of operations that it performs. This doesn't play well with `sql.max{Insert/Update/Upsert/Delete}BatchSize`, which breaks large implicit SQL txns into non-1PC kv tx

[2018-11-26 19:59] RaduBerinde commented on #32577
I do think it's valuable to show this accurately. Note that the EXPLAIN also doesn't show the "streaming sort" (e.g. when we already have an ordering on `a` but we need one on `a,b`) which is distsql-only.

When the optimizer will know about these variants, it will set things up so they are shown accurately by EXPLAIN.

[2018-11-26 20:03] andreimatei opened #32607 "roachprod: missing flags if the aws tool is not configured"
If the aws tool doesn't exist, and moreover if it exists but it isn't properly configured, we have code that makes the aws flags magically disappear. This has given me grief - options disappearing is terrible UI :)

I wanted to turn everything into a runtime check, but I ran into this mysterious note which scared me, so I'd like to delegate to the expert.
https://github.com/cockroachdb/cockroach/b

[2018-11-26 20:15] tim-o commented on #32573
@victorggsimida, it'd be helpful if you could tell us more about the specific behavior you'd like cockroach to perform.

We do have [audit logging](https://www.cockroachlabs.com/docs/stable/experimental-audit.html), which will create a file containing every change made to a specified table. As you noted, we also allow users to [backup AS OF SYSTEM TIME, and with revision history](https://www.cockr

[2018-11-26 20:50] bobvawter commented on #32607
@andreimatei What behavior do you want if you specify an AWS-specific flag, but roachprod doesn't have AWS access?

Adding some kind of `aws.NoOpProvider` which always injects the Flags a-la https://github.com/cockroachdb/cockroach/blob/a7e13e8fdb1db2094e17c13d25215fb7b711313e/pkg/cmd/roachprod/vm/aws/aws.go#L305-L308, and stubs out the rest of the `vm.Provider` interface ought to do the trick if

[2018-11-26 20:56] andreimatei commented on #32607
The behavior I want is a runtime error saying that I need to setup whatever if the roachprod command I'm running needs to use the `aws` tool.

[2018-11-26 21:02] BramGruneir opened #32610 "sql: can't insert self reference"
I'm kind of surprised there isn't an issue for this yet.

[code]

This fails because we eagerly check the FKs instead of waiting into the end of the statement.  But even if we did, I think we would still run into #20041.
That being said, it might be possible to elide this FK check if the values match in the mutation path.

[2018-11-26 21:07] benesch commented on #32604
Root cause is #31287. See #32608 for deflaking in the meantime.

[2018-11-26 21:10] benesch commented on #32511
Indeed.

[code]

[2018-11-26 21:12] nvanbenschoten commented on #32239
@benesch we can close this, right?

[2018-11-26 21:13] benesch commented on #32239
Indeed. 🎉

[2018-11-26 21:13] #32239 closed

[2018-11-26 21:14] tim-o commented on #32515
@damienhollis - `RETRY_SERIALIZABLE` errors can occur when we detect that an open transaction would conflict with the attempted schema change. As in [this example](https://www.cockroachlabs.com/docs/stable/demo-serializable.html#scenario-on-cockroachdb) . As Drew noted, the exception is for create table statements.

The `SAVEPOINT` and `RELEASE SAVEPOINT` statements are important since the former

[2018-11-26 21:19] damienhollis commented on #32515
@tim-o - thanks for the info.  If you provide a private folder, I'll share the script with you.

[2018-11-26 21:30] jwh opened #32613 "Steps to produce working musl binaries?"
Hi,

I'm trying to produce a working binary on Alpine Linux (edge), however regardless of the build flags the following occurs:

Program received signal SIGSEGV, Segmentation fault.
__pthread_mutex_lock (m=0x10b79) at src/thread/pthread_mutex_lock.c:7
7       src/thread/pthread_mutex_lock.c: No such file or directory.
(gdb) bt
#0  __pthread_mutex_lock (m=0x10b79) at src/thread/pthread_mutex_lock.c

[2018-11-26 21:31] benesch commented on #32511
Heh, sorry @ridwanmsharif, but I'm going to punt this right back your way. :)

[code]

Seems to be a problem with load-based splitting.

[2018-11-26 21:41] benesch commented on #32613
Those binaries are produced with `build/builder.sh mkrelease linux-musl`. You'll need Docker installed to run that command, plus a few spare GB of disk space. It's a large container.

IIRC jemalloc profiling, which we enable by default, is broken with musl. When you use mkrelease we can detect that you're building against musl and disable profiling. See here: https://github.com/cockroachdb/cockroa

[2018-11-26 21:47] #32590 closed

[2018-11-26 22:01] #32532 closed

[2018-11-26 22:06] ridwanmsharif commented on #32511
Ahhhh about time load based splitting broke something. Looking into it.

[2018-11-26 22:12] rolandcrosby commented on #32573
@victorggsimida, if I'm reading your question correctly, it sounds like you're trying to take a backup of the state of your database at a specific point in linear history, in the same way that you'd specify an offset in a MySQL binlog or Postgres WAL. Because CockroachDB is a distributed database that runs on multiple nodes, and because it can tolerate some amount of clock discrepancies between no

[2018-11-26 22:15] #29268 closed

[2018-11-26 22:15] #32520 closed

[2018-11-26 22:18] tim-o commented on #32515
Actually, no need for further action on your part - I was out of the loop on a known issue, we're working with Flyway on this already.

[2018-11-26 22:22] joeholden commented on #32613
Hmm, I saw the issue mentioned in the comments but that doesn't seem to be the problem as a fix was committed and that line won't add --enable-prof if 'musl' is in the triple... does it need explicitly disabling?

[2018-11-26 22:33] benesch commented on #32613
Wait, is findstring true or false? I would expect it to be true given that target triple and thus `--enable-prof` would be correctly omitted. In which case, you're right, it must be something else.

Can you post you see without that define? If it's in the jemalloc build, for example, then we'd want to teach jemalloc's build system to set the define.

Does the binary in
https://binaries.cockroachdb

[2018-11-26 22:46] joeholden commented on #32613
It is correctly omitted (there was a commit that fixed this)

There is just an instance of strlcat, makes sense given the library it's in:

go build -o cockroachoss -v  -tags ' make x86_64_alpine_linux_musl' -ldflags '-X github.com/cockroachdb/cockroach/pkg/build.typ=development -extldflags "" -X "github.com/cockroachdb/cockroach/pkg/build.tag=v2.1.1" -X "github.com/cockroachdb/cockroach/pkg/build

[2018-11-26 23:03] benesch commented on #32613
Oh, I see, it's yet another problem caused by Go's underpowered build system. HAVE_STRLCPY is unconditionally defined (https://github.com/knz/go-libedit/blob/a0dcee88fe03ca2297674a87786dbe0f2991e1a2/unix/src/c-libedit/sys.h#L89) when it really needs to be detected at compile time. Let me think a little bit about how to solve that.

The only other thing that comes to mind is whether you're actually

[2018-11-26 23:06] joeholden commented on #32613
I double checked, the result is the same with or without a system jemalloc installed, that was my hunch as well....

[2018-11-26 23:14] manigandham commented on #32522
@nvanbenschoten

Somewhat reproducible. After crashing from the delete query, I restart the node then do run the `SELECT COUNT(*) WHERE X = Y` which either crashes the node again or takes an extremely long time. Single bigger node seems to finish the query vs smaller cluster nodes.

Here's a screenshot of a 17 minute query time. Running the same exact query again takes 44 seconds.

![screenshot_1]

[2018-11-26 23:42] joeholden commented on #32613
Interestingly I just got the following in the same environment using the builder.sh method:

[code]

Using 2.1.1, same as native build

[2018-11-27 00:10] benesch commented on #32613
Hmm, that’s the glibc build, not the musl build. What’s the mkrelease
command you ran?

On Mon, Nov 26, 2018 at 6:42 PM UR MUM <notifications@github.com> wrote:

[2018-11-27 01:08] andreimatei commented on #32495
I'm trying to make the bootstrap process create all the system ranges statically, but I hit a snag. The code around [here](https://github.com/cockroachdb/cockroach/blob/3c6fb83cd8d6ad8c70b7c7301f89479170058f84/pkg/server/node.go#L224) runs after the engine has been initialized with the static ranges, and it creates a hacked up `client.DB` using a "local sender" which sends everything to range 1 (i

[2018-11-27 02:20] joeholden commented on #32613
build/builder.sh mkrelease linux-musl - just copy/pasted the one from your previous comment, didn't actually look up the proper invocation, was curious more than anything

[2018-11-27 02:34] damienhollis opened #32622 "Dropping a database seems to hang forever"
**Describe the problem**

We have a database that is globally distributed and we just tried dropping a database and it seems to hang forever (1 hour so far).  The database has a few hundred thousand rows of data (I didn't actually check before executing the drop).  We have dropped a similar database (it was probably bigger) that was not globally distributed and it worked fine.

**To Reproduce**

E

[2018-11-27 04:33] bdarnell commented on #32495
I would love to get rid of this local sender. I think that the simplest approach (which is also compatible with the other changes you're making to this code, moving towards special casing bootstrap instead of using the full production code paths) is to write the correct sequence values directly to the engine instead of going through a client.DB.

`2.ii` (using a full DistSender) is also acceptable

[2018-11-27 07:11] slateraus commented on #32599
This works as I expect in version 2.1 but does not work in 2.1.1.
For example in 2.1 I can see my sessions as follows.

root@crdb:26257/lee> select node_id, user_name, session_id, last_active_query from [show sessions] where user_name = 'lee';
  node_id | user_name |            session_id            |                last_active_query
+---------+-----------+----------------------------------+------

[2018-11-27 07:15] slateraus commented on #32599
cockroach version
Build Tag:    v2.1.0
Build Time:   2018/10/30 12:32:34
Distribution: CCL
Platform:     linux amd64 (x86_64-unknown-linux-gnu)
Go Version:   go1.10.3
C Compiler:   gcc 6.3.0
Build SHA-1:  f0dd1dc2d2500155c8b36330ae3d6932c13c1027
Build Type:   release

[2018-11-27 07:20] jamiesonbecker commented on #31893
Also having this issue on one node of a bare-metal (no k8s) install. HA Proxy reports that the node is down and the web UI tries to come up but the stats are all throwing 503 - "all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: authentication handshake failed: io: read/write on closed pipe". CPU is 0.2 user, RAM is 309MB used out of 32GB, IO is aro

[2018-11-27 07:23] jie17 opened #32624 "sql: bump the advertised pg compat version to 9.6 or later"
The advertised pg compat version should be 9.6 or above.

Preferably 10 after enough client libraries / frameworks have been tested to confirm a high value does not disrupt compatibility.

Original issue description follows

----

**Describe the problem**

CockroachDB has a compatibility issue with JDBC driver.

CockroachDB claims to be Postgresql 9.5, however, in `PgDatabaseMetaData.java#getIndex

[2018-11-27 07:50] #32529 closed

[2018-11-27 08:11] jie17 opened #32625 "sql: prepared statement doesn't work with CHAR type"
**Describe the problem**

When using Spring Batch with the default job repository using cockroach as the backend, SQL error happens.

In my understanding, when cockroach receives a prepared statement, it will decode the arguments by `encoding.go#DecodeOidDatum`.

In #28951, the handling of string types is improved. However, in the switch case statement inside `DecodeOidDatum`, `oid.T_bpchar` is no

[2018-11-27 09:38] yangliang9004 opened #32626 "backupccl: support backing up data to Baidu Object Storage"
**Is your feature request related to a problem? Please describe.**
Now , CockroachDB can only back up data to Amazon S3, Azure, Google Cloud, HTTP, NFS/Local, S3-compatible services. But in China, most users will choose Baidu Cloud, Ali Cloud or Tencent Cloud to backup data. so  CockroachDB should really support Chinese cloud storage services.

**Describe the solution you'd like**
I suggest that C

[2018-11-27 10:56] knz commented on #32625
Thanks for your analysis!

[2018-11-27 10:57] knz commented on #32625
@mjibson could you have a look?

[2018-11-27 11:04] knz commented on #32624
Thank you for your analysis. Yes indeed this seems to be a shortcoming that needs to be corrected.

@awoods187 this will be needed for Spring compatibility and overall more compatibility with Java client.

[2018-11-27 11:08] knz commented on #32622
Thank you for your report!

@tim-o can you help qualify this further?

[2018-11-27 11:12] knz commented on #32593
@tbg perhaps you could have a look? a crash in fatalOnRaftReadyErr seems to be up your alley

[2018-11-27 11:13] knz commented on #32593
@mdoleary what queries were being issued to the cluster at the time of the crash?

[2018-11-27 11:14] knz commented on #32607
@andreimatei arguably you could issue the PR yourself:

[code]

[2018-11-27 11:17] knz commented on #32626
@rolandcrosby for triage and prioritization

[2018-11-27 12:42] knz commented on #32599
This behavior has probably been changed in #32253. Needs to be investigated.

[2018-11-27 12:44] knz commented on #32599
I have verified that indeed the `root` user has become unable to observe non-root sessions. This is a regression.

[2018-11-27 13:15] bobvawter commented on #26925
Status update:

Right now, I’ve explored three different ways of getting this INT change in:
1. Plumb EvalContext into everywhere that INT-as-a-type gets used:
  * https://github.com/cockroachdb/cockroach/compare/cfd53f62f038a06e34570f11ec02bc74dabd2aab...bobvawter:int4
  * I'm running into what appears to be type "erasure" in `opt` when converting from `coltypes.T -> types.T -> coltypes.T`
  * Th

[2018-11-27 13:57] petermattis opened #32631 "storage/engine: investigate data loss with FlushWAL"
https://github.com/cockroachdb/cockroach/pull/32605 reverted usage of FlushWAL (we're back to using the slightly slower SyncWAL) due to a privately reported test that experienced data corruption when a disk is filled up and then some space is freed. We need to replicate this scenario with a roachtest and then track down the source of the data loss. The symptoms of the data loss are Raft log corrup

[2018-11-27 14:01] knz commented on #32610
Can you explain how this issue is not a duplicate of #20041? they seem to exercise the same code path and produce the same error -- I don't see the difference.

[2018-11-27 14:20] mdoleary commented on #32593
Hi Kena,

No queries were being issued to the cluster.  The cluster was created for evaluation purposes and there is no application traffic even going to it yet.

Regards,

Melodie
O'Leary
Cleo  |
Senior Test Engineer I
Tel: 815-282-7808
Email: moleary@cleo.com
  |
Web: www.cleo.com
Harness the power of Cleo Integration Cloud to transform your business.
From: kena <notifications@github.com>
Sent:

[2018-11-27 14:50] tim-o commented on #32622
Hey @damienhollis,

Just a hunch but I think you might be running into #31818. Are you dropping and recreating the same database with the same names multiple times?

If so, assuming this is a testing cluster and you don't need to use AOST queries, you can try adjusting your [zone configurations](https://www.cockroachlabs.com/docs/stable/configure-replication-zones.html) so that `gc.ttlseconds` is

[2018-11-27 15:42] RaduBerinde commented on #32578
The specific case reported here is fixed, however I'm going to repurpose the issue to track the larger problem of 0 row counts.

We should avoid estimated row counts of 0 short of situations where we know it's exactly 0. A row count of 0 prevents the optimizer from making reasonable choices since operators have the same cost.

Note that in this example, without stats, we are subtracting a definite

[2018-11-27 16:05] roncrdb commented on #32517
Hey @knz,

This is impacting a customer with a contract. I have linked them tot his issue so they can directly speak with you or someone on the team.

[2018-11-27 16:06] tim-o commented on #32468
@mjibson who should we assign?

[2018-11-27 16:14] cockroach-teamcity opened #32637 "teamcity: failed test: TestSystemZoneConfigs"
The following tests appear to have failed on master (test): TestSystemZoneConfigs

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestSystemZoneConfigs).

[#1027026](https://teamcity.cockroachdb.com/viewLog.html?buildId=1027026):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-27 16:14] cockroach-teamcity opened #32638 "teamcity: failed test: 05-8:00"
The following tests appear to have failed on master (test): 05-8:00/ParseDate

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+05-8:00).

[#1027026](https://teamcity.cockroachdb.com/viewLog.html?buildId=1027026):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-27 16:21] bobvawter opened #32639 "sql: Grand Unified Type System"
This is a tracking issue for what would be quite a significant refactoring to unify the disparate typesystems embedded in cockroach.

Take the SQL INT4 type as it exists today:
* A semantic type: coltypes.TInt{Width:4},  “an integer that fits in 4 bytes”
* A computation type: types.TInt, “an integer to do math on”
* A protobuf type: ColumnType{ SemanticType: INT, Width: 32 }
* Multiple representat

[2018-11-27 16:24] knz commented on #26925
For the record my initial attempt went towards solution 2, then I got stuck in a different place than the one you identify. So my suspicion is that there will be multiple obstacles there.

For solution 1 you can look at https://github.com/bobvawter/cockroach/pull/1 - I think we can push forward there.

I do think we need to spend time on solution 3 no matter what. I'd just like that work direction

[2018-11-27 16:27] bobvawter opened #32640 "sql: Enhance visitation of AST nodes (or any other type hierarchy)"
Currently, only `tree.Expr` has any kind of visitor pattern implemented, and only a partial one at that.  The surface area for `tree.Expr` and `tree.Statement` is much too large to write visitor code for by hand.  This means that certain problems that would be straightforward to implement as a visitor pattern (printing, analysis) are left un-done or only partially implemented.

An example of a vis

[2018-11-27 16:40] cockroach-teamcity opened #32641 "teamcity: failed test: bank/node-restart"
The following tests appear to have failed on release-2.1 (roachtest): acceptance/bank/node-restart

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+bank/node-restart).

[#1027085](https://teamcity.cockroachdb.com/viewLog.html?buildId=1027085):

[code]

Please assign, take a look and update the issue accordingly.

[2018-11-27 16:49] #31911 closed

[2018-11-27 17:07] knz commented on #23580
Meeting notes from today

- for the case where is no interleaving / no geo-partitioning  [1]
  - mental model is that FK relations express "ownership". A column cannot be owned (conceptually) by more than one constraint. Hence the check.
  - in postgres the relationship is more "mechanical" - defines set predicates per-index (per group of columns, really) but overlapping sets are perfectly fine.

[2018-11-27 17:36] roncrdb commented on #32392
Is there anything else you need from me or the client @tbg?  They are asking for an update on this issue.

Thanks

[2018-11-27 17:38] andreimatei commented on #32607
@knz obviously the question is where to put those lines. I only want the thing to fail if I'm actually trying to use aws. Bob's PR is more involved.

[2018-11-27 17:45] #32607 closed

[2018-11-27 17:51] rolandcrosby commented on #32448
@manigandham Thanks for your feedback on this. As @knz mentions, difficulty setting up a secure cluster is a common pain point for CockroachDB users. In the short term, we are working on revamping our security documentation to make the setup process more approachable and less daunting. Though we don't have any changes to the secure cluster setup process on the roadmap for our next release, it's de

[2018-11-27 17:55] nvanbenschoten commented on #32367
@ajwerner and I were discussing this in person and arrived at a theory about what we thought might be going wrong. It turns out that it's not an issue because lease transfers [don't go through a `DistSender`](https://github.com/cockroachdb/cockroach/blob/36b0cd548bad5083616869a2fed23b8133a9d24b/pkg/storage/replica_range_lease.go#L323), but I figured I'd post it anyway as a discussion of what could

[2018-11-27 17:56] vilterp opened #32644 "ui: liveness indicator circles gone"
Expected: circles next to node names

Actual:
![image](https://user-images.githubusercontent.com/7341/49101232-b482c600-f243-11e8-937d-ffc54b32529f.png)

Probably caused by #32357

[2018-11-27 18:00] nvanbenschoten commented on #32406
We have decided to hold off on making this change. Adding a fast-path for `count(*)` is appealing, but doing so introduces a surprising cliff whenever a query misses the fast-path. It's also not something that most comparable OLTP databases do, so there's not an immediate need to do so in CockroachDB.