[2019-10-02 14:11] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/4dcfd7d8899d90dd1816153bf59b5df647c9bbd3

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1516560&tab=artifacts#/hibernate

[code]

[2019-10-02 14:23] jseldess opened #41255 "cli: Accessing `cockroach demo` from outside the shell"
In 19.2, you can spin up a multi-node in-memory cluster with `cockroach demo --nodes=n`. For each node, we choose a random rpc and sql port. Technically, this means you can run other `cockroach` commands from separate terminals, which is nice. This works well for `cockroach node ls`, `cockroach node status`, and even a separate SQL shell with `cockroach sql`.

However, `demo` might not have been d

[2019-10-02 14:27] jseldess commented on #41255
Example of how `quit` crashes an in-memory cluster:

[code]

In a new terminal:

[code]

[code]

[code]

Back in the `demo` terminal:

[code]

[2019-10-02 14:28] awoods187 commented on #41255
@rohany curious what you think here about level of effort on this type of request

[2019-10-02 14:28] cockroach-teamcity opened #41256 "sentry: conn_executor.go:431: panic while executing 1 statements: UPSERT INTO _(_, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _) VALUES ($1, $2, __more30__), (__more1__): caused by <redacted>"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1252824295/?referrer=webhooks_plugin

Panic message:

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob/25dd36f0139bf65b80758deeeccf35ee17ebd6

[2019-10-02 14:30] andreimatei commented on #38074
cc @rohany

[2019-10-02 14:33] knz commented on #41128
Input from @awoods187 and @bdarnell: continue with the same SHA.

[2019-10-02 14:36] rohany commented on #41255
I'm not sure, it seems like it mostly depends on whether the TestServers that cockroach demo uses under the hood were meant for this. @jordanlewis do you know if they are supposed to function like this?

[2019-10-02 14:43] solongordon commented on #41246
@rohany Did you encounter anything like this during your recent work?

I took a short initial look and didn't see an obvious reason that these outputs shouldn't agree. I wonder if the `ranges` table is susceptible to stale leaseholder caches.

[2019-10-02 14:50] knz commented on #41128
Note I have checked the cluster health at http://mjibson-release-250f4c36de2b88eff443cf9be9cd5d2759312c88-0001.roachprod.crdb.io:26258/#/metrics/overview/cluster

The cluster displays a performance anomaly for the period up to and including Sept 30.

Then yesterday (Oct 1) Nathan uploaded a new binary with the fix from #41220 (and other fixes) which demonstrates that the anomaly disappears. **Note

[2019-10-02 14:53] RaduBerinde commented on #41245
Part of #40797.

[2019-10-02 14:59] jordanlewis commented on #41245
oops, I see

[2019-10-02 14:59] #41245 closed

[2019-10-02 15:00] knz commented on #41128
@dt about the `clearrange` tests:

[2019-10-02 15:01] knz commented on #41128
@dt about the `restore2TB` test:

[2019-10-02 15:12] awoods187 opened #41258 "sql: warn users that sequences are slower than using UUID"
In our docs we write:

https://www.cockroachlabs.com/docs/stable/create-sequence.html#considerations

This is great information but many users will not read the docs in advance or understand why usign sequences/sequential ids are slower in CRDB. They also may not be aware that better alternatives exist. We should return a warning in the SQL shell when users create these types of patterns:

[code]

[2019-10-02 15:15] rohany commented on #38074
yeah this is definitely an issue with the *num_replicas == 0 being the subzone placeholder sentinel. I would want to do suggestion 2 (introduce a flag or something about whether a zone is a placeholder or not), but that doesn't seem backwards compatible. Doing suggestion 1 seems like it will be a fine option for now. When we update a zone, we can set the num_replicas field to nil if num_replicas i

[2019-10-02 15:21] awoods187 opened #41259 "sql: use the CBO to auto-detect needed indexes/unnecessary indexes"
The CBO is an incredible tool for query planning. It's capable of evaluating hundreds of logically equivalent query plans through its memo structure by representing a forest of query plans compactly so that we can explore alternative query plans efficiently.

The CBO could create virtual indexes on all of the columns in the table and detect if they lead to dramatically improved query plans through

[2019-10-02 15:21] awoods187 commented on #41259
@andy-kimball and @RaduBerinde here is a mini-write up of this idea

[2019-10-02 15:22] nvanbenschoten commented on #41206
It looks like this is fixed. Thanks for the help @knz and @RaduBerinde.

<img width="978" alt="Screen Shot 2019-10-02 at 11 19 12 AM" src="https://user-images.githubusercontent.com/5438456/66057510-da819280-e506-11e9-8c09-a9a375ffb9ac.png">

<img width="980" alt="Screen Shot 2019-10-02 at 11 19 23 AM" src="https://user-images.githubusercontent.com/5438456/66057516-dce3ec80-e506-11e9-9029-2044a7343

[2019-10-02 15:22] #41206 closed

[2019-10-02 15:26] jordanlewis commented on #40779
@lucy-zhang did you manage to make headway on this by any chance?

[2019-10-02 15:28] cockroach-teamcity opened #41260 "sentry: conn_executor.go:442: panic while executing 1 statements: SELECT crdb_internal.force_panic(_): caused by <redacted>"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1252919778/?referrer=webhooks_plugin

Panic message:

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob/250f4c36de2b88eff443cf9be9cd5d2759312c

[2019-10-02 15:43] rohany commented on #41246
I've never seen anything like this either

[2019-10-02 15:46] andreimatei commented on #38074
I don't know anything about anything, but I think it's time we do away with the concept of "placeholder" zones completely now that we have cascading zone configs. Hopefully if that concept goes away, this issue goes away.

[2019-10-02 15:47] rohany commented on #38074
I agree as well, but I don't know enough to estimate the consequences of that. I think we should do suggestion 1 for 19.2, and then look to remove subzone placeholders after the release

[2019-10-02 15:53] knz commented on #41128
@irfansharif and @andreimatei do not have anything to say on the remaining roachtest failure.

So I did go and investigate the log files. I am not seeing errors in the CockroachDB logs themselves other than the expected "cannot connect to node" (the node being shut down under chaos).

@bdarnell says "go"

[2019-10-02 16:05] solongordon commented on #41246
I'll take a deeper look. @roncrdb would it be possible to have the user restart the node they're querying against and then run the `ranges` query again? That would help suss out if the problem is related to caching.

[2019-10-02 16:07] knz commented on #41128
The version is tagged, the binaries are uploaded, the docker image works, so from engineering the release is ready to go.
The release notes PR is here: https://github.com/cockroachdb/docs/pull/5250

Handing this off to docs.

[2019-10-02 16:09] andreimatei commented on #41246
Don't think so. Looking at the view definition you can see that it uses the `crdb_internal.lease_holder()` builtin, which sends a `LeaseInfo` request. That request is routed to the leaseholder or, in case it's running in an `ReadConsistency: roachpb.INCONSISTENT` batch, any replica (but that does not appear to be the case for the builtin).

@roncrdb, can you find an example range that's not where

[2019-10-02 17:43] #41260 closed

[2019-10-02 17:56] lucy-zhang commented on #40935
The good news is that I don't think we actually have a write skew problem. @jordanlewis and I figured out that the API I was using to run that SELECT query was returning results being streamed back before we hit a transaction retry error. I fixed the test to catch errors and ran it a few times, and didn't get any erroneous rows, so I think we're fine.

So the most likely explanation is that some p

[2019-10-02 18:59] lucy-zhang commented on #40779
Not really. As expected, I was able to reproduce it reliably by dropping a table and waiting until it's deleted from `system.descriptor`, so I think the problem is that the lease manager (and maybe `system.leases`?) doesn't become aware of dropped tables and doesn't stop attempting to refresh their leases. But I'm not sure how serious of a problem this is.

I'm planning to get back to investigatin

[2019-10-02 19:10] jordanlewis opened #41264 "sql: add support for pg_catalog.pg_available_extensions"
Needed for ActiveRecord.

[2019-10-02 19:36] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/4dcfd7d8899d90dd1816153bf59b5df647c9bbd3

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1516560&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-02 20:34] mjibson commented on #39727
Our new beta is out finally: https://www.cockroachlabs.com/docs/releases/v19.2.0-beta.20190930.html

[2019-10-02 20:42] RaduBerinde commented on #36226
@rytaft this is the same as #38716 - can you confirm that #41250 fixes the case in this issue as well? (maybe add it as a test)

[2019-10-02 20:49] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/4ae9892838aaf1df1f38bb8dd6bb8849adfaf16a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1516578&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-02 20:52] dt opened #41265 "storage/engine: surface compaction health in admin UI"
TL;DR: hook up time series recording of L0 file count and estimated_pending_compaction_bytes.

In debugging bulk-ingestion slowdowns, we eventually figured out that lots of out ingestions were being back pressured due to L0 file count, however beyond that, that on the node where L0 was filling up, files were going to L0 because compaction was unable to keep up and actually empty the lower levels.

[2019-10-02 20:53] lucy-zhang commented on #40779
@pbardea and I looked at this a little more today. I spoke too soon in my earlier comment, and it seems like the problem is more straightforward: We create a schema changer to GC the table, and the schema changer deletes the row for that table from `system.descriptor` and *then* tries to look it up. Paul is working on a fix.

[2019-10-02 20:55] pbardea commented on #40779
Also, it seems like it loops because we swallow the error in the case that the table descriptor is not found and thus never remove it from the map of schema changers to run on GC.

[2019-10-02 22:30] awoods187 commented on #38074
Glad we are tackling this. I think fixing this in the short-term is a good idea and we can take our time on the longer-term solution.

[2019-10-03 02:29] jordanlewis opened #41269 "sql: add django examples-orms app"
Add a Django example to the examples-orms repo.

[2019-10-03 05:13] cockroach-teamcity commented on #39726
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/import/tpcc/warehouses=1000/nodes=4

[code]

[2019-10-03 05:14] cockroach-teamcity commented on #41178
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/acceptance/decommission

[code]

[2019-10-03 05:14] cockroach-teamcity commented on #41180
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/acceptance/gossip/peerings

[code]

[2019-10-03 05:14] cockroach-teamcity commented on #41177
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/cdc/bank

[code]

[2019-10-03 05:15] cockroach-teamcity commented on #33660
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/hotspotsplits/nodes=4

[code]

[2019-10-03 05:15] cockroach-teamcity commented on #41166
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/acceptance/gossip/restart-node-one

[code]

[2019-10-03 05:23] cockroach-teamcity commented on #39094
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518477&tab=buildLog

[code]

[2019-10-03 05:55] cockroach-teamcity commented on #37716
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/cdc/crdb-chaos/rangefeed=true

[code]

[2019-10-03 07:24] cockroach-teamcity commented on #41123
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/clearrange/checks=false

[code]

[2019-10-03 08:16] knz commented on #40779
Wait does it mean that in 19.1 and previous versions, if a user drops a table the following happens:
- the descriptor is never removed from system.descriptors (merely from system.namespace)
- there is a schema changer created, that will run forever attempting to look up a descriptor and not finding it?

? If so that bug will need a backport, and we may discover performance improvments in several p

[2019-10-03 09:21] cockroach-teamcity commented on #40359
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-03 10:35] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/39112effea3100d1c678e88319199d2d017f930e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518434&tab=artifacts#/hibernate

[code]

[2019-10-03 10:55] cockroach-teamcity commented on #40935
SHA: https://github.com/cockroachdb/cockroach/commits/39112effea3100d1c678e88319199d2d017f930e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518434&tab=artifacts#/schemachange/mixed/tpcc

[code]

[2019-10-03 12:54] cockroach-teamcity commented on #40935
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/schemachange/mixed/tpcc

[code]

[2019-10-03 13:00] hazcod opened #41270 "Connect to cluster from Go?"
**Is your feature request related to a problem? Please describe.**
I have a 3-node cockroach cluster using the preferred docker-compose for swarm approach.
When connecting to cockroach from `go-pg`, how do I define multiple nodes?
If I only define one, the benefit of a cluster is moot. Writing my own client-based load balancing is complex.

**Describe the solution you'd like**
A load balancer-like

[2019-10-03 13:50] petermattis opened #41271 "storage: Store.Capacity: panic: ... makeslice: cap out of range"
The [`clearrange/checks=false`](https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&buildTypeId=Cockroach_Nightlies_WorkloadNightly&tab=testsInfo) roachtest failed last night. It passed the import phase, and in the `drop bank table` phase one of the nodes died unexpectedly with:

[code]

Probably a simple error going on there. I'll take a quick look, though I'm happy for someone else to

[2019-10-03 13:55] petermattis commented on #41271
`runtime.makeslice(0x3a18180, 0x0, 0xffffffffffffffff, 0xd8106d)`

I believe this corresponds to the `make` call on this line:
[code]

If I'm reading the arguments correctly, we've passed `0` for the length and `-1` for the capacity. How can `replicaCount` be `-1`? I think this passed beyond my quick look.

Cc @tbg and @nvanbenschoten for triage.

[2019-10-03 14:06] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/hibernate

[code]

[2019-10-03 14:29] #41128 closed

[2019-10-03 14:34] nvanbenschoten commented on #41271
This `-1` is coming from the `s.metrics.ReplicaCount` `Gauge`. We increment this metric in the following locations:
https://github.com/cockroachdb/cockroach/blob/1ed03c9811f01fef31950a5cb75a7b591af6fc26/pkg/storage/store.go#L1359
https://github.com/cockroachdb/cockroach/blob/1ed03c9811f01fef31950a5cb75a7b591af6fc26/pkg/storage/store_create_replica.go#L366
https://github.com/cockroachdb/cockroach/b

[2019-10-03 14:37] nvanbenschoten commented on #41271
The increment in `store_create_replica.go` is in `maybeMarkReplicaInitializedLocked`, which is during the transition from an uninitialized replica to an initialized replica. The second decrement in `store_remove_replica.go` is in `removeUninitializedReplicaRaftMuLocked`. This is inconsistent. Do we count uninitialized replicas in this metric or not?

[2019-10-03 14:42] nvanbenschoten commented on #41271
I don't think we're intending to. I think this was just wrong:
https://github.com/cockroachdb/cockroach/commit/20201150f4fc83d826045f23c07abba73b1756bc#diff-f053cdaf591941e579feecd64a66ab07R2779

I'll put together a fix with a test for this.

[2019-10-03 14:46] nvanbenschoten commented on #41271
Unfortunately, the comment on this metric only mentioned "reserved replicas", so I see how we got this wrong:
https://github.com/cockroachdb/cockroach/blob/1ed03c9811f01fef31950a5cb75a7b591af6fc26/pkg/storage/metrics.go#L971

[2019-10-03 15:15] #38074 closed

[2019-10-03 15:21] danhhz commented on #37716
Okay, so this max latency failure is definitely interesting and worth looking into, but not now. It does seem to always get itself started back up, just taking much longer than we'd expect (this assertion really should be around 2m, but we've upped it to try and reduce flakes). I don't think we get a lot of value from running this every night, especially while cdc is not under active development.

[2019-10-03 15:22] rohany opened #41273 "sql: Support bit_or and bit_and aggregates like postgres"
These aggregates are used in the django tests and are unsupported currently.

https://www.postgresql.org/docs/9.1/functions-aggregate.html

[2019-10-03 15:25] rohany opened #41274 "sql: Support aggregate functions for statistics"
Postgres has a good number of aggregate functions for statistics that we currently don't support -- https://www.postgresql.org/docs/9.1/functions-aggregate.html. These functions are offered by Django.

To implement these, add your code to `pkg/sql/sem/builtins/aggregate_builtins.go`

- [x] corr()
- [x] covar_pop()
- [x] covar_samp()
- [x] regr_avgx()
- [x] regr_avgy()
- [x] regr_count()
- [x] regr

[2019-10-03 15:44] rohany opened #41276 "sql: Support the `citext` type"
Django makes use of the `citext` type in postgres, which we don't support -- https://www.postgresql.org/docs/9.1/citext.html.

[2019-10-03 16:08] mjibson opened #41277 "sql: column family difference with fakedist-vec-off"
The sql logictest TestLogic/fakedist-vec-off/edge test fails under column family randomization. I'm not able to get a repro due to that test mode having a special span resolver that is not normally programmable.

[2019-10-03 16:09] pbardea commented on #40779
After further investigation it looks like I was wrong. Because we swallow the error we eventually go down the "successfully completed schema change" code path and do remove the schema change.

It does seem like we should not log the the table is not an object when in fact it was a table and deleted.

[2019-10-03 16:33] rohany opened #41280 "sql: Support comparisons between arrays"
Postgres arrays allow for comparison operators (<, >, ...) -- https://www.postgresql.org/docs/9.2/functions-array.html. These are used by Django as well.

[2019-10-03 16:35] rohany commented on #41280
Additinonally, we would want to support the IN / NOT IN operators.

[2019-10-03 16:41] rohany opened #41282 "sql: Support range types like postgres"
Postgres supports range types, which are used by django. We don't currently support these -- https://www.postgresql.org/docs/9.3/rangetypes.html.

[2019-10-03 16:41] mjibson opened #41283 "sql: column family difference in fakedist with dates"
The datetime sqllogic test fails under fakedist-metadata and fakedist-disk sometimes during column family randomization. May be the same as #41277.

[2019-10-03 16:52] rohany opened #41284 "sql: Support the postgres `hstore` type"
Postgres supports an `hstore` type, which is used in Django -- https://www.postgresql.org/docs/9.0/hstore.html. We don't currently support this, though it seems very similar to the jsonb type.

[2019-10-03 17:06] rohany opened #41285 "sql: support remainder of the postgres trigram module (pg_trgm)"
The postgres trigram module (https://www.postgresql.org/docs/9.6/pgtrgm.html) is used for various kind of text search applications. A good chunk of it is supported in CockroachDB 22.2 (see below list of functionality), but not everything yet.

**Supported in CockroachDB 22.2:**
- [x] similarity(), show_trgm()
- [x] text % text
- [x] pg_trgm.similarity_threshold
- [x] trigram gin inverted indexes
-

[2019-10-03 17:14] neeral commented on #41242
What are the next steps here @petermattis @ajkr ?

[2019-10-03 17:16] petermattis commented on #41242
@neeral We're chasing down a lead that perhaps #37427 could be a problem here. What version of Linux are you running. The behavior of `i_generation` seems to be different depending on the version of Linux. Sometimes it increments, sometimes it a random 32-bit number. The latter is problematic as collisions can occur much quicker than the incrementing style.

[2019-10-03 17:16] jseldess opened #41286 "Pre-populate region coordinates for major clouds"
Previously, to get the Node Map to work properly, you'd have to [manually insert coordinates into the `system.locations` table](https://www.cockroachlabs.com/docs/stable/enable-node-map.html#step-4-set-the-latitudes-and-longitudes-for-the-localities). However, recently, we pre-populated some region coordinates to work with `cockroach demo --nodes=n` out of the box.

It'd be great to pre-populate t

[2019-10-03 17:18] petermattis commented on #41242
Even knowing the version of Linux might not be sufficient. Can you run the program below on one of the machines in your cluster and provide the output:

[code]

[2019-10-03 17:19] awoods187 commented on #41286
cc @rohany

[2019-10-03 17:21] andreimatei opened #41287 "util/log: report log dir in log.Fatal output"
When logictests logs are redirected and a `log.Fatal()` happens, you're left in the dark about where the logs are.
We have code that prints some dirs after a panic, but that doesn't run after `log.Fatal()`.
https://github.com/cockroachdb/cockroach/blob/c097a16427f65e9070991f062716d222ea5903fe/pkg/util/log/test_log_scope.go#L120

Can we print the logs dir in the beginning of the tests?

[2019-10-03 17:28] rohany opened #41288 "sql: Support advanced text search like postgres"
Postgres has some advanced text search types and features that Django uses that we we don't support --
https://www.postgresql.org/docs/10/functions-textsearch.html
https://www.postgresql.org/docs/10/datatype-textsearch.html

This includes the `tsvector` type and operations on it.

[2019-10-03 17:41] #39994 closed

[2019-10-03 17:43] rohany opened #41290 "sql: Support hash indexes"
Postgres has support for hash indexes `https://www.postgresql.org/docs/current/indexes-types.html`, `https://www.postgresql.org/docs/current/sql-createindex.html`, which is unsupported right now.

[2019-10-03 17:44] rohany commented on #41290
I think this is a duplicate of #39340.

[2019-10-03 17:44] #41290 closed

[2019-10-03 17:46] dt commented on #38794
optimistically closing as fixed by #41263

[2019-10-03 17:46] #38794 closed

[2019-10-03 17:47] rohany opened #41292 "sql: Support GIST/SPGIST indexes"
Postgres has support for GIST and SPGIST indexes https://www.postgresql.org/docs/current/indexes-types.html, https://www.postgresql.org/docs/current/sql-createindex.html, which is unsupported right now. These are used in the Django test suite.

[2019-10-03 17:48] dt commented on #40149
Haven't seen this in a month and don't have the logs so closing for inactivity.

[2019-10-03 17:48] #40149 closed

[2019-10-03 17:53] petermattis commented on #41292
@rohany Can you elaborate on how they are used? Support GiST and SP-GiST is a non-starter from my understanding of how they work.

[2019-10-03 17:53] rohany opened #41293 "sql: Support BRIN indexes"
Postgres has support for BRIN indexes (https://www.postgresql.org/docs/9.5/brin-intro.html), which are used by django. We currently do not support these.

[2019-10-03 17:56] rohany commented on #41292
As of now they are just used in some tests in the djano test suites (some tests just want to create GIST indexes). We are going through and triaging the test failures, so I just wanted to have an issue tracking these to blacklist tests in the future.

[2019-10-03 18:01] rohany opened #41294 "sql: Support `using btree` postgres index syntax"
Postgres allows for users to specify the kind of index they want when creating an index. The postgres btree index type is similar to the indexes we currently create, but we just don't support the `using btree` syntax.

[2019-10-03 18:01] ajwerner commented on #41225
I hit this so I'll take it.

[2019-10-03 18:06] cockroach-teamcity commented on #41166
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/acceptance/gossip/restart

[code]

[2019-10-03 18:12] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/1ed03c9811f01fef31950a5cb75a7b591af6fc26

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518416&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-03 18:13] pbardea commented on #41009
Going to take a look to see if I can repro and get a profile for the import with and without direct ingestion.

[2019-10-03 18:15] neeral commented on #41242
Linux version: 4.15.0-58 with some patches

Output of the program
[code]

[2019-10-03 18:16] jordanlewis opened #41295 "sql: determine flakiness for and unskip sqlalchemy tests in examples-orms"
The SQLAlchemy tests in examples-orms were flaky at one point in time. Determine why they're flaky and unskip if possible.

[2019-10-03 18:17] jordanlewis opened #41296 "sql: create blacklist for sqlalchemy tests"
Add a blacklist for the sqlalchemy tests so they can be included in the aggregation added in #41252.

[2019-10-03 18:19] jordanlewis opened #41297 "sql: add blacklist for go pg orm"
Run tests suite for https://github.com/go-pg/pg and add a blacklist so the test failures can be included in the aggregation provided by #41252.

[2019-10-03 18:20] jordanlewis opened #41298 "sql: add blacklist for lib/pq"
Run test suites for lib/pq and create a blacklist that can be included in the aggregation provided by #41252.

[2019-10-03 18:52] ajwerner commented on #40980
This test still fails sometimes even with #41119

It seems happens if we get stuck with a node with a removed learner that never hears about its removal. The replica GC queue in this case is very conservative (10 days!) about checking whether we should remove this replica. I'm inclined to add a relatively short timeout period to check whether we should check on the status of a learner. Note learne

[2019-10-03 18:56] rohany opened #41299 "sql: Support `unaccent()`"
`unaccent` is a text search module that removes accents from text -- https://www.postgresql.org/docs/9.6/unaccent.html. We currently don't support this, and it occurs in Django's postgres tests.

[2019-10-03 19:06] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/39112effea3100d1c678e88319199d2d017f930e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518434&tab=artifacts#/clearrange/checks=true

[code]

[2019-10-03 19:35] mattcrdb opened #41302 "Export into CSV query hangs, completes successfully when run on its own."
**Describe the problem**

A customer’s csv export is hanging on 19.1.4. The query contains some joins. The query itself executes in 15ms - however returns 0 rows. we’ve tested a much more naive version of the same query (which also returns 0 rows), and the export does not hang (it succeeds)

DDL, Simple and more complex queries and explains are in https://cockroachdb.zendesk.com/agent/tickets/3605

[2019-10-03 19:38] RoachietheSupportRoach commented on #41302
Zendesk ticket #[3605](https://cockroachdb.zendesk.com/agent/tickets/3605) has been linked to this issue.

[2019-10-03 19:45] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/39112effea3100d1c678e88319199d2d017f930e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1518434&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-03 19:51] #41085 closed

[2019-10-03 19:55] cockroach-teamcity opened #41304 "sentry: (0) column_type_encoding.go:704: mismatched type %q vs %q for column %q | types.tInt; sqlbase.ColumnType_SemanticType; string (1) statement: IMPORT PGDUMP _ WITH _ (see stack traces in additional data)"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1255037430/?referrer=webhooks_plugin

Panic message:

(1) statement: IMPORT PGDUMP _ WITH _
(see stack traces in additional data)

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https:/

[2019-10-03 20:19] awoods187 opened #41305 "sql: lack of dynamic resizing makes large commands hard to read in the SQL shell"
Consider the new command:
`SHOW PARTITIONS FROM TABLE rides;`

Now that it has the full_zone_config information it doesn't fit into the shell's window size:
![image](https://user-images.githubusercontent.com/22278911/66161073-81465b80-e5f9-11e9-8250-f2915dd283cb.png)

No amount of resizing bigger or smaller makes it easy to read.

We need to resize it with smaller text or otherwise make it easy fo

[2019-10-03 20:21] awoods187 commented on #41305
Note you can make the window smaller with cmd -:
![image](https://user-images.githubusercontent.com/22278911/66161266-e8641000-e5f9-11e9-9188-655ee2e5d3f8.png)

[2019-10-03 20:25] awoods187 commented on #41305
We could improve wrapping to keep the data in one column altogether instead of splitting it up:
Instead of two lines of"
constraints = '[+region=us-w
est, +az=2]',

We could make that stay together on the second line:
[blank]
constraints = '[+region=us-west, +az=2]'

[2019-10-03 20:36] ajwerner commented on #40796
This is still open due to the not-yet-merged Homebrew PR. I've gotten my hands on a mac and am working on it now.

[2019-10-03 21:00] dt commented on #41009
note that @nvanbenschoten just found (and fixed) a significant memory leak in the RocksDB logging. I didn't see it in Andy's profile above though.

[2019-10-03 21:08] dt commented on #41304
I'm pretty sure this isn't a panic, but that something in @knz's errors refactor is _reporting_ some import errors as if they were -- perhaps intentionally since this error is of type `NewAssertionErrorf`

That said, without the import file to reproduce this, I don't think we can do much. Hopefully we get a user error report with a reproduction at some point.

[2019-10-03 21:08] #41304 closed

[2019-10-03 21:12] roncrdb commented on #41246
@andreimatei

I reached out to the user, he has been a bit busy these last few days so he hasn't been able to get back to me, but as soon as he does I'll update you.

[2019-10-03 21:41] dt commented on #41302
before 19.2, `EXPORT` doesn't use the optimizer. Does the query complete in 15ms _with the optimizer off_?

If so, we'd need a debug zip ideally (or at the very least a goroutine dump on every node) to debug why it is hanging.

[2019-10-03 21:46] mattcrdb commented on #41302
From the ticket:
[code]

[Here](https://cockroachlabs.sendsafely.com/receive/?thread=USME-355E&packageCode=LgHkbM3JSnPyTyICvhC2vGaqY9zohWl60nW03vJu0Zw#keyCode=zNcqYIzUD_KEkaPBd47udGHwP9iKKe7K1SnR0x0Irbk) Is the debug zip. The oncall credentials will work for access.

Thank you,
Matt

[2019-10-03 21:50] dt commented on #41302
Huh, looking at this debug zip, it looks like it was grabbed _after_ the EXPORT was cancelled? I don't see it in the running queries. Ideally we'd grab one _while_ the EXPORT is hung (i.e. after 20-30s) so that we can see where it is stuck.

[2019-10-03 21:52] mattcrdb commented on #41302
Thanks for taking a look, I will get back to the customer asking him to provide that and will update you.

[2019-10-03 22:21] RaduBerinde commented on #26709
Another example from @jordanlewis:
[code]

[2019-10-03 22:52] andreimatei commented on #41225
hit also on https://teamcity.cockroachdb.com/viewLog.html?buildId=1520410&tab=buildResultsDiv&buildTypeId=Cockroach_UnitTests_Roachtest

Release blocker?

[2019-10-03 23:37] tbg opened #41309 "sql: measure client-gateway latency"
@ajwerner just figured out that a performance regression we were seeing in our nightly tests was caused by cluster reuse in which the workload node would be in a different AZ than the cockroach node, resulting in a higher client-server latency. We couldn't figure this out from anything in our UI, though in hindsight the p50 exec latency should've reflected it.

Either way, we suspect that in globa

[2019-10-03 23:54] lucy-zhang commented on #40935
I added some logging around errors from the `InternalExecutor`, and it turns out that `InternalExecutor.QueryRow()` _sometimes_ returns a `TransactionRetryWithProtoRefreshError` to the caller (https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/check.go#L279). In those cases, the entire `VALIDATE CONSTRAINT` transaction seems to be getting retried correctly, because we just keep propagati

[2019-10-04 00:34] hollinwilkins commented on #39255
Hey, can we reopen this issue. I am actively getting this error. It is causing clients to not be able to connect to the database, and when I look in the UI, none of my databases are listed.

[2019-10-04 00:38] hollinwilkins commented on #39255
@ricardocrdb Also, when I go to the "Jobs" tab in the UI, the spinner spins forever and never loads. Looks like it is stuck on this API call: _admin/v1/jobs?status=&type=0&limit=50

Running version: v19.1.2
Running in Kubernetes
Deployed using stable helm chart
Insecure mode

Please help, it doesn't look like any data was lost, but I cannot access the cluster from and client.

[2019-10-04 00:43] hollinwilkins commented on #39255
Funny enough, I just deleted all pods, let them come back up, and it seems to be working fine now. If that happens again in the future, how can I help you debug it? Any debug information I could save anywhere?

[2019-10-04 00:44] hollinwilkins commented on #39255
Spoke too soon, it is still happening. I do have access to my databases now from JDBC postgres driver.

[2019-10-04 01:44] #40653 closed

[2019-10-04 01:55] jseldess opened #41311 "panic: runtime error: makeslice: cap out of range"
9-node roachprod cluster running the latest beta (v19.2.0-beta.20190930), with MovR running on separate VMs in each region. Node 2 panicked.

To access node:

[code]

Excerpt from the logs:

[code]

Full logs attached:
[node2.zip](https://github.com/cockroachdb/cockroach/files/3688659/node2.zip)

[2019-10-04 01:56] RaduBerinde commented on #26709
PG docs:

So the column is accepted if the PK of the base table it is coming from is in the grouping list. In our case this would be the `ColumnMeta.Table`.
https://github.com/postgres/postgres/blob/master/src/backend/parser/parse_agg.c
https://github.com/postgres/postgres/blob/master/src/backend/catalog/pg_constraint.c

An alternative would be to use our internal FDs. These are a superset of this

[2019-10-04 02:03] jseldess commented on #41311
Lifetime extended for 100h in case people want to poke around.

[2019-10-04 02:08] isaactwong opened #41312 "Multi Region RoachPerf test is not rendering output."
## Summary
The daily multi-region tpcc test "tpccbench/nodes=9/cpu=4/multi-region" is running, as there are logs from the run, and the test passes. But the output is not rendered in roach-perf.

## Steps to reproduce
1. Go to roach-perf and look up the test "tpccbench/nodes=9/cpu=4/multi-region"
2. The graph is blank.
3. Look at the logs for "tpccbench/nodes=9/cpu=4/multi-region" and verify the te

[2019-10-04 02:12] andy-kimball commented on #41311
@ajkr, could I get you to look at this one? Looks like the `ReplicaCount` metric value is somehow a really huge number?? Jesse's extended the cluster in case you need to access it.

[2019-10-04 02:29] nvanbenschoten commented on #41311
This is a duplicate of #41271, which I have a patch out (https://github.com/cockroachdb/cockroach/pull/41278) to fix.

@jseldess you can go ahead and kill that cluster.

[2019-10-04 02:29] #41311 closed

[2019-10-04 02:32] nvanbenschoten opened #41313 "teamcity: failed test: TestLogic/fakedist-disk/upsert"
[code]

From https://teamcity.cockroachdb.com/viewLog.html?buildId=1520459&buildTypeId=Cockroach_UnitTests.

This seems bad. `a` is the primary key so there should never be more than one row returned.

@jordanlewis could I assign you to triage this within your team?

[2019-10-04 02:35] jordanlewis commented on #41313
I bet this is the new column family randomizer at work, cc @mjibson. Probably there's a bug with column families here.

[2019-10-04 02:46] mjibson commented on #41313
Definitely that. Probably #41277.

[2019-10-04 02:54] jordanlewis opened #41314 "sql: implement pg_get_serial_sequence builtin"
This builtin gets the name of the sequence that a serial, smallserial or bigserial column uses. https://www.postgresql.org/docs/9.2/functions-info.html

ActiveRecord uses this. Should be easy enough to implement.

@arulajmani can you take this on since you've been poking so much at serial + sequence stuff?

[2019-10-04 04:15] jordanlewis commented on #41313
Here's the repro. It only works with `fakedist` configs. Not sure what that means yet.

[code]

Here's the distsql plan for the failing query when it fails:

https://cockroachdb.github.io/distsqlplan/decode.html#eJykkF9LwzAUxd_9FOE-Z7Tp3gLCQCoOdJNu4IMUyZrLKHRJvElAGf3u0vRhf5gy9ank3Hvu-fXswb93IGFVPpZ3a7Zh99XyiUXnkcIbYYhkWrNlLw9lVTLFbpkADsZqXKgdepCvMAhTqDk4sg16b2mQ92lprj9A5hxa42IY5JpDYwlB7iG0oUOQsFab

[2019-10-04 04:17] jordanlewis commented on #41313
@solongordon could I get this into your queue?

[2019-10-04 04:42] jordanlewis opened #41316 "sql: add support for COMMENT ON INDEX"
We did several other COMMENT syntaxes - this one seems still missing.

@hueypark interested? :)

[2019-10-04 05:02] danielsonjh commented on #39727
Just gave it a try and it works as expected, thanks!

[2019-10-04 05:02] #39727 closed

[2019-10-04 05:06] jordanlewis commented on #41294
I think this is actually already supported.

[code]

[2019-10-04 05:07] nvanbenschoten opened #41317 "storage: merge less aggressively after load-based splitting"
We're currently very aggressive about merging away split points due to load-based splitting immediately after the load is shut off. This can be an issue for benchmarking because splits created during a ramp-up period are often merged away before the workload begins running. This means that the system is not immediately ready for the workload when it does begin running.

Here's an example where loa

[2019-10-04 05:29] cockroach-teamcity commented on #38417
SHA: https://github.com/cockroachdb/cockroach/commits/445ec411db8cde8cc090c7ffcd7ac70be9b21954

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520692&tab=artifacts#/cancel/tpcc/distsql/w=10,nodes=3

[code]

[2019-10-04 05:39] cockroach-teamcity opened #41318 "teamcity: failed test: TestComposeGSS"
The following tests appear to have failed on release-19.1 (acceptance): TestComposeGSS

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestComposeGSS).

[#1520707](https://teamcity.cockroachdb.com/viewLog.html?buildId=1520707):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-04 05:52] cockroach-teamcity opened #41319 "teamcity: failed test: TestComposeGSS"
The following tests appear to have failed on master (acceptance): TestComposeGSS

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestComposeGSS).

[#1520689](https://teamcity.cockroachdb.com/viewLog.html?buildId=1520689):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-04 06:03] cockroach-teamcity commented on #35044
SHA: https://github.com/cockroachdb/cockroach/commits/948a00e7b418b82d5421ad6aa0d651d7e9eeec91

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1521140&tab=buildLog

[code]

[2019-10-04 06:25] nvanbenschoten opened #41320 "sql: allow deleteRangeNode to autoCommit transactions"
`deleteRangeNode` currently has the following restriction:
https://github.com/cockroachdb/cockroach/blob/445ec411db8cde8cc090c7ffcd7ac70be9b21954/pkg/sql/delete_range.go#L29-L31

This has huge performance implications, as it means that no point `DELETE` statement can run as a 1PC transaction. This results in roughly a 50% performance hit for delete-heavy workloads on tables without secondary index

[2019-10-04 06:34] nvanbenschoten commented on #41320
It does look like this is new as of v19.2. This is a pretty bad regression. I think it's probably a release blocker.

[code]

[2019-10-04 06:37] cockroach-teamcity opened #41321 "roachtest: interleavedpartitioned failed"
SHA: https://github.com/cockroachdb/cockroach/commits/445ec411db8cde8cc090c7ffcd7ac70be9b21954

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520692&tab=artifacts#/interleavedpartitioned

[code]

[2019-10-04 06:42] cockroach-teamcity opened #41322 "sql/logictest: TestLogic failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/445ec411db8cde8cc090c7ffcd7ac70be9b21954

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1521061&tab=buildLog

[code]

[2019-10-04 07:27] cockroach-teamcity commented on #41123
SHA: https://github.com/cockroachdb/cockroach/commits/445ec411db8cde8cc090c7ffcd7ac70be9b21954

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520692&tab=artifacts#/clearrange/checks=false

[code]

[2019-10-04 09:47] cockroach-teamcity commented on #39618
SHA: https://github.com/cockroachdb/cockroach/commits/948a00e7b418b82d5421ad6aa0d651d7e9eeec91

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520710&tab=artifacts#/scaledata/filesystem_simulator/nodes=6

[code]

[2019-10-04 10:09] cockroach-teamcity commented on #37815
SHA: https://github.com/cockroachdb/cockroach/commits/948a00e7b418b82d5421ad6aa0d651d7e9eeec91

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520710&tab=artifacts#/schemachange/invertedindex

[code]

[2019-10-04 10:30] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/948a00e7b418b82d5421ad6aa0d651d7e9eeec91

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520710&tab=artifacts#/hibernate

[code]

[2019-10-04 10:36] cockroach-teamcity commented on #40935
SHA: https://github.com/cockroachdb/cockroach/commits/948a00e7b418b82d5421ad6aa0d651d7e9eeec91

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520710&tab=artifacts#/schemachange/mixed/tpcc

[code]

[2019-10-04 12:22] jordanlewis commented on #41320
Wow, good catch, glad you noticed this. We kind of had tests for this, but I overwrote them in my patch because it seemed like they were specific to interleaved tables (the tests were in files named `interleaved`). I'll try to fix it.

[2019-10-04 12:26] tbg commented on #37716
(Fixed the issue name - I think putting `[skipped]` at the front probably isn't going to work well with our tooling that uses the prefix as a scope)

[2019-10-04 12:27] tbg commented on #41317
Are you saying that these splits should use a larger sticky bit?

[2019-10-04 12:28] tbg commented on #41317
Hmm, no, you're not saying that. Even if a split happened 10 hours ago and the load dropped just now, you want to hold off on the merge. It sounds like it could be awkward to achieve that.

[2019-10-04 12:33] jordanlewis commented on #41320
Actually, I don't see what you mean - how could you avoid doing a 2pc transaction in this case?

What would happen if you ran `CommitInBatch` on a batch that didn't finish?

[2019-10-04 12:46] jseldess commented on #41311
Thanks, @nvanbenschoten. I kept the cluster running overnight, and another node crashed, seemingly for the same reason. At least the logs show the same panic message. Is this panic supposed to occur so frequently?

[2019-10-04 12:50] jordanlewis commented on #41320
I put up a strawman PR that doesn't work for the reason that I mentioned. Maybe I'm just missing something about what you said.

[2019-10-04 14:00] ajwerner commented on #41225
I think we need to expect relocate range to fail sometimes. Updating the testing logic seems sufficient.

[2019-10-04 14:01] jordanlewis commented on #41319
Duplicate of #41318.

[2019-10-04 14:01] #41319 closed

[2019-10-04 14:02] jordanlewis commented on #41318
@mjibson would you be able to take a look at this? It's flaking on a lot of builds right now.

[2019-10-04 14:05] hueypark commented on #41316
@jordanlewis Thank you for letting me know.  I'll be working next week. Can you assign me?

[2019-10-04 14:26] rohany commented on #41294
hmm the error message made it seem like we didn't -- i'll take another look at it.

[2019-10-04 14:37] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/445ec411db8cde8cc090c7ffcd7ac70be9b21954

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520692&tab=artifacts#/hibernate

[code]

[2019-10-04 15:26] darinpp opened #41328 "Incorrect count of total replicas for AllocatorAdd"
**Describe the problem**

https://github.com/cockroachdb/cockroach/commit/dd5053e introduces a bug where the count of the total replicas after adding a new one is incorrect as it only takes into account the live replicas. This is different than 19.1 where all the replicas are counted. The bug leads to a situation where we would decide to add a new replica to a range with 1 dead and 2 live replicas

[2019-10-04 15:37] mjibson commented on #41318
Looking.

[2019-10-04 15:39] jordanlewis commented on #41318
In fact, it seems to be failing on *every* build right now? I am guessing something is broken in the infrastructure. This should definitely be skipped for the time being.

[2019-10-04 15:40] mjibson commented on #41318
Making a PR now to skip it.

[2019-10-04 15:59] danhhz commented on #37716
Whoops, for some reason I specifically remember you telling me that it worked as long as it was contained in the title (not just a prefix). Anyway, thanks for fixing it! Is this written down anywhere?

[2019-10-04 15:59] ajwerner commented on #37815
Lucy I'm going to take this off your hands. This answer is that there are cases where this might legitimately be an ambiguous error but they're pretty far-fetched and require very specific partitioning and message reordering. I want to understand why this happens. It's interesting that it happened back in may.

[2019-10-04 16:04] tbg commented on #37716
No, and I'm not even aware that anyone else does it (but I like it). It
does work for the issue poster as long as it's somewhere in the title, but
we also have roachdash and other tools that parse the title, and they may
or may not get confused by mangling the prefix.

[2019-10-04 16:59] RaduBerinde opened #41331 "opt: incorrect "column must appear in GROUP BY" error with CTEs"
I was playing around with these recursive CTEs: https://malisper.me/generating-fractals-with-postgres-escape-time-fractals/#targetText=CTEs%20effectively%20give%20you%20a,the%20query%20into%20smaller%20pieces.&targetText=After%20running%20that%20query%20Postgres,of%20that%20query%20as%20numbers

They are using `ORDER BY` inside the CTEs instead of in the outside query. I tried to fix that but I hi

[2019-10-04 17:09] RaduBerinde commented on #41331
Oh, never mind, this is an implicit aggregation, silly me.

[2019-10-04 17:09] #41331 closed

[2019-10-04 17:19] vijyendra opened #41332 "pq: result is ambiguous (error=unable to dial n13: breaker open [exhausted])"
**PG_DUMP Failed with unable to dial n13**

Trying to load PGDUMP File for postgres database:

**To Reproduce**

As mentioned on cockroachdb documentation, tried to load the pgdump file using:
IMPORT PGDUMP 'https://s3-us-west-1.amazonaws.com/cockroachdb-movr/datasets/employees-db/pg_dump/employees-full.sql.gz';

If possible, provide steps to reproduce the behavior:

1. Set up CockroachDB cluster

[2019-10-04 17:32] jordanlewis opened #41333 "sql: support missing JSON numeric scalar casts"
It should be possible to cast JSON scalars to their corresponding SQL types, but it currently is not possible.

We should support:

JSON numeric -> int
JSON numeric -> float
JSON numeric -> decimal
JSON numeric -> string

This change should be pretty straightforward - `CastExpr.Eval` should be edited in `eval.go` to add the missing cases, and tests added to `pkg/sql/sem/tree/testdata/eval/cast`.

[2019-10-04 17:54] rafiss opened #41335 "sql: support pgwire query cancellation"
Postgres docs describe how `BackendKeyData` is initialized by the DB on startup and sent to the client so it can be used for cancellation requests later.

https://www.postgresql.org/docs/12/protocol-flow.html

[code]

CockroachDB has a separate [cancel query syntax](https://www.cockroachlabs.com/docs/stable/cancel-query.html). For increased compatibility, we should support the Postgres version too

[2019-10-04 18:32] andreimatei commented on #41173
I was wrong; I was confused by the code. We do not currently mix a Root with any Leaves. We use a leaf on the gateway if there's remote flows. In fact we use a leaf on the gateway sometimes even if there's no remote flows but the planning wanted to distribute the flow (but it didn't actually end up distributing anything).

[2019-10-04 18:32] #41173 closed

[2019-10-04 18:39] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/948a00e7b418b82d5421ad6aa0d651d7e9eeec91

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520710&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-04 18:40] ajwerner commented on #38040
I can pick this up, seems like something low risk we should try to slip into 19.2.

[2019-10-04 19:04] nvanbenschoten commented on #41317
Well, I think using a sticky bit would be a quick way to improve what we have here, even if it doesn't get us all the way there. Ideally, though, there would be some memory about historical load on a range.

[2019-10-04 20:29] tbg commented on #12768
My new god query is

[code]

This lists every range that entered a >3x replicated state. I'm running `tpccbench/nodes=9/cpu=4/multi-region` right now to verify that I'm not seeing any of them (other than the ones related to the system ranges).

[2019-10-04 20:32] cockroach-teamcity opened #41338 "teamcity: failed test: TestGossipNoForwardSelf"
The following tests appear to have failed on master (test): TestGossipNoForwardSelf

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestGossipNoForwardSelf).

[#1522491](https://teamcity.cockroachdb.com/viewLog.html?buildId=1522491):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-04 20:59] nvanbenschoten commented on #41311
It's new as of last week, so it's not clear how frequently we expect to hit it.

[2019-10-04 21:17] #41271 closed

[2019-10-04 21:37] #40980 closed

[2019-10-04 22:01] awoods187 opened #41340 "sql: SHOW FULL TABLE SCANS"
Customers can have poor performance (and trigger support) if they see high latency related to mostly bad schema design (no indexes, a bunch of full table scans for instance). Right now, there is the ability to see full table scans via EXPLAIN or in the WebUI but it isn't front and center. There are various issues to expose it better in the WebuI but we could also improve this experience via SQL.

[2019-10-04 22:03] awoods187 opened #41341 "sql: warn users about full table scans"
Similarly to https://github.com/cockroachdb/cockroach/issues/13969 or https://github.com/cockroachdb/cockroach/issues/41340, we know customers can have poor performance (and trigger support) if they see high latency related to mostly bad schema design (no indexes, a bunch of full table scans for instance).

We could warn users after executing full table scans in the SQL shell and tell them to use

[2019-10-04 22:40] jordanlewis opened #41344 "sql: test issue"
Test, test.

In pkg/sql/distsql_running.go (Lines 282-289)

[code]

Posted via CodeStream

[2019-10-04 22:41] #41344 closed

[2019-10-04 22:50] awoods187 commented on #26925
I think we should consider defaulting to int4 as the vast majority of our users are still in front of us. We should have a bias towards compatibility and toward forward-looking as long as we have escape hatches for users upgrading.

[2019-10-04 22:53] awoods187 commented on #41074
Can we get this error into 19.2?

[2019-10-04 22:55] jordanlewis commented on #26925
I still haven't found a compelling, real user problem caused by the mapping of `integer` to `int8` instead of `int4` by default. The real compatibility bugs that were discussed in this thread are solved now, as far as I know, but I'd love to see evidence to the contrary.

[2019-10-04 23:12] ajkr commented on #40998
Tests are working now. Just wanted to write one thing that confused me along the way was that `InternalIterator.SeekGE` argument is a user key and return value is an internal key. Is there any guidance on how to think about/remember this? Maybe internal key is never passed as []byte?

[2019-10-04 23:13] bdarnell commented on #26925
Concrete example: the migration tool in `knex` (a javascript query builder). It creates a table with an `INTEGER` column to track its state. Since javascript doesn't have a 64-bit integer type, the `pg` driver converts `INT8` values into decimal strings, but `knex` expects javascript number objects. It is therefore impossible to use the `knex` migration tool out of the box unless you set the clust

[2019-10-04 23:19] petermattis commented on #40998
That's correct. Internal keys are never passed in encoded form. A `[]byte` always refers to a user key.

[2019-10-04 23:29] jordanlewis commented on #26925
Okay, that's compelling enough.

Why doesn't it makes sense to change just `integer`?

[2019-10-04 23:36] bdarnell commented on #26925
This example used an `INTEGER`, but `SERIAL` is also very common and raises exactly the same issues. Changing one but not the other means that we cause the backwards-compatibility headaches for existing CockroachDB users, but we also have to continue to recommend the cluster/session settings for future users. I think if we're going to make a backwards-incompatible change for the sake of better com

[2019-10-05 02:31] #41251 closed

[2019-10-05 03:13] #40487 closed

[2019-10-05 03:49] ajkr commented on #40998
Wow, the test failures were due to passing 0 as `dbNum` and `fileNum` to `sstable.NewReader` which caused cache key conflict. I didn't even consider a lone sstable reader would use block cache. Cache key conflict needs to be the first box on my debugging checklist...

[2019-10-05 05:14] cockroach-teamcity commented on #39321
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/acceptance/version-upgrade

[code]

[2019-10-05 05:14] cockroach-teamcity opened #41348 "roachtest: network/sanity/nodes=4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/network/sanity/nodes=4

[code]

[2019-10-05 05:14] cockroach-teamcity opened #41349 "roachtest: rebalance-leases-by-load failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/rebalance-leases-by-load

[code]

[2019-10-05 05:15] cockroach-teamcity commented on #40550
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/decommission/nodes=4/duration=1h0m0s

[code]

[2019-10-05 05:15] cockroach-teamcity commented on #41166
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/acceptance/gossip/restart

[code]

[2019-10-05 05:15] cockroach-teamcity commented on #41175
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/acceptance/cli/node-status

[code]

[2019-10-05 05:15] cockroach-teamcity commented on #33660
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/hotspotsplits/nodes=4

[code]

[2019-10-05 05:15] cockroach-teamcity opened #41350 "roachtest: kv/splits/nodes=3/quiesce=true failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/kv/splits/nodes=3/quiesce=true

[code]

[2019-10-05 05:15] cockroach-teamcity opened #41351 "roachtest: kv/splits/nodes=3/quiesce=false failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/kv/splits/nodes=3/quiesce=false

[code]

[2019-10-05 05:23] cockroach-teamcity commented on #36981
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/scaledata/filesystem_simulator/nodes=3

[code]

[2019-10-05 07:15] cockroach-teamcity commented on #37259
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1522970&tab=artifacts#/network/tpcc/nodes=4

[code]

[2019-10-05 12:06] knz opened #41352 "sql,cli/sql: provide human-directed feedback on quality of SQL queries"
We want CockroachDB to tell human users when we know their SQL is poor, so they get a chance to learn and fix it without coming to us (support).

### Context

As discussed between @kannanlakshmi @tim-o @awoods187 @bdarnell:

sql is especially bad for this because it lets you write queries that work just fine at small scale but are terrible at large scale, and you need either a lot of understanding

[2019-10-05 12:09] knz commented on #41352
@piyush-singh I guess that's your product area?

[2019-10-05 12:11] knz commented on #13969
see #41352 for a discussion on how to inform users

[2019-10-05 12:13] knz commented on #41294
I'd bet that the test is trying to create a b-tree index on a column that is not indexable in CockroachDB (array or JSON for example).

That's because CockroachDb does not actually use b-tree indexes, it uses LSM indexes. We're lying when we say we support B-trees.

[2019-10-05 12:18] knz opened #41353 "release: v19.2.0-beta.20191014"
Candidate SHA: 27ea46b456d6b3dabac2c0f6c5c120ed316fffce
Deployment status: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525663&buildTypeId=Cockroach_PublishProvisionalArtifacts
Nightly Suite: https://teamcity.cockroachdb.com/buildConfiguration/Cockroach_Nightlies_WorkloadNightly?branch=provisional_201910072154_v19.2.0-beta.20191014&buildTypeTab=overview

[Release process checklist](https

[2019-10-05 12:23] #40338 closed

[2019-10-05 15:53] rohany commented on #41294
I misread the output. The issue is this -- we don't support this `CREATE INDEX "integer_array_btree_fillfactor" ON "postgres_tests_charfieldmodel" USING btree ("field")WITH (fillfactor = 80)` "with fillfactor" condition. Based on this information about the argument https://www.postgresql.org/docs/9.3/sql-createindex.html it doesn't look like something we would support anyway

[2019-10-05 16:26] petermattis commented on #41352
See also https://github.com/cockroachdb/cockroach/issues/20060. I wonder if the optimizer's cost estimation is robust enough to provide insights here.

[2019-10-05 17:41] 97amarnathk commented on #41333
I would like to work on this.

[2019-10-05 17:47] jordanlewis commented on #41333
@97amarnathk I think @chrisseto has an ongoing patch for this. I'll assign him to prevent confusion.

[2019-10-05 17:49] 97amarnathk commented on #41333
Okay.

[2019-10-05 22:20] darinpp commented on #41328
A customer reported the behavior here https://github.com/cockroachdb/cockroach/issues/41239

[2019-10-06 01:01] knz commented on #41353
I am observing 18ms average latency on the beta cluster, compared to 6ms latency on the 19.1.5 cluster. That's probably worth investigating.
cc @nvanbenschoten

[2019-10-06 01:25] cockroach-teamcity commented on #41108
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/tpchbench/tpchVec/nodes=3/cpu=4/sf=1

[code]

[2019-10-06 01:27] tbg opened #41360 "webui: zone config event mentions "undefined""
<img width="421" alt="image" src="https://user-images.githubusercontent.com/5076964/66262866-27a48380-e7e9-11e9-95ca-8befeccfd04b.png">

[2019-10-06 01:31] cockroach-teamcity opened #41361 "sentry: conn_executor.go:442: panic while executing 1 statements: SELECT crdb_internal.force_panic(_): caused by <redacted>"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1258371060/?referrer=webhooks_plugin

Panic message:

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob/1c99165c39c3714f1ce9986bff75ce517f9776

[2019-10-06 01:33] #41361 closed

[2019-10-06 01:35] knz commented on #41353
Next step: collect test failures from the nightly suite.

[2019-10-06 02:45] knz commented on #41304
This was probably a panic before otherwise I'd have used something else than NewAssertionFailed. So we're making one step forward.

[2019-10-06 02:45] cockroach-teamcity commented on #41321
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/interleavedpartitioned

[code]

[2019-10-06 03:26] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/clearrange/checks=true

[code]

[2019-10-06 03:34] cockroach-teamcity opened #41362 "roachtest: jepsen/monotonic/majority-ring failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/jepsen/monotonic/majority-ring

[code]

[2019-10-06 03:41] cockroach-teamcity opened #41363 "roachtest: jepsen/monotonic/split failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/jepsen/monotonic/split

[code]

[2019-10-06 03:42] cockroach-teamcity opened #41364 "roachtest: jepsen/monotonic/majority-ring-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/jepsen/monotonic/majority-ring-start-kill-2

[code]

[2019-10-06 03:42] cockroach-teamcity commented on #41364
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/jepsen/monotonic/start-kill-2

[code]

[2019-10-06 04:58] cockroach-teamcity commented on #40359
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-06 05:30] cockroach-teamcity opened #41365 "opt: v19.1.4: panic while building indirection"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1258558091/?referrer=webhooks_plugin

Panic message:

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob/51a6fdedf0ce1d1329d40d801a7deaf8206b6b

[2019-10-06 05:44] cockroach-teamcity opened #41366 "roachtest: pgjdbc failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/pgjdbc

[code]

[2019-10-06 07:30] cockroach-teamcity commented on #41154
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/import/tpcc/warehouses=1000/nodes=32

[code]

[2019-10-06 08:04] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-06 08:15] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/1c99165c39c3714f1ce9986bff75ce517f977630

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1523814&tab=artifacts#/hibernate

[code]

[2019-10-06 12:23] tbg commented on #12768
Good and bad news. The good news is that the above query verifies that we're never upreplicating to four nodes in `tpccbench/nodes=9/cpu=4/multi-region`. The bad news is that we're still violating the constraints all the time by putting more than one replica into one AZ.

`tpccbench/nodes=9/cpu=4/multi-region` has nodes 1-3 in region 1, 4-6 in region 2, 7-9 in region 3.

We can check whether we ev

[2019-10-06 12:26] tbg commented on #12768
The replicate queue applied to this range at present says

[code]

This tells me that the allocator doesn't even think there is a problem, which is bad.

[2019-10-06 12:52] tbg commented on #12768
I found out that this range belongs to the partitioned index `customer_idx`, and so it's intentionally glued to a region via constraints a la

[code]

That makes it even more mysterious why the allocator things the constraints are violated, but at least it's better than I initially thought.

Unfortunately it will be hard to programmatically go through all of the ranges and to decide which ones are

[2019-10-06 12:54] tbg commented on #12768
For another bit of confusion, look how many "overreplicated ranges" this thing claims we have:

[code]

I don't buy that, the `ranges.overreplicated` metric flatlines at zero.

cc @andreimatei / @darinpp (cluster is tobias-1570324285-01-n12cpu4-geo)

[2019-10-06 14:12] knz commented on #41353
For docs: the release note from #26433 must be picked up manually.

[2019-10-06 15:59] bdarnell commented on #41352
Also, where clients *do* support warnings, it's often by turning them into errors, which means that whenever a legitimate query triggers a warning we'd probably need to provide a warning-free way to do the same thing. I'm not sure whether warnings are an appropriate mechanism for alerting the user to expensive table scans.

This can be a start, but I think longer-term we'd rather get this into the

[2019-10-06 16:57] knz commented on #41352
yes i agree

no this does not follow.

1) The mechanisms that will analyze query quality are likely to incur a overhead. There is no way to control this overhead on internal queries otherwise, so the analysis should be disabled for those queries.

2) producing user-facing warnings for those queries would be highly confusing for UX: users have no control over cockroachdb-issued SQL, so the warnings

[2019-10-06 17:09] fire commented on #32917
Is it possible to find an owner for this and prioritize this?

[2019-10-07 02:30] #41225 closed

[2019-10-07 05:15] cockroach-teamcity commented on #39094
SHA: https://github.com/cockroachdb/cockroach/commits/236862d9fc5b23f14aab920fa7b8334649ba8be3

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524173&tab=buildLog

[code]

[2019-10-07 05:52] cockroach-teamcity opened #41375 "teamcity: failed test: bank/zerosum-splits"
The following tests appear to have failed on master (roachtest): acceptance/bank/zerosum-splits

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+bank/zerosum-splits).

[#1524117](https://teamcity.cockroachdb.com/viewLog.html?buildId=1524117):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-07 06:35] cockroach-teamcity commented on #41321
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/interleavedpartitioned

[code]

[2019-10-07 07:29] cockroach-teamcity commented on #41364
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/jepsen/monotonic/majority-ring-start-kill-2

[code]

[2019-10-07 07:31] cockroach-teamcity commented on #41362
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/jepsen/monotonic/majority-ring

[code]

[2019-10-07 07:34] cockroach-teamcity commented on #41363
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/jepsen/monotonic/split

[code]

[2019-10-07 07:36] cockroach-teamcity commented on #41364
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/jepsen/monotonic/start-kill-2

[code]

[2019-10-07 07:44] cockroach-teamcity opened #41376 "roachtest: jepsen/monotonic/strobe-skews failed"
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/jepsen/monotonic/strobe-skews

[code]

[2019-10-07 08:47] cockroach-teamcity commented on #40359
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-07 09:38] cockroach-teamcity commented on #41366
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/pgjdbc

[code]

[2019-10-07 11:48] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-07 12:56] dt commented on #39094
looks like a jobs-related test flake coming from the helper in jobs_verification.go. I think @spaskob has looked at this recently in a different test?

[2019-10-07 12:58] dt commented on #38720
😬 node 5 crashed due to consistency checker:
`storage/replica_consistency.go:186  [n5,replicate,s5,r3/2:/System/{NodeLiveâ€¦-tsd}] found a delta of {false 0 0 55442 0 0 12 0 7 1 0 0 0 0}`

[2019-10-07 13:01] cockroach-teamcity commented on #40935
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/schemachange/mixed/tpcc

[code]

[2019-10-07 13:29] awoods187 commented on #41294
Should we have some kind of noop here? Or will this fall into the category of need to be replaced with a CRDB dialect?

[2019-10-07 13:37] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/hibernate

[code]

[2019-10-07 13:44] knz opened #41378 "server,ui,pgwire: create an audit log for user logins"
Requested on forum: https://forum.cockroachlabs.com/t/how-to-audit-login-attempts/3182/2

We need/want a log of success/failed login attempts and also user logouts (or conn dropped).

This is currently unavailable via the existing logging and audit facilities.

edit 2020-01-14: also connections via UI, and via RPC (CLI admin commands)

[2019-10-07 14:00] ajwerner commented on #40796
The homebrew build seems to be broken due to rocksdb compilation problems:

[code]
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/49277/version=catalina/testReport/junit/brew-test-bot/catalina/install___build_bottle_cockroach/

@ajkr could I have some help with this later today?

[2019-10-07 14:23] mattcrdb opened #41380 "Feature: Granular import permissions"
**Is your feature request related to a problem? Please describe.**
We want to enable non-admin users to perform the cluster administration/management tasks they need to do. IMPORT is crucial but we should take into account other cluster operations (CDC, backup, restore, partition) that are currently restricted to admin users.

**Describe the solution you'd like**
Permissions that CockroachDB admin

[2019-10-07 14:26] RoachietheSupportRoach commented on #41380
Zendesk ticket #[3848](https://cockroachdb.zendesk.com/agent/tickets/3848) has been linked to this issue.

[2019-10-07 14:32] nvanbenschoten opened #41381 "release: 19.2 microbenchmark regression investigation and sign-off"
Of the 1,463 Go microbenchmarks in the `cockroachdb/cockroach` repository, 150 have statistically significant regressions between the `release-19.1` branch and the `master` branch. This is visible in this `benchstat` output: [diff.html.zip](https://github.com/cockroachdb/cockroach/files/3697872/diff.html.zip).

We should collect explanations for each of these regressions and get sign-off

https://

[2019-10-07 14:33] #41381 closed

[2019-10-07 14:35] tbg commented on #41381
Did you mean to close this?

[2019-10-07 14:35] nvanbenschoten commented on #41381
I didn't mean to open it yet.

[2019-10-07 14:41] nvanbenschoten opened #41382 "release: 19.2 microbenchmark regression investigation and sign-off"
Of the 1,463 Go microbenchmarks in the `cockroachdb/cockroach` repository, 150 have statistically significant regressions between the `release-19.1` branch and the `master` branch. This is visible in this `benchstat` output: [diff.html.zip](https://github.com/cockroachdb/cockroach/files/3697895/diff.html.zip)

We should determine the cause of each of these regressions and decide on whether they ar

[2019-10-07 14:52] andreimatei commented on #41321
I'm guessing #41216 broke this

[2019-10-07 14:53] ricardocrdb commented on #41332
Hello @vijyendra

`IMPORT PGDUMP` was added in version 2.1 of CockroachDB. The documentation pages show the feature available in v2.1.X, as you can see [here](
https://www.cockroachlabs.com/docs/v2.1/import.html#for-import-from-dump-file). This feature is not available in the 2.0.X, however, there is another method in the documentation in importing the Postgres dump file. Please review the documen

[2019-10-07 14:53] rohany commented on #41321
yep, looks like it. I'll put a fix out for this today.

[2019-10-07 14:56] awoods187 commented on #41352
I also filed https://github.com/cockroachdb/cockroach/issues/41341 and https://github.com/cockroachdb/cockroach/issues/41340 last week in this same space

[2019-10-07 14:57] andreimatei commented on #12768
Looking.

On Sun, Oct 6, 2019 at 8:55 AM Tobias Grieger <notifications@github.com>
wrote:

[2019-10-07 15:29] bdarnell commented on #40796
The upstream fix is https://github.com/facebook/rocksdb/pull/5779.

There's a workaround in https://github.com/cockroachdb/rocksdb/pull/41/files that would be easier to patch in via the homebrew formula.

[2019-10-07 15:39] solongordon commented on #41313
I think this is a bug in the `fakedist` configuration, not in CRDB itself. It looks like the fake span resolver is splitting a single row into multiple ranges, which should not be allowed.

Here is a more minimal repro:
[code]

[2019-10-07 15:46] awoods187 opened #41386 "cli: cockroach demo movr global doesn't spin up 9 nodes"
`./cockroach demo movr -nodes 9 -global` will produce the default one node configuration and no warning about the missing dash.
![image](https://user-images.githubusercontent.com/22278911/66326898-d8994400-e8f7-11e9-8e88-3478bf1f78a4.png)

`./cockroach demo movr --nodes 9 -global` also does not work.

`./cockroach demo movr --nodes 9 --demo-locality=region=us-east,az=1:region=us-central,az=1:regio

[2019-10-07 15:48] awoods187 opened #41387 "cli: cockroach demo doesn't return with global"
Neither this:
[code]
or this work:
[code]

[2019-10-07 15:51] justinj commented on #41353
Proceeding with the expectation of releasing this this week (though some test failures look concerning).

Failed tests, requests for sign-off:
* [ ] TestRandomSyntaxSQLSmith @mjibson

Failed roachtest nightlies:
* [ ] clearrange/checks=true @bdarnell
* [ ] import/tpcc/warehouses=1000/nodes=32 @dt
* [ ] jepsen/monotonic/majority-ring @bdarnell
* [ ] jepsen/monotonic/majority-ring-start-kill-2 @bdar

[2019-10-07 15:55] jordanlewis commented on #41353
Signed off on `tpchVec`, which tests functionality that's not enabled by default.
@rafiss can you look at `pgjdbc` and `hibernate` and sign off if appropriate?

[2019-10-07 15:58] jordanlewis commented on #41387
You're using a weird character for dash. Use `-`.

[2019-10-07 16:09] awoods187 commented on #41387
I cut and pasted from the email @rohany sent. Looks like it was markdown conversion problems. I'll go ahead and close this issue as I was able to manually type it. As a side note, is there a way to improve this? Could we alias these weird mark down pastings as the things they represent/were before the copy paste messed them up?

[2019-10-07 16:09] #41387 closed

[2019-10-07 16:16] rafiss commented on #40195
The pgjcbc test `org.postgresql.test.jdbc2.CursorFetchTest.testGetRow` used to fail because of this lack of support, but that test started passing. I don't know why. #41366

[2019-10-07 16:27] rafiss commented on #41353
Signed off:
- `pgdbc` had two new passing test cases, so we just have to update the expected failure blacklist
- `hibernate` tests have known stability problems, but there's nothing indicating there's a blocker

[2019-10-07 16:30] bdarnell commented on #41353
The jepsen and clearrange problems are blockers; I've reassigned them to @dt and @andreimatei. I can't tell what happened with the kv50 test. I'm not seeing an immediate cause for concern, but this test isn't known to be flaky.

[2019-10-07 16:34] lucy-zhang commented on #40447
I added https://github.com/cockroachdb/cockroach/issues/38720#issuecomment-538997993 from @dt (a node crashed during the `clearrange` roachtest due to a consistency checker failure) to the KV section. (Note that this is a new failure.)

[2019-10-07 16:48] rytaft commented on #36226
Added as a test - thanks!

[2019-10-07 16:56] bdarnell commented on #40447
Added jepsen failure #41364, and marked it and #38720 as beta blockers.

[2019-10-07 16:59] kannanlakshmi opened #41390 "container base image needs to be updated"
@keith-mcclellan is working on putting CRDB container image back on the Redhat registry as this is required for any partnership between Redhat and Cockroach Labs. We appear to be using some stale base images for our containers https://github.com/cockroachdb/cockroach/blob/2168fe87d168520989488859e88ee39301f8bb6b/build/builder/Dockerfile
Base images tend to have security vulnerabilities and this wi

[2019-10-07 17:04] nvanbenschoten commented on #41382
@dt the regression on `SQL/Cockroach/InsertSecondaryIndex/count=1` and

[2019-10-07 17:07] nvanbenschoten commented on #41382
@dt the regression on `SQL/Cockroach/InsertSecondaryIndex/count=1` and `SQL/MultinodeCockroach/InsertSecondaryIndex/count=1` appear to be due to https://github.com/cockroachdb/cockroach/commit/da39c40. We used to allow secondary indexes to live on the same range as a table's primary index, so we were able to perform 1PC txns in the test. Based on the commit message, it isn't clear that the commit

[2019-10-07 17:16] petermattis commented on #41382
The regression on `storage/engine.BatchApplyBatchRepr` is due to the switch to using `pebble.Batch` for `storage/engine.RocksDBBatchBuilder`. Pebble is maintaining a bit of additional state that isn't needed for the usage here. Should be straightforward to avoid the overhead.

[2019-10-07 17:37] dt commented on #41382
splits between PK and secondary index data are mostly important _during_ the index creation and are temporary -- they have a 1h expiration so if the backfill didn't ingest enough data to justify a separate range, they'll merge on their own -- just not instantly. It might make sense to run `UNSPLIT`  in the benchmark to hurry the process up though?

[2019-10-07 17:39] ajwerner commented on #40796
Thanks @bdarnell!

The build was also due to the use of modules:

[code]
I've updated https://github.com/Homebrew/homebrew-core/pull/44732/files to patch `rocksdb/CMakeLists.txt` and to set `GO111MODULE=off`.

I've verified that it now builds on a mac.

[2019-10-07 17:44] yuzefovich commented on #41108
The failure from two days ago is also an OOM (which is somewhat expected given the first failure in this issue).

[2019-10-07 17:50] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/8d3bdd75d0080cdb089b65d55f4e5fcf4a3ea905

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1524120&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-07 17:54] nvanbenschoten commented on #41382
@RaduBerinde I'm able to reproduce major regressions on the `Planning/MultinodeCockroach` benchmarks. Could I assign you to take a look at those?

[2019-10-07 18:09] tbg commented on #38720
The crash originates in

https://github.com/cockroachdb/cockroach/blob/9d17b5ab45908a19a47c8b0231984aea6a5fabbc/pkg/storage/replica_consistency.go#L182-L187

The good news is that this isn't a replica inconsistency, but a "stats inconsistency": all of the replicas agreed on their contents (which includes the stats), but these stats don't agree with recomputation from the content.

Concretely, we s

[2019-10-07 18:10] tbg commented on #38720
Honestly there's not too much use musing about this until we get a data dir. This means stressing this test, but this test is quite flaky, so I'm not sure it's the best use of time yet. Do we understand the other failure modes here and who is working on fixing them? cc @dt

[2019-10-07 18:11] nvanbenschoten commented on #41382
@dt and I determined that the `SQL/Cockroach/InsertSecondaryIndex/count=1` and `SQL/MultinodeCockroach/InsertSecondaryIndex/count=1` regressions are expected. Before da39c40, we weren't splitting the primary key range from the secondary index ranges, which made the benchmark unrealistic. We now properly miss the 1PC fast-path, which the benchmark is trying to avoid.

[2019-10-07 18:18] keith-mcclellan commented on #41390
I found at least two spots where we're pinning ourselves to old base images:

https://github.com/cockroachdb/cockroach/blob/2168fe87d168520989488859e88ee39301f8bb6b/build/deploy/Dockerfile

`FROM debian:9.8-slim` should be the latest LTS which would be `stretch`

https://github.com/cockroachdb/cockroach/blob/2168fe87d168520989488859e88ee39301f8bb6b/build/builder/Dockerfile

`FROM ubuntu:xenial-201

[2019-10-07 18:18] ajwerner opened #41392 "kvserver: synchronize admin commands on the leaseholder"
**Is your feature request related to a problem? Please describe.**

In 19.2 and beyond, with the addition of learners and atomic rebalancing, our admin commands step generally now step through multiple range descriptor changes all of which are backed by some form of CPut. When issued concurrently these commands can step on each other leading to the need for more retries. We recently (#41385) just

[2019-10-07 18:19] keith-mcclellan commented on #41390
Red Hat is specifically asking us to support a version of the database on their UBI though, where they manage the security patching for the underlying dependencies

[2019-10-07 18:20] RaduBerinde commented on #41382
Thanks for gathering all this data! I'll look at the `sql/opt` ones and the `Planning/`. Some of it might be expected due to histograms.

[2019-10-07 18:27] petermattis commented on #38720
The import failure mode should be fixed as of last week. Are there other outstanding failure modes? FWIW, I ran `clearrange/checks=true` and `clearrange/checks=false` 5 times each late last week and had a 100% pass rate. The only other recent failure was the replica count inconsistency, but Nathan fixed that.

[2019-10-07 18:29] knz commented on #41378
@BramGruneir reported to me this morning that one of our large customers require this too.

[2019-10-07 18:30] knz opened #41396 "pgwire,sql: user account expiration"
Requested by large customer account:

- disable a user (but not delete) temporarily
- disable a user at a specific date
- disable a user "some time after" the last log-in

The first two points are equivalent, the last is separate.

[2019-10-07 18:30] knz commented on #41396
cc @BramGruneir

[2019-10-07 18:31] knz commented on #41378
cc @rolandcrosby @piyush-singh

[2019-10-07 18:31] knz commented on #41396
cc @rolandcrosby @piyush-singh

[2019-10-07 18:31] knz commented on #41396
Discussed this with @bdarnell today: we can add a column on `system.users` to track the timestamp of last login. To avoid/reduce contention, we can round the timestamp to the closest second, and only write the new value if it hasn't changed (CPut).

[2019-10-07 18:33] tbg commented on #38720
Good to know, I'll spin mine up. I assumed it was flaky based on.. well how
long this issue is, but what you're saying sounds encouraging. Will report
back.

On Mon, Oct 7, 2019 at 8:27 PM Peter Mattis <notifications@github.com>
wrote:

[2019-10-07 18:36] bdarnell commented on #41396
#29633 also mentions disabling users.

After the last login event, or after the last logged-in session ends? Should this imply that any existing sessions are terminated at that point?

CPut still works like a write for contention purposes. To get any reduction in contention, we need to do our own reads before writing.

[2019-10-07 18:37] knz commented on #41396
After the last login (regardless of how long the session was)

The user understand they can use CANCEL SESSIONS (with a suitable filter on users) to preempt existing sessions

ok thanks for clarifying

[2019-10-07 18:38] petermattis commented on #38720
long this issue is, but what you're saying sounds encouraging. Will report
back.

If you encounter any other failure, I'd be eager to jump on it.

[2019-10-07 18:40] knz commented on #29633
see #41396 for a subset of the demand

[2019-10-07 18:51] jordanlewis opened #41398 "sql: add examples orms app for go-pg orm"

[2019-10-07 18:54] mberhault commented on #41396
The standard postgres way is a combination of:
- `VALID UNTIL 'timestamp'` for `CREATE|ALTER ROLE`
- `NOLOGIN` (as opposed to `LOGIN`), also on `CREATE|ALTER ROLE`

The former disables the password (not sure if that applies to other authentication methods) at the specified time. The latter prevents the user from logging in at all.

The only odd case in the ones mentioned in the original message is

[2019-10-07 18:59] nvanbenschoten commented on #41382
@knz the regressions in `WriteBinaryInt` and `WriteBinaryFloat` are interesting. It turns out that we weren't passing an OID to `writeBuffer.writeBinaryDatum`, so they were all hitting the error path. The fix for that is easy (sending that out now), but the more concerning part is that the regression was due to https://github.com/cockroachdb/cockroach/commit/e431c9236c39e9f44d7eaec7a0ee152d14247d7

[2019-10-07 19:28] ricardocrdb commented on #40955
Hello @david-streamlio

Apologies for the delay, but I have been doing some testing of your issue. In the documentation, it states to use a different config file for EKS, as the k8s created certs are not approved by AWS. Can you confirm that this is the config file you are using in your testing? The documentation [page](https://www.cockroachlabs.com/docs/v19.1/orchestrate-cockroachdb-with-kubernet

[2019-10-07 20:04] rafiss opened #41405 "sql: cast string to int[] or decimal[] when appropriate"
The following works in postgres, but not CockroachDB.

[code]

Adding explicit casts makes it work.

[code]

[2019-10-07 20:09] jordanlewis commented on #41405
This should work via our constant upcast mechanism, which currently only automatically upcasts strings into string arrays. This should be a relatively straightforward addition.

See `pkg/sql/sem/tree/constant.go`, and notice how only `StringArray` is present in `StrValAvailAllParsable`.

[2019-10-07 20:12] mjibson opened #41407 "sql: unable to vectorize: "#": syntax error"
[code]

[code]

This seems a bit odd because there's no # anywhere in the query.

[2019-10-07 20:14] andreimatei commented on #41353
I've got a revert that should make the Jepsen tests pass again - #41406

[2019-10-07 20:26] bdarnell commented on #41353
The clearrange problem is a stats inconsistency (the replicas agree, but the MVCCStats don't agree with the values recomputed from scratch). This only crashes a cluster if COCKROACH_FATAL_ON_STATS_MISMATCH is set, and it's only set in our tests. While that's concerning (and I think still a blocker for the final release), I think we can unblock the beta and start qualifying a new build once #41406

[2019-10-07 20:46] rohany opened #41408 "sql: Support string values in extract arguments"
The extract function now requires keyword when using the `EXTRACT (month FROM x)` syntax. However, some ORMS generate queries like `EXTRACT ('month' FROM x)`. We should be able to support this, but don't currently.

[2019-10-07 20:48] #41386 closed

[2019-10-07 20:55] yuzefovich commented on #41284
[GOPG](https://github.com/go-pg/pg) also uses `hstore` type in some of its tests.

[2019-10-07 20:58] ajwerner opened #41411 "kvserver: provide an online mechanism to recover unavailable ranges"
**Is your feature request related to a problem? Please describe.**

When a cockroach cluster loses a quorum of replicas for a range, drastic action is require to
return the cluster to a healthy state. The general approach today relies on shutting down the entire cluster and re-writing the range descriptors. This requires downtime even when the unavailable ranges are potentially housing non-critica

[2019-10-07 21:11] mattcrdb opened #41412 "sql: support SQL declare (cursor)"
**Is your feature request related to a problem? Please describe.**
A customer tried to use [tableau](https://www.tableau.com/en-us/) to connect to cockroachDB, using [this](https://help.tableau.com/current/pro/desktop/en-us/examples_postgresql.htm) guide.

Tableau uses `declare` for its queries, CockroachDB does not currently support compatibility with SQL level declare.

Tableau can not be used.

[2019-10-07 21:13] RoachietheSupportRoach commented on #41412
Zendesk ticket #[3853](https://cockroachdb.zendesk.com/agent/tickets/3853) has been linked to this issue.

[2019-10-07 21:13] #41376 closed

[2019-10-07 21:13] #41362 closed

[2019-10-07 21:13] #41363 closed

[2019-10-07 21:13] #41364 closed

[2019-10-07 21:23] rohany commented on #26709
A note -- this feature seems to be used heavily by django (alot of the django annotate/group by tools end up creating queries like this).

[2019-10-07 21:24] dt commented on #41154
So that failure is on a SHA that _does_ include @petermattis' latest back pressure fix to avoid falling behind on compaction, so that doesn't explain it. However running it by hand a couple times suggests that whatever did happen, it doesn't happen regularly -- every time it completes in <20min: `imported 77 GiB bytes in 9 tables (took 9m52.065099284s, 133.38 MiB/s)`.

[2019-10-07 21:40] aayushshah15 opened #41415 "changefeedccl: bug in poller causes it to emit a resolved timestamp before emitting row updates at that timestamp."
Changefeeds support watching tables that undergo a schema change with a backfill.

Currently, the poller (see `poller.go`) keeps track of the most recent table descriptor version for every table it watches. If it detects a schema change, it triggers a full table scan using the timestamp of the last `ModifiedTime` of the given table descriptor. This means that the row updates emitted as a result of

[2019-10-07 21:41] aayushshah15 commented on #41415
@danhhz  @ajwerner. Just creating this for posterity (and to be able to reference something for the in-progress cloudStorageSink PR)

[2019-10-07 21:47] justinj commented on #41353
Reverting the status on this issue and starting the release process over with 27ea46b456d6b3dabac2c0f6c5c120ed316fffce.

[2019-10-07 21:57] piyush-singh opened #41416 "ui: add buttons to move time window selection for new date picker"
We should add three buttons next to the date picker drop down box that allow the user to easily shift the current time window backwards or forwards or jump to have the end date/time set to now.

[2019-10-07 22:03] tbg commented on #41411
PS:

Finish that thought :-)

re 1: maybe this is what you meant, but I think we'd just set it to contain just a single replica (which we make sure is on a live node), and for which we assign a new ReplicaID.

re 2: I don't think it'd make a measurable difference in practice, but we should default to picking a survivor that could win an election among the survivors. This means it's going to be clo

[2019-10-07 22:11] bdarnell opened #41418 "storage: Disable parallel commits for range descriptor transactions"
The `unsafe-remove-dead-replicas` tool is unable to safely recover if it finds a transaction record in the STAGING state. We should avoid writing these for transactions that modify the range descriptor (Maybe we already do, but from discussion in #41266 @tbg and I couldn't see how/whether that's actually the case).

[2019-10-07 22:22] bdarnell commented on #38720
This test is our only one that sets `COCKROACH_CONSISTENCY_AGGRESSIVE=true` and `COCKROACH_FATAL_ON_STATS_MISMATCH=true`. That makes it turn up errors that other tests don't, but it incorrectly suggests that the issue is related to `clearrange` (could be, but there's no reason to think that now). Maybe we should have a more neutral test that just runs tpcc/bank/kv with these checks enabled.

[2019-10-07 22:24] nvanbenschoten commented on #41418
We already disable parallel commits for any transaction that has a commit trigger. Does that include every transaction that modifies a range descriptor?

[2019-10-07 22:51] jordanlewis commented on #41294
I would be fine treating fillfactor as noop, but I doubt that it's really that important - I bet you have to explicitly ask for a fillfactor in django to get one. I think we're okay leaving this unimplemented.

[2019-10-07 23:26] cockroach-teamcity commented on #41163
SHA: https://github.com/cockroachdb/cockroach/commits/445ec411db8cde8cc090c7ffcd7ac70be9b21954

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1520672&tab=artifacts#/weekly/tpcc-max

[code]

[2019-10-07 23:36] #41320 closed

[2019-10-08 00:10] awoods187 opened #41421 "sql: allow SHOW RANGE FROM TABLE foo FOR ROW to only apply for fields in PK"
Using the new SQL SHOW RANGE FROM TABLE foo FOR ROW command is a bit difficult as it requires the user to input some values for all of the columns in the table and not just the PK:
Consider the vehicles table in MovR:
[code]
To use the new command you must provide values for every entry and not just those in the PK:
[code]
PK only:
[code]
You must provide values for everything in a secondary index

[2019-10-08 00:19] awoods187 opened #41422 "sql: allow for SHOW RANGE FROM TABLE foo FOR ROW to return multiple rows for a given condition"
As a developer, I might want to prove that all of my data is in the row that I have specified to comply with the GDPR. I can use the new SHOW RANGE FROM TABLE foo FOR ROW but that is on a per-row basis. I might want to check all of the rows that fit the criteria like have a city value equal to san francisco. Something like:

[code]
or perhaps instead I'd want to have it as a new command:
[code]

[2019-10-08 00:23] awoods187 commented on #41421
You can also use wildcards if you respect the format:
[code]

[2019-10-08 00:28] awoods187 commented on #41232
@rohany why doesn't this work? thoughts @RaduBerinde

[2019-10-08 00:31] bdarnell commented on #41418
Every current modification to a range descriptor has a commit trigger, yes. So it sounds like we're covered here. It's a little subtle, but I can't think of a better way to centralize it reliably.

[2019-10-08 00:31] #41418 closed

[2019-10-08 00:55] yuzefovich commented on #41407
The symbol `#` is added when remapping the indexed variables for ON expressions with vectorized. I'll look into this failure, thanks for finding!

[2019-10-08 01:11] andreimatei opened #41424 "jepsen-monotonic failure when using RootTxn on the gateway"
#41307 changed how DistSQL uses transactions. It's first commit https://github.com/cockroachdb/cockroach/commit/29e18f06a41f40ad9cc848916ae1460848d8c3fb makes a seemingly innocuous change about using RootTxns on the gateway more often than before. This change causes the `monotonic` jepsen test to fail. It fails about 50% with no nemesis, and always with some of the nemeses (e.g. `majority-ring`).

[2019-10-08 02:13] rohany commented on #41232
Its more of an implementation detail -- the function I used to construct a key for secondary indexes can return multiple keys in the case of an inverted index. I wasn't quite sure how to map that onto a range in the crdb_internal.ranges table.

[2019-10-08 04:47] heidawei commented on #41415
@aayushshah15  this bug means CDC has a case when schema change , a high RT will send to Kafka before poller trigger table schema change ?

[2019-10-08 05:16] cockroach-teamcity commented on #39094
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526024&tab=buildLog

[code]

[2019-10-08 06:08] aloknnikhil commented on #13829
Anyone assigned to this?

[2019-10-08 06:22] cockroach-teamcity opened #41425 "roachtest: cdc/tpcc-1000/rangefeed=true failed"
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/cdc/tpcc-1000/rangefeed=true

[code]

[2019-10-08 06:25] cockroach-teamcity commented on #41182
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526025&tab=buildLog

[code]

[2019-10-08 06:31] cockroach-teamcity commented on #41321
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/interleavedpartitioned

[code]

[2019-10-08 06:47] aloknnikhil commented on #31024
Anyone working on this?

[2019-10-08 07:01] Gurio commented on #41408
I would like to pick it up

[2019-10-08 07:01] cockroach-teamcity commented on #41123
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/clearrange/checks=false

[code]

[2019-10-08 08:25] cockroach-teamcity commented on #40359
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-08 08:51] cockroach-teamcity commented on #40774
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/overload/tpcc_olap/nodes=3/cpu=8/w=50/c=96

[code]

[2019-10-08 08:57] cockroach-teamcity commented on #40786
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/kv/contention/nodes=4

[code]

[2019-10-08 10:39] cockroach-teamcity opened #41428 "teamcity: failed test: TestComposeGSS"
The following tests appear to have failed on release-19.1 (acceptance): TestComposeGSS

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestComposeGSS).

[#1526729](https://teamcity.cockroachdb.com/viewLog.html?buildId=1526729):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-08 11:04] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-08 13:23] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/hibernate

[code]

[2019-10-08 13:51] rohany commented on #41408
I think someone else already took a stab at it

[2019-10-08 13:53] Gurio commented on #41408
seems so

[2019-10-08 14:13] cockroach-teamcity commented on #38417
SHA: https://github.com/cockroachdb/cockroach/commits/27ea46b456d6b3dabac2c0f6c5c120ed316fffce

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526784&tab=artifacts#/cancel/tpcc/distsql/w=10,nodes=3

[code]

[2019-10-08 14:39] jordanlewis commented on #31024
Nope, @aloknnikhil you're welcome to take a stab at this.

[2019-10-08 14:52] mattcrdb commented on #41380
Testing comment

[2019-10-08 14:52] knz commented on #41424
I confirm this bug is present in `master` (post revert of Andrei's recent fixes),
also in 19.1!

also I have written a simplified version of the jepsen test:

[monotonic_test.zip](https://github.com/cockroachdb/cockroach/files/3703101/monotonic_test.zip)

Now also testing 2.1 for good measure.

[2019-10-08 14:57] mattcrdb commented on #41380
Please ignore the above reference to 41107.

[2019-10-08 15:12] aloknnikhil commented on #31024
Great. Thanks.

[2019-10-08 15:22] cockroach-teamcity commented on #41321
SHA: https://github.com/cockroachdb/cockroach/commits/27ea46b456d6b3dabac2c0f6c5c120ed316fffce

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526784&tab=artifacts#/interleavedpartitioned

[code]

[2019-10-08 15:36] bdarnell commented on #41424
What do you mean by the bug being present in older releases? Just that we're looking at the wrong Transaction object, or is the monotonic test failing there too? If the latter, do you understand why this test is failing while the jepsen test has never (to my knowledge) hit this before on older versions?

[2019-10-08 15:48] knz commented on #41424
Both

Yes I understand it.

The Jepsen test separates the phases in a multi-statement txn, using standalone SELECTs  first to find the max and then a separate INSERT for the mutation. These standalone SELECTs are using LeafTxn objects since at least 2.1 (ever since we use distsql to serve them, which may have been 2.0), so were _never_ able to auto-refresh (instead any conflict would have caused a

[2019-10-08 16:58] ajwerner commented on #37815
It's interesting to note that all of these happened prior to learners and atomic replica changes. I'd expect this to be more common rather than less common now. I've run this test now 20 times on master and 20 times on 19.1 without a failure.

Nevertheless it seems like there are cases where we might today be returning these ambiguous error which are avoidable. The key takeaway is that we should r

[2019-10-08 17:04] jordanlewis opened #41434 "sql: support unnest(anyarray, anyarray)"
This form of `unnest` is unsupported by Cockroach. According to the Postgres docs, its functionality is to:

[code]

This is needed for Django. See https://github.com/cockroachdb/cockroach-django/issues/10

[2019-10-08 17:05] jordanlewis commented on #41434
Actually it appears to be varargs.

[2019-10-08 17:29] cockroach-teamcity commented on #40359
SHA: https://github.com/cockroachdb/cockroach/commits/27ea46b456d6b3dabac2c0f6c5c120ed316fffce

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526784&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-08 17:37] andreimatei commented on #41424
The theory about us looking at `pErr.Txn` being wrong didn't quite pan out. On the response path, the DistSender [updates](https://github.com/cockroachdb/cockroach/blob/5119819560e40d5b6e4661d4dac08c8e9b6ebf4b/pkg/kv/dist_sender.go#L1188) `pErr.Txn` with the response's txn, which comes from the request's txn. I find all this very unlikely to be correct and I'll try to clean it up, but it's not our

[2019-10-08 17:52] #40683 closed

[2019-10-08 17:57] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/c0cab6082c2383e77f0a806c10a1506b6aa7b6bf

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-08 18:09] DuskEagle opened #41436 "cmd/workload: `fixtures import` should not require root user"
`cockroach workload fixtures import` is much faster than running `cockroach workload init`. However, if you use a user other than `root`, the import will fail even if the user has been granted the admin role on the cluster:

[code]

This makes `fixtures import` unusable from an MSO cluster, where the root user is not exposed.

[2019-10-08 18:24] bdarnell commented on #41424
Ah, that makes sense. Originally refreshes were only possible at the end of the transaction, but early refreshes/pushes are now possible.

[2019-10-08 19:15] mattcrdb commented on #41107
Are you still seeing no data?

[2019-10-08 19:22] #36226 closed

[2019-10-08 19:22] #36841 closed

[2019-10-08 19:22] #38716 closed

[2019-10-08 19:29] cockroach-teamcity opened #41443 "teamcity: failed test: TestMultiNodeExportStmt"
The following tests appear to have failed on master (test): TestMultiNodeExportStmt

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestMultiNodeExportStmt).

[#1527221](https://teamcity.cockroachdb.com/viewLog.html?buildId=1527221):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-08 19:35] rafiss opened #41445 "sql: ERROR: cached plan must not change result type"
The hibernate AutoRollbackTestSuite tests that different types of queries that experience various types of failures are rolled back and can be retried. Sometimes the tests fail with this error:

[code]

The test intentionally breaks a prepared statement by executing an `ALTER TABLE` query, but when auto-commit is on, the test expects no exception to occur.

Jira issue: CRDB-5449

[2019-10-08 19:42] tbg opened #41446 "storage: system.replication_stats shows faux overreplication"
See #12768.

----

For another bit of confusion, look how many "overreplicated ranges" this thing claims we have (it thinks they're basically all overreplicated)

[code]

I don't buy that, the `ranges.overreplicated` metric flatlines at zero.

cc @andreimatei / @darinpp (cluster is tobias-1570324285-01-n12cpu4-geo)

_Originally posted by @tbg in https://github.com/cockroachdb/cockroach/issues/1276

[2019-10-08 19:42] #40779 closed

[2019-10-08 19:55] rafiss opened #41448 "sql: make `/` operator perform integer division"
Many ORM tests (e.g. Hibernate) expect the `/` operator to return an `int`, but CockroachDB currently returns a `decimal`. This was previously discussed in #3271 but we are revisiting the discussion now.

[2019-10-08 20:12] jordanlewis commented on #41445
This is probably a @cockroachdb/sql-planning issue. Can you attempt to find the query that caused the error please?

[2019-10-08 20:14] darinpp commented on #12768
https://github.com/cockroachdb/cockroach/issues/41328 shows a case where you have 4 replicas in 19.2. It does seem like a bug however.

[2019-10-08 20:37] cockroach-teamcity opened #41450 "teamcity: failed test: TestTerm"
The following tests appear to have failed on master (testrace): TestTerm

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestTerm).

[#1527487](https://teamcity.cockroachdb.com/viewLog.html?buildId=1527487):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-08 20:38] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/27ea46b456d6b3dabac2c0f6c5c120ed316fffce

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526784&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-08 20:39] rafiss commented on #41445
There are many different test cases this comes up with. I am in the process of adding the list of queries that have issues.

[2019-10-08 20:50] rafiss commented on #41445
I'm not sure if It is a SQL planning issue. I didn't realize until now since I just made this issue as a placeholder while I was investigating more, but the test breaks the prepared statement on purpose.

[2019-10-08 20:58] RaduBerinde commented on #41445
This error should only show up if a statement was prepared, and later executed after schema has changed in such a way that the query now returns different types than before. This is consistent with postgres.

If we are returning it in other cases, it's a bug. Try setting the `sql.query_cache.enabled` cluster setting to `false`; if that makes a difference, it's probably a bug related to query cachi

[2019-10-08 21:18] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/27ea46b456d6b3dabac2c0f6c5c120ed316fffce

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526784&tab=artifacts#/hibernate

[code]

[2019-10-08 21:34] andreimatei opened #41456 "sql: vectorized inbound streams should handle the first message better"
The `vectorizedInboundStreamHandler` ignores the first message from the stream, with no explanation.
https://github.com/cockroachdb/cockroach/blob/d3893a1af0eb4677522e4afd945cb73611e50ef7/pkg/sql/colflow/vectorized_flow.go#L678

I think that's OK because the vectorized outboxes don't put any info in that first message besides the stream id, which is used above this level. And I think we don't inte

[2019-10-08 21:42] #41264 closed

[2019-10-08 21:42] #41424 closed

[2019-10-08 22:26] cockroach-teamcity commented on #40935
SHA: https://github.com/cockroachdb/cockroach/commits/27ea46b456d6b3dabac2c0f6c5c120ed316fffce

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526784&tab=artifacts#/schemachange/mixed/tpcc

[code]

[2019-10-08 23:20] glennfawcett commented on #41059
Working with Tenable.  They have an aggregate query that scans over 1TB of data across 15 nodes.  The Explain analyze is unusable....

[Explain_Analyze_Unusable](https://cockroachdb.github.io/distsqlplan/decode.html#eJzs_etunGl2JQj__65CIBpwFT5l5D4f2DCgajs9rp5yllEpd8_ksJDgIZgWpjKVkJTjLDR8WX09fSuDCEoiFbHfePb7MkiLg_QPV4pBUkvPcT97r73W_zj58fXV-uvzH9ZvT07_rxM8eX5CJ89P-OT5iZw8P9GT5yd28vzET56fxMnzkzx5foKw

[2019-10-08 23:22] #40998 closed

[2019-10-08 23:58] glennfawcett opened #41459 "Explain Analyze textual version"
**Is your feature request related to a problem? Please describe.**
Yes.  Explain Analyze is unusable on a large query like the one below...

[Unusable_Explain_Analyze](https://cockroachdb.github.io/distsqlplan/decode.html#eJzs_etunGl2JQj__65CIBpwFT5l5D4f2DCgajs9rp5yllEpd8_ksJDgIZgWpjKVkJTjLDR8WX09fSuDCEoiFbHfePb7MkiLg_QPV4pBUkvPcT97r73W_zj58fXV-uvzH9ZvT07_rxM8eX5CJ89P-OT5iZw8P9GT5yd28vzET56fxMnzkz

[2019-10-09 00:00] #41249 closed

[2019-10-09 00:12] cockroach-teamcity opened #41460 "teamcity: failed test: TestDistBackfill"
The following tests appear to have failed on master (testrace): TestDistBackfill

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDistBackfill).

[#1528060](https://teamcity.cockroachdb.com/viewLog.html?buildId=1528060):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-09 01:20] cockroach-teamcity opened #41461 "teamcity: failed test: TestDistBackfill"
The following tests appear to have failed on master (testrace): TestDistBackfill

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDistBackfill).

[#1528136](https://teamcity.cockroachdb.com/viewLog.html?buildId=1528136):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-09 02:04] qinzl1 commented on #41188
@jordanlewis
community version like v2.1.8 will resolved  this error

[2019-10-09 02:36] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/27ea46b456d6b3dabac2c0f6c5c120ed316fffce

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1526784&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-09 02:38] dt commented on #41461
#41462

[2019-10-09 02:38] #41461 closed

[2019-10-09 02:38] dt commented on #41460
#41462

[2019-10-09 02:38] #41460 closed

[2019-10-09 03:05] #41408 closed

[2019-10-09 03:15] jordanlewis commented on #41188
This won't be fixed in 2.1. You'll have to upgrade to 19.2.

[2019-10-09 04:45] a-robinson commented on #12768
In that screenshot, the `details:(constraint check fail)` field is part of the description of the `existing` replica that's being replaced. It's telling you that the reason for removing the replica on s4 and adding a replica on s2 is that s4 violates the constraints of the range.

[2019-10-09 05:14] cockroach-teamcity commented on #41175
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/acceptance/cli/node-status

[code]

[2019-10-09 05:14] cockroach-teamcity commented on #41253
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/acceptance/cluster-init

[code]

[2019-10-09 05:14] cockroach-teamcity commented on #41167
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/acceptance/bank/node-restart

[code]

[2019-10-09 05:15] cockroach-teamcity commented on #40550
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/decommission/nodes=4/duration=1h0m0s

[code]

[2019-10-09 05:15] cockroach-teamcity commented on #39321
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/acceptance/version-upgrade

[code]

[2019-10-09 05:15] cockroach-teamcity commented on #41177
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/cdc/bank

[code]

[2019-10-09 05:15] cockroach-teamcity commented on #33660
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/hotspotsplits/nodes=4

[code]

[2019-10-09 05:15] cockroach-teamcity commented on #41176
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/acceptance/bank/cluster-recovery

[code]

[2019-10-09 06:19] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/51957cb7aec516e8ce333f85acbbd68fc7415a32

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528314&tab=artifacts#/hibernate

[code]

[2019-10-09 06:24] cockroach-teamcity commented on #41321
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/interleavedpartitioned

[code]

[2019-10-09 06:28] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/hibernate

[code]

[2019-10-09 06:45] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/5b223f9b2ebcbaeb9dd7738fc947b36d217b9f22

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528296&tab=artifacts#/hibernate

[code]

[2019-10-09 08:28] cockroach-teamcity commented on #40359
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-09 08:51] cockroach-teamcity commented on #40774
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1528278&tab=artifacts#/overload/tpcc_olap/nodes=3/cpu=8/w=50/c=96

[code]

[2019-10-09 12:18] cockroach-teamcity commented on #40231
SHA: https://github.com/cockroachdb/cockroach/commits/5b223f9b2ebcbaeb9dd7738fc947b36d217b9f22

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1529754&tab=buildLog

[code]

[2019-10-09 13:46] cockroach-teamcity opened #41466 "storage: TestReplicateRogueRemovedNode failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/06026bab5cdb3695ddeba209c94175cd9460b170

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1529580&tab=buildLog

[code]

[2019-10-09 14:24] awoods187 opened #41468 "sql: alias SHOW INDEXES FROM TABLE vehicles"
In other parts of the code we require the users to specify tables. For example, SHOW PARTITIONS requires this information:

[code]

However, for SHOW INDEXES, the developer doesn't need to specify that:
[code]
However, if the user tries to use a similar syntax to SHOW PARTITIONS it will fail:
[code]

I  think we should alias the version that specifies tables to return the same result. That is thes

[2019-10-09 14:54] andreimatei commented on #41028
@rohany can you take a look at this one too please
`pq: could not validate zone config: when per-replica constraints are set, num_replicas must be set as well`
Similar to #41402

[2019-10-09 15:18] jgehrcke opened #41471 "DNS names used for inter-node communication despite --advertise-host=<ip-address>"
Seen with CockroachDB 2.1.8.

We ran into a problem where inter-node communication in CockroachDB took place via DNS names *despite* all nodes being configured with `--advertise-addr=<IP-address>`.

We are now changing this to `--advertise-host`, as of:

[code]
(https://www.cockroachlabs.com/docs/v2.1/start-a-node.html)

Could it be that `--advertise-host` is not just deprecated but actually remov

[2019-10-09 15:27] pbardea commented on #41009
I've ran this several times over the last week and could not discern any meaningful difference between heap profiles with and without direct ingestion. Both complete on my clusters when I run the above tests. @awoods187 Have you been able to repro this lately? It seems that maybe a fix on master recently may have solved this (possibly the logging leak fix?).

[2019-10-09 15:31] giorgosp commented on #41434
Hello, I would like to help with this ticket but please feel free to re-assign it if it is urgent. I will need a couple of days to get my head around the internals.

[2019-10-09 15:36] jordanlewis commented on #41434
@giorgosp, great. Please don't hesitate to ask for help.

[2019-10-09 15:42] #40748 closed

[2019-10-09 16:04] #41011 closed

[2019-10-09 16:37] rafiss commented on #41353
signed off on hibernate -- known flakiness that we're working on

[2019-10-09 16:38] bdarnell commented on #41353
Signed off on the kv50 failure. This test has never passed (as far back as teamcity has history) and it's a test scaffolding problem, not a bug in the product as far as I can tell (the workload driver is getting killed).

[2019-10-09 16:46] ajwerner commented on #40796
Ugh the build failed to build the bottle on Mojave and Catalina though not on High Sierra.

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/49436/

[code]

I'm happy to add `-Wno-defaulted-function-deleted`  to the patch which I suspect will fix the error.

@bdarnell or @ajkr thoughts on whether this is surprising or expected?

[2019-10-09 16:52] bdarnell commented on #40796
That is surprising; it was building on mojave before (and i don't see any reference to this in the rocksdb tracker). Maybe this is from the xcode update that was just released? It'll be nice to get back to our own tap and isolated build.

You could set the warning flag, or apply the upstream fix from https://github.com/facebook/rocksdb/pull/5095

[2019-10-09 16:57] #38040 closed

[2019-10-09 17:07] lucy-zhang commented on #41353
Signed off on `schemachange/mixed/tpcc` as a known issue being investigated and not a beta release blocker.

[2019-10-09 17:57] rohany commented on #41353
Signed off on interleavedpartitioned -- the test partitioning setup just needs to be fixed post a patch that added some more verification to zone configurations.

[2019-10-09 18:17] ajwerner commented on #40796
There was indeed a major version upgrade to `AppleClang`. I'm just going to suppress the error.

[2019-10-09 18:58] lucy-zhang commented on #40935
I still haven't been able to reproduce this outside of a roachtest. But with a roachtest that just runs
[code]
in a loop, I managed to get the reported FK violation in 19.1.5. So this internal executor problem (or whatever it is) is not new.

[2019-10-09 19:04] lucy-zhang commented on #40935
(Also, just for explicitness, https://github.com/cockroachdb/cockroach/pull/41307, which was the successor/replacement for https://github.com/cockroachdb/cockroach/pull/41102 mentioned above, was merged a few days ago and hasn't fixed the problem.)

[2019-10-09 19:10] piyush-singh commented on #22901
Discussed with @knz today: we have EXPORT now (which we didn't have back then) which satisfies this use case.
Closing unless there's a reason to have a dump-specific variant of this.

[2019-10-09 19:10] #22901 closed

[2019-10-09 19:12] #38368 closed

[2019-10-09 19:21] piyush-singh commented on #28572
Discussed w/ @knz: we currently already enable changing the display format, what we're missing is enabling a user to take this action while a long standing query is running, this becomes available when we start supporting query cancellation in the client (this is a separate issue)

There is no further work beyond the other feature, so no need to keep this issue open.

[2019-10-09 19:21] #28572 closed

[2019-10-09 19:33] #40522 closed

[2019-10-09 19:47] piyush-singh commented on #37787
@dt noted that “cluster RESTORE” is hoping there is an API way to change locality flags in 20.1 — CLI could call the same API, but ideally just not CLI-only. If we proceed with this change, we should be sure to check in the with the bulk-io team.

@andy-kimball notes that when previously considering a change here, there were several outstanding concerns that meant progress on making this change wa

[2019-10-09 19:57] andy-kimball commented on #37787
Clarification: we didn't halt work because of those concerns; those are just things we'd want to consider before starting work.

[2019-10-09 20:12] pbardea commented on #41009
The cluster that I completed the latest successful run is still up: `paul-test`.

If you could try to repro to see if you're still getting it would be great. If the issue persists, feel free to ping this issue and I can try to look at the logs/profiles (as I haven't been able to get an OOM out of the 5 times I've run this).

[2019-10-09 21:04] rafiss commented on #41366
Hmmmm well I guess it's lucky that the bors merge failed, because the test is now back to failing, as was expected before.

https://teamcity.cockroachdb.com/viewLog.html?buildId=1525981&buildTypeId=Cockroach_Nightlies_WorkloadNightly&tab=artifacts#%2Fpgjdbc

Leaving this PR open for now in case we need to bring it back again.

[2019-10-10 05:21] #40359 closed

[2019-10-10 05:24] cockroach-teamcity commented on #36981
SHA: https://github.com/cockroachdb/cockroach/commits/b519bf7f81795d360fcf458b5d5e031b3fc43e9e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531436&tab=artifacts#/scaledata/filesystem_simulator/nodes=3

[code]

[2019-10-10 05:47] cockroach-teamcity opened #41485 "sql: TestShowQueries failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d4c59df1dd71fb97ccf356d4eda49f0c70dcda36

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531549&tab=buildLog

[code]

[2019-10-10 06:00] cockroach-teamcity opened #41486 "teamcity: failed test: TestStoreRangeMergeDuringShutdown"
The following tests appear to have failed on master (testrace): TestStoreRangeMergeDuringShutdown

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestStoreRangeMergeDuringShutdown).

[#1531415](https://teamcity.cockroachdb.com/viewLog.html?buildId=1531415):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-10 06:18] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/d4c59df1dd71fb97ccf356d4eda49f0c70dcda36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531454&tab=artifacts#/hibernate

[code]

[2019-10-10 06:27] cockroach-teamcity opened #41487 "ccl/changefeedccl: package timed out under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d4c59df1dd71fb97ccf356d4eda49f0c70dcda36

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531708&tab=buildLog

[code]

[2019-10-10 06:30] cockroach-teamcity commented on #41321
SHA: https://github.com/cockroachdb/cockroach/commits/d3f12c63e91924450945c9dbc154df8a50b5c89d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531418&tab=artifacts#/interleavedpartitioned

[code]

[2019-10-10 07:06] cockroach-teamcity opened #41488 "roachtest: jepsen/bank-multitable/majority-ring-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b519bf7f81795d360fcf458b5d5e031b3fc43e9e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531436&tab=artifacts#/jepsen/bank-multitable/majority-ring-start-kill-2

[code]

[2019-10-10 07:25] cockroach-teamcity opened #41489 "roachtest: backup2TB/n10cpu4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/d4c59df1dd71fb97ccf356d4eda49f0c70dcda36

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531454&tab=artifacts#/backup2TB/n10cpu4

[code]

[2019-10-10 07:35] cockroach-teamcity opened #41490 "sentry: panic in DatumToEncDatum during INSERT"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1265725778/?referrer=webhooks_plugin

Panic message:

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob/cbd571c7bf2ffad3514334a410fa7a728b1f5b

[2019-10-10 08:48] cockroach-teamcity opened #41491 "roachtest: kv50/rangelookups/relocate/nodes=8 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/d3f12c63e91924450945c9dbc154df8a50b5c89d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531418&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-10 10:43] spaskob commented on #40563
@dt any recommendations on how to confirm that the last PR has fixed this issue?

[2019-10-10 13:57] jongiddy commented on #41471
I looked into how this might happen. I didn't find the mechanism exactly, but the following might help track it down.

First, this comment is incorrect:
https://github.com/cockroachdb/cockroach/blob/a32985e6ceef99a0d0b8a42bed97d7d2a99a849b/pkg/cli/flags.go#L238

`cockroachCmd` is a parent of `startCmd`  so the `start` command also inherits this preexec and `extraClientFlagInit` is unexpectedly cal

[2019-10-10 14:06] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/d3f12c63e91924450945c9dbc154df8a50b5c89d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531418&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-10 14:24] lucy-zhang commented on #40935
This seems to not happen in 2.1.9.

I've been trying to run this modified roachtest before/after changes that look significant between 2.1 and 19.1, and I've gotten as far as reproducing the problem on 2ebd51db86ccf2301032627d88f3a015150848b9 (which is #34383). For some reason, going back farther than that tends to result in unrelated test failures due to the cluster being overloaded, possibly bec

[2019-10-10 14:58] andreimatei commented on #41488
looks like apt-get flake

[2019-10-10 14:58] #41488 closed

[2019-10-10 15:27] robert-s-lee opened #41493 "support: separate form for bug, feature, performance ticket types"
**Is your feature request related to a problem? Please describe.**

Public GitHub issues have bug, feature, performance ticket types.  Support portal priority (see below).
<img width="564" alt="Screen Shot 2019-10-10 at 11 16 50 AM" src="https://user-images.githubusercontent.com/6315124/66582810-5b1c4080-eb50-11e9-9e4f-8a00d66688df.png">

Not having template of information to fill out by ticket ty

[2019-10-10 15:44] #41321 closed

[2019-10-10 15:53] cockroach-teamcity opened #41499 "teamcity: failed test: TestRemoveDeadReplicas"
The following tests appear to have failed on master (testrace): TestRemoveDeadReplicas, TestRemoveDeadReplicas/1/3/r=3,allStopped=true, TestRemoveDeadReplicas/1/3/r=3,allStopped=false, TestRemoveDeadReplicas/2/4/r=4,allStopped=true, TestRemoveDeadReplicas/2/4/r=4,allStopped=false

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestRem

[2019-10-10 15:55] awoods187 commented on #41059
@glennfawcett can you share the query here?

[2019-10-10 16:16] andy-kimball commented on #41328
Dan, can you comment on this? Was it your intention to modify this behavior in https://github.com/cockroachdb/cockroach/commit/dd5053e?

[2019-10-10 16:17] #40913 closed

[2019-10-10 16:20] rafiss commented on #40538
The hibernate test suite finally passed flake-free against version 19.2 last night.

The above error for 2.1 is because it is using a cluster setting that didn't exist in 2.1. It will be fixed by #41504

[2019-10-10 16:23] danhhz commented on #41328
I doubt I meant to change any behavior here, I'll take a look. cc @tbg

[2019-10-10 16:36] danhhz commented on #41328
This definitely seems to be an error in my refactor, I intended no behavior change here.

I looked up when the "only include live replicas, since dead replicas should soon be removed" comment was introduced and it was in #28875. This PR fixed #25392, which was a situation where one replica went dead, then another went dead, then the first dead replica came back.

[2019-10-10 16:44] danhhz commented on #41328
Is the right fix here simply to restore the old behavior? I'm not sure.

I agree that in Darin's scenario we want 3 replicas on the 3 live nodes. As I understand it, at master, we'll end up with 4 replicas, 3 on the live nodes and 1 on the dead node? If we buy the justification in #28875 that when we have a dead node we should upreplicate first before removing the dead node's replica, then it soun

[2019-10-10 16:48] rafiss commented on #41270
Thank you for raising this!

Our docs currently describe how you could set up load balancing infrastructure like HAProxy in front of a CockroachDB cluster: https://www.cockroachlabs.com/docs/stable/deploy-cockroachdb-on-premises.html#step-6-set-up-load-balancing

However, I do agree that it would be an interesting direction for us to provide some type of out-of-the-box load balancing solution that

[2019-10-10 17:02] #41366 closed

[2019-10-10 17:03] awoods187 commented on #41009
I ran today on v19.2.0-beta.20190930-234-g6d79c7a and was not able to reproduce. I'm a bit perplexed as to why it got fixed as discussed in the release blockers meeting but happy it seems to have been addressed.

[2019-10-10 17:03] #41009 closed

[2019-10-10 17:06] #41485 closed

[2019-10-10 17:12] darinpp commented on #41328
A sensible thing to do when `num_replicas = 5` and you don't have 5 live nodes is to transition to 3 replica configuration. With replication factor of 3, you would relocate a replica on a dead node to a live node. But I haven't seen that logic anywhere in the code so I'll assume that we never did this.

[2019-10-10 17:16] nvanbenschoten commented on #41450
This looks a lot like https://github.com/cockroachdb/cockroach/issues/39815.

[2019-10-10 17:23] danhhz commented on #41328
This seems related https://github.com/cockroachdb/cockroach/blob/04f2f3f69b4fe12b02499637be6b33435f45386d/pkg/storage/replicate_queue.go#L484-L517

[2019-10-10 17:24] danhhz commented on #41328
I'm still confused about why we don't remove that replica on the dead node

[2019-10-10 17:28] awoods187 commented on #35096
The underlying bug for restoring this data has been addressed. As such, I went ahead attempted to repro this again.

I had the exact same experience as the previous comment. Node 1 fails and SSHing hangs for what I assume is an OOM but I can't prove it. Cluster is `andy-3node` (i mistyped the name but its actually 30 nodes)

[2019-10-10 17:52] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/d3f12c63e91924450945c9dbc154df8a50b5c89d

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531418&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-10 18:32] awoods187 commented on #35096
[code]

[2019-10-10 18:34] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/b519bf7f81795d360fcf458b5d5e031b3fc43e9e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1531436&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-10 18:37] awoods187 commented on #35096
Here is the heap profile [heap profiles.zip](https://github.com/cockroachdb/cockroach/files/3714060/heap.profiles.zip)

[2019-10-10 18:44] RaduBerinde commented on #35096
In general, a big part of the budget is consumed by the prepared statements, which have to be prepared on each connection separately. Thanks to plan caching, most of these should actually be sharing the same memo, but the accounting code is pessimistic and doesn't take that into account.

[2019-10-10 18:46] rafiss opened #41511 "sql: PGJDBC encounters "SimpleQuery not allowed while in extended protocol mode""
The PGJDBC driver has a test suite in `AutoRollbackTestSuite.java`.

The following query fails in a lot of the test cases. Note that it fails before any of the rollback logic is tested -- this error happens right at the beginning of the test.

[code]
[code]

could relate to #33693

[2019-10-10 19:07] RaduBerinde commented on #35096
Can you try skipping that step, or running that step with the additional `--conns 1000` flag?
[code]

CC @nvanbenschoten

[2019-10-10 19:25] RaduBerinde commented on #35096
Talked to Nathan, the roachtests use a different variant for that step, one that would cut down the connections to 10k:
[code]

I updated the instructions in the "Manually Run TPC-C" wiki page.

[2019-10-10 19:28] nvanbenschoten commented on #35096
Just double checked and the roachtests actually run with this small amount of load for a while as a way to let the system balance replicas and leases based off load. If you don't want to do that (`--duration=1s`) then you might as well drop `--workers=10000` down to `--workers=1`.

[2019-10-10 19:38] #21167 closed

[2019-10-10 19:41] rafiss opened #41513 "sql: PGJDBC encounters "there is already a transaction in progress" error"
The pgjdbc driver has a test called `BatchExecuteTest.testBatchWithAlternatingTypes`.

The error happens right at the beginning of the test, and the tests do not share connections with each other. It is not clear how another transaction could be in progress.

The first thing the test does is send a `BEGIN` statement, which fails with

[code]

Jira issue: CRDB-5441

[2019-10-10 19:59] rafiss opened #41514 "sql: PGJDBC batch statements do not get correct return codes with autocommit on"
PGJDBC has a test `BatchExecuteTest.testSelectInBatchThrowsAutoCommit`.

It performs the following updates in a `Statement.executeBatch()` call:

[code]

The test checks if each statement in the batch succeeded, and checks that the final value is set accordingly.

[code]

This fails with:

`java.lang.AssertionError: testbatch.col1 should account +1 and +2 for the relevant successful rows: [-3, -3,

[2019-10-10 20:01] awoods187 commented on #35096
I restarted the node and then ran the new version with fewer workers:
[code]

Everything passed as expected. I'm going to close this issue as basically user error in applying how we designed our previous performance testing instructions.

[2019-10-10 20:01] #35096 closed

[2019-10-10 20:11] awoods187 opened #41515 "sql: cockroach demo fatal if computer sleeps"
I setup cockroach demo global today for some tests:
[code]
Then I closed my laptop and put it to sleep. When I came back, I received these fatals:
[code]
This is really a scary warning for what is expected behavior of letting cockroach demo go to sleep. We should replace this was an error that says "lost connect to temporary cockroach demo cluster" or something similar

[2019-10-10 20:25] lucy-zhang commented on #39772
This was done as part of #40793.

[2019-10-10 20:25] #39772 closed

[2019-10-10 20:49] solongordon opened #41518 "sql: SHOW RANGES hangs if a table has any unavailable ranges"
@kai-niemi highlighted the fact that the SHOW RANGES command completely hangs if any of the relevant ranges are unavailable. This is unfortunate since that command is one of the first ways a user might try to diagnose the availability issue. This is mentioned in [a comment](https://github.com/cockroachdb/cockroach/issues/19644#issuecomment-503242491) on #19644 but deserves its own issue.

Repro:
[

[2019-10-10 21:11] darinpp commented on #41328
Because we haven't wrote the code in a way to handle that. The logic currently sees 5 nodes (3 live and 2 dead). One replica is placed on a dead node and 2 on the live nodes. The replication factor is 5 so the range is under-replicated. We currently check to see if we have a live node to add one more replica and that's - yes. But then we check if we have one more live node to get to the final conf

[2019-10-10 21:13] justinj commented on #39340
#4 is super cool. FWIW just to clarify, I think "functional dependencies" are not quite the right way to think about it. It's possible to have a computed column that's functionally dependent on the set of columns in an index, but still not be able to determine the value of that computed column without doing a lookup:
[code]
In this case, `c` functionally determines everything, but we can't determi

[2019-10-10 21:16] nvanbenschoten commented on #41353
`tpccbench/nodes=9/cpu=4/multi-region` failed with the error `could not validate zone config: when per-replica constraints are set, num_replicas must be set as well`, which will be fixed by https://github.com/cockroachdb/cockroach/pull/41484.

`tpccbench/nodes=9/cpu=4/chaos/partition` failed with a timeout error, like it has been doing in https://github.com/cockroachdb/cockroach/issues/41027. This

[2019-10-10 21:32] ajwerner opened #41521 "rpc: connections can be leaked leaving clients blocked on Connect()"
**Describe the problem**

Calls to `rpc.Connection.Connect()` block until the first heartbeat has completed (either succeeded or failed). The rpc.Context.runHeartbeat loop when gRPC tries to redial the connection (leading to a send on `redialChan`). The hazard is if gRPC sends on that `redialChan` before `runHeartbeat` ever sends its first heartbeat. In this case, clients can get stuck in `Connect

[2019-10-10 21:40] andreimatei commented on #41521
Some more words: the `Connection.Connect()` call blocks forever here:
https://github.com/cockroachdb/cockroach/blob/44b39eea4dc72b221dec6c9836e62a18c1dd8270/pkg/rpc/context.go#L346
because nobody pings `initialHeartbeatDone`. `ctx.runHeartbeat()` is supposed to close that channel, but it might never do so because it races with gRPC calling into the `onlyOnceDialer` a 2nd time - which closes `redia

[2019-10-10 22:27] yuzefovich opened #41522 "sql: support NOTIFY, LISTEN, and UNLISTEN commands of postgresql"
PostgreSQL has support for [NOTIFY](https://www.postgresql.org/docs/current/sql-notify.html), [LISTEN](https://www.postgresql.org/docs/current/sql-listen.html), and [UNLISTEN](https://www.postgresql.org/docs/current/sql-unlisten.html) commands which generate and listen for a notification, respectively. This is not a part of SQL standard; however, some ORMs (like go-pg) seems to be using it.

[2019-10-10 23:05] rytaft opened #41524 "opt: account for memory used by histograms in the memo"
Currently we do not account for the memory used by histograms in the memo. The memory accounting is used for prepared statements here: https://github.com/cockroachdb/cockroach/blob/94fcb4ccc2f1eadcb8b6c7d810a01f3c20b8f596/pkg/sql/conn_executor_prepare.go#L169

We should either add memory accounting for histograms, or remove stats from the prepared memo.

cc @RaduBerinde

[2019-10-10 23:47] petermattis commented on #41450
@nvanbenschoten Kicking your way. I'm not familiar with this test.

[2019-10-11 03:33] nvanbenschoten commented on #41353
This was actually due to a connection limit in the HAProxy load balancer, which we are hitting now that the `tpccbench` search grows to 1230 warehouses. https://github.com/cockroachdb/cockroach/pull/41527 fixes the issue.

Still signing off on both tpccbench tests.

[2019-10-11 05:15] cockroach-teamcity opened #41528 "roachtest: scaledata/jobcoordinator/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/scaledata/jobcoordinator/nodes=3

[code]

[2019-10-11 05:15] cockroach-teamcity opened #41529 "roachtest: tpchbench/sql20/nodes=3/cpu=4/sf=1 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/tpchbench/sql20/nodes=3/cpu=4/sf=1

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #40550
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/decommission/nodes=4/duration=1h0m0s

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #41177
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/cdc/bank

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #39321
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/acceptance/version-upgrade

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #33660
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/hotspotsplits/nodes=4

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #36981
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/scaledata/filesystem_simulator/nodes=3

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #40552
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/scaledata/distributed_semaphore/nodes=3

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #38633
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/kv/quiescence/nodes=3

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #41350
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/kv/splits/nodes=3/quiesce=true

[code]

[2019-10-11 05:16] cockroach-teamcity commented on #41351
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/kv/splits/nodes=3/quiesce=false

[code]

[2019-10-11 05:21] cockroach-teamcity commented on #38417
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/cancel/tpcc/distsql/w=10,nodes=3

[code]

[2019-10-11 05:30] cockroach-teamcity opened #41530 "roachtest: disk-stalled/log=true,data=false failed"
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/disk-stalled/log=true,data=false

[code]

[2019-10-11 06:11] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/hibernate

[code]

[2019-10-11 07:19] cockroach-teamcity commented on #38257
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534788&tab=buildLog

[code]

[2019-10-11 08:53] cockroach-teamcity commented on #41491
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-11 09:21] heidawei commented on #31893
we have a similar issue in 19.1.4, I started one node cluster, then I try to show the jobs, and I get an error:
[code]
I retry many times , but the error continue, and the cluster can service for write and read for SQL client

[2019-10-11 11:01] ltworf opened #41531 "FTBFS -Werror=array-bounds"
I'm trying to build cockroachdb but compilation fails because of some C++ error.

Probably you are running an old gcc version so you don't get those checks.

[code]

[code]

**Environment:**
 - CockroachDB version git master
 - debian bullseye

**Additional context**

I can't use it since I can't build it.

[2019-10-11 14:02] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-11 14:15] bdarnell commented on #41521
I don't think you're missing anything. If the heartbeat loop doesn't start we still need to do something to signal the waiting Connect thread.

[2019-10-11 14:35] ajwerner commented on #41521
The patch in https://github.com/cockroachdb/cockroach/pull/41533 should fix it.

I'd like to write a unit test which reproduces the rapid redial, at least under stress/stressrace. I've tried creating a client and server context and then either immediately or rapidly after connection on the server side close the underlying conn with a bunch of concurrent goroutines calling connect. In brief testing

[2019-10-11 17:22] andy-kimball opened #41535 "opt: Support partitioned uniqueness checks"
This is an idea advanced by @danhhz and @sumeerbhola that is relevant to our efforts to make multi-region applications easier. I've added some thoughts on how we might support this in the optimizer.

Consider this schema:
[code]
Assume there is a requirement that email addresses are domiciled in the corresponding country of origin (because they are PII). However, there is also a requirement that e

[2019-10-11 17:24] andy-kimball commented on #41535
CC: @sumeerbhola, @danhhz, @rytaft, @justinj, @awoods187, @jordanlewis

[2019-10-11 17:25] cockroach-teamcity commented on #41027
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-11 17:27] ajkr commented on #41228
Read the code yesterday. I didn't understand the optimization for deferring sorting.

During a partial merge, it avoids sorting by time and simply concatenates lists together to produce a result. So, a partial merge's result may not be sorted.

In a full merge, it assumes the base value (i.e., the `Put()` below the merge operands), if there is one, is sorted. The full merge combines the already so

[2019-10-11 17:40] petermattis commented on #41228
I'm not sure, and don't know of anybody who would be sure. I think you'll have to do a bit of reverse engineering.

Don't forget that we can extend Pebble's implementation of merge. Before doing that, I think it would be good to better understand what this optimization is doing and how effective it is. It sounds like you're saying the "optimization" might be having the opposite effect of what was

[2019-10-11 17:43] ajkr commented on #41228
Yes, that is my guess. Let me try to see if there are other differences between a base value and a merge operand's value. So far it looked like just the sorted-ness and IMO it looks beneficial to drop that distinction.

[2019-10-11 17:48] petermattis commented on #41228
Definitely worthwhile to verify your reading with instrumentation of the code.

[2019-10-11 18:06] cockroach-teamcity commented on #37259
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534498&tab=artifacts#/network/tpcc/nodes=4

[code]

[2019-10-11 18:49] piyush-singh opened #41537 "ui: add search to statements page"
Designs: https://zpl.io/bJ1JKGW

The current statements page in the UI can make it difficult to find a specific statement that you are looking for when troubleshooting performance. There are several reasons for this:

- The statements page currently only shows a summary of the statement fingerprint in the "Statement" column that includes the type of statement (SELECT, INSERT, UPDATE, etc.), and th

[2019-10-11 20:28] ajwerner commented on #37255
Just of curiosity, when this is done will we allow foreign key relationships between columns of different tables which are unique but don't have the exact index to prove it? For example:

[code]

Is there extra work required to deduce that this foreign key could indeed be easily checked and if so should that be tracked elsewhere?

[2019-10-11 21:08] petermattis commented on #41531
Hi @ltworf. You're correct that we use an older version of gcc of compilation. The easiest workaround is to use our docker build environment. `build/builder.sh mkrelease`. Or, even easier, use one of the released binaries: https://www.cockroachlabs.com/docs/releases/.

The specific error is occurring in generated protobuf code. We'll have to track down whether that has been fixed in the protobuf l

[2019-10-11 21:12] cup commented on #13634
https://github.com/cockroachdb/cockroach/issues/13634
https://github.com/cockroachdb/cockroach/issues/2677
https://github.com/cockroachdb/cockroach/issues/3151

[2019-10-11 21:12] cup commented on #2677
https://github.com/cockroachdb/cockroach/issues/13634

https://github.com/cockroachdb/cockroach/issues/2677
https://github.com/cockroachdb/cockroach/issues/3151

[2019-10-11 21:13] cup commented on #3151
https://github.com/cockroachdb/cockroach/issues/13634
https://github.com/cockroachdb/cockroach/issues/2677

https://github.com/cockroachdb/cockroach/issues/3151

[2019-10-11 21:25] ajwerner commented on #39601
fyi @spaskob

[2019-10-11 21:44] petermattis commented on #41531
@ltworf https://github.com/petermattis/cockroach/tree/pmattis/wno-array-bounds might workaround this problem (by disabling the error). Can you take that for a spin?

[2019-10-11 21:56] petermattis commented on #41531
We're still using protobuf 3.6. I took a look at the latest release (3.9.2), and it generates similar code. Disabling the error seems like the way to go for now.

[2019-10-11 23:08] #41027 closed

[2019-10-11 23:18] itsbilal opened #41546 "storage: Preserve SSTableInfo level structure with GetSSTables"
The method `SSTables()` on Pebble DB instances returns SSTable info indexed by level. Currently, due to the `WithSSTables` interface-enforced return type on `GetSSTables()` (see `pkg/storage/engine/engine.go`), this information gets decomposed away into a flat slice, only to be later re-indexed in the compactor.

This extra work can be optimized if the level-based layout is preserved throughout. W

[2019-10-11 23:33] asubiotto opened #41547 "sql: wrong error code returned when performing invalid byte sequence casts"
These were found running the https://github.com/lib/pq test suite against cockroach. Specifically `TestBinaryByteSlicetoUUID` fails because an error with the `Syntax` error code is returned rather than the expected `CharacterNotInRepertoire` code (postgres does this). `TestBinaryByteSliceToInt` is also expected to fail with the same error code but returns a `ProtocolViolation` error seemingly furt

[2019-10-11 23:41] asubiotto commented on #41522
https://github.com/lib/pq as well

[2019-10-12 01:28] yuzefovich opened #41548 "sql: support more time spans for EXTRACT"
Currently we support these "fields": `year, quarter, month, week, dayofweek, dayofyear, hour, minute, second, millisecond, microsecond, epoch`.

Postgres supports [more](https://www.postgresql.org/docs/8.3/functions-datetime.html). Some of the missing ones are `century, decade, isodow, isoyear, millenium`. The relevant code lives in `pkg/sql/sem/builtins/builtins.go`.

As a bonus, Postgres returns

[2019-10-12 01:56] yuzefovich commented on #24560
Is this done now that #40945 has been merged? cc @justinj

[2019-10-12 05:14] cockroach-teamcity commented on #41176
SHA: https://github.com/cockroachdb/cockroach/commits/2859f9b35f1ed6d1a4e960a106e951d81de21287

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535775&tab=artifacts#/acceptance/bank/cluster-recovery

[code]

[2019-10-12 05:14] cockroach-teamcity commented on #41253
SHA: https://github.com/cockroachdb/cockroach/commits/2859f9b35f1ed6d1a4e960a106e951d81de21287

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535775&tab=artifacts#/acceptance/cluster-init

[code]

[2019-10-12 05:15] cockroach-teamcity commented on #41166
SHA: https://github.com/cockroachdb/cockroach/commits/2859f9b35f1ed6d1a4e960a106e951d81de21287

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535775&tab=artifacts#/acceptance/gossip/restart-node-one

[code]

[2019-10-12 05:28] cockroach-teamcity commented on #38417
SHA: https://github.com/cockroachdb/cockroach/commits/fad7d8c705cdef3c274a8a3bbcb9d08d7386e1ed

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535757&tab=artifacts#/cancel/tpcc/distsql/w=10,nodes=3

[code]

[2019-10-12 05:33] cockroach-teamcity opened #41549 "cli: Example_zone failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/2859f9b35f1ed6d1a4e960a106e951d81de21287

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535862&tab=buildLog

[code]

[2019-10-12 05:57] cockroach-teamcity commented on #41530
SHA: https://github.com/cockroachdb/cockroach/commits/fad7d8c705cdef3c274a8a3bbcb9d08d7386e1ed

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535757&tab=artifacts#/disk-stalled/log=true,data=false

[code]

[2019-10-12 05:59] cockroach-teamcity commented on #37307
SHA: https://github.com/cockroachdb/cockroach/commits/fad7d8c705cdef3c274a8a3bbcb9d08d7386e1ed

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535757&tab=artifacts#/cdc/cloud-sink-gcs/rangefeed=true

[code]

[2019-10-12 06:05] cockroach-teamcity opened #41550 "roachtest: encryption/nodes=1 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/2859f9b35f1ed6d1a4e960a106e951d81de21287

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535775&tab=artifacts#/encryption/nodes=1

[code]

[2019-10-12 06:15] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/fad7d8c705cdef3c274a8a3bbcb9d08d7386e1ed

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535757&tab=artifacts#/hibernate

[code]

[2019-10-12 08:36] cockroach-teamcity commented on #41491
SHA: https://github.com/cockroachdb/cockroach/commits/fad7d8c705cdef3c274a8a3bbcb9d08d7386e1ed

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535757&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-12 10:44] cockroach-teamcity commented on #41109
SHA: https://github.com/cockroachdb/cockroach/commits/2859f9b35f1ed6d1a4e960a106e951d81de21287

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1536737&tab=buildLog

[code]

[2019-10-12 12:24] asubiotto opened #41551 "sql/pgwire: return correct error code for failed auth"
We currently send back an error to the client if auth fails:
https://github.com/cockroachdb/cockroach/blob/fad7d8c705cdef3c274a8a3bbcb9d08d7386e1ed/pkg/sql/pgwire/conn.go#L1499

These types of errors should either have the `InvalidAuthorizationSpecification` error code or `InvallidPassword`.

Epic CRDB-7217

[2019-10-12 13:49] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/fad7d8c705cdef3c274a8a3bbcb9d08d7386e1ed

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535757&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-12 16:47] waeljammal commented on #20071
We have similar issues, we've now decided to not use it which sucks because we really like cockroach and were prepared to get an enterprise licence but we use nats streaming, keycloack and migration tools that just don't work due to the "from update" syntax missing.

[2019-10-12 17:07] petermattis commented on #41530
This is reproducible. The problem is that a previous run of `disk-stall/log=false,data=true` on this device left detritus around. When running on top of the charybdefs "faulty" filesystem, charybdefs creates files in the "real" filesystem that are owned by root. The `cockroach-temp*` directory is created using `ioutil.TempDir` which creates directories with the mode 0700.

A super confusing part o

[2019-10-12 18:34] cockroach-teamcity opened #41553 "roachtest: tpccbench/nodes=9/cpu=4/chaos/partition failed"
SHA: https://github.com/cockroachdb/cockroach/commits/2859f9b35f1ed6d1a4e960a106e951d81de21287

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1535775&tab=artifacts#/tpccbench/nodes=9/cpu=4/chaos/partition

[code]

[2019-10-12 18:45] cockroach-teamcity opened #41554 "sentry: server.go:1178: *net.OpError: accept tcp redacted->redacted: *os.SyscallError: accept4: syscall.Errno: too many open files in system"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1270029565/?referrer=webhooks_plugin

Panic message:

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob/6b14c0aa3ed1b4ba6d5f937e9352c5383afe1c

[2019-10-12 23:06] cockroach-teamcity commented on #41163
SHA: https://github.com/cockroachdb/cockroach/commits/41bac2fd99a91d92cb3ff6426789f7e64dd6b14a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1534479&tab=artifacts#/weekly/tpcc-max

[code]

[2019-10-13 14:05] #41530 closed

[2019-10-13 15:09] cockroach-teamcity opened #41556 "teamcity: failed test: gossip/restart"
The following tests appear to have failed on master (roachtest): acceptance/gossip/restart

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+gossip/restart).

[#1537154](https://teamcity.cockroachdb.com/viewLog.html?buildId=1537154):

[code]

Please assign, take a look and update the issue accordingly.

[2019-10-13 21:25] asubiotto opened #41558 "sql: support prepared statements with unknown types"
The lib/pq test suite is failing with the following:
Postgres:
[code]
Cockroach:
[code]

[2019-10-13 21:48] asubiotto commented on #12137
Reopening this for tracking because `lib/pq` also uses this for tests.

[2019-10-14 05:13] cockroach-teamcity commented on #39726
SHA: https://github.com/cockroachdb/cockroach/commits/702408aa7276c315ca561ddc9ef0ecf503363d33

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1537203&tab=artifacts#/import/tpcc/warehouses=1000/nodes=4

[code]

[2019-10-14 05:14] cockroach-teamcity commented on #41177
SHA: https://github.com/cockroachdb/cockroach/commits/702408aa7276c315ca561ddc9ef0ecf503363d33

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1537203&tab=artifacts#/cdc/bank

[code]

[2019-10-14 05:14] cockroach-teamcity opened #41559 "roachtest: acceptance/build-info failed"
SHA: https://github.com/cockroachdb/cockroach/commits/702408aa7276c315ca561ddc9ef0ecf503363d33

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1537203&tab=artifacts#/acceptance/build-info

[code]

[2019-10-14 05:14] cockroach-teamcity commented on #40550
SHA: https://github.com/cockroachdb/cockroach/commits/702408aa7276c315ca561ddc9ef0ecf503363d33

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1537203&tab=artifacts#/decommission/nodes=4/duration=1h0m0s

[code]

[2019-10-14 06:02] cockroach-teamcity opened #41560 "teamcity: failed test: TestReplicateQueueRebalance"
The following tests appear to have failed on master (testrace): TestReplicateQueueRebalance/atomic=false, TestReplicateQueueRebalance/atomic=true, TestReplicateQueueRebalance

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestReplicateQueueRebalance).

[#1537200](https://teamcity.cockroachdb.com/viewLog.html?buildId=1537200):

[code]

[2019-10-14 07:06] hazcod commented on #41270
I originally thought I could use the docker swarm DNS round-robin load balancing when scaling my cockroach services, but since every cockroach service needs different arguments, I can't use the scaling and instead have to define `service1`, `service2`, etc...

[2019-10-14 09:27] ltworf commented on #41531
Thanks!

I cherry picked your commit into my branch and it's working now. Well failing somewhere much later at least! :D

I might give the docker a shot.

[2019-10-14 13:17] george-polevoy opened #41561 "Multi-node decommissioning does not converge"
**Describe the problem**

When decommissioning commands are started for two nodes, replication never happens.

**To Reproduce**

What did you do? Describe in your own words.

If possible, provide steps to reproduce the behavior:

1. Set up CockroachDB cluster of 5 nodes, 3-way replication factor in docker.
2. Insert few million records, so there are 240 ranges in total.
Look at your stats, see rep

[2019-10-14 13:40] RaduBerinde opened #41562 "release: v19.2.0-rc.1"
Candidate SHA: [239513342a2d23f683bbc1d386f87ff59cc78d10](https://github.com/cockroachdb/cockroach/commit/239513342a2d23f683bbc1d386f87ff59cc78d10)
Deployment status: `radu-release-v1920-beta20191014-27ea46` and `radu-release-v1920-rc1-239513`
Nightly Suite: https://teamcity.cockroachdb.com/buildConfiguration/Cockroach_Nightlies_NightlySuite?branch=provisional_201910141814_v19.2.0-rc.1&buildTypeTa

[2019-10-14 14:17] asubiotto opened #41563 "sql: differing TIMESTAMPTZ::TEXT output with respect to postgres"
Ran into this while running the `lib/pq` tests:
Postgres:
[code]
Cockroach:
[code]

Jira issue: CRDB-5434

[2019-10-14 14:25] asubiotto opened #41564 "sql: 'infinity' returned as timestamp rather than 'infinity'"
Ran into this while running the `lib/pq` test suite:
Postgres:
[code]
Cockroach:
[code]

Jira issue: CRDB-5433

[2019-10-14 14:34] asubiotto commented on #41353
Signed off on `cancel/tpcc/distsql/w=10,nodes=3`, it just seems like the query completed before cancellation could take place.

[2019-10-14 14:51] asubiotto opened #41565 "sql: timestamp with time zone does not include location"
Ran into this while running the `lib/pq` test suite:
[code]
The test sends a go `time.Time` as an argument to the database and expects the location information to be round tripped, which doesn't seem to be happening.

[2019-10-14 15:09] #36733 closed

[2019-10-14 15:18] cockroach-teamcity opened #41566 "teamcity: failed test: TestChangefeedTruncateRenameDrop"
The following tests appear to have failed on release-19.2 (testrace): TestChangefeedTruncateRenameDrop, TestChangefeedTruncateRenameDrop/sinkless, TestChangefeedTruncateRenameDrop/enterprise

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedTruncateRenameDrop).

[#1537922](https://teamcity.cockroachdb.com/viewLog.html?buil

[2019-10-14 15:24] mjibson opened #41567 "sql: internal error: ReturnType called on TypedExpr with empty typeAnnotation"
[code]

[code]

[2019-10-14 15:26] piyush-singh opened #41568 "ui: add pagination to statements page"
The statements page currently simply lists all distinct statement fingerprints on the page without any pagination. If the cluster is running a workload with a large number of different queries, users might have to scroll for quite some time before they find the query they are looking for.

Further, loading all of the statements from the endpoint in a single call can cause issues with loading the p

[2019-10-14 15:35] rafiss commented on #40538
```E191012 06:15:24.918452 1 cli/error.go:233  cockroach server exited with error: could not query store capacity: open /mnt/data1/cockroach/real/cockroach-temp718633906: permission denied```

[2019-10-14 15:37] tbg commented on #41560
[code]

@ajkr

[2019-10-14 15:49] tbg commented on #41328
Thanks for the sleuthing, @darinpp. The root cause as I see it is that we're even attempting to upreplicate in this situation, i.e. this path:

https://github.com/cockroachdb/cockroach/blob/91bb5880bc26a1447ed8a2ed6d6ddd900a863048/pkg/storage/allocator.go#L368-L384

basically makes the decision to upreplicate. Later, when we actually act on this decision, we used to not follow through because of t

[2019-10-14 15:51] rafiss commented on #40538
Should be fixed by #41552

[2019-10-14 16:18] jordanlewis commented on #41567
I think this is an optimizer issue. @RaduBerinde can you take a look?

[2019-10-14 17:31] bdarnell commented on #41466
Not sure why it didn't pull out the right stack trace, but the real failure is a nil pointer exception in HandleRaftUncoalescedRequest. Looks like we've seen the same stack trace back in 2.1 via sentry in #36361, but closed it as unreproducible.

[code]

[2019-10-14 17:31] awoods187 commented on #41518
@solongordon do we have an idea on how to fix this?

[2019-10-14 17:31] dt opened #41572 "import: IMPORT still doing work after `CANCEL JOB`"
Was running a large IMPORT (tpcc 100k stock table on >50 nodes) and killed the shell in which the command had been run, then ran `CANCEL JOB` to cancel it.

However the job appeared to still be running long after that: I still saw goroutines in the IMPORT code and SSTables being added. I _thought_ that the IMPORT code was supposed to see cancellations via the progress loop and group context in sql

[2019-10-14 17:41] bdarnell commented on #41466
The crash is because we receive a message type that's not in this map:

https://github.com/cockroachdb/cockroach/blob/9f36f6414a1192d03bb50949670183d7915ce549/pkg/storage/metrics.go#L1374-L1385

Compare this to the upstream list https://github.com/etcd-io/etcd/blob/3ef2ad8e115449a7004b628a873e2629855ed468/raft/raftpb/raft.proto#L37-L55. We're missing MsgHup, MsgBeat, MsgUnreachable, MsgSnapStatus,

[2019-10-14 17:43] RaduBerinde commented on #41566
panic: test timed out after 45m0s
CC @danhhz

[2019-10-14 17:53] nvanbenschoten commented on #41466
I was looking into this because I hit it in https://github.com/cockroachdb/cockroach/pull/41507. I found that the message type was a `MsgApp`, but that the `Store` receiver was nil.

[2019-10-14 17:56] mattcrdb commented on #28842
A forum user ran into this limitation recently:

https://forum.cockroachlabs.com/t/performence-of-use-insert-select-statement-to-copy-a-table/3202

[2019-10-14 18:00] bdarnell commented on #41466
Ah, in that case the recent appearance of this issue means it may be tied to the test refactoring in #40892. cc @ajwerner

[2019-10-14 18:06] cockroach-teamcity commented on #41176
SHA: https://github.com/cockroachdb/cockroach/commits/702408aa7276c315ca561ddc9ef0ecf503363d33

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1537203&tab=artifacts#/acceptance/bank/cluster-recovery

[code]

[2019-10-14 18:14] ajwerner commented on #41466
Ack

[2019-10-14 18:28] RaduBerinde commented on #41567
This is only on `master`, related to HP cleanup. We no longer support subqueries here, we just need to error out in this case.

[2019-10-14 18:34] aayushshah15 commented on #41566
I `stressrace`d this test for about an hour (with a `45s` timeout instead of a `45m` timeout) and couldn't reproduce it.

[2019-10-14 18:51] danhhz commented on #41566
In the stacktrace, I see it the test stuck on a TRUNCATE https://github.com/cockroachdb/cockroach/blob/6d75f105bc8998cbcdf7dd35146eed53175784c2/pkg/ccl/changefeedccl/changefeed_test.go#L864

[code]

[2019-10-14 18:53] danhhz commented on #41566
Yeah, there's thousands of lines of this in the logs
[code]

[2019-10-14 18:58] knz commented on #37129
maybe check the `$LANG` and `$LC_...` env vars in your shell session. `psql` can derive encoding specs from that theoretically.

[2019-10-14 18:58] rafiss opened #41578 "sql: support `money` type"
https://www.postgresql.org/docs/9.1/datatype-money.html

[2019-10-14 19:37] RoachietheSupportRoach commented on #24897
Zendesk ticket #[3675](https://cockroachdb.zendesk.com/agent/tickets/3675) has been linked to this issue.

[2019-10-14 19:40] #41269 closed

[2019-10-14 19:40] #40282 closed

[2019-10-14 19:54] BramGruneir opened #41580 "sql: add postgres options to users"
Specifically, `nologin` and `valid until` would be very useful and should be relatively easy to add.

But let's consider adding as many options as possible from:
https://www.postgresql.org/docs/current/sql-alterrole.html

[2019-10-14 19:55] RoachietheSupportRoach commented on #41580
Zendesk ticket #[3849](https://cockroachdb.zendesk.com/agent/tickets/3849) has been linked to this issue.

[2019-10-14 20:45] bdarnell commented on #41580
Duplicate of #41396 (`nologin` and `valid until`) and #29633 ("as many options as possible")

[2019-10-14 20:45] #41580 closed

[2019-10-14 20:52] RoachietheSupportRoach commented on #41396
Zendesk ticket #[3849](https://cockroachdb.zendesk.com/agent/tickets/3849) has been linked to this issue.

[2019-10-14 20:53] #41466 closed

[2019-10-14 21:22] RaduBerinde commented on #41567
Hit this in release-19.2 as well, with statement `USE EXISTS ( TABLE error ) IS NULL`.

I will work on it but IMO it's not a release blocker.

[2019-10-14 21:41] andreimatei commented on #41446
reproduced with
[code]

We see that the partitioned table is considered over-replicated.

[code]

and yet everybody has 3 replicas:
[code]

[2019-10-14 22:11] danhhz commented on #41328
That's a good point. I think we could do something better in the future, but the only thing we could safely land right now for 19.2 would be the previous behavior. Are we calling this a 19.2 release blocker?

@darinpp wanna pick this off? I introduced this bug in my refactor and could blindly plumb down the old behavior, but you probably have this loaded up better at the moment.

[2019-10-14 22:25] cockroach-teamcity commented on #38417
SHA: https://github.com/cockroachdb/cockroach/commits/239513342a2d23f683bbc1d386f87ff59cc78d10

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538729&tab=artifacts#/cancel/tpcc/distsql/w=10,nodes=3

[code]

[2019-10-14 22:26] cockroach-teamcity commented on #41108
SHA: https://github.com/cockroachdb/cockroach/commits/239513342a2d23f683bbc1d386f87ff59cc78d10

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538729&tab=artifacts#/tpchbench/tpchVec/nodes=3/cpu=4/sf=1

[code]

[2019-10-14 23:16] dt commented on #37691
part of the problem here is that the conn executor has special code to execute "async" schema changes before sending the reply, making them appear synchronous:
https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/conn_executor.go#L1996

This doesn't exist for jobs, so there is no way to a) commit a job record and then b) wait for its results currently -- the job can't run until its creatio

[2019-10-15 00:33] cockroach-teamcity opened #41582 "roachtest: ycsb/A/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/239513342a2d23f683bbc1d386f87ff59cc78d10

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538727&tab=artifacts#/ycsb/A/nodes=3

[code]

[2019-10-15 01:42] cockroach-teamcity commented on #41491
SHA: https://github.com/cockroachdb/cockroach/commits/239513342a2d23f683bbc1d386f87ff59cc78d10

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538729&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-15 04:17] cockroach-teamcity commented on #41154
SHA: https://github.com/cockroachdb/cockroach/commits/239513342a2d23f683bbc1d386f87ff59cc78d10

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538729&tab=artifacts#/import/tpcc/warehouses=1000/nodes=32

[code]

[2019-10-15 05:16] cockroach-teamcity commented on #41528
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/scaledata/jobcoordinator/nodes=3

[code]

[2019-10-15 05:17] cockroach-teamcity commented on #36981
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/scaledata/filesystem_simulator/nodes=3

[code]

[2019-10-15 05:17] cockroach-teamcity opened #41583 "roachtest: tpccbench/nodes=3/cpu=4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/tpccbench/nodes=3/cpu=4

[code]

[2019-10-15 05:17] cockroach-teamcity commented on #40550
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/decommission/nodes=4/duration=1h0m0s

[code]

[2019-10-15 05:17] cockroach-teamcity commented on #40552
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/scaledata/distributed_semaphore/nodes=3

[code]

[2019-10-15 05:17] cockroach-teamcity opened #41584 "roachtest: tpcc/w=100/nodes=3/chaos=true failed"
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/tpcc/w=100/nodes=3/chaos=true

[code]

[2019-10-15 05:17] cockroach-teamcity commented on #33660
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/hotspotsplits/nodes=4

[code]

[2019-10-15 05:17] cockroach-teamcity commented on #39321
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/acceptance/version-upgrade

[code]

[2019-10-15 05:18] cockroach-teamcity commented on #38633
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/kv/quiescence/nodes=3

[code]

[2019-10-15 05:18] cockroach-teamcity commented on #41350
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/kv/splits/nodes=3/quiesce=true

[code]

[2019-10-15 05:18] cockroach-teamcity commented on #41351
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/kv/splits/nodes=3/quiesce=false

[code]

[2019-10-15 05:28] cockroach-teamcity commented on #41140
SHA: https://github.com/cockroachdb/cockroach/commits/239513342a2d23f683bbc1d386f87ff59cc78d10

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538729&tab=artifacts#/restore2TB/nodes=32

[code]

[2019-10-15 06:00] cockroach-teamcity commented on #41061
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538938&tab=buildLog

[code]

[2019-10-15 06:15] cockroach-teamcity commented on #41061
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538939&tab=buildLog

[code]

[2019-10-15 06:17] cockroach-teamcity opened #41585 "teamcity: failed test: TestChangefeedTruncateRenameDrop"
The following tests appear to have failed on master (testrace): TestChangefeedTruncateRenameDrop/enterprise, TestChangefeedTruncateRenameDrop/sinkless, TestChangefeedTruncateRenameDrop

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestChangefeedTruncateRenameDrop).

[#1538860](https://teamcity.cockroachdb.com/viewLog.html?buildId=15

[2019-10-15 06:17] cockroach-teamcity opened #41586 "teamcity: failed test: TestRemoveDeadReplicas"
The following tests appear to have failed on master (testrace): TestRemoveDeadReplicas/2/4/r=4,allStopped=true, TestRemoveDeadReplicas/1/3/r=3,allStopped=false, TestRemoveDeadReplicas/1/3/r=3,allStopped=true, TestRemoveDeadReplicas

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestRemoveDeadReplicas).

[#1538860](https://teamcity.co

[2019-10-15 06:59] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/239513342a2d23f683bbc1d386f87ff59cc78d10

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538729&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-15 07:13] cockroach-teamcity opened #41587 "roachtest: jepsen/g2/start-stop-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/jepsen/g2/start-stop-2

[code]

[2019-10-15 08:32] peymanh opened #41588 "storage: panic from raftgroup.Campaign call to becomeLeader"
Hi, we have 3 container replicas of cockroachdb on 3 different servers and manage them by _docker swarm_. Today after deploying latest changes to the system, suddenly our second container got stuck in "assigned to running" state.

I tried to debug the problem by seeing the container logs. this is the result of **_docker service logs roach2 --tail 100 -f_** command:

![cocroach](https://user-images

[2019-10-15 08:38] cockroach-teamcity commented on #41491
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/kv50/rangelookups/relocate/nodes=8

[code]

[2019-10-15 09:02] cockroach-teamcity commented on #41582
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538861&tab=artifacts#/ycsb/A/nodes=3

[code]

[2019-10-15 09:30] cockroach-teamcity commented on #40538
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/hibernate

[code]

[2019-10-15 09:52] tbg commented on #41586
@bdarnell it looks like the cluster had unavailable ranges after the pair. I went through all the stuck proposals and they all report on followers, which could mean that the leader elections fail. This happened under stressrace, but I'm not seeing any heartbeat failures etc, it really seems as if ranges were unavailable. Would you mind taking a look?

[2019-10-15 09:52] tbg commented on #41585
Same as the other one:

[code]

[2019-10-15 09:54] tbg commented on #40508
Closing for https://github.com/cockroachdb/cockroach/issues/40508

[2019-10-15 09:54] #40508 closed

[2019-10-15 09:54] tbg commented on #41585
https://github.com/cockroachdb/cockroach/issues/40508

[2019-10-15 09:54] #41585 closed

[2019-10-15 10:00] tbg commented on #41566
@aayushshah15 have you tried roachprod-stressrace?  It's not frequent on master, but did happen a few times, so I we need to keep pushing (timeouts are really shitty). There's a chance you have to tweak the `-p` flag to `STRESSFLAGS`, or try stressing the package instead of the particular test. If that doesn't bear fruit, the next thing to do is to instrument the log messages better so that we can

[2019-10-15 12:15] cockroach-teamcity commented on #39113
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/import/tpch/nodes=8

[code]

[2019-10-15 12:17] cockroach-teamcity opened #41589 "storage: TestReplicaGCRace failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1539259&tab=buildLog

[code]

[2019-10-15 12:42] cockroach-teamcity opened #41591 "sentry: (0) constant.go:321: could not resolve %T %v into a %T | *tree.NumVal; *tree.NumVal; types.TOidWrapper (see stack traces in additional data)"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1274371376/?referrer=webhooks_plugin

Panic message:

(see stack traces in additional data)

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob

[2019-10-15 12:56] ltworf commented on #11783
If they hadn't forked internally a bunch of libraries it could just be packaged as a normal debian package and be added to debian. But with the library fork it becomes kind of a mess. For security reasons only important enough projects that do this are allowed into debian.

[2019-10-15 13:08] bdarnell commented on #41586
I won't be able to look today. Maybe @darinpp ?

[2019-10-15 13:48] cockroach-teamcity opened #41592 "sentry: (0) constant.go:321: could not resolve %T %v into a %T | *tree.NumVal; *tree.NumVal; types.TOidWrapper (see stack traces in additional data)"
This issue was autofiled by Sentry. It represents a crash or reported error on a live cluster with telemetry enabled.

Sentry link: https://sentry.io/organizations/cockroach-labs/issues/1274493958/?referrer=webhooks_plugin

Panic message:

(see stack traces in additional data)

<details>
<summary>Stacktrace (expand for inline code snippets):</summary>

https://github.com/cockroachdb/cockroach/blob

[2019-10-15 13:51] mattcrdb commented on #41107
Closing due to inactivity.

[2019-10-15 13:51] #41107 closed

[2019-10-15 13:54] solongordon commented on #41518
No, I haven't had a chance to dig into what the underlying issue is.

[2019-10-15 14:20] andreimatei commented on #41587
Jepsen flake:
[code]

[2019-10-15 14:20] #41587 closed

[2019-10-15 14:20] jordanlewis commented on #41592
I think this is no longer a problem in 19.2, which removed all of the usages of `DOidWrapper` that are numeric. Going to close this one, as backporting a fix probably wouldn't be easy (and it's not a crasher).

[2019-10-15 14:20] #41592 closed

[2019-10-15 14:22] andreimatei commented on #41582
[code]

`roachprod extend` seems to have had a bad night.

[2019-10-15 14:22] #41582 closed

[2019-10-15 14:24] mattcrdb commented on #41270
Like @rafiss said, using a load balancing infrastructure like HAproxy pointing to your docker containers would be one way to do the round-robin load balancing.

By defining service1, service2 etc you mean giving them an alias?

[2019-10-15 14:37] mattcrdb commented on #41561
Hi George, this looks like the second decomission if creating a loss of quorum for a particular set of replicas.

With that said, we've introduced a feature called atomic rebalancing in our upcoming 19.2 release that should help with this.

The best practice is to not decommission another node until the first one has completed it's process.

[2019-10-15 14:41] #40563 closed

[2019-10-15 14:43] cockroach-teamcity commented on #41028
SHA: https://github.com/cockroachdb/cockroach/commits/a40cefbb5bd5e9d34f5db930334a385d0934d2d0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1538863&tab=artifacts#/tpccbench/nodes=9/cpu=4/multi-region

[code]

[2019-10-15 15:06] petermattis opened #41593 "storage/engine: adjust start/end arg types for {Iterate,ClearIterRange)()"
`Reader.Iterate` and `Writer.ClearIterRange` currently take `start` and `end` arguments of type `MVCCKey`. But neither method currently uses the timestamp. We should change the argument type to `roachpb.Key` to make this clearer.

[2019-10-15 15:07] petermattis opened #41594 "storage/engine: document in comments the how/why of distinct batches"
Distinct batches are an optimization originally motivated to reduce Cgo crossings when we know we don't need to read recent writes. The commentary around distinct batch needs to be improved, and we should investigate whether they are needed at all with Pebble where there is no Cgo barrier to cross.

[2019-10-15 15:10] petermattis opened #41595 "storage/engine: implement MVCCComparer.{Separator,Successor}"
`MVCCComparer.{Separator,Successor}` currently follow the semantics of the C++ comparator in libroach. Actually implement "real" versions of these routines can shrink the size of keys in index blocks.

[2019-10-15 15:14] solongordon opened #41596 "sql: error for NULL IN subquery"
The SQLAlchemy `test_null_in_empty_set_is_false` test exposed this error:
[code]
This appears to be related to #26733.

[2019-10-15 15:15] petermattis opened #41597 "storage/engine: tweak Iterator.MVCCScan return value"
`Iterator.MVCCScan` currently returns a single slice holding all of the KV data. This single slice is added as an element to `ScanResponse.BatchResponses` (a slice of slices). This interface causes MVCC-on-Pebble to create a single contiguous slice for all of the data being read, but we don't know how big that slice is up front so we need to grow the slice as we read. The data copying is non-trivi