[2019-07-22 22:31] nvanbenschoten commented on #39018
I'm worried that the batching change is causing issues with: https://github.com/cockroachdb/cockroach/blob/e0044e8a43b6fe126325e8314d764c04dce9c498/pkg/storage/replica_rangefeed.go#L453-L459

I think we'll want to have that take a `Reader` and read from the write batch as we build it so that a later write in the same application batch can't interfere with an earlier write.

That said, I would expe

[2019-07-22 22:32] bdarnell commented on #37195
HTTP/2 has a prioritization feature that is not exposed via GRPC (grpc/grpc-go#1448). I wonder if prioritization would get us the same benefit of a separate connection, and if it would be worth building this into GRPC.

We might also be able to tune the grpc window size parameters. I think our connection window size is low relative to our per-stream window size, increasing the risk that this high-

[2019-07-22 22:34] awoods187 commented on #36842
It still kills a node via OOm.
[code]
[Heap profiles](https://drive.google.com/open?id=1KBYw-dAzQn0Ls2MOEtY7YxhTeYgadrUo)

It's up on `andy-secure`

[2019-07-22 22:38] ajwerner commented on #37195
It's certainly possible. Doing it properly feels like a bigger reach for this release than adding a second rpc.Context.

I can play with this and see what I see.

[2019-07-22 22:42] bdarnell commented on #37195
Yeah, doing prioritization properly in GRPC is definitely a bigger task, but we could at least be a voice of support on that 2-year-old issue.

These liveness connections will also behave a bit differently than our others. We tend towards a fully-connected graph because any node may have to talk to any other, but the liveness connections will only be active to a single node at a time (the liveness

[2019-07-22 22:45] ajwerner commented on #37195
Good point.

There's also the question of the remote clock tracking. One thing I notice on the primary connection is that the RTT can get artificially gigantic.

[code]

[2019-07-22 22:50] yuzefovich commented on #38651
An interesting observation is that the more logging I add (by, say, adding `distsql_running=1` to `vmodule`) and the more my laptop is loaded, the less likely this failure reproduces.

[2019-07-22 22:54] yuzefovich commented on #38807
Closing this issue since Rohan's work has addressed all the differences.

[2019-07-22 23:06] yuzefovich commented on #38807
I closed it a little prematurely - this will be fixed once #38945 is merged.

[2019-07-22 23:17] yuzefovich commented on #38918
I believe this to be fixed #38983, so I'm closing this.

[2019-07-22 23:17] #38918 closed

[2019-07-22 23:59] yuzefovich opened #39042 "exec: a bug in CFetcher when not needed columns are present"
Currently, on master:
[code]
I believe the problem is that we're instantiating an output batch with all the types of the table here https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/row/cfetcher.go#L284, but only column `a` is necessary (a second column is `rowid` that is used as primary key). I made a brief unsuccessful attempt to fix it yet didn't succeed, but I think it should be a q

[2019-07-23 00:00] yuzefovich commented on #38995
I looked into this a bit more, and I believe the underlying problem is #39042.

[2019-07-23 00:06] jordanlewis commented on #34504
I think if we could assert that a query had no side-effecting renders and wasn't part of a subquery (or postquery), and additionally the tree contains no further mutations, we'd be good to go.

By the way, I tested @knz's suggestion (with `pg_sleep`) in Postgres and confirmed that the database indeed does not commit the transaction if one cancels the query halfway through the sleep.

One question

[2019-07-23 00:07] jordanlewis commented on #39042
Thanks for the report, I'll check this out.

[2019-07-23 03:01] jordanlewis opened #39044 "distsqlrun: lookup join still unboundedly buffers, but this time in a different way"
#35950 fixed one kind of unbounded buffering in lookup join - the kind caused by the KV layer, when somebody asks for a span that has an unbounded number of keys inside, without a batch limit.

But this didn't remove the potential for the `joinReader` to buffer in an unbounded manner, unfortunately!

The proximal cause is that `joinReader` doesn't use memory monitored containers. This should be a

[2019-07-23 03:03] jordanlewis commented on #39044
I believe this is still the root cause of #36842.

[2019-07-23 03:12] jordanlewis commented on #39042
I can't repro on master:

[code]

Version:

[code]

[2019-07-23 03:33] jordanlewis commented on #39010
This looks more like a planning thing, going to kick over to @RaduBerinde.

[2019-07-23 03:36] andy-kimball commented on #34504
If a user sends a cancel request, then I think one of two outcomes should be permissible:
1. The engine cancels the query and replies to the cancel request.
2. The engine runs the query to completion and replies to the cancel request. Note that any buffered output that has not yet been fully returned to the client *may* be discarded.

What should not be permissible is sending a cancel request, and

[2019-07-23 03:43] jordanlewis commented on #38933
Gotcha. What did you try so far?

[2019-07-23 04:22] jordanlewis commented on #39030
I think this is the same problem that #39038 tries to solve. I checked and `DrainMeta` never gets called.

[2019-07-23 04:55] yuzefovich commented on #39042
Sorry, I can't reproduce either, so it seems like I rung the false alarm. Probably what happened was that I was debugging #38995 and made some changes that caused an issue to appear with CFetcher. I then switched to the master branch and - likely - forgot to run `make build` and just ran `demo`.

[2019-07-23 04:55] #39042 closed

[2019-07-23 04:56] yuzefovich commented on #38995
Never mind, my hypothesis was wrong, disregard last comment.

[2019-07-23 05:59] robinbraemer commented on #24733
@SyedMuhammadSufyian No, I haven‘t written any code yet. Thanks for taking your time implementing ULID.

[2019-07-23 06:38] cockroach-teamcity commented on #36981
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1400942&tab=buildLog

[code]

[2019-07-23 07:03] cockroach-teamcity commented on #38794
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1400942&tab=buildLog

[code]

[2019-07-23 08:33] knz commented on #34504
First order business is to be careful about terminology. The pgwire protocol supports something called "cancel request" (a special message type) that is being "sent" by a client and "acknowledged" by the server, but this was out of scope from this issue so far (I will cover this below).

What we're talking about here (presumably, correct me if I'm wrong) is the following:

A. a client closes the c

[2019-07-23 08:35] knz commented on #34504
Separately, regarding cancel requests.
Note that these in pg are issued asynchronously, "out of band" from query processing.
So here the situation is more simple: there is no way for a client to guarantee that a cancel request be received by the server before or after the txn that they want to cancel has committed. So for cancel requests (the pgwire message or the `pg_cancel` builtin) specifically

[2019-07-23 08:38] knz commented on #34504
Also whatever answer we provide here, if it ends up becoming different from pg, we must be extra careful to make it *silently* different from pg -- i.e. not choose a behavior which causes a client oblivious to the difference to end up with bad data. In this case, for example a bad choice would be to silently commit the txn without any way for existing clients to notice.

[2019-07-23 08:55] SyedMuhammadSufyian commented on #24733
@robinbraemer , I am contributing to it.

[2019-07-23 09:58] cockroach-teamcity commented on #37163
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1400942&tab=buildLog

[code]

[2019-07-23 10:34] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1401330&tab=buildLog

[code]

[2019-07-23 10:46] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1400942&tab=buildLog

[code]

[2019-07-23 11:51] tbg commented on #36478
I have been thinking about what it would take to allow lowering the closed timestamp target duration.

I'm a bit fuzzy on what our "hard requirements" are. Do we want to serve real-time OLTP traffic using follower reads? Because that will require new technology and I'd say it's generally not reasonably achievable right now. Do we just want to get the 40s down "most of the time" but accepting that

[2019-07-23 13:04] tbg commented on #39008
@nvanbenschoten

I looked at the PR introducing this (#38782) and there isn't a migration. Isn't that an oversight? MinTimestamp is populated when the txn proto is made, i.e. not necessarily by the node evaluating `CanCreateTxnRecord`.

[2019-07-23 13:15] ajwerner commented on #32738
@dt

I'd like to look at finding a good signal for this. Do you have a good workload I can play with that wreaks havoc on a cluster?

[2019-07-23 13:53] tbg commented on #39005
After a completed instance of the load, the next one never quite got to starting. The chaos is this:

https://github.com/cockroachdb/cockroach/blob/3cf2306bbf45efd01f3243b74c6e259d5c4080b8/pkg/cmd/roachtest/tpcc.go#L735-L744

and there's a neverending stream of

[code]

until the test times out. I take this to mean that the prepare phase takes more than the time it takes for the gateway node to be

[2019-07-23 13:54] tbg commented on #38785
@nvanbenschoten you mentioned you were stressing this one, right?

[2019-07-23 14:01] tbg commented on #38633
No node crashed here, but it did barely miss the threshold.

[2019-07-23 14:11] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1400942&tab=buildLog

[code]

[2019-07-23 14:12] tbg commented on #38829
[code]

This happens at like the 3rd iteration of stopping cluster, starting cluster, waiting for stabilization.

The actual stabilization check is supposed to fatal after 20s:

https://github.com/cockroachdb/cockroach/blob/0a776f4ff1ade81949af273db510f3a5c2b69556/pkg/cmd/roachtest/gossip.go#L57-L63

Unfortunately that gossip loop logs to stdout which is hard to read, but I think all it ever print

[2019-07-23 14:16] tbg commented on #38102
I guess that's a "No", closing

[2019-07-23 14:16] #38102 closed

[2019-07-23 14:28] ajwerner commented on #31361
I'm a little bit late to this party. I too find this to be a problem. In debugging node liveness outages I noticed that client connections from time to time just spontaneously close. I suspect that's related to https://github.com/grpc/grpc-go/pull/1905 and am in the process of updating gRPC https://github.com/cockroachdb/cockroach/pull/39041. I suspect that these unexpected connection closing even

[2019-07-23 14:32] asubiotto commented on #37195
@ajwerner re the grpc upgrade, just a heads up that client-side keepalive minimums have been bumped up to 10s (https://github.com/grpc/grpc-go/pull/2642)

[2019-07-23 14:32] tbg commented on #31361
It feels like we're using breakers in too many places. We baked them into the process of dialing to make sure everybody felt the effect of the breaker, but now it turns out that that's sometimes the wrong thing to do.

[2019-07-23 14:34] ajwerner commented on #37195
Indeed https://github.com/cockroachdb/cockroach/pull/39041#issuecomment-514208478

If only that were the only problem.

[2019-07-23 14:35] tbg commented on #38246
Blaming this on the machines

[2019-07-23 14:35] #38246 closed

[2019-07-23 14:43] ajwerner commented on #39022
This did not repro in 20 attempts, I'll try changing the scale and running a more targeted import.

[2019-07-23 15:15] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1400942&tab=buildLog

[code]

[2019-07-23 15:17] tbg commented on #38601
Repro in 2m on gceworker via

[code]

[2019-07-23 15:18] RaduBerinde commented on #39010
[code]

Looks like the two columns become a single column in the bound expression.

[2019-07-23 15:26] #38807 closed

[2019-07-23 16:04] cockroach-teamcity opened #39051 "teamcity: failed test: TestLogic"
The following tests appear to have failed on release-19.1 (test): TestLogic/local, TestLogic, TestLogic/local: TestLogic/local/rename_table

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestLogic).

[#1401811](https://teamcity.cockroachdb.com/viewLog.html?buildId=1401811):

[code]

Please assign, take a look and update the issue acc

[2019-07-23 16:32] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1400942&tab=buildLog

[code]

[2019-07-23 16:59] #38858 closed

[2019-07-23 17:15] Tyler314 commented on #38933
I began looking at sql.y to see how queries are being parsed, in hopes I could mimic the behavior of an explicit DEFAULT NULL for the implicit case. As of right now, I seem to be having success with issue #38975, mentioned above, where I set the default expression of the column descriptor to `nil` in `sqlbase/table.go` if I find that it was explicitly NULL. This seems like it will work, but it sti

[2019-07-23 17:28] solongordon commented on #39029
[code]
Seems like it boils down to the unordered synchronizer getting stuck here:
https://github.com/cockroachdb/cockroach/blob/ec200a6f6dffbe8669b3011697a5b2aa9dc2f1cd/pkg/sql/exec/unorderedsynchronizer.go#L142-L153
I'll keep looking at this but will probably need to pull in @asubiotto to help sort out the correct behavior here.

[2019-07-23 17:30] mattcrdb commented on #38982
Hey @kishoresai438,

I replied to your forum thread from yesterday,but just in case you would like to have the discussion on Github, I will include my response here as well.

---
I can suggest utilizing our interval data type, the docs are here.

In your case, you would want to convert SEC_TO_TIME(duration*60) to an interval.

The supported time formats are listed in the docs.

The interval data t

[2019-07-23 17:32] #38775 closed

[2019-07-23 17:36] jordanlewis commented on #38933
I don't really like the idea of normalizing "no default" to `DEFAULT NULL` - it seems like your current idea is better, to normalize `DEFAULT NULL` to "no default" (`nil`).

You could probably figure out a way to do this in the parser, so that `SHOW CREATE TABLE` on the table doesn't show that `DEFAULT NULL` clause, but it's not necessary to do that - it's fine to perform the normalization where y

[2019-07-23 17:42] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/7111a67b2ea3a19c2f312f8d214b8823f431cac0

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1400942&tab=buildLog

[code]

[2019-07-23 17:50] RaduBerinde opened #39054 "opt: transfer constraints on join equality columns"
We saw a user case that was roughly of the form:
`SELECT .. FROM (SELECT * FROM t WHERE x=1) AS t1 JOIN t2 ON t1.x=t2.x`

Here it would be ideal to push down the `x=1` constraint on the right-hand side, in the hope that there is an index there that can help. Without pushing the constraint, we would get a lookup join on that index which is not too bad, but pushing down `x=1` can make things more ef

[2019-07-23 17:50] RaduBerinde commented on #39054
https://github.com/cockroachdb/cockroach/issues/20100 is somewhat related.

[2019-07-23 18:05] dt commented on #37083
Current plan from the schema change team:
Write a roachtest that creates and populates a cluster with some large table then runs (while the table is under load):
  - [ ] `CREATE TABLE ... REFERENCES t`
  - [ ] `CREATE INDEX ON t...`
  - [ ] `ADD COLUMN DEFAULT 0`
  - [ ] `ADD CONSTRAINT ... CHECK`
  - [ ] `ADD CONSTRAINT ... FOREIGN KEY`
  - [ ] `VALIDATE CONSTRAINT` (on a CHECK)
  - [ ] `VALIDATE

[2019-07-23 18:20] yuzefovich commented on #38919
The difference in explain was a false alarm.

However, I'm concerned on how we handle subqueries. Here is what happens on `SELECT a FROM t WHERE EXISTS(SELECT * FROM t WHERE true)` with `vectorize=on`:
1. we attempt to run the subquery through vectorized
 - we check whether it is supported (and it is), so we attempt to set up vectorized flow. This fails when setting up outboxes with
[code]
The rea

[2019-07-23 18:24] nvanbenschoten commented on #39008
Yes, that's an oversight. I must have been thinking about the behavior we'll want in the next release. It's strange because I was clearly [thinking](https://github.com/cockroachdb/cockroach/pull/38782/files#diff-142545f3fad93afc20f3298c18b8df57R161) about compatibility in this area of code. For now, we should continue to use `InclusiveTimeBounds` there. I'll send out a PR.

[2019-07-23 18:45] kenliu commented on #35462
@dt would this be a good one for @Tyler314 to pick up next?

[2019-07-23 18:54] ajkr commented on #38116
The original goal of this task is resolved, so closing.

[2019-07-23 18:54] #38116 closed

[2019-07-23 19:04] awoods187 commented on #37750
@mjibson can we run this through the reducer now?

[2019-07-23 19:09] jordanlewis commented on #37750
Can we see an `EXPLAIN` for this? It's possible that it's the same root cause as #39044. @yuzefovich also suggests it could be a problem with window function memory accounting.

[2019-07-23 19:25] jordanlewis opened #39056 "sql: total transaction time in conn_executor"
We need to track the total transaction time the way we currently track the total statement time.

[2019-07-23 19:29] yuzefovich commented on #38919
This hangs reliably on `fakedist-opt` config if we set `experimental_vectorize` to `on` in `exec_util.go`:
[code]

[2019-07-23 19:29] dt commented on #35462
I think @jordanlewis is already working on this in #38317 ?

[2019-07-23 19:35] mjibson commented on #37750
[code]

[2019-07-23 19:36] mjibson commented on #37750
[code]

[2019-07-23 20:34] rohany commented on #38475
Have we decided whether we want to produce a warning or an error in this case?

[2019-07-23 20:47] bdarnell commented on #38475
It's very difficult to make a warning in SQL that will actually get seen (client frameworks and migration tools have a habit of completely ignoring them). So in most cases I don't like warnings and would rather have an error with some override option.

On the other hand, there will be some risk of false positives. Non-partitioned indexes are only bad with the geo-partitioned replicas topology patt

[2019-07-23 20:48] asubiotto commented on #38757
I have an idea of why this is happening. It essentially boils down to a bug in the unordered synchronizer with inbox inputs returning an error (in this case a context canceled, explained below) from `Next` without waiting for all its inputs to return. I realize that there's a waitgroup that I put on the unordered synchronizer for this but it seems like I forgot to actually use it. I need to do mor

[2019-07-23 20:51] asubiotto commented on #38757
By the way, the reason we get these `context canceled` errors is that on this failure's `sha` we're still running with flawed distributed fallback logic, which results in outboxes cancelling flows due to getting back the "received data before header" error with an accompanying stream close.

[2019-07-23 20:53] yuzefovich commented on #38651
I've just confirmed that this issue appears to be caused by not properly using `TableReaderSpec`s, and the fix is in #38952.

[2019-07-23 20:59] #39008 closed

[2019-07-23 21:18] jordanlewis commented on #38475
What about returning an error without an opt-in if there exists at one index that was partitioned *by value*?

[2019-07-23 22:27] SyedMuhammadSufyian commented on #24733
@robinbraemer @jordanlewis How about giving this configuration in the hands of user , to select the uuid generation scheme ?

[2019-07-23 22:48] yuzefovich commented on #38919
Here is an updated reproduction (which should trigger the problem every time) with `experimental_vectorize=on` in `exec_util.go`:
[code]
Before, there was a chance that the query ends up having a local flow because the data was on a single (gateway?) node.

[2019-07-23 23:37] yuzefovich commented on #38919
The repro above works very good (but not 100% of the time). Unfortunately, I can't seem to be able to reproduce it outside of logic tests.

[2019-07-24 00:47] bdarnell commented on #38475
Partitioning by list (i assume that's what you meant by "by value") could be either geo-distributed replicas or geo-distributed leaseholders. It's what's in the zone config that makes the difference, not the partitioning config itself.

[2019-07-24 01:44] yuzefovich commented on #38919
I think I managed to make some progress on why the query `SELECT EXISTS(SELECT * FROM t WHERE k > 2)` hangs. Here are important things to note:
- this query is supported through vectorized engine
- it hangs when `colBatchScan` for the subquery is planned on a remote node
- the subquery is run in `EXISTS` execution mode

Say `n1` is gateway and `n2` is the remote with `colBatchScan`. All the distri

[2019-07-24 01:57] nvanbenschoten commented on #38785
I got distracted by https://github.com/cockroachdb/cockroach/issues/39018. Could be the same root cause. I'll stress with and without the fix tomorrow.

[2019-07-24 02:23] damienhollis commented on #19444
We have exactly the same need as @bithavoc - without being able to disable foreign keys, it makes it different to cleanup after running certain tests.

Any plans to add this to cockroachdb in the near future?

[2019-07-24 03:08] yuzefovich opened #39065 "exec: use vectorized engine when the cardinality is sufficiently high"
Once #38620 is closed, we need the planner to be aware of the estimated cardinality of the input to the plan, and only plan vectorized if that cardinality exceeds a threshold. Perhaps that threshold should be controlled by a separate setting as well.

[2019-07-24 03:12] yuzefovich opened #39066 "exec: plan merge joiner in some cases with "streaming" on"
In general case, merge joiner is not a streaming operator because it can do unbounded buffering when there are rows that are the same on the equality columns. However, when both of the inputs are unique, it becomes a streaming operator and should be planned accordingly once #38620 is closed.

[2019-07-24 03:29] asubiotto commented on #38651
Thanks for confirming!

[2019-07-24 03:35] jordanlewis commented on #38475
Yes, I meant by list. I forgot about the ambiguity you're talking about - I agree that we'd be at risk for false positives in this case, and trying to infer which case is intended by the zone configurations seems difficult. For example, what if somebody does all index creations first, and zone configures them later? In that case, if the inference required looking at zone configs, we wouldn't have

[2019-07-24 03:58] rohany commented on #38436
@awoods187 what kind of output are you expecting for the show create table to output here?

[2019-07-24 04:09] rohany commented on #20880
Since we have a way of manipulating partitions now in SQL, are there other things that depend on partitions having duplicate names across different indexes?

[2019-07-24 05:21] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402622&tab=buildLog

[code]

[2019-07-24 05:59] cockroach-teamcity commented on #35044
SHA: https://github.com/cockroachdb/cockroach/commits/c9d949e6593125ef4718a495368f8a3dfde01108

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402816&tab=buildLog

[code]

[2019-07-24 06:56] cockroach-teamcity opened #39069 "storage: TestSendAndReceive failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/c9d949e6593125ef4718a495368f8a3dfde01108

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402959&tab=buildLog

[code]

[2019-07-24 08:14] cockroach-teamcity commented on #38601
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1403292&tab=buildLog

[code]

[2019-07-24 08:54] cockroach-teamcity commented on #39018
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402541&tab=buildLog

[code]

[2019-07-24 09:34] cockroach-teamcity commented on #37810
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402541&tab=buildLog

[code]

[2019-07-24 10:10] #38601 closed

[2019-07-24 10:43] cockroach-teamcity opened #39071 "roachtest: import/tpch/nodes=4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402541&tab=buildLog

[code]

[2019-07-24 10:49] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402541&tab=buildLog

[code]

[2019-07-24 10:57] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/c9d949e6593125ef4718a495368f8a3dfde01108

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402559&tab=buildLog

[code]

[2019-07-24 11:17] cockroach-teamcity commented on #37163
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402541&tab=buildLog

[code]

[2019-07-24 11:26] asubiotto commented on #38919
Where is the Inbox stuck and how does the Outbox terminate? Usually an EOF from the remote stream would unblock the Inbox. Also, ConsumerClosed should result in DrainMeta getting called on the Inbox, I would double check that that happens when the materializer gets ConsumerDone called.

[2019-07-24 11:33] cockroach-teamcity opened #39072 "roachtest: import/tpcc/warehouses=1000/nodes=32 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402541&tab=buildLog

[code]

[2019-07-24 12:07] awoods187 commented on #38436
For Movr, first we partition the users table:
[code]
Then we add constraints:
[code]
`SHOW CREATE TABLE users` currently displays:
[code]
Post adding in constraints I'm imagining:
[code]
With some in-line comments that show constraints.

Note, I also just realized that if you run `SHOW CONSTRAINTS FROM users` after adding constraints you will not see these either:
[code]

[2019-07-24 12:58] jordanlewis commented on #38987
I got to the bottom of this: we were failing to clean up an iterator if another error happened near its construction. I'm confident that this isn't related to any of our current travails, so I'm going to put this on the back burner for a week or so.

The following diff fixes the issue, and exposes the real issue:

[code]

[code]

[2019-07-24 13:29] #38943 closed

[2019-07-24 13:46] cockroach-teamcity opened #39073 "teamcity: failed test: TestStoreRangeMergeDuringShutdown"
The following tests appear to have failed on master (testrace): TestStoreRangeMergeDuringShutdown

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestStoreRangeMergeDuringShutdown).

[#1403923](https://teamcity.cockroachdb.com/viewLog.html?buildId=1403923):

[code]

Please assign, take a look and update the issue accordingly.

[2019-07-24 14:02] Bessonov commented on #6583
@tbg @incubus8 there is some information about how to make keycloak work with CRDB: https://lists.jboss.org/pipermail/keycloak-user/2018-January/012673.html

I'm not tried it yet, but I'm interested to use CRDB for keycloak. If you have a success, then ping back.

[2019-07-24 14:38] jesterjaimi opened #39074 "Is this valid sql? "select count(*) usertable;""
**Describe the problem**

More of a syntax question...

Ran the following statement without a from...

select count(*) usertable;

got the following.

root@localhost:26257/ycsb> select count(*) usertable;
  usertable
+-----------+
          1

Seems rather liberal, but perhaps this is valid sql...

**To Reproduce**

select count(*) usertable;
If possible, provide steps to reproduce the behavior:

[2019-07-24 14:40] #39030 closed

[2019-07-24 14:40] #39033 closed

[2019-07-24 14:40] #39039 closed

[2019-07-24 14:45] ricardocrdb commented on #37525
Hey @luzongyi

Sorry for the delay, I have been doing some investigating on my side regarding this issue. On node 4's latest logs, are we seeing any messages stating `The range is unavailable`? Please let me know if you see anything like this.

Cheers,
Ricardo

[2019-07-24 14:59] awoods187 opened #39075 "sql: show constraints doesn't show all constraints"
For Movr, first we partition the users table:

[code]

Then we add constraints:

[code]

If you run `SHOW CONSTRAINTS FROM users` after adding constraints you will not see them:
[code]

[2019-07-24 15:03] awoods187 opened #39076 "sql: add constraints to SHOW CREATE TABLE"
Splitting this off of https://github.com/cockroachdb/cockroach/issues/38436

For Movr, first we partition the users table:

[code]

Then we add constraints:

[code]
root@localhost:26257/movr> show create table users;
  table_name |                      create_statement
+------------+-------------------------------------------------------------+
  users      | CREATE TABLE users (
             |

[2019-07-24 15:28] yuzefovich commented on #38919
Here is a snapshot of logs:
[code]
So what happens is that Outbox receives a batch of length 1, sends it, then receives a zero-length batch and terminates gracefully. Inbox receives a batch of length 1, but `Next` is never get called on it again because `DistSQLReceiver` doesn't need more input from the source (a chain of `Inbox -> noopOperator -> materializer`). I believe Inbox gets stuck here ht

[2019-07-24 15:35] ricardocrdb commented on #39074
Hey @jesterjaimi

The `SELECT COUNT(*)` is using an implicit `AS` in your query, and since a table is not being selected from, there's a "unit" table that is implicitly using a column named "usertable" with value of 1. You can see below that the first and second queries give the same result, versus the correct syntax for the count from table "usertable".

[code]

Let me know if there are any other

[2019-07-24 15:39] #37810 closed

[2019-07-24 15:39] #39018 closed

[2019-07-24 15:46] nvanbenschoten commented on #39073
Duplicate of #36086.

[2019-07-24 15:46] #39073 closed

[2019-07-24 15:48] yuzefovich commented on #38919
I've opened a PR with the fix I mentioned above, and it should unblock the "streaming" setting, but I think it is a hacky way of solving this problem, so I'll keep the issue open.

[2019-07-24 16:03] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402541&tab=buildLog

[code]

[2019-07-24 16:03] jordanlewis commented on #35462
I was, but I don't have bandwidth to finish that work right now. It needs more testing still. If @Tyler314 wants to pick this up, I'm completely okay with that.

[2019-07-24 16:35] mattcrdb commented on #20663
Hey, this issue is causing some confusion.

We should rethink this, granting priveleges to a user on the database level should propagate to tables created before as well.

Rich has opened a docs issue to document the behavior more clearly and how to work around it.

See https://github.com/cockroachdb/docs/issues/5083

[2019-07-24 16:40] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/86eab2ff0a1a4c2d9b5f7e7a45deda74c98c6c37

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1402541&tab=buildLog

[code]

[2019-07-24 17:44] kenliu opened #39079 "Manually run test suite on Windows for 19.2 release"
We need to verify that our test suite passes for a Windows build to validate that currently known Windows compatibility issues (in scope for 19.2) are addressed.

[2019-07-24 17:57] kenliu commented on #38789
added to Core project for triage -- needs to be in scope for 19.2

[2019-07-24 20:00] solongordon commented on #38935
All unit tests are now passing, pending #39080 and #39082 getting merged.

[2019-07-24 20:48] yuzefovich commented on #38944
This has been fixed by #38990.

[2019-07-24 20:48] #38944 closed

[2019-07-24 21:54] ajkr commented on #38788
I did eventually find an infinite loop bug that produces the same stack traces as yours did. It is fixed in https://github.com/cockroachdb/cockroach/pull/39084. Thanks again for the bug report and all the info - without it this bug could've gone unfixed for a long time.

Are you building from source? If so it'd be very interesting to hear whether that patch fixes the issue for your workload. If no

[2019-07-25 04:29] yuzefovich opened #39092 "exec: unordered synchronizer is blocked forever"
If we add `fakedist-vec` config to `logic.go` as `{name: "fakedist-vec", numNodes: 3, useFakeSpanResolver: true, overrideDistSQLMode: "on", overrideOptimizerMode: "on", overrideAutoStats: "false", overrideExpVectorize: "on"},` and add this new config to `overflow` logic test, it hangs forever (every time when the data happened to be distributed).

Everything terminates gracefully except for the un

[2019-07-25 04:52] jordanlewis commented on #39092
Yeah, seems to me like we need to be cancelling the context that all of the blocking ops are waiting on. Would that help matters? That would be the main flow context, I think. @asubiotto thoughts on that?

[2019-07-25 05:08] asubiotto commented on #39092
Yes, I think that would help, although it seems cleaner to use the unordered synchronizer's cancel function. I think that exposing something like that as part of a principled approach to https://github.com/cockroachdb/cockroach/pull/39077#issuecomment-514833468 seems like the way to go.

[2019-07-25 05:20] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/ff04012ed2d2c0c8e30e4de106ca0a350bca8c3e

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404935&tab=buildLog

[code]

[2019-07-25 05:20] cockroach-teamcity opened #39094 "ccl/importccl: TestImportCSVStmt failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ff04012ed2d2c0c8e30e4de106ca0a350bca8c3e

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404933&tab=buildLog

[code]

[2019-07-25 06:41] robinbraemer commented on #24733
AFAIK, @dt meant ULID will not be a new cockroachdb type but instead an additional choice for the user of how to generate a UUID beside the function ˋgen_random_uuid()ˋ.

As a result an example table could look like this: ˋCREATE TABLE t1 (id UUID PRIMARY KEY DEFAULT gen_ulid(), name STRING);ˋ. Note the id column is still of type UUID but is generated by default using the not yet provided ULID fun

[2019-07-25 07:43] cockroach-teamcity commented on #38794
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 09:43] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 10:00] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 10:20] cockroach-teamcity commented on #37163
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 10:57] cockroach-teamcity commented on #39072
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 11:05] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/ff04012ed2d2c0c8e30e4de106ca0a350bca8c3e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404856&tab=buildLog

[code]

[2019-07-25 12:21] cockroach-teamcity commented on #37932
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 12:38] tbg commented on #36611
Here's the example in schematic form, I find this easier to follow along with.

[code]

The code that erroneously accepts r1@S3 is

https://github.com/cockroachdb/cockroach/blob/f8be5091ee4324542d18b2f6bb93ef9e6ec139eb/pkg/storage/store_snapshot.go#L459-L472

Looking at the example one could argue that maybe the creation of r3@S3 should have gotten blocked instead, but it can only be blocked once

[2019-07-25 13:30] cockroach-teamcity commented on #39021
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 13:32] RoachietheSupportRoach commented on #37906
Zendesk ticket #[3433](https://cockroachdb.zendesk.com/agent/tickets/3433) has been linked to this issue.

[2019-07-25 13:51] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 14:08] mattcrdb opened #39097 "util/log: enable logging using the system TZ instead of UTC"
Cockroach logs currently log in UTC time format.

An option to change this setting to log in system time would be very beneficial to users that have other logs using the same format.

The solution would allow a more simple debugging experience for folks with other application logs in system time.

Jira issue: CRDB-5594
Epic: CRDB-24406

[2019-07-25 14:13] tim-o commented on #39097
We've received two separate issues with similar requests: one asking for the ability to log in system time, another asking for the ability to display the Web UI in another timezone. One simple solution might be to have a cluster setting for the timezone that'd change both the logs and the UI TZ's.

This will have implications for our debugging, so we'd need to have a warning at the top of each log

[2019-07-25 14:16] jordanlewis commented on #39092
Well, just cancelling the unordered synchronizer's cancel function might not be enough - what if there were more things to cancel than just that? It seems like we want a way to cancel everybody in the flow all at once, which to me seems like a good use case for a single cancellable context per flow that gets passed to every operator's `Next`. Then, when we finish a flow for whatever reason, if we

[2019-07-25 14:18] RoachietheSupportRoach commented on #39097
Zendesk ticket #[3511](https://cockroachdb.zendesk.com/agent/tickets/3511) has been linked to this issue.

[2019-07-25 14:22] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 14:36] RoachietheSupportRoach commented on #39097
Zendesk ticket #[3523](https://cockroachdb.zendesk.com/agent/tickets/3523) has been linked to this issue.

[2019-07-25 14:51] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 14:51] #38995 closed

[2019-07-25 14:52] asubiotto commented on #39092
I think I'm onboard with that as long as we allow `DrainMeta` to be called before shutting down a flow. That probably means that we're going have to support concurrent `DrainMeta` and `Next` calls.

[2019-07-25 14:54] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/ff04012ed2d2c0c8e30e4de106ca0a350bca8c3e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404856&tab=buildLog

[code]

[2019-07-25 15:58] yuzefovich commented on #39092
It appears to me that we need to support concurrent `DrainMeta` and `Next` calls anyway. I encountered a race on `TestDistSQLRetryableError` on `vec-setting` branch:
[code]

[2019-07-25 16:22] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-25 16:38] #38788 closed

[2019-07-25 16:42] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/ff04012ed2d2c0c8e30e4de106ca0a350bca8c3e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404856&tab=buildLog

[code]

[2019-07-25 16:57] asubiotto commented on #39092
I think this is an unexpected race fixed by https://github.com/cockroachdb/cockroach/pull/39093

[2019-07-25 17:10] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/ff04012ed2d2c0c8e30e4de106ca0a350bca8c3e

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404856&tab=buildLog

[code]

[2019-07-25 17:48] mattcrdb opened #39099 "CREATE DATABASE without admin role throws superuser error"
**Describe the problem**

When trying to create a database using create database syntax as any user other than the root or a user with the admin role, the following error is thrown:

`pq: only superusers are allowed to CREATE DATABASE`

Superuser is not a concept in CRDB

**To Reproduce**

1. Create a local cluster
2. Create a new user
3. Log in to cluster as that user
4. Try to create a database.

[2019-07-25 18:45] bra-fsn commented on #38788
Thanks @ajkr, restarted the data load and it still runs, never got so far before the fix.

[2019-07-25 18:59] nvanbenschoten opened #39103 "sql: incorrect query plan selected for stockLevel transaction"
When running a series of `tpcc/headroom/n4cpu16` tests with the SHA 26edea51118a0e16b61748c08068bfa6f76543ca I can see cluster performance split into two regimes - one fast, one slow. The slow clusters appear to be overloaded, with CPU utilization on each node saturated at 100%. Meanwhile, the fast clusters are doing fine, with CPU utilization hovering around 55%.

I believe I have tracked this do

[2019-07-25 19:07] nvanbenschoten commented on #39103
I ran the following on both clusters:
[code]

Here's the output on the fast cluster: [link](https://cockroachdb.github.io/text/decode.html#eJzsWl1vm0gXvi6_4sg3hfc19gDGgLu9oIRs6Tokstl-qKoQwSRhQxgvH3Wt1UrV_oZc7q_LL1nxNWBqV0q9pmupvrDOnOfMmZmHmWGeEa-9KPZxOAENu7cRdtybkxegaVP4yCkDfoBYJ1jeOAMecQqSeAXoT_LYHo_YNLwN8SpkAz9MP7HXYdqHy9QPEsgih0ga8iPgpAnPTwS5D9eYG3D8QGQoSpvpqqWDpb6Y6oCjhRfZgR96QFNPcGBj21-AYVoym

[2019-07-25 19:12] RaduBerinde commented on #39103
@nvanbenschoten in the second link above, notice that there are no statistics for `stock`. That would explain the bad plan: `ALTER TABLE tpcc.public.stock INJECT STATISTICS '[]';`

[2019-07-25 19:17] nvanbenschoten commented on #37163
These recent failures have been identified as https://github.com/cockroachdb/cockroach/issues/39103.

[2019-07-25 19:29] nvanbenschoten commented on #39103
Here's a [debug.zip](https://github.com/cockroachdb/cockroach/files/3432967/debug.zip) from a struggling cluster.

[2019-07-25 19:54] nvanbenschoten commented on #39103
It looks like this cluster was populated using a RESTORE operation instead of an IMPORT operation. Unlike IMPORT, RESTORE doesn't attempt to inject table statistics, so there's a race between generating table stats so that `stockLevel` picks an efficient plan and the load ramping up. The race must be close enough that it doesn't always result in the same outcome.

[2019-07-25 20:46] #38757 closed

[2019-07-25 21:38] rohany commented on #39075
I'm not sure that this is the appropriate place to display location constraints for partitions -- i think the show constraints command is meant instead for constraints on a table such as what columns need to be unique etc. The constraints term seems to just be overloaded here.

[2019-07-25 21:42] jordanlewis commented on #39075
+1, I don't think `SHOW CONSTRAINTS` should show anything to do with zone configurations.

[2019-07-25 22:07] hueypark commented on #37028
@RaduBerinde  Could you update checklist for all function with priority(execution time will be best)? This will drive further work manageable.

[2019-07-25 22:38] RaduBerinde commented on #37028
The checklist has running times. Not sure what else you need.

[2019-07-25 23:39] hueypark commented on #37028
This comment(https://github.com/cockroachdb/cockroach/issues/37028#issuecomment-495063699) seems to have expanded the issue.  Is it better to create new issue?

[2019-07-26 01:23] nvanbenschoten commented on #39022
`nathan-release-v1920-alpha20190729` is currently stuck in this state. We can see in the goroutines on node 2 that two requests have been stuck for two hours on range 1514 acquiring quota from the quota pool.

[2019-07-26 01:33] cockroach-teamcity commented on #39005
SHA: https://github.com/cockroachdb/cockroach/commits/26edea51118a0e16b61748c08068bfa6f76543ca

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1404886&tab=buildLog

[code]

[2019-07-26 01:33] nvanbenschoten commented on #39103
Fixed by https://github.com/cockroachdb/cockroach/pull/39106.

[2019-07-26 01:33] #39103 closed

[2019-07-26 01:36] nvanbenschoten commented on #37163
Closing because the last chunk of failures were fixed by https://github.com/cockroachdb/cockroach/pull/39106 (see https://github.com/cockroachdb/cockroach/issues/39103). It's possible that a lot more of these were due to the same issue, as their logs do seem similar.

[2019-07-26 01:36] #37163 closed

[2019-07-26 01:51] robert-s-lee opened #39109 "compatibility with terraform-provider-postgresql"
**Describe the problem**

https://github.com/terraform-providers/terraform-provider-postgresql/issues/91 has details.

**To Reproduce**

 Postgres provider runs `select version();`

On Postgres,

[code]

On CockroachDB,

[code]

**Expected behavior**

[2019-07-26 02:03] #38031 closed

[2019-07-26 02:11] awoods187 commented on #39109
@timveil did you do anything here when you were using terraform?

[2019-07-26 02:36] ridwanmsharif commented on #38744
Is this an issue for a more general index-skip-scan? Perhaps we should change the title then.

[2019-07-26 05:19] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/9078c4e63c1bff1c3d220ee216000b0903dd4d65

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406479&tab=buildLog

[code]

[2019-07-26 05:48] cockroach-teamcity opened #39110 "sql: TestShowQueries failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ec9aead06d23934213fb7eb07ef6379919aa7046

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406732&tab=buildLog

[code]

[2019-07-26 05:53] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/28bb1e92852177708440f5796e8c2bf21c0429ef

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406994&tab=buildLog

[code]

[2019-07-26 08:12] luzongyi commented on #37525
Hey @ricardocrdb

Thanks for you help.
This cluster was broken a long time.Maybe I should accept  the data was losted.Now I'm really going to give up.

Ok.Talk about the cluster.I checked the node 4's log use this command:
 tailf cockroach.log |grep 'range'

The outcome all look like this:
[code]

I hope it could help.Anything else,just let me know.Thanks.

[2019-07-26 09:14] tbg commented on #39022
The range in question is r1514. n2 is the leader and leaseholder, but the range is quiescent, and I verified via logspy that there aren't any moving parts.

The range status shows that the "approximate proposal quota" is zero, and that there are no outstanding proposals, and that there is one write latch.

That all corroborates that one or more commands were processed successfully, but never retur

[2019-07-26 09:21] tbg commented on #39022
What's maybe interesting is that the range has a lease applied index of four, which means it was created right before it got stuck. The [raft log](https://gist.github.com/tbg/4e0dc388c653f81920d7bab14c190f5e) shows that n2 was born the leader of the range via the split, ingested one sst, carried out another split. There are no other commands. The split itself wouldn't consume all of the quota, so

[2019-07-26 09:37] tbg commented on #39022
^- ah no, I forgot that we acquire quota in loops, so no miracle is necessary. We just leaked a small amount in any of the commands that went through. My money is on the SST simply because that's a weird command and also it's the very first one the range is processing.

Or perhaps this code

https://github.com/cockroachdb/cockroach/blob/3315afa1aac59a3725d0bc65fe285c0ccea8af36/pkg/storage/replica_

[2019-07-26 09:37] tbg commented on #39022
Hmm, shame that we don't expose the proposal quota base index or the release queue via the range info. I will fix that.

[2019-07-26 09:37] Bessonov commented on #15299
SELECT FOR UPDATE placebo is a part of https://github.com/cockroachdb/cockroach/issues/6583. Some workaround are described in https://github.com/tgriesser/knex/issues/2002#issuecomment-383766677.

[2019-07-26 09:44] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/9078c4e63c1bff1c3d220ee216000b0903dd4d65

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406479&tab=buildLog

[code]

[2019-07-26 10:17] tbg commented on #39022
I tried to attach to the process via dlv to `print` the quota release queue, but alas:

[code]
The binary has debug symbols:

[code]
so I don't know why this is happening.

My next steps after that would have been

[code]

followed by a speedy deattach. The memory address comes from

[code]

I tried this locally on OSX before, but it also didn't work, though I got further:

[code]

Maybe this is j

[2019-07-26 10:25] tbg commented on #39022
Oh nevermind this works locally. I just had an old dlv version plus was using an invalid addr (it's hard to get the addr from dlv itself, but it's easy from a goroutine dump.. probably dlv has this somewhere too)

[code]

Ok, maybe I can figure out why this doesn't work on that linux box?

[2019-07-26 10:37] tbg commented on #39022
Ha, look at this:

[code]

This sort of confirms what I was suspecting, which is that we failed to release quota. What I don't understand is the base index -- the last index of this range is 15; the base index shouldn't ever be able to exceed the last index. Then again, looking at this code

https://github.com/cockroachdb/cockroach/blob/3315afa1aac59a3725d0bc65fe285c0ccea8af36/pkg/storage/replica_

[2019-07-26 10:42] Bessonov commented on #10735
Is there any way to simulate error 40001?

[2019-07-26 10:47] tbg commented on #39022
The base index is only incremented whenever an element is removed from release queue. But then, for it to race ahead of last index by 12 entries, we'd also have had to enqueue lots of extra entries to be released. But say we enqueue 100 completely bogus entries in the queue, those wouldn't just be released because the highest index we even consider is CommitIndex (which is at most 15), starting ou

[2019-07-26 10:54] knz commented on #10735
crdb_internal.force_retry()

(Use for testing only, interface may not be stable)
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-07-26 10:55] tbg commented on #39022
I know that this code moved around recently:

https://github.com/cockroachdb/cockroach/blob/aada4fcf3ff410d83a738cf16696e37357cb8d4e/pkg/storage/replica_application.go#L209-L214

I wonder if maybe this just exposed an earlier bug. Potentially we were double-freeing quota enough to always hide the bug?

I give up for now. Hopefully either @ajwerner or @nvanbenschoten can look at this with fresh eye

[2019-07-26 11:00] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/b8554ec29fd1620c0e6af9544d678db57d251f4c

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406588&tab=buildLog

[code]

[2019-07-26 11:01] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/9078c4e63c1bff1c3d220ee216000b0903dd4d65

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406479&tab=buildLog

[code]

[2019-07-26 11:11] Bessonov commented on #10735
@knz thank you very much!

Who found this topic and wonder how to execute it:

Basically, you issue
[code]
query (found there: https://github.com/cockroachdb/cockroach/issues/16827). To do that, you must be the `root`. Related discussion: https://github.com/cockroachdb/cockroach/issues/29396

[2019-07-26 11:20] tbg commented on #39022
Filed a bug against delve about the crash: https://github.com/go-delve/delve/issues/1636

The version on n2 is patched to work. Just run `export PATH=$HOME/go112/bin:$HOME/go/bin:$PATH` after you log in.

[2019-07-26 11:32] ajwerner commented on #39022
I ran another 10 imports last night with logging of each acquisition and they all succeeded. Given that we’ve seen this at least 3 times in not all that many runs and I haven’t seen it in 20 with logging leads me to speculate that the logging interferes with the bug.

[2019-07-26 11:36] RaduBerinde commented on #38744
No, it's a duplicate that I forgot to close.

[2019-07-26 11:36] #38744 closed

[2019-07-26 11:45] tbg opened #39112 "opt: TestLogic/local-opt/with-opt failed"
Basically today's master

https://teamcity.cockroachdb.com/viewLog.html?buildId=1408459&buildTypeId=Cockroach_UnitTests

[code]

[2019-07-26 11:47] tbg commented on #39022
Were you running that very same SHA?

[2019-07-26 11:52] cockroach-teamcity opened #39113 "roachtest: import/tpch/nodes=8 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b8554ec29fd1620c0e6af9544d678db57d251f4c

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406588&tab=buildLog

[code]

[2019-07-26 12:05] tbg commented on #39022
I'd try a few more runs with assertions instead of logging (kind of hard to believe that the logging actually makes a difference, but maybe?). The invariants are that the base index + length quota release queue shouldn't exceed last index, and of course that we never bump base index past last index.

[2019-07-26 13:08] RaduBerinde commented on #39112
Looks like it needs a `rowsort`.

[2019-07-26 13:28] jordanlewis commented on #38864
@solongordon / @rohany could you take a look at this? Looks like the index `secondary` is not getting constrained to `dc2` some of the time, but only under stress. Maybe it's just a race condition and it takes a little while to apply the constraint, I'm not too sure, but investigating this to at least cause the test to stop failing would be good.

[2019-07-26 13:32] jordanlewis commented on #39110
release-2.1 failure; this is fixed on 19.x.

[2019-07-26 13:32] #39110 closed

[2019-07-26 13:34] cockroach-teamcity opened #39115 "roachtest: import/tpch/nodes=32 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b8554ec29fd1620c0e6af9544d678db57d251f4c

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406588&tab=buildLog

[code]

[2019-07-26 14:03] ajwerner commented on #39022
No, we've seen this for a week so I doubted it mattered. I've check out a branch and added the assertions you suggested and will spin up some more runs soon.

[2019-07-26 14:33] piyush-singh commented on #38851
@akshayjshah thanks for filing! We'll take a look at this and think about how we can make the `quit` work a little better for your workflow.

cc @knz, we can chat about this on Wednesday

[2019-07-26 14:53] ricardocrdb commented on #38371
Hey @Samusername

Apologies for the delay, let's get to the bottom of this. Firstly, let's get the details on how the 9 node Cockroach cluster is provisioned. Let me also know how many concurrent threads you are using, as well as the total batch size.

[2019-07-26 15:07] awoods187 commented on #32917
I'm not sure--it was needed for compat but a lot of work has changed here with FKs and ORMs. @jordanlewis do you know?

[2019-07-26 15:15] jordanlewis commented on #32917
It's still unimplemented and therefore still another minor incompatibility that prevents apps from working without modification between PG and CRDB. It's far from the only one of these, but if it's a small effort, implementing it generally is worth it.

[2019-07-26 15:19] cockroach-teamcity opened #39116 "roachtest: kv/contention/nodes=4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/b8554ec29fd1620c0e6af9544d678db57d251f4c

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406588&tab=buildLog

[code]

[2019-07-26 15:39] cockroach-teamcity commented on #38558
SHA: https://github.com/cockroachdb/cockroach/commits/28bb1e92852177708440f5796e8c2bf21c0429ef

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406624&tab=buildLog

[code]

[2019-07-26 15:49] RaduBerinde commented on #34504
Talked with Jordan for a bit. We think the reasonable thing to do for now is to enable autocommit when the mutation is the root of the tree or is directly under a Project with no side-effects in its expressions.

Note that:
 - the mutation nodes only autocommit when the mutation is complete (all the input was consumed). If not enough rows were read from the mutation node, it doesn't happen.
 - Mut

[2019-07-26 15:52] tim-o opened #39117 "core: Improve experience during cold starts in the presence of large datasets"
Filing as an enhancement since I'm not certain this is due to a defect, feel free to recategorize.

Recently we encountered an issue where a cluster became unavailable and the user lost access to metrics following a cold restart. The logs were spammed with `refusing gossip from x; forwarding to y` errors, despite the fact that the nodes were all connected to each other and reporting the same conne

[2019-07-26 16:25] cockroach-teamcity commented on #33660
SHA: https://github.com/cockroachdb/cockroach/commits/28bb1e92852177708440f5796e8c2bf21c0429ef

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1406570&tab=buildLog

[code]

[2019-07-26 17:30] ajwerner commented on #39022
I've got some good assertion failures:

[logs.txt](https://github.com/cockroachdb/cockroach/files/3436822/logs.txt)

This is built off of 26edea51118a0e16b61748c08068bfa6f76543ca  with the following patch run with `--vmodule=*raft=2`

[code]

[2019-07-26 17:40] ajwerner commented on #39022
Here's another assertion failure. It's uncanny how similar these are. They both feature a new leader election leading to a reproposal and a split. They differ in whether the crashing node starts or ends as the raft leader.

[logs2.txt](https://github.com/cockroachdb/cockroach/files/3436848/logs2.txt)

Now on to interpreting them.

[2019-07-26 18:53] awoods187 opened #39123 "sql: allow for historical reads in select statements for INSERT/UPSERT into and CTAS/CVAS"
- [ ] Allow INSERT and UPSERT into to use historical reads via AOST in the select statement
- [ ] Allow CREATE TABLE AS and CREATE VIEW AS to use historical reads in the select statement

This would be an explicit choice made by users to reduce contention and improve performance.

[2019-07-26 18:56] bladefist commented on #39123
This would be amazing. Thank you for considering.

[2019-07-26 19:47] awoods187 commented on #39075
I think it will be confusing for users to see us use constraints in multiple settings. What more could we do here?

[2019-07-26 19:56] jordanlewis commented on #39075
I think SQL database users are generally used to the concept of a "relational constraint", which is what show constraints offers. I think including non-relational constraints (data placement) alongside them would actually create more confusion, as they're orthogonal topics.

Once we include the other information in show create table and so on, I feel like we'll be good to go. By the way, I think t

[2019-07-26 20:15] rohany opened #39127 "sql: Rename EXPERIMENTAL_RANGES to RANGES."
The ranges command is no longer experimental, so we should rename it to ranges.

[2019-07-26 20:35] ajkr commented on #38778
The stack traces reported above look quite similar to the ones in #38788. Have you tried this (1200 transactions/s) again after the fix? I am curious if you'd still see the problem.

[2019-07-26 20:42] bra-fsn commented on #38778
Currently I'm trying the full speed version to see how it goes (no stuck node or infinite loop problems so far).
After that went down (the test is to insert 6 months of data) I will retry with smaller transaction speeds.

[2019-07-26 20:49] ajkr commented on #38778
Great, thanks for the update. Let us know how it goes.

[2019-07-26 21:28] ajwerner commented on #39022
Here's more another set of logs and corresponding raft logs from the crashing node.

This was built off of 9078c4e63c1bff1c3d220ee216000b0903dd4d65 with added logging at 63722c8a8b2af21476bda27ec242c621cd0ea3b4

[1564172996.run_1.r1385.log.txt](https://github.com/cockroachdb/cockroach/files/3437438/1564172996.run_1.r1385.log.txt)

[1564172996.run_1.r1385.n3.raft_log.txt](https://github.com/cockroa

[2019-07-26 22:28] cockroach-teamcity opened #39132 "teamcity: failed test: TestStoreRangeMergeDuringShutdown"
The following tests appear to have failed on master (testrace): TestStoreRangeMergeDuringShutdown

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestStoreRangeMergeDuringShutdown).

[#1408955](https://teamcity.cockroachdb.com/viewLog.html?buildId=1408955):

[code]

Please assign, take a look and update the issue accordingly.

[2019-07-26 23:04] yuzefovich opened #39134 "exec: LEFT ANTI is not supported by Hash Joiner"
As title.

[2019-07-27 01:02] ajwerner commented on #39022
I think I've got it. As @tbg noted above, we didn't totally lose the quota we were looking for, we just left it in the `quotaReleaseQueue`. We'd do that because we messed up the `proposalQuotaBaseIndex`. Quota is added to the `quotaReleaseQueue` when entries are committed, or more specifically, when committed entries are applied. The decision to remove from the queue are based on the status of the

[2019-07-27 11:09] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 12:54] knz commented on #38851
@akshayjshah even if we were doing our best the solution would still not be to use `cockroach quit` as a race condition would always remain: the process closes its network connection (and thus `cockroach quit` stops being useful) before it closes its data directory, so there's always this little amount of time where you don't exactly know what is going on.

Since this is a test and you have access

[2019-07-27 13:22] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 13:37] cockroach-teamcity commented on #35144
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 15:00] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 15:28] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 15:50] tbg commented on #39022
Maybe because we've gotten less aggressive about re-freeing?

Also, can this explain the original failure? We saw a base index of 23 and a last index of 15. Let's be generous and say that at initialization we had a last index of 15 already (impossible) and so all subsequent commands would let the base race ahead. There are only 5 commands in the log (it starts with first index 11), so that's at mo

[2019-07-27 17:10] cockroach-teamcity opened #39137 "roachtest: tpchbench/tpchVec/nodes=3/cpu=4/sf=1 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 17:13] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 17:15] incubus8 commented on #6583
That's just a lot of hacks! Thanks for sharing tho

[2019-07-27 17:41] ajwerner commented on #39022
Doesn't the last command in the log truncate?
[code]
It seems possible that we started below 11.
https://gist.github.com/tbg/4e0dc388c653f81920d7bab14c190f5e#file-r1514%20raft%20log

[2019-07-27 18:34] tbg commented on #39022
No, our ranges always start at 11 unfortunately. You're seeing the split
trigger setting that up for the new range 1515

On Sat, Jul 27, 2019, 19:42 ajwerner <notifications@github.com> wrote:

[2019-07-27 18:47] cockroach-teamcity opened #39138 "roachtest: version/mixed/nodes=5 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 18:59] cockroach-teamcity commented on #38180
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 19:17] cockroach-teamcity opened #39139 "roachtest: tpcc/mixed-headroom/n5cpu16 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 19:23] cockroach-teamcity commented on #38348
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 22:29] cockroach-teamcity commented on #39005
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-27 23:35] cockroach-teamcity opened #39140 "roachtest: tpccbench/nodes=6/cpu=16/multi-az failed"
SHA: https://github.com/cockroachdb/cockroach/commits/cfdaadc3514e7e8660f6c009ba159fdfd604f0a8

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1409070&tab=buildLog

[code]

[2019-07-28 07:39] hueypark commented on #37028
@RaduBerinde I created improved PR(#39142) for this issue. Could you review this?

[2019-07-28 15:01] kenliu commented on #38661
what would the default size be?

[2019-07-28 15:05] kenliu commented on #31368
@knz can this issue be closed now?

[2019-07-28 17:41] akshayjshah commented on #38851
I don't think that's true, at least in many cases. In my case, my code doesn't have any races. I know that the tests are complete and no other code is trying to use the database when I begin shutting down the database; I just need to know when the database has completed shutdown so that I can start running the next batch of tests.

Sure, that could work. It's pretty irritating, though - instead of

[2019-07-28 20:01] petermattis commented on #38851
@knz We could change `cockroach quit` to have another step where we stop processing connections (while still accepting them), close the data directory (releasing the file lock), and then exiting the process. Do you see any gaps in that approach?

@akshayjshah Do you have to reuse the same database for these tests? The common approach for testing I've used in the past is to have each test create a

[2019-07-28 22:00] akshayjshah commented on #38851
Most of my unit tests do exactly what you describe. For running the whole application locally, though, it's convenient to keep the data in a known location (so changing a little code and restarting the local application doesn't blow away all the data). The unit tests for *that* code exercise starting and stopping the same database, and run right into this issue. It's not a really big deal, but it'

[2019-07-29 01:49] ajwerner commented on #39022
I'm reaching for straws here. What if the last index when n2 became leader was higher, say 18, but then another term change occurred which didn't change the leader but truncated the end of the log to something shorter?

I've successfully run the import 40 times with the change in #39135 and the fatal hasn't happened.

[2019-07-29 03:19] nvanbenschoten commented on #39138
[code]

This was supposed to be fixed by https://github.com/cockroachdb/cockroach/pull/39003.

[2019-07-29 05:05] nvanbenschoten commented on #39022
I need to spend some time catching up on the symptoms we saw here and the interactions around the quotaPool before being able to confidently review #39135.

That said, I think I stumbled upon a possible culprit that we might be able to implicate in the surfacing of this stall. faff108 removed a secondary structure that tracked quota sizes for in-flight proposals. This `commandSizes` map was flushe

[2019-07-29 05:43] nvanbenschoten commented on #32583
There are a few items here that we'd like to address. They'll require getting familiar with the `spanlatch.Manager`, `Replica.collectSpans`, the `Replica.readOnlyCmdMu`, and `ReplicatedEvalResult.BlockReads`. The general idea is that we have a number of different mechanisms for serializing request evaluation on a Replica. We'd like to fold that into a single mechanism (`spanlatch.Manager`) while e

[2019-07-29 06:19] leafji commented on #5807
Hello @jordanlewis :

Is there any plan of this temp table feature now? I would like to use this feature in our application project, if have any short-term planning， plz Let me know that.

thanks
leafji

[2019-07-29 10:22] ajwerner commented on #39022
Should we reset the `proposalQuotaBaseIndex` upon term change?

Would it make sense to try to have the `proposalReleaseQueue` exactly mirror the commit index? We could add a zero-value entry to the `quotaReleaseQueue` for committed entries which weren't proposed locally (both the raft injected empty commands and commands which were proposed by a leaseholder which wasn't the raft leader). If we did

[2019-07-29 11:10] ajwerner commented on #39022
Digging a bit more I'm not sure we can maintain this invariant but it'd be nice to have an invariant that we can maintain about the relationship between the `proposalQuotaBaseIndex` the `quotaReleaseQueue` and one of `status.Commit` or `r.mu.lastIndex`

[2019-07-29 12:36] mattcrdb commented on #38925
I'm going to go ahead and close this, please feel free to reopen if you encounter a similar performance issue.

Thanks,
Matt

[2019-07-29 12:36] #38925 closed

[2019-07-29 12:54] mattcrdb commented on #38982
Checking in to see if you were able to use this as a workaround.

[2019-07-29 13:44] knz commented on #31368
Yes thank you
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-07-29 13:48] #39010 closed

[2019-07-29 14:18] #39138 closed

[2019-07-29 14:27] SyedMuhammadSufyian commented on #24733
@robinbraemer I am on it

[2019-07-29 14:34] ajwerner commented on #39022
Talked to @nvanbenschoten offline. We're going to move forward with the idea of adding zero-value quota to the `quotaReleaseQueue` for committed entries which were either empty or proposed elsewhere. This should keep the `proposalQuotaBaseIndex` quota close to and less than or equal to the `Commit` index. It won't be exactly the `Commit` index in cases where raft doesn't hand us an entry in `Commi

[2019-07-29 15:09] nvanbenschoten commented on #39022
The main place where this happens is when we run into the `MaxCommittedSizePerReady` limit.

[2019-07-29 15:33] #39112 closed

[2019-07-29 16:53] RoachietheSupportRoach commented on #32102
Zendesk ticket #[3527](https://cockroachdb.zendesk.com/agent/tickets/3527) has been linked to this issue.

[2019-07-29 16:54] nvanbenschoten commented on #39132
Duplicate of #36086.

[2019-07-29 16:54] #39132 closed

[2019-07-29 16:54] nvanbenschoten commented on #39051
Duplicate of #36812.

[2019-07-29 16:54] #39051 closed

[2019-07-29 17:01] knz commented on #38851
Yes architecturally this is possible. We'd need some plumbing to get there though. I'll see with Piyush about prioritizing the work.

[2019-07-29 17:02] knz commented on #38851
@petermattis note however that your comment was not well-formed: it is not the task of `cockroach quit` to close the process. I took your comment to mean that the `cockroach` server process must keep its client socket to `cockroach quit` open during the entire shutdown process, up to and including after all the storage/kv/rpc machinery is shut down (as all of it requires gossip/storage to be up).

[2019-07-29 17:10] nvanbenschoten commented on #39116
`release-19.1`, which has some of the issues described in https://github.com/cockroachdb/cockroach/issues/36089. I'm going to skip this test for that release, as it isn't expected to reliably pass.

[2019-07-29 17:12] keith-mcclellan commented on #30828
This is something that's being requested by at least one customer.  Ideally, this will allow them to use a different TLS config for SQL connections where they want to host a cluster cert.

[2019-07-29 17:22] nvanbenschoten commented on #39139
[code]

[2019-07-29 17:23] nvanbenschoten commented on #39139
This is the same issue as #39138, which was fixed by #39145.

[2019-07-29 17:23] #39139 closed

[2019-07-29 17:30] nvanbenschoten commented on #39140
[code]

[2019-07-29 17:30] #39140 closed

[2019-07-29 17:35] bdarnell commented on #39117
I believe this is the same as #35063, although that was with rolling restarts rather than a whole-cluster cold start.

There are two separate issues here.

1. The nodes had 48 cpus, and we saw a lot of lock contention in the raft scheduler (which creates `nCPU*8=384` goroutines).Setting COCKROACH_SCHEDULER_CONCURRENCY is an attempt to alleviate this. If this works, we could simply put a max on the

[2019-07-29 17:35] nvanbenschoten commented on #39137
@jordanlewis do you mind taking a look and assigning accordingly? It looks like the test ran for 10h until it was canceled. The test is supposed to run each query 3 times, so it's possible that the test got stuck.

Also, the logs for this test are particularly loud/large. There might be something to improve there.

[2019-07-29 17:40] bdarnell commented on #38661
1GB seems reasonable to me.

[2019-07-29 17:43] petermattis commented on #30828
@bdarnell Are you working on this?

[2019-07-29 17:43] bdarnell commented on #30828
No, I'm not working on it.

[2019-07-29 17:47] jordanlewis commented on #39137
@asubiotto could you take a look please?

[2019-07-29 17:47] petermattis commented on #30828
I believe this is by far the largest piece of work here. We use the GRPC interface for decommissioning, quitting, bootstrapping, and various debug requests. I'm not clear on why moving these requests over to a SQL interface would be necessary. I'm probably missing something obvious. Can you elaborate?

[2019-07-29 17:51] asubiotto commented on #39137
Sure! It's possible that this might be a case fixed by https://github.com/cockroachdb/cockroach/pull/39100, but will dig further

[2019-07-29 17:52] bdarnell commented on #30828
The idea is that in MSO, we'd disallow end-user access to the GRPC port completely. Users would only be able to access the SQL and web interfaces. Of course, in MSO we'd also want to disallow many of the operations that are currently grpc-only (decommissioning, quitting, etc), so maybe we don't actually need to move everything over. I'm not sure what's left on the GRPC port that really needs movin

[2019-07-29 17:57] RoachietheSupportRoach commented on #36507
Zendesk ticket #[3528](https://cockroachdb.zendesk.com/agent/tickets/3528) has been linked to this issue.

[2019-07-29 17:58] petermattis commented on #30828
Leaving the admin commands alone (decommissioning, bootstrapping, quitting, haproxy), I think the remaining items are debug related: `debug gossip-values`, `debug tsdump`, `debug zip`. I suspect those could be left alone.

Did you have any thoughts about the UX behind specifying an additional port? `--port` should specify the pgwire port. We could then add a `--grpc-port`. How to specify that `--p

[2019-07-29 18:00] bdarnell commented on #30828
Yeah, I was thinking we'd add `--grpc-port`, but hadn't gotten much beyond that (I guess you'd also use the grpc ports in the `--join` flag?). The certs would be handled by naming conventions in the certs-dir (for which we already have precedent as we have a number of different variations already).

[2019-07-29 18:26] solongordon commented on #38475
Another option I thought of would be to error out only if `sql_safe_updates` is on. But maybe there would still be enough false positives to make that an annoyance.

[2019-07-29 18:28] bdarnell commented on #38475
I think the false positives with `sql_safe_updates` would be OK; I'm more concerned about false negatives. That setting is mainly used in the interactive shell; it's unlikely that any migration tools would turn it on.

[2019-07-29 18:50] solongordon commented on #38475
Right, I just meant for this initial step where we expose a warning to the Cockroach CLI. I think I will go ahead with that as a first step if no one objects, since it should be very straightforward.

[2019-07-29 18:53] bdarnell commented on #38475
What's the opt-in if we tie it to sql_safe_updates? Just turn off sql_safe_updates entirely? I think everything we currently have behind that setting has some opt-in method that doesn't require turning safety off completely (e.g. adding `WHERE true` to an unqualified `DELETE`).

[2019-07-29 19:00] solongordon commented on #38475
I can't think of a good opt-in besides temporarily turning off `sql_safe_updates`. I think that's also the case for `ALTER TABLE DROP COLUMN`. But if we don't want to encourage that, I can look into just logging a warning to the CLI instead.

[2019-07-29 20:05] solongordon commented on #38475
Prospects for returning a warning to the CLI are looking a bit bleak. The mechanism the Postgres protocol provides for this is the `NoticeResponse` message type, but as far as I can tell `lib/pq` just drops those messages on the floor.

[2019-07-29 20:32] dt commented on #35462
@tyleroberts I think we can move all the index creation statements to the end like @mjibson suggested -- for IMPORT I think it won't matter and for regular insert, I think it might be faster than making every INSERT do index writes.

[2019-07-29 20:38] asubiotto commented on #27753
I explored this but don't think we want to go down this road at this time. There is essentially only one `FlowSetupRequest` that needs to be sent to any given node, but with this approach we'll introduce a lot of redundancy (essentially copying the same `FlowSetupRequest` to each outbox in a flow). This issue was prompted by streams timing out under load, which is something that @ajwerner's work w

[2019-07-29 20:38] #27753 closed

[2019-07-29 20:40] asubiotto commented on #27746
Superseded by #34229

[2019-07-29 20:40] #27746 closed

[2019-07-29 20:44] asubiotto commented on #36540
This work has been completed in #36671 and statistics are supported in distributed execution as well. As more work comes up in this area (i.e. stat aggregation, disk usage), new issues will be created.

[2019-07-29 20:44] #36540 closed

[2019-07-29 21:39] kenliu opened #39155 "demo: webui shows 0 B for all tables"
When running `cockroach demo movr` on 19.2 latest, all tables show up as 0 B, as well as database size. This is confusing for a new user especially when they are expecting a pre-loaded dataset.

![image](https://user-images.githubusercontent.com/47234/62083949-11e17380-b226-11e9-8d69-a5bb0b42befa.png)

![image](https://user-images.githubusercontent.com/47234/62084339-1c503d00-b227-11e9-9ab9-8458d1

[2019-07-29 21:39] #35336 closed

[2019-07-29 22:07] kenliu opened #39156 "cli: load a default dataset for `cockroach demo`"
`cockroach demo` can be run with an option to preload a dataset such as `startrek` but it would be better to start it with a default dataset.

While this is a documented option for `cockroach demo`, it's easy for a user to miss this when using CRDB for the first time, and it requires some thinking to understand the options. A populated database is a much more interesting first-time user experience

[2019-07-30 02:29] kenliu commented on #39156
cc @jordanlewis

[2019-07-30 03:26] ajwerner commented on #31361
Closing this with https://github.com/cockroachdb/cockroach/pull/39041 and moving the remainder of `no inbound stream` errors to be tracked by https://github.com/cockroachdb/cockroach/issues/34229 and https://github.com/cockroachdb/cockroach/issues/38602.

[2019-07-30 03:26] #31361 closed

[2019-07-30 03:47] jordanlewis commented on #38602
This slipped through the cracks - would be nice to get a fix for this out in the next release.

@rafiss could you take a look at this?

[2019-07-30 04:01] #39000 closed

[2019-07-30 04:01] #39009 closed

[2019-07-30 04:40] #38458 closed

[2019-07-30 04:40] #38651 closed

[2019-07-30 05:21] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411255&tab=buildLog

[code]

[2019-07-30 05:35] cockroach-teamcity opened #39162 "server: TestReportUsage failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/008680701c3aaf3f5f621dca781819096178cff4

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411400&tab=buildLog

[code]

[2019-07-30 06:10] cockroach-teamcity opened #39163 "roachtest: acceptance/decommission failed"
SHA: https://github.com/cockroachdb/cockroach/commits/008680701c3aaf3f5f621dca781819096178cff4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411175&tab=buildLog

[code]

[2019-07-30 06:11] tbg commented on #38851
FYI we discussed elsewhere getting rid of ./cockroach quit or at least
relying on it less.

[2019-07-30 06:30] cockroach-teamcity opened #39164 "ccl/importccl: TestImportIntoCSV failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411253&tab=buildLog

[code]

[2019-07-30 07:12] cockroach-teamcity commented on #39071
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411157&tab=buildLog

[code]

[2019-07-30 08:06] cockroach-teamcity commented on #38125
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411161&tab=buildLog

[code]

[2019-07-30 08:08] Russiancold commented on #38855
@jordanlewis Hi! What is the actual status of this issue?

[2019-07-30 08:14] Inconnu08 commented on #38855
@Russiancold Hey, I'm still working on this. But I'll let you know if I can't. :)

[2019-07-30 08:21] Russiancold commented on #38855
@Inconnu08 Alright

[2019-07-30 08:44] cockroach-teamcity opened #39165 "roachtest: cdc/tpcc-1000/rangefeed=true failed"
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411157&tab=buildLog

[code]

[2019-07-30 09:53] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411157&tab=buildLog

[code]

[2019-07-30 11:10] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/008680701c3aaf3f5f621dca781819096178cff4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411175&tab=buildLog

[code]

[2019-07-30 11:24] knz commented on #38851
To quote the powers that be:

@akshayjshah I think the lesson here is that perhaps your tests would be best served by having the process that starts `cockroach` also be responsible for stopping the server (e.g. by means of a signal) and simply wait on it to terminate.

[2019-07-30 11:56] knz commented on #32539
I have looked at this closer today. The cause of the problem is simple but the solution escapes me. I would welcome input from @mberhault or @bdarnell as to how to proceed further.

What happens is as follows.
1. suppose the user starts with `--listen-addr=localhost:26257`. We'll use this example because it is simple to understand but there is no loss in generality; the rest of the problem is iden

[2019-07-30 11:58] cockroach-teamcity commented on #39072
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411157&tab=buildLog

[code]

[2019-07-30 12:12] knz commented on #32539
Discussed this offline with @mberhault.
Marc explained/reminded me that `CheckCertificateAddrs()` is advisory and meant to help the user configure the security. There is no requirement to cover all the edge cases in there because the main security checks are performed separately (in the go std lib).

We have found how to proceed:

1. the main problem observed here is that we are checking that the

[2019-07-30 12:12] mberhault commented on #16784
CC: @knz

[2019-07-30 12:15] mberhault commented on #16784
Having a field in the certificates that must match the cluster name would help towards #28408 as well (when one CA is used to sign certificates for multiple clusters).

[2019-07-30 13:10] #39116 closed

[2019-07-30 13:33] asubiotto commented on #38320
Thanks for looking into this @yuzefovich, closing because it seems like these are just precision differences allowed by the TPCH spec.

[2019-07-30 13:33] #38320 closed

[2019-07-30 13:34] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/008680701c3aaf3f5f621dca781819096178cff4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411175&tab=buildLog

[code]

[2019-07-30 14:24] asubiotto commented on #39137
From a first look it looks like there's nothing in the goroutine stack traces, although looking at the logs, it seems like a flow got cancelled right around the timeout. This just looks like the query was stuck most likely because we're missing #39100. Will try to reproduce with and without that change just to be sure.

[2019-07-30 14:33] cockroach-teamcity commented on #37394
SHA: https://github.com/cockroachdb/cockroach/commits/008680701c3aaf3f5f621dca781819096178cff4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411175&tab=buildLog

[code]

[2019-07-30 14:38] solongordon commented on #20880
I noticed that the `ALTER PARTITION ... OF TABLE` currently allows you to modify secondary index partitions as well. We'll probably need to remove that functionality and require users to use `ALTER PARTITION ... OF INDEX` instead.

Example:
[code]
Once partition names aren't unique, users will instead need to run
[code]
[code]

[2019-07-30 15:22] solongordon commented on #20880
I also expect we'll want to remove the deprecated `cockroach zone` commands to avoid dealing with the ambiguities discussed in the original issue.

[2019-07-30 15:23] drewdeally opened #39171 "replicant.db.jdbc.JDBC errors during Data Migration Process"
Logging issues related to replicant migrations to CockroachDB

[code]

[2019-07-30 15:25] drewdeally commented on #39171
Replicant : Gaps in migration - Indexes and Constraints
Replicant would like to explore using native import command Via JDBC

[2019-07-30 15:42] dt commented on #39162
looks like some core flake: `sending to all 1 replicas failed; last error: (err: [NotLeaseHolderError] r3: replica (n1,s1):1 not lease holder; lease holder unknown) <nil>
--- FAIL: TestReportUsage (0.20s)`

[2019-07-30 15:42] #39162 closed

[2019-07-30 15:56] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411157&tab=buildLog

[code]

[2019-07-30 16:07] #32539 closed

[2019-07-30 16:23] cockroach-teamcity opened #39174 "roachtest: kv50/rangelookups/split/nodes=8 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411157&tab=buildLog

[code]

[2019-07-30 16:43] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411157&tab=buildLog

[code]

[2019-07-30 16:44] asubiotto commented on #39137
Based on a reproduction, looks like the query that is hanging is:
[code]
On closer inspection with delve, the materializer is stuck reading from an ordered synchronizer that is itself stuck on reading from an inbox. I think this might be different from #39100 after all, will continue digging.

[2019-07-30 16:54] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411157&tab=buildLog

[code]

[2019-07-30 17:10] rohany commented on #39075
If this isn't going to be included, should we close the issue?

[2019-07-30 18:13] jordanlewis commented on #39075
Yes

[2019-07-30 18:14] cockroach-teamcity commented on #39013
SHA: https://github.com/cockroachdb/cockroach/commits/65055d6c16bf9386d8c4f4f9cd23e0a848814dc9

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1411161&tab=buildLog

[code]

[2019-07-30 18:23] nvanbenschoten commented on #39013
[code]

Very likely #39022.

[2019-07-30 19:06] nvanbenschoten commented on #39174
@jeffrey-xiao could you take a look and update this issue?

[2019-07-30 19:06] ricardocrdb commented on #38371
Hello @Samusername

Do you have an update on the requested information in the previous email?

Cheers,
Ricardo

[2019-07-30 19:07] ricardocrdb commented on #39074
Hey @jesterjaimi

Did you have any other questions on this issue?

Cheers,
Ricardo

[2019-07-30 19:09] nvanbenschoten commented on #39163
@rohany it looks like this roachtest was broken by 888813c. The tests are run against `master` and past releases of Cockroach, so it needs to remain backward compatible. Do you mind taking a look into how we could best accomplish this? Could we query the number of columns returned from `node status --format csv`  before calling `matchCSV`?

[2019-07-30 19:18] #39075 closed

[2019-07-30 19:20] rohany commented on #39163
ah, i didn't know that it has to be backwards compatible. Let me look into it.

[2019-07-30 20:05] rmloveland commented on #39075
This is already decided (and I agree!) -- just wanted to add for posterity that we do already have a [`SHOW ZONE CONFIGURATIONS`](https://www.cockroachlabs.com/docs/stable/show-zone-configurations.html) statement users can run to access the zone config stuff separately from `SHOW CONSTRAINTS`.

[2019-07-30 20:27] ricardocrdb commented on #37539
Hello @sanjimoh

I think that perhaps the main culprit of the degradation may be due to the way that benchmark is handling submitting the requests to the CPU, as its simply throwing them rapid-fire and is, therefore, creating a large backlog that needs to be processed, hence the long latency times. A more standardized benchmark will submit requests as others complete, and so are running more optim

[2019-07-30 20:32] ricardocrdb commented on #38159
Closing due to inactivity. If you are still having the issue, please feel free to respond to this thread. We want to help!

[2019-07-30 20:32] #38159 closed

[2019-07-30 20:55] asubiotto commented on #39137
Actually, I think I might have jumped to the conclusion that I was experiencing a stuck query too quickly. I just analyzed another one of these and it turns out that the query is essentially stuck because it's waiting for a lookup join to finish (it takes a couple of minutes). Given this, I haven't been able to reproduce the stuck query, so I'm back to square one.

[2019-07-30 20:59] #39022 closed

[2019-07-30 22:07] #39127 closed

[2019-07-30 22:45] danhhz opened #39182 "*: long-running migrations"
Backward compatibility is a necessary part of storage infrastructure, but we'd like to minimize the associated technical debt. Initially our migrations were one-off, required complicated reasoning, and under tested (example: the format version stuff that was added for column families and interleaved tables). Over time, we've added frameworks to help with this, but there's one notable gap in our st

[2019-07-30 22:48] danhhz commented on #39182
@tbg Does this accurately reflect our conversation? @bdarnell This is still pretty handwave-y, but I'd love some initial feedback if you have a minute.

[2019-07-31 00:07] ajkr commented on #38778
We can reopen if you see issues again.

[2019-07-31 00:07] #38778 closed

[2019-07-31 01:38] jordanlewis commented on #20201
This seems like not an important thing to fix.

[2019-07-31 01:38] #20201 closed

[2019-07-31 01:39] jordanlewis commented on #38764
#38769

[2019-07-31 01:39] #38764 closed

[2019-07-31 01:40] jordanlewis commented on #38349
Seems like a test flake.

[2019-07-31 01:40] #38349 closed

[2019-07-31 01:41] jordanlewis commented on #38440
@RaduBerinde I haven't looked at this thoroughly but is this limitation liftable by moving view creation into opt by any chance?

[2019-07-31 01:49] jordanlewis commented on #38935
Can we close this now?

[2019-07-31 01:53] jordanlewis commented on #37443
Thanks for the report, this seems to still be broken.

[2019-07-31 01:57] jordanlewis commented on #37443
I think if anything this is just misreported in the docs. If you give that user any privilege on the database, it'll be able to see the schemas. cc @rmloveland - I think we should at least document this current behavior for now.

[2019-07-31 02:19] #38935 closed

[2019-07-31 02:20] jordanlewis commented on #8611
I don't think this issue is too valuable to keep open anymore - closing. Feel free to re-open if either of you disagree!

[2019-07-31 02:20] #8611 closed

[2019-07-31 02:27] RaduBerinde commented on #38440
Ha, it just so happens I've been working on that (https://github.com/cockroachdb/cockroach/pull/39169) and I hit a similar error during development. It was because I was reporting a dependency on a virtual table. This situation is similar, except that we have a virtual view. I will work on fixing this too as part of that PR.

[2019-07-31 02:29] RaduBerinde commented on #38440
@imjching this is the definition of `crdb_internal.ranges`:
[code]
As a workaround, you can do:
[code]

[2019-07-31 02:38] jordanlewis commented on #38440
Thanks for taking this on!

[2019-07-31 02:40] jordanlewis commented on #32534
@bobvawter I could use your help on re-identifying what you meant by this issue. I find the linked issue very hard to follow.

[2019-07-31 02:44] jordanlewis commented on #38731
@rolandcrosby do you think it's worth introducing some new privileges to handle stuff like this and #37443? I haven't done a lot of research into what privileges other dbs have available, but it seems natural to me that you wouldn't want to keep overloading `SELECT` forever.

[2019-07-31 02:59] jordanlewis commented on #37950
Will close due to age (2.0.5).

[2019-07-31 02:59] #37950 closed

[2019-07-31 03:00] jordanlewis commented on #37388
Heads up to @dt (or re-assign back to me if inappropriate).

[2019-07-31 03:17] jordanlewis commented on #26786
This will get done as part of the optimizer's work on foreign key planning, so I'm moving to planning project for tracking.

[2019-07-31 03:22] jordanlewis commented on #21221
It seems unlikely we'll get to this.

[2019-07-31 03:22] #21221 closed

[2019-07-31 03:26] jordanlewis commented on #24972
This is now possible, since we support ordered aggregations.

[2019-07-31 03:29] #24744 closed

[2019-07-31 03:29] jordanlewis commented on #24744
Done in #38869.

[2019-07-31 03:31] jordanlewis commented on #12780
cc @RaduBerinde probably closable with new fks stuff.

[2019-07-31 03:33] jordanlewis commented on #33475
This will also get done as part of the recent opt FK work.

[2019-07-31 03:35] jordanlewis commented on #36730
This isn't accurate anymore - we want tight scans, but gets aren't important. Closing - the tight scans automatically will be generated with movement toward opt-planned fks.

[2019-07-31 03:35] #36730 closed

[2019-07-31 03:37] jordanlewis commented on #30852
In conjunction with planning foreign key checks via the optimizer, this work was materially finished by @rohany in #38301. Assigning to @RaduBerinde to close once opt-driven fks are in.

[2019-07-31 03:39] jordanlewis commented on #36691
@rafiss pretty sure you took care of this in entirety - please close if you agree.

[2019-07-31 03:40] jordanlewis commented on #37269
@nvanbenschoten we talked about this and from what I recall came to the conclusion that a Get won't lead to any actual performance benefits over the equivalent tight Scan request. Can you confirm?

[2019-07-31 05:15] tlvenn commented on #16382
Coming back to this topic to check if there is any chance to prioritize this a tiny bit. For anyone dealing with timezones, the current lack of timezone related functions in CDB is pretty painful.

Thanks in advance.

[2019-07-31 05:42] tlvenn commented on #32005
I believe this is the same ask as in #16382.

[2019-07-31 06:11] cockroach-teamcity commented on #39163
SHA: https://github.com/cockroachdb/cockroach/commits/1b682fa1ed7fa7f24c6518efa9bfc10ede816749

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413406&tab=buildLog

[code]

[2019-07-31 07:21] cockroach-teamcity commented on #39164
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413454&tab=buildLog

[code]

[2019-07-31 08:02] cockroach-teamcity commented on #38794
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 08:58] tbg commented on #39182
@danhhz yes it does!
Not sure what your thinking here was, but feels that there doesn't have to be anything special about "major" versions (those corresponding to releases) except that by convention the major version usually doesn't have a hook associated to it (because this hook won't have run by the time the major version is active, so it's better put in an earlier hook). For example, if we have

[2019-07-31 09:17] cockroach-teamcity commented on #39165
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 10:45] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 11:00] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/1b682fa1ed7fa7f24c6518efa9bfc10ede816749

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413406&tab=buildLog

[code]

[2019-07-31 12:26] cockroach-teamcity opened #39185 "roachtest: jepsen/bank-multitable/majority-ring failed"
SHA: https://github.com/cockroachdb/cockroach/commits/1b682fa1ed7fa7f24c6518efa9bfc10ede816749

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413406&tab=buildLog

[code]

[2019-07-31 12:35] Samusername commented on #38371
Hi!
The exceptions occurred with even only one thread. (I recall so. It was weeks ago.)
Batch size e.g. 4096 (or twice that).
I would need to check the settings later, of the 9 nodes. I do not have access to the system now during this week. But I think we did not change default settings regarding RAM usage. It was installation with helm.
I only wanted to raise this topic up, in case there is somet

[2019-07-31 12:47] ajwerner commented on #36771
This breaker error was a symptom of the underlying connection being closed which happened due to a race in gRPC (https://github.com/grpc/grpc-go/issues/1882). gRPC was upgraded in https://github.com/cockroachdb/cockroach/pull/39041 so I'm inclined to close this though would understand keeping it open if we think retry logic to deal with transient network outages are warranted here.

[2019-07-31 13:29] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/1b682fa1ed7fa7f24c6518efa9bfc10ede816749

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413406&tab=buildLog

[code]

[2019-07-31 13:34] knz commented on #16784
Replying to https://github.com/cockroachdb/cockroach/issues/16784#issuecomment-312076991

Regarding the third thing: ISTM that this would be akin to the "shared key" used in other distributed systems. The term "shared key" has been widely used for this purpose in other places so I'd propose to use it.

I have two remaining questions:

1) to @bdarnell about the new join thing (shared key): do we ne

[2019-07-31 13:47] asubiotto commented on #39137
Managed to reproduce this last night and the above query is indeed the one blocking. However, this could occur with any query. The root cause is how we give outboxes metadata sources to drain.
Consider two nodes n1 and n3, an outbox (o1) and inbox (i1) on n1, and an aggregator (or any other arbitrary operator) on n3, which is reading data from o1 through an inbox (i3) and sending data through an o

[2019-07-31 13:52] mberhault commented on #16784
I'm still not convinced about the "display name" and "hard-to-change name" being different things.
People are accustomed to system names that are hard to change. If we want something easily changeable to display, call it `motd` and don't do anything other than display it. Everything else (cert checks, join checks, monitoring labels) should be a hard-to-change name.

The name should be passed on th

[2019-07-31 14:12] dt opened #39187 "import: IMPORT INTO partition or range while table remains online"
v1 of `IMPORT INTO` requires that the entire table is taken offline during the execution of IMPORT INTO. This was done because AddSSTable on which IMPORT is built rewrites MVCC history and does not play nice our SQL transactional guarantees, and if the IMPORT needs to rollback, the RevertRange operation will rollback all writes to a given time, so it isn't safe to allow any non-IMPORT writes above

[2019-07-31 14:15] ajwerner opened #39188 "storage: proposal quota assertion failure"
A cluster deployed from 92fef12128c997233d985d1c19e11faac005073f hit the assertion added in #39135. The cluster had just been deployed and was running the kv50 workload in the following way on a 5 node cluster:

[code]

https://github.com/cockroachdb/cockroach/blob/92fef12128c997233d985d1c19e11faac005073f/pkg/storage/replica_proposal_quota.go#L240-L250

[code]

An observation here is that the appl

[2019-07-31 14:19] jordanlewis commented on #39137
Nice find. Is there a distsql flow diagram you can attach that could help demonstrate this? I'm still having a hard time visualizing what's happening.

[2019-07-31 14:33] ajwerner commented on #39188
Okay more intrigue, the failure was actually papering over a different panic. We defer the update of the proposal quota in `handleRaftReadyRaftMuLocked` [here](https://github.com/cockroachdb/cockroach/blob/92fef12128c997233d985d1c19e11faac005073f/pkg/storage/replica_raft.go#L457). Looking at the stack trace from the fatal, we were already panicking here (full stack trace below):

https://github.co

[2019-07-31 14:33] asubiotto commented on #39137
![image](https://user-images.githubusercontent.com/10560359/62220702-7e6f8600-b37e-11e9-9a5d-bff925492875.png)

[2019-07-31 15:00] rohany commented on #38603
Done in #39060.

[2019-07-31 15:00] #38603 closed

[2019-07-31 15:02] knz commented on #16784
Ok but should it be stored too? i.e. does it matter that if you stop all nodes in the cluster, then restart them all, the second time around the name is the same as the first?

(If it was just about certs, I'd say no, we could rotate all certs when power-cycling the entire cluster. but maybe there are other reasons?)

[2019-07-31 15:05] rytaft commented on #38721
Just to add an update here: I've investigated adding a rule similar to `ExtractRedundantConjunct`. As I suspected it is relatively easy to do, but there is a problem: since the original filter remains intact after the rule is applied, it's not currently possible to tell that the rule has already been applied. As a result, the rule may be applied over and over again in an infinite loop.

In a separ

[2019-07-31 15:12] mberhault commented on #16784
I think it's fine not to store it. The idea would be that you would set it once in your configs (supervisor, kubernetes, or other) and leave it there forever. If you want to change it, you can shut down the cluster, change your configs, and start everything up again (the full shutdown would be the "hard to change" part).

[2019-07-31 15:15] #37478 closed

[2019-07-31 15:16] knz commented on #16784
ok I know how to work with that

[2019-07-31 15:16] knz commented on #16784
(I'll also do the "motd" thing separately because there's demand for this to distinguish two clusters in the admin UI)

[2019-07-31 15:20] mberhault commented on #16784
I think the motd would fit well in cluster settings. Assuming everyone is ok with an easily changeable field for display purposes only.

[2019-07-31 15:29] knz commented on #16784
Another thing that was discussed before: a prefix for prometheus metrics

Should this use the cluster setting, the cmdline thing, or another thing entirely?

- using the cmdline thing: pro: simple to implement; con: if the users change their conf, that will break their monitoring

- using the setting thing: pro: simple to implement; con: it ties the UI/motd element (a human concern) with the monit

[2019-07-31 15:40] rafiss opened #39189 "exec: mixed type binary expressions and comparisons"
We need to handle mixed types in projection ops. For example:

[code]

There are a few different types of mixed type expressions to cover. We should probably implement them in this order:
- [x] Comparison expressions. Only allow floats to be compared to to other float types, and ints to be compared to all other int types
- [x] Allow all the mixed type comparisons, like int-float, int-decimal, etc.

[2019-07-31 15:41] rafiss commented on #36691
Yeah, all arithmetic overflow cases should be handled in vectorized now, see #38967

However, we don't really do projection correctly. See the snippet below. There's another example in this [comment](https://github.com/cockroachdb/cockroach/issues/38845#issuecomment-512823739) but I think we should have a separate issue for this case -- I just made #39189.

[code]

[2019-07-31 15:41] #36691 closed

[2019-07-31 15:42] rafiss commented on #38845
The work for `CastExpr` and mixed type `BinaryExpr` for projections will be tracked in #39189.

[2019-07-31 16:02] #38438 closed

[2019-07-31 16:12] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 16:29] cockroach-teamcity opened #39190 "roachtest: kv/contention/nodes=4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 16:40] cockroach-teamcity opened #39191 "roachtest: kv0/enc=true/nodes=1 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 16:41] wcharczuk commented on #24972
if no one else is keen on grabbing this i'm happy to.

what's the best place to get started with implementing this operator?

[2019-07-31 17:04] cockroach-teamcity commented on #39137
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 17:04] rkruze commented on #25468
Received a request recently for goqu - https://github.com/doug-martin/goqu

[2019-07-31 17:11] #38436 closed

[2019-07-31 17:24] Gurio commented on #39099
@mattcrdb: Is this ticket just about changing one error description? (and adapting tests obviously)

[2019-07-31 17:26] mattcrdb commented on #39099
Yes

[2019-07-31 17:28] Gurio commented on #39099
ok, I'll take it

[2019-07-31 17:33] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 17:33] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/92fef12128c997233d985d1c19e11faac005073f

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1413388&tab=buildLog

[code]

[2019-07-31 17:38] dt commented on #39187
cc @rolandcrosby

This one would require core's help to build the locked/unlocked range state (and ensure it is handled correctly during splits and merges), so if/when we wanted it on the bulk-io roadmap, we'd want to work with core to get that sequenced ahead of the bulkio's chunks.

[2019-07-31 17:39] knz commented on #24972
I'd suggest looking at how the other windowing operators are implemented and follow the template

[2019-07-31 17:39] bdarnell commented on #16784
Neither am I. I think if we have something called a display name, it should be easy to change and not used for anything but display purposes, but I'm not sure we really need it. I'd just make a CLI-only "join name" flag, and if it's set, show it in the UI. I don't think we need a separate motd/display-name.

I'd use a setting for this, and wouldn't share the setting with anything else. Doesn't pro

[2019-07-31 17:41] RaduBerinde commented on #34019
Note that columns can be pruned with `UNION ALL` but not with `UNION` (in the general case).
One interesting related rule would be to convert `UNION` to `UNION ALL` when we know they are the same (e.g. if the two sides have conflicting constraints on one column)

[2019-07-31 17:47] #39163 closed

[2019-07-31 17:48] nvanbenschoten commented on #39188
@ajwerner and I talked this over and believe we came to a theory for how this is possible. It looks like this is fallout from aada4fcf3ff410d83a738cf16696e37357cb8d4e. We're seeing the tracing span for a proposal used after it has already been freed. This implies that we're dealing with command reproposals in Raft. Specifically, it implies that a command is finishing its application but `ProposalD

[2019-07-31 17:58] jordanlewis commented on #24972
@wcharczuk thanks for your interest! You can have a look at the file `pkg/sql/sem/builtins/window_builtins.go` for the other windowing operators that @knz mentions. There are tests in `pkg/sql/logictest/testdata/logic_test/window` that you can extend as well. Let me know if you have more questions, more than happy to help you!

[2019-07-31 18:01] bdarnell commented on #39182
What happens at the end of the hook? That is, how does the code and/or the admin learn that everything is finished and it's possible to move on to the next version? Do we now gossip two cluster versions, one tracking the feature gates and one for the migration completion?

[2019-07-31 18:06] knz commented on #16784
marc suggests I collect these various points into a RFC. I'll do that next

[2019-07-31 18:18] rafiss commented on #38780
@knz I'm not sure if I followed your initial example, but in postgres the behavior is:

[code]

To me, it seems like it is correct to always evaluate a the `-` unary operator with a `UnaryOp` right away when evaluating an expression. This would also agree with the [order of precedence defined by Postgres](https://www.postgresql.org/docs/11/sql-syntax-lexical.html#SQL-PRECEDENCE-TABLE). (As an asid

[2019-07-31 18:23] danhhz commented on #39182
The admin runs one command that triggers a job for all necessary migrations. I've been imagining that the job steps through each version. For each step, it first communicates the version to the code, unblocking feature gates (I'd like to have stronger guarantees about this than we've had in the past, how this works is the part that is currently most handwave-y), then runs the hook, then moves on t

[2019-07-31 18:25] rohany commented on #34907
closed via #39053

[2019-07-31 18:25] #34907 closed

[2019-07-31 18:28] bdarnell commented on #39182
So then the new step in the upgrade process will be something like "check the jobs page to make sure the migration job from the previous upgrade has finished before starting a new upgrade"? We should also consider scripting for this for embedded users who need to do upgrades in a hands-off way (and might bundle multiple upgrades in a relatively short time frame, and/or have pathological conditions

[2019-07-31 18:56] danhhz commented on #39182
Given that this unblocks the shiny new features as it goes, I was imagining the upgrade docs would have a step at the end directing the user to monitor the job until it finishes. But you're right that we should mention it at the beginning, too, just in case.

I'm in favor of making it scriptable. There's some bikeshedding to be done about whether it's one SQL command that blocks for the entire tim

[2019-07-31 19:16] mjibson commented on #38780
We've been aware of the `-` precedence difference for a while: https://www.cockroachlabs.com/docs/v19.1/porting-postgres.html#precedence-of-unary

I think this happens because postgres implements operators on types, and all type operators are at the same level of precedence (about the middle), and as a result many operators have a preference that differs from what we expect.

[2019-07-31 19:22] RaduBerinde opened #39197 "sql: CREATE TABLE AS doesn't work properly if the query contains mutations"
In this example, `t` should contain the row `3,3` but it is empty.
[code]
I believe this is related to the recent changes for running the query asynchronously. It doesn't happen if I run it inside an explicit transaction:
[code]

CC @dt

[2019-07-31 19:26] rohany commented on #20891
I think #39053 implements what is being requested here.

[2019-07-31 19:33] knz commented on #16784
rfc in #39196

[2019-07-31 19:39] rohany commented on #38431
I think this depends on #20880. Are we thinking about like all secondary indexes with the same type as the primary index? Or all secondary indexes that share a prefix with the primary index?

[2019-07-31 19:56] rohany commented on #20885
@jordanlewis is this something we can do at the SQL level, or is it something that optimizer team should look at? Or is this already done by the work that @ridwanmsharif has done?

[2019-07-31 20:00] jordanlewis commented on #20885
I think the optimizer would mostly likely have to be involved in this item. It has not been done by Ridwan's work. I believe the idea here would be that a query containing a partition limiting syntax would be transformed into the equivalent filter clause, which would then further be transformed into spans.

[2019-07-31 20:15] jordanlewis commented on #20891
Does the linked PR deal with non-integer datatypes ok? If I recall correctly part of the difficulty with doing this was making sure other datatypes got printed right. In either case, I think closing this is probably appropriate.

[2019-07-31 20:23] rohany commented on #20891
I believe it does --

[code]

[2019-07-31 20:23] #20891 closed

[2019-07-31 20:35] knz commented on #30828
IMHO the existing `--port` flag (really, `--listen-addr`, as `--port` has been deprecated since 19.1) should remain dedicated to gRPC.

Then we'd have `--sql-port` (or `--listen-addr-sql` or similar) to split SQL away. If `--sql-port` is not specified, its value would default to that of `--port`.

As to the RPC endpoints. My proposal would be to keep them defined as RPCs in protobufs (and leave th

[2019-07-31 21:29] bdarnell opened #39200 "storage: Consolidate snapshot rate settings"
We have two settings for snapshots: `kv.snapshot_recovery.max_rate` (raft-initiated) and `kv.snapshot_rebalance.max_rate` (preemptive or learners). Since #35100 these have had the same defaults. Giving them different values can be problematic due to priority inversion, so anyone setting one would be advised to set the other similarly. We should get rid of this redundancy by picking one and getting

[2019-07-31 21:46] danhhz commented on #39182
Nathan pointed out in our 1:1 that my thinking around nodes rejoining after being partitioned off when a feature gate bump is pushed out is probably too harsh. @nvanbenschoten do you mind writing up your concern here so I'm sure I have it right?

[2019-07-31 22:02] nvanbenschoten commented on #39190
[code]

The timing of this points towards it having the exact same cause as https://github.com/cockroachdb/cockroach/issues/39188.

[2019-08-01 02:45] dt opened #39204 "sql: SHOW FINGERPRINTS inside fixed-ts txn does not get along with optimizer"
[code]

[2019-08-01 05:18] cockroach-teamcity commented on #38864
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415627&tab=buildLog

[code]

[2019-08-01 08:35] cockroach-teamcity commented on #39164
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415626&tab=buildLog

[code]

[2019-08-01 08:42] cockroach-teamcity commented on #37716
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 11:00] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 13:25] #38864 closed

[2019-08-01 13:38] RaduBerinde commented on #35722
Looks the same with #31722 and #21654.

I spent some time investigating this. The placeholder gets typed as a string with invalid collation. Given the query (simple select from table with filter), the only way (I can think of) this could happen is if we had a table column with an invalid locale. We validate the locale when creating a table/column, so perhaps it's an old descriptor with some locale

[2019-08-01 14:38] #38440 closed

[2019-08-01 14:58] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 15:24] cockroach-teamcity commented on #39185
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 15:32] mattcrdb opened #39207 "Feature: report what transaction statements are causing "transaction too large""
Transactions that issue many statements often return with a transaction too large error.

From what I understand this error comes from the kv layer.

This feature can allow debugging of those transactions, and indicate which statements within the transactions are causing the transaction to exceed the allowed size.

[2019-08-01 15:32] cockroach-teamcity opened #39208 "roachtest: jepsen/bank-multitable/majority-ring-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 15:34] RoachietheSupportRoach commented on #39207
Zendesk ticket #[3544](https://cockroachdb.zendesk.com/agent/tickets/3544) has been linked to this issue.

[2019-08-01 15:41] cockroach-teamcity opened #39209 "roachtest: jepsen/bank-multitable/parts-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 15:44] #37916 closed

[2019-08-01 15:50] cockroach-teamcity opened #39210 "roachtest: jepsen/bank-multitable/split failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:03] cockroach-teamcity commented on #39113
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:24] cockroach-teamcity commented on #39209
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:27] cockroach-teamcity opened #39212 "roachtest: jepsen/bank-multitable/start-stop-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:33] cockroach-teamcity opened #39214 "roachtest: jepsen/bank-multitable/strobe-skews failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:34] cockroach-teamcity commented on #39185
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:36] cockroach-teamcity commented on #39208
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:41] cockroach-teamcity commented on #39209
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:43] cockroach-teamcity commented on #39210
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:44] cockroach-teamcity commented on #39209
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:51] cockroach-teamcity commented on #39212
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:51] cockroach-teamcity commented on #39214
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 16:52] cockroach-teamcity opened #39215 "roachtest: jepsen/g2/majority-ring failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:00] cockroach-teamcity opened #39216 "roachtest: jepsen/g2/parts-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:00] cockroach-teamcity opened #39217 "roachtest: jepsen/g2/majority-ring-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:01] cockroach-teamcity opened #39218 "roachtest: jepsen/g2/split failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:02] #39188 closed

[2019-08-01 17:02] #39190 closed

[2019-08-01 17:07] cockroach-teamcity commented on #39137
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:08] cockroach-teamcity commented on #39216
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:09] cockroach-teamcity opened #39219 "roachtest: jepsen/g2/start-stop-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:09] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:10] cockroach-teamcity opened #39220 "roachtest: jepsen/g2/strobe-skews failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:17] cockroach-teamcity opened #39221 "roachtest: jepsen/monotonic/majority-ring failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:17] cockroach-teamcity opened #39222 "roachtest: jepsen/monotonic/majority-ring-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:19] cockroach-teamcity commented on #39222
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:19] cockroach-teamcity opened #39223 "roachtest: jepsen/monotonic/parts-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:19] cockroach-teamcity opened #39224 "roachtest: jepsen/monotonic/split failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:27] cockroach-teamcity opened #39225 "roachtest: jepsen/monotonic/strobe-skews failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:27] cockroach-teamcity opened #39226 "roachtest: jepsen/monotonic/start-stop-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:29] cockroach-teamcity commented on #37932
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:30] cockroach-teamcity commented on #37956
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:30] cockroach-teamcity commented on #38763
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:43] #38940 closed

[2019-08-01 17:44] cockroach-teamcity commented on #37545
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:44] cockroach-teamcity commented on #37930
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:45] cockroach-teamcity opened #39227 "roachtest: jepsen/sequential/majority-ring failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:45] cockroach-teamcity commented on #37394
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:45] cockroach-teamcity commented on #38126
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:50] robert-s-lee commented on #39109
@bdarnell thoughts on forking https://github.com/terraform-providers/terraform-provider-postgresql to fix the issue.  This is blocking the customer from using the standard production deployment testing.  The customer and Hasipcorp are in favor of forking.

[2019-08-01 17:50] jordanlewis commented on #35718
@mjibson closable right?

[2019-08-01 17:53] cockroach-teamcity opened #39228 "roachtest: jepsen/sequential/majority-ring-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:53] cockroach-teamcity opened #39229 "roachtest: jepsen/sequential/parts-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:53] cockroach-teamcity opened #39230 "roachtest: jepsen/sequential/split failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:54] cockroach-teamcity commented on #39229
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 17:54] cockroach-teamcity opened #39231 "roachtest: jepsen/sequential/start-stop-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:02] cockroach-teamcity opened #39233 "roachtest: jepsen/sets/majority-ring-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:02] cockroach-teamcity commented on #39233
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:02] cockroach-teamcity opened #39234 "roachtest: jepsen/sequential/strobe-skews failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:02] cockroach-teamcity opened #39235 "roachtest: jepsen/sets/parts-start-kill-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:03] cockroach-teamcity opened #39236 "roachtest: jepsen/sets/split failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:06] #32563 closed

[2019-08-01 18:13] cockroach-teamcity opened #39237 "roachtest: jepsen/sets/strobe-skews failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:13] cockroach-teamcity commented on #39235
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:13] cockroach-teamcity opened #39238 "roachtest: jepsen/sets/start-stop-2 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:15] bdarnell commented on #39182
I like the two command "block on job" variant because it's extensible to other kinds of jobs. (syntax strawman: SHOW UPGRADE STATUS instead of COMMIT TO UPGRADE. Don't use the verb COMMIT for something other than transaction commits)

Maybe the Z nodes should crash instead of blocking, which is more likely to trigger rolling downgrades in the deployment tooling. Either crashing or blocking is prob

[2019-08-01 18:18] cockroach-teamcity opened #39239 "roachtest: kv/contention/nodes=4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:21] rafiss commented on #38780
Thanks for that link -- it seems to describe the `~` (bitwise NOT) operator, and not the `-` (arithmetic negation) operator. But I will definitely make sure that both `~` and `-` are handled as they should be, and will implement all the precedence rules according to [our own docs](https://www.cockroachlabs.com/docs/v19.1/porting-postgres.html#precedence-of-unary), and to [Postgres precedence rules

[2019-08-01 18:40] jordanlewis opened #39240 "exec: unordered distinct"
The vectorized engine currently only handles DISTINCT on fully-ordered columns. It doesn't yet know how to deal with distincts on unordered (or partially ordered) columns.

This issue tracks implemented an unordered distinct operator. Unordered distinct is implemented with a hash table. The DistSQL implementation of unordered distinct could serve as a guide - but it's possible that we could get aw

[2019-08-01 18:42] jordanlewis opened #39241 "exec: filtering aggregations"
Add filtering aggregator support to the vectorized engine. This is an extra filter step that only includes rows in the aggregation if they pass a filter.

[code]

[2019-08-01 18:42] nvanbenschoten commented on #37269
I'm not completely sure. For ScanRequests, we initialize the RocksDB iterator with the scan's upper and lower bound, so it's likely possible that we set the prefix bloom filter up so that it can be used for ScanRequests over a single row, but I doubt that actually works at the moment. At a minimum, we'll probably need to bake some understanding of column families into the bloom prefix for it to wo

[2019-08-01 18:43] jordanlewis opened #39242 "exec: add distinct aggregation support"
Distinct aggregates only operate over distinct values of the grouping columns.

[code]

[2019-08-01 18:50] bdarnell opened #39243 "sql: force_retry shouldn't require admin"
We'd like to document the `force_retry()` function for people to test their transaction retry loops (as in cockroachdb/docs#5085). This function currently requires admin privileges, but there's no reason for this (it looks like it was copy/pasted from nearby `force_panic` and `force_log_fatal`, which do need restricted access). We should open this function up to all users.

[2019-08-01 18:53] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 18:57] #35718 closed

[2019-08-01 18:58] bdarnell commented on #39109
Yeah, forking seems like the right thing to do. If it were just the `select version()`, I'm pretty sure there are ways to make it work in both databases (`select setting from pg_catalog.pg_settings where name='server_version';` should work in both), but I think there are enough differences that a cockroach-specific provider is going to be better.

[2019-08-01 19:03] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/da56c792e968574b8f1d9ef3fdb45d56a530221a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1415578&tab=buildLog

[code]

[2019-08-01 19:08] #38392 closed

[2019-08-01 19:25] petermattis commented on #37269
RocksDB only uses bloom filters when prefix iteration is set. For CockroachDB, this is only done for `MVCCGet`, never for `MVCCScan`. I believe @ajkr said there was thinking going on about how to use prefix bloom filters for general scans if the lower and upper bound were set appropriately.

Are you imagining we'd generate the bloom filter on the "row prefix"?

So many of our workloads are in cach

[2019-08-01 19:47] ridwanmsharif opened #39244 "opt: lookup join should be given heavier cost when looking up on multiple nodes."
This is an issue for some unfortunate behavior I found described in: https://github.com/cockroachdb/cockroach/pull/39057#pullrequestreview-269819266.

It looks as though because we're looking up from more than one node, it is actually more expensive to run than the previous hash join plan. I think what the *eventual* right thing to do here, would be to make the optimizer aware of the cluster infor

[2019-08-01 20:20] nvanbenschoten commented on #39218
[code]

[2019-08-01 20:21] nvanbenschoten commented on #39218
This was broken by https://github.com/cockroachdb/cockroach/pull/39177.

[2019-08-01 21:06] rohany commented on #39241
@jordanlewis whats your status on the case operator? I feel like the strategy for repeating the batch as done there to keep adding to a selection vector could be good here.

[2019-08-01 21:18] irfansharif commented on #32583
shouldn't the read latch be acquired at timestamp infinity? the read latch at t0 would not block out any writes.

[2019-08-01 21:23] jordanlewis commented on #39241
Status is that it's kinda on hold til the FK stuff gets finished, and hoping to get some more reviews on it too. I saw your review (thanks!) but it's kinda complicated and I'd appreciate some more scrutiny :)

[2019-08-01 21:24] jordanlewis commented on #39241
I agree though that your proposed strategy could work. It actually might be as simple as planning a selection right before the aggregation step actually runs.

[2019-08-01 21:25] rohany commented on #39241
yeah, thats what I was thinking. if we just select out the rows that don't pass the filter then we might be good. No worries about my review -- i don't have much authority over the codebase yet.

[2019-08-01 21:30] nvanbenschoten commented on #38126
The previous failure was a duplicate of #39218, which is fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:31] nvanbenschoten commented on #37956
The previous failure was a duplicate of #39218, which is fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:31] nvanbenschoten commented on #38763
The previous failure was a duplicate of #39218, which is fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:31] nvanbenschoten commented on #37930
The previous failure was a duplicate of #39218, which is fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:31] nvanbenschoten commented on #37545
The previous failure was a duplicate of #39218, which is fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:31] #38722 closed

[2019-08-01 21:31] nvanbenschoten commented on #37394
The previous failure was a duplicate of #39218, which is fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:34] nvanbenschoten commented on #32583
We consider a latch at timestamp zero to be non-MVCC, which is what I meant by that:

https://github.com/cockroachdb/cockroach/blob/cee171c75f88ccae19834c4320511beffe7d87dc/pkg/storage/spanlatch/manager.go#L311-L313

[2019-08-01 21:41] nvanbenschoten commented on #39185
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:41] #39185 closed

[2019-08-01 21:41] nvanbenschoten commented on #39208
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:41] #39208 closed

[2019-08-01 21:41] nvanbenschoten commented on #39209
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:41] #39209 closed

[2019-08-01 21:41] nvanbenschoten commented on #39210
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:41] #39210 closed

[2019-08-01 21:41] nvanbenschoten commented on #39212
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:41] #39212 closed

[2019-08-01 21:41] nvanbenschoten commented on #39214
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:41] #39214 closed

[2019-08-01 21:41] nvanbenschoten commented on #39215
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:41] #39215 closed

[2019-08-01 21:41] nvanbenschoten commented on #39217
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:41] #39217 closed

[2019-08-01 21:42] nvanbenschoten commented on #39216
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39216 closed

[2019-08-01 21:42] nvanbenschoten commented on #39218
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39218 closed

[2019-08-01 21:42] nvanbenschoten commented on #39219
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39219 closed

[2019-08-01 21:42] nvanbenschoten commented on #39220
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39220 closed

[2019-08-01 21:42] nvanbenschoten commented on #39221
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39221 closed

[2019-08-01 21:42] nvanbenschoten commented on #39222
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39222 closed

[2019-08-01 21:42] nvanbenschoten commented on #39223
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39223 closed

[2019-08-01 21:42] nvanbenschoten commented on #39224
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39224 closed

[2019-08-01 21:42] nvanbenschoten commented on #39226
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39226 closed

[2019-08-01 21:42] nvanbenschoten commented on #39225
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39225 closed

[2019-08-01 21:42] nvanbenschoten commented on #39227
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:42] #39227 closed

[2019-08-01 21:43] nvanbenschoten commented on #39228
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39228 closed

[2019-08-01 21:43] nvanbenschoten commented on #39229
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39229 closed

[2019-08-01 21:43] nvanbenschoten commented on #39230
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39230 closed

[2019-08-01 21:43] nvanbenschoten commented on #39231
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39231 closed

[2019-08-01 21:43] nvanbenschoten commented on #39234
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39234 closed

[2019-08-01 21:43] nvanbenschoten commented on #39233
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39233 closed

[2019-08-01 21:43] nvanbenschoten commented on #39235
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39235 closed

[2019-08-01 21:43] nvanbenschoten commented on #39236
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39236 closed

[2019-08-01 21:43] nvanbenschoten commented on #39238
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39238 closed

[2019-08-01 21:43] nvanbenschoten commented on #39237
Fixed by https://github.com/cockroachdb/jepsen/pull/23.

[2019-08-01 21:43] #39237 closed

[2019-08-01 21:45] nvanbenschoten commented on #39239
[code]

Fixed by https://github.com/cockroachdb/cockroach/pull/39203.

[2019-08-01 21:45] #39239 closed

[2019-08-01 21:49] nvanbenschoten commented on #39191
[code]

We hit a `No such file or directory` error while writing to RocksDB's WAL and trying to unlink the file `000010.log`. @ajkr could I assign you to take a look and see whether you can find anything that looks suspicious about the test run?

[2019-08-01 22:09] cockroach-teamcity opened #39252 "teamcity: failed test: TestRepartitioning"
The following tests appear to have failed on master (test): TestRepartitioning, TestRepartitioning/single_col_range_partitioning/unpartitioned

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestRepartitioning).

[#1417137](https://teamcity.cockroachdb.com/viewLog.html?buildId=1417137):

[code]

Please assign, take a look and update t

[2019-08-02 02:12] #31368 closed

[2019-08-02 02:16] knz commented on #27834
Fixed by #30123.

[2019-08-02 02:16] #27834 closed

[2019-08-02 02:30] #24118 closed

[2019-08-02 02:31] knz commented on #26722
Folk we need more details about the use case.

We see two unrelated things:

1) for single-node clusters we assume that the container is running `cockroach start`. My understanding is that the feature is useful because the top-level command in the container is `cockroach start` and you would like this to also run a sql command. Is that right?

Is there anything that you need to do that wouldn't be

[2019-08-02 02:33] knz commented on #24118
it is done

[2019-08-02 02:47] knz commented on #37476
It's actually not so clear. Using custom file names with `--url` is only supported for the CLI commands that use SQL under the hood.

The parameter `--url` is supported for all CLI commands, but if you try to use it with a non-SQL command (e.g. `cockroach quit`) it will bark if you specify a non-standard file name.

[2019-08-02 02:49] knz commented on #35476
I found a different way to achieve this than a signal. closing

[2019-08-02 02:49] #35476 closed

[2019-08-02 02:50] knz commented on #36888
@rmloveland I believe the issue has been addressed on `master`. care to check?

[2019-08-02 02:52] knz commented on #36814
@jordanlewis this issue was mis-filed initially. It's really a SQL feature request. Can you check?

[2019-08-02 02:54] knz commented on #34040
I investigated and so far I can see the missing perm is not blocking. Feel free to re-open if you envision a better improvement.

[2019-08-02 02:54] #34040 closed

[2019-08-02 03:00] knz commented on #29283
@jseldess I believe this issue is now fixed. Can you confirm?

[2019-08-02 03:04] knz commented on #24569
We have addressed this in the code leading to version 19.2.

[2019-08-02 03:04] #24569 closed

[2019-08-02 03:07] knz commented on #9150
@tbg I'm currently reviewing the cli issue. This seems like a core issue not CLI. Also the code has changed a lot. Is this still relevant? If yes, perhaps an item for the core project not CLI?

[2019-08-02 03:08] knz commented on #9594
I think this has been subsumed by various combinations of `roachprod` and `cockroach demo`?

[2019-08-02 03:09] knz commented on #12254
Subsumed by `cockroach zip`

[2019-08-02 03:09] #12254 closed

[2019-08-02 03:10] knz commented on #12252
`cockroach zip` does this now

[2019-08-02 03:10] #12252 closed

[2019-08-02 03:11] knz commented on #12253
We discovered with experience that if a cluster is in need of troubleshooting it's more likely than not to be unable to display the UI. We now routinely use `cockroach zip` for this purpose.

[2019-08-02 03:11] #12253 closed

[2019-08-02 03:18] knz commented on #15318
I think bit by bit we are deprecating the discrete flags and `--url` is taking over. In any case:

1) now all commands accept `--url`, not just SQL-based commands
2) the use cases at the top of this issue are supported since  #23725

so I am going to close this issue. If we learn new things from user demand, we can re-open issue with a more specific dscription of the desired behavior.

[2019-08-02 03:18] #15318 closed

[2019-08-02 03:21] knz commented on #14662
Regarding the initial issue

This has been addressed. For example we now use `--listen-addr` for the server and `--url` for clients.

The set of env vars is now centralized and the specific values used are reported in the log file. We also have streamlined the cases where an env var is used as default when a flag is not provided.

I don't think there is a clear benefit in changing this: the initia

[2019-08-02 03:21] knz commented on #14662
since it's not clear from the issue description what we can improve further, i'll close this. feel free to file issues with more specific requests.

[2019-08-02 03:21] #14662 closed

[2019-08-02 03:23] knz commented on #14322
Closing in favor of #33594.

[2019-08-02 03:23] #14322 closed

[2019-08-02 03:46] ridwanmsharif commented on #37980
This is done by https://github.com/cockroachdb/cockroach/pull/38660 right? We could close this now.

[2019-08-02 04:55] stickenhoffen opened #39255 "Error executing schema change: failed to update job / does not exist"
**Describe the problem**

The following lines are continually logged across three nodes in a cluster:

[code]

**To Reproduce**

I dropped some indexes, and recreated. Not exactly sure when it started.

**Expected behavior**

No errors.

**Environment:**
 - CCL v19.1.3 @ 2019/07/08 18:24:39 (go1.11.6)
 - Ubuntu 18.04.2 LTS
 - Three node cluster (4 x vCPU 16GB GCP)

**Additional context**
What was

[2019-08-02 05:41] nvanbenschoten commented on #28918
@tbg can we close this issue?

[2019-08-02 05:44] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/5bd37e8eb58ca66b9293c234bc572411057fec3a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417287&tab=buildLog

[code]

[2019-08-02 05:48] cockroach-teamcity commented on #39164
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417689&tab=buildLog

[code]

[2019-08-02 06:18] cockroach-teamcity opened #39257 "roachtest: acceptance/build-info failed"
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 06:35] cockroach-teamcity commented on #38794
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 06:38] cockroach-teamcity commented on #39005
SHA: https://github.com/cockroachdb/cockroach/commits/5bd37e8eb58ca66b9293c234bc572411057fec3a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417287&tab=buildLog

[code]

[2019-08-02 07:59] cockroach-teamcity commented on #39137
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 08:00] cockroach-teamcity opened #39258 "storage: TestStoreRangeMergeSlowWatcher failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/deb98522fde836a41ede2ad0267e11efaed27306

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1418250&tab=buildLog

[code]

[2019-08-02 08:10] cockroach-teamcity opened #39259 "roachtest: splits/load/sequential/nodes=3 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/deb98522fde836a41ede2ad0267e11efaed27306

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417615&tab=buildLog

[code]

[2019-08-02 08:39] cockroach-teamcity commented on #38257
SHA: https://github.com/cockroachdb/cockroach/commits/deb98522fde836a41ede2ad0267e11efaed27306

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1418722&tab=buildLog

[code]

[2019-08-02 09:25] cockroach-teamcity commented on #39071
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 09:26] Gurio commented on #39243
@bdarnell: so one should remove `checkPrivilegedUser` from `crdb_internal.force_retry` built-in, right?
I would like to take this issue

[2019-08-02 09:35] jvf opened #39260 "sql: Dropping Index + Table in a transaction produces error"
**Describe the problem**

Dropping an index and a table within the same transaction produces the following error:

[code]

The table is still deleted.

This used to work at least in v2.1.2, v2.1.6 and v2.1.8. The error occurred with v19.1.0 and persists in v19.1.3.

**To Reproduce**

Steps to reproduce the behavior:

[code]

I shortened the output for readability, find the full log here:
[drop-ind

[2019-08-02 10:30] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 10:33] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/5bd37e8eb58ca66b9293c234bc572411057fec3a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417287&tab=buildLog

[code]

[2019-08-02 10:37] cockroach-teamcity commented on #37930
SHA: https://github.com/cockroachdb/cockroach/commits/5bd37e8eb58ca66b9293c234bc572411057fec3a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417287&tab=buildLog

[code]

[2019-08-02 10:56] cockroach-teamcity opened #39261 "roachtest: drop/tpcc/w=100,nodes=9 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 12:42] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/5bd37e8eb58ca66b9293c234bc572411057fec3a

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417287&tab=buildLog

[code]

[2019-08-02 13:00] cockroach-teamcity commented on #38558
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417633&tab=buildLog

[code]

[2019-08-02 14:12] cockroach-teamcity opened #39262 "roachtest: kv/contention/nodes=4 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 14:20] barbourkd commented on #38855
Hope you don't mind, but I took a stab at this since there wasn't much movement on it. #39263

@jordanlewis One thing I was unsure of is if it is necessary to have the overload for Numeric and Decimal? I created an overload for decimal and have been unable to find a situation where it doesn't work.

[2019-08-02 14:33] asubiotto commented on #39137
The latest failure was a node crash due to an OOM in one of the hash router outputs.
![image](https://user-images.githubusercontent.com/10560359/62377339-8fe89780-b510-11e9-8ce8-937da26f32ed.png)

Since the hash router runs in its own goroutine, if we have a stuck flow downstream of the router, this would be one of the symptoms. I don't think further investigation is necessary until we merge #3924

[2019-08-02 14:36] cockroach-teamcity opened #39264 "roachtest: kv0/enc=false/nodes=3/cpu=32 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 14:54] #37980 closed

[2019-08-02 15:14] bdarnell commented on #39243
Yes, that's all that's needed, but @inconnu8 beat you to it with #39246.

[2019-08-02 15:18] Gurio commented on #39243
@bdarnell oh, right I didn't notice :)
also, I can see the reasons why not, but did you consider letting external contributors assign issues to themselves?

[2019-08-02 15:28] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 15:35] #38919 closed

[2019-08-02 15:35] #39029 closed

[2019-08-02 15:35] #39092 closed

[2019-08-02 15:51] bdarnell commented on #39243
I think that's a github thing we don't have control over. You have to be a member of the organization to have issues assigned to you, so as a new external contributor you just have to comment on the issue.

[2019-08-02 16:06] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/175c5ada040fd0cbbf178636b1c551d5c2229ec4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1417597&tab=buildLog

[code]

[2019-08-02 16:30] Inconnu08 commented on #39243
@Gurio I apologize for that. I should have commented first.
@bdarnell next time I will comment before making a move.

[2019-08-02 16:34] Gurio commented on #39243
@Inconnu08 no problem :)

[2019-08-02 16:37] Inconnu08 commented on #38855
Ahh, I was almost halfway there. Stuck with the tests. Hence I didn't PR until completely done. But it's completely fine. :)

[2019-08-02 17:01] #39204 closed

[2019-08-02 17:48] #39099 closed

[2019-08-02 18:09] #16382 closed

[2019-08-02 18:09] #32005 closed

[2019-08-02 18:24] nvanbenschoten commented on #39036
### Failed roachtest signoff

- [ ] `tpccbench/nodes=9/cpu=4/chaos/partition`
- [ ] `clearrange/checks=false`
- [ ] `clearrange/checks=true`
- [ ] `clock/jump/large_backward_enabled`
- [ ] `jepsen/register/split`

[2019-08-02 18:27] nvanbenschoten commented on #39036
`tpccbench/nodes=9/cpu=4/chaos/partition` failed when installing haproxy due to an apt-get failure.
[code]

[2019-08-02 18:31] nvanbenschoten commented on #39036
`clearrange/checks=true` failed due to a node hitting:
[code]

`clearrange/checks=false` timed out:
[code]

@ajkr you've been looking into these tests in #38772 and #38720. Could you make a determination about whether these are concerning or expected, and whether they should block the release from going out?

[2019-08-02 18:34] nvanbenschoten commented on #39036
`clock/jump/large_backward_enabled` is what we're seeing in #38723:
[code]

@tbg could you make a determination about whether these are concerning or expected, and whether they should block the release from going out?

[2019-08-02 18:36] nvanbenschoten commented on #39036
`jepsen/register/split` crashed with the error:
[code]
@ben could you make a determination about whether this is concerning and whether it should block the release from going out?

[2019-08-02 18:39] #28918 closed

[2019-08-02 18:43] nvanbenschoten commented on #39264
No nodes crashed, but the logs indicate that node 1 was suddenly partitioned off from the rest of the nodes in the cluster.

Node 1:
[code]

Node 2:
[code]

Node 3:
[code]

I don't think there's anything actionable here.

[2019-08-02 18:43] #39264 closed

[2019-08-02 18:51] nvanbenschoten commented on #39257
[code]

Network flake.

[2019-08-02 18:51] #39257 closed

[2019-08-02 19:47] ajwerner opened #39275 "sql: mixed timestamp queries"
**Problem**

The feature I'm proposing seems to have two use cases in which it would be beneficial.

1) Combining geo-partitioning with follower reads

Imagine an application which wants to serve low-latency reads for all operations. This application would also like to perform low-latency writes for user oriented data. The application has two primary sources of information which it draws on to com

[2019-08-02 20:35] nvanbenschoten commented on #37269
Yes, that's what I was picturing. To do so, we'd need to be careful about interleaved tables, but I _think_ that would be manageable.

I'm surprised that we would be ok with passing up on optimizations for the cases where this isn't true. If we truly believed that all of the datasets that we care about will fit in memory then we picked the wrong storage architecture.

I'd like to talk about this m

[2019-08-02 20:51] nvanbenschoten commented on #39262
[code]

We see a crash due to a use-after-finish in a `samplerProcessor`. We saw this twice yesterday in #39239 and in #39190. We had hoped it was fixed by #39203, but it doesn't look like it. Luckily, it looks easy to reproduce.

[2019-08-02 20:52] nvanbenschoten commented on #39261
[code]

Duplicate of #39262.

[2019-08-02 20:52] #39261 closed

[2019-08-02 21:43] yuzefovich opened #39277 "TestDrainingProcessorSwallowsUncertaintyError fails under stress with short timeout"
At the moment, on master branch (with `vectorize=off`), running locally `make stress PKG=./pkg/sql/distsqlrun TESTS=TestDrainingProcessorSwallowsUncertaintyError TESTTIMEOUT=10s` actually times out the test. Usually it takes about 30-60 seconds to repro.

There are quite a few goroutines in the stack trace, but the most suspicious is:
[code]

[2019-08-02 22:06] kenliu commented on #31368
@knz was this resolved in 19.1?

[2019-08-02 22:19] knz commented on #31368
No only 19.2. Fix cannot be back ported unfortunately.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-08-02 23:01] #35160 closed

[2019-08-02 23:08] nvanbenschoten commented on #39262
I can reproduce this fairly easily by running the roachtest with cockroach binary from `master`. However, I'm having a little trouble reproducing it with [`DebugUseAfterFinish`](https://github.com/golang/net/blob/ca1201d0de80cfde86cb01aea620983605dfe99b/trace/trace.go#L87 ) set to `true`, which would help track down where the use-after-free is coming from.

[2019-08-02 23:09] yuzeming opened #39279 "test: replace `sent` with `LoadInt64(&sent)` in `TestBackpressure`"
**Describe the problem**
https://github.com/cockroachdb/cockroach/blob/f00763648b174936fc0a95587cf5a8dce24da20d/pkg/internal/client/requestbatcher/batcher_test.go#L158-L181

L180 `assert.Equal(t, int64(0), sent)` checks that there is no request is sent at L165 and two `go send()` should blocking L166.
However, when L166 doesn't block for some reason, an non-atomic read of `sent` can't guarantee to

[2019-08-02 23:11] nvanbenschoten commented on #39164
@adityamaru27 or @dt, do you mind taking a look at this? It looks like an import is reliably hitting a nil pointer panic here:
https://github.com/cockroachdb/cockroach/blob/802ae38f38bf297e5cb849315d5510c95b2d1e6f/pkg/ccl/importccl/import_stmt.go#L928

[2019-08-02 23:22] yuzeming opened #39281 "test: fix data race of `exited in `TestTrackerDoubleRelease`"
**Describe the problem**

https://github.com/cockroachdb/cockroach/blob/802ae38f38bf297e5cb849315d5510c95b2d1e6f/pkg/storage/closedts/minprop/tracker_test.go#L86-L100

L88 and L98 share a bool variable `exited` in different thread.

However there is no guarantee that the write to `exited` will ever be observed by `TestTrackerDoubleRelease` , since there are no synchronization events between the tw

[2019-08-02 23:23] petermattis commented on #37269
Let me rephrase my position. There very well might be significant improvements that can be had when the working set does not fit in cache. I think we should see how often those workloads are occurring and come up with a representative workload. And then we should analyze it. Essentially, I want to put the workload first, not the performance change.

Would we maintain two bloom filters: one on the

[2019-08-02 23:23] yuzefovich commented on #39279
cc @ajwerner

[2019-08-02 23:29] #38620 closed

[2019-08-02 23:29] #38920 closed

[2019-08-02 23:48] nvanbenschoten commented on #39281
Hi @yuzeming! Thanks for the issue. Why do you say that the two accesses to `exited` are on different threads? If I'm reading this correctly, we expect the second call to `release` (line 96) to hit a `log.Fatal`, which should make it all the way [here](https://github.com/cockroachdb/cockroach/blob/32211071977a8cd801d7f6b9a2321887a2d1ab7f/pkg/util/log/clog.go#L898) and call into the function we pro

[2019-08-02 23:55] yuzeming commented on #39281
this log may help you

/pkg/storage/closedts/minprop/tracker_test.go:88:52 Func: TestTrackerDoubleRelease$1
    # 0 /pkg/storage/closedts/minprop/tracker_test.go:94:29 (*Tracker).Track(t4, t3)
    # 1 /pkg/storage/closedts/minprop/tracker.go:277:12 github.com/cockroachdb/cockroach/pkg/util/log.Infof(ctx, "track: proposal o...":string, t29...)
    # 2 /pkg/util/log/log.go:95:10 logDepth(ctx, 1:int,

[2019-08-03 00:02] yuzeming commented on #39281
Is here?
https://github.com/cockroachdb/cockroach/blob/32211071977a8cd801d7f6b9a2321887a2d1ab7f/pkg/util/log/clog.go#L907-L914

I have a mock stack from static analysis

    # 0 /pkg/storage/closedts/minprop/tracker_test.go:94:29 (*Tracker).Track(t4, t3)
    # 1 /pkg/storage/closedts/minprop/tracker.go:277:12 github.com/cockroachdb/cockroach/pkg/util/log.Infof(ctx, "track: proposal o...":string, t

[2019-08-03 00:06] nvanbenschoten commented on #39281
The synchronization comes from the lines right above that:
https://github.com/cockroachdb/cockroach/blob/32211071977a8cd801d7f6b9a2321887a2d1ab7f/pkg/util/log/clog.go#L902-L906

I'm impressed that the static analysis tool you're using (writing?) was able to detect this though! Is this something you'd be willing to share?

[2019-08-03 00:16] nvanbenschoten commented on #39279
@yuzeming thanks for the issue! It looks like we're expecting L166 to block, based on the comment that says:

So this isn't really a data race unless something is already broken with the test. Still, I don't see an issue with you replacing that comment with something like
[code]
Want to send a PR?

[2019-08-03 00:22] yuzeming commented on #39281
Yes, I see. L905 (recv chan) and L913 (close chan) provide a synchronization. This function create a thread and wait for it.
I'm writing a static analysis to find data race among anonymous functions. I'm glad to share when it's mature enough.
This case is a false positive I need to work.
Thanks to point it out.

[2019-08-03 00:22] #39281 closed

[2019-08-03 00:33] yuzeming commented on #39279
@nvanbenschoten Thinks for your response
Sorry for this confusion. My point is that, if there is bug make L166 doesn't block, we should catch it at L180, but there is not guarantee we can read `sent==1` without any synchronization.

I'm glad to help.

[2019-08-03 00:40] nvanbenschoten commented on #39279
I don't think there's any confusion :) You're right that if L166 doesn't block, the read on `sent` won't be properly synchronized. However, even with proper data synchronization by using an atomic read, we're still not guaranteed to actually fail the assertion. The test would just become flaky and fail occasionally. So at its best, performing an atomic read would make the test... more reliably fla

[2019-08-03 01:32] #39279 closed

[2019-08-03 03:22] cockroach-teamcity opened #39284 "teamcity: failed test: TestDrainingProcessorSwallowsUncertaintyError"
The following tests appear to have failed on master (test): TestDrainingProcessorSwallowsUncertaintyError/dummy=false, TestDrainingProcessorSwallowsUncertaintyError/dummy=true, TestDrainingProcessorSwallowsUncertaintyError

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDrainingProcessorSwallowsUncertaintyError).

[#1419996](https

[2019-08-03 04:50] #39259 closed

[2019-08-03 05:30] cockroach-teamcity opened #39286 "teamcity: failed test: TestDefaultColumns"
The following tests appear to have failed on master (testrace): TestDefaultColumns

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDefaultColumns).

[#1420074](https://teamcity.cockroachdb.com/viewLog.html?buildId=1420074):

[code]

Please assign, take a look and update the issue accordingly.

[2019-08-03 05:30] cockroach-teamcity opened #39287 "teamcity: failed test: TestFilesEncode"
The following tests appear to have failed on master (testrace): TestFilesEncode/array_heterogeneous.json/explicit_encoding, TestFilesEncode/object_empty_key.json/round_trip

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestFilesEncode).

[#1420074](https://teamcity.cockroachdb.com/viewLog.html?buildId=1420074):

[code]

Please assig

[2019-08-03 05:30] cockroach-teamcity opened #39288 "teamcity: failed test: TestDrainingProcessorSwallowsUncertaintyError"
The following tests appear to have failed on master (test): TestDrainingProcessorSwallowsUncertaintyError/dummy=false, TestDrainingProcessorSwallowsUncertaintyError, TestDrainingProcessorSwallowsUncertaintyError/dummy=true

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDrainingProcessorSwallowsUncertaintyError).

[#1420074](https

[2019-08-03 06:11] cockroach-teamcity opened #39290 "teamcity: failed test: TestDrainingProcessorSwallowsUncertaintyError"
The following tests appear to have failed on master (testrace): TestDrainingProcessorSwallowsUncertaintyError/dummy=true, TestDrainingProcessorSwallowsUncertaintyError/dummy=false, TestDrainingProcessorSwallowsUncertaintyError

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDrainingProcessorSwallowsUncertaintyError).

[#1420099](h

[2019-08-03 06:24] cockroach-teamcity commented on #39164
SHA: https://github.com/cockroachdb/cockroach/commits/4bc081bee5a52c4b8116910025c7c04519872e99

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1420192&tab=buildLog

[code]

[2019-08-03 10:57] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/51a6fdedf0ce1d1329d40d801a7deaf8206b6b07

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1420118&tab=buildLog

[code]

[2019-08-03 11:00] cockroach-teamcity commented on #39165
SHA: https://github.com/cockroachdb/cockroach/commits/51a6fdedf0ce1d1329d40d801a7deaf8206b6b07

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1420118&tab=buildLog

[code]

[2019-08-03 11:34] cockroach-teamcity commented on #38720
SHA: https://github.com/cockroachdb/cockroach/commits/51a6fdedf0ce1d1329d40d801a7deaf8206b6b07

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1420118&tab=buildLog

[code]

[2019-08-03 12:29] cockroach-teamcity commented on #36570
SHA: https://github.com/cockroachdb/cockroach/commits/4bc081bee5a52c4b8116910025c7c04519872e99

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1420659&tab=buildLog

[code]

[2019-08-03 13:54] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/51a6fdedf0ce1d1329d40d801a7deaf8206b6b07

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1420118&tab=buildLog

[code]

[2019-08-03 14:05] cockroach-teamcity opened #39292 "roachtest: jepsen/sets/majority-ring failed"
SHA: https://github.com/cockroachdb/cockroach/commits/51a6fdedf0ce1d1329d40d801a7deaf8206b6b07

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1420118&tab=buildLog

[code]

[2019-08-03 14:28] yuzefovich commented on #39290
Duplicate of #39277.

[2019-08-03 14:28] #39290 closed

[2019-08-03 14:28] yuzefovich commented on #39284
Duplicate of #39277.

[2019-08-03 14:28] #39284 closed

[2019-08-03 14:28] yuzefovich commented on #39288
Duplicate of #39277.

[2019-08-03 14:28] #39288 closed

[2019-08-03 14:50] yuzefovich opened #39293 "sql: internal error: needed column not produced by group-by input"
Found with SQLsmith.
[code]
Reproduction:
[code]
[code]
[code]
[code]
Assigning to Justin since it looks like it's a problem with `WITH`.

[2019-08-03 16:51] yuzefovich opened #39295 "exec: a problem with displaying stats from the remote node"
Start a 3 node demo cluster with `./cockroach demo --nodes 3` and then run the following:
[code]
[code]
This produces a diagram with messed up stats on the remote nodes:
<img width="1014" alt="Screen Shot 2019-08-03 at 9 49 54 AM" src="https://user-images.githubusercontent.com/5135385/62414721-3ea1dc00-b5d4-11e9-8dac-0e8aef469a1a.png">

[2019-08-03 19:30] yuzefovich opened #39299 "exec: a distributed query hangs when runtime error is encountered"
Found when running logic tests with `vectorize=experimental_on`.

On the following logic test:
[code]
The last query encounters an error that is fixed by #39294, but it appears to be hanging when cleaning up the established infrastructure (i.e. the error is returned, but the flow shutdown doesn't succeed):
[code]
I thought maybe #39248 would fix the issue, but it doesn't seem to be the case.

Here

[2019-08-03 20:14] knz commented on #33165
I have finished investigating this: the feature works as intended, and the weird display is a current (mis)feature of the SQL shell - one covered by #28756 and perhaps #31872.

Long story short: both PostgreSQL and our JSONB parser accept to process and retain (in memory) special characters with a code < 32 (including `\u0001`). We go the extra mile and accept to process and retain `\u0000`, which

[2019-08-03 20:14] #33165 closed

[2019-08-03 22:26] #39287 closed

[2019-08-04 00:34] nvanbenschoten commented on #39071
In all of these, we see the import going along as expected and then it suddenly hits a context cancellation.
[code]

At the same time, we see this error in the logs:
[code]

@dt could you take a look at this?

[2019-08-04 00:37] nvanbenschoten commented on #39113
Similar symptoms as in https://github.com/cockroachdb/cockroach/issues/39071:
[code]

@dt assigning to you for triage.

[2019-08-04 00:38] nvanbenschoten commented on #39072
Similar symptoms to those in https://github.com/cockroachdb/cockroach/issues/39071. @dt assigning to you for triage.

[2019-08-04 00:38] nvanbenschoten commented on #39115
Similar symptoms to those in https://github.com/cockroachdb/cockroach/issues/39071. @dt assigning to you for triage.

[2019-08-04 03:14] yuzefovich opened #39303 "exec: a bug with RIGHT OUTER and FULL OUTER hash joins"
Adopted from a failure on `lookup_join` logic test when ran with `experimental_on`. (As a side note, what is a hash join query doing in a "lookup join" test?)

The following test reliably fails.
[code]
Note that the output of the vectorized engine is not deterministic on the last query, so maybe the problem is with the hash router although I think the hash joiner is more likely culprit with the un

[2019-08-04 03:35] cockroach-teamcity opened #39304 "teamcity: failed test: TestLogic"
The following tests appear to have failed on master (test): TestLogic/local/cascade/UpdateCascade_Interleaved, TestLogic/fakedist/fk/Composite_Simple_Add_Constraint_Valid, TestLogic/fakedist-opt/srfs/current_schema, TestLogic/fakedist-opt/cascade/DeleteCascade_SelfReference, TestLogic/local/txn_retry/autoretry-on-push-first-batch, TestLogic/local-opt/pg_catalog/pg_catalog.pg_seclabel, TestLogic/lo

[2019-08-04 04:37] cockroach-teamcity opened #39306 "teamcity: failed test: TestDrainingProcessorSwallowsUncertaintyError"
The following tests appear to have failed on master (test): TestDrainingProcessorSwallowsUncertaintyError/dummy=true, TestDrainingProcessorSwallowsUncertaintyError/dummy=false, TestDrainingProcessorSwallowsUncertaintyError

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDrainingProcessorSwallowsUncertaintyError).

[#1421766](https

[2019-08-04 04:37] cockroach-teamcity opened #39307 "teamcity: failed test: TestNot"
The following tests appear to have failed on master (test): TestNot/1011101010111110111110101100111011001010111111101011101010111110

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestNot).

[#1421766](https://teamcity.cockroachdb.com/viewLog.html?buildId=1421766):

[code]

Please assign, take a look and update the issue accordingly.

[2019-08-04 05:20] cockroach-teamcity commented on #39164
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1421860&tab=buildLog

[code]

[2019-08-04 05:39] cockroach-teamcity opened #39309 "teamcity: failed test: TestDrainingProcessorSwallowsUncertaintyError"
The following tests appear to have failed on master (test): TestDrainingProcessorSwallowsUncertaintyError/dummy=false, TestDrainingProcessorSwallowsUncertaintyError, TestDrainingProcessorSwallowsUncertaintyError/dummy=true

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+TestDrainingProcessorSwallowsUncertaintyError).

[#1421800](https

[2019-08-04 05:41] cockroach-teamcity commented on #36570
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:
[code]

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422093&tab=buildLog

[code]

[2019-08-04 08:12] shweta1207 commented on #32055
It seems that no one is working on this issue currently. I would like to work on this. Can you assign this to me ?

[2019-08-04 11:58] knz commented on #39309
Also here https://teamcity.cockroachdb.com/viewLog.html?buildId=1422491&

[2019-08-04 12:28] knz opened #39311 "cli/flags: the handling of `--locality-advertise-addr` is invalid"
This code:
[code]

is bad, because it mishandles Ipv6 addresses. This must use {Split,Join}HostPort instead.

[2019-08-04 14:01] adityamaru27 commented on #39164
I've been triaging this last couple of days, and while the nightlies are catching the SIGSEGV every night, I haven't been able to reproduce it. I've tried running it locally and on gce, with -p=2 and -p=8 (default) and i've been getting ~120 successful runs.

Documenting some of my thoughts:
1. The erring line can only be reached if the preparation stage completed successfully.
2. `prepareExisting

[2019-08-04 14:19] RaduBerinde commented on #36756
This is a dup of #33469.

[2019-08-04 14:19] #36756 closed

[2019-08-04 15:32] knz commented on #32055
We don't typically assign issues until some of the work was started already. If you're interested, go ahead.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-08-05 02:44] yuzefovich commented on #27100
I will close this issue once #28262 is merged since all things I planned to implement with this issue will have been done. For a request for additional support of the specification, please open a new issue.

[2019-08-05 03:03] #39156 closed

[2019-08-05 04:04] #39304 closed

[2019-08-05 04:05] jordanlewis commented on #39306
#39277

[2019-08-05 04:05] #39306 closed

[2019-08-05 04:05] jordanlewis commented on #39309
#39277

[2019-08-05 04:05] #39309 closed

[2019-08-05 04:05] glycerine opened #39316 "Q: why not set a timezone ?"
re https://www.cockroachlabs.com/docs/v19.1/timestamp.html#variants

Re the last sentence, what harm will come from doing the following?

`SET TIME ZONE 'America/New_York';`

Why do you recommend avoiding it?  I searched around the docs, but could find no elaboration. If there is a discussion somewhere, please link to it from the warning.

[2019-08-05 04:05] #39307 closed

[2019-08-05 04:34] yuzefovich opened #39317 "exec: nil pointer in left outer merge joiner"
The following logic test causes nil pointer error in the merge joiner:
[code]
I'm not sure whether it is expected, but the plan looks like this:
<img width="495" alt="Screen Shot 2019-08-04 at 9 33 31 PM" src="https://user-images.githubusercontent.com/5135385/62439136-9ab54f00-b6ff-11e9-88d6-57bde3f8ee19.png">

[2019-08-05 06:12] cockroach-teamcity commented on #36981
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 06:56] cockroach-teamcity commented on #39137
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 07:04] cockroach-teamcity commented on #38417
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 10:44] cockroach-teamcity commented on #38723
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 11:05] cockroach-teamcity commented on #38288
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 11:40] cockroach-teamcity commented on #35144
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 12:32] RaduBerinde commented on #39317
What do you find weird about the plan?

[2019-08-05 13:02] jordanlewis commented on #39137
Looks like this needs updating since we changed the setting name.

[2019-08-05 14:00] cockroach-teamcity opened #39320 "teamcity: failed test: TestLogic"
The following tests appear to have failed on master (test): TestLogic/fakedist/insert/regression_26742, TestLogic/local-opt/fk/Composite_Simple, TestLogic/fakedist/delete/regression_33361, TestLogic/fakedist/interleaved/interleaved_join_on_other_columns, TestLogic/local/cascade/DeleteCascade_SelfReference, TestLogic/local-opt/upsert/regression_35040, TestLogic/fakedist/rename_constraint, TestLogic

[2019-08-05 14:17] cockroach-teamcity commented on #37930
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 14:18] mattcrdb commented on #39316
Hey @glycerine ,

Different types and conversions have different, sometimes unexpected behaviors with respect to the session offset.

The reason we reccomend avoiding it is to to prevent these anomalies in behavior.

Regarding `SET TIME ZONE 'America/New_York';`, It would be best to have your app choose how to localize the timestamp.

Unfortunately, there is no discussion.

I'm happy to continue t

[2019-08-05 14:24] yuzefovich commented on #39317
Initially, I expected that there would be a single merge joiner somewhere, but now that I think about it more, it seems normal (it is a distributed SQL after all, so we distribute the load of "merge joining" across nodes that already have relevant data).

[2019-08-05 14:28] cockroach-teamcity opened #39321 "teamcity: failed test: version-upgrade"
The following tests appear to have failed on master (roachtest): acceptance/version-upgrade

You may want to check [for open issues](https://github.com/cockroachdb/cockroach/issues?q=is%3Aissue+is%3Aopen+version-upgrade).

[#1422875](https://teamcity.cockroachdb.com/viewLog.html?buildId=1422875):

[code]

Please assign, take a look and update the issue accordingly.

[2019-08-05 14:32] cockroach-teamcity commented on #38772
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 14:44] jordanlewis commented on #39317
Can you include the stack trace for the nil pointer?

[2019-08-05 14:52] jordanlewis commented on #39320
Duplicate of #36570

[2019-08-05 14:54] #39320 closed

[2019-08-05 14:54] yuzefovich commented on #39317
The stack trace is:
[code]
For some reason, `builderState.lBatch` is `nil`.

[2019-08-05 14:57] cockroach-teamcity commented on #39262
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 15:03] ajkr commented on #39036
Those are expected. We're not yet able to import data as fast as that test wants.

[2019-08-05 15:08] #39137 closed

[2019-08-05 15:10] tbg commented on #39036
@nvanbenschoten the jepsen failure is https://github.com/cockroachdb/cockroach/issues/30527

I'm relatively sure that https://github.com/cockroachdb/cockroach/issues/38723 will be something silly related to the roachtest rewrite. I believe that we'll sometimes run more than one of these tests on a cluster (sequentially) and that the contained ntp adjustments can leak between tests.

[2019-08-05 15:17] bdarnell commented on #39036
The jepsen failure is benign. It failed with an InterruptedException (which [doesn't fail the build](https://github.com/cockroachdb/cockroach/blob/229796754b7be30b79e90c2a4fc1d25577346d7b/pkg/cmd/roachtest/jepsen.go#L244), then it failed downloading logs. We should probably check the `ignoreError` flag if we fail while building failure-logs.tbz.

[2019-08-05 15:31] #7841 closed

[2019-08-05 15:40] cockroach-teamcity commented on #39011
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]

[2019-08-05 16:13] #38758 closed

[2019-08-05 16:19] Gurio commented on #38661
I would take, if no one else is already on it

[2019-08-05 16:36] #39243 closed

[2019-08-05 17:21] rolandcrosby opened #39326 "Allow separate TLS certificates for SQL-only port"
@knz started the work to split SQL traffic onto a separate port (#39305). Part of the value of splitting this port is that it could enable operators to use a different server certificate for SQL client communication, the same way an arbitrary server certificate can be used for the web UI today. We could also enable a different CA to validate SQL client traffic (for e.g. a Cockroach cluster that us

[2019-08-05 17:27] cockroach-teamcity opened #39327 "roachtest: scrub/all-checks/tpcc/w=100 failed"
SHA: https://github.com/cockroachdb/cockroach/commits/3b9a95bd7eb2cfa6d544fe7217852a85ec3b76f4

Parameters:

To repro, try:

[code]

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=1422703&tab=buildLog

[code]