[2017-04-14 19:34] cockroach-teamcity opened #14941 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestParallel, testrace (proposer evaluated kv)/TestParallel/subquery_retry, testrace (proposer evaluated kv)/TestParallel/subquery_retry_multinode"
The following tests appear to have failed:

[#223032](https://teamcity.cockroachdb.com/viewLog.html?buildId=223032):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-14 19:35] jordanlewis commented on #14940
I think we intended to make `int / int` a non-integer division. This is one of the chief causes for output mismatch in `sqllogictest` for CockroachDB.

I would personally be happy to see `int / int` be changed into integer division, but I'm not sure if it's too late for that.

[2017-04-14 19:38] petermattis commented on #14776
Yes.

[2017-04-14 19:41] mjibson commented on #14940
We do have `//` for int division:

[code]

So maybe we are ok with this? It's still in the camp of "math queries in postgres giving different results in cockroach" though, which makes me :(

[2017-04-14 19:57] petermattis commented on #14776
@danhhz I think this fixes the leak, though I've only run short tests because I don't want to consume too much azure egress bandwidth:

[code]

@danhhz Can you test this change? You'll have to apply the diff to the `etcd/raft` within the `vendor` directory.

Cc @bdarnell

[2017-04-14 20:01] dianasaur323 commented on #13378
moving to 1.1 milestone

[2017-04-14 20:02] jordanlewis commented on #14940
It appears that in this case we went with MySQL compatibility over Postgres, judging by their docs: https://dev.mysql.com/doc/refman/5.7/en/arithmetic-functions.html

I'm not sure why this was done, honestly. I don't think it's a great idea to try to straddle MySQL and Postgres in terms of compatibility - that will just lead to a bad user experience for people as their expectations are met or not

[2017-04-14 20:04] mjibson commented on #14940
We had a big discussion about this long ago in #3308. It's unclear if we need to change our minds because we are now trying to get the ORMs to work correctly.

[2017-04-14 20:07] petermattis commented on #14776
Ugh, that patch breaks one of the `etcd/raft` tests which checks that entries are not modified after being added to `unstable`. I'm not sure yet of raft is depending on those semantics or not. @danhhz It is probably still safe to test that this fixes the leak.

[2017-04-14 20:10] petermattis commented on #14940
I'm a little anxious about targeting exact compatibility with PostgresSQL, though it seems ORMs are pushing us in that direction. Do we have any examples were compatibility at this level is necessary for ORMs?

[2017-04-14 20:13] mjibson commented on #14940
I expect that there's some ORM out there that converts an AST into a query, like C# linq-to-SQL or maybe ruby or something. So you write some expression in your ORM like `db.Select(a from d where b = 1 / 2)` (i.e., the expression stuff isn't a string), and the ORM converts that ruby/C# AST node into a SQL expression. I'm going to dig and see if I can find a concrete example.

[2017-04-14 20:13] dianasaur323 commented on #14772
Should be fixed with https://github.com/cockroachdb/cockroach/issues/13945

[2017-04-14 20:15] dianasaur323 commented on #14940
assigning to @mjibson for now as you investigate. feel free to reassign once we decide what path to take.

[2017-04-14 20:20] petermattis commented on #14940
Possibly, though you'd get different results if you were running against MySQL or PostgresSQL too.

[2017-04-14 20:23] petermattis commented on #14776
https://github.com/coreos/etcd/issues/7746

[2017-04-14 20:27] jordanlewis commented on #14940
I don't think so - ORMs are generally aware of the differences between MySQL and PostgreSQL and create queries correspondingly. Those are the main 2 adapters that exist for most ORMs we've looked at, in fact.

The issue here is that, although we advertise PostgreSQL compatibility, we behave like MySQL. That will lead to incorrect results if an ORM constructs a query expecting `/` to mean integer d

[2017-04-14 20:30] petermattis commented on #14940
I will be very surprised if an ORM actually knows about the difference in division between MySQL and PostgreSQL and constructs different queries. Please surprise me.

[2017-04-14 20:30] mjibson opened #14947 "sql: float -> int conversion should detect overflow"
postgres:

[code]

cockroach:

[code]

[2017-04-14 21:06] asubiotto opened #14948 "distsql: query hang due to blocked stream"
![image](https://cloud.githubusercontent.com/assets/10560359/25056004/34cfb486-2134-11e7-9284-06c93859741d.png)

I've labelled the interesting blocked reads and writes on the execution plan above. I will refer to specific hash joiners as `A` and `B` (as labelled in the execution plan).

The reason why this query hangs is that there are a bunch of blocked writes using the network connection that ar

[2017-04-14 21:16] #14880 closed

[2017-04-14 21:16] #14883 closed

[2017-04-14 21:16] #14885 closed

[2017-04-14 21:16] #14905 closed

[2017-04-14 22:30] cockroach-teamcity opened #14950 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestUnsplittableRange, test/TestConcurrentBatch"
The following tests appear to have failed:

[#223207](https://teamcity.cockroachdb.com/viewLog.html?buildId=223207):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-14 22:59] RaduBerinde commented on #14948
This kind of situation is not limited to joiners. Any ordered synchronizer could stop reading from one of its streams for arbitrary periods of time - especially when all values in one stream are greater than all values in another stream. I'm sure there are other cases. The design of the infrastructure relies on gRPC flow control.

Plumbing flow control messages in our layer constitutes reimplement

[2017-04-14 23:24] nvanbenschoten opened #14953 "sql: reduce planner.Spans size for INSERT with VALUES"
The `roachpb.Spans` reported by `insertNode` for queries like `INSERT INTO t VALUES (...)` should be limited to the spans corresponding only to the values themselves, instead of including keys for the entire table. This would allow parallel statements inserting disjoint values into the same table to operate concurrently. For instance:

[code]

should be considered independent by `spanBasedDependen

[2017-04-14 23:27] nvanbenschoten commented on #10057
I think this can be closed now. A lot of progress has been made on the implementation of https://github.com/cockroachdb/cockroach/pull/13160. `RETURNING NOTHING` syntax is now fully supported inside (https://github.com/cockroachdb/cockroach/pull/14188) and outside (https://github.com/cockroachdb/cockroach/pull/14803) transactions. Course grained data dependency analysis has been added (https://git

[2017-04-14 23:27] #10057 closed

[2017-04-14 23:27] spencerkimball commented on #13879
This was almost certainly fixed by #14789, by relocating the error check in `queryTxnStatus` for whether the txn is already committed or aborted to only apply to the pusher's txn. Obviously it's not an error if the pushee's txn is already committed or aborted. You would have expected to see this only in situations where the system was really lagging, which jibes with these bug report.

@cuongdo pl

[2017-04-14 23:27] #13879 closed

[2017-04-14 23:28] nvanbenschoten commented on #9797
Q3 seems appropriate to me. Thanks @dianasaur323.

[2017-04-15 00:00] nvanbenschoten commented on #14940
The result here is expected, and was very much an active [design decision](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/typing.md#second-pass-constant-folding) of our typing system. Our goal has never been to be 100% compatible with Postgres, and this is an instance where both @knz and I felt strongly that they had made the wrong choice. Unexpected integer division bugs cause all

[2017-04-15 00:12] andreimatei commented on #14948
I'm also not a fan of adding our own flow control on top of the gRPC one, even in limited forms like what you're suggesting for joins (from unordered sources).

Radu, I'm not sure I understand your suggestions. For the first one - are you suggesting we dynamically adjust down a stream window after the stream has started? This would not help if the stream is currently using more window that what yo

[2017-04-15 00:19] petermattis commented on #14948
Thanks for the detailed explanation, @asubiotto. One question: the DistSQL processors push data to their outputs? I imagine it would be a big change to reverse that and have the processors pull data from their inputs. And I'm not sure that would fix the problem, though it seems similar to your idea of having processors notify their inputs of when they are ready for data.

[2017-04-15 03:26] RaduBerinde commented on #14948
Or are you thinking that we'd just give new streams smaller and smaller windows based on the condition of the conn window at the time they start?

The former. Right, streams that already filled their windows will be exceeding the reduced stream window, but that's ok. Here's a simple example, say one where we want to guarantee at least 32kb window for 4 streams:
 - conn window 256k, stream window 6

[2017-04-15 03:42] RaduBerinde commented on #14948
Note: edited the stream example above a bit.

[2017-04-15 04:31] cockroach-teamcity opened #14954 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#223303](https://teamcity.cockroachdb.com/viewLog.html?buildId=223303):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-15 06:34] cockroach-teamcity opened #14955 "sql: TestScatter failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d72d45833a0f17ec420ab93b05c0b1f3b70fb228

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=223366&tab=buildLog

[code]

[2017-04-15 06:38] cockroach-teamcity commented on #14881
SHA: https://github.com/cockroachdb/cockroach/commits/d72d45833a0f17ec420ab93b05c0b1f3b70fb228

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=223379&tab=buildLog

[2017-04-15 07:02] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/d72d45833a0f17ec420ab93b05c0b1f3b70fb228

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=223463&tab=buildLog

[2017-04-15 07:14] cockroach-teamcity opened #14956 "sql: TestParallel failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d72d45833a0f17ec420ab93b05c0b1f3b70fb228

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=223471&tab=buildLog

[code]

[2017-04-15 07:14] cockroach-teamcity opened #14957 "sql: TestParallel/subquery_retry_multinode failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d72d45833a0f17ec420ab93b05c0b1f3b70fb228

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=223471&tab=buildLog

[code]

[2017-04-15 09:02] cockroach-teamcity opened #14958 "rpc: TestLatencies failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d72d45833a0f17ec420ab93b05c0b1f3b70fb228

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=223789&tab=buildLog

[code]

[2017-04-15 12:06] tamird commented on #14954
Cache pollution from #14945.

[2017-04-15 12:06] #14954 closed

[2017-04-15 12:09] tamird commented on #14958
https://github.com/golang/go/issues/19305

[2017-04-15 12:09] #14958 closed

[2017-04-15 18:18] #14630 closed

[2017-04-15 18:34] cockroach-teamcity opened #14960 "teamcity: failed tests on master: test (proposer evaluated kv)/TestUnsplittableRange"
The following tests appear to have failed:

[#224089](https://teamcity.cockroachdb.com/viewLog.html?buildId=224089):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-15 18:44] spencerkimball commented on #10401
I don't believe this should ever be an issue both with changes made around what we're allowed to return due to `AmbiguousResultErrors` and also changes for prop-eval-kv. I'm submitting a change to turn this into a fatal assertion.

[2017-04-15 19:56] #12603 closed

[2017-04-15 21:36] petermattis commented on #14948
@RaduBerinde In case you haven't looked, [this is the code](https://github.com/grpc/grpc-go/blob/master/transport/http2_client.go#L656) which handles the stream and connection windows. Notice the separate calls to `wait` [here](https://github.com/grpc/grpc-go/blob/master/transport/http2_client.go#L663) and [here](https://github.com/grpc/grpc-go/blob/master/transport/http2_client.go#L668). Seems fe

[2017-04-15 21:47] #10401 closed

[2017-04-15 21:50] spencerkimball commented on #12273
Could not reproduce and code has changed considerably.

[2017-04-15 21:50] #12273 closed

[2017-04-15 21:50] #11652 closed

[2017-04-15 22:18] spencerkimball commented on #11613
Unreproducible.

[2017-04-15 22:18] #11613 closed

[2017-04-16 00:35] spencerkimball opened #14964 "Rewrite cli/sql_util.go to use database/sql interface"
Since go1.8 has support for multiple result sets, `cli/sql_util.go` should be rewritten to use `database/sql` directly instead of directly accessing the `database/sql/driver`.

In addition, we should eliminate the duplicative code in `sqlConn.ExecTxn` and use `cockroach-go/crdb` instead.

[2017-04-16 03:23] #14931 closed

[2017-04-16 04:43] aunz opened #14965 "function in unique index [feature request]"
[code]
Would be nice to have, as postgreSQL [supports](https://www.postgresql.org/docs/9.6/static/sql-createindex.html) this

[2017-04-16 05:36] mjibson commented on #14964
I do not think it possible to use `database/sql` until go 1.9. We use the `Result()` and `Tag()` [methods](https://github.com/cockroachdb/cockroach/blob/00185f3df8fc170719a87083632e820891e47264/pkg/cli/sql_util.go#L110) to fetch the tag of any exec'd statements and number of rows affected. This isn't available through the `sql.Rows` type, because it's a struct that doesn't export types, so we can'

[2017-04-16 06:04] ggaaooppeenngg commented on #14887
[code]

@petermattis I set default isolation to SSI, and repeat the trasaction for 2 times, and it prints.

[code]
It seems it is blocked, is this also a issue with underlying connections pool?

I find your tx code, https://github.com/cockroachdb/cockroach-go/blob/master/crdb/tx.go
and I am wondering if the second try of txn needs a retryable error handling, to avoid this block?
Any documents deta

[2017-04-16 06:37] cockroach-teamcity commented on #14881
SHA: https://github.com/cockroachdb/cockroach/commits/00185f3df8fc170719a87083632e820891e47264

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=224283&tab=buildLog

[2017-04-16 07:07] cockroach-teamcity commented on #14955
SHA: https://github.com/cockroachdb/cockroach/commits/00185f3df8fc170719a87083632e820891e47264

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=224375&tab=buildLog

[2017-04-16 07:52] cockroach-teamcity opened #14969 "ccl/sqlccl: TestBackupRestoreSystemJobs failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/00185f3df8fc170719a87083632e820891e47264

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=224442&tab=buildLog

[code]

[2017-04-16 08:02] aunz opened #14970 "Check constraint kills server"
**BUG REPORT**

- What did you do?
[code]
- What did you expect to see?
[code]
- What did you see instead?
[code]
The docker instance was killed and needed to be restarted manually.
After logging in, trying to drop the table
[code]
It got stuck and took ~ 10 mins for the table to be finally dropped.

Host: Windows 10 Pro
Tested on cockroachdb docker beta-20170413-dirty and alpha-18537-g00185f3

Po

[2017-04-16 08:06] cockroach-teamcity commented on #14955
SHA: https://github.com/cockroachdb/cockroach/commits/00185f3df8fc170719a87083632e820891e47264

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=224481&tab=buildLog

[2017-04-16 09:17] cockroach-teamcity commented on #14881
SHA: https://github.com/cockroachdb/cockroach/commits/00185f3df8fc170719a87083632e820891e47264

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=224716&tab=buildLog

[2017-04-16 10:56] tamird commented on #14970
Thanks for the bug report! Can you include your server logs?

[2017-04-16 14:51] a-robinson commented on #14960
#14881

[2017-04-16 14:58] RaduBerinde commented on #14955
I am able to reproduce. It looks like the problem is that sometimes not all stores are in the `StoreList`. Even if we first wait for all stores to be gossiped, after creating the table and splitting sometimes some of the stores just disappear.

I created a simplified test that shows this:
https://github.com/cockroachdb/cockroach/commit/d5af9f592d549fb1d299d94fdde1fcf14de507d1

To repro, checkout t

[2017-04-16 15:03] a-robinson commented on #14778
#14777

[2017-04-16 15:03] #14778 closed

[2017-04-16 15:04] a-robinson commented on #14950
#14881 and #14777

[2017-04-16 15:04] #14950 closed

[2017-04-16 15:05] a-robinson commented on #14777
Not 1.0-worthy, but it's interesting that this has been incredibly slow even when not under stress from time to time.

@petermattis

[2017-04-16 15:13] tamird commented on #14960
Is it worth closing this? TC will keep recreating the issue. If you leave
it open, it will just post comments.

On Apr 16, 2017 10:51 AM, "Alex Robinson" <notifications@github.com> wrote:

[2017-04-16 15:13] tamird commented on #14778
Consider leaving this open to reduce noise.

On Apr 16, 2017 11:03 AM, "Alex Robinson" <notifications@github.com> wrote:

[2017-04-16 15:24] a-robinson commented on #14778
Non-stress failures on master don't get the comment treatment (https://github.com/cockroachdb/cockroach/issues/14184), hence why this wasn't just a comment on #14777 in the first place.

[2017-04-16 16:52] tamird commented on #14778
Ah, right.

On Apr 16, 2017 11:24, "Alex Robinson" <notifications@github.com> wrote:

[2017-04-16 19:40] #8775 closed

[2017-04-16 20:50] a-robinson commented on #14881
When this is getting stuck, it's getting stuck because the MVCC stats `Total` bytes aren't being properly accounted to the range that contains the key. In a few different failures, I've seen the bytes accounted for by both the `s1,r1/1:/{Min-System/}` range and the `s1,r2/1:/System/{-tsd}` range, neither of which is correct given that the key should be falling under `/Table/14`. It happens about 1

[2017-04-16 21:47] cockroach-teamcity opened #14976 "teamcity: failed tests on master: testrace/TestUnsplittableRange"
The following tests appear to have failed:

[#225036](https://teamcity.cockroachdb.com/viewLog.html?buildId=225036):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 00:43] petermattis commented on #14777
I have never seen this fail outside of the test machines (or Windows machines). My suspicion is that there is something else going on either with the test machine or test environment.

[2017-04-17 00:49] a-robinson commented on #14881
And #14974 doesn't fix it, for what it's worth.

[2017-04-17 00:50] a-robinson commented on #14976
#14881

[2017-04-17 00:50] #14976 closed

[2017-04-17 01:47] aunz commented on #14970
Here are the 2 logs that I found from a brand new docker instance:
[code]

Another one
[code]

[2017-04-17 01:49] cockroach-teamcity opened #14978 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestParallel/subquery_retry, testrace (proposer evaluated kv)/TestParallel, testrace (proposer evaluated kv)/TestParallel/subquery_retry_multinode"
The following tests appear to have failed:

[#225093](https://teamcity.cockroachdb.com/viewLog.html?buildId=225093):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 03:36] bdarnell commented on #14948
True, although the same could be said for HTTP/2's flow control being implemented on top of TCP.

In the short term, I think raising the connection-level limit relative to the stream-level limit is the way to go. In the longer term, we could look at adjusting the stream-level limits based on the number of open streams.

[2017-04-17 03:57] benesch commented on #14296
(Ping for tomorrow morning.)

[2017-04-17 06:29] #14839 closed

[2017-04-17 06:46] cockroach-teamcity commented on #14881
SHA: https://github.com/cockroachdb/cockroach/commits/96bfa7963c3087e9194836a8eeb805e95c89ca49

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=225198&tab=buildLog

[2017-04-17 06:54] cockroach-teamcity opened #14979 "teamcity: failed tests on master: testrace/TestParallel/subquery_retry, testrace/TestParallel/subquery_retry_multinode, testrace/TestParallel"
The following tests appear to have failed:

[#225842](https://teamcity.cockroachdb.com/viewLog.html?buildId=225842):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 07:20] cockroach-teamcity commented on #14881
SHA: https://github.com/cockroachdb/cockroach/commits/96bfa7963c3087e9194836a8eeb805e95c89ca49

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=225305&tab=buildLog

[2017-04-17 07:23] cockroach-teamcity commented on #14955
SHA: https://github.com/cockroachdb/cockroach/commits/96bfa7963c3087e9194836a8eeb805e95c89ca49

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=225292&tab=buildLog

[2017-04-17 07:42] cockroach-teamcity commented on #14969
SHA: https://github.com/cockroachdb/cockroach/commits/96bfa7963c3087e9194836a8eeb805e95c89ca49

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=225360&tab=buildLog

[2017-04-17 08:55] cockroach-teamcity opened #14981 "storage: TestStoreRangeGossipOnSplits failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/96bfa7963c3087e9194836a8eeb805e95c89ca49

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=225522&tab=buildLog

[code]

[2017-04-17 10:52] tamird commented on #14777
FWIW, it also fails reliably (in test environments, not locally) if RocksDB
is compiled without -O2.

On Sun, Apr 16, 2017 at 8:43 PM, Peter Mattis <notifications@github.com>
wrote:

[2017-04-17 11:15] knz commented on #8730
This has been addressed by my recent logging changes; we should now expect panic messages more clearly available in CI.

[2017-04-17 11:15] #8730 closed

[2017-04-17 11:34] knz commented on #14940
So what about we make a little reality check here. We are talking about expressions using literal constants, not placeholders or columns. What automatically-generated code do you know produces a sub-expression with only literals? Why would a framework or ORM produce and send the string "1/2" to a server instead of "0.5"? Think about it:

- either the value comes from the framework itself, in which

[2017-04-17 11:53] knz commented on #14947
Conceptually I am not completely sure about this.
On the one hand from an arithmetic perspective you're right, but this exclusive focus on correctness omits two aspects:

1) people who use a floating-point, approximate data type should know (and we can teach them) to expect iffy situations at the boundaries of the range of representable values. For example in C, the kind of conversions you're conc

[2017-04-17 11:57] knz commented on #14947
(And assuming pg does indeed make the best choice, then at least copy-paste the motivation from pg's docs and/or the corresponding commit message in pg's source code history or source code comments)

[2017-04-17 12:13] knz commented on #14817
It seems to me that because +/- 2^63 has 19 digits that we should have used at least 19 from the beginning -- the fact the default was 16 sounds like a bug. I'd be ok with 20, of course.

(I would suggest to clarify the issue description -- because you use an explicit cast on the large operand, the cast remains and the entire expression is typed as decimal; there is no int/int operation anywhere,

[2017-04-17 12:20] knz commented on #9722
What we do is strictly better than the SQL spec and my initial suggestion would introduce possible silent breakage, so indeed it was not a good issue. Closing this.

[2017-04-17 12:20] #9722 closed

[2017-04-17 12:47] nvanbenschoten commented on #14947
I think both of @knz's arguments are valid and deserve discussion. In particular, this issue could be resolved without the added overhead (the intermediate cast to a decimal) if we're willing to compromise on correctness in an edge case. The issue and PR discuss why the intermediate cast is necessary if we want to be strictly correct, but nowhere is it made clear whether PG would actually detect t

[2017-04-17 12:58] #14413 closed

[2017-04-17 13:00] eisenstatdavid commented on #14817
I think that's fine.

[2017-04-17 13:16] spencerkimball commented on #14941
Duplicate of #14911.

[2017-04-17 13:16] #14941 closed

[2017-04-17 13:16] spencerkimball commented on #14978
Duplicate of #14911.

[2017-04-17 13:16] #14978 closed

[2017-04-17 13:17] spencerkimball commented on #14979
Duplicate of #14911.

[2017-04-17 13:17] #14979 closed

[2017-04-17 13:48] jordanlewis commented on #14965
Thanks for the suggestion! This feature is known as computed indexes, which we're tracking in issue #9682 already. I'm closing this as a duplicate.

[2017-04-17 13:48] #14965 closed

[2017-04-17 13:50] 450606975 commented on #14269
Do you mean you hope  more information can be found in the panic and fatal log , for explame the source file and code where the error occur  ?    I  find there are 2049  points need to be changed about  fatal log . it really looks like a large job.  Has  this problem  been solved ?

[2017-04-17 14:13] spencerkimball opened #14983 "testing: add Index to `test.kv` table in prod cluster"
To test online schema change, we should verify we can add an index to the value column in the `test.kv` schema, which is running across most of the prod clusters. Just choose one without chaos and verify you can add this index and drop it after it's been added.

Then we should probably do the same thing on the blue cluster, which has chaos running.

[2017-04-17 14:22] RaduBerinde commented on #14948
Right, but that was necessary because TCP lacked something fundamental to HTTP/2 (multi stream support). In our case we don't need something fundamentally new above what gRPC does, we just need to tweak the mechanics.

@petermattis I believe the heart of the logic is actually on the receiver side, which decides when to send window update messages ([onRead](https://github.com/grpc/grpc-go/blob/b2fa

[2017-04-17 14:29] a-robinson commented on #14948
Increasing the stream window was to improve snapshot performance on high-latency links. 64k was way too small for situations where one node is far away from the other two (#13687). I don't know that there was any strong reasoning for making it equal to the conn window.

[2017-04-17 14:29] petermattis commented on #14948
A 64KB stream window size combined with 60ms latencies (as seen on `indigo`) translates into ~1MB/sec which was causing snapshots to take too long to send.

[2017-04-17 14:35] danhhz commented on #14296
I really do think row counts would be nice. For restore, we're going to have to parse out the interleaved tables anyway to fix https://github.com/cockroachdb/cockroach/issues/14856. On the other hand, if we added it to RESTORE, we would also likely want it in BACKUP to match. And I'm more concerned about the extra parsing there since we want that to be as light as possible.

Tables also would be n

[2017-04-17 14:42] benesch commented on #14296
One benefit of returning the job ID is that it's dead simple to attach more information via a new view in `crdb_internal`:

    SELECT name, schema FROM crdb_internal.job_affected_tables WHERE job_id = $1

What's your expected use case for number of rows? Can we expose a cheaper-to-compute metric instead?

[2017-04-17 14:46] mberhault opened #14985 "security: determine good certificate lifetime defaults"
CC: @a-robinson, @bdarnell

We need to figure out what our default should be for certificates.
With #14703, the CA cert defaults to 5 years, the server and client certs to 1 year.

These specific values we picked to:
* avoid having both CA certs and dependent certificates expire at the same time
* make lifetime limited, but not incredibly short-lived

On the con side, one year still comes pretty q

[2017-04-17 14:52] danhhz commented on #14296
Good call, we already have this info denormalized into the jobs table. Let's skip including affected tables

To match UPDATE/INSERT/DELETE which return the number of rows affected (if you don't specify a RETURNING clause)

[2017-04-17 15:03] RaduBerinde commented on #14948
I see. Yeah for high bandwidth*delay connections we need big window sizes. But this is problematic if we want to make the connection window a multiple of the stream window. `2MB * num_streams * hum_hosts` can add up to a lot of memory.

[2017-04-17 15:07] a-robinson commented on #14269
The source file and line number are already included in all of our log statements. This is more referring to peripheral information about the cause of the failure, as in the example in my initial comment. In that case, we were only logging the placeholder that didn't match our expectations, when we would have benefited greatly from also logging the object that we expected to see.

The motivation i

[2017-04-17 15:11] petermattis commented on #14948
Yes it can. The current approach must be seen as a temporary bandaid.

[2017-04-17 15:11] #14970 closed

[2017-04-17 15:16] danhhz commented on #14776
@petermattis I tried this on lapis and on all nodes got
[code]

[2017-04-17 15:18] petermattis commented on #14776
How long did that take to occur?

[2017-04-17 15:18] danhhz commented on #14776
Immediately

[2017-04-17 15:19] petermattis commented on #14776
And this is from a clean cluster? I ran with that patch several times for minutes without problems.

[2017-04-17 15:26] danhhz commented on #14776
Ah, I did not wipe it. I'll try that

[2017-04-17 15:27] BramGruneir commented on #10275
Most of this issue is complete and only contains some cleanup or new tools that's not relevant for 1.0

[2017-04-17 15:28] petermattis commented on #14776
That error shouldn't occur, though.

[2017-04-17 15:30] danhhz commented on #14776
Just repro'd with a wiped cluster

[2017-04-17 15:41] petermattis commented on #14776
I'm on a plane right now and won't be able to look at this until later. Might want to get @bdarnell to take a look.

[2017-04-17 15:52] a-robinson commented on #14881
So there's a bad interleaving here between the Put and the splits that are happening due to the new system boundaries from #14740.

The Put is getting evaluated/applied by range A while range A is being split to create range B. The key being Put belongs in range B after the split. It essentially looks like:

1. The split trigger on A executes, computing range B's stats and the delta to apply to ra

[2017-04-17 16:41] mytototo opened #14988 "sql: use Vault with CockroachDB"
Hi,

I use [Vault](https://www.vaultproject.io/) for almost all of my projects. I have 2 questions regarding using both Vault and CockroachDB in tandem.

1. Is it possible to use CockroachDB as data storage for Vault?
2. Is it possible to link CockroachDB users with Vault users for secret backends?

Thanks.

[2017-04-17 16:49] bdarnell commented on #14887
Just like `SET DATABASE`, `SET DEFAULT_TRANSACTION_ISOLATION` is a session-level variable, but there is no guarantee in Go's `database/sql` package that you'll be running in the same session when you execute your transaction. You need to run `SET TRANSACTION ISOLATION SNAPSHOT` as the first statement of the transaction itself. (or use `BeginTx(context.Background(), sql.TxOptions{Isolation: sql.Lev

[2017-04-17 17:12] a-robinson opened #14990 "storage: use sensible zone configs for critical system and time series ranges"
While it makes sense for small clusters, our current default zone configuration that only creates 3 replicas of all data by default is somewhat risky for large clusters, where it may be preferable to keep more than 3 replicas of critical system ranges.

This can be addressed via documentation for 1.0 (https://github.com/cockroachdb/docs/issues/1280, https://github.com/cockroachdb/docs/issues/1248)

[2017-04-17 17:18] a-robinson commented on #12409
Haven't seen this since February. Going to close for now unless it comes up again.

[2017-04-17 17:18] #12409 closed

[2017-04-17 17:19] a-robinson commented on #13508
Haven't seen this since February. Going to close for now unless it comes up again.

[2017-04-17 17:19] #13508 closed

[2017-04-17 17:19] a-robinson commented on #12409
For what it's worth, #13676 may have been the fix.

[2017-04-17 17:21] a-robinson commented on #12373
Haven't seen since January.

[2017-04-17 17:21] #12373 closed

[2017-04-17 17:26] a-robinson commented on #14023
This was most likely an issue with heartbeat connection timeouts that has long since been fixed.

[2017-04-17 17:26] #14023 closed

[2017-04-17 17:28] a-robinson commented on #14058
These logs are long gone so there isn't much to go on at this point. Closing.

[2017-04-17 17:28] #14058 closed

[2017-04-17 17:28] a-robinson commented on #14079
#14057

[2017-04-17 17:28] #14079 closed

[2017-04-17 17:30] a-robinson commented on #14057
#12943

[2017-04-17 17:30] #14057 closed

[2017-04-17 17:31] a-robinson commented on #14062
Fixed by https://github.com/cockroachdb/cockroach/pull/14111

[2017-04-17 17:31] #14062 closed

[2017-04-17 17:55] danhhz commented on #14776
This even repros for me on the sqlccl tests. I've checked very carefully that I applied your patch correctly and it looks okay. Not really sure where to look from here

[2017-04-17 18:10] bdarnell commented on #14881
This is my mistake when I made every command not depend on the range descriptor. I meant to change splits to get a write lock on the entire range as a part of that PR but forgot.

[2017-04-17 18:19] RaduBerinde commented on #14948
Another option would be to start with a small (64k) stream window and increase it as we receive data. That would allow streams that transfer data to have a large window while streams that are blocked from the beginning have a small window. The change would be along the lines of [this](https://github.com/RaduBerinde/grpc-go/commit/9c425c6cc20e8fece5432c91ff4d3095a8d57221) (untested).

[2017-04-17 18:37] cockroach-teamcity opened #14993 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#226197](https://teamcity.cockroachdb.com/viewLog.html?buildId=226197):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 18:40] tamird commented on #14993
Not sure what the root cause here is.

[code]

Let's see if it comes back.

[2017-04-17 18:42] jordanlewis commented on #14993
It repros on my machine - merge skew of some kind?

[2017-04-17 18:48] tamird commented on #14993
Ah, could be.

[2017-04-17 18:50] knz commented on #10083
I can look into it. It is certainly easier now than it was three months ago, but I need to check relative to other work items.

Unless we have a very strong need I would simply push it to 1.1 straight away. Our list of strong 1.0 is already large.

[2017-04-17 18:55] tamird commented on #14993
Looks like it's caused by https://github.com/cockroachdb/cockroach/pull/14925. @mberhault

[2017-04-17 18:56] cockroach-teamcity opened #14994 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#226228](https://teamcity.cockroachdb.com/viewLog.html?buildId=226228):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 19:00] jordanlewis commented on #14994
#14993

[2017-04-17 19:00] #14994 closed

[2017-04-17 19:11] mjibson commented on #14817
The 16 was there because that's what our previous decimal package used, and I thought that's what postgres used. However, in postgres:

[code]

Which is 20 decimals of `3`s, so I think switching to 20 globally is safe. I'll make this change.

[2017-04-17 19:12] tamird commented on #14993
Nope, it's actually my fault.

[2017-04-17 19:16] #14881 closed

[2017-04-17 19:22] a-robinson commented on #14776
This also trivially repros for me. I'll check into it on the assumption that @bdarnell hasn't gotten around to it yet.

[2017-04-17 19:28] cockroach-teamcity opened #14997 "teamcity: failed tests on master: check/TestStyle, check/TestStyle/TestVet"
The following tests appear to have failed:

[#226255](https://teamcity.cockroachdb.com/viewLog.html?buildId=226255):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 19:30] #12590 closed

[2017-04-17 19:30] #12890 closed

[2017-04-17 19:30] jordanlewis commented on #14997
#14996 related?

[2017-04-17 19:38] cockroach-teamcity opened #14999 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#226277](https://teamcity.cockroachdb.com/viewLog.html?buildId=226277):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 19:39] tamird commented on #14999
#14993.

[2017-04-17 19:39] #14999 closed

[2017-04-17 19:42] petermattis commented on #14776
Does it repro without my patch to `etcd/raft`? That seemed so innocuous. But it would be great to know that it is, in fact, unsafe to mutate the entries in `unstable` after they are committed.

[2017-04-17 19:42] cockroach-teamcity opened #15000 "teamcity: failed tests on master: check/TestStyle, check/TestStyle/TestVet"
The following tests appear to have failed:

[#226314](https://teamcity.cockroachdb.com/viewLog.html?buildId=226314):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 19:44] petermattis commented on #14948
The gRPC-go folks are promising to have dynamic window sizing this quarter. But yeah, doing something like starting at 64K and doubling up to some max would be a better bandaid than what we have now. Question is whether we need to apply it right now.

[2017-04-17 19:44] danhhz commented on #14776
Yes, applying that patch immediately causes lapis and at least one of the sqlccl tests to panic. Is there any chance you were testing it locally with a 1 node cluster? The panic stacktrace is in `stepFollower`

[2017-04-17 19:46] tamird commented on #15000
#14997

[2017-04-17 19:46] #15000 closed

[2017-04-17 19:46] a-robinson commented on #14776
It does not panic without the patch. It panics with the patch.

[2017-04-17 19:47] petermattis commented on #14776
There is a 100% chance I was doing that.

[2017-04-17 19:47] dt commented on #14219
@a6802739 feel free! I think we'll want to
a) extend the grammar with `SHOW BACKUP path/to/backup`
b) add a planHook like the Backup and Restore hooks
c) use `loadBackupDescs` in `ccl/sqlccl` to load up the backup info proto and read fields from it to make some rows

What exactly goes in those rows i'm not exactly sure... maybe we start with `table`, `time`, `incremental` with `tableName`,  `endTi

[2017-04-17 19:59] cockroach-teamcity opened #15002 "teamcity: failed tests on master: check/TestStyle, check/TestStyle/TestVet"
The following tests appear to have failed:

[#226376](https://teamcity.cockroachdb.com/viewLog.html?buildId=226376):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 20:01] #14993 closed

[2017-04-17 20:01] #14997 closed

[2017-04-17 20:01] tamird commented on #15002
#14997.

[2017-04-17 20:01] #15002 closed

[2017-04-17 20:04] andreimatei commented on #13211
I think probably the "RetryableTxnError being converted back to pErr" doesn't happen any more after we've changed how errors are marshalled over the wire in DistSQL, so I'll close this.

I'm not working on correct handling of retryable errors though - #14504.

[2017-04-17 20:04] #13211 closed

[2017-04-17 20:13] cockroach-teamcity opened #15003 "storage: Lease owned by replica that no longer exists"
The following tests appear to have failed:

[#226401](https://teamcity.cockroachdb.com/viewLog.html?buildId=226401):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-17 20:24] a-robinson commented on #14776
If I had to make a guess at exactly what's going on here, it's that clearing out the entries' index fields is messing with the logic in `(*Replica).append` for determining what the last index persisted to storage was.

Even if that's not the exact issue, it looks like we need to avoid modifying entries that can be passed back to the application. It's pretty clearly unsafe.

[2017-04-17 20:32] jordanlewis commented on #15003
cc @RaduBerinde for triage

[2017-04-17 20:35] a-robinson commented on #14776
@danhhz, want to try out this diff?

[code]

[2017-04-17 20:44] a-robinson commented on #13722
This is still pretty abysmal, even after a build including #14939 was pushed. Our end user tail latency is bound to be terrible if our heartbeat tail latency is terrible. Picking this back up again.

[2017-04-17 20:46] gitanuj commented on #13937
@andreimatei Sorry for the delay. I've been travelling lately. I don't have access to machines for now but I can list down the detailed steps.

I came across this bug when working on a school project. May be you can use the same set of scripts to reproduce this. I used a cluster of 3 cloud machines for cockroachdb and 1 cloud machine for generating client requests using ycsb. The coordinating scri

[2017-04-17 20:56] jordanlewis opened #15005 "sql: enable changing the current user of a session with SET ROLE"
Add support for the [`SET ROLE`](https://www.postgresql.org/docs/13/static/sql-set-role.html) command and variants from PostgreSQL. This command sets or resets the user for the current session.

This should also support `SET LOCAL ROLE`, which changes the role just for the current transaction. This is related to, but not dependent on `SET LOCAL` for session variables: #32562

At least one client,

[2017-04-17 21:00] bdarnell commented on #14940
Some frameworks don't support proper prepared statements and do parameter substitution on the client side (this is partly because mysql has historically had poor support for prepared statements, and partly because if the statement will not be reused it's often faster to do it this way than to do a prepare/execute/deallocate sequence). This could result in a SQL statement containing only literals e

[2017-04-17 21:06] bdarnell commented on #14988
1. It might work with [Vault's postgres backend](https://www.vaultproject.io/docs/secrets/postgresql/), but I don't know if anyone has tried this.
2. Not at this time, although it's also been discussed in #14012.

[2017-04-17 21:14] bdarnell commented on #15005
It looks like flyway only requires [RESET ROLE](https://github.com/flyway/flyway/blob/053ad59be339a565a1e9ecbfaa6b9d3e0678a7d9/flyway-core/src/main/java/org/flywaydb/core/internal/dbsupport/postgresql/PostgreSQLDbSupport.java#L90), which is a trivial noop if we don't support SET ROLE.

[2017-04-17 21:15] jordanlewis opened #15006 "sql: support quote_ident builtin"
Add support for the [`quote_ident`](https://www.postgresql.org/docs/9.6/static/functions-string.html) builtin, which

This should be fairly straightforward, as we already have internal formatters that do this same work properly in `parser/format.go`.

This is used by at least one ORM-like tool, FlywayDB.

[2017-04-17 21:18] jordanlewis commented on #3288
This is also required for FlywayDB.

[2017-04-17 21:21] danhhz commented on #14776
@a-robinson (after some unrelated setbacks) testing your patch now. very early, seems okay, but it needs to run for a while before I can say for sure

[2017-04-17 21:25] #14606 closed

[2017-04-17 21:30] #14929 closed

[2017-04-17 21:30] #14930 closed

[2017-04-17 21:38] danhhz commented on #14776
Yeah this looks pretty good with alex's patch ![image](https://cloud.githubusercontent.com/assets/52528/25105866/9be82074-2394-11e7-9e8d-65d75212f96a.png)

[2017-04-17 21:50] bdarnell commented on #14776
But `Replica.append` is called before `RawNode.Advance`, which is what calls `unstable.stableTo`. I'm not seeing anything that holds pointers to this array across that call to `Advance` (the `raftEntryCache` copies the `Entry` structs), so it seems like it should have been fine with @petermattis's patch. It's definitely safer to allocate a new buffer each time, though. Even though I can't tell why

[2017-04-17 21:57] RaduBerinde commented on #15003
It is probably due to the interaction between a queue and the scatter operation. I should set the cluster up in `ReplicationManual` mode for the test. But I am not sure if conflicting operations should always be failed gracefully or the panic is expected (in which case we need to add a synchronization mechanism). This is a potential issue for production use of scatter (for restore) @danhhz @bdarne

[2017-04-17 22:00] bdarnell commented on #14776
Aha! Entry slices from `unstable` can also be written into `raftpb.Message.Entries`, and these are sent asynchronously. So it's possible that we send out garbage messages in some cases with @petermattis's patch. Let's get @a-robinson's patch submitted upstream.

[2017-04-17 22:03] petermattis commented on #14776
Oy, vey! Always copying doesn't seem good for performance. I wonder if we can set `u.entries = nil` when `len(u.entries) == 0`.

[2017-04-17 22:03] a-robinson commented on #14776
Will do. I was just running some of our benchmarks before sending it out.

[2017-04-17 22:06] petermattis opened #15007 "sql: event log is broken"
Run cockroach with tracing and the event log enabled:

[code]

Add some load:

[code]

I would expect to see the SQL statements being added to the SQL event log at `/debug/events`. Instead, I only see a handful of entries:

[code]

Despite the continuing load, the above is all that is ever added to the event log. If I log directly to `Session.context` everything is ok. But logging to `Session.Ctx(

[2017-04-17 22:07] petermattis commented on #15007
Low priority, except I was going to try to demonstrate this to a user tomorrow.

[2017-04-17 22:08] bdarnell commented on #14776
A busy range may never get to `len(u.entries) == 0`. I think we might need to be able to discard old entries even while the list is not empty (i.e. a check of len() vs cap() like I suggested in https://github.com/coreos/etcd/issues/7746#issuecomment-294366884)

[2017-04-17 22:28] RaduBerinde commented on #15007
Things go to an embedded event log only if there is no span in the context. What may have changed is that in sql we were probably not opening a span and now we do.

It's easy to change things so that everything goes both to the span and the event log, but that is not desirable for the queue event logs. We probably want a `mode` which we can store in `ctxEventLog`.

[2017-04-17 22:49] bdarnell commented on #15003
See #13469 and the review thread it links to. We can't force this node to give up its lease when it gets into this state. We need to prevent non-members from acquiring the lease in the first place (and/or not allow the current leaseholder to be removed from the range), so I think that means more synchronization between the scatter code and the replication queue.

[2017-04-17 23:02] #14878 closed

[2017-04-17 23:04] andreimatei opened #15012 "sql: `SAVEPOINT cockroach_restart` can be erroneously called after having run other SQL statements when using DistSQL"
We enforce that SAVEPOINT is the first statement in a txn (or in a retry of a txn) by looking at `client.Txn.CommandCount()`. If the previous statements used `DistSQL`, that `CommandCount` is not necessarily updated.
We should get rid of `CommandCount` and track the status of the txn exclusively at the sql level.

[2017-04-17 23:10] andreimatei opened #15013 "distsql: ObservedTimestamps are not marshalled back to the gateway"
The timestamps observed by `TableReaders` and such on remote nodes are not marshalled backed to the gateway. In the non-distsql world, this happens through `Transaction.Update`, which uses updated protos from all the `BatchResponse`s.

The consequence is that a transaction can be starved by continuous writers because there's no longer a bound on its uncertainty interval.

[2017-04-18 00:30] petermattis commented on #15007
Yeah, I saw that as I was filing the bug. But strange that a few statements go to the event log and then nothing.

The queues do not have event logs anymore.

[2017-04-18 00:49] petermattis commented on #14776
@bdarnell Your proposal on coreos/etcd#7746 is fine by me. Upstream has been silently. Is there someone we should ping directly? Or will sending a PR spur some action?

[2017-04-18 01:15] RaduBerinde commented on #15007
Ah, good to know. There is still the gossip event log, not sure if changing that to log everything is ok?

[2017-04-18 01:28] petermattis commented on #15007
I doubt anyone uses the gossip event log.

Do you mind sending the diff to enable output to both spans and the event
log? I can patch it in locally for demo purposes.

On Mon, Apr 17, 2017 at 6:15 PM RaduBerinde <notifications@github.com>
wrote:

[2017-04-18 01:30] RaduBerinde commented on #15007
I was working on a change that adds an inclusive/exclusive flag. But I'm having second thoughts.. This would mean that ALL events (everything that we see in lightstep) would make it to the event log.

[2017-04-18 01:39] petermattis commented on #15007
They'd make it to the event log if they are output on the SQL session context. That doesn't seem bad, but I may change my mind when I see the actual result.

[2017-04-18 01:40] petermattis commented on #15007
Perhaps we should be manually deciding what goes to the event log. I'm primarily interesting in seeing the queries that are executed on a session and their results.

[2017-04-18 01:44] bdarnell commented on #14776
Send a PR and assign it to xiang90

[2017-04-18 01:53] RaduBerinde commented on #15007
The transaction's context is derived from the session context, so all contexts below would all have the event log.

[2017-04-18 01:58] petermattis commented on #15007
Hmm, ok. I guess my point still stands that I'm primarily interested in seeing the queries that are executed on a session (and their results) in the event log. Perhaps we shouldn't be trying to unify them with tracing. Or perhaps we give up on /debug/events entirely and try to add a dedicated log for SQL statements.

[2017-04-18 02:04] RaduBerinde commented on #15007
This is the change I was working on, I am hitting an issue connecting to the debug endpoint so I can't test it right now: https://github.com/RaduBerinde/cockroach/commit/14f7943287e443aef61d314ec9ad9bc402cd386d

But yeah I think probably doing something different for that special case would make more sense - perhaps log to both `session.Ctx()` and `session.context` if they are different.

[2017-04-18 02:26] #14895 closed

[2017-04-18 03:07] ggaaooppeenngg commented on #14887
Thx!

I use db and tx as two concurrent access of data since there are two sessions even in serialized loop.

I tried `tx, err := db.BeginTx(context.Background(), &sql.TxOptions{Isolation: sql.LevelSnapshot})`, it says `isolation levels not supported`, maybe my version is out of date.

When I set `SET TRANSACTION ISOLATION LEVEL SNAPSHOT` before tx starts, it works as db sees a consistent view of

[2017-04-18 03:07] #14887 closed

[2017-04-18 03:29] a-robinson commented on #14776
https://github.com/coreos/etcd/pull/7758

Although I went with `cap(u.entries) > 4*len(u.entries)` to try and reduce the number of allocations on busy raft groups. When things settle down, the array will always be cleared out when the number of entries drops to 0.

[2017-04-18 04:16] a-robinson commented on #14776
The change in the PR handled the restore workload fine. What benchmark(s) would you recommend trying?

[2017-04-18 06:29] cockroach-teamcity opened #15020 "internal/client: TestLeasesMultipleClients failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/e84992d28e1ae2554ea3bb9635f8b40c6c3dc3c7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=226855&tab=buildLog

[code]

[2017-04-18 06:37] cockroach-teamcity commented on #14955
SHA: https://github.com/cockroachdb/cockroach/commits/e84992d28e1ae2554ea3bb9635f8b40c6c3dc3c7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=226869&tab=buildLog

[2017-04-18 07:32] cockroach-teamcity opened #15022 "base: TestClientSSLSettings failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/e84992d28e1ae2554ea3bb9635f8b40c6c3dc3c7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227035&tab=buildLog

[code]

[2017-04-18 07:36] cockroach-teamcity opened #15023 "ccl/sqlccl: TestBackupAsOfSystemTime failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/e84992d28e1ae2554ea3bb9635f8b40c6c3dc3c7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227040&tab=buildLog

[code]

[2017-04-18 07:57] cockroach-teamcity commented on #14955
SHA: https://github.com/cockroachdb/cockroach/commits/e84992d28e1ae2554ea3bb9635f8b40c6c3dc3c7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227079&tab=buildLog

[2017-04-18 09:06] ggaaooppeenngg commented on #5196
I am not sure if it's worth mentioning it, I am using cockroach as a key value storage, and writes a package to wrap SQL as a kv client.

https://godoc.org/github.com/ggaaooppeenngg/crkv

[2017-04-18 09:09] mattiasmak opened #15026 "sql: ALTER TABLE kills cluster"
[code]

I Altered a table with:
`ALTER TABLE raw_visits ADD COLUMN max_duration INT NULL;`

Then after a few minutes of working on the query the nodes starts to die one after another. And I can't start any of the nodes again.

cockroach start --background --ca-cert=certs/ca.cert --cert=certs/DB1.cert --key=certs/DB1.key --advertise-host=10.135.68.54 --logtostderr

After a while it ends with:

[cod

[2017-04-18 09:39] mberhault opened #15027 "security: certificate details and monitoring"
As a follow up to #1674, and part of https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/certificate_rotation.md, we need the following;
* debug page showing certificate details (filenames, expiration date, etc..)
* extract and monitor expiration dates for CA and node certificates.

[2017-04-18 09:43] mberhault opened #15028 "security: add other methods to trigger certificate reload."
#1674 introduces online certificate reload, with refreshes triggered by `SIGHUP`.
However, this does not work on Windows.

We should add additional ways of triggering certificate reload:
* admin UI endpoint
* cli command
* maybe periodic refresh based on cert expiration

[2017-04-18 09:45] mberhault commented on #1674
This is merged.

A few issues remain but can mostly be addressed later.
#14985: figure out cert lifetimes
#15027: certs debug page and monitoring
#15028: other methods to trigger certificate reload

[2017-04-18 09:45] #1674 closed

[2017-04-18 11:42] xiang90 commented on #14776
sorry. i was in China for the last few days. so i did not really check github frequently enough. i already reviewed the pr from @a-robinson. :)

[2017-04-18 12:21] vivekmenezes commented on #15026
Thanks for reporting this issue.

What is the size of this cluster? Is it a single node cluster?

Can you send us the output of:

```SHOW CREATE TABLE raw_visits```

[2017-04-18 12:40] #14817 closed

[2017-04-18 12:50] #13784 closed

[2017-04-18 12:50] #14911 closed

[2017-04-18 13:02] cockroach-teamcity opened #15031 "teamcity: failed tests on master: testrace/TestParallel, testrace/TestParallel/subquery_retry_multinode, testrace/TestParallel/subquery_retry"
The following tests appear to have failed:

[#227185](https://teamcity.cockroachdb.com/viewLog.html?buildId=227185):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-18 13:30] cockroach-teamcity opened #15032 "teamcity: failed tests on master: testrace/TestScatter"
The following tests appear to have failed:

[#227229](https://teamcity.cockroachdb.com/viewLog.html?buildId=227229):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-18 13:53] mattiasmak commented on #15026
3 nodes.  44.826 rows (Much less than I expected)

[code]

[2017-04-18 14:00] dianasaur323 commented on #10083
@knz let's move out.

[2017-04-18 14:03] a-robinson commented on #15027
We probably actually want this info in the admin UI, not just a debug page.

[2017-04-18 14:04] a-robinson commented on #10083
Agreed - features should already be frozen and this isn't of critical major importance.

[2017-04-18 14:22] tamird commented on #15022
https://github.com/golang/go/issues/19305

[2017-04-18 14:22] #15022 closed

[2017-04-18 14:28] dianasaur323 commented on #13655
@andreimatei is this something we care about finishing in 1.0? If so, we should move the milestone over so that we don't let it slip through the cracks.

[2017-04-18 14:29] #15007 closed

[2017-04-18 14:29] dianasaur323 commented on #13798
moving to later to match the referenced issue #8792

[2017-04-18 14:32] dianasaur323 commented on #13913
@mjibson thoughts on milestone? Should we try to finish this by Q2 2017?

[2017-04-18 14:32] dianasaur323 commented on #13821
@andreimatei I also need your thoughts on timing for this issue. I'm trying to close out old issues that were marked with a Q1 2017 milestone in case some should be done by 1.0.

[2017-04-18 14:33] dianasaur323 commented on #13810
@bdarnell is this still an issue, and if so, should we move it into the 1.0 milestone?

[2017-04-18 14:34] a-robinson commented on #15032
#15003

[2017-04-18 14:34] #15032 closed

[2017-04-18 14:36] a-robinson commented on #15020
bad clocks caused node suicide

[2017-04-18 14:36] #15020 closed

[2017-04-18 14:36] dianasaur323 commented on #13749
Since we are actually exposing some of the /debug pages when we discuss troubleshooting with users, I think we can slate some clean up to occur in the 1.1 timeframe. Moving.

[2017-04-18 14:38] dianasaur323 commented on #13433
@spencerkimball this doesn't sound like it needs to be done immediately - moving to 1.1 unless you want to finish by 1.0.

[2017-04-18 14:41] a-robinson opened #15034 "teamcity: Post failures as comments on existing issues when possible for master builds"
Currently, teamcity posts repeated failures of the same test under stress to the same issue as comments rather than opening a new issue (thanks to https://github.com/cockroachdb/cockroach/pull/13329). However, it does not do this for failures of normal master builds (as discussed in https://github.com/cockroachdb/cockroach/issues/14184#issuecomment-291240684), so we still sometimes have to manuall

[2017-04-18 14:44] knz commented on #9884
@dt I hear from peter you're already looking at this, can you tell me more?

[2017-04-18 14:45] a-robinson commented on #15023
This is potentially concerning. It hit the assertion about the leaseholder no longer being a replica from #12598/#13469:

[code]

[2017-04-18 14:45] tamird commented on #15023
Possibly related to something @spencerkimball is investigating.

[2017-04-18 14:47] dianasaur323 commented on #13101
@petermattis can I close this out given #14421 is merged?

[2017-04-18 14:48] RaduBerinde commented on #13821
We are trying to get this done opportunistically for 1.0, in part because explaining this limitation to our users is complicated.

[2017-04-18 14:48] dianasaur323 commented on #13023
@a-robinson I'm moving optimizations to the debug page over to Q3 2017, but please revise if you disagree

[2017-04-18 14:51] dianasaur323 commented on #12498
@bdarnell @a-robinson haven't we moved beyond Go 1.7 at this point? I'm going to close out, but feel free to re-open if you disagree.

[2017-04-18 14:52] dianasaur323 commented on #11988
@tamird I'm assuming we haven't added this yet - let's do something for this in Q3 2017?

[2017-04-18 14:53] petermattis commented on #13101
Yeah, this isn't fixed, but I'm not sure what else to do here. We can't add attributes to the RocksDB methods without modifying the RocksDB source itself. Moving to the Later milestone as there is nothing urgent to do here.

[2017-04-18 14:53] a-robinson commented on #12498
This is something that we still haven't done and can't do until https://github.com/grpc/grpc-go/issues/711 is resolved. I think leaving the issue open under the later milestone is appropriate.

[2017-04-18 14:56] dianasaur323 commented on #10967
@RaduBerinde looks like you just merged a basic implementation of SCATTER recently. I'm going to close out, but feel free to re-open if you would like.

[2017-04-18 14:56] #10967 closed

[2017-04-18 14:57] andreimatei commented on #12498
go 1.9 is supposed to have a new type alias feature that will make this
kind of type move between packages work

On Tue, Apr 18, 2017 at 10:53 AM, Alex Robinson <notifications@github.com>
wrote:

[2017-04-18 14:58] bdarnell commented on #13810
Still an issue as far as I know. It's not critical for 1.0, though, so I'll put it in 1.1.

[2017-04-18 15:02] dianasaur323 commented on #13821
Gotcha, thanks Radu!

[2017-04-18 15:03] dianasaur323 commented on #12786
@cuongdo is this still an issue for ActiveRecord?

[2017-04-18 15:04] cuongdo commented on #12786
I'm not sure. @jordanlewis?

[2017-04-18 15:07] dianasaur323 commented on #12876
@RaduBerinde do you still want to take a look at this now that you are back?

[2017-04-18 15:07] jordanlewis commented on #12786
No, this no longer causes a problem. We still don't support `CREATE EXTENSION`, stubbed or not, but the adapter no longer tries to enable any extensions by default.

[2017-04-18 15:07] #12786 closed

[2017-04-18 15:08] benesch commented on #15031
Closing as a dupe of #14911. This failure happened just before its fix, #14974, was merged.

[2017-04-18 15:08] #15031 closed

[2017-04-18 15:10] dianasaur323 commented on #13039
@petermattis is this something you still want to look at before 1.0?

[2017-04-18 15:11] dianasaur323 commented on #13343
@RaduBerinde moving into 1.1 unless you disagree.

[2017-04-18 15:14] dianasaur323 commented on #13709
@knz moving to 1.1 unless you disagree

[2017-04-18 15:15] dianasaur323 commented on #13640
@knz moving into 1.0, but feel free to move out if you'd like

[2017-04-18 15:16] dianasaur323 commented on #13537
@mrtracy do you mind taking a look at this to see if it is still an issue?

[2017-04-18 15:17] mberhault commented on #9289
Names fixed for a few metrics and help messages added to all.
The rest is a bigger refactor and can wait until 1.1, it's not urgent.

[2017-04-18 15:17] dianasaur323 commented on #13435
moving to 1.1 unless you disagree

[2017-04-18 15:17] mberhault commented on #8953
`--host` and `--insecure` are now independent and default to `all interfaces` and `false` respectively.

[2017-04-18 15:17] #8953 closed

[2017-04-18 15:18] dianasaur323 commented on #13184
Moving to 1.1

[2017-04-18 15:18] mberhault commented on #8093
bumping to 1.1.

[2017-04-18 15:19] mberhault commented on #10754
Fixed by #14943

[2017-04-18 15:19] #10754 closed

[2017-04-18 15:22] cockroach-teamcity opened #15036 "teamcity: failed tests on master: testrace/TestBackupAsOfSystemTime"
The following tests appear to have failed:

[#227297](https://teamcity.cockroachdb.com/viewLog.html?buildId=227297):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-18 15:23] mberhault commented on #12107
I'm not sure what there is to do here.

Which host to advertise depends on the networking setup (VPC vs open network) and DNS setup (eg: local VM hostnames are resolvable within the VPC in GCE/AWS/Azure, but not on Digital Ocean).

[2017-04-18 15:23] petermattis commented on #10506
I took a look at this last week and it was more involved than I thought. Punting to 1.1.

[2017-04-18 15:24] a-robinson commented on #14053
All traces of gamma got wiped a couple weeks ago, so there's not much we can do here at this point. We're going to make another run through any split tests that are currently skipped or have flaked, but otherwise closing this.

[2017-04-18 15:24] #14053 closed

[2017-04-18 15:24] tamird commented on #10130
Closed by #14801, sort of.

[2017-04-18 15:24] #10130 closed

[2017-04-18 15:25] tamird commented on #13464
Any news on this? Closing for now since there's not much to go on, but please reopen.

[2017-04-18 15:25] #13464 closed

[2017-04-18 15:26] tamird commented on #6713
Moving to 1.1 since this is a big change, and also reassigning to @mberhault since the security model is undergoing some evolution.

[2017-04-18 15:28] a-robinson commented on #15036
Same as #15023

[2017-04-18 15:28] mberhault commented on #12707
as of #14703, `--host` defaults to all interfaces and is not influenced by `--insecure`.
This means that to accomplish the same problem as listed above, one would have to specify `--host=localhost`. Is this sufficient to consider this solved?

[2017-04-18 15:28] a-robinson commented on #15023
And this came up again in #15036. A recent change seems to have tickled something

[2017-04-18 15:29] asubiotto opened #15037 "distsql: TPC-H query 15 can't be run with distsql because `CREATE VIEW` is unsupported"
This was run with `DISTSQL='always'`. I believe this should run through single-node SQL even in the 'always' mode.

[2017-04-18 15:30] justinj commented on #14095
Should this/all new metrics always be added to the dashboards? Or is there some discretion exercised? Off the top of my head it seems like this might not be that useful on a day-to-day basis because it's likely to be so similar to `sql.exec.latency`?

[2017-04-18 15:31] jordanlewis commented on #12035
There's too many in-the-weeds issues blocking this task to leave it a 1.0 priority. I'm still working on it but I don't want it to block other stuff before the release.

[2017-04-18 15:35] bdarnell commented on #12107
I don't think there's anything to do here for 1.0. Later, we might want to add some heuristics to better diagnose issues like this (e.g. resolving our own hostname to see if DNS is wired up correctly).

[2017-04-18 15:37] bdarnell commented on #12707
Yes, I think this is solved now.

[2017-04-18 15:37] #12707 closed

[2017-04-18 15:38] #10431 closed

[2017-04-18 15:40] danhhz commented on #15003
@bdarnell can you expand on what synchronization needs to be added? I wouldn't know where to start

[2017-04-18 15:42] vivekmenezes commented on #13175
this is likely fixed, @jordanlewis to review and close

[2017-04-18 15:47] bdarnell commented on #13005
Closing due to inactivity; please reopen if you're still seeing this issue.

[2017-04-18 15:47] #13005 closed

[2017-04-18 15:52] mberhault commented on #12107
Ok, renaming for now.

[2017-04-18 15:55] knz commented on #7728
Looked at this; it's hard to fix and only affects a specific test scenario which is not run by default. LEt's close this.

[2017-04-18 15:55] #7728 closed

[2017-04-18 15:55] mberhault commented on #9189
The old cert flags are deprecated (but still present) and no longer have env variables.

We're left with `CERTS_DIR` and `INSECURE`, both of which apply to both servers and clients. I think it would make sense to keep those. If I decide to run everything in insecure mode, it's convenient to have the env variable set. Same if I choose to use a non-default certs directory.

@bdarnell: you seemed to

[2017-04-18 16:08] tamird commented on #7728
Why is it appropriate to close this rather than moving to a future milestone? It's still an issue, especially if the behaviour differs from postgres.

[2017-04-18 16:10] knz commented on #7728
@tamird the problem is not in our server but rather in our test logic. The problem is that go's sql package (or perhaps pq) will re-open a connection if a prepare fails; this causes any current session configuration (via SET) to be lost, including the current database.

A client application would re-populate its session configuration upon reconnecting (we document this behavior for SET already) so

[2017-04-18 16:13] jordanlewis commented on #8862
For 1.0, could we simply change the semantics of quoted identifiers to also compare in a case-insensitive way? Supporting case sensitivity in quoted identifiers doesn't seem that important to me. How often do customers need to have tables `a` and `A` be distinct?

[2017-04-18 16:15] jordanlewis opened #15038 "sql: TestSteady index backfill seems to not get run properly"
See the logs in https://teamcity.cockroachdb.com/viewLog.html?buildId=210435&buildTypeId=Cockroach_Nightlies_Steady_6Medium&tab=artifacts

[code]

How could the `CREATE INDEX` have only taken 11 seconds over 57M rows?

[2017-04-18 16:17] knz commented on #14110
I plan to address #9884 for 1.0 and this will cause the error here to become much less significant for users.
Because of this, I am pushing this investigation to later.

[2017-04-18 16:18] mberhault commented on #5756
Updated short/long descriptions to:
[code]
[code]

@jess-edwards, @jseldess: I'm happy to modify that.
For now, dropping 1.0 due date.

[2017-04-18 16:23] mberhault commented on #14985
Let me make a few proposals and let's settle on one if we can:

1. keep the defaults: `CA lifetime: 5 years, node/client lifetime: 1 year`. These are mostly arbitrary and picked by me. It's rather long for security-conscious people, or those with existing PKI infrastructure. At the same time, one year comes quickly and can be surprising/annoying for people who want SSL but don't care about the sec

[2017-04-18 16:27] RaduBerinde commented on #15037
`always` is meant as a debugging mode where you want to make sure every query is supported and run through DistSQL. It will fail any unsupported queries.

We should be using `on`, where all supported queries are run with DistSQL, and unsupported queries are run with single-node SQL..

[2017-04-18 16:27] #15037 closed

[2017-04-18 16:32] RaduBerinde commented on #15003
I can envision having a mechanism to serialize with queue operations on that range. But the problem is that we are moving the lease as part of relocation, and after we do that another host's queues have control over what happens to that range (right?) I don't have ideas on how to prevent that, other than maybe breaking up the relocation operation into multiple operations, and having the remove rep

[2017-04-18 16:41] bdarnell commented on #9189
Yes, CERTS_DIR and INSECURE should have env variables at least for client commands. I'd still prefer to not allow the env vars on `start`.

[2017-04-18 16:43] bdarnell commented on #8862
I'd be fine with making table names always be case-insensitive.

[2017-04-18 16:44] jordanlewis opened #15042 "sql: implement string_to_array builtin"
Add support for the [`string_to_array` PostgreSQL builtin](https://www.postgresql.org/docs/9.6/static/functions-array.html), which splits a string on a supplied delimiter and returns an array of the results.

[2017-04-18 16:45] jordanlewis commented on #14988
The [PostgreSQL storage backend](https://www.vaultproject.io/docs/configuration/storage/postgresql.html) looks fairly simple. I believe we support all of [the queries](https://github.com/hashicorp/vault/blob/master/physical/postgresql.go) that it generates, with the exception of the `string_to_array` builtin.

I've opened #15042 to track that missing builtin function.

[2017-04-18 16:49] asubiotto commented on #14620
Reopening because although #14708 fixed this particular issue, the server should still time out potentially infinitely retryable writes while draining.

[2017-04-18 16:53] bdarnell commented on #14985
In the future, we'll have smoother processes in place for cert rotation (could be integration with tools like Vault, could be something like letsencrypt, could just be better scripts). Let's make the 1.0 defaults high enough that the first time rotation is needed will be after we have better support in place. So working backwards, if we make the default cert lifetime be a year, we should try to ge

[2017-04-18 17:05] knz commented on #8862
This is a bit complicated, see the original PR example:
[code]

It's not only table names that need to be case-insensitive; we'd need to make `relname` and anything related also use a new SQL data type with case-insensitive comparisons.

[2017-04-18 17:11] dianasaur323 commented on #14948
I'm not sure what the decision is here, but assigning to @RaduBerinde and marking as a 1.0 issue for now. Feel free to re-assign and move milestone back.

[2017-04-18 17:15] RaduBerinde commented on #12355
The session event log was disabled in #13366. I think things are ok for 1.0. Moving to 1.1 to look into improving the performance and logic of logging statements.

[2017-04-18 17:17] dianasaur323 commented on #14852
Is there an action item here / what milestone should we place it in?

[2017-04-18 17:19] dianasaur323 commented on #14816
@andreimatei I just marked this as 1.0, but feel free to move out if not mission critical.

[2017-04-18 17:20] dianasaur323 commented on #14814
Closing as addressed by https://github.com/cockroachdb/cockroach/pull/14908. Please re-open if you disagree.

[2017-04-18 17:20] #14814 closed

[2017-04-18 17:21] RaduBerinde commented on #13655
This issue tracks implementing a mechanism for detecting and avoiding dead/unhealthy nodes during planning.

[2017-04-18 17:23] dt commented on #12498
well 1.8 was supposed to have aliases too until it didn't, so a grain of salt and all about betting on something that hasn't shipped yet.

[2017-04-18 17:24] dianasaur323 commented on #14765
@asubiotto assigning you so that you can close out when appropriate

[2017-04-18 17:25] bdarnell commented on #15003
The first question to answer here is whether this can happen even without scatter. The main protection here is that in the absence of the scatter command, the replication queue is normally the only thing that performs rebalances or lease relocations. However, it seems possible that there could be two replication queues active on a range (right after a leadership change) or a node grabbing the leas

[2017-04-18 17:25] dianasaur323 commented on #14727
@vivekmenezes not sure what you were referring to here in this issue, but I marked as 1.0 for now. Feel free to move as necessary.

[2017-04-18 17:28] mjibson commented on #7728
This may be solvable by the new Conn stuff coming in go 1.9.

[2017-04-18 17:34] knz opened #15045 "sql: new system setting for default distSQL behavior"
A new system setting should be introduced to define whether distsql is enabled or not in newly created client sessions.

Action items:

- [ ] create a system setting
- [ ] use it in session initialization (for sessions created via pgwire)
- [ ] ~~provide a UI for the user to change the setting (either CLI and/or UI)~~ document (in docs repo) that the user can change this via `SET CLUSTER SETTING .

[2017-04-18 17:35] knz commented on #15045
As discussed during team meeting today. cc @cuongdo @andreimatei @RaduBerinde @asubiotto

[2017-04-18 17:36] dt commented on #15045
fwiw: cli ui for settings is `SET CLUSTER SETTING foo = bar`

[2017-04-18 17:38] #14776 closed

[2017-04-18 17:40] cockroach-teamcity opened #15046 "teamcity: failed tests on master: testrace/TestBackupRestoreSystemJobs"
The following tests appear to have failed:

[#227454](https://teamcity.cockroachdb.com/viewLog.html?buildId=227454):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-18 17:41] dianasaur323 commented on #14652
I marked this as a 1.1 milestone, but please move forward if you think we should get to this earlier.

[2017-04-18 17:42] asubiotto commented on #15045
How does this interact with what we already have? That is, a flag for server default and session variable for session preference.

[2017-04-18 17:45] dianasaur323 commented on #14616
@andreimatei is this something you want to take a look at by 1.0?

[2017-04-18 17:49] dianasaur323 commented on #14598
adding to 1.0 milestone with the possibility that we will move this out if we can't get to it.

[2017-04-18 17:50] andreimatei commented on #14616
No :). Doesn't seem important to me.

[2017-04-18 18:02] knz commented on #15045
1) The setting must be overridable per-session anyway. So wherever the default is coming from, it needs to be copied to each new session's `DistSQLMode` when the session is created, and query execution should only look at `DistSQLMode` throughout.

2) the question is then what is the default value for `DistSQLMode` for newly created sessions. Right now the field is initialized from `defaultDistSQL

[2017-04-18 18:03] a-robinson commented on #15046
#15023

[2017-04-18 18:03] #15046 closed

[2017-04-18 18:04] danhhz opened #15049 "storage: make AdminScatter less best-effort"
RESTORE splits out all the new ranges and uses the leaseholders to distribute the data import work, so there's a big performance (and cluster stability) improvement when scatter works well. It's currently best-effort, so if the cluster is unbalanced when the RESTORE starts, then the replication queues will be doing work and the snapshots for scatter will be rejected.

[2017-04-18 18:08] eisenstatdavid commented on #13873
This is a tricky issue to address because `"could not parse"` is actually a runtime error arising from the cast from `string` to `decimal`, which evades the existing type checking. Due to the flexibility of the `DEFAULT` constraint, we could also have an "time bomb" like this:

[code]

As such, I don't think that it's feasible to detect all runtime errors ahead of time, though post-1.0 we could co

[2017-04-18 18:09] mattiasmak commented on #15026
I finally got all three nodes back up after a bit of struggle. The latency seems to be much worse now than before. P99 is around 800ms and P50 is around 250. I thing this is not good at all. Even though it's 99 inserts...

I can give you access to the admin console if there's something there. This is actually a soon-production-ready system with a bit of load already.

[2017-04-18 18:14] mjibson commented on #13913
I can get this done soonish I think.

[2017-04-18 18:15] mattiasmak commented on #15026
[code]

[2017-04-18 18:21] jordanlewis commented on #13873
We should definitely enhance constant folding to evaluate constant casts and function applications. I think this could probably get done pre-1.0.

[2017-04-18 18:24] eisenstatdavid opened #15050 "sql: panic when creating a table with a bogus default constraint"
Client-side:
[code]

Server-side:
[code]

[2017-04-18 18:35] dianasaur323 commented on #14616
Woohoo! Thanks.

[2017-04-18 18:40] dt opened #15051 "sqlccl: `backup` should not overwrite an existing backup"

[2017-04-18 18:46] danhhz commented on #14788
haven't seen this in a bit. optimistically saying the most recent fix is the last one we need

[2017-04-18 18:46] #14788 closed

[2017-04-18 18:47] dt opened #15052 "*: capture and report errors to some form of error tracking"
We'll want to know if clusters are crashing / if we ship a bug /etc.

[2017-04-18 18:48] benesch commented on #14585
Closing this optimistically; it only happened once two weeks ago.

[2017-04-18 18:48] #14585 closed

[2017-04-18 18:48] dt opened #15053 "settings: multi-node acceptance tests"

[2017-04-18 18:52] dt commented on #15052
A couple options @knz and I discussed:
a) Using an off-the-shelf service and their client library to capture and report.
b) Using our own capture-and-report code to hit an endpoint we own which then proxies some off-the-shelf service.
c) Using our own capture-and-report code and our own recoding and tracking service.

We clearly do not have the resources for c) at the moment. a) seems iffy -- we'd

[2017-04-18 18:56] justinj commented on #14061
I'm going to close this issue for now, if you think it's still a problem please let me know and I'll reopen!

[2017-04-18 18:56] #14061 closed

[2017-04-18 19:00] danhhz commented on #14335
@cuongdo david doesn't have the bandwidth for this. can you triage if this needs to be in 1.0 and assign to someone if it does?

[2017-04-18 19:05] danhhz commented on #13516
We haven't seen this since, so closing

[2017-04-18 19:05] #13516 closed

[2017-04-18 19:17] knz commented on #14938
Hi Edward!
Thank you for your suggestion, it does seem interesting indeed.
For now CockroachDB delegates history handling **entirely** (including the in-memory history buffer) to our dependency package readline from here: https://github.com/chzyer/readline

I have filed an issue on your behalf here: https://github.com/chzyer/readline/issues/1132
Feel free to follow-up as comments on that issue or

[2017-04-18 19:20] eisenstatdavid opened #15055 "sql: enhance constant folding"
We could do constant folding on expressions involving casts and function applications with constant arguments. Detecting errors earlier is always better (#13873 was the proximate cause for me filing this issue), and performance of some queries will be better (unless the folded expression was expensive yet not needed).

Per offline conversation with @jordanlewis , we don't need to worry about error

[2017-04-18 19:25] jordanlewis commented on #15055
Example from Postgres that demonstrates the above:

[code]

[2017-04-18 19:39] #14947 closed

[2017-04-18 19:50] eisenstatdavid opened #15057 "sql: optimize ordering on tuple columns, distribute queries with tuple columns"
`SELECT v FROM (SELECT (k, v), k, v  FROM kv ORDER BY k, v) ORDER BY 1` creates a tuple to use as a sort key. `ORDER BY k, v` sorts by the named columns directly. We should make the former behave like the latter to aid index selection.

Also, any intermediate render using a tuple causes distribution to be disabled.

[2017-04-18 19:51] eisenstatdavid commented on #13873
Closing because #15055 is the extent of what we can do here.

[2017-04-18 20:02] andreimatei commented on #15057
Added a 1.1 milestone to keep track of it. Seems pretty important to me; I suspect a lot of people would type the queries with the spurious parens.

[2017-04-18 20:03] tamird opened #15058 "security,cli: failing tests on Windows"
These failures are fallout from the recent certificate work.

[cli.test.txt](https://github.com/cockroachdb/cockroach/files/930911/cli.test.txt)
[security.test.txt](https://github.com/cockroachdb/cockroach/files/930912/security.test.txt)

[2017-04-18 20:04] RaduBerinde commented on #15057
As an additional data point, distsql doesn't currently support moving tuples in streams, so the tuple would force the query to run non-distributed.

[2017-04-18 20:30] spencerkimball commented on #14714
@vivekmenezes where were you when this occurred? Has it reproduced?

[2017-04-18 20:41] tamird commented on #14714
It was quite eagerly disabled, so I doubt it reproduced. https://github.com/cockroachdb/cockroach/pull/14715.

[2017-04-18 21:08] a-robinson commented on #13722
After some investigation today, I think we might have to table this until after 1.0.

I first tried putting the heartbeat pings onto their own connections, separated from all our other grpc traffic, but that had a negligible effect on latency at the 50th, 95th, and 99th percentiles.

With the heartbeats still on their own connections, I then added basic tracing so that we could tell how much of th

[2017-04-18 21:10] a-robinson commented on #13722
So I'm going to move this out of 1.0 since I think too much time and too big of a change may be needed to improve things, but I'll take another look at it if we magically finish up all our other 1.0 work early.

[2017-04-18 21:17] tamird opened #15059 "cli: `cockroach start -s type=mem,size=1GiB` fails on Windows"
I haven't investigated this at all.

[code]

[2017-04-18 21:20] #15051 closed

[2017-04-18 21:21] #14406 closed

[2017-04-18 21:26] jordanlewis commented on #13470
Hey @roji,

I think #14529 should have solved your issue here - we added the type I/O functions to `pg_type` and `pg_proc`. Could you please take a look at your sample app at your leisure and see if all is well?

[2017-04-18 21:33] a-robinson commented on #15023
@spencerkimball is it true that you're looking into this, or should I?

[2017-04-18 21:39] a-robinson commented on #13722
It's also worth noting that it doesn't appear to just be one or two nodes dragging things down. These are the exponentially-weighted moving average latencies between nodes on cobalt:

[code]

[2017-04-19 00:52] danhhz commented on #14784
This happened again on the 2tb restore
[code]
I'll take a look at this tomorrow.

[2017-04-19 02:18] vivekmenezes commented on #14781
Not seen this week. Closing until it shows up again.

[2017-04-19 02:18] #14781 closed

[2017-04-19 02:24] andreimatei commented on #14781
"[n1] fewer than half the known nodes are within the maximum offset of 500ms (0 of 1)"

This was #12868

[2017-04-19 05:13] bdarnell commented on #5974
This is unfortunately trickier than it looks: A node doesn't bind any of its ports until it has either bootstrapped or talked to a node that has. This prevents us from offering an init rpc, because the server won't be listening to receive it. We'd need to A) start listening on the RPC port immediately B) ensure that operations other than the init/bootstrap RPC behave reasonably (block? fail cleanl

[2017-04-19 06:05] cockroach-teamcity opened #15065 "acceptance: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227888&tab=buildLog

[code]

[2017-04-19 06:07] cockroach-teamcity opened #15066 "ccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227894&tab=buildLog

[code]

[2017-04-19 06:08] cockroach-teamcity opened #15067 "ccl/acceptanceccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227895&tab=buildLog

[code]

[2017-04-19 06:08] cockroach-teamcity opened #15068 "ccl/storageccl/engineccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227899&tab=buildLog

[code]

[2017-04-19 06:11] cockroach-teamcity opened #15069 "ccl/sqlccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227897&tab=buildLog

[code]

[2017-04-19 06:11] cockroach-teamcity opened #15070 "ccl/storageccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227898&tab=buildLog

[code]

[2017-04-19 06:11] cockroach-teamcity opened #15071 "cli: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227902&tab=buildLog

[code]

[2017-04-19 06:11] cockroach-teamcity opened #15072 "cmd/allocsim: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227904&tab=buildLog

[code]

[2017-04-19 06:11] cockroach-teamcity opened #15073 "cmd/internal/localcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227910&tab=buildLog

[code]

[2017-04-19 06:11] cockroach-teamcity opened #15074 "cmd/cockroach-oss: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227905&tab=buildLog

[code]

[2017-04-19 06:11] cockroach-teamcity opened #15075 "internal/client: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227922&tab=buildLog

[code]

[2017-04-19 06:11] cockroach-teamcity opened #15076 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227927&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15077 "security: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227930&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15078 "kv: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227926&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15079 "server/serverpb: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227933&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15080 "cmd/zerosum: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227917&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15081 "server: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227932&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15082 "server/status: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227934&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15083 "sql: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227936&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15084 "sql/distsqlplan: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227937&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity opened #15085 "sql/distsqlrun: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227938&tab=buildLog

[code]

[2017-04-19 06:12] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227929&tab=buildLog

[2017-04-19 06:13] cockroach-teamcity opened #15086 "sql/pgwire: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227944&tab=buildLog

[code]

[2017-04-19 06:13] cockroach-teamcity opened #15087 "sql/sqlbase: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227947&tab=buildLog

[code]

[2017-04-19 06:13] cockroach-teamcity opened #15088 "storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227949&tab=buildLog

[code]

[2017-04-19 06:13] cockroach-teamcity opened #15089 "storage/engine: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227950&tab=buildLog

[code]

[2017-04-19 06:14] cockroach-teamcity opened #15090 "testutils/localtestcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227957&tab=buildLog

[code]

[2017-04-19 06:14] cockroach-teamcity opened #15091 "testutils/testcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227961&tab=buildLog

[code]

[2017-04-19 06:14] cockroach-teamcity opened #15092 "ts: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227963&tab=buildLog

[code]

[2017-04-19 06:33] cockroach-teamcity opened #15094 "acceptance: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227993&tab=buildLog

[code]

[2017-04-19 06:36] cockroach-teamcity opened #15095 "ccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=227999&tab=buildLog

[code]

[2017-04-19 06:37] cockroach-teamcity opened #15096 "ccl/sqlccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228002&tab=buildLog

[code]

[2017-04-19 06:37] cockroach-teamcity opened #15097 "ccl/acceptanceccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228000&tab=buildLog

[code]

[2017-04-19 06:37] cockroach-teamcity opened #15098 "ccl/storageccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228003&tab=buildLog

[code]

[2017-04-19 06:37] cockroach-teamcity opened #15099 "ccl/storageccl/engineccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228004&tab=buildLog

[code]

[2017-04-19 06:38] cockroach-teamcity opened #15100 "cli: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228007&tab=buildLog

[code]

[2017-04-19 06:39] cockroach-teamcity opened #15102 "cmd/allocsim: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228009&tab=buildLog

[code]

[2017-04-19 06:39] cockroach-teamcity opened #15103 "cmd/cockroach-oss: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228010&tab=buildLog

[code]

[2017-04-19 06:42] cockroach-teamcity opened #15104 "cmd/internal/localcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228015&tab=buildLog

[code]

[2017-04-19 06:43] cockroach-teamcity opened #15105 "cmd/zerosum: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228022&tab=buildLog

[code]

[2017-04-19 06:43] cockroach-teamcity opened #15106 "internal/client: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228028&tab=buildLog

[code]

[2017-04-19 06:43] cockroach-teamcity opened #15107 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228033&tab=buildLog

[code]

[2017-04-19 06:44] cockroach-teamcity opened #15108 "kv: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228032&tab=buildLog

[code]

[2017-04-19 06:44] cockroach-teamcity opened #15109 "server/serverpb: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228039&tab=buildLog

[code]

[2017-04-19 06:44] cockroach-teamcity opened #15110 "server: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228038&tab=buildLog

[code]

[2017-04-19 06:44] cockroach-teamcity opened #15111 "server/status: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228040&tab=buildLog

[code]

[2017-04-19 06:44] cockroach-teamcity opened #15112 "security: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228036&tab=buildLog

[code]

[2017-04-19 06:44] cockroach-teamcity opened #15113 "sql/distsqlrun: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228045&tab=buildLog

[code]

[2017-04-19 06:44] cockroach-teamcity opened #15114 "sql/distsqlplan: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228044&tab=buildLog

[code]

[2017-04-19 06:44] cockroach-teamcity opened #15115 "sql: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228043&tab=buildLog

[code]

[2017-04-19 06:45] cockroach-teamcity opened #15116 "sql/pgwire: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228050&tab=buildLog

[code]

[2017-04-19 06:45] cockroach-teamcity opened #15117 "storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228055&tab=buildLog

[code]

[2017-04-19 06:45] cockroach-teamcity opened #15118 "sql/sqlbase: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228053&tab=buildLog

[code]

[2017-04-19 06:45] cockroach-teamcity opened #15119 "storage/engine: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228056&tab=buildLog

[code]

[2017-04-19 06:46] cockroach-teamcity opened #15120 "testutils/localtestcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228063&tab=buildLog

[code]

[2017-04-19 06:46] cockroach-teamcity opened #15121 "testutils/testcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228067&tab=buildLog

[code]

[2017-04-19 06:46] cockroach-teamcity opened #15122 "ts: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228069&tab=buildLog

[code]

[2017-04-19 06:55] mytototo commented on #14988
This is great @bdarnell and @jordanlewis. Thank you for your answers. Keeping this issue open so we can track the feature request.

[2017-04-19 07:00] cockroach-teamcity opened #15123 "acceptance: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228100&tab=buildLog

[code]

[2017-04-19 07:01] cockroach-teamcity opened #15124 "ccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228106&tab=buildLog

[code]

[2017-04-19 07:01] cockroach-teamcity opened #15125 "ccl/acceptanceccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228107&tab=buildLog

[code]

[2017-04-19 07:01] cockroach-teamcity opened #15126 "ccl/sqlccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228109&tab=buildLog

[code]

[2017-04-19 07:02] cockroach-teamcity opened #15127 "ccl/storageccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228110&tab=buildLog

[code]

[2017-04-19 07:02] cockroach-teamcity opened #15128 "ccl/storageccl/engineccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228111&tab=buildLog

[code]

[2017-04-19 07:02] cockroach-teamcity opened #15129 "cli: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228115&tab=buildLog

[code]

[2017-04-19 07:02] cockroach-teamcity opened #15130 "cmd/cockroach-oss: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228118&tab=buildLog

[code]

[2017-04-19 07:02] cockroach-teamcity opened #15131 "cmd/allocsim: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228117&tab=buildLog

[code]

[2017-04-19 07:03] cockroach-teamcity opened #15132 "cmd/internal/localcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228123&tab=buildLog

[code]

[2017-04-19 07:03] cockroach-teamcity opened #15133 "cmd/zerosum: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228130&tab=buildLog

[code]

[2017-04-19 07:06] cockroach-teamcity opened #15134 "internal/client: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228136&tab=buildLog

[code]

[2017-04-19 07:09] cockroach-teamcity opened #15135 "kv: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228140&tab=buildLog

[code]

[2017-04-19 07:09] cockroach-teamcity opened #15136 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228141&tab=buildLog

[code]

[2017-04-19 07:13] cockroach-teamcity opened #15137 "security: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228144&tab=buildLog

[code]

[2017-04-19 07:13] cockroach-teamcity opened #15138 "server/serverpb: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228147&tab=buildLog

[code]

[2017-04-19 07:13] cockroach-teamcity opened #15139 "server: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228146&tab=buildLog

[code]

[2017-04-19 07:14] cockroach-teamcity opened #15140 "server/status: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228148&tab=buildLog

[code]

[2017-04-19 07:14] cockroach-teamcity opened #15141 "sql: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228150&tab=buildLog

[code]

[2017-04-19 07:14] cockroach-teamcity opened #15142 "sql/distsqlplan: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228151&tab=buildLog

[code]

[2017-04-19 07:14] cockroach-teamcity opened #15143 "sql/distsqlrun: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228152&tab=buildLog

[code]

[2017-04-19 07:14] cockroach-teamcity opened #15144 "sql/pgwire: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228157&tab=buildLog

[code]

[2017-04-19 07:14] cockroach-teamcity opened #15145 "sql/sqlbase: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228160&tab=buildLog

[code]

[2017-04-19 07:15] cockroach-teamcity opened #15146 "storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228162&tab=buildLog

[code]

[2017-04-19 07:15] cockroach-teamcity opened #15147 "storage/engine: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228163&tab=buildLog

[code]

[2017-04-19 07:15] cockroach-teamcity opened #15148 "testutils/localtestcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228170&tab=buildLog

[code]

[2017-04-19 07:15] cockroach-teamcity opened #15149 "testutils/testcluster: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228174&tab=buildLog

[code]

[2017-04-19 07:15] cockroach-teamcity opened #15150 "ts: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6ca10fa19b59a6cb56df3fab904e9e9d446f96b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=228176&tab=buildLog

[code]

[2017-04-19 09:08] tamird commented on #14837
This is a bit better now, but still fails:
[code]
The problem here seems to be that jemalloc's `JEMALLOC_USE_CXX_THROW` is incorrectly being defined when configured on a musl system. See https://github.com/jemalloc/jemalloc/blob/a01f993/configure.ac#L572, which has not changed since it was added in https://github.com/jemalloc/jemalloc/commit/ae93d6bf364e9db9f9ee69c3e5f9df110d8685a4 - that commit m

[2017-04-19 10:16] tamird commented on #14486
Fixed by #14840.

[2017-04-19 10:16] #14486 closed

[2017-04-19 10:19] tamird commented on #3830
Fixed by #14840.

[2017-04-19 10:19] #3830 closed

[2017-04-19 10:21] tamird commented on #7467
I'm going to close this. To my knowledge, CRDB mostly builds from source on those distros, and some have already to do their own packaging. We have a homebrew formula, and the next beta will include a windows binary (we do not need an installer).

[2017-04-19 10:21] #7467 closed

[2017-04-19 10:23] tamird commented on #12755
util/sdnotify is stubbed out on windows as of 2555400b3247be44815d0081b3afd1fb106bfe4e.

[2017-04-19 10:23] #12755 closed

[2017-04-19 10:23] tamird commented on #14405
@vielmetti can you try this again? I believe it should work for you now.

[2017-04-19 12:26] spencerkimball commented on #5974
Another option is to punt entirely. There are issues with the current
startup process but the alternatives aren't issue free and represent non
trivial changes from both an eng perspective and a somewhat surprising UX
change for existing users.

On Wed, Apr 19, 2017 at 1:13 AM Ben Darnell <notifications@github.com>
wrote:

[2017-04-19 13:29] knz opened #15155 "sqlccl: TestBackupRestoreSystemJobs failure in `testrace`"
Found here:

https://teamcity.cockroachdb.com/viewLog.html?buildId=228304&buildTypeId=Cockroach_UnitTests

[code]

[2017-04-19 13:33] dt commented on #15155
#15003

[2017-04-19 13:33] #15155 closed

[2017-04-19 13:34] petermattis commented on #13722
One point I'll add to this: at some point I wrote a simple "ping" test program that used gRPC. Running that program alongside `cockroach` on one of our test clusters with high latencies showed very reasonable latencies. My takeaway was that the there is something going on inside our process.

[2017-04-19 13:35] dt commented on #15023
@a-robinson I think this is same as #15003?

[2017-04-19 13:37] petermattis commented on #14561
I don't think there is anything actionable here in the 1.0 time frame, but it seems likely there is something that still needs investigation in the table lease code.

[2017-04-19 13:50] spencerkimball commented on #15023
No, I'm not investigating this. I agree with @dt: this looks similar to #15003.

[2017-04-19 13:51] a-robinson commented on #15023
Yeah, looks the same. Although does `BackupAsOfSystemTime` use `Scatter`?

[2017-04-19 13:58] mberhault commented on #9189
ok. I'll try to drop them from `start`. Now that `--insecure` is not entangled with other flags it should be easier to split server and client flags (see #14662)

[2017-04-19 13:58] dt commented on #15023
@a-robinson it uses Restore (to verify the backed-up data) and restore uses scatter.

[2017-04-19 14:00] petermattis commented on #13231
Unless I'm missing something, the `raftEntryCache.addEntries` adds entries individually. While a slice is passed to `addEntries`, we don't hold a reference to that slice, but only to the contents of the individual `raftpb.Entry` structs.

I think we should fix both of the places in `etcd/raft` where an unbounded number of log entries are read, but after re-familiarizing myself with the raft code n

[2017-04-19 14:01] vivekmenezes opened #15157 "sql: FK validations are slow"
As part of #15026 a complex schema with FKs

[code]

reveal high latency on SQL queries.

[2017-04-19 14:02] vivekmenezes commented on #15157
@mattiasmak lets discuss the latency issues you are observing here. Thanks!

[2017-04-19 14:02] mberhault commented on #14985
Ok, narrowing down to two options:
* practically unlimited
* 5y/2y (with 366 day years)

We may want warnings on the certs command in both cases, or more generally: warn for any lifetime greater than 1 year (completely arbitrary, but enough to cover our defaults).

[2017-04-19 14:03] vivekmenezes commented on #15026
looks like because some of your nodes were down the schema change took a lot of time to complete. In fact it looks like it completed as soon as the nodes came back up. The slowness of the schema change looks like this issue:

https://github.com/cockroachdb/cockroach/issues/13655

But why your nodes didn't come back up for a long time is still a mystery.

Can you attached the cockroach node logs to

[2017-04-19 14:05] vivekmenezes commented on #15157
We'd appreciate it if you attach the kinds of SQL requests you are running against this cluster, and also include the schema for the venue and device tables. Thanks

[2017-04-19 14:17] vielmetti commented on #14405
Thanks @tamird setting up a build system now.

[2017-04-19 14:20] knz commented on #14095
We don't yet have enough experience to know when to add or not add metrics to a dashboard.
So for now it's a bit of a personal decision that's subjective and arbitrary.
What is important is to ensure it is exported so we can look at it from the debug endpoints when needed.

[2017-04-19 14:24] #15058 closed

[2017-04-19 14:37] cockroach-teamcity opened #15158 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#228372](https://teamcity.cockroachdb.com/viewLog.html?buildId=228372):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-19 14:38] jseldess commented on #5756
Thanks, @mberhault. Just a few changes:

- The **Start a Cluster** link should point to `https://www.cockroachlabs.com/docs/start-a-local-cluster-in-docker.html`.
- We have orchestration docs, so let's change the last line to:
  `To run a multi-node cluster across multiple Docker containers, see our docs on using orchestration tools like [Kubernetes](https://www.cockroachlabs.com/docs/orchestrate-

[2017-04-19 15:05] #13886 closed

[2017-04-19 15:10] #14443 closed

[2017-04-19 15:26] mberhault commented on #5756
Done. thank you.

I think this is it for this issue.
@a-robinson, was there anything left tag-related?

[2017-04-19 15:29] a-robinson commented on #5756
Nope, the tags have been looking good since #14755 went in. We will have to change that logic slightly to only mark official release builds as latest once we have our tooling for tagging official release builds, so it might be worth opening a separate 1.0 issue for that?

[2017-04-19 15:34] danhhz opened #15161 "backup/restore: do we want event log entries for BACKUP & RESTORE?"

[2017-04-19 16:10] knz commented on #9884
There's a discussion ongoing at https://github.com/cockroachdb/cockroach/pull/15063#issuecomment-295304425 about where this issue is leading us.

[2017-04-19 16:11] knz commented on #9884
The main question here is "should we attempt to recover, at the risk of having a server in a partially broken state after a panic has been recovered, or not recover at all, at the risk of crashing one node after another as a client attempts to re-issue a faulty query from one node to another through a load balancer?"

[2017-04-19 16:16] RaduBerinde commented on #9884
My 2 cents: if "partially broken state" can imply that we may potentially corrupt the database state in some way, or violate our guarantees (like transaction isolation etc), I would prefer the latter.

[2017-04-19 16:20] tamird commented on #9884
I agree with one of @raduberinde's earlier comments: we crash due to bugs,
or lazily-written panics when returning an error was inconvenient. That
said, catching panics in a restricted subset of the SQL code (i.e. code
that doesn't interact with KV) seems reasonable to me.

On Apr 19, 2017 12:16, "RaduBerinde" <notifications@github.com> wrote:

[2017-04-19 16:25] knz commented on #9884
There is a middle road maybe.
I am still working under the assumption that there exists a way to encapsulate the sql package thoroughly.
- The sql/kv interface is "clean" inasmuch that an abandoned txn is harmless.
- The sql/lease interface is currently not clean, but we could perhaps solve the problem by ensuring lease stuff runs in a different goroutine, so that panics there do not cross to sql

[2017-04-19 16:27] knz commented on #9884
@tamird also we have seen a bunch of nil dereference panics in sql; unfortunately these may continue to happen even with a thorough discipline to return errors instead of panicing for assertions.

[2017-04-19 16:37] dianasaur323 commented on #14505
@jseldess do you mind confirming if this is still an issue?

[2017-04-19 16:38] petermattis opened #15163 "stability: periods of 0 QPS under chaos"
`blue`, the chaos test cluster, is experiencing periods of 0 QPS:

<img width="930" alt="screen shot 2017-04-19 at 12 34 36 pm" src="https://cloud.githubusercontent.com/assets/6201335/25191149/ba5d2248-24fc-11e7-81ee-11ea46f7ea8e.png">

These seem to correspond to a spike in the raft-leader-not-leaseholder metric:

<img width="931" alt="screen shot 2017-04-19 at 12 35 02 pm" src="https://cloud.git

[2017-04-19 16:39] dianasaur323 commented on #14503
assigning to @arjunravinarayan for now, but feel free to re-assign. I think we can probably wait to do this in our 1.1, but move if you disagree.

[2017-04-19 16:39] dianasaur323 commented on #14502
assigned to 1.1

[2017-04-19 16:44] petermattis commented on #13039
No, I don't think there is anything actionable here.

[2017-04-19 16:45] dianasaur323 commented on #14450
I'm going to close this out now!

[2017-04-19 16:45] #14450 closed

[2017-04-19 16:46] #13039 closed

[2017-04-19 16:47] dianasaur323 commented on #14386
@cuongdo not sure who to assign this to. Seems like it might be low hanging fruit, but if not, let's move to 1.1.

[2017-04-19 16:56] andreimatei commented on #9884
One thing you've said on the PR thread is that you're trying to prevent against a client crashing a server with a query and then proceeding to retry that query on other servers and crashing all the cluster in a loop. FWIW, different systems at google had ways to protect against such a "query of death" - keep track of recent queries of death and refuse to run them.

The "discipline of returning err

[2017-04-19 16:57] #15158 closed

[2017-04-19 17:01] tamird commented on #14502
(1) I see this on macOS 10.12 as well:
[code]
(2) I don't see this in bash on Windows; in fact, the process simply dies, there's no indication that we're handling the signal and attempting graceful shutdown at all.
(3) I see the same behaviour in Command Prompt on Windows as I do on macOS:
[code]
(4) I see the same behaviour in PowerShell that I do in Command Prompt.

ISTM that there's nothing to

[2017-04-19 17:01] #14502 closed

[2017-04-19 17:31] ckeeney commented on #5756
If possible and if nobody needs them, maybe stop pushing alpha builds to Docker Hub?  They still pollute the tag listing and push all beta/latest tags way down.

[2017-04-19 17:36] dianasaur323 commented on #14352
@vivekmenezes perhaps a 1.0 issue that might leak over?

[2017-04-19 17:37] tamird commented on #14673
Another idea is to use inline functions, and put all the implementations in the header. Suggested by @petermattis at lunch.

I just tried this, and it's hairier than I thought; the constraint that headers included from Go must be guarded with `#ifdef __cplusplus` + `extern "C"` dances makes me think this should be tackled by someone more experienced with C++ than I, not least because my attempt is

[2017-04-19 17:39] dianasaur323 commented on #14338
@asubiotto doesn't seem like something we need to get to by 1.0?

[2017-04-19 17:40] #14501 closed

[2017-04-19 17:46] cockroach-teamcity opened #15167 "teamcity: failed tests on master: testrace/TestScatter"
The following tests appear to have failed:

[#228520](https://teamcity.cockroachdb.com/viewLog.html?buildId=228520):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-19 17:47] dianasaur323 commented on #14311
@arjunravinarayan it looks like there might not be any more action items associated with this issue?

[2017-04-19 17:49] bdarnell commented on #13722
In the meeting this morning I suggested that setting `TCP_NODELAY` could perhaps be a quick fix, but Go's `net` package turns on `TCP_NODELAY` by default. I'm still suspicious of TCP-level oddities because of the way that we send our raft messages as one-way streams on two separate TCP connections, but I don't have any more concrete ideas at the moment so investigating more post-1.0 sounds like a

[2017-04-19 17:53] dianasaur323 commented on #14282
@knz, assigning to you now for reassignment. We should figure out if this will be a problem, and if not, punt the investigation for 1.1. Currently setting as 1.0 for now though so that it doesn't fall through the cracks.

[2017-04-19 17:55] knz commented on #14282
@andreimatei do you know who is best placed to look at this?

[2017-04-19 17:56] dianasaur323 commented on #14216
Hmm.. this seems like some cleanup work that should be done by 1.1

[2017-04-19 17:57] dianasaur323 commented on #14174
@BramGruneir not sure if this is included in the work you are doing around fixing debug pages. If not, let's move out into 1.1.

[2017-04-19 17:58] cockroach-teamcity opened #15169 "teamcity: failed tests on master: testrace/TestNetworkReachesEquilibrium"
The following tests appear to have failed:

[#228541](https://teamcity.cockroachdb.com/viewLog.html?buildId=228541):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-19 17:58] petermattis commented on #14673
Can't we just move `DBBatchReprVerify` into `storage/engine`?

[2017-04-19 17:58] arjunravinarayan commented on #14311
#14387 is still open. This one has a workaround (manually changing the type hints) but this issue still isn't closed until the allow-imprecise-type-hints PR is merged.

[2017-04-19 17:59] andreimatei commented on #14282
I think any of us are as good as any other... I've removed the milestone; it doesn't worry me too much :).

[2017-04-19 18:00] BramGruneir commented on #14174
Moving this to 1.1

[2017-04-19 18:01] danhhz commented on #14673
I think we wanted to leave ccl licensed code in the ccl tree if we can. We could un-ccl this, but we'll probably have more interesting c++ code in the future, so if there's a real fix for this, we should probably do it.

I'm also okay not supporting enterprise features on windows builds until we start testing them and make them first class (if we ever do that)

[2017-04-19 18:05] a-robinson commented on #15169
I suppose this is what I get for being optimistic

[2017-04-19 18:28] danhhz opened #15174 "beta-20170420"
The candidate SHA is 9f61dd3e24edd170868a122d4220627230a75178.
Deployment status is omega, adriatic, cerulean.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [x] Check and verify cluster status
- [x] Tag release and push tag
- [x] [Trigger release build](https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockroach_MergeToMaster)
- [x] Check an

[2017-04-19 18:45] mjibson commented on #14940
We've decided this is fine and we'll just document it.

[2017-04-19 18:45] #14940 closed

[2017-04-19 18:49] dianasaur323 commented on #14068
@andymans I'm going to close this issue out now, but let us know if you encounter any other issues.

[2017-04-19 18:49] #14068 closed

[2017-04-19 18:50] petermattis commented on #14673
`DBBatchReprVerify` doesn't seem particularly ccl-ish, but I suppose using it as a forcing function is ok. Another option is to move portions of the C++ in `storage/engine` into a `.a` compiled by a Makefile. @tamird I'm not completely familiar with all of the linker intricacies. Would that work?

[2017-04-19 18:51] tamird commented on #14673
Yes, that would work.

On Wed, Apr 19, 2017 at 2:50 PM, Peter Mattis <notifications@github.com>
wrote:

[2017-04-19 18:52] #15050 closed

[2017-04-19 18:54] petermattis commented on #14673
Great. Back in your court.

[2017-04-19 18:57] dianasaur323 commented on #13542
@davidradernj since you suggested closing this issue, I'm going to close out. Please comment here if you would like me to reopen so that we can explore further.

[2017-04-19 18:57] #13542 closed

[2017-04-19 18:59] dianasaur323 commented on #12973
@vivekmenezes I noticed you removed a couple of these admin UI ux clean-ups out of 1.0. Do you mind explaining your methodology behind it? I'm trying to assign a milestone for everything, so I'm moving these to 1.1.

[2017-04-19 19:01] dianasaur323 commented on #7319
I think it seems safe for us to close this issue out

[2017-04-19 19:01] #7319 closed

[2017-04-19 19:02] dianasaur323 commented on #10560
@chinglinwen Thanks for your feedback! We are actually going to be building a revamp of our admin UI going forward, so I'm going to close out this issue for now.

[2017-04-19 19:02] #10560 closed

[2017-04-19 19:08] #15169 closed

[2017-04-19 19:13] bdarnell commented on #9884
That requires that queries of death do something other than crashing the process (at google, the "gateway" was fairly dumb and would just record failures of its backends; any query that managed to crash the gateway would not be handled by this system). This is a desirable goal but it will take some restructuring for us to get there.

I think it's probably a good idea to catch panics in the sql pac

[2017-04-19 20:26] andreimatei opened #15181 "sql: schema change in transactions code is confusing"
Hey Vivek, this code looks funky to me:
https://github.com/cockroachdb/cockroach/blob/28fda73/pkg/sql/backfill.go#L394-L427

The backfill code starts a transaction and, inside it, it plans and runs a distributed backfill using DistSQL. The code really makes it look like the transaction is used to actually perform the backfill writes, but, of course, that can't be - there'd be many things wrong wit

[2017-04-19 20:40] tamird commented on #14673
@petermattis that's essentially the same as putting portions of the C++ in `storage/engine` into a shared header with a bunch of `inline` or `static` functions, from a "I don't know the subtleties of C++" perspective. Reconsider?

[2017-04-19 20:48] bdarnell commented on #15174
@mjibson would like to get #15166 included in the beta. I'd be OK with just using 9f61dd3e24edd170868a122d4220627230a75178 instead of cherry-picking it; that includes 5 other PRs

[2017-04-19 20:49] a-robinson opened #15184 "cmd/allocsim gratuitous segfaults"
I was ready to blame the recent build changes, but it seems to reproduce even before them.

[code]

It even panics printing the help text...

[code]

[2017-04-19 20:50] a-robinson commented on #15184
This wouldn't normally be big deal except that I want to test some lease rebalancing scoring tweaks to make thrashing less likely.

[2017-04-19 20:57] #14335 closed

[2017-04-19 21:03] #14784 closed

[2017-04-19 21:05] danhhz commented on #15174
Okay. I'll redeploy

[2017-04-19 21:13] danhhz commented on #15174
Done. New candidate is 9f61dd3e24edd170868a122d4220627230a75178

[2017-04-19 21:13] danhhz commented on #15174
cc @mjibson

[2017-04-19 21:17] tamird commented on #15184
Naively, looks like I broke it in 888f68622fcc678040aee05f4e37f06be5a15778.

On Wed, Apr 19, 2017 at 4:49 PM, Alex Robinson <notifications@github.com>
wrote:

[2017-04-19 21:28] cockroach-teamcity opened #15186 "teamcity: failed tests on master: testrace/TestBackupAsOfSystemTime"
The following tests appear to have failed:

[#228965](https://teamcity.cockroachdb.com/viewLog.html?buildId=228965):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-19 21:35] a-robinson commented on #15184
Looks likely.

I started out by looking into the help text crash first, which is a different problem. There's some weird linking funniness where the flags from the logs package are getting created but not initialized properly, which doesn't look like it should be possible. Specifically, the log file/dir size flags are being initialized with nil pointers for their values. This has been broken ever

[2017-04-19 21:39] tamird commented on #15184
I'd support that change.

On Wed, Apr 19, 2017 at 5:35 PM, Alex Robinson <notifications@github.com>
wrote:

[2017-04-19 21:46] jordanlewis commented on #6039
Doesn't seem to happen anymore.

[2017-04-19 21:46] #6039 closed

[2017-04-19 21:46] jordanlewis commented on #7099
Doesn't seem to happen anymore.

[2017-04-19 21:46] #7099 closed

[2017-04-19 21:58] a-robinson commented on #15184
Using the standard log package isn't gonna cut it, since allocsim imports a bunch of other packages that transitively import our log package.

[2017-04-19 21:59] tamird commented on #15184
Sad.

On Wed, Apr 19, 2017 at 5:58 PM, Alex Robinson <notifications@github.com>
wrote:

[2017-04-19 22:38] dianasaur323 commented on #13615
@vivekmenezes do you know which milestone you want to move this one to? I'm trying to get rid of issues with no milestone. I think perhaps 1.1?

[2017-04-19 22:39] dianasaur323 commented on #14311
Gotcha - ok, seems like it should be merged soon.

[2017-04-19 22:50] dianasaur323 commented on #1675
@mberhault does this issue https://github.com/cockroachdb/cockroach/issues/1674 address what you had in mind here?

[2017-04-19 23:27] mjibson commented on #15174
Great. Thanks. Mostly this means one less thing to put in the release notes.

[2017-04-19 23:47] mjibson opened #15191 "sql: figure out why RSG didn't catch #10545"
https://github.com/cockroachdb/cockroach/issues/10545 should have been caught by RSG. There may be more lurking down there.

[2017-04-20 01:08] petermattis commented on #14673
Hmm, I don't know if it is the same, but this isn't urgent to think about for the next few weeks. Let's revisit when 1.0 is out the door.

[2017-04-20 01:10] petermattis opened #15193 "sql: EXPLAIN (TRACE) incompatible with sql.trace.txn.enable_threshold"
[code]

[code]

[2017-04-20 02:15] cuongdo opened #15194 "distsql: OOM with 3-way TPC-H query 3"
Build: 1e0b89a
Config: 6-node cluster Standard_D3 Azure VMs
Test: `tpch -concurrency 3 -queries 3`

memprof:
[profile001.pdf](https://github.com/cockroachdb/cockroach/files/939440/profile001.pdf)

Logs:
[cockroach.stderr.txt](https://github.com/cockroachdb/cockroach/files/939446/cockroach.stderr.txt)

[DistSQL query plan](https://cockroachdb.github.io/distsqlplan/decode.html?eJzcmFFv4kYUhd_7K6x52a

[2017-04-20 02:18] cuongdo commented on #15194
query is here: https://github.com/cockroachdb/loadgen/blob/master/tpch/query3.go

[2017-04-20 02:38] vivekmenezes commented on #12424
[code]

an index backfill on a 66M row table took 7h49s which is around 2345 ops/sec

[2017-04-20 05:40] mberhault commented on #1675
not quite, but this is partially obsolete (especially the cockroach-prod mention). We have enough bugs open for cert stuff that this is pretty much covered.

[2017-04-20 05:40] #1675 closed

[2017-04-20 06:29] a6802739 commented on #14219
@dt , got it. I will have a try then.

[2017-04-20 06:50] cockroach-teamcity commented on #15023
SHA: https://github.com/cockroachdb/cockroach/commits/f6847aa114df055c7cbb8b8ba6e942c8c5b65fb8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=229207&tab=buildLog

[2017-04-20 07:28] cockroach-teamcity opened #15195 "ccl/sqlccl: TestBackupRestoreLocal failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f6847aa114df055c7cbb8b8ba6e942c8c5b65fb8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=229314&tab=buildLog

[code]

[2017-04-20 08:16] a6802739 opened #15197 "build : Make Build error"
When I run `make build` in my local MAC environment, I met a error like:
[code]

my local environment variable is like:
[code]
go environment is like :
[code]
gcc version is :
[code]

[2017-04-20 08:27] knz commented on #15194
I think this is addressed by Justin's memory PR.

[2017-04-20 10:00] mattiasmak commented on #15026
I had to do some crazy stuff to get the nodes up and running. I tried many things until one finally was up, then the rest could join that one.

what logs do you refer to? Not the one on top of this issue?

[2017-04-20 10:11] mattiasmak commented on #15157
[code]
[code]
These two queries are executed:

[code]

[2017-04-20 10:59] tamird commented on #15197
Go doesn't use gcc on macOS. Can you post the output of `clang --version`
and `uname -a`?

On Apr 20, 2017 04:16, "songhao" <notifications@github.com> wrote:

[2017-04-20 12:24] petermattis commented on #12424
So the index backfill was half the speed this time? That's not good. Any idea what happened?

[2017-04-20 12:40] a6802739 commented on #15197
clang version is:
[code]

[code]

[2017-04-20 13:06] knz commented on #9189
@bdarnell can you clarify your motivation for keeping the INSECURE as env var for clients?

[2017-04-20 13:29] cuongdo commented on #12424
Did this test config get fixed with the new `COCKROACH_PREEMPTIVE_SNAPSHOT_RATE` setting? I don't maintain the schema change test, so I didn't modify it. The other allocator tests are using that.

I don't really see the connection, but it is a variable nonetheless...

[2017-04-20 13:46] knz opened #15200 "settings: remove the cache"
Off a comment from @dt on #15190: if all the settings use async updates
(and we can make string settings do to via `atomic.Value`) then the settings cache can be removed.

[2017-04-20 13:48] vivekmenezes commented on #12424
@petermattis the original performance I had posted was incorrect because the index backfill ran before the column backfill in that test, and the number of rows statistic was computed after the column backfill was completed. FYI, blockwriter continues to write during both backfills. So in effect the original performance numbers were on a smaller table. The 2345 ops/sec number in the new results is

[2017-04-20 13:52] mattiasmak commented on #15026
The cluster behaved very odd since this. Even before the latency was very high. I created a new cluster but insecure this time. I restored all data and pointed the apps to the new cluster. Now the P50 latency is around 3.7ms. That's an improvement of 100 times.

[2017-04-20 13:54] knz commented on #15200
Another optimization:

[2017-04-20 13:54] #13851 closed

[2017-04-20 13:55] tamird commented on #15197
Can you run `make clean` and try again? Looks like your jemalloc's configure script was run with a different compiler than the one you're trying to use now.

Most likely this is a result of you having both clang and gcc on your machine, and inconsistently using both. If you installed gcc for cockroach, you should uninstall it and just use clang.

[2017-04-20 14:03] vivekmenezes commented on #15181
is this the same issue as https://github.com/cockroachdb/cockroach/issues/14156

It's a relative low priority for me.

The maximum commit time is issue

https://github.com/cockroachdb/cockroach/issues/14198

both these are not 1.0 issues at the moment

[2017-04-20 14:12] vivekmenezes commented on #14282
assigning to myself because I'm making major changes in this area.

[2017-04-20 14:13] vivekmenezes commented on #14386
assigning to myself because I'm making major changes in this area

[2017-04-20 14:18] bdarnell commented on #9189
@knz the motivation for all of the client-side environment variables is that you should be able to set things up so that `cockroach sql` with no arguments will connect to your preferred cockroach cluster. That means you need to be able to specify host, port, and either certs or insecure mode.

[2017-04-20 14:22] knz commented on #9189
ok thanks

[2017-04-20 14:31] cuongdo commented on #15194
@justinj says his PR unfortunately doesn't fix this

[2017-04-20 14:33] #13451 closed

[2017-04-20 14:41] justinj commented on #15194
The only change my PR should affect in DistSQL is use of `CONCAT_AGG` and `ARRAY_AGG` so I don't think it will address this, but it does make memory monitoring more accessible to DistSQL so it would conceivably allow us to track what's happening here.

[2017-04-20 14:55] #9709 closed

[2017-04-20 14:58] justinj commented on #13640
Addressed by #14904.

[2017-04-20 15:11] andreimatei commented on #15181
dupe of #14156

[2017-04-20 15:11] #15181 closed

[2017-04-20 15:11] andreimatei commented on #14156
from dupe #15181

I think this code should make it clear what the outer txn is used for and limit its scope accordingly. It's used for getting a lease and for planning (for the rangeIterator) - I think it should stop there and we should configure the flows without a txn.

[2017-04-20 15:17] cockroach-teamcity opened #15204 "teamcity: failed tests on master: testrace/TestBackupRestoreSystemJobs"
The following tests appear to have failed:

[#229661](https://teamcity.cockroachdb.com/viewLog.html?buildId=229661):

[code]

[2017-04-20 15:18] danhhz opened #15205 "restore: slows down over time"
This 2tb restore finished the first 1tb at more or less a consistent pace, but obviously slows down over time. Unclear if there's anything to do here, but opening this for discussion

This was a restore on a 10 node cluster with no other traffic. Ignore everything after the drop, one of the nodes ran out of disk

![image](https://cloud.githubusercontent.com/assets/52528/25238285/ffc3d412-25ba-11e7

[2017-04-20 15:31] danhhz commented on #15205
My current theory is that the naive rate limiting is at fault here. We allow num_nodes outstanding Import requests at any given time, so it's possible that some nodes weren't doing any work. Dunno why this would be more likely over time. We do start the restore by scattering leaseholders, but it's hard to see if this becomes less balanced over time because of quiescence.

Alternatively, rocksdb co

[2017-04-20 15:33] petermattis commented on #15205
This could be related to https://github.com/cockroachdb/cockroach/issues/14108. We could take a look at the node statistics page to see if anything is increasing appreciably over time (e.g. disk I/O).

[2017-04-20 15:36] danhhz commented on #15205
It's a terraform cluster, so unfortunately I don't have grafana

[2017-04-20 15:40] cuongdo opened #15206 "sql/distsql: use external storage for larger queries"
Investigating #15194 (OOM while executing TPC-H query 3 load) was a reminder that we need to determine how to constrain the memory used by running queries while still allowing them to execute. Short-term steps might include switching to more efficient in-memory encodings, but that will be an incremental improvement.

Possible longer-term approaches include disk-based sorting and aggregation, as we

[2017-04-20 15:41] cuongdo commented on #15206
I think we should take steps to address this in 1.1, so I've assigned myself temporarily.

[2017-04-20 15:44] #10354 closed

[2017-04-20 15:54] #14985 closed

[2017-04-20 16:03] petermattis commented on #7882
A lot of changes have been made in lease handling (which is likely the cause of the tens of second wait before success), but handling of of disk-full errors deserves further attention in 1.1.

[2017-04-20 16:03] danhhz opened #15210 "storage: size based raft log truncation"
We currently truncate the raft log at 100 entries. Restores work via ~1MB WriteBatch requests, so this means the raft log can be very large without being truncated. (Anecdotally, we've seen this in testing RESTORE where the size of sstables on disk end up 2x the "Live Bytes" metric.) We should add a size component to the truncation threshold.

(someone please correct me if any of the core details

[2017-04-20 16:03] petermattis commented on #14108
@spencerkimball To add simple RocksDB latency metric to see if that is the source of the slow down.

[2017-04-20 16:21] cockroach-teamcity opened #15211 "teamcity: failed tests on master: test/TestBasicAutoReplication, test/TestTxnDBReadSkewAnomaly, test/TestExport, test/TestPGPreparedExec, test/TestFindValidSplitKeys, test/TestFakeSpanResolver, test/TestPurgeOldLeases, test/TestLivenessAPI, test/TestBackupRestoreStatementResult, test/TestDB_Inc, test/TestStoreInitAndBootstrap, test/Example_max_results"
The following tests appear to have failed:

[#229799](https://teamcity.cockroachdb.com/viewLog.html?buildId=229799):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-20 16:24] #14837 closed

[2017-04-20 16:37] cockroach-teamcity opened #15213 "teamcity: failed tests on master: test/TestDistSQLRangeCachesIntegrationTest, test/TestMisplannedRangesMetadata, test/TestFakeSpanResolver, test/TestBackupRestoreStatementResult, test/TestBasicManualReplication, test/TestStoreInitAndBootstrap, test/TestMVCCTimeSeriesPartialMerge, test/TestNodeJoin, test/TestExport, test/TestTxnDBReadSkewAnomaly"
The following tests appear to have failed:

[#229814](https://teamcity.cockroachdb.com/viewLog.html?buildId=229814):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-20 16:38] petermattis commented on #15210
We do size-based truncation, but the heuristics refuse to perform a truncation if the number of stale entries is less than 100. I believe that is purely historical. I think we could change the heuristics fairly easily. We'd need to adjust the heuristics in both `raftLogQueue.{shouldQueue,process}` as well as the heuristic in `Replica.handleReplicatedEvalResult` which only adds to the Raft log queu

[2017-04-20 16:40] petermattis commented on #14927
Punting to 1.1 as investigation did not reveal any low-hanging fruit here.

[2017-04-20 16:43] cockroach-teamcity opened #15214 "teamcity: failed tests on master: test/TestFakeSpanResolver, test/TestTxnDBReadSkewAnomaly, test/TestBackupRestoreStatementResult, test/TestMVCCTimeSeriesPartialMerge, test/TestDB_InitPut, test/TestAcquireFreshestFromStoreRaces, test/TestAdminAPIDatabaseVirtual, test/TestExport, test/TestStoreInitAndBootstrap, test/TestBasicManualReplication"
The following tests appear to have failed:

[#229835](https://teamcity.cockroachdb.com/viewLog.html?buildId=229835):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-20 16:44] petermattis commented on #13333
@chandradeepak I've tried testing on a 3-node cluster and been unable to reproduce. Are you still seeing this problem? Much has changed in the system since you originally reported the issue and I'm wondering if you can reproduce on a recent beta.

[2017-04-20 16:48] petermattis commented on #14143
@chandradeepak An idle 3-node cluster on my machine shows memory growth, but purely in CGo memory usage and all of that growth is capped by the `--cache` setting (which defaults to 25% of physical memory per node). Can you still reproduce this? If yes, I'd love to see your debug logs and a heap profile.

[2017-04-20 16:51] tamird commented on #14405
@vielmetti any luck?

[2017-04-20 17:06] RaduBerinde commented on #15194
In addition to memory accounting (which would turn the OOM into query errors), we can save memory by never storing `EncDatum`s (e.g. in `sorter`), and storing just `Datum`s instead. The `EncDatum`s are larger, and (more importantly), their encodings can keep bigger slices alive.

We should also fix the group renders to avoid creating duplicates. In this plan we have three duplicate renders before

[2017-04-20 17:13] jordanlewis commented on #15213
This is a failed RocksDB assertion:

[code]

[2017-04-20 17:13] jordanlewis commented on #15211
Same as #15213

[2017-04-20 17:13] #15211 closed

[2017-04-20 17:15] jordanlewis commented on #15214
Segfault in RocksDB? Looks similar to #15213.

[2017-04-20 17:20] cockroach-teamcity opened #15216 "teamcity: failed tests on master: test/TestFakeSpanResolver, test/TestTxnDBReadSkewAnomaly, test/TestBackupRestoreStatementResult, test/TestStoreInitAndBootstrap, test/TestBasicAutoReplication, test/TestExport, test/TestMVCCTimeSeriesPartialMerge, test/TestDistSQLRangeCachesIntegrationTest, test/TestAdminAPIZoneDetails"
The following tests appear to have failed:

[#229875](https://teamcity.cockroachdb.com/viewLog.html?buildId=229875):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-20 17:23] chandradeepak commented on #13333
@petermattis Hi peter thanks for trying it again. we recently deployed a new 3 node cluster . we are using the latest version of cockroach there. so far we haven't seen growth like last time . But if it happens again i will report with logs.  But before closing the issue i am planning to wait couple of weeks to see the growth happens again since we have deployed it recently like 3 days before.

[2017-04-20 17:29] cockroach-teamcity opened #15217 "teamcity: failed tests on master: test/Example_cert, test/TestAdminAPITableDetails/lower, test/TestBasicAutoReplication, test/TestDB_Scan, test/TestFindValidSplitKeys, test/TestExport, test/TestAdminAPITableDetails, test/TestAdminAPITableDetails/upper, test/TestTxnDBReadSkewAnomaly, test/TestStoreInitAndBootstrap, test/TestBackupRestoreStatementResult, test/TestParallelCreateConflictingTables, test/TestFakeSpanResolver, test/TestAdminAPITableDetails/lower_with_space"
The following tests appear to have failed:

[#229884](https://teamcity.cockroachdb.com/viewLog.html?buildId=229884):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-20 17:56] asubiotto commented on #14933
Looking at memory usage through the admin ui confirms that memory is accounted for correctly. I check out a commit from March 1st (281777256) which I believe was around when these TPC-H queries were run with single-node SQL and ran into the same issue.

This query runs but uses up ~13.8GiB without memory accounting. I don't think there's anything else left to do here as this pertains to limiting l

[2017-04-20 17:56] #14933 closed

[2017-04-20 18:08] knz commented on #8862
Just had an extensive discussion with @nvanbenschoten and @danhhz about this.

Context: CockroachDB currently stores identifiers in storage using the same case that was used in CREATE (e.g. `CREATE TABLE RedCamel` causes a descriptor with name "RedCamel") but performs case-insensitive lookups (so that `select * from redcamel` works).

There are two competing proposals in the issue history so far:

[2017-04-20 18:13] knz commented on #13424
From @andreimatei:

[2017-04-20 18:33] BramGruneir opened #15221 "build: windows binaries don't have the extension .exe"
After extracting the binary, it needs to be renamed from `cockroach` to `cockroach.exe`.

The directory looks good
`c:\binary\cockroach-latest.windows-6.2-amd64.exe\cockroach` but the file itself has the wrong extension.

[2017-04-20 18:37] danhhz commented on #15221
Ha. Yup. I also discovered this when cutting the beta

[2017-04-20 18:41] BramGruneir opened #15223 "build: windows binaries should not be tar"
This is not standard practice on windows and requires using a tool like 7-zip twice to get to the file.

More standard are just using a straight `zip` extension instead of even gzip.  If that's an option, that would be ideal.

There's zip extraction built into windows (for a long time now) but none for gzip or tar.

One last thing, the directory inside the archive should not have a `.exe` in the n

[2017-04-20 18:43] BramGruneir commented on #15221
cc: @jseldess

[2017-04-20 18:52] #15200 closed

[2017-04-20 18:55] BramGruneir commented on #15223
The 2nd part of this about naming is being addressed in #15222.

[2017-04-20 19:12] mberhault commented on #9189
`COCKROACH_INSECURE` is gone, just `COCKROACH_CERTS_DIR` left. I'll do that real quick.

[2017-04-20 19:17] dianasaur323 commented on #3232
@mberhault is this still 1.0? Looks like Spencer moved it off 1.0. I moved it to 1.1 for now.

[2017-04-20 19:35] #11221 closed

[2017-04-20 19:54] #15059 closed

[2017-04-20 20:08] cockroach-teamcity opened #15227 "teamcity: failed tests on master: testrace/TestBackupAsOfSystemTime"
The following tests appear to have failed:

[#230126](https://teamcity.cockroachdb.com/viewLog.html?buildId=230126):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-20 20:17] #15221 closed

[2017-04-20 20:18] knz commented on #8862
@justinj how comfortable would you be with this?

[2017-04-20 20:23] asubiotto commented on #14288
Ran
[code]

on 6-node `navy` ([Standard_D3_v2](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general#dv2-series)), using the TPC-H scalefactor=1 dataset. `lineitem` has 6million rows (~2.5GiB).
The query runs correctly, [the execution plan looks good](https://raduberinde.github.io/decode.html?eJy8lEFLwzAUx-9-ivI_bRBw7bo6e6p42sFN5naSILV5lEKXlCQFRfrdpYvgNiRFNnbry3u__N7_0HxBKk

[2017-04-20 20:23] arjunravinarayan commented on #14288
Can you report the cockroach sha you used for future reference?

[2017-04-20 20:23] cuongdo commented on #8862
@eisenstatdavid can you take a look?

[2017-04-20 20:25] petermattis commented on #14288
@asubiotto The ranges for the `lineitem` table are only spread across 4 nodes? Or is there another reason the query plan only has 4 TableReaders?

[2017-04-20 20:27] arjunravinarayan commented on #14288
Is there a quick way to find this information out? Last time I asked, there wasn't a clean way to figure out, given a table, what ranges the table was spread across.

[2017-04-20 20:29] arjunravinarayan commented on #14288
Admin UI says there are 74 ranges for table lineitem (but I can't figure out how to find range IDs or node information for those ranges), so it being spread across just 4 nodes seems strange (but possible).

[2017-04-20 20:32] petermattis commented on #14288
`SHOW TESTING_RANGES FROM TABLE <table-name>`

[2017-04-20 20:33] eisenstatdavid commented on #8862
Sure.

[2017-04-20 20:36] vielmetti commented on #14405
OK, some reports.

`make TAGS=stdmalloc` builds just fine.

I get this error `c++: error: unrecognized command line option ‘-msse4.2’` when I try to do `make test`. It looks like it's coming from

[code]

[2017-04-20 20:37] arjunravinarayan commented on #14288
Thank you @petermattis. It appears there are replicas and lease holders on every node, so let me investigate.
Also, there are 24 ranges, for 72 replicas, so clearly the Admin UI is buggy when it says there are 74 ranges. I will file an issue.

[2017-04-20 20:37] asubiotto commented on #14288
I updated the execution plan. I think the gateway node probably had a cache that hadn't been updated. The query plan now shows only 5 TableReaders which is still weird.

[2017-04-20 20:38] tamird commented on #14405
I think I've fixed that in the past day - if you pull a commit later than https://github.com/cockroachdb/cockroach/commit/9b5de83b0652e14786259e5b76011060a5fd0cb7 and try `make build`, things should work.

`TAGS=stdmalloc` is no longer a thing, though.

[2017-04-20 20:40] asubiotto commented on #14288
Actaully, 1 doesn't seem to be a lease holder for any range so it makes sense.

[2017-04-20 20:40] arjunravinarayan commented on #14288
Sure, but it was showing 4 before, and that was certainly incorrect. cc @andreimatei.

[2017-04-20 20:46] vielmetti commented on #14405
OK, I looked at requirements more carefully and ran across this:

[code]

[code]

I'll track down a more recent vintage GCC for this machine.

[2017-04-20 20:47] tamird commented on #14405
I think you're fine with that GCC version, just give it another try with the more recent sources. My guess is that your machine doesn't support SSE4.2 anyway.

[2017-04-20 20:50] bdarnell commented on #14405
SSE 4.2 is an intel/amd64 thing; this thread is about ARM. We shouldn't add `-msse4.2` on other architectures.

[2017-04-20 21:15] cuongdo commented on #14852
I saw that this had a dramatic effect on run times for our nightly allocator tests, which test both up-replication and rebalancing, under `photos` and `block_writer` load.

However, until we have more data to prove that there is a general problem, we should probably take no action for now. It's simple to bump the default for `COCKROACH_PREEMPTIVE_SNAPSHOT_RATE` anyway.

[2017-04-20 21:47] benesch opened #15231 "sqlccl: backups should keep track of the creating cluster's ID"
We should be able to report an error if a user specifies `BACKUP... INCREMENTAL FROM foo` where `foo` is a backup (potentially of identical tables) from a different cluster.

[2017-04-20 21:58] bdarnell commented on #15231
Is that really an error? If I backup, destroy my cluster, and restore the backup into a new cluster, can I make an incremental backup based on the same one I just restored, or is there some reason I need to make a new full backup first?

[2017-04-20 22:12] dt opened #15232 "backup: include version info in backup desc"
we should include server version, cluster id and "backup version" (e.g. 0 for now, identifying the file format) in the proto.

[2017-04-20 22:15] bdarnell commented on #12772
I can no longer reproduce this (but I could on Jan 19 according to https://github.com/cockroachdb/cockroach/issues/12753#issuecomment-273800537).

The issue here is that a lease transfer fails so when we try to make a replica change the node we're trying to remove still has the lease. My best guess is that this was fixed by #13354 which made lease transfers more robust.

[2017-04-20 22:15] #12772 closed

[2017-04-20 23:08] vielmetti commented on #14405
yeah, I think if the CMakefile has a conditional that doesn't do -msse4.2 (but instead in some future time, supports whatever ARM assembler is needed to take advantage of acceleration in the architecture) that we'll be fine.

[2017-04-20 23:09] tamird commented on #14405
As I said earlier, if you build with https://github.com/cockroachdb/cockroach/commit/9b5de83b0652e14786259e5b76011060a5fd0cb7 or later, we already omit `-msse4.2`.

[2017-04-20 23:32] #9625 closed

[2017-04-21 00:08] cockroach-teamcity opened #15236 "teamcity: failed tests on master: testrace/TestScatter"
The following tests appear to have failed:

[#230330](https://teamcity.cockroachdb.com/viewLog.html?buildId=230330):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-21 00:32] #15174 closed

[2017-04-21 01:41] bdarnell commented on #13335
This is unreproducible, and since it's a timeout during shutdown it's much more likely to be a test-only issue than a real bug. It's also possible that it's a duplicate of #12772, but sometimes it manifested as a timeout during shutdown because the failure caused the test to exit at a weird point.

[2017-04-21 01:41] #13335 closed

[2017-04-21 01:43] bdarnell commented on #12753
In https://github.com/cockroachdb/cockroach/issues/13335#issuecomment-278969446, the same failure was seen in the SplitWins variant of this test, so it occurs either way. This is the most concerning of the three SplitSnapshotRace test failures I've been looking at today since it does indicate a query returns incorrect data.

[2017-04-21 04:10] bdarnell commented on #12753
It's interesting that in both the SplitWins and SnapshotWins the error is the values 11 vs 21, indicating that it's the increment of 10 on the *left* half of the split that is affected (no matter which side wakes up first). All the interesting stuff in a split involves the right half, so this may not be split-related per se.

The simplest answer for what's going on here is that we don't provide an

[2017-04-21 06:21] cockroach-teamcity opened #15240 "ccl/storageccl: TestExport failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/3e42c562d05ecf582ea0c06b1466e5b2f38226a9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=230400&tab=buildLog

[code]

[2017-04-21 07:30] cockroach-teamcity commented on #14969
SHA: https://github.com/cockroachdb/cockroach/commits/3e42c562d05ecf582ea0c06b1466e5b2f38226a9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=230610&tab=buildLog

[2017-04-21 07:33] #15223 closed

[2017-04-21 10:29] knz opened #15242 "settings: standardize the interaction between env vars and settings"
Right now we have a bit of a floating uncertainty about configuration:

1. when should a configuration knob have an env var or a cluster setting?
2. if both, in which order do we prioritize? e.g. should the env var be the default for the setting? Or override?
3. what about cmdline flags and session vars?

We need to clarify this in our docs, in our mind and throughout the code.

**We must ensure t

[2017-04-21 10:29] knz commented on #15242
cc @bdarnell @dt @arjunravinarayan

[2017-04-21 10:32] knz commented on #15045
see https://github.com/cockroachdb/cockroach/issues/15242

[2017-04-21 10:43] knz opened #15243 "settings: we actually need per-node customizable settings"
So I though we could delay this until much later but perhaps not:

COCKROACH_BASE_SQL_MEMORY_BUDGET
COCKROACH_MAX_ALLOCATED_UNUSED_BLOCKS
COCKROACH_MEMORY_ALLOCATION_CHUNK_SIZE
COCKROACH_SIMULATED_OFFSET

These must be configurable 1) differently per node 2) at run-time, so their value can be tweaked while a node is running.

Perhaps there are others too.

cc @dt

[2017-04-21 13:09] petermattis opened #15245 "storage: flip the default for kv.raft.log.sync"
1. Quantify the slow down for enable syncing of the Raft log.
2. Flip the default from `false` to `true`.

[2017-04-21 13:17] petermattis commented on #15243
`COCKROACH_{MEM,CPU}PROF_INTERVAL` are interesting to configure both cluster-wide and at a per-node level.

[2017-04-21 13:43] petermattis commented on #15163
Another incident on `blue`:

![screen shot 2017-04-21 at 9 15 24 am](https://cloud.githubusercontent.com/assets/6201335/25279101/6eb1f6a2-2673-11e7-97c5-b8106252222a.png)

Note that the queries didn't drop completely to 0, probably because `photos` was running on a handful of nodes. I believe `block_writer` traffic was completely wedged. The query drop happened 5min after the start of a chaos even

[2017-04-21 13:48] spencerkimball commented on #15163
No that would almost certainly not fix this problem. It's these exact sorts of problems we are worst at debugging. This is why I was advocating for a page that gathers up all of the problems a node is experiencing from the top down.

-

[2017-04-21 13:50] arjunravinarayan commented on #15242
I agree with all of this, although I can only speak for those ENV vars/settings that I am familiar with, so we do need a few more people to chime in. We should also be careful and eliminate as many ENV vars as possible. ENV vars are set per-node, and that's what's really causing all the problems here. Most things do not need that level of flexibility, so I think we should move things to cluster se

[2017-04-21 13:55] spencerkimball commented on #15163
Damn mobile experience. I was trying to rewrite that as "from bottom up" because it seems increasingly evident that top down is usually a waste of time in terms of diagnosing underlying problems:

- query every range on every store:
  - have raft leader?
  - attempting to get lease?
  - last lease request error if yes
  - raft log size
  - command queue size / wait times
  - distribution of recent

[2017-04-21 14:00] petermattis commented on #15163
Let's leave the brain storming for better troubleshooting mechanisms to a separate PR.

Lots of slow requests recorded by Lightstep during the 0 QPS event. Looks like we're not electing a Raft leader:

[code]

Strange that we're not re-proposing more frequently for `reasonTicks`. I wonder if we're starving ranges of Raft processing time somehow.

Cc @bdarnell

[2017-04-21 14:00] dt commented on #15242
my main complaint with env vars having to set them on every node and then having to restart to change them -- if a behavior can be changed at runtime, it seems like it should probably *not* be controllable via an env var (which can't be).

[2017-04-21 14:03] knz commented on #15242
As I suggest above if some knob has both a setting and and env var, then the env var should only be used as an override for testing and probably would be used only rarely.

[2017-04-21 14:07] dt commented on #15242
I'm slightly -1 on an env overriding a cluster setting: when you change the setting, you might be surprised with nothing happens because of an env flag passed a long time ago, at server start.

As you say, I think the best behavior is just avoiding mixing them.

[2017-04-21 14:08] arjunravinarayan commented on #15242
If it overrides, there should at least be a sign somewhere that says OVERRIDDEN BY ENV VAR when you do a SHOW on that cluster setting.

[2017-04-21 14:09] knz commented on #15242
+1 on @arjunravinarayan's suggestion, that would alleviate david's concern

[2017-04-21 14:11] tamird commented on #14727
Looks like this test is still failing, not sure if with DistSQL or not, with the error:
[code]

https://teamcity.cockroachdb.com/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=230387#_focus=3156

[2017-04-21 14:28] dt commented on #15242
somewhat, but only if you actually think go go `SHOW CLUSTER SETTINGS` on that node. still generally dislike mixing them, since you are forced to violate one of them and either way is going to confuse someone.

[2017-04-21 14:37] bdarnell commented on #15242
I don't think we should ever have an env var (or command-line flag) and a cluster setting for the same thing. We only ever used env vars for two hacky reasons: A) we didn't have cluster settings yet and B) the other alternative, command-line flags, would be more visible to users via `--help` (although at least now we have the ability to mark flags as "hidden").  (and C: client-side convenience, bu

[2017-04-21 14:40] jseldess commented on #9189
@mberhault, is there a separate issue tracking removal of `COCKROACH_CERTS_DIR` from `cockroach start`?

[2017-04-21 15:13] dt commented on #15243
we could add a nodeID col to `system.settings` and then the updater could use that to read its node-specific values.

maybe we should generalize right away though just add a `filter` col and you can start a node with `--settings-filter=blah` (or just reuse `locality`?)

[2017-04-21 15:15] bdarnell commented on #15163
Most ranges became quiescent during this incident:
![image](https://cloud.githubusercontent.com/assets/160562/25283705/a52e39de-2682-11e7-9ccf-96e061b96890.png)

And time tracked in the raft scheduler correspondingly dropped:
![image](https://cloud.githubusercontent.com/assets/160562/25283732/ba753e82-2682-11e7-8905-90c23fe60ed5.png)

So it doesn't look like we're starving any ranges for processin

[2017-04-21 15:16] dt commented on #15243
or, maybe at least for debugging settings, it might also make sense to be able to just change the in-memory value on a node directly, rather than recoding it in `system.settings` at all?

[2017-04-21 15:18] petermattis commented on #15163
It was running a development build from yesterday. Yes, it had #14939.

[2017-04-21 15:33] knz commented on #15242
Ok I tend to agree, but that means we should avoid situations where there is an env var and a cluster setting for the same thing?

In which case we should really eliminate the pattern where the env var serves as a default for the setting, which I have seen appearing in the code this week!!!

[2017-04-21 15:34] petermattis commented on #15242
I agree, though I did this for the `kv.snapshot.{rebalance,recover}.rate`, but that's because a nightly test was using the env var which I didn't know how to change.

[2017-04-21 15:36] knz commented on #15242
@petermattis ok, and then your comment here strongly suggests we should provision a way to set up the cluster settings upfront for newly created clusters.

[2017-04-21 15:39] dt commented on #15242
right now that would be `cockroach start --background && cockroach sql -e "SET CLUSTER SETTING...` but maybe we want a way that start picks up initial settings?

[2017-04-21 15:41] bdarnell commented on #15163
![image](https://cloud.githubusercontent.com/assets/160562/25284408/e9b20570-2684-11e7-9438-4be91a7ab7e2.png)

OK, let's zoom in on the raft messages being sent. This cluster is sending snapshots (or at least MsgSnap messages) fairly regularly even before the chaos event starts at 10:24. That's surprising. MsgSnap messages indicate raft-initiated snapshots (I think; I'm a little fuzzy on the inter

[2017-04-21 15:46] bdarnell commented on #15242
Another thing for the explicit init command, perhaps.

[2017-04-21 15:49] wdroste commented on #13991
+1

[2017-04-21 15:58] mberhault opened #15249 "distsql: panic on "expected consecutive span pieces""
I upgraded `navy` this morning to 9873f30d6329393539af06b2993c9630cfa0ad8f

[code]

Two nodes died: `cockroach-navy-0005` and `cockroach-navy-0001` about 1.5/2 hours later:

from `cockroach-navy-0005`:
[code]

and `cockroach-navy-0001`:
[code]

[2017-04-21 15:59] mberhault commented on #15249
@cockroachdb/distsql

nodes are still down for investigation.

[2017-04-21 16:01] mberhault commented on #9189
nope, this one applies to all env variables on the `start` command. I just did `--insecure` first because it proved to be annoying a few weeks ago.

[2017-04-21 16:02] knz opened #15250 "sql: disable direct access to the system.settings table"
Right now users can set cluster settings using the `set cluster setting ...` statement, and view the settings using various ways.

Meanwhile  users with sufficient privileges (including root) can write directly to `system.setting`, including inserting non-sensical values in there.

It seems to me we want to disallow direct access to this table even for the root user. Thoughts?

cc @petermattis @bd

[2017-04-21 16:05] tamird commented on #15249
Are there interleaved tables on this cluster? Possibly distsql isn't coping
well with @eisenstatdavid's #15043.

On Fri, Apr 21, 2017 at 11:59 AM, marc <notifications@github.com> wrote:

[2017-04-21 16:08] knz commented on #15250
Also the RFC was pretty explicit:

instead be read-only, and only readable by the root user, thus forcing the use
of the `SET` statement, ensuring validation and allowing for changes to be in a
`settings_history` table (e.g. with a`(name,time)` key and the old value).

The fact the code is doing something else is ... strange

[2017-04-21 16:12] tamird commented on #14443
Fixed (really this time) in #15247.

[2017-04-21 16:17] dt commented on #15250
Yep, as you found, this is discussed in the RFC, implementation of which is in-progress.

The table was added with its privilege validation that will accept either r/w or r/o to facilitate this change (h/t to @benesch for that).

[2017-04-21 16:24] knz commented on #15250
I looked at this and saw it is hard to not have the write permission if we want a `set cluster setting` statement to do the right thing; unless, that is, we had a super-super-user which the clients cannot use but which `set cluster setting` could use under the hood.

[2017-04-21 16:27] dt commented on #15250
When I looked at this initially, I was thinking we'll want something similar to what we do for privilege checks when servicing view queries, e.g. the `SET` takes full responsibility for statement privilege check, then opts its internal executor out of doing further checks.

[2017-04-21 16:28] knz commented on #15250
How do you do "opt the internal executor out"?

[2017-04-21 16:30] dt commented on #15250
same way views queries currently do it: flag on internal planner.

[2017-04-21 16:41] justinj commented on #10545
Commenting here after discussion with Raphael because there's a bit of subtlety I didn't immediately recognize and I'd like to have it documented:

This is probably more extensive than needed but I'm writing it down anyway to make sure my thoughts are clear, so might as well have it in an accessible place :)

The subtlety here is that it's not clear in what account to log memory and at what point

[2017-04-21 16:59] petermattis commented on #15163
`MsgSnap` indicates any type of snapshot. See `Store.HandleSnapshot`.

There are also Raft dropped messages during this time, which is surprising given the QPS.

[2017-04-21 17:48] RaduBerinde commented on #15249
Looks like the span resolver returns those two spans with the same start
key @andreimatei

[2017-04-21 17:50] bdarnell commented on #15163
OK, paging back in exactly how the metrics work: MsgSnap is used for all snapshots, not just raft-initiated ones. It's recorded on the receiver side at the start of the process. The generated and applied metrics are recorded at the end. The difference in MsgSnap (almost 30 qps in the pre-chaos steady state) and generated/applied (0.05 qps) indicates that a lot of attempted snapshots are being decl

[2017-04-21 17:56] bdarnell commented on #15163
Yeah. There's a large spike of dropped raft messages just after the part I displayed here; I cropped it out so it wouldn't dominate the y axis.

[2017-04-21 18:31] RaduBerinde commented on #15249
Discussed with Andrei. The planner code makes some optimistic assumptions about the SpanResolver. Easy fix.

[2017-04-21 20:14] petermattis commented on #15163
Yep, the "plateau" is rebalancing back on to the previously dead node.

Under-replicated isn't a problem, though. Unavailable is. And we're not seeing unavailable ranges. It does seem suspicious that rebalancing was occurring when the chaos event happened. Perhaps the under-replicated/unavailable metrics are buggy.

This definitely appears to be happening, but I'm not seeing how this explains the

[2017-04-21 20:20] petermattis commented on #15163
I have to step out for a moment, but quick inspection of `calcReplicaMetrics` shows it is using `len(desc.Replicas)` to compute quorum. Perhaps this is https://github.com/cockroachdb/cockroach/issues/10506.

[2017-04-21 20:43] bdarnell commented on #15163
Yeah, I'm suspicious of those metrics too.

![image](https://cloud.githubusercontent.com/assets/160562/25295085/19c0f6e2-26b0-11e7-9538-27e8bce7d68d.png)

Here, the orange line is the 10:24 chaos event that caused an outage; the others were fine. We can see that the preceding outage was relatively long, leaving it to lose more of its ranges before coming back up, and taking longer to recover. It w

[2017-04-21 20:50] mjibson opened #15255 "sql: verify float overflowing to Inf is desired"
The [spanner docs](https://cloud.google.com/spanner/docs/functions-and-operators#operators) say:

In cockroach:

[code]

In postgres:

[code]

Both postgres and spanner appear to refuse to ever produce `Inf` as a result unless an argument is already Inf. It is unclear if we should adopt this behavior or not.

[2017-04-21 20:56] tamird commented on #15255
Hm. What's the justification for our current behaviour? It doesn't seem
correct to me, intuitively.

On Fri, Apr 21, 2017 at 4:50 PM, Matt Jibson <notifications@github.com>
wrote:

[2017-04-21 21:02] mjibson commented on #15255
I don't believe there is one, it's the result of using Go's float64 everywhere and letting it dictate our behavior.

[2017-04-21 21:21] mjibson opened #15257 "sql: type rules create some weird errors"
[code]

This is obviously an error, but probably shouldn't be this one. Assigning this to ya'll for triage or closure.

[2017-04-21 21:26] mjibson opened #15258 "sql: figure out what `ESCAPE` in sql.y does"
Maybe delete it? Probably worth auditing the other weird operators too.

[2017-04-21 21:31] jordanlewis commented on #15258
It's supposed to let you choose an escape character for a regex that isn't `\`: https://www.postgresql.org/docs/9.6/static/functions-matching.html

I was looking at this recently, otherwise I wouldn't have known.

[2017-04-21 21:46] petermattis commented on #15163
I'm not sure I'm following you here. The orange line dips 5min into the outage which is when recovery starts (and when grafana decides to zero that metric). For the preceding 5min of the chaos event, everything was copacetic.

The preceding outage was longer, but recovery is prioritized after rebalancing (we accomplish this by disallowing rebalances while a node is too far behind in its Raft logs)

[2017-04-21 23:25] jseldess opened #15261 "cli: spelling and formatting errors in --allow-ca-key-reuse and --certs-dir help texts"
Spelling error:

[code]

Missing spacing/formatting:

[code]

[2017-04-22 00:12] cockroach-teamcity opened #15263 "teamcity: failed tests on master: testrace/TestBackupRestoreSystemJobs"
The following tests appear to have failed:

[#231100](https://teamcity.cockroachdb.com/viewLog.html?buildId=231100):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-22 00:15] benesch commented on #15263
This seems like #15003 striking again.

[2017-04-22 01:15] nvanbenschoten commented on #15257
This was introduced and discussed in https://github.com/cockroachdb/cockroach/pull/14593.

  of the limitation described on StrVal.AvailableTypes.

We should try to improve the error string, but it's a little unclear what the best approach to doing so is. One idea might be to expose a little more information from the `Constant` interface so that we can work around the limitation in `StrVal.Availab

[2017-04-22 05:35] jseldess commented on #14595
@knz, @bdarnell, what additional details would you like me to add to https://www.cockroachlabs.com/docs/sql-faqs.html#does-cockroachdb-support-a-uuid-type? Should we add an example?

[2017-04-22 06:15] jseldess opened #15265 "Need to limit root privileges on some system tables"
Noticed in the admin UI that the `root` user has full privileges on some `system` tables. Is this intentional? Seems risky.

For example:

<img width="931" alt="screen shot 2017-04-22 at 2 11 12 am" src="https://cloud.githubusercontent.com/assets/15893490/25301967/ffb3802a-2700-11e7-9477-49578abae4df.png">

I'm able to insert into that table and do other things, which can't be what we want?

[code

[2017-04-22 07:12] cockroach-teamcity commented on #14955
SHA: https://github.com/cockroachdb/cockroach/commits/1be901d9c8265fad8ac3d0f3d8a882030e223302

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=231294&tab=buildLog

[2017-04-22 07:23] richardartoul commented on #13362
Hey Knz,

Could I take a stab at this? I think I found the relevant code in the CLI and it seems like a good way to introduce myself to this codebase.

My guess is that I need to modify the sqlRowsToStrings and printQueryOutput functions in the CLI to stream rows to the formatters instead of passing them all at once. Sound about right?

[2017-04-22 07:34] cockroach-teamcity commented on #15023
SHA: https://github.com/cockroachdb/cockroach/commits/1be901d9c8265fad8ac3d0f3d8a882030e223302

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=231361&tab=buildLog

[2017-04-22 11:03] knz commented on #14595
Yes probably examples would be good, or perhaps links to the two builtins from_uuid/to_uuid.

[2017-04-22 11:05] knz commented on #13362
Yes, that's correct.

[2017-04-22 11:05] knz commented on #13362
Feel free to give this a shot!

[2017-04-22 11:07] knz commented on #15257
An alternative (perhaps simpler and more edifying for the user too) would be to explain where the error comes from. For example by prepending the operator candidates that caused the desired type to the typing error. We'd then get: `pq: error while typing <+> (candidates: date+int, int+int, ...): could not parse 'a' as type date)` or something like that.

[2017-04-22 12:04] mytototo opened #15267 "docs: show examples of Cockroach with Longhorn"
Hi there,

Is there any working example of a HA Cockroach with Longhorn?

Thanks.

[2017-04-22 12:34] #15261 closed

[2017-04-22 14:09] jordanlewis opened #15268 "sql: cleanup: allow use of AssertNoAggregationOrWindowing without a Parser"
Currently, the method `AssertNoAggregationOrWindowing` lives on the `parser.Parser` object even though it's often used in a static context.

Extract it into a receiverless function to prevent this ugliness.

From #15256.

[2017-04-22 14:47] jordanlewis commented on #15257
That's a good idea - while we're at it, we should add an error like this to the case where function overload resolution fails to narrow the list down to exactly 1 match.

[2017-04-22 15:01] novabyte opened #15269 "Nakama server cannot apply migrations with beta-20170420"
I cannot run a migration with Nakama which worked with beta-20170330.

The start of the log file for cockroachdb:

[code]

The error output for Nakama server:

[code]

The important error message is "pq: there is already a transaction in progress handling 20170115200001_initial_schema.sql". I'm not sure what we'd need to change to apply our schema migrations with the latest version of cockroachdb.

[2017-04-22 15:43] bdarnell commented on #14595
Yeah, I think what we need are examples, and a sample table definition and to/from queries would be a good start, but I think what's tripping people up is not the SQL syntax but how to use this end-to-end with the UUID type in whatever programming language they're using.

Also, we only need one issue tracking UUID support, so I'm going to close this one and ask that all followup discussion go to #

[2017-04-22 15:43] #14595 closed

[2017-04-22 15:46] bdarnell commented on #8719
I've tagged this for the 1.1 milestone. The `BYTES` solution works, but is pretty cumbersome, especially with ORMs. Implementing a real UUID type will improve usability and should be pretty easy.

[2017-04-22 17:04] bdarnell commented on #15163
I'm talking about when the node that was killed comes back online. The orange line spikes back up near its previous value, but rapidly drops as the replicas which had been rebalanced away from this node. If the node was down for long enough, we would expect this to drop all the way to zero as *all* of the replicas had been rebalanced away and the node had to build back up from scratch. But it's no

[2017-04-22 17:42] petermattis commented on #15163
And the rate of recovery during the outage is much slower during the 0 QPS event than the preceding chaos event. Compare the under-replicated metric on the left and right:

![screen shot 2017-04-22 at 1 39 26 pm](https://cloud.githubusercontent.com/assets/6201335/25306721/28d92b34-2761-11e7-864b-32bcb97cab93.png)

I'm guessing this is a symptom rather than the cause.

[2017-04-22 17:50] petermattis commented on #14721
I re-enabled snappy compression on `blue` on Friday and it has been running without problem for over 24 hours.

The panic happened for the following chunk of code:

[code]

In particular, the `copy` line is at `buffer.go:138`. Seems very unlikely there is a bug in this part of the standard library. I'm not sure what else could have happened.

[2017-04-22 20:23] dianasaur323 commented on #15267
@mytototo not yet - we haven't started testing out integrations with any Rancher products. If you get the chance to test it out, do let us know! I'm marking this as a community request so that others can vote on it if they would like to see an example as well.

[2017-04-22 20:26] dianasaur323 commented on #15265
assigning to @mberhault. Please re-assign if you aren't the right person. Let's take a look to see if we should fix this?

[2017-04-22 20:28] dianasaur323 commented on #15249
closing out as fixed by https://github.com/RaduBerinde/cockroach/commit/ba16f666b8ec1d6a67932784445f1603658e06cf

[2017-04-22 20:41] dianasaur323 commented on #15249
whoops! Not merged yet :P Life is hard.

[2017-04-22 21:39] mberhault commented on #15265
it should be fine, the rangelog table for example can be messed with, it's not critical.
@asubiotto: I believe those were sorted out by you not too long ago.

[2017-04-22 21:41] dianasaur323 commented on #15265
@asubiotto Thoughts on if we should close this out, or leave for 1.1?

[2017-04-22 21:59] armanraina opened #15271 "foreign key, extra column added"
**BUG REPORT**

I170422 11:21:19.560936 1 util/log/clog.go:1007  [config] file created at: 2017/04/22 11:21:19
I170422 11:21:19.560936 1 util/log/clog.go:1007  [config] running on machine: arman-lioness
I170422 11:21:19.560936 1 util/log/clog.go:1007  [config] binary: CockroachDB CCL beta-20170413-dirty (linux amd64, built 2017/04/13 21:06:17, go1.8.1)
I170422 11:21:19.560936 1 util/log/clog.go:10

[2017-04-22 22:13] jordanlewis commented on #15271
Thanks for the report. I was able to reproduce it easily (logs below).

I think this is an error in the `SHOW CONSTRAINTS FROM` mechanism rather than the foreign key mechanism itself, as the foreign key seems to behave correctly.

Assigning to @dt for further triage.

[code]

[2017-04-23 00:53] petermattis opened #15272 "server/status: CGO memory stats are broken on Mac OS X"
Unlike the previous breakage where the stats were always zero, now they have non-zero constant values:

[code]

[2017-04-23 01:01] petermattis commented on #14768
Perhaps something like [weighted fair queueing](https://en.wikipedia.org/wiki/Weighted_fair_queueing). Here's a [go implementation](https://github.com/tadglines/wfq/blob/master/wfq.go).

[2017-04-23 01:06] tamird commented on #15272
Looks like this is https://github.com/jemalloc/jemalloc/issues/708#issuecomment-287919461.

In short, the linker is deciding that jemalloc's zone.o is unused, and omits it from the cockroach binary. cc @benesch

Any ideas on how to force it?

[2017-04-23 01:08] petermattis commented on #14721
Still no reproduction of the panic. I did a small performance comparison on `blue` with compression enabled vs disabled. Enabling compressions caused a 40% throughput hit. Ouch!

I'm going to punt this issue to 1.1.

[2017-04-23 01:09] bdarnell opened #15273 "storage: Snapshots for under-replicated ranges should have higher bandwidth"
We currently divide snapshots into two categories for bandwidth management - preemptive and raft-initiated. Raft-initiated snapshots are given more bandwidth because they indicate an existing follower that is falling behind (and therefore not contributing to the raft quorum). Preemptive snapshots are (often) rebalancing traffic that is low-priority, but when they're used to repair an under-replica

[2017-04-23 01:10] petermattis commented on #15272
You can reference a symbol in `zone.o` from the main binary.

[2017-04-23 01:13] bdarnell opened #15274 "storage: Snapshot bandwidth "priority inversion""
Snapshots are currently placed into two categories for bandwidth management, which effectively act as priorities. However, since we also only allow only one snapshot at a time (per target node), we have problems with priority inversion - a high-priority operation is not allowed to interrupt an existing low-priority operation that may take a while to finish. We should introduce some way to interrup

[2017-04-23 01:53] petermattis commented on #15273
Easy enough to do, but for my future self we can't just pass `snapTypeRaft` for these up-replication snapshots as `snapTypePreemptive` controls whether we call `Replica.setPendingSnapshotIndex`.

[2017-04-23 07:36] cockroach-teamcity commented on #15023
SHA: https://github.com/cockroachdb/cockroach/commits/c1aac50f5bc7a68f63d0dcbb6bb84089abd9dc42

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=231840&tab=buildLog

[2017-04-23 11:46] #15272 closed

[2017-04-23 22:56] #15249 closed

[2017-04-23 23:13] andreimatei opened #15278 "storage: txn sequence number assigned by DistSender is rolled back on error"
Our `Transaction` protos have a [Sequence number](https://github.com/cockroachdb/cockroach/blob/master/pkg/storage/engine/enginepb/mvcc.proto#L56) used to protect against replays. This sequence number is [incremented](https://github.com/cockroachdb/cockroach/blob/master/pkg/kv/dist_sender.go#L742) by the DistSender upon sending every (sub)batch. The `DistSender` only does this incrementing on the

[2017-04-24 00:09] benesch commented on #15231
cc @danhhz. There's no technical reason (that I'm aware of) that would require a new full backup after a restore.

My initial issue description didn't explain the problem well. The case I'm worried about is where you have one database per customer/project, and so each database has an identical schema modulo version skew. If someone fat fingers a `BACKUP... INCREMENTAL FROM foo` command, running th

[2017-04-24 00:20] petermattis commented on #14143
Verified this one more time. An idle 3-node cluster configured with `--cache=256MiB` shows the following memory usage:

[code]

Notice that all of the memory is in CGO. The variation is likely due to `n1` being the leader for more ranges. I'm going to leave this running for longer.

I'm also moving this issue to 1.1 milestone as there is nothing actionable to do at the moment.

[2017-04-24 00:21] petermattis commented on #13333
@chandradeepak I've also been unable to reproduce.

Moving this issue to the 1.1 milestone. At some point we'll close it as unreproducible.

[2017-04-24 06:38] mjibson opened #15283 "sql: error in schema change during begin with reference"
[code]

This demonstrates that adding a table in a `begin` will fail if it includes a foreign key reference. Is this known and intended? I spent an hour being really confused about what was going on.

[2017-04-24 06:41] cockroach-teamcity opened #15284 "sql/distsqlrun: TestClusterFlow failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/12277347aeaf2cf797141d05b1f1a72b7e22ea78

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=232145&tab=buildLog

[code]

[2017-04-24 06:41] mjibson commented on #15283
Also happens when using INTERLEAVE, even when no REFERENCES is specified.

[2017-04-24 07:37] cockroach-teamcity commented on #15023
SHA: https://github.com/cockroachdb/cockroach/commits/12277347aeaf2cf797141d05b1f1a72b7e22ea78

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=232316&tab=buildLog

[2017-04-24 07:44] cockroach-teamcity commented on #14955
SHA: https://github.com/cockroachdb/cockroach/commits/12277347aeaf2cf797141d05b1f1a72b7e22ea78

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=232356&tab=buildLog

[2017-04-24 12:15] mberhault opened #15285 "security: fix logic to verify peer certificates vs verified chains"
The client certificate check (https://github.com/cockroachdb/cockroach/blob/master/pkg/security/auth.go#L38) is too stringent (and wrong) when checking for incoming certificates vs verified chains. If the client specifies the CA cert alongside the client cert, the simple count check fails.

This is experienced when using pqsl with `sslmode=verify-ca` against a secure cockroach cluster.
See report

[2017-04-24 12:17] knz commented on #15257
:+1:

[2017-04-24 12:17] knz commented on #15257
(We'll play the assignment game when we scan through the list of all 1.1 issues)

[2017-04-24 12:38] petermattis commented on #14983
Does this issue belong in the 1.0 milestone? We almost certainly need more testing of schema changes under load, but is there bandwidth to do so for the 1.0 cycle?

[2017-04-24 12:39] petermattis commented on #14765
@asubiotto Is it time to close this out?

[2017-04-24 13:42] eisenstatdavid commented on #8862
A few questions:

1. Are non-ASCII identifiers allowed? (If not, then ignore the rest of this comment.)
2. While identifiers in double quotes are not case-mapped, are they
    * treated as their constituent bytes?
    * put into a Unicode normal form? NFC/NFD or NFKC/NFKD (which makes pairs like 9 and &#8313; equivalent)?
3. To do case mapping, do we use Golang's code-point-by-code-point functions

[2017-04-24 13:55] petermattis commented on #15274
An alternative to interrupting a low-priority snapshot would be to adjust its bandwidth dynamically. I'm wondering if this is a real problem to solve, though. Recovery operations are already prioritized over rebalance operations, so the most a recovery operation will have to wait is for one rebalance operation to finish.

[2017-04-24 13:55] a-robinson commented on #10490
I don't fully understand the interaction between different errors here. It [doesn't look possible to get a proper `TransactionAbortedError`](https://github.com/cockroachdb/cockroach/blob/master/pkg/storage/replica_command.go#L677) from the rollback code within `txn.CleanupOnError`. Are the "already-aborted" transactions you're talking about hitting [the "does not exist" errors](https://github.com/

[2017-04-24 13:56] a-robinson commented on #10940
If I'm reading it right, this seems like the sort of printing that we should have built into an alpha or beta to put onto a prod cluster, not something to put into a stable release. Unless you think we should put it into a custom build to run on a cluster this week?

[2017-04-24 13:58] petermattis commented on #10940
@a-robinson Correct. Perhaps control the printing via an env var and default it to false. Or perhaps we should have a section for "hidden" settings. Either way, I don't think it should be on by default.

[2017-04-24 13:59] a-robinson commented on #15242
Is there any sort of implied long-term support for options in the settings table? That'd be my main hesitation toward moving over a number of the existing environment variables. And if we're ok with exposing settings that we don't plan on supporting long-term, should the naming scheme be any different?

[2017-04-24 14:06] dianasaur323 commented on #15197
@a6802739 I hope your issues have been resolved. Let us know!

[2017-04-24 14:07] a-robinson commented on #10940
Ok, I'm not seeing why this would be needed before 1.0, then. I'll swing back around to it shortly after 1.0 so we can figure out what's going on.

[2017-04-24 14:28] asubiotto commented on #14765
Haven't seen this happen again.

[2017-04-24 14:28] #14765 closed

[2017-04-24 14:29] #15184 closed

[2017-04-24 14:39] asubiotto commented on #15265
I think this is fine;  the root user is a superuser. Closing but feel free to re-open.

[2017-04-24 14:39] #15265 closed

[2017-04-24 14:42] bdarnell commented on #8862
Non-ASCII identifiers are allowed. For case-folding we use a [slightly-modified version of the unicode rules](https://github.com/cockroachdb/cockroach/blob/24b212d7dac977c0f8c92705124465e06004288b/pkg/sql/parser/name_part.go#L27), collapsing dotted and dotless I into a single character so that case-folding is not locale-sensitive.

I think we currently normalize to NFC only when we are also case-f

[2017-04-24 14:43] bdarnell commented on #15274
Yeah, I think this is probably a theoretical concern for now. It will be a bigger issue when/if we increase the max range size since "one rebalance operation" could take longer.

[2017-04-24 14:50] jseldess commented on #15265
Make sense to me as long as `root` user changes to these tables can't somehow mess up the cluster's operations, in which case I'd say we should just make them strictly read-only to anything but cockroachdb.

[2017-04-24 14:59] cuongdo opened #15289 "distsql: flow <id> not found"
build: 5ada9d7
config: 6-node cluster (Standard_D3 Azure VMs)

Somehow, this cluster has gotten into a persistent bad state where all DistSQL queries hang indefinitely. The gateway node has this error message:

[code]

The other nodes *sometimes* have logs like these:
[code]

[2017-04-24 15:00] petermattis commented on #10940
I'm not sure of the consequences of these RequestLease errors containing a transaction. @bdarnell? @spencerkimball?

[2017-04-24 15:03] bdarnell commented on #15278
We never compare sequence numbers from different epochs; restarting the sequence number at zero when the epoch increments makes sense to me (I thought it already did this).

I think the only time we ever use the on-disk transaction is when we're restarting with a new epoch, so I don't think anything else needs to change. If we do use it sometimes when continuing with the same epoch, that's probabl

[2017-04-24 15:06] asubiotto commented on #15265
They can mess up cluster operations (e.g. delete all users) but I think that's part of being a superuser.

[2017-04-24 15:07] cuongdo commented on #13758
Fixed by #15162 and cockroachdb/cockroachdb.github.io#1

[2017-04-24 15:07] #13758 closed

[2017-04-24 15:13] jseldess commented on #15265
True, but I guess I don't understand why we treat the `system` database differently than other built-in dbs. For example, there are no privileges on `crdb_internal` or `pg_catalog` tables...

[code]

[2017-04-24 15:19] vivekmenezes commented on #15283
I can reproduce this only through the cockroach CLI

[2017-04-24 15:20] knz commented on #15052
This is not going to fit 1.0 I fear.
Rescheduling for 1.1 instead.

[2017-04-24 15:23] andreimatei commented on #14288
The range-descriptor and leaseholder caches can be empty or stale. This explains it, right?

The state of the caches is supposed to be seen in the `ranges_cached` internal table, but I think this hasn't been implemented yet.