[2016-02-12 16:25] tamird commented on #3031
Doesn't have to be an interactive session; you could keep the heartbeat going so long as the connection stays open.

[2016-02-12 16:27] petermattis commented on #4315
Wonder if they are going to enforce that comment or not? We returned `string` from `cockroach/sql/driver` without problem. We could certainly do so in a fork `lib/pq` as well. Or perhaps this is another argument about avoiding `database/sql` from our shell and enhancing a fork of `lib/pq` so that we can get type information about the columns to determine how to print them.

[2016-02-12 16:28] petermattis commented on #3092
@mrtracy Can you take another look at this?

[2016-02-12 16:28] tamird commented on #4315
Yes, perhaps. https://github.com/jackc/pgx does distinguish (even via the `database/sql` interface), FWIW.

[2016-02-12 16:31] petermattis commented on #2965
Fixed in #4148.

[2016-02-12 16:31] #2965 closed

[2016-02-12 16:31] RaduBerinde commented on #4315
I would try to argue that it is a *relaxation* of a requirement which means the interface is 100% backwards compatible..

[2016-02-12 16:31] tamird commented on #4315
By all means, argue away.

[2016-02-12 16:38] petermattis commented on #2952
I just started a cluster (`cockroach start --dev`) with no load on it and the intent count starts at 21 and stays there. Is this a data collection issue or actual intents that are never resolved? If the latter, reassign to @tschottdorf.

[2016-02-12 16:39] petermattis commented on #2809
@kkaneda, @tschottdorf Anything left to do here?

[2016-02-12 16:40] tamird commented on #4315
Note that change that comment also implies having to change the behaviour of https://godoc.org/database/sql/driver#IsScanValue (no used inside the Go source tree), and that would definitely not be backwards compatible.

[2016-02-12 16:43] petermattis opened #4349 "ui: display prominent warning when cluster is unreachable"
Start a local dev cluster using `cockroach start --dev`. Visit the admin UI page. Now kill the cluster. The UI will eventually display a whole bunch of "No Data Available" messages, but it doesn't give a strong and clear indication that the cluster is unreachable.

[2016-02-12 16:44] petermattis commented on #2657
@tamird This is the kind of cleanup you enjoy, though I'm not sure if it is worth it. Feel free to close if it seems unnecessary.

[2016-02-12 16:46] petermattis commented on #2838
Duplicate of #3123.

[2016-02-12 16:46] #2838 closed

[2016-02-12 16:46] tschottdorf commented on #3238
We should put something in the nightlies that tests this against a remote cluster.

`make acceptance TESTS=Gossip TESTFLAGS='-remote -d 5m'`

or some variation thereof. Nothing really tests this on AWS at the moment.

[2016-02-12 16:47] petermattis commented on #2596
Is this still a problem?

[2016-02-12 16:49] petermattis commented on #2494
There are no plans to support the MySQL grammar and we've chosen to support the postgres wire protocol.

[2016-02-12 16:49] #2494 closed

[2016-02-12 16:51] petermattis commented on #2492
We're supporting the postgres wire protocol now. Any NodeJS postgres client should work, though we haven't done any compatibility testing with NodeJS yet.

[2016-02-12 16:51] #2492 closed

[2016-02-12 16:52] #2179 closed

[2016-02-12 16:54] petermattis commented on #2134
Documentation issues are now captured in https://github.com/cockroachdb/docs. See https://github.com/cockroachdb/docs/issues/18.

[2016-02-12 16:54] #2134 closed

[2016-02-12 16:55] petermattis commented on #1772
This issue was filed before we had our SQL story in place. Our SQL implementation has support for asynchronous schema changes. There is no work currently planned here, though see #1780 for discussion have handling low-level data format changes.

[2016-02-12 16:55] #1772 closed

[2016-02-12 16:58] bdarnell commented on #3317
Yes, the timeout has been increased.

[2016-02-12 16:58] #3317 closed

[2016-02-12 17:01] tamird commented on #2657
The sql side of this is already done. Gossip still internally stores a pointer, which could be made a value.

[2016-02-12 17:07] petermattis commented on #1252
Looks like this has been done.

[2016-02-12 17:07] #1252 closed

[2016-02-12 17:08] petermattis commented on #837
See #4317.

[2016-02-12 17:09] bdarnell commented on #4345
What are you trying to determine by examining the server version? Is there another way to detect the presence of the feature you're looking for? (even if it's something as clumsy as trying to execute a statement using the feature and seeing if it fails)

We've already set a bit of a precedent by setting the `server_version` connection property, but that turns out to be used by the drivers themselv

[2016-02-12 17:10] bdarnell commented on #3165
That test was in the `multiraft` package and has been deleted. The comparable tests in the `storage` package don't seem to be flaky.

[2016-02-12 17:10] #3165 closed

[2016-02-12 17:11] petermattis commented on #623
Closing for now since pgwire doesn't allow for any sort of "redirect" error. We might revisit when we see larger clusters and load balancing becomes important.

[2016-02-12 17:11] #623 closed

[2016-02-12 17:12] petermattis commented on #630
Gossip info is now persisted. @spencerkimball, @bdarnell Is there something to be done with the leader cache?

[2016-02-12 17:13] petermattis commented on #634
Documentation issues are now tracked in https://github.com/cockroachdb/docs.

[2016-02-12 17:13] #634 closed

[2016-02-12 17:15] bdarnell commented on #630
Persisting the leader cache would have some benefit, but I don't know if it's enough to be worth doing. Certainly not a priority; I'd say wait until this is a demonstrable problem.

[2016-02-12 17:16] #2464 closed

[2016-02-12 17:18] petermattis commented on #4326
There are warts in any implementation, including incomplete and insufficient commenting and confusing terminology. Feel free to send a PR.

[2016-02-12 17:18] #4326 closed

[2016-02-12 17:20] petermattis commented on #4306
I believe this is fixed in `cockroachdb/pq`, but we're not using that fork yet. See #4081.

[2016-02-12 17:21] tschottdorf commented on #2809
Yes, would still leave it open. The process is ongoing, I'll update later.

On Fri, Feb 12, 2016 at 11:39 AM Peter Mattis <notifications@github.com>
wrote:

[2016-02-12 17:23] tschottdorf commented on #3341
Nope, all set.

[2016-02-12 17:23] #3341 closed

[2016-02-12 17:27] tamird commented on #4306
Tested with https://github.com/cockroachdb/pq/commit/56c6975f8113c315d3165750ea4b21d5bdaa52d9 locally applied, still reproduces as written.

[2016-02-12 17:32] tamird commented on #4306
This works with our CLI against real postgres, so this is a server bug.

[2016-02-12 17:34] petermattis commented on #3792
Moved to https://github.com/cockroachdb/docs/issues/45.

[2016-02-12 17:34] #3792 closed

[2016-02-12 17:36] petermattis commented on #4306
Oh, sounds like a bug in `sql/pgwire` then.

[2016-02-12 17:40] petermattis commented on #3524
@tschottdorf Did we ever definitively determine if the `{GCBytes,Intent}Age` calculation fix addressed this problem? I'd be willing to close this issue regardless.

[2016-02-12 17:42] petermattis commented on #3348
This issue will go away when #4298 is addressed.

[2016-02-12 17:42] #3348 closed

[2016-02-12 17:42] petermattis commented on #3358
@tamird This has been fixed, correct?

[2016-02-12 17:44] tamird commented on #3358
Yeah, mostly. Some leftover work to do, but this issue is done.

[2016-02-12 17:44] #3358 closed

[2016-02-12 18:09] tschottdorf commented on #3524
Would be good to test the GC queue performance at some point. But that can
be a separate issue. Let's close this.

On Fri, Feb 12, 2016 at 12:40 PM Peter Mattis <notifications@github.com>
wrote:

[2016-02-12 18:09] #3524 closed

[2016-02-12 18:27] petermattis commented on #2504
@mberhault Is this still happening? Is there anything to be done here?

[2016-02-12 18:28] #2279 closed

[2016-02-12 18:31] petermattis commented on #1779
@BramGruneir Is log being a singleton still problematic? Do you have a specific test it is causing issues for?

[2016-02-12 18:34] petermattis commented on #1759
`client.httpSender` has been removed for a while and `client.rpcSender` does not retry.

[2016-02-12 18:34] #1759 closed

[2016-02-12 18:35] petermattis commented on #1930
@BramGruneir, @bdarnell Is there specific work remaining here? If yes, perhaps we should create some new issues detailing that work and close this issue.

[2016-02-12 18:37] petermattis commented on #1521
@tamird I imagine this issue will be obsoleted by the switch to gRPC. Feel free to close if you agree.

[2016-02-12 18:38] knz commented on #27
Ok this is really a superset of what I was looking at with #4036. Let me study these options and then I'll see what I can propose.

[2016-02-12 18:38] bdarnell commented on #1930
This was implemented as a part of the repair queue.

[2016-02-12 18:38] #1930 closed

[2016-02-12 18:39] BramGruneir commented on #1779
I think we worked around the issue.  If I recall correctly this was something about running the tests in parallel.

[2016-02-12 18:40] petermattis commented on #1283
@tamird Similar to #1521, will this be obsoleted by the move to gRPC?

[2016-02-12 18:40] tamird commented on #1521
I'm less certain. Constructing gRPC clients still requires a connection, so
if we want to share the underlying connections I believe we'll still need
some abstraction.

On Fri, Feb 12, 2016 at 1:37 PM, Peter Mattis <notifications@github.com>
wrote:

[2016-02-12 18:41] petermattis commented on #1374
@bdarnell I'm guessing this issue is long out of date.

[2016-02-12 18:42] petermattis commented on #1280
Likely the same as #3524.

[2016-02-12 18:42] #1280 closed

[2016-02-12 18:42] tamird commented on #1283
Yes, this one will, sort of. It probably should be absorbed into #1521
since it's really a question of "how many connections should we use between
hosts" and how to structure the abstraction that manages those connections.

On Fri, Feb 12, 2016 at 1:40 PM, Peter Mattis <notifications@github.com>
wrote:

[2016-02-12 18:43] petermattis commented on #1008
@spencerkimball Can you clarify or close this issue?

[2016-02-12 18:45] petermattis commented on #1383
Not sure if I had specific tests in mind, but I don't know of any recent issues involving `KeyValue.Timestamp`.

[2016-02-12 18:45] #1383 closed

[2016-02-12 18:45] petermattis commented on #1417
@bdarnell This is a very old issue. Is there any work remaining to be done here?

[2016-02-12 18:48] tamird commented on #1008
We want to advertise a different address than the one used for listening, so that nodes with non-routable local IPs which have separate routable external IPs can be reached. This was discussed in this week's core meeting.

[2016-02-12 18:56] petermattis commented on #3533
We're very unlikely to switch the local storage engine at this time. Perhaps longer term this might happen, but at this time RocksDB seems to be serving us adequately.

[2016-02-12 18:56] #3533 closed

[2016-02-12 18:58] petermattis commented on #3432
Original issue title was to rip out the `Client Architecture` section. I think the entire README needs to be reworked.

[2016-02-12 19:06] petermattis commented on #1472
@bdarnell Do you still plan on doing this cleanup?

[2016-02-12 19:07] bdarnell commented on #1374
Yeah, I'm pretty sure all of this is in our structured logs.

[2016-02-12 19:07] #1374 closed

[2016-02-12 19:08] bdarnell commented on #1417
Yes, it would still be nice to remove `splitTestRange` and add more assertions in `SplitRange`.

[2016-02-12 19:10] AkihiroSuda commented on #27
We have also a similar tool which increases the non-deternimism of thread scheduling (and so on).
This tool can be easily used with the existing unit tests and Jepsen tests.

http://osrg.github.io/earthquake/post/fosdem2016/

[2016-02-12 19:10] bdarnell commented on #1472
I'd still like for it to be done, but not enough to do it myself :)  This would be a good task for a first-time contributor.

[2016-02-12 19:12] spencerkimball commented on #1008
Why wouldn't you just set --host=<external IP>?

[2016-02-12 19:14] tamird commented on #1008
You would, but that would stop your instance from listening on all interfaces, which you may still want.

[2016-02-12 19:15] tamird commented on #1008
Come to think of it, specifying the host alone may not be enough in the presence of bespoke port forwarding rules. cc @mberhault

[2016-02-12 19:21] mberhault commented on #1008
we have a few issues with addresses:
* the machine itself may not know its externally-reachable address, at least not through the standard networking stack. This means that we may need to listen on all interfaces
* what address is used to contact the machine is important. usually, external addresses will be just an alias for internal ones when firewalls are open. However, gossip address caching ma

[2016-02-12 19:21] mberhault commented on #2504
I'll have to check again. Originally, splits would make the sql logic tests incredibly slow since we were doing a lot DB and table creations. It may still be the case.

[2016-02-12 19:31] tamird commented on #1008
I don't think that's true. The cert may include unused addresses.

[2016-02-12 19:34] vivekmenezes commented on #4316
Taking a look at this

On Fri, Feb 12, 2016 at 10:32 AM Peter Mattis <notifications@github.com>
wrote:

[2016-02-12 19:35] mberhault commented on #1008
well, yes, but then you won't connect to anything.
I meant any address you use to connect to a node (internal, external, dns alias, etc...) must be in the cert and ultimately end up at a real address that we listen on. In the case of google's TCP-level load balancer that's really tricky since they do some weird network-stack level aliasing to make it look like the load balancer address is on the c

[2016-02-12 19:41] tamird commented on #1008
OK, here's what I'd propose for now:
- only listen on loopback in dev mode
- listen on all interfaces otherwise
- `--host` flag controls advertised address, defaulting to hostname

The port issue still bothers me, though, and makes me think we need to return to a `addr` flag for the advertised address.

[2016-02-12 19:43] tamird commented on #4315
Assigning back to @RaduBerinde because my proposed fix won't be possible.

[2016-02-12 19:43] mberhault commented on #1008
Are you concerned about port forwarding where the external and internal ports differ?
I think the only issue there would be the gossip cache. When you're trying to reach a node, you'll always do host:port together, so as long at the network permits it, you're fine.

[2016-02-12 19:45] tamird commented on #1008
Yes.

Right, but you'll be using the port advertised by the node. If the node doesn't know its external port, you won't reach anything.

[2016-02-12 19:46] bdarnell opened #4351 "sql: `INSERT ... RETURNING` should accept qualified names"
This test (to be added to `testdata/insert`) currently fails with `qualified name "return.a" not found`.

[code]

(The Django ORM likes to issue queries of this form)

[2016-02-12 19:48] petermattis opened #4352 "cli: remove --dev mode"
Once #4269 goes in, the only remaining reason for `--dev` mode is to automatically configure a memory store. I think we should encourage developers (primarily ourselves) to use a disk store instead. See also #4335. Using a disk store during ad-hoc testing is closer to how cockroach will be used in production and will possibly reveal bugs that are not present when always starting from a clean slate

[2016-02-12 19:53] petermattis opened #4353 "config: remove config.DefaultZoneConfig"
`config.DefaultZoneConfig` is a global which is involved in some shenanigans during `TestServer` initialization. I believe it is the remaining bottleneck to running multiple `TestServer` instances in a process. See also #2506.

[2016-02-12 19:56] RaduBerinde commented on #4351
@mjibson was working on this

[2016-02-12 19:57] RaduBerinde commented on #4315
Looks like the problematic row *is* quoted (`%q`) so I doubt this was introduced by #4254. Making the string/byte[] distinction wouldn't have helped either (we are already treating it as a byte[]).

I think we are assuming we can display any UTF8 which is not the case. I propose using `%+q` instead of `%q`, and strengthen the check to use `%s` for strings that have only printable ASCII characters.

[2016-02-12 20:06] tschottdorf commented on #1472
I also think this remains useful.

On Fri, Feb 12, 2016 at 2:11 PM Ben Darnell <notifications@github.com>
wrote:

[2016-02-12 20:07] tamird commented on #4352
There is at least one other reason for `--dev` which I proposed [here](https://github.com/cockroachdb/cockroach/issues/1008#issuecomment-183461937).

[2016-02-12 20:12] petermattis commented on #4352
The discussion in #4269 proposes to make listening on only localhost the default unless `--insecure` or `--{cert,key}-file` are specified. I think that covers your proposed usage. Effectively, the lack of `--insecure` or `--{cert,key}-file` causes a server to be in dev-mode.

[2016-02-12 20:13] bdarnell opened #4355 "sql: Unimplemented SQL should not panic"
It's currently trivial to kill the server by sending a SQL statement we don't implement (`ALTER TABLE tbl ADD CONSTRAINT ...`). We need to replace the `panic("TODO(pmattis): unimplemented")` in `sql.y` with a softer approach to error handling.

[2016-02-12 20:15] tamird commented on #4352
OK, I think that can work.

[2016-02-12 20:38] #4316 closed

[2016-02-12 20:50] bdarnell opened #4357 "sql: Implement `ALTER COLUMN SET DEFAULT`"
A newly-created Django project will execute this query while initializing its database:

[code]

We can make some tweaks to the syntax here if necessary, but we can't force it to include the default in the `CREATE TABLE` statement, so this is a prerequisite for supporting any Django app.

[2016-02-12 20:50] tschottdorf opened #4358 "Failed tests (12754): TestBuildInfo"
The following test appears to have failed:

[#12754](https://circleci.com/gh/cockroachdb/cockroach/12754):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-12 21:51] bdarnell opened #4361 "sql: Consider adding `TIMESTAMP WITH TIME ZONE` type"
In python, `datetime` objects may or may not have a time zone associated, and the postgres driver `psycopg2` will use either `TIMESTAMP` or `TIMESTAMPTZ` (an alias for `TIMESTAMP WITH TIME ZONE`) types depending on the values passed. We do not support the `WITH TIME ZONE` types, which means that python apps will have to be careful to avoid `datetime` objects with time zones (this may be doable in

[2016-02-12 21:54] petermattis commented on #4358
Looks like we timed out pulling the docker-spy image. See #3025.

[2016-02-12 22:02] petermattis commented on #4348
See https://godoc.org/github.com/dustin/go-humanize#ParseBytes.

[2016-02-13 03:52] kkaneda commented on #2809
Ah, yes.. This and #3303 requires some more work..

[2016-02-13 06:08] nvanbenschoten commented on #4346
See #4367. It looks like this issue was being caused by enormous amounts of `time.Timer` allocations. This was caused by timer creation during every iteration of a couple of tight loops. #4175 proposed a fix for the worst offender of this issue, and #4367 fixes a few other instances that were showing up during memory profiling.

[2016-02-13 06:23] encryptio commented on #4345
I'm checking to see if the `SERIALIZABLE` transaction isolation level is actually serializable or not; before PostgreSQL 9.1, `SERIALIZABLE` meant only snapshot isolation, which is insufficient for the transactions I'm running (I've tested.) Granted, 9.1 is pretty old by now, but people run databases that were already old when their now ancient distributions were made; I'd rather have it yell up f

[2016-02-13 07:50] mjibson opened #4368 "sql: UPDATE should support RETURNING non-updated columns"
[code]

[2016-02-13 15:31] JackKrupansky commented on #4346
Are these timer allocations that the Go GC would eventually have reclaimed
and you just didn't wait long enough for the GC to occur, or was there
something that was preventing Go from reclaiming the old timers or maybe GC
wasn't keeping up with the rate of creation? Just curious, trying to
understand Go better.

-- Jack Krupansky

On Sat, Feb 13, 2016 at 1:08 AM, Nathan VanBenschoten <
notificatio

[2016-02-13 16:59] bdarnell commented on #4345
We're like postgres 9.1 in that we have serializable transactions, but we're also like older versions in that we are missing other new features. There's just no way we can claim compatibility with a specific postgres version.

We can definitely add a `version()` function which will return something like `CockroachDB/1.0`. If we implement `SHOW server_version` (to have a more easily parseable form)

[2016-02-13 17:49] bdarnell opened #4369 "sql: prepared statements ignore modern/traditional toggle"
`sql.Executor.Prepare` calls `parser.ParseOneTraditional` when it should call `parser.parseOne` and respect the session's `Syntax` option.

[2016-02-13 20:32] #4351 closed

[2016-02-13 20:41] nvanbenschoten commented on #4346
Looking more intro this, and running the example load generator with more users to create higher contention within the key space, I'm seeing a huge amount of memory (roughly 1GB per node) allocated [here](https://github.com/cockroachdb/cockroach/blob/master/storage/command_queue.go#L94). Again, this doesn't look like a memory leak, but it does look like an area where a tremendous amount of memory

[2016-02-14 02:18] petermattis commented on #4355
We could comment out all of the rules which refer to `unimplemented()`. Then we'd get parse errors instead of panics. The downside is that these rules might rot, but that doesn't seem too problematic as our grammar isn't changing that quickly.

[2016-02-14 03:03] petermattis opened #4370 "sql/pgwire: support restartable transactions"
A transaction can be "aborted" for one of 3 reasons: a permanent error, an error that can be retried after an exponential backoff and an error that can be retried immediately. (The details behind the 3 conditions are beyond the scope of this issue, see the code). We currently only support returning a single error condition via `sql/pgwire` through to the client code. This is insufficient. In parti

[2016-02-15 00:45] petermattis opened #4374 "util/log: stdlib log bridge always outputs to stderr"
This causes packages which have to use stdlib logging (e.g. `util/stop`, due to import cycles) to always output logs to stderr. See https://github.com/cockroachdb/cockroach/blob/master/util/log/clog.go#L1096. I don't see a particular reason for this behavior. The stdlib logging bridge should use the same log output as everything else.

[2016-02-15 03:09] tschottdorf opened #4378 "circleci: Failed tests (12813): TestStoreRangeRebalance"
The following test appears to have failed:

[#12813](https://circleci.com/gh/cockroachdb/cockroach/12813):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-15 04:34] tschottdorf commented on #2861
To repro this, it's enough to run change `ba.Txn.CertainNodes.Contains(...)` to always return false, and to run `make test PKG=./sql TESTS=Logic TESTFLAGS=-v -d testdata/*2861`.

[2016-02-15 09:15] knz opened #4379 "change insecure mode to still use TLS between nodes"
Upgraded today to faa9a85480ea73d149b9cdb2393eae544b9f9bd2.
Starting server on node 1 with:
[code]

(Everything looks fine)

Then on node 2:
[code]

The RPC connection never goes up and node 2 never initializes. The cluster can't start.

After downgrading to a16d6996b98e6101adf012eed16c60ab17c31ac5 (before the gRPC upgrade), this problem disappears.

[2016-02-15 11:43] tamird commented on #4379
@knz the problem seems to be that gRPC with the http server adapter doesn't work without TLS. I'm going to look into this today; can you try TLS until then?

[2016-02-15 12:23] knz commented on #4379
No problem, will do.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-02-15 15:29] tamird commented on #4379
gRPC's ServeHTTP implementation depends on TLS' ALPN, so we have to use TLS even if the user is running in insecure mode. For this, we should use our embedded certificates.

[2016-02-15 15:35] petermattis commented on #4183
I think we need to provide a way to generate unique 64-bit ints as sometimes there are external constraints the prevent using a larger type. For example, the [filesystem example](https://github.com/cockroachdb/examples-go/blob/master/filesystem/fs.go#L278) uses `experimental_unique_int` to allocate inode IDs which need to fit in a 64-bit integer.

This isn't to say that we need to the current sema

[2016-02-15 15:51] petermattis opened #4381 "cli: sql shell needs basic help"
The SQL shell currently reads SQL statements and sends them to the server. We should add a basic help facility. For example, we should notice statements that begin with `\` and provide a helpful error instead of sending the statement to the server which will fail with a syntax error trying to parse it.

[2016-02-15 16:48] bdarnell opened #4382 "gossip: leaktest failure"
Just pulled and got this while running `make test`, in the gossip package:

[code]

[2016-02-15 16:52] bdarnell commented on #4379
Don't (most of) our tests use insecure mode? Why didn't the tests detect this?

[2016-02-15 17:06] tamird commented on #4379
I don't think they do. See `NewTestBaseContext` in `testutils/base.go`.

On Mon, Feb 15, 2016 at 11:52 AM, Ben Darnell <notifications@github.com>
wrote:

[2016-02-15 17:06] mberhault commented on #4379
most of our tests use secure mode with embedded certs. Only a few don't (cli, security, maybe status, maybe a sql one or two)

[2016-02-15 17:07] bdarnell commented on #4379
What about https://github.com/cockroachdb/cockroach/blob/87bf386d313ea222d06c5f1bc6ce819e87859cf1/gossip/client_test.go#L41 ?

[2016-02-15 17:10] tamird commented on #4379
Those tests use the grpc.Server directly, without exercising the ServeHTTP
interface. I'll look into fixing that.

On Mon, Feb 15, 2016 at 12:07 PM, Ben Darnell <notifications@github.com>
wrote:

[2016-02-15 17:35] bdarnell commented on #4379
I see.

This comes so close to working; it's another thing we could do with a wrapper around the connection that would let us peek at the first few bytes. Or with a simple patch to `net/http` to make `http.Server` aware of HTTP/2 instead of abstracting that handoff behind ALPN.

[2016-02-15 21:09] #4315 closed

[2016-02-15 22:16] petermattis opened #4386 "sql: investigate BenchmarkDelete100_Cockroach slowdown"
#4384 added support for using `CommitInBatch` with delete requests which showed a very nice performance improvement for the `Delete{1,10}` benchmarks. But it resulted in a reproducible slowdown for the `Delete100` benchmark. The code in question is in `sql/delete.go:

[code]

The slowdown can removed by replacing this with: (this was what the code was doing before #4384).

[code]

[2016-02-15 22:19] petermattis opened #4387 "sql: experiment with using `Del` instead of `DelRange` to delete columns"
`DELETE` currently uses `DelRange` to delete the columns associated with a row. But we already know the keys for those columns. Using `DelRange` involves scanning the range of keys and then deleting each one, but that scan is duplicating the work we've already done to identify which rows to delete. Until we push down combining the row selection and the deletion to the range level, it might be bett

[2016-02-15 23:47] tschottdorf opened #4389 "Failed tests (12844): TestConvergence"
The following test appears to have failed:

[#12844](https://circleci.com/gh/cockroachdb/cockroach/12844):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-16 03:41] bdarnell commented on #610
The biggest part of this issue has been addressed by adding a cache to `raftTruncatedState`. The issue noted in the TODO still stands (even though this code has been moved elsewhere), but the number of ranges required to trigger it is much higher. I'm going to close this with the expectation that we'll open a new issue when our testing and profiling shows the tick loop to be a problem.

[2016-02-16 03:41] #610 closed

[2016-02-16 05:32] tschottdorf opened #4393 "sql: assigned timestamp at SQL should correspond to some KV timestamp"
via @bdarnell:

This makes it somewhat hard to reason about timestamps in SQL transactions and, as a result, about observed consistency-related phenomena.

It seems adequate to chose the original timestamp of the transaction instead of `time.Now()`: It remains constant during the lifetime of a transaction, is equal to the commit timestamp for a serializable transaction, and (is equal to or) preced

[2016-02-16 05:57] tschottdorf opened #4394 "kv: linearizable mode should prevent uncertainty restarts"
This oversight should be fixed relatively easily by setting `MaxTimestamp` equal to `Timestamp` in `maybeBeginTxn` in `TxnCoordSender`.

[2016-02-16 06:09] tschottdorf opened #4395 "Failed tests (12851):"
The following test appears to have failed:

[#12851](https://circleci.com/gh/cockroachdb/cockroach/12851):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-16 10:48] knz opened #4398 "Investigate using chzyer/readline instead of linenoise for sql cli"
As suggested by @chzyer in https://github.com/cockroachdb/cockroach/pull/4209#issuecomment-184585579

[2016-02-16 12:20] nmarasoiu commented on #3035
@bg451 @tschottdorf I saw idleness and winder can I try and take this? If you have any suggestions for documentation and coding, please add here.

[2016-02-16 15:14] chzyer commented on #4398
@knz, well~ I will pull a request later.

[2016-02-16 15:25] petermattis opened #4403 "sql: "batch" KV operations across multiple SQL statements"
See #4399 for the difference that performing updates to 100 rows with a single statement vs 100 statements can make. The performance benefit of using a single statement stems from the reduced read and write RPCs (1 read + 1 write vs 100 reads + 100 writes).

The difficulty with naively trying to batch KV operations across SQL statements is that it is either difficult or impossible to map errors ba

[2016-02-16 15:46] tschottdorf commented on #4403
Looks like the title of this issue is botched.

It doesn't seem to difficult to map an error back to the SQL command which caused it if a batch is built upfront. All that's needed is a method on, say, `Batch` which returns the number of operations in the batch:

[code]

I still believe that a lot of the parallelization work can be performed in DistSender if only the planner figures out a good way

[2016-02-16 15:51] petermattis commented on #4403
Title fixed. Sometimes I edit the title and save and it doesn't save.

[2016-02-16 15:57] tschottdorf commented on #2409
This looks like it can close. @tamird?

[2016-02-16 16:09] tschottdorf commented on #3530
It's already like that.

[2016-02-16 16:09] tschottdorf commented on #3530
... but not in time series.

[2016-02-16 16:12] tschottdorf commented on #3035
Hi @nmarasoiu, thanks for your interest - I've shamefully left this issue unattended. I've found that probably this issue requires a little more knowledge of how transactions work than suitable for a beginner. If you're ready to dig in (with a little help, but time limits how much can be explained), go for it! But there's also https://github.com/cockroachdb/cockroach/issues/4374, where it should b

[2016-02-16 16:43] tamird commented on #2409
sure

[2016-02-16 16:43] #2409 closed

[2016-02-16 16:51] RaduBerinde commented on #4110
#4350 added proper support for indexJoin.

We are missing support for limits and we have only very basic support for grouping and sorting.

[2016-02-16 16:52] bdarnell commented on #4403
If the statements are in a transaction and sent in a single batch, why does it matter which one failed? It seems like enough to simply abort the transaction.

[2016-02-16 17:32] tschottdorf commented on #4403
The issue is creating the right SQL error from the batch, the standard example being a unique constraint violation (which comes back as a `ConditionFailedError`).

[2016-02-16 17:35] tamird commented on #4378
@mrtracy can you take a look at this?

[2016-02-16 17:52] bdarnell commented on #4403
Ah, right. But even then, does it need to know which statement caused the constraint violation or is it enough to know that *some* unique constraint was violated?

There is a standard SQL command `SET CONSTRAINTS ALL DEFERRED` (implemented in postgres) which delays constraint validation until the transaction commits. That could be one way for the user to signal that they don't care exactly where e

[2016-02-16 18:19] #4395 closed

[2016-02-16 18:21] #3966 closed

[2016-02-16 18:49] tschottdorf commented on #4403
[code]

That information is helpful. Would be sad to let it go. Also, as outlined above, seems easy enough to keep.

[2016-02-16 18:57] mrtracy commented on #2722
@maxlang We already have the capability to query aggregated statistics, and I believe we are already displaying a few on our cluster page.  Is that sufficient to close this issue, or do you want to leave this open to track something else?

[2016-02-16 19:06] nvanbenschoten opened #4408 "util/tracing: All trace events should be logged after their corresponding event, not before"
This allows the tracer to properly evaluate the time it spent for each event to complete, instead of matching each event with the duration of the previous event. With this, each tracing statement should be written in the past tense (ie. `"copied timestamp cache"` instead of `"copy timestamp cache"`).

[2016-02-16 19:10] tamird commented on #4408
This presupposes that there's a trace at each step. If there isn't, we'd
want a trace event at the start and finish of each event.
On Feb 16, 2016 14:06, "Nathan VanBenschoten" <notifications@github.com>
wrote:

[2016-02-16 19:31] andreimatei commented on #4393
btw there's a comment in the Session proto that says these two timestamps are different. It will have to be changed.
https://github.com/cockroachdb/cockroach/blob/master/sql/session.proto#L32

[2016-02-16 19:37] spencerkimball commented on #4346
I'm closing this for now. Will reopen if/when I find a memory leak with quiescent cluster.

[2016-02-16 19:37] #4346 closed

[2016-02-16 19:38] spencerkimball commented on #2721
@cuongdo should this be closed?

[2016-02-16 19:39] spencerkimball commented on #2719
@bdarnell is this something we need for beta?

[2016-02-16 19:47] bdarnell commented on #2719
Yes. It doesn't need to be fancy; we just need to send "version 1" in our request headers and reject any request that doesn't say "version 1". We don't expect to change this version often (most changes will be backwards-compatible changes to our existing protobufs) but if we do make a fundamental change we should have a way to make sure that old servers don't misinterpret messages from new ones.

[2016-02-16 19:53] cuongdo commented on #2721
Not yet. I'm dividing this up into three pieces for manageability.

1. SQL (done)
2. Transactions (SQL & KV) -- in-progress
3. Internal traffic - to be done after grpc stuff settles down

[2016-02-16 19:58] mjibson opened #4410 "acceptance: improved pullImage logic"
No need to do the image not found dance around pullImage.

[2016-02-16 20:03] mjibson opened #4411 "sql: allow any statement type to be prepared"

[2016-02-16 20:31] nvanbenschoten opened #4413 "storage: remove transactions from SequenceCache with best effort on intent resolution"
We're seeing high latency when copying `SequenceCache`s during a range split. This should be mitigated by deleting transactions from the `SequenceCache` when they're no longer useful, in accordance with the [txn-gc RFC](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/txn_gc.md). The RFC mentions deleting "the corresponding txn record" after " successfully carrying out the batch wort

[2016-02-16 20:43] mjibson opened #4415 "Failed tests (12884): TestSplitSnapshotRace_SnapshotWins"
Appears unrelated to the change it was tested with.

https://circleci.com/gh/cockroachdb/cockroach/12884

[code]

[2016-02-16 20:45] petermattis opened #4416 "sql: benchmark multi-statement transaction performance"
#4399 change the `BenchmarkUpdate*` benchmarks to use a single statement. We should re-add a multi-statement transaction benchmark, perhaps using `INSERT` or `SELECT` instead of `UPDATE`.

[2016-02-16 20:46] maxlang commented on #2722
Yeah this seems close-able.

[2016-02-16 20:46] #2722 closed

[2016-02-16 20:53] #4369 closed

[2016-02-16 21:01] dt commented on #4416
We could make the existing bank benchmark multi-statement (eg more like pgbench's bank)?

[2016-02-16 21:04] tamird commented on #4410
While we're in there, we should be sure all these pulls are specifying specific image tags.

[2016-02-16 21:06] #4358 closed

[2016-02-16 21:28] nvanbenschoten commented on #4322
With the `net/tracing` stuff back in, I've been able to confirm that this latency is coming from the `splitTrigger` itself, which I've seen take up to **1.5 seconds**. Specifically, [copying](https://github.com/cockroachdb/cockroach/blob/master/storage/replica_command.go#L1419) the original range's  sequence cache to the new range's sequence cache accounts for about 2/3 of this latency. The other

[2016-02-16 21:33] tschottdorf commented on #4322
Should also double-check whether the stats computation reads the sequence
cache.

On Tue, Feb 16, 2016 at 4:28 PM Nathan VanBenschoten <
notifications@github.com> wrote:

[2016-02-16 21:49] nvanbenschoten opened #4419 "Node crash after being run under load for 45 min: "Too many open files""
[code]

The stack trace is pretty long, but I'm not sure adding any more would be helpful.

[2016-02-16 21:50] tamird commented on #4419
How many goroutines are you seeing? It's possible we're leaking some with
the move to grpc.

On Tue, Feb 16, 2016 at 4:49 PM, Nathan VanBenschoten <
notifications@github.com> wrote:

[2016-02-16 21:53] nvanbenschoten commented on #4419
The node that went down had 331 before crashing, the other two had 98 and 92.

[2016-02-16 21:55] RaduBerinde commented on #4299
Even in the easiest case (e.g. single span, no additional filters), it's not easy to use the result count because we don't know how many keys we may find for a row (due to schema changes).

We will be able to address this once we change scans to work in chunks (#2966).

[2016-02-16 21:57] BramGruneir opened #4420 "Block_Writer fails due to the update to UUID"
Running make in exmaples-go
block_writer/main.go:70: undefined: "github.com/cockroachdb/cockroach/util/uuid".NewUUID4

[2016-02-16 22:17] knz opened #4421 "sql: clarify DB error messages that seep through the client connection"
As mentioned in today's meeting we should document the messages that SQL users may see through their connection. Right now the messages convey a lot of debugging information about the DB internals, although in many cases the proper course of action is to simply say "retry the transaction". So really what we should do is:
1. simplify the text of the error reported through the SQL connections
2. doc

[2016-02-16 22:20] knz commented on #4421
I think we should first spend some time figuring out when these messages occur exactly before we determine a better / more informative phrasing for them.

Also in some cases it might be possible to hide them entirely by automatically retrying the transaction. @andreimatei, care to comment?

[2016-02-16 22:26] tschottdorf opened #4422 "limit stream/goroutine creation in Raft transport"
via @bdarnell.

From a recent stacktrace:

[code]

The first number is the number of goroutines (so 524 and 498, respectively). We should get a handle on those goroutines.

[2016-02-16 22:28] tschottdorf commented on #4419
pro tip: `panicparse ${FILE}` gives you a nice summary of goroutines and
their multiplicity.
https://github.com/maruel/panicparse

On Tue, Feb 16, 2016 at 4:53 PM Nathan VanBenschoten <
notifications@github.com> wrote:

[2016-02-16 22:28] tschottdorf commented on #4420
this should be in `examples-go`.

[2016-02-16 22:30] bdarnell commented on #4419
Looks like the raft transport is leaking connections/goroutines since the move to GRPC (the default "open files" ulimit on OSX is 256). Dupe of #4422?

[2016-02-16 22:31] BramGruneir commented on #4420
Sure, no need.  I'll just close this now anyway.  PR is out.

[2016-02-16 22:31] #4420 closed

[2016-02-16 22:34] nvanbenschoten commented on #4419
Looks like it is. I had 225 open HTTP connections at the time of crashing.

[2016-02-16 22:59] tschottdorf commented on #4421
I think we've already decided (?) to expose all transaction retry/abort
errors in a way that lets SQL clients parse them (that includes clock
uncertainty restarts). That exhausts your list already. All other errors
from KV should probably be exposed through some kind of "internal error"
which we can then document (we'll want people to be able to give us error
messages that we can make sense of).

[2016-02-16 23:00] tschottdorf commented on #4299
@petermattis's ideas about making SQL row-oriented would also help since then the SQL `LIMIT` would translate more directly to a `Scan` limit.

[2016-02-16 23:37] knz commented on #4421
@tschottdorf I'm not sure I fully understand your answer. Regardless of which syntax we use for error messages they still need to be simplified and documented. Right now (correct me if I am wrong) we do not have a proper user-level explanation for each of these messages; nor a summary of what the user-programmer should do in response to each of them. This description work should precede IMHO any d

[2016-02-16 23:44] knz commented on #4017
Wait this is only in the test suite right?
I have been using strings containing newlines from the CLI client for a while now without problems.

[2016-02-16 23:45] RaduBerinde commented on #2966
If we only have one span, the strategy is straightforward: we limit the number of results in the request and fire off subsequent requests from the last received key onward. These requests can be fired up immediately (in the background) to allow overlap between SQL and KV processing.

The tricky thing is how to efficiently handle multiple spans. We can be optimistic and request `10000 / #spans` res

[2016-02-16 23:51] RaduBerinde commented on #4299
Yeah, making KV row-aware would help (but still, only when there are no other filters in play).

[2016-02-17 01:58] petermattis commented on #4322
The stats computation was moved from `MVCCComputeStats` to `RocksDB.ComputeStats` a few months ago which was a significant performance improvement. I'm not aware of any low-hanging fruit within the stats computation itself, though there is an additional optimization that could be done during split. Currently, we compute the stats on each of the new ranges. But we know ahead of time what the stat o

[2016-02-17 01:59] petermattis commented on #4416
It would be useful to make the bank benchmark mirror pgbench, though I'm not sure if that addresses this issue. I think a multi-statement benchmark which tests 1 vs 10 vs 100 statements would more clearly highlight the current performance of multi-statement transactions.

[2016-02-17 02:14] petermattis opened #4424 "roachpb: add alternate Key.Next that mutates the receiver instead of copying"
Currently, `Key.Next` creates a new copy of the key. In some inner loops this extra copy is wasteful when the receiver not going to be used. This appears as something like:

[code]

A faster alternative is to do something like:

[code]

The only challenge is what to name this method. `FastNext`? `InplaceNext`? See `MVCCResolveWriteIntentRange` for one use of `append(key, 0)` that could be replaced

[2016-02-17 02:45] tschottdorf commented on #4421
@knz yes, just a heads up that the errors you collected will all melt into one (which then needs documentation).
For any other errors bubbling up for KV (and except for some "system down/giving up" errors), those are basically "unexpected errors", so we can't really enumerate them all. Maybe there are some that are worth special-casing, but when SQL clients get most these, we're in bug tracking te

[2016-02-17 02:57] tschottdorf commented on #3087
I should get back and do what I said above. FWIW, my current suspicion is this:

`	tc.lowWater.WallTime += clock.MaxOffset().Nanoseconds()`

in the timestamp cache. Can't explain how that would go above the 250ms yet, but it's a starting point.

[2016-02-17 02:58] vivekmenezes commented on #3087
https://circleci.com/gh/cockroachdb/cockroach/12896

is an example of this failure.

[2016-02-17 03:04] vivekmenezes commented on #3087
Wouldn't surprise me if this has something to do with restarting a node as the test that is failing suggests.

[2016-02-17 03:14] tschottdorf commented on #3087
Yes, the theory would be that some combination of a new leader lease and a new timestamp cache (both of which arbitrarily add MaxOffset to various things) can taint one clock. Just hard to pin down the exact order of events without something that is somewhat reproductible.

[2016-02-17 03:25] tamird commented on #4422
Please ping this issue if you see the storage test failure that produces this.

[2016-02-17 03:45] tschottdorf commented on #4422
This was taken from https://circleci.com/gh/cockroachdb/cockroach/12862

[2016-02-17 04:01] tschottdorf opened #4426 "kv: TxnCoordSender: close of closed channel"
From Gitter (user a6802739). Maybe we can spot the race easily.

[code]

[2016-02-17 04:21] andreimatei commented on #3031
Would this issue be causing this error?
[code]

which in turn leads to one of the following when issuing a new statement in the same txn:

[code]
or
[code]

If so, is this issue on anybody's list? It's a big problem :)

[2016-02-17 04:25] tamird commented on #3755
The test for this issue is still disable and fails if enabled.

[2016-02-17 04:38] tschottdorf commented on #3031
that first error seems like a standard retry, so no.

The second error indeed looks like a timed-out transaction and the SQL gateway would then abort it (this is code you've been looking at a lot ;) ).

[2016-02-17 04:57] andreimatei commented on #3031
I see it using the shell. Doing a `BEGIN; CREATE TABLE x.t (a INT);` then waiting a bit and attempting a commit.

The first error seems to be a failure to *heartbeat* the txn, which fails apparently because in turn the txn was pushed. But I find it funny that the `CREATE TABLE` txn was pushed... Since I'm not doing any other txns at the moment.

I do see the following in the log, though:
[code]

[2016-02-17 04:58] andreimatei opened #4428 "sql: queued schema changers are not restored on interactive txns"
... leading to at least the synchronous path of applying schema changes not taking place.

To repro, do something like:
[code]
I've put a log stmt in `SchemaChanger::exec()` and observed it doesn't execute.

[2016-02-17 08:35] nmarasoiu commented on #3035
#4374 is "stdlib log bridge always outputs to stderr", i am not sure this is what you meant.
I also realized that this task is more research than I expected, so indeed I will choose another one for starters. Which one do you suggest? The one with arbitrary arithmetics would be a good choice? thanks

[2016-02-17 13:01] tschottdorf opened #4429 "Failed tests (12912):"
The following test appears to have failed:

[#12912](https://circleci.com/gh/cockroachdb/cockroach/12912):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 14:41] mberhault commented on #3943
we have permissions already. If you're connected as root, you have `ALL` permissions on the database you created. otherwise, you'd have to explicitly grant permissions to a different user. eg: `GRANT DROP ON DATABASE foo TO marc`. without that specific privilege, nothing I can do.

As for confirmation, I think we should stick with expected behavior. Yes, it's mad and dangerous, but apparently peop

[2016-02-17 14:43] mberhault commented on #1560
I believe this is 1.0, along with all user-related stuff (web authentication, password-based pg authentication, etc...)

[2016-02-17 14:43] mberhault commented on #2131
I believe this is 1.0, along with all user-related stuff (web authentication, password-based pg authentication, etc...).
Some of this does apply to the sql syntax and certs, so we may want to think about it sooner.

[2016-02-17 14:43] mberhault commented on #3232
I believe this is 1.0, along with all user-related stuff (web authentication, password-based pg authentication, etc...)

[2016-02-17 14:48] tamird commented on #4429
typos

[2016-02-17 14:48] #4429 closed

[2016-02-17 14:49] mberhault commented on #3779
What should we do about this one? We'll definitely want to recommend that people run ntpd on their machines, but is there anything to address on our side?

[2016-02-17 14:50] tschottdorf opened #4433 "Failed tests (12915):"
The following test appears to have failed:

[#12915](https://circleci.com/gh/cockroachdb/cockroach/12915):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 14:53] petermattis commented on #3779
Does ntpd need to be running inside the same VM as cockroach? Can we check that ntpd is running?

[2016-02-17 14:54] tamird commented on #4433
typos

[2016-02-17 14:54] #4433 closed

[2016-02-17 15:07] vivekmenezes commented on #4428
You didn't call COMMIT

[2016-02-17 15:09] vivekmenezes commented on #4428
but yeah if the COMMIT came in a different request it wouldn't get applied.

I think I'd close this issue unless you think it is that important it get applied through the sync path.

[2016-02-17 15:09] mberhault commented on #3779
ideally, yes, although I don't expect cloud deployment to run inside yet another VM.
as for checking, we could try, but that may be fragile.

[2016-02-17 15:19] petermattis commented on #3779
I'm open to better ideas. I was thinking we could use `gosigar` to get a process list and then iterate over that to see if `ntpd` is present. Using `gosigar` would give us some measure of portability. I'd consider this low priority for the beta, but we probably want something for 1.0. Not having ntpd running on your machine is an obvious failure scenario.

[2016-02-17 15:21] knz opened #4434 "security: certificate verification only uses short hostname"
While #4379 is being handled I tried to set up my certificates for AWS and run into the following:

[code]

Meanwhile the full hostname for that node is `ip-172-31-52-143.ec2.internal` and this is what I specified after `create-cert`. This looks like the cert verif code only uses the short hostname. This is invalid; the cert verification code should match either the IP address the node is bound to

[2016-02-17 15:28] knz opened #4435 "Cockroach does not shut down gracefully if not properly initialized"
Noticed while attempting to use `supervisorctl stop cockroach` (which sends SIGTERM).
The `cockroach` process does not end upon receiving the signal if it is not yet fully initialized or in the process of waiting for a gossip partition to resolve.

(`SIGKILL` does the trick though)

[2016-02-17 15:29] mberhault commented on #4434
we don't control which host gets verified, so you need to specify all the names that can be used to reach the host when creating the cert.

[2016-02-17 15:41] knz commented on #4434
Let me clarify.
The name used to reach the host is properly present in the list carried by the certificate. This is what the message said. However this is not the issue.

The issue is that the name used as reference is whatever name was given to --host, even when this name is not fully qualified. This is a problem. It's both a practical problem and potential security issue. Practical: if the cert

[2016-02-17 15:45] JackKrupansky commented on #3779
I see this in the AWS doc: "_Network Time Protocol (NTP) is **configured by default on Amazon Linux instances**; however, an instance needs access to the Internet for the standard NTP configuration to work. Your instance's security group must also allow outbound UDP traffic on port 123 (NTP)._"

See:
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html#configure_ntp

I've also seen the

[2016-02-17 15:48] tamird commented on #4434
This is essentially a dupe of
https://github.com/cockroachdb/cockroach/issues/1008

On Wed, Feb 17, 2016 at 10:41 AM, kena <notifications@github.com> wrote:

[2016-02-17 15:51] tamird commented on #4435
This is fixed by the graceful shutdown commit in
https://github.com/cockroachdb/cockroach/pull/4427.

On Wed, Feb 17, 2016 at 10:28 AM, kena <notifications@github.com> wrote:

[2016-02-17 15:52] petermattis commented on #3025
Fixed by #4414.

[2016-02-17 15:52] #3025 closed

[2016-02-17 16:03] petermattis commented on #4086
Fixed by #4280.

[2016-02-17 16:03] #4086 closed

[2016-02-17 16:07] knz commented on #4435
Oh thanks. I'll check then close this one when #4427 merges.

[2016-02-17 16:24] knz opened #4437 "Routine re-opening of TLS sessions for gRPC causes unnecessary verbose logs"
I just created a fresh cluster and even when the nodes are idle the log files is littered with:

[code]

This seems unnecessarily noisy and makes investigating errors from the log file slightly more difficult than necessary.

[2016-02-17 16:32] tschottdorf commented on #1329
Moved to 1.0, but I hope that after some optimizations I'm doing in #2861 we can actually close this early.

[2016-02-17 16:34] bdarnell commented on #3779
In containerized deployments I don't think ntpd would be visible from inside cockroachdb's container. I don't think we should try to test for the presence or absence of ntpd, but we do need monitoring of clock offsets whether ntpd is present or not.

[2016-02-17 16:40] tschottdorf commented on #4424
and then fix this part in `mvcc.go`:

[code]

[2016-02-17 16:40] tschottdorf commented on #3035
@nmarasoiu that's the one I mean! Should be a fairly small change (and usually once you do anything, you'll find more to do). #4424 is another small one to get started.

[2016-02-17 16:53] JackKrupansky commented on #3779
Maybe an intermediate warning threshold as well, so if the clock is
starting to drift the user can take some action to synchronize at a
convenient time rather than recover from mass panic.

Does the UI have a display/metric for clock sync?

-- Jack Krupansky

On Wed, Feb 17, 2016 at 11:34 AM, Ben Darnell <notifications@github.com>
wrote:

[2016-02-17 16:56] knz commented on #4421
After upgrading to a more recent version I can't find this specific
instance, but instead I see a couple instances of the following:

[code]

is that similar/equivalent?

I get this one when I forget to reset my clock drifting before starting
a new test -- it seems to happen when I let the clocks drift slowly but
surely over time while the cluster is idle, then send a request after
there was enoug

[2016-02-17 18:09] #4355 closed

[2016-02-17 18:19] andreimatei commented on #4421
What I'm planning on doing is expose **all the retry-able errors** (mostly printed with "pq: retry" in the CLI) **and some non-retry-able errors (from the KV perspective)** (I think the ones printed with "pq: txn aborted") as a single error message, with a single error code, to the user. And then the user can issue something like `BEGIN TRANSACTION RETRY` and try everything again.
All the other er

[2016-02-17 18:24] bdarnell commented on #4422
It looks like a lot of tests are leaking goroutines all the time, but not always enough to cause the test to fail (and they always clean up when the stopper stops). To reproduce the problem you can add a sleep and a log.Fatal to one of `storage/client_*test.go` (I get over 1500 goroutines with a 5s sleep):

[code]

[2016-02-17 18:34] mjibson commented on #4306
I don't think this is a pgwire problem:

[code]

Outputs:

[code]

Furthermore, adding the above query to `testdata/multi_statement` also prints the same database does not exist error. I'm pretty convinced this is a problem with the CLI.

[2016-02-17 18:36] tschottdorf opened #4441 "circleci: failed tests (12928): TestReplicaGCQueueDropReplicaDirect"
The following test appears to have failed:

[#12928](https://circleci.com/gh/cockroachdb/cockroach/12928):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 18:41] #4257 closed

[2016-02-17 18:49] tschottdorf opened #4442 "kv: sanitize returned transaction on errors"
A mutating batch on a single range executes atomically through Raft. When transactional, the transaction is updated after each individual request and passed on to the next.
That means that when a command fails with an error that contains a transaction, this contained transaction may actually leak information which has resulted from executing requests preceding the failing one in the batch.
Case in

[2016-02-17 18:49] tschottdorf commented on #4421
a new test

Ah, ok. If you're letting your clocks drift close to or above the offset, then that's an expected error. In that issue, it happens during Docker acceptance tests, where all nodes share the same clock - no bueno.

instance, but instead I see a couple instances of the following:

This is what happens if the (central) transaction record indicates that you need to restart. It's a bit unusu

[2016-02-17 18:51] tschottdorf opened #4443 "kv: must handle idempotence for BeginTransaction"
If the first write in a txn is multi-range and fails retriably on the second range, the command will fail with an error on the first range on `BeginTransaction` (since the previous attempt was actually successful there, so we already wrote an entry).

Happens in the wild:

[2016-02-17 19:03] mjibson commented on #4306
More evidence it's the CLI's fault: using `psql`:

[code]

[2016-02-17 19:10] mjibson commented on #4306
Found. The problem is that `cli/sql_util.go` always calls `db.Query` (https://github.com/cockroachdb/cockroach/blob/33d0fa2238fcd02afacb66f4e27d1e0a40ed5fe2/cli/sql_util.go#L80) even if the statement doesn't return any results. lib/pq expects row data back instead of a command complete. No obvious fix comes to mind.

[2016-02-17 19:21] BramGruneir opened #4445 "acceptance: TestGossipRestart"
TestGossipRestart fails with 5 or more nodes, but passes with 1, 2, 3 and 4 node systems.

[2016-02-17 19:24] andreimatei commented on #4428
yes, I wasn't clear. Meant they didn't execute after the subsequent `COMMIT

[2016-02-17 19:38] dt commented on #3852
@knz #4081 is our `lib/pq`-backed client shell. This issue is about the actual server response -- when postgres gets multiple statements that are all empty after parsing, it replies with EMPTY_QUERY, whereas we're only sending that if we have a single, trivially empty statement.

[2016-02-17 19:47] nvanbenschoten opened #4447 "storage: Raft keys need to be moved out of the system-local kv-pairs for stats computations"
Raft logs and the Raft HardState are not consistent across replicas, so we can't include these kv-pairs in the `SysBytes` and `SysCount` `MVCCStats` struct. Including these keys in statistics computations results in these structs being inconsistent between replicas, because they are not the same on each replica, and incorrect on all replicas most of the time anyway, because the stats aren't curren

[2016-02-17 20:10] mjibson commented on #4306
Ah ha! We need to send a `Z` after the first error. Ok, evidently this is our problem. What long route around all this.

[2016-02-17 20:13] BramGruneir commented on #3934
Not reproducible anymore.

[2016-02-17 20:13] #3934 closed

[2016-02-17 20:24] petermattis opened #4449 "util/log: remove proto-encoded logs"
Use normal textual logs instead. We're not displaying debug logs in the admin UI anymore, nor do I think we want to in the future. The proto-encoded logs add a hurdle to debugging since they must be viewed with `cockroach log`.

@spencerkimball I imagine you have an opinion about this.

[2016-02-17 20:27] glycerine opened #4450 "docs: how to add cert for a second node?"
Given that the basic cert establishment directions are these three commands

[code]
how does one add the certs for a second node?  The above makes a cert for 54.  I tried to make one for 55 and get:
[code]

Are we supposed to reuse the one cert for all nodes?  If I'm running in cloud I won't know the IP addresses before the machines are spun up.

latest version of cockroach / amd64 /linux / go1.5.

[2016-02-17 20:31] BramGruneir commented on #4449
We still do display the logs in the admin UI.  @maxlang ?
But I agree that requiring `cockroach log` is an unneeded setp

[2016-02-17 20:33] maxlang opened #4451 "ui: RFC collecting user information - firstname/lastname vs fullname vs company name"
@jess-edwards @bdarnell @knz

Discussion spurred by https://github.com/cockroachdb/cockroach/pull/4397

The email signup is something that's going to be used heavily by @jess-edwards so the requirements have been largely driven by her. We wanted a first name so we can write more casual emails, (eg "Hey Max!" vs "Hey Maxwell G Lang!") and we wanted last name because it is an easier way to sort thro

[2016-02-17 20:34] petermattis commented on #4449
Eh? I was looking for the logs in the admin UI and unable to find them. Where are they now?

[2016-02-17 20:36] mberhault commented on #4450
You should definitely generate one set of certs per node. With the current code that uses fixed file names by user, this means that you should copy the node certs (and ca.crt) to a node, then delete the node certs from your machine before generating the next ones.

This will soon change to have more explicit arguments for the key and crt files (eg: `--crt-file` and `--key-file`, more in line with

[2016-02-17 20:37] BramGruneir commented on #4449
http://localhost:26257/#/logs/1?level=INFO
Still works, but you have to have the logging to disk turned on.

No links to it right now.  Not sure what the plan is.

[2016-02-17 20:41] mberhault commented on #4450
Almost forgot the most salient point: the initial version of the docs is being finalized and will include detailed steps (eg: shell commands) for a secure multi-node cluster. The basic requirement will be ssh access to each node (meaning they must already have been created).

[2016-02-17 20:42] spencerkimball commented on #4449
I made that the default because for a little while there was a push to encode the semantic details of request contexts in the logs. That might still be a good idea and you'll be just tossing out a decent amount of work. Why fix what isn't broken?

How about adding human readable debugging string at the top of the log file indicating that you should run the log file through `cockroach log $filename

[2016-02-17 20:44] #3976 closed

[2016-02-17 20:48] petermattis commented on #4449
I wasn't proposing to toss out the work, just to make the log files textual by default. I don't think we should be exposing our debug logs in the admin UI which is one motivator for the proto-encoding. And we're not currently using the structured logging so the normal use case of trying to view the logs is being obstructed for no benefit.

[2016-02-17 20:59] mjibson commented on #4415
Happened again on another PR: https://circleci.com/gh/cockroachdb/cockroach/12940

[2016-02-17 21:00] mjibson commented on #3826
Fixed by #4301

[2016-02-17 21:00] #3826 closed

[2016-02-17 21:04] bdarnell commented on #4422
This particular one is a test-only issue: `localRPCTransport` creates a new `RaftMessage` stream for every message and then never closes it. This will be moot if you're going to replace `localRPCTransport` with the real one.

[2016-02-17 21:11] #4294 closed

[2016-02-17 21:11] #4306 closed

[2016-02-17 21:12] #4337 closed

[2016-02-17 21:12] #4336 closed

[2016-02-17 21:23] nvanbenschoten opened #4454 "storage: SequenceCache modification should update replica stats"
We don't currently update a replica's `MVCCStats` when its `SequenceCache` is modified (either through poisoning or a standard sequence number insertion).

[2016-02-17 21:24] tschottdorf commented on #4454
hold off on this, I'm also working on the sequence cache.

[2016-02-17 21:24] petermattis commented on #4352
Fixed by #4453.

[2016-02-17 21:24] #4352 closed

[2016-02-17 21:24] tschottdorf commented on #4447
are those the only two?

[2016-02-17 21:24] knz commented on #3271
Since #3543 fixes the original problem, and the proposed new typing system would type division coherently with its operands, is this issue still relevant?

[2016-02-17 21:26] tamird commented on #3271
#3543 was closed. This issue is still relevant.

[2016-02-17 21:26] nvanbenschoten commented on #4454
I was going to start looking into rearranging the system-reserved prefixes for system-local keys. This will apply to this issue and #4447. This change shouldn't affect the sequence cache yet, but that will be a precursor to getting the system stats working correctly.

[2016-02-17 21:27] nvanbenschoten commented on #4447
I think it might make sense to exclude all of the Raft keys from the system statistics. `TestPrettyPrint` makes it pretty easy to visualize all of this.

[2016-02-17 21:30] tschottdorf opened #4456 "circleci: failed tests (12945):"
The following test appears to have failed:

[#12945](https://circleci.com/gh/cockroachdb/cockroach/12945):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 21:30] tamird commented on #4379
Not gonna do this, see #4427 for an alternative solution.

[2016-02-17 21:30] #4379 closed

[2016-02-17 21:31] tschottdorf opened #4457 "circleci: failed tests (12945):"
The following test appears to have failed:

[#12945](https://circleci.com/gh/cockroachdb/cockroach/12945):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 21:32] #4335 closed

[2016-02-17 21:33] petermattis commented on #4457
Grr, silly test. I'm going to disable temporarily.

[2016-02-17 21:35] vivekmenezes commented on #4447
We should use the same exclusion filter to apply to the raft consistency checker that I'm working on. There is code to be shared here?

[2016-02-17 21:36] tamird commented on #4382
Fixed by #4427.

[2016-02-17 21:36] #4382 closed

[2016-02-17 21:37] tamird commented on #4422
Fixed by #4427.

[2016-02-17 21:37] #4422 closed

[2016-02-17 21:37] tamird commented on #4415
Fixed by #4427.

[2016-02-17 21:37] #4415 closed

[2016-02-17 21:37] tamird commented on #4441
Fixed by #4427.

[2016-02-17 21:37] #4441 closed

[2016-02-17 21:37] tamird commented on #4456
Dupe #4457

[2016-02-17 21:37] #4456 closed

[2016-02-17 21:38] bdarnell commented on #4419
#4422 was a test-specific issue and is now closed. Reopening this one since it occurs with the production transport.

[2016-02-17 21:41] tschottdorf opened #4459 "circleci: failed tests (12946):"
The following test appears to have failed:

[#12946](https://circleci.com/gh/cockroachdb/cockroach/12946):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 21:42] tschottdorf opened #4460 "circleci: failed tests (12947):"
The following test appears to have failed:

[#12947](https://circleci.com/gh/cockroachdb/cockroach/12947):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 21:44] tschottdorf opened #4461 "circleci: failed tests (12946):"
The following test appears to have failed:

[#12946](https://circleci.com/gh/cockroachdb/cockroach/12946):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 21:44] tschottdorf opened #4462 "circleci: failed tests (12947):"
The following test appears to have failed:

[#12947](https://circleci.com/gh/cockroachdb/cockroach/12947):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 21:45] tschottdorf commented on #4447
We should be a little systematic about this and rearrange the system-local keyspace into things which go through Raft (so their stats can be worked with to save work during splits/merges and should be equal between replicas), and the "danger zone" which is data which is not replicated (at least not consistently, for example the Raft log).

@vivekmenezes Agreed that just looking at all replica's st

[2016-02-17 21:52] nvanbenschoten commented on #4447
@tschottdorf Were you thinking adding two subsections to the current `LocalRangeIDPrefix`, one for consistently replicated data and one for not, or were you thinking splitting the `LocalRangeIDPrefix` itself into two sections. The benefit of the subsections approach is that we can still index all system-local keys when needed (like in `mergeTrigger` to delete metadata of the subsumed range), but c

[2016-02-17 21:53] #4459 closed

[2016-02-17 21:53] #4460 closed

[2016-02-17 21:53] #4461 closed

[2016-02-17 21:53] #4462 closed

[2016-02-17 22:02] tamird commented on #3092
I think I just definitively fixed this in #4427. At least, I can't reproduce it after 400 runs.

[2016-02-17 22:04] tamird commented on #3092
Nope! Spoke too soon.

[2016-02-17 22:06] tamird commented on #3092
Here's what the blocking task's stack looks like (via panicparse):
[code]

[2016-02-17 22:07] jess-edwards commented on #4451
@maxlang and I discussed this in person, and we've concluded that we need to test the assumption that requiring name and/or company will deter people from sharing their usage stats.

### Revised Proposal:
For the beta, run a 90-day A/B test. For days 1-30, require first name and last name, but leave company as optional. Days 31-60, make first name & last name optional. [@maxlang I'm adding a third

[2016-02-17 22:07] glycerine opened #4464 "second node fails to join first"
go1.5.3 / linux / amd64 / 33d0fa2238fcd02afacb66f4e27d1e0a40ed5fe2

I made distinct node cert for the 2nd node, re-using the same ca and root.client.crt and root.client.key files (what is this certs/root.client.crt anyway? -- does it need to be distinct on the 2nd node too?) as follows. (I've renamed the IPs in this log transcript address for anonymity.)

[code]

then my run.log is filled with fai

[2016-02-17 22:08] mrtracy opened #4465 "ui: Overhaul of {Node|Store}StatusSummaries structures"
In addition to Time Series, the metrics system currently generates routine "StatusSummary" objects for every Node and Store.  These structures can be thought of as a sort of "vertical" time series query, quickly returning the most recent value of several time series relevant to a single node or store.  This is a very efficient way to generate the data tables in our UI.

However, these fields are c

[2016-02-17 22:11] knz opened #4466 "cli: initialization errors should be logged to stderr in default config"
now when starting `cockroach start` with no argument (and certs previously created) the user should get a working server.

The problem is that if there is an initialization error -- error in gossiping, error in joining, TLS certification error -- nothing is logged to stderr, the user gets the impression the server is running, but clients will fail to connect with a TCP timeout. Since this is the d

[2016-02-17 22:14] tamird commented on #4464
This was just fixed in #4427.

[2016-02-17 22:14] petermattis commented on #4466
Can you give a reproducible example? We should be logging errors and fatals to stderr. See the `--log-threshold` flag (which defaults to `ERROR`).

[2016-02-17 22:21] knz commented on #4466
Sure. I run:
[code]

This prints:
[code]
And the server appears to be running.

Then from a different terminal:
[code]
then at the prompt:
[code]
The command hangs silently, and there is no information about the problem, also not in the server stderr.

Now if I restart my server with `--logtostderr true` I see what's happening:
[code]

(a side issue is that even with the error, as a beginner user

[2016-02-17 22:22] petermattis commented on #4451
What happens if the number or nature of users over those 3 time periods differs drastically? A better A/B test would be to put the various options in the code and selection amongst the experiments based on the cluster UUID (e.g. take last digit mod by 3).

While I like the idea of testing, I'm not convinced we want to invest the effort to do such testing in this instance. What is the concern about

[2016-02-17 22:25] knz commented on #4464
@glycerine To answer your other question. the "root" certificate created by create-client is for the SQL client connection. It identifies a connection performed by the SQL user "root". Probably you want this to be the same across all nodes unless you want specific clients to be forced by TLS to connect to specific nodes.

[2016-02-17 22:27] glycerine commented on #4464
@tamird  Thanks! I pulled. Seems to start up now. Great!

@knz okay, thanks for the explanation.

[2016-02-17 22:27] petermattis commented on #4466
Ah, neither of those log messages are errors (one is an INFO and the other a WARNING). We definitely need to improve this experience.

[2016-02-17 22:28] #4464 closed

[2016-02-17 22:33] bdarnell commented on #4447
The raft log can take up a significant amount of space so it would be good to be able to account for that somewhere. Maybe we should have separate stats for the things that aren't replicated in the normal way? I think that the hard state and raft log (and really only the uncommitted tail of the raft log) are expected to vary across replicas, but everything in `LocalRangeIDPrefix` is a little bit w

[2016-02-17 22:39] knz commented on #4435
Seems to work now. Thanks!

[2016-02-17 22:39] #4435 closed

[2016-02-17 22:43] knz commented on #4466
Heads up: for the specific case of the TLS error, I made a mistake. The error *does* show up on stderr. But this is only because of #4374. When you address #4374 (which I was in the process of doing) the TLS error disappears from stderr.

This issue remains however for other types of error, for example gossiping fails to initialize.

[2016-02-17 22:44] #3755 closed

[2016-02-17 22:46] knz commented on #4374
I am running into a conceptual problem. Currently errors logged via the bridge (e.g. generated by the Go library) are logged as INFO. However INFO does not show up on stderr by default, so a default startup would hide "interesting" error messages from the console.
I can see two ways forward:
- detect whether the message logged through the bridge contains the words "error" or "warning" and change t

[2016-02-17 22:53] tschottdorf opened #4470 "circleci: failed tests (12955): TestClientDisallowMultipleConns"
The following test appears to have failed:

[#12955](https://circleci.com/gh/cockroachdb/cockroach/12955):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-17 23:03] tschottdorf commented on #4454
SGTM, my PR is up. Won't make more changes.

[2016-02-17 23:16] tschottdorf commented on #4447
I'm not against tracking the Raft log size, etc in some way but it's fundamentally different from what we should be tracking in MVCCStats: consistently raft-replicated data. If we throw anything inconsistent in there, we won't be able to do consistent arithmetic which costs performance.

[2016-02-17 23:36] knz commented on #3893
I have just tested using the latest master, with certificates generated first. You can cold-boot cockroach with `cockroach start --stores=mem=12312312`. There is no error and the database is functional.  Without certificates you run into  #4427 but that is a separate issue.

[2016-02-17 23:36] #3893 closed

[2016-02-17 23:36] RaduBerinde opened #4472 "sql: server side transaction retries are broken for groups, subqueries"
The various visitors that mutate expressions leak these modifications to the next retry of the transaction. We need a more robust scheme of mutating expressions.

I verified that we have a problem with subqueries - when retrying `SELECT k FROM T where k NOT IN (SELECT k from T)` we are actually running `SELECT k FROM T where k NOT IN (1, 2, 3..)`. The values we see in the table could have changed.

[2016-02-17 23:48] RaduBerinde commented on #4472
Actually I was able to produce a problem by repeatedly running `INSERT INTO TEST.T VALUES ((SELECT MAX(k+1) FROM TEST.T));` from a couple of clients in parallel. I was able to find duplicate values, caused by the fact that when we retry, we don't reevaluate the inner `SELECT`.

@knz you might be running into this problem in your Jepesen testing

[2016-02-17 23:51] knz commented on #4472
Thanks for the heads up. For now I did not run into this one yet, but perhaps the load was not high enough?
Also I didn't know we were retrying transactions automatically now, is that new? Until now (recently) if there was a retryable error I would see this pop up back in my SQL client.

[2016-02-17 23:52] bdarnell opened #4473 "storage: Finish implementing ReplicaCorruptionError"
`ReplicaCorruptionError` (and related code) is basically just a placeholder that does nothing. We need to be able to mark a replica (or a store?) as corrupt so that it will no longer participate in consensus and the range's data can be moved to a new replica.

[2016-02-17 23:54] bdarnell opened #4474 "storage: Finish `setReplicaIDLocked` for remove-then-add"
When a replica is removed and re-added from a store, its replica ID changes and certain cleanup actions must be taken:

[code]

[2016-02-17 23:58] bdarnell opened #4475 "storage: Guard against replica removal in splitTrigger's async campaign"
After a split, we trigger a campaign 10ms later. The replica could have been removed in that time, which would have strange results. We should check that the replica still exists (and still has the same replica ID) before actually campaigning.

[2016-02-18 00:04] bdarnell opened #4476 "storage: Prevent/handle replica ID changes in `handleRaftReady`"
`handleRaftReady` releases and reacquires the replica's lock several times. It would be bad if the replica ID changed during that time (and therefore the raftGroup was replaced with a new object). We need to either ensure that it is impossible for the replica ID to change during `handleRaftReady` (this may already be true by accident, but if so we should at least document what locks/goroutines/etc

[2016-02-18 00:15] RaduBerinde commented on #4472
We can retry single statement transactions (auto-transactions) on the
server side. If you are using multistatement transactions, I don't think
this would affect you.
On Feb 17, 2016 6:51 PM, "kena" <notifications@github.com> wrote:

[2016-02-18 00:15] tschottdorf commented on #4472
We retry individual statements, not explicit transactions (so we retry what
Radu posted, but not your Jepsen queries). @andreimatei is extending this
to all transactions which hold BEGIN and COMMIT in a single query (and you
can also retry the first chunk of a transaction automatically).

On Wed, Feb 17, 2016 at 6:51 PM kena <notifications@github.com> wrote:

[2016-02-18 01:44] petermattis commented on #4374
Passing all messages logged through the bridge with severity ERROR would eliminate much of the benefit of not logging those messages to stderr. My thought is that we should leave the log bridge messages at severity INFO, but to revisit some of our `log.Warning` messages and elevate them to `log.Error`. In particular, the log message from `rpc/client.go` in #4466 seems like an ERROR, not a WARNING.

[2016-02-18 02:36] nvanbenschoten opened #4478 "perf: Set stats for new range in splitTrigger without recomputing using delta"
See #4322. This is currently blocked on #4447 and #4454.

This will require threading the current batch's `MVCCStats` into `splitTrigger`, adding this to the
range's stats, and using these aggregate statistics to compute the delta between the total range's stats and the updated range's stats, which should be the new range's stats. Right now, this would all be possible and we would gain a decent pe

[2016-02-18 02:44] tschottdorf commented on #4478
might as well do the same thing for Merge to keep both mechanisms in parity. Otherwise the plumbing would look oddly asymmetrical.

I think it's fine to implement this already. The field is broken now and it's not used for anything, and the fix shouldn't touch your code much. Maybe you can add a test that splits a range, stops the world and then computes both halves of the replicas and their sum.

[2016-02-18 03:41] #4411 closed

[2016-02-18 04:58] tamird opened #4482 "data race in TestGossipStorage"
https://circleci.com/gh/cockroachdb/cockroach/12970

[code]

[2016-02-18 05:13] mjibson opened #4483 "sql: network fuzz testing"
Need to do some fuzz testing of pgwire. Due to its implementation, it's not easily fuzz-able within the code. Instead, we could consider using a network fuzzer like [sulley](https://github.com/OpenRCE/sulley).

[2016-02-18 05:39] tschottdorf opened #4484 "circleci: failed tests (12973): TestGossipStorage"
The following test appears to have failed:

[#12973](https://circleci.com/gh/cockroachdb/cockroach/12973):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-18 06:00] BramGruneir commented on #4465
As discussed, this approach SGTM

[2016-02-18 07:41] knz commented on #4472
I think this still doesn't apply to the jepsen tests since I am still using the CLI client with separate arguments after -e, and these are sent as separate queries.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-02-18 07:44] knz commented on #4374
OK but how do you suggest to deal with the TLS messages generated by Go's http library? I think we definitely want those to appear.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-02-18 09:38] tamird commented on #4484
Non-race version of #4482.

[2016-02-18 13:35] petermattis commented on #4374
Update: `http.Server` has an `ErrorLog` field. We could set that field and direct the log messages to `log.Error`.

[2016-02-18 14:54] petermattis opened #4486 "rpc: investigate dying on fatal crypto errors"
In `rpc.Client`, failure to connect to a remote host (i.e. another cockroach node) may be due to a crypto configuration error. We could detect errors such as `x509.HostnameError` and kill the process instead of trying forever to make progress unsuccessfully.

Given that `rpc.Client` is going away, we should figure out what can be done with gRPC.

[2016-02-18 14:57] #4470 closed

[2016-02-18 15:19] tschottdorf opened #4488 "circleci: failed tests (12992): TestGossipStorage"
The following test appears to have failed:

[#12992](https://circleci.com/gh/cockroachdb/cockroach/12992):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-18 15:21] tamird commented on #4488
Dupe #4482

[2016-02-18 15:21] #4488 closed

[2016-02-18 15:45] petermattis opened #4489 "perf: (micro-)optimize MVCCDeleteRange"
`MVCCDeleteRange` currently performs an `MVCCScan` and then iterates over the result key/value pairs and calls `MVCCDelete` on each key. Rather than building up the slice of key/value pairs, we could use `MVCCIterate`. Perhaps even better to do more code restructuring so that a single `Iterator` can be shared between iterating over the range and the `MVCCDelete` operation.

[2016-02-18 15:55] JackKrupansky opened #4491 "Support SERIAL PK for appending rows to a table"
For tables in which new rows are intended to be appended in chronological order support for SERIAL PK would be very desirable. While at first blush it would seem that having to synchronize atomic updating of a sequence number generator would add excessive overhead, it can be noted that since each appended row will be inserted in the last range for the table, the sequence number generator could be

[2016-02-18 16:03] petermattis opened #4492 "cli: default log directory to the first store directory"
Rather than default the log directory to `os.TempDir` (i.e. `${TMPDIR}`) we could default it to a subdirectory of the first store directory (i.e. `./cockroach-data/logs`). This would make the logs slightly easier to access. Any concerns with doing this? Is `${TMPDIR}` preferable for some reason? One downside to `${TMPDIR}` is that logs tend to accumulate there without bound.

If there are no store

[2016-02-18 16:29] tschottdorf commented on #4492
I think that makes some sense, though for a spinning disk it seems like that wouldn't be what you'd want. But then again, it's only default, and a convenient one at that.

[2016-02-18 16:46] nvanbenschoten opened #4493 "storage/engine: rocksdb runs out of file descriptors"
After running a cluster for a while and trying to print the keys using the command `./cockroach debug keys /tmp/data1`, I was presented with the following error:

[code]

The dump ran fine when I cleared the store, ran the cluster for less time, and ran the command again.

[2016-02-18 16:59] vivekmenezes commented on #4443
I just saw this error when I reran the new acceptance test TestNodeRestart in https://github.com/cockroachdb/cockroach/pull/4392 .

[2016-02-18 17:29] vivekmenezes commented on #4484
https://circleci.com/gh/cockroachdb/cockroach/13002

[2016-02-18 17:37] #4398 closed

[2016-02-18 17:52] bdarnell commented on #4493
This isn't unique to this CLI command. RocksDB is running into the file descriptor limit, which is very low by default on OSX (256). There is a `max_open_files` option when opening the DB which will limit rocksdb to that number of descriptors. It defaults to `min(5000, current_limit)`, but it computes the current limit without leaving any room for other files in the process. I think we should eith

[2016-02-18 17:53] knz commented on #3943
@mberhault you have a point for "drop table". However for "drop database" it's a little bit different because (AFAIK) it's not ruled by permissions. Also by default `cockroach sql` logs into the database as `root` which has all permissions.

I think I want to handle this as follows:
- change the default behavior of `cockroach sql` to log in with the current user's name, not `root` by default
- whe

[2016-02-18 17:59] bdarnell commented on #4486
Killing the local process because a remote node is misconfigured seems harsh; it seems easy for one node to wipe out a whole cluster this way. We want to make sure that these errors become visible somehow, but we shouldn't kill the node unless we can determine that it's our configuration that's wrong.

[2016-02-18 18:06] mberhault commented on #3943
dropping a database requires `DROP` permission at the database level, so that's protected too.
* we could definitely change the default user, but for now, using `root` makes it easier to run without worrying about permissions. I'd say the change should come when we have more fleshed out user management, probably post-beta.
* `root` is like any other user, the only difference is that it's the only

[2016-02-18 18:15] knz commented on #3943
@mberhault ok now I see the point.

I think that unless we start to parse statements client-side to detect DROP, there is not much left we can do at this point.

@petermattis Given @mberhault's comments it feels to me like the current behavior is fine for Beta, and that we'll revisit the topic post-Beta. What do you think: close the issue or change the milestone?

[2016-02-18 18:38] knz commented on #4258
@bdarnell The problem is that if we only have a simple condition on Accept's error return, it's unclear how to handle temporary errors:

- Just continuing the loop is going to busy loop (with Accept continuously failing until some FD becomes available).
- Stopping the loop needs a way to resume serving when some existing connection is closed. This could be made to work but will make the code hairy

[2016-02-18 19:04] knz commented on #4374
Hmm I tried that and it's going to be difficult to implement without major reshuffling of `util`.
The problem is that http.Server's `ErrorLog` must be a `log.Logger` which has its own set of formatter functions (Info, Warn, ...) on top of an `io.Writer`. To override this we must either

- implement our own `log.Logger` shim that redirects everything to our own `log` module; or
- implement an `io.W

[2016-02-18 19:12] knz commented on #3993
So I was looking into this and again the DB interface is not helping.
The problem is that even with multiple result sets the interface is still either rows[][] or nothing. For reporting the row count for update and delete, we need a different kind of interface, where the number of rows is a separate return value from the rows themselves; i.e.

[code]

But this requires rather pervasive changes in

[2016-02-18 20:26] andreimatei commented on #3993
I thought returning the number of rows as the result is what @dt was working on? And I thought that's standard behavior? What does postgres return for INSERT and UPDATE?

[2016-02-18 20:29] bdarnell commented on #3993
The trouble is that the go sql interface has a strict separation between Query (which returns rows) and Exec (which returns a count of rows affected). We need to either use a lower-level interface (i.e. use lib/pq directly without going through database/sql) that does not force us into this distinction or parse the statements on the client side so that we can send statements with results via Query

[2016-02-18 20:31] bdarnell commented on #4492
SGTM

[2016-02-18 20:36] maxlang commented on #4451
@jess-edwards and I talked about it like an A/B test, but I was thinking more as backing off - ie try with the stricter requirement and if we don't like the numbers we're seeing back off to something less strict.

The more I think about it though, the more I want to start out with them not required - we get useful info from everyone including email, and people who are probably more open to being c

[2016-02-18 20:41] bdarnell commented on #4374
Can we break the dependency cycle by moving `util.ListenAndServe` and related code to `util/netutil`? Now that the util/net.go is getting more complicated it would be good to put it in a place where it can use the same logging as the rest of our code.

[2016-02-18 20:50] bdarnell commented on #4258
If we're reaching the file descriptor limit, we're going to have a lot of problems (rocksdb can't open data files, we can't open outbound connections that might be necessary to make progress, etc). We should keep track of how many connections we have open and pause the accept loop when it gets too high. (listen(2) is not quite related to this problem).

We should probably also have a sleep in the

[2016-02-18 21:33] tamird commented on #4138
I can reproduce this locally after about 3 minutes using `make stressrace PKG=./server TESTS=TestIntentResolution`.

[2016-02-18 22:25] tschottdorf commented on #4389
@tamird bumped this up to 100. The sky is the limit.

[2016-02-18 22:45] tschottdorf opened #4500 "circleci: failed tests (13021): TestConvergence TestGossipStorage"
The following test appears to have failed:

[#13021](https://circleci.com/gh/cockroachdb/cockroach/13021):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-18 22:51] tschottdorf commented on #4389
convergence_test.go:33: expected a fully-connected network within 100 cycles; took 110

[2016-02-18 22:51] tschottdorf commented on #4389
@spencerkimball is something wrong with this test perhaps? 110 cycles sure seems a lot when this used to run with <20 a while back.

[2016-02-18 23:37] spencerkimball commented on #4389
We changed the way the simulation cycle works so it requires more steps for convergence. I can look into it.

[2016-02-19 00:00] tschottdorf commented on #4389
If you think there could be something fishy, please. Otherwise, can always bump the limit to essentially infinity.

[2016-02-19 00:14] #4482 closed

[2016-02-19 00:14] #4484 closed

[2016-02-19 00:17] tschottdorf opened #4501 "circleci: failed tests (13026): TestSSLEnforcement"
The following test appears to have failed:

[#13026](https://circleci.com/gh/cockroachdb/cockroach/13026):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-19 01:24] petermattis commented on #4374
`util/clog` is using `util/encoding` unnecessarily. The dependency is easy to break and then `util.ListenAndServe` can use `util/clog`. I'll make that change. Might be worthwhile to create a `util/netutil` as well, but I'll leave that for someone else or for the issue to be forced for some other reason.

[2016-02-19 01:25] #4457 closed

[2016-02-19 01:26] petermattis commented on #4486
I agree on the need to be careful, yet we should make an effort to detect crypto misconfigurations. I'm going to change the milestone to 1.0 as I don't think this needs to be addressed for beta.

[2016-02-19 01:27] petermattis commented on #3993
Tomorrow (or early next week) I'm going to take a look at what going directly through `lib/pq` (or `cockroach/pq`) can buy us.

[2016-02-19 01:42] petermattis commented on #4374
Good grief, removing the dependency on `util/encoding` isn't enough. `util/log` also depends on `roachpb` for the `roachpb.{Node,Store,Range}ID` types. See #4449 for my opinion on this.

[2016-02-19 01:49] petermattis commented on #4374
The `roachpb` dependency doesn't need to exist either. It is needed for `util/log.AddStructured` which is so far unused in our code base. My opinion is we should remove it.

[2016-02-19 02:11] cuongdo commented on #4258
Good suggestions. Also, we should check the file descriptor limit against
the connection limit (e.g. error on startup if FD limit < connection limit).

On Thu, Feb 18, 2016 at 3:50 PM Ben Darnell <notifications@github.com>
wrote:

[2016-02-19 02:12] tschottdorf commented on #4374
Sgtm

On Thu, Feb 18, 2016, 20:49 Peter Mattis <notifications@github.com> wrote:

[2016-02-19 02:14] tamird commented on #4374
Another alternative is to break roachpb's dependency on util. A cursory
glance suggests it's not so difficult.

On Thu, Feb 18, 2016 at 9:12 PM, Tobias Schottdorf <notifications@github.com

[2016-02-19 02:22] vivekmenezes opened #4504 "acceptance: add latency metric to TestNodeRestart acceptance test"
So that we can see the effect of a node restarting on read/write latency.

[2016-02-19 03:08] petermattis opened #4506 "util/log: only print stack of running goroutine in log.Fatal"
Go1.6 changed the default behavior of an uncaught `panic` such that only the stack trace of the panicing goroutine is output. See https://blog.golang.org/go1.6. We should consider a similar change for `log.Fatal`. Printing all of the goroutine stack traces can be overwhelming.

[2016-02-19 03:30] cuongdo commented on #4298
Are there specific endpoints you'd like to see first? I'd like to implement ~3 of them first and get feedback on the API before implementing the rest.

[2016-02-19 05:43] BramGruneir opened #4509 "acceptance: add more test configurations"
Add in functionality to a:
- add a flag to pass in a config file containing all the test configs you want to run (and include a default file) -- skipping as unneeded
- add a flag to only run a subset of these test configs (regex by name, similar to how run works) -- skipping as unneeded
- remove stall flag, it's unneeded -- done #5336
- maybe add a flag to specify a test config inline (negating th

[2016-02-19 06:22] tschottdorf opened #4511 "circleci: failed tests (13038): TestConvergence TestSSLEnforcement"
The following test appears to have failed:

[#13038](https://circleci.com/gh/cockroachdb/cockroach/13038):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-19 06:24] tschottdorf opened #4512 "circleci: failed tests (13038): TestStatusServer"
The following test appears to have failed:

[#13038](https://circleci.com/gh/cockroachdb/cockroach/13038):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-19 16:27] petermattis commented on #4491
This is an interesting idea, though there are implementation complexities that may make it infeasible. Before getting into them I'd like to understand the use case better and question whether a `SERIAL PK` actually solves them. Consider the following:

[code]

Now txn1 does:

[code]

Notice the lack of commit. And txn2 does:

[code]

At this point, only txn2 has committed and the table contains:

[2016-02-19 16:46] #4381 closed

[2016-02-19 16:48] JackKrupansky commented on #4491
I was under the impression that the first transaction would be forced to restart - to enforce serialization. I was assuming that the full statement would be restarted. Sounds like you are saying that the raw mutations would be restarted but the evaluation of default values would not. Good point to consider though!

[2016-02-19 16:58] tschottdorf opened #4517 "circleci: failed tests (13046): TestClusterRecovery"
The following test appears to have failed:

[#13046](https://circleci.com/gh/cockroachdb/cockroach/13046):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-19 17:51] petermattis commented on #4511
Dup of #4501 and #4389.

[2016-02-19 17:51] #4511 closed

[2016-02-19 17:52] petermattis commented on #4389
Dup of #4500.

[2016-02-19 17:52] #4389 closed

[2016-02-19 18:00] petermattis commented on #4491
I'm not sure how Postgres would handle these statements in serializable isolation, but Cockroach could certainly be made to restart the transaction on conflicts. This would guarantee the row is appended to the table at transaction commit time, but it would also kill performance when multiple transactions are inserting into the table concurrently.

[2016-02-19 18:39] petermattis commented on #4517
Note that `TestNodeRestart` is also flaky. Possibly related.

[2016-02-19 19:44] jess-edwards commented on #4451
@maxlang I'm fine with only requiring email + stats for now. We can reopen this discussion about requiring more information after we see what the early months of opt-in data looks like.

[2016-02-19 21:20] knz opened #4524 "sql: JDBC wants "set session parameters as ...""
Using the same test: https://github.com/cockroachdb/cockroach/issues/3819#issuecomment-171589559

Now fails with:
[code]

[2016-02-19 21:53] #4489 closed

[2016-02-19 22:01] petermattis commented on #4524
`SET SESSION CHARACTERISTICS AS TRANSACTION ISOLATION LEVEL` is a verbose equivalent to `SET DEFAULT_TRANSACTION_ISOLATION`. Now that we support `SHOW DEFAULT_TRANSACTION_ISOLATION` we should probably also support `SET`.

[2016-02-19 22:52] petermattis opened #4527 "cli: allow setting --log-dir=${TMPDIR} for `cockroach start`"
#4505 changed the `cockroach start` command to default the log directory to the "logs" subdirectory of the first store. The implementation isn't quite correct as it looks at the log-dir flag to see if it has changed from the default of "${TMPDIR}". But this implementation means you can't actually set `--log-dir=${TMPDIR}`. The fix is straightforward, instead of default `--log-dir` to `${TMPDIR}` w

[2016-02-19 23:14] #4492 closed

[2016-02-20 00:17] xiang90 commented on #4483
@mjibson

Something as simple as https://github.com/coreos/etcd/blob/master/pkg/netutil/isolate_linux.go#L23-L42 works really well for etcd network fuzz testing. We just build a control plane to keep on inject failures.

[2016-02-20 00:19] xiang90 commented on #4483
If you want to implement a more generic network layer fuzz testing tool, we (etcd community) would love to collaborate.

[2016-02-20 00:28] #4500 closed

[2016-02-20 00:37] JackKrupansky commented on #4491
I went through that recent SQLAlchemy log - it has lots of SERIAL PKs. Typically relies on the values being 1..n small integers and assumes first is 1, etc.

I have some notes on different access patterns for append - low volume/velocity, high volume/velocity, etc. Certainly high volume/velocity would be sub-optimal for implicit counter update with frequent tx restart, but that is not the only app

[2016-02-20 02:14] petermattis opened #4530 "server/status: NodeStatus should contain build info"
The NodeStatus should include the build info. We should then make this info available in the `cockroach node status` command and visible in the ui.

[2016-02-20 03:47] xiang90 commented on #3299
I feel it is hard to cancel 100% of timeout requests. For example if there is a request that already goes into raft log but raft loses leader before it can commit, then we cannot really cancel and have to wait it commit or abort (potentially overwrite by the new leader with a higher term) until the cluster recovers.

[2016-02-20 06:09] tamird opened #4535 "build: consolidate build/circle-deps.sh:fetch_docker with acceptance/cluster.pullImage"
A fair bit of duplicated logic here, but worst of all, duplicated image tags.

[2016-02-20 16:27] knz opened #4538 "sql: JDBC not happy about results for DROP and CREATE"
After applyting #4537, I run into the next error:

[code]

This issue is occuring when JDBC sends "DROP TABLE IF NOT EXISTS TEST" to the db.

The network trace for the CockroachDB connection ( [test.cdb.txt](https://github.com/cockroachdb/cockroach/files/139249/test.cdb.txt) ) and a reference using PostgreSQL ( [test.pg.txt](https://github.com/cockroachdb/cockroach/files/139250/test.pg.txt) ) are

[2016-02-20 16:42] knz commented on #4538
Never mind, this error does not exist. (bug in #4537 )

[2016-02-20 17:01] knz commented on #4538
After investigating the network traces, two observations:

- CockroachDB splits an answer across many packets, whereas pg combines multiple into one
- it is not so clear what the difference is on the DROP between CockroachDB and pg.

[2016-02-20 17:07] #4410 closed

[2016-02-20 17:18] knz commented on #4538
One more investigation. I changed the test to use CREATE instead of DROP, so as to avoid red herrings around pg's "Notice" message. Here is a compared network trace (left: pg; right: cdb). The difference starts here:

[code]

As can be seen here, the transaction is aborted when CREATE completes. Note how cockroach's CREATE returns rows, whereas pg's doesn't.

[2016-02-20 17:38] andreimatei commented on #4538
This sounds to me like a beta bug (but then again many things sounds like beta bugs to me:)) particularly if this is triggered by some framework?
Feel free to assign to me if you're not looking into it, but please give some repro instructions and the wireshark or whatever commands you use to capture these traces.

[2016-02-20 19:34] andreimatei commented on #4538
Looks like BEGIN also seems to return some rows in cockroach. Don't know
what's up with that.
How do you get that "the transaction is aborted when CREATE completes"? I
see "Status: In a transaction (84)" after the CREATE results.

On Sat, Feb 20, 2016 at 12:18 PM, kena <notifications@github.com> wrote:

[2016-02-20 21:00] knz commented on #4538
I meant the client aborts the transaction (with a rollback) because it's not happy with the results of create. See the exception message in the initial issue description.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-02-21 00:37] knz commented on #4538
To reproduce:

0. install Oracle JDK 8 and `leiningen` ( http://leiningen.org/ )
1. run a `cockroach` instance insecure
2. create a database called `jepsen` in there
3. clone https://github.com/knz/jepsen
4. take a cursory look at the configuration variables at the beginning of `jepsen/cockroachdb/src/jepsen/cockroach.clj`. Notice how `jdbc-mode` can switch between pg and cockroach. Ensure is set

[2016-02-21 00:46] knz commented on #4538
From there if you are using the local instance you can run `tcpdump -w trace.pcap -i lo0 port 15432` during the test to capture the packet log. Then `tshark -r trace.pcap -d tcp.port=15432,pgsql -O pgsql` to parse the trace and extract the protocol details.

[2016-02-21 10:11] knz opened #4540 "sql: revisit the typing RFC in the light of sql2011"
Found in a comment on #1795:

While SQL:2011 basically leaves much of this as an implementation detail ...

"Every number has a precision (number of digits), and exact numeric types also have a scale (digits after the radix point). Arithmetic operations may be performed on operands of different or the same numeric type, and the result is of a numeric type that depends only on the numeric type of t

[2016-02-21 19:48] petermattis commented on #4026
Do we need the new typing system to fix this? Or is there a shorter term fix available?

[2016-02-21 19:48] petermattis commented on #3507
@mjibson Anything left to do here?

[2016-02-21 19:50] petermattis commented on #3633
I believe we expect this bug to be fixed by the new typing system, but that isn't targeted for beta. Is there a shorter term fix available?

[2016-02-21 19:56] petermattis commented on #4449
Discussed with Spencer offline and he agreed it is fine to output text logs by default. So I'll be moving forward with this.

[2016-02-21 22:10] bdarnell commented on #4491
The automatic primary key feature is already spelled differently in every database (`SERIAL` in postgres, `INTEGER AUTO_INCREMENT` in mysql, etc), so this is something that can be swapped out in sqlalchemy or any other ORM (https://github.com/bdarnell/cockroach-python/commit/e1fad2f57eb25d37d613ba5a1fa3bf2971cf2418)

Both mysql and postgres increment their counters outside of the transaction, so t

[2016-02-21 22:34] bdarnell commented on #4527
Why mention `${TMPDIR}` at all? It just makes the `--help` output misleading. The flag default can be an empty string which we replace with either os.TempDir or the first store depending on the command.

[2016-02-21 22:35] bdarnell commented on #4506
Conversely, we should probably set `GOTRACEBACK=all` in circleci; it's difficult to debug test timeouts if the only stack trace that is shown is the test monitor thread.

[2016-02-22 00:26] knz opened #4542 "sql: SET SESSION should be processed as a Set statement"
With the proposed change in #4537 the Set statement should be able to carry an IsolationLevel as argument. However for now it can only carry Exprs, so instead a separate SetIsolationLevel statement is used. The two should be merged instead (and perhaps SetTimezone too?)

[2016-02-22 00:54] #4413 closed

[2016-02-22 01:00] petermattis commented on #4527
@bdarnell The only reason is so that `cockroach --help` will show the default.

[2016-02-22 01:37] #4374 closed

[2016-02-22 01:39] bdarnell commented on #4527
But `$TMPDIR` is no longer the default for what is arguably the most important command. Better to show nothing than something misleading.

[2016-02-22 02:02] petermattis commented on #4540
I'm having trouble determining what the text you quoted precludes in the typing RFC. And there is also the question of whether being compliant to the SQL:2011 spec is a goal. Unlike other standards, it seems the compliance to the SQL spec is much looser, with quite a bit left to implementation detail.

[2016-02-22 02:21] #4466 closed

[2016-02-22 04:24] nvanbenschoten opened #4547 "keys: key parsing code should be moved from storage to keys"
Key parsing code like [`decodeSequenceCacheKey`](https://github.com/cockroachdb/cockroach/blob/master/storage/sequence_cache.go#L234) doesn't belong in storage. These functions should be moved to the `keys` package.

[2016-02-22 07:20] knz commented on #4540
OK but I think it's fair to create a doc that acknowledges how we diverge from the standard. That's why I want to read it through and see if there's anything noteworthy in there.

[2016-02-22 09:17] knz opened #4549 "sql/pgwire: responses to commands should be coalesced"
Noticed while comparing pg and cockroach network traces, e.g. in https://github.com/cockroachdb/cockroach/issues/4538#issuecomment-186655930

The responses to a combined command packet are sent as separate/individual packets by cockroach, whereas pg keeps the responses combined. The extra packets mean more network traffic / overhead.

Responses should be coalesced for performance.

[2016-02-22 09:26] knz opened #4550 "sql: "no database specified" in pgwire session with database properly set"
Assuming #4537 and #4548 , investigating #4036, next error:

- JDBC sends `CREATE TABLE test`, this succeeds;
- next command is `INSERT INTO test VALUES ...`, this fails with `error: no database specified: test`.

Network trace:
[code]

[2016-02-22 13:25] petermattis commented on #4540
Agreed that we should be cognizant of where we diverge from the standard and to document such occurrences.

[2016-02-22 13:43] petermattis commented on #4549
Strange. Looks to me like we only flush the write buffer immediately before trying to read another command from the client.

[2016-02-22 13:55] petermattis commented on #4549
Ah, it looks like postgres is trying to read the next command from the client before flushing the response to the previous command. We could certainly do that as well, though it is mildly irritating to do from Go because the I/O is blocking. What we could do is check to see if the read buffer has another command buffered before flushing the response to the previous command.

[2016-02-22 15:13] tschottdorf opened #4554 "circleci: failed tests (13167): TestSystemConfigGossip"
The following test appears to have failed:

[#13167](https://circleci.com/gh/cockroachdb/cockroach/13167):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-22 15:49] knz opened #4555 "ui: `go generate` fails on Linux because of osx-specific dependency"
While working on #4548 I needed to run `go generate` and encountered the following:

[code]

[2016-02-22 15:50] tamird commented on #4555
That's odd. How come it works in CircleCI?

On Mon, Feb 22, 2016 at 10:49 AM, kena <notifications@github.com> wrote:

[2016-02-22 15:54] knz commented on #4555
After upgrading to a more recent version of `master` I run into a different issue:
[code]

Now I can work this issue by symlinking `/usr/bin/nodejs` to `~/bin/node` but again there's too much magic.

I do not know why it works in CI but it definitely does not work out of the box on this plain, no-frills, out-of-the-box ubuntu 15.

[2016-02-22 15:58] tamird commented on #4555
I suggest you run it inside the builder container.

On Mon, Feb 22, 2016 at 10:54 AM, kena <notifications@github.com> wrote:

[2016-02-22 16:02] knz commented on #4555
Wait what? Where is this documented?

[2016-02-22 16:05] tamird commented on #4555
I might not be specifically documented, but that's the purpose of the builder container: to provide a known environment in which our tools work. Trying to make everything resilient in the face of ever-changing distributions and user-specific setups is not an efficient use of development time.

[2016-02-22 16:17] knz opened #4556 "sql: Missing JDBC tests"
Issues #4550 and #4538 highlight there is insufficient testing via JDBC. This needs to be addressed.

[2016-02-22 16:24] spencerkimball opened #4558 "sql: allow inconsistent reads through"
We should be allowing inconsistent reads (from any replica) from SQL.

[2016-02-22 16:25] knz commented on #4555
Look I am all right with running the acceptance tests in docker; however here you are saying that I should run `go generate` in the builder container as well? How does this work exactly? My git working directory lives outside of docker, so how can I run `go generate` inside docker and know outside docker what to commit?

[2016-02-22 16:28] BramGruneir opened #4559 "acceptance: add chaos agents"
- Add the ability to add chaos agents to acceptance test configs
- Ensure test that require no chaos agents use only a subset.

Related to #4015

[2016-02-22 16:35] tamird commented on #4555
`build/builder.sh` is a wrapper script designed to make this convenient.
You can run `build/builder.sh go generate ./...` from the repository root
to get the intended result.

On Mon, Feb 22, 2016 at 11:25 AM, kena <notifications@github.com> wrote:

[2016-02-22 16:36] tschottdorf opened #4560 "kv: single_key_test.go:119: expected 600, but found 599"
This happened on https://circleci.com/gh/cockroachdb/cockroach/13148 so theoretically it could have been introduced there, but that's not obviously the case.

In that test run above, one increment is missing - expected value is 600, but we get 599, so one was missing. I took a cursory look at the test code and it doesn't seem that there's an issue with the test-side increments (i.e. it looks like

[2016-02-22 16:37] petermattis commented on #4558
Does the KV layer allow inconsistent reads? If so, how do you specify that? How would you want to indicate that inconsistent reads are ok in an SQL statement?

[2016-02-22 16:37] BramGruneir opened #4561 "acceptance: add store sizes as a test configuration option"
Requires #4095 to be completed.
Part of #4015

[2016-02-22 16:39] BramGruneir opened #4562 "kv: revisit locking in handle raft ready"

[2016-02-22 16:40] petermattis commented on #4560
I saw this failure as well: https://circleci.com/gh/petermattis/cockroach/350?utm_campaign=build-failed&utm_medium=email&utm_source=notification. That PR was definitely not the source of the problem.

[2016-02-22 16:43] tschottdorf commented on #4558
`kv` allows this through the `ReadConsistency = INCONSISTENT` setting. But you can't have inconsistent reads in a transaction, so SQL needs more machinery. Also, I think read-write transactions based on inconsistent reads may be a bad idea. Plus, SQL will have to be much more accepting to "weird" data as it's carrying out its KV operations since "anything can happen".

I don't know if inconsistent

[2016-02-22 16:43] BramGruneir opened #4564 "kv: revisit computeReplicationStatus"
Revisit store.computeReplicationStatus
See todo notes in code.

[2016-02-22 16:45] nvanbenschoten commented on #4026
I made a change a while ago to parse all `IntVal`s as `NumVal`s when the value is out of range. This made the issue's initial example look like:

[code]

This is better than an error, but it's still unfortunate that there is a loss of precision due to the `NumVal` float parsing. We could avoid this issue by evaluating all `NumVal`s as DECIMALS, but without the new type system, this would make work

[2016-02-22 16:45] bdarnell commented on #4555
The version of node that ships with ubuntu 15 (both 15.04 and 15.10) is rather old, and quirky (debian and ubuntu rename the binary from `node` (as it is everywhere else) to `nodejs` to avoid conflicts with an older package named `node`). In circleci we install nodejs from nodesource.com instead of the version that comes with ubuntu.

We should at least document this in CONTRIBUTING.md. If it's ea

[2016-02-22 16:46] BramGruneir opened #4566 "storage/simulation: More Work"
The simulator needs a good amount of work still.

Revisit the simulator once the current rebalancing work is completed.  It should be a much faster way to adjust the heuristics. But it must accurately represent how a cluster behaves.

[2016-02-22 16:52] maxlang commented on #4298
@cuongdo nothing specific first. Probably easiest to start with ```/databases```

[2016-02-22 16:53] tschottdorf commented on #4560
Ok. I'll start by adding more checks as the keys are written. If that
indicates that the "weird stuff" happens as the test finishes, maybe there
**is** some atomic update issue I'm overlooking (as opposed to a
consistency failure).

On Mon, Feb 22, 2016 at 11:41 AM Peter Mattis <notifications@github.com>
wrote:

[2016-02-22 17:03] bdarnell commented on #4549
This is what Nagle's algorithm is for. Go's `net` package turns `TCP_NODELAY` on by default; maybe we should turn it off? Although it would be good to be able to flush the outgoing buffer before we go into a blocking read.

[2016-02-22 17:13] andreimatei commented on #4026
As long as we don't crash, I think we're good for the immediate term. I'll remove the "beta" label.

[2016-02-22 18:01] andreimatei commented on #3633
yeah, there's got to be a way to avoid this crash by using compOps in Datum.Compare. Will do.

[2016-02-22 18:10] tamird commented on #4554
20k runs locally and no repro.

[2016-02-22 19:06] nvanbenschoten opened #4572 "storage: Use replicated and unreplicated system-local ranges in Replica snapshot logic"
#4510 split the replicated and nonreplicated system-local keys into two groups, so that either one can be operated on independently. This distinction can now be exposed through`replicaDataIterator` to clean up some of the logic in `Replica.Snapshot` and `Replica.ApplySnapshot`.

[2016-02-22 20:10] BramGruneir opened #4577 "cli: Redefine Stores Flag"
Split the --stores flag into having multiple --store flags.

**The following is old, see [Ben's](https://github.com/cockroachdb/cockroach/issues/4577#issuecomment-187377935) comment below to see the format we plan to use.**

So the new flag will be used once per store, and contain the following values, in order:
- attributes _always optional, separated by commas_
- size _optional unless using an i

[2016-02-22 20:16] tschottdorf commented on #4577
I think it should also be possible to specify sizes in human-readable formats (mb, gb) and I would avoid the percentage symbol (bad for scripting). Percentages can be specified as `.5` (for 50%) and I think this should be self-explanatory if you see it.

I don't like muddling up the size with the attributes and special-casing based on its being numeric, but somehow an extra separator doesn't make

[2016-02-22 20:25] petermattis commented on #4577
It feels awkward for the size and labels to be intermixed like that. Perhaps the size should be distinguished with different syntax:

`--store abc=/tmp/data:50%`
`--store def=/tmp/data2:1gb`

[2016-02-22 20:26] #4447 closed

[2016-02-22 20:28] BramGruneir commented on #4577
@petermattis By putting the amount after the directory, it limits the directory syntax.
What about the special cases?
In memory with attribute?
In memory without attribute?

[2016-02-22 20:32] petermattis commented on #4577
Is limiting the directory syntax a problem? We could use a rarer delimiter like `@` or `[`:

`--store /tmp/data@50%`
`--store /tmp/data[50%]`

[2016-02-22 20:37] tschottdorf commented on #4577
We discussed that it's a bad idea to have anything after the path since pretty much anything is a legit path name.

[2016-02-22 20:38] tschottdorf commented on #4577
I like `attrs=/path=asdasd@size` though. Maybe we can just limit the allowed paths.

[2016-02-22 20:52] bdarnell commented on #4577
We could also allow the delimiter to be escaped so that it wouldn't be completely disallowed.

My preference would be to demote attributes since they're something of an advanced feature, so you'd specify attributes with `attr=abc,def` and the size could be `size=50%`. I'd probably even specify the path with a `path=` prefix when combined with any other syntax (so there would just be a special case

[2016-02-22 21:02] bdarnell commented on #3299
Yeah, this doesn't have to be 100% accurate. We have some logic to re-propose commands that may have been dropped by raft during a leadership transition; this issue is just to stop re-proposing commands that will have no effect when applied because their internal deadline has expired.

[2016-02-22 21:10] knz commented on #4550
Waiting for #4578 to propose a standalone test (will extract from #4557).

[2016-02-22 21:10] tschottdorf opened #4579 "circleci: failed tests (13213): TestIntentResolution"
The following test appears to have failed:

[#13213](https://circleci.com/gh/cockroachdb/cockroach/13213):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-22 21:15] knz commented on #4556
Will address in the PRs for individual issues.

[2016-02-22 21:15] #4556 closed

[2016-02-22 21:24] petermattis commented on #4577
Ben's proposal is fine by me.

[2016-02-22 21:25] xiang90 commented on #3299
Got it. Thanks!

[2016-02-22 21:38] BramGruneir commented on #4577
I'm leaning toward's Ben's proposal as well.  I like the explicit nature of it.
Also, shorthand -s instead of always having to write --store.

[2016-02-22 21:47] #3852 closed

[2016-02-22 22:22] #4555 closed

[2016-02-22 23:48] mrtracy opened #4583 "storage: Better testing of storage-level stats"
After #4021 is complete, there will be a small testing deficit around store-level metrics; specifically, there is no unit-level test to ensure that store level metrics are being recorded properly.  Such a test would be similar to "TestQueryCounts" in the sql package.

These metrics are very visible during UI testing, but a unit-level test would provide more direct verification.

[2016-02-22 23:53] jseldess commented on #4577
I looked through the mongo, cassandra, and hbase docs to see how they handle such settings. Really hard to track it all down! I'll look more tomorrow, but I find Ben's proposal a lot more intuitive than what I've been seeing.

[2016-02-23 01:36] tschottdorf commented on #4577
I like @bdarnell's proposal as well, but I'm still in favor of supporting human-readable sizes (at least to some extent: `100gb`, `55mb`, not necessarily `5.1251mb`).

[2016-02-23 02:51] petermattis commented on #4577
@tschottdorf Agreed about human-readable input. See https://github.com/cockroachdb/cockroach/issues/4348.

[2016-02-23 05:44] BramGruneir commented on #4577
I like human readable as well.  I found a library https://github.com/dustin/go-humanize that I'm going to be referencing to do the parsing.

[2016-02-23 12:13] knz opened #4589 "sql: error on v3.go during `go generate`"
From a fresh master checkout:

[code]

Strange thing is, the code compiles without errors.

[2016-02-23 12:40] tschottdorf commented on #4577
Go-humanize does parsing?

On Tue, Feb 23, 2016, 00:44 Bram Gruneir <notifications@github.com> wrote:

[2016-02-23 12:58] knz opened #4591 "acceptance: need to refactor the Java acceptance tests"
Suggestions collected over #4578:
- Java code should be in separate .java files (eases editing)
- there should be no preprocessing (different files are best)
- the different Java tests should be executed one after another by test logic written in Java
- the filesystem in the test docker instance should not be polluted by generated files

[2016-02-23 13:03] #4524 closed

[2016-02-23 13:10] knz commented on #4434
@tamird not sure this is #1008 exactly. Here the problem is FQDN vs. non-qualified names. The cert check code should qualify the name used for the check as a matter of course, regardless of whether the node can be reached using that address or not.

[2016-02-23 13:23] petermattis commented on #4577
https://godoc.org/github.com/dustin/go-humanize#ParseBytes

[2016-02-23 13:36] knz opened #4592 "Not enough context in Java acceptance test results to troubleshoot issues"
While working on #4548 CircleCI produces the following report:
[code]

The exception message prior to the FAIL line is cut short and does not contain enough information to analyze what went wrong.

[2016-02-23 13:41] knz commented on #4589
Error disappeared after upgrading to Go 1.6.

[2016-02-23 13:41] #4589 closed

[2016-02-23 13:56] bdarnell commented on #4592
There is more detailed output in the circleci web UI: In the red box on https://circleci.com/gh/cockroachdb/cockroach/13262 that says

[code]

Click `more` on the right to see the full log for this test. (maybe we should get rid of the grep-based exceprt.txt in favor of the xml-parsed logs)

[2016-02-23 13:57] knz opened #4593 "sql: `RETURNING *` fails to expand star"
Found while trying to work around #4550:

[code]

`RETURNING *` should succeed as soon as the table name is properly qualified.

[2016-02-23 14:02] knz commented on #4592
@bdarnell thanks! I never noticed this "more" thing before.

So I guess this issue is moot then. Even with XML testing there would also be a "more" button which I would also not have seen the first time. :)

[2016-02-23 14:02] #4592 closed

[2016-02-23 14:49] #4538 closed

[2016-02-23 15:09] tamird commented on #4434
I'm not following you here. What do you mean by "qualify"? qualify with what - all we know about the node is its hostname; what additional information would we use to augment the hostname?

[2016-02-23 15:18] knz commented on #4434
So basically "qualified" is a term used with host names. So if you have a host "foo" in a sub-network "bar"  of a search domain "microsoft.com", "foo" is unqualified, "foo.bar" is partially qualified and "foo.bar.microsoft.com" is fully qualified.

Now you can look at the error message I initially reported. The problem is that:

- the certificate properly contains the FQDN "ip-172-31-52-143.ec2.in

[2016-02-23 15:26] tschottdorf opened #4594 "circleci: failed tests (13270): TestIntentResolution"
The following test appears to have failed:

[#13270](https://circleci.com/gh/cockroachdb/cockroach/13270):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-23 15:28] tamird commented on #4434
I see. Seems that we'll want to use https://godoc.org/github.com/miekg/dns or similar for this.

[2016-02-23 15:47] bdarnell commented on #4594
Presumably a dupe of #4579, although the messages are slightly different.

[2016-02-23 15:47] #4594 closed

[2016-02-23 15:52] dt opened #4596 "sql: Placeholders unsupported in CREATE and DROP statements"
[code]

[2016-02-23 16:16] bdarnell opened #4597 "sql: support placeholders for identifiers"
Example from #4582: `SHOW GRANTS ON DATABASE %s; SHOW TABLES FROM %s`

[2016-02-23 17:21] petermattis commented on #2724
I'm not sure if our `log.{Warning,Error}` messages have had enough consideration to be displayed as-is in the admin UI. Now that we have the event-log facility, I think we should make a pass over the `log.{Warning,Error}` occurrences and consider upgrading some of them to events.

[2016-02-23 17:27] petermattis commented on #4269
@mberhault What's the status of this? Would be good to get this done soon as it affects documentation.

[2016-02-23 17:28] tschottdorf opened #4599 "circleci: failed tests (13277): TestIntentResolution"
The following test appears to have failed:

[#13277](https://circleci.com/gh/cockroachdb/cockroach/13277):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-23 17:31] bdarnell commented on #4599
Duplicate of #4579.

[2016-02-23 17:31] #4599 closed

[2016-02-23 17:37] tamird commented on #4138
We have an auto-created copy of this in #4579.

[2016-02-23 17:37] #4138 closed

[2016-02-23 18:00] BramGruneir commented on #4577
Any final comments?
The plan right now is to implement Ben's style with human-readable values.

[2016-02-23 18:02] petermattis commented on #4577
Do it.

[2016-02-23 18:10] tschottdorf commented on #4579
Maybe just Raft replays or concurrent readers happening to find intents and sending another resolve (there's duplication in the actual output). I'll look into it.

[2016-02-23 18:26] bdarnell commented on #4434
We don't need a third-party dns package; `net.LookupAddr` should suffice (if reverse-dns lookups are what we need here). But I'm not sure if that's the right solution.

Where did the two different hostnames here come from? It looks like the nodes can address each other using their unqualified hostname, so why did you create the certificate for the qualified version? If `os.Hostname` doesn't return

[2016-02-23 19:31] knz commented on #4434
@bdarnell thanks for asking :-)
So here we're looking at the AWS scenario. When you create an aws  cluster using either tool we advertise, the tool informs you only about the public IP address of your newly created nodes. If like me you're an innocent user you try to set up your cockroach nodes using this information and you soon hit one of the known issues. So reading these issues' discussions yo

[2016-02-23 20:15] RaduBerinde opened #4604 "sql: RETURNING causes pgwire panic"
Adding a test like this in TestPGPreparedExec
[code]

Causes:

[code]

@mjibson

[2016-02-23 21:30] RaduBerinde opened #4607 "sql: subquery_retry test occasionally fails with one duplicate"
As part of the #4472 I wanted to enable the `subquery_retry` parallel test. It usually passes but I have seen occasional failures. Every time it failed, the failure showed exactly one duplicate value:

[code]
This might be the same root cause as #4560 but I am filing a separate issue until we know for sure.

I tried using `make stress` to run the test in a loop and found no failures.

I tried maki

[2016-02-23 21:33] JackKrupansky commented on #4577
For reference, Cassandra supports the JBOD model for storage - Just a Bunch Of Disks. The data_file_directories parameter in the cassandra.yaml configuration file can specify a list if directories, typically one per storage device, with no other settings for each directory/device. Then, on each memtable/sstable flush it will select the directory (device) which has the most available space as a per

[2016-02-23 22:11] bdarnell commented on #4434
Can we fix the tools we provide to give you the internal IP/hostname instead of the public one?

Concretely here's what's happening on an ubuntu 14.04 instance I just started by hand on ec2:

* `os.Hostname` returns "ip-172-31-49-127"
* `hostname` returns "ip-172-31-49-127"
* `hostname -f` returns "ip-172-31-49-127.ec2.internal"
* `host 172.31.49.127` (using the IP from `ifconfig`) returns "ip-172

[2016-02-23 23:38] knz opened #4612 "sql/pgwire: unit tests should check db name qualification"
Found while investigating #4550.

Currently all Go acceptance tests connect without a db name (so no default db in session) and qualify the db name in all test queries.

There should be some tests in here that connect with a test database pre-populated in the session and then check that queries with unqualified table names succeed.

[2016-02-24 03:25] tamird commented on #4612
Does this need to be an acceptance test? Seems like a unit test would
suffice.
On Feb 23, 2016 18:38, "kena" <notifications@github.com> wrote:

[2016-02-24 14:46] knz commented on #4593
Related to #4604: RETURNING on insert currently knows about already qualified column names, not stars nor other expressions.

[2016-02-24 15:47] tschottdorf commented on #4607
`make stress PKG=./sql TESTS=Parallel TESTFLAGS='-partestdata sql/partestdata/subquery_retry' STRESSFLAGS='-maxfails 1'`

[2016-02-24 16:59] tschottdorf commented on #4607
Note that this issue is relevant only after being rebased on top of #4609.

[2016-02-24 17:56] mjibson commented on #4593
When implementing RETURNING I left this out to keep my life simpler. So this isn't a bug so much as a feature that needs to be added. (Just noting this for whoever works on it.)

[2016-02-24 19:12] nvanbenschoten opened #4616 "perf: Investigate TimestampCache growth"
The `TimestampCache` is a central component in a `Replica` that maintains an `IntervalCache` of key ranges and the timestamps at which they were most recently read or written. Because of this, the cache is expected to grow fairly large as the replica services requests. With this said, the `TimestampCache` currently grows to account for about **50%** of in-use memory for a CockroachDB node at any g

[2016-02-24 19:28] jseldess opened #4617 "ui: admin UI hangs when 2 nodes down in a 3 node cluster"
When you start up a 3 node cluster and then take 2 of the nodes down, the sql client hangs and the admin ui goes blank.

1. Start first node: `./cockroach start --insecure`
2. Start second node: `./cockroach start --insecure --stores=cockroach-data2 --port=26258 --join=localhost:26257`
3. Start third node: `./cockroach start --insecure --stores=cockroach-data3 --port=26259 --join=localhost:26257`

[2016-02-24 19:29] #1531 closed

[2016-02-24 19:29] #4021 closed

[2016-02-24 19:31] tamird commented on #4617
To clarify, the SQL client part of this is the expected
raft-doesn't-have-quorum stall. The bug is that the admin UI is down when
you need it most.
On Feb 24, 2016 14:29, "jseldess" <notifications@github.com> wrote:

[2016-02-24 19:37] #4550 closed

[2016-02-24 20:35] tschottdorf commented on #4607
Here's the problem:

[code]

Let's call `d0af...` `A` and the other one `B`. A has the lower timestamp and reads first, then B reads - they read the same value. A inserts and commits with a timestamp lower than B. This should not be possible since B scanned "everything" at the higher timestamp. But it is, and so B commits next, leading to the issue.

Presumably there is some inconsistent locking o

[2016-02-24 20:43] mrtracy commented on #2596
I have confirmed that this is no longer an issue in latest code.

[2016-02-24 20:43] #2596 closed

[2016-02-24 20:52] mrtracy commented on #2952
This appears to be a collection issue on the bootstrap store: the intent count goes to zero if bootstrapping store is restarted.  Still investigating.

[2016-02-24 20:59] dt commented on #4320
Experimented in #4444. results:
[code]

[2016-02-24 20:59] #4320 closed

[2016-02-24 22:26] BramGruneir opened #4621 "storage: limit stores by their sizes"
This is a soft limit, but it should be used for calculating the free space for rebalancing purposes.

[2016-02-24 22:56] dt commented on #4091
#4619

[2016-02-24 22:56] #4091 closed

[2016-02-24 23:02] mrtracy commented on #2952
Incorrect analysis: This was actually an issue with splits.  If an EndTransactionRequest has a SplitTrigger, the normal incremental MVCC stats for the command are zeroed out, because the splitTrigger() method recomputes MVCC stats for both ranges.  However, the small difference between the original and recomputed stats was not being applied to the store metrics.

PR incoming for this.

[2016-02-24 23:10] Linicks opened #4623 "storage: replication error when not enough nodes to meet target"
All,
  I have been getting some log errors when running the server with the --insecure switch.  I'm assuming the replication validation should be turned off when in this mode, or at least recognize that a single node without replication is valid.  Here are some details:

./cockroach start --stores=/data1 --insecure &

 build:     alpha.v1-362-g723805f @ 2016/02/24 18:32:31 (go1.6)

---------------

[2016-02-24 23:23] bdarnell commented on #4607
`readOnlyCmdMu` was introduced to deal with interactions between reads and splits, not reads and writes. Maybe it needs to be used for writes as well, but that seems like a major limit on concurrency (since it is a replica-wide lock).

Instead of `readOnlyCmdMu`, concurrent access to the timestamp cache is managed by the command queue: If they have overlapping keys, A's write will be queued up beh

[2016-02-24 23:35] mrtracy opened #4625 "storage: Update store stats when a Replica is removed"
We apparently never properly implemented the statistic changes when a replica is removed from a node by a rebalance event.  We simply need to update the store stats in store.RemoveReplica.

[2016-02-24 23:38] mrtracy opened #4626 "ui: Rename "range" metrics to "replica" metrics."
We track several statistics on the number of replicas on each store; however, these all currently use the word "range" instead of "replica".  This should be updated both in the metric name and in the UI.

[2016-02-25 00:23] tamird commented on #4621
ranges or stores?

[2016-02-25 01:10] BramGruneir commented on #4621
stores, sorry, fixed.

[2016-02-25 01:11] petermattis commented on #4607
Could this have been broken by the `RangeGroup` change? Perhaps there is a subtle bug there.

[2016-02-25 01:13] petermattis commented on #4623
This is an expected error. By default cockroach tries to replica ranges 3x, but you're only running a single node. We know how many nodes there are in the system though, we could either clarify the error or downgrade it to a warning when there are insufficient nodes in the system.

[2016-02-25 01:18] bdarnell commented on #4623
It's still a pretty severe error. If you had started three nodes but they couldn't talk to each other for some reason (firewalls, TLS certs, etc), this is how you would know. It probably doesn't need to be logged every 10 seconds, but just because this node hasn't been able to talk to anyone else doesn't mean that it's intended to be a single-node system. I'd still like to use an explicit command-

[2016-02-25 01:51] petermattis commented on #4623
Yeah, perhaps downgrading to a warning isn't wise. But it certainly looks possible to clarify the error: `unable to replicate range because there is only 1 node in the cluster`.

[2016-02-25 01:53] #3993 closed

[2016-02-25 01:53] #4016 closed

[2016-02-25 02:30] petermattis commented on #4182
@mjibson Wondering what led to trying to use `govender` in #4620 vs `glide` or some other alternative.

[2016-02-25 02:35] mjibson commented on #4182
@petermattis I didn't try glide because @tamird reported having problems with it. I've used govendor on a few projects before and really liked it. I think it's better than godep because of how it arranges code and how easy it is to manipulate the vendor manifest and dependencies.

[2016-02-25 02:42] tschottdorf commented on #4607
This bug is already dead, just doesn't know it yet. I'm also suspecting subtle bug™ in the command queue, just haven't dug in enough yet.

[2016-02-25 02:49] #4449 closed

[2016-02-25 02:56] tschottdorf opened #4630 "circleci: failed tests (13382): TestClientNotReady"
The following test appears to have failed:

[#13382](https://circleci.com/gh/cockroachdb/cockroach/13382):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 03:00] petermattis commented on #4630
Dup of #3942.

@tamird I've been holding off looking into this under the assumption that it will go away with the switch to gRPC.

[2016-02-25 03:03] dt opened #4631 "sql: Investigate high retry rates in parallel pgbench benchmark"
With [a small change to print](https://github.com/cockroachdb/cockroach/compare/master...dt:retryrate?expand=1
) attempt/success/failure counts in the parallel pgbench query test, it looks like we're retrying far more than expected.
With `-cpu 2`:
[code]
With `-cpu 8`:
[code]
and `-cpu 4`:
[code]

[2016-02-25 03:03] dt commented on #4631
Spotted in discussion of #4629.

[2016-02-25 04:55] #3035 closed

[2016-02-25 05:02] tschottdorf opened #4633 "circleci: failed tests (13386): TestBaseQueuePurgatory"
The following test appears to have failed:

[#13386](https://circleci.com/gh/cockroachdb/cockroach/13386):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 05:33] tschottdorf commented on #4607
Ok, I think I have it. Will send a fix & explanation tomorrow.

[2016-02-25 06:10] tschottdorf opened #4634 "circleci: failed tests (13387): Example_basic"
The following test appears to have failed:

[#13387](https://circleci.com/gh/cockroachdb/cockroach/13387):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 14:22] RaduBerinde commented on #4593
I'll take a look since I touched that code in a recent PR.

[2016-02-25 15:37] petermattis opened #4641 "ui: remove unused columns from "logs" table"
The `Node`, `Store`, `Range`, `Key` and `Method` columns will always be empty and can be removed. There is additional cleanup in the implementation. The `LogEntry.{thread_id,node_id,store_id,range_id,method,key,stacks,args}` fields will never be returned. Note that `LogEntry.format` contains the already formatted message so formatting of the message in the UI can be removed.

[2016-02-25 15:39] petermattis opened #4642 "ui: "logs" page bug with regex filter"
Navigate to the "logs" page for a node and let it sit there for a while. Looks like on every refresh a new "Regex Filter" appears.

![screen shot 2016-02-25 at 10 38 09 am](https://cloud.githubusercontent.com/assets/6201335/13324487/fd8209b2-dbab-11e5-82fd-a1897222cb64.png)

[2016-02-25 16:02] #4348 closed

[2016-02-25 16:13] tamird commented on #4419
@nvanbenschoten can you try to reproduce this again now that #4608 is merged?

[2016-02-25 16:16] tschottdorf opened #4643 "circleci: failed tests (13401): TestDockerPHP TestPut"
The following test appears to have failed:

[#13401](https://circleci.com/gh/cockroachdb/cockroach/13401):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 16:25] tschottdorf opened #4644 "circleci: failed tests (13402): Example_insecure"
The following test appears to have failed:

[#13402](https://circleci.com/gh/cockroachdb/cockroach/13402):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 16:34] RaduBerinde opened #4645 "sql: UPDATE with RETURNING should be able to return other columns"
When doing an `UPDATE`, we should be able to use `RETURNING` on other columns:
[code]

We get an error: `pq: qualified name "a" not found`.
Related to this, `RETURNING *` should return all columns in the table, not just the updated ones.

This works in pg;
[code]

Also related, there is this testcase for `INSERT`:
[code]
I am not sure if this should work or not (I haven't checked what pg does).

@

[2016-02-25 16:40] #4472 closed

[2016-02-25 16:48] andreimatei opened #4646 "sql: give users a way to wait for their schema changes to fully apply and expose errors"
We run schema changes through two async steps: `SchemaChanger` callbacks that do backfills, and gossip which propagates new versions of the system config to nodes. Currently the user doesn't have a good way to wait for either of these to be completed, or to get errors from them. In some cases we block returning results to the user for a txn until the backfills have finished. This only works when a

[2016-02-25 17:42] Linicks commented on #4623
"I'd still like to use an explicit command-line flag (--dev?) to disable this message instead of trying to guess that no other nodes are coming."

This would would be great when you just want to spin up a Cockroachdb instance to develop against, which is what I'm doing.  I wounder if it would be more clear to add a (--singlenode) option that would suppress the replication warnings, etc,  for this

[2016-02-25 17:42] tamird commented on #4501
This was a bug in cmux, fixed in https://github.com/soheilhy/cmux/commit/23074f6929e6125296af02b227390ce5c4f76fa2.

PR incoming.

[2016-02-25 17:46] RaduBerinde commented on #4645
Oops, this is a duplicate of #4368

[2016-02-25 17:46] #4645 closed

[2016-02-25 18:36] Linicks opened #4650 "sql: type error when specifying decimal precision"
All,
  In the following example I'm getting a type error when trying to specify the decimal precision.  Here are the details:

------------------

------------------

          ->   isbn    char(14) NOT NULL,
          ->   title   varchar(255) NOT NULL,
          ->   author  varchar(255) NOT NULL,
          ->   price   decimal(5,2) NOT NULL
          -> );
CREATE TABLE

------------------

[2016-02-25 18:59] Linicks opened #4652 "Quit not shutting down the server"
All,
  When trying to use quit to stop the server I get the following error:

./cockroach quit
Error: shutdown node error: client/admin.go:144: failed to initialize https client: base/context.go:121: error setting up client TLS config: open certs/root.client.crt: no such file or directory
Failed running "quit"

The server was started with the following command:
./cockroach start --stores=/data1 --

[2016-02-25 18:59] #4501 closed

[2016-02-25 19:01] cuongdo commented on #4652
Hi Nick,

Have you tried running the following?

./cockroach quit --insecure

(Note the --insecure parameter for the quit command)

On Thu, Feb 25, 2016 at 1:59 PM Nick <notifications@github.com> wrote:

[2016-02-25 19:02] tamird commented on #4652
You need to use `--insecure` when sending the quit.

On Thu, Feb 25, 2016 at 1:59 PM, Nick <notifications@github.com> wrote:

[2016-02-25 19:11] tamird commented on #3942
Looks like the error message has changed, so #4630 is the more relevant issue.

[2016-02-25 19:11] tamird commented on #4630
No way to know! I'll update this when I've finished the grpc work.

[2016-02-25 19:12] petermattis commented on #4650
Our type inference/conversion is still a work in progress. At the moment you'll have to manually insert cast statements (with the realization that you've actually lost precision). Something like:

[code]

We're working on fixing this.

[2016-02-25 19:12] tamird commented on #4182
glide was just horribly slow.

[2016-02-25 19:13] tschottdorf opened #4653 "circleci: failed tests (13412): TestAuthentication, TestBadRequest"
The following test appears to have failed:

[#13412](https://circleci.com/gh/cockroachdb/cockroach/13412):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 19:14] #4527 closed

[2016-02-25 19:22] RaduBerinde commented on #4368
Related:
[code]
This returns only column `a`. I think it should return all columns from the table. PG does:
[code]

[2016-02-25 19:36] RaduBerinde commented on #4368
I wonder if we should just use all visible table columns in `returningHelper` instead of passing the columns from insert/update.

[2016-02-25 19:42] BramGruneir commented on #4577
So I need to make a small change to the format.  Going with a semicolon to separate the parameters looks good on paper... but semicolons don't work well in bash.
`--store=attr=abc1,def2;size=200000;path=/mnt/hda1`

So, slight change, commas to separate parameters and colons to separate attributes.
`--store=attr=abc1:def2,size=200000,path=/mnt/hda1`

[2016-02-25 19:45] knz opened #4655 "server: server reports EOF on stderr when client closes connection"
I started my server with `start --insecure` letting the logs go to the default location, yet I see:
[code]

Proably EOF is innocuous enough that we could be silent about it.

[2016-02-25 19:47] tamird commented on #4655
This is an error that bubbles from pgwire - we can probably swallow it
there.

On Thu, Feb 25, 2016 at 2:46 PM, kena <notifications@github.com> wrote:

[2016-02-25 19:57] knz opened #4656 "sql: panic in yet undefined circumstances"
So I was trying to investigate why I couldn't see any result in my table using a 2nd client despite INSERT working as intended in the 1st client. Since my 1st client deletes the test table at the end of its execution, I *paused* the 1st client while running the 2nd.

Then at some point I try to resume the 1st client and the connection is immediately dropped; and I see the following panic in the se

[2016-02-25 19:58] mjibson commented on #4656
What rev is this on?

[2016-02-25 19:59] knz commented on #4656
Good question. That is the rev you get by merging your branch sql-fix-param-returning on top of Radu's fix for RETURNING *.

[2016-02-25 20:00] knz commented on #4656
i.e.

[code]

then changing `return  result` into `return rh.getResults()`

[2016-02-25 20:02] mjibson opened #4658 "sql: support RETURNING $1"
`INSERT INTO d.T VALUES ($1) RETURNING $1` should work

[2016-02-25 20:03] RaduBerinde commented on #4656
[code]
Looks like `argVisitor.VisitPre` (used by `FillArgs`) is returning `nil`. I don't think it's supposed to do that.

[2016-02-25 20:05] #4593 closed

[2016-02-25 20:13] Linicks commented on #4652
Tried it with the --insecure switch and it worked as expected.  Thanks for the clarification!  Since this doesn't seem to be a bug; I wounder if the error message should include something like "If running in insecure mode, use --insecure".  Of course the docs and help should also reflect this requirement when the time comes :)

[2016-02-25 20:22] knz opened #4660 "sql: inserted data appears not being inserted after all"
So here's the scenario:
[code]

the INSERTs appear to work properly because I see `v` increase in value during the loop.
However the final SELECT always returns an empty set. I also observe an empty table if I query it from another client while this test is running.

Full network trace attached:  [error.txt](https://github.com/cockroachdb/cockroach/files/147223/error.txt)
Client and server running

[2016-02-25 20:24] andreimatei commented on #4660
multi-node? Are you doing the finals `SELECT` on a different connection? Skewed clocks?

[2016-02-25 20:25] knz commented on #4660
Nope, all on the same server, only 1 node in "cluster"

[2016-02-25 20:28] knz commented on #4660
Clarification: if I run the same test using the CLI client with `sql -e`, ie only execute without prepare (and simpler syntax, no RETURNING), the test works as expected.

[2016-02-25 20:30] #4560 closed

[2016-02-25 20:32] tschottdorf opened #4661 "circleci: failed tests (13423): TestNodeStatus"
The following test appears to have failed:

[#13423](https://circleci.com/gh/cockroachdb/cockroach/13423):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 20:37] knz commented on #4660
How to reproduce:
1. check out github.com/knz/jepsen
2. `cd jepsen/cockroachdb`
3. have a 1+ cluster ready somewhere in a VM as per the `README` in that dir (will not be used, but the test needs it to run)
4. edit `src/jepsen/cockroach.clj` and change `jdbc-mode` to `:cdb-local`. Optionally set `insecure` to `true` if you don't have certs set up (doesnt change test result)
5. (optionally) edit `te

[2016-02-25 20:39] jseldess commented on #3432
Responding a little late. I'll definitely rework the readme for beta. Want to cut down on redundancy with the docs.

[2016-02-25 20:40] tschottdorf opened #4662 "circleci: failed tests (13427):"
The following test appears to have failed:

[#13427](https://circleci.com/gh/cockroachdb/cockroach/13427):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 20:41] tschottdorf opened #4663 "circleci: failed tests (13427): TestSSLEnforcement"
The following test appears to have failed:

[#13427](https://circleci.com/gh/cockroachdb/cockroach/13427):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 20:43] tschottdorf opened #4664 "circleci: failed tests (13427): TestSSLEnforcement"
The following test appears to have failed:

[#13427](https://circleci.com/gh/cockroachdb/cockroach/13427):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 20:56] tschottdorf opened #4665 "circleci: failed tests (13429):"
The following test appears to have failed:

[#13429](https://circleci.com/gh/cockroachdb/cockroach/13429):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 20:58] tschottdorf opened #4666 "circleci: failed tests (13429): TestAuthentication"
The following test appears to have failed:

[#13429](https://circleci.com/gh/cockroachdb/cockroach/13429):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 21:03] tamird commented on #4664
Two issues for the same failure? #4663. Looks like one for test and one for testrace cc @tschottdorf

[2016-02-25 21:03] #4664 closed

[2016-02-25 21:06] knz commented on #4660
NB: can't repro any more for now, blocked on https://github.com/cockroachdb/cockroach/issues/4656

[2016-02-25 21:09] knz commented on #4656
At this moment the steps in https://github.com/cockroachdb/cockroach/issues/4660#issuecomment-188972422 reproduce this panic always (no need for 2 clients).

[2016-02-25 21:17] knz commented on #4658
Should it really? I'd say the proper syntax is `INSERT INTO t VALUE ($1) RETURNING col-name-that-was-just-inserted`.

[2016-02-25 21:19] tschottdorf opened #4667 "circleci: failed tests (13431):"
The following test appears to have failed:

[#13431](https://circleci.com/gh/cockroachdb/cockroach/13431):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 21:21] tamird commented on #4667
UI cache issues. npm is terrible.

[2016-02-25 21:21] #4667 closed

[2016-02-25 21:21] #4604 closed

[2016-02-25 21:21] tamird commented on #4665
UI cache issues. npm is terrible.

[2016-02-25 21:21] #4665 closed

[2016-02-25 21:22] tamird commented on #4662
UI cache issues. npm is terrible.

[2016-02-25 21:22] #4662 closed

[2016-02-25 21:25] tschottdorf opened #4668 "circleci: failed tests (13432):"
The following test appears to have failed:

[#13432](https://circleci.com/gh/cockroachdb/cockroach/13432):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 21:26] knz opened #4669 "sql: panic in execute if client supplies no data for a placeholder in bind"
I am running this prepared query:
[code]
and the client (due to a bug in my code) provide the following values down the wire:
[code]

(the 3rd placeholder is passed as "nil" (empty value))

When this is sent by the client down the wire the server fails with:
[code]

[2016-02-25 21:27] tschottdorf opened #4670 "circleci: failed tests (13433):"
The following test appears to have failed:

[#13433](https://circleci.com/gh/cockroachdb/cockroach/13433):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 21:30] RaduBerinde opened #4672 "sql: subquery with MAX doesn't work"
@knz hit this issue:
`select * from t where a = (select max(a) from t)` returns `pq: aggregate functions are not allowed in WHERE`

I believe it is just a faulty check in `groupBy`, where we check `n.Where` which is the expression before subqueries were expanded.

[2016-02-25 21:32] RaduBerinde commented on #4607
Let me enable the test before closing the issue.

[2016-02-25 21:34] knz commented on #4660
As suggested by @andreimatei I changed the test to:
[code]

During the loop I see the table growing as a result of `select *`, as expected.
However the final transaction fails as the server crashes with the same panic trace as #4656 .

What is different between the last transactions and the 10 transactions before? There's a pause of 2 seconds between the end of the loop and the last transaction. P

[2016-02-25 21:36] tamird commented on #4668
UI build cache.

[2016-02-25 21:36] #4668 closed

[2016-02-25 21:37] tamird commented on #4670
UI build cache.

[2016-02-25 21:37] #4670 closed

[2016-02-25 21:40] nvanbenschoten commented on #4419
I haven't seen this issue since I created it so I'm going to go ahead and close this, but I'll keep an eye out. This issue may have been related to some of the perf issues @spencerkimball was seeing.

[2016-02-25 21:40] #4419 closed

[2016-02-25 21:55] knz commented on #4672
While looking at #4036

[2016-02-25 21:56] knz commented on #4660
(all this while looking at #4036 )

[2016-02-25 21:56] knz commented on #4656
(While looking at #4036 )

[2016-02-25 21:58] knz commented on #4593
While looking at #4036

[2016-02-25 21:58] knz commented on #4550
While looking at #4036

[2016-02-25 21:58] knz commented on #4549
( While looking at #4036  )

[2016-02-25 21:58] knz commented on #4538
While looking at #4036

[2016-02-25 21:59] knz commented on #4524
While looking at #4036

[2016-02-25 21:59] knz commented on #4434
While looking at #4036

[2016-02-25 21:59] knz commented on #4421
( While looking at #4036  )

[2016-02-25 22:00] knz commented on #4285
( While looking at #4036 )

[2016-02-25 22:00] knz commented on #3993
( While looking at #4036 )

[2016-02-25 22:10] tamird commented on #4437
Fixed by #4648.

[2016-02-25 22:10] #4437 closed

[2016-02-25 22:13] #4607 closed

[2016-02-25 22:30] jseldess opened #4676 "sql: error message when trying to write to system database"
When you try to `CREATE/DROP/INSERT/DELETE/UPDATE` on the `system` database as the `root` user or any other user, you get a potentially misleading error message:

[code]

This error implies that write privileges CAN be granted on the `system` database. For everything but `SELECT`, I'd suggest changing to something like:

`system database is read-only`
OR
`privilege on system database is limited to

[2016-02-25 22:31] andreimatei commented on #4656
Hey @mjibson do you think you're the guy to look at this?

[2016-02-25 22:34] mjibson commented on #4656
sure

[2016-02-25 22:34] #4672 closed

[2016-02-25 23:16] tschottdorf opened #4679 "circleci: failed tests (13445): TestSSLEnforcement"
The following test appears to have failed:

[#13445](https://circleci.com/gh/cockroachdb/cockroach/13445):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-25 23:23] tschottdorf commented on #4664
@tamird What's the CC for? Can't find anything.

[2016-02-25 23:23] tschottdorf commented on #4679
#4663

[2016-02-25 23:23] #4679 closed

[2016-02-25 23:24] tschottdorf commented on #4666
#4666

[2016-02-25 23:24] #4666 closed

[2016-02-26 00:17] tschottdorf commented on #4393
Any more comments here? I think we should make that change sooner or later. I'm not too familiar with the behavior of the various timestamp-returning functions, though.

[2016-02-26 00:36] tamird commented on #4664
In case you wanted to tackle the double reporting.
On Feb 25, 2016 18:23, "Tobias Schottdorf" <notifications@github.com> wrote:

[2016-02-26 00:51] tschottdorf opened #4682 "kv: TestGetTruncatableIndexes: log was not correctly truncated, older first index:11, current first index:11"
https://circleci.com/gh/tschottdorf/cockroach/2136?utm_campaign=build-failed&utm_medium=email&utm_source=notification

[2016-02-26 00:55] tschottdorf commented on #4661
I guerilla-fixed this in #4178.

[2016-02-26 00:55] #4661 closed

[2016-02-26 01:28] #4682 closed

[2016-02-26 01:29] tschottdorf commented on #4653
TestBadRequest: https://circleci.com/gh/tschottdorf/cockroach/2134

[2016-02-26 01:35] tamird commented on #4663
Interesting that all the instances of this failure failed on the same case:
[code]

[2016-02-26 01:39] tschottdorf commented on #4644
probably same root cause as #4684, so can likely close when that closes (I can't skip examples, so I'll leave this issue separate)

[2016-02-26 01:48] tschottdorf opened #4685 "circleci: failed tests (13453): TestClientGetAndPut"
The following test appears to have failed:

[#13453](https://circleci.com/gh/cockroachdb/cockroach/13453):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-26 02:07] tamird commented on #4685
This is probably https://github.com/soheilhy/cmux/pull/20/files, like the other failures we've been seeing today.

[2016-02-26 02:20] petermattis commented on #4393
I think the only reason we didn't use `roachpb.Transaction.Timestamp` for the SQL timestamp functions is that it isn't set when the transaction is created. If we can change that and allow the KV client to set the timestamp then the change on the SQL side should be straightforward.

[2016-02-26 13:03] knz opened #4687 "Consistency anomaly detected by a Jepsen bank transfer test"
The bank test is a transfer test that should preserve the total sum. The anomaly is that the sum is not preserved.

The test scenario, as encoded in https://github.com/cockroachdb/jepsen/blob/master/cockroachdb/src/jepsen/cockroach.clj#L839:

[code]

And then also `select balance from accounts` from time to time to
check the intermediate states of the table. That's how the inconsistency is detecte

[2016-02-26 13:22] tschottdorf commented on #4687
Against which revision?

[2016-02-26 13:23] tschottdorf commented on #4687
alpha.v1-455-ga05cb9c

[2016-02-26 14:08] tschottdorf commented on #4687
http://52.91.194.28/cockroachdb-bank/20160226T122420.000Z/history.txt

[code]

This is the part of the log where things go bad - `0` and `2` both subtract one from the third account (which initially has only one) and erroneously don't push it into the negative.
What does the error `0	:fail	:transfer	[:negative 2 -1]` tell me?

[2016-02-26 14:32] dt commented on #4631
Oh, right: pgbench is a multi-table benchmark: there are 20k accounts, but only 10 teller rows and 1 branch row, and every batch hits a teller and a branch, so contention there is going to be high. Will be interesting to see how it ends up with more server-side retries though.

[2016-02-26 14:32] #4631 closed

[2016-02-26 14:47] tamird commented on #4631
Aren't the tellers and branch immutable?

On Fri, Feb 26, 2016 at 9:33 AM, David Taylor <notifications@github.com>
wrote:

[2016-02-26 14:51] petermattis commented on #4631
This is the query that is being run:

[code]

`tid` is in the range `[0,10)` and `bid` is always `1`.

[2016-02-26 15:01] bdarnell commented on #4687
That error means that the transfer did not occur because it would make one of the accounts negative. (format is `[:negative $account $new_balance]`). So that part of the log looks fine to me. The problem is that account 0 is decreasing from 33 to 32 even though it's not involved in any of the transfers visible in this snippet.

[2016-02-26 15:13] tamird commented on #4631
ah, they have balances.

[2016-02-26 15:19] bdarnell commented on #4687
These two errors are very suspicious (The first is the conclusion of the `23 :invoke :read nil` line quoted above). Where do we change isolation levels in this test?

[2016-02-26 15:25] knz commented on #4687
@bdarnell the client code doesn't (I checked with network traces). The JDBC wrappers does emit prepare/bind/execute for ` SET SESSION CHARACTERISTICS AS TRANSACTION ISOLATION LEVEL SERIALIZABLE` before most its uses of `BEGIN`; but this oughts to make no difference.

[2016-02-26 15:55] knz commented on #4687
Another one: http://52.91.194.28/cgi-bin/display.py?entry=20160226T152821#20160226T152821

[2016-02-26 16:00] dt opened #4689 "pgwire: "no database specified" on first statement"
After connecting with a db name specified, an insert using an unqualified table name fails, but will succeed if a simple `select 1` is run first. Something about new-vs-reused session.

[2016-02-26 16:40] dt opened #4691 "sql: server panics during Walk of `UPDATE` with placeholders in CASE."
Running the bank example over pg_wire causes server to die:

[code]

[2016-02-26 17:09] #2952 closed

[2016-02-26 17:13] petermattis commented on #4691
That's weird. I thought @mjibson fixed this when I changed `BenchmarkBank` to use pgwire.

[2016-02-26 17:24] tschottdorf commented on #4687
This one here is interesting (from the original log, but will look into similar occurrences in the others)

[code]

this is way up from the actual failure, but client `11`s transfer of one never gets acknowledged, nor does it execute, but it matches the deduction from account 0 which causes the anomaly.

[2016-02-26 17:28] knz commented on #4687
Are you saying you don't see neither :ok :fail nor :timeout for it in the log? That is very strange. Perhaps a fault in the test logic too then. (But the inconsistency remains)
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-02-26 17:44] #4689 closed

[2016-02-26 17:47] tschottdorf commented on #4687
I only see a single entry with actor `11` in the log. Maybe that guy just got stuck on his first transfer indefinitely somehow? Or maybe I'm misreading the log.

[2016-02-26 17:52] tschottdorf opened #4692 "circleci: failed tests (13465): TestReplicateRogueRemovedNode"
The following test appears to have failed:

[#13465](https://circleci.com/gh/cockroachdb/cockroach/13465):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-26 18:03] dt commented on #4691
Looks like difference is bank example does `$3` vs bank bench which does `x+$3`. I'll bet a cast fixes it.

[2016-02-26 18:20] tamird commented on #4663
OK, after fixing https://github.com/soheilhy/cmux/pull/20 I am *still* able to reproduce an error here. Currently looks like a deadlock in TLS, investigating.

[2016-02-26 18:32] #4579 closed

[2016-02-26 18:33] tamird commented on #4692
#4693 might have fixed this, closing for now.

[2016-02-26 18:34] tamird commented on #4685
#4693 might have fixed this, closing for now.

[2016-02-26 18:34] #4685 closed

[2016-02-26 18:34] tamird commented on #4644
#4693 might have fixed this, closing for now.

[2016-02-26 18:34] #4644 closed

[2016-02-26 18:34] tamird commented on #4643
#4693 might have fixed this, closing for now.

[2016-02-26 18:34] #4643 closed

[2016-02-26 18:34] tamird commented on #4634
#4693 might have fixed this, closing for now.

[2016-02-26 18:34] #4634 closed

[2016-02-26 18:35] tamird commented on #4630
This version of the bug might have been fixed by #4693, closing for now and reopening #3942.

[2016-02-26 18:35] #4630 closed

[2016-02-26 18:38] tschottdorf commented on #4687
Just going to work my way through these. Snippets are the last "coherent" read to the next broken one.

`http://52.91.194.28/cgi-bin/display.py?entry=20160226T152821#20160226T152821`:

[code]

[2016-02-26 18:40] tschottdorf opened #4694 "circleci: failed tests (13468): TestMultiRangeScanReverseScanInconsistent"
The following test appears to have failed:

[#13468](https://circleci.com/gh/cockroachdb/cockroach/13468):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-26 19:04] #4506 closed

[2016-02-26 19:04] dt commented on #4691
repro: https://github.com/dt/cockroach/commit/73e11a21780bc0fdf1183f0e89adf237dda07aff

[2016-02-26 19:06] dt commented on #4691
`CaseExpr.TypeCheck` is passing a nil `dummyVal` to `SetInferredType` if there's no `Else` clause. I'm not quite sure what the intent here was though.

[2016-02-26 19:45] tschottdorf commented on #4687
Next one: http://52.91.194.28/cgi-bin/display.py?entry=20160226T161022#20160226T161022

[code]

Here we would have expected to read `[4, 0, 14, 22]` but we got `[6, 0, 12, 24]`. Taking into account the never-acked (i.e. timeouted) ops, the first one likely executed (giving us the 6 on the first account). So we have `[6,0,12,22]` but see `[6,0,12,24]). This could have been caused by the second lost

[2016-02-26 20:07] RaduBerinde opened #4696 "kv: add per-batch limit KV batch operations"
The ask is to enhance the KV API to allow setting a *per-batch* limit on the number of returned keys. These would be the first `X` keys that would be returned from the regular request (in the same order).

The use case is implementing #2966 - we currently read all table data in one operation and we want to break it up in chunks. Reading table data may involve have multiple scans (one for each "spa

[2016-02-26 22:10] bdarnell commented on #4687
As far as I can tell there's no batching (`j/update!` returns the number of rows affected, even though it's not used here. The only way these statements could be transparently batched would be if there was something clever enough to see that the return value is discarded). The BEGIN might be batched with the first read, but the second read and both updates (if they occur) are each sent one at a ti

[2016-02-26 22:21] tschottdorf commented on #4687
Hmm. Are you suggesting that the transaction switches to SNAPSHOT or something like that? Seems weird. Maybe we should just write down everything that goes through `Executor` to a file?
Or maybe we're accidentally nesting the transactions in some funny way?

[2016-02-26 22:24] bdarnell commented on #4687
No, I don't think it's switching to SNAPSHOT; there's nothing I can see that could do that. I think that in some cases we're failing to clear the `session.Txn` field so a future operation may inherit the ID of a transaction that never committed.

[2016-02-26 22:36] tschottdorf commented on #4687
Interesting. Some of the code in executor about terminating transaction indeed did seem sketchy when I looked at it with @andreimatei the other day. Should be able to whip up a patch that removes some of the sketchiness.

[2016-02-26 23:52] andreimatei commented on #4687
Maybe we already removed the sketchiness?
R, could you please try with
https://github.com/cockroachdb/cockroach/pull/4576 patched in?

On Fri, Feb 26, 2016 at 5:36 PM, Tobias Schottdorf <notifications@github.com

[2016-02-27 05:30] nvanbenschoten opened #4700 "perf: Investigate splitting TimestampCache into read-only and read-write interval caches"
Related to #4616 and should wait on #4699.

Currently we always make the distinction between read and write timestamp interval values when inserting and querying the `IntervalCache` within the `TimestampCache`. Because of this, we should investigate splitting the single `IntervalCache` into a pair of **read-only** and a **read-write** `IntervalCache`s. Splitting up the underlying interval tree int

[2016-02-27 05:44] nvanbenschoten commented on #4616
In addition to the PR I just submitted, one interesting note about the `TimestampCache` (and all caches inheriting from `baseCache`) is that they evict lazily. This means that if any of these caches are grown to a large size and then suddenly become inactive completely, they will never shrink (even when most of their keys could be evicted) until they become active again. This explains why the `Tim

[2016-02-27 05:51] tschottdorf commented on #4700
The write timestamp is a little weird anyway. A cursory inspection suggests that it's never really used; the usage in `(*Replica)` is the follows:

[code]

so the write timestamp is essentially ignored unless we're not in a transaction (which is rare). So one upshot of splitting them is that the write tree would basically never get queried.

As for the splitting itself, is it obviously more effici

[2016-02-27 05:53] tschottdorf commented on #4616
we already run a bunch of regular works, seems reasonable that one of them would do that as a kind of hygiene (and perhaps to save the next query from having to pay the overhead of a large cleanup).

[2016-02-27 06:08] nvanbenschoten commented on #4700
Based off the code above, we should probably split `GetMax` into `GetMaxRead` and `GetMaxWrite` so that we don't even need to look at writes unless we're not in a transaction.

In terms of the querying efficiency, I'm worried much more about the query that shows up during profiling because of how hot a code path it is in, that being the query for overlapping intervals in `(*TimestampCache).Add`. R

[2016-02-27 06:11] tschottdorf commented on #4700
Ah, that makes sense. Looks like the splitting is the way to go, especially since we won't query the write tree at all.

[2016-02-27 10:36] knz commented on #4687
@andreimatei I don't get a clean merge on master, can you rebase?

[2016-02-27 11:11] knz commented on #4687
Now with complete network traces, starting  with http://52.91.194.28/cgi-bin/display.py?entry=20160227T110036

(Rightmost column)

[2016-02-27 11:28] knz commented on #4687
@tschottdorf as you requested, a result with no zero transactions: http://52.91.194.28/cgi-bin/display.py?entry=20160227T112601

[2016-02-27 17:26] nvanbenschoten commented on #4026
I'm not sure why I didn't think of this before, but earlier this week @jseldess brought up the way that he's been writing casts for the docs, and it makes much more sense just to cast STRINGS to DECIMALS if we don't want any loss of precision. This will actually be more efficient than casting from a FLOAT to a DECIMAL anyway.

[code]

[2016-02-27 20:24] bdarnell commented on #4687
Thanks for the packet captures! Looking at [this one](http://52.91.194.28/cockroachdb-bank/20160227T110036.000Z/n3l/trace.pcap), I've found some strange behavior. I've found looking at the tag field in the `CommandComplete` message a good way to get an overview of what's going on. Here's the tshark invocation to show all the tags:

    tshark -r Downloads/trace.pcap -d tcp.port==26257,pgsql -T fie

[2016-02-27 20:44] bdarnell commented on #4687
In this test, [timeouts](https://github.com/cockroachdb/jepsen/blob/ed4f1c91be7f3d2569ca813fb37244a5bed04546/cockroachdb/src/jepsen/cockroach.clj#L274) are implemented using [this macro](https://github.com/cockroachdb/jepsen/blob/0f312c8e65b8daae6e07b8b081ac3842db427010/jepsen/src/jepsen/util.clj#L163), which is sketchy. In the JVM, threads only check their interrupt status during certain operatio

[2016-02-27 20:53] bdarnell opened #4703 "sql/pgwire: build batches by reading as much as possible without blocking"
Some client drivers (including JDBC, as can be seen in the [jepsen packet captures](http://52.91.194.28/cgi-bin/display.py?entry=20160227T110036)) pipeline multiple requests into one packet (most often for combining BEGIN with the first real request of a transaction). For example, this packet contains two parse/bind/execute sequences:

[code]

If we consumed everything that was available on the so

[2016-02-27 21:31] tschottdorf commented on #3525
In the same vein: We should update the coordinator's clock from potential timestamps in returned transactions. For example, after a Push, the clock should have received the contained timestamp as an Update.

Positive side-effect for SQL: in #4393 we can also pick a current node timestamp on retry (as opposed to retrying with what was returned by the retry error as the minimum timestamp to use).

[2016-02-27 21:32] tschottdorf commented on #4393
As discussed with @andreimatei: We should also update this timestamp on retries. Instead of using the one returned from the retry error, we want a current one from the node clock **at the time of the client's restart** (so not assigned when handling the error but with the subsequent next RPC from the client).

[2016-02-27 21:35] tschottdorf commented on #4687
:+1: great analysis @bdarnell. I still sat down and am porting the nemesis stuff to Docker, so we'll have this test in `acceptance` soon enough (and we'll also be able to run all the others with network partitions).

[2016-02-27 21:52] tschottdorf commented on #4393
We could (likely should) even put that into TxnCoordSender itself. When a txn proto comes in with an increased epoch, we update the timestamp to our local clock.

[2016-02-28 01:07] knz commented on #4687
OK thanks for the tip. I'll force opening a new connection on timeouts and see what happens.

[2016-02-28 02:27] tschottdorf opened #4704 "circleci: failed tests (13491): TestKVDBInternalMethods"
The following test appears to have failed:

[#13491](https://circleci.com/gh/cockroachdb/cockroach/13491):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-28 12:18] knz commented on #4687
Ok it looks that after forcing reconnections, this issue disappears. @bdarnell many thanks for the weekend analysis!

[2016-02-28 15:17] tschottdorf commented on #4687
Great!

On Sun, Feb 28, 2016, 07:18 kena <notifications@github.com> wrote:

[2016-02-28 18:07] knz commented on #4687
Closed via https://github.com/cockroachdb/jepsen/pull/11.

[2016-02-28 18:07] #4687 closed

[2016-02-28 18:08] knz commented on #4660
Cannot reproduce the error after upgrading to the latest master revision.

[2016-02-28 18:08] #4660 closed

[2016-02-28 19:37] #4663 closed

[2016-02-28 19:45] tschottdorf opened #4707 "circleci: failed tests (13495): TestMultiRangeScanReverseScanDeleteResolve"
The following test appears to have failed:

[#13495](https://circleci.com/gh/cockroachdb/cockroach/13495):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-28 23:26] knz opened #4709 "sql: RPC error leaks through the client connection"
Found in this Jepsen test result: http://52.91.194.28/cgi-bin/display.py?entry=20160228T231618

The following error is reported via the SQL connection to the client:
[code]

Question 1: is it OK that such an error (generated in roachpb/errorgs.go / kv/send.go) can arrive to the client?

Question 2: what scenario explains how this error was generated?

[2016-02-28 23:38] knz commented on #4709
Another instance: http://52.91.194.28/cgi-bin/display.py?entry=20160228T233701

[2016-02-29 02:05] nvanbenschoten opened #4710 "storage: Move SetLastVerificationTimestamp to a replicated Raft command"
Currently a Range's LastVerificationTimestamp is broken as it is only set on the node that was the leader when a GC or verification is performed. Because of this we should temporarily move the `RangeLastVerificationTimestampKey` to the unreplicated range-local group.

To allow this key to rejoin the replicated range-local meta key group, we will want to move the SetLastVerificationTimestamp functi

[2016-02-29 09:26] theangryangel commented on #2710
I've got some working code that takes Postgres and iso8601 (with designators only at the moment) input and converts them (possibly somewhat crudely in some instances) to time.Duration.

I'm happy to work on forming this into a patch as and when I have time over the next week, if you're happy to at least look at it?

If yes, the only question I have is whether or not the intention is to setup a ``S

[2016-02-29 16:01] tschottdorf opened #4714 "circleci: failed tests (13504): TestPut"
The following test appears to have failed:

[#13504](https://circleci.com/gh/cockroachdb/cockroach/13504):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-29 16:27] #4577 closed

[2016-02-29 17:03] petermattis commented on #2710
@theangryangel We're happy to take a look at a patch. It would be preferable to avoid a `SET intervalstyle` command if possible. Let's try for automatic detection of the format and see if and where that falls down.

[2016-02-29 18:36] tschottdorf opened #4718 "circleci: failed tests (13514): TestSSLEnforcement"
The following test appears to have failed:

[#13514](https://circleci.com/gh/cockroachdb/cockroach/13514):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-29 18:48] tschottdorf opened #4719 "circleci: failed tests (13517): TestMultiRangeEmptyAfterTruncate"
The following test appears to have failed:

[#13517](https://circleci.com/gh/cockroachdb/cockroach/13517):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-29 18:49] tschottdorf opened #4720 "circleci: failed tests (13516): TestMultiRangeEmptyAfterTruncate"
The following test appears to have failed:

[#13516](https://circleci.com/gh/cockroachdb/cockroach/13516):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-29 18:51] tschottdorf opened #4721 "circleci: failed tests (13516): TestSSLEnforcement"
The following test appears to have failed:

[#13516](https://circleci.com/gh/cockroachdb/cockroach/13516):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-29 18:53] bdarnell commented on #4721
Duplicate of #4718

[2016-02-29 18:53] #4721 closed

[2016-02-29 18:53] bdarnell commented on #4720
Duplicate of #4719

[2016-02-29 18:53] #4720 closed

[2016-02-29 19:04] tschottdorf opened #4723 "TestKVDBCoverage and presumably many others: failed batch: client/rpc_sender.go:83: failed to send RPC request Server.Batch: client is unhealthy"
This is likely caused by recent changes which return `503` from the HTTP endpoint until gossip has bootstrapped. This leads to RPC clients turning instantly unhealthy if they start the heartbeat "too early":

[code]

See https://circleci.com/gh/tschottdorf/cockroach/2156

git blame:
[code]

[2016-02-29 19:05] tschottdorf commented on #4723
@bdarnell suggested that a palatable fix is likely to just wait for bootstrap in the test server(s).

[2016-02-29 19:06] tschottdorf commented on #4719
duplicate of #4723

[2016-02-29 19:06] #4719 closed

[2016-02-29 19:51] tschottdorf commented on #4723
Going to try to deal with this as it's making everything pretty flaky.

[2016-02-29 19:55] tschottdorf opened #4725 "circleci: failed tests (13525): TestSSLEnforcement"
The following test appears to have failed:

[#13525](https://circleci.com/gh/cockroachdb/cockroach/13525):

[code]
Please assign, take a look and update the issue accordingly.

[2016-02-29 20:39] bdarnell commented on #4725
Dupe of #4718

[2016-02-29 20:39] #4725 closed

[2016-02-29 21:07] #4322 closed

[2016-02-29 21:07] #4478 closed

[2016-02-29 21:08] #4454 closed

[2016-02-29 21:55] mrtracy commented on #869
Hi @bogdanbatog,

Sorry for the delayed followup, there was quite a bit of active work on this area in the last few weeks.  #4021 was completed, and the event feed is now gone.  A lot of your work is still usable, but it will need to be modified to the new model:

+ A `Store` creates its own `metric.Registry` when it is created.  This store is accessed from higher level components by the `Store.Re

[2016-02-29 22:02] petermattis commented on #4707
Duplicate of #4723.

[2016-02-29 22:02] #4707 closed

[2016-02-29 22:02] petermattis commented on #4704
Duplicate of #4723.

[2016-02-29 22:02] #4704 closed

[2016-02-29 22:02] petermattis commented on #4694
Duplicate of #4723.

[2016-02-29 22:02] #4694 closed

[2016-02-29 22:11] petermattis commented on #4347
@mrtracy Is this fixed now?

[2016-02-29 22:27] mjibson commented on #4669
@knz can you give me the column types for this table?

[2016-02-29 22:30] spencerkimball opened #4732 "cli: don't allow balancer to be specified via command line flags"
Choosing between usage and range-count for rebalancing decisions is not something we should expect operators to specify on the command line. Let's choose the appropriate default for now and then move towards an automated approach.

@jseldess don't document the `--balance_mode` flag.

[2016-02-29 22:42] mrtracy commented on #4732
If we're going to remove this flag, that is going to have consequences for testing cockroach with multiple nodes on a single machine (which is the reason this flag was added in the first place).  There are a few ways to do this:

1. Declare that "rangecount" is the new default. I'm fine with this.
2. Allow stores to be specified with a maximum size that is independent of the disk size. You would a

[2016-02-29 22:44] bdarnell commented on #4732
@BramGruneir is working on the second option, to be able to cap the size of each store.

[2016-02-29 22:46] petermattis commented on #3344
Please change the milestone to 1.0 if this isn't important for Beta.

[2016-02-29 22:48] paperstreet opened #4734 "sql: Parenthetical SELECTs throw away ORDER BY"
repro: https://github.com/paperstreet/cockroach/commits/parenselect_order

    testdata/order_by:136 root: (SELECT a FROM t) ORDER BY a DESC
    --- FAIL: TestLogic (0.06s)
      logic_test.go:659: testdata/order_by:136: expected:
        "5"
        "4"
        "3"
        "2"
        "1"
        but found:
        "1"
        "2"
        "3"
        "4"
        "5"

[2016-02-29 22:49] spencerkimball opened #4735 "ui: GiB vs. GB (1024^3 vs. 1000^3)"
tl;dr Let's allow the *iB designations, but make the *B designations also use 1024^i and also make them the defaults for documentation and user interface output.

Let's not confuse our users the way that hard drive manufacturers confused theirs in the 90s. I'm fine with allowing the [MGTPE]iB designations, but I strongly disagree with making [MBTPE]B mean 1000^i bytes instead of 1024^i bytes. Most

[2016-02-29 22:54] knz commented on #4687
( #4036 )

[2016-02-29 22:55] knz commented on #4709
( #4036 )

[2016-02-29 23:05] mrtracy commented on #4735
Normal metric prefixes (without the 'i') should always denote 1000^x units, according to both IEC and SI.  The usage of normal metric prefixes to denote 1024^x units is the incorrect notation; that's actually the reason that the 'i' prefixes were created in the first place, since the new 'i' prefixes were unambiguous in their meaning.

Note that MacOSX and Ubuntu Linux report file sizes in regular

[2016-02-29 23:28] spencerkimball commented on #4735
The issue is that MiB is not familiar to many users. You shouldn't have to know what a "mebibyte" or "gibibyte" is to view the admin UI. It certainly _is_ a goal for our users to see units in the dashboard  without being confused as to what they mean.

To that end, why don't we compromise and allow [MGTPE] as suffix units, meaning 1024^3, and also use those as the default units in our user interfa

[2016-03-01 00:08] knz commented on #4669
[code]

[2016-03-01 00:10] #4633 closed

[2016-03-01 00:11] mrtracy commented on #4735
Spencer and I discussed this a bit offline.

Owing to the tepid response received from using the binary prefixes ([MGTPE]i), we would prefer to use the normal metric prefixes (sans the "i") unless ambiguity around those prefixes was truly extreme. Although there is some ambiguity, we believe it is surmountable with clear documentation.

Additionally, even though the standards-body definition of "M

[2016-03-01 01:04] tschottdorf opened #4740 "circleci: failed tests (13559): TestStoreRangeMergeStats"
The following test appears to have failed:

[#13559](https://circleci.com/gh/cockroachdb/cockroach/13559):

[code]
Please assign, take a look and update the issue accordingly.

[2016-03-01 03:13] RaduBerinde commented on #4735
I agree.

Personally I am baffled whenever Megabyte does NOT mean 1024^2 bytes. I understand SI but really the 1024 is so ingrained and natural when working with computers that it makes no sense to try to switch it. Mebibyte/Gibibyte frankly sound ridiculous so no wonder nobody uses them.

FWIW commands like `du`, `df` on my Debian 8 use 1024 (they do support an `--si` flag but it's not the defaul

[2016-03-01 03:24] bdarnell commented on #4735
I don't care enough to fight the powers-of-2 crowd on this, but I'll just say that I much prefer the powers of 10. I'll often do things like `du -k` when I'm expecting files in megabytes and lop off three digits in my head. Yeah, this is nonsense because I do not also pass `--si` so I'm mixing the two bases (Like I said, I don't care too much about this issue). But now that we're not fighting for

[2016-03-01 03:42] johnmuth81 commented on #4735
Hi Spencer,

If you go into the enterprise world, you will confuse people with MB=1024^2. People in the enterprise space know and expect B vs iB as defined by IEC, since they are they ones who insisted drive (and array) mfg's disambiguate the terms in the first place.

Yeah it’s stupid, but not going along with it will violate the principle of least surprise in the enterprise space.

Regards,
John

[2016-03-01 07:41] knz commented on #4735
I think it's fair for CockroachDB to want to use the power-of-two encoding in the UI by default, but then when *displaying* it should do so with the SI units (with the 'i'). When reading people will either know what it means or just discard it mentally and still get the right picture.

When accepting input (like e.g. for `--store`) I think it's acceptable to only accept the power of two encoding r

[2016-03-01 13:23] spencerkimball commented on #4732
@mrtracy again, I'm trying to avoid having @jseldess explain what these flags mean. And once we release a flag in the wild, we're going to have a much more difficult time removing it.

[2016-03-01 13:24] spencerkimball commented on #1008
@tamird is this still an open issue?

[2016-03-01 14:34] tamird commented on #1008
Yep
On Mar 1, 2016 08:24, "Spencer Kimball" <notifications@github.com> wrote:

[2016-03-01 14:49] petermattis commented on #4269
@mberhault Ping?

[2016-03-01 14:52] petermattis commented on #4734
I imagine there is some silly oversight in the code. Definitely would be a good intro to the code to track down what is going on. Let us know if you need any guidance.

[2016-03-01 15:04] petermattis commented on #3682
@mjibson Is this still happening?

[2016-03-01 15:06] petermattis commented on #3196
@tschottdorf Is this necessary/worthwhile for Beta?

[2016-03-01 15:14] mberhault commented on #4269
yup. working on it. should be done soonish.

[2016-03-01 15:23] petermattis commented on #3216
@tschottdorf Anything to be done here for Beta?

[2016-03-01 15:26] petermattis commented on #3752
@tamird Maybe bump to the 1.0 milestone if this isn't urgent.

[2016-03-01 15:34] paperstreet commented on #4734
Ah, I should have mentioned that I did actually find the bug, was going to take a look at fixing it today

[2016-03-01 15:35] paperstreet commented on #4734
Oops, wrong button : - /

[2016-03-01 15:35] tamird commented on #4734
You can probably keep this issue open until the bug is fixed.

On Tue, Mar 1, 2016 at 10:34 AM, Dan Harrison <notifications@github.com>
wrote:

[2016-03-01 15:37] tamird commented on #3752
I'm just going to clear the milestone since there's no real deadline here.

[2016-03-01 15:58] RaduBerinde commented on #4299
ETA is 1-2 days for a change that will help in this case (specifically single-range scans).

[2016-03-01 15:59] #1472 closed

[2016-03-01 16:01] mrtracy commented on #4732
@spencerkimball I'm fine with removing the flag, we just need to pick an alternative solution for the problem it was solving.  It looks like we're going to go with solution #2.

[2016-03-01 16:17] petermattis commented on #4612
@dt Didn't you just fix this bug? Is the test coverage now sufficient?

[2016-03-01 16:24] dt commented on #4323
I tried with just adding memtable of 8mb or 16mb, then adding probe limits of 4, 6, and 8 to an 8mb memtable, then finally adding `bloom_locality`.

All the benchstats:
https://gist.github.com/dt/736ef6a7dbaf1c2becb6

Nothing looks like it made Bank or pgbench any faster (except the 8 probe claims a 10% gain on parallel pgbench), and most suggest a 5% slowdown on bank. Almost all see significant s

[2016-03-01 16:32] BramGruneir commented on #4732
Just a head's up that the maximum size work will be done by end of week.

[2016-03-01 16:36] #4723 closed

[2016-03-01 16:37] tschottdorf commented on #4723
:thumbsup:

On Tue, Mar 1, 2016 at 11:37 AM Spencer Kimball <notifications@github.com>
wrote:

[2016-03-01 16:37] dt commented on #4612
`TestPGWireDBName` checks that an unqualified table name is qualified using the db name that was used when connecting, so yeah.

[2016-03-01 16:37] #4612 closed

[2016-03-01 16:40] bogdanbatog commented on #4311
I started implementing `Cbrt` based on [Ken Turkowsk paper](http://people.freebsd.org/~lstewart/references/apple_tr_kt32_cuberoot.pdf). Is this ok, or would you rather have it call `Pow` and `Exp`?

[2016-03-01 17:39] petermattis commented on #1633
@tamird I imagine this will be revisited as part of your gRPC work.

[2016-03-01 17:42] petermattis commented on #4258
@tamird I see a loop on `Accept` failure as @bdarnell suggested. Is there anything else to do here?

[2016-03-01 17:52] mrtracy commented on #4347
#4625 falls under this blanket, and probably accounts for the range count error; as for negative stats, i'll see if I can get a better reproduction.

[2016-03-01 18:34] petermattis opened #4747 "ui: nodes count is 0 for first N seconds of cluster life"
Create a new cluster and immediately visit the admin UI. The "Nodes" count will be 0 for the first 10 or so seconds. This is apparently due to the `NodeStats` not being output for 10 seconds.

[2016-03-01 18:34] tschottdorf commented on #4408
I think it makes sense to generally log events "after the fact". For some events it could make sense to have a call before and after to get the exact duration, but I think in most cases it's overkill.

[2016-03-01 18:46] #4718 closed

[2016-03-01 18:50] tschottdorf commented on #3216
I hope not, but if testing the GC queue reveals that a lot of old data accumulates, we should be taking action. I talked briefly to @nvanbenschoten about the possibility to explicitly track sequence cache/transaction table size (row count) via `MVCCStats` and it looks like that ought to be possible.
I suggest we move off Beta with the option of revisiting based on the above.

[2016-03-01 19:03] #4740 closed

[2016-03-01 19:20] spencerkimball opened #4751 "cli: move range & kv commands under debug command"
range and kv commands on the main binary are not fit for beta usage. Let's move them under the debug command.

[2016-03-01 19:23] tschottdorf opened #4752 "circleci: failed tests (13586): TestConcurrentIncrements"
The following test appears to have failed:

[#13586](https://circleci.com/gh/cockroachdb/cockroach/13586):

[code]
Please assign, take a look and update the issue accordingly.

[2016-03-01 19:25] tschottdorf opened #4753 "circleci: failed tests (13586): TestTxnRestart"
The following test appears to have failed:

[#13586](https://circleci.com/gh/cockroachdb/cockroach/13586):

[code]
Please assign, take a look and update the issue accordingly.

[2016-03-01 19:28] spencerkimball opened #4754 "cli: Remove unnecessary command line flags"
Let's remove command line flags which operators will not have any use for changing. Easier to add these later if they become necessary; harder to remove.

[code]

[2016-03-01 19:30] #4653 closed

[2016-03-01 19:34] tamird commented on #4753
This was introduced in #4576.

[2016-03-01 19:40] tamird commented on #4752
#4576 looks like a likely suspect. @andreimatei can you take a look?

[2016-03-01 20:08] tamird opened #4757 "storage.TestingCommandFilter should be a function"
We need to make it easier to not get this wrong in tests, see #4755. Here's a proposal:

[code]

[2016-03-01 20:12] spencerkimball commented on #4370
@jseldess you'll need to document the endpoint of this issue in the Develop / Transactions document section.

[2016-03-01 20:24] petermattis commented on #4323
The parallel pgbench numbers look suspicious. Lots of variation between runs there.

I agree that I'm not seeing any compelling speedup here. Let's put this on hold for now and we can revisit after the beta is out.

[2016-03-01 20:49] mjibson commented on #3682
Nope, I think it got fixed.

[2016-03-01 20:49] #3682 closed

[2016-03-01 20:53] tschottdorf commented on #4757
How would that have helped?

[2016-03-01 20:57] tamird commented on #4757
Well, the issue in the `sql` package in particular is more hairy than described here because the server setup code injects a TestingCommandFilter, but then @andreimatei's new test does the same, and one gets overwritten. The `panic` above would help there, and the rest of the proposal is just for convenience.

[2016-03-01 21:04] JackKrupansky commented on #4408
It can make sense for slow operations or operations which may hang, in which case you'd like to be able to look at the log and see what operation is being attempted. But this tends to be a small set of logged operations.

And for operations which may commonly fail with an exception with a stack trace it can be nice to, again, know what operation was being attempted. Although it can usually be fair

[2016-03-01 21:48] #4691 closed

[2016-03-01 21:52] tamird opened #4762 "server: put server.Server on a diet"
Our server structure has an incredible amount of state, most of which can be replaced with function-scoped state (e.g. `s.status` is only set and then referenced in HTTP handler registration, why is it retained?). We should prune this struct down to reduce the cognitive overhead associated with it.

No milestone.

[2016-03-01 21:53] JackKrupansky commented on #4735
Powers of 2?

Geez, if you guys keep this up CockroachDB will quickly get a reputation as being "A database by engineers, for engineers." Is that what you want??

(awaiting snarky response)

GiB seems like a term invented by a product manager to appeal to other product managers. ("A database by product managers, for product managers" - seems the norm, but just doesn't sound right to me.)

It feels

[2016-03-01 22:03] tschottdorf opened #4763 "circleci: failed tests (13608):"
The following test appears to have failed:

[#13608](https://circleci.com/gh/cockroachdb/cockroach/13608):

[code]
Please assign, take a look and update the issue accordingly.

[2016-03-01 22:11] tamird commented on #4763
soon to be fixed in #4761

[2016-03-01 22:11] #4763 closed

[2016-03-01 23:21] bdarnell commented on #4751
While you're doing this we should also just remove the (non-functional) `range merge` command.

[2016-03-02 01:11] #4203 closed

[2016-03-02 08:22] changrui82 opened #4768 "storage: make cmdQ and tsCache concurrent"
I saw nvanbenschoten make some improvement in `cmdQ` and `tsCache`.
It's a very good progress. But I have some other opinions.
When we use cmdQ or tsCache, we have a big locker like:

[code]

It will block the system performance heavily when there are concurrent request.
Especially when each request(batch) has lots of cmds(will do more work in locker area, make other go routine wait more time)
I f

[2016-03-02 08:25] mjibson commented on #4656
I think this will be fixed by #4767. @knz could you pull the branch in that PR and see if it works?

[2016-03-02 12:03] tamird opened #4769 "sql: BenchmarkBank_Cockroach instantly panics"
[code]

[2016-03-02 13:30] #4217 closed

[2016-03-02 14:14] RaduBerinde commented on #4769
Had PR #4765 out for this.

[2016-03-02 14:25] RaduBerinde opened #4772 "sql: investigate performance impact of kvBatchSize settings"
PR #4759 introduces fetching of key values in batches of `kvBatchSize` (set to 10,000).

Single-node experiments showed that batch size of 1000+ was enough to not cause performance degradation. We should also perform multi-node experiments to get an idea of what the impact of changing this value is.

[2016-03-02 14:29] petermattis commented on #4183
As I mentioned in my previous comment, I think we need to support unique 64-bit int generation as external requirements sometimes force usage of an int vs bytes. I see two ways forward here: try to adapt the current timestamp-based unique-int generation to something more palatable, or switch to a random-based generator.

The current time-based generator uses 48-bits for the timestamp at 10-microse

[2016-03-02 14:46] tschottdorf opened #4773 "circleci: failed tests (13635):"
The following test appears to have failed:

[#13635](https://circleci.com/gh/cockroachdb/cockroach/13635):

[code]
Please assign, take a look and update the issue accordingly.

[2016-03-02 14:52] petermattis commented on #4768
Concurrent skip-lists are neat data structures and the improvement in the graph is certainly nice. I'd be curious to see what you've done as it isn't obvious to me how to adapt the existing CommandQueue and TimestampCache to a lockless approach.

[2016-03-02 14:52] RaduBerinde commented on #3854
I'll add my 2 cents - AFAICT pgwire_test has some limitations which makes a lot of things hard to test:
 - statements can't be executed in a certain order (they're in a map), so you can't do even simple things like insert then select
 - queries can only return exactly one row (technically they have to return at least one row and we only verify the first one)
 - tests are broken up into `Exec` and

[2016-03-02 14:54] tschottdorf opened #4774 "circleci: failed tests (13636): TestClientNotReady"
The following test appears to have failed:

[#13636](https://circleci.com/gh/cockroachdb/cockroach/13636):

[code]
Please assign, take a look and update the issue accordingly.

[2016-03-02 14:57] #4769 closed

[2016-03-02 15:08] bogdanbatog commented on #869
Thanks, I'll make the update in the next days. I expect it to be pretty straightforward.

[2016-03-02 16:12] tamird commented on #4773
Dupe #4753 cc @andreimatei

[2016-03-02 16:12] #4773 closed

[2016-03-02 17:03] vivekmenezes commented on #4517
Is there still a reason for disabling these tests? Do you think we've fixed them?

[2016-03-02 17:33] RaduBerinde commented on #2966
This is now done for single-span scans. For multi-span scans, this is dependent on #4696

[2016-03-02 17:37] RaduBerinde commented on #4299
The situation should now be improved - we will read only the first chunk (10,000 key/values) instead of the entire table, as long as the scan only involves one span (it is the case for the example query).

I am working on a change to further improve on this by reducing the size of the first chunk depending on the limit.

Resolving the single-span caveat is dependent on #4696.

[2016-03-02 18:12] JackKrupansky commented on #4183
Is the issue the total cluster size (active nodes) or the fact that over time as nodes die and/o upgraded and replaced that the node IDs increase way beyond the number of actually active nodes? (Might there eventually be any node ID reuse, intentional recycling, over time?)

From a practical perspective, I have a hard time feeling like you need to worry about clusters with more than a few hundred

[2016-03-02 18:34] andreimatei commented on #4753
Working on this now.

[2016-03-02 19:39] tschottdorf opened #4780 "circleci: failed tests (13658): TestClientNotReady"
The following test appears to have failed:

[#13658](https://circleci.com/gh/cockroachdb/cockroach/13658):

[code]
Please assign, take a look and update the issue accordingly.