[2016-06-20 19:03] knz commented on #7334
To test:
- recalling history
- recalling history across DB disconnects / statement errors
- checking what happens on EOF
- checking what happens on signals

[2016-06-20 19:17] tamird commented on #5834
Not sure what the issue here - it does reproduce but I can't tell why that's a problem. Closing.

[2016-06-20 19:17] #5834 closed

[2016-06-20 19:19] tamird commented on #6988
Anything left to do here?

[2016-06-20 19:21] tamird opened #7335 "sql: gossip schema versions rather than entire schemas"
Gossiping the entire schema is quite an abuse of the gossip system; we should be using gossip to broadcast only the metadata necessary to determine that a new schema version is in effect.

Related to #2502.

[2016-06-20 19:22] tamird commented on #6203
This hasn't been seen in about a month, closing.

[2016-06-20 19:22] #6203 closed

[2016-06-20 19:32] knz opened #7336 "sql: typing rule inconsistent with evaluation"
Detected using `sqllogictest/test/random/expr/slt_good_1.test`:
[code]

--- FAIL: TestLogic (0.08s)
        logic_test.go:620: .../sqllogictest/test/random/expr/slt_good_1.test:180: expected int value for column 0, but found []uint8: []byte{0x32, 0x30, 0x2e, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30}

In other words somewhere an INT is inferred

[2016-06-20 19:35] petermattis commented on #2309
It is possible that CockroachDB would work with https://github.com/brianfrankcooper/YCSB/tree/master/jdbc and the Postgres JDBC driver.

[2016-06-20 19:40] knz commented on #7336
Never mind, the problem is in the test's expected type.

[2016-06-20 19:40] #7336 closed

[2016-06-20 20:11] mberhault commented on #7224
yup. doing that now.
can you guys try the following:
`gsutil ls gs://cockroach-marc-logs/backup.7224.cockroach-gamma-1/`
@petermattis and @bdarnell should have access to it if your gsutil is setup properly (you're owners in the `cockroach-marc` project). @tschottdorf: yours may or may not work. I made the files public, but I'm not sure if that requires sending the link or not

[2016-06-20 20:19] tschottdorf commented on #7224
403 forbidden.

[2016-06-20 20:23] petermattis commented on #7224
@mberhault Worked for me.

[2016-06-20 20:28] tschottdorf opened #7340 "circleci: failed tests: TestRaftUpdate"
The following test appears to have failed:

[#19347](https://circleci.com/gh/cockroachdb/cockroach/19347):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-20 21:55] bdarnell commented on #6988
The memory issues should have been addressed by the raft log GC work. I've renamed the issue to reflect the one remaining issue, that a node can consider itself to be offline while it is still running (and, less surprisingly, the other nodes also consider it to be offline at the same time).

[2016-06-20 22:06] maxlang opened #7343 "ui: better outdated version experience"
Currently the "version outdated" or "version mismatch" text isn't very informative.

For an outdated version we should indicate:
- Which version they're on
- The latest version
- How many versions they are behind/how old their version is
- Any major enhancements (specifically security issues or breaking changes)
- More specific upgrading instructions tailored to their version

For mismatching vers

[2016-06-20 22:11] mberhault commented on #7224
Ok, I've synced everything to `gs://cockroach-marc-logs/` (I know, it's a misnomer, they're not logs) and added @tschottdorf as an owner on my project.
I'll try and figure out the proper permissions for the longer term.

[2016-06-20 22:30] maxlang commented on #7343
cc @tamird

[2016-06-21 00:09] petermattis commented on #6988
From the code: a node could consider itself offline if it stopped gossiping its store descriptor. This would prevent the local `StorePool.start` loop from ever seeing an updated store descriptor which would cause that goroutine to mark the store dead (even though it is local). I don't see any reason why a node would stop gossiping its store descriptor, though. Do you still have the logs from this

[2016-06-21 01:14] petermattis commented on #7022
So my earlier comment about why `scan-max-idle-time` shouldn't matter was revealing my faulty knowledge. A new node being discovered via gossip will cause any replicas in replicate queue purgatory to be retried. But we still limit how fast we scan replicas in the first place. In particular, by default we only scan replicas at a rate such that we examine every replica once every 10 min, but with a

[2016-06-21 01:22] tamird commented on #7022
A more radical suggestion: can we step away from the scanner-powered replica queue and make things more event driven? There's a relatively narrow list of events that require replicas to be placed into the replicate queue.

[2016-06-21 01:27] petermattis commented on #7022
Yes, we can. We do something similar for the split and raft log gc queues. Those queues still utilize the replica scanner, but are also populated by other events. Question is what the right events are for replication. You wouldn't want to examine every replica when a new node appears via gossip. Or maybe you would (up to some limit).

[2016-06-21 01:29] tamird commented on #7022
Replica creation might be a good start.
On Jun 20, 2016 21:27, "Peter Mattis" <notifications@github.com> wrote:

Yes, we can. We do something similar for the split and raft log gc queues.
Those queues still utilize the replica scanner, but are also populated by
other events. Question is what the right events are for replication. You
wouldn't want to examine every replica when a new node appears vi

[2016-06-21 01:31] petermattis commented on #7022
Not sure I follow. The initial range splits happen very quickly before the second node is connected.

[2016-06-21 01:53] tamird commented on #7022
Perhaps I misunderstood your earlier comment?

What do you mean by "in the first place"? If the replicas are in the replicate queue purgatory when the second node is connected, they will all immediately be sent to `processReplica`, and should replicate as quickly as the queue can process them.

If the problem is that they are not yet in the replicate queue purgatory when the second node connects (

[2016-06-21 03:21] idsj opened #7348 "sql: drop table and recreate fail"
Please follow the steps below to help us help you.
1. header
   I160621 11:06:31.940101 util/log/clog.go:998  [config] file created at: 2016/06/21 11:06:31
   I160621 11:06:31.940101 util/log/clog.go:998  [config] running on machine: longong-dsj-kv1
   I160621 11:06:31.940101 util/log/clog.go:998  [config] binary: CockroachDB beta-20160616 (linux amd64, built 2016/06/16 16:51:45, go1.6.2)
   I1606

[2016-06-21 04:13] andreimatei commented on #7348
Are you running the `DROP` statement in a transaction? If so, DDL statements only take effect when you commit the txn.

[2016-06-21 04:14] andreimatei opened #7349 "cli: bogus database name when starting the cli doesn't result in error"
[code]

no error message, I get my prompt. There's errors about the database not existing later on when I try to do stuff like creating a table.

[2016-06-21 06:12] idsj commented on #7348
@andreimatei  I'm not using the transaction actually, and after the statement, all the nodes got errors. I used to catch this situation when I drop a table with 1m+ records and I thought the reason lies in the table size, but now I meet the same error for table of only 10k+ size.

[2016-06-21 06:56] knz opened #7351 "sql: extend the logic test coverage"
In the wake of #7202 @petermattis suggests to revisit the following comment in `sql/logic_test.go` pertaining to the `bigtest`:

[code]

[2016-06-21 11:34] bdarnell commented on #6988
Yeah, I still have the logs. Here's the part where node 3 considers itself offline:

[code]

Everyone considered node 3 to be offline at 8:08, so the last time it gossiped its descriptor must have been at 8:03. Even if the gossip network was partitioned (as we see at 8:27), the node should have been able to see its own gossip.

The logs had been quiet for several days before that. I'm not sure whe

[2016-06-21 12:45] petermattis commented on #7022
@tamird Ah, that's a good point about enqueuing after a split. We actually want to enqueue both the left and right sides after the split because the replicate queue won't process (or queue) ranges that require a split. With this done, initial replication drops from ~30s to ~2s.

[2016-06-21 12:49] mberhault opened #7354 "stress: failed test in cockroach/gossip/gossip.test: TestGossipCullNetwork"
Binary: cockroach/static-tests.tar.gz sha: https://github.com/cockroachdb/cockroach/commits/775699cede550839281f885495c9b6492f512527

Stress build found a failed test:

[code]

Run Details:

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-21 14:10] petermattis commented on #6988
It is interesting that the log message preceding 8:08 is 8:03. Not sure if that means anything or is just coincidence. There isn't much to go on here.

[2016-06-21 14:26] jseldess commented on #6543
This issue is wrong, it turns out, and we updated tooltips in a recent PR.

[2016-06-21 14:26] #6543 closed

[2016-06-21 14:30] BramGruneir commented on #7022
I love the idea of the replicate queue being more event driven, and it clearly helps in the initial case, but once fully replicated, there's no point in enqueuing after a split.

[2016-06-21 15:08] bdarnell commented on #7349
This is inconsistent with other databases, but I actually like it - it's more convenient to connect to a database that doesn't exist an then create it than to connect with no DB, create one, then switch to it (which should properly be done by closing the connection and restarting instead of changing the DB within a session). But I guess what I really want is an option to create a database and conn

[2016-06-21 15:26] #7324 closed

[2016-06-21 16:11] tschottdorf opened #7357 "keys: standardize replicated and unreplicated key names"
From [discussion](https://reviewable.io/reviews/cockroachdb/cockroach/7310#-KKn5aTqtVsyeTLpGe5f) on #7310:

@tschottdorf wrote:

BTW, what's up with RaftTombstoneKey above? Does that need to/should it be replicated?

@bdarnell wrote:

I don't feel strongly about the names. Our current naming is kind of a mess, but even with this change, starting with Range is not a reliable indicator for replicate

[2016-06-21 16:35] tschottdorf opened #7358 "circleci: failed tests: TestGossipPeerings"
The following test appears to have failed:

[#19381](https://circleci.com/gh/cockroachdb/cockroach/19381):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-21 17:01] tschottdorf opened #7360 "circleci: failed tests: TestComputeVerifyChecksum"
The following test appears to have failed:

[#19384](https://circleci.com/gh/cockroachdb/cockroach/19384):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-21 17:15] tschottdorf commented on #7360
The Raft reproposal looks interesting:

[code]

Will take a look whether that's the test or the Raft code that's at fault her.e

[2016-06-21 17:23] #7358 closed

[2016-06-21 17:23] #7340 closed

[2016-06-21 17:24] tamird commented on #6902
Not much to go on?

[2016-06-21 17:24] #6902 closed

[2016-06-21 17:25] tamird commented on #7272
Likely #7329.

[2016-06-21 17:25] #7272 closed

[2016-06-21 17:25] tamird commented on #7284
Likely #7329.

[2016-06-21 17:25] #7284 closed

[2016-06-21 17:30] tschottdorf opened #7362 "circleci: failed tests: TestReservationQueue"
The following test appears to have failed:

[#19387](https://circleci.com/gh/cockroachdb/cockroach/19387):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-21 17:54] tschottdorf opened #7363 "circleci: failed tests: TestAdminLossOfQuorum TestGossipRestart"
The following test appears to have failed:

[#19389](https://circleci.com/gh/cockroachdb/cockroach/19389):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-21 18:07] tschottdorf opened #7364 "circleci: failed tests: TestGossipPeerings TestRaftUpdate"
The following test appears to have failed:

[#19394](https://circleci.com/gh/cockroachdb/cockroach/19394):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-21 18:08] knz opened #7365 "sql: work towards making expressions cacheable by making qvalues constant"
Background: it would be nice to cache the result of the parser for common expressions.

Thanks to recent work on typing and placeholders, expressions are mostly constant after normalization.
The only remaining "variableness" is qvalues, that change (resolveQValues) for an expr every time the  plan is recomputed.

To enable caching of expressions it is thus necessary to replace the current qvalue i

[2016-06-21 18:09] #7364 closed

[2016-06-21 18:19] mjibson opened #7366 "sql: incorrect result header title with arbitrary bytes"
`\Uffffffff` gets printed as `\xff`.

[code]

Works with `\u`:

[code]

[2016-06-21 18:20] mjibson commented on #7366
This might be because \Uffffffff is not a valid unicode code point.

[2016-06-21 19:32] d4l3k commented on #7108
This isn't a raft election issue.

Instead what's happening is that after a split `RangeLookup` sends out a message to nodes in a random order to fetch information. These replicas are passed into `splitHealthy` which should move the down node to the end of the try order, however, grpc reports the `ConnectivityState` as `Ready`. Thus, there is a chance that on split there will be a 3s RPC timeout c

[2016-06-21 19:42] #7170 closed

[2016-06-21 19:45] vivekmenezes commented on #7348
I believe this is the intended behavior right. The name is available for
reuse only after thr table has been fully deleted.

On Tue, Jun 21, 2016, 12:10 PM Andrei Matei <notifications@github.com>
wrote:

[2016-06-21 19:49] andreimatei commented on #7348
Right, but the table is truncated and "fully deleted" by the schema changer, which (when run through the "synchronous path") blocks the client executing the `DROP`.

[2016-06-21 20:14] d4l3k commented on #7108
Related to https://github.com/grpc/grpc-go/pull/690. Ideally the fix won't rely on `(*grpc.ClientConn).State()` since that function is no longer present upstream.

[2016-06-21 21:00] petermattis opened #7372 "storage: preemptive snapshots are being dropped on the floor"
See #7332.

During initial replication of the 5 initial ranges, replica reservations are sometimes declined. The error in the logs is:

[code]

This differs from my expectation. With one node sending the reservations, I would expect that we'd see a sequence of reserve-replicate-fill. Instead, we somehow saw 5 consecutive reservations with the 5th one failing.

[2016-06-21 21:09] petermattis commented on #7372
Some more details from the logs:

[code]

Not sure exactly what the above means, but that `refusing incoming Raft message MsgSnap` looks suspicious. @tamird Are pre-emptive snapshots having a problem here?

[2016-06-21 21:22] petermattis commented on #7372
@tamird After some more digging, it looks like the pre-emptive snapshots are definitely the source of those `refusing incoming Raft message MsgSnap` messages. Those message have `ReplicaID:0` while the snapshots that come out of raft have a non-zero `ReplicaID`. The zero `ReplicaID` causes the failure in `newReplicaInner`. I think. Additional eyes on this would be appreciated.

[2016-06-21 22:01] #7123 closed

[2016-06-21 22:02] tamird commented on #7372
Yes, ReplicaID is indeed zero and this was intentional. I think we can either hack up handleRaftReady to directly apply the snapshot in these cases (that's really what we want, I think) or else we can declare bankruptcy on this and investigate streaming snapshots instead.

[2016-06-21 22:23] tschottdorf opened #7373 "circleci: failed tests: TestReservationQueue"
The following test appears to have failed:

[#19412](https://circleci.com/gh/cockroachdb/cockroach/19412):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-21 22:37] bdarnell commented on #7108
Related to #6750. We should be setting SendNextTimeout to a lower value so we can retry in less than 3s, but that exposed data races last time we tried it. We're missing some place where we need to copy the transaction proto before mutating it (and we also need a test that exposes this race).

[2016-06-21 22:45] bdarnell commented on #7372
I think it should be fine to make `newReplicaInner` call `setReplicaIDLocked` only if it found a replica ID. Let's try that before we give up on preemptive snapshots.

[2016-06-22 00:59] petermattis commented on #7372
@bdarnell The naive implementation of your suggestion causes the following panic:

[code]

[2016-06-22 01:01] petermattis commented on #7372
And here is the naive implementation:

[code]

[2016-06-22 01:37] tschottdorf opened #7377 "circleci: failed tests: TestGossipPeerings"
The following test appears to have failed:

[#19421](https://circleci.com/gh/cockroachdb/cockroach/19421):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 01:38] #7377 closed

[2016-06-22 01:55] tschottdorf opened #7378 "circleci: failed tests: TestRaftUpdate"
The following test appears to have failed:

[#19424](https://circleci.com/gh/cockroachdb/cockroach/19424):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 02:04] #7378 closed

[2016-06-22 03:09] tschottdorf commented on #7362
#7373

[2016-06-22 03:09] #7362 closed

[2016-06-22 03:09] tschottdorf commented on #7373
got this also on https://circleci.com/gh/tschottdorf/cockroach/2352?utm_campaign=build-failed&utm_medium=email&utm_source=notification

[2016-06-22 07:23] idsj commented on #7348
@andreimatei
create a new cockroach cluster with three node(192.168.181.91/92/93);Then do follow:

root@192.168.181.91:26257> create database test;
CREATE DATABASE
root@192.168.181.91:26257> set database = test;
SET

/*
create a table named test_serial and insert 30000 records using the node(192.168.181.93);
*/

root@192.168.181.91:26257> show tables;
+-------------+
|    Table    |
+-------------

[2016-06-22 08:06] bdarnell commented on #7372
Ah, so it's only by accident that we were avoiding this panic before. When we introduced preemptive snapshots we should have added a test to make sure that we were actually processing them instead of getting the same result from the non-preemptive snapshot.

In addition to the above change, we could apply the snapshot directly in handleRaftMessage (not handleRaftReady), as @tamird suggested. Raft

[2016-06-22 12:21] #7022 closed

[2016-06-22 12:31] mberhault opened #7383 "stress: failed test in cockroach/gossip/gossip.test: TestGossipCullNetwork"
Binary: cockroach/static-tests.tar.gz sha: https://github.com/cockroachdb/cockroach/commits/f2e3441898c341dd9c35b68faa15eddfe2f191c3

Stress build found a failed test:

[code]

Run Details:

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 12:31] mberhault opened #7384 "stress: failed test in cockroach/kv/kv.test: TestSlowLeaderRetry"
Binary: cockroach/static-tests.tar.gz sha: https://github.com/cockroachdb/cockroach/commits/f2e3441898c341dd9c35b68faa15eddfe2f191c3

Stress build found a failed test:

[code]

Run Details:

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 12:31] mberhault opened #7385 "stress: failed test in cockroach/storage/storage.test: TestReservationQueue"
Binary: cockroach/static-tests.tar.gz sha: https://github.com/cockroachdb/cockroach/commits/f2e3441898c341dd9c35b68faa15eddfe2f191c3

Stress build found a failed test:

[code]

Run Details:

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 13:00] knz commented on #7373
Also here TestReservationQueue

[2016-06-22 13:11] tschottdorf opened #7386 "circleci: failed tests: TestReplicaRemovalCampaign"
The following test appears to have failed:

[#19440](https://circleci.com/gh/cockroachdb/cockroach/19440):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 13:12] petermattis commented on #7372
I agree we should try to make this work. Preemptive snapshots are also a useful throttling mechanism on how fast `replicateQueue` performs rebalancing.

[2016-06-22 13:20] kkaneda commented on #6678
Closing as we merged #6768, but please reopen if there is any remaining issue. Thanks!

[2016-06-22 13:20] #6678 closed

[2016-06-22 13:40] tschottdorf opened #7387 "circleci: failed tests: TestReplicaRemovalCampaign"
The following test appears to have failed:

[#19443](https://circleci.com/gh/cockroachdb/cockroach/19443):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 13:44] petermattis commented on #7387
Duplicate of #7386.

[2016-06-22 13:44] #7387 closed

[2016-06-22 13:48] petermattis commented on #7386
This is easily reproducible with:

[code]

[2016-06-22 13:53] petermattis opened #7388 "storage: replica reservation size"
[This might not be a bug]

Reservation requests currently reserve `max(Replica.GetMaxBytes(), Replica.GetMVCCStats().Total())` shortly before performing a snapshot. I'm not clear on what the purpose of this logic is. I would have expected a reservation to use `Replica.GetMVCCStats().Total()` alone. We should either simplify the code, or add a comment explaining why reserving `Replica.GetMaxBytes()

[2016-06-22 14:11] tamird commented on #7385
#7373

[2016-06-22 14:11] #7385 closed

[2016-06-22 14:12] tamird commented on #7383
#7354

[2016-06-22 14:12] #7383 closed

[2016-06-22 14:21] mberhault opened #7389 "stability: crash at startup: panic: [group 903] entries[1:12) is unavailable from storage"
Trying to upgrade `rho` to the beta candidate sha: f447eb0

On restart, all nodes crashed with:
[code]

Here are the per-node panic messages:
[code]

[2016-06-22 14:23] mberhault commented on #7389
I'll leave things are they are for now, but then I'll try reverting back to the previous binary (sha a51f9e4)

[2016-06-22 14:33] mberhault opened #7390 "beta: 20160623"
Candidate sha: f447eb00abe3b43f1c2ebe72158864abeb161c16

In-progress release notes: https://github.com/cockroachdb/docs/pull/409 (up to sha 6d60fb6 only).

Attempt to upgrade `rho` failed with issue below. Will attempt `gamma` upgrade after full stop and backup.

@jordanlewis: let's get you familiar with the beta release process. Historically, Ben has been doing the release notes, I've run the can

[2016-06-22 14:37] tamird commented on #7386
This was introduced in f447eb00abe3b43f1c2ebe72158864abeb161c16, looks like we're tickling something new here.

[2016-06-22 14:42] tamird commented on #7343
Also currently on master I see the `There is a newer version of CockroachDB available.` banner. That seems incorrect.

[2016-06-22 14:47] mberhault commented on #7389
data and logs backed up on all nodes to `/mnt/data/backup.7389` and `~/logs.7389` respectively.

[2016-06-22 15:00] mberhault commented on #7389
confirmed that rolling back to a51f9e4 works.

[2016-06-22 15:00] petermattis commented on #7389
This looks related  to (or the same as) #7386.

[2016-06-22 15:00] petermattis commented on #7386
I'll revert that PR until we figure this out.

[2016-06-22 15:22] mberhault commented on #7390
Apparently #7389 was introduced in #7355 (the last commit at the current candidate sha).
I'll switch the candidate sha back to 6d60fb6 and roll out to the test clusters.

[2016-06-22 15:29] petermattis commented on #7390
I've reverted #7355.

[2016-06-22 15:42] tschottdorf opened #7392 "circleci: failed tests: TestReplicaRemovalCampaign"
The following test appears to have failed:

[#19450](https://circleci.com/gh/cockroachdb/cockroach/19450):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 15:44] tamird commented on #7392
#7386.

[2016-06-22 15:44] #7392 closed

[2016-06-22 15:45] tschottdorf commented on #7390
Interesting. This is solely caused/triggered by the line with sets the
reserved reservation timeout to 0?

On Wed, Jun 22, 2016 at 11:30 AM Peter Mattis <notifications@github.com>
wrote:

--

-- Tobias

[2016-06-22 15:53] petermattis commented on #7390
No, this is caused by replication the right hand side of the split. There
is a bad interaction with the code a few lines down to campaign that new
range.

On Wed, Jun 22, 2016 at 11:45 AM, Tobias Schottdorf <
notifications@github.com> wrote:

[2016-06-22 16:04] tschottdorf opened #7394 "circleci: failed tests: TestTxnDeadline"
The following test appears to have failed:

[#19453](https://circleci.com/gh/cockroachdb/cockroach/19453):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 16:07] mberhault commented on #7389
This is still broken on `rho` using sha 6d60fb6  (before the merge of the original PR).
see: https://github.com/cockroachdb/cockroach/tree/data-race for actual code

[2016-06-22 16:09] mberhault commented on #7390
The revert of #7355 didn't seem to do it. See #7389 for details

[2016-06-22 16:28] petermattis commented on #7389
@mberhault Still broken as in you're still seeing the same crashes?

[2016-06-22 16:30] tschottdorf opened #7395 "circleci: failed tests: TestDockerFinagle"
The following test appears to have failed:

[#19455](https://circleci.com/gh/cockroachdb/cockroach/19455):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 16:31] mberhault commented on #7389
yup. Here's a summary of running sha and panic message (or lack of it) per node.
[code]

[2016-06-22 16:34] rhauch commented on #2656
I'm also very interested in being able to capture committed changes to rows. Basically, the scenario is this: a "monitor" (see below) connects to the database, performs a consistent snapshot at some known point in time, and when the snapshot is complete it then starts capturing the committed changes starting with the same point in time the snapshot was performed. The monitor continues to monitor t

[2016-06-22 17:00] knz commented on #7366
Indeed; nevertheless we should report an error during the conversion instead of allowing the cast.

[2016-06-22 17:05] tschottdorf commented on #7389
I'll look at the original test failure. It's not surprising that once we
get into this corrupted state, we stay there. Will update this issue with
my findings.

On Wed, Jun 22, 2016 at 12:31 PM marc <notifications@github.com> wrote:

--

-- Tobias

[2016-06-22 17:17] tschottdorf commented on #7386
Looking.

[2016-06-22 17:52] tschottdorf commented on #7386
First results:

In the test, we call `store0.RemoveReplica(replica2, *replica2.Desc(), true)` where `replica2` is the right-hand side of the split. `RemoveReplica` deletes all of the Replica's data, including the Raft state, leaving only a tombstone behind.

But `replica2` doesn't know about this, and its Raft group is active (tickled by the previously triggered campaign, or otherwise by the repli

[2016-06-22 18:40] d4l3k commented on #7108
Also related to #6719

[2016-06-22 18:55] rhauch commented on #2656
While it would be very convenient and hopefully a long term goal, it certainly isn't necessary to start out by providing a simple way for clients to consume a _single_ change log of events for a distributed database. It'd be a start, for example, to provide access to multiple logs (e.g., perhaps one on each node in the cluster) -- clients could at least work with that, though they may have to reso

[2016-06-22 19:04] petermattis commented on #7386
When we call `Replica.Destroy()`, should we mark the replica as destroyed so that it can't be used? That seems to be what you're suggesting. Sound like `replicateQueue` is operating on a replica that has been destroyed.

[2016-06-22 19:09] tschottdorf commented on #7386
Yes, that's the above conclusion. I want to understand the production crash
better, though.

On Wed, Jun 22, 2016 at 3:05 PM Peter Mattis <notifications@github.com>
wrote:

--

-- Tobias

[2016-06-22 19:13] mberhault commented on #7389
The same is happening on gamma, I'm pretty sure (90%) without having even touched the data using code that has Pete's change in.

Summary of running binaries and panic. Plus annotations of what I did here and there.
This is just on node 1, but I was doing the same thing on the others, plus full stops of all nodes before restarting with a different binary.
[code]

[2016-06-22 19:16] BramGruneir commented on #7388
The original idea behind this is that limiting the number of reserved bytes is a better method of control than just a max number of reservations.  And we can combine the two if we use max bytes.

Also, there is the possibility that the size does increase between requesting a reservation and sending a snapshot (depending on how async the snapshotting is compared to the changeReplicas call).

Howeve

[2016-06-22 19:44] mberhault commented on #7390
We're cancelling the beta for this week. Too many issues surfacing in #7389.

[2016-06-22 19:59] tschottdorf opened #7402 "circleci: failed tests: TestTxnDeadline"
The following test appears to have failed:

[#19475](https://circleci.com/gh/cockroachdb/cockroach/19475):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 20:09] tamird commented on #7402
#7394

[2016-06-22 20:09] #7402 closed

[2016-06-22 20:27] cuongdo opened #7407 "build: CircleCI for system tests"
Here are the requirements we discussed for the short-term (through roughly mid-August):

- [ ] Test dashboard
- [ ] Show pass/fail history for each test
- [ ] Show run time of test over time
- [ ] Show performance of benchmarks over time
- [ ] Show other test metrics over time, like allocator test metrics
- [ ] Continuous load tests
- [ ] Collect heap, CPU, and jemalloc profiles for longer-running

[2016-06-22 20:29] tschottdorf commented on #7389
Documenting some of the post-mortem work:

[code]

I looked at some other dumps with @mberhault (preceding his upgrades, I think on `gamma`) and there too we saw similar ranges which were problematic. But in this case, these ranges are the ones causing the crash (see the panics above).

From `sudo ./cockroach.race debug range-data /mnt/data/ 809 | less -S` we see that there is data in the state, a

[2016-06-22 20:49] tschottdorf commented on #7389
Picking up from that last clue (all of the replica set is clobbered), I looked at the replica on the second node. The output of `sudo ./cockroach.race debug range-data /mnt/data/ 809 | less -S` is identical, but there's something interesting going on. For simplicity, here's (almost) the full thing (omitting only some abort cache entries), truncated for legibility:

[code]

The interesting bit is t

[2016-06-22 20:52] tschottdorf commented on #7389
At this point, my impression is that we're simply looking at a very skinny range - it contains only a single key, `/System/"tsd\x12cr.store.rocksdb.block.cache.hits\x00\x01\x89\xf8\x06621`. Why that range was ever created in the first place is a new mystery, but it's mostly empty simply because it is.

We might be looking at a corruption of the internal state here which comes from a different angl

[2016-06-22 21:07] #7329 closed

[2016-06-22 21:13] #7108 closed

[2016-06-22 21:29] #7388 closed

[2016-06-22 21:31] tschottdorf commented on #7389
For posterity: the easiest way to grab all of the range prefix is

[code]

where the gibberish hex was obtained by adding this in `keys_test.go`:

[code]

[2016-06-22 21:49] tschottdorf opened #7410 "circleci: failed tests: TestHeartbeatHealth"
The following test appears to have failed:

[#19491](https://circleci.com/gh/cockroachdb/cockroach/19491):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-22 21:53] knz opened #7411 "sql: error during Eval on parser.RangeCond"
Found by #7409:

[code]

[2016-06-22 22:00] knz opened #7412 "sql: panic on comparison lookup"
Found by #7409:

[code]

[code]

[2016-06-22 22:08] knz opened #7413 "sql: unexpected numeric output on valid queries"
Found via #7409:

[code]

This should be investigated; the likely cause is that the division is not rounding the result. If that is confirmed, the sqllogictest input must be modified to add the necessary "skipif cockroachdb" directives.

[2016-06-22 22:10] knz commented on #7413
One more:

[code]

[2016-06-22 22:19] knz commented on #7411
Some more:
[code]

[2016-06-22 22:23] knz opened #7414 "sql: add overloads for legitimate arithmetic operations"
Found with #7409.

The following operations provide exact results and thus should be accepted:

- `decimal OP int` / `int OP decimal` with OP in `+, -, *, /` should return `decimal`.
- `decimal IN <tuple>` (example in `sqllogictest/test/random/expr/slt_good_4.test:82808`)
- `CASE <type X> WHEN <type Y>`. SQL mandates that equality tests are always possible between heterogeneous types, so CASE/WHEN

[2016-06-22 22:23] knz commented on #7414
cc @nvanbenschoten

[2016-06-22 22:41] nvanbenschoten commented on #7414
@knz Thanks for putting this list together. Some of them I agree with, others I have reservations about:

Agreed!

I don't understand what you mean here.

This is going to require some serious restructuring, as CASE statements currently use homogenous typing rules, and I'm not sure I see where it is needed. I'm also not sure what you mean by "equality tests are are always possible between heteroge

[2016-06-22 22:49] tschottdorf commented on #7389
Looking at 903 on rho1 (which panic'ed with `panic: [group 903] entries[1:632) is unavailable from storage`).

From `sudo ./cockroach.race debug keys /mnt/data/ --from=$(echo -n -e '\x01i\xf7\x03\x87') --to=$(echo -n -e '\x01i\xf7\x03\x87\xff') --raw --values | less -S` I can see that

* the Raft log starts at 667, with a consistent TruncatedState (`index:666 term:23122`)
* HardState `{Term:23255

[2016-06-22 22:59] tschottdorf commented on #7389
The precise location which I think causes trouble is

https://github.com/cockroachdb/cockroach/pull/7310/files#diff-2967750a9f426e20041d924947ff1d46L255

As mentioned before, the ranges we were looking at barely held any data. In particular, there's nothing really that ever touched them, and there was no need to truncate the logs. As a result, no `TruncatedState` was ever written. However, the tru

[2016-06-22 23:25] #7410 closed

[2016-06-23 00:26] petermattis commented on #2656
@rhauch Thanks for your thoughts. A complexity with providing some sort of feed or log of changes in a CockroachDB is that not only is there not a single log, there are an unbounded number of logs. Specifically, transactions are allowed to span arbitrary "ranges" where each range is ~64MB in size. Each range has a log of KV operations performed upon it and as the ranges grow they split. Ignoring t

[2016-06-23 02:51] rhauch commented on #2656
This is a bit easier to address. If a logical change stream mechanism is targeted for clients, then it's likely to be more easily used if the mechanism expose the events at the SQL row level, since that's also the level at which they are logically/conceptually operating. (There may be value in composing events at the lower-level KV changes, such as providing continual updates for backups, etc. Giv

[2016-06-23 03:31] glycerine opened #7418 "doc: docker -d instructions out of date"
using centos 7.2 on linux amd64 at digital ocean
yum install docker gave me docker 1.9.1 (which was released 2015-11-21, latest version of docker is 1.11.2 from last month)

The docker instructions https://www.cockroachlabs.com/docs/install-cockroachdb.html under "User docker" suggest using "sudo docker -d &". However the docker startup message indicates that this is deprecated and will cease to f

[2016-06-23 03:39] tschottdorf opened #7419 "circleci: failed tests: TestDockerReadWriteForwardReferenceVersion"
The following test appears to have failed:

[#19507](https://circleci.com/gh/cockroachdb/cockroach/19507):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-23 04:38] mberhault opened #7420 "stress: failed test in cockroach/gossip/gossip.test: TestGossipCullNetwork"
Binary: cockroach/static-tests.tar.gz sha: https://github.com/cockroachdb/cockroach/commits/98b3b278189aa42b4f24dcfad09e3d4f980defdc

Stress build found a failed test:

[code]

Run Details:

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-23 05:32] tamird commented on #7420
#7354

[2016-06-23 05:32] #7420 closed

[2016-06-23 05:33] #7394 closed

[2016-06-23 12:33] petermattis commented on #2656
Each node does maintain a log of KV operations, but this log is also GC'd fairly aggressively. We also need to be aware of the complexity that replication causes. Replication is performed at the range level, not the node level, so a naive stream of KV operations from each node would contain 3 copies of each operation. Translating the KV operations back to SQL operations is possible, though a bit o

[2016-06-23 12:36] omgj opened #7422 "Closed: CAP theorem"
I thought this was an unsolved problem, you guys have solved it?

[2016-06-23 12:44] tschottdorf commented on #7422
No, CockroachDB is a CP system. A majority of replicas need to be up for
the corresponding data to be available.

On Thu, Jun 23, 2016, 08:36 omgj <notifications@github.com> wrote:

--

-- Tobias

[2016-06-23 13:28] #7422 closed

[2016-06-23 13:45] petermattis opened #7423 "storage: rejecting command with timestamp in the future"
Running `block_writer` against a local 3-node cluster started using `roachdemo`, I saw this error message:

[code]

See also #4421 which relates to being more principled about what errors we leak to the client. This issue is concerned with why this error occurred in the first place given that both `block_writer` and the 3 `cockroach` nodes were all running on the same system.

Attached are the log

[2016-06-23 14:14] tamird commented on #7386
Fixed in #7404.

[2016-06-23 14:14] #7386 closed

[2016-06-23 14:25] rhauch commented on #2656
@petermattis, I understand other features have priority, so thanks for spending the time to think about and discuss this.

Are the KV changes applied by each node _committed_, or might they also include some intents? If committed, then capturing the KV changes is interesting. First, having 3 copies of each operation is actually not a bad thing, since it always can be filtered out later. Secondly,

[2016-06-23 14:50] tschottdorf commented on #7389
I'm going to whip up a "migration strategy" (it's a bit silly: going to have to synthesize a TruncatedState for those Raft groups which don't have one at startup before the corresponding Replica becomes active. The TruncatedState is part of the replicated state, but it should work out fine to write it on each individual replica, as we always overwrite this value blindly in case of a truncation bei

[2016-06-23 14:53] tamird commented on #7389
This migration strategy should be able to salvage the currently borked beta
cluster, correct?

On Thu, Jun 23, 2016 at 10:50 AM, Tobias Schottdorf <
notifications@github.com> wrote:

[2016-06-23 14:55] tschottdorf commented on #6107
BTW, take a look at @d4l3k's recent PR #7399. Effectively this adds a measure of node-to-node connection liveliness to `rpcContext`. You could imagine that replacing actual heartbeats (similar to the Gossip idea above, but more directly tied to node-to-node communication), by sending heartbeats to those Raft groups which claim to follow a leader on the healthy node. It doesn't quite pan out that w

[2016-06-23 14:56] tschottdorf commented on #7389
I thought `beta` was borked on unrelated bugs. But yes, this will hopefully salvage `rho` and `gamma` (though they are possibly too fried at this point; who knows) and allow us to release a beta version.

[2016-06-23 15:30] knz commented on #7414
The following query:

[code]

Fails with:

[code]

So the rule I have in mind is:

- all WHEN clauses must be homogeneous (hard requirement)
- all THEN/ELSE clauses must be homogeneous (hard requirement)
- (WHEN and THEN types are independent, obviously)
- the CASE clause (1st expression) is typed separately, should be
homogeneous with WHEN, however if the CASE type does not match with
WHEN, but b

[2016-06-23 15:33] petermattis commented on #6107
@tschottdorf I had a similar idea yesterday. It seems possible to leverage the `rpc` heartbeats to coalesce (or eliminate) the Raft level heartbeats. We'd have to increase the `rpc` heartbeat frequency, but that's better than having each range heartbeat every 100ms. As you and Arjun both point out there are complexities, but it seems doable.

[2016-06-23 16:03] tschottdorf opened #7428 "cli: cockroach start: concurrent map writes"
This happened out of the blue once, but no more. On my WIP on top of 4839ef but I don't think it was caused by work in there.

[code]

[2016-06-23 16:08] petermattis commented on #7428
`util/envutil` is thread-safe. I think the original expectation was that it would only be used during initialization, but clearly that is being violated now.

[2016-06-23 16:18] petermattis commented on #7280
@cuongdo Assigning because this is likely related to the performance degradation we see with the `photos` app.  Also see https://github.com/petermattis/cockroach/tree/pmattis/rocksdb-tuning where I started experimenting with various RocksDB tunables. That branch also contains @bronze1man's tool (https://github.com/petermattis/cockroach/blob/pmattis/rocksdb-tuning/tester/main.go) stripped of extern

[2016-06-23 16:21] d4l3k opened #7430 "client: remove dependency on (*grpc.ClientConn).State()"
grpc-go has removed the `(*grpc.ClientConn).State()` function which we use for detection when a connection is down/ready to be used. We should probably remove all uses of this function so we no longer have to depend on an old version of grpc-go.

Related to grpc/grpc-go#690.

https://github.com/cockroachdb/cockroach/blob/master/client/rpc_sender.go#L55:L63

We removed the other use in #7399.

[2016-06-23 16:36] petermattis commented on #6347
Fixed by #6611.

[2016-06-23 16:36] #6347 closed

[2016-06-23 19:38] nvanbenschoten commented on #7331
The issue that we're seeing here is that the type checker is not recognizing `($1)` as a placeholder because it sees a non-placeholder expression and therefore concludes that that expression can be type checked in isolation. The same problem would be seen with the query `SELECT a FROM d.t WHERE a > (((($1))));`. The two solutions I see are either to add a little bit to our pre-type checking expres

[2016-06-23 19:47] mjibson commented on #7331
Why aren't `(a)` and `($1)` getting typed as 1-element tuples?

[2016-06-23 19:49] petermattis commented on #7331
I think `(a)` is a parenthesized expression. `ROW (a)` is a 1-element tuple.

[2016-06-23 19:50] mjibson commented on #7331
Ahh yes. https://www.cockroachlabs.com/docs/sql-grammar.html#explicit_row

[2016-06-23 19:56] petermattis commented on #7169
#7404 Introduced a `Replica.mu.destroyed` field which prevents Raft usage after `Replica.Destroy` has been called. Is there something else to be done here?

[2016-06-23 20:47] dt opened #7441 "acceptance/examples: update nodejs example to use latest driver version's suggestion connection methods"
Current nodjs examples and acceptance tests use `pg.connect` which the latest release of the `pg` node driver say will be deprecated: https://github.com/brianc/node-postgres/blob/master/CHANGELOG.md#v600

We should also probably be careful to specify driver versions we tested with on these.

[2016-06-23 20:55] mjibson opened #7442 "cli: mishandling of multiline sql statements"
Our "end of statement" detection is just to look for a semicolon at the end of a line. It's not smart enough to know if we have, say, an open multi-line string:

[code]

Similar for the `\` commands:

[code]

[2016-06-23 21:04] mjibson commented on #7442
See #4233 for more.

[2016-06-23 21:09] #7442 closed

[2016-06-23 21:30] tschottdorf opened #7444 "circleci: failed tests: TestEagerReplication"
The following test appears to have failed:

[#19561](https://circleci.com/gh/cockroachdb/cockroach/19561):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-23 21:31] bdarnell commented on #4473
As a starting point, maybeSetCorrupt should at minimum set a persistent flag. Replicas flagged as corrupt should not try to obtain a lease and all raft operations should be silently dropped (both incoming and outgoing messages). We also need to ensure that the replicas are moved to other nodes. We might want to gossip something so that other nodes can see, but it's tricky because we don't want to

[2016-06-23 21:42] tschottdorf commented on #4473
Peter just introduced a "replica destroyed" error which blocks it from
operating. At the very least, that should hold a corruption error (plus
everything Ben said).

On Thu, Jun 23, 2016 at 5:31 PM Ben Darnell <notifications@github.com>
wrote:

--

-- Tobias

[2016-06-23 21:51] tschottdorf opened #7445 "circleci: failed tests: TestEagerReplication"
The following test appears to have failed:

[#19564](https://circleci.com/gh/cockroachdb/cockroach/19564):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-23 23:40] knz opened #7449 "circleci: failed test (data race): TestTxnDeadline"
Found in https://circleci.com/gh/cockroachdb/cockroach/19571

[code]

[2016-06-24 00:36] tschottdorf opened #7450 "sql: TestMultinodeCockroach is flaky"
See https://circleci.com/gh/cockroachdb/cockroach/19574

(no issue is created since the error message is too long; will look into that)

[2016-06-24 00:38] tschottdorf commented on #7450
It failed 3x today. I'm going to send a PR disabling it.
PS it's always good to subscribe to the CircleCI master builds.

[2016-06-24 01:11] tschottdorf commented on #7445
#7444

[2016-06-24 01:11] #7445 closed

[2016-06-24 01:22] petermattis commented on #7444
Easily reproducible with `make stress PKG=./storage TESTS=TestEagerReplication`.

[2016-06-24 01:49] tschottdorf opened #7454 "storage: investigate Raft campaign time on splits"
I think @d4l3k observed that the initial setup of the right-hand side Raft group still takes a bit of time (I think he mentioned order of hundreds of ms, though I'm not sure). There might be something to win here.

[2016-06-24 01:54] tschottdorf opened #7456 "circleci: failed tests: TestEagerReplication"
The following test appears to have failed:

[#19578](https://circleci.com/gh/cockroachdb/cockroach/19578):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-24 01:56] petermattis commented on #7456
Duplicate of #7444.

[2016-06-24 01:56] #7456 closed

[2016-06-24 02:04] #7449 closed

[2016-06-24 02:10] tschottdorf opened #7457 "storage: TestReplicaDestroy highlights issues with marking replicas gc'ed"
[code]

This error makes a lot of sense with our recent changes. We've made sure that nobody gets to use Raft any more, but now we're returning errors in code paths that don't expect errors at all (because they assume Raft "always just works"). Clearly we need an audit and more graceful handling in all those paths (at least for a sentinel-error-version of the above error).

[2016-06-24 02:17] petermattis commented on #7457
I just noticed this panic today myself. If `handleRaftReady` can't return an error with panicing, why is it returning an error?

There is a similar panic in `replica_command.go:Replica.splitTrigger`.

[2016-06-24 02:28] tschottdorf commented on #7457
I don't think there are any good reasons other than bad error handling that far down in the stack, because historically all of these errors were pretty much end of the world. This one clearly isn't, and it's a first one at that.

[2016-06-24 02:33] #7444 closed

[2016-06-24 02:50] tschottdorf opened #7458 "circleci: failed tests: TestReplicateRogueRemovedNode"
The following test appears to have failed:

[#19582](https://circleci.com/gh/cockroachdb/cockroach/19582):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-24 04:01] tschottdorf commented on #7395
Another one here: https://circleci.com/gh/tschottdorf/cockroach/2374
Fails pretty regularly.

[2016-06-24 04:34] tschottdorf commented on #7457
I'm disabling this test in #7429 since it's repeatedly blocked my fork's builds.

[2016-06-24 06:43] bronze1man commented on #7280
Thanks. @petermattis
I think the qps is not stable,when the data set is bigger than 1.5*total memory.
I used to see 1500 qps When the data set is under 17GB.

Your testing machine should be better than mine.

[2016-06-24 07:01] bronze1man commented on #7280
The cockroachdb likes to crash because of out of memory.
I do not test the cockroachdb and use mysql right now.

[2016-06-24 11:10] knz opened #7461 "cli/init: client commands parse system tables unnecessarily during initialization"
All cli commands cause system table descriptors to be created.

How this was found: a logging message in sql/parser/parse.go. This gives:

[code]

The stack trace gives:

[code]

[2016-06-24 11:11] knz commented on #7461
cc @petermattis this is what I was referring to yesterday.

[2016-06-24 12:09] petermattis commented on #7457
Sure, go ahead and disable. I'm taking a look this morning.

[2016-06-24 12:27] petermattis commented on #7461
@knz Yes, we parse the system table schemas even when we're not starting the server. This is wasteful of cpu, but otherwise harmless.

[2016-06-24 12:35] petermattis opened #7462 "kv: TestOwnNodeCertain goroutine leak"
[code]

[2016-06-24 15:17] petermattis commented on #7372
There are two additional problems here. After applying a preemptive snapshot a subsequent raft message will arrive for the replica and we'll go to create the raft group. This creation panics with the following error:

[code]

This panic is caused because committed is initialized from `Replica.FirstIndex` and `Replica.InitialState().Committed`. But snapshots do not contain the raft hard state which

[2016-06-24 16:50] petermattis commented on #7372
When raft performs the processing of a snapshot, it calls `raft.restore()` to "recover the state machine from a snapshot". We're not accessing that code path when trying to create a raft group from a preemptive snapshot, hence the panic. I'm not sure what to do here. Supporting preemptive snapshots might require upstream changes to `coreos/etcd/raft`.

Synthesizing a fake raft hard state might als

[2016-06-24 17:26] petermattis commented on #7372
Ah, I think we need to call `writeInitialState` when applying a preemptive snapshot.

[2016-06-24 17:57] knz opened #7467 "prod: create rules to automatically build packages for common distributions"
CockroachDB probably ought to get packages for common Linux/BSD distributions. We could value support for:
- building debian/ubuntu .deb packages;
- building centos/redhat .rpm packages;
- a BSD port;
- homebrew/macports build rules;
- if windows compatibility ever becomes a thing, a windows installer.

[2016-06-24 18:01] #7305 closed

[2016-06-24 18:11] tschottdorf opened #7469 "circleci: failed tests: TestVet"
The following test appears to have failed:

[#19602](https://circleci.com/gh/cockroachdb/cockroach/19602):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-24 18:17] tamird commented on #7469
Looks like merge skew.

[2016-06-24 18:28] vivekmenezes commented on #7469
Yeah, just ran make check locally and it seems fine.

[2016-06-24 18:28] #7469 closed

[2016-06-24 19:09] andreimatei commented on #7348
I couldn't manage to reproduce this. @idsj would you mind confirming you're running a recent build of cockroach? When you launch it with `./cockroach start`, there should be a line in the log (or console, if you specify `--logtostderr`) like
[code]

Also, can you confirm that the `DROP` statement takes a noticeable time to execute (a few secs)?

Also also would you mind trying to reproduce it usin

[2016-06-24 19:13] #7428 closed

[2016-06-24 20:35] andreimatei commented on #7450
I've rewritten this code. Didn't really look what caused the timeout before, but I've stressraced it a bunch and seems to be going strong so 🙏

[2016-06-24 21:43] jordanlewis commented on #7407
Currently experimenting with a self-hosted TeamCity instance which satisfies most of these requirements.  There's a instance available at http://teamcity.cockroachdb.com. Guest login is currently turned on but registration is not.

[2016-06-24 22:10] tschottdorf commented on #7450
Doesn't @WillHaack completely rewrite this code in his PR right now? Why would you try to fix it out from under him?

[2016-06-25 07:38] glycerine opened #7470 "killed and restarted, cockroach hangs forever or looses a database"
On linux/amd64 Centos7.2 [digital ocean, 512MB droplet] with cockroach version: that fetched with
wget https://binaries.cockroachdb.com/cockroach-beta-20160616.linux-amd64.tgz

1. Please supply the header (i.e. the first few lines) of your most recent log file
[code]
   When log files are not available, supply the output of `cockroach version`
   and all flags/environment variables passed to `cock

[2016-06-25 08:03] glycerine commented on #7470
To try and reproduce this, I started over from scratch, renaming away the cockroach-data directory. Still only running one database node. This time after I kill -9 the server and bring it back up again, the client connects to the server, but the server has forgotten the database "bank" that I had created.

Severe data loss detected; the entire database is gone this time.

[code]

[2016-06-25 08:07] glycerine commented on #7470
attaching the cockroach-data directory from the 2nd round discussed in the comment above.
[cockroach-data.database-gone.tar.gz](https://github.com/cockroachdb/cockroach/files/332944/cockroach-data.database-gone.tar.gz)

[2016-06-25 19:47] glycerine commented on #7470
I suspected/checked digital oceans hardware... running Brad Fitzpatrick's diskchecker ( http://brad.livejournal.com/2116715.html ) seems to indicate that fsync is working as advertised. So this does indeed appear to be a real cockroachdb bug.

[code]

[2016-06-25 20:10] mberhault commented on #7470
It seems that you are reporting two issues here.
* `cockroach sql --host=cr1` just sits there. If `cr1` is not an alias for `localhost`, you need to specify `--insecure` on the `cockroach sql` command as well, or the URL listed in the stdout output of the `start` command (eg: `cockroach sql --url='postgresql://root@cr1:26257?sslmode=disable'` which is the equivalent of running `cockroach sql --hos

[2016-06-25 20:31] glycerine commented on #7470
Hi @mberhault, thanks for clarifying that --insecure is needed symmetrically, that does indeed let me connect, fixing the first issue. On the second, multiple rounds of kill -9 followed by restart of the database and using --insecure and --host=cr1  on both: they don't seem to make things disappear once I have that going, it looks clean. So I think we can mark it both these up to user error on my

[2016-06-25 20:34] #7470 closed

[2016-06-25 21:27] glycerine opened #7472 "logs FATAL and ERROR show activity upon 3rd node joining cluster"
* I started 1 cockroach node on cr1, and added some data to it. I killed it and restarted it to stress it, confirming that data was present afterwards. It seemed fine.
* I started a 2nd node, on cr2, joining it to the cluster.  I check the logs, no goroutine crashes at this point.
* After I started a 3rd node, a check of the error and fatal logs revealed activity that seems to be of some concern -

[2016-06-25 21:29] glycerine commented on #7472
Attaching the full data directories, in case this is of help:
[data-dirs.3nodes.tar.gz](https://github.com/cockroachdb/cockroach/files/333296/data-dirs.3nodes.tar.gz)

[2016-06-25 21:42] tschottdorf commented on #7472
Hi Jason,

from the logs I see that only one cluster was initialized:

[code]

but the error message mentions a cluster `df6a16ff-ece4-4faf-83d5-3669e3861573`.

Were you perhaps running a node from a previous test cluster concurrently with the new one, so that they may have cross-joined? (Accidentally) linking together two separate clusters is what is indicated in the error message.

[2016-06-25 22:08] glycerine commented on #7472
Hi Tobias,

Well drat. That does seem to point to user error on my part. Sorry about that.

I tried it again, deleting the data directories first. I only get a "failed to send Raft snapshot to node 3" upon joining the 3rd node in.  I guess this might be expected?

[code]

[2016-06-25 22:14] tschottdorf commented on #7472
No worries.
Yes, that snapshot error may happen occasionally, though I would not have expected it on an empty cluster.

[2016-06-25 22:16] glycerine commented on #7472
Well I had made a database, a table, and a single row.

[2016-06-25 22:23] glycerine commented on #7472
Closing this out.

[2016-06-25 22:23] #7472 closed

[2016-06-25 22:26] tschottdorf commented on #7472
Thanks Jason. Even with a single table single row that's a bit surprising, but I think it might be #7372. When that is fixed, I would expect that error only for large datasets during heavy rebalances.

[2016-06-25 23:32] glycerine opened #7474 "admin UI is a security hole: propose --http-addr to secure the admin UI"
In beta-20160616:

I'm setting up a secure cluster. The nodes are running on a public cloud, so they are using publicly accessible IP addresses to communicate.

I see that the Admin UI is then also listening on the public IP address, which means that:

a) reads are visible: anyone in the world can read status of my cluster, not good.
b) potential writes to the admin web UI increase the attack surf

[2016-06-26 00:28] mberhault commented on #7474
That's one solution. The other we plan on doing for 1.0 is to have proper security on the admin UI. This would be password-based authentication + cookie-based sessions and the usual cross-site-scripting prevention stuff.
Of course, that would not be so safe with `--insecure`, but the whole cluster in insecure at that point anyway.

[2016-06-26 00:47] glycerine commented on #7474
Hi Marc,
Thanks for letting me know about the plan.
Jason

[2016-06-26 02:33] yaojingguo opened #7476 "docs: c-protobuf can't be compiled with g++5.3"
In the root project directory,  executing `make` produces the following c-protobuf compile error:

[code]

I am using g++ 5.3.0 on Ubuntu 14.04.

[c-protobuf's circle.yml](https://github.com/cockroachdb/c-protobuf/blob/master/circle.yml) uses g++-6:

[code]

But [CONTRIBUTING.md](https://github.com/cockroachdb/cockroach/blob/master/CONTRIBUTING.md) says:

After g++ is upgraded to 6.1.1, the c-prot

[2016-06-26 08:36] glycerine commented on #7474
I implemented #7475, which is complimentary to full-on login/password future planned work that Marc mentioned. It also would let me proceed today with serious testing and evaluation. @mberhault if you or the person most appropriate could review this for me, I would appreciate it.

Thank you.

Jason

[2016-06-26 10:35] glycerine opened #7477 "build: acceptance tests crash with "/usr/bin/ld: .eh_frame_hdr table[1703] FDE at 00000000022c9538 overlaps table[1704] FDE at 00000000022d0548.""
I've tried to run the acceptance tests with "make acceptance" under Centos7.2, under Debian8.5, and under Ubuntu14.04. In all three cases, the "make acceptance" attempt crashes with a complaint about c++ exception handling frames. I strongly suspect this has something to do with the https://hub.docker.com/r/cockroachdb/builder/  image itself, because "make install" under Debian8.5 would do the exa

[2016-06-26 10:44] glycerine commented on #7477
According to https://sourceware.org/bugzilla/show_bug.cgi?id=17447, an upgrade to a recent binutils may fix the issue. Thanks to kena for pointing this out.

[2016-06-26 17:20] FarYoung opened #7478 "cannot delete table struct"
While I wanna to delete the users table, data deleted but table struct still there!
And also cannot drop dabatase.

root@192.168.100.3:26257> DROP TABLE neo_test.users;
pq: table "users" has been deleted

root@192.168.100.3:26257> SHOW TABLES FROM neo_test;
+------------+
|   Table    |
+------------+
| users      |
+------------+

root@192.168.100.3:26257> SELECT * FROM neo_test.users;
pq: table

[2016-06-27 01:32] tschottdorf opened #7480 "circleci: failed tests: TestClusterRecovery"
The following test appears to have failed:

[#19628](https://circleci.com/gh/cockroachdb/cockroach/19628):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-27 08:56] idsj commented on #7348
@andreimatei
i use the beta-20160616 version.The version message is as follow：
Build Tag:   beta-20160616
Build Time:  2016/06/16 16:51:45
Platform:    linux amd64
Go Version:  go1.6.2
C Compiler:  gcc 4.9.2

yes,it execute a few seconds.

Did you reproduce it using the cluster with VM? It did not happen in VM environment,i have done too. It happened in the physical machine environment.

[2016-06-27 12:45] FarYoung commented on #7478
I can drop the user1 table with the same create sql, but user not.

root@192.168.100.3:26257> SET DATABASE = neo_test;
SET
root@192.168.100.3:26257> SHOW TABLES FROM neo_test;
+------------+
|   Table    |
+------------+
| logon      |
| users      |
| users1     |
| warehouses |
+------------+
root@192.168.100.3:26257> DROP TABLE IF EXISTS neo_test.users;
pq: table "users" has been deleted
root@1

[2016-06-27 14:54] tschottdorf opened #7481 "circleci: failed tests:"
The following test appears to have failed:

[#19634](https://circleci.com/gh/cockroachdb/cockroach/19634):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-27 15:01] vivekmenezes commented on #7481
looks like something flaky. closing

[2016-06-27 15:01] #7481 closed

[2016-06-27 15:18] FarYoung commented on #7478
It's all seems ok while I rename the cockroach-data and restart the cockroachdb.
I will keep in testing and follow the issues.

thx your wonderful work.

[2016-06-27 15:27] andreimatei commented on #7348
OK, managed to repro using three nodes. Looking.

[2016-06-27 15:28] andreimatei commented on #7478
Something is funky with `DROP`s. See #7348.

[2016-06-27 15:43] tamird commented on #7476
I believe this is https://gcc.gnu.org/bugzilla/show_bug.cgi?id=48891. Do you think our docs should specifically call out this issue?

[2016-06-27 16:18] paperstreet commented on #7476
I vote yes. I was hitting this issue on the stock ubuntu-15-10 image on google cloud, which is the latest ubuntu they have

[2016-06-27 16:19] tamird commented on #7476
Ah, upon further reading I see that "GCC 4.9+" is explicitly called out. I'll fix that.

[2016-06-27 17:48] #7476 closed

[2016-06-27 17:48] #5531 closed

[2016-06-27 17:50] #7199 closed

[2016-06-27 17:59] petermattis commented on #2656
The KV changes applied by each node are "intents". Those "intents" do not become visible until the transaction is committed, which can occur on a different node.

Yes, the replicas of each operation can be filtered, but sending 3 times as much data will be a performance hit.

Transaction IDs are random (v4 UUIDs).

[2016-06-27 18:08] #7457 closed

[2016-06-27 18:36] tschottdorf opened #7488 "circleci: failed tests: TestReplicateRogueRemovedNode"
The following test appears to have failed:

[#19653](https://circleci.com/gh/cockroachdb/cockroach/19653):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-27 19:06] cuongdo opened #7489 "storage: intermittent up-replication stalls"
Build: 624c68b521cb00f162408a6935e77bf55901edaf

One way to reproduce this is to run the acceptance test `TestUpreplicate1to3Small`.

For example, my test cluster was stuck in this state for 2-3 minutes, well beyond any of the reservation timeouts we have.

<img width="1430" alt="screenshot 2016-06-27 14 58 27" src="https://cloud.githubusercontent.com/assets/1564582/16392016/d1375510-3c77-11e6-8f4

[2016-06-27 19:48] tamird commented on #7462
20k runs and no repro (my network stack died instead). closing.

[2016-06-27 20:07] petermattis commented on #7462
This was happening to me frequently this weekend. I'll try to reproduce for you again, but I'm 99% positive this is still a problem.

[2016-06-27 20:12] tamird commented on #7489
FWIW, I'm not sure those logged errors are relevant. From `storage/replica.go`:
[code]

[2016-06-27 20:13] petermattis commented on #7462
Gah. Not reproducing for me either right now. What the heck? I've seen this a dozen times over the past week.

[2016-06-27 20:14] tamird commented on #7462
Perhaps this is a fun interaction with another test?

[2016-06-27 20:19] tamird commented on #5743
2400 runs with a 2-second timeout and no failures. I guess the gremlins fixed this one.

[2016-06-27 20:19] #5743 closed

[2016-06-27 20:34] tschottdorf commented on #7462
If a goroutine from a previous test were to launch another goroutine (which
then leaked), then the goroutine leak would be blamed on the wrong test.
Not sure this is what's happening, just throwing one possible scenario out
there.

On Mon, Jun 27, 2016 at 4:14 PM Tamir Duberstein <notifications@github.com>
wrote:

--

-- Tobias

[2016-06-27 20:36] #7373 closed

[2016-06-27 20:43] tamird opened #7494 "rpc: implement grpc.Balancer"
[grpc.Balancer](https://godoc.org/google.golang.org/grpc#Balancer) is a neat abstraction that might be quite useful to us.

For instance, we could abstract away the idea of sending RPCs to a particular range leader. In addition, we could use the `Up()` method and its return `Down()` to implement evented health checking.

This abstraction also provides a method of culling old connections (`Notify()

[2016-06-27 20:55] #6319 closed

[2016-06-27 20:59] tamird opened #7495 "storage: DRY {client_,}range_tree_test.go"
Requested in #5839: these two files mostly test the same things at different levels - it'd be good to abstract over the backing storage and have a single test runner that exercises both.

Seems like a good starter task.

[2016-06-27 21:02] tamird commented on #3830
Updating this: windows cannot be supported with our current build system until https://github.com/golang/go/issues/14985 is resolved.

[2016-06-27 21:02] petermattis commented on #7495
Or we could remove the range tree code.

[2016-06-27 21:04] tamird commented on #7495
Yep, that's also an option, though we've had trouble reaching consensus on that in the past.

[2016-06-27 21:06] petermattis commented on #7495
The distsql folks should weigh in. @RaduBerinde @andreimatei do you have any intention to use the range tree code?

[2016-06-27 21:09] tschottdorf commented on #7489
No, they're not relevant (though a bit noisy). They just mean a Raft election or config change happened (so if they are all over the place for the same Raft group, it could be indicative of that group not managing to keep a leader alive).

Some other findings (looking at my 108gb 1-to-5 upreplication experiment which sees the same stalls):

[code]

This shouldn't happen - it's waiting on the error

[2016-06-27 21:09] #6963 closed

[2016-06-27 21:15] RaduBerinde commented on #7495
None that I know of - nothing I can think of that can't be done just as well from the meta range structures.

[2016-06-27 21:19] BramGruneir commented on #7495
I'll be unhappy if it's gone, but I'll kill it if there's no need for it.

[2016-06-27 21:21] tamird commented on #7489
Yikes, 220 minutes in that state? Looks like network shenanigans are not being handled. It's possible #7494 will help with this.

[2016-06-27 21:22] petermattis commented on #7495
FYI, here was the previous issue discussing this: https://github.com/cockroachdb/cockroach/issues/3739

[2016-06-27 21:23] tschottdorf commented on #7489
I should add that `220min` is also the total uptime of that process, so it lost it pretty early in.

[2016-06-27 21:28] tschottdorf commented on #7495
We have this discussion every couple of months. My reasoning for keeping
them around was "they don't hurt", but having this discussion and random
refactoring every now and then does hurt. I'm ok with removing the code.
We're very unlikely to use it for a while and once we do, chances are it
can be brought back easily.

On Mon, Jun 27, 2016 at 5:22 PM Peter Mattis <notifications@github.com>
wrote:

[2016-06-27 21:34] tschottdorf commented on #7489
Yeah, I think the leader lease command is stuck on a replica which has rebalanced away and doesn't know it. One pending command, permanent candidate state, lease expiration `6/27/2016, 10:06:33 AM GMT-4:00 DST`:

[code]

(from http://104.196.35.16:8080/_status/ranges/local)

It's conceivable that that would block the replicate queue (first pass rebalances it away, second pass gets stuck forever).

[2016-06-27 21:45] andreimatei commented on #7495
The range tree is used by this `lookupReplica` guy, right?
https://github.com/cockroachdb/cockroach/blob/553c0e82341c99bf0a3dc782f64dfbf213e72700/storage/stores.go#L198
That function is pretty useful in tests (for example through the `Stores.Send()` which uses it to fill in missing routing info).
Would we replace this somehow?

[2016-06-27 21:48] tamird commented on #7495
This is about `storage/range_tree.go`, which is not used anywhere (except `(*Replica).AdminSplit`, which maintains the range tree itself).

[2016-06-27 22:12] tschottdorf commented on #7489
btw @d4l3k, the Raft frontend picks this one up but doesn't show the descriptor for node1 (though it's still there, as copy-pasted above). Probably a small bug in the logic here.

<img width="1314" alt="screen shot 2016-06-27 at 6 09 07 pm" src="https://cloud.githubusercontent.com/assets/5076964/16397408/49d74466-3c92-11e6-8d6d-02b65eb60762.png">

[2016-06-27 22:20] tschottdorf commented on #7489
The GC queue was considering ranges regularly as it should (though not adding any, and I wasn't able to find that particular range in the events endpoint, likely because I didn't get lucky the 20x I tried)

[2016-06-27 23:23] tschottdorf commented on #7489
Oh. The ReplicaGCQueue uses a 10 days (!) timeout. That's (for that situation) crazy, given that we're going to get stuck here all the time. That might already be the root cause of the problem - maybe a smart heuristic can help if we don't want to turn that wayyy down: when we time out trying to get the leader lease, i.e. when the in-flight request's expiration passes, and the Raft group is in CAN

[2016-06-28 00:12] petermattis commented on #7495
The range tree code will be a year old come August without any usage.

[2016-06-28 04:50] #7331 closed

[2016-06-28 05:11] mjibson commented on #7334
Also, assuming my PR that lexes in the sql subcommand is merged:

- multi-line string literals with `\?` and `;` taking up an entire line
- changing syntax (modern, traditional) mid session: verify that the lexer correctly picks up the new syntax mode. Also need to make sure a `SET syntax = whatever` in the middle of a single line with multiple statements is picked up. That's harder because the SE

[2016-06-28 12:08] petermattis opened #7499 "sql: fix perf problems with DROP TABLE/INDEX"
`DROP {TABLE,INDEX}` both issue a single transactional `DelRange` operation to delete all of the table/index data. In large tables, this creates an extremely large transaction which has various performance problems (that should be fixed separately).

Since `DROP {TABLE,INDEX}` have already updated the table descriptor and other metadata to make the table/index unavailable, we should be able to use

[2016-06-28 13:24] petermattis commented on #7462
@tschottdorf Yep, tried running `make stress PKG=./kv`. Also tried checking out code from last week to reproduce. No failures. So I'm going to close this issue which will be a sure fire way to make it rear its ugly head again.

[2016-06-28 13:38] #4980 closed

[2016-06-28 14:14] vivekmenezes commented on #6665
@mberhault  I was planning on using user: NodeUser for the internal schema changes to the system tables. Is that okay? I have a hacked up version working that uses user: RootUser

[2016-06-28 14:44] tschottdorf commented on #7489
I'm working on a prototype to improve the situation here (using a heuristic to add replicas in candidate state to the queue more eagerly). It's important that we don't let the GC queue do too much work, but it is currently too lazy.

[2016-06-28 14:51] tschottdorf commented on #7499
Yes, that would be reasonable but is not trivial: we currently auto-wrap range-spanning operations in a transaction at the DistSender level (because we generally have to). It's worth allowing for something like that, though. The "trivial" solution is a flag on BatchRequest (or a special consistency mode, or we could even make `INCONSISTENT` mean that range ops are allowed to span ranges without re

[2016-06-28 14:55] tschottdorf commented on #2632
Closing for #627.

[2016-06-28 14:55] #2632 closed

[2016-06-28 14:59] andreimatei commented on #7499
I was thinking we'd wait for a distributed implementation of DROP at the SQL level; it should be trivial to parallelize, having each range clear itself non-transactionally (or one txn per range). This would avoid having to introduce any special KV support.

[2016-06-28 15:05] petermattis commented on #7499
Related, `TRUNCATE <table>` performs a `DelRange` on all of the table data. I wonder if we should turn `TRUNCATE` into a schema change operation.

FYI, see #2003 which is related to (or a dup of) this issue.

[2016-06-28 15:06] tschottdorf opened #7501 "circleci: failed tests: TestDockerReadWriteForwardReferenceVersion"
The following test appears to have failed:

[#19681](https://circleci.com/gh/cockroachdb/cockroach/19681):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-28 15:07] cuongdo commented on #7280
@bronze1man: Sorry to hear that but thanks for providing the information that you have. I'm starting to look at it.

[2016-06-28 15:10] tschottdorf commented on #627
Now that we have SQL and dropping tables issues `DeleteRange` on large swaths of keyspace, this is becoming relevant again. In the above scenario, the following could happen:

* Transactional `DeleteRange` hits a whole range and creates (say) 10k intents
* Later, it has to abort - the intents remain
* The new incarnation of the transaction tries to perform the same `DeleteRange` again.
* On the fi

[2016-06-28 15:14] petermattis commented on #7499
@tschottdorf Can we really avoid using MVCC when dropping index/table data? How would that interact with time-travel queries?

[2016-06-28 15:17] tschottdorf commented on #7499
Ah, forgot about those. Yes, we need to keep that for time-travel queries.

What's also potentially interesting is that we didn't really need to actively delete the data if we could instead set a TTL and the GC queue would toss out the data over time, as permitted by time travel considerations. So if TTLs are anywhere on our roadmap, that's worth a thought.

[2016-06-28 15:20] tschottdorf commented on #7499
Regardless of how we go about it, we should also figure out why the intents aren't proactively resolved. In an idea world, the intent range is attached to `EndTransaction` by TxnCoordSender and used even when the aborting `EndTransaction` isn't valid any more. This is better since a single `ResolveIntentRange` can clear out the whole swath of keyspace we're otherwise running into one by one. Worth

[2016-06-28 15:25] danhhz opened #7502 "sql: column family assignment cannot be changed after column creation"
There's no fundamental reason we can't add something like `ALTER TABLE foo ALTER COLUMN bar FAMILY baz`, it'll just have to be added to the schema change code. Something like:
- Mark column as write-only in new group.
- Write column to both old and new groups for queries, reading it only from old group.
- Backfill column data to new group.
- Remove column from old group, mark readable in new group

[2016-06-28 15:26] tschottdorf opened #7503 "storage: measure/optimize intent resolution"
When operations on a Range encounter intents which they manage to push (see also #627), they propose `ResolveIntent` operations to Raft (which in turn either proposes them directly, or relays to the leader).

It's wasteful to propose individual commands like that, especially if there are a lot of them. There are two immediate optimizations that come to mind:
- bundle various intent resolutions int

[2016-06-28 15:30] petermattis commented on #7499
Allowing dropped table and index data to be deleted asynchronously by the GC queue is certainly attractive, though (as mentioned in #2003) we have to consider how that will eventually interact with accounting.

Not exactly sure what you're envisioning for TTLs. I think we could enhance the GC queue so that it could determine when a range of data was deleted. For example, if `TableDescriptor` had a

[2016-06-28 15:36] tschottdorf commented on #7499
I'm not envisioning anything for TTLs right now, but it has been requested a bunch of times and if we were to entertain it, then there would be an elegant way to remove old tables as they go out of scope by means of the GCQueue (which would be nice because that's also the safeguard of time travel queries).
Hauling the GC queue up to a SQL level seems like a project I'm not sure is worth it.

I thi

[2016-06-28 15:37] BramGruneir commented on #7495
The only complication with removing it, is we would need a data migration to remove it.

[2016-06-28 15:45] petermattis commented on #7499
No need to haul the GC queue up to the SQL level in order to give it knowledge of keys. For example, we could add hooks to the GC queue which the SQL level could hook into: given a span of keys, return a list of spans with corresponding deletion timestamps.

[2016-06-28 15:46] petermattis commented on #7495
@BramGruneir Why would you need a data migration? We can leave the old structures in place and stop updating them.

[2016-06-28 15:49] BramGruneir commented on #7495
Yeah, we just had that discussion.  It would be a badge of honour if your cluster still had some of the range tree in it.

[2016-06-28 16:13] vivekmenezes commented on #7502
I think this is very much like adding a new column, so you also need to start the new column in the DELETE_ONLY state before putting it in the WRITE_ONLY state (to guarantee that when you've started writing to the new column, all nodes are capable of deleting column values from the new group).

This should definitely be pushed to a later milestone. Thanks

[2016-06-28 16:29] vivekmenezes commented on #7499
@petermattis not sure what you had in mind. Another approach creates a new system table holding all the key spans that have been deleted.

[2016-06-28 16:49] maxlang commented on #3342
Doesn't look like we use this anymore - @tamird is using the latest protobuf.js

[2016-06-28 16:52] maxlang commented on #4849
I think we can consider this closed thanks to @tamird

[2016-06-28 16:52] #4849 closed

[2016-06-28 16:53] tamird commented on #4849
For posterity, this was fixed in #7178.

[2016-06-28 16:55] tamird commented on #3342
Fixed in #4976.

[2016-06-28 16:55] #3342 closed

[2016-06-28 16:56] maxlang commented on #6616
@tamird @mrtracy can you enumerate the hacks?

[2016-06-28 17:00] tamird commented on #6616
I don't think it's necessary to enumerate the hacks. Looking ahead slightly, I have a branch in which I use `protoc --js_out` to generate CommonJS which includes JsDoc comments, instead of the current mix of tools.

It's also my understanding that typescript@next supports importing javascript without definition files, and also pulling type information from JsDoc comments. My current understanding

[2016-06-28 17:08] vivekmenezes commented on #7499
Talk to peter, the API will given a span of keys will return spans with corresponding deletion timestamps. The implementation will identify all table ids that fit within the span provided, and check if those tables or indexes within have been deleted.

[2016-06-28 17:18] dt opened #7508 "sql: [micro-rfc] schema changes that need to make schema changes are difficult"
Some schema changes require *related* changes to multiple tables, for example, since a foreign key relationship requires that both the referencing and the referenced table are aware of the relationship, adding a foreign key between two tables involves adding pointers to each other to *both* table descriptors.

Currently a schema change operates on a single table.

Correctly handling something like

[2016-06-28 17:20] dt commented on #7508
This could be simplified by extending a schema change to include atomic alterations to multiple table descriptors in the same change. The easiest way to implement that would likely be simply embedding all the existing table descriptor structures into a single document (likely the db descriptor), so that the whole document can be changed at once, and one can be assured that one has *all* tables for

[2016-06-28 17:20] tamird commented on #7508
Won't that require a move to F1-style whole-schema leasing? Not that I'm opposed, just clarifying.

[2016-06-28 17:22] dt commented on #7508
Yep, whole _db_ schema leasing is what i'm proposing.

[2016-06-28 17:42] tschottdorf commented on #7499
That's possible, as is a special RPC that marks the whole range for deletion (in which case the gc will pick it up at high priority). I'd avoid upcalling to SQL because that would require KV, and it's good to minimize that (on top of being a little intransparent). Let's not get sidetracked on this GC issue.

[2016-06-28 19:47] maxlang commented on #6616
Gotcha. I'll assign to you for now.

[2016-06-28 23:00] RaduBerinde opened #7513 "build/builder.sh go generate ./... doesn't call glock, errors out"
`make protobuf` hits this error:
[code]

It works if I make this change to `proto2ts`:
[code]

This is on a Debian 8.1.

By the way, I had to install `npm` and `nodejs-legacy` (the latter wasn't easy to identify..). These should be added to the prerequisites in CONTRIBUTING.md

@tamird

[2016-06-28 23:14] RaduBerinde commented on #7513
My bad - CONTRIBUTING.md mentions this and has instructions for running go generate. I will try that (I was used to just running `make protobuf`).

[2016-06-28 23:32] RaduBerinde commented on #7513
Not much luck running `build/builder.sh go generate ./...` either:

[code]
I do have protoc and stringer in my go bin dir:
[code]

[2016-06-29 01:18] tamird commented on #7513
The first error you hit is because your node version is absolutely ancient. We should add to our docs that node v6.1+ or whatever is current is required.

The second error you posted looks like two separate issues:
1. you're missing protoc and stringer *inside the build container*. what does `build/builder.sh echo $PATH` print?
1. you say you have protoc and stringer in $GOPATH/bin, but is that in

[2016-06-29 01:36] nvanbenschoten opened #7515 "sql: Support Postgres-like regexp match operators"
See https://www.postgresql.org/docs/9.0/static/functions-matching.html#FUNCTIONS-POSIX-REGEXP.

In addition to querying for unsupported catalogs (`pg_catalog`, `pg_class`), Hibernate and its use of the Postgres JDBC issues a few queries which contain Postgres-specific regular expression match operators. While it looks like the ORM is actually handling the missing table errors fairly well, the pars

[2016-06-29 01:50] RaduBerinde commented on #7513
PATH is ok:
[code]

I am not sure what gets populated inside the container and what doesn't. Looks like the contents of /go/bin aren't there:

[code]

[2016-06-29 01:51] tamird commented on #7513
From the repo root, try `rm .bootstrap && build/builder.sh go generate ./...`

[2016-06-29 01:54] RaduBerinde commented on #7513
Same as above.
Looks like `build/builder.sh` is trying to map `/go/bin/` to the contents of `/go/bin/linux_amd64`:
`--volume="${gopath0}/bin/linux_amd64:/go/bin" `

I don't have `linux_amd64` inside my `/go/bin`..

[2016-06-29 01:56] tamird commented on #7513
Shouldn't matter. For some reason `go generate ./...` isn't running `glock sync` inside the container for you, which is the reason that you're missing those binaries (inside the container).

[2016-06-29 02:04] RaduBerinde commented on #7513
As for the npm version, it looks like even the most recent Debian release has this version. I wonder why
https://packages.debian.org/search?keywords=npm

[2016-06-29 02:05] tamird commented on #7513
https://github.com/cockroachdb/cockroach/blob/master/build/Dockerfile#L6

[2016-06-29 02:08] RaduBerinde commented on #7513
I was able to upgrade npm using itself haha (`npm install npm -g`)

[2016-06-29 02:11] tamird commented on #7513
Nice, but your node version is still ancient.

[2016-06-29 02:16] RaduBerinde commented on #7513
It was `npm` that was complaining, `make protobuf` works now locally. I will update node too just in case.

[2016-06-29 02:19] maxlang commented on #7513
I recommend using `n` to manage node versions.

https://github.com/tj/n

[2016-06-29 02:36] RaduBerinde commented on #7513
Going back to the build/builder.sh problem, through what mechanism is it supposed to call glock? The Dockerfile has `ENV SKIP_BOOTSTRAP=1` so we won't process the `.bootstrap` target in the Makefile

[code]

[2016-06-29 02:44] tamird commented on #7513
Hm, indeed, that's interesting. In CI we actually run `glock sync -n < GLOCKFILE` - I'm not sure at what point I ran that locally (I have these binaries in the container).

Sounds like you can just `go generate ./...` normally once you have reasonable node/npm versions, though.

[2016-06-29 02:57] RaduBerinde commented on #7513
I see. I didn't realize the changes in the container persist from one run to the next. I ran `build/builder.sh env SKIP_BOOTSTRAP=0 go generate ./...` and it ran glock and started building. After this I can run it without the `env` part.

Now it runs into `GitHub rate limit reached` but that's another story :)

I think we should either fix `builder.sh` to mount the go/bin dir correctly, or update

[2016-06-29 03:01] tamird commented on #7513
builder.sh does mount the go/bin dir correctly - see the comment at the bottom of the file.

I agree we should update CONTRIBUTING, I think it should say `build/builder.sh SKIP_BOOTSTRAP=0 go generate ./...`, though.

[2016-06-29 03:10] glycerine commented on #7477
@petermattis Perhaps "go test -c" could be used to completely build the tests on the host side, before ever running the test inside the container. It seems that the error comes from trying to compile c++ code inside docker, but perhaps compilation inside docker could be avoided completely?

[2016-06-29 12:09] petermattis commented on #7477
@glycerine Most of the developers use Mac OS X for development. The purpose of building within docker is so that we can build (and test) the linux binaries that are used in production settings. I bet the problem you're experiencing is a collision between the go pkg directory in your host environment and the one mapped into the builder container. On Mac OS X, host builds are completely separate fro

[2016-06-29 12:10] petermattis commented on #7515
I don't have any strong objection to supporting those operators. I'm curious what Hibernate does on MySQL.

[2016-06-29 13:13] RaduBerinde commented on #7513
I see. Thanks, I understand the bin stuff now (maybe the `linux_amd64` subdir should include the name docker or similar so it doesn't cause confusion on the host, though changing it might impact folks).

Sending out a PR to update CONTRIBUTING. We do need the `env` in the cmdline:
[code]

[2016-06-29 13:16] petermattis commented on #7513
Using a different `{bin,pkg}/linux_amd64` directory for `build/builder.sh` is exactly what I'm thinking of doing for #7477.

[2016-06-29 14:25] tschottdorf commented on #6974
Just checked again and the instructions still don't seem to cover it all. There are repeated references to `make debug` (I believe that refers to `make uidebug`) and I don't think I got the information above from the ui README. Seems like a trivial fix for someone who knows how it works.

[2016-06-29 14:34] tschottdorf commented on #7257
This can close, right?

[2016-06-29 14:35] petermattis commented on #7099
Is this still a problem?

[2016-06-29 14:35] petermattis commented on #7257
Yes.

[2016-06-29 14:35] #7257 closed

[2016-06-29 14:37] tschottdorf commented on #7018
This issue might have benefitted from @d4l3k's recent change #7399, at least for the performance drop (which was caused by round-robin meta lookups hitting the paused node),

[2016-06-29 14:39] jordanlewis commented on #7099
Yes, there is a bug in the retrying docker client that causes it to occasionally not cache images that it fetches with `pullImage`.

[2016-06-29 14:40] #5992 closed

[2016-06-29 14:41] tschottdorf commented on #5932
See #7290

[2016-06-29 14:41] #5932 closed

[2016-06-29 14:43] tschottdorf commented on #5279
Fixed in #7483.

[2016-06-29 14:43] #5279 closed

[2016-06-29 15:03] tschottdorf opened #7520 "storage: investigate/fix outgoing Raft message queues"
The Raft message queues in `(*storage.RaftTransport).Send` are problematic since they often overflow and, when they do, drop all of their queued messages. When outgoing traffic exceeds a certain threshold, this results in essentially *all* Raft traffic being dropped between the two involved nodes.

Increasing the outgoing send buffer size (from currently 500) only helps after many orders of magnit

[2016-06-29 15:08] petermattis commented on #7297
Yep, we only gossip the first range once per minute. See `Store.startGossip` and `Store.maybeGossipFirstRange`. We should be more aggressive about gossiping the first range when its descriptor changes.

@paperstreet Assigning to you per the discussion yesterday about distributing the stability work more widely.

[2016-06-29 15:10] petermattis commented on #7290
@nvanbenschoten You touched the MVCC stats code a little while back. Can you take a look at this? The easy reproduction makes me suspect we're doing something stupid.

[2016-06-29 15:13] petermattis commented on #5789
Per #7507, this is higher priority than initially suspected. @tamird is there a plan of action here? Or do we need to brainstorm on the approach to take?

[2016-06-29 15:15] petermattis commented on #6758
Closing now that we're more aggressive about truncating the raft log when there is a trailing replica and we can handle splitting a large range by carving off a small chunk from the front instead of splitting it evenly.

[2016-06-29 15:15] #6758 closed

[2016-06-29 15:27] nvanbenschoten commented on #7515
I should have been a bit more specific. It's not Hibernate itself that uses these operators, it is it's use of the Postgres JDBC driver's `getTables` implementation which uses them. Because of this, we're probably going to face this issue for most Java ORMs.

[2016-06-29 15:27] tamird commented on #5789
I was just thinking about this; the most straightforward solution is to add
a field to `storage.RaftMessageRequest` that signals "i'm ignoring you, gc
yourself", but we could also possibly add a field to
`storage.RaftMessageResponse`. The latter might be better because we can
close the stream when we send that message back.

On Wed, Jun 29, 2016 at 11:13 AM, Peter Mattis <notifications@github.com>

[2016-06-29 15:28] petermattis opened #7522 "storage: operations serialized by per-Store Raft goroutine"
There is currently a single per-Store goroutine (`Store.processRaft`) which executes the Raft state machine for all replicas that exist on that store. This goroutine is a scalability bottleneck as we see no concurrency when executing operations on distinct replicas. The locking and interactions here are tricky, but perhaps it is possible to take a conservative approach and parallelize the executio

[2016-06-29 15:31] petermattis commented on #7520
I'm not clear on why we need the message queues at all. With gRPC can't we just send the messages as they arrive?

@tamird Assigning to you given your gRPC knowledge/experience.

[2016-06-29 15:37] tamird commented on #7520
Sure, but those gRPC methods aren't asynchronous. Given that the queues are getting backed up, ISTM that blocking on gRPC will throttle raft (maybe a good thing? idk).

[2016-06-29 15:37] cuongdo commented on #7224
This is happening pretty regularly with the `TestRebalance3to5Small` acceptance test. [Here's a failed run.](http://teamcity.cockroachdb.com/viewLog.html?buildId=792&buildTypeId=Cockroach_AllocatorTest3to510g&tab=buildLog). Full node logs are in the "Artifacts" sub-tab.

Relevant excerpt from acceptance log:

[code]

[2016-06-29 15:38] tamird commented on #7520
An additional obvious upside is that we can trivially solve #5789 by getting rid of the queues.

[2016-06-29 15:42] petermattis commented on #7522
This patch below is the basic idea that I have in mind. Seems to have a big effect as it drops the time for `block_writer` to insert 1m rows from 258s to 195s (-25%). Performance actually improves as the `blocks` table is split.

[code]

[2016-06-29 15:49] #7112 closed

[2016-06-29 15:56] tamird commented on #7522
That change LGTM. I also think it's going to be a prerequisite for #7520 so that we're at least sending outgoing raft RPCs in parallel for each store.

[2016-06-29 16:11] andreimatei commented on #7348
For an update here, a number of problems have been made apparent by this. There's an outright bug that would sometimes lead to this behavior that's being fixed in #7504.
More fundamentally, there's problems with humongous transactions, such as the one we use for a truncation. For example: https://github.com/cockroachdb/cockroach/issues/627

Ways to avoid a huge transaction for truncation are being

[2016-06-29 16:18] petermattis opened #7524 "kv: TestClockUpdateOnResponse goroutine leak"
Perhaps this was the `TestOwnNodeCertain` leak I was seeing.

[code]

[2016-06-29 16:21] petermattis commented on #6805
@cuongdo Can you take a look at this?

[2016-06-29 16:25] tschottdorf commented on #7520
I think backpressure on Raft will result in hard to debug performance
anomalies (or worse). Especially if a node goes down and the gRPC call
blocks for 5 seconds. I don't think that this is a "real" option, at least
not in a naive form.

I don't see how it "trivially" solves #5789 - whether we buffer messages or
not, there will have to be a mechanism which receives responses and handles
them appro

[2016-06-29 16:26] tschottdorf commented on #5789
Why do you want to close the stream? The stream is per-node, but the message is per-replica.

[2016-06-29 16:31] andreimatei commented on #7508
What we get from having leases on table descriptors is that mutations on different tables can happen in parallel. And that we could theoretically gossip more granular updates. I don't have an opinion about how valuable these things are. On the other hand, coalescing all the schema in one structure would have the good side-effect that we'd also get a leasing system for what is now the "database des

[2016-06-29 16:37] WillHaack opened #7525 "sql: make separate sql benchmark tests for testing against multinode clusters"
Right now we pass a -multinode flag to make benchmark tests run against multinode clusters. We want to change it so that we duplicate all of our benchmark tests to run against multinode clusters. Ideally we would use a codegen tool to reduce our lines of code.

[2016-06-29 16:39] dt commented on #7508
I think parallel updates to separate table descriptors isn't a big benefit in practice -- schema changes are are not high QPS actions, and are already going to be serialized for operations sanity (obviously a multi-tenant cluster would see concurrent changes, but not in the same DB, and we still get parallel changes to separate DBs even if we make this change).

[2016-06-29 16:43] petermattis commented on #7508
I'm not sure how grouping things at the level of a database will help. There is nothing restricting a table in one database from referring to a table in another. Perhaps you're using a different definition of `database`.

[2016-06-29 16:44] dt commented on #7508
I don't think we were expecting to allow cross-database FKs.

[2016-06-29 17:19] #7513 closed

[2016-06-29 17:33] tschottdorf commented on #7522
LGTM too. I think the original concern about not optimizing this earlier
was keeping Raft activity (and thus writes) sequential, but clearly RocksDB
can handle more than sequential I/O. I think Ben would have some qualified
thoughts on optimizations like these.

On Wed, Jun 29, 2016 at 11:57 AM Tamir Duberstein <notifications@github.com>
wrote:

--

-- Tobias

[2016-06-29 17:43] tamird commented on #5789
The only trouble is that the stream is unidirectional - sending one of these back necessary terminates the stream.

[2016-06-29 17:57] RaduBerinde opened #7526 "distsql: update HLC when distsql messages are exchanged"
With distsql, hosts might not talk to each other through kv/dist_sender, but only through distsql. So we need the distsql layer to update the logical clocks.

For streams, it's not clear if we need to send and update on every message, or it would be sufficient to do it only once per stream (in the header).

CC @andreimatei

Jira issue: CRDB-6177

[2016-06-29 17:58] petermattis commented on #7522
RocksDB can definitely handle concurrent operations. For writes, there is a benefit to multiple threads writing concurrently as the log writes will be bundled together. Concurrent reads are also useful when they are hitting the cache and thus not bottlenecked on disk.

[2016-06-29 18:00] RaduBerinde commented on #7526
CC @tschottdorf - any words of wisdom?

[2016-06-29 18:01] andreimatei commented on #7526
One important thing is for a node `n` to not do a read `r` with a time higher than the node's clock. Because, if the node transfers its lease away, the next lease starts at `n`'s clock. And now `r` is not part of the new leader's read cache.

[2016-06-29 18:06] tschottdorf commented on #7526
It depends. Updating for every message in the stream is definitely safer, but also not necessary. For example, when streaming a result set, it's not necessary to exchange HLC timestamps all the time.

What's a concrete example where DistSender would be bypassed?

[2016-06-29 18:16] RaduBerinde commented on #7526
So say a node A receives a query and it knows the relevant ranges are lead by B and C. It will set up a distsql flow between B and C.  B and C will do KV operations to their respective ranges. Assuming replicas are on other nodes, all communication between A, B, C happens through distsql.

[2016-06-29 18:27] RaduBerinde opened #7529 "sql: RowFetcher.processValueSingle should produce EncDatumRows"
`EncDatum`s are designed to allow "tunneling" encoded values through distsql without unnecessary decoding and re-encoding.

`RowFetcher` should be modified to return `EncDatum`s instead of `Datum`s (see `readerBase.nextRow()`).

This will affect the regular SQL path so we need run benchmarks and make sure we don't cause regressions.

CC @paperstreet

[2016-06-29 18:40] tschottdorf commented on #7526
But while you set up that flow, the ranges may move, so it seems that that node which is assumed to have the range locally would still have to use `DistSender` (or something like it) to potentially fetch the data (which would almost always be a simple pass-through, but could require the full power of DistSender as it exists today).

[2016-06-29 18:42] tschottdorf commented on #7526
oh - sorry, I misunderstood what you are saying. I have to think about it a little more, but I think the biggest concern here is read-what-you-wrote, which means that what matters is that all nodes have an update from each touched node's HLC by the time the operation is finished.

[2016-06-29 19:14] petermattis commented on #7462
Just had this happen again after running `make test`. Seems to be reproducible right now with `make stress PKG=./kv TESTS=TestOwnNodeCertain`.

[code]

[2016-06-29 19:31] cuongdo commented on #7280
From looking at the `--vmodule=rocksdb=3" logs, it looks like we're always compacting. Compactions happen back-to-back and take tens of seconds at a time.

Here's part of the log output:

[code]

`Avg(sec)` shows the average time it takes to compact. Each compaction is writing 10-15 MB/s. While the stats don't show any stalls, that IO load could be affecting things. Also, write amplification is *m

[2016-06-29 19:57] cuongdo commented on #7280
I was able to double QPS with this short diff:

[code]

That said, I don't understand this well enough (yet) to understand the ramifications. So, I'll dig further.

[2016-06-29 20:46] petermattis commented on #7280
Reading some of the RocksDB tuning suggestions I discovered that they recommend that the L0 and L1 sizes should be the same. L0 size can be estimated as `write_buffer_size * min_write_buffer_number_to_merge * level0_file_num_compaction_trigger` which translates to `4MB * 2 * 2 == 16 MB`. We have L1 configured as `options.max_bytes_for_level_base = 512 << 20`. Changing `max_bytes_for_level_base` to

[2016-06-29 21:27] #7522 closed

[2016-06-29 21:37] tamird commented on #7494
etcd has migrated to it, so that's some indication. Also, the last experimental API was removed in favour of this one. Finally, what other options do we have?

[2016-06-29 21:45] d4l3k commented on #7494
SGTM

[2016-06-29 22:05] tschottdorf commented on #7489
Even with my last stop-gap commit #7533 I see stalls, sometimes for minutes at a time.

[code]

The events endpoint has these:

[code]

which roughly coincide with the following stall:

[code]

I think the key to understanding better what is happening here lies in the tracing endpoint:

[code]

Various replications take exactly one minute, which is very telling, but no tracing exists inside of the

[2016-06-29 22:05] tschottdorf opened #7535 "storage: plumb tracing for queue operations"
See https://github.com/cockroachdb/cockroach/issues/7489#issuecomment-229503430

[2016-06-29 22:07] tschottdorf opened #7536 "storage: 1-to-3s upreplication test shows declined reservations"
Shown sporadically in the /debug/events endpoint. These are unexpected (at least as long as the first node is the only one sending out replicas).

[2016-06-29 22:09] dt opened #7537 "sql: alter/drop and constraint names"
currently we assume that `CONSTRAINT foo` refers to index foo, but this is no longer true -- constraints (even those backed by indexes) can have their own names that do not match the indexes, and some constraints are not backed by indexes at all (eg `CHECK` or `NOT NULL`).

[2016-06-29 22:09] dt commented on #7537
I'm somewhat worried too that a user wishing to drop a `UNIQUE` constraint will actually drop the index -- it might be safer and minimize the chance of a very surprising operational change error there indicating the index itself must be dropped (since we can't practically change the index to non-unique in place)

[2016-06-30 01:02] petermattis commented on #7535
@BramGruneir Given your other work on rebalancing, can you take a look at this?

[2016-06-30 01:04] BramGruneir commented on #7535
Sure, I'll tackle it tomorrow.

[2016-06-30 01:06] petermattis commented on #7489
Aren't those event logs indicating that acquiring the leader lease is taking ~60s? Unless I'm misreading, the only place we create a span named `replicate` is for the duration of leader lease acquisition.

[2016-06-30 01:18] amangoeliitb opened #7538 "perf: cockroach performance issue"
What did I do?
I am running a 4 node cluster. I am trying to create a mock file metadata store.
There are 4 clients. Each node is basically a client as well. Each client tries to create a large number of unique directories. Each directory corresponds to 3 unique entries in the table. 1 directory creation is bundled within a transaction. We are using a schema similar to the one here: [https://githu

[2016-06-30 01:29] cuongdo commented on #7538
Thanks for your report. We're investigating other gradual slowdowns. For example, #7280. This sounds like it might be related. We'll report back as there are developments.

[2016-06-30 02:10] #6278 closed

[2016-06-30 02:14] tschottdorf commented on #7489
I haven't had a chance to check, but that could be - wonder what makes it take that long?

[2016-06-30 02:20] nvanbenschoten commented on #7290
I'm still investigating, but it looks like the negative values are a result of live bytes not being accounted for in the stats somewhere. When a split happens and `MVCCStats` for the left half of a range are recomputed, this recomputation then accounts for the new bytes, which means that when this left stats object is subtracted from the total stats (+ current delta) to get the right stats, we go

[2016-06-30 02:24] tschottdorf commented on #7489
A minute always sounds suspicious like gossiping, for example, the first range. I can't lend credibility to that theory from the phone, but that's a candidate. Rebalancing lease holders away is an expected troublemaker, too. @bram, could you take a look as part of #7535? That issue as written now assumed that we were missing out on most of the interesting tracepoints (and we do as we likely don't

[2016-06-30 03:07] nvanbenschoten opened #7540 "stability: node crashes on deleted data directory"
A Cockroach node will crash if you delete the log directory from underneath a running node.

[code]

It looks like @bdarnell has a TODO at this specific panic, but I doubt it's the only place which assumes the log directory will never disappear. That said, when I tried to reproduce, I got a clean shutdown with the error `log: exiting because of error: log: cannot create log: open cockroach-data/lo

[2016-06-30 05:58] nvanbenschoten commented on #7290
It looks like the issue has something to do with `MergeRequest`s being sent from [`ts.DB.StoreData`](https://github.com/cockroachdb/cockroach/blob/master/ts/db.go#L106). This races with initial splits and would explain why the issue seems to be nondeterministic. If I disable the time series `poller`, the negative stats issue seems to go away. I'm wondering if we correctly handle stats computations

[2016-06-30 09:55] yaojingguo commented on #6465
I would like to have a look.

[2016-06-30 11:03] knz opened #7547 "ui: yellow iconography for stale nodes should be more informative"
Reported by user on Gitter:

[code]

Some extra information about what the colors / icons mean should be reported when the user hovers over the icon / number.

[2016-06-30 11:04] tschottdorf opened #7548 "circleci: failed tests: TestSchemaChangeRetry"
The following test appears to have failed:

[#19768](https://circleci.com/gh/cockroachdb/cockroach/19768):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-30 11:05] knz opened #7549 "sql: SHOW TABLES reports deleted tables"
Reported by user on Gitter:

(07:28) < yznming> [![blob](https://files.gitter.im/cockroachdb/cockroach/d9d2/thumb/blob.png)](https://files.gitter.im/cockroachdb/cockroach/d9d2/blob)
(07:29) < yznming> hi, i have drop a table, but i still can see it in the `show tables;`. Is this normal?

Perhaps we should remove tables in the process of being deleted from system.tables?

cc @andreimatei @vivekmene

[2016-06-30 11:10] knz opened #7550 "tests: integrate the Jepsen tests in the weekly test run"
Otherwise the jepsen test repo will bit rot.

[2016-06-30 11:10] knz commented on #7549
Perhaps related to #7499.

[2016-06-30 11:11] knz commented on #7549
cc @yznming

[2016-06-30 11:12] knz commented on #7550
cc @a6802739

[2016-06-30 11:12] knz commented on #7547
cc @a6802739

[2016-06-30 11:48] nvanbenschoten commented on #7290
It looks pretty promising that https://github.com/cockroachdb/cockroach/blob/master/storage/engine/mvcc.go#L199 is causing this issue. Specifically

[2016-06-30 12:20] petermattis commented on #7540
The file `cockroach-data/000011.log` is actually a RocksDB log file. There isn't much that can be done when you delete such a file. Don't do that.

Deleting the debug log directory (i.e. `cockroach-data/logs`) is also a fatal error. We could possibly do something better there, but it certainly isn't important.

[2016-06-30 12:32] petermattis commented on #6465
@yaojingguo Go ahead.

[2016-06-30 12:33] petermattis commented on #7489
Agreed that a minute sounds like it could be the first-range gossip problem. So this is possibly related to #7297. @paperstreet It's looking like this is fairly important.

[2016-06-30 13:13] petermattis opened #7551 "storage: streaming snapshots"
Snapshots are currently sent using a single RPC containing all of the KV and raft log data for a range. Even if this were fully optimal and only contained a single version of the data in memory, we would still have a memory spike of O(size-of-range) when sending a snapshot. But due to the systems involved, we actually use 3-4x the base snapshot data.

Rather than sending a snapshot as a single RPC

[2016-06-30 13:17] petermattis opened #7552 "ui: visualize sstable usage"
The sstable size, levels, compactions and flushes have a direct impact on performance. Currently, we only expose the number of flushes and compactions being performed. We should provide a better tools for visualization the sstables for a node. At a minimum, we should maintain a metric for the read amplification for queries which is the number of level-0 sstables + the number of non-empty levels. B

[2016-06-30 14:03] vivekmenezes opened #7554 "sql: show schema change state in sql commands"
When a table is being dropped, it still shows up while running `show tables`

This is part of a more general problem, that during schema changes, change state is not properly visible. commands like `show tables;` , ``show index` should show useful state.

[2016-06-30 14:13] tamird commented on #2985
Closing in favour of #4646.

[2016-06-30 14:13] #2985 closed

[2016-06-30 14:15] tamird commented on #2948
Cross-linking #7508.

[2016-06-30 14:15] tamird commented on #7508
Heads up that #2948 might be related to this.

[2016-06-30 14:16] tamird commented on #2524
Pinging some SQL homies that might want to look at this: @RaduBerinde @paperstreet @dt

[2016-06-30 14:20] vivekmenezes commented on #7549
same as #7554

[2016-06-30 14:20] #7549 closed

[2016-06-30 14:21] knz commented on #7554
@vivekmenezes usually when there is a duplicate issue, the newer issue is deleted and the older one is preserved. Why did you do it the other way around?

[2016-06-30 14:22] knz commented on #7554
Perhaps related to #7499.

cc @yznming

[2016-06-30 14:25] vivekmenezes commented on #7554
because this issue correctly classifies the general problem. Thanks for reporting the other issue.

[2016-06-30 14:31] tamird commented on #3548
cc'ing some SQL folks: @paperstreet @RaduBerinde @knz @dt

[2016-06-30 14:32] tamird commented on #3417
@petermattis can you summarize the remaining work here?

[2016-06-30 14:32] vivekmenezes commented on #7508
I'm tempted to say that this is not an issue that we can look into for the 1.0 release. The benefits are marginal and I'm not sure what the drawbacks are yet, and don't forget this change is a lot of work. I think what is being suggested might be nicer but it's going to be very disruptive (in other words we might never get to do this ever :-), and we have way higher priorities.

[2016-06-30 14:33] tamird commented on #3103
@andreimatei @tschottdorf @vivekmenezes we have a plethora of issues tracking this - can one of you coalesce?

[2016-06-30 14:38] knz commented on #7554
@vivekmenezes in that take you edit the title and the description of the original issue to make it more general. Again no need to create a new issue.

[2016-06-30 14:38] tamird commented on #2791
@knz @nvanbenschoten I think this has long since been refactored to oblivion. Confirm?

[2016-06-30 14:38] tschottdorf commented on #7535
A trace is currently created in `func (bq *baseQueue) processReplica(repl *Replica, clock *hlc.Clock) error`. As @petermattis pointed out in #7489, it is currently used for no more than getting the leader lease. We should pass the created context into `bq.impl.process()` so that all queues can trace their follow-up operations.

[2016-06-30 14:40] tschottdorf commented on #7489
Small update - I'm not sure it's the leader lease at all - #7535 would tell. We do create the span for getting the leader lease, but we finish it only when the queue has processed the replica (which could take any amount of time). So in the above traces, it's also conceivable that the replication really did take 99% of the time. So, doing #7535 looks most important.

[2016-06-30 14:41] andreimatei commented on #3103
same as #7499

[2016-06-30 14:41] #3103 closed

[2016-06-30 14:42] knz commented on #2791
@tamird no it has not been refactored into oblivion, I think the suggestion still applies.

[2016-06-30 14:44] tamird commented on #2792
`(*indexInfo).makeConstraints` was broken up into `(*indexInfo).makeOrConstraints` and  `(*indexInfo).makeIndexConstraints` in #5521.

The relevant method is `(*indexInfo).makeIndexConstraints`, and as originally mentioned, `indexConstraint` is quite similar to `RangeCond`, and we should look into modelling `indexConstraint` as a `RangeCond` directly.

I'm going to assign some folks that might be

[2016-06-30 14:44] archiecobbs opened #7556 "Java deadlock in test with multiple simultaneous transactions"
As part of a separate project, I'm running unit tests that check database behavior when conflicting and non-conflicting transactions are run at the same time.

In the case of CockroachDB, one of these tests deadlocks and hangs forever. Instead, some sort of retry exception should be thrown.

Interestingly, it is a non-conflicting transaction test that is hanging (the conflicting transaction test i

[2016-06-30 14:45] archiecobbs commented on #5924
Created separate issue #7556 for the deadlock problem.

[2016-06-30 14:55] tamird commented on #4566
I can't find any TODOs in storage/simulation. What's left here?

[2016-06-30 14:56] dt commented on #7508
.@petermattis suggested a variant that might get the bulk of the benefits with a fraction of the work:
switch to leasing databases, but rather than change how table descriptors are stored in KV, just change when they're read -- always read all of them at once, so that for a given leased DB version, you can be sure you have the same set of table versions.

[2016-06-30 14:56] tamird commented on #2037
@RaduBerinde do you still intend to tackle this? Perhaps @nvanbenschoten would be interested in taking a look.

[2016-06-30 14:57] dt commented on #2524
we already do #1.

[2016-06-30 15:02] dt commented on #2524
distinct splits the encoded values into a prefix that contains those that are ordered and a suffix of the rest, and while iterating, it checks the prefix first, so a fully-ordered distinct should use o(1) space for the distinct overhead.

[2016-06-30 15:05] tamird commented on #2524
Sounds like we just need to confirm that we do this, and then this is good to close.

[2016-06-30 15:05] dt commented on #2524
we don't require that it.

[2016-06-30 15:06] dt commented on #2524
I think we can close this particular issue as is: the optimization suggested is implemented if the user chooses to use it. While as far as resource limits, i don't think we want to take an ad-hoc approach, but rather we should approach that in a more holistic way, probably _after_ distributed is implemented.

[2016-06-30 15:07] tamird commented on #4483
Closing since I think @nvanbenschoten has already done some work here. Please reopen if I'm mistaken.

[2016-06-30 15:07] #4483 closed

[2016-06-30 15:08] tamird commented on #4083
We don't use `psql`,  but we have acceptance tests that use libpqtypes (which is underlied by libpq).

I'm going to close this for now, but please reopen if you feel there's work to be done here.

[2016-06-30 15:08] #4083 closed

[2016-06-30 15:10] tamird commented on #3854
Doesn't sound like anyone's rushing to do this, and the PREPARE/EXECUTE/RELEASE work is tracked in #7123.

[2016-06-30 15:10] #3854 closed

[2016-06-30 15:13] BramGruneir commented on #4566
A good amount of rewriting I think.  Been a while since I looked at it.  I know some of the todos have been finished.  Sadly, right now, we can't rely on the simulator to accurately emulate a real cluster due to stability issues.

[2016-06-30 15:15] tamird commented on #4566
Can you add some information to this issue?

[2016-06-30 15:19] tamird commented on #2524
Why not implement the same requirement as postgres?

[2016-06-30 15:22] tamird commented on #4873
Triage: this now errors as follows:

[code]

In postgres:
[code]

[2016-06-30 15:25] vivekmenezes commented on #7462
https://github.com/cockroachdb/cockroach/blob/master/kv/transport.go#L177

could be the reason for these leaks?

[2016-06-30 15:26] tamird commented on #2524
That's true, but I don't see the downside to narrowing the constraints on DISTINCT.

[2016-06-30 15:28] tamird commented on #7462
That's not the leaked goroutine, though.

The real reason for these leaks (I suspect) is that
grpc.(*ClientConn).Close() lies and doesn't immediately kill a connection
if it's in the middle of a retry loop (think backoff). #7494 should help
with this.

On Thu, Jun 30, 2016 at 11:25 AM, vivekmenezes <notifications@github.com>
wrote:

[2016-06-30 15:29] BramGruneir commented on #4566
Not at the moment.  I'll need to spend some significant time going back through the code and I'll re-asses after the current bout of work on rebalancing is finished.

[2016-06-30 15:34] RaduBerinde commented on #3548
I'll put it on my pile since I have #6346

[2016-06-30 15:35] dt commented on #2524
If your data *does* fit in whatever amount of ram you have but isn't ordered, you've added and nlogn sort when you didn't need it. If it doesn't fix, then the sort won't work anyway.  It just doesn't seem to buy us anything yet -- maybe once we have an on-disk or distributed sort, it'd make more sense to add it or something else, but it seems premature to throw ad-hoc restrictions in now that don'

[2016-06-30 15:35] cuongdo commented on #7552
I'll get started on recording the metric and adding the associated graphs. @maxlang, I leave the cool visualizations to you.

[2016-06-30 15:36] RaduBerinde commented on #6346
Also consider using `RangeCond` (see #2792).

[2016-06-30 15:37] RaduBerinde commented on #2792
#6346 already tracks rewriting a lot of this code. I've made a note to consider using `RangeCond`.

[2016-06-30 15:37] #2792 closed

[2016-06-30 15:37] RaduBerinde commented on #2037
I wasn't planning to work on it any time soon, so it's up for grabs.

[2016-06-30 15:37] petermattis commented on #7552
@cuongdo FYI, I have a bit of work which adds a `debug sstables` command which can be used to derive the metric. I'll send out shortly.

[2016-06-30 15:49] BramGruneir commented on #4566
Updated this with a bit more info.

[2016-06-30 16:03] #7525 closed

[2016-06-30 16:04] tamird commented on #2809
@tschottdorf @kkaneda can you update this? Not clear on what's left to do.

[2016-06-30 16:05] petermattis commented on #3417
I'm not sure if there is anything remaining to be done. @bdarnell was suggesting that we could optimize `UPDATE tbl SET x=x+1 WHERE pk=$1` to use a KV increment request, but that is going to be problematic with column families. @paperstreet I believe we optimize `UPDATE tbl SET x=1 WHERE pk=$1` in simple kv-style situations, correct?

[2016-06-30 16:28] dt commented on #7537
weal don't have uniqueness enforced on constraint names which could be a problem for referring to them later in ALTERs.

[2016-06-30 16:34] paperstreet commented on #3417
@petermattis Which optimization are you thinking of? UPDATE supports autoCommit, so will send the endtransaction with the puts, but I'm fairly sure it always fetches before computing the mutations.

[2016-06-30 16:53] petermattis commented on #3417
Perhaps I was thinking of `UPSERT`. Isn't there a code path where we don't fetch first?

[2016-06-30 17:01] paperstreet commented on #3417
Ah, yeah, I should have realized that's what you were thinking of. If you UPSERT (or a very special case of INSERT/ON CONFLICT) and don't have any indexes, it doesn't fetch first.

[2016-06-30 17:23] tschottdorf commented on #7556
Thanks @archiecobbs. You shouldn't experience deadlocks with optimistic concurrency, so either things are unacceptably slow or there is a bug. We'll look into this.

[2016-06-30 17:33] tamird commented on #4945
This is even worse now:
[code]
That's because the server has crashed:
[code]

[2016-06-30 17:45] tamird commented on #3796
Looks to me like the refactoring in #5412 made this moot.

[2016-06-30 17:45] #3796 closed

[2016-06-30 17:49] tamird commented on #3726
Visiting for triage: this exists (in a very limited form), and was migrated to grpc in #6784.

@maxlang do you still intend to do some work here?

[2016-06-30 17:50] tamird commented on #2004
@paperstreet can you give an update here?

[2016-06-30 17:55] mjibson commented on #4483
We fuzzed the network code? Specifically the pgwire stuff?

[2016-06-30 17:58] tamird commented on #4483
https://github.com/cockroachdb/go-fuzz/pull/4

[2016-06-30 17:58] maxlang commented on #3726
@tamird I'm leaving this to track the creation of a more detailed health endpoint. Right now health is a binary, but in the future I expect the endpoint to carry more information.

[2016-06-30 18:04] paperstreet commented on #2004
We've started to move away from using the public SELECT code inside UPDATE and DELETE because they needed to be able to fetch columns in mutations. I haven't looked at the privileges, but there's no reason it couldn't work similarly to how `scanVisibility` got plumbed down.

[2016-06-30 18:27] tamird commented on #2004
Cool; I'm going to assign you to this one. Low priority, something to look it between context switches.

[2016-06-30 18:32] tschottdorf commented on #7538
This isn't a completely qualified comment because I haven't looked at the actual workload, but one prime culprit of such a slowdown is that what used to be written to one range now hits two ranges (after the first split). I don't see it in the logs, but on Gitter I think you mentioned also seeing some warnings about `AdminSplit` (which are, btw, benign- similar to the ChangeReplicas errors in the

[2016-06-30 19:10] #4063 closed

[2016-06-30 19:38] dt opened #7561 "sql: reflection on constraints"
parsing though `SHOW CREATE TABLE` isn't ideal -- we should probably do something like `SHOW CONSTRAINTS FROM` that mirrors `SHOW INDEXES FROM`.

[2016-06-30 19:49] petermattis commented on #3417
Ok. I'm closing this from now. Using the KV increment op is no longer feasible given column families. Pushing more SQL smarts down to the KV layer is a much bigger project.

[2016-06-30 19:49] #3417 closed

[2016-06-30 20:02] tschottdorf commented on #7224
This repros quickly with

[code]

I'm investigating. Looks like the first node proposes the two conflicting upreplications that soon thereafter let it clobber. I hope it's the same issue as here because if so, this is hopefully well-understood soon.

[2016-06-30 20:10] RaduBerinde commented on #7556
I will see if I can come up with a sql partest that reproduces this.

[2016-06-30 20:45] mjibson opened #7564 "build: increase visibility of stringer errors"
See the build artifacts from https://circleci.com/gh/cockroachdb/cockroach/19786#artifacts on shard 2.

The error is:

`stringer: checking package: yaccpar:335:13: undeclared name: scanner`

But it is in the middle of hundreds of other lines of status and doesn't have the words "error", "fail", or "panic", making it really hard to find.

When errors like this occur they could stop the remainder of

[2016-06-30 20:50] tamird commented on #7564
Indeed, this is what I encountered in #7555 as well.

I'm not sure how we can do better, though.

[2016-06-30 21:05] #4233 closed

[2016-06-30 21:16] knz commented on #7351
This is a dup of #3292.

[2016-06-30 21:16] #7351 closed

[2016-06-30 21:20] tschottdorf opened #7565 "circleci: failed tests: TestReplicateAddAndRemove"
The following test appears to have failed:

[#19797](https://circleci.com/gh/cockroachdb/cockroach/19797):

[code]
Please assign, take a look and update the issue accordingly.

[2016-06-30 21:44] tschottdorf commented on #7224
Looks at least similar:

[code]

i.e. node3 and node2 both at some point messaged us and claimed to have replicaID=2 for range 1.

Here are the descriptors for range 1:
[code]

That seems clean. Reading bottom to top, the range first splits, then adds store2 at replicaid=2, then adds store3 at replicaid=3. Then, finally, another split. But the panic message indicates something different, namely th

[2016-06-30 21:49] knz commented on #6365
Pending #6895  and #7083.

[2016-06-30 21:50] tschottdorf commented on #7224
Nodes 2 and 3 agree as far as the range descriptors and meta entries are concerned (the latter are read with `./cockroach debug keys data0 --from=$(echo -n -e '\003') --to=$(echo -n -e '\004') --values | less -S`).

[2016-06-30 21:51] tamird commented on #7123
Are we tracking supporting PREPARE/EXECUTE?

[2016-06-30 21:52] knz commented on #4434
I'm too far from this issue right now to deal with it effectively for Q2/Beta. De-assigning for now. I could put it back on my plate later this year if needed.

[2016-06-30 21:54] #4562 closed

[2016-06-30 21:59] knz commented on #7123
@tamird I believe @nvanbenschoten has this on his plate, for example #7322 was just merged and that's the stepping stone.

[2016-06-30 22:01] tamird commented on #7123
#7367, which closed this issue is also already merged; just wondering if we have an issue for the other statements. Looks like the answer is no.

[2016-06-30 22:02] tamird opened #7568 "sql: support PREPARE/EXECUTE"
Similar to #7367.

[2016-06-30 22:20] RaduBerinde commented on #7556
@archiecobbs - quick question, in https://github.com/cockroachdb/cockroach/issues/5924#issuecomment-218945760 you are saying that the other "conflicting" test sometimes hangs too, but here you said it doesn't? Is that one not hanging anymore in the latest beta?

[2016-06-30 22:33] tamird commented on #3138
@veteranlu since you reported this issue, the raft RPC system has moved to a streaming grpc service.

Would you mind rerunning your tests and reporting your findings? Your help is appreciated!

[2016-06-30 22:34] archiecobbs commented on #7556
Correct, with the latest beta (beta-20160616) that test appears to be passing every time, unlike previously.

[2016-06-30 22:36] RaduBerinde commented on #7556
Great, thanks, I will focus on the non-conflict one.

[2016-06-30 22:39] tamird commented on #5423
The only place that `grpc.WithTimeout` is used is in server/server.go when bootstrapping grpc-gateway and this usage is documented. All previous usages were removed in #7249, so I suppose that PR fixed this issue.

[2016-06-30 22:39] #5423 closed

[2016-06-30 22:40] tamird commented on #4191
Related: #5230.

[2016-06-30 22:41] tamird commented on #5230
Related #4191, #3548.

[2016-06-30 22:56] mrtracy opened #7570 "internal/client: SystemConfigTrigger() fails to gossip configuration changes if EndTransaction is not executed on system range"
`client.Transaction` has a setting `SystemConfigTrigger()`, which is set whenever the SystemDB is modified (for example, when adding a new table). This has the effect of immediately gossiping the new system configuration when the transaction is committed (during EndTransaction command).

However, this will only work if the EndTransaction command is executed on the range containing SystemDB; in the

[2016-06-30 23:02] tamird commented on #3299
Visiting for triage.

This seems to be relatively well handled as of #4876, which caused the client (which listens on the context's `Done()` channel) to eagerly remove the pending command from `(*Replica).pendingCmds`.

The only thing that can be done here is to check `ctx.Done()` before calling `(*Replica).proposeRaftCommand` in `(*Replica).addWriteCmd`. For example, if `(*Replica).beginCmds` had

[2016-06-30 23:03] tamird commented on #5482
Closing this for now; the state of affairs today is pretty good.

[2016-06-30 23:03] #5482 closed

[2016-06-30 23:06] knz opened #7572 "sql: implicit cross joins can cause OOM errors"
`select4.test` from sqllogictest causes my server to be killed by the kernel's OOM killer.  It tries a cross join with 6 arguments (FROM a,b,c,d,e,f), and the join first tries to generate millions of cross-product rows in memory.

There are three issues that participate into this problem, which will need separate solutions:
1. the JOIN makes a copy of its right-side data source in memory; if the r

[2016-06-30 23:13] knz opened #7573 "sql: implement a preliminary system to limit memory consumption by clients"
So I am running into #7572, a variant of #2524.

While we construct proper fixes to those, and in order to protect users against this type of problem in the future, especially when a query is issued for which we cannot do better optimization-wise, I'd like to introduce a limit in the number of values/bytes that can be populated into memory for a given client connection.

I propose the following im

[2016-06-30 23:13] knz commented on #7573
(Found while working on #3292 / #7351)

[2016-06-30 23:13] knz commented on #7572
(Found while working on #3292 / #7351)

[2016-06-30 23:16] knz commented on #7573
cc @dt @petermattis

[2016-06-30 23:28] tamird commented on #7573
Gosh, wouldn't it be nice to have custom allocators? 👼

[2016-06-30 23:29] tamird commented on #4451
@maxlang can you update this?

[2016-06-30 23:34] tamird commented on #5671
This implementation has had some recent attention from @tschottdorf in #7427. Hopefully this has been addressed in that commit; either way, this doesn't seem actionable, so I'm going to close.

[2016-06-30 23:34] #5671 closed

[2016-06-30 23:37] tamird commented on #5754
Should this issue be in the docs repo?

[2016-06-30 23:59] petermattis opened #7574 "storage/engine: tune max_{background_,sub}compactions"
The `rocksdb::Options::max_{background_,sub}compactions` settings were chosen arbitrarily with some input from the RocksDB tuning guidelines. We should verify experimentally that the settings are good. In particular, I'm nervous that using `num_cpu` for `max_background_compactions` is too high, especially on high cpu machines.

[2016-07-01 00:02] RaduBerinde opened #7575 "sql: unsupported comparison operator message has arguments reversed"
[code]

I get:
[code]
This should be the other way around (`<bytes> >= <string>`)

[2016-07-01 00:02] petermattis opened #7576 "storage/engine: experiment with cache_index_and_filter_blocks"
The `rocksdb::Options::cache_index_and_filter_blocks` configures RocksDB to place index and filter blocks in the shared block cache instead of pinning them in memory. Turning this option on would keep RocksDB memory usage more in line with the configured block cache size. An initial experiment revealed this to be a mild performance hit. We should revisit in light of other recent RocksDB tunings.

[2016-07-01 00:03] RaduBerinde commented on #7556
I can reproduce fairly easily with this test:
https://github.com/RaduBerinde/cockroach/commit/27785ec2c660eb3c9f7c021e434ba4cc9d526479

But now that I exactly understand the "workload", I am wondering what is your expectation here? Does this work with other SQL databases? In a database that uses locking, the `SELECT` statement will be blocked on an earlier transaction so it would be stuck until th

[2016-07-01 00:16] petermattis commented on #7573
@tamird It's difficult to plumb custom allocators everywhere (at least in C++).

@knz How would your proposal work in the distsql world?

[2016-07-01 00:17] RaduBerinde commented on #7556
Note that this workload should work with `ISOLATION LEVEL SNAPSHOT` (the txns don't need to wait for each other in that mode). (I confirmed that my little test works).

You mention your tests don't hang with MySQL - are you running them in SERIALIZABLE mode in MySQL? (note that the default for MySQL is "REPEATABLE READ", which is even lower than our SNAPSHOT)

[2016-07-01 00:20] petermattis commented on #3299
@tamird I'm not sure what you're thinking of here, nor am I terribly familiar with this code. Mind expanding on what you're imagining?

[2016-07-01 00:24] #4799 closed

[2016-07-01 00:47] tschottdorf commented on #5671
I think we could even phase out that functionality. I haven't found it
useful recently. But this issue can stay closed.

On Thu, Jun 30, 2016, 19:34 Tamir Duberstein <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-01 00:56] archiecobbs commented on #7556
Thanks for looking into it. We have looped around a bit since the original bug was opened and my apologies for having forgotten how this all started.

In all of the other databases, this test results in either a retry exception or a timeout exception, when the blocked thread gives up waiting for the blocking transaction to finish.

CockroachDB just hangs indefinitely, because there's no way to con

[2016-07-01 01:00] petermattis opened #7577 "storage: unable to cancel expired Raft command BeginTransaction"
When running `block_writer` I've started to see a lot of warnings in logs that look like:

[code]

Seems like something got tweaked incorrectly recently. These messages may be related to a drop of throughput to 0.

[2016-07-01 01:20] tschottdorf commented on #7577
Interesting. This error means that a client's context expired and it tried to take the command out of the pending commands map, but it wasn't there. Typically that means that the command is just being applied in that very moment. Maybe commands are stalling outside/before Raft for long enough to cancel the context before it's even proposed (which could explain a higher frequency of that).
Dealing

[2016-07-01 01:24] petermattis commented on #7577
Repros within 1-2min reliably for me on GCE. Strange thing is that I was doing some tests on GCE without problems and then it started happening. I initially suspected some of my tweaks so I reverted to master and it continued happening. Then I reverted some of the recent commits to master and it still continued to happen.

[2016-07-01 01:28] tschottdorf commented on #7556
There are only two choices - either we wait for the earlier transaction to complete, or we kill the earlier transaction. I believe we may do either depending on (random) priorities; at some point we will choose to wait and we will be stuck waiting for the commit that never comes.

Yes, in my mind the SELECT would get stronger as it retries, but I think the current implementation simply retries at

[2016-07-01 01:28] tschottdorf commented on #7577
What exactly are you running on GCE?

[2016-07-01 01:35] petermattis commented on #7577
[code]

and

[code]

This is on a 32 core machine in case that matters. I was playing with the `max_background_compactions` settings.

[2016-07-01 01:35] tamird commented on #3299
`(*Replica).addWriteCmd` calls `(*Replica).beginCmds`, which blocks. If, instead of a blocking method, we had a channel, we could write:
[code]
This would achieve the bail-before-proposing goal described in this issue.

[2016-07-01 01:45] petermattis commented on #7577
Note that this doesn't seem to occur when running on my (Mac OS X) laptop.

[2016-07-01 02:01] petermattis commented on #3299
I don't see anything easy to do here. `beginCmds` blocks because of the `CommandQueue` API which uses a `sync.WaitGroup`. Your suggestion couldn't work as-is because `beginCmds` needs to know about the keys used by the request. We could have `beginCmds` return a channel which is closed (becomes readable) when the command is ready to run, but I think that would require `beginCmds` to create a gorou

[2016-07-01 03:28] tschottdorf commented on #7577
Does running on a 32core machine mean that you're running at high
concurrency? And it's still not happening if you manually run the block
writer on your mac with the same concurrency (probably 32)?

On Thu, Jun 30, 2016 at 9:45 PM Peter Mattis <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-01 03:37] tschottdorf commented on #6991
One node in the registration cluster died:

[code]

[2016-07-01 03:47] tschottdorf commented on #6991
Last runtime stats were

[code]

I think the machines have ~7gig of ram, so that points to an issue here. Some of the other nodes are similarly high:

[code]

with cockroach reporting just shy of 7gb RSS.

The cluster *should* still be working with a node down. It clearly doesn't. The UI isn't accessible from the outside, so poking that way is a bit awkward. In any case, some raft groups are prett

[2016-07-01 03:59] tschottdorf commented on #6991
The version running is `Date:   Mon May 30 14:59:10 2016 -0400`. I think it's missed out on a lot of recent goodness.

[2016-07-01 04:27] tschottdorf commented on #6991
Some more random tidbits from one of the nodes:

[code]

[code]

Rudimentary elinks-based poking on the debug/requests endpoint shows... well, just a lot of NotLeaderErrors (without a new lease holder hint). We need to a way for us to access the admin port to make this debugging less painful.

In light of all of these bugs that we fixed since May 30, I also think we should update that version ASAP

[2016-07-01 04:46] tschottdorf commented on #3299
The more trivial fix for the remainder of this issue is to do a non-blocking select on `ctx.Done()` before proposing the Raft command (in `addWriteCmd` after all the waiting). For the command queue, what's really lacking is transparency - it would be a nice gimmick to have the context cancel waiting in the command queue, but if that happens then what we'd really need is information about what it w

[2016-07-01 04:47] tschottdorf commented on #3299
Oh, but then there's also the argument that goroutines are cheap - `context.Context` uses them pretty carelessly (any `context.WithTimeout` has one attached to it). Not suggesting that we need to use them here (see above), but maybe we *can* actually afford one (more) of them per request.

[2016-07-01 05:04] tschottdorf commented on #7570
Why does `SetSystemConfigTrigger` exist again? I was under the impression that its purpose is being called "anywhere" from sql without additional knowledge about the txn. But if the txn *must* be anchored to the system span for that to have the desired effect, then that contact is extremely fraught. Could we make `SetSystemConfigTrigger` return an error whenever a) the txn proto doesn't have a key

[2016-07-01 05:21] tschottdorf opened #7578 "acceptance: should clean up tfstate files after terraform run"
Pointed out by @cuongdo in #7530. We make no attempt at remove old state files. We should at least do it after we've successfully destroyed a cluster.

[2016-07-01 07:21] knz commented on #7573
So for distsql we'd have a "processor" per node and per query. Each processor would hold a similar counter of datums held locally on behalf of that query; whenever that counter goes beyond the threshold an error would be reported using the regular error mechanism. @RaduBerinde opinions?

[2016-07-01 12:25] cuongdo commented on #7280
I've rerun the tests with the fixes from #7532 and #7562. There is somewhat of a slowdown after 12 hours of testing, but nowhere near what it was like before. Average time per op was going from 40 ms to ~150 ms. Now, it's at ~52 ms.

We need a regularly run test for this scenario. I'll file an issue for that.

[2016-07-01 12:25] #7280 closed

[2016-07-01 12:28] petermattis commented on #7280
@cuongdo Yeah, I was thinking we should have a daily `block_writer` and `photos` benchmark. I'd like to run both of those load generators for a couple of hours each, capture the average ops/sec and graph that over time.

[2016-07-01 12:30] cuongdo opened #7579 "tests: long-running KV random put & get test"
We should create a test modeled after https://github.com/petermattis/cockroach/blob/pmattis/rocksdb-tuning/tester/main.go that does a series of KV `Put`s and `Get`s. This code was created as part of #7280 and uncovered and help diagnose a variety of issues, including the large RocksDB sparse file creation issue and the grossly suboptimal sizing of the different RocksDB levels.

Having a KV-level t

[2016-07-01 12:33] cuongdo commented on #7280
We can have that too. I was thinking that we could easily add a flag to each that causes them to exit after a certain number of operations have been performed. This serves a couple of purposes:

1. It makes performance degradation over time really obvious on teamcity graphs.
2. It makes *really* bad performance degradation a hard test fail, because we'll exceed the test timeout.

[2016-07-01 12:36] petermattis commented on #7280
@cuongdo `block_writer` now has two such flags: `--max-blocks` and `--duration`. Would be good to standardize all of the load generators to take such flags and to standardize their output.

[2016-07-01 12:42] tamird commented on #7570
Related: #2502.

[2016-07-01 12:46] RaduBerinde commented on #5924
Some more related comments in https://github.com/cockroachdb/cockroach/issues/7556#issuecomment-229828519

[2016-07-01 12:47] RaduBerinde commented on #7556
@archiecobbs - Makes sense. I understand the need for having a timeout - but that is already tracked by #5924. Given that there is no expectation for this test to pass without timeouts, there is no additional problem here as far as I can tell.

[2016-07-01 12:47] #7556 closed

[2016-07-01 12:48] cuongdo opened #7580 "tests: long-running block_writer and photos tests"
From comments on #7280:

@cuongdo Yeah, I was thinking we should have a daily block_writer and photos benchmark. I'd like to run both of those load generators for a couple of hours each, capture the average ops/sec and graph that over time.
---

We can have that too. I was thinking that we could easily add a flag to each that causes them to exit after a certain number of operations have been perfo

[2016-07-01 12:49] cuongdo commented on #7580
cc @WillHaack for visualization of benchmarks

[2016-07-01 13:07] tamird commented on #5769
This is partially addressed by #6038.

[2016-07-01 13:11] tamird commented on #5823
This is indicative of congestion on the outgoing raft queues, which is generally not harmful - those messages will be retried.

This may be significantly improved by #7534, so I'm going to close this for now. Please let me know if it should be reopened.

[2016-07-01 13:11] #5823 closed

[2016-07-01 13:16] tamird commented on #5852
Closing as @petermattis has spent considerable time here recently.

[2016-07-01 13:16] #5852 closed

[2016-07-01 13:19] tamird commented on #5327
@jseldess I'm going to close this as stale but please reopen if there's a known way to reproduce.

[2016-07-01 13:20] kkaneda commented on #3303
@tschottdorf , @andreimatei , I'll close this old issue, but please let me know if there is still some work left. Thanks!

[2016-07-01 13:20] #3303 closed

[2016-07-01 13:20] tamird commented on #5347
This seems to be fixed in spirit by #7315. Feel free to reopen if I've misunderstood.

[2016-07-01 13:20] #5347 closed

[2016-07-01 13:20] tamird commented on #5352
Closing as stale.

[2016-07-01 13:20] #5352 closed

[2016-07-01 13:21] petermattis commented on #7580
Perhaps the load generators, when configured to run for a particular duration or number of ops, should output a line using the go benchmark format. Something like:

[code]

[2016-07-01 13:23] petermattis commented on #7462
This is still happening for me. @tamird Have you had any success reproducing?

[2016-07-01 13:33] petermattis commented on #6991
I don't know what our protocol is either, but I would lean toward yes.

[2016-07-01 13:46] petermattis commented on #7570
`SetSystemConfigTrigger` exists so that a node can gossip the system config whenever a change is made to one of the system config tables. See `sqlbase.IsSystemConfigID`. The system config tables are currently:

[code]

It would be less error prone to move the burden of knowing when to gossip the system config table to the server. We know how to extract the table ID from any key and do so to look u

[2016-07-01 13:53] petermattis commented on #7577
@tschottdorf Yes, I'm running at high concurrency. `block_writer` now defaults to `2*num-cpu` for concurrency. Going to try with that same level of concurrency on my laptop.

[2016-07-01 14:18] tschottdorf commented on #6991
Ok. I'll pull a backup off the dataset and run last night's beta.

[2016-07-01 14:45] tschottdorf commented on #6991
One node died a few minutes in with OOM, presumably due to snapshotting.

[code]

[2016-07-01 14:49] petermattis commented on #6991
That raft log is ginormous. Why do we send the full raft log on snapshots?

[2016-07-01 14:51] tschottdorf commented on #6991
I think this is probably a huge Raft log that was created prior to our truncation improvements, but which was picked up by the replication queue before the truncation queue. Maybe we should put a failsafe into snapshot creation (so that any snapshot which exceeds a certain size isn't even fully created)?

[2016-07-01 14:51] petermattis commented on #7577
I'm completely unable to reproduce on my laptop. Reproduction on GCE is interesting. The problem went away for a while and now it has reappeared. Furthermore, the problem only seems to occur when I'm writing to an `SSD persistent disk`. When running on top of `local SSD` I don't see an issue. I'm suspicious that the `SSD persistent disk` is using too much network and hitting some sort of throttlin

[2016-07-01 14:58] petermattis commented on #6991
Seems easier to only snapshot the necessary tail of the raft log. For a snapshot, I think we only have to send anything past the applied index of the raft log which should be very small. Ah, strike this. Now I recall that raft log truncation is itself a raft operation.

Ok, I think putting a failsafe to avoid creating excessively large snapshots is reasonable. I'll file an issue.

[2016-07-01 14:58] tschottdorf commented on #6991
it died again at the same range. I think that failsafe is worthwhile - it would give the truncation queue a chance to pick it up first. The failsafe could even aggressively queue the truncation.

[2016-07-01 15:06] petermattis opened #7581 "storage: avoid creating excessively large snapshots"
We sometimes see out of memory errors when creating excessively large snapshots. For example, from #6991:

[code]

Notice the huge raft log. Because the raft log is part of the replicated state we must send all of the raft log with the snapshot in order to avoid divergence of the new replica. (@bdarnell Perhaps the applied portion of the raft log should not be considered during consistency checks)

[2016-07-01 15:07] tschottdorf commented on #6991
I'm a bit out of ideas as to how to proceed right now. In an ideal world, I could restart the cluster with upreplication turned off, and wait for the truncation queue to do its job.
Instead, I'm periodically running `for host in $(cat ~/production/hosts/register); do ssh $host supervisorctl -c supervisord.conf start cockroach; done` in the hope that the truncation queue will at some point manage t

[2016-07-01 15:10] tschottdorf commented on #7581
The Raft log actually isn't part of the replicated state. The part which
needs to be replicated is the truncated state (which is used to compute the
first index). It seems that we could get away with not sending the large
suffix when it is largely uncommitted. We probably can't artificially lower
the committed index (which would allow us to remove a tail of committed
commands, too) because on the

[2016-07-01 15:13] tamird commented on #6991
Is this happening on just one node? Are all ranges fully replicated to other nodes? Can you simply nuke this one node?

[2016-07-01 15:13] petermattis commented on #7581
Oh, I completely misread `RaftLogKey`. You're correct that the raft-log isn't part of the replicated state. Seems like it should be straightforward to not send the applied portion of the raft log.

[2016-07-01 15:13] tschottdorf commented on #7581
Hmm, I just checked and we only send the applied log entries. Bummer, doesn't seem like there's a corner we can cut unless we make the truncated state unreplicated (I'd rather not).

[2016-07-01 15:15] tschottdorf commented on #6991
There's very little visibility since I can't access the admin ui from outside. Anyone have experience setting up an ssh-tunnel-proxy?

If one node tries to send that snapshot, chances are it's the same on the other nodes or underreplicated. In both cases, nuking the first node won't help. I also think I saw two nodes die already.

[2016-07-01 15:16] petermattis commented on #6991
If you're running insecure you can do: `ssh -L 8080:localhost:8080 <some-machine>`. I did this earlier today without difficulty.

[2016-07-01 15:16] tschottdorf commented on #6991
It's a secure cluster.

[2016-07-01 15:18] petermattis commented on #6991
Should still work with a secure cluster.

[2016-07-01 15:18] tschottdorf commented on #6991
It simply works, great. Thanks @petermattis. Would you mind running `for host in $(cat ~/production/hosts/register); do ssh $host supervisorctl -c supervisord.conf start cockroach; done` in a busy loop? Can't hurt and I'm about to go on the train.

[2016-07-01 15:20] petermattis commented on #7581
Eh, looks like `snapshot()` iterates over the raft log from `truncState.Index + 1` to `appliedIndex + 1`. Doesn't that contain all of the applied entries?

[2016-07-01 15:23] tschottdorf commented on #7581
yes, all of those that haven't been truncated (which in an ideal world is very few due to aggressive Raft log truncation). My point about truncatedState is that we could easily not send all of those entries if we could modify the truncatedState, but that is replicated. Maybe we want to change that, but I haven't thought it through. If there's no downside to it elsewhere, the benefit for snapshots

[2016-07-01 15:23] petermattis commented on #6991
Where is this `~/production/hosts/register` file?

[2016-07-01 15:24] petermattis commented on #7581
Got it. So the raft log entries are not part of the truncated state, but the index we've truncated to is.

[2016-07-01 15:26] tschottdorf commented on #6991
It's my local clone of our non-public `production` repo.

[2016-07-01 15:28] petermattis commented on #6991
Got it.

[2016-07-01 15:42] jseldess commented on #5327
Will do, @tamird.

[2016-07-01 15:45] tamird commented on #2504
Visiting for triage. Applied this patch:
[code]
Before:
[code]
After:
[code]

Looks like the original TODO no longer applies, but there's definitely a performance hit.

[2016-07-01 16:13] RaduBerinde opened #7583 "distsql: basic flow infrastructure"
This issue tracks a few work-in-progress tasks for the basic flow infrastructure:
- [X] APIs to identify streams
- [x] Flow registry - a data structure to look up flows by UUID and facility to wait for flows to be set up (a stream could be initiated from host A before the corresponding flow is set up on host B)
- [x] Support remote streams in outbox (GRPCDial+issue rpc)
- [x] Hook up inbound strea

[2016-07-01 16:20] RaduBerinde commented on #7573
Yeah, I think this works as a basic mechanism to at least fail queries that would otherwise bring down the node entirely. Note that there are multiple processors in a flow (which is per query per node). But we can have a per-flow limit that the processors would consult.

Later this can evolve into a scheduling mechanism that queues up queries and executes them according to an upper bound estimate

[2016-07-01 16:20] tamird commented on #7154
Just ran into this again: https://circleci.com/gh/tamird/cockroach/175

[2016-07-01 16:22] tamird commented on #5725
I'm going to close this based on @tschottdorf's last comment.

[2016-07-01 16:22] #5725 closed

[2016-07-01 17:08] tamird commented on #6005
Closing this as stale. The line in question is https://github.com/cockroachdb/cockroach/blob/42f2b91c975db2f57c8b0aace8f3c9135039051e/kv/dist_sender.go#L728, but without any specific log line its not possible determine which RPC is failing.

[2016-07-01 17:08] #6005 closed

[2016-07-01 17:42] tschottdorf commented on #6991
I realized that I hadn't actually managed to run the updated version because `supervisord` needed to reload the config. I did that now, but the cluster is even more unhappy than before - the first range isn't being gossiped.

[2016-07-01 17:44] tschottdorf commented on #6991
Restarted one of the nodes. Magically that seems to have brought it back in the game. Snapshot sending time.

[2016-07-01 18:00] tschottdorf commented on #6991
Still in critical state, though. Had to restart one of the nodes again (to resuscitate first range gossip).

Sometimes things are relatively quiet, then large swaths of
[code]

I *think* those might have to do with us reporting "unreachable" to Raft every time the outgoing message queue is full (cc @tamird). Too bad I'm not running with the per-replica outboxes yet.

[2016-07-01 18:22] petermattis commented on #7581
@dt Adding a failsafe to `Replica.snapshot()` as mentioned in the original message should be straightforward. As usual, probably the most difficult part will be adding a test.

[2016-07-01 18:24] petermattis opened #7585 "ui: `cgo calls` graph should be `cgo calls / sec`"
The current `cgo calls` graph displays an ever increasing number. This graph should be a derivative. I seem to recall it was a derivative in the past. Did something change?

![screen shot 2016-07-01 at 2 17 18 pm](https://cloud.githubusercontent.com/assets/6201335/16530749/8f56aa38-3f97-11e6-8eb2-da54712943f0.png)

[2016-07-01 18:29] tschottdorf opened #7586 "circleci: failed tests: TestTxnRestart"
The following test appears to have failed:

[#19819](https://circleci.com/gh/cockroachdb/cockroach/19819):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-01 18:40] RaduBerinde opened #7587 "distsql: processor implementation checklist"
This issue tracks implementation of various processor "core" types:
- [X] Table Reader
- [X] Join Reader
- [x] Sort
  - [x] Basic implementation
  - [x] Implementation that takes advantage of partial orderings
  - [x] Speed-ups for limits
- [x] Aggregation (GROUP BY)
  - [x] Local stage
  - [x] Final stage
- [x] Evaluator
  - [ ] Support function calls that need the `EvalCtx` (#13821)
- [x] Distin

[2016-07-01 18:41] tschottdorf commented on #6991
If you're still running that loop, now's the time to stop it.

[2016-07-01 18:42] RaduBerinde opened #7588 "distsql: synchronizers and routers checklist"
This issue tracks implementation of synchronizers and routers

Synchronizers:
- [X] Passthrough
- [X] Ordered

Routers:
- [X] Passthrough
- [x] Mirror
- [x] By hash
- [x] By range

[2016-07-01 19:05] tschottdorf commented on #6991
Pretty busted still. One node appears to be deadlocked.

[code]

[2016-07-01 19:08] tschottdorf commented on #6991
The `Store` is also deadlocked (not unlikely once a replica is).

[code]

[2016-07-01 19:13] petermattis opened #7590 "ui: select timescale sometimes reverts"
Sometimes when I select a timescale I see the graphs switch to the new timescale only to revert to the old timescale a few seconds later.

[2016-07-01 19:14] petermattis opened #7591 "ui: select timescale dropdown should dismiss if I click anywhere on the screen"
When I have the select timescale dropdown open it should dismiss if I click anywhere else on the screen. Currently you have to click the select timescale button again.

[2016-07-01 19:17] petermattis opened #7592 "ui: graph detail sometimes shows excessive precision"
See the `TOTAL` in the attached image.

![screen shot 2016-07-01 at 3 16 09 pm](https://cloud.githubusercontent.com/assets/6201335/16532269/ef50fd38-3f9e-11e6-8639-6a0b170aa71a.png)

[2016-07-01 19:32] tschottdorf commented on #6991
Here's a gist of the goroutines of that node. https://gist.github.com/tschottdorf/e731c9a88bb90ba312dd7690d54da1c0

[2016-07-01 19:39] jess-edwards commented on #4451
@maxlang

Of the 5 contacts we've collected so far from the Admin UI reg page, all have given their full name and three have given us company. Not bad for a data set of five.

[2016-07-01 20:06] tschottdorf commented on #6991
Seeing this one again too (cc @tamird):

[code]

[2016-07-01 20:18] petermattis opened #7593 "storage: test that preemptive snapshots are actually working"
See #7468. My current thought is to add per-replica counters for preemptive and normal snapshots which we could examine after initial replication is complete. Anyone have a better idea?

[2016-07-01 20:31] tschottdorf commented on #6991
I restarted the cluster with a `10s` raft tick interval (since we saw mutex contention on ticking the replicas when the raft log was very large). Deadlocking was still rampant, but now that I've significantly slowed down the consistency checker, I was able to get a sign of life back from the cluster (this is also after ~50 restarts and random investigations):

[code]

The logs seem relatively quie

[2016-07-01 20:35] tschottdorf commented on #6991
Ok, we seem to be working (though slow).

[code]

[2016-07-01 20:42] tschottdorf commented on #6991
Ok, we're back to the living. A lot of material to investigate above.

Should mention that we're now running latest `master` (I wanted to pick up @tamird's outgoing-raft-queue changes).

[2016-07-01 20:43] petermattis commented on #6991
Woot!

[2016-07-01 20:47] tschottdorf commented on #6991
I'm pulling the backup I made earlier to my local machine so that we can spin up clusters with that mess in them (the machines themselves have very small hdds and no tools installed to upload directly to the cloud, and someone's got to make full use of that nice fast cable we have in the office now).

[2016-07-01 20:56] petermattis opened #7594 "perf: block_writer performance degradation"
The recent RocksDB tunings (#7532 and #7562) along with the optimization to parallelize processing of `Replica.handleRaftReady` (#7531) have improved the state of performance, but degradation still occurs. The first graph shows performance prior to these changes for a 1 hour run of `block_writer`:

![screen shot 2016-07-01 at 3 22 46 pm](https://cloud.githubusercontent.com/assets/6201335/16534201/

[2016-07-01 21:19] tschottdorf opened #7595 "sql: rollback hits NPE"
seen on `Build Tag:   beta-20160629-53-g02a236f` on the registration cluster (see
[code]

[2016-07-01 21:19] tschottdorf commented on #6991
One node died with:

[code]

Filed https://github.com/cockroachdb/cockroach/issues/7595

[2016-07-01 21:21] petermattis commented on #7595
@andreimatei I think you're most familiar with this code.

[2016-07-01 21:25] tschottdorf commented on #6991
The above NPE actually happened on two of the nodes.

On restart, unfortunately here's more serious stuff. Looks like an incoming Raft message triggered lazy creation of a raft group which promptly panicked. The range [10,10) suggests that we did have a truncated state in place, but `commit 0` suggests that maybe there wasn't a HardState (?) cc @bdarnell

[code]

[2016-07-01 21:27] tschottdorf commented on #6991
Yep,

[code]

Maybe I messed something up in https://github.com/cockroachdb/cockroach/pull/7429?

[2016-07-01 21:40] petermattis opened #7596 "storage: tune storeSchedulerConcurrency"
The `storeReplicaRaftReadyConcurrency` knob controls how much concurrency we allow in processing replicas within a single store. Currently we set the value to `2 * runtime.NumCPU()`. There are arguments to be made that the value should be lower to account for the I/O bottleneck. And the flip side, we want to perform concurrent RocksDB operations as many operations will hit the cache and even those

[2016-07-01 21:42] tamird commented on #7593
You could possibly use a pattern similar to this one https://github.com/cockroachdb/cockroach/pull/7534/commits/67d4958e9fe5487c4e07c98f49889483f4ed0c4d#diff-62766858ddaec8a310d2c5f397c93bdbR1495, though it's much easier to write a test that shows preemptive snapshots are _not_ working than it is to show that they _are_.

[2016-07-01 21:44] #7372 closed

[2016-07-01 21:44] tschottdorf commented on #6991
The actual Raft log for this range is empty:

`sudo ./cockroach debug raft-log /mnt/data 5161`

but there is a range descriptor:

[code]

so the migration code in #7429, on startup, would load the replica, see that it is "initialized", and creates a truncated state (but not the remaining initial raft state).

We have the following keys

[code]

and in fact everything is there expect for a `HardSta

[2016-07-01 22:02] tamird commented on #6991
Not much to add here, but the `RaftTransport`-related stack trace you posted (`goroutine 117324 [select, 6 minutes]:`) is expected; that's one of the two goroutines that live on the remote side of a streaming RPC.

[2016-07-01 22:04] tschottdorf commented on #6991
Ah, good point. I think I fell for that before.

On Fri, Jul 1, 2016 at 6:02 PM Tamir Duberstein <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-01 22:59] #7585 closed

[2016-07-01 23:14] #2504 closed

[2016-07-02 00:03] tschottdorf opened #7600 "storage: clobbering between uninitialized replica and RHS of a split"
As discussed in #6991, but now also directly observed (on `master`) in

`$ make stressrace PKG=./storage TESTS=TestStoreRangeDownReplicate STRESSFLAGS='-p 16 -maxfails 1 -stderr'`:

[code]

#7598 should fix this.

[2016-07-02 00:16] tamird commented on #6029
Closing as inactionable.

[2016-07-02 00:16] #6029 closed

[2016-07-02 00:21] tamird commented on #4890
Visiting for triage: has this been seen since #7040?

[2016-07-02 00:27] tamird commented on #3900
Looks like the questions here were answered. #7531 notably changed some concurrency attributes that trickle down to RocksDB, but this is still being tuned in #7596.

[2016-07-02 00:27] #3900 closed

[2016-07-02 00:28] tamird commented on #5605
is this still an issue?

[2016-07-02 00:41] tamird commented on #6210
This is probably worse now that #7562 is in. Culling connections will be helped by #7494.

[2016-07-02 00:43] petermattis commented on #6210
We should check for file descriptor limits and point to documentation on how to increase them.

[2016-07-02 00:44] tamird commented on #6092
#5903 is in; does this need to be reexamined?

[2016-07-02 00:45] tschottdorf commented on #4890
Yes, this is a very frequent log entry still, and not only with zero
(though probably mostly on overloaded clusters, where multiple conflicting
truncations might be issued). Still, I'm seeing this a bit more often than
I'm comfortable with.

On Fri, Jul 1, 2016 at 8:21 PM Tamir Duberstein <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-02 00:47] BramGruneir commented on #4890
Yeah.  I'm going to be adding some new tracing for this as well.

On Jul 1, 2016 8:45 PM, "Tobias Schottdorf" <notifications@github.com>
wrote:

[2016-07-02 00:59] #5990 closed

[2016-07-02 01:49] tamird commented on #2970
I'm going to close this now #7202 is in. There's more work to be done, but the spirit of this issue is implemented.

[2016-07-02 01:49] #2970 closed

[2016-07-02 01:51] tamird commented on #5576
Doesn't look like there's anything actionable here at this time.

[2016-07-02 01:51] #5576 closed

[2016-07-02 01:53] tamird commented on #6000
Is this data still available somewhere?

[2016-07-02 01:54] tamird commented on #5630
@yznming have you tried this again since the original report?

[2016-07-02 01:55] tschottdorf commented on #7600
Whatever I thought is going on here isn't. I'm still investigating.

[2016-07-02 02:05] tamird commented on #5864
There have been recent improvements in this area: #7118, #7040, #7125. Doesn't look like there's more mileage to be had from this issue.

[2016-07-02 02:05] #5864 closed

[2016-07-02 02:09] tamird commented on #6443
The new OOMs are likely mitigated by #6878 - even though the preemptive snapshots are being dropped on the floor by the recipient, generating them is throttling the repair system.

Is there anything left to investigate in the old OOMs?

[2016-07-02 02:11] tamird commented on #6046
@smaliz have you been able to reproduce these problems with newer betas?

[2016-07-02 02:12] tamird commented on #6585
I believe this was fixed by #7483.

[2016-07-02 02:17] tamird commented on #6589
Lots of improvements in this area: #6632, #6878, #7299.

More fine-grained rate limiting of snapshots is #7307.
Streaming snapshots is #7551.

Going to close this, but please reopen if you think there's value.

[2016-07-02 02:17] #6589 closed

[2016-07-02 02:18] tschottdorf commented on #6585
No, not fixed yet. Technically `quit` only waits until the request is processed, but the process might still take a little bit of time to actually shut  down (it would be safer to poll the port and wait for it to close, but that isn't really that idiomatic as well). I wonder how other software does this.

[2016-07-02 02:28] tamird commented on #6585
Could make `quit` a streaming RPC and wait for the stream to close?

[2016-07-02 02:51] tschottdorf commented on #6585
But the stream would always close slightly before the process (pid)
disappears, no?

On Fri, Jul 1, 2016 at 10:28 PM Tamir Duberstein <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-02 02:54] tschottdorf commented on #7600
Ok, this rabbit hole is deep. Here's what I *think* is happening:

(tl;dr: #7531 allows both the msg-induced uninitialized version and the split-generated version of a split RHS to mutate things concurrently)

* the first range splits on a multi-node cluster.
* one of the nodes is a bit behind, so other nodes talk to it before it has created the raft group through the split trigger
* consequently,

[2016-07-02 03:07] tschottdorf commented on #7600
cc @bdarnell

[2016-07-02 03:23] tamird commented on #6585
Yeah, but that's the best we're ever going to do, right?

[2016-07-02 03:24] tschottdorf commented on #7600
bisect blames https://github.com/cockroachdb/cockroach/pull/7468 (fixing preemptive snapshots). With the above explanation (and my debugging efforts) I don't see it having a direct influence though it theoretically cause similar issues (#7598), but this repro'ed reliably with my patch set there (in a version which would actually write the HardState). I never saw a preemptive snapshot applied for r

[2016-07-02 03:37] tamird opened #7604 "sql: unexpected duplicate key violations"
(originally reported by @aquarat in #6053; I've deleted the original comment because it doesn't seem related to the original issue).

What version of CockroachDB are you using (cockroach version)?

[code]
What operating system and processor architecture are you using?

[code]
What flags/environment variables did you pass to cockroach start?

[code]

Please describe the issue you observed:
[code]
W

[2016-07-02 04:13] nvanbenschoten commented on #3299
This is mostly just repeating what Toby said, but I don't think cancellation inside the command queue is easily possible because of the linear ordering we compose through `WaitGroup`s between commands. Once `cmdQ.add` is called, we need to wait for the corresponding `wg.Wait()` before it is safe to end the command with `r.endCmds`.

That said, hypothetically if `WaitGroup`s played nicely with chan

[2016-07-02 04:53] tamird commented on #3299
Here's a prototype of the channel-based API, no extra goroutines necessary: https://github.com/cockroachdb/cockroach/compare/master...tamird:cmdq-chan

As everyone's pointed out, doing the `select` is currently unsafe, but perhaps that too can be solved.

[2016-07-02 05:41] #6687 closed

[2016-07-02 11:25] knz commented on #6585
No that's not the best. You can also use the syscall kill(2) with SIGCONT or some other innocuous signal until your kernel tells you the process does not exist any more. That's the best way.

[2016-07-02 13:01] tamird commented on #6585
Doesn't that assume that the cli process is on the same machine as the server?

[2016-07-02 13:52] knz commented on #6585
Well ok if it isn't then what you said is the best. But it local control not the common case?

[2016-07-02 14:15] bdarnell commented on #7593
The counters seem like a good idea to me (but maybe at the store level instead of the replica level). We'll want this data in the metrics because non-preemptive snapshots should be rare (and after #7551, they may be much more expensive preemptive ones), and we'll want to be able to verify this fact.

[2016-07-02 14:32] #5492 closed

[2016-07-02 14:48] bdarnell commented on #6585
Most software doesn't have an equivalent command (and I consider our `quit` command to generally be a bad idea). Servers are run under a process manager, and you shut them down by asking that process manager to stop them, not by asking the server to stop itself. (or running locally without a process manager, you just kill the process and poll for its PID to disappear)

Without a process manager, i

[2016-07-02 14:51] knz commented on #6092
Yes it does. And it's not trivial either...

[2016-07-02 15:11] #7575 closed

[2016-07-02 15:12] knz commented on #6585
As I explain in https://github.com/cockroachdb/cockroach/pull/7603#issuecomment-230106282 you can also count on the server's OS to signal process termination by shutting down all open sockets. That is detectable over the network.

[2016-07-02 15:36] tschottdorf commented on #7600
The bug still repros with the following diff applied:

[code]

However, it takes longer (~300-400 iters) and there is no `SNAP` output (meaning that no preemptive snapshot was sent). This is in line with my expectation that this hasn't been introduced in that PR, just made more likely with recent changes.

[2016-07-02 15:44] tschottdorf commented on #1779
I think we should reconsider this. The logger should be passed around with the relevant `Context` objects  (`base.Context`, `storage.StoreContext` etc, not `context.Context`).

The reason I think this is useful is because tests which run multiple servers concurrently in the same process are very hard to debug right now. With per-entity loggers, we can prefix the log messages. For example, https://

[2016-07-02 16:33] tschottdorf commented on #1779
While I'm at it, I think we can build in better support for verbosity levels with lazy evaluation like this:

[code]

This allows stuff like

[code]

The unified tracing/logging API could be something like this:

[code]

See also https://github.com/uber-go/zap (which however does completely structured logging and currently only has JSON output).

We definitely shouldn't try to reinvent the wheel h

[2016-07-02 18:01] FarYoung commented on #7478
#7348
I make the problem recur, while I try to drop the certain table, the drop process hung up for several minute, until I have to break it by Ctrl+C command in Console.
Then the problem becomes here again, table name and struct is there but cannot do any on it, the only way is delete the data folder and restart to rebuild the database...

[2016-07-02 18:04] FarYoung commented on #7478
Okay, I try the new release.

[2016-07-02 18:04] #7478 closed

[2016-07-02 19:03] tamird commented on #6616
Quick update on this: the code produced by https://github.com/google/protobuf/tree/master/js is not yet suitable for use directly with the typescript compiler (even `typescript@next`).

`tsc --allowjs` works when all the imports are rewritten to point to the generated commonjs, but the JsDoc-based inference is not enough to make those files usable. In particular, Google's closure-style exports are

[2016-07-02 21:47] tschottdorf commented on #7600
The behavior was likely exposed by the relatively recent changes during my Raft state refactor:

[code]

Previously, we were muddling through with NewReplica which started from an uninitialized state (but now we call `writeInitialState`.

We're going to need/want a less ad-hoc system which ties together a Replica with its RangeID and a corresponding subspace of the Engine.

[2016-07-02 22:58] tschottdorf commented on #1779
Just going to leave this here.

Outputs
`{"msg":"testing some stuff","level":"info","ts":1467498951386441514,"fields":{"NodeID":1,"desc":"asd"}}`
but see https://github.com/uber-go/zap/issues/59, after which the output could equally read
`I160702 18:38:02.896342 NodeID=1 desc=asd: testing some stuff`

[code]

We would lose file logging, but that can easily be cribbed from glog (along with log rota

[2016-07-02 23:13] tschottdorf commented on #7570
I think it's more reliable to do what I suggest above because the issue depends on the history of the transaction _prior to doing system config stuff_, and so we're far more likely to catch this early, for example the following code

[code]

will work fine with what you're suggesting except when `txn` is previously used for a non-systemdb write, whereas my suggestion would catch it always (since i

[2016-07-03 08:05] ddorian opened #7609 "storage: use 1 RocksDB column family per table"
Since you store "table_id/index_id" on each key, therefore on each block-index, and the block-index ~must be in-memory so you can find fast the right blocks, and the shorter the index the more data you can fit in 1 node, I think it makes sense to compress the keys  or maybe even keep them in a Map(table_id/index_id, Map(block_index)) ?

Makes sense ?

[2016-07-03 13:34] FarYoung commented on #7478
I know what is the issue, It should wait ENOUGH time (more than several seconds) for the DROP process finish. @andreimatei
Thanks for your support.

[2016-07-03 15:44] FarYoung commented on #7478
Sorry, after further test,  issue still there. @andreimatei

root@192.168.100.3:26257> SELECT rowid FROM neo_study.logon;
+--------------------+
|       rowid        |
+--------------------+
| 155587904333938689 |
| 155587914360586241 |
| 155588334399225857 |
+--------------------+
(3 rows)
root@192.168.100.3:26257> DROP TABLE IF EXISTS neo_study.logon;
driver: bad connection
root@192.168.100.3:26

[2016-07-03 16:10] tschottdorf commented on #5967
@josephjacks Thanks for the ping, I just picked this up to play around a bit. Doubt I'll make it all the way, but I'll post some progress here.

[2016-07-03 19:29] nvanbenschoten commented on #7290
`MVCCMerge` seems to be somewhat incompatible with our current handling of `MVCCStats`. If we're unable to keep accurate stats during `MVCCMerge`s because the details play out asynchronously during RocksDB compaction, then a lot of the assumptions we make about accurate stats break down. Specifically, the optimization made in https://github.com/cockroachdb/cockroach/pull/4697 no longer works in al

[2016-07-03 19:49] nvanbenschoten commented on #4483
@mjibson The work with go-fuzz was primarily focused on pgwire v3 connection logic. Your mention of sulley makes me think that your original intention here was somewhat orthogonal to this. Do you think we should reopen this issue?

[2016-07-03 23:18] tschottdorf opened #7610 "cli: should be able to specify `--join` multiple times"
Instead of `--join "a,b,c"` we should equivalently accept `--join a --join b --join c` (or even phase out the first form). This is similar to how `--store` works.

The reason for this suggestion is that it's easier to create the command line args in an automated fashion.

[2016-07-03 23:58] tschottdorf commented on #7290
Yuck. I wish we could simply get rid of merges.

[2016-07-04 00:40] tschottdorf commented on #5967
Here's the promised update - it mostly just works (though it took me a while due to "first real contact" with kubernetes and the usual DNS/networking issues).

See https://github.com/cockroachdb/cockroach/compare/tschottdorf/kubernetes-petset and the [rendered README](https://github.com/cockroachdb/cockroach/blob/tschottdorf/kubernetes-petset/petsettest/README.md). Nothing fancy (in particular one

[2016-07-04 00:49] petermattis commented on #7290
`MVCCComputeStats` accurately tracks stats for merges while `updateStatsOnMerge` only performs an estimate. In order to keep the optimization in #4697 valid we have to make these routines compute the same thing. We can't make `updateStatsOnMerge` accurate without making it slower, but is there any difficulty in making `MVCCComputeStats` compute the same stats for merges as `updateStatsOnMerge`? Th

[2016-07-04 00:52] petermattis commented on #7609
@ddorian RocksDB, the low-level KV storage engine we use, performs prefix compressions which is a generalized form of the optimization you're describing. That's assuming I've understood you correctly.

[2016-07-04 00:56] petermattis commented on #1779
I haven't looked at `zap` (yet, I will), but I'm very anxious about structured logging. I think it is some imaginary beast developers chase after. We chased it ourselves for a while.

[2016-07-04 01:10] tbg opened #7611 "storage: leaseholder-collected mostly accurate replicated stats"
Thought about this at some point during recent discussions on metrics. Not sure we need this at this point, but wanted to write it down. It's probably also the "obvious" way to do it.

Say, for example, we want relatively accurate per-Range MVCC read statistics. Reads are served locally from the lease holder, so there's no Raft traffic involved. Yet, we somehow want to track them over long periods

[2016-07-04 01:35] bprashanth commented on #5967
Great! Yes please add it as an example. Open up a pr in the main kubernetes repo under https://github.com/kubernetes/kubernetes/tree/master/examples and tag me.

If you think it's actually stable we can even start e2e testing it, we already do so for a few petsets like zookeeper. Daemonsets will work if you're not actually trying to use containers for the main reason most people use containers (mu

[2016-07-04 01:36] bprashanth commented on #5967
bleh, i meant cockroachdb :)

[2016-07-04 03:12] tschottdorf commented on #5967
I was only able to run it locally via `minikube` (is there a way to run 1.3 on google container engine?).
Local storage would be nice. But I guess all databasey-looking pieces of software want that, so the thread is probably saturated.

Opened a PR: https://github.com/kubernetes/kubernetes/pull/28446

[2016-07-04 03:13] tschottdorf commented on #5967
Oh, and ee tests would be nice. From a CockroachDB perspective, there's really nothing happening here that wouldn't happen in our other tests (maybe some slight differences in the networking layer), so it'd be good to give that a shot (though I'm sure reality will find a way to break things).

[2016-07-04 03:42] onlyjob opened #7612 "cmux: needless fork?"
As reported in https://github.com/soheilhy/cmux/issues/26 and https://github.com/coreos/etcd/issues/5860:
[github.com/cockroachdb/cmux](https://github.com/cockroachdb/cmux) is a fork of actively maintained [github.com/soheilhy/cmux](https://github.com/soheilhy/cmux).

Needless forking is harmful. Perhaps both projects could join efforts and benefit from working together?

Besides it is not even po

[2016-07-04 06:04] ddorian commented on #7609
@petermattis Yes it does. Underneath data is separated in blocks of xKB and each block is compressed.

For each block is saved the start+end key separately so you know which block to read from and decompress (calling this the block-index).

So I mean prefix-compressing the block-index keys, since each range of X MB, will have only blocks of 1 table/index (because you split ranges when a new table

[2016-07-04 06:17] a6802739 commented on #7611
@tschottdorf, I want to fix this issue. I'm using cockroachdb in my program, it's a fantastic program, I want to contribute some code in this program.

[2016-07-04 16:42] knz opened #7613 "stability: cannot (re)start 6-node cluster"
Reported by @LorenzoBoccaccia on Gitter.
- cluster was set up initially with 3 nodes, then 3 more nodes were added
- after a sequence of shutting down and restarting nodes, the cluster is borked:
  - nodes do try and succeed to connect to each other via gossip and determine cluster ID; however
  - system config not gossiped properly
  - strange errors in log.

For example, on node 1:

[code]

Rang

[2016-07-04 20:00] tamird commented on #7612
There was a long period of working together (https://github.com/soheilhy/cmux/pulls?q=is%3Apr+is%3Aclosed+author%3Atamird). At some point, after fixing many bugs upstream, I came to feel that working with upstream was more grief than it was worth; here's one long back-and-forth where we disagreed https://github.com/soheilhy/cmux/pull/19#discussion_r54335867.

The divergence between upstream and ou

[2016-07-04 20:00] #7612 closed

[2016-07-05 00:51] onlyjob commented on #7612
Fair enough. But since you maintain independent fork could you enable bug tracker please?

[2016-07-05 01:03] tamird commented on #7612
Done.

[2016-07-05 03:19] a6802739 commented on #7495
so we can remove `range_tree.go` and `range_test.go`. In function adminsplit  and adminmerge we should also remove the operate with rangetree, right?

[2016-07-05 04:21] onlyjob commented on #7612
Thanks! :)

[2016-07-05 08:48] LorenzoBoccaccia commented on #7613
I've recreated the cluster step by step afresh and it works. One thing I remember doing differently is that at the beginning I've created and started the three original nodes on their own, as per the tutorial, and then reused those nodes to join the master without cleaning the cockroach-data folder.

[2016-07-05 10:37] ddorian commented on #7609
Also, since a range will have only data about one table/index, then all the keys inside that range will have table-id/index-id prepended. Even though this is compressable, it will still consume space on ram before writing immutable block to disk and on commitlog.

So it's probably better to remove the table-id/index-id also from the keys and not just from the block-index.
This way the table-id/ind

[2016-07-05 10:39] ddorian opened #7615 "sql: ability to fix tables to 1 column-family"
This way, you won't have to store family-id/column-id on each key, since the whole table will have 1 column-family and 1 row-version will be guaranteed to be in 1 kv.
This should make the keys in commit-log, cache, memory, block-index, etc smaller.

[2016-07-05 11:53] petermattis commented on #7570
You're correct. I can't think of any easy way to deal with transactions for which the transaction key does not lie on the system config range. We can't rely on intent resolution happening in any deterministic time frame.

[2016-07-05 11:58] petermattis commented on #7615
From the [column families RFC](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/sql_column_families.md):

If you put all of the columns in a table into a single column family the `/<familyID>` suffix for the key won't be stored, effectively providing the optimization you're proposing.

[2016-07-05 11:58] #7615 closed

[2016-07-05 12:05] petermattis commented on #7609
@ddorian I don't recall offhand if the block-index is prefix compressed or not, but assuming it is not, I'm not sure if it would be too important if it was. Blocks are currently configured to be 32KB in size while keys are on the O(100) bytes. Saving 2-3 bytes per key in the index would likely be in the noise.

Note that all of the keys in a CockroachDB cluster are in a "flat" namespace. And for a

[2016-07-05 12:11] petermattis commented on #7495
@a6802739 Yes, you would remove the maintenance of the range tree from splits and merges.

[2016-07-05 12:44] ddorian commented on #7615
I read the rfc and didn't spot it. sorry/thanks

[2016-07-05 13:04] ddorian commented on #7609
@petermattis I thought you were using 1 db/range.

Rocksdb has [plugable memtable](https://github.com/facebook/rocksdb/wiki/RocksDB-Basics#memtables). The default one is a skip-list. You can create a new memtable implemented like ex: Map<table_id, skiplist>. Each table will have 1 skiplist and you'll repeat table-id only once on each memtable.

Rocksdb has [plugable db-format](https://github.com/f

[2016-07-05 13:13] petermattis commented on #7609
We use 1 RocksDB instance per store. A store is usually a disk and contains thousands of ranges. Plugging in a custom memtable implementation and db-format would be "significant surgery" in my opinion. My guess is that the benefit would a few percent space savings at most. That doesn't seem worth it to me.

[2016-07-05 14:21] paperstreet commented on #7297
Did some initial digging last week, but forgot to update the issue:

- lowering both sentinelGossipInterval and DefaultGossipStoresInterval to be 1 second helps some (12.1s instead of 60.3s) but lowering only one of the two doesn't help
- adding an unconditional call to `r.maybeGossipFirstRange()` to `(r *Replica).changeReplicasTrigger` doesn't seem to help
- I skimmed a stacktrace from while it's

[2016-07-05 14:26] dt commented on #7561
Closed by #7584

[2016-07-05 14:26] #7561 closed

[2016-07-05 14:56] #3299 closed

[2016-07-05 15:28] tschottdorf commented on #7224
The plot is thickening. It looks like the descriptors we write are somehow messed up: when store 3 gets replica_id 2, we write a desc with replica_id=2. Meaning that we probably somewhere mix up replica_id and store_id. Which means that when store 3 gets its replica first, and then store 2, they will be mixed up - it should be (3,2) (2,3) but you get (3,3) (2,2). However, the in-memory state doesn

[2016-07-05 15:35] paperstreet commented on #7297
I think I've tracked this down to `(*replicateQueue).shouldQueue` switching from returning false to true. Now I've just got to figure out why...seems like this thread is pulling fairly easily

[2016-07-05 15:35] nvanbenschoten commented on #5235
With our current typing system, we do not allow comparison like `a > 1.5` and `a` is an INT without an explicit cast of `a` to a decimal-like data type. That said, the introduction of type inference means that this issue is much less pressing. Because constant literals will be typed in relation to their usage, our type system will attempt to type them homogeneously with the concrete type they are

[2016-07-05 15:35] #5235 closed

[2016-07-05 15:46] tamird commented on #7524
20 minutes, 40k iters and no repro. I'm at a loss.

[2016-07-05 15:46] tamird commented on #7462
I have not.

[2016-07-05 15:47] bdarnell commented on #7600
Segmented storage (#1866) would have eliminated a lot of these corner cases.

`SplitRange` is called via `batch.Defer`, so it really shouldn't be touching disk. Any on-disk changes it needs to make should happen earlier in `splitTrigger` so it can be atomic with the command batch.

Maybe `SplitRange` should drop and recreate the raft group, just like `setReplicaID` does.

Writing `HardState` in `w

[2016-07-05 15:51] tschottdorf opened #7619 "storage: outside-of-raft snapshots put consistency in jeopardy"
When we send a snapshot around outside of Raft (preemptive snapshot), we don't check whether the state we're overwriting is ahead of us.
This could lead to a replica being created, acknowledging progress, and then being reset through a snapshot.

Perhaps `canApplySnapshot` is a good place to check that. The necessary information should be deducible from the respective `HardState`s.

[2016-07-05 16:00] bdarnell commented on #7619
Specifically, there are some checks on the snapshot metadata in [`raft.restore`](https://github.com/coreos/etcd/blob/c7dd74d8d397faac444df23a9cafe1f0ae4be9c7/raft/raft.go#L899) which we don't do for preemptive snapshots. If there is data on disk we should check the term and index of the snapshot and drop it if it's older than what we already have.

Alternately, we could reorganize the checks in `h

[2016-07-05 16:04] petermattis commented on #7600
@bdarnell Given the subtleties involved here and @tschottdorf's busyness, can you take on this issue?

[2016-07-05 16:12] paperstreet commented on #7297
Aha! If I have the `r.maybeGossipFirstRange()` fix and lower the `DefaultGossipStoresInterval`, it goes down to 12 seconds. So it looks like I need to stick a call to `(*Node).gossipStores` somewhere as well

[2016-07-05 16:26] tschottdorf commented on #7297
Just curious, what if you lower the lease duration? Rebalancing the first range first replica (which is pretty much always the lease holder) comes with mandatory downtime (until we use a lease transfer).

What do you think the DefaultGossipStoresInterval has to do with it? Is that the frequency at which the first range gossip is triggered?

[2016-07-05 16:55] petermattis commented on #7524
I've been running `block_writer` locally in between builds when these failures have occurred. I wonder if there is some OS level resource that `block_writer` runs are exhausting.

[2016-07-05 17:03] bdarnell commented on #7524
I haven't confirmed this recently, but I've experienced severe performance degradation in either `connect()` or `accept()` locally on OSX, apparently based on the number of sockets that have been opened or closed in the last few minutes (this was in the context of an HTTP server benchmark that started out at 4k QPS and degraded to under 1k QPS after a few seconds when the client didn't reuse conne

[2016-07-05 17:17] tamird commented on #7462
Closing as a duplicate of #7524 which has more useful discussion.

[2016-07-05 17:17] #7462 closed

[2016-07-05 17:19] tamird opened #7621 "ui: move metrics string names to a protobuf enum"
This will reduce duplication and help avoid mistakes by automatically generating the correct string constants on the server and client.

[2016-07-05 17:39] tamird commented on #6616
More update: filed https://github.com/Microsoft/TypeScript/issues/9509.

[2016-07-05 17:44] tamird commented on #7520
Closing per #7534.

[2016-07-05 17:44] #7520 closed

[2016-07-05 17:50] knz commented on #27
I'm not sure this is happening in this way any more. Not planning to work on this soon.

[2016-07-05 17:51] knz commented on #27
cc @knz for later

[2016-07-05 17:57] paperstreet commented on #5259
I'm probably not going to be working on this anytime soon, so unassigning for now in case someone wants to pick it up.

[2016-07-05 18:02] knz commented on #5000
1) I'm not really comfortable with yaml for doing this; could you suggest why not using something more straightforward like JSON or at least something that does not make newlines mandatory?

2) how urgent is this? I'm rather far from this area of the product for now. @petermattis suggested to de-assign since I'm not planning to work on this in the next two weeks.

[2016-07-05 18:03] knz commented on #5920
(@knz) Not planning to work on this in the near future.

[2016-07-05 18:04] knz commented on #5935
(@knz) this performance anomaly did not show up much recently. Closing this since I do not plan to look into it. Let's reopen if ever applicable.

[2016-07-05 18:34] dt commented on #7395
judging by the issue history, this flakes with this timeout once or twice a month.

I'm inclined to leave it (and close this) for now since it is almost certainly just circleci having a bad day when it happens and we might be off circle in the near future, plus, since the point of this test is that it is running _upstream's_ tests, I hesitate to start modifying the tests themselves.

Re-open and c

[2016-07-05 18:34] #7395 closed

[2016-07-05 18:42] petermattis commented on #5000
The `cockroach zone` command already allows you to view the zone config for the cluster, databases and tables. We even have [docs](https://www.cockroachlabs.com/docs/configure-replication-zones.html). I don't think there is anything left to do here.

[2016-07-05 18:42] #5000 closed

[2016-07-05 18:43] tschottdorf commented on #7489
@BramGruneir: Assigned you. Should be relatively straightforward to tell once your queue tracing changes are in (you're running rebalances anyway, right :))

[2016-07-05 18:47] petermattis commented on #4192
@jseldess Did the docs get updated? I'm reassigning to you. Feel free to close if this is now adequately addressed in the docs.

[2016-07-05 18:48] BramGruneir commented on #7489
I'm excited to take a crack at it actually.  Want to see where the
bottleneck is.

On Tue, Jul 5, 2016 at 2:43 PM, Tobias Schottdorf <notifications@github.com>
wrote:

[2016-07-05 18:48] petermattis commented on #3529
@petermattis unassigning as I'm unlikely to address this soon.

[2016-07-05 18:48] petermattis commented on #6800
Closing as unreproducible.

[2016-07-05 18:48] #6800 closed

[2016-07-05 18:51] mjibson opened #7624 "sql: allow full HLC timestamps in time travel"
Allow the result of `cluster_logical_timestamp()` (a timestamp decimal) to be used as input in time travel queries. Needed for the dump command and other things that introspect over tables and then do queries at the HLC time the introspection happened at.

[2016-07-05 18:51] petermattis commented on #7018
@tamird the remaining issue here should be fixed by #7551. Feel free to merge with that issue.

[2016-07-05 19:00] tamird commented on #7018
Very good, closing in favour of #7551. 🔨  (that's the closest emoji to a gavel)

[2016-07-05 19:00] #7018 closed

[2016-07-05 19:09] tamird commented on #7524
https://github.com/grpc/grpc-go/pull/751

[2016-07-05 19:11] mjibson commented on #4483
My original hope was that we could hook go-fuzz up to our entire SQL test corpus to get some nice multi-message stuff going. The intro stuff you did seems great for some simple connection fuzzing. I think we can close this issue for now and someone can reapproach later if they want. But more testing would fuzz test things like prepared statements and query execution.

[2016-07-05 19:27] tschottdorf commented on #7224
The wrong plot thickened: The allocator tests were mixing two separate clusters and the panic was an artifact of RangeDescriptors in disagreement. https://github.com/cockroachdb/cockroach/pull/7625
Back to square one on this one. I'll at least put some more useful debugging in.

[2016-07-05 19:34] tschottdorf commented on #1779
Structured logging is no doubt useful and we better support it eventually, but this isn't primarily about structured logging but usability. Looks to me that we had a bad experience in the past mostly because we look at the screen most of the time (so that needs to look legible, which wasn't the case with our experiments) and because we tried to home-brew all of this stuff on top of a glog zombie,

[2016-07-05 19:55] tschottdorf opened #7628 "circleci: failed tests: TestRaceWithBackfill"
The following test appears to have failed:

[#19875](https://circleci.com/gh/cockroachdb/cockroach/19875):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-05 19:56] jseldess commented on #4192
@glycerine, sorry for the delay. It's true that the single line syntax works fine, and is more intuitive, for the case where you want to change to one replica. But I can't get that syntax to work for multi-replica cases. Neither of these work, for example:
[code]
Any ideas. Regardless, for the case where you want to change the default config to use one replica, I've updated the docs to use the sim

[2016-07-05 20:00] paperstreet commented on #7297
The DefaultGossipStoresInterval thing is (I think) an issue with how the test is setting everything up. I guess the important thing here is that the `r.maybeGossipFirstRange()` fix actually does address the first range gossip issue pointed out above.

So, what's left for this issue? Add that line and test it somehow? How would I write that test? Do we have all the necessary hooks?

[2016-07-05 20:07] tschottdorf commented on #7389
Closing as the issue is sufficiently handled (and the more fundamental aspects are discussed separately in #7600).

[2016-07-05 20:07] #7389 closed

[2016-07-05 20:11] tschottdorf commented on #7297
It should be possible to set up a three-node cluster, wait for initial
replication of the first range, and then to disable the replication queue
and to downreplicate so that the first range leader disappears.
Subsequently we should be able to verify that the first range gossip
updates accordingly in a short amount of time (and once we have lease
transfers, we can check more).

On Tue, Jul 5, 2016

[2016-07-05 20:22] jseldess commented on #4192
Disregard that last comment. Realized first one works fine:
[code]

[2016-07-05 20:28] tamird commented on #7628
#7154.

[2016-07-05 20:28] tamird commented on #7628
Oops, this is a distinct failure.

[2016-07-05 20:36] #4192 closed

[2016-07-05 20:41] cuongdo commented on #6991
I brought back the registration cluster with a newly initialized cluster so that new data will continue to be recorded.

The prior data has been moved to `/mnt/data/backup-20160705` on each machine. I wasn't able to reliably bring up any subset of the cluster to perform a SQL dump, so recovery of the existing data will need to wait until #7598 goes in..

Re-bootstrapping the cluster took longer th

[2016-07-05 20:44] petermattis commented on #6342
Replicated with `make stress PKG=./storage TESTS=TestBaseQueuePurgatory`:

[code]

[2016-07-05 21:20] #6585 closed

[2016-07-05 21:28] d4l3k commented on #4868
For diversity constraints we could use something like https://github.com/Knetic/govaluate which would let people specify arbitrary math/boolean logic strings. It would let us do things like `us_east && !hdd`.

Also would allow for even more flexible queries by passing numerical values about the state of the node. For example: `avg_ping < 100 || store_replica_count < 100 || free_disk > 1000000000`.

[2016-07-05 21:28] tschottdorf opened #7630 "circleci: failed tests: TestReplicateRemovedNodeDisruptiveElection"
The following test appears to have failed:

[#19881](https://circleci.com/gh/cockroachdb/cockroach/19881):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-05 21:44] tschottdorf commented on #7600
But Raft can't know, right? It's our job here to set a commit index to mark that this range contains data (which we just put there disregarding what was there before). We also can't simply create the RHS of the split since the "uninitialized" RHS cannot accept snapshots. So we must effectively absorb whatever already exists. It's this "absorbing" that we don't handle at all (it probably worked bef

[2016-07-05 22:04] tschottdorf commented on #7600
FWIW, this diff fixes it (the crucial part are calls to `Destroy()` which mean that the other replica can't clobber the updated HardState back before it gets removed by the call to `store.SplitRange` (which happens too late).

[code]

[2016-07-05 22:21] tschottdorf opened #7631 "circleci: failed tests: TestMultinodeCockroach"
The following test appears to have failed:

[#19887](https://circleci.com/gh/cockroachdb/cockroach/19887):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-05 23:03] petermattis opened #7632 "storage: add raft invariant checks"
Raft has certain invariants that we shouldn't break. For example, `raftpb.HardState.Commit` should not move backwards. We could do a better job at asserting these invariants in our code, not at the `Replica` level, but down at the storage level. Possibilities:
- We could post-process the RocksDB WAL entries after a test has completed and verify that no raft invariants have been violated.
- We coul

[2016-07-05 23:04] petermattis opened #7633 "storage: use `go test -cover` to find significant untested code paths"
[code]

Targeting 100% code coverage is excessive, yet there is interesting fruit to be plucked here. Some of this code is likely covered by tests in other packages, yet this code is important enough to system stability that we should have targeted tests of significant code paths.