[2017-05-30 09:24] TomArbuckle commented on #16168
Info.

- Schema is attachment in problem report (sql.txt). I do "CREATE DATABASE CIP;" manually in a cockroach sql node (which I try to remember to close) before the application starts so it's not included.
- @tschottdorf Yes, HAProxy can be eliminated to reduce the problem. (My suspicion is that my application uses 10 threads for calculations (including connections), the jdbc driver can have more

[2017-05-30 12:11] RaduBerinde commented on #16168
@TomArbuckle to enable tracing, set `COCKROACH_ENABLE_TRACING=1` env var on each host. Recent traces can be seen at `127.0.0.1:8080/debug` (`requests` link).
If accessing `/debug` from another machine, a cluster setting needs to be changed through SQL: `SET CLUSTER SETTING server.remote_debugging.mode = 'any';`

[2017-05-30 12:17] TomArbuckle commented on #16168
@RaduBerinde Got it. Thanks for this. Continuing ...

[2017-05-30 12:30] RaduBerinde opened #16202 "cli: mechanism to set initial cluster settings"
When setting up a "fresh" local cluster (either single-node, or via `roachdemo`), it would be useful to be able to somehow set initial cluster settings (like `server.remote_debugging.mode`). It could be a command line switch or env var which causes the node to run `SET CLUSTER SETTING` after joining the cluster.

[2017-05-30 12:36] RaduBerinde commented on #16202
Ah, I guess one can just do something like this:

[code]

[2017-05-30 13:10] dt commented on #16202
dupe #15301 ?

[2017-05-30 13:27] dt commented on #16202
Also, if you didn't want to be dependent on sleeping the magic number of seconds, you could do `./cockroach start  --background && ./cockroach sql -e "SET CLUSTER SETTING server.remote_debugging.mode = 'any';"`, since `--background` is supposed to block until startup is complete.

Taking that even further, If you wanted to be *sure* your cluster was using your new settings before moving on to serv

[2017-05-30 13:27] tschottdorf commented on #16200
[code]

fuller stack trace:

[code]

[2017-05-30 13:28] tschottdorf commented on #16199
#16200

[2017-05-30 13:28] #16199 closed

[2017-05-30 13:29] tschottdorf commented on #16201
bad clocks.

[2017-05-30 13:29] #16201 closed

[2017-05-30 13:29] tschottdorf commented on #16194
bad clocks.

[2017-05-30 13:29] #16194 closed

[2017-05-30 13:34] tschottdorf commented on #16179
first node:

[code]

second and third node roughly:

[code]

Not sure what's going on. This isn't something we've potentially fixed, or is it?

[2017-05-30 13:48] a-robinson commented on #16179
I don't think we've fixed this in the last few days, no.

[2017-05-30 13:57] RaduBerinde commented on #16202
Ah, thanks, I looked for an issue but did not find #15301. Closing.

[2017-05-30 13:57] #16202 closed

[2017-05-30 13:57] a-robinson commented on #16162
It certainly is possible to kill and restart a cluster, but the cluster won't work on restart unless you start up at least a majority of the nodes that were in the cluster. Meaning that if you had a 3 node cluster and shut them all down, you'll need to restart at least two of the nodes before either of them will be able to do anything.

Using the `--background` flag can make this a little confusin

[2017-05-30 14:21] jordanlewis commented on #16169
Thanks for the report - it does look like `GRANT` on a missing user implicitly creates the user.

[2017-05-30 14:28] mberhault commented on #16169
Odd, this used to be on purpose.
Before password authentication was added, users using client certificates did not need an entry in the users table.
Now it seems we always check that a user exists, even when using client certs.

Personally, I this we should relax this and let cert-based clients authenticate.
I realize this is different from postgres, but this is a case where I think they got it wr

[2017-05-30 14:59] knz commented on #16168
Yes these queries can hardly be optimized automatically for now. We're probably going to look at outer joins some time this year but the combined stack of 7 joins together with window functions will only become fast and lean (especially in memory usage) much later, next year at the earliest. I think it may be worthwhile to brainstorm a little about how to rewrite them. We're not technically offeri

[2017-05-30 15:29] #8719 closed

[2017-05-30 15:30] cuongdo opened #16206 "server: failed to run migration "create system.jobs table""
https://sentry.io/cockroach-labs/cockroachdb/issues/270615506/

This fatal error happens during the setup phase of `TestRebalance_3To5Small`:
[code]

For some reason, the only nightly test this has affect is the [Allocator Test 3 to 5 10G test](https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockroach_AllocatorTest3to510g&tab=buildTypeHistoryList&branch_Cockroach_Nightlies=__all_branche

[2017-05-30 15:43] bdarnell opened #16207 "server: Log memory info at startup"
We've had a number of users report crashes that appear to be caused by running out of memory (either explicit failures to allocate more memory or logs that end abruptly because the process was terminated by the OOM killer). We often have to ask these users how much memory they've allocated to the VM even after they've sent us their logs. We should collect this information in the logs automatically

[2017-05-30 16:15] vivekmenezes commented on #16182
@dt the index being created is placed in the mutation queue in the DELETE_ONLY state. I suspect we need to lookup the mutation queue while looking up the index for the foreign key.

[2017-05-30 16:16] andreimatei commented on #15947
Are you sure `MaxInt64` is better than 0? To me, 0 is a more natural sentinel. When I start seeing `MaxInt64` in plans and such, it looks like garbled text and I wonder where it came from. Using 0, you have to check for it everywhere, of course, but with `MaxInt64` you sometimes need to worry about overflow, and if you forget to do that, you can get in big but subtle trouble. And you also need to

[2017-05-30 16:18] knz commented on #15947
@petermattis care to chime in and answer Andrei? You proposed this change in the first place.

@andreimatei it goes without saying that if we perform this change the distsql code needs to be updated as well.

[2017-05-30 16:29] petermattis commented on #15947
@andreimatei Yes, it is nice to have 0 mean something useful, but doing so can cause awkwardness in interpreting the limit. The purpose of this change was to transform:

[code]

into:

[code]

[2017-05-30 16:43] TomArbuckle commented on #16168
@knz Thanks for going through the data so far -- and for offering to take a look.

My understanding is that this application gathers statistics on itself regularly, as well as doing housekeeping jobs. Multiple users can be entering data independently and having a summary of that data can be useful. For example, 'When was any instance of a particular type of data last updated?' or 'How many instanc

[2017-05-30 16:52] knz commented on #16168
Can you explain here what the join on `i0` (`recordnumber3`) is achieving? It does not seem like you need this to proceed. What would be wrong with

[code]

[2017-05-30 16:59] andreimatei commented on #15947
I saw that line of code that prompted this. I was saying that I don't think it's so bad :). If it's burdensome in the context of a particular function, perhaps we can turn the 0 to MaxInt64 just in the context of that particular function.

[2017-05-30 17:05] mberhault commented on #16169
Discussed this a bit offline.
My proposal risks being surprising to a lot of users. Additionally, creating a user entry when creating certificates is pretty low overhead.
Thus, we should require all users to have an entry in the users table. Any operations involving users (for now I think it's just `grant`, `revoke`, and `show grants`) should fail on non-existing users.

Someone from the sql side

[2017-05-30 17:12] TomArbuckle commented on #16168
Yes. I agree.

The system is generating these automated queries -- and, in this case, the SQL is more complex than necessary. However, for other queries not shown, I believe this level of complexity is necessary. It's just that the code template used to generate the queries doesn't change.

Another way to say the same thing, if I were doing the queries manually, I would use what you suggest. I don

[2017-05-30 17:16] spencerkimball commented on #15687
`10m` is a very high timeout. This might break the Jepsen tests, where we routinely see an RPC lost in a network partition, a new Raft leader elected, and the code in `DistSender` is expected to retry and find that new leader to complete the original request. `10s` would be far more appropriate.

[2017-05-30 17:21] bdarnell commented on #15687
10m is intended to test the hypothesis that we can remove this timeout completely - if setting it to a high value causes problems, we want to know about it so we can see if there are better ways of handling them than this timeout. In the network partition scenario you describe, the GRPC connection health checking should abort the connection well before we'd hit a 10s timeout.

[2017-05-30 17:27] RaduBerinde commented on #15194
PR #15829 made some improvements to the way we allocate decimals, an updated profile might be more useful now.

[2017-05-30 17:58] tamird commented on #14628
This is now (better) tracked in #16206.

[2017-05-30 17:58] #14628 closed

[2017-05-30 18:38] knz opened #16211 "sql: report logical query plans to our reg server"
We already have per-statement statistics that report execution times etc. However the data about statements is so scrubbed when it reaches our reg server that we can't construct the logical plan any more from the statements. It makes it hard to investigate:

- which query plans are most used
-  how complex query plans become in practice
- which operators are most used
- which ordering properties w

[2017-05-30 18:39] knz commented on #16211
FWIW there's already a rudimentary "planToString" method already implemented on top of the plan walker interface. The underlying mechanism for pretty-printing should be reused to produce a scrubbed serialization of a query plan suitable to serve as bucketing key.

[2017-05-30 18:57] petermattis commented on #16192
@irfansharif Was this fixed by #16187?

[code]

[2017-05-30 19:09] mberhault commented on #16169
@cdo for assignment.

[2017-05-30 19:32] vivekmenezes opened #16213 "sql: truncate while converting an HLC timestamp to a SQL microsecond timestamp"
We currently round an HLC timestamp when converting it to a SQL microsecond timestamp. This can result in SQL at times seeing a timestamp in the future when we round up. It might be better for us to always truncate the timestamp with SQL seeing a timestamp in the past. Care must be taken
to check what postgres does when parsing nanosecond timestamps presented as strings.

[2017-05-30 19:36] #16207 closed

[2017-05-30 19:51] dt commented on #16182
I think the issue that after `CREATE INDEX` returns successfully, a subsequent statement thinks it can assume the index exists and use it, but that's not true since we've only queued it?

[2017-05-30 20:02] tschottdorf opened #16216 "storage: have to copy GC thresholds to RHS on split"
We don't appear to be seeding the new RHS of a split with the `GCThreshold` and `TxnSpanGCThreshold` of the LHS. This means that queries which are disallowed on the LHS can run after a split on the RHS, returning incomplete data.

You'd have to run queries close to the TTL (~24h by default) so it's not extremely likely for folks to run into this, but it's a serious bug nonetheless.

In addressing

[2017-05-30 20:32] #15620 closed

[2017-05-30 20:45] a-robinson commented on #16206
Ugh, this looks like a dumb mistake that I should have caught in code review. Thanks for triaging!

[2017-05-30 20:51] cockroach-teamcity opened #16220 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#260418](https://teamcity.cockroachdb.com/viewLog.html?buildId=260418):

[code]
Please assign, take a look and update the issue accordingly.

[2017-05-30 20:52] justinj commented on #2115
Hi @MehSha, @kulshekhar, @tlvenn, @jhartman86, @amangoeliitb, @kajmagnus, @beldpro-ci, @thearchitect, @yinhm, @nickjackson, @arypurnomoz, @mbertschler, @sudhakar, @tlvenn, @bkleef, @domnulnopcea, @iamcarbon, @muesli, @heiskr, @arduanov, @daliwali, @manigandham since you expressed interest in this issue, I was wondering if you had any insight you could share on how you plan to use arrays within Coc

[2017-05-30 21:31] kevincox commented on #2115
TL;DR I use arrays to contain "tags" which I almost exclusively query to see if some value is in the array of tags.

Most of my array usage is checking membership. For example I have short arrays of small data (numbers or small strings) and I do a query if x is a member of that array. Ocasionally I will return the whole set of array elements in a query.

My second most common use case is a small s

[2017-05-30 21:39] jordanlewis commented on #16170
Hmm, I can't reproduce this issue using your code snippet. If you have time, could you provide a reproduction starting from an empty database?

[2017-05-31 01:15] vivekmenezes commented on #16182
I'd assume so. It's definitely only queued up as a mutation for sure. A lot of schema code is okay with it being queued up but perhaps the FK doesn't check

[2017-05-31 04:20] zopyx commented on #16170
hm...I also can no longer reproduce this error with a fresh database...weird...but it was there :-)
Let's close this for now.

[2017-05-31 04:21] rumyantseva opened #16223 "Kubernetes: cockroachdb/cockroach-k8s-init image is too old to deal with domains"
I was installing cockroachdb to kubernetes v1.5.6 and found a problem.

I used [this instruction](https://github.com/cockroachdb/cockroach/blob/master/cloud/kubernetes/) and found that the file [cloud/kubernetes/cockroachdb-statefulset.yaml](https://github.com/cockroachdb/cockroach/blob/master/cloud/kubernetes/cockroachdb-statefulset.yaml) contains this part of code:

[code]

The image `cockroachd

[2017-05-31 05:12] kulshekhar commented on #2115
I mainly use these fields with queries. When I have to use the data from an array field, I normally parse it in the application.

I have applications with Array field size ranging upto 20000 elements

GIN indexing does it for me

The main use case is application level ACL - arrays allow row level permissions to be managed in a flexible and performant manner. It would also work better than joins in

[2017-05-31 05:38] heiskr commented on #2115
I'll _join_ in, why not? :)

Querying using ANY.

Not unbounded, rarely more than a list of dozen IDs or so.

I'm not at the scale where that matters... yet ;)

I'm not a 3rd normal form queen, just as long as I don't have duplicate data. I'm actually transitioning from NoSQL, so even just having a schema is a step in the traditional route. In these tables I'm storing versions of things, and the r

[2017-05-31 06:15] kulshekhar commented on #2115
I would agree with this. `jsonb` could also be used for arrays

[2017-05-31 06:35] cockroach-teamcity opened #16225 "server: TestAdminDebugRedirect failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0bf5973c239ed35e63df9753f61957c39e5e0925

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=260682&tab=buildLog

[code]

[2017-05-31 07:08] mjibson opened #16226 "sql: RSG parse format not idempotent"
`rsg_test.go:294: Parse followed by Format is not idempotent: "EXPLAIN (OVERLAY, IS, CROSS, REGPROCEDURE, INT) ALTER TABLE \"real\".\"decimal\".explain.* SPLIT AT ((((TABLE ident ORDER BY placeholder DESC LIMIT -375))))" != "EXPLAIN (OVERLAY, IS, CROSS, REGPROCEDURE, INT) ALTER TABLE \"real\".\"decimal\".explain.* SPLIT AT ((((TABLE ident ORDER BY placeholder DESC LIMIT - 375))))"`

[2017-05-31 08:14] cockroach-teamcity opened #16227 "storage: TestRemovePlaceholderRace failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0bf5973c239ed35e63df9753f61957c39e5e0925

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=260914&tab=buildLog

[code]

[2017-05-31 08:22] daliwali commented on #2115
`unnest`. also array operators `array_cat`, `array_append`, `array_remove`, `array_length`, etc. I wouldn't be replacing entire arrays.

Arbitrarily large, perhaps up to the row size limit.

I haven't had a use case that would benefit from indexing array columns yet.

Better read performance and less joins, more flexible data modelling.

[2017-05-31 12:06] tschottdorf commented on #16170
Thanks for the heads up!

[2017-05-31 12:06] #16170 closed

[2017-05-31 12:20] tschottdorf commented on #16227
Cc @irfansharif

On Wed, May 31, 2017, 04:14 cockroach-teamcity <notifications@github.com>
wrote:

-- Tobias

[2017-05-31 12:21] tschottdorf commented on #16225
Clocks

[2017-05-31 12:21] #16225 closed

[2017-05-31 12:56] TomArbuckle commented on #16168
@knz I was thinking about your question concerning these queries.

When I was working to get this application running with cockroachdb, I
turned off some optional functionality. This allowed me to omit some
tables, views (with complicated definitions) and indexes not present in
the current reported schema.

Therefore, without looking in detail into the application code, I
believe what we're seeing

[2017-05-31 12:57] eldos-dl opened #16228 "sql: casting timestamptz to timestamp not respecting timezone"
**BUG REPORT**
Version:
[code]
Code:
[code]
Expected behaviour: Conversion of timestamptz to timestamp is expected to respect time zone as Postgres does that.

[2017-05-31 13:02] TomArbuckle commented on #16168
The procedure for the tests.

- Start CockroachDB (empty data directory).
- Create a DB: cockroach sql --insecure -e "CREATE DATABASE CIP;"
- Verify creation: cockroach sql --insecure -e "SHOW DATABASES;"

- Start the application to add around 1000 records, possibly checking to see how many were present using SELECT calls.

- Add 9000 small records more in a single thread and observe the system. T

[2017-05-31 13:12] TomArbuckle commented on #16168
Test without HAProxy.

$ cockroach start --insecure --host=localhost --store=node1 --max-sql-memory=1G --cache=1G --port=26257 --http-port=8081 --background --vmodule=executor=2

Tracing is on. [export COCKROACH_ENABLE_TRACING=1 ]

![screen shot 2017-05-31 at 11 40 03](https://cloud.githubusercontent.com/assets/25199520/26633060/110b2ddc-460a-11e7-8916-035d94ad5942.png)

Screenshot of start, addin

[2017-05-31 13:12] TomArbuckle commented on #16168
![screen shot 2017-05-31 at 12 06 18](https://cloud.githubusercontent.com/assets/25199520/26633237/a3c2ef2a-460a-11e7-95d1-5743bc7ee049.png)

Screenshot shows end of adding data (11.01), killing of application (11.04) and thread continuing afterwards. lsof shows connections in CLOSE WAIT state.

[2017-05-31 13:17] TomArbuckle commented on #16168
Max load ws around 500% (5 cores).
Max memory requirement was around 1.61Gb. (No memory pressure on this machine.)
Total time to add 9000 records around 25 minutes.
No reports of timeouts (with direct connection, no HAProxy).

Continued ...

[2017-05-31 13:20] TomArbuckle commented on #16168
Test with HAProxy

HAProxy is started to front a one node cluster and connections go through HAProxy to CockroachDB.

cockroach start --insecure --host=localhost --store=node1 --max-sql-memory=1G --cache=1G --port=26258 --http-port=8081 --background --vmodule=executor=2

Tracing is on.

![screen shot 2017-05-31 at 12 36 20](https://cloud.githubusercontent.com/assets/25199520/26633517/952c1f58-460b

[2017-05-31 13:24] dt opened #16229 "*errors.errorString: runtime.errorString panic.go:63"
https://sentry.io/cockroach-labs/cockroachdb/issues/283776042/

[code]

[2017-05-31 13:25] TomArbuckle commented on #16168
![screen shot 2017-05-31 at 12 53 27](https://cloud.githubusercontent.com/assets/25199520/26633765/5cfb0d6e-460c-11e7-9a5f-36d05540d654.png)

Here the application has had to be killed. Load is approaching 11.00 and all 8 cores are maxed out. Memory requirement remains around 1.6GB. lsof shows CLOSE WAIT or CLOSE connections piling up.

It eventually takes six minutes for CockroachDB to become quie

[2017-05-31 13:31] dt commented on #16229
looks like as of v1.0, `distsql_physical_planner.go:433` read
[code]

So I'm guessing an NPE on either `replInfo` or `NodeDesc` ?

[2017-05-31 13:37] RaduBerinde commented on #16229
Dup of #16127.

[2017-05-31 13:37] #16229 closed

[2017-05-31 13:38] RaduBerinde commented on #16127
#16229 happens in a different context (CreateBackfiller) but it's the same crash.

[2017-05-31 13:41] RaduBerinde commented on #16229
Yes, the stack trace is indeed different, I made a note of that in #16127.

[2017-05-31 13:43] TomArbuckle commented on #16168
I believe there are two overlapping issues here.

1. as already identified, how things like LEFT OUTER JOIN are to be handled;
2. what happens with mid-calculation connections being closed, likely easier to solve.

Anyway, over to you guys ...

[2017-05-31 14:10] eisenstatdavid commented on #16226
The discrepancy here is the space between `-` and `375` in the limit clause. It's unclear to me how the space got omitted on the first `Format`.

[2017-05-31 14:57] eisenstatdavid commented on #16226
Still scratching my head. I'll send a PR to show the original string too so that we can repro next time.

[2017-05-31 15:18] tschottdorf opened #16232 "sql: EXPLAIN (TRACE) computes negative cumulative times"
Mainly cosmetic, but definitely deserves a fix. Observed by @Freeaqingme on gitter.
@RaduBerinde for triage. Could also be a good easy issue for an external contributor.

[code]

[2017-05-31 15:24] cockroach-teamcity opened #16233 "teamcity: failed tests on release-1.0: acceptance/TestDockerC, acceptance/TestDockerC/Success"
The following tests appear to have failed:

[#261037](https://teamcity.cockroachdb.com/viewLog.html?buildId=261037):

[code]
Please assign, take a look and update the issue accordingly.

[2017-05-31 16:07] #16192 closed

[2017-05-31 16:23] jordanlewis commented on #16226
Can we give the RSG a random seed so we can reproduce runs?

[2017-05-31 16:41] tschottdorf commented on #16232
easy repro on local single node cluster (the schema and query here probably don't matter at all).

[code]

[2017-05-31 16:47] tschottdorf commented on #16080
@mattiasmak as a follow-up, https://github.com/cockroachdb/cockroach/issues/16097 has been addressed, which means that the window of vulnerability in these three-node clusters has been somewhat reduced (though losing a quorum is still not acceptable). It will be available in 1.0.2.

I'll close this issue, but feel free to ping back with any updates.

[2017-05-31 16:47] #16080 closed

[2017-05-31 16:52] RaduBerinde commented on #16232
Lol, I scratched my head for a bit. Can you find waldo?

[code]

[2017-05-31 16:53] #9806 closed

[2017-05-31 16:55] andreimatei commented on #16232
I can! It's wrongly setting `n.earliest`. I'm trying to get the session tracing stuff out today and then the explain-trace node can go.

[2017-05-31 16:57] petermattis commented on #15797
@tschottdorf I'm going to bump this issue over to you as you're more familiar with this area of the code than I am. #15863 clearly isn't the right approach.

[2017-05-31 17:54] #16227 closed

[2017-05-31 18:01] a-robinson commented on #16223
Thanks for raising this issue, @rumyantseva! I wish Docker Hub comments would notify me. I'll rebuild the `cockroach-k8s-init` image with the new peer-finder.

[2017-05-31 18:11] cockroach-teamcity opened #16237 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order"
The following tests appear to have failed:

[#261238](https://teamcity.cockroachdb.com/viewLog.html?buildId=261238):

[code]
Please assign, take a look and update the issue accordingly.

[2017-05-31 18:26] mjibson commented on #16226
Not at the moment. The statement generator uses lots of random calls to determine which branch to take and how to generate datums, and there are many go routines running at the same time doing that. It'd have to be refactored to use a single random source per go routine, and print the seed for each.

[2017-05-31 19:04] a-robinson commented on #16223
And weighing in on (or contributing to) https://github.com/kubernetes/contrib/pull/2268 might help move upstream forward a bit faster. I had to build my own peer-finder locally since the upstream version has been ignored for so long.

[2017-05-31 19:49] Freeaqingme opened #16242 "ui: provide insight in current/measured clock offsets"
Is this a question, feature request, or bug report?

**FEATURE REQUEST**

Currently the --max-offset parameter exists to determine the maximum time offset any cluster member may have compared to the rest of the cluster. This was increased before going GA from 250ms to 500ms because in some cloud environments it's hard to get all nodes in sync, time wise.

Google uses a max of 7ms. In the [Cockroac

[2017-05-31 20:13] petermattis commented on #16242
@Freeaqingme Thanks for the report. We actually do track and export metrics for clock offsets, but we don't display these metrics on the admin UI. The `/_status/vars` endpoint shows all of our exported metrics (in prometheus format). The clock offset metrics are `clock_offset_meannanos` and `clock_offset_stddevnanos`.

[2017-05-31 20:43] mytototo commented on #14988
Thanks for the updates @sean-. This is great news!

Do you have any plans to support a minimalist UI for Vault inside the Cockroach UI?
I'm not talking about adding the Vault features in the Cockroach UI because it's not the purpose but just notice the end-user this is a Vault, data is encrypted and just point out the back-end types (approle, github, etc.) maybe?

[2017-05-31 20:53] #16223 closed

[2017-05-31 20:57] #16206 closed

[2017-05-31 20:59] tschottdorf commented on #15989
The current status is that we're seeing ~20k key requests in production and they're not so bad, taking a few milliseconds. Still, there might be some benefit to batching more here.

[2017-05-31 21:16] #15861 closed

[2017-05-31 22:16] cockroach-teamcity opened #16251 "teamcity: failed tests on master: test/TestSplitSnapshotRace_SnapshotWins"
The following tests appear to have failed:

[#261589](https://teamcity.cockroachdb.com/viewLog.html?buildId=261589):

[code]
Please assign, take a look and update the issue accordingly.

[2017-05-31 22:16] tschottdorf opened #16252 "perf: poor performance on small table without index, likely due to contention"
Not sure how actionable this is, but user @Freeaqingme reported very poor behavior in production with the following schema and queries. The main issue seemed to be contention from the full table scan associated with the first `SELECT` statement below, but the actual behavior was extremely bad. Adding an index on `webhostingServerFqdn` appears to have completely resolved the situation. When unhappy

[2017-06-01 00:45] petermattis commented on #16252
@spencerkimball Can you perform a bit of initial triage given your recent work on high contention scenarios?

[2017-06-01 01:00] petermattis opened #16257 "perf: investigate using rocksdb::ReadOptions::table_filter on regular reads"
When reading a versioned key, creating of a rocksdb iterator requires that rocksdb open every sstable that contains the key. Usually, we only care about reading the most recent version. For example, consider a key that has 5 versions:

[code]

In order to read `foo@t5` we have to open 5 sstables. If all we're interested in is `foo@t5`, we've done 5x the number of reads than the minimum necessary.

[2017-06-01 02:00] bdarnell opened #16258 "sql: Cannot decode collation key"
When indexing a collated string key and generating a conflict, I get an error `cannot decode collation key`. This is possibly related to the case-insensitive modifier in `en_u_ks_level2`.

[code]

This is a build from today's `master`:
[code]

[2017-06-01 02:07] bdarnell commented on #2473
There are still two places ([1](https://github.com/cockroachdb/cockroach/blob/d5794f981fc6ce3273108452b3077575b7f297ff/pkg/sql/parser/sql.y#L980), [2](https://github.com/cockroachdb/cockroach/blob/d5794f981fc6ce3273108452b3077575b7f297ff/pkg/sql/parser/sql.y#L2202)) in `sql.y` where we reference this issue in `unimplementedWithIssue`. We should probably create new issues for the remaining function

[2017-06-01 02:20] eisenstatdavid commented on #16258
This is #14166, not related to the modifier.

[2017-06-01 02:23] bdarnell commented on #16258
Thanks.

[2017-06-01 02:23] #16258 closed

[2017-06-01 05:37] rumyantseva commented on #16223
Thank you for the quick solution!
cockroachdb is the best! :)

[2017-06-01 06:34] cockroach-teamcity opened #16260 "sql: TestDistSQLRetryableError failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bfcedeba015297ad72bf6c5b1f0dc59ce9513d1e

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=261805&tab=buildLog

[code]

[2017-06-01 07:11] cockroach-teamcity opened #16261 "ccl/sqlccl: TestBackupAsOfSystemTime failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bfcedeba015297ad72bf6c5b1f0dc59ce9513d1e

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=261872&tab=buildLog

[code]

[2017-06-01 07:15] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/bfcedeba015297ad72bf6c5b1f0dc59ce9513d1e

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=261906&tab=buildLog

[2017-06-01 10:09] a6802739 commented on #16132
Could  I have a try for this? @tschottdorf

[2017-06-01 10:10] a6802739 commented on #16211
@knz , could I have a try for this?

[2017-06-01 10:18] a6802739 commented on #16018
@vivekmenezes  could I have a try for this?

[2017-06-01 10:20] a6802739 commented on #16216
@tschottdorf  I want to have a see on it, could I?

[2017-06-01 10:21] a6802739 commented on #15898
@a-robinson, I just want to know more about gossip, could I have a try for this?

[2017-06-01 10:43] knz commented on #16211
@a6802739 thanks for proposing! We'd welcome your help on this, but let's wait a little bit first. I think it would be good to discuss the design of this feature before we start implementing.

[2017-06-01 10:58] knz opened #16262 "sql: actively cancel queries when client connection drops"
Reported in #16168: if a long query is issued and the client connection is dropped, the query remains running in the background.

The problem with this is that some apps may issue a long query, timeout on the lack of result and close their connection, and open a new connection to try again, resulting in a mounting pile of queries that end up all slowing each other down and making the server less a

[2017-06-01 10:59] knz commented on #16168
I filed point 2 as #16262

[2017-06-01 11:58] jordanlewis commented on #16018
Thanks but we already have an ongoing plan and effort for this issue in house.

[2017-06-01 12:35] petermattis commented on #16262
To address 1, we'll need to have a separate goroutine that reads from the connection vs the one that executes queries. I think that is independent of #7775 (though I suppose it could be done at the same time). As long as we're deriving contexts correctly, we get 3 for free.

[2017-06-01 12:41] a6802739 commented on #16211
@knz, got it. Thank you very much.

[2017-06-01 12:45] a6802739 commented on #16020
@vivekmenezes  I want to dig into the part of `schema change`, could I have a try for this?

[2017-06-01 13:09] tschottdorf commented on #15989
I'll leave this as an external contributor / starter issue. The WriteBatches created by GC contain only `engine.Clear`, so it should be really difficult to get them large (right @petermattis?)

[2017-06-01 13:11] tschottdorf commented on #15832
Yeah, looks fine.

[2017-06-01 13:11] #15832 closed

[2017-06-01 13:15] tschottdorf opened #16263 "storage: support SSTable ingestion"
Umbrella issue for #16159.

- [x] determine whether it's worth jumping through hoops to move some of this
  code to CCL (testing complicated unless we soften the boundary some).
- [x] tests for maybeInline
- [x] fix up some locks
- [x] tests for maybeSideload
- [x] tests for replicaGC
- [x] tests for log truncation
- [x] test for snapshot's constructed Raft log entries (must be inlined)
- [x] impl

[2017-06-01 13:17] a6802739 commented on #16018
@jordanlewis  Thank you all the way.

[2017-06-01 13:21] tschottdorf commented on #16075
This could be a good (starter) issue for someone diving into core internals as the actual change would be fairly small, but a good understanding of proposer-evaluated KV is necessary (and obtaining it would thus be incentivized).

[2017-06-01 13:21] cockroach-teamcity opened #16264 "teamcity: failed tests on release-1.0:"
The following tests appear to have failed:

[#262119](https://teamcity.cockroachdb.com/viewLog.html?buildId=262119):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-01 13:21] tschottdorf commented on #14093
@petermattis am I correct in that this should now be 1.1? At least, says so elsewhere.

[2017-06-01 13:37] bobbymicroby commented on #14699
Hi guys, we have exactly the same table setup/ jdbc code and we received the same error. We have just build cockroach from master and we got :

```could not parse string "2017-6-1 16:19:7.904000 +3:0:0" as timestamp```

[2017-06-01 13:41] petermattis commented on #15989
The WriteBatches will contain every GC'd key. Depending on your table schema, keys may contain a significant fraction of the data.

@a6802739 this might be something good for you to tackle.

[2017-06-01 13:48] petermattis commented on #14093
Yes.

[2017-06-01 13:50] tschottdorf commented on #16132
@a6802739 this is more of an aspirational issue with a larger migration story - let's wait until this becomes current (if ever). Perhaps take a look at #15989 for now? Could use some help there.

[2017-06-01 13:54] tschottdorf opened #16266 "storage: transitive prerequisites are not always transferred on command cancellation"
https://sentry.io/cockroach-labs/cockroachdb/issues/284616795/

[code]

[code]

[2017-06-01 13:55] a6802739 commented on #15989
@petermattis, okay, I could try to tackle this.

[2017-06-01 13:56] jordanlewis commented on #14699
Hi @bobbymicroby, I have an open PR to address this - it should be included in an upcoming point release. JDBC generates timestamps in a funny way that we didn't expect, such as `0:1:7` - that's supposed to be expanded to `00:01:17`.

[2017-06-01 13:57] jordanlewis commented on #16264
[code]

[2017-06-01 13:57] tschottdorf commented on #15989
Thanks! The code lives in `gc_queue.go`. Seeing that the size of the created proposals should depend linearly on the size of the keys, you could track the key bytes and batch every time this exceeds a threshold (so that we roughly send X bytes of keys for GC in each batch).

[2017-06-01 13:58] tschottdorf commented on #16216
Yes, should be a fairly small code change. Make sure there's a test! We had a similar issue before when we didn't copy the LHS lease to the RHS, perhaps that test can easily be extended to also check GCThresholds. (we're talking about GC Threshold and TxnSpanGCThreshold here).

[2017-06-01 14:05] bobbymicroby commented on #14699
Hi @jordanlewis. Can you point to the branch of the PR so I can build it and try it locally ?

[2017-06-01 14:06] petermattis commented on #16257
I don't think `rocksdb::ReadOptions::table_filter` will work here. A `table_filter` allows excluding an sstable from consideration when an iterator is created. What we need is a new mechanism that allows excluding an sstable for consideration during `Seek/Next`.

[2017-06-01 14:10] a6802739 commented on #16132
@tschottdorf, thank you very much.

[2017-06-01 14:10] petermattis commented on #14581
@jordanlewis Didn't you already add `PREPARE` and `EXECUTE` support? Is there anything else to do here?

[2017-06-01 14:12] petermattis commented on #13808
@mberhault Is this still a problem with the hyper-v time sync fix?

[2017-06-01 14:15] jordanlewis commented on #14581
Yep, this is done. I do have another wishlist item related to this - an option in the sql shell or sql logic test framework that treats `PREPARE` and `EXECUTE` statements as pgwire commands and not SQL commands - but it's not a pressing need.

[2017-06-01 14:15] #14581 closed

[2017-06-01 14:20] bobbymicroby commented on #14699
I guess this is it :

https://github.com/cockroachdb/cockroach/compare/master...jordanlewis:timestamp-parse-issues

[2017-06-01 14:21] petermattis commented on #12680
@dt Does Sentry support something like this?

[2017-06-01 14:23] danhhz commented on #16161
@dt is exactly right here. The only thing I have to add is that this is currently targeted for the 1.1 release

[2017-06-01 14:23] jordanlewis commented on #14699
Yeah, but it's not complete. I was trying to finish it up this morning!

[2017-06-01 14:27] petermattis commented on #10275
@BramGruneir Is there anything left to do here? Perhaps worthwhile to file new issues about remaining work and close this down.

[2017-06-01 14:27] mberhault commented on #13808
That fix is more of a work-around. I'm still waiting for the new LIS to roll out. It's supposed to fix this (see a few comments above).

[2017-06-01 14:28] dt commented on #12680
Yeah, we can send arbitrary messages to sentry (they even have an API for collecting user submitted feedback forms), though wrapping them as errors is always nice to get stack traces (which is how sentry prefers to group things).

Maybe we want a`log.Reportf(msg, args ...interface{})` ?

[2017-06-01 14:29] bobbymicroby commented on #14699
Okay, i will watch it and try it when it is ready. Tnx a lot !

[2017-06-01 14:29] petermattis commented on #10038
@tamird Is there a concrete action here? If not, let's close.

[2017-06-01 14:34] tschottdorf commented on #14768
Would an ideal solution have the limiting sit on the incoming bandwidth and not the outgoing? I'm thinking of the case in which node 1 and 2 both send to node 3, but node 1 streams a snapshot while node 2 has foreground traffic. It would really have to be node 3 which backs off the other two; node 1 and 2 each would try to go at full speed without a chance of determining their relative priorities.

[2017-06-01 14:53] a-robinson opened #16267 "build: non-release builds are getting pushed to docker hub"
Something about our detection of which builds qualify as official releases isn't working properly, since it looks like CI builds against the release-1.0 branch are getting considered official releases and pushed to Docker Hub:

<img width="1298" alt="screen shot 2017-06-01 at 10 51 15 am" src="https://cloud.githubusercontent.com/assets/7085343/26685534/6f0e5266-46b8-11e7-8597-b5946e0dd2a6.png">

I

[2017-06-01 14:56] a6802739 commented on #15989
thank you   very   much!

[2017-06-01 15:11] petermattis commented on #9499
@vivekmenezes Race tests are slow by nature. I'm going to close this in the absence of something actionable.

[2017-06-01 15:11] #9499 closed

[2017-06-01 15:12] RaduBerinde commented on #15939
Hi @a6802739 - to work on this we need array encoding code to be in place. This is only in the RFC stage at this point (#16172).

[2017-06-01 15:22] andreimatei commented on #16262
This issue is part of @itsbilal's project, isn't it?

[2017-06-01 15:26] petermattis commented on #9284
@tschottdorf, @RaduBerinde Is there anything still to do here?

[2017-06-01 15:27] RaduBerinde commented on #9284
No, I think we have established helper methods and patterns for forking spans when necessary.

[2017-06-01 15:27] #9284 closed

[2017-06-01 15:27] petermattis commented on #9264
@BramGruneir Now that we have the interesting/problematic range page, is there anything left to do here?

[2017-06-01 15:28] vivekmenezes commented on #9499
SGTM

[2017-06-01 15:29] petermattis commented on #9105
The timestamp cache is now per store instead of per range making this issue unimportant.

[2017-06-01 15:29] #9105 closed

[2017-06-01 15:32] petermattis commented on #8990
@knz Now that we have `SHOW TESTING_RANGES`, is there anything left to do here?

[2017-06-01 15:32] jseldess opened #16268 "Can't restart 2 nodes of a 3-node local cluster"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

[code]

2. Please describe the issue you observed:

I followed the [`Start a Local Cluster`](https://www.cockroachla

[2017-06-01 15:35] petermattis commented on #8978
This is old and might no longer be an issue. We should verify and close.

[2017-06-01 15:35] knz commented on #16262
Not that I know, no. Bilal's project is about cancelling queries/sessions remotely (from another session), not reacting from a connection drop by a client.

[2017-06-01 15:36] dt commented on #16264
Hopefully fixed by https://github.com/cockroachdb/examples-orms/pull/28 ?

[2017-06-01 15:37] petermattis commented on #8595
@mrtracy Is there anything actionable to do here?

[2017-06-01 15:38] petermattis commented on #8832
Might be fixed by #16177.

[2017-06-01 15:40] petermattis commented on #8220
@tschottdorf Given your recent GC queue changes is there anything else to do here?

[2017-06-01 15:41] a-robinson commented on #16268
Update from @jseldess - this apparently doesn't happen on 1.0.1, only on master.

[2017-06-01 15:41] petermattis commented on #7931
@a-robinson This is already done, right?

[2017-06-01 15:43] petermattis commented on #7343
@mrtracy Is there anything left to do here?

[2017-06-01 15:44] petermattis commented on #7609
Closing because it is very unlikely that we'll switch to 1 column family per table-id at this point.

[2017-06-01 15:44] #7609 closed

[2017-06-01 15:45] a-robinson commented on #7931
We still don't split at `Meta1KeyMax`, but do split at `Meta2KeyMax` as of https://github.com/cockroachdb/cockroach/pull/14740.

[2017-06-01 15:45] #7931 closed

[2017-06-01 15:45] #6890 closed

[2017-06-01 15:47] knz commented on #8990
No indeed

[2017-06-01 15:47] #8990 closed

[2017-06-01 15:49] vivekmenezes commented on #16020
I appreciate you taking a look at this! I think it will be valuable for you to first add a test in
schema_changer_test.go that tests for the particular condition. What you need to do is create a table with enough data (1000 rows), use the TestingKnob notification for when the backfill starts for deleting the index and check if you can insert a column/index into the table when the backfill starts
u

[2017-06-01 15:52] vivekmenezes commented on #16018
The work on this issue can start once the SQL for pause/unpause/cancel has been developed for backup/restore jobs. We should use the same SQL commands and change the implementation for schema change jobs.

[2017-06-01 15:54] jseldess commented on #16268
And I'm not seeing this problem with today's alpha binary: https://binaries.cockroachdb.com/cockroach-v1.1-alpha.20170601.darwin-10.9-amd64.tgz. With that binary, I see nodes 1 and 2 come back online about 20 seconds after restarting node 2.

[2017-06-01 15:55] petermattis commented on #5506
Closing this as I don't anticipate significant additions to the current chaos acceptance test.

[2017-06-01 15:55] #5506 closed

[2017-06-01 15:58] petermattis commented on #2860
Cc @jordanlewis as you're looking at schema change performance.

[2017-06-01 15:58] #16232 closed

[2017-06-01 16:00] petermattis commented on #1779
@RaduBerinde Is there anything left to do here? It is unlikely that we'll move to a log singleton, but we've plumbed context into all of the logging methods.

[2017-06-01 16:02] RaduBerinde commented on #1779
Yeah I don't think there's anything left.

[2017-06-01 16:02] #1779 closed

[2017-06-01 16:09] jseldess commented on #16098
Docs PR just merged. The release notes should be live in a few minutes. @swatikumar16, @jess-edwards, on to you.

[2017-06-01 16:12] bdarnell commented on #16252
Without the index, that's 20 full scans of the table per second. This table is being used as a queue, so there are probably more tombstones than there is actual data. These add to the cost of the full table scan but *not* the properly-indexed query (because the deleted tombstones generally have lower IDs, when we add the index we don't have to scan them. I'm not sure that we need contention-relate

[2017-06-01 16:16] a-robinson commented on #15898
You can if you'd like, although I suspect that the best fix won't actually involve any changes to gossip. The core issue allowing this to happen is #15801, for which I think the best fix will be to verify the cluster ID of a node when we establish a connection to it. In other words, the changes will mostly be contained within `pkg/rpc/`.

[2017-06-01 16:46] petermattis commented on #14768
I think we'd want foreground/background traffic prioritization on both the sender and receiver. The receiver might not have any foreground traffic, but the sender might. And vice versa.

[2017-06-01 16:47] tamird commented on #10038
There is, and I have a branch locally. It's not something I'm actively working on, but we don't need to close this.

[2017-06-01 16:53] petermattis commented on #16252
Hmm, that's a good point. We might be scanning over a ton of deleted keys to find the first non-deleted key. Should be straightforward to verify that with a simple test. I don't have any good thoughts on how to fix this, though.

[2017-06-01 17:02] bdarnell commented on #16252
We're not even looking for the first non-deleted key. We're looking for the first non-deleted key whose `webhostingServerFqdn` matches the query. I don't think there's anything we could reasonably do here that would improve the performance of this query without an index. Ultimately it's up to the application to use the right indexes for their queries.

We should, on the other hand, think about how

[2017-06-01 17:06] cockroach-teamcity opened #16270 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers"
The following tests appear to have failed:

[#262253](https://teamcity.cockroachdb.com/viewLog.html?buildId=262253):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-01 17:15] Freeaqingme commented on #16252
Although of course ideally we'd find out some sort of optimization that fixes this (besides users using sane indexes - something we clearly weren't), there may be two metrics you could perhaps add to the admin console:
- The number of queries that exceed a certain rows/tombstones scanned ratio
- The number of queries that required a full scan

Once you drill down to a specific query the warnings i

[2017-06-01 17:27] BramGruneir commented on #9025
You can right now look up the range log, and it should at least give you a glimpse into what happening.

But I agree, we need to add in some details in it as to why a particular rebalance was performed.

[2017-06-01 17:30] petermattis commented on #9025
There was also a thought about providing insight into what the rebalancer would like to do with a particular range on the /debug/range page.

[2017-06-01 17:35] petermattis commented on #15868
Closing as I don't think there is anything actionable left to do here.

[2017-06-01 17:35] #15868 closed

[2017-06-01 17:45] cuongdo opened #16271 "distsql: distsql still used for some queries while disabled"
build: 0bf5973
cluster: `navy`

I disabled DistSQL, restarted the cluster, and verified that it was still disabled:
[code]

I still routinely see the following log entries:

[code]

There is no load other than these queries issued by the admin UI:
[code]

Feel free to reassign!

[2017-06-01 17:48] vivekmenezes commented on #14120
is this the same as #16161

[2017-06-01 17:49] RaduBerinde commented on #16271
Interesting, perhaps the session was set up in the very beginning (before the cluster settings were even read) and it's still reflecting the initial (default) value.

[2017-06-01 17:51] vivekmenezes commented on #15855
moving to later unless you think it's important fix sooner

[2017-06-01 17:52] petermattis commented on #15855
This is happening to me too. Would be nice to figure out what changed as I'm pretty sure it didn't use to do this. Likely it is something simple (or stupid).

[2017-06-01 17:55] vivekmenezes commented on #15053
What is this issue about?

[2017-06-01 17:59] vivekmenezes commented on #14296
I agree that this is nice to have. Do we really need it for 1.1 though? Thanks

[2017-06-01 18:00] #16044 closed

[2017-06-01 18:00] #16047 closed

[2017-06-01 18:02] a-robinson commented on #9025
I never totally understood that thought, since if the rebalancer wanted to do something with a range why wouldn't it have done so already in most cases? Recording the reasons for why rebalances actually did occur  (as @BramGruneir and I have discussed) seems more useful to me.

[2017-06-01 18:06] BramGruneir commented on #9025
The case in which this would be useful is when there is a heavy rebalancing load in the system already, or there is limited free space or nodes.  But you're right, in most cases, it should be "do nothing".

[2017-06-01 18:06] #15601 closed

[2017-06-01 18:16] BramGruneir commented on #9264
I think we're done.  Closing.

[2017-06-01 18:16] #9264 closed

[2017-06-01 18:17] cockroach-teamcity opened #16272 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#262325](https://teamcity.cockroachdb.com/viewLog.html?buildId=262325):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-01 18:19] jordanlewis commented on #16237
#16200

[2017-06-01 18:19] #16237 closed

[2017-06-01 18:19] jordanlewis commented on #16270
#16200

[2017-06-01 18:19] #16270 closed

[2017-06-01 18:23] tschottdorf commented on #8978
cc #7880, which is referred in a comment from #9036. We really ought to be addressing #7880, I think, to restore sanity.

[2017-06-01 18:25] tamird commented on #16272
Something something examples-orms. Assigned @dt because I've seen you working on it recently.

[2017-06-01 18:26] dt commented on #16272
`Gem::RemoteFetcher::UnknownHostError: no such name` looks like a flake?

[2017-06-01 18:28] dt commented on #16272
something something hermetically sealed builds

[2017-06-01 18:28] #16272 closed

[2017-06-01 18:30] tschottdorf commented on #8220
this issue is about the replica GC queue, not the GC queue, but it seems that what we're doing is OK:

- eagerly add replicas based on suggestion by their raft peer
- additionally, relatively quickly pick up replicas stuck in candidate state during normal queue operation, and
- leave regular replicas alone except once every 10 days.

we have a pretty aggressive `timer()` on the replicaGCQueue but

[2017-06-01 18:30] #8220 closed

[2017-06-01 18:32] petermattis commented on #16252
I wonder if there is some way to keep track of the non-deleted span of keys for a range. Seems a bit challenging to do at the MVCC/Replica level, but perhaps this could be added to the sstable metadata as part of compactions and iterators could indicate that they are interested in non-deleted keys.

[2017-06-01 18:33] tamird commented on #16272
http://bundler.io/v1.15/man/bundle-install.1.html#DEPLOYMENT-MODE for the
ruby bits

On Thu, Jun 1, 2017 at 11:28 AM, David Taylor <notifications@github.com>
wrote:

[2017-06-01 18:40] a-robinson commented on #16267
This got messed up during the big move from shell to go in #15410 and isn't working because now whether to push is just [keyed on whether the build branch is master](https://github.com/cockroachdb/cockroach/blob/master/build/teamcity-publish-artifacts.sh#L12).

@tamird can you fix this plumbing? It's not immediately obvious how to mimic the new `isStableRelease` logic from the new go code into the

[2017-06-01 18:42] a-robinson commented on #16267
We're pushing alphas to the `latest` tag, too. Pushing them isn't necessarily terrible, but we definitely don't want them to be considered `latest` and going back to not pushing them would be best.

<img width="1278" alt="screen shot 2017-06-01 at 2 41 16 pm" src="https://cloud.githubusercontent.com/assets/7085343/26695317/76fdc086-46d8-11e7-9555-424cd363bbdb.png">

[2017-06-01 18:43] a-robinson commented on #16267
A separate repo (e.g. `cockroachdb/cockroach-alpha`) would be best if we wanted to publish alpha images.

[2017-06-01 18:46] petermattis commented on #15569
Per @tschottdorf:

[2017-06-01 18:46] #15569 closed

[2017-06-01 18:49] BramGruneir commented on #10275
There are 5 issues left.  I'd like to get to them at some point.  I figured after my 1.1 tasks are completed.

But none of them are needed for 1.1.  What would be the point of adding in a new issue instead of keeping this open?

[2017-06-01 18:56] danhhz commented on #16008
Any progress on this? It happens on every RESTORE of non-trivial size and so is blocking production testing

[2017-06-01 18:57] RaduBerinde commented on #15716
[code]
This goroutine shouldn't be using shutdownCtx which contains a span that is closed by the outer function.
Unfortunately I see another goroutine here that uses shutdownCtx; seems like this code needs revisiting.

[2017-06-01 19:02] petermattis commented on #10275
Clarity. It can be overwhelming to read the above every time this issue is visited. Also, some of the tasks don't have associated issues. Fine to leave this open too.

[2017-06-01 19:04] benesch commented on #15053
We currently only have unit tests for the `system.settings` table and its associated infrastructure. We eventually want some acceptance tests that actually spin up a few nodes and ensure that system settings are gossiped between the nodes. (Since settings use a global mutable map, `TestCluster` servers all share the same settings and don't exercise the gossip path.)

[2017-06-01 19:04] petermattis commented on #9025
My thought was that the per-range rebalancer decision could also indicate why the rebalancer thought a rebalance wasn't necessary. Perhaps it is worthwhile to brainstorm better ways to inspect what is going on in the rebalancer/allocator. The event log we previously had was mostly useless as it contained too much information while also losing information too quickly about a particular rebalance yo

[2017-06-01 19:05] #15957 closed

[2017-06-01 19:05] a-robinson commented on #9025
Of course, explaining why it doesn't think rebalancing is necessary is useful too.

[2017-06-01 19:07] danhhz opened #16276 "backup: reduce effect on p95/p99 of non-backup traffic"
I just did a really quick and dirty test. I ran a cluster under the highest load it would sustain, which you'd never do in production but will give us worst case numbers. Looks like p95 and p99 both doubled. We should rerun the same test with the cluster under 80% load and use that to pick a goal for how much backup is allowed to increase the p95/p99. This can be used to guide our performance tuni

[2017-06-01 19:09] tamird commented on #6465
Should probably reopen this, since we haven't done the replacement.

On Thu, Jun 1, 2017 at 12:02 PM, David Taylor <notifications@github.com>
wrote:

[2017-06-01 19:12] RaduBerinde commented on #15716
One solution would be to register these goroutine and the main function with a waitgroup and fire off a goroutine that waits until they're gone and then closes the span. Not sure if it's worth the trouble - I doubt the span will have time to get sent anywhere by the time the process exits.

[2017-06-01 19:16] petermattis commented on #15716
I'd probably just make those log messages use a different context.

[2017-06-01 19:19] petermattis commented on #9797
This should probably live on the /debug/range page. Or maybe summarized on the /debug/range page with a link for more details about the commands sitting in the queue for a specified range.

[2017-06-01 19:31] petermattis commented on #14108
Getting back to this and reproduced this on 3383ce322beba14f293dbc0542ae7ec8c750409f using `ycsb --splits 5000 --concurrency 1000`. Throughput is slowly declining and latencies are rising fairly fast:

<img width="933" alt="screen shot 2017-06-01 at 3 25 58 pm" src="https://cloud.githubusercontent.com/assets/6201335/26697084/d5d10dec-46de-11e7-9962-5a359a0bcef6.png">

<img width="930" alt="screen

[2017-06-01 19:32] a-robinson commented on #15716
Yeah, using the proper context in those goroutines isn't important. I'll send a quick PR.

[2017-06-01 19:52] a-robinson commented on #16268
@jseldess: I've been unable to reproduce a full hang, even running from approximately the current master (34d85f26d19e5782c6d60cba064ad1feb347b96c). I can only get it to hang for on the order of 10-20 seconds, as you mentioned in your latest commend. I might just need to keep trying it a few more times, but can you give a bit more detail on what you're doing?

[2017-06-01 20:19] #16081 closed

[2017-06-01 20:21] #15716 closed

[2017-06-01 20:25] bdarnell commented on #8978
I don't think there's any work remaining here that's not captured in #7880, so I'm closing it.

[2017-06-01 20:25] #8978 closed

[2017-06-01 20:32] tschottdorf commented on #14093
Pushed a POC to https://github.com/cockroachdb/cockroach/compare/tschottdorf/clockless-reads?expand=0

The edits are minimal, and I might've missed something, but at least during a small single-node SQL sessions things seemed good (which means basically nothing). It's a starting point for future investigation.

[2017-06-01 20:37] cockroach-teamcity opened #16278 "teamcity: failed tests on master: test/TestSplitSnapshotRace_SnapshotWins"
The following tests appear to have failed:

[#262455](https://teamcity.cockroachdb.com/viewLog.html?buildId=262455):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-01 21:04] bdarnell commented on #16266
Last time we saw this error was #10501

[2017-06-01 21:18] tamird commented on #16267
By the way, I'm pretty sure this wasn't broken in #15410 since the old shell scripts simply did not deal with this new alpha-foo scheme that we have: https://github.com/cockroachdb/cockroach/pull/15410/files#diff-facec76c92fac463f09d1ef7bf5b943eL19

[2017-06-01 21:25] bdarnell commented on #15855
Is this a recent change? It looks like `stress` has never made much of an effort to clean up after itself. Once it's reached its exit condition (`-maxfails`), it just exits without killing its child processes. If they hang, they won't exit until they reach their `-test.timeout`. There needs to be some sort of explicit cleanup step before `stress` exits (either a `WaitGroup` to let all pending proc

[2017-06-01 21:29] a-robinson commented on #16267
True, the new alpha scheme would have broken anyways. Thanks for fixing it!

[2017-06-01 21:47] tschottdorf commented on #15544
reminder to self: @andreimatei a while back floated the idea of letting reads populate the timestamp cache when they begin as opposed to when the end, which could allow them to not go into the command queue at all. I haven't tried to poke holes in this argument, but if it were sound and there were a way to skip populating the command queue completely for reads, that'd be even better.

https://foru

[2017-06-01 22:17] #16267 closed

[2017-06-02 00:54] petermattis commented on #14108
Re-running with heap profiling enabled shows a lot of memory being allocated by `Replica.propose`:

[code]

`inuse_objects` shows:

[code]

We're doing ~2.5k {inserts,proposals}/second, so this seems high.

Cc @irfansharif.

[2017-06-02 01:07] petermattis commented on #14108
Doing the math above indicates that `r.mu.commandSizes` is holding on to 3.3KB per proposal. That's fairly insane. And this is coming from `runtime.hashGrow`.

<img width="861" alt="screen shot 2017-06-01 at 9 03 33 pm" src="https://cloud.githubusercontent.com/assets/6201335/26706780/f961c42a-470d-11e7-924f-78eeec76fa24.png">

[2017-06-02 01:30] mlanner commented on #16053
+1 for an Alpine build.

[2017-06-02 01:38] #16165 closed

[2017-06-02 01:42] petermattis commented on #15855
@bdarnell Not sure if this is due to a recent change, but I've only noticed the stray `stress.test` processes recently.

[2017-06-02 02:49] a6802739 commented on #15898
@a-robinson  got it, Thank you very much.

[2017-06-02 03:17] jseldess commented on #16268
@a-robinson, I'll try again with a new build from the current master. If it's still happening, I'll include exact instructions.

[2017-06-02 03:25] jseldess commented on #16268
Just retested based on the current master 0677ecde3fc2e4b724d9b8d79b64340d01ca7921, and can't get this to reproduce. Not sure why I was seeing the weird behavior earlier. In any case, thanks for checking on this. Feel free to close.

[2017-06-02 03:32] a6802739 commented on #15939
@RaduBerinde  Thank you, I will wait until it's ready.

[2017-06-02 03:50] a-robinson commented on #16268
I do think there's something here -- after some more attempts I was able to get it about a minute one time. Do you still have the data directories from the first time you hit this? It might be possible to hit it repeatedly with them.

[2017-06-02 04:05] jseldess commented on #16268
Yeah, I still have them, and I see this still happening when I try to restart from those data directories. Should I somehow share those directories with you?

[2017-06-02 04:10] a-robinson commented on #16268
Yeah, that'd be great. Just zip/tar them up and send them to me however you want.

[2017-06-02 04:25] jseldess commented on #16268
K, just emailed them over. Here are the commands to restart the first two nodes:

[code]
[code]

[2017-06-02 05:25] mrtracy commented on #8595
No, this is not a high-value issue to fix, and I would say it's not something that needs to be tracked.

[2017-06-02 05:25] #8595 closed

[2017-06-02 05:26] mrtracy commented on #7343
I think everyone is fine with the current experience, closing.

[2017-06-02 05:26] #7343 closed

[2017-06-02 05:26] tamird commented on #16053
@mlanner we would be more likely to provide this if you can present concrete rationale for it. To @hrstoyanov's point above - I don't see how that's relevant, given that you'd only expose 2 ports, and if you're being RCEd through one of CockroachDB's ports, SSH and systemd are a footnote anyway.

[2017-06-02 06:17] cockroach-teamcity commented on #15240
SHA: https://github.com/cockroachdb/cockroach/commits/0677ecde3fc2e4b724d9b8d79b64340d01ca7921

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=262675&tab=buildLog

[2017-06-02 06:30] cockroach-teamcity commented on #16042
SHA: https://github.com/cockroachdb/cockroach/commits/0677ecde3fc2e4b724d9b8d79b64340d01ca7921

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=262717&tab=buildLog

[2017-06-02 06:31] eldos-dl opened #16285 "sql: In pg_catalog.pg_index attribute ind_key of type INT2VECTOR seems to be indexed from 0 instead of 1"
**BUG REPORT**

Version:
[code]
The following code returns NULL in second column instead of first element in CockroachDB but postgres returns first element.
[code]
This code returns first element in CockroachDB.
[code]

[2017-06-02 07:00] cockroach-teamcity commented on #14969
SHA: https://github.com/cockroachdb/cockroach/commits/0677ecde3fc2e4b724d9b8d79b64340d01ca7921

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=262782&tab=buildLog

[2017-06-02 07:08] mjibson commented on #16226
Another with the extra print:

`rsg_test.go:294: Parse followed by Format is not idempotent: "ALTER INDEX DECIMAL @ LOCAL TESTING_RELOCATE VALUES ( DEFAULT ) ORDER BY PLACEHOLDER ASC OFFSET EXISTS ( VALUES ( DEFAULT ) ) ROWS FETCH FIRST -412 ROWS ONLY" -> "ALTER INDEX \"decimal\"@local TESTING_RELOCATE VALUES (DEFAULT) ORDER BY placeholder ASC LIMIT -412 OFFSET EXISTS (VALUES (DEFAULT))" != "ALTER

[2017-06-02 09:38] a6802739 commented on #15989
@tschottdorf, So we need to keep track of the size of `gcKeys`, and we should chunk the `GCRequest ` when the size of the `gcKeys` exceeds the threshold?

So how should we set the  `X` bytes of keys, through a global variable or the environment variable? And for now, what value we should set `X` to ?

[2017-06-02 10:25] a6802739 commented on #15850
@dt , could I have a try for this?

[2017-06-02 13:08] tschottdorf commented on #15989
@a6802739 exactly, where "size" would be something like `for _, key := range gcKeys { size += len(key.Key) }`. I think for now you can hardcode a size in this file; I'd suggest something like 256kb to get started.

[2017-06-02 14:14] dt commented on #15850
@a6802739 We haven't yet figured out if this is something we *want* to do -- currently this issue is about investigating it and figuring out if it makes sense -- i.e. investigating what the benefits would be, sketching out a design, maybe writing some examples. If you're interested in doing that research, @danhhz might be able to point you towards what the interesting questions to answer are, but

[2017-06-02 14:17] bdarnell commented on #16008
I'm looking into this today. The key validation at the start of AdminSplit is broken in several ways, most notably that it [transforms the key](https://github.com/cockroachdb/cockroach/blob/0677ecde3fc2e4b724d9b8d79b64340d01ca7921/pkg/storage/replica_command.go#L2624) with `EnsureSafeSplitKey` *after* it has validated it with `r.ContainsKey`. My working theory is that through some difference in th

[2017-06-02 15:06] #14219 closed

[2017-06-02 15:19] eisenstatdavid commented on #16226
The problem is that we go from storing a negative integer directly as a constant to a unary expression, and the latter's formatter puts a space before `-`. Any objection to making `-` hug its argument?

[2017-06-02 15:26] a6802739 commented on #15989
@tschottdorf, got it. Thank you very much.

[2017-06-02 15:30] a-robinson commented on #15801
Assigning to @a6802739 since he's assigned himself to #15898, which should have the same fix.

[2017-06-02 15:43] kuanluo opened #16288 "ui: add under-replicated ranges count to the summary"
Under-replicated ranges could turn into unavailable ranges.  Would be helpful to add that to a summary on the right.

Assigning to @mrtracy, so you can properly re-assign if necessary.

@robert-s-lee

[2017-06-02 16:21] mjibson commented on #16226
SGTM

[2017-06-02 16:43] bdarnell commented on #16008
#16291 improves the validation in AdminSplit. That'll give us a cleaner error message if the key encoding is going wrong somehow. I don't see how that could be happening since the restore code is correctly calling MakeRowSentinelKey, but I could be missing something.

Another detail is that the splits generated by restore look like `/Table/68/1`: they're pointing to the beginning of the table's pr

[2017-06-02 17:13] #16285 closed

[2017-06-02 17:14] justinj commented on #16285
Thanks for the bug report @eldos-dl!

[2017-06-02 18:37] irfansharif commented on #14108
this was a silly oversight, fixed in #16283.

[2017-06-02 18:50] hrstoyanov commented on #16053
Alpine is quickly becoming  a distro of choice for tight and secure Docker
images. Just yesterday Oracle officially announced Java 9 packaging for
Alpine, other vendors feel the demand too:

https://mail-archives.apache.org/mod_mbox/commons-dev/201706.mbox/%3C9abb7b14-bff7-9b1d-d6ff-8f09ee01b40a@oracle.com%3E

So, my lean Java based docker stack would very soon be Alpine bases, with
cockroach bein

[2017-06-02 19:15] #16062 closed

[2017-06-02 21:43] faiverson opened #16297 "sql: missing support for SET NAMES"
**BUG REPORT**
Laravel framework (probably Symphony too) is creating this bug when you setup the database:
[code]

This is because it is setting `set names 'utf8'` always
I guess we need compatibility with the charset

[2017-06-02 22:29] bdarnell commented on #14093
Wow, that was easier than I thought it would be. But I think I'd have more confidence if we set MaxOffset to a huge value instead of zero, and then found all the places where that matters (for example, we'd need to not add MaxOffset to the lease expiration when in clockless mode or else no one would be able to acquire the lease for long periods of time).

[2017-06-03 00:43] bdarnell commented on #16053
The CockroachDB docker image does not contain ssh. It contains the `systemd` binaries, but they are not run as `init` (`cockroach` is run as PID 1). The image could be slimmed down a bit, but I don't think the mere presence of `systemd` in the filesystem is a concern. From a security perspective, I'd be more interested in getting rid of the ten setuid binaries in the debian base image:

[code]

So

[2017-06-03 02:01] knz commented on #16297
Thank you for filing this!

[2017-06-03 02:03] knz commented on #16297
cc @cuongdo for triage and prioritization

[2017-06-03 02:13] knz opened #16298 "*: provide better means for users to op-out of auto-reporting"
The issue here is that we already have some reports that users do not like the auto-reporting being opt-out, and find the frequency of once per hour too intrusive.

**The fact that these complaints are emerging is a signal that documentation, tooltips or other such written notices about how to opt-out are insufficient.**

Side constraints:

- having auto-reporting enabled at many user sites is pre

[2017-06-03 02:13] knz commented on #16298
cc @dt @dianasaur @petermattis

[2017-06-03 02:34] knz commented on #16271
Yes this is the event logger, its session is created nearly first thing during start-up.

I'm not sure it matters much, but we could also have the event logger *always* disable distsql in its session since its queries are unlikely to benefit much from it. Thoughts?

[2017-06-03 02:38] dt commented on #16298
I mean, given that you can opt-out via a setting or env var, we already "provide a choice", without fragmenting binaries with different features.

I think we can communicate here that this data only used _in aggregate_ e.g. `70% of users are using foreign keys but aren't interleaving`, or `70% of deployments have more than 3 nodes`, etc which lets us prioritize what features to focus on, document,

[2017-06-03 02:47] dt commented on #16298
fwiw, I think when we have an explicit `init`step, it can have a first-class flag(s) for enabling/disabling reporting, which should make this a tad cleaner (when you run `cockroach init --help` you'll see it as one of the options to set).

also, fwiw, as another datapoint, how docker messages their diagnostic data collection (at the bottom of the initial welcome popup, and then in preferences pane

[2017-06-03 02:47] knz commented on #16298
I hear your rational arguments but that's, I fear, insufficient. People who are complaining about this **despite the fact we're pretty clear already about what happens** will not listen to the argument "but you can disable reporting if you want."

The issue we're having here is that there is an emotional knee-jerk reaction to what is perceived as a breach of trust by a user **who did not initially

[2017-06-03 02:49] knz commented on #16298
I saw your docker reference just afterwards. Yes, such a UI would be appropriate. Perhaps `cockroach init` can help, or perhaps even a migration function on the DB that sets a flag after an interactive confirmation by the user?

[2017-06-03 03:01] dt commented on #16298
note that we should (and do) make sure that the reported metrics don't contain private data, there should be much to be upset about but yes, we definitely don't want to to come as a surprise to anyway that their nodes were doing something.

[2017-06-03 03:06] knz commented on #16298
A user who did not read the doc will not know the metrics don't contain private data. The conservative assumption they will make is that private data is reported, amplifying the emotional nature of the reaction.

[2017-06-03 03:37] tschottdorf commented on #14093
Yeah, I'll play around with this some more. Code so far is easy but could
be completely broken. It's a start though! :)

On Fri, Jun 2, 2017, 18:29 Ben Darnell <notifications@github.com> wrote:

--

-- Tobias

[2017-06-03 06:34] cockroach-teamcity commented on #16042
SHA: https://github.com/cockroachdb/cockroach/commits/84aca8e9719b906e56ce192be8e9d7d9d9bb60ea

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=263423&tab=buildLog

[2017-06-03 07:23] cockroach-teamcity opened #16301 "sql: TestMonotonicInserts failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/84aca8e9719b906e56ce192be8e9d7d9d9bb60ea

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=263529&tab=buildLog

[code]

[2017-06-03 07:23] cockroach-teamcity opened #16302 "sql: TestMonotonicInserts/distsql=on failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/84aca8e9719b906e56ce192be8e9d7d9d9bb60ea

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=263529&tab=buildLog

[code]

[2017-06-03 10:31] eldos-dl opened #16303 "Support for adding int and float"
**FEATURE REQUEST**

Support for adding `int` and `float`. Getting
[code]
Any reason why `int` + `decimal` is allowed but `int` + `float` is not even though casting from `int` to `float` is also supported?

[2017-06-03 12:50] eldos-dl opened #16304 "sql: COUNT(*) returns incorrect count when subquery contains DISTINCT"
**BUG REPORT**
[code]
Code:
[code]
`COUNT(*)` is returning one even though there are two rows.

[2017-06-03 13:54] bdarnell commented on #16298
Providing separate binaries would be a very expensive way to address this. We have a lot of installation options and that number will only grow as we add things like deb/rpm packages. We don't want to multiply that by two for reporting and non-reporting versions. I like the `init` command as a more direct place to provide this disclosure along with an immediately actionable opt-out, although it's

[2017-06-03 14:51] jordanlewis commented on #16304
Thanks for the bug report!

As a workaround until we fix this issue, you could use `SELECT COUNT(name) FROM...` assuming `name` is not null.

The issue is caused by a bug in `DISTINCT`. Since no columns from the inner query are directly used in the outer query, we assume that it's not necessary to demarshal them from the actual row value. That's an incorrect assumption, since `DISTINCT` always nee

[2017-06-03 15:01] knz commented on #16298
(answer from mail)

[2017-06-03 15:02] knz commented on #16298
(answer from mail)

[2017-06-03 15:16] knz commented on #16298
One thought which I already posted earlier on the issue: the reaction we're discussing here most evidently 1) comes from users who have not paid attention to the written notices already present 2) is emotional not rational (betrayal, sadness, etc)

We can't solve this by just advisory written notices -- a user who already doesn't read written notices during install will not read more written notic

[2017-06-03 15:21] knz commented on #16298
(Note that by the same argument, we should really do something about `--insecure`. I foresee users feeling betrayed when they realize what it really means.)

[2017-06-03 16:15] knz commented on #16304
The root ause issue is caused by a bug in Radu's recent improvement to aggregation. The problem is that groupNode now introduces an intermediate renderNode before distinctNode, and mistakenly has this renderNode render StarDatumInstance for `count(*)` instead of the columns of the source. This *in turns* (correctly) causes the columns from the original source to become omitted (since they are not

[2017-06-03 16:15] knz commented on #16304
cc @RaduBerinde

[2017-06-03 16:34] a6802739 commented on #16216
@tschottdorf  where is the test for `lease` after split?

[2017-06-03 17:00] petermattis commented on #16298
There are definitely improvements we can make to messaging and optics around our collection, but let's not blow this problem out of proportion. There is an argument to be made that the data collection we're currently doing is in our users best interest. It allows us to see which queries are being used and optimize the product for the actual usage. Not doing this collection would require users to r

[2017-06-03 17:08] knz commented on #16303
The general principle is that CockroachDB does not perform implicit conversions / heterogeneous operations when the result is not exact.

int + decimal always has an exact result, so that is allowed.

[2017-06-03 17:09] knz commented on #16303
Please consult

https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/typing.md

and

https://www.cockroachlabs.com/blog/revisiting-sql-typing-in-cockroachdb/

for details on how typing works in CockroachDB's sql.

[2017-06-03 17:45] eldos-dl opened #16306 "sql: JOIN queries returning results in random order each time"
**BUG REPORT**
Version:
[code]
Code:
[code]
Each time the query returns results in different order. I don't know if this is a bug. But the behaviour is a bit unexpected, given that I couldn't find any warning regarding this in docs.

[2017-06-03 17:48] eldos-dl commented on #16303
Okay, thanks for the clarification.

[2017-06-03 17:48] #16303 closed

[2017-06-03 17:54] RaduBerinde commented on #16304
I would say that the renderNode correctly renders StarDatumInstance, and what's incorrect is that distinctNode causes the original columns to become omitted. The distinct node itself needs all the columns to figure out which rows to eliminate, so the fact that the values aren't necessary after the distinctNode shouldn't mean that they are not necessary before it.

This problem is not particularly

[2017-06-03 19:09] knz commented on #16298
(from mail)

[2017-06-03 20:05] bdarnell commented on #16306
This is intentional: unless you ask for a specific order, we return results in the order that they are available to get you the results as quickly as possible. However, the docs don't mention this (and in fact in one example they claim the opposite), so I've filed a docs issue at cockroachdb/docs#1490. Thanks for the report!

[2017-06-03 20:05] #16306 closed

[2017-06-03 22:47] vivekmenezes commented on #9365
#15933 implements the ingest via csv file.

[2017-06-03 22:51] vivekmenezes commented on #7211
@vishr is this something you need soon? It is on our roadmap but we're considering moving it out of our 1.1 release. Thanks!

[2017-06-03 22:55] vivekmenezes commented on #8429
@dt is there any work to be done here?

[2017-06-03 22:59] vivekmenezes commented on #14727
Closing issue since distsql is now enabled in auto mode and the SQL in the test run for verifying the correctness of a schema change is working with distsql on.

[2017-06-03 22:59] #14727 closed

[2017-06-04 02:02] vishr commented on #7211
@vivekmenezes It can wait. For now, I am using `extract` function as @mjibson suggest on gitter, its ugly but works.

[2017-06-04 03:41] #16297 closed

[2017-06-04 04:49] eldos-dl commented on #16306
But the order is not even consistent. Each time the results arrive in different order.

[2017-06-04 06:31] cockroach-teamcity opened #16308 "server: TestStartNodeWithLocality failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/9814a52ec16913814473132c17e25070e3dc51fa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=263816&tab=buildLog

[code]

[2017-06-04 07:06] cockroach-teamcity commented on #14969
SHA: https://github.com/cockroachdb/cockroach/commits/9814a52ec16913814473132c17e25070e3dc51fa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=263887&tab=buildLog

[2017-06-04 08:01] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/9814a52ec16913814473132c17e25070e3dc51fa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=264029&tab=buildLog

[2017-06-04 10:54] andrewchambers opened #16309 "Syntax error when executing transaction with go pq sql driver library."
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**.

I170603 06:28:35.309149 61 util/log/clog.go:908  [config] file created at: 2017/06/03 06:28:35
I170603 06:28:35.309149 61 util/log/clog.go:908  [config] running on machine: cockroach-1
I170603 06:28:35.309149 61 util/log/clog.go:908  [config] binary: CockroachD

[2017-06-04 11:08] eldos-dl opened #16310 "sql: OFFSET not working correctly when used with ORDER BY"
**BUG REPORT**
[code]
Code:
[code]
In the last query we expect one matching row but it is not returning any rows.

[2017-06-04 11:26] eldos-dl opened #16311 "sql: OFFSET without LIMIT query crashes the node."
**BUG REPORT**
[code]
Code:
[code]
Not sure if the last query is legal though. But even if it is illegal I believe it should not crash the node.

[2017-06-04 12:18] wendigo commented on #16173
I agree. Recently I had to reinstall macOS from scratch and default hostname is not resolvable thus creating situation I've described which can be surprising to many unexperienced users.

[2017-06-04 13:50] bdarnell commented on #16306
Yes, that's a natural consequence of a distributed system. The order in which different nodes respond may vary, and unless you ask for the results in a specific order, we return them as they become available.

[2017-06-04 15:12] jordanlewis commented on #16311
Thanks for the report - it's a duplicate of #16090 which has been recently fixed and should be available in an upcoming bugfix release.

[2017-06-04 15:12] #16311 closed

[2017-06-04 15:44] andreimatei commented on #16310
Thanks for the report!
This is a duplicate of #16090, which has been fixed. The fix will be available in a release in a few days.

[2017-06-04 15:44] #16310 closed

[2017-06-04 16:02] benesch commented on #14969
The last couple failures all have a common pattern:

[code]

It seems like something has called `stopper.Quiesce()`, but I can't pin down what.

[2017-06-04 16:07] benesch commented on #16309
Hi @andrewchambers—thanks for reporting! Looks like [this change was made 4 days ago](https://github.com/lib/pq/commit/ed1a26d9e1fd4eb1cc491e6d688467f4e81a413c) to lib/pq and our Postgres-compatibility layer hasn't caught up yet.

Assigning to @mjibson, since he approved these changes to lib/pq 😃.

[2017-06-04 16:11] benesch commented on #15855
CC'ing @tamird just in case he has some insight.

[2017-06-04 19:10] a-robinson commented on #16308
bad clock

[2017-06-04 19:10] #16308 closed

[2017-06-04 19:29] mjibson commented on #16309
@tamird this is caused because the new sql options add either "READ ONLY" or "READ WRITE" to the "BEGIN" statement instead of defaulting to the empty string if read only is false. I think we should add a READ ONLY/WRITE to the cockroach grammar (and have read only error, and read write be ignored) instead of change lib/pq. We already do similar stuff for the isolation and priority levels. Thoughts

[2017-06-04 19:32] benesch commented on #16309
(That sounds right to me, FWIW!)

[2017-06-04 23:45] tamird commented on #16309
Yep, agreed.

On Jun 4, 2017 12:32, "Nikhil Benesch" <notifications@github.com> wrote:

[2017-06-05 01:29] vivekmenezes commented on #7211
Thanks, your patience is much appreciated!

[2017-06-05 01:35] petermattis commented on #16309
We should probably support `READ ONLY` transactions. Should be straightforward.

[2017-06-05 02:14] petermattis commented on #15687
This hasn't been seen since #16181.

[2017-06-05 02:14] #15687 closed

[2017-06-05 06:38] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/9814a52ec16913814473132c17e25070e3dc51fa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=264161&tab=buildLog

[2017-06-05 06:44] a6802739 commented on #15850
@dt, Thank you very much.If you could give me some reference, maybe I could make some investigate first. And I wonder If there is some feature left about `backup and restore`, and which is suitable for me to  start wit?

[2017-06-05 06:44] cockroach-teamcity commented on #16042
SHA: https://github.com/cockroachdb/cockroach/commits/9814a52ec16913814473132c17e25070e3dc51fa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=264170&tab=buildLog

[2017-06-05 06:45] cockroach-teamcity opened #16312 "sql: TestSchemaChangeEvalContext failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/9814a52ec16913814473132c17e25070e3dc51fa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=264168&tab=buildLog

[code]

[2017-06-05 06:53] eldos-dl commented on #12785
So are these kind of queries supposed to work or will work in future ?
[code]

[2017-06-05 07:06] cockroach-teamcity commented on #14969
SHA: https://github.com/cockroachdb/cockroach/commits/9814a52ec16913814473132c17e25070e3dc51fa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=264235&tab=buildLog

[2017-06-05 08:19] cockroach-teamcity commented on #16042
SHA: https://github.com/cockroachdb/cockroach/commits/9814a52ec16913814473132c17e25070e3dc51fa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=264386&tab=buildLog

[2017-06-05 09:54] jrupac opened #16313 "sql: small LIMIT value causes results to be omitted"
1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply the output of `cockroach version`
   and all flags/environment variables passed to `cock

[2017-06-05 10:27] jrupac commented on #16313
There's also unexpected truncation of returned rows in some cases too:

Here's everything:

[code]

And here's some queries that yield partial results (the first is correct - there should be 13 rows returned).

[code]

[2017-06-05 11:14] eldos-dl commented on #16070
Once we get `pq: broken fk backward reference` we won't be able to perform any operations that affect the table like `DROP TABLE` or `DROP DATABASE`. Basically it breaks all further operations on the table.

[2017-06-05 13:57] tschottdorf commented on #16216
@a6802739 that's `TestStoreSplitTimestampCacheDifferentLeaseHolder`.

[2017-06-05 13:59] tschottdorf commented on #7880
@tamird yours as we discussed. Here's a stash I had lying around with some concerns I had about keys:

[code]

[2017-06-05 14:01] petermattis commented on #14108
#16283 fixed the egregious performance degradation, but the slow performance degradation is still present. The graphs below are from running `ycsb --concurrency 1000`. The first period on the graph is for `--splits 5000` and the second with `--splits 10000`.

<img width="931" alt="screen shot 2017-06-05 at 9 50 50 am" src="https://cloud.githubusercontent.com/assets/6201335/26786493/da88748a-49d4-1

[2017-06-05 14:02] a-robinson commented on #16268
Thanks for the stuck data directories! I still haven't quite gotten to the bottom of things, but here's where I am so far:

* An issue with the system range (r2) is preventing node liveness from being available, which is preventing anyone from taking a lease on the system config range and gossiping it
* n2 is the raft leader for r2, n1 is behind
* Every time the nodes come up, n1 gets stuck in Pro

[2017-06-05 14:03] #16304 closed

[2017-06-05 14:04] petermattis commented on #16268
@a-robinson We hijack Raft snapshots and send them via the `replicateQueue`. Perhaps something has horked up the `replicateQueue` on `n2`.

[2017-06-05 14:08] petermattis commented on #15370
Tried fixing this issue by not retrying if we get the same error twice in a row. For some reason I'm unable to reproduce the problem right now. Probably just jetlag.

[2017-06-05 14:22] cockroach-teamcity opened #16314 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products"
The following tests appear to have failed:

[#264495](https://teamcity.cockroachdb.com/viewLog.html?buildId=264495):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-05 14:55] jordanlewis commented on #16309
#16033 is another related feature request, for setting a transaction to be read only.

[2017-06-05 15:09] justinj commented on #2115
Thanks so much all of you for your input! It's much appreciated.

[2017-06-05 15:12] jordanlewis commented on #16313
Thanks for the bug report! If you experienced this problem only after the 1.0 release, it's possible that you've discovered a bug in DistSQL. It's also possible that this will be fixed in an upcoming release by some of the changes introduced to fix similar bugs like #16163.

Please try running the queries with DistSQL disabled in your session (via `SET DISTSQL = OFF`) - that will help us figure ou

[2017-06-05 15:19] bdarnell commented on #16008
@danhhz Have you tried a restore with #16291 yet? That may give us a better error about what's going on, or rule out this kind of key transformation as a problem.

The reason restore splits at points like `/Table/68/1` is that backups run at the *index* level rather than the *table* level. Backups don't scan the (empty) span between `/Table/68` and `/Table/68/1`, so restore tries to split at `/Tab

[2017-06-05 15:25] spencerkimball commented on #15544
@andreimatei and @tschottdorf: doing this naively will cause infinite retries on some of the txn_correctness_test tests. This is because reads may encounter intents and as a result normally not update the read timestamp cache, and that property is important to preserve or else you can have transaction retry histories which never finish.

[2017-06-05 15:33] petermattis commented on #15544
The bits of code to look at here are `Replica.beginCmds` and `Replica.endCmds`. I suspect the easiest path forward is to completely encapsulate this optimization in the command queue code. Specifically, `CommandQueue.add` can bundle up its arguments when `readonly == true` and add to a new `CommandQueue.readCmds` slice. When a write command arrives, we expand the `readCmds` slice adding the comman

[2017-06-05 15:35] petermattis commented on #15544
Cc @garvitjuniwal

[2017-06-05 15:39] danhhz commented on #16008
There's a teamcity job that auto-runs a backup and restore every morning (https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Internal_Production_BackupToAzure). Looks like today's failed, though I haven't looked at the logs yet to see if it was this same failure

I agree that the extra empty range is unfortunate, we should look into that. I looked pretty closely at how we were doing the sp

[2017-06-05 15:40] jrupac commented on #16313
Hm, that did not seem to make any difference.

[code]

[2017-06-05 15:47] danhhz opened #16317 "backup/restore: extra empty range created on restore"
Backup selects the spans to export by collecting all indexes from targeted tables. When these are restored, we presplit ranges along the backup boundaries, which results in an extra empty range between /Table/51 and /Table/51/1 (where 51 is the table id and 1 is the primary index id). This happens for each non-interleaved (or interleave-root) table in the restore. Range quiescence mitigates this a

[2017-06-05 15:47] danhhz commented on #16008
I just filed https://github.com/cockroachdb/cockroach/issues/16317 for the extra empty range

[2017-06-05 15:48] knz commented on #16313
cc @RaduBerinde can you have a look?

[2017-06-05 15:58] tamird commented on #15855
https://go-review.googlesource.com/c/44790/

[2017-06-05 16:24] petermattis commented on #15370
Not jet lag. https://github.com/cockroachdb/cockroach/pull/15619 flipped the values for the declined and failed reservation timeouts. @BramGruneir was this intentional?

[2017-06-05 16:27] #16264 closed

[2017-06-05 16:28] BramGruneir commented on #15370
No it was not!  I'll send a fix right away.

[2017-06-05 16:29] bdarnell commented on #16008
Today's run failed with the new message:

[code]

This is interesting. `MakeRowSentinelKey(k)` is used as if it returns `k + epsilon`, but it actually returns `concat(k, 0)`, and zero is not the smallest possible integer. That's why the request is being sent to the wrong range. `MakeRowSentinelKey` is incorrect when applied to keys other than "row keys" like `/Table/68` and `/Table/68/1`. (This bu

[2017-06-05 16:29] #16070 closed

[2017-06-05 16:30] cuongdo opened #16320 "distsql: OOM with tpch queries 1, 8, 9"
cluster: `navy`
load: `photos` running on 6 nodes, 2-way concurrent `tpch` running queries 1, 7, 8, 9
_no chaos_

This crash seems easily reproducible. The last time I reproduced this, it took 27 minutes from the start of the load.

memory profile:
[profile001.pdf](https://github.com/cockroachdb/cockroach/files/1052530/profile001.pdf)

log of a node where `cockroach` OOMed:
[cockroach.stderr.txt](

[2017-06-05 16:33] cuongdo commented on #16320
build: 0bf5973

[2017-06-05 16:33] benesch commented on #15855
I wish all my requests for insight were rewarded with full patches. 🎉  Should we merge that into github.com/cockroachdb/stress in the meantime?

Also, at this point I figure I might as well assign this to you, @tamird.

[2017-06-05 16:34] andreimatei commented on #15855
Respect.

[2017-06-05 16:41] petermattis commented on #15370
@BramGruneir Ok. I'm in this code at the moment. I'll fix it.

[2017-06-05 16:42] BramGruneir commented on #15370
already done, and I'd like to cherry pick this fix to 1.0.2

[2017-06-05 16:47] cockroach-teamcity opened #16323 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#264592](https://teamcity.cockroachdb.com/viewLog.html?buildId=264592):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-05 16:51] dt commented on #15850
@a6802739 For that I'll have to point you towards @danhhz, who is coordinating errors on backup & restore work right now.

[2017-06-05 16:55] danhhz commented on #16276
Note: pre-measurement @petermattis and I both feel that a 20% increase of p99 under 80% load of the kv load generator would be a good goal. Next step is to measure where we're at now

[2017-06-05 16:55] danhhz commented on #15384
@benesch Do I remember right that you fixed this?

[2017-06-05 16:58] danhhz commented on #15850
@a6802739 I took a look at our open BACKUP/RESTORE work and it looks like https://github.com/cockroachdb/cockroach/issues/14884 would be a good candidate. It also happens that you filed it : - )

[2017-06-05 17:02] jordanlewis opened #16324 "cli: command history breaks after 500 line limit is exceeded"
After entering 500 or more lines into the CLI, the history file will be broken by the readline rewrite mechanism.

This is a tracking issue for the bugfix in https://github.com/chzyer/readline/pull/121.

[2017-06-05 17:03] danhhz commented on #16008
#15935 is exactly the same time frame that we started seeing this, which lends some support to that theory.

@benesch Do you think you could pick off the change Ben is suggesting here? It'd be really nice to get RESTOREs of non-trivial sizes working again

[2017-06-05 17:26] benesch commented on #15384
Yes indeed! #16149. Thanks for drudging up the issue.

[2017-06-05 17:26] #15384 closed

[2017-06-05 17:27] benesch commented on #16324
See also #15460, which proposes to replace the Go readline library with bindings to the actual libreadline/libedit.

[2017-06-05 17:53] cuongdo commented on #16320
I'm trying to see if there's a simpler repro for this.

[2017-06-05 18:00] #15370 closed

[2017-06-05 18:02] tamird commented on #15855
Makes sense, thanks!

Since upstream was moved to x/tools in the time since our fork was created,
I'm hopeful that upstream will accept that change (and the others from our
fork, that I'll submit subsequently). If that doesn't happen, I'll port my
patch to our fork. Let's hope they're responsive.

On Mon, Jun 5, 2017 at 9:33 AM, Nikhil Benesch <notifications@github.com>
wrote:

[2017-06-05 18:42] bdarnell commented on #16268
`s/replicateQueue/raftSnapshotQueue/`. The `replicateQueue` is blocked because it relies on leases, which can't be renewed in this situation, but the `raftSnapshotQueue` does not. Look at the stack traces to see what `raftSnapshotQueue` is doing.

[2017-06-05 19:03] cockroach-teamcity opened #16334 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum, Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers"
The following tests appear to have failed:

[#264785](https://teamcity.cockroachdb.com/viewLog.html?buildId=264785):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-05 19:05] a-robinson commented on #16268
Hah, that's beautiful. Our queues don't work if the system config isn't available: https://github.com/cockroachdb/cockroach/blob/12ff74775d0fee31bcf62042c29b936ad67bd441/pkg/storage/queue.go#L548

We should be able to tweak it that such that only the queues that need the system config rely on that check.

[2017-06-05 19:38] a-robinson commented on #16268
Yup, that fixed this issue. I'll send a PR after I come up with a test for this.

[2017-06-05 19:43] petermattis commented on #16268
Heh, I had wondered a long time ago if we should not bother retrieving the system config for queues that don't need it and couldn't convince myself that it mattered. Looks like the answer is it does matter.

[2017-06-05 20:11] benesch commented on #16008
Sure thing!

[2017-06-05 20:12] RaduBerinde commented on #16313
[code]

We have a hard limit at the index join level. This becomes a hard limit at the index scan level which is incorrect - we have a filter that gets applied after we join with the table.

In `applyLimit` we have:
[code]
We need to make this always be soft if `indexJoinNode.table` has a filter. I can make the change.

[2017-06-05 20:14] RaduBerinde commented on #16313
Note that even though this bug was in there for a while, I believe it only leads to incorrect results since #15925.

[2017-06-05 20:17] knz commented on #16313
yes that seems correct... That's a schroeninbug that keeps on giving.

[2017-06-05 20:31] danhhz opened #16338 "storage: new "unsplittable" request flag"
The WriteBatch request (as well as the upcoming one to work with IngestExternalFile) has a payload that includes encoded keys. These payload are opaque to the normal kv mechanisms, so if a request is constructed and sent for a span that has split, it will error and let the client retry (splitting the payload into multiple requests).

We could save some network traffic and serialization/deserializa

[2017-06-05 20:43] #16098 closed

[2017-06-05 20:45] #16196 closed

[2017-06-05 20:53] #16313 closed

[2017-06-05 21:13] bdarnell commented on #12753
This hasn't been seen in months. I don't know why it stopped in March, but more recently we've moved towards increasing and eventually eliminating SendNextTimeout (#16205), which was my best guess of the cause at the time. Unless this happens again, we don't have much to go on so I'm closing this issue.

[2017-06-05 21:13] #12753 closed

[2017-06-05 21:14] bdarnell commented on #13566
Hasn't been seen in months and not much to go on, so closing.

[2017-06-05 21:14] #13566 closed

[2017-06-05 21:28] bdarnell opened #16344 "keys: Clean up `MakeRowSentinelKey` and `EnsureSafeSplitKey`"
Our mechanisms for avoiding splits in the middle of a row are a bit of a mess (see https://github.com/cockroachdb/cockroach/issues/16008#issuecomment-306235183). `AdminSplit` does not split at the requested key: if the key points to the `/Table` keyspace then it removes a trailing integer from the key which is assumed to be the column family ID. This is fine when splitting at a key that actually e

[2017-06-05 21:29] bdarnell commented on #16008
Extracted the longer-term fix into #16344

[2017-06-05 21:45] danhhz opened #16345 "rocksdb: MemEnv doesn't support NewRandomRWFile"
The RocksDB in-memory env doesn't support NewRandomRWFile, which is used when a file is ingested while a snapshot is outstanding (it rewrites the sequence number in the ingested file to be greated than the snapshot's sequence number). We currently have to set snapshot_consistency to false in IngestExternalFile as a workaround

[2017-06-05 22:02] mberhault opened #16346 "release: 1.1-alpha.20170608"
Candidate SHA: 2880ae392eed6e4ac3064d7fdf6e6b1e82e8d677
Deployment status: TBD

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [ ] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [ ] Deploy to test clusters, fill in `Deployment status` above
- [ ] [Check cluster status](https://gith

[2017-06-06 02:22] a6802739 commented on #15850
@danhhz, I will try to work on it.

[2017-06-06 03:52] faiverson opened #16349 "sql: support SQL types timestamp(0), timestamptz(0) to round values"
**FEATURE REQUEST**

Right now it is not possible to use timestamp(0)
In postgres, this rounds to full seconds, and fractions are not stored
timestamp(0) and timestamptz(0) will round the number. So, it is not the same than timestamp and timestamptz that give you the number with the millisecond part.
Is it possible to add this behaviour?

[2017-06-06 05:50] mlanner commented on #16053
@bdarnell I think @hrstoyanov's comments are perhaps somewhat general in nature as it pertains to most images out there, which tend to include a bunch of stuff that is largely unnecessary to carry out whatever any given package truly requires. Hence, it tends to bloat images and it also carries with it a larger potential vulnerability footprint. Now, that might not be the case with the CRDB Docker

[2017-06-06 05:54] cockroach-teamcity opened #16350 "teamcity: failed tests on master: testrace/TestErrorOnCommitFinalizesTxn"
The following tests appear to have failed:

[#265189](https://teamcity.cockroachdb.com/viewLog.html?buildId=265189):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-06 07:03] cockroach-teamcity commented on #14969
SHA: https://github.com/cockroachdb/cockroach/commits/6109ac1f65ca36d5ee6b644ff061a97ae10b4a91

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=265327&tab=buildLog

[2017-06-06 08:48] foreachsky opened #16351 "cluster failed, exit status 255"
Is this a question, feature request, or bug report?

**QUESTION**

i‘m try to deployment 3 nodes
https://www.cockroachlabs.com/docs/manual-deployment.html

the first node start ok，but the second node start error

the error msg is

cockroach start --background --logtostderr --certs-dir=/data/cockraoch/certs/ --host=192.168.18.231 --join=192.168.18.230:26257
I170607 16:21:52.805480 1 cli/start.go:59

[2017-06-06 12:58] mberhault commented on #16351
The fatal message is: `F170607 16:21:52.933517 68 server/server.go:162 [n?] fewer than half the known nodes are within the maximum offset of 500ms (0 of 1)`
This indicates that the clocks on your nodes are too far apart for us to guarantee consistency.

[We recommend](https://www.cockroachlabs.com/docs/recommended-production-settings.html#clock-synchronization) running with time synchronization on

[2017-06-06 12:58] #16351 closed

[2017-06-06 14:17] cuongdo commented on #16320
I've found a simpler repro for this OOM:

`./tpch -v -max-errors=0 -queries=1,8,9 -loops=0 -concurrency=3 <database_URL>`

[DDLs are here](https://github.com/cockroachdb/loadgen/blob/master/tpch/ddls.go)
Queries: [query 1](https://github.com/cockroachdb/loadgen/blob/master/tpch/query1.go) [query 8](https://github.com/cockroachdb/loadgen/blob/master/tpch/query8.go) [query 9](https://github.com/cock

[2017-06-06 14:28] RaduBerinde commented on #16320
The memory profile shows only 400MB total usage.. Nothing looks off in that profile.
Is it possible to set things up to automatically collect a mem profile when total usage goes beyond a certain value?

[2017-06-06 14:29] cuongdo commented on #16320
Mem profiles were being collected every minute. So, that mem profile was collected when the RSS for `cockroach` was already ~13 GiB and close to being killed.

[2017-06-06 14:29] petermattis commented on #16320
Not currently, though we could consider adding that. Usually I run `COCKROACH_MEMPROF_INTERVAL=10s` and collect a lot of profiles.

[2017-06-06 14:30] petermattis commented on #16320
@cuongdo Do you have logs from the node that died? Specifically, `runtime.go` prints Go vs CGo memory usage every 15s or so.

[2017-06-06 14:30] cuongdo commented on #16320
Yes, it's in `cockroach.stderr.txt` linked to in the first part of this issue.

[2017-06-06 14:33] petermattis commented on #16320
Something seems off here. The profile indicates 400MB of allocated memory while the `runtime.go` messages indicate 2.7GB. I believe the profile is supposed to scale the value based on the sampling.

[2017-06-06 14:37] petermattis commented on #8659
@irfansharif Is there anything left to do here given #15802?

[2017-06-06 14:43] tschottdorf commented on #8659
For one, we have zero integration testing.

[2017-06-06 14:43] irfansharif commented on #8659
no but I want to run some more end-to-end tests demonstrating the behavior, was going to use this as an umbrella issue for that.

[2017-06-06 14:56] cuongdo commented on #16320
Yes, I was wondering about that. I thought that scaling was supposed to happen as well, based on previous Go profiling I've done.

[2017-06-06 15:02] cuongdo commented on #16320
Going to rerun without memory profile sampling.

[2017-06-06 15:26] #16268 closed

[2017-06-06 15:41] cockroach-teamcity opened #16355 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#265623](https://teamcity.cockroachdb.com/viewLog.html?buildId=265623):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-06 16:10] kuanluo opened #16359 "ui: staggered version node diagnosis page"
@jseldess @mrtracy and I discussed to have a page linked from the staggered version alert, so users can see the versions the nodes are on.

@dianasaur323 @nstewart, can you chime in and prioritize this accordingly? Perhaps 1.2?

[2017-06-06 16:43] cuongdo commented on #16320
Here are the `cockroach` stderr log and memory profile on a host that OOMed with `GODEBUG="memprofilerate=1,gctrace=1"`:

[cockroach.stderr.txt](https://github.com/cockroachdb/cockroach/files/1055789/cockroach.stderr.txt)
[profile001.pdf](https://github.com/cockroachdb/cockroach/files/1055790/profile001.pdf)

Last runtime stats before OOM kill:
[code]

Memory profiles were already enabled for ever

[2017-06-06 16:44] RaduBerinde commented on #16320
I have been playing locally with query 8. Just one instance of it exceeds the budget on my machine, and I wasn't able to find a discrepancy between usage and accounting.

However, its obvious there are huge opportunities for better planning of these queries. For example, in query 8 the last hashjoiner is joining ~1300 rows on the left with ~365K rows on the right. We store 365K rows when we could

[2017-06-06 16:49] RaduBerinde commented on #16320
@cuongdo again there is a discrepancy there - the profile shows ~4GB allocated, the stats show 7.5GB. Note that the available budget is 3.7GB which seems to be around what we have allocated according to the profile.

[2017-06-06 16:50] petermattis commented on #16320
Looks like most of the memory is in `hashJoiner.buildPhase`, exactly what you saw earlier. @RaduBerinde beat me to the point that there still seems to be a discrepancy here between the `runtime.go` log messages and the profile.

[2017-06-06 16:52] cuongdo commented on #16320
It's worth nothing that almost 1 GiB of "idle" memory is being held by the Go runtime and hasn't been released to the OS. This is enough to tip us into OOM territory.

[2017-06-06 16:56] petermattis commented on #16320
The most recent gctrace message shows:

`gc 1862 @2335.362s 3%: 0.20+3850+0.14 ms clock, 0.83+4071/3849/0+0.56 ms cpu, 7222->7476->4227 MB, 7738 MB goal, 4 P`

See https://golang.org/pkg/runtime/ (search for gctrace) for an explanation of the fields. The `7222->7476->4227 MB` bit indicates that the heap started at 7222 MB when GC was initiated, grew to 7476 MB when GC finished and there are 4227 M

[2017-06-06 17:02] petermattis commented on #16320
@RaduBerinde I like your suggestion for a short term fix: have `hashJoiner` read X rows (i.e. 10k) from both the left and right streams in the hopes of reaching the end of one of the streams.

[2017-06-06 17:33] donpdonp commented on #13380
[code]
I'm seeing a similar behavior. version is below.
build:      CCL v1.0 @ 2017/05/10 13:19:57 (go1.8.1)

[code]

Not sure what to do here, I tried restarting cockroach but the problem remains. This is a one-node install with basically zero query load on the box.

[2017-06-06 17:58] cockroach-teamcity opened #16362 "teamcity: failed tests on master: testrace/TestBackupRestoreLocal"
The following tests appear to have failed:

[#265747](https://teamcity.cockroachdb.com/viewLog.html?buildId=265747):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-06 17:59] irfansharif commented on #7807
RFC: #16361.

Internally we don't send over log entries when adding new replicas, we bring them up to speed via snapshots instead.

[2017-06-06 18:20] RaduBerinde commented on #16320
Another HashJoin in query 8 has 10K rows on the left, 9M rows on the right. Ouch.

[2017-06-06 18:23] petermattis commented on #16320
Rather than reading X rows from both the left and right, you could read X MB.

[2017-06-06 18:25] petermattis commented on #7807
We send log entries along with the snapshot. See `store.go:sendSnapshot()`.

[2017-06-06 18:27] bdarnell opened #16363 "server: Refactor node ID initialization"
In order for a node to learn its node ID, it must first initialize its stores. The node ID is stored in `Node.Descriptor.NodeID` by `Node.initNodeID`. However, the `Node.Descriptor` struct is shared between the store and the node by a pointer passed to `NewStore`. Both store and node access this struct without synchronization (which is fine for everything but the node ID, as the rest of the fields

[2017-06-06 18:31] kuanluo commented on #13752
@nstewart @dianasaur323 @mrtracy @vivekmenezes

Research last week indicated the importance of this feature. Should we bump it up in the 1.2 release?

[2017-06-06 19:51] kuanluo opened #16366 "ui: make tooltip icon more visible"
3 out of 5 people in we interviewed missed the tooltips. The suggestion is to make it next to the title, and slightly larger (16px, with 12px font).

![image](https://user-images.githubusercontent.com/1486483/26848825-ce551ece-4acf-11e7-82e8-524dc0179dd2.png)

[2017-06-06 20:08] petermattis opened #16368 "server: dynamically adjust GOGC when heap gets large"
As seen in #16320, the behavior of the Go GC can lead to excessive amounts of "idle" memory when the heap gets large. Go GC has a single tunable, the GC percent (set via the `GOGC` env var or `debug.SetGCPercent`). The default value is 100. A collection is triggered when the ratio of freshly allocated data to live data remaining after the previous collection reaches this percentage. For example, i

[2017-06-06 20:28] leonardb commented on #6249
Just noticed 1.0 was released.

Built and retested. Issue is not longer there. Closing

[2017-06-06 20:28] #6249 closed

[2017-06-06 20:44] vivekmenezes commented on #13380
@donpdonp what you're reporting is an issue with recycling a name for a schema element (column in your case). It is similar to https://github.com/cockroachdb/cockroach/issues/12123 where cockroach fails to drop and create a table using the same name.

I hope the system itself didn't hang? It should report the error and quit.

[2017-06-06 20:48] donpdonp commented on #13380
it did report the error and kept going, though i was not sure what state the schema was in. So the problem is reusing a schema column name in the same transaction? (I belive my schema manager tool runs migrations in a transaction). I could do the migration steps by hand at the sql console w/o a transaction.

[2017-06-06 20:56] vivekmenezes commented on #13380
yeah doing the migration step by step will work. Each command waits until it is complete (it executes the schema change as a transaction, and then, waits until it has been completely executed.) Time should not matter there as long as you take it out of a transaction and run the second command after the first has completed.

[2017-06-06 22:07] hrstoyanov commented on #16053
@bdarnell
I hear you and I understand that there are more important things for CRDB 1.1 .

As far as the Alpine image, and looking at the amount of work the core JDK team did, porting to musl was not that hard, but your millage can vary. I can live with with some Docker image that has a bit of dead wood inside, np.

[2017-06-07 02:46] a6802739 commented on #16363
@bdarnell  could I have a try for this?

[2017-06-07 02:54] bdarnell commented on #16363
This is related to some changes @adamgee is working on in #16371. Let's wait until that's done and see if changes are still needed.

[2017-06-07 03:01] a6802739 commented on #16363
@bdarnell, okay. Got it.

[2017-06-07 03:44] dianasaur323 commented on #13752
Definitely not 1.1, but 1.2 sounds fine.

Diana

On Tue, Jun 6, 2017 at 2:31 PM kuanluo <notifications@github.com> wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-06-07 06:38] cockroach-teamcity commented on #16042
SHA: https://github.com/cockroachdb/cockroach/commits/e1ec2fd44f7cd23c1835c61e20070d64d2bf7f9c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=266140&tab=buildLog

[2017-06-07 07:16] cockroach-teamcity commented on #14969
SHA: https://github.com/cockroachdb/cockroach/commits/e1ec2fd44f7cd23c1835c61e20070d64d2bf7f9c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=266205&tab=buildLog

[2017-06-07 07:23] cockroach-teamcity opened #16376 "storage: TestRaftRemoveRace failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/e1ec2fd44f7cd23c1835c61e20070d64d2bf7f9c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=266258&tab=buildLog

[code]

[2017-06-07 08:23] cockroach-teamcity commented on #15837
SHA: https://github.com/cockroachdb/cockroach/commits/e1ec2fd44f7cd23c1835c61e20070d64d2bf7f9c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=266408&tab=buildLog

[2017-06-07 11:13] knz opened #16378 "sql/parser: panic in encodeSQLStringWithFlags"
https://sentry.io/cockroach-labs/cockroachdb/issues/288666600/

[code]

The stack trace points to:

[code]

[2017-06-07 11:17] knz commented on #16378
https://sentry.io/cockroach-labs/cockroachdb/issues/288663655/

[2017-06-07 11:17] knz commented on #16378
https://sentry.io/cockroach-labs/cockroachdb/issues/286911613/

[2017-06-07 11:20] knz opened #16379 "sqlbase: panic in RowFetcher.finalizeRow()"
https://sentry.io/cockroach-labs/cockroachdb/issues/286804754/

[code]

Stack trace points to:

[code]

cc @danhhz

[2017-06-07 11:21] knz commented on #16379
https://sentry.io/cockroach-labs/cockroachdb/issues/286804754/

[2017-06-07 13:09] RaduBerinde commented on #16313
@jrupac - sorry, I meant to send this 2 days ago. The fix will be in 1.0.2. In the meantime, as a workaround you can make sure that the index includes the `read` column: `UNIQUE INDEX article_id_key (id ASC) STORING (read)`. This will also make the query more efficient.

You can also try reverting to 1.0 which I think doesn't exhibit this problem.

[2017-06-07 13:44] RaduBerinde commented on #16368
I like the idea of tweaking it only when usage goes above a certain threshold (e.g. half of `--max-sql-memory`). Unfortunately, the usage can spike suddenly when a big query comes in so we may not be responsive enough.

[2017-06-07 13:48] petermattis commented on #14108
Enabling bloom filters for L6 didn't help. Not surprising given that I was misreading the read amplification graph and we're only up to L5.

<img width="929" alt="screen shot 2017-06-07 at 9 34 48 am" src="https://user-images.githubusercontent.com/6201335/26881239-e1966ba6-4b64-11e7-8e3e-b54b1d5d8c30.png">

We see an increase in disk reads as the performance declines.

<img width="1398" alt="scree

[2017-06-07 13:51] RaduBerinde opened #16380 "distsql: detect small streams for hashjoin"
The hashjoiner puts the entire right stream in a map. Given that currently we don't have enough data to estimate at planning time the size of each stream, the choice of left vs right is arbitrary. This can lead to cases where the left stream is very small and the right stream is very large. We would want to detect these cases and store the left stream in a map.

To do this we can add an "initial b

[2017-06-07 13:51] vivekmenezes commented on #16379
Was a schema change running while this was happening

[2017-06-07 13:53] knz commented on #16379
The stack trace doesn't say

[2017-06-07 13:55] vivekmenezes commented on #16379
No I meant was there an ongoing schema change in the background (add/drop column)? When we're adding/deleting a column that is NON Nullable we temporarily make it nullable during the rollout of the backfill. Just wondering if that is failing here.

[2017-06-07 13:56] vivekmenezes commented on #16379
I think at a minimum we should dump the table descriptor and column descriptor in this panic to start with?

[2017-06-07 13:59] knz commented on #16379
The Sentry reports are generated by auto-reporting from user clusters. There is no more information provided about the panic than the stack trace, version number and a couple of other build-related details. In particular there is (currently) no detail about other ongoing activities in the cluster.

[2017-06-07 13:59] knz commented on #16379
cc @dt for suggested additions to the panic report

[2017-06-07 14:20] jordanlewis commented on #14108
Is it possible to add instrumentation to the block cache so we can see whether the percentage of hits decreases over time?

Same question about compactions. Seems like these metrics would be really helpful for understanding what's going on.

[2017-06-07 14:28] vivekmenezes commented on #12481
potential startup project for masha.

[2017-06-07 14:32] cockroach-teamcity opened #16381 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#266468](https://teamcity.cockroachdb.com/viewLog.html?buildId=266468):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-07 14:59] petermattis commented on #14108
We do have metrics for the block cache hit rate and compactions. We should definitely add a graph for the hit rate. The compactions might not tell us much as we're probably doing compactions constantly, but the compactions themselves do not necessarily do disk reads as the reads might be hitting the OS buffer cache.

[2017-06-07 15:01] leonardb opened #16382 "sql: support AT TIME ZONE for tz casts"
Feature Request

Description:
pgsql supports casting timestamp with time zone into any other time zone.
[code]
We run all our postgres servers configure for UTC, and heavily use the casting mechanisms when reading data to display/export data in user-specific time zones, as well as with range queries using timestamps.

[code]
where:
* $1 is the user id
* $2 is start tstamp (local to user)
* $3 is e

[2017-06-07 15:05] benesch opened #16383 "build: `go get` likely breaks compiles until `make clean`"
@arjunravinarayan managed to brick his build on a completely fresh checkout ([log](https://gist.github.com/benesch/35e66b4275d02c131d394da830e03e5e)).

The working theory is that he ran a `go get` without `-d`, which attempted to build the Go packages before building the requisite C/C++ dependencies. Then, running `make build` built the C/C++ dependencies, but Go's build cache failed to invalidate

[2017-06-07 15:47] petermattis commented on #14108
<img width="931" alt="screen shot 2017-06-07 at 11 43 57 am" src="https://user-images.githubusercontent.com/6201335/26887683-a5cf2858-4b76-11e7-9c9d-577dc6df894e.png">

We see a decline in the block cache hit rate from ~95% to ~90%. This might be due to compactions as the block cache is only filled on the first read of a block. I need to think about this more.

[2017-06-07 15:47] justinj commented on #10545
Fixed by #15402, as stated in the comments here it's not a perfect fix, but #15295 tracks the desired eventual solution.

[2017-06-07 15:47] #10545 closed

[2017-06-07 15:51] leonardb commented on #16382
Hi @bdarnell

Thanks for the follow up. Unfortunately this means **connections** are now TZ specific so does not really work as a work-around where we use connection pooling.

If the option time zone could be set within a transaction it might be feasible.

Thanks,
Leonard

[2017-06-07 15:54] bdarnell commented on #16382
You can change the time zone as often as you want, so to use this workaround you'd need to set the time zone in each transaction that does anything time-zone related. (it's not reset when the transaction ends, so if any transaction changes it, all transactions have to)

[2017-06-07 17:26] knz commented on #15649
I haven't found where the issue lies exactly, and have several other things on my place. De-assigning for re-triage.

[2017-06-07 17:28] knz commented on #14415
Both EXPLAIN(TRACE) and EXPLAIN(DEBUG) are disappearing as per  #15948. No need to work on this.

[2017-06-07 17:28] #14415 closed

[2017-06-07 17:30] mberhault opened #16385 "security: tool to get certificate from kubernetes in-cluster."
Running in secure mode in k8s requires the usual certificates to be staged in each pod.
Conveniently, a k8s cluster is a CA authority and can be sent CSRs that are approved through the CLI.

The CA certificate is available on all pods at `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt`.
Dual-purpose node certs can be requested through the k8s api by sending CSRs and waiting for a signed cert

[2017-06-07 17:31] knz commented on #2142
Deassigning myself as I am not working on this before a suitable IR.
The item is now listed on #12418 though.

[2017-06-07 17:33] kuanluo commented on #7036
@petermattis's suggestion would be sufficient for onboarding to let people know the node they are connecting to is down. Reassigning to @mrtracy to keep track of this issue.

cc @dianasaur323 @nstewart

[2017-06-07 17:38] knz commented on #5935
So the issue is still very much visible. A client that does BEGIN...COMMIT and then retries with an exponential back-off upon a retry error it going to commit more txns successfully per second than one using our SAVEPOINT-based protocol, if the system is contended.

[2017-06-07 17:46] knz commented on #13969
@scode we discussed this internally and we are not planning soon to add a flag that directly prevents a query from running. It would be too much special casing at this stage of our development.

What you can do however is to use our special CockroachDB-specific SQL extension to **filter specific items out of the output of EXPLAIN**.

You would use this as follows:

[code]

For example:
[code]
[cod

[2017-06-07 17:47] knz commented on #13969
Similarly, you can use filtering on the output to EXPLAIN to detect filter stages, as Ben suggested.

[2017-06-07 17:51] knz commented on #14228
I don't know how to act on this issue at this time. It seems to me our performance targets are too fuzzy and we lack profiling data to suggest this particular issue will deliver significant improvements. De-assigning.

[2017-06-07 17:51] knz commented on #14228
I did add the item to  #12418 though.

[2017-06-07 17:55] cuongdo commented on #16271
I don't think this is a big deal, but it's good to have an explanation for this behavior.

[2017-06-07 17:55] #16271 closed

[2017-06-07 17:56] knz commented on #14241
I don't know how to fit this issue in my current workload. De-assigning for now.

[2017-06-07 18:03] knz commented on #9754
This will be addressed when #13031 merges.

[2017-06-07 18:07] knz commented on #10320
cc @andreimatei
I am not planning to work on this any time soon (Also Andrei helped me understand that the scope of the issue is larger than what the small description would otherwise suggest)

[2017-06-07 18:09] knz commented on #10320
Issue added to #8879

[2017-06-07 18:10] knz commented on #9188
This is a schema change issue, cc @vivekmenezes for triage and prioritization.

[2017-06-07 18:10] knz commented on #9188
& @jordanlewis

[2017-06-07 18:12] knz commented on #2791
(The suggestion is still applicable; just checked.)
Not planning on working on this any time soon. But wanting to highlight this is a potential perf gain too, once we introduce caching of query plans.

[2017-06-07 18:19] knz commented on #12615
Recent refactorings by Radu have made this code much simpler, while retaining a (good) use for StarDatumInstance. This issue needs not exist any more.

[2017-06-07 18:19] knz commented on #12482
The code in renderNode has been improved by Radu already.

[2017-06-07 18:20] knz commented on #12716
Note: this issue is not forgotten but should be more readily addressable once we have a unified IR and type checker for expressions and statements.

[2017-06-07 18:22] knz commented on #13283
This has been more or less thoroughly addressed already.

[2017-06-07 18:22] #13283 closed

[2017-06-07 18:24] RaduBerinde commented on #12615
It may still make sense to just remove it and send empty rows instead. Not a big deal though.

[2017-06-07 18:26] tschottdorf commented on #13156
Similar-looking report from @HeikoOnnebrink.

---

today I was prototyping some SQL as part of some REST API.
The idea is to have some table that stores requests that are inserted from different sources where RequestKey is the Primary key and is of type SERIAL to ensure global sorting.
CREATE TABLE IF NOT EXISTS DbRequests (
RequestKey serial PRIMARY KEY,
RequestType string NOT NULL,
RequestLock b

[2017-06-07 18:27] knz commented on #14890
Can't repro, so I'm happy. :)

[2017-06-07 18:27] #14890 closed

[2017-06-07 18:28] knz commented on #10163
We haven't seen this in the last month so I guess the issue was fixed.

[2017-06-07 18:28] #10163 closed

[2017-06-07 18:37] benesch commented on #13156
Hmm, that looks unrelated at a first pass. I don't see any generator expressions in that query.

[2017-06-07 18:38] knz commented on #13156
Please file a separate issue if needed.

[2017-06-07 18:40] knz commented on #15994
cc @a-robinson @bdarnell

[2017-06-07 18:41] benesch commented on #13156
My guess is the `CASE` clause inside the `HAVING` clause is the problem, but that's only because that's the most complicated part of the query. @tschottdorf, would you mind to file this as a separate issue?

[2017-06-07 18:42] tschottdorf commented on #13156
No, doing so now.

[2017-06-07 18:43] tschottdorf opened #16388 "sql: panic: indexed var linked to different container"
report by @HeikoOnnebrink on gitter.

[code]

---

today I was prototyping some SQL as part of some REST API.
The idea is to have some table that stores requests that are inserted from different sources where RequestKey is the Primary key and is of type SERIAL to ensure global sorting.
CREATE TABLE IF NOT EXISTS DbRequests (
RequestKey serial PRIMARY KEY,
RequestType string NOT NULL,
RequestLock b

[2017-06-07 18:43] knz commented on #16349
@faiverson can you tell us more about where and how you are using this feature?

Note that you can use the type `timestamp` (without 0) but then create values with `<yourtimestamp>::int::timestamp` to round off seconds.

For example:
[code]

Would thi shelp?

[2017-06-07 18:43] tschottdorf commented on #13156
https://github.com/cockroachdb/cockroach/issues/16388

[2017-06-07 18:59] petermattis commented on #14108
I performed a rolling restart of the nodes on `denim` in an attempt to determine if the slowdown was due to something accumulating in the cockroach nodes. The answer appears to be no. Performance is actually slightly lower after the rolling upgrade.

<img width="927" alt="screen shot 2017-06-07 at 2 58 22 pm" src="https://user-images.githubusercontent.com/6201335/26896184-f04d8d6e-4b91-11e7-928d-5

[2017-06-07 19:03] a-robinson commented on #15994
Also @mberhault, since this would primarily be useful for secure deployments, and he's working on that in #16385.

I'd be interested to know if any other databases have adopted this model, though. Are there any examples other than hosted DBs like Cloud SQL?

[2017-06-07 19:05] WhiteTrashLord opened #16389 "cli: show message on start if anonymous usage details are sent"
Please add a message which indicates if the reporting of anonymous usage details is turned on or off when Cockroach starts.

I want to know if my env setting really worked.

[2017-06-07 19:38] benesch commented on #16389
Thanks for the suggestion! We're working on improving the transparency of our anonymous reporting more broadly—feel free to join in on the discussion at #16298.

It's not clear exactly what steps we'll take yet, but it's likely this will be one of them. (If not, we'll close this issue with rationale.)

[2017-06-07 19:42] benesch commented on #16362
Oh boy. @vivekmenezes can you advise? Looks to be `CREATE INDEX balance_idx ON bench.bank (balance)` that failed.

[2017-06-07 19:42] a-robinson commented on #13984
Fixed by @BramGruneir in #16174

[2017-06-07 19:42] #13984 closed

[2017-06-07 19:44] benesch commented on #16314
Looks to be a spurious networking failure, so optimistically closing.

[2017-06-07 19:44] #16314 closed

[2017-06-07 20:32] petermattis commented on #14108
Two new theories which I'm exploring:
* Background compactions are consuming too much disk bandwidth. We can specify a rate limit in RocksDB for how much bandwidth compactions can consume.
* Background compactions are consuming too much CPU. We configure RocksDB to use 1 thread for memtable flushes and N-1 threads for compactions where N is the number of CPUs.

The default Cassandra config limits

[2017-06-07 20:51] bdarnell commented on #16389
There are a couple of ways that you can verify that the environment variable has worked.  First
, once the cluster is running, you can query for the diagnostic reporting setting:

[code]

Second, in the log file, if there are any environment variables that are changing the operation of the server, we print them out like this (so if you misspelled the variable name, for example, this line would be

[2017-06-07 20:52] dimsmol opened #16391 "sql: DROP USER is missing"
`CREATE USER` is supported, but `DROP USER` is surprisingly missing

[2017-06-07 20:57] jordanlewis opened #16392 "cli/sql: support COPY FROM STDIN in the sql shell"
[code]

Jira issue: CRDB-6066

Epic CRDB-14477

[2017-06-07 21:02] jordanlewis opened #16393 "sql/pgwire: wrong protocol state after COPY FROM error"
Our pgwire implementation seems to get out of sync with `psql` when a `COPY FROM` operation returns an error half way through:

[code]

In that example, the connection seems to stay in sync after receiving the unexpected message. In this next example, the connection gets hopelessly confused until I close and re-open `psql`:

[code]

Notice that the results from each `select` don't return until i s

[2017-06-07 21:05] jordanlewis opened #16394 "sql: implement pg_table_is_visible()"
`psql` uses `pg_table_is_visible` to display the available tables in `\d`. We should implement it - it takes an `oid` and returns a boolean indicating whether the table is present in the current search path.

https://www.postgresql.org/docs/9.6/static/functions-info.html

[2017-06-07 21:06] jordanlewis commented on #16392
cc @knz @mjibson as people of interest in the `cockroach sql` and `COPY FROM` arenas respectively.

[2017-06-07 21:09] mjibson commented on #16392
I'm unlikely to have time to work on this or the other COPY bug for a while.

[2017-06-07 21:11] mjibson commented on #16309
Fixed by #16387

[2017-06-07 21:11] #16309 closed

[2017-06-07 21:17] jordanlewis opened #16395 "sql: allow specifying namespaced types"
`psql` emits the following query when you try to describe a table with `\d foo`:

[code]

We currently don't support specifying types with namespaces, such as `pg_catalog.text`. We may want to add a trivial amount of support for this kind of specification to improve compatibility.

[2017-06-07 21:23] timosellin opened #16396 "cli: cannot dump database with view"
Hi, I am trying to dump a database with a view, but it fails.

How to reproduce:

[code]

My version:

[code]

Expected result:
[code]

[2017-06-07 21:29] bdarnell commented on #16394
Duplicate of #12538

[2017-06-07 21:29] #16394 closed

[2017-06-07 21:42] jordanlewis commented on #16394
Heh, I even filed that other one... 🤦‍♂️

[2017-06-07 22:15] benesch commented on #16391
Marking as `helpwanted` unless you object, @mberhault. Seems like a good project for a first time contributor.

[2017-06-07 22:22] #16008 closed

[2017-06-07 22:29] faiverson commented on #16349
Laravel uses timestamp(0) to create tables with timestamp columns using the framework.
To use timestamp without (0) I need to create a different provider.
Using timestamp(0) I can use the postgres provider, so it gives me compatibility.
I'm trying to cover all the problems to be able to work with Laravel without extra effort, so the next developer only needs to setup the connection and be able to

[2017-06-07 22:40] cockroach-teamcity opened #16400 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_agg, acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#266803](https://teamcity.cockroachdb.com/viewLog.html?buildId=266803):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-07 23:02] knz commented on #16392
We don't support this. This is not a bug :)

We recommend for now that people who want to use COPY use pg's CLI client, which works with CockroachDB.

[2017-06-07 23:03] knz commented on #16349
cc @cuongdo for roadmapping

[2017-06-07 23:05] knz commented on #16393
Dup #16392.

[2017-06-07 23:11] jordanlewis commented on #16393
This is not a dupe! this is a bug, the other one is a feature request as you pointed out.

[2017-06-07 23:12] knz commented on #16393
Woops I had not seen that you were using the pg client here. My bad.

[2017-06-07 23:26] stevencnix commented on #16391
I'll give this a go. However this is my first time so if some one manages to get it before me no hard feelings.

[2017-06-07 23:52] benesch commented on #16391
Sounds great, @stevencnix! Please don't hesitate to ping us on Gitter if you get stuck.

[2017-06-08 01:35] petermattis commented on #14512
The RocksDB folks are unlikely to fix this upstream any time soon (https://github.com/facebook/rocksdb/issues/2391). Either we try to fix it ourself in RocksDB, or we add some idle cluster/node heuristic which temporarily sets the cache size to 0, thus purging it of any unused block.

[2017-06-08 06:31] cockroach-teamcity commented on #16042
SHA: https://github.com/cockroachdb/cockroach/commits/84bc9597164f671c0130543778228928d6865c5c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=267001&tab=buildLog

[2017-06-08 07:05] cockroach-teamcity commented on #14969
SHA: https://github.com/cockroachdb/cockroach/commits/84bc9597164f671c0130543778228928d6865c5c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=267066&tab=buildLog

[2017-06-08 07:23] zhaohansprt opened #16403 "failed to upgrade from 1.0 to 1.0.1"
BUG REPORT

Please describe the issue you observed:
OS:  centos 7.1   x64  (not vm)

I want to upgrade 1.0 to 1.0.1 , so  i    `ps aux|grep cock` and  ` kill -9 xxx`  all  cockroach processes and copy  1.0.1 binary( which i downloaded from https://binaries.cockroachdb.com/cockroach-v1.0.1.linux-amd64.tgz)
  to /usr/local/bin/  to overwrite the 1.0 binary ,and finally  stucked with starting the nod

[2017-06-08 07:24] cockroach-teamcity commented on #15728
SHA: https://github.com/cockroachdb/cockroach/commits/84bc9597164f671c0130543778228928d6865c5c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=267107&tab=buildLog

[2017-06-08 07:24] cockroach-teamcity commented on #15729
SHA: https://github.com/cockroachdb/cockroach/commits/84bc9597164f671c0130543778228928d6865c5c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=267107&tab=buildLog

[2017-06-08 08:22] komuW opened #16404 "misleading AWS deployment instructions in Docs"
**BUG REPORT**

1. N/A.

2. Please describe the issue you observed:

- What did you do?
I was following this guide on how to setup cockroachDB in AWS:

https://www.cockroachlabs.com/docs/deploy-cockroachdb-on-aws.html

- What did you expect to see?
I expected the blogpost to describe how you should use the load balancers CNAME

- What did you see instead?
There was this part in the post:
[code]

I

[2017-06-08 09:04] a6802739 commented on #16216
@tschottdorf  about `You'd have to run queries close to the TTL`, you mean `snapshot read`？

[2017-06-08 13:28] dianasaur323 commented on #16404
@komuW Thanks for your report - I updated the title to reflect that the page you are referring to is in docs, and am including @jseldess to take a look.

[2017-06-08 13:31] dianasaur323 commented on #16395
@jordanlewis Do you mind explaining if this is a compatibility issue related to ORMs, GUIs or just everything in general? Trying to get a sense for how often and in what situations this issue would occur.

[2017-06-08 13:34] dianasaur323 commented on #16389
Perhaps we can make this more clear in the docs. @jseldess Do you mind taking a look?

[2017-06-08 13:40] dianasaur323 commented on #16366
I think this is a good idea, and unlikely to take a long time to implement. I made it 1.1 for now, and perhaps @mrtracy can take a look?

[2017-06-08 13:43] dianasaur323 commented on #16359
Let's do 1.2

[2017-06-08 13:51] tschottdorf commented on #16216
yes, by default these would be transactions at old snapshot timestamps (for example one coming from `SELECT ... AS OF SYSTEM TIME now-24h`, but if someone configured a very small TTL (say 1 second) then any transaction running ~1s could run into problems with this anomaly.

[2017-06-08 14:18] mberhault commented on #16404
The docs can be changed to mention "load balancer CNAME" everywhere instead of "load balancer IP address".

[2017-06-08 14:30] jseldess commented on #16404
Thanks, all. I have a docs issue open to address this: https://github.com/cockroachdb/docs/issues/1534

[2017-06-08 14:46] komuW commented on #16404
thanks guys.
closing..

[2017-06-08 14:46] #16404 closed

[2017-06-08 15:18] mberhault commented on #16346
Binaries are good to go.

[2017-06-08 15:31] keiranmraine commented on #12538
Also needed for SQLAlchemy, fixed one issue and hit this one: https://github.com/cockroachdb/cockroachdb-python/issues/27

[2017-06-08 15:52] BramGruneir commented on #16359
We do now have a node diagnostics page that does show this.  But this shouldn't be what we link the staggered version warning from.

/debug/nodes

[2017-06-08 16:17] robert-s-lee opened #16407 "sql: support COPY FROM STDIN DELIMITER"
CockroachDB supports COPY.. STDIN with default tab delimiter.  Many extracts use alternate delimiter such as x0A, comma, and way to specify special character such as E'\t'.   A workaround to replace non default delimiter to the default can work, but this will impact performance of the import.  Some tools with direct connection cannot use the workaround.

Example below from TPC-H orders schema with

[2017-06-08 16:57] a-robinson commented on #16403
Hi @zhaohansprt, thanks for the report. To clarify, were you running a multi-node cluster? If you previously had multiple nodes running, you'll have to restart a majority of them before the cluster will start working again.

If it really was only a single node cluster, could you try again, let it run for more than the 3-4 seconds your above logs indicate, and upload what happens?

[2017-06-08 17:01] kuanluo commented on #16359
Interesting! If we already have the information, perhaps we can just point to this url in the alert? That would be an easy win. @dianasaur323, @mrtracy thoughts?

[2017-06-08 17:27] tschottdorf opened #16409 "sql: spammy memory usage warnings"
`go run kv/main.go --batch 100 -min-block-bytes 1024 -max-block-bytes 4096 --read-percent 0`

gives a flurry of

[code]

Seems reasonable to warn, but the workload does not seem unreasonable enough to potentially risk issues related to blocking on the logging mutex.

[2017-06-08 17:30] petermattis commented on #14108
Currently, we allow num-cpu threads for compactions and unlimited bandwidth. Reducing the number of threads to either 2 or 3 prevented RocksDB from keeping up with compactions eventually leading to too many L0 sstables which blocked writes. Limiting write bandwidth for flushes/compactions to 16 MB/sec resulted in a similar situation.

It seems like RocksDB does not provide a tunable we desire. Roc

[2017-06-08 17:42] dianasaur323 commented on #16359
I think we need to discuss the broader /debug page strategy - my assumption was that these weren't going to be super user facing, and were only going to be used for true debugging issues. I think the inability to easily see your node configurations is still an issue though - instead, perhaps we could tell them what CLI to run?

[2017-06-08 17:53] petermattis commented on #14108
The Raft log WriteBatch for a YCSB insert is 1250 bytes and the applied command WriteBatch is 1500 bytes. So the math above should really translate into 40 MB/sec of write bandwidth. We're seeing 270 MB/sec which is over 6x write amplification. I suppose that's possible. Seems high, though.

[2017-06-08 17:56] bdarnell commented on #14108
I have noticed rocksdb doing a lot of compactions of the high level SSTables, leading to more compaction I/O than one would expect. Maybe we're tuning some of the compaction parameters poorly? We should try comparing to the two "preset" modes `OptimizeLevelStyleCompaction` and `OptimizeUniversalStyleCompaction`. The "universal" style is documented as reducing write amplification but increasing spa

[2017-06-08 17:59] dianasaur323 commented on #6307
Adding a note here that /debug pages should also sit behind the user / login system as per conversation with @mrtracy

[2017-06-08 18:20] petermattis commented on #14108
Very possible. I'm diving again into the RocksDB parameter space, but first I'm going to verify the degradation is on writes. I'm adding a `--write-duration` flag to `ycsb` that will switch to read-only mode once that duration has elapsed.

[2017-06-08 18:21] jordanlewis commented on #16395
It's a compatibility issue related to any client program that uses this syntax. So far I've only observed it to be used by `psql`. This is not a high priority task.

[2017-06-08 18:44] irfansharif commented on #16376
If I've understood correctly this touches the short window of time where it's
possible that the _lease holder_ and the _raft leader_ are not the same replica
(raft leadership changes from under us, but the lease holder is still the old
replica for a short while). An assumption baked into the quota pool was that
lease holder and the raft leader are co-located.

1. The leaseholder and the raft leade

[2017-06-08 18:45] irfansharif commented on #16376
From #16399:

[2017-06-08 18:46] #14969 closed

[2017-06-08 18:47] bdarnell commented on #16376
possible that the lease holder and the raft leader are not the same replica
(raft leadership changes from under us, but the lease holder is still the old
replica for a short while). An assumption baked into the quota pool was that
lease holder and the raft leader are co-located.

Yes. As I said when the quota pool was introduced (https://github.com/cockroachdb/cockroach/pull/15802#issuecomment-301

[2017-06-08 18:54] irfansharif opened #16412 "storage/engine: Do we need use_fsync?"
Fallout from discussion at #16361.

Source: [rocksdb/wiki](https://github.com/facebook/rocksdb/wiki/basic-operations#asynchronous-writes)

This is a flag set on `rocksdb::Options`, it _should_ somewhere happen [here](https://github.com/cockroachdb/cockroach/blob/ea3b2c499d30beab8370c7dc610a61f97b6f9545/pkg/storage/engine/db.cc#L1490) but we don't seem to be doing so.

cc @petermattis.

[2017-06-08 19:06] bdarnell commented on #16412
Which filesystems are "like ext3" in this respect? How common is ext3 these days? ext4 was the default in RHEL6, which is the oldest platform we support. I would expect (but have not verified) that all platforms we care about default to filesystems where this is not an issue.

It would be nice if we could encapsulate this knowledge into rocksdb instead of doing our own inspection of the filesystem

[2017-06-08 19:34] petermattis commented on #14108
Here's a 1h run where writes stop after 30m:

<img width="931" alt="screen shot 2017-06-08 at 3 32 50 pm" src="https://user-images.githubusercontent.com/6201335/26947194-d739e04c-4c5f-11e7-9ae4-1ca797330af3.png">

<img width="1405" alt="screen shot 2017-06-08 at 3 32 32 pm" src="https://user-images.githubusercontent.com/6201335/26947192-d33092d4-4c5f-11e7-98e9-4a74ed8acf15.png">

I'll do a longer

[2017-06-08 19:52] knz commented on #16388
Dumping my thoughts after I looked at this with jordan:
- the stack trace is very clear that the crash happens during name resolution of the HAVING expression, while building the query plan; this name resolution happens immediately after parsing, that is before anything like expression normalization/simplication/type checking or any further processing of the HAVING expression by groupNode
- at tha

[2017-06-08 19:54] knz commented on #16388
Also another thing that is very suspicious is that the error message suggests the IndexedVar was migrated from one renderNode to another (the error would only occur if the addresses of the two renderNodes are different in memory, thus different objects). Although we have logic that migrates expressions from one node to another,
1) we never do that for HAVING
2) there are no two separate renderNode

[2017-06-08 20:40] RaduBerinde commented on #16388
There are two `renderNodes`, the plan should look like this:

[code]

[2017-06-08 20:49] RaduBerinde commented on #16388
I created the table and ran the query (without the WHERE) locally and I don't see the crash.

[code]

[2017-06-08 20:53] RaduBerinde commented on #16388
Ah, my bad, this is an 1.0.x version, this doesn't have the recent rewrite.

[2017-06-08 20:57] #12538 closed

[2017-06-08 21:04] RaduBerinde commented on #16388
Perhaps this has to do with the fact that it's a prepared statement (notice it uses a placeholder) - maybe one of the `renderNode`s is the one that was created during prepare?

[2017-06-08 22:09] jordanlewis commented on #16388
Indeed!

[code]

Logs:

[code]

[2017-06-08 22:10] jordanlewis commented on #16388
Although the above was produced on a `master` build - might want to repro on a 1.0 branch as well to ensure it doesn't have to do with prepared statement caching.

[2017-06-08 22:15] jordanlewis commented on #16388
I can't reproduce this on the build 2cc11e7e that the user reported the crash with. This should be fixed regardless.

[2017-06-09 00:10] jrupac commented on #16313
Thanks all for super quick fix and thanks @RaduBerinde for the advice.

[2017-06-09 02:03] stevencnix commented on #16391
I don't think I am going to be able to do this right now. I need to better learn GO, the scripts, and CockroachDB overall first.

[2017-06-09 02:18] benesch commented on #16391
No problem, @stevencnix. Thanks for the heads up.

On Thu, Jun 8, 2017 at 10:04 PM, Steven Nix <notifications@github.com>
wrote:

[2017-06-09 02:18] zhaohansprt commented on #16403
Yes i  made  three nodes  cluster just follow the  [](https://www.cockroachlabs.com/docs/start-a-local-cluster.html)  ,and i killed the three nodes  for upgrading ,but failed to restart the majority of them as the default store path is

and such error msgs continully  shows no matter how long it been throuth !
` W170608 15:03:54.035915 208 storage/store.go:1339 [n1,s1,r5/4:/Table/{0-11}] could not

[2017-06-09 03:09] jrupac commented on #16313
Not that it matters much, but it didn't seem like even adding a storing index helped the issue with v1.0.1. I ended up reverting back to v1.0 and that correctly did not exhibit this problem.

[2017-06-09 04:01] a-robinson commented on #16403
I'm sorry, I can't quite understand your past message when you say you "failed to restart the majority of them firstly". Can you be more specific about which nodes you restartd and with what flags?

It's very possible that you've run into #16268, but even that won't prevent your cluster from starting back up if you start all 3 nodes at once.

[2017-06-09 04:02] zhaohansprt commented on #16403
I  start them asynclly solved

[2017-06-09 04:02] #16403 closed

[2017-06-09 04:07] HeikoOnnebrink commented on #16388
Just to make clear... the statement generally executes fine ... just during stress test with 3 concurrent workers in a 9 node cluster sometimes (1 out of 1000) execution fails (see problem description on top) up to now I see problem only on nodes where data was not inserted , will do some more tests to confirm the same ..

[2017-06-09 04:09] a-robinson commented on #16403
Good to hear. I'm sorry about the difficulties!

[2017-06-09 04:26] jseldess commented on #16389
Just opened a docs PR to address this, @dianasaur323.

[2017-06-09 06:20] a6802739 commented on #16216
@tschottdorf  the default TTL is about 24h. So if we write a key-value with a timestamp `now-24h.prev()` , after the GC, if we use `SELECT ... AS OF SYSTEM TIME now-24h`, we would not read the key with the timestamp `now-24h.prev()`, right?

[2017-06-09 06:32] cockroach-teamcity commented on #16312
SHA: https://github.com/cockroachdb/cockroach/commits/0acfb89a9ce401a31c52ff10b314433402948e8b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=267931&tab=buildLog

[2017-06-09 06:38] cockroach-teamcity opened #16418 "server: TestServerStartClock failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0acfb89a9ce401a31c52ff10b314433402948e8b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=267927&tab=buildLog

[code]

[2017-06-09 08:38] JackHerring opened #16419 "Crashing nodes"
Node 1 was the last one to die, reports a 'panic' in the logs. Node 3 also crashed a little while ago but we don't have the same error reported in the logs. Logs attached.

Fyi: @jrote1

[debug.zip](https://github.com/cockroachdb/cockroach/files/1063413/debug.zip)

[2017-06-09 12:02] mpoornima commented on #16391
@benesch Can you assign this to me. I've been going through the source and I think I have figured out where all changes need to be done. Thanks.

[2017-06-09 13:23] JackHerring commented on #16419
Here is a log for node 3 crashing
[debug.zip](https://github.com/cockroachdb/cockroach/files/1064151/debug.zip)

[2017-06-09 14:46] mberhault opened #16422 "release: v1.0.2"
Candidate SHA: 9e3606bd2863ce7a460fd0c842414673d62f0533
Deployment status: `adriatic`, `cerulean`, `omega`

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] Deploy to test clusters, fill in `Deployment status` above
- [x] [Check

[2017-06-09 14:52] jordanlewis commented on #16419
Thanks for the report.

I believe this is #15950 - https://sentry.io/cockroach-labs/cockroachdb/issues/274120395/events/5779014820/

[2017-06-09 14:59] benesch commented on #16391
@mpoornima, afraid we can't assign issues to folks who aren't a member of the cockroachdb organization. Your comment here is enough to indicate you're working on it, though—and thanks for the help!

[2017-06-09 15:08] petermattis commented on #14108
Here are graphs from a longer run where write ops were configured to stop after 12h:

![screen shot 2017-06-09 at 10 58 13 am](https://user-images.githubusercontent.com/6201335/26981304-bc80478e-4d02-11e7-852e-8986c93d2e1f.png)

![screen shot 2017-06-09 at 10 58 35 am](https://user-images.githubusercontent.com/6201335/26981313-c3ba0d64-4d02-11e7-9d84-cef17a0e7871.png)

![screen shot 2017-06-09 at

[2017-06-09 15:15] benesch commented on #16396
Hi, @timosellin, thanks for the report and the minimal test case. I can definitely reproduce this. Assigning to @mjibson, who can give us a better sense of how involved the fix for this will be.

[2017-06-09 15:17] benesch commented on #16396
Seems like we have some hardcoded assumptions about the presence of a `rowid` index: https://github.com/cockroachdb/cockroach/blob/master/pkg/cli/dump.go#L327

[2017-06-09 15:17] tschottdorf commented on #16216
The `GCThreshold` prevents you from doing reads that would read incorrect results. And the current problem is that we don't copy the GCThreshold from the left hand side to the newly created right hand side of the split. That needs to be fixed and tested.

I looked again at `TestStoreSplitTimestampCacheDifferentLeaseHolder` and it's more complicated than what you want to test. I think you can just

[2017-06-09 15:20] tschottdorf commented on #16419
@JackHerring, could you by any chance share the workload you were running? We're aware of this bug but so far haven't managed to reproduce it in our tests.

[2017-06-09 15:24] JackHerring commented on #16419
We are running 3 nodes with 1 core and 1gb of RAM. We were then inserting,updating and reading about 50 times a second for sustained time and the first node died when the table got to about 250mb. We not longer have the exact data as we reset everything as the nodes were even crashing when trying to delete when the table size was 500mb with 1mil rows.

[2017-06-09 16:01] neeral commented on #6198
I've written an RFC for this: see PR #16352

Breakdown of work into  tasks:
- [ ] Add new `Decommission` field to node liveness table
- [ ] Add new node and/or store state; audit existing
- [ ] Add function to count the number of replicas on another node
- [ ] Mark node as Draining when it discovers it is in Decommission state
- [ ] Force rebalancing of replicas from a decommissioning node
- [ ] H

[2017-06-09 16:13] tschottdorf opened #16424 "sql: AS OF SYSTEM TIME should support at least `current_timestamp() - INTERVAL X"
`AS OF SYSTEM TIME` currently can only take constant expressions (i.e. '2017-09-09' but not `current_timestamp()`). This is because at the time at which the expr is evaluated, much of the evaluation context is not yet available.

We should at least allow `current_timestamp()` be used on top of that. That is hopefully straightforward and enables the most likely use case for `AS OF SYSTEM TIME`: rea

[2017-06-09 16:16] tschottdorf commented on #16424
Once fixed, should undo https://github.com/cockroachdb/docs/pull/1549.

[2017-06-09 16:17] tschottdorf commented on #16419
Could you share (prototypes of) the queries you were running? Apologies if they're already somewhere, but I believe not.

[2017-06-09 16:34] jrupac commented on #16313
I've added a new storing index as follows:

[code]

(I had to create a new index on the table instead of replacing the existing "article_id_key" since I think that's created automatically from "id" being a unique primary key. I don't think this is problematic.)

Ah, I think I understand part of the problem. I had simplified the query for this bug; the actual query that I'm performing that's return

[2017-06-09 18:17] mjibson commented on #16396
It's unclear to me how to proceed. Since views are just a select, they are not guaranteed to have primary keys, which means it might not be possible to page over the data in a consistent way. Unless there's another idea I think the best we can do now is to return an error saying views aren't supported by dump.

[2017-06-09 18:19] dt commented on #16396
shouldn't dumping a view just dump its create statement, not the underlying data?

[2017-06-09 18:27] mjibson commented on #16396
Yeah, that sounds right. We already support only dumping schemas, so likely need to just teach dump to skip over views during data dump time, and error if it's in data-only mode.

[2017-06-09 18:27] RaduBerinde opened #16426 "sql: planner should prefer index that has more columns used by filter"
From https://github.com/cockroachdb/cockroach/issues/16313#issuecomment-307437645.

We have two similar indexes, one has an extra STORING column and it is not chosen despite that with that column the filter can be entirely processed during the index scan. The planner should take this into account - the more we can push down filters, the better.

[2017-06-09 18:30] RaduBerinde commented on #16313
Thanks for following up, this is helpful!

Yes, it seems that the index is not being used because we need an index-join anyway. And as far as the planning process is concerned, the two indexes are the same so it chooses the "smaller" index (fewer columns). But in this case, the planning process should take into account that it's more efficient if the entire filter is applied on the index. I filed

[2017-06-09 18:37] timosellin commented on #16396
IMO dump should never fail. If you are dumping everything or just the schema the create statement should be dumped. If you are running in data-only mode, views should be just skipped.

[2017-06-09 18:48] a-robinson commented on #14721
Is there a reason we didn't ever switch snappy compression to be on by default?

[2017-06-09 18:56] benesch commented on #16396
That's how pg_dump operates—i.e., skipping views when --data-only is
specified—so I'm in favor of that behavior.

On Fri, Jun 9, 2017 at 2:38 PM, Timo Sellin <notifications@github.com>
wrote:

[2017-06-09 19:45] cockroach-teamcity opened #16431 "teamcity: failed tests on master: testrace/TestExplainTrace, testrace/TestExplainTrace/TracingOff"
The following tests appear to have failed:

[#268502](https://teamcity.cockroachdb.com/viewLog.html?buildId=268502):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-09 19:48] petermattis commented on #14721
No reason. We were just about to release 1.0 when we fixed the perf issue. Should probably enable it now.

[2017-06-09 20:38] jordanlewis commented on #16388
Thanks @HeikoOnnebrink.

The related problem on `master` is caused by the fact that `prepare` mutates the AST when producing the output plan node. This is troublesome - the prepared statement caching I introduced in #15639 assumes that the AST doesn't get modified in place by `prepare`, or at least not in such a way that causes it to become invalid when `prepare` is called on it again.

[2017-06-09 20:40] petermattis commented on #16419
@JackHerring To add to what @tschottdorf said, the crash is due to an assertion failure in a data structure but so far we've been unable to figure out why the assertion is failing. We've only 4 instances of this assertion failure (and never in our own tests or test clusters). It's likely that you won't experience the problem again, but there is a small chance it is related to your workload so any

[2017-06-09 20:49] knz commented on #16388
IndexedVars are modified in-place I believe (BindIfUnbound).

[2017-06-09 20:56] jordanlewis commented on #16388
But in normal operation, `IndexedVars` should not be introduced into the parsed AST. The parsed AST should never be mutated. `IndexedVars` will get added to expressions, but those expressions should always be returned as copies of the original AST. Normally, we do this well.

However, there was a bug:

https://github.com/cockroachdb/cockroach/blob/537044816a197424015571cc95f9c2648d2fe8af/pkg/sql/g

[2017-06-09 20:58] vivekmenezes commented on #16312
same as #16302

[2017-06-09 20:58] #16312 closed

[2017-06-09 20:58] RaduBerinde commented on #16388
Nice find!

[2017-06-09 20:59] vivekmenezes commented on #16302
The likely cause is that we need to use ```stopper.RunTask() instead of go func()``` in  waitForDrainSignalFromConsumer

[2017-06-09 21:22] knz commented on #16388
#16434 is a good fix for the problem identified in https://github.com/cockroachdb/cockroach/issues/16388#issuecomment-307241176 but not for this issue.

[2017-06-09 21:27] jordanlewis commented on #16388
Hmm, yeah I certainly can't prove that this issue is fully solved by #16434. But the two issues are suspiciously similar, so I was planning on optimistically closing this. I wonder if there is some place where we prepare an AST more than once before the prepare caching was introduced.

[2017-06-09 21:33] knz commented on #16388
not the same AST, no

[2017-06-09 21:33] RaduBerinde commented on #16388
Another case when mutation of the parsed AST is a problem is when retrying statements on the server side.

[2017-06-09 21:34] jordanlewis opened #16435 "storage: snappy-induced races"
Seen in a TeamCity PR run: https://teamcity.cockroachdb.com/viewLog.html?buildId=268599&buildTypeId=Cockroach_UnitTests_Testrace

Cursory glance shows the race is during a snappy operation, so optimistically assigning to @a-robinson since he just landed the snappy-related PR #16432.

[code]

[2017-06-09 21:35] RaduBerinde commented on #16388
(You could instrument `execParsed` to retry all queries a couple of times and print out the tree every time)

[2017-06-09 22:28] cockroach-teamcity opened #16436 "teamcity: failed tests on master: acceptance/TestNodeRestart"
The following tests appear to have failed:

[#268693](https://teamcity.cockroachdb.com/viewLog.html?buildId=268693):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-09 23:34] cockroach-teamcity opened #16438 "teamcity: failed tests on master: test/TestSplitSnapshotRace_SnapshotWins"
The following tests appear to have failed:

[#268744](https://teamcity.cockroachdb.com/viewLog.html?buildId=268744):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-10 06:40] cockroach-teamcity opened #16439 "sql/logictest: TestParallel failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/64c341f1d005db6b70f3eccf103f1dde6d61f94f

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=268830&tab=buildLog

[code]

[2017-06-10 07:38] cockroach-teamcity opened #16440 "storage: TestReplicateRemovedNodeDisruptiveElection failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/64c341f1d005db6b70f3eccf103f1dde6d61f94f

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=268949&tab=buildLog

[code]

[2017-06-10 07:47] cockroach-teamcity opened #16441 "util/grpcutil: TestShouldPrint failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/64c341f1d005db6b70f3eccf103f1dde6d61f94f

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=268974&tab=buildLog

[code]

[2017-06-10 07:53] mpoornima commented on #16391
@benesch I've opened a PR. Please have a look at https://github.com/cockroachdb/cockroach/pull/16442

[2017-06-10 08:23] cockroach-teamcity opened #16443 "sql: TestParallelCreateTables failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/64c341f1d005db6b70f3eccf103f1dde6d61f94f

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=269045&tab=buildLog

[code]

[2017-06-10 14:31] #16393 closed

[2017-06-10 14:39] tschottdorf commented on #16443
#16435

[2017-06-10 17:45] WhiteTrashLord opened #16445 "Auto Increment function"
I have thought about your current SERIAL data type and came to the conclusion that I don't like it for all use cases. For example if I make a table for User data I would prefer to have very small INT user IDs.
So I would highly appreciate if you could add something like an auto increment function. Even if it's much slower. I think it's always good to give developers some more options.

[2017-06-11 06:32] cockroach-teamcity commented on #16439
SHA: https://github.com/cockroachdb/cockroach/commits/f88a01b8d06cd280440a13f4251ba6d7dab8d70b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=269252&tab=buildLog

[2017-06-11 06:32] cockroach-teamcity opened #16448 "sql/logictest: TestParallel/subquery_retry_multinode failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f88a01b8d06cd280440a13f4251ba6d7dab8d70b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=269252&tab=buildLog

[code]

[2017-06-11 07:35] cockroach-teamcity opened #16449 "storage: TestReplicaGCQueueDropReplicaDirect failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f88a01b8d06cd280440a13f4251ba6d7dab8d70b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=269371&tab=buildLog

[code]

[2017-06-11 12:33] mberhault commented on #16385
Rather than adding the entire kubernetes dependencies into the cockroach repo, I think I'll create a new repo for k8s images. I'll probably keep the existing init container separate as even the most barebones binary with k8s libraries will be ~30MB.
The only logic that we need to duplicate is the fields in the CSR. Specifically: `node` user, certificate usages, and that's it.

[2017-06-11 16:56] irfansharif commented on #16449
#16435.

[2017-06-11 16:56] #16449 closed

[2017-06-11 16:56] irfansharif commented on #16440
#16435.

[2017-06-11 16:56] #16440 closed

[2017-06-11 17:27] bdarnell commented on #15733
Decoding this error: `sets.clj:110` is when the test creates its table. This is done without a retry loop (and it shouldn't need one, since it's a single statement outside a transaction). If it fails, all the other test threads fail too.

Other tests (including `comments.clj`) are also seeing `restart transaction` errors in their table creations.

[2017-06-11 17:47] bdarnell opened #16450 "sql: `CREATE TABLE` returns retryable error; should retry internally"
When a statement is run outside of a transaction (i.e. in an implicit auto-commit transaction), the server is supposed to be responsible for handling any retryable errors (since it has the entire transaction available for the retry). This doesn't appear to be working for `CREATE TABLE` statements, as seen in #15733. I can't be sure that this is limited to `CREATE TABLE`. That's the only place wher

[2017-06-11 23:45] bdarnell commented on #14554
The java SQL library jOOQ also needs this feature according to [this tweet](https://twitter.com/codepitbull/status/874017224155156480)

[2017-06-12 00:03] jordanlewis commented on #16096
#16200

[2017-06-12 00:03] #16096 closed

[2017-06-12 00:03] jordanlewis commented on #16450
I believe this is also the cause of the flakiness in the examples orms tests in #16200 and others.

[2017-06-12 00:10] petermattis commented on #16435
This might be a bug in gRPC. I was able to reproduce a data race using a pass-through compressor and decompressor and running: `make stressrace PKG=./storage TESTS=TestReplicaGCQueueDropReplicaDirect`. When a compressor/decompressor is enabled a slightly different code path is invoked in gRPC.

[2017-06-12 00:24] petermattis commented on #16435
Not a gRPC bug. `grpc.Stream` is not goroutine safe. We write to the Raft transport response stream from 2 different goroutines:
1. In `Store.processRequestQueue` (on error).
2. In `RaftTransport.RaftMessageBatch` (again, on error).

I'm not seeing an easy fix at the moment. Hopefully fresh Monday eyes will help.

[2017-06-12 00:47] bdarnell commented on #15738
jepsen-io/jepsen#178 fixes the register tests and reduces some other flakiness. The sequential tests are still failing 100% of the time, and the most common failure in the other tests is #16450.

[2017-06-12 00:58] petermattis commented on #16435
The code path exhibiting the race isn't performance sensitive. We can wrap the `grpc.Stream` with another implementation that contains a mutex. PR on its way.

[2017-06-12 01:57] dimsmol opened #16452 "sql: support `SET datestyle TO ISO` (its absence makes some pg client libs fail on start)"
Some popular PostgreSQL client libs execute `SET datestyle TO ISO` right after connecting to database, for instance `postgresql-simple` does [this](https://github.com/lpsmith/postgresql-simple/blob/be85ee90b35a35f5de099d820cd18c7239c4eea0/src/Database/PostgreSQL/Simple/Internal.hs#L238):

[code]

Currently `SET datestyle TO ISO` fails with `unknown variable: "datestyle"`, preventing such client li

[2017-06-12 02:06] jordanlewis commented on #16452
Thanks! We'll get to this at some point - in the meantime if you or anyone else feels like taking this one on, contributions are very welcome and this should be a pretty straightforward patch.

See #10087 for a very similar addition.

[2017-06-12 02:12] jordanlewis commented on #16452
Since that patch we've moved where these variables live actually, but the patch should still be straightforward. Have a look at [`pkg/sql/vars.go`](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/vars.go#L182) - the setting for `standard_conforming_strings` for instance should be quite similar to this as we only support one setting for it.

[2017-06-12 04:02] dimsmol commented on #16452
[client_encoding](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/vars.go#L262) is even better example. The new one should be basically the same, but ensure the value is `ISO`.
Not sure if it should uppercase before checking, though.

[2017-06-12 07:15] cockroach-teamcity commented on #16261
SHA: https://github.com/cockroachdb/cockroach/commits/f88a01b8d06cd280440a13f4251ba6d7dab8d70b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=269744&tab=buildLog

[2017-06-12 07:35] cockroach-teamcity opened #16454 "storage: TestSplitSnapshotRace_SplitWins failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f88a01b8d06cd280440a13f4251ba6d7dab8d70b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=269798&tab=buildLog

[code]

[2017-06-12 09:55] jjzazuet opened #16455 "Document requirements for node certificates when using custom certificate creation tools"
Hi. I just spent around 1 week and a half trying to identify why CockroachDB nodes were not joining my secure development cluster, and finally found the cause. The certificates generated by the `cockroach` binary itself always specify `node` as the Node certificate's Common Name.

Any other common name will make non-cluster-leader hosts freeze (well, not freeze, but rather produce no console outpu

[2017-06-12 10:06] mberhault commented on #16455
Thanks for the report. We do have a hole in the documentation here.

I have [an issue](https://github.com/cockroachdb/docs/issues/119) open against myself in the docs repo to document the openssl commands equivalent to our `cockroach cert` commands.
I'll close this issue in favor of docs one. Please subscribe to it for updates if you're interested.

[2017-06-12 10:06] #16455 closed

[2017-06-12 10:19] knz commented on #16388
From Gitter

[2017-06-12 10:25] a-robinson commented on #16454
#16435

[2017-06-12 10:25] #16454 closed

[2017-06-12 10:59] asitm9 commented on #16452
I will try to fix it.

[2017-06-12 12:09] mahaben commented on #16445
I agree with @WhiteTrashLord. It would be nice if you could provide something like an auto increment function instead of being obliged to use the serial data type!

[2017-06-12 12:20] knz opened #16457 "sql: make SET accept quoted identififers correctly"
While working on https://github.com/cockroachdb/docs/pull/1107 I noticed that SHOW supports quoted variable identifiers (e.g. `SHOW "time zone"`) but SET doesn't. We need to rectify this inconsistency to make the docs simpler.

More specifically, SET does accept quoted identifiers but does something strange with them.

[2017-06-12 13:05] cockroach-teamcity opened #16458 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#270022](https://teamcity.cockroachdb.com/viewLog.html?buildId=270022):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-12 13:28] JackHerring commented on #16419
@petermattis We work work on replicating this again and will get back to you if we do and if not will give you what we are doing

[2017-06-12 13:32] petermattis commented on #16419
@JackHerring Thanks. I'm going to take another whack at stressing the code in question to see if I can reproduce locally.

[2017-06-12 13:45] petermattis commented on #16445
@WhiteTrashLord, @mahaben Is there a performance threshold at which this stops making sense? An auto-increment function requires central coordination of the counter. This might double the time to perform an insert.

Many language and system designers would disagree with this. Your system can end up a confusing mess if this is taken to the extreme. This isn't meant to argue against your suggestion.

[2017-06-12 13:56] tschottdorf opened #16460 "storage: 1.0.1: a snapshot application was attempted outside of the streaming snapshot codepath"
https://sentry.io/cockroach-labs/cockroachdb/issues/292210580/

[code]

[2017-06-12 13:57] tschottdorf commented on #16460
Assertion is from https://github.com/cockroachdb/cockroach/pull/9292

[2017-06-12 13:57] tschottdorf commented on #16460
https://sentry.io/cockroach-labs/cockroachdb/issues/292210585/

Seems related. Probably from the same cluster in much the same moment. This assertion from HandleSnapshot.

[2017-06-12 14:00] jordanlewis commented on #16460
I did add that assertion - I'll take a look, but as far as I know the snapshot code has changed a ton since I last looked at it, so I might not be the right investigator for this one.

[2017-06-12 14:01] tschottdorf commented on #16460
Yeah, feel free to reassign. Maybe toss it to @petermattis for triage.

[2017-06-12 14:12] petermattis commented on #14108
The experimentation continued this weekend, but so far nothing has made an improvement. Increasing the write buffer size to 32 MB seemed to show a marginal improvement in performance, but nothing significant. I also tried setting `bytes_per_sync` to smooth out disk writes. No benefit. One interesting bit came from a run this weekend where writes were stopped after 24h:

<img width="932" alt="scree

[2017-06-12 14:14] #16435 closed

[2017-06-12 14:15] jordanlewis commented on #16460
So this panic is triggered in the `handleRaftReadyRaftMuLocked` when `raftGroup.Ready()` returns a `Ready` with a populated raft snapshot, but we're processing an ordinary raft message that was sent via `HandleRaftRequest`. We never expect snapshots to be sent via the normal Raft RPC - they must all be sent via the streaming RPC.

I believe this panic is caused by a bug that allows raft messages w

[2017-06-12 14:21] RaduBerinde commented on #13193
I think this would improve performance significantly for most queries, especially when we have "wide" tables. I will work on a proposal for the API.

[2017-06-12 14:34] cockroach-teamcity opened #16462 "teamcity: failed tests on master: testrace/TestBackupRestoreEmpty"
The following tests appear to have failed:

[#270096](https://teamcity.cockroachdb.com/viewLog.html?buildId=270096):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-12 14:37] danhhz commented on #15611
@mjibson do you remember what was broken? I just tried unskipping this and it passes

[2017-06-12 14:45] tschottdorf commented on #13193
You could also make the change Peter suggested and then see how it improves the actual performance.

[2017-06-12 14:51] RaduBerinde commented on #13193
What change is that exactly? There are a lot of details missing from the rough proposal above. I want to come up with a complete proposal before I go ahead with all the implementation (which is anything but trivial).

[2017-06-12 14:54] tschottdorf commented on #13193
Sorry, didn't mean to say don't make a proposal. Meant to say don't make a full-fledged proposal before you've managed to get some sanity checks that this is useful. That's likely obvious to you anyway, so sorry about the noise.

[2017-06-12 15:18] RaduBerinde commented on #13193
Fair enough. I am also looking from the perspective of DistSQL where the scan is (mostly) local so there is less concern about masrhal/unmarshal overhead.  It's less clear that there would be a big win in that case.

[2017-06-12 15:27] a-robinson opened #16463 "allocsim: Massive performance regression"
When running with the `node-per-locality-high-latency-imbalanced-load.json` config against master on an azworker, I get numbers like:

[code]

When on April 25 (#13902), I got numbers like:

[code]

This may be due to having three processes syncing their discs on a single machine, but something has certainly slowed **way** down since then.

[2017-06-12 15:37] #16376 closed

[2017-06-12 15:54] danhhz opened #16466 "restore: new AddSSTable path is broken when it has to batch"
RESTORE will return `pq: importing 108 ranges: finishing constructed sstable: Invalid argument: File is not opened` if any of the files in the restore are bigger than the `kv.import.batch_size` setting, which defaults to 2MB.

The test that should have caught this is skipped. Fix (with updated and unskipped test) upcoming

[2017-06-12 15:57] knz commented on #16391
Fixed by #16442

[2017-06-12 15:57] #16391 closed

[2017-06-12 16:36] petermattis commented on #16460
Raft initiated snapshots are always sent via the `raftSnapshotQueue`. The logic in `Replica.sendRaftMessage` is simple to follow. I don't see how this is happening. We could move the assertions higher in the stack. For example, `RaftTransport.SendAsync` could verify the message is not a snapshot. And `RaftTransport.handleRaftRequest` could perform a similar check.

[2017-06-12 16:39] cockroach-teamcity opened #16468 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#270236](https://teamcity.cockroachdb.com/viewLog.html?buildId=270236):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-12 16:42] petermattis commented on #16460
`RaftTransport.SendAsync` already has this assertion:

[code]

So somehow we a `raft.Ready` contains what appears to be a Raft-initiated snapshots even though that snapshot was not over the wire. @bdarnell any thoughts?

[2017-06-12 17:20] robert-s-lee opened #16471 "sql: dropping an interleave index causes backreference preventing DDL activities"
[code]

[code]

build:      CCL v1.0.1 @ 2017/05/25 17:12:12 (go1.8.3)

[2017-06-12 17:25] jordanlewis commented on #13098
This is now required by Rails 5.1.0 - our adapter works around it, but it'd be great to support this so we can remove the workaround from the adapter.

[2017-06-12 17:37] bdarnell commented on #16445
Note that while it's not a function, you can get this behavior today with a subquery: `INSERT INTO tbl (id, ...) VALUES ((SELECT ifnull(max(id), 0)+1 FROM tbl), ...);`. This guarantees a gapless monotonic sequence if you're willing to pay the performance price. (if you can tolerate gaps you can improve performance by allocating the counter in a separate transaction)

[2017-06-12 17:41] mjibson commented on #15611
Nope, not sure what was broken.

[2017-06-12 17:46] kuanluo commented on #16359
Agree.

The problem we're trying to solve is to give hints on how someone can possibly fix the alert. Ideas so far are:

1. Give CLI command
2. Create a new node version page that only links to from the alert.
3. Add the node version on "node list" page.

Any other suggestions, @dianasaur323 @BramGruneir @mrtracy? The next step can be weigh the pro and con as a group and decide on a solution?

[2017-06-12 17:48] andreimatei commented on #16450
If the statement is an implicit transaction, then indeed I don't think this error should escape to the client. Let me see if I can repro with the jepsen scripts. Or do you think it's easy to repro with one of the other tests?

[2017-06-12 17:59] dianasaur323 commented on #16359
I vote option 3 - we could think about what configs to show at the node level there. a [...] button might be enough for v1 of this fix. I think once we figure out cluster visualization, we should show node configs on that page instead of in the existing monitoring page.

[2017-06-12 18:47] jordanlewis commented on #14554
The query in question that jOOQ generates is as follows:

[code]

[2017-06-12 18:48] a-robinson commented on #16463
Yeah, it appears as though the issue was just the disk syncing. I'll send a PR to disable syncing in allocsim, since that's not really what we're trying to test in it.

[2017-06-12 18:54] dianasaur323 commented on #6307
Updating this GitHub issue with finalized 1.1 scope - just basic user login with error messages and login ID in the top right. We also need to consider how these logins reflect in logging in case users want to audit usage. cc @kuanluo

[2017-06-12 18:57] petermattis commented on #14108
My simulated `ycsb` mentioned in the previous message was flawed. Fixing it reveals that the top 10k keys only represent 57% of the reads, the top 100k keys represent 71% of reads and the top 1m keys represent 85% of reads. (These numbers are all for a simulated database where `ycsb` has inserted 216m keys).

Based on this, I'd expect a performance boost to decreasing the block size, though doing

[2017-06-12 19:17] #16466 closed

[2017-06-12 19:18] petermattis commented on #14108
Looking at this from another direction, `denim` is configured with 6.9GB of block cache per node. This translates to ~1.35m 32KB blocks across the 6 machines. Looking at my simulated output, the top 1.35m keys represent 88% of reads which looks to be in the same ball park as the observed block cache hit rate.

Reducing the block size to 4KB will allow caching 10m blocks which will capture 99.9% of

[2017-06-12 19:19] danhhz commented on #15611
Closed by https://github.com/cockroachdb/cockroach/pull/16469

[2017-06-12 19:19] #15611 closed

[2017-06-12 19:21] cockroach-teamcity opened #16474 "teamcity: failed tests on master: acceptance/TestNodeRestart"
The following tests appear to have failed:

[#270361](https://teamcity.cockroachdb.com/viewLog.html?buildId=270361):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-12 19:24] kuanluo commented on #6307
Login with field error:
![image](https://user-images.githubusercontent.com/1486483/27051051-b02ebc7c-4f82-11e7-9646-a2482baf5e54.png)

If the error is more generic:
![image](https://user-images.githubusercontent.com/1486483/27051146-14a40e50-4f83-11e7-9d4b-77faa8731876.png)

Log out button with ID top right:
![image](https://user-images.githubusercontent.com/1486483/27051169-24103850-4f83-11e7-83c

[2017-06-12 19:28] #16463 closed

[2017-06-12 19:32] bdarnell commented on #16460
One possibility for rare events like this is that someone's fuzzing the server, sending us messages that we did not actually generate (so this should be an error, not a panic). But I think it's more likely that it's some flaw in the way we're tracking whether we're in the streaming snapshot path or not. There's a lot of distance between the incoming streaming snapshot handling and this `handleRaft

[2017-06-12 19:45] a-robinson commented on #16474
#16436

[2017-06-12 19:45] #16474 closed

[2017-06-12 20:09] andreimatei commented on #16450
I'm able to repro about half the time with the Jepsen `sets` test, but not very reliably. Figuring out how to have the test run an instrumented binary and looking.

[2017-06-12 20:10] RaduBerinde opened #16477 "sql: don't unnecessarily add `NOT NULL` constraint when grouping"
When doing `SELECT MIN(x)`, if we have an index on `x` we can read only one value. However, this value should not be `NULL`, so we need to add an `x NOT NULL` filter (which in turn affects the span on the index).

If we don't find an index, we still add the filter (this is because the filter is added early and index selection is later). Evaluating this unnecessary filter is overhead in large scans

[2017-06-12 20:12] bdarnell commented on #16450
If you push a branch to the main cockroachdb/cockroach repo and then trigger the jepsen tests on that branch with teamcity, it will run with a build from that branch (it'll take two hours because it runs all the tests, but a full run is almost certain to hit this error a couple of times)

[2017-06-12 20:29] petermattis commented on #16460
I don't see anything either. Here's another crazy idea: perhaps `Replica.handleRaftReadyRaftMuLocked` returned an error and the process was panicing. In the process of panicing we released the locks for the `Replica` but the Raft scheduler was already about to process the replica and called `Replica.handleRaftReady` again and encountered the snapshot.

[2017-06-12 20:32] petermattis commented on #16460
My theory has some legs to it: https://sentry.io/cockroach-labs/cockroachdb/issues/292210585/. Both this event and the one in the original message occurred at the same time.

[2017-06-12 20:38] bdarnell commented on #16460
Yeah, that seems totally plausible. And errors from handleRaftReady are not that unusual; I think that's where we die if the disk fills up.

[2017-06-12 21:26] petermattis commented on #16460
Should we be converting various assertion-style panics to `log.Fatal{,f}`? The latter has the benefit of not releasing locks.

Cc @dt

[2017-06-12 21:40] bdarnell commented on #16460
Makes sense to me to prefer `log.Fatal` for these.

[2017-06-12 21:43] danhhz commented on #14120
Looks like #16161 go retitled to make this more or less a dup. Closing

[2017-06-12 21:43] #14120 closed

[2017-06-12 21:46] petermattis opened #16478 "testutils/testcluster: TestCluster.AddServer expects a specific number of ranges"
Discovered in #16411, `TestServer.Start` expects a specific number of ranges due to the call to `TestServer.WaitForInitialSplits`. That works fine in normal usage, but fails when invoked from `TestCluster.AddServer` if additional ranges have been added to the cluster.

Should be straightforward to fix by adding a field to `base.TestServerArgs` to skip the `WaitForInitialSplits` call.

[2017-06-12 21:49] petermattis opened #16479 "*: prefer log.Fatal to panic for assertions"
`panic` causes stacks to unwind and defers to be invoked (possibly releasing locks) until eventually something either handles the panic (unlikely) or we reach the runtime and it kills the process. While the process is dying, other goroutines are still running which may encounter invalid states due to the panic. For fatal errors we should use `log.Fatal{,f}` instead which will kill the process befo

[2017-06-12 21:51] #13993 closed

[2017-06-12 22:05] cockroach-teamcity opened #16481 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order"
The following tests appear to have failed:

[#270537](https://teamcity.cockroachdb.com/viewLog.html?buildId=270537):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-12 22:07] jordanlewis commented on #16481
#16200

[2017-06-12 22:07] #16481 closed

[2017-06-12 22:07] jordanlewis commented on #16200
This is caused by #16450.

[2017-06-13 03:12] a6802739 commented on #16344
@bdarnell  Maybe I could have a try for this.

[2017-06-13 06:47] cockroach-teamcity commented on #16439
SHA: https://github.com/cockroachdb/cockroach/commits/6a32b469d0539197508f81bb63391705f7b4f5b2

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=270674&tab=buildLog

[2017-06-13 06:47] cockroach-teamcity commented on #16448
SHA: https://github.com/cockroachdb/cockroach/commits/6a32b469d0539197508f81bb63391705f7b4f5b2

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=270674&tab=buildLog

[2017-06-13 07:22] cockroach-teamcity opened #16483 "ccl/sqlccl: TestBackupRestoreLocal failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/6a32b469d0539197508f81bb63391705f7b4f5b2

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=270739&tab=buildLog

[code]

[2017-06-13 11:24] HeikoOnnebrink commented on #16388
I created a custom build from release-1.0
This branch includes the "pkg/sql: group by mutation bugfix #16434"
Retested the problem from #16388  with 3 test runs and issue seems to be fixed with my custom build.
Question:
When will the changes that I tested today from branch release-1.0 be merged into the docker image cockroachdb/cockroach?
What is your workflow / update cycle of docker images?
Loo

[2017-06-13 12:02] knz commented on #16388
@HeikoOnnebrink I am delighted that Jordan's fix has alleviated your problem. The fix will be released in CockroachDB 1.0.3. The precise release date is not known yet, but usually we do stable releases every 2-3 weeks. We will update the Docker images at the time of release.

@jordanlewis color me impressed. I still currently have zero idea where the AST gets reused in 1.0.

[2017-06-13 12:31] HeikoOnnebrink commented on #16388
@knz just to understand it right... when 1.0.3 will be released which docker image will be updated?
latest + release-1.0 or will a new image with tag v1.0.3 added or all of them ?

[2017-06-13 12:42] knz commented on #16388
I'm not sure. @benesch can you chime in?

[2017-06-13 14:21] dianasaur323 commented on #16471
@jseldess This seems like awkward behavior. Do you mind documenting it as a known limitation for now?

[2017-06-13 14:26] knz opened #16487 "sql/parser+pgwire: invalid/incomplete encoding of strings in arrays"
This may or may not impact compatibility with postgres clients that use array types in query results.

pg:
[code]

crdb:
[code]

(Found while working on #16459)

cc @jordanlewis

[2017-06-13 14:27] knz commented on #16487
The root cause of the issue is that the way `parser.encodeSQLString` is written makes it hard to *not* print the `e'` prefix according to some `bareStrings` boolean.

[2017-06-13 14:44] dianasaur323 commented on #13604
@jseldess Here is the GitHub issue for the jobs table in the admin UI

[2017-06-13 14:44] dianasaur323 commented on #13604
![image](https://user-images.githubusercontent.com/5768024/27088300-4c1ab5e4-5025-11e7-83b1-466a9feded21.png)
@kuanluo Adding in your most recent mock here.

[2017-06-13 14:47] dianasaur323 commented on #6307
One final fix here on the mocks is to remove the side nav bar on the login page since those buttons won't work anyway.

[2017-06-13 14:53] jseldess commented on #16471
Sure. Just created an issue: https://github.com/cockroachdb/docs/issues/1589. Unfortunately, we don't yet have broader docs on interleaving secondary indexes, though. We need to add that as well.

[2017-06-13 14:54] cockroach-teamcity opened #16488 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#271127](https://teamcity.cockroachdb.com/viewLog.html?buildId=271127):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-13 14:55] jseldess commented on #13604
Thanks, @dianasaur323!

[2017-06-13 14:58] jordanlewis commented on #16488
#16468

[2017-06-13 14:58] #16488 closed

[2017-06-13 14:59] jordanlewis commented on #16458
#16468

[2017-06-13 14:59] #16458 closed

[2017-06-13 14:59] jordanlewis commented on #16381
#16468

[2017-06-13 14:59] #16381 closed

[2017-06-13 14:59] jordanlewis commented on #16355
#16468

[2017-06-13 14:59] #16355 closed

[2017-06-13 14:59] jordanlewis commented on #16323
#16468

[2017-06-13 14:59] #16323 closed

[2017-06-13 14:59] jordanlewis commented on #16220
#16468

[2017-06-13 14:59] #16220 closed

[2017-06-13 15:00] jordanlewis commented on #16122
#16468

[2017-06-13 15:00] #16122 closed

[2017-06-13 15:00] jordanlewis commented on #16105
#16468

[2017-06-13 15:00] #16105 closed

[2017-06-13 15:00] jordanlewis commented on #16086
#16468

[2017-06-13 15:00] #16086 closed

[2017-06-13 15:00] jordanlewis commented on #16085
#16468

[2017-06-13 15:00] #16085 closed

[2017-06-13 15:00] jordanlewis commented on #16066
#16468

[2017-06-13 15:00] #16066 closed

[2017-06-13 15:00] jordanlewis commented on #16060
#16468

[2017-06-13 15:00] #16060 closed

[2017-06-13 15:00] jordanlewis commented on #16059
#16468

[2017-06-13 15:00] #16059 closed

[2017-06-13 15:00] jordanlewis commented on #16056
#16468

[2017-06-13 15:00] #16056 closed

[2017-06-13 15:00] jordanlewis commented on #16023
#16468

[2017-06-13 15:00] #16023 closed

[2017-06-13 15:01] jordanlewis commented on #16468
This has been failing *a lot*. Who understands what this test is doing and has a while to fix it? It's very disruptive for CI workflows at the moment.

[2017-06-13 15:11] dianasaur323 opened #16489 "cli: let commands return partial information when run against unavailable/broken clusters"
Users expect to be able to get some information after running cockroach node status, even in the case of partitioning or loss of quorum.

It would be helpful to reveal some information from the local node (basically a warning that the node is no longer able to communicate with the rest of the cluster).

[2017-06-13 15:13] jordanlewis commented on #16334
#16400

[2017-06-13 15:13] #16334 closed

[2017-06-13 15:14] jordanlewis commented on #16153
#16157

[2017-06-13 15:14] #16153 closed

[2017-06-13 15:14] jordanlewis commented on #16334
I meant #16200.

[2017-06-13 15:15] jordanlewis commented on #16400
[code]

[2017-06-13 15:17] jordanlewis commented on #16483
Seems like an actual bug - `RelocateRanges` seems to be failing as it expects its input `targets` list to have at least 1 element.

@danhhz for triage

[code]

[2017-06-13 15:18] jordanlewis commented on #16350
A timeout.

[2017-06-13 15:19] davibo-oc commented on #16489
An example - Cassandra gives a status information in the following form:

[code]

Where U and D signals whether a node is reachable.

The current CockroachDB behaviour when there is a serious problem and the quorum is lost is to hang indefinitely on `cockroach node status` which is a bit unexpected.

[2017-06-13 15:20] #6803 closed

[2017-06-13 15:21] justinj opened #16490 "sql: time datatype"
Postgres supports a `time` datatype, which represents a time of day without a date. Hibernate exposes it, it's not clear how much demand there is for it, however.

[Postgres docs on `time`](https://www.postgresql.org/docs/10/static/datatype-datetime.html)

[2017-06-13 15:22] justinj opened #16491 "sql: support features used by Hibernate"
There's a number of queries issued by the Hibernate test suite that we don't execute properly or cannot parse (for various different reasons), this issue tracks them as they're found and fixed. This list is incomplete and growing as we find more:

Most important:
* [x] `information_schema._pg_expandarray` - #16971

Mildly more important:
* [x] `time` datatype - #16490
* [x] `CREATE TEMPORARY TABLE

[2017-06-13 15:25] danhhz commented on #16483
@benesch looks like this is scatter related

[2017-06-13 15:33] cockroach-teamcity opened #16492 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order"
The following tests appear to have failed:

[#271195](https://teamcity.cockroachdb.com/viewLog.html?buildId=271195):

[code]
Please assign, take a look and update the issue accordingly.

[2017-06-13 15:33] bdarnell commented on #16490
Here's a sample real-world table that uses the `TIME` type [from musicbrainz.org](https://github.com/metabrainz/musicbrainz-server/blob/0f7efdd2ff0ba2bd5e776240064d36e7a2aa1abd/admin/sql/CreateTables.sql#L690)

Note that postgres has two time types, `TIME WITHOUT TIME ZONE` and `TIME WITH TIME ZONE`. The `WITH TIME ZONE` variant is said to have "questionable usefulness" in the postgres docs.