[2017-03-27 14:59] BramGruneir opened #14383 "util/timeutil: C.strptime is not compatible with windows"
In conv.go, line 50, the C.strptime is used and this function is not compatible with windows, and is therefore preventing a clean windows build.

Based on the comment on line 41, it looks like there was already some consideration of finding an alternative.  Please replace this function with something that is windows compatible.

[2017-03-27 15:34] spencerkimball commented on #14279
Perhaps it was a mistake to make DROP TABLE work like TRUNCATE TABLE. I agree with @vivekmenezes that we should start by removing the table name -> table ID mapping in the schema and let clients continue. But instead of doing the MVCC deletion in the background, it seems considerably more efficient to have a different path for the actual deletion of the table, which would schedule `DeleteRange` ca

[2017-03-27 15:40] BramGruneir opened #14385 "util/log: syscall.Dup2 and syscall.Stderr are not windows compatible"
In clog.go:926 both syscall.Dup2 and syscall.Stderr are both used and they are both not compatible with windows.
Please find alternatives as this is preventing a clean windows build.

[2017-03-27 15:48] jordanlewis commented on #14311
Yes, the stack trace wasn't a panic - I just dumped the stack where the error was getting returned so I could understand what was going on better. I've confirmed that this error path is in fact used by `INSERT` statements with invalid input values. I suppose it makes some sense to let the mismatch fall through to the marshaller to get a better error message. On the other hand, it's a bit surprisin

[2017-03-27 16:50] bdarnell opened #14386 "sql: Better caching of database names"
This trace of a slow query shows two lookups for the name `system`, to look up the `system.descriptor` and `system.lease` tables. We should be caching these lookups so we don't have to resolve the same database name twice in one query.
![pasted image at 2017_03_22 02_03 pm](https://cloud.githubusercontent.com/assets/160562/24367798/f73707e2-12eb-11e7-9c76-4979def707e5.png)

[2017-03-27 17:07] cockroach-teamcity opened #14388 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#195857](https://teamcity.cockroachdb.com/viewLog.html?buildId=195857):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-27 20:24] #5415 closed

[2017-03-27 20:24] #7547 closed

[2017-03-27 20:24] #12422 closed

[2017-03-27 20:53] cuongdo commented on #6852
From a chat with @knz:

[2017-03-27 20:56] danhhz commented on #14099
cc @spencerkimball this is the issue I mentioned

[2017-03-27 23:27] #6616 closed

[2017-03-28 01:47] mberhault commented on #13808
Azure support is saying this is a bug in LIS (Linux integration service for Hyper-v) with a fix in the next release, but not exact ETA on the rollout. Until then, they recommend disabling timesync. I've been doing that on a per-node basis, but I may move this to our node init scripts.

[2017-03-28 01:48] tlvenn commented on #12526
Hi @jordanlewis, any chance to close that issue soon? It's kinda the last mile to be able to use the stock Postgrex driver.

Thanks a lot in advance.

[2017-03-28 02:52] arjunravinarayan opened #14403 "distsql: distinct processor should support disabling columns for distinct checking"
Currently, the distinct processor does not support filtering which columns are considered when deciding if two rows are equal. However, a column cannot always be eliminated, as it may be required downstream, but cannot be included on the equality check.

Consider the following schema, a table with 2 int columns Y, and Z. If you run `SELECT DISTINCT y FROM xyz ORDER by z`, z must be retained by the

[2017-03-28 03:04] arjunravinarayan opened #14404 "storage: remove TODO(DONOTMERGE) that was merged to master"
Commit 835b021ed0 introduced a `TODO(DONOTMERGE)` into the codebase. I only found it because I used `TODO(DONOTMERGE)` all the time while working on a branch, and grep for it later. At the very least this should be changed to a `TODO(person)`, if not addressed.

[2017-03-28 03:16] vielmetti opened #14405 "CockroachDB build on ARMv8 (aarch64, arm64) Ubuntu 16.04 + Go 1.8"
**BUG REPORT**

CockroachDB fails to build successfully on ARMv8 (Packet 2A, 96-core Cavium) with Ubuntu 16.04 and Go 1.8.

A full log of the build process is at this gist:

https://gist.github.com/96f20c94fa4a1c1afec98e33c164935a

It looks like there are several intertwined problems, so there might need to be a couple more issues opened to address specifics.

2. Please describe the issue you obse

[2017-03-28 03:28] bdarnell commented on #14405
Building with `make TAGS=stdmalloc` will disable `c-jemalloc` and might allow the build to get a little further.

The Dup2 issue is weird; why isn't the posix-standard Dup2 available? Dup3 is linux-specific. It's straightforward to work around this with build tags (which we're going to have to do for windows anyway: #14385), but it would be nice to not have a third variant of this code.

[2017-03-28 03:58] jseldess commented on #13857
It's possible to use the same cert for multiple nodes, so for now, I'm just going to write up a tutorial using that approach. @a-robinson, feel free to leave this open if we expect to make changes to enable node-specific certs with Kubernetes.

[2017-03-28 04:23] vielmetti commented on #14405
Making progress -

Patched the Dup2 -> Dup3 issue, that needs to be chased again upstream.

Some issues with `kv`:
[code]

and then this final style issue in TestVet, which looks unrelated to the architecture:

[code]

[2017-03-28 05:38] mjibson commented on #14367
Postgres allows this behavior. Maybe we don't care?

[2017-03-28 05:43] BramGruneir opened #14406 "all: windows build progress"
I'm adding this issue to keep track of our progress in getting a functional windows build.

[2017-03-28 05:44] BramGruneir commented on #14406
cc: @petermattis @spencerkimball
I'll keep this updated with our progress.

[2017-03-28 06:06] #14367 closed

[2017-03-28 06:10] cockroach-teamcity opened #14407 "config: TestComputeSplits failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/53f592a631d83e2afd4b20e60ead1d92d899d03a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=196508&tab=buildLog

[code]

[2017-03-28 06:17] cockroach-teamcity commented on #11221
SHA: https://github.com/cockroachdb/cockroach/commits/53f592a631d83e2afd4b20e60ead1d92d899d03a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=196525&tab=buildLog

[2017-03-28 06:56] cockroach-teamcity opened #14408 "ccl/storageccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/53f592a631d83e2afd4b20e60ead1d92d899d03a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=196592&tab=buildLog

[code]

[2017-03-28 08:13] cockroach-teamcity opened #14409 "storage: TestStoreRangeGossipOnSplits failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/53f592a631d83e2afd4b20e60ead1d92d899d03a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=196748&tab=buildLog

[code]

[2017-03-28 08:49] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/53f592a631d83e2afd4b20e60ead1d92d899d03a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=196853&tab=buildLog

[2017-03-28 09:15] cockroach-teamcity opened #14410 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#197150](https://teamcity.cockroachdb.com/viewLog.html?buildId=197150):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-28 09:40] nvanbenschoten opened #14412 "sql: support distSQL with RETURNING NOTHING syntax"
In the initial introduction of `RETURNING NOTHING` in #14188, we did not add support for DistSQL. This was mainly because `RETURNING NOTHING` only works with INSERT/UPDATE/and DELETE statements, none of which are supported by DistSQL at the moment. There were also a few races caught by the race detector when we attempted to interact with the shared `distSQLPlanner` concurrently. Still, we should k

[2017-03-28 09:42] nvanbenschoten opened #14413 "sql/rfc: s/statement pipelining/parallel statement execution/"
See #14188 for context. We should re-word all phrasing of "statement pipelining" to "parallel statement execution", as the second wording is a more correct description of what the `RETURNING NOTHING` functionality provides.

[2017-03-28 09:50] nvanbenschoten opened #14414 "sql: SchemaChanger should not need a planner"
As discussed offline, the `SchemaChanger` should not need a `planner` or a `Session` to perform its job. Right now these two objects are required only because they provide convenient access to the `LeaseManager` they hold. We should use this `LeaseManager` directly, instead, so that we can avoid the fake `planner` and `Session` entirely.

There is a [TODO](https://github.com/cockroachdb/cockroach/

[2017-03-28 09:58] nvanbenschoten opened #14415 "sql/parser: split EXPLAIN syntax nodes to permit finer-grained annotations"
See https://github.com/cockroachdb/cockroach/pull/14188#issuecomment-289227895.

We often find ourselves wanting to look at a syntax node to get a quick idea of what evaluating the syntax would entail. We also have a [pattern](https://github.com/cockroachdb/cockroach/blob/12e8530df71a1cb2762357590355b6e5bb2779e7/pkg/sql/parser/stmt.go#L77) of marking syntax nodes with different "annotation interfa

[2017-03-28 10:17] nvanbenschoten commented on #14405
I suspect the `kv` issue you're seeing is https://github.com/golang/go/issues/19137. It sounds like the fix was cherry-picked onto the Go 1.8 release branch recently. Any chance the version of Go 1.8 you're using is from before the cherry-pick?

The `TestVet` issues are strange (though they won't block the build or anything). @tamird, do you have any idea why we'd be seeing a more strict version o

[2017-03-28 11:18] #14308 closed

[2017-03-28 12:50] vielmetti commented on #14385
As noted in https://github.com/cockroachdb/cockroach/issues/14405 the lack of syscall.Dup2 is also an issue on linux-aarch64.

[2017-03-28 12:52] vielmetti commented on #14405
The version of Go 1.8 I have is from Ubuntu's "Go Language Gophers" team, https://launchpad.net/~gophers/+archive/ubuntu/archive . I'll confer with @mwhudson and see if I can get a more recent build of go tip in that collection.

[2017-03-28 12:55] dt commented on #14408
TestExportGCThreshold `securitytest.go:44: write /go/.../artifacts/StartServer471956078/ca: no space left on device`

[2017-03-28 13:30] #14382 closed

[2017-03-28 13:48] tamird commented on #14405
You may just want to wait for Go 1.8.1.

On Tue, Mar 28, 2017 at 8:52 AM, Edward Vielmetti <notifications@github.com>
wrote:

[2017-03-28 13:49] cockroach-teamcity opened #14417 "teamcity: failed tests on master: test (proposer evaluated kv)/TestRetryableErrorForWrongTxn"
The following tests appear to have failed:

[#197214](https://teamcity.cockroachdb.com/viewLog.html?buildId=197214):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-28 14:15] #14099 closed

[2017-03-28 15:09] #14408 closed

[2017-03-28 15:23] danhhz commented on #14099
@yznming I tested the test.py script again with spencer's fix and it seems to work now. this should make the beta we release this week

[2017-03-28 15:25] mberhault commented on #13823
I think we're ok for now. pg-level keep-alive settings probably wouldn't help much, and tcp transmission timeouts are kernel settings, so at best they're "production recommendations".

[2017-03-28 15:25] #13823 closed

[2017-03-28 15:27] cockroach-teamcity opened #14418 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#197313](https://teamcity.cockroachdb.com/viewLog.html?buildId=197313):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-28 15:47] spencerkimball commented on #9135
I'm going to do a PR which provides metrics as well as the backoff / retry loop and we'll push that to a cluster and try to get some better idea of what's going on.

[2017-03-28 15:48] arjunravinarayan commented on #14141
I think this is complicated enough that it needs its own issue. I will make one now.

[2017-03-28 15:57] bdarnell commented on #13101
See #14416 for another issue that would have been prevented by this.

[2017-03-28 16:34] petermattis commented on #13101
For #14416, how would we add the `warn_unused_result` attribute to `WriteBatch::Iterate`?

[2017-03-28 16:40] tamird commented on #13101
Speaking of which: https://github.com/cockroachdb/cockroach/blob/95deaf6/pkg/ccl/storageccl/engineccl/db.cc#L36

[2017-03-28 17:15] spencerkimball commented on #6693
The reason that particular txn record was left past 2 days is that extant txn records will not prompt a range to be GC'd via the gc queue. Right now only intents and non-live bytes will trigger gc. We'd need to add a count of extant txn records to the MVCC stats and key off of that. My feeling is that this isn't worth changing now since these appear very rare in the wild and we expect a GC to occu

[2017-03-28 17:16] spencerkimball commented on #9135
After poking around some more, we apparently have this problem now only on Blue, which is sustaining repeated chaos events which trigger the 3s timeout on intent resolution due to Raft leadership timeouts when we kill nodes. @bdarnell and I are thinking that the problem isn't worth further correction or even the addition of another metric. I'm closing this and related issue #6693.

[2017-03-28 17:16] #9135 closed

[2017-03-28 17:16] #6693 closed

[2017-03-28 17:18] spencerkimball commented on #628
This has been addressed via #13501

[2017-03-28 17:18] #628 closed

[2017-03-28 17:21] spencerkimball commented on #630
Persistent gossip bootstrap info was added in #3711.

It is certainly not required at this point to worry about the range leader cache. I'm closing the issue. We'll re-add if that becomes a performance bottleneck on rolling restarts in the future.

[2017-03-28 17:21] #630 closed

[2017-03-28 17:23] spencerkimball commented on #1329
This is no longer an issue with #13501

[2017-03-28 17:23] #1329 closed

[2017-03-28 17:43] cockroach-teamcity opened #14423 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestUpsertFastPath"
The following tests appear to have failed:

[#197410](https://teamcity.cockroachdb.com/viewLog.html?buildId=197410):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-28 18:07] knz commented on #14385
Care to suggest alternatives?
We really want a means to redirect Go's low level error messages to the log file.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-28 18:44] spencerkimball commented on #1417
@bdarnell this issue is very old and seems unlikely to represent worthwhile work, so I'm closing it. Please re-open and update if you disagree.

[2017-03-28 18:44] #1417 closed

[2017-03-28 18:45] petermattis commented on #14385
Apparently `syscall.Dup3` exists: https://github.com/golang/go/issues/11981. Should be possible to use `Dup3` on ARM and `Dup2` otherwise.

[2017-03-28 18:48] spencerkimball commented on #1780
I'm closing this issue due to advanced age and the advent of prop eval kv (although that's clearly not a complete fix for the issues raised here). Let's not have open issues for things which aren't currently a problem.

[2017-03-28 18:48] #1780 closed

[2017-03-28 18:49] spencerkimball commented on #2004
@danhhz @knz is this still a problem?

[2017-03-28 18:49] BramGruneir commented on #14385
Or something windows specific:  https://stackoverflow.com/questions/34772012/capturing-panic-in-golang/34772516

[2017-03-28 18:50] spencerkimball commented on #2042
@petermattis I'm closing this issue due to age and likely obsolescence.

[2017-03-28 18:50] #2042 closed

[2017-03-28 18:53] tamird commented on #14385
Also note that Dup3 is Linux-only, while Dup2 is supported in BSD. So I think we can use Dup3 on Linux (not just ARM), whatever crazy windows stuff is required on windows, and Dup2 everywhere else.

[2017-03-28 18:54] spencerkimball commented on #2131
@mberhault I assume this isn't going into 1.0. Reassign the milestone if you disagree.

[2017-03-28 18:55] spencerkimball commented on #2142
@RaduBerinde @knz is this still an active issue? Should it be 1.0 if so? If not, please close.

[2017-03-28 19:00] spencerkimball commented on #2210
There's more work to be done here, but #14188 begins to solve this problem and we're tracking it in other newer issues, so I'm closing this one.

[2017-03-28 19:00] #2210 closed

[2017-03-28 19:01] spencerkimball commented on #2309
https://github.com/cockroachdb/loadgen/pull/8

[2017-03-28 19:01] #2309 closed

[2017-03-28 19:03] knz commented on #14385
Dup2 is POSIX AFAIK.

I'd really like to know how Linux aarch64 manages to miss it. Unless it's not really Linux?

Windows 10 has a POSIX layer. Would be curious to know if we could just use that for windows support.

Nevertheless thanks for the windows hint I'll try to work something out based on that.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-28 19:05] spencerkimball commented on #2502
@mberhault, is this really fragile? How many issues have we had with it so far? Please close this unless you feel like there's still a reasonable expectation that work will / should be done here.

[2017-03-28 19:07] knz commented on #2142
It's still active. We don't optimize OR. Probably won't make it for 1.0 though.

Meta: what about we don't reclassify active but postponed issues blindly but instead ensure first there's a doc issue/PR to mark the thing as known limitation?
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-28 19:11] spencerkimball commented on #2524
@knz, is this closeable? Could you determine whether this is still milestone 1.0, unassign yourself and assign someone else if necessary?

[2017-03-28 19:13] spencerkimball commented on #2650
Benchmarking tools are taking shape in https://github.com/cockroachdb/loadgen. There's a generic KV, YCSB, and TPC-H. TPC-C isn't added yet, but likely will be in the near future. Closing this for now as an issue against the main repo.

[2017-03-28 19:13] #2650 closed

[2017-03-28 19:14] spencerkimball commented on #2724
@mrtracy seems we can close this. I don't believe this is necessary as it hasn't proven to be a pressing ask since it was filed 1.5 years ago. Re-open if you disagree.

[2017-03-28 19:14] #2724 closed

[2017-03-28 19:15] spencerkimball commented on #2791
@knz is this still active? Please determine whether this is 1.0 milestone and assign / close as necessary.

[2017-03-28 19:17] spencerkimball commented on #2841
@bdarnell let's fix this if we're running into problems with it. The `embedded.go` file is currently 10M so doesn't seem like we are. I'm closing this, but please re-open, and change milestone from 1.0 if you disagree.

[2017-03-28 19:17] #2841 closed

[2017-03-28 19:18] spencerkimball commented on #2859
Fixed in #13501

[2017-03-28 19:18] #2859 closed

[2017-03-28 19:29] bdarnell commented on #14385
Posix requires a C function `dup2`, but it's not specific about system calls. On linux aarch64, `dup2` is implemented in userspace (libc) in terms of the `dup3` system call. On architectures older than aarch64, a `dup2` system call is also provided for backwards compatibility. Go's `syscall` package only exposes real system calls, but it doesn't have any of the userspace/libc wrappers.

https://gr

[2017-03-28 19:35] knz commented on #14385
Oh excellent, so we can use build tags and cgo to pick what we need. Thanks for all the hints.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-28 19:37] spencerkimball commented on #2860
@petermattis @vivekmenezes this isn't happening in 1.0, so removing that milestone. Is this still a real request? If not anywhere near a reasonable expectation, let's close the issue.

[2017-03-28 19:38] asubiotto opened #14426 "distsql: bigtest failure of `TestLogicDistSQL/slt_good_0.test`"
When running `bigtest` with DistSQL on, the following query from https://raw.githubusercontent.com/cockroachdb/sqllogictest/master/test/index/between/1/slt_good_0.test fails with a `syntax error`.

[code]

Error message:
[code]

To reproduce:
[code]

cc @RaduBerinde

[2017-03-28 19:38] spencerkimball commented on #2939
Removing 1.0 label. @mberhault what's the legit priority for this?

[2017-03-28 19:40] spencerkimball commented on #2948
@vivekmenezes @tamird @knz Yikes, is this not the case during a single txn? I'm assigning this to @vivekmenezes to re-assign and prioritize as necessary.

[2017-03-28 19:41] spencerkimball commented on #3000
@vivekmenezes I'm clearing the 1.0 milestone from this issue. No way it's making it in. Please close if this is now moot.

[2017-03-28 19:44] spencerkimball commented on #3142
@vivekmenezes thoughts on this?

[2017-03-28 19:49] RaduBerinde commented on #14426
My guess is that we trim the set of IN values based on the other constraints: `col0 IN (6) AND col0 > 6` -> `col0 IN () AND col0 > 6`. An empty set is not syntax; we should replace the entire `col0 IN ()` expression with just `false`.

[2017-03-28 19:55] spencerkimball commented on #3288
@jordanlewis is this correctly labeled as 1.0 milestone? Please remove if not.

[2017-03-28 20:03] jordanlewis commented on #3288
Definitely not going to happen for 1.0.

[2017-03-28 20:11] mrtracy opened #14427 "ui: "New Version Available" alert should not appear on builds without a proper build tag"
This is the same underlying issue as #13473, but this is specifically focused on the Admin UI alert resulting from a version mismatch.

Essentially, if the user is running a self-built binary without a proper build tag, they will constantly get the "New Version Available" alert. The system that determines if this alert should be displayed should *not* display the alert when running on a self-built

[2017-03-28 20:13] mrtracy commented on #7343
I've logged #14427 to capture the sub-issue here with custom built binaries - for developers on a custom build, this alert should not display at all.

I'm moving this issue to "Later", as aside from the custom binaries issue, this is more about enhancing the information provided by the alert.

[2017-03-28 20:14] knz commented on #2791
Still active, but not for v1.0

[2017-03-28 20:15] mrtracy commented on #13473
This does not affect the the Admin UI, but rather appears to be the result of our server-side cluster reporting.  Assigning to @dt, who wrote this system if I remember correctly.

The Admin UI equivalent of this bug is #14427

[2017-03-28 20:16] knz commented on #2524
This specific issue was actually fixed by #7608.

[2017-03-28 20:16] #2524 closed

[2017-03-28 20:28] knz commented on #2004
Yes there is still a select clause in there.

[2017-03-28 20:41] knz commented on #14383
Got some hints from here: http://stackoverflow.com/questions/321849/strptime-equivalent-on-windows#3137634

[code]

[2017-03-28 20:43] knz commented on #14383
Wow so C++11 actually standardized get_time in the stdlib... :smile:
http://www.cplusplus.com/reference/iomanip/get_time/
http://www.cplusplus.com/reference/locale/time_get/get/

[2017-03-28 20:45] tamird commented on #14383
Whoa, that's awesome.

[2017-03-28 20:47] knz commented on #10130
In the light of https://github.com/cockroachdb/cockroach/pull/9790#issuecomment-289899248 this issue may go away if/when we re-implement to use the c++ stdlib.

[2017-03-28 20:52] knz opened #14429 "storage: c++ warnings when compiling db.cc"
using `cc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609`

[code]

[2017-03-28 20:59] spencerkimball commented on #2004
We're trying to figure out 1.0 milestones. Please either move this off of the 1.0 milestone or set its priority.

[2017-03-28 21:01] knz commented on #2004
Sorry priorities have not been explained to me yet. I do not know what to do.
This is a feature bug where privileges are not checked properly. There are workarounds, so we may be able to pass it as a known limitation in docs. However either that or a fix must make it to 1.0.

[2017-03-28 21:04] spencerkimball commented on #2004
OK, I reclassified it.

[2017-03-28 21:06] spencerkimball commented on #3304
Many fixes have gone in for this problem in the past year. Notably:

#7985, #9197, #14188

I'm closing this issue. Let's reopen as necessary.

[2017-03-28 21:06] #3304 closed

[2017-03-28 21:07] cockroach-teamcity opened #14431 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#197659](https://teamcity.cockroachdb.com/viewLog.html?buildId=197659):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-28 21:22] #13734 closed

[2017-03-28 21:34] #14426 closed

[2017-03-28 21:44] spencerkimball commented on #3529
Addressed in #4812

[2017-03-28 21:44] #3529 closed

[2017-03-28 21:52] spencerkimball commented on #3726
I'm closing this as there is no indication we need something more complicated.

[2017-03-28 21:52] #3726 closed

[2017-03-28 21:55] spencerkimball commented on #3781
@mjibson could you prioritize this issue?

[2017-03-28 21:56] spencerkimball commented on #3985
@knz I recall you did some work on this? Has it been adequately addressed, or still an open issue? I'm removing the 1.0 milestone, but please prioritize this / assign it as necessary.

[2017-03-28 21:57] spencerkimball commented on #4244
Closing this after @jordanlewis's last comment.

[2017-03-28 21:57] #4244 closed

[2017-03-28 21:58] knz commented on #3985
Indeed, this was fixed in #13171.

[2017-03-28 21:58] #3985 closed

[2017-03-28 21:58] #4403 closed

[2017-03-28 22:20] bdarnell commented on #2502
It matters for the new settings table - the changes we currently make to system tables are limited. If we're going to allow direct writes to the settings table then we'd need some way to make them trigger the gossip update. Or we make all settings changes go through `SET` so the table itself can remain read-only.

[2017-03-28 22:21] bdarnell commented on #2502
And separately the node liveness intent problem was because the only way we could trigger gossip was by wrapping the CPut in a transaction.

[2017-03-28 22:43] #13838 closed

[2017-03-28 23:10] petermattis commented on #2860
We currently perform schema change mutations transactionally. I think we'll eventually want to perform them non-transactionally for performance and this will be necessary to do so. This is almost certainly not going to happen for 1.0.

[2017-03-28 23:10] #14429 closed

[2017-03-28 23:22] cockroach-teamcity opened #14434 "teamcity: failed tests on master: test (proposer evaluated kv)/TestParallel, test (proposer evaluated kv)/TestParallel/subquery_retry"
The following tests appear to have failed:

[#197834](https://teamcity.cockroachdb.com/viewLog.html?buildId=197834):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-29 00:03] andreimatei opened #14435 "tilde in `--store=~/data` doesn't do tilde expansion"
Instead of going to `/Users/andrei/data`, this creates a `~` subdir in the current dir.
We should disallow the ~ prefix to prevent this surprise. Users can use `./~` as a workaround if that's really what they want.

[2017-03-29 00:41] mjibson opened #14436 "build: reconsider use of -s and -w"
See:

https://twitter.com/rakyll/status/846860908353634308
https://twitter.com/davecheney/status/846844080227213312
https://github.com/golang/go/issues/19753

[2017-03-29 01:10] bdarnell commented on #14436
Note that while we've only recently started using `-s` and `-w`, we had been using `strip` in our beta release binaries for a long time before that (see #14224), with no known issues. In the absence of more specific concerns with stripped binaries, I'm fine with continuing to do so.

[2017-03-29 01:12] tamird commented on #14436
That twitter conversation is a marvel of FUD.

[2017-03-29 01:20] bdarnell commented on #14436
It turns out that `-ldflags -s` is also a workaround for https://github.com/golang/go/issues/19741

[2017-03-29 01:47] mberhault commented on #2939
I still think this would be nice, but post 1.0 is definitely fine.

[2017-03-29 01:48] mberhault commented on #2131
this particular issue is just to pick and enforce username constraints (length, allowed chars, etc...).
If we're going to do this, we should probably do it for 1.0, it'll be easier to relax later.

[2017-03-29 01:58] mjibson commented on #14436
While it may be FUD, those are 2 pretty reliable sources. Dave's argument is that since it isn't tested it's not guaranteed to work. JBD doesn't have an argument, but is on the Go team, so worth considering. I don't think we need to change anything since we've been doing this (-s/-w or strip) for a while now without any visible problems, but we should keep track of that Go issue to see where it go

[2017-03-29 02:05] bdarnell commented on #14436
As a counterpoint, there's [this message from Russ Cox](https://groups.google.com/d/msg/golang-dev/ABppMOjYP6w/Sv-9SpUUAwAJ):

[2017-03-29 02:06] mberhault commented on #13808
A kernel patch making the hyper-v time sync a separate clock source is merged, and making its way into ubuntu: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1676635

This should allow the guest VM to use ntp as usual, or use the host time as reference.

[2017-03-29 03:44] tamird opened #14437 "server: syscall.{Rlimit,{Get,Set}rlimit} not available on windows"
See https://github.com/cockroachdb/cockroach/blob/c15aa90/pkg/server/config.go#L281:L369.

[2017-03-29 04:33] tamird commented on #10130
Tried the c++ stdlib:
[code]

[2017-03-29 05:23] knz commented on #10130
Is that with musl?

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-29 06:28] cockroach-teamcity opened #14439 "rpc: TestHeartbeatHealthTransport failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/a9f3b701cb80417cd845043388a59373210772e5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=197937&tab=buildLog

[code]

[2017-03-29 06:32] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/a9f3b701cb80417cd845043388a59373210772e5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=197955&tab=buildLog

[2017-03-29 07:59] cockroach-teamcity commented on #13886
SHA: https://github.com/cockroachdb/cockroach/commits/a9f3b701cb80417cd845043388a59373210772e5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=198133&tab=buildLog

[2017-03-29 08:15] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/a9f3b701cb80417cd845043388a59373210772e5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=198163&tab=buildLog

[2017-03-29 08:48] cockroach-teamcity opened #14440 "base: TestNodeIDContainer failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/a9f3b701cb80417cd845043388a59373210772e5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=198319&tab=buildLog

[code]

[2017-03-29 08:50] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/a9f3b701cb80417cd845043388a59373210772e5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=198269&tab=buildLog

[2017-03-29 08:57] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/a9f3b701cb80417cd845043388a59373210772e5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=198356&tab=buildLog

[2017-03-29 09:01] cockroach-teamcity commented on #11221
SHA: https://github.com/cockroachdb/cockroach/commits/a9f3b701cb80417cd845043388a59373210772e5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=198362&tab=buildLog

[2017-03-29 09:13] tschottdorf commented on #13473
I sent fixes to the registeration service for that recently, maybe never
got deployed.

On Wed, Mar 29, 2017, 04:15 Matt Tracy <notifications@github.com> wrote:

--

-- Tobias

[2017-03-29 10:32] tamird commented on #10130
No.

On Mar 29, 2017 01:23, "kena" <notifications@github.com> wrote:

[2017-03-29 10:41] spencerkimball commented on #14406
Sounds like good progress! What happens when you run it? Can we run
unittests?

On Tue, Mar 28, 2017 at 11:44 PM Tamir Duberstein <notifications@github.com>
wrote:

[2017-03-29 10:43] spencerkimball commented on #2131
Ok this doesn't seem so hard. HAve we looked into restrictions imposed by postgres / oracle? How long will this take to actually do? If you're sure we should do this, re-lAbel it 1.0 milestone.

[2017-03-29 10:47] mberhault commented on #2131
I'm not sure at all. The constraints will mostly be on the sql side, not certs or the user table.
@cockroachdb/sql: any opinions?

[2017-03-29 11:12] tamird commented on #14406
Running tests is tricky (because CCL doesn't build on Windows, due to the way it depends on `storage/engine`'s cgo symbols.

Looks like my logging patch is borked, so we're gonna need to fix https://github.com/cockroachdb/cockroach/issues/14385 before we can run tests.

[2017-03-29 12:21] petermattis commented on #14406
Why do we need CCL to run tests? Clearly we won't be able to run CCL tests, but others should work, right?

[2017-03-29 12:33] cockroach-teamcity opened #14442 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#198553](https://teamcity.cockroachdb.com/viewLog.html?buildId=198553):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-29 13:08] dt commented on #2502
sql writes are supposed to go through `row{Updater,Inserter,Deleter}` to calculate any row keys to write -- we could probably note in those when we're hitting a gossiped key?

[2017-03-29 13:51] tamird commented on #14406
Yes, you just can't run `make test`, is all.

[2017-03-29 13:53] tamird commented on #10130
The code that produced that result:

[code]

Note that musl doesn't have anything to do with anything - we're just calling libc++ stuff, here.

[2017-03-29 13:55] dt commented on #14406
could tag the ccl tree `!windows` as a stopgap -- by design, the rest of the tree doesn't import it.

[2017-03-29 13:56] ansarizafar opened #14443 "Error: exit status 2, Failed running "start""
I am getting this error on Ubuntu 16.04

![cockroachdb](https://cloud.githubusercontent.com/assets/5788284/24458094/60ab5900-14b1-11e7-8167-c3f18d9bbf58.png)

[2017-03-29 14:23] tamird commented on #14443
Can you share your logs?

On Mar 29, 2017 09:56, "Zafar Ansari" <notifications@github.com> wrote:

[2017-03-29 14:33] tamird commented on #14406
Indeed, yet that's a lot of files to tag. It'd be lovely if there was a
better solution (perhaps even just extracting some common code and
`#include`ing it from both `db.cc`s).

On Wed, Mar 29, 2017 at 9:55 AM, David Taylor <notifications@github.com>
wrote:

[2017-03-29 14:35] spencerkimball commented on #4421
@knz, @andreimatei I moved this off of 1.0 milestone. If you disagree, please comment on how this work will be scheduled and reset the 1.0 milestone.

[2017-03-29 14:40] spencerkimball commented on #4451
Closing this as the current flow is working fine.

[2017-03-29 14:40] #4451 closed

[2017-03-29 14:41] spencerkimball commented on #4558
Closing pending future need. In particular as @bdarnell notes, we probably need a "safe" timestamp mechanism.

[2017-03-29 14:41] #4558 closed

[2017-03-29 14:42] ansarizafar commented on #14443
Here is the log
[code]

[2017-03-29 14:45] spencerkimball commented on #4559
Bram, I'm removing 1.0 milestone and re-classifying this as an enhancement. Please re-open and prioritize using the labels or close this issue if it's not reasonably expected.

[2017-03-29 14:49] spencerkimball commented on #4564
Closing this as there is no longer a TODO or a method named `computeReplicationStatus`. @BramGruneir please reopen and update if you feel there is still an outstanding task here.

[2017-03-29 14:49] #4564 closed

[2017-03-29 14:51] BramGruneir commented on #4559
I'll just close it.  This was more than a year ago when I was re-writing a good chunk of our testing.  We've moved away from adding more acceptance tests and instead moved to using TestCluster. A much better move.

[2017-03-29 14:51] #4559 closed

[2017-03-29 14:53] spencerkimball commented on #4596
Closing in favor of #8270

[2017-03-29 14:53] #4596 closed

[2017-03-29 15:00] spencerkimball commented on #4597
@bdarnell I'm closing this in favor of #8270. If there's something missing there, captured here (I couldn't tell from a quick read), could you augment #8270, or else reopen this and clarify.

[2017-03-29 15:00] #4597 closed

[2017-03-29 15:02] spencerkimball commented on #4703
@bdarnell what are your thoughts on this PR, given #14188? Should we close?

[2017-03-29 15:04] spencerkimball commented on #4772
@RaduBerinde, has anything been done here? I'm removing the 1.0 milestone as this is not required for 1.0. Could you add a comment describing any work that has been done here in the past year?

[2017-03-29 15:06] spencerkimball commented on #4818
@tamird we are unittesting this now with #5512? I'm removing 1.0 milestone. Could you close this issue if it's no longer something we need to track?

[2017-03-29 15:06] spencerkimball commented on #4868
Closed by #12165.

[2017-03-29 15:06] #4868 closed

[2017-03-29 15:07] mberhault opened #14444 "stability: leader-not-leaseholder alerts after liveness issues."
Seen on `catrina`, running `beta-20170323`.
This is running 3 nodes with very little load (sql queries from the url-shortener example).

Nodes 1 (`192.168.0.4`) and 2 (`192.168.0.5`) ran into trouble:

node 1:
[code]

node 2:
[code]

After this, node 2 went into a `E170329 09:44:55.386572 22080840 storage/replica_range_lease.go:194  [n2,s2,r160/2:/System/tsd/cr.node.sql.mon.…,@c4209a6700] heartbea

[2017-03-29 15:10] spencerkimball commented on #4873
@knz this is clearly not a 1.0 milestone (so removing). I'm adding the `known-limitation` tag. Should this be assigned to someone?

[2017-03-29 15:17] spencerkimball commented on #4897
https://github.com/cockroachdb/cockroach-go/pull/1

[2017-03-29 15:17] #4897 closed

[2017-03-29 15:22] spencerkimball commented on #4934
@vivekmenezes I don't feel like this issue should continue being tracked. It's both too vague and the underlying premise seems like it's not a goal now and unlikely to become one. Please re-open, clarify, re-label, and assign as necessary if you disagree.

[2017-03-29 15:22] #4934 closed

[2017-03-29 15:31] spencerkimball commented on #5237
@petermattis is this really 1.0? What do we mean by internal requests? KV reqs or Raft reqs?

[2017-03-29 15:32] spencerkimball commented on #5259
Closing in favor of #10057

[2017-03-29 15:32] #5259 closed

[2017-03-29 15:33] spencerkimball commented on #5303
@mrtracy is this done now? Could you close the issue?

[2017-03-29 15:35] spencerkimball commented on #5329
@andreimatei iIs this still open? Could you close if necessary? I'm also removing this from the 1.0 milestone.

[2017-03-29 15:39] spencerkimball commented on #5330
Removing 1.0 milestone. @andreimatei could you update this with a priority label and any comments which further clarify in light of push txn queue, which lessens the probability of restarts? If you have an intention to get this done by 1.0, please assign it and re-add the 1.0 milestone.

[2017-03-29 15:41] RaduBerinde commented on #4772
There were single-node experiments done as part of the original change. I don't think any multi-node experiments were run comparing batch sizes. While there may be some potential performance gains here, I think we should first explore improving the interface (#13193).

Note that with DistSQL most KV batches would be local, so it likely wouldn't benefit from larger batch sizes.

[2017-03-29 15:43] tamird commented on #4818
This issue is about testing "real" node death in an acceptance scenario. You could say this is covered by jepsen, so I think it's OK to close this.

[2017-03-29 15:43] #4818 closed

[2017-03-29 15:43] spencerkimball commented on #5346
This is a lot of sound and fury for one unittest which is no longer flaky. I'm closing this. If anyone disagrees, please resurrect and assign.

[2017-03-29 15:46] andreimatei commented on #5330
This has been done; our prompt now displays the transaction status.
However that's done by issuing a `SHOW TRANSACTION STATUS` query, not by using the status code that's reported with pgwire messages. I wonder if there's a reason for that. @knz?

[2017-03-29 15:46] tamird commented on #5346
I think we should still do this; we've seen clocks be quite unreliable, and it'd be good to get rid of the global.

The tags on this issue are already correct - it would be a reasonable starter project for an experienced Go programmer who is otherwise unfamiliar with CRDB.

[2017-03-29 15:47] spencerkimball commented on #5419
Changing the milestone to `Later`. This also is subsumed by #6307.

[2017-03-29 15:47] seiflotfy commented on #5346
I will pick this up again then :D

On Wed, Mar 29, 2017 at 5:46 PM Tamir Duberstein <notifications@github.com>
wrote:

[2017-03-29 15:48] andreimatei commented on #5329
I guess enough has been done that this issue doesn't serve a purpose any more. There's definitely more error codes that we should be returning instead of the internal-error code though.

[2017-03-29 15:48] #5329 closed

[2017-03-29 15:51] spencerkimball commented on #5421
@mberhault, from a practical perspective, can this issue be closed with our Prometheus configs and the point-in-time stats page to query all of our metrics?

[2017-03-29 15:53] spencerkimball commented on #5429
Assigning this to @nvanbenschoten and adding the `known-limitation` label. @nvanbenschoten if you think this can't be done for 1.0, please adjust the milestone.

[2017-03-29 15:56] spencerkimball commented on #5445
Addressed in #14080, #14092, #14181. @knz can this be closed yet?

[2017-03-29 15:59] mberhault commented on #5421
I think the main actionable item here is to make sure that all metrics have clear names and useful descriptions. This is currently far from being the case.

[2017-03-29 16:01] spencerkimball commented on #5452
@knz do you reckon this is still 1.0 milestone? If so, please assign to someone. Otherwise, set a different milestone.

[2017-03-29 16:06] spencerkimball commented on #5454
I'm going to set this to `known-limitation`. We should document this, but when that's done, let's close this. I don't believe there is any engineering work that's worthwhile to do here. @jseldess, because there aren't docs for the frontends, I'm removing the 1.0 milestone. Please move it back to 1.0 if you're planning to get this documented by 1.0 release.

[2017-03-29 16:07] spencerkimball commented on #5421
If you expect this to be done for 1.0, please set the milestone.

[2017-03-29 16:12] spencerkimball commented on #4772
@RaduBerinde based on your comment, I'm in favor of closing this issue. It doesn't sound like there's a reasonable expectation of doing work on this issue unless we run into it in performance testing. Please re-open if you disagree.

[2017-03-29 16:27] spencerkimball commented on #5506
@BramGruneir should this be closed, similar to #4559?

[2017-03-29 16:42] spencerkimball commented on #5517
The linearizable mode is somewhat fanciful at this point and not intended for use. It's enabled by an undocumented environment variable and has no documentation. I'm removing the 1.0 milestone for this.

[2017-03-29 16:44] spencerkimball commented on #5556
@cuongdo as far as I know, this is complete because we're certainly able to report whether different nodes in the cluster are running different releases. I'm closing this, but please re-open if you believe there is still pending work.

[2017-03-29 16:44] #5556 closed

[2017-03-29 16:48] spencerkimball commented on #5678
@dt Do we have aspirations of this making the 1.0 release? Could you re-add the 1.0 milestone **and assign** if so?

[2017-03-29 16:51] #7587 closed

[2017-03-29 16:55] spencerkimball commented on #5690
I would be tempted to version the MVCCStats object and recompute during consistency checks, which must scan over all of the data in each range anyway. This would leave an extant cluster with potentially incorrect stats for the consistency check interval, but that seems more acceptable than a very slow startup process.

This is definitely not 1.0. Removing that milestone and adding the `enhancement

[2017-03-29 16:56] spencerkimball commented on #5727
We now use something much closer to "earliest timestamp wins" with the push txn queues. Closing this due to #13501.

[2017-03-29 16:56] #5727 closed

[2017-03-29 17:11] dt commented on #5678
We can probably fold this in to our production cluster testing more easily (by just rolling a canary before the fleet for non-STW upgrades) more easily than adding automated tests.

[2017-03-29 17:22] tamird commented on #14436
https://github.com/golang/go/commit/94c95d3e52ed55ef57e60ace559b684e4d5ebcbf

[2017-03-29 17:22] #14436 closed

[2017-03-29 17:23] bdarnell commented on #4703
This is is not resolved by #14188, although it is related. This issue would allow us to consider more queries as candidates for parallelizing because we would know that they were sent before the response to the previous query. However, it's unclear to me whether there is any real benefit to doing this. The trace above is a BEGIN and a real query, and that case was improved by #5740. I don't know t

[2017-03-29 18:27] bdarnell commented on #14443
From gitter: the CPU on this machine is `model name    : Pentium(R) Dual-Core  CPU      E6300  @ 2.80GHz`, which was released in 2006 and supports SSE version 3. In `c-rocksdb/cgo_cflags.go` we set `-msse4.2` (SSE 4.2 is supported in intel CPUs released in 2009 and later).

We should probably provide a build tag that can be used to remove the `-msse4.2` flag so that building from source on an olde

[2017-03-29 18:30] bdarnell commented on #5419
It's not even restricted to localhost now. I think we need to do something about this for 1.0 (even if it's just a flag to disable the `/debug` pages)

[2017-03-29 18:34] spencerkimball commented on #14444
We attempt to transfer the leadership if applicable when we quiesce. This may or may not succeed, but the range is quiesced regardless. Therefore we would expect those ranges to begin making contributions to the leader-not-leaseholder stats until they're unquiesced due to activity.

It's not an error to have leader-not-leaseholder count above 1. I think this alert should be removed, or else given

[2017-03-29 18:34] #14444 closed

[2017-03-29 18:38] spencerkimball commented on #5419
It would be pretty inconvenient if it were limited to localhost for our debugging. I like the idea of a flag, though it seems better to have this **enabled** via a flag instead of disabled. We need volunteers for this.

[2017-03-29 18:40] bdarnell commented on #5678
Our production clusters will let us test small jumps, but post-1.0 we should set up the infrastructure (similar to the reference version test we have now for on-disk stuff) to verify that a 1.0 cluster can be upgraded to 1.1.

[2017-03-29 18:44] petermattis commented on #5419
We have `COCKROACH_DISABLE_SQL_EVENT_LOG` (`/debug/events`) and `COCKROACH_DISABLE_TRACING` (`/debug/requests`). When the settings table arrives, we could place the controls there instead. I think @bdarnell has suggested we should default these to disabled.

[2017-03-29 19:05] tamird commented on #5419
localhost is not that inconvenient. If you own the machine, you can set up
a tunnel.

On Wed, Mar 29, 2017 at 2:44 PM, Peter Mattis <notifications@github.com>
wrote:

[2017-03-29 19:06] eisenstatdavid opened #14450 "beta-20170330"
The candidate SHA is f0f5783cc67f9cda16cedf1b88ca0691b0b65884.
Deployed to `adriatic`, `blue`, `cerulean` (race build), and `omega`.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [x] Check and verify cluster status
- [x] Tag release and push tag
- [x] [Trigger release build](https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockroach_MergeTo

[2017-03-29 19:08] #5303 closed

[2017-03-29 19:08] #12587 closed

[2017-03-29 19:08] #13895 closed

[2017-03-29 19:13] tamird commented on #14443
It's pretty annoying that we have to modify c-rocksdb to support these build configuration changes, though I don't have any suggestions for an alternative arrangement.

Can we have someone new to the c-* repos take this one? Perhaps @benesch is interested.

[2017-03-29 19:14] dt opened #14451 "build: checkdeps.sh allows unvendored packages when build fails"
#14239 somehow got a green CI without including snappy in `vendor`.

One issue seems to be `|| true` in checkdeps.sh, introduced in 5b55a08be2fe58752dfc7fe88baf81bf0b6cdfdc, that let the script continue even though `go list` crashed on the bad import (https://teamcity.cockroachdb.com/viewLog.html?buildId=198562&buildTypeId=Cockroach_UnitTests_Depcheck&tab=buildLog#_state=116):
[code]

Interestingl

[2017-03-29 19:16] tamird commented on #14451
Ah, of course the `|| true` ignores everything's exit code, not just `grep`'s.

Time to rewrite this one in Go as well?

[2017-03-29 19:17] dt commented on #14451
yeah, seems likely -- bash is the worst. I just wanted to record my initial digging here, since I'm not going to be working on it for next couple days.

[2017-03-29 19:19] dt commented on #14451
maybe a `2>&1` bandaid -- so the grep sees the crash output?

that said, I'd have expected the `test` build to fail to compile unless we `go get` somewhere -- I thought we didn't?

[2017-03-29 19:22] tamird commented on #14451
Isolation in our TC builds is non-existent - `go-test-teamcity`, for instance, is not subject to the normal vendoring rules, and neither is anything else that builds on those machines, like https://github.com/cockroachdb/loadgen. If any of those depend on golang/snappy, well, you get the point.

[2017-03-29 19:22] tamird commented on #14451
Perhaps @justinj is interested in learning about `go/build` this Friday?

[2017-03-29 19:31] justinj commented on #14451
👍 Very interested in learning about disparate parts of Cockroach, and I didn't have any plans for Friday, so that sounds good to me. @tamird can we talk on Friday (or earlier) so I can get an idea of what's going on/what's required?

[2017-03-29 19:32] petermattis commented on #5237
We have metrics on `Node.Batch`. Probably some other work to do there to measure traffic. @mberhault Weren't you planning on hooking into gRPC interceptors?

[2017-03-29 19:44] knz commented on #4873
I addressed this issue back in December in the context of another issue filed in the same area. Nothing to be done here.

[2017-03-29 19:44] #4873 closed

[2017-03-29 19:48] knz commented on #5445
This is a different feature. This issue refers to the collection of stats per stage of the query plan. We want that but it's not done yet.

[2017-03-29 19:53] knz commented on #5452
Unless the issue reveals itself to be hairy I think it's rather important that we polish this away for 1.0 to ensure good UX and protect users from having to think about crdbs internals when a query fails.

[2017-03-29 19:54] jordanlewis commented on #14451
We expect that `vendor` contains everything we need to compile and test, right? If that's the case, I suggest modifying the builder image to stop mounting anything besides the `src/github.com/cockroachdb` and `pkg/github.com/cockroachdb` components of the GOPATH.

It's true that our TeamCity agents do not have good isolation, but that is exactly the reason why we have the builder image in the firs

[2017-03-29 19:56] knz commented on #5330
The reason is that libpq swallows the codes and also we want to show the txn status also for the other states (error, notxn) where there's no pgwire code.

[2017-03-29 19:56] #5330 closed

[2017-03-29 19:56] tamird commented on #14451
I like this idea, but it has the unfortunate side effect of preventing local experimentation with out-of-vendor packages.

For example, suppose I want to modify c-rocksdb and test it locally before going through all the trouble of updating the vendored copy - I may just `rm -rf vendor/github.com/cockroachdb/c-rocksdb` while I'm experimenting.

I still think this is a good idea, just pointing out t

[2017-03-29 19:58] jordanlewis commented on #14451
Let's add a flag to `build/builder.sh` for your use case, then. Correct me if I'm wrong, but I don't think that this is a particularly common workflow that we need to protect from change.

I'll send a PR.

[2017-03-29 20:01] petermattis commented on #14451
Or add a `build/builder.sh` flag that only maps `github.com/cockroachdb/cockroach` for use by TeamCity. I frequently use `build/builder.sh` to be stuff outside of `github.com/cockroachdb/cockroach` (e.g. `build/builder.sh go build -o kv github.com/cockroachdb/loadgen/kv`).

[2017-03-29 20:04] spencerkimball commented on #5452
Who should this be assigned to?

[2017-03-29 20:04] tamird commented on #14451
I'd prefer the positive flag - meaning you have to explicitly opt in to get
the entire GOPATH mounted. I would wager that this will save some bug
reports.

Perhaps an environment variable rather than a flag, for those of us with
advanced use cases.

On Wed, Mar 29, 2017 at 4:01 PM, Peter Mattis <notifications@github.com>
wrote:

[2017-03-29 20:04] #14385 closed

[2017-03-29 20:04] arjunravinarayan commented on #14090
I believe this ran on fa2cfd2, which is after 6e52511, so @mjibson can you take a look and see if this is related or unrelated to #14013?

[2017-03-29 20:06] petermattis commented on #14451
And I'd prefer the opposite. Don't move my cheese unless it is absolutely necessary and it doesn't seem necessary in this case.

Bug reports from who?

[2017-03-29 20:10] vivekmenezes commented on #2948
As described in the report, we do use a lease for a stmt, but across statements a close to expiring lease can be released and another lease acquired with the expectation that it is a new lease with the same version. See ```sql.removeLeaseIfExpiring``` . This can easily be fixed to check that the versions are the same but I suspect the tests will prolong the fix. But nonetheless worth putting into

[2017-03-29 20:14] vivekmenezes commented on #3000
I'm closing this because I don't see us changing our implementation away from the use of the mutation queue for a long long time.

[2017-03-29 20:14] #3000 closed

[2017-03-29 20:15] vivekmenezes commented on #3142
Nice to have but given other priorities moved to later.

[2017-03-29 20:17] petermattis commented on #7596
I need to revisit this again. The default of `2*runtime.NumCPU` seems insufficient. In recent testing on `denim`, `8*runtime.NumCPU` gave much better write throughput, presumably due to more opportunities for batching. I need to re-run those experiments and confirm whether a bump is in order.

[2017-03-29 20:18] cockroach-teamcity opened #14452 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestShowCreateView"
The following tests appear to have failed:

[#198866](https://teamcity.cockroachdb.com/viewLog.html?buildId=198866):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-29 20:18] #14437 closed

[2017-03-29 20:21] petermattis commented on #9423
@bdarnell Given #14264, do you see any problems with proceeding with this? We already use a separate mutex for timestamp cache. The change to replace using `TimestampCache.SetLowWater` with inserting a span that covers the entire key range for which a lease is being acquired seems straightforward.

[2017-03-29 20:21] bdarnell commented on #7596
propEvalKV will also reduce the amount of work done on the scheduler threads, so I would wait until that lands to do extensive experiments.

[2017-03-29 20:23] petermattis commented on #7596
Bumping the number of scheduler threads increases the opportunities for grouping of RocksDB batch, which is independent of prop-eval-kv.

[2017-03-29 20:26] petermattis commented on #10967
@danhhz, @RaduBerinde Does https://github.com/cockroachdb/cockroach/pull/14146 cover this issue sufficiently?

[2017-03-29 20:27] tamird commented on #14451
Heh, it's my cheese too. Doesn't seem like a terrible inconvenience to me, and I was hoping to save @jordanlewis the trouble of changing TC scripts.

Either way is fine by me.

[2017-03-29 20:30] bdarnell commented on #9423
SGTM

[2017-03-29 20:31] dt opened #14453 "backup/restore: local filesystem backup/restore target potentially confusing ux"
BACKUP and RESTORE generally assume nodes are interchangeable, so using their local disks doesn't  make much sense (on BACKUP, the backup would end up fragmented across nodes, and restore can't assume a particular node restores particular range so they all need the whole thing at their disposal).

Additionally, there's some risk of confusion around the fact that it references the node's file syste

[2017-03-29 20:31] dt commented on #14453
+cc @arjunravinarayan @sploiselle @danhhz

[2017-03-29 20:33] dt commented on #14453
one easy option might be just to change the scheme for local file to `nodelocal://` or something?

[2017-03-29 20:35] petermattis commented on #14451
Or we could make this automatic. Untested, so it probably doesn't work:

[code]

[2017-03-29 20:43] vivekmenezes opened #14455 "sql: do not run an unnecessary column backfill for a non-nullable column without a default"
The column backfill runs even when a column is configured without a default value. This is done to check if a non-nullable column is being added without a default to a non-empty table.

Instead of going via the distributed backfill to run this check it will be better to promote the column as a publicly visible column only if the said table is empty. This can be done while promoting the table to be

[2017-03-29 20:45] spencerkimball commented on #5756
@mberhault could you comment on this? Is this a 1.0 milestone?

[2017-03-29 20:47] arjunravinarayan commented on #14453
Would it be possible to indicate _which_ node the data is on? If I can say "node1://mnt/data1/bkp_foo" then I'd be happy. The usual way that I can imagine people using node local file system backups are to dump and copy them off of a single machine, so if we could just indicate that that would be good enough for me.

[2017-03-29 20:48] spencerkimball commented on #5769
@bdarnell, I'm closing this due to imminent proposer-evaluated KV. Seems unlikely we will do anything else here.

[2017-03-29 20:48] #5769 closed

[2017-03-29 20:49] dt commented on #14453
AFAIK, we're not implementing an inter-node filesystem any time soon -- fire up an a little HTTP server on `node1` and use `http://node1/...` if you want that behavior.

[2017-03-29 21:10] dianasaur323 opened #14457 "cluster crashing from OOM"
Copying in issue encountered on forum. Response and triage needed.

Below are the steps to reproduce crashing the cluster 100% of the time with oom
5 Machines, m4.2xlarge (31GB mem each)

startup options: cockroach start --store=path=/data,size=256GB,attrs=ssd --log-dir /data/log --insecure

Machines run at ~2GB ram utilization during inserts. Ram usage explodes when running last example which is

[2017-03-29 21:10] tamird commented on #14406
We have our first test failures!
[code]

[2017-03-29 21:12] nvanbenschoten commented on #2115
We're currently in a position where ARRAYs can be used in system tables, but not much else. The initial support for them was added for ORM compatibility and all other functionality built around them was added later for the same reason. This was not because ORMs liberally create tables with ARRAY columns (in fact, I don't think we've ever run into that issue), but because system tables like `inform

[2017-03-29 21:22] dt commented on #14451
after #14454, we can just delete everything after the `glide i && git diff` part of checkdeps.sh 🎉

[2017-03-29 21:23] arjunravinarayan commented on #14453
That's actually a great suggestion, and one we should document somewhere.

[2017-03-29 21:59] cockroach-teamcity opened #14458 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#198947](https://teamcity.cockroachdb.com/viewLog.html?buildId=198947):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-29 22:03] RaduBerinde commented on #10967
Seems to me that the SCATTER functionality would cover it..

[2017-03-29 22:31] jordanlewis commented on #12526
Hi @tlvenn, we've been quite busy with preparing for our 1.0 release, so I haven't gotten to this. Sorry for the delay! This is still on my plate, and I still hope to get to it soon.

[2017-03-29 22:36] bdarnell opened #14460 "storage: Writes in command queue for `[/Meta1/"",Max)`"
A test cluster with a large number of ranges is experiencing a large backlog in the command queue. In the logs we see a lot of operations in the command queue for range 1, including both read *and write* operations for the range `[/Meta1/"",/Max)`. The reads on this key span are expected (they're issued by the DistSender to look up range metadata), but I can't think of any reason for there to be w

[2017-03-29 22:37] jordanlewis opened #14461 "sql: TestConcurrentUpsertWithSnapshotIsolation timed out in testrace with PEKV"
Failure log: https://teamcity.cockroachdb.com/viewLog.html?buildId=198969&buildTypeId=Cockroach_UnitTests_TestraceProposerEvaluatedKv

This test was just added in 179ddf19f654890c615dcc14144afe49bda6507d.

[2017-03-29 22:41] jordanlewis commented on #14311
I mentioned this offline to @arjunravinarayan, but adding to this issue for posterity:

For what it's worth, even though Postgres accepts this type hint as valid, this really is an invalid type hint. The program is sending a `float` type hint for a `decimal` column. Floats are not decimals! The program could be fixed by using `setBigDecimal` instead of `setFloat`.

[2017-03-29 22:43] jordanlewis commented on #14461
Since it's not clear, the test timed out after 10 minutes.

For posterity, here's the test log.

[code]

[2017-03-29 22:44] benesch commented on #14443
We could instead manipulate the flags using `CGO_*` environment variables. Perhaps we should set `-march=native` by default, and override it as necessary when we compile release builds? That's the simplest way I can think of to fix the problem.

[2017-03-29 22:51] bdarnell commented on #14443
If that works (`-m` flags specified in `CGO_CPPFLAGS` take precedence over the ones in `cgo_flags.go`), then that makes sense to me.

[2017-03-29 23:15] jordanlewis commented on #14452
Again: https://teamcity.cockroachdb.com/viewLog.html?buildId=199005&buildTypeId=Cockroach_UnitTests_TestraceProposerEvaluatedKv

[2017-03-30 01:36] mberhault commented on #5756
Yup. We need a few things here:
* flesh out the docs on docker hub (https://hub.docker.com/r/cockroachdb/cockroach/)
* only apply `latest` tag to what we consider the stable releases (for now, it's `beta`, but will be proper releases later one). Is this possible?
* add `alpha`, `beta` tags

@jseldess: any ideas for the docker hub description? Maybe a one sentence summary and a link to our docs?
Fo

[2017-03-30 01:38] mberhault commented on #5421
`later` is fine for this.

[2017-03-30 01:39] ckeeney commented on #5756
Latest is just the default tag when you pull.  It is not automatically applied to the latest uploaded image.

[2017-03-30 03:06] mjibson opened #14465 "backup: panic in url escape"
I put the newline in there by accident but it panic'd the server.

[code]

[code]

[2017-03-30 03:08] tamird commented on #14465
Where's the panic message?

[2017-03-30 03:09] mjibson commented on #14465
Oops. Forgot to copy it. It's gone now. But it was about encoding with a %0A or something.

[2017-03-30 03:12] tamird commented on #14465
Wonder if contributing to MS-owned projects is more pleasant than the Google experience.

https://github.com/Azure/azure-sdk-for-go/blob/ca43dde75b98dbf9ac4dc70df9c393a7fbe0ed46/storage/client.go#L232

[2017-03-30 03:13] mjibson commented on #14465
Updated with the panic message and a query that immediately causes it.

[2017-03-30 03:15] mberhault commented on #5237
yup, this depends on #8093. It would be nice to have, but I'm not sure this will be done by 1.0.

[2017-03-30 03:47] mjibson commented on #14090
This branch doesn't have the fix from e1815044e43a4eb569f8540286078c0280cba364 though, which was added quickly after #14013. It has 15 decimals after the point instead of the expected 14 with round.

[2017-03-30 03:58] cockroach-teamcity opened #14467 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#199131](https://teamcity.cockroachdb.com/viewLog.html?buildId=199131):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-30 04:03] jordanlewis commented on #14467
I think this was a transient network fail.

[code]

[2017-03-30 06:04] gitanuj commented on #13937
I reproduced this on latest beta release (beta-20170323). @bdarnell It has #14305 (which is referenced by #13875) merged in.
This time the SQL connections curve stalled at 33 connections.

@andreimatei I've saved /debug/requests and /debug/events (attached). I noticed that output of /debug/requests kept on changing with every refresh.

@vivekmenezes I see similar pattern in logs as you've highligh

[2017-03-30 08:13] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/5db8b16b73154bd22bb409e69d778b0799f126c5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=199464&tab=buildLog

[2017-03-30 08:27] knz commented on #14090
In other words this issue would not repro with the newer master?

[2017-03-30 08:51] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/5db8b16b73154bd22bb409e69d778b0799f126c5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=199572&tab=buildLog

[2017-03-30 12:27] petermattis commented on #14443
I think we should also try to give a better warning if we're running on a processor which doesn't support sse4.2. See https://github.com/cockroachdb/cockroach/pull/14466#issuecomment-290394894.

[2017-03-30 12:34] petermattis commented on #14460
What write operation hits the span `[/Meta1/"",/Max]` on a range that has the span `[/Min,/Meta2/Table/...]`? That seems odd. Or is something wrong with our debug output where those are actually point operations?

[2017-03-30 12:49] petermattis commented on #9423
One downside to a per-Store timestamp cache is that it might act as a bottleneck. In particular, both `Replica.applyTimestampCache` and `endCmds.done` will now have to grab a per-Store lock instead of a per-Replica lock. I have no evidence that this is a problem (yet), but I'd like to do a bit of testing with this approach before committing to it.

[2017-03-30 12:50] petermattis commented on #14264
Ok, I can reproduce this failure on master and switching to a per-Store timestamp cache fixes the problem. I have minor concerns about this approach, though. See #9423.

Another option to fixing is to ensure that we maintain the same LRU order when copying a `TimestampCache` during a split. This would be straightforward.

[2017-03-30 12:52] petermattis commented on #14457
I'll take a look today. Does anyone know PHP well enough to extract the reproduction into a series of SQL statements?

[2017-03-30 13:18] dt commented on #14451
#14454

[2017-03-30 13:18] #14451 closed

[2017-03-30 13:26] petermattis commented on #9423
@bdarnell I'm getting test failures with my per-Store timestamp cache change which I've narrowed to the following diff:

[code]

Why would adding a "write" span cause:

[code]

[2017-03-30 14:05] spencerkimball commented on #5924
@petermattis should this be 1.0? Could you assign if so, remove the 1.0 milestone otherwise.

[2017-03-30 14:06] arjunravinarayan commented on #14311
I can confirm that with switching all instances of `setFloat` and `setInt` to `setBigDecimal` in the OLTPBench TPCC Loader, the rest of the loader runs fine. I will now check out running the actual benchmark. Thank you @jordanlewis!

[2017-03-30 14:29] vivekmenezes commented on #14041
I'm closing this issue for lack of concrete information

[2017-03-30 14:29] #14041 closed

[2017-03-30 14:31] danhhz commented on #10967
Yeah, SCATTER would do it. @RaduBerinde I'm going to assign this to you to close when you implement SCATTER. Or if you already have this tracked somewhere else, feel free to close as a dup

[2017-03-30 14:39] danhhz commented on #14453
I agree with all of this. 1) this should be harder to mess up 2) we shouldn't be shuttling files around between nodes 3) let's document patterns we expect to be useful (including nfs and this http trick)

[2017-03-30 14:49] petermattis commented on #14460
Point operations don't specify the end key. We can see this in the above output: `65985 readonly [/Meta2/Table/99/1/3656861351929005903)`. So what operation is adding write spans for `[/Meta1/"",/Max]`?

[2017-03-30 14:55] jordanlewis commented on #14311
I'm surprised that you had to change the `setInt` instances to `setBigDecimal`, because unless the program was incorrectly sending integer type hints for decimal columns, you're now sending decimal type hints for the integer columns that used to be set with `setInt`. Probably you only wanted to change the (incorrect) instances of `setFloat`. If that didn't work for you, please send along the error

[2017-03-30 14:56] petermattis commented on #14460
Cc @spencerkimball

[2017-03-30 15:00] arjunravinarayan opened #14473 "sql: prepared update query crashes cockroach node"
I'm getting a crash running the OLTPBench TPCC workload. I'm still trying to narrow down _which_ query is causing this, but here's a stack trace of the cockroach node crashing:

[code]

This is a JDBC created PreparedStatement execution, and it's not always reliably reproducible. I think it is dependent on some particular values being set.

[2017-03-30 15:01] spencerkimball commented on #14460
@bdarnell the range descriptor does `RangeLookup` requests with `ReadConsistency = INCONSISTENT`, which means it bypasses the command queue entirely, so I don't believe any of these spans implicates the range descriptor cache. @petermattis just suggested that perhaps the user experiencing this problem has prop eval kv enabled, which could be inserting that kind of a span for both reads and writes.

[2017-03-30 15:10] andreimatei commented on #13937
@gitanuj I think to debug this we might need to reproduce locally and add more instrumentation (this is also showing ways in which our current instrumentation is lacking). On the flip side, if this proves to be a real bug, finding it would be very valuable :)
Would you mind giving detailed instructions about how to reproduce? How do we populate the database, how are you running your cluster, and w

[2017-03-30 15:17] tamird commented on #14473
@benesch this might be the issue we saw in slack.

On Thu, Mar 30, 2017 at 11:00 AM, Arjun Narayan <notifications@github.com>
wrote:

[2017-03-30 15:19] vivekmenezes commented on #7554
This work will involve moving the schema change checkpointing to use system.jobs table and developing sql commands to query system.jobs.

@benesch because some of his work is related.

[2017-03-30 15:29] BramGruneir commented on #14406
Just a quick note, you can't run the cockroach exectable in dos until you tell dos that it is an executable, so  as a final step,
In dos: `C:\Users\cockroach\go\src\github.com\corkroachdb\cockroach>rename cockroach corkroach.exe`

[2017-03-30 15:42] bdarnell commented on #9423
The third return value of `timestampCache.GetMaxWrite` indicates whether the returned timestamp comes from a real span or the low-water mark. It's used [here](https://github.com/cockroachdb/cockroach/blob/4ced58933fb1d65b2db6eb48d78c396516fd36de/pkg/storage/replica.go#L1864-L1884). Looks like we need to set an extra flag on these spans to mark them as effective low-water marks.

[2017-03-30 15:42] cockroach-teamcity opened #14474 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestLogicDistSQL, testrace (proposer evaluated kv)/TestLogicDistSQL/pipelining"
The following tests appear to have failed:

[#200046](https://teamcity.cockroachdb.com/viewLog.html?buildId=200046):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-30 15:43] arjunravinarayan commented on #14473
@jordanlewis and I spelunked a bit in the code. It's definitely caused by a `Prepare Update` that's part of a transaction involving many other statements. We can track it down to `executor.go:449`, which has the following TODO:

[code]

It appears that we can now empirically answer that question in the negative.

[2017-03-30 15:48] bdarnell commented on #14460
Ah, yeah, it could be propEvalKV because `LocalMax` and `Meta1Prefix` are the same.

[2017-03-30 16:48] benesch commented on #14473
The TODO is actually unrelated, I think; we can just set dummy timestamps on the transaction and punt on the issue in the TODO.

[2017-03-30 16:57] spencerkimball commented on #5969
Not reproducible.

[2017-03-30 16:57] #5969 closed

[2017-03-30 16:57] petermattis commented on #5924
Given our plumbing of context everywhere, this seems relatively straightforward to do on the surface.

[2017-03-30 16:59] tamird commented on #10130
To throw another wrench into this plan, `tm.tm_gmtoff` and `tm.tm_zone` are BSD/GNU extensions, so they aren't present on windows. This means that even the cross-platform `strptime` above doesn't compile on WIndows with our Go code which references both these fields.

[2017-03-30 17:01] spencerkimball commented on #5974
Give that we're not going to be able to remove the current behavior of no `--join` flag on an uninitialized node causing a cluster init, I'm unconvinced this is going to make it into 1.0. Does anyone have a concrete suggestion, or just general dissatisfaction with the current approach?

[2017-03-30 17:49] cuongdo opened #14478 "ui,distsql: backend statement execution latency graphs don't match tpch stats"
Build: e193b7c

I'm running four instances of this in a loop against a 6-node cluster:

`./tpch -queries=1`

`tpch` is reporting that each query takes ~150s. This is vastly different from what the admin UI is reporting when viewing any node:

<img width="1210" alt="screenshot 2017-03-30 13 43 43" src="https://cloud.githubusercontent.com/assets/1564582/24518275/5df5f6ae-154f-11e7-990a-e0b41c5ce6b9.

[2017-03-30 17:50] cuongdo commented on #12292
Released. Docs are here: https://www.cockroachlabs.com/docs/build-a-nodejs-app-with-cockroachdb-sequelize.html

[2017-03-30 17:50] #12292 closed

[2017-03-30 17:53] spencerkimball commented on #5981
Much has been done here. My timings are now as follows:

**CockroachDB**
real	0m0.642s
user	0m0.039s
sys	0m0.021s

**Postgres**
real	0m0.179s
user	0m0.017s
sys	0m0.011s

I'm closing this issue for the time being. Other issues are tracking the more advanced ingest pathways.

[2017-03-30 17:53] #5981 closed

[2017-03-30 18:00] lwansbrough commented on #2969
+1 for Protocol Buffers support. JSON is of course very valid too, however we do have a specific need for ProtoBuf. The challenge for JSON is choosing the correct data type for a given field without any prior knowledge of the field in order to create an index on that field. ProtoBuf provides this information, and so theoretically it should be easier to allow for the creation of indices on specific

[2017-03-30 18:08] mjibson commented on #14090
Correct.

[2017-03-30 18:10] asubiotto commented on #14288
Ran
[code]
On a 3 node local cluster. `lineitem` has 6million rows (~2.5GiB).
The query runs correctly, [the execution plan looks good](https://raduberinde.github.io/decode.html?eJy8kjFr8zAQhvfvV3y8UwsaKidNwZM7emhSQreiQbUOI7AlI8nQEvzfiy1Ka1OUlISM0ul9njtxBxiraCtb8shfwcGQgWEFwdA5W5H31o2l-LBU78jvGLTp-jBeC4bKOkJ-QNChIeR4kW8N7UkqcmBQFKRuJnjndCvdR9FoQzpQC4ZdH_L_xQZiYLB9-IIO7HTdY107qmWwC9tTub0p-O3J6G9ib6

[2017-03-30 18:14] bdarnell commented on #14478
"Backend statement execution" is measured at KV/RPC level, not SQL (we should probably change that caption).

[2017-03-30 18:26] asubiotto commented on #14288
Ran
[code]
On a 3 node local cluster, using the TPC-H scalefactor=1 dataset. `lineitem` has 6million rows (~2.5GiB).
The query runs correctly, [the execution plan looks good](https://raduberinde.github.io/decode.html?eJy8kkFLwzAUx-9-CvmfFHIw3ZzQU3fcQSfDgyA5xOZRAm1SkhSU0e8ubRBtkWyysWPy8v_93gtvD2MVPcmGPPI3cDBkYFhAMLTOluS9dUMpPtyoD-R3DNq0XRiuBUNpHSHfI-hQE3K8yPeadiQVOTAoClLXI7x1upHus6i1IR2oAcO2C_l1sYL

[2017-03-30 18:32] tamird commented on #14288
Hm, that's much slower than I'd have expected. Isn't DistSQL able to reduce network traffic on these queries to O(1)?

[2017-03-30 18:55] petermattis commented on #9423
Oh, that might be it. Thanks for finding that.

[2017-03-30 19:02] bdarnell commented on #5974
The concrete suggestion is #14251. I'm very dissatisfied with the current approach and will try to get this in for 1.0.

[2017-03-30 19:06] jordanlewis commented on #14473
Okay, I've tracked down this issue. The reproduction is the following statements, where the final INSERT is prepared first. The panic (sometimes) occurs during preparation of the final statement.

[code]

It's difficult to reproduce because it only occurs when:
1. The update is to a table that has foreign keys
1. The update is prepared first
1. No cached table lease exists for at least one of the

[2017-03-30 19:17] RaduBerinde commented on #14288
Yes, the network traffic is O(1) in these plans. Note that these are *local* clusters (all nodes on the same machine) so network traffic is not really network traffic.

[2017-03-30 19:19] tamird commented on #14288
Ah, understood.

On Thu, Mar 30, 2017 at 3:18 PM, RaduBerinde <notifications@github.com>
wrote:

[2017-03-30 19:20] RaduBerinde commented on #14288
@danhhz mentioned a `SELECT COUNT(*)` experiment on a real 3 node cluster (I think it was ~200M rows, `SELECT COUNT(*)`  took 7m33s compared to over an hour).

[2017-03-30 19:23] jseldess commented on #14310
In the meantime, I've used `SELECT node_id FROM crdb_internal.node_build_info LIMIT 1;` to see which node a load balancer redirects you to in our deployment docs: https://www.cockroachlabs.com/docs/manual-deployment.html#step-6-test-load-balancing. Thanks, @knz and @arjunravinarayan.

[2017-03-30 19:24] tamird commented on #14288
Makes much more sense, thanks.

On Thu, Mar 30, 2017 at 3:20 PM, RaduBerinde <notifications@github.com>
wrote:

[2017-03-30 19:24] danhhz commented on #14288
Indeed, it was the production lapis cluster

[2017-03-30 19:33] jseldess commented on #5454
@spencerkimball, I think it's important to get admin ui docs in for 1.0, but I'll wait until we do q2 okrs before claiming it'll happen for sure.

[2017-03-30 20:03] spencerkimball commented on #5984
This doesn't seem gated on 1.0. @bdarnell I'm removing the milestone.

[2017-03-30 20:10] dt commented on #2502
Er, actually, it looks like we already do this: delete/update/insert all call it via `startEditNode`: https://github.com/cockroachdb/cockroach/blob/c2026d86dbfbf5524b047c2574071907efb12084/pkg/sql/update.go#L95

[2017-03-30 20:16] danhhz opened #14482 "sql: enable upsert fast path for eligible INSERT .. ON CONFLICT queries"
The fast path is currently only enabled when the UPSERT alias is explicitly selected by the user. It's possible to fast path some queries of the form INSERT ... ON CONFLICT, but the utility is low and there are lots of edge cases (that caused real correctness bugs #13437 #13962). As a result, we've decided to remove this until after 1.0 and re-enable it then.

TODO(dan): Once it's merged, link to

[2017-03-30 20:27] cuongdo opened #14484 "cli: SQL shell history rewriting mangles INTERVAL"
Repro:
1. Launch SQL shell
2. Run `SELECT DATE '1998-12-01' - INTERVAL '95' DAY;`
3. Hit up to recall the `SELECT` and run it again. You'll get the error `pq: unsupported binary operator: <date> - <string>`.

Expected: #3 should return 0 rows

SQL shell transcript:
[code]

[2017-03-30 20:27] #3583 closed

[2017-03-30 20:33] spencerkimball commented on #6046
Work has been done to address this and we've run with high latency links now. I'm closing this issue due to age. Let's reopen a new issue as additional problems are encountered in deployments with high latency links.

[2017-03-30 20:33] #6046 closed

[2017-03-30 20:34] spencerkimball commented on #6086
@dt is this something required for 1.0? I'm assuming not, and removing that milestone. Please re-add if you believe this must be resolved for 1.0.

[2017-03-30 20:43] BramGruneir opened #14486 "storage/engine: TestConcurrentBatch takes a long time to complete on windows"
When running In Windows, TestConcurrentBath takes upwards of 16s to complete. A special case has been added to deal allow more time in the test, but the root cause should be investigated.

[2017-03-30 21:01] tamird commented on #14486
How long does it take on not-Windows?

On Thu, Mar 30, 2017 at 4:43 PM, Bram Gruneir <notifications@github.com>
wrote:

[2017-03-30 21:11] BramGruneir commented on #14486
--- PASS: TestConcurrentBatch (1.64s)

[2017-03-30 21:12] tamird commented on #14486
Well, that seems bad enough on windows that we might want to investigate before merging #14488.

[2017-03-30 21:15] petermattis commented on #14486
I told @BramGruneir the temporary workaround was fine. Let's find the next problem and then circle back to this when the tests are all passing.

[2017-03-30 21:18] petermattis commented on #9423
That was definitely it. I hope you enjoy my very clever fix that does not involve an extra flag on the cache entries (see `lowWaterTxnIDMarker`).

[2017-03-30 21:41] petermattis commented on #14457
I was able to reproduce what looks like a memory leak when running `digits-mixed.php`:

<img width="867" alt="screen shot 2017-03-30 at 5 39 41 pm" src="https://cloud.githubusercontent.com/assets/6201335/24527403/f959e874-156f-11e7-94e3-5dec6728be7b.png">

Haven't done any debugging to figure out what is going, but this is reproducible.

[2017-03-30 21:42] dt commented on #6086
yeah, we can probably even just close this issue entirely.

[2017-03-30 21:45] #6086 closed

[2017-03-30 21:53] spencerkimball commented on #6198
I'm moving this off of 1.0.

[2017-03-30 21:54] spencerkimball commented on #6210
@bdarnell ping... I think we've addressed everything in this issue. Could you close if so and assign if not / remove the 1.0 milestone.

[2017-03-30 22:00] #6210 closed

[2017-03-30 22:03] cockroach-teamcity opened #14492 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestParallel, testrace (proposer evaluated kv)/TestParallel/subquery_retry"
The following tests appear to have failed:

[#200625](https://teamcity.cockroachdb.com/viewLog.html?buildId=200625):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-30 22:11] knz commented on #7554
Note that this data is already shown in one of the virtual tables in crdb_internal.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-30 22:12] knz commented on #14090
Thanks!

[2017-03-30 22:12] #14090 closed

[2017-03-30 22:17] benesch commented on #14031
Resolved by #14032, #14104, #14343, and cockroachdb/homebrew-cockroach#5.

[2017-03-30 22:17] #14031 closed

[2017-03-30 22:25] jordanlewis opened #14493 "sql: support Postgres syntax names for all types"
We should consider supporting the Postgres syntax for all of the types whose Postgres OID we support via pgwire and claim to support via `pg_catalog.pg_type`.

For instance, our integer type is named `INT`, but we support the `int2`, `int4`, and `int8` types via their OID in pgwire and in `pg_type`. We should consider supporting using the type names `INT2`, `INT4`, and `INT8` as syntax in SQL stat

[2017-03-30 23:57] knz opened #14499 "sql: INTERVAL datums larger than a day don't pretty-print to parsable values"
e.g. `INTERVAL '95' DAY`

found with #14484

[2017-03-31 00:28] BramGruneir opened #14500 "server/status: CGO stats are empty in windows"
For example:
[code]

[2017-03-31 00:31] BramGruneir opened #14501 "server/status: file descriptor usage error should either be suppressed on windows"
Remove or suppress File Descriptor usage error when running on windows.
[code]

[2017-03-31 00:35] BramGruneir opened #14502 "cli: when shutdown using ctrl-c, windows reports that it failed running "start""
Example:
[code]

[2017-03-31 00:40] BramGruneir commented on #14406
Cockroach is running on Windows!
![image](https://cloud.githubusercontent.com/assets/1614265/24531715/dad9399a-1588-11e7-8810-b3638265f384.png)

Of course, not everything is working properly and it seems to be quite slow.  I've started filing issues against it with the tag Windows.
https://github.com/cockroachdb/cockroach/labels/windows

[2017-03-31 00:43] tamird commented on #14502
What happens on not-windows?

On Mar 30, 2017 20:35, "Bram Gruneir" <notifications@github.com> wrote:

[2017-03-31 00:45] tamird commented on #14500
I'm quite sure this is a consequence of not using jemalloc.

On Mar 30, 2017 20:28, "Bram Gruneir" <notifications@github.com> wrote:

[2017-03-31 00:45] BramGruneir commented on #14500
What's the main reason that  we not using jemalloc on windows?

[2017-03-31 00:49] tamird commented on #14500
Just haven't done it yet.

On Mar 30, 2017 20:45, "Bram Gruneir" <notifications@github.com> wrote:

[2017-03-31 01:01] vivekmenezes opened #14503 "distsql: fill in some distsqlrun.Error fields for better debugging"
#14025 add a distsqlrun.Error type to distsql protobufs. There are two fields ```NodeID``` and ```authoritative``` that are not filled in. It will also be nice to add in new fields ```ProcessorID``` and perhaps ```StreamID``` .

[2017-03-31 01:05] vivekmenezes opened #14504 "distsql: txn retry errors are not caught by distsql"
At least we have no tests for it and don't know if they are propagated as txn retry errors or just regular errors and thus don't trigger a retry. This issue can be resolved by adding such a test and possibly a fix around adding a txn retry error type to ```distsqlrun.Error``` introduced in #14025

[2017-03-31 01:16] vivekmenezes commented on #7554
Not sure what you mean. We should at a minimum populate the system.jobs table with the state of a schema change backfill job, so that users can query the system.jobs table for the state of a backfill job. We can start by adding an entry, updating the entry with every state change made by the state machine, write checkpoints and % progress as checkpoints are written.

[2017-03-31 01:21] petermattis commented on #14500
We should have an issue for this, but it seems of lesser importance. Using jemalloc will give us cgo allocation stats, but the performance diff (if any) is likely minor.

[2017-03-31 01:22] #14484 closed

[2017-03-31 01:35] petermattis commented on #14457
The above repro was on top of https://github.com/cockroachdb/cockroach/pull/14489 which exacerbates the problem, but it still seems to happen on master. The problem is in the construction of the `cacheRequest` inserted into the timestamp cache. Specifically https://github.com/cockroachdb/cockroach/blob/master/pkg/storage/replica.go#L1595-L1610:

[code]

For a `ScanRequest`, if we limited the scan

[2017-03-31 01:37] petermattis commented on #14406
Woohoo!

[2017-03-31 01:58] jseldess opened #14505 "ui: reads are not represented in graphs"
Bug: Reads aren't visually represented in admin ui graphs, although on hover, the **Total Reads** looks accurate in the tooltip.

In my case, I used `block_writer` to insert data.

<img width="1241" alt="screen shot 2017-03-30 at 9 51 49 pm" src="https://cloud.githubusercontent.com/assets/15893490/24533113/75a3227e-1593-11e7-84f3-b21cca443d60.png">

<img width="1247" alt="screen shot 2017-03-30 at

[2017-03-31 07:25] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/f9b8c0cb82fd55acc8045869d3ebb0629da558dc

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=201092&tab=buildLog

[2017-03-31 08:02] cockroach-teamcity commented on #13886
SHA: https://github.com/cockroachdb/cockroach/commits/f9b8c0cb82fd55acc8045869d3ebb0629da558dc

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=201168&tab=buildLog

[2017-03-31 08:20] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/f9b8c0cb82fd55acc8045869d3ebb0629da558dc

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=201196&tab=buildLog

[2017-03-31 08:23] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/f9b8c0cb82fd55acc8045869d3ebb0629da558dc

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=201306&tab=buildLog

[2017-03-31 09:42] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/f9b8c0cb82fd55acc8045869d3ebb0629da558dc

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=201504&tab=buildLog

[2017-03-31 13:38] petermattis opened #14508 "storage: control TimestampCache size via memory usage"
The number of items in the `TimestampCache` is currently controlled by a count of the number of entries. This is slightly awkward as it requires an estimation of the size of the start and end keys and doesn't account for differing key sizes. Accurately tracking the memory usage of the `TimestampCache` is not particularly difficult and would allow the size to be controlled in a more natural way.

[2017-03-31 13:45] petermattis opened #14509 "storage: optimize TimestampCache.ExpandRequests"
`TimestampCache.ExpandRequests` currently expands all requests that are newer than the specified timestamp. A TODO in the code notes this is excessive as we only need to expand requests that have a possibility of overlap with the current request. Figuring out the bounds for a request is done as a normal part of request processing (see `keys.Range(BatchRequest)`) and keeping track of the bounds of

[2017-03-31 13:48] vivekmenezes commented on #2131
PostgreSQL

Must contain 1 to 63 alphanumeric characters.
Must begin with a letter or an underscore. Subsequent characters can be letters, underscores, or digits (0-9).
Cannot be a word reserved by the database engine.

is what I could find.

[2017-03-31 13:53] petermattis commented on #14509
The move to a per-Store `TimestampCache` (https://github.com/cockroachdb/cockroach/pull/14489) elevates the importance. A simpler approach than plumbing `keys.Range()` through to `applyTimestampCache` would be to only expand requests that overlap the range the request is being executed on (i.e. `Replica.Desc().{Start,End}Key`).

[2017-03-31 14:03] #9423 closed

[2017-03-31 14:03] #14264 closed

[2017-03-31 14:54] bdarnell opened #14512 "perf: RocksDB block cache grows over time"
The RocksDB block cache will eventually grow over time to reach its configured limit, even in an idle cluster. This is a combination of our time-series data storage and the fact that RocksDB does not purge old data from the cache until it reaches its memory limit, so the cache can use more memory than the on-disk storage (because it holds data for sstables that have been compacted away). This is s

[2017-03-31 15:04] bdarnell commented on #14457
Making a copy here seems like the right move to me. I wonder if we could zero-fill ByteAllocator buffers when they should go out of scope to help detect cases like this. I don't think there's a good time to do that, though.

[2017-03-31 15:09] r7ar7a opened #14513 "query can kill server"
**BUG REPORT**

- What did you do?
[code]

- What did you expect to see?
Not sure...
This is a minimal failing version of a complex query. I'm a noob at sql, so I don't know if an SQL server should support GROUP BY ... HAVING AGGREGATION(...) OVER(...) ...  queries. If not I would expect some parsing error message.
- What did you see instead?
Query above made the docker container with the sql serv

[2017-03-31 15:11] mberhault commented on #2131
Thanks Vivek.

The remaining question at this point is whether we want to do this for 1.0.
My personal opinion is that these kinds of restrictions are better put in early, but that doesn't necessarily make it a priority.

[2017-03-31 15:11] spencerkimball commented on #6092
@knz, I'm moving this from 1.0 milestone. This really doesn't feel like it should hold up the release. Please assign and add 1.0 milestone if you disagree.

[2017-03-31 15:12] petermattis commented on #14457
Yeah, that would be good, but I don't see where to do it either.

[2017-03-31 15:16] spencerkimball commented on #6311
Duplicate of #9142

[2017-03-31 15:16] #6311 closed

[2017-03-31 15:16] spencerkimball commented on #9142
@mrtracy this is slated for 1.0, correct?

[2017-03-31 15:18] spencerkimball commented on #6429
@knz I'm assigning this to you. Could you re-assign as appropriate if it is indeed slated for 1.0 inclusion. Otherwise, unassign and set milestone to `Later`.

[2017-03-31 15:25] petermattis commented on #14512
I did some investigation into this a few weeks ago. We can hook in and receive notification when an sstable is deleted, but there is no easy means of then telling the cache to delete all the blocks from that sstable. I think doing this would require changes to RocksDB.

I think this might be doable by wrapping RocksDB `LRUCache` and `LRUCacheShard`. I didn't explore in depth, though. There might n

[2017-03-31 15:25] vivekmenezes commented on #9142
We agreed to allow schema change status updates via sql but not through the UI for 1.0. @jordanlewis working on that.

[2017-03-31 15:27] petermattis commented on #14512
Also note that the default of 25% of physical memory might be low for a dedicated machine.

[2017-03-31 15:29] andreimatei commented on #14513
Thanks for the report!
The server probably panicked. There should be a stacktrace at the end of the log file. Would you mind pasting it here?

[2017-03-31 15:33] vivekmenezes commented on #14513
this is easily reproducible using

```./cockroach sql -e "SELECT 1 GROUP BY 1 HAVING sum(1) OVER (PARTITION BY 1) > 1;"```

[2017-03-31 15:34] bdarnell commented on #14512
Yeah. We set this value before a lot of work was done on controlling the memory usage for SQL and raft snapshots, so we needed to allow a lot of room for bursts in other memory usage. Now it's feasible to raise the limit.

Instead of encouraging use of the `--cache-size` flag we may want to introduce a new `--memory-limit` flag (that would override the use of physical/cgroup memory) so we can cont

[2017-03-31 15:37] r7ar7a commented on #14513
Sorry, probably I've checked the other log file, and haven't found the stacktrace. So here it is:
[code]

[2017-03-31 15:38] vivekmenezes commented on #14513
Thanks for the information. This should be very easy to fix. Thanks!

[2017-03-31 15:41] petermattis commented on #14512
The RocksDB cache size is dynamically adjustable. I wonder if we can have a heuristic that shrinks the cache size when there is little or no traffic and raises it when there is.

[2017-03-31 15:48] bdarnell commented on #14493
`int4` is already tracked in #12481

[2017-03-31 16:03] spencerkimball commented on #6713
This seems like a big deal. We need to assign this to someone. I'm assigning @tamird for now. @tamird, could you either do this, reassign it, or argue that the 1.0 milestone doesn't apply?

[2017-03-31 16:04] spencerkimball commented on #6773
@andreimatei ping on this one. It's almost a year old. Is this going to be addressed for 1.0?

[2017-03-31 16:04] spencerkimball commented on #6774
@andreimatei could you update this issue? It's a year old now and slated for 1.0.

[2017-03-31 16:05] #6151 closed

[2017-03-31 16:09] vivekmenezes commented on #14513
The problem here is:

https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/parser/eval.go#L2395

expects to see a function, but it has picked an aggregate function "sum" that has a function pointer in AggregateFunc not fn

I think the fundamental problem here is that there isn't a check anywhere that an aggregate function has been picked for the left side of the comparison:  "sum(1) OVER (

[2017-03-31 16:11] vivekmenezes commented on #6773
I'd like to keep this open so we can eventually fix it, but it need not be fixed for 1.0

[2017-03-31 16:16] vivekmenezes commented on #6774
Worth fixing for 1.0

[2017-03-31 16:40] wendigo commented on #14335
@dt I can prepare PR if you want me to :)

[2017-03-31 16:55] #14508 closed

[2017-03-31 17:02] dt commented on #14335
@wendigo, whoops, sorry, I meant to add this but got sidetracked looking at our ORM testing and haven't touched it, so if you have a patch, we'd certainly appreciate a PR!

[2017-03-31 17:13] petermattis opened #14518 "storage: revisit TimestampCache eviction policy"
Internally, the `TimestampCache` has 3 caches: a read interval cache, a write interval cache and a request cache. The combined size of the caches is limited to `TimestampCache.maxBytes`, but the eviction from the caches is funky: we only evict from one of the sub-caches when inserting into it. For example, `TimestampCache.AddRequest` is the only place we evict from the request cache.

I'm not cert

[2017-03-31 17:36] jordanlewis commented on #12792
We changed strategies and now provide an adapter for CockroachDB support in ActiveRecord. See https://github.com/cockroachdb/activerecord-cockroachdb-adapter and [the docs](https://www.cockroachlabs.com/docs/build-a-ruby-app-with-cockroachdb-activerecord.html).

[2017-03-31 17:36] #12792 closed

[2017-03-31 17:39] danhhz opened #14521 "restore: support restoring views"
There are a number of tricky edge cases: TODO(dt): fill this out

@dt we should explicitly error in the meantime, do we?

[2017-03-31 17:42] hrstoyanov commented on #14443
Hello,
I am using the snapshot bild from 3/31/2-17 and I am getting this very same issue in VMWare vps instance:
[code]

[2017-03-31 17:55] spencerkimball commented on #6805
This issue is no longer reproducible.

[2017-03-31 17:55] #6805 closed

[2017-03-31 17:55] #6776 closed

[2017-03-31 18:02] cockroach-teamcity opened #14522 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#201974](https://teamcity.cockroachdb.com/viewLog.html?buildId=201974):

[code]
Please assign, take a look and update the issue accordingly.

[2017-03-31 18:29] #14457 closed

[2017-03-31 18:47] mjibson opened #14523 "sql: make sure collated strings in composite datums work with `explain (debug)`"
The `debugStrings` field, when true, makes `sqlbase/RowFetcher.ProcessKV` call prettyEncDatums before any composite field processing is done. However collated strings can't be decoded, so this may fail. Filing this issue so I don't forget about this.

[2017-03-31 19:01] bdarnell commented on #14053
I think the fact that the stats are off by one entry is because [this line](https://github.com/cockroachdb/cockroach/blob/e95d1dfe2527d66331f80abdde2019e2c7627b24/pkg/storage/replica_proposal.go#L569) uses `store.Engine()` directly instead of writing to the same batch as everything else. That's enough to cause replica divergence if there's an ill-timed restart, but it doesn't explain the other mis

[2017-03-31 19:06] vivekmenezes commented on #2131
let's put it in for 1.0. assigning to alfonso, feel free to reassign

[2017-03-31 20:48] justinj opened #14527 "sql: literal values sometimes don't get implicitly converted"
There appear to be situations in SQL queries where values will not get implicitly converted to match the column type they're being compared (or assigned) to.

CockroachDB (as of `0499d0d51f0bfb332fd4d69e943812845e9eae99`):
[code]

Postgres:
[code]

[2017-03-31 21:41] benesch commented on #14443
@hrstoyanov, you could try building from source. If you manually remove "-msse4.2" from line 8 of `vendor/github.com/cockroachdb/c-rocksdb/cgo_flags.go` and compile, you should get a working binary. We're preparing a more permanent fix in #14466.

[2017-03-31 21:50] RaduBerinde commented on #14351
I'm going to implement this for `AVG` as it's fairly common.

[2017-03-31 23:24] #9438 closed

[2017-04-01 08:19] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/e95d1dfe2527d66331f80abdde2019e2c7627b24

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=202567&tab=buildLog

[2017-04-01 08:54] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/e95d1dfe2527d66331f80abdde2019e2c7627b24

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=202675&tab=buildLog

[2017-04-01 14:17] petermattis commented on #14053
I'm not following why `ContainsEstimates` can't be cleared using the normal MVCCStats machinery. Also, that field is only true for ranges containing "merge" operations (i.e. time series ranges). At the very least we could narrow that hack so it only applied if `ContainsEstimates` is true.

[2017-04-01 15:05] RaduBerinde opened #14533 "sql: collated strings don't get deleted from index"
If I make this seemingly innocuous change to `collatedstring_index2` test file:
[code]
The test fails with:
[code]

The difference between these two statements is that in the first one `(a, b)` is an expression, which means that we will render an `(a, b)` tuple for each row, and use that as a key to sort. This means that we can't really use the index on `a, b`. So these tests are not actually test

[2017-04-01 19:15] bdarnell commented on #14053
The normal machinery just applies a delta, so adding anything to an estimate yields a new estimate. We need some "abnormal" machinery to handle this case by doing a full scan and recomputing the stats; this is it, although it's clearly the wrong place for it. It belongs earlier in the pipeline when we're doing the on-disk changes; `replica_proposal.go` is for doing things in-memory.

[2017-04-01 21:46] cockroach-teamcity opened #14535 "teamcity: failed tests on master: test/TestStoreRangeGossipOnSplits"
The following tests appear to have failed:

[#203079](https://teamcity.cockroachdb.com/viewLog.html?buildId=203079):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-01 22:11] cockroach-teamcity opened #14536 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#203118](https://teamcity.cockroachdb.com/viewLog.html?buildId=203118):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-01 22:44] #6621 closed

[2017-04-01 23:09] tamird commented on #14536
Error response from daemon: containerd: container did not start before the specified timeout.

[2017-04-01 23:09] #14536 closed

[2017-04-01 23:43] spencerkimball commented on #6859
@bdarnell still a 1.0? I didn't fully grok this long discussion, so could you comment on what remains to be done and assign this?

[2017-04-01 23:44] spencerkimball commented on #6886
@bdarnell since #4182 has been closed, is this issue resolved as well? Please close or assign.

[2017-04-01 23:46] spencerkimball commented on #7003
Retitling this to target long running queries. See #7554 for the system jobs table.

[2017-04-01 23:47] spencerkimball commented on #7012
This was fixed a while ago apparently.

[2017-04-01 23:47] #7012 closed

[2017-04-01 23:49] spencerkimball commented on #7226
@BramGruneir I'm closing this because it seems like "make work". If you feel there's still work to be done here, please re-open and assign an appropriate milestone and an assignee.

[2017-04-01 23:49] #7226 closed

[2017-04-01 23:50] spencerkimball commented on #7143
@mjibson what's the status here? Is this 1.0? I'm assigning this to you to re-assign, move milestone, and/or close.

[2017-04-01 23:51] spencerkimball commented on #7275
Closing for lack of current repro.

[2017-04-01 23:51] #7275 closed

[2017-04-01 23:53] spencerkimball commented on #7316
Closing for lack of repro (works fine for me). I assume Docker has improved things in the intervening releases. @petermattis since you had a faulty setup, could you test this and re-open, assign, etc. if necessary?

[2017-04-01 23:53] #7316 closed

[2017-04-01 23:55] spencerkimball commented on #7319
@mrtracy could you update this issue? I haven't seen this problem in a good long time. Unless this is still a problem we intend to address, please close the issue.

[2017-04-01 23:56] spencerkimball commented on #7538
Closing for lack of repro instructions, and many intervening performance updates.

[2017-04-01 23:56] #7538 closed

[2017-04-01 23:57] spencerkimball commented on #7596
@petermattis I'm closing this given the gobs of performance work done since it was initially filed. Please re-open and assign if you feel legitimate work that needs to be tracked by an issue remains.

[2017-04-01 23:58] #12526 closed

[2017-04-02 00:00] jordanlewis commented on #12526
@tlvenn please let us know if you're encounter further difficulties here as I'm not yet entirely confident that all of the details of the table are properly filled in.

[2017-04-02 00:10] spencerkimball commented on #7648
@andreimatei I'm intuiting this will not be addressed for 1.0. If you believe it should be, please reinstate the 1.0 milestone.

[2017-04-02 00:13] spencerkimball commented on #7728
@knz, ping. This has been lingering for the better part of a year and as @mjibson pointed out, this is not necessarily something that we can / should fix.

[2017-04-02 00:14] spencerkimball commented on #7775
@knz, assigning you. Please re-assign, remove 1.0 milestone as you see fit.

[2017-04-02 00:15] petermattis commented on #7596
See [this comment](https://github.com/cockroachdb/cockroach/issues/7596#issuecomment-290212730) and [this comment](https://github.com/cockroachdb/cockroach/issues/7596#issuecomment-290214417) from 3 days ago.

[2017-04-02 00:18] spencerkimball commented on #7794
Closing for lack of activity. The original problem has been addressed.

[2017-04-02 00:18] #7794 closed

[2017-04-02 00:23] #7886 closed

[2017-04-02 00:24] #7887 closed

[2017-04-02 00:26] spencerkimball commented on #7906
Duplicate of #7646. Closing this issue to simplify tracking.

[2017-04-02 00:26] #7906 closed

[2017-04-02 00:27] cockroach-teamcity opened #14539 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#203232](https://teamcity.cockroachdb.com/viewLog.html?buildId=203232):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-02 00:31] spencerkimball commented on #7912
@knz, don't we have a clojure-friendly restart example: https://www.cockroachlabs.com/docs/build-a-clojure-app-with-cockroachdb.html#transaction-with-retry-logic

[2017-04-02 00:33] spencerkimball commented on #7963
@mjibson who owns this issue? Could you re-assign if necessary. Also, please remove the 1.0 milestone if this isn't getting addressed in the next month.

[2017-04-02 00:34] spencerkimball commented on #7992
Is this issue closable yet? I'm removing 1.0 milestone.

[2017-04-02 00:55] bdarnell commented on #6859
This is basically our umbrella issue for mesosphere support, but I think it's better to tackle this on the docs side (like we did with docker swarm, etc). Closing this in favor of https://github.com/cockroachdb/docs/issues/507

[2017-04-02 00:55] #6859 closed

[2017-04-02 00:57] bdarnell commented on #6886
The issue is still present - setting `GOBIN` will break the build (if building from scratch). Since we now set `GOPATH` in the `Makefile`, we should also set/clear `GOBIN`.

[2017-04-02 02:03] bdarnell commented on #10413
With #14524, the command queue now tracks nearly all keys accessed during a request. The exceptions are some of the special cases called out in the description of PR #10084 (which I'll quote here because github often serves errors trying to load that old and large thread):

- Every command needs to read FrozenStatus, RangeLastGCKey and writes
  MVCCStats. Unless we are smart about it, that already

[2017-04-02 02:39] RaduBerinde commented on #8057
We need someone with experience debugging the storage layers help with root-causing this.

[2017-04-02 02:58] bdarnell commented on #12603
This is still happening as of beta-20170323:

`span and descriptor's range do not overlap: {/Table/51/4/"5140712707"/NULL/"4091112119474418"/0 /Table/51/1/"4091221963483159"} vs range_id:194 start_key:"\273\214\0225098657573\000\001\024\204\247\"\311\037\207\377\0224090989369197332\000\001" end_key:"\273\214\0225594216204\000\001\024\204\247\"\334\305\207\377\0224090990325292389\000\001" replicas:

[2017-04-02 06:15] cockroach-teamcity opened #14540 "ccl/sqlccl: TestBackupAsOfSystemTime failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/eac297eeb9bb1f48fa558fad39d0032c8b59d1d7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=203317&tab=buildLog

[code]

[2017-04-02 07:10] cockroach-teamcity commented on #14192
SHA: https://github.com/cockroachdb/cockroach/commits/eac297eeb9bb1f48fa558fad39d0032c8b59d1d7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=203470&tab=buildLog

[2017-04-02 08:20] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/eac297eeb9bb1f48fa558fad39d0032c8b59d1d7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=203575&tab=buildLog

[2017-04-02 08:51] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/eac297eeb9bb1f48fa558fad39d0032c8b59d1d7

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=203683&tab=buildLog

[2017-04-02 09:12] a-robinson commented on #10692
Do we still want to get this in for 1.0? It looks like @a6802739 has mostly abandoned #12335, which #12513 was meant to supplement.

[2017-04-02 16:58] spencerkimball commented on #10692
I'd really like to get this straightened out. How much work is left?

[2017-04-02 16:59] #2131 closed

[2017-04-02 18:17] spencerkimball commented on #7960
Closing as insert performance has been increased via multiple PRs since original issue posting date.

I ran the exact same steps and with a build current as of 03/31/17, the space taken after the ~1.5M inserts is only 380M. Total insertion time was 33m:42s.

[2017-04-02 18:17] #7960 closed

[2017-04-02 19:03] spencerkimball commented on #8061
@bdarnell, @nvanbenschoten after reading the details of this issue, I'm going to close it. We currently do what Postgres does, ODB currently works around this, and as @nvanbenschoten pointed out, trying to get fancy just causes additional uncertainty.

If someone disagrees, please re-open. If you believe it should be 1.0, don't fail to assign it to someone who is committed to getting the work done

[2017-04-02 19:03] #8061 closed

[2017-04-02 19:05] spencerkimball commented on #8102
@dt, I'm assigning this to you. Please either 1) re-assign, 2) un-assign and change 1.0 milestone to "Later" if you think this isn't 1.0 material

[2017-04-02 19:06] spencerkimball commented on #8527
Closing for age and lack of repro.

[2017-04-02 19:06] #8527 closed

[2017-04-02 19:07] spencerkimball commented on #8567
Let's get this fixed for 1.0. Should be simple.

[2017-04-02 19:08] spencerkimball commented on #8659
@petermattis ping.

[2017-04-02 19:09] spencerkimball commented on #8662
I'm closing this in favor of #14033

[2017-04-02 19:09] #8662 closed

[2017-04-02 19:16] petermattis commented on #8567
This was fixed in #13947.

[2017-04-02 19:16] #8567 closed

[2017-04-02 19:17] petermattis commented on #10692
I think we should get this in 1.0. The work was mostly done.

[2017-04-02 19:19] petermattis commented on #8659
I'll clean up the existing PR this week.

[2017-04-02 19:28] petermattis commented on #12603
`RSpan.Intersect` is only called outside of tests by `DistSender.sendPartialBatch`. I suspect we have an off-by-one error in the batch splitting logic.

[2017-04-02 19:34] cockroach-teamcity opened #14542 "teamcity: failed tests on master: testrace/TestStoreRangeGossipOnSplits"
The following tests appear to have failed:

[#204015](https://teamcity.cockroachdb.com/viewLog.html?buildId=204015):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-02 20:16] spencerkimball commented on #8699
@mrtracy could you close this out as appropriate?

[2017-04-02 20:25] tamird opened #14546 "log: TestGetLogReader fails in Windows"
After #14545, the output looks like this:
[code]
The error is the same in both cases, and is related to the behaviour of `os.Stat` with respect to symlinks on Windows. Unfortunately, there is some obtuse logic in general surrounding this code, such that if I explicitly [`filepath.EvalSymlinks`](https://godoc.org/path/filepath#EvalSymlinks) before the call to `os.Stat`, tests fail on unix-like syst

[2017-04-02 20:26] spencerkimball commented on #8832
Does anyone have a concrete suggestion for how to address this? I'm removing the 1.0 milestone because I wasn't able to come up with a decent idea. Note that there are complaints in the logs about this situation:
[code]

[2017-04-02 20:27] spencerkimball commented on #8899
Closing. Not reproducible.

[2017-04-02 20:27] #8899 closed

[2017-04-02 20:29] spencerkimball commented on #8904
Not 1.0 IMO. Adding the `ux-surprise`. @petermattis re-specify 1.0 milestone and assign if you disagree.

[2017-04-02 20:32] spencerkimball commented on #8907
Removing 1.0, assigning to @mrtracy, adding `ux-surprise`.

[2017-04-02 21:07] spencerkimball commented on #8953
@sploiselle is this something you still want fixed? Do we get complaints about this from users?

@bdarnell @mberhault is this something we intend to fix for 1.0?

[2017-04-02 22:34] #14404 closed

[2017-04-02 22:37] a-robinson commented on #9749
It looks like there's no concrete reason for this to still be open.

[2017-04-02 22:37] #9749 closed

[2017-04-02 22:57] timchunght opened #14548 "CREATE TABLE and INSERT fail in same Transaction"
I believe there is a bug in the transaction. So when I CREATE TABLE and INSERT into the same table in the same transaction, cockroach just hangs indefinitely. This bug was discovered when using the goose migration tool with Cockroach. All the code only uses the `lib/pq` and the default `database/sql` and same issue persists even in isolation with the code moved into an individual script.

Everythi

[2017-04-02 23:56] dt commented on #8102
not a 1.0 blocked, moved to Later.

[2017-04-03 00:06] spencerkimball commented on #8330
@danhhz, remove 1.0 milestone if not appropriate.

[2017-04-03 03:23] benesch commented on #14548
Hi @timchunght, thanks for reporting! In case you're curious, there are a few existing issues tracking oddities with schema changes and transactions:

  * #13505 tracks a similar issue where index creation fails if called in the same transaction as `CREATE TABLE`.
  * #12123 tracks an issue where `CREATE TABLE` cannot follow a `DROP TABLE` in the same transaction.
  * #14280 tracks the broader iss

[2017-04-03 04:20] nvanbenschoten opened #14551 "sql: RETURNING NOTHING should work outside of transactions"
We currently return an error when using the `RETURNING NOTHING` syntax outside of transactions. We should allow the syntax and simply synchronize immediately after instead, still returning the mock result.

[2017-04-03 07:26] tlvenn commented on #12526
Hi @jordanlewis, thanks a lot for this. This looks pretty good but there is still one tiny issue remaining with array typnames.

Right now a `[]` is suffixed while the expected convention is to prefix the typename with `_`. So for example, it should read `_int2` instead of `int2[]`.

[2017-04-03 08:15] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/4b73daff3cb8fce22548d61176a540e3a35e68ac

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=204500&tab=buildLog

[2017-04-03 08:36] cockroach-teamcity commented on #13886
SHA: https://github.com/cockroachdb/cockroach/commits/4b73daff3cb8fce22548d61176a540e3a35e68ac

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=204577&tab=buildLog

[2017-04-03 08:59] cockroach-teamcity commented on #11221
SHA: https://github.com/cockroachdb/cockroach/commits/4b73daff3cb8fce22548d61176a540e3a35e68ac

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=204707&tab=buildLog

[2017-04-03 09:46] nvanbenschoten commented on #5429
I'll be able to get this fixed within the next week, so we can leave the 1.0 milestone.

[2017-04-03 10:08] tlvenn commented on #12526
I also encountering the following error now:

```execRequest: error: unsupported comparison operator: <oid> NOT IN <tuple{int}>```

Seems like there is a slight regression with the work you did to properly support the OID type.
I will create a separate issue to track it.

[2017-04-03 10:14] tlvenn opened #14554 "unsupported comparison operator: <oid> NOT IN <tuple{int}>"
As discussed with @jordanlewis in #12526, I believe the recent work on supporting the OID type created a small regression with the following error:

```sql/executor.go:722  [client=127.0.0.1:63505,user=root,n1] execRequest: error: unsupported comparison operator: <oid> NOT IN <tuple{int}>```

Looks like there are some missing comparison operators between OID and int type now that OIDs are not int

[2017-04-03 10:23] tlvenn commented on #12526
I have created a small PR to fix the typname issue with array types: https://github.com/cockroachdb/cockroach/pull/14555

[2017-04-03 10:25] tlvenn opened #14556 "Array type name in pg_type are not following postgresql convention"
As discussed in #12526, the typname for all array types should be prefixed with `_` instead of using a `[]` suffix to follow postgresql convention. This is important for ORM compatibility.

This is solved in this PR: https://github.com/cockroachdb/cockroach/pull/14555

[2017-04-03 10:36] nvanbenschoten commented on #12603
It looks like in both cases the span's `EndKey` is less than its `StartKey`. I haven't looked at this code in a while, but I don't think that even with a `Descending` scan this is supposed to happen.

[2017-04-03 10:45] tlvenn commented on #14473
This error is also happenning to me lately when I run my test suite depending in which order the tests are run. For a given order, the DB crashes 100% of the time.

[2017-04-03 11:01] tlvenn commented on #14473
If that helps, this happens to me for the[ Elixir Sandbox](https://github.com/jumpn/cockroachdb_sandbox) project I created.

You can checkout the `no-override` branch and simply run `mix test --seed 600906` to crash the DB.

[2017-04-03 13:20] jordanlewis commented on #14473
If you like, you can try patch #14481 to see if that helps you before it's merged.

[2017-04-03 13:40] petermattis commented on #14548
Creating a table was not historically a schema change in the same sense as other schema changes operations and some effort was made to allow subsequent inserts to the new table within the same transaction to work. Did we regress accidentally here, or was this intentional?

[2017-04-03 13:57] petermattis commented on #8057
@RaduBerinde Is this still reproducible?

[2017-04-03 14:09] a-robinson commented on #10692
@BramGruneir, do you have bandwidth to drive this to the finish line or do you need me to?

[2017-04-03 14:12] BramGruneir commented on #10692
I'm out of the office until Wednesday and I'll be concentrating on Windows
for a bit. Feel free to take this over.

On Apr 3, 2017 10:09 AM, "Alex Robinson" <notifications@github.com> wrote:

[2017-04-03 14:17] dt commented on #14548
At least when there are relations between tables (fks, views), CREATE _does_ need to be a schema change (with the committed intermediate state + waitForOneVersion dance).

[2017-04-03 14:23] danhhz opened #14558 "engineccl: make MultiIterator match the new engine.Iterator interface"
It changed in https://github.com/cockroachdb/cockroach/pull/14549

Also, this is apparently more brittle than I guessed. Consider doing the SimpleIterator TODO

[2017-04-03 14:32] jseldess commented on #5756
@mberhault, I agree that we should keep this short and link to our docs. I like how rethink and aerospike do it.

For the short description, we could go with:

For the full description, we could have three subsections:

- **Supported tags and respective `Dockerfiles` links** - Could you help with this?
- **What is CockroachDB** - I can get a longer description.
- **Using this image** - Here we cou

[2017-04-03 14:36] a-robinson opened #14559 "debug: "grpc: the client connection is closing" error on raft debug page"
I was trying to check out which system range had bit the dust on indigo by going to the `/_status/raft` debug page when I hit the above error. I get the same error every time I retry as well, so apparently the client connection isn't closing very quickly.

Looks like a misuse of a dial timeout judging by https://github.com/grpc/grpc-go/issues/133, but do you know anything about this @tamird?

[2017-04-03 14:43] tlvenn commented on #14473
Just tried, all good now 👍

[code]

[2017-04-03 15:09] RaduBerinde commented on #8057
I'm trying to, so far no. If it's passing a few hours of `stress` and `stressrace`, I'll send out a PR to enable the test.

[2017-04-03 15:35] #14274 closed

[2017-04-03 15:46] asubiotto opened #14560 "sql: nil pointer dereference in Executor"
node 9 on indigo died with the following panic:

[code]

This seems to be caused by [this line](https://github.com/cockroachdb/cockroach/blob/4d2c8be8e93e560a3a4dabda87c69c5363056311/pkg/sql/executor.go#L734) in `executor.go`.

[2017-04-03 15:50] petermattis opened #14561 "stability: goroutine spike on indigo"
At ~07:48:22 this morning, `indigo 9` experienced a spike in goroutines. The following shows 2 log entries containing goroutine counts:

[code]

Over the course of 10 seconds, the node went from using 649 gorutines to 44575 goroutines. The periodic goroutine dump taken at 07:48:56 shows 8904 goroutines, with 7935 stuck in:

[code]

I'm still investigating why the RPCs aren't finishing, but that st

[2017-04-03 15:53] a-robinson commented on #14561
And why has the cluster not recovered since the subsequent node crash?

[2017-04-03 15:54] petermattis commented on #14561
Prior to the goroutine spike, the log is filled with the following as well as a number of other node liveness messages:

[code]

[2017-04-03 15:56] cockroach-teamcity opened #14562 "teamcity: failed tests on master: test (proposer evaluated kv)/TestNonRetryableErrorOnCommit"
The following tests appear to have failed:

[#205050](https://teamcity.cockroachdb.com/viewLog.html?buildId=205050):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-03 15:57] #13962 closed

[2017-04-03 16:01] a-robinson commented on #5756
It looks like to get the nice setup that rethink and aerospike have, we'd want to get into Docker's "Official Images" library:
https://github.com/docker-library/official-images
https://github.com/docker-library/repo-info

I'm not sure how much benefit there is to being included there, but it seems likely we'd meet the requirements for addition if we're up for putting in the required effort (https:

[2017-04-03 16:04] petermattis commented on #14561
<img width="932" alt="screen shot 2017-04-03 at 12 01 52 pm" src="https://cloud.githubusercontent.com/assets/6201335/24618575/7b1a8510-1865-11e7-96a2-38feefca1166.png">

Network latencies on `indigo 9` spiked right before the crash.

<img width="932" alt="screen shot 2017-04-03 at 12 02 07 pm" src="https://cloud.githubusercontent.com/assets/6201335/24618587/87fec7c8-1865-11e7-867c-d44316b6a153.png

[2017-04-03 16:06] petermattis commented on #14561
Note that the above latency graphs use a measurement from our "heartbeat" RPC. Actual latencies between nodes in indigo (using `ping`) appear reasonable right now.

[2017-04-03 16:09] cockroach-teamcity opened #14563 "teamcity: failed tests on master: test (proposer evaluated kv)/TestStoreRangeGossipOnSplits, testrace (proposer evaluated kv)/TestLogic, testrace (proposer evaluated kv)/TestLogic/distsql, testrace (proposer evaluated kv)/TestLogic/distsql/pipelining"
The following tests appear to have failed:

[#205106](https://teamcity.cockroachdb.com/viewLog.html?buildId=205106):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-03 16:10] tamird commented on #14561
As we've discovered, it turns out that our heartbeat RPCs can suffer from
contention on the grpc stream, especially in the presence of
https://github.com/petermattis/grpc-go/commit/d3f1ab4a4dca70781cf6dc850a79ed38632660a6

On Mon, Apr 3, 2017 at 12:06 PM, Peter Mattis <notifications@github.com>
wrote:

[2017-04-03 16:12] andreimatei commented on #14561
Can't imagine why we'd have many goroutines trying to release table leases at the same time... I'm looking at the code, and we're not supposed to be attempting to release the same lease multiple times. Anything in the logs about leases? Unfortunately I think we'd need to enable vmodule on sql/lease.go and sql/table.go.

[2017-04-03 16:17] vivekmenezes commented on #14560
txn := txnState.txn // this might be nil if the txn was already aborted.

related to the above line

[2017-04-03 16:28] petermattis commented on #14561
Here is what network traffic looked like on `indigo 9` around the time period it died. What is with the weird spikes of loopback traffic:

<img width="1408" alt="screen shot 2017-04-03 at 12 26 59 pm" src="https://cloud.githubusercontent.com/assets/6201335/24619727/f51020c0-1868-11e7-8558-4fd8e273ab0c.png">

[2017-04-03 16:30] petermattis opened #14564 "rpc: log spam about unable to connect to down node"
Not sure what can be done here, but when a node in a cluster is down, all of the other nodes log a message once per second about being unable to create a client transport:

[code]

[2017-04-03 16:33] a-robinson commented on #14326
@kuanluo

[2017-04-03 16:46] petermattis commented on #14561
It's possible the network latency jump is an artifact of `indigo 9` crashing. When the crash occurs, we'll start performing more snapshots and perhaps those snapshots are starving the heartbeat RPCs.

[2017-04-03 16:52] #14414 closed

[2017-04-03 17:03] kuanluo commented on #14326
Interesting. Thanks for pointing this out, and agree with the suggestion. We can use "-" in this case. cc @mrtracy

[2017-04-03 17:20] cuongdo commented on #13464
I repro'ed this while running a load test. Here are the steps:

1. Started 6-node cluster
2. Restored TPC-H test data (~1.7 GB of data).
3. Ran `tpch -queries=1` continuously against cluster. This performs only read traffic.
4. About 72 hours after the load test had been running stably, I shrunk the range size (to force lease rebalancing):
[code]

Minutes after, I see this fatal error on 2 of the

[2017-04-03 17:21] cuongdo commented on #13464
Logs from the crashing nodes:

[cockroach.stderr.1.gz](https://github.com/cockroachdb/cockroach/files/890830/cockroach.stderr.1.gz)
[cockroach.stderr.5.gz](https://github.com/cockroachdb/cockroach/files/890831/cockroach.stderr.5.gz)

[2017-04-03 17:25] tamird commented on #14564
This is also https://github.com/grpc/grpc-go/issues/1044.

On Mon, Apr 3, 2017 at 12:30 PM, Peter Mattis <notifications@github.com>
wrote:

[2017-04-03 17:26] andreimatei commented on #14560
Hmmm but if `txnState.txn` is nil (so, we are in a SQL transaction but the KV txn has already been aborted) before executing a statement, we're not supposed to attempt an autocommit of that statement (we autocommit when we're not in a sql transaction). And so we're not supposed to get a `AutoCommitError`.
Looking...

[2017-04-03 17:28] petermattis commented on #13464
@tamird Can you take a look given your familiarity with the `RangeLookup` code path?

[2017-04-03 17:29] RaduBerinde commented on #14563
CC @nvanbenschoten
I can't find the info of the detected race.. (does this have something to do with the log redirection to files?) I couldn't repro locally.

[2017-04-03 17:40] jordanlewis commented on #14563
I'm not sure what is detecting a race -- I just see a test timeout in TestStoreRangeGossipOnSplits, which is available in the logs.

[2017-04-03 17:41] danhhz commented on #14558
same goes for MVCCIncrementalIterator

[2017-04-03 17:43] mjibson opened #14571 "sql: RSG function tests failing"
[code]

@jordanlewis I think you've been doing the oid work? Could you handle this?

[2017-04-03 17:43] RaduBerinde commented on #14563
`testing.go:610: race detected during execution of test`
Seems like there is a race too (and it might be easiest to find that first and see if it can also explain the timeout).

[2017-04-03 17:45] RaduBerinde commented on #14563
@bdarnell suggested `GORACE=halt_on_error=1` which may lead to a better output.

[2017-04-03 17:47] mjibson commented on #7143
This doesn't need to be in 1.0. It's a performance optimization that can be made later.

[2017-04-03 17:50] #14360 closed

[2017-04-03 17:52] mjibson commented on #7963
I can get this done this month.

[2017-04-03 17:57] RaduBerinde commented on #8057
Well, it reproduced in TeamCity (for #14568):
https://teamcity.cockroachdb.com/viewLog.html?buildId=205285&buildTypeId=Cockroach_UnitTests

[2017-04-03 17:58] #14407 closed

[2017-04-03 17:58] a-robinson commented on #14407
https://github.com/golang/go/issues/19305 again

[2017-04-03 17:58] RaduBerinde commented on #8057
This is the diff:
[code]

[2017-04-03 18:00] a-robinson commented on #14409
Looks like #14375 made this pretty flaky.

[2017-04-03 18:01] a-robinson commented on #14440
https://github.com/golang/go/issues/19305

[2017-04-03 18:01] #14440 closed

[2017-04-03 18:04] a-robinson commented on #14372
Same as #14015 although I'm leaving this open because we don't think that backwards time jumps should cause this behavior.

[2017-04-03 18:05] a-robinson commented on #14372
@mjibson

[2017-04-03 18:06] nvanbenschoten commented on #14563
I stressraced this file extensively without ever seeing an error and I still can't seem to repro locally. Perhaps I missed something with pipelining's effect on either distsql or proposer evaluated kv. Investigating now.

[2017-04-03 18:10] mjibson commented on #14372
Yes I agree. This has been happening enough that something is wrong here. I'd like to track down what's going on.

[2017-04-03 18:12] #14571 closed

[2017-04-03 18:14] mjibson opened #14575 "sql: investigate other decimal composite encodings"
See comments in #14528

It may be beneficial to store just the number of 0s truncated instead of the full decimal in composite decimal encodings. This would reduce the number of bytes used at expense of CPU time since storing the number of 0s would require doing a exp10 calculation in big.Int land and then a multiply to the decimal.Coeff. In addition, it would require a fairly large change to how

[2017-04-03 18:17] a-robinson commented on #14542
#14409

[2017-04-03 18:17] #14542 closed

[2017-04-03 18:17] a-robinson commented on #14535
#14409

[2017-04-03 18:17] #14535 closed

[2017-04-03 18:18] a-robinson commented on #14563
The timeout is a separate issue (#14409). I doubt it's related to the race.

[2017-04-03 18:18] a-robinson commented on #14474
Presumably the same race as in #14563, which @nvanbenschoten is actively investigating.

[2017-04-03 18:18] #14474 closed

[2017-04-03 18:20] RaduBerinde commented on #8057
Interesting, the timeout on TeamCity is not during cluster setup, but during the transactions themselves. With `repeat 5` the test passes in under 3 seconds locally; with `repeat 10` it times out.

[2017-04-03 18:23] a-robinson commented on #14381
Dupe of #14434

[2017-04-03 18:23] #14381 closed

[2017-04-03 18:39] #14556 closed

[2017-04-03 18:41] a-robinson opened #14576 "Test panics with no output"
There have been two test failures lately with no output at all other than the random seed (#14423, #14417). Are there any known remaining issues with log output in tests, @knz @jordanlewis?

[2017-04-03 18:41] a-robinson commented on #14423
Moving over to #14576 since there's no output to work with.

[2017-04-03 18:41] #14423 closed

[2017-04-03 18:41] a-robinson commented on #14417
Moving over to #14576 since there's no output to work with.

[2017-04-03 18:41] #14417 closed

[2017-04-03 18:42] a-robinson commented on #14562
Judging by the stack trace, this failed during `TestServer.Start`, waiting on the cluster's initial splits. Have there been any changes to that logic lately? This may also just be a timeout, or related to #14576

[2017-04-03 18:43] RaduBerinde commented on #14434
This is a serializability failure.
Nodes run `INSERT INTO T VALUES ((SELECT MAX(k+1) FROM T))` multiple times. At the end, `SELECT COUNT(k) - COUNT(DISTINCT k) from T` returns 1, so there is a duplicate value.

[2017-04-03 18:45] a-robinson commented on #14452
Thanks for the second repro, @jordanlewis. The fact that the stacks are similar gives me a little more confidence that it isn't just being caused by other tests being slow.

[2017-04-03 18:46] a-robinson commented on #14434
@bdarnell since this is with PropEvalKV

[2017-04-03 18:47] jordanlewis commented on #14576
Not that I'm aware of. For what it's worth, the round numbers of seconds in their runtimes all seem to indicate timeouts:

[code]
[code]

[2017-04-03 18:47] a-robinson commented on #14151
#14184

[2017-04-03 18:47] #14151 closed

[2017-04-03 18:47] a-robinson commented on #14539
#14184

[2017-04-03 18:47] #14539 closed

[2017-04-03 18:48] a-robinson commented on #14522
#14184

[2017-04-03 18:48] #14522 closed

[2017-04-03 18:48] a-robinson commented on #14431
#14184

[2017-04-03 18:48] #14431 closed

[2017-04-03 18:48] a-robinson commented on #14418
#14184

[2017-04-03 18:48] #14418 closed

[2017-04-03 18:48] a-robinson commented on #14410
#14184

[2017-04-03 18:48] #14410 closed

[2017-04-03 18:48] a-robinson commented on #14388
#14184

[2017-04-03 18:48] #14388 closed

[2017-04-03 18:48] a-robinson commented on #14458
#14184

[2017-04-03 18:48] #14458 closed

[2017-04-03 18:48] a-robinson commented on #14442
#14184

[2017-04-03 18:48] #14442 closed

[2017-04-03 18:48] a-robinson commented on #14357
#14184

[2017-04-03 18:48] #14357 closed

[2017-04-03 18:48] a-robinson commented on #14340
#14184

[2017-04-03 18:48] #14340 closed

[2017-04-03 18:48] a-robinson commented on #14337
#14184

[2017-04-03 18:48] #14337 closed

[2017-04-03 18:49] #14467 closed

[2017-04-03 18:50] a-robinson commented on #14492
#14434

[2017-04-03 18:50] #14492 closed

[2017-04-03 18:51] a-robinson commented on #14576
Yeah, so I wonder what's preventing the usual stack traces from getting printed?

[2017-04-03 18:53] jordanlewis commented on #14576
Oh, those two are from 6 days ago. I think 6 days ago we didn't have Raphael's fix for the suppressed stack traces. #14364

[2017-04-03 18:58] danhhz commented on #8330
@justinj thinks this may be the same issue as https://github.com/cockroachdb/cockroach/issues/6852, which is his starter project. so sounds like this will get done by 1.0

[2017-04-03 18:58] tamird commented on #14184
cc @jordanlewis how come the comment-instead-of-create logic isn't working on this one?

[2017-04-03 19:00] jordanlewis commented on #14184
Only the stress runs have that, because no one's ported the failed-on-master test detector to the program you wrote for the nightly stress runs.

[2017-04-03 19:00] a-robinson commented on #14576
Ah, thanks. That makes sense. We have a recent outburst of test timeouts then, taking #14562 and #14452 into account. I'll close this though, as at least the lack of output is understood.

[2017-04-03 19:00] #14576 closed

[2017-04-03 19:09] tamird commented on #14184
Ah, bummer.

[2017-04-03 19:24] andreimatei commented on #7881
This seems to still be an issue, as seen in #14560. We somehow still attempt to AutoCommit while `txnState.txn` is nil. So somehow we reset the KV transaction, but `txn.Exec` does not get the error that caused the reset.

[2017-04-03 19:35] cockroach-teamcity opened #14578 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#205503](https://teamcity.cockroachdb.com/viewLog.html?buildId=205503):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-03 19:36] justinj commented on #14184
Sure, I can look into it, are there any docs on teamcity stuff (like how to access that repro)?

[2017-04-03 19:39] tamird commented on #14184
Let's discuss in person.

On Mon, Apr 3, 2017 at 3:36 PM, Justin Jaffray <notifications@github.com>
wrote:

[2017-04-03 19:42] a-robinson commented on #14578
#14184

[2017-04-03 19:42] #14578 closed

[2017-04-03 20:05] jordanlewis commented on #14513
In Postgres, window functions are not allowed in having clauses. We should probably emulate this behavior.

[code]

[2017-04-03 20:28] #7963 closed

[2017-04-03 20:32] a-robinson commented on #14283
Fundamentally the same as #14184

[2017-04-03 20:32] #14283 closed

[2017-04-03 20:32] a-robinson commented on #14277
Fundamentally the same as #14184

[2017-04-03 20:32] #14277 closed

[2017-04-03 20:33] a-robinson commented on #14222
The docker failure is fundamentally the same as #14184, and the latter failure fits in with #14576

[2017-04-03 20:33] #14222 closed

[2017-04-03 20:34] a-robinson commented on #14207
This is also fundamentally the same as #14184. Closing to consolidate.

[2017-04-03 20:34] #14207 closed

[2017-04-03 20:34] a-robinson commented on #14087
Fundamentally the same as #14184

[2017-04-03 20:34] #14087 closed

[2017-04-03 20:45] #14345 closed

[2017-04-03 20:54] jordanlewis opened #14581 "sql: add prepared query/statement capability to logic test framework"
Prepared queries are a weak spot in our sql semantics testing story. Currently, we exercise them in `pgwire_test.go`, which is getting rather unwieldy due to the complexity of trying to fully exercise all of the prepared statement and query code paths.

It would be really great if the tests in that file could be written in the logic test framework instead.

I can think of a few approaches:

- Teac

[2017-04-03 20:54] bdarnell commented on #14434
Are there any more logs on teamcity or is this all there is? I'm trying to reproduce locally with `stress` but haven't had any luck so far (which is surprising since the three failures here didn't require `stress`)

[2017-04-03 20:56] vivekmenezes commented on #14548
https://github.com/cockroachdb/cockroach/pull/14368 gets rid of this kind of surprise by explicitly making this an error. It's in review.

@petermattis this used to work the way you describe but now is executed like a schema change. It's strictly not necessary, and we can consider adding back the lost behavior post 1.0

[2017-04-03 21:12] RaduBerinde commented on #8057
Progress stops when a split happens and PushTxn batches get stuck:
https://gist.github.com/RaduBerinde/457849089d10b10e0df728d12ab7aefa

[2017-04-03 21:15] cockroach-teamcity opened #14583 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#205726](https://teamcity.cockroachdb.com/viewLog.html?buildId=205726):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-03 21:18] a-robinson commented on #14460
Is there anything to be done here? It seems as though it was just due to propEvalKV.

[2017-04-03 21:23] a-robinson commented on #14583
#14184

[2017-04-03 21:23] #14583 closed

[2017-04-03 21:25] mrtracy opened #14584 "ui/support: Investigate the export of monitoring data from a remote cluster"
As the number of running clusters continues to increase, CockroachDB requires better tools to help diagnose customer issues that will inevitably crop up.

One possible solution is the ability for customers to export monitoring data from their cluster and send it to a remote location (i.e. Cockroach Labs) as part of the support process; at the remote location, the exported data can be imported to a

[2017-04-03 21:25] a-robinson commented on #14184
Thankfully we at least have the logs for these failures now. These appear to have the same underlying cause as #14286, which is that `cockroach quit` is racy. Sometimes it gets a TCP error even though it successfully told the server to shut down, which causes it to exit with a non-zero exit code.

#14286 was fixed by papering over `cockroach quit`'s race condition rather than dealing with it, but

[2017-04-03 21:32] bdarnell commented on #14460
Yeah, the writes in the command queue are probably just propEvalKV. We may need to do other investigations into what exactly happens with very large numbers of ranges (and splits in the meta2 span), but I guess that's a separate issue and we need to verify whether there's a problem at all without propEvalKV.

[2017-04-03 21:32] #14460 closed

[2017-04-03 21:38] bdarnell commented on #14581
It wouldn't give us as much control over type hints but we could also do this with the textual PREPARE and EXECUTE commands as seen in other databases (#7568).

[2017-04-03 21:42] bdarnell commented on #14584
We could have the server persist the contents of the prometheus endpoint periodically (we might not be able to collect high-resolution data this way, but that might be enough). And we might be able to use prometheus/grafana as the inspection interface for this data.

[2017-04-03 21:43] cockroach-teamcity opened #14585 "teamcity: failed tests on master: test (proposer evaluated kv)/TestParallel, test (proposer evaluated kv)/TestParallel/subquery_retry, test (proposer evaluated kv)/TestBackupRestoreChecksum"
The following tests appear to have failed:

[#205791](https://teamcity.cockroachdb.com/viewLog.html?buildId=205791):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-03 21:50] damienhollis opened #14586 "Self referential foreign key causes subsequent alters to fail"
**BUG REPORT**

Build Tag:    beta-20170330
Build Time:   2017/03/30 15:14:06
Distribution: CCL
Platform:     linux amd64
Go Version:   go1.8
C Compiler:   gcc 6.3.0
Build SHA-1:  f0f5783cc67f9cda16cedf1b88ca0691b0b65884
Build Type:   release

**Issue**

I was trying to create tables/foreign keys as follows:
`CREATE TABLE A (ID BIGSERIAL NOT NULL, SELF_ID INT, B_ID INT NOT NULL, PRIMARY KEY (ID));

[2017-04-03 21:52] tamird commented on #14500
I've added jemalloc to the instructions in #14406 and tested that it fixes this.

[code]

[2017-04-03 21:52] #14500 closed

[2017-04-03 21:52] #14513 closed

[2017-04-03 21:54] tamird commented on #14406
Getting close. Almost all tests are passing. Current list:
[code]

`TestDump*`, `TestServerStartClock`, `TestJobLogger`, `TestReplicaStats` all have something to do with the system clock (@bdarnell suggested that its resolution may be too low).

`TestStatusLocalLogs`, `TestGetLogReader`, `TestGC` are likely all https://github.com/cockroachdb/cockroach/issues/14546.

`TestEval`, `TestTimeConversion

[2017-04-03 22:02] RaduBerinde commented on #14563
Another run here, no timeout just the race: https://teamcity.cockroachdb.com/viewLog.html?buildId=205771&buildTypeId=Cockroach_UnitTests#testNameId-7959476364259931378

[2017-04-03 22:04] a-robinson commented on #14585
The `subquery_retry` failure is #14434, but the timeout in `TestBackupRestoreChecksum` looks new (albeit possibly not a backup-restore problem, but a `PushTxn` problem).

[2017-04-03 22:19] spencerkimball commented on #8297
@andreimatei could you determine whether this should have the 1.0 milestone? If not, please remove, fix, or re-assign.

[2017-04-03 22:22] andreimatei commented on #8297
Waiting for reproduction instruction from @fishcakez.
In any case, doesn't seem like a show-stopper. Removed the 1.0 label.

[2017-04-03 22:29] spencerkimball commented on #8876
@a-robinson, could you decide whether this should be 1.0? Remove that milestone if not.

[2017-04-03 22:31] spencerkimball commented on #8940
Not using this page, probably won't in the current form. Closing this for now.

[2017-04-03 22:31] #8940 closed

[2017-04-03 22:31] #8992 closed

[2017-04-03 22:32] spencerkimball commented on #9081
@tamird could you take a look at this? Might be trivially closable as you've done work on this since the issue was filed.

[2017-04-03 22:34] spencerkimball commented on #9139
Closing this for lack of sufficient follow up to qualify as a worthwhile fix.

[2017-04-03 22:34] #9139 closed

[2017-04-03 22:35] a-robinson commented on #14452
I've been unable to reproduce this with `stressrace` on an azworker. Unassigning until more test timeouts come up, as I'm not sure this is test-specific (see #14576).

[2017-04-03 22:36] spencerkimball commented on #9149
@vivekmenezes ping. Could you further elaborate on the current status of this issue and whether a fix is slated for 1.0?

[2017-04-03 22:41] spencerkimball commented on #14168
I'm closing this issue. Please reopen if you feel there is work that requires doing for 1.0, or re-open and change milestone.

[2017-04-03 22:41] #14168 closed

[2017-04-03 22:43] spencerkimball commented on #9162
@bdarnell is this important enough for 1.0? Looks like we're still using environment variables for the lightstep token. But that also appears to be the only env var secret we're specifying. I'm removing the 1.0 milestone because this doesn't feel like a pressing problem. If you want to add it back, please assign someone / provide a more concrete suggestion for work to be done.

[2017-04-03 22:46] spencerkimball commented on #9178
This is not reproducible.

[2017-04-03 22:46] #9178 closed

[2017-04-03 22:47] a-robinson commented on #8876
We now print the environment variables used, so at least it'll be somewhat clear to users why they're getting the error. We also now have easily discoverable configurations for kubernetes so that fewer people will be trying to craft their own.

I'd be comfortable closing this due to the above, but it'd be nice to just remove the environment variable aliases for our flags. That would align pretty w

[2017-04-03 22:50] a-robinson commented on #9189
`COCKROACH_PORT` is no longer documented in `cockroach start --help`, but it still gets used when setting up the server. I assume that's not intentional, @mberhault?

[2017-04-03 22:51] spencerkimball commented on #9189
@mberhault could you decide whether anything needs to be done here for 1.0?

[2017-04-03 22:52] spencerkimball commented on #9264
@BramGruneir has this already been addressed? Please either close, change the milestone, or fix it!

[2017-04-03 22:53] spencerkimball commented on #9271
Closed by #14475

[2017-04-03 22:53] #9271 closed

[2017-04-03 22:55] spencerkimball commented on #9281
@mberhault this appears fixed. I'm closing. Reopen if you think there's remaining work.

[2017-04-03 22:55] #9281 closed

[2017-04-03 22:57] spencerkimball commented on #9289
@mberhault ping. Especially with regards to the 1.0 milestone.

[2017-04-03 23:00] spencerkimball commented on #9316
@jseldess I know minimum config is something planned for 1.0 documentation. I'm closing this particular issue in favor of https://github.com/cockroachdb/docs/issues/965

[2017-04-03 23:00] #9316 closed

[2017-04-03 23:03] spencerkimball commented on #9319
Addressed in #9197

[2017-04-03 23:03] #9319 closed

[2017-04-03 23:05] spencerkimball commented on #9326
I saw a TODO in the code in `prometheus_exporter.go` with your name on it. But this doesn't actually seem to be a problem we have in practice. This feels like a solution looking for a problem. Closing for the time being as we don't need an issue to track this until it becomes an actual problem.

[2017-04-03 23:05] #9326 closed

[2017-04-03 23:09] spencerkimball commented on #9433
Interleaved tables will only be able to display usage for the entire hierarchy rooted at the top-level table. What are we currently doing?

Also, should this be 1.0?
+cc @danhhz

[2017-04-03 23:11] spencerkimball commented on #9447
I'm closing this because the consensus has remained we do not automagically create indexes.

Also: https://github.com/cockroachdb/docs/pull/901

[2017-04-03 23:11] #9447 closed

[2017-04-03 23:15] RaduBerinde commented on #14563
I looked at adding `GORACE=halt_on_error=1`. While indeed it kills the test on the first race, the deferred `TestLogScope.Close()` still runs and doesn't figure out that we have failed (it checks `t.Failed()` and whether we are under a gopanic which is not the case..

Maybe we should just disable the test log file deletion altogether.

[2017-04-03 23:17] spencerkimball opened #14589 "Disable trace logging by default"
This will improve performance and address security-related concerns.

See #9519, #10010

[2017-04-03 23:17] spencerkimball commented on #10010
@petermattis I'm closing this issue in favor of #14589

[2017-04-03 23:17] #10010 closed

[2017-04-03 23:18] spencerkimball commented on #9519
PR #13366 helps with this, though it sounds like we should disable the tracing by default. See #14589.

[2017-04-03 23:18] #9519 closed

[2017-04-03 23:21] dt commented on #9162
A Settings table might be one way to manage tokens/keys where we want them
per-cluster rather than per-node (e.g. in snowball tracing).
On Mon, Apr 3, 2017 at 6:43 PM Spencer Kimball <notifications@github.com>
wrote:

[2017-04-03 23:21] spencerkimball commented on #5252
Closing for age and lack of actionable or pressing next steps.

[2017-04-03 23:21] #5252 closed

[2017-04-03 23:24] spencerkimball commented on #7503
Closing as merely speculative.

[2017-04-03 23:24] #7503 closed

[2017-04-03 23:29] tamird commented on #14406
Measuring clock resolution empirically on Windows and macOS:
[code]
On macOS:
[code]
on Windows:
[code]
I'm not yet sure why Windows' resolution is so bad, but it seems a fact that it is bad.

[2017-04-03 23:29] spencerkimball commented on #627
Closing as this is a solution hatched before we've observed the problem. I for one am hoping that instead of range-wide `DeleteRange` calls, we smartly move dropped tables into a trash system database and then when dropping from the system database, we use `ClearRange`. The larger point is I want to close these conceptual solution issues that aren't anchored to a pressing concern based on real-wor

[2017-04-03 23:29] #627 closed

[2017-04-03 23:31] spencerkimball commented on #9541
@asubiotto ping. Is this work you're planning to tackle this month? If not, please change the milestone.

[2017-04-03 23:31] spencerkimball commented on #9552
This has been addressed.

[2017-04-03 23:31] #9552 closed

[2017-04-03 23:34] spencerkimball commented on #9555
At the very least we should only retry the split after a backoff period for a range that has this problem instead of busily retrying. This is a real problem we should probably fix for 1.0. I'm assigning to @petermattis. Re-assign or remove 1.0 milestone.

[2017-04-03 23:38] spencerkimball commented on #9556
@petermattis care to comment here? You are the one who is generally against setting limitations, even if they're geared towards avoiding poor performance.

[2017-04-03 23:38] spencerkimball commented on #9563
ping @andreimatei. Is this 1.0?

[2017-04-03 23:41] spencerkimball commented on #9619
@tamird, I'm closing this due to my failure to see any actionable recommendation. Where is the practical problem we're experiencing? Re-open, comment, assign, remove 1.0 milestone, etc. if you disagree.

[2017-04-03 23:41] #9619 closed

[2017-04-03 23:42] dt commented on #14521
As of https://github.com/cockroachdb/cockroach/pull/14574, semantics mirror FK and interleaved. We know there is some future work here to improve support for restoring less-than-everything, but that will come later.

[2017-04-03 23:42] #14521 closed

[2017-04-03 23:43] spencerkimball commented on #9627
There are four assignees and still this issue lingers!

Could one of the four guilty parties either remove the 1.0 milestone or fix this in the following month?

[2017-04-03 23:46] spencerkimball commented on #9658
Closing for lack of follow up. @a-robinson if you believe there is still a real bug in gossip, could you reopen, comment, and assign to me?

[2017-04-03 23:47] spencerkimball commented on #9727
@petermattis please reopen if necessary. I don't believe this is still a problem.

[2017-04-03 23:47] #9727 closed

[2017-04-03 23:48] spencerkimball commented on #9755
@mjibson ping

[2017-04-03 23:49] spencerkimball commented on #9758
ping!

[2017-04-03 23:49] andreimatei commented on #9563
I have a WIP to fix this stuff, but it's not immediate.

[2017-04-03 23:50] spencerkimball commented on #9759
ping

[2017-04-03 23:50] dt commented on #9627
I think we concluded it'd break pg compat too much.

The semantics are confusing, but people are used to it and may expect it, so we don't have much choice to implement it, and then discourage using non-zero session offsets (which is where it matters).

[2017-04-03 23:50] #9627 closed

[2017-04-03 23:51] spencerkimball commented on #9776
Closed for lack of activity.

[2017-04-03 23:51] #9776 closed

[2017-04-03 23:53] spencerkimball commented on #9795
No longer applicable. Closing. @jordanlewis if I'm missing something, please reopen.

[2017-04-03 23:53] #9795 closed

[2017-04-03 23:53] petermattis commented on #14406
Your code in https://github.com/cockroachdb/cockroach/issues/14406#issuecomment-291315535 isn't measuring clock resolution, but measuring the resolution of `time.Sleep`. I recall a time in the distant past when Linux was unable to accurately sleep for a duration less than 20ms. Perhaps Windows has something similar going on. Or perhaps the implementation of `time.Sleep` on Windows is using a mecha

[2017-04-03 23:56] dt commented on #9759
This one sucks -- we're using twice the space to store timestamps (and durations), but the migration story is bad too. We probably close this and just waste the bytes? /cc @danhhz @knz

[2017-04-03 23:57] petermattis commented on #9556
I'm fine with setting a limit for the length of `STRING` and `BYTES` columns. Supporting very large values in such columns is significant effort.

[2017-04-03 23:58] cockroach-teamcity opened #14591 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestAbortedTxnOnlyRetriedOnce"
The following tests appear to have failed:

[#205929](https://teamcity.cockroachdb.com/viewLog.html?buildId=205929):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-03 23:58] petermattis commented on #14589
We already have env vars to do this, just need to flip the defaults of `COCKROACH_DISABLE_TRACING` and `COCKROACH_DISABLE_SQL_EVENT_LOG`.

[2017-04-03 23:59] spencerkimball commented on #9799
I feel like I'm missing something here. A 1PC transaction consisting of `BeginTransaction, DelRange, EndTransaction` will not create intents. I'm closing this issue. Please reopen with a comment further explaining the problem if I have missed something. Also, make a judgement call about the 1.0 milestone if you reopen this.

[2017-04-04 00:01] dt commented on #9758
unless the changes for collated string have made subtyping any easier, I think we concluded the combinatorial blow up in operators and builtins made duplicate interval types too expensive to maintain, so I'm not sure this is practical.

[2017-04-04 00:02] spencerkimball commented on #9878
Fixed by #13501

[2017-04-04 00:02] #9878 closed

[2017-04-04 00:03] spencerkimball commented on #9886
@mjibson I'm removing the 1.0 milestone.

[2017-04-04 00:05] #9945 closed

[2017-04-04 00:06] spencerkimball commented on #9945
@jojo05 we have talked about a more sophisticated BLOB storage option, but that's unlikely to happen in 2017.

[2017-04-04 00:07] #10000 closed

[2017-04-04 00:11] spencerkimball commented on #10095
Duplicate of #9555

[2017-04-04 00:11] #10095 closed

[2017-04-04 00:13] spencerkimball commented on #10122
@vivekmenezes re-assign this if necessary so it's on someone's plate for 1.0.

[2017-04-04 00:17] spencerkimball commented on #10219
@mjibson I'm closing this as the line referenced in the linked code review is no longer current in the code. Please reopen and update as necessary.

[2017-04-04 00:17] #10219 closed

[2017-04-04 00:19] spencerkimball commented on #10264
ping. @asubiotto could you update this issue? Should it remain 1.0 milestone?

[2017-04-04 00:42] tamird commented on #14406
Good point.

Another go:
[code]
Windows:
[code]
macOS:
[code]

[2017-04-04 00:51] fishcakez commented on #8297
Sorry I don't have this available, I think it was to do whether a transaction got rolled back on commit after trying and failing to create a savepoint.

[2017-04-04 01:12] bdarnell commented on #14406
Windows has a few different timers: a [low-resolution one that returns wall time](https://www.python.org/dev/peps/pep-0418/#windows-timegettime) and two [high-resolution timers](https://www.python.org/dev/peps/pep-0418/#windows-queryperformancecounter) which are monotonic and relative to an unspecified base. I think go currently always uses the low-resolution wall-time clock, including for things

[2017-04-04 01:24] bdarnell commented on #9162
Yeah, since it's just lightstep it's not critical for 1.0.

[2017-04-04 01:29] knz commented on #9759
Durations are out of scope because there's not much to compress there. At best we could reduce days and months to use int32 instead of int64, but the rest can't change.

For timestamps I have no opinion other than highlighting we use variable length encoding on disk. Changing the data structure will mainly change memory consumption and perhaps computing speed. I wouldn't be concerned with migratio

[2017-04-04 01:31] knz commented on #9758
I've done some work with intervals recently and it doesn't make sense to use a single field for intervals, because the way time arithmetic works (there's not always 24 hours to a day or 30 days to a month). I recommend closing this issue.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-04 01:32] #9758 closed

[2017-04-04 01:33] tamird commented on #14406
Yeah, so in Go 1.9 the monotonic part is populated by the interrupt timer. Go reads values straight out of memory: https://github.com/golang/go/blob/go1.8/src/runtime/os_windows.go#L581:L624

Looks like [more precise time-retrieval functions](https://msdn.microsoft.com/en-us/library/windows/desktop/dn553408(v=vs.85).aspx) were added in Windows 8:

But Go uses neither of these.

[2017-04-04 01:38] bdarnell commented on #9799
The issue is not intents created by the DelRange, it's about how that DelRange resolves intents that already exist. A 1PC DelRange will always try to resolve all intents between its start and end key, even if it has a limit that ensures it would otherwise only touch a small fraction of that span.

This is still an open issue, because it hurts the performance of dropping tables (either we use 1PC t

[2017-04-04 01:38] nvanbenschoten commented on #14563
I've stressed the test for 2 hours in various configurations locally and still haven't had any luck.

Is there a reason we don't just pass the `-show-logs` flag for all CI tests?

[2017-04-04 01:51] jseldess commented on #9178
I can't reproduce this anymore either.

[2017-04-04 01:59] vivekmenezes commented on #10122
taken out of 1.0 milestone

[2017-04-04 02:00] timchunght opened #14592 "sql: WITH temp_data AS and recursion alternatives"
I believe as pointed out in an issue about table expressions that `WITH data AS (select...)` syntax is not supported yet and not to mention the postgres `WITH recursive syntax`. We are really trying to replace postgres with cockroach but would like to know what the timeline is for recursion. Or if it isn't in the future 1-3months, what will be an alternative to achieve essentially the following in

[2017-04-04 02:00] bdarnell commented on #9264
We have the single range ID version of this now. We need something else (like #13626) to get interesting/problematic ranges without loading everything at once, but not for 1.0.

[2017-04-04 02:04] timchunght commented on #14548
@benesch Thanks and I have looked at them before filling this issue. It appears that the transaction might have slight unexpected behaviours. Nonetheless, we were able to do a 'fix' by just splitting them into two subsequent transactions. However, we also sacrificed on the transaction guarantee (though not a big deal for this case, it could potentially be useful given a lot of existing PG tools im

[2017-04-04 02:17] vivekmenezes commented on #14548
@timchunght thanks for pointing that out. We'll keep this issue open so that it gets fixed.

[2017-04-04 02:19] nvanbenschoten commented on #14527
This issue here is that our untyped literal handling is a little inconsistent for string literals. We made the decision a while ago to treat string literals as resolved string types during overload resolution. This decision was made because it simplified certain logic, avoided ambiguities in a few cases, and allowed a certain class of errors to be more specific.

I have a branch from a while ago t

[2017-04-04 02:55] tamird commented on #14406
Incorporating some windows-specific code:
[code]
We get a nicer result:
[code]
So...we may have to build with a custom Go runtime for Windows?

[2017-04-04 03:10] bdarnell commented on #14406
Do we care about sub-millisecond timer resolution outside of a few tests?

[2017-04-04 03:55] #5429 closed

[2017-04-04 06:23] cockroach-teamcity commented on #14059
SHA: https://github.com/cockroachdb/cockroach/commits/274f7e5a53c32880ebec3402ec35de69b9be186e

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=206115&tab=buildLog

[2017-04-04 06:33] 0xbaadf00d commented on #8719
Yeah, like your are compatible with PostgreSQL driver, it could be nice to support all type that PostgreSQL support, including UUID.

Sincerely

[2017-04-04 06:46] 0xbaadf00d opened #14595 "Support UUID natively"
Actually, in our company, we are using PostgreSQL, but the "replication / clustering" part of PostgreSQL is verry hard to maintain and configure. Cockroach seems a really good alternative but UUID type is missing and we are massively using UUID for public URL and in the API.

As you are compatible with PostgreSQL driver, it could be nice to support natively all types that PostgreSQL support, inclu

[2017-04-04 07:24] jojo05 commented on #9945
thanks

[2017-04-04 08:25] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/274f7e5a53c32880ebec3402ec35de69b9be186e

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=206369&tab=buildLog

[2017-04-04 08:58] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/274f7e5a53c32880ebec3402ec35de69b9be186e

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=206475&tab=buildLog

[2017-04-04 09:38] cockroach-teamcity opened #14596 "sql: TestReleaseAcquireByNameDeadlock failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/274f7e5a53c32880ebec3402ec35de69b9be186e

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=206685&tab=buildLog

[code]

[2017-04-04 10:27] makarchuk commented on #13948
This should be closed since #14105  is merged

[2017-04-04 10:38] #13948 closed

[2017-04-04 12:55] mberhault commented on #9289
1.0 is definitely the right milestone if we're going to rename a bunch of metrics.
This is mostly a tedious process where each metric needs to be examined for its true meaning, then appropriately named. I'll try and draft some simple guidelines for metrics though, that's kind of the first step.

[2017-04-04 13:20] mberhault commented on #8953
This is the `--insecure` magic and flag inter-connectedness.
I believe we've had this argument a number of times, but nothing was ever resolved.

I'd be happy to re-open that can of worms and argue for flags whose default values don't depend on other flags.

[2017-04-04 13:32] petermattis commented on #12363
I have no reason to believe this has been fixed, but without a reproducible crash it will be very hard to fix. Removing the 1.0 milestone.

[2017-04-04 13:37] #14280 closed

[2017-04-04 13:38] petermattis commented on #14592
Common Table Expressions are planned for the future, but we haven't given them a concrete placement on the roadmap. It is almost certain that they won't be supported in the next 1-3 months in a stable release as we're planning for a 6 month cadence for stable releases. The alternative to using a CTE (i.e. `WITH` or `WITH RECURSIVE`) is to perform the iteration/recursion on the client side in your

[2017-04-04 13:38] mberhault commented on #12473
I don't think we've seen this since switching to the proper metrics (we were showing node.exec instead of sql.exec)

[2017-04-04 13:38] #12473 closed

[2017-04-04 13:47] jseldess opened #14598 "ui: total client connections with breakdown per node"
**Feature request:**

Currently, it's possible to see:
- Client connections across all nodes using **Graph: Cluster > Dashboard: SQL > SQL Connections**
   ![screen shot 2017-04-04 at 9 38 46 am](https://cloud.githubusercontent.com/assets/15893490/24659435/a7bd6f50-191a-11e7-9d07-03377ed1fc81.png)
- Client connections per node using **Graph: node address > Dashboard: SQL > SQL Connections**
   ![s

[2017-04-04 13:47] jseldess commented on #14598
@kuanluo, mentioned this to you in passing a few weeks back. Finally opening the issue.

[2017-04-04 13:51] cockroach-teamcity opened #14599 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/pipelining"
The following tests appear to have failed:

[#206800](https://teamcity.cockroachdb.com/viewLog.html?buildId=206800):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-04 13:52] a-robinson commented on #14599
If only #14590 had been merged :(

Dupe of #14563

[2017-04-04 13:52] #14599 closed

[2017-04-04 13:55] spencerkimball commented on #8953
What I'd prefer you do is decide whether you're going to fix this for 1.0.

[2017-04-04 13:58] petermattis commented on #14053
The "abnormal" machinery for recomputing the stats from scratch already exists in `splitTrigger`. The problem seems to be the inability to clear the `ContainsEstimates` field using the normal machinery. Seems like what we need is a new `MVCCStatus.ClearContainsEstimates` field that is set in `splitTrigger` and a small update to `MVCCStats.Add` to process that field. Need to be a bit careful here a

[2017-04-04 13:59] a-robinson commented on #14591
Another in the chain of recent test timeouts (#14576). Most, but not all of which have been run via `testrace`, and many of which have had to do with transaction retry logic.

[2017-04-04 14:11] mberhault commented on #8953
Ok, let's fix this for 1.0.

Here's a quick proposal. I'm happy fleshing it out some more, but let's hear objections first.

Behavior summary:
* flags are no longer interconnected: changing one flag does not alter the default value of another
* `--insecure` is **always** required for non-SSL connections, both client and server-side.
* starting a single-node cockroach cluster is now: `cockroach sta

[2017-04-04 14:16] asubiotto commented on #9541
This was resolved in https://github.com/cockroachdb/cockroach/pull/13274. Forgot to link the issue.

[2017-04-04 14:16] #9541 closed

[2017-04-04 14:17] mberhault commented on #8953
I seem to recall @petermattis and @bdarnell having strong opinions about this.

[2017-04-04 14:19] danhhz commented on #9433
I think all data is counted in whatever is at the top of its interleave hierarchy. So it actually sounds pretty close to what you describe, just with 0s for the interleave descendants instead of something useful (like a pointer to the root)

[2017-04-04 14:27] asubiotto commented on #10264
There are more important things to tackle right now. Moved to after and unassigned.

[2017-04-04 14:31] cuongdo commented on #14548
Is this fixed now that you've merged #14368?

[2017-04-04 14:34] danhhz commented on #14585
It's strange that the context gets cancelled in the first place. This is more or less immediately after the test starts, but I don't see any logs of an error that would have cancelled the context:

[code]

I don't see how this would be the cause, but there's also a goroutine hanging around trying to update the job progress to failed 3m later when the test times out

[code]

[2017-04-04 14:34] asubiotto commented on #9533
`cerulean` crashed with the same issue. This is using go 1.8.

[2017-04-04 14:37] jordanlewis commented on #14592
#7029 tracks the general common table expression implementation.

[2017-04-04 14:46] cuongdo commented on #13880
Update: this hasn't happened in > 2 weeks

Do we have any reason to suspect that this has been fixed?

[2017-04-04 14:46] jordanlewis commented on #14563
The reason we don't just pass `-show-logs` is that the test log would get too large to be comfortably displayed in TeamCity's UI.

[2017-04-04 14:48] bdarnell commented on #10130
Do we need those fields? The goal here is to get a reasonable amount of cross-platform functionality, not to support all platform-specific features.

That test failure looks like it's just a bug in libc++, right?

[2017-04-04 14:49] tamird commented on #9533
Seems possibly related to https://github.com/golang/go/issues/16171

[2017-04-04 14:54] spencerkimball commented on #9433
@mrtracy could we add this to the TODO list for ui? Sounds like a version 1.0 fix would be to mark interleaved tables as "Interleaved with <root table>" and link to the root table.

[2017-04-04 14:59] RaduBerinde commented on #14563
But couldn't TeamCity take care of splitting the output logs into pieces (and only show the piece for one test at a time), rather than relying on the test to redirect?

[2017-04-04 14:59] cuongdo commented on #13546
@jordanlewis does this need to be fixed for 1.0?

[2017-04-04 15:00] jordanlewis commented on #13546
No, I don't think so.

[2017-04-04 15:02] jordanlewis commented on #14563
I suppose it could, but right now it doesn't.

Why don't we do an experiment? Let's enable `-show-logs` on one of the CI tests, like testrace PEKV since it's giving us grief right now, and see whether we like working with the logs that way.

[2017-04-04 15:02] bdarnell commented on #8953
I like this proposal. The requirement to explicitly specify `--insecure` or use certs is much less onerous with a default for `--certs-dir`.

[2017-04-04 15:05] petermattis commented on #8953
So `./cockroach start` and `./cockroach sql` will no longer "just work" from my dev environment?

[2017-04-04 15:07] mberhault commented on #8953
that's the proposal, yes.

[2017-04-04 15:13] RaduBerinde commented on #14097
[code]
Dup of #14101, which was fixed.

[2017-04-04 15:13] #14097 closed

[2017-04-04 15:23] cuongdo commented on #10320
@knz would you still advocate for fixing this in 1.0?

[2017-04-04 15:23] sploiselle commented on #8953
From a usability perspective, I'd suggest making `cockroach start` and `cockroach start --insecure` behave in the same way; i.e. `cockroach start` with no flags infers the `--insecure` flag.

The primary impact of this is the default hostname that Cockroach listens on (as far as I remember). I can't recall what the impact of this issue was, but I believe I had misunderstood which interfaces Cockro

[2017-04-04 15:29] mberhault commented on #8953
The current behavior listens on `localhost` when nothing is specified, and `all interfaces` when the user specifically says `--insecure` meaning that yes, they really want to run insecure and serve traffic externally.

Removing flag interdependence and having `--insecure` on by default would mean either always listening to `localhost` (which is annoying if running in secure mode), or always listen

[2017-04-04 15:38] bdarnell commented on #10130
Do we, if some platforms can't even express such a thing? It looks like other databases vary in whether they support this.

OK, looks like we should drop the idea of using `std::get_time` for now until the bugs have been worked out (unless we can embed a specific version we'd be comfortable with).

[2017-04-04 15:40] tamird commented on #10130
Some platforms can't express it using `tm`, but that doesn't mean they can't express it in general.

Sounds like you did some research, can you elaborate?

[2017-04-04 15:45] benesch commented on #14548
Still hangs forever for me on the latest master. (Gist: https://gist.github.com/benesch/cce1a20c0981bc0d45c3a47165c47834)

[2017-04-04 15:52] bdarnell commented on #10130
MySQL's strptime-equivalent does not appear to support time zones. SQLite has strftime but doesn't offer strptime at all (so timestamps can only be input in SQL-standard format).

[2017-04-04 15:57] bdarnell commented on #8953
Once you set up certs in `~/.cockroach-certs`, the commands will "just work" in the future and then you'll have security too.

[2017-04-04 16:03] sploiselle commented on #8953
Is there a technical apprehension to implying the `--insecure` flag when no other flags are included? I feel like net-net, inferring the `--insecure` flag  isn't meaningfully different from a technical perspective from requiring it, however, it does provide superior usability.

If there's a concern about expected behavior, it could trip an additional warning like:

[2017-04-04 16:15] petermattis commented on #8953
We'd need to change the default URLs for the various load-generators too: `kv`, `ycsb`, `photos`, `block_writer`. Currently they all expect insecure by default.

[2017-04-04 16:35] #14560 closed

[2017-04-04 16:44] eisenstatdavid opened #14601 "sql: failure to delete from index with storing clause"
The bug described in #14533 has wider scope than just collated strings, so I'm making a new bug with a reduced test case. Run

[code]

and observe that the `SELECT` statements give different results despite the fact that the only intervening mutation is dropping the index.

[code]

[2017-04-04 16:45] eisenstatdavid commented on #14533
Subsumed by #14601.

[2017-04-04 16:45] petermattis opened #14602 "stability: revisit periodic goroutine dumps"
The `/debug/pprof/goroutine?debug=2` endpoint stops all goroutines while generating the stack traces. When there are thousands or 10s of thousands of goroutines, this can be a significant pause. On test clusters, we generate a goroutine dump every 30s. Below shows the CPU usage on a node with O(15K) goroutines:

<img width="1406" alt="screen shot 2017-04-04 at 12 32 26 pm" src="https://cloud.githu

[2017-04-04 16:49] bdarnell commented on #14595
Why is this a separate issue from #8719? It looks like you're asking for exactly the same thing.

There are two ways you could store a UUID: either as 16-byte array or a 36-character hex string. The hex string is indeed a bit slower, but the 16-byte array in a `BYTES` column will perform just as well as a native UUID type would.

[2017-04-04 16:52] vivekmenezes commented on #14548
confirmed that this hang still exists. Working on a fix.

On Tue, Apr 4, 2017 at 11:45 AM Nikhil Benesch <notifications@github.com>
wrote:

[2017-04-04 16:58] petermattis commented on #14602
On a node with 14,820 goroutines, it takes 9.5s to `curl -k -o goroutine.tmp 'https://localhost:8080/debug/pprof/goroutine?debug=2'`. The bulk of that time is spent generating the goroutine dump with all goroutines stopped. Ouch.

[2017-04-04 16:59] 0xbaadf00d commented on #14595
By using JDBC PostgreSQL (Java 8), I have to pass an UUID or a byte[] where I build my query with an ORM (eg : Ebean ORM) ?

[2017-04-04 17:02] bdarnell commented on #14595
Passing a `byte[]` would be the best for performance, but you could also pass it as a string and use the `to_uuid()` function in your query.

[2017-04-04 17:04] bdarnell commented on #14434
OK, I was just being dense and forgot about [this line](https://github.com/cockroachdb/cockroach/blob/0577eeb4f84d835539e2a894cc6b88f0c92bffe4/pkg/sql/parallel_test.go#L239). Now I can reproduce it in under a minute.

[2017-04-04 17:05] eisenstatdavid commented on #14533
On second thought, I'll reopen this to track the test changes.

[2017-04-04 17:10] mberhault commented on #14602
ok, that's rather bad. I don't think we've been using those too much recently anyway. I'll start turning some of those off.

[2017-04-04 17:16] bdarnell commented on #14602
The `runtime.Stack()` API lets you pass in a limited-size buffer. The [pprof goroutine dumper](https://github.com/golang/go/blob/9b15c13dc567d92c6ac628c762d42b4ae2c9469f/src/runtime/pprof/pprof.go#L599-L618) will use up to 64MB for this. Maybe we should implement our own goroutine dumper that has a smaller limit so we can put a smaller bound on how much overhead this will have. (I'd also be OK wit

[2017-04-04 17:17] jordanlewis commented on #14554
@tlvenn, could you please provide the full query that's being issued by Postgrex here? I've looked at the [code that generates it](https://github.com/elixir-ecto/postgrex/blob/89ff5aeeede3662a9864b725b941def6ad15e31e/lib/postgrex/types.ex#L34), but I'm afraid I'm not fluent enough in Elixir to be able to construct the query by staring at the code.

[2017-04-04 17:18] petermattis commented on #13880
I don't know what was causing the problem originally, so difficult to say. It is certainly possible that something was fixed.

[2017-04-04 17:20] petermattis commented on #14602
Remember that `get_profile.sh` also deletes old profiles. So disabling this should leave the deletion of place, but not gather new goroutine dumps.

[2017-04-04 17:20] a-robinson commented on #14409
Also seen in https://teamcity.cockroachdb.com/viewLog.html?buildId=206972&buildTypeId=Cockroach_UnitTests

[2017-04-04 17:38] #14473 closed

[2017-04-04 17:50] cockroach-teamcity opened #14605 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestConcurrentUpsertWithSnapshotIsolation"
The following tests appear to have failed:

[#207040](https://teamcity.cockroachdb.com/viewLog.html?buildId=207040):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-04 17:50] r7ar7a opened #14606 "sql: aggregate function alongside window clause not recognized by GROUP BY semantic check"
**BUG REPORT**

Please supply the header (i.e. the first few lines) of your most recent
[code]

Please describe the issue you observed:

- What did you do?
[code]
the only difference is:
./cockroach.sh sql -e 'SELECT &nbsp;&nbsp;&nbsp;&nbsp; **2** &nbsp;&nbsp;&nbsp; * (ROW_NUMBER() OVER (ORDER BY MAX(i))) FROM ...'
./cockroach.sh sql -e 'SELECT **MAX(i)** * (ROW_NUMBER() OVER (ORDER BY MAX(i))) FR

[2017-04-04 18:05] mberhault opened #14608 "cli: cleanup old profiles"
We currently allow periodic profiles to be dumped but don't clean up after ourselves, causing lots of files to be written and potentially filling up the disk.
We should delete old profiles after either some amount of time, or some number of profiles.

[2017-04-04 18:05] #8674 closed

[2017-04-04 18:17] timchunght commented on #14592
@petermattis Certainly, recursion is not easy to implement. We are trying to avoid having to do recursion, but might have to now. Hopefully these CTEs can be added soon. Thanks for clarifying.

[2017-04-04 18:19] cockroach-teamcity opened #14610 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#207124](https://teamcity.cockroachdb.com/viewLog.html?buildId=207124):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-04 18:21] jordanlewis commented on #14610
This seems like a 503 from yarn's website.

[code]

[2017-04-04 18:24] dt commented on #14610
Can we vendor our ui deps so an external service can't break out builds?

[2017-04-04 18:26] benesch commented on #14610
Hmm, there's also a bug in the UI Makefile that's my fault. Why didn't the build fail after `yarn install` failed, though? Odd.

[2017-04-04 18:31] benesch commented on #14610
Actually, vendoring our `node_modules` folder the same way we vendor our godeps would solve quite a bit of `yarn.installed` pain at the cost of making it harder to change Node dependencies. Thoughts, @tamird?

[2017-04-04 18:32] #6850 closed

[2017-04-04 18:35] tamird commented on #14610
We vendor our Go dependencies because Go doesn't have a sane versioning story. Note that yarn has an offline mode, where it tries to service all dependencies from the cache, that just happens not to work because our TC builders don't reliably cache anything. :-1: on vendoring `node_modules` as a way of working around this lack of cache.

[2017-04-04 18:59] jordanlewis commented on #14554
The underlying issue here is the following query:

    SELECT ... WHERE t.oid NOT IN
      (SELECT (ARRAY[integer, literals, ...])[i]
       FROM generate_series(1, length_of_above_array))

The reason it fails to type properly is that our type system currently does not correctly propagate desired types into subqueries. If that was done correctly, the query would type properly, as the type system k

[2017-04-04 19:03] benesch commented on #14585
This reproduces on 9721efb188f36ac03d61139d61a7d8093ddf56b0, which predates my progress changes, so I don't think this is related to progress tracking.

[2017-04-04 19:04] a-robinson commented on #8057
Ouch. It seems pretty likely that this is related to the test failures in #14409 that were seemingly introduced by #14375. @spencerkimball do you have bandwidth for this or do you need backup?

[2017-04-04 19:05] a-robinson commented on #8057
Except that now that I look at it, #14375 hardly touched non-test code. Looking closer.

[2017-04-04 19:06] eisenstatdavid commented on #14601
The impact of this bug is that deleting from a table that has an index with a `STORING` clause can break the fundamental relationship of index to table. Non-unique indexes are always affected; unique indexes are affected only if the indexed columns contain `NULL`.

The root cause is that the planner doesn't mark the `STORING` columns as necessary for the deletion, hence they encode incorrectly as

[2017-04-04 19:07] spencerkimball commented on #8057
I would like to look into this, but #14375 is very unlikely the culprit.

[2017-04-04 19:10] eisenstatdavid commented on #14601
The formats for unique indexes actually have to be
[code]
We only lose the double encoding for stored columns (unless we go whole hog and break backward compatibility for non-storing, unique secondary indexes too).

[2017-04-04 19:13] eisenstatdavid commented on #14601
cc @RaduBerinde @bdarnell

[2017-04-04 19:19] petermattis commented on #14601
Seems like the current code is just broken with respect to `STORING`. So I'm fine with a backwards incompatible change.

Related, in discussion today the idea of a SQL fsck tool came up again.

[2017-04-04 19:24] bdarnell commented on #14601
We've promised backwards-compatibility at the level of the on-disk format ever since we went into beta. We've had some small violations of that (e.g. for collated indexes, but that feature was only a week old), but we're well past the time when we can freely make breaking changes. Maybe this is still OK (STORING is a relatively rarely-used feature), but we should be careful about it and make sure

[2017-04-04 19:32] RaduBerinde commented on #14601
The right thing to do in principle is indeed to always put the STORING columns in the value. The way things are right now, I don't see a reason to use STORING at all (vs. putting all the columns in the index).

[2017-04-04 19:35] RaduBerinde commented on #14533
The tests could be reworked to not use `STORING`, and more test cases can be added with `STORING` later.

[2017-04-04 19:43] vivekmenezes commented on #14548
This bug only happens when the INSERT statement used in the transaction uses placeholder variables. A workaround is to not use placeholder variables when running an INSERT following a CREATE TABLE in the same transaction. I'm going to fix this but the workaround might work for you in the interim.

[2017-04-04 19:45] petermattis commented on #14601
Unless I'm reading @eisenstatdavid's message wrong, if you're using `STORING` right now you're probably encountering badness if you've deleted from the associated index. I agree about needing to be careful here.

Range deletions are not much slower than point deletions. This may be fine.

@eisenstatdavid I just re-read your message and I'm mildly confused about what the current behavior is with re

[2017-04-04 19:50] eisenstatdavid commented on #14601
The current behavior is that stored columns, and primary key columns not in the secondary key ("extra columns") are encoded together. For non-unique indexes, this means the KV key. For unique indexes, this means the KV value except when the secondary key has a NULL column, in which case the extra columns appear in the key too for uniqueness.

[2017-04-04 19:51] a-robinson commented on #9658
This is still very reproducable if you run the exact the same steps as in the original issue. In other words, follow the instructions in https://www.cockroachlabs.com/docs/orchestrate-cockroachdb-with-docker-swarm-insecure.html but omit all `--advertise-addr` flags. After you've killed one of the processes (and it comes back up with a new hostname but the same data), the cluster will get stuck if

[2017-04-04 19:51] vivekmenezes commented on #14548
This is a bug in sql PREPARE. It uses a different transaction when reading the table descriptor to type check the placeholder variables. For the case where a table descriptor is created in the same transaction it needs to use the transaction that created the table while type checking the PREPARE placeholder variables.

[2017-04-04 19:52] a-robinson commented on #9658
I don't think it's really necessary to fix for 1.0, though, so removing the milestone.

[2017-04-04 19:52] eisenstatdavid commented on #14601
Secondary indexes with STORING whose tables have been updated/deleted from should be presumed garbage (depending on the details of the planner, I guess), but insert-only tables are fine.

[2017-04-04 20:01] petermattis commented on #14601
Hmm, I'm probably missing something, but why can't the planner construct the write index keys for the deletion. In the example you gave, scanning `t@i` will provide both `a` and `b`. I'm sure there are more complex examples where an index-join would be necessary to get the columns for a row, but those examples can be constructed without `STORING` too.

[2017-04-04 20:03] #8876 closed

[2017-04-04 20:06] a-robinson commented on #14605
Another in the line of recent timeouts - #14576

[2017-04-04 20:06] benesch opened #14615 "build: Yarn registry errors can fail the build"
As described in #14610, build 207117 failed because `yarn install` saw a 503 error while trying to install dependencies. The relevant piece of the build log:

[code]

I'm not aware of any other failures caused by the Yarn registry, but if this continues to be a problem, @dt suggested we look into some means of vendoring our Yarn dependencies. Yarn has an [offline cache](https://yarnpkg.com/blog/20

[2017-04-04 20:08] tamird commented on #14615
FWIW, I believe yarn _always_ looks at that cache, offline mode just
prohibits network access.

On Tue, Apr 4, 2017 at 4:06 PM, Nikhil Benesch <notifications@github.com>
wrote:

[2017-04-04 20:12] eisenstatdavid commented on #14601
@petermattis I wrote that example before I understood the problem completely. Consider the case of a table with columns w, x, y, z and primary key w; index on x, y (storing w because it's the primary primary key); and index on y storing z (and w because it's the primary primary key). If we want to delete from the table with a where clause that specifies a range for x, then we would like to use the

[2017-04-04 20:13] benesch commented on #14615
Eh? Maybe I'm using the wrong language (the docs are all over the place
here), but this is distinct from the usual Yarn cache.

“Offline mirror” is different from cache that both npm CLI and Yarn have.

On Tue, Apr 4, 2017 at 4:08 PM, Tamir Duberstein <notifications@github.com>
wrote:

[2017-04-04 20:13] eisenstatdavid commented on #14601
(to be explicit, we wouldn't need z if `STORING` stored columns in the KV value)

[2017-04-04 20:15] tamird commented on #14615
I was talking about `--offline                       trigger an error if any required dependencies are not available in local cache`:
[code]

[2017-04-04 20:20] benesch commented on #14610
I've filed #14615 to track vendoring our Yarn dependencies. Closing this because the other issue surfaced here (`cd pkg/ui && make` being broken) is fixed in #14613.

[2017-04-04 20:20] #14610 closed

[2017-04-04 20:22] petermattis commented on #14601
Right. We'd need to do an index-join to lookup all of the columns in the row. I think there is a short term issue to fix here which is the incorrect construction of the keys when `STORING` columns are present for non-unique indexes (or unique indexes with a `NULL`). And there is a longer term fix to see if we can adjust the index key construction for indexes containing a `STORING` clause so that `

[2017-04-04 20:26] mjibson commented on #9755
Pong. I'm working on this now.

[2017-04-04 20:35] a-robinson commented on #9658
While the root cause is different, it's interesting to note that this actually gets into a situation a lot like #8832, where the nodes that didn't get restarted keep trying to talk to the other node's previous hostname, so they're never able to open up outgoing connections to the replacement node even though it can talk to them.

I think that if the nodes stopped trying to use the old hostname, th

[2017-04-04 20:44] mjibson commented on #9755
This has been mostly fixed. Not sure when.

[code]

The SELECT results over the index are now correct. The EXPLAIN is wrong because it converts `9223372036854775807 + 1` into `-9223372036854775808`, a uint vs int problem, but since the select is working it seems like this is a span key -> string bug and not a bug generating the correct span key, like it was before.

Trying to reproduce this with j

[2017-04-04 20:44] #9755 closed

[2017-04-04 20:49] mjibson opened #14616 "kv: pretty-print of keys confused by overflow"
See #9755

[code]

Two bugs:

1. `???` get printed for `MaxInt64`, but `ALL` for `MaxInt64+1`.
2. In the tuple explain, the integer is wrapped around and displays `-9223372036854775808`.

In both cases the results returned by a SELECT are correct (so the values aren't actually getting wrapped in the span key creation). Seems like a span key -> string bug.

[2017-04-04 21:00] a-robinson commented on #14409
Just to help out here, this flakes in about 10 minutes on an azworker at head, and doesn't flake in over an hour of running at the commit before #14375 merged.

[2017-04-04 21:01] jordanlewis commented on #14548
Similar to the issue we saw in #14473, I believe the root cause of this is that Prepare statements do not run within a parent transaction if one exists: [executor.go#L449](https://github.com/cockroachdb/cockroach/blob/7e593b16a9bf3a938adb33e54b32bac330d650cc/pkg/sql/executor.go#L449)

[2017-04-04 21:03] spencerkimball commented on #9658
Is this easy to repro?

[2017-04-04 21:04] a-robinson commented on #9658
Yes. See my comment above - https://github.com/cockroachdb/cockroach/issues/9658#issuecomment-291612567

[2017-04-04 21:05] a-robinson commented on #9658
If you think that this actually is 1.0 worthy, I'm happy to get to the bottom of it and fix it.

[2017-04-04 21:24] dt commented on #13735
Hasn't happened for a month, and we've re-written and deflaked a bunch of this code since then.

[2017-04-04 21:24] #13735 closed

[2017-04-04 21:25] dt commented on #9759
k, I think we're not doing anything here.

[2017-04-04 21:25] #9759 closed

[2017-04-04 22:18] spencerkimball commented on #9658
I'd hate to leave this if you've got it repro'ing and have the context
switched in. But balance it with your other priorities. It's not required
for 1.0 because it sounds like a somewhat unusual situation.

On Tue, Apr 4, 2017 at 5:05 PM Alex Robinson <notifications@github.com>
wrote:

[2017-04-04 22:21] jseldess opened #14620 "server: draining hangs when quorum is lost"
This isn't an issue for production clusters, which will be upgraded in a rolling fashion, but it is a usability issue for quick test clusters.

Once you lose quorum, the remaining nodes can't be shut down with `cockroach quit`. Instead, you need to do a force kill.

[code]

Note that the third node never quits. Here's what you see toward the end of the logs:

[code]

[2017-04-04 22:22] kuanluo commented on #14598
Got it. Thanks, @jseldess! We can simply add the breakdown to the tooltip of the cluster level SQL connection, as shown in the first graph.

cc @mrtracy Probably not a top priority, but we can do a UX improvement pass on this when you are through the bugs.

[2017-04-04 23:03] cockroach-teamcity opened #14621 "teamcity: failed tests on master: test (proposer evaluated kv)/TestConcurrentUpsertWithSnapshotIsolation, test (proposer evaluated kv)/TestConcurrentUpsertWithSnapshotIsolation/upsert"
The following tests appear to have failed:

[#207427](https://teamcity.cockroachdb.com/viewLog.html?buildId=207427):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-05 02:17] jordanlewis commented on #14554
For the record, the full query getting executed by Postgrex is:

[code]

[2017-04-05 02:47] pirate commented on #8719
A unique postgres-api-matching UUID type will likely be needed to support `models.UUIDField` in Django as well.

[2017-04-05 03:40] bdarnell commented on #14434
Bisecting points to #14342 (timestamps in the command queue) as the culprit. cc @spencerkimball

[2017-04-05 03:47] vivekmenezes commented on #12424
Finally ran two schema changes on a table with 57M rows on a 6 node cluster:

[code]

The add index took around 2h50m, while the add column took around 1h40m. This acts as a great baseline to improve upon.

[2017-04-05 07:04] mberhault commented on #9189
The remaining env variables documented in `cockroach start` are for `--insecure` and the cert/key flags.
I'll send a PR to drop `COCKROACH_INSECURE`. The certs ones will soon be replaced by `COCKROACH_CERTS_DIR` which might be reasonable to keep as an env variable, but can be revisited at part of the #1674 implementation.

[2017-04-05 07:20] mberhault commented on #8953
@sploiselle: the concern isn't technical, it's about clarity. Implied flags that change when other flags are specified are not particularly obvious. The auto `--insecure` flag is the current behavior, with default of `true`, but switching to `false` if you specify `--host`. I feel most of the confusion is around this automatic switch, and I'd very much like to get rid of it.

@petermattis: there's

[2017-04-05 08:19] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/29cf4d9fc283dd5524637382cd3ac3bf248b7890

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=207740&tab=buildLog

[2017-04-05 09:01] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/29cf4d9fc283dd5524637382cd3ac3bf248b7890

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=207847&tab=buildLog

[2017-04-05 09:43] mberhault commented on #14071
I assume this is due to the lack of health check in the config. Without it, haproxy probably considers all nodes to be up

[2017-04-05 09:57] dianasaur323 commented on #10318
@thomasmodeneis I'm going to close this issue out since it seems like we've come to a mild resolution here. Feel free to re-open if you are still facing these problems.

[2017-04-05 09:57] #10318 closed

[2017-04-05 10:01] dianasaur323 commented on #10322
@knz Given you provided a fix on this earlier, let's look into testing for this specific error. I'm assigning you, but please feel free to re-assign. I think it would be good to put a test in place here.

[2017-04-05 10:02] dianasaur323 commented on #10320
@cuongdo @knz I'm going to assign this! If it's not a blocker for 1.0, we could also stick it into the Q2 2017 milestone, but leaving it to you two to decide.

[2017-04-05 10:04] dianasaur323 commented on #10354
@bdarnell I'm going to assign this to you for now - I'm not sure if this is still an issue given the age of it, but it does seem like something we should clean up before 1.0?

[2017-04-05 10:05] dianasaur323 commented on #10365
Let's try to clean this up before 1.0? It seems like a relatively straight-forward fix. Taking off @kuanluo and @maxlang and leaving @mrtracy on as the primary assignee (thanks Matt!)

[2017-04-05 10:07] dianasaur323 commented on #10372
@mrtracy This seems like a value add, but also not a blocker for the 1.0 milestone. I'm going to shift it over to Q2 2017. Let's try to have some sort of QA process at that point. Feel free to move back into 1.0 if you disagree.

[2017-04-05 10:11] dianasaur323 commented on #10394
This seems like an odd ux quirk that we can clean up for the 1.0. @knz I believe you have been doing work on joins - mind taking a look?

[2017-04-05 10:17] dianasaur323 commented on #10401
@petermattis not sure if this is still an issue, but assigning to you for now!

[2017-04-05 10:54] huachaohuang opened #14625 "The NODES link in the console does not work"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
  Seems not necessary.

2. Please describe the issue you observed:

- What did you do?
  1. Start a node `node-1` with nodeID 1
  2. Access the console in http://localhost:8080/#/nodes/1
  3. Click the **NODES** link at the top, which jumps to http://localhost:8080/#/nodes

- What did you expect to see?
  Se