[2018-02-26 18:42] #23098 closed

[2018-02-26 18:44] vivekmenezes commented on #22933
Can you send me a link to the code so I can take a look.

[2018-02-26 18:47] bdarnell commented on #22933
https://github.com/jepsen-io/jepsen/blob/4b163375a559871bf6dd7badd4f9f38141db11aa/cockroachdb/src/jepsen/cockroach/sequential.clj#L63-L65

[2018-02-26 18:57] tschottdorf commented on #21882
@m-schneider one thing I'd like you to check is that when you decommission a node (whether it is down before you do that or not), the rest of the cluster stops connecting to it. In particular, it shouldn't show up in any of the debug pages, ui, ..., and there shouldn't be log entries for its IP.

[2018-02-26 19:10] dianasaur323 opened #23099 "ui: node liveness is off when adding a new node, and when a node is suspect"
Perhaps some of this behavior is expected, but humor me.

I'm currently testing how the cluster viz behaves when adding, decommissioning, and killing nodes. I created a new node, and instead of coming up as a new node, it is marked as dead.

![image](https://user-images.githubusercontent.com/5768024/36689821-8d83d372-1afe-11e8-8854-e4cd49c39543.png)

That is odd, since the time series of that node

[2018-02-26 19:11] dianasaur323 commented on #23099
Also, why does a dead node still have uptime?

![image](https://user-images.githubusercontent.com/5768024/36689949-df5cd356-1afe-11e8-9f9a-2e1d77bd9942.png)

[2018-02-26 19:12] andy-kimball opened #23100 "sql: pg_typeof function returns different description for null type than Postgres"
[code]

EXPECTED: Same results as Postgres - `unknown`
ACTUAL: Cockroach result is `NULL`

[2018-02-26 19:15] andy-kimball opened #23101 "sql: make NULL an inhabitant of every type"
This will help solve problems like this:

[code]

EXPECTED: Same result as Postgres: `boolean`
ACTUAL: Cockroach returns `NULL`

[2018-02-26 19:19] arjunravinarayan commented on #22827
Hi @0xbaadf00d, any updates?

[2018-02-26 19:22] dianasaur323 opened #23102 "core: adding a new node with localities kills the existing node in that locality"
In the PM cluster, I added an SFO node to the existing SFO locality that had only one node. This ended up causing that old node to hang in a weird way - running cockroach sql just results in a hanging terminal. Trying to restart the node results in the following error:

[code]

Logs of new SFO node:

[code]

[2018-02-26 19:24] a-robinson commented on #19820
I've been unable to reproduce this on master in an hour and a half of stressing it on a gceworker, despite being able to repro at the SHA of the last teamcity failure (aa73c6491abcee69c9ad3da87ea138e9da0dfbe2) in 7 minutes. Between that and the fact that it hasn't flaked in nearly a month I'm thinking this has been fixed in the meantime.

[2018-02-26 19:24] #19820 closed

[2018-02-26 19:29] rytaft commented on #16519
I found this issue again during QA for another feature. As described above, if there are multiple statements on the same line, and one causes an error, there is no indication that the previous statement was successful.
[code]
^ table `t.b` was actually created, but the second statement failed since `b` was unqualified.

[2018-02-26 19:31] nvanbenschoten commented on #21812
Duplicate of #21444.

[2018-02-26 19:31] #21812 closed

[2018-02-26 19:35] a-robinson commented on #14707
For reference, the test in the Kubernetes repo that the above link tracks is defined here: https://github.com/kubernetes/kubernetes/blob/456ebf5de7f8ff3d3456da908f52c72ad792d841/test/e2e/apps/statefulset.go#L919

We also get CI from our chart in the Helm Charts repo: https://github.com/kubernetes/charts/blob/master/stable/cockroachdb/templates/tests/client-test.yaml

[2018-02-26 19:36] justinj commented on #23101
cc @knz

[2018-02-26 19:37] justinj commented on #23100
cc @knz

[2018-02-26 19:37] rytaft opened #23103 "sql: primary key and unique constraints not visible in DBInspect tool"
I downloaded the latest DBInspect JAR (v1.05) from this site: http://www.dbinspect.com. Thanks to the changes in #22753, I can now use this tool to view the data in CockroachDB by setting the database type to PostgreSQL. It works pretty well: I can see the data and columns, as well as fk constraints (parent/child), but I cannot see primary key or unique constraints. We should make it possible to s

[2018-02-26 19:50] bdarnell opened #23105 "storage: Prevent lease reuse"
A restarted node can attempt to resume its existing lease. If it succeeds (i.e. if it had not had its liveness epoch incremented while it was down), it could serve stale reads because the command queue has been lost in the restart. Specifically, if the old process proposed a write to raft but it had not yet committed, it's unsafe for the new process to serve any reads if that write has not yet app

[2018-02-26 19:52] rytaft commented on #21870
I completed QA last week and created the following issues:
#22964
#22966
#22969
#22974
#22995
#22996
#23002
#23025
#23028
#23103
[#2559](https://github.com/cockroachdb/docs/issues/2559)
Also rediscovered existing issue in #16519

[2018-02-26 19:52] #21870 closed

[2018-02-26 20:04] petermattis commented on #23102
If you have the exact commands you ran, please include them.

[2018-02-26 20:05] a-robinson commented on #23102
I haven't looked at the "new" node yet, but the reason you got that `could not cleanup temporary directories from record file` error is because there's still an older cockroach process running on the VM. You can tell both from `ps` and from the fact that an older log file is still growing:

[code]

Notice that the `cockroach.pm-cluster-sfo2-01.root.2018-02-26T19_03_01Z.002253.log` file grew betwee

[2018-02-26 20:06] a-robinson commented on #23102
The old node's log also contains:

[code]

Which makes it look like one of your certs is either invalid or expired. You mentioned on chat that you were trying to rotate certs, right? You probably made a mistake along the way. It's a good chance to test out our cert debugging tools :)

[2018-02-26 20:09] danhhz opened #23107 "roachtest: test store dir backward compatibility"
In https://github.com/cockroachdb/cockroach/pull/23030#issuecomment-368249963, the allocator tests were migrated to roachtest. They use backups now, but used to use store dumps and had caught a couple regressions in store directory backward compatibility:

We should replace this coverage with a more targeted test.

I can see this working one of a few different ways. We could download a store dump

[2018-02-26 20:17] dianasaur323 commented on #23102
Ok, I'm going to try refreshing node 4, which I suspect might be the problem. Will report back.

[2018-02-26 20:31] BramGruneir commented on #14192
I ran this again on master for 21 mins, couldn't repeat the failure.
[code]

I should have looked at it back in October, but it slipped by somehow.  I can go back and perform that bisection if needed, but I think it's safe to close unless it re-occurs (again).

[2018-02-26 20:37] dianasaur323 commented on #23102
urgh, that was it! it's working now. closing. Thanks @a-robinson! This problem showed up as the debug page basically being unable to load certs for node 4.

[2018-02-26 20:37] #23102 closed

[2018-02-26 20:39] robert-s-lee opened #23109 "sql: panic with computed column"
bug

cockroach version
Build Tag:    v2.0-alpha.20180212-733-gd5a1304

[code]

[code]

[2018-02-26 20:41] dianasaur323 opened #23110 "ui: remove decommissioned nodes from dropdown on time series page"
I decommissioned node 4:

![image](https://user-images.githubusercontent.com/5768024/36694128-63dffc28-1b0b-11e8-8001-c2f063a69f5c.png)

But can still get to it from the admin UI drop down. Meanwhile, the node list is correct:

![image](https://user-images.githubusercontent.com/5768024/36694153-74822d58-1b0b-11e8-929c-500e2cfc3db5.png)

[2018-02-26 20:44] a-robinson commented on #23102
Is there anything we can do to make this kind of misconfiguration more obvious in the future?

[2018-02-26 20:51] bdarnell commented on #23102
We can stop recommending orphan processes. If the instructions were "ask systemd/supervisord/kubelet/etc to restart the process" instead of "run `cockroach start --background`" then the process manager would help make sure that the old process was terminated.

[2018-02-26 20:52] dianasaur323 commented on #23102
I'm not too sure - because I was actually looking at the debug pages while I was doing the cert rotation, but it's unclear if things worked out correctly, since the only thing I was looking at was when the cert was valid from. That's a bit of an arbitrary metric to look at. Perhaps the better metric to look at would have been the network latency thing, since I would have been able to see that cert

[2018-02-26 20:54] dt commented on #21776
storage/node_liveness.go:457  [n1,hb] slow heartbeat took 32.8s

[2018-02-26 20:54] #21776 closed

[2018-02-26 21:01] dt commented on #21775
Hello node liveness my old friend,
I've come to heartbeat once again.
Because a disk sync slowly creeping,
Timed out my context while I was sleeping.
And the lease I wanted to update in that range,
Still remains,
Within the logs of sadness.

`storage/replica.go:1478  [n1,s1,r3/1:/System/NodeLiveness{-Max}] have been waiting 1m0s attempting to acquire lease`

[2018-02-26 21:01] #21775 closed

[2018-02-26 21:03] danhhz commented on #22646
Okay, the only one left is the schema change one. @vivekmenezes just to confirm, do we think that's still useful and worth porting?

[2018-02-26 21:04] a-robinson commented on #21775
👏👏👏👏👏👏👏👏👏👏

[2018-02-26 21:04] dt commented on #19428
Haven't seen this one in a little while.

[2018-02-26 21:04] #19428 closed

[2018-02-26 21:06] petermattis commented on #22646
I'm not familiar with the details of the existing schema change test, but we definitely want a nightly schema change test.

[2018-02-26 21:21] vivekmenezes commented on #22646
@danhhz yes that's a super useful test! Thanks

[2018-02-26 21:27] #19806 closed

[2018-02-26 21:30] pbardea opened #23113 "distsql: Improve explain diagrams for count(*) queries"
Currently the `EXPLAIN (DISTSQL)` diagrams report the `Out:` rows for processors to be empty for queries that are performing a `COUNT(*)`, which looks odd since it appears that nothing is outputted form the processor. The diagram (in `flow_diagram.go`) could be extended to better indicate this case.

[2018-02-26 21:40] a-robinson commented on #22468
Note: health checks can't be re-added until a stable release that includes #22911 has been published to docker hub.

[2018-02-26 21:42] a-robinson commented on #18598
Node liveness was made much more stable back in December, so this is probably closable as fixed, but do you have reproduction steps @dianasaur323?

[2018-02-26 21:45] a-robinson commented on #19236
Well, unfortunately this didn't make the cut for 2.0. Our roadmap has us fixing this before the 2.1 release in the fall.

I'm going to close this as a dupe of https://github.com/cockroachdb/cockroach/issues/9446, but please reopen if there's anything separate to do here.

[2018-02-26 21:45] #19236 closed

[2018-02-26 21:46] RaduBerinde commented on #23113
Maybe `Out: ∅`

[2018-02-26 21:47] mrtracy opened #23117 "storage: SSTable file leak"
Due to an unknown cause, SSTable files are leaking on the latest 2.0 alphas. This can be seen easily in long running clusters, where the count of .sst files on the file system is significantly higher than the number of SSTables.  For example, on one of our test clusters:

![screen shot 2018-02-26 at 4 42 24 pm](https://user-images.githubusercontent.com/6969858/36697140-2e22c09e-1b14-11e8-9f98-0345

[2018-02-26 21:56] a-robinson commented on #17920
1. This is outside of the release process, so I'm bumping the mileston.
2. This might have to remain manual, because there's a separate "Publish" step that has to be done after security scanning is done on the image, typically ~15 minutes after the image is pushed in my experience. This would be tough to fit into the teamcity release process, if the publish button is automatable at all.

[2018-02-26 22:00] mrtracy opened #23119 "server: Raft proposals hang indefinitely when node runs out of disk space"
It appears that a node running out of disk space can cause raft proposals to hang indefinitely.

On one of our test clusters, one node ran out of disk space rapidly due to issue #23117.  Before crashing, the node was in a bad state for about 2 hours where several requests hung indefinitely.  By checking the current goroutines, we determined that many of these requests were hung waiting for a propo

[2018-02-26 22:01] bdarnell commented on #23117
Looks like something changed on adriatic around 2/19:

![image](https://user-images.githubusercontent.com/160562/36697987-a1417dd4-1b16-11e8-8811-06a2ec3d1ba8.png)

[2018-02-26 22:08] bdarnell commented on #23119
We should set up a separate partition for logging so we can get some information when this happens.

The node is supposed to crash whenever we have a failure writing to disk. Maybe an error inside a rocksdb background compaction is leaving the DB in a weird state?

[2018-02-26 22:32] cockroach-teamcity opened #23120 "teamcity: failed tests on release-2.0: acceptance/TestVersionUpgrade, acceptance/TestVersionUpgrade: TestVersionUpgrade/runMode=local, acceptance/TestVersionUpgrade, acceptance/TestVersionUpgrade: TestVersionUpgrade/runMode=local"
The following tests appear to have failed:

[#537295](https://teamcity.cockroachdb.com/viewLog.html?buildId=537295):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-26 22:34] arjunravinarayan opened #23121 "distsql: sorter is not forwarding all metadata"
details to follow.

[2018-02-26 22:52] cockroach-teamcity opened #23124 "teamcity: failed tests on release-2.0: test/TestLogic, test/TestLogic: TestLogic/parallel-stmts, test/TestLogic: TestLogic/parallel-stmts: TestLogic/parallel-stmts/rename_table, test/TestLogic, test/TestLogic: TestLogic/parallel-stmts, test/TestLogic: TestLogic/parallel-stmts: TestLogic/parallel-stmts/rename_table"
The following tests appear to have failed:

[#537323](https://teamcity.cockroachdb.com/viewLog.html?buildId=537323):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-26 23:07] cockroach-teamcity opened #23125 "teamcity: failed tests on master: testrace/TestBackupAsOfSystemTime, test/TestBackupAsOfSystemTime"
The following tests appear to have failed:

[#537352](https://teamcity.cockroachdb.com/viewLog.html?buildId=537352):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-26 23:12] #22407 closed

[2018-02-26 23:23] bdarnell commented on #23117
Looking at adriatic-5, `ls` and `lsof` are in agreement about the number of sstable files, so all the files are open simultaneously:

[code]

Rocksdb's live sstable count is 659 at the same time. This is consistent with the theory that the root cause is some sort of iterator/snapshot leak holding these files open; they're not getting completely lost to the process.

[2018-02-26 23:44] andreimatei commented on #17432
Seems that the issue remaining here is that the leaseholder are not scattered after a restore. Assigning to... Dan.

[2018-02-26 23:46] andreimatei commented on #12355
The logging has changed. Closing this.

[2018-02-26 23:46] #12355 closed

[2018-02-26 23:49] arjunravinarayan commented on #23121
the sort processors are not returning all the trailing metadata as they only have a fixed sized cache. fix this by creating a slice of `trailingMetadata` and returning all of it.

[2018-02-26 23:50] andreimatei commented on #17953
Can't find any sentry issues reporting this currently. Closing in the hope that we got better somehow.

[2018-02-26 23:50] #17953 closed

[2018-02-26 23:51] benesch commented on #23117
@bdarnell where did you pull those commit SHAs from? We skipped a number of releases; it seems like this is the range:

![screenshot 2018-02-26 18 50 00](https://user-images.githubusercontent.com/882976/36702635-e2f85dce-1b25-11e8-943a-3c2436dcac39.png)

https://github.com/cockroachdb/cockroach/compare/886f1f3...c02d5061f8623b716a14016ea4a90d0dbb245691

[2018-02-27 00:10] mrtracy commented on #22687
Running this a bunch; the flake is that sysbytes is always 1 less than expected.  Going to investigate further to see if this represents a real error in stats maintenance, or an error in the tests expectations.

[2018-02-27 00:27] bdarnell commented on #23117
From `ls -l` on the machine.

[code]

[2018-02-27 01:31] andreimatei commented on #22863
Jordan mind giving me a command line to repro?

[2018-02-27 01:53] andreimatei commented on #22293
#19937

[2018-02-27 01:53] #22293 closed

[2018-02-27 01:53] andreimatei commented on #19938
#19937

[2018-02-27 01:53] #19938 closed

[2018-02-27 01:55] andreimatei commented on #19937
Can't repro. The failure message is incomplete, improving in #23135. In any case, resolving to an unexpected range id leads me to believe that this is our caches being inconsistent - #10751

[2018-02-27 03:17] jordanlewis commented on #22863
I can't reproduce at this time. I'm sure it'll come up again, at which point I'll try to collect more details.

[2018-02-27 03:27] benesch commented on #23117
<img width="850" alt="screenshot 2018-02-26 22 25 12" src="https://user-images.githubusercontent.com/882976/36709050-ecb3675a-1b43-11e8-8ca4-eed45a581098.png">

The sawtooth we were seeing when we brought node 3 back online has vanished. This gives weight to @spencerkimball's theory that we had a backlog of compaction activity from when the node lost its leases.

Still, given that adriatic is runn

[2018-02-27 04:06] dsymonds commented on #21165
These deletions were a one off. We gave up for now and just started recreating the tables from scratch. We will likely have subquery joins in the future, though.

[2018-02-27 04:10] benesch commented on #23117
The more I look at it, the more I think the leaked iterator in migrateLegacyTombstones is to blame (#23136). Adriatic 4-6 are still running the alpha candidate and each have a few hundred leaked SSTs. Adriatic 1-3, by contrast, have binaries with #23136 applied and RocksDB's SST count exactly matches  the on-disk count, except during compactions.

Here's adriatic 1 in the ten minutes after I deplo

[2018-02-27 04:15] benesch opened #23138 "*: add iterator leak test"
Forgetting to close a RocksDB iterator causes all manner of subtle bugs: file descriptors run out, or the disk fills up, and often hours after the iterator was leaked. #23117 is the most recent example of this.

Since Go can't do us any favors here, we should teach `leaktest.AfterTest(t)` to check for leaked iterators so we can avoid this class of bug once and for all. We could also consider a fla

[2018-02-27 04:21] #22706 closed

[2018-02-27 07:18] cockroach-teamcity opened #23139 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-02-27 07:18] cockroach-teamcity opened #23140 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-02-27 07:41] tschottdorf commented on #23011
@couchand I was unable to repro this unfortunately. I was browsing https://cockroach-omega-0001.crdb.io:8080 and was hovering over the graphs. It's not unlikely that I clicked a tooltip, but I also only saw the error after the fact (when I opened the dev tools for something else). Sorry I can't be of more concrete help here!

[2018-02-27 08:06] tschottdorf commented on #22796
@bdarnell agreed, but do you think we should do this for 2.0? I would just have done [this](https://github.com/cockroachdb/cockroach/issues/22796#issuecomment-367736085) and straighten out the process in 2.1.

[2018-02-27 08:54] knz commented on #21870
very nice QA work. Pleasure working with you.

[2018-02-27 09:00] cockroach-teamcity commented on #23140
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=537856&tab=buildLog

[2018-02-27 09:00] cockroach-teamcity commented on #23140
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=537856&tab=buildLog

[2018-02-27 09:36] knz commented on #23101
cc @nvanbenschoten

The _result_ of a comparison with NULL should be NULL, while its _type_ should stay BOOL.

The problem we have here is that once type checking simplifies an expression to NULL, it cannot attach any other type to it than Unknown.

[2018-02-27 09:36] cockroach-teamcity commented on #22925
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=537916&tab=buildLog

[2018-02-27 09:36] cockroach-teamcity commented on #22926
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=537916&tab=buildLog

[2018-02-27 09:56] knz opened #23143 "sql: allow constant expressions for AS OF SYSTEM TIME and backup timestamps"
Currently AS OF SYSTEM TIME and the point-in-time backup/restore only accept constant literals.

They should accept arbitrary constant expressions so that a user can e.g. say `now() - '3 day'::interval`.

[2018-02-27 10:23] knz commented on #23139
dup #23140

[2018-02-27 10:23] #23139 closed

[2018-02-27 10:24] knz commented on #23120
Dup #22796.

[2018-02-27 10:24] #23120 closed

[2018-02-27 10:31] knz opened #23144 "sql: support string_to_array() - cut a string at a given delimiter"
This is for compatibility with PostgreSQL, also needed for #19337.

https://www.postgresql.org/docs/10/static/functions-array.html

`string_to_array()` also enables nifty aggregations, like collecting the parts of a single columns into two columns, e.g.:

[code]

[2018-02-27 10:32] knz commented on #19337
Filed #23144 for string_to_array

[2018-02-27 10:34] cockroach-teamcity commented on #23140
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=538041&tab=buildLog

[2018-02-27 10:34] cockroach-teamcity commented on #23140
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=538041&tab=buildLog

[2018-02-27 10:35] andzdroid commented on #22840
After using `fsck`, there were no errors detected.

[2018-02-27 10:47] knz opened #23145 "sql: reduce (eliminate?) support for sessions without a current database set"
Discussed with @nvanbenschoten and @jordanlewis while working on #21456 and #23045.

pg does not support client sessions without a current database set. The virtual schemas (especially pg_catalog) are not well-defined if there is no current database.

Also in their current implementation they can generate a large amount data if queried by a client without a current database set, putting pressure o

[2018-02-27 11:11] dfaust opened #23147 "sql: joins with subquery to extract max are slow"
I wrote a small test programm to evaluate cockroachdb, you can find it with some instructions at: https://github.com/dfaust/cockroachdb-test

It works on a table with versioned items:

[code]

The goal is to retrieve the latest version of some items. This can be done using a subquery like:

[code]

With postgresql such a query takes about 0.5 - 2 ms - depending on the batch size.
With cockroachdb

[2018-02-27 11:20] #23028 closed

[2018-02-27 11:29] knz commented on #23060
Dear @enemyofthedawn

thanks for your interest in CockroachDB!

- We have some preliminary tests with Npgsql and it appears to work fine with CockroachDB. Why don't you try it out?

- There are probably many benchmarks comparing CockroachDB to other things. We even intend to publish some of our own performance measurements on the company blog before the summer. If you run your own benchmarks, or i

[2018-02-27 11:47] knz opened #23149 "opt: extend Min/Max -> Order+Limit rule to work on non-scalar GROUP BY (with no columns)"
Sub-problem extracted from #23147.

Schema:
[code]

Plan:
[code]

I would have expected that the aggregation be simplified/eliminated to a single revscan with limit 1 (the max is the last row).

Even if we don't like revscans, if I change the schema to have `revision DESC` in the pk definition (incidentally, this is what #23147 does), I still don't get a forward scan with limit 1.

@RaduBerinde wh

[2018-02-27 12:12] knz commented on #23147
Hi @dfaust!

Thanks for your interest in CockroachDB.
Your issue here is highlighting four different problems that we can look at:

- the MAX aggregation does not make use of the primary index of the table optimally. This causes the subquery to be much more costly than necessary. I have filed  #23149 separately to track this.

- the join currently use an inefficient algorithm for your use case. We

[2018-02-27 12:22] knz commented on #22937
`set schema` will be supported in 2.0

[2018-02-27 12:58] RaduBerinde commented on #23149
In general, we can't apply this optimization when we have GROUP BY. In this particular case, the GROUP BY clause does nothing. I'd say the right thing to do would be to remove any group by columns known to be constant, and then the optimization should kick in.

[2018-02-27 13:09] bdarnell commented on #23117
Yeah, #23136 is probably enough to explain this. A single leaked iterator is enough to eventually double the data size in this high-churn workload, and maybe worse if it also causes log retention.

The legacy tombstone migration is sneaky - it runs on each restart after the cluster version setting has been bumped, but we don't normally update the cluster setting when upgrading adriatic. We did run

[2018-02-27 13:17] bdarnell commented on #23138
Rocksdb exports a couple of stats for this: `rocksdb.num-snapshots` and `rocksdb.oldest-snapshot-time`. We can add those to our `DBStatsResult` to track them in timeseries, and also assert that num-snapshots is zero when closing the rocksdb instance.

[2018-02-27 13:23] knz commented on #23147
My colleague @RaduBerinde points out that you can also simplify the query as follow, based on the ordering of columns in the primary key:

[code]

(This will still benefit from the better algorithm described in my previous comment)

[2018-02-27 13:24] knz commented on #23149
I have renamed the issue according to your suggestion. I suppose it is still a worthwhile optimization, even though there is a workaround in the special case in #23147).

[2018-02-27 13:46] knz commented on #22821
@jordanlewis can we check this together. I can't repro the problem on the newest master.

[2018-02-27 14:19] #23100 closed

[2018-02-27 14:22] benesch commented on #23140
Paging @mjibson: `could not set big.Int's string value:`

On Tue, Feb 27, 2018 at 5:34 AM cockroach-teamcity <notifications@github.com>
wrote:

[2018-02-27 14:23] knz commented on #23140
Given the stack strace the problem is probably not in the decimal package, but rather in the conversion of key spans to string for logging. More down @nvanbenschoten's alley

[2018-02-27 14:25] petermattis commented on #23138
Asserting the num-snapshots or iterators is zero when closing the rocksdb instance would probably go a long way and is easy to do. Marking this for 2.0 because we've been bitten by this twice recently.

[2018-02-27 14:31] petermattis commented on #23101
The phrasing of this issue title is a bit weird to me. My current conception of NULL is that it is an attribute of the value and not of the type. I suppose this is why Postgres has the Unknown type to represent the type of a NULL constant. Related: for columnarized storage and evaluation, NULL is often represented as a bitmap that is parallel to the column values. The column has a concrete (known)

[2018-02-27 14:40] knz commented on #23101
yes null is "an attribute of the value and not of the type" indeed, although CockroachDB (currently) gets this wrong.

The phrasing "an attribute of the value" is also technically incorrect: NULL _is_ a valid _value_, which extends the set of all possible values of the underlying type.

It's similar as floats in other programming languages. Intuition has it that a finite type that represents "numb

[2018-02-27 14:41] cockroach-teamcity opened #23151 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenG2: JepsenG2/strobe-skews, Jepsen/Jepsen: JepsenMonotonic: JepsenMonotonic/start-stop-2, Jepsen/Jepsen: JepsenMonotonic: JepsenMonotonic/majority-ring+subcritical-skews, Jepsen/Jepsen: JepsenRegister: JepsenRegister/majority-ring+subcritical-skews, Jepsen/Jepsen: JepsenSequential: JepsenSequential/start-kill-2, Jepsen/Jepsen: JepsenSets: JepsenSets/parts+start-kill-2"
The following tests appear to have failed:

[#537641](https://teamcity.cockroachdb.com/viewLog.html?buildId=537641):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-27 14:41] knz commented on #23101
Whether we implement "NULL is an inhabitant of every type" using a bitmap alongside the value (recommended) or with a separate Go object (current code, horrendous for performance) is an implementation detail.

[2018-02-27 14:46] dfaust commented on #23147
@knz Thank you for the quick reply.

* You are right, this should actually be an INNER JOIN, but it doesn't really change anything for my results because the queries still take way too long for any measurements to make sense.

* The query from https://github.com/cockroachdb/cockroach/issues/23147#issuecomment-368871456 is faster, though still very slow (~10s). But it is also wrong, because it retu

[2018-02-27 14:47] rytaft commented on #21870
Thanks! Same here :)

[2018-02-27 15:00] 0xbaadf00d commented on #22827
Hi @arjunravinarayan,

with explain, both queries give the same "URL" : https://cockroachdb.github.io/distsqlplan/decode.html?eJyUkDFrAzEMhff-ivJmFeJ085Q1S1JCt-LBtUU4uFjGlqEl3H8vdx6aFno0o578fc_oiiSRD_7CFfYNBoRnOEIuErhWKXPcH-3jB-yGMKTcdI4dIUhh2Ct00JFh8erfRz6xj1xAiKx-GBdxLsPFl8-dD0FaUhCOTe3jzsBNBGn67azqzwxrJrrpNeu9B3mS_KPxL-32Hu2Ja5ZU-V_mzeQIHM_cT1allcAvRcJytT4eF24JIlftW9OHfeqr-YO3sFmFt79gNz18BQAA__

[2018-02-27 15:03] knz commented on #23147
With the restriction in your example (`WHERE        docs.user_id = $1    AND        docs.doc_id IN ($2)`) there can only be 1 row that matches. I assume your real test uses multiple values for doc_id? In that case indeed the simplification doesn't work. The DISTINCT ON solution is best though.

[2018-02-27 15:04] knz commented on #23147
I'm happy that you have found a satisfactory way forward. We'd be delighted to see the progress of your testing on the newer 2.0 binaries. I will close this issue until then.

[2018-02-27 15:04] #23147 closed

[2018-02-27 15:07] justinj commented on #23144
`string_to_array` was added in #22391, so going to close this

[2018-02-27 15:07] #23144 closed

[2018-02-27 15:09] a-robinson commented on #22840
I take it there wasn't anything in /var/log/dmesg from Feb 12 either? That `Input/output error` is still by far the most suspicious thing in the logs you provided, and thus I still think a disk problem is most likely. The logs don't contain any other leads that I was able to pick out, and they're the only thing we have left from the event, so there isn't much else I'm able to do right now, unfortu

[2018-02-27 15:09] #22840 closed

[2018-02-27 15:12] knz commented on #23144
woooo nice! thanks

[2018-02-27 15:15] a-robinson commented on #22843
@justinj should this be assigned to you?

[2018-02-27 15:17] justinj commented on #22843
Yes, good call :)

[2018-02-27 15:19] knz commented on #23053
I am not willing to investigate failures in logic test in the same time window we had major consistency bugs in the underlying kv store. Closing this for now, will investigate when it re-occurs on a newer version.

[2018-02-27 15:19] #23053 closed

[2018-02-27 15:31] vivekmenezes commented on #22933
This looks like a situation where the retryable error escaped. It shouldn't escape. @andreimatei is it possible that the new conn-executor is responsible for this?

[2018-02-27 15:33] a-robinson opened #23152 "cli: node status --ranges displays incorrect number of ranges on each node"
[code]

<img width="931" alt="screen shot 2018-02-27 at 10 29 55 am" src="https://user-images.githubusercontent.com/7085343/36737497-2df4ce88-1ba9-11e8-88a1-d5781d6aff9e.png">

It's displaying the number of raft leaders on the node, not the number of ranges. This is because the `node status` code is attempting to reuse code used to calculate prometheus metrics which has been designed to aggregate

[2018-02-27 15:34] vivekmenezes commented on #11708
This test fails rather infrequently and I know what's broken, I just don't have the time for it in 2.0

[2018-02-27 15:35] a-robinson commented on #22933
While we're on the subject of errors escaping, we also saw a `TransactionAbortedError` escape SQL recently in https://github.com/cockroachdb/cockroach/issues/22839

[2018-02-27 15:37] a-robinson commented on #22396
https://github.com/cockroachdb/cockroach/issues/23064

[2018-02-27 15:37] #22396 closed

[2018-02-27 15:37] vivekmenezes commented on #22933
https://github.com/cockroachdb/cockroach/issues/16450 was the last time we saw this.

[2018-02-27 15:44] a-robinson commented on #19829
Obsoleted by #20647

[2018-02-27 15:44] #19829 closed

[2018-02-27 15:44] a-robinson commented on #19485
Obsoleted by #20647

[2018-02-27 15:44] #19485 closed

[2018-02-27 15:45] arjunravinarayan commented on #22827
And are you still seeing the query without tthe where clause succeed, but the query with the where clause fail?

I think this is sufficiently strange that it warrants investigation. I'll take a look.

Can you please run one last command, just to help me with a reproduction? I'd like to see the output of
`SHOW TESTING_RANGES FROM TABLE account`.

[2018-02-27 15:49] vivekmenezes commented on #14198
The work here involves passing the expiration time in the backfill processor protobuf and adding the expiration time as a deadline for all backfill transactions.

[2018-02-27 15:51] jordanlewis opened #23154 "sql: add debug mode to memory monitors"
To help investigations of issues related to incorrectly handled memory monitors (see #21663), we should add a debug mode to memory monitors that records the current stack when memory is requested and freed.

This is the approach taken by the net/trace library for debugging use-after-free issues, and it's quite helpful in that case. It might be less straightforwardly helpful for memory monitors, si

[2018-02-27 15:53] knz commented on #23154
FYI `-vmodule=bytes_usage=2` will already report the "small trace" of callers (top 6 frames) in a log message. We could extend this to put this data in traces instead of the log file (although I think anything going to the log also go to the current trace).

[2018-02-27 15:54] knz commented on #23154
beware however that computing a textual representation of the current stack is a rather expensive operation  - that's why I opted for less than 10 frames in GetSmallTrace.

[2018-02-27 15:56] jordanlewis commented on #23154
The difference between the proposed debug mode and the extra logging is that we wouldn't log the collected stacks unless we see a crash/improperly-accounted-for monitor. Otherwise it's very noisy and confusing when there are several concurrent monitors.

[2018-02-27 15:58] knz commented on #23154
oh so you mean collect the traces in memory and only dump them in case of error?

I can see that works however would need to be active only in tests.

[2018-02-27 15:58] danhhz commented on #17432
Pretty sure whatever was happening with scatter during restore has long since been fixed. Assigning to @mjibson for confirmation

[2018-02-27 15:58] knz commented on #23154
I also dislike the idea of having a conditional (`if inTest { collectTraces}`) and the overhead of the slice reference in every monitor in the main build (outside of tests), so that may warrant an alternate implementation conditional on a build tag.

[2018-02-27 15:59] benesch commented on #16071
Punting to 2.1.

[2018-02-27 16:00] benesch commented on #17660
Moving to 2.1. We've survived this long without a scatter nightly; we can survive a little longer.

/ping @danhhz who's looking for tests to write, though.

[2018-02-27 16:00] jordanlewis commented on #23154
Yes, this would only be active in tests or when manually requested. I think if we made `inTest` a false `const` then the compiler would strip out the conditionals unless it was activated by modifying the code to do so. That would be good enough for me.

[2018-02-27 16:01] benesch commented on #17902
Haven't seen this in a good while, and it's always been a somewhat vague issue. Closing.

[2018-02-27 16:01] #17902 closed

[2018-02-27 16:02] benesch commented on #19905
Yep. Punting to 2.1, though.

[2018-02-27 16:03] benesch commented on #21324
Punting to 2.1 as this is a problem with our test infrastructure, not the infrastructure under test.

[2018-02-27 16:04] cockroach-teamcity opened #23155 "teamcity: failed tests on release-2.0: testrace/TestBackupAsOfSystemTime, test/TestBackupAsOfSystemTime"
The following tests appear to have failed:

[#538372](https://teamcity.cockroachdb.com/viewLog.html?buildId=538372):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-27 16:05] benesch commented on #18041
@a-robinson can you triage this? I know you've made some capacity gauge-related fixes in the past. Perhaps it's already fixed?

[2018-02-27 16:14] knz opened #23156 "sql: sanitize mutation statements with RETURNING"
After a discussion with @andreimatei and @jordanlewis  we can address the following :

- [x] ~sql: bracket subquery results in wrong transaction status #22208~ dup #20732.
  - scheduled for 2.0
- [x] ~sql: DMLs in statement sources don't work properly with limits #20732~ fixed #23824
  - scheduled for 2.0
- [x] ~sql: DMLs with RETURNING stream results that violate constraints #22304~ fixed #23373

[2018-02-27 16:14] knz commented on #22304
will followup in #23156

[2018-02-27 16:14] knz commented on #20732
will followup in #23156

[2018-02-27 16:15] knz commented on #22208
will followup in #23156

[2018-02-27 16:16] 0xbaadf00d commented on #22827
[code]

[2018-02-27 16:20] arjunravinarayan commented on #22827
Thanks @0xbaadf00d, that is excellent information. This gives me everything I need to know to reproduce this.

cc @jordanlewis @andreimatei for an interesting asymmetric network failure case that might shine some light on some of our performance issues that we're seeing. Do note that this is running on 1.1.5, so recent bugs on the release-2.0 branch to do with distsql misplanning should not be inv

[2018-02-27 16:21] vivekmenezes commented on #23064
failing in an indefinite wait

[code]

[2018-02-27 16:21] #14192 closed

[2018-02-27 16:31] nvanbenschoten commented on #21091
Closing because this was almost certainly fixed by the new `conn_executor`. Will re-open if we see it again.

[2018-02-27 16:31] #21091 closed

[2018-02-27 16:36] jordanlewis commented on #15363
@knz to close and re-open with a more targeted action.

[2018-02-27 16:36] #23121 closed

[2018-02-27 16:37] knz commented on #8855
I'm seeing in airtable that this is on the roadmap for 2.1, not 2.0. @awoods187 care to chime in?

[2018-02-27 16:39] bdarnell commented on #22796
No, I was thinking about 2.1. For 2.0 we should do something simpler if we can.

[2018-02-27 16:40] #10244 closed

[2018-02-27 16:41] nvanbenschoten commented on #22835
I just saw this as well, but with a different stack trace:

[code]

[2018-02-27 16:42] cockroach-teamcity opened #23159 "teamcity: failed tests on release-2.0: test/TestReplicateRemovedNodeDisruptiveElection, test/TestReplicateRemovedNodeDisruptiveElection"
The following tests appear to have failed:

[#538450](https://teamcity.cockroachdb.com/viewLog.html?buildId=538450):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-27 16:43] knz commented on #21873
The QA for this has completed on my side.

[2018-02-27 16:43] #21873 closed

[2018-02-27 16:45] knz commented on #19276
This should have disappeared with the new conn executor.

[2018-02-27 16:45] #19276 closed

[2018-02-27 16:45] knz commented on #15766
This should have disappeared with the new conn executor.

[2018-02-27 16:45] #15766 closed

[2018-02-27 16:46] knz commented on #15363
Subsumed by #15667.

[2018-02-27 16:46] #15363 closed

[2018-02-27 16:46] jordanlewis commented on #16379
cc @mjibson did you look at something similar to this?

[2018-02-27 16:48] petermattis commented on #16379
Specifically, #18076 had the same error.

[2018-02-27 16:53] jordanlewis commented on #19305
@andreimatei can you check to see if this is still happening?

[2018-02-27 16:55] jordanlewis commented on #16032
@justinj can you check to see if this is fixed?

[2018-02-27 16:59] jordanlewis commented on #19464
Ping - can we check to see if this is required for 2.0?

[2018-02-27 17:01] a-robinson commented on #23159
https://github.com/cockroachdb/cockroach/issues/22945

[2018-02-27 17:01] #23159 closed

[2018-02-27 17:05] jordanlewis opened #23161 "sql: panic: conn_executor.go:517: panic while executing 1 statements: SELECT sum(_) FROM _ WHERE ((_ = $1) AN..."
https://sentry.io/cockroach-labs/cockroachdb/issues/474718195/

[code]

[2018-02-27 17:13] bdarnell commented on #23145
Personally coming from a mysql background (where having no current database is perfectly normal), I find the postgres behavior annoying.

In postgres, creating a database is a non-sql command, so there's no question of how do you connect to the database to create your first database. We have `CREATE DATABASE` as a SQL statement, so you need to be able to connect somehow (either to some default (po

[2018-02-27 17:13] tschottdorf commented on #20863
Fixed in https://github.com/cockroachdb/cockroach/pull/23082.

[2018-02-27 17:13] #20863 closed

[2018-02-27 17:14] nvanbenschoten commented on #18659
All proposed improvements here have been addressed and we now have [some testing](https://github.com/cockroachdb/cockroach/blob/c27f5339185178b703531e4e88000c3730ce464d/pkg/storage/replica_test.go#L6616) in place to prevent any regressions. We'll want to go back and re-evaluate places where we can trim various proto overhead in the future, but I'm going to close this issue.

[2018-02-27 17:14] #18659 closed

[2018-02-27 17:15] nvanbenschoten commented on #18731
Moving to 2.1, as this will not be addressed in 2.0.

[2018-02-27 17:23] knz commented on #23147
@dfaust tip in your plots you can make txn/s use the "secondary y-axis" so the values become more clear.

[2018-02-27 17:23] nvanbenschoten commented on #18854
Closing because we haven't seen this in months and it looks like a configuration error.

[2018-02-27 17:23] #18854 closed

[2018-02-27 17:26] knz commented on #23145
Of the various options listed above, none include the situation "refuse the user a connection because the db in the conn string doesn't exist yet".

I'd personally like that the user always finds a database already available for them if they don't really know what they're doing (yet), this will lower the onramp.

[2018-02-27 17:27] nvanbenschoten commented on #13392
I have https://github.com/cockroachdb/cockroach/pull/22317 working with the second option discussed [here](https://github.com/cockroachdb/cockroach/pull/22317#issuecomment-363594994), but this change is too large and too risky to cherry-pick in to 2.0. Moving to 2.1 where it can be introduced early in the engineering cycle.

[2018-02-27 17:29] bdarnell commented on #23145
Understood, but the fact that we allow this is something that makes CRDB unusual. Other DBs only allow you to connect to databases that already exist. I happen to like this, but "connect to a non-existent database and create it as your first action" feels like a non-intuitive clever trick rather than something we have to ask everyone to do when they're first starting out.

[2018-02-27 17:29] knz commented on #23145
Ok, so don't you also support the idea to make a default db exist automatically?

[2018-02-27 17:32] bdarnell commented on #23145
Of the proposals here, I think that a `default` database created at cluster initialization time is the best option, but even that has strange edge cases. What if you drop or change permissions on the default database?

[2018-02-27 17:34] knz commented on #23145
I'd say that no users should have DROP or GRANT permission on it. If root wants to disallow CREATE after other databases have been set up, that would be kosher with me.

[2018-02-27 17:39] benesch opened #23163 "teamcity: failed tests on master: acceptance, test, testrace"
The following tests appear to have failed:

[#538538](https://teamcity.cockroachdb.com/viewLog.html?buildId=538538):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-27 17:39] benesch commented on #23163
Testing a fix to teamcity-post-failures; please ignore.

[2018-02-27 17:39] #23163 closed

[2018-02-27 17:40] #22378 closed

[2018-02-27 17:42] bdarnell commented on #23151
Wow, the `service ntp stop` bug is a lot more active than usual today.

- g2/strobe-skews: #20492
- monotonic/start-stop-2 #20492
- monotonic/majority-ring+subcritical-skews: #20492
- register/majority-ring+subcritical-skews: #22933
- sets/parts+start-kill-2: #20492

[2018-02-27 17:42] #23151 closed

[2018-02-27 17:48] vivekmenezes commented on #19605
@justinj do you think we should do this? I'm assuming this will turn on random JSON testing which will be good.

[2018-02-27 17:52] benesch opened #23164 "teamcity: failed tests on master: test/TestBuilder, testrace/TestInitialPartitioning, acceptance/TestGossipRestart, testrace/TestBuilder"
The following tests appear to have failed:

[#538538](https://teamcity.cockroachdb.com/viewLog.html?buildId=538538):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-27 17:54] danhhz commented on #18209
This has been moved to 2.1

[2018-02-27 17:58] a-robinson commented on #23117
Fixed by #23136/#23153, right @benesch?

[2018-02-27 18:01] benesch commented on #23164
#23165

[2018-02-27 18:01] #23164 closed

[2018-02-27 18:02] benesch commented on #23117
Yep, was just verifying! Adriatic's SST count exactly matches the on-disk count on all six of its nodes since 59246c8 was deployed. Considering this fixed.

[2018-02-27 18:02] #23117 closed

[2018-02-27 18:08] a-robinson commented on #18041
* 1.0.x was clearly broken.
* 1.1 looks reasonable for Docker for Mac. Docker for Mac runs in a VM with a default max disk size of 64 GiB -- it doesn't have access to your entire machine's disk.
* I don't have a good sense of what's going on in the double counting case. I wasn't able to repro when running docker on Linux, but I was using a GCE VM rather than a local VirtualBox VM. We're getting th

[2018-02-27 18:08] #18041 closed

[2018-02-27 18:23] justinj commented on #19605
I know we did some of this - I forget how much, I'll take a look

[2018-02-27 18:23] RaduBerinde commented on #22925
`pq: TransactionStatusError: does not exist`. Seems the same with #22926.

[2018-02-27 18:24] andreimatei commented on #23161
#22835

[2018-02-27 18:24] #23161 closed

[2018-02-27 18:24] RaduBerinde commented on #22926
Not sure who can look at this. @andreimatei do you know anything about this error? `pq: TransactionStatusError: does not exist`.

[2018-02-27 18:26] andreimatei commented on #22835
I've got no idea why this error is occuring, since we always seem to be storing `error` in the atomic, but in any case #22908 gets rid of one of the setters, so hopefully that'll fix it.

[2018-02-27 18:27] andreimatei commented on #22926
That error, I believe, means that we tried to use a txn whose txn record was previously cleaned up. Hard to say whether this is expected at all or not... I'll take a look next week.

[2018-02-27 18:37] dianasaur323 commented on #18598
@a-robinson I haven't seen this in a while, so I think it's safe for us to close for now

[2018-02-27 18:39] benesch commented on #18598
:tada:

[2018-02-27 18:39] #18598 closed

[2018-02-27 18:40] danhhz commented on #19464
I don't think it's critical enough to meet our cherry-pick standards (and unless something has changed, it was going to require a refactor of CREATE TABLE that I'm not comfortable with this late in the game). So my inclination is no, unless @benesch or @awoods187 disagrees.

[2018-02-27 18:41] andreimatei commented on #22839
Any idea if this is reproducible?

[2018-02-27 18:44] andreimatei commented on #22933
If the retriable error occurs during the regular execution of the CREATE/DROP then, as always, whether or not the client gets to see the error should depend on whether we sent any previous results for statements in the respective transaction to the client.
If the error occurs during the execution of the queued-up schema change, then the connExecutor itself doesn't retry anything. But the schema ch

[2018-02-27 18:45] vilterp opened #23168 "ui: jobs page sometimes shows "this.props.long" instead of job description"
![image](https://user-images.githubusercontent.com/7341/36747930-623804ba-1bc4-11e8-8faf-d8ec105d0d2a.png)

Looks like we forgot some curly braces in the JSX.

[2018-02-27 18:50] bdarnell commented on #22933
I don't know about locally, but I think it should be easy to reproduce with roachprod (I haven't tried, though). Just dropping and recreating tables in a tight loop (possibly using different gateways; I don't know whether jepsen is sticking to a single gateway or spreading the queries around) should be enough to do it (maybe put some data in the table so it's not empty when it is dropped). This is

[2018-02-27 18:51] benesch commented on #19464
Agreed.

[2018-02-27 18:53] dt commented on #21233
4min pkg timeout, so probably just a slow agent. We've split up the the package since, so should be harder to hit that now.

[2018-02-27 18:53] #21233 closed

[2018-02-27 18:54] awoods187 commented on #19464
What are the implications of the usability hit?

[2018-02-27 18:57] jordanlewis opened #23171 "sql: panic: concurrent map read and map write with parallel statements"
Seen when running a local tpcc with @nvanbenschoten's recent RETURNING NOTHING changes.

[code]

[2018-02-27 18:58] a-robinson commented on #21233
Yeah, I've been `stressrace`ing this on a gceworker for about 20 minutes now with no repro.

[2018-02-27 18:59] danhhz commented on #19464
This issue is about using SQL placeholders when defining partitions, something like the following:

[code]

[2018-02-27 19:06] dfaust commented on #23147
You're right, I didn't make that very clear.

And thanks for the tip, I updated the plots.

[2018-02-27 19:12] justinj opened #23173 "sql: support pg_column_size"
Postgres has a function `pg_column_size` that tells you the number of bytes that a datum is stored as. Since we recommend that users keep datums below 1MB, for datums where the storage size is a bit more opaque than `BYTES`, like `JSONB` and arrays, it would be useful to provide this function so that users can write `CHECK` constraints or inspect their data.

[2018-02-27 19:18] BramGruneir commented on #22647
@pbardea's steps to repro the panic:
[code]

Just confirmed it locally.

[2018-02-27 19:18] RaduBerinde commented on #19552
It looks like currently even though the generated code is checked in, the files get rebuild when switching branches. So if we're paying that cost anyway, we might as well reconsider removing the files from the repo.

The other con of not being able to build cockroach with std tool chain - that is also already the case (because of sql.go generation).

[2018-02-27 19:23] dt commented on #19552
yeah, since sql.go switched to auto-generate, we broke consuming almost all our packages outside cockroach, and now, since #21402,  we re-generate everything on the fly, so there's little reason left to keep these checked in.

[2018-02-27 19:24] dt commented on #19552
(though I think we should wait at least until 2.0 is stabilized before making a big, conflict-y change like removing them)

[2018-02-27 19:29] jordanlewis commented on #22835
I added some logging around this. It is complaining that we're trying to store a `*roachpb.HandledRetryableTxnError` in the `Value`, which already contains a `*pgerror.Error`.

Specifically, the error is `HandledRetryableTxnError: TransactionAbortedError: txn aborted "sql txn" id=534b6981 key=/Table/55/1/20/1/-2133/0 rw=true pri=0.06326698 iso=SERIALIZABLE stat=PENDING epo=0 ts=1519759315.69172138

[2018-02-27 19:30] jordanlewis commented on #22835
It seems fundamentally that `atomic.Value` *does* in fact care about the underlying type of the error, though, so we need to be more careful with this.

[2018-02-27 19:31] bdarnell commented on #22945
#18582

[2018-02-27 19:31] #22945 closed

[2018-02-27 19:39] jordanlewis commented on #22835
We should have just read the docs on `atomic.Value`.

https://golang.org/pkg/sync/atomic/#Value

This is just not an appropriate use of `atomic.Value.

[2018-02-27 19:49] bsnyder788 opened #23176 "storage: UPSERT in SNAPSHOT isolation can write incorrect index records"
**BUG REPORT**

% cockroach version                                                                                                                                                                                                                                                               cockroach
Build Tag:    v1.1.5
Build Time:   2018/02/05 17:40:57
Distribution: CCL
Platform:     linux amd64
G

[2018-02-27 19:49] petermattis opened #23177 "roachtest: report success failure to slack"
In addition to the normal teamcity reporting, `roachtest` can/should send a summary of results to a slack channel. https://github.com/cockroachdb/roachprod/pull/94 shows that doing this is relatively easy. Nightly test failures have often fallen through the cracks. This would ensure that we're aware and annoyed by the failures.

[2018-02-27 19:53] dt commented on #19341
@dianasaur323 says we'll stick with the current behavior for now.

[2018-02-27 19:53] #19341 closed

[2018-02-27 19:53] benesch commented on #19464
But SQL injection is largely a non-issue here because 99.9% of apps are not running `CREATE TABLE`s in response to user input.

[2018-02-27 19:56] #23168 closed

[2018-02-27 19:57] a-robinson commented on #21264
I've been unable to reproduce this in 20k stressrace runs over 70 minutes on master. I could reproduce it in 49 runs and 21 seconds on 707d9438df09d6d725508796cb757a0935d746bd, a SHA from January 5.

[2018-02-27 19:57] #21264 closed

[2018-02-27 20:00] awoods187 commented on #19464
After discussion in today's meetings, we will move this to 2.1. In the meantime, @Amruta-Ranade will create a docs issue for addressing in 2.0 as a known limitation.

[2018-02-27 20:02] danhhz commented on #23107
@bobvawter, peter suggested that you could pick this off. I'm happy to help with any roachtest questions, but I don't have a lot of context for the details of what this would look like, I suggest you ping @nvanbenschoten or @tschottdorf for that

[2018-02-27 20:08] nvanbenschoten commented on #22835
Take a look at https://github.com/hashicorp/terraform/pull/11761. The `errWrap struct { E error }` approach they use there is probably the most straightforward way to get around this.

[2018-02-27 20:21] petermattis commented on #23138
`rocksdb.num-snapshots` doesn't seem to include the implicit snapshots held by iterators, but I think that is ok because we can maintain the number of open iterators ourselves in the `libroach` code.

[2018-02-27 20:21] mrtracy commented on #21109
There definitely appears to be a bizarre problem with the ranges metric:

![screen shot 2018-02-27 at 3 20 12 pm](https://user-images.githubusercontent.com/6969858/36752721-e8de3d24-1bd1-11e8-9325-1913896a54af.png)

[2018-02-27 20:28] bdarnell commented on #20977
These failures occurred during the setup phase of the test, when it was upreplicating range 1 to the 10 test nodes. We start seeing context cancellations and failed liveness heartbeats.

[code]

This failure hasn't been seen since Feb 5 (and prior to that it had been seen every few days). I haven't had any luck reproducing it. I'm going to optimistically close this as fixed by some of the other st

[2018-02-27 20:28] #20977 closed

[2018-02-27 20:34] benesch commented on #23138
The stat that does reflect the implicit snapshots is `rocksdb.num-live-versions`. It'll sit at `1` even with an open iterator until a new SST is created, though, so it's not granular enough to use for leak detection. Agreed that the easiest approach is to refcount iterators ourselves.

Are you actively working on this, @petermattis?

[2018-02-27 20:36] #23152 closed

[2018-02-27 20:41] #22579 closed

[2018-02-27 20:41] petermattis commented on #23138
Not actively, but I can certainly do it.

[2018-02-27 20:47] a-robinson commented on #21051
I've had no luck reproducing this, and we don't have the full output from when it failed. Do you remember anything about this failure, @tschottdorf?

[2018-02-27 20:48] a-robinson commented on #10738
Fixed by https://github.com/cockroachdb/cockroach/pull/23162

[2018-02-27 20:48] #10738 closed

[2018-02-27 20:50] bdarnell commented on #23105
Nevermind, we already do this. For epoch-based leases, NodeLiveness.StartHeartbeat forces an increment on the first heartbeat. For expiration-based leases, see the minLeaseProposedTS argument to Replica.leaseStatus.

[2018-02-27 20:50] #23105 closed

[2018-02-27 21:07] danhhz commented on #23140
Conveniently, it may also have been his commit. Bisecting yielded

[code]

[2018-02-27 21:08] justinj commented on #16032
Seems not fixed.

[2018-02-27 21:15] vilterp commented on #20653
### An example of what you can't do

maybe we can put this in the docs cc @Amruta-Ranade

1. Set up locality flags like this:

[code]

2. Try to add locations to both az=a's:
Primary key uniqueness violation, since the primary key is `localityKey, localityValue`.

### What you would do instead:

1. Set up your locality flags the same way:

[code]

2. Add locations at the region level, since az's w

[2018-02-27 21:17] benesch commented on #23138
Now that #23183 is in the works with a different approach, is it still worth tracking `num-snapshots`, `oldest-snapshot-time`, and `num-live-versions`? I have a half-baked PR to do so.

A graph of `num-live-versions` might be a handy way of spotting an SST leak in production, but perhaps it won't come up if we refcount iterators properly.

[2018-02-27 21:33] bdarnell commented on #23138
I think it would be nice to go ahead and get those plumbed into timeseries (and for `oldest-snapshot-time`, let's subtract it from now so the timeseries is `oldest-snapshot-age`). We do sometimes use snapshots that don't come from iterators (and we might do more in the future; this could let us reduce read blocking in the command queue).

[2018-02-27 21:34] #18582 closed

[2018-02-27 21:56] #17554 closed

[2018-02-27 22:13] cockroach-teamcity opened #23189 "teamcity: failed tests on master: test/TestNodeStatus, test/TestNodeStatus"
The following tests appear to have failed:

[#539254](https://teamcity.cockroachdb.com/viewLog.html?buildId=539254):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-27 23:09] jordanlewis commented on #23176
The quickest workaround is to delete the row and re-insert.

Were you using SNAPSHOT-isolation transactions when writing to these tables?

[2018-02-27 23:21] nvanbenschoten commented on #19746
The change to remove the key bounds from the ReplicaEvalResult proto should improve the situational when operating on extremely large keys. Still, I expect there to be a lot of issues with doing so.

The rest of this issue concentrates on enforcing a size limit on variable length data types that are used for SQL keys. This limit is already implicitly enforced by the new `TimestampCache`, which won

[2018-02-27 23:23] #23140 closed

[2018-02-27 23:24] lhirata opened #23190 "sql: panic on CREATE INVERTED INDEX"
**BUG REPORT**

[code]

Created table with JSONB column and tried to create an inverted index.

1. Start three nodes locally, insecure.
2. Create database:
[code]
3. Create table:
[code]
4. Insert data:
[code]
5. Create inverted index:
[code]
After, I got the following errors were printed to stderr:

[code]

And Node 1 and 3 crashed with the following panics:

[code]

[code]

[2018-02-27 23:25] cockroach-teamcity opened #23192 "teamcity: failed tests on master: test/TestNodeStatus, testrace/TestNodeStatus"
The following tests appear to have failed:

[#539351](https://teamcity.cockroachdb.com/viewLog.html?buildId=539351):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-27 23:33] a-robinson commented on #23189
Fixed by https://github.com/cockroachdb/cockroach/pull/23188

[2018-02-27 23:33] #23189 closed

[2018-02-27 23:33] a-robinson commented on #23192
Fixed by https://github.com/cockroachdb/cockroach/pull/23188

[2018-02-27 23:33] #23192 closed

[2018-02-27 23:48] cockroach-teamcity opened #23194 "teamcity: failed tests on master: test/TestNodeStatus, testrace/TestNodeStatus"
The following tests appear to have failed:

[#539389](https://teamcity.cockroachdb.com/viewLog.html?buildId=539389):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-27 23:58] a-robinson commented on #23194
Fixed by https://github.com/cockroachdb/cockroach/pull/23188

[2018-02-27 23:58] #23194 closed

[2018-02-28 00:54] awoods187 commented on #19313
Community request: what are some use cases that you want to use geospatial indexing for?

[2018-02-28 01:00] jordanlewis opened #23195 "kv: dist sender should monitor context cancellation"
Currently, if the dist sender's context is cancelled, it appears to rely on all of its underlying replicas to tell it that they've all been cancelled. Only at that point will the dist sender propagate that error upward.

This seems like a waste of time. If the dist sender's context is cancelled, it seems to me that it should be able to short circuit doing any further work and give up.

[2018-02-28 01:01] jordanlewis commented on #23195
Here's the evidence:

![image](https://user-images.githubusercontent.com/43821/36764070-e4a96d9c-1bf8-11e8-892d-9c6355bf6c99.png)

As you can see, both the remote call and local call return context cancelled, at which point the distsender quits. Since the local call is returning context cancelled, that also implies that the dist sender's input context has been cancelled and should have short circu

[2018-02-28 01:10] jordanlewis commented on #23195
Hmm, although it's clear that `sendPartialBatch` uses a `retry.StartWithCtx` for the loop that tries all of the replicas, which gives up if the context was cancelled. I must be missing something.

[2018-02-28 01:12] jordanlewis commented on #23195
Oh, no, the retry loop in `sendPartialBatch` is at a higher level. It's `sendToReplicas` that is missing the context cancelled check.

[2018-02-28 02:14] MakMukhi commented on #17370
Hey guys! We have been working on this issue quite a bit lately to try and reduce lock contention. We have a change that is in review right now but I wanted to create an external diff(base isn't the head though but it isn't too long in past) to share with you guys. Let us know if it's helpful and if you have any feedback.
We have ran @petermattis 's pinger benchmark on it.

Before:
[code]

After:

[2018-02-28 02:25] a-robinson opened #23198 "sql: "mismatched types" panic when opening logspy"
While running a 4 node local cluster on master (df2e82a76c2ecf7ae445d650ef21461c895b425e) with some local changes unrelated to SQL (zone config proto and allocator changes, to be precise), I enabled logspy on the first node by loading https://localhost:8080/debug/logspy?count=1000&duration=10s&grep=allocator and the node quickly panic'ed with the following logs:

[code]

There's no load running on

[2018-02-28 02:36] RaduBerinde commented on #23198
[code]
`row` can be `nil` here.

[2018-02-28 02:51] abhimadan commented on #23198
Interesting, it looks like `row` being `nil` would have been a problem before my change as well. I'll try to reproduce this and see what I find.

[2018-02-28 02:53] RaduBerinde commented on #23198
Very possible, code under V(3) rarely gets exercised

[2018-02-28 03:14] #22835 closed

[2018-02-28 03:30] jordanlewis commented on #22591
This wasn't marked as 2.0 so it escaped notice earlier today - just pinging as this needs to get done by 2.0.

[2018-02-28 04:10] jseldess opened #23203 "Inconsistent behavior between CREATE USER and cockroach user set in insecure cluster"
If you attempt to create a user with a password in an insecure cluster:
- When using `CREATE USER`, the user creation fails.
- When using `cockroach user set`, the user creation succeeds but without the password.

I'm not sure which behavior is correct. I'd vote for failing user creation entirely.

[code]

[2018-02-28 04:12] jseldess commented on #23203
@mberhault, @awoods187, @vivekmenezes, I found this when testing in prep for updating docs based on https://github.com/cockroachdb/cockroach/pull/22328.

[2018-02-28 04:16] abhimadan commented on #23198
I wasn't able to reproduce, but I noticed that `system.eventlog` has the same schema as the types shown in the panic, and the `/_admin/v1/events` request handler runs a select query on that table ([see here](https://github.com/cockroachdb/cockroach/blob/6840a40292c63e359ec780b75426eb16e7e4e155/pkg/server/admin.go#L696-L710)). It looks like the admin UI hits this endpoint, so that could have caused

[2018-02-28 04:27] jordanlewis commented on #23171
cc @andreimatei

I believe the problem here is that a pgwire `PreparedPortal` has a single underlying `map` of placeholder types that gets passed to the `EvalContext` and `SemaContext` of a running query.

When executing a prepared statement that can be parallelized, the `PreparedPortal`'s placeholder type map is sent to the `ParallelizeQueue` as normal, without copying. If the execution of that s

[2018-02-28 05:03] RaduBerinde commented on #23198
System tables are not that different from regular tables, so that isn't unusual.. I assume you set the appropriate vmodule flags so the V(3) would be exercised? There are a bunch of cases where we might get metadata (e.g. misplanned ranges info).

In any case, the fix is clear: skip the printing if the row is nil.

[2018-02-28 05:23] abhimadan commented on #23198
I passed `--verbosity=3` in the invocation. FWIW, I think it's possible that another admin UI page sent the request that caused this particular panic, since it doesn't seem like the logspy page looks at `eventlog` (I could be wrong though, would need to check with someone more knowledgeable about the admin UI to confirm).

Agreed about the fix: I don't think anything else needs to be done for it,

[2018-02-28 09:24] cockroach-teamcity commented on #22925
SHA: https://github.com/cockroachdb/cockroach/commits/0e0cc2b3a0547f783d1301220aabce038dcbc478

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=539873&tab=buildLog

[2018-02-28 10:53] knz commented on #23171
Similar to #22847

[2018-02-28 13:28] BransonGitomeh commented on #15441
@jordanlewis waiting on the pgweb support! thanks

[2018-02-28 13:38] jordanlewis commented on #23171
Similar, but thankfully easier to fix. This doesn't mutate the AST or anything. It modifies the values in EvalContext, which seems much more valid to me.

[2018-02-28 13:47] a-robinson commented on #23198
Yeah, there's no mystery to be solved here. I had one of the Metrics pages (which includes a box containing recent events from the event log) open in another tab.

[2018-02-28 14:07] bdarnell commented on #23176
Or READ COMMITTED?

[2018-02-28 14:10] petermattis commented on #17370
@MakMukhi Thanks. We're busy burning down bugs for our next release for the next few weeks. Will definitely take a look at this after that.

[2018-02-28 14:13] knz commented on #18856
I have had a look into this. This is a larger issue than it first seemed because it requires a rather large refactor of our SQL grammar. Will look into it for 2.1 instead of 2.0.

[2018-02-28 14:28] knz commented on #18856
Proposing #23208 but lemme see if my colleagues agree on having such a special case compatibility rule.

[2018-02-28 14:44] bsnyder788 commented on #23176
@jordanlewis @bdarnell thanks for the replies - we are using SNAPSHOT isolation (READ COMMITED via the Java PG driver from our application).

When I tried doing the delete and re-add (from cockroach shell manually at default isolation) I was back in the same scenario, the data is still wrong and exhibits the same behavior as my opening comment.

I also tried the delete / re-insert path prior to op

[2018-02-28 14:47] bsnyder788 commented on #23176
Also, after the delete and before the re-insert, the following queries do correctly return 0 rows.

```SELECT * FROM task@task_by_location_synced WHERE ((location_id = 'man01.ilandcloud.com') AND (synchronized = true)) AND (initiation_time = '2018-02-27 15:19:24.281+00:00');```

```SELECT * FROM task@task_by_location_synced WHERE ((location_id = 'man01.ilandcloud.com') AND (synchronized = false))

[2018-02-28 14:57] #23125 closed

[2018-02-28 15:00] a-robinson commented on #23190
Calling @spencerkimball based on his recent `InitPut` changes.

[2018-02-28 15:05] spencerkimball commented on #23190
This appears unrelated. Perhaps @nvanbenschoten can comment.

[2018-02-28 15:12] cockroach-teamcity opened #23210 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#539606](https://teamcity.cockroachdb.com/viewLog.html?buildId=539606):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-28 15:17] abhimadan commented on #23198
Ah, that's it. I was able to reproduce the panic by going to the metrics page with V(3). Thanks @a-robinson!

[2018-02-28 15:30] bdarnell opened #23214 "hlc: Guard against forward time jumps"
`hlc.Clock` implements a monotonic ratchet so that time never moves backwards within a process, but  our only safeguard against forward clock jumps is the periodic inter-node heartbeat checks, which gives a window in which anomalies could occur.

To provide a stronger guarantee, we could check for forward time jumps in `hlc.Clock.getPhysicalClockLocked`: If the time returned is greater than `lastP

[2018-02-28 15:42] justinj commented on #22413
Fixed by #22500

[2018-02-28 15:42] #22413 closed

[2018-02-28 15:52] #23198 closed

[2018-02-28 15:58] justinj commented on #15649
Seems this is still happening, but I think it will probably be resolved by the upcoming optimizer changes - going to push to 2.1

[2018-02-28 15:59] #23203 closed

[2018-02-28 15:59] justinj commented on #22214
Yes, done.

[2018-02-28 15:59] #22214 closed

[2018-02-28 16:00] justinj commented on #21877
Going to close this QA issue for the time being. @jordanlewis if you would like me to do another pass, let me know.

[2018-02-28 16:00] #21877 closed

[2018-02-28 16:01] justinj commented on #20610
Still don't know, going to push to 2.1.

[2018-02-28 16:01] justinj commented on #19605
Yes, we do this now.

[2018-02-28 16:01] #19605 closed

[2018-02-28 16:07] bdarnell commented on #23210
#20492

[2018-02-28 16:24] nvanbenschoten commented on #23190
`InitChecksum` panics if it is called multiple times on the same `roachpb.Value`. We expect `(*Batch).InitPut` to set the checksum, so `indexBackfiller` should not be passing in values with an initialized checksum. The code is [already aware](https://github.com/cockroachdb/cockroach/blob/00c57b1ac2b4fd8f82b185e89e60b83c73bece39/pkg/sql/distsqlrun/indexbackfiller.go#L240) of this to some extent, so

[2018-02-28 16:41] knz opened #23219 "sql: exec log does not automatically flushed"
The exec log enabled via the cluster setting `sql.trace.log_statement_execute` currently only gets flushed on rotations (default: every 10MB) or process shutdown. The automatic flush daemon is not running for it.

Spotted by @BramGruneir

[2018-02-28 17:22] arjunravinarayan opened #23222 "cli: cockroach gen haproxy doesn't accept url flags"
`cockroach gen haproxy` accepts `--host`, `--port`, etc. in order to connect to a cluster and generate a load balancer configuration file using the information about all the nodes connected to that cluster. However, it does not take `--url`, as `cockroach sql` does. There's no reason for this incompatibility, and we should add support for `--url` as well.

[2018-02-28 17:29] ReidE96 commented on #13991
Currently using liquibase and investigating cockroach - thus far there's been two main issues presenting:
1) Cockroach 1.1 not supporting non-restrict constraints (which I'm aware is implemented for 2.0, so just noting for others' reference before that releases)
2) Failure on dropping a primary key. This is caused by the postgresql driver using the DO command for these, so given that's psql specif

[2018-02-28 17:33] rjnn opened #23223 "sql: dropping large table blocks creation of new table with the same name"
there has been a regression in schema changes w.r.t. dropping tables.

I ran the following commands:

`ycsb --splits=1000`

Then I ran `ycsb --splits=1000 -drop`, which drops the existing table, and recreates a new table and fills it. I got the following error:

`2018/02/28 17:28:52 Setting up database failed: pq: table is being dropped`

This is not supposed to happen. This was previously reporte

[2018-02-28 17:53] spencerkimball commented on #23190
@vivekmenezes, perhaps you could take a look at this then.

[2018-02-28 18:10] nvanbenschoten commented on #23190
I think @m-schneider is on the case already.

[2018-02-28 18:48] andreimatei commented on #22933
OK, will try to repro.

[2018-02-28 18:50] #23219 closed

[2018-02-28 19:11] mjibson commented on #16379
This could be the second error listed in https://github.com/cockroachdb/cockroach/issues/22924 which is caused by data being split mid row. Did this happen again?

[2018-02-28 19:19] mrtracy commented on #16592
Closing this, there's nothing here that isn't captured in other issues.

+ #15931 is fixed; users can now reduce the amount of time that time series are retained via the cluster setting `timeseries.resolution_10s.storage_duration`.
+ #12675 is fixed; users can now completely disable time series storage using cluster setting `timeseries.storage.enabled`.

In addition to these, #21601 will be landin

[2018-02-28 19:19] #16592 closed

[2018-02-28 19:24] mjibson commented on #23155
Fixed by #23199

[2018-02-28 19:25] #23155 closed

[2018-02-28 19:25] mrtracy commented on #16288
This has been done for a while, under-replicated ranges appear on the cluster overview.

![screen shot 2018-02-28 at 2 24 55 pm](https://user-images.githubusercontent.com/6969858/36808481-2d59d3fc-1c93-11e8-9a0f-78861a6c383f.png)

[2018-02-28 19:25] #16288 closed

[2018-02-28 19:26] vivekmenezes commented on #16379
this is panic reported by sentry last June. We're just wondering if this
could have been seen due to an IMPORT

On Wed, Feb 28, 2018 at 2:12 PM Matt Jibson <notifications@github.com>
wrote:

[2018-02-28 19:27] mjibson commented on #16379
Yes, definitely. IMPORT was causing exactly this kind of thing. I think it could have happened in June.

[2018-02-28 19:31] knz commented on #16379
Ok cool so this has been addressed. Closing.

[2018-02-28 19:31] #16379 closed

[2018-02-28 19:32] jordanlewis commented on #21651
Closing in favor of the better-specced issue in #22300.

[2018-02-28 19:32] #21651 closed

[2018-02-28 19:46] #21433 closed

[2018-02-28 19:46] #23063 closed

[2018-02-28 20:10] knz commented on #16971
Looking at this briefly on @awoods187's request. Resolution here requires support for record types in in-memory values (datums or whatever will replace them), not db encoding for them (i.e. we don't need to store them). Analogous to the same distinction we used when array support was first implemented.

[2018-02-28 20:13] cockroach-teamcity opened #23238 "teamcity: failed tests on master: testrace/TestTrace"
The following tests appear to have failed:

[#540811](https://teamcity.cockroachdb.com/viewLog.html?buildId=540811):

[code]

Please assign, take a look and update the issue accordingly.

[2018-02-28 20:18] andreimatei commented on #22933
I'm trying to reproduce, but I'm running into a different problem. I'm doing:
`DROP TABLE foo; CREATE TABLE foo` and (sometimes?) the create fails with `could not be created: pq: relation "table_42" already exists`. The statements are not inside a txn.
@vivekmenezes can you please remind me if this is expected? It shouldn't be because the schema change for the drop is supposed to only return after

[2018-02-28 20:18] jordanlewis commented on #23176
That's interesting. Perhaps there is a bug in index selection and/or span generation. Can you reproduce this issue with any of the other rows in the dataset, or just that row?

Thanks for reporting this.

[2018-02-28 20:21] BramGruneir commented on #19110
A client had this happen as well.  Promoting it to a 2.0 issue.

[2018-02-28 20:23] petermattis commented on #16971
@jordanlewis Is the query that hibernate issues identical to the use of `_pg_expandarray` on other ORMs? Or are there minor syntactic differences. I'm wondering if we can do something even simpler (re: more hacky) than in-memory support for the record type.

[2018-02-28 20:28] #18201 closed

[2018-02-28 20:28] jordanlewis commented on #16971
They're not all identical. Sometimes they occur in the context of larger queries. Here's another example:

[code]

The only thing we really need to support for this "indexing into" the `_pg_expandarray` function with the `.x` syntax, for the `x` and `n` fields.

[2018-02-28 20:34] bsnyder788 commented on #23176
@jordanlewis This is not the first time I have seen this behavior, but it happens very infrequently, leading me to believe it is a rare edge case in the same vein as your theories.  I wish we had the @index_selection available for non select queries available in 1.1.x now :) so I could test forcefully deleting on the actual index to see if it made a difference.  I know its on the roadmap / in the

[2018-02-28 20:36] vilterp opened #23239 "ui: clusterviz: default entries in system.locations?"
It would be nice if people using common locality flags like `region=us-east-1` could see the map without having to insert lat/longs into `system.locations`.

The roachmart example inserts them (cc @benesch): https://github.com/cockroachdb/cockroach/blob/c389397a3ecbc45d2bd95de693f9a304e5bd1b0d/pkg/ccl/workloadccl/roachmartccl/roachmart.go#L63-L67

I believe @Amruta-Ranade has also been compiling a

[2018-02-28 20:37] m-schneider opened #23240 "sql: drop table not being traced"
I ran a drop table and it's not showing up in debug/request even though I had set cluster setting trace.debug.enable=true.

[2018-02-28 20:38] arjunravinarayan opened #23242 "cli: synctest clobbers the specified directory"
This is completely undocumented and not warned, so naively running `cockroach debug synctest ~` destroyed my VM (since it clobbered `~/.ssh` and I couldn't log back in).

`synctest` should be changed to refuse to work on existing directories.

I am fixing this now.

[2018-02-28 20:41] m-schneider opened #23244 "sql: drop table taking more than 5 minutes to drop a table with 2 rows"
I've been trying to reproduce an unrelated panic by repeatedly creating and dropping the same table. Steps to reproduce the slowness are:

1. Start a local insecure cluster with 3 nodes.
2. Create a table with multiple columns.
3. Add 2 rows to the table.
4. Add an index for a column.
5. Restart every node in the cluster.
6. Drop the table.
7. Wait 1-6 minutes.

[2018-02-28 20:42] m-schneider commented on #23244
@vivekmenezes, can you please triage?

[2018-02-28 20:44] bsnyder788 commented on #23176
Would it be interesting to leave it deleted for a day or two and try to re-insert, etc after that to see if it has been cleaned up after being stale for over a day?  Possibly influenced by the AS OF SYSTEM TIME stuff and time travel queries keeping something around that it shouldn't?  Not quite familiar enough with the code base to know how that plays into the whole storage / query layer picture.

[2018-02-28 21:01] justinj commented on #23244
I've seen this before, something to do with a node having a lease and then dying, and then the rest of the cluster having to wait for the lease to expire?

[2018-02-28 21:01] BramGruneir commented on #22647
Fixed in #23229.

[2018-02-28 21:01] #22647 closed

[2018-02-28 21:02] mrtracy commented on #21109
The raft leader count is in a steady state of being significantly lower than the reported range count, which is itself much lower than the expected actual range count:

![screen shot 2018-02-28 at 4 01 22 pm](https://user-images.githubusercontent.com/6969858/36812923-bcdc6820-1ca0-11e8-8ff8-01ee096de774.png)

[2018-02-28 21:13] jordanlewis commented on #23176
I don't think it has anything to do with `AS OF SYSTEM TIME`, which just informs the system that it should not look at MVCC versions of keys newer than the given time.

My initial hunch was that it's a bug with `SNAPSHOT` isolation (which we used to silently upgrade `READ COMMITTED` to), which is currently under suspicion as having some subtle issues. I recommend that you avoid using `SNAPSHOT` is

[2018-02-28 21:31] vilterp opened #23250 "ui: clusterviz: For dead nodes, say "down for <downtime>", not "up for <uptime>""
Wrong:
<img src="https://user-images.githubusercontent.com/5768024/36689949-df5cd356-1afe-11e8-9f9a-2e1d77bd9942.png"/>

[2018-02-28 21:32] vilterp commented on #23099
Second issue filed as #23250

[2018-02-28 21:33] BramGruneir commented on #19110
In our v2.0-alpha.20180129

[code]

[2018-02-28 21:36] bsnyder788 commented on #23176
@justinj  Do you just want a transcript of the DELETE, SELECT, INSERT, SELECT flow that I described, in the same format as my opening comment?

[2018-02-28 21:37] justinj commented on #23176
Yes, that would be great.

[2018-02-28 21:50] bsnyder788 commented on #23176
[code]

[2018-02-28 21:51] vivekmenezes commented on #23244
I suspect it is because the alter index kills a node and that node has a schema change lease on the table. Currently schema change leases last for 5 minutes (SchemaChangeLeaseDuration)

[2018-02-28 21:54] m-schneider commented on #23244
The 5 minutes is very consistent with what I'm seeing.

On Wed, Feb 28, 2018 at 4:52 PM, vivekmenezes <notifications@github.com>
wrote:

[2018-02-28 21:57] justinj commented on #23176
Thanks - I know it's a lot to ask, but could you also share a `SHOW CREATE TABLE task` and the `EXPLAIN` output of each of the queries?

[2018-02-28 22:00] nvanbenschoten commented on #18901
I do still see this, but it's very rare.

[2018-02-28 22:03] vilterp commented on #23099
Can't repro the "new node comes up as dead" issue; new nodes come up green. Not sure why the suspect node isn't in the graph; seems like a separate issue. Gonna close this for now; we can reopen or file separate issues if we see more stuff like this.

[2018-02-28 22:03] #23099 closed

[2018-02-28 22:07] andreimatei opened #23251 "sql: schema change leads to "not hit TTL deadline" error"
Start a server, run:
[code]

Around 40s later, the log periodically starts showing:
[code]

@vivekmenezes, do you know what this is about?

[2018-02-28 22:10] bsnyder788 commented on #23176
No problem. In the exact same order as the previous transcript.

[code]

[2018-02-28 22:24] vivekmenezes commented on #22933
That shouldn't be happening. Can you send me a PR that reproduces this
problem.

Vivek

On Wed, Feb 28, 2018, 3:18 PM Andrei Matei <notifications@github.com> wrote:

[2018-02-28 22:26] vivekmenezes commented on #23251
That's just saying that the data is waiting for the GC interval to expire
before getting cleared. But let me fix the error message and let me block
this message from being logged

On Wed, Feb 28, 2018, 5:07 PM Andrei Matei <notifications@github.com> wrote:

[2018-02-28 22:31] mrtracy commented on #21109
Okay, I found at least one range like this after randomly looking at range stats:

![screen shot 2018-02-28 at 5 27 11 pm](https://user-images.githubusercontent.com/6969858/36816726-add602d0-1cac-11e8-8693-c30283e29eb9.png)

Two of the replicas do not have a raft state at all for this node.  However, the one node that does have a raft state is a follower, and believes one of the two dormant nodes

[2018-02-28 22:32] andreimatei opened #23254 "lots of table creates lock up cluster. Contention on the SystemConfigSpan?"
I'm playing around trying to repro the badness in #22933 and I can get something interesting to happen: I'm creating 100 goroutines that all create new table after new table on a 3-node `TestCluster`. At some point, the cluster seem to just lock up - RPCs don't seem to get responses any more.
To repro, take this commit: https://github.com/andreimatei/cockroach/commit/b68f60278aea28040235ed7d3adb56

[2018-02-28 22:34] mrtracy commented on #21109
To put it succinctly, ranges will be undercounted if the Raft Leader goes "dormant" (has nil Raft State), but is not the lowest-numbered live replica

[2018-02-28 22:47] bdarnell commented on #22691
The panicking function is `RequestUnion.GetInner`, which is a single line (`return ru.GetValue().(Request)`. I've been assuming that the error here is that `GetValue()` returns nil, and then the type conversion panics. It does panic, but with a different message, at least when I reproduce this pattern [in isolation](https://play.golang.org/p/drg4h36WxyG): `interface conversion: interface is nil, n

[2018-02-28 22:50] vilterp commented on #21109
Removing from the 2.0 admin ui bucket since this is a pretty deep bug in the backend. Maybe we should also remove it from the 2.0 milestone… Seems very unclear how to fix this in the near term.

[2018-02-28 22:58] andreimatei commented on #22933
Never mind, I was screwing up, sorry for the noise.

[2018-03-01 00:00] cockroach-teamcity opened #23257 "teamcity: failed tests on release-2.0: acceptance/TestVersionUpgrade, acceptance/TestVersionUpgrade: TestVersionUpgrade/runMode=local, acceptance/TestVersionUpgrade, acceptance/TestVersionUpgrade: TestVersionUpgrade/runMode=local"
The following tests appear to have failed:

[#541253](https://teamcity.cockroachdb.com/viewLog.html?buildId=541253):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-01 00:17] andreimatei commented on #22933
I believe I've got a repro - I can reproduce a `BEGIN`; `CREATE TABLE`; `COMMIT` sequence that' not batched by the client in any way getting a retriable error on `COMMIT`.
I don't know yet exactly why the transaction is aborted. The error is a `RETRY_SERIALIZABLE` one - which can mean a read-write conflict. #16450 has some info on different things that can happen.
I further don't know what happene

[2018-03-01 00:28] andreimatei commented on #22933
BTW, if Jepsen wouldn't use transactions around the table creation, the issue should go away. So if anyone knows enough Clojure to make that happen. I know it uses transactions from this comment: https://github.com/cockroachdb/cockroach/issues/16450#issuecomment-310549740

[2018-03-01 01:42] #23138 closed

[2018-03-01 01:49] bdarnell commented on #22933
I saw that too, but this issue was created on the 22nd.

Ah, right, I had forgotten about that. I can't remember whether the txn is coming from clojure or all the way down in the jdbc driver.

[2018-03-01 03:17] dianasaur323 commented on #21109
Ok, I stuck it into 2.1 so that it doesn't get lost in the later bucket

[2018-03-01 03:19] dianasaur323 commented on #23099
it's possible that the node itself never really successfully became alive, since that cluster has been having issues anyway. thanks for closing!

[2018-03-01 04:06] cockroach-teamcity opened #23262 "teamcity: failed tests on master: testrace/TestTrace, test/TestTrace"
The following tests appear to have failed:

[#541350](https://teamcity.cockroachdb.com/viewLog.html?buildId=541350):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-01 04:35] jordanlewis commented on #23251
+1, hitting this a lot and it's confusing.

[2018-03-01 04:42] tschottdorf commented on #23251
Also if that message is spammy, consider throwing a `log.Every` in there too.

[2018-03-01 04:59] jordanlewis opened #23264 "sql: subquery results cannot be used to constrain index scans"
Filter conditions obtained from subqueries don't constrain the spans for a scan.

[code]

In the second `explain`, I expect that the `scan` should have `spans = /1-/1/#` like in the first `explain`.

Looks like this is the same behavior as in 1.1. Maybe this is a known limitation?

@RaduBerinde for triage.

Jira issue: CRDB-5827

[2018-03-01 05:01] jordanlewis commented on #23264
This also occurs when using `IN` instead of `=` in the filter condition, BTW.

[2018-03-01 09:20] cockroach-teamcity commented on #22925
SHA: https://github.com/cockroachdb/cockroach/commits/ad321363c1b49daf274c9490b97f3e1be90d4a2b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=541692&tab=buildLog

[2018-03-01 09:20] cockroach-teamcity commented on #22926
SHA: https://github.com/cockroachdb/cockroach/commits/ad321363c1b49daf274c9490b97f3e1be90d4a2b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=541692&tab=buildLog

[2018-03-01 10:29] #11708 closed

[2018-03-01 10:29] #23064 closed

[2018-03-01 10:55] cockroach-teamcity opened #23269 "teamcity: failed tests on master: test/TestTrace, testrace/TestTrace"
The following tests appear to have failed:

[#541997](https://teamcity.cockroachdb.com/viewLog.html?buildId=541997):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-01 13:18] viniciusmiguel commented on #15441
To increase CockroachDb popularity you need to support at least one administration tool guys, all databases in the market have at least one administration tool. I understand that your priority is to make the database great and stable but the end user experience regarding DBA is a must!

[2018-03-01 13:21] RaduBerinde commented on #23264
We don't (can't?) currently use the results of subqueries for span generation. This is a known limitation of the way we handle subqueries. CC @knz

[2018-03-01 14:50] Wulfklaue commented on #23061
@Fale

Those results are not surprising...

Your comparing a database ( PostgreSQL) that has had 21 years of development and is highly optimized for single system performance. If you go back 8 years in time, PostgreSQL lost hard to even MySql in every benchmark. They did a great job at fixing postgresql its performance issues.

Compare this to CockroachDB that is barely 3 year old. And has a total

[2018-03-01 15:11] cockroach-teamcity opened #23271 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#541426](https://teamcity.cockroachdb.com/viewLog.html?buildId=541426):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-01 16:40] benesch opened #38542 "roachprod: Multiple zones are silently ignored without --geo"
`roachprod create --zones=one,two` should throw an error instead of silently selecting the first zone.

[2018-03-01 16:48] #23210 closed

[2018-03-01 16:48] bdarnell commented on #23271
#22933

[2018-03-01 16:48] #23271 closed

[2018-03-01 17:32] a-robinson commented on #21051
Closing as obsolete. Please reopen if you remember anything, @tschottdorf.

[2018-03-01 17:32] #21051 closed

[2018-03-01 17:35] vivekmenezes commented on #18684
@jordanlewis are you able to readily reproduce this? I'm unable to reproduce this and the only way I can imagine this can happen is under the following circumstances

1. A query runs  and acquires a table lease
2. No other queries run so the lease is not reacquired asynchronously
3. Another query runs very close to the expiration time of the lease
4. this query is retried internally by the kv laye

[2018-03-01 17:36] vivekmenezes commented on #18684
ah ha I see you used -concurrency=128. let me give that a try

[2018-03-01 17:49] vivekmenezes commented on #18684
I'm unable to repro it after running tpcc for 13 minutes with ```-concurrency=128```

[2018-03-01 17:51] a-robinson opened #23274 "Test that qps doesn't dip when gracefully draining a node"
This is an important scenario that could really use some regression test coverage, as indicated by the fact that nobody noticed or followed up on #22573 until more than 4 months after 1.1 was released.

This seems like a good fit to be a workload test -- run something like `kv` with its `-max-rate` flag set, then gracefully stop a node and expect QPS to not dip more than a few percent below the sp

[2018-03-01 17:52] tschottdorf commented on #21051
Hmm, not sure unfortunately.

[2018-03-01 17:59] jordanlewis commented on #18684
Yes, this is easily reproducible with the TPCC-1000 dataset.  How were you trying to reproduce it?

[2018-03-01 18:23] bdarnell commented on #23254
There are threads waiting for over a minute for a `Replica.RaftMu`:

[code]

I haven't found the goroutine that's holding that lock.

[2018-03-01 18:24] justinj commented on #23176
Thanks for the info, it definitely looks like there's a dangling index entry in the `task_by_location_synced` index. This would explain the differing results between the `SELECT *` and the `SELECT synchronized`, because the former requires an index join while the latter doesn't.

I can't say for sure, but it's *possible* this discrepancy was caused by the use of `SNAPSHOT`. I'm afraid the only adv

[2018-03-01 18:37] arjunravinarayan commented on #4408
This issue is no longer relevant, as tracing has improved significantly in the past two years(!!!).

[2018-03-01 18:37] #4408 closed

[2018-03-01 18:41] arjunravinarayan commented on #12022
This is obviously not getting done for 2.0. Bumping milestone to 2.1, @awoods187 pleased triage and ensure there is an Airtable entry for this, or remove the 2.1 milestone as well.

[2018-03-01 18:47] awoods187 commented on #12022
We have it slotted in airtable for 2.1. Good catch on bumping this here.

[2018-03-01 18:50] arjunravinarayan commented on #14620
@asubiotto is this fixed? It appears fixed to me. After approximately 30 seconds, the final nodes give up and quit when issued the quit command. I've been using this pattern reliably for months now. Closing this issue, please reopen if I'm missing something.

[2018-03-01 18:51] arjunravinarayan commented on #12022
Thank you for confirming @awoods187!

[2018-03-01 18:52] arjunravinarayan commented on #15243
There will be no significant changes to the settings interface this late in the 2.0 cycle. Bumping the milestone to 2.1.

[2018-03-01 18:57] arjunravinarayan commented on #17522
@dt I believe this bug can be closed. Can you please confirm what the TPCH-1 restore time is? in any case, it requires a milestone bump if we're going to leave this issue open.

[2018-03-01 18:59] arjunravinarayan commented on #18679
Ping @dianasaur323, can this issue be closed, or moved off the 2.0 milestone?

[2018-03-01 19:01] dianasaur323 commented on #18679
Thanks! I haven't run these yet - will do so tomorrow

[2018-03-01 19:01] dianasaur323 commented on #18679
Actually, nvm I've done this. Closing!

[2018-03-01 19:01] #18679 closed

[2018-03-01 19:09] dianasaur323 commented on #19492
I haven't seen this in a while - closing

[2018-03-01 19:09] #19492 closed

[2018-03-01 19:12] arjunravinarayan commented on #13749
@BramGruneir can I close this issue, or change the milestone to Later? It seems most of the low hanging fruit has been picked here, and in any case, nothing further is being done in the 2.0 timeframe.

[2018-03-01 19:12] Amruta-Ranade opened #23277 "cli/conn+config: ux annoyance: ui shows "host:port"; cli takes --host, --port separately"
While trying to decommission a dead node following the instructions in the [Remove nodes doc](https://www.cockroachlabs.com/docs/stable/remove-nodes.html#remove-a-single-node-dead), the `./cockroach node decommission 4 --wait=live --insecure --host=localhost:26257` command gave the following error even though localhost:26257 is a live node:

[code]

Whereas `./cockroach node decommission 4 --wait=

[2018-03-01 19:13] arjunravinarayan commented on #13749
Apologies for the autocmpleted mistag, I meant @kuanluo.

[2018-03-01 19:13] arjunravinarayan commented on #8093
@mberhault Is this relevant any more? Our various methods for tracing through clusters have radically improved in the 1.5 years since this issue was created. We generally have tremendous visibility into internal layers.

In any case, I'm for at least bumping the milestone to "Later", rather than revisiting this every 6 months.

[2018-03-01 19:13] kuanluo commented on #13749
Yes @arjunravinarayan !

[2018-03-01 19:14] arjunravinarayan commented on #15625
I agree. Bumping the milestone to 2.1.

[2018-03-01 19:15] #13749 closed

[2018-03-01 19:16] arjunravinarayan commented on #15318
Repunting to 2.1, since this is feature work that is not going to make it in the 2.0 timeframe.

[2018-03-01 19:18] arjunravinarayan commented on #16363
I'm bumping the milestone on this to 2.1, since it's not making it into 2.0 @a6802739 are you still going to be working on this?

[2018-03-01 19:22] vilterp commented on #23277
Looks like you're supposed to split out `--host` and `--port`: `cockroach node decommission 4 --wait=live --insecure --host=localhost --port=26257`.

This could use a better error message; something like "couldn't connect to `localhost:26257:26257`", which is probably what it tried…

[2018-03-01 19:25] Amruta-Ranade commented on #23277
Interesting. Wouldn't the user go to the Admin UI, check the hostname, and use that in the command though? In any case, we need to make the syntax clearer in the Docs then.

[2018-03-01 19:30] vilterp commented on #23277
Hm yeah the commands in the docs say `--host <address of live node>`. They should probably say `--host <host of live node> --port <port of live node>`. Filing a docs issue is in order I think.

[2018-03-01 19:30] tschottdorf commented on #23274
+1, this seems pretty important. One requirement here is being able to programmatically obtain the load generator statistics (ideally while the load runs). I wonder if workload should export an HTTP interface for that. Or we can query the cluster statement statistics (this is nice because users should be able to access this information for their workload, too). Or workload could insert periodicall

[2018-03-01 19:35] vilterp commented on #23277
But yes, it's annoying that you can't just copy/paste the `host:port` from the UI into the command.
- We don't want to change the UI, since `host:port` is nice and compact and easy to read.
- Could change the command, e.g. to take `--address <host:port>` instead of `--host <host> --port <port>`, but we'd have to make the change backwards compatible (to avoid breaking scripts that use the old flags

[2018-03-01 19:39] arjunravinarayan commented on #16445
@vilterp i assume you're no longer working on this task? I'm bumping the milestone to 2.1. Feel free to unassign yourself and reassign it to PMs for triage.

[2018-03-01 19:42] bsnyder788 commented on #23176
Nothing out of the ordinary should have been going on (just inserts, updates and reads), definitely no schema changes within the past month.  Thanks for the help / diagnosis!

[2018-03-01 19:44] arjunravinarayan commented on #17531
These additional cluster settings are not going to be done in 2.0. I'm bumping the milestone to 2.1. Feel free to push back.

[2018-03-01 19:44] bdarnell commented on #23277
The UI could hide the port if it's the default.

We could also encourage the use of the `--url` flag which incorporates all the client flags (host, port, insecure, etc). We already have two sets of flags that specify the same information.

[2018-03-01 19:44] vilterp commented on #22943
I think if the connection is truly lost (e.g. if the node goes down), having an alert like we do now is better UX than seeing spinners forever the next time you try to load some data. Are you proposing bubbling HTTP errors up to something which would show sed popup? Sounds hard.

Aside from the annoying Redux errors, I actually think the pings are a decent solution. (i.e. I can't think of a better

[2018-03-01 19:46] bdarnell commented on #16445
I think now that we have sequences this can just be closed.

[2018-03-01 19:46] #16445 closed

[2018-03-01 19:49] vilterp commented on #23277
Maybe a little "copy to clipboard" icon next to the `host:port` in the UI which copies the URL to your clipboard would be useful. Then you can paste that into CLI commands for the `--url` flag.

[2018-03-01 19:53] bdarnell commented on #23254
Found it: Here's a network operation happening on a stack that is holding raftMu:

[code]

Fix incoming.

[2018-03-01 19:58] arjunravinarayan commented on #17765
@andreimatei what did you decide to do in your hacking on the `InternalExecutor`?

[2018-03-01 20:03] arjunravinarayan commented on #19833
This was fixed in cockroachdb/docs#2126.

[2018-03-01 20:03] #19833 closed

[2018-03-01 20:06] benesch commented on #17522
I think performance still sucks :/. Let me check.

[2018-03-01 20:09] arjunravinarayan commented on #17522
In that case we should bump the milestone, since we're not going to improve the restore speed in the 2.0 timeframe.

[2018-03-01 20:09] benesch commented on #17522
Done.

[2018-03-01 20:15] asubiotto commented on #14620
The remaining work was to time out the liveness update (the quit command forces a shutdown after a minute) to proceed with draining leases. However, this is not completely necessary. It's a small change that I'll probably get to for 2.0 so I'll reopen.

[2018-03-01 20:17] arjunravinarayan commented on #16018
@mjibson what was the outcome of that RFC writing process?

[2018-03-01 20:19] benesch commented on #16018
Either way this can definitely be punted to 2.1.

[2018-03-01 20:21] cockroach-teamcity opened #23284 "teamcity: failed tests on release-2.0: acceptance/TestVersionUpgrade, acceptance/TestVersionUpgrade: TestVersionUpgrade/runMode=local, acceptance/TestVersionUpgrade, acceptance/TestVersionUpgrade: TestVersionUpgrade/runMode=local"
The following tests appear to have failed:

[#542328](https://teamcity.cockroachdb.com/viewLog.html?buildId=542328):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-01 20:21] tschottdorf commented on #23254
Good catch!

[2018-03-01 20:23] #23242 closed

[2018-03-01 20:24] jordanlewis opened #23285 "sql: panic: txn.go:1027: unexpected retryable error at the client.Txn level: (%T) %s | *roachpb.TransactionRe..."
https://sentry.io/cockroach-labs/cockroachdb/issues/477142600/

[code]

[2018-03-01 20:25] tbg opened #23286 "roachtest: table creation stress test"
We should put the investigation in https://github.com/cockroachdb/cockroach/issues/23254 into a roachtest. Here's the relevant bit of code courtesy of @andreimatei  (no need to transcribe this verbatim at all, should be enough to follow it in spirit):

[code]

[2018-03-01 20:26] #23250 closed

[2018-03-01 20:30] solongordon commented on #22300
I simplified the repro steps a bit:
[code]
Tweaks that resolve the panic:
- Removing the UNION
- Removing the ON CONFLICT clause
- Replacing `SELECT x` with `SELECT x::INT`

I'll dig in to see what's going on.

[2018-03-01 20:40] arjunravinarayan commented on #18816
Reassigning to @jordanlewis for triage.

[2018-03-01 20:42] nvanbenschoten commented on #17531
This is still on my plate for 2.0. The change should be very small.

[2018-03-01 20:46] mrtracy commented on #23110
Keep in mind that the decommissioned node still existed at some point, and you can view historical data on the graphs page.

A possibly different solution I'll throw out: since we're appending the NodeID already, we can add a marker (e.g. "d") into the node ID, and sort them after all other nodes.  So something like "137.197.195.129:26257 (d, n4)", and it appears at the end of that list.

Otherwis

[2018-03-01 20:48] jordanlewis commented on #18816
This is 6 months old and hasn't reappeared since, so I'm going to close it. The admin UI has changed a lot since then.

[2018-03-01 20:48] #18816 closed

[2018-03-01 21:04] arjunravinarayan commented on #22646
@danhhz it appears you have done all the tasks for this issue, save closing it. Can you please confirm and close?

[2018-03-01 21:06] tschottdorf commented on #23284
#22796

[2018-03-01 21:06] #23284 closed

[2018-03-01 21:06] benesch commented on #22646
I think there's one final task: removing the old Terraform tests. Dan did all the hard work here so I don't want to spoil his fun. Punting out of 2.0 in the meantime, though.

[2018-03-01 21:06] #22796 closed

[2018-03-01 21:06] #23257 closed

[2018-03-01 21:10] arjunravinarayan commented on #19233
If I squint a little, this looks like this was fixed by #18049, but given the fact that that was resurrected out of #17145, closing this issue got dropped. @dianasaur323 / @a-robinson can you confirm?

[2018-03-01 21:10] vilterp commented on #22408
Hi @bsnyder788, I'm unable to repro this using FF 58 on Ubuntu. Are you still seeing this?

[2018-03-01 21:11] #23254 closed

[2018-03-01 21:12] benesch commented on #23244
Huh, this is a case where teaching schema changes to use node liveness-based leases, like we do for backup/restore, would actually significantly improve their performance. With a liveness-based lease, restarting a node will (typically) expire all its leases.

[2018-03-01 21:17] benesch commented on #17522
Some TPCC numbers.

Non-distributed cluster (`roachprod create -n3`), three nodes:

[code]

Geo-distributed cluster (default `roachprod create -n3 --geo`), three nodes:

[code]

Local cluster, one node:

[code]

So things are looking pretty good! I'll leave it up to @dt to decide whether we're good enough to close.

[2018-03-01 21:22] bsnyder788 commented on #22408
Still not working completely on Ubuntu 14.04 with Firefox 58.0.2 for me (I
can navigate directly to the different tabs (cluster, databases, etc via
URL, yet clicking on them in UI does nothing).  Chrome works completely
fine for me on the same machine, though.

On Thu, Mar 1, 2018 at 3:10 PM, Pete Vilter <notifications@github.com>
wrote:

[2018-03-01 21:27] justinj opened #23290 "sql: inverted index panic when UPDATEing"
Happens if I update with a value that has more than one leaf.

[code]

[code]

[2018-03-01 21:28] vilterp commented on #22408
(deleted my comment because I realized I was on Cockroach 2.0 alpha, not 1.1.5. However, I still can't repro on 1.1.5).

Can you open the developer tools and take a screenshot of what's in the console? ([web console docs](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console)). I'm wondering if a strange FF-only network or JS issue is causing this. Thanks.

[2018-03-01 21:32] cockroach-teamcity opened #23291 "teamcity: failed tests on master: test/TestTrace, testrace/TestTrace"
The following tests appear to have failed:

[#542480](https://teamcity.cockroachdb.com/viewLog.html?buildId=542480):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-01 21:33] solongordon commented on #22300
Looks like the issue is that `insertNode.Values()` doesn't handle being called multiple times between `Next()` calls in the `ON CONFLICT ... RETURNING` case. I think the fix is just to move a bit of logic from `Values()` to `Next()`.

[2018-03-01 21:34] bsnyder788 commented on #22408
Nothing gets logged in the JS console, but I do see with top that the whole
tab just freezes up and CPU goes to 100% for that FF process.  Which
partially explains why I can't click on the other tabs.

On Thu, Mar 1, 2018 at 3:28 PM, Pete Vilter <notifications@github.com>
wrote:

[2018-03-01 21:36] vilterp commented on #22408
Strange that the CPU is pegged. Can you maybe hit "pause" in the JS debugger and take a screenshot of the stack?

[2018-03-01 21:40] mjibson commented on #16018
I guess the result was I didn't do anything because other stuff came along. But someone will eventually be assigned to actually do this. Not sure who.

[2018-03-01 21:42] benesch opened #23293 "sql: support `json` - `text[]` operator"
Cockroach:

[code]

Postgres:

[code]

[2018-03-01 21:47] nvanbenschoten commented on #23262
Dup of #23238.

[2018-03-01 21:47] #23262 closed

[2018-03-01 21:47] nvanbenschoten commented on #23269
Dup of #23238.

[2018-03-01 21:47] #23269 closed

[2018-03-01 21:47] nvanbenschoten commented on #23291
Dup of #23238.

[2018-03-01 21:47] #23291 closed

[2018-03-01 21:50] bsnyder788 commented on #22408
Tried 3 times and each time the UI froze up before I could hit pause and get a meaningful stack.

[2018-03-01 21:52] jordanlewis commented on #15441
`pgweb` will be available when 2.0 is released. Others will become available over time. Thanks for chiming in on this everyone - we understand that these tools are important.

[2018-03-01 21:54] dt commented on #16161
@dianasaur323 can you close this if the above checklist is good?

[2018-03-01 21:54] cockroach-teamcity opened #23295 "teamcity: failed tests on master: test/TestTrace, testrace/TestTrace"
The following tests appear to have failed:

[#542582](https://teamcity.cockroachdb.com/viewLog.html?buildId=542582):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-01 21:55] dt commented on #20812
@dianasaur323 think this is fixed

[2018-03-01 21:56] jordanlewis commented on #23295
#23238

[2018-03-01 21:56] #23295 closed

[2018-03-01 22:09] BramGruneir opened #23297 "split under-replicated and slow stats"
Right now, a slow replica is reported to be under-replicated.  This is confusing users.

I propose that we split this into two states, under-replicated and slow (or perhaps behind?).  With geo-distributed clusters, slow replicas is much more common, but under-replication is a problem.

This might be a simple starter project and it would touch a number of different systems.

[2018-03-01 22:11] benesch opened #23299 "sql: support coercing string literals to arrays"
In PostgreSQL, the following statement works fine:

[code]

CockroachDB complains

[code]

unless you specifically make the RHS an array:

[code]

We should support automatically coercing string literals to arrays. According to @justinj this isn't trivial.

/cc @knz

[2018-03-01 22:12] benesch commented on #21867
Marking this as done! JSON support seems to be in a very solid place. Only one 2.0 issue: #23293.

[2018-03-01 22:12] #21867 closed

[2018-03-01 22:14] vilterp commented on #22408
Hm, not sure how to introspect what's taking up the CPU without the devtools, besides resorting to OS-level tools… Would you mind seeing if this also happens with a 2.0 alpha? ([downloads](https://www.cockroachlabs.com/docs/releases/#testing-releases))

[2018-03-01 22:14] bdarnell commented on #22951
This isn't just log spam - parts of the UI would be broken by this too (at least debug pages - the main UI seems OK). Fix in #23298.

[2018-03-01 22:19] petermattis commented on #23274
Do you need cluster statement statistics, or access to some of the internal time series metrics? For a specific metric, the time series are already programmatically available (though the specific magic incantation is a bit involved).

[2018-03-01 22:23] vilterp commented on #12856
Unable to repro this after going through the docs training. @mrtracy @couchand possible that it's been fixed with any recent work to graphs?

[2018-03-01 22:32] cockroach-teamcity opened #23304 "teamcity: failed tests on master: acceptance/TestGossipRestart, acceptance/TestInitModeBootstrapNodeZero"
The following tests appear to have failed:

[#542653](https://teamcity.cockroachdb.com/viewLog.html?buildId=542653):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-01 22:36] benesch commented on #16383
Fixed by Go 1.10.

[2018-03-01 22:36] #16383 closed

[2018-03-01 22:39] mrtracy commented on #12856
I would keep this open, I'm not at all confident this is fixed. The only recent graph change was making node ID names unique, that doesn't cover this.

Incidentally, this is basically exactly why I created the redux state debug page. If anyone is looking at this issue and has reproduced it, could you please navigate to #/debug/redux in the admin UI and post the redux state? I would really like to

[2018-03-01 22:42] a-robinson commented on #23304
Isn't Docker wonderful?

`panic: Error response from daemon: oci runtime error: container_linux.go:265: starting container process caused "process_linux.go:284: applying cgroup configuration for process caused \"failed to write 29807 to cgroup.procs: write /sys/fs/cgroup/cpu,cpuacct/docker/25e9cfb1781ecb26b9aea3123094859933f006f7f30580b7567014a65bd93573/cgroup.procs: invalid argument\""`

[2018-03-01 22:42] #23304 closed

[2018-03-01 22:43] tschottdorf commented on #23274
I think we'd want to be able to run a few different load gens eventually, and some of them might be so low in qps that their dip could be shadowed by a faster one (say kv). Maybe statement statistics can do well enough for starters.

[2018-03-01 22:52] jordanlewis commented on #20526
@arjunravinarayan wait, what happened to your WIP here? This seems like we can push this to 2.1, but I'm curious.

[2018-03-01 22:53] bdarnell commented on #22606
I believe this text is accurate as written. If you run the init command with a target that is not in other nodes' join flags, the cluster may not become fully connected. This is discussed in https://github.com/cockroachdb/cockroach/pull/16371#issuecomment-317208368.

Or is this about the ambiguous wording about "run the init command on one node", where this could refer to either the node where the

[2018-03-01 23:11] #23238 closed

[2018-03-01 23:44] danhhz commented on #20651
Pretty sure peter is already working on this

[2018-03-01 23:59] abhimadan opened #23309 "sql: mismatch between entered query and `query` column in `crdb_internal.cluster_queries` for queries in executing phase"
If I run `TABLE crdb_internal.cluster_queries` while running a query in another session, I get the following output (apologies for the poor formatting, it was from a log file so the table formatting is gone):
[code]

The points of interest here are the `phase` and `query` columns. The executing query's table names look like `dbname.public.tablename`, while the preparing query's table name looks li

[2018-03-02 01:12] petermattis commented on #20651
Not actively working on this (distracted with other concerns this week and next), but I'd like to. If anyone else has time, feel free to take this on.

[2018-03-02 01:13] petermattis commented on #23274
Good point, though for initial test a single QPS metric would suffice.

Yeah. I've forgotten the specifics of when these are reset and the info they contain, but certainly seems possible they could work.

[2018-03-02 02:18] nvanbenschoten commented on #23103
Thanks for catching this @rytaft! I was able to get DBInspect up and running and got to the point that you got to. Sure, enough, the tool wasn't correctly showing primary keys or unique constraints.

I then tried to see what the tool showed when connected to Postgres. Strangely, I actually wasn't able to get it to see any schemas in postgres at all. I tried running PG locally and in Docker, and tr

[2018-03-02 02:18] #23103 closed

[2018-03-02 02:40] a6802739 commented on #16363
@arjunravinarayan , Sorry for late response, just come back from `Chinese New Year`.
Yes, I'm still working on this.

[2018-03-02 02:43] a6802739 commented on #15635
@jordanlewis , Sorry for late response.

Yes, I'm still working on this. I'll ask for some help If I met some problems.

Thank you very much.

[2018-03-02 04:05] jseldess commented on #22606
I think this is actually a docs issue. We are not explicit about this restriction in the docs.

[2018-03-02 04:08] andreimatei commented on #22933
I managed to get traces of failing transactions:
I seem to be able to produce at least two types of retriable errors, with comparable frequencies:
1) The first seems to be due to `CPuts` writing to the `EventLog` table running into the read timestamp cache. The CPuts have keys containing the current timestamp. I don't know what (read) operation they conflict with. They're not running into the low

[2018-03-02 05:45] neeral commented on #22606
Yes, the CLI is fine, the docs need updating.

[2018-03-02 10:13] jseldess commented on #22606
Created an issue in the docs repo, so closing this issue: https://github.com/cockroachdb/docs/issues/2589.

[2018-03-02 10:13] #22606 closed

[2018-03-02 10:49] vivekmenezes commented on #13937
@gitanuj are you still seeing this issue? I'm going to close it since a lot has changed in cockroachdb since then and no one has seen this running your style workloads.

[2018-03-02 10:49] #13937 closed

[2018-03-02 11:00] vivekmenezes commented on #21444
this looks like it's worth moving to 2.1?

[2018-03-02 11:11] vivekmenezes commented on #17417
this test was removed in https://github.com/cockroachdb/cockroach/commit/525650b7382ad214cd2d449da6c6d9e3c27e49f8#diff-3d90febc24295b04e76b44dc1519008b

[2018-03-02 11:11] #17417 closed

[2018-03-02 11:59] vivekmenezes commented on #22909
@spencerkimball for advice on how to create conflict in a sql test that will trigger the kv layer push. I'd like to write a number of tests that do this.

[2018-03-02 13:19] benesch commented on #21444
We haven’t seen this in a month, so I’m just going to close it out!

[2018-03-02 13:19] #21444 closed

[2018-03-02 13:23] benesch commented on #21561
The TTL made it in to 2.0. Splitting out a separate column family will have to wait until 2.1.

[2018-03-02 13:33] benesch commented on #20867
Fixed by knz/go-libedit#5. Didn’t make 2.0, but will make 2.1.

[2018-03-02 13:33] #20867 closed

[2018-03-02 13:36] benesch commented on #20475
Preemptively closing this out on the assumption it didn’t repro. Feel free to reopen.

[2018-03-02 13:36] #20475 closed

[2018-03-02 13:39] benesch commented on #19576
This hasn’t repro’d since and the build log is long gone. Closing.

[2018-03-02 13:39] #19576 closed

[2018-03-02 14:24] vivekmenezes commented on #22883
unable to reproduce. This was happening when we had a ton of consistency issues open. Closing.

[2018-03-02 14:24] #22883 closed

[2018-03-02 15:05] bsnyder788 commented on #22408
Sure, the cockroach-v2.0-alpha20180129 binary suffers from the same issue.
It seems slightly better in that the overview tab does not have the issue,
but after clicking on 'Cluster', 'Databases', or 'Jobs' the same thing
happens as with the 1.1.5 build.

On Thu, Mar 1, 2018 at 4:14 PM, Pete Vilter <notifications@github.com>
wrote:

[2018-03-02 15:07] cockroach-teamcity opened #23312 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#543053](https://teamcity.cockroachdb.com/viewLog.html?buildId=543053):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-02 15:09] vivekmenezes commented on #16362
I ran ```make stressrace PKG=./pkg/ccl/backupccl TESTS=TestBackupRestoreLocal``` and have not been able to repro this issue

What is suspicious is it appears that errDidntUpdateDescriptor is escaping out of Publish() but that is impossible.

[2018-03-02 15:10] bsnyder788 commented on #22408
I just re-downloaded v1.1.4 and it also suffers from the same issue which I
never had an issue with when it was what we were running.  Feel free to
close it as it may have something to do with my local FF since you cannot
reproduce.

On Fri, Mar 2, 2018 at 9:05 AM, Brett Snyder <bsnyder788@gmail.com> wrote:

[2018-03-02 15:53] bdarnell commented on #23312
#22933

[2018-03-02 15:53] #23312 closed

[2018-03-02 16:21] #22300 closed

[2018-03-02 16:31] #22573 closed

[2018-03-02 17:47] rytaft commented on #23103
Thanks for investigating, @nvanbenschoten! I ran this experiment on a whim as part of QA for #21870. I had read in the [RFC](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20180219_pg_virtual_namespacing.md) that one of the goals for the proposed changes was to "unblock proper user experience of CockroachDB for users of (graphical or non-graphical) DB inspection tools", so I figure

[2018-03-02 17:51] asubiotto commented on #22424
Currently waiting on a change to be cherrypicked into 2.0: https://github.com/cockroachdb/cockroach/pull/23319 and another one into 1.1: https://github.com/cockroachdb/cockroach/pull/23302

We have two types of changes:
1) Improvements to the draining process (#22767 and #23265)
2) Improvements to the interaction with load balancers (#23233 and #22911)

All these changes have been cherrypicked int

[2018-03-02 17:51] a-robinson commented on #19233
I think you squinted too hard :) I'm not seeing how #18049 would have fixed this. https://github.com/cockroachdb/cockroach/pull/19426 should have, though.

[2018-03-02 17:51] #19233 closed

[2018-03-02 18:05] vivekmenezes commented on #22424
Excellent update @asubiotto !

[2018-03-02 18:10] jordanlewis commented on #23103
@rytaft If you're interested in this kind of thing, check out the discussion in #15441 where we've looked at several other tools. There are a ton of these things!

[2018-03-02 18:13] rytaft commented on #23103
Got it -- thanks @jordanlewis!

[2018-03-02 19:00] dt commented on #22283
I was wondering if it made sense to use ldflags inject the intended distribution channel in to the binaries themselves when we package for these platforms /cc @benesch

[2018-03-02 19:25] arjunravinarayan commented on #22787
@jordanlewis given the considerable movement in the last few days as a result of TPC-C work, I'm assigning this issue to you to extract any meaningful chunks of work, or to close, as you see fit.

[2018-03-02 19:27] arjunravinarayan commented on #18538
Bumping this issue again, and assigning to @bdarnell for triage.

[2018-03-02 19:30] vivekmenezes commented on #23223
likely same as https://github.com/cockroachdb/cockroach/issues/22256

[2018-03-02 19:31] vivekmenezes commented on #23223
If the drop is happening on one node and the create on another node this is expected behavior. This should have nothing to do with how large the table is.

[2018-03-02 20:02] vivekmenezes commented on #23071
feel free to push to 2.1 if you'd like

[2018-03-02 20:53] dianasaur323 commented on #23297
Just so I understand this issue, is your proposal to split out "slow ranges" both in the time series graphs that are relevant, and in the problem ranges debug pages?

[2018-03-02 20:53] dianasaur323 commented on #20812
Great - let me test it one last time, and then I'll close out.

[2018-03-02 20:54] dianasaur323 commented on #16161
yes, can do! I'm just going to run the states one last time after the fixes went in, and then close out. Probably will do so early next week.

[2018-03-02 20:55] dianasaur323 commented on #16018
Yep, this is scheduled for 2.1, and at that point, we'll get a clearer sense for who is doing what. I think it fits naturally into the time we are planning on investing in schema changes anyway.

[2018-03-02 21:05] dianasaur323 commented on #23110
Hmmm.. I see - good point. That being said, at some point, regardless of whether or not we label it as (d, n4), we should remove the node especially after the time frame is out. I also have a suspicion that the behavior isn't what we expect - I don't remember the exact specifics, but I seem to remember that right after I decommissioned the node, I was no longer able to view time series metrics (it

[2018-03-02 21:34] #22927 closed

[2018-03-02 21:42] BramGruneir commented on #23297
exactly, and the RPC endpoint as well and possibly metrics reporting.

This came up in a client meeting in which the orange under-replicated ranges stat was showing up and it was due to slow replicas and not true under-replicated ranges.  In geo-distributed clusters, it will not be uncommon for a single replica to be slower than the others while under load.

[2018-03-02 21:47] petermattis commented on #16596
It isn't clear what version this occurred on. A similar issue was fixed by #11622, though that was well before this issue was filed. Could be the same code. Or not. I'm closing as this hasn't occurred since, and the sentry entry is long gone so there isn't anything concrete to investigate.

[2018-03-02 21:47] #16596 closed

[2018-03-02 22:02] cockroach-teamcity opened #23325 "teamcity: failed tests on master: acceptance/TestDockerReadWriteForwardReferenceVersion, acceptance/TestDockerReadWriteBidirectionalReferenceVersion"
The following tests appear to have failed:

[#544195](https://teamcity.cockroachdb.com/viewLog.html?buildId=544195):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-02 22:07] cockroach-teamcity opened #23326 "teamcity: failed tests on master: acceptance/TestDockerRuby, acceptance/TestDockerReadWriteForwardReferenceVersion"
The following tests appear to have failed:

[#544206](https://teamcity.cockroachdb.com/viewLog.html?buildId=544206):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-02 22:24] andreimatei commented on #22933
I've investigated the 1) error above more. The reason why there's no `Refresh` request tried out is because the transaction creating the table "observes" its commit timestamp (which disables the refresh).
It happens here: https://github.com/cockroachdb/cockroach/blob/9b039e0e1310c517d6710fdd58b36ae0ebc13155/pkg/sql/create_table.go#L139

The line is question was touched by #22932 which merged... on

[2018-03-02 22:26] mjibson commented on #22984
I have run this test under stressrace for over 2 hours and >180 runs with 0 failures. I'm planning on re-enabling it and seeing if we find any problems going forward.

[2018-03-02 22:31] andreimatei commented on #22933
The smoking gun for this observing of the timestamp is @knz's #22440, which also merged on the 22nd. Somehow I thought that had merged way before.

[2018-03-03 00:19] andreimatei commented on #22933
I've thought about it 100 ways - the good way, the bad way, the ugly way, 97 others. I'm not sure what the best thing to do is here; I'm wondering what others think.

#### Let's recap:
Jepsen tests are sometimes getting a retriable error when trying to create a table. The cause of the error is unknown. In my testing, I can create retriable errors for table creation by throwing a bunch of goroutine

[2018-03-03 03:04] tschottdorf commented on #21901
We can argue about removing calls to `assertStateLocked`, but it seems to miss the point - there's no possible world in which that should take that long, no? @knz if you point me at a data directory, I can take a look to see where that time goes at the lower levels.

[2018-03-03 03:06] tschottdorf commented on #21281
The build has been deleted, so this isn't easy to investigate. Let's wait for its reappearance.

[2018-03-03 03:06] #21281 closed

[2018-03-03 04:17] tschottdorf opened #23336 "roachtest: `t.Status` is not ergonomical"
`t.Status("asd")` will have the test runner periodically print status lines mentioning `asd` as the currently active command. However, it's hard to use this in non-confusing ways.

For example,

[code]

will make it look like `c.Run` got stuck for an hour.

[code]

^- This doesn't make a lot of sense and yet it is in our code since we usually need to orchestrate several long-running operations (th

[2018-03-03 05:00] tschottdorf commented on #16935
We have decided not to pursue this for 2.0.

[2018-03-03 05:02] tschottdorf commented on #20986
Moving to 2.1 milestone, there's really nothing to do here until we get a sentry report (post 2.0 most likely).

[2018-03-03 05:03] tschottdorf commented on #20047
@a-robinson do you think there's anything left to do here? From what I can tell, we're tracking geo-distributed testing elsewhere, and this specific mess is long gone. Please reopen if I'm missing something.

[2018-03-03 05:03] #20047 closed

[2018-03-03 05:05] tschottdorf commented on #18099
Moving to `2.1` as this isn't worth doing anything about until we know we need to.

[2018-03-03 05:11] tschottdorf commented on #17611
Once roachtest supports chaos (#20651) we should just make this a reproducible test.

[2018-03-03 05:23] tschottdorf commented on #22730
See #23205. This can always be made more ergonomic but on a basic level I think this is done.

[2018-03-03 05:23] #22730 closed

[2018-03-03 05:24] tschottdorf commented on #19187
Moving to 2.1 since there's no urgency in fixing merges thus far.

[2018-03-03 05:26] tschottdorf commented on #16489
I don't think any more work for this is planned to go into 2.0, though we're in a good position to revisit early in 2.1 since the building blocks are in place (@dsaveliev is working on a PR that swaps out the existing impl for one that uses SQL, and from then on we can iterate on what we actually want to show and prefer gossip-sourced information for the basic view).

[2018-03-03 05:27] tschottdorf commented on #15997
@danhhz you mentioned the other day that you were interested in getting "store directory fixtures" in addition to the backup-based fixtures. This would be a candidate for that. Is there an issue I should link here?

Moving to 2.1 since that's where it will realistically come together. For now, I'm reasonably sure that the badness I was able to create with the experiments above is no more.

[2018-03-03 05:28] tschottdorf commented on #15797
@spencerkimball [fixed this](https://github.com/cockroachdb/cockroach/pull/22315#issuecomment-362748626).

[2018-03-03 05:28] #15797 closed

[2018-03-03 05:29] tschottdorf commented on #18784
There's a bit of movement yet to do, but I don't think it makes sense to cherry-pick that into 2.0, so I'm moving the milestone.

[2018-03-03 05:29] tschottdorf commented on #18960
Won't happen for 2.0.

[2018-03-03 05:33] tschottdorf commented on #20097
Now `./cockroach sql --insecure` just hangs. Assigning to @bdarnell who felt that [this behavior was OK](https://github.com/cockroachdb/cockroach/pull/21682#issuecomment-359662062).

[2018-03-03 07:29] 0xbaadf00d opened #23340 "SQL: Issue with constraints (extra index showing up in PK column's Indices)?"
The command ` SHOW COLUMNS FROM x`  show two indices for a field, but the SQL script only create one for the given field.

**The table creation script**

[code]

**SHOW CONSTRAINTS FROM identity_provider**

[code]

**SHOW COLUMNS FROM identity_provider**

[code]

![image](https://user-images.githubusercontent.com/1005086/36931745-bbb27534-1ebc-11e8-881b-b579121383d2.png)

[2018-03-03 09:24] cockroach-teamcity commented on #22925
SHA: https://github.com/cockroachdb/cockroach/commits/4abf69ef3bb4ff0c828e9ca1f0b21f6c96f4c5e8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=544805&tab=buildLog

[2018-03-03 09:24] cockroach-teamcity commented on #22926
SHA: https://github.com/cockroachdb/cockroach/commits/4abf69ef3bb4ff0c828e9ca1f0b21f6c96f4c5e8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=544805&tab=buildLog

[2018-03-03 11:08] 0xbaadf00d opened #23341 "Invalid cast: string[] -> UUID[]"
I'm using an ORM (ebean) and I detect an issue when it try to load many to one / many to many objects. It seems that the cast TEXT[] --> UUID[] not working. The same query works on PostgreSQL 9.6.

[code]

**Version**
[code]

**Query**
[code]

[2018-03-03 13:40] dianasaur323 commented on #16489
Thanks @tschottdorf! I've allocated time in our roadmap to close this out in 2.1, so modifying the milestone sounds good to me.

[2018-03-03 13:43] petermattis commented on #23336
That's an interesting idea. I wonder if the output will be overwhelming. A 10-node test could easily have 10+ goroutines (one for a load generator on each node + monitor goroutine).

Perhaps `t.Status()` should take two parameters, the status message and a status key. The key is arbitrary. The periodic status output would display all of the keys with non-empty messages. Your multi-load generator e

[2018-03-03 14:11] dianasaur323 commented on #23297
Ok, will add it to the 2.1 roadmap, although priority comes after some other items that we've been wanting to do.

[2018-03-03 14:15] petermattis commented on #14272
This is a feature and we should do it, but not for 2.0.

[2018-03-03 14:16] petermattis commented on #14163
@a-robinson Given the recent updates to zone config expressiveness, should we consider this done?

[2018-03-03 14:18] petermattis commented on #12856
FWIW, tooltip badness was easily reproducible when working through the training examples using Cockroach 1.1.5. I don't recall the specific example that caused a problem, but it was something with stopping and restarting nodes. I would recommend walking through the training examples on 1.1.5, finding where this occurs and then seeing if it has been fixed in 2.0.

[2018-03-03 14:24] petermattis commented on #17240
@danhhz Is there anything left to do here?

[2018-03-03 14:24] petermattis commented on #19345
Punting to 2.1.

[2018-03-03 14:59] cockroach-teamcity opened #23342 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#544540](https://teamcity.cockroachdb.com/viewLog.html?buildId=544540):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-03 15:03] jordanlewis commented on #14719
Nope.

[2018-03-03 15:23] tschottdorf commented on #17921
Reopening to verify fix.

[2018-03-03 15:24] tschottdorf commented on #17921
Ah, already done: https://github.com/cockroachdb/cockroach/pull/23258#issuecomment-369726447

[2018-03-03 15:24] #17921 closed

[2018-03-03 15:36] vilterp commented on #12856
Ok, I will give that a try.
On Sat, Mar 3, 2018 at 9:18 AM Peter Mattis <notifications@github.com>
wrote:

[2018-03-03 15:40] petermattis opened #23344 "teamcity: tag test failure issues with current milestone"
We automatically create issues for testcity test failures and label them the `test-failure` label. It would be good to tag these failures with the current milestone as well. Likely fine to require adjust the "current milestone" on every release.

[2018-03-03 20:20] cockroach-teamcity opened #23346 "teamcity: failed tests on master: acceptance/TestDockerReadWriteForwardReferenceVersion, acceptance/TestDockerReadWriteBidirectionalReferenceVersion"
The following tests appear to have failed:

[#545206](https://teamcity.cockroachdb.com/viewLog.html?buildId=545206):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-03 20:37] petermattis opened #23347 "storage: investigate excessive calls to assertStateLocked"
We seem to be calling `assertStateLocked` when `ReplicatedEvalResult.State != nil`, but `*ReplicatedEvalResult.State == storagebase.ReplicaState{}`. Noticed when running `tpcc -warehouses=10 -no-wait` against a local single node cockroach cluster.

[code]

[2018-03-04 00:07] bdarnell commented on #18538
I think this was fixed by #18611.

[2018-03-04 00:07] #18538 closed

[2018-03-04 00:25] bdarnell commented on #22933
The `sequential` test (which runs into this problem much more frequently than the others) drops and creates 10 tables in a row. The nemeses are not active during this time so there shouldn't be any unusual splits going on (although I suppose the event log could have filled up enough over the course of the test suite to need a split).

My preference is 3a: bring back the detection of pushed transac

[2018-03-04 00:33] bdarnell commented on #20097
Yeah, I think hanging is the best we can do for now. Maybe in 2.1 we can add a timeout that can give an error message if we're stuck for too long here.

[2018-03-04 00:34] bdarnell commented on #23342
#22933 (even the `sets` failure)

[2018-03-04 00:34] #23342 closed

[2018-03-04 01:43] robert-s-lee opened #23349 "ui: network report does not display after pkill -9"
bug report

**BUG REPORT**

v2.0-alpha.20180129

2. Please describe the issue you observed:

- What did you do?

https://localhost:8080/#/reports/network
pkill -9 cockroach
restart the database
go back to `https://localhost:8080/#/reports/network`
the page will wait with the below
[code]

- What did you expect to see?

Display of latency table

- What did you see instead?

The cockroach.log will h

[2018-03-04 07:43] 0xbaadf00d opened #23350 "cli: "Failed running" message may print a flag rather than the command"
When a command doesn't works, the CLI print an error message like `Failed running "..."`. According to the arguments order, this message is not correct, it can't blindly take the first element of the args string.

**Correct**
[code]

**Not correct**
[code]

[2018-03-04 10:28] dianasaur323 commented on #23349
hmm... not sure if this behavior is unexpected, but perhaps @BramGruneir has an opinion?

[2018-03-04 14:57] a-robinson commented on #19187
Closing as fixed. See https://github.com/cockroachdb/cockroach/issues/21264#issuecomment-369006136

[2018-03-04 14:57] #19187 closed

[2018-03-04 14:59] a-robinson commented on #20047
Yeah, geo-distributed testing is tracked elsewhere and https://github.com/cockroachdb/cockroach/pull/21386 fixed the not rebalancing issue.

[2018-03-04 15:06] cockroach-teamcity opened #23351 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#545339](https://teamcity.cockroachdb.com/viewLog.html?buildId=545339):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-04 15:53] jordanlewis opened #23354 "workload: tpcc store data size doesn't scale linearly"
I noticed that the 2k warehouse dataset backup is just about 2x as big as the 1k warehouse backup, but the 5k warehouse backup is 10x as big as the 1k warehouse backup.

What causes this discrepancy?

[code]

[2018-03-04 16:04] jordanlewis opened #23355 "jobs/workload: tpcc-5k load on 10 node cluster produced fractionCompleted outside of allowable range"
With @danhhz's suggested `100x`ing of the CSV chunk size, I tried a restore of `tpcc-5k` on a 10 node cluster and on a 4 node cluster.

The 10 node cluster didn't finish in 12 hours and had a few problems along the way, such as the following message that Dan noticed. Unfortunately, the cluster got torn down before I could collect any more diagnostic information.

[code]

The 4 node cluster finishe

[2018-03-04 17:12] jordanlewis commented on #23326
Closed by #23333

[2018-03-04 17:12] #23326 closed

[2018-03-04 17:12] jordanlewis commented on #23325
Closed by #23333

[2018-03-04 17:12] #23325 closed

[2018-03-04 17:30] jordanlewis commented on #22264
This behaves differently now:

[code]

[2018-03-04 17:57] jordanlewis commented on #22999
@vivekmenezes this issue isn't particularly actionable. What outcome do you wish to see in the 2.0 timeframe?

[2018-03-04 17:58] jordanlewis commented on #22867
There's a workaround for this: specify a different seed. You can also delete the half created fixture by hand with `gsutil`: `gsutil ls gs://cockroach-fixtures/workload/tpcc`

[2018-03-04 19:23] jordanlewis commented on #20137
I can't reproduce this.

[2018-03-04 19:23] #20137 closed

[2018-03-04 22:51] andschwa commented on #13808
Thanks for the pointer @mberhault. I'm having this same issue on a Debian 9 machine running Linux 4.9.0-6. Looks like Vitaly's patch made it in too late for me, in 4.10.

I'm running the smallest burst series VM, and am hitting CPU limits due to a cascade effect caused by the time changing every 5 seconds: it gets logged, then several services note the time changed, do their own thing and log it,

[2018-03-05 00:51] bdarnell commented on #23351
#22933

[2018-03-05 00:51] #23351 closed

[2018-03-05 01:21] petermattis opened #23358 "storage: SCATTER should have an option to randomize replicas"
Both `ALTER TABLE tpcc.warehouse SCATTER` and `ALTER TABLE tpcc.warehouse SCATTER FROM (0) TO (5000)` do not seem to be doing anything. Specifically, `SHOW TESTING_RANGES FROM TABLE tpcc.warehouse` reveals the replicas are on the same ranges and the leaseholders do not appear to have moved. I haven't investigated further. Possibly user error.

[2018-03-05 01:21] petermattis commented on #23358
Cc @a-robinson (in case you're aware of this)

[2018-03-05 02:16] #22821 closed

[2018-03-05 02:23] petermattis commented on #23358
think the lack of replica movement is expected given the current implementation of scatter which simply forces a replica onto the replicate queue. I would expect the leases to be moving around, though. Perhaps they are and I'm not paying close enough attention.

[2018-03-05 02:30] vivekmenezes commented on #22895
@jordanlewis assigning to you because all 2.0 issues have got to be assigned. feel free to reassign.

[2018-03-05 02:50] arjunravinarayan commented on #20720
@jordanlewis do you think we should reevaluate the status of this issue (w.r.t the 2.0 milestone) given the new changes to the memory accounting workflow? This issue, while not entirely resolved in the accounting logic, would at least no longer result in a panic.

[2018-03-05 02:52] a-robinson commented on #23358
As you mention, replica movement isn't expected as currently implemented. Leases for the table should be randomly scattered, though.

And it appears to work for me. I just tested on adriatic and eyeballing shows a majority of the leaseholders having changed. Given that you'd expect 2/3 to change, it looks about right. Excerpt pasted below. The leases per store graph in the admin UI also showed som

[2018-03-05 02:53] a-robinson commented on #23358
And adriatic is running the current canddiate SHA (https://github.com/cockroachdb/cockroach/issues/23093), for what it's worth

[2018-03-05 02:54] arjunravinarayan commented on #15332
@jordanlewis This isn't Azure specific, but I'm this isn't something we see anymore. It's essentially that when we saturate the VM's IOPS with query processing work, we starve the node liveness system of IO, which causes badness.

We've also made great strides in understanding and rate limiting the tempstore (thanks to @mjibson) which DistSQL queries also benefit from. Thus, this isn't something w

[2018-03-05 02:54] #15332 closed

[2018-03-05 03:01] arjunravinarayan commented on #18736
@awoods187 can you please take a look at this issue and close it if appropriate? We've made great strides in session/transaction cancellation, so this should be very straightforward.

[2018-03-05 03:03] arjunravinarayan commented on #18154
@BramGruneir is this going to be addressed in the 2.0 timeframe?

[2018-03-05 03:13] arjunravinarayan commented on #7825
Closing this issue as there's nothing actionable we have to do on this now. The only answer that will truly give us a less than linear complexity at answering COUNT queries in a transactional fashion is materialized views. That is on our radar, but will not be implemented in 2018.

[2018-03-05 03:13] #7825 closed

[2018-03-05 03:14] jordanlewis commented on #18736
We still haven't implemented session or transaction cancellation, and it's not going to happen for 2.0.

[2018-03-05 12:14] knz opened #23361 "sql: ON DELETE SET DEFAULT violates constraints"
Found while investigating #22304.

[code]

Expected, pg has this correct:
[code]

in CockroachDB, currently, incorrect: no error.

cc @BramGruneir.

I have a patch incoming.

[2018-03-05 12:16] knz commented on #23361
(Found because some logic tests in the `cascade` file are exploiting the incorrect behavior and they broke after I inadvertently fixed this bug)

[2018-03-05 12:23] nicolasStevenin opened #23362 "build: old import path for backoff dependency"
Hi,

You are using an old import path : _github.com/cenk/backoff_ wich is now : **github.com/cenkalti/backoff**

Is that possible to update it please ?

Thank you

[2018-03-05 12:29] knz commented on #23361
Note: the error is in the DELETE code, not the FK code.

[2018-03-05 14:17] dt commented on #23340
@0xbaadf00d unique constraints are implemented as an index on the constrained values that ensures the index only one entry per value. Indexes always store the primary key for the indexed value (and can optionally store additional columns as well), so your primary key is "involved in" both indexes: it is of course in the primary index, and is the stored value in your unique constraint's index. Does

[2018-03-05 14:25] vivekmenezes commented on #22999
Looks like after it rose initially it remained flat over a week, so I suppose there is nothing to be done here. I'm going to close this issue.

[2018-03-05 14:25] #22999 closed

[2018-03-05 14:25] petermattis commented on #23358
I'm testing on the `peter-tpcc` cluster on `roachprod`. It is currently down, but I'll bring it back up in a bit.

[2018-03-05 14:37] vivekmenezes commented on #17432
@mjibson please close this issue if there is nothing more to be done. Thanks!

[2018-03-05 14:48] cockroach-teamcity opened #23365 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#546046](https://teamcity.cockroachdb.com/viewLog.html?buildId=546046):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-05 14:49] vivekmenezes commented on #17432
I'm actually gonna go ahead and close this.

[2018-03-05 14:49] #17432 closed

[2018-03-05 14:54] arjunravinarayan commented on #21856
So the error is that we save the location of the temp storage, so that we can clean it up on node-restart if the node crashed. We check if the file does exists, and if it doesn't, we presume it was cleaned up. We do this by querying `os.IsNotExist(err)` (where `err` is from the `Open` call). However, when you move the data directory, something weird is happening.

We don't store the absolute path

[2018-03-05 14:59] couchand commented on #23277
I did not even know `--url` was a thing.  We should definitely encourage that for most commands.  There doesn't seem to be much of a reason to advertise separate flags.  In fact, can we just deprecate them?  Is there a use case that the more general `--url` flag doesn't solve?

I'm not keen on the other suggestions here, mostly because they wouldn't really address this issue.

[2018-03-05 15:12] vivekmenezes commented on #16362
closing this issue

[2018-03-05 15:12] #16362 closed

[2018-03-05 15:24] BramGruneir commented on #23361
I thought I checked for that case.  Doesn't `subtest DeleteSetDefault_Basic1_WrongDefault` cover this case?

[2018-03-05 15:29] a-robinson commented on #23277
Having the same flags on the client commands as on `cockroach start` makes them easier to use for newcomers, since they can just specify the same flags for e.g. `cockroach sql` that they did for `cockroach start`.

There's also the issue that the URLs are confusing, at least for secure mode. Every time I want to run `kv` against a secure cluster I have to spend a couple minutes figuring out the ri

[2018-03-05 15:37] asubiotto commented on #14620
Actually, thinking about this more I'm not sure that going forward with canceling a node liveness update is the way to go. Timeouts are implemented by users (as you pointed out) from a higher level and we never want to sacrifice correctness for a quicker drain. Closing this issue.

[2018-03-05 15:37] #14620 closed

[2018-03-05 15:39] asubiotto commented on #20720
But it's still something to fix and I think I can get to it in the 2.0 timeframe. Let's keep it on this milestone and I'll move it back if it turns out I can't get to it in time.

[2018-03-05 15:39] couchand commented on #23277
Oh that's unfortunate.  I had hoped that the URL flag would just be shorthand for the host and port flags, where you could omit defaulted fields, like:

- set host and port `--url=foobar:26258`
- set just host, default port `--url=foobar`
- set just port, default host `--url=*:26258`?

But now that I think about it, of course it's the connection string-style URLs.  That's unfortunate.

[2018-03-05 15:40] a-robinson commented on #15332
@arjunravinarayan it's great to hear that this isn't something we see anymore, but #18765 was never merged. Was any other rate limiting specifically put in place? Or were the few disk syncing PRs the only relevant changes?

[2018-03-05 15:57] knz commented on #23361
Check out https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/logictest/testdata/logic_test/cascade#L2734-L2771

After the TRUNCATE, table `a` is empty and does not contain the default values for the `b` tables any more. The ON DELETE SET DEFAULT should fail with an error.

[2018-03-05 16:02] josueeee opened #23366 "ui: clusterviz: improve the capacity usage metrics in the cluster overview"
**Current:**
![screen shot 2018-03-05 at 10 56 29 am](https://user-images.githubusercontent.com/29442020/36985015-2a13fae0-2064-11e8-81af-f4ca32c110e7.png)

**Improved:**
<img width="1344" alt="cluster-overview-improvements" src="https://user-images.githubusercontent.com/29442020/36985051-4229b3d6-2064-11e8-9d6d-8b41c42f3f0d.png">

The improved design provides details about the used and available

[2018-03-05 16:10] BramGruneir commented on #23361
Oh wow!  I can't believe I missed that!  Good catch!

[2018-03-05 16:11] bdarnell commented on #23365
First three are #20492, last two are #22933

[2018-03-05 16:11] #23365 closed

[2018-03-05 16:32] dt commented on #23350
Looks like our top-most `cli.Main` is indeed just grabbing the first arg on error including when, say, arg parsing/validation fails. Off the top of my head, we could try to do something smarter if we were able to match a command but not some/all flags, or we could just do `os.Args[1:]` instead, but I'll let someone who's more familiar with the CLI figure it out.

@knz IIRC you've looked quite a bi

[2018-03-05 16:38] dt opened #23369 "release: v2.0-beta.20180312"
Candidate SHA: 33d8783fd72c7cc144a3bc6468e569c8e14c41a1.
Deployment status: adriatic.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `2018-03-05`
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] [Deploy to test clusters](https://github.com/cockroachdb/cockroach/w

[2018-03-05 16:39] dt opened #23371 "release: v1.1.6"
Candidate SHA: f6b7567d85d54689a7d1b61907336d1bc72b09a4
Deployment status: omega.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `2018-03-05`
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] [Deploy to test clusters](https://github.com/cockroachdb/cockroach/wiki/

[2018-03-05 16:49] benesch commented on #22283
Yeah, my conclusion was we'll want to allow channels to be both baked into the binary and dynamically set via an environment variable.

[2018-03-05 17:01] RaduBerinde opened #23374 "sql: investigate semantics of `COUNT(t.*)`"
This bug tracks two aspects:
 - decide what semantics the expression `COUNT(t.*)` should have
 - fix up CockroachDB (both the existing planner and optimizer) to provide these semantics

The semantics in postgres are tricky. In most cases, it is the same with `COUNT(*)`, and can be modeled as replacing `t.*` with a tuple of values (which is never null). But there are some exceptions when we are doi

[2018-03-05 17:11] couchand commented on #22408
This is starting to sound like a dupe of #19903 (the original report didn't, but these followups do).  Closing in favor of that issue, @bsnyder788 please feel free to add any further insights you have over there.

As I commented on that one, what's really weird to me about this issue is that I develop using Firefox almost exclusively, and I'm on Ubuntu a fair percent of the time, and I've never se

[2018-03-05 17:11] #22408 closed

[2018-03-05 17:15] nvanbenschoten commented on #23347
From the description of this issue, it sounds like you can replace the first three lines in that diff with
[code]
and force a panic, but that doesn't fire for me.

From the rest of the logging, I see `shouldAssert` being set for two reasons:
1. new range leases
2. raft log truncation

Under steady state load, the latter reason is far more common. We've observed that the `raftLogQueue` is very acti

[2018-03-05 17:26] bsnyder788 commented on #22408
Thanks! It indeed sounds like the exact issue I was seeing.

On Mon, Mar 5, 2018 at 11:12 AM, Andrew Couch <notifications@github.com>
wrote:

[2018-03-05 17:27] dianasaur323 commented on #23366
nice, was the plan to incorporate this in 2.0? if so, mind adding that as the milestone?

[2018-03-05 17:27] a-robinson commented on #18085
Moving to 2.1 to sync with #16363

[2018-03-05 17:34] bdarnell commented on #23347
See also #21901, especially https://github.com/cockroachdb/cockroach/issues/21901#issuecomment-361659611

I'd be fine with reducing the frequency of these calls (especially if we leave them in for race builds). Maybe skip them completely if the only change is the raft log truncation and only do it on lease changes.

[2018-03-05 17:37] tschottdorf commented on #23347
I agree Raft log truncations are too frequent for this to be happening.
Lease holder changes should be sufficient (I think by extension this
includes post-split on the RHS?)

On Mon, Mar 5, 2018 at 12:34 PM Ben Darnell <notifications@github.com>
wrote:

--

-- Tobias

[2018-03-05 17:41] couchand commented on #23058
@srh thanks for catching that!

[2018-03-05 17:55] couchand opened #23376 "ui: add Apache license header to all OSS code"
As brought up by @bdarnell, all UI code that isn't covered by the CCL should have the Apache license header, rather than no header.

[2018-03-05 17:58] couchand commented on #23110
The current behavior (as I understand it) is that we continue to show the time series for the decommissioned node until it rolls out of the time window.  (I will go verify that now).  It would be a reasonable extension of this to also remove the node from the dropdown selector at this point in time, though that's a nontrivial change unfortunately.

I also like the idea of annotating such nodes as

[2018-03-05 18:05] #23058 closed

[2018-03-05 18:13] couchand commented on #22943
I don't think it would be any harder to show an error when a real data request comes back in error than it is to show the error for the health ping -- isn't it exactly the same logic?

Perhaps it would make sense to ping if the user hasn't requested data recently, but that almost never actually happens, as most pages are constantly updating.

[2018-03-05 18:19] couchand commented on #21109
It sounds like this isn't actually the admin UI at all, then?  Would it be appropriate to just recategorize this as a core issue?

@mrtracy does any more investigation need to be made here, and if so, are you going to get a chance any time soon?

@a-robinson do the findings that Matt identified seem like a concern we should be addressing in the short term?

[2018-03-05 18:19] danhhz commented on #15997
We're still figuring out what the tooling around that will look like but the 2tb backup test already uses them https://github.com/cockroachdb/cockroach/blob/6f1ba7656c00e0b8f1ddf1e95ffbfb5a390ca666/pkg/cmd/roachtest/backup.go#L32-L46

[2018-03-05 18:20] danhhz commented on #17240
Nope! They got folded together and the resulting test is run nightly https://github.com/cockroachdb/cockroach/blob/6f1ba7656c00e0b8f1ddf1e95ffbfb5a390ca666/pkg/storage/allocator.go

[2018-03-05 18:20] #17240 closed

[2018-03-05 18:28] petermattis opened #23379 "ui: performance debugging brain dump"
While investigating TPC-C performance recently I had the opportunity to interact with the admin UI and found it wanting for portions of my investigation. This is a brain dump of some of the questions which I wanted to answer:

* Which nodes are overloaded? Some of the graphs show a timeseries per node while others are aggregate. For example, the "commit" latency on the Storage dashboard show per-n

[2018-03-05 18:31] benesch opened #23380 "teamcity: failed tests on master: acceptance/TestInitModeBootstrapNodeZero, acceptance/TestGossipRestart"
The following tests appear to have failed:

[#542653](https://teamcity.cockroachdb.com/viewLog.html?buildId=542653):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-05 18:32] #23380 closed

[2018-03-05 18:32] benesch commented on #23380
Testing the issue poster.

[2018-03-05 18:32] benesch opened #23381 "teamcity: failed tests on master: acceptance/TestGossipRestart, acceptance/TestInitModeBootstrapNodeZero"
The following tests appear to have failed:

[#542653](https://teamcity.cockroachdb.com/viewLog.html?buildId=542653):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-05 18:32] benesch commented on #23381
Testing the issue poster.

[2018-03-05 18:32] #23381 closed

[2018-03-05 18:33] #23177 closed

[2018-03-05 18:37] bdarnell commented on #23119
The test cluster that experienced this hang A) was configured with `--logtostderr` and B) `stderr` was a pipe, the other end of which was connected to `supervisord`. My guess is that for whatever reason, `supervisord` stopped reading from the pipe when the disk filled up. Then when cockroach got its `ENOSPC` error in `handleRaftReady`, it calls `log.Fatal` which tries to write to `stderr` before e

[2018-03-05 18:44] jordanlewis commented on #19087
Closing this as unreproducible. We can re-open if necessary.

[2018-03-05 18:44] #19087 closed

[2018-03-05 18:46] jordanlewis commented on #18945
@andreimatei, could you please provide an update on where we are here after your conn_executor rewrite?

[2018-03-05 18:48] jordanlewis commented on #18533
It looks like it was removed from TeamCity. Perhaps it's been re-added to `roachtest` - I'm not sure how I would run that in a loop.

[2018-03-05 18:55] andreimatei commented on #18945
I don't know for sure. I'm pretty sure the bytes counters should work, and I'm not sure what other stats are relevant. I'll check. In any case, the 2.0 milestone can go away; this is not a particularly big deal.

[2018-03-05 18:58] jordanlewis commented on #22895
I can't reproduce this anymore. I'm going to move it to the 2.1 milestone.

[2018-03-05 19:00] a-robinson commented on #23379
I've wanted to be able to get a view that shows all the node/store lines separately on multiple occasions before. Clicking through each per-node view does the job, but it's a lot more work and a lot tougher to compare between nodes.

[2018-03-05 19:01] petermattis commented on #23358
Moving to 2.1 as I don't think there is anything to do here for 2.0.

`AdminScatterRequest` contains a `RandomizeLeases` field. I wonder if we should add a `RandomizeReplicas` field which forces a rebalance action even if the cluster is already balanced.

[2018-03-05 19:01] danhhz commented on #16978
@hach-que sorry for the radio silence but I wanted to mention that partitioning is available in the 2.0 betas. The [partitioning docs](https://github.com/cockroachdb/docs/pull/2482) are still in PR and are probably the best place to get started, but there's also a [partitioning RFC](https://github.com/cockroachdb/cockroach/blob/50191f08e06505c7c3492013bb4fc9b429aca8c1/docs/RFCS/20170921_sql_partit

[2018-03-05 19:01] #16978 closed

[2018-03-05 19:03] benesch opened #23383 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:03] benesch opened #23384 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:03] benesch commented on #23383
Testing issue poster.

[2018-03-05 19:03] #23383 closed

[2018-03-05 19:04] benesch commented on #23384
Testing issue poster.

[2018-03-05 19:04] #23384 closed

[2018-03-05 19:04] a-robinson commented on #21109
Yes, this is primarily a core issue. Much thanks to @mrtracy for taking the time to find (at least part of) the problem.

They aren't a concern in terms of the database continuing to serve queries, but would be nice to get a better handle on early in the 2.1 cycle and potentially patch into 2.0.x depending on how complex the fix is. It'll take some time to get a good understanding of the situation

[2018-03-05 19:05] benesch opened #23386 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:05] benesch opened #23387 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:05] #23386 closed

[2018-03-05 19:05] #23387 closed

[2018-03-05 19:06] benesch opened #23388 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:06] benesch commented on #23388
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[2018-03-05 19:06] #23388 closed

[2018-03-05 19:08] petermattis commented on #23347
Yes, though there very well might be other effects going on that hide the benefits. For instance, the imbalance of load on the nodes in the cluster could completely obscure any perf benefit to disable `assertStateLocked`.

[2018-03-05 19:10] petermattis commented on #23379
* From the "Databases" tab, I want to be able to click through on a table to see a list of ranges and the size of each range. During debugging I noticed some tables had more ranges than expected and I wanted to understand why. For example, a 10MiB table had 3 ranges.

[2018-03-05 19:11] a-robinson commented on #23358
Does that mean you couldn't reproduce your problem, or just that you didn't try? If leases aren't scattering, then there is something to do for 2.0.

If we have a good reason for it, sure. It'll be more complex to implement, though, given the need to respect constraints, disk fullness, diversity, etc. along the way. For leases we can just arbitrarily move them and rely on the knowledge that even i

[2018-03-05 19:12] #22654 closed

[2018-03-05 19:14] petermattis commented on #23358
I didn't try. I assume your testing was more extensive than mine. I mainly filed this bug due to the replica imbalance which SCATTER doesn't address by design (at the moment). I'll be trying this again in a few hours and will move back to 2.0 if the lease imbalance persists.

I was imagining that we'd pass a `forceRebalance` flag to `processOneChange` and then go through the normal allocation mach

[2018-03-05 19:22] vilterp commented on #20653
True, could also do

[code]

[2018-03-05 19:26] petermattis commented on #23347
If the excessive `assertStateLocked` calls are occurring due to raft log truncation, an easier test than tpcc would be to run `kv --min-block-bytes=4096 --max-block-bytes=4097`. This will generate a lot of data and thus cause a lot of raft log truncation.

[2018-03-05 19:38] benesch opened #23392 "teamcity: failed tests on master: acceptance/TestGossipRestart, acceptance/TestInitModeBootstrapNodeZero"
The following tests appear to have failed:

[#542653](https://teamcity.cockroachdb.com/viewLog.html?buildId=542653):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-05 19:42] mjibson commented on #15332
Also note I'm still seeing this error in https://github.com/cockroachdb/cockroach/issues/22924. The exact source may be different (i.e., not identical to the title of this issue), but it does appear there are still issues related to distsql, disk writes, node liveness, and context cancellation.

[2018-03-05 19:42] benesch opened #23393 "teamcity: failed tests on master: acceptance/TestGossipRestart, acceptance/TestInitModeBootstrapNodeZero"
The following tests appear to have failed:

[#542653](https://teamcity.cockroachdb.com/viewLog.html?buildId=542653):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-05 19:42] #23392 closed

[2018-03-05 19:42] #23393 closed

[2018-03-05 19:43] couchand commented on #23379
Thanks for writing this up @petermattis.

Re the per-node vs. aggregate question, it's something we've talked about, and was briefly mentioned on #18452.

A lot of your other thoughts are in line with #20500, or would be natural extensions to that view.

[2018-03-05 19:44] couchand commented on #22943
Yes, I would expect that a new reducer would watch for errors on any network call and respond accordingly.

[2018-03-05 19:45] mrtracy commented on #21109
When these de-duplicated "range" counters are recorded, we currently use an algorithm to assign a single replica for each range to do the recording:

+ If there is a Raft state with a raft leader, the leader should record
+ If there is no Raft leader, the live node with the lowest-numbered replica ID should record

In the narrow case of the range count estimation, we can fix the issue by removing

[2018-03-05 19:51] benesch opened #23394 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:51] benesch opened #23395 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:52] #23394 closed

[2018-03-05 19:52] #23395 closed

[2018-03-05 19:52] a-robinson commented on #22924
Did you save the logs from this? Was there any indication of node liveness problems?

[2018-03-05 19:52] benesch opened #23396 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:52] benesch opened #23397 "ccl/partitionccl: TestInitialPartitioning/DECIMAL failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/dc02249fc72eec6dfe7134188eb1691da1cac718

Parameters:
[code]

Stress build found a failed test: https://viewLog.html?buildId=537671&tab=buildLog

[code]

[2018-03-05 19:52] #23396 closed

[2018-03-05 19:52] #23397 closed

[2018-03-05 20:00] couchand opened #23400 "ui: clusterviz: only visible elements are clickable on node component"
Hey @vilterp can you please add the rect to the node component so that the whole area is clickable, like with the locality?

Followup to #23252 and #23283

[2018-03-05 20:06] vilterp commented on #23400
Oh whoops. Meant to do this in the first PR. Will do.

[2018-03-05 20:06] tschottdorf commented on #21724
Bumping this since I just had to up our acceptance time limit to 30min (#23402). We need to do something here sooner rather than later; this absolutely dominates time-to-merge.

I think the way to go is to reduce the amount of Docker where possible, and to possibly delegate some tests to nightlies.

[2018-03-05 20:06] petermattis opened #23403 "ui: inconsistent drop down placement"
<img width="651" alt="screen shot 2018-03-05 at 3 02 37 pm" src="https://user-images.githubusercontent.com/6201335/36997067-7beef9ce-2086-11e8-8b3c-5aa0132abb83.png">

<img width="663" alt="screen shot 2018-03-05 at 3 02 29 pm" src="https://user-images.githubusercontent.com/6201335/36997081-7f0e9f2e-2086-11e8-98d7-a9895bf0923a.png">

Notice in the above screenshots that the vertical distance of th

[2018-03-05 20:14] nvanbenschoten commented on #23347
I actually did find a case where the panic I mentioned above triggered. It is due to the logic here:

https://github.com/cockroachdb/cockroach/blob/8d52dc478d6ffce48e57b3da82874e76fc8b6a04/pkg/storage/batcheval/cmd_gc.go#L115-L121

The fix for this is straightforward and with it addressed I was able to run all unit tests without issue. I'll send out a fix for this that includes a race-build only a

[2018-03-05 20:15] mjibson commented on #22924
No. There's a nightly roachtest for this now, but it hasn't been running due to other problems.

[2018-03-05 20:16] couchand commented on #23168
Ugh, thanks for catching this!

[2018-03-05 20:23] cockroach-teamcity opened #23406 "teamcity: failed tests on master: testrace/TestBuild, test/TestBuild"
The following tests appear to have failed:

[#547355](https://teamcity.cockroachdb.com/viewLog.html?buildId=547355):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-05 20:23] cockroach-teamcity opened #23407 "teamcity: failed tests on master: testrace/TestBuild, test/TestBuild"
The following tests appear to have failed:

[#547366](https://teamcity.cockroachdb.com/viewLog.html?buildId=547366):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-05 20:27] couchand commented on #23403
Hmmm, this appears to have been an issue for quite a while (at least since last fall, investigating back into embedded.go seems like more trouble than it's worth).  In theory it shouldn't be a big change, but tracking down exactly where it's coming from may be a small undertaking.  We can keep it in 2.0 for now, but it seems like a low priority investigation.

[2018-03-05 20:28] mjibson commented on #23355
That's a cool bug. I think I know what it is.

[2018-03-05 20:28] petermattis commented on #23403
The lowest of low priorities.

[2018-03-05 20:33] vilterp commented on #23403
Ugh. Maybe while we're mucking around with the CSS to fix this we can also fix #20818

[2018-03-05 20:35] mrtracy commented on #21109
I've uploaded a proposed fix for the narrow issue of the range count, which I believe is strictly an improvement.  It does not fix other range counters which require in-memory raft state.

[2018-03-05 20:42] petermattis opened #23411 "ui: localities debug page scrolls to top periodically"
The `/#/reports/localities` debug page periodically scrolls to top. I'm guessing that the page is refreshing, but the content changes very infrequently so this is somewhat annoying. And even if the contents have changed, scrolling to the top of the page on refresh is irritating.

[2018-03-05 20:45] #23344 closed

[2018-03-05 20:45] a-robinson commented on #23411
Also see https://github.com/cockroachdb/cockroach/issues/21700, which is probably caused by the same mechanism

[2018-03-05 20:47] cockroach-teamcity opened #23413 "teamcity: failed tests on master: testrace/TestBuild, test/TestBuild"
The following tests appear to have failed:

[#547449](https://teamcity.cockroachdb.com/viewLog.html?buildId=547449):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-05 20:49] justinj commented on #23341
@abhimadan your change should fix this in 2.0, right?

[2018-03-05 20:53] couchand commented on #23411
We can apply a patch here, but it's worth noting that a similar problem affects many pages on the admin UI, and it would be really nice to fix it more generally (but probably out of scope for 2.0).  But we can throw in a patch for this instance of it.

[2018-03-05 20:54] vilterp commented on #23411
Same fix as https://github.com/cockroachdb/cockroach/pull/22527, I think. Need to still render the UI while we're refreshing its data.

I agree that we need to refactor this into a shared pattern of some kind.

[2018-03-05 20:55] bdarnell opened #23414 "log: Fatal errors take too long to crash"
When we call log.Fatal, we try to report a crash to sentry and write a message to disk and stderr before the process exits. This can take time, and while that's happening the process may still be running normally. This can lead to availability problems if the node appears to be alive enough to its peers (as seen in #23119), or to consistency problems if we're trying to crash due to observed clock

[2018-03-05 21:01] petermattis opened #23416 "ui: back button from Databases -> Tables scrolls to top"
This might occur on other pages as well, I just noticed it on the Database page. You need enough tables so that the page can scroll. Scroll down near the bottom and click on a table to show its schema. Now use the browser back button to return to the Databases page and you're snapped to the top of the page. Disconcerting. This is a UI nit, so feel free to punt to 2.1.

[2018-03-05 21:02] vilterp commented on #23403
Worth noting that the menu also shows up below the click box in the cluster viz toggle:

![image](https://user-images.githubusercontent.com/7341/36999588-954ec5e0-208e-11e8-84b5-264510cefec7.png)

[2018-03-05 21:08] couchand commented on #21531
closed by #23070

[2018-03-05 21:08] #21531 closed

[2018-03-05 21:12] abhimadan commented on #23341
Yeah, I believe #22338 fixes this issue. If I run `select '{4d6c4357-0c43-49ab-84e1-d6d44462b055}'::text[]::uuid[]` on a recent cockroach binary, I get the following output:
[code]

[2018-03-05 21:13] justinj commented on #23341
Thanks @abhimadan! @0xbaadf00d, thanks for the report, this should be resolved in v2.0!

[2018-03-05 21:13] #23341 closed

[2018-03-05 21:13] couchand opened #23419 "ui: rename "graph" to "chart""
This is a graph:

![graph example](http://mathworld.wolfram.com/images/eps-gif/CocktailPartyGraph_700.gif)

This is a chart:

![chart example](http://nvd3.org/examples/img/stackedarea.png)

[2018-03-05 21:14] petermattis opened #23420 "ui: double scrolling behavior in Node selector"
If the Node selector needs to scroll, it doesn't prevent scrolling in the underlying page. In the animation below I'm just using the scroll wheel while hovering over the Node selector drop down. This is a UI nit and low priority. Feel free to bump to 2.1.

![weird scrolling](https://user-images.githubusercontent.com/6201335/37000079-2f83d14a-2090-11e8-8baa-95665b33df1d.gif)

[2018-03-05 21:19] #23251 closed

[2018-03-05 21:29] dianasaur323 commented on #23411
If this is a refactor you all are about and want to consider prioritizing, perhaps we should create an issue and also add it to airtable? cc @piyush-singh

[2018-03-05 21:36] BramGruneir commented on #23297
I marked this as a "good first issue" for a reason.  It should be relatively easy to do and if I had more time, I'd have already done it myself.

This cleans up some basic confusion that both devs and clients have seen and I think it should be relatively high priority.

[2018-03-05 21:37] vilterp commented on #23411
Yeah maybe. @mrtracy also discusses some possible network issues in #18741. Unclear thus far what the right abstraction here is, but we'll def be thinking about it.

[2018-03-05 21:42] dianasaur323 commented on #23297
ok noted!

[2018-03-05 21:47] #21470 closed

[2018-03-05 21:53] mrtracy commented on #23411
However, in this case it appears to be using the wrong criteria to determine when to display a "loading" message instead of content.  In general, pages should only display "loading" message instead of content if there is no data.  However, both of these pages (localities and the raft page) display the loading message whenever new data is being fetched, instead of just displaying the old data.  Thi

[2018-03-05 21:56] dianasaur323 commented on #23411
yay, baller!

[2018-03-05 21:59] slugalisk opened #23429 "sql: Cannot set empty STRING[] and INT[] columns in same UPDATE query"
**Log headers:**
[code]
[code]
[code]

**Issue:**
An error is returned when attempting to set both a `STRING[]` and `INT[]` column to an empty array in the same query. Adding type hints does not fix the problem...

**Steps to reproduce:**
[code]

FWIW these all work... the bug only occurs during `UPDATE` queries and only when both values are empty.
[code]

[2018-03-05 22:03] #23355 closed

[2018-03-05 22:05] mjibson opened #23430 "importccl: TestImportStmt/allow-default flake"
csv_test.go:873: unexpected: pq: could not parse "" as type int: strconv.ParseInt: parsing "": invalid syntax

https://teamcity.cockroachdb.com/viewLog.html?buildId=547783&buildTypeId=Cockroach_UnitTests

[2018-03-05 22:09] #22411 closed

[2018-03-05 22:13] dianasaur323 commented on #18736
yep, time is allocated in 2.1. Thanks for moving the milestone.

[2018-03-05 22:15] dt commented on #23429
@justinj @jordanlewis IIRC y'all are the arrays experts or at least would know who is and can re-assign, or if this is just a typing rather than array-speicifc issue.

[2018-03-05 23:57] #21700 closed

[2018-03-05 23:57] #23411 closed

[2018-03-06 01:08] nvanbenschoten opened #23442 "roachtest: COCKROACH_DEV_LICENSE must be set to run tests"
Most of the `roachtest` tests require enterprise features to run successfully. Without them, the tests usually fail with an error along the lines of `Error: restoring fixture: pq: use of RESTORE requires an enterprise license`. This requirement should be made more explicit and the error should not be swallowed. We should probably also fail the test immediately if the environment variable (which is

[2018-03-06 01:25] #22256 closed

[2018-03-06 01:45] petermattis opened #23444 "ui: changing a zone config doesn't create an event"
Not really a UI-issue per-se, but you notice it in the UI. Setting a zone config (either on the command line or via the `EXPERIMENTAL CONFIGURE ZONE` syntax) does not create an event displayed in the `system.event` table. I postulate that it should as changing a zone config is a significant occurrence.

Note that we should also capture implicit zone config deletions that occur due to changing the

[2018-03-06 02:38] tbg opened #23445 "sql: `SET CLUSTER SETTING` can return ambiguous result"
[code]

Seen in TestVersionUpgrade [here](https://teamcity.cockroachdb.com/viewLog.html?buildId=548223&buildTypeId=Cockroach_UnitTests).

It seems that this should be retried internally since it's idempotent, though I'm not sure how hard that is to implement due to the tracking work involved.

If nothing else, it'd be good to have a wrapper that we can use for idempotent operations so that client

[2018-03-06 02:46] tschottdorf commented on #23430
also got this, fwiw: https://teamcity.cockroachdb.com/viewLog.html?buildId=548223&buildTypeId=Cockroach_UnitTests

[2018-03-06 02:53] tschottdorf commented on #23442
We should also consider whether we can make the test fixtures skip the enterprise check and/or whether it's worth factoring out the tests that use enterprise features into a subpackage.

In the short term, I suppose we could add the fatal and explain in the message that you can circumvent it by setting the var to the empty string.

[2018-03-06 03:01] tschottdorf commented on #23406
Fixed by #23408.

[2018-03-06 03:01] #23406 closed

[2018-03-06 03:01] tschottdorf commented on #23407
Fixed by #23408.

[2018-03-06 03:01] #23407 closed

[2018-03-06 03:02] tschottdorf commented on #23413
Fixed by #23408.

[2018-03-06 03:02] #23413 closed

[2018-03-06 03:05] tschottdorf opened #23447 "build: broken `master` builds don't post issues any more"
https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockroach_UnitTests&branch_Cockroach=%3Cdefault%3E&tab=buildTypeStatusDiv

[2018-03-06 03:16] tschottdorf commented on #23447
[02:38:46]Step 2/3: Post failures to GitHub (Command Line) (3s)
[02:38:46]Starting: /home/agent/work/.go/src/github.com/cockroachdb/cockroach/build/teamcity-post-failures.py
[02:38:46]in directory: /home/agent/work/.go/src/github.com/cockroachdb/cockroach
[02:38:49]Traceback (most recent call last):
[02:38:49]  File "/home/agent/work/.go/src/github.com/cockroachdb/cockroach/build/teamcity-post-fai

[2018-03-06 03:21] benesch commented on #23447
Urgh, thanks. Looks like a bytes/unicode issue.

[2018-03-06 03:45] #23430 closed

[2018-03-06 03:46] benesch opened #23450 "teamcity: failed tests on master: acceptance/TestGossipRestart, acceptance/TestInitModeBootstrapNodeZero"
The following tests appear to have failed:

[#542653](https://teamcity.cockroachdb.com/viewLog.html?buildId=542653):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 03:47] #23450 closed

[2018-03-06 03:49] benesch opened #23451 "teamcity: failed tests on master: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob, test/TestImportStmt, testrace/TestImportStmt"
The following tests appear to have failed:

[#548242](https://teamcity.cockroachdb.com/viewLog.html?buildId=548242):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 03:49] #23451 closed

[2018-03-06 03:52] benesch opened #23452 "teamcity: failed tests on master: testrace/TestImportStmt, test/TestBackupRestoreControlJob, test/TestImportStmt, testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#548242](https://teamcity.cockroachdb.com/viewLog.html?buildId=548242):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 03:53] #23452 closed

[2018-03-06 03:56] benesch opened #23453 "teamcity: failed tests on master: testrace/TestBackupRestoreControlJob, test/TestBackupRestoreControlJob, testrace/TestImportStmt, test/TestImportStmt"
The following tests appear to have failed:

[#548242](https://teamcity.cockroachdb.com/viewLog.html?buildId=548242):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 03:57] #23453 closed

[2018-03-06 03:59] #23447 closed

[2018-03-06 04:26] cockroach-teamcity opened #23455 "teamcity: failed tests on master: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#548375](https://teamcity.cockroachdb.com/viewLog.html?buildId=548375):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 04:39] cockroach-teamcity opened #23456 "teamcity: failed tests on master: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#548404](https://teamcity.cockroachdb.com/viewLog.html?buildId=548404):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 04:40] cockroach-teamcity opened #23457 "teamcity: failed tests on master: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#548424](https://teamcity.cockroachdb.com/viewLog.html?buildId=548424):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 04:46] #23455 closed

[2018-03-06 04:46] #23456 closed

[2018-03-06 04:48] benesch commented on #23457
@mjibson somehow pause_import is still broken :(

[2018-03-06 06:09] tschottdorf commented on #23346
Likely predates #23333.

[2018-03-06 06:09] #23346 closed

[2018-03-06 07:35] mjibson commented on #23457
![](https://media1.giphy.com/media/h2Uh9MWARjArK/giphy.gif)

[2018-03-06 07:55] mjibson commented on #22984
#23457 took this over

[2018-03-06 07:55] #22984 closed

[2018-03-06 07:56] #21871 closed

[2018-03-06 10:23] cockroach-teamcity opened #23459 "ccl/backupccl: TestBackupRestoreControlJob failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d7f26362e9b77e4841d94a15b70ebe2749674fbf

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=548860&tab=buildLog

[code]

[2018-03-06 10:23] cockroach-teamcity opened #23460 "ccl/backupccl: TestBackupRestoreControlJob/pause_import failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d7f26362e9b77e4841d94a15b70ebe2749674fbf

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=548860&tab=buildLog

[code]

[2018-03-06 12:43] RaduBerinde commented on #22925
Closing as dup of #22926.

[2018-03-06 12:43] #22925 closed

[2018-03-06 12:45] RaduBerinde commented on #22926
This looks like it stopped a few days ago.

I can't reproduce locally (on one of the commits with reported failure) so I can't verify. @nvanbenschoten @tschottdorf Do you know of any recent changes that could have fixed this?

[2018-03-06 13:36] petermattis commented on #23336
@tschottdorf Any thoughts about my counter-proposal?

[2018-03-06 13:43] Meai opened #23461 "ERROR: cockroach server exited with error: unable to lookup hostname"
**BUG REPORT**
OS: OpenSuse Tumbleweed
Version: cockroach-v1.1.5.linux-amd64.tgz

Cockroach fails to start with default arguments.

[code]

**LOG**

[code]

[2018-03-06 13:53] jordanlewis commented on #22787
This isn't actionable for 2.0 anymore. It belongs in the category of "bad system behavior when the system is overloaded", which we should definitely look at after 2.0 is released.

[2018-03-06 14:04] jordanlewis commented on #21879
Round one of this was submitted several months ago. Round two (repartitioning) was briefly tested without finding any new issues. Repartitioning is also undergoing some use in load testing, which will catch any remaining obvious issues.

[2018-03-06 14:04] #21879 closed

[2018-03-06 14:23] dianasaur323 commented on #23444
We 100% need this - it's part of the user story for auditing, but auditing might fall out of scope for 2.1, in which case this falls under Andy. cc @awoods187

[2018-03-06 14:31] dt commented on #23461
Hi @meai!

When CockroachDB nodes form a cluster, they need to be able to identify themselves to the other nodes with a resolvable hostname. By default, we use the os reported hostname, but as part of starting up, we check that we can resolve it and return that error if we can't.

You can override the default hostname choice though with the `--advertise-host` flag, providing explicitly the name yo

[2018-03-06 15:01] cockroach-teamcity opened #23462 "teamcity: failed tests on master: testrace/TestBackupRestoreControlJob, testrace/TestTrace, test/TestTrace, test/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#549090](https://teamcity.cockroachdb.com/viewLog.html?buildId=549090):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 15:11] solongordon commented on #22264
@jordanlewis proposed just using local execution for queries like this, since they're mainly used for schema introspection. It looks simple enough to always recommend local execution for queries which include a cast to an OID type (like REGCLASS). Any objections to this approach?

[2018-03-06 15:15] knz commented on #22264
Op 06-03-18 om 16:12 schreef solongordon:

I like this. I think it's a good idea all around.

--
Raphael 'kena' Poss

[2018-03-06 15:17] asubiotto commented on #22424
@bobvawter, when you QA, note that the default `drain_wait` should be set to something reasonable  (https://github.com/cockroachdb/cockroach/pull/23333) and that there might also be something to do wrt configuring the readiness/liveness check period and threshold.

[2018-03-06 15:18] jordanlewis commented on #22264
👍 I think before this is closed we should also figure out what's up with that error message and fix it - it seems inappropriate for this context. Even if we always plan these with local SQL going forward, I'm nervous that there's a confused error message getting generated somewhere that will leak out in unexpected situations.

[2018-03-06 15:22] a-robinson commented on #22468
Including liveness checks ("is this server so unhealthy it needs to be restarted" is a bit awkward given that the `/health` endpoint isn't served until after the cluster been initialized. That means that unless we change the orchestration system to automatically run the init command as soon as it creates the cockroachdb cluster, the cockroach processes will keep being killed as non-live until the

[2018-03-06 15:27] a-robinson commented on #22424
I looked into re-adding the liveness/readiness checks last night, and the liveness check isn't re-addable yet, at least not without additional work on the kubernetes config file to run `cockroach init` immediately: https://github.com/cockroachdb/cockroach/issues/22468#issuecomment-370816584

[2018-03-06 15:32] cockroach-teamcity opened #23464 "teamcity: failed tests on master: testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#549131](https://teamcity.cockroachdb.com/viewLog.html?buildId=549131):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 15:43] justinj commented on #23429
@slugalisk This will be fixed in the next release via #23465 - thanks so much, the detailed bug report is very much appreciated!

[2018-03-06 15:54] justinj opened #23468 "sql: support sql arrays of JSONB"
Some discussion of this feature [here](https://github.com/cockroachdb/cockroach/pull/23126#issuecomment-368743233).

We skipped over this for the time being since it caused some headaches with escaping.

[2018-03-06 16:00] a-robinson commented on #23018
Any estimate on when this will happen?

[2018-03-06 16:01] #23002 closed

[2018-03-06 16:15] vivekmenezes commented on #21467
This is some kind of grpc error. I'm tempted to just close it. It could be related to https://github.com/moby/moby/issues/30984

[2018-03-06 16:15] #21467 closed

[2018-03-06 16:21] cockroach-teamcity opened #23472 "teamcity: failed tests on master: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#549235](https://teamcity.cockroachdb.com/viewLog.html?buildId=549235):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 16:22] vivekmenezes commented on #23124
same as #19925

[2018-03-06 16:22] #23124 closed

[2018-03-06 16:27] cockroach-teamcity opened #23473 "teamcity: failed tests on master: testrace/TestBackupRestoreControlJob, test/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#549264](https://teamcity.cockroachdb.com/viewLog.html?buildId=549264):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 16:37] jordanlewis commented on #18684
Can we mark this error as retryable? If that's possible then we can close this.

[2018-03-06 16:44] nvanbenschoten commented on #22926
Yeah, this should have been fixed by https://github.com/cockroachdb/cockroach/pull/23294!

[2018-03-06 16:44] #22926 closed

[2018-03-06 16:51] bdarnell commented on #22468
Mainly an oversight. Note that the grpc gateway is not an issue because `/health` is served on the HTTP port instead of the GRPC port. (I hadn't thought about that distinction; that would be one reason to use a GRPC-generated endpoint instead of the raw `/health` handler)

[2018-03-06 16:51] couchand opened #23480 "ui: details tooltip picks out uneven data points"
It looks like the details tooltip just picks out the closest datapoint in each series to the cursor, which has very unintuitive behavior around series for started/stopped nodes.  Example:

<img width="798" alt="screen shot 2018-03-06 at 11 44 13 am" src="https://user-images.githubusercontent.com/793969/37045465-0137fec0-2134-11e8-93ea-00287f056ea8.png">

The first recorded datapoint for nodes that

[2018-03-06 17:00] jordanlewis commented on #21421
@vivekmenezes suggests as an action item to centralize the table descriptor validate step inside WriteTableDesc.

[2018-03-06 17:02] jordanlewis commented on #19110
@BramGruneir please add the executed SQL to this issue.

[2018-03-06 17:02] jordanlewis commented on #17698
@vivekmenezes suggests this may be fixed after one of Spencer's recent changes.

[2018-03-06 17:07] benesch opened #23481 "build: add checklist for Go version bumps"
See #23441.

[2018-03-06 17:09] #23400 closed

[2018-03-06 17:17] jordanlewis commented on #20448
@solongordon the action item here is to see if it's possible to reproduce this issue with the app that's provided. You should be able to use a similar setup as the one you'll use for our internal ycsb load generator.

[2018-03-06 17:27] #23119 closed

[2018-03-06 17:36] cockroach-teamcity opened #23483 "teamcity: failed tests on master: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#549414](https://teamcity.cockroachdb.com/viewLog.html?buildId=549414):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 17:54] andreimatei commented on #18684
From the updates above it sounds like we would have expected deadlines to be turned into retriable errors in some cases. I think this deserves investigation; I'll see what's going on.

[2018-03-06 17:56] #18808 closed

[2018-03-06 17:56] #22591 closed

[2018-03-06 18:01] cockroach-teamcity opened #23485 "teamcity: failed tests on master: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob, testrace/TestTrace, test/TestTrace"
The following tests appear to have failed:

[#549501](https://teamcity.cockroachdb.com/viewLog.html?buildId=549501):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 18:01] benesch commented on #23018
I did an initial round of testing last Friday and didn't find anything. I'm
going to take a more principled approach now that leaseholder preferences
have landed. Probably today.

On Tue, Mar 6, 2018 at 11:00 AM, Alex Robinson <notifications@github.com>
wrote:

[2018-03-06 18:15] asubiotto commented on #22650
@abhimadan are there any remaining work items to close this issue?

[2018-03-06 18:22] abhimadan commented on #22650
Don't think so. The query in the issue can be cancelled quickly, and from some testing I've done, query cancellation doesn't seem to have any more unexpected slowness. (I was actually just about to close it :) )

[2018-03-06 18:24] cockroach-teamcity opened #23486 "teamcity: failed tests on master: testrace/TestBackupRestoreControlJob, test/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#549557](https://teamcity.cockroachdb.com/viewLog.html?buildId=549557):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 18:24] arjunravinarayan opened #23487 "sql: index selection prefers reading from thinner indexes even at the cost of additional sorting"
In TPC-C, we have the following table definition for the `order_line` table:

[code]

Selecting from the prefix of the primary key columns in primary key order results in the following explain plan, which is clearly suboptimal:

[code]

Forcing reading from the primary index gives the desired plan, which does not have a SORT node:
[code]

The index selection mechanism is preferring the former plan

[2018-03-06 18:25] #22650 closed

[2018-03-06 18:35] arjunravinarayan commented on #17086
cc @jordanlewis we should make sure we get this done in 2.1. It would make for a good intern project. FWIW, TPC-C check 3.3.2.6 would really benefit :)

[2018-03-06 18:35] tschottdorf opened #23490 "release-2.0: panic in SHOW TRACE FOR UPSERT INTO _(_, _, _, _, _, _..."
https://sentry.io/cockroach-labs/cockroachdb/issues/481860440/

[code]

[2018-03-06 18:38] petermattis commented on #17086
There are two parts to this work: one is a new processor (or extension to the existing `aggregator` processor) that takes advantage of the ordering, the second is to take advantage of the faster processing speed of partial orderings in selecting the best plan.

Cc @andy-kimball, @RaduBerinde, @rytaft

[2018-03-06 18:38] RaduBerinde commented on #23487
We probably need to adjust the rudimentary formulas in opt_index_selection.

[2018-03-06 18:38] justinj commented on #23109
Fixed by #23211.

[2018-03-06 18:38] #23109 closed

[2018-03-06 18:41] justinj commented on #23176
@bdarnell do you have any more thoughts on if this could have been caused by the use of SNAPSHOT transactions? I'm not sure how best to proceed with this one.

[2018-03-06 18:42] justinj commented on #21654
Unable to repro this, closing for now, we'll see if it turns up again.

[2018-03-06 18:42] #21654 closed

[2018-03-06 18:46] arjunravinarayan commented on #17086
We could probably do some part of it in the DistSQL physical planner itself along with the new processor before we have a complete optimizer solution.

[2018-03-06 18:48] couchand opened #23492 "ui: cluster overview usability tweaks"
There were a few minor tweaks to the cluster overview that we'd said we would tackle before 2.0, but I've lost track of them.  I don't see an issue anywhere, so I'm making this to make sure they're on our radar.

@josueeee can you fill in more details please?  Thanks.

[2018-03-06 18:56] asubiotto commented on #20720
https://sentry.io/cockroach-labs/cockroachdb/issues/418521108/

[2018-03-06 19:02] #23457 closed

[2018-03-06 19:08] vilterp commented on #12253
I think this issue got a little off track by talking about the replica matrix, which is captured in other issues and user stories. It's really about showing where data lives, not showing node configuration.

The nodes debug page is already pretty close to what we want here I think; just have to merge it with the existing screens that show nodes in non-debug land.

[2018-03-06 19:20] jordanlewis commented on #18124
This is not a problem with the underlying system - it's just a test resiliency issue. We already know that `now()` might not be monotonic; we have `cluster_logical_timestamp` for that.

This also doesn't seem to happen anymore now that we're off Azure, which had more egregious backward clock jump issues.