[2017-10-31 20:14] #19686 closed

[2017-10-31 20:29] cockroach-teamcity opened #19692 "teamcity: failed tests on master: acceptance/TestDockerC/Success/runMode=docker, acceptance/TestDockerC, acceptance/TestDockerC/Success"
The following tests appear to have failed:

[#394623](https://teamcity.cockroachdb.com/viewLog.html?buildId=394623):

[code]
Please assign, take a look and update the issue accordingly.

[2017-10-31 20:48] justinj commented on #19668
That's a good point, I tried the example document on wikipedia:
[code]
 and (I realized I was actually under-counting for the struct version and fixed it for this measurement):
[code]

So it seems to hit around 4x difference. Given that and the perf difference for `ParseDJSON` (and the fact that the code I have using interfaces is nicer than the code I have using structs, I think it seems reasonab

[2017-10-31 20:57] nvanbenschoten commented on #19668
Do the comparison of these types within JSON objects have the same semantics as the comparison of them outside of JSON objects? In other words, will be able to use the existing `CmpOps` for scalar JSON variants?

I agree. That seems like the right approach to pursue for now.

[2017-10-31 21:54] tschottdorf commented on #19574
This is likely due to our dependency bump. Newer versions of gRPC log at
Warning.

On Thu, Oct 26, 2017 at 2:52 PM Jesse Seldess <notifications@github.com>
wrote:

--

-- Tobias

[2017-10-31 22:52] jrote1 commented on #19210
@vivekmenezes  Yeah I want to do it for Tables, Columns and Indexes, both adding then removing and removing then adding. And also some add some tests for adding and renaming, different combinations like that. Will probably begin work tomorrow was getting dev environment configured today.

[2017-10-31 22:54] bdarnell opened #19694 "jepsen: File issues on failures"
Currently, jepsen failures are not tracked anywhere and rely on someone manually watching the logs. This should file an issue instead, similar to the nightly stress runner and other CI jobs.

[2017-10-31 23:00] bdarnell opened #19695 "jepsen: Dashboard"
We've been running jepsen tests on a nightly basis for some time, but to the outside world it looks like we just did a one-off test last fall (I've been asked several times whether we still pass jepsen tests or have any updates since Kyle's analysis). We should have a publicly-visible dashboard of our jepsen test status/history, to show that everything's still working (or not, as the case may be).

[2017-10-31 23:02] bdarnell opened #19696 "jepsen: Track performance over time"
The jepsen tests are not performance benchmarks, but they provide good examples of high-contention worst-case performance. We should report timing information from each test run to the same system we use for tracking other benchmark performance.

[2017-10-31 23:10] bdarnell opened #19697 "jepsen: More nemeses, flexible configuration"
Our jepsen tests support some nemesis configurations that we are not currently using: `split`, and a family of `-skews` configurations. We should enable both the `split` nemesis and at least one of the `skews` nemeses.

We currently run each (test, nemesis) combination for six minutes, so adding a new nemesis adds a significant amount of runtime to the test suite. The failure noted in #17815 occur

[2017-10-31 23:13] bdarnell commented on #15738
The jepsen tests are in pretty good shape these days. I think that aside from the automatic filing of issues (#19694), they're already "first-class citizens". I've added separate issues for most of the remaining points here, so I'm closing this meta-issue. Feel free to open new issues for the points abandoned here if you think they're worth keeping.

[2017-10-31 23:13] #15738 closed

[2017-10-31 23:42] a-robinson opened #19699 "storage: Improve reliability of node liveness"
Opening a tracking/organizational issue for the work behind trying to make node liveness more reliable in clusters with very heavy workloads (e.g. #15332). More thoughts/ideas very welcome.

**Problem definition**

Node liveness heartbeats time out when a cluster is overloaded. This typically makes things even worse in the cluster, since nodes losing their liveness prevents pretty much all other w

[2017-11-01 00:27] petermattis commented on #19695
This is a good idea. We should consider this a product feature and note the marketing benefits.

Cc @nstewart, @jess-edwards

[2017-11-01 00:37] bdarnell commented on #19699
I think there's an opportunity to add more upstream-of-raft deduping (for this and certain other operations including intent resolution). When lots of heartbeat updates occur, we queue them up in the command queue and apply them in order. If we have trouble keeping up, this queuing pushes us further and further behind. We could be more intelligent about this: for liveness updates, we would general

[2017-11-01 06:17] cockroach-teamcity opened #19702 "ccl/sqlccl: TestRestoreAsOfSystemTime/ts1 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394847&tab=buildLog

[code]

[2017-11-01 06:17] cockroach-teamcity opened #19703 "ccl/sqlccl: TestRestoreAsOfSystemTime/ts1 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394847&tab=buildLog

[code]

[2017-11-01 06:17] cockroach-teamcity commented on #19438
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394853&tab=buildLog

[2017-11-01 06:17] cockroach-teamcity commented on #19438
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394853&tab=buildLog

[2017-11-01 06:17] cockroach-teamcity opened #19704 "ccl/storageccl: TestExportCmd failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394848&tab=buildLog

[code]

[2017-11-01 06:17] cockroach-teamcity opened #19705 "ccl/storageccl: TestExportCmd/ts2 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394848&tab=buildLog

[code]

[2017-11-01 06:17] cockroach-teamcity opened #19706 "ccl/storageccl: TestExportCmd/ts3 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394848&tab=buildLog

[code]

[2017-11-01 06:17] cockroach-teamcity opened #19707 "ccl/storageccl: TestExportCmd/ts4 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394848&tab=buildLog

[code]

[2017-11-01 07:00] cockroach-teamcity commented on #18582
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394914&tab=buildLog

[2017-11-01 07:09] cockroach-teamcity opened #19708 "util/grpcutil: Can no longer detect unambiguous failures"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=394944&tab=buildLog

[code]

[2017-11-01 09:32] cockroach-teamcity opened #19709 "util/shuffle: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=395224&tab=buildLog

[code]

[2017-11-01 09:32] cockroach-teamcity opened #19710 "util/syncutil: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/98f1623d60254505b65c457728617af5c5fec33b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=395226&tab=buildLog

[code]

[2017-11-01 12:52] knz commented on #15893
so I wrote `small-skews` and `big-skews` initially. Both were implemented to check that our safeguards are indeed effective in the "common" case.

Kyle then added the other three; `subcriticial-skews` and `critical-skews` to check edge behaviors, and `huge-skews` to add the check of our HLC logic on top of what `big-skews` was meant to test.

I think we should deprecate `big-skews` in favor of `hu

[2017-11-01 13:19] tschottdorf commented on #19710
yarn timeout.

[2017-11-01 13:19] #19710 closed

[2017-11-01 13:20] tschottdorf commented on #19709
yarn timeout.

[2017-11-01 13:20] #19709 closed

[2017-11-01 13:28] tschottdorf commented on #19705
--- FAIL: TestExportCmd (0.43s)
    --- PASS: TestExportCmd/ts1 (0.06s)
    --- FAIL: TestExportCmd/ts2 (0.04s)
    	export_test.go:105: expected 0 files in latest export got 1
    	export_test.go:108: expected 0 kvs in latest export got 3
    	export_test.go:111: expected 0 files in all export got 1
    	export_test.go:114: expected 0 kvs in all export got 4
    --- FAIL: TestExportCmd/ts3 (0.05s

[2017-11-01 13:49] vivekmenezes commented on #19210
Adding and removing in the same transaction is much easier than removing and then adding, because when you're removing a schema element you have to deal with the fact that the schema element could be cached somewhere. I'd stick with adding and then removing in the same transaction as a first PR. Thanks so much for your willingness to take this on!

[2017-11-01 13:51] korpa opened #19711 "Streamsets JDBC PostgreSQL Producer fails to INSERT data to CockroachDB"
As the error appeared in the Streamsets log file, I opened an issue in Streamsets' JIRA. But I'm not 100% sure if this is a Streamsets bug, I want to let you know and ask you if you could have a look as well: https://issues.streamsets.com/browse/SDC-7747

[2017-11-01 13:57] #19509 closed

[2017-11-01 14:42] jordanlewis commented on #19711
Hi @korpa, it looks like this is a problem on the CockroachDB side. We're returning a syntax error from that query because we don't support `_pg_expandarray` or its special output column naming. Please follow #16971.

There may be a workaround for Streamset, but I can't say for sure.

[2017-11-01 14:52] bdarnell commented on #15893
My question was mainly about why some (but not all) of the skews are accompanied by network offsets (and why it's a single nemesis instead of separate network-latency and clock-offset nemeses that can be run together). But it looks like that was [kyle's change](https://github.com/jepsen-io/jepsen/commit/0952fad4086d3aa4973361e54cc07b0694156810). I'll turn on the subcritical skews and ignore `big-s

[2017-11-01 15:20] a-robinson commented on #19699
Yeah, that's a good point. I'll add it to the list.

However, I think it would only help us after nodes had already started having heartbeats time out and losing their liveness, since otherwise each node just sends one heartbeat at a time.

[2017-11-01 15:26] korpa commented on #19711
Thanks for the quick reply. As workaround I will try to use "Streamsets JDBC Query" instead of "Streamsets JDBC Producer".
I used "Streamsets JDBC Query" and CockroachDB already for UPSERT, as UPSERTs are not supported by "Streamsets JDBC Producer" currently. Hopefully pure INSERTS are faster, as UPSERTs in CockroachDB seem to be very slow.

[2017-11-01 15:45] bdarnell commented on #19699
GC is expensive too, which has been known to exacerbate problems here. A better solution would be to migrate liveness to non-versioned keys. This would enable various rocksdb optimizations when keys are overwritten (as opposed to new keys written and old ones deleted). The reason we have versioned liveness keys is just so we can (ab)use the commit trigger mechanism; in order to move to non-version

[2017-11-01 15:48] andreimatei commented on #19177
@nvanbenschoten I think I don't like the idea of new syntax for these coupled inserts. Or, rather, if there is new syntax to be introduced, I think it should more general, in the form of hints to our execution about the lookahead it should use when batching things together. I.e. a way of expressing, at the level of a session or a statement, that I'm willing to trade (or, rather, risk trading) a li

[2017-11-01 16:00] bdarnell commented on #19177
The advantage of "new" syntax (it's not entirely new, since oracle has this syntax, although I don't know if any ORMs can take advantage of it) is that it works even with drivers that don't support sending multiple pipelined statements. We've seen some drivers that parse the query on the client, split it up into separate statements, then send those one at a time. For those drivers, it really needs

[2017-11-01 16:05] jordanlewis opened #19716 "sql: prepare/execute and query datasources don't work together correctly"
Observe the following sketchy interaction:

[code]

The problem here is evidently that the placeholder type information for the inner query overwrites that of the outer query. Inner queries of this form need to properly preserve the state of placeholders in the outer queries and restore them after they're finished.

cc @knz

Hoping to roll a fix in for this in with the leaf placeholders PR sequenc

[2017-11-01 16:08] knz commented on #19716
Woah, nice catch.

[2017-11-01 16:28] knz commented on #17498
I think we must change the product to disallow using `RESTORE`, `BACKUP` and `IMPORT` inside a `begin`..`commit` block. @danhhz what do you think?

[2017-11-01 17:01] danhhz commented on #17498
cc @mjibson and @dt, who have taken over the day-to-day of BACKUP/RESTORE/IMPORT

[2017-11-01 17:06] dt commented on #17498
@knz where is the session db not being used?

[2017-11-01 17:08] knz commented on #17498
AFAIK the session db is used but the session path not, unless that has changed?

[2017-11-01 17:14] dt commented on #17498
ah, yeah, that's right. Ideally we should probably move `descriptorsMatchingTargets()` to sqlbase (or even to `parser`  if we switched it to not operate on `sqlbase.Descriptor`s directly?) so it could share more logic with the regular sql resolution stuff.

[2017-11-01 17:15] knz commented on #17498
Agreed.

Do you also agree on refusing the ccl statements when there's a txn active?

[2017-11-01 17:21] dt commented on #17498
@knz yeah, they're not transactional -- they spin up their own txn's internally because they'd time out otherwise -- so it doesn't make any sense to let them run in a txn. That said, some client libs might wrap everything in a txn whether the user expects transactional semantics or not, and the restriction may trip those up, but I'm sure there are workarounds.

[2017-11-01 17:43] dianasaur323 commented on #19643
Hmm... the annoying thing about all this is that we actually do usage tracking based on URLs. Let me check with our metrics platform to see if they have suggestions. Regardless, even if this isn't backwards compatible, we should still fix it to make it make more sense. How about:

- Cluster Viz (remains /cluster -> I would also be okay with /overview)
   - Page Title: Cluster Overview (seems fine

[2017-11-01 17:50] dianasaur323 commented on #19478
This wasn't the problem I expected, so closing out for now.

[2017-11-01 17:50] #19478 closed

[2017-11-01 17:52] dianasaur323 commented on #19357
Just adding in what we decided yesterday - go with the CLI whitelist, but still check for multi-node using local. Also, make sure to emit a reasonable warning message so that users know how to adjust their commands.

[2017-11-01 18:04] kuanluo commented on #19643
- Cluster viz -> **Overview** for sure
- Time Series -> Monitor?

[2017-11-01 18:07] knz commented on #12022
@awoods187 I am bumping this issue because it's actually a correctness issue that's likely to bite us earlier than later. I am not sure how to best approach it though wrt a solution. This might need input from multiple people (Nathan, Peter, Ben, Radu come to mind).

[2017-11-01 18:08] dianasaur323 commented on #19341
Ok, so I finally got the chance to think about this. My biggest concern with offering ``` WITH revision_history ``` as the default is that there will definitely be a point where having the revision history makes the backup significantly larger than one would expect. This means that a backup of a small-ish table with lots of MVCC history could take longer than one would expect, and the storage of t

[2017-11-01 18:10] dt commented on #19341
I'm -1 on a cluster setting changing the behavior -- as much as possible, I'd rather the same query do the same thing, without having to know what the settings are to reason about it.

[2017-11-01 18:10] couchand commented on #19643
cc @mrtracy @Amruta-Ranade @vilterp  in case any of you have thoughts on these questions.

[2017-11-01 18:14] dianasaur323 commented on #18445
Closing this out, since not super relevant anymore.

[2017-11-01 18:14] #18445 closed

[2017-11-01 18:16] Amruta-Ranade commented on #19643
+1 for **Metrics**

[2017-11-01 18:16] tschottdorf commented on #19699
There are never any intents on the liveness range, so the only GC foe is removing old versions, which I believe is now optimized enough to not present a problem (given the default GC settings) on that range.

At the end of the day, the biggest culprit seems to be disk i/o or more specifically large sync latencies, right? I don't feel we (or at least I) understand this well enough.
@petermattis has

[2017-11-01 18:17] couchand commented on #19643
For context, here is our current route structure:

[code]

Parent routes without their own entry on the above table (like `/raft/messages`) are currently broken links, which separately is something we should fix (probably just by adding redirects).

[2017-11-01 18:21] dianasaur323 commented on #19454
Looks like Oracle does INSERT INTO... (SELECT AS OF TIMESTAMP)
https://docs.oracle.com/cd/B28359_01/appdev.111/b28424/adfns_flashback.htm#i1009447

Alternatively, Oracle has a TO RESTORE POINT syntax, which we might not want to use since restore points mean something else entirely, but it could be TO SYSTEM TIME. Honestly, I don't feel too strongly about this.

[2017-11-01 18:21] Amruta-Ranade commented on #19643
Can we have /cluster/all/visualization or something similar for the cluster viz, and retain all existing ones?

[2017-11-01 18:24] dianasaur323 commented on #19643
@Amruta-Ranade my concern with sticking with /cluster/ is that it seems to conflict with the side bar? we currently have a parent path for each side bar icon. I could also envision that we would eventually add an "admin" or "config" side bar, and that might be weird to crush everything under "cluster"?

[2017-11-01 18:25] andreimatei commented on #19177
Point taken. If there's precedent for that INSERT syntax, I'm less against it :)

[2017-11-01 18:26] a-robinson commented on #19699
Yeah, the disk overload issue is what I'm currently experimenting with. Pulling out the CSV sst-writing code and experimenting with it in isolation has already revealed some pretty pathological behavior (seconds of blocking by RocksDB) even when it's the only thing running on a machine.

[2017-11-01 18:30] dianasaur323 commented on #19341
Ah, that's a good point. In that case, I'm still in the camp of making just snapshot the default.

[2017-11-01 18:31] Amruta-Ranade commented on #19643
Hmm..then I would vote for Metrics.

But why are we changing the parent path for the sidebar icons? 🤔
And even if we do add admin and config, they are still applicable to "cluster", right? (Administer a cluster and configure a cluster).

[2017-11-01 18:32] petermattis commented on #19699
Does the sstable writing that occurs outside of RocksDB "trickle" fsyncs? RocksDB contains a `bytes_per_sync` option which we currently have disabled. The idea is to limit the amount of dirty data. Probably worthwhile to experiment with enabling this and adding something similar to all of our sstable writing.

[2017-11-01 18:36] dianasaur323 commented on #19643
hmm.. that's true. I just personally thought it was easier to reason about - basically something only gets a side bar if it is important enough to be a parent. But I honestly don't feel too strongly about it, and would defer to @couchand

[2017-11-01 18:38] couchand commented on #19643
But what isn't applicable to the cluster?  Couldn't "databases" or "jobs" be nested under "cluster", too?

I like the organizing principle of having one top-level route for each icon in the sidebar, it provides an easy rule that seems to make sense for primary navigation.  I also think the title of the link should be the same as the path, unless there's some compelling reason not to.

We should pr

[2017-11-01 18:54] dianasaur323 commented on #19643
yes! sounds good to me. The one thing to note is that we can't use /cluster/all/overview, we have to use /cluster/overview, since /cluster/all/overview will cause an overlap with the old metrics page. Other than that, we can bucket. It will be obnoxious, but can be done!

[2017-11-01 18:55] a-robinson commented on #19699
I can look at that as well, but I'm not even getting to that part yet. Just pushing lots of Puts into RocksDB really fast is enough to get multi-second stalls.

[2017-11-01 19:00] benesch commented on #18319
@vielmetti, we'd love to take you up on that offer! I'd be happy to set up an ARM build agent for our CI to ensure we don't break the ARM build in the future. A Type 1 or Type 2 server would be more than sufficient for our purposes. Let me know if you'd like me to submit a formal request. We can also chat via email—benesch@cockroachlabs.com

[2017-11-01 19:22] a-robinson commented on #19699
The [`low_pri` Rocksdb write option from the 5.6 release](https://github.com/facebook/rocksdb/blob/addbd279c271e987778d20e9a6191fa19023be6d/docs/_posts/2017-07-25-rocksdb-5-6-1-released.markdown) is very promising. Without it, doing Puts in a tight loop on a non-local GCE SSD regularly gets blocked for seconds, often for more than 10 seconds. After enabling it, a 3 minute run only got blocked for

[2017-11-01 19:45] awoods187 commented on #12022
@knz i'm on board with prioritizing correctness. Do we need a full rfc here?

[2017-11-01 20:13] petermattis commented on #19699
Do you see any problems running on your laptop? Or does this only occur on GCE local SSD? Also, I leave having a small reproducible case of badness like this. We'll track down what is going on here very soon.

[2017-11-01 20:15] nvanbenschoten opened #19721 "storage: kv-level memory accounting/bounding"
https://github.com/cockroachdb/cockroach/pull/8691 introduces a mechanism to track and limit memory use at the SQL layer, but no effort has been put into tracking and limiting memory usage at any layers beneath this. Without this protection, scans over large tables can still result in trivial out-of-memory crashes, as we've recently seen. I think we'll want to add some memory accounting down in th

[2017-11-01 20:22] a-robinson commented on #19699
I don't see the same issues on my laptop. The performance takes some extended dips to half its original throughput, but never all the way down to 0.

Also, I tried experimenting with using your `debug synctest` (https://github.com/cockroachdb/cockroach/pull/19618) command at the same time as my disk contention command (on GCE), and while setting `low_pri` on my code helps a little bit compared to

[2017-11-01 20:37] petermattis commented on #19699
Have you set the `vm.dirty_*` sysctls with your diskcontention test?

[2017-11-01 21:00] petermattis commented on #19699
@a-robinson What GCE machine type are you using? I just tried to reproduce the badness you're seeing using an `n1-highcpu-8` machine and saw a few dips, but no periods of 0 throughput.

[2017-11-01 21:01] vilterp opened #19723 "sql: sequences (tracking issue)"
DEPRECATED TRACKING ISSUE IN FAVOR OF PROJECT: https://github.com/cockroachdb/cockroach/projects/13

Original issue: #5811
RFC: #19196
Docs issue: https://github.com/cockroachdb/docs/issues/2014

The implementation will be split into multiple PRs; this issue tracks them.

- [x] Implement `CREATE SEQUENCE` and `nextval` (biggest; others depend on this) (#19664)
- [ ] implement `setval(seqname, val,

[2017-11-01 21:03] couchand commented on #19643
Ok, having read all the feedback, here's a proposal for the new route structure.  Only regular user-facing pages are listed here.

- `/` - redirect to `/overview`
  - `/overview` - cluster viz landing page.  always shows the overview and node list, open source version has no node canvas, ccl version shows the top-level localities of the cluster on the node canvas.
    - `/overview/:localityTag/:lo

[2017-11-01 21:04] a-robinson commented on #19699
It looks better than with the defaults, but still has sizable stalls (with the longest being 11 seconds in my few minutes of testing).

[2017-11-01 21:05] a-robinson commented on #19699
My gceworker -- i.e. 24 vCPUs, 32 GB memory, 100GB non-local SSD.

[2017-11-01 21:11] dianasaur323 commented on #19643
I'm a big fan of pulling nodes out. That always confused me.

Re bullet 1, I think not. I don't think every top-level route needs a sidebar link at this point. I actually envision nodes to eventually fall under something like "admin" or "configs" since we should probably be displaying more config info on those pages anyway. I think it makes sense to invert node / cluster distinction.

And I'm sorr

[2017-11-01 21:15] jess-edwards commented on #19695
This sounds very cool. Who would be interested in viewing something like this?

@bdarnell Ben - when you say you've been asked several times, who is asking you?

[2017-11-01 21:28] bdarnell commented on #19695
Mainly the same people who view our jepsen blog posts. Aside from the full dashboard, we may want some sort of badge elsewhere on the site like "Jepsen status: passed. Last verified: 2017-11-01" (or something similar on each release notes page, etc) that links to it. It could be a complement to a performance/benchmark dashboard.

Most recently it came up in two separate conversations at the HPTS c

[2017-11-01 21:28] petermattis commented on #19699
Ah, I've seen problems with throttling when using Persistent SSD. Never investigated where they are coming from. I recall reading that Persistent SSD throttles based on the size of the disk. Can you test on Local SSD and verify you're not seeing a problem?

[2017-11-01 21:33] jordanlewis opened #19726 "sql:"
Is this a question, feature request, or bug report?

**QUESTION**

Have you checked our documentation at https://cockroachlabs.com/docs/stable/? If you could not find an answer there, please consider asking your question in our community forum at https://forum.cockroachlabs.com/, as it would benefit other members of our community.

Prefer live chat? Message our engineers on our Gitter channel at h

[2017-11-01 21:36] jordanlewis opened #19727 "sql: panic in SET caused by use of invalid evalContext"
The arguments to SET get evaluated with an incomplete `evalContext`. This can panic the server. Here's an admittedly contrived example:

[code]

[2017-11-01 21:57] #19668 closed

[2017-11-01 22:03] a-robinson commented on #19699
Yeah, using local SSD avoids the extended zero QPS periods. It's pretty frustrating that the throttling is so bad given how inconvenient local SSDs are to use and how things like our Kubernetes config completely rely on remote disks. I wonder whether the GCE PD team cares about the effects of the throttling behavior.

[2017-11-01 22:11] cockroach-teamcity opened #19731 "teamcity: failed tests on master: acceptance/TestDockerPython/runMode=docker, acceptance/TestDockerPython"
The following tests appear to have failed:

[#395717](https://teamcity.cockroachdb.com/viewLog.html?buildId=395717):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-01 22:12] petermattis commented on #19699
Have the IMPORT tests that have been experiencing problems been using PD SSD or Local SSD?

Doesn't hurt to file a bug. Especially if we can narrow down the workload that exhibits badness.

[2017-11-01 22:13] a-robinson commented on #19699
The import tests I was running were all on local SSD.

[2017-11-01 23:42] benesch commented on #19141
@a6802739 I mean we should support arbitrary primary key changes like

[code]

Since changing a table's primary key is such an expensive operation, we definitely don't want to do it implicitly if the partitioning scheme specifies columns that are not in the primary key. Much rather error in that case, and let the user alter the pkey only if they so choose.

Note that traditionally changing the pke

[2017-11-01 23:42] jrote1 commented on #19210
@vivekmenezes Am progressing, got cockroachdb building and tests running. Have created a failing test now to fix :)

[2017-11-01 23:44] tbg opened #19733 "build: stress runner ignores moving pkg"
imagine the following:

1. commit 1: in pkg/foo, add a test `TestFoo`.
1. commit 2: move `pkg/foo` to `pkg/bar`
1. run CI
1. it will fail because the stress tester will try to run `TestFoo` in `pkg/foo` but that package is now absent.

Happened in #19663 before squashing.

Epic CRDB-10439

Jira issue: CRDB-5957

[2017-11-02 00:07] jethrogb commented on #19199
We cleared all data and did a reinstall. This worked fine for a bit, but the problem is back now.

This cluster is made up of 6 nodes. This is an even number. Could this be an issue?

[2017-11-02 01:14] vivekmenezes commented on #19210
Excellent!

On Wed, Nov 1, 2017 at 7:43 PM Jake Rote <notifications@github.com> wrote:

[2017-11-02 03:03] dianasaur323 opened #19734 "lots of pre-emptive snapshots before node crashes"
One of our nodes in the PM cluster crashed today, and I'm trying to figure out why / if I should be worried. Right before the crash, I get the following logs. I'm running the most recent master.

[code]

[2017-11-02 03:23] dianasaur323 commented on #19726
hm? mistake? closing for you?

[2017-11-02 03:23] #19726 closed

[2017-11-02 06:16] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/76c3503e963b26b0d31b6235339fe6397e448e20

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=395924&tab=buildLog

[2017-11-02 06:16] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/76c3503e963b26b0d31b6235339fe6397e448e20

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=395924&tab=buildLog

[2017-11-02 06:18] cockroach-teamcity opened #19735 "ccl/sqlccl: TestBackupRestoreDropDB failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/76c3503e963b26b0d31b6235339fe6397e448e20

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=395918&tab=buildLog

[code]

[2017-11-02 07:15] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/76c3503e963b26b0d31b6235339fe6397e448e20

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=396015&tab=buildLog

[2017-11-02 07:31] cockroach-teamcity opened #19736 "teamcity: failed tests on master: acceptance/TestDockerCSharp/runMode=docker#01, acceptance/TestDockerCSharp, acceptance/TestDockerCSharp/runMode=docker"
The following tests appear to have failed:

[#396324](https://teamcity.cockroachdb.com/viewLog.html?buildId=396324):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-02 07:41] cockroach-teamcity commented on #19612
SHA: https://github.com/cockroachdb/cockroach/commits/0b0fdcb5627b2c0d194fb9cf435f9cdc44cf89a6

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=396053&tab=buildLog

[2017-11-02 07:41] cockroach-teamcity commented on #19613
SHA: https://github.com/cockroachdb/cockroach/commits/0b0fdcb5627b2c0d194fb9cf435f9cdc44cf89a6

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=396053&tab=buildLog

[2017-11-02 08:25] cockroach-teamcity opened #19737 "util/interval: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0b0fdcb5627b2c0d194fb9cf435f9cdc44cf89a6

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=396153&tab=buildLog

[code]

[2017-11-02 09:40] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/0b0fdcb5627b2c0d194fb9cf435f9cdc44cf89a6

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=396283&tab=buildLog

[2017-11-02 11:52] knz commented on #19141
Yes it's unreasonable but @a6802739 please do not underestimate the complexity of the task! As much as possible, please split the work in small steps that can be easily reviewed. It might be beneficial that you study the problem and write down your implementation plan before you start (and perhaps share it with us).

[2017-11-02 12:01] #19727 closed

[2017-11-02 13:34] knz commented on #19141
I meant to write "reasonable" in my previous comment.

[2017-11-02 13:36] knz commented on #12022
I don't know actually. I do not understand the scope of the problem (i.e. how deep we're screwed).

[2017-11-02 13:37] knz commented on #12022
In doubt, I'd say yes we need a RFC.

[2017-11-02 14:03] awoods187 commented on #12022
@vivekmenezes let's talk about this later today

[2017-11-02 14:14] jordanlewis commented on #19726
Yes that was a mistake. Thank you Diana!

[2017-11-02 14:29] cuongdo commented on #19734
@a-robinson The source of the crash is a little concerning. Could you take a quick look?

[2017-11-02 14:38] a6802739 commented on #19141
@knz, I will first try to understand what should I do for this task, and then write down how to implement it. Maybe I will have some confusion in this process, hope could get some help then.

Thank you very much.

[2017-11-02 14:38] a-robinson commented on #19734
@dianasaur323 do you have the rest of the log? I don't see anything scary in this excerpt. It just looks like a node recovering after having been down for more than 5 minutes.

[2017-11-02 14:52] tschottdorf commented on #19692
Agent out of space.

[2017-11-02 14:52] #19692 closed

[2017-11-02 14:59] cuongdo commented on #19734
Ah right, those stack traces always throw me off, because they look like panics.

[2017-11-02 15:08] dianasaur323 commented on #19734
@a-robinson yes! you actually have access to the machine. i can ping you the ip address.

[2017-11-02 15:24] #19678 closed

[2017-11-02 15:24] #19679 closed

[2017-11-02 15:24] #19684 closed

[2017-11-02 15:24] #19687 closed

[2017-11-02 15:24] #19731 closed

[2017-11-02 15:24] #19736 closed

[2017-11-02 15:29] cockroach-teamcity opened #19740 "teamcity: failed tests on v1.1.2: test/TestBackupRestoreControlJob, test/TestBackupRestoreControlJob/pause, test/TestShowFingerprintsAsOfSystemTime, test/TestAmbiguousCommit, test/TestAmbiguousCommit/ambiguousSuccess=false, test/TestAsOfTime, test/TestPGWireDBName, test/TestImport/AddSSTable/batch=1/2, test/TestImport/AddSSTable/batch=default/3, test/TestImport/AddSSTable/batch=default/2, test/TestImport/WriteBatch/batch=1/3, test/TestImport/WriteBatch/batch=1/1, test/TestImport/WriteBatch/batch=default/1, test/TestImport/WriteBatch/batch=1, test/TestImport/WriteBatch, test/TestImport/AddSSTable/batch=default, test/TestImport/WriteBatch/batch=default/3, test/TestImport, test/TestImport/WriteBatch/batch=default/2, test/TestImport/AddSSTable/batch=1/1, test/TestImport/WriteBatch/batch=1/2, test/TestImport/AddSSTable/batch=1, test/TestImport/WriteBatch/batch=default, test/TestImport/AddSSTable/batch=default/1, test/TestImport/AddSSTable"
The following tests appear to have failed:

[#396454](https://teamcity.cockroachdb.com/viewLog.html?buildId=396454):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-02 15:32] tschottdorf commented on #19740
out of disk

[2017-11-02 15:32] #19740 closed

[2017-11-02 15:42] cuongdo commented on #19141
@a6802739 Thank you, as always, for your help. I've discussed this project with the team, and because other projects with upcoming deadlines rely on this feature, we'll need to develop this feature internally.

[2017-11-02 15:44] cuongdo commented on #19141
assigned to @danhhz to make sure this finds a good home

[2017-11-02 15:56] nvanbenschoten commented on #19199
No, this shouldn't be a problem. Cockroach handles even numbers of nodes fine.

Are you still seeing the `store 1 was not found` logs?

What about the `unable to look up descriptor for node 5` logs?

Do you mind posting screenshots of the following four pages?
- `http://<node1-host-ip>:8080/#/reports/network`
- `http://<node1-host-ip>:8080/#/reports/network`
- `http://<node5-host-ip>:8080/#/report

[2017-11-02 17:03] petermattis commented on #18342
@a6802739 Apologies for the delay in responding. This dropped off my radar.

Yes, something like that.

I think you have to snoop on the Raft message traffic. See `Store.processRaftRequestWithReplica` for how we already do this to intercept quiesce messages.

[2017-11-02 17:08] petermattis commented on #16901
@nvanbenschoten Seems like this will go away with the skiplist-based timestamp cache implementation.

[2017-11-02 17:12] petermattis commented on #17180
@cuongdo Are the nightlies not running again, or do I not know how to navigate teamcity?

https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockroach_Nightlies_Steady_6Medium&tab=buildTypeHistoryList&branch_Cockroach_Nightlies=%3Cdefault%3E

[2017-11-02 17:25] cuongdo commented on #17180
I don't think that particular test is scheduled to run regularly for whatever reason. Maybe @tschottdorf knows more.

There are plenty of [other nightlies](https://teamcity.cockroachdb.com/project.html?projectId=Cockroach_Nightlies&branch_Cockroach_Nightlies=%3Cdefault%3E) that are passing.

[2017-11-02 17:29] petermattis commented on #17180
Do you know the teamcity magic to have that test run regularly (i.e. every night)? Cc @jordanlewis

[2017-11-02 17:36] cockroach-teamcity opened #19742 "teamcity: failed tests on master: acceptance/TestDockerRuby/runMode=docker#01, acceptance/TestDockerRuby/runMode=docker, acceptance/TestDockerRuby"
The following tests appear to have failed:

[#396562](https://teamcity.cockroachdb.com/viewLog.html?buildId=396562):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-02 17:38] ffaruqui commented on #19199
Yes I am still seeing `store 1 was not found` in logs

[code]
Also seeing `unable to look up descriptor for node 5` in logs

[code]
I will attach screenshots you asked for

[2017-11-02 17:44] mjibson opened #19743 "IMPORT: support null as non-quoted string in import csv"
Postgres `copy with csv` format differentiates a nullable text field that is null or an empty string by using `""` as the empty string and an unquoted empty string (i.e., nothing) as null. This is round-trippable by default with the postgres copy. We should support this syntax.

See https://forum.cockroachlabs.com/t/import-from-csv-fails-on-null-data-for-int-types/1067/1

Epic: CRDB-14049

Jira is

[2017-11-02 17:58] nvanbenschoten commented on #16901
Yeah, and it will be replaced with a handful just like it. I'll be sure to close when the skiplist-based timestamp cache is added.

[2017-11-02 18:04] #19637 closed

[2017-11-02 18:06] dianasaur323 opened #19746 "OOM error on start-up"
[code]

[2017-11-02 18:23] cockroach-teamcity opened #19748 "teamcity: failed tests on master: acceptance/TestInitModeNone/runMode=docker, acceptance/TestInitModeNone"
The following tests appear to have failed:

[#396640](https://teamcity.cockroachdb.com/viewLog.html?buildId=396640):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-02 18:25] ffaruqui commented on #19199
[node5_reports_range_1.pdf](https://github.com/cockroachdb/cockroach/files/1438885/node5_reports_range_1.pdf)
[node5_reports_network.pdf](https://github.com/cockroachdb/cockroach/files/1438886/node5_reports_network.pdf)
[node1_reports_network.pdf](https://github.com/cockroachdb/cockroach/files/1438887/node1_reports_network.pdf)
[node1_reports_range_1.pdf](https://github.com/cockroachdb/cockroach/f

[2017-11-02 18:28] ffaruqui commented on #19199
I am also seeing panic when running SELECT command with `SHOW TRACE`

[code]

[2017-11-02 18:44] petermattis commented on #19746
There seems to be some sort of range-of-death which causes an OOM whenever we try to apply the snapshot. Looks like range 1360, but I'm not sure about that. I turned on periodic memprof dumps but haven't caught anything so far.

[2017-11-02 18:45] nvanbenschoten opened #19749 "kv/sql: ability to query all versions of keys/rows"
This is a two-part proposal, but each part is tied pretty closely to one another. The general idea is that we should make MVCC values for easily accessible from upper layers of Cockroach.

WARNING: It's not particularly well thought out. I got the idea from Murat's discussion on his recent work with HLC storage and retrieval.

### KV scan for all versions of keys in range

We should consider addin

[2017-11-02 18:47] petermattis commented on #19746
The reason I suspect range 1360 is that prior to two of the crashes I see:

`I171102 18:33:56.324400 22155 storage/replica_raftstorage.go:733  [n2,s2,r1360/?:{-}] applying preemptive snapshot at index 481 (id=83848ce4, encoded size=49998404, 189 rocksdb batches, 17 log entries)`

47MB in size spread across 189 batches is quite reasonable.

[2017-11-02 18:57] petermattis commented on #19746
@tschottdorf Can I loop you in here for additional triaging?

[2017-11-02 18:58] dianasaur323 commented on #19734
closing since https://github.com/cockroachdb/cockroach/issues/19746 is where the work is happening at this point

[2017-11-02 18:58] #19734 closed

[2017-11-02 19:04] tschottdorf commented on #19746
Sure, but it'll be next week since I'm working on the release.

[2017-11-02 19:05] petermattis commented on #19746
Hmm, well that probably won't be satisfying for this user. Let me see if anyone else is available.

[2017-11-02 19:09] dianasaur323 commented on #19746
well, I'm OOO tomorrow, so I doubt I'll do anything?

[2017-11-02 19:10] petermattis opened #19751 "sql: limit size of primary and secondary keys"
[cockroach.log.zip](https://github.com/cockroachdb/cockroach/files/1438992/cockroach.log.zip)

The above log from the pm cluster contains a single 1MB log message. The cause of the large log message is a range with an excessively long start key which is a sanitized SQL query that is part of the primary key for a table. Unfortunately, the cluster no longer contains table 60 so I'm not able to see t

[2017-11-02 19:22] cockroach-teamcity opened #19754 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#396738](https://teamcity.cockroachdb.com/viewLog.html?buildId=396738):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-02 19:25] #19754 closed

[2017-11-02 19:25] tschottdorf commented on #19754
--

-- Tobias

[2017-11-02 19:54] cockroach-teamcity opened #19755 "teamcity: failed tests on master: testrace/TestEndTransactionWithMalformedSplitTrigger"
The following tests appear to have failed:

[#396846](https://teamcity.cockroachdb.com/viewLog.html?buildId=396846):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-02 19:57] robert-s-lee opened #19756 "sql: can't drop column without dropping constraints first"
Postgres compatibility bug

1.

$ cockroach version
Build Tag:    v1.1.1

2. Please describe the issue you observed:

- What did you do?

create table t1 (id1 int primary key, id2 int UNIQUE);
create table t2 (id1 int primary key, id2 int references t1 (id2));
alter table t2 drop column id2;

- What did you expect to see?

below is Postgres

[code]
- What did you see instead?
[code]

[2017-11-02 20:39] dianasaur323 opened #19759 "ui: [WIP] properly respond to CCL in admin UI"
For tracking purposes - still TBD what this will exactly look like post a couple meetings next week.

This will cover two mainpoints
- incorporating CCL warnings in admin UI
- create a view when CCL license has expired
- create a view when user does not yet have CCL license

cc @couchand -> created this issue to track what you had mentioned in our meeting

Some additional notes:
The question came

[2017-11-02 20:55] tschottdorf opened #19763 "release: 1.2-alpha.20171113"
Candidate SHA: 3b90c52bf5f14f836ae9fc54a843a2e77a21a2c8.
Deployment status: adriatic, omega.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `2017-11-06`
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] [Deploy to test clusters](https://github.com/cockroachdb/cock

[2017-11-02 20:57] tschottdorf commented on #19763
@couchand assigning you since it looks like that's your week. Have fun! 🎆

[2017-11-02 20:59] tschottdorf commented on #19590
so 1.1.1 was never announced to the reg cluster. I'll fix that.

[2017-11-02 21:01] tschottdorf commented on #19763
Oops, actually @cuongdo.

[2017-11-02 21:04] bdarnell opened #19765 "teamcity: failed tests on master: testrace/TestEndTransactionWithMalformedSplitTrigger"
The following tests appear to have failed:

[#396846](https://teamcity.cockroachdb.com/viewLog.html?buildId=396846):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-02 21:07] cuongdo commented on #17180
I've just configured this test to run nightly.

[2017-11-02 21:10] tschottdorf commented on #19590
Waiting until after dinner to announce the version to the reg cluster, but everything is done (or has PRs open).

[2017-11-02 23:21] tschottdorf commented on #19590
@dt kindly announced to the reg cluster.

@jess-edwards who's doing external communications?

[2017-11-02 23:34] #19011 closed

[2017-11-02 23:53] robert-s-lee commented on #19756
Forgot about the markdown tags.  revised.

[2017-11-03 06:21] cockroach-teamcity opened #19769 "ccl/sqlccl: TestLoadCSV failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/448667a522e29841b26d935927c96b2a4d127f31

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=397128&tab=buildLog

[code]

[2017-11-03 07:40] jhartman86 opened #19770 "Sql Panic: Unsupported Comparison UUID and String"
This is a bug report. I've searched issues, and the docs, and couldn't find anything on this.

**Log headers (this is a single node instance running in a Docker container)**:

[code]

**Issue observed**:

1. _What did you do?_ Issued this query:
[code]

2. _What did you expect to see?_ A PG error message of some sort returned. (This query was not actually expected to work, but didn't expect a pani

[2017-11-03 08:08] cockroach-teamcity opened #19771 "storage: TestEndTransactionWithMalformedSplitTrigger failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/448667a522e29841b26d935927c96b2a4d127f31

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=397330&tab=buildLog

[code]

[2017-11-03 08:25] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/448667a522e29841b26d935927c96b2a4d127f31

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=397361&tab=buildLog

[2017-11-03 08:57] cockroach-teamcity commented on #19615
SHA: https://github.com/cockroachdb/cockroach/commits/448667a522e29841b26d935927c96b2a4d127f31

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=397436&tab=buildLog

[2017-11-03 09:25] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/448667a522e29841b26d935927c96b2a4d127f31

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=397496&tab=buildLog

[2017-11-03 14:28] jordanlewis commented on #19769
[code]

[2017-11-03 14:44] jordanlewis commented on #19706
Dupe or similar to #19704

[2017-11-03 14:44] #19706 closed

[2017-11-03 14:44] jordanlewis commented on #19705
Consolidating in #19704

[2017-11-03 14:44] #19705 closed

[2017-11-03 14:44] jordanlewis commented on #19707
Consolidating in #19704

[2017-11-03 14:44] #19707 closed

[2017-11-03 14:46] jordanlewis commented on #19703
#19702

[2017-11-03 14:46] #19703 closed

[2017-11-03 14:47] jordanlewis commented on #19702
[code]

[2017-11-03 14:56] jordanlewis commented on #19675
#19702

[2017-11-03 14:56] #19675 closed

[2017-11-03 14:57] jordanlewis commented on #19674
#19702

[2017-11-03 14:57] #19674 closed

[2017-11-03 16:13] nvanbenschoten commented on #19746
@dianasaur323 could you walk me through the steps you took to arrive here? Was this a fresh cluster or had it been running for some time? I assume the latter, in which case I'm curious about the first time that you saw the crash. Was it during a rolling upgrade?

[2017-11-03 17:16] jethrogb opened #19775 "sql_safe_updates documentation is incorrect"
**bug report (documentation)**

The documentation for [`sql_safe_updates`](https://www.cockroachlabs.com/docs/stable/set-vars.html) reads:

This appears to be incorrect, the variable is set to `true` even for non-interactive sessions:

[code]

[2017-11-03 17:27] mjibson opened #19776 "sqlccl: make rekey parallel"
RESTORE is CPU limited in the rekey phase. Investigate making the rekey operation parallelizable so we can speed it up. This does not mean run 2 rekeys at once. But instead make a single rekey not limited to a single core.

[2017-11-03 17:31] jordanlewis opened #19777 "sql/pgwire: TestBinaryIntArray failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/2ce4414c1ee5c31a498a9b3fb9c0b9445127e64a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=31337&tab=buildLog

[code]

[2017-11-03 17:32] #19777 closed

[2017-11-03 17:35] mjibson opened #19778 "sql: Parse followed by Format is not idempotent"
Two non-roundtrippable statements found by the RSG:

rsg_test.go:294:  Parse followed by Format is not idempotent: "SELECT DEFAULT NOT ILIKE ANY ( SELECT error ) IS UNKNOWN IS UNKNOWN ident FROM ident " -> "SELECT ((DEFAULT NOT ILIKE ANY ((SELECT error))) IS NULL) IS NULL AS ident FROM ident" != "SELECT ((DEFAULT NOT ILIKE ANY (((SELECT error)))) IS NULL) IS NULL AS ident FROM ident"

Parse follow

[2017-11-03 17:45] mjibson opened #19781 "timeutil: time.Now().UTC() removes monotonic wallclocks"
Any call to setLoc strips the monotonic info. This means we aren't protected by go 1.9's monotonic protection. Found in #19769.

Jira issue: CRDB-5953

[2017-11-03 17:46] mjibson commented on #19769
Caused by #19781

[2017-11-03 17:47] jordanlewis commented on #19769
This is probably going to keep getting found by the stress tester which will make new issues unless this one is left open - so I'm reopening until we make a fix.

[2017-11-03 17:49] mjibson commented on #19769
Ah, ok. I didn't know it worked like that. NP.

[2017-11-03 17:49] dt commented on #19781
Ooooof. We don't want non-UTC timestamps floating around, so we'd ideally like to keep the linter that ensures all the timestamps we create are `UTC()`ed, but the fact that that calls `stripMonos`, and in a internal helper we can't control, is unfortunate.

An alternative to `.UTC()`ing everything would be to try to change the default loc, but as we've noted before, to ensure consistent behavior o

[2017-11-03 17:54] jordanlewis commented on #19755
#19771

[2017-11-03 17:54] #19755 closed

[2017-11-03 18:07] tschottdorf opened #19782 "ui: NaN cluster capacity used"
![image](https://user-images.githubusercontent.com/5076964/32389137-3634cb5c-c0a0-11e7-9304-0b52204aad8c.png)

Reported in https://forum.cockroachlabs.com/t/decommissioned-nodes-still-affect-admin-ui-cluster-overview/1079 on 1.1.2.

obligatory ping to @dianasaur323 (though I'm not sure you're really the person to throw these to, if not let me know!)

[2017-11-03 18:13] mberhault opened #19783 "security: encryption at rest"
This issue tracks the status of encryption-at-rest. Comments and reviews should be done on the individual PRs or in separate issues.

Approximate breakdown of work to be done (not complete, order may change):
- [x] finalize RFC #19785
- [x] add crypto++ dependency #19827
- [x] upgrade rocksdb to 5.9 #20070
- [x] add CCL-only encryption flags #20225
- [x] add support for switching env (plaintext on

[2017-11-03 19:05] dt commented on #19781
in offline discussion, it sounds like the best idea we can come up with is setting `time.Local = time.UTC` in timeutil's `init` (and then maybe asserting it stays that way just in case any deps have the same idea?).

Another approach would be to use separate time types for those where we want monotonic behavior versus caring about wall time rendering behavior... we'd write the SQL functions that o

[2017-11-03 19:07] dt commented on #19781
oh, and for completeness, I guess we could have time.Time be our renderable type and tag monotonic times instead and just require those for Since and Sub with listing. However, go makes it easy to lose the monos (by calling UTC) but hard to get them back, so that way doesn't seem to make as much sense.

[2017-11-03 19:11] korpa commented on #19711
Streamsets JDBC Query can be used as workaround. But INSERTs are as slow as UPSERTs.

[2017-11-03 19:26] tbg opened #19784 "storage: thought experiment: productionize kv.raft_log.synchronize==false"
## `CockroachDB + !kv.raft_log.synchronize = ?`

I had to think about what would happen if we didn't sync to disk in Raft the
other day, and wanted to write down my thoughts to see if there's anything
obviously wrong with them (which I usually expect there is). cc @bdarnell

### Background

Performing synchronous disk writes in the critical path is expensive. It is easy
to understand why it is req

[2017-11-03 19:36] #19590 closed

[2017-11-03 20:38] jordanlewis opened #19786 "storage: TestDeclareKeysResolveIntent failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/31337

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=31337&tab=buildLog

[code]

[2017-11-03 21:02] #19786 closed

[2017-11-03 21:03] jordanlewis opened #19787 "storage: TestDeclareKeysResolveIntent failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/31337

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=31337&tab=buildLog

[code]

[2017-11-03 21:03] #19787 closed

[2017-11-03 21:05] jordanlewis opened #19788 "sql/parser: TestImpliedSearchPath failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/31337

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=31337&tab=buildLog

[code]

[2017-11-03 21:05] #19788 closed

[2017-11-03 21:19] jordanlewis commented on #19737
[code]

[2017-11-03 21:19] #19737 closed

[2017-11-03 21:23] jordanlewis commented on #19659
#19771

[2017-11-03 21:23] #19659 closed

[2017-11-03 21:30] jordanlewis commented on #19622
#19206

[2017-11-03 21:30] #19622 closed

[2017-11-03 21:36] jordanlewis commented on #19250
Closing the `digital-ocean-failure` issues for now

[2017-11-03 21:36] #19250 closed

[2017-11-03 21:36] jordanlewis commented on #19249
Closing the `digital-ocean-failure` issues for now

[2017-11-03 21:36] #19249 closed

[2017-11-03 21:36] jordanlewis commented on #19232
Closing the `digital-ocean-failure` issues for now

[2017-11-03 21:36] #19232 closed

[2017-11-03 21:36] jordanlewis commented on #19254
Closing the `digital-ocean-failure` issues for now

[2017-11-03 21:36] #19254 closed

[2017-11-03 21:36] jordanlewis commented on #19256
Closing the `digital-ocean-failure` issues for now

[2017-11-03 21:36] #19256 closed

[2017-11-03 21:37] jordanlewis commented on #19204
#19518

[2017-11-03 21:37] #19204 closed

[2017-11-03 21:49] #17951 closed

[2017-11-03 21:52] jordanlewis commented on #18356
This predates and was likely fixed by #18382.

[2017-11-03 21:52] #18356 closed

[2017-11-03 22:03] cockroach-teamcity opened #19790 "teamcity: failed tests on master: acceptance/TestDockerC/Success/runMode=docker, acceptance/TestDockerC/Success, acceptance/TestDockerC"
The following tests appear to have failed:

[#397771](https://teamcity.cockroachdb.com/viewLog.html?buildId=397771):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-03 22:14] tschottdorf opened #19791 "acceptance: prettify RunInitCommand"
`RunInitCommand` has a retry loop that is problematic. It should be rewritten into a retry loop that hits the health endpoint, and then a single invocation of the `Init` RPC.

This is fallout from https://github.com/cockroachdb/cockroach/pull/19753.

[2017-11-03 22:15] #19742 closed

[2017-11-03 22:15] #19748 closed

[2017-11-03 22:17] tschottdorf commented on #19790
Just fixed in #19753

[2017-11-03 22:17] #19790 closed

[2017-11-03 22:18] cockroach-teamcity opened #19792 "teamcity: failed tests on master: acceptance/TestDockerCSharp/runMode=docker, acceptance/TestDockerCSharp"
The following tests appear to have failed:

[#397782](https://teamcity.cockroachdb.com/viewLog.html?buildId=397782):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-03 22:20] tschottdorf commented on #19792
Fixed in https://github.com/cockroachdb/cockroach/pull/19753.

[2017-11-03 22:20] #19792 closed

[2017-11-04 04:55] cody-yancey opened #19797 "upserting with 5MB range split size results in hung upserts"
I'm doing some benchmarks by running a 16 node cluster in docker containers on Mesos (via Aurora).

The image definition is:
[code]

The run script just waits until Instance 0 is running, and then joins it with:
[code]

Instance 0 starts with:
[code]
Where the ports are supplied by our software-networking layer.

I create a database using:
[code]
I then set the range split size to 5MB:

[code]
Aga

[2017-11-04 06:24] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=397973&tab=buildLog

[2017-11-04 06:24] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=397973&tab=buildLog

[2017-11-04 06:25] cockroach-teamcity opened #19798 "ccl/sqlccl: TestBackupAsOfSystemTime failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=397967&tab=buildLog

[code]

[2017-11-04 07:04] cockroach-teamcity commented on #18288
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398023&tab=buildLog

[2017-11-04 07:04] cockroach-teamcity commented on #18972
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398023&tab=buildLog

[2017-11-04 08:01] cockroach-teamcity commented on #19612
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398103&tab=buildLog

[2017-11-04 08:01] cockroach-teamcity commented on #19613
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398103&tab=buildLog

[2017-11-04 09:08] cockroach-teamcity opened #19799 "ccl/storageccl: TestDBAddSSTable failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398238&tab=buildLog

[code]

[2017-11-04 09:08] cockroach-teamcity opened #19800 "ccl/storageccl: TestDBAddSSTable/store=on-disk failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0d84c3601b5cfdc0bcce6015b841144fa24163ef

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398238&tab=buildLog

[code]

[2017-11-04 17:05] ZiCog commented on #17840
I don't know if my observation is related but...

I installed cockroach v1.1 securely on three Google Cloud instances, in different data centers yesterday.

Today I notice that they are all shown as "suspect" in the summary panel of the cluster overview admin page.

I see no warnings or such in the logs, only INFO messages.

Searching for an explanation of "suspect" led me here.

I was just guessi

[2017-11-04 17:15] dianasaur323 commented on #19746
@nvanbenschoten This was an existing cluster that gets a rolling upgrade at 6AM UTC every day to the most recent master. It is distributed across 4 nodes (2 in NYC, 1 in AMS, 1 in SFO). Each node has a local instance of TPC-C running, for different periods of time, so that load is hitting different regions at different times. We realized that we weren't observing the lease rebalancing we should ha

[2017-11-04 18:46] petermattis commented on #19784
[This idea scares the crap out of me, but let me put that aside for now]

Something that is interesting here is that process crashes are much more frequent than machine outages. And correlated failures due to bugs in our software are more common than correlated failures due to machine failures especially if the machines are spread across multiple availability zones. We could add a mechanism to det

[2017-11-04 23:08] #19716 closed

[2017-11-04 23:47] cockroach-teamcity opened #19803 "teamcity: failed tests on master: acceptance/TestDockerNodeJS/runMode=docker, acceptance/TestDockerNodeJS"
The following tests appear to have failed:

[#398424](https://teamcity.cockroachdb.com/viewLog.html?buildId=398424):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-05 02:38] guotie opened #19804 "How to connnect to cr cluster?"
Is this a question, feature request, or bug report?

**QUESTION**

How to connect to the cluster by use github.com/lib/pg driver

[2017-11-05 06:17] jordanlewis opened #19805 "sql: select 1 from [delete from sometable] panics server"
Incidentally, I think we should restrict the things permitted in the special `[stmt]` source to `EXPLAIN` and `SHOW`, to capture the original intent of adding this source syntax in 7ddde64d0a2d0abadfbc61651a84cf84ae15b4a3 and no more. This syntax is tricky and unseats assumptions about how plans can work.

[code]

[2017-11-05 07:25] cockroach-teamcity commented on #19612
SHA: https://github.com/cockroachdb/cockroach/commits/6f1f97e44b14a2eae93ef01a46c989bdc33d5b16

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398479&tab=buildLog

[2017-11-05 07:25] cockroach-teamcity commented on #19613
SHA: https://github.com/cockroachdb/cockroach/commits/6f1f97e44b14a2eae93ef01a46c989bdc33d5b16

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398479&tab=buildLog

[2017-11-05 09:53] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/6f1f97e44b14a2eae93ef01a46c989bdc33d5b16

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398576&tab=buildLog

[2017-11-05 10:29] cockroach-teamcity opened #19806 "storage: TestNodeLivenessSelf failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/6f1f97e44b14a2eae93ef01a46c989bdc33d5b16

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398680&tab=buildLog

[code]

[2017-11-05 11:09] cockroach-teamcity commented on #19612
SHA: https://github.com/cockroachdb/cockroach/commits/6f1f97e44b14a2eae93ef01a46c989bdc33d5b16

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398749&tab=buildLog

[2017-11-05 11:09] cockroach-teamcity commented on #19624
SHA: https://github.com/cockroachdb/cockroach/commits/6f1f97e44b14a2eae93ef01a46c989bdc33d5b16

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398749&tab=buildLog

[2017-11-05 11:16] mberhault commented on #19804
I assume you mean lib/pq. You can find examples in various languages in our docs. Here is the one for go using lib/pq: https://www.cockroachlabs.com/docs/stable/build-a-go-app-with-cockroachdb.html

[2017-11-05 11:16] #19804 closed

[2017-11-05 11:48] guotie commented on #19804
Thanks.

The example only connect to a single node, How to connect to multiple node to make high-available?

[2017-11-05 11:59] mberhault commented on #19804
You can either handle multiple connections yourself, or setup a load balancer in front of all the cockroach nodes. We show how to setup haproxy in our docs: https://www.cockroachlabs.com/docs/stable/manual-deployment.html#step-5-set-up-haproxy-load-balancers

[2017-11-05 12:08] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/6f1f97e44b14a2eae93ef01a46c989bdc33d5b16

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=398846&tab=buildLog

[2017-11-05 18:33] mrtracy opened #19807 "ui: Reconcile github.io Plan Diagram Generator with Admin UI"
Currently, the output of "EXPLAIN" for SQL statements contains a URL to `cockroachdb.github.io` which will generate a visual diagram of the plan.  This works, however, there are a couple of oddities we should reconcile:

1.) CockroachDB already serves an Admin UI which is capable of generating this visualization; we may not need to link the user's to an external service.
2.) Even if the external s

[2017-11-05 18:40] mrtracy opened #19808 "ui: LongJS zeros handled incorrectly"
Due to some oddity in our setup, protobuffer fields with type "Long" are being set to the *number* 0 (instead of an empty Long) when they are decoded from a null value.  This can cause exceptions to be thrown in our code where we are expecting a Long object.

This is currently worked around with the `fixLong` util, which is not a good long term solution.

Note that this is not supposed to be the c

[2017-11-05 20:55] RaduBerinde commented on #17135
Special support for the merged columns is no longer necessary, thanks to #19660. We just need to plan mere joins for outer joins as well.

[2017-11-06 01:41] #18319 closed

[2017-11-06 02:57] vivekmenezes opened #19813 "sql: SELECT count(*) FROM item, new_order; hangs indefinitely"
A sql query hangs indefinitely when running ```SELECT COUNT(*) FROM item, new_order; ``` against two tables at the same time over tpcc scale factor 1 data.

Fortunately the query can be cancelled using ```CANCEL QUERY```

Furthermore, when running the same command over two system tables the command doesn't hang but the counts don't add up!

[code]

[2017-11-06 02:59] vivekmenezes commented on #19813
oh it's like a cross product over the two tables :-)

[2017-11-06 03:02] #19813 closed

[2017-11-06 03:14] cockroach-teamcity opened #19814 "teamcity: failed tests on master: Examples-ORMs/TestSQLAlchemy, Examples-ORMs/TestSQLAlchemy/FirstRun, Examples-ORMs/TestSQLAlchemy/SecondRun, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order"
The following tests appear to have failed:

[#399033](https://teamcity.cockroachdb.com/viewLog.html?buildId=399033):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-06 03:31] vivekmenezes commented on #19797
@cody-yancey thank you for reporting this issue. I'm unable to reproduce it on a different setup and I'd appreciate your help reproducing it. I have a few questions.

- Is the cancel of the UPSERT queries related? I'd appreciate if you can run SELECT COUNT(*) before cancelling the pending UPSERT statements.
- Is setting the range split size required to reproduce this issue?

Thanks

[2017-11-06 07:23] mjibson opened #19817 "sql: poor index selection"
On version CockroachDB CCL v1.2-alpha.20170901-1172-g99a04b6 (linux amd64, built 2017/10/29 21:59:18, go1.9). For the table:

[code]

The query:

[code]

With parameters: `3, 51, 4, 1, 5`

Produced the plan:

[code]

The explain says it used the players_build_hero_hero_level_idx index, however I would have expected  players_build_hero_map_mode_hero_level_idx to be used since it has all of the colu

[2017-11-06 09:09] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/9c1c3f795dd0486a7fc1a35a277a8fdf5eef8906

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=399188&tab=buildLog

[2017-11-06 10:48] cockroach-teamcity opened #19820 "storage: TestSystemZoneConfigs failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/9c1c3f795dd0486a7fc1a35a277a8fdf5eef8906

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=399292&tab=buildLog

[code]

[2017-11-06 11:01] rqx opened #19821 "Problem reading unicode arrays"
It seems there is a bug in serializing arrays with unicode characters. It can be reproduced in go:

    import "github.com/lib/pq"
    ...
    rows, err := db.Query("SELECT ARRAY ['one', 'two', 'fünf']")
    for rows.Next() {
        var value pq.StringArray
        rows.Scan(&value)
        fmt.Println(value)
    }

    output for cockroachdb> [one two fu00FCnf]
    output for postgresql> [one tw

[2017-11-06 11:42] tlvenn commented on #19669
@justinj any update on this issue ? Thanks a lot in advance !

[2017-11-06 12:15] knz commented on #19805
The error was due to a simple error in the DELETE code, see #19822.

The intent was clear: every statement is a potential data source and should be usable as such. We should support more (ideally: all) statements in that position over time, not less. (I think the buck stops at DDL statements, but only insofar that they never return rows.)

IMHO the word "tricky" doesn't apply to `SELECT ... FROM [

[2017-11-06 12:43] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/9c1c3f795dd0486a7fc1a35a277a8fdf5eef8906

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=399458&tab=buildLog

[2017-11-06 13:24] tschottdorf commented on #19803
https://github.com/cockroachdb/cockroach/pull/19796

[2017-11-06 13:24] #19803 closed

[2017-11-06 15:01] jordanlewis commented on #19805
Thanks for the quick fix!

I didn't mean that the syntax itself is tricky - I think that it's actually a very natural way to express subqueries in datasource positions. Kudos on coming up with it. By the way, is there a good phrase you've been using for this syntax? Source statements? Statement sources? Something else? I have to re-decide what to call it every time :)

I meant that I'm nervous tha

[2017-11-06 15:29] bdarnell opened #19826 "docker: Create default database"
The docker images for postgres and mysql support environment variables (POSTGRES_DB and MYSQL_DATABASE) that will cause a default database to be created (among other things; looks like a user can be created too). We may want to allow similar automatic configuration for use in testing.

Epic CRDB-1424

[2017-11-06 15:37] Rio commented on #19826
As I see it, it is usually done through some bash scripts that get run as part of the ENTRYPOINT in docker.
Looks like `/cockroachdb/cockroach.sh` is a good place to set it up. Not sure how it works in clustered mode though.

Mysql does some sort of double boot of mysql, starts it in the background, does the setup magic against that instance, stops it, and starts the real thing.

[2017-11-06 16:02] cockroach-teamcity opened #19829 "teamcity: failed tests on master: test/TestCreateSession, test/TestLogic, test/TestLogic/default, test/TestLogic/default/select_index, test/TestLogic/distsql-disk, test/TestLogic/distsql-disk/order_by, test/TestProposalOverhead"
The following tests appear to have failed:

[#399683](https://teamcity.cockroachdb.com/viewLog.html?buildId=399683):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-06 16:28] #19805 closed

[2017-11-06 16:34] dianasaur323 commented on #17840
@ZiCog From my observations, this suspect bug should really only last for a couple seconds. I usually see nodes flipping in and out of suspect  / live. Have you been seeing these nodes persistently stay in the suspect state?

[2017-11-06 16:57] #19555 closed

[2017-11-06 16:57] #19778 closed

[2017-11-06 17:26] mberhault commented on #17473
This is tracked in #19313.

[2017-11-06 17:26] #17473 closed

[2017-11-06 17:35] ZiCog commented on #17840
I have seen "suspect" on every node every time I have checked since I set them up on Friday.

It's still there now.

Still can't see any warnings or errors in the logs in the web console.

Any other place I should look?

[2017-11-06 17:41] ZiCog commented on #17840
I notice a comment above by mrtracy  about dependency on the client clock.

As it happens my cluster is in the USA and I am in Finland.

Is that relevant?

[2017-11-06 18:06] danhhz opened #19832 "storageccl: support s3-protocol compatible internal clouds in IMPORT/BACKUP/RESTORE"
There are packages for running your own storage server that is compatible with the s3 protocol. Presumably, we should be able to support this in IMPORT/BACKUP/RESTORE by passing host overrides down to ExportStorage.

This is originally from a user request on the forum: https://forum.cockroachlabs.com/t/import-csv-does-not-work-with-minio-s3-store/1083/1

[2017-11-06 18:07] danhhz commented on #19832
Assigning to @mjibson to confirm that we indeed can't do this right now and for prioritization

[2017-11-06 18:12] debraj-manna opened #19833 "Getting SQL error code as zero with JDBC"
I am getting SQL Error Code as zero with JDBC. As mentioned in this [discussion](https://forum.cockroachlabs.com/t/cockroach-transaction-throwing-exceptions/1071/10?u=tuk)  cockroach should not be returning zero error code.

The code to reproduce this-

[code]

OUTPUT-

[code]
The SQL schema for the table -

[code]
Cockroach Version

[code]

Postgres JAR

[code]

[2017-11-06 18:16] mjibson commented on #19832
@dianasaur323 Could you prioritize this issue?

[2017-11-06 18:17] glerchundi commented on #19832
This would be fantastic, it can open up a wide range of solutions like ceph
& its ceph object gateway s3 api (using rook in a cloud-native fashion).

On Mon, 6 Nov 2017 at 19:07, Daniel Harrison <notifications@github.com>
wrote:

[2017-11-06 18:19] danhhz opened #19834 "sqlccl: support IMPORT of empty csv files"
Currently it errors with `pq: could not get first key`.

Originally from https://forum.cockroachlabs.com/t/import-observations-v1-2-alpha-20171026-darwin/1077

[2017-11-06 18:19] danhhz commented on #19834
Assigning to @mjibson for prioritization

[2017-11-06 18:22] dianasaur323 commented on #19834
@danhhz thanks for filing and adding the label! tears of joy

[2017-11-06 18:22] spencerkimball commented on #19328
The branch of Go that is built with the boring crypto library has been upgraded to go1.9. I was able to use it to build CockroachDB and run the tests without any issues.

[2017-11-06 18:27] dianasaur323 commented on #17840
I'm not too familiar with the actual implementation, so pinging @mrtracy so he can provide his two cents.

[2017-11-06 18:29] dianasaur323 commented on #19782
@tschottdorf Thanks for filing! Yes, you can keep pinging me, since I add them to our backlog of UI things to fix. We should be able to fix this in our upcoming bug fix week.

[2017-11-06 18:32] dianasaur323 commented on #19775
cc @jseldess

[2017-11-06 18:37] jseldess commented on #19775
cc @knz, is this supposed to happen even when using the sql client form the command line (now as an interactive shell)?

[2017-11-06 18:41] dianasaur323 commented on #19599
I've seen the same problem in a 3-node cluster where the node kept coming back to life as well.

[2017-11-06 18:44] dianasaur323 commented on #17186
Do we have a sense on if the timeline for this has been moved up? I currently have it saved in our backlog with no prioritization, but sounds like more and more people have been asking for something here.

[2017-11-06 18:53] dianasaur323 commented on #18881
@mjibson I seem to remember seeing you merging a fix for this? Can we close out in that case?

[2017-11-06 18:57] dianasaur323 commented on #19832
@mjibson Yep! Added it into our backlog of features / ux next to another usability issue. Looking at our backlog, I think there are several testing initiatives that come in at a higher priority than this, but we might be able to get to it in 1.2.

[2017-11-06 18:57] mjibson commented on #18881
Yes!

[2017-11-06 18:57] #18881 closed

[2017-11-06 18:59] mjibson commented on #19832
Also note that this can probably be completed in just a few hours. Most of the work will be in figuring out how to name this and writing a test. The actual implementation is really easy.

[2017-11-06 19:02] dianasaur323 commented on #19832
Good to know. I'm not opposed to just getting this in, but I also don't think we need to context switch onto this over some of the other things we have prioritized right now. Your call, but it's currently marked as 1.2.

[2017-11-06 19:13] justinj commented on #19669
Hey @tlvenn, sorry, have had a lot on my plate but I'm looking into this now! Can you give me any info on what the queries you were using looked like?

[2017-11-06 19:47] cockroach-teamcity opened #19836 "teamcity: failed tests on master: acceptance/TestDockerCSharp"
The following tests appear to have failed:

[#399872](https://teamcity.cockroachdb.com/viewLog.html?buildId=399872):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-06 19:56] cockroach-teamcity opened #19838 "teamcity: failed tests on master: acceptance/TestDockerCSharp"
The following tests appear to have failed:

[#399881](https://teamcity.cockroachdb.com/viewLog.html?buildId=399881):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-06 20:00] dianasaur323 commented on #5924
@andreimatei This was a feature that was marked down as not requiring any PM scoping, hence the lack of actual feature definition. That being said, I think the approach here would be to do something similar to what PostgreSQL does with statement_timeout, lock_timeout, and idle_in_transaction_session_timeout. It looks like statement_timeout and lock_timeout would meet your 2 use cases, whereas idle

[2017-11-06 20:01] leomkkwan commented on #19216
Hi, I've took down the v1.1c luster, remove all data and start a new v1.2-alpha.20171026  cluster with 4 machines.

Ran for some test with a lot of insert on duplicate update statements, and the context deadline exceeded error pops, but with different message.

[replica consistency checker,n1,s5,r8428/3:/Table/68/1/2{176744…-200186…}] could not CollectChecksum from replica (n2,s6):5: rpc error: co

[2017-11-06 20:02] cockroach-teamcity opened #19839 "teamcity: failed tests on master: acceptance/TestDockerCSharp"
The following tests appear to have failed:

[#399890](https://teamcity.cockroachdb.com/viewLog.html?buildId=399890):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-06 20:04] cockroach-teamcity opened #19840 "teamcity: failed tests on master: acceptance/TestDockerCSharp"
The following tests appear to have failed:

[#399899](https://teamcity.cockroachdb.com/viewLog.html?buildId=399899):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-06 20:06] cockroach-teamcity opened #19841 "teamcity: failed tests on master: acceptance/TestDockerCSharp"
The following tests appear to have failed:

[#399908](https://teamcity.cockroachdb.com/viewLog.html?buildId=399908):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-06 20:11] tschottdorf commented on #19841
Um, looks like we're hitting some remote API every time we run this test?

[code]

[2017-11-06 20:11] tschottdorf commented on #19840
#19841

[2017-11-06 20:11] #19840 closed

[2017-11-06 20:11] tschottdorf commented on #19839
#19841

[2017-11-06 20:11] #19839 closed

[2017-11-06 20:11] tschottdorf commented on #19838
#19841

[2017-11-06 20:11] #19838 closed

[2017-11-06 20:11] tschottdorf commented on #19836
#19841

[2017-11-06 20:11] #19836 closed

[2017-11-06 20:12] jordanlewis commented on #19841
cc @BramGruneir

[2017-11-06 20:12] danhhz opened #19843 "*log.safeError: replica.go:1724: on-disk and in-memory state diverged: [Lease.Expiration: nil != &hlc.Timestamp{}..."
https://sentry.io/cockroach-labs/cockroachdb/issues/400115795/

[code]

[2017-11-06 20:14] petermattis commented on #19843
This was for one of our clusters, right? Can you point me to the cluster?

[2017-11-06 20:14] danhhz commented on #19843
This happened while doing a rolling upgrade of adriatic node 1 to current master. I think it was previously on 1.1.2, diving the logs to make sure

[2017-11-06 20:15] BramGruneir commented on #19841
Weird.  Looks like it.  I spent a good amount of time trying to make sure we didn't.  I'll have to dive back into it again.

[2017-11-06 20:17] danhhz commented on #19843
If my grep-ing is right, the last version it started up with before this was `CockroachDB CCL v1.1.1-46-gc726df2 (linux amd64, built 2017/10/26 22:27:17, go1.8.3)`

[2017-11-06 20:19] benesch commented on #19841
I have a fix for this somewhere. If we can wait til EOD I can dig it up.

[2017-11-06 20:20] petermattis commented on #19843
`v1.1.1-46-gc726df2` is also known as `v1.1.2`. And the new version (which crashed) is `CockroachDB CCL 3b90c52 (linux amd64, built 2017/11/06 17:16:45, go1.9)`.

[2017-11-06 20:23] tschottdorf commented on #19841
@benesch I do like the sound of that though the API is still down. I'll send a skip for this test, just remove that when you dig up your fix.

[2017-11-06 20:23] benesch commented on #19841
👍 thanks @tschottdorf!

[2017-11-06 20:24] tschottdorf commented on #19841
https://github.com/cockroachdb/cockroach/pull/19845

[2017-11-06 20:28] nvanbenschoten opened #19846 "sql: panic during SHOW TRACE for SELECT COUNT(*)"
Seen in #19199.

A user is seeing the following panic whenever they run the query `show trace for select count(*) from public.account`:

[code]

Assigning Radu, but feel free to reassign.

[2017-11-06 20:34] nvanbenschoten commented on #19199
Thanks for the report on the panic. I've opened up #19846 to track that.

The screenshots you posted didn't show anything unusual. The network diagnostic shows that all nodes are able to communicate with each other. The range details page shows that your addressing range (`r1`) is healthy, with all replicas keeping up-to-date. Would you be able to attach a screenshot of the following pages from ea

[2017-11-06 20:40] mrtracy commented on #17840
The time zone isn't relevant; however, if your client system clock is skewed from the cluster's clock by more than about ten-fifteen seconds, you can see this error.

[2017-11-06 20:44] petermattis commented on #19843
Looks like another problem with making those fields nullable. Consider this test (where `DeprecatedLease` is the old lease proto with `Expiration` and `DeprecatedStartStasis` marked non-nullable):

[code]

This outputs:

[code]

I could have sworn this was handled in the code, but I'm failing to see where.

[2017-11-06 20:51] dianasaur323 commented on #17840
@ZiCog this issue is high up in terms of priority, so we should be able to get to it within the next month or so.

[2017-11-06 21:00] petermattis commented on #19843
The assertion failed when checking disk state vs in-memory state after applying a snapshot. I'm still piecing together the code path here, but a node running `v1.1.2` sent a preemptive snapshot to a node run `v1.2-alpha`. The snapshot header contains the `ReplicaState` at the time the snapshot was taken. We then check that this state is equal to the on disk state after applying the snapshot. I'm n

[2017-11-06 21:03] andreimatei commented on #5924
I like `idle_in_transaction_session_timeout` as a session variable (if we start the clock after the first write, as Ben said). I will try to implement that as part of my current sql session rewrite. I think it will fit easy enough, whereas with today's code I don't know where I'd put it.

I somewhat like `statement_timeout` as a session variable. In lack of better cancelation mechanisms, I think i

[2017-11-06 21:04] ZiCog commented on #17840
Interesting...

Seems there is a 1 minute discrepancy between one of my google cloud instances, in the USA, and this Win 10 PC in Finland:
[code]

But then I also see this "suspect" thing using Linux machines in our office that I presume get time from ntp in the normal way.

I will check again in the morning.

[2017-11-06 21:24] ZiCog commented on #17840
Good grief.

I'm logging into my google cloud instance and checking the unix epoch time with  "date +%s" and I find it is a whole minute away from the unix epoch time displayed in by browser from here: https://www.epochconverter.com/

Meanwhile my PC here agrees with that web site.

What on Earth is going on?!

[2017-11-06 21:31] petermattis commented on #19843
Looks like we have the following scenario:
1. 10/20 Deploy v1.2-alpha.20170901-969-g4b60590
1. 10/27 Downgrade to v1.1.1-46-gc726df2
1. 11/06 Deploy 3b90c52 (v1.2-alpha...)

What I think happened is that while running `v1.2-alpha.20170901-969-g4b60590`, we acquired the lease for `r1756`. We then downgraded to `v1.1.1-46-gc726df2` but the lease was never reacquired and thus never overwrote the on-d

[2017-11-06 21:32] couchand commented on #19541
I guess it could go either way.  We might say that decommissioned nodes should be plotted until their liveness record expires, which would mean this is a dupe of #15609.  Or, we could say that as soon as the node is decomissioned and dead they should be removed from the charts, so this is something new to implement.

I'm inclined to say that the charts should always have the same nodes that the no

[2017-11-06 21:32] mrtracy commented on #17840
To clarify: your local PC agrees with the time on central time servers (such as the one you posted), but your GCE instances are skewed from that by over a minute.  Can you verify that all three of your GCE instances have clock offsets like this?

The odd thing is, if only one of your instances was off by a minute, I would have expected cockroach to have detected a skew of that magnitude and shut d

[2017-11-06 21:33] asubiotto commented on #19288
NOTE: All numbers from a one node cluster running on my laptop with key/value size ~200bytes (similar to tpch.lineitem).

To shed some more light on the layers below the `TableReader` (see https://github.com/cockroachdb/cockroach/pull/19602 for experiments regarding `RocksDB` iteration), I experimented with having the MVCCScan layer use an iterator that returns the same in-memory key and value ove

[2017-11-06 21:35] mrtracy commented on #17840
It's possible that epochconverter.com is using your local machine clock (I don't know specifically if it uses a central time source); could you access https://time.is/ on your local machine instead?

[2017-11-06 21:39] tschottdorf commented on #19541
Making graph display predicated on the liveness record being "recent" SGTM. Having things disappear at different times will be confusing at best. Re: the dupe, works for me if the original issue is updated to reflect the problem described here.

[2017-11-06 21:41] mrtracy commented on #17840
In either case (whether your GCE instances or your local machine are skewed), the underlying problem is the same; the clock on your local machine should not be considered in the "suspect/dead" calculations.  We will fix this bug by moving the "suspect/dead" computation to the server side (or at the very least, return a server-side timestamp to the client to use instead of the local time).

Apologi

[2017-11-06 21:43] couchand commented on #19643
The question came up on #19850 what the fallback behavior should be in case a user of the OSS build tries a route that's only in the CCL version.  My recommendation (alluded to above, but not made explicit) is that it just redirects to a nearby valid page if one makes sense.

An alternative would be a specific 404 page mentioning that the feature is only available with an enterprise license, with

[2017-11-06 21:54] ZiCog commented on #17840
OK.

Thanks. It's not a cockroach headache. Everything seems to work fine.

My headache now is why do all my clocks around the world disagree?!

[2017-11-06 21:58] ZiCog commented on #17840
mrtracy,

Good grief, you are right.  https://time.is/ says my Windows 10 PC lock is 57.7 seconds ahead.

I will have to check this on the Linux desktops in the morning.

Thanks.

[2017-11-06 22:00] danhhz commented on #19843
@petermattis are you ready for me to bring node 1 back? do i need to wipe it or should restarting it be sufficient?

[2017-11-06 22:04] dianasaur323 commented on #19643
I'm in the camp of your second proposal. That being said, I was actually thinking of doing a mini-kick-off to discuss what the user flow should look like for an OSS user hitting enterprise pages (either when their license expires or if they don't have a license to begin with). I was planning on setting something up next week once we have a final decision on exactly what the license flow will look

[2017-11-06 22:08] bdarnell commented on #19784
This scares me too. I think turning a mass unclean shutdown into a total loss is unacceptable (and I'm not keen on building a complex new recovery path for this). I think it would be better to address this by reducing the cases in which syncing is required (for example, I don't think we need to sync HardState.Commit), or reducing the impact of syncing. The big issue, I think, is the way syncing th

[2017-11-06 22:09] petermattis commented on #19843
Restarting the node should be sufficient.

[2017-11-06 22:10] dianasaur323 commented on #5924
I'm in the camp that the highest value toggle for us is idle_in_transaction_session_timeout. It sounds like you are in the same camp! In that case, upwards and onwards!

[2017-11-06 22:12] tbg opened #19851 "storage: fix spansets in maybeGossipNodeLiveness, loadSystemConfig"
Both methods mentioned in the title create an ad-hoc ReplicaEvalContext to which they pass a trivial SpanSet for reads. This means that these reads are (potentially) not tracked in the command queue.

Something to investigate and fix.

[2017-11-06 22:15] petermattis commented on #19843
Clearing `Lease.{Expiration,DeprecatedStartStasis}` when loading the lease would not be sufficient. We could add a `Lease.Normalize()` method clears those fields for epoch-based leases and do that whenever the in-memory lease state is set.

Another option is to change `hlc.Timestamp.Equal` to consider `nil` and the "zero" timestamp as equal. This would avoid whack-a-mole, but is mildly surprising.

[2017-11-06 22:36] tschottdorf commented on #19843
You're suggesting "sanitizing" the lease to match the on-disk version, right? I think we have to still look at the disk (perhaps you implied this) because whenever you (at 1.2) receive a state with a lease with a zero (instead of nil) field, you don't know whether the associated `WriteBatch` has `nil` or `zero` for the field (`zero` in the common case, `nil` in this issue).

But if the (in-memory

[2017-11-07 00:02] nvanbenschoten commented on #19746
I'm able to reproduce this pretty easily by stopping one node for a little while before bringing it back to life and then letting it try to catch up. The last few crashes I've seen look like what @petermattis was observing, except they're related to range 349:

[code]

Notice that the encoded size of the snapshot is `111MB`, about twice as large as the largest snapshots we would like to be creatin

[2017-11-07 00:10] RaduBerinde commented on #19846
I think we have some fast path somewhere for `count(*)` (where we don't need any columns), and it might be causing us to call `prettyEncDatums` without actually having decoded the key. Will try to repro.

[2017-11-07 02:01] justinj commented on #19817
How big is the table? Possibly related to #15649?

[2017-11-07 02:39] petermattis commented on #19843
I'm suggesting "sanitizing" the lease before comparison. Something like:

[code]

It might be sufficient to call `Lease.Normalize()` on both the disk and in-memory leases in `Replica.assertStateLocked()`.

[2017-11-07 03:50] mjibson commented on #19817
Seems like it's the same thing, yes.

[2017-11-07 03:57] dianasaur323 commented on #19807
@mrtracy thanks for looking into this. Just to add some context into this issue, my understanding is that this current visual diagram is made for CockroachDB developers, and we might have to repackage it for use by actual CockroachDB users. In light of that, I think when we do decide to build something here, we can go with approach 1 for the user-facing version that is no longer hosted on an exter

[2017-11-07 03:57] bdarnell commented on #19843
I think I'd do this, but as narrowly as possible, on Lease.Equal instead of hlc.Timestamp.

Now that data.proto is proto3, can we change these two fields to be non-nullable again? Or does proto3's "don't encode zero values" rule only apply to primitive fields?

[2017-11-07 04:10] bdarnell commented on #19833
The postgres JDBC driver returns error codes in `getSQLState()`, not `getErrorCode()`. This is because [not all postgres error codes are numeric](https://www.postgresql.org/docs/8.4/static/errcodes-appendix.html). See this [thread on the postgres mailing list](http://www.postgresql-archive.org/SQLException-getErrorCode-td2175792.html).

Our java sample code appears to be incorrect and needs to be

[2017-11-07 04:46] dianasaur323 commented on #17536
hmm... ok good to know. let's hold off for a bit until I get the chance to formulate thoughts on if this is really the right approach.

[2017-11-07 04:53] dianasaur323 commented on #19644
@tschottdorf wouldn't this be nice? Our live node count metric is flakey, and on top of that, it doesn't _really_ represent cluster availability since it makes people think that they might have some unavailable data when they probably don't if they only lost one node. I didn't realize ranges_unavailable would not capture ranges that had lost all three replicas. Interesting...

On a more important

[2017-11-07 04:57] dianasaur323 commented on #8473
@garvitjuniwal thanks for the detailed write-up! This is very helpful. Let me circle up with some people internally to see if we can address some of these issues in the next release / propose some solutions. I know there is already ongoing work going on in some other issues as well, but I don't think they directly address this one.

[2017-11-07 05:13] dianasaur323 commented on #2656
@csdigi Thanks for the additional color. It would be great to collect some requirements from you - namely, do you need things to be strictly ordered, do you need support for transactions, do you need support for cross-table transactions (I don't think anyone really conceivably supports this yet), and what latency threshold is acceptable to you?

Regarding your comment about receiving several logic

[2017-11-07 06:44] tlvenn commented on #19669
Hi @justinj, it's a pretty trivial one:

[code]

With the following schema:

[code]

[2017-11-07 07:31] mjibson commented on #19735
This repros with `make stress`.

[2017-11-07 07:35] mjibson commented on #19735
@vivekmenezes or @andreimatei do you have any insight into what's happening here? These three statements are executed in a single string:

[code]

But it looks like in rare instances the INSERT doesn't see the created table. If I change the test to execute these all separately it doesn't appear to fail under stress.

[2017-11-07 08:32] #18500 closed

[2017-11-07 09:10] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/669c39e6cce611c2a178bbf27468d22f5a8f4482

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=400675&tab=buildLog

[2017-11-07 10:52] knz commented on #19775
Thanks Diana for finding this out!
There are two problems here:

1. Diana just found out that our detection of whether we're running interactively is probably incorrect. I would argue that our (or, at least, mine) understanding of what constitutes "interactive" is flawed: Until now, I, in accordance with my experience with other unix tools, expected "interactive" to refer to the interactive CLI sh

[2017-11-07 10:54] knz commented on #19775
Just for reference, initially I was thinking of non-interactive use when a user does `cat somefile.sql | cockroach sql`, in that case AFAIK if the file contains DROP DATABASE it will not be prevented by sql_safe_updates.

[2017-11-07 10:54] cockroach-teamcity commented on #19820
SHA: https://github.com/cockroachdb/cockroach/commits/669c39e6cce611c2a178bbf27468d22f5a8f4482

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=400779&tab=buildLog

[2017-11-07 10:54] cockroach-teamcity opened #19862 "storage: TestReplicateQueueRebalance failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/669c39e6cce611c2a178bbf27468d22f5a8f4482

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=400779&tab=buildLog

[code]

[2017-11-07 12:23] posener commented on #12633
Tried to run Openstack Keystone on cockroachdb, it works fine, this missing feature fails a domain update command (a pretty common command I would say).
I think this implementation is necessary to make porting of existing applications to cockroachdb.

[2017-11-07 12:48] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/669c39e6cce611c2a178bbf27468d22f5a8f4482

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=400945&tab=buildLog

[2017-11-07 13:43] andzdroid opened #19863 "cli/gen: Decommissioned nodes are included in `gen haproxy` output"
When I run `cockroach gen haproxy`, decommissioned nodes are included in the server list. They should be removed.

[2017-11-07 14:32] petermattis commented on #19843
I'll give this a shot.

It only applies to primitive fields. Non-primitive fields are nullable by default. And if we mark those fields non-nullable, we're back to encoding the zero value again.

[2017-11-07 14:34] petermattis commented on #19784
I don't think we sync `HardState.Commit`. The `raft.Ready.MustSync` flag is only set if the hard state term or vote have changed or if there are log entries to sync.

[2017-11-07 14:45] petermattis commented on #12633
@RaduBerinde, @knz `DISTINCT` on all columns is a equivalent to `GROUP BY` on those columns. Is `DISTINCT ON(columns)` equivalent to `GROUP BY` on the specified columns?  If yes, this seems even easier than I was imagining.

[2017-11-07 14:59] #19756 closed

[2017-11-07 15:06] RaduBerinde commented on #12633
The semantics are a little strange. What exactly is "the first row"? A query has no ordering except what the order by indicates (which logically applies to the result of DISTINCT).

It could be a GROUP BY if we had a special aggregation function for the other columns:
`SELECT DISTINCT ON (a,b,c) a, b, c, FIRST_ROW(d), FIRST_ROW(e), FIRST_ROW(f) GROUP BY a,b,c`

[2017-11-07 15:10] knz commented on #12633
sorry "first row" doesn't presuppose an ordering. I think a more correct description is "any row".
The pg doc is pretty specific:

(https://www.postgresql.org/docs/10/static/sql-select.html)

[2017-11-07 15:12] knz commented on #12633
:+1: on the idea of a separate first_row aggregate. It'd be useful in testing too.

[2017-11-07 15:13] RaduBerinde commented on #12633
Ah, interesting. Our GROUP BY + ORDER BY doesn't work like that currently - we would need the ordering requirement to go through the groupNode. It would be the first instance of an aggregation function that is dependent on the ordering of the input rows.

[2017-11-07 15:15] Marza commented on #16029
I think that only allowing UTC on database level makes sense, if you want to present data in some other timezone (possibly multiple timezones) then that is up to the application/frontend to convert and present.

[2017-11-07 15:19] knz opened #19864 "sqlccl: import csv fails if csv file is empty"
Reported in

https://forum.cockroachlabs.com/t/import-fails-when-csv-file-is-empty/1073

[code]

cc @mjibson

[2017-11-07 15:28] RaduBerinde commented on #19846
The issue is that we don't call `ReadIndexKey` in all cases, and we should if we want to trace the KVs. This is already fixed on master, we now have `traceKV` as a field that is being checked. I can repro on 1.1 but not on master.

I will work on a fix for 1.1.

[2017-11-07 15:29] danhhz commented on #19864
Duplicate of https://github.com/cockroachdb/cockroach/issues/19834

[2017-11-07 15:29] #19864 closed

[2017-11-07 15:37] couchand commented on #19863
Likely related to #15609

[2017-11-07 15:42] couchand opened #19866 "ui: completely banish PhantomJS"
Even though #14240 got rid of a direct dependency on PhantomJS, we still have a transitive dependency in the form of:

[code]

PhantomJS isn't adding very much value, and it's giving us a lot of grief, so let's get rid of it entirely.

[2017-11-07 15:47] tschottdorf commented on #19843
How does this solve the problem? A node could be sending you a lease that you sanitize to a `nil` state, but that really has a zero field on-disk, and then you'd still be divergent.

[2017-11-07 15:53] petermattis commented on #19843
You'd have to sanitize both the on-disk and in-memory leases before comparison. #19867 is essentially this approach, but doing so via changing `Lease.Equal`.

[2017-11-07 15:55] tschottdorf commented on #19843
Ah, it wasn't clear to me that both would be sanitized. SGTM though I'd personally prefer an approach that avoids the divergence instead of hides it (due to our past experience with other code that needed to be aware of the divergence to function properly). I'm ok with #19867 though.

[2017-11-07 16:19] dt opened #19869 "sqlccl: IMPORT - support filling in SERIAL or DEFAULT columns"
Currently every column must be given an explicit value in the CSV data -- i.e. unlike INSERTs, columns cannot be left unspecified to have the DEFAULT value filled in. This difference is perhaps most likely to be encountered for SERIAL ids, where the expectation is that the DB fills them in.

[2017-11-07 16:42] jethrogb commented on #19775
`-e` use is very common in shell scripts, see also `sed`, `perl`, `ruby`, etc.

[2017-11-07 16:50] dianasaur323 commented on #8473
Ok, I'm back with some updates after speaking with @tschottdorf. With 1, I believe we crash now, so even though it's not necessarily pretty, it shouldn't hang anymore. With 2, this seems to be a good suggestion that could be combined with 4. We could probably think about automating this, but for now, we might have to go with a manual workaround before we have time to provide a better UX here. With

[2017-11-07 16:53] bdarnell commented on #19746
Most databases have limits on the size of columns that can be used as keys (for example, mysql doesn't allow indexing columns larger than 768 bytes IIRC), so there is ample precedent for enforcing some limit there. The sub-kilobyte limits of other DBs can be annoying but I think a more reasonable limit would be fine (I'd suggest something like 64KB. Maybe a smaller limit for primary keys than for

[2017-11-07 16:55] #19770 closed

[2017-11-07 17:20] jethrogb commented on #19775
Also, this still doesn't work:
[code]

[2017-11-07 17:50] andreimatei opened #19876 "sql: any DELETE upgrades a SNAPSHOT txn to SERIALIZABLE"
At the KV level, any `DelRange` request sets the `RetryOnPush` field on the txn, causing the transaction to return a retriable error if it is pushed (reason `RETRY_DELETE_RANGE`). For SNAPSHOT txns that means that they'll behave like SERIALIZABLE txns. Why? See [1].

SQL uses `DelRange` for deleting rows, even for deleting a single row with a known PK. So, as soon as a DELETE statement is used in

[2017-11-07 17:56] petermattis commented on #17243
Changes in go1.10 (presumably the GC changes) have significantly reduced 95%-tile and 99%-tile latencies:

[code]

[2017-11-07 17:56] #17243 closed

[2017-11-07 18:00] danhhz opened #19880 "sql: investigate using Del instead of DelRange in impl of RowDeleter"
Transactions that are run at SNAPSHOT and contain a DelRange command are required to be retried if they are pushed (which in some sense "upgrades" them to SERIALIZABLE). We use DelRange for true range deletions, but we also use it for deleting a single row (which also happens when a row has a column of it's primary key updated).

It should be possible to use Del for this instead either by computin

[2017-11-07 18:00] danhhz commented on #19880
Assigning to @andreimatei for now because he mentioned that he's been thinking about this.

[2017-11-07 18:02] tschottdorf commented on #19644
@dianasaur323 this came up during discussion with one of our customers (same as #8473), which is why I tentatively marked it for 1.2. I have no immediate plans to work on it, though.

Note that being a distributed system, authoritative answers are expensive. Perhaps the sweet spot is marking a cluster as "endangered" whenever even a single node is down (or, if we try to get fancier, look at all th

[2017-11-07 18:03] tschottdorf commented on #17243
Nice!

[2017-11-07 18:05] danhhz commented on #19880
Whoops. Duplicate of https://github.com/cockroachdb/cockroach/issues/19876

[2017-11-07 18:05] #19880 closed

[2017-11-07 18:07] danhhz commented on #19876
Ah, yup, I forgot about "delete_only". We should be fine then

[2017-11-07 18:07] tschottdorf commented on #19746
Just curious, would we also be limiting the total key size somehow? For example, what about

`CREATE TABLE foo (a STRING(1mb), b STRING(1mb), ..., z STRING(1mb)) PRIMARY KEY(a, b, c, ..., z)`?

[2017-11-07 18:14] dianasaur323 opened #19881 "feature request: support faster snapshots"
This is a user request with more info here: https://forum.cockroachlabs.com/t/database-snapshot/1075

Sticking this in as a placeholder for tracking purposes. The use case is to allow quick snapshots of a point in time to support dev environments. There could also be the additional use case of restoring or importing a new cluster, where some of the safety rails / throttles we've created so as not

[2017-11-07 18:31] #19834 closed

[2017-11-07 18:37] asubiotto opened #19882 "distsql: node shutdown/failure results in query returning an internal error"
Example: On a 3-node cluster, running a distsql query through node 1 that schedules some processors on node 2 and 3 and then shutting down node 2 results in:
[code]
For now, we should be attempting to retry the query from the gateway node, scheduling the flows on the gateway node, and then returning a retryable error to the client if all else fails. However, better solutions like dynamically resch

[2017-11-07 18:47] vivekmenezes commented on #12633
assigning to richard if he can get to it before the end of his internship.

[2017-11-07 18:55] bdarnell commented on #19746
Yeah, the limit would need to be on the worst-case total size of all columns that make up the key, instead of individual columns.

[2017-11-07 19:15] couchand commented on #19512
Just edited the issue with the outcome of some meatspace discussions: support collapsing the overview and we're punting on the grey background for now.

[2017-11-07 19:17] couchand commented on #19512
@dianasaur323 I'm thinking it doesn't make sense to have the node liveness link to the node list: it's already on this page.  Also, since it's on this page, we can probably just get rid of the dedicated node list page, right?

[2017-11-07 19:22] dianasaur323 commented on #19512
@couchand Well, the problem is that in the CCL version, we would no longer have this page. How can we reconcile the two?

[2017-11-07 19:23] #19866 closed

[2017-11-07 19:37] couchand commented on #19512
As I understand it, the CCL version will still have the node list, it will just be a panel coming up from the bottom rather than taking up the whole page.  Is that not still the plan?

[2017-11-07 20:13] dt opened #19887 "BACKUP/RESTORE: mark revision_history and RESTORE AOST as experimental?"
There are some untested corner cases, like how these interact with dropped or truncated tables (right now the table desc isn't available to restore it, the data isn't in the backup, etc).

I'm thinking we need more robust testing of these features before we call them GA-ready (and it sounds like the team agreed on this at our discussion). We could leave it as-is while we're testing it, and wait un

[2017-11-07 20:13] dt commented on #19887
cc @mjibson @danhhz

[2017-11-07 20:20] bdarnell commented on #19876
When the `DELETE` specifies a single row by PK, we can definitely use `Delete` instead of `DeleteRange` and avoid this issue. But the more interesting question to me is what happens when the SQL `DELETE` specifies a range: `DELETE FROM t WHERE id >= $1 and id < $2`. If this changed from KV `DeleteRange` to a select-then-delete, it would introduce the same anomalies that #6240 tried to prevent. But

[2017-11-07 20:22] bdarnell commented on #19876
I also feel like exposing SNAPSHOT isolation was a premature optimization, so it's valid to question its usefulness. It is quite difficult to identify situations in which it would provide a performance benefit while still being safe.

[2017-11-07 20:31] richardwu opened #19890 "Require more test coverage: incorrect references to mutation columns via scanNode"
[A bug was discovered that caused a panic](https://github.com/cockroachdb/cockroach/pull/19752) when the assumption was made that the columns in `scanNode.valNeededForCol`, `scanNode.cols`, etc. exist in the corresponding index descriptors passed along to other objects. This is of course not the case with mutation columns that are not yet available in descriptor leases.

We should increase the tes

[2017-11-07 20:41] #19846 closed

[2017-11-07 21:06] justinj commented on #19669
hey @tlvenn, I spent some time with some other drivers that support the binary format, I tried node-postgres, libpq, and pgx ([here](https://gist.github.com/justinj/ec08e30c4547c4a4d07b863a537bc9e6)'s a reconstruction of your schema in pgx) but they all seemed to work ok, can you give me any more info on
* when the problem occurs? you mentioned it doesn't happen every time? and
* if the problem go

[2017-11-07 21:12] danhhz opened #19891 "rocksdb: "Unable to Encode VersionEdit" preventing CockroachDB v.1.1x nodes from starting"
One of our users mentioned on gitter that 3 of 18 nodes in a v1.1.1 cluster were repeatedly failing to start with

[code]

https://gitter.im/cockroachdb/cockroach?at=5a0071f232e080696e6f3793

The "Unable to Encode" error seems to be an issue with empty ssts that was fixed shortly after our rocksdb branch for v.1.1.1 (https://github.com/facebook/rocksdb/issues/2478). We should cherry-pick that fix

[2017-11-07 21:17] tschottdorf commented on #19876
One of the founding principles in CockroachDB was that it's too difficult to reason about isolation levels. I just spent a few minutes with @andreimatei looking at the [critique of ANSI isolation levels](https://www.cs.umb.edu/cs734/CritiqueANSI_Iso.pdf) but unfortunately it doesn't quite cover what we need. A relevant quote is

Commit-Timestamp, which is larger than any existing
Start-Timestamp o

[2017-11-07 21:18] cockroach-teamcity opened #19892 "teamcity: failed tests on master: Examples-ORMs/TestGORM"
The following tests appear to have failed:

[#401778](https://teamcity.cockroachdb.com/viewLog.html?buildId=401778):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-07 21:30] tschottdorf commented on #17611
@mberhault having checked in with @cuongdo, I'd like to set up a long-lived geo-replicated cluster (SF, US, EU? Six nodes is probably enough) similar to the PM cluster which we can use for principled testing. I'm happy to set this up myself but am pretty sure I'd get nowhere without having you get me started first. Think you could send me off this week or next?

Once the cluster is ready, my first

[2017-11-07 21:33] mberhault commented on #17611
You may want to take a look at https://github.com/cockroachlabs/production/issues/500 which did some of this.
A reasonably easy way to get started would be to resurrect `indigo` (decommissioned in https://github.com/cockroachlabs/production/pull/504), or at least to look at what was going on there.

[2017-11-07 21:35] spencerkimball commented on #17611
Yes, we definitely need a cluster with at least three localities – need
this for serious admin UI testing as well. I think a cluster which spans
east coast and one that spans continents would be two very useful cases.
The spanned continents will be critical to geo-partitioning testing.

On Tue, Nov 7, 2017 at 4:33 PM marc <notifications@github.com> wrote:

[2017-11-07 21:36] dt commented on #19749
I already have a use-case for the first of those -- I want to find and include all revisions of the applicable table descriptors when producing an incremental backup.

[2017-11-07 21:38] andreimatei commented on #19876
Well, but where does this leave us wrt Ben's observation that the same anomaly is possible when doing a range `UPDATE`? Should we disallow any transaction that did any range operation from being pushed?

[2017-11-07 21:44] tschottdorf commented on #17611
@mberhault indigo was on `az`, is that still what we'd want to use?

[2017-11-07 21:46] mberhault commented on #17611
Probably not, we may want to go for DO for that. We also don't need the hardware profile that it did, I don't think this is for performance work.

[2017-11-07 22:01] kuanluo commented on #19512
I believe for the next release, we won't have the node list coming p from the bottom. But now that I think about it, perhaps we can just bring the current node list there, and have that behavior?

[2017-11-07 22:22] dianasaur323 commented on #19512
Yes, @couchand and I discussed offline. We will just wrap the node list into the cluster overview, and it sounds like it won’t be hard to have it expandable.

[2017-11-07 22:43] #19832 closed

[2017-11-07 22:48] mjibson opened #19895 "sqlccl: investigate rekey perf improvements"
RESTORE has been seen to be at 100% CPU sometimes, which suggests there's something we can parallelize and make faster. It may have been the rekey operation.

Another idea here is to have IMPORT generate correct IDs (i.e., the ids that will be used when restore is run), and have restore be smart and skip rekeys that don't need to be performed. This is both a perf improvement and a benchmark to see

[2017-11-07 22:50] tschottdorf commented on #19876
Either we invest a considerable amount of time to identify the actual constraints of the (flavor of) SNAPSHOT isolation we can possibly support, or we get rid of snapshot (within sql, i.e. upgrade `SNAPSHOT` to `SERIALIZABLE` transparently). Priorities suggest the latter.

I also wonder how other databases actually fare in practice when it comes to constraints.

[2017-11-07 22:57] cockroach-teamcity opened #19896 "teamcity: failed tests on master: Examples-ORMs/TestGORM"
The following tests appear to have failed:

[#401855](https://teamcity.cockroachdb.com/viewLog.html?buildId=401855):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-07 23:03] cockroach-teamcity opened #19898 "teamcity: failed tests on master: Examples-ORMs/TestGORM"
The following tests appear to have failed:

[#401872](https://teamcity.cockroachdb.com/viewLog.html?buildId=401872):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-08 07:18] cockroach-teamcity commented on #18775
SHA: https://github.com/cockroachdb/cockroach/commits/1debc0ebb16205371dd8231600eac14bb648618a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=401977&tab=buildLog

[2017-11-08 07:18] cockroach-teamcity commented on #19428
SHA: https://github.com/cockroachdb/cockroach/commits/1debc0ebb16205371dd8231600eac14bb648618a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=401977&tab=buildLog

[2017-11-08 08:27] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/1debc0ebb16205371dd8231600eac14bb648618a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=402079&tab=buildLog

[2017-11-08 08:32] nvanbenschoten commented on #19846
Thanks for looking into this so quickly @RaduBerinde!

[2017-11-08 09:02] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/1debc0ebb16205371dd8231600eac14bb648618a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=402122&tab=buildLog

[2017-11-08 09:02] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/1debc0ebb16205371dd8231600eac14bb648618a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=402122&tab=buildLog

[2017-11-08 09:02] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/1debc0ebb16205371dd8231600eac14bb648618a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=402122&tab=buildLog

[2017-11-08 14:01] couchand opened #19902 "ui: cluster overview layout issue"
The cluster overview uses `display: contents`, which only works on Chrome behind a flag.  Let's just get rid of that for now.

![display-contents](https://user-images.githubusercontent.com/793969/32552909-6682fd4e-c463-11e7-8530-deda235feb04.png)

[2017-11-08 14:06] couchand opened #19903 "ui: admin UI broken in Firefox on Linux"
In Firefox on Linux, the admin UI loads, but then redlines the CPU and is nonresponsive.  The browser can switch tabs, but no refresh, scroll, or input events are no longer handled.  The dev console can open, but it just sits with a loading indicator, and also doesn't respond to events.

This behavior started in 2016 some time.

[2017-11-08 14:09] knz commented on #19903
Behavior repros in both FF 56 and 57.

[2017-11-08 14:13] couchand opened #19904 "ui: establish browser support policy"
We've been operating under a somewhat informal browser support policy for the admin UI: generally we support Chrome (and maybe Firefox?), but we only really do much testing of Chrome (and maybe Firefox?) on OS X (and maybe Ubuntu?).

We should establish a policy on what browsers on which platforms are supported, document it, and then implement a automated test infrastructure to watch for regressio

[2017-11-08 14:26] couchand commented on #19903
What's curious about this is that I do most of my development in Firefox, frequently on Ubuntu.  I'm currently on FF 56.  We'll need to dig into this to figure out what the difference is.

[2017-11-08 14:35] cuongdo opened #19905 "roachtest: verify that core dumps are created when process segfaults"
When investigating last night's nightly failures, such as [this one](https://teamcity.cockroachdb.com/viewLog.html?buildId=401954&tab=buildResultsDiv&buildTypeId=C_BW_4Nodes_6Hours), I noticed that neither the build log nor the artifacts contained a smoking gun indicating what had failed.

Only after running `cockroach` manually on the test cluster did I see the SIGILL:

[code]

This output should

[2017-11-08 14:35] cuongdo commented on #19905
cc @benesch

[2017-11-08 14:38] petermattis opened #19906 "stability: replica.go:1727: on-disk and in-memory state diverged: [Lease.Start.WallTime: 0 != 15101247514494..."
https://sentry.io/cockroach-labs/cockroachdb/issues/401031060/

[code]

[2017-11-08 14:38] petermattis opened #19907 "stability: replica_command.go:2313: consistency check failed with %d inconsistent replicas | uint32"
https://sentry.io/cockroach-labs/cockroachdb/issues/401037543/

[code]

[2017-11-08 14:39] petermattis commented on #19907
Perhaps related to #19906.

@tschottdorf I assigned you because I'm unlikely to have a chance to take a look today or tomorrow.

[2017-11-08 14:44] a-robinson commented on #19635
@mjibson If I understand you properly, are all of those `968/<number of nodes>` processors running and writing to disk in parallel?

[2017-11-08 14:46] cuongdo opened #19909 "acceptance: many nightlies failing with cockroach SIGILL"
Example failures:
* https://teamcity.cockroachdb.com/viewLog.html?buildId=401964&tab=buildResultsDiv&buildTypeId=Cockroach_Nightlies_Steady_6Medium
* https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockroach_Nightlies_SchemaChangeTest3to510g
* https://teamcity.cockroachdb.com/viewLog.html?buildId=401954&tab=buildResultsDiv&buildTypeId=C_BW_4Nodes_6Hours

Using `gdb` on the core dump, I

[2017-11-08 15:18] danhhz commented on #19869
We also had a request for DEFAULT columns on the forum: https://forum.cockroachlabs.com/t/import-does-not-support-default-values-very-annoying

[2017-11-08 15:38] tschottdorf commented on #19907
This is likely detecting https://github.com/cockroachdb/cockroach/issues/19906 as you suggested since it's the same cluster.

[2017-11-08 15:38] #19907 closed

[2017-11-08 15:45] benesch commented on #19909
Ooh, fun! This is probably sufficient to figure out what's going on.

[2017-11-08 16:08] justinj opened #19911 "sql: add transaction_read_only variable"
Some drivers read this variable. We don't support setting it in any way, but we should support getting it (and it should be hardcoded to always be false).

[2017-11-08 16:20] bdarnell commented on #19891
SGTM

[2017-11-08 16:55] couchand commented on #19512
On #11908 @tschottdorf mentioned that the capacity bar chart is unintuitive.  I think the reason is that the total capacity doesn't actually appear anywhere except for encoded in the length of the grey background.  Perhaps we should add it.

There are two places I could see putting it:

1) always forcing the tick labels to include the total usable capacity, or
2) adding a denominator to the curren

[2017-11-08 17:06] aitjcize commented on #7841
any updates on when this will be supported?

[2017-11-08 17:30] dianasaur323 commented on #19512
I think 1 might cause us to have tick marks that don't fall in a natural looking spot. Enlisting @kuanluo to provide her thoughts. I was about to offer up an opinion, but I think it would be ugly :)

[2017-11-08 17:43] benesch commented on #19270
tl;dr we sidestepped most of these issues by using High CPU instances. 🎉

[2017-11-08 17:43] #19270 closed

[2017-11-08 17:46] debraj-manna opened #19916 "`Transaction with wrong status error for` INSERT ... SELECT Query"
This is discussed in [forum](https://forum.cockroachlabs.com/t/handling-triggers-in-cockroach-db/1100/)

**Cockroach Schema**

[code]

**Cockroach SQL Output**
[code]
Also I think this is confusing the above query failed but it entered data in `config_str`

**Cockroach Version**

[code]

[2017-11-08 17:54] cockroach-teamcity opened #19917 "teamcity: failed tests on master: Examples-ORMs/TestGORM"
The following tests appear to have failed:

[#402646](https://teamcity.cockroachdb.com/viewLog.html?buildId=402646):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-08 18:08] benesch commented on #19909
The illegal instruction is an AVX `shlx`:

[code]

Not sure where that's coming from.

[2017-11-08 18:08] benesch commented on #19909
https://github.com/facebook/rocksdb/issues/2715

[2017-11-08 18:11] benesch commented on #19909
Welp, I found the jerk who's responsible for this: https://github.com/facebook/rocksdb/blame/master/CMakeLists.txt#L178

Preparing a PR shortly.

[2017-11-08 18:35] kuanluo commented on #19512
Ha, Josué's original mock have the tick labels, so I am in favor of Option 1.

[2017-11-08 18:36] kuanluo commented on #19512
Ha, Josué's original mock have the tick labels, so I am in favor of Option 1.

[2017-11-08 18:37] mjibson commented on #19635
Yes, they are.

[2017-11-08 19:19] dianasaur323 commented on #19887
ok, I took a look at the RFC https://reviewable.io/reviews/cockroachdb/cockroach/19175. It looks like SQL language extensions should be marked with EXPERIMENTAL directly in the syntax. However, since I kind of view Backup / Restore as separate from the generic SQL language, I'm still in the camp of using a cluster setting. This also makes the user experience a bit smoother, since once some adminis

[2017-11-08 19:21] a-robinson commented on #19635
Yowza, thanks.

[2017-11-08 19:27] danhhz commented on #19887
Is it crazy to do both? I personally don't think so. The cluster setting gives administrators the ability to globally disable things they are not comfortable with and adding EXPERIMENTAL in the syntax very clearly tells someone writing a query that it's not guaranteed to be up to our usual quality bar. Both add different value.

It's really not hard on our side to do both.

[2017-11-08 19:28] danhhz commented on #19887
Either way, in favor of making both of these experimental for a release

[2017-11-08 19:29] mjibson commented on #19887
Only the root user can even run these, so it's not quite as scary.

[2017-11-08 19:45] asubiotto commented on #19882
Created above PR (#19919) as a stop gap solution. Closing this issue as future work is outlined in #15637

[2017-11-08 19:45] #19882 closed

[2017-11-08 19:47] knz commented on #19916
This is a duplicate of #18806.

[2017-11-08 19:47] #19916 closed

[2017-11-08 19:54] #19909 closed

[2017-11-08 20:04] petermattis opened #19920 "ui: debug range page fails to load on the first time"
The first time I visit `/#/reports/range/<rangeID>` I see a message about "Updating cluster status", but the page never loads. If I reload that URL the range debug info shows up almost immediately. This is very repeatable for me on a 3-node GCE cluster. Happens for every range I try.

[2017-11-08 20:18] dt commented on #19887
2¢ `experimental_revision_history` on backup and ` EXPERIMENTAL AS OF SYSTEM TIME` on restore.

[2017-11-08 20:23] a-robinson commented on #19699
Alright, so I have [a simple program](https://github.com/a-robinson/cockroach/blob/diskcontention/pkg/cmd/diskcontention/main.go) that tickles the disk badness even on local SSD. It basically just runs what I had before in parallel with [synctest](https://github.com/cockroachdb/cockroach/pull/19618) and only prints the sync throughput/latencies, although I slightly tweaked what was there before to

[2017-11-08 20:39] bdarnell commented on #19876
Write skew allows foreign key constraints to be violated: the constraints need to be checked at the transaction's write timestamp instead of its read timestamp (so they need to be re-validated at the new timestamp whenever the transaction gets pushed). Implementing this might also get us closer to deferred constraints. However, we don't want to invest much time in improving the performance of SNAP

[2017-11-08 21:16] dianasaur323 opened #19924 "cockroach node status should show when a node is dead"
I would expect cockroach node status to tell me if a node is dead. In the below example, one of my nodes is **definitely** dead, but it only shows up if I add the --all flag.

![image](https://user-images.githubusercontent.com/5768024/32574779-29bbeaf0-c4a0-11e7-9b31-73e497897c0f.png)

![image](https://user-images.githubusercontent.com/5768024/32574795-31160a6a-c4a0-11e7-8905-7b304407bc28.png)

I

[2017-11-08 21:19] vivekmenezes opened #19925 "sql: an INSERT following a CREATE TABLE can fail"
If a CREATE TABLE is executed via one node at time T followed by an INSERT that is executed on another node at T -delta, the INSERT will fail (). This failure is demonstrated through this test:

[code]

The correct behavior here is for the INSERT to retry through a ReadWithinUncertaintyIntervalError
retryable error.

[2017-11-08 21:45] knz commented on #19123
This error is due to a bad clock skew:

[code]

[2017-11-08 21:45] #19123 closed

[2017-11-08 22:21] a-robinson commented on #19699
Two updates:
1. The sysctl settings have made for a successful distributed scale-factor-10 IMPORT https://github.com/cockroachdb/cockroach/pull/19436#issuecomment-340597768
1. It looks like investigating different RocksDB settings may be more fruitful than pure rate limiting (assuming we can't rely on changing the sysctl settings). Even with Puts rate limited to just 16MB/s, after enough time (3 m

[2017-11-08 22:31] dianasaur323 opened #19927 "cli,sql: sql shell can access database that isn't there"
I killed my cluster and restarted, and ran the typical sql command I usually run:

cockroach sql --certs-dir=certs -d old_db

Which gets me to:

root@:26257/old_db>

However, old_db doesn't exist. Should we do some error checking so that you can't get into that state?

[2017-11-08 22:47] #19841 closed

[2017-11-09 00:10] dianasaur323 commented on #19746
@nvanbenschoten after rebooting everything, I'm still seeing the NYC2 node die. Interesting thing is that it died before I added in the data that I think might have huge primary keys, so I have a suspicion that something else is wrong.

[2017-11-09 00:27] cody-yancey commented on #19797
@vivekmenezes Thanks for the quick reply! I will try and find the rerpro case with the minimum set of steps sometime next week and get back to you.

As for the state of the cluster right now, I can tell you that `SELECT COUNT(*)` always just hangs. I can `SELECT * FROM jobs.blob WHERE id > 0 AND id < 1000` but for certain ranges of id it will hang. I've been meaning to put together another bug rep

[2017-11-09 00:48] #19902 closed

[2017-11-09 01:34] #18949 closed

[2017-11-09 01:56] nvanbenschoten commented on #19746
@dianasaur323 what do you mean by "it died before I added in the data that I think might have huge primary keys"? An empty cluster is still crashing with an OOM?

[2017-11-09 02:01] dianasaur323 commented on #19746
@nvanbenschoten nope, my assumption was the restored registration data might have had the primary keys that we thought were too big. However, I was just running simple tpcc on that cluster when it crashed. The error messages on NYC2 also looked different from before.

[2017-11-09 02:23] cockroach-teamcity opened #19930 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenSequential: JepsenSequential/start-stop-2, Jepsen/Jepsen: JepsenG2: JepsenG2/majority-ring+start-kill-2, Jepsen/Jepsen: JepsenG2: JepsenG2/parts+start-kill-2"
The following tests appear to have failed:

[#402485](https://teamcity.cockroachdb.com/viewLog.html?buildId=402485):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-09 02:32] vivekmenezes commented on #19797
@cody-yancey I suspect your cluster has some unavailable ranges. Can you check if you can see any unavailable ranges on your cluster? You can see it on the admin UI at port 8080.

[2017-11-09 02:47] dianasaur323 commented on #19512
Sounds like we might have to do some testing on different browsers before shipping as well, so added that as a little tick mark. Let's talk about what that actually means tomorrow during our cluster viz meeting.

[2017-11-09 02:53] bdarnell commented on #19930
Yay, the issue poster worked! (except that it needs an `if branch == master` check so it doesn't post issues when building a PR).

The comments failures are expected: This test was designed to expose the difference between serializability and linearizability, so it's not supposed to pass with our serializable transactions. It has been giving us false positives all this time because we weren't runn

[2017-11-09 03:05] dianasaur323 commented on #19887
@dt so not both, just SQL syntax?

[2017-11-09 03:05] dianasaur323 commented on #19920
ah, this happened to me earlier too! +1

[2017-11-09 03:29] bdarnell commented on #19930
The sequential failure looks like a mishandled "connection refused" error, not a correctness issue (and maybe related to the reported flakiness of the start-stop nemesis in #15736?)

The g2 failures were because the disks filled up on the worker machines. Since the failing configurations were the last two to be run, we probably just need to clean up logs between test runs.

[2017-11-09 04:13] vivekmenezes commented on #19711
@korpa are you happy with this resolution?

[2017-11-09 04:19] bdarnell commented on #19927
`old_db` doesn't exist yet, but since you're root you can create it and then start using it immediately. This is a useful convenience feature for testing frameworks (without it you often have to make one connection to create the database, then close it and reconnect to use the database you just created). It's admittedly only useful if you can run as root (which means a local/throwaway DB) and othe

[2017-11-09 06:10] debraj-manna opened #19932 "Cockroach consuming a lot of cpu in a demo app"
**QUESTION**
I have a single cockroach node started with

[code]
Below is the `htop` output showing cockroach is consuming most of the CPU.

<img width="1433" alt="htop" src="https://user-images.githubusercontent.com/8141860/32590509-c6f12fba-c540-11e7-9146-53d147d448b7.png">

There is hardly any load in the cockroach server

<img width="1253" alt="overview" src="https://user-images.githubusercont

[2017-11-09 07:13] nvanbenschoten commented on #19746
@dianasaur323 it looks like NYC1 and NYC2 crashed from a consistency check failure. This looks like the same issue we saw yesterday on Cyan (https://sentry.io/cockroach-labs/cockroachdb/issues/401514091/). Just like we saw on Cyan, all `debug check-store` calls succeed except for one (NYC1 in this case), which gets stuck. I wasn't able to track down whether there was any resolution on what caused

[2017-11-09 07:57] cockroach-teamcity opened #19934 "server: TestClusterAPI failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b663a0cf109292ddbc22a872f0e301d92460b1aa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=403306&tab=buildLog

[code]

[2017-11-09 07:57] cockroach-teamcity opened #19935 "server: TestClusterAPI/reportingOn=false failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b663a0cf109292ddbc22a872f0e301d92460b1aa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=403306&tab=buildLog

[code]

[2017-11-09 07:57] cockroach-teamcity opened #19936 "server: TestClusterAPI/reportingOn=false/enterpriseOn=false failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b663a0cf109292ddbc22a872f0e301d92460b1aa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=403306&tab=buildLog

[code]

[2017-11-09 08:04] cockroach-teamcity opened #19937 "sql/distsqlplan: TestSpanResolver failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b663a0cf109292ddbc22a872f0e301d92460b1aa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=403313&tab=buildLog

[code]

[2017-11-09 08:04] cockroach-teamcity opened #19938 "sql/distsqlplan: TestSpanResolver/0-direction:0 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b663a0cf109292ddbc22a872f0e301d92460b1aa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=403313&tab=buildLog

[code]

[2017-11-09 09:46] korpa commented on #19711
@vivekmenezes No, I'm not. Sorry. It is working, but as it is not optimized it is damn slow. So sadly CockroachDB is no option for my use case at the moment.

[2017-11-09 11:44] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/b663a0cf109292ddbc22a872f0e301d92460b1aa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=403648&tab=buildLog

[2017-11-09 13:58] tschottdorf opened #19939 "*log.safeError: range_lookup.go:221: range lookup of key %s found only non-matching ranges | roachpb.Key"
https://sentry.io/cockroach-labs/cockroachdb/issues/401764890/

[code]

[2017-11-09 14:02] tschottdorf commented on #19746
@mberhault just mentioned that some nightlies also failed with the same error, so I'm inclined to believe that there's still a systematic problem with the last RocksDB update.

[2017-11-09 14:20] vivekmenezes commented on #19735
This probably this issue:

https://github.com/cockroachdb/cockroach/issues/19925

[2017-11-09 14:23] tschottdorf opened #19940 "sql: background lease renewal for tableID=55 tableName=“blocks” failed: descriptor not found"
During a nightly blockwriter load test.

https://teamcity.cockroachdb.com/viewLog.html?buildId=403237&buildTypeId=C_BW_4Nodes_6Hours&tab=buildResultsDiv#

The first, third and fourth nodes post this in a busy loop:

[code]

the third node has no such flurry of errors, but instead

[code]

Additionally, two of the four block writers spam

[code]

[2017-11-09 14:24] tschottdorf commented on #19940
@vivekmenezes for triage, this seems pretty serious.

[2017-11-09 15:27] vivekmenezes commented on #19940
```E171109 11:19:51.962846 206 sql/jobs/registry.go:154  error while adopting jobs: database "system" does not exist```

doesn't look very good

[2017-11-09 15:31] a-robinson commented on #19635
Another data point: 2 out of 3 nodes OOM'ed when trying to run an SF-100 IMPORT on 3 n1-highmem-8 instances, which have 8 cores and 52GB of memory each.

[2017-11-09 15:35] vivekmenezes commented on #19940
assigning to @nvanbenschoten who is likely to be investigating a similar issue on the PM cluster

[2017-11-09 15:52] dianasaur323 commented on #19746
@nvanbenschoten so I mis-followed your instructions and did a restore instead of a dump, so I think that's where the range is coming from. that being said, the cluster now has worse issues. I'll come find you when you get in later.

[2017-11-09 16:00] solongordon opened #19942 "sql: Arrays store wrong encoding type for DATE"
When arrays are encoded, we store the elements' encoding type in the array header. We're currently storing the wrong type for DATE arrays: `encoding.Time` (see [sql/sqlbase/table.go#L1786](https://github.com/cockroachdb/cockroach/blob/e7dc8b27b344d33d1a591ac774ec97edbeedee71/pkg/sql/sqlbase/table.go#L1787)) rather than `encoding.Int` (see [sql/sqlbase/table.go#L1823](https://github.com/cockroachdb

[2017-11-09 16:03] knz commented on #19942
The kosher way to do this is to create a cluster migration function that looks at all the table schemas currently defined, and for each one that actually uses ARRAY[DATE] launch a column rewrite.

I would be surprised however if people have been storing date arrays already since 1.1 was launched. @bdarnell thoughts?

[2017-11-09 16:05] vivekmenezes commented on #19711
@korpa thanks for trying it out! I'm curious as to what performance numbers you saw and what you were expecting? We're working on improving performance significantly and it would be very valuable for us to hear your story. Your input is very much appreciated! Thanks

[2017-11-09 16:16] bdarnell commented on #19699
I don't think it's unreasonable to require sysctl or similar tweaks for heavily loaded servers. We already have to advise raising the default file descriptor limit and every database will have [a page of settings that may need to be tweaked](https://www.postgresql.org/docs/current/static/kernel-resources.html). Of course it's better if we can find a solution that doesn't require this, but that may

[2017-11-09 16:17] dianasaur323 commented on #19927
ah, that's interesting and makes sense. I'll keep this open for now in case we decide to error out for a non-root user, but bumping priority down to later.

[2017-11-09 16:21] dianasaur323 commented on #19904
Ok, I can spend the next week looking into this and report back

[2017-11-09 16:45] awoods187 commented on #15441
We are looking seriously at this for 1.3. Would love to hear more about what's necessary from a CRDB support perspective

[2017-11-09 16:48] bdarnell commented on #19942
I agree that date arrays don't seem like an especially likely thing, but do any of the metrics we collect tell us about whether people are doing this?

In any case, if we don't have any concrete plans to use these tags then we don't have to do anything right away - we could wait until we have a specific need before writing the implementation. (and in the meantime, we start writing the correct tag

[2017-11-09 16:49] awoods187 commented on #7841
@aitjcize we will not be including this in our upcoming April release. I'd love to hear more about your use case to understand your need for this feature. This will help prioritize for future roadmap inclusion

[2017-11-09 16:53] aitjcize commented on #7841
For our specific use case, we simply want to save as much query as possible. We are using `UPDATE table SET ... FROM table old_table WHERE ... RETURNING old_table.X` to return pre-update value after update.

[2017-11-09 17:54] dianasaur323 commented on #18592
I'm doing this again, and it seems like the natural fit for this would be in the jobs table, or perhaps a long-running queries table when we have it. Actually, maybe long-running queries is where we should put it. perhaps no to do for now.

[2017-11-09 18:26] couchand opened #19944 "ui: label axes with measure name"
After #19870, the byte axes are labeled with the measure name, with units in parentheses.  We should make all the other unit types consistent with this.

[2017-11-09 18:38] couchand opened #19945 "ui: reorganize cluster overview markup & styling"
After the changes in #19908, the markup and styling of the cluster overview are very ugly.  We should it up.

I think the strategy will be to go back to using flexbox for the horizontal layout, and specify precise pixel heights & offsets for the vertical layout.

[2017-11-09 18:42] dianasaur323 commented on #19263
should we cc @dt and @couchand and @benesch?

[2017-11-09 18:44] couchand commented on #19920
I can replicate this, but only when switching from one range to another.  Going to the range page from anywhere else loads fine.  Is that the same behavior you're seeing?

[2017-11-09 18:46] couchand commented on #18379
Closed in #19497.

[2017-11-09 18:46] #18379 closed

[2017-11-09 18:50] a-robinson commented on #19920
That's the behavior I've seen.

[2017-11-09 18:54] mjibson commented on #19635
Yikes, ok. Maybe we thought it was a node liveness problem but was really oom. Sorry we didn't do more testing of this :(

[2017-11-09 18:55] bdarnell commented on #15893
We're now running with subcritical skews. I don't think we really need to enable big skews or skews with network delays, so I'm closing this issue.

[2017-11-09 18:55] #15893 closed

[2017-11-09 18:55] BramGruneir commented on #19920
I can replicate it as well.  I'll try to track it down at some point.

[2017-11-09 18:56] a-robinson commented on #19635
Node liveness is definitely also an issue. It's both :)

[2017-11-09 19:00] petermattis commented on #19920
Yep, that's the behavior I'm seeing.

[2017-11-09 19:04] nvanbenschoten commented on #19939
On the surface, this issue looks related to #19147, but I don't think it's actually the same. The crash was on the PM cluster, directly after a node was brought up from a consistency check failure. Unlike #19147, which is a timing issue, this crash continued every time the node was restarted. The cluster has since been wiped, so it's tough to do any further investigation, but I think it's safe to

[2017-11-09 19:05] benesch commented on #19263
Ack, happy to take this on if no one else gets to it first.

[2017-11-09 19:05] petermattis commented on #19699
Agreed. I wasn't aware we were doing this.

[2017-11-09 19:05] tschottdorf opened #19947 "stability: consistency anomalies after RocksDB upgrade"
We're seeing a lot of consistency violations on various clusters since RocksDB has been upgraded. For example, #19906 #19940 #19939 and a bunch of nightly failures are suspected to have this as a root cause.

From what I've seen, the consistency checker always finds that some replicas are missing big chunks of keyspace.

We should roll back the RocksDB upgrade to verify that this restores sanity,

[2017-11-09 19:07] nvanbenschoten commented on #19939
I'm going to close this for now, but will reopen if we see this in isolation without an associated consistency check failure.

[2017-11-09 19:07] #19939 closed

[2017-11-09 19:54] cody-yancey commented on #19797
The admin UI is actually on a random mesos port in my cluster, but it looks more or less the same on every node. No unavailable ranges.
![screen shot 2017-11-09 at 12 51 52 pm](https://user-images.githubusercontent.com/13629273/32626564-eb3f15e2-c54c-11e7-84fa-76bd91e13753.png)

[2017-11-09 19:57] cody-yancey commented on #19797
Another thing that I don't really understand, and this might be a potential clue, is that the replicas per node count keeps going up, long after writes have completely stopped.
![screen shot 2017-11-09 at 12 55 10 pm](https://user-images.githubusercontent.com/13629273/32626771-7be8f680-c54d-11e7-9051-412630b7ad77.png)

[2017-11-09 20:36] asubiotto opened #19951 "distsql: query hung after cancellation"
Ran a long-running read query (i.e. `SELECT * FROM tpch.lineitem ORDER BY l_extendedprice`) on a two-node cluster and canceled. The query has been hung and an initial glance seems to indicate that the [noop processor](https://cockroachdb.github.io/distsqlplan/decode.html?eJzUkUFLw0AQhe_-CpmrI3SStGpOc-2llepNcojZoSykmbC7AaX0v0uyh9rSxApePO7MfO899u2hUSOrcice8jcgQEigQGidVuK9un4cj5bmA_IZgm3aLvTjAqFSJ5Dv

[2017-11-09 20:41] asubiotto commented on #19797
@cody-yancey I was able to reproduce a hung query after cancel and filed this issue to keep track of it: #19951

I'm not sure if the cause is the same though, so would you mind sharing a goroutine dump of the gateway node? (that would be node 12). You can access this by going to your admin ui and adding `/debug` to your address bar, then clicking on `All goroutines`.

In general, however, it seems

[2017-11-09 21:04] a-robinson opened #19954 "cloud: Use init command in Kubernetes configs"

[2017-11-09 21:22] dt commented on #19357
Fixed in #19865

[2017-11-09 21:22] #19357 closed

[2017-11-09 21:28] bdarnell commented on #19708
The GRPC updates in #19619 have changed the way errors are being reported here in some cases (several of the assertions in TestRequestDidNotStart are failing, both that we get an error that passes RequestDidNotStart when we didn't expect to and that we didn't get one when we should). Note that even though this has been failing every night since those changes went in, it takes a 10+ minutes to repr

[2017-11-09 22:16] dt commented on #19887
yeah, my suggestion is SQL syntax on both the BACKUP and RESTORE option.

[2017-11-09 22:39] dianasaur323 opened #19957 "ui: remove cluster summary from metrics page"
With the new cluster overview, we can remove the redundant cluster summary.

[2017-11-09 22:40] dianasaur323 commented on #19643
Just a note that we should fix this before "shipping" the cluster overview. We also want to make sure to update the side navigation titles.

[2017-11-09 22:56] cockroach-teamcity opened #19959 "teamcity: failed tests on master: Examples-ORMs/TestSQLAlchemy, Examples-ORMs/TestSQLAlchemy/FirstRun, Examples-ORMs/TestSQLAlchemy/SecondRun, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products"
The following tests appear to have failed:

[#404216](https://teamcity.cockroachdb.com/viewLog.html?buildId=404216):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-09 23:14] jordanlewis commented on #19959
#19814

[2017-11-09 23:14] #19959 closed

[2017-11-09 23:14] jordanlewis commented on #19892
#18854

[2017-11-09 23:14] #19892 closed

[2017-11-09 23:14] jordanlewis commented on #19896
#18854

[2017-11-09 23:14] #19896 closed

[2017-11-09 23:14] jordanlewis commented on #19898
#18854

[2017-11-09 23:14] #19898 closed

[2017-11-09 23:14] jordanlewis commented on #19917
#18854

[2017-11-09 23:14] #19917 closed

[2017-11-10 01:36] tschottdorf commented on #17611
Small update: I have a script ready that can create geo-partitioned clusters on DigitalOcean. Since I won't be looking until next week anyway, I'll not create a cluster just yet, though.

[2017-11-10 03:32] #19735 closed

[2017-11-10 08:08] cockroach-teamcity commented on #18288
SHA: https://github.com/cockroachdb/cockroach/commits/93b6827575a8cab4790106fc0851ec03d06ff190

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=404436&tab=buildLog

[2017-11-10 08:08] cockroach-teamcity commented on #18972
SHA: https://github.com/cockroachdb/cockroach/commits/93b6827575a8cab4790106fc0851ec03d06ff190

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=404436&tab=buildLog

[2017-11-10 08:45] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/93b6827575a8cab4790106fc0851ec03d06ff190

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=404483&tab=buildLog

[2017-11-10 09:58] cockroach-teamcity opened #19962 "storage: TestReplicateAfterRemoveAndSplit failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/93b6827575a8cab4790106fc0851ec03d06ff190

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=404589&tab=buildLog

[code]

[2017-11-10 10:44] knz commented on #19640
I think this has been fixed in  #19683?

[2017-11-10 11:32] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/93b6827575a8cab4790106fc0851ec03d06ff190

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=404763&tab=buildLog

[2017-11-10 12:52] #19640 closed

[2017-11-10 14:47] bsnyder788 commented on #19911
I will try to tackle this one this morning!

[2017-11-10 14:54] a-robinson commented on #19962
Without looking at what the line numbers correspond to, seems likely to be related to https://github.com/cockroachdb/cockroach/pull/19353

[2017-11-10 15:25] tschottdorf commented on #18955
Sorry to ping this, but I'm still worried that we've accidentally introduced a backward-incompatible change, and apart from @knz's appreciated volunteer digging nothing has happened.

@bdarnell, wdyt?

[2017-11-10 16:05] solongordon opened #19965 "sql: Extra string allocations in EXTRACT handling"
See discussion at https://reviewable.io/reviews/cockroachdb/cockroach/19923#-KyS_gHiEzAfKPa0fg4X:-Ky_Yc13IQxe498kphDh:b708j2.

In our handling for the `extract` built-in, we do string normalization on the precision argument. @justinj and @knz pointed out that there are some unnecessary string allocations here which could be reduced.

Also applies to `extract_duration` and `date_trunc`.

[2017-11-10 16:18] danhhz opened #19967 "sqlccl: option to skip header line in IMPORT CSV"
It's common for csv files to have an initial header line. In https://forum.cockroachlabs.com/t/import-csv-does-not-work-with-minio-s3-store/1083/4, one of our users mentioned they they had to manually remove the first line of all their csv files before IMPORT because the tool they'd used to export had included it. We could add a `WITH` option to ignore the first row

[2017-11-10 16:56] vivekmenezes commented on #18955
I think this is worth fixing so that at a minimum we learn something. I'll
take a look at it over the weekend

On Fri, Nov 10, 2017, 10:26 AM Tobias Schottdorf <notifications@github.com>
wrote:

[2017-11-10 17:10] danhhz opened #19968 "sqlccl: possible memory blowup in IMPORT CSV"
In https://forum.cockroachlabs.com/t/one-node-is-dead-agter-import-csv-into-cockroachdb-cluster, a user imported around 70GB of csv data into a new 3 node cluster. The nodes were run with `--cache=25% --max-sql-memory=25%`. The data was tpcc and generated by `benchmarksql`. No other load was on the cluster. During this process, one of the nodes died with

[code]

The user has been unblocked by usi

[2017-11-10 17:20] #19911 closed

[2017-11-10 17:23] a-robinson opened #19969 "cloud: Secure Kubernetes instructions for minikube not working"
Running with minikube version `v0.23.0`, our existing instructions for running secure CockroachDB aren't working. The issue is in the certificate signing phase -- the certificate signer isn't signing the approved CSR for `default.node.cockroachdb-0`.

I started a cluster using
[code]
as told to in the instructions: https://github.com/cockroachdb/cockroach/tree/master/cloud/kubernetes#secure-mode-1

[2017-11-10 17:32] a-robinson commented on #19969
The config still works on GKE, so it's almost certainly a minikube configuration issue.

[2017-11-10 18:22] danhhz commented on #19932
Can you also include the output of `https://your-node:8080/debug/pprof/profile?seconds=30`, please? It will sample cpu profiling information for 30 seconds and then return it, so be patient. If you fetch it from anything other than localhost, I think you need to also `SET CLUSTER SETTING server.remote_debugging.mode="any";`

[2017-11-10 19:15] debraj-manna commented on #19932
@danhhz - Please find attached the output of
[code]
[pprof.txt](https://github.com/cockroachdb/cockroach/files/1462451/pprof.txt)

[2017-11-10 20:00] justinj opened #19978 "sql: implement JSON{,B}_{OBJECT,}_AGG"
I think this would be an ambitious, but doable first issue.

There's a handful of things that need to happen for this:

* We need a public interface from pkg/util/json to incrementally construct a
  JSON object/array. In the case of objects, since their keys need to be
  sorted, we would want to do something like push the new keys into a priority
  queue (the Go stdlib has a heap implementation).

[2017-11-10 20:37] #19263 closed

[2017-11-10 20:40] m-schneider commented on #19962
Looks like it, taking a look.

On Fri, Nov 10, 2017 at 9:54 AM, Alex Robinson <notifications@github.com>
wrote:

[2017-11-10 23:26] danhhz commented on #19932
Poking around in `go tool pprof`, it seems you're spending almost all of your cpu time in doing reverse seeks and reverse iteration in rocksdb (which we use as our disk format). Because of the way rocksdb works, forward iteration is much faster. Are you by chance doing a lot of `ORDER BY DESC` queries on an index encoding `ASC` or vice versa? If so, that's probably it; perhaps you tweak your index

[2017-11-10 23:38] tbg opened #19984 "cluster: track clusters that "forgot" `SET CLUSTER SETTING version=x`"
I don't think we have a way of tracking clusters for which the operator did not execute the actual version bump after restarting all nodes into the new binary.

[2017-11-10 23:38] tschottdorf commented on #19984
(and I also don't think we have "nudges" in the ui/logs that alert the user to that fact).

[2017-11-10 23:39] tschottdorf opened #19985 "storage: zone configs lack expressivity"
The zone configuration format makes certain configurations difficult and/or brittle. This is an umbrella issue to collect them.

1. two datacenters A and B, want two replicas in A and a third in B. I think this can be achieved by giving the nodes in A `--locality dc=a,hash=<random thing>` and the nodes in `B` `--locality=b`. It also seems that it would break if `B` got anything added to their loca

[2017-11-10 23:39] tschottdorf commented on #19985
This is in stark contrast to the earlier zone config system we had in place, which would let you specify

[code]

[2017-11-10 23:43] tschottdorf commented on #19985
@danhhz assigning you to add anything else you can think of.

See also https://forum.cockroachlabs.com/t/specifying-number-of-replicas-per-data-center/1080/5.

[2017-11-10 23:47] tschottdorf commented on #19947
The upgrade has been rolled back and tentatively it's looking good so far. Assigning @mberhault to figure out what the problem is.

[2017-11-10 23:52] mberhault commented on #19947
uh. Thanks. I guess I can try to reproduce it so it happens reasonably quickly, then bisect rocksdb. Fun fun.

[2017-11-10 23:58] tschottdorf commented on #17611
@danhhz with the upcoming partitioning work, what do you think a reasonable distributed cluster topology looks like? I'm currently running a New York - San Francisco - Singapore - Bangalore - Frankfurt cluster (latencies below) but that seems a little crazy. I'm thinking that three localities are enough? For now I'm running N block writers which each write to their own table (simulating an N-fold

[2017-11-11 00:38] debraj-manna commented on #19932
Yes I have also seen that. We are not doing ORDER BY queries. In the log I
have shared I am seeing quite a few " node liveliness failure". Anything to
do with this or they are harmless?

Sent from GMail on Android

On Nov 11, 2017 4:57 AM, "Daniel Harrison" <notifications@github.com> wrote:

[2017-11-11 01:35] tschottdorf commented on #19947
Feel free to kick this elsewhere, but you seemed like the canonical entry point. I think I mentioned this before, but disabling range deletion tombstones and seeing whether that "fixes" the problem would be one thing to try. If that does fix it, we might be able to spot the offending commit. Otherwise, yeah, it'll be more annoying...

[2017-11-11 02:12] a-robinson commented on #19985
Related:
storage: rebalancing - updates to positive constraints https://github.com/cockroachdb/cockroach/issues/14163
storage: Diversity scores not working as intended in allocator https://github.com/cockroachdb/cockroach/issues/17479

[2017-11-11 04:20] tschottdorf commented on #19985
Thanks @a-robinson, should've known there's already something on this. I'll leave this open because well, I did search for the other issues and managed to miss them, and this way the chance of finding one of them in the future is higher.

[2017-11-11 04:38] tschottdorf commented on #17611
I don't understand why I see a zero flatline for local request optimization here:

![image](https://user-images.githubusercontent.com/5076964/32686287-34985888-c670-11e7-8805-356b62cfb4a6.png)

Running `kv` locally against a single-node cluster I see 100% optimized, and I'd expect to at least hit the optimization for a fraction.

[2017-11-11 05:02] tschottdorf commented on #17611
Ok, I know why.

[code]

Seems unfortunate that we're not comparing IP addresses here. Suppose I could fix this by using `--advertise-addr`, but quite unfortunate that this doesn't "just work".

[2017-11-11 05:08] tschottdorf commented on #17611
correction: it's already using `--advertise-host`, with `cockroach-celebes-0005.crdb.io`, so I'm confused why this doesn't work. The node also uses `cockroach-celebes-0005` in its start output.

I made this "work" by using `--host cockroach-celebes-0005.crdb.io` instead of `--advertise-host cockroach-celebes-0005.crdb.io` (and no `--host`). I'll file a separate issue about this, just happened to r

[2017-11-11 05:10] tschottdorf opened #19991 "kv: local server optimization is brittle"
In https://github.com/cockroachdb/cockroach/issues/17611, I realized that the local server optimization path was *never* taken. Investigating, I found that the nodes were running without `--host` but with `--advertise-host`. As a result, all outgoing RPCs were addressed to `<hostname>.crdb.io` (from `--advertise-host`) but the node identified itself with its default host flag, `<hostname>`. This w

[2017-11-11 05:10] tschottdorf commented on #19991
@cuongdo for triage.

[2017-11-11 05:59] cockroach-teamcity opened #19992 "teamcity: failed tests on master: testrace/TestReplicateAfterRemoveAndSplit"
The following tests appear to have failed:

[#405712](https://teamcity.cockroachdb.com/viewLog.html?buildId=405712):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-11 07:45] cockroach-teamcity commented on #19934
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=405788&tab=buildLog

[2017-11-11 07:45] cockroach-teamcity commented on #19935
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=405788&tab=buildLog

[2017-11-11 07:45] cockroach-teamcity commented on #19936
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=405788&tab=buildLog

[2017-11-11 08:34] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=405854&tab=buildLog

[2017-11-11 09:09] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=405897&tab=buildLog

[2017-11-11 09:09] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=405897&tab=buildLog

[2017-11-11 09:09] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=405897&tab=buildLog

[2017-11-11 09:56] cockroach-teamcity commented on #19962
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=405961&tab=buildLog

[2017-11-11 11:42] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/c3dcfe2883103317a16c266f5d6e2e0b310c5524

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406136&tab=buildLog

[2017-11-11 12:59] knz opened #19993 "Makefile: "@if [ -t 1 ]; then tput setaf ..." breaks make lint"
[code]

The problem is (I believe) that the last command in the if ... fi block fails (`tput sgr0` is not valid on this system). The following patch fixes:

[code]

[2017-11-11 13:48] cockroach-teamcity opened #19994 "teamcity: Jepsen tests fail due to ssh connect timeout"
The following tests appear to have failed:

[#405731](https://teamcity.cockroachdb.com/viewLog.html?buildId=405731):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-11 16:41] a-robinson commented on #19992
https://github.com/cockroachdb/cockroach/issues/19962

[2017-11-11 16:41] #19992 closed

[2017-11-11 16:58] benesch commented on #19993
Ha! Is this FreeBSD?

[2017-11-11 16:59] #19954 closed

[2017-11-11 20:39] tschottdorf commented on #19991
I think the code here should simply use `AdvertiseAddr` except for `Addr` (depending on what `AdvertiseAddr` is initialized to in the absence of `--advertise-host` (I'm assuming it equals `Addr` in that case)?

[code]

[2017-11-12 07:10] cockroach-teamcity commented on #19702
SHA: https://github.com/cockroachdb/cockroach/commits/985cea5d75e09633077c42d85f0208741251e121

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406698&tab=buildLog

[2017-11-12 07:10] cockroach-teamcity opened #19997 "ccl/sqlccl: TestRestoreAsOfSystemTime/ts6 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/985cea5d75e09633077c42d85f0208741251e121

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406698&tab=buildLog

[code]

[2017-11-12 08:35] debraj-manna commented on #19932
@danhhz - There is one such query I have fixed it. But I am still seeing high cpu usage

<img width="1430" alt="screen shot 2017-11-12 at 1 49 30 pm" src="https://user-images.githubusercontent.com/8141860/32697165-ba788522-c7b0-11e7-8826-a6a0bffb78cb.png">

I have restarted cockroach with `--vmodule=executor=2,session=2` to dump the queries. Please find attached cockroach logs and one more pprof t

[2017-11-12 08:46] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/985cea5d75e09633077c42d85f0208741251e121

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406516&tab=buildLog

[2017-11-12 09:15] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/985cea5d75e09633077c42d85f0208741251e121

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406559&tab=buildLog

[2017-11-12 09:15] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/985cea5d75e09633077c42d85f0208741251e121

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406559&tab=buildLog

[2017-11-12 09:15] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/985cea5d75e09633077c42d85f0208741251e121

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406559&tab=buildLog

[2017-11-12 10:08] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/985cea5d75e09633077c42d85f0208741251e121

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406661&tab=buildLog

[2017-11-12 11:36] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/985cea5d75e09633077c42d85f0208741251e121

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=406806&tab=buildLog

[2017-11-12 22:50] bladefist commented on #15441
@awoods187 punting this to 1.3 is extremely disappointing.  Major mistake in my opinion.

https://forum.cockroachlabs.com/t/cockroachdb-feature-request-gui-for-rdbms/266/26

Lots of people are having issues w/ this.

[2017-11-13 00:08] viktortnk opened #20000 "Cockroach server crashes on certain UPSERT"
**BUG REPORT**

1.
Cockroach version: 1.1.2
Issues happens with all variants: insecure single node, secure cluster

2.
I have following table definition:
[code]
then when I run query like below, server crashes. In cluster scenario, it crashes single node, while remaining keep operating. I see nothing in the logs.
[code]

[2017-11-13 00:12] viktortnk commented on #20000
Looks like the reason is the index definition on nullable column

[2017-11-13 00:59] vivekmenezes commented on #20000
Wow! very easily reproducible. Thanks for reporting it

[2017-11-13 08:19] cockroach-teamcity commented on #19820
SHA: https://github.com/cockroachdb/cockroach/commits/82419c24cb7aaa2556477ca2ecc2a3ffa7e6a3f3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=407082&tab=buildLog

[2017-11-13 09:08] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/82419c24cb7aaa2556477ca2ecc2a3ffa7e6a3f3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=407159&tab=buildLog

[2017-11-13 09:08] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/82419c24cb7aaa2556477ca2ecc2a3ffa7e6a3f3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=407159&tab=buildLog

[2017-11-13 09:08] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/82419c24cb7aaa2556477ca2ecc2a3ffa7e6a3f3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=407159&tab=buildLog

[2017-11-13 09:43] gpaul opened #20003 "Version mismatch errors during cluster upgrade"
Is this a question, feature request, or bug report?

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply the output of `cock

[2017-11-13 09:51] cockroach-teamcity commented on #19962
SHA: https://github.com/cockroachdb/cockroach/commits/82419c24cb7aaa2556477ca2ecc2a3ffa7e6a3f3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=407227&tab=buildLog

[2017-11-13 10:10] JYKeith123 commented on #19903
Also not working on Windows 10 (firfox v.56.0.2 64bit). Firfox stops when I enter 'View nodes list' page.

[2017-11-13 11:28] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/82419c24cb7aaa2556477ca2ecc2a3ffa7e6a3f3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=407406&tab=buildLog

[2017-11-13 14:13] #19993 closed

[2017-11-13 14:14] a-robinson commented on #19991
Yeah, I think switching that method to use `AdvertiseAddr` would do the trick. We do set `AdvertiseAddr` to the same as `Addr` in the absence of `--advertise-host`, and `AdvertiseAddr` is always the address we advertise as associated with the node (as you would expect given the name).

Good find!

[2017-11-13 14:17] a-robinson commented on #20003
Thanks for the report, @gpaul! Assigning to @andreimatei who should know more about this.

[2017-11-13 14:20] #19440 closed

[2017-11-13 15:18] cockroach-teamcity opened #20005 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2, Jepsen/Jepsen: JepsenMonotonic: JepsenMonotonic/majority-ring+subcritical-skews"
The following tests appear to have failed:

[#406989](https://teamcity.cockroachdb.com/viewLog.html?buildId=406989):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-13 16:20] couchand opened #20007 "sql: panic when client application is terminated"
From the forum: https://forum.cockroachlabs.com/t/node-often-throw-panic-and-stop-when-i-force-to-terminate-my-application/1114

When I kill the process of my application which is connected Cockroach DB, a node dies.
Not always but often.
Only one thread of one computer is accessing the DB.
DB logs of the node are:

    gossip client (1/3 cur/max conns)
    3: 192.168.1.128:26253 (12m0s: infos 589

[2017-11-13 16:21] couchand commented on #20007
Sentry report from this crash: https://sentry.io/cockroach-labs/cockroachdb/issues/403616228/

[2017-11-13 16:25] bdarnell commented on #18955
Hmm, this is subtle. It's reasonable that creating a table that uses features of the new release (like the UUID type) makes it impossible to downgrade. But here, it's not really a feature; it's the change to the way we handle non-lowercase table names. In retrospect, this change probably needed to be gated behind the cluster version (should we go back and change it now? Probably not; that just add

[2017-11-13 16:31] cockroach-teamcity opened #20008 "teamcity: failed tests on master: testrace/Example_cclzone, test/Example_cclzone"
The following tests appear to have failed:

[#407618](https://teamcity.cockroachdb.com/viewLog.html?buildId=407618):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-13 16:48] couchand commented on #19643
Ok, I'm taking ownership of this issue, I'll implement the route structure in my last comment and update the side navigation, then close this.

@dianasaur323 maybe you want to take note of some of the less actionable discussion here to transfer to other relevant issues (like the Cluster Viz/CCL/licensing/etc)?

[2017-11-13 16:53] jordanlewis commented on #19962
Hitting this pretty often in CI, FYI - another reproduction here: https://teamcity.cockroachdb.com/viewLog.html?buildId=407580&tab=buildResultsDiv&buildTypeId=Cockroach_UnitTests_Testrace

[2017-11-13 16:54] a-robinson commented on #19016
Weird, this may be some sort of memory corruption. The most recent failure was due to `unexpected fault address 0xc4201ce060`, which isn't a normal segfault:

[code]

I wasn't able to reproduce in 30 minutes of running `stressrace -p 16` on a gecworker this morning.

[2017-11-13 16:58] dianasaur323 commented on #19643
I think we can use this issue to track the CCL stuff: https://github.com/cockroachdb/cockroach/issues/19759. Added in some additional context from the comments.

[2017-11-13 17:08] tschottdorf commented on #20007
https://sentry.io/cockroach-labs/cockroachdb/issues/403534037/

[2017-11-13 17:23] cockroach-teamcity opened #20012 "teamcity: failed tests on master: testrace/Example_cclzone, test/Example_cclzone"
The following tests appear to have failed:

[#407700](https://teamcity.cockroachdb.com/viewLog.html?buildId=407700):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-13 17:42] bdarnell commented on #19994
These are all ssh timeouts (the first we've captured since adding `-v` to our final `scp` command in #19875)

[code]

The `subcritical-skews` nemesis does a lot of `ssh` commands internally, and the first few failures are hitting those commands and killing only that test. Then in `JepsenSequential/subcritical-skews+start-kill-2`, we hit this error in one of the final post-test `scp` commands, whic

[2017-11-13 17:43] danhhz opened #20014 "stability: 30-day timeseries view needs 3GB ram"
While attempting to bless the release scheduled to go out today, adriatic node 5 OOM'd. The last message in the logs from server/status/runtime.go:219:

[code]

oom killer:
[code]

When I brought the node back up, it happened again:
[code]

[code]

It was running the normal kv load generator. Nothing had changed in a while except that I was clicking around the admin ui graphs (and loading the ones

[2017-11-13 17:44] danhhz commented on #20014
I'm a little out of my depth here, @bdarnell can you look at this or reassign it to someone who can?

[2017-11-13 17:44] bdarnell commented on #20005
Duplicate of #19994

[2017-11-13 17:44] #20005 closed

[2017-11-13 17:50] lego commented on #19238
I notice you've since moved bincheck to the cockroachdb org and removed the manual check notes from the release process. Seems like this should be closed?

I do think we should create an issue to improve bincheck, for example do the cluster version check @tschottdorf  mentioned.

[2017-11-13 17:58] #20008 closed

[2017-11-13 17:58] #20012 closed

[2017-11-13 17:58] bdarnell commented on #20014
The "disagreement" is easy to explain: the runtime.go logging is a sample once every 10 seconds; the OOM killer sees the actual values at the time of the kill. That just means that whatever ate up all the memory grew very quickly.

Retitled to reflect that the problem is something consuming gigabytes of ram in a few seconds instead of a monitoring issue.

[2017-11-13 17:59] mberhault commented on #20014
The memstats are ~45s before the OOM.
Checking monitoring (polls every 10s), we can see a big climb in Go memory usage just before:
![go-mem](https://user-images.githubusercontent.com/5901480/32740915-7af53b76-c872-11e7-8094-aff3bae16a8e.png)

[2017-11-13 18:07] bdarnell commented on #20014
In the time between the last stats logging and the (second) OOM, the logs show that the node

- processed a number of preemptive snapshots (the largest was 32MB)
- had some slow rocksdb commits (719ms while applying a snapshot) and (probably related) slow handleRaftReady calls
- added about 20 replicas to the replica gc queue (peer suggestion)
- got some new range leases

Nothing really stands out

[2017-11-13 18:08] lego commented on #19221
Closing as the results were brought into https://github.com/cockroachdb/cockroach/pull/19327.

[2017-11-13 18:08] #19221 closed

[2017-11-13 18:12] jordanlewis commented on #19994
Oh I bet I know what this is. There's something called `sshguard` that was getting installed on clusters created with `roachprod` automatically by GCE which was causing new connections to hang sometimes. Once I killed `sshguard` the problem went away.

I believe @mberhault disabled `sshguard` on the `roachprod` instances - we probably need to do the same thing here.

[2017-11-13 18:19] benesch commented on #19238
I say we leave it open to track making TeamCity run bincheck automatically.

[2017-11-13 18:21] cockroach-teamcity opened #20016 "teamcity: failed tests on master: Examples-ORMs/TestSQLAlchemy, Examples-ORMs/TestSQLAlchemy/FirstRun, Examples-ORMs/TestSQLAlchemy/SecondRun, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Examples-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products"
The following tests appear to have failed:

[#407799](https://teamcity.cockroachdb.com/viewLog.html?buildId=407799):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-13 18:23] danhhz opened #20017 "sqlccl: http export storage is too restrictive in what codes mean success"
There is an explicit check for `if resp.StatusCode != 200 {`, but 200 is not the only status code that means success. This request is from one of our customers.

[2017-11-13 18:32] dianasaur323 opened #20018 "node keeps dying in a 4 node cluster"
I'm running on the most recent master branch in the PM cluster. The SF node keeps turning off and on, and I'm not sure why. Here are the logs right before the process gets killed:
[code]

[2017-11-13 18:52] bdarnell commented on #20014
![image](https://user-images.githubusercontent.com/160562/32742993-115bdd1c-c879-11e7-9668-709ed33a0300.png)

Omega 4 had a similar burst of go memory usage, but didn't crash because it's running on a machine with more memory. Profiles from this time period have been deleted.

Since this happened at the same time @danhhz was poking around the UI, I suspect it's related to that. Maybe the 1-month U

[2017-11-13 18:59] mjibson commented on #20017
I need some more context here. What is the status code they are getting instead? Which http server was this running against? Which operation (read/write/head/delete) was this?

[2017-11-13 19:02] kaavee315 commented on #20017
I was running on nginx server with the configuration as suggested here https://www.cockroachlabs.com/docs/stable/create-a-file-server.html#using-nginx-as-a-file-server
nginx sends statusCode `201` and `204` on success of `PUT` request, which is not being handled correctly

[2017-11-13 19:03] bdarnell commented on #20014
Assigning to @mrtracy as the expert on our timeseries subsystem. Ideally timeseries data should be subject to some sort of memory monitoring/limiting (like we do with SQL memory usage). We could also reduce the number of time series fetched per request from the UI, or just remove the 30-day option as a quick fix.

[2017-11-13 19:08] #19991 closed

[2017-11-13 19:16] mjibson commented on #20017
Great, thanks. Will fix.

[2017-11-13 19:24] #19962 closed

[2017-11-13 19:27] cockroach-teamcity opened #20020 "teamcity: failed tests on v1.2-alpha.20171113:"
The following tests appear to have failed:

[#408016](https://teamcity.cockroachdb.com/viewLog.html?buildId=408016):

[code]
Please assign, take a look and update the issue accordingly.

[2017-11-13 19:36] benesch commented on #14615
The latest Yarn flakiness:

[code]

[2017-11-13 19:37] jordanlewis commented on #20016
#16715

[2017-11-13 19:37] #20016 closed

[2017-11-13 19:38] #19814 closed

[2017-11-13 19:45] danhhz commented on #20020
network failure during build

[2017-11-13 19:45] #20020 closed

[2017-11-13 20:03] couchand opened #20021 "ui: show "ghost" time series for context"
@bdarnell suggested that the most useful view for the time series charts would show the past 24 hours along with the same time period from the previous week.  @danhhz confirmed that this has been valuable for him in the past as well.

This seems like a good way to add more helpful context to the chart.  There are a few questions about how to generalize the principle as the user changes time scales

[2017-11-13 20:04] cockroach-teamcity opened #20022 "teamcity: failed tests on master: testrace/TestImportStmt, testrace/TestImportStmt/schema-in-file-intodb"
The following tests appear to have failed:

[#408123](https://teamcity.cockroachdb.com/viewLog.html?buildId=408123):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-13 20:05] cuongdo commented on #20021
This would've been useful for the databases I've administered in the past.

[2017-11-13 20:31] andreimatei commented on #19876
Umm I think if we are to do this, we might as well remove snapshot isolation and always use serializable... Wouldn't you say? cc @lego who I believe is doing some constraint checking tools.

Yeah... How about I go ahead and remove this `RetryOnPush` field?

[2017-11-13 20:35] tschottdorf commented on #19876
I don't think we should make any changes to how `SNAPSHOT` works at this point as it's not a priority and I don't think we should be allowing more anomalies in such an ad-hoc way.

[2017-11-13 20:42] andreimatei commented on #19876
But remember how this discussion started - as it stands, the SNAPSHOT isolation is useless as it gets upgraded too easily. And as Ben noted, "more anomalies" may count instances of anomalies, but not categories.

[2017-11-13 20:51] tschottdorf commented on #19876
all I'm saying is that I don't see a good reason to make what could be a pretty impactful change. Why don't you just upgrade SNAPSHOT to SERIALIZABLE instead? It's not clear to me which one is better though obviously I have a different favorite than you do. We don't understand snapshot isolation very well let alone its interplay with serializable, and so I would err on the side of caution and, in

[2017-11-13 20:55] andreimatei commented on #19876
Well, a user is complaining that their expectations about SNAPSHOT (which we told them to use to avoid so many retries) were not met, and I happen to agree with them. So there's that for "priority".
And I guess I also question the "impactful change". I would imagine that, were I to do this change, there'd be no impact whatsoever and this will quickly subside from our minds. Modulo that constraint

[2017-11-13 20:58] rytaft commented on #6583
As described in PR #19577, we've decided to postpone implementing this feature.  I've unassigned myself from this issue.

[2017-11-13 21:05] #16490 closed

[2017-11-13 21:06] jordanlewis commented on #16490
🎉

[2017-11-13 21:26] tschottdorf commented on #19876
And it seems that after this discussion, we may well want to advise that
user to stay away from SNAPSHOT. Either way, I don't have anything to add
here, so if @bdarnell is gung ho, then so be it.

-- Tobias

[2017-11-13 21:30] bdarnell commented on #20021
There are two parts to my suggestion: default to 24h, and show a one-week-old "ghost". The former is debatable (for a new cluster it's nice to get a more closely-zoomed view) and should at least be configurable, but I've found that no matter what time scale I look at the week-ago view is a helpful point of comparison.

The biggest drawback to this is that it doubles the number of lines on the grap

[2017-11-13 21:43] andreimatei commented on #19876
I'm also interested in what @bdarnell has to say.
But I also want to make one more personal note: the simple thing to do here is, in my opinion, getting rid of `RetryOnPush` rather than doing nothing. That gives us a simpler codebase and product. And also a more... consistent product in the common use of the word - similar anomalies will consistently be possible, rather than the behavior differing

[2017-11-13 21:49] danhhz opened #20026 "release v1.2-alpha.20171120"
Candidate SHA: ab5c4ecf070d137d0e8671a7de6d53dc76dbb39a.
Deployment status: adriatic, omega.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `2017-11-14`
- [X] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] [Deploy to test clusters](https://github.com/cockroachdb/cock

[2017-11-13 21:58] dianasaur323 commented on #20021
@bdarnell We can have design mock up some views that make the number of lines more consumable. That being said, I don't think this is going to make it into 1.2. Marking it for 1.3 for now, unless there is significant pushback, in which case we would have to drop something from the current development plan.

[2017-11-13 22:02] tschottdorf commented on #18813
Closing since @benesch has since worked on the logging mutexes.

[2017-11-13 22:02] #18813 closed

[2017-11-13 22:21] andreimatei opened #20029 "cli/conn: cockroach sql stalls if trying to connect to the UI port"
Trying to connect to the admin UI port (instead of the pgwire port) just blocks the client instead of saying anything. I really hope there's something better we can do.

@vivekmenezes how do we go about triaging cli bugs? :S

[code]

[2017-11-13 22:48] bdarnell commented on #19876
I think removing `RetryOnPush` at this point is a bad idea. If we decide to do implicit isolation upgrades in more places (one of the options from [this comment](https://github.com/cockroachdb/cockroach/issues/19876#issuecomment-342951971)), `RetryOnPush` may be the way we do it. Removing this field is a risk with no benefit.

I disagree that this makes SNAPSHOT useless. Most transactions don't in

[2017-11-13 22:53] andreimatei commented on #19876
Mostly fair enough. But then, wouldn't it follow that we should set `RetryOnPush` on every (range)scan? IOW, is doing it just on `DelRange` defensible at all?

[2017-11-13 23:10] bdarnell commented on #19876
Setting RetryOnPush on every scan really would be tantamount to removing SNAPSHOT. If we believe that would be necessary, we should just remove SNAPSHOT instead.

I think that removing the assignment to RetryOnPush in evalDeleteRange might be a reasonable idea, except for the fact that it's a change to reduce consistency in a poorly-understood mode of operation and we should let the status quo rem

[2017-11-13 23:40] andreimatei opened #20032 "tracing: something's funky with the collection of traces on errors"
It would appear that a remote trace is not collected for SHOW TRACE FOR when a leaseholder redirect error is returned by a node. Two traces below: one when the redirect is generated by the local node, one when the redirect is generated by a remote node. Notice that in the latter case, there's no entry for the remote node. Perhaps there's something about collecting traces and returning errors at th

[2017-11-14 00:12] rytaft commented on #19676
PR #19650 was reverted with PR #20024.  It was decided that `SELECT FOR UPDATE` support would be postponed in PR #19577. Closing this issue.

[2017-11-14 00:12] #19676 closed

[2017-11-14 02:07] debraj-manna commented on #19932
@danhhz - Any thoughts?

[2017-11-14 03:08] vivekmenezes commented on #16490
@couchand you have been randomly picked to QA this feature. QA is an independent evaluation of the feature through the eyes of a user. It's probably best that you do not interview the developers involved in creating this feature, nor look at the implementation. Thanks!

[2017-11-14 03:17] vivekmenezes commented on #20018
Is this still an issue?

[2017-11-14 03:43] cockroach-teamcity opened #20033 "teamcity: failed tests on 20019: Jepsen/Jepsen: JepsenBank: JepsenBank/split, Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2, Jepsen/Jepsen: JepsenSets: JepsenSets/subcritical-skews+start-kill-2"
The following tests appear to have failed:

[#408054](https://teamcity.cockroachdb.com/viewLog.html?buildId=408054):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-14 06:51] nvanbenschoten commented on #19940
Unless we see this again, I think it's safe to say that this was an artifact of https://github.com/cockroachdb/cockroach/issues/19947. As we saw in that issue, replicas seemed to be missing large chunks of their keyspace, which could materialize in missing table descriptors. I'm going to close for now, but will reopen if we see this in isolation without the associated consistency check failures.

[2017-11-14 06:51] #19940 closed

[2017-11-14 08:26] cockroach-teamcity commented on #19820
SHA: https://github.com/cockroachdb/cockroach/commits/10da44c9361d2f905cdf1ff2a7eacf8b4550e581

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=408687&tab=buildLog

[2017-11-14 09:11] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/10da44c9361d2f905cdf1ff2a7eacf8b4550e581

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=408765&tab=buildLog

[2017-11-14 09:11] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/10da44c9361d2f905cdf1ff2a7eacf8b4550e581

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=408765&tab=buildLog

[2017-11-14 09:11] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/10da44c9361d2f905cdf1ff2a7eacf8b4550e581

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=408765&tab=buildLog

[2017-11-14 09:21] gpaul commented on #18955
Related https://github.com/cockroachdb/cockroach/issues/20003

[2017-11-14 11:57] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/10da44c9361d2f905cdf1ff2a7eacf8b4550e581

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=409015&tab=buildLog

[2017-11-14 12:02] knz opened #20035 "sql: incorrect span generation"
Table schema:

[code]

Query:

[code]

This query produces the following plan:

[code]

This is incorrect, because the spans here restrict the results to only `ts3`. There should be 3 spans instead.

@RaduBerinde can you have a look?

[2017-11-14 12:18] knz commented on #18955
@bdarnell I think I must retract my analysis that looks at the casing of identifiers. As I wrote in my later comment, that's not a new thing with 1.1.

[2017-11-14 12:18] knz commented on #20003
cc @vivekmenezes related to #18955.

[2017-11-14 14:41] tschottdorf commented on #18955
@knz there was definitely some problem with casing between 1.0 and 1.1, for when I updated the registration cluster from 1.0.6 to 1.1 I experienced problems related to the fact that in 1.0 you can address a `camelCaseColumn` via `camelcasecolumn` and in 1.1 you can't. Not sure that's related to the issue at hand, though.

[2017-11-14 14:52] #19237 closed

[2017-11-14 15:01] RaduBerinde commented on #20035
I believe the root cause is here:
https://github.com/cockroachdb/cockroach/blob/10da44c9361d2f905cdf1ff2a7eacf8b4550e581/pkg/sql/index_selection.go#L993

We are reusing `s.start/s.end` and appending to them for each `IN` value; but if these slices have some extra capacity, we are actually overwriting results from the previous value.

[2017-11-14 15:04] mberhault commented on #19947
I'm trying to reproduce this.

I started with a 5 node ephemeral cluster running in insecure mode with envs:
[code]

The 1m is probably a problem, that's too aggressive.

Each node has `kv --concurrency 64 --tolerate-errors --min-block-bytes=8 --max-block-bytes=128 --read-percent=50 --splits=1000` running against it (localhost)

Within minutes, the first node OOMs, then OOMs upon restart every tim

[2017-11-14 15:17] mberhault commented on #19947
Ok, trying again with the 1h consistency check, I get two nodes crashing with:
[code]
In less than 10 minutes. Will keep trying to see if it's semi-reliable.

[2017-11-14 15:24] cockroach-teamcity opened #20037 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank: JepsenBank/parts+start-kill-2, Jepsen/Jepsen: JepsenMonotonic: JepsenMonotonic/majority-ring"
The following tests appear to have failed:

[#408585](https://teamcity.cockroachdb.com/viewLog.html?buildId=408585):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-14 15:33] andreimatei commented on #20003
@gpaul is the error transient, or does it go away quickly after nodes 1 and 2 have been upgraded?

[2017-11-14 15:40] tschottdorf commented on #19947
Note that @richardwu claims to have seen the inconsistency on current `master`.

[2017-11-14 16:09] andreimatei opened #20039 "core: command reproposed many times after cluster restart"
Check out the following trace. A query took 22s because a lease acquisition proposal (I think) keeps getting retried three secs apart because of Raft seems unhappy.
I happened on a 3 node roachdemo; can't repro.

[code]

cc @nvanbenschoten

[2017-11-14 16:11] BramGruneir opened #20041 "sql: INSERT with self-referencing FK check issues"
When inserting in a self-referential table, you can't insert multiple values in a single statement if they rely on a value earlier in the statement.

[code]
[code]
[code]
[code]
But this works.
[code]

This is due to each individual insert statement using a single batch and batches can't read previous writes.
However, if we were to use a single batch per inserted element, it would drastically slow

[2017-11-14 16:13] danhhz commented on #19932
@couchand can you have someone look at this?

[2017-11-14 16:24] BramGruneir opened #20042 "sql: double self-referential tables creation issue"
So for some reason this doesn't work, but it should (works on Postgres):
[code]

But it will work if you add an index to `z`
[code]

This index should be implied in the creation of the reference.

[2017-11-14 16:24] BramGruneir commented on #20041
Oh, and to add to this, it does work on postgres.

[2017-11-14 16:38] bdarnell commented on #20037
The bank failure is another "silent for too long". The monotonic failure is a null pointer exception inside the java ssh client, so I think this is probably a duplicate of the other ssh issues (#19994)

[2017-11-14 16:38] #20037 closed

[2017-11-14 16:41] bdarnell commented on #20033
This was a PR build of #20019 which shows that sshguard wasn't the only problem. Two "silent too long" failures and a failure inside the java ssh client.

[2017-11-14 16:41] #20033 closed

[2017-11-14 17:06] gpaul commented on #20003
Quick update: it reproduces with a single 1.1.2 upgraded node while the remaining two nodes are still running 1.0.6.

[2017-11-14 17:10] gpaul commented on #20003
After upgrading a single node, the error happened once and then seemed to stop happening (similar queries started passing). After upgrading the second of three nodes the error immediately occurs again and keeps doing so.

I'll let it run for an hour and see if the issue resolves itself after some time. I'll report back.

[2017-11-14 17:35] BramGruneir opened #20045 "sql: can't delete from double self referencing table"
[code]
[code]
[code]
[code]

[code]
[code]

This should work, but it's looking up `NULL` as a value that is still referenced in y.

[2017-11-14 17:38] gpaul commented on #20003
It's been 30 minutes and the error is still occurring. I'm gaining confidence that this won't resolve itself.

[2017-11-14 17:51] #20035 closed

[2017-11-14 17:53] arjunravinarayan commented on #19932
@debraj-manna a full table scan query would explain the high CPU usage. Full table scans over cached data would show up as high CPU usage (since your dataset is small enough to be fully cached in memory), and the CPU is scanning over all the KVs continually.

One nit: the `EXPLAIN` you've attached does not scan over the primary index: the `@config_versions_by_version` suffix means this is a scan o

[2017-11-14 17:57] rjnn opened #20046 "sql: mixed type where condition doesn't constrain index"
Uncovered from #19932, consider the following two queries:

[code]

The explicit timestamp cast from the given integer constant prevents the planner from using the information. This also happens if we take the first form of the query and add an explicit cast:

[code]
In both cases we should be able to evaluate the given constant, using whatever special cased codepath we use to wrap the given bare