[2017-08-24 14:50] petermattis commented on #16266
This is what I'm running with: https://github.com/cockroachdb/cockroach/commit/f8762ceed1b6416c8f236bf27c4f976de6cd6a6e

Easy enough to add more.

[2017-08-24 14:58] tschottdorf commented on #16266
Perhaps a log line in `finishRaftApplication` itself would be helpful to make sure we haven't missed one (and to roughly see when the command queue removal happens). Other than that, this looks good.

[2017-08-24 14:59] petermattis commented on #16266
Ok. Looks like it is going to create ~500MB logs for each run.

[2017-08-24 15:17] tschottdorf commented on #17464
As of https://github.com/cockroachdb/cockroach/pull/17686, we do this for a few tests.

Open TODOs:

- [ ]: add support for InitModes and then run the Init tests against a LocalCluster instead of with Docker
- [ ]: add certs

[2017-08-24 15:20] bdarnell commented on #14220
In the 5 months since this issue was filed, no plan has emerged for doing anything smarter with contexts in tests (nor, as far as I've seen, has there been any need that might drive such a plan). `testing.T.Context()` did not appear in Go 1.9. Therefore, I'd like to propose that in order to put to rest questions like those in #17885, we do `s/context.TODO/context.Background/g` in all `*_test.go` f

[2017-08-24 15:52] andreimatei commented on #17836
dup of #17698

[2017-08-24 15:52] #17836 closed

[2017-08-24 15:57] #17795 closed

[2017-08-24 16:00] andreimatei commented on #17667
I don't think this has anything to do with those two bugs - that's about a retryable error, this is about the lack of a retryable error.

For this wrapping, I'd be in favor of wrapping retryable errors keeping the retryable character.
For the external cockroach-go lib, adding support for the pkg/errors package while that's not in the standard library seems arbitrary to me.

[2017-08-24 16:08] andreimatei commented on #14220
I maintain my opinion that the TODO in `context.TODO()` should be read to mean "put something here that's better than Background()". If the alternative is Background(), I thing `TODO()` is better (so I'd unify them the other way if you feel like unifying).

[2017-08-24 16:11] RaduBerinde commented on #17277
Andrei is handling this, PR #17497

[2017-08-24 16:41] bdarnell commented on #14220
But what's the "better than Background()" alternative that these TODOs are waiting for? It's silly to have a style rule that mandates the use of context.TODO in brand new code. And we don't really lose anything by switching to context.Background - when/if we decide on a better context strategy for tests, the choice of context we make today won't make any difference on how easy or hard that will be

[2017-08-24 16:46] benesch commented on #14220
Plus, the documentation for `Background()` does recommend it for use in tests:

[2017-08-24 16:47] andreimatei commented on #14220
Let me turn the question around - why is `Background()` the right context? The work done by the tests is very much foreground, not background. *Anything* is better than `Background()` for them.

[2017-08-24 16:49] benesch commented on #14220
`Background()` is just poorly named. When you create a context for an incoming request, you're using `Background()` to create a context for foreground work, no?

[2017-08-24 16:50] tschottdorf commented on #14220
My only contribution to what seems to me like a 🚲 🏚 is that we should just use `context.Background()` in all tests. `context.TODO()` is functionally identical, and whatever lofty plan we have in the future for our testing contexts is completely independent of the choice here. Reserving `context.TODO()` for use in production code that actually should have a real request context is more useful.

[2017-08-24 16:54] andreimatei commented on #14220
Exactly, you are *creating (deriving) a context*, you're not just using `Background()`.

I think `TODO()` is poorly named :)

To Tobi I'd say that reserving `Background()` for use by background server activity is the more useful thing.
Anyway, this is my last message on the topic. We can take a vote if I haven't impressed anyone :)

[2017-08-24 16:54] tschottdorf opened #17897 "restarting a freshly recommissioned node takes ~40s"
[code]

Apply the following diff:

[code]

Run `time go test -v -tags acceptance ./pkg/acceptance/ -run Decom`, pay attention to the last node boot message before the test passes.

I don't see why it takes so long. Should be easy to change the above diff so that it leaves the cluster running, and to enable tracing (before the node is restarted). That should give insights.

[2017-08-24 17:08] bdarnell commented on #17667
Yes, pkg/errors is arbitrary and non-standard (despite someone's clever squatting on a good github account name). But I still think cockroach-go should be consistent with our own internal transaction functions. Currently, users of cockroach-go are required to return errors without wrapping in any way. If that's good enough for our users, why isn't it good enough for us?

[2017-08-24 17:13] andreimatei commented on #17667
I happen to think it's good enough for us too :)
But if others think it's not, we have the luxury of a controlled environment and we already depend on this pkg/errors package. If cockroach-go uses the package, would it vendor it?

[2017-08-24 17:17] RaduBerinde commented on #14220
It doesn't matter much either way. I'm ok with `Background` FWIW

[2017-08-24 17:20] cockroach-teamcity opened #17898 "teamcity: failed tests on master: acceptance/TestDockerC/Fail, acceptance/TestDockerC, acceptance/TestDockerC/Success, test/TestServer/version, test/TestServer/version/4, test/TestServer, test/TestServer/version/3, test/TestServer/version/6"
The following tests appear to have failed:

[#333738](https://teamcity.cockroachdb.com/viewLog.html?buildId=333738):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-24 17:20] jordanlewis commented on #17898
These flaky tests though

[2017-08-24 17:20] #17898 closed

[2017-08-24 17:21] #17851 closed

[2017-08-24 17:21] #17864 closed

[2017-08-24 17:27] andreimatei commented on #14220
Well I guess it's likely I'll lose a vote, so if whoever wants to drive this still has the desire...

[2017-08-24 18:34] dt commented on #17819
Some investigation so far: this is the verify call done by addSSTable, the start/end are computed by for the batch, not passed in by the csv code so, uh... scary?

Going to add a log of `batchEndKey` to `sstBatcher.Finish` and try to repro again.

[2017-08-24 18:48] petermattis opened #17901 "sql: add column family for system.{range,event}log"
Noticed via drive-by. Whenever we perform a split we write 6 keys to `system.rangelog`. For example:

[code]

The schema for `system.rangelog` is:

[code]

There should be a single column family, but for some reason, perhaps due to this being a system table, there isn't. Something similar is going on with `system.eventlog`. Not sure how easy this is to fix, but perhaps we can create the table desc

[2017-08-24 18:51] benesch opened #17902 "storage: rocksdb hung on write"
While running a 15 node, 2tb restore on GCE, one of the nodes repeatedly bricked, even after restart. The wedge was inside RocksDB: https://gist.github.com/benesch/bc4059f7d231921e5d674c416b4239c0

Looks like RocksDB is causing an infinite write stall because compactions aren't keeping up, or something. Perhaps a bad disk on this particular node, but perhaps a RocksDB bug (or a Cockroach + RocksDB

[2017-08-24 18:53] benesch commented on #17902
Also, I should note: that node managed to bring the restore to a halt, even though it was considered dead. As soon as I `killall -9 cockroach`'d the node, the restore proceeded. Something somewhere is missing a timeout. I know that's not much to go on.

[2017-08-24 18:53] petermattis commented on #17902
The log files contains some info about RocksDB-level "stalls". Search for `^Stalls`.

[2017-08-24 18:54] benesch commented on #17902
[code]

[2017-08-24 18:56] petermattis commented on #17902
Yes, that's an indication that compaction is keeping up. The other messages near those lines should indicate the number of pending compaction bytes.

[2017-08-24 18:57] #16471 closed

[2017-08-24 19:03] benesch commented on #17902
Ok, here's some more context from before the last `Stalls` line above:

[code]

I don't see anything there that would explain this:

[code]

[2017-08-24 19:09] #17730 closed

[2017-08-24 19:14] petermattis commented on #16266
Update: tests are running on `denim` again. We've gone through 6 test runs so far. Log files are actually ~400MB per run. Hopefully we'll have a repro in the next day or two.

[2017-08-24 19:17] nvanbenschoten commented on #17524
Another round of debugging revealed more issues with the cluster. It still looks like we're having issue with the NodeLiveness, and there are some clues as to why.

On the cluster's node 6, we see that 20 goroutines are blocked while [acquiring a semaphore](https://github.com/cockroachdb/cockroach/blob/66c7ec7788e045e054bf0fa8b724682c95ee306b/pkg/storage/node_liveness.go#L378) in `NodeLiveness.hea

[2017-08-24 19:21] #17854 closed

[2017-08-24 19:28] andreimatei commented on #17277
We're now not planning DistSQL flows on nodes that are running an incompatible version. This should be good for now; I'll defer the fallback stuff for later since it proved to not be so easy.

[2017-08-24 19:32] andreimatei commented on #15671
This has been done in #17870 - the `distSQLReceiver` is now being signaled.

[2017-08-24 19:32] #15671 closed

[2017-08-24 19:44] tschottdorf opened #17904 "stability: make debug tools useful for wedged/underreplicated clusters"
For a cluster whose kv store is not available, we can still return useful information. For example,

`./cockroach node ls --insecure`

could still return a list. Gossip has a lot of information.

It's easy to iterate on these things: stand up a 3x cluster, kill two nodes, see which debug tools break and think about which information they still *should* be able to return.

More seriously, having lo

[2017-08-24 19:45] petermattis commented on #17524
Sounds like `r1611` is wedged in some way. What does the range debug page say about it?

[2017-08-24 19:49] petermattis commented on #17902
I have a vague recollection about a bug in RocksDB related to stalls.

[2017-08-24 19:50] cuongdo opened #17906 "acceptance/terrafarm: broken control-C behavior"
Recent changes have made the behavior of control-C much worse. After a nightly test has created all its Azure resources, pressing control-C used to reliably destroy Azure resources. Now, control-C often quits the test without cleaning up.

[2017-08-24 19:50] petermattis commented on #17902
If you're encountering this repeatedly, you could try bumping `{soft,hard}_pending_compaction_bytes_limit` to some very large value. Those default to 64GB and 256GB respectively. I'm guessing that the 2MB sstables used for importing are counting towards the compaction bytes number.

[2017-08-24 19:59] a-robinson commented on #17904
+1 to this.

Related issues:
https://github.com/cockroachdb/cockroach/issues/16489
https://github.com/cockroachdb/cockroach/issues/15342

We do have `./cockroach debug gossip-values`, in case you weren't aware.

[2017-08-24 20:16] dt commented on #17820
dupe #17526

[2017-08-24 20:16] #17820 closed

[2017-08-24 20:18] petermattis commented on #17902
There is a `rocksdb.estimate-pending-compaction-bytes` property we could retrieve and log. See `DBImpl::GetStats` for an example of retrieving a property from RocksDB.

[2017-08-24 20:23] tschottdorf opened #17909 "ui: node claims to have voted for replica 0"
![image](https://user-images.githubusercontent.com/5076964/29686857-7ab20406-88e8-11e7-8479-16fd6bd4e45d.png)

Not clear where the root cause for this is or what it means.

[2017-08-24 20:31] BramGruneir commented on #17909
It means that it did not vote in the last election.
I can replace them with a `-` if you think that would be clearer.

On Thu, Aug 24, 2017 at 4:23 PM, Tobias Schottdorf <notifications@github.com

[2017-08-24 20:32] nstewart opened #17910 "ui: Admin UI Jobs Table is ambiguous"
**FEATURE REQUEST**

In the jobs table, the database on which the jobs are running in ambiguous since we only show the table name:

![image](https://user-images.githubusercontent.com/894257/29687262-b3d2a762-88e9-11e7-9f8d-481336817213.png)

We need another column or some other way to indicate which database is being impacted given the jobs table is scoped to the cluster.

cockroach version
Build

[2017-08-24 20:34] tschottdorf opened #17911 "storage: too many failed snapshots due to sideloaded files observed 2TB restore"
[code]

[2017-08-24 20:38] #14311 closed

[2017-08-24 20:38] #17140 closed

[2017-08-24 20:47] bdarnell commented on #16266
These lease messages (going back to https://github.com/cockroachdb/cockroach/issues/16266#issuecomment-324134520) are strange:

[code]

These leases are identical and proposed at 01:01:44; the lease manages to apply twice more than 20 minutes later. This is especially surprising because leases are exempt from (some) re-proposals. In between the two lease applications, the range managed to split.

[2017-08-24 20:48] nstewart opened #17912 ""Capacity Used" showing as 0.00% despite using 7% capacity."
**BUG REPORT**

![image](https://user-images.githubusercontent.com/894257/29687831-c9a9719a-88eb-11e7-912a-7d224cb1b172.png)

"You are using 10.7 GiB of 146.8 GiB usable storage capacity across all nodes." -> this should show 7.02%

cockroach version
Build Tag:    798df64
Build Time:   2017/08/21 15:05:23
Distribution: CCL
Platform:     linux amd64
Go Version:   go1.8.3
C Compiler:   gcc 6.3.0
Bui

[2017-08-24 20:58] petermattis commented on #16266
`ReplicatedEvalResult.Timestamp` is copied from `BatchRequest.Timestamp`. As far as I can tell, for transactional requests we use `BatchRequest.Txn.Timestamp`. So it isn't surprising that the `EndTransaction` request would have an early timestamp than the `PushTxn`, unless I'm misunderstanding something.

[2017-08-24 20:58] dianasaur323 commented on #17910
according to @benesch this looks specific to schema changes, although the database name might still be removed in certain restore jobs. assigning @jordanlewis to take a quick look. Essentially, we want to be able to show that certain jobs are associated with certain databases.

[2017-08-24 21:07] bdarnell commented on #16266
It's not surprising in the sense that it shouldn't cause any problems, but it shows that we have this ordering of events:

1. Split txn calls Commit
2. Something else calls PushTxn
3. The two commits *should* collide in the command queue and the later one should be forced to wait.
4. PushTxn is proposed, indicating that it won the race to the command queue

So Commit was called before PushTxn (mod

[2017-08-24 21:10] tschottdorf commented on #17904
I think these other issues are good enough, thanks!

[2017-08-24 21:10] #17904 closed

[2017-08-24 21:11] petermattis commented on #16266
Why did the commit have to happen before the push? The timestamp in the batch containing the `EndTransaction` is from when the transaction started, not when the `EndTransaction` was sent, right? I could be mistaken as I'm not terribly familiar with all of this.

[2017-08-24 21:11] petermattis commented on #16266
Regardless, something funky is going on as the PushTxn and EndTransactions should have collided in the command queue no matter what order they arrived in.

[2017-08-24 21:12] nvanbenschoten commented on #17524
The debug page shows that the leader and current leaseholder of `r1611` is node 9. However, node 3 believes that node 8 was the last leaseholder and that its lease has expired, because it hasn't seen an applied lease since yesterday. Because of this and because the trace doesn't include a [mention](https://github.com/cockroachdb/cockroach/blob/66c7ec7788e045e054bf0fa8b724682c95ee306b/pkg/storage/r

[2017-08-24 21:15] bdarnell commented on #16266
Ah, right. If the EndTransaction is using its transaction's timestamp then it's expected to be lower than the push's timestamp.

[2017-08-24 21:15] jordanlewis commented on #17912
`blue` has this, which also seems sketchy:

![image](https://user-images.githubusercontent.com/43821/29689062-d77036d4-88ef-11e7-8f28-59c61bbed054.png)

[2017-08-24 21:20] bdarnell commented on #17912
This was changed in #17733. CC @a-robinson

[2017-08-24 21:47] tschottdorf commented on #17909
That can't be true, if two out of three nodes didn't vote, how is there a leader?

[2017-08-24 21:47] tschottdorf commented on #17909
I *guess* this could happen when we switch out members of the original replica set?

[2017-08-24 21:49] bdarnell commented on #17909
Yeah, newly added nodes don't have a vote, so you could remove a node that cast a vote and then be left with this situation.

[2017-08-24 21:56] petermattis commented on #17531
Is there every a reason to have a different size for the range descriptor cache and the leaseholder cache? I'm thinking to add a single setting that controls the sizes of those caches and changing the timestamp cache size to be `X%*<cache-size>/num-stores`.

[2017-08-24 21:59] bdarnell commented on #17531
I think that would be fine. (in theory leases move around more often than range descriptors change, so expanding the lease holder cache is less likely to be useful than the range descriptor cache, but I don't think that level of micromanagement is likely to be helpful)

[2017-08-24 22:12] knz opened #17915 "sql: implement the remainder of predicate push down"
Currently the code just does inner join. The join_filters RFC explains how to do outer joins too. Do it.

cc @RaduBerinde @petermattis

[2017-08-24 22:54] jethrogb commented on #17883
Tried again with 1.0.5, hoping #17385 would help, but no improvement.

[2017-08-24 23:30] a-robinson commented on #17912
I'm bad at math and parentheses

![image](http://www.reactiongifs.com/r/shm2.gif)

[2017-08-25 00:33] petermattis commented on #12892
Is there a complexity here that I'm not seeing? Seems like there is a pretty big win on many queries from implementing this.

[2017-08-25 01:13] cockroach-teamcity opened #17917 "teamcity: failed tests on master: test/TestHealthAPI"
The following tests appear to have failed:

[#334048](https://teamcity.cockroachdb.com/viewLog.html?buildId=334048):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-25 01:54] cuongdo commented on #17906
Actually, the destroy does seem to work now (not sure why). The thing that's consistently broken is when `-tf.keep-cluster=failed` or `-tf.keep-cluster=always` are specified. In both of those cases, the `Farmer` is supposed to output the command-line to destroy the cluster. However, it's not doing that any more.

[2017-08-25 02:11] #17912 closed

[2017-08-25 02:12] a-robinson commented on #17912
Thanks for pointing this out, @nstewart!

[2017-08-25 03:08] EamonZhang commented on #17840
I don't think so, My cluster can not run as  well .

$execute  show databases;  no No response!

[code]

[code]
My cluster was deployed strict accordance with the document.

[2017-08-25 03:18] a-robinson opened #17920 "build: automate pushing of RHEL docker image as part of release"
As of a month ago, we [publish Docker images for our releases built on top of RHEL to the Red Hat Container Catalog](https://access.redhat.com/containers/#/registry.connect.redhat.com/cockroachdb/cockroach). This is currently getting done by hand, though, and needs to be automated in teamcity like our regular Docker image push is.

[2017-08-25 03:22] jordanlewis commented on #17715
Assigning @swatikumar16 to close when all communications are finished.

[2017-08-25 03:23] #17571 closed

[2017-08-25 03:23] jordanlewis commented on #17748
New candidate sha: 90840ef6031507deb4f8f7af107951c12830fd4f

[2017-08-25 03:38] jordanlewis commented on #17883
I followed your instructions with the latest alpha and couldn't reproduce what you were seeing - running the program with concurrency 60 and num_updates 10 finished in under a minute.

Same with v1.0.5, actually. Did you run the program for a long time before being able to reproduce the behavior you saw?

[2017-08-25 03:46] benesch commented on #17902
I can look into logging compaction bytes tomorrow; in the meantime, though, another restore wedged like this:

[code]

There's several other RocksDB threads with similar stacks, though often they got there through other means. E.g.:

[code]

This looks worryingly like https://github.com/facebook/rocksdb/issues/2388.

[2017-08-25 03:51] jethrogb commented on #17883
I've found it very easy to reproduce on different systems. Have you tried increasing the concurrency? On a 2-core system 60 is all that's needed but on a 4-core I needed 120. I can probably setup an AMI that exhibits this behavior, would that help? If so, send me your AWS account ID.

[2017-08-25 04:24] jordanlewis commented on #17883
Doubling the concurrency to 120 does produce some interesting behavior.

It's pretty easy to reproduce this with our `kv` load generator as well (https://github.com/cockroachdb/loadgen/tree/master/kv):

[code]

Latencies creep up to 10 seconds and never improve.

A CPU profile of both workloads shows that the lion's share of time is spent in `beginCmds.Unlock` - which bottoms out in `runtime.syste

[2017-08-25 04:31] jordanlewis commented on #17748
New candidate has been pushed to all 4 clusters. Assigning to @nvanbenschoten to shepherd the release next week.

[2017-08-25 05:53] #17715 closed

[2017-08-25 09:12] knz commented on #12892
Yes the complexity is that I still do not understand splitFilter() well enough that I would know where to implement this effectively.

[2017-08-25 09:12] AnyCPU opened #17921 "DELETE FROM ... [returning nothing] crashes a node"
A cluster has 3 nodes running on Cockroachdb 1.0.5 (Linux, 64bit)
A db has about 195 millions of records.
Scheme is
[code]
The db has data of an one month.
I want to delete data starting from second day of month, so
I run either  `delete from stats where ts > '2017-01-01 23:59:59'::timestamp;` or `delete from stats where ts > '2017-01-01 23:59:59'::timestamp returning nothing;`.
I use the `cockroa

[2017-08-25 12:32] AnyCPU commented on #17921
I cannot even remove a half a day.

[2017-08-25 13:05] AnyCPU commented on #17921
I have tried to remove data for an one hour but I got
```pq: kv/txn_coord_sender.go:428: transaction is too large to commit: 478692 intents```

[2017-08-25 13:27] AnyCPU commented on #17921
It is possible to remove data by ten-minutes chunks :-(

[2017-08-25 13:33] tschottdorf commented on #17883
Haven't looked at this in detail, but perhaps related to
https://github.com/cockroachdb/cockroach/pull/17121.

On Fri, Aug 25, 2017 at 12:24 AM Jordan Lewis <notifications@github.com>
wrote:

--

-- Tobias

[2017-08-25 13:57] cuongdo opened #17922 "acceptance: schema change nightly failing"
The last 3 runs have failed. [The latest run](https://teamcity.cockroachdb.com/viewLog.html?buildId=334093&tab=buildResultsDiv&buildTypeId=Cockroach_Nightlies_SchemaChangeTest3to510g) has a lot of errors in the `cockroach` logs.

Note that the same test without the schema change has not had the same issue.

Here are the earlier logs showing issues:

[code]

then lots of:

[code]

and

[code]

cc @

[2017-08-25 14:02] tschottdorf commented on #17909
Ok. Nothing to do except remove the 0 with a placeholder then.

[2017-08-25 14:08] TomArbuckle commented on #16168
Repeating the two experiments using the procedure listed above, namely a single CockroachDB node with 1) a direct connection and 2) a connection via HAProxy...

CockroachDB exhibits the previously reported behaviour.

- Without HAProxy, adding 9000 records (to an initial 1000) completes in around 40 minutes.
- With HAProxy, after adding around 3,500 records (to an initial 1000), cockroachDB is una

[2017-08-25 14:08] tschottdorf commented on #17921
Hey @AnyCPU, you're running into the fact that as of the time of writing, support for large writing transactions is not ideal in CockroachDB. You've pretty much experienced all the problems: them never succeeding, or failing with the "too large to commit" error. While deleting in small chunks is currently the best option, rest assured that we're working on improving this (see the issue above). We

[2017-08-25 14:12] TomArbuckle commented on #16168
Experiment 1 (No HAProxy = direct connection).

![screen shot 2017-08-25 at 11 31 46](https://user-images.githubusercontent.com/25199520/29717532-6628daae-89a7-11e7-9f2e-7cb52de2d9be.png)

Data (includes SHOW CLUSTER QUERIES; text)
[Fri25_NoProxy.tar.gz](https://github.com/cockroachdb/cockroach/files/1252056/Fri25_NoProxy.tar.gz)

[2017-08-25 14:16] TomArbuckle commented on #16168
Experiment 2 (HAProxy but still only one node)

![screen shot 2017-08-25 at 12 55 45](https://user-images.githubusercontent.com/25199520/29717677-ea5ad1f6-89a7-11e7-9f93-3bb734c435b0.png)

Data (includes SHOW CLUSTER QUERIES; text)
[Fri25_HAProxy.tar.gz](https://github.com/cockroachdb/cockroach/files/1252066/Fri25_HAProxy.tar.gz)

[2017-08-25 14:23] TomArbuckle commented on #16168
Experiment 1 (IIRC, Max memory was around 830MB)
cockroach start --insecure --host=localhost --store=node1 --max-sql-memory=1G --cache=1G --port=26258 --http-port=8081 --background --vmodule=executor=2

Experiment 2 via HAProxy. (IIRC, Max memory was around 2.3GB)
cockroach start --insecure --host=localhost --store=node1 --max-sql-memory=1G --cache=1G --port=26257 --http-port=8081 --background --v

[2017-08-25 14:25] TomArbuckle commented on #16168
Continuing with CANCEL QUERY tests, which I guess are also part of #16262.

[2017-08-25 14:28] petermattis commented on #16266
We have another occurrence. Some relevant logs (the full logs are [here](https://github.com/cockroachdb/cockroach/files/1252081/logs.txt)):

`I170825 05:53:32.120342 15224381 storage/replica.go:2028  [n6,s6,r447049/1:/Table/51/1/1561{1869…-2690…}] 1 PushTxn: waiting for 3 overlapping requests`
`I170825 05:53:33.204211 15232755 storage/replica.go:2028  [n6,s6,r447049/1:/Table/51/1/1561{1869…-2690…}

[2017-08-25 14:29] RaduBerinde commented on #12892
The logic would be in the `varConvertFunc` callback that is passed to `splitFilter` - if we're trying to get a filter for `a` and the function knows that `a.x = b.y` and sees `b.y` it can convert it to `a.x` rather than returning `!ok`.

[2017-08-25 14:30] AnyCPU commented on #17921
Thank you @tschottdorf

[2017-08-25 14:42] a-robinson commented on #17917
https://github.com/cockroachdb/cockroach/issues/17771

[2017-08-25 14:42] #17917 closed

[2017-08-25 15:30] nvanbenschoten commented on #16266
The initial `PushTxn` going through `beginCmds` twice is very strange. I'm not quite sure what to make of that. If the `PushTxn` was actually inserted twice into the CommandQueue then that could lead to issues like this during cancellation, but I have no clue how that could happen.

Did you see any "waited %s for overlapping requests" logs? It doesn't look like they're in the dump you posted.

If

[2017-08-25 15:36] petermattis commented on #16266
@nvanbenschoten The synchronization is subtle between trimming the already waited for `cmd.prereqs` during context cancellation and looking at `cmd.cancelled` when `cmd.pending` is closed. I haven't found anything wrong with it, just observing.

[2017-08-25 15:38] nvanbenschoten commented on #16266
I think I may see an issue, although I haven't figure out exactly how it could cause this. When we [set cmd.cancelled = true](https://github.com/cockroachdb/cockroach/blob/f652468b6c0a725967c3d5329e994e3b9a9ba6da/pkg/storage/replica.go#L2101), I think we need to set it to true for all 4 cmds in `newCmds`.

[2017-08-25 15:41] nvanbenschoten commented on #16266
Something like
[code]

Without this, dependent's will only transfer transitive dependencies of cancelled commands for the access/scope combination that was blocking in `beginCmds` when the context was cancelled.

[2017-08-25 15:46] petermattis commented on #16266
Oh yeah, that would do it. There is a lot of logic related to cancellation in `beginCmds` that is probably not being tested adequately.

[2017-08-25 15:47] nvanbenschoten commented on #16266
Well, I still don't see exactly how that would do it, because the second `PushTxn` should still have been waiting on the `EndTxn`.

[2017-08-25 15:52] nvanbenschoten commented on #16266
Yeah, I think more testing is needed around local keys. The problem was that the change and specifically [these tests](https://github.com/cockroachdb/cockroach/commit/2fbf0348db1e62a51c1a001689c525c4fd687bad#diff-c0a8a8ee28d5fcc6ccde1829aaa9340e) were added before propEvalKV, and it seems I missed some of the subtleties of multiple `*cmds` per batch when rebasing and migrating the change over.

[2017-08-25 15:58] nvanbenschoten commented on #16266
I'll get a fix out for this issue today.

[2017-08-25 16:14] mjibson commented on #17073
Happened again: https://teamcity.cockroachdb.com/viewLog.html?buildId=334483&buildTypeId=Cockroach_UnitTests

[2017-08-25 16:36] nstewart commented on #17717
In the meantime could we just add a tooltip that shows the full text?

[2017-08-25 16:58] #17526 closed

[2017-08-25 17:02] petermattis commented on #16266
Ah, good point.

I believe there was a `HeartbeatTxn` occurring as well. Notice the `7 readonly [/Local/RangeID/447049/r/AbortCache/"1b64e796-2911-476f-b751-8c908ab4aabc")` entry in the command queue when the first `PushTxn` arrived. My branch is only doing extra logging for `PushTxn` and `EndTransaction(split-trigger)` requests.

[2017-08-25 17:08] knz commented on #17199
Hi Justin! Could you please investigate this; clarify whether the current behavior is the expected behavior (in particular how well it's compatible with what pg does) and, if applicable, identify what needs to be fixed?

[2017-08-25 17:18] petermattis commented on #16266
Here's what I think happened:

1. `PushTxn` 1 enters the command queue waiting for `Unknown`
2. `EndTxn` enters the command queue waiting for `PushTxn` 1 and `Unknown`
3. `PushTxn` 1 re-enters the command queue waiting for `EndTxn`
4. `HeartbeatTxn` enters the command queue waiting for `PushTxn` 1
5. `PushTxn` 2 enters the command queue waiting for `HeartbatTxn` 1
6. `PushTxn` 1 cancels
7. `Heartb

[2017-08-25 17:18] nvanbenschoten commented on #16266
So how about this as a possible scenario:

1. PushTxn 1 enters command queue
[code]
2. EndTxn enters command queue
[code]
3. Heartbeat enters command queue
[code]
4. PushTxn 2 enters command queue
[code]
5. Heartbeat is cancelled
[code]
6. PushTxn 1 is cancelled while in command queue
[code]
7. PushTxn 2 and EndTxn are both allowed to proceed

[2017-08-25 17:20] petermattis commented on #16266
Heh, our messages crossed. Your diagramming skills are much better than mine. I think it is time to try and write a test the tickles this condition. I'm offline for a few hours starting now. Maybe this will be magically fixed when I get back.

[2017-08-25 17:50] cockroach-teamcity opened #17925 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/fk"
The following tests appear to have failed:

[#334576](https://teamcity.cockroachdb.com/viewLog.html?buildId=334576):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-25 18:21] riaan53 commented on #15760
Any update on this?

Have a look at how https://github.com/nats-io/gnatsd handles this.

[2017-08-25 18:38] tschottdorf commented on #16266
The command queue never ceases to amaze. Glad we (seem to have) figured that one out.

[2017-08-25 19:08] pkieltyka opened #17929 "storage engine, badger"
Hey guys, fantastic over the years on CRDB. I was wondering if you had considered to try github.com/dgraph-io/badger in place of rocksdb? It would be interesting to see performance comparisons after removing the cgo overhead.

[2017-08-25 19:09] pkieltyka commented on #17902
perhaps the pure Go implementation of rocksdb: badger

https://github.com/cockroachdb/cockroach/issues/17929

[2017-08-25 19:21] a-robinson commented on #17929
Hey @pkieltyka, we've played around with badger a little bit (https://github.com/dgraph-io/badger/issues/95), but it would be a pretty massive project to change from rocksdb to badger given how many features of rocksdb we're using that badger doesn't have. We'll be keeping an eye on badger as it improves, but don't have plans to switch to it anytime soon.

[2017-08-25 19:21] #17929 closed

[2017-08-25 20:02] #17906 closed

[2017-08-25 20:52] vivace-io opened #17936 "ui: charts don't plot but tooltip shows correct data"
BUG REPORT

### Versions

Using official Docker Hub images, v1.0.4 and v1.0.5, OS/Arch Linux amd64 (Community). Docker version 17.06.0-ce build 02c1d87.

### What I did

Initially imported a production database from a v1.0.4 cluster via `cockroach dump` and imported the dump. Nothing special on that end.

I then ran a manual rolling update across a 4-node cluster, one node at a time by killing the

[2017-08-25 20:54] petermattis commented on #12892
The action is all in `planner.addJoinFilter`, right? Conceptually straightforward, but after looking at that code I now understand @knz's statement.

[2017-08-25 21:01] petermattis commented on #15849
Could the intent coagulation (love that term) be done at the range level? This naturally prevents coagulation across table boundaries. `TxnCoordSender` would have to peek into the range descriptor cache or have some other way to understand range boundaries. That doesn't sound horrible.

[2017-08-25 21:17] benesch commented on #17883
Just as another data point, we accidentally caused exactly this performance degradation during a restore. A goroutine dump showed about 60 routines hammering on the same row in the `system.jobs` table. (Worked around by limiting concurrency in #17934; doesn't fix the root cause.)

[2017-08-25 21:19] tschottdorf commented on #15849
I'm sure we could make that work, though if we tell it enough about our SQL encoding (just a bit) then we can also avoid splitting across table boundaries. That seems a little less involved and if it worked about as good, I think I'd prefer that. Haven't thought about it much, though.

[2017-08-25 21:49] knz commented on #12892
Yet I think I understand what Radu is saying :)
I'll have a look next week.

[2017-08-25 22:01] cockroach-teamcity opened #17938 "teamcity: failed tests on master: testrace/TestBackupRestoreNegativePrimaryKey"
The following tests appear to have failed:

[#334810](https://teamcity.cockroachdb.com/viewLog.html?buildId=334810):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-25 22:40] tschottdorf commented on #17938
Context cancellation. What was the timeout?

[2017-08-25 22:51] tschottdorf commented on #17936
Hi @vivace-io, thanks for your report. There are a number of things that can cause this. To narrow it down,

1. does the admin ui indicate that all nodes are healthy?
1. if so, make sure you can access the `yourhost:8080/debug` endpoint (may require the sql command `SET CLUSTER SETTING server.remote_debugging.mode = 'any';` (you may want to set this back to `off` when you're done)
1. see if you ca

[2017-08-25 22:59] vivace-io commented on #17936
All nodes are healthy, save for the dead ones for the rolling update. I did checkout `/debug` and saw nothing suspect (if there's something that could be of assistance I can paste here, let me know).  As for `/reports/problemranges` it returned status HTTP 200, with a blank body. Just the react element with nothing in it.

I'll try to replicate it once more and upload the debug tomorrow.

As a sid

[2017-08-26 05:03] tschottdorf commented on #17936
This is an unsubstantiated idea, but do your Docker volumes not have persisted disk? I am assuming not because you say that in the UI you see three healthy nodes (corresponding to your running containers), but that you also have dead nodes (corresponding to the old containers) around. If you were really running without persistent storage, a rolling restart is almost certain to put your cluster at

[2017-08-26 21:53] vivace-io commented on #17936
I did use persistent disks for all nodes, so I'm also confused why they still show up.

I have left the cluster in question run since the initial update, and the graphs still are not plotting, but the data is 100% accurate when hovering the mouse over the UI as far as I can tell. Replicas are balanced as expected, latency for SQL requests are within my expected range, and so forth so I feel like i

[2017-08-27 00:48] robert-s-lee opened #17941 "ERROR: internal/client/txn.go:836: attempting to use transaction with wrong status or finalized"
**BUG REPORT**

1. cockroach version
Build Tag:    v1.1-alpha.20170817
Build Time:   2017/08/17 22:27:51
Distribution: CCL
Platform:     darwin amd64
Go Version:   go1.8.3
C Compiler:   4.2.1 Compatible Clang 3.8.0 (tags/RELEASE_380/final)
Build SHA-1:  9a357a9f553a21ec08235492c7b916219652581a
Build Type:   release

2. Please describe the issue you observed:

- What did you expect to see?

works c

[2017-08-27 03:27] cockroach-teamcity opened #17942 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/default, testrace/TestLogic/default/fk"
The following tests appear to have failed:

[#335367](https://teamcity.cockroachdb.com/viewLog.html?buildId=335367):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-27 15:26] dianasaur323 commented on #15849
If we want to get this done in 1.2, we probably want to track it on the roadmap, especially since it's relatively user facing and I've read a couple user-filed bugs that point to these errors. I've stuck in a placeholder text that others can fill out in Airtable for now with a S t-shirt size. cc @nstewart since this falls under his area.

[2017-08-27 16:33] #17841 closed

[2017-08-27 16:52] cockroach-teamcity opened #17943 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/fk"
The following tests appear to have failed:

[#335771](https://teamcity.cockroachdb.com/viewLog.html?buildId=335771):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-27 17:05] benesch commented on #17910
It occurs to me that I think this would also fail to include the database for a backup job if someone runs `SET DATABASE = foo; BACKUP bar....`. We need some way of asking the parser package to fully specify the database name in the stringified query.

[2017-08-27 17:07] petermattis commented on #15849
This is very likely a L or XL size project.

[2017-08-27 17:14] cuongdo commented on #15849
It's also worth noting that there are short-term workarounds we can develop support for, such as implementing LIMIT for DELETEs.

[2017-08-27 17:42] tschottdorf opened #17945 "TestDumpRandom failed"
https://teamcity.cockroachdb.com/viewLog.html?buildId=335776&buildTypeId=Cockroach_UnitTests_Testrace

[code]

[2017-08-27 17:58] tschottdorf commented on #15849
There's a fairly natural hierarchy here, I think.

1. `DELETE ... WHERE predicates LIMIT X`
1. `DELETE ... WHERE predicates NONTRANSACTIONAL`: runs chunked transactions that each leave the touched tables in consistent state. Roughly equivalent to `LIMIT X` in a loop until nothing remains (but hopefully more parallel, faster, etc).
1. make the above more efficient or handy, perhaps masquerading as

[2017-08-27 18:08] irfansharif commented on #17370
- https://github.com/grpc/grpc-go/pull/1478
- https://github.com/grpc/grpc-go/pull/1482
- https://github.com/grpc/grpc-go/pull/1480
- https://github.com/golang/protobuf/pull/418

[2017-08-27 18:32] dianasaur323 commented on #17910
yep! although hopefully in practice people don't do that as often. Either way, I believe database name is something we should be surfacing. Do you think this will make it into 1.1? We are getting super close to cutting a branch.

[2017-08-27 18:37] petermattis commented on #15849
Making `DELETE ... WHERE` non-transactional (even with additional syntax) seems surprising. If we want to use the schema change infrastructure for deleting a large number of rows, I'd suggest something using the `ALTER TABLE` syntax.

My statement about this being an "L or XL size project" was in reference to supporting large transactions. Agreed that there might be some much easier tasks that mit

[2017-08-27 19:09] petermattis commented on #16948
I implemented the plan described above: https://github.com/cockroachdb/cockroach/compare/master...petermattis:pmattis/2pc-experiment?expand=1

The TL;DR? is that there is a drop in disk bandwidth for a fixed ops/sec, but running at capacity `kv.experimental_2pc` causes a reduction in throughput.

Running `kv --concurrency 384 --splits 1000 --min-block-bytes 128 --max-block-bytes 129 --max-rate 700

[2017-08-27 19:13] nstewart opened #17946 "ui: revisit UX for showing jobs progress"
Noticed this when loading tpcc data

![image](https://user-images.githubusercontent.com/894257/29753176-a0943f92-8b39-11e7-8c16-2d630fbfca92.png)

We should double check the actual UX for showing progress in the jobs table. The progress bar hangs for long periods of time (how often do we check for an updated completion estimate? seems like minutes between any update) and in general feels very stat

[2017-08-27 19:14] nstewart commented on #17946
cc @kuanluo

[2017-08-27 19:22] dianasaur323 commented on #17946
Yes, I noticed this as well when I was testing, but wasn't able to reproduce. I think it might have something to do with this fix? https://github.com/cockroachdb/cockroach/pull/17927

@benesch do you mind sharing your thoughts on if this will still be an issue after our latest master? Perhaps we should test it again. My understand is that the progress is being updated every 10 sec.

cc @jordanlewi

[2017-08-27 19:32] a-robinson commented on #17922
The errors of the form `error restarting node 2: cat cockroachdb-url: Process exited with status 1` indicate that the node didn't start to the point where it had written its listening URL to the url file. The question is why the nodes are struggling to start. Given that the test appears to fail pretty consistently now, I'd say the most suspicious-looking PRs between the previous green run and the

[2017-08-27 20:23] terefang commented on #16043
yes i must admit that if you are aligning with postgresql/sql99 standards
the TRIM functions have to be left as they are.

may i propose an additional optional parameter (true/false, default false)
to enable stripping not only unicode whitespace (Zs,Zl,Zp) but also any
character less than ascii space (0x00-0x20) ?

and how about a global database parameter/variable that can configure this
default

[2017-08-27 21:11] knz commented on #16043
If you have a legacy application how come do you need a different behavior. I do not know of any database which strips more than whitespace in these functions.

[2017-08-27 21:30] petermattis commented on #16901
@mjibson Has there been any reproduction of this? I just unsuccessfully took a crack at trying to reproduce and also spent a while staring at the code to see what accounting was missed.

[2017-08-27 22:53] bdarnell commented on #16266
@nvanbenschoten When "PushTxn 2 enters command queue", how did it end up with an edge pointing to PushTxn1 but not EndTxn? I haven't been able to figure out a way that PushTxn2 would end up depending on something that EndTxn1 depended on instead of depending on EndTxn1 itself.

We have one more puzzle piece to play with: A regular write that is a part of a transaction reads that transaction's abor

[2017-08-27 23:14] nvanbenschoten commented on #16266
@bdarnell I was wondering about both of those issues and don't have a good answer. My guess was that a pair of `ResolveIntent` requests allowed it to end up with an edge around the `EndTxn`, but I wasn't sure why the `EndTxn` wouldn't also touch the same intent.

Now I think I stumbled onto a bigger issue. I don't think the transfer of command dependencies was working correctly with the `coveringO

[2017-08-27 23:19] bdarnell commented on #16266
The covering optimization is disabled in the local command queue (and everything we're looking at in this issue is in the local command queue). However, that might be the key to a separate issue: #17815.

[2017-08-27 23:33] nvanbenschoten commented on #16266
Ah you're right, the covering optimization is disabled in the local command queue. However, I don't actually think this issue requires us to use the covering optimization, I think it just requires that we treat a parent `*cmd` as a handle to all child `cmd`s, which we do regardless. The `coveringOptimization` flag determines whether we initially insert this `*cmd` into the interval tree or whether

[2017-08-27 23:38] nvanbenschoten commented on #17815
Are you able to reproduce this easily? If so, could you try with a patch to `beginCmds`?

[2017-08-27 23:40] bdarnell commented on #17815
Yes. It's not quick (it takes several hours at least), but it's easy to try.

[2017-08-28 00:13] bdarnell commented on #16266
Here's what I see poring through the logs:

[code]

The first PushTxn is assigned ids 12 and 13 in the local command queue. There are already two operations ahead of it: IDs 7 and 8 are from a write to the (new RHS) range descriptor, and 9 and 10 look like a heartbeat for this transaction. (In "waiting for 3 requests", the heartbeat counts double because its reads and writes are counted separately

[2017-08-28 00:35] bdarnell commented on #16266
It's worse than that: we're only setting `prereqs` on the parent cmd, not the children. And when the covering optimization is disabled, the prereqs themselves are always children, so prereqs don't transfer more than one hop. So this definitely explains it.

We need to better encapsulate the `cmd` struct. Right now there are two distinct subtypes of `cmd` (parents and leaves) as used in `command_qu

[2017-08-28 00:50] nvanbenschoten commented on #16266
Exactly, so right now we aren't properly treating cancellation of `BatchRequest`s that create more than one `*cmd` for any access/scope combination. I have this fixed and am working on improving the test coverage, which was lacking because we were only testing with `DeleteRangeRequests`. I don't think we'll need to revert #9448, but your judgement on this is better than mine.

[2017-08-28 00:53] nvanbenschoten commented on #16266
That's not quite accurate. The key is that this will affect `BatchRequest`s that contain [more than one span](https://github.com/cockroachdb/cockroach/blob/32b5d762b298f763ce4f798385e8fd4db193bbfb/pkg/storage/command_queue.go#L573) within a certain access/scope combination.

[2017-08-28 01:04] EamonZhang opened #17947 "Plan : Does any plan for support python jango ."
[code]

[2017-08-28 01:46] bdarnell commented on #16266
Right, but this is true of all PushTxn and EndTxn requests so all usage patterns except single KV ops can be affected by this.

[2017-08-28 02:37] mjibson commented on #16901
I have not seen this again in the RSG tests, no. However they were broken for a while and now have a test that fails every night, so it could be a rare thing that will come up later. I'm not opposed to bumping to 1.2 or some other later milestone.

[2017-08-28 02:57] bdarnell commented on #17947
The `pg_table_is_visible` function will be supported in CockroachDB 1.1. But after that, there are more issues, being tracked in https://github.com/cockroachdb/cockroachdb-python/pull/14.

[2017-08-28 02:57] #17947 closed

[2017-08-28 11:49] nvanbenschoten commented on #17815
Could you kick off a test using my branch from #17939?

[2017-08-28 12:39] nstewart opened #17948 "ui: Admin UI doesnt appear to reflect activity shown in SHOW QUERIES"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

root@pm-cluster-ams2-01:~#  grep -F '[config]' cockroach-data/logs/cockroach.log
I170825 18:17:01.754401 1 util/log/clog.go:977  [config] file created at: 2017/08/25 18:17:01

[2017-08-28 13:01] nstewart commented on #17948
Here's a better view at 12:24:38 there are 15 queries running, for example

![image](https://user-images.githubusercontent.com/894257/29774415-5a8ef47e-8bcf-11e7-8cb7-57a826536f27.png)

But the chart shows ~3 in that time period
![image](https://user-images.githubusercontent.com/894257/29774402-508a5982-8bcf-11e7-840c-26de997a2af9.png)

One consideration is that the show queries command shows runn

[2017-08-28 13:03] justinj opened #17949 "sql: table with foreign key appears to be invisible within transaction it's created in"
When we try to insert into `b`, below, the table can't be found if it has a foreign key constraint, but works fine if there is no constraint.
[code]

Jira issue: CRDB-6022

[2017-08-28 13:31] tschottdorf commented on #17948
The stats are 10s averages. I've criticized that in the past.

On Mon, Aug 28, 2017, 09:02 Nate <notifications@github.com> wrote:

--

-- Tobias

[2017-08-28 13:37] petermattis commented on #17531
While developing a change to size the timestamp cache as `X%*<cache-size>/num-stores` I discovered that doing so impacts performance if the configured cache size is significantly larger than the current cache size (64 MB). This appears to be due to increased Go GC. Given the lateness in the current cycle and that this isn't really a bug fix, I'm going to punt configuration of the timestamp cache s

[2017-08-28 13:39] petermattis commented on #17902
@pkieltyka Badger is not a pure Go implementation of RocksDB. RocksDB provides significantly more functionality. It would be a very large project to switch.

[2017-08-28 13:47] cockroach-teamcity opened #17951 "teamcity: failed tests on master: acceptance timed out"
The following tests appear to have failed:

[#336227](https://teamcity.cockroachdb.com/viewLog.html?buildId=336227):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-28 13:53] cfsnyder commented on #6583
SELECT FOR UPDATE also appears to be used by Liquibase and consequently also prevents us from using Cockroach with Keycloak. Is there any ETA on supporting this?

I'd be willing to try to contribute if the consensus is that the syntax should be supported without the intended semantics, as was suggested in the issue description.

[2017-08-28 14:10] a-robinson commented on #17948
As you suggested in your second comment, the graph also doesn't show the average number of queries *running*. It shows the average number of queries that *started* processing per second.

[2017-08-28 14:19] nstewart commented on #17948
Got it, so the admin UI graph is showing a *10-second rolling average* of the # of queries *started* per second. cc @dianasaur323 -- Let's look back over your user stories and confirm that's what we really want here. Again, in the mean time let's update the labels so this is clear.

[2017-08-28 14:28] nstewart commented on #6981
This is on our radar and is scheduled to be part of the 1.2 release (mid-2018). We expect it to be in an alpha version of CockroachDB much earlier than that.

[2017-08-28 14:34] irfansharif opened #17952 ""descriptor is not initialized" panic"
https://sentry.io/cockroach-labs/cockroachdb/issues/333879812/

[code]

[2017-08-28 14:53] #17879 closed

[2017-08-28 15:11] andreimatei opened #17953 "kv: unexpected UnhandledRetryableError at the txn.Exec level"
https://sentry.io/cockroach-labs/cockroachdb/issues/332265711/

[code]

[2017-08-28 15:12] andreimatei commented on #17953
https://sentry.io/cockroach-labs/cockroachdb/issues/337599623/

[2017-08-28 15:14] knz commented on #16827
I do not understand the question. the `force_retry` built-in takes a duration, not an ID.

I do not understand this either. What would you want to use this built-in for?

Look in this situation you're confusing the forest for the trees. I introduced `force_retry` just and only for testing of the retry mechanism. The original use was to check the CLI prompt `pkg/cli/interactive_tests/test_txn_promp

[2017-08-28 15:20] RaduBerinde commented on #17512
I'll work on it.

[2017-08-28 15:23] RaduBerinde commented on #12876
This is now converted to an error. Moving to 1.2 since we don't have much to go on in terms of reproducing the condition.

[2017-08-28 15:24] tschottdorf commented on #17512
Thanks Radu!
--

-- Tobias

[2017-08-28 15:27] dt commented on #17949
Tables with references to other tables cannot become public (usable) until all nodes have updated their cached versions of all referenced tables --typically about 2s after the transaction creating the new table and adding those references commits. We used to disallow any statements in a txn following a DDL because of this theoretical limitation, but IIRC we changed this at some point, so I'm no lo

[2017-08-28 15:30] nvanbenschoten commented on #16827
`force_retry` has [an overload](https://github.com/cockroachdb/cockroach/blob/a55a56ee340327acc13fc4d1f1cdcea2157fb4ce/pkg/sql/parser/builtins.go#L1875) to take a TxnID.

That's exactly my question when I said "I guess my indecision is due to a lack of understanding about what the goal of these crdb_internal builtins are for (just testing vs. general purpose hooks into the system)."

From your res

[2017-08-28 15:38] #17530 closed

[2017-08-28 15:40] cockroach-teamcity opened #17955 "teamcity: failed tests on release-1.0: testrace/TestMonotonicInserts/distsql=off, testrace/TestMonotonicInserts, testrace/TestMonotonicInserts/distsql=on"
The following tests appear to have failed:

[#336346](https://teamcity.cockroachdb.com/viewLog.html?buildId=336346):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-28 15:43] TomArbuckle commented on #16168
Cancel Query Tests -- One Node, No Proxy

Continuing with the above tests, if the client application is connected,
at least some queries can be cancelled. (The client reports their context as being
cancelled). Cancellation takes some time. Even after issuing a
cancellation request, a query can move from preparing to
executing. A cancelled query can run for tens of seconds before
disappearing. It's

[2017-08-28 15:50] TomArbuckle commented on #16168
Cancel Query Tests -- One Node via HAProxy

Fill the DB with around 10,000 records (without a proxy) then stop and reconnect via a proxy. Leave the client application running for a while. The number of CockroachDB connections increases (stopped at ~65 measured using lsof). The number of HAProxy connections remains relatively stable in mid-teens.

Orphaned LEFT JOIN queries build up (issued by the

[2017-08-28 17:06] petermattis opened #17959 "perf: evaluate impact of rocksdb::Options::max_open_files"
We currently default `rocksdb::Options::max_open_files` to `-1` if the open file limit is sufficiently high. This is done per the [RocksDB Tuning Guide](https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide):

Because restore ingests relatively small (2MB) sstables, the calculations about the max number of sstables and thus the max open files are way off. Rather that crash when the number

[2017-08-28 17:10] bdarnell commented on #6583
I don't think we want to support `FOR UPDATE` as a no-op. For `SNAPSHOT` we need the real semantics (so `SELECT FOR UPDATE` should write an intent). We could technically make it a no-op in `SERIALIZABLE` mode but I think making it write an intent there too is useful to allow applications to control their lock ordering and avoid deadlocks.

[2017-08-28 17:24] bdarnell commented on #17959
If the open file limit is sufficiently high, why aren't we just setting max_open_files to that sufficiently high value? It seems dumb to ever set it to -1 when we know the real limit.

[2017-08-28 17:26] petermattis commented on #17959
The overhead to `max_open_files != -1` isn't about re-opening the file, but about going through the table cache. I measured this in the past and can't recall what the overhead was. The task here is to measure it again. I don't think it will be significant and certainly not enough to stop us from merging #17958.

[2017-08-28 18:46] petermattis opened #17964 "storage: remove rocksdb.memtable_{hits,misses} metrics"
The `rocksdb.memtable_{hits,misses}` metrics are powered by the RocksDB `MEMTABLE_{HITS,MISSES}` statistics. But those statistics are only bumped on calls to `DB::Get` which we never use (we always retrieve data via iterators).

[2017-08-28 18:58] cockroach-teamcity opened #17965 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#336456](https://teamcity.cockroachdb.com/viewLog.html?buildId=336456):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-28 19:14] bdarnell commented on #17815
I'm running a test with #17939 now (I had tried to run it this morning but forgot that the jepsen test scripts don't automatically rebuild the binary so I was testing the wrong build). We'll know tonight whether this fixes it (or at least have some supporting evidence. It appears to reproduce around every 3 hours but I don't have many data points to support that estimate).

We see a lot of "contex

[2017-08-28 19:15] benesch opened #17966 "server: write a test for open file limits"
Our logic for determining the maximum open file limit is quite complex but completely untested. I almost broke it in a few places while constructing #17958. We should write a test for it.

[2017-08-28 19:20] benesch commented on #17946
Yeah, you should see a progress update every few seconds. Not sure we'll be able to do anything about this for 1.1; there are some critical performance/stability problems with restore that we need to fix first.

[2017-08-28 19:21] benesch commented on #17910
Might slip; afraid I've got a bunch of other performance/stability issues to tackle first.

[2017-08-28 19:26] benesch commented on #17420
Fixed by 666102a in #17786, which sidesteps the problem by hiding `BACKUP`/`RESTORE`/`ALTER` queries from `SHOW QUERIES`.

[2017-08-28 19:26] #17420 closed

[2017-08-28 19:29] a-robinson commented on #17671
That would be better than the current behavior, but there will still be times when that won't do anything. For example, if node x has the lease for the range being split and scattered, but it has many fewer ranges on it than other nodes in the cluster (due to its ranges having more data and higher write throughput), then even switching to a non-stats-based mode might not move anything.

Given that

[2017-08-28 19:30] irfansharif commented on #17952
+cc https://github.com/cockroachdb/cockroach/issues/6027, https://github.com/cockroachdb/cockroach/pull/6143
We're hitting the following panic: https://github.com/cockroachdb/cockroach/blob/5b757262d33d814bda1deb2af20161a1f7749df3/pkg/roachpb/errors.go#L280

[2017-08-28 19:33] cockroach-teamcity opened #17969 "teamcity: failed tests on master: test/TestDumpRandom"
The following tests appear to have failed:

[#336579](https://teamcity.cockroachdb.com/viewLog.html?buildId=336579):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-28 19:51] bdarnell commented on #4703
This has gotten more interesting now that we automatically retry the first "batch" of a transaction. Currently to count as a single batch the statements must come in as a single stream. Some clients, however, have the ability to pipeline multiple statements (in multiple `Execute` frames) into a single packet. Improving our ability to batch these statements would reduce the scope of retryable error

[2017-08-28 19:54] a-robinson opened #17970 "storage: Delayed update of per-store write stats can cause rebalance thrashing"
After a rebalance has happened, the `LogicalBytes` and `WritesPerSecond` logically change for the store that the replica was added to or removed from. If the `LogicalBytes` stat changes by a large amount, then the store will re-gossip its `StoreCapacity` ahead of schedule. While it isn't guaranteed by any means, in practice this does a mostly decent job of getting updated information spread throug

[2017-08-28 19:54] a-robinson opened #17971 "storage: Consider which replica will be removed when adding a replica to improve balance"
In clusters with multiple localities, we try to maintain diversity by spreading the replicas for each range as evenly across localities as possible. This means that in a cluster with 3 localities and 3 replicas per range, we'll try to keep ` replica in each locality for each range.

When in a rebalancing state where one locality has 1 replicas and the other localities each have 1, we'll always rem

[2017-08-28 20:06] bdarnell opened #17973 "build: Reconsider go version restrictions"
CockroachDB 1.0's Makefile only allows it to be built with Go 1.8, even though Go 1.9 has been released and CockroachDB 1.1 is not yet available (and assuming both projects stick to their respective release schedules, a similar situation will play out for each CockroachDB release). This is inconvenient for users who may have to downgrade their version of Go to build CockroachDB from source (or mak

[2017-08-28 20:23] #17645 closed

[2017-08-28 20:44] petermattis commented on #14512
I just ran an accidental experiment where the cache size was 0 (see #17975). The performance impact was in the 5-10% range for `kv --read-percent 95`. That's quite a bit smaller than I expected. I'm going to run some additional tests to validate this, but if that number holds up it argues strongly for a smaller default `--cache-size` setting.

[2017-08-28 21:19] petermattis commented on #14512
Actually, #17975 resulted in the default block cache size which is 8MB, not 0.

[2017-08-28 21:34] cockroach-teamcity opened #17977 "teamcity: failed tests on master: acceptance/TestDockerCLI, acceptance/TestDockerCLI/test_missing_log_output.tcl"
The following tests appear to have failed:

[#336755](https://teamcity.cockroachdb.com/viewLog.html?buildId=336755):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-28 21:42] cuongdo opened #17979 "storage: re-enable stats-based rebalancing"
#17968 disabled stats-based rebalancing because of unresolved issues under certain situations.

Re-enabling it wil involve:
- [x] Fix behavior under splits without load (found while testing `sky`)
- [x] Fixing storage: stats-based rebalancing can't handle large numbers of splits and scatters #17671
- [x] Fixing storage: Delayed update of per-store write stats can cause rebalance thrashing #17970
-

[2017-08-28 23:17] d4l3k opened #17980 "panic: flow: no bytes in account to release, v1.1 alpha"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply the output of `cockroach version`
   and all flags/environment variables

[2017-08-28 23:29] d4l3k commented on #17980
Seems the minimum reproduce case is
[code]
Interestingly
[code]
and
[code]
both work.

The `CREATE TABLE` statement: https://gist.github.com/d4l3k/290317fc62489cfa67aa99d2414281a0
Doesn't seem to be immediately reproducible just creating the table and running the query.

[2017-08-28 23:42] d4l3k opened #17981 "bug: cockroach dump produces invalid SQL due to NaN values"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply the output of `cockroach version`
   and all flags/environment variables

[2017-08-29 00:14] d4l3k commented on #17980
Here's a stripped down version of the SQL dump that can reproduce it on a clean instance.
https://gist.github.com/d4l3k/1990cb954417912bc545883412e8aec6

[2017-08-29 00:22] d4l3k commented on #17980
Discussion with @benesch  https://gitter.im/cockroachdb/cockroach?at=59a4b1f19acddb2407dbf57f

[2017-08-29 01:03] benesch commented on #17980
I think I found the bug, actually. Drawing up a PR.

[2017-08-29 01:11] cuongdo commented on #17980
Also, hello @d4l3k and thanks for the bug report!

[2017-08-29 01:12] d4l3k commented on #17980
@cuongdo Hey, happy to help!

[2017-08-29 03:03] bdarnell commented on #17815
With #17939, it's passed six hours of test runs (before, it hadn't passed more than three hours in a row). I'll keep running it but so far it's looking good.

[2017-08-29 11:30] TomArbuckle commented on #16168
Cancel Query Tests -- One Node via HAProxy

Continue test via HAProxy using same DB. Leave the setup (client + DB) running for a while.

Number of CockroachDB connections increases (~85 at present) while number of HAProxy connections remains mid-teens (as measured using lsof).

Try to cancel all running queries using cockroach sql shell.

Very few are cancelled. (Notch in top plot at around 11.05.

[2017-08-29 11:49] nvanbenschoten commented on #17815
@bdarnell that's a very good sign. Did this run overnight?

[2017-08-29 13:40] cuongdo commented on #17922
For posterity, it looks like the last schema change test that had stats-based rebalancing enabled timed out after 24 hours:

https://teamcity.cockroachdb.com/viewLog.html?buildId=335827&buildTypeId=Cockroach_Nightlies_SchemaChangeTest3to510g&tab=buildLog

[2017-08-29 13:42] #17880 closed

[2017-08-29 14:12] cuongdo opened #17989 "storage: allocator 3 to 5 small test failing"
https://teamcity.cockroachdb.com/viewLog.html?buildId=336851&tab=buildResultsDiv&buildTypeId=Cockroach_AllocatorTest3to510g

This build included the change to disable stats-based rebalancing. I've run the test locally, since the logs weren't collected for the TeamCity run (known issue with test timeout). Here the logs from my local run:

[3to5small.zip](https://github.com/cockroachdb/cockroach/fil

[2017-08-29 14:15] benesch commented on #17981
This looks to be a bug in the way sql/parser stringifies floats; the constants +Inf, -Inf, and NaN need to be wrapped in single quotes.

[2017-08-29 14:18] bdarnell commented on #17815
No, I've just been doing a series of manual 1-hour runs. Longer runs can produce tons of logs and require more analysis time at the end of the run.

[2017-08-29 15:01] vivekmenezes commented on #15765
I'm looking at fixing this issue this week

[2017-08-29 15:03] nvanbenschoten commented on #17815
Ok, I just merged #17939 so if we see this issue again we'll know that the CommandQueue fix didn't fully resolve this.

[2017-08-29 16:09] a-robinson commented on #17341
@RaduBerinde @benesch should I assume given the lack of follow-up that improving the lease scattering isn't needed for 1.1? How serious of an issue is it?

[2017-08-29 16:10] tschottdorf commented on #17945
#17969 has a nicer test-generated issue comment.

[2017-08-29 16:10] #17945 closed

[2017-08-29 16:12] d4l3k commented on #17981
And if it's a decimal field they need to be wrapped in `CAST('NaN' as
DECIMAL)`

On Tue, Aug 29, 2017, 07:16 Nikhil Benesch <notifications@github.com> wrote:

[2017-08-29 16:18] RaduBerinde commented on #17341
It's not critical for 1.1 but it would be nice to address in the future (hence the "Later" milestone).

[2017-08-29 16:41] bdarnell commented on #17815
OK, after a few more passing test runs I'm going to call this fixed by #17939.

[2017-08-29 16:41] #17815 closed

[2017-08-29 16:42] petermattis commented on #14512
Another option: we could place the timeseries data in a separate column family. Each column family can have a separate cache and we would configure a much smaller cache for the timeseries column family. Somewhat onerous to do a migration, but feasible for a newly created store. Also seems like quite a bit of work to avoid this memory growth, but tossing it out there is a possibility.

[2017-08-29 16:57] bdarnell commented on #14512
Given that accidental experiment, setting a small fixed default for 1.1 makes sense to me (I'd go with 128MiB). We can postpone refactoring to something like `--total-memory` instead f `--cache` until later.

[2017-08-29 16:58] dianasaur323 opened #17994 "ui: update tooltips to accurately describe metrics"
Currently tooltips show the following:

![image](https://user-images.githubusercontent.com/5768024/29833485-9a0a5e28-8cb9-11e7-9b97-e8ad9cb55977.png)

However, it's more accurate to say that it is the 10-sec rolling average number of queries that started processing per second. We need to update this tooltip since it was confusing.

Addresses https://github.com/cockroachdb/cockroach/issues/17948

c

[2017-08-29 16:59] dianasaur323 commented on #17948
Hm... that's odd behavior. Let me dig into what others show and get back to you on this. It seems to make sense that we are showing # of queries started per second, although that seems to go against a general question someone might have: how many queries are currently running? I think we should create a separate issue for updating the tool tip: https://github.com/cockroachdb/cockroach/issues/17994

[2017-08-29 17:02] tschottdorf opened #17995 "TestDecommission is flaky"
it times out during

[code]

https://teamcity.cockroachdb.com/repository/download/Cockroach_UnitTests_Acceptance/337493:id/acceptance/acceptance.log

[2017-08-29 17:03] petermattis commented on #14512
Ok. I need to re-run that experiment in a non-accidental setting. I'll try with the default `--cache-size` vs `--cache-size=128MiB`.

[2017-08-29 17:11] benesch commented on #17981
It's safe and more portable—I _think_—to leave off the cast. Since the literal is used in a `VALUES` clause where the type is known from the table's schema, it'll coerce to `FLOAT` or `DECIMAL` as appropriate.

[2017-08-29 17:21] dianasaur323 commented on #17910
@benesch that's fine - I understand that there are some other issues with BU/R that you need to work on first. We can allocate time to bug fix this in 1.2, although getting this out in 1.1 is better. I think it's become clear that trying to build out admin UI features during bug fixing stage is not really the best approach, so we'll adjust in 1.2.

[2017-08-29 17:22] dianasaur323 commented on #17946
Ok, let's move this into 1.2, but keep that other jobs table related issue in 1.1 in case you have time. This one seems like a larger issue that we might not have time to address.

[2017-08-29 17:25] petermattis commented on #17959
Using `max_open_files = 10000` provides no measurable performance hit.

Tested `kv --read-percent-95 --splits=1000` on a 6-node cluster, varying `--concurrency` from 6 up to 384:

<img width="719" alt="screen shot 2017-08-29 at 1 22 18 pm" src="https://user-images.githubusercontent.com/6201335/29834593-5bea2516-8cbd-11e7-9da9-7b07c6706032.png">

Red is with `max_open_files = -1` and blue is `max_o

[2017-08-29 17:25] #17959 closed

[2017-08-29 17:26] #16378 closed

[2017-08-29 17:29] knz commented on #17969
Caused by #17935 I think.

[2017-08-29 17:50] cockroach-teamcity opened #17999 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_agg"
The following tests appear to have failed:

[#337615](https://teamcity.cockroachdb.com/viewLog.html?buildId=337615):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-29 18:20] benesch commented on #14955
Punting to 1.2. Scatter seems to work sufficiently well for 1.1, especially with Peter's latest changes.

[2017-08-29 18:21] benesch commented on #17355
Punting this to @mjibson and @dt, since it's CSV related. :)

[2017-08-29 18:29] a-robinson commented on #17989
@cuongdo that zip file doesn't appear to exist on github servers. Still have a copy that you can reupload?

[2017-08-29 18:31] cuongdo commented on #17989
This is a more recent failure through TeamCity that has server logs in the artifacts:

https://teamcity.cockroachdb.com/viewLog.html?buildId=337646&tab=buildResultsDiv&buildTypeId=Cockroach_AllocatorTest3to510g

The errors look different for some reason.

[2017-08-29 18:36] a-robinson commented on #17989
That test run looks downright busted. The stderr artifacts don't include any actual logs (did we change the log settings for acceptance tests recently?) and the block writer output indicates that the cluster got completely stuck early on in the test.

[2017-08-29 18:45] RaduBerinde commented on #14948
Moving to 1.2. The temporary solution we have in place (increased connection window limit) seems to be working fine.

[2017-08-29 18:47] cuongdo commented on #17989
The `cockroach.{stderr,stdout}` files only have the CockroachDB startup messages. Most logs are in `node.?/cockroach/cockroach.log`. For example:

https://teamcity.cockroachdb.com/repository/download/Cockroach_AllocatorTest3to510g/337646:id/acceptance/node.0/cockroach/cockroach.log

[2017-08-29 18:48] tschottdorf commented on #17375
Also seen in CI: https://teamcity.cockroachdb.com/viewLog.html?buildId=337645&buildTypeId=Cockroach_UnitTests

[2017-08-29 19:08] vivekmenezes commented on #17922
@cuongdo I'm planning on looking at this after #17989 is fixed. Does that make sense?

[2017-08-29 19:12] dianasaur323 commented on #17910
ok, bumping over to @dt. As discussed, best to get in 1.1, but the world won't end if it doesn't make it in. Thanks all!

[2017-08-29 19:13] a-robinson commented on #17922
It doesn't make much sense given that this test has been failing more consistently since a more well-defined day, but it does make sense given that they're potentially hitting the same issue. Feel free to wait.

[2017-08-29 19:16] vivekmenezes commented on #17922
It's failing in a number of places. Let me at least run it by hand and see
if it works

On Tue, Aug 29, 2017 at 3:13 PM Alex Robinson <notifications@github.com>
wrote:

[2017-08-29 19:17] a-robinson commented on #17989
Doh, thanks. I don't know why my brain wasn't processing the additional "cockroach" dropdowns.

Anyways, the splits on the cluster are pretty messed up. Tons of snapshots are failing with intersection errors for a bunch of different ranges. There may also be an issue with the replicate queue getting stuck, but it's hard to tell whether that's just a symptom of all the snapshot errors.

[code]

I'm

[2017-08-29 19:41] justinj commented on #17199
Yes this indeed looks to be wrong to me and inconsistent with pg. It appears to me that the use of either `time.UTC` or `loc` [here](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/parser/datum.go#L1101-L1106) is incorrect, but we have tests that fail if I change either so I think a bit more investigation is in order.

[2017-08-29 19:57] #17839 closed

[2017-08-29 20:17] cuongdo opened #18006 "sql: support LIMIT for DELETEs"
MySQL has a `LIMIT` clause for `DELETE` that allows one to incrementally delete rows from a table. Instead of deleting all rows at once, one can execute `DELETE ... LIMIT N` until there are no more rows to be deleted. This reduces the duration of the transaction containing the `DELETE`. (See the [MySQL DELETE docs](https://dev.mysql.com/doc/refman/5.7/en/delete.html) for more details.)

This is a

[2017-08-29 20:29] #17980 closed

[2017-08-29 20:37] cockroach-teamcity opened #18008 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#337904](https://teamcity.cockroachdb.com/viewLog.html?buildId=337904):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-29 20:44] cockroach-teamcity opened #18010 "teamcity: failed tests on master: testrace/TestLoadCSVPrimaryDuplicate"
The following tests appear to have failed:

[#337926](https://teamcity.cockroachdb.com/viewLog.html?buildId=337926):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-29 20:44] #15772 closed

[2017-08-29 20:48] #17257 closed

[2017-08-29 20:59] cockroach-teamcity opened #18011 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#337977](https://teamcity.cockroachdb.com/viewLog.html?buildId=337977):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-29 21:02] cockroach-teamcity opened #18012 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#337999](https://teamcity.cockroachdb.com/viewLog.html?buildId=337999):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-29 21:05] cockroach-teamcity opened #18013 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/fk"
The following tests appear to have failed:

[#338007](https://teamcity.cockroachdb.com/viewLog.html?buildId=338007):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-29 21:06] #17563 closed

[2017-08-29 21:17] andreimatei opened #18014 "sql: TestStreamingWireFailure is flaky"
[code]

[2017-08-29 21:36] nvanbenschoten commented on #16266
Now that it looks like we fixed the consistency issue here, the rest of this issue can be moved to 1.2, right?

[2017-08-29 21:54] cockroach-teamcity opened #18015 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#338091](https://teamcity.cockroachdb.com/viewLog.html?buildId=338091):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-29 21:56] petermattis commented on #14512
Running `kv --read-percent=0 --splits=1000 --concurrency=384` on a 6-node cluster:

[code]

The `ops/sec(1)` run corresponds to `--cache-size=128MiB` while the `ops/sec(2)` run corresponds to the default cache size which on the machines tested is `6.9GiB`.

Graphs from the `--cache-size=128MiB` run:

<img width="922" alt="screen shot 2017-08-29 at 3 57 47 pm" src="https://user-images.githubusercon

[2017-08-29 22:10] bdarnell commented on #16266
Yeah. Or even better, retitle this to the consistency issue that took it over, close it, and make a new issue to lift the restriction in 1.2.

[2017-08-30 01:16] petermattis commented on #14512
A read-heavy workload (`kv --read-percent 95 --concurrency 384`) on the same 6-node cluster as above and pre-populated with the same data (~6.25GiB) shows a much bigger effect from a smaller cache size.

[code]

The first 5 mins in the graphs below are with a `--cache=128MiB`. The second 5 mins are with `--cache=6.9GiB`.

<img width="934" alt="screen shot 2017-08-29 at 9 11 38 pm" src="https://use

[2017-08-30 06:45] mjibson opened #18021 "sql: func exec timeout GENERATE_SERIES"
`panic: func exec timeout: SELECT GENERATE_SERIES(9223372036854775807::int, -9223372036854775807::int, -9223372036854775807::int)`

The above error (it's not a real panic, just a timeout enforced by RSG) occurred. It's possible this isn't a bug and that function is supposed to take >10s to complete (see https://github.com/cockroachdb/cockroach/blob/6151997b9ca391811144e89e5544ede2a13ddac5/pkg/sql/

[2017-08-30 08:43] #17915 closed

[2017-08-30 11:57] cuongdo commented on #17989
This happened again with last night's run. Let me know if you want me to set up a cluster to poke at. I can copy your SSH public key over and give you full access.

[2017-08-30 12:21] kain1e opened #18022 "sql: investigate support for DbVisualizer"
**BUG REPORT**

There's a slight shortage of DB schema visualization tools that works natively with CockroachDB through the PostgreSQL JDBC driver. [DbVisualizer](https://www.dbvis.com/) is one that I believe is quite popular because of its solid feature set and cross-platform support.

When using DbVisualizer the tables and relations shows up properly in diagrams, but columns magically disappears

[2017-08-30 12:23] kain1e commented on #18022
[cockroach.log.txt](https://github.com/cockroachdb/cockroach/files/1263534/cockroach.log.txt)

[2017-08-30 12:24] kain1e commented on #18022
oops

[2017-08-30 12:30] knz commented on #18022
Here are the queries I could pick up from the trace:

[code]

[2017-08-30 12:44] knz commented on #18021
This is caused by an integer overflow:

- 1st iter: start = 9223372036854775807, start < end is still false
- 2nd iter: start = 0 (9223372036854775807 + (-9223372036854775807)), start < end is still false
- 3rd iter: start = -9223372036854775807, start < end is still false
- 4th iter: start underflows back to 9223372036854775806, start < end is still false
- ...
- 7th iter: starts underflows back

[2017-08-30 13:08] kain1e commented on #16978
It seems like the RFC links mentioned here are now date-prefixed:

SQL Partitioning -
https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20170208_sql_partitioning.md

Leaseholder Locality -
https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20170125_leaseholder_locality.md

[2017-08-30 13:09] knz commented on #18006
There's another advantage: if the table is not indexed, but the user knows ahead of time there's only N rows that match the delete condition, then the delete loop can stop scanning the table as soon as N rows have been deleted.

[2017-08-30 13:36] knz commented on #17977
Fixed by #17893.

[2017-08-30 13:36] #17977 closed

[2017-08-30 13:36] justinj commented on #9897
This is still in "later", but for future reference [here](https://begriffs.com/posts/2017-08-27-deferrable-sql-constraints.html) is a very interesting and in-depth article on deferrable constraints.

[2017-08-30 13:37] knz commented on #17981
@justinj @nvanbenschoten can you have a look a this? I think you poked at this code more recently than Matt.

[2017-08-30 13:41] knz commented on #17955
Toby can you please triage

[2017-08-30 13:42] knz commented on #17943
Dup #17942

[2017-08-30 13:42] #17943 closed

[2017-08-30 13:43] knz commented on #17518
Dup #17698

[2017-08-30 13:43] #17518 closed

[2017-08-30 13:43] knz commented on #17925
Dup #17698

[2017-08-30 13:43] #17925 closed

[2017-08-30 13:43] knz commented on #17942
Dup #17698

[2017-08-30 13:43] #17942 closed

[2017-08-30 13:43] knz commented on #18013
Dup #17698

[2017-08-30 13:43] #18013 closed

[2017-08-30 14:04] knz opened #18025 "sql: testrace error in logic_test/deep_interleaving"
I was investigating #17698 and found this unrelated issue:

Running with

[code]

Error:

[code]

This repros fairly reliably here.

(No error with config `default`)

[2017-08-30 14:07] a-robinson commented on #17989
No need, I didn't have any trouble reproducing it last night. I don't have it narrowed down to its cause yet, but there's a very real problem with taking the old store directories and running them with new binaries. The clusters are broken before we even add nodes 4 and 5, and before rebalancing ever starts.

What's really weird is that node 1 can't serve queries that nodes 2 and 3 can. For exampl

[2017-08-30 14:09] knz commented on #18025
@justinj can you perform the initial investigation for this to narrow down where the root cause is, as backup to Radu

[2017-08-30 14:09] a-robinson commented on #17989
And to add some logs, part of the problem is appearing in the form of context cancellations on node 1. Both in splits and in lease requests:

[code]

[code]

[2017-08-30 14:10] RaduBerinde commented on #18012
Dup of #18015

[2017-08-30 14:10] #18012 closed

[2017-08-30 14:11] RaduBerinde commented on #18011
Dup of #18015.

[2017-08-30 14:11] #18011 closed

[2017-08-30 14:11] RaduBerinde commented on #18008
Dup of #18015.

[2017-08-30 14:11] #18008 closed

[2017-08-30 14:15] RaduBerinde commented on #18015
107 seconds.. something gets stuck somewhere, this test usually takes a second. Maybe related to the recent changes for cancelation? (CC @itsbilal)

[2017-08-30 14:16] RaduBerinde commented on #18015
Can't repro locally.

[2017-08-30 14:17] #17512 closed

[2017-08-30 14:19] tamird commented on #17375
Reproduces readily under stress locally.
[code]
Stack traces are too large to post here.

[2017-08-30 14:20] RaduBerinde commented on #18025
There is no order by in the statement. It needs a `rowsort` indicator.

[2017-08-30 14:20] knz commented on #17698
I looked into the test and the error occurs always during the COMMIT of a transaction containing schema changes, in particular index changes. Andrei explained the error is likely due to a schema changer not properly supporting retryable errors.

@vivekmenezes please triage

[2017-08-30 14:21] knz commented on #18025
thanks!

[2017-08-30 14:22] RaduBerinde commented on #18025
I'll take care of it. There are a few other testfiles that have no "LogicTest:" directive and could probably use running in multiple configs.

[2017-08-30 14:22] knz commented on #18025
oh ok

[2017-08-30 14:22] knz commented on #18025
:+1: thanks!

[2017-08-30 14:26] RaduBerinde commented on #18015
[code]
Do these errors look familiar? @andreimatei @tschottdorf

[2017-08-30 14:31] dianasaur323 commented on #6307
punting to 1.2 due to risk of this breaking user workflow without sufficient QA time.

[2017-08-30 14:33] cfsnyder commented on #6583
That makes sense @bdarnell. Do you guys have plans to work on this anytime soon? I wouldn't mind trying to contribute, although I'd probably need a few pointers to get started because actually implementing the semantics sounds rather involved.

[2017-08-30 14:36] dianasaur323 commented on #17478
@a-robinson ok, let me shift the milestone to later so that we keep a record of this, but this way we can clean out our 1.1 milestone

[2017-08-30 14:39] knz commented on #16168
The SELECT query is meant to narrow down the join to a single row by performing a UUID equality lookup (`r.typeid IN (to_uuid('0000015c-59d5-da9e-affc-ffddd0e90006')))`). However the way this query was written was not optimized by CockroachDB  -- in turn causing each query to result in a full table scan. As the table grows with more records, each SELECT would be longer and longer, causing the late

[2017-08-30 14:49] #18006 closed

[2017-08-30 14:52] knz commented on #17225
Fixed #17933

[2017-08-30 14:52] #17225 closed

[2017-08-30 14:57] knz commented on #5452
Bumping to 1.2 because there are more changes to be done (see #17714)

[2017-08-30 14:58] cuongdo commented on #18006
That was remarkably fast. There goes another starter project! (Note that I didn't make it clear that this was intended to be a starter project, so you couldn't have known.)

[2017-08-30 15:01] knz commented on #18006
Well TBH I was also very concerned by #17921. Your idea is a very good way to alleviate that in 1.1.

[2017-08-30 15:02] tschottdorf commented on #18015
You usually see those when a replica is disfunctional (or the whole range is), in which case a command goes in but nothing comes out.

[2017-08-30 15:02] tschottdorf commented on #18006
Yeah, I'm pretty happy we now have a workaround in 1.1.

[2017-08-30 15:03] BramGruneir opened #18026 "sql: dotNET server explorer fails silently with npgsql"
The server explorer for npgsql's support for .net's server explorer fails with the following query.

[code]

[code]

But when I execute both the inner and outer query in the SQL console, they both work.
[code]

The user maxroach2 has grant all permission on the bank database, so I'm not sure why this isn't working.

[2017-08-30 15:04] jordanlewis commented on #18026
@BramGruneir can you try the queries again as the `maxroach2` user from the console?

[2017-08-30 15:07] BramGruneir commented on #18026
weird:
[code]

And in the logs I'm still seeing:
`query not supported for distSQL: unsupported node *sql.valuesNode without SQL VALUES clause`

Think this might be a permissions issue?

[2017-08-30 15:09] knz commented on #12611
It's queued after #17501 merges. I think once #17501 is in I can cook a small fix.

[2017-08-30 15:09] jordanlewis commented on #18026
The `query not supported` message is not an error - it's an info log explaining that the query will be executed with the classic sql execution engine.

Did you paste the log wrong or did you really search for `'ASE TABLE'`? :) That would be a problem.

[2017-08-30 15:10] cuongdo commented on #18006
Definitely. This was the right call.

[2017-08-30 15:12] BramGruneir commented on #18026
Hmm... not sure, reran:

[code]

[2017-08-30 15:17] cuongdo commented on #17677
@benesch Are you going to get to this by 1.1?

[2017-08-30 15:20] tschottdorf opened #18027 "acceptance: local cluster is blocked on problems with empty join flag (#13027)"
See https://github.com/cockroachdb/cockroach/pull/18007.

`TestMixedVersion` runs with three nodes as otherwise it's flaky: the node first restarted (i.e. the one without join flags) never manages to connect to gossip. See the comment within that test.

One theory is that the other three nodes manage to connect among each other sufficiently so that the don't feel that establishing new connections

[2017-08-30 15:27] cuongdo commented on #14768
@m-schneider Can you take this on during 1.2? The issue is a little vague now, and this will require an RFC. So, it'd be helpful if you worked with @tschottdorf on making this actionable.

[2017-08-30 15:30] vivekmenezes commented on #15026
@mattiasmak is this still an issue? I know we didn't do much here in terms of figuring out what the problem is, but time has moved on and many changes have been baked into the system. I'm wondering if you can try this out and refresh this issue/close this issue with your findings. Thanks!

[2017-08-30 15:30] jordanlewis commented on #18026
I can't reproduce this problem.

[code]

[code]

[2017-08-30 15:37] jordanlewis commented on #17965
Execution timeout:

[code]

Gonna close this until it comes up again.

[2017-08-30 15:37] #17965 closed

[2017-08-30 15:38] jordanlewis commented on #17951
Hmm, also execution timeout like #17965.

[2017-08-30 15:57] TomArbuckle commented on #16168
Very nice. Some preliminary EXPLAIN results.

cockroach version
Build Tag:    20bd2bc2d
Build Time:   2017/08/30 14:55:11
Distribution: CCL
Platform:     darwin amd64
Go Version:   go1.8.3
C Compiler:   4.2.1 Compatible Apple LLVM 8.1.0 (clang-802.0.42)
Build SHA-1:  20bd2bc2d1854d328b8ceac74fe22609b159feb3
Build Type:   development

Quick test: one node connected via HAProxy as above

EXPLAIN SEL

[2017-08-30 15:58] cuongdo opened #18029 "cli/decommission: decommission hangs with 3-node cluster"
I ran all of these locally (using macOS):

[code]

Then I ran:

[code]

Instead of outputting an error or completing, the CLI repeats the following output forever:

[code]

The fix is complex, so the best thing to do now is document as a known limitation. cc @jseldess

[2017-08-30 15:59] knz commented on #16168
So this clearly shows that these queries will perform orders of magnitude faster than previously. I'd be curious if the problem you were observing earlier still occurs now.

[2017-08-30 16:20] nvanbenschoten commented on #17981
@d4l3k nice to hear from you again! Hope everything is going well back at school.

It looks like we weren't using `FmtParsable` format flag in `cockroach dump`. I'm putting together a fix now.

[2017-08-30 16:44] bdarnell commented on #16168
Also, what is your haproxy configuration? There may be some things we can adjust there that will keep it from leaking connections the next time you find a query that ends up being very slow.

[2017-08-30 16:52] petermattis commented on #14768
I'd estimate that the coding portion of this is a small fraction of the work. The bigger task is to test the prioritization mechanism under a variety of rebalancing and recovery scenarios on real clusters.

[2017-08-30 17:10] petermattis commented on #14108
I still plan to verify my suspicion above that the performance degradation is due to the increasing data size and random writes, but this isn't a blocker for 1.1.

[2017-08-30 17:11] petermattis commented on #17902
@benesch Is there anything you want me to do here? Is this still happening after bumping the restore sstable size?

[2017-08-30 17:12] petermattis commented on #17660
This shouldn't be difficult to do, but it is not necessary to do in 1.1. Hopefully we'll get to it in September.

[2017-08-30 17:21] petermattis commented on #14512
@bdarnell Thoughts? There is a big performance win from a large cache size for reads, though I'd point out that Postgres defaults to 128MB.

[2017-08-30 17:29] a-robinson commented on #17989
So after disabling prevote, I've now had 3 straight runs that didn't hit this problem. That's not conclusive, but it's pretty fishy given the failure rate I've observed with prevote enabled.

I'm going to do a run with prevote enabled again and a bunch of verbose logging turned on to try and narrow in on the issue. Is there anything specific you'd suggest looking at, @bdarnell?

[2017-08-30 17:31] bdarnell commented on #6583
We don't currently have any plans to work on this, although we should probably get it on the roadmap (I'm marking it as 1.3 for now because the 1.2 release cycle is already pretty full, although this would be a good candidate for 1.2 if we find some slack in the schedule. cc @nstewart )

Implementing this would touch a lot of different parts of the code. No part is individually too tricky, but the

[2017-08-30 17:32] asubiotto commented on #17594
Added some instrumentation to print out the memory budget increases to compare with actual memory usage and the query successfully errored out:
[code]
I think this is indeed a problem of the GC not kicking in frequently enough since a failure to account for memory would imply that this query always fails with an OOM (assuming the leases are spread out evenly in all cases). Adding instrumentation (

[2017-08-30 17:32] #17594 closed

[2017-08-30 17:35] petermattis commented on #6583
Adding new API calls is a bit tedious. Could we add an `update` field to Scan and ReverseScan and change `{Scan,ReverseScan}.flags()` to indicate that these are write operations if that field is set? We have precedent for doing this with `DeleteRangeRequest`, though I recall there were arguments at the time over how that wasn't clean.

[2017-08-30 17:36] nvanbenschoten opened #18032 "storage: allow splitting meta2 ranges"
See #16266 for the initial issue before it diverged into a bug hunt.

#17565 disallowed splits in meta2 ranges due to problems with `RangleLookups`. `RangeDescriptors` for user ranges whose keyspan straddled meta2 ranges would not always be seen if a `RangleLookup` went to the left meta2 range. This was because meta `RangeDescriptors` are stored at `RangeMetaKey(desc.EndKey)`, which will be on the

[2017-08-30 17:38] nvanbenschoten commented on #16266
Fixed by #16266.

Meta2 splitting issue moved to #18032.

[2017-08-30 17:38] #16266 closed

[2017-08-30 17:44] bdarnell commented on #14512
Why such a big change from https://github.com/cockroachdb/cockroach/issues/14512#issuecomment-325475752 where you saw 5-10% slowdown in the 95%-read case? Was that test actually write-only?

With that much of a performance difference, it looks like we're not going to be able to set a default that always works and some class of users will be more or less required to set `--cache` to get reasonable

[2017-08-30 17:48] mjibson opened #18033 "cli/dump: round trip tests"
Test that dumps can be loaded back and the loaded data can be dumped to the same dump output.

See https://github.com/cockroachdb/cockroach/pull/18031

[2017-08-30 17:50] bdarnell commented on #6583
I thought about that but this seems like too big of a distinction to make based on a flag in the request instead of a whole new command. Imagine debugging command-queue problems when a `Scan` could be either a read or a write. I think it's better to do it cleanly this time.

[2017-08-30 17:54] petermattis commented on #14512
The test run in #14512 were short enough that the data still mostly fit in cache even at the reduced size.

@mrtracy How difficult is it to add a warning banner to the UI when a node's configured cache size is the default?

[2017-08-30 17:54] bdarnell commented on #18027
It's started without join flags the first time, but on subsequent restarts the recommended practice would be to add the join flag. Are you doing that here?

Are the restarted nodes coming back to the same ports they used the first time or are they using port zero again? In that case I think your hypothesis about the other three nodes forming connections between themselves is plausible.

[2017-08-30 17:54] mjibson commented on #17355
I need the create table statements, and the specific ALTER TABLE statement that caused this. Can someone provide those? (I know I can get the TPCH create table statements in a variety of places, but I want the specific ones here because they may contain indexes and that could be affecting this.)

[2017-08-30 18:05] #17981 closed

[2017-08-30 18:07] tschottdorf commented on #18027
The nodes are restarted with new, random ports. We add all the join flags we can, as in: the i-th started node gets i-1 addresses to join to, and nodes are started in parallel (i.e. we only wait for the port to be known, then fire up the next one).

[2017-08-30 18:08] andreimatei opened #18034 "sql: LeaseStore.WaitForOneVersion() doesn't like servers draining"
I haven't investigated in detail exactly what's wrong, but I believe something definitely is.
`LeaseStore.WaitForOneVersion()` seemingly retries some actions forever, without responding to servers shutting down.
Here's how to reproduce some badness:
If you insert a bogus `t.Fatal()` at this place:
https://github.com/cockroachdb/cockroach/blob/f50c95326743d7bd0a63bc578a7ac8de0c294c81/pkg/sql/rename

[2017-08-30 18:11] bdarnell commented on #18027
I see. So you can't give the first node to restart a join flag even if you wanted to. I think giving all the other nodes *only* the first node's address would work (then they couldn't form a connected network on their own that didn't include the first node).

Someone was recently talking about adding a way to dynamically update a node's join flag, which would be useful here (maybe this issue is wh

[2017-08-30 18:12] a-robinson opened #18035 "ui: TypeError while loading range debug page on broken range"
On a cluster affected by #17989, trying to load up a problematic range on a functioning node only displays the message below. It may be related to the fact that node 1 doesn't is supposed to have a copy of replica 357 but hasn't yet processed the split that created it. This is annoying, but not incredibly urgent.

<img width="887" alt="screen shot 2017-08-30 at 2 09 54 pm" src="https://user-images

[2017-08-30 18:12] tschottdorf commented on #18027
Yeah, I was suggesting that. You're right that pointing everyone at the first node would do the trick. I'll try that.

[2017-08-30 18:16] bdarnell commented on #17989
Where is that screenshot?

The main thing I'd look at is the interaction with quiesced replicas. When a replica is stuck as a PreCandidate, is it quiesced? Are the other replicas quiesced? Is there a leader?

[2017-08-30 18:16] petermattis commented on #17500
Another area for investigation is handling applying Raft commands differently on followers vs the leader. Followers need to keep track of the commit Raft log index, but they don't actually need to apply the commands until they become the leader. At the very least this suggests there are opportunities for batching of the command application.

[2017-08-30 18:19] vivekmenezes commented on #17698
I think this bug is being triggered by a race between two transactions on the SystemConfig--the transaction in this fk logictest, and a read on the system config done through updateSystemConfig, called by LeaseManager::RefreshLeases(). Why this bug is being triggered now is unclear, but I suspect it's because of https://github.com/cockroachdb/cockroach/pull/17307 . Let me think about this further

[2017-08-30 18:24] a-robinson commented on #17989
Sorry, here are screenshots of the range:

<img width="480" alt="screen shot 2017-08-30 at 2 21 53 pm" src="https://user-images.githubusercontent.com/7085343/29888359-a4896ff8-8d8e-11e7-87cc-6f4f8c4a74da.png">

<img width="616" alt="screen shot 2017-08-30 at 2 22 00 pm" src="https://user-images.githubusercontent.com/7085343/29888366-a719324e-8d8e-11e7-8285-7302472f4c64.png">

[2017-08-30 18:24] bdarnell commented on #17500
They need to be caught up (at least with respect to all ChangeReplicas commits) to become a candidate, not just the leader. And I think even as a follower, falling too far behind on ChangeReplicas can be a bad thing. But yes, queueing up changes and batching them on followers can be helpful.

[2017-08-30 18:30] a-robinson commented on #17989
Or check out http://rebal-3to5s-lonelyjennings-cockroach-2.eastus.cloudapp.azure.com:8080/#/reports/problemranges for your pick of ranges currently in this state

[2017-08-30 18:37] bdarnell commented on #17500
Another possibility: Currently, in `Replica.handleRaftReady`, we write all new log entries and the HardState to disk before sending any messages. This is conservative; some messages can be sent concurrently with the write to disk and this would improve latency by allowing the followers to start their disk syncs before the leader has completed its.

Specifically, a `MsgApp` can be sent before the `

[2017-08-30 18:44] nvanbenschoten commented on #17500
Batching the application of Raft commands would also be simpler on followers because followers don't need to deal with the proposal of future commands. Prop eval KV requires that future proposals look at the MVCC/engine layer to compute its `WriteBatch` after all prerequisite commands have applied their commands. This constrains us in the way I said before:

I foresee this constraint making it mor

[2017-08-30 18:44] cockroach-teamcity opened #18038 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_agg"
The following tests appear to have failed:

[#338904](https://teamcity.cockroachdb.com/viewLog.html?buildId=338904):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-30 18:47] tschottdorf commented on #18027
I've implemented this, but unfortunately I'm still seeing a deadlock in `TestGossipRestart`:

[code]

All nodes restarted pointing at the same node, but none of the nodes actually gets to serving. Looking at the logs, all but the first one claim to have connected to gossip. Perhaps the first range is unavailable (caught in a middle of a rebalance? Does that explain it or should we survive with one

[2017-08-30 18:47] tschottdorf commented on #18027
(I should clarify that the first range is definitely unavailable and hasn't gossiped the first range descriptor in the last posting).

[2017-08-30 18:55] bdarnell commented on #17989
This is a very old backup, from before the introduction of epoch leases (it's interesting that node 2, as the lease holder when the backup was taken, was able to backdate its new epoch lease to 2016). It also predates propEvalKV, which is a problem. We don't support upgrading clusters that old any more; if there were any raft log entries that were committed but unapplied, things will break (I woul

[2017-08-30 18:57] bdarnell commented on #18027
Try running with COCKROACH_ENABLE_PREVOTE=false (inspired by #17989)

[2017-08-30 18:58] a-robinson commented on #17989
Ugh, I had been reading that as June 2017, not June 2016. Yup, looking into this as it currently stands is pretty worthless.

[2017-08-30 19:02] tschottdorf commented on #18027
Manually restarting the first node with a reasonable join flag brought it into the state of the other nodes: gossip-connected, but otherwise broken. Interestingly, the range1 page now loads and shows (on n1)

![image](https://user-images.githubusercontent.com/5076964/29889772-5f3bb294-8d93-11e7-9cc6-674d691229d9.png)

Unfortunately, the `#/reports/network` endpoint is useless:

![image](https://us

[2017-08-30 19:04] a-robinson commented on #17989
@cuongdo was anything special required to create these dumps way back in 3ef36e66441c008a2d339ef6cf4798b6a4e3bd7a? Should we create new dumps or should we download the existing ones, migrate them to be usable with post-1.0 builds, and re-upload them?

[2017-08-30 19:07] jseldess commented on #18029
Thanks, @cuongdo. The idea here is that, since there's no other node for rebalancing node 3's replicas, decommissioning can't ever make progress?

[2017-08-30 19:07] cuongdo commented on #17989
It's interesting that these tests have been mostly working this whole time.

In any case, the dumps were created using `block_writer`. There's nothing at all valuable about these dumps, so they should be recreated. I can do that.

[2017-08-30 19:09] tschottdorf commented on #18029
Yeah, exactly. More generally, if the zone configurations don't allow for a balanced cluster in the absence of this node, then the decommissioning progress will wait until that is resolved (i.e. potentially forever). More practically speaking, the rebalancer won't break the rules to move data off the node.

[2017-08-30 19:10] #17909 closed

[2017-08-30 19:10] a-robinson commented on #17989
Well, just because there's no guarantee that such upgrades work it doesn't mean that they're guaranteed not to :) It is interesting that prevote seems to tickle the badness more often, but making a situation that already has undefined behavior break more frequently isn't necessarily bad.

[2017-08-30 19:16] tschottdorf commented on #18027
Confirmed (looking at all gossip endpoints) that node1 and node4 have exchanged their addresses, and that n2 and n3 haven't. I doubt we can blame this on prevote -- somehow the descriptors got ignored.

Ah, fantastic. I think I have an idea of what's happening here. The node descriptor is gossiped periodically in `startGossip`. `startGossip` also triggers gossip of the first range. Unfortunately,

[2017-08-30 19:19] tschottdorf commented on #18027
Hrm, I looked at the wrong goroutine (I wanted `(*Node).startGossip` to hang). Time to sleuth some more...

[2017-08-30 19:22] vivekmenezes commented on #18038
assigning to @andreimatei to triage

[2017-08-30 19:23] robert-s-lee commented on #17355
Attached is DDL used at AMEX

[tpch-ddl.sql.zip](https://github.com/cockroachdb/cockroach/files/1264802/tpch-ddl.sql.zip)

[2017-08-30 19:25] Mountainerd opened #18041 "ui+storage: new docker cluster displays incorrect capacity in UI"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file for each node in your cluster.

    **roach1**
    I170830 16:07:35.157989 1 util/log/clog.go:1013  [config] file created at: 2017/08/30 16:07:35
    I170830 16:07:35.157989 1 util/log/clog.go:1013  [config] running on machine: roach1
    I170830 16:07:35.157989 1 util/log/clog.go:1013  [config]

[2017-08-30 19:26] jseldess commented on #18029
Got it. Thanks, @tschottdorf. Will incorporate this into the decommissioning docs and add a known limitation.

[2017-08-30 19:27] tschottdorf commented on #18027
Ah. The descriptor is gossiped at one hour frequency:

[code]

First of all that seems pretty high, so lowering this will probably "fix" things (if gossip takes the value as "new" and actually broadcasts again).

But, why didn't gossip distribute the first value? Each node definitely has their own descriptor in gossip, and presumably they would distribute them.

Oh wait:

[code]

duh. Of course, b

[2017-08-30 19:34] tschottdorf commented on #18027
I restarted the first node on its previous port (54882) and things didn't get much better. I just realized that nodes 2 and 3 aren't running any more. I'm not sure why and there's nothing in the logs. Perhaps I accidentally killed them, though how I'm not sure.

[2017-08-30 19:45] justinj commented on #15649
OK, I've traced through the code and I think I have a good handle on how it works now. It seems to me that what @RaduBerinde said is correct - that the primary index is unused because it has more columns and so is considered more expensive than the other index, despite having a matching ordering. Seems like the simplest fix would be to just add some tweakable constants to scale up the cost of not

[2017-08-30 19:45] asubiotto commented on #16718
1.1 testing is tracked in this issue: #15775

[2017-08-30 19:54] cuongdo commented on #16392
"Claiming" this task, as it will be Pete Vilter's starter project.

[2017-08-30 19:56] RaduBerinde commented on #15649
Yeah, the matching ordering should outweigh a difference in #columns in most cases.

[2017-08-30 19:57] BramGruneir commented on #15342
So I've merged #17913 that should do a better job of dealing with down nodes on the problem range report.

Reopen this if there are new issues.

Bram

[2017-08-30 19:57] #15342 closed

[2017-08-30 19:58] nvanbenschoten commented on #17500
@bdarnell you're referencing the optimized Raft pipeline from section 10.2.1 in the [Raft thesis](https://ramcloud.stanford.edu/~ongaro/thesis.pdf), right?

<img width="649" alt="screen shot 2017-08-30 at 3 53 22 pm" src="https://user-images.githubusercontent.com/5438456/29892136-75d391cc-8d9b-11e7-9ff2-6f7aadd7ee46.png">

It certainly seems like a clear win, although I'm not sure `etcd/raft` woul

[2017-08-30 19:58] mjibson commented on #16392
I've started some prerequisite work for this feature. Talk to me when work begins on this.

[2017-08-30 20:06] asubiotto commented on #15332
I've reproduced this on `navy` and will look into it

[2017-08-30 20:06] bdarnell commented on #17500
Yes, more or less, although that diagram doesn't quite work for the architecture of `etcd/raft`. And I agree that the edge case of a leader committing an entry without having it in its own log is not worth supporting.

[2017-08-30 20:09] tschottdorf commented on #18027
With three nodes, `TestGossipRestart` passes 20 consecutive runs locally. I'm not sure what's up here, but I'll restrict that test to three nodes to get my change in. @a-robinson, do you have any conjectures handy?

[2017-08-30 20:20] justinj commented on #16824
After discussion with Vivek, he thinks this test might reveal the issue if we remove the `INSERT` in the test above, I'll try that out and report back.

[2017-08-30 20:24] vivekmenezes commented on #15821
This is a fix going into our fork of the Hibernate repo. Taking it out of the 1.1 release.

[2017-08-30 20:38] tschottdorf commented on #18027
New run, new problem: the first node is stuck again. Interestingly it's stuck here:

[code]

This is notably before the point at which we start serving the cmux listener:

[code]

This raises the interesting question of: how does this ever work? And how are the other nodes claiming that they're connected to gossip? Are we perhaps persisting something and the other nodes immediately think they're g

[2017-08-30 20:58] cuongdo commented on #9797
@nvanbenschoten Can you fill in some details regarding what's needed here? I'm intending for this to be a starter project to be worked on starting next week.

[2017-08-30 20:59] tschottdorf commented on #18027
Yep, looks like the range on the first lease is still active on the other nodes (and the first range tends to be on all nodes but the first, presumably it gets rebalanced first):

[code]

So you have three nodes that do their own thing, but the first node out of its own volition can't ever come back to life.

I just added a 15s sleep between the cluster kill and the cluster restart, and the test s

[2017-08-30 21:08] nvanbenschoten commented on #9797
I think @BramGruneir actually just got started on this.

At a minimum, we'd want information about the size of the `CommandQueue`, similar to what we have in [`updateCommandQueueGauges`](https://github.com/cockroachdb/cockroach/blob/c01bef22d97156f2d125ea9caa16ee28b5655614/pkg/storage/store.go#L4048), but on a per-Replica basis.

I think we'd also want to get some insight into what commands are be

[2017-08-30 21:11] tschottdorf commented on #18027
Yeah, I think that's on the money. The test just passed a dozen times with this diff that simply opens the listener early.

It's probably not something that can merge without a healthy dose of scrutiny and archaeology, but at least we know what's up.

[code]

[2017-08-30 21:18] cuongdo commented on #17522
I doubt this is getting fixed in 1.1, but this needs to be a high priority for 1.2.

[2017-08-30 21:19] petermattis commented on #17143
@a-robinson This is fixed, right?

[2017-08-30 21:21] petermattis commented on #8765
@mrtracy This is done, right?

[2017-08-30 21:28] a-robinson commented on #17143
No, because I bundled it up with a more controversial change. I'll pull it out into its own PR.

[2017-08-30 21:28] cockroach-teamcity opened #18048 "teamcity: failed tests on master: testrace/TestRangeTransferLease, testrace/TestRangeTransferLease/DrainTransferWithExtension"
The following tests appear to have failed:

[#339059](https://teamcity.cockroachdb.com/viewLog.html?buildId=339059):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-30 21:32] a-robinson commented on #18048
#17365

[2017-08-30 21:32] #18048 closed

[2017-08-30 21:35] tschottdorf commented on #18027
A lengthy blame chase points at https://github.com/cockroachdb/cockroach/pull/5441 as the primary motivator in moving the listener so far down.

If we can refactor things so that we open ourselves up to gossip but postpone the rest, that would be good. Or not postpone the rest, but it seems that we do want to avoid RPCs to reach server components before they're fully set up.

Summoning @cuongdo fo

[2017-08-30 21:44] cockroach-teamcity opened #18051 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/storing"
The following tests appear to have failed:

[#339104](https://teamcity.cockroachdb.com/viewLog.html?buildId=339104):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-30 21:54] a-robinson commented on #18027
Sorry for not helping out on this earlier! It looks like you independently discovered the same problem as https://github.com/cockroachdb/cockroach/issues/13027, which is also [documented in our known limitations](https://www.cockroachlabs.com/docs/stable/known-limitations.html#join-flags-when-restoring-a-backup-onto-new-machines) (albeit with a focus on restore). That issue has a 1.1 milestone, bu

[2017-08-30 21:55] mjibson commented on #17355
I can't reproduce this, using your scripts on master (7d914b11163f69e56e1603df160419ad73d75ca1).

![ss](https://user-images.githubusercontent.com/41181/29896770-591656a8-8dac-11e7-9ca1-d04460b7df2e.png)

[2017-08-30 21:55] tschottdorf commented on #18027
I should add that while we're at it, it's also fairly counterintuitive that nodes who can't talk to any of their peers declare themselves "connected to gossip" just because they have a replica of the first range. I *think* morally what we mean by "gossip is connected" is that we see a quorum of peers that have the sentinel gossip key. I don't think we're very likely to implement that notion, but p

[2017-08-30 21:56] mjibson opened #18052 "ui: no whitespace between databases"
Seems like there should be some whitespace before "tpch".

![ss](https://user-images.githubusercontent.com/41181/29896809-7a630f36-8dac-11e7-8e1d-e13d9ecd2ba0.png)

[2017-08-30 21:56] petermattis commented on #18027
The work on `init` showed us how to listen on only a specific service initially and then add more services later. Can we do something similar and listen on gossip immediately?

[2017-08-30 21:57] tschottdorf commented on #18027
@petermattis I'll take a look, maybe this is straightforward.

[2017-08-30 22:03] petermattis commented on #18027
@tschottdorf For reference, see `Server.Start` and how `initL` is defined. In that case, `initL` intercepts all connections during initialization. We'd want something a bit different for gossip, but it seems feasible.

[2017-08-30 22:07] mrtracy commented on #14512
Adding a banner isn't too difficult; the possibly difficult part is fetching the data needed to determine if the warning should display or not.  If you're just looking at a cluster setting and comparing it to a constant, that's very easy, we just need an API for the UI to load that setting and inspect it.

[2017-08-30 22:08] mrtracy commented on #8765
Yes, the backend portion is complete, closing.

[2017-08-30 22:08] #8765 closed

[2017-08-30 22:11] petermattis commented on #14512
@mrtracy Would adding a new endpoint make sense? Since `--cache` is a per-node setting, I was thinking of adding a field to `NodeStatus`.

[2017-08-30 22:18] tschottdorf commented on #18027
I don't think it's quite that easy. The init listener becomes the only thing that listens on the node and later deactivates itself, at which point other connections can be made. We are in the situation in which we want to serve grpc traffic, but only for certain endpoints. I could set it up so that we serve first gossip RPCs only (i.e. you can talk gRPC to the port but no endpoint will exist excep

[2017-08-30 22:25] bdarnell commented on #18027
#5441 was trying to fix synchronization in tests. We have better ways of doing that now. I think it ought to be fine for a node with at least one initialized store to just start up all its listeners/servers early instead of waiting for gossip. I don't think we need to "404" the other kinds of RPCs, we just need to make sure that they return retryable errors while in this state. (I *think* the erro

[2017-08-30 22:41] tschottdorf commented on #18027
I just hacked together the `initL` approach. As in,

[code]

Then later it works. If we can't encapsulate it at the `(*Server).Start` level, then opening the listeners early and hoping that every endpoint does the right thing during startup sounds awkward to me. Perhaps we can just handle the above error where it becomes relevant (`DistSender`, ...) as retryable and non-ambiguous?

[2017-08-30 22:44] tschottdorf commented on #18027
Maybe this is a silly idea, but can we use a grpc interceptor which we use for all connections that we're serving? It won't do anything but delay all the non-gossip RPCs until we flip the "initialized" switch. Or it just straight-up returns an error of our choosing.

[2017-08-30 22:47] bdarnell opened #18055 "ui: "Leader not leaseholder" misreported as "no lease""
On cyan, the problem ranges page is currently reporting two ranges with "no lease"

![image](https://user-images.githubusercontent.com/160562/29898245-b66a0eca-8db2-11e7-9082-0bdccc35a5bf.png)

These ranges appear to have a valid lease, it's just not on the leaseholder (if the lease isn't valid, why not?):

![image](https://user-images.githubusercontent.com/160562/29898268-db60a450-8db2-11e7-8c76-

[2017-08-30 23:09] tschottdorf commented on #18027
Explored the interceptor idea (the obvious problem is that it adds a little bit of per-RPC overhead). A problem with the other one (initL-style gossip initialization) is that we're starting a separate grpc server, and there's no good way of shutting it down -- we'd either have to forcibly disconnect gossip clients (which is fine but causes annoying log messages) or do a graceful stop and live with

[2017-08-30 23:12] #17707 closed

[2017-08-31 00:09] tbg opened #18056 "gossip: revisit bootstrap address persistence"
In https://github.com/cockroachdb/cockroach/pull/3711, we added functionality that lets gossip store its peers to disk so that they can be re-used when the server is restarted (perhaps without join flags).

But this mechanism is problematic. Some examples (all variations of more or less the same theme):

1. it adds a degree of magic that can be confusing. "Why is my cluster trying to connect to so

[2017-08-31 00:11] tschottdorf commented on #18056
There could be a migration concern for existing clusters that only "work" because of this: in that case we want to leave in the code that reads the storage, but we remove the code that writes it.

[2017-08-31 00:25] tschottdorf commented on #17936
Ok, thanks for the info, @vivace-io! If it's a UI issue I'll defer to @mrtracy, but it would be helpful if you could post a screenshot of the "hover" above the empty graph, and let us know which browser you're using.

[2017-08-31 00:27] tschottdorf commented on #17215
This should be easy enough for someone with light core skills to pick up. Moving to 1.2 and unassigning, for now.

[2017-08-31 00:27] tschottdorf commented on #16697
pushing to 1.2.

[2017-08-31 00:29] tschottdorf commented on #15851
Moving to 1.2.

[2017-08-31 00:30] tschottdorf commented on #6198
I'll call this done, since the only remaining item is tracked in #17677, though the test is flaky (#17995).

[2017-08-31 00:30] #6198 closed

[2017-08-31 00:31] tschottdorf commented on #5678
actually, closing as a dupe of #15851.

[2017-08-31 00:31] #5678 closed

[2017-08-31 00:32] tschottdorf commented on #15959
Assuming this is still current, right? I haven't had a chance to look and won't for at least another week (which, judging by my last estimate, probably means more than that).

[2017-08-31 00:35] tschottdorf opened #18058 "rpc: fail at handshake time when node versions are incompatible"
see https://github.com/cockroachdb/cockroach/issues/17659.

We can do this in our `rpc` connection cache: before a connection becomes healthy, we require that both peers run with compatible binaries, and perhaps even compare their cluster IDs.

Should be a decent starter project. cc @cuongdo.

[2017-08-31 00:38] tschottdorf opened #18060 "ui: warn if cluster is using a version < largest binary version seen on live node"
Say a three-node cluster is running version 1.0 but the binaries are 1.1. There will be no mixed-version warning in the ui because all the nodes are running binary version 1.1. However, the user must explicitly run `SET CLUSTER SETTING version = '1.1'` and until they have done so, we should warn in the ui (and, periodically, in the logs).

I'm not familiar with ui land but pretty sure that this sh

[2017-08-31 00:41] tschottdorf commented on #17659
I'll call this done, but we could do more.
Filed https://github.com/cockroachdb/cockroach/issues/18058 which covers the last item.
Also filed https://github.com/cockroachdb/cockroach/issues/18060 about ui warnings.

I have not been able to confuse the gossip callback ordering, so I think that's more of a theoretical concern. The worry here is

1. node receives bump to 1.0-2
1. fires goroutine with

[2017-08-31 00:41] #17659 closed

[2017-08-31 00:55] tschottdorf commented on #14768
+ performance testing, as the mechanism will sit squarely in the hot path.

[2017-08-31 01:10] m-schneider commented on #14768
@cuongdo Sure sounds like a great project for 1.2!

[2017-08-31 01:12] irfansharif commented on #17370
heh, https://github.com/grpc/grpc-go/pull/1498 goes some way towards having a dedicated a dedicated flushing goroutine.

[2017-08-31 01:13] cockroach-teamcity opened #18063 "teamcity: failed tests on master: testrace/TestAmbiguousCommit/ambiguousSuccess=true, testrace/TestAmbiguousCommit"
The following tests appear to have failed:

[#339271](https://teamcity.cockroachdb.com/viewLog.html?buildId=339271):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-31 01:30] tschottdorf commented on #18063
Should be easy to fix, I just reproed with logging and got this:

[code]

So basically this is a shutdown error. Should be done when ignoring such requests.

[2017-08-31 02:05] a-robinson commented on #18055
In case it changes anything, the "Lease Holder QPS" counts any `Send()` call to a replica, and is an average over the last 30 minutes.

I'm not sure what's up with the "No Lease" errors.

[2017-08-31 02:12] a-robinson commented on #15959
I wouldn't worry about any of the allocator or schema change acceptance test flakes until @cuongdo can get new data dumps for us to use (see #17989).

[2017-08-31 02:15] a-robinson commented on #18058
While checking binary versions, we should definitely also check cluster IDs to fix https://github.com/cockroachdb/cockroach/issues/15898 and https://github.com/cockroachdb/cockroach/issues/15801 while we're at it.

[2017-08-31 03:14] tschottdorf commented on #16584
I've experimented a tiny bit with this:

https://github.com/tschottdorf/roacheteer

Creates pictures like so:

![out](https://user-images.githubusercontent.com/5076964/29904816-bc0fbf02-8dd8-11e7-9221-24692c3b0cac.png)

Definitely would need more love, in particular, automatic creation of the links.

I feel this is way too low-tech and that we should be able to cook up a better thing using react.

[2017-08-31 04:10] mjibson commented on #17355
We've fixed a lot of stuff since July 17, so I'll assume this was one of those. Can you close if you're ok with that?

[2017-08-31 04:26] mjibson commented on #16519
Moving to 1.2 because the full fix for this is a significant refactor that won't happen in 1.1.

[2017-08-31 05:47] tschottdorf commented on #18010
#17073

[2017-08-31 05:47] #18010 closed

[2017-08-31 05:48] tschottdorf commented on #17073
also spotted here: https://teamcity.cockroachdb.com/viewLog.html?buildId=339287&buildTypeId=Cockroach_UnitTests

Does it repro locally, @mjibson?

[2017-08-31 05:49] tschottdorf commented on #18015
Seen again: https://teamcity.cockroachdb.com/viewLog.html?buildId=339327&buildTypeId=Cockroach_UnitTests

[2017-08-31 05:58] tschottdorf opened #18068 "sideloading: remove empty directories"
See the following TODO from https://github.com/cockroachdb/cockroach/pull/17787:

[code]

@cuongdo this should be easy. Perhaps too easy for a starter project.

[2017-08-31 06:14] Mountainerd commented on #18041
I also pulled v1.0.4 and v1.0.3 and the behavior was the same.

[2017-08-31 06:14] Mountainerd commented on #18041
At the suggestion of Tobias, I pulled the v1.1-alpha.20170817 binary .tgz down, placed it in a Ubuntu container, and ran it. It showed GiB instead of TiB but still nowhere close on available space or used space. I suspect it has to do with how Apple does its filesystem.

I then built a contained environment by installing Ubuntu 16.04.3 (with a 100GB disk) in VirtualBox and then installed latest Do

[2017-08-31 07:00] mjibson commented on #17073
Haven't been able to get it to repro locally, no. Part of me wonders if there's a teamcity or other thing that's deleting these files. Really unsure what's causing this.

[2017-08-31 07:08] mjibson opened #18070 "sql: RSG func timeout: GENERATE_SERIES"
`func exec timeout: SELECT GENERATE_SERIES(-5191672249363875821::int, 2::int)`

The above query starts running and quickly consumes a full core and way more memory than the --max-sql-memory flag allows, so I assume we're missing some memory accounting here. This is a pretty easy query to DOS a server with. I tried to fix it but was not convinced about the correct way to memory account generators.

[2017-08-31 08:16] a6802739 commented on #15635
@RaduBerinde, could I have a try for this?

[2017-08-31 08:21] TomArbuckle commented on #16168
@bdarnell haproxy.cfg

[code]

Note that only node cockroach1 is being used for these tests.

[2017-08-31 08:24] a6802739 commented on #13231
@bdarnell  @petermattis  could I have a try for this? I'm very interested in this part. :)

[2017-08-31 10:54] petermattis commented on #13231
@a6802739 Go ahead, but probably worthwhile to sketch out what your plan is before implementing as you'll likely need to modify `etcd/raft`

[2017-08-31 11:22] petermattis commented on #17370
@irfansharif Yeah, I noticed that too.

[2017-08-31 11:44] vivekmenezes commented on #18051
same as https://github.com/cockroachdb/cockroach/issues/17493

[2017-08-31 11:44] #18051 closed

[2017-08-31 11:56] #17769 closed

[2017-08-31 11:57] #18063 closed

[2017-08-31 12:01] knz commented on #18070
Generators do not accumulate data in memory server-side. The specific case of memory problem that this query could have caused in the past was fixed in d974d819eaaa87699fe79834d8431990739afc4a (#17835).

The stack trace here shows a simple timeout. This specific query would produce many results so I'm not surprised by the timeout. @mjibson are you sure there is a problem to fix? Perhaps what we sh

[2017-08-31 13:17] knz opened #18072 "ui: sort the logs in reverse time order in display"
Currently in the Admin UI, e.g. at http://localhost:8080/#/cluster/nodes/1/logs

the log entries are displayed in chronological order, with the older entries at the top.

I think it is more common to want to see them in the reverse order.

[2017-08-31 13:53] #17143 closed

[2017-08-31 13:54] a-robinson commented on #18072
Dupe of https://github.com/cockroachdb/cockroach/issues/8907

[2017-08-31 13:54] #18072 closed

[2017-08-31 14:02] tschottdorf commented on #8907
How is this affected by UI authentication? Logs can contain sensitive information and especially during crashes we don't want to self-censor. Is it possible that we'll just remove the log endpoint completely, or do we have to revamp it so that it feeds off the log protobufs and prints only the format strings? But even that is brittle.

Either way, ISTM that we've stumbled over this too many times,

[2017-08-31 14:02] tschottdorf commented on #8907
Moving to 1.2 to do *something* because it's a waste of time to rediscover this issue every now and then. Plus it indicates that we actually would look at the logs in that way if it worked properly.

cc @cuongdo

[2017-08-31 14:09] tschottdorf commented on #18015
Seen again. I'll give repro'ing a shot, too.

[2017-08-31 14:25] tschottdorf commented on #18015
[code]

[code]

there's definitely *something* going wrong here. I can't imagine that `make stress` would stress the system *that* much.

[2017-08-31 14:28] TomArbuckle commented on #16168
@knz Retested version 20bd2bc via HAProxy connection.

Client + CockroachDB left running for a few hours in the background.

Mid-way, increased number of records from 10k to 30k and then beyond.

![screen shot 2017-08-31 at 15 12 35](https://user-images.githubusercontent.com/25199520/29928038-e1f7e0fa-8e5f-11e7-9b61-45cb4ba39427.png)

Looks good.

[2017-08-31 14:43] tschottdorf commented on #18015
got another one with a timeout panic, so at least I got some goroutines.

[code]

they're all in `beginCmds` in the command queue (nothing else happening on `*Replica`).

[code]

That doesn't seem possible - we should see something in `(*Replica).propose` when `beginCmds` blocks.

Here's the full dump of the goroutines. What's interesting is that exactly one is runnable:

[code]

Maybe this is jus

[2017-08-31 14:51] knz commented on #16168
Do you reckon we satisfactorily addressed the primary issue you reported initially?

[2017-08-31 15:04] robert-s-lee commented on #17355
Tried on 0819.  works correctly.  Thank you.

[2017-08-31 15:04] #17355 closed

[2017-08-31 15:11] dianasaur323 opened #18075 "ui: mouse-over sometimes shows different numbers from graphs"
![image](https://user-images.githubusercontent.com/5768024/29930654-fa95184e-8e3c-11e7-82a2-ff82a690baf9.png)

This is on our PM cluster composed of 4 nodes. I'm running a rolling restart to upgrade the cluster. I shut down 165.227.80.203 and the replicas should have gone down to zero. Mousing over, they indeed did, but the graph doesn't who it. I think this might have to do with https://github.co

[2017-08-31 15:21] TomArbuckle commented on #16168
Yes.

(Currently at ~90k inserts and still going (with a single node via HAProxy).)

[2017-08-31 15:26] knz commented on #16168
Ok then we'll let you test this a bit further so you can confirm there is nothing unwieldy popping up a bit further. Then in a few days if we don't hear back from you I'll close this issue. I hope this is acceptable to you.

In any case, **thank you** for pushing us to look into this. This problem definitely needed some love.

[2017-08-31 15:41] robert-s-lee opened #18076 "NULL loaded on NOT NULL using load csv"
separated this issue from incorrect size reporting that was closed https://github.com/cockroachdb/cockroach/issues/17355#issuecomment-326130454

Will test again when a new alpha is available
[logs.tar.gz](https://github.com/cockroachdb/cockroach/files/1267650/logs.tar.gz)
 as alpha 0817 regressed and cannot load the files

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of y

[2017-08-31 15:43] #18025 closed

[2017-08-31 15:44] benesch commented on #17817
Fixed by #17991.

[2017-08-31 15:44] #17817 closed

[2017-08-31 15:46] danhhz commented on #17819
I suspect this is going to be exceptionally hard to repro. Leaving the issue open but don't think there's anything to be done for 1.1

[2017-08-31 16:01] danhhz opened #18077 "sideloading: 2x disk usage after a restore"
When restoring X bytes of data, you need 2X (plus some headroom) of available space on the cluster. This is because (until the new tables get some traffic) the raft log for the new ranges is not truncated, so an entire copy of the restored data ends up sitting in raft logs.

We fixed this once by making the raft log truncation work by both number of entries and total size, but it seems there's a r

[2017-08-31 16:07] #14327 closed

[2017-08-31 16:08] petermattis commented on #18077
Is there an easy way to reproduce this without running a large restore? That is, can you give me a small test that uses sideloaded data. Shouldn't be difficult to track down where the lack of truncation is occurring.

[2017-08-31 16:13] danhhz commented on #18077
I could provide you with a 1GB restore. Anything smaller that that would probably require some work on my end to set up

[2017-08-31 16:14] dianasaur323 opened #18079 "jobs table is surfacing import jobs strangely"
I'm running an import job using the tpch-csv stored in azure.

It is failing with this error ```pq: azure://tpch-csv/sf-1/lineitem.tbl.1?AZURE_ACCOUNT_NAME=roachfixtureswestus&AZURE_ACCOUNT_KEY=MeIazPB%!F(MISSING)otG3dMtPjsMbJt2U1DnDuG9oFmxgFLSjI1W5JU294j2kENG6vvY2Sadv5CR7i2La%!B(MISSING)icviATClt3JXQ%!D(MISSING)%!D(MISSING): row 1: expected 16 fields, got 1```, but the job table is surfacing the

[2017-08-31 16:18] robert-s-lee commented on #18076
The same behavior on
Build Tag:    391d19f
Build Time:   2017/08/31 16:02:30

root@:26257/tpch>  ALTER TABLE nation ADD COLUMN interest DECIMAL NOT NULL DEFAULT (DECIMAL '1.3');
ALTER TABLE

Time: 102.738022ms

root@:26257/tpch>  ALTER TABLE lineitem ADD COLUMN interest DECIMAL NOT NULL DEFAULT (DECIMAL '1.3');
driver: bad connection
connection lost; opening new connection: all session settings wi

[2017-08-31 16:18] dianasaur323 opened #18080 "ui: formatting fixes for import csv with jobs tables"
The current import csv format doesn't conform with the other jobs in the jobs table.

![image](https://user-images.githubusercontent.com/5768024/29933571-1eef2474-8e46-11e7-892d-11a27b457e8d.png)

We should make these match by capitalizing IMPORT and surfacing the actual SQL statement utilized. Since it might be overkill to show the entire statement including paths to CSVs, we should consider what

[2017-08-31 16:22] robert-s-lee commented on #18076
This also causes metadata to be out of sync. column named interest is not there, but alter table sees conflict.

select * from lineitem limit 1;
+------------+-----------+-----------+--------------+------------+-----------------+------------+-------+--------------+--------------+---------------------------+---------------------------+---------------------------+-------------------+------------+---

[2017-08-31 16:23] vivekmenezes commented on #18076
Can you include the original schema for tables nation and lineitem? Were both tables added through the csv import?

[2017-08-31 16:28] petermattis commented on #18077
Is there a test I can run which generates sideloaded data?

On Thu, Aug 31, 2017 at 12:14 PM Daniel Harrison <notifications@github.com>
wrote:

[2017-08-31 16:32] vivekmenezes commented on #18076
This crash is happening because during the column backfill process for column interest the backfill finds a NULL value for one of the existing NON-NULL columns. I think SELECT * FROM lineitem should also crash the system.

[2017-08-31 16:47] vivekmenezes commented on #18076
[code]

[2017-08-31 16:49] BramGruneir commented on #17666
@kuanluo can you send me the no results image please, spider and text included!

[2017-08-31 16:53] kuanluo commented on #17666
@BramGruneir I just slacked it to you. Github doesn't support SVG files. :)

[2017-08-31 16:55] danhhz commented on #18077
TestDBAddSSTable

[2017-08-31 16:58] vivekmenezes commented on #18076
BTW I'm seeing all columns being set to NOT NULL which is the default value, which makes me suspect that the table descriptor isn't being initialized properly. Where in the code on the CSV side are the descriptors initialized?

[2017-08-31 16:59] #15860 closed

[2017-08-31 17:02] a-robinson opened #18082 "storage: panic in processRaft during preemptive snapshot handleRaftReady"
https://sentry.io/cockroach-labs/cockroachdb/issues/270615975/

[code]

[2017-08-31 17:03] bdarnell commented on #18027
I don't think it would be too bad to start the servers early and make sure it works with disconnected gossip (we already have to support the case when gossip becomes disconnected later). But if you're nervous about that an interceptor could work too (and I agree that that's better than a separate listener).

[2017-08-31 17:05] a-robinson commented on #18082
@cuongdo this is one of our most frequent panics in Sentry. Seems worth investigation for 1.1, even if it requires changes past the code freeze.

[2017-08-31 17:06] a-robinson opened #18084 "storage: panic in processRaft after handleRaftReady"
https://sentry.io/cockroach-labs/cockroachdb/issues/268859810/

[code]

[2017-08-31 17:06] a-robinson commented on #18084
@cuongdo this is one of our most frequent panics in Sentry. Seems worth investigation for 1.1, even if it requires changes past the code freeze. Possibly related to #18082

[2017-08-31 17:06] BramGruneir commented on #14174
We can close this once #17789 lands.

[2017-08-31 17:09] a-robinson commented on #14174
Although honestly I think the problem ranges page was the real fix here. It makes it clear which ranges we're failing to allocate for.

[2017-08-31 17:10] a-robinson commented on #18027
I wouldn't feel very safe about running before gossip is connected until we have https://github.com/cockroachdb/cockroach/issues/18058 in place to make sure the node we're talking to is from the same cluster and at a valid version.

[2017-08-31 17:13] BramGruneir commented on #14174
I also just merged another 2 fixes for the raft debug page #18069, which was reporting every range as a false positive.  So it too can be useful on smallish clusters.  For larger clusters, it's going to get too big too fast.  We might want to move the pagination on that up to onto the server at some point.  (or remove/replace that page)

[2017-08-31 17:14] a-robinson commented on #17479
Part 1 is done. Part 2 is too big/risky of a change to fit in for 1.1 Moving to the 1.2 milestone.

[2017-08-31 17:15] a-robinson commented on #17603
As with #17479, this would be too big of a change at this point in the release cycle. Moving to 1.2.

[2017-08-31 17:25] mjibson commented on #18070
Ahh the memory blowup was occurring in the client, not the server. Ok, yes, no bugs here.

[2017-08-31 17:25] #18070 closed

[2017-08-31 17:28] mjibson commented on #18076
CSV descriptors are made at https://github.com/cockroachdb/cockroach/blob/221490e339256a8ce627d341d234f22ed430406e/pkg/ccl/sqlccl/csv.go#L215

[2017-08-31 17:28] bdarnell commented on #18056
For more background see #2938.

We don't suggest that users omit the `--join` flags on restart, but I think we might suggest that they can be lazy about updating them. With persistent gossip bootstrapping, you only have to ensure that your join flags are up to date when you add a new node; without it you need to do so any time a node restarts. Removing this gossip persistence mechanism would proba

[2017-08-31 17:29] a-robinson opened #18085 "gossip: *errors.errorString: string infostore.go:151"
https://sentry.io/cockroach-labs/cockroachdb/issues/270737359/

[code]

[2017-08-31 17:31] a-robinson commented on #18085
Another of our most frequently occurring sentry crashes. Probably related to #16600, but this one has been showing up significantly more often and more recently.

[2017-08-31 17:33] vivekmenezes commented on #18076
robert can you explain the method you are using to specify the schema for the CSV import

[2017-08-31 17:40] bdarnell opened #18087 "ui: Event log overview truncated awkwardly"
![image](https://user-images.githubusercontent.com/160562/29936666-05f646c2-8e51-11e7-9a1d-d0193a4f565c.png)

The event log shown on the overview page is narrow, but the messages are fairly verbose and the portion shown here is not very useful. The "U" in the cluster setting messages is for "User", as in "Cluster Setting Changed: User root set trace.debug.enable to false". We should either give th

[2017-08-31 17:41] dianasaur323 commented on #18087
Thanks Ben. I think this is related to https://github.com/cockroachdb/cockroach/issues/17717, when we'll try to redesign or revamp the event log.

[2017-08-31 17:42] dianasaur323 commented on #17717
@nstewart perhaps, but you could also click into the full event log at the bottom to get an expanded view?

[2017-08-31 17:45] richardwu opened #18088 "sql: overloaded comparison to multiple elements in tuples and/or arrays"
In queries that involve comparisons to elements in tuples or arrays, we support overloaded comparisons (e.g. `TypeInt` and `TypeDecimal`) for **constants**:
[code]

This however will not work if we explicitly cast the left as `::INT` or if we use an `INT` column and there exists at least one non-`INT` in the tuple:
[code]
And similarly for operations such as `<left> <op> (ANY|SOME|ALL)(<array>)`.

[2017-08-31 17:46] bdarnell commented on #18087
OK, let's close this one and keep the discussion on #17717

[2017-08-31 17:46] #18087 closed

[2017-08-31 17:48] dt commented on #18079
(note, before anyone gets all excited, that key has been rotated)

[2017-08-31 17:49] RaduBerinde commented on #15635
@a6802739 sure.. You can make a proposal on what to do (either here in an RFC). I would first investigate how memory accounting works for non-distributed SQL.

[2017-08-31 17:49] cockroach-teamcity opened #18089 "teamcity: failed tests on master: testrace/TestToBackup"
The following tests appear to have failed:

[#340174](https://teamcity.cockroachdb.com/viewLog.html?buildId=340174):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-31 17:53] knz commented on #18079
Also I see `%!D(MISSING)%!D(MISSING)` in the message, which means that an URL is being passed as format argument to a `printf` function, no good.

[2017-08-31 17:54] benesch commented on #18079
(https://github.com/cockroachdb/cockroach/pull/18090/files)

[2017-08-31 17:58] dianasaur323 commented on #18080
Also, I think we want to be able to filter by import?

![image](https://user-images.githubusercontent.com/5768024/29937688-6893fe52-8e54-11e7-98b4-35c8ee25a974.png)

[2017-08-31 18:04] mrtracy commented on #14512
That works as well, it does seem aligned with the other information on NodeStatus.

[2017-08-31 18:08] a-robinson commented on #18056
I'm not sold on this. Being able to just specify one node in your join flags is really convenient and simplifies setup, but if we don't maintain a persistent bootstrap list it creates a single point of failure during restarts.

To respond to your points:

1. I have seen or heard this come up as an issue. Has it been common?
2. Yup, we need to handle this more gracefully. But we could achieve the s

[2017-08-31 18:09] #17910 closed

[2017-08-31 18:14] kuanluo commented on #18080
+1 to IMPORT.

Re: CSVs, what's the logic for RESTORE/BACKUP with private keys? We should use the same logic there.

[2017-08-31 18:18] vivekmenezes commented on #18076
robert I'd like to reproduce this issue. Is this simply a matter of loading the data via CSV and then running the ALTER TABLE command?

[2017-08-31 18:19] benesch commented on #18079
Looks like `FinishedWith` isn't getting called in all cases, @dt?

[2017-08-31 18:20] kuanluo commented on #17855
Idea: If the tooltip to docs is universal in the jobs table, we could surface ℹ️  icon, as the one on time series graphs, next to JOBS title? On hover, it would show the tooltip with copy, exactly as how it would behave on the graph.

![image](https://user-images.githubusercontent.com/1486483/29938648-7d6a5148-8e57-11e7-94a7-d8ffa6c7a5b9.png)

[2017-08-31 18:24] vivekmenezes commented on #18076
BTW we checked to see if this is a CSV issue and it's unlikely to be the case because CSV calls sql.GenerateInsertRow() when inserting a row and that function checks the NON-NULL constraint on all columns.

[2017-08-31 18:25] cockroach-teamcity opened #18091 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_agg"
The following tests appear to have failed:

[#340248](https://teamcity.cockroachdb.com/viewLog.html?buildId=340248):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-31 18:25] dt commented on #18080
@dianasaur323 the tricky thing right now is that there isn't one SQL statement to one job right now -- `IMPORT` runs two jobs -- one that converts data, one that restores it. We don't have the concept of sub-jobs (yet).

[2017-08-31 18:33] #18021 closed

[2017-08-31 18:49] cockroach-teamcity opened #18092 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#340270](https://teamcity.cockroachdb.com/viewLog.html?buildId=340270):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-31 18:51] vivekmenezes commented on #18088
We try our best to not do any implicit type conversion. There are a few exceptions we make but INT to FLOAT and back is not one of them.

[2017-08-31 18:54] petermattis commented on #18077
[This](https://github.com/cockroachdb/cockroach/blob/master/pkg/storage/replica.go#L3273-L3285) is the code which adjusts the Raft log size when appending entries:

[code]

Because the size is adjust when appending the `thinEntries` we don't account for the size of the side-loaded data. It seems easy to perform this accounting in `maybeSideloadEntriesRaftMuLocked`. We'd also have to fix `Replica.a

[2017-08-31 19:01] a-robinson commented on #18038
cc @nvanbenschoten, since this is possibly the same issue as #18015

[2017-08-31 19:02] a-robinson commented on #17999
#18038

[2017-08-31 19:02] #17999 closed

[2017-08-31 19:02] a-robinson commented on #18091
#18038

[2017-08-31 19:02] #18091 closed

[2017-08-31 19:02] a-robinson commented on #18092
#18015

[2017-08-31 19:02] #18092 closed

[2017-08-31 19:10] #14512 closed

[2017-08-31 19:12] justinj opened #18096 "sql: logictest improvement proposals"
Some things that I would like, some of which have been mentioned by others as well:

* [x] Be able to name a subsection of a test and indent it (possibly running this in a fresh database so its scope doesn't escape the subtest),
* [ ] introduce a file extension so we can get syntax highlighting (even just mapping the extension to SQL syntax would probably still work decently),
* [ ] for sufficient

[2017-08-31 19:24] RaduBerinde opened #18097 "restore: stuck restore command"
Set up a clean 3 node cluster. Restored TPCH scalefactor 10. The job completed in the UI, but the SQL command never returned.

[code]

Goroutines dump shows multiple goroutines stuck in [restore.go:882](https://github.com/cockroachdb/cockroach/blob/13f468f784fa9df8525601e2b8f6a4b4b500eae3/pkg/ccl/sqlccl/restore.go#L881) and [restore.go:643](https://github.com/cockroachdb/cockroach/blob/13f468f784f

[2017-08-31 19:27] cuongdo opened #18099 "storage: snapshot failed: log truncation during snapshot removed sideloaded SSTable"
SHA: 58442124854a0940aef3dfea0e078e5d3b0fede7

Steps:
1. RESTOREd a TPC-H scale factor 10 backup to a 1-node cluster running on my `azworker`
2. Added 2 more nodes to the cluster (locally running on the same `azworker`)

After an hour, up-replication has barely progressed:

<img width="764" alt="screenshot 2017-08-31 15 22 58" src="https://user-images.githubusercontent.com/1564582/29941430-9018558

[2017-08-31 19:35] RaduBerinde commented on #15194
I've been running this on scalefactor 10 on a 3 node cluster with `sql.defaults.distsql.tempstorage = false` and I saw no crashes. I did see occasional "budget exceeded" errors. Tried it with concurrency 3 and 6 for a few hours.

I'm closing this. Note that even if there is some accounting discrepancy, we are in much better shape with `tempstorage` enabled by default.

[2017-08-31 19:35] #15194 closed

[2017-08-31 19:48] #14174 closed

[2017-08-31 20:02] dt commented on #16748
yeah, whoops, this was done awhile ago

[2017-08-31 20:02] #16748 closed

[2017-08-31 20:02] dianasaur323 commented on #18080
Hmmm.. @dt I just ran into that issue, where I ran and import and then saw a restore show up as well. I think something odd is going on in terms of when the import job shows up as well - I've been running a lot of failed imports to try to fix my configs, but they all show up on the jobs table.

![image](https://user-images.githubusercontent.com/5768024/29943009-d0387356-8e65-11e7-9743-5140218b8ad2

[2017-08-31 20:03] dt commented on #17682
we were 500ing due to db being down due to open files.

[2017-08-31 20:03] #17682 closed

[2017-08-31 20:05] dt commented on #15250
pushing to 1.2 -- i haven't seen this used in practice / customer clusters long enough yet to be confident we won't want to tell someone to, as root, run a `update system.settings...` or something in the course of debugging. it's root-only, and a system table, so i don't think this is quite time-critical (and the hardcoded allowed permissions allow us to do it via migration whenever we want).

[2017-08-31 20:10] dt commented on #15301
bumping to 1.2 as this is new functionality, now that `init` exists it should be easier to do and explain, particularly once our workflows/docs/runbooks include `init` steps.

[2017-08-31 20:12] robert-s-lee commented on #18076
#17355 (comment) has the script to load the csv, then run the two alter commands.

attached is the dbgen for OSX to generate the data

unzip dbgen.osx.2.zip
cd dbgen.osx
./dbgen -b dists.dss
unzip Archive.2.zip into the dbgen.osx directory
./02-tpch-create-sst.sh
modify script to add license key
./03-tpch-load-sst.sh
cockroach sql --insecure <<EOF
use tpch;
ALTER TABLE nation ADD COLUMN interest D

[2017-08-31 20:16] nvanbenschoten commented on #18038
It's interesting that in both flakes, context cancellations happen for seemingly innocent `SELECTs` right after `SELECT "URL" FROM [EXPLAIN (DISTSQL) SELECT ...]` queries. I think it's safe to say that this is a duplicate of #18015.

[2017-08-31 20:16] #18038 closed

[2017-08-31 20:18] knz commented on #17476
Discussed with Dan:
1. backing up a view descriptor is always possible
2. currently, restoring a view fails if it depends on a table that's not also restored
3. so backing up view descriptors over system tables is possible but (usually) they can't be restored.

[2017-08-31 20:18] knz commented on #17476
I'll move forward with #15388 / #17475 and update/close this issue when I'm confident about the behavior.

[2017-08-31 20:33] knz commented on #18096
All this seems worthwhile, but then make it a checkbox list so we see progress when this moves forward :)

[2017-08-31 20:33] knz commented on #18096
Go for it!

[2017-08-31 20:37] knz commented on #18088
This is not a bug IMHO. I suggest you read the typing RFC and review it -- if you think it should be improved, you should start there not with bug reports :)

[2017-08-31 20:37] danhhz opened #18103 "backup: investigate turning off snappy compression in backups"
when profiled, a big chunk of restore time is decompression and the key prefix compression in sstables might mean that the backup files aren't much bigger uncompressed

[2017-08-31 20:41] benesch opened #18105 "sqlccl: TestImportStmt only tests the first system job"
This test only ever looks at the oldest job in `system.jobs`: https://github.com/cockroachdb/cockroach/blob/6334904497be017eb8765268e3f65d388adcc028/pkg/ccl/sqlccl/csv_test.go#L494

[2017-08-31 20:49] benesch commented on #18097
Thanks so much for helping us debug this, @RaduBerinde! Going to optimistically mark this as fixed by #18101.

[2017-08-31 20:49] #18097 closed

[2017-08-31 20:51] benesch commented on #17886
Punting this to Later, since the workaround is "don't make the root directory your GOPATH," which is reasonable enough.

[2017-08-31 20:59] nvanbenschoten commented on #18015
I'm able to reproduce this with just a single distSQL `SELECT SUM(a) FROM data` (ie. removing everything else in `distsql_agg` after `SET DISTSQL = ON`).

From the look of things, what @tschottdorf is seeing is a result of a continual stream of `BatchRequests` each containing exactly 100 `ResolveIntent` requests. I'm not sure why this is happening at the moment, but I'd expect things to get backed

[2017-08-31 21:04] nvanbenschoten commented on #18015
Just before the aggregation, we have an INSERT that inserts 10,000 rows:

[code]

It could be the case that our SELECT is interacting poorly with this INSERT because its intents have not been cleaned up yet when we try to scan over all 10,000 new keys.

[2017-08-31 21:14] lego commented on #18096
I initially imagined a comment based syntax for naming tests because that way it would conform to SQL highlighting and also not be a difficult incremental change from the existing tests. For example,
[code]

Would become this

[code]
And it would instead show
[code]

[2017-08-31 21:18] nvanbenschoten commented on #18015
This doesn't reproduce with `SET DISTSQL = OFF`. @RaduBerinde any insights here?

One theory of mine is that the distributed query engine is resulting in competing `ResolveIntent` requests. Even if a `ResolveIntent` batch is mostly unique, if it shares even one key with another `ResolveIntent` batch, the two batches will be serialized. Smaller intentResolver batches could prevent unnecessary seria

[2017-08-31 21:23] #18079 closed

[2017-08-31 21:39] nvanbenschoten commented on #18015
I'm getting much better results when I crank up the intent resolution timeout by an order of magnitude:
https://github.com/cockroachdb/cockroach/blob/088cfe46df3c20c3c4e83ffcd2c89933d1b1f0cd/pkg/storage/intent_resolver.go#L291

At the moment the timeout is only `base.NetworkTimeout`, which seems way too low. `processIntents` attempts to push the transaction for each intent before trying to resolve

[2017-08-31 21:39] cockroach-teamcity opened #18109 "teamcity: failed tests on master: test/TestHealthAPI"
The following tests appear to have failed:

[#340512](https://teamcity.cockroachdb.com/viewLog.html?buildId=340512):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-31 21:43] nvanbenschoten commented on #18015
In fact, we might not even want a timeout at all when processing intents asynchronously.

[2017-08-31 21:47] cockroach-teamcity opened #18110 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#340527](https://teamcity.cockroachdb.com/viewLog.html?buildId=340527):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-31 21:52] nstewart commented on #17717
If all the events are truncated beyond recognition that component has no value (assuming we added it to tell people what was happening in an actionable way). Asking people to click to an *entirely new page* just to answer a simple question is not good enough UX.

For example, if I'm on the home page and interested in the item 4 rows down...
![image](https://user-images.githubusercontent.com/894257

[2017-08-31 21:52] a-robinson commented on #18110
https://github.com/cockroachdb/cockroach/issues/18015

[2017-08-31 21:52] #18110 closed

[2017-08-31 22:00] benesch opened #18112 "sqlccl: prevent pausing/canceling/resuming import jobs"

[2017-08-31 22:18] jordanlewis commented on #18088
Hmm, I'm not sure I agree with @knz or @vivekmenezes here - we do actually permit heterogeneous comparisons between the various numeric types:

https://github.com/cockroachdb/cockroach/blob/7dc6ca7ee699c5975228885758428fc97f45ada4/pkg/sql/parser/eval.go#L1179-L1208

BTW @richardwu this is definitely a confusing part of the code - the reason why your first example works while the explicitly casted

[2017-08-31 22:19] tschottdorf commented on #18015
Haha, I choose 100 just because I wanted a number I didn't think we would
hit in the test. Guess I should've looked at the test.

On Thu, Aug 31, 2017, 17:43 Nathan VanBenschoten <notifications@github.com>
wrote:

--

-- Tobias

[2017-08-31 22:30] bdarnell commented on #16168
I found a couple of haproxy options that might make a difference here: `option abortonclose` and `option server-fin 1s` (from [this thread](http://thread.gmane.org/gmane.comp.web.haproxy/21393)). These options are supposed to make haproxy more aggressive about forwarding connection-close events from the client to the backend, which might address the problem where it's accumulating lots of connecti

[2017-08-31 22:32] cockroach-teamcity opened #18114 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#340630](https://teamcity.cockroachdb.com/viewLog.html?buildId=340630):

[code]
Please assign, take a look and update the issue accordingly.

[2017-08-31 23:02] jseldess commented on #17855
I like that, @kuanluo.

cc @sploiselle, who's writing the relevant docs.

[2017-08-31 23:48] knz opened #18115 "testrace: race detected in TestReplicateReAddAfterDown"
Found in https://teamcity.cockroachdb.com/viewLog.html?buildId=340677&

[code]

[2017-08-31 23:48] knz commented on #18115
@bdarnell please triage

[2017-09-01 00:21] cockroach-teamcity opened #18119 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#340692](https://teamcity.cockroachdb.com/viewLog.html?buildId=340692):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 00:44] andreimatei opened #18120 "sql: auto-retries are hard to test using the CLI because of the injection of extra statements"
Consider (one batch per line):
[code]

We have a nice feature that allows for the second batch to be retried even though the transaction technically began on the previous batch. However, if you do perform these queries in the CLI, you'll notice that the 2nd batch is not retried automatically. That's because the shell injects statements behind batches to show the current database and transaction st

[2017-09-01 00:51] andreimatei opened #18121 "sql: statements before a ROLLBACK TO SAVEPOINT in a batch can be wrongly retried because of naive grouping"
Consider (one batch per line):
[code]

Which statements should be retried? Just `SELECT crdb_internal.force_retry(interval '10s'); SELECT 2;`.
Which statements actually get retried? `SELECT 1; ROLLBACK TO SAVEPOINT cockroach_restart; SELECT crdb_internal.force_retry(interval '10s'); SELECT 2;`

This is because a `ROLLBACK TO SAVEPOINT` in the `Open` state moves us back to the `ROLLBACK TO SAVEPOIN

[2017-09-01 00:56] cockroach-teamcity opened #18122 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#340721](https://teamcity.cockroachdb.com/viewLog.html?buildId=340721):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 01:26] dianasaur323 commented on #17855
I'm fine with that. @cuongdo does anyone have capacity for this at this point?

[2017-09-01 01:32] andreimatei commented on #18121
I think this might have gotten worse with results streaming; I believe now we send results multiple times for the results that we wrongly execute multiple times. This will probably greatly confuse clients.

[2017-09-01 01:44] vivekmenezes commented on #18076
I'm seeing lines like

[code]

in datafile lineitem.tbl . See the second line is missing an entry for column l_tax which is a NON NULL column

I'm also seeing the load command being used with --nullif=\N which indicates that it will insert NULL values where needed.

So I'm pretty sure this bug is in load csv.

[2017-09-01 01:46] vivekmenezes commented on #18076
And I think you should be able to see the panic with ```SELECT * FROM lineitem```

[2017-09-01 01:51] a-robinson commented on #18114
https://github.com/cockroachdb/cockroach/issues/18015

[2017-09-01 01:51] #18114 closed

[2017-09-01 01:52] a-robinson commented on #18119
https://github.com/cockroachdb/cockroach/issues/18015

[2017-09-01 01:52] #18119 closed

[2017-09-01 01:52] a-robinson commented on #18122
https://github.com/cockroachdb/cockroach/issues/18015

[2017-09-01 01:52] #18122 closed

[2017-09-01 02:08] mjibson commented on #18076
I'll look into it.

[2017-09-01 02:14] andreimatei commented on #4703
I believe that the answer here is that our query execution (the sql `Executor`) should move away as much as possible from caring about "batches". We should treat the pgwire protocol as a streaming protocol; the "batching" of statements done by clients shouldn't matter for much (except some semantics about what needs to not be run when an error occurs).
Our automatic retries should be driven entire

[2017-09-01 02:15] benesch commented on #17855
I have a PR coming later tonight to address this.

On Thu, Aug 31, 2017 at 9:26 PM Diana Hsieh <notifications@github.com>
wrote:

[2017-09-01 02:18] dianasaur323 commented on #17855
Amazing, thanks @benesch!!

[2017-09-01 02:57] tschottdorf commented on #18077
No, just an oversight. Thanks for cleaning up!

On Thu, Aug 31, 2017, 14:54 Peter Mattis <notifications@github.com> wrote:

--

-- Tobias

[2017-09-01 03:08] cockroach-teamcity opened #18123 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#340792](https://teamcity.cockroachdb.com/viewLog.html?buildId=340792):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 05:10] dianasaur323 commented on #17717
@nstewart definitely - I think the event log truncation is a big UX issue. I was worried that we don't have capacity for adding a tooltip before 1.1, so instead of doing that fix, we could do a bigger overhaul in 1.2. I think the events on graphs effort will likely change the importance of this module. Are you okay with fixing these UX issues in 1.2, and sticking with the bad experience of having

[2017-09-01 05:31] dianasaur323 commented on #8907
Hmmm.. this is odd behavior. We are doing some bug prioritization heading into 1.2, so we can put this one _relatively_ higher on the list.

[2017-09-01 05:37] dianasaur323 commented on #16584
So this is on our roadmap for 1.2, but marked as lower priority when compared to some of the other features we are building. I think if we could limit the scope of this to something that would be helpful for support purposes, we should limit it as much as possible. Also, I think it would be nice to bundle the debug pages in as well.

[2017-09-01 05:39] dianasaur323 commented on #18055
probably want to have @BramGruneir take a look. assigning!

[2017-09-01 05:56] mjibson commented on #18076
I wasn't able to generate this panic. I ran both those ALTER statements successfully. When I attempt to import null data I get:

When I use `load csv` I get:

So I haven't been able to repro this. If you use a binary from today, can you reproduce the panic?

Below was my test script.

[code]

[2017-09-01 06:37] cockroach-teamcity opened #18124 "sql: "default" logic test is flaky due to backward time jumps"
The following tests appear to have failed:

[#341285](https://teamcity.cockroachdb.com/viewLog.html?buildId=341285):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 07:06] knz commented on #18120
You can use psql as workaround.

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-09-01 09:14] TomArbuckle opened #18126 "server: lsof reports diagnostics connections left in CLOSED state"
**BUG REPORT**

Single CockroachDB node (node1) running on a laptop under macOS 10.12.6.

[code]

Node and client were left running for several days (and reached ~870MiB as ~90k records). Diagnostic connections (to amazonaws) were observed via lsof to pile up in (CLOSED) state.

[code]

Machine was rechecked after 18 hours showing number of "CLOSED" connections continued to increase.
[code]

[2017-09-01 10:49] nstewart commented on #17717
Cool - I'll defer to you on how and when to solve. You have the best understanding of the team's backlog and capacity.

[2017-09-01 10:55] irfansharif commented on #17989
I'm going to err on the side of disabling PreVote here given we're cutting today: #18128, this in response to the incidents tracked in #release yesterday but informs this issue as well.

[2017-09-01 11:02] irfansharif opened #18129 "storage: stuck pre-candidate phase"
As observed on `blue` and `adriatic` this week:

![image](https://user-images.githubusercontent.com/10536690/29967125-1a165e5c-8ee3-11e7-8281-7ecbafa37f33.png)
![image](https://user-images.githubusercontent.com/10536690/29967131-205eb82c-8ee3-11e7-8963-28b0a71fc86c.png)

`adriatic`:
![image](https://user-images.githubusercontent.com/10536690/29967143-33d82dd4-8ee3-11e7-91c5-f9cc289d4d98.png)
`blue

[2017-09-01 11:16] #18077 closed

[2017-09-01 11:29] cuongdo commented on #18099
I'm going to give this another shot now with the latest code. There have been enough Raft-related changes that I'm curious if there are any differences.

[2017-09-01 11:32] cuongdo commented on #18099
Actually, I'll wait for the PreVote change to merge.

[2017-09-01 11:32] cockroach-teamcity opened #18130 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables, acceptance/TestDockerCLI, acceptance/TestDockerCLI/test_missing_log_output.tcl"
The following tests appear to have failed:

[#341363](https://teamcity.cockroachdb.com/viewLog.html?buildId=341363):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 12:01] tschottdorf commented on #18099
Dupe of https://github.com/cockroachdb/cockroach/issues/17911 though you
may want to close that one instead of this.

On Fri, Sep 1, 2017, 07:32 Cuong Do <notifications@github.com> wrote:

--

-- Tobias

[2017-09-01 12:08] pkieltyka commented on #17902
FWIW, I really want to use cockroachdb for my next project in prod, but Im concerned to rely on a cgo library for the storage engine. Specifically because its a blackbox to the runtime with memory leaks or other issues. I hope you guys look at badger sometime and add the missing features it requires and build on it, whatever those features of Rocksdb that you need whether its snapshots or whatever

[2017-09-01 12:19] cuongdo commented on #17911
Closing in favor of #18099, which has a specific repro

[2017-09-01 12:19] #17911 closed

[2017-09-01 12:50] vivekmenezes commented on #17493
so the problem seems to be that this error message should be
[code]
and not
[code]

[2017-09-01 12:54] robert-s-lee commented on #18076
https://drive.google.com/open?id=0B4ylwRfb_1ifWVQ0MFpCZWpYZk0 has the original TBL created by dbgen

https://drive.google.com/open?id=0B4ylwRfb_1ifRVZFRU5FaHpGMlU has the output from the load csv process

[2017-09-01 13:09] robert-s-lee commented on #18076
@vivekmenezes is right.  It is not alter table that is causing the panic

Couple of question:

- [ ] how is NULL getting through the constraint check during the load?
- [ ] Should the database panic when encountering such state or do something else?

driver: bad connection
connection lost; opening new connection: all session settings will be lost
error retrieving the transaction status: dial tcp [

[2017-09-01 13:20] robert-s-lee opened #18132 "panic during an alter table results in schema in an inconsistent state"
Separating the schema state inconsistency issue from the NULL issue on https://github.com/cockroachdb/cockroach/issues/18076

Does alter table, panic in the middle and subsequent inconsistency show that a power failure at the right time would render the state of schema in in-consistent state?

Is it possible to fix the recoverable issue via manual process?

driver: bad connection
connection lost;

[2017-09-01 13:21] vivekmenezes commented on #17493
This problem is because the code is modifying the parse tree while executing the statement so a txn retry sees the modified parse tree. Working on a fix to not modify the parse tree.

[2017-09-01 13:26] a-robinson commented on #18123
https://github.com/cockroachdb/cockroach/issues/18015

[2017-09-01 13:26] #18123 closed

[2017-09-01 13:26] a-robinson commented on #18130
https://github.com/cockroachdb/cockroach/issues/18015

[2017-09-01 13:26] #18130 closed

[2017-09-01 13:28] cuongdo commented on #18132
reassigning to @vivekmenezes who knows much more about schema changes than I do

[2017-09-01 13:52] robert-s-lee opened #18133 "ERROR: internal/client/txn.go:836: attempting to use transaction with wrong status or finalized: COMMITTED true"
Please use TBL and schema from https://github.com/cockroachdb/cockroach/issues/18076

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

$ cockroach version
Build Tag:    391d19f
Build Time:   2017/08/31 16:02:30
Distribution:

[2017-09-01 13:54] cockroach-teamcity opened #18134 "teamcity: failed tests on master: testrace/TestLoadCSVUniqueDuplicate"
The following tests appear to have failed:

[#341421](https://teamcity.cockroachdb.com/viewLog.html?buildId=341421):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 13:58] vivekmenezes commented on #18124
same as #17493

[2017-09-01 14:04] robert-s-lee commented on #18133
@andreimatei This maybe the same issue as https://github.com/cockroachdb/cockroach/issues/17941

[2017-09-01 14:10] bsnyder788 commented on #18068
@tschottdorf  I would love to take a stab at this one.

[2017-09-01 14:10] cockroach-teamcity opened #18135 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#341437](https://teamcity.cockroachdb.com/viewLog.html?buildId=341437):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 14:12] a-robinson commented on #18135
https://github.com/cockroachdb/cockroach/issues/18015

[2017-09-01 14:12] #18135 closed

[2017-09-01 14:15] bdarnell commented on #16950
For the record: pre-vote was enabled in #17808, then disabled again in #18128

[2017-09-01 14:15] RaduBerinde commented on #15625
Deferring to 1.2, this is an improvement for some cases but it's not a critical fix.

[2017-09-01 14:17] irfansharif commented on #16950
tracking the recent wedged pre-candidates: https://github.com/cockroachdb/cockroach/issues/18129

[2017-09-01 14:17] RaduBerinde commented on #18124
There is a second failure:
[code]

It looks like it's the clock going backwards..
[code]

[2017-09-01 14:20] a-robinson commented on #18126
Thanks for the report, @TomArbuckle! It [looks like a resource leak in our code](https://github.com/cockroachdb/cockroach/pull/18136), although I still need to verify that that's all.

[2017-09-01 14:23] RaduBerinde commented on #18124
Perhaps we want to switch to `cluster_logical_timestamp` which should be monotonic. Though it's not trivial to convert the tests (e.g. `UPDATE t SET (b, c) = ('2015-09-18 00:00:00', -1.0)`). CC @knz

[2017-09-01 14:33] dt commented on #18103
flip-side: most backups are never restored, but do sit and take up space for some long retention period.

[2017-09-01 14:39] danhhz commented on #18103
yeah, I don't know that this is a clear win, but worth looking into. at the same time, we should even look into whether going the other way on the cpu usage vs space compression tradeoff makes sense

[2017-09-01 14:43] #18126 closed

[2017-09-01 14:56] petermattis commented on #17365
Unable to reproduce so far.

[code]

I also ran `make stressrace PKG=./storage/ TESTS=TestRangeTransferLease` for about 10m without any reproduction. Going to try reproducing on 8d185fd3dfe0fd8f1014e27abb733e0ae5314783.

[2017-09-01 14:59] petermattis commented on #18103
I'd worry more about the network usage than the space or cpu usage.

[2017-09-01 15:03] RaduBerinde commented on #13892
I have been trying to repro this but never saw the issue. We would need more specific information about the cluster setup, incorrect values observed, what the benchmark is inserting, etc.. There is not much to go on here so I'm closing.

[2017-09-01 15:03] #13892 closed

[2017-09-01 15:12] petermattis commented on #17365
Hmm, hasn't reproduced in 10m on 8d185fd3dfe0fd8f1014e27abb733e0ae5314783.

[2017-09-01 15:14] benesch opened #18139 "sql: cancel import jobs"
The transformation phase of `IMPORT` jobs should support pause/resume/cancel.

https://github.com/cockroachdb/cockroach/issues/16018 is tracking this for schema changes.

[2017-09-01 15:15] cockroach-teamcity opened #18140 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#341531](https://teamcity.cockroachdb.com/viewLog.html?buildId=341531):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 15:19] bdarnell commented on #18129
Note that in this screenshot with four replicas, the one in the pre-candidate state had been removed but not yet garbage collected. It's expected that a replica in such a state would be in pre-candidate (it would be in the candidate state if pre-vote were disabled), although it's not expected that it would stay this way for long without GC.

On adriatic, we saw many instances of this with only thr

[2017-09-01 15:25] cuongdo commented on #18099
Running with SHA 12ae008 (pre-vote disable & cleanup for sideloaded SSTs), up-replication seems to be working again with the above procedure. I'll keep an eye on it and close this bug after my cluster has fully replicated.

[2017-09-01 15:42] bdarnell commented on #18015
That's how it was a long time ago, and it was prone to getting stuck waiting indefinitely. We should always have *some* timeout, although I agree that it should at least be `2*NetworkTimeout` here.

`ResolveIntent` is special because it's only ever batched for efficiency, never for semantics. Also, `ResolveIntent` should only rarely conflict with anything but another `ResolveIntent` for the same k

[2017-09-01 15:45] andreimatei commented on #18133
Thanks Robert, will look soon.

[2017-09-01 15:48] RaduBerinde commented on #16143
Tried reproing again locally and on azworker, with various `-p` values. Tried with a tree from mid-June as well. No luck.

[2017-09-01 15:50] BramGruneir commented on #18055
There is no way I'll be able to squeeze this in today.  Moving to 1.2.

[2017-09-01 16:04] cockroach-teamcity opened #18143 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/fk"
The following tests appear to have failed:

[#341604](https://teamcity.cockroachdb.com/viewLog.html?buildId=341604):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 16:25] #17861 closed

[2017-09-01 16:40] cockroach-teamcity opened #18145 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#341650](https://teamcity.cockroachdb.com/viewLog.html?buildId=341650):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 16:46] cockroach-teamcity opened #18146 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/fk"
The following tests appear to have failed:

[#341658](https://teamcity.cockroachdb.com/viewLog.html?buildId=341658):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 16:49] petermattis commented on #17365
Also failed to reproduce on 9b82406c4b4e424774aacb0fc7e3fdcb65523118 which experienced a failure in #18048. Wonder what I'm doing differently from teamcity.

[2017-09-01 16:58] andreimatei commented on #17365
One thing that frequently helps is `-p 16` (or `-p 100` if you wanna go into the unknown).

[2017-09-01 17:15] dianasaur323 commented on #18139
Thanks, @benesch! I also added a line item in airtable so that we can track capacity.

[2017-09-01 17:22] petermattis opened #18150 "storage: request contains both "txnid" and "txnID" tags"
Saw this on `blue` which is running 90840ef6031507deb4f8f7af107951c12830fd4f (i.e. pre #17954). In addition to the different capitalizations, we also have different txn IDs. Not sure what that is about. Interestingly, `git grep txnid` returns nothing so we must be lowercasing a tag somewhere.

[code]

[2017-09-01 17:23] vivekmenezes commented on #18146
same as #17698

[2017-09-01 17:23] #18146 closed

[2017-09-01 17:27] vivekmenezes commented on #18143
same as #17698

[2017-09-01 17:27] #18143 closed

[2017-09-01 17:37] #14953 closed

[2017-09-01 17:38] petermattis opened #18151 "stability: PreVote can lead to unavailable ranges"
Possibly related to #17741.

`blue` is running 90840ef6031507deb4f8f7af107951c12830fd4f. It has been experiencing 0 QPS for most of the last week. The only spikes of throughput are immediately upon a node recovering from chaos. I've now disabled chaos, enabled some additional debugging settings and stopped load on all nodes except `blue-01`.

`/debug/requests` on `blue-01` shows a common pattern:

[2017-09-01 17:41] bsnyder788 commented on #18068
link to PR: https://github.com/cockroachdb/cockroach/pull/18148

[2017-09-01 17:44] petermattis commented on #18151
Strange, the badness seems to have migrated to `blue-05` as evidenced by where requests on `blue-01` are now stuck. On `blue-05`:

[code]

`r2041` has only 2 replicas:

![screen shot 2017-09-01 at 1 42 24 pm](https://user-images.githubusercontent.com/6201335/29981361-6fd027c8-8f1b-11e7-901b-3f160a1e99bb.png)

[2017-09-01 17:49] mjibson commented on #18076
I still can't recreate this panic. I downloaded the tpch.sf1.sst.zip, unziped it into /home/mjibson/load-done and ran:

[code]

[2017-09-01 17:58] petermattis commented on #18151
Trying to piece together what happened to `r2041`. On `n3`, I see:

[code]

This seems to correspond to this rebalance on `n7`:

[code]

Note that the range already has only 2 replicas at this point.

[2017-09-01 18:00] a-robinson commented on #18145
#18015

[2017-09-01 18:00] #18145 closed

[2017-09-01 18:02] nvanbenschoten commented on #18015
What about giving the asynchronous path a larger timeout? Something like `2*NetworkTimeout` for synchronous and `10*NetworkTimeout` for async resolution. I could see us wanting to avoid this because it adds more complexity, but I think it fits the contract we want `processIntentsAsync` to have.

I also don't see why `processIntentsAsync` doesn't take a context as an argument. We would still use a

[2017-09-01 18:04] vivekmenezes commented on #18076
@robert-s-lee I suspect you might not be regenerating the data (the regeneration is failing) and so you are loading up with old bad data. Wanna blow up your data files and retry. Thanks!

[2017-09-01 18:08] petermattis commented on #18151
Ah, the next few log lines on `n7` show:

[code]

So that rebalance never succeeded which is probably why the replica was eventually GC'd be `n3`. Looking further, I'm seeing that every rebalance attempt for this range is failing.

`n5` (the other node containing a replica of `r2041`) has lots of the following messages:

[code]

[2017-09-01 18:16] #18112 closed

[2017-09-01 18:16] petermattis opened #18154 "server: "No Raft leader" problem range is inaccurate"
On `blue`, the "Problem Ranges" debug page lists 10 ranges as having "No Raft Leader". For 9 of these ranges, the problem seems to actually be an un-GC'd replica:

![screen shot 2017-09-01 at 2 15 44 pm](https://user-images.githubusercontent.com/6201335/29982534-14374bee-8f20-11e7-8847-9ed0ebcc9022.png)

I'm not sure why the replica on `n6` isn't getting GC'd, but it is inaccurate to describe this

[2017-09-01 18:24] robert-s-lee commented on #18076
I used the SST file this morning.  Was all of the SST directories loaded in order that was in the script with 3 CRDB nodes?

[2017-09-01 18:24] cockroach-teamcity opened #18156 "teamcity: failed tests on master: testrace/TestLoadCSVUniqueDuplicate"
The following tests appear to have failed:

[#341769](https://teamcity.cockroachdb.com/viewLog.html?buildId=341769):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 18:27] knz commented on #17493
@vivekmenezes maybe extend #18147 to also revert  #17875 and un-skip the test.

[2017-09-01 18:30] knz commented on #18124
Interesting, yes we may not do well to check the value of `now()` right away.

[2017-09-01 18:36] RaduBerinde commented on #18150
My guess is that the first one is coming from the wire as a baggage item (which we convert to a tag). Depending on how the tracing context is serialized, it might not preserve case (I'm pretty sure the current method of using HTTP headers doesn't guarantee it). So we are on the remote side of some operation that is associated with that initial `txnid`.

[2017-09-01 18:38] #18120 closed

[2017-09-01 18:38] bdarnell commented on #18151
It's normal that every subsequent rebalance would fail if neither of the two existing replicas is the raft leader.

This appears to be a bug in PreVote: the replica on node 7 is ahead of the one on node 5 (by the raft log LastIndex), but it has a lower term. Node 7 will never vote (pre-vote or regular) for node 5 because of the lower LastIndex, but node 7's MsgPreVote is getting dropped (early in

[2017-09-01 18:39] petermattis commented on #18151
Here is when `r2041` dropped from 3 to 2 replicas:

[code]

Along with that removal I see:

[code]

[2017-09-01 18:39] petermattis commented on #18151
@bdarnell Do you think the cluster will recover if I restart with pre-vote disabled?

[2017-09-01 18:40] bdarnell commented on #18151
Yes, this range should recover when pre-vote is disabled.

[2017-09-01 18:40] knz commented on #18121
#18120 is fixed now so it's probably easier to make a test now.

[2017-09-01 18:41] petermattis commented on #18151
Bold declaration. I'll restart the cluster with pre-vote disabled to see if you're right.

[2017-09-01 18:43] bdarnell commented on #18151
Not too bold. I specifically said "this range", not the whole cluster :)

[2017-09-01 18:45] petermattis commented on #18151
Ok, restarting with pre-vote disabled at `r2041` elected `n7` on the leader.

[2017-09-01 18:49] petermattis commented on #18151
Throughput on the cluster is dropping to 0 again due to `r2041`, but I think it will resolve itself. We're unable to get a lease for that range because we've built up an enormous Raft log. `n7` is at Raft log index 738999 while `n5` is at 582182. `n5` is slowly catching up though, but this will likely take a while.

[2017-09-01 18:56] irfansharif commented on #18129
+cc #18151.

[2017-09-01 18:58] petermattis opened #18159 "server: Range debug page "there was an error retrieving the range log""
This is currently happening for every range I look at on `blue`:

![screen shot 2017-09-01 at 2 57 26 pm](https://user-images.githubusercontent.com/6201335/29983910-eb2caa9a-8f25-11e7-8cd8-e99de312509f.png)

That error message isn't particularly helpful as I'm not sure what node's logs to look at.

[2017-09-01 19:12] #17493 closed

[2017-09-01 19:16] cockroach-teamcity opened #18161 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#341887](https://teamcity.cockroachdb.com/viewLog.html?buildId=341887):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 19:21] a-robinson commented on #18159
It looks like the request is timing out before it completes. The range log on blue is quite large, and the endpoint powering that table tries to get the 100 latest entries involving the given range. Running the query involved by hand takes more than a minute.

https://github.com/cockroachdb/cockroach/issues/17781 would fix this, but there may be something wrong with the query plan/execution. Conve

[2017-09-01 19:22] a-robinson commented on #18159
As a side note, returning the range log entries should probably be using a separate endpoint (with a larger timeout) rather than being shoehorned into the `Range` endpoint.

[2017-09-01 19:22] a-robinson commented on #18161
#18015

[2017-09-01 19:22] #18161 closed

[2017-09-01 19:25] #16366 closed

[2017-09-01 19:27] cockroach-teamcity opened #18162 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables"
The following tests appear to have failed:

[#341909](https://teamcity.cockroachdb.com/viewLog.html?buildId=341909):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 19:28] a-robinson commented on #18159
The unsorted version has the exact same query plan but with a forward scan. That shouldn't make for a 12x difference in execution time, though.

[code]

[2017-09-01 19:28] cockroach-teamcity opened #18163 "teamcity: failed tests on master: test/TestLogic, test/TestLogic/5node, test/TestLogic/5node/distsql_numtables, testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/fk"
The following tests appear to have failed:

[#341917](https://teamcity.cockroachdb.com/viewLog.html?buildId=341917):

[code]
Please assign, take a look and update the issue accordingly.

[2017-09-01 19:31] vivekmenezes commented on #18163
same as #17698

[2017-09-01 19:31] #18163 closed

[2017-09-01 19:40] petermattis commented on #17902
@pkieltyka I'm not sure that all of RocksDB's features can be built on top of Badger. For example, range deletion tombstones involve somewhat deep integration into the storage system. Regardless, I think it is possible that Badger could be extended to meet our needs, but doing so would require a very large amount of effort which we've concluded is not worth doing at this time. If you have an inter

[2017-09-01 19:44] #17989 closed

[2017-09-01 19:45] a-robinson commented on #18154
This looks like an unfortunate side effect of trying to avoid making RangeLookup calls in `replicaGCQueue.shouldQueue`. We only check the replica's copy of the descriptor to determine if it belongs rather than checking with the meta ranges, and [even that is an improvement over how it behaved in 1.0](https://github.com/cockroachdb/cockroach/commit/fc5ef3eeafef3c0a4687c23cc7b51245d4cda500). We coul

[2017-09-01 19:48] petermattis commented on #18151
`r2041` caught up about a minute ago and throughput on `blue` recovered at the same time.

[2017-09-01 19:50] nvanbenschoten commented on #14231
I just saw this on `denim` (`cockroach-denim-0001`) when trying to restart a node that had crashed about 24 hours ago due to an out-of-memory error. @a-robinson is there any information you'd like me to pull off the machine to help with this investigation? I can also see if this reproduces when restarting again, but I'll wait for your cue in-case you don't want to risk disturbing something.

[2017-09-01 19:50] #18015 closed

[2017-09-01 19:53] #18132 closed

[2017-09-01 19:53] nvanbenschoten commented on #18162
Duplicate of #18015.

[2017-09-01 19:53] #18162 closed

[2017-09-01 19:53] petermattis commented on #18154
Well, the replica eventually got cleaned up so something did notice it eventually. The debug page issue could be rectified. We should notice that the replica that doesn't know about the leader is not a current member of the range. The range should be classified as having an "un-GC'd replica", not as having "No Raft Leader".

[2017-09-01 20:05] benesch commented on #17677
Welp, seems unlikely.

[2017-09-01 20:08] a-robinson commented on #14231
Thanks for the heads up, @nvanbenschoten! I'm in the process of saving the logs off all the machines and the relevant range state off node 1. Once that's done I'd like to restart node 1 with more verbose logging enabled (`replica=5,store=5,raft=5,raft_transport=5,replica_gc_queue=5`). Should I ping you once I'm ready or just do it myself?

[2017-09-01 20:09] BramGruneir commented on #18159
Alex is correct, this should be put into it's own endpoint.
And we can reverse the order and remove the limit when we do so.
This query would also be faster if we add an index.

[2017-09-01 20:10] nvanbenschoten commented on #5327
`loadSystemConfig` performs a `INCONSISTENT` scan on the `SystemConfigSpan`, so if we observe intents then the read may not have been consistent. This is explained in `loadSystemConfig`:

https://github.com/cockroachdb/cockroach/blob/309a7c962f417d1efa4710f439a4f6262180336c/pkg/storage/replica.go#L5240-L5246

`maybeGossipSystemConfig` is already best effort, so I think we'll just want to log at a

[2017-09-01 20:14] benesch commented on #18134
Duplicate of #18156.

[2017-09-01 20:14] #18134 closed

[2017-09-01 20:14] nvanbenschoten commented on #14231
Nope, go ahead and restart on your own when you're ready.

[2017-09-01 20:15] a-robinson commented on #14231
Actually, I'm not sure that'll be needed. It looks like range 1's disk got wiped, and when it restarted with an empty data directory it received an internal RPC for a range that it didn't have, because it only had a brand new r1:

[code]

In other words, the fact that we haven't yet fixed https://github.com/cockroachdb/cockroach/issues/15801 means that restarting a node with no join flags and a wi

[2017-09-01 20:16] benesch commented on #18080
Fixed by #18157 and #18106, I believe.

[2017-09-01 20:16] #18080 closed

[2017-09-01 20:18] mjibson commented on #18052
Maybe this was a fluke, but I'm not seeing this anymore? Closing.

[2017-09-01 20:18] #18052 closed

[2017-09-01 20:22] benesch commented on #14731
We no longer link to the latest tarballs from our docs, so going to consider this done.

[2017-09-01 20:22] #14731 closed

[2017-09-01 20:23] BramGruneir commented on #18154
So worst case, the replicaGC queue should scan and find it after what 10days?

And yes, the we can special case this in the range debug and problem ranges pages.
But I'm not certain about the single node's problem ranges page.  As far as node6's replica is concerned, it just doesn't have a raft leader.

This would be better solved server side to avoid having to do this special casing.  Is there an

[2017-09-01 20:25] a-robinson commented on #14231
I'm not sure what caused the disk to get wiped, though. Azure doesn't indicate that the VM has had any issues, and the machine thinks it's been running for months:

[code]

Someone must have manually wiped it, as far as I can tell.

[2017-09-01 20:25] #17666 closed

[2017-09-01 20:26] justinj opened #18166 "sql: error message with distsql=always"
[code]

This error also shows up on every subsequent query (presumably every time the cli prompt is rendered).

cc @knz, @mjibson

[2017-09-01 20:27] nvanbenschoten commented on #14231
@petermattis are you aware of `demin-1` being wiped in the last 24 hours? The OOM error certainly shouldn't have led to this.

Also, perhaps the Sentry issue that reopenned this is also due to #15801. @a-robinson can we confirm or deny this?

[2017-09-01 20:28] petermattis commented on #14231
I think you're seeing the difference between `/mnt/data1` and `/mnt/data1/cockroach`. The latter is used by `roachperf` and the former by `supervisor`. During my testing, the nodes on `denim` were started using `roachperf` but it looks like someone (@nvanbenschoten) tried to start a `denim-01` using `supervisorctl`.

[2017-09-01 20:28] a-robinson commented on #17677
Adding new event log events is actually fairly easy. I don't think I'll have time today given the investigations I'm in the middle of, but if we'd be open to cherrypicking it Monday or Tuesday we could probably get it in. Just depends on how important it is.

[2017-09-01 20:28] petermattis commented on #14231
PS I should fix `roachperf` to use `/mnt/data1`.

[2017-09-01 20:30] Mountainerd commented on #18041
Thanks, @dianasaur323!

[2017-09-01 20:31] nvanbenschoten commented on #14231
Yes, that's correct. I tried to start `denim-01` with `supervisorctl` without realizing the difference. I guess this was just a false alarm then (outside of the very real #15801).

[2017-09-01 20:31] a-robinson commented on #14231
Yup, that looks correct. It's quite the blessing in disguise given that it may explain the sentry errors. Almost all of them happened on node 1, where this sort of mixup is most likely.

[2017-09-01 20:32] petermattis commented on #14231
Well, I'll fix `roachperf` in any case.

[2017-09-01 20:33] bdarnell commented on #18154
We should distinguish between range-level problems ("no leader", "multiple leaders", "underreplicated"...) and replica-level ones like this "replica doesn't know leader" (which in this case is really "replica needs GC").

To determine that a replica needs to be GCed, you can either do a consistent RangeLookup (which the replica GC queue does) or talk to the most current replica (which you have her

[2017-09-01 20:34] jseldess opened #18167 "Error in `cockroach node decommission` help text"
[code]

In the cli help for the `cockroach node decommission` command, it says that running the command without any target node IDs should return the decommissioning status of nodes:

[code]

However, doing this just returns the full cli help.

[code]

[2017-09-01 20:36] jordanlewis opened #18168 "sql: improve precision of index spans to scan for multi-column-family single-row fetches"
Suppose we have a table and a query:

[code]

Currently, this query will cause a scan from `/a/primary/1 -> /a/primary/2`, even though ideally we'd only need to scan the key at `/a/primary/1/b`.

We have enough information to improve this scan, since we know that `c` is not a needed column, `a` is the primary index and therefore unique, and we have an equality constraint on `a`.

We should conside

[2017-09-01 20:36] jseldess opened #18169 "`cockroach node status` and `node ls` list decommissioned nodes"
After decommissioning a node, the Admin UI correctly show the node as decommissioned:

<img width="1256" alt="screen shot 2017-09-01 at 4 35 33 pm" src="https://user-images.githubusercontent.com/15893490/29986926-9aac75ce-8f33-11e7-9c94-31d0069f93c8.png">

However, the `cockroach node status` and `cockroach node ls` commands continue to list the decommissioned node:

[code]

[2017-09-01 20:36] bdarnell commented on #18154
It's possible that PreVote is interfering with the messages that normally trigger an immediate GC. With pre-vote turned off, this replica would become a candidate, send MsgVote to the replicas that it believed to be its peers, and when its votes get rejected it would schedule a replica GC. With PreVote, there are at least some cases when messages get dropped instead of an explicit rejection.

[2017-09-01 20:43] dianasaur323 commented on #17677
I'm not sure this will be important enough to cherry pick into the release branch... Perhaps we should just punt to 1.2.

[2017-09-01 20:43] a-robinson commented on #18154
That makes sense, thanks for explaining the possibility.

[2017-09-01 20:43] #17678 closed

[2017-09-01 20:43] #17855 closed

[2017-09-01 20:44] benesch commented on #17677
Turns out I have a half-finished branch. Trying to finish this up right now.

[2017-09-01 20:47] #17199 closed

[2017-09-01 20:55] tschottdorf commented on #18167
Yep, that functionality was intentionally removed but we forgot to update this help text. Use node status --decommission instead.

[2017-09-01 20:56] a-robinson commented on #14231
The question now is whether we can actually fix this in 1.1. I'm thinking probably not. We clearly can't implement #18058 as a true fix for #15801 at this point, it'd be way too much new logic.

We could try hacky patches like disallowing certain types of raft messages to replicas that don't exist, but I wouldn't have much confidence that it wouldn't cause problems under normal operation.

And hon

[2017-09-01 21:12] knz commented on #18166
Use \unset smart_prompt
As workaround
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-09-01 21:34] andreimatei opened #18170 "client: txn commit triggers are reset in the wrong place"
A `Txn` has a `commitTriggers` field:
[code]

They are always reset before an auto-retry. However, they are _not_ reset before a user-directed retry. So I believe a trigger can be executed multiple times. We should figure out another strategy for clearing them.

https://github.com/cockroachdb/cockroach/blob/ef021b3e921aa1130b8fb4c949e115ee09b49012/pkg/internal/client/txn.go#L769

cc @spencerkimbal

[2017-09-01 21:58] bdarnell commented on #17741
I've reproduced this on `adriatic` by doing a bunch of rolling restarts (now with PreVote disabled). It looks like a small number of ranges get stuck in leader-not-leaseholder situations.

![image](https://user-images.githubusercontent.com/160562/29988585-3d40aa78-8f3c-11e7-89bb-b49404bbf698.png)
![image](https://user-images.githubusercontent.com/160562/29988590-44e60796-8f3c-11e7-9701-df44d9398ad

[2017-09-01 23:04] a-robinson opened #18174 "kv: query repeatedly failing with error "truncation resulted in empty batch""
On blue-0001:

[code]

A couple hours later, the same problem still persists every time I run the query:

[code]

Putting a limit on it or removing the ORDER BY fixes things (it's really slow, as covered in #18159, but it succeeds):

[code]

It's possible that 30f4050c1ebe3a6251cb9bef871417f30a1ad3f7 did something to unveil this.

@tschottdorf @nvanbenschoten

[2017-09-01 23:05] a-robinson commented on #18174
`EXPLAIN` output for the different commands:

[code]

[2017-09-01 23:08] a-robinson commented on #18174
Sorry for leaving out the `ORDER BY ASC` case. It works just fine, so seemingly something is up with the revscan.

[code]