[2017-04-05 12:10] eisenstatdavid commented on #14601
I have a fourth idea. `IndexDescriptor` has a repeated field called `extra_column_ids` that is currently the union of the non-indexed primary key columns and the stored columns. Let's introduce another repeated field, `store_column_ids`. For old tables, `extra_column_ids` has its old meaning, and `store_column_ids` is empty. For new tables, `extra_column_ids` doesn't contain the stored columns; th

[2017-04-05 13:17] asubiotto commented on #14620
This is due to the last node attempting to update its node liveness and not being able to, thus retrying indefinitely.

To work around this for now, sending a `SIGTERM` to the process will enable draining in the same way but proceed to a hard shutdown after a one minute timeout (or a second `SIGTERM` will proceed to a hard shutdown right away). The solution is to add a timeout to the `quit` endpoi

[2017-04-05 13:29] petermattis commented on #14601
Sounds reasonable to me, though you'll still have to fix up the index key creation for old tables where the store columns are present in `extra_column_ids`. That might negate some of the ease of doing this.

That seems minor.

[2017-04-05 13:31] cuongdo commented on #14478
What is a better label for this? "KV/RPC Execution Latency"?

On the other hand, it may not make sense to have a different KV/RPC latency graph for just DistSQL.

[2017-04-05 13:41] eisenstatdavid commented on #14601
I don't understand your logic here -- a fix would be relevant only for indexes affected by this bug, and those indexes can't be trusted anyway. New indexes on old tables would have the store columns separate from the extra columns, so the only caveat would be not to create any indexes during the cluster upgrade.

[2017-04-05 13:43] eisenstatdavid commented on #14601
Regardless, the fix is making the planner aware that it needs all of the extra columns of the various indexes to delete, which seems as though it shouldn't be too bad.

[2017-04-05 13:45] petermattis commented on #14601
Yes, those indexes can't be trusted, but I think we should fix the logic regardless. As you say later, it shouldn't be too bad to do so.

[2017-04-05 13:45] vivekmenezes commented on #7881
just adding a fact here that is unlikely to be related: we do not the txn to Txnstate.txn when we call prepare within a transaction.

[2017-04-05 13:46] cuongdo commented on #11677
This hasn't happened since last year, so closing.

[2017-04-05 13:46] #11677 closed

[2017-04-05 13:50] cuongdo commented on #12672
@danhhz please reassign or change milestone if needed

[2017-04-05 13:56] petermattis commented on #12424
57M index writes over 2h50m translates to ~5500 writes/sec. That's not too far off from what I would expect if the writes are random given the numbers we see on our test clusters. But the writes aren't random because you're adding the index `(block_id)` on a table that is sorted on `block_id`. Assuming you're doing batching for the index writes, I'd expect this to be an order of magnitude faster g

[2017-04-05 14:01] petermattis commented on #8953
We can change all of the load generators to use a default URL which looks for certs in `~/.cockroach-certs`.

[2017-04-05 14:08] mberhault commented on #8953
That would require using the pending certificate manager in external clients, adding a dependency on the `cockroachdb/cockroach` repo just to build a URL (although we could add a small utility to `cockroach-go`).

[2017-04-05 14:11] petermattis commented on #8953
Definitely don't want to add that dependency. I was imagining a small bit of code that looked in `~/.cockroach-certs`.

[2017-04-05 14:18] danhhz commented on #12672
We don't restore over existing tables yet, so don't need this for 1.0 (at least for backup/restore)

[2017-04-05 14:33] RaduBerinde commented on #10394
This is fixed. The expression in the joiner spec has been switched to be an `ON` expression; filtering (`WHERE`) is supported on all processors as part of the `PostProcessSpec`.

[2017-04-05 14:33] #10394 closed

[2017-04-05 14:35] jordanlewis opened #14628 "sql: RSG failure"
This looks like a error during CREATE DATABASE if I'm not mistaken. Assigning to @mjibson for initial triage.

[code]

https://teamcity.cockroachdb.com/viewLog.html?buildId=207469&buildTypeId=Cockroach_Nightlies_RandomSyntaxTests&tab=buildLog#_

[2017-04-05 14:47] dianasaur323 commented on #10406
assigning to @nvanbenschoten if this is still an issue. I agree with you that option 2 of maintaining PostgreSQL compatibility is the way we should go, as that's the path we've taken thus far. Please close if no longer relevant.

[2017-04-05 14:49] RaduBerinde commented on #13892
I can try to set up a paralleltest to reproduce.
@knz do you remember if this was a multi-node cluster, and if yes were the two clients (the INSERTer and the SELECTer) connecting to different nodes?

[2017-04-05 14:52] dianasaur323 commented on #10407
@eisenstatdavid Ugh, I just hit this problem yesterday, it's annoying. Let's maintain consistency with PostgreSQL behavior as mentioned in https://github.com/cockroachdb/cockroach/issues/10406. Looks like PostgreSQL automatically supports timestamp comparison with or without time zones. Assigning to you for now, but please re-assign if you think someone else should work on it.

[2017-04-05 14:55] mberhault commented on #8953
We could do a naive one which just takes the username and assumes files are located at `~/.cockroach-certs/{ca.crt,client.<user>.crt,client.<user>.key}`. This would fail with "file not found" (or similar) if misconfigured.

[2017-04-05 14:56] dianasaur323 commented on #10413
@bdarnell given that the initial issue has been addressed, and it seems like there is just remaining work on corner cases (FrozenStatus and RangeLastGCKey), I've updated the issue to be more specific regarding the actual action item attached to the issue. Please feel free to change back if you'd like.

[2017-04-05 15:00] dianasaur323 commented on #10432
@arjunravinarayan looks like you've already done a lot of work towards implementing SET processors. Do you think supporting it in DistSQL by 1.0 is still possible?

[2017-04-05 15:02] petermattis commented on #12424
`sql/distsqlrun/indexbackfiller.go` should be calling `client.Txn.CommitInBatch`, not `client.Run`. Failure to do this is will prevent the 1PC fast-path for transactions from being taken.

Also, `store.optimizePuts` only provides the blind-put optimization for `PutRequest` and `ConditionalPutRequest`. That's a valuable optimization, especially when there is a swath of empty key space that a batch

[2017-04-05 15:02] dianasaur323 commented on #10484
Closing due to inactivity, and that the associated issue #9689 has been closed. Please re-open if you disagree.

[2017-04-05 15:02] #10484 closed

[2017-04-05 15:02] a-robinson commented on #8953
Do we have examples of users being confused by this? I personally really like how easy it is to get started with cockroach locally, even if there's a possibility of a little confusion later on.

My only real problem with the current flags is that I just realized that setting `--insecure` can override setting `--host=localhost`, essentially breaking any node deployed with that combination of flags.

[2017-04-05 15:03] dianasaur323 commented on #10490
@bdarnell Assigning you on this, but please feel free to reassign!

[2017-04-05 15:05] bdarnell commented on #10413
I think the title is still appropriate, especially since #14434 has revealed that the command queue is not yet fully working for propEvalKV.

[2017-04-05 15:05] petermattis opened #14630 "storage: extend optimizePuts to support InitPutRequest"
`storage.optimizePuts` enables the blind-put optimization when a batch of `Put` or `ConditionalPut` requests is writing to an empty key range. The blind-put optimization avoids reading keys while writing them which is a significant performance win. We should extend `optimizePuts` to support `InitPut` operations which are used by the schema changer for backfill operations.

Marking for 1.0 as this

[2017-04-05 15:06] #14071 closed

[2017-04-05 15:06] petermattis commented on #14630
See #12424.

[2017-04-05 15:06] dianasaur323 commented on #10506
@petermattis I'm going to move this out of the 1.0 milestone for now and into Q2 2017. It seems like an interesting optimization, but not necessary for the 1.0 particularly given how much work we've already done here. Please move back if you disagree.

[2017-04-05 15:07] #14608 closed

[2017-04-05 15:09] mberhault commented on #8953
We've had a few people trying to figure out why their server wasn't responding to external queries.
In addition to that, we've been trying to figure out 4 of 5 times how to document these properly, and whether the behavior was buggy or not. If even we get confused by the flag behavior, that's not a great sign.

[2017-04-05 15:10] jordanlewis commented on #12424
Thanks for the suggestion! Same goes for the columnbackfiller. I'll make a PR.

[2017-04-05 15:12] petermattis commented on #12424
Great. Looking forward to seeing those schema change numbers improve.

[2017-04-05 15:13] asubiotto opened #14631 "beta-20170406"
The candidate SHA is 7e593b16a9bf3a938adb33e54b32bac330d650cc.
Deployed to `omega` and `adriatic` as well as a race-enabled build to `cerulean`.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [x] Check and verify cluster status
- [x] Tag release and push tag
- [x] [Trigger release build](https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockr

[2017-04-05 15:15] petermattis commented on #10506
This isn't an optimization, but a data availability issue. If we remove a replica that is a necessary part of the quorum, we could leave the range in a fragile state such that a node outage causes the range to become unavailable.

The code to avoid removing a replica that is a necessary part of quorum is likely small. As mentioned in one of the comments above, we already have the opposite heuristi

[2017-04-05 15:16] dianasaur323 commented on #10533
Assigning to @mberhault. I think having the I/O metrics would be good for 1.0, and we can punt on having them show up in the admin UI until Q2 2017. Please re-adjust and re-assign if you disagree.

[2017-04-05 15:17] mberhault commented on #14631
I changed the title, we use the actual release data at the beta tag.

[2017-04-05 15:19] petermattis commented on #14630
We'd also have to tweak `evalInitPut` to call a new `MVCCBlindInitPut` function. And while we're there, we should make `evalInitPut` participate in the distinct spans optimization.

[2017-04-05 15:22] tamird commented on #10484
Thanks @dianasaur323. For posterity, this was actually fixed in https://github.com/grpc-ecosystem/grpc-gateway/pull/256.

[2017-04-05 15:22] petermattis commented on #10533
Not sure if we need this for 1.0. We could recommend running the [Prometheus node_exporter](https://github.com/prometheus/node_exporter).

If we do add disk metrics, we could use the Prometheus [collector](https://github.com/prometheus/node_exporter/tree/master/collector) for grabbing them.

[2017-04-05 15:23] arjunravinarayan commented on #10432
Yes, we can support it in 1.0.

[2017-04-05 15:24] vivekmenezes commented on #13804
closing this issue because I don't want us to be tracking meta issues. Thanks for documenting this.

[2017-04-05 15:25] nvanbenschoten commented on #9920
This is actually a subtly different issue than #12968, so I'm going to reopen for now. Fix incoming though.

[2017-04-05 15:26] dianasaur323 commented on #10533
Ok, I was unaware that we could pull those metrics easily. Let's move this out!

[2017-04-05 15:27] RaduBerinde commented on #14563
With #14590, we should see the logs; but there have been no repros since :/

[2017-04-05 15:28] dianasaur323 commented on #10506
Got it, in that case it makes total sense to leave this in 1.0. I'm going to assign you on it. Mwahaha...

[2017-04-05 15:36] vivekmenezes commented on #13804
reopening since folks find it useful

[2017-04-05 15:37] cockroach-teamcity opened #14632 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestLogic, testrace (proposer evaluated kv)/TestLogic/distsql, testrace (proposer evaluated kv)/TestLogic/distsql/pipelining"
The following tests appear to have failed:

[#208358](https://teamcity.cockroachdb.com/viewLog.html?buildId=208358):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-05 15:41] vivekmenezes commented on #13468
This issue seems similar to  #14548 . assigning to @jordanlewis to close

[2017-04-05 15:44] nvanbenschoten commented on #14632
Dup of #14563.

[2017-04-05 15:44] #14632 closed

[2017-04-05 15:44] RaduBerinde commented on #14563
#14632, but still no logs...
[code]
Race was detected but the test wasn't stopped, even though we should be passing `GORACE := halt_on_error=1`.

Let's pass `--show-logs` or disable this abomination altogether until it works properly.

[2017-04-05 15:45] tamird commented on #14563
@RaduBerinde I'm late to this party but why was halt_on_error even required? https://github.com/golang/go/commit/43f954e09858449cc5f3650720e81b7e879ab349 which was included in 1.8 fails tests on detected races.

[2017-04-05 15:49] RaduBerinde commented on #14563
@tamird Rhat change marks the test as failed after the test code finished. The test code doesn't know that the test will fail and cleans up the logs.

[2017-04-05 15:49] tamird commented on #14563
Ah. Sounds to me like that's worth filing an issue upstream.

[2017-04-05 15:50] vivekmenezes commented on #12123
https://github.com/cockroachdb/cockroach/commit/45614b61e5cd67f7b0bc50f154e5b8eb07fa4e97

fixes this issue by disallowing such transactions.

[2017-04-05 15:51] vivekmenezes commented on #12123
https://github.com/cockroachdb/cockroach/pull/14368 fixes this

[2017-04-05 15:54] dianasaur323 commented on #10581
@tamird is this still an issue? If not, let's close out.

[2017-04-05 15:57] petermattis commented on #10401
With the following patch:

[code]

`make stress PKG=./storage/ TESTS=TestReplicaTimestampCacheBumpNotLost` ran for 23m without failure. Reassigning to @spencerkimball who has a deeper knowledge of anomalies like this. Perhaps something was fixed in this area such as our addition of ambiguous results.

[2017-04-05 15:58] dianasaur323 commented on #10666
assigning to @bdarnell. Feel free to reassign!

[2017-04-05 16:03] dianasaur323 commented on #10679
@cuongdo just curious given that I'm not sure what the repercussions are of not doing this quite yet - do you think this still falls into 1.0? Would like to understand for learning purposes.

[2017-04-05 16:08] tamird commented on #10581
Yes, jemalloc has been updated. I'll let @a-robinson close this.

[2017-04-05 16:12] eisenstatdavid commented on #10679
@dianasaur323 Users of collated strings have to cast to and from string much more than they should. Casting is an obnoxious workaround, but it is a complete solution.

[2017-04-05 16:14] dianasaur323 commented on #10736
@mberhault is there still outstanding work related to this issue? Looks like you've already done part of the suggested work in your February commits.

[2017-04-05 16:25] bdarnell commented on #10666
No urgency here; removing from 1.0.

[2017-04-05 16:34] #10581 closed

[2017-04-05 16:35] a-robinson commented on #10581
We've updated jemalloc, and don't have backtrace enabled anymore. No reason to keep this open.

[2017-04-05 16:36] vivekmenezes commented on #13505
after #14368 we disallow statements that follow a certain type of schema change in the same transaction. This restriction applies to schema changes that are rolled out in many transactions. CREATE TABLE on its own without the use of FKs can be followed by another statement in the same transaction because it is a schema change that can be fully executed within the same transaction.

[2017-04-05 16:36] dianasaur323 commented on #10754
@mberhault is this still an issue? It's pretty old. If not, we should close out?

[2017-04-05 16:40] dianasaur323 commented on #10863
Looks like this was fixed by https://github.com/cockroachdb/cockroach/pull/12408

Closing!

[2017-04-05 16:40] #10863 closed

[2017-04-05 16:42] dianasaur323 commented on #10940
Assigning to @bdarnell for reassignment.

[2017-04-05 16:46] tamird opened #14634 "log: replace homegrown coloring code"
This should be a self-contained task, touching only the logging package.

Related to #14483.

Good one for a first-time contributor.

The code in question: https://github.com/cockroachdb/cockroach/blob/34736b8e24aa242d80ca890cf8b3d0fe1fa4763e/pkg/util/log/clog.go#L788:L823 plus surrounding types.

Three requirements:

1) the new code should abstract the color numeric codes into symbolic names
2) i

[2017-04-05 16:48] dianasaur323 commented on #11191
@tamird has this issue been fixed yet? Going to assign it to you for now to close if it's been fixed.

[2017-04-05 16:52] tamird commented on #11191
Indeed, seems like there's nothing to go on here.

[2017-04-05 16:52] #11191 closed

[2017-04-05 16:52] danhhz opened #14636 "ui: missing data in graph hover for some nodes"
I lost a node for a while but its data is missing from the graph hover for all times after it died (even once it had come back). If that doesn't make sense, look at the two screen shots

Node 3 before it died: https://www.dropbox.com/s/i1lderxfnvln9ca/Screenshot%202017-04-05%2012.50.30.png?dl=0
Node 3 after it had come back (note the 0.000): https://www.dropbox.com/s/zqx8sa7k86utnrl/Screenshot%202

[2017-04-05 16:59] dianasaur323 commented on #11209
If this isn't reproducible, let's just close it out. It's been more than four months. Please re-open if you disagree.

[2017-04-05 16:59] #11209 closed

[2017-04-05 17:09] dianasaur323 commented on #11654
@knz I'm going to assign you to this one. It seems to make sense to support this usability feature in the 1.0, but also not necessarily a blocker. We can leave it in for 1.0 for now, and you can move it out if you think that would be more appropriate.

[2017-04-05 17:10] dianasaur323 commented on #11718
assigning @BramGruneir

[2017-04-05 17:11] dianasaur323 commented on #11679
Let's close this based on Ben's comment above and lack of any immediate action.

[2017-04-05 17:11] petermattis commented on #11718
This happened a long time ago. There is likely little that can be done now and it is possible that the cause of the OOM was already fixed.

[2017-04-05 17:11] #11718 closed

[2017-04-05 17:15] tamird commented on #11679
Seems aggressive to close this. Assigning @BramGruneir for triage.

[2017-04-05 17:17] dianasaur323 commented on #11679
Perfect, thanks Tamir

On Wed, Apr 5, 2017 at 1:15 PM, Tamir Duberstein <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-04-05 17:28] #6886 closed

[2017-04-05 17:36] mjibson commented on #10406
I think we should close this as expected behavior. It's the same as what postgres does. Using floats is already known to produce inconsistencies like this. See for example the `variance` and `stddev` aggregate float functions, which will return different results based on the order their input was received.

[2017-04-05 17:44] mjibson commented on #14628
The unexpected value error occurs in roachpb/errors.go. The raw_bytes thing seems like something produced by the rocksdb code? I'm not sure where to dig here as there's not a lot useful in the error. @petermattis any ideas?

[2017-04-05 17:46] dianasaur323 commented on #10406
Perfect, closing

[2017-04-05 17:46] #10406 closed

[2017-04-05 17:54] petermattis commented on #14628
`Value.raw_bytes` (a.k.a. `Value.RawBytes`) is where column data is stored in the KV layer. I'd guess the error is coming from a failed `ConditionalPut`. See `ConditionFailedError`. You could try instrumenting the code which is creating the error and see what it is getting called.

[2017-04-05 18:09] #10172 closed

[2017-04-05 18:28] mjibson commented on #14628
Ok. This is the first time we've seen this bug. I'm planning on waiting for a while to see if it comes up again.

[2017-04-05 18:29] petermattis commented on #14628
Well, we really shouldn't be leaking that error through to `pq`. I think RSG found a real problem again.

[2017-04-05 19:10] petermattis commented on #9555
Reproduction instructions:

[code]

The split queue then starts looping trying to split the range:

[code]

[2017-04-05 19:21] #13384 closed

[2017-04-05 19:25] petermattis commented on #10972
A 10min chaos event on `blue` caused a dip in performance both while the node was dead and then while it was recovering:

<img width="933" alt="screen shot 2017-04-05 at 3 12 50 pm" src="https://cloud.githubusercontent.com/assets/6201335/24722928/868a94f8-1a13-11e7-86ac-a807b4990e6c.png">

Initially, recovery looked good with the under-replicated ranges dropping to 0 around 18:43. But then additio

[2017-04-05 19:50] andreimatei commented on #12672
Re: the suggestion to have "reference tables" that are replicated on every
node: what we want to do in distsql is identify small tables (or, more
generally, small data sources) used in a join and distribute it to every
node that has data for the other side of the join. This would be done at
runtime.

On Apr 5, 2017 7:50 AM, "Cuong Do" <notifications@github.com> wrote:

@danhhz <https://github.com/

[2017-04-05 20:33] petermattis commented on #9555
The specific cause of the loop is that `replica.adminSplitWithDescriptor` chooses the start key as the split key and returns `nil` with an event log indicating that the range is already split at the specified key. The start key is chosen as the split key due to `EnsureSafeSplitKey` which "truncates" the key returned by `MVCCFindSplitKey` to a row boundary.

[2017-04-05 20:34] bdarnell commented on #14434
OK, I've found the bug. It's a race between a split and a write to the RHS of the range. In propEvalKV, we check that the write is in bounds for the range descriptor upstream of raft, but we don't repeat that check downstream of raft. This was fine before because splits (which are counted as a read of the entire range for the command queue) blocked the write. The command queue timestamp change all

[2017-04-05 20:45] knz commented on #14595
@0xbaadf00d: to clarify what ben says, you'd use a column of type "BYTES" to store the UUID in a table (and index it), then to get/set the value you would do `SELECT from_uuid(uuid_col), ...` or `INSERT INTO ...(uuid_col, ...) VALUES (to_uuid(...), ...)`

This requires you can set in the ORM custom accessor functions for your column.  If that is not the case, you can work with the string type dire

[2017-04-05 20:49] knz commented on #14592
So to clarify from the engineering perspective:
- adding support for non-recursive CTEs is a relatively small change to our execution engine, which was already on our roadmap for one of the upcoming releases this year
- adding support for recursive CTEs imply a large rewriting of our execution engine, which we are considering already (it's needed for other features we plan too) but for which we ca

[2017-04-05 20:50] bdarnell commented on #14434
It writes out of bounds, but how does that turn into the duplicate keys we see in this test? It's subtle, but I think what's going on is that this write was in the command queue on the LHS of the split instead of the RHS where it belongs, so it did not properly block a later read. This is tricky to test for.

[2017-04-05 20:52] mrtracy commented on #9433
If we need this for 1.0, I'm not sure i'm going to have time depending on the 1.0 release date.

[2017-04-05 20:59] knz commented on #14606
@nvanbenschoten can you remind me/us which code is responsible for this check and why this fails; if that's not up your alley feel free to reassign.

[2017-04-05 21:00] mrtracy commented on #14625
Related to #13230

[2017-04-05 21:00] spencerkimball commented on #9433
@mrtracy, Is this more complicated than I'm imagining?

[2017-04-05 21:10] mrtracy commented on #9433
@spencerkimball I just have a lot on my plate and only a month to complete it.

I don't precisely understand interleaved tables; I actually haven't even loaded up a CockroachDB database that *has* interleaved tables, so I don't even know whats currently displayed, I only have an intuition that it won't be correct.

At the very least, we'll have to add something to the Table details API to indicate

[2017-04-05 21:15] #14601 closed

[2017-04-05 21:17] mrtracy commented on #14316
Ben is correct, this is a bug with metrix suffixes.

[2017-04-05 21:18] eisenstatdavid commented on #14601
#14643 implemented approach 1 because it doesn't interfere with a later change introducing `store_column_ids` (i.e., the aforementioned fourth idea, which I will start implementing tomorrow).

[2017-04-05 21:20] jordanlewis commented on #10407
@dianasaur323, are you sure you hit this exact issue? We do support timestamp comparison between timestamps with and without timezones, actually - see @eisenstatdavid's first example. This is a bug about tuple comparison.

[2017-04-05 21:21] mrtracy commented on #14636
@danhhz The line itself for node 3 is visible, so might I ask: was the tooltip zero at *every* point, or just certain points?

If it was only zero at certain points, this is a duplicate of #12856

[2017-04-05 21:21] petermattis commented on #9555
We could adjust `Replica.mu.maxBytes` higher to avoid repeatedly trying to split a range that can't be split. Alternately, we could add a `Replica.mu.skipSplitBySize` flag, but when would we clear it? When we can't split a range because it is too large, something might eventually change to allow the split to succeed. For example, a single large row might be overwritten with a smaller row and GC wo

[2017-04-05 21:22] petermattis commented on #14602
@mberhault Is there anything left to do here?

[2017-04-05 21:27] danhhz commented on #14636
The tooltip was zero for every point after the node went down. This included points from after it came back up that were clearly not 0 on the graph.

Maybe it was just interpolating and I didn't go left and right far enough to find the endpoints of the interpolation. I'm happy closing this as a dup #12856

[2017-04-05 21:27] #14636 closed

[2017-04-05 21:32] dianasaur323 commented on #10407
Ah, I see. My issue was trying to use the age function, which only supports
timestamptz. Either way, could we decide what postgresql supports, and if
we already support it this way, let's close out?

Diana

On Wed, Apr 5, 2017 at 2:21 PM Jordan Lewis <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-04-05 21:39] petermattis commented on #13679
The low-hanging fruit has been plucked here.

[2017-04-05 21:39] #13679 closed

[2017-04-05 21:47] jseldess opened #14648 "cli: --locality help text is out-dated"
Need to remove the bit about "not yet implemented" and the link to the GitHub issue:

[code]

[2017-04-05 22:00] spencerkimball commented on #9555
How about adding a `replica.mu.maxBytesFactor` variable which is set to 1 and increases by factors of 2 anytime the range split fails, and is set back to 1 on a successful split?

[2017-04-05 22:45] #14648 closed

[2017-04-05 22:58] cockroach-teamcity opened #14650 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestConcurrentUpsertWithSnapshotIsolation"
The following tests appear to have failed:

[#208928](https://teamcity.cockroachdb.com/viewLog.html?buildId=208928):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-05 23:43] jordanlewis commented on #10407
I'm working on a fix for this.

[2017-04-05 23:55] jordanlewis opened #14652 "sql: overload resolution is inconsistent for functions that take numeric constants"
While investigating #10407, I noticed some inconsistent behavior in our function overload resolver.

Currently, you can't take the `sqrt` of an integer literal without a type error:

[code]

However, by carefully constructing a query that uses tuple comparison (and possibly in other situations as well), you can:

[code]

Note that flipping the operands here ends up failing:

[code]

I'm planning o

[2017-04-06 00:04] dianasaur323 commented on #10407
Awesome, thanks Jordan

On Wed, Apr 5, 2017 at 7:43 PM, Jordan Lewis <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-04-06 00:14] spencerkimball commented on #9433
Hmm that makes sense. Sounds like this could be a candidate for someone more familiar with interleaved tables to jump in and contribute on the UI.

+cc @danhhz

[2017-04-06 00:21] petermattis commented on #9555
Hmm, that might work, though I'm not sure we need another field. If we can't find a split key for a size-based split, we can call `Replica.SetMaxBytes(Replica.GetMVCCStats().Total())`. This will prevent another split from being attempted until the range grows in size. Upon a successful split, we call `Replica.SetMaxBytes(zone.RangeMaxBytes)`.

[2017-04-06 01:12] #14533 closed

[2017-04-06 01:26] spencerkimball commented on #9555
Sounds like we'd still get plenty of complaints. I'd suggest multiplying current size by two. But the reason I suggested another variable is that we call `SetMaxBytes` whenever zone configs are gossiped.

[2017-04-06 01:37] vivekmenezes commented on #6773
The concern here is with using table descriptors from the transactions future. This is a perfectly legal descriptor in the sense that it is one of the two legal ones. So what happens here?

ADD INDEX

In the particular case of using a brand new index present in the descriptor from the future, the transaction might decide to use the index. If it reads the index, two things can happen: Either the in

[2017-04-06 01:37] vivekmenezes commented on #6773
@andreimatei please close this issue if you are satisfied with this answer

[2017-04-06 01:45] petermattis commented on #9555
I'd rather error on the side of resetting, though. What additional complaints are you worried about? I have my suggestion implemented and it works for my test case. If you add another row to the range the range gets split.

True, but attempting another split and failing isn't terrible. It is the repeated retries we're trying to avoid and I'd rather retry once than have a bug where the target range

[2017-04-06 01:58] vivekmenezes commented on #6773
In case you're wondering why a reader gets pushed by a writer, from the design doc:

"Reader encounters write intent or value with newer timestamp in the near future: In this case, we have to be careful. The newer intent may, in absolute terms, have happened in our read's past if the clock of the writer is ahead of the node serving the values. In that case, we would need to take this value into ac

[2017-04-06 02:00] vivekmenezes commented on #6773
related to #6774

[2017-04-06 04:52] mberhault commented on #14602
some tweaks to get_profile and stopping goroutine dumps in more clusters, but nothing on this issue. Closing.

[2017-04-06 04:52] #14602 closed

[2017-04-06 04:55] mberhault commented on #10736
Quite a bit, but this is a longer term debugging tools issue. I'll lower the priority.

@BramGruneir: do you have somewhere you're tracking these?

[2017-04-06 05:27] mberhault commented on #13807
@petermattis: looks like #14475 fixes this as well?

[2017-04-06 05:27] cockroach-teamcity opened #14655 "teamcity: failed tests on master: check/TestStyle, check/TestStyle/TestErrCheck, check/TestStyle/TestReturnCheck, check/TestStyle/TestMetacheck, acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#209032](https://teamcity.cockroachdb.com/viewLog.html?buildId=209032):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-06 05:37] mberhault commented on #14272
Quick update: using a separate cert/key pair for the UI will be easy to do with the new certificate manager:
* ui cert/key pair located at: `COCKROACH_CERTS_DIR/ui.{crt,key}`
* these can be symlinks to the letsencrypt chain and key
* fallback to `node.{crt,key}` if UI-specific pair is not found
* the system CA pool needs to be loaded in addition to our self-signed cert
* creation/renewal still nee

[2017-04-06 06:09] cockroach-teamcity opened #14656 "ccl/sqlccl: TestBackupRestoreSystemJobs failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209064&tab=buildLog

[code]

[2017-04-06 06:09] cockroach-teamcity opened #14657 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209093&tab=buildLog

[code]

[2017-04-06 06:53] mberhault commented on #13687
I think this is resolved. Please re-open if not.

[2017-04-06 06:53] #13687 closed

[2017-04-06 06:54] mberhault commented on #13506
This is pretty old. Closing.

[2017-04-06 06:54] #13506 closed

[2017-04-06 06:56] mberhault commented on #13507
syncing slows everything down. Not much more to debug here.

[2017-04-06 06:56] #13507 closed

[2017-04-06 06:56] cockroach-teamcity opened #14658 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209197&tab=buildLog

[code]

[2017-04-06 06:56] mberhault commented on #12875
Anything else to investigate here?

[2017-04-06 06:58] mberhault commented on #9304
This is being worked on in the Settings Table RFC: #14230

[2017-04-06 06:58] #9304 closed

[2017-04-06 06:59] mberhault commented on #7211
@mjibson: not sure if this is a desired feature or not. Feel free to close.

[2017-04-06 07:01] mberhault commented on #4784
dup of #14564

[2017-04-06 07:01] #4784 closed

[2017-04-06 07:03] mberhault commented on #2502
@a-robinson: I believe you're doing some system config work?

[2017-04-06 07:04] mberhault commented on #1560
I don't think there's much to do here. @asubiotto?

[2017-04-06 07:35] cockroach-teamcity opened #14659 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209301&tab=buildLog

[code]

[2017-04-06 08:00] cockroach-teamcity commented on #13886
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209293&tab=buildLog

[2017-04-06 08:16] cockroach-teamcity opened #14660 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209409&tab=buildLog

[code]

[2017-04-06 08:19] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209322&tab=buildLog

[2017-04-06 08:45] cockroach-teamcity commented on #14540
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209487&tab=buildLog

[2017-04-06 08:50] cockroach-teamcity opened #14661 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209518&tab=buildLog

[code]

[2017-04-06 08:50] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209430&tab=buildLog

[2017-04-06 08:51] mberhault opened #14662 "cli: refactor flag handling"
Our flags are a bit of a mess, specifically:
* similarly-named flags are used in both client and server contexts
* environment variables are sometimes used, sometimes not
* all flags are initialized, and loaded, regardless of the command run

This is making some details tricky (eg: #9189).
We should look into a better way of rearranging our flags. Some options include:
* using higher-level env uti

[2017-04-06 09:24] cockroach-teamcity opened #14663 "migrations: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/75e00c24c65003f534f90d7fda368b7a0cc1e4af

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=209626&tab=buildLog

[code]

[2017-04-06 11:56] spencerkimball commented on #13807
Fixed by #14475

[2017-04-06 11:56] #13807 closed

[2017-04-06 13:21] a-robinson commented on #14655
This confuses me. Why did this fail to compile? I suppose the `main_test.go` file could be simplified, but that security function definitely exists and this has succeeded in other CI runs.

[2017-04-06 13:26] a-robinson commented on #14657
Merge skew - #14664

[2017-04-06 13:26] #14657 closed

[2017-04-06 13:26] a-robinson commented on #14658
Merge skew - #14664

[2017-04-06 13:26] #14658 closed

[2017-04-06 13:26] a-robinson commented on #14659
Merge skew - #14664

[2017-04-06 13:26] #14659 closed

[2017-04-06 13:26] a-robinson commented on #14660
Merge skew - #14664

[2017-04-06 13:26] #14660 closed

[2017-04-06 13:26] a-robinson commented on #14661
Merge skew - #14664

[2017-04-06 13:26] #14661 closed

[2017-04-06 13:26] a-robinson commented on #14663
Merge skew - #14664

[2017-04-06 13:26] #14663 closed

[2017-04-06 13:39] asubiotto commented on #1560
I don't think so either. I don't think it's a necessary enhancement at this stage.

[2017-04-06 13:41] #1560 closed

[2017-04-06 13:43] cockroach-teamcity opened #14667 "teamcity: failed tests on master: check/TestStyle, check/TestStyle/TestErrCheck, check/TestStyle/TestReturnCheck, check/TestStyle/TestMetacheck"
The following tests appear to have failed:

[#209743](https://teamcity.cockroachdb.com/viewLog.html?buildId=209743):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-06 13:43] dt commented on #14540
I meant to PR https://github.com/cockroachdb/cockroach/pull/14666 sooner, but looking at the logs, I'm not quite convinced it actually fixes this:

[code]

so it sees 985677901 sitting there after the test, but we clearly printed above `closing rocksdb instance at "...985677901"` so the call to Close() did happen?

Stange.

[2017-04-06 13:47] dt commented on #14656
#14540

[2017-04-06 13:54] a-robinson commented on #14667
#14664

[2017-04-06 13:54] #14667 closed

[2017-04-06 13:57] dt commented on #14540
More specifically, of the two possible leaks fixed in #14666, one is in a benchmark and clearly doesn't apply here.
The other is in the `MakeRocksDBSstFileReader` constructor's err return if RocksDB fails to open, but given the `closing...` message i mentioned above, I don't think that we too that err return path.

[2017-04-06 14:08] vivekmenezes commented on #14596
same as #11708

[2017-04-06 14:08] #14596 closed

[2017-04-06 14:12] bdarnell commented on #12875
No, I think it's time to close this issue and destroy gamma.

[2017-04-06 14:12] #12875 closed

[2017-04-06 14:17] vivekmenezes commented on #7002
closing this issue because it is similar to #12424 . It is a lot better now, see the update to that bug.

[2017-04-06 14:17] #7002 closed

[2017-04-06 14:35] petermattis opened #14670 "stability: investigate ledger slow performance under contention"
Moved from https://github.com/cockroachdb/examples-go/issues/101 (I verified this is still happening as of 38c7c5b6f041bdd784bcb5e9e3f97ed54482c80e):

On current master (a092861e47331a2cbd19e98dd69eb34d19196d2d), run the following:

[code]

Note that this is a contended workload (on `account_id=0`), essentially five writers running the following:

[code]

You should (or rather, are forced to) see

[2017-04-06 14:38] #14655 closed

[2017-04-06 14:40] a-robinson commented on #14184
Looks like this might not have been enough, judging by https://teamcity.cockroachdb.com/repository/download/Cockroach_UnitTests_AcceptanceProposerEvaluatedKv/208994:id/acceptance/logTestDockerMigration_7429590651871/acceptancetest.log

[2017-04-06 14:41] danhhz commented on #9433
I definitely don't have time to ramp up on ui technology, but happy to do any API work needed. @mrtracy want to chat quickly today and at least figure out how much work in involved here?

[2017-04-06 14:42] a-robinson commented on #2502
Nothing that will help with this, no. Just giving them their own zone configs.

[2017-04-06 14:43] BramGruneir opened #14671 "server/status: debug pages tracking"
This is a tracking issue for debug page work.  Note that not all of this will be ready for 1.0 and this list is not exhaustive.

Ranges
- [x] Lease History
- [x] #15932 Range History (splits)
- [x] #15932 Rebalance History
- [x] #15722 MVCC Stats
- [x] Clean up histories (split the json)
- [x] ~~maybe join lease and log into one~~
- [x] #17433 move to admin ui
- [x] #16583 cleanup top line to comb

[2017-04-06 14:43] BramGruneir commented on #10736
I wasn't, I just created one: #14671

[2017-04-06 15:05] #5419 closed

[2017-04-06 15:07] andreimatei commented on #6773
What I would like to understand is fundamental: what is a table lease with expiration E? Is it a capability for txns to commit with a timestamp < E (i.e. the ability to do writes using with ts < E using this version of the descriptor)? If so, shouldn't they also have a start timestamp T (i.e. shouldn't we enforce that writes that have been produced using this version of the descriptor don't have a

[2017-04-06 15:15] tamird commented on #14184
We should print that error as `%v` so that we get a line number; right now I haven't a clue what is actually failing.

[2017-04-06 15:15] tlvenn commented on #14554
Hi @jordanlewis, sorry was pretty busy the past 2 days and I am only now catching up with emails, github notifications and the like.

Unfortunately, we can't use yet the default Postgrex driver because the following query still dont run in CDB:

[code]

[2017-04-06 15:28] dianasaur323 commented on #10736
Thanks both!

[2017-04-06 15:29] tamird opened #14673 "engineccl: make it build on windows"
`ccl/storageccl/engineccl` currently depends on C++ symbols exported from `storage/engine`. Due to https://github.com/golang/go/issues/14985, it is not possible to share non-Go symbols across Go package boundaries.

It's also not kosher to duplicate the relevant files in the two packages, because that will result in duplicate symbols during final linking.

I think the only way to accomplish this t

[2017-04-06 15:42] petermattis commented on #10972
Looks like there is some sort of RPC problem when the node liveness failures occur. During another chaos event on `blue`, I see the recovering node is doing fine and then boom, various slow request errors along with:

[code]

I wonder of the stream and connection window size settings are proving problematic.

[2017-04-06 15:46] andreimatei commented on #10972
I think they are. The context deadline exceeded error is likely just our
heartbeats not making it across.
I'm fixing that in:
https://reviewable.io/reviews/cockroachdb/cockroach/14424#-

The next thing I was going to do is make the conn win size a multiple of
the per stream one, or in fact get rid of the per-connection window
altogether if I can convince Ben.

On Thu, Apr 6, 2017 at 11:42 AM, Pete

[2017-04-06 15:47] juanjcsr commented on #14634
I can work with this one. This will be my first time contributing to this awesome project.

I was looking at the source code of the logging package and it seems like an easy task. I was worried for `github.com/faith/color` Windows support but I just saw that the latest version now correctly supports it so I hope it does not be too hard

[2017-04-06 15:48] petermattis commented on #10972
the per stream one, or in fact get rid of the per-connection window
altogether if I can convince Ben.

How were you going to do that?

[2017-04-06 15:50] andreimatei commented on #10972
Just like you've done it... Change the constants in grpc.

On Thu, Apr 6, 2017 at 11:48 AM, Peter Mattis <notifications@github.com>
wrote:

[2017-04-06 15:51] petermattis commented on #10972
Notice in the Raft Log graph above how the "raft log behind" metric initially shrinks rapidly when the dead node comes back, then has a period of flatness before another spike. I think this is yet more indication of RPC problems.

[2017-04-06 15:52] petermattis commented on #10972
I tried setting the connection window size to 8MB. It didn't help.

[2017-04-06 15:55] tamird commented on #14634
@juanjcsr great! I'm happy to mentor and review your work (reach out to me on our gitter channel if you need help).

Welcome!

[2017-04-06 16:00] jordanlewis commented on #14554
Indeed, I didn't notice because of the other issues above, but this query uses a correlated subquery which we don't support yet - see #3288.

[2017-04-06 16:04] jordanlewis commented on #14621
#14605 duplicate

[2017-04-06 16:04] #14621 closed

[2017-04-06 16:06] dianasaur323 commented on #11726
I'm going to close this issue for now as it's pretty old and it doesn't seem to require any actionable fixes. Feel free to re-open if you disagree.

[2017-04-06 16:06] #11726 closed

[2017-04-06 16:09] dianasaur323 commented on #12035
@asubiotto In your team notes re enabling bigtest with distsql, did we address this issue? If so, we can close. Otherwise, no action needed! Thanks.

[2017-04-06 16:11] dianasaur323 commented on #12107
assigning @mberhault. Feel free to re-assign.

[2017-04-06 16:12] RaduBerinde commented on #14563
Oh, I think I was looking at the wrong "Artifacts". Apparently there is one for the parent build, and a separate one for the `testrace` build. The UI is not helpful at all here.

Anyway, here's finally the log from a failure:
https://teamcity.cockroachdb.com/repository/download/Cockroach_UnitTests_Testrace/209987:id/TestLogic232243208/sqltest.log

The failure in #14632 had a similar log: https://t

[2017-04-06 16:12] dianasaur323 commented on #12143
This is probably not going to make it into the 1.0? I'm going to move it out for now, but feel free to move back in if you disagree.

[2017-04-06 16:14] RaduBerinde commented on #14563
It's caused by this limitation:
[code]

[2017-04-06 16:15] RaduBerinde commented on #12035
No, this is about enabling more stuff inside bigtest (for both regular and distsql).

[2017-04-06 16:15] dianasaur323 commented on #12355
Also related to https://github.com/cockroachdb/cockroach/issues/14589 I believe.

[2017-04-06 16:21] jordanlewis commented on #12035
I recently investigated adding some more of these, and we're pretty close. The main incompatibility seems to be our lack of support for integer division via `INT / INT` - for some reason this kind of expression shows up in nearly all of the un-enabled tests.

[2017-04-06 16:21] dianasaur323 commented on #12580
@cppforlife Are you still experiencing this issue? I'm going to close it for now as this is dated, but feel free to re-open if necessary.

[2017-04-06 16:21] #12580 closed

[2017-04-06 16:40] dianasaur323 commented on #12035
Thanks both of you! In that case, I'm going to assign to you for now, @jordanlewis.

[2017-04-06 17:35] #9555 closed

[2017-04-06 17:51] a-robinson commented on #10692
I'm not sure we can split the system ranges up as nicely as proposed in https://github.com/cockroachdb/cockroach/issues/10692#issuecomment-261261349 due to the ordering of the relevant keys.

Splitting off the meta1/meta2 records is easy, since they're well separated from the system prefix. But within the system prefix, the other records aren't really separable. If I'm not mistaken, the ordering i

[2017-04-06 18:13] dianasaur323 commented on #12612
assigning @jseldess

[2017-04-06 18:14] dianasaur323 commented on #12614
@BramGruneir is this still an issue being observed? If not, we should close out. Assigning to you for now.

[2017-04-06 18:16] petermattis commented on #10692
Sounds fine to me. I don't think the very small `update` range will be problematic.

[2017-04-06 18:17] BramGruneir commented on #12614
This is very old and I we're done with all the gamma issues now.

[2017-04-06 18:17] #12614 closed

[2017-04-06 18:24] dianasaur323 commented on #12675
assigning to @spencerkimball since it looks like you've done some ts stuff before. Please reassign if necessary. Thanks!

[2017-04-06 18:25] dianasaur323 commented on #12679
Does this still belong in 1.0? I think we can move it out, but feel free to move back in if you disagree.

[2017-04-06 18:38] cuongdo commented on #10751
reassigning to @petermattis to find a new owner

[2017-04-06 19:03] vivekmenezes commented on #6773
@andreimatei a lease is valid from the time the lease descriptor version was written in the DB (start time) to the time the lease expires (expiration time). For sure we are not considering the start time in transactions and that needs to be fixed. Luckily we can use the timestamp as the start time and that should suffice. In terms of expiration time, I agree we can make something perfect that take

[2017-04-06 19:05] nvanbenschoten commented on #14563
Oh awesome! Where was this log hiding, though? I still only see a few hidden artifacts.

The race makes sense, I'll put together a fix.

[2017-04-06 19:13] vivekmenezes commented on #6773
As far as considering using the start time of a lease when using a lease,

- Always create new leases on the latest two versions of the table descriptor:

1. We need to first decouple the use of gaining a lease using a transaction except when the transaction involves a CREATE TABLE for the leased table. The lease acquisition logic should use its own transaction in all other cases.
2. Furthermore,

[2017-04-06 19:13] jordanlewis commented on #14563
The failure links from TeamCity in these issues link to the top-level Github CI job, as Radu pointed out. That job has one prerequisite build for every test that we run against PRs - test, testrace, check, etc - and will never have any artifacts.

To get to the artifacts, you need to click through to the failing prerequisite build first.

In #14632, for example, click this link:

![image](https://

[2017-04-06 19:16] #14059 closed

[2017-04-06 19:16] #14372 closed

[2017-04-06 19:32] cockroach-teamcity opened #14679 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#210361](https://teamcity.cockroachdb.com/viewLog.html?buildId=210361):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-06 19:36] vivekmenezes commented on #6773
Looks like to make this perfect we also need to insert a ```cluster``` lease for every version of the table with no expiration time.

1. Every time the lease version is incremented, the old cluster lease at the old version is deleted and a new cluster lease at the new version is created.
2. every time a lease is acquired, the cluster lease at that version is also read.

The above guarantees that o

[2017-04-06 19:41] #10407 closed

[2017-04-06 19:48] vivekmenezes commented on #6773
So to summarize the new strategy that guarantees that a lease only on the latest version of a table can be acquired. (fix for #6774)

1. Each table owns a ```cluster lease``` in the lease table with its current version. This lease never expire and cannot be used by a transaction.
2. Every time the lease version is incremented, the old cluster lease at the old version is deleted and a new cluster l

[2017-04-06 19:51] vivekmenezes commented on #6773
We also need to figure out how to push transactions which cannot use the latest lease, which is the fix for this issue.

[2017-04-06 19:57] spencerkimball commented on #12675
This isn't 1.0. Could you remove the milestone?

[2017-04-06 19:59] dianasaur323 commented on #12675
Done

On Thu, Apr 6, 2017 at 12:57 PM, Spencer Kimball <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-04-06 19:59] spencerkimball commented on #10692
Sounds good to me too.

[2017-04-06 20:00] dianasaur323 commented on #12732
Closing - we support this now.

[2017-04-06 20:00] #12732 closed

[2017-04-06 20:12] petermattis commented on #10972
I still haven't tracked down where the RPC problem is coming from. I'm experimenting with rate limiting the bandwidth we use for sending snapshots. Initial testing with a limit of 2 MB/sec shows this to significantly less the performance impact of the rebalance traffic when a node is declared dead.

[2017-04-06 20:14] cockroach-teamcity opened #14680 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#210429](https://teamcity.cockroachdb.com/viewLog.html?buildId=210429):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-06 20:17] vivekmenezes commented on #6773
And since ```cluster lease``` is something new we need to create an upgrade path which creates a ```cluster lease``` for all existing table descriptors

[2017-04-06 20:23] a-robinson opened #14681 "kubernetes: Our StatefulSet configuration doesn't work on Kubernetes 1.6.0"
They appear to have changed which DNS entries get created for headless services. Investigating whether or not it was intentional...

Initially reported by a user on the Kubernetes slack.

[2017-04-06 20:23] petermattis commented on #10972
Note to self: my experiment uses a single bandwidth limit for both preemptive and Raft snapshots, but we probably want to allow Raft snapshots to be given more bandwidth.

[2017-04-06 20:27] jordanlewis opened #14682 "sql: BETWEEN doesn't handle NULL correctly"
In Postgres:

[code]

In CockroachDB:

[code]

`a BETWEEN x AND y` is supposed to be equivalent to `a >= x AND a <= y`. Since we properly handle `select 80 >= null and 80 <= 74`, returning `false`, we should make sure that the equivalent `BETWEEN` returns `false` as well and not `null`.

Note that for whatever reason, `NULL AND false` is supposed to return `false`, while `NULL AND true` is suppose

[2017-04-06 20:27] jordanlewis commented on #14682
This was found while investigating enabling new sections of `bigtest` for #12035, incidentally.

[2017-04-06 20:36] bdarnell commented on #14434
The above theory has a hole in it. Thanks to [this temporary hack](https://github.com/cockroachdb/cockroach/blob/78d7b00484c65d05f7d055b72c1ef638dafb7fe2/pkg/storage/replica.go#L1675-L1688), the split already counts as a write on the entire range. And even if that were removed, the split is a write to the descriptor key, and all other commands (currently) count as reads to the descriptor.

But emp

[2017-04-06 20:39] vivekmenezes commented on #6773
Hmmmm, looks like what I'm suggesting above will still not work :-(

[2017-04-06 20:46] a-robinson commented on #14681
Actually, the problem is on our end. We aren't properly respecting the `--host` flag. When run with the command `cockroach start --logtostderr --insecure --host cockroachdb-0.cockroachdb.default.svc.cluster.local --http-host 0.0.0.0`, the node is advertising itself at just `cockroachdb-0:26257`, leaving off the rest of the fully-qualified hostname. This may be the same bad interaction with `--inse

[2017-04-06 20:55] RaduBerinde commented on #12525
Probably related: `SELECT SUM(1)` returns NULL (it returns `1` in postgres). Similar thing for other functions.

[2017-04-06 21:06] nvanbenschoten commented on #14563
I never realized any of those tabs changed for jobs' individual tests. Thanks for the tip @jordanlewis!

[2017-04-06 21:09] nvanbenschoten commented on #12525
@RaduBerinde Just to clarify, `SELECT SUM(1)` returns `1` is classic CockroachDB SQL as well. That was the inconsistency I was trying to bring up.

[2017-04-06 21:10] a-robinson commented on #14681
Very recently, it turns out. Working on a fix.

[2017-04-06 21:11] #14141 closed

[2017-04-06 21:11] #14403 closed

[2017-04-06 21:17] RaduBerinde commented on #12525
Ah. We got confused. `SELECT SUM(1)` works correctly (in regular sql, and it's not supported at all in distsql right now). The discussion in #14637 was about a testcase in `aggregate` which runs in both regular and distsql, and it is `SELECT SUM(1) FROM kv` where `kv` is empty; in this case the correct result is indeed NULL. https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/testdata/log

[2017-04-06 21:19] andreimatei commented on #6773
I might have my own suggestions, but first I'd like to hear an answer to my question from before (maybe you've answered it and I'm just failing to parse): what is a lease supposed to be? Is it about txn timestamp, the wallclock when a txn starts and ends, both, or neither?

[2017-04-06 21:22] cockroach-teamcity opened #14685 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#210484](https://teamcity.cockroachdb.com/viewLog.html?buildId=210484):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-06 21:24] tamird commented on #14685
Merge skew in the parser.

On Apr 6, 2017 5:23 PM, "cockroach-teamcity" <notifications@github.com>
wrote:

[2017-04-06 21:27] jordanlewis commented on #14563
No problem! It's a bit confusing. I added this information to [the wiki](https://github.com/cockroachdb/cockroach/wiki/TeamCity-Continuous-Integration#finding-the-artifacts-of-a-test).

[2017-04-06 21:41] RaduBerinde commented on #14563
If possible, it would be great if in the top-level build Artifacts page there was a note (or a README artifact) that explains "you're looking in the wrong place".

[2017-04-06 21:43] jordanlewis commented on #14563
Excellent idea.

[2017-04-06 22:08] jordanlewis commented on #14563
Done. Hopefully this will help reduce confusion.

https://teamcity.cockroachdb.com/viewLog.html?buildId=210581&buildTypeId=Cockroach_UnitTests&tab=artifacts

[2017-04-06 22:41] #14682 closed

[2017-04-06 22:42] tamird commented on #14685
Not merge skew, binary skew.

[2017-04-06 22:42] jordanlewis commented on #14685
Seems to be related to #14629.

[2017-04-06 22:59] jordanlewis opened #14687 "sql: comparison broken against division with column dividend and negative divisor"
Check out the following query, which implies that we think `0 < -10` in some circumstances:

[code]

Note that this works correctly with multiplication.

In Postgres, for the record, the (obviously correct) result is:

[code]

[2017-04-06 23:52] jordanlewis commented on #14687
Here's a simpler reproduction:

[code]

[2017-04-07 01:21] tamird commented on #14406
Successfully built cockroach for windows on my gce worker:
[code]

[2017-04-07 02:03] bdarnell commented on #14434
Well, it changes something since it makes the failure less likely to happen (fails in 6+ minutes instead of 1-3), but it doesn't completely deflake the test. And I have seen plenty of failure logs now in which the only splits that happen are in the setup phase of the test and not during the concurrent portion, so it doesn't look like splits are involved at all.

[2017-04-07 02:23] vivekmenezes commented on #6773
So here is another proposal on how we can acquire and use table leases properly:

Lease acquisition:

1. Move from a request transaction acquired lease to a node acquired one: This will ensure that the lease truly belong to the node and matches up with the requirement that it be acquired in the "present"
2. Since a lease is acquired in the "present" it will compete directly with transactions modif

[2017-04-07 02:36] tlvenn commented on #14554
Ha thanks for the pointer @jordanlewis, looks like I will have to maintain my fork for a little bit longer ;)

[2017-04-07 02:40] jordanlewis commented on #14554
Unfortunately it looks that way, yes. Thank you for sticking with it - really appreciate your persistence on this issue! 😊

[2017-04-07 03:12] petermattis commented on #10972
Here are graphs from a 10 min chaos event with experimental code which limits preemptive snapshots to 2 MB/sec and Raft snapshots to 4 MB/sec:

<img width="932" alt="screen shot 2017-04-06 at 11 07 28 pm" src="https://cloud.githubusercontent.com/assets/6201335/24784040/f2ce6986-1b1d-11e7-9692-a5fe9c5a98a7.png">

<img width="931" alt="screen shot 2017-04-06 at 11 07 36 pm" src="https://cloud.github

[2017-04-07 03:39] nvanbenschoten commented on #14606
Hi Andras, thanks for the bug report! The issue here is similar to what prompted https://github.com/cockroachdb/cockroach/commit/5d26b09dc2949d8f59a19935dbc97e4a56495abb. In that case, index variables (column references) above the "windowing level" in the expression tree needed to be pushed below so that they were evaluated correctly. Similarly, here aggregate functions above the "windowing level"

[2017-04-07 05:01] dt commented on #14685
I can reproduce this locally:
` build/builder.sh make -C pkg/sql/parser` vs `make -C pkg/sql/parser` generates the same diff.

[2017-04-07 06:09] qiukeren opened #14694 "--advertise-host does not work on CentOS7"
**BUG REPORT**

the config is

[code]

But: in node status I should get XXX.XXXX.XXX in address column, but i just get HOSTNAME instead.

[code]

MacOS sierra does not have this issue.

2. Please describe the issue you observed:

This issue happen on two different machines (both Centos7) (2 machines in total).

This issue happen on both the master branch or official latest binary build.

[2017-04-07 06:12] mberhault commented on #14694
Apparently we broke it. There's a PR out to fix it, but it's not merged yet: #14692
You can try a build after checkout that out PR, or wait until it's merged, but it should fix the issue.

[2017-04-07 06:14] cockroach-teamcity commented on #14656
SHA: https://github.com/cockroachdb/cockroach/commits/1bad341653826659becefc9f8cd1819a1a4d957c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=210826&tab=buildLog

[2017-04-07 08:23] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/1bad341653826659becefc9f8cd1819a1a4d957c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=211084&tab=buildLog

[2017-04-07 08:38] cockroach-teamcity opened #14697 "storage: TestSplitQueueShouldQueue failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/1bad341653826659becefc9f8cd1819a1a4d957c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=211190&tab=buildLog

[code]

[2017-04-07 09:15] cockroach-teamcity commented on #14697
SHA: https://github.com/cockroachdb/cockroach/commits/1bad341653826659becefc9f8cd1819a1a4d957c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=211304&tab=buildLog

[2017-04-07 09:52] cockroach-teamcity commented on #14697
SHA: https://github.com/cockroachdb/cockroach/commits/1bad341653826659becefc9f8cd1819a1a4d957c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=211413&tab=buildLog

[2017-04-07 11:15] tamird commented on #14656
[code]

[2017-04-07 11:28] vladmihalcea opened #14698 "After getting a JDBC Connection, calling getTransactionIsolation fails"
I wanted to integrate a connection pooling solution (e.g. c3p0, HikariCP) for the CockroachDB connections, but all solutions fail because the transaction isolation is inspected right after acquiring the JDBC Connection.

So HikariCP does this:

    transactionIsolation = connection.getTransactionIsolation();

While c3p0 does this:

    ResultSet rs = execSQLQuery("SHOW TRANSACTION ISOLATION LEVEL"

[2017-04-07 12:00] vladmihalcea opened #14699 "JDBC PreparedStatement#setTimestamp always throws could not parse string as timestamp"
Assuming we have the following database table:

    create table post (
        id  bigserial not null,
        createdOn timestamp,
        title varchar(255),
        primary key (id)
    )

When executing the following INSERT statement:

[code]

We get the following exception:
[code]
Changing the `createdOn` column to `timestamptz` yields the same result.

[2017-04-07 12:32] dt commented on #14656
well, that's interesting -- since #14666 those files [are created with](https://github.com/cockroachdb/cockroach/pull/14666/files#diff-ac8932565749dcc4723ee0df6a3ca145R120) an immediately paired defer os.RemoveAll.

also, locally, `3091 runs so far, 0 failures, over 15m0s`.

i'll keep digging.

[2017-04-07 12:35] #14685 closed

[2017-04-07 13:30] #14631 closed

[2017-04-07 13:32] bdarnell opened #14700 "sql: Allow SHOW TRANSACTION ISOLATION/PRIORITY outside of transactions"
PostgreSQL allows these statements at any point, and the java connection pool library `c3p0` appears to issue one or both of them as soon as it opens a connection, so we need to allow them and return the default values. This probably just means reverting #14491, unless we want to preserve some of the refactoring that was done there.

From [this forum post](https://forum.cockroachlabs.com/t/can-not

[2017-04-07 13:34] aunz opened #14701 "int treated as string in node js using pg client"
Hello, not sure I should post here or the [node-postgres](https://github.com/brianc/node-postgres) client for node js.

I am running docker in windows 10
`docker run --rm -d -p 26257:26257 -p 8080:8080 cockroachdb/cockroach:latest start --insecure`

and connect to it with
[code]

123 is expected to be `number`, but it's `string`

I have tried `'select 123::int as num'` and still got typeof `string

[2017-04-07 13:52] dt commented on #14700
Much of the refactoring in #14491 overlapped with #14105 (so it won't `git revert` cleanly).

[2017-04-07 13:56] a-robinson commented on #14694
Yup, I'm sorry @qiukeren! I'll have the fix checked in soon.

[2017-04-07 15:17] #14687 closed

[2017-04-07 15:45] bdarnell commented on #14698
Duplicate of #14700. This issue is new in the 0406 beta release, so as another workaround you can use the 0330 beta instead.

[2017-04-07 15:45] #14698 closed

[2017-04-07 16:25] #14681 closed

[2017-04-07 16:33] a-robinson opened #14707 "Set up continuous testing of Kubernetes configuration"
This could just mean closely watching [Kubernetes's continuous test](https://k8s-testgrid.appspot.com/google-gce#gci-gce-statefulset&include-filter-by-regex=%5EOverall%24%7CTest) that [includes us](https://github.com/kubernetes/kubernetes/blob/release-1.6/test/e2e/statefulset.go#L541) (which was broken the last couple days due to #14681), or it might mean creating an acceptance-esque test of our o

[2017-04-07 17:35] cockroach-teamcity opened #14710 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#211829](https://teamcity.cockroachdb.com/viewLog.html?buildId=211829):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-07 17:43] RaduBerinde commented on #13665
`SHOW TESTING_RANGES` and `TESTING_RELOCATE` are in, these were the requirements for distsql tests. I am closing this. I don't think anything is tracking the implementation of `SCATTER`, @danhhz feel free to create an issue to track that.

[2017-04-07 17:53] a-robinson commented on #14679
#14184

[2017-04-07 17:53] #14679 closed

[2017-04-07 17:53] a-robinson commented on #14680
#14184

[2017-04-07 17:53] #14680 closed

[2017-04-07 17:53] a-robinson commented on #14710
#14184

[2017-04-07 17:53] #14710 closed

[2017-04-07 18:07] vladmihalcea commented on #6583
`SELECT FOR UPDATE SKIP LOCKED` is useful whenever you want to build a queue of tasks that multiple workers try to consume so that one a worker has locked some rows, other concurrent workers will skip those and continue with the unprocessed ones. IT's very useful in practice, that's why MySQL 8.0 is also adding support for it.

`SELECT FOR UPDATE NOWAIT` is also useful for latency critical situati

[2017-04-07 18:33] edwardsmarkf commented on #14443
any update on this?   a source install requires gcc6 and that may be an issue with centos7 .

[2017-04-07 18:34] #14586 closed

[2017-04-07 18:39] bdarnell commented on #14443
You can build from source with our builder docker image: run `build/builder.sh make build` in the cockroach source directory. The resulting binaries will run on anything dating back to centos 6.

[2017-04-07 18:46] #13989 closed

[2017-04-07 18:49] #14699 closed

[2017-04-07 18:52] dt commented on #14699
@vladmihalcea Thanks for the report! I just merged a fix and a test case in #14712. Please give the next beta release a try (or build from master if you want to try before then) and let me know if you still see any issues!

[2017-04-07 19:11] dt commented on #12995
Fixed #14712

[2017-04-07 19:11] #12995 closed

[2017-04-07 19:21] vladmihalcea commented on #14699
Thanks. I'll give it a try once you upload a newer version on Docker Hub.

[2017-04-07 19:21] dt commented on #8773
We support this in general, with individual constraint types having various levels of support (e.g.  #8855 tracks the remaining work to attempt to do validation in the same statement), so this broad tracking issue can probably be closed at this point.

[2017-04-07 19:21] #8773 closed

[2017-04-07 19:22] dt commented on #6900
This has been done for awhile.

[2017-04-07 19:22] #6900 closed

[2017-04-07 20:05] vivekmenezes opened #14714 "server: TestDebugRemote fails"
[code]

/etc/hosts

[code]

[2017-04-07 20:12] tamird commented on #14714
I'm guessing this is a mac firewall thing.

[2017-04-07 20:13] #14563 closed

[2017-04-07 20:41] edwardsmarkf commented on #14443
well installing docker on centos7 sure is fun.....  but i get the same error as before:

**docker  run  --rm  cockroachdb/cockroach  start  --background  ;**
_Error: exist status 2
Failed running "start"_

any idea when this msse4.2 issue #14466 might be resolved?  i might just wait at this point, or try spanner.

[2017-04-07 20:42] bdarnell commented on #14443
Even when building from the docker image, you still need the change from https://github.com/cockroachdb/cockroach/issues/14443#issuecomment-290837169 (manually remove "-msse4.2" from line 8 of vendor/github.com/cockroachdb/c-rocksdb/cgo_flags.go) to support these old CPUs.

[2017-04-07 20:55] edwardsmarkf commented on #14443
sorry this is my first intro to docker (yum is so much easier)

at what point here would i intercept the process to remove the -msse4.2 part?  i tried to follow these [instructions](https://www.cockroachlabs.com/docs/install-cockroachdb.html).

docker run hello-world ;   ###  seems to work fine
docker pull cockroachdb/cockroach:latest  ;
docker run --rm  cockroachdb/cockroach  version ;
_Build Tag

[2017-04-07 21:00] bdarnell commented on #14443
You have to use the builder image, not the production docker image. Check out the cockroach source repo as if you're going to build from source, `git submodule update --init`, edit the file, then run `build/builder.sh make build`

[2017-04-07 21:19] jordanlewis opened #14719 "sql: CASE / WHEN / THEN typing is too strict when encountering subqueries"
Observe:

[code]

Omitting the subquery allows the integer to get constant-upcasted to a decimal, which avoids the problem.

[code]

[2017-04-07 21:26] edwardsmarkf commented on #14443
to be fair, this is a cento7 running on virtualbox.   the cpu is
**AMD Phenom(tm) II X6 1100T Processor 3.30 Ghz**
however, it seems to run fine on centos7 google-cloud.

so when my wife asks why i need to build yet another box, i will blame you instead.  thanks!

[2017-04-07 22:32] edwardsmarkf commented on #14443
thanks to **bdarnell's** extraordinary patience, the following worked for me using centos7 on [virtualbox](https://www.virtualbox.org/wiki/VirtualBox):

[code]

[2017-04-07 23:42] cockroach-teamcity opened #14720 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#212101](https://teamcity.cockroachdb.com/viewLog.html?buildId=212101):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-08 01:33] petermattis opened #14721 "rpc: 40% throughput hit with snappy compression enabled"
Enabled snappy compression on `blue` and one of the nodes died after an hour or so.

[code]

[2017-04-08 06:19] cockroach-teamcity opened #14722 "ccl/sqlccl: TestBackupRestoreWithConcurrentWrites failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d38eda9566fa1328bcfc5b5073c7cbe7577dd8ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212151&tab=buildLog

[code]

[2017-04-08 06:51] cockroach-teamcity commented on #14697
SHA: https://github.com/cockroachdb/cockroach/commits/d38eda9566fa1328bcfc5b5073c7cbe7577dd8ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212200&tab=buildLog

[2017-04-08 07:18] cockroach-teamcity commented on #14697
SHA: https://github.com/cockroachdb/cockroach/commits/d38eda9566fa1328bcfc5b5073c7cbe7577dd8ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212304&tab=buildLog

[2017-04-08 08:23] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/d38eda9566fa1328bcfc5b5073c7cbe7577dd8ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212410&tab=buildLog

[2017-04-08 08:27] cockroach-teamcity commented on #14697
SHA: https://github.com/cockroachdb/cockroach/commits/d38eda9566fa1328bcfc5b5073c7cbe7577dd8ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212519&tab=buildLog

[2017-04-08 09:07] cockroach-teamcity commented on #14697
SHA: https://github.com/cockroachdb/cockroach/commits/d38eda9566fa1328bcfc5b5073c7cbe7577dd8ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212630&tab=buildLog

[2017-04-08 09:42] cockroach-teamcity commented on #14697
SHA: https://github.com/cockroachdb/cockroach/commits/d38eda9566fa1328bcfc5b5073c7cbe7577dd8ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212740&tab=buildLog

[2017-04-08 12:31] cockroach-teamcity opened #14723 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerStartFlags"
The following tests appear to have failed:

[#212816](https://teamcity.cockroachdb.com/viewLog.html?buildId=212816):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-08 16:36] xphoniex commented on #14056
Upper case tables wouldn't work because the table name is transformed into lower case before it's inserted into system.namespace `line 30: pkg/sql/sqlbase/keys.go`

Hence why on API end points, you'll encounter `namespace T1 with ParentID 50 not found` error

Can we change the normalize function @tamird ?

[2017-04-08 17:24] edwardsmarkf commented on #12292
This is absolutely fantastic.   thank you so much.

NOTE:  to run this on another server, you will need to add **host:**

[code]

[2017-04-08 22:40] RaduBerinde opened #14724 "server: --port flag doesn't work"
[code]
Note the 26257 port. This breaks `roachdemo` because all servers try to bind to the same port.

Without the `--insecure` flag, this seems to work:
[code]

[2017-04-08 23:01] RaduBerinde commented on #14724
Ah, dup of #14612, my tree was a bit old.

[2017-04-08 23:01] #14724 closed

[2017-04-09 01:27] RaduBerinde commented on #13665
Actually, reopening to track implementation of SCATTER.

@petermattis: regarding your suggestion above: is the idea that we add this to the `serverpb` admin API and have the sql layer get the info via a loopback HTTP get? One problem is that `serverpb` depends on `storage` and I don't know if we want `sql` to depend on `storage` (even indirectly).

[2017-04-09 02:24] #14697 closed

[2017-04-09 06:20] cockroach-teamcity commented on #14656
SHA: https://github.com/cockroachdb/cockroach/commits/6552c881baec0d66d9175e6257a741026ab333bb

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212892&tab=buildLog

[2017-04-09 06:36] cockroach-teamcity commented on #13211
SHA: https://github.com/cockroachdb/cockroach/commits/6552c881baec0d66d9175e6257a741026ab333bb

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=212931&tab=buildLog

[2017-04-09 07:10] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/6552c881baec0d66d9175e6257a741026ab333bb

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=213026&tab=buildLog

[2017-04-09 08:26] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/6552c881baec0d66d9175e6257a741026ab333bb

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=213150&tab=buildLog

[2017-04-09 08:48] cockroach-teamcity opened #14726 "base: TestServerSSLSettings failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/6552c881baec0d66d9175e6257a741026ab333bb

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=213311&tab=buildLog

[code]

[2017-04-09 08:54] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/6552c881baec0d66d9175e6257a741026ab333bb

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=213258&tab=buildLog

[2017-04-09 12:59] #14694 closed

[2017-04-09 15:29] tamird commented on #14726
https://github.com/golang/go/issues/19305

[2017-04-09 15:29] #14726 closed

[2017-04-09 20:17] vivekmenezes opened #14727 "distsql: TestRebalance_3To5Small_WithSchemaChanges fails with distsql turned on"
This test is failing with #14668

https://teamcity.cockroachdb.com/viewLog.html?buildId=212139&tab=buildResultsDiv&buildTypeId=Cockroach_Nightlies_SchemaChangeTest3to510g

The test essentially hangs in the validation phase that uses distsql. I'm going to disable it for now.

[2017-04-09 20:21] vivekmenezes commented on #9149
I haven't had the chance to look at this issue. Will do in about a week. I don't think it's that big a deal for 1.0

[2017-04-09 21:20] bdarnell opened #14731 "build: Better `latest` tarballs"
Our current `latest` release tarballs are different from our dated tarballs (they expand into a directory named `cockroach-latest` instead of `cockroach-beta-###`). This has some unfortunate consequences: the `latest` tarballs are overwritten with every release, so if we need to withdraw a release we have to do a new build instead of just changing a pointer. This takes time, and (currently) overwr

[2017-04-10 00:13] #8057 closed

[2017-04-10 00:13] #14434 closed

[2017-04-10 00:18] spencerkimball opened #14734 "storage: panic in timestamp cache request size vs. total bytes"
This was in running `make stress` for `sql/TestParallel/subquery_retry_multinode` on team-city: https://teamcity.cockroachdb.com/viewLog.html?buildId=213618&buildTypeId=Cockroach_UnitTests_Test&tab=buildLog#_focus=940

It didn't show up on a subsequent 5m test run on team-city.

I did a code audit for any chance of locking misbehavior and ran a lengthy `make stressrace` to try and catch something

[2017-04-10 00:33] cockroach-teamcity opened #14735 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestSchemaChangeReverseMutations"
The following tests appear to have failed:

[#213644](https://teamcity.cockroachdb.com/viewLog.html?buildId=213644):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 00:38] cockroach-teamcity opened #14736 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestShowCreateView, acceptance/TestDockerStartFlags"
The following tests appear to have failed:

[#213654](https://teamcity.cockroachdb.com/viewLog.html?buildId=213654):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 00:58] cockroach-teamcity opened #14737 "teamcity: failed tests on master: test/TestStoreRangeGossipOnSplits, acceptance/TestDockerCLI, acceptance/TestDockerCLI/test_url_login.tcl, testrace (proposer evaluated kv)/TestConcurrentUpsertWithSnapshotIsolation, testrace (proposer evaluated kv)/TestConcurrentUpsertWithSnapshotIsolation/upsert"
The following tests appear to have failed:

[#213666](https://teamcity.cockroachdb.com/viewLog.html?buildId=213666):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 01:00] vivekmenezes commented on #14735
The test is hanging right at startup and I'm not seeing anything SQL related that could be a problem. Assigning to peter to assign to someone on core.

[2017-04-10 01:09] bdarnell commented on #14735
Race tests in package sql have been getting close to the 10 minute limit recently. I think recent changes (e.g. the loss of an optimization in #14733 cc @spencerkimball) have been enough to put it over the limit (which then gets blamed on random tests because the time limit is applied per-package instead of per-test)

[2017-04-10 01:15] bdarnell commented on #14737
Several things went wrong in this build, but none of them look new. I think the testrace timeout is the same as #14735. There's also another occurrence of #14409 and a docker flake in test_url_login.tcl.

[2017-04-10 01:15] #14737 closed

[2017-04-10 01:32] #14735 closed

[2017-04-10 01:56] nvanbenschoten commented on #8862
Hi @poetix, I apologize for the delayed response. I don't believe anyone on the team has had a chance to take a look at liquibase, so I can't say for sure what the problem is there. That said, at first glance, I don't think this issue would be causing the problem you're seeing. I say this because this issue will cause issues when creating tables with capitalized characters and then searching for t

[2017-04-10 01:58] nvanbenschoten commented on #8862
Regarding the 1.0 release, I don't believe I'm realistically going to be able to get to this in the next two weeks. Perhaps @justinj might want to take a look?

[2017-04-10 03:34] a-robinson commented on #14723
This is the same underlying problem as #14184 - `cockroach quit` is still flaky.

[2017-04-10 03:40] a-robinson commented on #14184
I'm not sure which error you're referring to. If you're referring to the `format` string in `MaybeDecorateGRPCError`, I can tell you that switching it to `%v` or `%+v` doesn't print any more information about the error than what we're already getting.

[2017-04-10 06:13] cockroach-teamcity commented on #14540
SHA: https://github.com/cockroachdb/cockroach/commits/b185d50b579da038cb2a6dd0d0c7ff6088bd00d9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=213754&tab=buildLog

[2017-04-10 06:30] cockroach-teamcity opened #14742 "storage: TestEagerReplication failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b185d50b579da038cb2a6dd0d0c7ff6088bd00d9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=213803&tab=buildLog

[code]

[2017-04-10 08:16] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/b185d50b579da038cb2a6dd0d0c7ff6088bd00d9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=214011&tab=buildLog

[2017-04-10 08:52] cockroach-teamcity commented on #14409
SHA: https://github.com/cockroachdb/cockroach/commits/b185d50b579da038cb2a6dd0d0c7ff6088bd00d9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=214118&tab=buildLog

[2017-04-10 08:56] aunz commented on #14701
With the [help](brianc/node-postgres#1260) from the node-postgres team, I found the solution.

As cockroachdb treats all int as 64-bit but JavaScript only supports 53-bit int so pg driver by [default](https://github.com/brianc/node-pg-types/blob/master/lib/textParsers.js) treat bigInt as string. To circumvent this, I add the following lines

[code]
The caveat is that int larger than `9007199254740

[2017-04-10 08:56] #14701 closed

[2017-04-10 09:21] cockroach-teamcity opened #14743 "cli: TestQuit failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b185d50b579da038cb2a6dd0d0c7ff6088bd00d9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=214291&tab=buildLog

[code]

[2017-04-10 09:21] cockroach-teamcity opened #14744 "cli: TestQuit/debug_kv_inc_a failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b185d50b579da038cb2a6dd0d0c7ff6088bd00d9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=214291&tab=buildLog

[code]

[2017-04-10 09:21] cockroach-teamcity opened #14745 "cli: TestQuit/quit failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b185d50b579da038cb2a6dd0d0c7ff6088bd00d9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=214291&tab=buildLog

[code]

[2017-04-10 10:42] knz commented on #8862
Perhaps we could start by rejecting identifiers that do not normalize to themselves unless they are quoted? This will ensure that any future change post-beta will not break existing databases.

[2017-04-10 11:40] knz commented on #14443
Tamir I'm reassinging this to you since you have #14466  ready already.

[2017-04-10 12:23] petermattis commented on #9149
Fixing this seems unlikely for 1.0, but can we perform the tests again to recharacterize the impact of schema changes on foreground operations?

[2017-04-10 12:26] petermattis commented on #6773
The proposals all seem like significant changes. Is there a simpler approach which records the timestamp at which a lease was acquired and acquires another one if the requesting transaction has a lower timestamp?

[2017-04-10 12:29] petermattis commented on #13665
My idea was only half-baked. Yes, I was suggesting an admin API endpoint. But perhaps `sql` should have some internal call it can make, passed in via `sql.ExecutorConfig`.

[2017-04-10 12:40] petermattis commented on #8862
CockroachDB is case-preserving while PostgreSQL is case-folding. Seems like every little difference in semantics will be uncovered by an ORM.

Moving to case-folding is straightforward. The first step would be to introduce case-folding to the scanner for non-quoted identifiers. And then a subsequent step would be to remove the case-insensitive comparisons scattered throughout the code, though that

[2017-04-10 13:15] #14499 closed

[2017-04-10 13:21] vivekmenezes commented on #9149
yes I plan on doing that in a week, and will update the bug with the results

On Mon, Apr 10, 2017 at 8:23 AM Peter Mattis <notifications@github.com>
wrote:

[2017-04-10 13:35] petermattis commented on #6773
Or perhaps a transaction which has a timestamp that is less than the timestamp used to acquire the table lease should fall back to not acquiring a lease and reading the descriptor directly from KV. This is almost the same as my previous suggestion but without the introduction of new lease logic. We already have logic to not use leases when `AS OF SYSTEM TIME` is specified, so this can almost be se

[2017-04-10 13:40] petermattis commented on #14734
Well that's definitely not supposed to happen which is why I added that assertion in the first place.

[2017-04-10 13:43] vivekmenezes commented on #6773
I believe the problem there would be that we would have leases on  more than 2 versions of the descriptor. If we go in that direction we should not record a lease on "old" descriptors or else we break the two versions invariant.

I don't think this proposal is all that hard to implement, we just need to introduce a mechanism to read table descriptors from memory when they are created within a tran

[2017-04-10 13:47] dt commented on #14699
@vladmihalcea Great, thanks! I believe it should be in the latest builds on docker hub.

[2017-04-10 13:48] #14700 closed

[2017-04-10 13:57] #14409 closed

[2017-04-10 13:57] petermattis commented on #14734
Via code inspection I see there are a handful of places where new entry is added without adjusting `TimestampCache.bytes`.

[2017-04-10 14:09] knz commented on #7775
New milestone as discussed with @cuongdo

[2017-04-10 14:11] jordanlewis commented on #13468
Yes, this is fixed now.

[2017-04-10 14:11] #13468 closed

[2017-04-10 14:14] dianasaur323 opened #14750 "brew upgrade does not appear to be working"
I installed CockroachDB 20170309 a while ago using brew install. I wanted to upgrade to the newest version of CockroachDB. I tried brew update, then brew upgrade cockroach, and received this:

[code]

[2017-04-10 14:23] #14435 closed

[2017-04-10 14:24] jordanlewis commented on #13952
Thanks for the great contribution @boxofrad! Closing this now.

[2017-04-10 14:24] #13952 closed

[2017-04-10 14:25] jordanlewis commented on #14650
#14605

[2017-04-10 14:25] #14650 closed

[2017-04-10 14:25] jordanlewis commented on #14461
#14605

[2017-04-10 14:25] #14461 closed

[2017-04-10 14:27] jordanlewis commented on #12550
I don't have the bandwidth to re-learn this in time: @arjunravinarayan @RaduBerinde?

[2017-04-10 14:29] arjunravinarayan commented on #12550
I can handle this (but not immediately).

[2017-04-10 14:31] #10413 closed

[2017-04-10 14:32] spencerkimball commented on #14605
The SQL race test timeout has been increased to 15m. See #14738

[2017-04-10 14:32] #14605 closed

[2017-04-10 14:36] a-robinson commented on #14736
The first failure seems to be a timeout, which has been increased in #14738. The second is #14723.

[2017-04-10 14:36] #14736 closed

[2017-04-10 14:37] a-robinson commented on #14591
The SQL race test timeout has been increased to 15m. See #14738

[2017-04-10 14:37] #14591 closed

[2017-04-10 14:37] a-robinson commented on #14562
The SQL race test timeout has been increased to 15m. See #14738

[2017-04-10 14:37] #14562 closed

[2017-04-10 14:37] a-robinson commented on #14452
The SQL race test timeout has been increased to 15m. See #14738

[2017-04-10 14:37] #14452 closed

[2017-04-10 14:41] tamird commented on #13592
#13616

[2017-04-10 14:41] #13592 closed

[2017-04-10 14:43] tamird commented on #14184
Interesting, how do you know? I thought you weren't able to reproduce locally. I was thinking that the error is being `errors.Wrap`ed somewhere, and that `%v` or `%+v` would produce source line information.

[2017-04-10 14:47] benesch commented on #14731
Agreed, an HTTP redirect seems like the right approach. I'm also in favor of ditching `cockroach-latest`, since that becomes incorrect once the next release comes out.

I initially figured this wasn't possible with S3, but it looks like S3  [has supported 301 redirects](https://aws.amazon.com/blogs/aws/amazon-s3-support-for-website-redirects/) for many, many years.

[2017-04-10 14:47] #14540 closed

[2017-04-10 14:47] #14656 closed

[2017-04-10 14:47] #14722 closed

[2017-04-10 14:50] jordanlewis opened #14752 "sql: `BETWEEN` can't handle mixed type comparisons"
[code]

This is invalid because we can handle the normalized form just fine:

[code]

Found while investigating #12035

[2017-04-10 14:51] a-robinson commented on #14184
I can't reproduce the precise problem, no. My "reproduction" was just running quit against host/port that didn't have a server running, which returns an error from [`c.Drain`](https://github.com/cockroachdb/cockroach/blob/master/pkg/cli/start.go#L650). The flaky error is presumably coming from [`stream.Recv`](https://github.com/cockroachdb/cockroach/blob/master/pkg/cli/start.go#L662), so it is pot

[2017-04-10 14:55] benesch commented on #14750
Working theory: this is a Homebrew bug (or subtle `brew update` breakage) that's out of our control. @dianasaur323's going to try upgrading to this week's beta and consider this resolved if it works.

[2017-04-10 14:55] mberhault commented on #14731
We're using a separate tarball partially to make the docs easier. We
include steps to extract the tarball and cd into the directory so a fixed
name is easier.
That said, it's easy enough to change and still keep the docs clear.

The bigger issue may be cloudfront-from-S3. I seem to recall something bad
about redirects in that case, but I'm not certain.

On Mon, Apr 10, 2017 at 4:47 PM, Nikhil Bene

[2017-04-10 15:04] tamird commented on #14184
Ah, we should probably wrap here, then https://github.com/cockroachdb/cockroach/blob/master/pkg/cli/start.go#L655

[2017-04-10 15:06] cockroach-teamcity opened #14753 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerC, acceptance (proposer evaluated kv)/TestDockerC/Success"
The following tests appear to have failed:

[#214652](https://teamcity.cockroachdb.com/viewLog.html?buildId=214652):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 15:11] RaduBerinde commented on #13665
Got it. Yeah, I think that even if we have an admin endpoint for other reasons, it's probably easier if we provide an internal interface for `sql` to call into that implementation directly.

[2017-04-10 15:11] a-robinson commented on #14184
To what end? In order to tell whether the error is from `c.Drain` or `stream.Recv`?

[2017-04-10 15:12] tamird commented on #14184
Yep

[2017-04-10 15:14] RaduBerinde commented on #12550
I don't think it's a hard requirement to support outer joins in distsql initially. I think we are missing some filtering optimizations there too.

[2017-04-10 15:19] tamird commented on #14056
@xphoniex that doesn't seem like the right solution to me, not least because it will it break existing stored tables. I guess we just need to normalize the table name the same way when it comes in from the UI.

[2017-04-10 15:22] #6852 closed

[2017-04-10 15:26] justinj commented on #14061
Hi @yznming! I'm having trouble reproducing this panic (on master, and going back to commits from early March), any chance you could see if it still happens for you? Thanks!

[2017-04-10 16:19] #14752 closed

[2017-04-10 16:33] cockroach-teamcity opened #14757 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#214738](https://teamcity.cockroachdb.com/viewLog.html?buildId=214738):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 17:02] dt commented on #6429
@cuongdo I pulled the 1.0 tag off this, unless you think it's a blocker.

[2017-04-10 17:27] danhhz commented on #12555
Q1 is over. Closing in favor of https://github.com/cockroachdb/cockroach/projects/3 for Q2

[2017-04-10 17:27] #12555 closed

[2017-04-10 17:29] cockroach-teamcity opened #14759 "teamcity: failed tests on master: acceptance/TestDockerStartFlags"
The following tests appear to have failed:

[#214831](https://teamcity.cockroachdb.com/viewLog.html?buildId=214831):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 17:37] a-robinson commented on #14184
Alright, we already have [one more flake](https://github.com/cockroachdb/cockroach/issues/14759), and it came on the Drain request itself:

[code]

[2017-04-10 17:37] a-robinson commented on #14759
Same as #14184

[2017-04-10 17:37] #14759 closed

[2017-04-10 17:37] a-robinson commented on #14757
#14184

[2017-04-10 17:37] #14757 closed

[2017-04-10 17:37] a-robinson commented on #14720
#14184

[2017-04-10 17:37] #14720 closed

[2017-04-10 17:39] danhhz commented on #13958
Closing in favor of https://github.com/cockroachdb/cockroach/projects/3

[2017-04-10 17:39] #13958 closed

[2017-04-10 17:41] tamird commented on #14184
Looks like the grpc keepalives are failing, causing the connection to close
before the drain can be sent. cc @andrematei

On Mon, Apr 10, 2017 at 1:37 PM, Alex Robinson <notifications@github.com>
wrote:

[2017-04-10 17:43] a-robinson commented on #14184
@andreimatei

[2017-04-10 18:03] dianasaur323 commented on #12707
assigning @tamird. Feel free to re-assign as appropriate. It seems to me that this is a relatively quick fix that can fit into our 1.0, but if not, let's move it out into a quarterly milestone (perhaps Q2 or Q3).

[2017-04-10 18:05] dianasaur323 commented on #12717
Looks like this is still an issue.
![image](https://cloud.githubusercontent.com/assets/5768024/24875610/a95ad8ee-1df6-11e7-8426-b729210e66cc.png)

@kuanluo who is implementing these UI changes at this point?

[2017-04-10 18:07] cuongdo commented on #12550
I'd suggest leaving this out for 1.0. We should focus on quality and stability for the queries we already support for distsql.

[2017-04-10 18:10] cuongdo commented on #13880
I wonder if this went away after various clock issues were fixed. In any case, I'm closing this as currently unreproducible.

[2017-04-10 18:10] #13880 closed

[2017-04-10 18:13] dianasaur323 commented on #12741
assigning to @petermattis. it seems like the performance hit we take when 1 node goes down merits some exploration for 1.0, and that that fix might help with adding nodes too quickly?

[2017-04-10 18:16] dianasaur323 commented on #12833
I think we can move this out of 1.0 for now.

[2017-04-10 18:17] dianasaur323 commented on #12856
assigning to @mrtracy

[2017-04-10 18:17] petermattis commented on #12741
The performance hit is likely attenuated by #14718. Would be interesting to re-run the experiment above when that changes lands.

[2017-04-10 18:19] #10972 closed

[2017-04-10 18:20] #14589 closed

[2017-04-10 18:20] dianasaur323 commented on #12878
@jseldess I added a known-limitation flag so that we can document this. However, I think it sounds like a change that we should fix, even if it doesn't make it into the 1.0. Once we add a section in docs about this, let's move the milestone to Q2 2017 so that we get it done.

[2017-04-10 18:25] dianasaur323 commented on #12981
@andreimatei this doesn't happen to me. Is this still a bug?

[2017-04-10 18:27] dianasaur323 commented on #13005
@ravikumarsureshbabu have you still been encountering issues? If not, I'd like to be able to close out this issue.

[2017-04-10 18:27] andreimatei commented on #14184
Sorry, can I get some context here? I'm having trouble understanding the thread.
Keepalives from a cockroach cli client to a healthy node seem to be failing, for an unknown reason?

[2017-04-10 18:30] andreimatei commented on #12981
seems to have been fixed

[2017-04-10 18:30] #12981 closed

[2017-04-10 18:31] a-robinson opened #14762 "debug: Periodically log metric values"
As briefly discussed in #13880, we often have a tough time debugging problems such as stalls after the fact from just a system's logs. One proposed way to make this a little easier would be to add a mode where we periodically log the values of certain (or all) metrics to leave some extra bread crumbs around.

[2017-04-10 18:32] cockroach-teamcity opened #14763 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#214876](https://teamcity.cockroachdb.com/viewLog.html?buildId=214876):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 18:33] a-robinson commented on #14763
[code]

[2017-04-10 18:33] #14763 closed

[2017-04-10 18:44] #14734 closed

[2017-04-10 18:49] bdarnell commented on #13042
I think it was more likely fixed by #13515 (which would have been released in beta-20170216). I'm going to close this, but @youngl98 please let us know if you're still seeing this problem.

[2017-04-10 18:49] #13042 closed

[2017-04-10 18:50] #12051 closed

[2017-04-10 18:52] dianasaur323 commented on #13143
If this is a "want to have" and not a blocker, let's move milestones.

[2017-04-10 18:54] dianasaur323 commented on #13168
I'm going to close this out since it seems like @ravikumarsureshbabu is no longer seeing these crashes. Please feel free to re-open the issue if you are.

[2017-04-10 18:54] #13168 closed

[2017-04-10 18:56] cockroach-teamcity opened #14764 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429"
The following tests appear to have failed:

[#214916](https://teamcity.cockroachdb.com/viewLog.html?buildId=214916):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 18:59] dianasaur323 commented on #13230
I think perhaps not a 1.0 fix - there are a couple outstanding bugs that I think take precedence to this. Moving milestones.

[2017-04-10 19:10] asubiotto opened #14765 "storage: OOM on `navy` seems to be caused by `timestampCache`"
2 nodes of the 6 on `navy` OOMed. Looking at the memory profile (space in use at sample time) I found that the space in use by the timestampCache is pretty high (if I'm reading the web output correctly around 2.5GiB):
![image](https://cloud.githubusercontent.com/assets/10560359/24877787/9491638a-1dfe-11e7-8cac-b9ba2199e272.png)

This might be because of some mistakes in keeping track of the `times

[2017-04-10 19:16] bdarnell commented on #8862
Removing the case-insensitive comparisons will be backwards-incompatible unless we also migrate existing tables to their case-folded names (but we can't tell any more whether the double-quote case-preserving semantics would have been intended).

[2017-04-10 19:20] cockroach-teamcity opened #14766 "teamcity: failed tests on master: acceptance/TestDockerStartFlags"
The following tests appear to have failed:

[#214963](https://teamcity.cockroachdb.com/viewLog.html?buildId=214963):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-10 19:23] andreimatei commented on #14766
#14723

[2017-04-10 19:23] #14766 closed

[2017-04-10 19:24] dianasaur323 commented on #13284
I haven't been able to recreate the issue. @derkan, I'm going to close for now, but if this is still an issue, please feel free to re-open.

[2017-04-10 19:24] #13284 closed

[2017-04-10 19:28] dianasaur323 commented on #13389
@kuanluo @mrtracy @vivekmenezes  I don't think this is making it into the 1.0 milestone. I see a couple bugs that I think are higher priority than changing visualization at this point. Shifting over milestone unless you all disagree.

[2017-04-10 19:33] asubiotto opened #14767 "distsql: "span used after call to Finish()" panic on navy"
`navy 3` died with the following stack trace. Note that nodes `2` and `6` died with an OOM error before this. All nodes were running 6e824ae.
[code]

[2017-04-10 19:36] petermattis opened #14768 "storage: prioritization mechanism for foreground/background traffic"
#14718 limited the bandwidth for preemptive snapshots (i.e. rebalancing) to 2 MB/sec. This is a blunt instrument. @bdarnell [says](https://github.com/cockroachdb/cockroach/pull/14718#issuecomment-292844403):

[2017-04-10 19:37] dianasaur323 commented on #13424
assigning to @knz. Feel free to reassign.

[2017-04-10 19:45] tamird commented on #14767
Please assign someone or yourself if you're investigating.

[2017-04-10 19:46] petermattis opened #14769 "rpc: investigate grpc.MaxConcurrentStreams setting"
`grpc` client connections default to allowing 100 concurrent streams. I'm pretty sure this affects both stream oriented RPCs as well as unary RPCs as the unary RPCs are implemented by opening a stream, sending a request and receiving the response. It is possible this is the cause of some of the latency issues we've been seeing. Changing the setting is done server-side via the `grpc.MaxConcurrentSt

[2017-04-10 19:49] RaduBerinde commented on #14767
https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/distsqlrun/flow_registry.go#L179

We just need to reset the span from `ctx` (`opentracing.ContextWithSpan(ctx, nil)`). Normally we would use `ForkCtxSpan` but it's not worth creating all those spans for these timeout callbacks.

[2017-04-10 19:56] tamird commented on #14184
Correct.

On Apr 10, 2017 2:28 PM, "Andrei Matei" <notifications@github.com> wrote:

[2017-04-10 20:34] RaduBerinde commented on #12525
I am making this issue more broad; we need to fix the way we compute pre- and post-renderings, and we should get rid of the identAggregator (instead, the groupNode can expose all group-by columns by default).

[2017-04-10 21:05] manuelmenzella opened #14772 "UI: Widget displays above table."
In the "Live Nodes" page, the summary widget blocks the information table.

http://localhost:8080/#/cluster/nodes

http://imgur.com/a/v6iFH

[2017-04-10 21:25] bdarnell commented on #6773
I'm not 100% clear on what's being proposed here, but I agree with the suggestions that A) leases should have a start time and B) leases should be acquired "by the node" rather than in the context of a transaction that needs them.

Each table descriptor has a validity period, starting with timestamp of the transaction that created it, and ending with the timestamp of the *second* following descrip

[2017-04-10 21:53] kuanluo commented on #12717
@mrtracy is your man.

[2017-04-10 22:43] bdarnell commented on #10493
Specifically, the action to be done here is to remove TestingEvalFilter, because it runs either before or after raft depending on the propEvalKV configuration, and requires the original request to be preserved for use downstream of raft even when propEvalKV is enabled. Tests that use TestingEvalFilter should be migrated to either a yet-to-be-implemented TestingProposalFilter which will always run

[2017-04-10 22:57] bdarnell commented on #10431
For the migration story: Flipping the switch to turn on proposer-evaluated KV is fairly safe: it would require a stop-the-world upgrade if you're coming from a version that is too old, but as long as the downstream-of-raft propEvalKV code hasn't changed since the version that you're updating from, you could even do it as a rolling upgrade. (there hasn't been any change to this code in a while, alt

[2017-04-10 23:01] aschlesener commented on #14160
@a-robinson I'd like to take this on as my first contribution to the project :)

[2017-04-10 23:59] spencerkimball commented on #14670
Looks like this particular client application is creating deadlocks as a matter of course. The deadlock detection can take a bit of time, especially when they're 5 deep, as is sometimes the case with `--concurrency 5` specified for the ledger. I'm going to tighten up the checking for that.

I've also found a bug related to pushing the transaction in that we're not updating the `PushTxnRequest.Now`

[2017-04-11 00:46] vivekmenezes commented on #14772
@manuelmenzella thanks for reporting this problem

[2017-04-11 00:57] vivekmenezes commented on #6773
@bdarnell thanks for your comments and validating some of my thoughts. The last issue remaining is the need for linearizability as described in the last paragraph I had written to ensure a consistent view of new indexes and columns. The linearizability requirement translates to a solution where once the backfill is completed the gateway node writing the new table descriptor delays its write by the

[2017-04-11 01:12] cuongdo opened #14776 "restore: OOM with TPC-H scale factor 10 data"
build: 725ea82
config: 6-node cluster on 6 Azure [Standard_D3 VMs](https://azure.microsoft.com/en-us/blog/new-d-series-virtual-machine-sizes/) (proposer-evaluated KV enabled, as required by RESTORE)

What I did (I gave the full URL to @danhhz):

[code]

It looks like the store got to ~24 GB, which is around where it should be. However, the OOM killer killed the `cockroach` instance on the node fro

[2017-04-11 01:14] petermattis commented on #14776
That is a lot of memory allocated by Go. Any chance you were running with `COCKROACH_MEMPROF_INTERVAL`?

[2017-04-11 01:15] cuongdo commented on #14776
No, unfortunately not. Should I try again with that setting?

[2017-04-11 01:15] cuongdo commented on #14776
Logs from the single crashing node:

[cockroach.stderr.gz](https://github.com/cockroachdb/cockroach/files/911834/cockroach.stderr.gz)

[2017-04-11 01:18] petermattis commented on #14776
Yeah, if this is reproducible, heap profiles would be very useful in determining what is going on. That env var takes a duration like `10s`, `30s` or `1m`.

[2017-04-11 01:19] bdarnell commented on #6773
Adding a CLOCK_OFFSET gap SGTM.

[2017-04-11 01:44] petermattis commented on #10751
@andreimatei Is there a test which is exhibiting problems due to the current `RangeCache` behavior? Or a way to reproduce badness? Wondering if this should be pushed out of the 1.0 milestone.

[2017-04-11 01:45] petermattis commented on #11208
Large batches are problematic. I think we should document this as a known issue for 1.0.

[2017-04-11 01:47] petermattis commented on #12490
I believe this is only a performance optimization and we don't currently have a workload for which we've seen a need to fix this. @bdarnell Please correct if I'm mistaken. Pushing to push Later.

[2017-04-11 01:51] #13646 closed

[2017-04-11 01:51] #13872 closed

[2017-04-11 02:04] cockroach-teamcity opened #14777 "teamcity: failed tests on master: test/TestConcurrentBatch"
The following tests appear to have failed:

[#215241](https://teamcity.cockroachdb.com/viewLog.html?buildId=215241):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-11 02:07] bdarnell commented on #10751
This was fixed (or at least improved) in #14217. In any case, the problem here appears to be self-correcting, so I think it's post-1.0 if there are any residual issues.

[2017-04-11 02:07] bdarnell commented on #12490
Yup, definitely post-1.0.

[2017-04-11 03:01] cockroach-teamcity opened #14778 "teamcity: failed tests on master: test/TestConcurrentBatch"
The following tests appear to have failed:

[#215291](https://teamcity.cockroachdb.com/viewLog.html?buildId=215291):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-11 05:29] mrtracy commented on #13230
If this is out of 1.0, do we want to remove the *link* to the incomplete page from the UI for 1.0?  It's current appearance is quite gnarly.

[2017-04-11 05:45] mjibson opened #14780 "sql: integer overflow is not detected"
postgres:

[code]

cockroach:

[code]

Postgres detects the integer overflow instead of wrapping. We should perhaps do the same.

[2017-04-11 06:37] cockroach-teamcity opened #14781 "sql: TestLeaseManagerPublishIllegalVersionChange failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/5e485c9ea5089798b8de9279d3c31d75c356dfb6

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=215407&tab=buildLog

[code]

[2017-04-11 06:53] benesch commented on #14731
Just floating a thought: what if we ditched the latest tarballs entirely? Tossing a `latest_release` variable in the docs Jekyll config and deriving the tarball download URL and installation instructions from that variable wouldn't be much fuss at all, especially considering that we deploy release notes weekly. Makes withdrawing a release as easy as updating the docs pointer, too.

I guess I'm ask

[2017-04-11 07:05] mberhault commented on #14731
I have no strong objections, especially not to making it a redirect instead of separate tarballs.
Even a redirect is not necessarily standard practice but it's useful for the frequent releases like our betas. This will definitely not be the case with actual releases.

[2017-04-11 07:29] nvanbenschoten commented on #10751
#14217 didn't address the heart of this issue, which is related to timestamping cache entries. It did, however, resolve a lingering bug in the RangeCache mentioned above (funky behavior #*1* in https://github.com/cockroachdb/cockroach/issues/10751#issuecomment-261416836).

I'll second @bdarnell's position that because this is a self-correcting phenomenon that hasn't been linked with any egregious

[2017-04-11 08:04] cockroach-teamcity commented on #14742
SHA: https://github.com/cockroachdb/cockroach/commits/5e485c9ea5089798b8de9279d3c31d75c356dfb6

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=215627&tab=buildLog

[2017-04-11 08:20] nvanbenschoten commented on #14652
@jordanlewis thanks for resolving the tuple inconsistency!

The `sqrt(10)` is a little more subtle, and has to do with how overload resolution interacts with untyped constant literals. Your hunch is correct in that right now we fail to find an overload that fits the "best" type for the integer constant, so we report an ambiguity between the other two possibilities. We already treat a `Constant's`

[2017-04-11 09:58] #14527 closed

[2017-04-11 10:11] cockroach-teamcity opened #14783 "teamcity: failed tests on master: acceptance/TestDockerMigration_7429, acceptance (proposer evaluated kv)/TestDockerMigration_7429"
The following tests appear to have failed:

[#216113](https://teamcity.cockroachdb.com/viewLog.html?buildId=216113):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-11 13:16] cuongdo opened #14784 "restore: NotLeaseHolderError when restoring TPC-H scale factor 10 data"
Build: 725ea82
Config: 6-node Azure cluster (Standard_D3)

While trying to RESTORE a backup of data for TPC-H scale factor 10 (~23 GB), I've run this issue:

In the node 2 logs, I see the only messages that pertain to this key range:

This has happened twice so far (out of 3 attempted RESTOREs).

Logs from all nodes:
[logs.zip](https://github.com/cockroachdb/cockroach/files/913279/logs.zip)

[2017-04-11 13:17] cuongdo commented on #14784
I'm not sure who to assign this to, so please reassign if needed @bdarnell & @danhhz.

[2017-04-11 13:19] cuongdo commented on #14784
Actually, this may be a more inclusive set of relevant logs:

[2017-04-11 13:20] a-robinson commented on #13230
Yeah, removing it seems best to me.

[2017-04-11 13:24] a-robinson commented on #14160
That's great, @aschlesener! Consider it yours, and let me know if there's anything I can do to help!

[2017-04-11 14:00] cockroach-teamcity opened #14787 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#216201](https://teamcity.cockroachdb.com/viewLog.html?buildId=216201):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-11 14:01] #14787 closed

[2017-04-11 14:08] danhhz opened #14788 "backup: azure storage is still flaky"
We've added a few retries, but occasionally still get this error:

[code]

Some googling reveals that this error happens even in the .net client library (which presumably is more mature than the go library): http://stackoverflow.com/questions/33228114/getting-error-400-bad-request-the-specified-block-list-is-invalid-when-upl

[2017-04-11 14:10] danhhz commented on #14788
Current theory is that something is happening during block upload that makes any block list request return as invalid. Possibly if we retry the whole operation including the blocks, this will go away.

[2017-04-11 14:10] mberhault commented on #8953
I'm going ahead and changing the behavior of the `--insecure` flag as part of #14703.

[2017-04-11 14:12] spencerkimball commented on #14670
Found a few more issues. The biggest problem leading to the poor performance was that the pushee's txn was being upgraded to a higher priority and we weren't seeing that. After changing the code around to consolidate the querying of the pusher and pushee together, the performance increases dramatically:

[code]

The variations are due to the exponential backoff. Sometimes we must query for longer

[2017-04-11 14:15] a-robinson opened #14790 "storage/cli: Zone configs for system tables don't work"
As discovered when testing #14740, it's currently not possible for a zone config to change the replication behavior of any of the system tables, not even the ones that each have their own range. We should either fix this behavior or disallow the setting of such configs. Disallowing the setting of them may be a reasonable pre-1.0 bandaid if we don't have time to devote to fixing them.

@BramGruneir

[2017-04-11 14:57] danhhz opened #14792 "restore: 2tb dataset doesn't finish"
Running `RESTORE datablocks.* FROM 'redacted-2tb-backup'` gets stuck and never finishes.

[2017-04-11 15:01] danhhz commented on #14792
The first thing that happens is splits. The ~16k splits work fine on a 1 node cluster, but seem to lock up on a 3 node cluster. Rate limiting them to 100/second seems to work locally with a 3 node roachdemo cluster.

I'd like to know why dumping them all at once doesn't work, but I've seen similar badness from dumping all the Export commands in backup and am thinking about rate limiting that, too.

[2017-04-11 15:02] danhhz commented on #14792
cc @mjibson

[2017-04-11 15:08] andreimatei commented on #10751
@petermattis to get flaky tests, remove the sleep here. The sleep done after range splits was put in to hide instability in the cache.
https://github.com/cockroachdb/cockroach/blob/f3aaf15/pkg/sql/distsqlplan/span_resolver_test.go#L359

In fact, a number of tests in that file are currently skipped because they were flaky even with the sleep - I think still because of these cache issues.

The fact

[2017-04-11 15:20] danhhz commented on #14784
The `have been waiting 1m0s for proposing command WriteBatch` messages are not surprising right now, given that we don't rate limit sending them out.

I don't quite know what to make of this error yet. The way restore works is that it runs "Import" to download the files and send out "WriteBatch" requests. Import tries to run on leaseholders to save a network hop, but it uses the normal client.DB a

[2017-04-11 15:26] RaduBerinde opened #14793 "storage: timestamp cache panic: bad reqSize: 72 < 160"
ERROR: a panic has occurred!
If no details are printed below, check the log file for details.
panic: bad reqSize: 72 < 160 [recovered]
	panic: bad reqSize: 72 < 160 [recovered]
	panic: bad reqSize: 72 < 160

goroutine 4079 [running]:
github.com/cockroachdb/cockroach/pkg/util/stop.(*Stopper).Recover(0xc420c46640)
	/go/src/github.com/cockroachdb/cockroach/pkg/util/stop/stopper.go:199 +0x94
panic(0x1

[2017-04-11 15:27] tamird commented on #14793
Didn't @petermattis fix this yesterday?

On Apr 11, 2017 11:27 AM, "RaduBerinde" <notifications@github.com> wrote:

[2017-04-11 15:28] RaduBerinde commented on #14793
Ah, you're right. Will resync and try again.

[2017-04-11 15:28] #14793 closed

[2017-04-11 15:58] #7912 closed

[2017-04-11 16:03] cockroach-teamcity opened #14795 "teamcity: failed tests on master: acceptance/TestDockerStartFlags"
The following tests appear to have failed:

[#216356](https://teamcity.cockroachdb.com/viewLog.html?buildId=216356):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-11 16:18] bdarnell commented on #14731
For historical reference: cockroachdb/docs#209 was the impetus for publishing `latest` tarballs. I'd be OK with getting rid of them with the move to 1.0 since we would then expect people to stick to one version instead of tracking the latest betas as they are released every ~week.

[2017-04-11 16:20] #14184 closed

[2017-04-11 16:27] andreimatei commented on #14792
@cuongdo has seen similar badness with large numbers of splits; where's that issue? I don't seem to find it now.

[2017-04-11 16:29] #14769 closed

[2017-04-11 16:49] #7038 closed

[2017-04-11 16:49] #7238 closed

[2017-04-11 16:49] #7928 closed

[2017-04-11 16:50] danhhz opened #14798 "backup/restore: revisit various rate limitings"
In order to get BACKUP and RESTORE stabilized for 1.0, we had to add a few rate limits. It feels a bit like papering over the issues, so these should be revisited and better solutions found post-1.0.

Specifically:
- Sending AdminSplit in `presplitRanges` for RESTORE
- Sending Export and Import requests in BACKUP/RESTORE
- Sending WriteBatch requests in Import

[2017-04-11 16:51] cockroach-teamcity opened #14799 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#216461](https://teamcity.cockroachdb.com/viewLog.html?buildId=216461):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-11 16:52] cockroach-teamcity opened #14800 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#216482](https://teamcity.cockroachdb.com/viewLog.html?buildId=216482):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-11 16:54] tamird commented on #14799
Merge skew. 5af21c10454b537fd5218c5df351f4e88aa3d7c1 remove "io" import which is required by 696c01d7d580e4864a37a93f038862ff7ddeeb55.

[2017-04-11 16:59] tamird commented on #14800
https://github.com/cockroachdb/cockroach/issues/14799

[2017-04-11 16:59] #14800 closed

[2017-04-11 17:01] bdarnell commented on #14784
Then I think you need to rate-limit them. NotLeaseHolderError is not a problem on its own, but it becomes ambiguous when it is combined with a proposal timeout like this. In general, ambiguous results are possible and we may need to think about how to idempotently retry the parts of a restore when they happen.

#12490 might help with this too, but that was just bumped from the 1.0 milestone.

[2017-04-11 17:15] vivekmenezes commented on #13473
@dt wanna confirm if this should be closed, moved out of 1.0

[2017-04-11 17:43] mjibson opened #14804 "backup/restore: azure doesn't work if there's a `+` in the key"
It fails with a complaint about base64 encoding. We can currently get around this by regenerating keys in the azure portal until we get one without a `+`, but this is bad to tell users. It's possible the azure package has been updated and we need to get a newer version.

[2017-04-11 17:48] #10692 closed

[2017-04-11 18:19] asubiotto commented on #14288
Ran
[code]
on 6-node `navy` ([Standard_D3_v2](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general#dv2-series)), using the TPC-H scalefactor=1 dataset. `lineitem` has 6million rows (~2.5GiB).
The query runs correctly, [the execution plan looks good](https://raduberinde.github.io/decode.html?eJy8k89K80AUxfffU3yclcIsmjStNauKqy5spbYrCRIzlxBIZ8KdCSgl7y5NEG2QSWUky_lzzu-emXuPUFr

[2017-04-11 18:31] bdarnell commented on #14804
There is a url-safe variant of base64 (replacing `+` and `/` with `-` and `_`). Can we make it use that instead, or is this all under azure's control and not something we can control?

[2017-04-11 18:33] a-robinson opened #14807 "storage: Add unit test that verifies zone configs behave properly on system ranges"
Some follow-up work from #14740. We should have unit tests around this to prevent future regressions. While in theory the existing zone config tests should mostly cover this, the system range configs are special enough that they probably merit their own high-level tests in addition to what was added in #14740.

[2017-04-11 18:44] #14546 closed

[2017-04-11 19:12] mjibson commented on #14804
We haven't done any investigation yet, but I think it's not something we control since we aren't doing any base64 encoding ourselves.

[2017-04-11 19:16] cockroach-teamcity opened #14812 "teamcity: failed tests on master: testrace/TestStoreRecoverWithErrors"
The following tests appear to have failed:

[#216908](https://teamcity.cockroachdb.com/viewLog.html?buildId=216908):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-11 19:29] bdarnell opened #14813 "sql: Rename default column family"
The default column family is currently named "primary". I've seen several users express surprise at this, thinking it refers to the primary key. Can we change this to "default"?

[2017-04-11 19:40] #14790 closed

[2017-04-11 19:41] tamird commented on #14011
@a6802739 apologies for the delay in responding to this.

The commit @spencerkimball mentions is not included in your beta, it was first present in `beta-20170309`. Could you upgrade to that version and try again?

Separately, assigning @spencerkimball to follow this thread further.

[2017-04-11 19:44] tamird commented on #9081
Not trivially closable. @bdarnell the link you originally posted has rotted, and I can't find similar information on current cluster, probably because grpc tracing was disabled 3 days after this issue was filed (076368938c1fcad4969a5f9b6f96164bbf11a111).

[2017-04-11 19:45] tamird commented on #13464
@cuongdo has this recurred?

[2017-04-11 19:47] tamird commented on #14564
Indeed, not sure what can be done here. We could do something horrible in our logger (https://github.com/cockroachdb/cockroach/blob/88d4bae/pkg/util/grpcutil/log.go) to intercept these calls and suppress them.

Does that sound like something you might be interested in? Otherwise we should remove 1.0.

[2017-04-11 19:52] cuongdo commented on #9897
Moved this to "later". This seems like too significant of a feature to target for 1.0.

[2017-04-11 19:56] cuongdo commented on #13464
Not yet, but I haven't run as much load recently. Will report back later this week.

[2017-04-11 20:10] tamird commented on #14812
Broken by 42a56880afafa93bf39459e39c50e812793fcffd and reproduces readily.

[2017-04-11 20:15] #14383 closed

[2017-04-11 20:21] mjibson opened #14814 "sql: verify operator precedence of ~"
postegres:

[code]

cockroach:

[code]

Seems like ~ may need to go lower. See #2305.

[2017-04-11 20:31] andreimatei opened #14816 "distsql: trace info is not correctly propagated"
[code]
prints in the log:
[code]

This has also been seen on a cluster by @asubiotto

[2017-04-11 20:33] mjibson opened #14817 "sql: decimals operations truncate numbers within the int64 range"
[code]

Because we define `int / int -> decimal`, the decimal code is called but truncates the last few digits.

[2017-04-11 20:38] edwardsmarkf commented on #14443
tip:    **more  /proc/cpuinfo;**

look under "flags" look to see if sse4_1 and and sse4_2 are there.

[2017-04-11 20:41] mjibson commented on #14817
It's not trivial to just use HighPrecisionCtx here either because then you get 2000 digits in your division. A solution for this needs to have some parity to whatever the other decimal divisions do.

[2017-04-11 20:44] mjibson commented on #14817
Also note this is the `INT_MIN / -1` case that Go returns `INT_MIN` for, but we don't/won't because we use decimal division. Postgres does:

[code]

[2017-04-11 21:07] a-robinson opened #14822 "storage: Divide-by-zero panic in unit test run under race"
When running:

[code]

...on top of #14815, I pretty quickly hit:

[code]

Looks like an easy fix and a problem that only affected tests.

[2017-04-11 21:56] #14812 closed

[2017-04-11 22:20] a-robinson opened #14827 "storage: "panic: llrb: inverted range" when running tests with stressrace"
When running `make stressrace PKG=./storage/ STRESSFLAGS='-stderr -maxfails 1 -p 32'` on an azworker, I hit the following panic:

[code]

We haven't seen this error in quite some time, since https://github.com/cockroachdb/cockroach/issues/6027. I've attached the full logs from the `stressrace` run here:

[llrb-panic.txt](https://github.com/cockroachdb/cockroach/files/914804/llrb-panic.txt)

[2017-04-11 22:23] jseldess commented on #14482
Docs todo: Add note to `UPSERT` docs stating that, if you specify all columns and there are no secondary indexes, `UPSERT` will be faster than the equivalent `INSERT .. ON CONFLICT` (won't read before writing).

Note: This may be interesting to users simulating kv storage via a 2-column SQL table.

[2017-04-11 22:23] bdarnell commented on #9081
I don't think this would show up on any of our current test clusters now that we've improved our DNS setup, but the underlying issue is still there. I think this involved a cluster where `--advertise-host` was left at the default (and therefore used a hostname) while `--join` used IP addresses. (I'm pretty sure it was a jepsen cluster; those scripts may still reproduce the issue). This can be left

[2017-04-11 23:10] timchunght opened #14828 "GORM .Save and makeInternalPlanner called with a transaction without timestamps error"
I am using GORM as recommended by cockroach, however, the DB crashes on UPDATE.

[code]
The output SQL is
[code]

This always crashes the DB with `makeInternalPlanner called with a transaction without timestamps`

The stranger thing is, if I execute this query in `cockroach sql`, it complains about int <-> string comparison. But if I have executed an fixed version of the UPDATE query (by removing

[2017-04-11 23:26] andreimatei commented on #14828
Thanks for the report! This is a dupe of #14473 and has been fixed a few days ago.
You can wait for this week's beta release on Thursday, or you can build from source for a working binary.

[2017-04-11 23:26] #14828 closed

[2017-04-12 00:30] TamalSaha commented on #6009
@nvanbenschoten, do you mind elaborating why write a new library? I am trying to find a big.Decimal lib for some financial calculation. So, I am curious.

[2017-04-12 00:33] ericlagergren commented on #6009
@TamalSaha from a reddit thread: https://www.reddit.com/r/golang/comments/5zkzrq/apd_an_arbitraryprecision_decimal_package/dezaw3v/

[2017-04-12 00:35] timchunght commented on #14828
@andreimatei Out of curiosity. Does the UPDATE command involve preparing a transaction? It appears from the log that it is a simple UPDATE. Thanks.

[2017-04-12 01:41] petermattis commented on #14564
Is there any other option? I've heard murmurings about other requests to silence the gRPC logs, but I'm not sure what the time frame is on that. Filtering certain gRPC log messages based on strings seems reasonable.

[2017-04-12 02:16] jseldess commented on #14482
Docs note added with https://github.com/cockroachdb/docs/pull/1269.

[2017-04-12 02:55] cockroach-teamcity opened #14829 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestDockerStartFlags"
The following tests appear to have failed:

[#217452](https://teamcity.cockroachdb.com/viewLog.html?buildId=217452):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-12 03:09] cockroach-teamcity opened #14830 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestAdminLossOfQuorum, acceptance (proposer evaluated kv)/TestBuildInfo, acceptance (proposer evaluated kv)/TestEventLog, acceptance (proposer evaluated kv)/TestGossipPeerings, acceptance (proposer evaluated kv)/TestGossipRestart, acceptance (proposer evaluated kv)/TestSingleKey, acceptance (proposer evaluated kv)/TestStatusServer, acceptance (proposer evaluated kv)/TestNodeRestart"
The following tests appear to have failed:

[#217464](https://teamcity.cockroachdb.com/viewLog.html?buildId=217464):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-12 03:42] a6802739 opened #14832 "SQL: show the hight latency SQL exceed a specified time"
**FEATURE REQUEST**

We want to show the high latency SQL exceed a specified time, So we could do some optimization for these hight latency SQL.

And we want the high latency SQL could log out in a independent log file not in the table `node_statement_statistics`, So we didn't should worry about the hight latency SQL could be refreshed out.

[2017-04-12 04:54] nvanbenschoten commented on #6009
@TamalSaha the reddit thread and blog post Eric linked to does a pretty good job explaining our rationale. The decision had less to do with specific shortcomings in other libraries and more to do with independent requirements for our use case, like panic-free operation and configurable precision.

[2017-04-12 06:39] cockroach-teamcity opened #14835 "storage: TestTxnPutOutOfOrder failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ba49c4f0b28468a436e8c41873c94992d9e6b71b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=217591&tab=buildLog

[code]

[2017-04-12 07:12] tschottdorf opened #14837 "build: `./build/builder.sh make install TYPE=musl` fails in c-rocksdb"
[code]

[2017-04-12 07:21] cockroach-teamcity commented on #14742
SHA: https://github.com/cockroachdb/cockroach/commits/ba49c4f0b28468a436e8c41873c94992d9e6b71b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=217695&tab=buildLog

[2017-04-12 08:03] mjibson commented on #14804
This is happening because we weren't correctly escaping the password parameter using url.Values.Encode. All it means is you can't copy and paste the password directly into the URL, but have to use your language's URL-generation library to do things correctly. I do not think it makes sense for us to add smarts around this to try to detect it. I think we should close this issue as not a bug. @danhhz

[2017-04-12 08:23] mberhault opened #14839 "security: allow root user to access status/admin endpoints"
Some of the CLI commands need node user authentication to function properly.

Specifically, anything using the status client: `nodes ls`, `gen haproxy`, `debug zip` or some of the admin endpoints (`debug zip`).

The issue on the admin endpoints seem to be the ones that turn into sql queries.
eg:
[code]

@knz:
Does `sqlExecutor.ExecuteStatements` perform the KV operations itself with the specified

[2017-04-12 08:40] knz commented on #14839
To your specific question "Does `ExecuteStatements` perform the KV operations itself with the specified user?" the answer is yes.

[2017-04-12 08:40] knz commented on #14839
(I do not know anything yet about the admin RPC code, so I can't be of any immediate help further)

[2017-04-12 10:17] cockroach-teamcity commented on #14835
SHA: https://github.com/cockroachdb/cockroach/commits/81d504c7bd3d292e7b11798c8c67f1d58708afe6

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=218134&tab=buildLog

[2017-04-12 11:05] tamird commented on #14837
The jemalloc issue has to do with the fact that we configure jemalloc with
glibc; the rocksdb thing was fixed upstream and needs a release.

Leaving open for now.

On Apr 12, 2017 3:12 AM, "Tobias Schottdorf" <notifications@github.com>
wrote:

[2017-04-12 11:57] ggaaooppeenngg opened #14842 "What does it mean by start key must be greater than LocalMax?"
**QUESTION**

I got this error below, when I runs internal client command `cockroach kv scan "" "2"`.
"Error: start key in [/Min,/System/tsd/cr.store.replicas.commandqueue.combinedqueuesize/1/10s/2017-04-10T08:00:00Z) must be greater than LocalMax"

It seems empty start key is not allowed, what's LocalMax?

[2017-04-12 13:00] #13801 closed

[2017-04-12 13:14] #14822 closed

[2017-04-12 13:29] petermattis commented on #14842
The `cockroach debug kv scan` command is very low-level and allowed you to generate a `ScanRequest` with an invalid start key (`/Min`). Have you seen this error outside of using the `debug kv scan` command?

We might want to get rid of the `debug kv` commands. They were useful early in the life of cockroach, but I think they have outlived their purpose. The mutating commands (`{put,cput,inc,del,de

[2017-04-12 13:36] bdarnell opened #14844 "storage: Add metrics for txns that differ between serializable and snapshot"
It's difficult to tell when changing the transaction isolation level between SERIALIZABLE and SNAPSHOT will be beneficial, or have any effect at all. We should export metrics to show how often the kind of contention in which the isolation level will make any difference is happening. The obvious place to put that metric is [here](https://github.com/cockroachdb/cockroach/blob/b017df80b9899961194dd2a

[2017-04-12 13:51] dianasaur323 commented on #13230
Based on our discussion yesterday, it seems like we'll keep the link and leave it gnarly, unless we have some free time to clean it up. Regardless, I think we don't have to focus on this for the 1.0.

[2017-04-12 13:52] dianasaur323 commented on #13475
@mrtracy honestly, I would put this lower on our priority list of bug fixes if your list is already pretty long.

[2017-04-12 13:56] dianasaur323 commented on #13560
@bdarnell - going to assign this to you for now, but perhaps we should reassign.

[2017-04-12 13:58] dianasaur323 commented on #13562
assigning to knz for reassignment

[2017-04-12 13:59] dianasaur323 commented on #13602
Will this fit into the systems table that @dt is working on? Assigning to @dt for now for his thoughts on if this can make it into 1.0. If not, please put into Q3 2017 milestone.

[2017-04-12 14:04] tamird commented on #14827
#14835.

[2017-04-12 14:04] #14827 closed

[2017-04-12 14:06] danhhz commented on #14804
Agree.

@bdarnell we get these from the azure portal, so I don't think it's something we can control

[2017-04-12 14:06] #14804 closed

[2017-04-12 14:07] a-robinson commented on #14835
It's very possible my changes to the key in that test broke something. I'll take a look this afternoon if it can wait a bit.

[2017-04-12 14:08] dianasaur323 commented on #13732
assigning to @petermattis for reassignment.

[2017-04-12 14:08] dianasaur323 commented on #13760
We can close this out. No longer relevant.

[2017-04-12 14:08] #13760 closed

[2017-04-12 14:10] dianasaur323 commented on #13851
adding in @knz who I believe is working on SQL logging. Please remove from 1.0 if it's not going to be ready then.

[2017-04-12 14:13] knz commented on #13851
@dt I will want to work together with you on this at the same time as we polish #13968.

[2017-04-12 14:25] tamird commented on #14835
14f4c5681f4e29fdebf064dba09def6143c53380 is the first bad commit, FWIW.

[2017-04-12 14:47] bdarnell commented on #14842
+1 to getting rid of `cockroach debug kv`. I haven't used any of these commands since the introduction of SQL.

I would also move `cockroach range split` under `debug`. I don't want to get rid of it because I have plans to use it for testing splits in the meta2 range, but regular users should be using the SQL `SPLIT` command instead.

[2017-04-12 14:48] bdarnell commented on #13560
This is just a test cleanup issue, so moving post 1.0.

[2017-04-12 14:53] dianasaur323 commented on #10275
@BramGruneir how much is this issue is still relevant, or is it outdated at this point?

[2017-04-12 14:59] a-robinson commented on #14842
SGTM

[2017-04-12 15:00] dt commented on #14453
I think my vote for 1) -- make it harder to mess up -- would be to use a uri scheme that makes it clearer what it is. yes, being something other than "file://" or the lack of an explicit scheme means it is less discoverable and you'd need to consult the docs to find it, but that might actually be a good thing: that gives us the chance to point out that it _probably_ isn't what you want.

[2017-04-12 15:05] danhhz commented on #14453
`nodelocal://` sounds fine to me. it's better to be strict now and soften later if users find it too limiting

[2017-04-12 15:07] dt opened #14848 "sql: support ON DELETE CASCADE constraint behavior"
Initial support for Foreign Keys only implemented the default `RESTRICT` behavior, that prevents deletions that would create orphaned values.

Many users (and some ORMs) utilize the `CASCADE` behavior, and while easy workaround exist in the case of by-ID deletions on the referenced column, other use cases require reading and additional roundtrips to the client to get similar behavior.

[2017-04-12 15:10] dt commented on #14848
The mentioned workaround for the common case of deleting by ID from a parent table where foreign keys reference that ID, is to just explicitly delete from the child tables too. in the same transaction

For example, given the schema:
[code]

To get similar behavior to `ON DELETE CASCADE` for a query like `DELETE FROM customers WHERE id = 5`, instead run:
[code]

For other situations, where you don'

[2017-04-12 15:19] #14832 closed

[2017-04-12 15:19] #13562 closed

[2017-04-12 15:23] BramGruneir opened #14849 "sql: rfc on adding SQL syntax for manipulating zone configs"
We should move zone config settings into sql and remove the command line flags.

[2017-04-12 15:24] ggaaooppeenngg commented on #14842
I like the design of cockroach, the underlying sorted key value map, and currently find no alternative.

So I moved internal/client out, in order to use cockroach as key value database avoiding SQL layer. I am also considering it dangerous to do it in fact, but have not came across problems in my demo development, maybe if I keep doing this, I will.

I want a global replicated key value database w

[2017-04-12 15:28] petermattis commented on #14842
This is what we currently recommend. See https://www.cockroachlabs.com/docs/frequently-asked-questions.html#can-i-use-cockroachdb-as-a-key-value-store.

[2017-04-12 15:29] petermattis commented on #14842
I'll take care of removing the `debug kv` commands and moving `range` to `debug range`.

[2017-04-12 16:02] #14767 closed

[2017-04-12 16:47] cuongdo opened #14852 "storage: upreplicate test (1->3, 10GB) timing out"
Failures:
https://teamcity.cockroachdb.com/viewLog.html?buildId=215349&tab=buildResultsDiv&buildTypeId=Cockroach_AllocatorTest1to310g
https://teamcity.cockroachdb.com/viewLog.html?buildId=217520&buildTypeId=Cockroach_AllocatorTest1to310g&tab=buildLog

As background, this test starts with 1 node w/ 10 GB of data. Then, it adds 2 nodes and waits for the cluster to up-replicate (it measures stddev of

[2017-04-12 16:53] petermattis commented on #14852
Up-replicating 10 GB of data to 2 additional nodes involves transferring 20 GB of data. Doing that in 50 min implies a rate of ~7 MB/sec. The default value for `COCKROACH_PREEMPTIVE_SNAPSHOT_RATE` limits preemptive snapshots to 2 MB/sec, so I would expect the up-replication to take almost 3 hours.

Perhaps we need to distinguish between snapshots used for up-replication and those used for rebalanc

[2017-04-12 16:57] dianasaur323 commented on #13916
Seems like a quick fix? Assigning to @a-robinson. Feel free to reassign if necessary.

[2017-04-12 16:59] dianasaur323 commented on #13959
assigning to @mrtracy

[2017-04-12 17:07] dianasaur323 commented on #13974
@petermattis looks like this might have gotten addressed by #14138? I'm going to close for now, but please re-open if this is still an issue.

[2017-04-12 17:07] #13974 closed

[2017-04-12 17:21] #10408 closed

[2017-04-12 17:21] #14780 closed

[2017-04-12 17:26] cockroach-teamcity opened #14854 "teamcity: failed tests on master: test (proposer evaluated kv)/TestBackupRestoreInterleaved, test (proposer evaluated kv)/TestBackupRestoreInterleaved/all_tables_in_interleave_hierarchy"
The following tests appear to have failed:

[#218723](https://teamcity.cockroachdb.com/viewLog.html?buildId=218723):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-12 17:31] dt commented on #13602
I don't know what `timeuntilstoredead` is, but there's a description of the settings table and what it is intended for here: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/settings_table.md

[2017-04-12 17:32] dt commented on #13602
but yes, generally env vars are candidates for switching to `system.settings`

[2017-04-12 17:37] bdarnell commented on #13602
It's [here](https://github.com/cockroachdb/cockroach/blob/c9493dd875631094aa3c80a2491eef3322780da4/pkg/server/config.go#L163) and would definitely be good to move to the settings table.

[2017-04-12 17:47] BramGruneir commented on #13602
I agree, I think it's a perfect candidate.
Also failedReservationsTimeout and declinedReservationsTimeout which are from the store pool.  Might be worth renaming them too.

[2017-04-12 17:53] #14465 closed

[2017-04-12 17:58] dianasaur323 commented on #14143
@clanstyles any update on if this is still an issue? We want to make sure to resolve any questions if you still have them.

[2017-04-12 18:02] dianasaur323 commented on #14814
assigning to @cuongdo for him to reassign.

[2017-04-12 18:05] dianasaur323 commented on #7896
@mrtracy I think perhaps not a 1.0. Moving into the 1.1 bucket.

[2017-04-12 18:06] dianasaur323 commented on #8077
@giskarda we are actually doing a pretty big revamp of this page, so no longer an issue at this point. Thanks for your feedback!!

[2017-04-12 18:06] #8077 closed

[2017-04-12 18:10] cuongdo commented on #14852
I'll try bumping the snapshot bandwidth. As a reference point, this was our performance prior to the bandwidth limiting of preemptive snapshots:

`photos`: 10-40 qps (there's no long-term average)
`block_writer`: 99 qps

After:

`photos`: 40-80 qps
`block_writer`: 686 qps

So, the change is definitely benefitting `photos` and `block_writer` performance (at the expense of up-replication).

[2017-04-12 18:13] petermattis commented on #14842
FYI, `range {ls,split}` already live under `debug range {ls,split}`.

[2017-04-12 18:14] mjibson commented on #14814
I'll take this.

[2017-04-12 18:19] dianasaur323 commented on #14814
Great, thanks Matt.

On Wed, Apr 12, 2017 at 2:14 PM, Matt Jibson <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-04-12 18:22] dianasaur323 commented on #8303
@tamird is this still an issue? I'm clearing out Q1 2017 issues as well. I can't understand what this is referring to.

[2017-04-12 18:23] tamird commented on #8303
Yes, it's still an issue that this code is largely untested.

[2017-04-12 18:24] dianasaur323 commented on #8325
@dt do you think this is still an issue, and if so, what milestone should we put it under?

[2017-04-12 18:25] dt commented on #8325
@benesch is actively working on this actually!

[2017-04-12 18:25] bdarnell commented on #8325
@benesch You've fixed this, right?

[2017-04-12 18:27] dianasaur323 commented on #8303
Now that we are moving to 1.0 / 1.1 tracking, do you have an opinion on
when this can get done?

On Wed, Apr 12, 2017 at 2:23 PM, Tamir Duberstein <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-04-12 18:29] danhhz opened #14856 "restore: interleaved tables don't rekey correctly"
Repros by adding ```sqlDBRestore.Exec(`CREATE DATABASE ignored`)``` to the beginning of TestBackupRestoreInterleaved/"all tables in interleave hierarchy"

[2017-04-12 18:32] tamird commented on #8303
There's no direct correspondence to a release here because it isn't
user-facing, though I was hoping it would be done as a fast follow to the
referenced issue :/

On Apr 12, 2017 2:27 PM, "Diana Hsieh" <notifications@github.com> wrote:

[2017-04-12 18:38] dianasaur323 commented on #8303
Yeah, that's my struggle with getting rid of quarterly milestones all
together. Hm.... Maybe we push to Q2 2017.

On Wed, Apr 12, 2017 at 2:32 PM, Tamir Duberstein <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-04-12 19:11] a-robinson commented on #14707
We can't yet subscribe to failures in any way, but can at least periodically check them here:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=gci-gce-statefulset&test=CockroachDB

[2017-04-12 19:32] cuongdo commented on #14852
Bumping `COCKROACH_PREEMPTIVE_SNAPSHOT_RATE` to 8 MB/s worked. In real use, I wonder what the right strategy is. Possibly something like `min(guaranteed_minimum, observed_bandwidth * % of bandwidth reserved for snapshots)` in the longer-term and some higher rate for up-replication in the short-term.

[2017-04-12 20:38] #14551 closed

[2017-04-12 20:49] cockroach-teamcity opened #14864 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#219095](https://teamcity.cockroachdb.com/viewLog.html?buildId=219095):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-12 20:51] cockroach-teamcity opened #14865 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#219107](https://teamcity.cockroachdb.com/viewLog.html?buildId=219107):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-12 21:20] danhhz commented on #14776
Seems like there a memory leak in encodeRaftCommand. @petermattis and I are looking into it

[2017-04-12 21:38] tamird commented on #14864
[20:42:09][Step 2/2] /usr/local/go/pkg/tool/linux_amd64/link: flushing /go/src/github.com/cockroachdb/cockroach/artifacts/go-link-323184750/go.o: write /go/src/github.com/cockroachdb/cockroach/artifacts/go-link-323184750/go.o: no space left on device

[2017-04-12 21:38] #14864 closed

[2017-04-12 21:39] danhhz commented on #14776
I've tried a number of heap profiles and nothing has jumped out.

@petermattis suspected the raftEntryCache, so I tried putting some logging on the number of entries and size it thought it held. It stayed between 15-30 entries and around 15MB

This reproduces locally in a few minutes (or on a worker if you don't want to melt your machine) with ```COCKROACH_PROPOSER_EVALUATED_KV=true COCKROACH_ENTE

[2017-04-12 21:41] danhhz commented on #14792
when testing with rate limiting, it seems we then run into https://github.com/cockroachdb/cockroach/issues/14776 and nodes start crashing

[2017-04-12 21:42] tamird commented on #14865
Well that seems bad.

[2017-04-12 21:45] a-robinson commented on #14865
This is the same builder that ran out of disk space a few seconds earlier in #14864. It's probably just a strange symptom of that.

[2017-04-12 21:50] petermattis commented on #14776
@danhhz Can you get @a-robinson the full reproduction instructions?

[2017-04-12 21:51] tamird commented on #14865
I hope so, or else I botched https://github.com/cockroachdb/cockroach/pull/14860.

[2017-04-12 21:54] tamird commented on #14865
Indeed, I botched #14860. Full rebuild with the new builder image produced:
[code]

[2017-04-12 22:15] #14865 closed

[2017-04-13 00:36] bdarnell commented on #14852
Is upreplicating from a single node with data a use case we really care about? It seems far more common to create a 3+ node cluster while empty and then insert the data. I don't think it's going to be worthwhile to create a special case that would apply here but not to other uses of snapshots.

[2017-04-13 00:59] cuongdo commented on #14852
It's probably not important to adjust bandwidth throttling just for this test/scenario. However, I wonder about other cases that trigger a lot of up-replication, such as bulk ingestion of data, which causes lots of splits.

[2017-04-13 01:02] bdarnell commented on #14852
Ingesting data into an existing multi-node cluster causes splits which lead to *rebalances*, not up-replication. The ranges are fully replicated from the beginning, so this looks like the lowest priority of snapshot (as opposed to repairs performed due to a node death, which sounds like it should be high priority and yet it was the reason we instituted the bandwidth limits in the first place).

Th

[2017-04-13 02:33] bdarnell commented on #14776
The raft entry cache can grow bigger than it "should" because one cache entry may be holding on to memory allocated from a larger slice (#13231).

However, I don't think memory allocated in encodeRaftCommand can make its way into the raft entry cache - I'm pretty sure it goes through a serialization/deserialization cycle between the two locations.

[2017-04-13 03:48] benesch commented on #8325
Yep! We no longer add `$GOPATH/bin` to `PATH`. We instead add `REPO_ROOT/bin`, which is entirely under our control. Marking as fixed.

[2017-04-13 03:48] #8325 closed

[2017-04-13 04:04] mjibson opened #14874 "sql: shift operator for ints needs a modulo"
postgres:

[code]

cockroach:
[code]

It appears that, for integers, Postgres takes the modulo of the second operand in shift operations. (It doesn't retain this behavior when working on bytes.) It is unclear if we want to copy it. I'm inclined to leave this as is, since the Postgres behavior is surprising and inconsistent.

@jordanlewis thoughts?

[2017-04-13 04:08] cockroach-teamcity opened #14875 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#219491](https://teamcity.cockroachdb.com/viewLog.html?buildId=219491):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-13 04:12] bdarnell commented on #14874
Tangentially related: In #12481 we're debating whether it's ok to support the `int4` name as an alias for our 64-bit integer type (and either ignoring the "4" or using a CHECK constraint to limit the range of the value). If we decide to follow postgres here, that would argue that we shouldn't support an `int4` that still acts like an `int8` for certain operations.

[2017-04-13 04:13] bdarnell commented on #14875
Out of disk.

[2017-04-13 04:13] #14875 closed

[2017-04-13 04:13] jordanlewis commented on #14875
out of disk space on the builder

[2017-04-13 04:17] cockroach-teamcity opened #14876 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#219510](https://teamcity.cockroachdb.com/viewLog.html?buildId=219510):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-13 04:19] jordanlewis commented on #14876
Disk space

[2017-04-13 04:19] #14876 closed

[2017-04-13 04:20] mjibson commented on #12481
We are already subtly broken here:

postegres:

[code]

cockroach:

[code]

This is happening because Postgres leaves that number as an "integer" (32-bits), resulting in shifting away of a 1 in the high bit.

[2017-04-13 04:26] mjibson commented on #12481
I vote we move this issue to the 1.1 milestone because I think it'll be hard to tackle it correctly in 2 days before the feature freeze.

[2017-04-13 05:21] bdarnell opened #14878 "beta-20170413"
The candidate SHA is bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe.
Deployment status is: pushed to adriatic, omega, cerulean.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [x] Check and verify cluster status
- [x] Tag release and push tag
- [x] [Trigger release build](https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockroach_MergeToMaster)
- [

[2017-04-13 06:09] cockroach-teamcity opened #14879 "ccl/sqlccl: TestBackupRestoreCrossTableReferences failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219637&tab=buildLog

[code]

[2017-04-13 06:09] cockroach-teamcity opened #14880 "ccl/sqlccl: TestBackupRestoreCrossTableReferences/restore_simple_view failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219637&tab=buildLog

[code]

[2017-04-13 06:28] cockroach-teamcity commented on #14439
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219668&tab=buildLog

[2017-04-13 06:31] a6802739 commented on #7003
@knz , @petermattis  any suggestions to start with for this feature, we need this in our production urgently.

[2017-04-13 06:32] cockroach-teamcity commented on #13211
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219677&tab=buildLog

[2017-04-13 06:36] cockroach-teamcity opened #14881 "storage: TestUnsplittableRange failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219687&tab=buildLog

[code]

[2017-04-13 06:53] cockroach-teamcity opened #14883 "ccl/sqlccl: TestBackupAzureAccountName failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219741&tab=buildLog

[code]

[2017-04-13 06:59] a6802739 commented on #14219
@dt  any suggestions for inspecting the back info given the specified backup path?

[2017-04-13 07:31] cockroach-teamcity commented on #14835
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219792&tab=buildLog

[2017-04-13 07:48] a6802739 opened #14884 "bulkio: enable using HDFS for external storage"
**FEATURE REQUEST**

we should support backup/restore cockroach cluster from hadoop. @bdarnell

[2017-04-13 08:08] cockroach-teamcity commented on #14881
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219898&tab=buildLog

[2017-04-13 08:31] cockroach-teamcity opened #14885 "ccl/sqlccl: TestBackupLevelDB failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=219953&tab=buildLog

[code]

[2017-04-13 08:41] a6802739 opened #14886 "storage: each store's data is not uniform when we start a single node with multi-stores"
**QUESTION**

here is our start command:
[code]

after for a while, we found this:
[code]
that means after we start this single node with multi-stores, all the data will be insert into the first store.

[2017-04-13 08:43] cockroach-teamcity commented on #14835
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=220008&tab=buildLog

[2017-04-13 09:31] cockroach-teamcity commented on #14835
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=220118&tab=buildLog

[2017-04-13 09:38] cockroach-teamcity commented on #14885
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=220175&tab=buildLog

[2017-04-13 09:42] ggaaooppeenngg opened #14887 "Table not exists when transactions content for a key"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**.

[code]

2. Please describe the issue you observed:

- What did you do?
[code]
- What did you expect to see?
For default SSI, I want to see a deadlock between tx and db.
- What did you see instead?
Got error `pq: table "kvt" does not exist`

I am not sure if it'

[2017-04-13 09:50] cockroach-teamcity commented on #14835
SHA: https://github.com/cockroachdb/cockroach/commits/bc79f9e2bb0d3d99bb79b99d20aa02e0c33e38fe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=220230&tab=buildLog

[2017-04-13 10:35] knz opened #14888 "build: `make protobuf` just vomited on me"
[code]

[2017-04-13 10:39] tamird commented on #14888
`node -- version`? `yarn --version`?

Try updating both, then run `git clean -dxf pkg/ui` and try again.

On Apr 13, 2017 06:35, "kena" <notifications@github.com> wrote:

[2017-04-13 11:01] knz commented on #14888
Started from a fresh checkout

kena@host ~/cockroach % node --version
v4.2.6
kena@host ~/cockroach % yarn --version
0.16.1
kena@host ~/cockroach % cd ./pkg/ui && yarn install
yarn install v0.16.1
[1/4] Resolving packages...
[2/4] Fetching packages...
error ts-loader@2.0.3: The engine "node" is incompatible with this module. Expected version ">=4.3.0 <5.0.0 || >=5.10".
error Found incompatible modu

[2017-04-13 11:02] knz commented on #14888
oh well I guess I won't be generating protobufs ever again...

[2017-04-13 11:02] #14888 closed

[2017-04-13 11:07] petermattis commented on #14887
The `SET DATABASE = test` statement applies to a specific DB connection/session and with the go `database/sql` interface you don't have control of which connection is used. In your code above, a single connection is used for the initial set of statements and that same connection is bound to the transaction by `db.Begin()`. The subsequent call to `db.QueryRow()` requires a new connection (because t

[2017-04-13 11:10] petermattis commented on #14886
This is a known issue: #2067. That bug is referring to multiple stores in a 3-node cluster, but the same underlying limitation will prevent a replica being moved between stores in a single node cluster.

[2017-04-13 11:10] #14886 closed

[2017-04-13 11:36] tamird commented on #14888
Yeah those versions are both ancient by js standards. Use the builder image?

On Apr 13, 2017 7:02 AM, "kena" <notifications@github.com> wrote:

[2017-04-13 11:50] knz opened #14889 "build: document the tool dependencies"
I have a regular Ubuntu deployment here and I cannot run `make protobuf` nor `go generate` any more on my CockroachDB source tree. Same applies on the latest port tree on a latest FreeBSD upgrade.

All my tool dependencies are up-to-date using standard distribution packages and yet they are considered "too old" by the build system.

The dependency on Go 1.8 is well-documented but none of the other

[2017-04-13 11:50] knz commented on #14889
Note that this situation is recent; just last month about the same date in March this wasn't an issue.

[2017-04-13 11:53] knz commented on #14889
Another suggestion:

4. provide an acceptance test which runs a script that installs all deps and then runs a full build of cockroachdb on top of a blank standard linux install.

[2017-04-13 11:54] knz commented on #14889
Note that this issue is somewhat more serious than it seems: **if we are to seek help from external contributors, we should ensure that the onramp to getting their help is as smooth as possible. This issue highlights that we may be blocking external contributions without realizing it.**

[2017-04-13 12:04] knz commented on #14814
So this issue makes me sad. In increasing order of importance:

1. no other language has unary operators at a lower precedence level than binary
2. our internal policy was "make CockroachDB look and feel like pg unless we had a good reason not to".   here we have a good reason not to: it is ugly.
3. is there a client app that is broken because of this? If not, why is there a problem?

[2017-04-13 12:05] knz commented on #14814
Also, why is this a v1.0 issue?

[2017-04-13 12:19] dianasaur323 commented on #14814
I don't think this is necessarily a must-have for the v1.0, but my sense is that for some of these clean-ups on SQL language, if they don't take too much time, we can try squeezing them in for usability reasons. I don't feel strongly about keeping this in the 1.0 though. Re matching PostgreSQL, that seems to be the path we have taken?

[2017-04-13 12:30] petermattis commented on #7003
@a6802739 We need to sketch out a design first. In addition to being able to display running queries, we need to be able to cancel them too. Presumably we'd want to be able to show all of the SQL sessions (i.e. connections) and what queries are running on them.

[2017-04-13 12:34] petermattis commented on #14776
The memory from `encodeRaftCommand` is passed in to `raft.RawNode.Propose`. I thought it then came out in `raft.Ready.Entries` which would get added to the `raftEntryCache`.

The profile showed that there were 3GB allocated via `encodeRaftCommand` via ~3000 allocations. So this wasn't 1 entry being held on to. The 1MB entry size corresponds to the sizes of the `WriteBatch` operations performed by

[2017-04-13 12:40] ggaaooppeenngg commented on #14887
it works, thx!

[2017-04-13 12:42] knz commented on #7003
FWIW #10317 provides a mechanism to inspect currently open sessions on a node. I could complete the PR using the design direction suggested by Andrei (and Ben) in there. The missing piece would be cancellation, but perhaps context cancellation would help us here.

[2017-04-13 12:45] petermattis commented on #7003
For `SHOW PROCESSLIST` (or whatever we call it) we'd want to be able to show the sessions across the entire cluster. Some sort of fan out query to retrieve the sessions per node.

[2017-04-13 12:49] petermattis commented on #14776
Another possibility for the leak is that we're not performing raft ready processing and raft entries are stuck in the `raft.unstable` log. I don't have a theory for how that is happening.

[2017-04-13 12:49] knz opened #14890 "build: cd ui && make is broken in builder.sh"
What I did:
1. ran `build/builder.sh`
2. ran `cd pkg/ui && make`

this fails with:

[code]

[2017-04-13 12:51] #14842 closed

[2017-04-13 12:52] knz commented on #14890
FWIW, running `git clean -dxf .` again seems to alleviate the issue.

[2017-04-13 12:53] knz commented on #14890
Perhaps `git clean -dxf .` could be added to the default `Makefile` target in `pkg/ui`?

[2017-04-13 12:53] knz commented on #14890
or at least some message that suggests to do so.

[2017-04-13 13:02] tamird commented on #14890
The problem with running git clean each time is that it will needlessly
reinstall all the dependencies, which is slow(er). I don't think there's
anything actionable here since it doesn't happen with a fresh checkout
(right?)

On Apr 13, 2017 08:54, "kena" <notifications@github.com> wrote:

[2017-04-13 13:06] tamird commented on #14889
We already document that the builder image is to be used to generate UI
code, for exactly this reason. I'll take another pass to make sure we
advise to do the same for protocol buffers, but I am staunchly against
supporting standard distributions for these tasks; this is just not
tractable in JS-land.

On Apr 13, 2017 07:55, "kena" <notifications@github.com> wrote:

[2017-04-13 13:07] cuongdo commented on #14814
This would be a backward-incompatible change, so we'd need to find a way mitigate that if we address this. Even more so after 1.0.

Also, if we decide to diverge from PG (which I believe is fine is some circumstances), we need a way of documenting those differences for those who use PG drivers and ORMs with us and expect PG semantics.

[2017-04-13 13:08] tamird commented on #14814
It's 1.0 because it's backwards-incompatible, I think, which seems correct.

On Apr 13, 2017 08:19, "Diana Hsieh" <notifications@github.com> wrote:

[2017-04-13 13:17] dt commented on #14219
At the moment, don't have anything implemented -- hopefully will add something in the next week or two though.

If you need to inspect a given backup right now though, you could use `protoc`'s `--decode` mode on the `BACKUP` file since it is a protocol buffer.

[2017-04-13 13:18] knz commented on #14890
Doc hint then probably...

[2017-04-13 13:21] bdarnell commented on #14889
+1 to documenting what we require outside the builder image (just like we document the C++ compiler requirements in CONTRIBUTING.md). It doesn't have to be robustly tested but we should make a best effort to document things like which version of node.js we require and the fact that we need yarn.

[2017-04-13 13:23] #14670 closed

[2017-04-13 13:33] bdarnell opened #14891 "stability: Consistency failure on adriatic"
After deploying the beta candidate bc79f9e to adriatic, two nodes crashed with consistency failures:

[code]

We stopped writing the "frozen" field in #14779, but a split that straddled the upgrade boundary on some replicas would have it written inconsistently. I'll make a change to keep writing the field as a constant false.

[2017-04-13 13:37] petermattis commented on #8659
I never got this done due to other work taking precedence. Given that we don't have a known workload that would benefit from this, I'm moving to Later with the expectation that we'll address very early in the next release cycle.

[2017-04-13 13:43] RaduBerinde commented on #14890
It doesn't have to be the `git clean` hammer.. If we identify what files exactly were causing the issue, we could just `rm` those.

[2017-04-13 13:44] a-robinson commented on #14883
Same failure as #14885

[2017-04-13 13:48] a-robinson commented on #14879
Tracking in #14880

[2017-04-13 13:48] #14879 closed

[2017-04-13 13:48] RaduBerinde commented on #14889
The lack of documentation for this has been a problem for me too. I have never used these tools and by the time I have to upgrade one I forget how I installed it last time. A list of tools and required versions would definitely help.

For the record, these two are definitely needed (commands for Ubuntu pasted):
 - node: https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-

[2017-04-13 13:48] a-robinson commented on #14880
Same failure as #14885

[code]

[2017-04-13 13:49] dt commented on #14884
When we first looked at storage provider options, I think we thought we'd initially support HDFS via our `http` option hitting an HDFS cluster's webhdfs/httpfs endpoint.

However right now, our `http` storage scheme won't quite work out of the box against webhdfs, since we just use standard HTTP verbs `GET` and `PUT` rather than the hdfs-specific `?op=blah` params.

We could add an `http-hdfs` sch

[2017-04-13 13:53] #14509 closed

[2017-04-13 13:54] jseldess commented on #8953
Just chiming in here, a bit late. I agree with @a-robinson that the current local testing approach is as easy as it gets, just `cockroach start`. But I also agree with @mberhault that it's very unintuitive that `--host` behaves different in different scenarios. I think we explain it in the docs for [`--host`](https://www.cockroachlabs.com/docs/start-a-node.html#flags), but it comes across as convo

[2017-04-13 13:58] tamird commented on #14890
@knz I think you should send a PR for this; I haven't a clue how you created the offending state, so I'm not sure what you're asking me to do, here.

[2017-04-13 13:59] knz commented on #14890
ok I'll do my best (a bit later though)

[2017-04-13 14:02] dt commented on #14219
@danhhz any thoughts on grammar here? `SHOW BACKUP 'path/to/some/backup' ` ?

[2017-04-13 14:07] jordanlewis commented on #14814
This is a simple change with a big payoff. We generally claim compatibility with Postgres - why diverge here? Users who expect Postgres compatibility will probably expect that they can paste a complicated query that uses this feature and see no difference. However, bit not is unintuitive enough that they might notice no difference but still experience incorrect results and have a hard time trackin

[2017-04-13 14:09] #14835 closed

[2017-04-13 14:11] mberhault commented on #8953
That's correct.
The secure mode also gets simpler by looking in `~/.cockroach-certs` by default, so if you have generated certs in there, the node will just use them.

[2017-04-13 14:17] tamird commented on #14814
+1 on not diverging. "ugly" is not a good reason.

On Thu, Apr 13, 2017 at 10:07 AM, Jordan Lewis <notifications@github.com>
wrote:

[2017-04-13 14:40] jseldess commented on #8953
@mberhault, one follow-up question: We'll look for certs in `~/.cockroach-certs` only when `--insecure` is NOT set, right?

[2017-04-13 14:41] mberhault commented on #8953
correct, `--insecure` means we don't attempt to setup secure connections, so we even look for certificates.

[2017-04-13 14:50] danhhz commented on #14219
the first sgtm. not really into complicating the actual BACKUP and RESTORE nodes with this, so i'm inclined against the second

[2017-04-13 14:54] #13916 closed

[2017-04-13 14:54] a-robinson commented on #13916
#14863

[2017-04-13 15:00] tamird opened #14895 "sql: regression in binary evaluation of subqueries"
`TestRebalance_3To5Small_WithSchemaChanges` failed last night with the error `allocator_test.go:200: time: unknown unit ms- in duration -124ms-813��s`. The string `-124ms-813��s` is the result of the query `SELECT (SELECT MAX(timestamp) FROM rangelog) - (SELECT MAX(timestamp) FROM eventlog WHERE eventType=$1)`, which appears not to have been fully evaluated.

https://teamcity.cockroachdb.com/viewL

[2017-04-13 15:08] mberhault commented on #14839
It seems the problem with the `status.Nodes` call is that the received context which contains certs is re-used for further communication. That eventually turns into a kv batch call which fails on non-root users.

Using a new context works fine:
[code]

So it looks like we're using way too much information from the context when issuing another request.
Who's our context expert@ @andreimatei?

[2017-04-13 15:09] knz opened #14896 "sql: ambiguous error during benchmark"
running `make bench PKG=./pkg/sql`:

[code]

Andrei says:

[2017-04-13 15:09] dianasaur323 commented on #14814
Given the comments, it sounds like we should do it before the 1.0 and to maintain PostgreSQL compatibility.

[2017-04-13 15:10] a6802739 commented on #14011
@tamird, we didn't see this error in the newer version.Thanks a lot.

[2017-04-13 15:14] tamird commented on #14839
Indeed, see https://github.com/cockroachdb/cockroach/blob/673c2c9a546657123eaeb42f35cbdac0d85b5d61/pkg/kv/db.go#L93 where we pull the information from the context.

An alternative to replacing the context completely is https://godoc.org/google.golang.org/grpc/peer#NewContext.

[2017-04-13 15:15] tamird commented on #14011
Great! Thanks for testing.

[2017-04-13 15:15] #14011 closed

[2017-04-13 15:16] dianasaur323 commented on #14889
@knz is this an issue that effects anyone installing on Ubuntu? or is this developer specific?

[2017-04-13 15:18] mberhault commented on #14839
ah. damn. If the right thing to clear just the credentials? or the entire context?
If the latter, we lose some tracing information.

[2017-04-13 15:21] tamird commented on #14839
I think just the credentials; doesn't `peer.NewContext` do the right thing?

[2017-04-13 15:23] tamird commented on #14889
This is a developer-facing issue only.

On Thu, Apr 13, 2017 at 11:16 AM, Diana Hsieh <notifications@github.com>
wrote:

[2017-04-13 15:31] mberhault commented on #14839
`peer.NewContext` creates a new context for the given peer, but we don't quite know what that is at this time.
Instead, we want to make sure all requests issued by the node are setup with the client settings determined at initialization time and not the incoming connection's context.

[2017-04-13 15:41] tamird commented on #14839
So why not create a Peer at initialization time and pass that to peer.NewContext?

[2017-04-13 15:41] dianasaur323 commented on #14889
Well, we kind of say that we are a "single binary with no dependencies," so I think we should address this.... Perhaps @jseldess  can take a look to see if we can tackle this as a known limitation.

[2017-04-13 15:43] tamird commented on #14889
No, this has absolutely nothing to do with end users.

On Thu, Apr 13, 2017 at 11:41 AM, Diana Hsieh <notifications@github.com>
wrote:

[2017-04-13 15:44] dianasaur323 commented on #14889
Oh god, I'm sorry. I completely misread that. Struggles.... let's worry about this post 1.0. Doing Q3 2017 milestone.

[2017-04-13 15:45] petermattis commented on #14889
To be clear, the developers in question are CockroachDB developers, not developers using CockroachDB.

[2017-04-13 15:57] mberhault commented on #14839
Because we shouldn't have to, those are filled in by the server on receipt. We already allow unset peers in `batchInternal` so local shortcuts can clear the context.
I think dropping the peer from the context is the right way to go or rather creating a new context without the peer (since you can't drop values from a context. grr)

[2017-04-13 16:01] eisenstatdavid commented on #13451
This bug was present in beta-20161013, the first with interleaved tables. The problem seems to be that no one taught `index_selection.go:makeSpansForIndexConstraints` about interleaved tables. I'm working on a fix.

[2017-04-13 16:16] cuongdo opened #14898 "distsql/storage: OOM while looping TPC-H query 1 on 6-node cluster"
build: e9a94ab
config: 6-node Azure Standard_D3 cluster, no env variables except for memprof & lightstep
load: `tpch -queries 1 -concurrency 3 -loops 0`

last runtime stats:
[code]

Logs from node with OOM (note that the logs include a manual restart I did):
[cockroach.stderr.txt](https://github.com/cockroachdb/cockroach/files/920204/cockroach.stderr.txt)

memprof profile just before OOM kill:
[pr

[2017-04-13 16:16] cuongdo commented on #14898
@radu reassign if you see the need. also let me know if you need more info

[2017-04-13 16:21] cuongdo commented on #14898
Also, I'm not sure if this has any relationship to #14776

@danhhz do you see anything familiar in [the memprof profile](https://github.com/cockroachdb/cockroach/files/920214/profile001.pdf)?

[2017-04-13 16:23] tamird commented on #14839
How are you going to drop the peer from the context

[2017-04-13 16:33] RaduBerinde commented on #14898
The profile shows all that usage coming from `engine.MVCCIterate`. I am not sure if `EncDatum`s stored in distsql can hold references to memory allocated in there.

What is the query that is being run?

[2017-04-13 16:42] cockroach-teamcity opened #14900 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#220803](https://teamcity.cockroachdb.com/viewLog.html?buildId=220803):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-13 16:44] mberhault commented on #14839
I think we can just create a new one. If there are any tracing fields we care about, we can set those.

[2017-04-13 16:47] danhhz commented on #14898
Nothing looks familiar in the profile, but as long as #14776 is unresolved, it's probably a good idea to bounce the cluster after RESTORE as there's almost certainly a memory leak causing it

[2017-04-13 16:58] #14889 closed

[2017-04-13 16:58] tamird commented on #14839
It's not just tracing; these contexts also propagate cancellation.

On Thu, Apr 13, 2017 at 12:45 PM, marc <notifications@github.com> wrote:

[2017-04-13 16:59] tamird commented on #14900
[16:32:54][Step 2/2] collect2: error: ld returned 1 exit status

Disk space?

[2017-04-13 16:59] #14900 closed

[2017-04-13 16:59] cuongdo commented on #14898
@danhhz I did bounce after RESTORE to turn off prop eval KV.

@RaduBerinde the query is [from here](https://github.com/cockroachdb/loadgen/blob/master/tpch/query1.go):

[code]
Schema is:
[code]

This table has ~30 million rows, and

[2017-04-13 17:14] cuongdo commented on #14895
I'm already looking at this. I don't think this is a subquery issue. I think it's caused by trying to parse a `duration.Duration` using `time.ParseDuration`

[2017-04-13 17:17] tamird commented on #14895
What do you mean? The result of the query above seems to be the literal string `"-124ms-813��s"`.

[2017-04-13 17:18] cuongdo commented on #14895
The timestamps are full timestamps. They'd be significantly larger than 124 ms.

[2017-04-13 17:20] cuongdo commented on #14895
I think that the clock is jumping backward (Azure hypervisor weirdness), and the way we print `Duration`s out is by concatenating  (milliseconds)ms and (microseconds)us. The problem is that both of these are negative, which is producing this strange output.

[2017-04-13 17:23] danhhz commented on #14898
Gotcha. Then I would guess this isn't related to RESTORE

[2017-04-13 17:34] benesch commented on #14296
@danhhz is #14861 sufficient? It's not quite what's described here.

[2017-04-13 17:38] mberhault commented on #14839
ok, so we can pick specific values to propagate, but that's at risk of missing some.
I'll see if we can do something that will make the grpc client ignore the peer, or if we can fill it in with a proper one. Either way, it's a pain.

[2017-04-13 17:43] mjibson commented on #14814
I agree with everyone. It is surprising if a unary operator has a lower precedence than a binary operator, suggesting we shouldn't change this. I also agree that maintaining Postgres compat makes sense in general, and this concern weighs higher in my mind.

We are advertising Postgres ORM support. This means we need to closely support a Postgres dialect, which must include things like operator pre

[2017-04-13 17:45] knz commented on #14814
What about not supporting this unary operator for now, and simply support a built-in function to negate numbers instead. Let's see if anyone requests the operator in the future.
I'd be more comfortable with no  operator at all (and a built-in function).

[2017-04-13 17:48] mjibson commented on #14814
That's fine with me.

[2017-04-13 17:49] jordanlewis commented on #14814
This option is quite tempting. This way applications will be certain to encounter errors if they try to use bitwise not. ISTM that legitimate use of `~` is rare enough that we will not be hurting 99% of application developers by doing this.

[2017-04-13 17:49] RaduBerinde commented on #14898
I don't think any `EncDatums` would be stored directly inside distsql for that query. Anything we store would be the result of a SUM or COUNT which would be a new datum. So I don't think distsql can be holding on to memory from `MVCCIterate`

[2017-04-13 17:50] RaduBerinde commented on #14898
@cuongdo it would be useful to see if it can be reproduced with distsql off to rule that out as a culprit.

[2017-04-13 17:50] cuongdo commented on #14898
Sure, I'll try that now

[2017-04-13 17:53] jordanlewis commented on #13156
Probably we should fix this panic before 1.0. @benesch didn't you have an almost finished patch for this? Can we clean it up enough to submit and prevent the crash at least?

[2017-04-13 17:54] benesch commented on #13156
Yup, #14369 just needs a bit more work.

[2017-04-13 17:59] bdarnell commented on #14878
This is blocked by #14891, which is being fixed in #14903

[2017-04-13 18:18] #7596 closed

[2017-04-13 18:20] #14891 closed

[2017-04-13 18:21] bdarnell commented on #14878
New beta candidate is e96ac9f78c4cf61675aa432b96f1a854ba1f1ac2

[2017-04-13 18:34] cuongdo commented on #14898
The query takes approximately 5x as long without distsql, so it might take a really long time to repro this with distsql off.

[2017-04-13 18:39] #13732 closed

[2017-04-13 18:40] cockroach-teamcity opened #14905 "teamcity: failed tests on master: test (proposer evaluated kv)/TestBackupRestoreCrossTableReferences, test (proposer evaluated kv)/TestBackupRestoreCrossTableReferences/restore_receipts_to_new_cluster"
The following tests appear to have failed:

[#221115](https://teamcity.cockroachdb.com/viewLog.html?buildId=221115):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-13 19:03] cuongdo opened #14906 "sql: unexpected formatting for negative INTERVALs"
What happens:

[code]

I'd expect the result to be `-5s2ms`.

For reference, this is what PG reports:

[code]

[2017-04-13 19:06] knz commented on #14906
This is expected behavior... What's wrong exactly?

[2017-04-13 19:06] knz commented on #14906
We need negative signs on the individual parts, in particular because our `Duration` struct has 3 fields and each can have a sign different from the others.

[2017-04-13 19:08] jordanlewis commented on #14906
I agree that the output is a bit unintuitive, though. Humans tend not to write or read intervals with more than one negative sign inside :)

[2017-04-13 19:08] knz commented on #14906
What's the alternative then?

[2017-04-13 19:09] knz commented on #14906
Note that pg supports `-3 day 4 min -10 second` which is ... the same

[2017-04-13 19:09] knz commented on #14906
(i.e. `-3 day 4 min` is not the same as `-(3 day 4 min)` )

[2017-04-13 19:15] jordanlewis commented on #14874
I'm happy to not support this surprising (and unhelpful?) behavior.

[2017-04-13 19:19] #14874 closed

[2017-04-13 19:21] #11654 closed

[2017-04-13 19:25] cuongdo commented on #14906
It's not a huge deal; it's just somewhat surprising. Is there documentation on the output format? Alternatively, does it follow a SQL or other standard?

[2017-04-13 19:25] knz commented on #14906
This is a pg extension.

[2017-04-13 19:51] RaduBerinde commented on #14898
I'm a bit surprised it's that much faster because looking at the query, it seems like it would require an index join, and we don't distribute that (we use a single index-joiner, and from that point on all aggregation happens on one node).

[2017-04-13 19:57] cockroach-teamcity opened #14909 "teamcity: failed tests on master: test (proposer evaluated kv)/TestBackupRestoreCrossTableReferences, test (proposer evaluated kv)/TestBackupRestoreCrossTableReferences/restore_everything_to_new_cluster"
The following tests appear to have failed:

[#221257](https://teamcity.cockroachdb.com/viewLog.html?buildId=221257):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-13 20:08] benesch opened #14910 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#220803](https://teamcity.cockroachdb.com/viewLog.html?buildId=220803):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-13 20:09] benesch commented on #14910
Sorry; debugging broken TC reporting. Closing.

[2017-04-13 20:09] #14910 closed

[2017-04-13 20:35] cockroach-teamcity opened #14911 "teamcity: failed tests on master: testrace/TestParallel/subquery_retry_multinode, testrace/TestParallel/subquery_retry, testrace/TestParallel"
The following tests appear to have failed:

[#220991](https://teamcity.cockroachdb.com/viewLog.html?buildId=220991):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-13 20:38] benesch commented on #14911
@spencerkimball, assigning you because this is maybe related to #14434 and I don't have anyone better to assign.

[2017-04-13 21:03] cockroach-teamcity opened #14914 "teamcity: failed tests on master: acceptance/TestDockerCLI/test_local_cmds.tcl, acceptance/TestDockerCLI/test_high_verbosity.tcl, acceptance/TestDockerCLI/test_history.tcl, acceptance/TestDockerCLI/test_last_statement.tcl, acceptance/TestDockerCLI, acceptance/TestDockerCLI/test_client_side_checking.tcl, acceptance/TestDockerCLI/test_error_handling.tcl, acceptance/TestDockerCLI/test_example_data.tcl"
The following tests appear to have failed:

[#221506](https://teamcity.cockroachdb.com/viewLog.html?buildId=221506):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-13 21:32] bdarnell opened #14916 "build: Release builds tagged as `beta-20170413-dirty`"
The new beta binaries at https://binaries.cockroachdb.com/cockroach-beta-20170413.linux-amd64.tgz are tagged as `beta-20170413-dirty`. It looks like some build product is not being `.gitignored` as it should be.

[Build log](https://teamcity.cockroachdb.com/viewLog.html?buildId=221497&buildTypeId=Cockroach_MergeToMaster&tab=buildLog#_focus=115&state=115)

[2017-04-13 21:33] benesch commented on #14916
Ugh, sorry. See also #14284.

[2017-04-13 21:55] chandradeepak commented on #14143
@petermattis just to clarify the memory growth I had happened in my local mac also where i launched 3 nodes of cockroach db and let it sit idle.  But i dont have any dash board running . By dashboard you mean the UI page where we can see all the nodes . Is that the one. i dont have that running .

[2017-04-13 22:11] #14916 closed

[2017-04-13 22:30] #14453 closed

[2017-04-13 23:56] petermattis commented on #14143
@chandradeepak Thanks for the additional info. I'm going to take another stab at reproducing this.

[2017-04-14 01:00] cockroach-teamcity opened #14921 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestParallel, testrace (proposer evaluated kv)/TestParallel/subquery_retry, testrace (proposer evaluated kv)/TestParallel/subquery_retry_multinode"
The following tests appear to have failed:

[#221878](https://teamcity.cockroachdb.com/viewLog.html?buildId=221878):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-14 01:04] benesch commented on #14921
Closing in favor of #14911.

[2017-04-14 01:04] #14921 closed

[2017-04-14 03:18] a-robinson commented on #14776
I played with this a bunch earlier today, but didn't make any significant progress. I was having trouble repro-ing it consistently on my standard azworker -- the disk performance degradation was pretty bad and things got really cluttered up due to all the requests in the system waiting on them (the admin UI rarely worked as a result). I think it'd be worth using #14820 to see if that helps isolate

[2017-04-14 03:59] a6802739 commented on #14219
@dt, could I have a try for this?

[2017-04-14 06:14] cockroach-teamcity opened #14922 "ccl/sqlccl: TestBackupRestoreInterleaved failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/28cd116754a21feaa3be6ac2231f93ac72753f36

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=221984&tab=buildLog

[code]

[2017-04-14 06:14] cockroach-teamcity opened #14923 "ccl/sqlccl: TestBackupRestoreInterleaved/interleaved_table_without_child failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/28cd116754a21feaa3be6ac2231f93ac72753f36

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=221984&tab=buildLog

[code]

[2017-04-14 06:44] cockroach-teamcity commented on #14742
SHA: https://github.com/cockroachdb/cockroach/commits/28cd116754a21feaa3be6ac2231f93ac72753f36

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=222034&tab=buildLog

[2017-04-14 07:00] cockroach-teamcity opened #14924 "ccl/sqlccl: TestBackupStatementResult failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/28cd116754a21feaa3be6ac2231f93ac72753f36

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=222088&tab=buildLog

[code]

[2017-04-14 08:15] cockroach-teamcity commented on #14885
SHA: https://github.com/cockroachdb/cockroach/commits/28cd116754a21feaa3be6ac2231f93ac72753f36

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=222299&tab=buildLog

[2017-04-14 11:36] #12750 closed

[2017-04-14 11:36] #14014 closed

[2017-04-14 11:36] #14147 closed

[2017-04-14 13:49] petermattis commented on #14776
Ok, one theory shot down.

How do I download the backup data to my laptop so that I can reproduce locally?

[2017-04-14 14:47] danhhz commented on #14776
@petermattis you want to download so you can repro offline? I assume azure has some tooling you can install to download the relevant folder, but I haven't had to use it yet (maybe @mjibson has). Another possibility is to do the RESTORE once onto a local (1 node?) cluster and then immediately use BACKUP to save it to your hard drive

[2017-04-14 14:50] petermattis opened #14927 "perf: improve simple read-only query latency"
The `kv` tool uses the schema:

[code]

When run with `kv --read-percent 100 --concurrency 1` it will perform simple read-only queries to non-existent keys. This highlights the overhead involved in execution. The following trace was gathered using `COCKROACH_TRACE_SQL=1us` (with a few additional `log.Event` calls scattered in the code):

[code]

The second column ("relative time") shows when an ev

[2017-04-14 15:10] RaduBerinde commented on #14927
I think one of the first steps would be to write some benchmarks for parsing and for planning (we have a single very basic benchmark for parsing, nothing for planning). There must be some low-hanging fruit there in terms of improvements, and it would be good to have something to catch regressions when major changes are made.

What are the queries like? Simple `SELECT k,v WHERE k = <something>`? (a

[2017-04-14 15:40] dianasaur323 commented on #14750
@benesch working! Excellent - closing out.

[2017-04-14 15:40] #14750 closed

[2017-04-14 16:03] petermattis commented on #14927
I've also used `go tool trace` and @knz's `COCKROACH_SQL_STMT_STATS_ENABLE`. After running `kv --read-percent 100 --concurrency 1` for ~30s, the latter showed:

[code]

These numbers match up with the numbers in the trace. I'm guessing the slightly lower values reflect that I didn't have `COCKROACH_TRACE_SQL` enabled (which is moderately expensive).

Parsing takes ~10% of service time, planning ta

[2017-04-14 16:10] tlvenn opened #14929 "int2vector has incorrect typelem in pg_type system table"
The typelem for int2vector should be `21` instead of the current `20`.

[2017-04-14 16:14] tlvenn opened #14930 "int2vector is missing typsend, typreceive, typoutput, typinput in pg_type"
in2vector returns null for the above columns while it should return:

|typsend| typreceive|typoutput|typinput|
| ------------- |-------------| -----|-----|
|int2vectorsend | int2vectorrecv | int2vectorout | int2vectorin|

[2017-04-14 16:35] bdarnell opened #14931 "stability: Data race in prometheus exporter"
[code]

[2017-04-14 17:14] asubiotto opened #14933 "sql: TPC-H query 8 exceeds memory budget"
[code]

This is using single-node sql running 61ed30faf. Here is the query:

[code]

[code]

Looking at a memory profile while the query is running shows nothing surprising apart from the amount of memory the budget says we have exceeded in contrast with what is shown in the profile, note however that I do download the profile while the query is running (but did so a second or so before the error

[2017-04-14 17:20] #14056 closed

[2017-04-14 17:37] cockroach-teamcity opened #14935 "teamcity: failed tests on master: acceptance/TestAdminLossOfQuorum"
The following tests appear to have failed:

[#222907](https://teamcity.cockroachdb.com/viewLog.html?buildId=222907):

[code]
Please assign, take a look and update the issue accordingly.

[2017-04-14 17:43] dianasaur323 commented on #12481
Well, this is apparently a compatibility issue that a user has encountered, so we may have to provide a bug fix before 1.1 if it becomes a blocker.

[2017-04-14 17:59] andreimatei commented on #14933
It wouldn't be the first time we "leak" accounted memory.

[2017-04-14 18:14] a-robinson commented on #14931
I'll handle this, it's an easy one to take care of in the car.

[2017-04-14 18:17] dianasaur323 commented on #8429
@dt If we haven't done this yet, it's probably not going to get done by 1.0? Moving to Q3 2017, but to be honest I'm not sure what this issue is referencing.

[2017-04-14 18:18] dianasaur323 commented on #8730
@knz is this still an issue? If not, we should close out, otherwise let's assign to probably Q4 2017, unless you disagree?

[2017-04-14 18:19] dianasaur323 commented on #8749
@mrtracy is this still an ongoing issue?

[2017-04-14 18:22] dianasaur323 commented on #9187
@mrtracy was this fixed after the work we did on the event log?

[2017-04-14 18:28] arjunravinarayan commented on #13459
Unassigning this as it has proven to be more work than we thought.

[2017-04-14 18:34] dianasaur323 commented on #9817
I think it's unlikely we'll get to this before 1.0. Based on my gut feeling, I'm not sure we'll get to this until a serious need comes up. In cases like these, I've been suggested to just knock the milestone off. That's what I'll do for now unless anyone disagrees?

[2017-04-14 18:35] dianasaur323 commented on #9722
@knz do you still want to work on this? it seems like it's aligned with PostgreSQL behavior based on the conversation history. If so, perhaps we should just close this out. I'm trying to clean out Q1 2017 issues just to make sure there aren't any lingering 1.0 bugs that need to be addressed.

[2017-04-14 18:36] dianasaur323 commented on #9797
@nvanbenschoten I'm cleaning out Q1 2017 milestones. I think I want to move this to Q3 2017 if it's still relevant. Feel free to adjust if you disagree.

[2017-04-14 18:37] edwardsmarkf opened #14938 "cli stores all the duplicate commands"
feature request: [referenced here](https://forum.cockroachlabs.com/t/cli-identical-command-question/560)

when using the CLI, i noticed that if i keep doing the same command (via up arrow) over and over again such as:
SELECT * FROM cockroachIsTotallyAsesome WHERE TRUE; that command seems to be saved in the command-line-recall buffer over and over again, even though each one is identical.

linux an

[2017-04-14 18:38] dianasaur323 commented on #10083
Bringing into 1.0 milestone given the history of conversation, but if not necessary at this point, please move out into 1.1 milestone. Assigning @knz. Thanks!

[2017-04-14 18:39] dianasaur323 commented on #10388
@bdarnell @petermattis given the outstanding question of whether or not we should even investigate, I'll close this for now. However, feel free to re-open and add to the 1.0 milestone if necessary?

[2017-04-14 18:39] #10388 closed

[2017-04-14 18:44] petermattis commented on #9817
Let's move the milestone to `Later` so that we can search for new issues with no milestone.

[2017-04-14 18:46] dianasaur323 commented on #10678
Closing due to age of issue and convo with @jordanlewis . Please feel free to re-open.

[2017-04-14 18:46] #10678 closed

[2017-04-14 18:47] dianasaur323 commented on #12982
@kuanluo moving milestone to 1.1

[2017-04-14 18:49] dianasaur323 commented on #12896
@cuongdo I'm going to move this out into the 1.1 milestone. It seems like something we should at least try for usability reasons, but not a 1.0 priority given how close we are to release.

[2017-04-14 19:02] mjibson commented on #14776
I haven't done that on azure, not immediately sure how.

[2017-04-14 19:07] danhhz commented on #14776
@petermattis did you ever get your repro set up for this?

[2017-04-14 19:12] kuanluo commented on #12982
@dianasaur323 @jess-edwards Works for me. Thanks!

[2017-04-14 19:13] mjibson commented on #14817
One fix for this is to bump the default precision from 16 to 20. That would affect all inexact decimal operations globally, but maybe that's fine. @knz @eisenstatdavid thoughts?

[2017-04-14 19:15] RaduBerinde commented on #13496
Fixed in #14531.

[2017-04-14 19:15] #13496 closed

[2017-04-14 19:24] mrtracy commented on #8749
No, closing.

[2017-04-14 19:24] #8749 closed

[2017-04-14 19:27] mrtracy commented on #9187
Yes, it was fixed by #10251. Closing.

[2017-04-14 19:27] #9187 closed

[2017-04-14 19:29] mjibson opened #14940 "sql: constant folding produces different results than postgres"
cockroach:

[code]

postgres:

[code]

This is because the `1 / 2` in postgres is evaluated as an integer, and thus truncates to 0. Is this known and intended behavior?

@nvanbenschoten @knz