[2018-04-10 21:03] awoods187 opened #24646 "No error returned when using temporary tables in dbvisualizer"
In DbVisualizer, I tried to select temporary tables. I was expecting an error since we do not support temporary tables. Instead, no error was present in dbvisualizer or in the logtostderr

Here is the query that is run:
`SELECT n.nspname = ANY (current_schemas(true)), n.nspname, t.typname FROM pg_catalog.pg_type AS t JOIN pg_catalog.pg_namespace AS n ON t.typnamespace = n.oid WHERE t.oid = $1`

I1

[2018-04-10 21:04] benesch commented on #24625
Yeah, the Go readline package caused more problems than it solved. :(

[2018-04-10 21:07] benesch commented on #24636
Hi @wzrdtales! We never remove dead nodes from the UI unless you decommission them. Are you having trouble decommissioning dead nodes? I can't quite tell from your report.

[2018-04-10 21:17] awoods187 opened #24647 "DbVisualizer error when selecting a primary key."
In DbVisualizer, I tried to select a primary key. An error was present in dbvisualizer and in the logtostderr
`An error occurred while performing the operation:
ERROR: syntax error at or near "."
Detail: source SQL:
SELECT NULL AS TABLE_CAT, n.nspname AS TABLE_SCHEM, ct.relname AS TABLE_NAME, a.attname AS COLUMN_NAME, (i.keys).n AS KEY_SEQ, ci.relname AS PK_NAME FROM pg_catalog.pg_class ct JOIN pg

[2018-04-10 21:22] awoods187 opened #24648 "DbVisualizer error when selecting indexes"
In DbVisualizer, I tried to select a indexes. An error was present in dbvisualizer and in the logtostderr

`An error occurred while performing the operation:
ERROR: syntax error at or near "."
Detail: source SQL:
SELECT NULL AS TABLE_CAT, n.nspname AS TABLE_SCHEM, ct.relname AS TABLE_NAME, NOT i.indisunique AS NON_UNIQUE, NULL AS INDEX_QUALIFIER, ci.relname AS INDEX_NAME, CASE i.indisclustered WHE

[2018-04-10 21:25] awoods187 opened #24649 "DbVisualizer error when selecting row id"
DbVisualizer error when selecting row id

An error occurred while performing the operation:
ERROR: syntax error at or near "."
Detail: source SQL:

`SELECT a.attname, a.atttypid, atttypmod
FROM pg_catalog.pg_class ct JOIN pg_catalog.pg_attribute a ON (ct.oid = a.attrelid)
JOIN pg_catalog.pg_namespace n ON (ct.relnamespace = n.oid)
JOIN (SELECT i.indexrelid, i.indrelid, i.indisprimary, information_

[2018-04-10 21:30] jordanlewis commented on #24649
Duplicate of #16971

[2018-04-10 21:37] jordanlewis commented on #24648
Duplicate of #16971

[2018-04-10 21:38] jordanlewis commented on #24647
Duplicate of #16971

[2018-04-10 22:01] #24585 closed

[2018-04-10 22:35] cockroach-teamcity opened #24650 "teamcity: failed tests on master: testrace/TestImportControlJob, acceptance/TestVersionUpgrade, acceptance/TestStatusServer, test/TestImportControlJob"
The following tests appear to have failed:

[#595818](https://teamcity.cockroachdb.com/viewLog.html?buildId=595818):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-10 23:29] wzrdtales commented on #24636
@benesch The nodes were dead before I decomissed them. So now there is unnecessary trash in the UI which never comes back to live, since the new node registered under the same name as the old one registered itself as a complete new node. So yeah basically I have a problem with getting rid of dead nodes, decomissioning them is not the problem, but they still don't disappear from the ui, they're not

[2018-04-11 01:49] jordanlewis commented on #24645
Probably a duplicate of #24646, just because we don't support something doesn't mean that we'll return an error when someone tries to ask for that thing.

For example, materialized views and temp tables (sometimes) are queried for by asking the `pg_catalog.pg_class` table, which holds all "relations" in the database, for all relations that have category "materialized view" or "temp table". We won'

[2018-04-11 03:36] benesch commented on #24636
Yep, that’s expected. We never forget about decommissioned nodes. You won’t
see them anywhere but that one list you screenshotted, though; we’ve hidden
them from e.g. graphs views in which those nodes have no data. At least, if
you see them anywhere else, it's a bug.

Decommissioning is not entirely free, so showing those decommissioned nodes
in the UI reminds you of the baggage your cluster will

[2018-04-11 05:15] cockroach-teamcity opened #24652 "ccl/changefeedccl: TestChangefeedMultiTable failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=595922&tab=buildLog

[code]

[2018-04-11 05:19] cockroach-teamcity opened #24654 "ccl/workloadccl: TestSetup failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=595936&tab=buildLog

[code]

[2018-04-11 05:19] cockroach-teamcity opened #24655 "ccl/workloadccl: TestSetup/gen=roachmart/flags=[--users=10_--orders=100]/batchSize=100 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=595936&tab=buildLog

[code]

[2018-04-11 05:48] cockroach-teamcity opened #24656 "sql/opt/memo: TestPrivateStorageAllocations failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=595996&tab=buildLog

[code]

[2018-04-11 06:05] cockroach-teamcity opened #24657 "storage: TestPushTxnUpgradeExistingTxn failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596020&tab=buildLog

[code]

[2018-04-11 06:24] cockroach-teamcity opened #24658 "teamcity: failed tests on master: testrace/TestImportControlJob, test/TestImportControlJob"
The following tests appear to have failed:

[#596682](https://teamcity.cockroachdb.com/viewLog.html?buildId=596682):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-11 07:05] cockroach-teamcity opened #24659 "ccl/workloadccl/allccl: TestAllRegisteredWorkloadsValidate/tpcc failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596131&tab=buildLog

[code]

[2018-04-11 07:05] cockroach-teamcity opened #24660 "ccl/workloadccl/allccl: TestAllRegisteredWorkloadsValidate/tpcc failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596131&tab=buildLog

[code]

[2018-04-11 07:23] cockroach-teamcity opened #24661 "sql/jobs: TestRegistryLifecycle failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596181&tab=buildLog

[code]

[2018-04-11 07:23] cockroach-teamcity opened #24662 "sql/jobs: TestRegistryLifecycle/rollback failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596181&tab=buildLog

[code]

[2018-04-11 07:23] cockroach-teamcity opened #24663 "sql/jobs: TestRegistryLifecycle/failed_running failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596181&tab=buildLog

[code]

[2018-04-11 07:36] kierenj commented on #24173
I've only been using the `cockroachdb/cockroach:v2.0.0` docker image and have this issue, unfortunately.

[2018-04-11 07:51] mjibson opened #24664 "sql: FK creation order discrepency"
If I make a table with two columns and then add FKs one at a time:

[code]

Then use the create table for it on a new database:

[code]

The error here is unexpected because I was able to do this by adding them one at a time above. I'm not sure if the check is outdated in the CREATE or missing in the ALTERs.

[2018-04-11 08:34] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596324&tab=buildLog

[2018-04-11 08:34] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596324&tab=buildLog

[2018-04-11 08:58] wzrdtales commented on #24636
Having an archive would be I think more meaningful. What I expected UX wise, that old decomissioned node just went invisible unless you look them up in the archive. Having this on the dashboard is UX wise not the best decision IMHO, since you make the assumption something is wrong, while it is not. By the way how wide is the integer storing the node numbers? Just curious.

[2018-04-11 09:02] cockroach-teamcity commented on #24656
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596384&tab=buildLog

[2018-04-11 09:14] cockroach-teamcity opened #24666 "storage: TestRangeTransferLease failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/26a06a661e7c1ce63f3077269005472182286ca4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596408&tab=buildLog

[code]

[2018-04-11 09:44] #24489 closed

[2018-04-11 09:46] cristhiank commented on #10495
+1 for this issue. The Java JDBC Driver relies on the string_agg function to get the sql keywords as you can see in [this](https://github.com/pgjdbc/pgjdbc/blob/b1581e99b6da96b6e44753ce231ec3acf9869fea/pgjdbc/src/main/java/org/postgresql/jdbc/PgDatabaseMetaData.java#L260) link.

[2018-04-11 10:10] cockroach-teamcity commented on #24652
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596504&tab=buildLog

[2018-04-11 10:18] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596518&tab=buildLog

[2018-04-11 10:18] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596518&tab=buildLog

[2018-04-11 10:25] jseldess commented on #20653
Closing this. Will open a new issue once this is addressed in 2.1.

[2018-04-11 10:48] cockroach-teamcity commented on #24656
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596578&tab=buildLog

[2018-04-11 11:13] nstewart opened #24667 "ui: new nodes retroactively get non-zero range count on timeseries (v2.0.0)"
![image](https://user-images.githubusercontent.com/894257/38613172-ffae4e8a-3d56-11e8-8af5-85adaa1f3dd8.png)

![image](https://user-images.githubusercontent.com/894257/38613194-131098ca-3d57-11e8-8752-34d1bee7f1f2.png)

I have a cluster 3 node cluster that I scaled up to 6 nodes. Everything re-balanced but when I look at range counts early in the time series I see nodes 4,5, and 6 have a small num

[2018-04-11 11:56] cockroach-teamcity commented on #24652
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596735&tab=buildLog

[2018-04-11 11:59] cockroach-teamcity commented on #24660
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596750&tab=buildLog

[2018-04-11 11:59] cockroach-teamcity commented on #24660
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596750&tab=buildLog

[2018-04-11 12:18] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596800&tab=buildLog

[2018-04-11 12:18] cockroach-teamcity commented on #24662
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596800&tab=buildLog

[2018-04-11 12:18] cockroach-teamcity commented on #24663
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=596800&tab=buildLog

[2018-04-11 13:13] cockroach-teamcity opened #24669 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#595899](https://teamcity.cockroachdb.com/viewLog.html?buildId=595899):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-11 13:44] knz commented on #24603
For the record one of my recent changes ensures that every CLI command uses a different, predefined value for application_name. If we stop scrubbing them out, we'd have the SQL usage broken up by CLI command.

[2018-04-11 13:48] knz commented on #19231
Thanks @jeromew for discussing this issue with us. I think most of the related bugs have been fixed in 1.1 and 2.0. I am going to close this issue now, let us know if you have any followup questions or comments.

[2018-04-11 13:48] #19231 closed

[2018-04-11 13:49] cockroach-teamcity commented on #24656
SHA: https://github.com/cockroachdb/cockroach/commits/abdd1c0ef29f5b97ae3aa1e67ee48d554abb081d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=597003&tab=buildLog

[2018-04-11 13:54] mberhault commented on #15318
They always could when using `--url`, this issue is about allowing other modes (eg: SSL certs present, but use password anyway) through the regular flags.

[2018-04-11 14:03] knz commented on #20579
@andreimatei you should track this issue in your master plan

[2018-04-11 14:04] windchan7 opened #24670 "settings: version upgrade races with booting old node"
In the ["Finalize cluster upgrades automatically" RFC](https://github.com/cockroachdb/cockroach/pull/24377), there is an unsolved race condition.
When a node running the old version joins a cluster right before the finalize command
is executed, the cluster version will be bumped but that node will still run the old version.

[2018-04-11 14:06] knz commented on #15318
Oh I see. Thanks

[2018-04-11 14:09] #19445 closed

[2018-04-11 14:27] knz commented on #19516
FYI Andrei had started this work in #10303, by working as follows:

1) extract the CREATE TABLE statement from the server e.g. using SHOW CREATE
2) parse the statement client-side
3) derive a table descriptor from the statement
4) use the types in the computed table descriptor.

For the record I do not like this approach, as this becomes susceptible to divergences between the client and server ver

[2018-04-11 14:35] benesch opened #24674 "teamcity-trigger: only trigger stress builds if pending changes"
Right now we trigger stress builds on a branch even if it hasn't changed since the last stress run. This is a waste of resources on old release branches.

[2018-04-11 14:36] jordanlewis commented on #24607
This is done, right?

[2018-04-11 14:37] #24649 closed

[2018-04-11 14:37] #24648 closed

[2018-04-11 14:37] #24647 closed

[2018-04-11 14:37] #24646 closed

[2018-04-11 14:37] #24645 closed

[2018-04-11 14:40] #18408 closed

[2018-04-11 14:44] BramGruneir commented on #24664
Interesting, I'll take a look.  We might be missing a check.

[2018-04-11 14:48] jordanlewis commented on #24269
@solongordon can you take a look?

[2018-04-11 15:10] solongordon commented on #24269
Unfortunately this is from an older beta which doesn't have https://github.com/cockroachdb/cockroach/pull/23278, so it's not tagged with the relevant query. I think that means we don't have enough info to investigate.

[2018-04-11 15:10] #24269 closed

[2018-04-11 15:15] ms-mullins opened #24676 "sql: limited applicability of jsonb_array_elements function due to lack of correlated SQs"
We're attempting to use the _jsonb_array_elements_ function with CockroachDb 2.0 and it appears to generate an error. Here’s the test case to reproduce:

[code]

We getting: "SQL Error [42P01]: ERROR: no data source matches prefix: test". If we’re doing something incorrect, it’s unclear what that is.

cockroach version
Build Tag:    v2.0.0
Build Time:   2018/04/04 14:43:38
Distribution: CCL
Platfo

[2018-04-11 15:21] a-robinson opened #24678 "sql: crash_reporting.go:471: flow: unexpected 15482880 leftover bytes | string"
https://sentry.io/cockroach-labs/cockroachdb/issues/523589187/

[code]

[2018-04-11 15:22] cockroach-teamcity opened #24679 "teamcity: failed tests on master: acceptance/TestInitModeNone, acceptance/TestRapidRestarts"
The following tests appear to have failed:

[#597259](https://teamcity.cockroachdb.com/viewLog.html?buildId=597259):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-11 15:22] a-robinson opened #24680 "sql: conn_executor.go:521: panic while executing 1 statements: SELECT $1 AS _, count(*) AS _ FROM _ WH..."
https://sentry.io/cockroach-labs/cockroachdb/issues/521726134/

[code]

[2018-04-11 15:34] vilterp commented on #23902
Probably because of the tooltips that show up when you mouse over the (i)s next to the stats. Didn't know they changed the page width before they've ever showed up. Maybe those tooltips should go to the left.

[2018-04-11 15:40] knz opened #24681 "sql: crash in (*FuncExpr).Eval() in CockroachDB v1.1.x"
Found on Sentry
https://sentry.io/cockroach-labs/cockroachdb/issues/392500093/

[code]

Context in eval.go: `res, err := expr.fn.fn(ctx, args.D)`

[code]

This in turn suggests a function that's not been memoized properly. Probably an operator overload error.

[2018-04-11 15:41] knz commented on #24681
https://sentry.io/cockroach-labs/cockroachdb/issues/392500093/

[2018-04-11 15:52] justinj commented on #24676
Hi @ms-mullins,

I agree that error message is not particularly helpful, but what are you trying to achieve? If you want to return every single member of a `members` array, the following will work in Postgres:
[code]
but not in CockroachDB, since there's an implicit correlated subquery, which we don't support today. I'm not sure if there's a way in CockroachDB's current dialect to achieve this (th

[2018-04-11 16:04] knz opened #24684 "sql: equip cockroachdb to _detect_ attempts to use correlated queries"
until CockroachDB supports correlated subqueries ( #3288, #24560  ) we want to tell users what's going on in error messages caused by a lack of support.

Currently a user attempting to run correlated subqueries will see either of the following:

- "column not found" when using a column from the surrounding query
- "no data source matches name" when using a table name as argument to a SRF that defi

[2018-04-11 16:05] knz commented on #24684
Ideally we'd really like to detect correlation (for feature tracking purposes) but that will need to wait for the new optimizer code.

[2018-04-11 16:06] knz commented on #24676
I filed #24684 to address this (how to detect and report correlation). Justin can you bring that issue to our next roundtable?

[2018-04-11 16:14] knz opened #24686 "sql: incomplete desugaring of type keywords into type names"
Noticed while reviewing https://github.com/cockroachdb/docs/pull/2887.

The following PR #18530 introduced support for the special, internal-only type in PostgreSQL called `"char"`.

This is incomplete, see the [comment below](#issuecomment-381128880) for details.

[2018-04-11 16:28] solongordon commented on #24678
Haven't reproduced the leftover bytes warning so far, but something is certainly funky about distsql INTERSECT and EXCEPT in CTEs/subqueries. I'll open a separate issue.

[2018-04-11 16:36] solongordon opened #24689 "distsql: INTERSECT and EXCEPT can error when used in subqueries"
The distsql implementation of INTERSECT and EXCEPT appears to have some trouble with subqueries and CTEs.
[code]

[2018-04-11 16:36] solongordon commented on #24678
Opened https://github.com/cockroachdb/cockroach/issues/24689.

[2018-04-11 16:42] jordanlewis opened #24690 "distsqlrun: add goodput benchmarks for infrastructure pieces"
- [x] `rangeRouter`
- [x] `mirrorRouter`
- [x] `hashRouter`
- [x] `RowChannel` (this might be done - see `BenchmarkRowChannelPipeline`)
- [x] `MultiplexedRowChannel`
- [x] `StreamDecoder`
- [x] `StreamEncoder`
- [ ] `outbox` (is this the same as `StreamEncoder`/`RowChannel`, basically? or is it the network bits?)
- [x] `orderedSynchronizer`

[2018-04-11 16:56] jordanlewis commented on #24686
I don't really see the problem here - we alias `"char"` to `char` because, unlike PG, we don't have an actual behavioral or internal difference between `char` and `"char"`.

We also now support naming types in quotes, but only the ones that aren't recognized by the SQL standard. This is the same as PG as well. For example:

[code]

[code]

[2018-04-11 16:58] knz commented on #24686
My point is that the test `if $1 == "char"` is ineffective.
If you want to make a specially named type called `"char"`, the SQL input syntax for this is `"""char"""` and it will show up after scanning as `$1 == "\"char\""`.

[2018-04-11 17:01] jordanlewis commented on #24686
No, the input syntax is the INPUT literal `"char"`. Not the string literal `"char"`.

[code]

[2018-04-11 17:05] knz commented on #24686
Welp, that is then again a sign that the pg docs are wrong.  Thanks for pointing it out.

The situation I am working with is that our docs do not (yet) reflect this properly and the explanation is subtle. I'll need to investigate more before I can have a chat with Lauren and explain what's going on.

[2018-04-11 17:26] solongordon opened #24692 "distsqlrun: add goodput benchmarks for processors"
- [x] `agg`
- [x] `distinct`
- [x] `hashJoiner`
- [ ] ~~`interleaveReaderJoiner`~~
- [x] `joinReader`
- [x] `mergeJoiner`
- [ ] ~~`metaReceiver`~~
- [ ] ~~`metaSender`~~
- [x] `noop`
- [ ] ~~`sampler`~~
- [ ] ~~`scrub`~~
- [x] `sortAll`
- [x] `sortTopK`
- [x] `sortedDistinct`
- [x] `sortChunks`
- [x] `tableReader`
- [x] `values`

[2018-04-11 17:37] cockroach-teamcity opened #24693 "teamcity: failed tests on release-2.0: test/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#597501](https://teamcity.cockroachdb.com/viewLog.html?buildId=597501):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-11 18:11] bdarnell commented on #24674
And once we have this, we should enable it for all release branches (instead of just master and release-2.0 as it is today).

[2018-04-11 18:14] RaduBerinde commented on #24470
Dup of #24656.

[2018-04-11 18:14] #24470 closed

[2018-04-11 18:14] RaduBerinde commented on #24460
Dup of #24656.

[2018-04-11 18:14] #24460 closed

[2018-04-11 18:15] WhiteTrashLord opened #24695 "CPU usage of idle single node"
I upgraded to version 2.0. I am using Ubuntu. I noticed that my Cockroachdb single node will always use 4 - 6 % CPU usage even if there was no activity for a long time.

Maybe you have an explanation what Cockroachdb is doing. Maybe you can improve the CPU usage :)

[2018-04-11 18:36] andreimatei commented on #19403
I think the thing to do here is to add support for parsing trace ids out of SQL comments and then working with one of the Go drivers that supports the new-ish Go sql methods that take a context for generating the comment.
On the server side we'd need to become more flexible in where we allow spans to be generated. I think the current code makes some assumptions about having a span-per-txn.

And th

[2018-04-11 18:37] andreimatei commented on #19403
Oh and we should see what other databases/tracing systems are doing for propagating trace info to the database. I think other databases support such things too.

[2018-04-11 18:42] arjunravinarayan commented on #24607
Yup. The github auto-closing was broken by bors rewriting the merge commit, or something. I messed something up. I'll be sure to include it in the PR description as well in the future.

[2018-04-11 18:42] #24607 closed

[2018-04-11 18:46] mjibson commented on #19516
Couldn't a sql `dump` statement also suffer from client-server version divergence? FWIW I'm fine with the string munging until we observe a problem.

[2018-04-11 18:47] jordanlewis commented on #21424
This investigation feels closed. Let's make sure to capture its results in our performance work this milestone, but I don't think there's anything else to do on this for now, do you @solongordon?

[2018-04-11 18:48] #24632 closed

[2018-04-11 18:50] solongordon commented on #21424
Agreed.

[2018-04-11 18:50] #21424 closed

[2018-04-11 19:03] pbardea opened #24698 "distsql: Update internal columns of index join"
Currently the index join internal columns between an RowSource and a Table is all of the table columns.

It would be advantageous for the index join's internal columns to match those of a lookup join, specifically the row source columns concatenated with the table columns. This would allow the index join to decode fewer columns, since those can be fetched directly from the RowSource (rather than d

[2018-04-11 19:09] #24652 closed

[2018-04-11 19:18] dianasaur323 opened #24700 "mismatch between storage used and data size"
I'm seeing this pretty big mismatch between storage used and data size. To note is that I do restore registration and drop it often, although I would expect that to be cleaned up? There doesn't seem to be a good way for me to check that.

![image](https://user-images.githubusercontent.com/5768024/38638217-982f30fe-3d9b-11e8-8efe-9a3693b58eb7.png)
 Observe 46.7GB versus data size below:

![image](h

[2018-04-11 19:24] dianasaur323 opened #24701 "ui: cluster viz should tell me when my license is expired"
I'm seeing this screen:

![image](https://user-images.githubusercontent.com/5768024/38638412-2fbcc5bc-3d9c-11e8-9059-a5c61bc7a85e.png)

I ran show cluster setting enterprise.license, and I do have a license?

[2018-04-11 19:25] dianasaur323 commented on #24701
nvm, my license expired. In that case, we should make it more obvious at some point? cc @piyush-singh, and feel free to close this if you already have an issue open

[2018-04-11 19:27] pbardea opened #24702 "testing: run tests with metadata-test-off flag in nightlies"
With the new metadata testing infrastructure, some of our tests are run with new processors which are added between the processors in the plan. This has led to some bugs being hidden. For example, the final post processing spec for some processors will not be "rendered" since they are not the final processor and some test cases will be missed.

The tests should be run with the `metadata-test-off`

[2018-04-11 19:27] dianasaur323 commented on #24700
ah, it's slowly going down now. Going to keep an eye on it and close out if it is no longer an issue. I'm guessing that it is GC'ing the reg cluster I dropped? Sad thing is that I dropped this a while back, the cluster lost a node, and I'm guessing that it wasn't healthy enough to continue GC-ing..

[2018-04-11 19:28] piyush-singh commented on #24701
I actually just encountered the same thing yesterday. Was using my self sign up license which expired, but I happened to know that it had expired a few days prior. Agreed that this is not at all obvious, so let's keep this for now.

[2018-04-11 19:38] bobvawter commented on #9851
Drafting an RFC here https://github.com/cockroachdb/cockroach/pull/24703

[2018-04-11 19:47] abhimadan commented on #24689
Based on the output of [`EXPLAIN (DISTSQL) SELECT COUNT(*) FROM (SELECT * FROM d.t INTERSECT SELECT * FROM d.t) t2`](https://cockroachdb.github.io/distsqlplan/decode.html?eJy8ks9rgzAUx-_7K8o7tZBDtT8OwqClK6xQdFjHDkNGZt6sYBNJnrBS-r8PldEpbYaH7WZe8vl8ny85gVQCfX5AA94rOBAzKLRK0Bilq1JzYCM-wRszyGRRUlWOGSRKI3gnoIxyBA8i_p5jiFygBgYCiWd5LS10duD6uCBgEJTkDRYOxGcGqqSLzRBPETznzP450e2T-JAZymRC7TiLffKn9ulN-0VaSqUFa

[2018-04-11 20:06] bdarnell commented on #23176
I've spent some more time looking into this. I don't have an answer yet; this is just notes for future investigations.

I no longer think it's a 1PC transaction (that was always a long shot since I don't think java would be able to bundle everything up into one batch). So this is a regular transaction that does several `UPSERT RETURNING NOTHING` operations and then commits. Since there are seconda

[2018-04-11 20:12] bdarnell commented on #24669
#20492

[2018-04-11 20:12] #24669 closed

[2018-04-11 20:18] couchand commented on #22499
Hey, it's all done.  Hooray! :tada:

[2018-04-11 20:18] #22499 closed

[2018-04-11 20:29] bdarnell opened #24707 "perf: Performance suffers with frequent clock changes"
I noticed a large (10x) performance difference in the jepsen tests between the `strobe-skews` nemesis and other ones.

![image](https://user-images.githubusercontent.com/160562/38640874-81d40c00-3da3-11e8-934b-377f3e272a93.png)

![image](https://user-images.githubusercontent.com/160562/38640882-8726ed08-3da3-11e8-90d1-4dc60ff322e4.png)

The strobe-skews nemesis alternates between adding and subtra

[2018-04-11 20:35] awoods187 opened #24708 "Re-work Reg Schemas to be more queryable"
<delete>

[2018-04-11 20:41] abhimadan commented on #24678
I'm not sure if #24689 is related to this issue. There, the query would have failed while setting up the flow, while this looks like a memory accounting error after the query finished executing.

[2018-04-11 20:46] solongordon commented on #24678
I agree. Keeping this issue open in the hopes that we can reproduce the memory accounting error.

[2018-04-11 21:55] asubiotto commented on #19403
@dianasaur323, I'm not really doing any work with tracing other than outputting stats collection to the trace.

[2018-04-11 22:01] abhimadan commented on #24702
This also happened in #24704, so it might even be worthwhile to run this in every CI run.

[2018-04-11 22:03] jordanlewis commented on #24690
Some of these infrastructure pieces care more about the number of rows per second than the number of input bytes per second. I think that's probably true in every benchmark, actually - in a lot of cases, you can radically change the goodput by varying the row size. What do we do about that?

I wonder if we need to introduce additional understanding to the benchmarks, that changes the value in `Set

[2018-04-11 22:09] leomkkwan commented on #21824
Just an update here. The cluster was rebuilt using v2.0, and reload all data into the cluster.

The Consistency Checker Queue and Compaction Queue are stuck. There was pending action in queue, but 0 action/seconds.

Am I broke the cluster (again)? How can I un-stuck the queue?

![queue stuck](https://user-images.githubusercontent.com/18466032/38645798-61b5357e-3db3-11e8-8abf-76cb8c24481a.PNG)

[2018-04-11 22:10] pbardea commented on #24702
That would be ideal if it doesn’t take too much of a toll on the CI completion time.

Alternatively, we could run the meta tests tests in the nightlies and make the default the no meta tests. Since it seems to happen pretty frequently. I think Jordan also ran into similar issues.

[2018-04-11 23:36] andreimatei commented on #24702
Could the `metadata-test` thing be controlled by a logictest "config" (like we have for distsql on/off)?
Also can you elaborate a bit on what code exactly is disabled when we inject the metadata magic? What's the "final post processing" exactly? How come tests don't fail without it?

[2018-04-12 00:43] #24660 closed

[2018-04-12 05:00] ruzkant opened #24713 "sql: JDBC metadata fails to query indexes (liquibase)"
The following query fails when quering jdbc metadata from liquibase for the <indexExists> element in a changeset.

[code]

Error:
[code]
So this is related to _pg_expandarray work that is ongoing, but I am not sure if other nooks and crannies of the query works as I am not too clued up on the catalog structures.

[2018-04-12 05:01] ruzkant commented on #24713
@BramGruneir the promised issue

[2018-04-12 05:04] benesch commented on #24636
Yeah, this view used to be better buried under the "View node list" link, but it appears the view was repurposed for the new 2.0 admin UI homepage, putting these decommissioned nodes front and center. /cc @couchand @vilterp

The limiting factor on the node ID is probably the int32 used in the `NodeDescriptor` proto: https://github.com/cockroachdb/cockroach/blob/bfa9931d495351f02b1681589ea60223a883

[2018-04-12 05:13] ruzkant opened #24714 "sql: support precision with date/time fields (tool compat)"
A tool like liquibase for example supports specifying a precision in a datetime field and this then fails on cockroach db as postgres does not support the syntax. So I say syntax because in my use case it would be fine to ignore the precision, and merely have it as an alias, but can't say what the broader implications are of that approach.

See here as to what liquibase does for postgres:
https://

[2018-04-12 05:14] ruzkant commented on #24714
@BramGruneir this follows on from your request to log tool issues

[2018-04-12 05:15] ruzkant commented on #13991
Related issues:

https://github.com/cockroachdb/cockroach/issues/24714
https://github.com/cockroachdb/cockroach/issues/24713

[2018-04-12 05:16] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598182&tab=buildLog

[2018-04-12 05:16] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598182&tab=buildLog

[2018-04-12 05:47] cockroach-teamcity commented on #24656
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598242&tab=buildLog

[2018-04-12 07:04] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598377&tab=buildLog

[2018-04-12 07:04] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598377&tab=buildLog

[2018-04-12 07:29] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598428&tab=buildLog

[2018-04-12 07:29] cockroach-teamcity commented on #24662
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598428&tab=buildLog

[2018-04-12 07:29] cockroach-teamcity commented on #24663
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598428&tab=buildLog

[2018-04-12 09:29] cockroach-teamcity commented on #24666
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598657&tab=buildLog

[2018-04-12 10:18] cockroach-teamcity opened #24717 "ccl/changefeedccl: TestChangefeedBasics failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598754&tab=buildLog

[code]

[2018-04-12 10:27] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598768&tab=buildLog

[2018-04-12 10:49] cockroach-teamcity commented on #24656
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598828&tab=buildLog

[2018-04-12 11:01] cockroach-teamcity opened #24719 "sql/jobs: TestJobLifecycle failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598819&tab=buildLog

[code]

[2018-04-12 11:01] cockroach-teamcity opened #24720 "sql/jobs: TestJobLifecycle/FinishedWith failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598819&tab=buildLog

[code]

[2018-04-12 11:01] cockroach-teamcity opened #24721 "sql/jobs: TestJobLifecycle/FinishedWith/nil_error_marks_job_as_successful failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=598819&tab=buildLog

[code]

[2018-04-12 12:21] cockroach-teamcity opened #24722 "sql/jobs: TestRegistryLifecycle/fail_marking_success_and_failed failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=599052&tab=buildLog

[code]

[2018-04-12 12:21] cockroach-teamcity opened #24723 "sql/jobs: TestRegistryLifecycle/fail_marking_failed failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/bfa9931d495351f02b1681589ea60223a88393a4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=599052&tab=buildLog

[code]

[2018-04-12 13:39] dianasaur323 opened #24725 "cockroach node status doesn't behave as expected when node decommissioned then restarted"
I had a 4 node cluster. Node 3 had some memory issues, so I completely wiped it. Then, I spun it back up as Node 5. I then went in and decommissioned Node 3. On running cockroach node status from Node 3, node 5 still thinks it is node 3, and says node 3 isn't in the liveness table.

[2018-04-12 13:42] a-robinson commented on #24725
Please be more specific. What does "node 5 still thinks it is node 3" mean? If the issue is the output of the `cockroach node status` command, including the command you ran and its output in the bug report is really, really helpful.

[2018-04-12 14:06] vivekmenezes commented on #16018
this is now a very high priority issue and we should consider cherry picking into 2.0 . If a schema change gets stuck there is no way to recover from the problem.

[2018-04-12 14:07] cockroach-teamcity commented on #24656
SHA: https://github.com/cockroachdb/cockroach/commits/b3928c5f1849bbca936c081e790156064bfb73f3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=599256&tab=buildLog

[2018-04-12 14:18] abhimadan commented on #24702
I think it could. We could structure it as a subtest under the existing distsql tests, so there would be a metadata on/off mode underneath those.

The test essentially plans additional processors corresponding to each level in a `planNode` tree. This was mainly done because it was simple to do and the metadata processors should be allowed to be planned anywhere. However, it messes up `renderNode`s

[2018-04-12 14:41] couchand commented on #24636
We've actually talked about this quite a bit, mostly offline, but you can see some of the history in issues going way back to the first implementation (see the comments starting at https://github.com/cockroachdb/cockroach/pull/17553#issuecomment-321608844).  I think @benesch's point is strong: there's a gap in the node ids which is useful to explain, and there is also a cost to the cluster associa

[2018-04-12 14:45] knz commented on #23893
@tlvenn we're currently prototyping some solution that enable clients to connect and use cockroachdb when no current db is set. However that does not cover your case where the Ecto library is set on using a current db called `postgres`.

For that case, we'd like to recommend as workaround that you create an empty database called `postgres` prior to using the Ecto client. That would solve your prob

[2018-04-12 15:20] abhimadan commented on #24702
Assigning to myself for now. I'll look into adding the metadata tests as distsql subtests instead of being gated by a flag.

[2018-04-12 15:58] dianasaur323 commented on #24725
Here's the output:

[code]

[2018-04-12 16:07] dianasaur323 commented on #16018
agreed - in some ways this is turning out to be more of a bug than a feature at this point...

[2018-04-12 16:40] couchand commented on #24636
cc @piyush-singh

[2018-04-12 17:00] abhimadan commented on #24702
I think that's possible, but I think it would be fairly messy, and adding special-case logic for tests at that level of granularity seems unappealing. I also think there could be other possible disparities between metadata tests being enabled and disabled that we haven't encountered, and adding special case logic for those as well also seems unfortunate. I'd still prefer to have subtests for now,

[2018-04-12 17:06] dt opened #24733 "builtins: consider adding ULID-based UUID generator"
ulid  is a time-based, ordered implementation of UUID generation. See https://github.com/oklog/ulid

Some users have reported smaller data sizes using ulid-derived UUIDs compared to random uuidv4 ids -- potentially due to compression-friendliness of similar keys thanks to being time-based. We potentially could offer a builtin to produce them (though the usual considerations with load distribution

[2018-04-12 17:41] MakMukhi commented on #17370
@petermattis Hey just looping back to let you guys know that the aforementioned [changes](https://github.com/grpc/grpc-go/pull/1962) were merged recently.
When you guys get a chance to try it out, let us know if they are helpful. If not, we'd love some feedback either way.
Also, we are following this with a [read-path optimization](https://github.com/grpc/grpc-go/pull/1987) to reduce memory usage.

[2018-04-12 17:44] mjibson commented on #16018
What happened to change this to be high priority?

[2018-04-12 17:46] wzrdtales commented on #24636
@couchand So this nodes died in completeness: Means no data available anymore, how are you supposed to bring this back up? In fact: They came back up with the same name, but registered as a complete new node. If I would have had an option to reregister them as the same node as before, but which lost all of his data, I would have done this though.

[2018-04-12 17:53] a-robinson commented on #17370
Thanks @MakMukhi! I'll give the changes a test in cockroach soon.

[2018-04-12 17:55] RaduBerinde opened #24736 "distsql: remove the distinction between index join and lookup join during execution"
The JoinReader behaves differently depending on whether we are doing an index join or a lookup join (note that #24697 cleaned up most of the complexity of this distinction). There is no reason it should care. We should make it always behave like it currently does for a lookup join and adjust the planning code for index joins. There is even a small potential benefit: instead of re-decoding any need

[2018-04-12 17:55] petermattis commented on #17370
@MakMukhi Thanks for the heads up. We're following along with the work you're doing and it is on our TODO list to test out the recent improvements. We'll let you know of any results.

[2018-04-12 18:09] bdarnell commented on #24733
How would this be better than `unique_rowid()` (which is the same idea in 64 bits)?

[2018-04-12 18:12] dt commented on #24733
I think the primary benefit would just be uuid compatibility -- you can switch generation schemes without switching types.

[2018-04-12 18:32] vivekmenezes commented on #16018
see the conversation on gitter

[2018-04-12 18:39] couchand commented on #24636
There's no concept in CockroachDB of restoring a node that has lost all data.  If the data is gone, you simply can't bring it back up.  The node's identity is completely independent of the interface it's listening on: a new node on the old host and port will still be a new node, and an old node on a new host and port will still be an old node.

[2018-04-12 19:03] #24069 closed

[2018-04-12 19:09] rmloveland opened #24740 "sql: make SPLIT AT output be consistent with SHOW EXPERIMENTAL_RANGES"
This is a feature request.

On version 2.0.0, the pretty-printed key output format differs between `SHOW TESTING_RANGES` and `SPLIT AT` as shown below.

This is a bit confusing when you are trying to learn the key output format so you can understand what is happening under the hood when you execute these statements.

The feature request is for `SPLIT AT` to use the same "short form" as `SHOW TESTI

[2018-04-12 19:09] rmloveland commented on #24740
cc @RaduBerinde and @knz

[2018-04-12 19:09] awoods187 opened #24741 "Run the Hibernate test suite and capture examples of failed queries"
Run the hibernate test suite and capture examples of all the failed queries. We can add them to this issue (https://github.com/cockroachdb/cockroach/issues/16491) as well as track them in our query library.

[2018-04-12 19:10] awoods187 commented on #24741
cc @jordanlewis

[2018-04-12 19:12] RaduBerinde commented on #24740
I don't see a problem with removing the `/Table/<id>/<idx>` prefix.
In addition, I am not sure if the `key` column is useful at all. If it is used internally, we could hide it by default.

[2018-04-12 19:14] awoods187 opened #24742 "sql: support pg_catalog.pg_opclas"
An error pops up in Dbeaver when selecting system info, access methods, prefix, operator classes:

[code]

[2018-04-12 19:15] awoods187 opened #24743 "sql: support pg_catalog.pg_opfamily"
An error pops up in Dbeaver when selecting system info, access methods, prefix, operator families:

[code]

[2018-04-12 19:17] awoods187 opened #24744 "sql: support pg_catalog.pg_conversion"
An error pops up in Dbeaver when selecting system info, encodings:

[code]

[2018-04-12 19:18] awoods187 opened #24745 "Support pg_catalog.pg_stat_activity"
An error pops up in Dbeaver when selecting administer and then sessions:

[code]

[2018-04-12 19:19] awoods187 opened #24746 "sql: support casting arrays to string"
No error pops up in Navicat when selecting roles.

```SELECT fdwname AS name, fdwacl AS acl FROM pg_foreign_data_wrapper WHERE fdwacl::VARCHAR LIKE '%admin%'```

I180409 23:48:05.179837 8072 sql/conn_executor.go:1805  [n1,client=[::1]:59064,user=root] execution error: invalid cast: string[] -> VARCHAR

[2018-04-12 19:20] awoods187 opened #24747 "sql: support pg_matviews virtual table"
An error pops up in Navicat when clicking materialized views:

[code]

[2018-04-12 19:24] mjibson opened #24748 "sql: cannot add a JSONB column after upgrading to a 2.0 cluster"
After upgrading from a 1.1 cluster to 2.0, but before setting the cluster version, a user can attempt to add a JSONB column. This will fail in a loop in the background. It should instead fail immediately.

[2018-04-12 19:30] cockroach-teamcity opened #24749 "teamcity: failed tests on master: test/TestBuild"
The following tests appear to have failed:

[#600015](https://teamcity.cockroachdb.com/viewLog.html?buildId=600015):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-12 19:41] mjibson commented on #24748
The log has:

[code]

I've also verified that upgrading the cluster version setting resolves the issue.

[2018-04-12 19:53] RaduBerinde commented on #24736
CC @pbardea

[2018-04-12 19:58] a-robinson commented on #24725
Any more information you have about which commands you ran, in which order, and whether large amounts of time passed between them would be helpful. I haven't been able to reproduce this locally.

Alternatively, as discussed offline, access to the cluster whenever you can give it to me would also work if it's still exhibiting the problem.

[2018-04-12 19:59] pbardea commented on #24736
Related to #24698.

[2018-04-12 20:04] RaduBerinde commented on #24736
Oh, sorry, didn't realize you filed too. Closing as dup.

[2018-04-12 20:04] #24736 closed

[2018-04-12 20:14] a-robinson opened #24751 "cli: `cockroach debug gossip-values` no longer works without a positional argument"
...and the command doesn't actually use any positional arguments. This does not appear to be broken in any actual releases.

[2018-04-12 20:23] vivekmenezes opened #24753 "stability: partitioned gossip network caused by ping-ponging of r1's lease"
When attempting to make an alpha release all was going fine until I restarted node 1 on adriatic. On node 1 coming up the node status page

[code]

shows some node status with some nodes reporting

[code]

see livenodes=1

and others reporting:

[code]

livenodes=6 correctly

I believe the admin UI uses this to report on liveness information

[2018-04-12 20:27] a-robinson commented on #24753
There's something very weird going on here with gossip. Nodes 1, 2, 3, and 6 don't have `node` or `store` info on nodes 4 and 5 in gossip. And nodes 4 and 5 don't have `node` or `store` info on nodes  1, 2, 3, and 6 in gossip. Node liveness info is being gossiped to all the nodes:

[code]

[2018-04-12 20:28] nvanbenschoten commented on #24751
Good catch! And no this is only on master. Like you noticed, https://github.com/cockroachdb/cockroach/pull/24399 must have gotten this wrong.

[2018-04-12 20:31] BramGruneir commented on #24713
I tried to clean up the query a bit:

[code]

[2018-04-12 20:31] vivekmenezes commented on #24748
[code]

to upgrade your cluster after following the instructions in:

https://www.cockroachlabs.com/docs/stable/upgrade-cockroach-version.html

[2018-04-12 20:34] a-robinson commented on #24753
Sorry -- I should say it *was* gossiped to all the nodes a while ago. Only nodes 4 and 5 have up-to-date liveness info in their gossip because node 5 is the current leaseholder for the liveness range and the gossip network isn't fully connected. Nodes 4 and 5 are connected to each other but not to any other nodes. Investigating further.

[2018-04-12 20:50] #24401 closed

[2018-04-12 20:54] a-robinson commented on #24753
I haven't yet tracked down how it got into this state, but the cluster appears to have hit a hell of an edge case in gossip that has likely been there for a very long time.

In short, our logic for deciding when to "tighten" the gossip network by reaching out to an additional node only considers reaching out to nodes for which we have a gossiped `node` record. Somehow nodes (1,2,3,6) and (4,5) hav

[2018-04-12 20:56] andreimatei commented on #24501
@pbardea this has been fixed by #24697 , right? I'm running one of the nightlies for a few minutes now and it seems happy so far.

[2018-04-12 20:56] #24501 closed

[2018-04-12 21:14] pbardea commented on #24501
@andreimatei  Yep should be fixed.

[2018-04-12 21:16] #24751 closed

[2018-04-12 21:18] bdarnell commented on #24753
What's supposed to happen here is that the leaseholder for r1 (if any) broadcasts a special gossip key (called the sentinel). Any node which can't receive the sentinel gossip should continually try to reconnect to its `--join` nodes, not just the "tighten" logic you noticed.

[2018-04-12 21:25] bdarnell commented on #24753
The cluster-id key comes from any replica of r1. The sentinel comes from the leaseholder of r1.

[2018-04-12 21:28] a-robinson commented on #24753
That's right, thanks.

The lease is indeed ping-ponging around:

<img width="720" alt="screen shot 2018-04-12 at 5 28 36 pm" src="https://user-images.githubusercontent.com/7085343/38705260-f62e6248-3e76-11e8-9cfc-7502a88d1b93.png">

[2018-04-12 21:47] a-robinson commented on #24753
So it looks like it's really as simple as that.

* Each node with a replica of r1 attempts to gossip it every 1 minute
* If no replica has an active lease when a node tries to gossip r1, it will acquire the lease
* The lease it acquires only lasts 9 seconds
* We don't proactively renew expiration-based range leases for ranges that aren't actively serving traffic, and apparently nothing else is usi

[2018-04-12 21:48] a-robinson commented on #24753
There's a reasonable latency-based argument to be made that we should be actively renewing r1's lease, but that's probably a separate discussion.

[2018-04-12 21:49] bdarnell commented on #27
We've been using jepsen for a long time now and have no specific plans to build anything else in this area, so there's no point in keeping this issue open.

[2018-04-12 21:49] #27 closed

[2018-04-12 21:53] a-robinson commented on #24753
And for the record, the cluster got into this situation in a fairly innocuous way. The gossip network was set up such that n1 was the only thing connecting nodes (2,3,6) with nodes (4,5), then n1 was killed by somebody running `SELECT crdb_internal.force_panic(_);` on it. When n1 came back up, it only connected to the (2,3,6) side of the network.

[2018-04-12 21:55] bdarnell commented on #24753
Yeah, we should probably be auto-renewing all the expiration-based leases (there are only a few ranges that use them now). Jittering the 1m timer would also ensure we don't get stuck here.

[2018-04-12 21:59] bdarnell commented on #4416
We're moving away from go benchmarks to more real-world testing with `roachprod` and `roachperf`, so I don't think there's any reason to keep this issue open.

[2018-04-12 21:59] #4416 closed

[2018-04-12 22:02] bdarnell commented on #5984
We're building proper merge support for 2.1, so I'm going to go ahead and call this a duplicate of #2433.

[2018-04-12 22:02] #5984 closed

[2018-04-12 22:03] bdarnell commented on #5690
This is done; the consistency checker is now able to recompute the MVCC stats.

[2018-04-12 22:03] #5690 closed

[2018-04-12 22:03] bdarnell commented on #5630
Closing due to inactivity; we've made a lot of improvements since 2016.

[2018-04-12 22:03] #5630 closed

[2018-04-12 22:30] knz commented on #7349
Unfortunately we can't do that just yet because some extant properly-written CockroachDB may use that feature productively already. Maybe in a later version.

The rest of your comment stands however: the beginner user should simply not have to think about `--database` at all and with #24735 we'll cater for this case transparently.

[2018-04-12 22:31] bdarnell commented on #10212
We now validate cluster versions when nodes connect to each other.

[2018-04-12 22:31] #10212 closed

[2018-04-12 22:35] bdarnell commented on #7349
Oh, I thought the whole point of #24735 was that we didn't want to preserve the old behavior because it leads to undefined/weird behavior in pg_catalog. I think I'd be OK with the compatibility break here if it helps clean things up.

[2018-04-12 22:51] knz commented on #7349
So the new behavior is as follows:
- clients that connect with no cur db set get `default`
- clients that connect with cur db = `postgres` get what they ask for

The remaining case where clients connect to a non-existing db is not covered by that PR, because it does not appear to be a use case that requires immediate attention (= clients developed specifically for CockroachDB. This situation could

[2018-04-12 23:12] knz opened #24759 "sql: support vtables information_schema.{routines,parameters}"
requested by @awoods187 , Navicat needs this

[code]

The vtables should be visible to clients (and contain no data initially) even though #17511 is not solved.

[2018-04-13 00:34] itamarjp opened #24761 "build,storage: cockroach fails to compile in Fedora / GCC 8.01 due to error in RocksDB"
the issue is actually in rocksdb, I reported the bug in upstream,  but affects cockroach too.

https://github.com/facebook/rocksdb/issues/3716

[2018-04-13 01:07] tlvenn opened #24762 "High CPU pressure on dev machine with CRDB 2.0"
Since i updated CRDB from 1.1.X to 2.0, i noticed that on my macbook pro, CRDB is constantly eating at least one cpu even when there is no client connection. Migrations are a lot slower as well.

<img width="557" alt="crdb_cpu" src="https://user-images.githubusercontent.com/3340262/38711662-940bad0e-3ef9-11e8-827b-5ff0a35f5963.png">

I had no issue with CRDB 1.1.X running before on my macbook pro

[2018-04-13 01:11] jordanlewis commented on #24762
I wonder if this is related to #21702.

Could you please take a CPU profile and attach it to this issue? Download the file at the address `http://localhost:8080/debug/pprof/profile?debug=1`. The download will appear to hang because it's taking a CPU profile sample for 30 seconds. Please attach the file to this issue - it doesn't contain sensitive data.

[2018-04-13 01:11] jordanlewis commented on #24762
Another thing that would be useful is looking at the graphs in the Admin UI. Are there any queues that have large values?

[2018-04-13 01:17] nvanbenschoten commented on #24762
@tlvenn could you also expand on what you mean by

[2018-04-13 01:53] tlvenn commented on #24762
@nvanbenschoten sorry, I meant Ecto migration, basically, creating the database as well as all the tables and indexes. Seeding data is slower as well but an order of magnitude faster that migrations which kinda sit there for a like 20 seconds at times.

I just switched back to 1.1.6 to time it for comparison and dropped the whole data folder in the process. I timed it to 25sec to drop / create the

[2018-04-13 02:16] tlvenn commented on #23893
Totally easy and doable in dev, more awkward in Staging / Prod where CRDB is operated in Kubernetes with Helm. I will have to use a Helm post-install hook to create the `postgres` database which might be a little bit tricky.

I will submit a patch to Ecto later today to customize the default database, that would solve this cleanly but it does not solve the larger issue that by default Postgresql d

[2018-04-13 02:29] tlvenn commented on #24762
Time was of essence I guess, 30mn later I noticed that CRDB is now eating my cpu again while there is no client at all connected:

<img width="560" alt="crdb_cpu2" src="https://user-images.githubusercontent.com/3340262/38713676-f58ddbb4-3f04-11e8-8598-ebc0a41d7763.png">

As request @jordanlewis , here is the CPU profile:

[profile.zip](https://github.com/cockroachdb/cockroach/files/1905592/profile

[2018-04-13 02:42] tlvenn commented on #24762
As i run my migrations / seeding, I also observe the following queues states:

<img width="924" alt="crdb_queue2" src="https://user-images.githubusercontent.com/3340262/38714125-5455c222-3f07-11e8-91ae-b672841bbe95.png">

[2018-04-13 02:43] jordanlewis commented on #24762
20% of the CPU is spent on the issue in #21702:

![image](https://user-images.githubusercontent.com/43821/38714094-9e369232-3ea2-11e8-85e5-3f0647316c29.png)

The rest... I don't really understand. Maybe @nvanbenschoten can help. The system is doing a lot of `mvccScan`, but not for queries - it's caused by `MaybeGossipSystemConfig`. Seems like something could be amiss.

![image](https://user-images

[2018-04-13 02:48] tlvenn commented on #24762
And now it's eating both my cores while the DB is idle.
<img width="560" alt="crdb_cpu3" src="https://user-images.githubusercontent.com/3340262/38714301-15e7753e-3f08-11e8-8ce4-8e66ecf65f0d.png">

Here is the updated CPU profile, which hopefully highlight better the hotspot:
[profile_2.zip](https://github.com/cockroachdb/cockroach/files/1905656/profile_2.zip)

[2018-04-13 02:54] tlvenn commented on #24762
For reference, the cluster has 517 ranges, so it might not be related with #21702.

[2018-04-13 02:54] tlvenn commented on #24762
Damn I closed the issue by mistake...

[2018-04-13 03:04] tlvenn commented on #24762
I stoped the db, removed the data folder, restarted it and ran my migrations.

FYI, the cluster has now only 54 ranges.

[2018-04-13 05:13] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/070d1b96dcbf917d55e52029608c5b6fd8f6d69a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=600535&tab=buildLog

[2018-04-13 05:14] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/070d1b96dcbf917d55e52029608c5b6fd8f6d69a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=600535&tab=buildLog

[2018-04-13 05:43] #23950 closed

[2018-04-13 05:51] cockroach-teamcity opened #24763 "sql/opt/exec/execbuilder: TestBuild failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/070d1b96dcbf917d55e52029608c5b6fd8f6d69a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=600593&tab=buildLog

[code]

[2018-04-13 05:51] cockroach-teamcity opened #24764 "sql/opt/exec/execbuilder: TestBuild/stats failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/070d1b96dcbf917d55e52029608c5b6fd8f6d69a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=600593&tab=buildLog

[code]

[2018-04-13 07:09] erichocean opened #24766 "cli/sql: `cockroach sql` fails to save command history if exited with ^C"
This is a "should have" feature. It's very frustrating working with the sql client and then having to use ^C because it has hung on some query, only to lose your entire working history when you restart it.

[2018-04-13 07:31] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=600730&tab=buildLog

[2018-04-13 07:31] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=600730&tab=buildLog

[2018-04-13 07:59] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=600781&tab=buildLog

[2018-04-13 07:59] cockroach-teamcity commented on #24723
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=600781&tab=buildLog

[2018-04-13 08:14] knz commented on #24759
@awoods187 does Navicat fail to run unless this is solved?

[2018-04-13 08:15] knz commented on #23893
Yes we came independently to the same conclusion and that's why we decided to also provide a `postgres` compatibility database in #24735.

[2018-04-13 08:16] knz commented on #23893
That said, @tlvenn the changes in #24735 are too large for a patch release and we won't be able to push that change in the release channel until 2.1. You'll be able to pick it up in alphas. Apologies for the inconvenience.

[2018-04-13 08:27] jseldess opened #24767 "ui: non-table, non-TS ranges not shown on databases page"
**Bug report**

When I first start a 2.0 cluster with 3 nodes, the range count on the Cluster Overview is 20, but the range count on the Databases page is 9 for `system` and 1 for `timeseries`.

[code]

<img width="1242" alt="screen shot 2018-04-13 at 4 22 59 am" src="https://user-images.githubusercontent.com/15893490/38724669-f04f7de2-3ed2-11e8-9dfe-1ab546f687b4.png">

<img width="1255" alt="scre

[2018-04-13 08:46] jseldess opened #24769 "ui: Mismatched database size"
**Bug report**

After starting ycsb against a 5-node local cluster running 2.0, the database size is different on the Databases overview and `usertable`-specific pages.  To reproduce, just follow the steps on https://www.cockroachlabs.com/docs/stable/training/fault-tolerance-and-automated-repair.html.

[code]

![image](https://user-images.githubusercontent.com/15893490/38725531-9b3aead2-3ed5-11e8-

[2018-04-13 08:56] jseldess opened #24771 "ui: Replica count does not go down to zero on dead node"
**Bug report**

After starting ycsb against a 5-node local cluster running 2.0, reducing `server.time_until_store_dead` to 1 min, and then killing 1 node, the cluster marks the down node as dead after 1 min and rebalancing data to the other nodes but never reduces the replica count on the dead node to 0. To reproduce, just follow the steps on https://www.cockroachlabs.com/docs/stable/training/faul

[2018-04-13 09:07] solsson commented on #23940
Actually I did have RBAC and extra mental overhead in mind :) It's up to you to balance priority, complexity and resources for your use case - so I'll take it as no for now.

[2018-04-13 09:58] knz opened #24774 "sql: panic while attempting to rename primary index"
Found while investigating #24475.

[code]

crashes with

[code]

[2018-04-13 09:59] viniciusmiguel opened #24775 "ui: unresponsive after running for some time"
CRDB2.0 Running on Linux

Tested on Chrome running on Windows Server 2012.

After some time with the UI opened it gets totally unresponsive, being necessary make a reload (F5).
It happens especially when I left the UI opened from one day to another.

[2018-04-13 10:01] cockroach-teamcity commented on #24763
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601001&tab=buildLog

[2018-04-13 10:01] cockroach-teamcity commented on #24764
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601001&tab=buildLog

[2018-04-13 11:00] ruzkant commented on #24626
When creating a table with a foreign key in the create statement an implicit index is created but not with explicit alter. I am not sure if this inconsistency has a good reason, but otherwise it might be useful for the later statement to also create an implicit index if not present? I thought it might relate to this item.

[2018-04-13 11:16] knz commented on #24626
@ruzkant thanks for your feedback. The reason why ALTER does not add an index is that adding an index can be a very costly operation if the table already has many rows. This concern does not exist during CREATE, since the table is still empty at that time.

[2018-04-13 11:52] knz commented on #10495
cc @awoods187 for prioritization.

[2018-04-13 11:59] cockroach-teamcity commented on #24763
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601214&tab=buildLog

[2018-04-13 11:59] cockroach-teamcity commented on #24764
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601214&tab=buildLog

[2018-04-13 13:05] knz commented on #24686
All right I dug into the pg source code and it so happens that both of us were right, although neither of us had the right explanation for it :)

Where I was right:

- pg applies the same lexical rules and name resolution rules for types as it does for other things. That is, _in general_ (but not for `int` and `char`  and a few other specific things, see below) lexically the types `x` and `"x"` ar

[2018-04-13 13:13] knz commented on #8318
Will need a fix to  #24686

[2018-04-13 13:17] knz commented on #24766
@erichocean which version are you using? We have fixed numerous history-related bugs in 2.0. I just tested with a 2.0 client and I believe the history is properly saved. Could you help us reproduce the problem?

[2018-04-13 13:39] knz commented on #24761
Thanks for your report!

[2018-04-13 13:46] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601430&tab=buildLog

[2018-04-13 13:46] cockroach-teamcity commented on #24662
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601430&tab=buildLog

[2018-04-13 13:46] cockroach-teamcity commented on #24663
SHA: https://github.com/cockroachdb/cockroach/commits/277bc9b49f81f227f82617915f50bc973bd21568

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601430&tab=buildLog

[2018-04-13 14:05] danhhz commented on #24717
Looking into this

[2018-04-13 14:31] RaduBerinde commented on #24763
Dup of #24773

[2018-04-13 14:31] #24763 closed

[2018-04-13 14:31] RaduBerinde commented on #24764
Dup of #24473

[2018-04-13 14:31] #24764 closed

[2018-04-13 14:32] RaduBerinde commented on #24764
Sorry #24773

[2018-04-13 14:41] nvanbenschoten commented on #24762
@tlvenn how many tables do you have in your database and do you have a rough idea for the number of schema changes you've performed in the past 24 hours?

@koudelka the `[n1,s1,r7/1:/Table/{SystemCon…-11}] applying backpressure to limit range growth on batch` line indicates that somewhere in your system something is performing a huge number of schema changes. Does this sound correct? If not, the s

[2018-04-13 15:07] tlvenn commented on #24762
@nvanbenschoten 32 tables, and dropping the db and recreating the schema around 10 times was enough to reproduce the issue. Given it actually manifested only after a certain period of idle time, there is a chance that not even 10 times is actually needed.

[2018-04-13 15:11] jseldess opened #24780 "ui: Make doc links in node map onboarding open in a new tab"
In the 2.0 node map, the links to docs should open in a new tab so you don't lose the admin ui.

[2018-04-13 15:35] vivekmenezes commented on #24762
Our asynchronous schema changer used to GC dropped table data will check if it can GC all the data for a dropped table every 10 minutes. This was done to be reactive within a 10 minute window to changes in zone configs (the default policy is to drop data after 24 hours). Now if you create tables and drop tables in a loop the system will accumulate a large number of tables for which it needs to run

[2018-04-13 15:42] nvanbenschoten commented on #24676
@rnestertsov you're correct that without correlated subqueries the query you posted won't work in Cockroach. This is unfortunate, and we're actively looking to address the issue by adding in support

[code]

[2018-04-13 15:43] 0joshuaolson1 opened #24782 "An issue about the correctness of a dependency (arenaskl)"
Possible dependency issue: https://github.com/andy-kimball/arenaskl/issues/3

Where it's used: https://github.com/cockroachdb/cockroach/blob/master/pkg/storage/tscache/interval_skl.go#L27

Permalink: https://github.com/cockroachdb/cockroach/blob/374be5beb91d64cdbc82a706b3a153f0d4ae77bb/pkg/storage/tscache/interval_skl.go#L27

[2018-04-13 15:44] nvanbenschoten commented on #24676
@rnestertsov you're correct that without correlated subqueries the query you posted won't work in Cockroach. This is unfortunate, and we're actively looking to address the issue by adding in correlated subquery support.

For now, you can try the following query, which acheives the same outcome (in a less efficient way):
[code]

[2018-04-13 15:50] cockroach-teamcity opened #24783 "sql/opt/exec/execbuilder: TestBuild failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/374be5beb91d64cdbc82a706b3a153f0d4ae77bb

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601659&tab=buildLog

[code]

[2018-04-13 15:50] cockroach-teamcity opened #24784 "sql/opt/exec/execbuilder: TestBuild/stats failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/374be5beb91d64cdbc82a706b3a153f0d4ae77bb

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=601659&tab=buildLog

[code]

[2018-04-13 16:05] #24370 closed

[2018-04-13 16:31] gpaul opened #24785 "sql: DDL statements are non-transactional"
Is this a question, feature request, or bug report?

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

[code]

2. Please describe the issue you observed:

- What did

[2018-04-13 16:51] koudelka commented on #24762
@nvanbenschoten You got it, my application tests drop and create a table every time I run them, at least once every couple minutes while I'm working on it.

[2018-04-13 16:58] vivekmenezes commented on #24762
[profile001.pdf](https://github.com/cockroachdb/cockroach/files/1908278/profile001.pdf)

[2018-04-13 17:01] vivekmenezes commented on #24762
@nvanbenschoten looking at the profile would you say this is because the schema change acquires a schema change lease on table, thereby writing to it, before checking the GC TTL on the zone config?

[2018-04-13 17:21] andreimatei opened #24786 "distsqlrun: limitHint logic in tableReader doesn't make sense when tableReader is used as a RowSource"
We have some really hilarious code that tries to fill a `RowChannel` that doesn't (ever?) make sense any more when the `TableReader` is used as a `RowSource` rather than it pushing results downstream.
https://github.com/cockroachdb/cockroach/blob/c5b72972d4515e2be98223fc4af2e4e90591dcda/pkg/sql/distsqlrun/readerbase.go#L37

I think this code is a particular problem now that we use a single `TableR

[2018-04-13 17:51] james-weitzman opened #24787 "ui: Node 5 should not appear in tool tip"
Is this a question, feature request, or bug report?

Bug report

<img width="1238" alt="screen shot 2018-04-13 at 1 50 03 pm" src="https://user-images.githubusercontent.com/36422215/38750058-b9f2e85c-3f21-11e8-81de-ee5436e6e664.png">

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems

[2018-04-13 17:53] itamarjp commented on #24761
full build log with the failure, here ->

https://koji.fedoraproject.org/koji/taskinfo?taskID=26351599

[2018-04-13 17:55] justinj commented on #24785
Hi @gpaul,

Unfortunately, our DDL statements are not transactional today. This is definitely confusing as you've seen here, and it's something we'd like to address in the future. We have to allow issuing them within transactions for Postgres compatibility, since many tools issue them that way, even though they don't respect the bounds of said transaction. I'm not sure if there's a larger tracking

[2018-04-13 18:02] dkoston opened #24788 "cli: Improve error messages for `init`"
Is this a question, feature request, or bug report?
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply the output of `cockr

[2018-04-13 18:04] dkoston commented on #24788
FYI, here's how I installed cockroachdb:

[code]

[2018-04-13 18:08] dkoston commented on #24788
glibc and libtinfo appear installed:

[code]

[2018-04-13 18:33] vivekmenezes commented on #24785
this looks like the same issue as #24626. Please reopen if you think differently. Thanks!

[2018-04-13 18:33] #24785 closed

[2018-04-13 18:38] vivinjoy opened #24791 "docs: How do we setup the Disaster Recovery over Multi Datacenter cluster in Cockroach DB?"
Consider we have a separate Datacenter to fallback as part of Disaster Recovery. How do we setup Cockroach DB cluster for this? I believe adding the DR Datacenter instances as part of the same cluster would allow data to be sharded across the DR server instances too, which is not ideal.

I know that we can always do Backup/Restore. But is there a better way?

[2018-04-13 18:39] dkoston commented on #24788
Just built from source and getting this error as well.

[2018-04-13 19:02] andreimatei commented on #24784
Happens without stress too on TC.
Easily reproducible:
`make stress PKG=./pkg/sql/opt/exec/execbuilder/ TESTS=TestBuild/stats`

[code]

[2018-04-13 19:03] andreimatei commented on #24749
#24773

[2018-04-13 19:03] #24749 closed

[2018-04-13 19:03] andreimatei commented on #24784
#24773

[2018-04-13 19:03] #24784 closed

[2018-04-13 19:12] andreimatei commented on #24047
This just happened to me on TC. Any idea what's going on?

[2018-04-13 20:17] cristhiank opened #24794 "org.postgresql.util.PSQLException: The fastpath function lo_creat is unknown."
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
Build Tag:    v2.0.0
Build Time:   2018/04/03 20:56:09
Distribution: CCL
Platform:     linux amd64 (x86_64-unknown-linux-gnu)
Go Version:   go1.10
C Compiler:   gcc 6.3.0
Build SHA-1:  a6b498b7aff14234bcde23107b9e7fa14e6a34a8
Build Type:   release

2. Please describe the issue you observed:

- What did you d

[2018-04-13 20:22] kaavee315 opened #24795 "Roach test for disk space usage"
Older versions of Cockroachdb did not seem to give up unused space promptly. We plan to add a test to simulate the conditions and scenarios, in which older versions of cockroach didn't behave well. This is to ensure that the newer versions of CockroachDB do not have these bugs. We need to test at least the following scenarios:
1. Running a cluster close to 95% full with a steady rate of inserts an

[2018-04-13 20:24] petermattis commented on #24785
@vivekmenezes I think there is something different going on than in #24626. Inserting into a table in the same transaction the table is created in should work. For example:

[code]

I imagine the `ROLLBACK TO SAVEPOINT` is fouling something up.

[2018-04-13 20:29] #24304 closed

[2018-04-13 20:31] petermattis commented on #24795
This issue overlaps with (or is perhaps a duplicate of) https://github.com/cockroachdb/cockroach/issues/24278. Cc @a-robinson.

[2018-04-13 20:34] cristhiank commented on #24794
Hi!

Thanks for the answer.
Actually, the data in that column is not huge, it's max 1mb.
I just fixed it, I am using JPA, and I had the column annotated with [@javax.persistence.Lob](https://docs.oracle.com/javaee/6/api/javax/persistence/Lob.html) and I think that annotation made the driver tried to store it as a Large Object even if the column was BYTEA. I removed the annotation and it's working

[2018-04-13 20:34] #24794 closed

[2018-04-13 20:57] andreimatei opened #24798 "distsql: uncertainty reads under DistSQL don't benefit from read span refresh mechanism"
When a regular Scan encounters a `ReadWithinUncertaintyInterval` error, the `TxnCoordSender` will immediately try to refresh the txn's read spans and, if successful, retry the batch. This doesn't apply to DistSQL reads which don't go through the `TxnCoordSender`.
We should figure out another level at which to retry.
Separately, if the whole flow is scheduled on the gateway, everything could go thr

[2018-04-13 21:17] dkoston commented on #24788
This ended up being me taking the directions too literally. I was under the impression that `init` would also start the server. It does not. You need to start it first.

The errors still are unusable though.

[2018-04-13 21:39] nvanbenschoten commented on #24782
@0joshuaolson1 thanks for opening this issue. It's always hard to monitor the health of all dependencies in a large project, so we really appreciate you following through with a suspected bug and informing us of it!

[2018-04-13 21:39] #24782 closed

[2018-04-13 22:41] erichocean commented on #24766
I'm on the public 2.0 release. I can reliably reproduce this behavior.

[2018-04-13 22:45] erichocean commented on #24766
I get this error: `W180413 22:44:23.478108 1 cli/sql.go:214  cannot save command-line history: write_history: illegal byte sequence`

[2018-04-14 05:16] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=602425&tab=buildLog

[2018-04-14 05:16] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=602425&tab=buildLog

[2018-04-14 05:25] cockroach-teamcity commented on #24717
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=602411&tab=buildLog

[2018-04-14 07:33] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=602671&tab=buildLog

[2018-04-14 07:33] cockroach-teamcity commented on #24662
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=602671&tab=buildLog

[2018-04-14 07:33] cockroach-teamcity commented on #24663
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=602671&tab=buildLog

[2018-04-14 09:30] knz commented on #24766
@erichocean This is a sign there is an invalid UTF-8 sequence in the history. That's why it cannot be saved. I would recommend opening the file `~/.cockroachsql_history` in a text editor and check visually for invalid characters, especially at the end.

[2018-04-14 10:28] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=603011&tab=buildLog

[2018-04-14 10:28] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=603011&tab=buildLog

[2018-04-14 10:40] cockroach-teamcity opened #24800 "server: TestAdminAPIReplicaMatrix failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=603050&tab=buildLog

[code]

[2018-04-14 13:11] cockroach-teamcity opened #24801 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#602397](https://teamcity.cockroachdb.com/viewLog.html?buildId=602397):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-14 14:01] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=603498&tab=buildLog

[2018-04-14 14:01] cockroach-teamcity commented on #24722
SHA: https://github.com/cockroachdb/cockroach/commits/8d25269e58b4f61d59a7242380c7905e54c87128

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=603498&tab=buildLog

[2018-04-14 15:41] andy-kimball commented on #24783
Dup of #24773.

[2018-04-14 15:41] #24783 closed

[2018-04-14 15:42] andy-kimball commented on #24656
Fixed by #24715

[2018-04-14 15:42] #24656 closed

[2018-04-14 15:56] vilterp opened #24802 "server: TestAdminAPIReplicaMatrix is flaky"
Sometimes fails under stress.

[2018-04-14 16:51] jordanlewis opened #24805 "distsqlrun: routers should push synchronously"
Today, `router.Push(row)` synchronously decides the proper output for the row,  deposits that row into a buffer for that proper output, signals the router goroutine that something happened, and then finishes.

Separately, the router goroutine is waking up when signaled, grabbing chunks of rows from those output buffers, and calling `Push` on their corresponding output `RowChannel`.

The overhead o

[2018-04-14 16:56] jordanlewis commented on #24805
Er, `RowChannel` doesn't do that internally, but `outbox` does.

[2018-04-14 17:06] jordanlewis commented on #24805
Very early experiments show a ~5x improvement with this strategy but I'm going to leave this alone for now.

[2018-04-14 17:10] #24800 closed

[2018-04-14 17:32] #20254 closed

[2018-04-14 20:15] arnodirlam commented on #23893
As a temporary workaround on this problem, I've forked ecto and tagged the current version [v2.2.10_cdb](https://github.com/arnodirlam/ecto/tree/v2.2.10_cdb) with the default database changed to "system". It works with Cockroach DB 2.0 using this.

To use it, add this line to your `mix.exs`:
[code]

[2018-04-15 00:04] josdotso commented on #15299
@tamird Would you be willing to reopen this based on @nicck's comment?

[2018-04-15 00:36] josdotso commented on #15299
Thanks @tamird !

[2018-04-15 05:43] cockroach-teamcity commented on #24719
SHA: https://github.com/cockroachdb/cockroach/commits/603f3a3e803ced9c7b94509721ac398e9e46b53a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=603805&tab=buildLog

[2018-04-15 05:44] cockroach-teamcity opened #24806 "sql/jobs: TestJobLifecycle/cancelable_jobs_can_be_paused_until_finished failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/603f3a3e803ced9c7b94509721ac398e9e46b53a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=603805&tab=buildLog

[code]

[2018-04-15 06:50] #16424 closed

[2018-04-15 07:38] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604000&tab=buildLog

[2018-04-15 07:38] cockroach-teamcity commented on #24722
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604000&tab=buildLog

[2018-04-15 08:41] cockroach-teamcity commented on #24717
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604130&tab=buildLog

[2018-04-15 10:15] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604339&tab=buildLog

[2018-04-15 10:15] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604339&tab=buildLog

[2018-04-15 10:24] kierenj commented on #24173
I'm keen to help if I can, it's a bit of a blocker for me.  Would it be possible to establish where the issue lies?

To me it sounds like the `pg_type` table is populated correctly with an `oid` and `typname` for (`16`/`bool`), and Npgsql agrees on that convention (https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/NpgsqlTypes/NpgsqlDbType.cs#L102).

Npgsql must be assigning an Unknown type hand

[2018-04-15 10:34] roji commented on #24173
FYI for the Npgsql side I'm away for the next 1.5 weeks or so but will be back and available to discuss

[2018-04-15 12:14] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604613&tab=buildLog

[2018-04-15 12:14] cockroach-teamcity commented on #24662
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604613&tab=buildLog

[2018-04-15 12:14] cockroach-teamcity commented on #24663
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604613&tab=buildLog

[2018-04-15 12:32] tschottdorf commented on #24795
The decommissioning test does aggressive rebalancing. Not suggesting that this should be folded in there per se, but at the very least it's an interesting example to look at.

[2018-04-15 12:32] tschottdorf commented on #24795
Also, the drop test verifies space reclamation, though only after a `DROP TABLE`, which under the hood is different from the rebalancing case.

[2018-04-15 13:03] jordanlewis commented on #24173
@kierenj it'd be great if you could start your app and get a log of all the metadata queries that get sent to the database. That usually helps narrow things down. You can start cockroach with `--vmodule=conn_executor=2 --logtostderr` to see lots of detail in `stderr` about what's going on with the client connection, what's being sent, etc.

[2018-04-15 14:04] cockroach-teamcity commented on #24666
SHA: https://github.com/cockroachdb/cockroach/commits/078511d36efba88c1d55d09b93a66484eecd8f8c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=604859&tab=buildLog

[2018-04-15 14:12] kierenj commented on #24173
Ok cool, here we are.  Note that I'm pretty much following https://www.cockroachlabs.com/docs/stable/start-a-local-cluster-in-docker.html#os-windows, though only 2 nodes, called `repro1` and `repro2`.

[code]

[2018-04-15 14:25] jordanlewis commented on #24173
Yeah, I still don't get it. Running that query against CockroachDB and against Postgres produces identical results for the bool row.

I also doubt that it has to do with the wire protocol. Things like this are usually caused by subtle catalog entry differences, or faulty assumptions on the driver side. CockroachDB doesn't guarantee that all catalog OIDs are the same as Postgres for most of these v

[2018-04-15 14:48] tschottdorf commented on #24666
[code]

Test flake, introduced in #22767 which introduces a five second sleep in that code path on `(Store).SetDraining` to wait for leases to transfer away. Putting a random 5s sleep in the quit pah is awkward. We should do better.

[2018-04-15 14:48] kierenj commented on #24173
Ah, thanks.  I may try to do just that.  Really keen on getting my all-kube megademo going ;)

[2018-04-15 15:57] roji commented on #24173
Note that Npgsql doesn't actually care what type OID is exposed, it looks for the type name (`bool`) and loads the OID from that.

[2018-04-15 17:00] knz commented on #24560
@benesch found this:

https://www.postgresql.org/docs/current/static/sql-select.html

[2018-04-15 17:46] cockroach-teamcity opened #24810 "teamcity: failed tests on master: acceptance/TestVersionUpgrade"
The following tests appear to have failed:

[#605013](https://teamcity.cockroachdb.com/viewLog.html?buildId=605013):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-15 18:11] knz commented on #24598
All 2.0-critical issues now have PRs. The relevant PRs will be cherry-picked to 2.0.x. The remaining items can be addressed for 2.1.

[2018-04-15 19:49] cockroach-teamcity opened #24814 "teamcity: failed tests on master: acceptance/TestGossipRestart"
The following tests appear to have failed:

[#605078](https://teamcity.cockroachdb.com/viewLog.html?buildId=605078):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-15 19:54] gshirishfree commented on #17215
Hi there I want to learn about cockroach db and this seems to be good issue to start. Can someone assign this to me ?

[2018-04-16 03:39] #24774 closed

[2018-04-16 03:45] Tungtono commented on #15441
Hey folks, TablePlus released its official support for CockroachDB the same time with CockroachDB 2.0. Go have a look: https://tableplus.io
Github issue: https://github.com/TablePlus/TablePlus/issues/374

[2018-04-16 04:33] #24475 closed

[2018-04-16 07:40] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=605545&tab=buildLog

[2018-04-16 07:40] cockroach-teamcity commented on #24723
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=605545&tab=buildLog

[2018-04-16 09:14] garvitjuniwal opened #24818 "roachtest: test locality awareness"
Cockroach uses the `--locality` flag as a factor in replica placement. The general idea is that replicas of a range should have high locality diversity, one advantage of which is that a cluster can tolerate complete locality failures. We should test the following:

- Setup an 8 node cluster with 4 localities, 2 nodes in each. The cluster should use the default 3-way replication.
- Run some load on

[2018-04-16 10:12] roji commented on #24173
@kierenj this is definitely not normal and explains the errors you're seeing. I'd suggest a Wireshark session to look at exactly what's going back and forth between Npgsql and Cockroach. My guess is that some incompatibility between Cockroach and npgsql's type loading query is causing the empty results (probably one of the joins).

The best way to isolate this is simply to get the type loading que

[2018-04-16 10:16] kierenj commented on #24173
@roji cool. I ran the query by pasting it in and it seemed to give good results (via the text interface cockroachdb provides).  The differences would be that 1) I'm using that text interface and 2) `LoadBackendTypes` issues 3 statements in a single batch.

I'm not sure if Wireshark will work to intercept traffic going into a docker container, but I'll see what I can do.  ( @jordanlewis if there's

[2018-04-16 10:27] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=605893&tab=buildLog

[2018-04-16 10:27] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=605893&tab=buildLog

[2018-04-16 11:45] vijaykarthik-rubrik opened #24820 "roachtest: monotonic clock on restart"
Cockroach has 2 settings `server.clock.forward_jump_check_enabled` and `server.clock.persist_upper_bound_interval` to add some extra protection against clock jumps. We should test the following:

* With `server.clock.forward_jump_check_enabled` set to false (or unset)
  * A node should not crash on backward jumps
  * A single node cluster should not crash on forward jumps.
* With `server.clock.for

[2018-04-16 11:51] kierenj commented on #24173
Ok, I have a pcap file :) https://www.dropbox.com/s/rfqhyerdnzqbreq/issue-24173.pcap?dl=0

In Wireshark, packet number 48 seems to be the query heading in.

Hex dump of the TCP convo:

[code]

[2018-04-16 12:29] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=606168&tab=buildLog

[2018-04-16 12:29] cockroach-teamcity commented on #24662
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=606168&tab=buildLog

[2018-04-16 12:29] cockroach-teamcity commented on #24663
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=606168&tab=buildLog

[2018-04-16 13:02] cockroach-teamcity opened #24821 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#605241](https://teamcity.cockroachdb.com/viewLog.html?buildId=605241):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-16 13:47] petermattis commented on #24805
Per offline comments, the current structure is due to #17097. See also #22444 and #20568.

[2018-04-16 13:57] petermattis commented on #15299
@knz for triage.

[2018-04-16 13:58] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=606412&tab=buildLog

[2018-04-16 13:58] cockroach-teamcity commented on #24662
SHA: https://github.com/cockroachdb/cockroach/commits/567dd47d04b3db23476a6ee70a0813b8d3123d6a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=606412&tab=buildLog

[2018-04-16 13:59] yaojingguo opened #24822 "engine: implementation of unused RocksDB API"
[slice_transform.h](https://github.com/cockroachdb/rocksdb/blob/0edac964ca804c97c69ef18123b5e82d1b57e19e/include/rocksdb/slice_transform.h#L61) says:
[code]
So I think that the following code in [options.cc](https://github.com/cockroachdb/cockroach/blob/master/c-deps/libroach/options.cc#L44) should be removed:

[code]

[2018-04-16 14:34] jordanlewis commented on #24173
Thanks! It sure looks like nothing's coming back from the server. Is there any way you could make a small proof of concept app that demonstrates this behavior that I could play around with myself?

Someone made an attempt here https://github.com/cockroachdb/cockroach/issues/24172, but I couldn't observe the issue using that sample.

[2018-04-16 14:50] vivekmenezes commented on #24627
https://github.com/cockroachdb/docs/pull/2900

[2018-04-16 14:58] vivekmenezes commented on #24762
I think the best way to move forward on this issue is to retry the deletion of data after the TTL interval and separately install a watcher for zone config changes. Essentially move from a polling mechanism that is wasteful to an event driven mechanism. Will be working on this.

[2018-04-16 15:16] bdarnell commented on #24788
Reopening this to track the need to improve the error messages. We should get the underlying failure ("connection refused" in this case. Other possibilities include cert errors, timeouts, etc) instead of GRPC's unhelpful "all SubConns are in TransientFailure"

[2018-04-16 15:17] nvanbenschoten commented on #24762
It sounds to me like both issues are the same. We currently don't handle systems with a huge number of table descriptors very well because we push them all through gossip. This is exacerbated by MVCC, which holds on to deleted descriptors for 24 hours by default. Even though these descriptors are marked as deleted, they still slow down MVCC scans, which is where the profiles indicate a slowdown is

[2018-04-16 15:47] danhhz commented on #24791
Hi @vivinjoy. CockroachDB is designed to survive disasters without sacrificing availability or consistency. If your cluster has nodes in 3 datacenters (and the [localities](https://www.cockroachlabs.com/docs/stable/start-a-node.html#locality) are set), then CockroachDB will survive losing a datacenter. Ditto for "regions" or "availability zones" if you're based in the cloud.

[2018-04-16 15:56] jakob opened #24828 "LIKE operator does not work correctly with backslashes"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**.

[code]

2. Please describe the issue you observed:

- What did you do?

`select '\' like '\\%', '\' like '%\\', '\' like '%\\%';`

- What did you expect to see?

[code]
- What did you see instead?

[code]

[2018-04-16 16:01] vivekmenezes commented on #24785
I can confirm that this problem is not on 2.0

[2018-04-16 16:04] danhhz commented on #24828
@nvanbenschoten your name is most of the git blame for the LIKE impl. Can you triage this?

[2018-04-16 16:08] andreimatei commented on #24138
This just happened to me on TC.

@bdarnell , do you want to triage it?

The test failure message: `zchaos_test.go:152: pq: initial connection heartbeat failed: rpc error: code = Unavailable desc = all SubConns are in TransientFailure`

The only thing I see in the logs is
[code]

And keep in mind that this is happening on the 2.0 branch too.

[2018-04-16 16:08] andreimatei commented on #24256
#24138

[2018-04-16 16:08] #24256 closed

[2018-04-16 16:09] andreimatei commented on #24563
#24138

[2018-04-16 16:09] #24563 closed

[2018-04-16 16:12] andreimatei opened #24829 "acceptance: unknown setting 'cluster.secret'"
A perhaps unrelated test failure in #24138 show what I believe to be a migration failing with:
`setting "cluster.secret" to "376d2939-2bbd-477c-97f3-88f4aed00d14" failed: unknown setting 'cluster.secret'`

Is this expected?

[2018-04-16 16:40] petermattis commented on #24822
I agree that this looks like detritus.

[2018-04-16 17:35] nvanbenschoten commented on #24828
@windchan7 want to take a look at this? This was recently re-written in https://github.com/cockroachdb/cockroach/pull/20600 and there's a chance something was missed.

[2018-04-16 18:31] andreimatei commented on #24138
Here's a more recent failure with logs:
https://teamcity.cockroachdb.com/viewLog.html?buildId=606740&buildTypeId=Cockroach_UnitTests&tab=artifacts

[2018-04-16 18:41] BramGruneir commented on #8473
@dianasaur323, assigning this to you as I haven't been involved with in a long time.

[2018-04-16 18:42] bdarnell commented on #24138
But that doesn't include logs from the acceptance tests.

[2018-04-16 18:52] bdarnell commented on #24801
#20492

[2018-04-16 18:52] #24801 closed

[2018-04-16 18:59] kierenj commented on #24173
Ok - this does it for me.  I made it as minimal as possible (1 code file with 2 lines of code, 1 project file with 1 dependency) :)

https://github.com/kierenj/cockroach-24173-repro

Is there anything else I can provide?

[2018-04-16 19:00] danhhz opened #24837 "release: v2.0.1"
Candidate SHA: c92bc6e912880c28c0784d3208583fb27f482f76
Deployment status: adriatic/omega [suite](https://teamcity.cockroachdb.com/viewLog.html?buildId=607310)

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: 2018-04-16
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
-

[2018-04-16 19:02] #23734 closed

[2018-04-16 19:02] #24702 closed

[2018-04-16 19:06] andreimatei commented on #24138
Hmmm yeah...
Let's pull in people who know how the beast works. Maybe @benesch and @jordanlewis. How does one find logs for a failed acceptance test? There's only a message from `log_scope.go` pointing to a file on the agent.

[2018-04-16 19:10] awoods187 commented on #24759
Navicat will largely work without this item.

[2018-04-16 19:11] koalalorenzo opened #24838 "sql: Golang GORM not creating the db."
**BUG REPORT**
- What did you do?
I have decided to migrate from postgresql to cockroachdb, as according to the documentation (https://www.cockroachlabs.com/docs/stable/build-a-go-app-with-cockroachdb-gorm.html) it should be compatible.

As there is an issue open https://github.com/jinzhu/gorm/issues/740 since 2015, and as there is a PR that was closed to have some support from CockroachDB, I gues

[2018-04-16 19:13] danhhz commented on #24838
@jordanlewis can you triage this please?

[2018-04-16 19:15] vivekmenezes commented on #24785
@gpaul would you like us to figure out what the problem with 1.1 is regarding this issue or are you comfortable that it's not an issue in 2.0+ ? Thanks!

[2018-04-16 19:26] vilterp commented on #24787
Hey @james-weitzman, did you kill or decommission node 5 before taking this screenshot? (I assume this was going through the steps in training, but which step in particular were you at at this point?)

[2018-04-16 19:36] gpaul commented on #24785
Responded in DM

[2018-04-16 19:36] jgehrcke commented on #24785
Hey @vivekmenezes! We would certainly appreciate to have this issue addressed in the 1.1 release branch as soon as possible. Given the number of issues we ran into in the 1.0 and 1.1 branches we are not comfortable updating to 2.0 just like that -- it appears to be an entirely new thing and it will take us a while to build up trust in its reliability.

For now, we would like to continue to use 1.1

[2018-04-16 19:38] vivekmenezes commented on #24785
@andreimatei assigning to you as the sql executor guru

[2018-04-16 19:43] couchand commented on #24767
The underlying issue here is simply that the "Non-Table Cluster Data" table is incomplete.  There are seven ranges of non-table cluster data, but only the one time series range is listed here.  We should add entries for other types of non-table data; this was briefly discussed in #22398 but no action was taken other than reserving the opportunity.

As an aside, there are also four ranges for table

[2018-04-16 19:43] #24627 closed

[2018-04-16 19:47] vilterp commented on #24775
Thanks for the report. I think most devs here don't ever have the UI open for that long, so we may have missed this. Will try to repro.

[2018-04-16 19:48] benesch commented on #24138
Yeah, click the artifacts tab on the build and you should be able to find
that file. At pgconf but can walk you through it if you’re still in the
office when we get back.

On Mon, Apr 16, 2018 at 3:06 PM Andrei Matei <notifications@github.com>
wrote:

[2018-04-16 19:52] dt opened #24841 "parser: round-trip testing of `FmtParsable` and `ParseStringAs`"
We rely on `FmtParsable` to encode datums as a strings for CSV EXPORT, dump, etc. It is therefore very important that it round-trip with `ParseStringAs`. We should test that for every datum type -- with the additional constraint that the produced string have no non-ASCII code points.

[2018-04-16 19:53] dt commented on #24841
One more concern here is that we'd also like to remain compatible with postgres-generated strings, at least in `ParseStringAs`. In particular this applies to encoding for `bytea`.

[2018-04-16 20:05] #18795 closed

[2018-04-16 20:59] couchand opened #24844 "ui: node list on narrow screen overflows without scroll"
On a narrow enough screen (less than about 1100px in my inital test) the node list overflows its container on the overview page.  Unfortunately, the page is not horizontally scrollable, so the overflowing part of the table is just lost forever.

<img width="822" alt="screen shot 2018-04-16 at 4 58 44 pm" src="https://user-images.githubusercontent.com/793969/38834788-755c45da-4197-11e8-9df3-96d35c5

[2018-04-16 20:59] #24169 closed

[2018-04-16 21:16] vilterp commented on #24844
Note from IRL convo with @couchand: we may want to enable horizontal scrolling here, but that'd be weird, since horizontal would be internal scrolling (within the div containing the table) and horizontal would be whole-page scrolling.

In general, we should choose one or the other: either scroll the whole page horizontally and vertically, or scroll an internal div horizontally and vertically, but

[2018-04-16 21:29] techknowlogick opened #24846 "sql: implement the column `numeric_precision_radix` in `information_schema.columns`"
As documented here: https://www.postgresql.org/docs/10/static/infoschema-columns.html

This is used by go-xorm and go-gitea, for example using the following query:

[code]

Linked GH Issues:
go-gitea/gitea#3765
go-xorm/xorm#802

[2018-04-16 21:40] vilterp opened #24847 "sql: each database has an empty range"
*Repro:*

- `select * from crdb_internal.ranges`; see what ranges exist
- Create a database
- `select * from crdb_internal.ranges` again

*Expected:*

I don't see a new range until I create tables in the database.

*Actual:*

See a new range with the descriptor id of the database (can verify that it's the database descriptor id by creating some tables and seeing that it's their parent id).

Is the

[2018-04-16 21:41] vilterp commented on #24767
Maybe (some of) the ghost ranges are because each database has an empty range (see #24847)

[2018-04-16 21:46] knz commented on #24846
Unfortunately the column `numeric_precision_radix` is implemented for `information_schema.sequences` but not `information_schema.columns` which your query is using. This is why the query fails.

Arguably we should add it. I'll alter the description of the issue accordingly.

[2018-04-16 21:50] bdarnell commented on #24847
The code that automatically splits at ID boundaries doesn't know whether those IDs belong to tables or databases, so it just splits everything (up to the highest known ID). The extra range per database is not ideal but is probably not worth the extra complexity to prevent.

[2018-04-16 21:50] knz commented on #24846
cc @awoods187 for prioritization.
XOrm ( http://xorm.io/ ) is an ORM for Go.

[2018-04-16 21:51] knz commented on #24846
@techknowlogick There is a possible workaround though. In CockroachDB the only type that uses the radix 10 is `decimal` (also called `numeric`) and every other type uses radix 2. Is there any way you can use a CASE expression to determine this in your query instead of using `numeric_precision_radix`?

[2018-04-16 21:54] couchand commented on #24767
Oh, I figured it out,but I didn't follow up here.  The four extra ranges are for the table descriptors 17, 18, 19, and 22 (a.k.a. `MetaRangesID`, `SystemRangesID`, `TimeseriesRangesID`, and `LivenessRangesID` in `pkg/keys`).  The descriptors are allocated to support zone configs for these types of system data (see #14740).  The ranges are automatically split for them, even though no data is ever r

[2018-04-16 21:55] couchand commented on #24767
The other ranges not accounted for (besides those four I mentioned above) are all legitimately storing non-table, non-timeseries cluster data, and we should just add accounting for them to the "Non-Table Cluster Data" table.

[2018-04-16 22:01] vilterp commented on #24847
Okey doke. Where is the splitting code btw? Haven't been able to track it down in the past.

Closing since we're not gonna change this.

[2018-04-16 22:01] #24847 closed

[2018-04-16 22:02] bdarnell commented on #24847
https://github.com/cockroachdb/cockroach/blob/eb569ba0c91099a0c8ab5890691383c692d58dbe/pkg/config/system.go#L238-L246

[2018-04-16 22:03] a-robinson commented on #24767
As mentioned on chat earlier, in clusters where users have dropped tables, all the dropped tables ranges also get left around (although a lot less will get left around after the work on https://github.com/cockroachdb/cockroach/issues/2433 is done).

[2018-04-16 23:07] techknowlogick commented on #24846
Thanks @knz.

I've been creating test tables in both postgres (specifically 9.6) and cockroachDB (v2.0), and found your assumption to likely be correct (but this was done very unscientifically and still needs more rigid confirmation).

Going forward with that assumption I've come up with the following CASE that I'll try with XOrm, and I'll run it through its tests.
[code]

Then of course when this

[2018-04-16 23:11] vilterp opened #24853 "server: ReplicaMatrix endpoint errors after a database has dropped"
*repro*

- create a database
- drop it
- hit the replica matrix endpoint

*expected*

- dropped db either doesn't show up, or is marked as dropped

*actual*

- endpoint errors, with message `relation [<db id>].<table> doesn't exist` in the log.

This is because when you do a `DROP DATABASE CASCADE`, the database's tables still show up in `crdb_internal.tables`, but with `[<db id>]` as the database

[2018-04-16 23:24] nvanbenschoten opened #24854 "storage: can a Snapshot remove the Raft HardState permanently?"
[`replica.applySnapshot`](https://github.com/cockroachdb/cockroach/blob/220b62e3e4a7d076f197a1d6df973e748c4e75c4/pkg/storage/replica_raftstorage.go#L673) claims that the HardState parameter it takes:

If this is truly the case then I'm having trouble convincing myself that we don't have a bug. `applySnapshot` first [deletes all](https://github.com/cockroachdb/cockroach/blob/220b62e3e4a7d076f197a1d

[2018-04-16 23:25] josueeee commented on #24844
+1 on "scroll an internal div horizontally and vertically, but have the whole-page layout be fixed"

[2018-04-16 23:40] tschottdorf commented on #24854
Looks like we dodged a bullet? I agree that it looks like we're handling the empty HardState incorrectly and that Raft wouldn't ask us to apply such a snapshot. I'm pretty sure that when I wrote [this comment](https://github.com/cockroachdb/cockroach/blame/220b62e3e4a7d076f197a1d6df973e748c4e75c4/pkg/storage/replica_raftstorage.go#L844) I was only afraid that Raft might emit such a HardState, but

[2018-04-16 23:43] tschottdorf commented on #24025
Assuming this isn't just a disk corruption problem, this looks like we're writing down an SSTable for a log entry `(term,index)` (`(6,17)` in this crash) but then don't actually commit that entry. Instead, another log entry is proposed (at that position). The reason I suspect that is because at the level of the sideloaded storage we use a [PutIfNotExists](https://github.com/cockroachdb/cockroach/b

[2018-04-16 23:44] tschottdorf commented on #22956
@m-schneider the drop roachtest is still failing most nights. I think you're already taking a look, but now we have an issue for it.

[2018-04-17 00:06] nvanbenschoten commented on #24854
Yes, that's what I was thinking. Adding in logic that won't be exercised seems like a generally bad idea.

[2018-04-17 00:08] tschottdorf commented on #24854
👍

[2018-04-17 00:14] #24481 closed

[2018-04-17 00:30] nvanbenschoten commented on #24025
That's a good point. A Raft leader should ever re-use the same index within the same term, although perhaps we're dealing with a case where the old term was not persisted by the time the node crashed and it was able to come back up and campaign again for the same term. This would certainly not be a possibility if an entry had been committed at that term as that would imply that the term had been p

[2018-04-17 01:00] tschottdorf commented on #24025
We put the file down before we commit the batch that persists the log, which must somehow be opening up this race. I think this could happen as follows:

1. node 1 has lease and raft leader for range X
1. AddSSTable gets proposed, SSTable is sideloaded, but process is killed before even appending it to the log locally.
1. node restarts quickly enough to retain raft leadership, but it loses its lea

[2018-04-17 02:24] itamarjp opened #24857 "build: standardize tar.gz releases"
when I unpack v2.1.0-alpha.20180416.tar.gz I see cockroach-2.1.0-alpha.20180416

in my opinion the tarball should be named, cockroach-2.1.0-alpha.20180416.tar.gz , please think about.

this tarball seems a bit better than older one with src/github.com/cockroachdb/cockroach tree.

[2018-04-17 02:51] #24828 closed

[2018-04-17 02:56] itamarjp commented on #24857
for some reason the stuff inside c-deps in tarball  are empty
./snappy
./googletest
./rocksdb
./jemalloc
./protobuf
./cryptopp

[2018-04-17 03:18] cockroach-teamcity opened #24858 "teamcity: failed tests on master: acceptance/TestGossipRestart"
The following tests appear to have failed:

[#607597](https://teamcity.cockroachdb.com/viewLog.html?buildId=607597):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-17 05:44] koalalorenzo commented on #24838
Do we have an ETA for this?

[2018-04-17 06:17] Nishant9 commented on #20713
Is someone working on this issue? I wanted to work on #16489 , but seems like it would be better to start on that after this is done.

[2018-04-17 07:39] cockroach-teamcity commented on #24661
SHA: https://github.com/cockroachdb/cockroach/commits/dc7e69c1c647b08759a7560e2f07e0213c4980d1

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=607910&tab=buildLog

[2018-04-17 07:39] cockroach-teamcity commented on #24662
SHA: https://github.com/cockroachdb/cockroach/commits/dc7e69c1c647b08759a7560e2f07e0213c4980d1

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=607910&tab=buildLog

[2018-04-17 07:39] cockroach-teamcity commented on #24663
SHA: https://github.com/cockroachdb/cockroach/commits/dc7e69c1c647b08759a7560e2f07e0213c4980d1

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=607910&tab=buildLog

[2018-04-17 08:28] #24661 closed

[2018-04-17 08:28] #24662 closed

[2018-04-17 08:28] #24663 closed

[2018-04-17 08:28] #24722 closed

[2018-04-17 08:28] #24723 closed

[2018-04-17 09:04] cockroach-teamcity opened #24861 "teamcity: failed tests on master: acceptance/TestNodeRestart"
The following tests appear to have failed:

[#608874](https://teamcity.cockroachdb.com/viewLog.html?buildId=608874):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-17 10:27] tschottdorf commented on #20713
@Nishant9 I think this is currently waiting for takers! What's left to do here is to use the `crdb_internal.gossip_*` and `crdb_internal.kv_*` tables to populate the output of the `node {status,ls}` commands (instead of hitting the API endpoints that they hit now). (And a final audit to see that there's nothing else that I missed). Let me know if I can provide additional information.

[2018-04-17 10:44] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/8d7113fc963925b155246142faaf6de698d3c7d0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=608249&tab=buildLog

[2018-04-17 10:44] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/8d7113fc963925b155246142faaf6de698d3c7d0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=608249&tab=buildLog

[2018-04-17 10:46] tschottdorf commented on #24861
@bdarnell this is another one for #24835.

[2018-04-17 11:02] mani-minmini commented on #5981
czxczxczxc

[2018-04-17 12:53] knz commented on #24748
Arguably the error should be reported to the client immediately, instead of only during the asynchronous processing of the change. If the user does not wish to upgrade immediately, they won't know directly what to do to resolve the errors.

[2018-04-17 13:26] james-weitzman commented on #24787
Hey @vilterp, I did kill node 5 before taking the screenshot - @benesch & I found this bug during training. I believe it was here: https://www.cockroachlabs.com/docs/stable/training/fault-tolerance-and-automated-repair.html (but could be wrong)

[2018-04-17 13:36] petermattis commented on #24822
@yaojingguo Yes. Thank you.

[2018-04-17 13:37] couchand commented on #24844
Just on this one page?

[2018-04-17 13:54] danhhz commented on #24857
Hey @benesch I don't know much about the source tarball. Is this how the c-deps stuff is expected to look?

[2018-04-17 13:56] benesch commented on #24857
It sounds pretty broken. The verify-archive TeamCity job keeps a pretty
close eye on the source tarball though so not sure what’s gone wrong. I can
look into it more later today.

On Tue, Apr 17, 2018 at 9:55 AM Daniel Harrison <notifications@github.com>
wrote:

[2018-04-17 13:58] mberhault commented on #24857
I think the tarball in question here is the one from the [github releases](https://github.com/cockroachdb/cockroach/releases) page. We don't control those, everyone should be using the [official images](https://www.cockroachlabs.com/docs/releases/#testing-releases) instead.

[2018-04-17 14:04] knz opened #24866 "sql: support lightweight composite types for in-flight values"
Forked off #24832.
Needed for #16971.

The PostgreSQL type system supports "composite types" which are really just tuples of values where the arity is constant (same for every row) and each column in the tuple has a static label (same for every row).

They show up mainly as follows.

### Reification of tables as composite values

If an identifier in a *scalar expression* refers to one of the *rela

[2018-04-17 14:08] mberhault commented on #24857
Confirmed, the github release is a bit odd:
* the name and link say `v2.1.0-alpha.20180416.tar.gz`, but the actual file downloaded is `cockroach-2.1.0-alpha.20180416.tar.gz` (it extracts in the expected `cockroach-2.1.0-alpha.20180416`)
* all submoduled c-deps subdirectories are empty. pretty sure there's nothing we can do about that.

Unfortunately, github insists on automatically making a "relea

[2018-04-17 14:15] m-schneider commented on #17198
I was able to reproduce this by running a cluster built from a commit in July, running KV and a cron job that changed zone configs every 10 minutes to make sure rebalancing was constantly happening. It wasn't reproducable on master. Then I tested a commit before and after #19353 and it looks like that PR fixed this issue as well.

[2018-04-17 14:15] #17198 closed

[2018-04-17 14:16] knz commented on #24866
cc @justinj @rytaft

[2018-04-17 14:32] kaavee315 commented on #24795
@a-robinson, We are planning to work on this issue, is anybody actively working on #24278 ? Thanks @tschottdorf , will peek into these tests. Is there a load that has a steady number of inserts and deletes, which I can use and that survive with a cluster with high disk usage with low TTL?

[2018-04-17 14:37] a-robinson commented on #24795
Thanks for the update, @kaavee315. I'm not currently working on #24278.

[2018-04-17 14:38] danhhz commented on #24659
Closed by #24691 but I messed up the auto-close message

[2018-04-17 14:38] #24659 closed

[2018-04-17 14:50] gpaul commented on #24785
This does not appear to affect v1.0.6

[2018-04-17 14:56] gpaul commented on #24785
It also affects v1.1.4

[2018-04-17 15:32] tlvenn opened #24872 "sql: weird behaviour with age date functions"
I am playing with the date's age functions and something weird is happening.
The doc states the following:

<img width="751" alt="crdb_age" src="https://user-images.githubusercontent.com/3340262/38879600-52a1676e-4296-11e8-9774-1d5e2977b782.png">

So I would expect those 2 statements to be equivalent:
1) `select age(now() - interval '1 month', now());`
2) `select age(now() - interval '1 month');`

[2018-04-17 15:38] nvanbenschoten commented on #24872
@tlvenn reading over this issue, it looked to me like we had a bug. However, I just confirmed that this is the correct behavior and that `age(timestamp1, timestamp2)` is meant to subtract the second timestamp from the first. See https://www.postgresql.org/docs/10/static/functions-datetime.html.

I think the confusion may be due to poorly named arguments. cc. @knz

[2018-04-17 15:38] bdarnell commented on #24861
Closing as dupe of #24138

[2018-04-17 15:38] #24861 closed

[2018-04-17 15:38] knz commented on #24872
@tlvenn I just checked and postgres has the same behavior. The problem is the documentation for this function.

[2018-04-17 15:42] rahul4talk commented on #24759
Hi @knz @awoods187 I can start working on this..if it's not being worked upon already...

[2018-04-17 15:52] nvanbenschoten commented on #24025
That requires some careful timing, but it all seems plausible to me. @dt is this reproducible?

[2018-04-17 15:53] tlvenn commented on #24872
Thanks for the confirmation @knz, I suspected as much.
So the doc should probably say:
`Calculates the interval between the current time and val`.

[2018-04-17 16:24] jseldess opened #24873 "sql: support ENUM types"
Special case of  #25123.

**Feature request:** Postgres supports `ENUM` types for defining columns that can contain only a given set of values. CockroachDB should, too.

https://www.postgresql.org/docs/10/static/datatype-enum.html

Special note:

[2018-04-17 16:49] bdarnell commented on #24025
This shouldn't happen. Nodes always persist the term when casting votes, and increment their term when starting a campaign, so it's not possible to ever have two leaders of the same term (even if the log entries the first leader proposed were never committed), or for a previous leader to resume its old term after a restart.

[2018-04-17 16:50] BramGruneir commented on #24866
This is an excellent summary  Thanks so much for writing this down.

[2018-04-17 17:09] knz commented on #24759
@rahul4talk feel free! Thank you!

[2018-04-17 17:10] danhhz commented on #24873
This would also be an important building block in query planning for some instances of partitioned tables. Some background on this at https://github.com/cockroachdb/cockroach/blob/2f2cb3af3df0bebf01bd2f0bb9c8329ad44229df/docs/RFCS/20170921_sql_partitioning.md#query-planning-changes

[2018-04-17 17:11] knz commented on #24873
cc @awoods187 for prioritization

[2018-04-17 17:17] vivekmenezes commented on #24578
closed by https://github.com/cockroachdb/cockroach/pull/23816

[2018-04-17 17:17] #24578 closed

[2018-04-17 17:18] vivekmenezes commented on #24578
cherry picking into 2.0

[2018-04-17 17:29] knz commented on #20511
(Paraphrasing the SO post)

Multiple SRFs in the same scalar expression/ should be migrated to a _single_ join operand in the FROM clause, that zip the values togethers into a single table (filling with NULLs where some SRFs produce fewer rows than others).

pg supports this with a special lateral join called `LATERAL ROWS FROM (...)` (it's not really a join).

[2018-04-17 17:29] vilterp commented on #24787
Ok, I think this is a dup of #23480. @couchand can confirm.

[2018-04-17 17:29] #24787 closed

[2018-04-17 17:30] jordanlewis opened #24875 "sql: speed-of-light benchmark for lower-level projections"
- less copies between C++ memory and Go - how much does that help?
- less deserialization from bytes into `roachpb.KeyValue` - how much does that help?
- what's the quickest we can read just one column or column family out of many?
- compare speed between an MVCCScan that retrieves 2 needed and 8 unneeded columns vs 2 needed and 0 unneeded columns

[2018-04-17 17:44] andreimatei commented on #24785
smaller repro on 1.1 in our logictest language:
[code]

[2018-04-17 17:49] a-robinson commented on #17370
I ran a few experiments today comparing cockroachdb at its current head (e7d98d09cc5df5f1c2f70a8003076378a5d088c5) using 3 different rpc implementations -- grpc 1.9.2 (the default for us right now), the tip of the grpc repo (https://github.com/grpc/grpc-go/commit/5d8897144f741c0358f5f194503db84142d0a985), and @petermattis's old crpc implementation from https://github.com/cockroachdb/cockroach/pull

[2018-04-17 17:55] andreimatei commented on #24785
The issue is that, even after the `ROLLBACK TO SAVEPOINT`, we keep inserting into the wrong table (the one created before the `ROLLBACK`).
Investigating...

[2018-04-17 18:12] andreimatei commented on #24785
Even smaller repro; the following commits just fine and leaves a dangling row.
[code]

I believe the problem is with the logic for resolving "uncommitted" tables - in 1.1 we didn't reset a session set of uncommitted tables on transaction restart. Should have a fix soon.

[2018-04-17 18:18] nicolasparada commented on #24144
Same here. It started with 2.0.

[2018-04-17 18:30] itamarjp opened #24878 "build: cockroach fails to build on other archs, only build on x86-64"
please take a look in the builds.log

https://copr.fedorainfracloud.org/coprs/itamarjp/cockroach/build/742148/

same build in fedora koji,

https://koji.fedoraproject.org/koji/taskinfo?taskID=26426138

I think should be interesting for cockroach to setup a github webhook to automatically lanch builds on copr.

[2018-04-17 18:44] danhhz commented on #24878
Hi, thanks for the suggestion! Unfortunately, we don't offer official support for other architectures at this time. We do have a best-effort ARM build that one of our engineers maintains; if you'd like to do something like that, we're always accepting PRs!

[2018-04-17 18:44] bobvawter commented on #5950
Working on an RFC to support changing a column type: https://github.com/cockroachdb/cockroach/pull/24703

[2018-04-17 18:46] petermattis commented on #17370
@a-robinson Interesting. Thanks for the updated numbers. The improvement to p99 latencies at higher concurrency is significant.

[2018-04-17 19:13] tschottdorf opened #24881 "engine: extend time bounded iterator stats for use in CDC"
To get an estimate of how much data we're reading vs skipping.

We already know the number of SSTs touched. The table properties have information on the size of the SSTs, which is a good start. We can track the size of SSTs touched and that of the SSTs skipped (hoping that the ratio will be small).

When needed, we can try to get fancier by tracking how many keys are actually read vs. skipped. Thi

[2018-04-17 19:16] couchand opened #24882 "ui: overflowing node list is missing right padding"
From #24849.

there's margin on the left: ![image](https://user-images.githubusercontent.com/7341/38887805-d2e06690-4247-11e8-89d7-c44a8951e57d.png) but not the right: ![image](https://user-images.githubusercontent.com/7341/38887795-cd9bf032-4247-11e8-95ab-1a9224579e6c.png)

[2018-04-17 19:42] nvanbenschoten commented on #24025
Are you saying that the series of events hypothesized in https://github.com/cockroachdb/cockroach/issues/24025#issuecomment-381796110 can't happen, or just that what I said above can't happen?

I think the key to the latter hypothesis is that the SSTable was sideloaded before the term was persisted. The assumtion that relies on is that etcd/raft can propose new entries (at a new term) in the same

[2018-04-17 19:44] nvanbenschoten commented on #24025
Just edited the previous message. I had gotten that wrong.

[2018-04-17 19:49] bdarnell commented on #24025
In a multi-node cluster, a new leader always persists its new term when it transitions to StateCandidate, and it cannot propose any new log entries until it has transitioned to StateLeader (which is always a separate operation). So I don't see any way this could happen today unless it happens while the range is in a single-node state.

(Note that in abstract raft, it is permissible for the node to

[2018-04-17 19:49] bpot commented on #24456
taking a look at implementing this

[2018-04-17 19:54] knz commented on #20511
Note that there is yet another case, not covered by this issue:

[code]

Still unclear to me what this does. But it does _not_ appear to use the general lateral join with the set projection that the side-by-side SRFs use.

[2018-04-17 20:05] benesch commented on #20511
In that case you just unnest the SRFs into multiple joins:

[code]

[2018-04-17 20:07] MakMukhi commented on #17370
@a-robinson Thanks for running the numbers.
This recent effort was primarily about optimizing gRPC-Go in high-concurrency environment by reducing synchronization cost. Although, in our benchmarks we did see significant improvement in low-concurrency unary RPC scenarios.
We're glad that you could get 10-15% improvement on your application-level benchmarks.

Regarding cRPC:
Is it something that you

[2018-04-17 20:11] knz commented on #20511
"just". Humpf.

Thanks Nikhil for checking though. Consider this funny beast:

[code]

According to your rule and the one we found out earlier, does this gets translated to:

[code]

?

[2018-04-17 20:12] knz commented on #20511
Note: ROWS FROM (a,b,c) will create a single table with the "zip" of the generators a,b,c

[2018-04-17 20:13] andreimatei commented on #24785
Well, here's one... I can fix the "dangling row" bug, but while testing that I've found another issue that's also present at master. The following sequence deadlocks:
[code]
The reason why it deadlocks is that the `create` left an intent on something (probably a table name record); the intent will never commit because txn's epoch is incremented by the `rollback to savepoint`, but it still exists.

[2018-04-17 20:24] #23829 closed

[2018-04-17 20:24] #18523 closed

[2018-04-17 20:26] tschottdorf commented on #24025
Ok, much simpler theory: we write the SSTable in chunks. If we crash during that operation, we'll still get the log index, but we will never complete the SSTable and the checksum fails.

This seems a lot more plausible, and the fix is the same -- always write the file.

[2018-04-17 20:30] benesch commented on #20511
I think so! I had to rewrite your example like this to get it to work:

[code]

Your example also doesn't produce any data. It's more interesting with a bigger upper bound:

[code]

[2018-04-17 20:30] a-robinson commented on #17370
We aren't actively pursuing it, and don't have any short-term plans to flesh it out into a truly usable implementation. At this point it primarily serves to provide an estimate of how good performance could be if we were to make our rpc layer as fast as possible, which helps prioritize the importance of improving it.

This issue has grown beyond the initial optimizations mentioned to being more of

[2018-04-17 20:31] andreimatei opened #24885 "sql: rollback to savepoint after schema change can lead to deadlock"
The following deadlocks:
[code]
The reason why it deadlocks is that the create left an intent on something (probably a table name record); the intent will never commit because txn's epoch is incremented by the rollback to savepoint, but it still exists. The select then tries to resolve that name in order to get a lease on that table - and that name resolution process uses a different txn which get

[2018-04-17 20:33] dt commented on #24025
w.r.t reproduction -- i'm not sure if it still does. I was running a `RESTORE` of tpcc probably (I think I was doing `/bin/workload fixtures load tpcc --warehouses=1000` or similar) and then running `kill -9` on one of my nodes four nodes while trying to catch a different bug that had to do with the progress tracking. That's about all I recall though, sorry!

[2018-04-17 20:33] nvanbenschoten commented on #24025
I was just thinking about how difficult this will be to correctly time in a reproduction and came to the exact same conclusion! I'm going to try to test this out now. Thanks for the hypotheses 😃

[2018-04-17 20:38] bdarnell commented on #24025
Yeah, that seems likely. We could also do the write-to-temporary-and-rename dance to avoid ever writing the bad file, but then we'd have to make sure we cleaned up too.

[2018-04-17 20:41] knz commented on #20511
yeah ok. This is a hairy transform. I don't like it, although I fear we'll have to implement it eventually.

[2018-04-17 20:41] knz commented on #20511
thanks @benesch, props for figuring it out.

[2018-04-17 20:47] knz commented on #20511
@awoods187 we need to table that on the roadmap sometime. Perhaps it will slip to 2.2 (unless a free friday takes care of it)

[2018-04-17 20:47] knz commented on #20511
I'd say size M

[2018-04-17 20:48] vivekmenezes commented on #24885
A similar deadlock happens when you create a table in an open transaction and run some commands that require that schema in other transactions.

[2018-04-17 20:49] andreimatei commented on #24885
Note to self: #24888 added a test that (when ported to 2.0) can be simplified if we fix this issue.

[2018-04-17 20:49] MakMukhi commented on #17370
I believe, although cRPC gives a good lower bound on numbers, a comparison between cRPC and gRPC might not be fair. I say that because the very features that cRPC is missing (flow control, context cancellation propagation, chunking data into fixed-size frames, goaway handling etc.) have performance penalties that gRPC incurs.

Yes! If you guys can provide a  realistic application-level benchmark t

[2018-04-17 20:49] andreimatei commented on #24885
@vivekmenezes that's not a deadlock, is it? That's normal reader blocks for writer behavior.

[2018-04-17 20:58] vivekmenezes commented on #24885
@andreimatei yeah you're right that's just requests blocking on an uncommitted intent. Please add the test in #24888 to 2.0 so we don't regress on it. Thanks!

[2018-04-17 21:45] petermattis commented on #17370
Yeah, we're aware that the comparison between cRPC and gRPC isn't really fair, and we're aware that cRPC lacks a lot of features we'd need to switch to it, yet the comparison is informative. I'm still somewhat surprised that the addition of the functionality you mention (and others) has such a significant performance impact.

Ack. Not sure when we'd be able to provide this. An initial step would b

[2018-04-17 21:48] petermattis commented on #17370
PS @MakMukhi we're very appreciative of the performance improvements you've been making to gRPC. We're hoping we can put off doing anything on cRPC long enough for you to sufficiently close the performance gap so that we never have to do that work. 😄

[2018-04-17 22:03] #24814 closed

[2018-04-17 22:03] #24858 closed

[2018-04-17 22:06] nvanbenschoten commented on #24025
@dt I was just able to reproduce this fairly easily after setting `kv.bulk_sst.sync_size` to `16kb`. Checking now if the proposed fix works.

[2018-04-17 22:13] itamarjp commented on #24878
I think you should consider adding support for other arch's, in a short future you will start seeing alot of arm and risc-v servers, and fedora / rhel and centos will support all of them.

[2018-04-17 22:13] itamarjp commented on #24878
if you're interested in the github webhook to fedora copr, just tell me and I will provide you a spec file.

[2018-04-17 22:29] #24854 closed

[2018-04-17 23:11] #23669 closed

[2018-04-17 23:11] #24158 closed

[2018-04-17 23:11] #24844 closed

[2018-04-17 23:43] cockroach-teamcity opened #24892 "teamcity: failed tests on release-1.1: acceptance/TestBuildInfo: TestDockerC/Success/runMode=docker, acceptance/TestDockerC, acceptance/TestDockerC/Success, acceptance/TestBuildInfo: TestDockerC/Success/runMode=docker, acceptance/TestDockerC, acceptance/TestDockerC/Success"
The following tests appear to have failed:

[#609782](https://teamcity.cockroachdb.com/viewLog.html?buildId=609782):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-18 01:43] MakMukhi commented on #17370
Yeah that'll be a good start. If we get a good enough picture of the workload/scenario we can update `pinger` accordingly.
Thanks for the appreciation. I feel very optimistic about for gRPC's future.

[2018-04-18 01:46] tschottdorf commented on #24333
@dt this flake unfortunately has many many friends at this point and failed many a CI run, could you take a look or pass the buck to someone else?

[2018-04-18 02:01] tschottdorf opened #24894 "roachtest: post issues"
We run `roachtest` regularly on both master and `release-2.0`. A few tests are failing regularly, and with the expected growth in the number of tests this is unlikely to become better anytime soon.

roachtest failures should match the experience from our unit and acceptance testing in that they open issues for failed runs. This makes these failures visible to triage and assignable.

We do have not

[2018-04-18 02:02] #24822 closed

[2018-04-18 02:05] tschottdorf commented on #24279
Should also weave in a regression test for https://github.com/cockroachdb/cockroach/issues/24025 here. That is, kill nodes while an import is running.

[2018-04-18 02:14] tschottdorf commented on #24892
This is on 1.1, where it is *probably* expected. I know that this part of the code (opening ports/init command/etc) has seen work in 2.0 that wasn't backported.

[2018-04-18 02:59] #24025 closed

[2018-04-18 04:59] vilterp commented on #7682
FYI @piyush-singh this would be necessary for the per-table time series which are in our mockups. I think read/write counts would be especially valuable, so you can see what tables are "hot" and correlate that with CPU usage on each node.

Note that metrics are collected on a per-node basis and aggregated at query time (or not aggregated, if you so choose), so we'd be able to show a per-table, per

[2018-04-18 07:43] godofdream opened #24897 "sql: CREATE OR REPLACE VIEW"
**FEATURE REQUEST**
Postgresql supports CREATE OR REPLACE VIEW
(https://www.postgresql.org/docs/10/static/sql-createview.html)
Postgres limitates the replace view function to only add new columns.

CockroachDB could support this sqlstatement too, as it's very convenient way to replace views.
A Workaround would be dropping and creating a view in a transaction. (currently blocked by #12123)

Importa

[2018-04-18 07:49] jgehrcke commented on #24785
Thanks for the great work.

Does that mean it's present in 1.1.7 or only on master?

If it is present in 1.1.7: how likely are we going to run into that after the 'dangling row' fix?

[2018-04-18 08:52] cockroach-teamcity commented on #24717
SHA: https://github.com/cockroachdb/cockroach/commits/ecb4801f2d708dcc8e22379ed2c4fdb78b8bec7b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=610326&tab=buildLog

[2018-04-18 09:31] knz commented on #24569
@kalman5 thanks for your report! Apologies for the late reaction. We'll look into this.

Just to clarify, were you using one of our pre-built binaries or did you build CockroachDB yourself from source?

[2018-04-18 09:53] knz commented on #24396
This came up on Gitter recently.

[2018-04-18 10:06] lwsanty opened #24898 "kubernetes: on premise -> adjusting load-balancer for cockroach cluster"
kubernetes version 1.10.1

**summary**
I'm playing with insecure cockroach cluster running on bare metal kubernetes cluster according to this tutorial
https://www.cockroachlabs.com/docs/stable/orchestrate-cockroachdb-with-kubernetes-insecure.html

**aim** I want to add a load balancer

in tutorials I found only one manual way so far
https://www.cockroachlabs.com/docs/stable/deploy-cockroachdb-on-p

[2018-04-18 10:25] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/ecb4801f2d708dcc8e22379ed2c4fdb78b8bec7b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=610535&tab=buildLog

[2018-04-18 10:25] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/ecb4801f2d708dcc8e22379ed2c4fdb78b8bec7b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=610535&tab=buildLog

[2018-04-18 12:41] ThomasLohmann commented on #22298
@awoods187 and @knz any news on that issue?

Kind regards,
Thomas

[2018-04-18 12:43] bobvawter commented on #24898
You don't need to use HAProxy when you have Kubernetes; a `Service` that is configured as a `LoadBalancer` will do exactly what you want, without having to manage the mappings manually.

You can clone the `cockroach-public` service, calling it `cockroach-external` and setting `type: LoadBalancer` in the `spec`.

See this reference doc for more on setting up an LB:
  https://kubernetes.io/docs/conc

[2018-04-18 12:49] lwsanty commented on #24898
@bobvawter thank you for your response!
However I'm a bit confused with Service configured as `LoadBalancer`, because according to this [link](https://stackoverflow.com/questions/45079988/kubernetes-ingress-vs-load-balancer?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)
[code]
but i'm using k8s in bare metal environment and don't have any external balancers.

Please corr

[2018-04-18 12:50] knz commented on #22298
Hi Thomas!
We have solved a small proximate issue introduced in the 2.0 release, will be available in 2.0.1 or 2.0.2 (#24475).
The next main roadblock is the ability to change the type of an existing column with ALTER. We have initiated work on this feature (#24703); we are currently targeting the 2.1 release to publish this support, although you may have access to it in earlier alpha releases.

[2018-04-18 12:53] bobvawter commented on #24898
Ah, I see.  You can use a `type: NodePort` instead, will will make every one of the nodes in your k8s listen on some TCP port and forward connections inside the cluster where they need to go.  In essence, each node in your cluster becomes a load balancer.

https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport

The one minor issue is that you don't have control over which p

[2018-04-18 13:01] ThomasLohmann commented on #22298
Sounds good!

[2018-04-18 13:07] cockroach-teamcity opened #24901 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#609885](https://teamcity.cockroachdb.com/viewLog.html?buildId=609885):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-18 13:28] tschottdorf commented on #24666
Ugh, this test is a nightmare. I'll need some more time to untangle it.

[2018-04-18 13:34] #24432 closed

[2018-04-18 13:52] #24898 closed

[2018-04-18 14:01] bobvawter commented on #24898
Additional discussion at: https://gitter.im/cockroachdb/cockroach?at=5ad739c55d7286b43a40122f

[2018-04-18 14:01] robert-s-lee opened #24902 "ui: Automated way to identify skew in metrics"
feature request

**FEATURE REQUEST**

2. Please describe the feature you are requesting, as well as your proposed use case for this feature.

When all nodes in a cluster are participating, the database tends to perform well.  However, localized hot spots tend to materialize their effect with poor performance, un-even performance, instability ...

CockroachDB collects over 250 metrics per node.  Ea

[2018-04-18 14:10] jordanlewis commented on #24785
@andreimatei is this closed by #24888?

[2018-04-18 17:32] bdarnell commented on #24785
Yes. Only commits that get merged into master are scanned for `Fixes #...` lines.

[2018-04-18 17:33] danhhz commented on #24897
Assigning to @knz for triage

[2018-04-18 18:06] benesch opened #24907 "roachtest: test that partition ranges can split"
https://github.com/cockroachdb/cockroach/pull/24896 deserves a high-level roachtest.

[2018-04-18 18:18] mjibson opened #24908 "storageccl: correctly pin GCS dependency"
See #24880.

[2018-04-18 19:36] vilterp commented on #24894
How do we create GH issues for unit test runs currently? Is it a script that runs inside of TC, triggered by failed runs?

[2018-04-18 20:02] benesch commented on #24894
Yep. See build/teamcity-post-failures.py and pkg/cmd/github-post.

On Wed, Apr 18, 2018 at 3:37 PM, Pete Vilter <notifications@github.com>
wrote:

[2018-04-18 20:14] vilterp commented on #23420
Not really sure what a better design would be here. Make dropdown bigger? Only works to a limited extent. Otherwise, not sure how to avoid double scrolling. Thoughts @josueeee?

[2018-04-18 20:23] rytaft opened #24913 "workload: seg fault on init tpch"
I ran `make bin/workload` followed by `./bin/workload init tpch`, and I got a segfault:

[code]

I tried the same thing with tpcc and it loaded successfully.

cc @arjunravinarayan, @danhhz

[2018-04-18 20:26] danhhz commented on #24913
The error message here is awful, but this is because we don't have a golang port of the tpch data generator. In the meantime, you have to construct an `IMPORT CSV` manually for the data in `gs://cockroach-fixtures/tpch-csv/`

[2018-04-18 21:40] knz commented on #24897
@godofdream thanks for your interest in CockroachDB.

Do you have an example app or framework in mind that already uses this feature? Where compatibility is blocked because CockroachDB does not support it?

[2018-04-18 21:42] #24913 closed

[2018-04-18 21:49] knz opened #24917 "sql: pg_sleep documented in 2.0 but not cherry-picked"
So a user was enquiring in Gitter why they could not use `pg_sleep()` in their just-downloaded 2.0 CockroachDB database, given the function is documented at https://www.cockroachlabs.com/docs/stable/functions-and-operators.html.

It so happens that the patches that introduced pg_sleep (and all the 3 patches thereafter to complete the implementation) were not picked in the 2.0 branch.

So there's a

[2018-04-18 21:50] mheese commented on #24917
@knz thanks for filing this! Much appreciated! 👍

[2018-04-18 22:58] jseldess commented on #24917
I'll regenerate the func docs as you suggest, @knz. I did this incorrectly in https://github.com/cockroachdb/docs/commit/6bce8a2743741e6d558ed9c46c7e8749586651ac, it seems.

[2018-04-18 23:06] jseldess commented on #24917
@knz, https://github.com/cockroachdb/docs/pull/2951 has the regenerated functions doc for 2.0. PTAL.

[2018-04-19 00:26] knz opened #24921 "sql: warn users when they use a special keyword function"
From https://forum.cockroachlabs.com/t/column-quoting-problem-leads-to-silent-select-failure/1551

CockroachDB supports several auto-conversions of keywords to function calls, for compatibility with PostgreSQL.

For example the keyword `USER` is replaced by `current_user()`.

This is unfortunate because it makes it super-easy to create invalid queries that do not fail with an error and instead ret

[2018-04-19 02:25] jianjin commented on #12344
spencerkimball@, the link you posted is 404. Is it moved to another place? if so, can you update using the new link?

For  "add this capability to CockraochDB",  Does what you mean the filesystem is on top of CockroachDB?

[2018-04-19 05:07] cockroach-teamcity opened #24923 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#612041](https://teamcity.cockroachdb.com/viewLog.html?buildId=612041):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-19 05:13] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/b9018b336fd51e1e2eadce540a0d4f151f372502

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=612097&tab=buildLog

[2018-04-19 05:13] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/b9018b336fd51e1e2eadce540a0d4f151f372502

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=612097&tab=buildLog

[2018-04-19 07:40] knz commented on #24917
Thanks!
The doc regen reveals that only pg_sleep slipped through. Thanks for helping find out!

[2018-04-19 07:46] knz commented on #24395
I briefly checked this: the `[config]` lines are generated by the log package itself on every new log file created (e.g. during rotations).

So asking a user to "include all log files containing the string" has really been "look at the beginning of the most current log file".

So if we want to log the cluster ID it probably needs to be repeated at the start of every new log file.

[2018-04-19 07:48] knz commented on #24395
Another thing you write:

I don't believe that's true.

You're mistaking this for the output of `cockroach start`, but that is not logged with `[config]`.

[2018-04-19 08:02] knz commented on #24395
Oh it does print out the current host name though.

[2018-04-19 09:58] cockroach-teamcity commented on #24717
SHA: https://github.com/cockroachdb/cockroach/commits/b9018b336fd51e1e2eadce540a0d4f151f372502

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=612668&tab=buildLog

[2018-04-19 10:11] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/b9018b336fd51e1e2eadce540a0d4f151f372502

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=612682&tab=buildLog

[2018-04-19 10:11] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/b9018b336fd51e1e2eadce540a0d4f151f372502

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=612682&tab=buildLog

[2018-04-19 10:13] tschottdorf commented on #18099
Hasn't seemed to be a problem in practice despite doing 2TB restores regularly now, so I'm closing this.

[2018-04-19 10:13] #18099 closed

[2018-04-19 10:14] jseldess commented on #17184
Thanks for assigning, @tschottdorf. I lost track of this issue.

I've created https://github.com/cockroachdb/docs/issues/2952 and will take care of this soon.

[2018-04-19 10:26] tschottdorf commented on #18911
We should cake this specific type of operation into a replication-minded roachtest to see if this is a reproducible issue.

[2018-04-19 10:28] tschottdorf commented on #21824
@leomkkwan sorry about letting this sit. How did these graphs change since your message?

[2018-04-19 10:40] tschottdorf commented on #24725
The decommission roachtest is a great place to stick this in, as it basically does what @dianasaur323 must have done.

[2018-04-19 10:44] tschottdorf commented on #9220
Closing as not actionable.

[2018-04-19 10:44] #9220 closed

[2018-04-19 10:45] tschottdorf commented on #12654
This code has been deleted.

[2018-04-19 10:45] #12654 closed

[2018-04-19 10:46] tschottdorf commented on #17726
Closing as outdated.

[2018-04-19 10:46] #17726 closed

[2018-04-19 10:58] tschottdorf commented on #19216
@leomkkwan sorry for having this drop off my radar. Are you still running this cluster?

[2018-04-19 11:01] tschottdorf commented on #23751
Fixed in #24862 (the test was running the CREATE multiple times, though only sometimes).

[2018-04-19 11:01] #23751 closed

[2018-04-19 11:04] Jaware opened #24927 "sql: entire table appears locked even when updating just 1 row"
the table is locked when one transaction is updating one line data by Id(auto create with index) .can  cockroach lock one row?

[2018-04-19 11:11] tschottdorf commented on #22956
Closing for #24592.

[2018-04-19 11:11] #22956 closed

[2018-04-19 11:14] tschottdorf commented on #21232
Let's model these in the context of the network partitioning roachtests: #23141

[2018-04-19 11:28] knz opened #24928 "sql: the rows affected count is wrong for UPSERT"
Found while working on a test for the rows affected value on statements that have no result rows.

Hinted by a chat with @mberhault.

The expected behavior of UPSERT (and possibly other mutation statements) is that its rows affected count should reflect the number of rows actually modified. However, CockroachDB gets this wrong:

[code]

This in turn means that the GRANT statement will bump the rol

[2018-04-19 12:17] tschottdorf commented on #19671
We have `log.Every` which does this. You can make a package-local variable and use that.
I'm going to close this issue, but feel free to reopen if you think there should be sugar around it.

[2018-04-19 12:17] #19671 closed

[2018-04-19 12:29] tschottdorf commented on #17001
Connected to https://github.com/cockroachdb/cockroach/issues/24029 and transitively to https://github.com/facebook/rocksdb/pull/3635 (note that that was reverted in https://github.com/facebook/rocksdb/pull/3672 because it caused perf regressions when there weren't any ranged tombstones).

[2018-04-19 12:32] tschottdorf commented on #24429
Any reason to leave this open? I assume not. Homebrew has been updated.

[2018-04-19 12:32] #24429 closed

[2018-04-19 12:32] tschottdorf commented on #9553
Abandon.

[2018-04-19 12:32] #9553 closed

[2018-04-19 12:37] knz opened #24929 "sql: missing syntax for ALTER PARTITION OF INDEX"
All the execution logic is there but the grammar is missing a rule.

[2018-04-19 12:47] tbg opened #24930 "sql: assertion tripped: deadline below txn.OrigTimestamp is nonsensical"
https://sentry.io/cockroach-labs/cockroachdb/issues/531969578/

[code]

[2018-04-19 14:34] leomkkwan commented on #21824
No change. Consistency Checker Queue and Compaction Queue are flat for the last week.

A little history about this clusters..
5 nodes cluster from group up with v2.0-beta.20180305. After import around 400GB of data, I did an upgrade to v2.0. The problem exists in 20180305 beta, and getting worst? or stablize once upgrade to v2.0.

![queue stuck 0419-1month](https://user-images.githubusercontent.co

[2018-04-19 14:47] leomkkwan commented on #19216
The cluster is still exists, but upgrade to v2.0. The original issue of context deadline exceeded error is not exist anymore.

[2018-04-19 14:49] achoice opened #24931 "sql: alter big table gave jdbc SQLSTATE(08006)"
## 1. Config
I180419 11:23:45.807579 405 util/log/clog.go:1001  [config] file created at: 2018/04/19 11:23:45
I180419 11:23:45.807579 405 util/log/clog.go:1001  [config] running on machine: crdb5306
I180419 11:23:45.807579 405 util/log/clog.go:1001  [config] binary: CockroachDB CCL v2.0.0 (x86_64-unknown-linux-gnu, built 2018/04/03 20:56:09, go1.10)

## 2. Please describe the issue you observed:
#

[2018-04-19 15:28] danhhz opened #24932 "sql: error in create ... interleave due to type aliases"
From gitter: https://gitter.im/cockroachdb/cockroach?at=5ad7c30f5d7286b43a42e80a

[code]

[2018-04-19 15:36] danhhz commented on #24932
Aha, the issue here is that one table uses `INTEGER` and the other uses `INT`. I don't know much about our type aliases, but I think this should work and the code in question should be ignoring the VisibleType field of ColumnDescriptor.

[2018-04-19 15:43] andreimatei commented on #24930
Same cluster also had a clock sync crash; maybe it's related
https://sentry.io/cockroach-labs/cockroachdb/issues/431183536/?query=cluster:%221149c0a4-3217-4802-841a-d78801860ddf%22

[2018-04-19 15:49] knz commented on #24932
thanks for figuring the cause out. This seems closely related to #24686 .

[2018-04-19 15:58] nvanbenschoten commented on #2477
@knz this is fully superseded by #9851, right?

[2018-04-19 15:59] benesch commented on #19671
🎉 nope, this is basically exactly what I had in mind.

[2018-04-19 16:00] nvanbenschoten commented on #6401
@couchand do you envision ever addressing this? is it even relevant anymore given all of the changes to the admin ui build system? If not, we should close it and re-open if necessary.

[2018-04-19 16:02] nvanbenschoten commented on #3752
We don't have any plans to address this any time soon. Closing.

[2018-04-19 16:02] #3752 closed

[2018-04-19 16:06] nvanbenschoten commented on #7564
@mjibson should we continue to keep this issue open?

[2018-04-19 16:17] knz commented on #2477
correct

[2018-04-19 16:25] #2477 closed

[2018-04-19 17:05] couchand commented on #6401
@nvanbenschoten I don't think this has been a problem recently, we can revisit if it becomes one.

[2018-04-19 17:05] #6401 closed

[2018-04-19 17:13] #24456 closed

[2018-04-19 17:53] vilterp commented on #8767
@mrtracy I see this function `getUser` called in all of our endpoints. Currently it just returns `RootUser`: https://github.com/cockroachdb/cockroach/blob/28a7b6befcdcf7c316078da55d1009877beb058c/pkg/server/admin.go#L121-L123

How would we get this from a cookie?

[2018-04-19 18:36] piyush-singh opened #24937 "ui: Warn user if dead nodes are preventing auto-upgrade of cluster version"
Related to #24935 and #22686

In the above RFC, the UI needs to notify a user:

We should check that the auto-upgrade is enabled, and that downed nodes exist which prevent the upgrade. @josueeee we'll need to think a bit more about how to alert users now that the Metrics page is no longer the first page a user sees (banners only appear there for now).

cc @vilterp @couchand @windchan7

[2018-04-19 18:39] vilterp commented on #18060
I think this is a dup of #22686.

[2018-04-19 18:39] #18060 closed

[2018-04-19 19:42] piyush-singh opened #24939 "ui: Create UI components for login screen"
Sub-task for #6307.

This issue is to track front end work for authenticating users as outlined in the above issue. Some states we should consider:

- Default login prompt when first accessing the UI
- Invalid username
- Invalid password
- Logging out once logged in

Including an early design from Kuan that was added in the above issue:
![image](https://user-images.githubusercontent.com/21692034/3

[2018-04-19 20:10] andreimatei opened #24940 "server: TestClusterVersionUpgrade1_0To2_0 is taking 35s"
Is this expected? Large periods of log spam with `system config is not available`.

`make testshort PKG=./pkg/server TESTFLAGS=-v TESTS=TestClusterVersionUpgrade1_0To2_0`

[code]

If it's expected, let's skip it on `testshort`. Let me know if I should do that.

[2018-04-19 20:25] vilterp opened #24942 "ui, server: exempt healthcheck endpoint from authentication"
*repro*

1. start the cluster in secure mode (with login turned on by default, see PR #TODO)
2. go to the admin UI

*expected*

Be directed to a login page where I can log in and proceed. (if we had one)

*actual*

Healthchecks fail with `401 unauthorized`, showing the red "connection lost" banner even though the connection is fine; we just haven't logged in.

*solution*

Exempt the healthcheck en

[2018-04-19 21:34] petermattis commented on #23420
Exactly.

[2018-04-20 03:02] Jaware commented on #24927
ok,but when i put read in transaction,it got locked,because other transaction is executing.     so you mean cockroachDB serializable transactions will lock the Database when executing?

[2018-04-20 03:34] bdarnell commented on #20039
Since this doesn't seem to be reproducible, I don't think there's anything else we can do here.

[2018-04-20 03:34] #20039 closed

[2018-04-20 03:51] bdarnell commented on #21509
RangeStatsKey is no more.

I agree that this unsynchronized accessor is a little risky, but what's the alternative? The split trigger and ClearRange need access to the stats somehow. And even if we do introduce a bug here and the split trigger works with an inconsistent view of the stats, we have ways of fixing up the stats later.

I think this is basically fine as-is, perhaps with a warning added

[2018-04-20 05:24] cockroach-teamcity opened #24947 "ccl/storageccl: TestImport failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d021cede92915f7a1988c775ebc2e1d87790e3ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=613993&tab=buildLog

[code]

[2018-04-20 05:24] cockroach-teamcity opened #24948 "ccl/storageccl: TestImport/batch=1 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d021cede92915f7a1988c775ebc2e1d87790e3ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=613993&tab=buildLog

[code]

[2018-04-20 07:27] mjibson opened #24949 "sql: panic: lpad: slice out of bounds"
`SELECT lpad('1'::STRING, -1::INT, '1234567890'::STRING)`

[code]

Found with RSG. Assigning for triage.

[2018-04-20 07:46] silverwind opened #24950 "'%' sign in command documentation can be problematic"
In the documentation it is recommend to limit memory usage like this:

[code]

This `%` notation is problematic in systemd unit files where `%` has to be escaped as `%%` ([ref](https://www.freedesktop.org/software/systemd/man/systemd.unit.html#Specifiers)), so `25%` would be interpreted as `25`. I'd recommend documentation to be changed to the fractional form `.25` to prevent this issue.

[2018-04-20 07:51] Extarys opened #24951 "UUID cannot be null"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     there is no cockroach-data/logs/cockroach.log.

   When log files are not available, supply the output of `cockroach version`
   and all flags/environment variables passe

[2018-04-20 07:57] Extarys commented on #24951
Ohh nevermind, it seems that my script was calling another file which had an issue setting default for the uuid field. My mistake, sorry.

[2018-04-20 08:42] godofdream commented on #24897
@knz Currently we use Postgres with the replace view function in a closed-source project. We use the replace as function for migrating to newer versions of the view. It's syntactic sugar as it could be done with a transaction alternativly.

Besides our usecase i didn't find any opensource projects using the create or replace view feature of postgres.

@a-robinson marked CREATE OR REPLACE as TODO i

[2018-04-20 10:06] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/d021cede92915f7a1988c775ebc2e1d87790e3ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=614585&tab=buildLog

[2018-04-20 10:06] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/d021cede92915f7a1988c775ebc2e1d87790e3ba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=614585&tab=buildLog

[2018-04-20 11:06] achoice commented on #24931
Yes, found we call setSocketTimeout in our init. Thanks for help, we will change and test again when next schema change comes along.

`// probably this setting can be removed when this fix https://github.com/pgjdbc/pgjdbc/pull/849 is released
dataSource.setConnectTimeout(5);
dataSource.setSocketTimeout(5);`

[2018-04-20 11:06] #24931 closed

[2018-04-20 13:07] cockroach-teamcity opened #24952 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#613944](https://teamcity.cockroachdb.com/viewLog.html?buildId=613944):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-20 14:26] danhhz commented on #24951
Glad you figured it out!

[2018-04-20 14:26] #24951 closed

[2018-04-20 15:28] danhhz opened #24957 "release: v1.1.8"
Candidate SHA: fc0e2d1ba3d4a4750c0d6c2e57d08b6ab3135361
Deployment status: dan-release-1-1-8 [suite](https://teamcity.cockroachdb.com/viewLog.html?buildId=615265)

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: 2018-04-20
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.

[2018-04-20 15:57] bdarnell commented on #24921
I suggest that we disallow the `user` keyword if any table (or view) referenced by the query contains a column named `user` (if they really mean the `user` keyword, they can use the less-ambiguous `current_user` name). I don't think we can silently reinterpret `user` as referring to the column instead of the function (that's more of a break from postgres compatibility than I'm comfortable with, ev

[2018-04-20 16:26] knz commented on #24921
Ben with all due respect your suggestion does not make sense (to me).

The decision whether to allow the keyword named "user" is made during parsing. At that time, we don't have a syntax tree yet, much less any semantic information about which table(s) is being accessed, and therefore we cannot yet answer the question "does this involve tables with columns named `user`".

After parsing the keyword

[2018-04-20 16:30] knz commented on #24897
@godofdream thanks for your explanation. I wanted to hear the context of your request so that we know how to prioritize this appropriately.

[2018-04-20 16:37] bdarnell commented on #24921
Yeah, the plumbing and layering violations make this tricky. But we do preserve a lot of detail about the original input in other cases so that we can reconstruct something very close to the input, so there's some precedent for not just discarding the fact that it was desugared.

My concern with any sort of safe mode that disables the `user` keyword entirely is that this sort of mode is rarely tur

[2018-04-20 16:57] a-robinson commented on #19667
Awesome work, @kminehart!

[2018-04-20 17:03] danhhz commented on #24927
CockroachDB doesn't lock the database, no. Can you give details on the issue you're seeing? What transactions are you running? Why do you think it's locked?

[2018-04-20 17:15] knz commented on #24921
Assuming we only care about USER specifically, my best suggestion would be to desugar USER to `current_user_with_warning()` and then detect that name during semantic analysis with a string comparison on the function name. That would be this propagation we're talking about.

And regarding your other comment, I see us having _more_ desugaring over time, not less.

[2018-04-20 17:56] tschottdorf commented on #21601
Yeah, that's seems like exactly the kind of thing this is there for.

[2018-04-20 18:15] #24949 closed

[2018-04-20 18:36] danhhz opened #24960 "sql: support INVERTED INDEX range scans"
From the forum: https://forum.cockroachlabs.com/t/multi-tenant-custom-fields-saas-app/1565/2

So, let’s say all tenants’ products are in one table and there’s foreign key tenant_id. Then we have a json field, custom_data. A tenant might have a custom field price. Then the tenant wants to search all his products where price > 100. An index on the foreign key, possibly compound with other “static” f

[2018-04-20 18:36] danhhz commented on #24960
Assigning to @awoods187 for prioritization

[2018-04-20 18:48] vilterp opened #24961 "sql, server: add partitions and indices to replica matrix endpoint"
The `ReplicaMatrix` endpoint on the admin server currently returns the number of replicas for each table on each node, by scanning meta2. It should break this down further, returning the number of replicas for each partition on each node.

Discussed this with @benesch; it looks something like (correct me if I'm wrong):
1. Get all the zone configs from `system.zones`, including their subzones (the

[2018-04-20 18:56] vilterp commented on #22229
Note: this was originally for the replica matrix, but that doesn't use `crdb_internal.ranges` anymore; it'll use #24961. Leaving it open because it could still be useful to have this in the CLI.

As an aside, it's annoying to have two code paths to expose this information (crdb_internal and custom admin UI endpoints). Doing #23052 would allow us to consolidate by building more admin UI endpoints o

[2018-04-20 20:05] bnate commented on #19667
@kminehart I followed your work and was able to connect to cockroachdb pods from the client with sidecar. When using cluster-init-secure.yaml to initialize the cockroach cluster, I noticed the cluster-init-secure pod hanging with 1/2 containers being ready. Despite this, it appears the job completed successfully and cockroach was initialized. Did you run into the same issue or make changes to clus

[2018-04-20 20:14] kminehart commented on #19667
Yeah, the problem there is that the "istio-proxy" container never terminates, resulting in a Job that never ends. You'll have the same issue with `cloudsql-proxy` if you use Google Cloud SQL.

Under `spec` you can add:

[code]

(https://istio.io/docs/setup/kubernetes/sidecar-injection.html)

to prevent automatic sidecar injection. The idea here is that the pod will obtain the `metadata.annotations

[2018-04-20 20:38] bnate commented on #19667
I tried that myself, but when running kubectl apply -f cluster-init-secure.yaml, I receive the following error:

`The Job "cluster-init-secure" is invalid: spec.template: Invalid value: core.PodTemplateSpec{ObjectMeta:v1.ObjectMeta{Name:"", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:v1.Time{Time:time.Time{wall:0x0, ext:0, loc:(*time.Loca

[2018-04-20 20:42] kalman5 commented on #24569
Your binary. And I was using Konsole from KDE

[2018-04-20 20:53] kminehart commented on #19667
The error you're seeing, `field isimmutable`, while it may be ugly and bundled with a lot of useless information, means you're trying to modify an existing Job.

Make sure to either delete the old Job (even if none of its pods are running) or rename it.

[2018-04-20 21:13] itamarjp commented on #24761
rocksdb fixed it, https://github.com/facebook/rocksdb/pull/3736

can you update the rocksdb code here ?

[2018-04-20 21:14] knz commented on #24569
Thanks. Initial research shows this problem should be independent of the terminal emulator you're using. Can you confirm?

[2018-04-20 21:15] knz commented on #24761
cc @petermattis @benesch for triage

[2018-04-20 22:28] benesch commented on #24761
Upgrading RocksDB is always treacherous. We'll look into upgrading when the fix makes it into an upstream release, presumably in v5.13, but that likely won't be for a month or two.

Thanks for fixing this in RocksDB, though! Looks like the original attempt in https://github.com/facebook/rocksdb/pull/3433 got waylaid.

[2018-04-20 23:28] andreimatei commented on #7992
I think this issue is good to be closed.
There's some work for tracing schema changes tracked in #16700

[2018-04-20 23:28] #7992 closed

[2018-04-21 07:29] Extarys opened #24964 "Suggestion: Massive.js support layer for NodeJS"
**FEATURE REQUEST**

Support layer for https://github.com/dmfay/massive-js

For a huge applications and tables, having to write queries with 50 columns is ugly and hard to maintain in the long run. ORMs like Sequelize need to set all table's columns and may be a bottleneck for complicated queries.

I played lightly with massive.js but it looks very nice and simple for fast development and deployme

[2018-04-21 10:06] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/dcc0f8b66d3f9c2a9932ba022ec7f265e1eb69dd

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=616164&tab=buildLog

[2018-04-21 10:06] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/dcc0f8b66d3f9c2a9932ba022ec7f265e1eb69dd

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=616164&tab=buildLog

[2018-04-21 11:14] knz commented on #19826
cc @dianasaur323 for prioritization

[2018-04-21 12:30] dianasaur323 commented on #19826
since this is docker, let's have @kannanlakshmi take a look

[2018-04-21 14:39] knz opened #24965 "cli/sql: bracketed paste unhappy with mix of local and non-local entry"
The following example from issue #22304 doesn't paste properly:

[code]

Because it contains both client-local commands (`\set`) and SQL.

cc @benesch

[2018-04-21 15:10] Jaware commented on #24927
one method use seriable  transaction contains read and update(or insert ),hundreds of threads execute the same code at the same time , then a lot of reads   are  locked

[2018-04-21 15:13] Jaware commented on #24927
read using two columns.,while update using id primary key column

[2018-04-21 15:16] knz commented on #24927
Can you show us which SQL queries you have run, and also how you have "measured" or "detected" that a lock was happening?

[2018-04-21 15:25] Jaware commented on #24927
select top 1  from app where name ='aa' and state =0 order by time desc ,update app set length =123 where id =1 .    different thread has different name condition.      lock because we see a lot of  transaction retry errors ,and then  we  debug and find that if one  transaction is not finished, other transaction 's  select query is locked.

[2018-04-21 15:26] EdSchouten commented on #24695
Also noticed this. It looks like Cockroach has a hard time sitting still. It keeps on calling Linux system call `pselect6()` with a 20 microsecond timeout:

[code]

[2018-04-21 15:29] Jaware commented on #24927
different thread query  and update  different data ,can cockroach lock rows like mysql, and don't lock table

[2018-04-21 17:14] cody-yancey opened #24966 "A single underreplicated range is reported days after the last node died"
I'm running a 65-node, dockerized, secure cluster across 4 zones on rotational media. Here are the settings:

[code]

The UI reports a single underreplicated block for several days after the last node death.
<img width="1332" alt="screen shot 2018-04-21 at 10 44 49 am" src="https://user-images.githubusercontent.com/13629273/39086725-c498e51c-4553-11e8-9d63-0e3d5e5b6f96.png">

My expectation is tha

[2018-04-21 17:25] cody-yancey commented on #19797
After significant testing on Cockroach DB 2.0.0, I have been unable to reproduce this issue after almost a month of chaos and load testing. I strongly believe it has been resolved. Closing.

[2018-04-21 17:25] #19797 closed

[2018-04-21 17:42] a-robinson commented on #24966
Hi @cody-yancey, thanks for reporting the issue! It is indeed very odd that a range is still reported as under-replicated after several days.

All the nodes may be showing 0% under-replicated due to rounding caused by the large number of ranges. cc @couchand for that.

But to help see what's going on, I'd suggest loading up the `/#/reports/problemranges` URL path in the admin UI. This should show

[2018-04-21 17:55] nstewart commented on #24902
Passing to @dianasaur323 to understand root issue and determine if this is something being solved in other ways. If the core request is "easy ways to see (or be alerted) if the cluster is unhealthy", we are making strides there in 2.1 with the ops + tools and web ui roadmaps cc @piyush-singh .

Either way, this needs more conversation with pms to move this forward. I'll let @dianasaur323 take the

[2018-04-21 18:41] cody-yancey commented on #24966
You guys rock with the quick responses. So, that allowed me to track down the node with the problem range. One odd thing I noticed was several nodes had a heartbeat error message that looks like a gRPC error:
<img width="1260" alt="screen shot 2018-04-21 at 12 20 19 pm" src="https://user-images.githubusercontent.com/13629273/39087565-1581bd8a-4560-11e8-8421-caffe7acdf00.png">

Clicking on the unde

[2018-04-21 19:04] a-robinson commented on #24966
Those look like the same nodes that have been dead for days, right?

This is a quirk of the metrics involved here - to avoid having to de-dupe multiple nodes' reports of the same ranges in metrics, we have a mechanism that ensures only one node reports each replica's status.

Wow, I don't think I've ever seen that page fail like this. Especially not in an otherwise healthy cluster. cc @BramGruneir

[2018-04-21 20:00] cody-yancey commented on #24966
Yes. My mistake.

Oh good, yes that makes sense.

Not at all. The first link timed out. The second link gave me a JSON which I have attached here: [problem_range.txt](https://github.com/cockroachdb/cockroach/files/1934943/problem_range.txt)

One thing, it might be important. The specific test that I was running when this occurred was a distributed job of 300 concurrent simulated clients connecting

[2018-04-21 20:35] mjibson opened #24967 "sql: lpad: time and memory unbounded"
`SELECT lpad('12345'::string, 9223372036854775807::int)`

This uses 100% CPU and takes as much memory as it can, more than the limiter would allow.

Found with RSG.

[2018-04-21 20:37] a-robinson commented on #24966
It looks like node 55 really might not be working that well, at least not with respect to this range. Useful next steps:

* Grab the output of `/debug/pprof/goroutine?debug=2` on node 55.
* Load `/#/reports/range/6250/cmdqueue` on nodes 31 and 55. You'll probably get an internal server error on one of them, if not both. That's ok. You might get an interesting result from one of them.
* Open `/debu

[2018-04-21 20:40] a-robinson opened #24968 "server/ui: Command queue debug page fails with internal error if run against wrong node"
The command queue debug page only works if you load it on a node that contains a replica for the range.

For example, on Adriatic, I was looking at the range debug page for r15 on node 1. I clicked on the "Visualize" link for the "CmdQ State", but was immediately greeted with an internal server error:

<img width="1252" alt="screen shot 2018-04-21 at 4 26 17 pm" src="https://user-images.githubuser

[2018-04-21 21:27] cody-yancey commented on #24966
Here's the goroutine dump form n55:
[debug_pprof_gorouting_debug2_n55.txt](https://github.com/cockroachdb/cockroach/files/1935004/debug_pprof_gorouting_debug2_n55.txt)

Here is the cmdqueue. Looks like it worked, it looks like it is the same for both pages:
<img width="505" alt="screen shot 2018-04-21 at 3 04 46 pm" src="https://user-images.githubusercontent.com/13629273/39088898-f9e9f728-4577-11e

[2018-04-21 21:35] nvanbenschoten commented on #24966
range. This is also confusing to me. If the range is underreplicated with a target RF=3, that must mean that range is currently RF=2, as RF=1 would be insufficient for raft consensus and therefore unavailable. Why then does only a single node show that it has this particular underreplicated range?

It's possible that killing two nodes at the same time could result in an indefinitely under-replicat

[2018-04-21 21:37] a-robinson commented on #24966
@nvanbenschoten that's not the issue - both n31 and n55 are running and have replicas of the range. The situation you're talking about gets referred to as "unavailable" ranges in all the metrics, not "under-replicated".

And thanks for the details @cody-yancey! I'll look through them soon.

[2018-04-21 21:38] nvanbenschoten commented on #24966
@a-robinson yeah I noticed the new report pdf right after I posted that.

[2018-04-21 22:08] a-robinson commented on #24966
To summarize the situation so far:

* range 6250 is failing to remove the replica that's on the now-dead node 47. This is preventing it from creating a new replica on a live node.
* It's not clear why the cluster hasn't been able to remove the dead replica. I thought it may be related to node 55 failing to timing out on the debug endpoints, but if it isn't timing out anymore then I guess it isn't.

[2018-04-21 22:09] cody-yancey commented on #24966
My understanding under this condition is that the single remaining replica would constitute an **unavailable** range from it's point of view. An **under-replicated** range would mean that the total replication factor was greater than or equal to quorum, but less than target. Is this not the case?

Yes, this absolutely did occur, however, all of the nodes which were killed were from the same zone,

[2018-04-21 22:13] knz commented on #24967
Note we've had another functions (concat_ws) that was growing memory usage unreasonably. The solution was to use the memory monitor in the evalctx.

[2018-04-21 22:14] knz commented on #24967
ditto for various array functions.

[2018-04-21 22:14] a-robinson commented on #24966
Your understanding is correct.

[2018-04-21 22:24] #22304 closed

[2018-04-21 22:24] #23156 closed

[2018-04-21 22:24] #24928 closed

[2018-04-21 22:27] cody-yancey commented on #24966
The replication queues for both n55 and n31 are both zero for the last 10 minutes from the UI. But I did grep the logs of n31 and I found something potentially juicy:

[code]

I'm not well versed in parsing CockroachDB logs, but "unexpected value" in Cassandra speak means data corruption. Is there a way to verify this?

[2018-04-22 01:59] alanhamlett opened #24970 "sql: sqlalchemy client using secure conn via haproxy loses conn periodically"
**BUG REPORT**

1. header of most recent log file
[code]

2. Please describe the issue you observed:

- What did you do?
Started using haproxy to load balance 3 cockroach servers.

- What did you expect to see?
No errors.

- What did you see instead?
Periodic connection errors in client logs:
[code]

When connecting directly to one of the 3 cockroach servers there are no errors, but when connectin

[2018-04-22 02:50] yaojingguo opened #24971 "storage: useless code in pkg/storage/replica_proposal.go"
In pkg/storage/replica_proposal.go, there is the following code:
[code]
If ` err == nil` is `true`, `err, ok := err.(*engine.RocksDBError)` always set `ok` to `false`. So I think that the code starting from `const seqNoMsg = "Global seqno is required, but disabled"` should be deleted.

[2018-04-22 03:24] wcharczuk opened #24972 "sql: `percentile() within group (order by)`"
1. As far as I know there isn't a request for this yet, I tried searching but 100% could have missed something.

2. I am trying to port some basic dashboarding code from postgres to cockroachdb, but it is missing the aggregate / math function `percentile`.

3. This is not a blocker for most of our workloads, but it is for this particular one.

Detail:

Typically percentile is determined by the fol

[2018-04-22 05:50] cockroach-teamcity commented on #24719
SHA: https://github.com/cockroachdb/cockroach/commits/9da732ca6a06c12149213c97fd8215ca23067eba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=617058&tab=buildLog

[2018-04-22 05:50] cockroach-teamcity opened #24973 "sql/jobs: TestJobLifecycle/succeeded_forces_fraction_completed_to_1.0 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/9da732ca6a06c12149213c97fd8215ca23067eba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=617058&tab=buildLog

[code]

[2018-04-22 06:57] cockroach-teamcity commented on #24717
SHA: https://github.com/cockroachdb/cockroach/commits/9da732ca6a06c12149213c97fd8215ca23067eba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=617188&tab=buildLog

[2018-04-22 09:56] charl commented on #20712
https://forum.cockroachlabs.com/t/index-size-on-disk/1519 is somewhat related.

When evaluating CRDB (and comparing it with other databases) as well as getting a handle on primary key choices to best suit ones use cases it's really useful to know how the increase of table rows affects the growth of indexes.

[2018-04-22 09:58] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/9da732ca6a06c12149213c97fd8215ca23067eba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=617594&tab=buildLog

[2018-04-22 09:58] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/9da732ca6a06c12149213c97fd8215ca23067eba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=617594&tab=buildLog

[2018-04-22 10:39] cockroach-teamcity opened #24974 "storage: TestStoreRangeSplitBackpressureWrites/splitErr=result_is_ambiguous_() failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/9da732ca6a06c12149213c97fd8215ca23067eba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=617679&tab=buildLog

[code]

[2018-04-22 10:39] cockroach-teamcity opened #24975 "storage: TestStoreRangeSplitBackpressureWrites/splitErr=result_is_ambiguous_() failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/9da732ca6a06c12149213c97fd8215ca23067eba

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=617679&tab=buildLog

[code]

[2018-04-22 14:49] knz commented on #24923
Casual digging through the logs:
[code]

[2018-04-22 15:55] bdarnell commented on #24901
#20492

[2018-04-22 15:55] #24901 closed

[2018-04-22 16:00] bdarnell commented on #24923
And before that, there were tons of messages in JepsenSetupCluster like

    [JepsenSetupCluster] null_resource.cockroach-runner[0] (remote-exec): E: Failed to fetch http://us-east1.gce.archive.ubuntu.com/ubuntu/pool/main/s/snapd/ubuntu-core-launcher_2.32.3.2_amd64.deb  503  Service Unavailable [IP: 35.196.65.164 80]

There are no errors for the openjdk package itself, which is curious, but I thin

[2018-04-22 16:00] #24923 closed

[2018-04-22 16:01] bdarnell commented on #24952
#20492

[2018-04-22 16:01] #24952 closed

[2018-04-22 18:09] Nishant9 commented on #20713
@tschottdorf I think I can pick this up. Can you point me to some file in code where virtual tables are queried( I am assuming there is a better way than using lib/pq to create a postgres connection to cockroach server and then doing the query)?

[2018-04-22 18:10] knz commented on #20713
Note that `cockroach user` and `cockroach zone` now use SQL already. Only `cockroach node` doesn't.

[2018-04-22 19:34] gshirishfree commented on #17215
@tschottdorf I am trying to work on this, but having trouble creating store on disk. Below is my test case looks like.

.....
store, _ := createTestStore(t, stop.NewStopper())
store.getOrCreateReplica(ctx, rangeID, 1, &creatingReplica)

key, value := "don't", "care"
data, _ := MakeSSTable(key, value, hlc.Timestamp{}.Add(0, 1))
sst := engine.MakeRocksDBSstFileReader()

sst.IngestExternalFile(data)

[2018-04-22 22:26] #24395 closed

[2018-04-22 22:49] knz opened #24979 "scripts: release note extractions should really have unit tests"
The `release-notes.py` script currently has no tests.
Some casual check show that there are some errors in it, that were missed because no tests (e.g. commits on `master` without a PR fork go unnoticed by the script).

[2018-04-23 01:05] garvitjuniwal commented on #24753
Even if r1's lease is renewed actively, there is still a possibility that that r1's leaseholder ends up in one half of the cluster which does not have any node that is in the --join flag of the nodes in the other half. What is the expectation on how the --join flag should be configured? What I heard last was that it could be any 3-5 initial nodes in the cluster which allows for many partitions whe

[2018-04-23 02:32] tschottdorf opened #24980 "roachtest: fix version test"
[code]

something is weird with this test now. Our `master` branch corresponds to what will be v2.1, but the test runs a cluster that mixes v1.1.5 and `master`. This is illegal to begin with but somehow the test makes it far enough to fail as above.

[2018-04-23 05:27] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/7664119a55d4fa54eeaaa87769921de3e7cbfc42

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=618325&tab=buildLog

[2018-04-23 05:27] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/7664119a55d4fa54eeaaa87769921de3e7cbfc42

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=618325&tab=buildLog

[2018-04-23 10:17] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/7664119a55d4fa54eeaaa87769921de3e7cbfc42

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=618913&tab=buildLog

[2018-04-23 10:17] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/7664119a55d4fa54eeaaa87769921de3e7cbfc42

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=618913&tab=buildLog

[2018-04-23 11:14] yaojingguo commented on #17215
@gshirishfree I have also been working on this recently. Here are my thoughts.

The high-level steps for my test case are:

1. Extract the ingestion pathname for an earlier `AddSSTable` from the trace `log.Eventf(ctx, "ingested SSTable at index %d, term %d: %s", index, term, path)`. The ingestion pathname should be something like `/var/folders/qd/wj_djys9219cyj4l9c2qw6g80000gn/T/TestDBAddSSTable_s

[2018-04-23 13:17] windchan7 opened #24985 "roachtest: test cluster setting `cluster.preserve_downgrade_option` works correctly."
In order to test cluster setting `cluster.preserve_downgrade_option` works correctly,
we need at least 2 versions of code running the new auto upgrade code. Therefore, we
defer the work of fully testing `cluster.preserve_downgrade_option` until 2.0.2 release.

[2018-04-23 13:41] knz commented on #24598
The two remaining issues are not directly related to name resolution. We'll catch them in separate sub-projects. Closing this now.

[2018-04-23 13:41] #24598 closed

[2018-04-23 13:49] tschottdorf commented on #24248
@windchan7, could you take a look at this? Should be straightforward: Essentially you just want to adapt the version roachtest so that when the cluster is running v1.1, one of the 2.0 nodes *joins* the cluster (i.e. is starting for the first time). I think that just means that when the cluster first gets started, you start all nodes but one at the old binary, but and then one at the new binary.

[2018-04-23 13:51] tschottdorf commented on #24980
@windchan7 could you take a look at this next (this test is broken). The "fix" is straightforward: the "base version" needs to be 2.0, not 1.1.

I was confused above why this test doesn't fail eagerly (after all, we're kind of mixing a 1.1 binary with a 2.1 binary) but I realized that to the test the "2.1" binary doesn't look like a 2.1 binary. It looks like a very new 2.0 binary and that's allowe

[2018-04-23 13:54] tschottdorf commented on #24940
Not expected.

@windchan7, could you take a look? It's possible that you'll need help here, but for starters try to find out where the test spends the 35 seconds, and then we can figure out the rest together.

[2018-04-23 13:57] knz commented on #24713
This is a dup of #16971. @BramGruneir please take the example query and add it to #16971 as an additional example query that should be tested. Then close this issue.

[2018-04-23 14:03] tschottdorf commented on #24975
https://github.com/cockroachdb/cockroach/issues/24974

[2018-04-23 14:03] knz commented on #24626
@vivekmenezes moving this to the bulk io project. Needs to be triaged.

[2018-04-23 14:03] #24975 closed

[2018-04-23 14:04] tschottdorf commented on #24974
@m-schneider could you take a look at this? I hope this repros right away!

[2018-04-23 14:09] a-robinson commented on #24654
@benesch do we need to skip this for now?

[2018-04-23 14:09] a-robinson commented on #24655
@benesch do we need to skip this for now?

[2018-04-23 14:21] cockroach-teamcity opened #24986 "storage: TestNodeLivenessDecommissionAbsent failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/7664119a55d4fa54eeaaa87769921de3e7cbfc42

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=619391&tab=buildLog

[code]

[2018-04-23 14:38] #24498 closed

[2018-04-23 14:50] josueeee commented on #23420
I think it's both an interaction and design issue. The drop-down selector is not designed for long lists of items and if we think production clusters will reach this size, then we need to rethink the way someone filters content on a per-node basis.

[2018-04-23 14:57] a-robinson commented on #24964
Hi @Extarys, we recommend using either the [`pg` client driver](https://www.npmjs.com/package/pg) or Sequelize for [connecting to us from Node](https://www.cockroachlabs.com/docs/stable/build-a-nodejs-app-with-cockroachdb-sequelize.html), but I can't say I know much about Massive.js.

As a general rule, we don't prioritize explicit support for different frameworks unless there's strong customer de

[2018-04-23 15:03] a-robinson commented on #24717
@danhhz do we need to skip this? It's been failing almost every day.

[2018-04-23 15:21] BramGruneir opened #24989 "server, ui: Merge Admin and Status endpoints"
We have, for historical reasons, two different main endpoints for UI and Status data.

Originally, as we were upgrading the UI, the admin endpoint was supposed to handle all requests that were destined for the admin ui, as opposed to other misc endpoints.  But that distinction is no longer true and never really was.

We also have to make sure that permissions are clear for every endpoint. And havi

[2018-04-23 15:39] couchand commented on #23420
Yes, there's definitely a problem if a cluster has more than a handful of nodes and the user is trying to pick a specific one by opening this dropdown and scrolling to a particular item.  We should consider that as part of our ongoing IA investigations.  But let's keep this particular issue focused on the bug as reported.