[2017-07-06 22:32] #16873 closed

[2017-07-06 22:55] cockroach-teamcity opened #16920 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/txn"
The following tests appear to have failed:

[#289655](https://teamcity.cockroachdb.com/viewLog.html?buildId=289655):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-06 22:55] jordanlewis commented on #16795
#16797

[2017-07-06 22:55] #16795 closed

[2017-07-06 22:55] jordanlewis commented on #16920
#16914

[2017-07-06 22:55] #16920 closed

[2017-07-07 02:22] glycerine commented on #16832
@jordanlewis Does 1.0.3 just released include this?

[2017-07-07 02:30] jordanlewis commented on #16832
No, it'll be included in 1.1 which is scheduled for release within the next couple of months.

If you like, and you don't mind living on the bleeding edge for the time being, you can try the feature out in an [alpha release](https://www.cockroachlabs.com/docs/v1.1-alpha.20170629.html).

[2017-07-07 08:51] tschottdorf opened #16922 "rocksdb: range deletion tombstones + IngestExternalFile likely still crashes"
Noticed during restore testing on top of 9cffddae94eabcb66982e3426952decd07ff43c0. Happened fairly regularly:

[code]

The issue went away with the following diff:

[code]

I have a script that repros this, happy to share it privately.

@benesch, I'm throwing this your way as a follow-up to https://github.com/cockroachdb/cockroach/pull/16871.

[2017-07-07 09:54] knz opened #16925 "cli: interrupt signals should be shouted as INFO not ERROR"
REported by @dianasaur323  - the ERROR upon ctrl+c is worrying for users whereas it is mostly innocuous for the database. The severity for this message should be downgraded.

[2017-07-07 09:57] knz opened #16926 "cli/tables: commands with wide output should have a different default --format"
Reported by @dianasaur323: the terminal output of some commands (e.g. `node ls`) is very wide and wraps on default terminal widths, leading to difficult to interpret output and general unpleasant formatting.

The commands should use a different `--format` which makes the output more readable.

[2017-07-07 11:30] jseldess commented on #16895
The ability to recall this information came up once before. The solution then was to print it all to the logs as well as to stdout. I like the idea of using a command to get this info though.

[2017-07-07 14:40] cuongdo commented on #15670
This still seems important and should be done earlier, to avoid another last-minute scramble. Is this doable for 1.1?

[2017-07-07 14:42] cuongdo commented on #15289
This hasn't happened in a long time and after several load / chaos tests, so closing.

[2017-07-07 14:42] #15289 closed

[2017-07-07 14:51] RaduBerinde commented on #16143
Could not repro (tried locally and in an azworker, with various `-p` values).

In any case, this is a problem in `kv` or below, probably some race or internal retry is causing the duplicate key; updating title.

[2017-07-07 14:51] cuongdo commented on #15743
is this still making it into 1.1?

[2017-07-07 14:55] jordanlewis commented on #15743
This was closed by #16868 actually.

[2017-07-07 14:55] #15743 closed

[2017-07-07 15:05] cuongdo commented on #15775
As a reminder, let's get continuous DistSQL load as part of 1.1. As we've discussed, one simple way of doing this is to add reads to an existing load generator (I think `photos` makes sense).

The problem with `tpch` as a load generator is that even with scale factor 1, the fastest query takes ~100 seconds. While this tests reading from tables, it doesn't test flow setup / teardown and all the stu

[2017-07-07 15:06] cuongdo commented on #15775
@RaduBerinde do you have additional thoughts?

[2017-07-07 15:07] cuongdo commented on #10432
is this still making it into 1.1?

[2017-07-07 15:10] RaduBerinde commented on #15775
Yes I think we should add more read queries to `photos` as soon as possible. Longer term, we should also use a mixed-workload benchmark (like the one that combines TPC-C and TPC-H).

[2017-07-07 15:13] cuongdo commented on #15821
Where do this stand now?

[2017-07-07 15:15] cuongdo commented on #16320
did #16380 resolve this?

[2017-07-07 15:15] cuongdo commented on #15637
how is this looking for 1.1?

[2017-07-07 15:16] cuongdo commented on #14351
is this making it into 1.1?

[2017-07-07 15:18] cuongdo commented on #15667
how is this looking for 1.1?

[2017-07-07 15:20] justinj commented on #15821
I'm currently re-running the test suite since the recent alias additions should have improved our compatibility a decent amount. I'm going to try to bucket all the failures and see where we stand.

[2017-07-07 15:21] RaduBerinde commented on #14351
I don't think STDDEV and VARIANCE are priorities, bumping to 1.2.

[2017-07-07 15:25] cuongdo commented on #10083
@knz is this going to be resolved before 1.1 feature freeze?

[2017-07-07 15:28] cuongdo commented on #12611
how is this looking for 1.1?

[2017-07-07 15:38] RaduBerinde commented on #15637
We have a good idea of what we want to do here but nothing is implemented at this point.

[2017-07-07 16:21] benesch commented on #16922
Hmm, can't seem to reproduce. Could you apply https://github.com/facebook/rocksdb/commit/215076ef06eaa3d47771836a39c22160fbe05635 to c-deps/rocksdb in your branch and see if that fixes the problem?

[2017-07-07 16:22] benesch commented on #16922
`cd c-deps/rocksdb && git cherry-pick 215076e` applies cleanly for me.

[2017-07-07 17:08] #16818 closed

[2017-07-07 17:30] tschottdorf commented on #16922
Works with the cherry-pick.

[2017-07-07 18:11] petermattis commented on #13620
In more recent RocksDB releases, the option became `use_direct_io_for_flush_and_compaction` and only applies to reads and writes performed by background flushes and compactions. So direct IO could not be used as a replacement for syncing the WAL.

Enabling `use_direct_io_for_flush_and_compaction` on a write-only workload showed a 5-10% performance decrease. Disk utilization jump from ~50% to ~75%

[2017-07-07 18:32] knz commented on #10083
Iv'e scheduled a meeting to discuss this next week.

[2017-07-07 18:32] knz commented on #10083
It depends on #15388  too

[2017-07-07 19:16] #16922 closed

[2017-07-07 20:05] tschottdorf opened #16934 "restore: investigate "ingestion behind" option for SSTables"
From https://github.com/facebook/rocksdb/wiki/Creating-and-Ingesting-SST-files: I wonder if that is a useful option for SSTable ingestion during restore. Sure seems to me at first glance and it could help avoid anomalies that required special care in #16924 when there is already data in the range.

Ingestion Behind

Starting from 5.5, IngestExternalFile() will load a list of external SST files wit

[2017-07-07 20:05] tschottdorf commented on #16934
I guess the problem is with deletions, huh? Probably hard to overcome those...

[2017-07-07 20:40] tschottdorf opened #16935 "ci: run jepsen tests with --max-offset=experimental-clockless"
See #16867; we need to exercise that code.

[2017-07-07 21:29] tschottdorf opened #16937 "restore: push SSTable ingestion write amplification to 1x"
We currently make a copy of the sideloaded SSTable and ingest the copy. We should instead be able to ingest the original, but the fact that RocksDB may mutate the file (in a predictable way: writing a sequence number) makes this nontrivial.

It would be enough to write a "sanitizer" that reads a SSTable from disk but nulls out the sequence number again.

This is, of course, assuming that no other

[2017-07-08 01:44] cockroach-teamcity opened #16941 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/txn"
The following tests appear to have failed:

[#290514](https://teamcity.cockroachdb.com/viewLog.html?buildId=290514):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-08 03:12] benesch commented on #15589
Clang doesn't support `-mcrc32`, which is rather unfortunate. Not a dealbreaker, just something to be aware of.

[2017-07-08 03:22] benesch commented on #15589
What I think we want is to apply the `target("sse4.2")` function attribute to _only_ the FastCRC function.

[2017-07-08 03:57] cockroach-teamcity opened #16944 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/txn"
The following tests appear to have failed:

[#290550](https://teamcity.cockroachdb.com/viewLog.html?buildId=290550):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-08 08:04] andreimatei commented on #15667
Nothing has been done here.

[2017-07-08 08:22] mattiasmak commented on #16875
Ok, I see... There's actually not much going on. mostly simple writes and then one query that runs once every 6 hours...
Perhaps this query is what's casing it. Will investigate it.

Are there any tools that I can use in order to pinpoint the problem?

[code]

[2017-07-08 09:03] knz commented on #15667
Note this is bug fix not new feature work so the time frame is slightly more flexible.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-07-08 22:36] tschottdorf commented on #4890
Closing as too stale.

[2017-07-08 22:36] #4890 closed

[2017-07-08 22:37] tschottdorf commented on #16460
Nothing left to do here, it seems. Reopen if you disagree.

[2017-07-08 22:37] #16460 closed

[2017-07-09 02:33] tschottdorf opened #16947 "kv: TestSendNext_NonRetryableApplicationError wastes a whole minute"
Must be some timeout.

[code]

[2017-07-09 03:21] sean- commented on #14988
I've come around in my thinking about the use of advisory locks since I posted this above.  From my [review of the PostgreSQL HA backend](https://github.com/hashicorp/vault/pull/2700#pullrequestreview-48765978):

Hopefully that PR will also make Vault usable for CRDB.  I deliberately kept the SQL in my review simple and did not suggest the use of wCTEs to perform the `DELETE` + `INSERT` in order t

[2017-07-09 17:29] petermattis opened #16948 "perf: investigate using RocksDB 2PC mechanism for Raft log"
RocksDB supports a [2 phase commit mechanism](https://github.com/facebook/rocksdb/wiki/Two-Phase-Commit-Implementation) for use by [RocksDB transactions](https://github.com/facebook/rocksdb/wiki/Transactions) (which we do not currently use).

The 2PC mechanism allows persisting a `WriteBatch` (via a prepare operation) to the RocksDB WAL without the mutations being applied to the `MemTable`. A subs

[2017-07-09 18:41] tschottdorf commented on #16947
I think that test doesn't apply any more and just happens to still pass. @bdarnell, care to take a look?

[2017-07-10 01:49] benesch commented on #14284
This reoccured in v1.1-alpha.20170622.

[2017-07-10 01:50] benesch commented on #14284
https://teamcity.cockroachdb.com/viewLog.html?buildId=282702&buildTypeId=Cockroach_ReleaseBuild&tab=buildLog&_focus=123#_state=123

[2017-07-10 06:05] tschottdorf opened #16950 "storage: re-enable Raft PreVote RPC"
Enable the Raft PreVote feature. Note, the implementation of Raft PreVote exists, but stability issues arose when it was turned on. This task is about fixing those issues (if they still exist).

Raft PreVote is a mechanism to lessen the impact of a rogue replica calling a Raft election. When a replica calls a Raft election it forces the current leader to step down and we have to wait for the elect

[2017-07-10 13:12] #16803 closed

[2017-07-10 13:26] cockroach-teamcity opened #16952 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#291762](https://teamcity.cockroachdb.com/viewLog.html?buildId=291762):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-10 14:02] #14140 closed

[2017-07-10 14:36] knz commented on #6637
@danhhz it doesn't matter that the work is batched in principle; the rows of RETURNING output values can be accumulated in memory until the upsert node's next/values methods are called. I do not think this is a big effort, it does fit the existing execution model.

[2017-07-10 14:43] dianasaur323 commented on #5811
A user also mentioned an issue with this when trying to load in pg dumped file. @nstewart

[2017-07-10 14:44] RaduBerinde commented on #15729
I am not able to reproduce any failures, except an occasional leaked goroutine in `waitForDrainSignalFromConsumer` (#16402). I wonder if that's the failure saw on Jun 8 (the link above doesn't work, CC @jordanlewis)

[2017-07-10 14:48] RaduBerinde commented on #15729
Ah sorry, I was thinking that's Jul 8, not Jun 8, makes sense that it's no longer available.

[2017-07-10 14:52] petermattis opened #16954 "storage: use IngestExternalFile instead of WriteBatches for applying snapshots"
Sending a snapshot of a range currently involves generating a series of 256KB `WriteBatches` which are then applied on the recipient. Per the recent work to use the RocksDB `IngestExternalFile` functionality for restore, it would likely be significantly faster on the recipient to send an sstable instead. Using `IngestExternalFile` for applying snapshots should be straightforward in comparison to t

[2017-07-10 14:52] a-robinson commented on #16952
I haven't seen typescript fail like this before, but I'm not gonna worry about it unless it keeps happening.

[2017-07-10 14:52] #16952 closed

[2017-07-10 14:54] dianasaur323 commented on #14848
@nstewart I popped this up into 1.2 since another user asked about this. It was previously in "Later," which often becomes a hiding spot for important issues. I think this is a relatively important parity feature to have at some point.

[2017-07-10 14:58] cuongdo commented on #15667
While the timing is slightly more flexible for this, let's try to get this done earlier if it involves significant code movement.

[2017-07-10 15:03] rjnn opened #16957 "sql: proposal to add a virtual table to query time series metrics"
Currently, adding time series metrics to the Admin UI is difficult, because the workflow involves two somewhat orthogonal sets of operations:
1) Think hard about the metric you want, reason about its semantics, and add the code to capture the metric.
2) Write UI code to display this metric in a new graph in the Admin UI.

The problem is that when we see bugs in a graph (of which there have been ma

[2017-07-10 15:20] tschottdorf commented on #16954
One "problem" is that we always put a range tombstone down right before the ingestion, which would force the SSTable into higher layers. That said, it's probably still faster than what we have today.

[2017-07-10 15:25] couchand commented on #12143
I'm picking this up again and starting to look into what would be useful here.  Some initial remarks:

The big picture goal is to add visibility into the processing of DistSQL queries, specifically the processing on one node for a query made to another, as well as intra-cluster network traffic.  This information isn't currently reflected in the Admin UI.  DistSQL queries tend to be the pretty heav

[2017-07-10 15:38] a-robinson commented on #16957
Without commenting on whether we should do this (beyond noting that mapping/restricting SQL queries to timeseries queries will take quite a bit of thought), I'll just say that pushing to a prod cluster and using Grafana has worked great for me in the past when I wasn't sure about a metric.

[2017-07-10 15:39] RaduBerinde commented on #16042
I'll take this since I'm hitting it while trying to repro different failures.

[2017-07-10 15:49] bdarnell opened #16959 "hlc: Detect local time jumps"
We currently detect clock offsets with RPC heartbeats, which cannot be run too frequently because of the associated network traffic. We could have local-only detection of clock jumps using a goroutine that loops on a Ticker and compares the actual time when it wakes up to the expected time. A significant deviation from the expected interval is a sign that the clock has jumped (or that the process

[2017-07-10 16:14] petermattis commented on #16959
I whipped this up a while back while investigating something: https://github.com/petermattis/cockroach/commit/4c0eef90bc847c40aa07108eac621b503cbe5d18

[2017-07-10 16:24] petermattis commented on #14108
I'm suspicious that a significant part of the performance degradation is due to the increasing data size and the workload. With RocksDB, write amplification is a factor of various knobs and how much data is present. As more data gets added, more levels of RocksDB get used where each additional level is 10x the size of the previous level.

How does the workload play into this? For both `ycsb` and `

[2017-07-10 16:58] mberhault opened #16962 "release: 1.1-alpha.20170713"
Candidate SHA: 6ba72ad700340e95483d4d96000a141e3d528f84
Deployment status: `adriatic`, `blue`, `cerulean`, `omega`

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] Deploy to test clusters, fill in `Deployment status` above
- [x]

[2017-07-10 17:27] danhhz opened #16964 "backup: OOM during lapis backup/restore"
I ran the lapis backup/restore test later in the day (so with more data than usual) and the first backup OOM'd. This used to work. The last memprof looks like a bunch of tracing stuff, but I don't have time to dig into it this second, so leaving this here as a placeholder.

memprof and binary are located on lapis 2 at 16964.tgz

[2017-07-10 17:29] bdarnell commented on #16937
Another thing to watch out for is that if we're using hard links we must make sure we never ingest the same file twice, since each ingestion will try to make conflicting modifications to the file.

[2017-07-10 18:06] bdarnell commented on #16875
A 5-table join could definitely run into memory issues, depending on how much data is in those tables. The [`EXPLAIN`](https://www.cockroachlabs.com/docs/stable/explain.html) command can show you the query plan and might help identify opportunities for improvement. Our query planner is not yet very smart and sometimes you have to help it by reordering things or giving it other hints.

What about t

[2017-07-10 18:27] vivekmenezes commented on #16875
We're implementing a scheme for offloading to external storage for queries that use up a lot of memory: https://github.com/cockroachdb/cockroach/issues/15206

[2017-07-10 18:41] arjunravinarayan opened #16966 "restore: TPC-H restore from azure is broken on master"
`git checkout master`
`make build`
`./cockroach start --insecure --background`
`./cockroach sql --insecure`
[code]

Checking out `v1.0.3` and running the above commands does not result in the same error; it restores fine.

[2017-07-10 18:43] danhhz commented on #16966
@mjibson looks like the azure export storage is acting up

[2017-07-10 18:52] mjibson commented on #16966
I wasn't able to reproduce this on my machine. What environment are you running on? Docker, GCE, AWS, laptop? The cert error is suspicious.

[2017-07-10 19:00] arjunravinarayan commented on #16966
laptop (OS X), just vanilla checkouts of master and v1.0.3 respectively.

[2017-07-10 19:02] bdarnell commented on #16948
With @irfansharif's work we can tune the raft log rocksdb instance separately, making this less likely.

I'm not sure I follow. Is the idea that raft log entries are persisted solely in the WAL and never written to the memtable (and therefore never written to on-disk sstables)?

I think that using a separate rocksdb instance for the raft log gives us most of the potential benefit here. Separately,

[2017-07-10 19:07] petermattis commented on #16948
I'm not sure if tuning RocksDB will help. I think we'd need to bump up how aggressively we truncate the Raft log. One thought I just had is that we could indicate that the Raft log should be truncated in quiesce heartbeat messages.

The idea is that Raft log entries are solely persisted to the WAL and the eventual application of the entry does not involve writing the contents of the Raft log (the

[2017-07-10 19:22] irfansharif commented on #16948
As mentioned [here](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/dedicated_raft_storage.md#implementation-strategy), whenever we truncate we need to first sync the primary RocksDB instance.  Repeated this detail in the implementation [here](https://github.com/irfansharif/cockroach/blob/20a3981d556c4449ee5aa82cffc8cb1b9411c3bd/pkg/storage/replica.go#L4488) and my first thinking wa

[2017-07-10 19:24] #16817 closed

[2017-07-10 19:27] petermattis commented on #16948
With the separate rocksdb instance for the Raft log, we're still writing the `WriteBatch` for each command: once to the Raft log rocksdb instance WAL and once to the normal rocksdb instance WAL. The proposal here would allow us to write it only once. If this wasn't clear from the above, I need to work on my writing clarity.

[2017-07-10 19:30] bdarnell commented on #16948
Oh, so the "prepare" is not writing the entry to the log, it's effectively applying the command but leaving the transaction open. Interesting. I think that could work and would reduce our write amplification by a lot. But there are a lot of open questions about how we'd reconstruct the log entries after leadership changes, and the increased use of snapshots might be too big of a downside. It's wor

[2017-07-10 19:33] petermattis commented on #16948
It's actually the reverse: the "prepare" writes the entry to the WAL but does not add it to the memtable. The subsequent "commit" adds to the memtable but does not write the mutations to the WAL (only a "commit" marker is written). I need a whiteboard to diagram exactly how this works.

Yes, there are a ton of open questions here.

[2017-07-10 19:37] arjunravinarayan commented on #10432
Yes, this and merge join planning are next up after I merge the external storage PR.

[2017-07-10 19:37] bdarnell commented on #16948
Yeah, that's what I meant. We'd go through most of the `applyRaftCommand` code path when "appending the entry to the log" (which is mostly applying the write batch, but there's a little more to it) and prepare that as a transaction, then commit it (and run all the proposal side effects) where we currently call applyRaftCommand.

[2017-07-10 19:39] petermattis opened #16967 "storage/engine: make memtable budget responsive to cache-size"
On #16929, @bdarnell writes:

The actual memtable memory usage will be between 0-128MiB as there will be between 1-2 memtables except under extraordinary circumstances. Perhaps we should subtract off a fixed budget from the configured cache-size. Sizing the memtable memory usage down is somewhat more problematic as the memtable size affects the size of files in L0 which then interacts with how tho

[2017-07-10 19:43] petermattis commented on #16948
Yeah, something like that. I'm not sure if we'd want to actually use a RocksDB transaction, though. There appears to be some associated lock manager that we might want to avoid. We might need to add a separate blob of "log data" to the `WriteBatch` so we can reconstruct the Raft log entry if the happy/fast path fails.

[2017-07-10 19:58] #12142 closed

[2017-07-10 20:07] arjunravinarayan commented on #16966
Closed as unreproducible, it appears there was some certificate failures, that could have been caused by not doing complete `make clean && make build` builds.

[2017-07-10 20:07] #16966 closed

[2017-07-10 20:29] cockroach-teamcity opened #16969 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/txn"
The following tests appear to have failed:

[#292383](https://teamcity.cockroachdb.com/viewLog.html?buildId=292383):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-10 20:58] justinj opened #16971 "sql: support Hibernate's use of _pg_expandarray"
Adding an index to a table in Hibernate issues a query which makes use of this. Note that supporting this also means that we would need to support record types. The query below should work, if this is implemented:

[code]

This function takes an array `a` and returns a set of records that looks like the following:
[code]

The work is to be decomposed as follows:

- [x] support the set-generating f

[2017-07-10 21:07] petermattis commented on #16948
RocksDB guarantees it won't garbage collect log files with prepared-but-uncommitted transactions. When appending the Raft log entry to the WAL, it would be great if we could add a key indicating the position of the entry in the WAL. This isn't currently possible with RocksDB but seems like a feasible enhancement. We'd want to eventually abort these Raft log entry transactions in order to allow the

[2017-07-10 21:27] bdarnell commented on #16954
Since the receiving side could stream the sstable straight to disk, we could also avoid holding the entire snapshot in memory at once on the recipient. This would be an important step towards being able to increase the default range size from 64MB.

[2017-07-10 21:30] cockroach-teamcity opened #16972 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order"
The following tests appear to have failed:

[#292475](https://teamcity.cockroachdb.com/viewLog.html?buildId=292475):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-10 21:32] bdarnell commented on #16950
The symptom, IIRC, was that after a leader died, the next election just wouldn't succeed. I can't remember whether the range would just do one election and get stuck or if it would go in a loop of elections (or pre-elections) that never resolved.

[2017-07-10 21:39] #16591 closed

[2017-07-10 21:48] #16042 closed

[2017-07-11 00:38] cuongdo commented on #12143
I would put #1 and #3 first. These would make in-progress DistSQL queries visible.

The others are maybe for later. I've tried to add inter-node traffic metrics in the past, and it wasn't possible to get the full bytes in/out including gRPC protocol overhead. I believe that's since been fixed with gRPC interceptors, but I don't know what's involved in creating one.

[2017-07-11 00:52] a-robinson commented on #12143
There are [ready-made interceptors for getting prometheus metrics from grpc connections](https://github.com/grpc-ecosystem/go-grpc-prometheus), although I don't know if any of us have looked at them too closely.

[2017-07-11 02:11] hach-que opened #16978 "Feature Request: Row-level replication control"
We'd like the ability to be able to configure replication on a per-row basis, so that we can control which regions individual rows are replicated into. This is intended to reduce read and write latency on data that only needs to be accessed initially in one region, while allowing replication to other regions to be enabled per-row as the application sees fit.

Use case as discussed on Gitter:

as f

[2017-07-11 02:13] hach-que commented on #16978
The MySQL-based design in the linked document is based on using dedicated columns in the table for configuring replication - I would imagine the implementation in CockroachDB would be similar so that it's easy for client applications to modify or set it while inserting or updating data (as opposed to table or database replication control which requires configuration of zones from the command-line)

[2017-07-11 03:05] jordanlewis commented on #16972
#16096

[2017-07-11 03:05] #16972 closed

[2017-07-11 03:40] #16828 closed

[2017-07-11 03:51] cockroach-teamcity opened #16979 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/default, testrace/TestLogic/default/txn"
The following tests appear to have failed:

[#292712](https://teamcity.cockroachdb.com/viewLog.html?buildId=292712):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-11 06:24] cockroach-teamcity opened #16980 "teamcity: failed tests on release-1.0:"
The following tests appear to have failed:

[#292930](https://teamcity.cockroachdb.com/viewLog.html?buildId=292930):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-11 10:57] Docjones commented on #16756
Hello,

after having the cluster running for several days, the overall memory consumption stalls at around 2.5GB. Apparently, the issue can be closed.

Thanks @bdarnell for your help
regards

[2017-07-11 11:45] rampage644 commented on #13342
I plan to implement those, if there is no objections.

[2017-07-11 13:08] cuongdo commented on #13342
cc @asubiotto

[2017-07-11 13:30] asubiotto commented on #13342
That would be great @rampage644, thank you!

[2017-07-11 13:34] a-robinson commented on #16980
Looks like we'll have to cherrypick #16965

[2017-07-11 13:38] tamird commented on #16980
Will do, thanks for triaging.

On Jul 11, 2017 09:34, "Alex Robinson" <notifications@github.com> wrote:

Looks like we'll have to cherrypick #16965
<https://github.com/cockroachdb/cockroach/pull/16965>

—
You are receiving this because you were assigned.

Reply to this email directly, view it on GitHub
<https://github.com/cockroachdb/cockroach/issues/16980#issuecomment-314444911>,
or mute the thre

[2017-07-11 13:46] petermattis commented on #16978
@hach-que Table partitioning is on our roadmap. See https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/sql_partitioning.md for the proposed design. Feedback is welcome.

[2017-07-11 15:57] RaduBerinde commented on #15729
#16958 should make future reports have more useful information about the error.

I was able to reproduce a different, more serious, failure - an actual serializability violation.
I ran `make stress PKG=./pkg/sql/logictest TESTS=TestParallel/subquery_retry_multinode STRESSFLAGS='-p 32'`in an azworker and after ~18minutes (6884 runs) I got this:

[code]
which means that there was one duplicate value

[2017-07-11 16:13] dianasaur323 commented on #12143
We've been re-framing the admin UI strategy recently - if these graphs are going to make it into the admin UI, I'd like to tie a clear user story to the graphs so that users can answer valuable questions vs making the admin UI more confusing with more graphs.

With this in mind, it sounds like the main reason we want these is so that users can gain more insight into how their SQL queries (specific

[2017-07-11 16:24] tschottdorf commented on #15729
Haven't looked, but could be https://github.com/cockroachdb/cockroach/issues/16610. I'll cross-post this there to evaluate whether it's the same once that issue is fixed.

[2017-07-11 16:24] tschottdorf commented on #16610
from @RaduBerinde in #15729:

I was able to reproduce a different, more serious, failure - an actual serializability violation.
I ran `make stress PKG=./pkg/sql/logictest TESTS=TestParallel/subquery_retry_multinode STRESSFLAGS='-p 32'`in an azworker and after ~18minutes (6884 runs) I got this:

[code]
which means that there was one duplicate value in the table
[code]

[2017-07-11 16:28] andreimatei commented on #15670
I don't know how much work it is to fix this, I have to look at the code. But I don't think it's a particularly big deal; I think this just affects the log messages from expression evaluation.

[2017-07-11 16:41] tschottdorf commented on #16941
#16914

[2017-07-11 16:41] #16941 closed

[2017-07-11 16:41] tschottdorf commented on #16944
#16914

[2017-07-11 16:41] #16944 closed

[2017-07-11 16:41] tschottdorf commented on #16969
#16914

[2017-07-11 16:41] #16969 closed

[2017-07-11 16:41] tschottdorf commented on #16979
#16914

[2017-07-11 16:41] #16979 closed

[2017-07-11 16:41] tschottdorf commented on #16914
This one is obnoxious, looking.

[2017-07-11 16:42] TomHunt3r commented on #15887
is there a way run < Window 8 version

[2017-07-11 16:44] andreimatei commented on #16914
Please try increasing the 50ms in `logic_test/txn:625` and see if that helps.

[2017-07-11 16:45] tamird commented on #15887
I don't believe so.

[2017-07-11 16:50] cuongdo commented on #12143
My main reason for filing this issue is that long-running DistSQL queries are nearly invisible. They don't affect the QPS graph until they finish, and because long-running queries are generally less frequent than OLTP queries, they're not very visible on the QPS graph.

To put it another way, TPC-H scale factor 1 query 1 takes ~100 seconds. For that whole 100 seconds, that query is invisible in ad

[2017-07-11 17:16] dianasaur323 commented on #12143
@cuongdo That definitely sounds like an important reason to provide more graphs. My point of jumping in was just to make sure that we put in graphs that aren't too low-level -> basically, this will be relatively easy for day-to-day users to understand, and doesn't enable query analysis / optimization since that is out of scope, and I don't think adding in time series is the best approach for that

[2017-07-11 17:18] cockroach-teamcity opened #16986 "teamcity: failed tests on master: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/txn"
The following tests appear to have failed:

[#293428](https://teamcity.cockroachdb.com/viewLog.html?buildId=293428):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-11 17:25] #16914 closed

[2017-07-11 17:25] tschottdorf commented on #16986
Fixed in https://github.com/cockroachdb/cockroach/pull/16984

[2017-07-11 17:25] #16986 closed

[2017-07-11 17:35] #15933 closed

[2017-07-11 17:38] RaduBerinde commented on #15670
Ah, from the description it seemed that this is about an `EvalContext` being wrong, but it's about a `context.Context`, so it's not really that important. Moving to 1.2.

[2017-07-11 18:23] #16980 closed

[2017-07-11 19:07] cockroach-teamcity opened #16994 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order"
The following tests appear to have failed:

[#293774](https://teamcity.cockroachdb.com/viewLog.html?buildId=293774):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-11 19:45] vivekmenezes commented on #16727
One possible way this can happen is if there are two transactions running. Transaction 1. BEGIN transaction, run schema change, INSERT, COMMIT. Transaction 2. Run SELECT

Transaction 1 has modified the schema but not yet committed and attempts to  run INSERT which requires a table descriptor. Transaction 2 runs in the mean time and attempts to acquire a lease on the table. Transaction 1 lease acqu

[2017-07-11 20:41] arjunravinarayan commented on #15775
@RaduBerinde do note that mixed-workload benchmark that combines TPCC and TPCH requires that we have TPCC first! There are also complications with mixing those workloads correctly, naively doing it does not work as well (you need to make sure the TPCH query durations overlap with the TPCC updates, which, for instance, the OLTPBench chBenchmark does not do correctly).

I've added a PR (cockroachdb/

[2017-07-11 20:56] drnybble commented on #6583
Any ETA on supporting this SQL syntax? We have a project using openjpa and it generates this SQL using the postgresql driver.

[2017-07-11 21:17] RaduBerinde commented on #15775
Is the `chBenchmark` implemented according to [this](https://research.tableau.com/sites/default/files/a8-cole.pdf) paper?

[2017-07-12 01:16] hach-que commented on #16978
@petermattis I'm having a read through the proposal, and it seems the current design is based on primary keys for determining partitions - that is, you'd have to change the identifier of the row in order to move the data.  It's quite possible that I'm reading it wrong though.

So in the `users` / `region` example in the proposal, a query we'd want to run based on monitoring out-of-region writes is

[2017-07-12 07:23] mattiasmak commented on #16875
Each node in the cluster has 2GB of memory. Will add some monitoring on memory usage. Will also check the query plan. Thanks.

[2017-07-12 11:08] RaduBerinde commented on #13342
One thing needs to be added to the joiners to implement this: the ability to output "merged" equality columns (see `numMergedEqualityColumns` in `joinPredicate`).

[2017-07-12 12:19] petermattis commented on #16978
@hach-que Thanks for the feedback. I'll let @danhhz and/or @dt answer your questions as they authored the RFC I pointed to.

The proposal discusses controlling where the replicas for a row are placed (via ZoneConfigs). Cockroach does not expose control of which replica is the leaseholder (I think this is what you mean by the authority). Instead, Cockroach automatically determines the placement of

[2017-07-12 14:11] a-robinson opened #16998 "runtime.errorString: runtime error: invalid memory address or nil pointer dereference"
https://sentry.io/cockroach-labs/cockroachdb/issues/309335913/

[code]

[2017-07-12 14:34] vivekmenezes commented on #9149
We should look at the interaction between OLTP work loads and the faster schema change backfill mechanism once it's complete.

[2017-07-12 14:42] cuongdo opened #16999 "acceptance: max clock offset exceeded in nightly photos test"
* build: 6b48d06
* failed test: [continuous photos load, 4 hours 6 nodes ](https://teamcity.cockroachdb.com/viewLog.html?buildId=294155&buildTypeId=Cockroach_Nightlies_ContinuousPhotos4Nodes6hours)
* [logs for failing node](https://teamcity.cockroachdb.com/viewLog.html?buildId=294155&buildTypeId=Cockroach_Nightlies_ContinuousPhotos4Nodes6hours&tab=artifacts#!12njl7i)

The issues started right afte

[2017-07-12 14:46] cuongdo commented on #16999
The call to `ntpdate -b` is failing:

[code]

[2017-07-12 14:47] cuongdo commented on #16999
Actually, I'll look into this, since I have Terraform setup already.

[2017-07-12 14:51] mberhault commented on #16999
Yeah, `timedatectl set-ntp false` doesn't let ntpdate run, the socket it
still busy.

On Wed, Jul 12, 2017 at 10:47 AM, Cuong Do <notifications@github.com> wrote:

[2017-07-12 14:53] benesch opened #17000 "scatter: downreplication takes a long time"
Discovered while implementing a proper scatter in #16249. `AdminScatter` is able to very quickly upreplicate (e.g., in a few minutes), but the replicate queue can take ten minutes to downreplicate. Figure out why; @a-robinson claims the downreplication should take approximately as long as the upreplication.

This behavior is easy to reproduce with a four-node local cluster with preeexisting data:

[2017-07-12 14:56] benesch opened #17001 "unthrottled empty snapshots bring a cluster to its knees"
Discovered while implementing a real scatter in #16249. We cap the number of empty snapshots that can be applied concurrently at 128; removing the limit entirely causes snapshots to take upwards of 15s (!!) to apply, rather than the usual 1-10ms.

Reproduce by running a 2tb restore on a three node cluster, then increasing the number of nodes to four right before scattering starts.

[2017-07-12 15:01] RaduBerinde commented on #16999
Hm, can't repro on azworker, tried `while true; do date; sudo timedatectl set-ntp false; sudo ntpdate -b ntp.ubuntu.com; sudo timedatectl set-ntp true; done`

[2017-07-12 15:03] mberhault commented on #16999
Do the azworkers have ntp installed? If not, that's probably why.

On Wed, Jul 12, 2017 at 11:01 AM, RaduBerinde <notifications@github.com>
wrote:

[2017-07-12 15:05] RaduBerinde commented on #16999
It has the systemd timesync service installed by default. Do these systems install ntp in addition to that?

Maybe adding the `-u` flag would help (https://superuser.com/a/639516/595017)

[2017-07-12 15:12] RaduBerinde commented on #16999
I see that we install `ntp` in `main.tf`. We should not do that. Or, if we want to standardize on using ntp instead of systemd-timesync, we should install ntp in the azworker as well and revert the change to this script.

[2017-07-12 15:14] arjunravinarayan commented on #15775
I do not know how faithfully the OLTPBench code follows that paper, but the raw code is [here](https://github.com/oltpbenchmark/oltpbench/tree/master/src/com/oltpbenchmark/benchmarks/chbenchmark)

[2017-07-12 15:56] RaduBerinde commented on #16999
Note that when `ntp` is installed, when we stop the service, `systemd-timesyncd` takes over and still syncs the clock. So the correct thing to do is to still disable the latter with `timedatectl set-ntp false`. This is all very confusing so I think the best thing is to stop using ntp and just rely on the default systemd mechanism.

[2017-07-12 16:09] #15589 closed

[2017-07-12 17:26] arjunravinarayan opened #17005 "sql: support for ORDER BY PRIMARY KEY would be useful"
The precise syntax is bikesheddable, but it would be nice to have a shorthand syntax for ordering results by primary key ordering.

Postgres doesn't officially guarantee ordering if the ordering is unspecified, but typically a `SELECT * LIMIT 1` gives you the first row by PK order (at least, in my experience). In a distributed setting like CockroachDB, this is far less likely to be the case: You j

[2017-07-12 18:00] bdarnell opened #17008 "sql: RETURNING should accept fully-qualified table names."
For a table `t` containing column `c` in database/schema `d`, this query works in postgres but not in cockroach:

    INSERT INTO d.t VALUES (1) RETURNING d.t.c;

    pq: table "d.t" not selected in FROM clause

SQLAlchemy likes to use fully-qualified table names like this in some situations; see cockroachdb/cockroachdb-python#30.

[2017-07-12 19:22] benesch commented on #17001
Sampling of the problem:
[code]

[2017-07-12 19:36] RaduBerinde opened #17011 "distsql: testrace failure in listenForDrainSignalFromConsumer"
https://teamcity.cockroachdb.com/viewLog.html?buildId=294650&buildTypeId=Cockroach_UnitTests

[2017-07-12 19:54] knz commented on #17005
So we already have a syntax to specify indexes, e.g. `select * from mytable@primary` will order by the PK as long as the create table statement didn't override the PK index' name.

Is it right to understand that you would like to extend this ability to make it possible to guarantee PK index selection even if it has a different name?
--
Sent from my Android device with K-9 Mail. Please excuse my br

[2017-07-12 20:51] #17011 closed

[2017-07-12 21:20] tschottdorf commented on #16071
@benesch also hit this, with the `portable` binary. We resuscitated the knowledge on how to get core dumps so hopefully soon all our clusters will automatically get core dumps on segfaults. Also will switch to the release-linux-gnu binary to avoid this crash.

[2017-07-12 21:44] mberhault opened #17013 "stability: OOMs on v1.1x due to jemalloc 5.0.0 changes."
Lightstep tracing has been disabled on our test clusters since we moved it to a cluster setting. I just re-enabled it this morning as part of cluster setting initialization: https://github.com/cockroachlabs/production/pull/443

Shortly after filling in the lightstep token, clusters started either OOMing (`omega`, `adriatic`) or experiencing massive memory spikes (`blue`, `cyan`). All running v1.1.

[2017-07-12 21:55] mberhault commented on #17013
may be related to #16964

[2017-07-12 23:02] mberhault commented on #17013
`trace.debug.enable` was also set to true. I'm thinking this may have an impact as well, albeit not as huge as lightstep.
I'll try to reproduce this with clean runs. eg: disable all tracing, full stop/start cluster (not rolling), selectively enable tracing

[2017-07-13 00:11] RaduBerinde opened #17015 "sql: collated strings don't always need to be "composite" key/values"
We have the ability to decide on a per-row basis whether a specific datum requires composite encoding (via `CompositeDatum.IsComposite`). We use this for decimals (only those ending in a `0` need to be composite).

I think we should consider doing the same for collated strings - if the collation key happens to match the string exactly (which in practice should be very common I think?) we don't nee

[2017-07-13 01:08] RaduBerinde commented on #16320
I reran these queries on a single-node instance with scalefactor=1. Query 8 which used to blow through a multi-gig budget now takes between 256-512Mb. Query 1 under 32Mb. Query 9 still exceeds the budget.

Closing this (remaining tasks like mergejoins and disk-based joins are tracked elsewhere).

[2017-07-13 01:08] #16320 closed

[2017-07-13 01:11] #16999 closed

[2017-07-13 02:03] fire commented on #13857
https://docs.openshift.com/container-platform/3.5/dev_guide/secrets.html#service-serving-certificate-secrets Allows generation of certificates via openshift origin (kubernetes). It looks useful for this case.

[2017-07-13 02:07] fire commented on #13857
Note that one service certificate is generated for all the nodes.

If you want a client certificate you'll need to use manual commands.

[2017-07-13 02:17] fire commented on #13857
Interesting find. https://github.com/kelseyhightower/certificate-init-container

Per pod certificates.

[2017-07-13 02:57] fire commented on #13857
https://kubernetes.io/docs/admin/kubelet-tls-bootstrapping/#approval-controller

This doc describes auto approval for both clients and server (feature gated).

[2017-07-13 03:05] arjunravinarayan commented on #17005
Yes. I don't know why people ever rename their primary key indexes, but apparently they do.

[2017-07-13 03:14] mberhault commented on #13857
Certificates (both client and node) work with kubernetes, we just haven't written up the proper docs yet, just the basic ones in https://github.com/cockroachdb/cockroach/tree/master/cloud/kubernetes
There's still some work to do (one big caveat right now is that clients can only start with 1 replica to avoid conflicting certificate requests, once approved they can scale to whatever is desired) and

[2017-07-13 04:17] benesch commented on #17001
This will actually be fixed by the final version of #16249, but leaving this open until I have a reproducible test case I can send upstream. The solution in RocksDB is likely to trigger a compaction when an SST contains too many range deletion tombstones.

[2017-07-13 04:36] fire commented on #13857
Is it possible to write instructions of using insecure-experimental-approve-all-kubelet-csrs-for-group?

In kube 1.7 there's a rbac version, but that's not ready yet.

[2017-07-13 09:14] andreimatei commented on #17005
Does the `select for table@index` imply an ordering?

[2017-07-13 10:50] mberhault commented on #16962
Only issue so far is trace-related memory consumption (#17013). This is probably not new in 1.1 and off by default so proceeding.

[2017-07-13 11:32] knz commented on #17005
@andreimatei this syntax is a crdb extension, it currently happens to work and we could from now on also specifies that it works.

[2017-07-13 23:18] #16962 closed

[2017-07-14 00:21] sean- commented on #14988
It would be really nice if someone from CockroachDB ( @bdarnell ?) could comment on the use of range types (specifically timestamp with timezone ranges).

https://github.com/hashicorp/vault/pull/2700/files/b957d7c6963b8b11a95cb2022ef1f0451af9dcc9#r127361754

[2017-07-14 12:26] jgehrcke commented on #15760
Also, `ca.key` should *never* be passed to CockroachDB unless CockroachDB is intended to sign/issue certificates.

(The help text `- CA certificate and key: ca.crt, ca.key` should not encourage operators to actually place the private key corresponding to their signing CA certificate into said directory).

[2017-07-14 13:40] arjunravinarayan commented on #17005
1. What would be the point of reading from a specific index and not following that index's order?
2. The `select from table@index` isn't well documented. (Basically just the syntax diagrams)

[2017-07-14 14:02] marcuswestin commented on #6637
👍

[2017-07-14 15:05] a-robinson opened #17021 "runtime.errorString: runtime error: invalid memory address or nil pointer dereference"
https://sentry.io/cockroach-labs/cockroachdb/issues/310796530/

[code]

[2017-07-14 15:14] andreimatei commented on #17005
The point is to force index selection. E.g. consider the non-obvious choice between a covering index and an index that limits the search space but is not covering.
I don't think that the syntax currently has anything to do with ordering; I don't think that it "happens to work" as @knz says. But I haven't checked the code so I could be wrong. (Or maybe it works by virtue of DistSQL not accepting th

[2017-07-14 15:21] knz commented on #17005
@andreimatei distsql does support the syntax. Which also implies my idea is bogus - the ordering has nothing to do with which index is used, so it's not sound to recycle the index selection syntax to determine ordering.

[2017-07-14 15:47] arjunravinarayan commented on #17005
Well, then I got lucky using that syntax to get an ordering (or maybe didn't notice that I was getting wrong results!).

Nevertheless, it would be nice to have `ORDER BY <index>`. Are we agreed on that?

[2017-07-14 16:10] knz commented on #17005
yes I am working on it now.

[2017-07-14 16:37] dt commented on #16028
Done.

[2017-07-14 16:37] #16028 closed

[2017-07-14 17:15] bdarnell opened #17022 "sql: Support RANGE types"
Postgres has a [set of RANGE](https://www.postgresql.org/docs/current/static/rangetypes.html) types. Basic support for these types would be pretty easy (they're essentially pairs of values with a few extra functions/operators), although the most interesting capabilities of these types require GIST indexes.

Requested in https://github.com/cockroachdb/cockroach/issues/14988#issuecomment-315236230

[2017-07-14 19:12] #17005 closed

[2017-07-14 19:51] cuongdo commented on #16262
Reassigning unassigned 1.1 issues. Is this staying in 1.1?

[2017-07-14 19:54] cuongdo commented on #15939
@RaduBerinde can you reassign?

[2017-07-14 19:54] cuongdo commented on #15765
@vivekmenezes please assign

[2017-07-14 20:18] rjnn opened #17028 "sql: better document the details of orderings"
Orderings of streams is a complicated topic. The process of reviewing #16997 revealed that there are many subtleties in combining orders (e.g. when considering what ordering will result when merging two streams for a JOIN). These subtleties are not well documented, or particularly well understood outside the authors of the specific ordering code.

First, orderings are not well defined (and hence p

[2017-07-14 21:06] RaduBerinde commented on #15939
@asubiotto I'll put this on your plate for now. We may need to move to 1.2 (not sure what is the current state of array encoding for table columns).

[2017-07-14 21:15] jordanlewis commented on #15939
cc @justinj

[2017-07-15 00:48] arjunravinarayan commented on #15939
@cuongdo This is not going to make it into 1.1, @asubiotto's other big priority is getting external storage for HashJoiners and there isn't time for both big projects to make it in in 1.1, so lets move it to 1.2 unless we can get more hands on deck between now and the 1.1 feature freeze.

[2017-07-15 00:58] petermattis commented on #16262
The restructuring of how we read from the pgwire connection is relatively small. Assuming Bilal's work properly deals with watching the `Context` for cancellation, I think the remaining work here should be straightforward.

[2017-07-15 07:08] mattiasmak commented on #16875
I created a new cluster with newest version of CockroachDB. Same thing happens.

Can you guide me how to solve this? This time a noticed node 3 of the cluster had the memory usage build up until it crashed. The 2 other nodes were stable until node 3 crashed.

I attach the query plan and the chart of the memory usage.

Beside from the query with joins the system does two more: One UPSERT and one IN

[2017-07-15 11:27] petermattis commented on #16875
@RaduBerinde Can you give some guidance on how to debug the memory issue going on with this query?

[2017-07-15 11:59] mattiasmak commented on #16875
I can't be sure it's this query. But the rest is just simple inserts. Table 'raw_visits' as 700.000 rows and table 'devices' 300.000 rows. The rest is pretty small 10-1000 rows.

Do you think this query can do this? It's an export-data-query that runs once every hour... However the graph indicates that the memory rises once every hour. But why doesn't it release the memory used when query is done?

[2017-07-15 12:04] mattiasmak commented on #16875
I attach screens from the three nodes CPU and Memory usage last 24 hours.

<img width="845" alt="node 3" src="https://user-images.githubusercontent.com/606639/28239197-8cdfc286-6966-11e7-8265-68659ceb6094.png">
<img width="839" alt="node 2" src="https://user-images.githubusercontent.com/606639/28239198-8ce2173e-6966-11e7-9c30-359ed8a9bcf7.png">
<img width="841" alt="node 1" src="https://user-image

[2017-07-15 12:39] mattiasmak commented on #16875
I made it open: http://67.207.72.227:8080/

[2017-07-15 13:20] RaduBerinde commented on #16875
A large query would not explain the large and increasing number of goroutines (1500 from a baseline of 80).. I would get a snapshot of the goroutines from a host while its memory usage is significantly increased (can be done from the page at `host-ip:8080/debug`, grep for "goroutines").

We cannot do this from our side unless we have public IPs for all the hosts, and the `server.remote_debugging.m

[2017-07-15 13:38] RaduBerinde commented on #16875
Great, thanks! Can you tell me which is which (the admin UI shows internal IPs)? Are they listed in the order .4.109, .48.94, .53.95?

[2017-07-15 13:57] RaduBerinde commented on #16875
The goroutine count isn't very high on either host right now. I looked at the goroutines and there is a distSQL query that seems to be stuck (could be #14948)

[goroutine-207.154.201.151.txt](https://github.com/cockroachdb/cockroach/files/1150372/goroutine-207.154.201.151.txt)

I enabled `trace.debug.enable` and will look at it a bit later when hopefully the mem usage and goroutine count goes high

[2017-07-15 14:01] RaduBerinde commented on #16875
@mattiasmak - from the client that is running this workload, can you tell if a query never returns? If a query gets stuck, would we still get a new query 6 hours later? (that would explain the increasing usage).

[2017-07-15 14:10] RaduBerinde commented on #16875
I tried to run the query above with a few recent startdates and it completes fine (and it doesn't seem to leave any goroutines around).

[2017-07-15 14:16] #16344 closed

[2017-07-15 14:21] RaduBerinde commented on #16875
Looking at the goroutines more closely, I don't think this is #14948. I don't see any outbox stuck trying to flush. I see some gorouties stuck on sending to RowChannels and others stuck on receiving, which is strange.

[2017-07-15 15:27] knz opened #17032 "server: can't hook initialization steps past cluster settings propagation"
This is stalling progress on e.g.  #17020: I can't find a place in the code to put an initialization steps that runs 1) *after* the cluster settings are loaded / propagated via gossip but 2) *before* the server is ready for client connections.

**There should be a hook in the code, clearly documented as such, where one can add initialization code.**

@dt suggests:

Unfortunately I was not myself a

[2017-07-15 17:46] #17021 closed

[2017-07-15 19:12] bdarnell commented on #17032
Potentially related to reworking of the server startup flow in #16371

[2017-07-16 11:57] tbg opened #17036 "log: on Fatal, dump any trace in ctx to logs"
When we encounter a fatal (and perhaps even regular) error we should print the trace (if any) to stderr before exiting. This will likely involve some hackery using reflection as neither lightstep nor net/trace added anything to their `opentracing.Span` implementation that would facilitate this.

cc @RaduBerinde

[2017-07-16 12:28] mattiasmak commented on #16875
Right now memory on: 46.101.183.149 is crazy high Are there things I should do? I don't want to touch anything at the moment.

[2017-07-16 12:34] tschottdorf commented on #16875
@mattiasmak it's quite early here, but perhaps you can capture `./cockroach debug zip` for the offending node? Note that that zip file may contain semi-sensitive information, so you may want to share it privately.

[2017-07-16 12:36] tschottdorf commented on #16875
Actually I just took a look and at least the mem stats on the ui don't look horrible, can you point me at what looks out of the ordinary?

[2017-07-16 12:39] tschottdorf commented on #16875
What I am seeing is that the goroutine count seems to be slowly increasing over the last week. That is unexpected. Definitely things in there that are running for more than a day. @RaduBerinde, looks like your kind of jam?

![image](https://user-images.githubusercontent.com/5076964/28247625-3329295c-6a02-11e7-91ed-f0a973975032.png)

![image](https://user-images.githubusercontent.com/5076964/282476

[2017-07-16 12:40] tschottdorf commented on #16875
![image](https://user-images.githubusercontent.com/5076964/28247634-6d7f6792-6a02-11e7-8a21-eec645bd4b4d.png)

[2017-07-16 12:43] tschottdorf commented on #16875
![image](https://user-images.githubusercontent.com/5076964/28247644-8ea2b226-6a02-11e7-8d6e-e9cd191494e4.png)
![image](https://user-images.githubusercontent.com/5076964/28247649-9a1c4e6e-6a02-11e7-8c1f-a4c8c4ec3bf9.png)
![image](https://user-images.githubusercontent.com/5076964/28247653-b1ac0e16-6a02-11e7-83ab-dfec745333a8.png)
![image](https://user-images.githubusercontent.com/5076964/28247656-c0

[2017-07-16 14:13] mattiasmak commented on #16875
<img width="845" alt="skarmavbild 2017-07-16 kl 16 13 26" src="https://user-images.githubusercontent.com/606639/28248247-bf085530-6a41-11e7-8139-609b99bce98b.png">

[2017-07-16 14:14] mattiasmak commented on #16875
This is what's out of the ordinary :)

[2017-07-16 17:42] shawnrichards commented on #16489
Hope you guys are going to give this the focus it deserves. Admin functions that fail to respond along with everything else precludes it from use in some of the crisis situations for which it was designed.

[2017-07-16 19:08] jjzazuet commented on #14848
I'll add one vote here. Spring session needs support for this statement in order to work out of the box. I'm currently working around it as well. Thanks!

[2017-07-16 21:23] tschottdorf commented on #16875
@RaduBerinde Note the `sql txn implicit` span -- it gets a bunch of leases, then heads into DistSQL and never comes back:

[code]

[requests.txt](https://github.com/cockroachdb/cockroach/files/1151357/requests.txt)

[2017-07-16 21:39] tschottdorf commented on #16875
I reproduced that that query isn't coming back:

[code]

 If you can afford to try it out, try `set cluster setting sql.defaults.distsql = 'off'` and see whether the query works (it may instead run very slowly and perhaps overload the cluster). If it does and you want to keep DistSQL off for now until we fix the bug, give the cluster a rolling restart to get rid of the stuck operations.

I'm confi

[2017-07-16 21:56] tschottdorf opened #17037 "sql: dump ignores ordering constraints from REFERENCES"
See the attached schema, seen in #16875. The file was created using

[code]

but it cannot be imported into a new cluster for a few reasons.

1. it does not attempt to create the database RO (obvious how to fix it)
1. it references table `venues` before it creates it.

This is similar when dumping the data: tables referencing a table may be dumped before the actual table is populated.

[schema.sql

[2017-07-16 22:16] danhhz opened #17038 "engineccl: investigate using memfs.file in NewMemSSTIterator"
It currently creates a memfs aynd uses Write, which results in a memory copy of the entire file. Look into whether eliminating the copy moves the needle.

[2017-07-16 22:47] tschottdorf commented on #16875
Ok, I have this reproduced locally. @RaduBerinde, will send that your way.

[2017-07-16 22:51] tschottdorf commented on #16875
Btw, @mattiasmak, I ran the query locally with DistSQL=off and it's not pretty. It eats north of 1GB of RAM. So you probably don't even want to try that.

[2017-07-17 04:10] mrtracy commented on #12982
@dianasaur323 are we planning on putting this page, or a similar page, back into the product? It was removed before the 1.0 release.

I'm assuming that this should either be closed or moved to a later milestone.

[2017-07-17 04:53] mrtracy commented on #14026
Moved to later milestone, @asubiotto should this just be closed since it couldn't be reproduced?

[2017-07-17 05:01] mrtracy commented on #14478
Assigning to @cuongdo, this doesn't appear to be a bug in the UI code itself, rather a mislabeled metric and a possible blind spot.

[2017-07-17 05:06] mrtracy commented on #14505
@jseldess so the "100m" label actually means "100 milli", or 0.1; this is a bit confusing, and we've since created a better experience by eliminating fractional prefixes for count graphs (this would now just read 0.1).

So, we would expect to see this graph if there was 1 read every 10 seconds.  Does that match up with your expectation of how many reads there were in this scenario?

[2017-07-17 05:15] mrtracy commented on #15616
The dip at the end of the line is a duplicate of #13537, the weird sliver is an expression of the same root problem (metrics being partially available at the current time, due to staggered recording by different nodes)

As for the abrupt start, that's the beginning of data for that node; there is no data before, which is different than a zero.  I think that's a "by design", as it stands.

@irfansh

[2017-07-17 06:02] irfansharif commented on #15616
Given the bolder outline around the top edge of each graph, at first glance I expected the same for the rising left edge as well. Thinking about it now however, unless there's some initial incline (there isn't currently, it's just the sharp jump), I don't think it would look any better than it does currently.

[2017-07-17 06:23] mjibson commented on #17037
1. Is a feature, not a bug. It allows restoring to any database instead of only the one named. That's doubtful to change.
2. Is a known bug that already has a TODO. So we'll bump this up the priority list.

[2017-07-17 07:37] irfansharif commented on #16950
Upstream issue tracked in #8243, looks like @distributed-sys has already identified the faulty codepaths (+ reproducible test).

[2017-07-17 08:24] mattiasmak commented on #17037
It's also the same with the inserts that FK-references to rows in other tables.

[2017-07-17 10:07] jseldess commented on #14505
Ah, yes, this makes sense now. I just retested, and `0.1` in such a case is a lot clearer. Thanks!

[2017-07-17 10:07] #14505 closed

[2017-07-17 12:17] mberhault opened #17044 "release: 1.1-alpha.20170720"
Candidate SHA: a1af558e5859b668ee9823267bb27bb5929481b4
Deployment status: `adriatic`, `blue`, `cerulean`, `omega`

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `2017-07-13`:
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] Deploy to test clusters, fill in `Depl

[2017-07-17 13:16] a-robinson commented on #15616
For what it's worth, the issue of not having data points at the end of the graph has been the most annoying part of using the UI over the last few weeks. I frequently try hovering over the graph to read all the data points, but usually I instinctively hover over the end of the graph and get disappointed when most of the values are zero.

[2017-07-17 13:48] mattiasmak commented on #16875
Ok. Hope you guys find something useful out of this. Do you at this point know if I can adjust the query in order to avoid it?

[2017-07-17 14:06] kuanluo commented on #12982
@mrtracy @dianasaur323

Ideally, it should be up as soon as possible to gather customer feedback as well as information.

[2017-07-17 14:20] dianasaur323 commented on #12982
@mrtracy @kuanluo yes, it would be great to have this. Although, let's definitely get Segment set  up first - I need adequate time to make sure we can get the data we need from it, so we have to at least get the backend hooked in a month ahead of release.

[2017-07-17 14:20] asubiotto commented on #14026
Closing and will reopen if this comes up again. Thanks @mrtracy

[2017-07-17 14:20] #14026 closed

[2017-07-17 14:42] cuongdo commented on #14478
reassigning to @couchand since you're already looking at DistSQL metrics

[2017-07-17 14:49] dianasaur323 commented on #16489
@shawnrichards thanks for the additional nudge here. Unfortunately, this isn't going to make it into our 1.1 release, but it is slotted for investigation in the 1.2 release.

[2017-07-17 15:06] a-robinson commented on #17000
Was this fixed by your `DeleteRange` change?

[2017-07-17 15:07] dianasaur323 commented on #16028
@nstewart FYI that we should be able to pull unimplemented features by 1.1.

[2017-07-17 15:19] dianasaur323 opened #17046 "security: allow different security settings for admin UI vs cluster"
Request from user as detailed here: https://forum.cockroachlabs.com/t/deactivate-ssl-on-the-dashboard-when-in-non-insecure-mode/807/3

Essentially, the user wants to run a secure cluster with an insecure admin UI dashboard. This is because they are already using a secured load balancer to connect to the admin UI. This is needed for easy integration with Rancher.

[2017-07-17 15:43] mberhault commented on #17013
Debug tracing and lightstep have been disabled for a while, but multiple clusters are still OOMing, albeit less frequently.
`omega` is slow growing over time and OOMing from time to time, even with the `kv` load generator turned off.
This all seems to be coming from C with odd stats being  returned by jemalloc:
Here's a sample on `cockroach-omega-0006` from shortly after startup (needs `vmodule=ru

[2017-07-17 16:06] knz opened #17048 "cli/tables: add a missing test for errors after streamed results"
PR #17042 is fixing a bug in the CLI where an error occurring *after some results have been received already* would not be handled properly.

Unfortunately this PR cannot embed a test because this is a scenario that cannot be produced by CockroachDB currently. When #16626 / #17019 / #7775 is addressed, it will be possible to add the missing test for this code.

Jira issue: CRDB-6053

[2017-07-17 16:11] bdarnell commented on #17046
See also #14272, which asks for the ability to use different certificates (more browser-friendly) on the UI port than on the inter-node port. As I said in the forum thread, this is somewhat at odds with our desire to add richer functionality to the UI (which will make it unwise to run the UI insecurely). Unless problems like this are very widespread, it would be better for Rancher to be fixed to h

[2017-07-17 16:40] mberhault commented on #17013
And to illustrate, this is `cockroach-omega-0006` after about 10 minutes without load generator:
![omega_mem](https://user-images.githubusercontent.com/5901480/28279019-23b44272-6aed-11e7-80fa-34f96587a016.png)

[2017-07-17 17:00] mberhault commented on #17013
I think this may be due to https://github.com/jemalloc/jemalloc/commit/63b5657aa566ceab270ff6e9d4f366233d2d0b79 which went into 5.0.1. This removes the dirty pages from a ratio-based process (it used to default to 8:1 ratio of active/dirty pages) and towards a decay-based one.

[2017-07-17 17:15] eisenstatdavid commented on #17015
The collation key is never equal to the string as far as I can tell -- the algorithm to construct it logically outputs integer weights that get encoded as bytes. I don't know how to fast path this code without destroying the sort order, and for people for whom that's OK, there's `STRING`.

[2017-07-17 17:15] #17015 closed

[2017-07-17 17:30] mberhault commented on #17013
To confirm this, I added `dirty_decay_ms:0` to `MALLOC_CONF`. This forces all dirty pages to be released right away:
[code]

Dirty page count is now always zero, and cgo mapped memory is now much more in line with active.
Here's a comparison of two ~7-10 minute runs, the first with default jemalloc 5.0.1 options, the second with `dirty_decay_ms:0`:
![omega_mem_nodecay](https://user-images.githubus

[2017-07-17 17:59] couchand commented on #14478
It doesn't look like this chart exists anymore, or else the label's already been updated.  We can open a new issue if specific concerns with the latency measurements are uncovered.

[2017-07-17 17:59] #14478 closed

[2017-07-17 18:08] cockroach-teamcity opened #17049 "teamcity: failed tests on master: Example-ORMs/TestSequelize, Example-ORMs/TestSequelize/SecondRun, Example-ORMs/TestSequelize/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSequelize/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSequelize/SecondRun/RetrieveFromAPIAfterRestart/Order, Example-ORMs/TestSequelize/SecondRun/RetrieveFromAPIAfterRestart/Customers"
The following tests appear to have failed:

[#297872](https://teamcity.cockroachdb.com/viewLog.html?buildId=297872):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-17 18:27] vivekmenezes commented on #15765
leaving this assigned to me because I've been mucking around here. Not yet sure what the problem is.

[2017-07-17 18:40] #14279 closed

[2017-07-17 18:45] danhhz commented on #16934
I don't think ingest behind actually solves any of our issues. The hard part about removing the range clear that we currently do is fixing the mvcc stats computation. I think this feature is more targeted towards a RocksDB instance that doesn't use mvcc keys

[2017-07-17 18:46] danhhz commented on #16263
@tschottdorf what's the status here? anything left to do for 1.1?

[2017-07-17 18:46] mberhault commented on #17013
Correction, https://github.com/jemalloc/jemalloc/commit/63b5657aa566ceab270ff6e9d4f366233d2d0b79 went into 5.0.0 not 5.0.1.

This is present in v1.1-alpha.20170713, although as this issue shows I thought it was due to re-enabling tracing.

Here are a few things to do:
* report upstream and see what can be done and whether this is a bug
* roll back to pre 5.0.0

Before going back to 5.0.0, we'll ne

[2017-07-17 18:47] benesch commented on #17000
Don't think so, but you'd know better. Here's the downreplication after a 15GB restore with ~1k ranges.

![screenshot 2017-07-17 14 44 56](https://user-images.githubusercontent.com/882976/28284412-e5b1f7aa-6afe-11e7-930f-190f54defb86.png)

Takes about 10m.

[2017-07-17 18:48] benesch commented on #17000
And here's a screenshot that's, like, actually useful:

![screenshot 2017-07-17 14 48 17](https://user-images.githubusercontent.com/882976/28284449-00bbd78c-6aff-11e7-91f9-659a8f9468b5.png)

[2017-07-17 18:49] benesch commented on #17000
Try not to look too hard at the leaseholders per store graph.

[2017-07-17 18:51] mberhault opened #17052 "core: hpack dynamic table takes up too much memory"
This needs to be investigated further, just filing as a placeholder.
CC @bdarnell for info. I'm happy to dig into this further though.

The hpack (header compression in http2) [dynamic table](http://http2.github.io/http2-spec/compression.html#dynamic.table) is taking up too much memory. This is a basic pprof after ~30 minutes of running kv against `cockroach-omega-0006`.
![profile001](https://user

[2017-07-17 18:52] danhhz commented on #14296
This was done in https://github.com/cockroachdb/cockroach/commit/10cd048cb44d7e409ec8836706eb2cd5ad3426b8

[2017-07-17 18:52] #14296 closed

[2017-07-17 18:54] danhhz commented on #14021
Closing as we no longer use temp files in backup/restore.

[2017-07-17 18:54] #14021 closed

[2017-07-17 18:55] cockroach-teamcity opened #17053 "teamcity: failed tests on master: Example-ORMs/TestSequelize, Example-ORMs/TestSequelize/SecondRun, Example-ORMs/TestSequelize/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSequelize/SecondRun/RetrieveFromAPIAfterRestart/Customers, Example-ORMs/TestSequelize/SecondRun/RetrieveFromAPIAfterRestart/Order, Example-ORMs/TestSequelize/SecondRun/RetrieveFromAPIAfterRestart/Products"
The following tests appear to have failed:

[#297940](https://teamcity.cockroachdb.com/viewLog.html?buildId=297940):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-17 19:00] bdarnell commented on #17052
The HPACK dynamic table defaults to 4096 *bytes*, not entries ([RFC 7540 section 6.5.2](https://tools.ietf.org/html/rfc7540#section-6.5.2)).

I'm not sure about the current relationship between grpc, `golang.org/x/net/http2` and the standard library, but maybe it's golang/go#19756

[2017-07-17 19:06] mberhault commented on #17052
Oops, looks like it read that condition too quickly, I just saw `maxSize` and `table.len()`.
from https://github.com/golang/net/blob/master/http2/hpack/hpack.go#L176
[code]

[2017-07-17 19:06] bdarnell commented on #17052
I think updating our `golang.org/x/net` dependency to at least https://github.com/golang/net/commit/05d3205156cb1bdc096578d6457fa161cd950aa2 will do the trick (we're currently using a version from a couple of weeks before that commit).

[2017-07-17 19:08] irfansharif commented on #16624
The following are some results from experiments to determine the relative _lack_ of speed ups from #16809 (pardon the verbosity it's primarily self-documentation). I ran two long running experiments on `navy`, `ycsb -workload F` (pure writes) with the same `initial-load`. From 7/13 04:00 (grafana time) to 7/13 21:11 for the first run (with new changes), second from 7/13 21:27 to 7/14 14:39 First,

[2017-07-17 19:12] a-robinson commented on #17000
Assuming I'm squinting properly at that graph, it looks like it took around 7 minutes, so I guess it's still not fixed.

[2017-07-17 19:13] benesch commented on #17000
Yeah, sorry, it's ~10m. How long would you expect it to take?

[2017-07-17 19:14] petermattis commented on #16624
Have you experimented with disabling syncing when applying Raft log
truncations? That would be the ideal scenario with regards to syncing of
the non-Raft storage engine.

On Mon, Jul 17, 2017 at 3:08 PM, irfan sharif <notifications@github.com>
wrote:

[2017-07-17 19:23] irfansharif commented on #16624
The following are some results from experiments to determine the relative _lack_ of speed ups from #16809 (pardon the verbosity it's primarily self-documentation). I ran two long running experiments on `navy`, `ycsb -workload F` (pure writes) with the same `initial-load`. From 7/13 04:00 (grafana time) to 7/13 21:11 for the first run (with new changes), second from 7/13 21:27 to 7/14 14:39 First,

[2017-07-17 19:23] mberhault commented on #17044
Candidate sha may change if we can get #17055 in time as a short-term fix for #17013.

[2017-07-17 19:23] irfansharif commented on #16624
Some other asides:
- Overall memory usage goes slightly higher
![image](https://user-images.githubusercontent.com/10536690/28283595-287417f6-6afc-11e7-9d85-798207072470.png)
- We seem to have more replicas/ranges per node (I don't know if this a valid inference, or why this comes about)
![image](https://user-images.githubusercontent.com/10536690/28283706-8b16a554-6afc-11e7-9038-6dfea3725f45.png)
-

[2017-07-17 19:24] irfansharif commented on #16624
+cc @tschottdorf.

[2017-07-17 19:30] a-robinson commented on #17000
About the same amount of time as up-replicating. The problem, though, is that's the wrong graph to be looking at, since it's including not just the down-replication time, but also the replica GC time, since the metric behind the replicas-per-store graph only gets decremented when a replica gets GC'ed, not when it gets removed from the consensus group. Usually those events are close together, but t

[2017-07-17 19:32] danhhz commented on #15681
@a-robinson is there anything to be done here for 1.1? This was the same as https://github.com/cockroachdb/cockroach/issues/15702 which has since been fixed (though also not closed), right?

[2017-07-17 19:35] danhhz commented on #15049
Closed in https://github.com/cockroachdb/cockroach/pull/16249

[2017-07-17 19:35] #15049 closed

[2017-07-17 19:36] a-robinson commented on #15681
We concluded that this was the same as #15702, but #15702 hasn't been fixed. They're both essentially equivalent to #15723, so we could close them as dupes.

[2017-07-17 19:38] tschottdorf commented on #16263
Just what's above, but they're small items. I got it.

[2017-07-17 19:39] danhhz commented on #15681
Fine by me! duplicate of #15702

[2017-07-17 19:39] #15681 closed

[2017-07-17 19:40] tschottdorf commented on #16934
Ack, closing.

[2017-07-17 19:40] #16934 closed

[2017-07-17 19:41] mberhault commented on #17044
Bumping candidate sha from bf59245 to a1af558e5859b668ee9823267bb27bb5929481b4.

[2017-07-17 19:45] dt opened #17057 "restore/ingest: distributed ingestion without external/cloud storage"
Currently RESTORE and distributed bulk-ingest in general works by each node fetching the files it needs directly from a cloud/external storage provider (s3 or some other http service, hdfs, etc).

We added a local filesystem reader option as well, but it doesn't really work for *distributed* ingestion -- any given node might need any given file in the backup, so opening a "local" disk to find a fi

[2017-07-17 19:45] danhhz opened #17058 "sqlccl: implement the resumable BACKUP/RESTORE rfc"
https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/backup_restore.md#resumability

Improve stability of backup/restore by eliminating the single point of failure.

[2017-07-17 19:48] #15702 closed

[2017-07-17 19:49] danhhz opened #17059 "backup/restore: additional production testing"
- [x] nightly benchmark for 2tb restore
- [x] nightly benchmark for tpch-10 on 4 & 10 nodes
- [x] turn on chaos on all nodes on lapis
- [x] test restore on clusters with existing data
- [x] TODO what additional testing?
- [x] automated chaos testing

[2017-07-17 19:50] danhhz opened #17060 "backup/restore: 16 TB, 100 node finishes smoothly"

[2017-07-17 19:50] petermattis commented on #16624
Yeah, that does seem problematic. When adding the dedicated syncing goroutine, I considered adding a dedicated goroutine to perform the commits. With some restructuring, I think we could have a dedicated per-engine goroutine for committing batches, queue both batches and then wait for both of the commits to happen.

[2017-07-17 19:51] danhhz opened #17061 "implement distributed csv load rfc"
https://github.com/cockroachdb/cockroach/pull/16995

[2017-07-17 19:52] danhhz opened #17062 "finalize enterprise license management"
Finish implementing https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/enterprise.md

[2017-07-17 19:52] dt commented on #17057
Some rough thoughts, cc @danhhz @tamird @bdarnell for feedback:
I think I'd like go approximately the route of the above strawman, but  use our existing gRPC service for this, just adding a new `blob` service to it. Reusing our gRPC server gets its auth/security, flow control, etc, rather than needing to re-roll all of that, with main downside just looking like plumbing.

Concretely, I think I wan

[2017-07-17 19:52] #8862 closed

[2017-07-17 19:52] #16858 closed

[2017-07-17 20:01] dt commented on #17057
One consideration: a nice-to-have here would be the ability of a client shell, i.e. a non-node process, to supply a RESTORE with its files. I'm tempted to say this is out-of-scope for now (sql clients don't participate in gossip, so it seems like a tall order) but it is worth thinking about in case we decide to built it later.

[2017-07-17 20:05] cockroach-teamcity opened #17063 "teamcity: failed tests on master: Example-ORMs/TestSequelize, Example-ORMs/TestSequelize/FirstRun, Example-ORMs/TestSequelize/FirstRun/RetrieveFromAPIAfterInitialCreation, Example-ORMs/TestSequelize/FirstRun/RetrieveFromAPIAfterInitialCreation/Customers, Example-ORMs/TestSequelize/FirstRun/RetrieveFromAPIAfterInitialCreation/Products"
The following tests appear to have failed:

[#298098](https://teamcity.cockroachdb.com/viewLog.html?buildId=298098):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-17 20:17] bdarnell commented on #17057
This seems scary from a security perspective. How would you configure this? (Specifically, I don't want SQL-level `root` access to be trivially escalatable to read arbitrary files from a node's disk). What if instead of configurable directories, we supported a directory under the store (`cockroach-data/ingest`), and admins could move (or symlink) files to be ingested there.

I think for clients to

[2017-07-17 20:25] #14673 closed

[2017-07-17 20:35] #16771 closed

[2017-07-17 20:39] cockroach-teamcity opened #17067 "teamcity: failed tests on master: Example-ORMs/TestSequelize, Example-ORMs/TestSequelize/FirstRun, Example-ORMs/TestSequelize/FirstRun/RetrieveFromAPIAfterInitialCreation, Example-ORMs/TestSequelize/FirstRun/RetrieveFromAPIAfterInitialCreation/Products, Example-ORMs/TestSequelize/FirstRun/RetrieveFromAPIAfterInitialCreation/Customers"
The following tests appear to have failed:

[#298164](https://teamcity.cockroachdb.com/viewLog.html?buildId=298164):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-17 20:42] benesch commented on #17044
Does the rest happen on Thursday, @mberhault?

[2017-07-17 20:44] mberhault commented on #17044
Yup.

[2017-07-17 20:44] benesch commented on #17000
That is incredibly useful to know. Yeah, no rush at all; I may look into it too.

[2017-07-17 20:49] tschottdorf commented on #17063
This one is pretty at large, can someone take a look. @jordanlewis, can you assign someone?

[2017-07-17 20:49] tschottdorf commented on #17067
https://teamcity.cockroachdb.com/viewLog.html?buildId=298174&buildTypeId=Cockroach_UnitTests

[2017-07-17 20:49] #17067 closed

[2017-07-17 20:49] tschottdorf commented on #17067
erm, I mean #17063

[2017-07-17 20:50] jordanlewis commented on #17063
On it.

[2017-07-17 20:50] jordanlewis commented on #17053
#17063

[2017-07-17 20:50] #17053 closed

[2017-07-17 20:50] jordanlewis commented on #17049
#17063

[2017-07-17 20:50] #17049 closed

[2017-07-17 21:09] mberhault commented on #17044
Pushed to latest candidate sha and cluster settings flipped back to tracing disabled (also a likely source of OOM). Since tracing is still off by default, I think we can skip the fix (still TBD) until the next alpha.

[2017-07-17 21:16] jordanlewis commented on #17063
I think this was likely caused by https://github.com/cockroachdb/examples-orms/pull/32. It reproduces within a few runs locally after that pull, but not before.

Reproduces if you run `make build` in the main cockroach repo and then the following from `examples-orms`:

[code]

[2017-07-17 22:01] #10415 closed

[2017-07-17 22:55] tschottdorf opened #17073 "sqlccl: TestLoadCSVPrimaryDuplicate: csv_test.go:179: unexpected error: no files in backup"
https://teamcity.cockroachdb.com/viewLog.html?buildId=298340&buildTypeId=Cockroach_UnitTests_Testrace

[2017-07-17 23:05] mrtracy commented on #16242
We did graph these stats at one point early in beta, but we removed the graph because of some sort of inaccuracy, which i'm guessing is no longer present; is this something we could just throw back on the dashboard?  It's likely that if we graphed the max offset across all nodes, it would be useful for this purpose in the short term.

[2017-07-18 00:45] cuongdo commented on #17063
Fixed by cockroachdb/examples-orms#33

[2017-07-18 00:45] #17063 closed

[2017-07-18 01:25] tschottdorf commented on #17063
You don't want to track reverting the revert somewhere?

On Mon, Jul 17, 2017, 20:45 Cuong Do <notifications@github.com> wrote:

--

-- Tobias

[2017-07-18 02:19] benesch commented on #17063
https://github.com/cockroachdb/examples-orms/pull/34

[2017-07-18 02:22] RaduBerinde commented on #16875
Thanks Tobi!

This is a plan that gets stuck:
![image](https://user-images.githubusercontent.com/16544120/28297548-8969d524-6b3c-11e7-92a9-472ad5c5d1ee.png)

I believe that we have a deadlock between the two hashjoiner shards. The hash joiners read from both sides (alternating), so if one side is stalled when receiving, that stalls the entire hash joiner. Now suppose that for `devices` we get a ba

[2017-07-18 12:50] mberhault commented on #17013
This is rolled back to 4.5.0 for now, and I've filed https://github.com/jemalloc/jemalloc/issues/956 with jemalloc.
Keeping this open until we can figure out how to move to 5.0.

[2017-07-18 13:35] gpaul opened #17075 "very high CPU usage on one of 5 nodes in cluster"
Is this a question, feature request, or bug report?

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply the output of `cock

[2017-07-18 13:37] gpaul commented on #17075
I don't want to see if whether restarting cockroachdb helps before we're sure we extracted all debug info.

[2017-07-18 13:46] mberhault commented on #17052
There are are 6 changes between our current version the fix:
[code]

and 68 since the fix:
[code]

I'll try just picking up the fix, but I can also try HEAD and see if that breaks any of our other dependencies.

[2017-07-18 13:46] gpaul commented on #17075
FWIW I started a new 5-node cluster (save version), loaded the attached data into the cluster, then executed
[code]
The results appeared instantly as one would expect.

[2017-07-18 14:07] petermattis commented on #8351
The Raft log truncation heuristics have evolved significantly since this issue was created. We now truncate the Raft log (even when a follower is behind) when it is larger than 4MB. This was tuned experimentally during chaos events on a test cluster.

[2017-07-18 14:07] #8351 closed

[2017-07-18 14:16] petermattis commented on #11988
@tamird Can you take another whack at making the test work and/or close this issue? Seems hard to tickle the problematic code, so perhaps a bit of restructuring is in order to extract the notification of unreachable remote replicas into something that is directly callable.

[2017-07-18 14:18] petermattis commented on #14143
Closing as unreproducible. #14512 tracks the issue of the RocksDB cache growing to fill configured space even on an idle cluster.

[2017-07-18 14:18] #14143 closed

[2017-07-18 14:34] bdarnell commented on #17052
On master, I'd just upgrade to the latest version. If we want to cherry-pick something into 1.0.4 then we should just take the first 6 commits.

[2017-07-18 14:41] #16749 closed

[2017-07-18 14:47] gpaul commented on #17075
The network seems under control:
[code]

[2017-07-18 14:50] dt commented on #17057
That's fair.

I think there's a pretty strong argument to be able to point directly to e.g. `/mnt/backups/db/2017...` though: it seems *very* likely that backups would be on a different device (i.e. big, low-IOPS disks are cheaper for bulk cold storage, keeping backups on separate devices to avoid SPOF, etc). A manually created symlink is thus a no-go. A manual copy into data dir before restore mi

[2017-07-18 15:08] RaduBerinde opened #17077 "sql: logic test panics with --verbosity 3"
[code]

CC @knz

[2017-07-18 15:12] knz commented on #17077
I've been fixing a couple of these before... it's unfortunate because I don't see us ever be able to set verbosity level 3 for all tests, but we should to catch these bugs.

[2017-07-18 15:41] bdarnell commented on #17057
Why is a manually-created symlink a no-go? (symlinks have no problem spanning devices)

[2017-07-18 16:15] mberhault commented on #17052
@RaduBerinde: when did we start using http2 headers for tracing? is it 1.1 only, or 1.0 as well?

[2017-07-18 16:29] leomkkwan opened #17081 "Adding CRC32 internal function"
CRC32 is a very common function to do simple error detection.

Although PostgreSQL does not come with it, but from a Mysql user to have this function will make their life easier when they try to port their system from Mysql to CRDB.

[2017-07-18 16:35] mberhault commented on #17052
before and after #17080:
I put a build with this change on `cockroach-omega-0001`, left all other nodes at the alpha candidate sha, enabled tracing, and restarted all nodes (full shutdown-restart).

Graph of go allocated memory:
![omega_mem_diff](https://user-images.githubusercontent.com/5901480/28328619-23880b6c-6bb5-11e7-841e-c9f7eb045f60.png)

pprof of nodes 1 (with fix) and 2 (without fix): (c

[2017-07-18 16:36] bdarnell commented on #17081
CRC32 functions (both IEEE and castagnoli variants) are coming in version 1.1 (and they've been available in our alpha releases [since June 1](https://www.cockroachlabs.com/docs/releases/v1.1-alpha.20170601.html#sql-language-changes))

[2017-07-18 16:36] #17081 closed

[2017-07-18 16:42] RaduBerinde commented on #17052
We started using them in 1.1

[2017-07-18 16:42] mberhault commented on #17052
Thanks, then we don't need to do anything for 1.0. I'll file an issue to mark the tracing headers as non-cacheable.

[2017-07-18 16:43] sploiselle opened #17082 "windows: cannot use `--background` flag on Windows binary"
From user research; `cockroach start --background --insecure` doesn't actually background the process on Windows.

@BramGruneir @tamird I cannot repro since I don't have a Windows machine. Is this something we're aware of?

[2017-07-18 16:46] mberhault opened #17083 "tracing: mark tracing http2 headers not-cacheable."
Due to a bug in golang http2 hpack (see #17052), we noticed that the tracing-related http2 headers were cached.
Since those are both big and unique, we should mark those as non-cacheable, leaving the cache free to fulfill its function.

I haven't started digging through this, it could be a trivial change or not.
@RaduBerinde: any idea where to start digging?

[2017-07-18 16:50] cockroach-teamcity opened #17084 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy"
The following tests appear to have failed:

[#299104](https://teamcity.cockroachdb.com/viewLog.html?buildId=299104):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-18 16:52] BramGruneir commented on #17082
This is known.  I thought we addressed it somewhere in the docs.
Windows works differently than linux and so the background flag just won't work.

[2017-07-18 16:53] sploiselle commented on #17082
@BramGruneir Is there any way to produce an error message if you use the `--background` flag on Windows?

[2017-07-18 16:53] RaduBerinde commented on #17083
The tracing headers aren't big. There are a handful of short keys and values (they just contain some IDs).

The code that injects the headers is in an external repository, we need to file an issue upstream if they need to do something differently.

https://github.com/grpc-ecosystem/grpc-opentracing/tree/master/go/otgrpc

This is the code that injects the tracing info:
https://github.com/grpc-ecosy

[2017-07-18 16:57] mberhault commented on #17083
Thanks, I'll poke around.
They may not be big but they still pollute the cache, forcing more frequent headers to be evicted.

[2017-07-18 16:58] bdarnell commented on #17083
This would need a lot of plumbing. The go hpack implementation implements the "sensitive" flag to hide things from the cache, but the http2 package doesn't use or expose it. I don't think it's crucial to do this - since the cache is based on size (instead of number of entries), all it costs us is a little extra cache churn. The cache is reasonably smart about this (it's lru-ish), so the frequently

[2017-07-18 17:06] BramGruneir commented on #17082
Of course, should be easy to do.

[2017-07-18 17:08] sploiselle commented on #17082
+1 on that; think it would make for an improvement in UX, which helps adoption!

[2017-07-18 17:17] bdarnell commented on #17082
The current implementation of the `--background` flag won't work on windows (because we reused some non-portable code implementing a `systemd` integration protocol), but there's no fundamental obstacle to implementing this flag in a windows-friendly way.

[2017-07-18 17:22] dt commented on #17062
This is done.

[2017-07-18 17:22] #17062 closed

[2017-07-18 17:26] BramGruneir commented on #17082
Windows doesn't have the same concept as fore/back ground tasks that linux does.  We would have to create a process and kick it off or open it in a hidden command window.

See https://superuser.com/questions/198525/how-can-i-execute-a-windows-command-line-in-background

The correct way around this is make an installer that can install cockroach as a windows service.  And redirect all logs to the c

[2017-07-18 17:46] mjibson commented on #17073
Initial investigation didn't show anything obvious, and I have no ideas. Will monitor and see if it happens again.

[2017-07-18 17:57] knz opened #17086 "sql: implement constant-space aggregation when input ordered on group key"
Found with:
[code]

Currently the aggregator buffers all possible values of `x` in memory because it doesn't "see" that the source is ordered by x and that can emit an output row for the previous value as soon as it sees a new value for the `x` column.

cc @cockroachdb/sql-planning @cockroachdb/sql-execution

[2017-07-18 18:55] dhannum opened #17087 "Unable to copy a table if it contains a boolean column"
Hi,

Create table as select throws an error if the source table contains at least one boolean column. If the source table has no boolean columns, everything works great.

Here is a test case:

[code]

When I run this from my favorite SQL tool, here's the error that comes back

Code: 0, SQL State: XX000]  ERROR: value type bool cannot be used for table columns

I've also tried it with explicitly ma

[2017-07-18 19:52] dhannum commented on #17087
This also happens when you "create view as select..." Same issue

[2017-07-18 19:53] jordanlewis commented on #17087
Hi @dhannum, thanks for the report. I can't reproduce this on master:

[code]

I think this issue is a duplicate of #15827, which again is fixed on master but not in the 1.0 release branch.

[2017-07-18 21:21] dt commented on #17057
Oh, yeah, you're right, cross-device symlinks should be fine. Given that, I'm happy to start by requiring supplied paths must begin with a storedir.

I think there's still a chance that, operationally, the ease of being able to just point to a backup, without needing to ssh in and manually symlink first, might be nice -- we may, down the road, convince ourselves that we can look at a dir and suffi

[2017-07-18 21:22] #16263 closed

[2017-07-18 21:39] RaduBerinde opened #17097 "distsql: distributed plans can deadlock"
I am filing this "master" issue to keep track of our discussions on this problem.

One instance of the problem is described in https://github.com/cockroachdb/cockroach/issues/16875#issuecomment-315939351

Another possible instance is illustrated below:
![image](https://user-images.githubusercontent.com/16544120/28340346-6c3c5070-6bdd-11e7-8d45-57dcb7287440.png)
We have a table reader that's feedin

[2017-07-18 21:41] arjunravinarayan commented on #17097
Here's a copy of my thoughts from earlier discussion:

1. In DistSQL we push rows, not pull, so there's no "demand rows".
2. If a processor pushes a bunch of rows, and the consumer doesn't eat them, they build up in a GRPC buffer.
3. If this buffer gets built up, at some point the "push" operation gets blocked on the GRPC send command. All of this is opaque to the processor programming. It pushes

[2017-07-18 21:42] arjunravinarayan commented on #17097
@RaduBerinde I noticed you assigned this to yourself, are you planning on working on the fix now?

[2017-07-18 21:43] RaduBerinde commented on #17097
I was planning to start, but if you want to work on it, that's great (we can talk about some details offline).

[2017-07-18 21:46] arjunravinarayan commented on #17097
@knz adds the thought that we should keep track of the high watermark as we spill to disk, as it will be good to have metrics to detect for a later date when we would implement backpressure on our dataflow graphs.

[2017-07-18 21:47] arjunravinarayan commented on #17097
@RaduBerinde you can start, why don't you implement the in-memory buffer. After you're done, I can extend the design to use external storage once the in-memory buffer runs out.

[2017-07-18 22:28] #17077 closed

[2017-07-19 02:34] knz opened #17101 "reporting: report hostname & port number"
Discussed with @dt today:

- we probably want (a hash of) each node's hostname, so as to enable detection/measuring of how often users run multiple nodes on the same machine
- also report the port number, to estimate how often people run on a different port by default

[2017-07-19 02:35] knz commented on #17101
feel free to reassign

[2017-07-19 02:38] knz opened #17102 "reporting: move reporting of some data from update to reporting loop"
Discussed with @dt today: some of the node/cluster details are reported as query arguments on the update ping performed by nodes every hour.

Some of this info is "legitimate" for an update ping like platform, version.

Others are more dubious: uuid, nodeid, uptime, insecure.

We should move this data to the reporting loop instead of the update loop.

In the case where we still want uptime informa

[2017-07-19 02:38] knz commented on #17102
feel free to reassign

[2017-07-19 02:41] knz opened #17103 "build: add a make flag to insert a "vendor tag" into the version field"
Discussed with @nstewart @dt:

When RedHat and other vendors "ship" CockroachDB we would like to measure in our reg server how many users are using CockroachDb from that channel. Same for other channels like Docker, Mesosphere, etc.

To achieve this as suggested by @dt we should extend the "platform" field already sent by cluster to the reg server with information about the provider. For example f

[2017-07-19 04:43] kocoten1992 opened #17104 "[Bug?] source name "table" not found in FROM clause"
I have 2 table:
[code]

When I select as follow, it throw me error:
[code]

That query execute normally on sqlite or mysql, so I think it a bug here.

[2017-07-19 11:59] gpaul commented on #17075
This reproduced on a new cluster, running the same versions. I'm going to try and reproduce on a cluster built from the `release-1.0` branch.

[2017-07-19 12:13] gpaul commented on #17075
Interestingly, most graphs in the Admin UI look sane, except for the Distributed Dashboard where the distribution between the nodes seems lopsided.

Here are some screenshots showing this dashboard for the various nodes. The sudden increase in traffic at ~09:00 coincides with the launching of my benchmarks. Note the extreme difference between node 5 and for example nodes 2 and 4.

CPU Usage on the

[2017-07-19 12:20] mberhault commented on #17103
Why combine it into the `platform` field? We may as well add another field so we don't need to re-extract the vendor later.
We'll most likely need to change the build pipeline for binaries. Adding that one flag shouldn't rebuild much.

[2017-07-19 13:52] dhannum commented on #17087
I see on the duplicate issue that it's assigned to 1.1? Is there a target release date? Working around this is rather inconvenient. Thanks!

[2017-07-19 14:02] RaduBerinde commented on #17097
I posted a short RFC for how to implement the buffering hash router in #17105.

[2017-07-19 14:02] jordanlewis commented on #17087
We're planning to release a 1.0.4 version soon as well, which will contain the fix.

If you're feeling adventurous, you can also use an alpha release, which won't exhibit this issue.

[2017-07-19 15:34] danhhz commented on #15205
This seems to have been fixed sometime in the last few months

![image](https://user-images.githubusercontent.com/52528/28375723-388ee230-6c76-11e7-8b8c-5de970d2e773.png)

[2017-07-19 15:34] #15205 closed

[2017-07-19 17:23] irfansharif commented on #16624
Rebasing on top of new master I'm seeing 0 QPS occurring quite frequently, this is `ycsb -workload F` on `ultramarine`:
[code]
This is new post-rebase, I suspect it's due to #16942 and the reworked batching mechanisms. Isolating a build without those changes.

For posterity this are the numbers for without these changes:
[code]
No zero QPS, almost a thrice as fast (!).

[2017-07-19 17:57] danhhz commented on #17038
Tried this and it looks like any difference is in the noise. Bizarrely, it didn't even seem to affect allocations

[code]

[code]

[2017-07-19 17:58] jordanlewis commented on #17104
You're trying to reference a column from a table that isn't available in any of the data sources in your `FROM` clause. This is not valid SQL, and doesn't in fact work in sqlite either:

[code]

Perhaps you meant to use a join clause?

[code]

[2017-07-19 17:58] #17104 closed

[2017-07-19 18:09] irfansharif commented on #16624
Nope, something else going on here.
Here's a build reverting three related commits to the new batching/syncing mechanism:
[code]
[code]

[2017-07-19 18:09] danhhz commented on #16737
Impl is done. Moving the RFC update to be tracked separately

[2017-07-19 18:09] #16737 closed

[2017-07-19 18:12] aselus-hub opened #17108 "perf: scaling cockroach clusters while running under cayley, slows performance"
Reference cayley code that does writes to cdb: https://github.com/cayleygraph/cayley/blob/d9a72b0288ed17c0601adbc92eb7cb79e5687729/graph/sql/cockroach.go

Essentially the use case is as follows: write 4 quads into cayley which creates 1 transaction into cockroachdb. The items in the quads are linked to one another (
example quads(the application is generating thousands of these per second):
[code]

[2017-07-19 18:21] kocoten1992 commented on #17104
My apologies, I think I'm getting XY problem, here is the real sql that work in sqlite and didn't work in cockroachdb yet:

[code]

[2017-07-19 18:29] irfansharif commented on #16624
Zero QPS points are during lots of completely idle CPU time:
![image](https://user-images.githubusercontent.com/10536690/28383085-4522ea1a-6c8e-11e7-8acf-76ac74381065.png)

[2017-07-19 18:32] petermattis commented on #16624
0 QPS like that often indicates a problem with leases.

[2017-07-19 18:42] petermattis commented on #17038
Hmm, oh well. Not all of the my ideas pan out.

[2017-07-19 18:43] jordanlewis commented on #17104
We don't support correlated subqueries yet, which is why that query doesn't work. That's tracked in #3288.

I think you can get the same behavior in this case with an (inner) join, since your intent seems to be to select only those rows of phones that have a corresponding person in the persons table.

[code]

[2017-07-19 18:47] cockroach-teamcity opened #17112 "teamcity: failed tests on master: testrace/TestBackupRestoreSystemJobsProgress"
The following tests appear to have failed:

[#300397](https://teamcity.cockroachdb.com/viewLog.html?buildId=300397):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-19 19:14] #16768 closed

[2017-07-19 19:25] cockroach-teamcity opened #17116 "teamcity: failed tests on master: testrace/TestBackupRestoreLocal"
The following tests appear to have failed:

[#300447](https://teamcity.cockroachdb.com/viewLog.html?buildId=300447):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-19 19:26] benesch commented on #17116
Duplicate of #17112.

[2017-07-19 19:26] #17116 closed

[2017-07-19 19:31] petermattis commented on #17108
@aselus-hub The slight dip in performance when expanding the cluster from 1 to 3 nodes is expected. You've gone from 1 replica to 3 replicas and there is a small amount of overhead to doing so. That performance dropped further when you expanded to 5 nodes is very surprising. I don't have any explanation for that other than the statement that "it shouldn't happen". Can you provide reproduction inst

[2017-07-19 19:54] aselus-hub commented on #17108
@petermattis the only current reproduction instructions I can give are the ones above, generating a graph, spliting it out into nquads and writing those quads in batches through cayley into cdb (example of quads as above) I'm going to write an example app that feeds it, but that might take a little bit (as I can't reuse work code that caused the problem originally) I will link the github repo once

[2017-07-19 20:20] a-robinson opened #17119 "storage: Optional manual control over allocator decisions"
While it'd be a dangerous way to do things in general, it's come up in conversation multiple times that sometimes a user may desire more manual control over rebalancing of replicas and leases. The first couple (poorly fleshed out) examples that come to mind are:

* A DBA or support might notice something wrong that the cluster hasn't self-corrected for and want to manually fix it. For example, too

[2017-07-19 20:34] tschottdorf commented on #17108
@petermattis the first data point to look at for `ReadWithinUncertaintyIntervalErrors` is the clock offset. I believe there are `clock_offset` measurements in `/_status/vars`. If a node is trailing and contending with other nodes, it will often catch that error. Even with well-synchronized clocks, it  could happen sometimes: txn1 starts at ts1, waits, txn2 starts at ts2 > ts1, writes, txn1 tries t

[2017-07-19 21:05] robert-s-lee opened #17122 "server: configuring NTP in Heterogeneous platform"
A CockroachDB cluster where one node is running on MacOS, 2nd node on Linux, and 3rd node on Windows is possible.  Some adjustments maybe required such as using common NTP time source for all platforms and Windows w32tm /resync to fine tune.

A potential follow-up maybe additional research on heterogeneous platform support and documenting the best practice.

@bdarnell

[2017-07-19 21:08] danhhz opened #17123 "sqlccl: tests for BACKUP/RESTORE cancellations"
In addition to tests that verify a BACKUP/RESTORE keeps going if the coordinating node goes down, we should also verify that if a user sends a BACKUP/RESTORE from `./cockroach sql` and ctrl-c's (or via golang's `sql.DB` and cancels the context) that it does _not_ keep going. This test should also verify that it tears down all the outstanding Export and Import requests.

[2017-07-19 21:19] danhhz opened #17125 "sqlccl: make BACKUP/RESTORE aware of source data locality"
If a cluster is geographically distributed (us-east, us-west, europe, etc) and a RESTORE is run from data in a single cloud storage location (us-east), then in some cases it will be cheaper & faster to ingest into ranges in us-east and rebalance after.

One idea for how to accomplish this is to allow the user to set the zone config for the tables about to be restored before the restore. Then, REST

[2017-07-19 21:20] danhhz commented on #15240
I tried again to repro this and couldn't in an hour of stressing. This seems to happen about 1x a month, so there's obviously something here, but I'm pretty swamped so it doesn't seem worth worrying about pre-1.1

[2017-07-19 21:28] RaduBerinde commented on #17086
The generalization of this is: if we have an ordering on some of the group columns, we only need to accumulate results in memory for each distinct set of values on the ordered columns. For example for
[code]
we only need to buffer `y`s until the value of `k` changes; then we can dump the results.

[2017-07-19 23:49] aselus-hub commented on #17108
example branch used to generate bellow numbers(apologies for the mess, i wrote it in haste):
https://github.com/aselus-hub/cayley-cdb-appscaling

Here are numbers I got by using this to test (which follows the pattern, both local and remote numbers.)  based on cdb nodes on AWS i2.xlarges (15GiB SQL memory)

From remote:
1 cdb node: `80`/second
3 cdb nodes(with lb):` 74~83` sets/second. If talking

[2017-07-19 23:52] petermattis commented on #17108
@aselus-hub Thanks for putting that example together. Will take a look tomorrow.

[2017-07-20 01:49] goodforever opened #17129 "Will the cockroachdb support NoSql ?"
Will the cockroachdb support NoSql ?

[2017-07-20 07:57] JorritSalverda opened #17132 "Nodes are always suspect in Statefulset"
**BUG REPORT**

I run CockroachDB version 1.0.3 in a StatefulSet on Container engine 1.7.1. The underlying node pool uses preemptible nodes so the CockroachDB pods get relocated at least every 24 hours. A nice disruption test for CockroachDB. To make sure the preemptible nodes don't all die at the same moment I randomly kill them between 12 and 24 hours.

When first creating the cluster all nodes

[2017-07-20 10:55] sonix07 opened #17133 "docs: docker swarm service unique service name"
I've just read through your very comprehensible docker swarm tutorial (https://www.cockroachlabs.com/docs/stable/orchestrate-cockroachdb-with-docker-swarm-insecure.html#see-also)
I am wondering why every instance needs a unique service name. This makes it hard to leverage many docker swarm features like `--mode global` or `--replicas 5` or `tasks.cockroachdb` (for service discovery) and `docker se

[2017-07-20 13:33] a-robinson commented on #17133
There was recently [a similar discussion on our forum](https://forum.cockroachlabs.com/t/docker-swarm-scaling/788/2). Mind reading it and following up with any questions you have afterwards?

The tl;dr is that you should be able to do so today, but it'll be tough to do in secure clusters. You'll just have to do a little extra work when starting the cluster to make sure that it gets initialized.

[2017-07-20 13:49] rampage644 opened #17134 "Update sqllogictests"
Right now empty string values are not rendered as [documentation](https://www.sqlite.org/sqllogictest/doc/trunk/about.wiki) suggests:

Some problems arise with empty strings. Sometimes empty string is not added to the row (while parsing test file and query result), and sorting sorts "interleaved" rows instead (because it expects 5 columns and get only 4 thus taking 1 element from neighbor row). Si

[2017-07-20 13:52] rampage644 opened #17135 "distsql: support outer merge joins"
Recent change #17017 changed `joinerBase` ctor interface and only currently used `HashJoiner` was adapted for the change. `MergeJoiner` doesn't properly initializes base class values.

[2017-07-20 14:24] a-robinson commented on #17132
Hi @JorritSalverda, thanks for reporting this! Are the nodes permanently staying orange/suspect after relocating or is it only for a short period of time? And does it persist across refreshing the UI?

I'd be surprised if it's related to the containers getting a new IP each time and I don't believe it should have anything to do with uptime, but I'd like to find out.

[2017-07-20 14:46] a-robinson commented on #15713
This is mostly covered by the combination of #15849 (which is scheduled for 1.2) and #16180 (which hasn't had any activity and will likely be bumped to 1.2. Moving this to 1.2 to correspond.

[2017-07-20 14:54] irfansharif commented on #16950
Fix: coreos/etcd#8288, but as per discussion today might now make it to 1.1.

[2017-07-20 15:02] BramGruneir commented on #13210
I'm going to move this to 1.2.  It's a relatively easy change, but I'm not going to get a chance to get to it before feature freeze.

[2017-07-20 15:04] BramGruneir commented on #9025
@a-robinson Since you're actively moving things around with the allocator, this is probably going to be work that falls out of those changes.

[2017-07-20 15:12] arjunravinarayan commented on #17129
If by `NoSQL` you mean treat it like a key-value store, we do not provide API access to the lower layers directly. However, [as indicated in our FAQ](https://www.cockroachlabs.com/docs/stable/frequently-asked-questions.html#can-i-use-cockroachdb-as-a-key-value-store), you can use a very simple SQL schema that translates directly down in a one-to-one mapping to key-value mappings. This allows you t

[2017-07-20 15:12] #17129 closed

[2017-07-20 15:15] BramGruneir commented on #14038
@a-robinson Is this covered by #17124, or is there more you were thinking of?

[2017-07-20 15:15] bdarnell commented on #17122
Best practice is to not do that :)  It just adds extra complexity and CockroachDB performs better (and is more thoroughly tested) on linux than on macos or windows.

We need to research the windows clock sync issue anyway (since I think that's necessary for an all-windows cluster), but I don't think there's anything special about the heterogenous configuration.

[2017-07-20 15:17] #17112 closed

[2017-07-20 15:18] a-robinson commented on #14038
Yup, this was it.

[2017-07-20 15:19] #14038 closed

[2017-07-20 15:22] #16610 closed

[2017-07-20 15:45] mberhault commented on #12679
This can probably be closed in favor of @BramGruneir's work on debug pages.

[2017-07-20 15:46] mberhault commented on #6713
Reassigning to @mrtracy who has been working on this.

[2017-07-20 15:57] justinj opened #17140 "sql: query issued by jdbc doesn't typecheck"
Below is a simplification of the original query:
[code]

[2017-07-20 15:57] jordanlewis commented on #17134
This has always bothered me - thanks for trying to fix it. Please submit your PR and we discuss further in the comments.

[2017-07-20 16:06] BramGruneir commented on #12679
I'm going to work on an on demand active networking test in 1.2.
We already have a problem ranges page.
But we don't have any insight into long running RPCs yet.

That being said, I think this can safely be closed.

[2017-07-20 16:35] #12679 closed

[2017-07-20 16:46] zcspencer opened #17143 "possible bug unused variable in /pkg/cli/start.go"
Just browsing the code and noticed on [/pkg/cli/start.go#L626]( https://github.com/cockroachdb/cockroach/blob/master/pkg/cli/start.go#L626) `func addrWithDefaultHost` has an `addr` variable that is not being used anywhere in the function, but it looks like [/pkg/cli/start.go#L649](https://github.com/cockroachdb/cockroach/blob/master/pkg/cli/start.go#L649) is expecting that variable to be the `serv

[2017-07-20 16:54] a-robinson commented on #17143
Thanks for pointing this out! It's definitely wrong, and may be what's behind https://github.com/cockroachdb/cockroach/issues/10374.

[2017-07-20 17:07] jordanlewis opened #17144 "sql: multi-statement transactions don't properly report schema change errors"
Observe:

[code]

cc @vivekmenezes @tso

[2017-07-20 17:25] a-robinson commented on #17143
After a bit more investigation, it turns out that this wasn't actually breaking anything, but it was certainly bad code. I've included a fix for it in https://github.com/cockroachdb/cockroach/pull/17145. Thanks again, @zcspencer!

[2017-07-20 17:35] vivekmenezes commented on #17144
This happens because the COMMIT will see the error, but the result for the CREATE INDEX has already been returned to the user. We could consider returning the error to the COMMIT in these circumstances.

```BEGIN TRANSACTION; CREATE UNIQUE INDEX ON dupe(a); COMMIT``` returns an error because the COMMIT is seen in the same request as the CREATE INDEX

[2017-07-20 17:42] tso commented on #17144
Is there a reason to avoid attaching the error to the commit? Or to any other result?

I'm moderately invested in changing the behavior since it would make streaming results much simpler to implement.

The change seems simple enough unless there's hidden complexity that I'm not seeing.

[2017-07-20 17:51] tschottdorf opened #17146 "storage: improve assertions that prevent HardState proto change"
A picture says about as much as a hundred words. From https://reviewable.io/reviews/cockroachdb/cockroach/17051#-KpKIEcA5LZyVrn41G6M

![image](https://user-images.githubusercontent.com/5076964/28431468-7424a05a-6d52-11e7-8106-92876c37bcdb.png)

[2017-07-20 18:33] dt opened #17147 "sql: `ADD COLUMN IF NOT EXISTS` returned duplicate col error"
The diagnostics collector service runs migrations on startup of the form `ADD COLUMN IF NOT EXISTS`, with the expectation that they are no-ops after first run.

yesterday a new version on startup was trying to add a new column and hung beyond the timeout, so a second, with the same migration, started up.

one of them then received the error `duplicate column name: "maxnodeid"`, which seems unexpec

[2017-07-20 18:36] dt commented on #17147
also weird: after the above error, the proc was restarted, ran the migration without issue, and then got errors trying to use that col:

[code]

[2017-07-20 18:49] m-schneider opened #17148 "release: v1.0.4"
Candidate SHA: 5b757262d33d814bda1deb2af20161a1f7749df3
Deployment status: adriatic, blue, cerulean, omega

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: 2017-07-20
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] Deploy to test clusters, fill in `Deployment stat

[2017-07-20 19:23] vivekmenezes commented on #17144
@tso I think we can change these semantics to return an error after a statement or after a commit if the statement is a DDL

[2017-07-20 19:32] vivekmenezes commented on #17147
#16367 has fixed the problem with the error ```duplicate column name``` being returned. We used to return no error for ```IF NOT EXISTS``` only if the column had already been completed added (the schema change was complete).

The ```pq: column "maxnodeid" does not exist``` is returned because the column is still in the process of being added. We aught to make this error better.

[2017-07-20 21:14] jordanlewis opened #17153 "ALTER TABLE ... SCATTER produces no output"
On a 4-node cluster with 100 ranges in `kv`, the following output occurs:

[code]

[2017-07-20 21:16] justinj opened #17154 "sql: allow ARRAYs in forward indexes"
Arrays support inverted indexes, but not forward indexes. If you want to index arrays, starting in CockroachDB 20.1 consider using an inverted index on your column.

This issue tracks adding forward indexes to array types.

Jira issue: CRDB-6049

[2017-07-20 21:58] justinj opened #17156 "sql: support ARRAY bounds in table defs"
Not clear if this is something we will ever support, but this is a tracking issue for it.

[2017-07-21 00:40] petermattis opened #17158 "sql: prepared statements should cache a query plan"
Similar to #13618 and based on data from #14927, prepared statements should cache a query plan. Analysis of simple queries indicate that query planning consumes ~25% of the service time. Additionally, query planning is a large contributor to allocations (38%) and allocated bytes (30%).  By caching the query plan, we can directly eliminate the time for query planning and significantly reduce GC pre

[2017-07-21 01:06] petermattis commented on #14927
The low-hanging and not-so-low hanging fruit has been plucked here. Filed #17158 to capture the desire to cache query plans.

[2017-07-21 01:06] #14927 closed

[2017-07-21 01:29] petermattis opened #17159 "perf: investigate pgwire flushing"
Investigate whether pgwire is doing the appropriate flushing of buffered data. Excessive flushing can result in extra system calls and extra TCP packets. This basically amounts to looking at `tcpdump` output and verifying that it is sane. Inspired by the discovery that gRPC currently creates 3 packets for unary RPC responses.

[2017-07-21 01:43] petermattis commented on #17159
First check shows nothing interesting:

[code]

`.10` is the client and `.4` is the node it is talking to. We're seeing 1 packet in each direction. Request and response.

[2017-07-21 07:46] JorritSalverda opened #17161 "[Feature Request] xorm support"
**FEATURE REQUEST**

I tried to run **Grafana 4.4.1** on top of **CockroachDB 1.0.3**, but it failed with the following error:

[code]

I've filed ticket https://github.com/grafana/grafana/issues/8900 for this. It most likely has to do with the _[xorm](https://github.com/go-xorm/xorm)_ ORM they use.

Is there an easy way to figure out which exotic postgres queries xorm uses that are currently not

[2017-07-21 07:46] JorritSalverda commented on #17132
Hi @a-robinson they're now all green again. So it seems to be an intermittent issue, but it can exist for quite a while and I'm curious why.

I've included the full log for one of the nodes at https://gist.github.com/JorritSalverda/bc25b9047db704eae567ae2f9c6e74a7. The logs might have no overlap with the suspect state though, I'll make sure to capture some logs when I see the suspect mode again.

[2017-07-21 08:03] rampage644 commented on #17134
Okat, will do.

[2017-07-21 11:58] sonix07 commented on #17133
Unfortunately I could not find out how to use the `cockroach init` instead of `join`.
But I found a workaround for docker swarm by creating two services and removing one after that.

This one I use to bootstrap the cluster. Note that this service is called **cockroachdb0**
[code]
My actual cluster will be this service called **cockroachdb**, also I use the join command to join cockroachdb0 and coc

[2017-07-21 13:09] a6802739 commented on #17061
@danhhz  could I have a try for this?

[2017-07-21 13:11] a6802739 commented on #17036
@tschottdorf  Maybe I could look at it. :)

[2017-07-21 13:14] danhhz commented on #17061
Hey @a6802739, @mjibson is actively working on this. Thanks for offering!

[2017-07-21 13:52] petermattis commented on #17119
Curious what you have in mind here? We do have `ALTER TABLE ... TESTING_RELOCATE`.

[2017-07-21 13:59] jordanlewis commented on #17158
I'm loosely planning to work on this next development cycle.

[2017-07-21 14:07] vivekmenezes commented on #17158
while doing this the table descriptor leases used to create the plan should be checked for expiration. The plan needs to expire if the lease expires and a renewed lease bringing up a descriptor with a different version.

[2017-07-21 14:26] a-robinson commented on #17133
Yes, the `init` command is going to be in release 1.1, so it's not documented for the 1.0 release. What you did is basically equivalent to what I would have done at this point. I agree with you that the DNS entry you get from having all the nodes be part of the same service is very useful. We'll switch over to this sort of model once 1.1 has been released in a couple months so that we can use the

[2017-07-21 14:45] jordanlewis commented on #17161
CockroachDB doesn't support the `ALTER TABLE ... ALTER ... TYPE` column type modification statement yet: #9851

I'll leave this issue open for actual `xorm` issues if you find them, but the problem you reference is merely a lack of column type modification support.

[2017-07-21 14:46] a-robinson commented on #17119
I don't have any specific plans here yet, I mostly just want to record use cases that get brought up until there's enough to motivate action.

`TESTING_RELOCATE` is a good thing to point people to now, but it doesn't do anything for leases or give control over where to relocate to. It also makes it tough to control individual ranges, which is probably for the best within the SQL interface, but a d

[2017-07-21 15:58] a-robinson commented on #17132
What do you mean by "quite a while"? 5-10 minutes or more like hours?

Because I just tried reproducing this a couple times (using GKE 1.7.1 and our latest statefulset config on preemptible VMs that I manually deleted to simulate them getting replaced) and I got periods of downtime on the order of 5-10 minutes simply due to the time that it took GCE to delete and replace the VM and for Kubernetes

[2017-07-21 16:04] a-robinson commented on #17132
Sorry for missing this question in my previous response. You should check out the `liveness.livenodes`metric for this.

[2017-07-21 17:32] rjnn opened #17165 "perf: tracking issue for environment knobs that have perf impact"
This is a tracking issue for best practices when really pushing CockroachDB to its performance limit. It is a useful source when trying to benchmark CockroachDB, or when changing defaults.

- Disable snappy RPC compression: `COCKROACH_ENABLE_RPC_COMPRESSION=false`. This gives a 5% throughput boost.
- Disable security (`--insecure`): not recommended, but gives a 5% throughput boost. Make sure compa

[2017-07-21 23:29] Enver-Yilmaz commented on #16618
I suggest you to look at DUCET "Default Unicode Collation Element Table" [https://en.wikipedia.org/wiki/Unicode_collation_algorithm](url)
With this algorithm, you can achieve sensible sort covers all languages. It isn't perfect but acceptable for many. You should do this as case insensitive and accent sensitive manner.

ICU library has this as "root" collation and I guess go has support for ICU in

[2017-07-22 03:45] cockroach-teamcity opened #17170 "teamcity: failed tests on master: acceptance/TestDockerC/Fail, acceptance/TestDockerC/Success, acceptance/TestDockerC"
The following tests appear to have failed:

[#302570](https://teamcity.cockroachdb.com/viewLog.html?buildId=302570):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-22 07:02] JorritSalverda commented on #17132
The _liveness_livenodes_ timeline shows all 5 nodes except for a dip to zero about 8 hours ago. Although it's current value is 5 out of 5 all 5 show up as suspect in the overview page even after a hard refresh.

I've included the full log of one of the nodes that's been around during that zero live nodes moment and still is:

https://gist.github.com/JorritSalverda/712818053554efe68c877165256a35dd

[2017-07-22 14:24] fire commented on #5582
@tlvenn Can you make it a proper postgrex fork with a name change?

[2017-07-22 16:29] jordanlewis commented on #5582
We should sync up about this again - we've got proper UUID support now, and #12526/#14556 are solved as far as I can tell. What's remaining?

[2017-07-22 22:51] bernielomax commented on #14848
Yes please. I want one of these! :)

[2017-07-23 01:39] petermattis opened #17172 "perf: explore pushing parts of MVCC or KV evaluation into C++"
We've observed in the past that minimizing Go/C++ crossings in `storage/engine/mvcc.go` is a useful performance optimization. But many of the interesting methods in `mvcc.go` still perform multiple Cgo calls. And stepping up a level, evaluation of a KV operation can often perform multiple MVCC operations.

The challenge in pushing more logic into C++ is in the Go/C++ boundary. Currently, Go code m

[2017-07-23 09:31] karnprem90 opened #17173 "sql: not able to update column in cockroach-sequelize db"
.save() function is not working in cockroach-sequelize db. I am getting this error.
error: unsupported comparison operator: <int> = <string>

[2017-07-23 14:20] JorritSalverda commented on #17132
I misread the scale of the _liveness_livenodes_, it doesn't dip to 0 but to 4 out of 5 nodes whenever one gets relocated to a new host, because the preemptible node gets deleted. All 5 nodes are still suspect 1 day later.

[2017-07-23 14:36] jordanlewis opened #17174 "tracing: there are too many spans per RPC"
Every inter-node batch RPC currently seems to produce 4 spans:

1. `grpcTransport SendNext` - this one spans the entire RPC from the client's perspective. It usually has one log message inside - something like `[IndexBackfiller=51,n4] sending request to cockroach-ultramarine-0002:26257`
2. `/cockroach.roachpb.Internal/Batch` - this one also spans the entire RPC from the client's perspective, but c

[2017-07-23 19:47] RaduBerinde commented on #17174
The client-side `Batch` span is indeed pretty useless; but it is created by the grpc interceptor; we would need to fork that repo to change it.

I agree we can remove the first one (and just log that message to the parent span).

There should never be three `Batch` spans - there should be one if its local and two (client + server) if it is via gRPC. If you saw three, it sounds like a bug. This is

[2017-07-23 19:53] RaduBerinde opened #17175 "tracing: tags should be remembered even if we're not recording"
In order to provide the `GetSpanTag` functionality, we need to set tags in all cases, not just if we are recording. `GetSpanTag` is used to avoid creating a `Batch` span if the gRPC interceptor already created one for us.

[2017-07-23 19:53] RaduBerinde commented on #17174
Filed #17175 for the three span bug.

[2017-07-23 20:36] RaduBerinde commented on #17174
Ah, `SendNext` has this TODO:
[code]

[2017-07-23 20:40] petermattis opened #17177 "perf: packets per/op regression from 1.0.3 to 1.1"
Noticed while examining 1.0.3 vs 1.1 performance:

<img width="1403" alt="screen shot 2017-07-23 at 4 36 50 pm" src="https://user-images.githubusercontent.com/6201335/28502672-3cb9c5d0-6fc5-11e7-9064-03a7094d9b25.png">

The segment on the left is 1.1 and the right is 1.0.3. This is aggregate packets received/transmitted on the cluster. The workload is `kv --read-percent 95 --max-rate 10000 --split

[2017-07-23 20:52] tschottdorf commented on #17174
I tried removing the SendNext span once. It wasn't easy because it's hard
to avoid the case in which the fork survives the parent and failing to
handle it properly means crashes.

On Sun, Jul 23, 2017, 16:36 RaduBerinde <notifications@github.com> wrote:

--

-- Tobias

[2017-07-23 21:29] jordanlewis commented on #17174
If it's hard to remove SendNext, and we have special logic on the server side to create a Batch span if there isn't one already, can we just turn off the GRPC interceptor? seems like we have both sides covered, so I don't know if the interceptor is really buying us anything.

[2017-07-23 21:51] tschottdorf commented on #17174
Without the interceptor, we don't get the spans from the sending side
associated to the receiving side.

On Sun, Jul 23, 2017, 17:29 Jordan Lewis <notifications@github.com> wrote:

--

-- Tobias

[2017-07-23 21:54] benesch commented on #17044
Alright, all done! Next week's v1.0.4 is tracked in #17148.

[2017-07-23 21:54] #17044 closed

[2017-07-23 22:24] petermattis commented on #17177
Bisection points to 791944c04ccff341ec1387d59cfcae5af9f1eab4. I suspect the interceptor is adding something to the requests/responses which is causing different behavior in gRPC.

Cc @RaduBerinde

[2017-07-23 23:45] jordanlewis opened #17180 "storage: cluster stuck retrying splits"
A 6-node cluster (from `TestSteady_6Medium`) got stuck trying to apply a split command, and produced a never-ending stream of the following messages:

[code]

Note that the value listed in `unexpected value` doesn't ever change.

@bdarnell speculates in slack:

[2017-07-24 00:19] petermattis commented on #17177
There may be two problems. 791944c04ccff341ec1387d59cfcae5af9f1eab4 caused an increase from 96k packets/sec to 120k packets/sec. But master is showing 136k packets/sec.

[2017-07-24 00:25] petermattis commented on #17177
Disabling the opentracing client and server interceptors in `rpc/context.go` brings master back down to 108k packets/sec.

[2017-07-24 00:37] petermattis commented on #17177
@RaduBerinde Can we use https://github.com/grpc-ecosystem/grpc-opentracing/blob/master/go/otgrpc/options.go#L32 to not add a span if tracing is disabled?

[2017-07-24 01:06] RaduBerinde commented on #17174
Yes, the main task of the interceptor is to inject context information about the trace into the gRPC metadata, and extract it on the other side. I can propose a PR upstream to have a flag or something to suppress the client-side span which is pretty useless.

[2017-07-24 01:48] petermattis commented on #17177
Further bisection is pointing at a2b80c18fe8a3b8198acb5049a0631ea5df575a8 as causing the packets/sec to grow from 120k to 136k. Not at all clear why. I'll look closer tomorrow.

[2017-07-24 02:28] a-robinson commented on #17177
That might be a red herring given that we reverted it in #16772, though.

[2017-07-24 02:29] tschottdorf commented on #17174
@jordanlewis also didn't mean to imply that we won't be able to remove the SendNext span. I think we can, just have to do it more carefully than I did when I drove by the last time.

[2017-07-24 02:40] tschottdorf commented on #17174
I'm looking into the `SendNext` span.

[2017-07-24 07:23] sonix07 commented on #17133
Would you say that this is a recommended configuration at this point in time? With the exception of the `--insecure` option, but I will use an nginx proxy to authenticate and all the traffic between the nodes is already encrypted due to the docker swarm overlay network

[2017-07-24 09:13] yaojingguo opened #17184 "docs: “bad connection” warning when using cockroach console over Haproxy"
`yao-0` is Haproxy over 7 cockroach nodes. If I wait for about 1 minute to input another command to cockroach console, the following warning shows up:

[code]

Here is the detailed scenario:
[code]
But running cockroach console over cockroach nodes does not have this problem. And it seems that this problem is related to #15970.

cockroach version:

[code]

[2017-07-24 11:24] petermattis commented on #17177
Strangely, 40b86c1e1573636c725c072ac1d47ccad2da186b does not bring the packets/sec back down to 120k.

[2017-07-24 12:02] RaduBerinde commented on #17177
Wow, this is surprising. When tracing is disabled, `Inject` doesn't do anything. But the interceptor still creates a `NewOutgoingContext` which may be causing the difference. `IncludingSpans` would indeed circumvent that. I can come up with a patch, if I send it to you can you retest to confirm if fixes the regression?

[2017-07-24 12:25] RaduBerinde commented on #17177
@petermattis I posted a diff in #17185

[2017-07-24 12:31] gpaul commented on #17075
The root cause was ... insufficient indexes. The symptom of the cluster not recovering even after hours of extremely low load is still worrying though.

[2017-07-24 13:06] hxiaodon opened #17186 "stability: investigate recovery from permanent unavailability"
Hi,
I proposed this issue in gitter at last weekend. It should be helpful if the disaster recovery tool is provided:)

Hi,All. I started a local cockroachdb cluster with 3 instances(node1,node2,node3), node2 and node3 join node1, all works fine even one node is crashed. When I crash node1 and node2(clean data folder and restart), node3 could not provide service(It's expected), but I could not dump

[2017-07-24 13:11] tschottdorf commented on #17075
@gpaul thanks for your report and sorry this issue has been idle for so long! I agree that it's worrisome that the cluster did not recover when you stopped the workload. We will take a look.

[2017-07-24 13:16] petermattis commented on #17177
@RaduBerinde Roger, I'll take a look when I get to the office.

[2017-07-24 13:25] a-robinson commented on #17133
If you're explicitly ok with the caveats that go along with running an `--insecure` cluster, which are [listed in our docs](https://www.cockroachlabs.com/docs/stable/manual-deployment-insecure.html#recommendations), then it's a recommended configuration.

[2017-07-24 13:32] jordanlewis commented on #17184
@yaojingguo, generally when we see that message after a command is entered it indicates that the node you're connected to has crashed. The issue you linked to is an example of that. However, the message merely indicates that the connection was closed for some reason.

In this case, though, you've got a `haproxy` in between your client and your server. I suspect that the proxy is doing something fu

[2017-07-24 13:40] petermattis commented on #17177
Something is either off with the packets/sec metric or I'm miscounting the number of packets we should expect for a read operation. As I count it, a simple read operation should generate 1 received packet at the pgwire level and 1 transmitted packet for the pgwire response. If the request is for a remote range, there will be 1 transmitted packet to the remote node and 3 received packets (3 due to

[2017-07-24 13:48] a-robinson commented on #17184
Without looking into things at all, this smells like we may want to add a TCP keep-alive to the haproxy config. Calling @mberhault

[2017-07-24 13:52] vivekmenezes opened #17187 "sql: speedup restart of job coordinator"
first reported by a user when trying a DROP TABLE and complaining about the command stalling. The particular problem with a slow DROP TABLE has been fixed by #17016, but there still exists a short window when a job is running and the coordinator node fails resulting in a new coordinator restarting in like 6 minutes (schema change lease interval).

We could fix this by reducing the schema change le

[2017-07-24 14:49] gpaul commented on #17075
Not at all, combining "it is slow" with "i'm running master" I wasn't expecting a massive turnout :-)

[2017-07-24 14:57] knz opened #17188 "sql: homogeneize / abstract access to db / table descriptors"
So while polishing #15388 I realize I do not really have an answer to "how do I get a db descriptor by ID" (other than, I know already, constructing the descriptor key and talking to KV manually)

Actually this pulled up some more questions:
- how can I access "old" versions of database descriptors? (Is that at all possible?)
- how do I get a table desc by ID?
- how do I get a *cached* table desc

[2017-07-24 15:01] petermattis commented on #17177
Verified the metric by looking at `/sys/class/net/eth0/statistics/tx_packets`. On a single node cluster performing only reads, the Tx and Rx packets/sec almost exactly matches the ops/sec.

[2017-07-24 15:08] andreimatei commented on #17174
I think it's pretty useful to have both client-side and server-side spans for a RPC - this way you can see how long the network call took.

[2017-07-24 15:20] RaduBerinde commented on #17174
Agreed. So with #17176 and #17182 we should have a client-side `/cockroach.roachpb.Internal/Batch` and a server-side `/cockroach.roachpb.Internal/Batch` for remote requests, and only one `/cockroach.roachpb.Internal/Batch` for local requests. I think that is ok.

[2017-07-24 15:29] RaduBerinde opened #17191 "tracing: TestTrace passes when snowball tracing is broken"
`TestTrace` essentially checks if we see a `/Batch` span in all cases. With gRPC interceptors, we have a client-side span and a server-side span (both with the same name). If snowball tracing is broken and the server-side span doesn't show up, the test is still satisfied by the client-side span.

This could be fixed by adding a tags column to session_trace, and ignoring the `/Batch` spans that hav

[2017-07-24 15:39] vivekmenezes commented on #17188
while I agree that there is room for improvement here, a lot of work has been done on table descriptors to bring them more inline with how we want them to be used. See the RFC:
https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/table_descriptor_lease.md

for discussions on table descriptor versions and how they should be used.

More work needs to be done to improve the API in the code

[2017-07-24 15:45] dianasaur323 commented on #17186
@hxiaodon Thanks for bringing this up. There is nothing coming up in our 1.1 yet, but we are currently scoping out what a solution for this scenario might look like. The scenario you are hitting is that if you lose 2 out of 3 replicas, you'll have to restore from a backup.

Quick question for you, in this use case, would you rather force the single remaining replica to up-replicate, or would you p

[2017-07-24 16:23] eisenstatdavid commented on #16618
Thanks, we already implemented support for collation at the column level via golang/text.

[2017-07-24 16:24] petermattis commented on #17177
Perhaps related to the remaining 1.0.3 vs 1.1 discrepancy: 1.1 sees a steady stream of not-leaseholder errors when there shouldn't be any while 1.0.3 does not. Tracking this down now.

[2017-07-24 16:30] cockroach-teamcity opened #17193 "teamcity: failed tests on master: testrace/TestConcurrentBatch"
The following tests appear to have failed:

[#304188](https://teamcity.cockroachdb.com/viewLog.html?buildId=304188):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-24 16:57] BramGruneir opened #17194 "cli/start: certificate handshake error on node start should show visible failure"
I was trying to setup a secure cluster locally, but I hadn't added my machine name as a hostname in the certs.  This was easy to fix, but was a little annoying to deal with.

The first node started correctly, but when I tried to add an additional node, it would just hang.
This error appears in the logs:
```I170724 12:49:02.296117 37 vendor/google.golang.org/grpc/clientconn.go:649  Failed to dial B

[2017-07-24 17:07] andreimatei commented on #16519
This issue seems to still coming up. Do you think you'll have any time to look into it in the foreseeable future?

[2017-07-24 17:14] petermattis commented on #17177
The proximate cause of the problem is that `rpc.Context.ConnHealthy(<local server>)` is always returning false. Something in 1.1 change that is causing that. There is an easy hack to always make the local server connection appear hacky, though I'd like to find out the root cause of why these connections are not healthy.

[2017-07-24 17:17] mjibson commented on #16519
Yes, after feature freeze when I have time to work on bugs.

[2017-07-24 17:20] a-robinson commented on #17133
Actually, coming back to this, what are you doing for volumes in your new configuration? Writing cockroach's data into each container's filesystem is a very bad practice.

[2017-07-24 17:35] dt commented on #16978
@hach-que Yes, your reading is correct: the proposed design does require that the partitioning column(s) be in the primary key (and indeed, as drafted, further requires they be a prefix). And you're spot-on about uniqueness: to do a unique user id check without a scan, we'd need that `userid -> region" index you mentioned, and it should be unique and *non-partitioned*.

We don't *currently* suppor

[2017-07-24 17:36] RaduBerinde commented on #17177
Distsql planning also depends on `ConnHealthy`.

[2017-07-24 17:44] petermattis commented on #17177
@RaduBerinde Roger. I have a PR coming that will fix this. Looks like it was broken by https://github.com/cockroachdb/cockroach/pull/16612.

Cc @tamird

[2017-07-24 17:57] bdarnell commented on #17172
Go has two ways to interface with foreign code: cgo and assembly. The assembly interface doesn't interact with the scheduler, so it's much faster (but it has limitations such as not being suitable for code that may make system calls). There are tricks like https://github.com/minio/c2goasm for calling C code via the assembly interface; we may be able to do something like this to reduce the cost of

[2017-07-24 17:59] #17175 closed

[2017-07-24 18:06] #13342 closed

[2017-07-24 18:17] petermattis commented on #17172
`c2goasm` has a number of limitations right now (e.g. arguments need to be 64-bits in size), and I'm not seeing how to use it to make a C/C++ function call, but its good to keep the use of assembly as a trampoline into C/C++ as an option.

[2017-07-24 18:35] bdarnell commented on #17180
Is this from a master build within the past couple of days? Is it reproducible?

Decoding that proto blob should tell us whether this is a removed-but-not-GCed replica.

`/System/""` is adjacent to `keys.Meta2KeyMax`, so it's possible that after the changes to the use of `EnsureSafeSplitKey` it's running in to [this special case](https://github.com/cockroachdb/cockroach/blob/ddd691005eabbf901f60df

[2017-07-24 19:12] andreimatei opened #17197 "kv: concurrent use of client.Txn can cause unintended data to be committed in the face of retryable errors"
I believe the following scenario is possible:
- two `RETURNING NOTHING` statements, *A* and *B* use the same `client.Txn`, and continuously send write batches on it.
- one of the batches sent by *A* encounters `TransactionRestartError`. The proto attached to that error has an updated epoch.
- `client.Txn.send()` updates the local proto to that incremented epoch.
- *A* gets the error and stops send

[2017-07-24 20:05] yonkeltron commented on #5582
Is this ready to be tested again with Ecto? Happy to spin up a fresh app and give it a shot.

[2017-07-24 20:39] a-robinson opened #17198 "storage: Replica gets GC'ed immediately after preemptive snapshot gets applied"
On node 4 (the leaseholder):

[code]

On node 3 (where the preemptive snapshot was being sent):

[code]

This is shortly after starting up kv on indigo, where the round-trip latency is roughly 30-40ms between data centers. It's concerning both that the replica was immediately GC'ed and that once the snapshot has been successfully applied that the leaseholder apparently can't figure out that it nee

[2017-07-24 20:59] bdarnell commented on #17198
Is this repeatable? It's a known issue that this is possible, but it should be rare and we're supposed to recover by sending a raft-initiated snapshot.

[2017-07-24 21:06] a-robinson commented on #17198
I've seen it twice while messing around with indigo this afternoon, so it's probably pretty repeatable. I haven't yet tried to experiment with it again though.

In at least second case, the range got stuck afterwards, so there's something that needs to be fixed here.

[2017-07-24 21:07] leomkkwan opened #17199 "sql: timezone info consistency for DATE between insert and select"
Not sure if this is a bug or I am missing something. For "Date" datatype, how do we store and retrive timezone info?

For example, if we change the time zone for a session to EST.

[code]

----------------------------------------------------------
What I expect is like how we do for timestamp datatype, which save everything in GMT and ignore session time zone.

[code]

----------------------------

[2017-07-24 21:34] a-robinson commented on #17177
Are you saying that the `ConnHealthy` problem was causing the `NotLeaseholder` errors?

[2017-07-24 21:36] petermattis commented on #17177
Yes. `kv/transport.go` always sends RPCs to unhealthy connections after healthy connections.

[2017-07-24 21:52] a-robinson commented on #17075
Hey @gpaul, like @tschottdorf I'm sorry I didn't get to this last week. Thanks for all the details. I have a few follow-up questions for you:

1. You mentioned running insert/delete statements as part of your workload. Were these statements running at the same time as the slow `SELECT` statement?
1. If so, were they modifying the `aces` and `resources` tables that the `SELECT` query was doing full

[2017-07-24 21:54] bdarnell commented on #13560
Bumping to "Later" and unassigning this test-cleanup issue.

[2017-07-24 23:30] tschottdorf commented on #17177
Wow, yikes. Good find, Pete.

[2017-07-25 01:14] petermattis opened #17202 "perf: change LeaseHolderCache.mu to a RWMutex"
Noticed in passing that `LeaseHolderCache.mu` is a `Mutex` despite being read mostly and accessed on nearly every RPC.

[2017-07-25 01:41] petermattis commented on #17177
Between #17196 and #17185, this is now fixed.

[2017-07-25 01:41] #17177 closed

[2017-07-25 01:59] yaojingguo commented on #17184
My haproxy.conf which is generated by `cockroach gen haproxy`:

[code]

And even with only one cockroach node behind haproxy, I have the same problem. Here is the `haproxy.conf` for one cockroach node:

[code]

[2017-07-25 02:02] liuliyun1 opened #17203 "When using PDI importing data into cockroachdb, it shows : ERROR: table "pg_user" does not exist"
We are trying to load data from MS SQL  Server to cockroachdb using PDI(Pentaho’s Data Integration).
The following error blocks us:

[code]

I check through sql command line, there is no table named "pg_user":

[code]

Is our scenario supported? Or is it possible to work around this? Thanks.

cockroach version :

[code]

[2017-07-25 02:27] a-robinson commented on #17203
@asubiotto

[2017-07-25 02:33] a-robinson commented on #17184
Yeah, it looks like the `timeout client` setting of `1m` is likely terminating these connections. Would you mind trying increasing that value?

I'm not quite sure why we put it there in the first place, though, so I'll probably wait for @mberhault to chime in when he's back before changing the value that we generate.

[2017-07-25 02:45] liuliyun1 opened #17204 "security: Insecure mode should not allow passwords to be set"
recreation steps:

1. create a user with password
2. grant priviliges on database to the user
3. connect to the database through jdbc, without setting password:

[code]

the output:

[code]

cockroach version:

[code]

[2017-07-25 03:21] yaojingguo commented on #17184
After setting `timeout client` to `100s`, I still have the problem. Here is the `haproxy.cfg`:

[code]

[2017-07-25 03:28] bdarnell commented on #17204
`--insecure` mode is completely insecure and does not support any sort of authentication. You must configure your cluster with TLS certificates on the nodes to use authentication. For your clients you can either use TLS certificates or passwords for authentication (but client TLS certificates are recommended).

[2017-07-25 03:29] bdarnell commented on #17204
Given this, it's probably a bug that we allow you to set a password in an insecure cluster, where it will never be used.

[2017-07-25 03:37] liuliyun1 commented on #17204
@bdarnell Thanks for your quick response!  So this is not a real problem in --insecure mode.
Closing issue.

[2017-07-25 03:37] #17204 closed

[2017-07-25 03:59] hxiaodon commented on #17186
@dianasaur323
I'd like to choose the former one, although its implementation would be complex; The latter way need me to restore the backup and apply the incremental change manually to new created cluster, but it should be easier for you to provide quickly:)

[2017-07-25 09:33] sonix07 commented on #17133
@a-robinson this was just to quickly evaluate the software. Now I am mounting local ssd storage from each node and leveraging the fault tolerance of the application. Do you think that this is a good idea? I'm trying to avoid purchasing a SAN

[2017-07-25 14:20] a-robinson commented on #17133
Yes, that's reasonable as long as the data is being written to the mounted SSD.

[2017-07-25 14:29] #17134 closed

[2017-07-25 14:36] cuongdo commented on #17203
We currently do not support `pg_user`, because our support for `pg_catalog` has thus far been focused on the `pg_catalog` views needed to support ORMs.

Is there a way to bypass this check in PDI?

cc @mjibson @danhhz for possible alternatives

[2017-07-25 15:02] irfansharif commented on #16624
Circling back to this issue, still visible after restructuring around truncations moving downstream and happening on it's own dedicated queue after the fact ("truncations" only update TruncatedState, _actual_ deletion of log entries happen after the fact). I'm sure there's a very simple oversight causing this but still investigating. Below are some graphs from a longer run last night where we obse

[2017-07-25 15:18] tschottdorf opened #17208 "sql: data race in lease manager"
https://teamcity.cockroachdb.com/viewLog.html?buildId=304343&buildTypeId=Cockroach_UnitTests

[code]

[2017-07-25 15:33] #14798 closed

[2017-07-25 15:38] bdarnell commented on #15733
Fixed by #16874

[2017-07-25 15:38] #15733 closed

[2017-07-25 15:39] bdarnell commented on #14171
Fixed by #16874

[2017-07-25 15:39] #14171 closed

[2017-07-25 17:19] mjibson commented on #17203
I'm not familiar with PDI. But currently the fastest way to get data into cockroach (using the most recent 1.1 alpha) is to use the `load csv` subcommand. If you can export your data into CSV, that's certainly the fastest way to do it.

[2017-07-25 17:30] andreimatei commented on #14171
Well, I've done another run manually and it failed... But it looks to me like it failed differently than before. I don't understand much from the log at the moment but... looking...

https://teamcity.cockroachdb.com/viewLog.html?buildId=304925&tab=buildResultsDiv&buildTypeId=Cockroach_Nightlies_Jepsen#testNameId2988281092275661567

[2017-07-25 17:34] bdarnell commented on #14171
Yeah, I don't think I've seen that one before:
[code]

[2017-07-25 17:37] a-robinson commented on #17184
Ok, thanks for checking! Given that, we'll probably want to explicitly enable TCP keepalive from haproxy to the client (we don't need it to the server since the server already sends keepalives). It looks like that means we'll want to enable the [`clitcpka` setting](https://cbonte.github.io/haproxy-dconv/1.7/configuration.html#4.2-option%20clitcpka).

[2017-07-25 18:06] tschottdorf opened #17215 "storage: write a test for double ingestion"
See https://github.com/cockroachdb/cockroach/pull/17201.

[2017-07-25 18:09] irfansharif commented on #16624
Seeing a lot of snapshot generation/application isolated to few specific ranges:
[code]

[2017-07-25 18:10] bdarnell commented on #16624
I'm not sure what it means yet, but I think that last graph is going to be the key: we have periodic bursts of messages getting through, coinciding with an increase in the level of dropped messages (and each time the spikes/increases get smaller). It looks like it repeats at regular intervals, but not at a round number (11 minutes?)

This suggests problems in the raft transport, maybe flow control

[2017-07-25 18:19] andreimatei commented on #17197
Talked with Ben and Tobi and Peter. It seems that a better idea might be to restore `client.Txn` to be single-threaded and add a way to "merge" `Transaction` proto updates outside of it (i.e. in the `parallelizeQueue`). The argument is that, with DistSQL doing writes in the future, we'll need a way to do such merges conceptually anyway - i.e. reconcile `Transaction` updates that different nodes be

[2017-07-25 20:25] cockroach-teamcity opened #17221 "teamcity: failed tests on master: Example-ORMs/TestSQLAlchemy, Example-ORMs/TestSQLAlchemy/FirstRun, Example-ORMs/TestSQLAlchemy/SecondRun, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Products, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Customers, Example-ORMs/TestSQLAlchemy/SecondRun/RetrieveFromAPIAfterRestart/Order"
The following tests appear to have failed:

[#305398](https://teamcity.cockroachdb.com/viewLog.html?buildId=305398):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-25 22:23] danhhz commented on #14216
i don't think we need to do this until someone needs it

[2017-07-25 23:42] petermattis commented on #17108
@aselus-hub Wanted to let you know this is still on my radar. Apologies for not being able to take a look at a sooner. Other work has interfered.

[2017-07-25 23:46] petermattis commented on #17186
One challenge with recovering data from a below-quorum range is that we can't know that we have the most recent data. This is inescapable. But it is feasible to build a tool which does a best-effort reconstruction of data. What I'm imagining would be offline and might utilize some of the mapreduce-like infrastructure being used for bulk ingest and we'd want to pair that with some SQL fsck tool whi

[2017-07-26 00:15] girishkolantra opened #17225 "sql 1.0: unionNode.Columns() crashes when used in subquery RHS of an IN expression"
I created a table using
[code]
Then I inserted some data using

[code]

I tried to find the leaf node in this tree using the following query
[code]

This query crashed my cluster with three nodes. The following was the stacktrace
[code]

I am using cockroachdb build:      CCL v1.0.3 @ 2017/07/06 17:46:06 (go1.8.3)

[2017-07-26 00:31] cockroach-teamcity opened #17226 "teamcity: failed tests on master: testrace/TestAmbiguousCommit, testrace/TestAmbiguousCommit/ambiguousSuccess=false, testrace/TestClientNodeID"
The following tests appear to have failed:

[#305540](https://teamcity.cockroachdb.com/viewLog.html?buildId=305540):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-26 01:19] vivekmenezes commented on #17208
This is easily fixed by protecting tableState.dropped by the mutex in tableState. This is a bug in the test.

[2017-07-26 01:44] vivekmenezes opened #17227 "sql: refresh table leases asynchronously"
When a table lease is about to expire we refresh the lease in the context of the request trying to use a table descriptor. It will be better to issue a request to acquire a new lease, and use the old (but not yet expired) table lease for the request. This is likely to show up one day as an increased tail latency.

[2017-07-26 01:53] vivekmenezes commented on #17225
Thanks for reporting this issue. We'll attempt to fix it in the next release.

[2017-07-26 01:56] #14166 closed

[2017-07-26 07:59] gpaul commented on #17075
Yes.

The test I was running inserts records, deletes them, inserts more records, deletes those, etc. All the while SELECT requests that trigger table scans are executing at an average rate of one every few seconds with some standard deviation causing occasional queries to arrive back-to-back.

Yes.

The test adds users, adds groups, adds users to groups, then adds a bunch of resources and adds us

[2017-07-26 08:03] gpaul commented on #17075
Also relevant to my last point: there is only one client throughout, but that client uses connection pooling.

[2017-07-26 13:54] a-robinson opened #17229 "storage: Performance degradation caused by kv tombstones"
If a workload deletes or updates rows frequently and also scans over those rows, the tombstones left behind by our MVCC cause the scans to get slower and slower over time. This is surprising to users and can render workloads that are perfectly reasonable on a new database impractically slow on a database that's been under load for 24 hours.

This was hit by a user whose workload involved two table

[2017-07-26 13:55] a-robinson commented on #17075
Your suspicion is correct. That's most likely what you ran into here. We keep the deleted records in-line with the live records until we GC them, which by default won't happen for 24 hours. This isn't a big deal if you're doing point lookups of records (as would be the case after you added indexes), but will affect table scans.

This is an issue that we've [recently started discussing more](https:

[2017-07-26 13:55] #17075 closed

[2017-07-26 14:02] tschottdorf commented on #17229
https://github.com/cockroachdb/cockroach/issues/16252 as well and I remember there was another instance (but can't find it now). Suffice to say it's a relatively frequent problem.

[2017-07-26 14:33] #11988 closed

[2017-07-26 14:39] RaduBerinde commented on #17174
Should be down to two now.

[2017-07-26 14:39] #17174 closed

[2017-07-26 15:09] cockroach-teamcity opened #17230 "teamcity: failed tests on master: test/TestBackupRestoreInterleaved, test/TestBackupRestoreInterleaved/all_tables_in_interleave_hierarchy"
The following tests appear to have failed:

[#306083](https://teamcity.cockroachdb.com/viewLog.html?buildId=306083):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-26 17:09] wzrdtales opened #17236 "Cockroach crashes with [runtime error index out of range]"
Just quickly dropping this here, I will supply more details later.

Crash message:

[code]

[code]

Ignore the 1.0.2 I just upgraded and tested it again, still the same problem. I will provide  details about the query executed soon. All I know currently is that it is related to the number of parameters, as if I reduce them to a smaller amount everything works fine with the same queries.

As said d

[2017-07-26 17:11] andreimatei commented on #17236
Routing to Jordan, my go to prepared statements friend.

[2017-07-26 17:12] wzrdtales commented on #17236
A complete log from start to crash:

[code]

I am away for some hours, maybe it is getting late or even tomorrow. Will provide you an executable reproduction as soon as I get to it, unless you already know what the failure is :)

Hear ya later.

[2017-07-26 17:27] jordanlewis commented on #17236
Thanks for the report - not quite sure what's going on here. I haven't validated this idea yet, but are you by any chance trying to create a prepared statement with more than 65536 parameters? I don't think that will work, and may cause a crash at the moment. I'll need to see how Postgres deals with that.

[2017-07-26 17:37] jordanlewis commented on #17236
The panic is caused by an invalid index into the format codes array, which is an array of integers 1 or 0 that indicates whether the input value will be sent with the text or binary protocol. I don't understand how the invalid index is generated, though, because the index used is a range index over the array of input types... and the array of format codes is generated with `make([]formatCode, uint

[2017-07-26 17:59] mrtracy commented on #17226
Another instance of failure for TestClientNodeID:

https://teamcity.cockroachdb.com/viewLog.html?buildId=306188&tab=buildResultsDiv&buildTypeId=Cockroach_UnitTests_Testrace

[2017-07-26 18:09] cockroach-teamcity opened #17238 "teamcity: failed tests on master: testrace/TestAmbiguousCommit, testrace/TestAmbiguousCommit/ambiguousSuccess=false"
The following tests appear to have failed:

[#306216](https://teamcity.cockroachdb.com/viewLog.html?buildId=306216):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-26 18:53] cuongdo opened #17240 "roachtest: resurrect 1->6 allocator test"
Failed test: [1->6 allocator test with 108 GB of data](https://teamcity.cockroachdb.com/viewLog.html?buildId=305532&buildTypeId=Cockroach_Nightlies_AllocatorTest1to6_108g&tab=buildLog)
Build: 5b74eda

I've attempted to run this test twice. The first time it timed out. The second time (the one linked to above) stalled. After 8 minutes, there were no allocator events, but the range counts weren't ba

[2017-07-26 19:34] petermattis commented on #17229
An idea mentioned by @tschottdorf is to move historical data to a separate column family. Concretely, we could have a background process that periodically moved old versions and deletion tombstones to a separate column family. This could be done independently on each replica as the logical data would remain unchanged. Each replica would maintain a timestamp that would control whether the separate

[2017-07-26 19:46] petermattis opened #17242 "perf: quantify benefit of larger (32KB) goroutine initial stack size"
A new goroutine is created with a 2KB stack. Unfortunately, cockroach often utilizes more stack space than that requiring a relatively expensive operation to create a larger stack and copy the existing stack contents to it. This issue has been filed upstream as https://github.com/golang/go/issues/18138. One of the Go maintainers suggested a possible solution: make the initial stack size larger. Th

[2017-07-26 19:51] a-robinson commented on #17132
If the `liveness.livenode` number jumps back to 5 when the node comes back online, then you can be confident your cluster is working correctly, and that this is an issue with the UI.

I still haven't been able to reproduce this, though, so it's tough for me to say what exactly is going on. @mrtracy, is there any way for @JorritSalverda to dump the redux state from his UI? Particularly the `state.c

[2017-07-26 19:55] petermattis opened #17243 "perf: quantify benefit of disabling Go GC assist"
The Go GC contains a facility for conscripting mutators (i.e. an application's goroutines) into performing work on behalf of the GC. This "GC assist" is needed to prevent a heavily allocating goroutine from allocating faster that GC can keep up. Unfortunately, it seems to have an outsize effect on tail latencies and a modest effect on peak throughput.

<img width="930" alt="screen shot 2017-07-26

[2017-07-26 20:05] bdarnell opened #17244 "acceptance: Test with `sslmode=verify-full`"
Our acceptance tests currently use a secured server, but the clients do not verify the server's certificate. We have reports that `verify-full` does not work as expected for java clients, so we need to be testing this for every language in the acceptance tests. The diff below turns on `verify-full` for most languages (java is different; see `java_test.go`), but it fails because the certs have not

[2017-07-26 20:11] a-robinson commented on #17240
Thanks @cuongdo! This actually looks quite similar to #17198, which I recently ran into on indigo. I'll be sure to track it down next week if I don't have enough time this week.

[2017-07-26 20:44] bdarnell opened #17246 "stability: Segfault in race-detector builds"
All four nodes of our race-detector test cluster have segfaulted in `__tsan_func_enter`, on july 23 and 24. Sample log snippet:

[code]

It's unclear whether this is a bug in our code or the race detector. (we think we've seen crashes like this before and blamed them on the race detector, but didn't capture details that I can find).

[2017-07-26 20:46] tschottdorf commented on #17246
Any core dumps? If not, probably needs the crl-allow-coredumps massage.

[2017-07-26 20:59] bdarnell commented on #17246
No core dumps. It was partially wiped and restarted and now it's kind of broken, so we need to wipe it and restart to see if it's reproducible. I can't tell for sure because logs have been GC'd since the prior restart, but I think this was running commit a1af558e5859b668ee9823267bb27bb5929481b4 (master branch, not release-1.0).

[2017-07-26 21:31] jordanlewis commented on #17225
@girishkolantra, I cannot reproduce this bug on a recent build - it was probably fixed already. You should be able to successfully run your query on a recent alpha, or wait for 1.1.

[2017-07-26 21:33] andreimatei commented on #17197
One thing to pay attention to is that the `Transaction` has a `Writing` field. I don't know how it's used, but some thought should be put into whether it makes sense in a world with forked protos.

[2017-07-26 21:34] mrtracy commented on #17132
Unfortunately it's going to be a bit difficult to do that; the compiled source is minified, and we'd have to set a breakpoint at a specific point in order to extract it.  I'll see about adding a method that serializes the state in 1.1; for now, i'm willing to walk you through the process, but it may prove unexpectedly difficult due to extreme performance issues in both Chrome and FIrefox developer

[2017-07-26 21:49] tschottdorf commented on #17197
It's used to make sure that we don't send `BeginTransaction` when we've already done so before. You're right that it's a concern here -- if we fork a non-writing proto and then two users independently start writing, they're both going to send `BeginTransaction` and the second one will fail. Even more problematic is that unless `txn.Key` is set ahead of time, both users may anchor the txn independe

[2017-07-26 21:50] tschottdorf commented on #17197
Note that the double-writing problem should happen today already and that the writing flag has had a history of being annoying but somehow necessary. I'll have to page the details back in; hopefully there's a good comment on the proto field! 🤞

[2017-07-26 21:52] wzrdtales commented on #17236
@jordanlewis Funny thing, if you supply more than 2^16 parameters it errors out with exactly that failure stating you're only allowed to pass 2^16-1.

[2017-07-26 21:54] irfansharif commented on #16071
Running into this under heavy load (`ycsb -workload F -concurrency 500 -splits 500`). Any suggested workarounds in the interim?

[2017-07-26 21:58] tschottdorf commented on #16071
My workaround was to use a release binary. `make build TYPE=release-linux-gnu`. You can hack the local-cockroach invocation. I think the difference is that it's built with gcc and not clang and so doesn't have that particular problem.

It will post crash reports to sentry, but, tough luck.

[2017-07-26 21:58] andreimatei commented on #17197
That's the thing with rabbit holes.
I became aware of some of these facts myself. I refrained from writing more here, but I think we'll need to have more of a conversation about how coordination happens between different clients (local first, then remote) when it comes to anchoring and heartbeating.

[2017-07-26 22:45] andreimatei opened #17249 "kv: request sequence numbers are broken when using client.Txn concurrently"
There's a suspicion that we might reuse sequence numbers when different batches are sent by concurrent users of a `client.Txn` (think SQL `parallelizeQueue`). These sequence numbers have a role in replay protection.
The sequence numbers are assigned by the `DistSender`, using a counter that's in a forked `Transaction` proto. Racing batches might reuse numbers.

This is probably not OK? I'll let @t

[2017-07-26 22:50] andreimatei opened #17250 "kv: duplicate BeginTransactionRequests can be sent by parallel sql statements"
`Txn.Send()` adds a `BeginTransactionRequest` to a batch if the txn proto's `Writing` field is not set. The field is set on the server side, when processing the `BeginTransactionRequest`.
When doing parallel writes through the sql `parallelizeQueue`, it's possible to have two concurrent clients send different batches that both get a `BeginTransaction`. I believe catastrophe ensues, because now int

[2017-07-26 23:19] tschottdorf commented on #17250
On second thought, that may not happen currently because of the shared mutex and because the key is set eagerly (enough, I hope?). However, it would certainly happen if we were to "fork" the proto as discussed for #17197. The `BeginTransactionRequest`s are also a real issue but would cause spurious errors, not inconsistencies. The sequence number issues are mitigated by the fact that we don't tend

[2017-07-26 23:39] tschottdorf opened #17251 "sql: can mutate `system.zones`"
[code]

I looked into this hoping that I would be able to update the zone configs using sql. @vivekmenezes for triage.

[2017-07-26 23:41] andreimatei commented on #17250
The key is set by `client.Txn.Send()` when the `BeginTransaction` is inserted. So duplicate `BeginTransaction` => two different anchors.

[2017-07-27 00:28] jordanlewis commented on #15959
This test doesn't ever complete anymore, with or without #17078. I'm looking into it. Last time I ran it, with #17078, it failed at 90% percent due to #17180.

[2017-07-27 00:34] jordanlewis commented on #12424
With #17078, we can do about 17k rows per second on an idle 4 node cluster with 100 ranges in the primary table. Note that for most of the time spent building the index, the index itself lives on a single range.

With modest load, we get an 8-10x slowdown. The `kv` flags used are:

[code]

I seems that the 8-10x slowdown comes from raft alone - most-to-all of the extra latency lives in Raft, as ev

[2017-07-27 00:42] vivekmenezes commented on #12424
Nice!

It could be worth increasing the number of index entries we write per batch. With #17078 we have to way that against increasing the likelihood of a txn retry, because a large batch increases the chance of a retry because a single key update can retry the entire batch. Wanna see the effect of a large chunk size (2000 index entries). I should be better in an idle cluster but perhaps worse in

[2017-07-27 00:46] tschottdorf commented on #12424
Making the chunks larger will likely help somewhat (since it means less Raft cycles), but the ~220ms Raft applications hint at that there's a separate bottleneck here. @jordanlewis what latencies do the `kv` requests show? Are they also in the 220ms range? It would be really nice to have better visibility into Raft here.

[2017-07-27 00:53] tschottdorf commented on #12424
Not sure it'll help, but maybe this diff is good to have in the code anyway (probably more with threshold 10 or so):

[code]

[2017-07-27 00:54] vivekmenezes commented on #17227
Actually this problem is a lot worse. Once the lease is about to expire the first request to want a table descriptor and note that the lease is about to expire will initiate the process of acquiring a lease. The problem is  all subsequent requests wanting the table descriptor will also get blocked waiting for the new lease being acquired. We should not block these requests, they should all use the

[2017-07-27 01:36] jordanlewis commented on #15959
This time, nodes are spitting out "heartbeat failed" messages hundreds of times per second, e.g.:

[code]

It smells like this test is totally broken. Perhaps the test data has rotted somehow?

[2017-07-27 01:38] jordanlewis commented on #15959
Relevant trace - looks like this has to do with node liveness, but I don't really know what this is about.

[code]

[2017-07-27 02:21] #2003 closed

[2017-07-27 03:27] a-robinson commented on #17251
[The comment on `SystemAllowedPrivileges`](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/sqlbase/system.go#L139) explains the situation quite well.

[2017-07-27 06:33] JorritSalverda commented on #17132
Is the request for the nodes liveness data the one to `/_status/nodes`? It takes about 2 seconds. Not very fast indeed, but less than 5 seconds. So perhaps it's the wall clock. Seems pretty likely that it deviates multiple seconds from the Google Cloud servers if it's been a while since the last time server sync.

Just out of curiosity what format is the nodes status response in? The liveness data

[2017-07-27 13:40] vivekmenezes commented on #17225
https://github.com/cockroachdb/cockroach/pull/16241 fixed this issue. The removal of the Columns() function in Union fixed it. Assigning to @knz to close

[2017-07-27 14:02] knz commented on #17225
There were multiple changes to this code in 1.1 indeed, but no particular PR was responsible for fixing the bug you observe - it's the combination of changes that made the problem go away.

The problem still exists in 1.0.x however and will occur in any query with an expression of  the form `x IN (... UNION ...)`. The question is whether we want to fix it in the 1.0.x, so close to the release of 1

[2017-07-27 14:31] jordanlewis commented on #15959
https://teamcity.cockroachdb.com/viewLog.html?buildId=306533&buildTypeId=Cockroach_Nightlies_Steady_6Medium&tab=artifacts has the (7gb worth of) logs. the test eventually failed.

[2017-07-27 14:52] a-robinson commented on #17132
The `/_admin/v1/liveness` endpoint is where the node liveness data comes from.

[2017-07-27 15:19] andreimatei commented on #17250
I think I was wrong here: looks like care has been put into not sending two `BeginTransaction`s -
- there's a `Txn.writingTxnRecord` member which protects from sending a second request.
https://github.com/cockroachdb/cockroach/blob/aa9a078d7b37253777cd7261bcac518b18d2571d/pkg/internal/client/txn.go#L949

The other two issues linked above remain, but I retract my opinion that we should disable the

[2017-07-27 15:19] #17250 closed

[2017-07-27 15:29] tschottdorf commented on #17197
#17250 lists some concerns that would need to be addressed if we were to introduce outside merging of protos. We may not be able to go that route in the first place. It would be good to be more principled here and to make the current state (which was likely achieved by just "fixing" test failures as they came up) more principled.

[2017-07-27 16:09] irfansharif commented on #16624
Found the issue, it was due to `Replica.mu.raftLogSize` not getting updated correctly despite actual truncations taking place. This happened after a live "migration" over to the new engine when upstream of raft the "simulated truncation" (https://github.com/cockroachdb/cockroach/blob/7ca57b6cce19339e811fafc0421b90b978f098e0/pkg/storage/replica_command.go#L1927) did not play well with "actual" trun

[2017-07-27 16:26] irfansharif commented on #16624
Here are the new degradations (implementation is as yet incomplete, awkward state debugging the previous issue), things to look out for:

Still we have more replicas queued for log truncations (I have a handle on why, addressing):
![image](https://user-images.githubusercontent.com/10536690/28680761-4d95e89a-72c5-11e7-98d0-2f7a4e1e686c.png)

Despite this we seem to be processing fewer replica log t

[2017-07-27 17:13] jordanlewis opened #17256 "sql: SAVEPOINT doesn't return proper pg tag"
In Postgres, running `SAVEPOINT` returns a `SAVEPOINT` message over the wire:

[code]

But Cockroach doesn't return anything: (this shows up as OK in our sql client)
[code]

[2017-07-27 17:26] kuanluo opened #17257 "ui: Polish system jobs"
Per the discussion on  #17253.

- Are we still going to show all queries in the last 7 days on one single scroll? If so, we might not need the "Show" button, or the rest.
- For succeed queries, can we gray them out? I'm fine with leaving them dark, if we won't have multiple running queries on top of succeeded ones.
- How are these queries ordered? The column title need to called out.
- In my mock,

[2017-07-27 19:00] irfansharif commented on #16624
Another stab at this, w/ dedicated raft log gc queue "actually" deleting after the fact. Live migration takes place around 16:52, we maintain steady performance for a while before eventual 0 QPS again.
Similar symptoms as before, and at first glance similar causes (over-aggressive raft log truncations).

Dropping throughput, eventually zero, starting at 16:52:
![image](https://user-images.githubus

[2017-07-27 20:15] cockroach-teamcity opened #17267 "teamcity: failed tests on master: testrace/TestAmbiguousCommit, testrace/TestAmbiguousCommit/ambiguousSuccess=false"
The following tests appear to have failed:

[#307365](https://teamcity.cockroachdb.com/viewLog.html?buildId=307365):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-27 20:25] tschottdorf commented on #17238
#17267

[2017-07-27 20:25] #17238 closed

[2017-07-27 20:25] tschottdorf commented on #17226
#17267

[2017-07-27 20:25] #17226 closed

[2017-07-27 20:26] tschottdorf commented on #17267
@tamird looks like you just touched this. Can you take a look? Looks like we're catching an ambiguous result when we're not supposed to.

[2017-07-27 20:47] cockroach-teamcity opened #17268 "teamcity: failed tests on master: testrace/TestAmbiguousCommit, testrace/TestAmbiguousCommit/ambiguousSuccess=false"
The following tests appear to have failed:

[#307393](https://teamcity.cockroachdb.com/viewLog.html?buildId=307393):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-27 20:57] knz opened #17269 "sql: views do not track their dependencies properly"
It is possible to break a view by removing a column from the table it depends on:

[code]

The problem is that the view tracks dependencies based on "needed columns", which is a result of logical plan optimization. A column that is named by the query but not used by the view results becomes "unneeded" and is thus not tracked as dependency. When it is deleted from the source table, the view plan ca

[2017-07-27 21:00] tschottdorf commented on #17268
#17268

[2017-07-27 21:00] #17268 closed

[2017-07-27 21:52] arjunravinarayan opened #17270 "sql: index selection bug on TPC-H"
Running the following query on `TPC-H` schema (in the loadgen repo):

[code]
results in a query plan that reads from the primary index, when a much better index exists.

The `EXPLAIN` output for this query is below:
[code]

Explicitly specifying the index results in this better plan:

[code]

For context, here are the schemas of the two tables:

[code]

cc @cockroachdb/sql-execution

[2017-07-27 21:54] RaduBerinde commented on #17270
The second plan is better than the first plan because it's cheaper to scan through an index with just one column than it is to scan through the entire table. This is something that the index selection does take into account so something is not functioning as it should.

[2017-07-27 21:57] benesch opened #17271 "sqlccl: TestBackupRestoreInterleaved fails under stress"
[code]

[2017-07-27 21:58] andreimatei commented on #17270
Out of curiosity, what's the difference in execution time between the two plans?

[2017-07-27 22:02] arjunravinarayan commented on #17270
Good question. TPC-H scalefactor=1, my laptop.
First plan: 26s. Second plan with explicit index selection: 18s.

[2017-07-27 22:03] arjunravinarayan commented on #17270
(I reran the queries twice with both plans to warm up any caches, and then this is an n=3 sample. first runs were longer)

[2017-07-27 22:04] mrtracy commented on #17132
@JorritSalverda That is an encoded protocol buffer; we use protobuf.js to send/receive the protobuf format from the server.

[2017-07-27 22:32] andreimatei commented on #17197
One idea for patching around this is to temporarily hack a real rollback in case of a retryable error when parallel statements have been used and a `rollback to savepoint` is issued.

[2017-07-27 22:41] knz commented on #17269
After some brainstorm with @RaduBerinde and @jordanlewis there are multiple solutions. To compare them we need first to establish what the solution must solve:

1. the problem at hand above (columns being dropped)
2. not break views when columns are *added*
3. enable views using star expansion (e.g. `create view v as select * from t`) #10028
4. enable renaming columns/tables safely #10083  #15388

[2017-07-27 22:43] knz commented on #17269
From a strategic perspective:
- I doubt I can implement the solution "track-named-columns" within the 1.1 timeframe.
- both 1.0 and 1.1 are affected by the bug described above, even if we do not plan to solve #10028 #10083 #15388 in 1.1
Would this suggest we need to implement blunt-nochange or blunt-nodrop in the time being?

[2017-07-27 22:47] knz commented on #17269
Note that "not solving this bug" is rather unfortunately not an option: this is a path to make the entire schema of a database unusable (broken views / no way to fix it without cluster downtime).

[2017-07-27 22:51] knz commented on #17269
(For reference: "What would postgres do?" - postgres has a plan-to-sql solution.)

[2017-07-28 07:31] mjibson opened #17274 "sql: plan not properly Close()d when an error occurs during plan expansion"
panic: txn: unexpected leftover memory: 1555 bytes [recovered]
    panic: panic while executing "SELECT ROW ( ) AS OUT FROM [ SHOW CLUSTER QUERIES ] WITH ORDINALITY AS NUMERIC , [ SHOW CREATE VIEW STRING ] WITH ORDINALITY AS TYPE AS OF SYSTEM TIME 9.062206800374198e+17 WHERE TRUE IS TRUE": txn: unexpected leftover memory: 1555 bytes [recovered]

https://teamcity.cockroachdb.com/viewLog.html?buildI

[2017-07-28 09:21] knz opened #17275 "sql: view dependencies are unnecessarily redundant"
The fields `TableDescriptor.DependedOnBy` is an array of structs containing `TableDescriptor_Reference`, i.e. (TableID, []ColumnID) items.

Currently with the way view dependencies are computed (`backrefCollector` in `create.go`), if the same table is used multiple times in the query there will be multiple entries for the same table ID in `DependedOnBy`. For example with

[code]

we'd have `Depend

[2017-07-28 10:57] knz commented on #17274
Simplified:
[code]

The following queries do work properly:
[code]

Without looking at the code, this tells me, the logic for `ShowClusterQueries` incorrectly registers memory towards a monitor (probably by allocating a `RowContainer` in the constructor). FYI RowContainers  should only be allocated after the logical plan has been successfully constructed, e.g. in the `Start` method or using a `del

[2017-07-28 11:00] knz commented on #17274
hmm it's more complicated than that, I'm still investigating.

[2017-07-28 11:23] knz commented on #17274
Simpler even:
[code]

When plan expansion encoutners an error (e.g. in this example no_index_join and non-covering index), expansion, optimization and planning is aborted, but the partially constructed plan is not `Close()`d.

In the example above, the error was due to the `initialCheck()` method in delayedNode, but the problem is general, due to the way `optimizePlan()` was written.

[2017-07-28 12:45] RaduBerinde opened #17277 "distsql: ensure backward compatibility during upgrade"
The RFC in #16977 describes a mechanism for upgrade without downtime. DistSQL went through some backward incompatible changes; we need to go back through them and fix `distsqlrun` to provide backward-compatibility, as well as gate use of new features in the planner.

CC @spencerkimball

[2017-07-28 12:49] RaduBerinde commented on #17277
An alternative is to get the changes to tolerate SetupFlow failures by rescheduling the flow on the gateway (#15637). However this is not ideal because during upgrade DistSQL queries might run on a small number of nodes - in the worst case, if 1 node is upgraded, any queries processed by that node will run all the flows on that same node - causing potential query regressions (in terms of how long

[2017-07-28 14:11] vivekmenezes commented on #17269
as a work around the user can drop the view and recreate.
[code]

The application will see errors  until the new view is created.

[2017-07-28 14:17] vivekmenezes commented on #12123
With uncommitted table descriptors stored as part of sql.TableCollection, we can now fix this issue by looking up uncommitted tables for the DROP table as a way of checking that the DROP table occurred in the current transaction. Once this is confirmed, the CREATE TABLE can be applied.

[2017-07-28 15:56] #17274 closed

[2017-07-28 16:17] cockroach-teamcity opened #17282 "teamcity: failed tests on master: testrace/TestBackfillErrors"
The following tests appear to have failed:

[#308090](https://teamcity.cockroachdb.com/viewLog.html?buildId=308090):

[code]
Please assign, take a look and update the issue accordingly.

[2017-07-28 16:44] jordanlewis commented on #17282
Hmm I'm suspicious this was caused by #17078 because of the name of the test, but the race is happening inside of GRPC.

Wondering if @tamird might see a connection between this and 0c7767d?

[2017-07-28 16:46] tamird commented on #17282
How'd you conclude that? Looks to me like it's happening in
[code]

[2017-07-28 16:50] jordanlewis commented on #17282
I meant to say that the race was happening between GRPC and something else. I don't think that GRPC has a race condition.

Regardless of the phrasing, I don't really have a clue what's going on here.

[2017-07-28 16:53] benesch opened #17284 "ui: proxy.js should use webpack-dev-server"
I think webpack-dev-server does everything we need; no need to hand-roll it using webpack-dev-middleware like we do currently.

[2017-07-28 18:09] a-robinson opened #17288 "storage: Decommissioning can get stuck by dormant replicas never getting GC'ed"
While playing around with replica decommissioning, I was able to get the process stuck. It's stuck because even though all replicas have been officially replicated away from the node, it still has two dormant, non-GC'ed replicas on it, and thus it still shows up as not being empty:

<img width="1306" alt="screen shot 2017-07-28 at 2 06 35 pm" src="https://user-images.githubusercontent.com/7085343/

[2017-07-28 18:22] tschottdorf commented on #17288
Processing such a Replica requires a consistent RangeLookup, and we wanted to avoid hammering the metadata ranges, but with quiescence it looks like we're not going to try to GC the replica until after 10 days, which clearly isn't going to cut it. I think it's fine (at least for now) to wake up dormant replicas in `shouldQueue`.

[2017-07-28 18:25] a-robinson commented on #17288
Yeah, although with how fast the scanner runs on nodes that don't have many ranges, we definitely shouldn't do a consistent lookup or wake dormant replicas every time.

And to correct my initial post, even restarting the node doesn't wake them up, it turns out.

[2017-07-28 18:31] petermattis opened #17289 "sql: perf difference between implicit and explicit transactions"
In writing a new load generator I noticed a significant performance difference between using implicit and explicit transactions. I'm guessing that the explicit transaction is not hitting the 1PC code path while I think it should.

In both case the transaction contains a single `UPDATE` statement. The implicit version:

[code]

And the explicit version:

[code]

The schema is:

[code]

With the imp

[2017-07-28 18:32] tschottdorf commented on #17288
It's not that expensive to wake them up though, is it? The group will go dormant again after ~1 round.

One perhaps better solution could be to signal to replicas which are about to removed that that is happening. I'd have to page the details back in, but iirc the new configuration in a replica change goes into effect pretty early, and that's why a removed replica often doesn't learn about it unti

[2017-07-28 18:33] knz commented on #17269
Moving to 1.2 since #17280 alleviates / works around the issue.

[2017-07-28 18:50] a-robinson commented on #17288
Yeah, but they'll be getting woken up every `200ms * <number of replicas>`, which effectively eliminates the point of dormancy on nodes with only tens or hundreds of replicas.

Do we need to worry about how fast GC happens in situations other than decommissioning? If not, we can just GC more eagerly when in a decommissioning state.

[2017-07-28 18:50] andreimatei commented on #17289
Hmm well we have no COMMIT elision at the sql level, so there's can't be a 1PC here. I guess you're saying there should be.

[2017-07-28 18:50] jordanlewis commented on #17170
docker flake

[2017-07-28 18:50] #17170 closed

[2017-07-28 18:52] jordanlewis commented on #17084
flake? haven't seen this again since.

[2017-07-28 18:52] #17084 closed

[2017-07-28 18:56] tschottdorf commented on #17288
That's a good idea.

Not really, though it's one of those things that's often annoying. You're debugging something, and there are these old replicas laying around -- I'd say it'd be nice to smoothen out this process, but it's shouldn't be crucial.

[2017-07-28 19:08] knz opened #17290 "migrations: add a missing test"
The PR in #17280 is missing a test. Add it.

Suggestion by @benesch: use the existing "add system table" test, extend, reuse

This may need some additional exported interfaces from `sql` visible from `migrations`.

[2017-07-28 19:15] petermattis commented on #17108
@aselus-hub Finally taking a look at this. I'm not sure what the cause of the slowdown moving to 5 nodes is yet. But examining the transactions I noticed that they are executing a lot of serial operations. For example:

[code]

That's 5 separate INSERT statements. Due to its distributed nature, Cockroach operations have higher latencies. You'd be better off structuring this as 2 INSERTS:

[code]

[2017-07-28 19:23] mattiasmak commented on #16875
I have a question about the cluster we run. Did you do something to make the performance worse? Now I can't run the query at all. Can you instruct me how to switch back from debugging? Or is it not changed? (Perhaps this should be discussed in other place)

[2017-07-28 19:36] petermattis commented on #17289
I thought there was equivalent performance for these two queries at one point. Perhaps I'm misremembering. Eliding the COMMIT at the sql level isn't necessary, just looking ahead past the currently executing statement to see if the next is a COMMIT.

[2017-07-28 19:42] petermattis commented on #17108
On a GCE test cluster I see:

[code]

I think the fall off in performance between 3 and 5 nodes is because of the relatively small amount of data in the test. That small amount of data resides in a single range and with 3 nodes there is a 1/3 chance of the leaseholder for that range being local on the node that receives the queries. With 5 nodes there is a 1/5 chance of the leaseholder being local

[2017-07-28 20:10] petermattis commented on #17108
@tschottdorf I can reproduce the `ReadWithinUncertaintyIntervalError` problem on a local 5-node cluster. That is, all nodes running on the same machine.

[code]

[code]

[2017-07-28 20:16] tschottdorf commented on #17108
What's the statement that does the read? I'm seeing mostly inserts up here.

One way in which this error can still pop up with perfectly synchronized clocks is simply when the "beams cross":

- node1 begins transaction, picks timestamp
- node2 begins transaction, picks (higher, because perfectly synchronized) timestamp, reads & inserts, commits
- node 1 reads, catches uncertainty error

[2017-07-28 20:23] petermattis commented on #17108
Inserts do a conditional put. Isn't that a read?

The "beams cross" scenario requires contention, right? I'm not quite understanding what this test app and cayley are doing (yet).

[2017-07-28 20:28] aselus-hub commented on #17108
@petermattis I will try that optimization and add no return , though sadly gos cdb interface doesn't support multivalue inserts to my knowledge so I'll build a string for it. Unless there's some other way to do that in cockroach ?

In the real dataset example we where inserting about 500k  nquads with the same sort of scaling results. If the target is to be able to get that up to at least 3000inse

[2017-07-28 20:28] petermattis commented on #17108
Huh, the errors seem to be occurring when the same `nodes.hash` is inserted concurrently. I need to step out for a bit, but that seems odd.

[2017-07-28 20:29] tschottdorf commented on #17108
Yes, it would require the first (but slower) txn to read something the second one wrote.
I would have to check what a `CPut` would do, but it's possible that it would treat this as a ReadWithinUncertaintyIntervalError. Even though that would be somewhat silly: it could still look at the future value and if it doesn't match the assumption of the `CPut`, it may as well return a ConditionFailedError

[2017-07-28 20:31] petermattis commented on #17108
Yes, you'll need to build a string, though you can still use placeholders.

Yes, that scaling is possible, especially if you batch sufficiently.

[2017-07-28 20:59] RaduBerinde commented on #16875
No, I don't think we changed anything. You could try restaring the nodes.
We are working on the problem we found here (it's my highest priority) and we hope to have it fixed soon. Sorry, I don't think there is a workaround (other than disabling distsql which makes the queries slower).

[2017-07-28 21:05] petermattis commented on #17108
I would have to check what a CPut would do, but it's possible that it would treat this as a ReadWithinUncertaintyIntervalError. Even though that would be somewhat silly: it could still look at the future value and if it doesn't match the assumption of the CPut, it may as well return a ConditionFailedError right there (I think).

I think this may be what is happening. The errors are all occurring o

[2017-07-28 21:06] tschottdorf commented on #17108
Ok, that seems worth fixing then. Just to be sure, you're also seeing old-fashioned `WriteIntentError`s, right? Those would be expected if the "faster" value is in fact an intent. Or perhaps you're not seeing those because 1PC optimization?

[2017-07-28 21:12] petermattis commented on #17108
@tschottdorf These are definitely not 1PC transactions. I haven't actually looked down at what is happening at the `storage` layer yet.

I'm seeing INSERTS into the `nodes` table fail where the hash is `ded76379665e2a11c953fbfeca46541832498e61`. That is the node for the `related_through` predicate (literally `SHA1("related_through")`). @aselus-hub I'm not terribly familiar with cayley, but over a

[2017-07-28 21:46] jordanlewis commented on #17087
[1.0.4](https://www.cockroachlabs.com/docs/releases/v1.0.4.html) contains the fix. Thanks @dhannum!

[2017-07-28 21:46] #17087 closed

[2017-07-28 21:55] aselus-hub commented on #17108
@petermattis
Cayley is a graph db that uses cockroach as a storage layer(not of my writing ;-) though I am going to try and write/test/submit your advice into its cockroach connector).

Essentially each nquad is a relationship representation of:
`parent/subject ---(edge/predicate)---> chid/object  [tag/label]`
Each of the items in the nquad relationship is represented as a node in the nodes table,

[2017-07-28 21:57] tschottdorf opened #17296 "keys: add the meta2 span to NoSplitSpans"
We still haven't fixed https://github.com/cockroachdb/cockroach/issues/2266 and may not do so for a while. Real deployments don't easily split their meta2 ranges (as they don't grow very quickly) but if they did, we may see pretty chaotic behavior due to the linked issue.

In the interim, we should add a corresponding span to `keys.NoSplitSpans`.

[2017-07-28 22:01] tschottdorf opened #17297 "config: add a StaticSplit to isolate the node liveness span"
The node liveness span is critical to cluster operation. When investigating a cluster, it is very helpful to know that it is not sharing its range with anything else.

[2017-07-28 22:03] tschottdorf opened #17298 "ui: add Raft message breakdown page"
We don't have good visibility into Raft, which is always a problem when investigating a cluster. We need a ui facility similar to the screenshot below. The data is already scraped; just need to add a page for it in the ui. That page can be hidden by default if ui polish is a concern.

![image](https://user-images.githubusercontent.com/5076964/28737983-08cd05c2-73bf-11e7-8142-4ebbc5302c64.png)

[2017-07-28 22:28] andreimatei commented on #17084
This had happened to me too in the past.

[2017-07-29 00:21] petermattis commented on #17108
Yes, avoiding reinserting the node/vertex would likely help, though the batching of `INSERTs` will probably help more. Note that my suggestion regarding the batching of `INSERTs` will help any sql backend. It just has a more noticeable affect on Cockroach where the latencies are higher.

[2017-07-29 03:21] tschottdorf opened #17303 "*errors.errorString: replica.go:905 string"
https://sentry.io/cockroach-labs/cockroachdb/issues/319148580/

[code]

[2017-07-29 18:10] wzrdtales commented on #17236
@jordanlewis Sry, have been a bit busy. But here we go, first of all: The issue is due to exceeding the 16bit range of allowed params indeed. The error that I've got however only exists when using the native pg driver which catches up such queries before forwarding them to the server. However, the node.js implementation does not check for this.

Anyhow here is the promised reproduction case:

http

[2017-07-29 20:10] irfansharif commented on #14349
When/how does this happen? i.e. if we have a store `s2` with a single range `r1` & replica ID `2`, when/how is a request generated addressing `s2,r1` with a `ToReplica` replica ID higher that `2`?

[2017-07-29 20:31] tschottdorf commented on #14349
If the cluster removes and then re-adds the replica on s2 before s2 replica-gcs it, that would happen.

[2017-07-29 21:36] irfansharif commented on #17303
Ok I think I may know what the issue here is, haven't reproduced or verified but is plausible:

If we're the leader and we're destroyed, we nil out/close the quota pool (#16187, [here](https://github.com/cockroachdb/cockroach/blob/41239275d10a9b414351b0866bca2619efc9383d/pkg/storage/replica.go#L914)). If we receive yet _another_ message and hit the same code path and we're effectively still the le

[2017-07-30 00:11] #17288 closed

[2017-07-30 00:20] knz opened #17306 "sql: views don't track their dependencies correctly (again...)"
[code]

The problem is again that dependency analysis looks at the query plan after optimization (and thus filter elimination), not the tables actually named.

[2017-07-30 00:21] knz commented on #17306
This actually means that #17280 was only looking at part of the problem, and that the migration it added needs to be replaced by another one -- this informs  #17290.

[2017-07-30 00:33] knz commented on #17306
cc @RaduBerinde @jordanlewis @a-robinson

I have a solution already - it's already integrated in #15388