[2018-03-06 19:20] #18124 closed

[2018-03-06 19:25] jordanlewis commented on #17894
We haven't seen this one since September and I can't reproduce it.

[2018-03-06 19:25] #17894 closed

[2018-03-06 19:26] #22646 closed

[2018-03-06 19:31] asubiotto commented on #20720
I tried reproducing this running a similar query against `v1.1.3` and shutting down the server by bypassing draining and had no luck. Since this issue won't produce a panic in 2.0, I'm closing this because there's not much more I can do.

[2018-03-06 19:31] #20720 closed

[2018-03-06 19:32] #23093 closed

[2018-03-06 19:43] bdarnell commented on #23176
I'm not sure. This looks almost like the kind of bug that can happen due to SNAPSHOT, but I can't quite come up with a situation in which it would happen. The sticking point is that SNAPSHOT differs in its handling of read/write conflicts. For write/write conflicts, it's the same as SERIALIZABLE. And any transaction that updates one of these index rows would also update the corresponding primary r

[2018-03-06 19:52] cockroach-teamcity opened #23497 "teamcity: failed tests on master: test/TestTrace, testrace/TestTrace"
The following tests appear to have failed:

[#549841](https://teamcity.cockroachdb.com/viewLog.html?buildId=549841):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-06 20:00] petermattis opened #23499 "ui: expanded job extends past bounds of table cell"
The title says it all. Oh, and this picture:

<img width="1311" alt="screen shot 2018-03-06 at 2 59 24 pm" src="https://user-images.githubusercontent.com/6201335/37055194-152831be-214f-11e8-89b0-0f68e9ddae9a.png">

[2018-03-06 20:12] couchand commented on #23499
Oh that's fun!

[2018-03-06 20:15] couchand commented on #23492
Oh nevermind, I see you logged it yesterday as  #23366

[2018-03-06 20:15] #23492 closed

[2018-03-06 20:34] #23459 closed

[2018-03-06 20:37] a-robinson commented on #22468
Are you sure? We expose it on the HTTP port, but it certainly [looks to me like it's using the gateway mux](https://github.com/cockroachdb/cockroach/blob/658fd5267f513587145e0fd5eb3b05a9f18f1c66/pkg/server/server.go#L1193), meaning we're [forwarding it through the gateway](https://github.com/cockroachdb/cockroach/blob/658fd5267f513587145e0fd5eb3b05a9f18f1c66/pkg/server/server.go#L1117).

[2018-03-06 20:48] abhimadan opened #23503 "*: Exercise code at high verbosity levels"
Some bugs, like #23198 (and likely other similar bugs), don't get caught immediately because code gated under high verbosity levels isn't typically run. To find more of these bugs, it would be useful to run tests at different verbosity levels to exercise that gated code.

Alternatively, it may also be worthwhile to investigate the usage of the `if log.V(n)` pattern and reduce usage of it. For exam

[2018-03-06 20:53] vilterp opened #23504 "ui: scrub locality paths from segment analytics"

[2018-03-06 20:58] andreimatei commented on #23285
This comes from an unclean build by Spencer.

[2018-03-06 20:58] #23285 closed

[2018-03-06 21:13] jordanlewis opened #23505 "distsqlrun: panic in newSortAllProcessor"
[code]

[2018-03-06 21:13] jordanlewis commented on #23503
One easy way to do this is to run our test suite with `-verbosity=10`. In fact, doing so has already produced a panic #23505. We should fix these panics and add this kind of thing to our nightly tests.

[2018-03-06 21:14] nvanbenschoten opened #23506 "sql: internal executor makes 1PC hard for things like table descriptor lease acquisition"
When [acquiring](https://github.com/cockroachdb/cockroach/blob/bd9f99da94567de30408bdde962842456419803e/pkg/sql/lease.go#L140) the most recent lease on a table descriptor, `LeaseStore` opens a `client.Txn`. Inside this `txn`, it performs three steps:
1. it reads the existing table descriptor, given the tableID
2. it inserts into the `system.lease` table with an internal planner
3. it commits the t

[2018-03-06 21:14] jordanlewis commented on #23505
@arjunravinarayan matching you based on `sort`, but feel free to reassign.

[2018-03-06 21:15] inaxium opened #23507 "Error: x509: certificate signed by unknown authority"
**QUESTION**

In the certs Directory is the following:

[code]

Login with this command Work fine:

`cockroach sql --certs-dir=certs --host=10.132.0.3 --user=frank`

Result:

[code]

Following command:

`cockroach sql --url="postgresql://frank@10.132.0.3:26257?sslmode=verify-full&sslcert=certs/client.frank.crt&sslkey=certs/client.frank.key&sslroot=certs/ca.crt"`

Produced this error:

[code]

I tr

[2018-03-06 21:24] nvanbenschoten commented on #21239
The tricky part is that the redirect may race with the leaseholder moving from node to node, so we may end up chasing the lease around. This isn't a huge concern though, as it should be rare.

I don't think this is critical for 2.0. Moving to 2.1.

[2018-03-06 21:44] mjibson opened #23509 "backupccl: RESTORE slowing at end"
During a TPCC restore, we noticed that the speed of the restore of a table slows way down near the end. Looking at a goroutine dump, a single node (out of a 24 node cluster) had hundreds of goroutines in beginLimitedRequest, which throttles import requests to one at a time.

Next question was: why did that node (node 9) have so many requests after a scatter had run. Doing a range dump for the new

[2018-03-06 21:47] nvanbenschoten opened #23510 "sql: add option to keep all table descriptor leases active on all nodes"
https://github.com/cockroachdb/cockroach/pull/19005 made progress towards preventing table lease acquisition from impacting tail latency. We now renew table leases when they are in use and begin getting too close (< 1 minute) to their expiration.

However, if a table is not used for more than a minute (`DefaultTableDescriptorLeaseRenewalTimeout`), the next request that needs it _may_ find that its

[2018-03-06 21:49] benesch opened #23511 "workload: fixtures should use the us multi-regional storage location"
We want to be able to run roachtests from any US region to avoid GCE quota problems, but this would currently incur significant bandwidth costs. Fixtures are stored in us-east1, meaning we'd pay for egress bandwidth if we run tests outside of us-east1. If we instead use a bucket in the `us` multi-region, we pay $0.05/GB extra but no bandwidth charges in any US region.

[2018-03-06 21:50] mjibson commented on #23509
https://github.com/cockroachdb/cockroach/blob/fe8163133d5d243ae246a939e90a1dbc6f2337d1/pkg/ccl/storageccl/import.go#L40 should be changed to numcpu probably during the test.

[2018-03-06 21:51] #23190 closed

[2018-03-06 22:32] mjibson commented on #22386
Is anyone looking at this? It's still panicking and has been over a month. We should not release with this bug.

[2018-03-06 22:35] vilterp opened #23513 "ui: clusterviz: zoom to content"
- On load of the node map, zoom to the minimum bounding box containing the child localities of the current locality.
- On clicking a locality, zoom to the minimum bounding box containing its sub-localities.

[2018-03-06 22:35] vilterp commented on #23513
cc @mrtracy

[2018-03-06 22:46] petermattis commented on #23509
I think the problem here is that scattering a small number of ranges (hundreds) in a cluster containing tens of thousands of ranges will often be a no-op. See https://github.com/cockroachdb/cockroach/issues/23358#issuecomment-370530322 for a suggestion about plumbing a new flag down to `SCATTER` so that we can force replicas to be spread out across a cluster. This would be helpful for manually ens

[2018-03-06 22:46] sibblegp commented on #19019
Does anyone know what causes this error?

[2018-03-06 22:48] andreimatei commented on #23510
But they why "keep all table descs" rather than acquire all leases on server startup?

[2018-03-06 22:57] nvanbenschoten commented on #23510
That's another option that's mostly equivalent. Either way, the important part is that we'd indefinitely renew table leases.

[2018-03-06 22:58] bdarnell commented on #22468
No, I'm not sure. I was going by the fact that the `cockroach gen haproxy` config used to set up a health check on `/health` on the HTTP port.

[2018-03-07 00:54] slugalisk commented on #23429
@justinj awesome, thank you for resolving this so quickly!

[2018-03-07 00:57] nvanbenschoten commented on #23497
Fixed by #23495.

[2018-03-07 00:57] #23497 closed

[2018-03-07 01:05] nvanbenschoten commented on #23490
I thought I filed an issue for this with @robert-s-lee, but I can't find it. Anyway, this was the result of running `SHOW TRACE FOR` when using the old SQL executor with the `COCKROACH_USE_LEGACY_CONN_HANDLING` env var. @andreimatei says that the old executor will die completely by 2.0, so that will resolve this issue.

[2018-03-07 02:09] vivekmenezes commented on #22386
I'm looking at this

On Tue, Mar 6, 2018, 5:32 PM Matt Jibson <notifications@github.com> wrote:

[2018-03-07 02:32] petermattis opened #23519 "stability: "missing stock row""
While running against the tpcc-10k dataset, I'm periodically seeing a "missing stock row" error. This occurs when the `newOrder` txn doesn't get all of the rows it expects.

Some additional logging provides more context:

[code]

The `5` indicates that this was the last row (0-based index). Curiously, all 6 rows appear to be present:

[code]

Here's another instance:

[code]

Running that query by

[2018-03-07 02:38] petermattis commented on #23519
I just added a bit of additional logging to check `rows.Err()` and it is `nil` when this problem occurs.

[2018-03-07 03:56] nvanbenschoten commented on #22924
I just saw a run of `workload fixtures load tpcc --warehouses=5000` fail with the error:
[code]

@mjibson do you want me to take a look at my cluster?

[2018-03-07 05:16] dianasaur323 commented on #12253
agreed, it did get off track. should we just close out? i think the items around node configuration and zone config matrix are all reflected in other issues

[2018-03-07 05:50] jordanlewis opened #23520 "sql: implement zig-zag merge join"
Consider the following schema and query:

[code]

Currently, we plan this with a simple index join, using one of the secondary indexes and the primary indexes.

This can be inefficient. For example, if there are many rows where `b=0` and many rows where `c=1` but only a few where both of those conditions are true, then no matter which index we pick to scan, we will have many rows to search over in

[2018-03-07 06:01] #15713 closed

[2018-03-07 06:07] tschottdorf commented on #21882
In a four node cluster, decommissioning the first node in absentia, the graphs show one replica remains on that node forever (this isn't actually true; `select replicas from crdb_internal.ranges;` shows all replicas on the remaining three nodes):

<img width="869" alt="image" src="https://user-images.githubusercontent.com/5076964/37076227-ae3fabe4-21a3-11e8-927c-5db4a143ad05.png">

@couchand is th

[2018-03-07 06:16] tschottdorf commented on #21882
On the plus side, after waiting for the store dead timeout, the node disappeared from the graphs and wasn't shown as dead any more, which was expected and worked fine! 👍

[2018-03-07 06:31] jordanlewis commented on #23519
I reproduced this problem on the same cluster. While adding my own debugging information, I decided to modify the query to output the `s_i_id` column that it's supposedly ordering by, to figure out which of the rows the query was skipping. So with the example above it'd become:

[code]

Un(?)fortunately, this query modification prevented the problem from reoccurring. This smells like a planning or

[2018-03-07 07:08] mjibson commented on #22924
I would, but I can't find a job with that id on any test cluster with your prefix. Did the job with the failure above restart itself (it should have)? If so, did it fail or succeed that time (that would have only been visible in the jobs tab, not in the console)?

[2018-03-07 07:33] mjibson commented on #23462
This has been fixed I believe.

[2018-03-07 07:33] #23462 closed

[2018-03-07 07:49] tschottdorf commented on #15997
Great! Optimistically moving this back to 2.0, then.

[2018-03-07 10:03] tschottdorf commented on #21882
Some graphs from my WIP node decommissioning test (gracefully quit first of three nodes, decommission it, wipe it, bring it back, wait a minute). The test runs a max-qps=500 kv on the side. This is all on my laptop.

TLDR is that it looks pretty good. We seem to be doing a decent enough job a) quitting gracefully and b) not messing things up during the rebalances when the node comes back:

<img wi

[2018-03-07 11:13] knz opened #23522 "sql: split planNode into planNode and planNodeRun"
The fix for #23156 introduced in #23373 also introduces a wart:

[code]

This mis-design was left in the code to ensure that code movement in PR #23373 is kept minimal, to let it qualify as a bug fix for the 2.0 release. The proper design with separate interface requires introducing a new interface in the execution code for every node, or a new interface in the logical planning code for every node

[2018-03-07 11:17] knz commented on #23522
I realize this issue may be fully obsoleted by the work to merge the local and distributed execution engines. Keeping for tracking purposes for now.

[2018-03-07 12:33] inaxium commented on #23507
I think finally that was an write error in the Dokumentation. It musst be:

`sslrootcert`

Not

`sslroot`

[code]

[2018-03-07 12:33] #23507 closed

[2018-03-07 12:59] knz opened #23523 "sql: only update computed columns that need updating"
When initializing execution for UPDATE, all the computed columns become a candidate for recomputation ( `ProcessComputedColumns` loads all computed columns) even though only the computed columns that depend on modified columns need to be re-computed.

This can be further optimized by using the dependency list and only selected computed columns that have a dependency on the modified columns.

cc @j

[2018-03-07 13:29] dt commented on #23507
Thanks for digging into this @inaxium ! I'll make sure those docs get fixed!

[2018-03-07 14:02] petermattis commented on #23519
I got another reproduction this morning:

[code]

Reformatting the queried values makes this a little clearer:

[code]

It is very suspicious that the error occurred after retrieving one item from a different warehouse. Definitely seems like a query execution bug.

[2018-03-07 14:28] RaduBerinde commented on #23520
CC  @andreimatei (we talked about this a few times).

Note that in this example, it's critical that the filter is equality (the results are sorted by PK only within each indexed value).

This technique is also useful for regular joins if the result of the join is significantly smaller than the sizes of the tables.

The execution part is tricky. With distsql, we need to send a "signal" upstream of

[2018-03-07 14:28] petermattis commented on #23519
And another reproduction:

[code]

This time the missing row is the one in a different warehouse. Again, the data is definitely present:

[code]

Cc @nvanbenschoten, @tschottdorf as this is looking more like a bug in dist sender or below. Any ideas for additional instrumentation to add?

[2018-03-07 14:44] petermattis commented on #23519
More evidence:

[code]

[2018-03-07 14:57] couchand opened #23525 "ts/ui: decommissioned nodes should record one last data point before quitting"
When a user does a `cockroach quit --decommission`, it's possible for the last recorded data point for that node's replicas time series to not be zero, which gives the mistaken impression that the node was quit before being completely drained (as noticed on #21882).  It would be a nice usability win to make sure that the last data point is always zero.  I can imagine a number of ways to do this, b

[2018-03-07 14:57] couchand commented on #21882
This is a known charting issue (#23480 I think, though it's manifesting a bit strangely in your case...) If you look at the big dot for node 1, it's not at the same point in time as the other ones.  I think all that's happening is that the last recorded data point for that series was 1.  It might be a good usability win to make sure decommissioned nodes always record one more datapoint before goin

[2018-03-07 15:06] cockroach-teamcity opened #23528 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#550400](https://teamcity.cockroachdb.com/viewLog.html?buildId=550400):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-07 15:08] justinj commented on #23523
Also worth considering for recomputing `CHECK` constraints, perhaps.

[2018-03-07 15:08] vivekmenezes opened #23529 "sql: panic interface conversion: types.T is types.TOidWrapper, not types.TArray"
[code]

[2018-03-07 15:15] knz commented on #23523
for the check expressions there was a TODO in the code already. but you're right.

[2018-03-07 15:16] bobvawter commented on #23107
Questions:
* If we go the route of using dumps from previous versions, do we support loading a 1.0 dump into 2.0?
* Are the dumps platform-independent?  If I fire up a 1.X binary on my mac to create the test data, will that load into a 2.0 build running on CI?
* Are there specific features that need to exist in the test schema (e.g. secondary indices) to make this test reasonably robust?
* Is ther

[2018-03-07 15:24] petermattis commented on #23519
FWIW, this error happens on `master` as well.

[2018-03-07 15:43] danhhz commented on #23107
Excellent questions. @tschottdorf has thought about this much more than I have, so definitely get ahold of him if you can and get his opinions before you commit to anything.

You have to go through each "minor" version. So you start a 2.0 binary on 1.0 data, you need to (briefly) start up a 1.1 binary on it first. At startup, crdb runs some data migrations, so IIUC by the time the `cockroach start

[2018-03-07 15:58] bdarnell commented on #23107
I don't know of anything that would be platform-dependent, so I would expect this to work. (at least as well as moving between machines of the same platform). Note that we don't properly support moving data directories around, even though it may work in some cases. I think there's a current bug in which we may persist absolute paths so you can't even move it to a different location on the same mac

[2018-03-07 16:00] nvanbenschoten commented on #23519
One idea proposed by @arjunravinarayan was to look into whether this is in any way related to DistSQL. We realized in the perf weekly meeting that because the `newOrder` transaction begins with a write which takes place before this read, DistSQL will not be used for the query.

[2018-03-07 16:05] petermattis commented on #23519
Note that when I'm manually running the query distsql is on. I'll try reproducing again and then manually running with distsql off.

[2018-03-07 16:07] danhhz commented on #23107
This issue is ultimately about a test to prevent on-disk backward compatibility regressions. We shouldn't need to move the store dir around to a different node or path to do this.

I'm imagining something like start up an old binary, write some data, run some load, shut it down, start it up with a newer binary, run some load and/or integrity checks to verify that everything works.

[2018-03-07 16:08] tschottdorf commented on #23525
Nodes can be decommissioned in absentia and often are (after they break), so they wouldn't be able to do it themselves. Similarly, it's hard to decide whether it's fair game to write time series for another node.

It *seems* that once https://github.com/cockroachdb/cockroach/issues/23480 is fixed we won't have a problem here, right? Either the hover wouldn't show a data point for that node at all,

[2018-03-07 16:09] tschottdorf commented on #21882
Thanks @couchand! I've commented on https://github.com/cockroachdb/cockroach/issues/23525 directly.

[2018-03-07 16:17] nvanbenschoten commented on #23519
@petermattis can you confirm whether we've ever seen this on non-partitioned tables?

[2018-03-07 16:19] couchand commented on #23525
I think there's still an improvement to be made for the happy case where nodes are decommissioned alive.  If the last data point recorded for number of replicas is non-zero, it potentially raises questions about the trustworthiness of the decommissioning process.

Totally agree about nodes decommissioned when already dead, their series will be all *no data*, and it's easy enough to explain why.

[2018-03-07 16:22] spencerkimball commented on #23519
@nvanbenschoten doing a write before read no longer disables distSQL.

[2018-03-07 16:22] petermattis commented on #23519
This has only occurred on partitioned tables.

[2018-03-07 16:28] nvanbenschoten commented on #23519
@jordanlewis how long did you try to reproduce the issue after making this change? I just confirmed that the queries with and without the added column result in the same spans, so if this does make a difference then it would indicate that we should be looking at the SQL layer.

@spencerkimball I was not aware of this, and apparently neither were others in the perf meeting. For posterity, mind poin

[2018-03-07 16:29] petermattis commented on #23519
I'm reproducing with the query modification. Jordan was "lucky" in not reproducing it.

[2018-03-07 16:31] nvanbenschoten commented on #23519
Got it. So you can confirm that the missing `s_i_id` is always from the remote warehouse, right?

[2018-03-07 16:32] petermattis commented on #23519
No, it isn't always from the remote warehouse. But there is always a remote warehouse involved in the query.

[2018-03-07 16:32] jordanlewis commented on #23519
@petermattis in that case, can you set `distsql=off` for that query and try to reproduce?

[2018-03-07 16:33] petermattis commented on #23519
I'm trying that now.

[2018-03-07 16:38] jordanlewis commented on #23529
@vivekmenezes how'd you find this?

[2018-03-07 16:44] #23529 closed

[2018-03-07 16:44] bobvawter opened #23534 "doc: Document IMPORT CSV skip option"
Follow-up from #19967 to document the skip option when importing CSV files since the 2.1 docs haven't been forked at this time.  Something like:

[2018-03-07 16:46] spencerkimball commented on #23519
@nvanbenschoten https://github.com/cockroachdb/cockroach/commit/dc22c39cb98ebd3ddd8a021e74fb85526e9f16da

[2018-03-07 16:47] vivekmenezes commented on #23529
found through:

[code]

[2018-03-07 16:47] petermattis commented on #23519
Heh, naively turning of distsql for all transactions causes performance to tank. I'm turning it off just for `newOrder`...

[2018-03-07 17:05] 0xbaadf00d opened #23538 "sql: Implement "ESCAPE""
**FEATURE REQUEST**

Please, implement the keyword `ESCAPE`, it is used by ORM (like ebean or hibernate) when a LIKE predicate is present.

Official PostgreSQL says:

**Query sample:**
[code]

[2018-03-07 17:18] bdarnell commented on #23528
#20492

[2018-03-07 17:18] #23528 closed

[2018-03-07 17:19] petermattis commented on #23519
Ran for 25m without error with `distsql=off` for the `newOrder` txn, before hitting `error in payment: pq: TransactionStatusError: transaction deadline exceeded`. I'm not sure if this is definitive indication of a problem in `distsql`. Trying again to reproduce.

[2018-03-07 17:43] jordanlewis opened #23540 "sql: test metadata propagation in distsql processors"
We've been bitten by improper metadata propagation in distsql processors several times. For example, #23322 and (provisionally) #23519. These issues are subtle and difficult to catch, but produce incorrect results on queries in the wild.

We need to figure out a way to uniformly test metadata propagation in all of the distsql processors to prevent this sort of thing from happening.

[2018-03-07 17:44] arjunravinarayan commented on #23540
One problem is that metadata used to be something that was much lower stakes, and since has started to be used for more crucial things. We have not upped our treatment of it to deal with the new patterns of metadata transmission. I'm not sure on the exact details, but @andreimatei would know.

[2018-03-07 17:54] a-robinson opened #23542 "cli: generated haproxy configs cause repeated security handshake errors from tcp health checks"
Using the haproxy configuration generated by `cockroach gen haproxy` on a secure cluster creates an haproxy config that does non-ssl tcp health checks on our ssl-enabled grpc port. These tcp health checks cause the following to be logged every second by the cockroach server:

`W180307 17:50:05.487086 874 vendor/google.golang.org/grpc/server.go:563  grpc: Server.Serve failed to complete security ha

[2018-03-07 18:01] a-robinson commented on #23542
Never mind, looks like https://github.com/cockroachdb/cockroach/pull/23463 does fix this, at least in my local testing, since the http health handles ssl and replaces the tcp check. This will still be broken on 1.1, but I'm not sure it's worth tweaking there at this point.

[2018-03-07 18:01] #23542 closed

[2018-03-07 18:05] andreimatei commented on #23540
The metadata that's critical is the txn information in `TxnCoordMeta` - that used, among others, to decide if the transaction can commit at a higher timestamp than its original one.

[2018-03-07 18:06] dianasaur323 commented on #23379
we have the majority of these written as user stories either under the admin UI or with query analysis, so we'll hopefully get these covered. Once we figure out an approach, it would be good to run it by you to get feedback.

[2018-03-07 18:08] petermattis opened #23543 "perf: excessive not lease holder errors running tpcc"
When starting up `tpcc` we see a spike in not lease holder errors that eventually settles down to a steady stream that never completely goes away. This was noticed on a cluster running tpcc-10k. I'm not sure if it happens on smaller tpcc datasets. There might be a simple explanation for this (e.g. the cluster has 54k ranges). My simple attempts to ensure that the leaseholder cache is fully populat

[2018-03-07 18:09] arjunravinarayan commented on #23001
A regression test should be added to CI based on this test.

[2018-03-07 18:11] petermattis opened #23544 "cmd/workload: adjust tpcc.history.rowid generation"
The `tpcc.history.rowid` column appears to be generated using contiguous values. A recent change to the `tpcc` tool (https://github.com/cockroachdb/loadgen/pull/155) switched to using random 63-bit integers for the `rowid` column. We should change the `workload` fixture generation as well otherwise certain parts of the `history` key space have more ranges, which fouls up evenly distributing the ke

[2018-03-07 18:27] #23113 closed

[2018-03-07 18:38] bdarnell commented on #23543
The caching in DistSender is not very smart. We're pretty quick to invalidate the cache if we get any error (especially a timeout). So if the cluster is just barely able to handle its load, we might get a timeout, invalidate the cache, and then the next query would have a good chance of a NotLeaseHolderError. I don't think we're setting short deadlines on the TPCC requests themselves, but we do ha

[2018-03-07 18:39] andreimatei commented on #18684
I completely missed the point of Vivek's update above; the point was that there might have been a regression for Serializable txns ever since the introduction of the `RefreshRequest` - whereas it used to be the case that pushed serializable txns get a retriable error (this was previously fixed in https://github.com/andreimatei/cockroach/commit/9abaa0dce684825f6cef41359ae082607dfddc9e), now it may

[2018-03-07 18:53] jordanlewis commented on #23354
One more datapoint: the `tpcc-500` dataset is `30.76 GB` on disk as a backup.

As reported by the Admin UI, we have the following dataset sizes:

[code]

This is in line with what I would expect.

[2018-03-07 19:13] danhhz commented on #23354
aha! the 5000 has the csv files in it and the others don't

[code]

[2018-03-07 19:13] #23354 closed

[2018-03-07 19:23] jordanlewis commented on #23354
Ugh. Thanks @danhhz sorry for the noise

[2018-03-07 19:28] #20789 closed

[2018-03-07 19:31] dt commented on #22733
Some additional things to think about, beyond just the bytes-per-second, is how many concurrent requests we want to send or handle at different points -- e.g. concurrent import requests might tie up RAM with re-keyed SSTs waiting for the write-rate limiter to get them on to disk. We should look at this end-to-end and ensure that we have appropriate back-pressure at each step, while also rate limit

[2018-03-07 19:37] danhhz commented on #23354
No problem! I didn't see what was going on for a while, either

[2018-03-07 19:48] a-robinson opened #23552 "ui: Network diagnostics page fails to load on single node cluster"
Repro steps:

1. Build cockroach from head (I used b6c934ccee6293b697dff5880cf364c2370bf758)
2. Start a single cockroach node against a fresh data directory: `./cockroach start --logtostderr [--insecure]`
3. Go to http://localhost:8080/#/reports/network or https://localhost:8080/#/reports/network depending on whether you're running in secure mode

I've tried this on my macbook running securely as

[2018-03-07 19:50] bobvawter commented on #22973
@mjibson Here's what I've found so far doing a code-dive:

* The GCS `Writer.open()` method is trying to make a remote call to set up a resumable upload and, presumably, is receiving retryable errors, given that `gax.Sleep` is on-stack.
* The `runWithRetry()` that `open()` calls looks like it would respect any deadline or cancellation in the `Context` passed into `gcsStorage.WriteFile()`

When I t

[2018-03-07 20:03] mjibson commented on #22973
If we want to put a deadline on a context, we can make a new context. For example, in https://github.com/cockroachdb/cockroach/blob/b6c934ccee6293b697dff5880cf364c2370bf758/pkg/ccl/storageccl/export_storage.go#L624 we could add `ctx, _ = context.WithDeadline(ctx, time.Minute * 10)` to limit the write to 10 minutes.

[2018-03-07 20:04] mjibson commented on #22973
FYI, we've been adding timeouts and retries at the lowest level so far, instead of high up the stack. This is a whack-a-mole approach when we find these network issues, but it's worked well so far.

[2018-03-07 20:04] rmloveland commented on #12973
I think this ticket should be generalized to cover all cases of using floats to display what are conceptually integers in the UI, e.g., ranges, etc.

As a new user, I have been finding it confusing/distracting to see floats displayed in so many places since decimals imply a certain precision that isn't usually intended (I think? Related: "significant digits" from Chemistry class).  My eye keeps "h

[2018-03-07 20:06] a-robinson opened #23555 "server: remote_debugging.mode setting isn't being respected"
I built cockroach from head (b6c934ccee6293b697dff5880cf364c2370bf758), then started a 1 node insecure cluster on my gceworker. Without changing any cluster settings, I'm able to access all the debug pages over the internet on the VM's public IP, even though the setting defaults to `local` only. I then changed the setting to 'off' (`set cluster setting server.remote_debugging.mode = 'off';`) and I

[2018-03-07 20:07] jseldess commented on #12973
To piggyback on Rich's comment, when we show floats on the **Replicas per Store** graph, that could be misinterpreted by users to mean that it's possible for a store to have only part of a replica, which I don't think is possible (perhaps except when a range is rebalancing).

[2018-03-07 20:11] petermattis commented on #23543
The not leaseholder errors seem to have decreased over time as the cluster has remained up. They are now down in the 1-2/sec range. So perhaps my efforts to populate the leaseholder cache were failing.

[2018-03-07 20:12] #23347 closed

[2018-03-07 20:13] jordanlewis commented on #23520
Another compelling use case for this kind of join is processing inverted index queries with multiple contains conditions. That was discussed here: https://github.com/cockroachdb/cockroach/pull/18992#issuecomment-333964539

Currently, such queries are planned as an index join with a filter for the second contains. With zig-zag merge join, both contains operators could utilize the index.

[2018-03-07 20:14] #15990 closed

[2018-03-07 20:14] #15874 closed

[2018-03-07 20:19] jordanlewis commented on #23543
This is what it looks like on TPCC-1000:

![image](https://user-images.githubusercontent.com/43821/37116010-e33fbfce-221a-11e8-9e7a-4d115e12cdf9.png)

[2018-03-07 20:19] jordanlewis commented on #23543
Not a great screenshot. This is 1000, 2000, and 3000 next to each other on a cluster that didn't have any splits or partitioning.

![image](https://user-images.githubusercontent.com/43821/37116039-f8eb1b34-221a-11e8-958a-c4ed1228f05e.png)

[2018-03-07 20:20] bobvawter commented on #22973
How does a PR sound that would update all implementations of `ExportStorage` with timeouts on the methods that are going to talk to remote services?  I'm thinking a half hour would be a reasonable timeout choice in case the user has very large files.

[2018-03-07 20:23] andreimatei opened #23558 "sql: session tracing inside a txn is painful"
If one uses, for example, `crdb.ExecuteTx()` and has code like the following:
[code]
that's no good cause the final `set tracing=off` is rejected if the txn is in an error state. Moreover, starting tracing on that conn again fails. We should allow `set tracing=off` in all states. Or something.

Hacks like the following help, although tracing leaks on conns where it isn't stopped properly.
[code]

[2018-03-07 20:24] nvanbenschoten commented on #23543
What were these efforts exactly?

[2018-03-07 20:28] petermattis commented on #23543
Running `select count(*)` on the various tables pointed at the various nodes. But perhaps I need to do that with `distsql=off`. I know distsql populates the range cache, but perhaps not 100% of the time.

[2018-03-07 20:28] spencerkimball commented on #18684
On first glance, I see no reason why the deadline exceeded error shouldn't be retryable – this was something I was wondering about previously.

I'll send a PR.

[2018-03-07 20:32] andreimatei commented on #18684
Well, the question is, who's the right guy to say that it's retriable? SQL is for its use of the deadline, since on a retry it'll acquire new descriptors with new deadlines. Is storage also able to say that? If we were to introduce other uses of the deadline...

[2018-03-07 20:48] mjibson commented on #22973
I don't know what's best in this case. It might make sense to just do GCS here because we've observed that bug. It might make sense to do what you propose because it seems like most of the Go APIs for those external services support context cancellations. It might be best to use context timeouts at a layer higher than export storage (i.e., putting the timeouts in the backup/import/restore code).

[2018-03-07 20:51] cockroach-teamcity opened #23562 "teamcity: failed tests on master: acceptance/TestBuildInfo, acceptance/TestDockerC"
The following tests appear to have failed:

[#551610](https://teamcity.cockroachdb.com/viewLog.html?buildId=551610):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-07 21:08] nvanbenschoten commented on #23538
This should be pretty straightforward. `replaceUnescaped` and `unescapePattern` in `eval.go` are both aware of escape tokens already, and @richardwu ensured that this was [thoroughly tested](https://github.com/cockroachdb/cockroach/blob/98ee04b09bb340d63112e044626395648f3cf189/pkg/sql/sem/tree/eval_internal_test.go). However, in practice, this token is [hardcoded](https://github.com/cockroachdb/co

[2018-03-07 21:30] spencerkimball commented on #18684
Well my plan is to return a new reason with `TransactionRetryError`: `ERROR_DEADLINE_EXCEEDED`, which can be used by higher levels to make the call.

[2018-03-07 21:33] vivekmenezes commented on #18684
Sounds good. I remember the last time I tried making this a retryable error many months ago, it didn't clean up intents so it would hit the old intents on retry. I hope you can also cleanup the intents. Thanks!

[2018-03-07 21:44] andreimatei commented on #18684
Except that, for `TransactionRetryError`, higher layers will always retry - the `TxnCS` will turn it into a `HandledRetryableTxnError` and `db.Txn()`, for example, will retry.
I think SQL should recognize an otherwise non-retriable error (i.e. a pErr without the `TransactionRestart` field set).

Stepping out again, I'm not sure I can convince myself that the deadline exceeded error needs to exist

[2018-03-07 21:46] dt commented on #17522
Thanks for the numbers @benesch, looks like there's minimal difference here.

[2018-03-07 21:46] #17522 closed

[2018-03-07 21:47] a-robinson commented on #23555
So it turns out I misunderstood which pages count as debug pages. Only pages that are prefixed with `/debug` (*not* `/#/debug`) are currently treated as a debug page for the purposes of this setting. So that means that effectively the only things we're locking down are the tracing, logspy, and pprof endpoints. Those are indeed the most sensitive. The `/_status/ranges/` and `/_status/raft` pages (a

[2018-03-07 22:08] couchand commented on #12856
@vilterp thanks for taking another look at this.  That's not great behavior, though it's nice to hear that you can't repro on 2.0.

What @BramGruneir and @a-robinson reported, however, is data points in the middle of the series.  Leaving aside the original report (since it's so old), the screenshots from @a-robinson clearly show a hover over the middle of the chart.  Are you able to repro that?

[2018-03-07 22:23] #22283 closed

[2018-03-07 22:46] bdarnell commented on #23555
Anything which can potentially return keys needs to be protected. We need to lock down the log endpoints as well as all the status/debug pages that can include keys (or we could keep those pages but hide the actual keys if the filter doesn't pass).

[2018-03-07 22:59] a-robinson commented on #23555
Alright, but that's no small task, and it's the case in all of our releases going back to v1.0.

[2018-03-08 03:14] mrtracy opened #23574 "storage: Incremental MVCC SysBytes incorrect due to lease acquisition race"
Discovered as part of #22687

The incrementally-computed MVCC SysBytes kept with each range can become incorrect due to a race with leases.  This occurs when:

+ Two different lease requests are attempted at the same time
+ Both lease requests succeed, but delta stats are calculated as if both leases were replacing the same original lease.  That is, the original lease was A, then B became lease, t

[2018-03-08 06:25] #22687 closed

[2018-03-08 07:57] mjibson commented on #22924
I attempted to trigger the addsstable bug by restarting an import in a stress test with various sstable chunk sizes and samplings but was unable to do so. My current plan is to wait until it is reported again before investigating more.

[2018-03-08 08:47] johanneswuerbach commented on #19313
The SaaS provider I work for provides the following query capabilities currently backed by postgis: finding points within a bounding box, within a radius around a given point or to generally order points by distance to known point x

So far those seem to solve most of our customer use cases.

[2018-03-08 09:14] knz opened #23580 "sql: columns can only be used in one outgoing foreign key"
From @erichocean on gitter:

@erichocean  could you comment here and add the SQL statements you have used to (attempt to) create your schema?

[2018-03-08 09:28] cockroach-teamcity opened #23581 "sql/logictest: TestParallel failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ea5f8b22ba951799b76c84502aaab4456fe00a46

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=552372&tab=buildLog

[code]

[2018-03-08 09:28] cockroach-teamcity opened #23582 "sql/logictest: TestParallel/subquery_retry_multinode failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ea5f8b22ba951799b76c84502aaab4456fe00a46

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=552372&tab=buildLog

[code]

[2018-03-08 10:04] nicolasStevenin opened #23583 "undefined: reservedKeywords"
Hi,

I try to build and test your project and it fails with :

Testing: "/builddir/build/BUILD/cockroach-2.0-beta.20180305/_build/src/github.com/cockroachdb/cockroach/pkg/sql/opt/opt"
+ GOPATH=/builddir/build/BUILD/cockroach-2.0-beta.20180305/_build:/usr/share/gocode
+ go test -buildmode pie -compiler gc -ldflags '-extldflags '\''-Wl,-z,relro  '\'''
# github.com/cockroachdb/cockroach/pkg/sql/lex
*

[2018-03-08 11:03] vivekmenezes commented on #18684
@andreimatei I think this error is so rare (I've not been able to reproduce it) it's not worth attempting to optimize how we handle it. I'm in favor of running it through a retry at least at this stage.

[2018-03-08 11:15] knz opened #23584 "sql: cannot run TRUNCATE on system.locations"
From Gitter:

(To provide some context for anyone coming to this discussion without that technical background: DROP on a system table is a no-no because the value of the table ID is important)

@vivekmenezes can you triage this

[2018-03-08 11:16] knz commented on #23584
I advised the user to use DELETE instead

[2018-03-08 11:18] vivekmenezes commented on #23584
do we think this is a bug?

[2018-03-08 11:24] knz commented on #23584
I don't know -- it is a UX surprise I'd say. Probably needs to be documented at the least.

Maybe also a fall-back in the code: if TRUNCATE is issued on a system table, then fall back to the DELETE code.

[2018-03-08 11:27] spencerkimball commented on #18684
It’s apparently not rare in the TPCC workload. @jordanlewis?

[2018-03-08 11:34] knz commented on #23580
cc @BramGruneir

[2018-03-08 12:06] nvanbenschoten opened #23585 "internal/rsg: TestRandomSyntaxSelect cannot parse output"
https://teamcity.cockroachdb.com//viewLog.html?buildId=552105&buildTypeId=Cockroach_Nightlies_RandomSyntaxTests

[code]

This was almost certainly caused by https://github.com/cockroachdb/cockroach/pull/23370, which now allows the `NO CYCLE` option for sequences. It should be made a no-op when used in an `ALTER SEQUENCE`. The change also allows the `CACHE 1` option, so we need to make sure that do

[2018-03-08 13:00] dt commented on #23584
I don't think this is specific to the system tables at all -- having only CRUD privs seems pretty likely in which case you'd be allowed to run `DELETE FROM foo` but not `TRUNCATE foo`.

[2018-03-08 13:04] dt commented on #23584
-1 on silently downgrading a `TRUNCATE` to a `DELETE`: they have _very_ different performance characteristics, so I'd definitely prefer to predictably do what I asked or refuse, not maybe go do something else that has very different implications, all unbeknownst to me.

[2018-03-08 13:11] knz commented on #23584
The alternative is to have TRUNCATE check the DELETE permission instead of DROP.

[2018-03-08 13:12] dt commented on #23584
postgres has a separate `truncate` permission fwiw.

[2018-03-08 13:20] dt commented on #23583
@nicolasStevenin we use a non-trivial amount of code-generation in our build process, including, in the case of the error you hit, generating code based on our yacc-defined SQL grammar. The generated files are maintained by our Makefile, so you need to run `make` in the project root before you'll be able to use `go test` in individual packages.

[2018-03-08 13:23] knz commented on #23584
that might be even better then.

[2018-03-08 13:32] RaduBerinde commented on #23540
One idea is for each tablereader to send out some special metadata at the end, and have the gateway panic if they didn't get metadata from all the readers. This could be behind a testing flag.

[2018-03-08 13:32] petermattis commented on #23584
I thought we couldn’t truncate system tables because truncate is
implemented as drop and recreate which implies a new table ID and the
system table IDs are hard coded.

On Thu, Mar 8, 2018 at 8:24 AM kena <notifications@github.com> wrote:

[2018-03-08 13:36] knz commented on #23584
Peter yes you're right (there's a sentence at the top level of this issue that reminds the reader of that)

But the core of the issue here is that a user expects TRUNCATE to delete rows, not to drop the table, and will be surprised by seeing a message related to DROP. There should be something better happening here.

[2018-03-08 13:36] dt commented on #23584
Yep, even if we did switch to `TRUNCATE` requiring its own privilege rather than DROP+CREATE, we still wouldn't grant it on the system tables for that reason.

[2018-03-08 13:39] mberhault commented on #23584
I would prefer to move the other direction and disallow all direct modifications to the system tables. This would require disallowing even `root` from writing to them, changing everything to use internal ops run by `node` (or a new user). See https://github.com/cockroachdb/cockroach/issues/19277 for details.

[2018-03-08 13:43] knz commented on #23584
would work for me, but then we need a proper user story for `system.locations`.

[2018-03-08 13:44] mberhault commented on #23584
I agree, it would need utility functions to manipulate locations through sql.

[2018-03-08 15:12] cockroach-teamcity opened #23587 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#552106](https://teamcity.cockroachdb.com/viewLog.html?buildId=552106):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-08 15:22] #23504 closed

[2018-03-08 15:56] knz commented on #22208
@espadrine the original issue you reported was fixed in #20847.

The other issue with the LIMIT is tracked separately already #20732.

I am working on a bug for the latter already; I am going to close this issue since it's now redundant with the other two.

[2018-03-08 15:56] #22208 closed

[2018-03-08 16:04] a-robinson commented on #22468
I spent a bunch of time last night experimenting with the liveness/readiness checks from #23478 on top of all the recent changes, and I'm seeing some questionable behavior from `kv` (despite updating our docker image cockroachdb/loadgen-kv to a more recent build after seeing initially suspicious results) and/or the connection draining logic. I wasn't seeing the same behavior outside of Kubernetes,

[2018-03-08 16:07] couchand opened #23592 "ui: update labels on snapshots chart"
Change "Normal-applied" to "Applied (Raft-Initiated)" and "Preemptive-applied" to "Applied (Preemptive)", to emphasize the fact that so-called "normal" snapshots are actually abnormal.

Originally suggested by @bdarnell on cockroachdb/docs#2603.

[2018-03-08 16:13] mberhault commented on #22386
I am no longer able to reproduce this with the above commands. At the time of the comment 26 days ago, it happened within seconds. I'll try to bisect this to see if it's an accidental fix, change in testing, or something else.

[2018-03-08 18:28] mberhault commented on #22386
Bisect shows a clear change in behavior at https://github.com/cockroachdb/cockroach/commit/8faa7bb55619640932ccea36e13d383f5323ccfc. Before this change, it failed almost instantly. After the change, I cannot make it fail even with increased concurrency or test duration. I'm not saying this is fixed, but it is marked as fixing https://github.com/cockroachdb/cockroach/issues/22543 which sounds incre

[2018-03-08 18:28] dianasaur323 commented on #23584
yeah, the system.locations thing was a bandaid solution we put in in lieu of having something better. Going into 2.1, I think we should 1) bring it into SQL and 2) consider allowing manipulation at the admin UI level.

cc @piyush-singh for prioritization.

[2018-03-08 18:37] mberhault commented on #22386
According to Spencer, https://github.com/cockroachdb/cockroach/commit/8faa7bb55619640932ccea36e13d383f5323ccfc fixes this change by properly taking tombstones into account when refreshing. This therefore should fix this problem. @mjibson: you mentioned 2 days ago that you were still seeing this panic. Is that the case? On more recent builds, my rsg runs have encountered some panics, but not this s

[2018-03-08 18:54] pbardea opened #23596 "ui: cluster capacity usage inaccurate when multi-node cluster runs on same machine"
When running a cluster with only one live node the admin ui looks like this and reports the capacity usage correctly.

![screen shot 2018-03-08 at 1 38 39 pm](https://user-images.githubusercontent.com/507390/37169548-34d4ab40-22d6-11e8-8ea1-f5dbc6c5b803.png)

However, when I enable more nodes the capacity usage reports

![screen shot 2018-03-08 at 1 38 57 pm](https://user-images.githubusercontent.

[2018-03-08 18:56] abhimadan commented on #23540
Asking here since I'm not sure if it's an issue: if a processor produces an internal error, what should metadata propagation look like? Should it stop all work, or request a drain from its producer?

For example, let's say an aggregate function doesn't like the input it's given and returns an error. Currently, the aggregator will close itself and stop reading from its input. However, if there are

[2018-03-08 18:57] mjibson commented on #22386
Oops, yes, RSG is erroring on other stuff now but it happened so seamlessly I didn't notice the error change. I think we can close this.

[2018-03-08 18:57] #22386 closed

[2018-03-08 18:59] mberhault commented on #22386
Ah, good. I'm still glad I traced the commit though, it's comforting to know that it was a serious bug but it is fixed.

[2018-03-08 19:01] couchand commented on #23584
+1 for making this editable from the admin ui, but I maintain that it's unwise to make an exception to the security model, so we would need login first.

[2018-03-08 19:03] dianasaur323 commented on #23584
+1 more points for user login!

[2018-03-08 19:04] andreimatei commented on #23540
`RowSource.Next` says:
[code]

If you look at the `tableReader`, we see that it most definitely sends metadata after an error.
https://github.com/cockroachdb/cockroach/blob/b7f05e120c52ba3099f01d7c4bb17eaf12872f4f/pkg/sql/distsqlrun/tablereader.go#L148

Which, in fact, makes me wonder - @petermattis is this your droid? If a processor sends a retriable error and then sends the TxnMeta, but the TxnM

[2018-03-08 19:04] couchand commented on #19277
It seems like there might be value in splitting these system tables up into two types/namespaces.  For things like cluster settings and locations, the table is a convenient model, since it allows user security customization through the normal grant process.  For others that hold internal implementation details, no user should have write access.

[2018-03-08 19:07] petermattis commented on #23540
That's an interesting bit of info, but why are there missing rows? @spencerkimball claims that not propagating the `TxnMeta` will cause write anomalies. What would cause rows to go missing?

[2018-03-08 19:10] petermattis commented on #23540
Ah, perhaps we have this backwards. The producer (`tableReader`) sends a retriable error and then sends the TxnMeta, but the TxnMeta overwrites the retriable error (see `sortAllProcessor.fillWithContainer`) and thus the downstream doesn't see the retriable error and thinks there was success.

[2018-03-08 19:16] vivekmenezes commented on #22386
Thanks Marc, I was having nightmares about this one only yesterday

On Thu, Mar 8, 2018, 1:59 PM marc <notifications@github.com> wrote:

[2018-03-08 19:18] tschottdorf commented on #15851
We have rudimentary coverage here. Both roachtest and CI have tests that migrate a cluster through multiple versions, with some foreground activity thrown in. What we need to achieve over time is to exercise more interesting code paths in these tests. That is, we want to be decommissioning, running DistSQL queries, SCRUB, compaction queue activity, all workload generators, ... and fail the test if

[2018-03-08 19:32] jordanlewis commented on #18684
Yeah, it's not rare. @vivekmenezes if you can't reproduce it, there must be something different from your test setup than an actual cluster with a lot of data and ranges etc. Here's a run from earlier  - got the error in 25 seconds.

[code]

[2018-03-08 19:39] bdarnell commented on #18684
Prior to #16842, we had a `MinLeaseDuration` in `sql/lease.go` that ensured that if there was less than a minute remaining on the table lease, we'd wait for the lease to update instead of running with a short deadline. This appears to have been lost and we now have transactions allowed to run with less than 25s left on their lease. It looks like we may need to bring back some form of MinLeaseDurat

[2018-03-08 19:44] solongordon opened #23601 "sql: distsql plans against unavailable node"
After stopping one node in a four node cluster, I noticed that distsql inconsistently continues to include that node in physical plans, which causes errors in query execution. This is reproducible on a local cluster.

[code]
Now if you repeatedly run `SELECT * FROM d.t` on node 1, about half the time it will give the correct result, but the other half it will throw an rpc error:
[code]

And if you

[2018-03-08 19:48] andreimatei commented on #18684
I don't think I like a `MinLeaseDuration`; txns that aren't pushed don't need any particular amount of time left on the lease... And even for pushed txns, if we took the effort to "recalculate" the deadline, they generally could commit just fine even if they exceeded their original deadline. In other cases, you were of the opinion that one should never wait for a sync lease acquisition.
And keep i

[2018-03-08 19:51] spencerkimball commented on #18684
Would be really nice if we could get a trace for the failing request.

[2018-03-08 20:07] danhhz opened #23604 "build: run a subset of our roachtests on every PR (using --local)"
This will both prevent some classes of regressions in roachtest itself as well as making sure basic integration tests work (running tpcc for a minute, etc)

Currently blocked on cockroachdb/roachprod#128

[2018-03-08 20:14] tschottdorf commented on #23601
Good catch! Ping #21882

[2018-03-08 20:15] tschottdorf commented on #23601
The decommissioned node shouldn't have any leases and for non-DistSQL requests, this would be discovered and the lease holder cache cleared. Perhaps DistSQL is failing to close the loop back to DistSender to tell it to eject from the lease holder cache and so it's stuck trying again and again.

[2018-03-08 20:17] tschottdorf commented on #23601
PS the title suggests that this is specific to decommissioning, but it seems that the bug is rather that DistSQL plans against *unavailable* nodes. It shouldn't do that in the first place; I don't think there's anything special that decommissioning the nodes will do. That just makes sure they cease to have leases and data, so that there is no reason to ever plan on them unless there's a bug like d

[2018-03-08 20:20] erichocean commented on #23580
Example SQL that triggers the error:

https://gist.github.com/erichocean/9bc11d8c3ccfdfee6815ad61bb2cd850

[2018-03-08 20:23] solongordon commented on #23601
Done, thanks.

The error goes away if I force local execution via `SET distsql=off`, but comes back if I turn distsql back on. So if local execution updates the lease holder cache, maybe that's not the issue.

I just confirmed that this issue is not present in v2.0-alpha.20180129, so it's at least a somewhat recent regression.

[2018-03-08 20:25] #23519 closed

[2018-03-08 20:29] petermattis commented on #23519
The fix was https://github.com/cockroachdb/cockroach/pull/23541

[2018-03-08 20:32] cockroach-teamcity opened #23608 "teamcity: failed tests on master: test/TestDatabaseAccessors"
The following tests appear to have failed:

[#553433](https://teamcity.cockroachdb.com/viewLog.html?buildId=553433):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-08 20:35] tschottdorf commented on #23596
We could fingerprint the store directories and deduplicate based on that. I'm not aware of a simple way to do that though, and the cockroach process may not have sufficient privileges to do so. I'm also not sure this isn't just a WONTFIX, though it comes up from time to time. It turns out it's what we do most of the time...

[2018-03-08 20:36] tschottdorf commented on #23608
Hrm, I seem to have made this super flaky with #23521. Looking.

[2018-03-08 20:38] petermattis commented on #23596
I believe there are OS specific mechanisms to determine a UUID per device. I don't recall the details off hand. It doesn't seem worth fixing, though this does come up periodically.

[2018-03-08 20:38] dfaust commented on #23147
@knz: I just ran my test with the subquery against cockroachdb 2.0-beta.20180305 with `set experimental_force_lookup_join = true` and the query time dropped from 10s to 16ms. :+1:

[2018-03-08 20:42] tschottdorf commented on #23596
https://liquidat.wordpress.com/2007/10/15/short-tip-get-uuid-of-hard-disks/
https://apple.stackexchange.com/questions/107953/list-all-devices-connected-lsblk-for-mac-os-x

[2018-03-08 20:43] bdarnell commented on #23587
#22933

[2018-03-08 20:43] #23587 closed

[2018-03-08 20:45] rytaft opened #23609 "sql: panic with nullable repeated projections in full outer joins"
This query causes the database to crash:

`SELECT *, pg_typeof(column1) FROM (SELECT * FROM (VALUES (NULL, NULL)) NATURAL FULL OUTER JOIN (SELECT * FROM (VALUES (1, 1))));`

There is no error message. The server process ends, and the client says "connection lost".

[2018-03-08 20:56] jordanlewis commented on #18684
That is a great question! It seems to indicate something weird is going on, doesn't it?

I will try to get a trace for one of these failing requests, but I don't know how easy it will be.

[2018-03-08 20:58] solongordon commented on #23601
It looks like the issue occurs as of #22658. (I was able to reproduce it with 0c433fe884a153edafbb2fa97672327b1d10b762 but not 61ac7fe7f4f582804350d9faeaf5d78cae6a8952.) @bdarnell any ideas about why that would cause this behavior?

[2018-03-08 20:59] petermattis commented on #18684
Isn't it possible that @jordanlewis had previously run `tpcc` against his cluster which had grabbed various table leases, then waited a few minutes and started it up again such that one of the new txns tries to use the table lease just before it expired.

[2018-03-08 21:00] jordanlewis commented on #23601
I wonder if the behavior change as of #22658 merely exposed a previously existing problem. It seems to me that a problem in which DistSQL plans on unavailable nodes  would have existed both before and after that PR.

[2018-03-08 21:03] petermattis commented on #23544
I just took a brief look at this and I think the current `rowid` generation is actually in import. I think we should change the `tpcc.history` schema to have an explicit `rowid INT PRIMARY KEY` and then populate that column in `workload/tpcc/generate.go:tpccHistoryInitialRow()`.

@danhhz Does that sound right?

[2018-03-08 21:06] solongordon commented on #23601
I was thinking something similar. I wouldn't be surprised if DistSQL was already trying to plan on the unavailable node, but prior to that commit it would reliably figure out that it was unavailable and adjust the plan. I'll see if I can test out that hypothesis via tracing.

[2018-03-08 21:07] cockroach-teamcity opened #23611 "teamcity: failed tests on master: acceptance/TestBuildInfo, acceptance/TestDockerC"
The following tests appear to have failed:

[#553509](https://teamcity.cockroachdb.com/viewLog.html?buildId=553509):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-08 21:08] petermattis opened #23612 "roachtest: rebalance/3to5 failure"
https://teamcity.cockroachdb.com/repository/download/Cockroach_Nightlies_WorkloadNightly/552108:id/20180308-552108/rebalance/3to5/test.log

[code]

@a-robinson Not sure why we didn't achieve the desired balance. Do we have to relax the passing criteria?

[2018-03-08 21:08] danhhz commented on #23544
Yes, assuming that replacing a hidden column with an explicit one doesn't break other things (queries). Whoever does this change should remember to bump the Version in the tpcc generator's metadata so we can keep the fixtures straight.

[2018-03-08 21:09] petermattis commented on #23544
The `tpcc` tool already explicitly fills this column. We'd need to fix `workload/tpcc` to fill it as well.

[2018-03-08 21:12] petermattis opened #23613 "roachtest: schemachange test failure"
https://teamcity.cockroachdb.com/repository/download/Cockroach_Nightlies_WorkloadNightly/552108:id/20180308-552108/schemachange/test.log

[code]

@danhhz Assigning to you for triage as the error above seems like a problem with the test. If it isn't feel free to reassign.

[2018-03-08 21:13] jordanlewis commented on #23609
Thanks for the report! This usually means the server has panicked - you should be able to find that message in the server logs.

I went ahead and reproduced it locally. Here's the panic:

[code]

[2018-03-08 21:13] #23414 closed

[2018-03-08 21:13] #23608 closed

[2018-03-08 21:16] solongordon commented on #23601
Yep, this seems to be the case. Every time the query is run I see this in the trace:
[code]
So why is DistSQL trying to plan on an unavailable node which is no longer a leaseholder or replica for any ranges? Presumably some cache is never getting updated.

[2018-03-08 21:17] rytaft commented on #23609
Thanks! Good to know - I see that message in my log too.

[2018-03-08 21:33] bdarnell commented on #23596
We could also address this with our "start a local cluster" docs (since the only time it's ever a good idea to start multiple nodes on one machine is when you're following along with that doc). Setting all of the `--store` flags to something like `--store=path=node1,size=10GB` would adjust the way the UI displays this, right?

[2018-03-08 21:45] solongordon commented on #23601
@tschottdorf's first instinct looks correct: `DistSender.leaseHolderCache` is serving up stale replica info. Interestingly I see stale cache hits for local execution as well though.

[2018-03-08 22:01] danhhz commented on #23613
Closed by #23615.

[2018-03-08 22:01] #23613 closed

[2018-03-08 22:02] knz commented on #23147
Oh wow excellent news! Shoutout to @pbardea who did the bulk of the work.

[2018-03-08 22:08] #19967 closed

[2018-03-08 22:32] knz opened #23620 "sql: make it possible to specify the order of aggregations"
I was documenting ORDER BY in https://github.com/cockroachdb/docs/pull/2658 and I realized we don't have a reliable way to determine in which order aggregations are performed. This matters because we have non-commutative aggregation functions (`array_agg`, `concat_agg`).

@RaduBerinde says:

CockroachDB should be extended to support the syntax `SELECT <aggfunc>(<column> ORDER BY ...)`.

cc @rytaft

[2018-03-08 22:33] dt opened #23621 "build: QA actual binaries intended for release"
Capturing some in-persion discussion.

Goals:
We want to QA the actual binary we plan to release.
We want the "release" itself to just be a matter of copying the QA'ed binary into the public bucket and publishing the tag and notes.
We want the binary, during QA to report errors or crashes in an easy to identify way.

Our current plan:
- A CI job that you can trigger with parameters for the desired

[2018-03-08 22:39] knz commented on #23620
Currently CockroachDB recognizes the syntax but drops the ORDER BY specification on the floor, which is even arguably worse.

[2018-03-08 22:41] jordanlewis opened #23624 "sql: provide a way to temporarily disable foreign key checks on a session basis"
MySQL provides an option `SET FOREIGN_KEY_CHECKS=0;` which temporarily disables all foreign key checks on a session basis. This would be useful to have in CockroachDB as well.

[2018-03-08 22:47] jordanlewis commented on #22851
[code]

[2018-03-08 22:52] jordanlewis commented on #21786
This could be made more efficient by #23520.

[2018-03-08 22:59] petermattis commented on #22851
We already perform only a single scan for that query.

[code]

To get multiple spans there would have to be separation between the values:

[code]

But we're only sending out a single batch request here. It might be worthwhile to combine this into a single `ScanRequest`. It also might not.

[2018-03-08 23:00] knz commented on #23580
Copying here for posterity:

[code]

Fails with:
[code]

Workaround:
[code]

[2018-03-08 23:01] knz commented on #23580
cc @awoods187 for triage and prioritization

[2018-03-08 23:02] jordanlewis commented on #22851
Oh. I don't know what Vivek meant, then. I guess there's some kind of heuristic that could be applied. This seems tricky.

[2018-03-08 23:04] mrtracy commented on #18055
I think this was already addressed by adding the "Lease State" field in 219eff361d00aa85cfdb1b97016e0511973d71d2.  Looking at the condition in the original bug report (which was before that addition), I believe it was probably caused by the Lease being expired (or in some other invalid state); however, other than the "No Lease" warning, there was no indication in the UI of the issue.

The only pos

[2018-03-08 23:11] jordanlewis commented on #23609
This panic has nothing to do with `pg_typeof`, unfortunately. It happens any time there's a repeated projection that has an operator on it:

[code]

[2018-03-08 23:17] jordanlewis commented on #23609
Interestingly, Postgres won't even plan this query:

[code]

[2018-03-08 23:19] jordanlewis commented on #23609
If I cast the nulls to `int`, it works:

[code]

Interestingly, this seems to expose another bug in our `FULL OUTER JOIN` handling...

root@:26257/> SELECT column1+1 FROM (SELECT * FROM (VALUES (NULL, NULL)) NATURAL FULL OUTER JOIN (SELECT * FROM (VALUES (1, 1))));
+-------------+
| column1 + 1 |
+-------------+
| NULL        |
| NULL        |
+-------------+
(2 rows)

Time: 1.244656ms

One of the

[2018-03-08 23:23] jordanlewis commented on #23609
Hmm, although neither of these particular bugs reproduces on actual tables. This seems to be a problem with either subqueries or the values clauses.

[code]

[2018-03-09 00:03] dt commented on #23621
worked on the error reporting part in #23631.

[2018-03-09 01:24] tschottdorf opened #23634 "v2.0-beta.20180305: panic in EXPLAIN INSERT INTO _(_, _, _, _, _, _,..."
https://sentry.io/cockroach-labs/cockroachdb/issues/484422814/

[code]

[2018-03-09 01:24] tschottdorf commented on #23634
@nvanbenschoten, is this like https://github.com/cockroachdb/cockroach/issues/23490?

[2018-03-09 01:31] tschottdorf opened #23635 "v2.0-beta.20180305: panic in INSERT INTO _(_, _, _, _, _, _, _, _) SELECT $1, $2, $3, $4, ..."
https://sentry.io/cockroach-labs/cockroachdb/issues/484424187/

[code]

[2018-03-09 01:31] tschottdorf commented on #23635
cc @cockroachdb/sql

[2018-03-09 02:01] benesch commented on #23635
Oh man, this reproduces trivially. Drawing up a fix.

[2018-03-09 02:24] bdarnell commented on #23624
How does this relate to DEFERRABLE constraints (#9897)?

[2018-03-09 02:29] benesch commented on #23634
Actually, I'm 99% sure this is #23635.

[2018-03-09 03:46] cockroach-teamcity opened #23640 "acceptance/terrafarm: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/875a231c99d920e7fbdd6c1d2cc5c383c760fa92

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=554240&tab=buildLog

[code]

[2018-03-09 03:54] dt commented on #23624
Also curious if the proposed functionality in #19444 meets the same use case.

[2018-03-09 04:00] dt commented on #23624
Specifically, if we did add a session setting like this instead of the DISABLE ALL mutation on the tables, I think it should a) require ALTER on the tables it writes to and b) must mark all FKs it ignores as unvalidated, if they’re not already, since it may have invalidated them.

[2018-03-09 04:00] jordanlewis commented on #23624
Oops. Dupe of #19444. This came up in context of testing TPCC - it would be nice to be able to disable foreign key checks via a session setting to test performance with and without those checks.

[2018-03-09 04:02] jordanlewis commented on #23624
Oh, wait. No, this is specifically about a session setting that evilly skips validating foreign key constraints regardless of the state of the schema.

https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_foreign_key_checks

[2018-03-09 04:08] #23635 closed

[2018-03-09 04:30] cockroach-teamcity opened #23643 "acceptance/terrafarm: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=554305&tab=buildLog

[code]

[2018-03-09 04:30] cockroach-teamcity opened #23644 "sql/opt/exec/execbuilder: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=554569&tab=buildLog

[code]

[2018-03-09 04:31] cockroach-teamcity opened #23645 "cmd/cockroach-oss: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=554895&tab=buildLog

[code]

[2018-03-09 04:31] cockroach-teamcity opened #23646 "kv: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=555106&tab=buildLog

[code]

[2018-03-09 04:32] cockroach-teamcity opened #23647 "security/securitytest: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=555110&tab=buildLog

[code]

[2018-03-09 04:32] cockroach-teamcity opened #23648 "server/status: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=555115&tab=buildLog

[code]

[2018-03-09 04:32] cockroach-teamcity opened #23649 "sql/distsqlplan: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=555120&tab=buildLog

[code]

[2018-03-09 04:32] cockroach-teamcity opened #23650 "sql/opt/constraint: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=555126&tab=buildLog

[code]

[2018-03-09 04:33] cockroach-teamcity opened #23651 "sql/opt/optgen/cmd/langgen: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=555131&tab=buildLog

[code]

[2018-03-09 04:34] cockroach-teamcity commented on #23581
SHA: https://github.com/cockroachdb/cockroach/commits/ceeee85b63d55bf487c28a5f6449b9c85467dbc5

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=554565&tab=buildLog

[2018-03-09 05:35] jordanlewis opened #23652 "sql: regfoo introspection queries can clobber indexed vars"
[code]

After a lot of confusion, I figured out the cause for this thing, which is that the `EvalPlanner` doesn't properly isolate what it does from the outer planner. I think this is probably the cause of a lot of the confusing panics and other problems with complex introspection queries that use the `::regfoo` type casts.

[2018-03-09 05:35] cockroach-teamcity opened #23653 "teamcity: failed tests on release-2.0: test/TestLogic"
The following tests appear to have failed:

[#555356](https://teamcity.cockroachdb.com/viewLog.html?buildId=555356):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-09 07:08] 0xbaadf00d opened #23654 "sql: bad value for the field "session_start" (SHOW SESSIONS)"
The field `session_start` (SHOW SESSIONS) print 0001-01-01 00:00:00+00:00 rather than the real datetime.

[code]

[code]

[2018-03-09 10:42] knz commented on #23654
Thanks for the report!

[2018-03-09 10:42] knz commented on #23654
@andreimatei can you triage this

[2018-03-09 10:45] knz commented on #23624
@jordanlewis can you clarify what the use case is? It sounds a bit like "I want a tool to shoot myself in the foot"

[2018-03-09 10:56] vivekmenezes commented on #22851
I believe what @arjunravinarayan and me were hypothesizing that for this kind of a query there is a bottleneck in rocksdb when n queries translate to n * k rocksdb lookups on the same range and it would be better to have n scan lookups. @arjunravinarayan has a workload where he has seen this with large values of k.

[2018-03-09 13:28] BramGruneir commented on #23624
I don't think this is a good idea.  The only use case I can think of is for bulk inserts to existing already partially filled tables.

Mysql has this option because they don't have `deferred`.  But if I recall, when you turn fk checks back on, it doesn't then go perform them all.  It just assumes you know what you're doing.

I covered this in https://github.com/cockroachdb/cockroach/blob/master/do

[2018-03-09 13:28] dt commented on #23624
I do not think we should implement it exactly as mysql does -- *just* disabling the check code. I think,  if you've chosen to not check FKs at all, we need to record on those FKs that we can no longer make promises about their on-disk data... until you run `VALIDATE CONSTRAINT` to re-assert that they're okay.

[2018-03-09 14:12] benesch commented on #23634
Fixed by #23637.

[2018-03-09 14:12] #23634 closed

[2018-03-09 14:24] petermattis commented on #22851
@vivekmenezes Seems like a reasonable hypothesis, though it would be helpful to have a specific query to optimize for. Perhaps my second example above suffices. @arjunravinarayan?

[2018-03-09 14:24] benesch commented on #23651
Bricked agent.

[2018-03-09 14:24] #23651 closed

[2018-03-09 14:25] benesch commented on #23650
Bricked agent.

[2018-03-09 14:25] #23650 closed

[2018-03-09 14:25] benesch commented on #23649
Bricked agent.

[2018-03-09 14:25] #23649 closed

[2018-03-09 14:25] benesch commented on #23648
Bricked agent.

[2018-03-09 14:25] #23648 closed

[2018-03-09 14:25] benesch commented on #23647
Bricked agent.

[2018-03-09 14:25] #23647 closed

[2018-03-09 14:26] benesch commented on #23643
Accidentally triggered a broken stress run. Ignore.

[2018-03-09 14:26] #23643 closed

[2018-03-09 14:26] benesch commented on #23644
Bricked agent.

[2018-03-09 14:26] #23644 closed

[2018-03-09 14:26] benesch commented on #23645
Bricked agent.

[2018-03-09 14:26] #23645 closed

[2018-03-09 14:26] benesch commented on #23646
Bricked agent.

[2018-03-09 14:26] #23646 closed

[2018-03-09 14:27] benesch commented on #23640
Accidentally triggered a broken stress run. Ignore.

[2018-03-09 14:27] #23640 closed

[2018-03-09 14:30] petermattis commented on #23624
This issue arose from a desire to temporarily disable the FK checks in order to determine their performance impact. I could be satisfied with an easy way to do this via recompilation. @jordanlewis pointed out that MySQL has a setting for it. I have had this desire, I imagine users might as well. It seems reasonable to make it clear how absolutely dangerous this setting is.

[2018-03-09 14:36] dt commented on #23624
👍 it does indeed seem like a not uncommon desire to quantify the cost of checking constraints. To clarify my concern, I'm not opposed to disabling checks, but rather to, on that re-enabling them the database should not make potentially false claims.

[2018-03-09 14:38] petermattis commented on #23624
@dt Agreed. Either we need to document that the foreign keys might be invalid, or provide a mechanism for re-validating them.

[2018-03-09 14:45] dt commented on #23624
Yep, we have that mechanism for re-validating -- `VALIDATE CONSTRAINT` -- that can be run on constraints in the `UNVALIDATED` state, which is when we enforce the constraint on new writes but cannot vouch for it on-disk until validated.

[2018-03-09 15:13] knz opened #23660 "sql: make UPSERT/INSERT ON CONFLICT DO UPDATE able to overwrite values"
There's code currently in UPSERT/INSERT to refuse writing to the same PK twice, for example:

(tablewriter.go)
[code]

This is, I believe,  `UPSERT INTO kv VALUES (1,1), (1,2)` should succeed and ensure the later value overwrites the earlier one.

Also, postgres accepts the following:
[code]

but cockroachdb refuses it with the error above. This is incorrect.

[2018-03-09 15:13] knz commented on #23660
(There's similar case for INSERT, which needs to stay.)

[2018-03-09 15:31] bdarnell commented on #23176
OK. I haven't been able to reproduce this but I *think* I understand what's going on.

tl;dr: This is a bug in our "one phase commit" optimization for transactions using SNAPSHOT isolation, leading to lost update anomalies.

Let's simplify the schema for discussion:

[code]

We have multiple clients doing `UPSERT INTO t VALUES ($1, $2, $3) RETURNING NOTHING`. In a table with no indexes, this would

[2018-03-09 15:39] dianasaur323 opened #23661 "odd error message when dropping database"
I ran the following commands:

[code]

The drop ran successfully, but I'm not sure why I get an error message afterwards?

Running show databases confirms that the database is gone.

[2018-03-09 15:39] bsnyder788 commented on #23176
@bdarnell can't speak to the complete technical side of it, but your evaluation sounds pretty good. This is definitely a rare event for us; I have probably seen it happen ~4 times since August of last year, so its not surprising that its hard for you guys to reproduce.

[2018-03-09 15:40] dt commented on #23661
I'm guessing this has to do with it being your current session DB and the cli's state polling that @knz added?

[2018-03-09 15:42] dianasaur323 opened #23662 "ui: cluster viz label "cluster" hops around"
This is a UI nit, and in no way high priority, but on the node map, when I change the time selector, the middle title "Cluster" seems to budge around a little.

cc @piyush-singh

[2018-03-09 15:56] knz opened #23663 "sql: enable checking CHECK constraints on existing rows"
When a CHECK constraint is added to a table that already has some rows, the constraint is not validated for the existing rows.

This is unintuitive and diverges from the behavior with foreign key.

There should be a way to have the constraints validated for exisiting rows, like we can do for FKs.

[2018-03-09 15:57] knz commented on #23624
Related: #23663

you may want to extend the mechanism to also disable CHECK validation

[2018-03-09 15:58] dt commented on #23663
er, really isn't that what https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/alter_table.go#L201 is doing?

[2018-03-09 16:03] dt commented on #23663
@knz can you add steps to reproduce to the issue?

[2018-03-09 16:13] jordanlewis opened #23664 "sql: panic with right join"
Found with https://github.com/anse1/sqlsmith, a random query generator that I've been playing with. (There are a lot of modifications I've made to get that runnable, so there's no point trying it yourself just yet.)

The smallest repro I can make so far is:

[code]

Stack trace:

[code]

[2018-03-09 16:18] jordanlewis commented on #21852
I got https://github.com/anse1/sqlsmith working after adding several new compatibility features and fixing a bug.

It needed #15006, an implementation of `pg_operator`, several smaller fixes to our introspection catalog, and a fix for #23652.

So far, it's found a single actual panic: #23664.

It's also currently mostly generating queries with syntax errors due to our lack of support of typenames

[2018-03-09 16:38] knz commented on #23663
It's fixed indeed. I was mislead by our current documentation. Sorry for the noise.

[2018-03-09 16:38] #23663 closed

[2018-03-09 16:49] jordanlewis opened #23667 "sql/pgwire: distinguish between wire-level error types"
Currently, all pgwire errors are returned under `ERROR` severity. This confuses some tools, like `sqlsmith`, which expects that certain errors (like running `ROLLBACK` with no open transaction, for example) are merely `WARNING`-level messages, that are actually sent under a different "Notice" payload type.

There are also other severities, like `FATAL` and `PANIC`, which seem be used to indicate t

[2018-03-09 16:53] petermattis commented on #22942
Do we think a test will ever need to spin up more than a single cluster? Currently, every test has a few lines like the following:

[code]

Rather than this programmatic cluster creation, I think we should change tests to declare what type of cluster they want. The advantage to doing so is that we can enhance the test runner to schedule tests. Currently, we have a `--parallelism` flag, but what we

[2018-03-09 17:11] cockroach-teamcity opened #23668 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#555390](https://teamcity.cockroachdb.com/viewLog.html?buildId=555390):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-09 17:17] benesch opened #23669 "ui: overview: total ranges count runs out of space when too high"
Version: v2.0-beta.20180305-204-g7c7b179

![screenshot 2018-03-09 12 15 58](https://user-images.githubusercontent.com/882976/37220134-a25bb86c-2393-11e8-8034-c74629dd5bb1.png)

The cluster overview looks a little funky when the number of ranges has five digits—it runs right into the underreplicated stats.

The capacity usage on this cluster is also broken. I'll file a separate issue for that, but

[2018-03-09 17:21] tschottdorf commented on #22942
Yes, that's conceivable, for example when checking that linking two clusters accidentally does not lead to any problems. However, whatever abstraction you introduce, that test could just peel it back.

[2018-03-09 17:24] petermattis commented on #22942
Ah, good point, though I don't think there is any restriction here with my proposal. Recall that cluster refers to a set of machines. Given that set of machines, you can create 1, 2 or N cockroach clusters.

[2018-03-09 17:42] knz opened #23672 "sql: missing check on the unicity of SET LHS operands in ON CONFLICT DO UPDATE"
[code]

Succeeds, mistakenly, whereas `UPDATE ... SET x = 1, x = 1` properly fails saying the name `x` cannot be assigned twice.

Found while working on #23373.

[2018-03-09 17:57] petermattis opened #23673 "storage: hung AdminSplit request during restore"
A tpcc `RESTORE` hung because an `AdminSplit` request is never finishing. The stuck `AdminSplit` operation is continually retrying and never succeeding. The problematic range was discovered by download all of the logs from the cluster and running:

[code]

This revealed that `r50573` had been mentioned in split logs thousands of times. Grep'ing the logs further shows:

[code]

So we're trying to s

[2018-03-09 18:27] RaduBerinde commented on #23664
I was able to reproduce with simple tables. The problem seems to be that we replace the left source with `zeroNode`. The zeroNode, even though it produces no rows, should still have the same columns as the node it's replacing. Here it has zero columns, which trips up the join logic when creating `emptyLeft`.

[code]

The fix is to add column information to `zeroNode`.

[2018-03-09 18:33] knz opened #23674 "sql: panic in UPSERT/INSERT due to missing check on aggregation functions"
[code]

The problem is that the check for aggregation/windowing function is not performed as it should for the RHS expressions of UPDATE SET.

[2018-03-09 18:43] jseldess opened #23676 "sql: Exclude SHOW EXPERIMENTAL_REPLICA TRACE FOR from auto-generated docs"
The [`SHOW EXPERIMENTAL_REPLICA TRACE FOR explainable_stmt`](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/parser/sql.y#L2834) should be skipped (`/* SKIP DOC */`) so it doesn't show up in auto-generated sql diagrams.

[2018-03-09 18:55] espadrine commented on #22208
OK, thanks!

[2018-03-09 19:23] vilterp commented on #23669
Wow, how did you get your cluster into a state where it reports using 626% of available capacity?

[2018-03-09 19:25] petermattis commented on #23669
Happens every time. I think there must be a simple math bug somewhere in the UI or backend.

[2018-03-09 19:26] petermattis commented on #23669
In particular, from another part of the UI we have:

[code]

The 2.1 TiB number is accurate, but the 356.6 GiB number looks like the capacity for a single node and there are 24 nodes in this cluster.

[2018-03-09 19:30] dt opened #23677 "build: Open Source build needs CI enforcement"
Originally, our rule was that you can delete the ccl directory(s) to get an unencumbered source tree, and then run `make buildoss` to get an untainted binary from that tree, sure that all source linked was APL2 licensed. We verified that by hand at times, but it looks like it's rotted over time:
[code]

We currently only have one CI, that primarily tests against ccl binaries: While we've discussed

[2018-03-09 19:36] dt commented on #23677
Looks like a `mkdir -p pkg/ccl/storageccl/engineccl` lets it advance.

Looks like `CGO_FLAGS_FILES` has a mix of ccl and oss directories, and breaking that up and then depending on the right ones might be kinda annoying -- might be easier just to change the "rule" to from "can delete all *ccl directories" to "can delete all files in *ccl directories"  to get an untainted source tree and binary.

[2018-03-09 19:36] vilterp commented on #23669
Forgot a plus sign. Fix (and a unit test) coming up.

[code]

[2018-03-09 19:37] petermattis commented on #23669
Oops!

[2018-03-09 19:43] bdarnell commented on #23176
Also FYI, beginning in CockroachDB 2.0, we will no longer give you SNAPSHOT isolation if you ask for READ COMMITTED. You will only get SNAPSHOT if you ask for it specifically; all other isolation levels will be mapped to SERIALIZABLE. We strongly recommend the use of SERIALIZABLE because it's difficult to determine whether or not write skew can be a problem for an application, and using SNAPSHOT i

[2018-03-09 19:53] vilterp opened #23679 "ui: jobs page: job text can overflow cell bounds"
Collapsed:
![image](https://user-images.githubusercontent.com/7341/37226935-8e3424e4-23a9-11e8-8904-298568bd70b8.png)

Expanded:
![image](https://user-images.githubusercontent.com/7341/37226942-9207fe38-23a9-11e8-9f6b-88a5f808902f.png)

Doesn't get any better even when the window is expanded to have plenty of space:
![image](https://user-images.githubusercontent.com/7341/37226877-5a43cb1c-23a9-11e

[2018-03-09 19:54] vilterp commented on #23679
@couchand I think you've suggested in the past that the solution is to break out the fields of the job descriptor. But we've gotta do something here, even if it's basic text layout and overflow styling tweaks.

[2018-03-09 19:55] vilterp opened #23680 "ui: node list: "bytes" label unclear"
![image](https://user-images.githubusercontent.com/7341/37227038-d9a34770-23a9-11e8-8da6-bb697c5fe3da.png)

Should probably just change to "bytes used".

[2018-03-09 20:39] solongordon commented on #23601
Summing up some findings on this. I think this issue comes down to the intersection of a few things:
- Stopping a node can leave the remaining nodes with a stale leaseholder cache which might never get updated. (More on that later.)
- The DistSQL planner is OK with planning against nodes which don't yet have an RPC connection: https://github.com/cockroachdb/cockroach/blob/747d488ef247129f550056495

[2018-03-09 20:43] bsnyder788 commented on #23176
@bdarnell we originally were using SERIALIZABLE but were seeing more errors and many more retries so we "temporarily" reduced it to SNAPSHOT (and the temporary has stuck for the time being as we have been migrating the workload to Cockroach from other systems and doing random read chances from the application to determine if Cockroach could handle our workload in a controlled, gradual manner). We

[2018-03-09 20:50] dianasaur323 opened #23682 "ui: remove all back links everywhere"
When you click into the aggregated node, and see just the nodes in a circle, and then click into a node, it takes you to this screen:

![image](https://user-images.githubusercontent.com/5768024/37229270-7bfd0216-23b1-11e8-833b-72a98092509a.png)

The back button takes to back to the node list instead of the drilled down nodes in a circle, which is what I would expect. Pressing the browser back butt

[2018-03-09 21:04] vilterp commented on #20738
Done for time series data (thx @mrtracy); next step is to decide how to label the other stuff (liveness, meta ranges, etc). Like Tobi said, maybe "internal" or "system".

[2018-03-09 21:19] mjibson opened #23685 "backupccl: very slow at end"
Near the end of a backup the progress stalled around 95% for 10s of minutes. It has since progressed a bit, but is taking a much higher expected amount of time. Attached are the stack dumps from the 4 nodes in the cluster. Notably only the first file has anything from backup.go.

[1.txt](https://github.com/cockroachdb/cockroach/files/1798477/1.txt)
[2.txt](https://github.com/cockroachdb/cockroach/

[2018-03-09 21:51] petermattis commented on #20738
Another huge hole on the database overview page is that in-progress restores do not show up (at least, I think they don't show up, I'll do another restore to verify). This is problematic for large restores where a table can have thousands or 10s of thousands of ranges that don't show up on the Databases page.

[2018-03-09 22:07] petermattis opened #23688 "cli: sql --database flag doesn't work in conjunction with --url"
[code]

I would have expected the `--database` flag to override whatever database is specified in `--url`.

[2018-03-09 22:09] vilterp commented on #23679
Note about showing a structured representation: it'll take some backend endpoint rejiggering to get the details we want, since the current endpoint is based on the `crdb_internal.jobs` table, which doesn't expose the details we need here (URL, etc):

https://github.com/cockroachdb/cockroach/blob/a26506b90889899b7087a939b7349b57cec5cfbd/pkg/sql/crdb_internal.go#L382-L396

[2018-03-09 22:15] #21109 closed

[2018-03-09 22:30] vilterp commented on #20738
According to #21087 the database shows up, but none of its tables or ranges.

[2018-03-09 22:37] vilterp commented on #23679
Knew I had seen this before. Dup of #23499.

[2018-03-09 22:37] #23679 closed

[2018-03-10 00:03] #23672 closed

[2018-03-10 00:03] #23674 closed

[2018-03-10 00:27] arjunravinarayan opened #23694 "panic encountered when ctrl+c-ing a query"
I have a 4 node roachprod cluster with a TPC-C 100 warehouse dataset, loaded with
` bin/workload fixtures load tpcc  --warehouses=100 'postgres://root@35.190.154.175:26257?sslmode=disable'`

I ran the following query:
`(SELECT ol_w_id, ol_d_id, ol_o_id FROM order_line WHERE ol_delivery_d IS NULL ORDER BY ol_w_id, ol_d_id, ol_o_id DESC)                                                         EXCEPT

[2018-03-10 00:32] arjunravinarayan commented on #23694
One interesting curiosity is that the following query does not cause a crash:

`(SELECT ol_w_id, ol_d_id, ol_o_id FROM order_line WHERE ol_delivery_d IS NULL ORDER BY ol_w_id, ol_d_id, ol_o_id DESC)                                                         EXCEPT ALL

[2018-03-10 00:36] arjunravinarayan commented on #23694
Ctrl+c-ing the query when the results are streaming does not crash the cluster, only when it's in its computing results state.

I am able to reliably reproduce this across multiple cluster restarts.

[2018-03-10 00:40] knz commented on #23660
Fixed in #23657.

[2018-03-10 00:40] knz commented on #23660
not fixed yet

[2018-03-10 01:52] RaduBerinde commented on #23581
Dup of #23582.

[2018-03-10 01:52] #23581 closed

[2018-03-10 01:53] RaduBerinde commented on #22926
Hm.. started again #23582.

[2018-03-10 12:23] knz opened #23699 "sql: the updated values on ON CONFLICT do not get constraint-checked properly"
Consider the following table:

[code]

A simple INSERT statement fails, as it should:

[code]

Now, the same with INSERT ... ON CONFLICT:
[code]

This succeeds!
And results in a row that fails constraint validation:

[code]

This may or may not need to be fixed for 2.0, but certainly needs a note in docs as known limitation.

[2018-03-10 12:23] knz commented on #23699
Found while working on #23698 / #23373.

[2018-03-10 12:25] knz commented on #23699
cc @justinj @dt.

[2018-03-10 15:17] knz opened #23700 "sql: an error on the 1PC code path for update, etc, may fail with an invalid txn state?"
Found the following code path:

[code]

Is it guaranteed that  `CommitInBatch` never fails after the EndTxn batch command has been processed?
Otherwise, `err` is not nil, but the txn is committed, and `ConvertBatchError` will fail with "using txn in COMMITTED state".

@nvanbenschoten thoughts? This is low priority since I don't recall seeing this in the wild. Maybe my understanding is limited.

[2018-03-10 15:26] jordanlewis commented on #23694
@andreimatei this looks like a con_executor kind of thing.

[2018-03-10 16:53] bdarnell commented on #23176
After trying some more to reproduce this issue in a test, I've come to the conclusion that we're already protected from this bug by accident. When a pushed snapshot transaction attempts a one-phase commit, it will be allowed to try, but it won't be able to commit because of this check:

https://github.com/cockroachdb/cockroach/blob/8f8b4d86e6a0f45e543e63977b5ac6314605fedc/pkg/storage/replica.go#L4

[2018-03-10 16:59] cockroach-teamcity opened #23703 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#559083](https://teamcity.cockroachdb.com/viewLog.html?buildId=559083):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-10 18:43] BramGruneir commented on #19110
[code]

[2018-03-10 19:26] BramGruneir commented on #23580
Just to be clear, this is a known limitation.
One could also interleave this in either aa, or ab.  But it will always be messy.

[2018-03-10 20:37] a-robinson commented on #23612
The standard deviation for the test is too low. We used to run the 3to5 test with an acceptable standard deviation of 42: https://github.com/cockroachdb/cockroach/blob/3748d21f9fd9cb1f0d9f7f0a2a720f599aa52ee5/build/teamcity-nightly-acceptance.sh#L38

Although the output of this test is no longer enough to properly debug it. Is there an option to set the `-vmodule` of roachtest tests to maintain th

[2018-03-10 21:20] a-robinson opened #23706 "kubernetes: Evaluate local persistent volume support in v1.10"
v1.10 is expected to be released on March 21, and it [notably includes the promotion of `LocalPersistentVolume` to beta](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md), meaning it will be available by default on all new kubernetes clusters. It's a good opportunity to eliminate our dependency on network-attached volumes and run better on bare metal clusters, but would need

[2018-03-10 22:24] dt commented on #23699
cc @BramGruneir should see if this is an issue with FKs too.

[2018-03-10 23:23] nvanbenschoten commented on #23700
I took a look at `CommitInBatch` and didn't find any code paths that could lead to the "committed but returning error" case that you're hypothesizing. Still, you bring up a good point that the contract of the method could be more explicit. We can't claim that the presence of an error precludes a committed transaction in general (see `AmbiguousResultError`). However, I think we can promise that if

[2018-03-11 03:55] bdarnell commented on #23668
#22933

[2018-03-11 03:55] #23668 closed

[2018-03-11 03:56] bdarnell commented on #23703
#22933

[2018-03-11 03:56] #23703 closed

[2018-03-11 04:07] bdarnell commented on #23673
Yeah, AdminSplit should probably check that it's still the leaseholder. (It doesn't *have* to be the leaseholder as long as it's still a member, but it's probably better to check for the lease than for membership)

[2018-03-11 09:31] knz commented on #23699
I checked - FKs do get checked properly, they use a different code path (in the RowInserter/RowUpdater from sqlbase) which is properly run in this case.

[2018-03-11 09:56] knz commented on #23700
Is AmbiguousResultError only possible on committed transactions?

If so, then, this raises another question. For context, let's remind ourselves `ConvertBatchError` will issue an additional KV lookup _on the same txn object_ in order to produce the error message.

What if a batch contains two commands, one that generates some error and and EndTxn which triggers AmbiguousResultError?

Then CommitIn

[2018-03-11 12:39] #23664 closed

[2018-03-11 13:53] dianasaur323 commented on #23685
Hmm.. the backup eventually failed with this error message in show jobs: exporting 2 ranges: batch timestamp 1520628334.075470582,0 must be after GC threshold 1520630724.527421605,0

I'm running another backup, and it seems to be having the same problem since it has been running for a while. I can't tell if this is because the cluster itself is unhealthy, or if there is some other backup problem.

[2018-03-11 20:53] nstewart opened #23709 "Adding inverted indices to JSONB in v2.0-beta.20180305 hangs."
Using `v2.0-beta.20180305` on a very small (t2.medium) single node crdb cluster.

was playing around with indices.

[code]

[code]

[code]

reconnected.

[code]

trying again and the query just hangs

root@Cockroach-ApiLoadB-2YIYC4RNJH92-593953063.us-west-1.elb.amazonaws.com:26257/json_test> CREATE INVERTED INDEX idxgin2 ON users (user_profile);

Jobs table shows:

![image](https://user-images.git

[2018-03-11 21:06] nstewart commented on #23709
[stuck_gin.zip](https://github.com/cockroachdb/cockroach/files/1800877/stuck_gin.zip)

[2018-03-11 21:47] nstewart commented on #23709
Tried again using an m4.large and without any other indexes. Still breaks. Repro steps:

create database json_test;

use json_test;

CREATE TABLE users (
    profile_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    last_updated TIMESTAMP DEFAULT now(),
    user_profile JSONB
  );

INSERT INTO users (user_profile) VALUES
    ('{"first_name": "Lola", "last_name": "Dog", "location": "NYC", "online"

[2018-03-11 22:09] jordanlewis commented on #23709
That's a panic. Can you look in the logs for what the message is?

[2018-03-11 22:18] jordanlewis commented on #23709
Nevermind, I think this one is already fixed and just hasn't gotten added to the beta. #23190.

[2018-03-11 22:37] nstewart commented on #23709
Got it. Will close and follow the other one.

[2018-03-11 22:37] #23709 closed

[2018-03-12 02:26] vivekmenezes commented on #23601
Even if you fix this it does look like it's only going to make the execution path failure rarer. You still need to recover from the execution path seeing an unhealthy node.

related issue: https://github.com/cockroachdb/cockroach/issues/15637

[2018-03-12 02:55] vivekmenezes commented on #23472
same as #23464

[2018-03-12 02:55] #23472 closed

[2018-03-12 02:55] vivekmenezes commented on #23473
same as #23464

[2018-03-12 02:55] #23473 closed

[2018-03-12 02:55] vivekmenezes commented on #23485
same as #23464

[2018-03-12 02:55] #23485 closed

[2018-03-12 02:56] vivekmenezes commented on #23486
same as #23464

[2018-03-12 02:56] #23486 closed

[2018-03-12 02:56] vivekmenezes commented on #23483
same as #23464

[2018-03-12 02:56] #23483 closed

[2018-03-12 02:57] vivekmenezes commented on #23460
same as #23464

[2018-03-12 02:57] #23460 closed

[2018-03-12 03:00] vivekmenezes commented on #23601
moving to 2.1 since this is not a regression

[2018-03-12 03:01] vivekmenezes commented on #23653
same as https://github.com/cockroachdb/cockroach/issues/19925

[2018-03-12 03:01] #23653 closed

[2018-03-12 04:24] benesch opened #23712 "cli/init: init should wait for healthz to become available"
If `init` fails it's a real pain to figure out whether it's safe to run again, and in fact requires manual intervention. We can be pretty sure `init` won't fail if the `/health` endpoint is available, so we should teach `init` to check the `/health` endpoint before attempting the actual init operation. More context: https://github.com/cockroachdb/cockroach/pull/23632#pullrequestreview-102870081

[2018-03-12 04:25] #19791 closed

[2018-03-12 04:25] #23562 closed

[2018-03-12 04:25] #23611 closed

[2018-03-12 04:30] benesch commented on #23464
Fixed by https://github.com/cockroachdb/cockroach/pull/23458. Thanks for catching this!

[2018-03-12 04:30] #23464 closed

[2018-03-12 04:39] mjibson commented on #23685
That message can occur if the backup's AS OF time (which is `now()` if unspecified) is older than the GC time (default 25 hours). So if the backup takes a really long time to execute, it can get into this state.

[2018-03-12 04:57] cockroach-teamcity opened #23714 "teamcity: failed tests on master: acceptance/TestDockerCLI"
The following tests appear to have failed:

[#559666](https://teamcity.cockroachdb.com/viewLog.html?buildId=559666):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-12 06:10] dianasaur323 commented on #16161
Results of my actual testing:
- I was testing on a ~1GB dataset of TPCC.
- Ran a full backup that completed at 1:00 ET
- I dropped the history table at 1:02 ET
- I ran create table history_2 (test_id INT, test_value INT); at 1:05 ET
- I ran an incremental backup at 1:09 ET
- I ran a full mvcc at 1:12 ET
- I inserted three rows into history_2 at 1:12 ET
- I inserted another three rows into history_

[2018-03-12 06:14] dianasaur323 opened #23715 "backup/restore: error checking for 'revision_history' appears to skip if more than one incremental"
During testing in https://github.com/cockroachdb/cockroach/issues/16161, noticed that if I ran just normal full + incremental backups, and then added a revision_history option to it, the error I wanted (basically that you can't do that with a non-mvcc backup) only worked for the first incremental backup, and not for the second.

[2018-03-12 06:14] #16161 closed

[2018-03-12 06:16] dianasaur323 commented on #20812
Yay! got error message that you cannot specify timestamp in the future. Check! Closing out.

[2018-03-12 06:16] #20812 closed

[2018-03-12 12:51] 0xbaadf00d opened #23718 "sql: table creation freeze on version 2.0-beta"
**Description**
I'm using Ebean ORM with Ebean migration (Java / JDBC). Everything works on CockroachDB 1.1.5 but with 2.0-beta, the process hang (freeze) on the creation of the table "db_migration".

During this "freeze", the instruction "SHOW TABLES;" hand too. If I kill the Java application, the currently blocked instruction "SHOW TABLES;" return results.

Ebean create the table with this SQL i

[2018-03-12 12:58] dt commented on #23715
I'm not sure I quite follow: you were expecting an error from `BACKUP` or from a later `RESTORE`?

[2018-03-12 13:05] dt commented on #23699
Thanks!. Let's make sure we get test coverage though all the same, as this is a really easy mutation path to overlook.

[2018-03-12 13:33] dianasaur323 commented on #23685
ah, yes you're right. So I ran this on a healthier cluster with no under-replicated ranges, and the backup / restore worked successfully, and was uber fast. That makes me think that backup / restore just doesn't work well on unhealthy clusters. I'm leaning towards closing this, since that behavior honestly isn't that unexpected?

[2018-03-12 13:42] dianasaur323 commented on #23715
Sorry - I was really lazy when I typed this up because it was so late =.=.

Essentially, I was testing the error message that you get if you try to restore a backup that does not have mvcc enabled as of a system time.

When I ran a full + inc + inc backup, I didn't get the error message I expected (pq: incompatible RESTORE timestamp (BACKUP needs option 'revision_history')).

However, if I chose a

[2018-03-12 13:45] dt commented on #23715
so, to clarify, you have three backups, full + inc +inc, none of which have revision history?

And you're using `AS OF SYSTEM TIME` to restore to a time covered by the third backup, and it isn't complaining about the lack of revisions?

[2018-03-12 13:47] dianasaur323 commented on #23715
Yep! Precisely.

On Mon, Mar 12, 2018 at 9:45 AM, David Taylor <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2018-03-12 14:05] #23612 closed

[2018-03-12 14:06] pbardea commented on #22631
Adding a bit more detail:

Currently it seems that no processor is currently using the `rowFetcher` in such a way that the bug is exposed to the user, and hence cannot write a logic test exposing it. The issue is only exposed when a slice of spans is generated which have 2 spans identical and adjacent to each other in the list.

Currently, `rowFetcher`s are initialized with either a single span of

[2018-03-12 14:08] m-schneider commented on #21786
Thanks for info, I'll add it in once it's implemented!

On Thu, Mar 8, 2018 at 5:52 PM, Jordan Lewis <notifications@github.com>
wrote:

[2018-03-12 14:15] solongordon commented on #23601
Good point about the execution path. But I'd personally still consider this behavior a regression. When a node becomes unavailable, distsql queries which would previously have included that node start erroring out ~50% of the time. That's not the case in v1.1.5.

[2018-03-12 14:15] mberhault opened #23719 "sql: current sequence value not checked when updating min/max value"
Part of #21868
Minimalist reproduction:

on cockroach:
[code]

The same occurs with a decrementing sequence and setting a minvalue.

On postgres, this fails on the `ALTER SEQUENCE` statement instead:
[code]

Jira issue: CRDB-5808

[2018-03-12 14:17] jordanlewis commented on #23601
I agree with @solongordon that this is a regression. It's not acceptable to require retries half of the time after you decommission a node, which is supposed to be an ordinary operational command.

Fixing all 3 of these things probably can't happen by 2.0, though. Is there a simple fix that we can apply to prevent the user-visible issue, at least?

[2018-03-12 14:31] solongordon commented on #23601
A simple fix would be to change DistSQL not to plan against nodes whose RPC connection is in the `ErrNotConnected` state. I'm not sure if that would have broader implications though. Maybe @RaduBerinde would know?

[2018-03-12 14:37] jordanlewis commented on #23601
I suppose one problem with that is that those connections wouldn't ever be resurrected in the case of a transient network failure, then, unless there's an external actor trying to resurrect them.

[2018-03-12 14:42] #23429 closed

[2018-03-12 14:52] a-robinson commented on #16598
Same as https://github.com/cockroachdb/cockroach/issues/20986

[2018-03-12 14:52] #16598 closed

[2018-03-12 14:52] a-robinson commented on #16599
Same as https://github.com/cockroachdb/cockroach/issues/20986

[2018-03-12 14:52] #16599 closed

[2018-03-12 14:52] a-robinson commented on #16600
Same as https://github.com/cockroachdb/cockroach/issues/20986

[2018-03-12 14:52] #16600 closed

[2018-03-12 14:55] tschottdorf commented on #23601
Yeah, checking for connection health (`(*Ctx).ConnHealth(target string) error`) alone isn't the right thing. The regression occurred because the connection cache was previously more stateful than it is now: it would hold on to any connection forever and would try it periodically, so checking connection health made sense. Now when the connection fails, we lose all knowledge about it.

ISTM that the

[2018-03-12 14:56] jviksne commented on #20402
Hi, I'd also like to vote for this to be implemented. I'm migrating from PostgreSQL to CockroachDB and the inserts into date fields that used NOW() to populate the current date fail in CockroachDB.
For the fields that use timezone I guess the input should be treated as current timestamp with no timezone info passed - which in PostgreSQL I guess defaults to system's timezone.

[2018-03-12 15:01] a-robinson commented on #21824
Any interest in providing more detail, @leomkkwan?

[2018-03-12 15:11] vivekmenezes commented on #23718
@0xbaadf00d I'm unable to reproduce this issue. Are you running it on a fresh cluster? Can you run the CREATE TABLE from the cockroach CLI?

[2018-03-12 15:12] RaduBerinde commented on #23601
CC @andreimatei

[2018-03-12 15:16] nvanbenschoten commented on #23700
No it's not. An AmbiguousResultError is always possible.

This is only the case when the batch error is a `ConditionFailedError`, in which case we know that the EndTxn wasn't even evaluated.

[2018-03-12 15:20] arjunravinarayan commented on #21856
My bad. You're right. The absolute path is stored in `temp-dirs-record.txt`.

I don't want to change what's stored this late in the game. Especially given there are so many ways to set this (relative, absolute, set by default to inside the first store directory, set explicitly at start time). How about the following: we attempt to delete the temp directory. If we can't find it, we simply give up.

[2018-03-12 15:22] bdarnell commented on #21856
Yeah, in the short term we should just downgrade ENOENT from this deletion to a log.

[2018-03-12 15:23] arjunravinarayan commented on #21856
OK, I've gone ahead and done that. Sent you a PR.

[2018-03-12 15:25] 0xbaadf00d commented on #23718
Hello,

I'm running on a fresh node, single node, run with --insecure. I work on my dev computer. Tested with Windows and MacOS version of Cockroach.

The issue only appear on version 2.0-beta and only via Ebean Migration. The strange behavior is, if the table "db_migration" already exists, everything works well, all migration scripts are run with success. Only the table creation freeze.

I could

[2018-03-12 15:25] arjunravinarayan commented on #21856
The remaining work is not 2.0, so moving the milestone.

[2018-03-12 15:48] arjunravinarayan commented on #23505
The problem is that the sorter starts a memory monitor with
`		limitedMon.Start(s.flowCtx.Ctx, s.flowCtx.EvalCtx.Mon, mon.BoundAccount{})`

In logic tests, `s.flowCtx.Ctx` is nil. Setting a nonzero verbosity flag triggers a `logWithContext` call, and that panics.

[2018-03-12 15:49] vivekmenezes commented on #23718
We know that a CREATE TABLE that is attempting to create a table that was created by another transaction that has yet to commit can hang indefinitely. Something like

[code]

[2018-03-12 15:56] BramGruneir commented on #13537
Sadly, this just happened again to me on master over the weekend.  I can try to recreate it if you want, but it was on a simple load happening on a 9 node cluster, split into 3 data-centers across the country.

It was on the sql chart.

[2018-03-12 15:57] andreimatei commented on #23601
My bad for not having a test for whatever happened here. But these tests are hard to write...
Solon, do you want to do something here? Otherwise I'll take it, but it'll have to wait a bit.

[2018-03-12 15:58] cockroach-teamcity opened #23732 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#559685](https://teamcity.cockroachdb.com/viewLog.html?buildId=559685):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-12 16:00] couchand commented on #13537
@BramGruneir can you please try to repro, then send over the state tree from `#/debug/redux`?  Thanks!

[2018-03-12 16:04] bdarnell commented on #23732
#20492 and #22933

[2018-03-12 16:04] #23732 closed

[2018-03-12 16:08] a-robinson commented on #23601
Seconded. This is also a performance issue, as in #23543

[2018-03-12 16:13] bdarnell opened #23734 "storage: Stop liveness heartbeats when disk is blocked"
If a node gets errors when it writes to disk, it will crash. But if the disk is slow, all threads that touch the disk will eventually get blocked while other threads keep going. In particular, this could allow the node to continue heartbeating its liveness record, preventing other nodes from taking over its leases, while all actions on the ranges it owns are blocked.

We should have some sort of m

[2018-03-12 16:24] benesch commented on #23714
@knz here's the relevant chunk from the log:

[code]

I don't quite understand what's going on, but it seems like `ALTER TABLE helloworld EXPERIMENTAL_AUDIT SET OFF;`. Could you investigate?

[2018-03-12 16:28] leomkkwan commented on #21824
The cluster was destroyed the morning.
The latest status for that cluster
 - Upgraded to v2.0-beta.20180305.
 - The constant CPU load and read/write action was fixed.
 - The Consistnecy Checker Queue was stuck. There was 32K pending action in queue, and 0 action/seconds for last week.
 - The Compaction Queue was stuck. The is pending bytes in queue, but no action.

Because there is a few withdraw

[2018-03-12 16:29] benesch commented on #23677
Yeah, we've let this rule slip over time. The build problems get even worse if you remove `c-deps/libroach/ccl`, because CMakeLists.txt will utterly blow up if you remove source files it expects. So we'd have to split that CMakeLists.txt into two, which would slow down the CCL build (though arguably not that much).

If we care about this property we definitely need CI enforcement.

[2018-03-12 16:30] knz commented on #23714
It looks like there's a lease expiration that blocks the alter. Not surprising given the node was shut down just before that. Will look.

[2018-03-12 16:31] mberhault commented on #21868
The [rename sequence docs](https://www.cockroachlabs.com/docs/v2.0/rename-sequence.html) state:

Warning:
If you rename a sequence that's being used in a table, the change will not propagate to the DEFAULT expressions that reference the sequence.

However, if I have the following:
[code]

Attempting to rename the sequence fails, contrary to what is stated in the docs:

[code]

Which is the desired

[2018-03-12 16:31] andreimatei commented on #23601
When exactly do you suggest to do evictions from the leaseholders cache?

I'm not sure I follow this. If we manage to read from a range, either through the local engine of DistSQL, the correct leaseholder for that should make it to the cache. In the DistSQL case, the gateway gets info for all the mis-planned ranges (planned on a node other than the leaseholder).

[2018-03-12 16:32] mberhault commented on #21868
CC: @vilterp

[2018-03-12 16:34] benesch commented on #23714
👍

If we change the `force_stop_server` to a `stop_server` will that solve the problem? Or is that not how table leases work?

[2018-03-12 16:38] 0xbaadf00d commented on #23718
it is surely something else, the same code works with the version 1.1.5 but not with 2.0-beta.

[2018-03-12 16:46] jordanlewis commented on #20402
Thanks @jviksne. As a reminder, we do have a workaround for this issue: add a cast to `now()` in your default expression, like `now()::date`.

Does that workaround solve your problem?

[2018-03-12 16:47] knz commented on #23714
I think it would make the problem worse

[2018-03-12 16:58] solongordon commented on #23601
Hm, that's not the behavior I'm seeing. The leaseholder cache can remain stale even after successful reads for the range, both with local and distsql execution. I think that's related to the fact that `DistSender` only updates the cache based on `NotLeaseHolderError`s.

[2018-03-12 16:58] #23654 closed

[2018-03-12 17:05] andreimatei commented on #23601
If true that the cache remains stale, that's a bug I think. You're saying that the `DistSender` never updates the cache if the leaseholder it knows about is not responding (and also if we never contact it because the conn is not healthy?)?

[2018-03-12 17:13] dt opened #23737 "release: v2.0-beta.20180319"
Candidate SHA: e0b123c2324586c2bd101e27bab468701f8efa5e.
Deployment status: adriatic, omega. [Nightly test](https://teamcity.cockroachdb.com/viewLog.html?buildId=573649&tab=buildResultsDiv&buildTypeId=Cockroach_Nightlies_NightlySuite). RSG and roachtest failed due to known bugs.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `XXX fill in dat

[2018-03-12 17:23] #23001 closed

[2018-03-12 17:37] tschottdorf opened #23738 "v2.0-beta.20180305: panic during SELECT * FROM _ WHERE ((_ != _) OR (_ I..."
https://sentry.io/cockroach-labs/cockroachdb/issues/489932895/

[code]

[2018-03-12 17:37] jordanlewis commented on #23738
Same stack trace as #23694, may be a different cause though.

[2018-03-12 17:52] knz opened #23739 "server: pg URL printed on server start-up improperly sets application_name"
[code]

Notice how the URL embeds `application_name`. We don't want this! it ruins the stats.

cc @dt.

I'm on it (fixing #23725 and #22376 together with this)

[2018-03-12 17:54] BramGruneir commented on #13537
I got it to happen, but forgot to grab the redux.  Trying again, but here's my proof:

![screen shot 2018-03-12 at 13 33 48](https://user-images.githubusercontent.com/1614265/37300635-d1e5a898-25fc-11e8-9209-99c5d77425c4.png)

[2018-03-12 17:54] dt commented on #23739
What is this leaking? This is a local log file or stdout, right?

[2018-03-12 17:55] knz commented on #23739
Sorry I wasn't clear. The problem is that the string `application_name=cockroach` appears in the reported URL. People will copy-paste that string in their app, and break our PM assumption that mostly our CLI utilities use this specific value.

[2018-03-12 17:58] jordanlewis commented on #23739
Great catch! I'm glad we're fixing this before it spreads. FWIW This isn't really a leak - that implies that we're accidentally printing private information.

[2018-03-12 17:58] knz commented on #23739
yes great catch

[2018-03-12 18:01] andreimatei commented on #23694
looking

[2018-03-12 18:03] dt commented on #23739
We initially had our CLI use the known app name "cockroach" so we could look for that app name's hash in the reported stats, and thus back out usage information about our CLI commands. However at @bdarnell's suggestion, @BramGruneir recently switched the reporting of those stats to salt the app name with a random, per-cluster secret salt, so the original thinking that we could count internal CLI c

[2018-03-12 18:19] knz commented on #23739
Ok but nevertheless for the DBA's convenience it would be good to use different app names.

[2018-03-12 18:23] #23592 closed

[2018-03-12 18:26] mjibson commented on #23685
I agree.

[2018-03-12 18:26] #23685 closed

[2018-03-12 18:29] justinj commented on #23738
doesn't
<img width="328" alt="image" src="https://user-images.githubusercontent.com/409075/37302401-d078ba2c-2601-11e8-9d7c-384ad8fcf65f.png">
the suffix here imply an internal build?

[2018-03-12 18:33] andreimatei commented on #23738
Internal or not, there is a problem in how network errors observed by DistSQL are handled. I'm trying to write a test for it now. Closing in favor of #23694.

[2018-03-12 18:33] #23738 closed

[2018-03-12 18:34] mrtracy commented on #13537
Ah, so it's on the Last 6 hours view.  Does it appear in the 10 minutes view?

[2018-03-12 18:37] couchand commented on #23682
We actually talked about this previously (I can't remember where...) and the decision was made to remove all of those back links everywhere.  Haven't gotten to that yet, I'd forgotten about that conversation until you brought it up.

@josueeee I think it was you that suggested removing the back link?

[2018-03-12 18:38] vilterp commented on #23366
I think we may want to say `usable` instead of `available` here, since elsewhere `available` means the amount of free space, not the amount of usable space.

https://github.com/cockroachdb/cockroach/blob/31e4299ab73a43f539b1ba63ed86be5ee18685f6/pkg/storage/metrics.go#L146-L153

[2018-03-12 18:39] couchand commented on #23596
We've previously discussed this decided to document it and not do anything further.  I'm closing, but if someone feels strongly that we need to do something more, feel free to reopen.

[2018-03-12 18:39] #23596 closed

[2018-03-12 18:40] couchand commented on #23596
@Amruta-Ranade it may be worth incorporating @bdarnell's suggestion into the docs updates as well.

[2018-03-12 18:42] couchand commented on #23662
Yes, we were fighting with this for a while.  Low priority, but if we get a chance to clean up that header (it's kind of hacky in a few ways) it would be nice to figure this out.

[2018-03-12 19:03] BramGruneir commented on #13537
Got It!
https://gist.github.com/BramGruneir/9a89c96b8ecae99b95ff297f020a365a

And here's the ui
![screen shot 2018-03-12 at 15 03 34](https://user-images.githubusercontent.com/1614265/37303971-928166b0-2606-11e8-9bec-9d12084e1b06.png)

[2018-03-12 19:05] mrtracy opened #23747 "ui/storage: Leader statistics may be undercounted if ranges are quiescent"
After the fix to #21109, the estimated total range count from metrics should now be considerably more consistent.

However, this fix does *not* fix the case where statistics which require RaftState are undercounted (for example, the total Leader count).  In a cluster that has both a large number of quiescent ranges (which seems likely) and has nodes which are restarting, the cluster will end up wi

[2018-03-12 19:06] BramGruneir commented on #13537
Happened on the last hour too.  I didn't see you message to check the 10
min one before shutting it down.

On Mon, Mar 12, 2018 at 3:04 PM, Bram Gruneir <notifications@github.com>
wrote:

[2018-03-12 19:11] solongordon commented on #23601
Yes, though I think it's a bit more specific than that. `DistSender` doesn't update the cache if the cached leaseholder is unavailable _and_ the next replica it tries is the new leaseholder.

[2018-03-12 19:11] #23499 closed

[2018-03-12 19:14] Amruta-Ranade commented on #23596
@couchand Created #2706 to track the doc update

[2018-03-12 19:18] tschottdorf opened #23749 "storage: avoid stale read due to observed timestamp after lease change"
Discovered in #21056 (follower reads).

The fundamental problem is that when we pick up a clock read on a node that we visit, we use this as a guarantee that the node has not served any writes at higher timestamps that we could be missing (as in, that happened causally before us). But this guarantee is broken if the node later becomes leaseholder of some range after we first visited the node (wher

[2018-03-12 19:20] nvanbenschoten commented on #23673
Agreed. There should be a check at the top of `adminSplitWithDescriptor` to verify this.

I think even this could result in the infinite looping we saw here if the replica performing the AdminSplit was a follower that had fallen behind and missed an update to its range descriptor. In this case, the initial CPut to update the range's local descriptor could indefinitely hit a `ConditionFailedError`

[2018-03-12 19:24] bdarnell commented on #23673
This should still be finite in practice as a replica that can't keep up should get removed from the range. (although I don't know if we currently act on this specifically in the allocator)

[2018-03-12 19:26] couchand commented on #23679
Yep, that's why it's not been started yet!  Thanks for looking into this.

[2018-03-12 19:28] couchand commented on #23366
Ongoing discussion about this terminology on #23686.

[2018-03-12 20:07] cockroach-teamcity opened #23751 "acceptance: TestGossipRestart fails with "database 'test' already exists""
The following tests appear to have failed:

[#573135](https://teamcity.cockroachdb.com/viewLog.html?buildId=573135):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-12 20:12] arjunravinarayan commented on #23505
What's wrong with running all the logic tests with `verbosity=10` in our nightly CI? That would catch all of these.

[2018-03-12 20:18] cockroach-teamcity opened #23752 "teamcity: failed tests on master: acceptance/TestGossipRestart"
The following tests appear to have failed:

[#573171](https://teamcity.cockroachdb.com/viewLog.html?buildId=573171):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-12 20:20] mrtracy commented on #13537
It's interesting that the SQL Connections graph does not have a dip on it.  I think this indicates that the problem might be with the fact that the other graphs are derivatives; that's my current line of investigation.

[2018-03-12 20:30] bdarnell opened #23754 "build: RockDB assertions not enabled correctly, currently failing"
https://github.com/cockroachdb/cockroach/blob/fc177f2774155eb69b3efe72f3baffb7e2b0a134/Makefile#L417

We attempt to enable rocksdb assertions in race builds, but this line is not working as intended. The `race` pseudo-tag is set inside go, but it doesn't appear in our `TAGS` `make` variable. As a result, we are not currently running with rocksdb assertions enabled.

As an unsurprising consequence

[2018-03-12 21:02] brucemcpherson commented on #18638
I had this issue with a conversion from a mySQL database, The solution  I used was to extract all the foreign key definitions, and apply alter statements after all the data was inserted - in other words 3 stages - create tables/insert values/alter tables. However this means that cockroach cant restore its own dumps.

[2018-03-12 21:17] cockroach-teamcity opened #23758 "teamcity: failed tests on release-2.0: acceptance/TestGossipRestart"
The following tests appear to have failed:

[#573303](https://teamcity.cockroachdb.com/viewLog.html?buildId=573303):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-12 21:18] msau42 commented on #23706
BTW I'm the lead for the feature in Kubernetes, would be happy to help answer questions and always looking for feedback!

[2018-03-12 21:24] jviksne commented on #20402
Great, thanks!

[2018-03-12 21:26] couchand opened #23759 "ui: deprecate node list"
Since the node list now lives on the overview page, we should deprecate the free standing node list page and change all the links to the new location.

We should probably redirect from the old location to the new one.

[2018-03-12 21:27] couchand commented on #23759
Or, since the URL only just changed in #22746, perhaps we just change that redirect and break anyone who happened to save a link on the alphas?

[2018-03-12 21:34] #23694 closed

[2018-03-12 21:49] #7121 closed

[2018-03-12 21:55] benesch commented on #17103
Duplicate of #22283, and fixed by https://github.com/cockroachdb/cockroach/pull/23437.

[2018-03-12 21:55] #17103 closed

[2018-03-12 22:05] bdarnell commented on #23754
Most of the failures exposed by fixing this were because my worker was running an old branch that still had the sstable leak (so these assertions would have caught that leak if they were working). There are just a couple of assertion failures left, all in the `storageccl` package.

[2018-03-12 22:09] cockroach-teamcity opened #23763 "teamcity: failed tests on release-2.0: acceptance/TestGossipRestart"
The following tests appear to have failed:

[#573444](https://teamcity.cockroachdb.com/viewLog.html?buildId=573444):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-12 23:18] RaduBerinde commented on #23582
@nvanbenschoten you mentioned in #22926 that this should have been fixed but this showed up after. I don't see any repros more recent than 5 days ago though..

[2018-03-12 23:58] cockroach-teamcity opened #23765 "teamcity: failed tests on master: acceptance/TestGossipRestart"
The following tests appear to have failed:

[#573514](https://teamcity.cockroachdb.com/viewLog.html?buildId=573514):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 00:00] tschottdorf opened #23766 "v2.0-beta.20180305: NPE in ts/query.go"
https://sentry.io/cockroach-labs/cockroachdb/issues/490486096/

[code]

[2018-03-13 00:36] cockroach-teamcity opened #23767 "teamcity: failed tests on master: testrace/TestParallel, test/TestParallel"
The following tests appear to have failed:

[#573543](https://teamcity.cockroachdb.com/viewLog.html?buildId=573543):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 00:58] benesch commented on #23767
Centralizing on #23582.

[2018-03-13 00:58] #23767 closed

[2018-03-13 00:59] benesch commented on #23582
#23767 just happened today, so it looks like this is still a problem. :(

[2018-03-13 01:01] benesch opened #23770 "Makefile: remove gotestdashi target"
From the code:

https://github.com/cockroachdb/cockroach/blob/fe7d65c01255134d49fa898ac58893e1aa1261b6/Makefile#L746-L750

[2018-03-13 03:00] RaduBerinde commented on #19552
If we leave them checked in, we should add a flag that prevents `make` from rebuilding them (and anything else it builds that's checked in). I very rarely modify any protos but I see them getting built very often.

[2018-03-13 05:28] irshadhasmat opened #23774 "sql: implement array_to_string"
I am building an application with PHP Yii2 Framework which has its ORM module. Yii2 already have a good PostgreSQL support so that wanted to use CockroachDB with Yii2 and unfortunately I am getting below error:

**ERROR:  unknown function: array_to_string()**

Any help would be appreciated.

Query is being run by Yii2 is

[code]

[2018-03-13 09:26] bra-fsn commented on #17154
Any chance that this will be implemented?

[2018-03-13 12:08] #23715 closed

[2018-03-13 13:03] cockroach-teamcity opened #23777 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#573668](https://teamcity.cockroachdb.com/viewLog.html?buildId=573668):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 13:07] cockroach-teamcity opened #23778 "teamcity: failed tests on master: test/TestBuilder, testrace/TestBuilder"
The following tests appear to have failed:

[#573753](https://teamcity.cockroachdb.com/viewLog.html?buildId=573753):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 13:14] cockroach-teamcity opened #23779 "teamcity: failed tests on master: test/TestBuilder, acceptance/TestGossipRestart, testrace/TestBuilder"
The following tests appear to have failed:

[#573764](https://teamcity.cockroachdb.com/viewLog.html?buildId=573764):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 13:30] cockroach-teamcity opened #23780 "teamcity: failed tests on master: test/TestBuilder, testrace/TestBuilder"
The following tests appear to have failed:

[#573785](https://teamcity.cockroachdb.com/viewLog.html?buildId=573785):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 13:39] nvanbenschoten commented on #23779
Duplicate of #23778.

[2018-03-13 13:39] #23779 closed

[2018-03-13 13:39] nvanbenschoten commented on #23780
Duplicate of #23778.

[2018-03-13 13:39] #23780 closed

[2018-03-13 13:46] a-robinson commented on #23706
Thanks @msau42! We'll let you know if anything comes up once we get started.

[2018-03-13 13:50] ikzelf commented on #22937
# Server version: CockroachDB CCL v2.0-beta.20180312 (darwin amd64, built 2018/03/12 17:47:59, go1.10) (same version as client)
# Cluster ID: c4257215-3ccf-43d7-842e-c75cb89eed18
#
# Enter \? for a brief introduction.
#
root@:26257/zabbix> set schema zabbix;
SET

Time: 274.24Âµs

this seems to be working.
Thanks!

[2018-03-13 14:24] #22839 closed

[2018-03-13 14:24] #23752 closed

[2018-03-13 14:24] #23765 closed

[2018-03-13 14:26] tschottdorf commented on #23601
I'll take a quick look what the refactoring of DistSender would look like.

[2018-03-13 14:35] #23714 closed

[2018-03-13 14:38] justinj commented on #17154
It's not currently planned for a release, it's on my to-do list to look into when I get some free time - can't promise anything at the moment though.

Out of curiosity, do you have any details on what you would use this for?

[2018-03-13 14:42] tschottdorf commented on #23601
@solongordon trying to repro this. I had to insert a `select pg_sleep(15);` before relocating the ranges (waiting for replication stuff and gossip to happen, I guess). Then, I see something similar but not quite the same: sometimes it works, and sometimes it hangs seemingly forever? Interestingly, the first time I stood up the cluster it worked every time, even though planning showed node4 involve

[2018-03-13 14:52] cockroach-teamcity opened #23784 "teamcity: failed tests on master: testrace/TestBuilder, test/TestBuilder"
The following tests appear to have failed:

[#573832](https://teamcity.cockroachdb.com/viewLog.html?buildId=573832):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 14:53] solongordon commented on #23601
Interesting. I did see the hanging behavior a few times but it was much rarer than the RPC errors for me. I don't know what's going on in that case.

[2018-03-13 14:55] tschottdorf commented on #23601
Ha, I actually do get that error, but it seems to be throwing a bigger wrench into everything :(

Full gist [here](https://gist.github.com/tschottdorf/f5ded000d2477f900450705f307f14d7).

I ran `set tracing=on; select * from d.t; set tracing=off; show trace for session;` and killed the hanging select from another session via `cancel query 'x'`.

From a cursory glance, it looks like I get the RPC er

[2018-03-13 15:00] justinj commented on #23774
Hey @irshadhasmat, thanks for the heads up - indeed we don't have this function implemented. I'll make a note to include it in a future release.

In the meantime, do you have any way you can modify the way your ORM is executing this query to make it not use this function?

[2018-03-13 15:06] cockroach-teamcity opened #23786 "teamcity: failed tests on master: testrace/TestBuilder, test/TestBuilder"
The following tests appear to have failed:

[#573879](https://teamcity.cockroachdb.com/viewLog.html?buildId=573879):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 15:13] #23110 closed

[2018-03-13 15:16] jordanlewis commented on #21301
This description matches the description of lookup join. Is what we care about here accomplished by lookup join already?

[2018-03-13 15:32] a-robinson commented on #23555
cc @kuanluo @couchand, since disabling the logs pages based on the value of the `server.remote_debugging.mode` setting is a pretty user-visible change. Also, are there any other places in the UI where keys are displayed?

[2018-03-13 15:38] cockroach-teamcity opened #23788 "teamcity: failed tests on master: testrace/TestParallel, test/TestParallel, test/TestBuilder, testrace/TestBuilder"
The following tests appear to have failed:

[#573972](https://teamcity.cockroachdb.com/viewLog.html?buildId=573972):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-13 15:41] solongordon commented on #20448
I was able to reproduce this issue against v1.1.5 and it behaved just as @amq described. On v2.0, the behavior is somewhat better. I don't see the same unbounded accumulation of queries; there are only ever as many running queries as threads, and they're cleaned up immediately when the YCSB client exits.

However, I still see precipitous drops in qps and when running YCSB with a large number of th

[2018-03-13 15:43] jordanlewis commented on #18055
ping @BramGruneir

[2018-03-13 15:45] petermattis commented on #22846
@tschottdorf Putting this back on your plate as I think the `roachprod` support is there. Not necessary for 2.0, but I think we should add this test soon.

[2018-03-13 15:48] a-robinson opened #23789 "config/storage: Allow prohibited constraints in expressive zone configs and lease preferences"
We initially disallowed the prohibited constraint type in per-replica constraints and in leaseholder preferences due to concerns about them getting used improperly in ways that are hard to foresee and protect against.

After getting in a little more experience using them and spending more time thinking about them, I'm more confident that allowing them is the right them to do. It's very late in the

[2018-03-13 15:49] jordanlewis commented on #23609
@RaduBerinde any chance you can get to this this week?

[2018-03-13 15:51] jordanlewis commented on #23195
Pinging myself!

[2018-03-13 15:53] nvanbenschoten commented on #23778
Fixed by #23785.

[2018-03-13 15:53] #23778 closed

[2018-03-13 15:53] nvanbenschoten commented on #23786
Fixed by #23785.

[2018-03-13 15:53] #23786 closed

[2018-03-13 15:55] petermattis commented on #23789
Agreed that it is too late to add this to 2.0. Can you expand on the rationale for wanting prohibited constraints in per-replica constraints? It will save our future selves from reconstructing that reason.

[2018-03-13 16:13] RaduBerinde commented on #23609
I'll try.

I believe the problem has to do with mismatched types (`Unknown` vs `Int`) on the USING columns. That explains why the last example works.

[2018-03-13 16:25] bobvawter commented on #23107
@danhhz Does this test in roachprod already basically take care of this scenario?

https://github.com/cockroachdb/cockroach/blob/master/pkg/cmd/roachtest/version.go

It looks like it installs a `1.1.5` cluster and then drops in the version under test.  Would extracting this into a multi-version loop take care of what you want to do?

[2018-03-13 16:26] bdarnell commented on #23777
#22933

[2018-03-13 16:26] #23777 closed

[2018-03-13 16:29] kuanluo commented on #23555
Thanks @a-robinson! I will let @couchand answer the key question more accurately - I didn't think we display any of them in the UI.

cc: @josueeee

[2018-03-13 16:29] bra-fsn commented on #17154
Sure. Currently I have two use cases:
1. tagging messages with labels (like important, later etc) and searching for messages which have a label or labels. Labels here are mostly strings or enums (a limited set which can grow in time).
2. tagging objects with location IDs. There can be a limited (but variable in the range of 1 to tens) number of locations for each object. Some have only one, some m

[2018-03-13 16:30] #23766 closed

[2018-03-13 16:31] #23754 closed

[2018-03-13 16:32] jordanlewis commented on #23505
Nothing! I think we should do that for sure. #23503.

[2018-03-13 17:02] jordanlewis commented on #21852
cc @mjibson

[2018-03-13 17:04] benesch opened #23791 "sql: stabilize configuring zones through SQL"
Our current syntax for configuring zone configs through SQL is clunky and very much intended to be temporary:

[code]

I propose stabilizing a very similar command with a thin layer of syntax sugar:

[code]

This reuses the `WITH ...` options syntax that we use in `BACKUP` and `RESTORE`, and feels very similar to cluster settings. The only sticking point is handling constraints. The simple approac

[2018-03-13 17:05] solongordon commented on #23601
Ah, makes sense. I had been waiting for the upreplication to happen before killing the node. I edited my repro steps to assign replicas so they should be copy/pasteable now.

[2018-03-13 17:06] tschottdorf commented on #23601
I've [updated](https://gist.github.com/tschottdorf/d26502cb3211e524d52eaa29a66f968c) @solongordon's script to avoid the underreplicated ranges and can reproduce some of this behavior now.

[2018-03-13 17:25] #23673 closed

[2018-03-13 17:31] tbg opened #23793 "ui: distsqlplan grapher produces overlaid vertices"
https://cockroachdb.github.io/distsqlplan/decode.html?eJzEkU9LxDAQxe9-jHeO0HQ95eR1L6ss3iSH2AxLoZsJkxSUpd9dmhzWliqKoMf5895v8nJBYE8Hd6YE8wwNhRYKO1iFKNxRSizzqC7u_StMo9CHOOa5bRU6FoK5IPd5IBg8uZeBjuQ8CRQ8ZdcPxTxKf3bydp9hJwUe89UjZXciGD2pTzhX-zGweBLyC3M7bVxy4FuOq7VtcLsA6z96YPsPQW5wjpQih0TfSqqZgyZ_ovoriUfp6FG4K5haPhRdaXhKuU51LfahjMqBH8X6S_HdQtysxe1vyLsfie108x4AAP__mzwRkQ==

<img width="376" alt="image" src

[2018-03-13 17:31] a-robinson commented on #23789
There's no single compelling reason. But a few thoughts:

* They're useful for leaseholder preferences if you want the lease to be in one of a couple different places without a preference between those places. For example, if you have a replica in localities `zone=a`, `zone=b`, and `zone=c`, and want the lease in zone a or b but want to let the system choose between them, you'd want a constraint o

[2018-03-13 17:32] ysz commented on #23286
@tschottdorf I started putting it into a roachtest `pkg/cmd/roachtest/23254.go` I am now trying to run it like this
[code]
How can I tell roachprod to start cluster locally?

[2018-03-13 17:34] yakovzaytsev commented on #23286
@tschottdorf I started putting it into a roachtest `pkg/cmd/roachtest/23254.go` I am now trying to run it like this
[code]
How can I tell roachprod to start cluster locally?

[2018-03-13 17:35] tschottdorf commented on #23286
@yakovzaytsev try

[code]

[2018-03-13 17:55] a-robinson commented on #23791
LGTM

I'm not a big fan of introducing custom syntax in addition to the JSON/YAML.

This is pretty interesting, assuming that providing the existing syntax would still work. I don't have a good gauge for how much clearer it really is than the JSON, but I've already spent time familiarizing myself with that so I'm pretty biased. If you think this is clearer, I'm ok with it.

[2018-03-13 17:59] petermattis commented on #23791
I have an aversion to this syntax. Either of the other proposals for specifying constraints looks fine. For simplicity and consistency with the command line syntax, we could start with `constraints = '{"+a=1,+b=2": 2}'`.

[2018-03-13 18:07] #23585 closed

[2018-03-13 18:12] jordanlewis opened #23796 "storage: panic in bestRebalanceTarget"
My cluster crashed during a partitioning of TPCC-10k. Assigning to @a-robinson based on `git blame` info.

Build tag: `v2.0-beta.20180305-231-gc422be5`

[code]

[2018-03-13 18:22] a-robinson commented on #23796
Thanks @jordanlewis! This should be enough to fix it, but for the sake of building a good test case was there any other relevant info in the log? I assume it was a null pointer exception?

[2018-03-13 18:24] jordanlewis commented on #23796
Yeah, it was an NPE - sorry for not including that. The log has a lot of remote declined snapshots. I didn't think that was related, but just in case I'll paste a bunch of context.

[code]

[2018-03-13 18:28] couchand commented on #23555
The logs pages are the only place that's documented/linked from somewhere.  If/when we choose to do #20690 the other debug pages will need to see more scrutiny.

The seems like one more reason that we should implement #6307/#18206 as soon as possible, but it's unlikely that will be backported to 2.0 or 1.x, so we should probably figure out something that we feel comfortable adding to each of those

[2018-03-13 18:33] bdarnell commented on #23555
The ones I think we need to block are
- range status
- raft for all ranges
- everything under the "tracing endpoints" section (I think all the pprof stuff is already covered; if it's not it might be OK to leave it open)
- logs
- single-node specific: gossip, ranges, stacks
- sessions: local and all
- cluster-wide: all of these

[2018-03-13 18:40] BramGruneir commented on #23552
I'm seeing this on our master recently as well.  Without killing any nodes.
Looking into it.

[2018-03-13 18:41] petermattis commented on #18955
@tschottdorf Given the mixed-version roachtest, and the periodic manual upgrade testing, is there anything else you think should be done here?

[2018-03-13 18:43] couchand commented on #18961
@mberhault have you had a chance to look into this?  @dt is this still an issue?

[2018-03-13 18:46] tschottdorf commented on #23601
For DistSQL, I discussed this with @andreimatei and @bdarnell and the outcome was that for now we should just use node liveness in the [health check](https://github.com/cockroachdb/cockroach/blob/ae356492d7bb5de396048a84dfab1e3dcb811abf/pkg/sql/distsql_physical_planner.go#L515) to avoid having down nodes planned on at least after ~a lease duration. I'll send a PR.

After that, DistSQL should be in

[2018-03-13 18:53] jordanlewis opened #23798 "sql: panic in pg_catalog.final_variance"
Found by sqlsmith.

[code]

Stack trace:

[code]

[2018-03-13 18:56] couchand commented on #23555
@bdarnell thanks for that list.  Of the examples you listed, only logs, range status, and raft need addressing for security purposes, since the others are "raw" debug pages that are already covered.  But the others are important as far as the usability point raised below.

It looks like there are two sides to this issue:

* For the purposes of security, we need to make sure the endpoints used on e

[2018-03-13 18:59] couchand commented on #23555
Oh, one more point about usability.  We don't currently seem to document the setting `server.remote_debugging.mode`.  If this is going to affect the availability of a user-facing feature (the node logs), we should probably update documentation to point that out.

cc @Amruta-Ranade

[2018-03-13 19:31] benesch commented on #18961
Yeah, it's still an issue. :(

On Tue, Mar 13, 2018 at 2:43 PM, Andrew Couch <notifications@github.com>
wrote:

[2018-03-13 19:41] dianasaur323 opened #23802 "ui: make top navigation bar styling match on node list and node map"
See below:

![image](https://user-images.githubusercontent.com/5768024/37365799-f3ce8550-26d4-11e8-964a-bf85c277aa57.png)

![image](https://user-images.githubusercontent.com/5768024/37365812-f9d6fc7a-26d4-11e8-986b-d176345d4fe8.png)

[2018-03-13 19:51] mjibson opened #23805 "roachtest: dial tcp i/o timeout"
While running the nightly roachtest on a 2.0 branch, got some failures looking like:

[code]

The associated log file has:

[code]

The `dial tcp 35.226.204.72:22: i/o timeout` seem to be the problem.

[2018-03-13 19:54] petermattis commented on #19141
Has there been any thought on how this would be implemented? Changing the primary key is difficult because it is stored in indexes. One thought is that we make a copy of all of the secondary indexes and backfill both them and the new primary index and afterwards delete the old secondary indexes and primary index. Seems like that would conceptually work, though it would be slow.

@mjibson, @danhhz,

[2018-03-13 20:08] #23796 closed

[2018-03-13 20:08] dt commented on #18961
huh, i'm not sure what I changed (maybe high sierra?) but I don't get it anymore. it _does_ ask about remembering exceptions in keychain now, so maybe it's a pref i changed.

[2018-03-13 20:12] jordanlewis commented on #19141
It depends on whether there's a requirement for this to happen online.

If it needs to be online, which is what @benesch's first suggestion implies (`ALTER TABLE ALTER PRIMARY KEY`), then I agree with your suggestion. The phases in that case would be the same as adding an index, more or less:

1. The new indexes and table descriptor would be created
1. The old table descriptor would be updated so

[2018-03-13 20:16] jordanlewis opened #23808 "sql: panic in lastval"
Found by `sqlsmith`.

[code]

[code]

[2018-03-13 20:28] petermattis commented on #23805
@benesch Any ideas what is going on here? Seems like a problem with the GCE VMs. Are those ssh messages harmless?

[2018-03-13 20:28] vilterp commented on #23808
Fairly swamped with UI work so assigning back to you @jordanlewis. Guessing from the topmost line in the traceback, looks like something in the session state (or the session state itself) is nil: https://github.com/cockroachdb/cockroach/blob/d157212a3a5113b63000c16a258af6b04033c76b/pkg/sql/sessiondata/sequence_state.go#L63

@andreimatei refactored this after me and may have more thoughts if it's n

[2018-03-13 20:31] solongordon commented on #20448
The drop in qps definitely looks related to update contention, specifically for `user8425665148555282324`, the most common user in the distribution. I see some updates for that row taking upwards of a minute, which seems unreasonably high for the amount of load. I took a [session trace](https://gist.github.com/solongordon/aa3d7029997a614156b07372531d7d6c) of one such update.

Reading and writing f

[2018-03-13 20:33] benesch commented on #23805
Yeah, those SSH messages are harmless. ~/.ssh/known_hosts is just missing in the builder. I was hoping you might have some insight. Confused about why `waiting for nodes to start` succeeded, but the roachprod put timed out.

[2018-03-13 20:34] petermattis commented on #20448
@nvanbenschoten or @tschottdorf Can you take a look at that trace? The query seems to be repeatedly running into conflicting intents on the key `/Table/53/1/"user8425665148555282324"/0`.

[2018-03-13 20:35] rbygrave commented on #23718
Note that the code (migration runner) in question is using a single JDBC Connection, creating the table and then selecting from that table. I suspect it is actually the select that is hanging and not the create table ... will look to confirm that later today.

[2018-03-13 20:36] petermattis commented on #23805
I have no insight about the `i/o timeout` errors.

[2018-03-13 20:52] tschottdorf commented on #23601
@solongordon repro'ed this badness for more than two minutes and while it didn't initially work for me, I am now looking at one run like that too. So something amiss in my explanation above. Will take a look.

[2018-03-13 21:00] vilterp commented on #23719
Thanks for finding this @mberhault. Fix coming soon.

[2018-03-13 21:20] benesch commented on #19141
I'd be sad if changing a table's primary key took the table offline. That said, it would still a big improvement over our current "just dump it to CSV and reimport it!" recommendation.

[2018-03-13 21:25] #23505 closed

[2018-03-13 22:06] jordanlewis commented on #23808
Simpler repro:

[code]

[2018-03-13 22:07] rbygrave commented on #23718
Yes, the hang is on the select query that follows the create table.
- Using JDBC Connection with autoCommit = false
- `create table db_migration ...`
- `select ... from db_migration ...`   ... this hangs here UNLESS there is a commit after the `create table db_migration ...`

Now in general (well, other databases) we ideally do not want to run DB Migration scripts with autoCommit = true ... and th

[2018-03-13 22:32] petermattis commented on #19141
I've been assuming that any schema change needs to be asynchronous. Let's not lower this bar yet.

[2018-03-13 22:46] tschottdorf commented on #23543
@petermattis what's the appropriate (i.e. smallest) setting in which you think I could repro this?

[2018-03-13 22:52] petermattis commented on #23543
@tschottdorf I don't know. I'm going to set up a 3-node cluster for tpcc-1k tonight. I'll point you at it if it repros there. I don't recall seeing this problem at tpcc-2k or tpcc-5k, but I also wasn't paying attention.

[2018-03-13 23:33] vilterp commented on #23808
Added this repro as a logic test in the PR above (#23815). A couple things to note:

- It only fails in the distsql configuration. Maybe the `SequenceState` gets initialized differently in the distsql context? I'm not very familiar with how this works.
- It only fails if there is a `FROM` clause in the SELECT with `lastval`; i.e. `SELECT lastval()` by itself is fine.
- Aside: The `FROM` clause is

[2018-03-13 23:37] vivekmenezes commented on #23718
There are a few restrictions to running DDL statements within transactions, for instance you cannot DROP and CREATE the same table in the same transactions. But the transactions you point out should work. In particular they seem to be working with the 1.1.5 release as you mention.

I've tried to reproduce the problem with no luck.

Can you send me the exact sequence of statements within the transa

[2018-03-13 23:40] nvanbenschoten commented on #23543
I set up a TPCC-1 3-node cluster and ran the following on all nodes before applying load:

[code]

After doing so, I turned on the loadgen. I saw only one not leaseholder error spike, which amounted to about 8 errors. After this point, I did not see a single error.

One thing I'm curious about is how many nodes were in the cluster that saw this initial spike. @a-robinson, would you expect rebalanc

[2018-03-13 23:40] vivekmenezes commented on #23718
I've added some examples in the attached PR that work fine on our master branch

[2018-03-13 23:45] andreimatei commented on #23808
What's surely going on here is that the `SequenceState` is not correctly initialized on anything but the gateway node. When it gets run through DistSQL on a different node, it crashes. The difference between `SELECT lastval()` and `SELECT lastval() FROM a` is that only the former runs on other nodes.

I'll take a look.

[2018-03-13 23:49] a-robinson opened #23817 "ui/ts: SQL qps graph contains dips even though client thinks qps was steady"
When testing out a cluster on Kubernetes with `kv` running against it (`kv --splits=16 --read-percent=95 --concurrency=60 --max-rate=200 --tolerate-errors` against a load-balanced endpoint, to be precise), the SQL qps graph in the UI would sometimes show a dip when I gracefully killed a node. However, the `kv` process itself, which outputs qps stats every second, did not observe any dip from the c

[2018-03-13 23:50] a-robinson commented on #23817
This is when running on a616328a17ad6cfc576c958edeb4ec45c7d10085, in case that matters.

[2018-03-14 00:04] RaduBerinde commented on #23609
Easy fix, I'll have a PR tomorrow.

It is actually the same underlying cause - we type `column1` as null which makes `column1+1` be treated as a NULL constant

[2018-03-14 00:19] nvanbenschoten opened #23818 "sql: introduce PUBLIC pseudo-role for virtual schema privileges"
Virtual schemas (`information_schema`, `pg_catalog`, etc.) are a little funky when it comes to privileges. All users have permission to query them, but they do not actually [store](https://github.com/cockroachdb/cockroach/blob/523c056ba5ef398ce4e54467ae1c7db408b4dc7e/pkg/sql/virtual_schema.go#L199) any privileges on their descriptor. This leads to [strange cases](https://github.com/nvanbenschoten/

[2018-03-14 00:26] vilterp commented on #23808
That sounds right; thanks Andrei! Can we just force anything that reads or writes to `SessionState` (i.e. lastval, nextval, and currval) to run on the gateway node? Doesn't seem to make sense to propagate that data out to other nodes with distsql.

[2018-03-14 00:37] mberhault commented on #23818
This is definitely the right approach and should be straightforward enough. We'll have to be careful with any existing user named `public`, and see if any real tables need their descriptors migrated (if it's all virtual tables, I think we're in the clear, otherwise we'll need migrations).

The privilege check itself should be straightforward enough, just inject `public` as a role the user is a mem

[2018-03-14 00:51] nvanbenschoten commented on #20448
One thing to point out is that the load generator is using the postgres jdbc driver without a [transaction retry loop](https://www.cockroachlabs.com/docs/stable/build-a-java-app-with-cockroachdb.html#transaction-with-retry-logic), so any retriable errors that are pushed to the client are presumably resulting in the transaction being thrown away (maybe not even rolled back/cleaned up). This would e

[2018-03-14 00:51] #20784 closed

[2018-03-14 00:51] #22734 closed

[2018-03-14 02:18] bdarnell commented on #20448
We're *supposed* to clean up whenever a SQL transaction fails unless it contains a SAVEPOINT statement.

Also, the trace Solon posted showed one long request, so it's not just a cycle of unfair restarts caused by the lack of a within-transaction retry loop.

[2018-03-14 02:49] nstewart commented on #21786
2c on prioritization (I see it's under the `later` bucket): I was just doing normal testing for a demo and ran into this pretty quickly! Good to know it's already being tracked  cc @awoods187

[2018-03-14 02:55] jordanlewis commented on #21786
@nstewart what did you run into exactly? These queries should be supported, just slow.

[2018-03-14 02:59] nstewart commented on #21786
This works fine:
[code]

This fails:
[code]

[2018-03-14 03:02] jordanlewis commented on #21786
Okay, I didn't realize. This should really get done by 2.0 if possible - at the very least the error message needs to be improved so that it's obvious what's going wrong and how to fix it.

[2018-03-14 03:16] a-robinson commented on #22468
After setting `-max-rate` down lower to rule out blips due to reduced capacity when a node goes down in an attempt to isolate draining-specific issues, I haven't been able to reproduce meaningful blips with the default `server.shutdown.drain_wait` setting of 0 seconds. I have, however, been able to reproduce the occasional problem when running with `server.shutdown.drain_wait` set to 15 seconds. T

[2018-03-14 04:36] jordanlewis opened #23819 "sql: inverted index queries with contains on non-toplevel empty arrays/objects are incorrect"
JSON evaluation produces the following:
[code]

But the equivalent inverted index query produces a different result:
[code]

The problem is that the fix added in de9cb8eb0dcff898f184a4a238fe7e9d2047fed6 to ensure that queries of the form `SELECT * from t WHERE j @> '{}'` create full table scans was insufficient. Empty objects and arrays can exist anywhere in an object tree, not just at the top lev

[2018-03-14 05:31] ulm0 commented on #16053
Since `cockroach` runs as `PID 1` I recently built a CockroachDB image `FROM scratch`, all you need is the ca-certs file.

The binary file might be reduced by using upx within the alpine stage (e.g. `upx --best cockroach`)

[code]

[2018-03-14 11:36] nstewart opened #23821 "json_serializer is not required for JSONB in SqlAlchemy, but json_deserializer is"
Not familiar enough with SqlAlchemy to know if this is a bug, documentation issue, or enhancement. This took quite some time to figure out.

I created a simple object for the class for a `vehicles` table
[code]

Adding a vehicle with a JSON document works fine:
`session.add(Vehicle(type=vehicle_type, city=random.choice(args.city), owner_id=str(uuid.uuid4()),
                        status=get_vehi

[2018-03-14 12:21] petermattis commented on #23543
I saw this on a 24-node cluster. Testing tpcc-2k last night on an 8-node cluster also showed a spike, but it went away quickly.

Agreed.

[2018-03-14 12:22] petermattis commented on #23543
Moving to 2.1 as I don't think there is anything to do here for 2.0.

[2018-03-14 12:49] cockroach-teamcity opened #23822 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#574804](https://teamcity.cockroachdb.com/viewLog.html?buildId=574804):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-14 12:56] knz opened #23823 "sql: DELETE and INSERT are ordered by their operand, the RETURNING order is known"
Currently the sort optimizations assume that DELETE, UPSERT and INSERT (not with ON CONFLICT DO UPDATE) are not ordered. This is incorrect -- the data source determines the order.

(In contrast, UPDATE and INSERT ON CONFLICT DO UPDATE can modify the ordering columns)

This can be further optimized by propagating the order of the source to the order of delete/insert.
This requires a dumbed down ver

[2018-03-14 13:38] vivekmenezes commented on #23719
if you're not working on a fix for this feel free to punt to 2.1

[2018-03-14 13:39] petermattis opened #23826 "build: bin/% binaries not being rebuilt upon source change"
[code]

My make-fu has really rusted. I've tried marking `bin/workload` as `.PHONY`, without success.

[2018-03-14 13:39] vivekmenezes commented on #21881
should this be assigned to someone with more bandwidth

[2018-03-14 13:42] vivekmenezes commented on #23513
@mrtracy are you going to be able to get to this issue for 2.0

[2018-03-14 13:54] tschottdorf commented on #20967
This is almost just a rare test flake, so punting to 2.1.

[2018-03-14 13:55] tschottdorf commented on #15609
I think this is mostly done, @m-schneider to confirm and close.

[2018-03-14 13:55] bdarnell commented on #16053
Note that including a `zoneinfo` database in the container (or mounting it from the host in `/usr/share/zoneinfo`) and keeping it up to date is recommended. This is used for any timezone computations performed in SQL. The cockroach binary embeds a snapshot of the zoneinfo database but it is better to keep it up to date with the rest of your system (this is an issue for our official docker containe

[2018-03-14 13:58] bdarnell opened #23828 "cli/config: Warn if zoneinfo not available or up to date"
CockroachDB will use the system zoneinfo database if available for timezone computations (otherwise, the go standard library embeds a snapshot). Since the zoneinfo database is updated several times a year, it is better to get this data from the system (assuming the system keeps it up to date) than to rely on the internal snapshot. We should document this fact and encourage the use of system zonein

[2018-03-14 14:05] RaduBerinde commented on #21786
@jordanlewis what is expected for 2.0 in this issue? Normalizing `b @> '{"a":1, "b":2}` into `b @> '{"a":1} AND b @> '{"b":2}`? (I thought we already did that?)

[2018-03-14 14:07] justinj commented on #23821
@nstewart can you try running this against Postgres and see if you have the same problem? I also don't think the CockroachDB python package is for applications - I think we use it for testing.

[2018-03-14 14:07] tschottdorf commented on #23601
Ah -- we look up the *node* descriptor, not the *store* descriptor. The node descriptor has a 1h TTL. So `s/2 minutes/1 hour/g` in my text above.

[2018-03-14 14:23] tschottdorf opened #23829 "rpc: evaluate what to do with ConnHealth"
https://github.com/cockroachdb/cockroach/pull/22658 "broke" ConnHealth since we don't keep broken connections in the connection pool. The method now has a comment:

// connections out of the connection pool as soon as they run into an
// error, at which point its ConnHealth will reset to ErrNotConnected.
// ConnHealth does no more return a sane notion of "recent connection
// health". When it retu

[2018-03-14 14:24] dianasaur323 opened #23830 "cli: capture heap profiles in debug zip"
We need to enhance our debug zip tool so that it is more useful to CRDB developers for debugging.

For this next release (2.1), the only thing we need to do is add heap profiles in. We are explicitly punting additional functionality, or the ability to run debug zip on a down cluster, until we have a better idea of what actionable steps can be taken to improve that workflow.

cc @petermattis and @v

[2018-03-14 14:24] nvanbenschoten commented on #20448
Yeah, it looks like you're right. The repeated `[Open pos:20]` logs indicate that we're in an open transaction that keeps getting retryable errors and [auto-retrying](https://github.com/cockroachdb/cockroach/blob/efb61119ca7a56d0aaab1552b81b0f147c8082bc/pkg/sql/conn_fsm.go#L264) without returning to the client.

The `PushTxn` requests are interesting in that trace. They each spend a long time (~20

[2018-03-14 14:29] awoods187 commented on #23818
got it--and is this different than moving privileges to the system table that we discussed before?

[2018-03-14 14:30] justinj commented on #23821
@nstewart or if you want to post your source somewhere I can do it.

[2018-03-14 14:32] a-robinson commented on #23543
No, I wouldn't expect it to be any less stable. I wish I had written something down about it, but I half-remember looking at @petermattis's roachprod cluster after he complained about this on slack and not seeing any rebalancing activity.

Agreed given where we are in the release cycle, but we should be more actively updating the leaseholder cache when a replica successfully serves a request, as a

[2018-03-14 14:32] a-robinson commented on #23543
No, I wouldn't expect it to be any less stable. I wish I had written something down about it, but I half-remember looking at @petermattis's roachprod cluster after he complained about this on slack and not seeing any rebalancing activity.

Agreed given where we are in the release cycle, but we should be more actively updating the leaseholder cache when a replica successfully serves a request, as a

[2018-03-14 14:32] mberhault commented on #23818
Very, this is only about adding a semi-fake role (semi-fake in the sense that all users are assumed to be members of it without explicit memberships). This is needed for making something (eg: the information tables) accessible to all users without some weird hacks.

[2018-03-14 14:35] awoods187 commented on #23818
Got it--can we do both in 2.1? (right now system tables are in)

[2018-03-14 14:37] mberhault commented on #23818
Who's on point for system tables? (and don't look at me)

[2018-03-14 14:39] bobvawter opened #23831 "import: Increase leniency for saturated import coordinator"
When the node that is coordinating an import job becomes saturated and its node-liveness reporting is temporarily interrupted, the entire import job will be restarted by another node which steals the import job.  The goal with this change is to be able to allow long-running tasks to be lenient of temporary losses of liveness in their coordinator.

[2018-03-14 14:42] bobvawter opened #23832 "import: Checkpoint sstable ingestion"
For any given import job, each node that is ingesting sorted data and writing sstables should be able to checkpoint that it has received all information necessary for a given range and successfully imported the resulting sstables.  This will allow import jobs which are restarted to discard individual rows destined for an already-complete range / node.

[2018-03-14 14:49] dianasaur323 commented on #19141
We talked about this yesterday briefly, but just one data point from a customer who wanted to change column types generally (not just primary keys) -> okay with this locking up a table while the change is going on. I don't fully understand the term backfilling, but are we also using this term to describe the faster process we've been talking about re doing something with sstables (vague because I

[2018-03-14 14:53] ulm0 commented on #16053
@bdarnell roger that, thanks for the tip!

[2018-03-14 14:54] nstewart commented on #23821
Sent you the source in a DM

[2018-03-14 14:56] petermattis commented on #19141
I'm not sure I believe this. Well, I believe the customer has stated that locking the table is ok, but we've also heard many times that async schema changes massively reduce operational burden.

[2018-03-14 14:58] dianasaur323 commented on #19141
I think you're right - it's definitely 100x better to have async schema changes. That being said, if one takes way way longer than the other, perhaps it changes our decision? Either way, this is obviously an engineering decision, but just wanted to provide that single relevant data point here.

[2018-03-14 15:01] knz opened #23833 "sql: view creation improperly initializes the CTE context"
This works:

[code]

This doesn't:

[code]

cc @jordanlewis

[2018-03-14 15:24] bdarnell commented on #23821
The CockroachDB python package is definitely intended for applications.

[2018-03-14 15:27] #15609 closed

[2018-03-14 15:37] #23609 closed

[2018-03-14 15:37] jordanlewis commented on #23833
Great catch - thanks for noticing.

[2018-03-14 15:40] dianasaur323 commented on #18638
@mjibson this seems like an annoying usability nit. How long do you think it would take to fix it? I'm assuming this does not qualify as a project big enough to put onto the roadmap explicitly?

[2018-03-14 15:40] #23826 closed

[2018-03-14 15:47] a-robinson commented on #23555
I should have a PR out for this later today. I have the plumbing of source addresses through the grpc-gateway figured out and working for a couple endpoints, I just need to handle the rest of them. I don't really like the lack of fail-safes to keep us from forgetting this on new endpoints, but we could potentially add some sort of test that crawls all the debug pages looking for key-shaped strings

[2018-03-14 15:54] solongordon commented on #20448
I see a bunch of these in the leaseholder's log:
`I180314 15:52:13.530474 1409986 storage/batcheval/cmd_push_txn.go:216  [n3,s3,r33/3:/Table/58{-/1/"user…}] failed to push "sql txn" id=a569c6e3 key=/Table/58/1/"user1573987489603120213"/0 rw=true pri=0.09463374 iso=SERIALIZABLE stat=PENDING epo=1 ts=1521042732.342015627,1 orig=1521042718.978763840,1 max=1521042679.785790236,0 wto=false rop=false se

[2018-03-14 16:16] justinj commented on #23821
My bad, I realized after investigating.

This needs to be fixed on the end of our Python adapter - we need to set `_has_native_json{,b}` on the CockroachDBDialect, but I'm not sure if there's a correct way to do that via deferring to the superclass or if we should just set it, so it's a slightly larger investigation. Since the deadline is looming for 2.0 fixes into Cockroach itself I'm going to po

[2018-03-14 16:21] jseldess commented on #23821
@justinj, do you think this warrants a callout in the sqlalchemy tutorial? If so, would you mind drafting something for me?

[2018-03-14 16:22] justinj commented on #23821
It won't warrant a callout once it's fixed, which I'll do at some point after we've completely closed the release-2.0 branch.

[2018-03-14 16:32] bdarnell commented on #23822
#22933

[2018-03-14 16:32] #23822 closed

[2018-03-14 16:50] a-robinson opened #23842 "server: sessions endpoints return UUID error"
Repro instructions:

1. Start a local 1-node cluster (mine is secure, fwiw)
2. Open a SQL shell as root and start a long-running query (e.g. `SELECT pg_sleep(60);`)
3. Try to load all queries being run by the user root by opening up https://localhost:8080/_status/local_sessions?username=root or https://localhost:8080/_status/sessions?username=root

Both endpoints return the error:
[code]

If I loa

[2018-03-14 17:10] couchand commented on #23555
@a-robinson Thanks for taking this on.  If you knock out the server side of this, I'll add the updates for the admin UI to not break because of it.

You're right that `debug zip` falls under the gRPC security model rather than that of HTTP, so it's not affected by this issue.

I agree that it's worrisome how easy it is to mess this up.  We need better visibility into what endpoints are available a

[2018-03-14 17:19] #23676 closed

[2018-03-14 17:20] bdarnell commented on #23829
What's wrong with returning ErrNotConnected for nodes without a live connection? This still functions as a (pessimistic) indicator of node health. ConnHealth won't recover until something tries to connect to the node in spite of its health status, but as long as this method is just used for prioritization it should still be fine.

[2018-03-14 17:50] nvanbenschoten commented on #18847
Was this fully addressed by #21437, or is there more to this issue?

[2018-03-14 17:52] a-robinson commented on #21881
cc @benesch, who I believe already did (at least some) QA on this.

[2018-03-14 18:01] mwistrom commented on #18847
It was fully addressed by my PR.

18847 can be closed.

From: Nathan VanBenschoten [mailto:notifications@github.com]
Sent: Wednesday, March 14, 2018 10:51 AM
To: cockroachdb/cockroach <cockroach@noreply.github.com>
Cc: Mark Wistrom <mwistrom@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [cockroachdb/cockroach] sql: Support INET column type operators (#18847)

Was this fully address

[2018-03-14 18:02] nstewart opened #23847 "ui: don't show distsql reads as a separate series on sql dashboard"
![image](https://user-images.githubusercontent.com/894257/37421487-d0015e98-278f-11e8-8eb3-8bd3c3c1daa9.png)

The above component should have a simple description: show the user the number of creates, reads, updates, and deletes over time.

However, today we also show the distsql reads as well. This seems like too much of an implementation detail to bubble up to the top level event graph. From an

[2018-03-14 18:02] #18847 closed

[2018-03-14 18:02] nvanbenschoten commented on #18847
Thanks @mwistrom!

[2018-03-14 18:04] mwistrom commented on #18847
It was fun!!

From: Nathan VanBenschoten [mailto:notifications@github.com]
Sent: Wednesday, March 14, 2018 11:03 AM
To: cockroachdb/cockroach <cockroach@noreply.github.com>
Cc: Mark Wistrom <mwistrom@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [cockroachdb/cockroach] sql: Support INET column type operators (#18847)

Thanks @mwistrom <https://github.com/mwistrom> !

—
You are rece

[2018-03-14 18:05] mrtracy commented on #23513
@vivekmenezes yes, PR should be going out today.

[2018-03-14 18:13] nstewart opened #23849 "ui: map view should be resilient to nodes without localities"
Right now if I have a large cluster and add even a single node with a new locality, I lose the ability to visualize the global entire cluster. We should come up with a better way to handle the case when clusters are expanding geographically over time.

![image](https://user-images.githubusercontent.com/894257/37422572-cd0f6840-2791-11e8-95af-d2b83d16df15.png)

From @vilterp right now the logic is

[2018-03-14 18:13] nvanbenschoten opened #23850 "sql: INET columns are not formatted during pretty-printing"
The following is the result of an `EXPLAIN` statement. It demonstrates that INET values are not properly formatted when pretty printing.

[code]

[2018-03-14 18:15] nvanbenschoten commented on #21876
I started off by making a simple schema that included a user id as a UUID and an INET address:

[code]

I then created a program to populate this table. I wanted to use a driver that supported the
INET type properly. I first looked at https://github.com/sfackler/rust-postgres, but INET is
not supported by that driver because of https://github.com/sfackler/rust-postgres/issues/161.
I then looked at

[2018-03-14 18:15] #21876 closed

[2018-03-14 18:23] nvanbenschoten commented on #20448
@solongordon were there any logs from https://github.com/cockroachdb/cockroach/blob/efb61119ca7a56d0aaab1552b81b0f147c8082bc/pkg/storage/batcheval/cmd_push_txn.go#L208 You could try greping for `"pushee last active"`.

[2018-03-14 18:30] solongordon commented on #20448
Yes, should have mentioned, many of these as well (one per second or so):
`I180314 15:52:14.387612 1410237 storage/batcheval/cmd_push_txn.go:208  [n3,s3,r33/3:/Table/58{-/1/"user…}] 0983c622 pushed fafe4c62: pushee is expired (pushee last active: 1521042732.342015627,1)`

[2018-03-14 19:00] vilterp commented on #21868
I think the current behavior (you get an error telling you it can't be renamed) is good. I think it's better to get that error than to have it successfully rename, and then have inserts into the sequence-using table fail because they can't find the sequence.

So, I think the docs should be updated to show that you'll get this error, and that to rename the sequence you'll need to (1) drop the DEFAU

[2018-03-14 19:02] mjibson commented on #18638
RESTORE has an option that allows this. IMPORT should be able to get the same. If that's the case then you're correct, this is small and doesn't need to be on the roadmap.

[2018-03-14 19:24] #22942 closed

[2018-03-14 19:25] #23830 closed

[2018-03-14 19:26] petermattis commented on #2939
@mberhault Should we close this issue, or move to `Later`?

[2018-03-14 19:28] mberhault commented on #2939
Given the disadvantages of moving privileges out of the descriptors, I propose we close this entirely, I can't see a good case being made for this anytime soon.

[2018-03-14 19:36] vilterp commented on #23719
Focused on clusterviz right now; punting.

[2018-03-14 19:39] vilterp commented on #20653
@Amruta-Ranade if you've sufficiently documented this limitation, maybe we should close this out or move it to 2.1, since we don't have a plan to address this before 2.0.

[2018-03-14 19:41] vilterp commented on #23849
Mostly a design question, so cc @josueeee.

In my mind, it's another argument for splitting the screen between map and table, so you can at least see your nodes in a table if they're not on the map.

[2018-03-14 19:44] bobvawter commented on #22973
Multi-hour reads are a thing, so we want to only protect the write path for 2.0.

[2018-03-14 19:46] andreimatei commented on #4869
I'm going to close this because I think a sql driver is unlikely to happen. I'm cleaning up the various "internal executors" that we have so that they run common code with a regular network client. Since this issue was filed, we've refactored our connection handling code so that the networking code is isolated from the rest of query processing.
One thing that would probably preclude using a driver

[2018-03-14 19:46] #4869 closed

[2018-03-14 19:47] bobvawter opened #23859 "importccl: Comprehensive timeout protections for ExportStorage"
This is a follow-up from #22973.

Only the write paths in `ExportStorage` operations are protected with timeouts.  In order to protect the read path, we need a resettable timeout every time a record is ingested, given that the read operation is rate-limited by the record-ingestion path.

[2018-03-14 19:48] bobvawter opened #23860 "importccl: Upgrade Azure client to support Context"
Follow up from #22973 and #23859.

The current Azure client is not Context-enabled, so we have no way to cancel operations.  We should upgrade to https://github.com/Azure/azure-storage-blob-go.

[2018-03-14 19:49] mberhault commented on #23719
I'll chime in and say that this is not a critical issue and can definitely be pushed back.

[2018-03-14 19:52] petermattis commented on #20448
@spencerkimball This is the issue I was mentioning. It touches retries and the push txn queue.

[2018-03-14 19:55] vilterp commented on #23444
Pretty small amount of work to log the event, e.g. https://github.com/cockroachdb/cockroach/blob/f5c048c5f7bb3449c8cbe87ca6fa1b9af368fd81/pkg/sql/create_sequence.go#L106-L119

[2018-03-14 20:06] bdarnell commented on #23763
#23752

[2018-03-14 20:06] #23763 closed

[2018-03-14 20:06] bdarnell commented on #23758
#23752

[2018-03-14 20:06] #23758 closed

[2018-03-14 20:07] pbardea opened #23862 "sql: primary keys are allowed to be stored in secondary index"
When creating a storing index, we report an error if the index already contains the stored column:
[code]
However, we allow creating a secondary index that stores a primary key:
[code]
The primary key (a) is already implicitly stored in the index, so **it does not make sense to create an index which stores the primary key, unless the index is unique**.

It's ambiguous if this should be allowed sin

[2018-03-14 20:09] bdarnell commented on #23751
This one is *not* a dupe of #23752 (like other recent failures of this test)

[2018-03-14 20:21] piyush-singh commented on #23849
One possibility might be to have a kind of visual catchall bucket for nodes that do not have locations/localities set up correctly. Def worth a conversation with Josué

[2018-03-14 20:23] bdarnell commented on #23751
The test is just running `CREATE DATABASE` on a brand-new cluster (using `database/sql.DB.Exec` outside a transaction). There is no client-side retry logic. It looks like maybe the command is retrying internally after an ambiguous result (that may be losing its ambiguous status along the way). @vivekmenezes does this ring any bells?

[2018-03-14 20:29] nvanbenschoten commented on #20448
Interesting, seeing a `pushee is expired` error without any nodes going down implies to me that a `TxnCoodSender` is abandoning a transaction record.

@andreimatei you recently mentioned that you had found issues with how we roll back transactions after retryable errors. Could you expand on that? Do you think it could result in behavior like we see here, where transactions keep running into other

[2018-03-14 20:47] vilterp commented on #23849
Yeah, or maybe a number somewhere, like "5 nodes aren't displayed on this map because they don't have localities", and link to some list of them.

[2018-03-14 20:49] bdarnell commented on #23788
#23582

[2018-03-14 20:49] #23788 closed

[2018-03-14 21:01] couchand commented on #23842
@knz if you feel strongly that this should be investigated for 2.0, can you take a look into it?  Thanks!

[2018-03-14 21:02] andreimatei commented on #20448
I don't think so. I was talking about cases where a txn's ctx is canceled. No reason to think that's happening here, I believe.

I've seen cases of expired transactions when I was overloading a cluster - the heartbeats weren't making it in time. I'd check whether that happens - heartbeat loops not running within 2s, or the heartbeat request taking a long time to execute.
When I've observed that in

[2018-03-14 21:08] #23552 closed

[2018-03-14 21:25] petermattis opened #23870 "storage: reevaluate gc queue and replica gc queue timer settings"
The `{gc,replicaGC}QueueTimerDuration` settings impose a minimal time between the processing of replicas. This mechanism is very old and most queues include other throttling and pacing mechanisms. We recently (#23869) reduced the value for `raftLogQueueTimerDuration` from 50ms to 0 in order to alleviate a bad feedback loop that occurs when raft-log truncation does not keep pace with writes. Should

[2018-03-14 21:36] tschottdorf commented on #20448
Planning to take a look tomorrow, if there have any more insights please post them before that. ;-)

[2018-03-14 21:42] bdarnell commented on #20448
I'd also look at the fact that the txnWaitQueue unblocks all waiting requests at once, potentially creating thundering herds and making no attempts at fairness.

[2018-03-14 21:43] vilterp opened #23871 "ui: ensure correct defaulting to node map vs cluster viz"
Cases:

1. OSS: see no selector for node list vs node map; always show node map.
2. CCL, no license: default to node list, have persistently-dismissable popup telling you about node map? (This is what's on Josue's design)
3. CCL, license: default to node map

cc @couchand

[2018-03-14 21:56] #13537 closed

[2018-03-14 21:57] #23513 closed

[2018-03-14 21:58] cockroach-teamcity opened #23873 "teamcity: failed tests on master: acceptance/TestGossipPeerings"
The following tests appear to have failed:

[#575837](https://teamcity.cockroachdb.com/viewLog.html?buildId=575837):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-14 22:26] cockroach-teamcity opened #23877 "teamcity: failed tests on master: testrace/TestTimeSeriesMaintenanceQueueServer, test/TestTimeSeriesMaintenanceQueueServer"
The following tests appear to have failed:

[#575924](https://teamcity.cockroachdb.com/viewLog.html?buildId=575924):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-14 22:26] vilterp opened #23878 "ui: clusterviz: animate zooms when you click a locality"

[2018-03-14 22:48] benesch commented on #23873
Calling this Docker flakiness since it's only happened once.

[2018-03-14 22:48] #23873 closed

[2018-03-14 23:14] #23877 closed

[2018-03-14 23:26] cockroach-teamcity opened #23882 "teamcity: failed tests on master: test/TestTimeSeriesMaintenanceQueueServer"
The following tests appear to have failed:

[#576037](https://teamcity.cockroachdb.com/viewLog.html?buildId=576037):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-15 00:26] justinj commented on #23819
Have we decided if this is going to be fixed for 2.0? I feel pretty strongly that if that's possible we should try, in particular it will make blackbox testing against Postgres much simpler. If not we should probably disallow these queries given that they're statically recognizable.

[2018-03-15 00:45] nvanbenschoten commented on #20448
I got the load generator up and running on a three-node roachprod cluster. I was quickly able to see throughput tank as concurrency increased. Thanks for making the reproduction steps so easy @amq!

First, I'll note that even when throughput is bottoming out, CPU utilization on all nodes is only at around 5% and memory use is well under under 1GB. This indicates that the problem is due to bad beha

[2018-03-15 01:02] tschottdorf commented on #20448
The transaction heartbeat timeout is quite aggressive, so I wouldn't be surprised.

[2018-03-15 01:23] justinj opened #23888 "sql: require inverted indexes using gin syntax to specify jsonb_path_ops"
It seems to me that we implicitly use jsonb_path_ops, but that's *not* the default in Postgres, so we should probably require the user explicitly specify it? Otherwise we'll have some tool which thinks we support this in the same way as Postgres but has a lot of its queries require full table scans?

Feel free to close if I'm misunderstanding.

[2018-03-15 01:29] petermattis opened #23889 "ui: cell contents in jobs table should be vertically aligned to the top"
In the first image we see the unexpanded jobs table. In the second, I've expanded the top row. Notice how I can now longer see the contents of the first, third, fourth or fifth columns. That is because the contents are centered vertically. Perhaps they should be aligned to the top.

<img width="1304" alt="screen shot 2018-03-14 at 9 26 13 pm" src="https://user-images.githubusercontent.com/6201335/

[2018-03-15 02:39] a-robinson commented on #23882
fixed by https://github.com/cockroachdb/cockroach/pull/23881

[2018-03-15 02:39] #23882 closed

[2018-03-15 03:06] bdarnell commented on #20448
For the record, we send txn heartbeats on a 1-second interval, and consider a transaction expired if it hasn't heartbeat in 2 seconds (these values were reduced from 5/10s shortly before 1.0 shipped. cc @spencerkimball). That's aggressive, but not completely crazy. It would be reasonable to expect heartbeats to complete every second *if* we could prioritize them in the command queue so they didn't

[2018-03-15 05:04] cockroach-teamcity opened #23892 "teamcity: failed tests on master: Jepsen/JepsenSetupCluster"
The following tests appear to have failed:

[#576265](https://teamcity.cockroachdb.com/viewLog.html?buildId=576265):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-15 07:18] nvanbenschoten commented on #20448
I bumped up this txn expiration length back to 5 seconds but this didn't seem to help.

I am seeing something that really doesn't look right to me. Nowhere in the write cmd evaluation/proposal path do we ever filter out no-op commands or commands that decided that they didn't need to write anything during evaluation. Unless I'm missing something, this omission would be pretty catastrophic for this

[2018-03-15 09:57] vivekmenezes commented on #19141
I think this is a low impact high effort issue. This change is valuable to a customer who is

1. running in production
2. running globally
3. running with partitioning
4. wants to change the primary key

I think number 4 in particular is rare.

I'll also bring up that when we do this we need to first refactor the codebase to accommodate this change (it should be clear that the code can be modifyin

[2018-03-15 10:31] vivekmenezes commented on #23819
I don't know how difficult this is to pull off. Any chance you can give it a short?

[2018-03-15 11:06] vivekmenezes commented on #23751
I'm not seeing any suspicious side-effects on the SQL codepath. It does look like a bad retry.

[2018-03-15 11:48] tlvenn opened #23893 "sql: errors in client due to use of pg_catalog with non-existent db as current"
It seems there is a regression with the latest v2 alpha (20180312) as  I am now seeing the following error when Ecto is trying to create the DB from scratch:

[code]

[2018-03-15 12:17] knz commented on #23893
Can you share the query that caused the error with us?

[2018-03-15 12:19] #22376 closed

[2018-03-15 12:19] #23688 closed

[2018-03-15 12:19] #23739 closed

[2018-03-15 13:10] #23340 closed

[2018-03-15 13:30] bdarnell commented on #20448
Right. If the command returns an error we skip consensus and don't write anything, but we will still go through the consensus path for a successful no-op write (We don't have many of these, but PushTxn is one). It's not a complete no-op because we still update the raft applied index, but that's not strictly necessary (we don't do it for errors) and it's certainly not worth paying the consensus pri

[2018-03-15 13:38] bdarnell commented on #19141
I agree that it's high effort, but I think you're understating the impact. We have at least two features where the primary key is crucial (partitioning and interleaving), and even without that people sometimes want to change their primary keys (existing databases all have this feature). It's unrealistic to expect people to be able to choose the correct PK when first creating the table.

If taking

[2018-03-15 13:50] jordanlewis commented on #23819
It shouldn't be too bad. Here's one strategy:

A new input parameter is added to `EncodeInvertedIndexKeys`, which indicates whether or not empty leaf containers should be included in the output keys. This will be true when generating keys for storage, but false when generating keys for lookup.

A new output parameter is also be added, which indicates whether or not the encoder omitted an empty lea

[2018-03-15 13:53] jordanlewis opened #23897 "sql: inverted index queries with non-top level scalars are incorrect"
Expected:

[code]

Actual:
[code]

The problem is that the fix applied by #22503 was incomplete - it only applies to top level scalars.

[2018-03-15 13:57] #20732 closed

[2018-03-15 14:20] jgehrcke opened #23899 "Can a RocksDB MANIFEST file get lost when the file system runs full?"
One of our customers reported that their file system ran full, resulting in an on-disk corruption of the database state. That occurred with CockroachDB 1.0.6.

We are not entirely sure how exactly they extended the file system but after what they claim to be a "disk extension" they saw the following error:
[code]

The claim is that they did not manually mess with anything in `/path/to/cockroach/..

[2018-03-15 15:00] bdarnell commented on #23899
I've never heard of the MANIFEST file getting lost. In any case, the last good file should be preserved (that's why the filename is actually `MANIFEST-268898`. The only file rocksdb ever overwrites in place is the CURRENT file, which contains the name of the latest manifest. The old manifest shouldn't get deleted until the new manifest has been written under its new name and the CURRENT file has b

[2018-03-15 15:01] bdarnell commented on #23892
A previous run failed to clean up after itself, so this is #20515.

[2018-03-15 15:01] #23892 closed

[2018-03-15 15:03] vivekmenezes commented on #19141
I suppose we can implement this within the same table ID space by allowing a primary index to have a different index id than the default primary index id. then the process might be

1.  Create a covering index using all columns with the new id
2. recreate the existing indexes on the table
3. update the FKs from other tables to use the new indexes.
3. switch out the old primary and secondary indexe

[2018-03-15 15:13] cockroach-teamcity opened #23900 "teamcity: failed tests on release-2.0: Examples-ORMs/TestSQLAlchemy"
The following tests appear to have failed:

[#576498](https://teamcity.cockroachdb.com/viewLog.html?buildId=576498):

[code]

Please assign, take a look and update the issue accordingly.

[2018-03-15 15:28] jordanlewis opened #23901 "sql: implement local-distsql shim for distinct"
Write a shim for the local distinct planNode that uses the DistSQL DistinctProcessor to actually do the work.

More details will be filled in on this issue later.

[2018-03-15 15:42] vivekmenezes commented on #12424
https://github.com/cockroachdb/cockroach/issues/19141

is related because when we implement the new schema change backfill it would be nice if it can backfill many indexes in parallel

[2018-03-15 15:48] couchand opened #23902 "ui: databases page overflows horizontally"
For some reason the databases page seems to overflow horizontally, though there doesn't appear to be any content to the right of the initial viewport.  Needs investigation to determine the root cause.

[2018-03-15 16:01] vivekmenezes commented on #19141
I'd add that I'd originally thought that this change was going to make the sql codebase a lot more complex because I thought we had to add the notion of writing to two tables. With my comment above I feel confident that we can implement this using the same table ID which is a significant reduction in complexity of this change IMHO.

One unknown is how this might affect our interleaved tables imple

[2018-03-15 16:02] justinj commented on #23888
ping, would like to figure out what, if anything needs to be done here for 2.0. if this is indeed a problem the fix is easy

[2018-03-15 16:03] petermattis opened #23903 "ui: SQL syntax highlighting disappears on reload"
Navigating to the table schema from the "Databases" page initially shows beautiful syntax highlighting.

![screen shot 2018-03-15 at 12 01 04 pm](https://user-images.githubusercontent.com/6201335/37475268-a813d910-2848-11e8-924f-0f674ac0e8c9.png)

Reload the page (via command-R) and the syntax highlighting disappears.

![screen shot 2018-03-15 at 12 01 11 pm](https://user-images.githubusercontent.

[2018-03-15 16:04] couchand commented on #23903
That's very weird and easily reproducible.

[2018-03-15 16:07] jordanlewis commented on #23888
I don't think this is a serious problem. Our index representation will permit us to index on the operators missing from `jsonb_path_ops` over time. As a reminder, here are the missing operators:

[code]

These are all trivially implementable with our inverted index representation. It's true that at launch these will all require full table scans, but I'm not particularly concerned.

Would your prop

[2018-03-15 16:07] vilterp commented on #23903
Odd indeed. The `componentDidMount` hook which calls the highlighter fires on reload (inserted a log), but `hljs.highlightBlock(this.createStmtNode)` fails to do anything. (`this.createStmtNode` comes out in the log as a perfectly good `pre` element)

[2018-03-15 16:11] justinj commented on #23888
Yes, that would be my proposal. I'm nervous that tools/orms might expect those operations to be fast. I'm not convinced this is not an issue but at this point in time I'm happy to err on the side of "known limitation".

[2018-03-15 16:13] #23888 closed

[2018-03-15 16:21] petermattis commented on #16026
@nvanbenschoten Can you describe your recent experiments in this area? They seem very promising and something we should investigate doing for 2.1.

[2018-03-15 16:22] petermattis commented on #19177
Related to https://github.com/cockroachdb/cockroach/issues/16026.

[2018-03-15 16:28] tlvenn commented on #23893
The code to create the database is as follow:

[code]

As far as I can see, Ecto will connect to the `postgres` system database in order to issue the create database command. Somehow that system database either does not exist anymore (doubtful) or the user has no access to it (but it's the root user...)

[2018-03-15 16:47] knz commented on #23893
There is no database called `postgres` in CockroachDB -- at least none created by default.
This has not changed between 1.0, 1.1 and 2.0.

The only database created by default is called `system`.

Can you enable `sql.trace.log_statement_execute` (`set cluster setting sql.trace.log_statement_execute = true`), try connecting Ecto again, and then paste a copy of the newly created `cockroach-sql-exec.

[2018-03-15 16:49] jordanlewis opened #23905 "sql: support indexed key-contains queries in JSON inverted indexes"
The `?` operator currently requires a full table scan when used as a filter on an indexed JSON column. Our inverted index representation permits efficient access for this operator, so we should teach index selection to generate efficient spans for `?`.

The `?` operator is the object key containment operator: it asks whether the second operand is contained within the first as an object key. Our in

[2018-03-15 16:50] jordanlewis opened #23906 "sql: normalize ?| and ?& to ?"
The `?|` operator for JSON takes an array of strings, and acts like a disjunction of `?` queries.

The `?&` operator for JSON takes an array of strings and acts like a conjunction of `?` queries.

We should normalize both of these operators into a disjunction or conjunction of `?` queries for index selection, after #23905 is finished.

Jira issue: CRDB-5799

[2018-03-15 16:56] bdarnell commented on #23893
CockroachDB allows connections to non-existent databases, so you can connect (as root) to the database you want to create and then create it once you're connected. (For the same reason, you shouldn't be getting an error connecting to the `postgres` database). Or at least this was true in 1.1 - did it break with the schema changes in 2.0?

[2018-03-15 16:59] knz commented on #23893
I just tried in a SQL shell and it seems to work for me.

What does not work anymore (and for good reason) is a query that tries to read from the `pg_catalog` tables before the database has been created. That used to "work" (but produce bogus results).

So here maybe the advice I'd give is ensure the Ecto client doesn't try to access information_schema/pg_catalog before it creates the database.

[2018-03-15 16:59] justinj commented on #23906
vaguely related to #22333

[2018-03-15 17:03] justinj opened #23907 "sql: integration tests for json+inverted indexes with ORMs"
Any of these may or may not expose json/inverted indexes directly but we need to investigate if they do.

* [x] Sequelize - Justin
* [ ] ActiveRecord - ?
* [x] SqlAlchemy - Justin
* [x] Hibernate - ?
* [x] Gorm - ?

@m-schneider @jordanlewis do either of you have any time to look into one or two of the remaining ones?

[2018-03-15 17:06] jordanlewis commented on #23907
GORM doesn't seem to have support for JSON queries - just grabbing jsonb payloads from the wire. http://gorm.io/docs/dialects.html#PostgreSQL

[2018-03-15 17:08] nvanbenschoten commented on #20448
I was checking if `result.Result.Replicated == nil && len(result.Result.WriteBatch.Data) == 0`. It looked like the latter condition was never true, but I wasn't able to track down where the batch was being written to. It's possible that batches always have a header or something that I'll need to ignore. I tried to address that by iterating over the keys in the batch to check if it was empty, but I

[2018-03-15 17:08] jordanlewis commented on #23907
Hibernate doesn't support JSONB out of the box. You have to implement a UserMapping. Therefore, I conclude it also doesn't support specialized JSONB queries. https://www.vojtechruzicka.com/postgresqls-jsonb-type-mapping-using-hibernate/

[2018-03-15 17:10] dt opened #23908 "storage: addsstable can rewrite already read history"
Currently `addSSTable` can rewrite previously read history -- a read a time `x` can return a different value after `addSSTable` than it did before. This is unusual in our kv's API -- usually we'd reject such a write.

It looks like this is because:
1) We do not currently consult the ts cache when adding an sst.
2) Even if we did consult the tscache, we do not currently verify anything about actual

[2018-03-15 17:10] jordanlewis commented on #23907
ActiveRecord supports JSONB out of the box, but requires that you write your own queries:

https://nandovieira.com/using-postgresql-and-jsonb-with-ruby-on-rails