[2016-07-05 23:12] petermattis opened #7634 "storage: test context cancellation in `Replica.beginCmds`"
We need a test to exercise the cancellation code path in `Replica.beginCmds`. See #7633.

[2016-07-06 00:50] petermattis commented on #4868
I'm not sure how `govaluate` would allow us to model diversity constraints. In particular, how would you model `3 replicas with no 2 replicas on the same rack unless there are less than 3 racks`? For diversity constraints, the locations of the other replicas are matter.

I see how general expressions would allow us to model negative constraints, but I'm not sure that generality is warranted and it

[2016-07-06 01:42] d4l3k commented on #4868
For that specific example, you could have something like `num_racks < 3 || num_replicas_on_rack < 2`. It would definitely require more than just govaluate though.

That's true. Just found that library and thought it would be a neat thing to use. Might not warrant it however.

As for performance https://github.com/Knetic/govaluate#benchmarks seems to indicate that it's reasonably quick. Parsing and

[2016-07-06 01:50] KenjiTakahashi opened #7636 "pq: unknown datum type: timestamptz"
This code (the important line is the last one, but the whole thing can be used to reproduce)

[code]

gives me
[code]

I'm using `beta-20160629`.

[2016-07-06 02:15] d4l3k commented on #4868
Could also make pseudo functions with stuff like `[count:"rack_.*"] < 3 || [replicas_with:\[first:"rack_.*"\]] < 3`.

https://gist.github.com/d4l3k/53ab3e333299ed9b93f0a1c1065a18b9

[2016-07-06 02:24] tschottdorf opened #7637 "circleci: failed tests: TestClusterRecovery"
The following test appears to have failed:

[#19890](https://circleci.com/gh/cockroachdb/cockroach/19890):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-06 02:27] bdarnell commented on #4868
We already have an expression language: SQL. I'm not sure how far down the path of arbitrary expressions we should go, but we should aim for a subset of SQL syntax instead of a subset of Go (so `AND` and `OR` instead of `&&` and `||`). We might even be able to come up with a clever usage of aggregate functions and `GROUP BY` to express diversity constraints, although I think it's probably better t

[2016-07-06 07:01] ddorian commented on #7609
@petermattis
Well, you can test the [HashSkipList](https://github.com/facebook/rocksdb/wiki/Hash-based-memtable-implementations) which is already done and see if it makes sense. Though it doesn't have the optimization to remove <table_id> from the keys on the memtable, just separating they keys by table-id. And it's 350 LOC in implementation (to modify and remove table-id if it makes sense https:/

[2016-07-06 08:30] zhonglin6666 opened #7638 "storage: lots of heartbeat sending from rawnode leader to followers"
issue:
Now there are lots of replica on one store, a replica will create one rawnode group, so leader will send heartbeat to keep it's degree. There are so many replica which will send lots of heartbeat message, For only few rawnode group working, whether no need so many rawnode group.

advice:
Starting a fixed number of rawnode group as workers who will handle request when there are free. Workers

[2016-07-06 09:57] knz commented on #4542
I started working on this and the alternative (merging the various SET forms) makes the code actually bigger and more complex. The reason is that the underlying logic is different anyway for all 3 sorts of SET, so there is little to gain with DRY, and by merging I need to add the conditionals to distinguish the 3 cases everywhere.

Not worth it.

[2016-07-06 09:57] #4542 closed

[2016-07-06 10:01] knz commented on #3943
Since my original proposed approach is much weaker than the alternative proposals made since then, and I am not planning to work on these alternatives in the short term, I am de-assigning this for now.

[2016-07-06 10:06] knz commented on #3472
So this is rather non-trivial and finding a general solution is opening a pandora's box: to properly detect overlap between inclusion predicates (IN) and other comparisons you need a fully fledged predicate inference engine. My opinion is that we're still a bit early in the product lifetime to make this decision. Also, this type of optimization is rather complex and it is not clear to me yet how m

[2016-07-06 10:42] dedok opened #7641 "[Question] About: C/C++ connector and benchmarks"
Hi,

Where are have any stable C or C++ connectors? Or I need use go?
I wish make my own benchmark with my data set. I need do tuning of cockroachdb? Or I can use out of box?

[2016-07-06 11:21] tschottdorf commented on #7638
Thanks @zhonglin6666. This should be handled by #6107 (after which we only send heartbeats between nodes, not between ranges).

[2016-07-06 11:21] #7638 closed

[2016-07-06 11:23] tschottdorf commented on #1779
Just a heads up that upstream is going to provide a console output formatter soon: https://github.com/uber-go/zap/issues/59#issuecomment-230649670

[2016-07-06 11:51] #7477 closed

[2016-07-06 12:01] petermattis commented on #7609
@ddorian I'm aware of the `HashSkipList` memtable, but it isn't quite as simple as flipping a flag. `HashSkipList` hashes no the key prefix using the prefix-extractor, but we configure our prefix-extractor to pull out the "row" from a key. We could create a custom version of `HashSkipList` that extracted the table-id. I'm doubtful that will provide any meaningful memory savings or performance impr

[2016-07-06 12:13] petermattis commented on #4868
@d4l3k Yes, evaluation of the individual expressions is fast, but I'm pretty sure it is going to be a problem for allocation to be evaluating the zone config expression on every store for every allocation. Your example of smashing diversity constraints into general expressions isn't terribly compelling. I agree with Ben that we should make diversity constraints an explicit feature. For example, in

[2016-07-06 12:22] petermattis commented on #1779
Eh? I've worked in huge systems which do not have structured logging and I'm not convinced we have to support it eventually. That said, `zap` does look interesting. Passing a `logger` as an argument down every code path that logs is a bit onerous, but that is idiomatic Go and symmetric with passing `context`.

[2016-07-06 12:46] tschottdorf commented on #7619
I know this is assigned to @tamird, but it ties in with stuff for #7600, so I'm currently poking around in it too (let's avoid crossing streams).

[2016-07-06 13:20] petermattis commented on #7609
Some other difficulties/questions with using a column family per table-id:

* The column family id (which is internally generated by RocksDB) gets encoded into the write batch representation. We're planning on passing the write batch representation between ranges. Perhaps RocksDB could be extended so that we could specify the column family id instead of having RocksDB generate it. Then we could sa

[2016-07-06 13:23] tschottdorf commented on #7609
I vaguely (mis?)remember Mark Callaghan mentioning that upwards of a few 100 column families, he wouldn't recommend it out of the box. Could be making that up though.

[2016-07-06 13:51] tschottdorf opened #7643 "cli: yaml-consuming commands should use `-f -` for stdin, `-f myfile.yaml` otherwise"
The current state of affairs,

[code]

isn't great.

Instead, you'd want

`cat myfile.yaml | ./cockroach zone set -f - default` or `./cockroach zone set -f myfile.yaml .default`.
Kubernetes' `kubectl create` does something similar (and we might be able to crib some code).

[2016-07-06 14:16] bdarnell commented on #7600
I'm scared of calling `Destroy` here - that method has some really subtle locking requirements. More importantly, we can only delete a HardState when the replica ID changes. If the replica ID is stable (which I think it is in this case), we *must* preserve the HardState that was written before the splitTrigger.

[2016-07-06 14:18] paperstreet opened #7644 "storage: test that the first range is quickly gossiped after being rebalanced"
replication of the first range, and then to disable the replication queue
and to downreplicate so that the first range leader disappears.
Subsequently we should be able to verify that the first range gossip
updates accordingly in a short amount of time (and once we have lease
transfers, we can check more).

It was previously waiting for the next `sentinelGossipInterval` tick. See https://github.co

[2016-07-06 14:24] tamird commented on #7644
Just a best-practices reminder: please inline this issue into the commit - we want our commits to be freestanding as much as possible, though referencing the issue is still helpful.

[2016-07-06 14:25] paperstreet commented on #7644
Meaning inline the description of what test should be written next to the link to this issue?

[2016-07-06 14:26] tamird commented on #7619
OK. I already have a WIP for this:
https://github.com/cockroachdb/cockroach/compare/master...tamird:preemptive-snap-no-backwards

On Wed, Jul 6, 2016 at 8:46 AM, Tobias Schottdorf <notifications@github.com>
wrote:

[2016-07-06 14:27] tamird commented on #7644
I'd probably phrase it as a description of the issue being fixed and mention that the test is to follow, rather than describing the test.

[2016-07-06 14:33] bdarnell commented on #7600
The problem here is that preemptive snapshots bypass some of the raft machinery. When we pass MsgSnap into the raftGroup, raft does some things internally (specifically [increasing HardState.Commit](https://github.com/coreos/etcd/blob/234c30c061a9bf03d4378dd37aad25922c85d62b/raft/raft.go#L906)) and then returns the snapshot to us through raft.Ready and we call applySnapshot. In the preemptive path

[2016-07-06 14:34] tamird commented on #7631
@paperstreet could this be related to your work?

[2016-07-06 14:40] #7593 closed

[2016-07-06 14:52] paperstreet commented on #7631
Locally, this test very consistently takes just over 1 minute and my fix gets it to closer to immediate. Which makes me think unrelated. However, if your store gossip and first range gossip ticks were lined up _just so_, I can see how it would be closer to 2 minutes. Soooo..maybe?

[2016-07-06 14:58] tamird commented on #7600
Unfortunately, this approach is also problematic (we tried it originally). What you're proposing is:
  1. `nextReplicaID := RangeDescriptor.NextReplicaID`
  1. txn 1: `RangeDescriptor.NextReplicaID++`
  1. `repDesc := ReplicaDescriptor{..., ReplicaID: nextReplicaID}`
  1. send snapshot with `repDesc`
  1. txn 2: `RangeDescriptor.Replicas = append(RangeDescriptor.Replicas, repDesc)`

The problem is

[2016-07-06 15:12] andreimatei commented on #3472
I don't remember the details of this exactly, but I think the correct span generation should be simple enough - just take the narrowest span. In fact @RaduBerinde has done some improvements to that code, maybe it's already fine.

[2016-07-06 15:13] knz opened #7646 "storage: temporary block on logging output causes logic errors to appear"
Running on master.
1. Please describe the issue you observed:
- What did you do?

Start db server with -logtostderr true; then in a separate terminal start issuing schema changes in a loop (create database, create table, drop database). Then back into db terminal, press Ctrl+S (terminal XOFF, which blocks the tty stream that logging output is emitted to) so as to gain time to read the messages. Th

[2016-07-06 15:16] dt opened #7647 "sql/parser: timestamp vs timestamptz typing in prepared query"
encountered in #7642: using this insert into a `timestamp with time zone` col as a prepared query, it fails without the cast:
`INSERT INTO d.types VALUES ($1, $2, $3, $4, $5, $6, $7::timestamptz, $8, $9, $10)`
with error:
`value type timestamp doesn't match type TIMESTAMPTZ of column "z"`

[2016-07-06 15:20] d4l3k commented on #4868
I agree that it's overly cumbersome. Shorthand notation was one of the
first things I thought of but figured it wasn't complex enough. I thought
we needed logic operations to do things like "us-east or eur-uk".

For the use case of "3 replicas with no 2 replicas on the same rack unless
there are less than 3 racks," did you imagine those numbers to be
configurable or just a special flag you could p

[2016-07-06 15:22] tschottdorf commented on #7600
Not suggesting we do that, simply wanted to point out that that does fix "it".

I have some WIP on HS handling which I hope to massage and post prior to our chat today. Updating the HardState doesn't seem so difficult and I do think that it is manageable (I see the complexity in making sure we never have two replicas active on the same keyspace during splits, something which is fixed above by the

[2016-07-06 15:24] knz opened #7648 "sql: preparing statements takes leases and relies on running a statement to release them"
(Found by @dt and myself)

Steps to repro:
1. start new virgin db
2. run the attached [test SQL code](https://github.com/cockroachdb/cockroach/files/350211/test.txt) once: `cat test.txt | ./cockroach sql`
3. stop the db (Ctrl+C twice, not `cockroach quit`); then restart the db
4. repeat step #2.

This will cause the db to fail with a loop on `waitForOneVersion`:

[code]

[2016-07-06 15:29] #6342 closed

[2016-07-06 15:31] #4944 closed

[2016-07-06 15:31] #4945 closed

[2016-07-06 15:42] knz commented on #7641
Hi @dedok! Thanks for your interest in CockroachDB!

You can use most existing PostgreSQL database connectors for C or C++, for example libpq. We have some information about how to implement clients on our documentation site: https://www.cockroachlabs.com/docs/build-a-test-app.html

CockroachDB should already work out of the box. Of course this is still in Beta stage so some bugs and inefficiencie

[2016-07-06 15:42] #7641 closed

[2016-07-06 15:58] vivekmenezes commented on #7648
@dt founds another way to repro
[code]

[2016-07-06 16:13] knz opened #7652 "storage: GC error when racing with a split"
Found while running a loop of "create database; create table; drop database" against an idle single-node server:

[code]

Requested by @bdarnell:
"""
file an issue for that transaction gc message. it’s harmless, but we can do better by making the intentResolver always use the DistSender instead of blindly writing to its local range (which may no longer be the right one if we’re racing with a split

[2016-07-06 16:18] dedok commented on #7641
@knz thanks!

[2016-07-06 17:08] tschottdorf opened #7653 "storage: TestStoreRangeRebalance fails"
`expected 0 normal snapshots, but found 1`

https://circleci.com/gh/tschottdorf/cockroach/2423

[2016-07-06 17:42] d4l3k commented on #7628
Happened to me https://circleci.com/gh/cockroachdb/cockroach/19923

[2016-07-06 17:44] tschottdorf opened #7654 "circleci: failed tests: TestParallel"
The following test appears to have failed:

[#19924](https://circleci.com/gh/cockroachdb/cockroach/19924):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-06 18:11] andreimatei commented on #7654
I was just about to file the same. @spencerkimball you've touched this test in https://github.com/cockroachdb/cockroach/pull/5432, which sounds like it might be related?

It reproduces easily with `stress TESTTIMEOUT=20s`

[2016-07-06 18:19] #7636 closed

[2016-07-06 18:23] dt commented on #7636
Thanks for the bug report, @KenjiTakahashi!
I just pushed a fix for this particular issue, though your included example now fails with another issue being tracked on #7647.

[2016-07-06 18:35] tschottdorf opened #7656 "circleci: failed tests: TestStoreRangeRebalance"
The following test appears to have failed:

[#19929](https://circleci.com/gh/cockroachdb/cockroach/19929):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-06 18:39] petermattis commented on #7653
Yep, I'm seeing this locally too. "It worked yesterday".

[2016-07-06 19:37] tschottdorf commented on #7646
Linking in https://github.com/cockroachdb/cockroach/issues/1779

On Wed, Jul 6, 2016 at 11:13 AM kena <notifications@github.com> wrote:

--

-- Tobias

[2016-07-06 19:50] andreimatei opened #7658 "sql: descriptor leases are not released when a pgwire conn closes"
We don't rollback or otherwise do any cleanup of the planner/txn at the SQL level when the connection closes (either abruptly or through a `close` pgwire message), so nothing releases the leases accumulated by the planner (they're only released after executing a statement).
This results in lingering leases even in the case when there's no SQL transaction involved - because leases are accumulated b

[2016-07-06 19:53] andreimatei commented on #7648
The problem here is that a lease taken while **preparing** a statement is only released after subsequently running a statement (or when the txn commits).
This results in leases being held by the planner after preparing a statement, even though there's no reason for that. Even worse, because of #7658, if the client goes away and never runs any commands, the lease is not released.

[2016-07-06 20:02] tschottdorf commented on #6144
As just discussed with @bdarnell @tamird @arjunravinarayan: We are going to introduce three types (names below are tentative), with @arjunravinarayan and @tamird leading the effort.

All of them would implement the `raft.Storage` interface, and snapshots would only ever be applied completely through Raft. That means we wouldn't ever manually write a `HardState`; instead we `Step()` the snapshot in

[2016-07-06 20:06] tschottdorf opened #7659 "storage: disable preemptive snapshots (at least for this week)"
As discussed with @bdarnell @arjunravinarayan @tamird, we are going to take out preemptive snapshots for this week's beta (and leave them out until we have some lower-level Raft concerns around them sorted out).

The change will be minimal enough so that those wishing to play with preemptive snapshots should be able to do this. We will leave all of the machinery in, but simply not send preemptive

[2016-07-06 20:08] andreimatei commented on #7648
I think we can do one of two things here, although I don't think I'll do either for the time being (but I'll fix #7658).

1) we can release the leases that preparing takes after the prepare is done. The problem is that leases are simply accumulated on the planner without knowledge of what operation acquired them. We could in principle do the preparing using a fresh planner, but there's a cyclical

[2016-07-06 20:15] d4l3k commented on #4868
I just added a WIP RFC for this. https://github.com/cockroachdb/cockroach/pull/7660

[2016-07-06 20:28] petermattis commented on #6144
`Store` currently maintains `replicas` and `uninitReplicas` maps. How are these new types going to fit in? Will there be separate maps for each type? That seems bad as it allows for the possibility of a single `Store` having both a `Replica` and a `SnapshotReceiver` for the same range ID.

[2016-07-06 20:31] tamird commented on #6144
We are going to use the `raft.Storage` interface.

[2016-07-06 20:43] tschottdorf commented on #7619
Snagging this issue from you as believed fixed in #7598 (won't merge without a test for this added).

[2016-07-06 20:46] tschottdorf opened #7662 "circleci: failed tests: TestStoreRangeRebalance"
The following test appears to have failed:

[#19946](https://circleci.com/gh/cockroachdb/cockroach/19946):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-06 20:49] tschottdorf opened #7663 "circleci: failed tests: TestMultinodeCockroach"
The following test appears to have failed:

[#19946](https://circleci.com/gh/cockroachdb/cockroach/19946):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-06 20:50] #7535 closed

[2016-07-06 20:56] jseldess commented on #2134
Data types, privileges, and many sql statements have been documented. Continuing work tracked in the docs repo.

[2016-07-06 20:59] tamird commented on #7656
#7653.

[2016-07-06 20:59] #7656 closed

[2016-07-06 20:59] tamird commented on #7662
#7653.

[2016-07-06 20:59] #7662 closed

[2016-07-06 21:00] tamird commented on #7631
#7450.

[2016-07-06 21:00] #7631 closed

[2016-07-06 21:00] tamird commented on #7663
#7450.

[2016-07-06 21:00] #7663 closed

[2016-07-06 21:14] petermattis commented on #6144
Can someone sketch out how a `SnapshotReceiver` and `PreemptiveSnapshotReceiver` transition to become a `Replica`? That transition seems tricky. For a `SnapshotReceiver`, would the `raft.RawNode` be transferred to the `Replica`.

Why does a `PreemptiveSnapshotReceiver` not need a `HardState`? Without the `HardState` how do we know what raft log index the snapshot is at? If they don't have a `HardS

[2016-07-06 21:29] d4l3k commented on #4473
To switch replicas off a corrupt store, am I correct in assuming that we can't do a standard ChangeReplicasTrigger because the on-disk raft log might be corrupt and there's no guarantee that command will be committed? Hence the gossip comments?

And we don't want to just silently stop accepting things to that store because we want faster rebalances?

@tschottdorf I'm not seeing the "replica destro

[2016-07-06 21:31] petermattis commented on #4473
@d4l3k Not a specific error, but a holder for persistent errors: `Replica.mu.destroyed`.

[2016-07-06 21:34] d4l3k commented on #4473
@petermattis Thanks!

[2016-07-06 21:37] petermattis commented on #4473
Yes, executing the `ChangeReplicas` from the corrupt node looks problematic. I don't have a suggestion here other than we don't want to do that. Replication is normally only triggered from the replica holding the leader lease. Perhaps an RPC to the leader?

[2016-07-06 21:43] petermattis commented on #7653
The underlying problem is still there, I just disabled the part of the test which is failing.

[2016-07-06 21:46] d4l3k opened #7666 "storage: TestTransferRaftLeadership is flaky"
Found with  stress on master 98b248e3981d6a8b16fac061fb8e004e7eed0c50
[code]

[code]

Also occurred in https://circleci.com/gh/cockroachdb/cockroach/19948 with which may be unrelated.
[code]

[2016-07-06 22:44] bdarnell commented on #7666
Maybe be related to the issue being fixed upstream in coreos/etcd#5809

[2016-07-06 23:09] andreimatei commented on #7478
I've pushed https://github.com/cockroachdb/cockroach/pull/7504, which fixes some issues with `DROP`.
Other issues, with dropping large tables, are tracked in #7348.

If your table is small, like `logon` seems to have been, would you mind trying a binary with this fix? You'll have to build from source, or wait for our next release.

[2016-07-06 23:19] bdarnell opened #7668 "stability: slow gossip convergence after restart"
While updating the `beta` cluster to feb9240, the cluster was unavailable for about 20 minutes with what looked like gossip problems. The logs were full of sequences like this:

[code]

indicating that the gossip network was not converging, but the nodes believed they had too many connections to accept new ones. The problem eventually corrected itself. I haven't done a thorough investigation of th

[2016-07-06 23:21] bdarnell opened #7669 "beta-20160707"
Current candiate: feb9240

Beta cluster has been upgraded and experienced gossip issues (#7668). Other clusters are not yet updated. Other blockers include concerns about preemptive snapshots (#7659) and concurrent raft processing (no issue), both of which we intend to disable for this release.

cc @arjunravinarayan

[2016-07-06 23:35] tschottdorf commented on #7669
I would mention https://github.com/cockroachdb/cockroach/issues/7600, too
which is also a form of "concurrent Raft processing" bug, though not fixed
by actually disabling the "concurrent Raft processing" Pete put in (which
may not actually cause problems; we simply don't feel too safe about it at
this point).

On Wed, Jul 6, 2016 at 7:21 PM Ben Darnell <notifications@github.com> wrote:

--

-- Tob

[2016-07-06 23:36] tschottdorf commented on #7600
Going to look at fixing this up for beta tomorrow as (I think) we discussed today.

[2016-07-07 00:01] tschottdorf commented on #6144
Yeah, would be good to sketch that out (I'm also not clear on achieving the single map).
The `PreemptiveSnapshotReceiver` would never become a replica. There's generally no good reason for holding on to a `*raft.RawNode` when it's fully defined by its on-disk state. I think we would just drop one and create the other, which turns it into an issue of synchronization (which is an issue that we have

[2016-07-07 00:07] tschottdorf commented on #4473
I suspect that ReplicaCorruptionError should really be a
StoreCorruptionError at this point because that makes it much more
powerful; if we deal with individual replicas, we must never use it when
the Store's invariants might be in jeopardy (i.e. any panic that is close
enough to any locking, for example). And on a storage layer failure we
likely want to get rid of that disk anyway.
If that's what

[2016-07-07 00:26] petermattis commented on #4473
We currently create `ReplicaCorruptionErrors` for errors that are very likely programmer bugs. For example, `Replica.applyRaftCommand` creates one if the new index is not equal `oldIndex+1`. Marking the entire store as corrupt in those circumstances would be bad. I could very easily see a programming bug causing an entire cluster to become corrupt. I think we should aggressively alert about replic

[2016-07-07 00:32] petermattis commented on #6144
So the "drop one and create the other" approach needs to be fleshed out. As you state, this is a synchronization issue. I'm not convinced that is it easier to have separate types to handle this. Or maybe the separate types should exist, but `Replica` remains as the synchronization point which handles the transition from one type to another.

For a `PreemptiveSnapshotReceiver` I'm not clear on how

[2016-07-07 00:42] d4l3k commented on #4473
We could add two levels of corruption detection. One for replica level
errors and then a store level error for failed checksums (which are more
likely to be disk failures).

Do we have plans to add disk health checking in to cockroach such as the
SMART utilities?

On Wed, Jul 6, 2016, 20:26 Peter Mattis <notifications@github.com> wrote:

[2016-07-07 00:49] petermattis commented on #4473
We should file an issue to add disk health checking via SMART utilities. It's not on the immediate roadmap, but something for 2017.

A failed disk checksum can be an indication a disk is going bad, a random event or a bug in our code. I doubt a single failed disk checksum is sufficient evidence to evacuate a disk. I'd guess that our bugs are going to be far and away the most likely reason we're se

[2016-07-07 01:14] glycerine commented on #7477
@petermattis Thanks Peter.

[2016-07-07 03:25] KenjiTakahashi commented on #7636
Oh, well ;-). Thanks for looking into this!

[2016-07-07 03:44] bdarnell commented on #7669
The gamma cluster is currently down because it has rocksdb checkpointing turned on and filled up its disks. Anyone need this data before I clean it up?

With all the issues around raft and preemptive snapshots, I think we may be better off skipping this week's release.

[2016-07-07 05:02] #7647 closed

[2016-07-07 05:20] tschottdorf opened #7670 "circleci: failed tests: TestSchemaChangePurgeFailure"
The following test appears to have failed:

[#19966](https://circleci.com/gh/cockroachdb/cockroach/19966):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-07 10:07] ddorian commented on #7609
Maybe it's not such a good idea to have that many column families:

From mysql-rocksdb-facebook "Do not create too many column families: 20 is good enough":
http://www.slideshare.net/matsunobu/myrocks-deep-dive/55

Mongodb also went to 1 column-family ~same thing https://jira.mongodb.org/browse/SERVER-17225 because parse were using too many collections->column-families.

[2016-07-07 10:10] tschottdorf commented on #7669
I don't.

Are you sure? If memory serves correctly, we didn't introduce any of those in the last seven days, so all we do by skipping the release is giving a more problematic version one more week to live.

[2016-07-07 11:07] tschottdorf commented on #6144
In my mind, the synchronization issue is orthogonal to whether it's separate types or not or three maps or one (a mutex guards any number of maps of any types in the same way, the enemy is always having some activity already queued/running on one of the items in any of the maps as we replace them). That said, the synchronization issue does need to be fleshed out and I hope to have a more concrete

[2016-07-07 11:39] LorenzoBoccaccia opened #7671 "sql: if exists clause doesn't prevent exceptions"
- What did you do?
working at an incremental script because database versioning is annoying, so defined tables as

CREATE DATABASE IF NOT EXISTS SMTNG;

CREATE TABLE IF NOT EXISTS SOMETHING (
 ID SERIAL PRIMARY KEY
);

ALTER TABLE SOMETHING  ADD COLUMN IF NOT EXISTS OWNER_ID INT;
ALTER TABLE SOMETHING ADD COLUMN IF NOT EXISTS MODEL_ID INT;
ALTER TABLE SOMETHING ADD COLUMN IF NOT EXISTS NAME STRING

[2016-07-07 12:13] petermattis commented on #6144
On Thu, Jul 7, 2016 at 7:07 AM, Tobias Schottdorf <notifications@github.com>
wrote:

During a split (or merge) a `Replica` knows about its siblings. It's true
that `Replica.splitTrigger` currently blindly creates a new replica, but
that's just the current implementation. It could lookup that sibling in the
store and act appropriately. I agree that the contracts here are subtle.

You currently can'

[2016-07-07 12:31] tschottdorf commented on #6144
that `Replica.splitTrigger` currently blindly creates a new replica, but
that's just the current implementation. It could lookup that sibling in the
store and act appropriately. I agree that the contracts here are subtle.

But that's exactly what I'm saying - it has to look in the Store to find any competing Replica. It doesn't know it.

failing. Rather the refactoring to improve clarity or avoid

[2016-07-07 12:37] tschottdorf commented on #6144
That sounds manually massaging again, because we want Raft to make the HardState for us from the result of the snapshot (i.e. if Raft has voted and it gets a Snapshot, it should give us a new HardState for that snapshot which has also voted). If Raft doesn't massage, we will have to.

You currently can't create a `RawNode` with `ReplicaID==0` as
`raft.NewRawNode` will panic.

Do you mean because o

[2016-07-07 12:43] bdarnell commented on #7669
#7468 (fix preemptive snapshots) is new this week, which is at least making issues like #7600 worse. I think we're in worse shape now than we were a week ago. Disabling preemptive snapshots may get us back in a releasable state, but it's turning out to be non-trivial to do that while also preserving the throttling benefits (without which we regress to the unstable state from a few weeks ago).

[2016-07-07 12:50] petermattis commented on #7669
On Thu, Jul 7, 2016 at 6:10 AM, Tobias Schottdorf <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

Ditto.

The split issue doesn't appear new. Preemptive snapshots can be easily
disabled. Ditto for concurrent replica execution.

[2016-07-07 12:57] tschottdorf commented on #7669
That may be true when we don't send them, but what if we go back to discarding them at the receiving end? That also seems like a minimally invasive change.

[2016-07-07 13:54] petermattis commented on #7654
When the failure occurs, a transaction is getting into a retry loop in `Store.Send` where it is failing to resolve the intents for another transaction eventually leading to its deadline expiring. I haven't tracked down yet why it is failing to resolve the intents.

[2016-07-07 14:03] vivekmenezes commented on #7499
Given that we need a fix for this soon, I'm tempted to move forward on this by adding a limit to DelRange(). I think it's a useful addition to the DelRange API even outside of this issue. Any concerns with move forward on that approach.

[2016-07-07 14:28] RaduBerinde commented on #3472
It doesn't matter that much if the expression is simplified or not, but we should be generating the correct spans. We should keep this case in mind when we rewrite the span generation code (tracked by #6346).

[2016-07-07 14:37] petermattis commented on #7499
@vivekmenezes No concerns. I thought you were already moving forward with that approach.

[2016-07-07 14:42] vivekmenezes commented on #7499
I've not been paying any attention to this issue and was expecting to get to it in two weeks. It's hurting users and I'm going to drop what I'm doing (adding checkpointing to schema changes) in favor of this issue.

[2016-07-07 14:49] bdarnell commented on #7669
I was telling @tamird we should just sleep in ChangeReplicas to get the throttling effect. We can definitely aim lower here to get something working.

But the fact remains that two destabilizing changes went in this week (#7468 fix preemptive snapshots and #7531 parallel handleRaftReady). We can make patches this morning to mitigate the problems, but there's no time left to burn in the changes. I

[2016-07-07 14:50] tschottdorf commented on #7499
SGTM. Unfortunately there isn't a trivial way to do this within `storage`.

On Thu, Jul 7, 2016 at 10:43 AM vivekmenezes <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-07 14:51] tschottdorf commented on #7669
If that's your call, I'm going to go with it.
Is moving release by one day not an option at all?

On Thu, Jul 7, 2016 at 10:49 AM Ben Darnell <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-07 14:56] bdarnell commented on #7669
Releasing on friday is an option, but I think I'd prefer to skip a week instead. Any particular reason to push for a release this week?

[2016-07-07 14:59] vivekmenezes commented on #7499
Can I do it the same way Scan() is implemented?

[2016-07-07 15:00] tschottdorf commented on #7669
None other than that I think it's good to keep the flow going. Releasing
next week means twice the changes. I'm also still optimistic that whatever
we would release this week is better than last week (subjectively I felt
worse about last week's than this week's).

On Thu, Jul 7, 2016 at 10:56 AM Ben Darnell <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-07 15:03] petermattis commented on #7499
You mean add a `maxRows` parameter to `DelRange`? Yes, I think that should work.

[2016-07-07 15:07] petermattis commented on #7654
[`mvccResolveWriteIntent`](https://github.com/cockroachdb/cockroach/blob/master/storage/engine/mvcc.go#L1824-L1829) contains the following code snippet :

[code]

The looping transaction is hitting this case. It then proceeds to retry its operation and encounters the intent again, tries to resolve it but doesn't make any progress ad-infinitum.

[2016-07-07 15:18] andreimatei commented on #7654
Yup, that's a known "issue". You can spin forever like that waiting for a txn *T* to commit. But the question is why does this test have a long-running *T* that doesn't commit (or commits and leaves some intents behind?)

[2016-07-07 15:20] tschottdorf commented on #7654
I haven't looked at the details, but since the intent is still PENDING,
this must be an attempt at pushing the timestamp. The code actually looks
incorrect - multiple writers can attempt to push the intent's timestamp
before the epoch updates. I'll update shortly.

On Thu, Jul 7, 2016 at 11:07 AM Peter Mattis <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-07 15:22] petermattis commented on #7654
Yes, there is a `PUSH_TIMESTAMP` operation being performed.

[2016-07-07 15:23] tschottdorf commented on #7654
Ah, nevermind - the code above actually does take care of that. There's no
good reason why a txn would have to come back after that - it got what it
wanted. Logging the txn which encounters the intent (i.e. the pusher)
before it goes to try to push, the `intent` variable in the intent
resolution code snippet above should shed light on what's going on.

On Thu, Jul 7, 2016 at 11:19 AM Tobias Schott

[2016-07-07 15:25] andreimatei commented on #7499
This was also on my list, but I'm glad Vivek's taking it! :)
I was thinking of leaving KV alone, and doing the limit in SQL, in whatever way the `DeletedNode` deals with a `LIMIT` clause (I guess a scan followed by point deletes). Might be some trickiness because the table descriptor cannot be read in the usual way any more in the schema changer (since it's been marked for deletion), but I'm sure

[2016-07-07 15:25] tschottdorf commented on #7628
One more here: https://circleci.com/gh/tschottdorf/cockroach/2433

We should likely skip this test.

[2016-07-07 15:31] bdarnell commented on #6144
The motivation here is that the use of one Replica type for everything is demonstrably making it difficult to make changes safely. @tschottdorf's change to write the hard state and the introduction of preemptive snapshots broke things because of the subtleties of the transition from uninitialized to initialized replicas. Separate types would have made those changes somewhat more complicated, but w

[2016-07-07 15:37] cuongdo commented on #7668
I'm also witnessing this when trying to bring up a new set of `cockroach` instances with the registration cluster backups.

[2016-07-07 15:52] petermattis commented on #7654
I'm seeing txn 8a5bb3b3 (the pusher) encountering an intent for txn 32019d03 (the pushee). Sometime earlier in the log I see:

[code]

But after this point I'm never seeing 8a5bb3b3 try to push another transaction. Seems like it should be trying to push 32019d03 and succeeding.

[2016-07-07 16:07] petermattis commented on #7654
Ah, we're just not logging the situation that is happening. 8a5bb3b3 is still trying to push the timestamp of 32019d03, but 32019d03 has a timestamp that is sufficiently far ahead. I'm a bit lost, so let me recap:

* 8a5bb3b3 is trying to read a key but encounters an intent from 32019d03. The timestamp on the intent is <= the time we're trying to read at.
* 8a5bb3b3 tries to push the timestamp of

[2016-07-07 16:11] d4l3k opened #7677 "storage: add S.M.A.R.T. utilities support for early detection of bad disks"
Brought up in #4473.

https://en.wikipedia.org/wiki/S.M.A.R.T.

Doesn't seem to be any revelant libraries in Go, but there's a short discussion on golang-nuts.
https://groups.google.com/forum/#!topic/golang-nuts/qNlvdmPs1ZU

[2016-07-07 16:19] #7659 closed

[2016-07-07 16:28] tschottdorf opened #7678 "circleci: failed tests: TestStoreMetrics"
The following test appears to have failed:

[#19981](https://circleci.com/gh/cockroachdb/cockroach/19981):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-07 16:55] petermattis commented on #7654
There is a discrepancy between `mvccGetInternal` and `mvccResolveWriteIntent`. The former has:

[code]

And in `mvccResolveWriteIntent`:

[code]

Notice how the above timestamp comparison uses `meta.Txn.Timestamp` while the one in `mvccGetInternal` uses `meta.Timestamp`. These timestamps are not in sync for some reason. Still trying to track down why. If I change the `pushed` calculation to use `m

[2016-07-07 17:16] tschottdorf opened #7679 "circleci: failed tests: TestPGPreparedExec"
The following test appears to have failed:

[#19984](https://circleci.com/gh/cockroachdb/cockroach/19984):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-07 17:23] petermattis commented on #7654
`mvccPutInternal` allows the write timestamp to differ from the transaction timestamp. We should fix the discrepancy between `mvccGetInternal` and `mvccResolveWriteIntent`, but we might also want to ensure that the write timestamp equals the transaction timestamp. I'm not sure what the implications of doing this are.

Looks like the culprit for the discrepancy is `Replica.applyTimestampCache`. If

[2016-07-07 17:29] d4l3k commented on #4473
@petermattis What reason is there for https://github.com/cockroachdb/cockroach/blame/master/storage/replica.go#L250 ? Wouldn't it be easier to return the corruption error so it would get propagated back to the range leader through GRPC?

[2016-07-07 17:35] petermattis commented on #4473
@d4l3k Until recently, we couldn't return errors from raft and returning an error from `withRaftGroupLocked` would cause a panic.

[2016-07-07 17:39] petermattis commented on #7654
And of course, it isn't quite so simple to make that change. Doing so causes the following test failures:

[code]

[2016-07-07 17:39] andreimatei commented on #7677
FWIW, I recall somebody here quoting this Google study to me where they found the SMART indicators to be bad at predicting anything.

[2016-07-07 17:43] d4l3k commented on #4473
So it's fine to return errors from raft now?

As far as I can tell all that should happen is that `(*RaftTransport).processQueue` will close the command queue for that replica and call the error handler. Closing the queue for a destroyed replica seems like the correct thing to happen.

[2016-07-07 17:46] petermattis commented on #4473
It should be. You'll definitely want to test this.

[2016-07-07 18:07] d4l3k commented on #7677
Is this the paper you're talking about?

https://static.googleusercontent.com/media/research.google.com/en//archive/disk_failures.pdf

From my understanding SMART pretty inconsistent, but on the flip side Backblaze apparently finds some of the indicators useful.

https://www.backblaze.com/blog/hard-drive-smart-stats/

Might not be used for anything definitive, but could be useful for highlighting

[2016-07-07 19:09] mrtracy commented on #869
Closed by #5596

[2016-07-07 19:09] #869 closed

[2016-07-07 19:45] mrtracy commented on #5306
Is it appropriate to dump this to the console log, or does it need to be a separate log?  The only concern I could see is PII.

[2016-07-07 20:02] bdarnell commented on #7669
I've pushed 30175ad to beta. It's stable, but performance is much worse than before (reads/sec are about half of the previous level; writes/sec are about 1/8). Is this just the inverse of the gains we made by turning on concurrency or is there something else going on?

[2016-07-07 20:14] mrtracy opened #7682 "ui: Table-level metrics"
This issue is to track work required to record per-table metrics.  Currently, our metrics are focused entirely on stores and nodes, which can be aggregated into a cluster metrics; however, this does not give adequate information on the usage for individual Tables in the system. To support that, we need to make a number of _per-table_ metrics available in our admin API, both as immediate values _an

[2016-07-07 20:15] mrtracy commented on #5398
We have decided to begin keeping per-table statistics in Q3, which will record the unique (de-duplicated) size counts.  For store-level numbers, the replicated numbers should be adequate.

That work is now tracked in #7682

[2016-07-07 20:15] #5398 closed

[2016-07-07 20:25] mrtracy commented on #6993
The row/size metrics are more complicated to compute that the other elements of this information.  These are now being tracked in #7682, which will require a larger amount of work to complete.

Closing, as the rest of this information is already available in the {Database|Table}Details responses.

[2016-07-07 20:25] #6993 closed

[2016-07-07 20:36] tschottdorf commented on #7578
Fixed in #7625.

[2016-07-07 20:36] #7578 closed

[2016-07-07 21:11] nvanbenschoten commented on #7290
I'm starting to question if there is any way that we can estimate `MVCCStats` during the initialization of a Merge (in `updateStatsOnMerge`) in such a way that we can adjust `MVCCComputeStats` to produce identical results. The issue I'm seeing is that a given `Merge` for Timestamp values, which is currently the only situation where we use it, may not add any new information to an existing kv pair.

[2016-07-07 21:17] tschottdorf commented on #7290
That would be a bit of a bummer since we don't actually GC timeseries data
and so its size is pretty relevant. Before we do that, could we at least
count timeseries kv pairs? After all, a merge never deletes one but will
always create one if there isn't one, and when you delete it's not a merge
so you know whether you deleted or not.

On Thu, Jul 7, 2016 at 5:11 PM Nathan VanBenschoten <
notificat

[2016-07-07 21:18] bdarnell commented on #7290
We can't just ignore time series data completely. We have ranges that consist solely of time series data, and those ranges need stats so we can split them. (We'd still have the keys, so these ranges wouldn't have size zero, but the ratio of value size to key size in the TS ranges is pretty low IIRC so we'd have a hard time managing the size of these ranges)

[2016-07-07 21:30] nvanbenschoten commented on #7290
@tschottdorf Do you mean with our current `KeyCount` field in stats? If so, I'm not sure I see an easy way to do that (which is why we currently don't). When we issue a Merge, we have no way of synchronously knowing if we're creating a new key or merging into an existing key, so we won't know whether to add to the count or not. Am I missing what you meant?

Also, you bring up a good point that as

[2016-07-07 21:30] andreimatei commented on #7297
Reminder to everybody involved that, once this is fixed, we should get rid of forcing full replication in `multinode_test.go` (soon to be `TestCluster`).

[2016-07-07 21:36] tschottdorf commented on #7290
@nvanbenschoten no, I just didn't think this through.

[2016-07-07 21:52] bdarnell commented on #4473
Ultimately I think we want two levels of corruption error, one for the store and one for individual replicas. I'd say the store-level one is more important; it's safer to drain the whole store and start over from scratch than to assume that we'll be able to recover by destroying the corrupted replica. It's true that an overzealous StoreCorruptionError could knock out the whole cluster, but so coul

[2016-07-07 22:00] tschottdorf commented on #7682
https://github.com/cockroachdb/cockroach/issues/7611 could be useful (leaseholder-collected mostly accurate replicated stats)

[2016-07-07 22:03] tschottdorf commented on #5807
I'm untagging this as `easy` because I don't think it qualifies.

[2016-07-07 22:06] tschottdorf commented on #7611
Sorry for getting back to you that late @a6802739. I think this issue isn't ready to be tackled yet (we're not yet sure if we're going to use it, see #7682 where that decision will likely be made).
We have a few issues which are worth tackling and aren't too hard here: https://github.com/cockroachdb/cockroach/issues?q=is%3Aopen+is%3Aissue+label%3Aeasy

I think https://github.com/cockroachdb/cockro

[2016-07-07 22:08] petermattis commented on #7290
I'm not seeing any way to fix this either. So perhaps we give up on accurate stats when the merge operator is used. We want to keep the optimization to only compute the stats for the left side of a split in the common case. What if we added a field to `MVCCStats` that indicates that a merge operation has been applied? During a split, if we see that a merge operation has occurred on the range, we r

[2016-07-07 22:10] bdarnell commented on #7290
If the stats are too low, the split will never happen. We need to maintain approximately valid stats in order to trigger splits.

Recomputing stats on splits will still leave windows of inconsistency that will be reported by the consistency checker unless we make it specially aware of MVCCStats and this merge flag.

[2016-07-07 22:13] tschottdorf commented on #7290
_if and only if_ https://github.com/cockroachdb/cockroach/issues/7611 (leaseholder-collected mostly accurate replicated stats) becomes a thing, this would actually fit into that category relatively nicely. Instead of `*MVCCStats`, we would pass around a larger object which has more counters, but which aren't necessarily authoritative. If we put timeseries in that category and then "ignored them" f

[2016-07-07 22:26] bdarnell commented on #7669
Closing this issue since we're not doing a release this week, but for the record all test clusters have been updated with 30175ad.

[2016-07-07 22:26] #7669 closed

[2016-07-07 22:41] RaduBerinde commented on #5777
We already use "SKIP DOC" as a way to hide certain parts from documentation. We could add a separate "ADVANCED DOC" to conditionally include certain parts.

https://github.com/cockroachdb/docs/blob/a300652b77888f9e664aad9c3ed5e8960b476d85/generate/extract/extract.go#L84

[2016-07-07 23:44] tschottdorf opened #7687 "circleci: failed tests: TestPGPreparedExec"
The following test appears to have failed:

[#20008](https://circleci.com/gh/cockroachdb/cockroach/20008):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-07 23:48] tschottdorf opened #7688 "circleci: failed tests: TestReplicateAddAndRemove"
The following test appears to have failed:

[#20008](https://circleci.com/gh/cockroachdb/cockroach/20008):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-07 23:51] tschottdorf commented on #7224
Just a heads up that we lost the logs for the gamma backup.

[2016-07-08 00:15] andreimatei opened #7689 "storage: TestMultinodeCockroach is dead slow waiting for replication"
`TestMultinodeCockroach` sometimes runs fast, sometimes takes 30s, sometimes takes 60s.
It's the "waiting for replication" that's slow, and it doesn't seem to be because of #7297.

I looked at logs with Tobi and it seems that, when the waiting is eventually unblocked, it's soon after a gossip update. So a theory is that the gossip update triggers the replication queue, because the range needing re

[2016-07-08 00:31] petermattis commented on #7290
@bdarnell We do maintain approximate stats for merges. I'm not proposing we remove those approximations. Currently, they under-estimate the size of merges. We could change them to over-estimate so we split ranges containing merges too early.

Can you elaborate on how recomputing stats on splits leaves a window of inconsistency. I think the consistency checker computation was performed as a raft co

[2016-07-08 00:33] petermattis commented on #7689
FWIW, I had a small test program that started a 3-node cluster (using 3 separate processes) and waited for the initial replication to finish. Last week it was taking 1s. That should be the number we're targeting for `TestMultinodeCockroach`.

[2016-07-08 03:47] cuongdo opened #7691 "acceptance: allocator tests don't detect node crash during rebalance"
Example:
http://teamcity.cockroachdb.com/viewLog.html?buildId=913&buildTypeId=Cockroach_AllocatorTest1to310g&tab=buildLog

Relevant log entries:
[code]

Right now, the code that checks the rebalancer status naively continues after all errors. Instead, we need to continue after transient errors (e.g. context deadline exceeded) but fail on permanent errors (e.g. connection refused).

[2016-07-08 04:15] tschottdorf commented on #7691
Periodically calling Assert should also help, no? And requiring that there
is a non-error every minute.

On Thu, Jul 7, 2016, 23:47 Cuong Do <notifications@github.com> wrote:

--

-- Tobias

[2016-07-08 10:33] knz opened #7693 "*: all nodes in zombie state"
Reported by @LorenzoBoccaccia on Gitter:
- is there a way to limit max memory usage of the cockroach process? this thing is eating up all memory including the swap even while doing nothing (literally, zero connections ever, no data), if tomcat sneezes oomk will bring down the whole thing just because
- ah, didn't notice but this morning all nodes were ded (ram is still used and process is still up

[2016-07-08 10:46] LorenzoBoccaccia commented on #7693
also whatever happened propagated to all cluster nodes
![image](https://cloud.githubusercontent.com/assets/3062853/16685220/f8074c00-4509-11e6-94d3-b7bcbe8cc16a.png)

[2016-07-08 12:06] tschottdorf commented on #7290
Mostly this just leaves a bad taste because I'd rather have a clearer separation of "true" and "approximate" stats, and because adding two ways in which a split can process is one way too many.

Another potentially silly idea: Can we experiment with just reading the key after the merge to get the real stats? Sure, that isn't very performant, but with an iterator we should be able to use `unsafe{Ke

[2016-07-08 12:14] vivekmenezes commented on #7290
inconsistency in issue #7693 might be related to this

On Fri, Jul 8, 2016, 8:06 AM Tobias Schottdorf <notifications@github.com>
wrote:

[2016-07-08 12:14] petermattis commented on #7290
How is reading after the merge operation better performance than reading before the merge operation? If it isn't better performance then we'd be better off reading before the merge and essentially transforming merge into read-modify-write.

[2016-07-08 12:20] petermattis commented on #7693
@LorenzoBoccaccia Thanks for the report.

By default, cockroach uses 1/4 of physical memory for the RocksDB cache. Were you setting the `--cache-size` flag? If not, running 6 nodes on a single machine is going to cause problems.

Even an idle node will be periodically writing stats, but what you have experienced is extreme. I see from your screenshot that the nodes started 19 hours ago. Was that w

[2016-07-08 12:22] tschottdorf commented on #7290
I think it would be less efficient because what you're suggesting is doing the merge in Go, right (at which point we remove Merge)? The C++ side is likely going to be better about memory, though I don't know what the overhead of doing a Merge when you're going to always read is.

[2016-07-08 12:23] tschottdorf commented on #7290
Oh, you're probably suggesting doing the RMW in C++? That sounds good.

[2016-07-08 12:39] LorenzoBoccaccia commented on #7693
sorry I didn't make it clear, but it's six different (virtual) machines, each with 4 cores, 2g ram and 40g hdd.

I restarted the cluster once because it hung up during a database drop, it previously ran for 2 days after I had to recreate it because gossip didn't work and some nodes couldn't join.

after restarting every node joined as usual and resumed operations, only to die the morning after. I?

[2016-07-08 13:19] petermattis commented on #7290
C++ vs Go wasn't on my mind. I was wondering why doing the read after the merge would be better than getting rid of merge and replacing it with RMW. One benefit of the merge-then-read approach is that it keeps the write amplification as it is now. If we do a RMW then we'll be writing all of the timeseries data on every update. That sounds bad.

Actually, I think we'll need a read-then-merge approa

[2016-07-08 13:22] petermattis opened #7694 "storage: move Store.replicaDescCache into Replica"
From this [TODO](https://github.com/cockroachdb/cockroach/blob/master/storage/store.go#L370-L384):

[code]

[2016-07-08 13:31] tschottdorf opened #7695 "circleci: failed tests: TestMultinodeCockroach"
The following test appears to have failed:

[#20013](https://circleci.com/gh/cockroachdb/cockroach/20013):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-08 14:40] petermattis commented on #7693
The supplied data directory contains 64065 keys. The breakdown is as follows:
* 48 keys in the namespace table
* 667 keys in the descriptor table
* 15 keys in the zones table
* 40 keys in the lease table
* 314 keys in the event log table
* 3206 keys in the range event table
* 64 keys in the ui table
* 48054 timeseries keys
* 9633 raft log keys
* 723 meta keys (meta1 and meta2)
* 1472 miscellaneous

[2016-07-08 14:52] tschottdorf commented on #7693
Off topic, but it'll be helpful for future such analyses if you post some
of the commands you ran to arrive at this breakdown.

On Fri, Jul 8, 2016 at 10:40 AM Peter Mattis <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-08 14:52] petermattis commented on #7693
I'd be willing to bet those large `VerifyChecksumRequest` messages are also causing memory blow up.

[2016-07-08 14:53] tschottdorf commented on #7693
Just saw the PR. Even better!

On Fri, Jul 8, 2016 at 10:52 AM Tobias Schottdorf <tobias@cockroachlabs.com>
wrote:

--

-- Tobias

[2016-07-08 14:55] tschottdorf commented on #7693
Yeah. Perhaps that can explain a lot of weirdness we've been seeing on test clusters when the consistency checker is unhappy.

[2016-07-08 15:00] petermattis commented on #7693
Looking into the gossip problem. The first indication is:

[code]

A short time later:

[code]

And then:

[code]

@tamird I think you're the authority on gossip. What can you make of this? Note that the logs are contained in the cockroach-data.zip that @LorenzoBoccaccia provided.

[2016-07-08 15:04] petermattis commented on #7693
The spike in Go memory usage occurred slightly before the above events:

[code]

So over the span of 20s, Go memory usage grew by 650 MB and the only entry in the log is a leader lease acquisition. Note that this is well before the first consistency check failure which occurred at `E160707 08:57:38.200673`.

[2016-07-08 15:19] tschottdorf commented on #7693
Related gossip issue here:
https://github.com/cockroachdb/cockroach/issues/7668

I haven't looked at this closely, but we shouldn't be seeing many
capacity-based forwards ("refusing gossip from node x (max 3 conns)") -
maybe we're not decreasing the count correctly.

On Fri, Jul 8, 2016 at 11:09 AM Peter Mattis <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-08 15:21] petermattis commented on #7693
Perhaps gossip should periodically log its state. Similar to the runtime stats, it would be handy to see the number of incoming/outgoing gossip connections and basic stats about traffic.

[2016-07-08 15:23] paperstreet opened #7697 "sql: cannot force a new family with ALTER TABLE ADD"
There's no way to force a column to be in its own family with the ALTER TABLE ADD syntax. If you try to specify FAMILY information, you have to give a family name and it errors if that name doesn't exist. If you don't specify a FAMILY, the heuristics may assign it to an existing one

[2016-07-08 16:11] RaduBerinde opened #7698 "Makefile: should error out if bash isn't installed"
Trying to build cockroach without `bash` results in a very cryptic error (see https://www.cockroachlabs.com/blog/critters-in-a-jar-running-cockroachdb-in-a-freebsd-jail/#comment-2771120260)

[code]

We should error out with a more helpful message.

We should also call this out in the prerequisites in CONTRIBUTING.MD and in the build instructions (https://www.cockroachlabs.com/docs/install-cockroac

[2016-07-08 16:13] glycerine commented on #7477
still happening at tip:

[code]

[2016-07-08 16:14] glycerine opened #7699 "make accept on linux still dies will c++ exception handling frame problems."
I can't seem to re-open https://github.com/cockroachdb/cockroach/issues/7477, but it is still a problem.

At tip:

[code]

[2016-07-08 16:27] RaduBerinde commented on #7699
Can you try removing  `$GOPATH/bin/linux_amd64*` and `$GOPATH/pkg/linux_amd64*` in case there are leftovers from before Peter's fix?

[2016-07-08 16:31] glycerine commented on #7699
Okay. Will do.

[2016-07-08 16:37] RaduBerinde commented on #7698
#4958 is the reason we need bash.

[2016-07-08 16:53] glycerine opened #7701 "make accept builds on linux take *forever*"
apparently they are building rocksdb from c++ scratch every darn time, inside the docker container.

I don't thinks RocksDB is changing that much. The docker container could just come with pre-built rocksdb and pre-built c-rockdsb, and this would save a ton of time (and perhaps CI cost).

[2016-07-08 16:56] glycerine commented on #7699
No dice. It's still a problem, even after cleaning out bin/ and pkg/

[code]

[2016-07-08 17:08] tschottdorf commented on #7701
`make acceptance` does cache all the build artifacts (in the host machine
GOPATH; that's what we suspected screwed up your linker) and it does not
usually build RocksDB new at all. Are you sure they do that? We've also had
an issue in which a `go list ./...` inside of the container takes forever.

On Fri, Jul 8, 2016 at 12:53 PM Jason E. Aten, Ph.D. <
notifications@github.com> wrote:

--

-- Tobia

[2016-07-08 17:30] petermattis commented on #7699
Something is messed up here. I'm investigating.

[2016-07-08 17:32] petermattis commented on #7699
@glycerine Can you try the following diff:

[code]

[2016-07-08 17:32] jseldess commented on #7670
Same failure here: https://circleci.com/gh/cockroachdb/cockroach/20028

[2016-07-08 17:39] glycerine commented on #7699
@petermattis yes, trying it now...

[2016-07-08 17:39] petermattis commented on #7699
@glycerine Thanks. See the [PR](https://github.com/cockroachdb/cockroach/pull/7703) I just sent which slightly expands on that diff.

[2016-07-08 17:41] glycerine commented on #7699
@petermattis ok, fetching that PR...

[2016-07-08 18:02] glycerine commented on #7699
@petermattis: Yay, it built!

[2016-07-08 18:17] tschottdorf opened #7705 "circleci: failed tests: TestParallel"
The following test appears to have failed:

[#20030](https://circleci.com/gh/cockroachdb/cockroach/20030):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-08 18:33] bdarnell commented on #7698
We also need bash for `depvers.sh` (invoked indirectly by `make build`). And maybe for other shell scripts, but I think `depvers.sh` is the only one involved in regular builds.

[2016-07-08 19:36] #7699 closed

[2016-07-08 19:47] mrtracy commented on #7290
Merge-then-read is probably fine; that's essentially the performance that already exists when the Admin UI is open.  Really, we have no established requirements for time series performance; I'm not quite sure how to go about benchmarking it.

I have another suggestion, as I do not understand RocksDB performance that well: what if we stored every sample in its own key?  Currently, we group multiple

[2016-07-08 19:57] tschottdorf commented on #7290
Even if that works, that seems more invasive (migrations?) and a lot more
code changes. If what Pete suggests isn't horrible, it's probably the way
to go to get this issue off our plates.

-- Tobias

[2016-07-08 20:00] bdarnell commented on #7290
Sorry, I thought the inconsistency was already there and the proposal was to fix it up during splits. But the data is already consistent thanks to our previous work in this area. Recomputing stats on split seems fine to me then, as long as the pre-split stats are close enough to accurate that the splits happen.

I believe merge operations are only worthwhile when the ratio of reads to writes is le

[2016-07-08 20:05] petermattis commented on #7290
Even if we read on every merge operation, there is still a benefit in using merge instead of write: we only write the new data. Consider the time series which are ~5KB when containing a full hour of data. Using merge to add a new sample means writing ~15 bytes vs a full write which would be ~5KB.

[2016-07-08 20:26] tschottdorf opened #7708 "circleci: failed tests: TestMultinodeCockroach"
The following test appears to have failed:

[#20047](https://circleci.com/gh/cockroachdb/cockroach/20047):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-08 20:29] petermattis opened #7709 "storage: internal documentation of ChangeReplicas and snapshot application"
Similar to #7704 and #7683. Should cover the `ChangeReplicas` flow and both Raft and preemptive snapshots.

[2016-07-08 20:31] petermattis opened #7710 "storage: internal documentation of Store and Replica locking/synchronization"
Similar to #7704 and #7683. Document the locking and synchronization used by `Store` and `Replica`, specifically `Store.processRaftMu`, the `Store` raft goroutine, `Store.mu.Mutex`, `Store.pendingRaftGroups.mu.Mutex` and `Replica.mu.Mutex`.

[2016-07-08 20:34] LorenzoBoccaccia commented on #7693
left the cluster alone without touching anything, not restarting nodes, nothing at all. after another half day now the server gives a 500 error; before it was at least showing the admin interface.

last error is
E160708 16:30:49.541776 server/admin.go:638  rpc error: code = 13 desc = An internal server error has occurred. Please check your CockroachDB logs for more details.

but CockroachDB logs d

[2016-07-08 20:39] petermattis commented on #7693
@LorenzoBoccaccia Your cluster is in a bad state. I would be extremely surprised if it recovered on its own. No need for an updated data dir at this point. We have a couple of actions to take on our side.

[2016-07-08 20:47] #7698 closed

[2016-07-08 22:04] amangoeliitb commented on #2115
Any updates on this @petermattis ?

[2016-07-08 22:49] cuongdo opened #7712 "acceptance: allocator tests don't destroy cluster upon timeout"
When the TESTTIMEOUT for `make test` is triggered, it doesn't seem to allow the allocator test to destroy its test cluster as it usually does. This wastes GCE computing resources.

[2016-07-08 22:53] cuongdo commented on #7712
Also, node logs aren't stored as TeamCity artifacts when we encounter the timeout.

[2016-07-08 22:57] tschottdorf commented on #7712
I don't think the test gets to do anything about the test timeout (it's a
panic in a separate goroutine, so we can't recover() it). But I think we
might be able to `flag.Lookup` the `-test.timeout` flag and then do a more
orderly shutdown before we hit the hard limit.

On Fri, Jul 8, 2016 at 6:54 PM Cuong Do <notifications@github.com> wrote:

--

-- Tobias

[2016-07-08 23:16] #7515 closed

[2016-07-09 00:01] petermattis commented on #7712
Could whatever script runs the acceptance test also perform cleanup? Surely something is invoking `make acceptance` or `acceptance/run.sh`. If the tests left a little state indicating the GCE resources they are using, a small additional utility could be run after the tests to cleanup any dangling state.

[2016-07-09 00:07] petermattis commented on #2115
@amangoeliitb `ARRAY` is on our roadmap, but not scheduled for the near term. Do you mind explaining what your use case is? Perhaps there is a suitable alternative using the existing SQL functionality.

[2016-07-09 00:30] #7600 closed

[2016-07-09 11:58] #7474 closed

[2016-07-09 13:56] petermattis opened #7713 "storage: better testing of range split corner cases"
#7700 added a test for a bug that occurred when a range split races with the creation of the uninitialized RHS of the split. The test tries to trigger the race by tweaking various knobs like the raft tick interval, but these are crude tools. The comment in #7700 mentions the idea of a `TestPoint` construct. I'm not sure if `TestPoint` is the correct tool for the job, but in general we need to be d

[2016-07-09 16:51] tamird commented on #7695
#7689

[2016-07-09 16:51] #7695 closed

[2016-07-09 16:52] tamird commented on #7708
#7689.

[2016-07-09 16:52] #7708 closed

[2016-07-09 17:18] petermattis commented on #7290
If we're ok about losing historical timeseries data, then migration can be handled by changing the timeseries prefix and deleting keys containing the old prefix during compactions.

[2016-07-09 17:44] petermattis commented on #7290
Reading the previous timeseries before merging or reading the new timeseries after merging causes a pretty horrific performance decrease:

[code]

For the "new" I inserted a call to read the previous timeseries (without decoding it) in `DBMerge`. This performance decrease is so horrible that it feels like I must have done something wrong, though the change is only 5 lines of code:

[code]

[2016-07-10 00:05] petermattis opened #7719 "gossip: add metrics"
Add basic metrics for gossip:
* Number of incoming and outgoing connections.
* Total infos/bytes sent/received.

[2016-07-10 06:59] nvanbenschoten commented on #7290
I implemented a fix for this in #7721 using the strategy from @petermattis:

I haven't been able to find any pitfalls with this approach (besides the extra logic in `splitTrigger`, which isn't too bad), and it seems to at least fix the immediate issue.

[2016-07-10 07:08] #7412 closed

[2016-07-10 07:23] tschottdorf opened #7722 "circleci: failed tests: TestRaftAfterRemoveRange"
The following test appears to have failed:

[#20076](https://circleci.com/gh/cockroachdb/cockroach/20076):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-10 15:35] petermattis commented on #6025
Is this the same as #7654?

[2016-07-10 15:35] petermattis commented on #7705
Duplicate of #7654.

[2016-07-10 15:35] #7705 closed

[2016-07-10 15:35] petermattis commented on #7501
Duplicate of #7419.

[2016-07-10 15:35] #7501 closed

[2016-07-10 15:36] petermattis commented on #7637
Duplicate of #7480.

[2016-07-10 15:36] #7637 closed

[2016-07-10 15:36] petermattis commented on #7687
Duplicate of #7679.

[2016-07-10 15:36] #7687 closed

[2016-07-10 15:36] petermattis commented on #7688
Duplicate of #7565.

[2016-07-10 15:36] #7688 closed

[2016-07-10 15:37] petermattis commented on #7458
Duplicate of #7488.

[2016-07-10 15:37] #7458 closed

[2016-07-10 17:35] vivekmenezes opened #7724 "sql: schema change ExtendLease() calling txn.SetSystemConfigTrigger() frequently"
Resulting in unnecessary gossip traffic.

A solution is to have ExtendLease check the timestamp on the lease and only extend the lease if the lease needs renewing. Eventually we can also consider moving the lease off the table descriptor.

[2016-07-10 19:37] bdarnell opened #7726 "kv: Data race in TxnCoordSender.tryAsyncAbort"
Found on the `rho` cluster at commit 30175ad

[code]

[2016-07-10 19:40] knz opened #7727 "sql: * in function other than COUNT causes server to panic"
[code]

(for any table foo)

causes
[code]

[2016-07-10 19:56] knz opened #7728 "sql: prepared statements cause current database scope to be lost"
Reproduce with this specific sqllogictest inputs:

[code]

This will show that:

1) the query on line 47493 fails with a `pq: division by zero`

2) all subsequent queries fail with `pq: no database specified: ...`

Same happens with `slt_good_11.test` on line 46566.

[2016-07-10 19:57] knz commented on #7728
Note: couldn't reproduce with a smaller input so far.

[2016-07-10 20:06] bdarnell opened #7731 "storage: Call raftGroup.ReportUnreachable sooner"
We currently call `raftGroup.ReportUnreachable` when the transport queue fills up. It would be (slightly) beneficial to call it sooner, at the first sign of problems, instead of waiting for the queue to fill.

Extracted from #1029

[2016-07-10 20:11] bdarnell opened #7732 "storage: Test RaftTransport with failures"
The current tests of RaftTransport only cover successful cases; we should have more testing of failure scenarios.

Extracted from #1029

[2016-07-10 20:11] knz opened #7733 "sql: sqllogictest "random expr" test failures"
Running:
[code]
Results:
[code]

Full error output: [expr-results.zip](https://github.com/cockroachdb/cockroach/files/356180/expr-results.zip)

[2016-07-10 20:11] knz commented on #7733
cc @nvanbenschoten if you want to dig low hanging fruits from there?

[2016-07-10 20:12] bdarnell commented on #6988
Unassigning since I'm not actively working on this.

[2016-07-10 20:12] bdarnell commented on #6879
Unassigning since I'm not actively looking at this.

[2016-07-10 20:18] bdarnell commented on #6750
Retitling and summarizing this issue: We've had to set `SendNextTimeout` very high to avoid races in the KV layer. We need to fix the races and then set SendNextTimeout to a more reasonable value. As we've seen in #7108, the lack of retries here can cause availability problems.

Unassigning myself since I'm not actively looking at this right now.

[2016-07-10 20:20] bdarnell commented on #6409
Unassigning myself since I'm not actively looking at this.

[2016-07-10 20:23] bdarnell commented on #6745
Unassigning myself since I'm not actively looking at this.

[2016-07-10 20:23] knz opened #7734 "sql: implement a test generator similar to sqllite's sqllogictest for TestLogic"
See #7733: there are too many divergences between cockroachdb and sqllite to keep using sqllogictests as-is.

We need a test generator that exercises mixes of:
- expressions
- complex joins
- complex group by
- complex aggregates

[2016-07-10 20:23] knz commented on #7733
@petermattis so more or less all of the other sqllogictests that we don't run yet as part of `-bigtest` either fail with these kinds of errors, or with "out of memory" (mostly due to #7572).

For me this strongly suggests the end of the road for the existing sqllogictests.

We may be able to sweeten the deal slightly by tweaking some typing rules but the bunch of the errors are simply too "loose"

[2016-07-10 20:26] bdarnell commented on #1029
#7735 fixes the trivial part of this issue, and the other parts are split out into #7731 and #7732.

[2016-07-10 20:28] knz commented on #7734
Alternatively, implement a query analyzer that filters out those sqllogictests for which we have different rules than pg/sqllite. That might be slightly more tractable. Namely:

- filter out queries using comparisons string vs. non-string
- filter out queries using division
- filter out queries with an error "expected type X, found type Y" with both X and Y numeric types

[2016-07-10 20:34] bdarnell commented on #6623
This hasn't happened again, and I made a bunch of changes in the `kv` package after we saw this, so I assume it's fixed.

[2016-07-10 20:34] #6623 closed

[2016-07-10 21:02] bdarnell commented on #7710
I'll take this on; it will fit nicely with #4476

[2016-07-11 00:28] petermattis commented on #7733
@knz Yeah, I agree we're reaching the end of the road for the sqllogictests. #7734 is the eventual road forward.

[2016-07-11 00:32] petermattis commented on #7726
`TxnCoordSender.Send` is holding on to the memory of the `EndTransactionRequest.IntentSpans` in `TxnCoordSender.txns[txnID].keys` and then mutating that slice in `TxnCoordSender.tryAsyncAbort`. I'll take another look at this tomorrow, but I think we have to avoid any sharing there.

[2016-07-11 06:28] jonasschneider commented on #6046
I am able to reproduce this with a cluster topology of two nodes in the same DC and one satellite node far out (~200ms RTT). Is there a workaround to increase the set deadline or to extend it?

Is this also an issue caused by long-running transactions, or does this only stem from the network latency issues?

[2016-07-11 09:16] a6802739 commented on #7611
@tschottdorf , sorry to response late. I will try to deal with #7643 and #7610.

[2016-07-11 09:23] a6802739 commented on #7610
@tschottdorf , I could do this issue. can I assign this to myself?

[2016-07-11 09:27] tschottdorf commented on #7610
Hi, no need to assign - it's all yours. :)

On Mon, Jul 11, 2016 at 5:23 AM songhao <notifications@github.com> wrote:

--

-- Tobias

[2016-07-11 10:41] tschottdorf opened #7737 "storage: better testing of applySnapshot"
From #7598 via @petermattis:

I was referring to applySnapshot in general. It looks like it is only tested indirectly, but I can't see a reason for that. It's not necessary to address in this PR, but we should file an issue to thoroughly test all of the applySnapshot possibilities (preemptive vs non-preemptive, existing HardState vs empty HardState, etc).

Also in this PR via @bdarnell:

etcd/raft

[2016-07-11 13:20] petermattis opened #7739 "storage: large VerifyChecksum requests cause Raft log and memory blow-up"
Noticed in #7693.

[2016-07-11 13:32] #7726 closed

[2016-07-11 13:54] vivekmenezes commented on #7739
I hope this is not a high priority?

[2016-07-11 13:57] petermattis commented on #7065
@d4l3k With #7438 merged, can this issue be closed?

[2016-07-11 14:05] petermattis commented on #7739
The Raft log and memory blow-up from this are pretty severe. I think its debatable whether this pushes the issue of the high priority threshold. Certainly, this is noticeable by users.

I'm not sure what a good fix is. We could disable the detailed verify-checksum code path by default. Or we could restructure `CheckConsistency` and `VerifyChecksum` so that they operate on smaller chunks of the ran

[2016-07-11 15:10] cuongdo opened #7742 "tests: fix emails for daily tests"
As far as I know, the daily tests aren't emailing out any more. At least, I don't see emails going to the `daily` Google Group. Let's get that working again.

[2016-07-11 15:33] tamird commented on #7742
Dupe of https://github.com/cockroachdb/cockroach-prod/issues/98

[2016-07-11 15:42] #7065 closed

[2016-07-11 16:10] #7179 closed

[2016-07-11 16:29] cuongdo commented on #7407
Closing because the momentum has swung toward TeamCity

[2016-07-11 16:29] #7407 closed

[2016-07-11 16:30] cuongdo commented on #5681
doesn't seem useful

[2016-07-11 16:30] #5681 closed

[2016-07-11 17:05] bdarnell commented on #7739
Originally, we only collected the full verification information when the consistency checker was running in panic mode, so we'd only run out of memory if we were about to panic anyway. I changed it to always print the details so we'd have more information when/if this failed again even if we hadn't enabled panic mode.

We could easily undo that change, although we still need to get full consistenc

[2016-07-11 17:23] bdarnell commented on #6046
@jonasschneider It's most likely related to the network latency; we haven't yet done much testing with > 200ms RTT. We know there are some issues but we don't know yet which variables need to be tweaked for this kind of environment.

Also, asymmetric configurations like this are not ideal. The remote node is likely to be chronically behind, so as soon as you lose one of the two nodes in the main D

[2016-07-11 17:48] petermattis commented on #7739
How would you move the details phase `VerifyChecksum` out of a raft command? We want to get a snapshot at the same raft log index which seems difficult if we don't go through raft.

[2016-07-11 17:53] tschottdorf opened #7746 "storage: avoid mutating ba.Txn in-place"
There are various TODOs about this in my name to highlight the worst offenders (at the time of writing, `applyTimestampCache` leads the pack).

[2016-07-11 18:06] vivekmenezes commented on #7739
The first phase BeginChecksum fixes the snapshot at which to compute a checksum and assigns a unique id to it, the verify checksum can out of band pass the id and the checksum for verification. It need not go through raft.

[2016-07-11 18:06] bdarnell commented on #7739
We don't get a raft snapshot in `VerifyChecksum`. We get the snapshot in `ComputeChecksum` and store it in `Replica.mu.checksums` for later. I think `VerifyChecksum` is a raft command because it was more convenient to do it that way than to introduce a separate kind of RPC (with a then-unprecedented addressing scheme).

[2016-07-11 19:03] #7495 closed

[2016-07-11 19:08] #5306 closed

[2016-07-11 19:18] petermattis commented on #7739
Ah, yes, got it. Moving `VerifyChecksum` out of Raft seems like the right thing to do.

[2016-07-11 19:43] petermattis commented on #7297
@paperstreet Ping. We should get the fix in soon even if we're waiting for additional infrastructure to test it properly.

[2016-07-11 19:53] paperstreet commented on #7297
@petermattis Unfortunately, the fix breaks `TestUnreplicateFirstRange`. I've spent a number of hours looking into why with @tschottdorf but I haven't nailed down what's happening yet.

[2016-07-11 20:09] petermattis commented on #7297
Ok. Let me take a look.

[2016-07-11 20:12] paperstreet commented on #7297
The last thing I found was that it seems like after range 1 is unreplicated from node 2, then node 2 keeps trying to elect itself as leader, but is waiting for a 2 node majority. It never gets that majority because it's ignoring node 1 (I think). Without the first range gossip change, it only waits for a 1 node majority, which is correct.

[2016-07-11 20:16] bdarnell commented on #7297
Downreplicating a range from 2 replicas to 1 is a weird case and I'm not sure if we can/should support it. I think we should change TestUnreplicateFirstRange to use all three stores (i.e. upreplicate to all three, then remove from node 1 leaving it on 2 and 3. The point of the test is just to make sure that caches get invalidated correctly and we can find the range once it has moved from store ) s

[2016-07-11 20:24] petermattis commented on #7297
Changing that test to down-replicate from 3-2 and then up-replicate from 2-3 still hangs sometimes. The hang only occurs if we call `Replica.maybeGossipFirstRange` from `Replica.changeReplicasTrigger`.

[2016-07-11 20:24] petermattis commented on #7297
And here is the error that is logged over and over:

[code]

[2016-07-11 20:41] andreimatei commented on #7689
The (now skipped) test has been renamed to `TestWaitForFullReplication`

[2016-07-11 20:42] #7658 closed

[2016-07-11 20:56] tschottdorf opened #7750 "circleci: failed tests: TestPGWireConnectionCloseReleasesLeases"
The following test appears to have failed:

[#20112](https://circleci.com/gh/cockroachdb/cockroach/20112):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-11 21:03] knz commented on #7728
Running this test with '-verbosity 1' reveals:

[code]

So after the "division by zero" is encountered, there is a reconnect (v3.go encounters the various SET statements issued by sql/pq).

[2016-07-11 21:03] knz commented on #7728
This is strange because the other errors (there are plenty) do not cause such a reconnect.

[2016-07-11 21:08] knz commented on #7411
Fixed by #7512  or #7729.

[2016-07-11 21:08] #7411 closed

[2016-07-11 21:11] #6025 closed

[2016-07-11 21:11] #7654 closed

[2016-07-11 21:26] tschottdorf opened #7753 "circleci: failed tests: TestPGWireConnectionCloseReleasesLeases"
The following test appears to have failed:

[#20114](https://circleci.com/gh/cockroachdb/cockroach/20114):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-11 21:26] tamird commented on #7753
#7750.

[2016-07-11 21:26] #7753 closed

[2016-07-11 21:58] bdarnell opened #7757 "storage: Reconsider locking in Store.Send"
`Store.GetReplica()` acquires and releases `Store.mu` and returns a pointer to a `Replica`. Unless this is called under `Store.processRaftMu`, the replica could be destroyed while in use. Specifically, `Store.Send` uses `GetReplica` and then calls `Replica.Send`.

We need to either ensure that all methods on `Replica` fail gracefully when the replica is destroyed while in use, or ensure that some

[2016-07-11 22:10] andreimatei commented on #7757
dupe of #7169 ?

[2016-07-11 22:13] bdarnell commented on #7757
Yeah.

[2016-07-11 22:13] #7757 closed

[2016-07-11 22:47] tschottdorf opened #7758 "circleci: failed tests: TestPGWireConnectionCloseReleasesLeases"
The following test appears to have failed:

[#20127](https://circleci.com/gh/cockroachdb/cockroach/20127):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-11 22:50] bdarnell commented on #7169
I think there's some work to be done to ensure that `destroyed` is being checked on all code paths (including reads which don't go through raft). Or we could introduce some new locking as contemplated in #7757.

[2016-07-11 23:00] #7750 closed

[2016-07-11 23:05] andreimatei commented on #7758
dupe of #7750

[2016-07-11 23:05] #7758 closed

[2016-07-11 23:15] tschottdorf opened #7759 "circleci: failed tests: Example_sql"
The following test appears to have failed:

[#20129](https://circleci.com/gh/cockroachdb/cockroach/20129):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-12 00:07] petermattis opened #7760 "util/leaktest: remove ignoring of net.(*netFD).connect goroutine when go1.7 is required"
i.e. Revert #7745.

And we'll have to track down why that goroutine leak is occurring in the first place.

[2016-07-12 00:35] petermattis commented on #7297
I thought I had this figured out, but I don't. Putting the `Replica.maybeGossipFirstRange` in a `batch.Defer()` helps, but I still see a hang every few runs (easy to trigger with `go test -count 100 -v -run TestUnreplicateFirstRange`. I've been running with `-vmodule=raft=5,replica=3,intent_resolver=3,queue=3` to get more verbose logging.

Note, when the hang happens now, it appears that everythin

[2016-07-12 02:53] bdarnell commented on #7297
The hang is a deadlock: `changeReplicasTrigger` runs on the `processRaft` goroutine. `maybeGossipFirstRange` must acquire the range lease if it's not already held (it's not, if node 2 or 3 needs to take it away from the deposed node 1), which calls back into raft.

The trick is to run `maybeGossipFirstRange` asynchronously (inside a `batch.Defer` so it doesn't start until the `changeReplicasTrigge

[2016-07-12 08:24] tschottdorf opened #7763 "sql: TestLogic: expected 'invalid utf8', but found success"
Happened spuriously on my WIP. Unfortunately I'm not able to produce more details, but maybe it can be stressed.

[code]

[2016-07-12 08:45] mjibson commented on #7728
In `database/sql`, a query error releases a connection (https://github.com/golang/go/blob/release-branch.go1.6/src/database/sql/sql.go#L1095). This happens during the divide by zero error. Since you specify `-max-errors 0`, the next select is executed, which triggers a new connection since the old one was closed.

The oddity here is that other query errors don't trigger the dis- and re-connect. I

[2016-07-12 11:08] vivekmenezes opened #7765 "make check: remove TestSafeSQL"
This is a test that takes forever to run and is hurting productivity. Is there a way we can run it on CI but not locally?

[2016-07-12 11:50] tschottdorf commented on #6748
Closing as not reproducable after `make stress PKG=./storage TESTS=TestStoreRangeSplitStats STRESSFLAGS='-maxfails 1 -stderr -maxruns 15000 -p 16'` (and the same without `-p`).

[2016-07-12 11:50] #6748 closed

[2016-07-12 12:07] tschottdorf commented on #6694
On my GCE box, after ~6k runs I get

[code]

I thought this was some fd limit issue, but during the test

[code]

and

[code]

Any ideas?

[2016-07-12 12:32] tschottdorf commented on #4818
Not working on this at the moment, unassigning.

[2016-07-12 12:34] tschottdorf commented on #6287
Implemented in #6961. Regarding the audit, we may not need additional replay protection for Raft any more, but we've used the MVCC Write-too-old protection to fade out most of the abort cache usage, so that replays from the `DistSender` (i.e. resending a message after a timeout) look just like a Raft replay (the only difference is the higher sequence number, and that isn't checked outside of the a

[2016-07-12 12:34] #6287 closed

[2016-07-12 13:14] petermattis commented on #7765
You don't have to run `make check` locally. You can run `make build test acceptance`.

Also, I experimented with translating `check-style.sh` to Go and then parallelizing the checks. See https://github.com/cockroachdb/cockroach/compare/master...petermattis:pmattis/check-style?expand=1. It gave a modest performance boost and timings for each check, but didn't seem significant enough to push further

[2016-07-12 13:16] petermattis commented on #7689
Ok. I'll take a look at this today (or tomorrow).

[2016-07-12 14:12] vivekmenezes commented on #7628
I'm unable to reproduce this problem after unskipping the test and running
make stress TESTS="TestRaceWithBackfill" PKG="./sql"

I'm going to unskip the test to see if we still see these problems.

[2016-07-12 14:16] vivekmenezes commented on #7154
duplicate of #7628

[2016-07-12 14:16] #7154 closed

[2016-07-12 14:32] tschottdorf commented on #7628
Might've been fixed by #7744 - try stressing `6137f05b25836955259151b33d2e8e4b81c40d87` (should work) and the commit before (should fail).

[2016-07-12 14:33] #7262 closed

[2016-07-12 14:47] tschottdorf opened #7774 "circleci: failed tests:"
The following test appears to have failed:

[#20151](https://circleci.com/gh/cockroachdb/cockroach/20151):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-12 14:49] tamird commented on #7774
npm 👿

[2016-07-12 14:49] #7774 closed

[2016-07-12 15:00] vivekmenezes commented on #7628
I stressed it at a commit before the skip commit and was unable to reproduce it over a 1000 iterations. I would be surprised if it didn't fail if I were to unskip it, but I think this test is valuable in pointing out problems in kvland, so I'd like to unskip it. At one point of time it used to rarely fail. Obviously if it hurts anyones productivity we should go back to where we are now.

[2016-07-12 15:09] knz opened #7775 "sql: stream planNode.Next() results through pgwire without collecting all intermediate results in RAM"
As discussed previously with @mjibson. Will help support work on #7572 and #7657.

[2016-07-12 15:15] tschottdorf commented on #7628
It failed pretty often in CI, have you tried enough combinations of `-p`
and such?

On Tue, Jul 12, 2016 at 11:14 AM vivekmenezes <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-12 16:00] maxlang commented on #5605
I can't seem to repro this. Closing for now.

[2016-07-12 16:00] BramGruneir opened #7777 "ui: ugly urls"
When checking node status, I get redirected to this url
http://104.196.56.219:8080/#/nodes/overview?_k=7kazps

The url should just be, and all options should always be human readble.
http://104.196.56.219:8080/#/nodes

This is true for all urls, there's always a `k` option added that shouldn't be there.
Another example the cluster page shouldn't be:
http://104.196.56.219:8080/#/cluster?_k=k1odh2
I

[2016-07-12 16:03] BramGruneir opened #7778 "ui: timescale doesn't change URL query string"
Query for cluster at the default timescale
http://104.196.56.219:8080/#/cluster?_k=d8kh28

Query for the cluster at the 1 day scale should represent that change so copy and pasting is easy.
http://104.196.56.219:8080/#/cluster?_k=d8kh28&timescale=1day

All selectable should be represented in the query string (where reasonable).

[2016-07-12 16:03] BramGruneir opened #7779 "ui: logs don't work"
There's just and empty page.

[2016-07-12 16:06] BramGruneir opened #7780 "server, ui: events should be filterable"
- By time
- by type
- by regex
- by node

[2016-07-12 16:12] tamird commented on #7777
OK but who cares?

On Tue, Jul 12, 2016 at 12:00 PM, Bram Gruneir <notifications@github.com>
wrote:

[2016-07-12 16:21] BramGruneir commented on #7777
I do.
And I'm going to bet that our designers will as well.

If there was a clear need for this value it would be one thing, but it's an
option that can be turned off and should be.

On Tue, Jul 12, 2016 at 12:12 PM, Tamir Duberstein <notifications@github.com

[2016-07-12 16:23] tamird commented on #7777
If you know how to turn it off, care to mention that in the issue
description?

On Tue, Jul 12, 2016 at 12:21 PM, Bram Gruneir <notifications@github.com>
wrote:

[2016-07-12 16:37] maxlang commented on #7778
Should we use ISO 8601 for this?

https://en.wikipedia.org/wiki/ISO_8601#Durations

[2016-07-12 16:46] xiang90 commented on #7666
The upstream issue is fixed.

[2016-07-12 16:48] maxlang commented on #7037
Should be fixed by the switch to ui/next. I can't repro anymore.

[2016-07-12 16:48] #7037 closed

[2016-07-12 16:54] tschottdorf commented on #7423
Your first log has this in it:

[code]

Probably something on your machine just ruthlessly adjusted your clock. Even if all nodes are running on the same machine, this error can still occur (pick a timestamp, clock rewinds, use that timestamp, complain).

[2016-07-12 16:54] #7423 closed

[2016-07-12 16:55] #1029 closed

[2016-07-12 17:06] BramGruneir commented on #7777
@tamird I didn't know that at the time.  Found it after some discussion with @maxlang and I couldn't update the issue due to github errors.

[2016-07-12 17:07] BramGruneir commented on #7778
We could also use the golang ones, as long as it's consistent and clear.

[2016-07-12 17:20] #7697 closed

[2016-07-12 17:28] bdarnell commented on #6694
Once a port number has been used, it may remain reserved (in state `TIME_WAIT`) for several minutes (depending on various factors including which side closed the connection first). I think this means that the test runs in the past few minutes have exhausted the entire ephemeral port range (30k ports on linux). You should see these ports in `netstat -a` but they won't show up in `lsof`.

This test

[2016-07-12 17:50] vivekmenezes commented on #7488
unable to reproduce using

 make stress TESTS="TestReplicateRogueRemovedNode" PKG="./storage" STRESSFLAGS='-p 64 -maxfails 1 -maxruns 20000'

[2016-07-12 17:54] tschottdorf commented on #7488
Just search for .Test in the output:

goroutine 11717 [semacquire, 4 minutes]:
sync.runtime_Semacquire(0xc820190af0)
	/usr/local/go/src/runtime/sema.go:47 +0x26
sync.(*RWMutex).Lock(0xc820190ae8)
	/usr/local/go/src/sync/rwmutex.go:88
+0xc7github.com/cockroachdb/cockroach/storage_test.(*multiTestContext).restartStore(0xc8201909c0,
0x2)
	/go/src/github.com/cockroachdb/cockroach/storage/client_test.g

[2016-07-12 18:25] #7290 closed

[2016-07-12 18:36] mrtracy commented on #7777
I agree that this is a non-issue, but if it's trivial to take out (and doesn't have consequences) we can do it.

[2016-07-12 18:39] tschottdorf commented on #6676
Tempted to close this since the error handling changed immediately after this issue was opened, and it hasn't repro'd since. On the other hand, I'm not convinced we "fixed" anything here. We could create a whitelist of errors and assert on that at certain interfaces to see more definitely if it happens again. One complication here is that we must deal with errors in various "packages" - for exampl

[2016-07-12 19:03] #4476 closed

[2016-07-12 19:03] #7710 closed

[2016-07-12 19:22] BramGruneir commented on #7536
I just checked versus master and this is still the case, however this is expected behaviour until preemptive snapshots are actually enabled.  So I'm going to leave this issue open to check again after preemptive snapshots are back.

[2016-07-12 19:32] #7727 closed

[2016-07-12 19:40] mjibson commented on #7775
For whoever does this work: I think implementing the streaming part and returning an error when needed is straightforward. I'm mostly worried about client error handling, though, and think that this deserves more research before we can ship a PR. Mostly I want someone to have thought through the following situation and be convinced that we're ok.

Let's take some app that uses this feature. It run

[2016-07-12 20:29] jordanlewis opened #7786 "stress: failed test in cockroach/gossip/gossip.test: TestGossipCullNetwork"
Binary: cockroach/static-tests.tar.gz sha: https://github.com/cockroachdb/cockroach/commits/d9447565ef5fd05a9aa1ce8ae19dd1189728cf89

Stress build found a failed test:

[code]

Run Details:

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-12 20:51] mjibson commented on #7728
More research: this happens with `select log(0.0)` also. Best guess is parse errors do not cause this problem, but eval errors do.

[2016-07-12 20:54] #6694 closed

[2016-07-12 21:02] tamird commented on #7786
#7354

[2016-07-12 21:02] #7786 closed

[2016-07-12 21:04] knz commented on #7775
Really I'd argue it's already a (non-)problem, because of transactions.

We already report errors before the end of a transaction. So if a transaction gets canceled, whatever side-effects on the client side that occured since the beginning of the transaction need to be undone anyway. I'd argue that any well designed MVC client code will always buffer/process data from the server (and wait for txn

[2016-07-12 21:07] mjibson commented on #7728
The important part of the test that is causing this error is `-allow-prepare-fail`. That flag runs a `db.Prepare`, which, although its returned statement is correctly closed, apparently resets something in our connection logic.

Repro:

[code]

[2016-07-12 21:17] #7619 closed

[2016-07-13 02:06] bdarnell commented on #7765
In addition to being slow, it's not very sensitive. We do unsafe things in a number of places and it hasn't flagged any of them. It's not currently worth the trouble so I'd support removing it from `check-style.sh`.

[2016-07-13 06:34] jordanlewis opened #7791 "stress: failed test in cockroach/gossip/gossip.test: TestGossipCullNetwork"
Binary: cockroach/static-tests.tar.gz sha: https://github.com/cockroachdb/cockroach/commits/ee73b1d854981df7e7841466492f52252f2dacaf

Stress build found a failed test:

[code]

Run Details:

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-13 07:08] tschottdorf commented on #7791
"If you are looking for ransom, I can tell you I don't have money. But what I do have are a very particular set of skills, skills I have acquired over a very long career. Skills that make me a nightmare for bugs like you. If you let my stress test pass now, that'll be the end of it."

[2016-07-13 07:58] tschottdorf commented on #7354
#7791

[2016-07-13 07:58] #7354 closed

[2016-07-13 08:05] tschottdorf commented on #7712
The remote tests don't use `make acceptance` or any wrapper scripts (and I suggest to keep it vanilla), so it's a bit tricky plus we often want to keep the state (so the logic to clean up needs to be flag-aware).
Our test boxes can easily clean up after themselves (it's as easy as the correct version of `find . -name '*.tfstate' --execdir terraform destroy --force '{}' ';'`)

That along with stopp

[2016-07-13 09:41] tschottdorf opened #7793 "storage: (*tlsCreds).ClientHandshake leaked from TestNodeJoinSelf"
Seen near 69132c5fc439a0663f654f05da48a1abc87350c4 in unrelated WIP.

[code]

[2016-07-13 09:56] a6802739 opened #7794 "stress:each node's data size is in big difference"
my table schema is like this:

[code]

I start 3000 process(client, python) to load data to my cluster. one insert statement in my test has only one row.

my cluster has 20 nodes in 4 server, each server has 5 nodes.(each node occupy one SSD)

after 3 hours' load, the cluster's status is like this:

<img width="1067" alt="075a25dc86c1693616fc72dcf046c0e1" src="https://cloud.githubusercontent.com/a

[2016-07-13 10:47] #7360 closed

[2016-07-13 11:58] petermattis commented on #7689
If I disable creation of the `Testing` database and the various SQL operations, `TestMultinodeCockroach` reliably passes in less than 4s, usually in less than 3s.

With the `Testing` database creation left in, `TestMultinodeCockroach` hangs waiting for all of the stores to have 6 replicas. This is curious because there are only 5 initial ranges. Somehow creation of the `Testing` database is creati

[2016-07-13 12:05] petermattis commented on #7689
If I disable creation of the `Testing` database and the various SQL operations, `TestMultinodeCockroach` reliably passes in less than 4s, usually in less than 3s.

With the `Testing` database creation left in, `TestMultinodeCockroach` hangs waiting for all of the stores to have 6 replicas. This is curious because there are only 5 initial ranges. Somehow creation of the `Testing` database is creati

[2016-07-13 12:08] petermattis commented on #7689
Ah, `SystemConfig.ComputeSplitKeys` will split the last range based on the largest object ID in the `system.descriptor` table. It doesn't check to see if that largest object ID refers to a table or a database. So a 6th range is expected when the `Testing` database is created.

[2016-07-13 12:21] petermattis commented on #7689
Hmm, this is suspicious. When the hang occurs, I see:

[code]

But the split never completes. Still trying to understand what is happening here. Looks like there is some intent resolution failing. And I see:

[code]

@bdarnell, @tschottdorf Are those errors problematic?

[2016-07-13 12:26] tschottdorf commented on #7689
No, these shouldn't be problematic (unless you see a flurry of them with ever-ascending numbers in them). BTW, try a rebase - the error message for this error was fixed up yesterday (it will now say `12, but required < 12`).

[2016-07-13 13:10] petermattis commented on #7450
Duplicate of #7689.

[2016-07-13 13:10] #7450 closed

[2016-07-13 13:13] petermattis commented on #7689
Looks like there is a race in this test between replicating and splitting. If either occurs first everything is fine. But if the replication occurs concurrently but slightly before the split, the split will fail because the descriptor has been updated:

[code]

Usually we don't try to replicate when a split is necessary, but it is all about specific timing in this test. The `Testing` database need

[2016-07-13 13:15] petermattis commented on #7689
Add a call to `splitQueue.MaybeAdd` in `Replica.changeReplicasTrigger` allowed `TestMultinodeTest` to pass 100 times in a row with the max runtime of 5.2s. I'll send out a change for review in a bit.

[2016-07-13 13:48] tschottdorf opened #7801 "storage: TestReplicateRemovedNodeDisruptiveElection times out"
near b8d767e637884d5ddd56cfeba17f6187fe1e0ade, seen in https://circleci.com/gh/tschottdorf/cockroach/2521

<details>
  <summary>TestReplicateRemovedNodeDisruptiveElection</summary>
[code]
</details>

[2016-07-13 13:53] tamird commented on #7801
#7630

[2016-07-13 13:53] #7801 closed

[2016-07-13 14:32] vivekmenezes commented on #7628
[code]
requires further investigation but I suspect what might be happening: when a table descriptor is updated in a txn, there is a race between the intent upgrade, and gossiping of the system config. Normally the intent upgrade happens before the gossiping, but sometime the order is reversed resulting in
Replica.maybeGossipSystemConfig failing. I suspect what happens is that with the config not

[2016-07-13 14:51] #7390 closed

[2016-07-13 15:01] BramGruneir commented on #7779
For motivation for this, I'd like to be able to see the logs quickly when running some of the allocator tests.  I can ssh into the boxes and what not, but it would be a lot nicer to just be able to see them directly.

[2016-07-13 15:04] bdarnell commented on #7794
The problem of very large `.sst` files (in Gitter you said you had one `sst` file that was 2.4GB) should be fixed by #7562 which will be included in this week's beta.

Also, you shouldn't need to run multiple nodes per server just because you have multiple SSDs. You can run one server with five stores. If running five servers per machine is working better for you than one server with five stores,

[2016-07-13 15:06] BramGruneir commented on #7777
Really, we should be using browserHistory instead of hashHistory.

https://github.com/reactjs/react-router/blob/6117def486a813221d0d254b0b4920afbbc51d48/docs/guides/Histories.md#browserhistory

The only reason not to is because of older browser compatibility, which isn't an issue for us.

[2016-07-13 15:07] tschottdorf commented on #7779
Probably not worth doing anything about before
https://github.com/cockroachdb/cockroach/issues/1779 (after which we should
also look into live streaming the log output buffer into the ui to avoid
malfunctioning in deployments that don't actually write files).
--

-- Tobias

[2016-07-13 15:08] tschottdorf commented on #7777
Isn't older browser compatibility an issue for us?

On Wed, Jul 13, 2016 at 11:06 AM Bram Gruneir <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-13 15:11] BramGruneir commented on #7777
Why would it be?
Are we really worried about IE8?  Or very old versions of chrome or firefox?

I think it's fair to assume that those that are using the ui have fairly up to date browsers.

And even if they don't, it only means a full reload instead of a partial page reload, so it will still be functional.

[2016-07-13 15:12] BramGruneir commented on #7777
Also, by going with browserHistory, we remove the hash from the urls.

[2016-07-13 15:15] tschottdorf commented on #7777
I'm not familiar with the tradeoffs, just asking. I'm sure we need some
compatibility with older browsers. I don't think we've worried about it
much, though.

On Wed, Jul 13, 2016 at 11:12 AM Bram Gruneir <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-13 15:24] tamird commented on #7524
Now that #7723 is merged, I'm going to close this. There's upstream PR in grpc.

[2016-07-13 15:24] #7524 closed

[2016-07-13 15:29] bdarnell opened #7804 "beta-20160714"
Starting the beta rollout for commit efd0607

Previous build has been running fine on beta for 6 days. On gamma, two nodes ran out of disk and died; it looks like messed something up when i was turning off rocksdb checkpoints and cleaning up the old ones.

[2016-07-13 15:37] bdarnell opened #7805 "stability: unhelpful errors from `freeze-cluster`"
Running `cockroach freeze-cluster` with no parameters results in the following cryptic message.

[code]

Passing `--host` without the certificate options for a secure cluster gives:
[code]

In both cases we should do a better job of diagnosing and reporting what went wrong. This probably isn't unique to `freeze-cluster`, but since this is going to be part of our upgrade process for a future releas

[2016-07-13 15:47] bdarnell commented on #7038
As of 30175ad, `freeze-cluster` is still not working. Is there any more data we need to collect, or do we know enough to understand that this is related to GC'able replicas that can't proceed because of failing range lookups?

I'm not getting the new messages to stdout that were added in #7090. `cockroach freeze-cluster` is just blocking without printing anything.

[2016-07-13 16:04] #7297 closed

[2016-07-13 16:14] petermattis opened #7806 "storage: close Replica.mu.snapshotChan when replica is destroyed"
There appears to be no cleanup of `Replica.mu.snapshotChan` when a replica is destroyed. This can leave the snapshot goroutine started in `Replica.Snapshot` dangling for a minute (`defaultAsyncSnapshotMaxAge`) as nothing comes along to consume the snapshot. Alternately, perhaps `snapshotChan` should be buffered.

[2016-07-13 16:15] tamird commented on #7806
Also see #7307; that PR likely suffers from the same issue, but the details are slightly different.

[2016-07-13 16:28] bdarnell opened #7807 "storage: Consider moving raft log out of rocksdb"
Writing the raft log to rocksdb (which uses its own write-ahead log) is probably suboptimal; it may be more efficient to manage the raft log separately (although this is not clear: as long as raft log entries are GC'd aggressively then it's going to be hard to beat rocksdb).

For future reference:
- https://www.usenix.org/system/files/conference/inflow14/inflow14-yang.pdf discusses the downsides o

[2016-07-13 16:29] petermattis commented on #7644
We also need to test that the first range isn't being gossiped excessively. See #7808.

[2016-07-13 17:13] bdarnell commented on #7804
The new build is running on beta, gamma, and rho.

[2016-07-13 17:41] maxlang opened #7812 "ui: Bar to track position across all graphs"
If you're hovering over a position in one graph, it would be nice to show that same location, temporally, on all other graphs on the same page. This would make it easier to associate events temporally.

[2016-07-13 17:43] maxlang opened #7813 "ui: Warn if number of nodes is less than _any_ replication factor"
A continuation of #5978 and based on discussion in #7783

Instead of just warning if there are fewer than 3 nodes, we should warn if there are fewer nodes than the largest replication factor.

[2016-07-13 18:05] petermattis commented on #7807
@bdarnell Can you specify the requirements of the raft log? For example, we need the ability to truncate both a prefix and a suffix of the log as well as to scan entries from a particular index. Is there anything else?

[2016-07-13 18:30] jseldess opened #7815 "cli: Interactive SQL shell no longer remembers past commands"
[code]

The interactive sql shell used to remember previous commands from the current session. It no longer does. @knz  and I thought there was already an issue for this, but we can't find it.

**To reproduce:**
1. Start a cluster.
2. Open the interactive shell.
3. Execute a few statements.
4. Press up and down arrows.

**Expected result:**
I expected previous commands to be available.

**Actual r

[2016-07-13 18:34] mjibson commented on #7728
Final update:

This isn't our bug: the Go database/sql package sometimes makes new connections. If you ever depend on something working due to state in the session, you may have a bad day.

The `SET DATABASE` syntax is cockroach-specific: Postgres itself doesn't support that. Instead, the `psql` command supports `\c DB`, but that creates a new connection with the current database. If you want to m

[2016-07-13 18:49] bdarnell commented on #6676
I'm comfortable assuming that we fixed this in one of the KV error-handling PRs (my guess is #6688).

[2016-07-13 18:49] #6676 closed

[2016-07-13 19:03] tamird commented on #7815
Possibly a regression from upstream?

On Wed, Jul 13, 2016 at 2:30 PM, jseldess <notifications@github.com> wrote:

[2016-07-13 19:44] petermattis opened #7819 "storage: preemptive snapshots"
Preemptive snapshots were disabled due to raft corruption issues. With #7619 fixed we should revisit.

The lack of preemptive snapshots makes the replica reservation system a lot less useful. We can see this in `TestMultinodeCockroach` which usually finishes within a few seconds, but sometimes takes 30-40s. The slow runs are caused by a declined reservation due to there being to many outstanding r

[2016-07-13 19:59] petermattis commented on #6144
Separate types won't prevent bad changes to `HardState`. We'd also have to ensure that only one type for a given range ID exists at a time and that we transition between types correctly (can a `Replica` over get replaced with a `PreemptiveSnapshotReceiver`?). I agree that we haven't had the proper mechanisms in place to make difficult changes safely, but I'm not seeing separate types as a panacea.

[2016-07-13 20:09] mjibson commented on #7815
Nope. My fault. See PR.

[2016-07-13 20:28] #7815 closed

[2016-07-13 20:45] mjibson commented on #7418
Moved to https://github.com/cockroachdb/docs/issues/452

[2016-07-13 20:45] #7418 closed

[2016-07-13 21:04] mjibson commented on #7413
This is indeed due to the division not rounding. See the simplified case:

[code]

On Postgres this outputs `2`, on Cockroach `3`.

I think this issue should be closed in favor of #7734.

[2016-07-13 21:35] knz commented on #7413
Agreed.

[2016-07-13 21:35] #7413 closed

[2016-07-13 21:55] EricLagergren commented on #6009
Hey! Just noticed this. Feel free to ask about anything you want. :)

[2016-07-13 22:10] #7742 closed

[2016-07-13 22:45] Linicks opened #7821 "sql: Full Text Search"
All,
    I'm sure most of you know about Bleve (https://github.com/blevesearch/bleve)  a Go-lang based full-text indexer.  I was wondering if you've considered integrating it with CockroachDB?  I'ts seems like it may be a good fit, and is being used in other distributed databases.
-  It has an Apache licence.
- Written in Go.
- Already provides allot of value add functionality.

Thanks!
-- Nick

*

[2016-07-13 23:02] Linicks commented on #2969
All,
  I have a use case where I would like to mix structured and unstructured data.  In some instances, I would need one or more columns to store random data from various sensor groups, etc.  Once implemented, will there be a limit on the number of these types of columns?

Thanks!
--Nick

[2016-07-14 01:09] #7689 closed

[2016-07-14 01:31] #7791 closed

[2016-07-14 01:55] petermattis commented on #7821
@Linicks Full-text search is something we'd like to support and Bleve is on my radar, though there are no concrete plans to integrate it.

[2016-07-14 06:55] a6802739 commented on #7794
@bdarnell , I have tried with one server with 5 stores(btw, client is same), the qps of the whole cluster is about 1000qps, and the same problem also occur in this case, and the cluster's status is not stable. The qps in the case one server with one store, the qps is about 3000 qps.

I have few questions.
1. how you guys stress the cluster, in stress test, my whole cluster's hardware is hard to re

[2016-07-14 10:05] alamaison opened #7825 "sql: `COUNT` has slow (linear) performance"
We run queries like `SELECT count(id) from jobs;` to be able to display the total number of entries when paginating (i.e. 'Showing 100 of 8945').  These queries appear to do a linear table scan, when I would have expected it to use the index and return in constant time:

[code]

for a table with this schema

[code]

We get the same result (and slow performance) with `SELECT count(*) from jobs;` an

[2016-07-14 10:21] alamaison commented on #7825
cc @csdigi

[2016-07-14 10:31] tschottdorf commented on #7825
I'm not sure how it would use the index. The index only allows you to do a sorted scan. That helps you fox `MAX(id)` where you simply search the largest one from the top (i.e. you start at infinity and grab the first result you find in descending order), but counting is a different issue altogether - an index entry has no idea how many other values there are below it - that's a global property.

I

[2016-07-14 10:40] #7678 closed

[2016-07-14 10:47] tschottdorf commented on #6144
We should probably look at the other parts of the proposal first (esp locking) to see what makes sense.

In a related spirit, I was about to do a quick investigation at avoiding out-of-Raft snapshots (i.e. bringing up the bogus Raft group for preemptive snapshots). I didn't have the impression that anyone was about to look at this, but if I'm mistaken please let me know.

[2016-07-14 10:57] yorkxu commented on #22
Hi,
I read the distribute transaction part of cockroach desin doc.
I have some doubt about how to choose a timestamp:

If the data read have timestamp greater than t-ε but less than t, how to decide whether that transaction write this data committed before start timestamp of the read transaction or after?

Or there is other mechanism can guarantee all data which have timestamp greater than t-ε but

[2016-07-14 11:04] tschottdorf commented on #22
Hi @yorkxu, the transaction won't read such data (it will come back with a higher timestamp). We optimize that a bit more using the node's timestamp (which limits these restarts to one per node), but essentially within that uncertainty interval [t, t+eps) you will restart as you encounter values, moving your start timestamp forward. If you pass `t+eps`, you know that anything that you see after mu

[2016-07-14 11:20] csdigi commented on #7825
In the pagination example above, the ```COUNT``` is merely for the user to know how many items they are paging through. I would not have expected the index itself to be able to improve this situation (and in fact the ```MAX(id)``` would only work if we had strictly sequential IDs which is very unperformant in a distributed DB.

I would have maybe expected that something under the covers might be t

[2016-07-14 11:23] yorkxu commented on #22
Thank you @tschottdorf

If a transaction named txn1 has start timestamp  t1. As the transaction progress, it read a data with commit timestamp  t2 (t2 is greater than t1-ε but less than t, ε is the maximum clock skew), then will txn1 read this data?

Thank you very much

[2016-07-14 11:27] tschottdorf commented on #7825
Keeping a consistent count of objects is likely difficult since the table may span across many nodes, and so most writes would have to update a non-local counter, resulting in unpleasant additional commit latencies.
What's likely more tractable is obtaining rough approximate counts on key ranges (at least as long as the number of shard metadata doesn't exceed what can be stored in memory). Knowing

[2016-07-14 11:31] tschottdorf commented on #22
t1 will read t2's write (which is in its past) if t2 has committed at that point. That is, either there is a committed value or it sees a provisional value and checks on t2's central transaction record. This record will either confirm the value as committed (in which case again it is read) or not committed, in which case t2 and t1 will undergo conflict resolution and the result of the read depends

[2016-07-14 11:31] tschottdorf commented on #6144
See also the section "Transaction interactions" in https://github.com/cockroachdb/cockroach/blob/master/docs/design.md.

[2016-07-14 11:31] tschottdorf commented on #22
See also the section "Transaction interactions" in https://github.com/cockroachdb/cockroach/blob/master/docs/design.md.

[2016-07-14 12:49] csdigi commented on #7825
An approximate count is all that is required for us (much in the same way as the interface for gmail uses it). While a distributed count is helpful the performance penalty will always be pretty high on it (and I would imagine the actual uses of having a strongly consistent count are not that many). If we ever wanted to refine the accuracy of our counts I (our tables are also append only) we could

[2016-07-14 13:46] RaduBerinde commented on #7825
The only way an index would help is that we know there is a 1-1 correspondence between rows and keys (whereas a primary table has a variable number of keys per row). So if we somehow were able to count the keys in a range more efficiently, we could use that to count the rows accurately; but we don't have that capability at this point.

Judging from a quick google search, the mileage varies a lot o

[2016-07-14 15:11] RaduBerinde commented on #7825
What I suggest as a possible workaround is to cache the value and only repeat the query every now and then.

You could use the database to store the cached key, here's an example:

[code]

When you need the value you can do
[code]
to get back the value and the "age":
[code]

If the age is more than a threshold (e.g. 10 seconds), then you can update the value by rerunning the `UPSERT` statement and

[2016-07-14 15:25] alamaison commented on #7825
Naively, I was assuming an index had an associated length, `COUNT` of a primary key field was just a matter of returning the length of the primary key index.

Thanks for the suggested workaround.  It looks like some sort of caching is the way to go.

FWIW This isn't unique to CockroachDB: https://wiki.postgresql.org/wiki/Count_estimate

[2016-07-14 15:29] tschottdorf commented on #7825
That's only an option for tables which are written in the order of ascending index and never get deleted from (and if that doesn't already reduce the possible use case to very little, it also has no chance of scaling out because each write needs to query the authoritatively "newest" row). :)

[2016-07-14 15:57] tamird commented on #1779
We discussed this in this morning's stability war room. Things we covered:

- When things go wrong, it's hard to figure out why.
   - Logs are mostly useless because they often omit context
   - No alerting hooks means that issues go unnoticed
     - Consistency checker is a prime candidate for external monitoring

Suggested end state:

Remove all unattached logging. All "logging" should happen vi

[2016-07-14 16:12] tschottdorf commented on #1779
@jordanlewis make sure to back through history. We've had code to log traces to stdout for testing a while ago. When doing so, it's important to log things as they happen (and not as they get finished) and to have a console-optimized format (or it just sucks to look at).

The good thing about logs is that they (can) go to files. As a corollary, we need a good file logging format for traces anyway

[2016-07-14 16:18] tamird commented on #7722
See again in https://circleci.com/gh/tamird/cockroach/275.

[2016-07-14 16:18] bdarnell commented on #7794
You may see higher performance with one store per node because in that case CockroachDB doesn't know not to place all your replicas on different disks of the same machine. When you run one node with five stores, we know that we must place replicas on different machines, which will slow things down (but ensure that you don't lose data when one machine dies with all of its stores).

We currently str

[2016-07-14 16:34] arjunravinarayan opened #7830 "storage: ensure Replica ranges do not overlap"
Nothing prevents two replicas from both considering themselves responsible for overlapping sections of the key-space. This can happen, for example, if a wrongly configured pre-emptive snapshot is applied to a range when there is already a replica keeping track of a range, or some subset of it.

Currently `store.mu.replicasByKey` is a BTree keyed on the end key. This is useful for finding which rep

[2016-07-14 16:42] tschottdorf opened #7831 "circleci: failed tests: TestSSLEnforcement"
The following test appears to have failed:

[#20228](https://circleci.com/gh/cockroachdb/cockroach/20228):

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-14 16:48] bdarnell opened #7832 "gossip: Data race between sendGossip and clientStatus"
Found on `rho` cluster at commit efd0607:

[code]

[2016-07-14 16:53] tschottdorf commented on #7830
See #7833 for a bit of applied context. In that PR, I add that missing check for this part:

but I have a hard time trusting it given the abundance of locks (and scarcity of locks held throughout).

It seems that `(*Store).canApplySnapshot` already checks the condition for which the interval tree is suggested.

[2016-07-14 16:58] bdarnell opened #7834 "ui: Total capacity misreported on front page"
Seen on beta cluster at commit efd0607 (gamma is fine). 6 nodes with ~110GiB of data each on a 369GiB disk. This is reported on the front page of the UI as 97% capacity used; the tooltip says "you are using 674.9GiB of 695.5GiB storage capacity". The individual node pages show the correct values for total and available capacity.

[2016-07-14 16:59] bdarnell opened #7835 "ui: Should be able to move mouse to tooltip"
While filing #7834, I wanted to copy and paste some text from the tooltip, but it disappeared any time I moved my cursor off the (i) icon. The tooltip should remain visible if the cursor is moved onto the tooltip itself.

[2016-07-14 17:02] #7724 closed

[2016-07-14 17:05] bdarnell commented on #7804
Current status:
* Rho cluster found a race: #7832
* Beta and gamma are stable. CPU utilization is pegged at 100% (fully using both cores on the VM). I don't think this was happening before, although there are no unexpected hotspots in the profile.
* Beta is incorrectly reporting 97% capacity used (actual disk usage across the cluster is ~60%). #7834

In general things are looking good so I'm going

[2016-07-14 17:05] tschottdorf commented on #1779
Oh, and whatever is left of the previous `Errorc` stuff (special fields in contexts, etc - that isn't used for anything and overripe for removal).

[2016-07-14 17:20] BramGruneir opened #7837 "acceptance: 108GB cluster image takes hours to be compacted"
The first node starts up, but 2 other nodes fail to join it.

I've attached the err logs.

[node0.stderr.txt](https://github.com/cockroachdb/cockroach/files/364416/node0.stderr.txt)
[node1.stderr.txt](https://github.com/cockroachdb/cockroach/files/364418/node1.stderr.txt)
[node2.stderr.txt](https://github.com/cockroachdb/cockroach/files/364417/node2.stderr.txt)

[2016-07-14 17:50] #7832 closed

[2016-07-14 17:52] tamird commented on #1779
If we're going to use `log.{Level}c`, why not go straight to `log.Trace`? Emitting traces to disk is a prerequisite, obviously.

[2016-07-14 17:58] tschottdorf commented on #1779
I was suggesting that for existing logging only. Information which is too verbose for that can do `log.Trace` directly. I just want to avoid ripping out or dramatically changing the existing logging as that could be disruptive for development (which has had to rely on it for a while now).

[2016-07-14 18:06] tamird commented on #1779
Wouldn't that be addressed by allowing traces to go to stdout as well (in some form)?

[2016-07-14 18:07] jseldess opened #7840 "cli: dump command panics when table includes decimal with precision"
[code]

What I did:

1. I started up a cluster.
2. I opened the interactive sql shell, created a table, and inserted some rows:
[code]
3. I tried to dump the contents of the new table:
[code]

[2016-07-14 18:10] mjibson opened #7841 "sql: support UPDATE ... FROM"
(edit @knz 2018-05-19)

`UPDATE X SET ... = Y FROM Z`
https://www.postgresql.org/docs/10/static/sql-update.html

performs (I think) a lateral join of X with Z and then makes the values computed by Z available for the scalar expressions in Y, to serve as values to update.

Full support for the feature needs support for correlated subqueries #3288 and lateral joins #24560.

Reduced support when the

[2016-07-14 18:12] tschottdorf commented on #1779
That's pretty disruptive to the accustomed output format (you lose all the levels, all the messages look different from one day to the next). We had that for a while and I ended up being the only person that ever used it, and generally changes to the log output caused more sorrow than happiness in general. No harm in making traces usable first and then ripping out the rest.

[2016-07-14 18:16] mjibson commented on #7841
See #7247 when fixing this issue.

[2016-07-14 18:21] bdarnell commented on #7804
Release build is complete: https://circleci.com/gh/cockroachdb/cockroach/20236

[2016-07-14 18:33] #7247 closed

[2016-07-14 18:38] mjibson commented on #3271
@knz is this fixed with the `-flex-types` option?

[2016-07-14 19:28] petermattis commented on #2969
@Linicks We haven't even sketched out how a JSON/Protobuf column type would work, so it is hard to say with any certainty what the limits would be. If I were to guess, though, there wouldn't be any specific limit on the number of JSON/Protobuf columns within a table, but overall row size limits (for which we don't have any hard setting at the moment) would still apply.

[2016-07-14 20:08] petermattis commented on #1779
I'm not sure if I agree with the statement that "logs are mostly useless", but their lack of context is often frustrating. I think we should take baby steps here as we've previously burned a lot of time on logging work that didn't turn out to be useful.

Btw, here is the current scope of our logging and tracing in the `storage` package:

[code]

279 in total. There is an argument to be made to hav

[2016-07-14 20:36] bdarnell commented on #7807
Yeah, that's pretty much it.
* Append entries
* Retrieve entries by their raft-assigned sequential index
* Each entry has an associated term number (probably stored in the the body of the log entry, although these are queried somewhat more often than the full entry so it may make sense to store or cache them separately)
* Retrieve the index and term number of the first and last entries in the log.

[2016-07-14 21:25] arjunravinarayan commented on #6144
@bdarnell and I sat down to discuss the various replica types. It
seems there are three long-lived types of replicas, along two axes:
whether the "replica" has an ID or not, and whether it has keys on
disk or not.

This gives this diagram:

[code]
The four states are labeled with letters, and can be created as
follows:

[A] In the beginning is the void.

[B] A `ReplicaIDReceiver` is created after

[2016-07-14 21:53] bdarnell opened #7846 "storage: Re-enable storeReplicaRaftReadyConcurrency"
This was disabled in #7673 due to concerns raised in #7672. It was a big performance improvement, so we should figure out how to turn it back on.

It should always be possible to process initialized replicas concurrently - they are guaranteed to address disjoint parts of the keyspace. The only possible interference is between an initialized and uninitialized replica (the uninitialized replica writ

[2016-07-14 22:04] bdarnell commented on #7830
I think I've found a bug that can result in the creation of overlapping replicas (maybe this is the cause of #5291?). The problem is that in `handleRaftMessage`, we check `canApplySnapshot`, but we don't update `replicasByKey` until later, when the (non-preemptive) snapshot is asynchronously applied. This allows two snapshots to be accepted simultaneously even if they would ultimately conflict. We

[2016-07-14 22:09] bdarnell commented on #7846
The race between two uninitialized ranges applying snapshots exists regardless of concurrency settings; see #7830

[2016-07-15 00:14] petermattis commented on #6144
@arjunravinarayan Nice ascii art!

To me, the above sounds like 3 different states for a `Replica`, not 3 different types. Given how overloaded the term `state` is (`HardState`, `TruncatedState`, `r.mu.state`), perhaps we could compromise and introduce `r.mu.state.Type` that is one of `ReplicaIDReceiver`, `SnapshotReceiver` or `FullReplica`.

[2016-07-15 00:19] petermattis commented on #7830
`replicasByKey` doesn't currently ensure that there is no overlapping responsibility of the key space, but it can. I don't see any need for an IntervalTree to achieve this. We should add checks to `Store.processRangeDescriptorUpdateLocked` and any other manipulations of `replicasByKey` to enforce that invariant.

[2016-07-15 00:25] petermattis commented on #7846
Dividing the replicas to process into initialized and uninitialized sets would be straightforward, but leaving this important aspect of `Replica` synchronization outside of `Replica` feels off to me. But the alternative feels more dangerous. I hope the PR that addresses this issue comes with a healthy dose of commentary.

[2016-07-15 01:03] arjunravinarayan commented on #6144
I'm with @petermattis here. I think the important thing is that every `Replica` method check the type. It doesn't have to be a full type, just an enum as suggested should suffice.

[2016-07-15 03:47] a6802739 commented on #7794
@bdarnell , I agree with you.

however, when I start one node per machine, my whole cluster only have four nodes.

[2016-07-15 07:12] tschottdorf commented on #6144
If the type is in `r.mu.state.Type` we will need to grab the replica lock for every operation, all the time, so that doesn't seem like an option (but we would need some Replica-global lock).

The upshot of separate types is that the type makes clear which operations are supported - I can already sense a nightmare of random if else checks all over the place coming up. Also, regardless of what opera

[2016-07-15 12:23] tschottdorf commented on #7846
What important aspect do you mean (i.e. what's the dangerous alternative)? I feel ok about this purely from the Raft perspective. The Store is in charge of making sure each Replica is always alone on its keyspace, so it needs to be the one which tells replicas when it's safe to write to disk.

OTOH (and this is somewhat out of scope for this issue), we have various moving parts holding on to repli

[2016-07-15 12:43] tschottdorf commented on #6179
Unassigning because not planning to work on this in the near future.

[2016-07-15 12:54] petermattis commented on #6144
Nerd sniping. Heh. I'll try and avoid the type-vs-state discussion.

The problem I see is that Replicas have 3 different roles (as mentioned above): Full replica, replica ID receiver and snapshot receiver. We have an invariant that on a single store there can only be one role active for a range ID at a time. Currently this is accomplished via the `Store.mu.state.replicas` map. Another invariant (w

[2016-07-15 12:56] petermattis commented on #7846
Naively, I would expect `Replica.handleRaftReady` to be safe for concurrent use. `Store` has to ensure there is only a single `Replica` for a given range ID and that `Replica`s do not have overlapping key spans, but also having it enforce the synchronization of `Replica.handleRaftReady` is what feels off.

The more dangerous alternative is to try and replace `Store.processRaftMu` with a `Replica.h

[2016-07-15 13:03] tschottdorf commented on #7846
Again, not the right issue, but I wanted to dump two other observations:

* readOnlyCmdMu is really only ever used for protecting against timestamp cache skew during splits. As such, it's kind of redundant - it would be equivalent to making any EndTransaction with a split occupy the whole key range in the command queue instead (in fact, the RHS would suffice).

* `(*Store).SplitRange` is one of th

[2016-07-15 13:05] tschottdorf commented on #7846
Hmm, isn't the contract for `handleRaftReady` inherently non-concurrent? Raft gives you one ready after the next, and never two at the same time, and you're a state machine.

But `*Store` is a collection of state machines which share some underlying storage, so it makes a lot of sense that it would be `*Store` which has to run only those machines in parallel which don't overlap.

From my understan

[2016-07-15 13:24] tschottdorf commented on #7846
Hmm, maybe the snapshot could also return a side effect from `handleRaftReady` (one that says "my boundaries changed, please deal with it). Or, to get rid of the double-unmarshalling we do right now (where we peek into the snapshot for the descriptor before passing it futher down), we could unmarshal the snapshot in the store right before and instead of feeding it into handleRaftReady feed it into

[2016-07-15 14:55] petermattis commented on #7846
Currently yes, but a `Replica.handleRaftReadMu` could be added to make it safe for concurrent callers (which we won't have any) and for other parts of the code to lock in order to block execution of `Replica.handleRaftReadMu`. With the current setup, there is no way for one replica to block the raft processing. That usually isn't a problem, except in the case of splits.

Yes, that makes sense. If

[2016-07-15 15:21] jordanlewis opened #7848 "tracing: heartbeat traces sometimes have extremely long duration"
Examining the `net/trace` requests UI [on the beta cluster](https://beta.gce.cockroachdb.com:8080/debug/requests?fam=tracing&b=-1&exp=1) shows that there are some extremely long-lived heartbeat requests. This seems fishy - perhaps the duration reporting is incorrect.

[2016-07-15 15:25] petermattis opened #7849 "storage: reservation "deadlock" scenarios"
See https://github.com/cockroachdb/cockroach/pull/7800#issuecomment-232553614:

[2016-07-15 15:40] tschottdorf commented on #7848
We might be leaking some traces. Would be helpful if you posted since that
appear to be running forever.

On Fri, Jul 15, 2016, 17:21 Jordan Lewis <notifications@github.com> wrote:

--

-- Tobias

[2016-07-15 15:49] jordanlewis commented on #7848
What do you mean? I think the page I linked points to traces that are still running. I guess this means that we are definitely leaking some.

[2016-07-15 15:53] jordanlewis commented on #7848
Tracing for statements in the SQL shell also behaves differently than I expected. It seems that one SQL shell session counts as a single trace - all statements I execute in a shell appear under one long-lived trace in the `net/trace` UI, until I close the shell. Is this expected?

[2016-07-15 15:59] petermattis commented on #7848
@jordanlewis Yes, that's expected.

[2016-07-15 16:00] petermattis commented on #7848
@jordanlewis The SQL trace lasts for the lifetime of the session/connection.

[2016-07-15 16:09] jordanlewis commented on #7848
The `net/trace` [godoc](https://godoc.org/golang.org/x/net/trace) seems to suggest that traces are best used for single requests, and their `EventLog` abstraction is useful for aggregating traces across a longer-lived entity such as a connection.

Have we considered using `EventLog`s to track all of the individual requests executed over a single connection? I notice that we already use these to tr

[2016-07-15 16:13] petermattis commented on #7848
Yeah, I intentionally used a `trace.Trace` instead of a `trace.EventLog`. I can't recall the exact reason. Perhaps the commit log indicates why. Note that a gRPC stream uses a `trace.Trace` as well.

[2016-07-15 16:21] jordanlewis commented on #7848
It seems like bb2fc80f957 is the originator - I can't see an obvious reason. I think if it were possible it would be nice to convert the connections into EventLogs. That way the `/debug/requests` page wouldn't be cluttered with, e.g., logs of internal connections for the UI.

[2016-07-15 16:22] petermattis opened #7850 "storage: avoid unmarshaling snapshot data in Store.canApplySnapshot"
`Store.canApplySnapshot` unmarshals the snapshot data (`roachpb.RaftSnapshotData`) in order to access the `roachpb.RaftSnapshotData.RangeDescriptor` which is needed for the range start and end keys. The `RangeDescriptor` is small in comparison to `roachpb.RaftSnapshotData`. We could either replicate it in `RaftMessageRequest` or include the start and end keys (i.e. a `roachpb.Span`) in `RaftMessag

[2016-07-15 16:24] petermattis commented on #7848
There was a definite reason to use `trace.Trace`. I'd be hesitant to switch to `trace.EventLog` without figuring out what the downsides are (performance, API, ???).

[2016-07-15 16:24] bdarnell commented on #7794
Why is that a problem? If you have four machines, then you should have four nodes.

3000 client processes is more than we've tested with; it's not surprising if you run out of memory or have other problems with that much load. We're working on handling this kind of overload more gracefully (#7657). In the meantime if you need lots of client processes, you might be able to reduce their load on the

[2016-07-15 16:28] bdarnell commented on #7850
We could also unmarshal into a partial message type:

[code]

By using the same tag numbers (and disabling unrecognized-field support), we can parse just the parts we need and skip over the rest (although just skipping over all the KV pairs takes time, so we'd be saving memory more than CPU).

[2016-07-15 16:54] xiang90 commented on #7807
This is what we have done in etcd. There are a few advantages for a separate WAL. You can control how to do preallocation, avoid unnecessary merging, log compaction only involves one disk io by making segmented files and more. We have a WAL pkg here if you want to look at: https://github.com/coreos/etcd/tree/master/wal. There are a few etcd related logic, but we would love to make it generic if yo

[2016-07-15 17:22] petermattis opened #7851 "storage: Replica.changeReplicasTrigger sets descriptor inappropriately"
`Replica.changeReplicasTrigger` sets the updated range descriptor (via a call to `Replica.setDesc`) before the corresponding batch is committed. If the batch fails to commit for some reason the Replica will be in an inconsistent state. This also differs from the behavior of `Replica.splitTrigger` which updates the range descriptors in a `batch.Defer`. We should modify `changeReplicasTrigger` to us

[2016-07-15 18:12] andreimatei commented on #6719
Should there be a mechanism to differentiate between send that's slow for an unknown reason (network), and might benefit from sending to another replica (because maybe we had an old leader in our cache), from a send that got to the right leader and is being processed, but just takes a while?

[2016-07-15 18:21] petermattis commented on #7644
Scenarios to test:
* First range gossip where the range lease holder remains a replica:
  * Lease is still valid.
  * Lease has expired. Tricky to test this as the lease needs to be valid when the change replicas begins.
* First range gossip where the range lease holder has been removed:
  * Lease is still valid.
  * Lease has expired.

[2016-07-15 18:29] petermattis opened #7852 "storage: Replica.String fosters deadlocks"
`Replica.String` calls `Replica.Desc` which grabs `r.mu.Mutex`. This makes `Replica.String` unsafe to call from any method which is already holding `r.mu.Mutex`. This issue is exacerbated by any log messages which wish to format a `Replica` using `%s`.

[2016-07-15 20:16] danhhz opened #7854 "sql: support CASCADE/RESTRICT shorthand in INTERLEAVE IN PARENT clause"
The initial implementation will parse but error on this shorthand described in the [rfc](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/sql_interleaved_tables.md#detailed-design).

[2016-07-15 20:17] paperstreet commented on #7854
@dt do we support multi-column foreign keys yet? If not, is there an issue I can link?

[2016-07-15 20:19] arjunravinarayan commented on #7852
I think we should change what `Replica.String()` prints. There are times when "safely print out this Replica's state in its entirety without a possibility of a race" is a valid function to want to have, but I'm not sure that function should live in the `String()` method, since `String()` has a predefined semantics (that doesn't involve not-holding a specific lock). Right now a naive logger can unw

[2016-07-15 20:45] arjunravinarayan commented on #7830
It appears that `hasOverlappingReplicaLocked` does the necessary check. @bdarnell, can you confirm that this is correct? So we just need to ensure that this function is called in all relevant places (such as in `Store.processRangeDescriptorUpdate`).

[2016-07-15 20:56] bdarnell commented on #7830
Yes, `hasOverlappingReplicaLocked` is the correct check. But `processRangeDescriptorUpdate` is too late - it is called after we have already committed our on-disk state, and if it fails we have no choice but to panic. We need to check for overlapping replicas early enough that we can still handle the error reasonably.

[2016-07-15 21:02] bdarnell commented on #6719
@andreimatei That would be beneficial, but it sounds complex. Do you have an idea for how we could introduce this kind of signal that work is in progress? (in theory it's easy with grpc streaming responses, but I think it would be tricky in practice)

[2016-07-15 21:03] jordanlewis commented on #7848
There are some API differences, such as not being able to attach a `trace.EventLog` to a `context.Context` the way you can with a `trace.Trace`.

On a related note, is there a reason why we sometimes use `net/trace` and sometimes `opentracing`? Also, we considered running a node-local opentracing collector like [`appdash`](https://github.com/sourcegraph/appdash) to enable viewing the opentracing t

[2016-07-15 21:09] bdarnell commented on #7852
Once upon a time, a `Replica`'s `RangeDescriptor` was stored in an `atomic.Value` instead of being protected by a `Mutex`. We had to change because we wanted to be able to change the descriptor atomically with other things.

If we want `Desc()` to be available in `String()` (and I think we do; I appreciate seeing the start/end keys in the logs), we could use both an atomic.Value and a Mutex: it ca

[2016-07-15 21:16] petermattis commented on #7852
I'd like to see the store ID included in `Replica.String()`. Perhaps also the node ID. But at least store ID to make debugging tests which interleave their log messages earlier.

Until we address #1779, I propose that every `log.{Level}*` call from `Replica` be prefixed with `%s` formatting of `Replica`. And if there are multiple replicas involved (i.e. during splits) we include both of them.

@ar

[2016-07-15 21:24] arjunravinarayan commented on #7852
Yes, I can take this on. @petermattis can you reconcile your proposal with @bdarnell's?

[2016-07-15 21:30] tamird commented on #7848
FWIW, I don't think the long-lived traces we're seeing on the beta cluster are exclusively sql traces.

Let's keep this discussion to the titled issue - there are some integrations with external collectors, though I don't know the details. See `lightstepToken` in util/tracing/tracer.go. I think @petermattis has the details.

[2016-07-15 22:54] tschottdorf commented on #7848
I was suggesting to make the issue self-contained.

Here's an example:

2016/07/15 17:15:03.318104	20299.046376	txn coordinator
17:15:03.318116	 .    12	... meta descriptor lookup
17:15:03.318125	 .     9	... looked up range descriptor from cache
17:15:03.318140	 .    15	... sending RPC to [/System/"update-cluster", /Table/11)
17:15:06.318360	3.000219	... error, trying next peer: rpc error: code =

[2016-07-15 22:57] tschottdorf commented on #7848
The sql traces look more innocuous:

When	Elapsed (s)
2016/07/15 16:32:07.738478	23008.933918	127.0.0.1:60952
16:32:07.741501	 .  3024	[redacted]
16:32:07.800657	 . 59156	... INSERT 1
16:32:07.801902	 .  1244	[redacted]
16:32:07.819136	 . 17234	... INSERT 1
16:32:07.819903	 .   767	[redacted]
16:32:07.827353	 .  7450	... INSERT 1
16:32:07.828505	 .  1151	[redacted]
16:32:18.795306	10.966801	... IN

[2016-07-16 00:42] petermattis commented on #7852
@bdarnell Has a reasonable suggestion for how to keeping the start/end keys in the logs. I'd like to see the addition of the store ID (which is globally unique in the cluster). Something like:

[code]

[2016-07-16 16:06] tamird commented on #4884
@jseldess any movement on this one?

[2016-07-16 16:59] bdarnell commented on #7846
It makes more sense phrased that way, to block `handleRaftReady` rather than to allow concurrent calls to it. But it's still tricky: we have to go through the `Store` to get the right `Replica` object on which to acquire this lock. (note that even though we have a `Replica` object for the right hand side of the split during the split trigger, it's not the same as the preexisting uninitialized repl

[2016-07-16 18:03] bdarnell commented on #6144
Here's another way to look at things: `Replica` conflates two different roles: the consensus group itself and the state machine managed by the raft commands. What if we made these two different types (tentatively `RaftGroup` and `StateMachine`), so that instead of transitioning through different states, we create the former when we know our replica ID and the latter when we know our key span? I th

[2016-07-17 04:04] bdarnell commented on #7652
Pulling on the thread of this message has turned up some interesting things. The message itself is straightforward: if we split several times in succession, a split may race with the asynchronous cleanup of an earlier split's intents and transaction record. This is because `intentResolver` attempts to GC the transaction record by talking to the `Replica` directly instead of going through `DistSend

[2016-07-17 05:55] mjibson opened #7861 "sql: panic on ALTER TABLE RENAME"
Similar to #7863.

`> ALTER TABLE t RENAME TO t.*`

Panics the server:

[code]

Found with the random syntax generator.

[2016-07-17 05:59] mjibson opened #7862 "sql: panic on INSERT: runtime error: index out of range"
[code]

Panics the server:

[code]

Found with the random syntax generator.

[2016-07-17 06:01] mjibson opened #7863 "sql: panic on TABLE: interface conversion"
Similar to #7861.

[code]

Panics the server:

[code]

Found with the random syntax generator.

[2016-07-17 06:06] mjibson opened #7864 "sql: panic on INSERT: close of nil channel"
This one doesn't have an easy repro. It depends on some previous SQL statements (that I don't have) to get the state to a certain point to cause it. But I have a stack trace and single statement to start looking.

[code]

Trace:

[code]

Found with the random syntax generator.

[2016-07-17 14:12] samlotti2 opened #7865 "sql: DATE values cannot be parsed from JDBC-generated DATE string inputs"
Hi,

Im trying to insert a date using a prepared statement, however all the approaches I tried result in errors:

[code]

Below is a simple example of the error (added date to the example from website).

[code]

[code]

[2016-07-17 14:37] dt opened #7866 "sql: allow compound (multi-col) foreign keys"
Currently only the `REFERENCES` _column_ qualification is supported.

The majority of the implementation is in terms of just comparing indexes, so supporting multi-col foreign keys should mostly just require adding the handling of the table qualification and extending the resolution of which index to use to do multi-col resolution.

[2016-07-17 14:37] dt commented on #7854
@paperstreet #7866

[2016-07-17 15:17] #7846 closed

[2016-07-17 18:29] alexander-manley commented on #7821
One approach for integrating Bleve with Cockroach, and thus provide CockroachDB with text search, would be to modify hugoidx (https://github.com/blevesearch/hugoidx) to allow it to BLEVE-index the contents of a Cockroach BLOB store (...https://github.com/cockroachdb/cockroach/issues/243) pre-populated with corpus text (web page scrapes, text-doc-dumps etc...).

In addition to **hugoidx**, the asso

[2016-07-17 20:16] knz commented on #7865
Hi @samlotti2, thanks for your report. Can you also check what happens if you use `prepareStatement.setDate` instead of `setObject`?

[2016-07-17 20:44] #7861 closed

[2016-07-17 20:44] #7863 closed

[2016-07-17 20:53] knz commented on #7864
Could you perhaps add a circular buffer of the last 100 schema-altering statements in the random generator, to troubleshoot this type of error in the future?

[2016-07-17 21:01] knz opened #7869 "sql: track an estimate of the number of rows in each table"
It would be useful to have access to an approximation of the number of rows in teach table for query optimizations. This is useful for:
- optimizing JOINs
- optimizing union/intersect
- reporting to users in the UI
- later on, optimizing sub-queries (whether to load data in memory or in an on-disk table)

Also perhaps useful to expose as user-facing function, see #7825 for an example use case.

[2016-07-17 21:02] knz commented on #7869
Food for thought: @petermattis suggested using gossiping to propagate the table sizes.

[2016-07-17 21:06] samlotti2 commented on #7865
Hi @knz

I did try all the versions that were commented.

Below is the version with setDate:
			prepareStatement.setDate(3, new java.sql.Date(System.currentTimeMillis()));

Here is the code.
[cockroach-sample.zip](https://github.com/cockroachdb/cockroach/files/368128/cockroach-sample.zip)

---The exception ---
Exception in thread "main" org.postgresql.util.PSQLException: ERROR: error in argument f

[2016-07-17 21:07] knz commented on #7865
Thanks! We'll have a look at this.

[2016-07-17 22:37] knz opened #7870 "test / please ignore"
I am testing some reporting scripts and need a sandbox issue for this. Please ignore.

[2016-07-17 22:41] tamird commented on #7865
I believe we've seen this report before; the issue is the format in which
the date is sent. Postgres is more lenient in its date parsing than we are.

On Jul 17, 2016 17:07, "kena" <notifications@github.com> wrote:

[2016-07-18 00:08] petermattis commented on #7869
I don't recall suggesting gossiping table sizes. My recollection is that I suggested using the meta2 table to provide size estimates. The meta2 table contains an entry for every range and each entry contains the start and end keys. This gives both a very rough estimate of the table size and a sampling of the rows.

[2016-07-18 00:18] petermattis opened #7872 "testutils/testcluster: TestBasicManualReplication slowness"
`TestBasicManualReplication` currently tests removal of a non-lease-holder replica. If the test is changed to remove the lease-holder replica, the runtime of the test 8.5x. Need to track down where that slowness is coming from. @bdarnell hypothesizes:

[2016-07-18 02:57] jseldess commented on #4884
@tamird, @knz, we do mention clock synchronization in our [recommended production settings](https://www.cockroachlabs.com/docs/recommended-production-settings.html#clock-synchronization), but the focus there is on transactions. Should we expand to somehow mention that large skews introduce a risk of db consistency errors? Can either of you help with a more precise message here?

[2016-07-18 06:56] mjibson opened #7873 "sql: panic on UPDATE: interface conversion"
See #7861, #7863.

SQL:

[code]

Panic:

[code]

Found with random syntax generator.

[2016-07-18 07:35] mjibson commented on #7864
I got this again with:

[code]

However this is also with 24 parallel connection all doing stuff, so it could be multiple INSERTS running or an INSERT and a DELETE running at the same time? Not sure.

@andreimatei any clues? You've been working near the lease code right?

[2016-07-18 08:06] mjibson commented on #7864
Again with:

[code]

[2016-07-18 08:38] tschottdorf commented on #6144
I think this is generally a good idea. The state-machine portion of `*Replica` should not have access to the unreplicated state (#6286 implicitly proposes a state-machine portion of `*Replica` for that reason), and instead communicate side effects explicitly.
Were you envisioning two completely separate types (i.e. two separate maps at the store level) or are you also considering a `*Replica` whic

[2016-07-18 09:19] tschottdorf opened #7874 "storage: test preemptive snapshot which arrives before previous Replica is gc'ed"
During #7833, it was discovered that we don't test this case (which is not surprising as our preemptive snapshot test coverage is generally low, and they are currently disabled).

[2016-07-18 09:28] rushiagr commented on #7610
Hi! I just created a commit fixing this issue (didn't knew it'll update the issue even if I'm pushing code in my fork without creating a PR). I'd appreciate if some feedback can be provided. Then I'll go ahead and tidy up the code, and write tests too.

Sorry @a6802739, didn't notice your comment until after writing the code. Did you start working on the issue?

[2016-07-18 09:33] tschottdorf opened #7875 "storage: roll back manual HardState updates"
I looked into rolling back the manual massaging of `HardState`s this morning. #7833 removes one instance, and the other is in `writeInitialState` (which is used to bootstrap a Raft group).
The reason we call this when bootstrapping a Raft group is because when we call this in the context of the `SplitTrigger`, we may have to absorb a HardState of a right-hand-side of the split which was created ea

[2016-07-18 09:43] a6802739 commented on #7610
@rushiagr , yes, I have started. it's ok, just go for it.

[2016-07-18 09:57] a6802739 commented on #7621
@tamird , I want to figure this issue. But I cann't quite understand what do you mean? could you give me a more concrete explanation?

[2016-07-18 10:02] a6802739 commented on #7643
@tschottdorf , I want to track this. But I cann't quite understand what do you say above. could you give a more concrete explanation?

[2016-07-18 10:12] a6802739 commented on #7794
@bdarnell , ok, I know it. thanks a lot. I will try to reduce the load right now.

I just want to test my cluster's scalability and the performance inflection point of my whole cluster through with the increasing load of my client.

[2016-07-18 10:24] tschottdorf commented on #7643
Hey songhao,

we want to be able to change the ZoneConfig like this:

`cat myfile.yaml | ./cockroach zone set -f - <name_of_zone>`

where `myfile.yaml` contains the a zone config. This one should also be possible:

`./cockroach zone set -f myfile.yaml <name_of_zone>`.

Currently you have to pass the contents of the yaml file as a command line parameter, which is awkward.

[2016-07-18 10:25] tschottdorf commented on #7643
That means you add a `-f` argument and when the value `-` is passed, you read from stdin. Otherwise, the argument is the file the contents of which are used.

[2016-07-18 10:46] #7862 closed

[2016-07-18 12:16] a6802739 commented on #4591
@knz, you mean we should write separate .java files instead of java_test.go

[2016-07-18 12:23] tschottdorf commented on #7869
See also https://github.com/cockroachdb/cockroach/issues/7825#issuecomment-232638966 (to translate the problem into either a read-only roundtrip to all replicas holding parts of the range, perhaps by using `DistSender` caches in addition (which could keep additional info about replicas they communicate with often essentially "for free").
I think those ideas are preferrable to using the meta ranges

[2016-07-18 12:25] tschottdorf commented on #7851
In the long term, we should move this up to the Store as a side effect as discussed in #6144 (but the infrastructure for that is just being dreamed up, so a Defer is strictly better in the meantime).

[2016-07-18 12:26] a6802739 commented on #5598
@petermattis , I could remove this. : )

[2016-07-18 12:39] petermattis commented on #5598
@a6802739 That's easy. :) We should probably be using them in acceptance tests.

[2016-07-18 13:50] petermattis commented on #7872
As @bdarnell guessed, the slowness is retrieving the range descriptor

The problem is not with `SendNextTimeout`. That timeout controls how long it is before `DistSender` waits to send to the next replica, but in this test we're sending to the next replica almost immediately because the first replica has replied indicating it does not have the desired range. So we send to the next replica and it s

[2016-07-18 13:55] tschottdorf commented on #7872
I thought we were going to make use of leadership transfers here.

On Mon, Jul 18, 2016 at 9:50 AM Peter Mattis <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-18 13:57] petermattis commented on #7872
@tschottdorf We're currently not (as far as I can tell). Do you recall where that discussion was had?

[2016-07-18 14:03] tschottdorf commented on #7872
No, we're definitely not. Lease transfers only landed recently (#7345) and we haven't done it yet (or even properly discussed it on an issue). During discussions on that PR that we realized that the leader could transfer away its lease without any downtime. I'm sure I mentioned that a few times during #7297 as well, but perhaps not online. Looks like the obvious thing to do, but let's discuss if i

[2016-07-18 14:25] petermattis commented on #7872
@bdarnell is wary of introducing production usage of lease transfers. In the short term, disallowing removal of the replica which is the lease holder or making sure `replicateQueue` does not remove the lease holder seem safer.

[2016-07-18 14:30] tschottdorf commented on #7872
Works for me, though that means that runs contrary to balancing load (since all active replicas stick to where the load is), but it'll probably do for a while.

[2016-07-18 14:40] petermattis commented on #7872
We don't rebalance based on load right now. Perhaps we can have an overloaded node gracefully shed range-leases.

[2016-07-18 14:49] alexander-manley commented on #3895
Cassandra and RethinkDB have been mentioned, but also in Redis they have a implemented a concept of published messages that are characterized as channels, and they do not have  knowledge of what (if any) subscribers there may be. Subscribers express interest in one or more channels, and only receive messages that are of interest, without knowledge of what (if any) publishers there are. The Redis P

[2016-07-18 14:50] petermattis opened #7878 "storage: TransferLease causes "timestamp in the future" errors"
See #7858. In particular, https://github.com/cockroachdb/cockroach/pull/7858#issuecomment-233131696. @andreimatei said:

The leases indeed overlap in case of a transfer. I think the new holder must set the low-water mark to the present time, on the account of the old holder knowing that it can't serve anything after the transfer, and the old and new holders also synchronizing their clocks with the

[2016-07-18 14:54] tschottdorf commented on #7872
We don't rebalance on load, but with that proposed change we rebalance based on no load. If block-writer writes to a single node, that node will have all the leader leases, so I will be unlikely to rebalance away from that node. In effect this can create a hotspot node on which all ranges are active and which has no way of getting rid of them.

There's no gracefully shedding active leases without

[2016-07-18 15:32] bdarnell opened #7879 "storage: Queues should contain IDs, not Replica objects"
Extracted from #7846:

The storage queues currently hold pointers to `Replica` objects. This could result in them acting on a Replica after it has been rebalanced away. This does not cause serious problems currently (the queues ultimately perform consistent operations that will fail on orphaned `Replicas`, but it complicates the concurrency story for Replicas. Instead of storing full Replica objec

[2016-07-18 15:36] bdarnell commented on #7834
The beta cluster is now reporting 102.2% capacity used and all nodes are down. One node is at 95% disk usage and the others are ~65%.

[2016-07-18 15:45] bdarnell opened #7880 "storage: Refactor GC RPC API"
The GC method is currently unique in that it is a range request which also contains keys in the body of the GCRequest. The DistSender is unaware of the keys in the body, so if it must split a GC request across ranges both sides get the full list of keys, including those outside their key span. The server side expects this and silently discards any keys that fall outside its span. However, this can

[2016-07-18 15:48] petermattis commented on #7872
Ah, that's a good point about only rebalancing ranges that are not receiving local load.

[2016-07-18 15:48] bdarnell commented on #7652
I tried to make the GC method stricter about what keys it accepts, but ran into roadblocks which I've filed separately as #7880.

Swapping the order in which AdminSplit touches the range descriptors leads to the stats being inconsistent with recomputation. I'm still investigating what's going on there.

[2016-07-18 15:55] petermattis commented on #7821
@alexander-manley Thanks for the notes. We'll definitely take a closer look at Bleve when considering full-text indexing.

[2016-07-18 15:58] knz commented on #4591
@a6802739 yes that is correct.

[2016-07-18 15:59] bdarnell opened #7881 "stability: nil pointer panic in client.Txn.CleanupOnError"
On the register cluster running beta-20160629, two nodes have failed (ten minutes apart) with the following panic:

[code]

[2016-07-18 16:04] ramanala opened #7882 "stability: client hangs after one node hits disk errors"
I start a 3-node cluster using a small script like this:

**cockroach start --store=data0 --log-dir=log0
cockroach start --store=data1 --log-dir=log1 --port=26258 --http-port=8081 --join=localhost:26257 --join=localhost:26259 &
cockroach start --store=data2 --log-dir=log2 --port=26259 --http-port=8082 --join=localhost:26257 --join=localhost:26258 &
sleep 5**

At this point, I see that the cluster

[2016-07-18 16:05] tschottdorf commented on #7652
It's expected that you'd need to jiggle the stats around a bit. Note that `EndTransaction` resolves all intents local to both RHS and LHS of the Split. That leads to some awkward computations that probably need some adjustments (though I can't immediately point the finger at what changed).

[2016-07-18 16:33] tschottdorf commented on #7837
https://gist.github.com/tschottdorf/4925f28343e338f8f3dab73176c1d8aa#file-gistfile1-txt-L81

TL;DR: A lot of RocksDB C++-side functions are stuck (apparently since the process started).

[code]

[2016-07-18 16:38] #7054 closed

[2016-07-18 16:38] #5978 closed

[2016-07-18 16:38] #7592 closed

[2016-07-18 16:53] tschottdorf commented on #7837
Total guesswork: We're loading those clusters from sstables created before @petermattis tuned the settings, so that the new version starting now will get caught up in a huge compaction?

[2016-07-18 16:55] petermattis commented on #7837
@tschottdorf That's certainly a possibility. You can run `cockroach debug compact` on the data directory to force a full compaction before starting the node.

[2016-07-18 16:55] tschottdorf commented on #7837
It's barely using any CPU nor memory, and `strace` shows only a FUTEX_WAIT. I'll try the manual compaction.

[2016-07-18 16:57] tschottdorf commented on #7837
Turns out that `./cockroach debug compact` has a similar workload. Are we maybe using some really shitty storage? How can I test?

[2016-07-18 17:05] tschottdorf commented on #7837
[code]

We should hook whatever we do for the main process into `cockroach debug` as well cc @BramGruneir

[2016-07-18 17:07] tschottdorf commented on #7837
[code]

[2016-07-18 17:08] cuongdo commented on #7837
`ulimit -n SOME_HIGH_NUMBER`

might have to tweak `/etc/security/limits.conf` too.

On Mon, Jul 18, 2016 at 1:06 PM Tobias Schottdorf <notifications@github.com>
wrote:

[2016-07-18 17:10] bdarnell commented on #7326
This happened again on gamma.

[code]

This time we do see VM migrations in the logs - a lot of them. Some nodes have been migrated many times in the last few days. This is just a portion of the log.

[code]

Sounds like we should disable live migration on our VMs, and make sure we have everything set up to restart on reboot.

The migrations are happening as often as 7 minutes apart. If each of th

[2016-07-18 17:10] bdarnell commented on #7326
I'll restart the servers but they were seeing migrations as recently as 9:27 this morning so the problems may continue.

[2016-07-18 17:12] tschottdorf commented on #7565
Seen again in https://circleci.com/gh/tschottdorf/cockroach/2559

[2016-07-18 17:14] BramGruneir commented on #7837
@tschottdorf I'll file an issue for making sure that debug also updates to the higher number of file descriptors, should be an easy fix.

[2016-07-18 17:16] BramGruneir opened #7886 "cli: increase limit for debug's open file descriptors"
We already do this for start, but we need to for debug as well.

See #7837

[2016-07-18 17:31] #7840 closed

[2016-07-18 18:26] #7709 closed

[2016-07-18 18:27] BramGruneir commented on #7872
Ok, so where do we stand with this issue?
Should I turn off removing the replica with the range lease to avoid the 3s delay?

I do plan to add load info for rebalancing soon, but that's a few weeks away.

[2016-07-18 18:30] petermattis commented on #7872
Yes, turn of removal of the range-lease-holder replica for rebalancing. But this isn't as urgent as the disk space issues.

[2016-07-18 18:40] maxlang opened #7887 "ui: fix clock offset"
As mentioned in #5728 the clock offset graph in the UI seems to be incorrect.

[2016-07-18 18:50] petermattis commented on #7881
Looks like we're calling `Txn.CleanupOnError` on a `nil` pointer. I'm still trying to trace through how this could happen. At the bottom we must have called `commitSQLTransaction` in order for `txnState.txn` to be set to `nil`. I'm not sure how to reconcile that with the `failure aborting transaction` error which seemed to occur on the line after where the panic occurred. Looks like the panic line

[2016-07-18 18:54] petermattis commented on #7881
@andreimatei This is deep in code you've touched.

[2016-07-18 18:56] petermattis commented on #7881
@dt, @paperstreet can one of you take a closer look at this while @andreimatei is out of the office?

[2016-07-18 18:57] petermattis commented on #7865
@dt Didn't we expand which date formats we parse?

[2016-07-18 19:05] #7852 closed

[2016-07-18 19:05] bdarnell opened #7889 "stability: "stepped down to follower since quorum not active""
On the gamma cluster, running beta-20160714. The cluster has just been revived by restarting nodes that failed due to clock offset problems. Query throughput is much lower than usual. There are a lot of messages like this in the logs:

[code]

This suggests raft transport issues, possibly an inability to keep up with non-coalesced heartbeats (although network utilization in terms of packets/sec is

[2016-07-18 19:06] bdarnell opened #7890 "stability: error generating snapshot: couldn't find range descriptor"
The gamma cluster (running beta-20160714) is currently experiencing problems. Two replicas appear to be stuck in a loop attempting to generate snapshots when the range descriptor is unavailable.

[code]

This should never happen - a replica shouldn't be able to get to the point of generating snaphots without being fully initialized. It's unclear whether these are preemptive or raft-driven snapshot

[2016-07-18 19:15] bdarnell opened #7891 "ui: raft status page fails to load on large cluster"
The raft status page does not load on the gamma cluster. No errors are present in the JS console and the UI does not appear to be busy working. The network tab shows that the data was loaded successfully.

[2016-07-18 19:25] ramanala commented on #7882
Please notice that subsequent requests go through fine if retried after waiting for few tens of seconds. But the original request request blocks forever. So this might be something to do with how client handles connections and NOT a server side problem.

[2016-07-18 19:36] tschottdorf commented on #7837
Wow. This compaction is still running. @petermattis does this sound legit?

[2016-07-18 19:43] petermattis commented on #7837
@tschottdorf How big was the data directory?

[2016-07-18 19:45] tschottdorf commented on #7837
I believe it was around 112GB (from the 108GB dump we use in the medium
upreplicate test).
It's also currently 112GB.

On Mon, Jul 18, 2016 at 3:43 PM Peter Mattis <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-18 19:46] bdarnell commented on #6144
I think two separate maps. Some parts of the code need both objects (e.g. the current `Replica.applyRaftCommand`). These could either be moved to `Store`, become static functions, or become methods of a new `Replica` type that would contain the two new types (and nothing else). If the latter, I think it would be a short-lived type that we'd create from the pair of objects on the fly as needed (so

[2016-07-18 19:46] petermattis commented on #7837
Yeah, it doesn't sound right that the compaction is still running. I would expect it to be able to compact a gigabyte in 10s of seconds.

[2016-07-18 19:50] tschottdorf commented on #7889
See https://104.196.125.166:8080/_status/ranges/local

"num_dropped" is very high for some ranges (~80k). We increment that every
time one of the per-Replica queues overflows.

On Mon, Jul 18, 2016 at 3:06 PM Ben Darnell <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-18 19:51] petermattis opened #7893 "storage: test that replica removal adds to replica GC queue"
`Store.changeReplicasTrigger` adds to the replica GC queue if it is removing the current replica. We need to add a test that this is working as expected.

[2016-07-18 19:52] tschottdorf commented on #7890
We could repeatedly curl `./debug/pprof/goroutine?debug=2` to see which one
of the two is (or perhaps pprof is easier).

On Mon, Jul 18, 2016 at 3:06 PM Ben Darnell <notifications@github.com>
wrote:

--

-- Tobias

[2016-07-18 19:56] bdarnell commented on #7875
The code before 5f78d719 worked thanks to the dynamic logic in `raftTruncatedState` and `InitialState`. These replicas were initialized, so they'd get a first index of 10 instead of 0. This wasn't completely correct (we could have thrown away votes that were cast before the splitTrigger), but it did prevent any attempts to replay the log from zero.

In principle, sending a dummy snapshot through r

[2016-07-18 20:00] tschottdorf commented on #7837
Even on a spinny disk with 40mb/s throughput?

[code]

It _is_ doing work. Well, suppose I'll leave it on over night.

[2016-07-18 20:02] petermattis commented on #7837
Oh, I thought this was one of those fancy "persistent ssd" disks on GCE where the limit would be network bandwidth.

[2016-07-18 20:03] tschottdorf commented on #7837
Maybe it is, but the CPU is getting bored and I haven't seen more than spinny-disk-type disk i/o.
Maybe we are using a silly machine config for those clusters.

[2016-07-18 20:16] d4l3k commented on #7891
Fix https://github.com/cockroachdb/cockroach/pull/7894

[2016-07-18 20:18] tschottdorf commented on #7837
It finished.

[2016-07-18 20:22] cuongdo commented on #7837
@tschottdorf: can you upload the compacted store to GCS for the "medium" data set?

I'll do the same for the small one to hopefully fix the 1->3 test.

[2016-07-18 20:26] mrtracy opened #7896 "ui: Store Histogram Bucket Counts in Time Series system"
We are not currently recording "Histogram" metrics in a way that can be aggregated across nodes; we record a fixed set of quantiles directly from each node for each histogram (e.g. 50th percentile, 90th percentile), but this information cannot be used to compute aggregate quantiles later (e.g. 50th percentile across all nodes).

To compute aggregate quantiles, we will need to begin recording histo

[2016-07-18 20:28] tschottdorf commented on #7837
Yep, already running. Haven't tried whether it fixes it because I didn't want to ruin the state, but chances are it's going to.

[2016-07-18 20:28] tschottdorf commented on #7837
I used the name <oldname>-compacted.

[2016-07-18 20:30] tschottdorf commented on #7896
We should look at making the number of buckets more reasonable first.
HDRHistogram is tunable and isn't limited to a fixed bucket size, so its
configuration space should be able to give us something reasonable (unless
we want to go out and make our own histogram that has some other
distribution of bucket widths that better fits our use cases, the necessity
of which would surprise me).

On Mon, Jul

[2016-07-18 20:44] dt commented on #7581
#7788

[2016-07-18 20:44] #7581 closed

[2016-07-18 21:00] #7851 closed

[2016-07-18 21:06] #7878 closed

[2016-07-18 21:10] arjunravinarayan commented on #7830
Summary of a discussion with @bdarnell:

Currently `store.canApplySnapshot` checks `store.hasOverlappingRanges` which checks the `store.mu.rangesByKey` map. However, once this check succeeds, `replica.applySnapshot` is not called synchronously - so there is the possiblity of a race if two `MsgSnap` requests for overlapping ranges are let through before either is applied. If this happens, currently

[2016-07-18 21:12] dt commented on #7671
The `only root is allowed to create databases` error is expected I believe: a user other than `root` is not allowed to issue a `CREATE DATABASE` command, even fi it contains qualifications like `IF NOT EXISTS` that mean it might not have an effect at runtime.

I have a fix for the `ADD COLUMN` issue though that I'll push shortly.

[2016-07-18 21:14] #7891 closed

[2016-07-18 21:14] cuongdo commented on #7837
I moved the old store archive to `1node-10g-262ranges-precompact` and put the compacted store archive in the original location (`1node-10g-262ranges`). This test is definitely progressing much further now.

I'll close this issue once the test succeeds.

[2016-07-18 21:34] knz opened #7899 "tests: possible regression on a Jepsen test (new write skews)"
So I am re-running the tests after a hiatus of 3 months. One test that used to pass and is now failing is the `monotonic` test, which runs `insert into test(ts, val) select current_logical_timestamp(), max(val)+1 from test` concurrently from different clients and expects both values 1) *to increase in the same order* and 2) *to be unique*.

This used to work without errors. Now today I found multi

[2016-07-18 21:35] youngl98 opened #7900 "build: NPM error on building nopt running build/builder.sh"
- What did you do?

I am behind a corporate proxy, modified the build/builder.sh as per @knz (Thanx kena) and ran it on Mac OS (El Capitan 10.11.5).  I am not if this is relevant, but I am using zsh to build.

[code]
- What did you expect to see?

I expected the build to complete.
- What did you see instead?

I am getting the following error...

[code]

See:

[npm-debug.log.txt](https://github.com

[2016-07-18 21:44] knz commented on #7899
The logs reveal that in all 3 cases there was a timeout upon adding the 2nd entry in the table; and the transaction commit was not canceled properly. See for example:

http://jepsen.cockroachdb.com/cgi-bin/display.py?path=cockroachdb-monotonic%3Ablank%2F20160718T213531.000Z&merge-logs=1
on node 3 at timestamp 160718-21:36:03.525584

[code]

[2016-07-18 21:44] knz commented on #7899
cc @tschottdorf would welcome your comments.

[2016-07-18 21:47] bdarnell commented on #7872
We could also remove the randomness here by adding the lease expiration time to `NotLeaderError`. `DistSender` could synchronize its retries with the expiration of the old lease. See also #3196.

[2016-07-18 21:53] knz commented on #7899
Couple more:

http://jepsen.cockroachdb.com/cgi-bin/display.py?entry=20160718T214643#20160718T214643

http://jepsen.cockroachdb.com/cgi-bin/display.py?entry=20160718T213531#20160718T213531

All of them have the same error "failure aborting transaction".

[2016-07-18 22:01] spencerkimball commented on #7652
Found the problem. Looks like we weren't flushing the batch iterator when computing stats.

[2016-07-18 22:35] paperstreet commented on #7881
Yeah, I can take a look tomorrow morning if no gets to it before me.

[2016-07-18 23:27] #7671 closed

[2016-07-19 00:10] #7644 closed

[2016-07-19 00:13] petermattis commented on #7872
We now have two tests ([TestBasicManualReplication](https://github.com/cockroachdb/cockroach/blob/master/testutils/testcluster/testcluster_test.go#L146) and [TestGossipFirstRange](https://github.com/cockroachdb/cockroach/blob/master/storage/gossip_test.go#L30)) that transfer the range-lease immediately before removing the replica that was holding the lease. As far as I can tell, this works fine. P

[2016-07-19 00:31] cuongdo commented on #7837
This test just passed via TeamCity, compaction of the archived data fixed this timeout.

[2016-07-19 00:48] tamird commented on #7900
Looks like an NPM bug? Does NPM respect those environment variables?

On Mon, Jul 18, 2016 at 5:36 PM, youngl98 <notifications@github.com> wrote:

[2016-07-19 03:11] a6802739 commented on #4591
another question, where is the code to control all the execute logic in acceptance. is it run.sh?

[2016-07-19 03:42] a6802739 commented on #7643
@tschottdorf, thanks for your explanation. `<name_of_zone>` should be unique?

[2016-07-19 03:59] YuleiXiao opened #7906 "logging: entire db stalls on contended log I/O although data sits on non-contended storage"
I found a problem on my pc. There is a process crash dump, and it write core file. But the core file is very large, it makes disk very busy. At the same time, I find most cockroach goroutine blocked on write debug  log until writing core file finished, about 2 minutes. Raft log and data is ok because it is in different disk.

[2016-07-19 06:06] mjibson commented on #7864
Alright, I figured this out. It's not really testable since it's a race condition except through many parallel attempts to acquire a lease. For reference, the panic occurs here: https://github.com/cockroachdb/cockroach/blob/1939baa458fd4d2d817b8befdbc40e24ffa88472/sql/lease.go#L600

The only 2 callers of that function (acquireFromStoreLocked) call `t.mu.Lock()`, and thus can't be called at the sam

[2016-07-19 06:10] tschottdorf commented on #7864
I don't know if it's the right fix, but isn't it straightforward to avoid the double-closure by checking for `ch == nil` just before attempting the `close`?

[2016-07-19 06:12] tschottdorf commented on #7837
Did the same for 1node-2065replicas-108G.

On Mon, Jul 18, 2016 at 8:31 PM Cuong Do <notifications@github.com> wrote:

--

-- Tobias

[2016-07-19 06:28] mjibson commented on #7864
Yes, that would avoid the double closure. But the call to `t.active.insert(s)` a few lines down panics if an identical lease is inserted. There's obviously a way to fix that, too. But what other problems are caused by something else downstream? It seems like some assumptions when acquireFromStoreLocked do not hold and the fix needs to be in higher level.

[2016-07-19 06:35] tschottdorf commented on #7864
I agree. While the relevant brains are in REM, one piece of work that needs to be done is creating a test which repros this reliably.

[2016-07-19 06:52] jordanlewis opened #7907 "stress: failed test in cockroach/cli/cli.test: Example_sql_escape"
Binary: cockroach/static-tests.tar.gz sha: https://github.com/cockroachdb/cockroach/commits/1939baa458fd4d2d817b8befdbc40e24ffa88472

Stress build found a failed test:

[code]

Run Details:

[code]
Please assign, take a look and update the issue accordingly.

[2016-07-19 07:02] tschottdorf commented on #7837
I'm still seeing the process lock up for at least 10 minutes (then I killed
it). I did double check that it's actually using the precompacted file.

On Tue, Jul 19, 2016 at 2:12 AM Tobias Schottdorf <tobias@cockroachlabs.com>
wrote:

--

-- Tobias

[2016-07-19 07:14] tschottdorf commented on #7837
Output of `./cockroach debug compact ./data0`. @petermattis looks expected?

[code]

[2016-07-19 07:16] tschottdorf commented on #7643
The semantics of <name_of_zone> should be like in the current version of
the command. Nothing changes there.

On Mon, Jul 18, 2016 at 11:43 PM songhao <notifications@github.com> wrote:

--

-- Tobias

[2016-07-19 07:25] a6802739 commented on #7550
@knz , I just found it here.

[2016-07-19 07:26] a6802739 commented on #7643
@tschottdorf , could I just change to command to `./cockroach zone set  <name_of_zone>  --conf= myfile.yaml`

[2016-07-19 07:45] tschottdorf opened #7908 "cli: document SSTableInfo format"
Looking at `./cockroach debug sstables` today, I wasn't sure on how to read the output at first. It would be useful to have documentation on the output format (and perhaps even a bit about what to look out for). As far as I can tell, the format also isn't documented anywhere else in the source code (or it would be sufficient to refer the reader there, it being a debug command).

[2016-07-19 07:47] tschottdorf commented on #7643
That's the above suggestion but with `-f` instead of `--conf` and with the
convention that a filename of `-` corresponds to reading from stdin.

On Tue, Jul 19, 2016 at 3:27 AM songhao <notifications@github.com> wrote:

--

-- Tobias

[2016-07-19 07:54] tschottdorf commented on #7837
(I'm also wondering whether the output format could be improved, for example by coalescing adjacent identical outputs:

`3 [ 109G]: 8M[1025] 16M 17M` (and does the order matter?)

[2016-07-19 07:54] a6802739 commented on #7643
@tschottdorf , thanks. got it. I will try to fix this.

[2016-07-19 07:56] a6802739 commented on #5598
@petermattis , ok. I also could add some tests for it.

[2016-07-19 08:22] tschottdorf commented on #7837
As another data point, here's what the uncompacted version looks like:

[code]

[2016-07-19 08:22] tschottdorf commented on #7837
I'm going to spin up a pd-ssd version of the test and compact again to see whether perhaps it just needs a few passes. Who knows.

[2016-07-19 08:44] tschottdorf commented on #7837
Here's the throughput on pd-ssd:

[code]

[2016-07-19 09:01] tschottdorf commented on #7837
And I just found out how `iostat` really works, so disregard all those numbers above. `iostat -h -y 1` is what I really should have looked at.

Regardless, on my pd-ssd instance compaction finished reasonably quick and re-running the command returns instantly. Going to upload that one and see how it behaves.

[2016-07-19 09:20] tschottdorf commented on #7830
You could implement the third option by hiding the bit in `s.pendingRaftGroups`, though that will be less space efficient (since snapshots are rare and `struct{}{}` is optimized away when `bool` isn't).

To make the third option a little more palatable, you can actually translate it into a performance improvement. Namely, instead of just a marker, you actually store the unmarshaled snapshot (you u

[2016-07-19 09:27] tschottdorf commented on #7875
Thanks. I wonder how I manage to keep forgetting that we used to synthesize a HardState before. You'd think that was pretty central to it all.

I'll investigate using the Raft group at some point. Should be easy enough to try out this strategy in `writeInitialState`.

[2016-07-19 09:32] tschottdorf commented on #6144
Hmm, interesting. Wouldn't that correspond to a composite `type struct { RequestHandler; StateMachine }` where RequestHandler (the part which handles incoming requests including tsCache, cmdQ, pendingCmds) doesn't do arbitrary disk i/o (but can query the StateMachine for proposed-eval'ed kv) and the actual state machine which owns the disk but can't access anything but replicated state? That seems

[2016-07-19 09:50] tschottdorf commented on #6144
Attempt at an artistic rendering. Are any `*Replica` components missing (I omitted the Store as not to clutter the diagram)?

[code]

[2016-07-19 09:54] tschottdorf commented on #7908
From #7837:

3 [ 109G]: 8M[1025] 16M 17M (and does the order matter?)

[2016-07-19 10:20] tschottdorf commented on #7899
Hmm, that looks serious. We certainly haven't regressed to that bug we had once where the JDBC driver wasn't properly leaving the transactional context (thus mixing multiple txns in one), right?

What do you mean by

What's the mechanism you suspect here? It looks like the abort failed because the transaction is already considered aborted. As long as the client never tries to commit it later (and

[2016-07-19 10:42] tschottdorf commented on #7880
There's also a third, somewhat more involved, option: We have `(*Replica).mu.state.GCThreshold`. Reads/writes for at timestamps `<= GCThreshold` are refused, so we can be more flexible with data at lower timestamps. If a first non-deleted kv pair at a timestamp below `GCThreshold` exists, it can be moved up to timestamp `GCThreshold`. A second, third, ... such kv pair can be cleared out (and this

[2016-07-19 10:44] tschottdorf commented on #7880
Other than that, I agree that unbundling the keys and making GCRequest single-key is the way to go, the only potential problem down the line being the cost.

[2016-07-19 10:48] tschottdorf commented on #7880
There's also a more immediate fix, which is to let GCRequest return the number of keys it actually GC'ed. DistSender would then add up those numbers (automatically, once `GCResponse` implements `Combinable`) and return it to the client in the response. The client can then verify that `gcResponse.NumGC == len(gcArgs.Keys)`.

[2016-07-19 10:49] tschottdorf commented on #7850
cc #7830 since a solution proposed there (range reservations) would play along nicely as a container for the unmarshaled snapshot.

[2016-07-19 11:34] knz commented on #7906
Hi, thanks for your report. This issue is similar to #7646.

[2016-07-19 11:36] knz commented on #7646
Reported by user in #7906: if the logging output to a disk is blocked due to high I/O on that disk, the db stalls even if the data is on other disks.

[2016-07-19 11:40] tschottdorf commented on #7830
cc #7833 (preemptive snapshots through Raft)

@petermattis

@bdarnell

The solution to #7830 should let us fix this. Once we can reserve our spot in replicasByKey before applying the snapshot, we no longer need to hold processRaftMu throughout the snapshot application process, and we can use a Replica-level lock instead.

[2016-07-19 11:42] knz commented on #7900
@tamird unlikely; the other npm packages prior to nopt are downloaded and build properly.

[2016-07-19 11:42] tschottdorf commented on #7837
Ok, at least on an SSD instance I was able to run the 1-6 acceptance test which is currently rebalancing.

[2016-07-19 11:42] #7837 closed

[2016-07-19 11:43] tschottdorf commented on #7646
Should likely be addressed during #1779

[2016-07-19 11:44] tschottdorf commented on #7906
cc #1779

On Tue, Jul 19, 2016 at 7:35 AM kena <notifications@github.com> wrote:

--

-- Tobias

[2016-07-19 11:52] knz commented on #7873
Repros also with `INSERT INTO foo(col.*) VALUES ...`

[2016-07-19 11:59] petermattis commented on #7906
Debug log writes are buffered and only flushed every 256KB. I'm not sure what we can do that is better than the current approach. If you make the debug log writes completely asynchronous then the buffer must be unbounded in size which is problematic from a memory perspective. We could drop debug log entries if the buffer gets full, but that is problematic for debugging.

@YuleiXiao Can you provide

[2016-07-19 12:03] petermattis commented on #5598
@a6802739 Rather than adding tests for test infrastructure, can you add a new acceptance test which utilizes these methods? I'm not seeing a use for `Container.Stop`, but I can imagine a test which uses `Container.Pause` that is similar to `acceptance/chaos_test.go` but which pauses one of the nodes for a short time and then allows it to continue.

[2016-07-19 12:34] knz opened #7912 "tests/docs: implement a clojure/jdbc friendly version of the restart protocol"
Requested by @bdarnell in https://github.com/cockroachdb/jepsen/pull/17#discussion_r71263587

in reaction to https://github.com/knz/jepsen/blob/683faf0f885b305155c8887c1ce5817b780c0f6d/cockroachdb/src/jepsen/cockroach.clj#L309-L314:

[code]

Both the Jepsen tests and the documentation need new Clojure code to properly support txn restarts.

[2016-07-19 12:36] knz commented on #4591
Yes, `acceptance/run.sh` calls `go test` which in turn runs all the Go tests defined in the directory.

You can also run `make acceptance` from the top-level directory, which will do the same thing.

[2016-07-19 13:27] petermattis commented on #7880
I'd prefer making `GCRequest` symmetric with other request types and only operate on a single key. `MVCCGarbageCollect` currently contains a loop which doesn't share any state between iterations that wouldn't also be shared by pulling the loop out to a higher level. (The only shared state is the iterator, but we cache that within the `engine.Batch`).

[2016-07-19 13:30] tschottdorf commented on #7880
I agree that that's the prettiest solution.

[2016-07-19 14:07] tschottdorf commented on #7489
Spending a lot of time getting the range lease:

[code]

[2016-07-19 14:09] #7908 closed

[2016-07-19 14:38] tschottdorf commented on #7489
potentially long snapshot generation (though the 1 minute inbetween suggests that something that wasn't caught by a tracepoint ran a 1min timeout; perhaps some gossip issue?)

[code]

[2016-07-19 14:38] petermattis commented on #7830
Looks like there should be a bit of refactoring of `handleRaftMessage`. Currently, `canApplySnapshot` is called before we retrieve/create the replica. I think we should move it afterward, but while `Store.mu` is still held. `canApplySnapshot` should then be renamed to something like `prepareForSnapshotLocked` and it would add to the `replicasByKey` map if the replica is uninitialized. (If the repl

[2016-07-19 14:42] cuongdo commented on #7580
I'm leaning toward making this test run for a specific duration.

These tests, combined with the performance degradation alerts that @WillHaack is adding to benchviz, should provide us continuous feedback for stability and performance.

[2016-07-19 14:44] petermattis commented on #7580
Sounds good to me.

[2016-07-19 14:46] tschottdorf commented on #7830
I think we should avoid upcalls from `Replica` to `Store` where we can. If the store is holding a reservation, why hide its state somewhere else, especially when the lifecycle is that transparent (exactly like pendingRaftGroups)?

[2016-07-19 14:51] petermattis commented on #7830
There are plenty of upcalls from `Replica` to `Store` (e.g. `r.store.processRangeDescriptorUpdate`), not sure why this would be problematic. Yes, the `Store` is holding the reservation in the form of a `Replica` in the `replicasByKey` map, but the `Replica` is the entity which knows when the reservation has been filled or should be cleared.

If we don't have `Replica` making an upcall to `Store`,

[2016-07-19 14:54] tschottdorf commented on #7830
@arjunravinarayan's comment, if I understand it correctly, above points out that we can simply throw away all registrations after handling a cycle of `Ready`s. This is because we make a reservation when we `Step` the RaftGroup, so after looking for the next ready, no more snapshot for that Step can be emitted and whatever reservation is left will never be claimed by the respective Replica.

[2016-07-19 14:56] petermattis commented on #7489
Not a lot of code between the `reservation granted` and `generated snapshot` trace entries. I suspect what is happening is we're in the retry loop of `Replica.GetSnapshot` waiting for other snapshots to complete. Would be straightforward to add a trace entry when we're retrying waiting for `Store.AcquireRaftSnapshot` to let us proceed.

I understand why `Replica.Snapshot` can't block waiting for p

[2016-07-19 15:00] petermattis commented on #7830
@tschottdorf That's my understanding as well and is used by my suggestion above. So where are you going to put that check if not in a defer from  `Replica.handleRaftReady`? `Store.processRaft` is the only other location, but doing it there would require you to keep a list of all of the reservations that weren't fulfilled and then loop over them. Certainly possible to do that as well, but it doesn'

[2016-07-19 15:06] tschottdorf commented on #7830
Because Store hierarchically sits above Replica, so every call in the other direction complicates concurrency.

I am playing with (in WIP) returning a value from `handleRaftReady` for the split trigger (as a starting point for #6286). The idea is again that the Store should perform those complex operations which exceed the scope a Replica is aware of. We will need to return side effects from comma

[2016-07-19 15:14] petermattis commented on #7830
How are you going to propagate a value from `Replica.splitTrigger` back up the call chain to be returned from `Replica.handleRaftReady`?

[2016-07-19 15:18] tschottdorf commented on #7830
Just as you'd think. `splitTrigger -> applyRaft* -> handleRaftReady` (later, with leader-proposed Raft, the split trigger would have to take its inputs from the supplied WriteSet where possible, and the rest would need to be sent explicitly with the Raft command). Is there a problem staring me in the eye that I'm failing to see?

[2016-07-19 15:21] tschottdorf commented on #7830
Or rather, what I'm proposing is that the batch command would really only set the state for the real split trigger (i.e. do the writes that prepare the LHS and RHS) and then return the relevant information up to the Store which would then adjust its replicas accordingly (the part which is now in the `batch.Defer` in the split trigger. I'm also about to post a (very first) PR for this direction.

[2016-07-19 15:24] tschottdorf commented on #7830
The part moved to its own function in #7915 (just posted) is roughly what I would expect to be run on `Store` instead of being called from the bowels of `*Replica`.

[2016-07-19 15:26] jseldess opened #7916 "sql: interval formats should support both positive and negative units"
We support 3 [`INTERVAL`](https://cockroachlabs.com/docs/interval.html) formats: Golang, Postgres, ISO.

Currently, you can specify a negative interval only when using the Golang format:

[code]

Based on the Postgres docs, the Postgres format should support this as well (quote below). For full compatibility, it might be necessary to support not only one sign for the entire interval, but differing

[2016-07-19 15:27] petermattis commented on #7830
`Replica.handleRaftReady` loops over committed entries calling `Replica.processRaftCommand` which calls `Replica.applyRaftCommand` and on down to `Replica.splitTrigger`. But I don't see anything that prevents multiple committed entries from being applied in a single call to `Replica.handleRaftReady`. After an entry containing a split-trigger, don't the effects need to be applied before processing

[2016-07-19 15:29] jseldess commented on #2710
Docs updated with https://github.com/cockroachdb/docs/pull/462

[2016-07-19 15:31] petermattis commented on #7830
I took a look at #7915. My point still stands that I think `splitTriggerPostCommit` needs to run after the batch is committed but before the next raft command is processed. With the current structure of `Replica.handleRaftReady`, that implies an upcall to `Store` in some form, not a return value.

[2016-07-19 15:32] tschottdorf commented on #7830
Good point about applying multiple entries in one `Ready`. That does taint it a little bit, but only means that the store needs to pass a handler down (the short distance) to `handleRaftReady` instead of getting a value returned from `*Replica`. You can probably see where I'm going: `*Replica` shouldn't be able to call random stuff on `*Store`. Instead, `*Store` should be in control and be at the

[2016-07-19 15:34] knz commented on #7899
Making some progress, it's not looking good...

The error message "failure aborting transaction" was a red herring. In this test results:
http://jepsen.cockroachdb.com/cgi-bin/display.py?entry=20160719T152418#20160719T152418
it does not occur however there is still a duplicate value inserted.

For this test (and onwards) I added txn / statement logging, so we can also rule out that the txn is bein

[2016-07-19 15:50] tschottdorf commented on #7899
Any clock offsets? Run with an offset of 1sec just to be safe.
The above gives us a good first idea of the failure mode, but I think you're going to have to drop down and instrument KV as I suggested above. In particular, we're going to care about updates to and queries of the timestamp cache. In the above history, the second transaction (the one that started early but finished late) should have f

[2016-07-19 16:41] tschottdorf commented on #7489
A general taste of the speed of things:

[code]

[2016-07-19 16:43] petermattis commented on #7489
Well that's not good. Does it start off at that speed or degrade over time?

[2016-07-19 16:45] bdarnell commented on #5598
I think it would be useful to have three versions of the chaos test: the current one that uses `Container.Kill` and `Restart`, one that does `Stop` and restart (the difference is that `Stop` tries to shut the container down cleanly), and one that does `Pause` and unpause.

[2016-07-19 16:54] tschottdorf commented on #7489
I think it degrades. This is from very early:

[code]

There are probably some insanely low-hanging fruit here. Somewhat surprisingly, I didn't see many gc'able replicas (at least not judging from http://104.196.46.121:8080/#/raft/ranges?_k=jn4mqv), the gcqueue-on-speed must be doing a reasonable job with the stop-gaps I put in a while ago (though we should still do the event-driven thing sooner t

[2016-07-19 16:56] petermattis commented on #7489
We're going to disallow removing the lease holder. Adding a new replica (i.e. moving from 1 to 2 replicas) will be unaffected.

[2016-07-19 16:56] petermattis commented on #7489
Are the instructions in `allocator_test.go` still accurate for running this test?

[2016-07-19 16:57] tschottdorf commented on #7489
Ah, duh. Yes, they are.

[2016-07-19 17:07] vivekmenezes commented on #7864
Taking a look at this today

[2016-07-19 17:10] paperstreet commented on #7881
I'm still familiarizing myself with this code, but maybe something like the following could have caused that panic:
- the for loop in `execStmtsInCurrentTxn` hits an `Aborted` or `RestartWait`
- in `execStmtInAbortedTxn` the next stmt read is a `CommitTransaction` or `RollbackTransaction` so it calls `rollbackSQLTransaction` (and prints the error Pete mentioned), then sets `txnState.txn` to nil
-

[2016-07-19 17:15] BramGruneir commented on #7489
See #7918 for disallowing the lease holder from being down replicated.

I'll plumb some tracing into the snapshot generation to see if we can get closer to the cause of the delays.

[2016-07-19 17:24] vivekmenezes commented on #7864
@mjibson your theory is accurate. I'll look into sending out a fix with hopefully a test. Thanks for debugging this issue!

[2016-07-19 17:27] knz commented on #7899
One step further, this time using the following test:
http://jepsen.cockroachdb.com/cgi-bin/display.py?entry=20160719T165412#20160719T165412

We're looking at the txns that insert the value "4" into the table.

First transaction, on node 4:
[code]

so far, so good.

In the meantime, a txn on node 2 started earlier comes in and conflicts:
[code]

in other words, conflict, abort, everything is fine.

[2016-07-19 17:27] knz commented on #7899
These are exceirpts from the txn logging.
In the middle (interleaved with this) we can see a number of splits and replica traffic. Needs to be investigated further.

[2016-07-19 17:28] bdarnell commented on #7906
Dropping log messages is not ideal but preferable to blocking the rest of the system, especially if we can queue things up separately by level (this is one of the advantages of the google-style logs with separate ERROR, WARNING, and INFO files instead of the unified stream of `--logtostderr`).

We should also identify the things that cause large volumes of logging and make them less noisy, but tha