[2017-11-14 18:00] jordanlewis commented on #20046
Nice find

[2017-11-14 18:14] dianasaur323 opened #20047 "core: quiescent range doesn't seem to be rebalancing"
This is on the geo-distributed PM cluster. One node is struggling right now, but there are three others that are up.

![image](https://user-images.githubusercontent.com/5768024/32796695-8359ed40-c93d-11e7-87c0-0ba7e25599be.png)

There continues to be one undereplicated range. In the debug page, the leader was marked as "slow" where as there was one other node with the range on it, and no third cop

[2017-11-14 18:20] jordanlewis commented on #20046
Do you have the `SHOW CREATE TABLE` for that table?

[2017-11-14 18:24] arjunravinarayan commented on #20046
It's in the linked issue. Here's my cleaned up create statement:
[code]

[2017-11-14 18:25] couchand opened #20048 "sql: allow index hints for UPDATE and DELETE"
Index hints (e.g. `SELECT foo FROM bar@baz` to use the `baz` index on `bar`) are a good way to force the use of a particular index when the user knows the right access pattern for a given query.  Unfortunately, they currently only work on `SELECT` queries, but we could extend them to be available for use on `UPDATE` and `DELETE` queries, too.

Community request from Gitter.

[2017-11-14 18:26] nvanbenschoten commented on #19947
Looks like @richardwu's cluster was still using RocksDB 5.9:

[code]

He said the branch he was running may not have been rebased off of the RocksDB 5.9 revert, so it looks like everything there checks out.

[2017-11-14 18:28] jordanlewis commented on #20046
Thanks.

If you change the cast to `::TIMESTAMPTZ` (the table's column type is in fact timestamp with time zone and not timestamp) the span creation appears to work successfully.

Nonetheless this is still clearly a bug.

[2017-11-14 18:28] couchand commented on #20048
@awoods187 assigning to you for triage/roadmapping.

[2017-11-14 18:30] mberhault commented on #19947
That's reassuring, I'm almost done with my bisection (assuming my <10m crash estimate is correct and not just luck. So far it's been ~7m and I've been letting things run for at least 20).

Current state after 9 runs:
[code]

[2017-11-14 18:34] tschottdorf commented on #19947
🍿

[2017-11-14 18:42] mrtracy commented on #20014
Mitigations I can think of, in order of complexity to implement

+ Remove the 30 day window option.
+ Reduce the absolute number of TS queries a node can access in parallel.  This is currently enforced by a "LimitedAsyncQuery" in the time series server, and currently we allow 250 parallel queries. We could reduce that number, and that could mitigate this problem if it is the result of numerous par

[2017-11-14 18:46] arjunravinarayan commented on #19932
As a fast workaround, If you change your cast to `::TIMESTAMPTZ` then it works. We will fix the bug so it works with `TIMESTAMP` casts as well, but this should fix the performance for now:

[code]

[2017-11-14 18:54] petermattis commented on #20014
@mrtracy It isn't clear from your message: are these options being suggested after looking at a heap profile of timeseries query memory usage?

This seems like a good option, though I'd like to see the analysis of a heap profile during a timeseries query to verify it will address the problem.

[2017-11-14 18:56] jordanlewis commented on #20046
The bug is that index selection doesn't consider a `TIMESTAMP` to be comparable to a `TIMESTAMPTZ`, and therefore discards the constraint comparing the `TIMESTAMPTZ` column to the `TIMESTAMP` value as unusable for the purposes of constraining the index.

This is apparently by design, at least somewhat:

https://github.com/cockroachdb/cockroach/blob/5769b3bb9a91380fdc504e080fee9e1e76bca291/pkg/sql/

[2017-11-14 19:12] mberhault commented on #19947
Oh fun:
[code]

The skipped one is just a .md file.
The culprit according to my run is https://github.com/facebook/rocksdb/commit/593d3de37171d99a761ce2ab34ffa12654acd055, but I have no idea what's going on there.

[2017-11-14 19:13] spencerkimball commented on #20014
Yes streaming sounds like an excellent direction.

Longer term seems we should also explore downsing.

On Tue, Nov 14, 2017 at 1:55 PM Peter Mattis <notifications@github.com>
wrote:

[2017-11-14 19:17] petermattis commented on #19947
That change seems innocuous. How hard did you try to reproduce at ab0542f?

[2017-11-14 19:18] mberhault commented on #19947
I'm rerunning it now. So far, all my failing runs failed around 7-8 minutes, and all the passing ones ran for at least 20.
There are three good runs close to each other: either I'm really unlucky, or this indeed the problem:
[code]

[2017-11-14 19:18] mrtracy commented on #20014
No, those suggestions are based on my intuition of what would be using memory in this system.  I suppose there could be something unexpected at play, but if a single request queries a large number of time series over a large timespan, using a large chunk of memory wouldn't surprise me at all.  In order to service a large timespan query, we currently pull *all* data for that a time series over that

[2017-11-14 19:19] mberhault commented on #19947
After re-running it, I'll pick some other failing ones, reproduce, revert, run again.

[2017-11-14 19:23] petermattis commented on #19947
On the other hand, 593d3de does change the restart interval for range deletion blocks. If there is a problem with that commit, it is likely the change to `table/block_based_table_builder.cc`.

[2017-11-14 19:25] andreimatei commented on #20003
@gpaul the error not resolving itself is very surprising. Thanks for investigating. I'll go to the lab.
FWIW, as you probably know, upgrading all the nodes should fix it.

[2017-11-14 19:27] #19994 closed

[2017-11-14 19:27] petermattis commented on #20014
"Trust, but verify".

Seems unlikely that "streaming" which only affects queries will be more difficult than downsampling which affects writing. Just my opinion.

[2017-11-14 19:32] mberhault commented on #19947
Saving my git bisect log here for info:
[code]

[2017-11-14 19:36] mberhault commented on #19947
Second run at ab0542f was happy.
Trying head of 5.9 branch + revert of 593d3de.

[2017-11-14 19:36] mrtracy commented on #20014
The downsampling to disk is straightforward because it is very similar to the culling procedure, which is already implemented (in fact, this has already gotten RFC treatment). Where it becomes difficult is querying over data with multiple on-disk resolutions.

The streaming is not straightforward because it requires a refactoring of both querying and the processing iterator.

However, it's been a

[2017-11-14 19:55] mberhault commented on #19947
Reverted head looks ok after 18m. Trying f1b040c again. Then will re-run all this a couple of times.
So far, all failures/successes confirm the problem at 593d3de.

[2017-11-14 19:57] tschottdorf commented on #19947
What if you only revert the one line change in `table/block_based_table_builder.cc`?

[2017-11-14 20:05] tschottdorf opened #20052 "storage: optimize the GC queue"
## Suggested work (in order)

- [ ] incremental updates of txn records' intents
- [ ] use Scans to "resolve" txn records' intents
- [ ] introduce push/resolve pipeline
- [x] introduce key removal pipeline

Overall goal: make sure the GC queue performs "OK" in the presence of many
GC'able keys, very long keys (1MB++), many intents, long intent keys, many
transaction records, and transaction records

[2017-11-14 20:06] tschottdorf commented on #20047
Alex: there are plans but there isn't a pipeline yet (waiting for
@andreimatei to move to core). I filed
https://github.com/cockroachdb/cockroach/issues/20052 as an umbrella issue.
Currently the "plans" are implicit in various WIP PRs and discussions on
other issues.

On Tue, Nov 14, 2017 at 3:00 PM Alex Robinson <notifications@github.com>
wrote:

--

-- Tobias

[2017-11-14 20:10] mberhault commented on #19947
Don't know yet, but 5.9.fb is now passing. My initial failure was with https://github.com/cockroachdb/rocksdb/commits/crl-release-5.9.0 which is 5 commits behind + 2 custom patches.

[2017-11-14 20:19] dianasaur323 commented on #18666
@cuongdo, during our bug bash, it appears that this would require some backend investigation. Could you assign someone with that context to take a look?

[2017-11-14 20:25] dianasaur323 commented on #19541
Note: want to make sure not to remove nodes too quickly after decommissioning

[2017-11-14 20:31] tschottdorf opened #20056 "kv: handle context cancellation in RPC transport"
Seen in lightstep:

[code]

It seems that when the context times out while waiting for a remote RPC, we still try others. Additionally, after all are exhausted, we return a bogus RPC error and evict the range descriptor, which doesn't seem reasonable.

We may also fail to return an `AmbiguousResultError`, though I haven't checked that -- just something to verify.

[2017-11-14 20:38] dianasaur323 commented on #20014
Just spoke to @mrtracy off-line. It sounds like we might need 2 different approaches here - one that can fix the OOM stability issue in the short term, and another to actually build a solution that fixes this problem. Some suggestions that have been proposed (here and elsewhere) are to turn of the 30 day option, or to lower that option to something like 14 days. We won't have time to build out any

[2017-11-14 20:41] vivekmenezes commented on #18666
TRUNCATE internally does a DROP/CREATE of the table. Any reason for wanting this fixed in 1.2

[2017-11-14 20:43] jordanlewis opened #20059 "kv: add optional common key prefix to batch writes and scan responses"
Currently, a large batch of `PutRequest`s to keys with a common prefix is wasteful with respect to memory use on the sender side as well as (pre-compression) network bandwidth: the common prefix is repeated in each `PutRequest.Span`.

This is especially wasteful when putting a batch of keys with a very long common prefix. This can happen in several situations. Here are some examples:
- Writing key

[2017-11-14 20:45] arjunravinarayan opened #20060 "sql: raise the visibility of full table scan queries to users"
A common way that users shoot themselves in the foot is by unknowingly performing a full table scan (or a full scan over an index because they've incorrectly constructed the index). We should add a way for users to be alerted to queries that are full scans.

One solution is to add a count of full scan queries in the admin UI. Then when users complain about CPU usage/query performance we can ask if

[2017-11-14 20:49] richardwu opened #20061 "Check against cloning source repo into a non-Go path"
If one attempts to `make build` from the source files in a non-Go path, go package resolution will fail because of how Go's build system works.

We should adding a very big warning/error message if someone attempts to this. We should probably add a note to the install instructions under "Build from Source" too https://www.cockroachlabs.com/docs/stable/install-cockroachdb.html.

cc: @benesch

[2017-11-14 20:51] a-robinson commented on #20060
See also https://github.com/cockroachdb/cockroach/issues/13969

[2017-11-14 20:58] petermattis commented on #20014
@mrtracy What are you imagining the "streaming" approach would look like? Changing `DB.Query` to limit the number of keys retrieved at a time and then down-sampling the data in memory seems feasible.

[2017-11-14 21:03] petermattis commented on #20059
Interesting idea. I think returning a `WriteBatch` will be a bigger win, but this is orthogonal (we could pull the shared prefix from the `WriteBatch` as well).

Doing this for `ScanResponse` will be complicated by the need to combine responses. See `ScanResponse.combine`. Not impossible to deal with, just a complication.

Should definitely do some measurements to see how much of a win this could

[2017-11-14 21:05] mberhault commented on #19947
Ok, I reran f1b040c (which passed the first time). It properly failed the last two times, so there is some flakiness in my good/bad test.
I'm re-running f1b040c with reverted 593d3de and will do so a few times.
So far, that one successful run of f1b040c is the only outlier.

[2017-11-14 21:11] mrtracy commented on #20014
The downsampling iteration process is going to have to become asynchronous, and the data container is now going to have to track where the iterator is located in order to query additional data (and release data that is no longer needed).  This is a *significant* refactoring of that entire algorithm.

[2017-11-14 21:42] bdarnell commented on #19947
I've found something that looks like the bug, but it looks so basic that I feel like I must be missing something: `Block::NewIterator` assumes that [any block with no restart points is empty](https://github.com/facebook/rocksdb/blob/175d5d6a9e7c6138e678429618759504f7f7e6e4/table/block.cc#L434-L440). I think that 593d3de is the culprit in that it caused some non-empty blocks to have no restart poin

[2017-11-14 21:44] tschottdorf commented on #19947
Looks like we were right to suspect range deletions before we even started testing anything. Time to file upstream, it seems?

[2017-11-14 21:45] bdarnell commented on #19947
Yeah, I'll file it upstream.

[2017-11-14 21:49] petermattis commented on #19947
I'm not sure if that is the bug. It looks like blocks always have at least one restart point. See the `BlockBuilder` constructor.

[2017-11-14 21:56] bdarnell commented on #19947
Yeah, I just saw that too. I'll file the upstream issue anyway (our bisection seems solid enough at this point) but without pointing the finger at this particular piece of code.

[2017-11-14 22:05] a-robinson opened #20065 "cloud: Secure Kubernetes certificate manager doesn't work on clusters with RBAC enabled"
Our Kubernetes certificate manager (https://github.com/cockroachdb/k8s/tree/master/request-cert) relies on being able to read and write secrets via the Kubernetes API, which isn't allowed by default when [RBAC](https://kubernetes.io/docs/admin/authorization/rbac/) is enabled. This leads to the init container failing with the error:

[code]

We don't have this problem on GKE because for backwards c

[2017-11-14 22:06] a-robinson commented on #20065
If anyone wants to learn some Kubernetes, this would be a good task. Otherwise, I can take it if @mberhault doesn't want to.

[2017-11-14 22:11] mberhault commented on #19947
5.9 + revert of 593d3de is still ok after 1h. I'll let it run overnight.

[2017-11-14 22:12] tschottdorf commented on #19906
RocksDB anomaly.

[2017-11-14 22:12] #19906 closed

[2017-11-14 22:13] tschottdorf commented on #18740
Has been done.

[2017-11-14 22:13] #18740 closed

[2017-11-14 22:17] tschottdorf commented on #18473
I think this will become more relevant as we see more users with complex contended workloads. I was running such a workload today on a geo-distributed cluster (https://github.com/cockroachdb/cockroach/issues/17611) and ended up with minute-long transactions and apparently complex interaction patterns. There was no way to visualize those; tracing is supposedly our tool for this task but the number

[2017-11-14 22:24] dianasaur323 commented on #18473
If you come up with any metrics, please add them to this open issue https://github.com/cockroachdb/cockroach/issues/19476. Eventually, this will wrap into a query analysis tool that many existing databases have, but this is a first step to collecting the metrics we need.

[2017-11-14 22:29] dianasaur323 commented on #18666
No, this just appeared to be a bug and I know we have some weird behavior on showing what tables are in the database at the UI level. Based on that, I'm not sure this is a bug?

[2017-11-14 22:33] dianasaur323 commented on #20060
yes yes yes! I'm so glad you filed this. This falls under the query analysis tooling that got punted for 1.2. Take a look at MySQL workbench.

[2017-11-14 23:08] dianasaur323 commented on #20047
That’s odd, I thought that the long keys were part of a table that was
removed, so I already dumped and restored the database after wiping. I
guess it is still the same issue then?

On Tue, Nov 14, 2017 at 3:06 PM Tobias Schottdorf <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-11-14 23:30] NuSkooler opened #20067 "sql: wrong error reported for unique constraint with interleaved tables"
**BUG REPORT**

**Header**:
[code]

**Steps:**
1. Create the following tables:
[code]

(`INTERLEAVE` is crucial to this bug)

2. Insert some values:
[code]

3. Now, attempt to insert duplicate values that will fail the unique constraint (`uq_name` in this case):
[code]

**Expected:**
Expect the following error: `pq: duplicate key value (name)=('John Doe Junior') violates unique constraint "uq_name

[2017-11-15 02:46] bdarnell commented on #19930
With the reduced test suite, we're no longer (immediately) running into disk-full errors. I think everything else is covered by #19994.

[2017-11-15 02:46] #19930 closed

[2017-11-15 02:46] #19890 closed

[2017-11-15 02:59] a6802739 commented on #20065
@a-robinson, could I have a try?

[2017-11-15 03:15] debraj-manna commented on #19932
Thanks Arjun. I have made the changes and started my test. I will post my
observation soon.

On Wed, Nov 15, 2017 at 12:17 AM, Arjun Narayan <notifications@github.com>
wrote:

--
Debraj Manna

[2017-11-15 03:44] vivekmenezes commented on #10425
I like the list you've come up with. Great job @lego !

[2017-11-15 04:33] a-robinson commented on #20065
Absolutely! I don't have much guidance other than to check the Kubernetes RBAC docs, but let me know if you run into any issues :)

[2017-11-15 08:13] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/87c681f94ba297726d692796e05889f315d83354

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=410073&tab=buildLog

[2017-11-15 09:57] debraj-manna commented on #19932
@arjunravinarayan - Yes the performance problem is fixed by casting it to `::TIMESTAMPTZ` .

One query the first problem that @danhhz mentioned for reverse seeks & reverse iteration. Is it possible to catch it via EXPLAIN or I have to  do pprof ?

[2017-11-15 10:16] andrew-bickerton commented on #2656
@dianasaur323, similar to the other posters we also have a requirement for some kind of changelog/transactionlog/feed of mutations.

To help continue the discussion on what that might mean.

For us, I don't mind if there are several changelogs to consume/interrogate, but rather than it being a changelog per node (I agree with your point around consistency), it needs to more be about the atomicity

[2017-11-15 10:52] cockroach-teamcity commented on #19708
SHA: https://github.com/cockroachdb/cockroach/commits/87c681f94ba297726d692796e05889f315d83354

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=410367&tab=buildLog

[2017-11-15 11:37] gpaul commented on #20003
Thanks @andreimatei - yes I noticed that upgrading all the nodes solves the problem. Unfortunately we need to remain available during our upgrade. : /

Let me know if you need any help!

[2017-11-15 12:20] vivekmenezes opened #20068 "sql: Speed up scan over composite primary key"
I have a table with a composite primary key (k1, k2) and there are roughly 10000 values of k2 for every value of k1. For a query `SELECT DISTINCT k1 from table WHERE k1 > 0 and k1 < 100`, it ends up scanning all rows in the table with 0 < k1 < 100 including the ones with various values of k2 for the same value of k1, and then does the distinct filtering. This is what I gather it does from an EXPLA

[2017-11-15 12:56] RaduBerinde commented on #20068
I think any key-skipping logic needs to be at a lower level.. The row fetcher can only do something between fairly large batches of keys.

Something like this would also be useful for interleaved tables - if we're reading a parent table, we want to skip children rows.

[2017-11-15 12:57] RaduBerinde commented on #20068
CC @richardwu who was thinking about this for interleaved tables.

[2017-11-15 13:05] mberhault commented on #19947
Cluster died due to out-of-disk a few hours ago (I forgot to rebuild roachprod, so I was still on small local PSSDs). No other errors seen.

[2017-11-15 14:41] vivekmenezes commented on #19267
I'm really sorry I haven't fixed this problem. It's a bit more involved but I plan on getting it done soon. I'm very sorry about the inconvenience caused.

[2017-11-15 14:51] lego commented on #19132
Sorry to revive this :sob:. This still seems to happen if the terminal is resized while a query is being executed. Fortunately, that's far less common and annoying.

[2017-11-15 15:10] dalu opened #20071 "feedback on docker swarm setup and trying to run keycloak with cockroachdb"
Is this a question, feature request, or bug report?

**FEEDBACK** and I guess **BUG REPORT** and **FEATURE REQUEST**

So I followed the insecure deployment on docker swarm with 1.1.2
I did everything as was written in the docs
only I added the `--opt encrypted` to the `docker network create` command (docker-ce 17.09)

I had a 3 node docker swarm 1 master 2 workers.
I did everything on the master.

[2017-11-15 15:28] a-robinson commented on #20047
The long keys are still in the meta range. So you may have dropped the table/database, but we never actually delete/merge the old ranges, so they're gonna stick around in the system unless you truly start from scratch with a new data directory.

The issue preventing rebalancing from happening is/was that a restarted node (node 2) hadn't yet incremented its `estimatedCommitIndex` to anything other

[2017-11-15 15:29] petermattis commented on #20068
@RaduBerinde I had the same thought: any skipping would need to be performed at the KV-level. Otherwise, the RPC overhead will dominate any savings. Even if we didn't skip scanning the keys at the KV-level, not sending back the unnecessary KV pairs would be a big win.

[2017-11-15 15:30] dianasaur323 commented on #20047
Hmm, I deleted the entire data directory, so that should have solved the
problem. Another possibility is that there was a really unstable version of
master for a while, and nodes kept dying related to that consistency bug
caused by RocksDB. I did not wipe the cluster after that. Should I wipe and
save the logs to see if the problem is still there? I can save the logs
down in a separate folder.

On

[2017-11-15 15:32] a-robinson commented on #20047
And for what it's worth, the successful `count(*)` took `2m33.811106464s` to count 4,117,471 rows, so this may be something for @arjunravinarayan to eventually look at.

[2017-11-15 15:33] a-robinson commented on #20047
Did you restore the same registration cluster backup into it after the wipe? Because it has the registration data in it, which appears to be the source of the problem.

[2017-11-15 15:38] #20000 closed

[2017-11-15 15:40] bdarnell commented on #20039
What kind of workload was running?

This looks like #18199 (with all the elections and `reasonNewLeader` reproposals), although that was believed to be mitigated by the quota pool in 1.1.

[2017-11-15 15:43] andreimatei commented on #20039
No workload. Just a single select on a tiny table after an empty cluster restart.

[2017-11-15 15:44] couchand commented on #20067
I've confirmed this is still an issue on master.  Sending over to @richardwu since he's been in interleaved tables recently.

[2017-11-15 16:04] jrote1 commented on #19267
@vivekmenezes No worries

[2017-11-15 16:09] arjunravinarayan commented on #19932
Hi @debraj-manna, `EXPLAIN` will show you reverse scans as `revscan` rather than `scan`.

Here's an example:

[code]

Since your performance problems were solved and the underlying bug was filed as #20046, I'm going to go ahead and close this issue. Once again, thank you very much for your bug report! We found it very helpful.

[2017-11-15 16:09] #19932 closed

[2017-11-15 16:22] a-robinson commented on #17370
Hi @dfawley, how has the grpc-go performance work been going? Has there been any progress on the improvements you mentioned were on the way or on understanding areas for improvement?

On a related note, we've been particularly surprised to see just how [much faster the C++ gRPC implementation is in comparison to grpc-go](https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5636470266

[2017-11-15 16:26] tschottdorf commented on #19004
In our production testing, where clusters are bound to run out of disk space eventually, we've found that the currently functionality is insufficient. It turns out that `DROP TABLE` is essentially never fast enough to thwart impending doom, even with aggressive GC TTLs. This could be due to the actual background deletion or slowness of the GC queue in purging the deletions, but either way it's not

[2017-11-15 16:29] tschottdorf commented on #19329
a `DROP/TRUNCATE TABLE` will result in GC runs that essentially clear the whole range (bringing the stats close to zero). It seems reasonable that GC could trigger a compaction in such cases.

[2017-11-15 16:42] richardwu commented on #20067
Looks to be a bug with how we handle unique constraints with interleave tables as
[code]
gives some irrelevant error
[code]

[2017-11-15 16:42] bdarnell commented on #19708
PR #20073 makes the conservative change to RequestDidNotStart to assume that all rpc errors are ambiguous, which fixes the potential bug here. However, this will increase the prevalence of ambiguous errors, so I'm leaving this issue open to track alternative solutions. This will probably require either grpc/grpc-go#1443 upstream or reverting to grpc 1.6.

[2017-11-15 17:13] couchand commented on #20071
Hi @dalu, thanks for the report.  It sounds like you're running into a number of issues, let me try to list them to make sure I understand.

The one you point out at the end is that we don't currently support the syntax `SELECT ... FOR UPDATE`.  We've already got an issue tracking that: #6583.  Unfortunately, the semantics around `FOR UPDATE` are a bit muddled, so our recent efforts to implement s

[2017-11-15 17:16] bdarnell commented on #20060
Percona's slow query log and profiling tools have a field for whether a full table scan was used, as well as some [other attributes](https://www.percona.com/doc/percona-server/5.5/diagnostics/slow_extended_55.html#log_slow_filter). We could do the same thing: however we warn for full-scan queries, also warn for queries that have to use on-disk temp storage, etc.

[2017-11-15 17:48] richardwu commented on #20068
A think some sort of "skipping hint" that can be passed on to the KV layer is very beneficial for interleaved tables.

In my benchmarks with interleaved joins thus far, a "typical interleave hierarchy" (parent has many children, children has many grandchildren, etc.) yields really poor performance for joins between the smaller tables (e.g. a join between parent and child results which consists of

[2017-11-15 17:53] petermattis commented on #20068
I don't think this needs to go down to C++, at least not initially. A big portion of the benefit could be had by passing the hint to `MVCCScan` and letting that routine skip keys that aren't needed.

[2017-11-15 17:54] couchand opened #20075 "sql docs: add detail to documentation for transaction_timestamp"
The documentation for the built-ins`current_timestamp()`, `now()`, and `transaction_timestamp()` says simply "Returns the current transaction’s timestamp."  This is a source of confusion, since the phrase "transaction’s timestamp" seems to indicate that it is the same value as described in [the transaction docs](https://www.cockroachlabs.com/docs/stable/transactions.html) and [the architecture doc

[2017-11-15 17:54] petermattis commented on #20068
@arjunravinarayan's and @asubiotto's work will reduce this substantially.

[2017-11-15 17:57] couchand commented on #20075
Assigning to @awoods187 for triage.

[2017-11-15 17:57] andreimatei commented on #20032
I believe I've found the problem, after a good bit of staring: the `DistSender` tries multiple replicas for a RPC and, in case one eventually succeeds, the responses (i.e. errors) received from previously tried replicas are discarded - including the traces (i.e. the `CollectedSpans`). In particular, `NotLeaseHolderErrors` are quite retriable and so another replica is expected to succeed.
I'll do s

[2017-11-15 18:01] couchand opened #20076 "sql docs: document the cluster_logical_timestamp built-in"
The built-in `cluster_logical_timestamp` gives access to the CRDB internal transaction timestamp, which corresponds with what we refer to repeatedly in documentation as the "transaction timestamp".

There is potentially value in exposing this to the user, though there are some serious caveats to its usage that need to be made clear.  Documenting this function would give us an opportunity to explai

[2017-11-15 18:31] dianasaur323 commented on #20047
Ah, yes I did. This is troubling, since I had optimistically dumped just the tpcc data, and assumed there was nothing wrong with the registration data. It seems like the registration backup will always be messed up until we allow range merging? Since there is no way I'll be able to dump the entire thing and pipe it in somewhere -> that would be pretty slow. That database is pretty big at this poin

[2017-11-15 18:37] #20017 closed

[2017-11-15 18:37] dianasaur323 commented on #19004
This begs to question why we count certain commands as schema changes while other are not. We currently define them based on whether or not the operation requires backfilling, but I've been getting feedback (and I'm personally confused) since it matches the technical implementation, not how users would expect things to be classified.

[2017-11-15 18:37] mjibson commented on #20017
This has been fixed and will be in the next alpha release. Thanks for the report.

[2017-11-15 18:43] dianasaur323 commented on #20018
Yes, now the node is currently completely dead. I've been having quite a few different issues with this cluster, so there are now multiple issues filed for this cluster. Not sure if we should keep this one open?

[2017-11-15 18:46] a-robinson commented on #20047
Maybe. I'd also be curious to see how the same data/workload does on a non-geo-distributed cluster, since the more variables there are the tougher it is to nail down what the root causes of all these problems are.

[2017-11-15 18:46] bdarnell commented on #20075
I was also tripped up by this - I thought that `transaction_timestamp()` was just `cluster_logical_timestamp()` truncated to sql timestamp resolution. I don't remember why we made this decision and I'm sure there was a good reason, but it would be great if these two could be made consistent instead of just documenting the difference between them.

[2017-11-15 18:47] dianasaur323 commented on #20047
Setting it up on a non-geo-distributed cluster should be trivial. Let me try that if I have time today. Otherwise I could do it tomorrow.

[2017-11-15 19:05] dianasaur323 commented on #19887
@dt Go with what you think makes the most sense. I'm wondering if one of our customers integrates this into some automated work with the EXPERIMENTAL flag though, and then has to re-write everything when we turn experimental off? Would we have to create an alias for it?

[2017-11-15 19:09] danhhz commented on #19887
i've been thinking about this more and i'm coming around on EXPERIMENTAL in the syntax but no cluster setting, btw

@dianasaur323 unless I'm missing something, aliases are pretty cheap technical debt

[2017-11-15 19:11] tschottdorf commented on #20047
On a related note, don't we really need to change that schema, or the registration cluster will likely run into similar issues?

[2017-11-15 19:12] dianasaur323 commented on #20047
Perhaps? @dt?

[2017-11-15 19:13] dianasaur323 commented on #19887
nope, I think they are cheap. sounds like there is a majority with going with EXPERIMENTAL? @mjibson -> no strong concerns here?

[2017-11-15 19:14] mjibson commented on #19887
Nope. Whichever.

[2017-11-15 19:17] #19694 closed

[2017-11-15 19:23] dt commented on #20047
what do we need to change? just the size of that table? we can discuss in reg repo.

[2017-11-15 19:30] lego commented on #17135
Unfortunately, we can't just plan it! :(

Alter enabling the merge joiner to be planned, it seems to be incorrect on equalities where some columns may be null. Doing `l.k = r.k` behaves like `l.k = r.k OR (l.k IS NULL AND r.k IS NULL)` which is incorrect. For example:
[code]

[2017-11-15 19:31] couchand commented on #20075
@ben for context, here's the issue where the change was made: #5767

[2017-11-15 19:44] tschottdorf commented on #20047
@dt: created an issue. https://github.com/cockroachlabs/registration/issues/83

[2017-11-15 19:54] tschottdorf commented on #19216
Hi @leomkkwan, sorry -- didn't see this until now. This error is benign but indicates that the system is working hard. Is this a persistent problem?

[2017-11-15 19:55] tschottdorf commented on #20052
cc @cuongdo, updated the description.

[2017-11-15 20:07] arjunravinarayan opened #20078 "cockroach retains a high memory footprint after a large query is processed"
TL;DR: it doesn't appear to be the case that memory is freed, so running a large query once means that cockroach retains a large memory footprint which can be detrimental to colocated processes.

I restored a TPC-H scalefactor-5 dataset, then performed the following instructions:

Start a cluster limiting the –-max-sql-memory, and the RocksDB cache:
`./cockroach start --insecure --background --max

[2017-11-15 20:22] tbg opened #20080 "storage: allow low-level filtering in `Scan`"
In the upcoming PR to optimize the GC queue (#20052) one interesting item is
being able to issue a Scan that does not return any results. This seems easy to
implement (though its users would have to accept that in mixed clusters, results
may still be returned even if not desired).

This is somehow a very special case of a general problem, namely applying a
function to the results to determine the

[2017-11-15 20:27] arjunravinarayan commented on #20078
![screenshot 2017-11-15 15 25 54](https://user-images.githubusercontent.com/1565833/32858371-4c46500a-ca19-11e7-9a63-2015de6d28c2.png)
The Admin UI confirms the memory usage numbers, and that CGo is behaving properly.

[2017-11-15 20:32] a-robinson commented on #20078
If there isn't memory pressure on the system, I'm not sure Go's GC proactively returns memory back to the OS. Might be worth looking into that.

[2017-11-15 20:34] a-robinson commented on #20078
(or that the OS might not bother taking it back until it's needed)

[2017-11-15 20:34] jordanlewis commented on #20078
To @a-robinson's point, I was about to suggest that you attempt to add a debug endpoint or something that calls [FreeOSMemory](https://tip.golang.org/pkg/runtime/debug/#FreeOSMemory) and observe what happens after you call it.

[2017-11-15 20:36] petermattis commented on #20078
The Go GC returns memory to the OS at a very slow rate. I can't recall what the time frame is, but multiple minutes.

[2017-11-15 20:40] arjunravinarayan commented on #20078
I ran `stress --vm 64` to add some memory pressure to my machine. `stress` spawns workers that take up memory (each "vm" by default eats 256mb, and I'm on a 16GB laptop, so I used 64 workers). After running this for a couple minutes, I killed stress. Cockroach was down to a reasonable amount of memory, validating @a-robinson's hypothesis.

![screenshot 2017-11-15 15 39 06](https://user-images.gith

[2017-11-15 20:40] petermattis commented on #20078
The scavenge period is 5min.

While looking this up, I also discovered the the Go GC "forces" a GC every 2min. That seems to be independent of whether GC is necessary. Cc @a-robinson and @nvanbenschoten as this is the first time I've encountered something that occurs at a 2min frequency in our system.

[2017-11-15 20:48] arjunravinarayan commented on #20078
@petermattis the fact that we had an hour where it wasn't freeing memory leads me to believe that somethings up with the Go GC scavenging.

[2017-11-15 20:48] a-robinson commented on #20078
Oooh that's a very interesting discovery. It pairs nicely with https://github.com/cockroachdb/cockroach/issues/12713.

[2017-11-15 20:49] bdarnell commented on #20078
The Go GC is not a compacting/copying collector, so fragmentation can result in memory that is idle that cannot be returned to the system (even a single long-lived value can force a whole page to be retained). There are allocation strategies that can be used to minimize fragmentation, but I think it would be best to just set expectations that cockroachdb will grow to its configured size and not re

[2017-11-15 21:34] dianasaur323 commented on #20047
@a-robinson ok, I created a cockroachdb cluster that runs on Amazon in one region and am loading the reg data in now. Should I also set up tpcc?

[2017-11-15 21:37] cuongdo commented on #20052
Thanks for the detailed writeup, @tschottdorf.

Looking forward to your help on this @andreimatei!

[2017-11-15 21:37] asubiotto commented on #19951
Here is me tracking down the bug:

On the gateway node, we set up a noop processor that reads from an ordered synchronizer that reads from a bunch of rowchannels to which data is pushed. Instrumenting the processor, it seems that when draining properly, we hit the case that the `emitHelper` returns false and does the "correct" thing (i.e. whatever it is to make the query not hang). So when we don'

[2017-11-15 21:37] garvitjuniwal commented on #20078
@bdarnell If Go GC can hold up so much freed memory due to fragmentation, then how does one reasonably guarantee that cockroach will remain within its configured limit? Does cockroach track process RSS to disallow further allcations? In my experiments, I saw cockoach RSS go well beyond what was configured (took up 10 GB when configured to take up 6 GB)

Also it seems unlikely that such large amoun

[2017-11-15 21:40] RaduBerinde commented on #17135
It looks like there is a problem in merge joiner. I would assume it affects inner joins too if it thinks that NULL = NULL. Does an INNER JOIN on the last query yield the same output?

[2017-11-15 21:48] bdarnell commented on #20078
These pages that can't be returned to the system can still be reused by go's allocator, so we can reasonably expect the process to stop growing. It just won't necessarily return that memory to the system.

Note that `--max-sql-memory` and `--cache-size` are not a complete accounting of all of cockroach's memory - we currently recommend setting each of these flags to 25% of the memory allocated to

[2017-11-15 21:52] lego commented on #17135
Uh oh, you are completely right. I was chasing the wrong tail during this.

[code]

[2017-11-15 22:03] petermattis commented on #20078
@bdarnell I'm hesitant to chalk this up as an inability to release memory due to fragmentation of the Go heap. That's certainly a possibility, but there might be something else going on here. There is some more detail in https://golang.org/pkg/runtime/#MemStats (`HeapIdle` vs `HeapInuse`) that could give us a more definitive answer.

[2017-11-15 22:08] RaduBerinde commented on #17135
In addition to fixing the mergejoiner, we should also make sure we push down not-NULL constraints (depending on the join type), to skip scanning NULLs from indexes.

[2017-11-15 22:52] garvitjuniwal commented on #20078
I agree with @petermattis The allocator not releasing 2 out of 4 GB of freed memory for hours indicates that either the allocator is too rudimentary, or the pattern is targeted to be adversarial. Also unclear what caused it to get freed up eventually.

This seems reasonable assuming the allocator is not rudimentary.

Sounds reasonable. But I would say that what I am observing is not peak usage of

[2017-11-15 23:34] andreimatei opened #20085 "log messages with file:line prefix are not parsed correctly by SHOW TRACE FOR"
When a log message is produced with `log.Infof()` (as opposed to `log.VEventf()`) - or, technically, I think it is when we want to print it to the console/file besides putting it in the trace - we include a `file:line` prefix to it. This prefix breaks the regex that `SHOW TRACE FOR` uses for extracting the "context" from the message (i.e. the log tags - e.g. `[n1,r1]`).

The regex is here:
https:/

[2017-11-15 23:35] andreimatei commented on #20032
Filed #20085 for the secondary problem above:

[2017-11-15 23:49] lego commented on #12022
This is not completely related, but to add one another data point of an inconsistency with NULL usage is our usage of `Datum.Compare` with two `DNull`. This evaluates to true and if misused in a place where we do not know if the datums are non-NULL we will end up getting true whereas the SQL evaluation would be false-y.

[2017-11-16 00:41] RaduBerinde commented on #12022
`Datum.Compare` should work like that, otherwise we wouldn't be able to sort them correctly (we advertise "NULLs first" in orderings). `ComparisonExpr`, which is what gets evaluated in an expression, does check for NULLs. https://github.com/cockroachdb/cockroach/blob/99fe767f728d85d6fd1e7a8ba715a8e5e9b6860f/pkg/sql/sem/tree/eval.go#L1917

[2017-11-16 00:48] asubiotto commented on #19951
On the gateway node, we set up a noop processor that reads from an ordered synchronizer that reads from a bunch of rowchannels to which data is pushed. Instrumenting the processor, it seems that when draining properly, we hit the case that the `emitHelper` returns false and does the "correct" thing (i.e. whatever it is to make the query not hang). So when we don't drain properly, we're getting bac

[2017-11-16 01:46] louishust commented on #19968
I got the same error, when loading big data using sysbench with a 3 node crdb cluster.

[code]

[2017-11-16 07:52] zhangjinpeng1987 commented on #19947
@tschottdorf Can you dump RocksDB's manifest and check if there are something wrong with the range of SST files.

[2017-11-16 08:22] nvanbenschoten commented on #20059
Another complication for doing this in request messages is that on the receiver side we have a few data structures (`spanSet`, `cmdQueue`, `tscache`, etc.) that work directly on the key spans specified in `BatchRequests`. If we were to make a change like this, these structures would either need to:
- be modified to handle shared key prefixes. Instead of holding onto `[]byte` keys, they'd probably

[2017-11-16 08:58] nvanbenschoten commented on #20080
Maybe we should just add a full SQL query language to `ScanRequests` :trollface:

Seriously though, @andreimatei and I have discussed this before a few times (which I assume means @andreimatei and most people have discussed this a few times). From a SQL perspective, the way we had pictured this being most useful was to expose something kind of like your `OP_MATCHPREFIX`, but more general. What we

[2017-11-16 11:11] knz commented on #19132
Thanks for finding this out. Don't be sorry :)

[2017-11-16 11:12] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/4e89fd3b5ff0c8fd6f5b7d047005635cf478367f

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=411325&tab=buildLog

[2017-11-16 11:12] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/4e89fd3b5ff0c8fd6f5b7d047005635cf478367f

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=411325&tab=buildLog

[2017-11-16 11:12] cockroach-teamcity commented on #19206
SHA: https://github.com/cockroachdb/cockroach/commits/4e89fd3b5ff0c8fd6f5b7d047005635cf478367f

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=411325&tab=buildLog

[2017-11-16 11:12] knz commented on #19453
Dup #20085

[2017-11-16 11:12] #19453 closed

[2017-11-16 14:16] cockroach-teamcity opened #20094 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2, Jepsen/Jepsen: JepsenG2: JepsenG2/subcritical-skews+start-kill-2, Jepsen/Jepsen: JepsenRegister: JepsenRegister/majority-ring, Jepsen/Jepsen: JepsenRegister: JepsenRegister/split, Jepsen/Jepsen: JepsenRegister: JepsenRegister/start-kill-2, Jepsen/Jepsen: JepsenRegister: JepsenRegister/start-stop-2, Jepsen/Jepsen: JepsenRegister: JepsenRegister/strobe-skews, Jepsen/Jepsen: JepsenRegister: JepsenRegister/subcritical-skews, Jepsen/Jepsen: JepsenRegister: JepsenRegister/majority-ring+subcritical-skews, Jepsen/Jepsen: JepsenRegister: JepsenRegister/subcritical-skews+start-kill-2, Jepsen/Jepsen: JepsenRegister: JepsenRegister/majority-ring+start-kill-2, Jepsen/Jepsen: JepsenRegister: JepsenRegister/parts+start-kill-2"
The following tests appear to have failed:

[#411006](https://teamcity.cockroachdb.com/viewLog.html?buildId=411006):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-16 14:52] lego commented on #12022
I meant for that to be more of a commentary on the internal usage of `Datum.Compare`. I don't know if anything can be done to help prevent mistakes. (And I brought it to this issue since this seemed partially related)

[2017-11-16 15:00] a-robinson commented on #20078
If the system (meaning the entire machine) is idle, though, then the OS has little motivation to reclaim the memory from the process. From https://github.com/golang/go/issues/14521#issuecomment-189244596:

"The go runtime can only advise the operating system that a section of
virtual address space is no longer needed, it cannot force the operating
system to take action. Operating systems, especial

[2017-11-16 15:18] jseldess opened #20097 "cli/conn: improve the error message when connecting to an uninitialized cluster"
[code]

After starting nodes, but before initializing a cluster, if you try to open the sql shell or otherwise run a client against a node, the error message doesn't help you understand that the cluster isn't initialized:

[code]
[code]
[code]

[2017-11-16 15:19] #20045 closed

[2017-11-16 15:28] couchand commented on #12833
Oh my this would be a useful thing to have.  While on support duty I got sent a link to a cluster that had an event happen that needed investigation.  I didn't get in until four hours later, so now I'm trying to interpret five pixel widths on the 6 hour graph corresponding to when that happened.

[2017-11-16 15:40] bdarnell commented on #20078
Yeah, it's possible. This certainly seems like a lot of memory to be held up by fragmentation. But it's worth noting that returning memory to the system has not historically been a priority for google's allocators (tcmalloc never returned memory to the system when it was first released), so I'm not surprised if go's allocator doesn't do well here.

[2017-11-16 15:45] tschottdorf commented on #20097
This will change after https://github.com/cockroachdb/cockroach/pull/19634. Assigning myself to check back after that has landed.

[2017-11-16 16:11] bdarnell commented on #20094
- `bank-multitable/start-kill-2` is the java ssh problem.
- `g2-subcritical-skews+start-kill-2` is an ntp error we haven't seen before: `java.lang.RuntimeException: sudo -S -u root bash -c "cd /; service ntp stop" returned non-zero exit status -1 on 35.196.180.129`
- The register tests are failing on an internal jepsen error, presumably due to yesterday's upgrade to a new version of jepsen.

[code

[2017-11-16 16:12] lgo opened #20100 "sql/distsql: push down NOT NULL constraints on equality columns during planning"
We can push down a `NOT NULL` filter depending on the join type. This can reduce the data that is streamed to the join. For example, if we have:

[code]

If either `l.id` or `r.id` are NULL they will never be in the join result due to `NULL = <any>` is false-y. This applies to joins that are composed of only equalities, in particular:
- All inner joins
- When doing a left or right outer join, we c

[2017-11-16 16:24] dianasaur323 commented on #19968
@mjibson I triaged this in the bulkio project alongside this other import csv memory issue https://github.com/cockroachdb/cockroach/issues/19635

[2017-11-16 16:32] vivekmenezes commented on #20078
@arjunravinarayan already ran stress on the machine and the OS reclaimed the memory.

[2017-11-16 17:08] tschottdorf commented on #19174
The build log is gone and it hasn't reoccurred in a month, so closing.

[2017-11-16 17:08] #19174 closed

[2017-11-16 17:11] tschottdorf commented on #19621
Flaky run (took more than 10s for initial splits)

[code]

[2017-11-16 17:11] #19621 closed

[2017-11-16 17:14] tschottdorf commented on #19633
Willing to chalk this one up to a slow DO worker.

[2017-11-16 17:14] #19633 closed

[2017-11-16 17:15] tschottdorf commented on #19172
Nothing to do here. ✈️

[2017-11-16 17:15] #19172 closed

[2017-11-16 17:17] tschottdorf commented on #18219
This seems to work better since #19422. Closing.

[2017-11-16 17:17] #18219 closed

[2017-11-16 17:18] tschottdorf commented on #18814
Closing as unactionable.

[2017-11-16 17:18] #18814 closed

[2017-11-16 17:20] novabyte opened #20102 "uuid_v4 used in WHERE clause causes unoptimized query plan"
**BUG REPORT**

Tested on cockroachdb 1.1.2 with Go lib/pg driver.
The database start command used was "cockroach start --host=localhost --background --insecure".

I've used [dbbench](https://github.com/memsql/dbbench) to perform some active benchmarks with cockroachdb and found a strange occurence with one test:

[code]

The purpose of the test was to verify that a login attempt with Nakama serve

[2017-11-16 17:48] jordanlewis commented on #20102
Thanks for the report - this is a great observation. The proximal cause is that we don't treat impure functions (functions that may return a different value on each invocation) as constant.

This is a problem because the part of the query planner that creates index spans can only produce tight scans when its input filters have been reduced to comparisons against constants. Those constants normally

[2017-11-16 18:32] garvitjuniwal commented on #20078
virtual address space is no longer needed, it cannot force the operating
system to take action. Operating systems, especially linux, and especially
if they are not under significant memory pressure can, and regularly do,
ignore this advice."

I don't think this is the cause here. See from madvise man page: http://man7.org/linux/man-pages/man2/madvise.2.html
[code]
Note that the OS may not reclaim

[2017-11-16 18:33] lego commented on #19450
Out of curiosity, what will the anti-joins look like? Do we want to add syntax for anti-joins, because there isn't any precedent for this any databases I know of. e.g. `SELECT * FROM t1 ANTI JOIN t2 t1.x = t2.x`.

[2017-11-16 18:35] RaduBerinde commented on #19450
I don't think we necessarily want to expose then through SQL syntax. They're just a primitive that the optimizer may convert stuff to.

[2017-11-16 18:36] tschottdorf commented on #18084
Marking as resolved, as after https://github.com/cockroachdb/cockroach/pull/20104 we'll see the actual RocksDB messages, and currently (i.e. without that PR) we see lots of errors emanating from RocksDB. Anything else will be tracked under new issues in sentry already.

[2017-11-16 18:36] #18084 closed

[2017-11-16 18:36] tschottdorf commented on #18082
Marking as resolved, as after https://github.com/cockroachdb/cockroach/pull/20104 we'll see the actual RocksDB messages, and currently (i.e. without that PR) we see lots of errors emanating from RocksDB. Anything else will be tracked under new issues in sentry already.

[2017-11-16 18:36] #18082 closed

[2017-11-16 18:36] RaduBerinde commented on #16580
We also need better ordering propagation through merge joins. Currently if we do `t1(k1) JOIN t2(k1,k2) USING k1`, the output ordering is just `k1` (instead of `k1,k2`). This is because the ordering applies to the `joinNode` and local SQL doesn't do merge joins; `k1` is the only ordering we can guarantee if we might do a hash join. CC @richardwu

[2017-11-16 18:37] RaduBerinde commented on #19450
Of course we can add some internal/uncodumented syntax if we need it internally.

[2017-11-16 18:37] tschottdorf commented on #17955
Looks like a rare data race. Since the issue is pretty old and much code has moved, I'll close this as inactionable. We'll see it again.

[2017-11-16 18:37] #17955 closed

[2017-11-16 18:37] tschottdorf commented on #16697
Illusory that I'll look into this during this incarnation of the universe. Closing.

[2017-11-16 18:37] #16697 closed

[2017-11-16 18:38] jordanlewis commented on #19450
I don't think databases generally include explicit anti join syntax. They seem to be exposed via the `NOT IN <subquery>` / `NOT EXISTS` syntax. And possibly a normal join where one side is constrained to be null.

[2017-11-16 18:39] tschottdorf commented on #15851
And so it did, though we could do more.

I'll unassign myself and assign @cuongdo to hold on to this issue with the aim that some real manpower is allotted to it in the future. Running comprehensive stability tests requires more effort than I can provide ad-hoc.

[2017-11-16 18:41] tschottdorf commented on #9553
If I haven't looked into this in over a year, it's unlikely that I ever will. @petermattis promised to look into this in the comment linked above though, so assigning him to look or abandon.

[2017-11-16 18:41] tschottdorf commented on #9540
Closing for #15997, which has more activity.

[2017-11-16 18:41] #9540 closed

[2017-11-16 18:43] tschottdorf commented on #7880
@cuongdo this would be a nice starter project. This should be fairly straightforward but touches all the relevant aspects of the storage package without getting too bogged up in detail, and at the same time requires a migration. Assigning for triage.

[2017-11-16 18:43] andreimatei commented on #20080
I don't want to troll more than @nvanbenschoten , but I think this is the place for one of @knz's stack machines (or BPF or, dare I say, native code) - I think we should pass programs to the scan rather than an ever-growing set of options.
We can start by writing some C++ functions by hand for the suggested use cases and have them be primitives in our assembly.

[2017-11-16 18:46] rytaft opened #20105 "Update RFC Process"
The Cockroach Labs RFC Process needs to be updated.  Based on @knz's suggestion in PR #20009, I updated docs/RFCS/README.md to say:

 However, I merged PR #20009 too quickly, because later @bdarnell added:

Clearly there is a difference of opinion, so we need to agree on a policy and update docs/RFCS/README.md with the decision.

[2017-11-16 18:46] tschottdorf commented on #15797
The TPCC examples don't look like they could ever pass for 1PC txns, but they would indeed be harmed by not laying down intents there. I'm inclined to say there isn't much we're going to be able to do here in the foreseeable future. A real client using TPCC would likely be advised to run an individual txn to bump the ID though (risking creation of IDs that are never used, which seems OK), which ma

[2017-11-16 18:48] tschottdorf commented on #16004
Closing as not actionable, but we've since identified a few issues that could be at fault here, most prominently https://github.com/cockroachdb/cockroach/pull/19448 and https://github.com/cockroachdb/cockroach/pull/19447.

[2017-11-16 18:48] #16004 closed

[2017-11-16 18:49] tschottdorf commented on #19639
@benesch kicking this can down your road, but feel free to close.

[2017-11-16 18:52] tschottdorf commented on #13722
Going to unassign for now. Probably worth taking a look @petermattis evaluates cRPC/gRPC.

[2017-11-16 18:55] mjibson commented on #19968
Thanks for the reports. I'll look into this soon.

[2017-11-16 19:00] #20032 closed

[2017-11-16 19:06] tschottdorf commented on #17897
Can't repro, I think it might've been fixed with the gossip improvements (the node may have taken a long time to find someone to talk to). Closing.

[2017-11-16 19:06] #17897 closed

[2017-11-16 19:09] #19763 closed

[2017-11-16 19:26] a-robinson commented on #20047
Sure, might as well set it up the same as the normal PM cluster.

[2017-11-16 19:56] dianasaur323 commented on #20047
Hm... although I'm running 1.1 on it, not latest. Maybe it won't make a
difference.

On Thu, Nov 16, 2017 at 2:26 PM, Alex Robinson <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-11-16 20:06] nvanbenschoten commented on #20046
Mixed type comparisons can't be used for index selection because the encoded values may not compare the same way as the `Datum` values. We take great care to enforce the relationship that `datum.Compare(a, b)` provides the same semantics as `bytes.Compare(encode(a), encode(b))` when `a` and `b` are the same types (which is the reason why index selection constraints work at all).  However, when `a`

[2017-11-16 20:14] bdarnell commented on #20094
The register failures should be fixed by https://github.com/jepsen-io/jepsen/pull/222, and the ssh failures are tracked elsewhere, so I'm designating this issue as the one for the `service ntp stop` failure.

[2017-11-16 20:34] #18395 closed

[2017-11-16 21:11] bdarnell commented on #20102
I think the behavior here is correct: we should evaluate impure functions once per row instead of evaluating them once for the query and treating it as a constant. For example, `SELECT * FROM tbl WHERE random() < 0.1` should return a sample of 10% of your data, instead of returning everything 10% of the time and nothing the rest .

[2017-11-16 21:13] vivekmenezes commented on #19004
@dianasaur323 commands that change the schema are called schema changes. Some of these commands need to backfill data and thus take time to execute. In the case of DROP once SQL stops referencing the data SQL responds back to the user that it has completed the schema change, which it indeed has. The only problem is that users also expect the command to delete all the data associated with the table

[2017-11-16 21:19] vilterp opened #20109 "Admin UI: use JSON on the wire instead of Protobufs"
Because it probably won't be much of a performance hit, and it makes debugging (in the network tab) much easer.

[2017-11-16 21:53] dianasaur323 commented on #19004
@vivekmenezes On that point, the reason why I'm asking is because in the jobs table, we only show progress of schema changes that require backfilling, hence the confusion. Both the things you mentioned (DROP and TRUNCATE) have confused some users out in the field. I'm wondering if we should do something about that?

[2017-11-16 22:04] vivekmenezes commented on #19004
The reason why we did it this way is because users were complaining about DROP/TRUNCATE being too slow. The correct solution is to drop this data quickly which we can't accomplish in the near term. There is also the added concern that users need to query the old data using AS OF SYSTEM TIME which prevents us from just blowing away the ranges.

I agree we need to do something

[2017-11-16 22:06] tschottdorf commented on #20109
A big downside of this is, though, that we won't be able to change field names in protobufs or rely on the other proto features. Since the contract in protobuf-land is that the field names aren't actually on the wire, this is easy to mess up. We had similar problems with our registration cluster and I believe have decided that we should avoid JSON where possible.

I personally would be very hesita

[2017-11-16 22:09] tschottdorf commented on #19004
I think we want to rely on `AS OF SYSTEM TIME` as a recovery mechanism for fat-fingering a drop table. I don't think that's principally in the way of removing the data more quickly if desired, though (a bit of care has been taken that the quick-delete can't be fat-fingered easily).

I'd really just like to track the status of the deletion (which is a kind of backfill) in the jobs tab. I think it's

[2017-11-16 22:13] cuongdo commented on #20014
Reassigning to @solongordon to be done after his other tasks

[2017-11-16 22:34] nvanbenschoten commented on #18199
Closing this, since we've already identified the cause of the problems faced here and have opened focused issues to address each. Thanks for all the patience and help during this process @christian-lefty!

[2017-11-16 22:34] #18199 closed

[2017-11-17 01:16] novabyte commented on #20102
@bdarnell I agree that the expression should be evaluated once per row but why is the performance different between:

[code]

And

[code]

There queries produce different query plans and drastically different performance when the result of the `uuid_v4()` function is to create a constant value applied to the subexpression?

[2017-11-17 01:38] vivekmenezes commented on #20102
@novabyte I believe this is because our query planner thinks of this is a soft limit query where it doesn't know how many rows it needs to process before the limit is satisfied. See the introduction section of this RFC: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20170602_distsql_limit.md

We haven't completed the implementation of the RFC.

[2017-11-17 01:48] csdigi commented on #2656
@dianasaur323 Sorry about the delay on getting back to you on this.

Regarding the multiple streams, I think we would be fine in getting an ordered log from each range leader (rather than per node perhaps). A consistent view of cross table / range transactions would be required, however this can also be in the format of several messages from the range leaders as long as they all have some form of

[2017-11-17 02:05] jordanlewis commented on #20102
@vivekmenezes the explanation I gave was correct. The query planner can't evaluate a non constant subexpression, so it can't make an index span, so it has to do a table scan.

[2017-11-17 02:10] benesch commented on #19639
The log from the erroneously green build (https://teamcity.cockroachdb.com/viewLog.html?buildId=392533&buildTypeId=Cockroach_UnitTests_Check&tab=buildLog&_focus=124#_state=124) has this lovely bit:

[code]

Not sure why that submodule was b0rked, but the reason the build passed is because this line of teamcity-check is literally crazy:

[code]

We're trying to express "fail if `git status` produce

[2017-11-17 02:28] bdarnell commented on #20102
It's not a constant value - it's a different value for each row. And that means these two queries may have different results (due to the birthday paradox). The odds of a `uuid_v4()` match are so low that neither query would ever be expected to return anything, but for a random function with a smaller range (or where you don't use the entire range, as in my `WHERE random() < 0.1` example), it makes

[2017-11-17 05:46] gpaul opened #20114 "5-node cluster unavailable for an hour after one server reboots"
Is this a question, feature request, or bug report?

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply the output of `cock

[2017-11-17 07:02] cockroach-teamcity opened #20115 "teamcity: failed tests on master: Jepsen/JepsenSetupCluster"
The following tests appear to have failed:

[#412373](https://teamcity.cockroachdb.com/viewLog.html?buildId=412373):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-17 08:30] cockroach-teamcity commented on #19820
SHA: https://github.com/cockroachdb/cockroach/commits/2fcabfe8db420628a2d69bf2f223a0e9779f6eb9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=412475&tab=buildLog

[2017-11-17 09:23] cockroach-teamcity commented on #19623
SHA: https://github.com/cockroachdb/cockroach/commits/2fcabfe8db420628a2d69bf2f223a0e9779f6eb9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=412553&tab=buildLog

[2017-11-17 09:23] cockroach-teamcity commented on #19438
SHA: https://github.com/cockroachdb/cockroach/commits/2fcabfe8db420628a2d69bf2f223a0e9779f6eb9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=412553&tab=buildLog

[2017-11-17 09:23] cockroach-teamcity commented on #19438
SHA: https://github.com/cockroachdb/cockroach/commits/2fcabfe8db420628a2d69bf2f223a0e9779f6eb9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=412553&tab=buildLog

[2017-11-17 10:09] cockroach-teamcity commented on #19820
SHA: https://github.com/cockroachdb/cockroach/commits/2fcabfe8db420628a2d69bf2f223a0e9779f6eb9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=412622&tab=buildLog

[2017-11-17 10:09] cockroach-teamcity commented on #19862
SHA: https://github.com/cockroachdb/cockroach/commits/2fcabfe8db420628a2d69bf2f223a0e9779f6eb9

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=412622&tab=buildLog

[2017-11-17 12:55] lego commented on #19369
From the postgres reference, `2205` is `regclass`, which is just a type of postgres oid:  https://www.postgresql.org/docs/8.1/static/datatype-oid.html.

The error came from [this query](https://github.com/mattermost/mattermost-server/blob/91b9514aafbefd5c9c10380878bef1b03245d10c/store/sqlstore/supplier.go#L367-L387
).

It looks like all we might need to do for the one error is alias `regclass` to

[2017-11-17 12:56] mberhault opened #20118 "stability: /_status/vars wedges."
At 20171117-11:40UTC, multiple nodes across multiple clusters were reported as dead.
This turned out to be prometheus timing out trying to fetch `/_status/vars`.

Persistently-wedged clusters are all running 1.2-alpha. Others (1.1 stable or 1.1-head) get failing scrapes, but work out eventually.

Active goroutines on some nodes (eg: `cockroach-adriatic-0003` and `cockroach-cyan-0001`) show a wedge

[2017-11-17 12:57] knz commented on #19369
We already have oid type aliases (regclass, regprocedure, etc). What's missing with them?

[2017-11-17 13:56] a-robinson commented on #20118
On cyan, there are 690 goroutines blocked trying to acquire the mutex in `(*MetricsRecorder).PrintAsText`. The goroutine holding the lock is blocked in:

[code]

[2017-11-17 13:58] debraj-manna opened #20119 "Select Query with join is getting stuck"
I have a table with schema like below-

[code]

One sample data will be like below -

[code]

The query like below is getting stuck

[code]
Even after waiting for 1 - 2 mins it did not return me any result.

Even `count(*)` is taking lot of time.

[code]

Result of EXPLAIN

[code]

Also can you let me know why the index on `endrange` is not getting used? Is this expected?

I assume `count(*)` shou

[2017-11-17 13:59] mberhault commented on #20118
Yup, same thing. The ultimate question is: why are we not able to send things over the network. I'm guessing something wrong on the prometheus (itself, or azure vm/network) causing the issue.

[2017-11-17 14:28] tschottdorf commented on #20118
paging @nvanbenschoten, is this similar to the gossip 15min timeout?

[2017-11-17 15:19] bdarnell commented on #20115
@nvanbenschoten This is because you had a manual test running at the time the nightly was triggered, right?

[2017-11-17 15:29] wormwang commented on #17370
Are you test brpc https://github.com/brpc/brpc
The developer of brpc show in a benchmark, the brpc is best perf of all rpc.
And, brpc support OpenUCX in plan. OpenUCX support RDMA

[2017-11-17 15:42] justinj opened #20120 "sql: add JSON builtins"
Tracking issue for various JSON builtins. Most of these have a `json` version and a corresponding `jsonb` version. Details [here](https://www.postgresql.org/docs/9.5/static/functions-json.html).

I think basically any of these would be a good first PR:

* [x] `to_json`
* [x] `array_to_json`
* [x] `json_build_array`
* [x] `json_build_object`
* [x] `json_object`
* [x] `json_array_length`
* [x] `json

[2017-11-17 16:07] bdarnell commented on #20118
It's possible that this is just prometheus failing to read from the socket (and we should release the mutex while writing to the network), but since we've seen the same symptom elsewhere we should consider that it's something on the sending side.

I think mishandling file descriptors (most likely in C++ land, i.e. rocksdb) could have this symptom. Every confirmed instance of this problem is on a 1

[2017-11-17 16:53] leomkkwan commented on #15441
Totally agree with @bladefist. GUI is very important, which only stability and client driver could be above of it. Putting this into 1.3 is disappointed as that put GUI support almost a year away from now.

From the support perspective stand point, if CRDB could pick one GUI, for example DBeaver, out there and make a error free environment that could be very helpful, just like how MariaDB bundle H

[2017-11-17 17:26] vivekmenezes commented on #18955
I ran a cockroach binary from master on my mac with no data directory, let it create one, and then ran version 1.0.6 against the fresh data directory.

[code]

[2017-11-17 17:33] vivekmenezes commented on #18955
ran version 1.0.6 with no data directory, restarted with a binary from master using the data directory created by 1.0.6, created a new table, restarted with version 1.0.6, inserted data into the table. Works fine.

[2017-11-17 17:59] a-robinson commented on #17370
Hi @wormwang, I don't believe we've tested it, but the cgo interface makes using any C++ RPC implementation from go fairly impractical. I did a test where I tried using the C++ implementation of grpc via cgo but its throughput capped out quite low, most likely due to the problems all the blocked cgo threads caused the go scheduler.

[2017-11-17 19:04] nvanbenschoten opened #20123 "teamcity: TestReplicaUpdateTSCache failed"
https://teamcity.cockroachdb.com/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=412962&_focus=64250

[code]

This is with the old tscache, but I recently touched this test so I must have made it flaky.

[2017-11-17 19:14] nvanbenschoten commented on #20118
@tschottdorf very interesting! Yes, this does look similar to the gossip 15m timeout issue. Just like over there, we see a goroutine stuck in `runtime_pollWait` while trying to perform a write. The key difference is that the write here isn't even going through gRPC.

This is technically true about https://github.com/cockroachlabs/rubrik/issues/5 (which I think is why you said "confirmed"), but som

[2017-11-17 19:24] mberhault commented on #19783
CC: @dianasaur323. This is the tracking issue for encryption-at-rest.

[2017-11-17 19:51] nvanbenschoten commented on #20115
It looks like it is, yes. I'm not sure how that happened though because my tests were failing pretty quickly last night due to the `Unknown option: "--tarball"`/`--package-url` issue. I'm kicking off a run on master now to see if it's affected.

[2017-11-17 19:52] cockroach-teamcity opened #20125 "teamcity: failed tests on master: Jepsen/JepsenSetupCluster"
The following tests appear to have failed:

[#413061](https://teamcity.cockroachdb.com/viewLog.html?buildId=413061):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-17 20:32] nvanbenschoten commented on #20115
Saw this again when I tried to run Jepsen on `master`. #20125.

[2017-11-17 20:33] nvanbenschoten commented on #20125
Duplicate of #20115.

[2017-11-17 20:33] #20125 closed

[2017-11-17 20:35] bdarnell commented on #20115
Looks like a run failed to clean up after itself. Did you cancel a run at some point?

I'm deleting the GCE resources and trying another build.

[2017-11-17 20:44] nvanbenschoten commented on #20115
Yes, I think I did cancel a run sometime yesterday, once it became clear that the run wasn't going to succeed.

[2017-11-17 20:44] mjibson opened #20128 "sqlccl: infer database from CREATE TABLE in IMPORT"
Would remove need for `into_db` option and remove `into_db`.

[2017-11-17 21:02] bdarnell commented on #20115
OK, jepsen versioning is very confusing (it looks like a monorepo but doesn't act like one because the subpackages depend on published releases of each other) so my fix wasn't actually getting applied. I've got #20129 to fix this by adapting to the new flag name instead of fixing it upstream.

[2017-11-17 22:34] benesch opened #20136 "sql: boundary dates are broken"
[code]

Something somewhere is overflowing. Assigning to @knz for triage.

[2017-11-17 23:23] nvanbenschoten commented on #20119
Thanks for the report @debraj-manna! I'll split this issue into two separate parts: the slow `COUNT(*)` followed by the index selection.

#### Slow COUNT(*)

At the moment Cockroach doesn't perform any tricks to speed up our `COUNT(*)` processing. Instead, we're forced to scan the entire table and count the rows. This is something that's on our roadmap, and which should improve in `v1.2`.

Still,

[2017-11-17 23:29] jordanlewis opened #20137 "perf: slight performance regression in kv workload"
Seems to have been introduced by the MultiRowFetcher change in db2aedc884b391dd04c34516e896b6d783118fe6.

The below measurements were taken on my local laptop with a fresh `cockroach-data` directory and `kv --read-percent=100`:

Before: (3844bbd30)
[code]

After (db2aedc884b391dd04c34516e896b6d783118fe6):
[code]

It's possible that this is just measurement noise, but it seems pretty consistent ove

[2017-11-17 23:35] joe-el-khoury commented on #20120
Are the ones with the ~strikethrough~ complete or not required?

[2017-11-17 23:50] tschottdorf commented on #7825
Work on generating approximate stats has begun as per https://github.com/cockroachdb/cockroach/pull/18399 and the PRs that ping it.

[2017-11-18 00:19] tschottdorf commented on #20080
place for one of @knz's stack machines (or BPF or, dare I say, native code) - I
think we should pass programs to the scan rather than an ever-growing set of
options.

Don't think that is trolling, that's kind of the holy grail at the end
(especially when the resulting code gets optimized by whichever JIT compiler
translates it), but obviously that'll need a lot more juice.

For today, I ran an nef

[2017-11-18 00:55] #19639 closed

[2017-11-18 02:53] justinj commented on #20120
Hey, @joe-el-khoury, I should have been more clear in the description - the strikethough'd functions don't apply to us right now since we don't have row or record types.

[2017-11-18 07:32] cockroach-teamcity commented on #18775
SHA: https://github.com/cockroachdb/cockroach/commits/a093de3ccf050b2febaff96b7e77779d0cf7bec8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=413288&tab=buildLog

[2017-11-18 07:32] cockroach-teamcity opened #20140 "ccl/sqlccl: TestImportStmt/schema-in-query-transform-only failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/a093de3ccf050b2febaff96b7e77779d0cf7bec8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=413288&tab=buildLog

[code]

[2017-11-18 07:46] cockroach-teamcity opened #20141 "cli: TestDumpRandom failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/a093de3ccf050b2febaff96b7e77779d0cf7bec8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=413295&tab=buildLog

[code]

[2017-11-18 08:51] cockroach-teamcity commented on #18972
SHA: https://github.com/cockroachdb/cockroach/commits/a093de3ccf050b2febaff96b7e77779d0cf7bec8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=413346&tab=buildLog

[2017-11-18 08:52] cockroach-teamcity opened #20142 "sql/jobs: TestJobLifecycle/succeeded_forces_fraction_completed_to_1.0 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/a093de3ccf050b2febaff96b7e77779d0cf7bec8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=413346&tab=buildLog

[code]

[2017-11-18 10:49] cockroach-teamcity commented on #19862
SHA: https://github.com/cockroachdb/cockroach/commits/a093de3ccf050b2febaff96b7e77779d0cf7bec8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=413514&tab=buildLog

[2017-11-18 11:09] ikzelf commented on #19869
One thing about the serial ....... if data is moved from one to an other database, you had better use the data read in from the csv .... otherwise, referential constraints will fail. It might be helpful to give an option to reset the SERIAL to the value needed after the import completes. In postgres we use a reset value for the serial in this case.

[2017-11-18 11:48] knz commented on #20136
A data point:
[code]

So the value is properly there. It's the conversion during printing that fails.

[2017-11-18 12:26] knz commented on #20136
Okay so the proximate cause of the problem is that many computations involving DDate first convert the date (number of days since unix epoch) to a `time.Time` (number of seconds since epoch), by multiplying by 86400. For any value larger than `MaxInt64/86400` or lower than `MinInt64/86400`, an overflow occurs and the result is incorrect.

This multiplication currently happens at least in the follo

[2017-11-18 12:30] knz commented on #20136
@justinj and @solongordon, I would like to suggest that you sit and brainstorm together what you personally think is the best approach here. I am thinking of you both because you were "paged in" on these issues recently. Perhaps having a casual look at what other db engines do could inform your discussion.

[2017-11-18 12:47] knz commented on #20136
Three more things:
- my analysis above of what pgwire is doing ("32-bit number of seconds") was wrong. Actually it prints out dates as a string, with an optional "BC" suffix after the year as needed.
- [postgres actualy supports dates from 4713 BC to 5874897 AD](https://www.postgresql.org/docs/10/static/datatype-datetime.html#DATATYPE-DATETIME-TABLE) by using an **int32 value since some epoch** wh

[2017-11-18 13:26] nkzawa opened #20143 "PARTITION BY doesn't support multiple columns"
Is this a question, feature request, or bug report?

This is bug report

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply

[2017-11-18 13:34] debraj-manna commented on #20119
@nvanbenschoten @arjunravinarayan Below is the explain for `COUNT(*)`

[code]
The blobs are not big. I have posted a sample in my first post.

I made the changes you suggested and created one non unique index. The performance improved

[code]

[2017-11-18 13:52] nvanbenschoten commented on #20119
@debraj-manna if these ranges never overlap, adding a `LIMIT 1` to that last query should also speed it up tremendously. Even if that's not possible, depending on the distribution of ranges in this `ip_metadata` table, switching order of the `startrange` and `endrange` columns in your index could help. The goal here would be to have the major column in the index eliminate most of the rows in the t

[2017-11-18 15:04] debraj-manna commented on #20119
@nvanbenschoten - `WITH LIMIT 1` - The performance improved the most. WITH PRIMARY KEY the result improved but less compared to other two approaches you suggested.

[code]
One more query if I am executing the same query shouldn't the result improve for the subsequent

[code]
This is mostly not an issue may be as the cache may be filled up and the previous query got evicted. Just checking though.

[2017-11-18 15:26] knz commented on #20007
@andreimatei what do you think? where should we be looking at?

[2017-11-18 15:27] knz commented on #19132
As far as I can see this is again macOS-specific.

[2017-11-18 16:32] bdarnell commented on #20136
I agree with restricting the range of DATE to match that of TIMESTAMP (although it's worth noting that postgres doesn't do this; their DATE type works further into the future than their TIMESTAMP type). And I'm OK with making this change without doing anything about existing large dates that may have been written.

[2017-11-18 18:03] dianasaur323 commented on #19329
I stuck this under 1.2 for now, but feel free to move round if you feel that that timeline isn't necessary / doesn't make sense.

[2017-11-18 18:08] petermattis commented on #20137
@jordanlewis Does #20138 fix the regression?

[2017-11-18 19:07] tschottdorf commented on #20080
I looked around what our options for just-in-time-compilation would be, and https://github.com/bitfunnel/nativejit/ looks pretty interesting.

- supports all platforms
- only depends on C++ runtime
- can call C functions
- generated code is optimized
- low latency (or so they say)

[2017-11-18 19:42] joe-el-khoury commented on #20120
Currently trying to build cockroachdb, will try to tackle one once I'm able to build it. Should be a fun Go learning exercise.

[2017-11-18 21:28] justinj commented on #20120
Sweet, feel free to hit me up here or on gitter if you have any questions. If you're looking for ones that would be particularly straightforward given that you're new to Go, `json_array_length` and `json_typeof` should be not bad (look around `builtins.go` to get a feel for how builtins are implemented), `json_extract_path` and `json_extract_path_text` already have implementations to support the `

[2017-11-19 07:25] cockroach-teamcity commented on #20141
SHA: https://github.com/cockroachdb/cockroach/commits/503c07121b8dda10ef3f2e6730eaf2eda7e69482

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=414012&tab=buildLog

[2017-11-19 10:15] cockroach-teamcity commented on #19820
SHA: https://github.com/cockroachdb/cockroach/commits/503c07121b8dda10ef3f2e6730eaf2eda7e69482

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=414231&tab=buildLog

[2017-11-19 15:17] cockroach-teamcity opened #20150 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2, Jepsen/Jepsen: JepsenRegister: JepsenRegister/strobe-skews, Jepsen/Jepsen: JepsenSequential: JepsenSequential/majority-ring+start-kill-2"
The following tests appear to have failed:

[#413986](https://teamcity.cockroachdb.com/viewLog.html?buildId=413986):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-19 23:19] amq commented on #17777
I wish I could achive your results... When testing with `sysbench 1.1` against Galera, both single-nodes, I get:

`oltp_write_only`
cockroach
transactions: 34.19 per sec.
queries: 205.15 per sec.

galera
transactions: 870.68 per sec.
queries: 5224.08 per sec.

`oltp_read_only`
cockroach
transactions: 106.54 per sec.
queries: 1704.58 per sec.

galera
transactions: 449.72 per sec.
queries: 7195.46 p

[2017-11-19 23:33] joe-el-khoury commented on #20120
I will give `json_array_length` a go. I didn't realize I was supposed to restart nodes with the new binary when adding a builtin, so I never saw my changes being reflected in the SQL terminal. Now that I know that I should be off to the races, and I will message you on Gitter when I have any questions.

[2017-11-20 00:37] lego commented on #19369
Ah, yep looks like the query with the oid alias is fine now :).

The second query that wasn't working has the `using` keyword in a delete query, which I double checked and we still don't support. It seems to be this  [this query](https://github.com/mattermost/mattermost-server/blob/7fa4913f902457dadb1a4806ce194eb122dbc090/store/sqlstore/user_access_token_store.go#L83)

[code]

[2017-11-20 05:38] nvanbenschoten commented on #20143
Thanks for catching this @nkzawa. Looks like this was broken in 278e2e7daca6a1c2d6c95ed0d9220cae66af7d96 and slipped through a gap in our testing.

[2017-11-20 07:47] cockroach-teamcity commented on #20141
SHA: https://github.com/cockroachdb/cockroach/commits/a365254067f26cb958766978a1ec4112078ffd13

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=414596&tab=buildLog

[2017-11-20 08:33] a6802739 commented on #20052
@tschottdorf, could I offer some help here? :)

[2017-11-20 10:59] #20105 closed

[2017-11-20 11:16] cockroach-teamcity commented on #19997
SHA: https://github.com/cockroachdb/cockroach/commits/3cbce440a8780e9b6755507eca4941b129561157

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=414889&tab=buildLog

[2017-11-20 11:16] cockroach-teamcity opened #20152 "ccl/sqlccl: TestRestoreAsOfSystemTime/ts4 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/3cbce440a8780e9b6755507eca4941b129561157

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=414889&tab=buildLog

[code]

[2017-11-20 12:35] knz commented on #19132
I made a typo in my fix...

[2017-11-20 14:40] petermattis commented on #17777
@amq Can you provide the exact `sysbench` command line you ran against Cockroach? I haven't done any significant investigation into `sysbench`, but the numbers you posted seem low.

[2017-11-20 14:40] jordanlewis commented on #20137
It didn't appear to, no. I'm going to perform some more rigorous performance tests today for this and some other things; will report back. The initial findings may have been noisy - otherwise I'll track down the problem here.

[2017-11-20 14:45] petermattis commented on #20078
@arjunravinarayan Given the reproducibility of the original issue, it seems like we should be able to identify where the memory is going. Let's extend the log message in `server/status/runtime.go` to include `HeapIdle` and `HeapInuse`.

[2017-11-20 15:06] cockroach-teamcity opened #20155 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenMonotonic: JepsenMonotonic/majority-ring, Jepsen/Jepsen: JepsenSets: JepsenSets/subcritical-skews+start-kill-2, Jepsen/Jepsen: JepsenSets: JepsenSets/majority-ring+start-kill-2, Jepsen/Jepsen: JepsenSets: JepsenSets/parts+start-kill-2"
The following tests appear to have failed:

[#414562](https://teamcity.cockroachdb.com/viewLog.html?buildId=414562):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-20 15:07] dianasaur323 commented on #14113
@vilterp perhaps worth you staying in the loop on this issue for the admin UI work you are doing

[2017-11-20 16:50] #20143 closed

[2017-11-20 17:00] andreimatei opened #20157 "tracing: some query errors are returned as a result of SHOW TRACE FOR <stmt>"
Query errors are not supposed to cause `SHOW TRACE FOR <stmt>` to fail. However, it would appear that planning errors do:

[code]

[2017-11-20 17:07] tschottdorf opened #20159 "storage: GC queue busy loop after canceled import"
My laptop started burning and I investigated.

CockroachDB CCL v1.2-alpha.20171113-492-ga093de3cc-dirty (darwin amd64, built 2017/11/18 03:55:36, go1.9)

Found that the GC queue was processing replicas en masse, without ever getting to delete anything:

[code]

The replicas were created by a cancelled import:

[code]

[code]

Either there aren't actually any keys in that range (so the stats are ju

[2017-11-20 17:32] leomkkwan commented on #19216
Yes, it looks like it is a persistent problem. I've upgrade to v1.2-alpha.20171113, the CPU is still under load, even the cluster is idle for more than two weeks.

Here is some log entries. The "node already has a replica" message is repeating and I can see the messages are repeated for the same range.

In my cluster, each physical node have 5 stores which is 5 seperate HDD drive.

`E171120 17:26:

[2017-11-20 18:27] couchand commented on #20026
Due to the issues noted in #20118, we have not been collecting status information from the test clusters for the past three days.  Since we don't have enough information to qualify this release, we will not be releasing this week.

[2017-11-20 18:27] #20026 closed

[2017-11-20 19:16] andreimatei commented on #20007
I think this is another one of those unfortunate problems with network communication errors that bubble up to the sql executor, which is not currently well equipped to handle them. I'll see what to do.

[2017-11-20 19:28] mjibson commented on #20141
The problem here is there is a "0.0000" that gets truncated to a "0" later on.

[2017-11-20 19:33] #19132 closed

[2017-11-20 19:39] dt commented on #19647
This was fixed by #20023

[2017-11-20 19:39] #19647 closed

[2017-11-20 19:58] a-robinson commented on #20114
Thanks for sharing, @gpaul. Would you be willing to share the full log files with me? If you don't want to share them publicly, you can always send them to me at alex@cockroachlabs.com. This isn't ringing any bells for me on first glance, and being able to piece more of the info together should help.

I assume this is the only time you've hit this problem?

[2017-11-20 20:05] arjunravinarayan commented on #20078
Thanks for the lead, @petermattis. I reran the query, with the additions to the log message. I found the following things:

`ms.HeapInuse` jumps from `400MiB` to `2.4GiB`, but then stays there for ~2 minutes (the query in contrast runs out of memory and errors out within ~15 seconds). After that, it drops to ~`35MiB`, just when `ms.HeapIdle` jumps to `2.6GiB`. That memory stays in `ms.HeapIdle` fo

[2017-11-20 20:07] #20141 closed

[2017-11-20 20:12] a-robinson commented on #20078
`HeapReleased` is included in `HeapIdle`, so that's expected once go has released the memory back to the OS. Did the process's RSS go down or stay the same?

[2017-11-20 20:18] petermattis commented on #20078
From the go1.9 source:

[code]

[2017-11-20 20:30] arjunravinarayan commented on #20078
@a-robinson, I wasn't careful about noting down timings as to when the RSS went down, it could have happened when I applied memory pressure to the system using `stress`, or by itself after some cutoff time. I'm rerunning the query on a fresh machine, and waiting over 15 minutes before applying memory pressure to be absolutely sure. I will report back.

[2017-11-20 20:35] arjunravinarayan opened #20173 "sql: parity between local SQL and distSQL in JOINs"
We want to eventually get feature parity between local SQL execution, and distSQL execution, but one particular feature gap stands out: JOIN execution in local SQL is far behind.

First, local SQL does not plan merge joins, but distSQL does, so turning off distSQL increases the potential memory usage by JOIN queries quite a bit.

Second, local SQL does not have the ability to use external storage

[2017-11-20 20:39] jordanlewis commented on #20173
It makes sense to me that large joins should always be planned with DistSQL.

Having not played around with profiling small joins (joins that have small spans to read on both sides), it's hard for me to say whether there's a performance reason to plan small joins in local SQL. Has there been any profiling work on that front?

[2017-11-20 20:51] arjunravinarayan commented on #20078
@a-robinson RSS only goes down when you apply memory pressure to the system. It stays at `3.2GiB` until I run `stress --vm 64` (which I ran after 12 minutes of waiting) and then immediately drops down to ~`90 MiB`.

[2017-11-20 20:52] couchand opened #20176 "release v1.1.3"
Candidate SHA: 0629bcd52ab22637f0f5e7dc3d13a9d170a1c690
Deployment status: `adriatic` `omega`

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `2017-11-21`
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] [Deploy to test clusters](https://github.com/cockroachdb/coc

[2017-11-20 20:53] couchand commented on #20026
Next release: #20176

[2017-11-20 21:12] tschottdorf commented on #20118
I ran a script to `close()` all the fds belonging to these stuck connections to see what would happen. It didn't go well (forgot to grep for CLOSE_WAIT and got a SIGSEGV after ~8k `close()s` and the process also closed :8080 and :26257) but I'll document what I did below for posterity.

I used `lsof` to list the fds, though had to change the code that assigns to `Lf->fd` (to print the full fd numb

[2017-11-20 21:25] danhhz opened #20178 "sql: support CREATE TABLE ... AS ... PARTITION BY"
Identified as missing by q/a buddy

[2017-11-20 21:31] danhhz opened #20179 "sql: support CREATE TABLE ... AS ... INTERLEAVE IN PARENT"
Noticed this was missing when looking at the grammar for something else. There's no reason we shouldn't aim for full "algebraic compatibility" (to borrow knz's term).

Assigning to @richardwu for triage

[2017-11-20 21:45] tschottdorf opened #20180 "storage: SysBytes incorrect"
Found investigating https://github.com/cockroachdb/cockroach/issues/20159.

It looks that our SysBytes are usually incorrect on each and every range I've seen (and I've pointed this at a few data directories from various clusters):

[code]

... or, my corresponding code, #20181 is incorrect.

@cuongdo for triage.

While fixing this, we should incorporate this check into the consistency checker (wh

[2017-11-20 21:50] gpaul commented on #20114
Hi Alex, I believe the same customer ran into this situation twice. Neither us nor them have been able to reproduce it since. I'll email you the full logs. Thanks for taking a look at this.

[2017-11-20 21:54] gpaul commented on #20003
@andreimatei any update? If you like I can see about reproducing it in a script or some other easily digestible format. It reproduces very reliably for me. I'd love for us to upgrade to the latest version (which requires zero downtime) so please let me know if I can help in any way.

[2017-11-20 21:54] andreimatei opened #20182 "sql: multiple contradictory AS OF SYSTEM TIME clauses allowed in a query"
Currently, an AOST clause is supposed to only be permitted at the topmost level of a query, and it's supposed to be inherited by all the data sources in the query. However, that's not enforced. As long as there is a top level AOST, every other one will be silently ignored.
For example, this doesn't give any errors.
[code]

The code in charge of (insufficiently) enforcing AOST is here:
https://gith

[2017-11-20 22:02] #20007 closed

[2017-11-20 22:05] nvanbenschoten commented on #20118
To provide more context to @tschottdorf's experiment, we saw about 12 thousand open file descriptors on each of the wedged nodes in the `CLOSE_WAIT` state. These descriptors were all TCP connections on port 8080, presumably handling the `/_status/vars` endpoint. This issue was not seen on other nodes, so it seems safe to say that it's related to this issue. Whether it was the cause or not is harde

[2017-11-20 22:06] tschottdorf commented on #20159
Hmm, taking the cluster offline and using `./cockroach debug estimate-gc` (with a local change to match my 90ks TTL) made it look like no GC was necessary. Instead I discovered #20180.

I don't have bandwidth to investigate this, but it seems pretty important to get to the bottom of. I uploaded the [data directory](https://drive.google.com/drive/folders/1embPoDO_x142FsQ9eaIcju1ZW9uLDKd8?usp=sharin

[2017-11-20 22:12] a-robinson commented on #20118
This is mostly uninformed conjecture, but couldn't all the CLOSE_WAIT connections just be due to prometheus giving up on waiting for responses? i.e. prometheus closed the connection on its end but the server hasn't closed its socket yet because it's still waiting on the goroutine to finish processing the request.

[2017-11-20 22:20] mberhault commented on #20118
This seems likely. The `/_status/vars` lock is forcing all requests behind the wedged one. Changing the vars handler to write to a temporary buffer and then flush that into the response writer outside the lock would avoid this. That's only a work-around though, it does not explain why the initial request failed.

[2017-11-20 22:21] nvanbenschoten commented on #20118
@a-robinson yeah that seems like it adds up. We still see all of the goroutines stuck waiting on the lock (like you posted above) so they wouldn't have closed their FDs yet.

I played around with closing random TCP file descriptors like @bdarnell suggested but wasn't able to cause any damage to a running cluster. The worst I was able to do was cause "ambiguous result" errors which KV didn't like,

[2017-11-20 22:35] mberhault opened #20186 "metrics: write to `/_status/vars` response writer outside the metrics lock"
This would mitigate issues seen in #20118 at the cost of hiding occurrences of dropped connections.

Generating the prometheus metrics page requires holding a lock on various metrics objects. The page is written directly to the response writer. We've seen cases of writes to the response writer hanging. Since we're holding the lock, this causes all other requests for `/_status/vars` to block, causi

[2017-11-20 23:35] andreimatei opened #20188 "core: starting a 1.0.6 binary after a (single node) cluster has been initialized at 1.1.2 panics"
I started a node with a 1.1.2 binary. Don't know if it matters, but I then ran
[code]
I then killed the node and restarted with a 1.0.6 binary and I got the panic below.
I guess the theory is that the cluster version check is not enforced in this case for some reason.

[code]

[2017-11-20 23:58] andreimatei opened #20189 "sql: ALTER TABLE SPLIT AT broken in mixed-version cluster"
The following just happened to me in a cluster with two 1.0.6 nodes and one 1.1.2 node. I created a table, inserted a few rows into it, then attempted a split. The first split worked fine. The following ones fail, with two distinct errors: malformed key and key /Min. Interestingly, splitting again at the point where I had split before continues working.
I couldn't get this to repro with a single n

[2017-11-21 00:08] andreimatei commented on #20003
Hey @gpaul. I tried reproducing it today, but it didn't repro easily. I have to try harder with more data in a table and by varying the distribution of that data across nodes.
If you can give me a repro, that'd be gold. The ideal one would be a dump of a database plus instructions for starting the mixed-version cluster (or a script) and example queries that fail. Next best thing would be instructi

[2017-11-21 00:24] jtescher commented on #18662
Have you also considered https://github.com/moment/luxon ?

[2017-11-21 03:50] arjunravinarayan commented on #20119
@nvanbenschoten The `COUNT(*)` performance looks as expected given that we have to execute a full table scan right now. The scan speed looks as expected - although we hope to speed it up a fair bit in the next release.

[2017-11-21 03:57] sydnever commented on #20100
Hello, I am a new bee here. I would like to know whether you will code this issue yourself (I noted you fix #20090 ). If you will, I will look for another issue which maybe looks simple; if not, I want to have a try.

[2017-11-21 04:59] benesch commented on #20189
This smells like it might be related to #16008 and its associated cleanup work (e.g. https://github.com/cockroachdb/cockroach/commit/9234460c41204c479de74f3b91d4ee11bfe81ef1 and https://github.com/cockroachdb/cockroach/commit/d811da09f36421c4eea5ba98ea4508d92d4a6fda). I don't have the details paged in right now, though, so I can't promise I'm not sending you on a wild goose chase.

[2017-11-21 06:27] mjibson commented on #20182
My current idea is to have `func isAsOf` walk the statement for children and looking for anything with isasof. However the docs for WalkStmt say it doesn't go into subqueries. Do we have a way to walk all expressions of a statement? @knz maybe?

[2017-11-21 07:24] knz commented on #20100
@sydnever hello! Thanks for your interest in this issue. We haven't looked into this yet, so the issue is still "free". Do you know already what the solution looks like?

[2017-11-21 07:33] sydnever commented on #20100
@knz I have some ideas in my mind and I am trying to find where and how I will code. When I make it clear, I will share my plan here

[2017-11-21 07:33] richardwu commented on #18316
So my intuition and previous experience with https://github.com/cockroachdb/cockroach/pull/19752 (which was later in https://github.com/cockroachdb/cockroach/pull/19701 and regression tested here https://github.com/cockroachdb/cockroach/pull/20063) led me to believe that this could be happening because of some edge case with schema mutations.

I was able to reproduce this locally on commit be60cc5

[2017-11-21 07:46] knz commented on #20100
Thanks.

[2017-11-21 07:54] knz commented on #18316
Thanks Cuong for reproducing the issue!

As discussed in #19752 I too am very uncomfortable as to having UPDATE pass publicAndNonPublicColumns as scanVisibility to the scanNode and therefore work on mutated columns. IT doesn't feel right to me.

[2017-11-21 09:44] adamyaoqinglin commented on #19307
Hey, @knz , I want to code for this issue. However, I am curious whether this issue should be suspend until #18576 pushed.

[2017-11-21 12:45] gpaul commented on #20003
Sure, here is a tarball containing a file `repro.sh` which you can simply run as `sh repro.sh` and reproduces the issue reliably.

[cockroachdb_issue_20003_repro.tar.gz](https://github.com/cockroachdb/cockroach/files/1491322/cockroachdb_issue_20003_repro.tar.gz)

[2017-11-21 12:46] gpaul commented on #20003
Once the script crashes, you can keep trying to run the query and it keeps failing every time.

[2017-11-21 13:15] gpaul opened #20193 "cockroachdb instance hangs indefinitely [1.0.6]"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**. On most unix-based systems
   running with defaults, this boils down to the output of

     grep -F '[config]' cockroach-data/logs/cockroach.log

   When log files are not available, supply the output of `cockroach version`
   and all flags/environment variables

[2017-11-21 14:04] mberhault commented on #20193
Was the `cockroach` process still running? No logging usually means it died.
In cases of OOM, we will be killed without being able to log anything. You can find if this happened using `dmesg -T`.

[2017-11-21 14:13] gpaul commented on #20193
Thanks @mberhault. We'll have a look.

[2017-11-21 14:20] cockroach-teamcity opened #20195 "sql/tests: TestMonotonicInserts failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/776366fade8fe44f7a77b1ffbb7c274a616c7d00

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=416250&tab=buildLog

[code]

[2017-11-21 14:20] cockroach-teamcity opened #20196 "sql/tests: TestMonotonicInserts/distsql=off failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/776366fade8fe44f7a77b1ffbb7c274a616c7d00

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=416250&tab=buildLog

[code]

[2017-11-21 14:40] petermattis commented on #20173
Agreed, though the lack of feature parity between local SQL and dist SQL leaves us in an awkward position right now. We can't use dist SQL in write operations, including operations which perform a query in order to insert into a table. And we can't use dist SQL after a transaction has performed a write operation (the precise reason escapes me, but @andreimatei would know). Lastly, we can't use dis

[2017-11-21 14:41] cuongdo commented on #5583
Reassigned to @awoods187 for prioritization

[2017-11-21 15:02] cockroach-teamcity opened #20197 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank: JepsenBank/start-stop-2, Jepsen/Jepsen: JepsenG2: JepsenG2/start-kill-2, Jepsen/Jepsen: JepsenRegister: JepsenRegister/split, Jepsen/Jepsen: JepsenRegister: JepsenRegister/subcritical-skews+start-kill-2, Jepsen/Jepsen: JepsenSequential: JepsenSequential/start-stop-2"
The following tests appear to have failed:

[#415997](https://teamcity.cockroachdb.com/viewLog.html?buildId=415997):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-21 15:34] jseldess commented on #19969
@mberhault, think you might have time to take a look at this in the 2.0 timeframe, or should we look for someone else willing to take it on?

[2017-11-21 15:43] knz commented on #20182
I would love to have a look at this issue too. We can do it together, or I can give it a try while y'all are celebrating thanksgiving.

[2017-11-21 15:54] vivekmenezes commented on #20119
related to https://github.com/cockroachdb/cockroach/issues/7825

Can we close this issue?

[2017-11-21 16:01] mberhault commented on #19969
I can take a look, but unless my feature work stalls for a bit, I'm kind of swamped until the feature freeze.

[2017-11-21 16:02] vivekmenezes commented on #18316
assigning to myself to see what I can do about this. Thanks!

[2017-11-21 16:06] arjunravinarayan commented on #20119
Yes, I think so. @debraj-manna please feel free to open new issues if anything else comes up. Thanks!

[2017-11-21 16:09] andreimatei commented on #20182
Well but I think we do want it in subqueries. And also I think not having it in subqueries is not sufficient. I think the rule we want is that there can't be some "datasources" with a aost and some without (or, better yet, that all the data sources need to have equivalent aosts).
And on the execution side, it'd be great if it was the `scanNodes` that implement it by modifying the transaction inste

[2017-11-21 16:12] richardwu opened #20198 "sql: add character index to PQ syntax errors"
While the interactive SQL shell is able to provide a `DETAIL`  snippet with a caret symbol pointing to the symbol where syntax parsing failed, drivers (and our logic tests) will not propagate this information.

It'd be nice if we could highlight the index of the character in the string that caused the syntax parsing error, especially in complex queries.

For example the query
[code]
Returns the er

[2017-11-21 16:45] a-robinson commented on #20193
The only time I can remember seeing all logs stop was when a cockroach process ran out of disk space (https://github.com/cockroachdb/cockroach/issues/19171). Running out of disk is handled better in 1.1 releases, but it's not obvious in 1.0 releases. That'd be worth checking for.

Also, was the process still responding to health checks while it was stuck? That could change how to interpret the sit

[2017-11-21 16:51] gpaul commented on #20193
This is great info, thanks! I'll build a sidecar watchdog. Quite often the issues we've experienced resolved with a restart.

[2017-11-21 17:05] knz commented on #20182
There are different layers in your wishlist. :)
I'd support a first PR which properly rejects multiple AOST clauses, as well as any clause that's not at the top level.
Then we can think about a way for the scanNode to direct the timestamp at which they want to read (that may need some changes in the kv fetcher), and if we find a solution we can have every data source use their own timestamp, to mu

[2017-11-21 17:12] debraj-manna commented on #20119
@arjunravinarayan @vivekmenezes @nvanbenschoten I am seeing huge difference in query time for `SELECT blob FROM ip_metadata WHERE (startrange <= 3416723778::INT8) AND (endrange >= 3416723778::INT8);` for postgres & cockroach as I posted in my last post.

Is this expected ?

[2017-11-21 17:18] andreimatei commented on #20003
Thanks! Looking.

[2017-11-21 17:26] a-robinson commented on #19165
This was closed by #19353, right?

[2017-11-21 17:26] andreimatei commented on #20182
I'm like Maslow in that.

[2017-11-21 17:37] m-schneider commented on #19165
Yes.

On Tue, Nov 21, 2017 at 12:26 PM, Alex Robinson <notifications@github.com>
wrote:

[2017-11-21 17:39] petermattis commented on #19843
This was fixed by #19867.

[2017-11-21 17:39] #19843 closed

[2017-11-21 17:50] jordanlewis opened #20200 "sql: primary indexes permit duplicate columns"
[code]

There's no reason why this should be allowed. Postgres doesn't permit it for instance.

[2017-11-21 17:51] jordanlewis opened #20201 "sql: columns and column families are indexed differently"
[code]

As you can see, columns are 1-indexed but column families are 0-indexed. This is confusing. I propose making column families 1-indexed for consistency with columns and other 1-indexed SQL concepts like arrays.

[2017-11-21 17:54] jordanlewis opened #20202 "sql: primary keys silently discard NULL attribute"
[code]

This is confusing. Shouldn't having a primary key constraint on a column that was already explicitly marked as `NULL` just fail during table creation? Postgres also suffers from this issue, FWIW.

[2017-11-21 17:54] a-robinson commented on #20114
Thanks for sending the logs. I haven't made any conclusions yet, but am going to jot down some thoughts as I go.

* Mesos took more than 5 minutes to bring the restarted node back up, which made me suspicious that this is related to https://github.com/cockroachdb/cockroach/issues/19165. However, it looks like timeseries writes started stalling as soon as the process went down, not after it came ba

[2017-11-21 17:54] #19165 closed

[2017-11-21 18:00] richardwu opened #20203 "DESC indexes invert signage of spans in EXPLAIN"
Given a `DESC` index `b`
[code]

[code]
shows a misleading table scan on the span `/4 - /5` (instead of `/-5 - /-4`)
[code]

The reverse is also true
[code]
outputs a scan on `/-6 - /-5` (instead of `/5 - /6`)
[code]

Fortunately, the query returns the correct results so this is a matter of UX.

[2017-11-21 18:04] jordanlewis opened #20204 "sql: secondary indexes permit duplicate columns"
Similar to #20200. But Postgres actually permits this.

Is there a good reason why you'd want to have a column repeated in a secondary index? If not, we should disallow that.

[2017-11-21 18:36] andreimatei commented on #20003
OK, what's going on unfortunately is not surprising and I should have thought of it from the beginning.
1.0.x nodes do not have the mechanism to recover from this version mismatch errors. It was introduced in 1.1. Generally our forward compatibility story has become better on 1.1 on multiple fronts.
So what's happening is that 1.0 nodes are trying to access data owned by 1.1 nodes in a specific wa

[2017-11-21 18:45] andreimatei commented on #20188
Upon talking to Tobi, I guess there's nothing unexpected here. 1.0 nodes don't have the nicer handling of illegal downgrades.

[2017-11-21 18:45] #20188 closed

[2017-11-21 18:47] vilterp opened #20207 "core: crash on insert (after nodes from different cluster attempt to join)"
On a single-node cluster at SHA 98fad6feeb9d223f5d0e342fcbcafba80709864f:

SQL Shell:

[code]

Server stderr:

[code]

Restarted server:

[code]

Then I did a `rm -rf cockroach-data`, started up the server again, did the same thing in the shell again, and it worked. Not really sure if this had anything to do with the SQL I was running or not.

[2017-11-21 18:49] cuongdo commented on #20207
What did you do prior to the crash? Was there other load on the node prior to that?

[2017-11-21 18:50] mjibson commented on #20182
I'm unassigning myself from this bug because it's pretty low down on my priority list and maybe someone else wants to take it.

[2017-11-21 19:00] vilterp commented on #20207
My memory is a little hazy, but this is probably a "nodes thinking they're in the same cluster when they're actually in different clusters" issue. I think I did something like this:

1. start a roachdemo cluster with data directory A
2. shut it down
3. start an individual cockroach process with data directory B
5. `git pull && make`
6. restart the roachdemo cluster, forgetting about the other proc

[2017-11-21 19:02] #20186 closed

[2017-11-21 19:31] gpaul commented on #20003
Ah, i see. Thanks for the explanation, I'll see what we can do.

Man, that's a pity. We may be able to get away with having performance temporarily degraded for the duration of a cluster upgrade (ie., disabling distsql) but unavailability is not an option.

[2017-11-21 19:34] a-robinson opened #20210 "ui/ts: Expose information about timeseries disk/range usage"
We currently don't appear to expose the amount of disk used by timeseries data or the number of ranges containing timeseries data, unlike for all SQL tables which have this info shown on the `/#/databases/tables` page. This makes understanding a cluster's disk usage more confusing and less definitive. We can point people to https://www.cockroachlabs.com/docs/stable/operational-faqs.html#why-is-dis

[2017-11-21 19:47] jgehrcke commented on #20003
Thanks for looking into this with priority, @andreimatei. That conclusion is disappointing for us because we planned with a smoother upgrade path. Did we miss any specific warning or pointer about this deficiency in the docs / release nodes / upgrade notes?

[2017-11-21 20:13] #19887 closed

[2017-11-21 20:14] #19776 closed

[2017-11-21 20:25] richardwu commented on #20203
The issue is that the visitor that sets the `spans` `attr` for the `explainPlanNode` [invokes `PrettySpans`](https://github.com/cockroachdb/cockroach/blob/1ccd71373ffc2137448f0661ef517875aadd37c4/pkg/sql/walk.go#L143) which does not factor in ascending or descending columns when it eventually invokes `key.String() --> PrettyPrintKey(key) --> keys.prettyPrintInternal(key) --> decodeKeyPrint(key) --

[2017-11-21 20:31] andreimatei commented on #20003
I agree that it's unfortunate. I don't think you missed anything; I think we simply didn't do a good enough job here. We generally do think that being able to do rolling upgrades is very important. Historically, a lot of work to support mixed version clusters. In 1.1 in particular we have introduced a number of backwards and forwards compatibility things. What you're encountering is part of the gr

[2017-11-21 20:32] jordanlewis commented on #20203
I think this is probably also the cause of the display issues in `SHOW CREATE TABLE` with partitions on descending indexes. cc @danhhz

[2017-11-21 21:32] mjibson commented on #19968
@louishust If you still have the data or cluster available, can you paste the output of `show jobs` here? I'm trying to figure out where in the process the failure occurred.

[2017-11-21 22:02] a-robinson opened #20213 "storage: New follow-the-workload demo works on 1.1 but not on master"
Reproduction steps: https://www.cockroachlabs.com/docs/stable/demo-follow-the-workload.html

Reported by @jseldess

[2017-11-21 22:19] dianasaur323 commented on #20210
Agreed, definitely unfortunate. cc @couchand how do you feel in terms of how this ranks in priority?

[2017-11-21 23:41] tschottdorf commented on #20182
While we're doing wishlists, something that I mentioned to @andreimatei today is that one very practical special case for this is one I've encountered during debugging: you have a client app that uses some framework and you can't just grab a connection. You want to trace a query while also getting the result set. Naively that is

[code]

But there's (say) some ORM you have to use and below that, p

[2017-11-22 00:29] #17284 closed

[2017-11-22 00:34] tamird opened #20218 "ui: consider writing webpack configs in typescript"
See https://medium.com/webpack/unambiguous-webpack-config-with-typescript-8519def2cac7.

I had an old branch lying around that attempted to do this, but ran into difficulties following https://github.com/cockroachdb/cockroach/pull/18349.

[2017-11-22 01:16] amq commented on #17777
@petermattis

[code]

Some other tests:

[code]

Make sure to run the master (1.1) of sysbench if you want to try more threads than one. See https://github.com/akopytov/sysbench/commit/0169d42681ab699a05533a1e9294e98ab6494535

My docker-compose.yml:

[code]

[2017-11-22 01:37] petermattis commented on #17777
@amq Thanks for the details. I'm not going to be able to look at this until next week due to the holiday.

[2017-11-22 07:22] gpaul commented on #20003
We care deeply about downtime as well as unattended upgrades, yes.

Here's some info about our use case. As you can see we heavily rely on CockroachDB's architecture (gossip, rolling upgrade, TLS).

We run one CockroachDB instance per host.
There are typically 3 or 5 host per cluster.
For now, each CockroachDB has a single, colocated client process.
For security reasons the communication between t

[2017-11-22 07:46] cockroach-teamcity commented on #18775
SHA: https://github.com/cockroachdb/cockroach/commits/b6fdb185b3aa1003932655faba67555608dcf7da

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=417052&tab=buildLog

[2017-11-22 07:46] cockroach-teamcity commented on #20140
SHA: https://github.com/cockroachdb/cockroach/commits/b6fdb185b3aa1003932655faba67555608dcf7da

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=417052&tab=buildLog

[2017-11-22 09:33] cockroach-teamcity opened #20220 "sql/parser: TestHelpURLs failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b6fdb185b3aa1003932655faba67555608dcf7da

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=417113&tab=buildLog

[code]

[2017-11-22 11:11] twiden opened #20221 "P99 Latency does not agree with node latency"
In the Admin UI: "P99 Latency" does not agree with "Service Latency: SQL, 99th percentile" for any of the nodes. See P99 value in the top right box and the individual nodes in the popup over the graph.

Also, while running benchmarks (cockroachdb/loadgen kv) the P99 Latency displayed here seems to be a lot higher then from the clients perspective.

CockroachDB version 1.1.2

![latency_diff](https:

[2017-11-22 11:19] d4l3k opened #20222 "stability: please add way to recover from rocksdb corruption errors"
I just ran into an issue where I had to hard reboot my dev machine and ran into some rocksdb corruption errors. It lead to my single cockroachdb node being completely unresponsive and throwing this error:
[code]
Full Log: https://gist.github.com/d4l3k/2d00a8f87b17624326aa8cc6807846fa

It'd be really nice if there was a way to disable the rocksdb corruption errors and attempt to dump what data is s

[2017-11-22 12:16] mberhault opened #20223 "ui: indicate timeseries size clearly"
Currently, the space taken up by the timeseries data must be inferred by looking at bytes usage and subtracting any user data. This is a fairly poor approximation of the "extra" space taken up by the timeseries data.

We should investigate ways of displaying it more clearly, resulting in less surprise about its disk usage (this is a recurring question on support channels).

Given the fact that tim

[2017-11-22 12:16] mberhault commented on #20223
@mrtracy for thoughts.

[2017-11-22 12:47] mberhault commented on #20221
I believe the latency shown in the side bar is a max over some the displayed period. Given that, it still looks a bit off.
@mrtracy: can you confirm? the sidebar and the "Service Latency: SLQ 99th percentile" both use `cr.node.exec.latency-p99`, with the sidebar using `aggregateMax`.

[2017-11-22 13:37] andreis commented on #19667
I might try setting up crdb+istio-auth over the weekend and let you know how it goes, but some official docs from the team would be fantastic

[2017-11-22 14:14] cockroach-teamcity commented on #20220
SHA: https://github.com/cockroachdb/cockroach/commits/b6fdb185b3aa1003932655faba67555608dcf7da

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=417415&tab=buildLog

[2017-11-22 14:34] a-robinson commented on #20220
network flakes

[2017-11-22 14:34] #20220 closed

[2017-11-22 15:07] a-robinson commented on #20213
So I tested this out this morning and it still worked for me, but the lease transfers took longer to happen. The first one happened 33 seconds in, and the second one happened 4m55s in (out of the allotted 5 minutes).

@jseldess, would you mind trying again with a longer duration for the second run of `kv`? Assuming you don't think that making the demo take longer makes the feature seem drastically

[2017-11-22 15:08] a-robinson commented on #20223
Heh, I also opened an issue for this yesterday -
https://github.com/cockroachdb/cockroach/issues/20210

@mrtracy just close one of them when you get around to looking at this.

[2017-11-22 15:10] mberhault commented on #20223
Ah, I thought I remembered something like it, but I couldn't find it when searching around. I'll close mine.

[2017-11-22 15:10] #20223 closed

[2017-11-22 15:22] cockroach-teamcity opened #20224 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2"
The following tests appear to have failed:

[#417031](https://teamcity.cockroachdb.com/viewLog.html?buildId=417031):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-22 16:06] twiden commented on #20221
In that case it does not compute max over the same time span as the graph shows?

[2017-11-22 16:36] gpaul commented on #20114
The reboot nuked the logs from the server we restarted. I suspect it may have seen a somewhat higher request rate given that it was the mesos leader, but not much.

All queries hung.

It is very unlikely that any connection changed - there is a single client per cockroachdb instance and nothing external had any effect.

There is very little data in the database. On the order of ~100-1,000 records

[2017-11-22 16:37] gpaul commented on #20114
It really looks a lot like https://github.com/cockroachdb/cockroach/issues/19165 - could you provide me with the steps to reproduce that issue? I'm going to need to provide root cause analysis of this issue and a likely culprit combined with a reproduction thereof would go a long way.

[2017-11-22 16:57] andreimatei commented on #20003
Thanks for the info! My email is andrei@cockroachlabs.com.

[2017-11-22 17:19] a-robinson commented on #20221
It does look like the peak of the red line in the graph is right around 113ms, so I'd guess it's either taking the max point from whatever is graphed or just the max point from the last 10 minutes. That's a pretty harsh way of determining the cluster-wide P99 latency.

[2017-11-22 19:28] andreimatei commented on #19518
This failed for me with:
[code]
https://teamcity.cockroachdb.com/viewLog.html?buildId=404185&tab=buildResultsDiv&buildTypeId=Cockroach_UnitTests_Check

[2017-11-22 19:36] a-robinson commented on #20114
I was mostly curious about after the restart - was it getting a similar amount of requests? One of the main symptoms of #19165 was that the restarted node could serve requests but all of the other would hang.

I'm still not convinced that it's the same problem - getting more metrics from before/during/after the incident would be really helpful. But if you want to reproduce that, the steps are:

1.

[2017-11-22 19:37] a-robinson commented on #20114
cc @m-schneider @tschottdorf in case they have any more to say based on their looking into #19165.

[2017-11-22 19:45] mberhault opened #20226 "sql: privileges can be granted to nonexistent users."
eg:
[code]

The `DROP USER` error is due to the check that you cannot remove a user while it still has privileges. Conversely, we should not allow granting privileges to nonexistent users.

[2017-11-22 19:45] mberhault commented on #20226
I'll be poking at some of this logic for roles-related stuff, so I can take it unless someone else wants it.

[2017-11-22 20:03] twiden commented on #20221
I don't think it's max from the graph display period. Here's an example
<img width="1316" alt="screen shot 2017-11-22 at 21 01 43" src="https://user-images.githubusercontent.com/7657952/33147566-85745a84-cfc8-11e7-9a63-c8c7c1865bcf.png">

[2017-11-22 20:26] knz opened #20227 "sql: createTableAs should implement `planNodeFastPath`"
the `createTableNode` has a `rowsAffected` field (currently called `count`) like `createUser`, but its handling uses a weird special case in the executor. I think it can be simplified to use the `planNodeFastPath` interface instead.

[2017-11-22 23:41] benesch opened #20231 "build: improve reliability and maintainability"
- [x] Fix source tarballs
- [x] Fix verify-archive
- [x] Integrate bincheck with the release process
- [ ] Write integration tests for the build system
  - [ ] Start a GCE worker and verify that CockroachDB compiles
  - [ ] Verify build still works after `make clean`, `make maintainer-clean`, and `make unsafe-clean`

[2017-11-23 02:35] yuhit commented on #19111
Hello, is this issue still "free"? I would like to work on it as my first issue.

[2017-11-23 03:34] jseldess commented on #20213
You're right, @a-robinson. It's working for me again as well. In fact, it took a bit longer for the range to move the second time on 1.1 than on master this time. I think I'll update the tutorial to run kv the second time for 7 min instead of 5, just to be safe. Thanks for testing.

[2017-11-23 03:34] #20213 closed

[2017-11-23 06:47] gpaul commented on #20114
OK, those logs I have. The restarted instance could definitely *not* serve any requests while the others were unavailable.

[2017-11-23 07:21] debraj-manna commented on #20119
@arjunravinarayan Were you able to reproduce the performance difference with postgres for the query on your end?

Let me know if you need any more info.

[2017-11-23 07:29] sydnever commented on #20100
@knz Should I make the final plan like this:
[code]

[2017-11-23 07:51] cockroach-teamcity commented on #18775
SHA: https://github.com/cockroachdb/cockroach/commits/0da20a469d9a52d35699ce7f4cf20d2762659c60

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=417901&tab=buildLog

[2017-11-23 07:51] cockroach-teamcity opened #20236 "ccl/sqlccl: TestImportStmt/empty-with-files failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0da20a469d9a52d35699ce7f4cf20d2762659c60

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=417901&tab=buildLog

[code]

[2017-11-23 08:24] sydnever opened #20237 "sql: There should not be a "NOT NULL" filter on "NOT NULL" columns in optimized plan"
**BUG REPORT**

1.
[code]
2.
[code]
[code]

I don't think the filter should be here because "id" has been defined "NOT NULL".

[2017-11-23 09:35] glerchundi opened #20239 "storage+sql: Feature request: Row-level TTLs"
It would be interesting to have a possible row-level TTL so it can be used as an auto-purgable event store.

WDYT?

Jira issue: CRDB-5938

[2017-11-23 09:35] cockroach-teamcity opened #20240 "sql/parser: TestHelpURLs failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0da20a469d9a52d35699ce7f4cf20d2762659c60

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=417962&tab=buildLog

[code]

[2017-11-23 13:17] shay-stratoscale opened #20241 "Unexpected behaviour in a split-brain scenario"
Hey,

We're considering using cockroach-db as our product DB.
As part of our acceptance tests we've created a split-brain scenario to see how cockroach deals with it.

Test Setup
-
The test uses a cockroach-db cluster defined across two data centers:
**DC1**: consists of 3 roaches - `roach-0`, `roach-1`, `roach-2`.
**DC2**: consists of 2 roaches - `roach-4`, `roach-5`.
Each of the data centers has

[2017-11-23 13:46] mberhault commented on #20241
Without telling cockroach about your different zones, there is no way to know where the replicas will end up.
For example, here are some scenarios of where replicas may end up and what happens when you sever the `shared` connection:
* all three in `dc1`: r/w from `dc2` will all fail
* two `dc1`, one in `dc2`: r/w from `dc2` will fail
* one in `dc1` two in `dc2`: r/w from `dc1` will fail

Depending

[2017-11-23 14:21] shay-stratoscale commented on #20241
Hey @mberhault ,

Thanks for the prompt reply,

In our setup, we configured the `locality` based on the recommendation specified [here](https://www.cockroachlabs.com/docs/stable/configure-replication-zones.html#view-the-default-replication-zone)

Do you think that what happened was that the `system` ranges majority was in one DC and the table we tried to access had a majority in the other DC? Is t

[2017-11-23 14:21] bsnyder788 commented on #19891
We saw this again overnight last night on 1 of our 18 nodes in the cluster (the nodes did all have a few GB of data this time besides the admin UI time series). (all nodes were running 1.1.2 this time)

E171123 13:38:27.980189 1 cli/error.go:68  cockroach server exited with error: inspecting engines: error writing version to engine <no-attributes>=/mnt/cockroach: Corruption: Unable to Encode Versi

[2017-11-23 14:41] mberhault commented on #20241
One clear case that would fail is the following. Let's say your workload is against a table with primary keys going from a to z.
* range `[a-k[` has a majority of replicas in `dc1`
* range `[k-z]` has a majority of replicas in `dc2`

If you perform a transaction touching key `a` and key `z`, no datacenter can complete it as it won't be able to get a majority on both keys.
A similar scenario can ha

[2017-11-23 14:41] cockroach-teamcity opened #20242 "storage: TestGossipHandlesReplacedNode failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0da20a469d9a52d35699ce7f4cf20d2762659c60

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=418280&tab=buildLog

[code]

[2017-11-23 15:24] cockroach-teamcity opened #20243 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2"
The following tests appear to have failed:

[#417873](https://teamcity.cockroachdb.com/viewLog.html?buildId=417873):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-23 16:42] BrianSullivan1956 commented on #18506
Some drivers issue 'show transaction_isolation' as part of the initialization handshake
Cockroach returns the error:  unknown variable: "transaction_isolation"
Believe it expects the value from:
    select setting from pg_settings where name= 'transaction isolation level';

Any driver can issue the command and validate the reply.

[2017-11-23 20:02] benesch opened #20245 "build: `log.Scope`d logs should consistently be available as artifacts"
Currently, only acceptance does this properly, but test and testrace also have scoped logs that should be available on demand as build artifacts.

[2017-11-23 21:25] petermattis commented on #19891
Thanks for the report @bsnyder788.

@mberhault Let's make sure the cherry-pick gets queued up for 1.1.4 release.

[2017-11-24 00:38] prashcr commented on #19111
Hi, feel free to go for it!

On Nov 23, 2017 10:35, "yuhit" <notifications@github.com> wrote:

[2017-11-24 02:21] cockroach-teamcity opened #20248 "teamcity: failed tests on master: acceptance/TestDecommission, acceptance/TestDecommission/runMode=local"
The following tests appear to have failed:

[#418611](https://teamcity.cockroachdb.com/viewLog.html?buildId=418611):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-24 09:06] cockroach-teamcity commented on #20240
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=418727&tab=buildLog

[2017-11-24 10:08] jensneuse opened #20249 "Feature Request: support postgresql foreign data wrapper"
We'd like to build a large scale CMS with postgresql as source of truth + cockroachdb as denormalized data store for public access.

To keep both systems in sync via transactions I'd like to use a foreign data wrapper.

As per the documentation of postgresql foreign data wrapper module postgresql executes a few commands on client connection startup such as 'set timezone' etc.. (see documentation:

[2017-11-24 11:20] JackHerring opened #20250 "sql: Support INSERT inside an INSERT"
Support for something like the following would be nice
[code]

[2017-11-24 12:45] mberhault opened #20251 "sql: panic in `FuncExpr eval`"
Version: 1.1.2.

https://sentry.io/cockroach-labs/cockroachdb/issues/409426457/

[code]

The crash occurs in:
https://github.com/cockroachdb/cockroach/blob/c726df22152a771cdd1882679c772d4e7799440d/pkg/sql/parser/eval.go#L2773

This code has since moved, but at least that method remains the same.

[2017-11-24 13:51] cockroach-teamcity commented on #20240
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=419031&tab=buildLog

[2017-11-24 15:23] cockroach-teamcity opened #20253 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2, Jepsen/Jepsen: JepsenSets: JepsenSets/strobe-skews"
The following tests appear to have failed:

[#418636](https://teamcity.cockroachdb.com/viewLog.html?buildId=418636):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-24 15:46] mofirouz opened #20254 "cli/dump: Dump command doesn't support circular FKs"
This is a bug report for the Cockroach 1.1.2. I tested 1.0.6 and this issue did not occur on that version.

**BUG REPORT**

I've ran Cockroach on MacOS 10.13.1 and Ubuntu 16.04 and this issue exists.

[code]

This fails with the following stacktrace:

[code]

I downgraded my installation to 1.0.6 tried the same exact command, and it worked as expected with no errors.

[2017-11-24 16:00] mberhault commented on #20254
Thank you for the report. Could you include the schema for the `nakama` and its tables?
Another useful datapoint would be the result of:
[code]

[2017-11-24 16:02] mberhault commented on #20254
(assigning to @mjibson) who's the most familiar with this.
Stack trace seems to indicate an infinite loop on `collect`: https://github.com/cockroachdb/cockroach/blob/c726df22152a771cdd1882679c772d4e7799440d/pkg/cli/dump.go#L131

[2017-11-24 16:05] mofirouz commented on #20254
Thanks @mberhault for the prompt look.

You can find the table and schema definitions here:

https://github.com/heroiclabs/nakama/tree/master/migrations

The result of the query above is this:

[code]

[2017-11-24 16:15] mberhault commented on #20254
Ah, neat. It seems to be due to a foreign key in leaderboard referring back to leaderboard:
https://github.com/heroiclabs/nakama/blob/master/migrations/20170228205100_leaderboards.sql#L20
[code]

Is this intentional? To be honest, my sql-fu is pretty weak, so for all I know this is perfectly normal.

That combined with the fact that `collect` only marks a given ID visited after it has iterated thr

[2017-11-24 17:40] novabyte commented on #20254
@mberhault Even if it's bad schema design it should not cause the server to throw a stacktrace. This did not occur with an earlier version of the database server (1.0.6).

FWIW we use this schema design to support "linked leaderboards" which can represent a league system. Tiers which users transition between as they achieve high scores against segments of players in a league season.

[2017-11-24 17:45] mberhault commented on #20254
I agree, I was just wondering if we overlooked this scenario because it was unusual. Sounds pretty normal though.

The real culprit is the `collect` code, it's clear that any cycle will cause it to loop forever.

[2017-11-24 20:45] mberhault commented on #20254
Turns out just changing the `collect` function that way isn't good enough, it needs to respect dependency order.
I'll let @mjibson handle this.

FYI: I think the reason 1.0.x works (or at least doesn't crash) is that it doesn't handle references. It probably does the wrong thing when those exist though (it's just a guess, I don't know enough to say for sure).

[2017-11-25 03:59] wuguojun opened #20257 "mvcc: the get buffer do not need reset in the release function"
File: storage/engine/mvcc.go
Line number: 511

[2017-11-25 09:01] cockroach-teamcity commented on #20240
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=419316&tab=buildLog

[2017-11-25 11:40] cockroach-teamcity opened #20258 "sql/jobs: TestRegistryResumeExpiredLease failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=419465&tab=buildLog

[code]

[2017-11-25 13:44] cockroach-teamcity commented on #20240
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=419620&tab=buildLog

[2017-11-25 15:41] cockroach-teamcity opened #20259 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2"
The following tests appear to have failed:

[#419226](https://teamcity.cockroachdb.com/viewLog.html?buildId=419226):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-25 16:12] petermattis commented on #20257
@wuguojun Thanks for the interest in low-level performance. Can you elaborate on why you think the reset is not needed and what benefit there is to removing it? The reset ensures that we don't accidentally share data from one usage of the buffer to another. An alternative would be to reset in `newGetBuffer`, but the effect is the same. Removing the reset (if we could prove doing so is safe) would

[2017-11-25 16:26] amq commented on #17777
@petermattis I've noticed that CockroachDB performs best with `--rand-type=zipfian` distribution (good!), while Galera is best with the sysbench's default `--rand-type=special`. Both CockroachDB and Galera benefit heavily from multiple threads, even for writes, so these results are with `--threads=4`

[code]

| read_only TPS | special | pareto | zipfian |
|---------------|---------|--------|------

[2017-11-25 20:41] benesch opened #20261 "restore: cleanup is reliant on export storage availability"
At present, when a restore resumes, it downloads or re-downloads the backup descriptor from the export storage. This is obviously necessary on the initial resume, and reasonable enough on subsequent resumes: if you're modifying your backup while doing a restore, you're just asking for trouble.

If a restore is canceled or otherwise fails, we re-download the backup descriptor once more to determine

[2017-11-25 21:50] petermattis commented on #17777
I started taking a look at this issue. The first step is understanding what `sysbench` is doing. For the oltp tests, it creates N tables with the schema:

[code]

For `oltp_read_only`, transactions look like:

[code]

For `oltp_write_only`, transactions look like:

[code]

The individual statements in the transactions are sent serially.

[2017-11-26 00:36] tschottdorf commented on #20251
My expectation is that this is `crdb_internal.force_panic`. The error reporting will improve in 1.1.3 and should contain the creation of the error then.

[2017-11-26 01:44] mberhault commented on #20251
I'm not so sure. 1.1.3 `force_panic` has the following trace, from my testing of the 1.1.3 candidate sha (https://sentry.io/cockroach-labs/cockroachdb/issues/408302623/?referrer=slack)
[code]

[2017-11-26 01:45] mberhault commented on #20251
Or is the `builtins.go` line what you meant by "should contain the creation of the error"?

[2017-11-26 05:47] tschottdorf commented on #20251
Yep!

[2017-11-26 07:41] cockroach-teamcity commented on #18775
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=419796&tab=buildLog

[2017-11-26 07:41] cockroach-teamcity commented on #20236
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=419796&tab=buildLog

[2017-11-26 08:52] cockroach-teamcity commented on #20240
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=419857&tab=buildLog

[2017-11-26 11:37] amq commented on #17777
Just found out that it's possible to create a custom test with parallel execution: http://kaamos.me/talks/pl2017/#/slide-orgheadline23. Generally, those slides are a gold mine for getting to know sysbench.

[2017-11-26 11:45] ZiCog opened #20262 "sql: LIMIT and ORDER BY do not work in views"
I created a view like so:

    CREATE VIEW aview
    AS
        SELECT source_id, timestamp, value
        FROM   series_1
        WHERE  source_id = 9999
        ORDER  BY timestamp DESC
        LIMIT  10;

And use it in a query:

    SELECT *
    FROM   aview;

Problem: All rows in the table, rather than only the last 10 were returned.

Next I change the view definition to use a sub-select:

[2017-11-26 11:49] cockroach-teamcity commented on #19806
SHA: https://github.com/cockroachdb/cockroach/commits/0cd176ae8a552ed9284a159092279dd43d41afad

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=420023&tab=buildLog

[2017-11-26 12:55] #20251 closed

[2017-11-26 13:43] cockroach-teamcity commented on #20240
SHA: https://github.com/cockroachdb/cockroach/commits/76924649098b569c2fb865bca95f26675a5d4272

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=420161&tab=buildLog

[2017-11-26 15:28] cockroach-teamcity opened #20263 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2"
The following tests appear to have failed:

[#419775](https://teamcity.cockroachdb.com/viewLog.html?buildId=419775):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-26 17:11] #20200 closed

[2017-11-26 17:14] knz commented on #20100
yes something like that. But that is not an implementation plan! Let us know *how* you plan to proceed.

[2017-11-26 17:16] knz commented on #20240
This test cannot be run under stress, because of the sheer number of TCP connections it opens.
@benesch what do you recommend here? Any way to make this test excluded during stress?
@nvanbenschoten I recall you wanted to move it out to the linter, which would also solve the problem. Is that still a plan?

[2017-11-26 18:40] knz commented on #18506
Thanks I'm addressing this in #20264.

[2017-11-26 18:42] petermattis commented on #20240
You can use `testutils.NightlyStress()` to skip tests from being run under stress.

[2017-11-26 18:43] benesch commented on #20240
Yep, and also feel free to move it to pkg/testutils/lint.

On Sun, Nov 26, 2017 at 1:42 PM Peter Mattis <notifications@github.com>
wrote:

[2017-11-26 18:49] knz commented on #20240
done thanks

[2017-11-26 19:56] knz opened #20266 "sql: support AS OF SYSTEM TIME for entire transactions"
Requested by @tschottdorf in https://github.com/cockroachdb/cockroach/issues/20182#issuecomment-346197243:

[code]

(unsupported because one cannot use AS OF SYSTEM TIME in a txn that's already open)

Example alternative behavior: TiDB supports setting the time travel timestamp txn-wide, using a SET statement, [see here](https://pingcap.com/docs/op-guide/history-read/).

**Proposed solution:** ext

[2017-11-26 20:00] knz commented on #20182
@tschottdorf re https://github.com/cockroachdb/cockroach/issues/20182#issuecomment-346197243 I think that's a separate issue, I split it as #20266.

[2017-11-26 20:09] petermattis commented on #17777
@amq The numbers I'm seeing are quite different from what you're reporting. This could be due to machine differences or something else. It is probably worthwhile to remove docker as a variable (I'm running cockroach directly). The numbers I'm reporting below are from Cockroach master (0cd176ae8a552ed9284a159092279dd43d41afad) while you're using 1.1.2, but it is very unlikely that could account for

[2017-11-26 21:02] andreimatei commented on #20266
Well, if a transaction has such a timestamp set, would it be readonly (and we'd enforce that)? Or what timestamps would we accept?
And what about uncertainty restarts - would these be allowed or not (they're not for the current AOST queries)?

[2017-11-26 21:18] knz commented on #20266
I wouldn't do anything we don't already do for AOST. That includes:

- continuing to exclude write statements
- continuing to refuse uncertainty restarts

what do you think?

[2017-11-26 22:51] jseldess commented on #9897
FWIW, ran into this when using CockroachDB as the backend for the standard Django tutorial: https://docs.djangoproject.com/en/1.11/intro/tutorial02/#database-setup

[2017-11-27 03:12] s1gu opened #20269 "ERROR: cockroach server exited with error: failed to create engines: could not open rocksdb instance: Corruption: Can't access /000488.sst: IO error: /cockroach/cockroach-data/000488.sst: No such file or directory * Can't access /000483.sst: IO error: /cockroach/cockroach-data/000483.sst: No such file or directory"
Is this a question, feature request, or bug report?

**QUESTION**

Have you checked our documentation at https://cockroachlabs.com/docs/stable/? If you could not find an answer there, please consider asking your question in our community forum at https://forum.cockroachlabs.com/, as it would benefit other members of our community.

Prefer live chat? Message our engineers on our Gitter channel at h

[2017-11-27 03:21] jjzazuet commented on #15760
Hi, I'm also interested in seeing if the way to deploy/maintain/rotate certificates has changed. Thanks!

[2017-11-27 04:21] dianasaur323 commented on #20249
@jensneuse Thanks for the feature request. We are currently planning for the next release, so I'll update this issue once we decide how to prioritize this.

That being said, is there a reason why you don't want to just use CockroachDB for both of these use cases? Secondly, what is your opinion on supporting some form of streaming replication set up?

[2017-11-27 04:34] dianasaur323 commented on #20221
We are actually removing that cluster summary view in favor of another view going into the 1.2, but we'll think of something to address this issue in that view.

[2017-11-27 04:41] dianasaur323 commented on #20239
Hmm... I could have sworn that we had an open issue for this, but I can't seem to find it. Others have requested it, but it hasn't formally made it onto a roadmap. Thanks for submitting! We'll leave this issue open to track the request.

[2017-11-27 05:00] dianasaur323 commented on #2656
@andrew-bickerton Thanks for the feedback! It would be great to catch up offline to run our current thoughts around implementation by you. What would be the best way to connect? I'm a bit curious to hear what trade-offs you've made with your existing architecture.

Regarding tracking changes on a leader basis, things get complicated once transactions run across multiple ranges that might have diff

[2017-11-27 05:43] louishust commented on #19968
@mjibson  the cluster have been cleaned up, you can use sysbench to load data to repeat the bug

[2017-11-27 07:52] jensneuse commented on #20249
@dianasaur323 Thanks for getting back. I'm looking forward to hearing from you about your release planning.

In regard to your questions, yes there are reasons why we don't want to use crdb as source of truth. Our CMS requires some complex querying (e.g. full text search) on a few million rows. We try to not rely on non transactional db systems like Elasticsearch. I saw that someone mentioned full

[2017-11-27 08:50] sydnever commented on #20100
@knz

In lego's example

[code]

1. I may make a `typedExpr` called `N` as a filter which looks like

[code]
2.  There are two way to do:

In [opt_filter.go#L541](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/opt_filters.go#L541), I may change the return `result` of the `expandOnCond` by

[code]

Or

In [opt_filter.go#L681](https://github.com/cockroachdb/cockroach/blob/master/pkg/sq

[2017-11-27 09:20] cockroach-teamcity commented on #20240
SHA: https://github.com/cockroachdb/cockroach/commits/914b7130b03306a859ba16c7d37d35262a04d83b

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=420529&tab=buildLog

[2017-11-27 10:38] knz commented on #20182
@tschottdorf I think I may have a temporary workaround until we have a solution for #20266.

I'm assuming you have a library/ORM which gives you a separate API for transactions. For example something like this:

[code]

IF you have something like that, then you can do what you want above like this:

[code]

would something like that work for you?

[2017-11-27 10:40] #20240 closed

[2017-11-27 12:07] RaduBerinde commented on #20237
Agreed, any "not-null" filters should be trimmed according to non-nullable columns (which we do keep track of).

[2017-11-27 13:16] mberhault commented on #20269
Could you fill in the bug report please, including versions, provided flags, configuration, etc... Pasting an error into the title is not very helpful.

As is, it looks like something went wrong with the files on disk. was anything other than `cockroach start` run? What type of disk is this on? etc..

[2017-11-27 13:20] mberhault commented on #20262
Fix under review in https://github.com/cockroachdb/cockroach/pull/20246

[2017-11-27 13:34] cockroach-teamcity commented on #18711
SHA: https://github.com/cockroachdb/cockroach/commits/c01abcd8cac563b08dc365bf495a0154a18e2ef0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=420772&tab=buildLog

[2017-11-27 13:34] cockroach-teamcity commented on #18934
SHA: https://github.com/cockroachdb/cockroach/commits/c01abcd8cac563b08dc365bf495a0154a18e2ef0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=420772&tab=buildLog

[2017-11-27 13:47] adamyaoqinglin commented on #20100
@sydnever , I am also looking into this issue.
In my opinion, changing the **result** of the **expandOnCond** may be better.
The implementation can be:
1. loops all the **left/rightEqualityIndices** to construct sqls(IsNot ComparisonExpression) which indicates fetching none-null values(columns)

2. There are three situations: Inner Join, Left Outer Join, Right Outer Join.

For Inner Join, both lef

[2017-11-27 14:27] RaduBerinde commented on #20100
I think a more comprehensive fix (which would add these constraints in more situations, and wouldn't require join-specific code) would be to make `splitFilter` convert something like `a = b` into `a IS NOT NULL` when we restrict the filter on `a` (currently, we just ignore the entire constraint). I believe that any comparison op that has a variable as an argument implies that it is not-null.

[2017-11-27 15:11] dianasaur323 commented on #20249
@jensneuse Got it, thanks for your feedback on foreign data wrappers. I haven't spent too much time looking into it yet, although I've been told by others that this could also help with users trying to migrate from other databases to CockroachDB as well. I'll look into it further. For my knowledge, how large do you anticipate your transactions to be when updating CRDB with denormalized data (how m

[2017-11-27 15:24] jordanlewis commented on #20249
@jensneuse we already support `timezone` and `datestyle` - we're missing only `intervalstyle`. It should be pretty straightforward to add this, but I wouldn't be surprised if there's more work to do after that is added.

[2017-11-27 15:30] jensneuse commented on #20249
@jordanlewis You are right but this doesn't resolve the problem. The problem is the syntax. Crdb expects 'time zone' whereas postgres fdw tries to connect using 'timezone'. Maybe you're right and the complex part begins when these sql statements go through.

@dianasaur323  I expect to batch update a few hundred rows.

[2017-11-27 15:33] jordanlewis opened #20271 "sql: support no-op WORK/TRANSACTION modifiers on ABORT"
See https://www.postgresql.org/docs/8.2/static/sql-abort.html

Some clients apparently like to put these no-op modifiers on abort, we should support them. Needed by #20249.

[2017-11-27 15:34] jordanlewis commented on #20271
Oh we don't support ABORT either. It's a synonym for ROLLBACK.

[2017-11-27 15:39] jseldess commented on #20259
Duplicate of 20253

[2017-11-27 15:39] #20259 closed

[2017-11-27 15:41] jseldess commented on #20263
Duplicate of https://github.com/cockroachdb/cockroach/issues/20253.

[2017-11-27 15:41] #20263 closed

[2017-11-27 15:42] jseldess commented on #20243
Duplicate of #20253.

[2017-11-27 15:42] #20243 closed

[2017-11-27 15:42] jseldess commented on #20224
Duplicate of #20253.

[2017-11-27 15:42] #20224 closed

[2017-11-27 15:44] jseldess commented on #20250
cc: @dianasaur323 or @awoods187

[2017-11-27 15:53] jordanlewis commented on #20249
We'll probably have to write our own foreign data wrapper. The default Postgres one uses PL/pgSQL cursors (`DECLARE CURSOR FOR`) which we won't support anytime soon.

[2017-11-27 15:57] mberhault opened #20272 "release v1.2-alpha.20171204"
Candidate SHA: 224e8607c1dbc8b3aeadd3a89254c0ec917a8bf8
Deployment status: `adriatic`, `omega`

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: `2017-11-27`
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/Release-Process#pick-sha), fill in `Candidate SHA` above.
- [x] [Deploy to test clusters](https://github.com/cockroachdb/co

[2017-11-27 16:04] jordanlewis commented on #20249
Although @jensneuse if you don't need `SELECT` on the remote server it should work okay.

[2017-11-27 16:09] andreimatei commented on #20266
Well, but how would you do that for a transaction?
I'm not particularly against anything here, but I personally would be reticent into putting too much effort and/or code into this. FWIW, Tobi's original request came from a combination of a contrived API that he was using (gorm) and a bug with SHOW TRACE FOR, not too mention that the whole thing he was doing proved to be a wild goose chase.

[2017-11-27 16:15] mberhault commented on #20176
Filed https://github.com/cockroachdb/cockroach/issues/20272 for next alpha.

[2017-11-27 16:45] amq commented on #17777
We can also remove the machine as a variable by using AWS with the exact same instance type, storage and AMI. It won't be 100% perfect because of a noisy environment, but even fluctuations of 20% won't make a difference in the whole picture.

The next tests were performed on:

|              |              |
|--------------|--------------|
| type         | r4.xlarge    |
| virtualization        |

[2017-11-27 16:48] dianasaur323 commented on #20249
@jensneuse Gotcha, that size of update shouldn't be a problem. Thanks!

[2017-11-27 16:50] andreimatei commented on #16535
What should happen to this TODO calling out to this issue in light of this issue having been resolved?

https://github.com/cockroachdb/cockroach/blob/1f37eee5ea928d2198af9d54db7b9d5998882412/pkg/sql/group.go#L553

[2017-11-27 17:03] jseldess commented on #20253
Assigning you this and another jespen-related test failure, since I hear from @knz that your the best person. Please reassign if that's not the case.

[2017-11-27 17:03] #18342 closed

[2017-11-27 17:03] jseldess commented on #20197
@bdarnell, assigning you this test failure, since I hear from @knz that your the best person. Please reassign if that's not the case.

[2017-11-27 17:04] RaduBerinde commented on #16535
@andreimatei I think that "if" can be removed.

[2017-11-27 17:19] #18506 closed

[2017-11-27 17:35] petermattis commented on #20196
Duplicate of #20195.

[2017-11-27 17:35] #20196 closed

[2017-11-27 17:37] knz commented on #20266
How to do -- like we already allow setting the priority and isolation level with SET, as long as it's the first statement after BEGIN (or as options on the BEGIN statement itself).

[2017-11-27 17:39] petermattis commented on #20195
I can produce a failure running `make stressrace PKG=./sql/tests/ TESTS=TestMonotonicInserts/distsql=off STRESSFLAGS="-maxfails 1 -stderr -p 16"`:

[code]

This is a different failure from what CI experienced:

[code]

I'm currently thinking that this is a spurious failure that occurs during test shutdown.

[2017-11-27 17:40] andreimatei commented on #20266
But what I'm saying is that we don't have code to make a txn read-only, for example.

[2017-11-27 17:43] knz commented on #20266
woah, actually yes you're right, and probably there's even a bug with the form we already support. looking into it.

[2017-11-27 18:39] tschottdorf commented on #19924
Closing for #16489.

[2017-11-27 18:39] #19924 closed

[2017-11-27 18:39] tschottdorf commented on #16489
Also: time out after trying for a while.

[2017-11-27 19:10] dt opened #20279 "addsstable: try adding fsync of smaller chunks more often"
From in-person discussion with @petermattis: we've observed that sending very large writes to disk all at once can cause smaller writes to see large latency spikes. Forcing those larger writes to fsync more often as they go may help prevent choking out those smaller writes, and improve issues eg. with node liveness.

[2017-11-27 19:20] dt commented on #20279
cc @mjibson @a-robinson

[2017-11-27 19:54] petermattis commented on #20279
Per our in-person discussion, we should probably be fsync'ing every 256KB-1MB of data written.

[2017-11-27 20:06] a-robinson commented on #20279
I've tried setting `options.bytes_per_sync` to both 256KiB and 4MiB when running [my test program](https://github.com/a-robinson/cockroach/blob/diskcontention/pkg/cmd/diskcontention/main.go) from https://github.com/cockroachdb/cockroach/issues/19699#issuecomment-342947639 that does bulk writes against one rocksdb instance and small syncs against another. I didn't measure the bulk write throughput/

[2017-11-27 20:10] mberhault commented on #20254
The fix to the infinite loop is in and will made it into 1.1.4.

However, I don't think dump will work for the schema referenced above.

[2017-11-27 20:26] petermattis commented on #19699
And you see this with `bytes_per_sync` set to some small-ish value? One thing I've looked at is `grep Dirty /proc/meminfo`. As long as that value stayed reasonable, small writes went through in a reasonable time frame. If you see the dirty pages increasing during your testing with `bytes_per_sync` then we need to track down where the dirty bytes are coming from.

[2017-11-27 20:41] #20182 closed

[2017-11-27 21:02] arjunravinarayan commented on #20068
cc @andreimatei and @tschottdorf who are working on a scheme to enable this (#20080). This is unlikely to be done in the 1.2 timeframe, given the scope of work required to enable filtering at the KV layer.

[2017-11-27 22:08] arjunravinarayan commented on #10432
We also have to investigate and add tests when considering the treatment of NULLs, as raised by #20090.

[2017-11-27 22:13] arjunravinarayan commented on #17858
More ongoing work, in particular, #19951.

[2017-11-27 22:14] arjunravinarayan commented on #17858
Assigning @asubiotto since he's actively working on this. I think this is closeable when #20088 merges, as we've done a lot of other testing on this as well.

[2017-11-27 22:17] arjunravinarayan commented on #20078
I think we can close this issue, given that we've tracked it down to the following conclusions:

1. The extra memory is created only when Cockroach is explicitly put into modes that ask it to use a lot of memory for query processing, and the features that mitigate memory usage (namely DistSQL and external storage) are turned off.
2. The memory usage is released when there is memory pressure on the

[2017-11-27 22:28] #20085 closed

[2017-11-27 22:55] arjunravinarayan commented on #20080
Upon further investigation, NativeJIT appears to have no recent commit progress, with known bugs that will not be fixed. It is also unclear if LLVM is in fact slower, given its endless customizability (e.g. we could disable optimization passes that we can rule out since we have a fairly limited program domain).

I think we should proceed with LLVM for now, although I'm doing some additional resear

[2017-11-27 23:09] lego opened #20294 "sql: Add guides for working with sql.y"
We can definitely improve the developer experience of editing `sql.y`. In particular, adding new statements. Even if it's just a small bit of documentation that mentions these are the places you add tokens, statements, and the interface you implement. Is there an appropriate place for this documentation?

(This also generalizes outside of `sql.y` for adding new column types, making it easier to in

[2017-11-27 23:19] cockroach-teamcity opened #20295 "teamcity: failed tests on release-1.1: testrace/TestLogic, testrace/TestLogic/distsql, testrace/TestLogic/distsql/alter_table"
The following tests appear to have failed:

[#421786](https://teamcity.cockroachdb.com/viewLog.html?buildId=421786):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-28 01:14] petermattis commented on #19699
Perhaps `bytes_per_sync` isn't being used on some code path within RocksDB. If you provide reproduction instructions, I can help track it down.

[2017-11-28 01:15] petermattis commented on #19699
Also, given the badness of sizeof dirty pages on Linux, perhaps we should add a metric for `/proc/meminfo:Dirty`.

[2017-11-28 01:43] petermattis commented on #20078
No objections from me.

[2017-11-28 02:17] sydnever commented on #20100
@RaduBerinde Sorry, could you give me some queries as demos to make me get it? In my opinion, what you said  may not do optimzation actually.

[2017-11-28 02:29] donpdonp opened #20296 "Feature: support pg_dump"
**FEATURE REQUEST**

One big plus for trying cockroachdb was its compatibilty with postgres. I assumed pg_dump would work, instead it errors out.

[code]

I've also tried 'cockroachdb dump > out.sql' but the SQL is not postgres compatible. `id STRING(128)` for example. I hand edited the schema to try and get this route to work, but loading the data itself hits schema constraints since a foreign ke

[2017-11-28 02:51] lego commented on #20100
@sydnever the query I mentioned in the first issue comment will have this optimization. Going into more details with the example, given the schema and values:

[code]

If we do the query

[code]

The results will just be

[code]

By doing what @RaduBerinde mentioned, `splitFilter` will take the filter `L.k = R.k` and also generate the filter conditions `L IS NOT NULL` and `R IS NOT NULL`. That is

[2017-11-28 02:52] tschottdorf commented on #20080
Some more reading:

- [JIT-Compiling SQL Queries in PostgreSQL Using LLVM](https://www.pgcon.org/2017/schedule/events/1092.en.html)
- https://www.slideshare.net/MemSQL/putting-compilers-to-work (notable because [memsql does he llvm thing too](http://blog.memsql.com/memsql-5-ships/))
- http://engineering.pivotal.io/post/codegen-gpdb-qx/

BTW, my branch is here:
 https://github.com/cockroachdb/cockr

[2017-11-28 03:02] sydnever commented on #20100
@lego Yeah，I got what you say. But @RaduBerinde mentioned `more situations` (not only in `join`) which made me confused. What I really need are queries in `more situations`.

Thank you all the same! :)

[2017-11-28 03:03] adamyaoqinglin commented on #20100
@lego  We can consider another situation.

`SELECT SELECT *
FROM
  t1 AS L
INNER JOIN
  t1 AS R
USING k`

If we code in `splitFilter `, we can not, during query optimization,  transforms the query into
`SELECT *
FROM
  (SELECT * FROM t1 WHERE k IS NOT NULL) AS L
INNER JOIN
  (SELECT * FROM t1 WHERE k IS NOT NULL) AS R
  ON L.k = R.k AND L.k`

[2017-11-28 03:38] RaduBerinde commented on #20100
@adamyaoqinglin true, we may need a bit of special code for `USING` and `NATURAL` joins.

@sydnever one situation I can think of is index join (admittedly, it's still a join but it's different code). We use splitFilter to evaluate whatever we can from the filter on the (non-covering) index. Here's an example:

[code]
Note the spans ALL; the spans would skip NULLs if we propagated `b IS NOT NULL` t

[2017-11-28 03:47] #20078 closed

[2017-11-28 03:57] sydnever commented on #20100
@RaduBerinde thank you, I got it.

[2017-11-28 04:01] #20271 closed

[2017-11-28 04:09] tschottdorf commented on #20080
actually, @apavlo's [slides on query compilation from 15-721](http://15721.courses.cs.cmu.edu/spring2016/slides/19.pdf) are really helpful and have relevant bibliography.

[2017-11-28 04:13] tschottdorf commented on #20080
and http://highscalability.com/blog/2016/9/7/code-generation-the-inner-sanctum-of-database-performance.html has some detail on how this works in memsql.

[2017-11-28 04:18] cockroach-teamcity opened #20297 "teamcity: failed tests on master: testrace/TestMonotonicInserts, testrace/TestMonotonicInserts/distsql=off"
The following tests appear to have failed:

[#421850](https://teamcity.cockroachdb.com/viewLog.html?buildId=421850):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-28 06:04] jordanlewis opened #20298 "sql: lazy evaluation of subqueries during comparisons"
Subqueries on the right side of IN/ANY/SOME/ALL comparisons are fully executed and their results buffered into memory before the comparisons begin.

This is undesirable in the case of large subqueries. Take a look at the following contrived scenario:

[code]

This query takes 700ms to return on my machine, since it has to buffer up the result of the inner subquery into a tuple `Datum` before start

[2017-11-28 06:49] adamyaoqinglin commented on #20100
@RaduBerinde

One exception can be if the query contains left join, it should not push down the leftNotNullValue.
Example:

[code]

Thus, maybe we can split this issue into two issues.
First, push down `on` `equality` related not null.
Second, push down `on` comparisonExpr excluded `equality ` and `Is/IsNot`

[2017-11-28 06:52] sydnever commented on #20100
@RaduBerinde @lego  I have made some tests.
[code]
[code]
[code]

Then we can see:

[code]
In this query, the filter `L.k = R.k` will not be taken by `splitFilter`.
[code]
In this query, the filter `L.k > R.k` will.

And someting interesting:

`on 1=1` will not.
`on 1>1` will.

So I don't think `splitFilter` is a good point to make something we want.

[2017-11-28 08:54] yuhit commented on #19111
@nvanbenschoten @prashcr I noticed that `Is` and `IsNot` have been normalized to
[code]
and have done something for `Is/IsNot` NULL in index selection and evaluation.
I am not clear why Is/IsNot need normalized to `IsDistinctFrom/IsNotDistinctFrom` in this issue when index selection logic is lacking in certain cases for the `IS (NOT) DISTINCT FROM` expressions.

[2017-11-28 09:03] knz commented on #20080
Folk it's not so clear to me that native code generation is the right way to go *at this time*.
The engineering expense is simply very large, and we'd have to create a new methodology to investigate problems.

What do you think about starting with a bytecode-based solution for now? With a C++ interpreter? There are several advantages:

- it sets up the scene for compilation later
- it postpones th

[2017-11-28 09:15] knz commented on #20294
Yes there is a codelab in the docs/ directory. This needs to be updated in light of the recent code shuffling, but it's the place to explain these things.

[2017-11-28 11:09] adamyaoqinglin commented on #20100
@RaduBerinde
The question is:

I notice that the `Walk` only execute functions on `Variables`(maybe it is the leaf?).
If added not null constraint using `splitFilter `, the following situation is difficult to implement.

[code]

As the previous discussion, the optimized query would be

[code]

[2017-11-28 11:38] gpaul commented on #19165
@m-schneider I am trying to replicate this issue on v1.0.6.

I've tried a couple of different strategies but have yet to succeed. Would you mind providing the exact steps you used to reproduce?

[2017-11-28 12:16] cockroach-teamcity commented on #20258
SHA: https://github.com/cockroachdb/cockroach/commits/2c1b5ec92fc9e055d2c81d6fd7405d9130baf156

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=422121&tab=buildLog

[2017-11-28 12:19] apavlo commented on #20080
@knz is correct. Switching to a compilation based engine is a major undertaking. Using the LLVM makes it very difficult to debug (you don't get stack traces) and thus it makes difficult to find people to work on your system and contribute. You also need to build a (transactional) caching layer for compiled plans to minimize the compilation overhead.

You are free to use our codegen engine in the f

[2017-11-28 13:01] RaduBerinde commented on #20294
Oh, that codelab is pretty good. Maybe we should add a pointer to it at the top of `sql.y`.

[2017-11-28 13:13] RaduBerinde commented on #20100
@sydnever We probably remove the equality constraints that get converted to equality columns; so we would need to push down not-null constraints (as was pointed out above that we should for `USING` and `NATURAL JOIN`).

@adamyaoqinglin The Walk is called on every AST node. Regarding your example - first of all, `L.k IS NULL` would be passed through `splitFilter` to the left side unmodified because

[2017-11-28 14:39] jordanlewis commented on #20298
cc @knz @justinj for thoughts

[2017-11-28 14:47] mberhault commented on #20269
Could you fill out this issue with the requested details please.

[2017-11-28 14:47] jordanlewis commented on #20296
Looks like `pg_is_in_recovery` has been around since the beginning of the 9.0 series at least, so it's likely that `pg_dump` has never worked - I don't think we've ever tried it.

I don't think supporting `pg_dump` is a particularly high priority for us - better would likely be to improve `cockroach dump` so it orders its output based on a topological sorting of the tables with respect to their co

[2017-11-28 14:56] petermattis commented on #20298
Should this be tackled at query planning time? Your sample query can be transformed to:

[code]

And from there we could possibly push the `x = 1` filter down onto the `generate_series` and make the query take constant time. Interestingly, even that initial transform is much faster as it avoids buffering the subquery:

[code]

vs

[code]

The example is a bit artificial, though. Do you have a prac

[2017-11-28 14:59] jseldess commented on #20296
cc @dianasaur323, @awoods187

[2017-11-28 15:06] jordanlewis commented on #20298
Yeah, it's possible that we could always get something to be done at planning time. I'm not sure though. In general, any subquery that returns a large number of rows will be subject to this problem. I'm sure we can think of something, right? Surely there are realistic queries with subqueries that always have to return a lot of rows.

[2017-11-28 15:07] dianasaur323 commented on #20296
Hi @donpdonp, thanks for the feature request! I'm in agreement with @jordanlewis that we should focus more on improving cockroach dump to output PostgreSQL compatible formats. One possibility is to disable constraint checking in PostgreSQL before loading the data in, but it looks like they don't have a very user friendly configuration toggle for that.

If we were able to do a better job of pushing

[2017-11-28 15:09] knz commented on #20298
I'm siding with Peter on this. We shouldn't invest to optimize the infrastructure around subqueries  at this time, given how much we will change logical planning in the coming few months.

[2017-11-28 15:10] knz commented on #20298
I do agree something needs to be done though, but I believe we'll reap 80% of the performance gains with a plan transformation, instead of "lazy evaluation".

[2017-11-28 15:14] a-robinson commented on #19699
Reproduction instructions:

1. Check out https://github.com/a-robinson/cockroach/tree/diskcontention2
1. Build: `make build BUILDTARGET=./pkg/cmd/diskcontention/`
1. Run the resulting binary without any command line flags from a directory that's on a local SSD

[2017-11-28 15:16] tschottdorf commented on #20080
@knz @apavlo apologies, I should have been more clear in the intent from the beginning. My goal (personally) is not to actually try to build this beyond a prototype, but to dip my toes into LLVM (and codegen in general) and hopefully emerge with some demo elicits a "you did what?!" response (looks like that box is already checked 😄 )

Beyond that experiment, I'm definitely interested in a reasonab

[2017-11-28 15:16] jordanlewis commented on #20296
For future reference, here's `pg_dump`'s source code: https://github.com/postgres/postgres/blob/master/src/bin/pg_dump/pg_dump.c#L1061

Looks like it uses quite a few advanced features that we don't support yet.

- `set synchronize_seqscans TO off`
- `set statement_timeout = 0`
- `set lock_timeout = 0`
- `set idle_in_transaction_session_timeout = 0`
- `SET quote_all_identifiers = true`
- `SET row_

[2017-11-28 15:21] justinj commented on #20298
In addition I think there's some additional complexity here in the interaction with the `[...]` insert/update syntax, in which we can't really do things lazily:
[code]

[2017-11-28 15:23] jordanlewis commented on #20298
Seems somewhat reasonable.

I believe that this optimization will be a lot simpler than the kind of transformations you're proposing. If we had a good reason to try to optimize large subqueries, I would vote for doing this as a first cut before some more fancy transformation that might not even work in all cases. However, it's not clear that there's a need for this work yet.

Also I'm not sure why

[2017-11-28 15:31] knz commented on #20298
It sounds like lazy evaluation except it wouldn't be lazy in all cases - when planning for distributed execution, we'd need to evaluate them all upfront so the evaluation would then be strict.

What I'd like to recommend is to start by applying the "leaf data" pattern to subqueries as a first step, then perhaps consider indeed delaying the evaluation until either distsql physical planning, or actu

[2017-11-28 15:33] tschottdorf commented on #19523
Done by @dsaveliev in #19634!

[2017-11-28 15:33] #19523 closed

[2017-11-28 15:57] a-robinson commented on #19699
To sanity check that it wasn't an issue with my mount flags or VM kernel settings, I ran this [simple program](https://gist.github.com/a-robinson/8f35afbcefa6fc23367b2420220c9965) to make sure fsync is doing what I expect.  It is doing what I expect on all three GCE disk types (pd-standard, pd-ssd, local-ssd) -- before calling fsync, there are a bunch of dirty bytes; after calling fsync, there are

[2017-11-28 16:00] a-robinson commented on #19699
I've also been confirming along the way that the OPTIONS file rocksdb creates has the desired options in it, so they are being set as I intend.

[2017-11-28 16:04] couchand opened #20302 "ui: upgrade typescript"
When looking deeper into #20289, I saw that the issue would have been caught by typescript >= 2.4, but we're still on 2.3.  A cursory check on upgrading found a few dozen errors, so there will be a bit of effort involved in cleaning those up.  Some of them will just require upgrading DefinitelyTyped dependencies, but most of them are within our code.  It looks like those are split between actual i

[2017-11-28 16:05] mberhault commented on #2939
This is marked as "future improvement" for [role-based access control](https://github.com/cockroachdb/cockroach/pull/20149)

[2017-11-28 16:06] mberhault commented on #2939
CC: @awoods187

[2017-11-28 16:24] jseldess opened #20303 "*log.safeError: replica.go:1717: on-disk and in-memory state diverged: [TruncatedState.Index: 121 != 521]"
https://sentry.io/cockroach-labs/cockroachdb/issues/410664733/

[code]

[2017-11-28 16:29] jseldess commented on #20303
@tschottdorf, this error is from a cluster running v1.1.2. Assigning to you, at Peter's suggestion.

[2017-11-28 16:31] jseldess opened #20304 "*log.safeError: stopper.go:179: *runtime.TypeAssertionError: interface conversion: interface {} is nil, not bool"
https://sentry.io/cockroach-labs/cockroachdb/issues/410586007/

[code]

[2017-11-28 16:38] mjibson commented on #20296
What version of the cockroach client are you using when you run `cockroach dump`? As of 1.1 it should output tables in an order that supports foreign keys (except for self references, which may or may not work).

I think it makes sense to attempt to support more interop between cockroach dump and pg_dump (in both directions), but it's unclear what form that will take. It could mean supporting more

[2017-11-28 16:38] BramGruneir opened #20305 "sql: Composite Foreign Key Matching"
Here is a rundown of the three type of composite foreign key matching:

* `MATCH FULL` considers a foreign key as valid if every foreign key column is
  null or if all foreign key columns are not null and match the referenced
  table.
* `MATCH PARTIAL` is valid if at least one Foreign key column is null and the
  rest of the not null columns match those of the referenced tables or all
  foreign ke

[2017-11-28 16:48] petermattis commented on #19699
From offline discussion: `bytes_per_sync` affects `WritableFileWriter::Flush()`. But `BlockBasedTableWriter` never calls `Flush()` AFAICT. `SstFileWriter::Finish()` does call `WritableFileWriter::Sync()`, but that sync occurs after the entire sst has been written (possibly 128MB).

I think we can add a call to `r->file->Flush()` to the end of `BlockBasedTableWriter::WriteRawBlock()`.

[2017-11-28 16:59] vivekmenezes commented on #20305
Why does this need a migration? We currently default to MATCH FULL. We can change that default to MATCH SIMPLE. Will that affect anyone's existing data?

[2017-11-28 17:25] solongordon commented on #20304
This looks like it's from my in-progress PR: https://github.com/cockroachdb/cockroach/pull/20163. It'll be fixed in the next revision.

[2017-11-28 17:25] #20304 closed

[2017-11-28 17:35] BramGruneir commented on #20305
It might.  It could mean the difference between allowing a delete/update operation or not.

Changing the matching scheme out from under someone seems like a pretty poor thing to do.

[2017-11-28 17:43] vivekmenezes commented on #20305
It's pretty subtle but we're committing to postgres compatibility as much as possible so now's a good time to fix this. Looks like MATCH_SIMPLE is going to allow more matches. Any strong reason to not fix this now?

[2017-11-28 17:52] BramGruneir commented on #20305
Just that for everything we do change, something else gets pushed.  But I'll leave the planning and prioritizing to the PMs.  If anything, I think it should wait until the cascading features are complete.

[2017-11-28 17:57] BramGruneir commented on #20305
@dt Any comments on this?  I know you looked into it before.

[2017-11-28 17:59] BramGruneir commented on #20305
I do think this would be a good starter project to be honest.

[2017-11-28 18:47] a-robinson commented on #19699
Two pieces of bad news:

1. Adding calls to `r->file->Flush()` in `BlockBasedTableWriter::WriteRawBlock()` does not prevent the growth of dirty bytes into the hundreds of megabytes.
2. I set `sysctl vm.dirty_bytes=$[4 * 1024 * 1024]` and `sysctl vm.dirty_background_bytes=$[1 * 1024 * 1024]` after the above experiment had been running for a while and clearly wasn't working out great. It did create

[2017-11-28 18:54] petermattis commented on #19699
Huh. Either the dirty data must be coming from somewhere else, or `WritableFileWriter::Flush` isn't doing the right thing. I suppose you can start sprinkling calls to `WritableFileWriter::Sync`.

[2017-11-28 19:01] petermattis commented on #19699
There are stats about L0 compaction stalls. This suspicion seems reasonable, but it should be verified.

[2017-11-28 19:18] andreimatei commented on #20003
The next 1.1 release will have a `--extra-1.0-compatibility` flag which makes 1.1 nodes able to accept queries planned on 1.0 gateways. This should help with upgrades, with the caveat that the flag will not be present in 1.2.

[2017-11-28 19:18] #20003 closed

[2017-11-28 19:38] nvanbenschoten commented on #19111
@yuhit What you said about

is exactly the problem here. Right now we do our best to normalize away from `Is/IsNot` wherever possible to allow us to take advantage of improved index selection rules. We also have logic in index selection for `Is/IsNot NULL`. But none of these rules apply to `IsDistinctFrom/IsNotDistinctFrom` at the moment!

 Since `IsDistinctFrom/IsNotDistinctFrom` is just a more g

[2017-11-28 20:11] lego commented on #18847
Hey @jkominek, Checking in to see if you've made any progress. If you're no longer able to work on this, that's a-okay!

[2017-11-28 20:17] a-robinson commented on #17370
Any updates, @dfawley?

[2017-11-28 20:24] mrtracy opened #20310 "server: Verify correct usage of COCKROACH_METRICS_SAMPLE_INTERVAL"
One of the command-line settings for CockroachDB is COCKROACH_METRICS_SAMPLE_INTERVAL, which determines the frequency that cockroach gathers metrics.  However, this setting is very old and is being used in several different places, and in some places may create confusion.  Example of some problems:

+ The setting is a command-line setting, meaning it is set per-machine rather than per cluster.
+ I

[2017-11-28 20:27] andreimatei commented on #20080
I did not feel ready to have this conversations, but the conversation is upon us, so here's my current thoughts:
My personal interest in this area is 3-fold:
- do efficient filtering. This is based on a hunch that, for large scans with selective filters, a lot of time is spent directly and indirectly on a) filter evaluation and b) moving data around through the C++ -> Go interface.
- avoid a proli

[2017-11-28 20:31] nvanbenschoten opened #20311 "cli/config: create blacklist of known buggy configurations"
As more developers try out CockroachDB, we're inevitably going to run into issues where interactions with specific configurations are broken. The configurations may be certain cloud providers, certain operating systems, certain virtualizations, certain network stacks, or any number of other variables outside of Cockroach's control. We've already seen examples of this kind of issue.

While debuggin

[2017-11-28 20:45] arjunravinarayan commented on #20119
Hi @debraj-manna, we were away on holiday the past week for thanksgiving. I'm picking this up again, sorry for keeping you waiting.

It sounds like postgres is able to do push down the filters to rapidly eliminate a large class of rows (the bitmap heap scan) right on the first scan, whereas Cockroach doesn't do that (yet). It's not going to be fixed any time soon, but you could consider restructur

[2017-11-28 20:46] dfawley commented on #17370
Yes, I have some info I can share.  We made some optimizations in the write path to make it significantly faster, but Go scheduling behavior actually made the resulting overall RPC performance _worse_.  We are fairly confident the issue is that all streams are blocking on the same channel to do flow control checking, which results in those goroutines being scheduled in the same thread, and makes b

[2017-11-28 21:03] gpaul commented on #20003
Thanks!

[2017-11-28 21:12] tschottdorf commented on #16489
In my opinion, we should fold `node ls` into `node status`  (the former already
completely calls into the latter internally). Then, we should make `node status`
resilient. By that, I mean the following:

1. no matter the state of the cluster, have at least the information from Gossip exposable. The sources of information here are
    - node addrs+descriptor (`gossip.KeyNodeIDPrefix -> roachpb.Node

[2017-11-28 21:16] m-schneider commented on #19165
In order to reproduce, bring up a cluster with 3 or more nodes. Leave it
running for an hour with a load generator writing to every node. Then bring
down one of the nodes for 10 minutes at a time and you should see latencies
on the other ones going up when you bring it back up. I had a cron job that
killed the node on the 00, 20 and 40 of every hour and brought it back up
on the 10s, 30s, and 50s.

[2017-11-28 21:26] arjunravinarayan commented on #20080
I strongly endorse @andreimatei's view.

[2017-11-28 21:40] a-robinson commented on #19699
It appears as though the main cause of the large stoppages was our background thread settings, not the dirty bytes. I've changed from calling `options.IncreaseParallelism(std::max(db_opts.num_cpu, 2));` to setting `options.max_background_jobs = std::max(db_opts.num_cpu, 2);` and the stalls appear to have completely gone away, with no periods of 0 syncs and the `rocksdb.stall.micros` stat value at

[2017-11-28 21:40] a-robinson commented on #19699
@petermattis This settings change would likely also help us when external processes are using the disk

[2017-11-28 21:46] couchand opened #20314 "ui: use classnames everywhere"
There are a lot of places in our codebase that we're conditionally concatenating strings together to make the class of some element.  A handful of them already use `classnames` but most don't.  We should use that everywhere.

[2017-11-28 21:49] knz commented on #20080
I'll be blunt here: 1) I fear you have no idea where you're getting into, and with regards to risk/payoff I believe we should as a team to dedicate our paid hours to projects that will more directly extend our runway and 2) I *currently* don't trust any of you guys to do training, aftercare and support durably after you ram a first working version in cockroachdb (you, and we as a team in general,

[2017-11-28 21:49] posener commented on #12633
Hi, is there any idea when is it going to be implemented?
Maybe I can provide some help in any way?
Cheers!

[2017-11-28 21:55] petermattis commented on #19699
Interesting. But if you're not calling `IncreaseParallelism`, aren't you limiting the number of threads available for background jobs to the default. That in itself might be reducing the background disk activity.

[2017-11-28 21:55] tschottdorf commented on #20080
There are various dimensions on which opinions have been voiced (and for the record, I also feel fairly unauthoritative in my opinions, which no doubt reflects good judgment).

Regarding hand-rolled vs existing, I'm not sure there's a strong argument to hand-roll something made by anyone, so I assume we're all comfortable using something existing.

The next point of contention that has been muddle

[2017-11-28 21:58] arjunravinarayan commented on #20119
@debraj-manna looking closer at your initial `COUNT(*)` query, it appears to be running an order of magnitude slower than I would expect, compared to results I get running on my single node laptop (and a multi-node cluster that has the data spread across the nodes will get a speed up from distributed query processing). For instance, using the TPC-H lineitem schema (see https://github.com/cockroach

[2017-11-28 21:58] gpaul commented on #19165
Thanks that helps already. Could you expand on the kind of load generator? Does the schema matter? Should I fill the database from all nodes, concurrently or can all inserts be sent to a single node. Do queries need a specific form, eg., JOINs? When you say 'latencies', do you mean inserts become slow or selects become slow, or both?

Would the following work?

1. 5 nodes
2. a table with a single

[2017-11-28 21:58] adamyaoqinglin commented on #20100
@RaduBerinde Could you please explain it again with more details. The example can be `(left.x IS NULL) = (right.y IS NULL)`

[2017-11-28 22:10] m-schneider commented on #19165
No problem. I'm not quite in SF land myself :) The schema doesn't really
matter and neither does the load generator so I think what you have should
work. The core of the problem was that the node that was coming up and down
didn't reply if it was the lease holder for the replicas for which it was
the leaseholder before a restart in a reasonable amount of time.

So for you points.

1. 5 node is a g

[2017-11-28 22:17] RaduBerinde commented on #20100
The change I'm proposing is a special case in `splitBoolExpr` which checks if we have a `ComparisonExpr` (with a restricted set of operators, e.g. EQ, LT, GT, LE, GE, NE) for which one side is just a variable that can be "converted". From something like `x CMP <something>` we can return `x IS NOT NULL`

`(left.x IS NULL) = (right.y IS NULL)` does not match the special case, we wouldn't propagate a

[2017-11-28 22:33] richardwu commented on #12633
Hey posener,

I was planning to take a look at this sometime this week or next week, I'll try to provide an update as soon as I scope out the implementation.

[2017-11-28 22:33] knz commented on #20080
By the way, perhaps WASM is a good direction to look into:

- WASM is much cleaner/simpler than LLVM
- there's immense demand for WASM integrations in different software stacks; if there's not a WASM interpreter/compiler for Go in the near future, we'd attract *tons* of street creds if we provided one to the Go community
- it's also rather straightforward to interpret efficiently even if we don't

[2017-11-28 22:50] #20302 closed

[2017-11-28 22:52] knz commented on #20080
FWIW I has imagined we'd ship distsql processors as standalone WASM interpreter threads talking to TCP sockets directly (to other nodes), completely outside of Go.

[2017-11-28 23:38] andreimatei commented on #20080
Rafa, I'm confused about what your stance is :)
Are you generally for or against code generation? If for, are you for interpreting it but against compiling it to native code? If so, do you care about the level of the code that we're interpreting?
If native code generation is the point where you get off the bus, please tell me again why that is exactly - how's it harder to debug or maintain or expl

[2017-11-28 23:41] genofire opened #20317 "sql: support set client_encoding='LATIN1'"
**BUG REPORT**
- What did you do?
  Try to use it in postfix.
[code]

- What did you expect to see?
No output, but exitcode 1.

- What did you see instead?
[code]

[2017-11-28 23:47] knz commented on #20080
I'm against:

- native code generation that early,
- LLVM (its a very large piece of code, with many features that are not relevant to us)
- anything we can't start with by interpreting

I'm for:

- query compilation, predicate compilation, or whatever lowering of the logical query into some encoding that can be efficiently executed from our C++ layer (outside of Go).

As to "why it's difficult" b

[2017-11-29 00:50] adamyaoqinglin commented on #20100
Thanks, @RaduBerinde . I think I have got it.

[2017-11-29 01:12] jseldess opened #20319 "*log.safeError: stopper.go:179: <*errors.fundamental>"
https://sentry.io/cockroach-labs/cockroachdb/issues/411075422/

[code]

[2017-11-29 01:42] tschottdorf commented on #19574
Will be fixed in #20308.

[2017-11-29 02:00] petermattis commented on #20080
It is fun to be thinking about compiling expressions to native code, but I don't think we're ready for it yet. I think it is excellent to be experimenting now, but we need more experimentation before committing to a direction. We need evidence for the benefits and to balance those benefits against the concomitant burdens.

[2017-11-29 02:33] vivekmenezes commented on #20319
[code]
this crash is happening on release v1.1.2 on the above line  ```valueBytes = valueBytes[len:]```

[2017-11-29 03:01] donpdonp commented on #20296
@mjibson ah yes I'm on 1.0.6. I managed to work around the load ordering by dump/restore one table at a time in the right order.

using psql compliant SQL would be a big help for the dump output. STRING(x) to VARCHAR(x) and FAMILY(..) were the hangups I ran into.

@dianasaur323 i moved away from crdb because it'd consume more than 800mb of ram under low load for a 25mb dataset.

[2017-11-29 03:07] vivekmenezes commented on #20319
I can't see how this can happen. It's trying to skip over a column value present in the value of a kv pair and skipping over the end.

[2017-11-29 05:56] #20294 closed

[2017-11-29 07:29] sydnever commented on #20100
Hi, @RaduBerinde.
@adamyaoqinglin has completed the work and I am doing tests on it. It may take a lot time to make sure of the correctness of results.

[2017-11-29 08:45] posener commented on #12633
Thanks you so much!

[2017-11-29 09:11] wendigo opened #20320 "Kubernetes documentation error"
https://www.cockroachlabs.com/docs/stable/orchestrate-cockroachdb-with-kubernetes.html

Is:

[code]

Should be:

[code]

[2017-11-29 09:37] cockroach-teamcity commented on #20195
SHA: https://github.com/cockroachdb/cockroach/commits/d7de7099c40f9c0893c59f9fd04ac22962c63dbe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=423215&tab=buildLog

[2017-11-29 09:37] cockroach-teamcity opened #20321 "sql/tests: TestMonotonicInserts/distsql=off failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/d7de7099c40f9c0893c59f9fd04ac22962c63dbe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=423215&tab=buildLog

[code]

[2017-11-29 09:50] nsriram commented on #20071
Are there any 'sane' workarounds to get Keycloak working on CockroachDB ?
(Landed on the same SELECT FOR UPDATE issue after doing similar steps).

[2017-11-29 10:54] andrew-bickerton commented on #2656
@dianasaur323 I've just followed you on the twitter (@coder4hire) if you follow back I'll DM you my direct contact details.

Given that cockroachDB already handles its cross leader transaction changes and has an internal log of those changes (from my rough understanding), could you not have a second consumer of those logs that consolidates them and outputs a single stream of changes?  (that way av

[2017-11-29 11:57] novabyte commented on #20254
@mberhault What do you propose we do with the schema?

[2017-11-29 12:10] mberhault commented on #20254
I'm afraid I don't know enough about what `dump` does or is meant to be able to handle, so I'll let @mjibson chime in on that.

[2017-11-29 12:17] cockroach-teamcity commented on #19820
SHA: https://github.com/cockroachdb/cockroach/commits/d7de7099c40f9c0893c59f9fd04ac22962c63dbe

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=423369&tab=buildLog

[2017-11-29 12:32] mberhault commented on #20317
CC: @dianasaur323

[2017-11-29 13:01] tschottdorf opened #20322 "stability: v1.1.2: consistency check failed with %d inconsistent replicas | <uint32>"
https://sentry.io/cockroach-labs/cockroachdb/issues/411232447/

[code]

[2017-11-29 13:03] #19947 closed

[2017-11-29 14:01] jseldess commented on #20319
@vivekmenezes, thanks for the analysis. Should this be assigned to someone?

[2017-11-29 14:08] jseldess commented on #20320
Thanks catching this, @wendigo. I'll publish a fix shortly.

[2017-11-29 14:43] vivekmenezes commented on #20319
Unfortunately I don't think it's going to be easy to make any progress on this issue. I'm leaving it unassigned for now.

[2017-11-29 14:49] jordanlewis commented on #20071
@nsriram unfortunately not at this time.  If you're interested in pursuing this, I would recommend forking the Postgres adapter for Keycloak (assuming such a thing exists - I don't know much about Keycloak) and removing the `FOR UPDATE` clause from the relevant queries. It's not necessary to use `SELECT FOR UPDATE` in CockroachDB because our transactions are all serializable by default.

[2017-11-29 14:52] RaduBerinde commented on #20100
Nice! Just a tip: I expect some of the EXPLAIN outputs in logictests to change, the easiest to update those is to pass `TESTFLAGS=--rewrite-results-in-testfiles`. This will actually modify the testfiles with the new results and you can check the differences with `git diff`.

[2017-11-29 15:02] RaduBerinde opened #20323 "stats: SHOW STATISTICS and SHOW HISTOGRAM statements"
This issue tracks adding the following statements:
 - `SHOW STATISTICS FOR <table>`: an alias for `SELECT .. FROM system.table_statistics WHERE tableID = ..` The histogram column should be replaced with a boolean column which indicates if there is a histogram.
 - `SHOW HISTOGRAM <statID> FOR <table>`: decodes a histogram and returns it as a table, with one row per bucket.

CC @rytaft

[2017-11-29 15:22] petermattis commented on #20321
Duplicate of #20195.

[2017-11-29 15:22] #20321 closed

[2017-11-29 15:24] sydnever commented on #20100
@RaduBerinde Oh! Thank you for your tip! I just spent my time on changing logictest files manually. However, I still need make sure that every test result is expected.

My head is a query can (like tuna can)  now.

[2017-11-29 15:24] cockroach-teamcity opened #20324 "teamcity: failed tests on master: Jepsen/Jepsen: JepsenBank-multitable: JepsenBank-multitable/start-kill-2"
The following tests appear to have failed:

[#423121](https://teamcity.cockroachdb.com/viewLog.html?buildId=423121):

[code]

Please assign, take a look and update the issue accordingly.

[2017-11-29 16:30] a-robinson commented on #17370
Good to hear! Thanks for the update, @dfawley. Do you have a rough estimate of when these changes will start materializing?

I'd also like to offer our help if you want it, both for the engineering work of making the improvements or for testing out any unfinished changes you'd like more mileage on. This is quite important to us, so we're happy to devote time to it.

[2017-11-29 17:57] vivekmenezes opened #20327 "sql: CREATE TABLE with a Foreign Key reference doesn't create a table immediately"
Whenever we create a table with a FK reference a new table is added with a schema change to the referenced table. The newly created table is placed in the ADDING state and becomes live only once the schema change to the referenced table has gone live.

The above behavior prevents an INSERT statement in the same transaction as the CREATE TABLE with FK from functioning.

[2017-11-29 18:25] petermattis commented on #20195
This reproduces with both `make stress` and `make stressrace`. Adding some more logging, I see that the context cancelation is occurring before the test finishes, so this isn't some race with shutdown.

[2017-11-29 18:38] justinj commented on #20327
dup #17949?

[2017-11-29 19:00] mjibson commented on #19188
Closing this due to new jobs code. Reopen if it happens again.

[2017-11-29 19:00] #19188 closed

[2017-11-29 19:02] mjibson commented on #19206
Fixed by #20185: code removed.