[2017-02-09 14:37] mberhault commented on #13507
Turned it back to true on `cyan`, experienced about 5 minutes of chaos, then back to the previously-seen single-node-with-very-high-latency:
<img width="950" alt="screen shot 2017-02-09 at 9 30 10 am" src="https://cloud.githubusercontent.com/assets/5901480/22787464/7b72b710-eeaa-11e6-8b1e-0ca05872535b.png">

This time, it's https://cockroach-cyan-0001.crdb.io:8080/ clocking in at 17s 99th percenti

[2017-02-09 14:50] bdarnell commented on #13506
This behavior is consistent with what I was seeing on gamma before (so it shouldn't block the beta - it's been there for a while). I don't expect ClearRange to fix it - gamma wasn't slowly working its way through a backlog of dead replicas, it would just get stuck like this and stay at zero QPS for days if left alone.

[2017-02-09 14:53] cockroach-teamcity opened #13508 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestNodeRestart"
The following tests appear to have failed:

[#145048](https://teamcity.cockroachdb.com/viewLog.html?buildId=145048):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-09 15:08] a-robinson commented on #13508
cc #12409 (same thing without proposer-evaluated kv)

[2017-02-09 15:20] petermattis commented on #13506
`blue-02` shows a request that is being repeatedly re-proposed for range 932:

[code]

Need to track down what is going on with that range.

[2017-02-09 15:28] bdarnell commented on #13506
Range 932 is stuck sending a raft snapshot (the follower on node 5 is behind, and the leader on node 2 is trying to send it a snapshot). Because the range only has two replicas (it was recently downreplicated from 8, presumably in response to a chaos event), it can't make progress until this snapshot is sent. (maybe we shouldn't remove dead replicas so eagerly, and instead wait until we can uprepl

[2017-02-09 15:30] petermattis commented on #13506
What I can't figure out is why we're not eventually succeeding sending a snapshot for r932. We certainly seem to be trying over and over and over ...

[2017-02-09 15:33] petermattis commented on #13506
`blue-05` is reporting a reservation via the prometheus endpoint, though this isn't showing up in Grafana. @mberhault Any idea what is up with that?

[2017-02-09 15:33] petermattis commented on #13506
Oh, perhaps that was just temporary. The reservation just disappeared.

[2017-02-09 15:34] #13437 closed

[2017-02-09 15:41] bdarnell commented on #13506
I think the cause is #12686, in which the `CanDecline` field became unconditionally true. This means that all snapshots are essentially fail-fast, and if the reservation is declined it will be a while before we try again. Prior to that commit, `CanDecline` was true for preemptive snapshots and false for raft snapshots. That meant that raft snapshots would be queued up on the recipient side instead

[2017-02-09 15:44] petermattis commented on #13506
But I'm not seeing the Raft snapshots fail. I enabled `--vmodule=queue.go=3` on `blue-02` and I can see the Raft snapshots for r932 being generated and sent but we're not getting an error.

[2017-02-09 15:45] petermattis commented on #13506
Additionally, I would expect the snapshots for r932 to eventually succeed. And it isn't.

[2017-02-09 15:47] petermattis commented on #13506
Lastly, we set `CanDecline: false` for Raft snapshots. That changed in #13043.

[2017-02-09 15:52] bdarnell commented on #13506
Hmm, let's try `--vmodule=raft=2` on `blue-05` then. That will show us what raft's doing with the snapshot (assuming it's getting that far).

[2017-02-09 15:56] petermattis commented on #13506
Yes, I just did that (well, `--vmodule=raft=4`). This is problematic:

`I170209 15:53:06.640686 2579072 vendor/github.com/coreos/etcd/raft/raft.go:732  [n5,s5,r932/9:/Table/51/1/267{44609…-66948…},@c420bc4f00] 9 [term: 2274] ignored a MsgSnap message with lower term from d [term: 877]`

[2017-02-09 15:57] petermattis commented on #13506
Why does the snapshot have term 877? Both `blue-02` and `blue-05` think the term is 2274.

[2017-02-09 15:58] bdarnell commented on #13506
It's probably getting the current term and the log term mixed up.

[2017-02-09 16:00] petermattis commented on #13506
We calculate the snapshot term as:

[code]

`appliedIndex` is really far behind, so I'm not surprised the term is `877`. This is fairly old code (though it has gone through numerous refactorings). What should we be doing here?

[2017-02-09 16:03] petermattis commented on #13506
Actually, I think this is the problematic bit:

[code]

The snapshot term is `877`, but the replica sending the snapshot is at term `2274`.

[2017-02-09 16:03] bdarnell commented on #13506
That's correct for calculating the snapshot term (aka log term), but the *message term* is different and should be the current term at the time the message is sent. [This line](https://github.com/cockroachdb/cockroach/blob/2aa1ee7f753d10be1ea818e5dc35fe4545bb8900/pkg/storage/replica_command.go#L3353) needs to be changed to use the current (HardState) term.

[2017-02-09 16:05] petermattis commented on #13506
When raft was generating the snapshot messages, it would set `raftpb.Message.Term` to `raft.term` which I believe is the term stored in the hard state.

[2017-02-09 16:06] bdarnell commented on #13506
And the proximate cause is indeed #12686 where we took over the sending of all snapshot messages from raft. We had been sending incorrect terms with preemptive snapshots since the beginning, but it didn't matter since there was no preexisiting raft group.

[2017-02-09 16:51] mberhault commented on #13480
binaries look good.

[2017-02-09 17:43] mberhault commented on #13480
@jseldess, @jess-edwards: we're good to go on the beta.

[2017-02-09 17:51] jseldess commented on #13480
Great. I'll get the release notes done soon.

[2017-02-09 18:07] novabyte commented on #13505
I've read the documentation for foreign keys in more detail and experimented with the creation of the schema in a single transaction and without. The single transaction (if I don't add the index called `user_id_idx`) creates:

[code]

The non-transactional schema creation creates:

[code]

Both `user_device_auto_index_fk_user_id_ref_users` and `user_id_idx` appear to have the exact same index prop

[2017-02-09 18:41] knz opened #13516 "sqlccl: race condition in TestBackupRestore"
Found while investigating some unrelated Jepsen results:

https://teamcity.cockroachdb.com/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=145032#_focus=1447

[code]

[2017-02-09 18:41] dianasaur323 opened #13517 "Product Roadmap"
- (EOQ1) Zero downtime upgrades (proposer evaluated KV command execution) https://github.com/cockroachdb/cockroach/issues/10431
- Backup / Restore https://github.com/cockroachdb/cockroach/issues/12555
   - (EOQ1) Distributed, incremental backup / restore
   - (Q2) Backup scheduling, JSON endpoint, and expanded configurability
   - (Q2) Bulk ingest
   - (Q2-Q3) Data migration
   - (?) Encrypted bac

[2017-02-09 18:45] dt commented on #13505
Ah, yep, the separate `CREATE INDEX user_id_idx ` statement is after the `CREATE TABLE`, and thus does indeed create an identical, duplicative index to the one the CREATE TABLE auto-created for the FK -- `CREATE TABLE` looked though the indexes to see if any matched for the FK, didn't find one (because the CREATE INDEX hasn't been run yet) and thus automatically added it.

FWIW, if the index were

[2017-02-09 19:30] jseldess commented on #13480
@swatikumar16, release notes are live at https://www.cockroachlabs.com/docs/beta-20170209.html.

@mberhault, do you want me to announce to the registration server?

[2017-02-09 19:50] mberhault commented on #13480
sure thing, thanks.

[2017-02-09 20:01] mberhault commented on #13447
ah, it's `cockroach-omega-0003` this time:
jumped backwards by 3 seconds around 020917-16:41, and fixed itself around 020917-19:08:
<img width="1422" alt="screen shot 2017-02-09 at 3 01 01 pm" src="https://cloud.githubusercontent.com/assets/5901480/22800834/a1de64ca-eed8-11e6-9cb4-3a63d6d9d785.png">

[2017-02-09 20:08] a-robinson commented on #13447
Have we heard anything back about this yet?

[2017-02-09 20:16] mberhault commented on #13447
uh, no. I haven't filed a support ticket or anything. Just looking at it now, it turns out we don't have a support plan for GCE.

[2017-02-09 20:23] a-robinson commented on #13447
@spencerkimball had suggested going through our "GCP for Startups" contact.

[2017-02-09 20:44] mjibson commented on #13482
The helper function only works on byte slices, but you can also do sha256.New(), then call .Write on that, since it returns a hash.Hash. So we should be able to use that just as easily as crc.

[2017-02-09 22:08] #3473 closed

[2017-02-09 22:08] #13351 closed

[2017-02-09 22:39] andreimatei commented on #3473
This is probably one of the first bugs I've filed. I'm dancing inside.

[2017-02-10 00:12] jordanlewis commented on #12792
Once https://github.com/rails/rails/pull/27949 makes it into a release, we won't need common table expressions at all.

[2017-02-10 01:36] petermattis opened #13523 "stability: insufficient metrics into Raft actions"
#13506 was caused by Raft snapshots being silently ignored due to having an incorrect term in the `raftpb.Message` envelope. The dropped snapshots only became visible when we enabled `--vmodule=raft=2` which showed Raft "info"-level messages. It would be good to have greater visibility into Raft actions such as messages being dropped. Could the `raft.Storage` interface be extended to provide notif

[2017-02-10 01:39] petermattis commented on #13447
The `GCP for Startups` folks are still investigating the nature of `Local SSD` for me. I have another Google contact who promised to be able to investigate clock offset issues. Let me track him down and corner him.

[2017-02-10 01:46] tlvenn opened #13524 "sql: list the typelem for arrays in pg_type"
As briefly discussed in #12526 , the `typelem` currently reads 0 for all oids while it should reads the elem type oid for all array types.

For example for `int2[]`, the `typelem` is `21`.

[2017-02-10 01:46] tlvenn commented on #12526
Done in #13524

[2017-02-10 01:52] mjibson commented on #13490
This works on my machine. Can you try rebuilding cockroach from master to see if you still have a problem?

[2017-02-10 01:56] tlvenn commented on #5582
Little follow up on the support of Elixir/Postgrex/Ecto

Using a patched version of Postgrex which simply hardcore the expected pg_type values for all oids until these issues are fixed #12526 #13524 , I am able to make it work.

I have found what seems to be a new issue however, here is the query with the error reported by cockroachdb:

[code]

In the log, i only see the following:
[code]

Any ide

[2017-02-10 02:03] jordanlewis commented on #5582
CockroachDB is reporting that OID 1016 is unsupported. That's the `int8[]` oid. It seems we don't support the array binary encoding yet - thanks for the report.

[2017-02-10 02:11] tlvenn commented on #5582
Thanks for the quick feedback @jordanlewis, any chance to add support for the array binary encoding very soon ? I am kinda stuck without it :(

Thanks a lot in advance !

On a side note, is there any reason why the server is not logging this kind of errors ?

[2017-02-10 02:55] bdarnell commented on #13523
It would be straightforward to add a new interface for this (we already have `raft.Storage` and `raft.Logger`). It's just a matter of deciding what the interface should look like and what events should be tracked.

[2017-02-10 06:05] jordanlewis commented on #5582
It's an oversight that we're not logging this further. I just remembered that we're already tracking this particular issue in #13358 as well.

[2017-02-10 06:17] tlvenn commented on #5582
Ha funny timing ;) Glad to see there is an open issue on this already and I hope this is something relatively easy to implement.

Btw, for anyone who want to give Cockroachdb with Elixir a try, you can use my fork of Postgrex for the time being:

[2017-02-10 07:34] cockroach-teamcity commented on #13211
SHA: https://github.com/cockroachdb/cockroach/commits/c3465d53fda2fc0a5f98f15f83273924d3b67934

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=145668&tab=buildLog

[2017-02-10 07:38] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/c3465d53fda2fc0a5f98f15f83273924d3b67934

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=145678&tab=buildLog

[2017-02-10 07:39] cockroach-teamcity commented on #13502
SHA: https://github.com/cockroachdb/cockroach/commits/c3465d53fda2fc0a5f98f15f83273924d3b67934

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=145691&tab=buildLog

[2017-02-10 08:10] #13313 closed

[2017-02-10 08:11] cockroach-teamcity opened #13525 "sql/distsqlplan: TestSpanResolverUsesCaches failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/c3465d53fda2fc0a5f98f15f83273924d3b67934

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=145770&tab=buildLog

[code]

[2017-02-10 08:28] cockroach-teamcity commented on #13502
SHA: https://github.com/cockroachdb/cockroach/commits/b5b29b54a3d6895a9767045cd86e57bd949918db

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=145794&tab=buildLog

[2017-02-10 09:11] cockroach-teamcity commented on #13335
SHA: https://github.com/cockroachdb/cockroach/commits/b5b29b54a3d6895a9767045cd86e57bd949918db

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=145884&tab=buildLog

[2017-02-10 10:00] cockroach-teamcity commented on #13525
SHA: https://github.com/cockroachdb/cockroach/commits/b5b29b54a3d6895a9767045cd86e57bd949918db

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146079&tab=buildLog

[2017-02-10 10:07] cockroach-teamcity commented on #13502
SHA: https://github.com/cockroachdb/cockroach/commits/b5b29b54a3d6895a9767045cd86e57bd949918db

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146103&tab=buildLog

[2017-02-10 10:31] cockroach-teamcity commented on #13525
SHA: https://github.com/cockroachdb/cockroach/commits/b5b29b54a3d6895a9767045cd86e57bd949918db

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146182&tab=buildLog

[2017-02-10 10:38] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/b5b29b54a3d6895a9767045cd86e57bd949918db

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146193&tab=buildLog

[2017-02-10 10:45] cockroach-teamcity commented on #13502
SHA: https://github.com/cockroachdb/cockroach/commits/b5b29b54a3d6895a9767045cd86e57bd949918db

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146206&tab=buildLog

[2017-02-10 14:35] cockroach-teamcity opened #13526 "teamcity: nil pointer dereference in go-test-teamcity"
The following tests appear to have failed:

[#146273](https://teamcity.cockroachdb.com/viewLog.html?buildId=146273):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-10 14:52] a-robinson commented on #13526
Segfault in `go-test-teamcity`, most likely from @mjibson's recent change - https://github.com/2tvenom/go-test-teamcity/commit/9a90cd6b7cb8985f65da8bc957e2a37e6f2a0834#diff-7ddfb3e035b42cd70649cc33393fe32c

[2017-02-10 15:09] a-robinson commented on #13335
The latest failure is a bit different, for what it's worth:

[code]

[2017-02-10 15:10] a-robinson commented on #13211
The last two failures were both also due to the "RetryableTxnError being converted back to pErr." error.

[2017-02-10 15:45] mjibson commented on #13526
Fixed by: https://github.com/cockroachdb/go-test-teamcity/commit/2e6cf28d2288682f5be9d0b7f432f7c0ce90cfc5

[2017-02-10 15:45] #13526 closed

[2017-02-10 15:47] jordanlewis commented on #12526
@tlvenn I'm worried that this is not as straightforward as it seems. In Postgres, the `typreceive` and `typsend` functions have type `regproc`, which is a special Postgres type that appears as a string but is an OID under the hood. We don't support this special kind of type at the moment.

That gives us two options, assuming we don't want to implement this special kind of type: represent the colum

[2017-02-10 16:24] tlvenn commented on #12526
Pulling in @fishcakez, who can probably better shed some light on this. Postgrex is indeed expecting strings for `typreceive` and `typsend` as far as I know.

[2017-02-10 16:49] fishcakez commented on #12526
Postgrex uses strings because multiple `typname`s can have the same `typreceive` and `typesend`. The later fields describe how the value is encoded over the wire. For example it is possible to create a custom type with the same wire encoding as `int4` but a different `typname`. Postgrex uses the wire encoding because it does not fallback to text format for types it does not know, as these could be

[2017-02-10 17:10] jordanlewis opened #13529 "sql: information_schema constraint_names should be unique per database"
Currently, primary key constraints in `information_schema` tables are all named `primary`. This is inconsistent with how Postgres and Mysql do it - they should have unique names like `{table}_pkey` to allow joins on constraints between `information_schema` tables.

[2017-02-10 18:19] jordanlewis commented on #13529
Actually, this is incorrect. MySQL doesn't distinguish between constraint names - they're all named `primary` as well. The joins can be done in another way, so I'll close this.

[2017-02-10 18:19] #13529 closed

[2017-02-10 19:11] vivekmenezes opened #13532 "sql: schema change acceptance test is timing out"
The schema change acceptance test is timing out on azure even with a 6 hour timeout. Probably the same issue some users have reported.

[code]

[2017-02-10 20:33] #12148 closed

[2017-02-10 20:33] #12153 closed

[2017-02-10 20:33] #13436 closed

[2017-02-10 20:33] #13485 closed

[2017-02-10 20:33] #13486 closed

[2017-02-10 20:33] #13498 closed

[2017-02-10 20:46] vivekmenezes opened #13537 "ui: sql queries graph occasionally drops at the end"
<img width="881" alt="screen shot 2017-02-10 at 3 45 18 pm" src="https://cloud.githubusercontent.com/assets/11774212/22843526/086ec124-efa8-11e6-90d8-c0465abff77f.png">

[2017-02-10 22:26] vivekmenezes opened #13538 "sql: add benchmarks for schema change backfill execution"
We need to add benchmarks for all the schema change backfill operations so we can track performance as we make performance improvements, as well as ensure no decline in performance.

[2017-02-10 23:56] #12346 closed

[2017-02-11 01:47] vivekmenezes commented on #13532
As you can see below the schema change backfill is going at around 200 rows a second. At that rate it is completed backfilling 2.5M rows after 4 hours and it is unable to keep up with the random row inserts going on through the blockwriter job. Once we have the distsql version merged I can see what a difference it makes.

[code]

[2017-02-11 07:35] cockroach-teamcity commented on #12753
SHA: https://github.com/cockroachdb/cockroach/commits/5eac4aa9b5b46a7f3f92535ddd4ae5710607eb81

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146571&tab=buildLog

[2017-02-11 08:28] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/5eac4aa9b5b46a7f3f92535ddd4ae5710607eb81

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146674&tab=buildLog

[2017-02-11 08:57] cockroach-teamcity commented on #12943
SHA: https://github.com/cockroachdb/cockroach/commits/5eac4aa9b5b46a7f3f92535ddd4ae5710607eb81

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146777&tab=buildLog

[2017-02-11 10:05] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/5eac4aa9b5b46a7f3f92535ddd4ae5710607eb81

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=146983&tab=buildLog

[2017-02-11 10:43] cockroach-teamcity commented on #13525
SHA: https://github.com/cockroachdb/cockroach/commits/5eac4aa9b5b46a7f3f92535ddd4ae5710607eb81

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=147075&tab=buildLog

[2017-02-11 12:54] vivekmenezes commented on #13532
The schema change was ultimately able to catchup with the INSERTs from the blockwriter and completed in around 10 hours after backfilling 14,472,800 rows. At least we don't have a functional problem here.

[2017-02-11 18:49] pmamatsis commented on #10863
Good evening @knz,
   i have managed to perform the rebase of my PR successfully. I will start working on this issue as discussed and implement it in a way to fit the existing FSM.

I wanted to ask you a newbie question about the rebase. When i am checking into master (i have added the official repository of cockroachdb as 'main') and perform the `git status` command i am getting the message:

[co

[2017-02-11 21:37] rystsov opened #13541 "CockroachDB stoped serving requests when a leader got separated from the rest of the nodes"
Is this a question, feature request, or bug report? It's a bug.

Hi folks,

I was testing a 3-nodes deployment of a CockroachDB cluster and observed a situation when CockroachDB stoped serving requests when a leader got separated from the rest of the nodes.

The version of the CockroachDB is

<pre>
Build Tag:    beta-20170209
Build Time:   2017/02/09 16:11:47
Distribution: CCL
Platform:     linux

[2017-02-11 22:42] knz commented on #10863
Can you show me the content of your `.git/config`
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-11 23:21] davidradernj opened #13542 "ui: AdminUI shows wrong size for cluster summary capacity used"
**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**.

CockroachDB node starting at 2017-02-11 17:35:50.333297029 +0000 UTC
build:      CCL beta-20170209 @ 2017/02/09 16:11:47 (go1.7.5)
admin:      http://roach1:8080
sql:        postgresql://root@roach1:26257?sslmode=disable
logs:       cockroach-data/logs
store[0]

[2017-02-11 23:22] davidradernj commented on #13542
FWIW, I saw the problem before shutting the nodes down, but had to restart them in order to get the screen shots. Problem was still visible after the restart.

[2017-02-12 01:31] petermattis commented on #13541
I haven't used `iptables` in a while, but I'm suspicious that your iptable rules are creating an asymmetric network partition: network traffic from `10.0.0.{4,5}` is not able to reach `10.0.0.6`, but traffic from `10.0.0.6` is able to reach `10.0.0.{4,5}`. We've seen problems with such network partitions in the past and have work still to do to make cockroach gracefully handle them. Can you confir

[2017-02-12 02:32] jseldess commented on #13542
@mrtracy, @maxlang, any ideas?

[2017-02-12 07:03] tschottdorf commented on #13542
I'd check whether we're using disk usage stats of the underlying drives.
Those would count what's there, not what is used by CockroachDB.

On Sun, Feb 12, 2017, 09:32 jseldess <notifications@github.com> wrote:

--

-- Tobias

[2017-02-12 08:04] cockroach-teamcity commented on #11650
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=147346&tab=buildLog

[2017-02-12 08:27] cockroach-teamcity commented on #12753
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=147357&tab=buildLog

[2017-02-12 10:10] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=147666&tab=buildLog

[2017-02-12 10:46] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=147769&tab=buildLog

[2017-02-12 10:55] pmamatsis commented on #10863
Good afternoon @knz,
   my apologies for the late reply. The contents of my `.git/config` are the following:

[code]

I have checked the pkg/cli/sql.go file that i have locally against the one in the official cockroachdb repo and they are identical though.

Best regards and thank you in advance,
Panos.

[2017-02-12 11:03] LasTshaMAN opened #13543 "Function name conflicts with C library <time.h>"
I was trying to build Cockroach from its source code on Windows 8.1 using MinGW(x86_64-6.3.0-posix-seh-rt_v5-rev1) as a GCC provider.
When I run `make test` I get the following error:

![image](https://cloud.githubusercontent.com/assets/7031569/22861497/226e66fe-f12b-11e6-940c-9f4c81630051.png)

From what I understand, `ftime` function defined in `import "C"` block has the same name as the functio

[2017-02-12 19:08] #13480 closed

[2017-02-12 19:10] mberhault commented on #13506
Re-opening, similar pattern, albeit after a lot more time spent in chaos.
sha: b5b29b54a3d6895a9767045cd86e57bd949918db
with env: `COCKROACH_ENABLE_FAST_CLEAR_RANGE=true`

<img width="1438" alt="screen shot 2017-02-12 at 2 09 55 pm" src="https://cloud.githubusercontent.com/assets/5901480/22865192/f773f142-f12c-11e6-8363-03a1b40ec512.png">

[2017-02-12 19:10] mberhault commented on #13506
chaos has been turned off now that we have sustained 0 qps

[2017-02-12 19:17] jordanlewis commented on #12792
Rails uses savepoints during transactions. Looks like we'll need to support them. Added #10735 to the list.

[2017-02-12 19:21] bdarnell commented on #13543
We do not currently support mingw or windows at all; this is being tracked in #3830.

[2017-02-12 19:21] #13543 closed

[2017-02-12 19:22] jordanlewis opened #13545 "sql: panic when using non-supported SAVEPOINTs"
To reproduce:

[code]

Server log:

[code]

[2017-02-12 19:25] mberhault commented on #13506
nodes show ops stuck on range 2477:
[code]

Node 4 is the leader, but not the lease holder, claiming that node 5 is the lease holder:
[code]

[2017-02-12 19:32] jordanlewis opened #13546 "sql: fill out pg_advisory_lock stubs"
As @bdarnell points out in #13429,

We should provide an actual implementation of these builtins. I suppose it won't be too difficult to implement by writing some lock keys in a special system range.

[2017-02-12 19:48] mberhault commented on #13506
looking through node 5, I'm seeing the following failed remove_replica shortly before complete stall, and what looks like a failure to update the range descriptor:
[code]

[2017-02-12 20:02] LasTshaMAN commented on #13543
Ok, you should probably mention that Windows currently is not supported in your prerequisites [here](https://github.com/cockroachdb/cockroach/blob/master/CONTRIBUTING.md).

[2017-02-12 20:14] mberhault commented on #13506
silenced ZeroQPS alerts for a day.

[2017-02-12 21:18] davidradernj commented on #13542
If it is checking the volume size, you're also off by several orders of magnitude. This is running on a ~250GB laptop. Checking free space inside the container shows about the same % usage (with rounding it could have changed since yesterday 44% vs 45%). But it's 132G avail out of 233G total, not in the TiB range

docker exec -it roach1 bash
root@roach1:/cockroach# df -h
Filesystem      Size  Used

[2017-02-12 21:43] mjibson opened #13547 "sql: CREATE VIEW doesn't clear avoidCachedDescriptors"
CreateView sets avoidCachedDescriptors on the planner (and thus on the session) but does not clear it. That means a later `AS OF SYSTEM TIME` in the same session but in an invalid place (like `CREATE TABLE t AS SELECT ... AS OF SYSTEM TIME`) will succeed.

@a-robinson

[2017-02-12 22:56] mrtracy opened #13548 "ui: Inconsistent calculation of "Used" space for nodes"
Our monitoring systems currently use a few different methods to display a node's "used space" in the UI, which is causing confusion. We should converge on a single calculation for this statistic.

#### Current State

+ The "Node List" table uses a set of combined values from the MVCC stats for the node's stores (liveBytes + intentBytes + sysBytes).
+ The "Capacity" value on the node overview summa

[2017-02-12 22:59] mrtracy commented on #13542
The numbers being displayed are off by a factor of precisely 512, based on the counts from your file system.  You also have two nodes running; in cockroach, if you run two nodes on the same machine without specifying a maximum file size, the capacity/available numbers can be unexpectedly multiplied (doubled in this case); this is captured in #5454, and should possibly get additional attention if u

[2017-02-13 01:13] vivekmenezes commented on #13548
The capacity used values are larger than the mvcc values pointing to the mvcc values possibly being more conservative.

[2017-02-13 02:01] vivekmenezes opened #13549 "sql: TestLogicDistSQL doubles the time it takes to run tests"
Running the sql tests take around 90 seconds on my machine. This time has essentially doubled from around 45 seconds with the introduction of TestLogicDistSQL . We need to speed up all the SQL tests. This can involve:

1. Running the test setup() only once for the entire set of tests thereby bring up a TestCluster once and running all the SQL statements from all the files on the same cluster. This

[2017-02-13 02:14] andreimatei commented on #13549
note that there a `make testshort` target that avoids the logic tests with distsql

[2017-02-13 02:41] a-robinson commented on #13549
[@jordanlewis played around with the first idea previously and found that trying to drop tables between tests was actually slower than creating a new testserver for every subtest](https://github.com/cockroachdb/cockroach/pull/11719#issuecomment-265003891). You could modify the tests such that they can just be run in separate namespaces/databases, but would have to do something with all the tests t

[2017-02-13 04:44] davidradernj commented on #13542
On (1), as a new user to the admin UI, when I read the words "You are using xxx" I immediately assumed that was supposed to represent the size of the database cluster hence the confusion.

I'm pretty sure the issue (3) 256 inflation is a docker related artifact when mounting a cockroach-data directory from the host. To test, I created a stand alone file system usage test program that uses the gosi

[2017-02-13 07:04] rystsov commented on #13541
That's a valid observation! Unfortunately, I got the same results (a cluster became unavailable) with the updated iptables commands:

`sudo iptables -A INPUT -s 10.0.0.5 -j DROP; sudo iptables -A INPUT -s 10.0.0.6 -j DROP; sudo iptables -A OUTPUT -d 10.0.0.5 -j DROP; sudo iptables -A OUTPUT -d 10.0.0.6 -j DROP`

[2017-02-13 07:47] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=147984&tab=buildLog

[2017-02-13 08:12] cockroach-teamcity commented on #13504
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=148075&tab=buildLog

[2017-02-13 10:03] cockroach-teamcity commented on #13525
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=148385&tab=buildLog

[2017-02-13 10:32] cockroach-teamcity commented on #13504
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=148487&tab=buildLog

[2017-02-13 10:40] cockroach-teamcity commented on #13525
SHA: https://github.com/cockroachdb/cockroach/commits/d101010febda7fc9ad604ba467dd58e16844b9c8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=148488&tab=buildLog

[2017-02-13 10:42] knz commented on #13543
@LasTshaMAN to follow up on the issue you found after you applied my workaround. The problem is that your mingw library apparently does not provide `strptime`. However `strptime` is a standard POSIX function.

As ben said we do not support Windows indeed, but the more general issue is that CockroachDB currently requires a POSIX environment. If your Windows environment is sufficiently close to POSI

[2017-02-13 10:50] knz commented on #10863
Ok then, it's easy: the message merely indicates that your `master` branch on https://github.com/pmamatsis/cockroach is not up to date. By running `git push` you can bring it forward. This will synchronize your repository at https://github.com/pmamatsis/cockroach with ours.

[2017-02-13 12:07] mberhault commented on #13447
one more: omega-001 jumped back 600ms for ~50m.
started at 2017-02-13 10:51, ended by itself at 11:41.

<img width="1433" alt="screen shot 2017-02-13 at 7 05 52 am" src="https://cloud.githubusercontent.com/assets/5901480/22882821/ff50633a-f1ba-11e6-8ab7-13cdccf1a4d9.png">

[2017-02-13 13:34] petermattis commented on #13541
@rystsov Thanks for verifying the problem wasn't due to an asymmetric partition. We'll take a look.

[2017-02-13 14:57] a-robinson commented on #13547
Oh wow, I didn't realize the same planner was reused for the entire session (as got brought up in gitter). Taking a look.

[2017-02-13 15:17] jordanlewis commented on #13549
Modifying the tests to use different namespaces/databases would also lead you to encounter a whole new set of problems in the `information_schema` and `pg_catalog` tests, as all databases show up in those tables. You'd have to do a bit of work to have the test queries ignore the irrelevant databases.

[2017-02-13 15:18] BramGruneir commented on #13504
Here's the main error
[code]

[2017-02-13 16:12] jordanlewis commented on #12526
Thanks for the info guys! It seems like we'll need to actually implement the `regproc` type properly to support your use case. It's on our roadmap now, as we'll also need to support that type for some other ORMs including `npgsql`.

[2017-02-13 16:14] petermattis commented on #13541
@tamird Can you try to reproduce this?

[2017-02-13 16:17] bdarnell commented on #13506
The raft state in https://github.com/cockroachdb/cockroach/issues/13506#issuecomment-279241540 looks very odd. On all four nodes, the range descriptor shows all four nodes (4, 5, 6, 7) as being members of the range. However, the `Progress` field on node 4 (the leader) only contains nodes 4 and 7. Node 6 has become a candidate and node 5 has voted for it. Node 5 holds the range lease.

So it looks

[2017-02-13 16:23] bdarnell commented on #13506
Four minutes earlier we tried to remove node 5. It had to be retried many times (this is just the first few):

[code]

It ended with an `AmbiguousResultError`:

[code]

[2017-02-13 16:56] kuanluo opened #13557 "ui: show 10 nodes graphically in the admin UI"
Part of #13184

## Objective: Accelerate new users’ understanding of CockroachDB by showcasing our value props visually.

**Stats to show (1-8 being the most important, 9-10 are stretch goals)**:

- [x] 1. Number of replicas -> replica count per node. See outliers in the cluster. This is showing replicas flowing to new node
- [x] 2. Leaseholders: you look for the count of leaseholders on a single

[2017-02-13 17:15] mberhault commented on #10736
A few more specific things that would be nice:
* list of unavailable ranges
* list of ranges with leader-not-leaseholder

both with links to the full range descriptor. Would make it easier to track. eg: https://github.com/cockroachdb/cockroach/issues/13506

[2017-02-13 18:59] bdarnell opened #13560 "storage: Remove or fix "initial metrics computation""
As soon as gossip is connected, we attempt to compute the store metrics: https://github.com/cockroachdb/cockroach/blob/6e9c78f05fdd06bec380ab701a7f422cd0564a10/pkg/storage/store.go#L1250-L1262

This (nearly) always fails because gossip becomes connected before the system config is available. It logs a INFO message and then we discard the error. (This line appears in the logs of nearly all our test

[2017-02-13 19:25] bdarnell opened #13562 "cli: History should group statements entered on the same line"
Sometimes while testing I will enter two semicolon-delimited SQL statements on the same line and would like to be able to repeat that pair of statements with `(up-arrow, enter)`. (Motivating example: `drop database foo; create database foo`). In most CLIs that works fine, but our "normalization" splits them up and treats them as separate history entries (turning this into `(up, up, enter, up, up,

[2017-02-13 20:56] bdarnell commented on #13506
OK, I think I've found it. [`Replica.processRaftCommand`](https://github.com/cockroachdb/cockroach/blob/e96e6837c2e046cfb055d53e128a02a392ea6cfa/pkg/storage/replica.go#L3673) returns `response.Err`, but since 6c9190a186 (the big propEvalKV change), that field is [only set when `proposedLocally`](https://github.com/cockroachdb/cockroach/blob/e96e6837c2e046cfb055d53e128a02a392ea6cfa/pkg/storage/repl

[2017-02-13 21:06] petermattis commented on #13548
`storage/engine.RocksDB.Capacity()` computes the on-disk size of the RocksDB files. It then uses this to adjust the returned `Capacity.Available` value. Seems like we should directly return a `Capacity.Used` field.

[2017-02-13 21:08] bdarnell commented on #13506
I believe that restarting node 4 would get everything working again. And as far as I can tell this bug has been present since November, so either the combination of events that trigger the bug are very rare or we haven't been running the right chaos configuration since then (or we weren't paying close enough attention - the problem is self-healing if chaos continues). It appeared to happen twice i

[2017-02-13 21:33] petermattis commented on #13506
Oh, fun. Yes, this looks like the problem and explains the symptoms. Nice find.

[2017-02-13 22:10] benmargolin commented on #13380
Hi guys, I've got more info, as I was hit by this again in production. This time I didn't try to stop it, just let it go. It finally _did_ finish adding a timestamp column to a 28-row table, but only after an astounding **8  minutes**.

I'm attaching the relevant bits of the INFO log, hope it helps.
[slow_alter_infolog.txt](https://github.com/cockroachdb/cockroach/files/772547/slow_alter_infolog.t

[2017-02-13 22:19] #13547 closed

[2017-02-13 22:30] petermattis commented on #13380
@benmargolin Is this the same table schema that you were using before? If not, could you provide the original `create table` statement and the `alter table` statement you used?

@vivekmenezes Have you been able to reproduce this locally?

[2017-02-13 22:41] cockroach-teamcity opened #13566 "teamcity: failed tests on master: test/TestReplicateRogueRemovedNode"
The following tests appear to have failed:

[#148911](https://teamcity.cockroachdb.com/viewLog.html?buildId=148911):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-13 22:45] benesch commented on #12651
@RaduBerinde @andreimatei @knz I was thinking about picking this up—at least a draft implementation that tackles most of the UI work—in the next week or so, in between work on my starter project. Is this still needed/is that timeline okay?

[2017-02-13 22:45] spencerkimball commented on #13506
Yes, very nice find Ben.

On Mon, Feb 13, 2017 at 4:34 PM Peter Mattis <notifications@github.com>
wrote:

[2017-02-13 22:51] jordanlewis opened #13567 "sql: improve regproc and other regfoo OID types"
Our current support for OID types is not complete and insufficient for proper ORM compatibility. In postgres, `regproc` and other `regfoo` types have the special property of being treatable as both an `OID` integer and a string, depending on the context. It turns out that lots of ORMs use this flexible feature, so we'll need to support it.

For an example, check out these queries against `pg_type.

[2017-02-13 22:52] knz commented on #12651
Y E S — Ⓨ Ⓔ Ⓢ — Ꙅ Ǝ Y — ⒴ ⒠ ⒮

[2017-02-13 23:01] RaduBerinde commented on #12651
@knz Note that as of #13521, `COCKROACH_DISTSQL_LOG_PLAN=1` also prints out a URL that encodes the plan. The URL is not pretty, but it's convenient.

https://raduberinde.github.io/decode.html?eJzEkk9L9DAQxu_vp3h5rptDm3jqKSehHlxZvWkOtRkk0CZlksLK0u8uTXHdyuKloMeZef78WnKCD5bum54iqmeUEJAQUDACA4eWYgw8nxZhbY-oCgHnhzHNayPQBiZUJySXOkKFp-a1owM1lhgCllLjuhz-GHqqvaWjzhII7MdU_del0BJmEghj-oydxEVh-duF8i8Lv3oCW2Ky

[2017-02-13 23:02] RaduBerinde commented on #12651
BTW I was thinking of adding an `EXPLAIN (DISTSQL)` that prints out the plan JSON and this link.

[2017-02-13 23:12] knz commented on #12651
It's neat but 1) I don't want to rely on a separate public web site for this (what about privacy / confidentiality) 2) it's a single point of failure 3) it doesn't work if you're not connected to the internet.

Ideally we'd use your html/json and bake it in our UI generator.

[2017-02-13 23:24] RaduBerinde commented on #12651
Sure, I was just mentioning it because it's easier in the interim.

[2017-02-14 00:01] andreimatei commented on #12651
If this Query Inspector screen would also display tracing information, I could die a happy man :)
For context, @benesch, we have some work in progress tracing work that makes it pretty easy to get (distributed) tracing information for a query. We can talk about it if you're interested.

[2017-02-14 00:03] benmargolin commented on #13380
Actually it happened on at least 2 different tables. And I think they were both different tables than the first time (so 3 in total). Here's the schema for one of them, before the alter:
[code]

here's the alter:
`ALTER TABLE groups ADD COLUMN last_msg_ts TIMESTAMP NULL;`

I **believe** it did the exact same thing (took multiple minutes) to do this alter:
`ALTER TABLE contact_graph ADD unread_coun

[2017-02-14 02:44] jseldess opened #13571 "cli: print locality and node/store attributes to stdout on node startup"
Since `--locality` and node and store attributes are important to note for replication control, it'd be great to print those details to `stdout` on `cockroach start` alongside the other details currently printed.

Currently, on store attributes are printed as a part of the `store[n]` field:

[code]

@BramGruneir

[2017-02-14 02:51] jseldess opened #13572 "cli: way to recall the details that were printed to stdout on node startup"
When you first start a node, you get [helpful details printed to `stdout`](https://www.cockroachlabs.com/docs/start-a-node.html#standard-output). But if you want to recall those details at a later time - for example, to make sure you are using correct values in zone config constraints or to get the sql url for a running server - you're pretty much out of luck, unless you redirected logs to a file.

[2017-02-14 04:27] bdarnell commented on #13506
Digging deeper (and trying to write a test for this), it turns out that a race with a raft election is not necessarily required. Without propEvalKV, whenever a ChangeReplicas EndTransaction fails, all nodes except the one that proposed it have their in-memory state messed up. This state will affect them when/if they become leader (unless they restart first). There's an opportunity to add some addi

[2017-02-14 07:11] cockroach-teamcity opened #13574 "github.com/cockroachdb/cockroach/pkg/ccl/sqlccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149109&tab=buildLog

[code]

[2017-02-14 07:32] cockroach-teamcity commented on #13211
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149148&tab=buildLog

[2017-02-14 07:34] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149158&tab=buildLog

[2017-02-14 07:38] cockroach-teamcity commented on #11650
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149147&tab=buildLog

[2017-02-14 07:58] cockroach-teamcity opened #13575 "github.com/cockroachdb/cockroach/pkg/ccl/sqlccl: TestBackupAsOfSystemTime failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149212&tab=buildLog

[code]

[2017-02-14 08:18] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149261&tab=buildLog

[2017-02-14 08:36] cockroach-teamcity commented on #13575
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149315&tab=buildLog

[2017-02-14 09:12] cockroach-teamcity commented on #13575
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149418&tab=buildLog

[2017-02-14 09:38] cockroach-teamcity opened #13576 "github.com/cockroachdb/cockroach/pkg/ccl/sqlccl: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149521&tab=buildLog

[code]

[2017-02-14 09:55] cockroach-teamcity commented on #13525
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149559&tab=buildLog

[2017-02-14 10:13] cockroach-teamcity commented on #13575
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149626&tab=buildLog

[2017-02-14 10:25] poetix commented on #8862
Is this possibly why liquibase can't detect that the table "databasechangelog" has already been created, and fails every time it's run against cockroachdb except the first?

[2017-02-14 10:30] cockroach-teamcity commented on #13503
SHA: https://github.com/cockroachdb/cockroach/commits/40d1c60a1454453422946d63330fa0aec43d46a8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=149675&tab=buildLog

[2017-02-14 13:13] vivekmenezes commented on #13380
Any long delay is usually because of the table lease mechanism not working properly with leases not being released.

There are a number of sections in the logs that looks suspicious

the heartbeats for the lease release commands are failing

[code]

raft mutex being held for > 4 seconds

[code]

a lease was not released properly

[code]

[code]

[code]

We even override an existing schema change l

[2017-02-14 13:38] RaduBerinde commented on #13575
https://teamcity.cockroachdb.com/viewLog.html?buildId=149042&buildTypeId=Cockroach_UnitTests

[2017-02-14 13:41] RaduBerinde commented on #13016
https://teamcity.cockroachdb.com/viewLog.html?buildId=149042&buildTypeId=Cockroach_UnitTests
`soon.go:43: ccl/sqlccl/backup_test.go:509, condition failed to evaluate within 45s: The bank is not in good order. Total failures: 1`

[2017-02-14 14:26] a-robinson commented on #13576
Looks the same as #13574

[2017-02-14 14:26] #13576 closed

[2017-02-14 14:27] a-robinson commented on #13574
I'd say this is just a teamcity infrastructure issue, but the fact that both it and #13576 happened on a sqlccl test, plus the other more frequent sqlccl failures, makes me think this may be real.

[2017-02-14 14:31] a-robinson commented on #13449
Closing since it don't believe like we have any intention of doing this.

[2017-02-14 14:31] #13449 closed

[2017-02-14 14:34] a-robinson commented on #13027
@mjibson this isn't anything blocking the restore effort for now, right? At some point before release it'd be worth thinking about how this issue might affect users at their most frantic moments (i.e. when their database is down and they're trying to restore it for the first time) and what we should do to help them, whether it's documentation and help messages about how to set join flags or making

[2017-02-14 14:34] a-robinson commented on #13027
cc @jseldess

[2017-02-14 14:38] jordanlewis commented on #13574
I'd guess this is real as well, although perhaps the test using a lot of memory here is expected?

[2017-02-14 14:47] a-robinson commented on #12409
Seen in a PR build this morning - https://teamcity.cockroachdb.com/viewLog.html?buildId=149771&buildTypeId=Cockroach_UnitTests_AcceptanceProposerEvaluatedKv&tab=buildLog

[2017-02-14 15:15] bdarnell commented on #13027
This is another argument in favor of revamping the "empty join" method of initialization. Unless you go back and add the `--join` flag to the first node after initialization, your cluster is left in a more fragile state.

But requiring the `--join` flags to be a fully-connected directed graph is also setting the bar too high. We should fix this so that nodes without range 1 can accept connections

[2017-02-14 15:17] RaduBerinde commented on #13476
Hi Nathan,

How would `OrderingProperties()` differ from `Ordering()` and `orderingInfo`? `orderingInfo` already has support for "exact match" columns, which I believe what we want for constants - it's not just that they can be considered both ascending and descending, but they can also be anywhere in a desired ordering.

`orderingInfo` also has support of expressing that rows are unique w.r.t the

[2017-02-14 15:58] jordanlewis commented on #9718
This is already done.

[2017-02-14 15:58] #9718 closed

[2017-02-14 16:00] RaduBerinde commented on #13476
For reference, this is the plan and ordering info for the second example:
[code]

[2017-02-14 16:04] vivekmenezes commented on #13380
The logs point to a table lease that hasn't expired. There are plenty of these log messages:

[code]

So at least we understand what is slowing down the schema change.

[2017-02-14 16:47] mberhault commented on #13506
QPS back back permanently after `cockroach-blue-0002` was restarted (a bunch of other nodes were, but we haven't gotten to 4 yet)
![blue_fixed](https://cloud.githubusercontent.com/assets/5901480/22938958/52ea43a8-f2ab-11e6-9632-478d8103f0c3.png)

[2017-02-14 17:01] danhhz commented on #13575
This appears to be a real issue. Nothing obviously wrong though, so I'll start digging

[2017-02-14 17:04] danhhz commented on #13574
This appears to be a real issue. Test definitely shouldn't be using that much memory but something funky is pretty clearly happening. https://github.com/cockroachdb/cockroach/issues/13575 is the same issue, so closing in favor of that one

[2017-02-14 17:04] #13574 closed

[2017-02-14 17:04] pmamatsis commented on #10863
Good evening @knz,
   thank you for your prompt and quick reply. I will do this and then i will start working on the current issue.

Best regards,
Panos.

[2017-02-14 17:05] danhhz commented on #13516
This doesn't seem to be in backup/restore code. Seems to be in TestCluster or under it

[2017-02-14 17:47] cockroach-teamcity opened #13582 "teamcity: failed tests on master: testrace/TestBackupRestoreBank"
The following tests appear to have failed:

[#150042](https://teamcity.cockroachdb.com/viewLog.html?buildId=150042):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-14 18:04] nvanbenschoten commented on #13476
Radu, thanks for the explanation. After reading more about `orderingInfo` and realizing that `computeOrderingMatch` is exactly what I had been trying to implement myself (and did end up using in #13444), I think `Ordering()` fits the use case perfectly. The main issue I'm running into with my example `SELECT 1 ORDER BY 1` is what you point out: `sort.go` doesn't consistently populate `orderingInfo

[2017-02-14 18:40] a-robinson commented on #13582
https://github.com/cockroachdb/cockroach/issues/13016#issuecomment-279709587

[2017-02-14 18:40] #13582 closed

[2017-02-14 18:48] RaduBerinde commented on #13476
@knz I can take this on if there is no urgency.

[2017-02-14 19:08] knz commented on #13476
excellent. thanks

[2017-02-14 19:14] mjibson commented on #13027
At least one bug was fixed that allowed our backup work to proceed, and we successfully restored a 2TB cluster to operation without changing the data to get around this issue. So no need to keep this open for my benefit.

[2017-02-14 19:34] cockroach-teamcity opened #13583 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestBackupRestoreBank"
The following tests appear to have failed:

[#150171](https://teamcity.cockroachdb.com/viewLog.html?buildId=150171):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-14 19:36] a-robinson commented on #13583
https://github.com/cockroachdb/cockroach/issues/13016#issuecomment-279709587

[2017-02-14 19:36] #13583 closed

[2017-02-14 19:39] cockroach-teamcity opened #13584 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#150183](https://teamcity.cockroachdb.com/viewLog.html?buildId=150183):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-14 19:53] a-robinson commented on #13584
Just a flake installing yarn:

[code]

[2017-02-14 19:53] #13584 closed

[2017-02-14 20:28] #13116 closed

[2017-02-14 21:25] cockroach-teamcity opened #13588 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#150297](https://teamcity.cockroachdb.com/viewLog.html?buildId=150297):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-14 21:34] a-robinson commented on #13588
Another OOM. Probably related to #13575, but not necessarily.

[2017-02-14 21:53] vivekmenezes commented on #13380
And we also see a particular release lease that fails
[code]

So it's looking like we have an issue with raft getting busy enough that some transactions fail. When a lease release fails, it will hold up a schema change for at least 5 minutes. I'm going to continue investigating. I wonder if this is all related to these messages:

[code]

[2017-02-15 02:20] tlvenn commented on #13358
As discussed with @knz, just wanted to stress out how important this bug is.

The SQL construct `Select .. where id = ANY` is critical for many patterns especially when dealing with graphs and batching. I am using GraphQL on top of cockroachdb and batching related entities is an essential feature.

Thanks a lot in advance.

[2017-02-15 02:53] #13441 closed

[2017-02-15 02:58] tlvenn commented on #13441
Closed the issue but when you have the time I am curious on what approach you took for that wrapper to be lock free and not create contention at the same time.

[2017-02-15 07:10] cockroach-teamcity commented on #13189
SHA: https://github.com/cockroachdb/cockroach/commits/019eeb7b64386a9d751d2055d2af52f24a93ab3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=150443&tab=buildLog

[2017-02-15 07:28] cockroach-teamcity commented on #11650
SHA: https://github.com/cockroachdb/cockroach/commits/019eeb7b64386a9d751d2055d2af52f24a93ab3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=150481&tab=buildLog

[2017-02-15 07:47] cockroach-teamcity commented on #13189
SHA: https://github.com/cockroachdb/cockroach/commits/019eeb7b64386a9d751d2055d2af52f24a93ab3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=150546&tab=buildLog

[2017-02-15 08:25] cockroach-teamcity commented on #12753
SHA: https://github.com/cockroachdb/cockroach/commits/019eeb7b64386a9d751d2055d2af52f24a93ab3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=150595&tab=buildLog

[2017-02-15 08:37] cockroach-teamcity commented on #13189
SHA: https://github.com/cockroachdb/cockroach/commits/019eeb7b64386a9d751d2055d2af52f24a93ab3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=150649&tab=buildLog

[2017-02-15 09:21] cockroach-teamcity commented on #13189
SHA: https://github.com/cockroachdb/cockroach/commits/019eeb7b64386a9d751d2055d2af52f24a93ab3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=150752&tab=buildLog

[2017-02-15 09:34] cockroach-teamcity opened #13592 "storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/019eeb7b64386a9d751d2055d2af52f24a93ab3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=150801&tab=buildLog

[code]

[2017-02-15 10:25] cockroach-teamcity commented on #13189
SHA: https://github.com/cockroachdb/cockroach/commits/019eeb7b64386a9d751d2055d2af52f24a93ab3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=150958&tab=buildLog

[2017-02-15 11:12] knz opened #13593 "sql: optimize `= ANY` like `IN`"
Once arrays are supported we run into queries that select specific values with `WHERE s = ANY([a,b,c])` instead of `s IN (a,b,c)`.

We need to support them "just as well" i.e. generate the corresponding index constraints and ultimately KV lookup spans.

For reference, in pg all the `IN` expressions are converted to `= ANY()` internally, and only the latter refines index selection / point lookups.

[2017-02-15 11:13] knz commented on #13358
@tlvenn the thing is that I don't understand, is that this client code seems overly complicated to me.

In particular, why use an ANY expression when the list of values is provided by the client? The standard, much more common and ... CockroachDB-supported way to do this, is the traditional IN keyword!

Instead of: `SELECT .. WHERE s= ANY($1)` what about `SELECT .. WHERE s IN ($1, $2, ...)`?

From

[2017-02-15 13:20] tlvenn commented on #13358
Thanks for the feedback @knz.

You are correct that I would expect the ORM to use `SELECT .. WHERE s IN ($1, $2, ...)` for this kind of use cases which explains why it does not actually impact so many people.

As you pointed out, `ANY array(values)` and `IN csv(values)` is equivalent but it seems like generally speaking, one should favour `IN` over `ANY` as it leads to more predictable plans from

[2017-02-15 13:49] RaduBerinde opened #13594 "sql: revisit ordering code for ordinalityNode"
During expand plan we have one-off logic for the ordering of ordinalityNode: https://github.com/cockroachdb/cockroach/blob/b02e43f9e6d497f162cdc2fc1d72b5c9364aa00c/pkg/sql/expand_plan.go#L124

This should be better encapsulated in the node itself. The logic also needs to be revisited. We try to pass through a desired ordering even if there is a desired ordering on the ordinality column (code below

[2017-02-15 14:10] mberhault opened #13595 "beta-20170216"
The candidate SHA is 019eeb7b64386a9d751d2055d2af52f24a93ab3d
Deployed to: `blue`, `indigo`, `omega`, `rho`. Also `cobalt` and `cyan` (continuous deployment)

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [x] Check and verify cluster status
- [x] Tag release and push tag
- [x] [Trigger release build](https://teamcity.cockroachdb.com/viewType.html?buil

[2017-02-15 14:10] mberhault commented on #13595
CC: @bdarnell

[2017-02-15 14:30] #13465 closed

[2017-02-15 14:47] fishcakez commented on #13358
Using `ANY array(..)` allows the query to be parameterised, which helps prevent injection and allows prepare/bind+execute/bind+execute/bind+execute.... style optimisations. I think the queries will be planned equivalently on recent versions of postgresql. Perhaps only 9.2 of the currently supported (officially by postgresql) versions won't do it.

[2017-02-15 14:58] knz commented on #13358
Yes pg does the same, I have checked already. But CockroachDB doesn't for now. (Hence issue #13593)

[2017-02-15 15:11] jordanlewis commented on #13592
Data race in `TestSplitSnapshotRace_SplitWins`. Here's the actual issue:

[code]

[2017-02-15 15:15] tamird commented on #13592
Caused by 16fb495ce8a871330850a7b3868c6d552fb2aec2

[2017-02-15 15:53] dt commented on #13138
"Fixed" in #13471

[2017-02-15 15:53] #13138 closed

[2017-02-15 15:54] dt commented on #8345
fixed in #13439

[2017-02-15 15:54] #8345 closed

[2017-02-15 15:54] dt commented on #13399
Fixed in #13439

[2017-02-15 15:54] #13399 closed

[2017-02-15 15:55] dt commented on #11755
We seem to be doing OK without this, and I'm not that excited about introducing scm changes in automated builds.

[2017-02-15 15:55] #11755 closed

[2017-02-15 15:58] knz commented on #13594
I do not agree that the desired ordering will not be used if it gets passed through. It's pretty clear it is -- if there's an ORDER BY clause "outside" of WITH ORD on a column of the source, this way we can use that desired ordering to present the rows in the "right order" without needing to sort.

I agree there's an error about the sort order otherwise, and that the code needs be better encapsula

[2017-02-15 16:02] knz commented on #13594
Huh also I don't think there's an issue with the direction either. Regardless of the direction, the ordering columns must be dropped from the ordering constraint. Then on the way back from the recursion, the sort node (if any was required) will observe that the ordering column is not sorted in the same order as requested and decide to remain.

[2017-02-15 16:03] danhhz commented on #13189
The latest failures are all `soon.go:43: ccl/sqlccl/backup_test.go:473, condition failed to evaluate within 45s: The bank is not in good order. Total failures: 1` so I'm going to assign this to myself

[2017-02-15 16:05] petermattis commented on #13333
I ran a single-node cockroach cluster on a 8 cpu / 16 GB linux box. Over the course of 23 hours, the resident set size grew from 118 MiB to 317 MiB. But for me, this is entirely attributable to the growth in CGO memory usage (i.e. the RocksDB cache). Over that same time period, the RocksDB cache grew from 10 MiB to 206 MiB. This is despite the associated RocksDB sstable only being 7.4 MiB. I belie

[2017-02-15 16:13] cockroach-teamcity opened #13600 "teamcity: failed tests on master: test (proposer evaluated kv)/TestBackupRestoreBank"
The following tests appear to have failed:

[#151144](https://teamcity.cockroachdb.com/viewLog.html?buildId=151144):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-15 17:31] RaduBerinde commented on #13594
Sure it needs to be passed in general, the key part was "even if there is a desired ordering on the ordinality column".

I think I confused myself a bit, but there is still a point here - when we have an ordering that contains both the ordinality column and something else, we will always sort because of how we calculate `n.ordering`. Say we have a desired ordering by `a, ordinality`; there isn't m

[2017-02-15 17:41] petermattis commented on #13441
The wrapper around the local clock is not lock free, but the code inside the critical section is very tiny and isn't a bottleneck on insertion at this time.

[2017-02-15 17:49] jseldess opened #13602 "cli: expose timeuntilstoredead"
Currently, `timeuntilstoredead` is only an env variable. Based on a chat with @bdarnell, it'd be good to eventually expose this more, ideally as some sort of global configuration for the cluster instead of a flag that needs to be specified on each node. Ben suggested we could easily make it something settable with a new command similar to `cockroach zone set`.

[2017-02-15 17:50] cockroach-teamcity opened #13603 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#151242](https://teamcity.cockroachdb.com/viewLog.html?buildId=151242):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-15 17:52] jethrogb commented on #13358
ORMs do use the `= ANY` syntax, this is in fact [recommended by some](http://docs.diesel.rs/diesel/expression/expression_methods/global_expression_methods/trait.ExpressionMethods.html#method.eq_any). The main reason is that you don't have to reconstruct and prepare the query every time you do it with a varying number of elements.

[2017-02-15 18:11] benesch opened #13604 "ui: display progress of backups/restores/schema changes"
Tracking issue for displaying incremental progress of backup/restore/schema change jobs in the admin UI. See #12555 for overview.

RFC coming soon.

/cc @danhhz

[2017-02-15 18:20] a-robinson commented on #13603
yarn network error

[2017-02-15 18:20] #13603 closed

[2017-02-15 18:27] vivekmenezes commented on #13380
I've pushed a change that retries the table lease release transaction so that it has a better chance of succeeding. When it succeeds the schema change blocked on it can make progress.

Fundamentally it's worrisome that the lease release transaction is seeing the above error. It points to the transaction not finding its record which happens when it's unable to heartbeat properly. It looks like your

[2017-02-15 18:44] chandradeepak commented on #13333
Hello petermattis,
I guess this doesn't happen with a single node cluster and not definitely in one day . Our setup has a 3 node cluster and ran for one week before seeing the issue. But this is consistently reproduced in our clusters. Please let me know if you need any more logs from my side .

[2017-02-15 18:47] kuanluo commented on #13604
Photo of notes from today's meeting:
![backup-store](https://cloud.githubusercontent.com/assets/1486483/22989803/30795482-f385-11e6-8846-1d247b099929.JPG)

[2017-02-15 19:16] petermattis commented on #13333
I tested a 1 node cluster because it seems surprising that a 3 node cluster would be different. But since I can't reproduce the problem and clearly don't know what is going on, I'll try a 3 node cluster.

I'll also leave the cluster running for longer. I'll note that your logs show a steady growth in the delta between RSS and CGO total which I didn't see at all in my testing.

[2017-02-15 19:30] benmargolin commented on #13380
Well my cluster is 1 node, which I maintain is probably part of the issue
-- I suspect there's some code somewhere that really really doesn't like
single-node configs as it's not the expected situation.

Aside from that, this gets very light load overall. Currently if it hit 10
qps I'd be surprised. Most of the queries are quite simple, although some
are more complex (joins). How do I characterize

[2017-02-15 21:27] cockroach-teamcity opened #13610 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#151414](https://teamcity.cockroachdb.com/viewLog.html?buildId=151414):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-15 21:29] jordanlewis commented on #13610
Diff after `go generate`:

[code]

[2017-02-15 21:42] arjunravinarayan opened #13611 "ui: QPS in Admin UI sidebar disagrees with SQL dashboard QPS"
The sidebar rotates between ~7k-8k QPS
<img width="347" alt="screenshot 2017-02-15 16 35 44" src="https://cloud.githubusercontent.com/assets/1565833/22996455/d7439126-f39c-11e6-9ea5-dd3af91d9638.png">
However, under the SQL dashboard, the "SQL Queries" shows
<img width="863" alt="screenshot 2017-02-15 16 36 19" src="https://cloud.githubusercontent.com/assets/1565833/22996480/eefea4f4-f39c-11e6-981

[2017-02-15 21:50] a-robinson commented on #13610
Are you going to send out a PR with that change to unbreak the build or is more investigation underway?

[2017-02-15 21:53] jordanlewis commented on #13610
I wasn't going to - I'm not sure why that line changed and in the past people more familiar with the frontend investigated to see what the deal was. I could send such a PR but I'm not sure if it's correct to do so... why is there an access token in the github path for that module?

[2017-02-15 21:54] a-robinson commented on #13610
@tamird @mrtracy @maxlang

[2017-02-15 22:01] tamird commented on #13610
Doesn't seem right at all. I'll take a look in a bit if nobody beats me to
it.

On Wed, Feb 15, 2017 at 4:55 PM, Alex Robinson <notifications@github.com>
wrote:

[2017-02-15 22:01] jordanlewis commented on #13610
It went away. Sending a PR.

[2017-02-15 22:42] #13610 closed

[2017-02-15 22:43] jordanlewis commented on #13358
For reference, here's how Postgres serializes an array to the wire: https://github.com/postgres/postgres/blob/82f8107b92c9104ec9d9465f3f6a4c6dab4c124a/src/backend/utils/adt/arrayfuncs.c#L1592

[2017-02-16 07:21] cockroach-teamcity opened #13614 "github.com/cockroachdb/cockroach/pkg/ccl/storageccl: TestExport failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0ba52ff84a3e67efe3532b9119058aab8231478a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=151597&tab=buildLog

[code]

[2017-02-16 07:30] cockroach-teamcity commented on #11650
SHA: https://github.com/cockroachdb/cockroach/commits/0ba52ff84a3e67efe3532b9119058aab8231478a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=151634&tab=buildLog

[2017-02-16 07:33] knz opened #13615 "server/ui: node status can still be written after files are forcibly deleted from underneath running CockroachDB instance"
Reported from the forum: https://forum.cockroachlabs.com/t/problems-when-i-testing-the-cluster/458

"""
I was testing a cluster, have 4 nodes,

node1 localhost:26251 /data/store1
node2 localhost:26252 /data/store2
node3 localhost:26253 /data/store3
node4 localhost:26254 /data/store4

when the cluster is running, i remove all the files of the node 4 , then restart all nodes.
i found these problems:

[2017-02-16 07:38] cockroach-teamcity commented on #13504
SHA: https://github.com/cockroachdb/cockroach/commits/0ba52ff84a3e67efe3532b9119058aab8231478a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=151633&tab=buildLog

[2017-02-16 08:11] cockroach-teamcity commented on #11650
SHA: https://github.com/cockroachdb/cockroach/commits/0ba52ff84a3e67efe3532b9119058aab8231478a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=151737&tab=buildLog

[2017-02-16 09:34] cockroach-teamcity opened #13616 "Data race in multiTestContext.restartStore"
SHA: https://github.com/cockroachdb/cockroach/commits/0ba52ff84a3e67efe3532b9119058aab8231478a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=151954&tab=buildLog

[code]

[2017-02-16 10:57] clebs commented on #13327
Hello,

I would like to give this a try! It is my first look at this project but it seems quite straightforward issue and the solution is quite clear.

[2017-02-16 13:19] petermattis commented on #13615
The increase in the number of nodes from 4 to 5 is expected. By erasing the data directory for one of the nodes and then restarting it you effectively created a new node. We need to add a command to allow the removal of a node by node ID.

The `NaN`s for capacity used and unavailable ranges is unexpected and definitely a bug.

[2017-02-16 13:37] mberhault commented on #13595
clusters mostly look good. Exceptions are:
- `blue` getting a period of 0qps. most likely #13506 again
- `indigo` getting leaseless ranges, but this is a test deployment.

[2017-02-16 14:27] petermattis commented on #13392
A stray `log.Infof` in `applyRaftCommand` was the source of the slowdown. Fixing that and my experiment shows a 4% speedup from folding `{Raft,Lease}AppliedIndex` into `MVCCStats`. Doing this for real would require some sort of migration. I think I'll leave this on the back burner for now.

[2017-02-16 14:52] petermattis opened #13618 "sql: prepared statements should cache a parsed query"
Prepared statements (i.e. `sql.PreparedStatement`) currently stores the raw query string. When the prepared statement is executed, we parse the query string, bind parameters and execute. The re-parsing on every execution is conceptually unnecessary, though required due to SQL execution potentially mutating the parsed query. Is this still true? There is a comment in the code that constant literals

[2017-02-16 14:54] petermattis commented on #12309
@andreimatei This was fixed, right?

[2017-02-16 14:55] vivekmenezes commented on #13504
This is a weird bug where the table is being added in but it's already there (CPUT failure). Want to assign to someone on the SQL team?

[2017-02-16 15:00] a-robinson commented on #13616
Data race found in `TestSplitSnapshotRace_SnapshotWins`:

[code]

[2017-02-16 15:01] mberhault commented on #13595
@bdarnell: all done except for merging homebrew and pushing the version to the registration cluster (will do at the end). All yours for docs.

[2017-02-16 15:01] a-robinson commented on #13504
Yeah, that'd probably be for the best. Have a suggestion?

[2017-02-16 15:03] vivekmenezes commented on #13504
Bram wants to look at it for a bit before assigning it to someone.

[2017-02-16 15:16] petermattis opened #13620 "perf: explore use of direct IO for the RocksDB WAL"
RocksDB 5.1.2 added support for using direct IO (`O_DIRECT`) for writes. This might be a faster option than using fsync/fdatasync after writing the WAL.

[2017-02-16 15:32] petermattis commented on #12087
Reproduced this again (with difficulty):

[code]

Notice the `deadlock` tag. I'm unable to reproduce without that.

[2017-02-16 15:33] andreimatei commented on #12309
yes

[2017-02-16 15:33] #12309 closed

[2017-02-16 15:42] andreimatei commented on #13615
@petermattis if we had a way to remove a node by ID, how would one know which node ids are in this situation (likely never to come back because we're now running a different node on that machine)? Should the UI help identify them?

[2017-02-16 15:49] bdarnell commented on #13595
Docs are updated: https://www.cockroachlabs.com/docs/beta-20170216.html

[2017-02-16 16:01] mberhault commented on #13595
@jess-edwards, @swatikumar16: binaries released and docs updated, it's all yours.

[2017-02-16 16:02] danhhz commented on #13189
@dt can you take this one? I'm buried in these right now

[2017-02-16 16:08] cockroach-teamcity opened #13622 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestRaceWithBackfill"
The following tests appear to have failed:

[#152375](https://teamcity.cockroachdb.com/viewLog.html?buildId=152375):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-16 16:13] tamird commented on #13622
Introduced in af26b175ef8227787d4f5e228bc92c2331f6f7e2

[2017-02-16 16:21] jess-edwards commented on #13595
Thanks @mberhault

@swatikumar16 please prepare the email and forum post.

[2017-02-16 16:27] swatikumar16 commented on #13595
On it

On Feb 16, 2017 11:21 AM, "jess-edwards" <notifications@github.com> wrote:

[2017-02-16 16:39] tamird commented on #13541
I am able to reproduce this.

[2017-02-16 16:48] tamird commented on #13541
The trouble seems to be that these iptables rules are specifically simulating a network partition via dropped packets (note my nodes are named `roach{0..2}`)
[code]

So roach0 still thinks it's connected to the other nodes. Indeed, the other nodes think so as well:
[code]

[code]

roach0's log:
[code]

roach1's log:
[code]

roach2's log:
[code]

[2017-02-16 16:55] petermattis commented on #13541
But shouldn't the dropped packets eventually result in the majority side of the partition declaring the minority side dead via the lack of node liveness updates?

[2017-02-16 17:05] tamird commented on #13541
Looks like we just needed to wait long enough. The unavailability window lasted from 4966s to 5905s of runtime. So 15m to recovery.

[2017-02-16 17:08] tamird commented on #13541
The recovery appears to coincide with a smattering of similar messages in all three nodes' logs:

[code]

[2017-02-16 17:10] tamird commented on #13541
Removing the network partition causes the isolated node to recover instantly (after a flurry of snapshots), so that's something.

[2017-02-16 17:21] bdarnell commented on #13541
We don't close the loop and abandon GRPC requests when a node is no longer live. It takes a long time for the TCP stack to detect a broken connection based on timeouts alone (it's faster if there's something in the path that can send RST packets instead of just dropping everything on the floor). Something is apparently sitting on the GRPC connection (and not retrying other nodes) until it either f

[2017-02-16 17:23] tamird commented on #13541
f74137a33251e1a42b3becd1c2cc73b8335dd007

[2017-02-16 17:35] tamird commented on #13541
Partitioning a node which has no raft leaders (and presumably no range leaseholders) does not result in cluster-wide unavailability. However, healing that partition causes a blip in availability:
[code]

Healing the partition almost immediately after create it produces an even worse result:
[code]

[2017-02-16 17:39] dt opened #13624 "sqlccl: support placeholders in `BACKUP ... TO $1`?"
haven't looked to see how hard / possible this would be, but it'd be nice since those destination URLs can be pretty gnarly.

[2017-02-16 18:07] tamird commented on #13541
OK, back to partitioning away a node which holds some raft leadership and range leases. I partitioned roach1, which held approximately half the ranges' raft leadership and range leases (importantly, it was not the leader of range 1).

Pretty soon into the event (a few minutes at most) both roach0 and roach2 correctly took over roach1's expired range leases. Surprisingly, roach1 continues to report

[2017-02-16 18:29] cuongdo commented on #13546
should this be closed?

[2017-02-16 18:31] jordanlewis commented on #13546
No - we have no-op stubs for these functions, but as Ben points out, we probably shouldn't just pretend that they work correctly.

[2017-02-16 18:36] petermattis commented on #13541
When `roach1` is partitioned, I would expect that Raft leadership would migrate to other nodes in a handful of seconds and expiration-based leases would migrate within 10 seconds. Part of this is dependent on there being traffic to the ranges (as node liveness isn't hooked up to range quiescence yet). But assuming there is traffic, those are the time frames we should be seeing. That you're seeing

[2017-02-16 18:36] arjunravinarayan opened #13627 "perf: denim running loadgen/YCSB shows latency degradation"
Azure cluster denim has been running YCSB for a week now, and query latency has slowly degraded to the point where median execution latency is ~200ms, and 99%ile latency is in multiple seconds(!) for multiple nodes. One of the nodes (node 3), however, is still performing well with ~15ms execution latency. Performance has steadily degraded every day. Note that there are other bugs as well on denim,

[2017-02-16 18:48] dianasaur323 opened #13628 "sql: log completed (perhaps ongoing too ) schema updates in a table that can be queried by users"
Users need to view and query a history of changes to tables. They also want to be able to garbage collect entries. This supports use cases where transactions fire off notifications that result in a change in another system. These notifications need to be consistent - as in, upon failure, users need to be able to check to change table to see if all changes have been captured.

MySQL and PostgreSQL

[2017-02-16 19:25] tamird commented on #13628
I think we need a bit more detail here. Whose failure, CRDB or the external system? What is the user checking, exactly? Why can't they use `AS OF SYSTEM TIME` queries to satisfy this use case?

Can you link to these implementations? There are various things that sound roughly similar to what you're describing here, but no exact matches.

[2017-02-16 19:38] cockroach-teamcity opened #13630 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#152619](https://teamcity.cockroachdb.com/viewLog.html?buildId=152619):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-16 19:40] jordanlewis commented on #13630
Good ol' #12094

[2017-02-16 19:40] #13630 closed

[2017-02-16 20:44] #13622 closed

[2017-02-16 20:52] petermattis opened #13632 "sql: search path lookup is expensive"
Discovered in https://github.com/cockroachdb/loadgen/pull/19.

If a query does not explicitly specify the database for a table, `planner.QualifyWithDatabase` performs a search path lookup:

[code]

The call to `planner.searchAndQualifyDatabase` is extremely expensive. For a single-node `ycsb` run, I see 6,200 ops/sec if the read query is:

`SELECT * FROM usertable WHERE ycsb_key=%d`

And 14,700 op

[2017-02-16 21:07] cockroach-teamcity opened #13633 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#152791](https://teamcity.cockroachdb.com/viewLog.html?buildId=152791):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-16 21:12] a-robinson commented on #13633
#12094

[2017-02-16 21:12] #13633 closed

[2017-02-16 21:22] niyazpk opened #13634 "Change the name!"
CockroachDB is not a good name. You have a great product going on here. I think the name is going to be a big hindrance for adoption.

I cannot suggest my team to evaluate CockroachDB for our use-cases without people flinching their face hearing the name. I'd like people to evaluate the DB for its merits, but that becomes difficult if they associate the product with low-quality, even before the ev

[2017-02-16 21:40] UnnoTed commented on #13634
There is a past of people complaining about the name...

[2017-02-16 22:01] petermattis commented on #13615
Hopefully this would be indicated in the UI somehow. We'd certainly see that one of the nodes is not live, but there is probably something better that could be done. For example, identify that one of the nodes is not live and that a live node is using the same IP address and port as the dead node.

[2017-02-16 22:13] crudbug commented on #13634
RoachDB  !

[2017-02-16 22:35] wendigo commented on #13634
CouchDB - you're lazy dev, MySQL - selfish, Oracle - too much Matrix... :trollface:

I really like CocroachDB name. Sounds pretty badass 😎

[2017-02-16 23:58] vivekmenezes commented on #13634
yeah we know what happened to python the language too!

[2017-02-16 23:58] #13634 closed

[2017-02-17 04:40] ravikumarsureshbabu commented on #13005
@bdarnell . I was running the benchmarking excluding the machine that caused the crash. But I got the crash on the machine on new machine for the first time. I have [attched](https://drive.google.com/open?id=0B67gNopmZZGeYlFtNWxXYlBPMGM) the cockroach-data folder, if it helps you on this issue.

[2017-02-17 05:53] nvanbenschoten commented on #13327
Great @clebs! I've gone ahead and assigned you to the issue. Please update accordingly and reach out if you have any questions.

[2017-02-17 07:04] nvanbenschoten commented on #13412
I agree. I created #13637 as a temporary patch to this issue.

However, I don't think we should close this yet even with that change because I think in the long term we will want to revisit your second suggestion. The reason that suggestion is tricky is because "looking at whether there is a `PrefixEnd`" is not trivial. Imagine an encoded decimal with a `PrefixEnd` applied, for instance. This will

[2017-02-17 07:36] cockroach-teamcity commented on #13211
SHA: https://github.com/cockroachdb/cockroach/commits/daacbc9a0f3c1c045a763c31cd3b1d1f010c3e3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=152968&tab=buildLog

[2017-02-17 09:09] cockroach-teamcity opened #13639 "github.com/cockroachdb/cockroach/pkg/storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/daacbc9a0f3c1c045a763c31cd3b1d1f010c3e3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=153186&tab=buildLog

[code]

[2017-02-17 09:28] knz commented on #13412
What about maintaining the length of the encoded data in the key alongside with the key value?

[2017-02-17 09:38] knz opened #13640 "sql: support error handling during result aggregations"
Currently the mechanism that accumulates results in the "aggregate function holders" does not support handling errors. So errors that happen during the aggregation operation have nowhere to go.

This is a problem, as found in #9709 and https://github.com/cockroachdb/cockroach/pull/13551#issuecomment-280570633.

[2017-02-17 09:38] knz commented on #9709
Note this is an instance of #13640.

[2017-02-17 09:46] cockroach-teamcity opened #13641 "github.com/cockroachdb/cockroach/pkg/storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/daacbc9a0f3c1c045a763c31cd3b1d1f010c3e3d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=153290&tab=buildLog

[code]

[2017-02-17 09:56] knz opened #13642 "sql: float log and sqrt are inconsistent in their error handling"
Currently the float `log` builtins report a NaN result for negative arguments, whereas `sqrt` causes an error.

Meanwhile the decimal builtins all report an error for invalid arugments.

Either errors or NaNs are probably fine, but probably the behavior should be the same for float and decimal by default.

(perhaps the other functions have a similar problem as well)

The naive short-term solution

[2017-02-17 12:03] knz opened #13643 "sql/parser: some fields of sqlSymType are unused"
I was investigating the output provided by go-yacc and I found that the fields `id`, `pos` and `empty`, defined in `sql.y`'s `%union` clause, are unused. This also means the corresponding code in `scan.go` can be modified to use a local variable instead.

cc @nvanbenschoten

[2017-02-17 13:00] clebs commented on #13327
Cool thanks! I will be studying the PID files you mentioned and follow them as guideline.

The only question I currently have is:
You mention "a well-known location" in the description, is this a particular folder by convention or should the user be able to define it himself?

[2017-02-17 13:48] #10779 closed

[2017-02-17 13:56] mberhault commented on #13447
omega-0006 jumped back 6s for about 2.5 hours.
started at 2017-02-17 04:41:50, ended by itself at 07:15:20
<img width="1432" alt="screen shot 2017-02-17 at 8 54 13 am" src="https://cloud.githubusercontent.com/assets/5901480/23067830/fde35944-f4ee-11e6-8a71-521de81bacd7.png">

[2017-02-17 14:10] #13632 closed

[2017-02-17 14:19] a-robinson commented on #13639
Dupe of #13616

[2017-02-17 14:19] #13639 closed

[2017-02-17 14:20] a-robinson commented on #13641
Dupe of #13616, just in a different test (TestStoreRangeLeaseSwitcheroo)

[2017-02-17 14:20] #13641 closed

[2017-02-17 14:20] petermattis commented on #13541
Per in-person discussion with @tamird yesterday, I bet what is happening is that the `DistSender` retry loop isn't reactivating when the lease changes hands. Consider a request which occurs right after the partition occurs and is targeted at a range for which the leaseholder is on `roach1` (the partitioned node). `DistSender` will eventually send to all 3 replicas, 2 of which will reply that they

[2017-02-17 14:34] a-robinson commented on #13616
Introduced by 16fb495ce8a871330850a7b3868c6d552fb2aec2. It's possible that the `heartbeatCallback` should just be wrapped in a mutex, but @mrtracy should have more context on what makes sense.

[2017-02-17 14:45] vivekmenezes opened #13645 "sql: contention around writing backfill job checkpoint"
When running a large schema change on a GCE cluster I've observed contention around the checkpoint writes. This can easily be solved by adding a jitter to each backfillers write checkpoint deadline.

[code]

[2017-02-17 15:14] RaduBerinde opened #13646 "sql,distsql: alter_table logic test failure with fake span resolver"
I am trying to make logic tests to run with DistSQL + fake span resolver in a 3 node testcluster.

I am seeing a failure for https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/testdata/alter_table#L477

[code]

The statement doesn't hit the expected error:
[code]

I am guessing it is the new backfiller. I have pushed a temporary branch to the repo https://github.com/cockroachdb/cockroach

[2017-02-17 15:15] RaduBerinde commented on #13377
Depends on #13646, #13371.

[2017-02-17 15:27] vivekmenezes commented on #13646
I'm gonna be out on vacation starting today so I might not be able to get to it.

[2017-02-17 15:31] RaduBerinde commented on #13646
No problem, we can take a look. From the logs it looks like the nodes are hitting the error so maybe it's just a matter of plumbing the error. A general question though - is an `ALTER TABLE` statement that adds a column supposed to wait until the backfill is complete?

[2017-02-17 15:45] vivekmenezes commented on #13646
Yes the ALTER TABLE statement will wait until the backfill is complete. I'd
change the name of the column in the test so you can at least see if its
hitting the error

On Fri, Feb 17, 2017 at 10:32 AM RaduBerinde <notifications@github.com>
wrote:

[2017-02-17 15:53] vivekmenezes commented on #13380
@benmargolin this issue should be fixed with the commit I merged today (available on next weeks beta). I'm not closing this issue because we are concerned about some transactions not completing in the logs. I've just made the schema change code more robust against those failures, but I worry we're papering over the underlying issue.

[2017-02-17 16:28] dianasaur323 commented on #13628
Ok - I followed up on this. It looks like it's mainly PostgreSQL extensions that support this capability.

Here's a link that goes into further detail: https://www.confluent.io/blog/bottled-water-real-time-integration-of-postgresql-and-kafka/

[2017-02-17 16:36] benmargolin commented on #13380
Got it, thanks for the investigation and attempted fix. Will try to upgrade when new beta is out.

[2017-02-17 18:40] jordanlewis opened #13651 "sql: arrays can't be cast to their own type"
[code]

[2017-02-17 19:35] petermattis commented on #13627
I'm still investigating `denim`, but so far the investigation has produced:
* https://github.com/cockroachdb/loadgen/pull/19 which removed unnecessary KV reads when qualifying table names. https://github.com/cockroachdb/cockroach/pull/13635 fixed the issue in CockroachDB
* https://github.com/cockroachdb/loadgen/pull/21 which was causing connection thrashing. While the overhead of TLS is reasonable

[2017-02-17 19:41] petermattis commented on #13627
![screen shot 2017-02-17 at 2 40 43 pm](https://cloud.githubusercontent.com/assets/6201335/23080538/1ec973b6-f51f-11e6-97bc-fa8e4a32aa60.png)

[2017-02-17 20:40] vivekmenezes opened #13655 "distsql: avoid dead nodes"
I'm seeing an index backfill not terminating because it keeps hitting the same error. I've not had the time to debug this issue but it's certainly reproducible and definitely a bug introduced in the move of index backfilling to use the distsql framework. I see some grpc connection failures, which could be the reason for this.

[code]

[2017-02-17 20:57] nvanbenschoten commented on #13412
Yeah, something like that could work, although at that point it might make more sense to just ship around the `Datum` value and an `inclusive` flag with the encoded key instead.

[2017-02-17 21:27] nvanbenschoten commented on #13327
I'm not actually sure what we'd like the default/suggested location to be. @bdarnell?

[2017-02-17 21:34] nvanbenschoten commented on #13643
The only field that I'm seeing that's unused is `empty`, which is an empty struct that takes up no space. You can check this by modifying the generated `sql.go` and seeing if it compiles. Do you mind expanding on how you "found that the fields `id` and `pos` are unused".

[2017-02-17 22:03] #10713 closed

[2017-02-17 22:03] #13358 closed

[2017-02-17 23:01] #13575 closed

[2017-02-17 23:01] #13588 closed

[2017-02-17 23:01] #13614 closed

[2017-02-18 00:30] gpaul opened #13659 "--insecure flag description is confusing"
From the CLI help output it seems `--insecure` defaults to `true`, which contradicts its own description.

[code]
Note the last line.

[2017-02-18 00:33] tamird commented on #13659
Everything there is accurate, but it is slightly confusing. The flag controls the server's acceptance of non-TLS connections, and defaults to true.

However, if you want the server to listen for non-TLS connections on an external address (i.e. not localhost), you must explicitly specify the flag.

[2017-02-18 00:53] bdarnell commented on #13327
There would be no default; this feature would only be used when the user opted in and provided their own filename (which they would coordinate with whatever client they're using). The traditional home for files like this would be `/var/run` if it's a production service, although since this feature is primarily intended for use in testing environments its more likely to be somewhere under `/tmp/`.

[2017-02-18 01:02] gpaul commented on #13659
Thanks for the clarification. Is specifying the COCKROACH_INSECURE=true environment variable sufficient or does it specifically require the command line flag?

[2017-02-18 01:18] bdarnell commented on #13005
What about the logs (there's a logs directory in the tarball but the logs in it are old and don't show any errors)? What was the error message? Same "bad entry in block" as before? Or "block checksum mismatch" (which is what I see now as I look at these files)?

"Block checksum mismatch" is the expected error message for disk corruption, so it's slightly better that we're seeing that instead of "b

[2017-02-18 01:44] ivan commented on #13628
For PostgreSQL there is this extension https://github.com/arkhipov/temporal_tables and some usage information at http://clarkdave.net/2015/02/historical-records-with-postgresql-and-temporal-tables-and-sql-2011/

[2017-02-18 02:07] tlvenn commented on #13358
Thanks a lot @jordanlewis !

[2017-02-18 02:12] tlvenn commented on #13593
Hi @cuongdo, I just wanted to emphasis that per the discussion in #13358, the usage of `ANY` is not as exotic as one may think and many ORMs will favour it over the more conventional `IN` syntax.

So this should impact the overall performance big picture on the read side of things.

[2017-02-18 07:41] cockroach-teamcity commented on #12753
SHA: https://github.com/cockroachdb/cockroach/commits/c6ff3bd6143cc25e0026b480f03dfdb213b3308d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=154090&tab=buildLog

[2017-02-18 09:08] cockroach-teamcity opened #13662 "github.com/cockroachdb/cockroach/pkg/storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/c6ff3bd6143cc25e0026b480f03dfdb213b3308d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=154298&tab=buildLog

[code]

[2017-02-18 09:36] cockroach-teamcity opened #13664 "github.com/cockroachdb/cockroach/pkg/storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/c6ff3bd6143cc25e0026b480f03dfdb213b3308d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=154402&tab=buildLog

[code]

[2017-02-18 10:42] cockroach-teamcity commented on #13504
SHA: https://github.com/cockroachdb/cockroach/commits/c6ff3bd6143cc25e0026b480f03dfdb213b3308d

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=154599&tab=buildLog

[2017-02-18 20:19] RaduBerinde opened #13665 "distsql: testing infrastructure"
This issue tracks adding better testing infrastructure for DistSQL.  In a gist, we want to be able to easily set up tests like those in [TestDistSQLPlanner](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/distsql_physical_planner_test.go#L75) from logic test files.
Once available, we should switch over these tests to the new infrastructure.

The two major things we want:
 - a way to s

[2017-02-18 20:40] RaduBerinde opened #13666 "distsql: tracking issue for enabling DistSQL by default"
TODO list for getting all our ducks in a row for enabling DistSQL in "auto" mode. Feel free to add as needed. CC @andreimatei @cuongdo

Correctness:
- [x] logic tests on multi-node cluster with fake span resolver #13377
- [x] nightly bigtests on distsql (@andreimatei)
- [x] tests for auto mode determination (probably via a special EXPLAIN mode - #13674)
- [x] versioning #13801
- [x] retryable erro

[2017-02-18 22:19] a-robinson commented on #13662
#13616

[2017-02-18 22:19] #13662 closed

[2017-02-18 22:19] a-robinson commented on #13664
#13616

[2017-02-18 22:19] #13664 closed

[2017-02-19 02:55] cockroach-teamcity opened #13669 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#154797](https://teamcity.cockroachdb.com/viewLog.html?buildId=154797):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-19 03:20] #13442 closed

[2017-02-19 04:14] jordanlewis commented on #13669
Flaky network caused yarn to fail

[2017-02-19 04:14] #13669 closed

[2017-02-19 07:36] cockroach-teamcity commented on #12753
SHA: https://github.com/cockroachdb/cockroach/commits/db708c3533e3aec98e67f948d937ae139c4aeaaa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=154943&tab=buildLog

[2017-02-19 07:41] ijt opened #13670 "Build failure"
**BUG REPORT**

- What did you do?

On my Mac laptop:
$ cd $GOPATH/src
$ git clone https://github.com/cockroachdb/cockroach.git
$ cd cockroach
$ make

- What did you expect to see?

a successful build of cockroach db.

- What did you see instead?

Makefile:278: .bootstrap: No such file or directory
installing githooks/post-checkout
installing githooks/post-merge
installing githooks/post-rewrite
gi

[2017-02-19 07:49] ijt commented on #13670
Never mind. It has to be in $GOPATH/src/github.com/cockroachdb/cockroach.

[2017-02-19 07:49] #13670 closed

[2017-02-19 08:17] cockroach-teamcity commented on #12753
SHA: https://github.com/cockroachdb/cockroach/commits/db708c3533e3aec98e67f948d937ae139c4aeaaa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=155047&tab=buildLog

[2017-02-19 09:03] cockroach-teamcity opened #13671 "github.com/cockroachdb/cockroach/pkg/storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/db708c3533e3aec98e67f948d937ae139c4aeaaa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=155151&tab=buildLog

[code]

[2017-02-19 09:38] cockroach-teamcity opened #13672 "github.com/cockroachdb/cockroach/pkg/storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/db708c3533e3aec98e67f948d937ae139c4aeaaa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=155256&tab=buildLog

[code]

[2017-02-19 10:42] cockroach-teamcity commented on #12753
SHA: https://github.com/cockroachdb/cockroach/commits/db708c3533e3aec98e67f948d937ae139c4aeaaa

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=155464&tab=buildLog

[2017-02-19 12:34] knz commented on #13651
Note for implementer: there's a commented test for this already in `pgwire_test.go`.

[2017-02-19 13:55] #13371 closed

[2017-02-19 14:46] RaduBerinde opened #13674 "distsql: add `EXPLAIN(DIST_SQL)`"
Add a `DIST_SQL` mode to `EXPLAIN`. From the output, one should be able to gather:
 - whether the query is supported by distsql
 - if it is supported, whether distsql would be used in "auto" mode
 - if it is supported, the JSON and URL for the physical plan (see `COCKROACH_DISTSQL_LOG_PLAN`).

[2017-02-19 14:49] RaduBerinde commented on #13674
We probably also want a short version that only tell us the auto mode determination ("yes", "no", "not supported") to allow writing tests for this.

[2017-02-19 17:50] jordanlewis commented on #13499
dupe of #12753

[2017-02-19 17:50] #13499 closed

[2017-02-19 17:51] jordanlewis commented on #13470
This is blocked on #13567

[2017-02-19 21:33] RaduBerinde opened #13675 "sql: backfill.go crashes when verbosity=2"
The backfill code sets up a dummy planner that does not have a context. This causes crashes in `getTableLeaseByID`, `releaseLeases`.

[code]

[2017-02-19 23:16] RaduBerinde commented on #13646
This code is very hard to debug. It could also use more comments - for example, it took me a while to understand the non-trivial logic behind the way we update the resume span here (and I'm still not quite sure I understand correctly): https://github.com/cockroachdb/cockroach/blob/4945ed5155693dbc8a9006c0cc9e7f07cbd12543/pkg/sql/backfill.go#L247

Anyway, the statement is this:
`ALTER TABLE add_def

[2017-02-20 03:16] a-robinson commented on #13671
#13616

[2017-02-20 03:16] #13671 closed

[2017-02-20 03:16] a-robinson commented on #13672
#13616

[2017-02-20 03:16] #13672 closed

[2017-02-20 08:08] cockroach-teamcity commented on #13504
SHA: https://github.com/cockroachdb/cockroach/commits/3ab36acad3d829af7d16322bf982bae0e74cd76a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=155864&tab=buildLog

[2017-02-20 08:10] cockroach-teamcity commented on #11650
SHA: https://github.com/cockroachdb/cockroach/commits/3ab36acad3d829af7d16322bf982bae0e74cd76a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=155865&tab=buildLog

[2017-02-20 09:26] cockroach-teamcity opened #13677 "github.com/cockroachdb/cockroach/pkg/storage: (unknown) failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/3ab36acad3d829af7d16322bf982bae0e74cd76a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=156084&tab=buildLog

[code]

[2017-02-20 14:15] vivekmenezes commented on #13646
What's happening here I believe is that the column backfill is succeeding but the index backfill is failing. Now when the column backfill succeeds it leaves no marker that it has succeeded (it depends on the schema change being upgraded, but that is hinged on the index backfill succeeding). Without the marker, it restarts the column backfill from scratch. The index backfill on the other hand has p

[2017-02-20 14:31] RaduBerinde commented on #13646
That sounds right - the final values in the table are all from the last retry.

[2017-02-20 15:35] mberhault commented on #13447
Per discussion with Google folks, the OS image we were running had a problem, missing the clock sync process upon migrations. I've restart omega with a newer image and confirmed that the process is running.

I also tried without ntp, but even one hour showed that it's not reasonable:
<img width="1435" alt="screen shot 2017-02-20 at 10 32 52 am" src="https://cloud.githubusercontent.com/assets/59014

[2017-02-20 16:50] jordanlewis commented on #13677
Data race in `TestSplitSnapshotRace_SplitWins`.

[code]

[2017-02-20 19:06] a-robinson commented on #13677
#13616

[2017-02-20 19:06] #13677 closed

[2017-02-20 22:34] petermattis opened #13679 "perf: single-node read performance bottleneck"
I noticed an oddity while testing single-node "speed of light" read performance on a 32-node GCE machine: performance maxes out at 25k ops/sec for a single process even though the machine is 60% idle. Adding a second separate cluster to the machine with its own load generator and both load generators can hit 20k ops/sec and the machine is <10% idle. Load generation was performed using:

[code]

Th

[2017-02-20 22:47] petermattis commented on #13679
PS I also tried doubling and tripling the concurrency from a single load generator, but that did not improve throughput and started to have a negative effect on latency.

[2017-02-21 02:56] petermattis commented on #13679
go1.8 mutex profiles show `Store.send`, `Replica.Send`, `Replica.addReadOnlyCmd, `storage.endCmds.done`,  and `uuid.MakeV4` as points of contention. If I'm reading the profile correctly, over a 15s run we spent 750ms blocked in `Replica.IsInitialized` (called from `Store.Send`). Seems like there are parts of readonly command execution that could benefit from `sync.RWMutex` and read locks.

[2017-02-21 05:47] tlvenn opened #13682 "Instrumenting / Tracing CockroachDB with Opentracing"
In the light of the performance effort you are going through at the moment, I was wondering if had considered using something like http://opentracing.io/ to instrument/trace CockroachDB ? Given the distributed nature and the layer approach of CockroadDB, it seems like it could be a good idea.

People building app with CockroachDB could also use opentracing and have a full picture of what is happen

[2017-02-21 06:47] tlvenn commented on #13682
![opentracing_io](https://cloud.githubusercontent.com/assets/3340262/23153618/8e630d72-f844-11e6-9116-3e569940848b.jpg)

That made me laugh ;) So looks like it's already taken care of :)

[2017-02-21 07:26] cockroach-teamcity commented on #13504
SHA: https://github.com/cockroachdb/cockroach/commits/3ab36acad3d829af7d16322bf982bae0e74cd76a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=156466&tab=buildLog

[2017-02-21 07:59] #13616 closed

[2017-02-21 08:02] tschottdorf commented on #13545
I ran into this too and wasted time diagnosing this, and so will many others trying out an unsupported ORM, so would be good to fix.

[2017-02-21 08:02] cockroach-teamcity commented on #11650
SHA: https://github.com/cockroachdb/cockroach/commits/3ab36acad3d829af7d16322bf982bae0e74cd76a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=156571&tab=buildLog

[2017-02-21 08:04] cockroach-teamcity commented on #13504
SHA: https://github.com/cockroachdb/cockroach/commits/3ab36acad3d829af7d16322bf982bae0e74cd76a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=156570&tab=buildLog

[2017-02-21 08:11] cockroach-teamcity opened #13683 "github.com/cockroachdb/cockroach/pkg/sql/pgwire: TestPrepareSyntax failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/3ab36acad3d829af7d16322bf982bae0e74cd76a

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=156577&tab=buildLog

[code]

[2017-02-21 08:25] tschottdorf commented on #10735
`diesel-rs` also uses savepoints for everything with the vanilla PG-backend, and while it's not an extremely widespread ORM (or so I suspect), I also had the impression that going with @bdarnell's suggestion above would make the most sense as I can't picture how we would "properly" implement savepoints on top of the current architecture, even in the longer term. Making it so that a failed subtrans

[2017-02-21 08:32] nvanbenschoten opened #13684 "client: support concurrent Batch execution on client.Txn objects"
One of the larger tasks needed for #13160 is to support running concurrent `client.Batch`
objects on a single `client.Txn` from different goroutines. Initial attempts at supporting this
have consisted of mechanical changes to synchronize access to transaction state, because the underlying transaction model was designed to support a concurrent execution model for most operations. This extends from

[2017-02-21 08:39] tschottdorf commented on #13682
Hi Christian,

yep, CockroachDB is indeed using OpenTracing already. 😀
Try it out -- I'd be curious to hear whether it gives you the info you're looking for.

[2017-02-21 08:39] #13682 closed

[2017-02-21 09:13] tschottdorf opened #13686 "sql: `create table x; begin; drop table x; create table x`: relation `x` already exists"
I believe this was discussed somewhere already, but wasn't able to find it. It's perhaps similar in spirit to #13505.

The problem is (presumably) that the table is really only dropped when the transaction commits, but the recreation in the same txn explicitly requires it to be (assumed) gone before commit.

Found while trying to use `diesel-rs`, which reliably triggers this with when following ht

[2017-02-21 09:14] nvanbenschoten commented on #13686
IIRC, @andreimatei is intimately familiar with this issue.

[2017-02-21 09:20] tlvenn commented on #10735
Could you maintain some kind of log per transaction where savepoints are acting as markers and when a rollback to a given savepoint is requested, you would rollback the txn and then start another followup txn at the same timestamp replaying the log until the marker is reached ?

[2017-02-21 09:36] tschottdorf commented on #10735
You could, but that seems dangerous (`begin; /* 1000mb of inserts */; savepoint; something_that_errors`) and the only difference is that the server replays, not the client. The server would unconditionally have to buffer everything as it can never be certain that there won't be a future savepoint.

[2017-02-21 11:25] vivekmenezes commented on #13646
I haven't looked at the code, but it's most likely the case that a conflicting index key is being hit on a remote node, which is returning an error to the gateway node, but the gateway node is unable to interpret the conflicting index key error as a constraint violation, and treats it as a retry error. This retry error cannot be resolved and it just keeps retrying until the test times out. The sol

[2017-02-21 13:44] a-robinson commented on #13686
Yeah, we already have some discussion about this on #12123.

[2017-02-21 13:44] #13686 closed

[2017-02-21 13:45] a-robinson commented on #13504
This should probably be skipped given how much it's been failing lately, but I'm worried it may fall through the cracks. @BramGruneir, can you make sure this gets looked at soon, regardless of who's doing the looking?

[2017-02-21 13:46] a-robinson commented on #13683
#9971

[2017-02-21 13:46] #13683 closed

[2017-02-21 13:56] BramGruneir commented on #13504
Yeah, it seems to be happening more often.  I'll push a skip pr once I get
in and look at it today.

On Feb 21, 2017 8:45 AM, "Alex Robinson" <notifications@github.com> wrote:

[2017-02-21 14:00] #13595 closed

[2017-02-21 14:09] mberhault commented on #13506
Still seeing zero QPS due to leader-not-leaseholder on blue:
![blue-zero-qps](https://cloud.githubusercontent.com/assets/5901480/23168200/5886a2ec-f815-11e6-8b11-49fd6d653f45.png)

Found some wedged requested going as far back as 13:00, which is shortly after blue-003 came back up from its chaos event:
[code]

Range details:
[code]

[2017-02-21 14:10] mberhault commented on #13506
silencing blue for now.

[2017-02-21 14:13] mberhault opened #13687 "stability: investigate indigo issues"
Indigo keeps breaking, throwing everything from zero-qps, liveness != nodes_ups, and leader-not-leaseholder alerts.

Alerts are currently silenced.

[2017-02-21 14:28] mberhault commented on #13506
blue-0002 threw a change-replica error, similar to what Ben found before his fix (we're running sha 1d12c5c)

[code]

This is during the chaos event on blue-0003:
[code]

[2017-02-21 15:47] RaduBerinde opened #13689 "sql,distsql: inconsistent aggregation results with DistSQL"
I am seeing a few aggregation logic tests occasionally fail when DistSQL is enabled on a 3 node cluster (with fake span resolver). This happens both with and without the apd change #13551.

[code]
This comes just from STDDEV/VARIANCE processing arguments in a different order. Indeed, we can reproduce on regular sql using:
[code]

This is an incorrect<sup>1</sup> result. I think that whatever outpu

[2017-02-21 15:48] BramGruneir commented on #13687
So indigo was running with a .default set to:
[code]

I've removed this, but I keep seeing the same issue in the logs:
E170221 15:45:51.901299 110 storage/queue.go:628  [raftsnapshot,n1,s1,r6882/2:/System/tsd/cr.node.{cl…-di…},@c434d5d880] [n1,s1,r6882/2:/System/tsd/cr.node.{cl…-di…}]: change replicas aborted due to failed preemptive snapshot: r6882: remote couldn't accept snapshot with error: [n8

[2017-02-21 16:11] andreimatei commented on #13682
If you have a lightstep account, you can start crdb with the `COCKROACH_LIGHTSTEP_TOKEN=<xxx>` env var, and you'll get distributed traces in Lightstep. Otherwise, opentracing is also what `EXPLAIN TRACE (SELECT ...)` uses to gather its results. We're also working on niftyer built-in query tracing capabilities.

[2017-02-21 16:14] tlvenn commented on #13682
awesome, thanks for the additional info @andreimatei !

[2017-02-21 16:15] knz commented on #13689
It's a bug, and it's bad :)

[2017-02-21 16:31] andreimatei commented on #13684
The disadvantage of option a) is that all requests within on txn would need to wait for the first write batch to complete, right?

I've got a probably stupid question - with option b), why exactly do we need to send a `BeginTransactionRequest` multiple times (with multiple batches)? Can't the client just remember the fact that it has already sent one request with a `BeginTxnReq` and, even if that

[2017-02-21 17:29] nvanbenschoten commented on #13684
Right, the main downside is that we would need to limit concurrency for transactions before the `BeginTransactionRequest` has been sent and acknowledged. This requires some generally ugly handling of batches that may overlap, and it would be nice to avoid by improving the underlying model instead.

There were two reasons why I didn't think what you proposed was possible. First, I didn't realize th

[2017-02-21 18:01] #13524 closed

[2017-02-21 18:09] bdarnell commented on #13684
The storage layer does (mostly) support transactional writes that occur before BeginTransaction has finished. These writes can occur naturally with the way that DistSender splits up batches (BeginTransaction is not guaranteed to be in the first batch). However, when this happens the transaction is vulnerable to being aborted since it automatically loses any pushes that occur before its transaction

[2017-02-21 18:37] mjibson commented on #13689
I'll work on this after the apd branch gets in.

[2017-02-21 18:54] benesch opened #13691 "sql/sqlbase: non-config system tables can be dropped"
In the `system` database, the `lease`, `eventlog`, `rangelog`, and `ui` tables can be dropped by the root user. For example,

[code]

will break the UI:

![screenshot 2017-02-21 13 50 39](https://cloud.githubusercontent.com/assets/882976/23179701/d215d07a-f83c-11e6-9860-f1927ef2d487.png)

@mberhault says:

[2017-02-21 19:05] bdarnell commented on #13506
Hmm, looks like exactly the same symptom I thought I had fixed in #13605. I'll look again and see what I might have missed.

[2017-02-21 19:17] arjunravinarayan opened #13692 "sql: CockroachDB panics on a date vs timestamptz comparison."
Running the following query causes CockroachDB to panic(!) and die:

[code]

on a TPC-H dataset (PR incoming) causes the following panic:

[code]

I am unable to construct a more minimal example. Doing things like
[code]
seems to work fine. cc @cuongdo, but I'm investigating this myself for a bit.

[2017-02-21 19:23] arjunravinarayan opened #13693 "sql: "interval `1` year" is interpeted as an interval of 1 second"
[code]

This seems wrong, because at least one line of SQL in the wild uses the latter format: https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/tpch/queries/query5.sql#L20

cc @cuongdo as this might fall under ORM support? Perhaps we should have "syntax support group" as a superset of the ORM team since this has nothing to do with any specific ORM.

[2017-02-21 21:02] jordanlewis opened #13695 "sql: REGCLASS casts don't behave properly when the user is root"
When the current user is root, virtual tables that expose information about database tables (including `pg_class`) have no restrictions on what tables they show. The query used to look up information in `pg_class` by table name does not qualify the table by the current database, so in the case that two databases have an identically named table, the query will fail due to returning too many results

[2017-02-21 21:04] jordanlewis commented on #13693
The trouble here is that the new parser introduced for the special `SET TIMEZONE <interval>` syntax is not being properly used for `INTERVAL` in other normal contexts.

[2017-02-21 21:13] mberhault opened #13696 "sql: duplicate render causes unnecessary sort"
sha: 3ab36ac

We have the following table on `cobalt`:
[code]

While testing out the `dump` command, we noticed it kept trying the first batch of 100 rows for much longer than expected.
The full command is:
[code]

We tried reproducing it, adding one thing at a time. We finally ended up with:
The following returned immediately:
[code]

But this just sits there:
[code]

This is just requesting one

[2017-02-21 21:26] #13545 closed

[2017-02-21 21:40] arjunravinarayan opened #13700 "sql: dropping a table prevents recreating a table with the same name"
Consider the following set up commands, on a cluster that has a large existing table.
[code]

This is problematic because:
1. The drop takes a lot of time for large tables. I'm at an hour and counting on a drop on cluster denim.
2. There is no status or progress report for how long this will take.
3. There is no way to "undo" this drop. For instance, I've got the advice "rename the table, then dro

[2017-02-21 21:41] mberhault commented on #13696
FYI:
[code]

[2017-02-21 21:48] bdarnell commented on #13700
+1 on renaming the table before dropping (as long as it's done atomically, so that there is no chance of the table being left with a different name without starting the drop process).

Bikeshedding a bit, I'd rename it to something like `$ORIG_NAME.drop.$UUID` so it's not quite so cryptic in `SHOW TABLES`.

[2017-02-21 21:51] mjibson commented on #13696
For reference this has effectively broken `dump` for large tables.

[2017-02-21 21:52] arjunravinarayan commented on #13692
Found another query that panics, and it's less verbose:

[code]

[2017-02-21 21:56] #12999 closed

[2017-02-21 21:56] #13000 closed

[2017-02-21 22:01] bdarnell commented on #13506
OK, I have a closely related bug: [this code](https://github.com/cockroachdb/cockroach/blob/a4ed322a2cff936555e6df18d02bad36b6b5a9ea/pkg/storage/replica.go#L4240-L4259) is deeply suspicious, since it throws away WriteTooOldErrors  and might allow the `ApplyConfChange` to be run even if the `BatchRequest` failed. Is it ever possible for `EndTransaction` to return `WriteTooOldError`? Not that I've f

[2017-02-21 22:31] knz commented on #13696
@RaduBerinde you should look at this. I think that's one of your most recent changes.

[2017-02-21 22:38] petermattis commented on #13700
I'm fine with renaming and then dropping. +1 on Ben's suggestion to keep the original name as a prefix for the temporary name.

[2017-02-21 23:00] RaduBerinde commented on #13696
Hm, interesting case. Given that this affects index selection, the problem must be in `doExpandPlan`, which I didn't change too much. I will look at it when I get a chance.

[2017-02-21 23:52] RaduBerinde commented on #13696
Ah, I take it back, it's not about index selection, it's all primary index.

[2017-02-22 00:38] RaduBerinde commented on #13696
I believe I understand what is going on. When we come up with a desired ordering, we select the last column that matches (https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/sort.go#L149). When we convert orderings through the `renderNode`, we select the first column that matches (`renderNode.findRenderIndexForCol`). This seems to be fixed by just enclosing the line above in an `else {}`.

[2017-02-22 00:51] mberhault commented on #13696
no idea, we only noticed this today when trying to dump a large db.

[2017-02-22 00:56] liveresume commented on #5582
Thanks all for working on this.  Wondering if we can do basic ops with Ecto yet?

[2017-02-22 02:15] tlvenn commented on #5582
Hi @liveresume , yes pretty much everything works just fine now, the only caveat is tests. Ecto Sandbox heavily leverage savepoints in tests and savepoints are not currently supported (#10735).

[2017-02-22 02:25] tlvenn commented on #10735
Isn't it how Postgres achieve some kind of HA / Replication, by streaming and replaying their XLOG ? At the same time I am not so clear on @bdarnell suggestion. Would emitting a TransactionRetryError to the client allow for the client driver to transparently restart the txn ? Or is it impacting the end user code somehow ?

[2017-02-22 02:55] petermattis commented on #10735
@tschottdorf To be fair, `1000mb of inserts` in a single transaction will likely cause problems even without savepoints.

I'm curious, would the proposal on the table (to interpret `rollback to savepoint` as restarting the entire transaction) be compatible with the usage by ORMs? Seems likely to me that it wouldn't if savepoints are being used for simplifying testing.

I'm not sure I understand al

[2017-02-22 03:29] bdarnell commented on #10735
It better be, since in Cockroach it's always possible for the entire transaction to get restarted at any time. This negates the *benefits* of savepoints, but it shouldn't break things for client applications/ORMs any more than our optimistic transaction model already does.

Not impossible, but hard. (it would have more benefits than savepoints, though).

Yeah. Intents already have epochs; the best

[2017-02-22 07:09] mjibson commented on #13696
It's possible this has been here the entire time, I guess. I don't recall trying to dump a large table.

[2017-02-22 07:18] knz commented on #10735
I was thinking perhaps there is another angle here. Suppose a savepoint would also cause a sub-txn record to appear (perhaps this should rather be a new generation of the main txn, but what matters for my argument here is that it is a separate record), and all intents created after that to link to the sub-txn.

I think this buys us partial retries. Then conflicts with other txns can push only that

[2017-02-22 08:32] #13051 closed

[2017-02-22 08:52] cockroach-teamcity opened #13705 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#158190](https://teamcity.cockroachdb.com/viewLog.html?buildId=158190):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-22 12:52] tschottdorf commented on #10735
That's basically my opinion, savepoints really just don't fit in well. I haven't investigated this thoroughly, but my impression was that savepoints are mostly used because "they're there". For example, they're convenient during tests (see ecto).

With any amount of complexity added, the behavior of what @bdarnell suggested earlier (the "easy solution") would still have to be handled by clients, j

[2017-02-22 13:20] petermattis commented on #10735
Definitely. I too doubt that ORMs would use savepoints in normal usage. If they do, I'd love to see some concrete examples so we could understand why. And I'd like to understand how they are using savepoints to simplify testing. I can imagine the testing usage doesn't have proper retry loops which would make the simplified approach a non-starter.

[2017-02-22 13:30] petermattis commented on #10735
Wouldn't keeping a sequence number for the savepoints by sufficient. That is, if you create savepoints A, B and C with sequence numbers 1, 2, 3 and then rollback to A, it would be straightforward to determine than only savepoint A is still valid. A `ROLLBACK` would reset the active savepoint sequence number (and rollback the associated intents). A `RELEASE` would remove the savepoint from the sess

[2017-02-22 13:41] a-robinson commented on #13705
#12094 - the phantomjs menace

[2017-02-22 13:41] #13705 closed

[2017-02-22 14:19] tlvenn commented on #10735
I gonna have to ask @fishcakez if he can help us understand better why Ecto is leveraging savepoints for testing and in which situation it helps further than beginning and rollbacking a transaction for each test. Something that I am not so clear on myself...

[2017-02-22 14:28] petermattis commented on #13506
Given that this problem seems to be reproducible, I'd be fine with trying the blunter instrument to see if it fixes it.

[2017-02-22 14:59] petermattis commented on #3387
@andreimatei, @knz, @RaduBerinde Are we ever going to bother to do this? Marking this as `Later`, but I'd also be happy to see it closed.

[2017-02-22 15:00] petermattis commented on #4015
@BramGruneir Is this issue still useful to keep open?

[2017-02-22 15:01] petermattis commented on #4962
@andreimatei Is there anything else to do here?

[2017-02-22 15:03] petermattis commented on #5493
@spencerkimball Is there anything else to do here? We have `BatchRequest.Summary()` and `Transaction.String()` prints a condensed representation.

[2017-02-22 15:05] petermattis commented on #5582
Marking as `Later` because Ecto support isn't on the 1.0 roadmap, though that doesn't mean we'll stop working on this.

[2017-02-22 15:07] petermattis commented on #5754
@jseldess Is there anything left to do here?

[2017-02-22 15:08] petermattis commented on #5777
Marking as Later for now. @jseldess Is there anything we're planning to do here for 1.0?

[2017-02-22 15:10] petermattis commented on #5828
This is difficult given how we currently parse the input yaml directly into a `ZoneConfig` proto.

[2017-02-22 15:10] petermattis commented on #5848
@mberhault Is there anything left to do here?

[2017-02-22 15:12] petermattis commented on #5920
@andreimatei, @knz `MinInitialTimestamp` no longer exists. Is there anything left to do here?

[2017-02-22 15:14] mberhault commented on #5848
I'm still not sure whether this is desired, but I'm pretty sure we don't have it.
@bdarnell: would this tell us anything useful?

[2017-02-22 15:16] petermattis commented on #5974
@mberhault, @a-robinson Is there anything we should consider changing here before 1.0?

[2017-02-22 15:19] tlvenn commented on #5582
Hi @petermattis, I believe if we set savepoints aside, it's pretty much a green light already. The only remaining issue to fix so that people can use the default postgres driver instead of my fork is this one: #12526 which boils down to implement `regproc` type properly which is on your roadmap already as commented by @jordanlewis.

So I believe you will get another language/ORM to add on your sup

[2017-02-22 15:26] BramGruneir commented on #4015
I think we're good to close it.

[2017-02-22 15:26] #4015 closed

[2017-02-22 15:30] mberhault commented on #5974
I think we should. Either a "marker file", or an endpoint to trigger the bootstrap process on a single node would be good, varying arguments tend to be a pain.

[2017-02-22 15:30] petermattis commented on #6144
@bdarnell Do you think we still want to do this?

[2017-02-22 15:31] BramGruneir commented on #8474
Not going to be working on this anytime soon.  Un-assigned this.

[2017-02-22 15:32] jordanlewis commented on #5582
Hi @tlvenn, great news! Thanks for keeping track of the remaining items here.

[2017-02-22 15:33] BramGruneir commented on #9555
This seems like a fairly important thing to have, just don't have the time to work on it right now (and clearly didn't back in sept).  Un-assigning for now.

[2017-02-22 15:34] petermattis commented on #6249
Marking as Later because Erlang support isn't on the 1.0 roadmap. @leonardb It is possible this has been fixed with other ORM compatibility work.

[2017-02-22 15:34] BramGruneir commented on #6277
This has been around way too long.  The test is clearly not needed.  I'll send a PR out to remove it.

[2017-02-22 15:38] cuongdo commented on #13695
what is the effect of this? does this need to be fixed by 1.0?

[2017-02-22 15:40] jordanlewis commented on #13695
This will cause ORM-style metadata queries to sometimes fail when run as `root`. It also precludes our ActiveRecord example from working. This is trivial to fix - I was planning to get to it today or tomorrow.

[2017-02-22 15:44] petermattis commented on #6719
Marking this as 1.0 as we might need to do something here for high latency configurations.

[2017-02-22 15:44] tamird commented on #6277
How does this demonstrate that the test is not needed?

On Wed, Feb 22, 2017 at 10:34 AM, Bram Gruneir <notifications@github.com>
wrote:

[2017-02-22 15:45] a-robinson commented on #5974
I'd also love for us to improve this before 1.0, but haven't taken the time to investigate other options yet. I wouldn't block 1.0 on it but would try pretty hard to squeeze it in.

[2017-02-22 15:46] petermattis commented on #6933
@nvanbenschoten Is this still something worth investigating?

[2017-02-22 15:48] petermattis commented on #7003
Tracking progress of schema changes and backup / restore operations is targeted for 1.0. We'll likely have a different mechanism for tracking long running queries.

[2017-02-22 15:49] nvanbenschoten commented on #6933
I don't think there are any pressing needs for this (unless @tamird disagrees), so I'll close for now.

[2017-02-22 15:49] #6933 closed

[2017-02-22 15:50] petermattis commented on #7215
@nvanbenschoten I believe you just fixed something in this area.

[2017-02-22 15:50] cuongdo commented on #13470
Not scheduled for 1.0 (but may happen depending on other work)

[2017-02-22 15:52] petermattis commented on #7220
@tschottdorf Do you recall what the desired cleanup was? I can't see the reviewable comment anymore.

[2017-02-22 15:56] cuongdo commented on #13434
Partly resolved by #13484, at least for `pg_index.indkey`. There are other vector columns that haven't been changed, so I'm leaving this open.

[2017-02-22 15:57] nvanbenschoten commented on #7215
Closing in favor of #13412.

[2017-02-22 15:57] #7215 closed

[2017-02-22 15:58] petermattis commented on #7550
@jordanlewis This is done, right?

[2017-02-22 15:59] jordanlewis commented on #7550
Yes.

[2017-02-22 15:59] #7550 closed

[2017-02-22 16:00] petermattis commented on #7588
@RaduBerinde Is the "By Range" router needed for 1.0?

[2017-02-22 16:01] petermattis commented on #7760
@tamird Up your alley. Close if this isn't possible.

[2017-02-22 16:05] leonardb commented on #6249
Hi Peter, I'll have a look when I have some time.

ORM Support may not be the correct tag though, as the crash was caused when the connection was not returning the same connection details a std psql connection would. This would affect any pgclient inspecting the return and expecting certain values.

[2017-02-22 16:08] #13541 closed

[2017-02-22 16:09] jordanlewis opened #13707 "sql: unsupported comparison during index selection"
Regression in `TestLogic -bigtest`.

Assigning to @knz as it seems like you're the last one to change the index selection code - feel free to unassign if this is incorrect.

[code]

[2017-02-22 16:23] knz commented on #3387
This is not a "cleanup" but really a performance and stability issue. (Locality of access between the things, ensuring they have the same size.)

I would indeed keep "later" but keep the issue open and change the classification.

[2017-02-22 16:31] knz commented on #5920
Actually this already has been addressed when MattJ implemented time travel queries. Thanks for noticing.

[2017-02-22 16:31] #5920 closed

[2017-02-22 16:37] knz opened #13709 "sql: reconcile "desired" and "actual" orderings"
Found / reported / discussed in https://github.com/cockroachdb/cockroach/pull/13703#discussion_r102361781

[2017-02-22 16:37] #13693 closed

[2017-02-22 16:40] bdarnell commented on #10735
The complexity with multiple savepoints is that when you roll back to A and invalidate savepoint sequence numbers 2 and 3, what do you do when your partially-retried transaction advances to savepoint B again? If you give it ID 4, you have to remember now that 1 and 4 are valid but 2 and 3 are not. If you reuse ID 2, you have to erase all trace of the old savepoint (by synchronously resolving all i

[2017-02-22 16:46] petermattis commented on #8056
Closing as this is a very old OOM issue.

[2017-02-22 16:46] #8056 closed

[2017-02-22 16:48] petermattis commented on #8093
@mberhault Are we going to get to this for 1.0?

[2017-02-22 16:48] jordanlewis commented on #13707
The trouble is that there is no special case in `applyConstraintFlat` for the case where the expression to simplify is an `IN` tuple expression, but the constraint expression uses a non-equality comparison function such as `>=`.

[2017-02-22 16:49] petermattis commented on #8111
@bdarnell We now have a metrics about how far behind in the Raft log followers are. Is there anything else to be done here?

[2017-02-22 16:50] petermattis commented on #8182
@BramGruneir This is now fixed, right?

[2017-02-22 16:50] RaduBerinde commented on #7588
No. Later milestone is fine.

[2017-02-22 16:51] petermattis commented on #8190
@cuongdo Is this still happening?

[2017-02-22 16:52] petermattis commented on #8204
@tamird, @mrtracy Is there anything left to do here?

[2017-02-22 16:53] BramGruneir commented on #8182
Yep

[2017-02-22 16:53] #8182 closed

[2017-02-22 16:58] RaduBerinde commented on #13689
Note that PR #13706 temporarily comments out these tests; they should be re-enabled when the issue is fixed.

[2017-02-22 16:59] RaduBerinde commented on #13646
PR #13706 temporarily comments out this test (it should be re-enabled when the issue is fixed).

[2017-02-22 17:00] RaduBerinde commented on #13384
PR #13706 temporarily adds some logic test magic to trim extra decimals. That should be reverted when we can be consistent.

[2017-02-22 17:00] cuongdo commented on #8190
nope, the nightly tests actually have load now. closing

[2017-02-22 17:00] #8190 closed

[2017-02-22 17:05] RaduBerinde opened #13710 "docs: document that result ordering can vary arbitrarily without `ORDER BY`"
Suggested in https://github.com/cockroachdb/cockroach/pull/13706#issuecomment-281730585

We should make it extra clear in the docs that any `SELECT` statement with no `ORDER BY` makes no guarantee about the ordering of the result, and moreover the result ordering can vary when the same query is repeated.

Even in a query like `SELECT * FROM (SELECT .. FROM .. ORDER BY ..)`, the "inner" `ORDER BY`

[2017-02-22 17:06] tamird commented on #8204
Nah.

[2017-02-22 17:06] #8204 closed

[2017-02-22 17:11] knz commented on #13710
(nit: usually we create doc issues in the docs repo :)

[2017-02-22 17:15] andreimatei commented on #4962
We have fixed this - there's now root spans that contain all the retries.

[2017-02-22 17:15] #4962 closed

[2017-02-22 17:16] bdarnell commented on #13506
Yeah, I'll work on that, although it's trickier than I initially thought to plumb the necessary information between `handleRaftReady` and the place where the error is handled.

[2017-02-22 17:31] RaduBerinde commented on #13710
Ah oops, filed https://github.com/cockroachdb/docs/issues/1110 and closing this.

[2017-02-22 17:31] #13710 closed

[2017-02-22 17:41] #13696 closed

[2017-02-22 17:54] cockroach-teamcity opened #13712 "teamcity: failed tests on master: test/TestSchemaChangeRetry"
The following tests appear to have failed:

[#158431](https://teamcity.cockroachdb.com/viewLog.html?buildId=158431):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-22 18:12] cuongdo commented on #13045
Is there more work to be done here?

[2017-02-22 18:16] knz commented on #13045
No, this was actually solved by #12641. Well spotted.

[2017-02-22 18:16] #13045 closed

[2017-02-22 18:17] cuongdo commented on #12968
Is fixed fixed by #13031?

[2017-02-22 18:20] cuongdo commented on #12878
We already have the `COCKROACH_MAX_OFFSET` environment variable. Does that suffice?

I do agree we should have recommendations for the different cloud providers -- or at least provide a recommendation when the max offset needs to be higher than the default of 500 ms.

[2017-02-22 18:32] cuongdo commented on #12757
is this still an open issue?

[2017-02-22 18:38] dt commented on #12757
if it is it should be be filed as a minimal repro upstream rather than here (probably something to do with symlinks?)

[2017-02-22 18:39] bdarnell commented on #5848
I think this would still be a mildly interesting metric to track, but not really necessary. I can't think of any incidents we've debugged in the 10 months since this issue was filed where this would have made a difference, so let's just close it.

[2017-02-22 18:39] #5848 closed

[2017-02-22 18:52] bdarnell commented on #6144
I still support the idea in principle, but I doubt we'll ever actually do it at this point. Might as well close the issue.

[2017-02-22 18:52] #6144 closed

[2017-02-22 18:58] dt commented on #12757
my guess is that PWD outside GOAPTH is a no-no, but that's just a guess. not a cockroach bug though.

[2017-02-22 18:58] #12757 closed

[2017-02-22 19:23] bdarnell commented on #5974
I'd also like to prioritize this for 1.0; the current approach is really awkward for non-toy deployments.

[2017-02-22 19:25] a-robinson commented on #13232
I've added tooling to allocsim to specify which localities the request load should be on and to print out the number of lease transfers per-node in addition to current number of leases held by each node. My goal has been to then try to optimize latency without hurting throughput while also keeping the rate of lease transfers to avoid thrashing.

I've focused the testing on 2 different latency conf

[2017-02-22 19:33] bdarnell commented on #8111
I don't think there's anything else to do.

[2017-02-22 19:33] #8111 closed

[2017-02-22 19:33] petermattis commented on #8557
This was fixed.

[2017-02-22 19:33] #8557 closed

[2017-02-22 19:36] arjunravinarayan opened #13716 "sql: INTERVAL `1 YEAR` doesn't parse, but INTERVAL `1 year` does"
[code]

This is true for many (probably all) duration units when encased in quotes. The case matters inside quotes (and must be lowercase).

[2017-02-22 19:41] bdarnell commented on #12878
Our philosophy is that all documented settings should be accessible with (at least) command line flags, with selected flags (mainly client-side ones) also duplicated as environment variables. The reason is that environment variables fail silently - if you misspell one, you'll never know. If this is something we want to document for end users (and I think we have to), we should make it a flag inste

[2017-02-22 19:41] tamird commented on #12694
Woops, this should have been closed by #13102.

[2017-02-22 19:41] #12694 closed

[2017-02-22 19:43] cuongdo commented on #12878
For our nightly load tests that spin up transient clusters in Azure, I've
had to increase `COCKROACH_MAX_OFFSET` to `1s`. Would that be needed for
regular deployments, or do things already work fine for longer-lived
clusters?

On Wed, Feb 22, 2017 at 2:41 PM Ben Darnell <notifications@github.com>
wrote:

[2017-02-22 19:43] cuongdo commented on #12878
(specifically referring to Azure here)

On Wed, Feb 22, 2017 at 2:43 PM Cuong Do <cdo@cockroachlabs.com> wrote:

[2017-02-22 19:47] bdarnell commented on #12878
Our long-lived azure clusters seem to be fine with the default.

[2017-02-22 19:51] maxlang opened #13717 "beta-20170223"
The candidate SHA is 4c8949513d287b92be1c167615398a2a53fe39da
Deployed to `blue`, `violet`, `omega`, `rho`.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)
- [x] Check and verify cluster status
- [x] Tag release and push tag
- [x] [Trigger release build](https://teamcity.cockroachdb.com/viewType.html?buildTypeId=Cockroach_MergeToMaster)
- [x] Check and v

[2017-02-22 20:26] a-robinson opened #13720 "sql: Latency metric not populated"
Sorry if this is a known issue, but I was looking through our various latency metrics and noticed that the `sql.latency` metric never actually gets populated anywhere. Is that intentional, @mrtracy, or just an oversight?

[2017-02-22 20:26] a-robinson commented on #13720
https://sourcegraph.com/github.com/cockroachdb/cockroach@73136b975416d3609a41985adc66aa9db190d6e6/-/blob/pkg/sql/executor.go#L214:2-214:9

[2017-02-22 20:48] petermattis commented on #8816
@andreimatei We now periodically attempt to colocate Raft leadership and the leaseholder. Is there anything left to do here?

[2017-02-22 20:49] petermattis commented on #8832
@tamird, @mberhault We now have the `--advertise-host` flag. Is there anything left to do here?

[2017-02-22 20:50] petermattis commented on #8855
Marking as Later, though open to moving this to 1.0 if it is needed for our targeted ORMs.

[2017-02-22 20:52] petermattis commented on #8884
This was happening a long time ago and lots has changed since then. I'm closing unless someone feels there is still something to investigate here.

[2017-02-22 20:52] #8884 closed

[2017-02-22 20:52] tamird commented on #8832
@petermattis @mberhault the `--advertise-host` flag was added in #9503, which also closed #1008, but this issue is (according to @mberhault) not a duplicate of #1008.

@mberhault @sploiselle can you clarify?

[2017-02-22 20:52] a-robinson commented on #8832
It seems like there's still the matter of helping folks who accidentally run into this. There's no real visibility into what's wrong in cases like this.

[2017-02-22 20:54] andreimatei commented on #8816
I've removed the 1.0 label. But otherwise, yeah, I think the scenario described is still possible, and it shows gaps in our redirection logic and so we should do something about it. Unclear what to do exactly, though :)

[2017-02-22 20:56] petermattis commented on #8975
We fixed several bugs with cancellation propagation since this issue was filed. Closing for now. We should open a new bug if the problem reoccurs.

[2017-02-22 20:56] #8975 closed

[2017-02-22 21:02] sploiselle commented on #8832
This is a UX issue, as @a-robinson said. Nodes join the cluster but will never successfully receive data. Identifying this could be non-obvious to users because everything appears to be working from the CLI.

[2017-02-22 21:07] petermattis commented on #8832
Perhaps the new cluster visualization could highlight this situation. Cc @maxlang, @mrtracy, @kuanluo.

[2017-02-22 21:08] petermattis commented on #9226
We now only call `ReportSnapshot` after the snapshot has been sent and applied.

[2017-02-22 21:08] #9226 closed

[2017-02-22 21:09] #10326 closed

[2017-02-22 21:10] petermattis commented on #9247
This bug is quite old and we're not currently seeing `photos` wedging itself. Closing for now. Re-open if you think there is something still to be investigated.

[2017-02-22 21:10] #9247 closed

[2017-02-22 21:11] petermattis commented on #9281
@mberhault Our prometheus endpoint reports fixed size buckets for histograms. Is there anything left to do here?

[2017-02-22 21:13] jordanlewis commented on #4244
We now report strings as `TEXT` in all places where we're trying to mimic the Postgres API. `STRING` is still the canonical CockroachDB name for string types, however.

[2017-02-22 21:14] petermattis commented on #9323
This has been one.

[2017-02-22 21:14] #9323 closed

[2017-02-22 21:17] dt commented on #8855
To update my last comment: we now have (slow, limited) support for VALIDATE on FKs. As discussed in #13681, hooking that up to a multi-step, schema-change based `ADD CONSTRAINT` impl is what's left to do here.

[2017-02-22 21:17] bdarnell commented on #8816
I don't think colocating raft leadership and the leaseholder makes much of a difference for this issue; we still have some sub-optimal retry behavior around lease transfers. I think responsive lease rebalancing will make this a bigger issue. I'm still not sure if it's going to be significant enough to be worth doing something about, though. We should try to measure the impact before we make any bi

[2017-02-22 21:20] petermattis commented on #9499
@vivekmenezes Is there anything specific to fix here? I'd prefer to close if the answer is no.

[2017-02-22 21:31] petermattis commented on #9567
@mberhault Anything else to do here?

[2017-02-22 21:37] a-robinson opened #13722 "rpc: 99th percentile round-trip latency numbers seem too high"
We recently added a metric tracking the round-trip latency of the heartbeat pings we send on all our inter-node connections (#13533). While the 50th percentile measurements look reasonable (a few milliseconds), the 99th percentile readings on all of our prod clusters are pretty concerning.

Our clusters on Azure have a 99th percentile of around 50-100ms:

<img width="932" alt="screen shot 2017-02-

[2017-02-22 21:45] a-robinson commented on #13722
It's not likely to be a virtualization/environmental issue - I just ran 700 iterations of ping and never saw any latency higher than 5.3ms.

[2017-02-22 21:45] tamird commented on #13722
Just to play devil's advocate real quick - we are not measuring these using a monotonic clock, are we?

[2017-02-22 21:46] a-robinson commented on #13722
Indeed we're not, just a standard clock. It's a good point that we should switch, although I can't imagine that would account for such a consistently high measurement. I'd think that would only cause spikes.

[2017-02-22 21:49] bdarnell commented on #7220
The reviewable comments are loading for me. The issues are
- `TxnMeta` contains fields which should be of type `Key`, but can't because `enginepb` can't depend on `roachpb`
- `Key` should probably live in `keys` rather than `roachpb` (I think this is independent of the above dependency cycle; `enginepb` can't depend on `keys` either)
- `enginepb` is arguably the wrong place for `TxnMeta` anyway (I

[2017-02-22 21:49] mrtracy commented on #13720
Certainly an oversight, it should be removed. @arjunravinarayan, can you confirm that the information in this metric was divided between "DistSQLExecLatency" and "SQLExecLatency"?

[2017-02-22 21:55] arjunravinarayan commented on #13720
That sounds right to me. Note there's also `server/node.go:nodeMetrics.Latency` as well, which measures end-to-end latency (as opposed to execution latency)

[2017-02-22 22:02] mberhault commented on #9567
nope. closing.

[2017-02-22 22:02] #9567 closed

[2017-02-22 22:03] mberhault commented on #10458
this is ooolllddd... closing.

[2017-02-22 22:03] #10458 closed

[2017-02-22 22:03] mberhault commented on #12875
should we close this and drop gamma?

[2017-02-22 22:04] mberhault commented on #12653
I haven't seen this in a while. closing.

[2017-02-22 22:04] #12653 closed

[2017-02-22 22:04] mberhault commented on #7238
I believe this will be deprecated by proposer-eval-kv. @bdarnell, can you please confirm and close?

[2017-02-22 22:07] mberhault commented on #7184
way old. closing.

[2017-02-22 22:07] #7184 closed

[2017-02-22 22:07] mberhault commented on #6988
closing.

[2017-02-22 22:07] #6988 closed

[2017-02-22 22:08] mberhault commented on #6879
closing.

[2017-02-22 22:08] #6879 closed

[2017-02-22 22:08] mberhault commented on #6693
is this still something we want?

[2017-02-22 22:09] kuanluo commented on #13557
@petermattis @mrtracy @maxlang Some questions:

For the above stats, should we surface only when a node is down? Otherwise, would the default value always be zero/NA?

We currently have QPS and P50/99 latency in the Summary (screenshot from `blue`). Are those the right numbers for client request throughput and latency?
![image](https://cloud.githubusercontent.com/assets/1486483/23234688/dbd4bfc4-f

[2017-02-22 22:10] mberhault commented on #8260
the cache flag seems to be sufficient for now. @petermattis: close this for now?

[2017-02-22 22:10] mberhault commented on #9533
surprisingly, we haven't seen those in a few months. go version upgrade?
Either way, we were kind of stuck here. closing.

[2017-02-22 22:10] #9533 closed

[2017-02-22 22:18] bdarnell commented on #13722
GRPC heartbeats are more than a simple network round trip. Everything is multiplexed onto a single HTTP/2 connection, so there's locking and queuing at that layer. If a snapshot is being sent the heartbeat may have to wait for that data to be written (looks like grpc writes in 16KiB frames), and for flow control at both the TCP and HTTP/2 levels.

[2017-02-22 22:19] #13707 closed

[2017-02-22 22:21] bdarnell commented on #12875
I'm still trying to escalate this with azure so I'd like to keep the gamma VMs a little longer. Let's leave the issue open until then.

[2017-02-22 22:23] a-robinson commented on #13722
Thanks for the insight, @bdarnell. Do you think it's worth investigating further? I was going to add a bit of tracing to the heartbeat code so we could get more detail than a single span for the entire heartbeat in lightstep, but that won't give us much more detail other than a very vague idea of where the request is getting delayed.

[2017-02-22 22:24] bdarnell commented on #7238
Let's wait until propEvalKV is done and we can verify that the upgrade goes smoothly. (and then we can replace this issue with one to rip out all the freeze-cluster machinery)

[2017-02-22 22:26] petermattis commented on #13722
Good point about everything being multiplexed on a single HTTP/2 connection, though I doubt we're sending so many snapshots on all these clusters.

Probably should kill the load on one of the clusters and check to see if the latencies drop to more reasonable values.

Also, 5ms ping times seem high for within a datacenter.

[2017-02-22 22:27] petermattis commented on #8260
I'm fine with closing until we have a more concrete action to take.

[2017-02-22 22:28] petermattis commented on #7220
Ditto.

[2017-02-22 22:28] #7220 closed

[2017-02-22 22:31] a-robinson commented on #13722
The average was in the 1.5-2ms range, with just a couple outliers. I think that's about all you can expect when running on cloud VMs - you're going to have worse tail performance.

[2017-02-22 22:32] bdarnell commented on #6693
We've seen other indications that transaction records aren't getting GC'd as well as they should (#9135), so I think it would be a good idea to look into this a little more.

[2017-02-22 22:34] bdarnell commented on #8260
I think the idea here is that instead of having two memory-related flags (cache and sql, and maybe more in the future), we should have one flag for the total memory cockroach should be allowed to use and then we subdivide that, so that users only need to specify one flag if they don't want to customize the ratio of cache to sql memory.

[2017-02-22 22:35] #13720 closed

[2017-02-22 22:36] petermattis commented on #9727
I don't think there is anything left to do here, but need to verify that.

[2017-02-22 22:37] petermattis commented on #8260
Ok, reopening and leaving marked as Later.

[2017-02-22 22:38] petermattis commented on #9733
@andreimatei Is there anything left to do here?

[2017-02-22 22:40] petermattis commented on #9755
@mjibson Was there ever a resolution here?

[2017-02-22 22:47] dt opened #13724 "backup: `RESTORE ... /path/to/dir` should not create `/path/to/dir`"
attempting to restore from a non-existant path will (attempt to) create the dirs in that path.

e.g. `RESTORE DATABASE foo FROM /Users/David/created`

[2017-02-22 22:54] benesch opened #13725 "sql: selecting from an zero-column table is broken"
I'm not sure there's a valid use case for this, but attempting to select from a zero-column table in the SQL CLI fails in a strange way:

[code]

Meanwhile in Postgres:

[code]

[2017-02-22 22:59] jordanlewis commented on #13725
Nice catch - seems like a bug in our pgwire implementation: https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/pgwire/v3.go#L1005

Seems like this special case is incorrect, and really we're not supposed to send "no data" if our result has no columns.

[2017-02-22 23:06] a-robinson opened #13728 "sql: Transaction metrics go up when external traffic stops"
I turned off all `block_writer` load to cobalt to see how it would affect #13722, and noticed this weird quirk in the SQL metrics.

As load on the system dropped to be negligible, with the only writes being to system tables:

<img width="923" alt="screen shot 2017-02-22 at 6 03 13 pm" src="https://cloud.githubusercontent.com/assets/7085343/23236973/5e1a3efc-f929-11e6-8fc2-75a28e93d9af.png">

The "

[2017-02-22 23:09] mjibson commented on #9755
I thought @eisenstatdavid fixed it?

[2017-02-22 23:10] a-robinson commented on #13722
Things certainly get better with traffic disabled, although still a little on the high end:

<img width="931" alt="screen shot 2017-02-22 at 6 07 07 pm" src="https://cloud.githubusercontent.com/assets/7085343/23237078/d07c967a-f929-11e6-99ed-dd9b9c1577de.png">

In case it's a little tough to tell, they've dropped down to about 15-30ms at p99. Absolutely all variability left the p50 measurement onc

[2017-02-22 23:11] eisenstatdavid commented on #9755
I didn't.

[2017-02-22 23:13] RaduBerinde commented on #7993
The changes planned under this issue are all completed.

[2017-02-22 23:13] #7993 closed

[2017-02-22 23:13] RaduBerinde commented on #7994
The changes planned under this issue are all completed.

[2017-02-22 23:13] #7994 closed

[2017-02-22 23:13] RaduBerinde commented on #7995
The changes planned under this issue are all completed.

[2017-02-22 23:13] #7995 closed

[2017-02-22 23:14] mberhault commented on #13728
`cobalt` has `photos` running against it.
As the write load from `block_writer` goes down, I would expect more resources available for `photos` ops.

[2017-02-22 23:16] andreimatei commented on #7992
Plumbing in the lease manager is coming.
For the schema changers (sync and async) it was less clear to me what context we want exactly, but will do something...

[2017-02-22 23:19] a-robinson commented on #13728
<insert shame cube here>

You're right, thanks.

[2017-02-22 23:19] #13728 closed

[2017-02-22 23:25] a-robinson commented on #13722
And since @mberhault kindly pointed out that I hadn't removed all the work, the 99th percentile latency has indeed dropped all the way down to the 3-6ms range that I was seeing in ping:

<img width="921" alt="screen shot 2017-02-22 at 6 24 29 pm" src="https://cloud.githubusercontent.com/assets/7085343/23237618/2ef07198-f92c-11e6-976b-dcbf70a552df.png">

Thus, it is indeed the connection getting le

[2017-02-22 23:53] cockroach-teamcity opened #13731 "teamcity: failed tests on master: test (proposer evaluated kv)/TestSchemaChangeRetry"
The following tests appear to have failed:

[#158910](https://teamcity.cockroachdb.com/viewLog.html?buildId=158910):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-22 23:53] jordanlewis commented on #13731
#13712 again

[2017-02-22 23:53] #13731 closed

[2017-02-22 23:53] jordanlewis commented on #13712
This has been timing out with some frequency.

[2017-02-22 23:56] jordanlewis commented on #13725
Hmm looks like @knz added this behavior recently, maybe he can clarify why it was added.

[2017-02-23 00:17] andreimatei commented on #9733
The issue is as valid as ever. But it doesn't seem to be the most important thing in the world to me.

[2017-02-23 01:24] petermattis commented on #9832
@tamird Was this fixed?

[2017-02-23 01:25] tamird commented on #9832
I think so.

[2017-02-23 01:25] #9832 closed

[2017-02-23 01:28] petermattis commented on #10000
Let's get this fixed!

[2017-02-23 01:29] petermattis commented on #10010
We now have various env vars that can be used to turn off tracing and event logs. We'll probably flip the switch for 1.0 and default tracing to off (so as not to leak customer information to traces / event logs).

[2017-02-23 01:31] fishcakez commented on #10735
It is exactly this, and it can allow tests to run concurrently if there is some care is taken. We start a sandbox that a test case interacts with, it holds a single connection that calls `BEGIN` at the start and `ROLLBACK` at the end. In this testing mode `BEGIN`, `COMMIT` and `ROLLBACK` are replaced with the savepoint equivalents when using the transaction functionality of Ecto. As single queries

[2017-02-23 01:31] petermattis commented on #10016
We now avoid the AbortCache checks for 1PC transactions and for read-only transactions. I don't think there is anything left to do here.

[2017-02-23 01:31] #10016 closed

[2017-02-23 01:34] petermattis commented on #10083
@knz Is this feasible in the 1.0 timeframe? It doesn't seem necessary, but I know you're working towards this.

[2017-02-23 01:39] petermattis commented on #10130
@tamird Is this still an issue?

[2017-02-23 01:40] petermattis commented on #10133
Marking as Later, though we might need to do this sooner to support geographically distributed clusters.

[2017-02-23 01:47] petermattis commented on #10388
Did we ever figure out what was happening here? Looking at `rho` right now, performance is between 20-30 ops/sec.

[2017-02-23 01:50] petermattis commented on #10453
Looks like this issue was adequately addressed, but never closed.

[2017-02-23 01:50] #10453 closed

[2017-02-23 01:52] petermattis commented on #10494
@bdarnell I believe `COCKROACH_ENABLE_FAST_CLEAR_RANGE` addresses the remove replica slowness mentioned above. Is there anything else to do here?

[2017-02-23 01:54] petermattis commented on #10506
We now avoid transferring a lease to a replica that is behind. Similar smarts could be used to avoid removing a replica that is a necessary part of quorum.

[2017-02-23 01:57] petermattis commented on #10572
The easy solution is to wait for go1.9 and the `time` support for [monotonic clocks](https://github.com/golang/go/issues/12914).

Closing as I don't think there is anything easy to do on our end.

[2017-02-23 01:57] #10572 closed

[2017-02-23 01:58] petermattis commented on #10599
The benchmark was removed.

[2017-02-23 01:58] #10599 closed

[2017-02-23 02:01] petermattis commented on #10693
@spencerkimball The flexible pacing was implemented. Is there anything else to do here?

[2017-02-23 02:01] petermattis commented on #10727
@cuongdo Is this still happening?

[2017-02-23 02:14] cuongdo commented on #10727
nope, not since the code yellow

[2017-02-23 02:14] #10727 closed

[2017-02-23 02:14] petermattis commented on #12141
Seems like there is nothing more that can be investigated here.

[2017-02-23 02:14] #12141 closed

[2017-02-23 02:17] petermattis commented on #12252
Another implementation option: we have several admin endpoints that fan out queries to all nodes. For example, `Admin.TableStats`.

[2017-02-23 02:17] spencerkimball commented on #10693
This is done until and unless we decide something isn't working with the scanner / queue interaction.

[2017-02-23 02:17] #10693 closed

[2017-02-23 02:19] petermattis commented on #12169
Duplicate of #11652.

[2017-02-23 02:19] #12169 closed

[2017-02-23 02:19] petermattis commented on #12271
Duplicate of #11652.

[2017-02-23 02:19] #12271 closed

[2017-02-23 02:19] petermattis commented on #11652
Duplicate of #11652.

[2017-02-23 02:19] petermattis commented on #12305
Duplicate of #11652.

[2017-02-23 02:19] #12305 closed

[2017-02-23 02:19] petermattis commented on #12438
Duplicate of #11652.

[2017-02-23 02:19] #12438 closed

[2017-02-23 02:20] cuongdo commented on #7579
I don't believe this is needed any more, as we now have tests (e.g. YCSB) that basically use the SQL layer as a KV store.

[2017-02-23 02:20] #7579 closed

[2017-02-23 02:21] cuongdo commented on #5237
removed the existing milestone, which was applied last year

@vivekmenezes please triage

[2017-02-23 02:28] petermattis commented on #12593
@BramGruneir This has been fixed, right?

[2017-02-23 03:00] bdarnell opened #13732 "tracing: FormatRawSpans should reset `last`"
`tracing.FormatRawSpans` prints two nearly identical columns of times. It looks like the second column is meant to be the delta from the previous row, but because `last` is set once before the first iteration and never reset, it's just showing the time since the first event. It looks like `last` is meant to be updated every time through the loop.

[2017-02-23 03:21] petermattis commented on #13722
Those latencies still see high to me. Checking on `cobalt` just now, I'm seeing avg ping times of ~600us when using the internal IP addresses and 1.8ms when using the DNS names. Omega (GCE) is showing avg ping times of ~300us. Those numbers are more in line with my expectations.

[2017-02-23 03:44] bdarnell commented on #10388
We never investigated this, and I'm not sure if it's worth it. Race builds will always be slow and their performance is somewhat mysterious (there's a report that race builds have actually gotten substantially slower for some applications in go 1.8)

[2017-02-23 03:46] bdarnell commented on #10494
My last comment says "the problems also existed prior to the GC queue being busy", so I'm not sure that FAST_CLEAR_RANGE will fix it, but I also don't think there's much value in keeping this old issue open.

[2017-02-23 03:46] #10494 closed

[2017-02-23 04:29] tschottdorf commented on #10735
This is just the general problem that ORMs for PG likely don't do proper retries anywhere. No matter what implementation of savepoints we choose, everything will have to expect retries at any stage of the transaction. So doesn't really seem that it informs this issue one way or another.

In the example of Ecto, if the test cases were written in a restart-aware manner (i.e. as a closure with  retry

[2017-02-23 04:43] a-robinson commented on #13722
Ah, brilliant, Azure's external IP routing is super slow. I'm seeing the same numbers. We may want to modify our supervisor configs to bind to / advertise external IPs rather than hostnames since that's a pretty major difference.

I'm also a bit surprised just how costly GCE's external IP virtualization is -- I see around 280us for external vs 140us for internal. I thought it was better than that.

[2017-02-23 04:49] BramGruneir commented on #12593
Yep, closing.

[2017-02-23 04:49] #12593 closed

[2017-02-23 07:11] cockroach-teamcity opened #13734 "rpc: TestHeartbeatHealthTransport failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159303&tab=buildLog

[code]

[2017-02-23 07:21] cockroach-teamcity opened #13735 "ccl/storageccl: TestExport failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=158970&tab=buildLog

[code]

[2017-02-23 07:26] cockroach-teamcity opened #13736 "sql: TestSchemaChangeReverseMutations failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159309&tab=buildLog

[code]

[2017-02-23 07:28] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159000&tab=buildLog

[2017-02-23 07:37] cockroach-teamcity opened #13737 "server: TestStatusLocalLogs failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159003&tab=buildLog

[code]

[2017-02-23 07:38] cockroach-teamcity commented on #13736
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159006&tab=buildLog

[2017-02-23 07:44] mjibson opened #13738 "sql: panic in CastTarget"
[code]

Panics with: `unexpected CastTarget <nil>`

@knz can you triage this? I'm not sure who to assign it to.

Found with RSG.

[2017-02-23 08:09] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159101&tab=buildLog

[2017-02-23 08:47] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159202&tab=buildLog

[2017-02-23 09:04] cockroach-teamcity commented on #13736
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159208&tab=buildLog

[2017-02-23 09:44] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159404&tab=buildLog

[2017-02-23 10:02] cockroach-teamcity commented on #13736
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159410&tab=buildLog

[2017-02-23 10:21] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/f6bbf792517ce7f203d2aeead64931c8b3a1c8d3

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=159505&tab=buildLog

[2017-02-23 12:30] knz commented on #9755
Pretty sure this hasn't been addressed yet.

[2017-02-23 12:37] knz commented on #13725
This was #4548, so not exactly "Recently".

The original problem (#4538) is that JDBC was confused by a response of `RowDescription` as a result of a DDL statement (CREATE etc.). I thought in #4548 that the way to detect non-query statements was to test the number of columns, because *back then* we couldn't yet create a table with zero columns. Obviously that condition was wrong.

[2017-02-23 13:25] petermattis commented on #13722
Bind to internal IPs, right?

Cc @mberhault

[2017-02-23 13:27] mberhault commented on #13722
DNS names don't matter, it's the IP addresses they map to. We recently moved a few supervisor configs to use the external DNS names. We should stop doing that. The internal dns names (eg: `cockroach-violet-0001`) will be just fine. `indigo` is the only exception since the nodes are not in the same virtual private network.

There seems to be a massive discrepancy between cluster (different zones, s

[2017-02-23 13:37] petermattis commented on #13232
In scenario 1, I would expect the heuristic to evenly balance the leases amongst the nodes. Specifically, I would expect the new reactive lease balancing heuristic to not have any effect and the system to have the same behavior as it does now (before the new heuristic is added). Sounds like that isn't the case and I'm curious why. Can you expand on the details of the heuristic you're using?

[2017-02-23 13:48] mberhault commented on #13722
Except ultimately, the `--join` flag doesn't matter, it's the `--advertize-host` that does, and the only place we're specifying it is `indigo`. All others just end up using their local hostname, which resolves to the internal IP for nodes on the same network.

So the only cluster using external IPs for internal communication is `indigo`, and I don't think there's much we can do about that, unless

[2017-02-23 14:12] a-robinson commented on #13722
Yeah, sorry, I can't type. I meant that we should use "internal rather than external", not "external rather than hostname".

Although I was also not paying close enough attention and thought that cobalt advertising itself as `cockroach-cobalt-01` was bad, even though that's just the internally-scoped hostname, not the external hostname, so it is fine.

That means the 1.8ms 50th percentile and 3-6m

[2017-02-23 14:17] a-robinson commented on #13737
#12750

[2017-02-23 14:17] #13737 closed

[2017-02-23 14:17] a-robinson commented on #12750
Looks like this failed again :) #13737

[2017-02-23 14:17] a-robinson commented on #12039
Obsolete / not actionable anymore

[2017-02-23 14:17] #12039 closed

[2017-02-23 14:18] a-robinson commented on #13735
Maybe #13650 didn't fully deflake #13614?

[2017-02-23 14:29] petermattis commented on #13722
Seems like there is still something funky here. Hard to believe that gRPC round-trip time on an idle cluster is 150% slower than ping time. And given the timings, I'm suspicious that somehow we're using the external IPs even though it appears we aren't.

[2017-02-23 14:47] a-robinson commented on #13232
The real explanation is in the third paragraph of my post above - "whichever node has the most leases will be able to serve requests the fastest, which means it'll serve the most requests, which means that it'll continue to hold all the leases. This behavior isn't truly wrong, but it feels like it's not testing the right thing. Thus, I want to do some testing with a fixed number of requests/node/s

[2017-02-23 15:05] cockroach-teamcity opened #13742 "teamcity: failed tests on master: test (proposer evaluated kv)/TestParseSentinelValueWithNewColumnInSentinelFamily"
The following tests appear to have failed:

[#159605](https://teamcity.cockroachdb.com/viewLog.html?buildId=159605):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-23 15:08] cockroach-teamcity opened #13743 "teamcity: failed tests on master: testrace/TestRangeSplitsWithConcurrentTxns"
The following tests appear to have failed:

[#159617](https://teamcity.cockroachdb.com/viewLog.html?buildId=159617):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-23 15:10] #7760 closed

[2017-02-23 15:27] danhhz commented on #13735
Oof. Can't win em all.

@dt is currently working on deflaking the Bank test and the current suspicion is something inside Export, so these may be related. Assigning to him

[2017-02-23 15:36] tamird commented on #6890
I think this was done in f6f71ef44d50a7157c154454737c5d073990d91e.

[2017-02-23 15:38] tamird opened #13746 "sql: benchmarks failed with ambiguous result errors"
https://teamcity.cockroachdb.com/viewLog.html?buildId=158952&tab=buildResultsDiv&buildTypeId=Cockroach_BenchmarkTests

[code]

I'm confused. Why is a "range out of bounds" turning into an ambiguous result?

[2017-02-23 15:40] #13743 closed

[2017-02-23 15:42] knz commented on #12750
excellent, this time there are artifacts.
Looking into it.

[2017-02-23 15:42] cockroach-teamcity opened #13747 "teamcity: failed tests on master: testrace/TestRangeSplitsWithConcurrentTxns, testrace/TestRaftRemoveRace"
The following tests appear to have failed:

[#159704](https://teamcity.cockroachdb.com/viewLog.html?buildId=159704):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-23 15:44] bdarnell commented on #13746
`AmbiguousResultError` always implies at least two attempts, but it only returns the error from the last attempt. The first attempt must have returned some ambiguous error like an RPC timeout. But we probably should be retrying on "addressing" errors like RangeKeyMismatchError even if there is a prior ambiguous failure.

[2017-02-23 15:46] petermattis commented on #13747
Duplicate of #13743.

[2017-02-23 15:46] #13747 closed

[2017-02-23 15:50] jordanlewis commented on #13746
Also discussed in #13220.

[2017-02-23 15:54] jordanlewis commented on #13220
Superseded by #13746.

[2017-02-23 15:54] #13220 closed

[2017-02-23 15:59] petermattis commented on #13232
This might be an artifact of running multiple nodes on one machine. In a real cluster, a single machine would eventually hit a limit on the number of requests it could service and distributing leases to other nodes would improve overall performance (assuming the latencies to the other nodes are low enough).

[2017-02-23 16:08] BramGruneir opened #13749 "server: debug range page needs to look better"
<img width="955" alt="screen shot 2017-02-23 at 02 05 54" src="https://cloud.githubusercontent.com/assets/1614265/23267301/4d0ef4f6-f9b8-11e6-9e63-09644f6bdc44.png">

At least picking some nicer colours, but I'm sure much more can be done.

[2017-02-23 16:10] #13716 closed

[2017-02-23 16:29] knz commented on #13738
thanks for reporting the issue.

[2017-02-23 16:31] #5249 closed

[2017-02-23 16:38] kuanluo opened #13752 "ui: click and drag to zoom into a time scale on tables in admin ui"
Part of #13184

[2017-02-23 16:50] #13738 closed

[2017-02-23 16:54] knz commented on #10083
yes, this is feasible if we prioritize #12715 - that will give us a solution to this issue immediately.

[2017-02-23 17:15] cockroach-teamcity opened #13753 "teamcity: failed tests on master: acceptance/TestMonotonicInserts, test/TestSchemaChangeReverseMutations"
The following tests appear to have failed:

[#159895](https://teamcity.cockroachdb.com/viewLog.html?buildId=159895):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-23 17:16] knz commented on #12750
Preliminary investigation suggests we have a race between the admin rpc that queries the log and the logging buffer (i.e. the logs are not flushed before the log files are parsed). Investigating further.

[2017-02-23 17:18] RaduBerinde commented on #13496
A simple solution (that can perhaps be refined later) is to always use VALUE encoding for collated strings.
CC @eisenstatdavid

[2017-02-23 17:48] tamird commented on #10130
@knz is probably a better person to ask.

[2017-02-23 17:53] cockroach-teamcity opened #13757 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestMonotonicInserts, acceptance/TestMonotonicInserts"
The following tests appear to have failed:

[#159935](https://teamcity.cockroachdb.com/viewLog.html?buildId=159935):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-23 17:55] knz commented on #10130
The musl folks have decided to ignore the issue. The discussion went like this:

1. me: this doesn't work, but there's a FIXME in your code already. Anything you can do?
2. them: oh indeed, that should have been fixed already! lemme look
3. them (later): oh actually we don't really know how to do that
4. them: actually glibc documents `%W` (unrelated flag) to be incompletely supported, so perhaps

[2017-02-23 17:58] tamird commented on #10130
I think they mentioned it because %U falls through to %W in musl's implementation, so the flags aren't unrelated. Nevertheless, this is a bummer!

[2017-02-23 18:00] knz opened #13758 "distsql: remove the hardcoded reference to raduberinde.github.io"
The code in `sql/distsqlrun/flow_diagram.go` generates links hard coded to `raduberinde.github.io`. That's rather poor UX especially should that site become unavailable / repurposed.

[2017-02-23 18:01] petermattis commented on #10130
Yes, though I don't think we should try to hard to fix it right now.

[2017-02-23 18:02] tamird commented on #10130
@knz does %W work with musl?

According to http://pubs.opengroup.org/onlinepubs/009695399/functions/strptime.html the verbs are quite similar:

@petermattis agreed.

[2017-02-23 18:08] cockroach-teamcity opened #13759 "teamcity: failed tests on master: acceptance (proposer evaluated kv)/TestMonotonicInserts"
The following tests appear to have failed:

[#159965](https://teamcity.cockroachdb.com/viewLog.html?buildId=159965):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-23 18:08] jordanlewis commented on #13725
The problem is actually not the resultant `RowDescription` from a DDL - it's the resultant `RowDescription` response from a client `describe` message on a prepared statement that happens to be a DDL.

I'm preparing a fix.

[2017-02-23 18:17] petermattis commented on #13753
Closing in favor of #13759.

[2017-02-23 18:17] #13753 closed

[2017-02-23 18:17] petermattis commented on #13757
Duplicate of #13759.

[2017-02-23 18:17] #13757 closed

[2017-02-23 18:21] petermattis commented on #13759
Reproduced using:

[code]

23 successes, and then a failure. I'm taking a look, though part of me wonders why this is an acceptance test. We're not stopping nodes or doing anything else funky. Using `TestCluster` would be a lot easier.

[2017-02-23 18:31] mjibson opened #13760 "ui: opt-in close button has tiny click area and wrong mouse pointer"
The "x" close button has a teeeny click area and shows a text cursor on mouseover. The "opt in" button shows the normal arrow on mouseover. Both should be the hand link thing, and I think the click area of the close button should be much larger.

[2017-02-23 18:31] petermattis commented on #13759
The logs from the local failure show:

[code]

And then nothing. The test times out at 13:16:22. This meshes with the goroutine output which shows a goroutine blocked at this `QueryRow`:

[code]

In the per-node debug logs, I see a lot of "failed to push" messages. The final one occurs at the same time as the above query:

[code]

@spencerkimball Could this be some interaction with the new push-tx

[2017-02-23 18:44] knz commented on #13758
This is preliminary but linked to  #12651.

[2017-02-23 18:48] petermattis commented on #13759
I'm unable to get a failure on a42b780d679c99056ac031fd68cbc4ccd5140595 which is the SHA immediately preceding #13501.

[2017-02-23 18:52] knz commented on #10130
@tamird I do not know.

[2017-02-23 19:09] cuongdo commented on #10079
This works now, with docs and a CI test in `examples-orms`

[2017-02-23 19:09] #10079 closed

[2017-02-23 19:14] sploiselle opened #13766 "ui: Tooltips for graphs"
Each graph in the Admin UI should have a tooltip with greater detail about what it represents.

[2017-02-23 19:35] danhhz opened #13768 "hlc: document that NewClock's maxOffset should never be zero"
Consider making it panic. From https://reviewable.io/reviews/cockroachdb/cockroach/13726#-KdeyNnDyHpdrSLtu-Vc:-KdgR7YF9JLQvGlJ9GXE:b-brk0y8

[2017-02-23 19:41] tamird commented on #13768
It's not true that it should _never_ be zero, but it should never be zero in tests.

[2017-02-23 19:44] jordanlewis opened #13769 "cli: results with no columns are rendered incorrectly"
Our CLI renders results of a select with no columns by just printing `OK`, which doesn't make too much sense.

Us:
[code]
psql:
[code]

Found after fixing #13725.

[2017-02-23 20:01] cockroach-teamcity opened #13770 "teamcity: failed tests on master: test (proposer evaluated kv)/TestParallel, test (proposer evaluated kv)/TestParallel/subquery_retry"
The following tests appear to have failed:

[#160249](https://teamcity.cockroachdb.com/viewLog.html?buildId=160249):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-23 20:08] petermattis commented on #13759
Debugging locally on top of #13767, I see 6 goroutines blocked at `push_txn_queue.go:300`. All of those goroutines are executing the above mentioned query (`SELECT MAX(val) AS m FROM mono.mono`). Deadlock? Or a race where txns get added to the push-txn queue after the txn completes?

[2017-02-23 20:21] kuanluo commented on #13557
Good inspiration on toggling between modes of visualization: http://www.nytimes.com/interactive/2012/02/13/us/politics/2013-budget-proposal-graphic.html?_r=0

[2017-02-23 20:44] mjibson commented on #13725
After in person discussion with Jordan, I'm not convinced this was the correct fix. I think The NoData message is referring to INSERT and other queries that don't ever return rows. We are going to add C and Java tests, and I'm going to investigate with a postgres server to figure out when they use that message. Reopening until this is resolved.

[2017-02-23 21:09] mrtracy commented on #3473
Over a year old!

[2017-02-23 21:16] #13717 closed

[2017-02-23 21:22] cockroach-teamcity opened #13773 "teamcity: failed tests on master: test/TestShowCreateTable"
The following tests appear to have failed:

[#160406](https://teamcity.cockroachdb.com/viewLog.html?buildId=160406):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-23 22:33] petermattis opened #13777 "storage: TestPut consistency check sometimes never returns"
Depends on #13776. After that change goes in, if we re-enable the `CheckConsistency` call in the test we sometimes see a failure where the consistency check never returns:

`W170223 17:23:58.708510 2724 kv/dist_sender.go:1173  [n1] have been waiting 1m0s sending RPC for batch: 1 ChkConsistency`

[2017-02-23 22:57] RaduBerinde commented on #13758
Yes, this is temporary - we want the URL to point to the cockroach server itself (though unfortunately that will make it less usable on GCE and similar).

[2017-02-23 22:57] #12740 closed

[2017-02-23 23:00] petermattis commented on #13777
When the hang occurs, I see that the compute checksum request is not processed on one of the nodes. Without the compute checksum being processed, a subsequent collect checksum request to that node hangs indefinitely.

[2017-02-23 23:29] knz commented on #10083
I got #13781 submitted as groundwork for this.
The remaining step is to implement a transform function that rewrites the table expressions in the view definition to become numeric table/index references prior to storing the definition in the view descriptor.

[2017-02-24 01:08] nathanejohnson commented on #10130
@tamird it does not, unfortunately

[2017-02-24 01:14] nathanejohnson commented on #10130
if it is legal license-wise to peek at glibc to help musl ipmlement this feature, I feel like I could help, but I'm not sure what's allowed in this regard.

[2017-02-24 01:39] tamird commented on #10130
@nathanejohnson from the mailing list discussion:

So just peeking at glibc is probably not going to fly.

[2017-02-24 01:42] nathanejohnson commented on #10130
glibc uses the same tm and they make it work.  even though they don't store a week number, they have ways of parsing it on the way in (i.e., in strptime) and calculating it on the way out (i.e., strftime)

[2017-02-24 02:13] #13759 closed

[2017-02-24 02:19] nathanejohnson commented on #10130
if me porting glibc code to musl is not legal (and I suspect it isn't, as I've already peeked and admitted as much here and elsewhere), I could describe how the glibc code works to someone who hasn't seen it could write it and I suspect that would be a viable workaround.  IANAL

[2017-02-24 02:29] cockroach-teamcity opened #13783 "teamcity: failed tests on master:"
The following tests appear to have failed:

[#160679](https://teamcity.cockroachdb.com/viewLog.html?buildId=160679):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-24 02:43] spencerkimball commented on #9470
Starvation in these scenarios should no longer be a problem with the push txn queue (#13501).

[2017-02-24 02:43] #9470 closed

[2017-02-24 02:53] spencerkimball commented on #5493
No this has definitely been addressed.

[2017-02-24 02:53] #5493 closed

[2017-02-24 03:42] jordanlewis commented on #13783
phantomjs ![phantomjs menace](http://www.scififantasynetwork.com/wp-content/uploads/2015/08/the-phantom-menace-crop-2.jpg)

[2017-02-24 03:42] #13783 closed

[2017-02-24 04:16] #13725 closed

[2017-02-24 04:31] cockroach-teamcity opened #13784 "teamcity: failed tests on master: test/TestMonotonicInserts"
The following tests appear to have failed:

[#160727](https://teamcity.cockroachdb.com/viewLog.html?buildId=160727):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-24 07:05] knz commented on #10130
Please have a look at the freebsd code. The licence is all right and it supports the thing.

[2017-02-24 07:17] cockroach-teamcity commented on #13735
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=160782&tab=buildLog

[2017-02-24 07:19] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=160812&tab=buildLog

[2017-02-24 07:36] cockroach-teamcity opened #13785 "server: TestAdminAPIEvents failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=160815&tab=buildLog

[code]

[2017-02-24 07:58] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=160913&tab=buildLog

[2017-02-24 07:58] cockroach-teamcity commented on #13785
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=160916&tab=buildLog

[2017-02-24 08:34] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=161014&tab=buildLog

[2017-02-24 09:09] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=161115&tab=buildLog

[2017-02-24 09:39] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=161216&tab=buildLog

[2017-02-24 10:12] cockroach-teamcity commented on #13734
SHA: https://github.com/cockroachdb/cockroach/commits/6067175467360837c69b66fafae9910952cf6709

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=161317&tab=buildLog

[2017-02-24 13:50] spencerkimball commented on #13746
I'll take a look at this. Some possible remedies come to mind for this and #13220. Does anyone have a solid means of repro'ing these failures?

[2017-02-24 15:07] petermattis commented on #13777
Oh, fun. We might not process a `ComputeChecksumRequest` on one of the replicas because the replica was too far behind (or just being added) and it was caught up using a Raft snapshot. Because the `ComputeChecksumRequest` wasn't processed, the subsequent `CollectionChecksum` request waits forever (or until it times out).

Not sure what we can/should do here. We can't rely no a request sent through

[2017-02-24 15:18] tamird commented on #13746
I'd try `make bench ... TESTFLAGS='-count 300'`

On Fri, Feb 24, 2017 at 8:50 AM, Spencer Kimball <notifications@github.com>
wrote:

[2017-02-24 15:46] tschottdorf opened #13787 "sql: support diesel-rs"
The following are known to block supporting [diesel-rs](https://diesel.rs).

- [ ] #10735 (SQL savepoints)
- [ ] #12123 (can't recreate dropped table within same transaction)
- [ ] #12120 (uses a stored procedure to automatically populate an `updated_at` field; however it seems that this isn't used for anything and was added "just because")

The list is likely incomplete, but with hacky workaround

[2017-02-24 16:06] #13777 closed

[2017-02-24 16:07] jseldess commented on #5514
Yep, looks good now.

[2017-02-24 16:07] #5514 closed

[2017-02-24 16:07] bdarnell commented on #13777
Looks like we need to cancel all pending `Replica.getChecksum` calls when applying a snapshot (probably in `refreshPendingCommands` with an appropriate `reason` code. (and we should have a timeout too)

[2017-02-24 16:08] petermattis commented on #13777
I went the route of ensuring that we specify a timeout for `CollectionChecksum` requests.

[2017-02-24 16:22] petermattis commented on #13722
I wrote a simple gRPC service which shows 1-1.5ms RTTs on cobalt, while ping is showing 600ms RTTs. Next step would be to try something even simpler that just uses sockets.

[2017-02-24 16:25] cockroach-teamcity opened #13788 "teamcity: failed tests on master: test (proposer evaluated kv)/TestSchemaChangeRetryOnVersionChange"
The following tests appear to have failed:

[#161481](https://teamcity.cockroachdb.com/viewLog.html?buildId=161481):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-24 16:32] cockroach-teamcity opened #13789 "teamcity: failed tests on master: testrace (proposer evaluated kv)/TestFailedOffsetMeasurement"
The following tests appear to have failed:

[#161494](https://teamcity.cockroachdb.com/viewLog.html?buildId=161494):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-24 16:38] cockroach-teamcity opened #13790 "teamcity: failed tests on master: test/TestSchemaChangeRetry"
The following tests appear to have failed:

[#161515](https://teamcity.cockroachdb.com/viewLog.html?buildId=161515):

[code]
Please assign, take a look and update the issue accordingly.

[2017-02-24 16:43] #13674 closed

[2017-02-24 17:54] #13016 closed

[2017-02-24 17:54] #13189 closed

[2017-02-24 17:54] #13600 closed

[2017-02-24 17:56] RaduBerinde commented on #13377
This has been enabled with workarounds for the outstanding issues (which are tracked separately).

[2017-02-24 17:56] #13377 closed

[2017-02-24 18:01] RaduBerinde commented on #12876
Unassigning issues that someone should look into while I'm gone.

[2017-02-24 18:02] RaduBerinde commented on #8057
Unassigning issues that someone should look into while I'm gone.

[2017-02-24 18:31] petermattis commented on #13687
I wiped and restarted `indigo` with a binary built at 602e690e9fef521f8fdebd58c7f796f02bf0c284. I then ran `block_writer` and let it run for a few minutes. Almost immediately, I saw the amount of Raft log behind metric start to grow:

![screen shot 2017-02-24 at 1 27 12 pm](https://cloud.githubusercontent.com/assets/6201335/23315634/136cb91c-fa95-11e6-9798-107aea0dfc7f.png)

This corresponded with

[2017-02-24 18:45] jseldess opened #13791 "sql: probably shouldn't allow BIT(n) greater than BIT(64)"
You can define a `bit(n)` column with a bit limit higher than 64:

[code]

However, we check that inserted values are not larger than 64-bit signed ints:

[code]

Given that we have that implicit limit, it seems misleading to let users define `bit(65)` and up.

@nvanbenschoten, @knz

[2017-02-24 18:47] jseldess commented on #5514
Found one minor residual `bit` issue, @knz: https://github.com/cockroachdb/cockroach/issues/13791

[2017-02-24 18:48] petermattis commented on #13687
Started the `block_writer` load again for a few minutes and this time the under-replicated range did not recover when load was stopped:

![screen shot 2017-02-24 at 1 40 57 pm](https://cloud.githubusercontent.com/assets/6201335/23316100/0ccecc56-fa97-11e6-8b3e-36f12f75c3be.png)

![screen shot 2017-02-24 at 1 41 23 pm](https://cloud.githubusercontent.com/assets/6201335/23316093/04f9fd0c-fa97-11e6-9

[2017-02-24 19:04] petermattis commented on #13687
I restarted indigo 8. After restarting, another snapshot wedged up almost immediately. On the sender side (indigo 2) I see:

[code]

So indigo 2 tried to send a snapshot for `r22` to indigo 8 at 18:58:27. At 18:59:27 the 1m deadline for that operation timed out. Indigo 2 then tries to send another snapshot to indigo 8, but that fails immediately because the breaker is open.

Anyone have any though

[2017-02-24 19:05] petermattis commented on #13687
Also, why does indigo 8 seem to never get notification that the snapshot operation timed out? @tamird Is there something funky going on with context cancellation here?

[2017-02-24 19:13] tamird commented on #13687
I wouldn't normally expect this to have anything to do with context cancellation; indigo 8 should be noticing if the sender goes away when it calls Recv or Send on the stream.

That said, if the sender has a timeout (why does it have one, btw?), maybe we should be watching the stream context (which will have a propagated timeout) and bail from the RPC method.

[2017-02-24 19:15] petermattis commented on #13687
The sender has a 1m timeout because it was started from the Raft snapshot queue. Queues have a default 1m timeout.

The recipient is stuck on `Recv`. What else can it be watching for?

[2017-02-24 19:19] tamird commented on #13687
[code]

Breaking out of the function should unwedge the `Recv` call.

[2017-02-24 19:22] petermattis commented on #13687
Oh, yeah, that's not good. That explains why the snapshot is getting wedged on the recipient. And I think it is timing out because we're only able to send ~1MB/sec and the range is larger than 60MB.

[2017-02-24 19:27] petermattis commented on #13687
Hmm, a simple bandwidth test using `nc` shows we can send 40MB/sec between indigo 2 and indigo 8.

[2017-02-24 19:32] tamird commented on #13687
Where did the 1 MB/s figure come from?

On Feb 24, 2017 14:27, "Peter Mattis" <notifications@github.com> wrote:

[2017-02-24 19:33] petermattis commented on #13687
Log messages in `sendSnapshot` for every batch being sent. The log messages were being output every second (on average). For a given `sendSnapshot` invocation, I saw 60 of them before we hit the deadline.

[2017-02-24 19:34] jseldess commented on #12878
If we decide not to add this as a flag, we should probably add docs on the env variable in the off-chance that users do want/need to change the default.

[2017-02-24 19:40] petermattis commented on #13687
I'm suspicious that indigo 8 is falling behind simply because it has higher latency. Ping times between indigo 2 and indigo 5 (the other node with a replica) are 40ms. Between indigo 2 and indigo 8 the ping times are 60ms. The Raft log is likely growing to a size where we're truncating it and forcing a snapshot. But there really isn't another choice here. Seems like we need to have flow control al

[2017-02-24 19:46] petermattis opened #13793 "storage: range debug page enhancements"
![screen shot 2017-02-24 at 2 42 58 pm](https://cloud.githubusercontent.com/assets/6201335/23318284/c0dfdfe8-fa9f-11e6-86c2-41aa727c15cd.png)

This range has an epoch-based lease. As such, there is no expiration. The type of lease (epoch or expiration) should be noted.

Does the "Lease" row identify the leaseholder or something else? If the leaseholder, it should be renamed.

The "Key Range" row i

[2017-02-24 19:46] jseldess commented on #5828
@petermattis, reported this just as a nice-to-have, but it's very minor, so feel free to close if it's not likely to get attention.

[2017-02-24 19:50] jseldess commented on #5777
I don't think we'll have the bandwidth to handle this for 1.0. Instead, based on user feedback, we've tried to foreground the statement-specific docs and diagrams over the full grammar.

Definitely worth revisiting this later, though.

[2017-02-24 19:59] bdarnell commented on #13687
We do ultimately need flow control, but in this case we should really be able to send the snapshot in  under a minute. I suspect that we're hitting some sort of pathological case in grpc or its http/2 layer that might explain both this and #13722.

[2017-02-24 20:00] jseldess commented on #5754
@petermattis, I put this here because I figured we might want to test additional drivers before recommending them, like we've done for psycop2 and others here: https://github.com/cockroachdb/cockroach/tree/e1ef4ec96659ef27ff29d923014f416070a982b6/pkg/acceptance.

If we don't plan to test additional drivers, feel free to close this.

[2017-02-24 20:03] petermattis commented on #13687
Even if we can send snapshots faster, the fact that one Replica is "slower" than the other 2 means it will fall farther and farther behind until a snapshot is needed. Hence the need for flow control.

[2017-02-24 20:04] jseldess commented on #5754
Actually, I'm just noticing that we don't have tests for all recommended drivers listed here: https://www.cockroachlabs.com/docs/install-client-drivers.html. Looks like rust and clojure are missing. Should we have tests for those?

[2017-02-24 20:05] bdarnell commented on #13687
A higher-latency replica is not automatically doomed to fall behind; it should be able to keep up as long as it has sufficient bandwidth (of course the two tend to be correlated)

[2017-02-24 20:18] petermattis commented on #13687
Regardless of the reason a replica is continually falling behind (latency, bandwidth, slowness on the node itself), without flow control we'll get into these snapshot loops.

But before flow control, I'm going to do a bit of experimentation to try and figure out why our bandwidth via gRPC seems dramatically lower than what `nc` sees (1-2MB/sec vs 30-40MB/sec).

[2017-02-24 20:45] jseldess commented on #13666
Wonder if we should add external docs to this checklist, @RaduBerinde?

[2017-02-24 22:48] andreimatei opened #13798 "distsql: typing information for data traveling over the wire on DistSQL streams should be statically configured"
At the moment, the typing information is fed to a `StreamDecoder` when the first row is passed to the corresponding `StreamEncoder`. This leads to an awkward communication protocol where the sender/receiver need to keep track of whether they've sent/received this information.
I think it'd be a lot nicer if the typing was inferred and configured as part of the `StreamEndpointSpec` when the plan is