[2018-04-23 15:43] dt commented on #24829
That's unexpected: that class of error message usually only happens in a mixed-version cluster if a newer node writes a value for a setting older nodes do not yet know about. It is usually safe to ignore it.

however it is odd that it would happen in a single-version unit test... unless we have a mixed-version acceptance test?

[2018-04-23 15:52] nvanbenschoten opened #24991 "storage: Marshal RaftCommand outside of Replica mutex"
Related to #9827.

#24990 demonstrated that locking in Replica.propose is expensive and that it has a direct impact on throughput. Part of the reason for this is that RaftCommand's are currently [marshaled](https://github.com/cockroachdb/cockroach/blob/ef87ff71f9fa58da5da703bb3079d407d096c911/pkg/storage/replica.go#L3304) to a byte array while holding locks. We should look into ways to perform thi

[2018-04-23 15:55] couchand opened #24992 "ui: gracefully handle remote_debugging setting"
In #24071, which was made as part of the emergency changes to fix #23555, I added a band-aid fix to the Node Logs page and the Range Simulated Allocator component.  The fix has this TODO above:

Let's get rid of that TODO.  Broadly, I can see two potential strategies:

1.  Explicitly check for the setting and don't bother making a request to an endpoint that will fail.
2.  Implement #6307 and cons

[2018-04-23 16:12] #24980 closed

[2018-04-23 16:35] bdarnell commented on #24753
@garvitjuniwal Which version did you see this on? We think this bug has been present for a long time, but if it's turned up recently for both you and one of our test clusters maybe something changed in 2.0 to make this more likely.

That's still the intention, but as a temporary workaround for this issue you may want to include all the nodes in the join flag.

It's fine if the join flags contain n

[2018-04-23 17:03] a-robinson commented on #24753
I don't think that would actually help here. The nodes had all the necessary bootstrap addresses, they just all thought they were sufficiently connected and didn't need to try any more of them.

Gossip records have TTLs, and node descriptors time out after an hour.

[2018-04-23 17:13] bw-smarkwell commented on #24144
Attaching log outputs.

Environment
Windows 10 Pro 1709
CockroachDB CCL v2.0.0 (x86_64-w64-mingw32, built 2018/04/03 21:03:23, go1.10)

First log is a series of requests via JDBC.  Second set of logs is during attempt to restart the node via the CLI.

The process creation in both cases is all managed from the JVM process builder.  I do not believe this to be a root cause of the issue.  I have veri

[2018-04-23 17:33] vivekmenezes commented on #15026
Closing this issue. Please do reopen if this is still an issue. Thanks!

[2018-04-23 17:33] #15026 closed

[2018-04-23 17:36] tschottdorf commented on #24753
Based on a reading of this thread, it seems that the proposed fix is to not let the expiration-based leases expire on this range. Is this correct?

@bdarnell the meta ranges are also expiration-based, and there can be many of them. This seems problematic enough to restrict which ranges this applies to.

[2018-04-23 17:39] a-robinson commented on #24753
Yes.

That was my thinking, but I could certainly be convinced otherwise.

[2018-04-23 17:44] bdarnell commented on #24144
@knz Yes, the advisory locks were added in #20854. We used the rocksdb LockFile function so the temp dir should be locked in the same way as the rocksdb store itself. On Windows this uses

    hFile = CreateFileA(lockFname.c_str(), (GENERIC_READ | GENERIC_WRITE),
      ExclusiveAccessON, NULL, CREATE_ALWAYS,
      FILE_ATTRIBUTE_NORMAL, NULL);

I don't think this leaves the file locked after the p

[2018-04-23 17:46] a-robinson commented on #24972
Thanks for the detailed request, @wcharczuk! Handing off to @jordanlewis and @awoods187 for prioritization.

[2018-04-23 17:49] knz commented on #24144
The lock is properly released when the process shuts down. I'm just proposing that this is not done properly if the process crashes.

[2018-04-23 17:50] bdarnell commented on #24753
There can be multiple of them, but they can only ever be a tiny fraction of the cluster size. And I think it's worth keeping leases for them up-to-date to minimize latency variation when we have to do range lookups.

[2018-04-23 17:52] andreimatei commented on #24144
I think we should verify if indeed the data dir has the same problem after a crash on Windows. If it doesn't, maybe we shouldn't use the advisory locks at all on windows for the temp dir if the OS doesn't implement them properly.

[2018-04-23 17:55] garvitjuniwal commented on #24753
Ok, to clear up my understanding. A node will first decide whether it already connected enough to the rest of the cluster (is this only based on being able to see the sentinel key?) Only if it needs to, it will try to connect to nodes in its --join flag, and it will also try to connect to nodes that it has persisted on disk from past gossips (is this called the local gossip infostore?). I'm assumi

[2018-04-23 17:56] bdarnell commented on #24991
Instead of using atomics, we could encode the RaftCommand in two parts. First encode a RaftCommand with every field set but the lease index outside the locks, then inside the lock encode a RaftCommand with *only* the lease index set, then concatenate them. This is a safe use of protobufs (as long as you're only working with top-level fields)

[2018-04-23 18:00] BramGruneir commented on #24144
I tested this with a proper shut down, a quick shutdown (crtl-c crtl-c) and process kill, and the it's the same problem each time.

[2018-04-23 18:01] nvanbenschoten commented on #24991
I considered the idea to create a new Raft command encoding that would allow us to encode most of the `storagebase.RaftCommand` outside the lock and the lease index inside the lock. Essentially we would be storing the lease index outside of the encoded proto entirely. Your proposal sounds like it accomplishes the same thing with much less complexity! Mind pointing to the documentation discussing w

[2018-04-23 18:02] a-robinson commented on #24971
Good catch, @yaojingguo! Looks like you found a bug. It looks like that line should be using `ingestErr` instead of `err`, meaning it should be:

[code]

Feel free to send a PR for this, otherwise if you don't within a couple days I will.

[2018-04-23 18:06] andreimatei commented on #24144
So how do we *ever* manage to restart on windows? Do we create the advisory lock lazily the first time a query needs the temp dir?
And RocksDB's locks (if it uses them on Windows) presumably don't have this problem?

[2018-04-23 18:10] bdarnell commented on #24991
It doesn't seem to be called out anywhere in the public docs, although it can be inferred from the [protobuf encoding](https://developers.google.com/protocol-buffers/docs/encoding) documentation.

[2018-04-23 18:11] knz commented on #24144
@BramGruneir which was the "proper shutdown"? IS there a difference between a single ctrl+c and `cockroach quit`? (I suspect `cockroach quit` behavior might be different)

[2018-04-23 18:11] BramGruneir commented on #24144
I didn't try cockroach quit.  I can tonight.

[2018-04-23 18:14] garvitjuniwal commented on #24753
What is the worst that can happen if those nodes became a part of another cluster? Whatever it is, I'm fairly sure would not apply if you are using secured clusters, right?

[2018-04-23 18:14] nvanbenschoten commented on #24991
Actually, it's explicit right at the bottom!

Thanks for the tip @bdarnell.

[2018-04-23 18:51] tschottdorf opened #24998 "logspy: allow more than 60s of interception (but limit the max number of results after grep)"
The logspy endpoint currently does not allow more than 60s of log interception, but this can occasionally come in handy. We should allow it.

Observed in https://github.com/cockroachdb/cockroach/issues/24966#issuecomment-383335521

[2018-04-23 19:09] pbardea opened #24999 "sql: create shared joiner test cases"
Currently, test cases are written for every new joiner created. It would be beneficial if we had a general join testing case which could be used by all processors so when a new test is added, it gets run on all implementations of the joiner.

[2018-04-23 19:39] tschottdorf commented on #24998
I was worried about grabbing large volumes of logging, but this would only be a problem with a permissive filter. A hard limit to a given number of lines post filtering is what I really wanted.

[2018-04-23 19:50] #24341 closed

[2018-04-23 20:06] danhhz opened #25006 "release: v2.1-alpha.20180507"
Candidate SHA: 1d082262dcb3ec1b39f7f42b7321914423ed4841.
Deployment status: adriatic, omega, https://teamcity.cockroachdb.com/viewLog.html?buildId=633237&tab=buildResultsDiv&buildTypeId=Cockroach_Nightlies_NightlySuite.

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: 2018-04-30
- [x] [Pick a sha](https://github.com/cockroachdb/cockroach/wiki/

[2018-04-23 20:12] nvanbenschoten opened #25007 "client/kv: add unique sequence number to each Request in a BatchRequest"
A `BatchRequest` currently holds a sequence number, which is used to prevent replays and out-of-order application. This is described in pretty great detail in [this work-in-progress tech note](https://github.com/andreimatei/cockroach/blob/2d50722371ac39afd4a11244da399a3e920776b5/docs/tech-notes/Retries-in-CRDB.rst#distsender-retries). The sequence number is assigned in `DistSender` by calling `Bat

[2018-04-23 20:21] andreimatei opened #25009 "sql: confusing error for AOST in explicit txn"
By mistake, AOST in explicit txns is handled like a non-top level AOST.

[code]

[2018-04-23 20:37] a-robinson opened #25010 "stability: Slow snapshot application on restarted node in geo-distributed cluster"
In one of @dianasaur323's geo-distributed clusters that spans both the US and Europe, she dropped a large database and restarted a node that had been offline for over a week (I don't know the timing/order of events for sure). Replication to the restarted node is going incredibly slowly, with only ~20 replicas having been moved onto it after an hour, and now ~290 replicas after two hours.

The logs

[2018-04-23 20:38] solongordon opened #25011 "workload: create 2.1-sql-20 workload"
Put together a collection of queries whose performance the sql-execution team will track for 2.1, and create a workload that runs those queries. The workload can probably just be a `workload` port of `querybench` with the appropriate query file.

[2018-04-23 20:40] solongordon commented on #24692
I'm going to hold off on the `interleaveReaderJoiner` benchmark since we're not focusing on interleaved table performance right now.

[2018-04-23 20:40] #24692 closed

[2018-04-23 20:44] a-robinson commented on #25010
And for what it's worth, this is using the dataset that has some really long start and end keys on its ranges.

[2018-04-23 21:19] smarkwell opened #25018 "Where condition on pg_namespace is broken in 2.0.0"
Is this a question, feature request, or bug report?
Bug

**BUG REPORT**

Env
 - Windows 10 Pro 1709
 - Server version: CockroachDB CCL v2.0.0 (x86_64-w64-mingw32, built 2018/04/03 21:03:23, go1.10) (same version as client)

[code]

2. Please describe the issue you observed:

- What did you do?

Attempting to filter a query on pg_namespace

- What did you expect to see?

A successful result set

-

[2018-04-23 21:31] a-robinson commented on #25018
Hi @smarkwell, I think you're hitting something that often confuses users who haven't used postgres before. In postgres (and consequently in cockroach because we strive for postgres compatibility), quotation marks (`"`) are used to refer to identifiers like table or column names. To quote values such as string literals, you have to use apostrophes (`'`), meaning you want to run `SELECT * FROM pg_n

[2018-04-23 21:31] #25018 closed

[2018-04-23 21:40] bw-smarkwell commented on #25018
Thank you, my apologies for the distraction, there is an upstream system that exposed this issue.

[2018-04-23 21:50] andreimatei opened #25022 "sql: SHOW EXPERIMENTAL_FINGERPRINTS races with schema changes"
`create table f(x int primary key, y int, index y_idx (y));`
conn 1: `BEGIN`
conn 2: `drop index f@y_idx;`
conn 1:
[code]

This is because the `ShowFingerprints` bypasses the table desc cache initially when deciding which indexes to fingerprint, and so thinks that there's two indexes :
[code]

But then actually fingerprinting probably hits the cache which now says that there's a single index. This

[2018-04-24 03:40] #24748 closed

[2018-04-24 03:41] #15258 closed

[2018-04-24 03:41] #13913 closed

[2018-04-24 03:42] mjibson commented on #10322
This is too old to care about anymore.

[2018-04-24 03:42] #10322 closed

[2018-04-24 03:42] #9365 closed

[2018-04-24 03:42] #15650 closed

[2018-04-24 03:43] mjibson commented on #18644
Closing because we fixed the major problem here.

[2018-04-24 03:43] #18644 closed

[2018-04-24 05:28] cockroach-teamcity commented on #24654
SHA: https://github.com/cockroachdb/cockroach/commits/6c683a798f609f300b3a37af7d24e1cfbccf19a0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=620684&tab=buildLog

[2018-04-24 05:28] cockroach-teamcity commented on #24655
SHA: https://github.com/cockroachdb/cockroach/commits/6c683a798f609f300b3a37af7d24e1cfbccf19a0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=620684&tab=buildLog

[2018-04-24 06:59] cockroach-teamcity commented on #24717
SHA: https://github.com/cockroachdb/cockroach/commits/6c683a798f609f300b3a37af7d24e1cfbccf19a0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=620866&tab=buildLog

[2018-04-24 09:09] knz commented on #24144
I'll champion a patch that removes the usage of locks. For the record, I had predicted this problem would occur:

https://github.com/cockroachdb/cockroach/issues/20673#issuecomment-354119194

[2018-04-24 11:37] cockroach-teamcity commented on #24717
SHA: https://github.com/cockroachdb/cockroach/commits/6c683a798f609f300b3a37af7d24e1cfbccf19a0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=621454&tab=buildLog

[2018-04-24 12:05] knz commented on #20419
This should have been addressed in CockroachDB 2.0/2.0.1.

[2018-04-24 13:06] cockroach-teamcity commented on #24717
SHA: https://github.com/cockroachdb/cockroach/commits/6c683a798f609f300b3a37af7d24e1cfbccf19a0

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=621651&tab=buildLog

[2018-04-24 13:16] benesch commented on #17173
Hmm, sounds like there's something particular about your schema that's causing the error. Could you post your model definition?

[2018-04-24 13:29] knz commented on #24603
@dt this issue really wants to live in a github project dedicated to metadata collection and telemetry. Do we have one already?

[2018-04-24 13:41] couchand commented on #24780
Maybe.  My preference is generally to let the user open links in a new tab if they wish, but not force it, though I can see it making sense here.

[2018-04-24 13:47] jseldess commented on #24780
I also prefer to let the user choose in most cases, but in this specific case, it's seems very unlikely that a user would ever want to lose/close the admin ui.

[2018-04-24 13:48] #24667 closed

[2018-04-24 13:52] couchand commented on #7036
This is a nice idea, but we simply don't have enough information to do this in the general case.

[2018-04-24 13:52] #7036 closed

[2018-04-24 14:00] couchand commented on #5980
After reading the discussion on this issue, I think it perfectly represents a concern I've had for a while: our timeseries line charts are misleading.  There are several aspects to this (for instance, #17552), but in this case, the problem is that we show an interval as a single point.

I think @tschottdorf's suggestion is generally right, though I would suggest that we want to show a step chart i

[2018-04-24 14:03] couchand commented on #6177
This is an interesting idea, but seems too speculative to keep open.

[2018-04-24 14:03] #6177 closed

[2018-04-24 14:35] couchand commented on #24182
Potentially a duplicate of #24767

[2018-04-24 14:59] #24971 closed

[2018-04-24 15:38] couchand commented on #24968
Dupe of #21239

[2018-04-24 15:38] #24968 closed

[2018-04-24 15:40] a-robinson commented on #25006
The plan is to pick a new SHA last week, but just for some better testing of recent changes I've pushed 56cf78af266d25dba5192a94debb354275b01132 to adriatic and omega.

[2018-04-24 15:46] couchand commented on #24771
I believe the problem is just that the replica count is always self-reported.  Perhaps @mrtracy has additional insight.

[2018-04-24 15:48] abhimadan commented on #24575
Closed by #24933.

[2018-04-24 15:48] #24575 closed

[2018-04-24 16:03] mrtracy commented on #24771
Seems like a graph bug to me; in that graph screenshot, you can see that the line for node 5 ends, but the value is still reported as 44 in the tooltip.

[2018-04-24 16:03] couchand commented on #19522
Closed by #24616

[2018-04-24 16:03] #19522 closed

[2018-04-24 16:16] cockroach-teamcity opened #25029 "teamcity: failed tests on master: test/TestNodeLivenessDecommissionAbsent"
The following tests appear to have failed:

[#621993](https://teamcity.cockroachdb.com/viewLog.html?buildId=621993):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-24 16:59] skunkwerk commented on #2656
Supporting PostgreSQL's logical decoding would also allow the use of debezium for CDC: https://github.com/debezium/debezium.  I'm not opposed to Kafka, though - it's open source, and Kafka Connect supports many tools.

[2018-04-24 17:00] couchand commented on #17948
See also #5980

[2018-04-24 17:04] couchand commented on #17936
Looks like we haven't been able to reproduce this, and as far as I know the reported issue hasn't come up on 1.1 or 2.0, so I'm going ahead and closing this out.

[2018-04-24 17:04] #17936 closed

[2018-04-24 17:07] vivekmenezes opened #25030 "sql: get rid of upVersion bit on TableDescriptor"
TableDescriptor has an up_version bit . From a comment in structured.proto

// Monotonically increasing version of the table descriptor.
  //
  // Invariants:
  // 1. not more than two subsequent versions of the table
  // descriptor can be leased. This is to make the system
  // easy to reason about, by permitting mutation state
  // changes (reflected in the next version), only when the existing

[2018-04-24 17:11] skunkwerk opened #25031 "sql: per-user/role/database resource limits (cpu,memory,concurrent queries)"
1.  FEATURE REQUEST

Feature: Allow user/role/database-based resource limits on CPU/memory usage, or limit the number of concurrent queries per user/role/database.

2.  Use case: In a multi-tenant application, there are often hundreds to thousands of users/applications being supported.  If the users have raw SQL access to the database, it is necessary to limit each one's resources to avoid perform

[2018-04-24 17:29] couchand commented on #24085
related to  #12860

[2018-04-24 17:32] couchand commented on #13824
This seems to be a duplicate of #12856

[2018-04-24 17:32] #13824 closed

[2018-04-24 17:33] a-robinson commented on #25031
Thanks for the request, @skunkwerk. This is probably a ways off, since we still have a lot of room to improve analytical query performance before we think about per-role analytical query isolation. But cc @knz for tracking purposes.

[2018-04-24 17:44] andreimatei commented on #23304
@a-robinson @benesch I've hit this again on TC. I see y'all closed a bunch of these around early May. Is the conclusion "nothing we can do about it" ?

[2018-04-24 17:45] vivekmenezes commented on #16516
closing this issue.

[2018-04-24 17:45] #16516 closed

[2018-04-24 17:48] benesch commented on #23304
Yup. Maybe we could add a retry loop somewhere? ¯\_(ツ)_/¯

[2018-04-24 17:58] couchand commented on #17046
I don't think this is something we're going to take up at this point.  We're moving in the direction of locking the admin UI down more consistently, not the other way.

[2018-04-24 17:58] #17046 closed

[2018-04-24 18:03] robert-s-lee opened #25035 "control placement of secondary index leaseholder on a geo-partitioned table"
**FEATURE REQUEST**

Leaseholder placement for secondary keys that do that have partition key cannot be controlled.  On a globally distributed multi-active cluster, performance variance when using secondary index is great.  The variance is un-predictable as the location of the leaseholder of the secondary index can move.

[code]

[2018-04-24 18:06] tschottdorf opened #25036 "roachtest: hotspots splits test is flaky"
hotspotsplits.go:102,hotspotsplits.go:118: range size 198 MiB exceeded 192 MiB

https://teamcity.cockroachdb.com/viewLog.html?buildId=620631&buildTypeId=Cockroach_Nightlies_WorkloadNightly

[2018-04-24 18:08] tschottdorf commented on #25036
@nvanbenschoten any idea how this happens? Is this perhaps because the blobs we're writing are so large that we can overshoot by 4mb?

[2018-04-24 18:08] nvanbenschoten commented on #24991
I did some benchmarking with a prototype that used the byte slice concatenation trick. When built on top of #24990, I wasn't able to see any significant performance improvement. This benchmarking was more rigorous than the previous one mentioned above, so perhaps that perceived gain was just a fluke. Closing for now.

[2018-04-24 18:08] #24991 closed

[2018-04-24 18:10] #23976 closed

[2018-04-24 18:22] a-robinson opened #25038 "sql: crash_reporting.go:471: txn: unexpected 20480 leftover bytes | string"
https://sentry.io/cockroach-labs/cockroachdb/issues/535196237/

[code]

It looks like the statement was just `BEGIN TRANSACTION READ WRITE`.

[2018-04-24 18:32] vilterp opened #25040 "ui: investigate supporting authentication with client-side certs"

[2018-04-24 18:33] vilterp commented on #25040
update: mimic pgwire: https://github.com/cockroachdb/cockroach/blob/5da4bbd9f24e637fa3fa8768f4132dca545f9cd8/pkg/sql/pgwire/v3.go#L280-L309

[2018-04-24 18:37] couchand commented on #24771
Good point, so it's a dupe of #23480 then.

[2018-04-24 18:37] #24771 closed

[2018-04-24 18:38] vilterp commented on #8767
Update after talking to @mrtracy:

1. we get the user in this method; put it in `req.Context()`: https://github.com/cockroachdb/cockroach/blob/dab9f23fd49860faeaa9f4303b7f5d6e888f3ab8/pkg/server/authentication.go#L317
2. change the `getUser` method above to take the context gRPC gives us and return the user from it

[2018-04-24 18:42] mberhault commented on #25040
Client certificates and browsers are notoriously annoying and tedious.
I would recommend not even attempting to use client certs for web authentication, but relying on passwords only. Of course, this creates quite a problem for `root` which is not allowed a password. (maybe change that decision, or allow a web-only password).

[2018-04-24 18:55] vilterp opened #25044 "ui: investigate supporting SSO (Okta, etc)"
see Okta's docs on SAML: https://developer.okta.com/standards/SAML/

[2018-04-24 18:59] a-robinson commented on #24654
Dupe of #24655, which shouldn't fire anymore once the skip goes in (https://github.com/cockroachdb/cockroach/pull/25045)

[2018-04-24 18:59] #24654 closed

[2018-04-24 19:11] a-robinson opened #25047 "storage: Don't require splits to complete before running replicate queue"
Currently, the replicate queue requires that all splits complete before doing its thing (https://github.com/cockroachdb/cockroach/blob/5d39b641c4e2fffe354b35cc63daad0ddde7c86f/pkg/storage/replicate_queue.go#L117, https://github.com/cockroachdb/cockroach/blob/5d39b641c4e2fffe354b35cc63daad0ddde7c86f/pkg/storage/replicate_queue.go#L152).

This makes sense, because it's cheaper/less risky to send sna

[2018-04-24 19:13] cockroach-teamcity opened #25048 "teamcity: failed tests on release-2.0: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#622208](https://teamcity.cockroachdb.com/viewLog.html?buildId=622208):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-24 19:23] dt opened #25049 "bulkio,debug: offline creation of BACKUP from on-disk stores"
Brainstorming some possible disaster recovery workflows, and how to recover data from an unavailable cluster:

1. Get debug KV to dump SST(s) between start and end
2. Connect to each store dir, run above on each store
  a.  The SSTs are overlapping and contain duplicates, since we exported every replica.
3. Pull those SSTs back to a single bucket
4. Merge-Iterate over those SSTs to de-dupe and han

[2018-04-24 19:38] dt commented on #25049
This is a jotting down of conversation with @petermattis @m-schneider @tschottdorf and @mjibson.

[2018-04-24 19:38] tschottdorf commented on #20052
I will close this for now. We have https://github.com/cockroachdb/cockroach/issues/15997 open to test the GC queue further and we'll create follow-up issues as they are necessary.

[2018-04-24 19:38] #20052 closed

[2018-04-24 19:42] petermattis commented on #25049
I'd make this a new CLI command and not overload `debug keys` or any of the other `debug` commands. `./cockroach offline-emergency-backup` or something like that.

To be fair, it should work in that scenario, but it will be slow in comparison to the amount of data that needs to be recovered.

[2018-04-24 19:47] mberhault commented on #25044
This is definitely post 2.1, and most likely an enterprise feature.

[2018-04-24 19:48] #24967 closed

[2018-04-24 19:48] nvanbenschoten commented on #9555
I'm trying to understand the decision we made here, especially in the context of https://github.com/cockroachdb/cockroach/issues/24215. Since we're doubling the size when a split point can't be found, we're not actually doing anything to help us find a split point or reduce the range size in the future. Instead, all we're accomplishing is avoiding the tight loop of retrying split attempts of an un

[2018-04-24 19:51] mberhault commented on #25040
I agree. The main thing to decide is how to perform authorization for cases where only `root` (or members of the `admin` role in enterprise) get to do things.

[2018-04-24 19:51] a-robinson commented on #21824
The `query due to semaphore` log is meaningless. See https://github.com/cockroachdb/cockroach/issues/24512 for details, but it has since been removed.

The compaction queue having a large number of pending bytes does not mean anything is wrong. The compaction queue can happily queue up a large amount of potential bytes without acting on them if they don't meet certain conditions around having larg

[2018-04-24 19:52] petermattis commented on #9555
The purgatory queues are only checked when there are cluster changes, while a range with a single large value should be checked for splitting whenever additional keys are written to it. Am I misunderstanding how you'd want to use the purgatory queue?

[2018-04-24 19:54] tschottdorf commented on #25047
Snapshots are currently pulled into memory on the receiving side, which I think is one of the original motivations for this restriction. With @nvanbenschoten [upcoming change](https://github.com/cockroachdb/cockroach/issues/16954) and possible elimination of other memory-blowup inducing code, we may be able to drop this coupling again, and I absolutely think we should do so once it becomes safe.

[2018-04-24 19:59] tschottdorf commented on #21824
Hi @leomkkwan, the logs look... actually really good, which is unfortunate since I was hoping to zero in on a root cause.

Could you send me a `./cockroach debug zip` of the nodes? This may leak some information about the ranges such as range boundaries, etc, as well as your schema, so you could send it (or a link to it) to tobias@cockroachlabs.com. If you have concerns about sharing this data, I

[2018-04-24 20:00] nvanbenschoten commented on #25047
I don't know the exact reason for introducing this restriction, but I suspect there were two main factors:
- ranges had no upper bound on size, so if they needed a split then that means they could have been arbitrarily large.
- large snapshots are expensive and potentially deadly because they buffer the entire range in memory.

The first factor is similar to the reason why we used to [prevent](htt

[2018-04-24 20:02] tschottdorf commented on #21824
But compactions are removed after 24 hours of not having been put into effect, so it indicates that something is wrong, doesn't it?

[code]

I did fix a deadlock here recently, #24808, so perhaps this deadlocked in a way that only deadlocked the compactor, but that seems unlikely.

[2018-04-24 20:06] nvanbenschoten commented on #9555
Are you sure? That looks to me like a detail of the `replicateQueue` specifically. We should be able to return a timer channel from the `splitQueue's` `purgatoryChan()` method, so that the unsplittable ranges are re-assessed periodically. Or we could ping the channel whenever a range is GCed. Either way, I think the purgatory queue is the right place for these ranges and that its interface is flex

[2018-04-24 20:08] a-robinson commented on #25047
Those are definitely the factors -- there's a comment in the code I linked to that explicitly lays that out. Sorry for not including the full range of relevant lines in the original post:

https://github.com/cockroachdb/cockroach/blob/5d39b641c4e2fffe354b35cc63daad0ddde7c86f/pkg/storage/replicate_queue.go#L153-L157

That question is easy. Once the large snapshot problem is addressed, we should cer

[2018-04-24 20:09] tbg opened #25053 "storage: allow creating RocksDB checkpoints"
We have a number of "offline" commands that require exclusive access to the RocksDB instance and won't work against a running server.

RocksDB has the option to create [checkpoints](https://github.com/facebook/rocksdb/wiki/Checkpoints), which is just a data directory that can be opened in read-only mode, and whose contents are mostly hard-links into an existing RocksDB instance's SSTables.

This c

[2018-04-24 20:09] tschottdorf commented on #25053
cc @danhhz in the context of recovery from unavailable quorum. This can turn an "offline" process into one that can work with the server still running, assuming that's somehow helpful (it could be in a large cluster you're unwilling to take offline as a whole).

[2018-04-24 20:29] #24841 closed

[2018-04-24 20:34] tschottdorf commented on #25010
#24029? I suspect you might find that this cluster has lots of range deletion tombstones in its SSTs.

[2018-04-24 20:37] petermattis commented on #9555
No, I'm not sure. I haven't looked at the purgatory queue in a while. My statement was made from memory and doesn't necessarily reflect reality.

[2018-04-24 20:58] vilterp commented on #25044
@bdarnell mentioned in slack that other open source products have SSO and/or ActiveDirectory as an enterprise feature:

- https://www.mysql.com/products/enterprise/security.html
- https://docs.mongodb.com/manual/tutorial/authenticate-nativeldap-activedirectory/

[2018-04-24 21:18] tschottdorf opened #25058 "storage: handle unavailable ranges at the storage level"
In the long run, a cluster needs to be able to return to full health from a permanently under-replicated state, though this becomes a lot harder when system ranges are partially or even fully lost. This issue collects a few ideas on dealing with this situation. I'm not suggesting we immediately tackle any of these.

Note that all of these scenarios include possible data loss and resulting with it,

[2018-04-24 22:12] bdarnell commented on #9555
Yeah, purgatory makes sense for this. The only reason that it wasn't used is that it's not widely understood, as seen here.

[2018-04-24 22:24] bdarnell commented on #25058
How would you write that tombstone if the replica is down? We can't do anything to the nodes that once held replicas of the range. Instead, we could poison the node liveness record for the dead nodes, such that they will never again be allowed to become live without a wipe.

For 3, it would also be possible to reconstruct a new node liveness range by scanning for the highest epochs and timestamps

[2018-04-25 05:41] Extarys commented on #24964
I gave sequelize a try and I'm very surprised and please with it, sorry then. I never really enjoyed ORM before.

[2018-04-25 05:41] #24964 closed

[2018-04-25 05:56] sydnever opened #25064 "sql/logictest: TestLogic/default/timetz failed on my computer"
**BUG REPORT**
## 0. My enviroment:

Ubuntu desktop 18.04 amd64
go version go1.10 linux/amd64
[code]

## 1. My test log:
[code]

## 2. Please describe the issue you observed:

### What did you do?
#### run test

[code]
#### git log

[code]
#### git status

[code]
in English
[code]

### What did you expect to see?

All tests should pass.

### What did you see instead?

TestLogic/default/timetz fail

[2018-04-25 08:26] zzxcodes commented on #22827
any update on this? I am the same issue

[2018-04-25 13:07] cockroach-teamcity opened #25067 "teamcity: failed tests on master: Jepsen/Jepsen"
The following tests appear to have failed:

[#622748](https://teamcity.cockroachdb.com/viewLog.html?buildId=622748):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-25 13:56] bdarnell commented on #25067
#20492

[2018-04-25 13:56] #25067 closed

[2018-04-25 14:14] jordanlewis commented on #22827
@zzxcodes, what version are you running on?

[2018-04-25 14:29] jordanlewis commented on #25064
We saw something like this before, but I forget the details. It has to do with client-side time zones differing. @solongordon, do you remember this?

[2018-04-25 14:33] jordanlewis commented on #24838
Hi @koalalorenzo, sorry for the delay. Perhaps the gorm automigration feature is not working - I'm not familiar with it. If you create your schema first, that will likely work.

Could you please try your app again, but capture the logs from CockroachDB with the flag `--vmodule=conn_executor=2` enabled? Thanks!

[2018-04-25 14:39] jordanlewis commented on #22895
Closing this. Can't reproduce.

[2018-04-25 14:39] #22895 closed

[2018-04-25 14:44] jordanlewis commented on #17158
We're not going to do this pre-optimizer anymore. I'll assign this to @andy-kimball for triage or close, since presumably this kind of thing is already in the optimizer roadmap.

[2018-04-25 14:45] #24837 closed

[2018-04-25 14:45] #24957 closed

[2018-04-25 14:45] vivekmenezes commented on #24930
There are two possibilities here:
1. AcquireByName() returned a bad expiration time
2. OrigTimestamp on the txn was pushed forward in the time sql read the OrigTimestamp() and called UpdateDeadlineMaybe()

Will explore 1. for now and report back.

[2018-04-25 14:46] jordanlewis commented on #17883
Reassigning to @nvanbenschoten as this is likely a core performance issue, but feel free to kick it back.

[2018-04-25 14:47] #17690 closed

[2018-04-25 14:52] jordanlewis commented on #21425
cc @andreimatei may be interesting/relevant/superseded to your work

[2018-04-25 14:52] nvanbenschoten commented on #17883
Yeah, this looks very similar to https://github.com/cockroachdb/cockroach/issues/20448. Hopefully the changes we make there will translate cleanly to wins on this issue. If not, we'll have to investigate further.

[2018-04-25 15:00] jordanlewis commented on #22787
Probably could be closed.

[2018-04-25 15:07] andreimatei commented on #21425
are you merging #21498?

[2018-04-25 15:29] bdarnell commented on #20492
A little more detail here: I've added some additional tracing and found that we're making it all the way to `systemctl stop ntp`, so the error isn't coming from `ssh` or the `service` wrapper script. `systemctl` is more of a black box, so i can't tell what exactly it's doing (in this case it's also wrapping a legacy init script instead of a native systemd service, FWIW). The `journalctl` logs were

[2018-04-25 15:54] vivekmenezes commented on #25030
@andreimatei raised a good question about whether we really care about retrying a transaction with timestamp T every time a transaction is unable to increment the version of a descriptor to v+1 . Can the transaction just wait until all leases on version v-1 have been released?

The problem is that another transaction in the system with timestamp T' > T can be using lease with version v-1. The tran

[2018-04-25 15:59] solongordon commented on #25064
I don't think I've seen this before but it probably boils down to some `pq` weirdness. This is a bit of a cop-out but how about running a `SET TIME ZONE` command at the beginning of the test to something other than UTC? It would make the test cases more interesting and probably fix this discrepancy.

[2018-04-25 16:57] a-robinson commented on #25010
It looks like it cleaned itself up when someone restarted it after an OOM kill, but symptoms match up very well. After the restart it successfully compacted about 30GB of data and almost all 95+% of its sstables. Closing as a dupe.

[2018-04-25 16:57] #25010 closed

[2018-04-25 17:25] jordanlewis commented on #21425
That PR is already merged, but only represents a fraction of this work - that PR skips decoding the preamble (table id + index id) for keys, but this issue represents the idea of skipping decoding the known prefix of a keyspan.

[2018-04-25 17:27] VinodAnandan commented on #25044
Hi,

Please consider the SSO implementation using OpenID Connect.

https://developer.okta.com/standards/OIDC/

https://github.com/coreos/go-oidc

Thank you,

Vinod

[2018-04-25 17:29] andreimatei commented on #21425
Ah, didn't notice it was merged haha
And yeah, there's clearly more that can be done. Ideally the `RowFetcher` wouldn't even receive superfluous data from the lower levels.
I'll assign this issue to myself because I care about the general area.

[2018-04-25 18:06] tschottdorf opened #25073 "storage: easier introspection into queues and compactor"
In https://github.com/cockroachdb/cockroach/issues/24966, we are looking at an issue in which a range does not upreplicate because it is waiting on a split. That split does not seem to occur over extended periods of time. Unfortunately, the best way to debug this sort of issue is to run a long-running logspy invocation that checks for error messages printed from the queue trying to handle that ran

[2018-04-25 18:50] m-schneider commented on #9443
After doing some investigating this doesn't seem to be a major performance improvement.

Two versions of cockroach were tested. One version had every function that took a BatchRequest as an argument changed to taking *BatchRequest with a few copies made to make sure logic tests passed. The other version was the SHA that the modified version was based off of.

Then to test performance both versions

[2018-04-25 19:00] a-robinson commented on #9443
Was there a particular reason you tested 95% writes for this? We much more commonly test 95% reads.

[2018-04-25 19:09] bdarnell commented on #20492
I don't know because we don't post failure logs until everything's done and the cluster is shut down. I've not been able to reproduce this on a non-self-destructing cluster.

[2018-04-25 19:11] #24664 closed

[2018-04-25 19:35] petermattis commented on #9443
@m-schneider Thanks for the write-up and the benchmarking. I did half an attempt at this previously and also didn't see a win, though I failed to record my results for posterity.

[2018-04-25 19:47] knz commented on #21425
@jordanlewis did you measure to see how much throughput we win by doing that? I'm a bit wary of running a conditional on the hot path.

However once/if we compile the scan to a bytecode we can do that optimization there. Then the conditional wil disappear and the control overheadl be much less costly.

[2018-04-25 19:49] jordanlewis commented on #21425
The thing I merged had a small throughput win (1%). I suspect that this would be a bigger win. You don't need conditionals to perform this optimization.

[2018-04-25 22:01] nvanbenschoten commented on #9443
Thanks for looking into this and thanks for the write-up @m-schneider! Closing this because it sounds like the investigation is complete.

[2018-04-25 22:01] #9443 closed

[2018-04-25 22:26] zzxcodes commented on #22827
Here's the info:

Build Tag:    v2.0.0
Build Time:   2018/04/04 14:42:56
Distribution: CCL
Platform:     darwin amd64 (x86_64-apple-darwin16.7.0)
Go Version:   go1.10.1
C Compiler:   4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.39.2)
Build SHA-1:  a6b498b7aff14234bcde23107b9e7fa14e6a34a8
Build Type:   development

On Wed, Apr 25, 2018 at 7:15 AM, Jordan Lewis <notifications@github.com>
wrote:

-

[2018-04-25 22:37] nvanbenschoten opened #25084 "roachtest: add TPC-C benchmarking test/tool"
To aid in the evaluation of future performance changes, we should create a roachtest specifically for the purpose of benchmarking TPC-C. We decided that this is the right framework to create this benchmarking tool in for a few reasons:
- roachtests are integrated with roachprod, which simplifies and standardizes cluster management
- roachtests can spin up new clusters or use existing clusters out

[2018-04-26 00:18] nvanbenschoten opened #25085 "roachtest: generate and upload prebuilt TPC-C store directories"
Part of the challenge in making #25084 run fast is that each independent run of the TPC-C roachtest will need to populate a full dataset. To begin with, the roachtest will do so by using `RESTORE`, but this is still slower than we'd like (~30min for TPC-C 1k, ~18h for TPC-C 10k).

We want the benchmark to take as little time as possible so that we can iterate on it quickly. One way to accomplish t

[2018-04-26 01:08] nvanbenschoten opened #25087 "workload: support distributed TPC-C load generation"
Throughout all previous TPC-C testing, we have used a single centralized load generator process. Even when running against a 30 node cluster with 10k warehouses, this has not been an issue - the load generator has always been able to produce the desired amount of load. However, now that we're beginning to look into running TPC-C on a distributed cluster, we're going to need to figure out how to di

[2018-04-26 01:49] petermattis commented on #25087
The `loadgen/tpcc` load generator (and probably the `workload tpcc` load generator) partitions load amongst the connections based on the partitioning. Specifically, it partitions the warehouses amongst the connections based on the partitioning. It should be straightforward to extend that code to divide the warehouses amongst workers which would in turn divide amongst the connections.

[2018-04-26 03:29] cockroach-teamcity opened #25088 "teamcity: failed tests on master: acceptance/TestGossipPeerings"
The following tests appear to have failed:

[#624770](https://teamcity.cockroachdb.com/viewLog.html?buildId=624770):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-26 03:43] tlvenn commented on #16382
Hi Guys,

Is there any chance to support this fairly soon ?

I store all our dates in `TIMESTAMP` and I usually deal with timezone conversion in my code however I now need to run some aggregate queries which implies that I need to convert the dates to the correct timezone before I aggregate and therefore I really need the `at timezone` support.

Thanks a lot in advance !

[2018-04-26 03:46] tlvenn commented on #16382
I guess for now, I will aggregate on my side ;)

[2018-04-26 04:59] benesch opened #25091 "retry: retry.ForDuration is dangerous"
`retry.ForDuration` does not take context cancellation into account, not even between tries. Callers can potentially block for the full retry duration. This caused a very hard to track down failure in an acceptance test (#25090) where one such retry loop was blocking server shutdown for 10s while the test expected the server to shutdown in under 5s.

We should remove this API and force callers to

[2018-04-26 06:19] cockroach-teamcity opened #25092 "storage: TestRangeTransferLease failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/fcc1637698fd0ec91c181bd096f963d35a16e4e8

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=624942&tab=buildLog

[code]

[2018-04-26 08:52] steedyu opened #25093 "IF EXISTS or Function Definition in Cockroachdb?"
Querstion

1 Does cockroachdb support stored procedure, doesn't it? I check the related issue and it maybe not.

2 I am newer for cockroachdb. Can "IF EXISIS/ IF NOT EXISTS" sql statement be used in it?
I tried as below:

if exisit (SELECT 1 ) then
	select 1;
end if;

it show me : if syntax error

3 Can I define function in cockroachdb?

[2018-04-26 11:16] #24998 closed

[2018-04-26 11:43] #24986 closed

[2018-04-26 11:43] #25029 closed

[2018-04-26 13:05] tschottdorf commented on #25092
Dupe of #24666

[2018-04-26 13:05] #25092 closed

[2018-04-26 13:07] nstewart opened #25095 "ui: Remove "two simple SQL" commands text from map onboarding"
![image](https://user-images.githubusercontent.com/894257/39307472-e1b79c5c-4930-11e8-8a79-dfc9774013f1.png)

We ended up consolidated this into one command (even easier). For the image we can just show the bottom command. Perhaps for the text we can just say "Activate the license"

[2018-04-26 13:10] nstewart opened #25096 "ui: typo in node map onboarding screen"
![image](https://user-images.githubusercontent.com/894257/39307686-812d92d2-4931-11e8-85d3-38bbbd61f7e8.png)

Missing 'to'. Should be

[2018-04-26 13:23] nstewart opened #25097 "ui: hide time selector for map onboarding guide"
The time selector shouldn't be visible in the onboarding guide. This is a no-op control when the map isn't enabled

![image](https://user-images.githubusercontent.com/894257/39308416-5efa3236-4933-11e8-9f13-23567eb6e880.png)

[2018-04-26 14:39] knz commented on #16382
@tlvenn as a workaround, is there no way for you to do the conversion inside SQL via a conversion to int, add the offset (in seconds) and then back to timestamp?

[2018-04-26 14:44] a-robinson commented on #25093
1. Cockroach does not currently support stored procedures.
2. We do not support top-level `IF` statements. They aren't part of standard SQL, they're part of the procedural language used for stored procedures (PL/pgSQL in postgres).
3. Not as of today, and it's not on the roadmap for our release later this year either.

[2018-04-26 14:44] #25093 closed

[2018-04-26 15:10] a-robinson opened #25098 "sql: INT4 column type not reported as INT4 when inspecting column types (SHOW CREATE, errors etc)"
According to https://www.cockroachlabs.com/docs/stable/int.html#names-and-aliases, INT4 is treated as a 32-bit type that can't simply be aliased to a full 64-bit `INTEGER`. However, the actual code does convert `INT4` columns to `INTEGER` on both v1.1.4 and v2.0.1:

[code]

Which is wrong -- the code or the docs?

[2018-04-26 15:11] a-robinson commented on #25098
Reported by @borovan on Gitter.

[2018-04-26 15:13] a-robinson commented on #25098
Oh, weird. It does do 32-bit int validation even though it claims to be `INTEGER`:

[code]

[2018-04-26 15:14] knz commented on #25098
The error is in the output of SHOW CREATE TABLE and the generation of the text of the error messages. Underneath in the table descriptor the type is different.

[2018-04-26 15:16] tlvenn commented on #16382
@knz I dont think it's doable with DST as soon as your range is crossing over.

[2018-04-26 16:26] #24820 closed

[2018-04-26 17:22] couchand opened #25102 "ui: react rendering errors get swallowed"
Errors thrown during render get mysteriously swallowed.  This has bitten us all at various times, but we haven't prioritized figuring it out.  Let's figure it out and make sure we fix it.

[2018-04-26 17:31] vivekmenezes commented on #16182
this issue is the same as #24626

[2018-04-26 17:31] #16182 closed

[2018-04-26 17:32] couchand commented on #25095
Hmmm, [the docs](https://www.cockroachlabs.com/docs/stable/enterprise-licensing.html#set-the-trial-or-enterprise-license-key) don't agree, is this a change?

[2018-04-26 17:39] tlvenn commented on #16382
yes you are right @knz my bad, this can be used as a workaround. Not enough sleep and too much RRULE logic lately... ;)

[2018-04-26 17:50] tschottdorf commented on #24892
Closing until we see it again on >=2.0.

[2018-04-26 17:50] #24892 closed

[2018-04-26 17:52] bdarnell commented on #20492
OK, I give up. I've added a single retry in jepsen-io/jepsen#251 and have already made the change in our fork.

[2018-04-26 17:52] #20492 closed

[2018-04-26 17:54] tschottdorf commented on #24810
Optimistically closing, though it seems odd that gossip would have taken 10s to arrive. There aren't any artifacts in this run, so I can't investigate. It will happen again.

[2018-04-26 17:54] #24810 closed

[2018-04-26 17:55] tschottdorf commented on #20493
Is this an uninteresting test? It's been skipped for months now. Is this worth investigating anytime soon?

[2018-04-26 18:05] bdarnell commented on #20493
I never copied the logic to disable this test over to the roachtest version, and it hasn't been a problem there. So apparently whatever was happening here isn't happening any more, or for some inscrutable reason it was specific to the terraform environment.

[2018-04-26 18:05] #20493 closed

[2018-04-26 18:08] bdarnell commented on #23004
Looks like a fluke; this hasn't recurred.

[2018-04-26 18:08] #23004 closed

[2018-04-26 18:31] tschottdorf commented on #24592
We now have the test failures:

[code]

Not surprising, but at least we see that we're missing this a lot. I wonder how far we can really get here without some insight in the compactor, see #25073.

[2018-04-26 18:36] bdarnell commented on #20515
As of #25103 jepsen tests are run by roachtest and use its cleanup mechanisms.

[2018-04-26 18:36] #20515 closed

[2018-04-26 18:38] nvanbenschoten opened #25105 "roachtest: import test hitting error while backpressuring writes"
`import/tpcc/warehouses=1000/nodes=4` failed with the following error:

[code]

https://teamcity.cockroachdb.com/viewLog.html?buildId=624804&buildTypeId=Cockroach_Nightlies_WorkloadNightly

[2018-04-26 18:39] bdarnell commented on #21048
The "silent too long" checks are no longer present in the roachtest jepsen runner, so the effective timeouts for test setup are now more generous. We'll see if we keep running into them, but it doesn't seem to have been an issue in the past week.

[2018-04-26 18:39] #21048 closed

[2018-04-26 19:02] jordanlewis commented on #7869
cc @rytaft superseded by your work?

[2018-04-26 19:03] jordanlewis commented on #7588
We've had a range router for a while, closing!

[2018-04-26 19:03] #7588 closed

[2018-04-26 19:05] jordanlewis commented on #7732
cc @nvanbenschoten closeable?

[2018-04-26 19:06] vilterp commented on #25096
My bad :facepalm:

[2018-04-26 19:10] rytaft commented on #7869
Yes, it is already possible to get these stats using `CREATE STATISTICS` and `SHOW STATISTICS`. The stats are maintained in `system.table_statistics`, and we are currently working on ways of refreshing them automatically. I think you can probably close this issue.

[2018-04-26 19:13] #7869 closed

[2018-04-26 19:15] jordanlewis commented on #8009
cc @mjibson could you either clarify what the action item here is or close it?

[2018-04-26 19:16] jordanlewis commented on #9015
@mjibson please clarify or close.

[2018-04-26 19:24] jordanlewis commented on #12523
I'm going to close this - at this point we're pretty familiar with `pg_type` and how clients use it, and nobody seems to use the fact that tables live in `pg_type` in the wild. We can make a new issue if an actual compatibility issue comes out of this.

[2018-04-26 19:24] #12523 closed

[2018-04-26 19:24] vilterp commented on #25102
Some of them end up here: https://github.com/cockroachdb/cockroach/blob/8a7030f00e653ddd35c5298ff496d3aa112f6abc/pkg/ui/src/redux/cachedDataReducer.ts#L111

Because in this promise chain: https://github.com/cockroachdb/cockroach/blob/8a7030f00e653ddd35c5298ff496d3aa112f6abc/pkg/ui/src/redux/cachedDataReducer.ts#L180-L188

…the `.dispatch` causes a React re-render, and any errors as part of that ge

[2018-04-26 19:25] nstewart commented on #25095
In the self-service license email that gets kicked off from the link, we take the two commands and put it in one line (separated by a semi-colon) so we don't make the user copy and paste twice. This was a usability enhancement.

[2018-04-26 19:26] jordanlewis commented on #13098
@BramGruneir you could probably tackle this quickly at this point, right?

[2018-04-26 19:28] jordanlewis commented on #13549
Closing, I don't think there's much to be done here. Re-open if you like.

[2018-04-26 19:28] #13549 closed

[2018-04-26 19:29] bdarnell opened #25109 "util/hlc: Consider enabling extra clock protections by default"
@vijaykarthik-rubrik added two new settings to perform additional validation of the clock behavior in #23717 and #23744. These happened so late in the 2.0 cycle that we decided to leave them off by default for that release. We should decide whether we want to change that for 2.1 and enable one or both of them by default.

- `server.clock.forward_jump_check_enabled` may experience false positives l

[2018-04-26 19:30] vilterp opened #25110 "sql: sequences: support `AS <datatype>`"
Currently fails to parse with an unimplemented error: https://github.com/cockroachdb/cockroach/blob/fef4d74b58815452cd51a4a32f7503b8b5d75051/pkg/sql/parser/sql.y#L3935

and we always create the sequence as an int64.

[2018-04-26 19:31] bdarnell commented on #23214
This was implemented in #23717 and #23744. The only thing left is to decide whether we want to enable these checks by default: #25109

[2018-04-26 19:31] #23214 closed

[2018-04-26 19:35] vilterp commented on #5811
We shipped this in 2.0, minus a couple small PG compatibility issues, which have been filed. They're gathered in the TODO column of this project: https://github.com/cockroachdb/cockroach/projects/13

[2018-04-26 19:35] jordanlewis commented on #13459
Can we close this? Is there a similar need for roachtest?

[2018-04-26 19:36] #5811 closed

[2018-04-26 19:43] bdarnell commented on #7732
Yeah, probably. This area of the code still doesn't have a lot of specific tests but it's exercised a lot in the wild and in roachtests, so keeping this two-year-old issue open doesn't do much good.

[2018-04-26 19:43] #7732 closed

[2018-04-26 19:45] jordanlewis commented on #16180
@andreimatei did this get finished recently? I heard a rumor...

[2018-04-26 19:48] jordanlewis commented on #16512
This is done (show trace and show kv trace are used in tests now).

[2018-04-26 19:48] #16512 closed

[2018-04-26 19:49] #16890 closed

[2018-04-26 19:53] bdarnell commented on #16745
I've changed my mind and don't think this is worth doing.

[2018-04-26 19:53] #16745 closed

[2018-04-26 19:56] jordanlewis commented on #17203
We support `pg_user` now.

[2018-04-26 19:56] #17203 closed

[2018-04-26 19:57] #16959 closed

[2018-04-26 19:57] #18869 closed

[2018-04-26 20:00] bdarnell commented on #17246
We no longer have long-running clusters using race-detector binaries, and we haven't seen this problem in our race tests.

[2018-04-26 20:00] #17246 closed

[2018-04-26 20:01] bdarnell commented on #18253
The clock offset graph is there, and I don't think there are any significant charts missing from the UI at this point.

[2018-04-26 20:01] #18253 closed

[2018-04-26 20:02] bdarnell commented on #18985
This has basically been settled in favor of the status quo of markdown for everything.

[2018-04-26 20:02] #18985 closed

[2018-04-26 20:14] andreimatei commented on #16180
yes, closed in #23373

[2018-04-26 20:14] #16180 closed

[2018-04-26 20:29] couchand commented on #25095
Fair enough.  So it's not currently wrong, but we could probably align it more.

[2018-04-26 20:35] dt opened #25114 "telemetry: reduce granularity of query counts"
For telemetry purposes, we only really need to know run often vs not often. Currently we get the raw count, which is more than we need, and potentially would be more than a user might want to share.

Quantizing to buckets like 1, 10, 100+ might be enough for us to determine what we want to know (prevalence and frequency of certain query patterns for prioritizing them), and mitigate some concerns a

[2018-04-26 20:39] jordanlewis commented on #17616
For the reasons I mentioned above, we're not going to fix this. Sorry! Quote your column identifier names.

[2018-04-26 20:39] #17616 closed

[2018-04-26 20:40] jordanlewis commented on #19359
We're not going to change our behavior here, and I don't think we'll be adding a flag to change this any time soon, as it's fundamental to our Postgres-based syntax. We require that you quote column names.

[2018-04-26 20:40] #19359 closed

[2018-04-26 20:44] jordanlewis commented on #18026
Hi @TedBear42, sorry for the very late response. If you still have access to this, can you see what user you connected to Cockroach with in your JDBC connection?

[2018-04-26 20:44] jordanlewis commented on #18026
@BramGruneir it would be cool if you re-tried the server explorer sometime soon. Lots of things have changed.

[2018-04-26 20:46] jordanlewis commented on #18394
Closing for lack of activity. @egmkang feel free to re-open if you get back to this.

[2018-04-26 20:46] #18394 closed

[2018-04-26 20:51] mjibson commented on #17144
This has apparently been fixed sometime during the executor refactor.

[2018-04-26 20:51] #17144 closed

[2018-04-26 20:52] jordanlewis commented on #19120
We've been doing a lot of benchmarking in this area. Closing for lack of specifics.

[2018-04-26 20:52] #19120 closed

[2018-04-26 20:55] jordanlewis commented on #19495
We have no details on this, so closing as unactionable.

[2018-04-26 20:55] #19495 closed

[2018-04-26 20:56] jordanlewis commented on #19450
@pbardea we can close this right?!

[2018-04-26 20:58] #19450 closed

[2018-04-27 01:04] steedyu commented on #25093
ok, thank you

[2018-04-27 03:49] mjibson commented on #24641
Closed by #25075

[2018-04-27 03:49] #24641 closed

[2018-04-27 04:54] cockroach-teamcity opened #25117 "teamcity: failed tests on release-2.0: test/TestBackupRestoreControlJob, testrace/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#627171](https://teamcity.cockroachdb.com/viewLog.html?buildId=627171):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-27 09:06] cockroach-teamcity opened #25118 "sql/jobs: TestJobLifecycle failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/20d8bd495a0919f70479b031161b18632a2445f4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=627691&tab=buildLog

[code]

[2018-04-27 09:06] cockroach-teamcity opened #25119 "sql/jobs: TestJobLifecycle/succeeded_forces_fraction_completed_to_1.0 failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/20d8bd495a0919f70479b031161b18632a2445f4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=627691&tab=buildLog

[code]

[2018-04-27 10:25] cockroach-teamcity opened #25120 "sql: TestDescriptorRefreshOnRetry failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/20d8bd495a0919f70479b031161b18632a2445f4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=627894&tab=buildLog

[code]

[2018-04-27 11:03] knz commented on #10264
I fixed this in #23373.

[2018-04-27 11:03] #10264 closed

[2018-04-27 11:07] knz commented on #20202
cc @vivekmenezes for triage

[2018-04-27 11:12] knz commented on #5935
cc @nvanbenschoten for triage and prioritization.

[2018-04-27 11:26] knz commented on #21711
@jordanlewis what project do you reckon this belongs to?

[2018-04-27 11:31] knz commented on #3680
This came up on the forum recently: https://forum.cockroachlabs.com/t/configuration-files-with-cockroachdb/506/4

[2018-04-27 11:33] #23371 closed

[2018-04-27 11:40] knz commented on #22450
cc @andy-kimball for prioritization

[2018-04-27 11:41] knz commented on #24961
cc @couchand for prioritization

[2018-04-27 11:49] knz commented on #13438
cc @nvanbenschoten for prioritization

[2018-04-27 11:52] knz commented on #23583
@nicolasStevenin as David explained, CockroachDB does not support `go get` - then-import directly. However, after you've run `go get -d` and run `make build` at least once in the CockroachDB source directory, you should be able to use it from your project.

Can you report on the status of this issue on your side? We'd love to know how we can help further.

[2018-04-27 11:55] knz commented on #22298
Update: @nvanbenschoten and I looked into this. The requirement to use ALTER SET TYPE was a red herring. The reason why TypeORM wants ALTER SET TYPE is that it sees a discrepancy between the schema specified in the entity and the schema reported by `information_schema`, so it wants to correct this discrepancy with ALTER COLUMN SET TYPE.

So adding support for ALTER SET TYPE would not be a good sol

[2018-04-27 12:11] jgehrcke commented on #12675
Is there a way to disable the time series database in 1.1.x?

We assume that this might help where CockroachDB makes a lot of disk writes where it only serves read queries.

[2018-04-27 13:36] jordanlewis commented on #6429
This is permitted by Postgres, so we probably should continue to support it. Users will probably understand that this is silly and not do it unless they know what they're doing.

[2018-04-27 13:36] #6429 closed

[2018-04-27 13:48] #19711 closed

[2018-04-27 13:49] cockroach-teamcity opened #25122 "storage: TestRangeTransferLease failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/47bd7adabab68b7de1ed78f100fe5bc85989d335

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=628324&tab=buildLog

[code]

[2018-04-27 13:51] jordanlewis commented on #24805
Turns out that this isn't a good idea for the reasons outlined in the linked issues.

[2018-04-27 13:51] #24805 closed

[2018-04-27 14:05] jordanlewis commented on #21786
Ping to @justinj, just want to make sure this doesn't fall under the radar for the optimizer team as it represents a regression. Actually, we probably want to get this done before the next alpha if possible. I'm happy to help on this if you point me where to look.

[2018-04-27 14:08] jordanlewis commented on #22851
cc @solongordon relates to an earlier conversation. So we do do some of this stuff, it's just at the SQL level and not at KV.

[2018-04-27 14:09] stangls commented on #8318
We are currently testing the switchover over from PostgreSQL to Cockroach and are missing the possibility to create custom domain like `CREATE DOMAIN custom AS numeric(123,0);`

[2018-04-27 14:12] jordanlewis commented on #24282
Closing as duplicate of #23264.

[2018-04-27 14:12] #24282 closed

[2018-04-27 14:12] knz commented on #21495
cc @andreimatei what do you think?

[2018-04-27 14:15] knz opened #25123 "sql: support user-defined types"
ie. `CREATE TYPE T AS ...`

Example user request: https://github.com/cockroachdb/cockroach/issues/8318#issuecomment-384981359

[2018-04-27 14:16] knz commented on #8318
@stangls thanks for your interest in CockroachDB. This issue is about a specific kind of type (compound), whereas you are more generally interested in user-defined types. I have created a separate issue to track this: #25123.

[2018-04-27 14:16] a-robinson commented on #12675
[In 1.1.x](https://www.cockroachlabs.com/docs/v1.1/operational-faqs.html#why-is-disk-usage-increasing-despite-lack-of-writes) you can set the `COCKROACH_METRICS_SAMPLE_INTERVAL` to sample and write timeseries data arbitrarily less frequently than the default once-every-10-seconds. The option to completely disable timeseries writes wasn't introduced until [2.0](https://www.cockroachlabs.com/docs/v2

[2018-04-27 14:27] vivekmenezes commented on #20202
I'd be happy just closing this given that we've chosen to be postgres compatible. Feel free to reopen.

[2018-04-27 14:27] #20202 closed

[2018-04-27 14:45] knz commented on #21327
FWIW, the local execution already supports `spool` now, as it was required to properly support mutation statements and CTEs.

[2018-04-27 14:48] RaduBerinde commented on #20102
This is not a bug IMO.

The query `SELECT (id, handle, fullname) FROM users WHERE id = b'FA5F31C6-55AD-45F8-8B59-A4C6D5359CB5' LIMIT 1;` can use the `users_handle_key`  index. The query with `uuid_v4()` cannot use the index, because we are not searching for a constant value; the condition is different every time we evaluate `uuid_v4()`, i.e. on every row. For example, `SELECT .. WHERE id = uuid_v4

[2018-04-27 14:48] #20102 closed

[2018-04-27 14:49] RaduBerinde commented on #14241
I need to check if this still reproduces with the new index constraints code.

[2018-04-27 14:50] bobvawter commented on #19337
Link to #9851 for changing column types.

[2018-04-27 14:51] bobvawter commented on #20932
RFC for changing column type in #24703.

[2018-04-27 15:00] vivekmenezes commented on #20846
@dt I don't know what this is about. Feel free to close .

[2018-04-27 15:02] vivekmenezes commented on #4646
We now do have a jobs table that exposes errors from schema changes. If there are problems with what is visible on the jobs table we can open up separate issues for those.

[2018-04-27 15:02] #4646 closed

[2018-04-27 15:53] vivekmenezes commented on #20761
@mjibson my understand is that this is not longer a relevant issue worth fixing.

[2018-04-27 16:20] #16845 closed

[2018-04-27 16:27] a-robinson commented on #25048
Dupe of https://github.com/cockroachdb/cockroach/issues/24693

[2018-04-27 16:27] #25048 closed

[2018-04-27 16:28] a-robinson commented on #24163
Dupe of https://github.com/cockroachdb/cockroach/issues/24136

[2018-04-27 16:28] #24163 closed

[2018-04-27 16:28] a-robinson commented on #24610
Dupe of https://github.com/cockroachdb/cockroach/issues/24136

[2018-04-27 16:28] #24610 closed

[2018-04-27 16:28] a-robinson commented on #24614
Dupe of https://github.com/cockroachdb/cockroach/issues/24136

[2018-04-27 16:28] #24614 closed

[2018-04-27 16:29] a-robinson commented on #24637
Dupe of https://github.com/cockroachdb/cockroach/issues/24136

[2018-04-27 16:29] #24637 closed

[2018-04-27 16:29] #24618 closed

[2018-04-27 16:41] nstewart opened #25129 "backupccl: If a RESTORE fails due to a 403/404 it's not logged in the JOBS table"
I have a script that periodically restores backups to another database for analysis. At some point, RESTOREs started failing (the backups weren't being created in the first place) but it looked like the RESTORE script itself wasn't running because there was no entry at all in the jobs table.

I would expect if RESTORE returns a non-syntax error failure message this would be logged in the jobs tabl

[2018-04-27 18:15] a-robinson commented on #12876
Looks like this problem is CSV-specific. The normal DistSQL code path nicely health-checks and version-checks nodes before planning on them:

https://github.com/cockroachdb/cockroach/blob/1700c4060c9c830dc1f038a15f20ab15f8aeb753/pkg/sql/distsql_physical_planner.go#L896-L906

The CSV code, on the other hand, uses a different code path that just grabs all nodes that have ever existed, including deco

[2018-04-27 18:17] andreimatei commented on #12876
Ah, missed the part where both repros were for imports. Good catch.

[2018-04-27 19:00] a-robinson opened #25131 "storage: Removed replicas not GC'ed on decommissioned nodes"
[A user on the forums](https://forum.cockroachlabs.com/t/decommissioning-nodes-take-a-long-time/1554) tried decommissioning 3 nodes of a 6-node cluster, but found that the number of replicas on the decommissioned nodes never dropped all the way down to 0.

The output of `select * from crdb_internal.ranges limit 1000;` on the cluster indicated that all of the cluster's live range replicas were on t

[2018-04-27 19:16] knz commented on #7554
I think `SHOW TABLES` does not show dropped tables any more. Not sure what remains to be done here.

[2018-04-27 19:26] knz commented on #21240
cc @andy-kimball for prioritization

[2018-04-27 19:28] neeral commented on #24216
@tschottdorf @knz I've started looking at this.
I've some questions on what we want to measure, that you could help clarify.
- Completed statements in-scope (at least for first cut) - this is in-line with existing latency measurements.
- How do we measure distSQL statements? From reading, the latency measurements are computed only on the gateway node. What would be appropriate for memory usage? So

[2018-04-27 19:29] knz commented on #24216
cc @asubiotto who has been working on collecting this info for distsql queries. Alfonso perhaps you can provide some feedback / guidance?

[2018-04-27 19:36] knz commented on #22261
related to #24223.

[2018-04-27 19:42] knz commented on #20476
cc @benesch for triage

[2018-04-27 19:43] knz commented on #20041
This may have been fixed on #23373 . testing.

[2018-04-27 19:44] knz commented on #20041
nope, not fixed.

[2018-04-27 19:56] knz commented on #21159
update: blocked on #3288 and #24560. Still targeted for 2.1.

[2018-04-27 20:02] RaduBerinde commented on #21240
With the optimizer, these currently get built to the same underlying operator.

[2018-04-27 20:07] knz commented on #20857
cc @andy-kimball for prioritization

[2018-04-27 20:14] knz commented on #21240
Great. If there's a test for it already, then the issue can be closed.

[2018-04-27 20:32] knz commented on #17188
This may be fixed by #22275

[2018-04-27 20:34] asubiotto commented on #24216
I recently put up a PR to collect this information in the `hashJoiner`: https://github.com/cockroachdb/cockroach/pull/24909, however, I'm going to go with a simpler approach of adding a high watermark to a memory account. This will allow us to collect the high water mark of memory used per processor participating in a distsql query.

I think it's important to note that this sort of statistic colle

[2018-04-27 21:39] mberhault commented on #20476
Oh right, this was done in #24868

[2018-04-27 21:39] #20476 closed

[2018-04-27 22:10] neeral commented on #24216
Great @asubiotto. I'll wait for  #19476.

[2018-04-27 22:27] jordanlewis commented on #19030
Thanks for the contribution but we don't have the resources for this at the moment.

[2018-04-27 22:27] #19030 closed

[2018-04-27 22:28] jordanlewis commented on #19817
Closing as dupe of the above linked issue.

[2018-04-27 22:28] #19817 closed

[2018-04-27 22:30] knz opened #25135 "sql: support DBeaver"
- [x] Support pg_catalog.pg_stat_activity #24745
- [ ] Support pg_catalog.pg_conversion #24744
- [ ] Support pg_catalog.pg_opfamily #24743
- [ ] Support pg_catalog.pg_opclas #24742
- [ ] Missing oid column from pg_extension #24620
- [ ] List of DBeaver metadata queries #28309

[2018-04-27 22:57] andreimatei opened #25136 "cli: error from last message is printed in interactive prompts on ^D"
Look at how the error message for the preceding failing statement is reported a 2nd time when CTRL-D is pressed. Probably because some error that we return to Cobra. That's confusing when the prompt is run in interactive mode. And it does *not* happen when it's not run in interactive mode.

[code]

[2018-04-28 00:55] bdarnell opened #25137 "roachtest: Test naming rules"
Roachtests have names which are used for various purposes, including creating the artifact directories, and creating the test cluster names when used in CI. These two uses have different rules, and because local development often uses a mode that doesn't create a cluster per test, the stricter cluster naming rules are often not encountered until the test is merged to master.

Specifically, cluster

[2018-04-28 01:00] bdarnell opened #25138 "roachtest: Clock tests don't work"
When the clock roachtests were added, they failed because they tried to make cluster names that violated the unwritten rules (#25137). With that fixed, they fail 100% of the time for other reasons, so I'm skipping them until this can be resolved.

[code]

[2018-04-28 01:03] bdarnell commented on #25138
@vijaykarthik-rubrik I can't assign this to you since you're not in the cockroachdb org, but the ball's back in your court.

[2018-04-28 04:59] benesch commented on #24223
I have a semi-ancient working implementation of this here: https://github.com/cockroachdb/cockroach/compare/master...benesch:doshuffle

It significantly predates this discussion and so is only enabled if you `SET shuffle_unordered_results` in your shell. Obviously it's easy to instead turn it on all the time.

I tried to turn this on for logic tests and got completely and utterly distracted by how

[2018-04-28 06:03] cockroach-teamcity opened #25141 "storage: TestStoreRangeSplitBackpressureWrites/splitErr=bad_error failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0eea534c4919d0298473674edfe62ffe291a5d27

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=628948&tab=buildLog

[code]

[2018-04-28 06:03] cockroach-teamcity opened #25142 "storage: TestStoreRangeSplitBackpressureWrites/splitErr=bad_error failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/0eea534c4919d0298473674edfe62ffe291a5d27

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=628948&tab=buildLog

[code]

[2018-04-28 13:09] cockroach-teamcity commented on #25122
SHA: https://github.com/cockroachdb/cockroach/commits/0eea534c4919d0298473674edfe62ffe291a5d27

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=629938&tab=buildLog

[2018-04-28 13:40] knz commented on #2004
After the two years this issue has been open, no user ever complained to us that they were bothered by the permissions. The implementation of the mutations uses a common code path (the PK is read by a table scanner, which checks for SELECT permissions) and it would be odd to plumb booleans just to have a different permission checking depending on the context.

The trade-off is not beneficial, so i

[2018-04-28 13:40] #2004 closed

[2018-04-28 13:41] knz commented on #2791
This issue has been superseded by the optimizer project. Closing.

[2018-04-28 13:41] #2791 closed

[2018-04-28 13:46] knz commented on #3387
I changed my mind on the benefits of this. Having 3 arrays of homogeneous values provides better access behavior than 1 array of 3-value tuples of heterogeneous types.

[2018-04-28 13:46] #3387 closed

[2018-04-28 13:48] knz commented on #8330
Moreover, it actually enabled a bug that can cause consistenty violation, see #23699

[2018-04-28 13:51] knz commented on #18474
I have analyzed this issue further and I am of the opinion we should keep the current behavior but update the docs to highlight this difference.

[2018-04-28 13:52] knz commented on #18474
@rmloveland do you want to take this over?

[2018-04-28 13:53] knz commented on #15012
@andreimatei I think this has been fixed, correct?

[2018-04-28 13:55] knz commented on #18121
@andreimatei I think you've fixed this?

[2018-04-28 14:09] knz commented on #21360
We have fixed this bug in the 2.1 code base, due to be released in October. It is yet unclear whether the fix will be back-ported to 2.0.

I am going go close this issue for now; @leomkkwan please let us know if you have any question or comment.

Best regards,

[2018-04-28 14:09] #21360 closed

[2018-04-28 14:29] knz commented on #9181
I think this issue was also preventing a server from shutting down with `cockroach quit`. @asubiotto isn't this what you addressed some time ago?

[2018-04-28 14:30] knz commented on #9227
@csdigi CockroachDB supports SQL sequences now. Would this help?

[2018-04-28 14:32] knz commented on #9712
I think this is a dup of #2656?

[2018-04-28 14:50] knz commented on #19662
@andreimatei i think you've killed the internal planner, right?

[2018-04-28 14:53] manuel-huez commented on #9683
Another use-case we have is to keep some indexes lightweight on big tables. We want to log specific actions done on our platform, and retry them later if some failed. For that purpose, we use partial indexes on postgres to only index items to be retried `WHERE processed = false`.

[2018-04-28 15:09] knz commented on #9683
cc @awoods187 for triage and prioritization

[2018-04-28 15:25] #24872 closed

[2018-04-28 15:47] knz commented on #20250
@JackHerring I believe this feature is supported already in CockroachDB 1.1 and 2.0.

Two syntaxes are possible:
- CockroachDB-specific: `insert into ab(a,b) values (1, (select * from [insert into a(a) values(2) returning a]));`
- Using standard SQL CTEs: ` with v as (insert into a(a) values(2) returning a)  insert into ab(a,b) values (1, (select * from v));`

Let us know if you have any further q

[2018-04-28 15:47] #20250 closed

[2018-04-28 15:49] knz commented on #22388
I believe this is supported in CockroachDB with

[code]

[2018-04-28 15:49] petermattis commented on #9683
The building of partial indexes is the "easy" part of this issue. Utilizing the partial index appropriately for reads will require the optimizer to be aware of the partial index. Almost certainly not a candidate for 2.1.

[2018-04-28 15:53] nvanbenschoten commented on #22388
Will that actually put the writes into the same `client.Batch`?

[2018-04-28 16:22] knz opened #25148 "sql: sequelize requires ORDER BY in aggregations"
Sequelizes uses the following query, note the ORDER BY inside the aggregation.

[code]

cc @RaduBerinde @andy-kimball @justinj

[2018-04-28 18:05] dt opened #25149 "importccl: support compressed csv files"
Compression seems likely to effective on some CS-encoded datasets, so supporting CSV compression/decompression in `IMPORT` and `EXPORT` csv handling could allow for significantly smaller file size.

While our internal files often prefer Snappy compression, gzip/bzip seem like better candidates here, as they're more widely supported in commonly available tooling, and interop is the aim of `IMPORT`

[2018-04-28 22:28] RaduBerinde commented on #25148
Note that one (perhaps temporary) option is partial support: only allow a single `ORDER BY` clause per query (or if there are multiple, they must match). This would be pretty easy to implement and would cover this particular case.

[2018-04-29 06:23] debraj-manna opened #25151 "SELECT query sometimes taking a lot of time in 3 node cluster"
Crossposting from [forum](https://forum.cockroachlabs.com/t/select-query-sometimes-taking-a-lot-of-time/1585)

I am having a 3 node cockroach cluster in a dev set-up.

On a table like below

[code]

Sometimes the query like below is taking more than 20 seconds.

[code]

The output pprof & cockroach logs from each node is attached.

[code]

Load on cluster is about 600 reads per second and about 15

[2018-04-29 11:25] knz commented on #25148
Good call. Thanks for the suggestion.

[2018-04-29 12:04] tschottdorf opened #25152 "roachtest: `debug` test fails: bash: unzip: command not found"
see `test.log` in debug/nodes=3 on https://teamcity.cockroachdb.com/viewLog.html?buildId=628833&buildTypeId=Cockroach_Nightlies_WorkloadNightly&tab=artifacts#!17ml4n,-1srf94y2w1e1

[2018-04-29 23:44] #25152 closed

[2018-04-30 01:08] petermattis commented on #25137
@bdarnell Do you know where the GCE machine length limit is specified? I can't find it looking right now, nor other restrictions on name characters. @benesch You added `makeClusterName` in 95d5faab72081f5bb684ad6a27bf18b38322c424, perhaps you know.

[2018-04-30 01:10] petermattis commented on #25137
Ah, I see if you use an invalid name, gcloud helpfully says:

[code]

[2018-04-30 01:35] petermattis commented on #10902
@justinj Given the potential for user data badness, can you triage us this issue ASAP and determine if it is exercisable via a SQL query?

[2018-04-30 01:50] justinj commented on #10902
I don't see how it could be - array ordering in Cockroach isn't exposed to users at all so there should be no way to observe this (though I maybe be wrong and there maybe be another way, @knz?).

[2018-04-30 02:01] vivekmenezes commented on #7554
I'm going to close this issue. Users can query the jobs table for any state they may need.

[2018-04-30 02:01] #7554 closed

[2018-04-30 02:11] vivekmenezes commented on #17188
closing in favor of #22275

[2018-04-30 02:11] #17188 closed

[2018-04-30 06:13] cockroach-teamcity opened #25161 "storage: TestReplicateRemovedNodeDisruptiveElection failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/b1d18df2ed1ff4a1f7e0d7825977dd549f9f752c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=631815&tab=buildLog

[code]

[2018-04-30 12:29] robert-s-lee opened #25163 "verify mysqldump can be imported"
[mysqldump](https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html) can be used to export data from MySQL.  This data can be imported into CockroachDB using [import](https://www.cockroachlabs.com/docs/stable/import.html#main-content),

File Format - tab and insert into values ....
FIELDS TERMINATED BY - single and multiple delimiter characters including x01
ENCLOSED BY - test for `'`, `"`, `,` and

[2018-04-30 14:26] toppk commented on #19265
If cockroach were to follow SNI, then there is no ambiguiity.  as any hostname is labled with an explicate DNS or IP context for implementation.

[2018-04-30 14:29] dianasaur323 commented on #9712
yeah, I think it is a dup. @danhhz perhaps make a final call on whether or not to close this out in favor of #2656?

[2018-04-30 14:43] benesch opened #25165 "cli: prompted for a password when using certificate auth"
When connecting to a secure cluster using `cockroach sql` as a non-root user, I'm prompted for a password even when I have a client certificate present:

[code]

I'm eventually let in to the SQL console regardless of what password I provide. If I delete the client cert, I'm not. So it seems like the authentication is actually working properly—I'm just erroneously getting prompted for a password th

[2018-04-30 14:53] mberhault commented on #25165
Yeah, this was broken in https://github.com/cockroachdb/cockroach/pull/23725/files#diff-1444ad585f14a980f4f32a4ce4b3648dL457.

We used to check whether we had valid certificates for the user before prompting for the password. This got dropped. Reassigning to @knz.

[2018-04-30 14:55] jordanlewis commented on #19121
We're well aware of this issue, but it's represented in many other places. Closing.

[2018-04-30 14:55] #19121 closed

[2018-04-30 14:56] danhhz commented on #9712
I'm comfortable calling this a duplicate of #2656

[2018-04-30 14:56] #9712 closed

[2018-04-30 14:59] jordanlewis commented on #20173
This issue seems to be about work on local joins. We're not planning to do that, so closing.

[2018-04-30 14:59] #20173 closed

[2018-04-30 15:00] BramGruneir commented on #13098
Yep, looks pretty straight forward.

@knz for triage, this should be an easy win.

[2018-04-30 15:01] cockroach-teamcity opened #25166 "teamcity: failed tests on release-2.0: test/TestBackupRestoreControlJob"
The following tests appear to have failed:

[#632919](https://teamcity.cockroachdb.com/viewLog.html?buildId=632919):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-30 15:05] #20319 closed

[2018-04-30 15:11] BramGruneir commented on #18026
Indeed.  I'll give it a try this week.

[2018-04-30 15:12] jordanlewis commented on #5897
I'm going to close this 2 year old issue, unless @danhhz objects. I'm not sure how badly this is biting us but it doesn't seem that big of a deal.

[2018-04-30 15:12] #5897 closed

[2018-04-30 15:14] jordanlewis commented on #18744
Closing this, not much we can do about it now.

[2018-04-30 15:14] #18744 closed

[2018-04-30 15:17] danhhz commented on #5897
No objection

[2018-04-30 15:17] jordanlewis commented on #2197
I don't think this is super valuable to keep open. Not going to happen soon. If we identify a real need we can reopen this later.

[2018-04-30 15:17] #2197 closed

[2018-04-30 15:23] rytaft opened #25167 "sql: support ability to add columns after a certain other column"
There has been a request to support syntax like `... ADD COLUMN ... AFTER previous_column`

Quote from Gitter request:

[2018-04-30 15:30] knz commented on #25165
thanks for spotting this

[2018-04-30 15:34] andreimatei commented on #15670
Why does it seem out of date or different? If you look for uses of `evalCtx.Ctx()` in distsql you find plenty - e.g. https://github.com/cockroachdb/cockroach/blob/b1d18df2ed1ff4a1f7e0d7825977dd549f9f752c/pkg/sql/distsqlrun/sorter.go#L225

Also all the expression evaluation done by DistSQL.

[2018-04-30 15:37] andreimatei commented on #19662
I haven't killed it, but I think this had been fixed since I've made the ctor for the internal planner return a cleanup function and made people call it.

[2018-04-30 15:37] #19662 closed

[2018-04-30 15:41] jordanlewis commented on #7526
Is this still a problem? Does it have a user-visible consequence?

[2018-04-30 15:53] andreimatei commented on #7526
We've started marshaling observed timestamps from TableReaders to the gateway node through the `ProducerMetadata.TxnCoordMeta.Transaction.ObservedTimestamps`. But that's a subcase for what this issues is saying. We should opportunistically propagate and record observed timestamps between all nodes that communicate.
Consequences - smaller uncertainty windows.

[2018-04-30 15:54] #20610 closed

[2018-04-30 16:17] #25064 closed

[2018-04-30 16:52] vilterp commented on #25040
Closing this, as I think we've agreed not to prioritize web login with client-side certs.

[2018-04-30 16:52] #25040 closed

[2018-04-30 16:58] vilterp opened #25171 "ui: login: remember that user has a session"
If a user has logged in and opens another page, they should not be prompted to enter their username and password again; the page should somehow remember that they have a session.

Do this either by:
- Storing it browser-side in `localStorage`
- Templating `index.html` server-side with a variable such as `window.loggedInUser = 'vilterp'`.

[2018-04-30 17:34] rytaft opened #25173 "storage: tocommit(%d) is out of range [lastIndex(%d)]. Was the raft log corrupted, truncated, or lost?"
https://sentry.io/cockroach-labs/cockroachdb/issues/415952086/

[code]

[2018-04-30 17:35] rytaft opened #25174 "*log.safeError: store.go:3848: %s: %s | while committing batch; replica.go:3577: caused by *errors.withMessage: c..."
https://sentry.io/cockroach-labs/cockroachdb/issues/393125992/

[code]

[2018-04-30 17:37] a-robinson opened #25176 "build: Avoid pushing latest Docker tag for patch releases on old branches"
Docker images usually [follow a practice of including a special tag called "latest"](http://container-solutions.com/docker-latest-confusion/) that gets used by default if the user doesn't specify a tag for their image. Our build/push process includes the latest tag for [all stable releases that we push](https://hub.docker.com/r/cockroachdb/cockroach/tags/).

This normally works well, except when w

[2018-04-30 17:39] a-robinson opened #25177 "kubernetes: Make deleting CSRs and secrets easier"
This is a copy of https://github.com/cockroachdb/k8s/issues/11 (Copy labels onto the resources created by the request-cert process) for easier tracking.

It'd be easier to clean up all the resources created by us if we were to put labels on the CSRs and Secrets when we create them. Currently our docs have to instruct users to clean those up separately from everything else because they don't have t

[2018-04-30 17:41] a-robinson commented on #25176
Related to https://github.com/cockroachdb/cockroach/issues/22756

[2018-04-30 17:57] rytaft opened #25178 "cli: running commands from an SQL file should be easier"
As pointed out by a [post on the forum](https://forum.cockroachlabs.com/t/running-cockroachdb-commands-in-file-from-cli/1572), it's not as straightforward as it should be to run SQL commands from a file when using the CLI.  Currently, users must run:

[code]

It seems like there should be some meta command to run the SQL file directly without using `cat`.

[2018-04-30 18:00] a-robinson commented on #19826
We could make this sort of thing work for the single-node case, but it can't really work for the multi-node case given the inability to create DB/users on an uninitialized cluster.

To the folks that are commenting/upvoting this:

1. Do you still want this or have you all worked around it by now?
2. Are you all using insecure mode?
3. Are you all using a single-node deployment or at least not usin

[2018-04-30 18:30] a-robinson commented on #25084
@nvanbenschoten do you have an estimate of when you'll have something working? I'm under the impression you're going to drive this, but let me know if that's not the case.

[2018-04-30 18:57] knz commented on #19826
Note that we're also shipping #24735 in 2.1 which will provide two predefined dbs in all cases. Maybe this will also help?

[2018-04-30 18:59] #25120 closed

[2018-04-30 18:59] #24449 closed

[2018-04-30 19:00] a-robinson commented on #25073
It's clear that there are a few key wins:

- [ ] Log all queue failures. There's no good reason we shouldn't be getting more info about why splits are failing in all the recent split-related issues.
- [ ] If any queue failures are determined to be too verbose after the above step, special-case them.
- [ ] Make it possible to run a replica through the queue of your choice, getting verbose logs from

[2018-04-30 19:00] knz opened #25180 "docs/scripts: make the RN extraction recognize which changes were backported"
Discussed with @jseldess: it would be useful when producing release notes for a branch to mark which changes are also duplicated on other release branches (or master).

For example when looking at 2.0.x changes mark a RN as "back-ported from ..."
Or when looking at 2.1-alpha  changes mark a RN as "also back-ported to ..."

Preferably the annotation should be simple and easy to parse, so that a scr

[2018-04-30 19:08] nvanbenschoten commented on #25084
Yep, I'm aiming to have a working PR out by the end of the week. Once I do, I'd appreciate help testing it out and iterating on its ergonomics.

[2018-04-30 19:30] #24600 closed

[2018-04-30 19:30] #24979 closed

[2018-04-30 19:56] andreimatei commented on #24149
I don't think it does

[2018-04-30 20:13] cockroach-teamcity opened #25183 "teamcity: failed tests on master: acceptance/TestDockerC"
The following tests appear to have failed:

[#633295](https://teamcity.cockroachdb.com/viewLog.html?buildId=633295):

[code]

Please assign, take a look and update the issue accordingly.

[2018-04-30 20:16] a-robinson commented on #24265
I've opened https://issuetracker.google.com/issues/78897021 to report this issue to the GCE team. If that doesn't get a real response after a few weeks, I'll reach out directly to someone on the team.

[2018-04-30 20:25] #24717 closed

[2018-04-30 20:35] a-robinson opened #25185 "kubernetes: configs for out-of-the-box monitoring with prometheus"
We need to test / provide instructions for monitoring cockroachdb with prometheus in kubernetes. We haven't tried this in a long time, and it's apparently stagnated.

This is the engineering parallel to https://github.com/cockroachdb/docs/issues/2970.

[2018-04-30 20:41] a-robinson opened #25187 "kubernetes: simplify process of connecting to secure cockroachdb cluster"
Using client certificates within Kubernetes is fairly cumbersome as of today. We [recommend adding](https://github.com/cockroachdb/cockroach/blob/d00859e64890965fbecf8cbd28e6c807629ea7a4/cloud/kubernetes/example-app-secure.yaml#L13-L38) an `emptyDir` volume and an init container that uses our `cockroachdb/cockroach-k8s-request-cert` docker image to request the cert if necessary and put it into the

[2018-04-30 20:42] a-robinson commented on #25187
Related to https://github.com/cockroachdb/docs/issues/2458

[2018-04-30 20:54] a-robinson opened #25188 "kubernetes: insecure multi-region deployments with routable pod IPs"
This is the easiest/best-case scenario for running a multi-region cockroachdb cluster across multiple kubernetes clusters. In this scenario, pods in one cluster can talk directly to pods in another cluster using their IP address. This is not guaranteed in general, but is the case on GKE.

I've tested out a simple proof-of-concept that required a bit of manual effort (https://github.com/a-robinson/

[2018-04-30 20:58] a-robinson opened #25189 "kubernetes: secure multi-region deployments with routable pod IPs"
Cockroachdb was designed with multi-region deployments in mind, but so far getting a cockroach cluster set up across multiple kubernetes clusters has been a difficult, manual process for which we've provided little guidance. Making this easier for users is an important priority.

This will be an extension of the insecure version of the same goal (https://github.com/cockroachdb/cockroach/issues/251

[2018-04-30 21:04] benesch commented on #17229
I'm kind of confused. To improve the case of many versions, wouldn't you design the active/passive keyspaces like this?

[code]

Then you don't need to leave any tombstones in the active keyspace unless you actually delete a key. Perhaps I don't have a good model of how SST iteration works?

[2018-04-30 21:37] benesch opened #25191 "storage: queues swallow errors if requeueing"
If `queue.process` returns an error, that error will be swallowed if the item is slated to be requeued:  https://github.com/cockroachdb/cockroach/blob/dfc3ddd167f2a22e2210d49da0d36381edcbd2b5/pkg/storage/queue.go#L758

In the case of the split queue, every command processed on a too-large replica re-adds to the split queue, thus marking the replica for requeueing: https://github.com/cockroachdb/co

[2018-04-30 21:43] a-robinson commented on #25191
cc https://github.com/cockroachdb/cockroach/issues/25073

[2018-04-30 22:16] danhhz opened #25192 "changefeed: prototype in v2.1-alpha.20180604"
Starting my notes to keep track of what needs to make the prototype. Don't worry about this making sense until the RFC is out, then I'll make sure the jargon here stays in sync with it.

- [x] merge rfc
- [x] pause/resume
- [x] initial catchup (or not)
- [x] support for DELETE
- [x] switch kafka address to sql option
- [ ] setting for how far behind to read
- [x] envelope=none,key_only
- [ ] forma

[2018-04-30 22:33] rytaft opened #25193 "*log.safeError: replica.go:3759: %s: %s | while committing batch; replica.go:3577: caused by *errors.withMessage:..."
https://sentry.io/cockroach-labs/cockroachdb/issues/393043461/

[code]

[2018-04-30 23:41] rytaft opened #25194 "core: support copysets or replication "teams" of servers"
As described in [this forum post](https://forum.cockroachlabs.com/t/replication-teams/1596), better fault tolerance for extremely large clusters can be achieved by creating replication "teams" of servers.

This phenomenon has been described in the literature as "copysets", and is summarized here: http://hackingdistributed.com/2014/02/14/chainsets/. Although copysets can be manually approximated to

[2018-05-01 01:03] #25137 closed

[2018-05-01 03:10] Dendon opened #25197 "panic: Cannot convert nil datum to EncDatum"
Hey,

just recently cockroachdb crashed.

It took a few restarts until it stopped crashing again.

I guess it is related to schema changes, but it doesn't seem to happen always.

[code]

[code]

[2018-05-01 03:59] #22907 closed

[2018-05-01 04:15] neeral opened #25198 "expose stats in graphite format"
Metrics are currently available for monitoring from Prometheus. Some clusters don't have Prometheus and are already running a different monitoring tool (in my case, Graphite). The Prometheus format can be converted into Graphite-format, using prometheus' library, and pushed to the graphite server.

This is a must-have to allow monitoring of production clusters which have Graphite and not Prometheu

[2018-05-01 09:07] cockroach-teamcity opened #25199 "sql: TestCancelMultipleSessions failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f42d65f1d5a5b316ab7e83f1cbca0ddfd7b07bfd

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=634213&tab=buildLog

[code]

[2018-05-01 10:43] jhayotte commented on #19826
@knz Your pull request will definitely help! Thx for it!
Just one thing, IMHO you don't cover one important use case:

**As a developer I want to run my test of integration in a specific cockroach DB with a docker_compose.**

In this scenario, you need to define in your docker-compose a COCKROACH_DB (e.g article)

As mention earlier, this use case occurs when you run a single instance of crdb. Whe

[2018-05-01 11:41] knz opened #25201 "build: make errors out on docgen.d"
[code]

Indeed, at line 1197 in docgen.d:

[code]

The generator should skip over known file names for editor temporary files, including anything matching:

[code]

[2018-05-01 11:51] benesch commented on #25201
Huh, I'm kind of torn about this. The fact that prereqs is outputting ".#datum.go" means that the Go build system is including it in the build! If anything it's Go that needs to omit such files. Or your editor needs to be reconfigured to change the extension on its temporary files.

That said, prereqs should escape filenames with special characters. I'm happy to make that change. But I'm still con

[2018-05-01 12:14] knz commented on #25201
No they're not empty. Perhaps one command is listing them as part of the build and another is ignoring them automatically?

This is the standard naming convention with emacs. Somehow I'd be surprised if the Go team didn't cater for emacs users. I do not see any instruction online that emacs needs a custom configuration to work with Go.

[2018-05-01 12:35] benesch commented on #25201
Yeah, I’ll look to see if the compiler has a special case for Emacs-looking
temp files. (And if so: 🙄. The internals of the Go tool are not properly
exposed in the build package.)

On Tue, May 1, 2018 at 8:14 AM kena <notifications@github.com> wrote:

[2018-05-01 12:41] #25199 closed

[2018-05-01 12:53] benesch commented on #25201
Hmm. https://github.com/golang/go/commit/592c97fc8f55d65dc668b1acb3b5bdf46e851f9e

[2018-05-01 13:10] cockroach-teamcity opened #25203 "teamcity: failed tests on master: acceptance/TestVersionUpgrade"
The following tests appear to have failed:

[#634962](https://teamcity.cockroachdb.com/viewLog.html?buildId=634962):

[code]

Please assign, take a look and update the issue accordingly.

[2018-05-01 13:24] #25201 closed

[2018-05-01 13:26] dt opened #25204 "importccl: add EXPORT option to write schema to file"
`IMPORT` supports reading its `CREATE TABLE` statement from a file, so adding an option to `EXPORT` that writes a compatible `CREATE TABLE`  to a file would make round-tripping easier.

NB: to be round-trip compatible with `IMPORT`, such a `CREATE TABLE` cannot contain FK constraints. Additionally,`EXPORT` can dump arbitrary query results, not just individual tables, so it isn't obvious that the d

[2018-05-01 14:27] jordanlewis commented on #25151
What kind of disks are you running on? This message

[code]

means that RocksDB is taking a long time to sync to disk. Perhaps the IO load is too high for your disk configuration. You can use tools like `iostat` to dig in to more details around IO performance.

[2018-05-01 14:31] a-robinson commented on #24966
Any update, @cody-yancey? I assume that by this point you've restarted the node. Is the cluster back to 0 under-replicated ranges?

[2018-05-01 14:41] rytaft opened #25205 "*log.safeError: conn_executor.go:521: panic while executing 1 statements: RELEASE SAVEPOINT cockroach_restart: ca..."
https://sentry.io/cockroach-labs/cockroachdb/issues/540833964/

[code]

[2018-05-01 14:52] BramGruneir commented on #25194
This is VERY old now, but copysets were discussed in the rebalancing RFC: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20160503_rebalancing_v2.md#copysets

[2018-05-01 15:04] BramGruneir commented on #25194
Actually, after re-reading the rfc, I think a lot of that still holds true.

[2018-05-01 15:05] raevangregson commented on #19019
Using flask with sqlAlchemy and cockroach db we randomly get this error it seems when doing POST or PUTS into the database.

Any suggestions or help is appreciated.

[2018-05-01 15:29] jordanlewis opened #25207 "distsqlrun: implement batched channel RowReceiver for network receives"
Change the RowReceiver implementation between the StreamDecoder and the first Processor in a flow to send batches across the Go channel.

Preliminary work on this shows a significant improvement:

[code]

[2018-05-01 15:55] andreimatei commented on #19019
@sibblegp @raevangregson this issue is about a particular test failure.
Retriable errors are generally a thing in cockroach db - see https://www.cockroachlabs.com/docs/stable/transactions.html#transaction-retries

[2018-05-01 15:55] #24690 closed

[2018-05-01 15:56] andreimatei commented on #25205
#24433

[2018-05-01 15:56] #25205 closed

[2018-05-01 16:57] andreimatei commented on #20076
another related forum discussion
https://forum.cockroachlabs.com/t/how-to-have-a-correct-log-table-that-contains-all-the-inserts-updates-and-deletes/1598/2

[2018-05-01 17:05] dt opened #25210 "importccl: support distributed import of SQL-formatted data"
Currently we only support CSV (and variants with other delimiters). However another common way of importing and exporting database data is in native SQL -- either in plain `INSERT` statements or sometimes in more bulk-optimized flavors like postgres' `COPY`.

Supporting SQL-formatted data in our existing bulk loading `IMPORT` command could smoothen loading from other databases, or existing dumps t

[2018-05-01 17:05] dt commented on #25210
(this is a summary of an in-person chat between @mjibson, @dt and @dianasaur323)

[2018-05-01 17:33] #25011 closed

[2018-05-01 17:56] knz opened #25213 "sql: pgadmin support"
- [ ]  sql: support bytea_output session variable #20782

[2018-05-01 18:16] knz commented on #25213
cc @awoods187 we'll look into this soon then

[2018-05-01 18:34] petermattis commented on #17229
@benesch That's an interesting idea: don't bother encoding the timestamp in the key for ACTIVE keys, so that updating an existing key is simply an overwrite. We'd have to experiment with whether the old versions in the ACTIVE keyspace cause any performance problem, but I imagine it is strictly better than deleting values (via RocksDB tombstones) in the ACTIVE keyspace.

[2018-05-01 18:54] rytaft opened #25217 "storage: panic in NewRawNode in v1.1.3"
https://sentry.io/cockroach-labs/cockroachdb/issues/538881816/

[code]

[2018-05-01 19:06] petermattis opened #25219 "bulkio: backup2TB roachtest failed"
Test log is [here](https://teamcity.cockroachdb.com/repository/download/Cockroach_Nightlies_WorkloadNightly/633729:id/backup2TB/test.log):

[code]

[2018-05-01 19:17] petermattis opened #25221 "backup: import/tpcc/warehouses=1000/nodes=4 roachtest timed out (hung?)"
The test log is [here](https://teamcity.cockroachdb.com/repository/download/Cockroach_Nightlies_WorkloadNightly/633729:id/import/tpcc/warehouses%3D1000/nodes%3D4/test.log). The full artifacts are [here](https://teamcity.cockroachdb.com/viewLog.html?buildId=633729&buildTypeId=Cockroach_Nightlies_WorkloadNightly&tab=artifacts#!10xtn3b,cj3jqrjcsqw,-n0phwjo351ep,-19l7dvgrojye8).

The logs simple show:

[2018-05-01 19:43] benesch commented on #25183
Looks like Docker slowness. Not much we can do here.

[2018-05-01 19:43] #25183 closed

[2018-05-01 19:43] mjibson commented on #25221
I'm not sure what to do here. I have not seen this test before and I can't see anything in the logs that looks useful. The log has:

[code]

Which make it appear that after uploading the binary nothing started.

[2018-05-01 19:53] petermattis commented on #25221
There are a lot of those `???` lines in the log. The `???` is a marker used by roachtest to indicate it doesn't know what stage the test is at. Something actionable to do here is to improve the logging by sprinkling `t.Status` and `t.WorkerStatus` messages in the test so that if this happens again we get an indication of where the test hung.

[2018-05-01 20:04] obissick commented on #24487
Having this same issue.

[2018-05-01 20:28] magaldima opened #25222 "Replace RocksDB with FoundationDB"
**FEATURE REQUEST**
Now that FoundationDB is open source again, how difficult would it be to use CockroachDB's SQL layer on top of FoundationDB's K/V store?

There seems to be a lot of interest in the FoundationDB forum for this and it seems like there could be a lot of overlap since CockroachDB is already using a sorted key-value store.

[2018-05-01 20:41] vivekmenezes opened #25223 "qa: EXPORT CSV"
This issue tracks the qa for Export CSV available in the next alpha release.

https://github.com/cockroachdb/cockroach/pull/25075

[2018-05-01 20:42] vivekmenezes commented on #25223
@a-robinson I assigned you randomly to be the qa-buddy.

[2018-05-01 20:46] mjibson commented on #25221
I don't think the test proper even started then because there is a `t.Status("starting csv servers")` line way high up. This failed during c.Put (which runs `c.status("uploading binary")`). Have other tests observed this kind of failure before?

[2018-05-01 20:47] vivekmenezes opened #25224 "qa: timetz"
this issue tracks the qa for the timetz type available in the next alpha

https://github.com/cockroachdb/cockroach/issues/20944

@andreimatei you have been picked randomly to qa this feature

[2018-05-01 21:14] #23818 closed

[2018-05-01 21:45] sean- opened #25225 "pgbenchsetup not working on master/2.X branch..."
Using `master` (f42d65f1d5a5b316ab7e83f1cbca0ddfd7b07bfd), it isn't possible to build `pgbenchsetup` atm.

[code]

This is a drive-by FYI.  The 1.1 branch version of the tool still works.

If there's a better way to establish a baseline single-node performance for crdb than `pgbench`, pointers would be welcome.

[2018-05-01 22:16] #23798 closed

[2018-05-01 23:07] dt commented on #25225
That looks like you just need to build (cockroach) with `make` once, to run the code-generation steps for all the modules. Does that help?

[2018-05-02 10:03] joeledstrom commented on #25197
You can reproduce this panic on a fresh cochroachdb 2.0.1 from the CLI with this:
[code]
either of these queries work fine however:
[code]

[2018-05-02 11:31] tschottdorf commented on #24248
Reopening since #25116 didn't exercise this properly.

[2018-05-02 13:55] rytaft commented on #25197
We have another report of a similar issue from Gitter:

[code]
stack trace
[code]

[2018-05-02 14:11] vivekmenezes opened #25232 "importccl: make mysql dump compatible with import CSV format"
@mjibson says, the MySQL output format is just not compatible with the CSV spec. If we want to support this file format we think it would take ~1 week of work to add it to IMPORT. We could, in the mean time, write a tool that converts MySQL output files into CSV. We could send the customer that tool while they wait a month for the next alpha with the full feature.

[2018-05-02 14:15] #25232 closed

[2018-05-02 14:15] benesch commented on #20924
This test no longer exists because the migration no longer exists. Problem solved!

[2018-05-02 14:15] #20924 closed

[2018-05-02 14:17] jordanlewis commented on #25197
Thanks for the reports! I can't actually reproduce this on `master`, which means that we've already fixed this but haven't backported it to 2.0.

I just need to track down what the fix was and backport it.

[2018-05-02 14:23] nvanbenschoten opened #25233 "storage: splits can hit command is too large error"
We've seen cases where a split request can hit a `command is too large` error. For instance, this is what happened in https://forum.cockroachlabs.com/t/trying-to-split-same-key-range/1592, where splits continuously failed with the following error:

[code]

We should figure out how this is possible and if there's anything that needs fixing. Off the top of my head, I'm not even sure exactly what fac

[2018-05-02 14:29] benesch commented on #25193
This is an out of disk space error. I think it's probably fine to ignore it?

[2018-05-02 14:30] rytaft opened #25234 "rpc: server.go:219: clock_offset.go:226"
https://sentry.io/cockroach-labs/cockroachdb/issues/431183536/

[code]

[2018-05-02 14:35] benesch commented on #23805
Have we seen this since cockroachdb/roachprod#150?

[2018-05-02 14:39] benesch commented on #20061
We actually check for this now!

[2018-05-02 14:39] #20061 closed

[2018-05-02 14:39] benesch commented on #19651
Fixed in #24296.

[2018-05-02 14:39] #19651 closed

[2018-05-02 14:41] Dendon commented on #25197
I have tested the 2.1.0 dev channel and the crash is still occuring.

My guess is, that this only happens when a schema change is active.
At least from my observation .

[2018-05-02 14:42] jordanlewis commented on #25197
What do you mean by the 2.1.0 dev channel? Which SHA did you test?

[2018-05-02 14:45] Dendon commented on #25197
Sorry, for clarification:

Build Tag:    v2.1.0-alpha.20180416
Build Time:   2018/04/13 13:33:52
Distribution: CCL
Platform:     linux amd64 (x86_64-unknown-linux-gnu)
Go Version:   go1.10
C Compiler:   gcc 6.3.0
Build SHA-1:  f54870592a75b62bf8b04ab6eb1c74442b57164f
Build Type:   release

[2018-05-02 14:48] vivekmenezes commented on #24047
marking this as closed because of https://github.com/cockroachdb/cockroach/pull/24246 although andrei might have still seen this after that fix. Will reopen a fresh issue if is comes back.

[2018-05-02 14:52] vivekmenezes commented on #2860
currently closing. If AddSSTable() doesn't work out we can reopen this issue

[2018-05-02 14:52] #2860 closed

[2018-05-02 14:56] vivekmenezes commented on #6935
The schema mutations related code has mostly been moved to sqlbase. mutations related code will eventually be moved to extendedTableDescriptor creation while developing https://github.com/cockroachdb/cockroach/issues/22275 . Closing this issue

[2018-05-02 14:56] #6935 closed

[2018-05-02 14:58] vivekmenezes commented on #9799
@bdarnell I'm closing this issue because dropping tables now uses ClearRange().

[2018-05-02 14:58] #9799 closed

[2018-05-02 15:03] jordanlewis commented on #25197
Looks like this was fixed by f7998858a415fc010c8141dfef4a6c82d2755811 - thanks @andreimatei! I'll see about backporting this or at least just the relevant parts.

[2018-05-02 15:05] rytaft commented on #25105
There was another error in this test. Not sure if it's the same issue: https://teamcity.cockroachdb.com/viewLog.html?buildId=633237&tab=buildResultsDiv&buildTypeId=Cockroach_Nightlies_NightlySuite.

[code]

[2018-05-02 15:06] vivekmenezes commented on #16727
closing this issue.

[2018-05-02 15:06] #16727 closed

[2018-05-02 15:12] vivekmenezes commented on #17597
@andreimatei TableCollection is holding a lot of stuff and I'm planning to add more :-) so perhaps we should just close this issue

[2018-05-02 15:28] andreimatei commented on #17597
Oh no :)
Any thoughts on the points, though?

Also everything about the timestamp being sufficient.

Basically, perhaps except for uncommitted tables, why does the thing need to exist?

[2018-05-02 15:28] vivekmenezes commented on #18533
Observed and not seen this issue for a long time now. There is plenty of evidence that we fixed a number of consistency issues that could have fixed this. Closing

[2018-05-02 15:28] #18533 closed

[2018-05-02 15:29] #17313 closed

[2018-05-02 15:34] benesch commented on #24611
For posterity:

  * You may need to run `make unsafe-clean` whenever you upgrade macOS, GCC, CMake, or any other tool used in the build that is not vendored.
  * There was a bug in `make unsafe-clean` that was preventing libroach from being cleaned up. I've opened a PR to fix that: https://github.com/cockroachdb/cockroach/pull/create?base=cockroachdb%3Amaster&head=benesch%3Aclean-libroach

P.S. Ma

[2018-05-02 15:34] #24611 closed

[2018-05-02 15:37] #20846 closed

[2018-05-02 15:41] benesch commented on #19505
Fixed by 713a11ecf4127f1e2a3835a4de442e56f36e2094.

[2018-05-02 15:41] #19505 closed

[2018-05-02 15:46] jordanlewis commented on #25197
I made a fix in #25238, we'll add it to the next 2.0 release. Sorry for the trouble, and thanks very much for the clear reproduction instructions.

[2018-05-02 15:55] #25138 closed

[2018-05-02 15:58] knz opened #25241 "sql: bogus int/interval conversions"
- conversion from interval to int,decimal,float discards the day/month part silently
- conversion from interval to int and back again does not roundtrip the value properly.

[2018-05-02 16:46] petermattis commented on #23805
@benesch Not that I know of. Let's assume that fixed it.

[2018-05-02 16:46] #23805 closed

[2018-05-02 16:57] petermattis commented on #25221
Hmm, that's a good point about `starting csv servers`. What's curious is that the `test.log` shows the the csv servers line should have been run:

[code]

Each of the dots in that output represents 1s. So the total is 44511, or 12.36h. Something must have hung running that `roachprod run` command which is curious because we're running `workload csv-server` in the background. Seems like this is a t

[2018-05-02 17:13] cockroach-teamcity opened #25244 "teamcity: failed tests on release-2.0: acceptance/TestJSONBUpgrade"
The following tests appear to have failed:

[#637200](https://teamcity.cockroachdb.com/viewLog.html?buildId=637200):

[code]

Please assign, take a look and update the issue accordingly.

[2018-05-02 17:28] dt commented on #25163
yeah, that tool is buggy and doesn't work at all

[2018-05-02 17:30] jordanlewis commented on #24695
Nevermind, I wasn't passing the `-f` flag to `strace`.

[2018-05-02 17:49] #25197 closed

[2018-05-02 17:57] jordanlewis commented on #24695
So I think that all of this is pretty much well-expected, because of the Go runtime. I believe that you can't do really do blocking reads in Go, since Go multiplexes goroutines over its available physical threads. That means that Go prefers to never block a physical thread, since that would reduce the amount of available concurrency in the system.

The `read` call returns `EAGAIN`, which means its

[2018-05-02 17:58] bdarnell commented on #17229
The tricky question is when do you use the active generation? If we store one value per key, then you can only use the active generation for timestamps greater than the latest one stored (ts7 in this example. You can't rely on the active generation for ts6 because it doesn't contain the old value for key3). So then you have extremely bimodal performance: queries at "now" are fast but any query eve

[2018-05-02 17:58] jordanlewis commented on #24695
I also don't think that 4-6% is unexpected. Cockroach needs to do a little bit of stuff at all time, even when idle, like updating time series information, and various inter-node gossip. Thanks for the report, but I'm going to close this as not an issue.

[2018-05-02 17:58] #24695 closed

[2018-05-02 18:57] #24525 closed

[2018-05-02 19:05] andreimatei commented on #16865
This has been fixed in the executor rewrite.

[2018-05-02 19:05] #16865 closed

[2018-05-02 19:16] #18365 closed

[2018-05-02 19:56] dt commented on #25225
I think we intentionally gitignored those files since checking in the generated files was creating significant merge conflicts -- it essentially required every change to those packages be completely serialized. I think we decided that losing go-get-ability was sadly the price we had to pay for increased development productivity, though I'll let @benesch and @knz chime in there.

That said, we've s

[2018-05-02 20:17] jordanlewis opened #25254 "sql: tuple-typed placeholders panic the server"
[code]

[2018-05-02 20:25] #25165 closed

[2018-05-02 20:26] benesch commented on #9014
Fixed by #25061!

[2018-05-02 20:26] #9014 closed

[2018-05-02 20:27] arjunravinarayan commented on #15938
Supporting tuples in DistSQL requires two things:
1. propagating the appropriate type information via `ColumnType`. This was fairly straightforward.
2. encoding/decoding the tuple types over the wire. for now I'm working on adding only a value encoding, so it would not be order preserving. This is a little more work, but still seems straightforward.

The other part mentioned - converting tuplified

[2018-05-02 20:31] RaduBerinde commented on #15938
Great! A value encoding is functionally sufficient.

The other part wasn't meant to be a task for this issue, it was just an example where tuples can pop up unexpectedly. I am filing an issue for the optimizer.

[2018-05-02 20:35] RaduBerinde opened #25255 "opt: simplify unnecessary tuples in ORDER BY"
I encountered queries like this: `SELECT k, v FROM t ORDER BY (k, v)`.  This is equivalent to `ORDER BY k, v` but it actually results in a new column with the tuple `(k, v)` being synthesized. The optimizer should convert the former form to the latter.

[2018-05-02 20:40] #24950 closed

[2018-05-02 20:41] arjunravinarayan commented on #15938
Glad to see you think a value encoding is sufficient. I was afraid there might be an edge case where it wouldn't suffice. I think optimization wise pushing tuple construction as far down towards the end of the query would probably be sufficient - the value encoding precludes execution optimizations that require orderings between values, but that's about it... Anything that requires a tuple can be

[2018-05-02 20:43] RaduBerinde commented on #15938
Exactly, if we need ordering, we will just decode and compare. Unclear how important this optimization is anyway.

[2018-05-02 20:50] #24165 closed

[2018-05-02 21:02] vivekmenezes commented on #17597
well I'm working on a change that's going to add uncommittedCreatedTables to this data structure. I thing the way this works is you use it as a dumping ground until it becomes unwieldy and then someone comes around and breaks it up and renews order. But I still think that doesn't warrant an issue.

[2018-05-02 21:05] benesch commented on #25225
Yep, exactly. We weighed the tradeoffs here and decided it was more important to optimize for our contributor productivity than to preserve compatibility with `go get`.

You can avoid the dependency on Node and Yarn by running `make buildshort` instead of `make build`. In your case I think `make pkg/sql/parser/sql.go` would have been sufficient, but of course it's impossible to figure that out wit

[2018-05-02 21:08] andreimatei commented on #17597
The problem is that it's not clear (at least not to me) what stuff is dumped in this dumping ground. The last instance where I ran into this  is in relation with "internal statements" - when one executes something using the `InternalExecutor` in the context of a session, does the internal executor need to share the `TableCollection`? What if it further executes the statement in the context of the

[2018-05-02 21:19] knz opened #25258 "sql: string to decimal conversion improperly truncates large negative values"
Consider the following (valid, unsurprising) behavior:

[code]

Now compare this:

[code]

Still happy! And now:

[code]

woops, the fractional part was truncated.

cc @nvanbenschoten @mjibson

[2018-05-02 22:03] dendon opened #25260 "build: Incomplete compile prerequisites and compile error related to yarn"
Hello,

i just tried compiling the release-2.0 branch (rev. 5608e278f4d5f4a3624c400c7dcb8ec3a582adb4) and noticed that yarn is missing in the prerequisites list at [https://www.cockroachlabs.com/docs/stable/install-cockroachdb.html#build-from-source-linux](https://www.cockroachlabs.com/docs/stable/install-cockroachdb.html#build-from-source-linux)

Also an error occurred when compiling:
`build/node

[2018-05-02 22:16] benesch commented on #25260
Those prerequisites are for the source archive, which you can download here:

    https://binaries.cockroachdb.com/cockroach-v2.0.1.src.tgz

The source archive ships a precompiled version of the admin web UI, so you don't need Node and Yarn installed.

To build from our Git repository you'll need to adhere to the stricter list of prerequisites in CONTRIBUTING.md: https://github.com/cockroachdb/coc

[2018-05-02 22:36] knz commented on #24972
For reference, this feature requires sorted aggregations.
pg docs:
https://www.postgresql.org/docs/10/static/functions-aggregate.html#FUNCTIONS-ORDEREDSET-TABLE

[2018-05-02 23:26] Dendon commented on #25260
Sorry about that.

Thanks for the help, now it worked.

But maybe still one thing left: it seems go-bindata and goimports are not installed nor listed, yet required.
As I had to run:
`go get -u github.com/a-urth/go-bindata/...`
`go get -u golang.org/x/tools/cmd/goimports`
to successfully compile it.

[2018-05-02 23:51] bdarnell commented on #17229
Related: what if the active generation was just an index with a zone config specifying a different TTL?  The SQL query planner would need to become aware of TTLs and prefer the lowest-TTL index that satisfies the query. You'd still have all the tombstones in the primary index (and even the "low-TTL" index would have as many tombstones as it accumulated in a GC cycle), but this way you'd have a fas

[2018-05-03 00:34] andreimatei commented on #24279
Also a regression for https://github.com/cockroachdb/cockroach/issues/24149 (assuming we fix it) - run queries while killing nodes and check that no "unexpected" errors are seen.

[2018-05-03 00:36] andreimatei commented on #24149
Also seen by a customer while decommissioning nodes.

[2018-05-03 01:26] benesch commented on #8904
Huh, I couldn't reproduce this on Linux. @knz or @BramGruneir can you check that it's still broken?

[2018-05-03 01:42] bdarnell commented on #23538
SQLAlchemy 1.2 [uses this feature](http://docs.sqlalchemy.org/en/latest/changelog/migration_12.html#new-autoescape-option-for-startswith-endswith) too.

[2018-05-03 01:52] #23770 closed

[2018-05-03 02:39] knz commented on #8904
I have checked this and could not repro either on linux nor freebsd.
Also I went and checked the kernel code and `statfs(2)` ostensibly resolves symlinks.

Then I went to the gosigar repo history and haven't seen the code path changed since 2015. Neither has `engine/rocksdb.go` changed since bram introduced the call.

My analysis today is that I was probably wrong in saying `gosigar` was at fault.

[2018-05-03 02:39] #8904 closed

[2018-05-03 03:25] jazoom commented on #25222
I don't know what OP had in mind, and I don't know much about database engineering in general, but I think some of the excitement over FoundationDB is that multiple databases can sit atop the same key-value store. So you could set up one cluster and have a SQL database, a search database, a key-value database, a graph database, etc. all running on the same distributed cluster.

[2018-05-03 03:56] #21464 closed

[2018-05-03 04:57] 474420502 opened #25270 "storage: client can cause reliable crash (using 2.0.1)"
**BUG REPORT**

[code]

[code]

Only One Node

Crash After I Test Insert data

[code]

go code:
[code]

[2018-05-03 06:02] sydnever opened #25271 "make lint: How to set TIMEOUT longer?"
**QUESTION**
![656794657](https://user-images.githubusercontent.com/2542184/39561780-79432ccc-4eda-11e8-9a95-b7d646100516.jpg)

[2018-05-03 07:08] Dendon commented on #25260
`uname -a`
Linux builder 4.4.0-122-generic 146-Ubuntu SMP Mon Apr 23 15:34:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

`sudo apt-get update && `
`sudo apt-get -y install build-essential libc-dev libncurses-dev git bash make cmake autoconf`

`cd && `
`git clone -b v6.14.2 https://github.com/nodejs/node.git node6.14.2 && `
`cd node6.14.2 && `
`./configure 2>&1 | tee -a $HOME/node6.14.2.log && `
`mak

[2018-05-03 11:57] tschottdorf commented on #20189
Andrei, unlikely that you're ever going to do anything here, correct? Feel free to reopen.

[2018-05-03 11:57] #20189 closed

[2018-05-03 12:03] wzrdtales opened #25272 "could not cleanup temporary directories from record file: remove /cockroach/cockroach-data/cockroach-temp713118389"
# Description

For some reason nodes that die do not start again due to the failure you can see in the log. The strange thing is, this happens everytime a node stops due to whatever reasons. Unlike cockroach tells, the directory *-tempXYZ is emtpy. As soon as these are removed cockroach boots again. Seems to be a bug and a critical one since this stops the cluster from working without manual inter

[2018-05-03 12:19] cockroach-teamcity opened #25273 "storage: TestSystemZoneConfigs failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/5eb4e149d34d0bd0eacafa905f60870481c3f425

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=638973&tab=buildLog

[code]

[2018-05-03 12:19] cockroach-teamcity opened #25274 "storage: TestNodeLivenessGetLivenesses failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/5eb4e149d34d0bd0eacafa905f60870481c3f425

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=638973&tab=buildLog

[code]

[2018-05-03 12:26] tschottdorf commented on #20222
@dt this seems like it would fit in with the proposed backup-restore driven plan for #17186, right?

[2018-05-03 12:28] tschottdorf commented on #20322
It's unfortunate, but there's nothing actionable about this, so I'm going to close.

[2018-05-03 12:28] #20322 closed

[2018-05-03 12:37] #9640 closed

[2018-05-03 12:37] tschottdorf commented on #9640
Doesn't seem like we're going to do this.

[2018-05-03 12:44] tschottdorf commented on #24970
@mberhault do we have a test that uses haproxy with SSL enabled? I think we must have one, but I'm not sure where.

[2018-05-03 12:46] tschottdorf commented on #3680
@petermattis which team owns this? Presumably due to the catchall nature of CF&S that's where it has ended up right now, but I'm unlikely to ever do anything about it.

[2018-05-03 12:55] tschottdorf commented on #25109
There's also the approach championed in https://www.youtube.com/watch?v=YqNGbvFHoKM: If you decide that your own clock is too far ahead (via our clock offset computation or the like) you stop using your wallclock. Instead, all you do is ratchet up the logical. This sounds dangerous because now you're running the risk of overflowing that, but that might be largely theoretical. We use 32 bits for th

[2018-05-03 13:00] #23842 closed

[2018-05-03 13:01] tschottdorf commented on #25272
@wzrdtales, if you can repro this at-will, could you stop the node and before restarting it (which would lead to this error) check whether the temp dir is empty?

[2018-05-03 13:04] mberhault commented on #24970
We don't, mostly because we use tcp-level load balancing in ha-proxy, so it doesn't matter much whether we're running insecure or secure.
@alanhamlett: does your client remain idle for a while? If so, haproxy might be terminating the connection (see the timeouts in the config).

[2018-05-03 13:16] debraj-manna commented on #25151
@jordanlewis The nodes are of `m4.4xlarge` AWS instance type.

[2018-05-03 13:26] alanhamlett commented on #24970
That was my first thought too, so I increased the haproxy timeout to a large number but it had no effect.

[2018-05-03 13:28] petermattis commented on #25222
@jazoom Thanks for the additional color, though it doesn't change my response that using CockroachDB's SQL layer on top of FoundationDB would be very difficult.

[2018-05-03 13:31] tschottdorf opened #25275 "ci: should assert that branch contains no merges"
Such a commit slipped in in https://github.com/cockroachdb/cockroach/pull/24469. It's not obvious unless you look at the "Commits" tab, but for smaller PRs I don't routinely do so.

cc @petermattis for dev infrastructure triage.

[2018-05-03 13:34] petermattis commented on #25275
@jordanlewis or @benesch How hard is this to do? Is this something we'd do in `teamcity-check.sh`?

[2018-05-03 14:04] jordanlewis commented on #25151
Thanks. You can email me, first name @ cockroachlabs.com. The lines

[code]

are rather suspicious. It had to wait 5 seconds for overlapping requests before executing. After the wait, it finished very quickly.

What other load is on the system while you're doing this?

cc @nvanbenschoten anything else we can infer about what's going on from here?

[2018-05-03 14:06] rytaft opened #25278 "sql/pgwire: large insert into a JSON column is causing a lost connection and error"
A poster on Gitter has noted that creating a large insert causes a lost client connection.

The conversation is copied below:

[2018-05-03 14:09] jordanlewis commented on #25271
The Makefile currently doesn't allow customizing the timeout of the lint tests. You can do it manually by adding a timeout flag inside the makefile under the lint target, if you really want.

I'd suggest using `make lintshort` to run a shorter subset of the lint tests. You shouldn't need to run the full suite normally - if you're looking to contribute a patch, when you upload the patch, our CI ser

[2018-05-03 14:09] #25271 closed

[2018-05-03 14:14] debraj-manna commented on #25151
@jordanlewis  I have emailed the logs with Subject - Cockroach Debug Log. Let me know if you have received it.

[2018-05-03 14:20] jordanlewis commented on #25151
Yep, got it. Thanks. What other queries are you running on the system when you experience these slow selects? Are the selects still slow without other load on the system?

[2018-05-03 14:25] rytaft opened #25279 "sql: conn_executor.go:521: panic while executing 1 statements: SELECT DISTINCT _._, _._, _._ FROM _ AS..."
https://sentry.io/cockroach-labs/cockroachdb/issues/542212399/

[code]

[2018-05-03 14:28] #23520 closed

[2018-05-03 14:47] debraj-manna commented on #25151
@jordanlewis There are other queries executing on the system.

Is there a way I can get the snapshots of the queries that are being executed on the cockroach DB then I can share those across?

[2018-05-03 14:52] rytaft commented on #25278
The user is running cluster version v2.0.0
Also, clarified that it wasn't a crash, just a lost connection with a weird error

[2018-05-03 14:54] debraj-manna commented on #25151
@jordanlewis  The load on the system

<img width="1378" alt="screen shot 2018-05-03 at 8 23 11 pm" src="https://user-images.githubusercontent.com/8141860/39584398-f168fecc-4f0f-11e8-9a83-e6ad15204cb4.png">

[2018-05-03 14:59] jordanlewis commented on #25275
I think this would be pretty straightforward. You could assert that there's no output of `git log --merges master..HEAD` (or s/master/the target branch/). And `teamcity-check.sh` seems like a decent place to put this, yes.

[2018-05-03 15:16] nvanbenschoten commented on #25258
I did some digging and it looks like this is all fully explained by the call to `DecimalCtx.Quo` when converting arbitrary precision rational numbers. This function uses the `DecimalCtx`, which is bound to a precision of `20`. We'll want to increase the operation's precision for this division, because it's still at a stage where we expect no arithmetic loss.

https://github.com/cockroachdb/cockroa

[2018-05-03 15:17] wzrdtales commented on #25272
@tschottdorf I already wrote that above. Yes it is empty.

[2018-05-03 15:18] wzrdtales commented on #25272
Not even dotfiles in there

[2018-05-03 15:18] nvanbenschoten commented on #25258
The following diff fixes the specific issue here:
[code]

I think it's the right change, but technically it is still lossy. @knz do you think we need a mode in `cockroachdb/apd` that returns an error if the operation ever results in information loss due to insufficient precision?

[2018-05-03 15:18] debraj-manna commented on #25151
@jordanlewis - I stopped all sql queries to the cluster as you can see from the below image

<img width="346" alt="screen shot 2018-05-03 at 8 42 21 pm" src="https://user-images.githubusercontent.com/8141860/39585673-f6fb3442-4f12-11e8-9d11-118d8f28f95e.png">

The select is still slow

[code]

The number of rows in the table

[code]

[2018-05-03 15:18] RaduBerinde commented on #25279
The panic is due to a render expression that is projecting a column that is omitted below. I tried to reproduce with similar queries but wasn't successful. Hopefully someone who runs into it files an issue with more information.

[2018-05-03 15:18] vijaykarthik-rubrik commented on #25109
@tschottdorf `persist_upper_bound` is useful for single node clusters where the clock jumps back when cockroach is down. After a restart HLC loses it's state. Roachtest validating this: https://github.com/cockroachdb/cockroach/blob/master/pkg/cmd/roachtest/clock_monotonic.go#L113

[2018-05-03 15:27] tschottdorf commented on #24974
@nvanbenschoten why does https://github.com/cockroachdb/cockroach/pull/25261 fix this test? When @m-schneider and I looked at it, it seemed like we were sending a request from a goroutine that hit the server only after the stopper had stopped. I wasn't aware that this was a specific backpressure-mechanism-bug.

[2018-05-03 15:29] benesch commented on #25275
Just make sure that whatever you do will handle the case of a build on
master. (I think `git log --merges master..HEAD` will properly return
nothing if HEAD is master, but best to be sure.)

On Thu, May 3, 2018 at 10:59 AM, Jordan Lewis <notifications@github.com>
wrote:

[2018-05-03 15:54] knz commented on #25258
I think that silent information loss for a data type that aims to be information-preserving is indeed difficult to justify.

[2018-05-03 16:13] knz commented on #25278
@andreimatei any thoughts about what may be causing this?

[2018-05-03 16:17] knz commented on #25254
@BramGruneir could you look into this while you are paged in on tuples?

[2018-05-03 16:17] #23350 closed

[2018-05-03 16:26] knz commented on #25275
just curious what's the trouble with a branch containing merges?

[2018-05-03 16:27] knz commented on #25270
cc @tschottdorf for triage

[2018-05-03 16:38] knz commented on #24175
@justinj can you check whether the optinizer already supports this? If it does, perhaps  add a test for this caase there, and we'll close this  issue as addressed in 2.1.

[2018-05-03 16:50] jordanlewis commented on #25254
I already have an open PR that fixes this.

[2018-05-03 16:51] andreimatei commented on #25278
No clue. One thing I'd try is run with `--vmodule=conn_executor=2` and see if we get any errors in the logs then. There might be an opportunity to improve our logging here.
Otherwise, repro instructions would be great.

[2018-05-03 16:52] WhiteTrashLord commented on #24695
But I was using a single node. So there should not be any inter-node gossip. For me 4 - 6 % is much. I hope you can improve the performance in the future.

[2018-05-03 16:53] knz commented on #25254
oh I'm sorry I hadn't seen it. carry on.

[2018-05-03 16:55] jordanlewis commented on #24695
Thanks for the input! You might want to try turning off the internal time-series recording to see if that helps. https://www.cockroachlabs.com/docs/stable/operational-faqs.html#can-i-reduce-or-disable-the-storage-of-timeseries-data-new-in-v2-0

[2018-05-03 18:01] tbg opened #25284 "roachtest: add --count flag"
This makes it easier to "stress" test a roachtest, something we should do habitually before merging one (and eventually automate).

- this should work with the `-c` flag (reuse cluster).
- this could interact with the `--parallelism` flag by running multiple copies of the test in parallel (only when `-c` is not specified)

@petermattis, assigning you as the resident roachtest expert.

[2018-05-03 18:02] nvanbenschoten commented on #25258
I just looked closer at `cockroachdb/apd` and it has an `Inexact` trap specifically for this purpose. Thanks for designing this so well @mjibson!

[2018-05-03 18:10] tschottdorf opened #25286 "build: CI for new roachtests"
We've had a few instances recently in which freshly merged roachtests were either flaky, or downright broken. This isn't unexpected: while developing the test, you'll usually use `--local` mode, and the roachtest doesn't even get run during CI (and in the near future, if it got run, it would be in local mode again). A roachtest passing in local mode does not imply that it will pass in remote mode.

[2018-05-03 18:15] mjibson commented on #25258
I'm confused why we are doing a division here at all. Can you explain why that's happening?

[2018-05-03 18:17] nvanbenschoten commented on #25258
`go/constant` provides infinite precision using rational numbers. We need to divide to turn this into an arbitrary precision decimal.

[2018-05-03 18:45] petermattis commented on #25286
Here's another thought: we write a CI check that looks for a new roachtest and fails the build unless the commit message contains a known string (e.g. `roachtest run OK`). The CI failure would indicate that the author should run the roachtest remotely (local is not sufficient) and then add that known string to the commit message.

Where would we keep this "passed reliably for some amount of time"

[2018-05-03 19:15] andreimatei opened #25289 "storage/engine: segfault in RocksDBIterator"
We just upgraded RocksDB, but this seems to be on the go side... @petermattis what do you make of this?
Happened to me on the first run, didn't happen on a 2nd.
[code]

[code]

[2018-05-03 19:31] lhirata commented on #24608
I think this is a misunderstanding, but I honestly don't remember. This is what prompted it:
https://github.com/cockroachdb/docs/issues/2256

("The transaction_read_only session variable is now supported. It is always set to off.")

[2018-05-03 19:51] jordanlewis commented on #25289
Reminds me of #24588.

[2018-05-03 20:17] #25241 closed

[2018-05-03 20:32] knz opened #25290 "cli: bracketed paste confused by utf-8"
Found while investigating #8755.

Run first:
[code]

This will print out some result containing a µs part (notice the µ). Copy it to the clipboard, then type in

[code]

and try to paste the value.

The shell exits. This is invalid -- it should recognize the input instead. This used to work (it's a regression).

cc @benesch

[2018-05-03 20:34] knz commented on #8755
confirmed this still repros in 2.1-alpha.

The problem is not related to the interaction between timestamps and intervals though; the error detected by matt initially can be readily reproduced with:

[code]

The problem is that the arithmetic on durations first invokes `duration.normalize()`, and that causes the overflow. We should be able to do arithmetic on durations (intervals) without normaliz

[2018-05-03 20:47] andreimatei opened #25291 "acceptance: TestClusterRecovery is flaky"
Timed out on this TC run: https://teamcity.cockroachdb.com/viewLog.html?buildId=639637&buildTypeId=Cockroach_UnitTests

Attaching all the artifacts.

[Cockroach_GitHub_CI_39452_artifacts.zip](https://github.com/cockroachdb/cockroach/files/1972602/Cockroach_GitHub_CI_39452_artifacts.zip)

cc @tschottdorf for your collection

[2018-05-03 20:56] tim-o opened #25293 "importccl: IMPORT TABLE statement returns incorrect count of imported rows"
**BUG REPORT**

**Version Data:**
Tims-MBP:cockroachdb-training tim-o$ cockroach version
Build Tag:    v2.0.1
Build Time:   2018/05/02 21:09:24
Distribution: CCL
Platform:     darwin amd64 (x86_64-apple-darwin17.5.0)
Go Version:   go1.10.1
C Compiler:   4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.1)
Build SHA-1:  c92bc6e912880c28c0784d3208583fb27f482f76
Build Type:   development

**2. Please

[2018-05-03 20:58] jordanlewis commented on #25293
Oh, thanks for filing this! I also noticed this when I was giving the training with @benesch a few weeks ago, but forgot to file an issue.

[2018-05-03 20:59] jordanlewis commented on #25293
cc @mjibson

[2018-05-03 21:01] mjibson commented on #25293
Yes, this is currently known. It's not a bug in that it's broken, we just never implemented it. Clearly a ux surprise though.

[2018-05-03 21:06] jseldess opened #25294 "Auto-generate docs of required privileges per statement"
The docs for each SQL statement list the privileges required. The source file for each statement should always, or almost always, include a comment about required privileges, for example: https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/show_jobs.go#L24. We should consider auto-generating files to include into the SQL docs based on these comments.

cc @knz

[2018-05-03 21:17] #23558 closed

[2018-05-03 21:40] #12876 closed

[2018-05-03 21:58] benesch opened #25298 "cli: subsubcommands are not checked for validity"
[code]

This seems to be a bug in Cobra: https://github.com/spf13/cobra/blob/2da4a54c5ceefcee7ca5dd0eea1e18a3b6366489/args.go#L19-L23

[2018-05-03 22:01] knz commented on #10319
I've been keeping an eye on this issue and I think the initial phrasing, as-is, is not relevant any more. With #22371 merged, the ship has sailed on the idea that there are virtual schemas that automagically appear in every database; that must be true for compatibility for `information_schema` and `pg_catalog`, and we made it true (for better or for worse) for `crdb_internal`.

The idea to "persis

[2018-05-03 22:01] #10319 closed

[2018-05-03 22:04] asubiotto opened #25299 "tracing: add execution stats to span"
With the addition of stat collection scoped to a query, and more precisely, to a span (https://github.com/cockroachdb/cockroach/pull/25296), we've introduced the problem of how to send these stats back to an interested party.

As a consumer of a trace we want to:
- Aggregate across similar spans. For example, we would like to answer the question: "how many rows did my query read in total?"
- View

[2018-05-03 22:05] benesch commented on #25298
Worse than that, it's a wontfix: https://github.com/spf13/cobra/pull/329

[2018-05-03 22:08] asubiotto commented on #25299
More in-depth discussion: #24529, #25042
PR that addresses this issue: #25296

[2018-05-03 22:20] asubiotto opened #25301 "distsql: add processor IDs"
These should be generated at the planning stage in a similar manner to [`StageID`](https://github.com/cockroachdb/cockroach/blob/f548ce2fa02d6d2013246be0c86d4fe5fbe0ece1/pkg/sql/distsql_physical_planner.go#L951).

Uses:
- Display this ID on the visual query plan.
- Annotate spans with this ID, associated stats can then be displayed on the visual query plan on the processor with the matching ID.
-

[2018-05-03 22:28] benesch commented on #25298
Yeah, the fix I have in progress is calling a `setCmdDefaults` function on every `cobra.Command`:

[code]

[2018-05-03 22:50] andreimatei opened #25302 "sql: some users of the InternalExecutor could benefit from results streaming / mem accounting"
#23690 unified several APIs that we used to have with a new and improved `InternalExecutor`. One of the old API's - `executor.ExecStmtBuffered()` provided memory accounting for the accumulated results (although as far as I can tell all the users were providing an unbounded monitor, so the feature was of little use).
Anyway, the new API currently doesn't provide memory account. It could. It could e

[2018-05-03 22:59] nvanbenschoten opened #25303 "roachtest: add -count flag to run tests multiple times"
We should introduce a new `-count` flag to roachtest. Similar to the `-count` flag supported by `go test`, this flag will run each matching test `n` times. This is a small change, but it will make it easier to stress a new test to gain confidence.

[2018-05-03 23:02] bdarnell commented on #25109
@tschottdorf I don't understand how that obviates the need for `persist_upper_bound`. As @vijaykarthik-rubrik says, the point of `persist_upper_bound` is to protect against backwards clock jumps while the process is not running. I don't really see an alternative to persisting this value if you can't trust your system clock to be roughly monotonic.

[2018-05-03 23:06] nvanbenschoten commented on #25286
Yes, this is what I was thinking as well. Whoever introduces the test should own it and care for it at least until it graduates into a full-blown roachtest. It's doesn't make sense to be moving responsibility around for a test that was recently created by someone else.

We could add a `Nursery` flag on testSpecs and run them separately from the other tests at night. This will allow us to make non-

[2018-05-03 23:26] tschottdorf commented on #24974
Makes sense, thanks for the update!--

-- Tobias

[2018-05-03 23:33] #13098 closed

[2018-05-03 23:59] cockroach-teamcity opened #25305 "teamcity: failed tests on master: test/TestHeartbeatHealth, testrace/TestHeartbeatHealth"
The following tests appear to have failed:

[#640048](https://teamcity.cockroachdb.com/viewLog.html?buildId=640048):

[code]

Please assign, take a look and update the issue accordingly.

[2018-05-04 00:14] benesch commented on #25286
Yeah, I think the benefits of a nursery over the options are a) it is maybe
an hour’s worth of code changes, and b) it won’t require the test author to
repeatedly manually run their test before merging. Even with a count flag
it’s still annoying to have to keep your laptop connected or start a screen
session on a GCE worker.

On Thu, May 3, 2018 at 7:06 PM Nathan VanBenschoten <
notifications@gith

[2018-05-04 01:39] #25254 closed

[2018-05-04 02:54] mjibson commented on #25219
One node has in its log (from another day):

[code]

[2018-05-04 03:35] briancline opened #25306 "sql/pgwire: each line in `COPY FROM stdin` input gets split into multiple 8KiB records"
I originally asked around in Gitter on 23 April before I went down this rabbit hole -- sorry it took so long to write this up, but it will become evident why.

**BUG REPORT**

1. First few lines of output:

[code]
[code]
[code]

---

2. Please describe the issue you observed:

- What did you do?
Attempted to import a sql file exported by `pg_dump` which uses tab-separated `COPY FROM stdin` values

[2018-05-04 03:55] tschottdorf commented on #25219
@bdarnell, this is from this range and there's no other log message about it:

Any ideas?

[2018-05-04 03:57] bdarnell commented on #25219
It's a test-only issue: the data was generated incorrectly and has two nodes that believes they are node 1. @benesch is going to regenerate the data.

[2018-05-04 04:13] debraj-manna commented on #25151
@jordanlewis @nvanbenschoten - Let me know if you need any more info from my side and is there a way I can improve the performance of the cluster?

[2018-05-04 04:26] tschottdorf commented on #25303
Duplicate of https://github.com/cockroachdb/cockroach/issues/25284. (Sorry, I told you to file this and then did it anyway).

[2018-05-04 04:26] #25303 closed

[2018-05-04 04:37] debraj-manna commented on #25151
@tschottdorf - Yes

[code]

[2018-05-04 04:43] tschottdorf commented on #25291
The test is stuck waiting for node 1 to return to serving, I think. Its log shows messages like

W180503 18:34:54.282086 278 storage/replica.go:1487  [n1,s1,r4/1:/System/{NodeLive…-tsd}] have been waiting 1m0s attempting to acquire lease
W180503 18:34:54.283006 265 storage/replica.go:1487  [n1,s1,r4/1:/System/{NodeLive…-tsd}] have been waiting 1m0s attempting to acquire lease
W180503 18:34:54.2830

[2018-05-04 07:46] cockroach-teamcity opened #25309 "storage: TestNodeIsLiveCallback failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/14896d51831fc2ec77a5cd42b2b0dbf188979c2c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=640418&tab=buildLog

[code]

[2018-05-04 11:34] tschottdorf commented on #24480
Closing this one. We have #25203.

[2018-05-04 11:34] #24480 closed

[2018-05-04 11:36] tschottdorf commented on #24679
No artifacts.

[2018-05-04 11:36] #24679 closed

[2018-05-04 11:37] tschottdorf commented on #24650
No artifacts.

[2018-05-04 11:37] #24650 closed

[2018-05-04 11:37] tschottdorf commented on #25088
No artifacts.

[2018-05-04 11:37] #25088 closed

[2018-05-04 11:49] tschottdorf commented on #25131
The `roachtest` we have seems to exercise this kind of thing. It uses `--wait=live` and only kills nodes every other time. Either this is something specific to decommissioning multiple nodes at once, or the GC queue can get stuck or slows down dramatically. I'm not sure what to do about this except add better queue introspection as suggested in #25073 and make this 6-to-3 scenario an explicit step

[2018-05-04 11:52] tschottdorf commented on #25131
Actually, there's something interesting about this scenario. 3 is also the replication factor. So if you decommission three nodes at once, in a sense all of the peers go away. The cluster will upreplicate, downreplicate, upreplicate,downreplicate and essentially moves the range over to a new set of nodes pretty rapidly. This means that the last replica that becomes eligible for GC doesn't have any

[2018-05-04 11:58] tschottdorf commented on #21296
@m-schneider, is this on your radar?

[2018-05-04 12:13] cockroach-teamcity commented on #25273
SHA: https://github.com/cockroachdb/cockroach/commits/14896d51831fc2ec77a5cd42b2b0dbf188979c2c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=641013&tab=buildLog

[2018-05-04 12:29] tschottdorf commented on #25305
@mberhault, could you take a look at this one?

[2018-05-04 13:15] 474420502 commented on #25270
I commit the data of large batch . so that block the commit of process. and ctrl + c terminate the process that is inserting data.
i think it is reason that crashing cockroackdb;
but i can't reproduce it;

[2018-05-04 14:26] benoit-ponsero opened #25312 "join query - bad performance"
Hello,

I'm testing cockroach and i notice bad performances on join queries.
exemple:

t1: market(id, active, contract_id)  ~ 4000 rows
t2: market_country (market_id, countries_id) ~ 900 000 rows
t3: country (id, code) ~ 239 rows

i want to select all active market that have country = 'FR' and contract = 3718:

[code]

in local env :
mysql: 5ms
cockroach: **1.7 sec**

Why the difference is so big

[2018-05-04 15:12] wzrdtales commented on #25272
And as written above only deleting the dir completely solves the problem. I may just add that to the start script of the kubernetes definition

[2018-05-04 15:29] tschottdorf commented on #25270
Thanks for your report, @474420502. What's the error message for the fatal crash you have observed? It is printed before the stack trace (which you have posted).

[2018-05-04 16:15] thstart opened #25316 "3 nodes, replicas going only to one node"
Is this a question, feature request, or bug report?

**QUESTION**
I have 3 nodes. Importing large database through node 3. All replicas going only to node 1.

Have you checked our documentation at https://cockroachlabs.com/docs/stable/? If you could not find an answer there, please consider asking your question in our community forum at https://forum.cockroachlabs.com/, as it would benefit other m

[2018-05-04 16:41] andreimatei commented on #24798
As the only-visible-to-crdb referenced issue above shows, this is suspected to cause a significant regression in higher percentage select latency on a customer workload.

[2018-05-04 17:16] petermattis commented on #25289
@andreimatei Can you reproduce this? I've run your `make bench` command many times and failed to reproduce.

[2018-05-04 17:17] andreimatei commented on #25289
Didn't reproduce for me either

On Fri, May 4, 2018 at 1:16 PM, Peter Mattis <notifications@github.com>
wrote:

[2018-05-04 17:33] knz commented on #25312
Note that you can perhaps use our temporary setting `experimental_force_lookup_joins` to accelerate this particular query.

[2018-05-04 17:33] nvanbenschoten commented on #25151
@debraj-manna could you provide the output of `show trace for` with that last point query? Like others have mentioned, the `waiting for 1 overlapping requests` trace looks like its the culprit of the slowdown. You said that you no longer have any other SQL queries hitting the table, right?

If that's the case, we can take a look at tracing. To do this, first run `SET CLUSTER SETTING trace.debug.en

[2018-05-04 17:36] nvanbenschoten commented on #25151
To help us get a bit more information, could you also provide a screenshot of the page `https://<node2-hostname>:8080/#/reports/range/199`?

[2018-05-04 17:44] 474420502 commented on #25270
[error.log](https://github.com/cockroachdb/cockroach/files/1975389/error.log)
All logs here @tschottdorf

[2018-05-04 17:57] debraj-manna commented on #25151
@nvanbenschoten - I have enabled all the SQL queries again. So all these reports are with other SQL queries running.

Please find attached the output of `https://<node2-hostname>:8080/#/reports/range/199`
[Cockroach Console.pdf](https://github.com/cockroachdb/cockroach/files/1975409/Cockroach.Console.pdf)

On opening `https://<node2-hostname>:8080/debug/requests?fam=tracing&b=-1&exp=1` it showed m

[2018-05-04 18:00] jbboehr opened #25320 "security: COCKROACH_SKIP_KEY_PERMISSION_CHECK doesn't work for cockroach sql"
Although this appears to be caused by new code in github.com/lib/pq: https://github.com/lib/pq/blob/d34b9ff171c21ad295489235aec8b6626023cd04/ssl.go#L112

[code]

[code]

[code]

[code]

[2018-05-04 18:15] mjibson commented on #25219
The comment I wrote is #24337. I shouldn't have pasted that here since it already existed.

[2018-05-04 19:03] debraj-manna commented on #25151
@nvanbenschoten - The value are not that huge.

[code]
Yes it is having inserts, updates along with selects

[2018-05-04 19:15] debraj-manna commented on #25151
@nvanbenschoten -Below is the current load on the 5 node cluster.

<img width="346" alt="screen shot 2018-05-05 at 12 44 07 am" src="https://user-images.githubusercontent.com/8141860/39647673-82cc9980-4ffd-11e8-936d-9f4dc93bf71a.png">

About 30% of these queries are on config_str table.

[2018-05-04 19:36] nvanbenschoten commented on #25151
Are these inserts and updates also taking multiple seconds? Also, have there been any recent logs on node 2 with the string `r199/` in them?

[2018-05-04 19:56] dmannaarkin commented on #25151
@nvanbenschoten No I am not seeing any recent logs with `r199` in them. But my latest logs are flooding with message like below

[code]

Insert seems to be failing in node 2 tried doing a random insert

[code]

[2018-05-04 19:56] debraj-manna commented on #25151
@nvanbenschoten No I am not seeing any recent logs with `r199` in them. But my latest logs are flooding with message like below

[code]

Insert seems to be failing in node 2 tried doing a random insert

[code]

[2018-05-04 20:06] rytaft commented on #25312
In order to have `experimental_force_lookup_join` work for this query, you will need to change your schema so that `market_id` is the first column in the primary key of `market_country`. Since it's not possible to change the primary key after the table is created, you would need to reload these tables. But I've verified that the lookup join will work, assuming you `set session experimental_force_l

[2018-05-04 20:09] debraj-manna commented on #25151
@nvanbenschoten - I have emailed you the debug logs at `nathan @ cockroachlabs.com` as it is about 43 MB which github is not allowing me to upload.

[2018-05-04 20:25] nvanbenschoten commented on #25233
@tschottdorf any idea here about what components of a Raft command for an EndTransaction with SplitTrigger can grow with an unbounded size? The only things I see are the start and end keys of the new and old RangeDescriptors and the AbortSpan. Do you think it's realistic that an abort span can grow this large (~100 MB)?

[2018-05-04 20:28] petermattis commented on #25289
I got a reproduction (I think, only a partial stacktrace).

[2018-05-04 20:33] benesch commented on #25289
There's also a non-zero chance this is a build problem. @andreimatei's multiple Git workdirs definitely seem to be confusing the build system.

[2018-05-04 20:40] m-schneider commented on #21296
Yes, but not top priority,

On Fri, May 4, 2018 at 7:58 AM, Tobias Schottdorf <notifications@github.com>
wrote:

[2018-05-04 20:44] debraj-manna commented on #25151
@nvanbenschoten - Do I have to restart the cluster after increasing the command size ?

[2018-05-04 20:46] knz commented on #16169
This has been addressed in CockroachDB 2.0.

[2018-05-04 20:46] #16169 closed

[2018-05-04 20:47] nvanbenschoten commented on #25151
@debraj-manna, no you don't need to. However, it's propogated through a gossip protocol though, so it might take a few seconds to take effect.

[2018-05-04 20:53] knz commented on #20419
@TedBear42 we have made significant improvements in this area in CockroachDB 2.0. We'd be curious to know your experience with Presto with the new CockroachDB release (currently 2.0.1).

Meanwhile, we're keeping an eye on compatibility in general. If you don't observe complete success now, we're likely to improve the situation further over time.

[2018-05-04 21:02] debraj-manna commented on #25151
@nvanbenschoten - The performance seems to be improving. I will monitor this further and post back. But one query over the time the size of the index will grow so do I have to increase the command size further over time ?

[2018-05-04 21:16] nvanbenschoten commented on #25151
You shouldn't need to, but we've already seen this twice with your cluster so I'm not confident that it won't come back up again. To clarify, this is is only a problem with rare internal commands that are performing range splits, and it's something we've only seen in your cluster. We'll continue to monitor this issue in #25233, so I'll close this thread. Please re-open if you see performance degra

[2018-05-04 21:16] #25151 closed

[2018-05-04 21:34] bdarnell commented on #25233
Yes, I think it's possible. (and while it's also possible for the range descriptors to be very large if you try to index an unbounded field, we know from the logs provided here that's not the case). Under high-contention workloads (especially those that don't use the savepoint retry protocol), you could end up generating abort span entries at a significant rate.

What's worse is that abort span en

[2018-05-04 21:34] a-robinson commented on #25273
Man, running under stressrace is *slow*. The test appears to be working fine, it's just that the system moves so slowly that it occasionally times out.

For example, in the first failure, it took 36 seconds for the cluster's initial replication (in `TestCluster.WaitForFullReplication`) to finish. And that has to finish before the actual test can even start.

The test appeared to be making persiste

[2018-05-04 21:59] nvanbenschoten commented on #25233
Is this because we'll be abandoning more transactions instead of seeing them through to completion at higher epochs?

So is there a good solution here? Just reduce your GC ttl to a point where the number of abort span entries is kept in check?

[2018-05-04 22:08] bdarnell commented on #25233
Yes (I think; haven't verified this)

Unfortunately the GC TTL won't help here. The TTL for abort span entries is [hard-coded to one hour](https://github.com/cockroachdb/cockroach/blob/48aab6e7928fb5a597f17fbc8cc842624c1db02a/pkg/storage/gc_queue.go#L62). We need some sort of backpressure when there are too many abort span entries (and maybe also some way to write fewer of them or purge them early

[2018-05-04 22:46] knz commented on #10345
@justinj just made the observation to me that the slicing and other string manipulations we do in the parser should not cause copies in the common case (deriving a new `string` from a sub-string of another just creates another slice header, does not copy the data).

@mjibson do you recall more specifically what you had in mind?

[2018-05-05 00:08] #25286 closed

[2018-05-05 00:11] petermattis commented on #25289
Got another repro. It is only a matter of time until I track down what is going on. Interestingly, the stack trace is exactly the same as the one @andreimatei posted. That's a bit surprising as if there was a problem with `engine.gobytes` I'd expect it to hit a number of different stack traces.

[code]

[2018-05-05 00:37] andreimatei opened #25329 "kv: some concurrent reads through a Txn can miss to see their own writes"
There's a problem with concurrent uses of a `client.Txn`: if a request receives a `TransactionAbortedError`, the proto inside the `Txn` will be transparently switched to a new one (new transaction ID). From this moment on, future operations on the transaction succeed. This makes sense for what we generally want to do on retriable errors - start over. But it is a problem for concurrent uses of the

[2018-05-05 01:04] mjibson commented on #10345
This issue is old enough we should just close it. There are much more interesting and useful performance problems to look at.

[2018-05-05 01:04] #10345 closed

[2018-05-05 01:06] knz commented on #9227
We are documenting the spectrum of solutions to this use case here: https://github.com/cockroachdb/docs/pull/3104/

Please contact us if you have any additional question, comment, concern or suggestion.

[2018-05-05 01:06] #9227 closed

[2018-05-05 01:26] knz commented on #16971
From #24713 - this will need to be tested

[code]

[2018-05-05 01:26] knz commented on #24713
Duplicate of #16971.

[2018-05-05 01:26] #24713 closed

[2018-05-05 01:28] knz commented on #24746
For reference in pg:

[code]

[2018-05-05 01:29] knz commented on #5583
sorry wrong click

[2018-05-05 01:35] knz commented on #24681
Oy, we've been diagnosing this wrong all the time!!

![schermafdruk_2018-05-04_21-34-33](https://user-images.githubusercontent.com/642886/39658476-f435eefc-4fe2-11e8-8f09-24499d7a32af.png)

The error is at `builtins.go:1892`, i.e. `force_log_fatal()`.

Nothing to see here.

[2018-05-05 01:35] #24681 closed

[2018-05-05 03:11] tschottdorf opened #25330 "roachtest: introduce chaos into `scaledata` tests"
Needs #24279 first.

[2018-05-05 03:18] tschottdorf commented on #25329
Definitely need to do something here. Each concurrent user of the client.Txn should be tied to the epoch present when it started and this must be compared to the proto used on each operation. On mismatch, synthesize a restart/abort error. One way to do this is have a method `usableTxn := txn.NewHandle()` which basically gives you a `struct{ *client.Txn, epoch int32 }` back and makes sure that the

[2018-05-05 03:28] tschottdorf commented on #25316
Thanks for your report, @thstart. This looks unexpected, could you send me a screenshot of the page at `/#/reports/range/21` (from any node, but preferably n1)? I'm particularly interested in the "simulated allocator output".

[2018-05-05 03:52] tschottdorf commented on #21296
Going to close this actually. The last failure is so long ago that the link is already dead. It happened pretty regularly until then.

[2018-05-05 03:52] #21296 closed

[2018-05-05 03:57] tschottdorf commented on #24970
What happens if you set `maxconn` to `1` and have a single SQL client issue a `SELECT 1` every, say, 5s?

You increased all of the timeouts, right?

[2018-05-05 04:53] debraj-manna commented on #25233
@nvanbenschoten I could not reopen https://github.com/cockroachdb/cockroach/issues/25151 .So commenting here.  The performance degraded again. I have observed this same behavior again whenever I increase the command size as you suggested the performance improves for few hours then it started degraded again as you can see from the below image

<img width="1407" alt="screen shot 2018-05-05 at 9 49 2

[2018-05-05 04:57] debraj-manna commented on #25151
I am not able to reopen it. So commented on #25233 .

This is a big setback for us. We have been following cockroachDB since 0.9. It appears we have to wait a bit more before we can put this in our production environment.

[2018-05-05 05:03] tschottdorf commented on #25233
@debraj-manna interesting that you can reproduce this easily. We have discussed ways of addressing this problem above in this issue, but we're not sure how you're getting into this situation in the first place.

To help us solve this, would you mind sharing the schema and load generation with us (you could email this if you don't want it to be visible publicly)? That will be immensely helpful in a

[2018-05-05 05:10] 474420502 commented on #25270
i see  the actual process crash .
the process is disappear!
i run main.go that adjustment parameters.
i forget  a lot! @tschottdorf

[2018-05-05 05:15] tschottdorf commented on #25270
Hmm, too bad. Could you let us know if you get another crash? If we can reproduce this ourselves, it will be a lot easier to look into. Thanks!

[2018-05-05 05:45] cockroach-teamcity opened #25331 "sql: TestShowSessions failed under stress"
SHA: https://github.com/cockroachdb/cockroach/commits/f86d47f55456e6bfa3072388896a7e3eb95224d4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=642160&tab=buildLog

[code]

[2018-05-05 05:51] debraj-manna commented on #25233
@tschottdorf - I have emailed you the debug logs `tobias@cockroachlabs.com`

I guess it will have the schema. If not let me know I will share with you the details. The load generation is little difficult to explain as we are generating via our application.

We have a 5 node cluster in AWS of `m4.4xlarge` instance type. As I have posted in previous comment the load on the cluster is about 2000 quer

[2018-05-05 06:32] 474420502 commented on #25270
ok!
I hope cockroachdb is getting better! :smile: :+1:

[2018-05-05 06:52] erichocean opened #25332 "sql: clarify syntax error with context information"
bug report

`select max(id) from skus where last_processed_at > '2018-05-04 04:50:42.256966+00:00' order by id asc;`

`pq: column "id" must appear in the GROUP BY clause or be used in an aggregate function`

As you can see, `id` definitely appears in an aggregate function.

(edit) blocked on #2037.

[2018-05-05 06:54] erichocean commented on #25332
I'm running Cockroach 2.0, and this error appeared in the `cockroach sql` client.

[2018-05-05 07:37] cockroach-teamcity commented on #25273
SHA: https://github.com/cockroachdb/cockroach/commits/f86d47f55456e6bfa3072388896a7e3eb95224d4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=642395&tab=buildLog

[2018-05-05 08:49] cockroach-teamcity commented on #25122
SHA: https://github.com/cockroachdb/cockroach/commits/f86d47f55456e6bfa3072388896a7e3eb95224d4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=642593&tab=buildLog

[2018-05-05 09:57] cockroach-teamcity commented on #25331
SHA: https://github.com/cockroachdb/cockroach/commits/f86d47f55456e6bfa3072388896a7e3eb95224d4

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=642754&tab=buildLog

[2018-05-05 11:04] tschottdorf commented on #25217
replica.go:509:
[code]

There's probably some inlining going on that hides the actual caller of `Panicf`, but it must be one of those:

[code]

We're not doing a good job redacting these errors more carefully. The argument could be made that the format strings passed into this logger are never sensitive, and so all that needs to be redacted are the arguments (and we could probably even report them

[2018-05-05 11:04] tbg opened #25333 "storage: report more information from raftlogger panics"
See https://github.com/cockroachdb/cockroach/issues/25217.

[2018-05-05 11:05] tschottdorf commented on #25217
Filed https://github.com/cockroachdb/cockroach/issues/25333 about the logging.

[2018-05-05 11:06] tschottdorf commented on #25217
I'll leave this open for a bit, but it doesn't seem actionable. You could expect this error on storage medium corruption, and without at least a glimpse of the error message, there won't be much we can do here.

[2018-05-05 11:11] tschottdorf commented on #21824
@leomkkwan, are you still in that situation and able to provide the information requested above? Thank you!

[2018-05-05 11:13] tschottdorf commented on #25270
That's all we're working on! 😄

[2018-05-05 11:16] tschottdorf commented on #25272
I saw that you mentioned that it was empty, but did you check that it was empty *after* you saw the bug or before? If you saw it after, then there's a chance that it wasn't empty when the operation that catches the error started, and I'm curious whether anything is suspicious about its contents.

As a workaround, yes, adding this to the start script makes sense. We haven't seen this error in our t

[2018-05-05 11:28] wzrdtales commented on #25272
A few more details, environment is azure. Data is stored on the ssd /dev/sdb.

Here some infos about the mounting

[code]

Maybe you can even reproduce it yourself, the setup we utilize is sourced here https://github.com/wzrdtales/cockroachdb-azure-k8s-rancher

[2018-05-05 11:29] tschottdorf commented on #25272
Hmm you're on Azure. I wouldn't be surprised if that had anything to to with it (we had trouble with fuseblk in the past), but if we can repro this with your setup then we're certainly going to be able to get to the bottom of this. Thanks for the info!

[2018-05-05 11:30] tschottdorf commented on #25272
@a-robinson, can I kick this ball in your court? I imagine you'll be able to get this thing set up much faster.

[2018-05-05 11:30] wzrdtales commented on #25272
No problem, azure wasn't my choice but sometimes you're forced though... :/

[2018-05-05 11:38] tschottdorf commented on #25193
Yep.

[2018-05-05 11:38] #25193 closed

[2018-05-05 11:49] tschottdorf opened #25334 "acceptance: TestDockerCLI/test_log_config_msg.tcl failed"
Seen in https://teamcity.cockroachdb.com/viewLog.html?buildId=641386&buildTypeId=Cockroach_UnitTests

TestDockerCLI/test_log_config_msg.tcl

[artifacts.log.zip](https://github.com/cockroachdb/cockroach/files/1976610/artifacts.log.zip)

[code]

[2018-05-05 13:41] namibj commented on #24761
I'm currently trying to build cockroach with native tuning for Goldmont (current Intel atom), and native tuning for this CPU only made it in to GCC via this (not yet merged) patch: https://www.mail-archive.com/gcc-patches@gcc.gnu.org/msg188184.html
The issue there is, that this patch only seems to work on gcc-mirror/gcc@772a9876020a8b0bef413d512a2147ef6f9953b7, which did not even make it into GCC

[2018-05-05 14:42] rytaft commented on #25332
Hi @erichocean, as we discussed on the Gitter, this is working as expected. The error is due to the fact that `id` is contained in the `order by` clause without being a `group by` column. Since the query will return exactly one row, the `order by` clause is not necessary, and the query will work if you just remove the `order by` clause.

But as you pointed out, there is another issue -- the error

[2018-05-05 14:46] rytaft commented on #25332
cc @knz

[2018-05-05 14:50] debraj-manna commented on #25233
@tschottdorf - I have emailed you sample queries along with the output of `select * from crdb_internal.node_statement_statistics;`

I have one more query . Could this issue be because of read-write conflicts.

- we are continually appending to config_str table.
- and then we are doing a “tail” on it by saying getLastVersionsSince .. (edited)

I think that both these queries are touching same rows

[2018-05-05 14:51] knz commented on #25332
I think the main error message is fine, consider for example the query `select max(k), v from kv`, the error here would be to use `v` outside of an aggregate function.

However what pg has and CockroachDB doesn't, is *syntactic context* for the error message, where the error message would tell you where in the query the error was found. This is in effect the problem we would solve by addressing #2

[2018-05-05 14:53] rytaft commented on #25331
cc @tschottdorf  - TeamCity automatically assigned Abhishek, but perhaps you want to reassign...

[2018-05-05 14:53] knz commented on #2037
This came up again. We need either to extend `goyacc` or switch to a different parser generator. I was looking at GNU bison, which may be appropriate -- it supports multiple languages via parser templates, so we could perhaps give it a Go template.

[2018-05-05 14:57] knz commented on #24761
Although we have had some success building CockroachDB with previous versions of gccgo, the performance of the resulting binary was abysmal. We have reasons to believe that GCC 8.1 will  improve this, but we have not tried it yet.

[2018-05-05 14:58] knz commented on #25331
This is for the sql execution team. I think @andreimatei would know what to do with this, or whom to send it to look at.

[2018-05-05 15:15] knz commented on #25332
Also a valid correction for the query is `ORDER BY max(id)`, so placing `id` in the GROUP BY is not the only solution

[2018-05-05 15:27] knz commented on #23620
One step further:

1) I changed CockroachDB to reject the syntax `agg(x order by y)` until it's actually supported

2) I asked a user on gitter what they think about this.

[2018-05-05 15:28] knz commented on #23620
This conversation strongly suggest that we could intendedly extend the SQL standard and make non-commutative aggregations respect the ordering of their immediate data source, if there's no other relational operator.

Is there a way to make this work without too much architectural churn / special casing in the optimizer?

[2018-05-05 15:31] rytaft commented on #23620
I believe this is what @justinj already mostly implemented in https://github.com/cockroachdb/cockroach/pull/24815

[2018-05-05 15:35] knz commented on #23620
#24815 would preserve any implicit ordering not just the explicit orderings. I'd rather we document that we preserve explicit orderings and make it a hard requirement of future implementation changes. @justinj thoughts?

[2018-05-05 15:47] knz opened #25335 "perf: why is CockroachDB not melting the hardware to get results faster?"
Discussion in Gitter:

The situation would be better if we could respond to this concern clearly, e.g. "w'ere not using 100% CPU because ..." or "we'll work on improving this by doing ..."

[2018-05-05 16:05] rytaft commented on #23620
I believe #24815 is already doing this correctly - we only set the `Ordering` property in the `optbuilder` if there is an explicit `ORDER BY` clause.  Whether or not a source actually provides that ordering or requires an explicit sort is determined later in the optimizer.

[2018-05-05 16:17] justinj commented on #23620
Yeah, that PR was only ever about explicit orderings, from the PR description:

[2018-05-05 16:47] #25273 closed

[2018-05-06 01:42] benesch commented on #25272
Are these "fuseblk" filesystems NTFS under the hood? That's what the internet seems to suggest, and, if memory serves, Azure likes to default drives to NTFS, even on Linux.

If so, I suspect it's an issue with the way we use file locks. We're seeing similar behavior, though with a different error message, whenever a Cockroach server is restarted on Windows: https://github.com/cockroachdb/cockroach

[2018-05-06 02:13] tschottdorf commented on #24029
@bdarnell, do you understand why that is? For two adjacent ranges, we would first clear a range with the right boundary `MVCCKey{Key: middle}` and then an adjacent range starting at `MVCCKey{Key: middle}`. Where does the hole come from?

Also, do you or @benesch still have the magic invocation around to dump the number of range tombstones?

[2018-05-06 08:11] kierenj commented on #24173
I'm not pushing, but just curious - the 2.1 milestone, is there a rough timeline on the roadmap for it?

[2018-05-06 12:14] tschottdorf commented on #25272
Fails instantly on my azworker:

[code]

I'm going to try @benesch's PR.

[2018-05-06 12:17] tschottdorf opened #25337 "build: make: No rule to make target 'vendor/.../gogo.proto', needed by 'bin/.go_protobuf_sources'."
Running `make build` in a fresh `./scripts/azworker.sh`.

[code]

[2018-05-06 12:18] tschottdorf commented on #25337
(It works after just re-running `make build`).

[2018-05-06 12:36] 474420502 commented on #25316
I also have the same problem :cry:

[2018-05-06 12:37] tschottdorf commented on #25316
@474420502 could you send the screenshot I asked for above from your cluster that has this problem?

[2018-05-06 12:51] 474420502 commented on #25316
@tschottdorf  http://14.17.96.14:5050

[2018-05-06 13:05] tschottdorf commented on #25316
@474420502 could you `set cluster setting server.remote_debugging.mode = 'any';` so that I can access the debug pages? Please note that you don't want to do this if there's sensitive data in that cluster, as enabling debugging can in principle expose some of it.

[2018-05-06 13:10] 474420502 commented on #25316
@tschottdorf  ok, now  server.remote_debugging.mode = 'any'.

[2018-05-06 13:44] tschottdorf commented on #25316
Thanks! What strikes me as the most obvious problem here is a lack of network connectivity:

<img width="509" alt="image" src="https://user-images.githubusercontent.com/5076964/39673738-8ff8eb78-510f-11e8-9dde-f4bf3b292e1b.png">

<img width="798" alt="image" src="https://user-images.githubusercontent.com/5076964/39673743-ad6fd536-510f-11e8-9b53-758ed5ebc095.png">

In the logs, I see these pretty m

[2018-05-06 13:59] wzrdtales commented on #25272
@benesch Can't tell this drives are the "temp" drives of azure and are setup automatically though. Could be that this is NTFS since microsoft uses their windows based hypervisor. "Temp" in this case just means if your machine gets replaced all the data is lost. But since running a db on network disks is a terrible idea we use the "temp" ssd.

[2018-05-06 14:16] #24666 closed

[2018-05-06 14:25] 474420502 commented on #25316
@tschottdorf  Thanks! The Problem is solved!  :+1:  http://14.17.96.14:5050

[2018-05-06 14:36] 474420502 commented on #25316
ERROR [replicate,n1,s1,r73/1:/Table/51/5/2018-05-06T12:2…] avoid up-replicating to fragile quorum: 1 matching stores are currently throttled
There are a lot of similar error logs!

[2018-05-06 16:39] petermattis commented on #25289
And here is a trivial reproduction:

[code]

The segfault is occurring on this line when `ptr` is invalid.

[code]

Somewhat surprisingly, the above reads memory at at `ptr`. I'm not sure exactly why and I haven't had a chance to look at the assembly yet. The fix is super easy: we just need to check if `len == 0` at the start of `gobytes`. We can see from the stack traces above that this is only h

[2018-05-06 16:40] petermattis commented on #24588
Duplicate of #25289.

[2018-05-06 16:40] #24588 closed

[2018-05-06 18:36] ckome commented on #17154
You should definitely implement it. :)

[2018-05-06 18:41] bdarnell commented on #25291
In this test the nodes are started up on different ports on each restart, so these RPC errors are from trying to connect to the old incarnation of node 1. This could be a red herring (the old address has stuck around in gossip persistence) or it could mean that the restarted node 1 isn't broadcasting its new node descriptor (or the other nodes aren't receiving/processing it).

I wonder if this cou

[2018-05-06 20:37] tschottdorf commented on #25331
Also hit this on a build of mine.

[2018-05-06 20:43] tschottdorf commented on #25316
Thanks! We need to do a better job exposing this problem to the operators.

[2018-05-06 20:45] tschottdorf commented on #25316
@thstart -- hopefully you are running into the same problem, just let us know!

[2018-05-06 21:12] thstart commented on #25316
I investigated and discovered the following. I was importing using n3. Checked everything until found out n3 was behind a firewall not accepting incoming connections. Still only n1 got replicas. n1 and n2 were fine regarding firewall allowing incoming connections but only n1 got the replicas. Because of time constraints I tore down the cluster and started from scratch and now it is working fine.

[2018-05-06 21:38] tschottdorf commented on #25316
Thanks @thstart! I'll leave this open until I've filed/found follow-up issues to surface these kinds of problems better.

[2018-05-06 21:49] bdarnell commented on #25329
+1 to moving most of the operations from client.Txn to a new TxnAttempt type that binds all operations to an epoch.

[2018-05-07 00:02] bdarnell commented on #25333
This should be easy: just change the implementation of Panicf from "log.Errorf + panic" to log.Fatalf:

https://github.com/cockroachdb/cockroach/blob/a03c07b1197d397125b951bf97b533a5572926ec/pkg/storage/raft.go#L104-L107

Then we'd recognize the format string as safe and send it to sentry (unparameterized).

[2018-05-07 00:06] bdarnell commented on #25217
In the sentry web view you can see (part of) one more elided frame: loadState in etcd/raft/raft.go. No line number, but that can only be https://github.com/coreos/etcd/blob/f42d9a84516e3066417448caa4f69f8baf42a918/raft/raft.go#L1393

This is an expected error when two different clusters are mixed. We have safeguards against this in 2.0, so I think we're clear to close this now.

[2018-05-07 00:06] #25217 closed

[2018-05-07 00:07] bdarnell commented on #25333
Also note that in 2.0 we include a little more detail for raft panics: we tell sentry not to elide raft stack frames. (#18102. it doesn't look like this was backported to 1.1)

[2018-05-07 00:13] bdarnell commented on #25272
@wzrdtales Running a DB on network disks may be bad, but running on NTFS-via-FUSE is probably worse. We've seen a lot of problems with this configuration in our testing on azure (performance is *much* worse than reformatting the local disk as `ext4`). If you're running on azure and want to use your local disk, you need to be sure to reformat it as `ext4` (other linux filesystems should work too; j

[2018-05-07 00:18] tbg opened #25342 "sql: should not allow AOST on crdb_internal"
[code]

works, but the AOST clause has no effect (and there's no possible world in which it could have a desired effect).

This doesn't seem particularly urgent to fix since `crdb_internal` is undocumented anyway.

cc @knz

Jira issue: CRDB-5719

[2018-05-07 00:36] bdarnell commented on #24029
From https://github.com/cockroachdb/cockroach/issues/24029#issuecomment-374384340, it appears that the difference is that the start keys contain a `/0` column family suffix, while the start keys do not. I haven't investigated why that would be the case.

[2018-05-07 04:00] dt opened #25344 "importccl: IMPORT silently converts `\r\n` to `\n`"
Looks like Go's CSV reader is is doing this for us:

-- https://golang.org/pkg/encoding/csv/#Reader

[2018-05-07 07:03] wzrdtales commented on #25272
@bdarnell Yeah it might not be the beauty, but I still wouldn't agree that network disks would be better. I will however take your suggestion and adjust the setup to reformat that shitty thing.

[2018-05-07 07:51] benoit-ponsero commented on #25312
Hi,

Thanks so much for your help. it's about **3ms** now.

I have drop the table and re-created with market_id as the first column of primary key and after setting session variable `experimental_force_lookup_join = true`, the SELECT statement took now 3ms.

Do you know if there is a global setting for this variable ?

[2018-05-07 07:51] #25312 closed

[2018-05-07 07:52] KnutAtteslander opened #25345 "Latency Issues / Concurency Queue"
Hi

Since a couple of days we have a sudden increase in query latency (~12..15s).
The table contains binary data and is around 88GB in size. However the size of this table ever increases and never drops. I changed the GC time to 3600s and deleted ~2/3 (15500/25k) of the rows (which where previously "softdeleted") ~12h later still no change in table size.
Querys on ID of this tables are normaly fas

[2018-05-07 07:56] gomezjdaniel opened #25346 "High CPU usage on 1-node CockroachDB"
Hello,

**BUG REPORT**

1. Please supply the header (i.e. the first few lines) of your most recent
   log file **for each node in your cluster**.

[code]

[debug.zip](https://github.com/cockroachdb/cockroach/files/1978913/debug3.zip)
[profile.zip](https://github.com/cockroachdb/cockroach/files/1978964/profile.zip)

2. Please describe the issue you observed:

- What did you do?

I had been long tim

[2018-05-07 08:27] KnutAtteslander commented on #25345
Additional infos:
A sql dump of the whole database is ~4.2 GB before i massdeleted the rows
and ~1.3 GB after deleting the ~15k rows.

[2018-05-07 10:11] tschottdorf commented on #25272
@bdarnell I'm curious, is there a way for us to detect fuseblk-over-ntfs (or just fuse alone?) and warn?

[2018-05-07 10:19] tschottdorf commented on #25345
Could you send me a SHOW TRACE FOR for suck a slow query? How big is binary_data?

[2018-05-07 10:25] KnutAtteslander commented on #25345
root@db1.fvapi.gblsrv.ch:26257/fvapi> SHOW TRACE FOR SELECT image_data FROM foto_informations WHERE id = '332210770908119041';
+----------------------------------+---------------+-------------------------------------------------------+--------------------------------------------------------+-----+-----------------------------------+------+
|            timestamp             |      age      |

[2018-05-07 10:54] tschottdorf commented on #24029
Still trying to figure out how to dump the tombstones. My best so far (but it doesn't include them):

`./cockroach debug rocksdb manifest_dump --path=.../000007.sst --stats`

[2018-05-07 11:26] tschottdorf commented on #25345
Do you have one that shows the 10+s?

@jordanlewis where do the 200ms go in the above trace, is that expected?

[2018-05-07 11:28] tschottdorf commented on #25346
Cc @jordanlewis for triage. Maybe cache hit for @andreimatei.

[2018-05-07 11:43] gomezjdaniel commented on #25346
Maybe related with https://github.com/cockroachdb/cockroach/issues/24762 and https://github.com/cockroachdb/cockroach/issues/20753

[2018-05-07 12:39] KnutAtteslander commented on #25345
Unfortuneatly not :/
The querys where not performed on the cluster itself!

If i do a
`cockroach sql --execute="SELECT image_data FROM foto_informations WHERE id = '332210770908119041';" --host=db1.xxx.ch --certs-dir=certs > /mnt/backup/dump.txt`
the querry is done in ~1...2s

Below an image from the metrics view:
[Imgur](https://imgur.com/a/ANoZrFi)

Another image with the time marked when the pr

[2018-05-07 13:01] a-robinson commented on #25291
Yeah, it certainly looks like it:

n1:
[code]

n4:
[code]

n3:
[code]

n2
[code]

[2018-05-07 16:27] debraj-manna commented on #25233
Did you observe anything unusual from the logs & schemas?

[2018-05-07 16:39] couchand opened #25348 "cli: add locality information to node status"
Suggestion from *fat0* [on gitter](https://gitter.im/cockroachdb/cockroach?at=5af0655c5cf0b83004621fe3):  Add a flag to `cockroach node status` to show locality configuration.

[2018-05-07 17:10] dchenk commented on #25335
I think there simply needs to be more documentation or blog posts about how it's not that CockroachDB isn't engineered the right way—the fact is much of what CRDB does is IO. As the software matures and people begin to understand how fundamentally different it is from MySQL/PostgreSQL/Cassandra, there will be fewer questions about "why is Cockroach slower than XX?" and people will begin to pay mor

[2018-05-07 18:26] #25097 closed

[2018-05-07 19:26] couchand commented on #25320
Thanks for the report @jbboehr.  Indeed as you noticed, the error message you're seeing is coming from libpq, not from cockroach itself.  But as far as I can tell, the only change in the commit you linked was to return the error instead of panicking.  That panic seems to predate our certificate manager entirely, so I don't see how this environment variable ever could have worked.  I may be missing

[2018-05-07 19:58] arjunravinarayan commented on #17382
Cc @andy-kimball

[2018-05-07 21:24] dt opened #25350 "importccl: single large CSV file takes too long to import"
Currently IMPORT distributes work by assigning listed files to nodes. If fewer files than nodes are listed, extra nodes are under utilized by the conversion process.

Many users may already have CSV data that is not chunked, or may not realize that chunked input has such a dramatic performance implication. Even among those who do, adding a pre-processing step to read the entire file and write out

[2018-05-07 23:34] bdarnell commented on #25272
@tschottdorf We can detect FUSE filesystems. It's tricky to go from that to figure out *which* FUSE filesystem, but I think it's a fair bet that any FUSE filesystem is worth a warning in the logs.

[2018-05-08 01:04] rytaft opened #25351 "release: v2.1.0-alpha.20180604"
Candidate SHA: 83e98d996b3ba3537afd7bc67e439eb5d3ea1659
Deployment status: on adriatic, [teamcity nightly](https://teamcity.cockroachdb.com/viewLog.html?buildId=683715&tab=buildResultsDiv&buildTypeId=Cockroach_Nightlies_NightlySuite)

[Release process checklist](https://github.com/cockroachdb/cockroach/wiki/Release-Process)

Prep date: 2018-05-28
- [x] [Pick a sha](https://github.com/cockroachdb/c

[2018-05-08 01:05] rytaft commented on #25351
@a-robinson I've assigned you since Diana was supposed to be the on-call person the week of 5/28. Can you please update the on-call rotation and reassign? Thanks!

[2018-05-08 01:06] rytaft commented on #25006
Release completed

[2018-05-08 01:06] #25006 closed

[2018-05-08 01:54] saward commented on #19826
Not exactly this issue, but I couldn't find a way to initialise cockroach easily with arbitrary SQL commands for purposes of testing.  I therefore created a simple script that will run the set of SQL files contained within a specified folder.  You can use this to create databases as well as initialise that database with whatever structure and data you wish (source code on github as linked from rep

[2018-05-08 04:51] tschottdorf opened #25352 "storage: warn when running on FUSE"
From https://github.com/cockroachdb/cockroach/issues/25272#issuecomment-387238292.

We should log a warning in the logs and stdout on boot.

[2018-05-08 04:53] tschottdorf opened #25353 "cli: ./cockroach sql against unavailable cluster should work"
Currently `./cockroach sql --insecure` hangs forever when run against a cluster for which all ranges have lost quorum. This is suboptimal since we're exposing more and more debugging information via crdb_internal.

This is likely because the shell runs some commands that require the kv layer to work.

[2018-05-08 05:06] tschottdorf commented on #25233
@debraj-manna Thanks for the email, I'll try to take a look tomorrow. For now, I have a [PR](https://github.com/cockroachdb/cockroach/pull/25356) that experiments with resolving this problem when it occurs (though it likely won't occur in the first place when we've addressed it). It's not ready for prime time though.

[2018-05-08 07:57] debraj-manna commented on #25233
Thanks @tschottdorf . Also let me know your thoughts on the below query if you take a look at it tomorrow

[2018-05-08 10:04] cockroach-teamcity commented on #25331
SHA: https://github.com/cockroachdb/cockroach/commits/28087d0b254a1fe7038ffa2222fbcd040583087c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=646936&tab=buildLog

[2018-05-08 10:33] cockroach-teamcity commented on #25161
SHA: https://github.com/cockroachdb/cockroach/commits/28087d0b254a1fe7038ffa2222fbcd040583087c

Parameters:
[code]

Stress build found a failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=646973&tab=buildLog

[2018-05-08 13:54] rytaft commented on #25312
Great! Glad to hear it worked.

`experimental_force_lookup_join` is a session variable, so you'll need to set it for each new client session. It's not a global variable because there are some queries where it is the wrong choice and performs much worse than a hash join or merge join.  It's also an experimental feature, so will probably not be supported in our v2.1 release. (That's because in v2.1

[2018-05-08 14:01] petermattis opened #25357 "docs/rfcs: revisit RFC template"
The RFC template currently contains the following sections:
* Summary
* Motivation
* Guide-level explanation
* Reference-level explanation
* Detailed design
* Drawbacks
* Rationale and Alternatives
* Unresolved questions

Private feedback indicates that this feels heavyweight and burdensome. Some recent RFCs have stripped out various sections without apparent harm. We need to rethink how prescript

[2018-05-08 14:18] tlvenn opened #25358 "storage: No space left on device after 2-3 weeks with an idle cluster of 3 nodes"
We deploy CRDB in K8 using Helm with 3 nodes for our staging env. Each node has a 1GB SSD volume dedicated to CRDB data. The database we have is extremely small and we don't really hit it so hard so the cluster is mainly idle.

After 2-3 weeks, the cluster is not responding anymore and 2 of 3 nodes are reporting the same error: No space left on device.

I would assume that raft logs and the like c

[2018-05-08 14:27] #25289 closed

[2018-05-08 14:43] rmloveland commented on #18474
@knz yes, thanks - created a linked docs issue

[2018-05-08 15:02] SJAnderson commented on #25189
Hi there,

We’re (www.maestro.io) very interested in the outcome of this issue as we are in the middle of a migration to CRDB on a GKE statefulset deployment.

Ideally we’d like a 3-node per region deployment across us-west, us-central, and us-east. According to your docs this would allow for a whole region to go offline.

We’re about a month out from production, and some issues we’re currently fa

[2018-05-08 15:39] couchand commented on #24430
This just bit another user, _fat0_ from Gitter - https://gitter.im/cockroachdb/cockroach?at=5af1bce05cf0b83004669be1

In this case, the system range fallback to default suggestion would have worked.

As a general rule, it seems like the factor for these two ranges should be at least as high as any other zone.  Would it be crazy to automagically bump it to that value (perhaps warning the user loudl

[2018-05-08 17:43] nvanbenschoten commented on #25233
This is likely part of the issue, yes.

@debraj-manna one way to avoid aborting write transactions when performing these "tail" queries is to perform consistent historical reads. These reads take place at a specified time in the past, and therefore do not interfere with current-time transactions. For intance, you could perform these tail queries 2 seconds in the past, which should be sufficient to

[2018-05-08 17:59] debraj-manna commented on #25233
Thanks @nvanbenschoten . Any thoughts on the below query -

I am trying to look what all workarounds we can take to get around this.

[2018-05-08 18:02] nvanbenschoten commented on #25346
@gomezjdaniel thank you for including the CPU profile in the initial bug report!

Yes, I think you are correct that it's related to both of those issues. As discussed, CockroachDB does not currently handle large numbers of tables (`O(1k)`) very well at the moment. Unfortunately, because CockroachDB uses an MVCC scheme under the hood, even tables that have been deleted will stick around for 24 hour

[2018-05-08 18:06] mberhault commented on #25320
The flag is meant to be used to node keys where we control the entire code path. Client usage (through `cockroach sql`) ends up using libpq which we do not control. I'm not sure it's worth adding special error handling for this. The main reason for this flag was to support the odd permission model under windows, not to bypass reasonable security measures.

[2018-05-08 18:08] nvanbenschoten commented on #25233
I don't think that would be a large contributor to this problem, other than that the more indexes you have, the more keys SQL writes will need to perform. If SQL writes need to write to more keys, then they will naturally be a little slower, which means that there's a higher chance that they will be aborted by concurrent reads.

[2018-05-08 18:13] couchand opened #25360 "storage: panic in evalRangeLookup"
https://sentry.io/cockroach-labs/cockroachdb/issues/551645087/

[code]

[2018-05-08 18:14] couchand commented on #25360
Note that this occurred on v1.1.3.  The code around the panic indicates this may be related to #16266, assigning to @nvanbenschoten since he closed that issue.

[2018-05-08 18:38] nvanbenschoten commented on #25360
This is an assertion failure due to a meta2 split. Splitting the meta2 range was [disabled](https://github.com/cockroachdb/cockroach/pull/17565) in 1.1 and [re-enabled](https://github.com/cockroachdb/cockroach/pull/18970) (while fixing the cause of this assertion) in 2.0. This split must have happened in 1.0 and then the cluster must have been updated to 1.1.3. There isn't anything we can do here

[2018-05-08 18:45] jbboehr commented on #25320
I figured this was the case.

I don't see anything wrong setting it to `0440 root:keys`.

I don't think so either. I'll file an issue against libpq.

[2018-05-08 18:47] bdarnell commented on #25360
We'll do more 1.0 releases for supported customers, although I don't think we have any such customers still on 1.0.

Can clusters that have this split recover by upgrading to 2.0, or are they permanently broken?

[2018-05-08 18:59] nvanbenschoten commented on #25360
Theoretically, yes. 2.0 made range descriptor lookups smarter without placing any new restrictions on where meta2 can split, so it behave fine with a meta2 split created in 1.0.

We don't have a direct upgrade path between 1.0 and 2.0 though, so anyone doing the upgrade will need to first upgrade to 1.1. Depending on where the split is in meta2, this may be a problem for SQL migrations. However, i

[2018-05-08 20:14] foreverzet opened #25363 "sql: ON CONFLICT DO NOTHING doesn't work"
**BUG REPORT**

INSERT INTO table(a) VALUES (1) ON CONFLICT DO NOTHING;

The error is:
there is no unique or exclusion constraint matching the ON CONFLICT specification

Although INSERT specification allows to specify no constraints for ON CONFLICT statement.
(https://www.cockroachlabs.com/docs/stable/insert.html)

[2018-05-08 20:28] nvanbenschoten commented on #25360
Talked to @bdarnell about this. Closing since this is an issue in 1.0 that we've known about for a year, it's probably solved by upgrading to 2.0, and there's only been 1 recorded event.

[2018-05-08 20:28] #25360 closed

[2018-05-08 20:32] nvanbenschoten commented on #25363
@foreverzet what is the schema for `table`?

[2018-05-08 20:32] nvanbenschoten commented on #25363
@knz assigning you for triage.

[2018-05-08 20:39] erichocean commented on #25335
Here's an example query that, to me at least, should run faster than it does:

   select count(*) from products_m1;

This takes 3m12.276121972s. CPU time across my 15 node cluster during the query never exceeds 25%. The table being queried is 190GB in size and has 5095 ranges. The primary key is a short string (less than 15 characters). Each node has 4/8 3.4GHz cores and two SSDs.

With just 12.9

[2018-05-08 20:52] couchand commented on #25320
Sounds like this is working as intended, then.  Thanks @jbboehr for helping us clarify that.

[2018-05-08 20:52] #25320 closed

[2018-05-08 21:02] petermattis commented on #25335
You can run `sar` or `iostat` on some or all of the nodes while the query is running.

How many total ranges are in your cluster? CockroachDB currently balances ranges across the cluster, but does not ensure the ranges for a particular table are balanced. If your cluster has a lot more than 5k total ranges, the ranges for your `products_m1` table may be on a subset of the nodes.

While your primar